[2017-11-16 03:35] #4047 closed, assigned to nobody

[2017-11-16 03:35] #3939 closed, assigned to donatello

[2017-11-16 03:51] checketts commented on #4186
As an aside, I wish there was a simple non-federator way of rotating credentials. I have several projects that were setup with hardcoded keys (to use in a docker compose like setup) But unfortunately without being able to set a secondary key I can't rotate the dev credentials.

Admittedly those apps should be more friendly to docker-compose themselves, but it would be nice to have minio allow a se

[2017-11-16 03:57] balamurugana commented on #3970
As described in the first comment
[code]
`format.json` should be validated at object layer as per the design

[2017-11-16 03:57] AndrewSav commented on #4186
@checketts, yeah, we all know that it would be awesome, but this point has been brought up several times in the past, and the devs are extremely defensive about that. They even argued that if you need this you are using it wrong in one of the previous threads. Now when it was shifted under federator umbrella which does not exist in a usable form, I feel that it's fairly unlikely for that to be add

[2017-11-16 13:35] john-bakker commented on #5134
@retorquere when adding /ix35-s3 to your external hostname , are you trying to get to the root of your minio storage, or are you trying to go to the ix35-s3 bucket on your minio storage ? as you configured it above to go to the ix35-s3 bucket in your minio storage running on your http://127.0.0.1:9199

can you try using

[code]

[2017-11-16 17:07] krishnasrinivas commented on #5134
@retorquere can you set env var MINIO_HTTP_TRACE=1 and run minio. Then try to access the bucket and paste the minio logs?

[2017-11-16 17:51] shruthied opened #5196 "Unable to execute commands with s3cmd"
In spite of configuring the s3cmd configuration file ~/.s3cfg from the cookbook docs I am unable to execute the commands in s3cmd. Unable to use s3cmd to manage data with minio server.

[2017-11-16 18:03] ebozduman commented on #4728
Closing since nobody has reported this yet, and it is very difficult to hit this issue.
On top of that, the impact will go away or diminish when we switch to highway hash.

[2017-11-16 18:03] #4728 closed, assigned to aead

[2017-11-16 18:05] poornas commented on #5062
Two dependent tasks must be done before we start this : 1. Lock Free Backend 2. Unify object layer and gateway layer.

[2017-11-16 18:56] #5023 closed, assigned to krisis

[2017-11-16 19:02] kannappanr opened #5197 "Add json flag to get json output"
This is a new feature, that will be implemented as part of overall improvement to server side logging

Adding this feature will give the option of displaying json formatted logs on the server console, when this flag is enabled.

[2017-11-16 19:42] krishnasrinivas commented on #5169
Thanks @pauln for testing.

[2017-11-16 21:05] rphovley commented on #5184
I'm a little confused of trying to run `/usr/bin/mc mb acme;` since there is no minio client installed in the docker container by default.

You'll end up getting the output `/bin/sh: /usr/bin/mc: not found` since `mc` isn't in that directory.

I know you could potentially alias to only need to run `mc` by itself, but it appears that `mc` isn't even on the image. `minio` is, but that is only used t

[2017-11-16 21:41] harshavardhana commented on #5184
You can alternatively download the mc as well.

[2017-11-16 22:19] deekoder commented on #5196
can you paste the output @shruthied

[2017-11-16 22:21] harshavardhana commented on #5184
Also I don't think its heavy, its an alpine Linux container which is 5MiB compressed.

[2017-11-16 22:33] rphovley commented on #5184
I thought the container remained running but since it only stays online as long as it's needed makes me feel better about it :)

[2017-11-16 23:50] shruthied commented on #5196
![s3cmd](https://user-images.githubusercontent.com/32338806/32922180-a39e24ee-caf6-11e7-842e-23c87f404dc0.JPG)

[2017-11-16 23:52] harshavardhana commented on #5196
You need to update s3cmd - s3cmd fixed a bug upstream in latest 2.0.1 @shruthied

[2017-11-17 00:00] #2965 closed, assigned to nobody

[2017-11-17 00:03] harshavardhana commented on #5195
Fixed by #5179

[2017-11-17 00:03] #5195 closed, assigned to nitisht

[2017-11-17 01:57] lflare opened #5199 "What's the point of multiple buckets without multiple access keys?"
As I have mentioned in the title, what is the point of allowing for multiple buckets when we are not able to use multiple access/secret keys for each different bucket? Most services/projects I have seen tend towards using only one bucket for all purposes, yet to use the same access/secret keys for multiple projects is also a security disaster waiting to happen.

Before anyone tells me to spin up m

[2017-11-17 02:50] krishnasrinivas commented on #5199
Data organisation. Almost all of Minio's users have multiple buckets. Most of software that use AWS-S3 (for example cloudberry backup client) make ListBucket/MakeBucket calls and we need to support it.

Coming to supporting multiple access/secret keys, we have not had many requests for this. We have had discussions on this, however we can not commit anything at this point.

[2017-11-17 03:00] lflare commented on #5199
Hello,

Thanks for replying fast. I have some further questions regarding this issue,

How does the average user go about segregating access controls to prevent one compromised access key from completely killing their Minio's security? I assume that each bucket is for each different service, how do people sleep at night knowing that if a single service is compromised, all their buckets are equally

[2017-11-17 03:12] krishnasrinivas commented on #5199
We advise one minio instance per tenant. Different tenants can have different access/secret keys. Minio integrates well with micro-service/container architecture. Hence spinning up new instances is easy.

Some documents:
https://docs.minio.io/docs/multi-tenant-minio-deployment-guide
https://github.com/krishnasrinivas/cookbook/blob/multi-tenancy/docs/multi-tenancy-in-minio.md

[2017-11-17 03:30] lflare commented on #5199
That brings about my first point, why even allow multiple buckets?

I believe Minio can and should be able to be instanced as a central server, rather than as a micro-service. Your documents describes of using multiple Minio instances hosted on different address spaces, or using an additional frontend proxy to host on the same namespace, which I personally think of that as a very sloppy manner of

[2017-11-17 11:23] krisis commented on #5190
@davidgeorgealex In your setup, minio3 has 2 disks out of 4 in all. So, when minio3 is offline the setup has only 2 disks online. In a 4 disk setup, you need 3 of them to be online for uploads to be successful. So, what you observe is expected.

[2017-11-17 12:17] davidgeorgealex commented on #5190
Hi @krisis, thanks for looking into this. Indeed, I miss-configured the `server` command that is used to start the cluster. I forgot to add one disk for minio1 and one for minio2. I've updated the command, so I use `    command: server http://minio1/export1 http://minio1/export2 http://minio2/export1 http://minio2/export2 http://minio3/export1 http://minio3/export2` to all 3 nodes in docker-compos

[2017-11-17 15:59] SeanFromIT commented on #5139
This should be a server-side activity. In an enterprise environment, you cannot trust users to do their own cleanup. You're lucky if they set the lifecycle configuration.

[2017-11-17 16:34] harshavardhana commented on #5139
It was intentional to keep it client side. It is not users it is admin who runs mc and cleans up periodically as needed.

[2017-11-17 17:41] shruthied commented on #5196
thanku

[2017-11-17 20:01] metametadata commented on #5010
+1 for simple /health endpoint. Would make writing [Kubernetes readiness/live probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-http-request) much easier.

[2017-11-17 21:23] retorquere commented on #5134
I'm going to try those both when I'm back in the office -- sorry for the delayed response.

[2017-11-17 21:57] SeanFromIT commented on #5139
Correct, users should set the policy. But this isn't a one-time activity and as such should be automated.

[2017-11-17 22:57] #5081 closed, assigned to aead

[2017-11-18 09:10] kiss187 opened #5201 "python minio client may cause thread exhaust"
- python: 3.5
- minio-client: 2.2.6
- minio-server info:
VERSION 2017-10-27T18:59:02Z
MEMORY
Used: 7.5 MB | Allocated: 50 GB | Used-Heap: 7.5 MB | Allocated-Heap: 29 MB
PLATFORM
Host: 6cbd0abfd258 | OS: linux | Arch: amd64
RUNTIME
Version: go1.9.2 | CPUs: 12

I use python script to create img and save record into db, and use minio python client upload to minio server.
[code]

before upload acitve_

[2017-11-18 09:19] harshavardhana commented on #5201
@kiss187 are you talking about minio-py client here? or minio server - if this is a client side issue then please open it under https://github.com/minio/minio-py and close this issue.

Thanks for opening the bug.

[2017-11-18 09:41] kiss187 commented on #5201
@harshavardhana oh, sorry. I made a mistake.

[2017-11-18 09:41] #5201 closed, assigned to nobody

[2017-11-18 13:58] aead opened #5202 "SSE-C get returns wrong error code if key does not match"
The minio server returns different API error if a  wrong key is specified during a valid SSE-C GET request.

## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
[DecryptRequest](https://github.com/minio/minio/blob/master/cmd/encryption-v1.go#L256) should return `errSSEKeyMismatch` instead of `errObjectTampered` to be strictly AWS compliant.

## Steps to Reproduce (for bug

[2017-11-19 06:56] donatello commented on #4779
@gregorkistler Apologies to come back to this after a long time, however, I have just verified that Harbor registry works with `RELEASE.2017-10-27T18-59-02Z` (latest stable release as of this writing).

I used the instructions given in https://github.com/harshavardhana/harbor-minio/blob/master/README.md - and pushing an image to the Harbor registry works correctly.

N.B. Since my test setup was no

[2017-11-19 07:01] harshavardhana commented on #4779
Closing this issue as fixed and resolved as per last release. Please validate and re-open if you see further issues @gregorkistler

[2017-11-19 07:01] #4779 closed, assigned to donatello

[2017-11-19 07:11] harshavardhana commented on #5197
Can this issue have a bit more description on what needs to be done and what is going to be changed? if the template format is not used we should simply remove the template when not used otherwise the the issue detail looks half finished and half updated.

[2017-11-19 07:15] harshavardhana commented on #5184
Closing this as answered feel free to open new issues if you have further questions @tillkruss

[2017-11-19 07:15] #5184 closed, assigned to harshavardhana

[2017-11-19 07:18] harshavardhana commented on #5176
If the template format is not used we should simply remove when reporting the issue - template when not used otherwise looks half finished and half updated.

Something like this https://github.com/minio/minio/issues/5040 while not using the issue template, the issue description is clean and provides the gist to external readers what might be scheduled to be changed.

[2017-11-19 10:39] gregorkistler commented on #4779
Thanks @donatello and @harshavardhana
I can confirm that the latest release fixed the issue 👍

[2017-11-19 12:10] aead commented on #4650
basic work is done - I will open a separate issue for each feature

[2017-11-19 12:10] #4650 closed, assigned to aead

[2017-11-19 12:14] aead commented on #4416
@deekoder We can close this. Basic support is merged and I'll open separate issues for each feature.

[2017-11-19 15:55] tillkruss commented on #5184
No, thanks. I got it working.

I ended up installing mc inside my workspace container and execute the commands manually.

Having an entire container just for mc seemed unessesary.

[2017-11-19 18:23] krishnasrinivas commented on #5199
copy/pasting previous reply:

Thanks for your feedback. We will discuss about it in our product roadmap meeting. But we can't commit anything at this point. I will close this issue for now.

[2017-11-19 18:23] #5199 closed, assigned to krishnasrinivas

[2017-11-20 06:21] wszydlak commented on #5102
@harshavardhana We need to know if You are going to fix this and when? Cause we rely on this and need to know if we had to do some workaround?

Thank You !

[2017-11-20 06:27] harshavardhana commented on #5102
Sorry for the delay we haven't finalized on the behavior yet.

[2017-11-20 06:29] wszydlak commented on #5102
@harshavardhana But are You planning to do it? And when? :)

[2017-11-20 06:46] afaenger commented on #5139
That's right; we have many applications that use their own buckets, it's impossible to setup a task for each application on the server to cleanup the expired files whereas a lifecycle configuration is easy to define per application.

[2017-11-20 07:40] harshavardhana commented on #5139
Client side means more control and visibility. Doing it on server side means complexity and makes server a black box.

We wish to keep server simple and avoid unnecessary APIs which can be cleanly more easily done on client side with more control.

[2017-11-20 07:43] harshavardhana commented on #5102
No we are not planning yet, we think the current behavior is fine since creating directories by itself is unusual on object storags. We supported it for limited use case for legacy applications relying on such a behavior. If you control the code for your application it is better to avoid making mkdir like calls on object storage it avoids multiple round trips on simply just creating a directory.

[2017-11-20 08:00] afaenger commented on #5139
But then minio cannot be used easily as a drop in replacement for Amazon S3 or other implementations as one has to manually take care of deleting objects; in our case setting the lifecycle configuration is part of the application and fails as minio does not support this api/functionality.

[2017-11-20 08:06] krishnasrinivas commented on #5102
@wszydlak it is tricky for us to implement this behaviour. Since we use directories and files to store objects, when an object `a/b/c` is created, we create the directory `a/` and `a/b/`. When `a/b/c` is removed, we automatically remove the directories `a/b` and then `a/` if they are empty. If we do not remove the empty directories then we will leave behind a lot of empty directories. i.e we will

[2017-11-20 08:23] krisis commented on #5190
This is expected. Minio server tries to reconnect periodically with offline disks. Every time such a connection attempt fails we will see those error messages on the console.

I wasn't able to recreate this locally. Let me browse the code to see why this may happen.

Could you paste the java stack trace?

[2017-11-20 08:43] MontyGvMC commented on #4545
May the documentation could also contain examples on how to consume webhooks in various libraries/languages.

It seems to be impossible to consume the webhook via .NET Core 1 & 2 without implementing an exact model class (or more precise exact model classes) of [http://docs.aws.amazon.com/AmazonS3/latest/dev/notification-content-structure.html](http://docs.aws.amazon.com/AmazonS3/latest/dev/notifi

[2017-11-20 09:46] harshavardhana commented on #4545
Are you saying that with .NET Core you cannot parse the notified event structure in json?

[2017-11-20 11:00] MontyGvMC opened #5204 "Recommendation consuming the minio webhook in .NET Core"
In short, minio behaves correctly. This is just a question for a recommendation how to consume the webhook in .NET Core. There is a great chance I am completly wrong and just miss something.

Anyone ever consumed a webhook in .NET Core (REST API) and could please give me some guidance?

## Expected Behavior

The webhook is expected to be consumed in a .NET Core (2.0) REST API controller either rec

[2017-11-20 11:01] MontyGvMC commented on #4545
Well, the explanation for the problem would be longer and mainly .NET Core related (and less Minio related).

So I allowed myself to open a [dedicated issue](https://github.com/minio/minio/issues/5204) for consuming the webhook in .NET Core.

[2017-11-20 12:37] john-bakker commented on #5191
@kannappanr do you have a possible update on this already ?

[2017-11-20 13:46] tomcsi opened #5205 "Possible to increase number of disk on distributed minio cluster?"
I have a distributed minio cluster from two nodes, and I would like to add more disks to cluster. Is this possible scenario?

[2017-11-20 20:32] kannappanr commented on #5191
@john-bakker , It looks like that the modified time is not getting updated on the file being placed by the CMS. Can you please let us know what CMS you are using and give us detailed instructions on how this can be reproduced?

[2017-11-20 20:36] john-bakker commented on #5191
The CMS is gx experience central. I can't reproduce it without uploading a
file from gx itself. I was hoping you guys had an idea.

Op 20 nov. 2017 21:33 schreef "kannappanr" <notifications@github.com>:

[2017-11-20 22:03] #5169 closed, assigned to krishnasrinivas

[2017-11-20 22:04] #5202 closed, assigned to aead

[2017-11-20 23:32] #5165 closed, assigned to krishnasrinivas

[2017-11-21 00:47] balamurugana commented on #4950
Reopen with steps to reproduce the issue

[2017-11-21 00:47] #4950 closed, assigned to balamurugana

[2017-11-21 02:15] harshavardhana opened #5208 "Change dsync to support more client objects per instance"
**Not using issue template**

This is precursor change to support 16 > slots in erasure coded set up under minio. The new style of slots handling allows minio to expand the storage from 16 disks to multiple of 16 disks allowing the namespace to scale to beyond 16 disks.

Locking on the other hand in current style expects one dsync instance per node, this assumption should be changed to accommodate

[2017-11-21 02:42] ebozduman opened #5209 "gcs gateway project id check (checkGCSProjectID api) takes long time"
## Summary
After re-activating the gcs project, I started minio gateway service with the provided credentials.json file.After trying for more than 30 minutes, I still get the following error message on the console:
[code]
When the following function call, which checks the validity of the project id, is commented out, the problem goes away and the minio gateway service can be started without any pr

[2017-11-21 02:53] deekoder commented on #5209
we added this check so that we dont take invalid project ids. But 30 mins sounds too high.

[2017-11-21 03:13] harshavardhana commented on #5131
Closing this since we are not doing this style, the relevant PR is sent already to be addressed in #5200

[2017-11-21 03:13] #5131 closed, assigned to harshavardhana

[2017-11-21 10:01] tomcsi opened #5211 "Docker healthcheck script wrong"
I running the docker container with healcheck, and I try to get http://127.0.0.1:9000/minio/index.html url from container, then I get 403, because I get this error: Bucket not found: index.html

The container is always unhealthy, because the healthcheck script can check 200 or 404 status code.

[2017-11-21 10:06] harshavardhana commented on #5211
Please follow the issue template, while also clearly stating the minio/docker container version you are running as well.

- Also explain what you are trying to achieve,
- are you modifying the healthcheck script?
- what are the environment variables being used?
- have you turned off browser?

[2017-11-21 11:14] tomcsi commented on #5211
I used the following environment variables:
[code]

The docker command:
[code]

The healthcheck script is unmodified.

[2017-11-21 11:18] tomcsi commented on #5211
Sorry, I used old image version, and healthcheck script doesn't contains user-agent parameter.

[2017-11-21 11:18] #5211 closed, assigned to nobody

[2017-11-21 13:35] arrowcircle opened #5212 "How to configure with nginx ingress controller for kubernetes"
Hi! I am trying to set up minio in kubernetes cluster behind nginx ingress controller and lets encrypt (kube lego)

## Expected Behavior
### mc client lists directories
[code]
### Web browser connection works
Possible to log in and see buckets/files via https web interface

## Current Behavior
### mc ls minio
When I try to ls, it says:
[code]
But key and secret are from minio startup log.
In this

[2017-11-21 17:09] nitisht commented on #5212
hi @arrowcircle as discussed on slack, looks like the certs are not set inside the Minio container. You need to set these as explained here https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls

Can you please try this and let us know how it goes?

[2017-11-21 18:43] #5209 closed, assigned to krishnasrinivas

[2017-11-21 20:01] krishnasrinivas opened #5214 "gateway-s3: mint java test failure with"
with minio.RELEASE.2017-11-20T23-41-09Z mint fails:

[code]

[2017-11-21 20:11] krishnasrinivas opened #5216 "gateway-gcs: minio-go functional test testRemovePartiallyUploaded() fails"
This issue is with minio.RELEASE.2017-11-20T23-41-09Z

*copy pasting from https://github.com/minio/minio-go/issues/884 :*

During minio gcs gateway testing, `testRemovePartiallyUploaded` test fails with "The bucket you tried to delete is not empty" error message. That is because the partially uploaded file, which is supposed to be not created at gcs, is created and causes the problem.
[code]
Here

[2017-11-21 20:16] harshavardhana commented on #5214
This is the same issue as https://github.com/minio/mint/issues/226

[2017-11-21 20:17] harshavardhana commented on #5214
Closing this as duplicate of https://github.com/minio/mint/issues/226 we are tracking this issue with AWS for now.

[2017-11-21 20:17] #5214 closed, assigned to nobody

[2017-11-21 21:11] dewjam commented on #5139
I'm in agreement with @SeanFromIT .  The bucket lifecycle policies should be set by the client, but the expiration and removal of objects should be handled on the server side (automatically).  Seems like a pretty common use-case that would make Minio more appealing to enterprises.  Can we reopen this issue?  Get some more eyes on it?

[2017-11-21 21:23] surajpasuparthy commented on #4873
using minio 2017-08-05T00:00:53Z and i still have the same problem.
Running the mino deployment on kubernetes. local storage for docker works. but the minio throws this error:
 level=error msg="error resolving upload: s3aws: Path not found: /docker/registry/v2/repositories/kubernetes/pause/_uploads/14de907d-94d6-4027-b24c-d796f949da23/data" environment=staging go.version=go1.7.6 http.request.host=

[2017-11-21 21:41] kannappanr opened #5218 "Research grouping of similar json messages"
Seeing same message getting repeated multiple times might not be helpful on the server side.
Research json grouping of similar messages (50 times ): <same error message>

[2017-11-21 21:56] kannappanr opened #5219 "Support Additional Levels of logging"
The plan is to have three Levels of logging:
  - Error
  - Fatal
  - Debug

Debug level logs are logged only if the --debug flag is set on the server cli.
Things to do to implement this feature are

1. Add ``` --debug ``` flag
2. Add a function similar to errorIf and fatalIf, can be called debugIf, to log debug logs.

[2017-11-21 22:02] kannappanr opened #5220 "Remove logrus dependency in logging"
The plan is to remove use of logrus
As part of that, logger functions should not use logrus and they should be removed.

[2017-11-21 22:45] #5216 closed, assigned to nobody

[2017-11-22 01:29] worthwhileindustries commented on #4914
@deekoder I followed pianomansam's steps to workaround the public url issue for the front end  https://www.drupal.org/project/s3fs/issues/2910278

However, this junk message issue is still a problem. Is there some debug mode I can turn on with minio to get more information on what that junk message is?

[2017-11-22 09:47] nitisht commented on #4914
@worthwhileindustries you can set env var `export MINIO_HTTP_TRACE=1` to see all reqs to Minio server

[2017-11-22 15:17] retorquere commented on #5134
Sorry guys -- super thanks for the help, but it turns out MatLab cannot access S3-compatible buckets, just S3 buckets -- the domain name is hard-coded into matlab 🙄.

[2017-11-22 18:15] harshavardhana commented on #5134
We will have domain based bucket support in the upcoming release, where you configure virtual buckets similar to AWS S3.

[2017-11-22 18:18] retorquere commented on #5134
I'll give that a go when it drops, but it'd mean I'd have to fiddle with the hosts file to get it to work - mathworks has really hard-coded the domains, and the code is closed-source, so I can't change it.

[2017-11-22 18:28] AndrewSav opened #5222 "Question: large .minio.system/tmp"
Hello,

I have a huge .minio.system/tmp I think it's leftover from failed uploads.

1) how to clean it up?
2) is it possible to do it automatically?

[2017-11-22 18:35] harshavardhana commented on #5222
Which version of minio are you running? @AndrewSav if you use the latest it shouldn't leave any left overs in this manner.

Also if you restart the server `.minio.sys/tmp` is cleaned up automatically.  You can also manually purge `.minio.sys/tmp` if there is no active I/O going on.

[2017-11-22 18:49] AndrewSav commented on #5222
Is it too old?

What happened is that I had about 20GB free space and wanted to upload a 20 GB file. It failed because of free space threshold. I added 20GB more space it's failed again because old tmp left behind. I added 30 more and then it uploaded. When I decided to re-upload the file it failed again of course which left me with no space and /tmp full of these failed attempts.

Does this scena

[2017-11-22 18:53] harshavardhana commented on #5222
Yes it is @AndrewSav

Even this shouldn't happen really, with ENOSPC error we should still delete the file. Perhaps this scenario can be tested but `.minio.sys/tmp` can be purged safely if you don't have any active I/O or simply restart the server which would clean it up.

[2017-11-22 18:55] worthwhileindustries commented on #4914
@nitisht all i see is this from the console. output looks the same or similar. junk messages. You can see a POST to add an article which has one standard image field on it.

docker-compose.yml
[code]

output
[code]

[2017-11-22 18:57] harshavardhana commented on #4914
MINIO_HTTP_TRACE was added in the last release which version of Minio are you running? @worthwhileindustries  `docker run --rm minio/minio version`

[2017-11-22 18:58] harshavardhana commented on #4914
Ah i see `2017-08-05T00:00:53Z` did not have such an env,  so you will have to move to latest?

[2017-11-22 19:21] worthwhileindustries commented on #4914
@harshavardhana
[code]

[2017-11-22 19:38] worthwhileindustries commented on #4914
@harshavardhana looks like it's the latest version based on these tags https://hub.docker.com/r/minio/minio/tags/

[2017-11-22 19:45] harshavardhana commented on #4914
Ah so you are running latest in your github issue you said

[code]

MINIO_HTTP_TRACE would work with latest tag.

[2017-11-22 20:02] worthwhileindustries commented on #4914
@harshavardhana well I pasted the version and the output and don't see anything different. Not sure if since it says junk http request that it does not trace it.

[2017-11-22 20:44] AndrewSav commented on #5222
After I removed the contents of /tmp, pulled latest docker image and restarted I'm getting:

And again, there is a left-over large file in /tmp after this error.
The error happens after 100% upload. I think what errors is deleting the old file and moving the new file in it's place, the file is big, and there is not enough space for *three* copies of this file just for two.

Restart of minio after

[2017-11-22 21:02] harshavardhana commented on #5222
Ah i see why that is happening, the rename would have failed and we didn't delete the tmp copy. We can fix it.

[2017-11-22 21:25] AndrewSav commented on #5222
Can you also tell me when /multipart is going to be freeed? it has 9GB file in there for some reason...
That does NOT clear upon restart
Thank you for your support!

[2017-11-22 21:40] harshavardhana commented on #5222
@AndrewSav that can be cleaned in two ways

- Using AbortMultipartUpload API on the client side, listing what is pending you can see using ListMultipartUploads API
- Will be cleaned up automatically after a week.

[2017-11-22 21:46] AndrewSav commented on #5222
Is ListMultipartUploads / AbortMultipartUpload  available via mc.exe?

[2017-11-22 21:47] harshavardhana commented on #5222
Yes @AndrewSav `mc ls --incomplete`  shows you incomplete uploads and `mc rm --incomplete` would remove them.

[2017-11-22 21:56] AndrewSav commented on #5222
Thank you very much. Last (hopefully) question. I keep experimenting and I can see that right after upload the /tmp of the upload that just happened is not deleted, even after the upload succeeded. When those are supposed to be deleted? They disappear on restart but I can't restart the server after every upload.

[2017-11-22 22:00] harshavardhana commented on #5222
They should be deleted, this must be a recent bug. which version of minio are you running?

[2017-11-22 22:02] AndrewSav commented on #5222
It's the latest pull from docker hub. How do I find out the version? It does not seem to be printed in the docker log on container start.

[2017-11-22 22:02] boeboe opened #5225 "Curl user-agent is giving an HTTP 403 on all endpoints"
For some reason, curl is giving a HTTP 403 on all endpoints...

    # curl http://127.0.0.1:9000/minio/login -v
    *   Trying 127.0.0.1...
    * Connected to 127.0.0.1 (127.0.0.1) port 9000 (#0)

    < HTTP/1.1 403 Forbidden
    < Accept-Ranges: bytes
    < Content-Type: application/xml
    < Server: Minio/RELEASE.2017-11-22T19-55-46Z (linux; amd64)
    < Vary: Origin
    < X-Amz-Request-Id: 14F9

[2017-11-22 22:03] harshavardhana commented on #5225
Does healthcheck take scripts @boeboe ?

[2017-11-22 22:04] harshavardhana commented on #5225
Simply do this

[code]

https://github.com/minio/minio/blob/master/dockerscripts/healthcheck.sh download this.

[2017-11-22 22:13] AndrewSav commented on #5222
Aplogies, somehow when I pulled the latest container earlier today something went wrong. I'll just updated again:

[code]

I'll re-test.

[2017-11-22 22:55] boeboe commented on #5225
Workaround:

          livenessProbe:
            httpGet:
              path: /minio/login
              port: 9000
              httpHeaders:
              - name: User-Agent
                value: Mozilla
            initialDelaySeconds: 15
            timeoutSeconds: 10

[2017-11-22 22:55] #5225 closed, assigned to nobody

[2017-11-22 23:08] harshavardhana commented on #5222
Thanks @AndrewSav

[2017-11-22 23:39] AndrewSav commented on #5222
@harshavardhana after the upgrade I cannot use mc.exe at all

I triple checked the keys in the config.json on the client. The keys are correct and work in the WebUI but not in mc.exe

[2017-11-22 23:41] harshavardhana commented on #5222
That is not possible most probably you have an extra character. Nothing changes really after an upgrade. @AndrewSav also my id is @harshavardhana not @hackintoshrao :smile:

[2017-11-22 23:50] AndrewSav commented on #5222
Apologies. How do I troubleshot? I regenerated the keys by removing the config on the server and adding the new ones on the client. mc.exe still returns the same error. WebUI access works.

Also tested mc client on linux - same error.

[2017-11-22 23:50] harshavardhana commented on #5222
what error does `mc.exe` return?

[2017-11-22 23:51] AndrewSav commented on #5222
You mean apart from:

?

[2017-11-22 23:51] harshavardhana commented on #5222
Can you provide the `--debug` output and also any output on the server logs? @AndrewSav

[2017-11-22 23:53] harshavardhana commented on #5222
Also is minio running behind a proxy? @AndrewSav

[2017-11-23 00:00] AndrewSav commented on #5222
Yes, minio is running behind nginx proxy. The logs will be here in the next few minutes

[2017-11-23 00:01] harshavardhana commented on #5222
Can you paste your nginx config? the issue is perhaps you are not setting Host header. https://docs.minio.io/docs/setup-nginx-proxy-with-minio ?

[2017-11-23 00:02] AndrewSav commented on #5222
Logs: https://gist.github.com/AndrewSav/d206bd26b529a749f382b9104c83ed71

[2017-11-23 00:05] AndrewSav commented on #5222
Nginx config:

[code]

[2017-11-23 00:07] harshavardhana commented on #5222
I think there is a bug in using $server_port signature is not generated with port, remove the port it should work fine. @AndrewSav

[2017-11-23 00:09] harshavardhana commented on #5222
Just call it `   proxy_set_header Host $http_host;`

[2017-11-23 00:13] AndrewSav commented on #5222
Yep, that did the trick, sorry for wasting your time. Interesting that it used to work like that before the upgrade. I have not change the ngnix configuration since I first set it up months ago.

Now back to upload and tmp testing!

Thank you!

[2017-11-23 00:17] harshavardhana commented on #5222
It was a bug on Minio server side which allowed it @AndrewSav

[2017-11-23 00:41] AndrewSav commented on #5222
@harshavardhana seems to work fine now. I'll open new issues if I experience any more abnormalities.

[2017-11-23 00:41] #5222 closed, assigned to harshavardhana

[2017-11-23 04:33] harshavardhana commented on #4914
It is possible because junk message can only occur when a client is trying to make a TLS or a non-http connection when server is not configured with TLS.

[2017-11-23 12:41] boeboe commented on #5225
@harshavardhana why do you do this filtering on user agent? Is there a functional/security related requirement behind it?

[2017-11-23 17:14] harshavardhana commented on #5225
this is only a temporary hack, once we have `mc admin service status` implemented and merged we will migrate to that instead.

[2017-11-24 09:14] nitisht commented on #4959
@deekoder sent #5231

[2017-11-24 11:49] davidgeorgealex commented on #5190
HI @krisis, I performed more tests and come back with a piece of code that throws the exception:
[MinioClientUploaderV2.txt](https://github.com/minio/minio/files/1501525/MinioClientUploaderV2.txt). This is a Java code, so please change the extension from `.txt` to `.java`.
So, using the initial docker image (the one from the initial post, with Minio and MC), While running the attached Java code wh

[2017-11-24 12:13] davidgeorgealex commented on #5190
Upgrading my image to the latest Minio image (https://github.com/minio/minio/tree/RELEASE.2017-11-22T19-55-46Z), I got from the Java code:
`error occured
ErrorResponse(code=InternalError, message=We encountered an internal error, please try again., bucketName=null, objectName=null, resource=/photos/test0.json, requestId=3L137, hostId=3L137)
request={method=PUT, url=http://127.0.0.1:9001/photos/tes

[2017-11-25 02:28] ramkumarkb opened #5232 "Accessing Minio using HTTPS with s3a:// protocol from Apache Spark throwing error"
## Context
Previously reported Issue - #2965 for which a PR was created - #5179 . The fix was released as part of the 22-Nov-2017 release of MINIO..

However, upon further testing, it turns out that whilst using `s3a://` with `HTTP` protocol seems ok, the same code with `HTTPS` throws error. Details of the test are also added as comment in - #5179

Upon some further testing, writes to S3 store usi

[2017-11-25 03:00] nitisht commented on #5232
Thanks @ramkumarkb . Couple of questions

- How was the HTTPS certificate generated - self signed or via CA?
- Are there any logs on Minio server console? Can you pls paste them here?

[2017-11-25 11:17] nitisht commented on #4565
Since we're not going ahead with https://github.com/minio/minio/pull/4877 closing this as won't fix for now. We can revisit later if required.

[2017-11-25 11:17] #4565 closed, assigned to nitisht

[2017-11-25 15:08] spommerening commented on #4166
+1

[2017-11-27 00:29] ramkumarkb commented on #5232
@nitisht
* HTTPS Certificate is self-signed.

Logs from the Minio Server:

* HTTPS => Nothing. I suspect that the request does not even reach the Minio Server. May be some issues with the AWS S3a libs that is causing this?

* HTTP => Reading CSV files from Mino gives the following logs. But the reads themselves seems successful as am able to get the data in the Zeppelin.

`time="2017-11-26T19:30:1

[2017-11-27 01:02] gavinmcnair opened #5237 "Upgrade of Minio appears to have lost all data"
## Expected Behavior
Expected data to be available after upgrade

## Current Behavior
All servers show the following errors

[code]

All my data is unavailable. I still see the fragments of the files in the data directories but am unable to access anything at all. This is a big problem.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Upgraded binary and restarted instances.
2. Configur

[2017-11-27 01:15] harshavardhana commented on #5237
The data is not lost here but instead you don't have enough quorum to read data. I think perhaps the issue is startup servers are not connecting properly.

[2017-11-27 01:20] harshavardhana commented on #5237
How did you upgrade ? Did you attempt a rolling upgrade ? Rolling upgrade is not possible since minio requires under distributed setup all servers to be of same version.

From the logs it seems like there were errors related JWT and it also looks like there is problem with NTP. Nodes are perhaps skewed in time. To make sure that things are fine

- Make sure to have a proper ntp configured across a

[2017-11-27 03:10] nitisht commented on #5232
Thanks @ramkumarkb I'll try to replicate the setup and see what goes wrong

[2017-11-27 03:42] ramkumarkb commented on #5232
@nitisht
Thank you for your attention on this rather tricky subject.

Further tests this morning on `write` using HTTP over `s3a://` also was not very successful, unfortunately. Should I update the title of this issue also to expand the scope to write errors?

## High-level steps ##
* Read a CSV file (as DataFrame) using HTTP over s3a:// => OK
* Set the property to disable MD5Checks
* Use the same

[2017-11-27 03:43] harshavardhana commented on #5208
This is fixed in dsync master https://github.com/minio/dsync/pull/50 closing.

[2017-11-27 03:43] #5208 closed, assigned to harshavardhana

[2017-11-27 03:45] harshavardhana commented on #5144
We should close this issue here and open on github.com/minio/mc

[2017-11-27 04:10] harshavardhana commented on #5232
this is a aws-sdk-java bug which tries to pro-actively validate the checksum but Etag was wrongly interpreted. Unfortunately it was packaged by hadoop and seems to be still lingering on. Would it be possible to use aws-sdk-java latest jar?  This is the bug which was fixed https://github.com/aws/aws-sdk-java/pull/590

Unfortunately `disableGetObjectMD5Validation` option only disables it for Get not

[2017-11-27 06:54] ramkumarkb commented on #5232
@harshavardhana @nitisht
Thanks for the reply.  So I did the following steps. The results are better (able to read / write to S3 Store using HTTP with `s3a://`).

## Removed the following libs from `/jars` folder of Spark ##
1. aws-java-sdk-kms-1.10.6.jar
2. aws-java-sdk-core-1.10.6.jar
3. aws-java-sdk-s3-1.10.6.jar

## Added the latest version of the AWS SDK lib ##
* `aws-java-sdk-1.11.234` - Thi

[2017-11-27 06:55] harshavardhana commented on #5232
This perhaps i am expecting is created by spark here, not sure if this can be controlled.

[2017-11-27 06:56] nitisht commented on #5232
yes, Cookbook will be a good place for the documents.

[2017-11-27 10:25] davidgeorgealex commented on #5190
Exceptions in the node logs:
`minio2_1  | time="2017-11-27T10:23:54Z" level=error msg="Unable to stat a file photos/aatestMon Nov 27 12:16:04 EET 2017.json//xl.json" cause="disk not found from net error" source="[xl-v1-common.go:67:xlObjects.isObject()]"
minio2_1  | time="2017-11-27T10:23:54Z" level=error msg="Unable to stat a file photos/aatestMon Nov 27 12:16:07 EET 2017.json//xl.json" cause="di

[2017-11-27 10:58] ramkumarkb commented on #5232
@nitisht @harshavardhana
Update on the read with HTTPS using the new AWS-SDK lib - `aws-java-sdk-1.11.234`. Looks like I need to provide TrustStore - to Spark or AWS-SDK - would you know?

Things are certainly lot brighter with this lib - `aws-java-sdk-1.11.234`!

## Steps ##
Restart MINIO with SSL enabled mode using self-signed Certificate

## Error in MINIO console ##
`time="2017-11-27T18:42:33+

[2017-11-27 12:04] john-bakker commented on #5191
sorry for the late response, i've got some extra information.

The path where the files are being uploaded is a shared filesystem where multiple servers connect to.
The application that is uploading the files is located on the ins059 , where also the mc is running in mirror mode.

If i do a lookup on the file from another server , and look for the file information i get the following :

[code]

I

[2017-11-27 13:01] gavinmcnair commented on #5237
The upgrade was done cold with all the Minio servers down. The servers were all ntp synchronised though 3 of the hosts (which sit on the same physical host rebooted and may have been slightly out of sync for a short period) which was the start of the issue.

Now 15 out of 16 of the hosts are up and and are within 30ms of each other

Here is the current ntp variance.
[code]

All servers are confirm

[2017-11-27 13:21] nitisht commented on #5232
@ramkumarkb I found this while Googling, may be this will help https://stackoverflow.com/questions/6908948/java-sun-security-provider-certpath-suncertpathbuilderexception-unable-to-find

[2017-11-27 16:01] harshavardhana commented on #5237
Would it possible to access these nodes remotely ?

[2017-11-27 16:09] harshavardhana commented on #5191
What is the shared filesystem under use ?. This is perhaps due to not supporting inotify semantics properly. `mc mirror --watch` relies on proper working of filesystem notifications (fsnotify in short).

If the notifications are not propagated on a shared FS properly then it cannot sync the data properly.

[2017-11-27 17:01] mati865 commented on #5144
Sorry, my bad.

[2017-11-27 17:01] #5144 closed, assigned to vadmeste

[2017-11-27 17:49] gozdal commented on #5150
@joguSD @krisis Guys, boto3 is saying that it "is designed to work with S3 [...] [and minio] should match the behavior of S3". Minio is saying "it is an issue in boto3 SDK".
The net effect would be that boto3 will be incompatible with Minio. Would it be possible for boto3 and/or minio to reconsider?

[2017-11-27 18:00] harshavardhana commented on #5150
We would love to but `Expect: 100-Continue` behavior is beyond our control since Golang `net/http` automatically handles this for us.   We can send boto3 a PR to fix this, since this is really a boto3 http client bug.

PS: This has nothing to do with S3 API IMHO :smile:

[2017-11-27 19:09] poornas commented on #5204
@MontyGvMC , aspnet has a generic webhooks package - not sure if you came across [this](https://github.com/aspnet/WebHooks/blob/dev/samples/CustomReceiver/WebHooks/CustomWebHookHandler.cs) example yet.  You could get the data as a JObject and parse contents if you did not want to implement a custom model class.

[2017-11-27 20:18] gavinmcnair commented on #5237
Definately. I could do a screenshare

[2017-11-27 20:34] gavinmcnair commented on #5237
I'll hang around in an appear.in room and should be available for the next 2-3 hours (today)

https://appear.in/gavinmcnair

[2017-11-27 23:34] ugurtigli opened #5238 "Consolidate "Quickstart Guide" links on Minio server console"
An effort to simplify and provide clear details on the console output of Minio server (a la TLDR).
## Expected Behavior

## Current Behavior
There are 5 separate lines for each link pointing to Go, Java, Python, JavaScript and .NET separately.

## Possible Solution
Consolidate all links to a landing document link and still keep the supported languages APIs

## Steps to Reproduce (for bugs)

1. sta

[2017-11-28 00:41] ugurtigli opened #5239 "Improve console error messaging for erasure coded Minio server"
Provide a warning or a better error message for using disk/directories already initialized or used.

## Expected Behavior
Print out a warning or error showing already in used disks/directories.
For Example: In case of 8x disk and first 4 are already initialized or used, provide an error message similar to below.
`FATA[0000] Initializing object layer failed cause=**4 out of 8 disks are already init

[2017-11-28 01:02] harshavardhana commented on #5237
After a lot of testing on a 16 node setup on packet.net - I am not able to reproduce the problem both with older releases and newer ones.

[code]

Only change here is that i am running on Ubuntu 16.04 perhaps you might be on a different operating system.

[2017-11-28 01:26] harshavardhana commented on #5237
I even tried with 10 different buckets too with each of them having policy.json in place, i am not able to see the JWT issue that you are having, neither the healing is failing. There is certainly something odd about the setup we are encountering on your end.

- Would it possible to choose a fresh disk to compare against? like `/data/minio/data` to /data/minio/testing` ?
- Would you mind running `

[2017-11-28 01:50] harshavardhana commented on #5237
After looking further into the token issue which is perhaps what i think is happening in your setup there is only one reason that it could have happened.

The actual verification is done by our jwt library
[code]

Which basically calls following function
[code]

the `IssuedAt` is set in our code when generating the JWT token for the time when a client tries to connect to other remote node.  In thi

[2017-11-28 04:52] nitisht commented on #5232
Hey @ramkumarkb I spent some time trying to get this working. I used the same libraries as you did (`aws-java-sdk-1.11.234.jar`) and was able to get the similar errors.

Then I added my self signed certificate to Java `cacerts` on the machine where Spark was deployed. Writes to Minio server with HTTPS enabled worked. I added the certs using `keytool`

[code]

Note that certificate was generated li

[2017-11-28 09:45] #4959 closed, assigned to nitisht

[2017-11-28 10:11] #4898 closed, assigned to nitisht

[2017-11-28 11:43] gavinmcnair commented on #5237
All machines reported an identical epoch time.

I'll run a proper iperf later though i notice the bandwidth is smaller than i'd expect between a single test host (Host has 2x10Gb bonded interface). There may be a subtle network misconfiguration though.

[code]

[2017-11-28 11:47] harshavardhana commented on #5237
We should perhaps sit on this again PST time, if you have time and see the issue through. There is something which doesn't add up in the entire configuration.

This number is expected if you ran two iperf's then it would show you a higher number i.e combining each.

[2017-11-28 11:54] gavinmcnair commented on #5237
This has also been ran from the virtual machine and not from the underlying host. I'll take a look later at home since i have a lot to do today.

[2017-11-28 11:57] gavinmcnair commented on #5237
Happy to sit on this again later.

[2017-11-28 11:57] ramkumarkb commented on #5232
@nitisht  Thank you very much for the suggestion.

Unfortunately, Java is installed and runs under root (as per company policy) and we are unable to edit the `cacerts` as an application user. Therefore, we cannot run the command that you have suggested.

We tried to start Spark-Master and Spark-Slave(s) using the following JVM property but no luck:
`-Djavax.net.ssl.trustStore=<MyCaCert> -Djavax.ne

[2017-11-28 12:10] nitisht commented on #5232
No problem @ramkumarkb . Feel free to let us know if there is something else we can help you with.

Yes, we'll do that.

Closing this issue as discussed.

[2017-11-28 12:10] #5232 closed, assigned to nitisht

[2017-11-28 12:12] harshavardhana opened #5242 "Update kernel tuning doc to mention disabling transparent hugepages"
**Not using template on purpose**

[“Transparent Hugepages”](https://www.kernel.org/doc/Documentation/vm/transhuge.txt) is a Linux kernel feature intended to improve performance by making more efficient use of your processor’s memory-mapping hardware. It is enabled (”enabled=always”) by default in most Linux distributions.

Transparent Hugepages gives some applications a [small performance improve

[2017-11-28 13:41] pdaures commented on #5220
What do you plan to use instead? Use directly the logger package?

[2017-11-28 14:57] pdaures commented on #5219
Maybe I could help with this?

[2017-11-28 17:45] qixtand opened #5244 "TLS: Minio offers medium strength Triple DES Ciphers vulnerable to SWEET32"
Based on observations from Mozilla's [cipherscan](https://github.com/mozilla/cipherscan) and the [testssl.sh](https://github.com/drwetter/testssl.sh) tool, minio supports several Triple DES ciphers. This may expose minio to the SWEET32 vulnerability described at https://sweet32.info/ and officially tracked as https://nvd.nist.gov/vuln/detail/CVE-2016-2183 and https://nvd.nist.gov/vuln/detail/CVE-2

[2017-11-28 18:03] harshavardhana commented on #5244
Thanks for the detailed bug report.

[2017-11-28 19:32] harshavardhana commented on #5244
The problem we had in the past of not support Triple-DES was certain S3 clients and windows versions had issues connecting to our server since the TLS requests were being rejected (obviously)

So we relied on the fact that

[code]

Would be essentially stricter and would have even defaulted to the best possible suites available.  Looks like we will have to relinquish support for older clients sinc

[2017-11-28 19:42] aead commented on #5244
As reported from testssl.sh:
[code]

[2017-11-28 21:32] agidi commented on #4210
Love the idea of an officially deployed package a+++

[2017-11-28 21:51] #5096 closed, assigned to vadmeste

[2017-11-29 03:14] harshavardhana commented on #5150
@joguSD @krisis @prayerslayer @gozdal  sent a fix to botocore quoting the relevant entry from the HTTP RFC.  Please take a look, the PR fixes the issue reported here.

https://github.com/boto/botocore/pull/1328

[2017-11-29 09:20] arrowcircle commented on #5212
Thanks @nitisht for participating in the investigation of the bug.

Problem is I got strange encoding error in my secrets.

[code]

Same admin123 via web service:

[code]

Problem is not minio related.

[2017-11-29 09:20] #5212 closed, assigned to nitisht

[2017-11-29 12:42] john-bakker commented on #5191
the underlying filesystem is ZFS. But if that would be the problem , the mc would not pick up the file if it was touched / edited or deleted right ?

[2017-11-29 17:11] harshavardhana commented on #5191
how is the same ZFS mounted on two different hosts ? Are you not using a network FS here?AFAIK ZFS is not a network filesystem.

However in this setup the fsnotify is not fully propagated unless the fsnotify probes are local i.e under 056 they are local so a touch works. Filesystem changes do get applied but from 059 but it never propagates.

So if you happen to run ` mc mirror` from 059 then it w

[2017-11-29 21:26] gavinmcnair commented on #5237
I copied all the data onto a single machine and used the newest Minio pointed directly at the directories. There was not a single error and the data came online straight away. (though it seem to think i have 2.8TB free out of 5.8TB which is definitely not right)

Does this point to the network issue you mentioned?

[2017-11-29 22:17] harshavardhana commented on #5237
Yes that i would expect that, you could even try on a different data partition like a temporary path such as `/data/minio/tmp`

This would be something related to the `df -h` output @gavinmcnair

Yes it must be a network problem, there is some sort of a packet delay which causes this. But i am not really sure at this point what might be causing this. In my testing i am not able to reproduce it any

[2017-11-30 07:44] harshavardhana commented on #4153
This is not a investigation anymore changing the issue title.

[2017-11-30 17:48] #3185 closed, assigned to nobody

[2017-11-30 17:49] harshavardhana commented on #3575
We have a snap package already for Ubuntu https://github.com/minio/minio#snap closing

[2017-11-30 17:49] #3575 closed, assigned to nobody

[2017-11-30 17:50] kannappanr commented on #2202
Closing this issue as this feature has been implemented.

[2017-11-30 17:50] #2202 closed, assigned to nobody

[2017-11-30 17:51] harshavardhana commented on #3689
This has moved to MSF

[2017-11-30 17:58] harshavardhana commented on #5098
This is an expected behavior, closing. Client doesn't have the right certificates.

[2017-11-30 17:58] #5098 closed, assigned to vadmeste

[2017-11-30 17:58] vadmeste commented on #5098
:+1:

[2017-11-30 18:03] harshavardhana commented on #4854
We should close this @fwessels ?

[2017-11-30 18:04] harshavardhana commented on #4834
can you try with the latest GlusterFS release @christianbaun ?

[2017-11-30 18:05] harshavardhana commented on #4821
Is this still an issue? @Julusian

[2017-11-30 18:07] harshavardhana commented on #4378
We should test this again if this happens with THP set to `madvise` with latest release @nitisht

[2017-11-30 18:09] harshavardhana commented on #4321
This is not possible to fix as it brings retrospective consequences, we have decided to only do what is possible by the remote backend.

MSF on the other hand will bring in a more comprehensive approach to this by being a centralized policy manaer, closing this.

[2017-11-30 18:09] #4321 closed, assigned to nobody

[2017-11-30 18:10] nitisht commented on #4378
will do @harshavardhana

[2017-11-30 18:12] vadmeste commented on #4308
Not really necessary.

[2017-11-30 18:12] #4308 closed, assigned to nobody

[2017-11-30 18:15] nitisht commented on #4371
We developed minio/mint. Automatic deployment will be taken care by Mint pod automation. Closing this.

[2017-11-30 18:15] #4371 closed, assigned to nobody

[2017-11-30 18:16] harshavardhana commented on #4193
is there any more detail/description to this issue other than the issue title?

[2017-11-30 18:19] harshavardhana commented on #5134
We have made a release with virtual bucket support @retorquere - feel free to close this issue? if nothing is needed from our end.

[2017-11-30 18:21] harshavardhana commented on #4644
We are not doing the plugin style due to cross platform limitations, the scope and requirement has moved https://github.com/minio/minio/projects/13 and there is a pending PR under review.

Closing this.

[2017-11-30 18:21] #4644 closed, assigned to fwessels

[2017-11-30 18:21] vadmeste commented on #5143
Closing this due to inactivity @painslie, please open again if you see this problem again.

[2017-11-30 18:21] retorquere commented on #5134
Nothing needed on my end (blasted mathworks) - I generally only close issues at dev request (I ask my users to do the same),which is why I hadn't already.

[2017-11-30 18:21] #5143 closed, assigned to vadmeste

[2017-11-30 18:22] #5134 closed, assigned to balamurugana

[2017-11-30 18:22] harshavardhana commented on #4781
PR already sent, reviewed UI with @abperiasamy and should be reviewed and merged.

[2017-11-30 18:22] fwessels commented on #4854
Yes, we can close it

[2017-11-30 18:23] nitisht commented on #4914
@worthwhileindustries were you able to get it working?

[2017-11-30 18:25] Julusian commented on #4821
This appears to be working fine now.
I have tried the latest docker build with the same set of empty folders I reported the issue with and I am not seeing anything in the log or any massive spikes in cpu/ram usage.

[2017-11-30 18:26] harshavardhana commented on #4821
Thanks @Julusian closing this issue as fixed.

[2017-11-30 18:26] #4821 closed, assigned to ebozduman

[2017-11-30 18:27] harshavardhana commented on #4854
Thanks @fwessels

[2017-11-30 18:27] #4854 closed, assigned to fwessels

[2017-11-30 18:31] vadmeste commented on #1906
Closing the issue due to inactivity but it can be reopened again and develop further discussions.

[2017-11-30 18:31] #1906 closed, assigned to nobody

[2017-11-30 20:18] #5242 closed, assigned to nitisht

[2017-11-30 20:49] harshavardhana commented on #5102
While we can implement this specially can you explain to us the real requirement here

- Why do you need to keep empty directories?
- What is the real requirement from the application point of view to preserve directories?
- Is it not possible to upload files with the required prefix? and objects are created automatically?

@plenczyk ^^

[2017-12-01 03:34] ultramancool opened #5251 "Minio runs unencrypted when https URLs are used but certificates are not installed"
## Expected Behavior
Minio should error out when listening on or connecting to remote hosts using https:// URLs.

## Current Behavior
It's possible to start a distributed minio cluster while specifying https URLs but which will not operate with TLS enabled.

## Steps to Reproduce
1. On 4 completely empty nodes, install minio.
2. On each machine run "minio server https://node1/data https://node2/da

[2017-12-01 04:35] harshavardhana commented on #5251
Thanks @ultramancool for opening the bug. We will take a look and send a fix.

[2017-12-01 20:29] worthwhileindustries commented on #4914
@nitisht no i have to setup an isolated environment and step through the code and debug the contrib module apparently. Someone responded to me here but, it's not clear whether they actually got it working and I can't get a response from him. https://www.drupal.org/project/s3fs/issues/2910278.

[2017-12-02 03:04] #4885 closed, assigned to donatello

[2017-12-02 03:06] harshavardhana commented on #5237
To continue this discussion further would it be possible for you to join our slack channel?.  Let me know when you wish to continue this discussion.

[2017-12-02 06:19] dingjs opened #5254 "io.minio.errors.ErrorResponseException: We encountered an internal error, please try again."
When I call minioClient.puObject,I got this exception a few times.

        at io.minio.MinioClient.execute(MinioClient.java:1200) ~[minio-3.0.8.jar:3.0.8]
        at io.minio.MinioClient.executePost(MinioClient.java:1347) ~[minio-3.0.8.jar:3.0.8]
        at io.minio.MinioClient.initMultipartUpload(MinioClient.java:4276) ~[minio-3.0.8.jar:3.0.8]
        at io.minio.MinioClient.putObject(MinioClien

[2017-12-02 07:33] harshavardhana commented on #5254
What is you backend filesystem?

[2017-12-02 07:34] harshavardhana commented on #5254
Also is it reproducible consistently?

[2017-12-02 09:20] harshavardhana commented on #5254
Navigation through the code i can observe that the only line that generates this error is `os.MkdirAll`

[code]

And Go can generate this error only here inside `os.MkdirAll`

[code]

its almost like the parent was deleted while the `MkdirAll` was being attempted.

Here are few questions for you to answer

 - What is the backend filesystem under use?
 - Are you using shared backend mode where mult

[2017-12-02 14:16] pwdonald commented on #5050
6 months ago I tried this:

1. Start a minio server docker instance and mount an existing directory with data that had never used minio before as a volume.
2. Use the minio web UI to upload new files.

But I noticed that the newly uploaded files (objects) had metadata in the minio config directory whereas the other files did not.

This worried me so I decided to use a different data directory and

[2017-12-02 17:58] harshavardhana commented on #5050
Yes there is no problem with the fact some objects in a bucket would have metadata. It is purposefully designed this way @pwdonald

[2017-12-02 18:01] RosscoMT opened #5255 "Unable to post image data in a multipartform"
I am currently having issues posting to a Minio server from both a iOS device and postman. I am currently getting "Method Not Allowed" when the data is being sent to the Minio server. Having spoken to y4m4 on the Minio slack chat about this issue. He has asked for this problem to be raised.

## Expected Behavior
Server accepts data.

## Current Behavior
Server response with:

HTTP/1.1 405 Method N

[2017-12-02 18:05] harshavardhana commented on #5255
Can you also post the postman script for us to reproduce this ?

[2017-12-02 23:21] RosscoMT commented on #5255
@harshavardhana
[code]

[2017-12-03 00:43] dingjs commented on #5254
@harshavardhana
Thank you for your reply.

The backend filesystem is xfs.

No, is not reproducible consistently.I call putObject tens of thousands of times,and only got a few times of this exception.

No,I'm not.

I'm noticing in the .minio.sys/multipart/ folder,bucketName sub folder being created and deleted automatically.If it is the normal thing, could it be two multipart upload in the same buc

[2017-12-03 01:10] harshavardhana commented on #5254
yes that is expected, but we do not rely on the parent directories to be created, but MkdirAll has a race basically since it recursively creates directories one by one it is quite possible that one of the parent is deleted due to completion of multipart upload and the subsequent `os.Mkdir` doesn't see it and fails with ENOENT

There must be a race here @dingjs as i stated above,  let me think abou

[2017-12-03 01:20] harshavardhana commented on #5255
from what we discussed it seems like the regex is handled correctly.  Here is the test result using `curl`
[code]

[code]

[2017-12-03 02:48] dingjs commented on #5254
Yes,We use 6 threads constantly call putObject in the same bucket (writkeeper) with the same prefix (year/month/day),the object name is a uuid string with a business name.
The object names which failed maybe with the names like uuid-null.

[2017-12-04 06:08] harshavardhana commented on #5254
I see @dingjs thanks will try to reproduce this.

[2017-12-04 06:47] #5251 closed, assigned to harshavardhana

[2017-12-04 06:48] nitisht commented on #5251
@ultramancool fix #5252 was merged. Can you please try with the latest master and let us know it goes?

[2017-12-04 06:48] harshavardhana opened #5258 "Implement tests for sufficient key distribution in hashOrder()"
** not using template **

[code]

Recently we fixed a bug d45a8784fc5a1c75c788e32e8c80423f0e24f9f0 where the resulting distribution of slice from hashOrder() had a high affinity towards odd indexes when the cardinality was small.  Since the fix the distribution upon pure observation seems to be normal.

We need to add sufficient tests to figure out the average mean which will result from this func

[2017-12-04 11:40] ifelsenayeem opened #5260 "Inconsistency in data when some servers stopped working"
1. Started minio cluster,
./minio server http://192.168.35.11/data http://192.168.35.12/data http://192.168.35.13/data http://192.168.35.14/data

2. Uploaded an image Test_01.jpg

3. Stopped server four (i.e, 192.168.35.14)

4. Uploaded another image Test_02.jpg

5. Started server four (i.e, 192.168.35.14)

## Expected Behavior
Server four should be having the image Test_02.jpg

## Current Behavio

[2017-12-04 13:33] ifelsenayeem commented on #5260
I'm closing this task, because I got the solution #5016

[2017-12-04 13:33] #5260 closed, assigned to nobody

[2017-12-04 13:35] vadmeste commented on #5260
Thanks @nayeemnayyu, you can join us here https://slack.minio.com if you have further questions.

[2017-12-04 14:55] davidgeorgealex commented on #5190
Hi @krisis, do you have any updates on this?
Thanks,
George

[2017-12-04 15:39] john-bakker commented on #5191
the issue was in the GX CMS system. Apparently the application server that we were talking to , was not the server that was in fact placing the file in the filesystem. Some other server in the cluster was doing the actual upload.

We now have the mc running in mirror mode on all servers in the cluster, so if any of them writes a file in the shared folder , it gets synched immediatelly.

the item c

[2017-12-04 15:39] #5191 closed, assigned to kannappanr

[2017-12-04 17:33] ruslan-polutsygan opened #5261 "Invalid bucket name, Google Cloud Storage gateway"
Hello.
Original discussion is there https://github.com/minio/minio-js/issues/652#issuecomment-348980484
Briefly: I can't create new bucket using minio-js library, but it goes fine when I do this from gateway web interface (`127.0.0.1:9000`).

Deeply inside js-library, I received such xml:
[code]
Can you advice anything?

## Expected Behavior
Bucket is created successfully.

## Current Behavior
Buc

[2017-12-04 19:44] kannappanr opened #5262 "Make logger a separate package"
Make logger a separate package.

This will help in moving other parts of the code as a package.

[2017-12-04 19:49] kannappanr opened #5263 "Save http trace into a file"
Save the HTTP trace to a file output, instead of logging it onto the console. This is required so that the console logs that are generated currently is not mixed with normal logs and the HTTP traces.

[2017-12-04 20:05] kannappanr opened #5264 "Move error strings into a separate file"
Start using approved error strings to log errors.

1. Move all existing error strings into a separate file.
2. Log `errorCode`.
3. Log `Tags`

[2017-12-04 20:08] kannappanr opened #5265 "Remove file-logger.go"
Remove file-logger.go, it is currently used only in the migration code. Once feature #5176 is merged to master, file-logger.go will not be used.

[2017-12-04 20:12] kannappanr commented on #5219
We are not doing this feature as of now, so closing this issue.

[2017-12-04 20:12] #5219 closed, assigned to nobody

[2017-12-04 23:48] ebozduman commented on #5220
@pdaures ,
We simply planned to have regular formatted messages printed on the console without any logger library/package help.
If end-user would like to store the console messages in a log file, then s/he can redirect or `tee` the console messages to a file.

[2017-12-05 02:13] kaankabalak opened #5267 "Minio Browser returns "Bucket name invalid:" error when the window size is changed by a user without any buckets"
## Expected Behavior
When the browser window size is changed, no errors should appear regardless of how many buckets a user has.

## Current Behavior
When a user without any buckets changes the browser window size, an error with the message "Bucket name invalid:" is returned. While the window size is being changed, a "login" path also flickers at the end of the URL.

## Possible Solution

We need

[2017-12-05 04:22] nitisht commented on #4914
@worthwhileindustries let me set it up locally and get back to you

[2017-12-05 09:27] christianbaun commented on #4834
The effort to update the 32 node cluster now is to high for me now. Sorry. :-(

[2017-12-05 13:12] ruslan-polutsygan commented on #5261
I've found what was the problem.
I tried to create bucket in `eu-west-3`, which was OK for minio-server, but not good for GCS. GCS has region `europe-west3`. When changed region - it started working.

Shouldn't minio server map regions? Or at least say something more sensible, not just "The specified bucket is not valid"? Or it receives above XML from google?

Thanks

[2017-12-05 13:18] ruslan-polutsygan opened #5269 "[question] What is not ready for production in gcs-gateway"
Hello

When I start minio in `gcs-gateway` it says it is not production ready.
Can you please explain what doesn't work or works unstable yet? What cases in integration are not covered?

Thanks

[2017-12-05 14:46] jonandernovella opened #5270 "S3 v2 signature support"
Currently the S3 client for Pachyderm uses minio-go, which signs using S3 v4 by default. An option should be added to support S2 signatures in [minio-go](https://github.com/pachyderm/pachyderm/blob/master/src/server/pkg/obj/minio_client.go#L17) and in the [Pachyderm deployment manifesto]( https://github.com/pachyderm/pachyderm/tree/master/src/server/pkg/deploy). This would enable the S3 client to

[2017-12-05 14:47] nitisht commented on #5270
Thanks @jonandernovella we'll send a fix.

[2017-12-05 15:23] jhartley1 opened #5271 "PutObject XMinioWriteQuorum error despite all disks showing as online in distributed cluster"
## Expected Behavior

PutObject requests should succeed when write quorum is reached.

## Current Behavior

PutObject requests consistently fail with code: XMinioWriteQuorum and message: "Multiple disks failures, unable to write data." This is occuring under write throughput under 1 per second.

Server log (This same log line repeated with different objects paths):
`time="2017-12-05T14:59:02Z" lev

[2017-12-05 17:52] harshavardhana commented on #5269
The limitations are mentioned in [docs.md](https://github.com/minio/minio/blob/master/docs/gateway/gcs.md). We kept it beta until now for the gateway to stabilize. We will be removing it in upcoming releases.

[2017-12-05 18:32] nitisht commented on #5270
@jonandernovella can you please take a look at this https://github.com/pachyderm/pachyderm/pull/2564

[2017-12-05 18:33] nitisht commented on #4997
Based on discussion with @abperiasamy this is the initial approach for implementation of storage classes https://gist.github.com/nitisht/ba07d65626f4848b338513fff1d075c5

[2017-12-05 19:09] harshavardhana commented on #5270
This issue should be opened on pachyderm not here, this has nothing to do with minio server. @jonandernovella

[2017-12-05 19:10] harshavardhana commented on #5255
Can you let us know if you were able to use `curl` ? @evilelement

[2017-12-05 20:00] krishnasrinivas commented on #5261
We can't map regions as it is not one-to-one mapping for many regions.

Was there no log by minio server?

[2017-12-05 22:01] RosscoMT commented on #5255
Sorry for the delay in getting back harshavardhana. I will test the curl in the coming days.

Cheers

[2017-12-05 22:12] glensc commented on #5269
@harshavardhana `docs.md` link 404 in your last post.

[2017-12-05 22:17] harshavardhana commented on #5269
what i meant was this https://github.com/minio/minio/blob/master/docs/gateway/gcs.md

[2017-12-06 02:16] #5270 closed, assigned to nitisht

[2017-12-06 07:18] #5176 closed, assigned to kannappanr

[2017-12-06 07:53] nitisht commented on #5269
closing as resolved

[2017-12-06 07:53] #5269 closed, assigned to harshavardhana

[2017-12-06 08:55] ruslan-polutsygan commented on #5269
Thanks

[2017-12-06 09:00] ruslan-polutsygan commented on #5261
There is following message in terminal where minio is running:
[code]
Or you mean some other logs? Where are they located?

[2017-12-06 09:52] RosscoMT commented on #5255
@harshavardhana had another shot at the curl command using swift on iOS. But receiving now 501 response. Any ideas?

The code looks like:

                    let dataArray: [String : String] = [
                        "x-amz-algorithm" : algorithm,
                        "x-amz-credential" : credential,
                        "x-amz-date" : date,
                        "x-amz-signature" : sig

[2017-12-06 09:55] harshavardhana commented on #5255
This should be POST

[2017-12-06 09:58] RosscoMT commented on #5255
@harshavardhana get a 405 response now.

    Status Code: 405, Headers {
    "Accept-Ranges" =     (
        bytes
    );
    Connection =     (
        close
    );
    "Content-Type" =     (
        "application/xml"
    );
    Date =     (
        "Wed, 06 Dec 2017 09:56:58 GMT"
    );
    Server =     (
        "Minio/RELEASE.2017-11-22T19-55-46Z (linux; amd64)"
    );
    "Transfer-Encoding"

[2017-12-06 10:02] harshavardhana commented on #5255
Even this is wrong @evilelement `key` is not part of the URL.  Key is already part of the form-data, you only need is bucketName.

[2017-12-06 10:03] harshavardhana commented on #5255
Here is an example of a successful request

[code]

[2017-12-06 10:15] RosscoMT commented on #5255
@harshavardhana this look right URLRequest(url: URL(string: "http://13.80.27.206:9000/" + "\(formData["bucket"]!)" + "/")!)

[2017-12-06 10:19] harshavardhana commented on #5255
Yes that is correct @evilelement

[2017-12-06 10:39] RosscoMT commented on #5255
@harshavardhana   Using wireshark to capture the data interaction.

`POST /signatures/ HTTP/1.1
Host: 13.80.27.206:9000
Content-Type: multipart/form-data; boundary=F9ED1865-0ACE-40DB-9C8E-FF80DBB666B5
Connection: keep-alive
Accept: */*
Accept-Language: en-us
Content-Length: 809684
Accept-Encoding: gzip, deflate
User-Agent: Organised%20Health-iPad/1 CFNetwork/889.9 Darwin/17.2.0

ohimages/20171206/

[2017-12-06 17:21] harshavardhana commented on #5255
There seems to be some fields missing now. Can you post the server console message if any ?

[2017-12-06 23:52] #5267 closed, assigned to kaankabalak

[2017-12-06 23:53] deekoder commented on #5062
@y4m4 is working on this steadily. This is upcoming next as part of streamlining code.

[2017-12-06 23:55] deekoder commented on #4978
upcoming.

[2017-12-07 00:01] deekoder commented on #4620
Won't fix for now. Will revisit later in a more comprehensive manner.

[2017-12-07 00:01] #4620 closed, assigned to deekoder

[2017-12-07 00:03] deekoder commented on #4106
@krishnasrinivas  is going to check.

[2017-12-07 00:05] deekoder commented on #4025
Working on it now.

[2017-12-07 00:05] #4025 closed, assigned to poornas

[2017-12-07 00:06] #3892 closed, assigned to nobody

[2017-12-07 00:10] deekoder commented on #3815
We will consider fixing this in future via admin api feature.

[2017-12-07 00:10] #3815 closed, assigned to nobody

[2017-12-07 00:15] deekoder commented on #2386
This can be addressed later when we do a full overhaul and have the ability to dynamically generate the error messages struct to be exactly compatible with S3 error messages. For now we will close and revisit this after we complete error message fixes happening right now from @kannappanr

[2017-12-07 00:15] #2386 closed, assigned to nobody

[2017-12-07 00:18] deekoder commented on #2777
We dont have plans for partner level button integrations at this time. We will revisit this ask again when we plan to do partner level integration as buttons in the future.

[2017-12-07 00:18] #2777 closed, assigned to deekoder

[2017-12-07 00:19] deekoder commented on #2844
We need to add these as part of mint suite at a later time. Closing as won't fix in minio server repo here.

[2017-12-07 00:19] #2844 closed, assigned to nobody

[2017-12-07 00:24] deekoder commented on #3332
Work in progress by @kannappanr

[2017-12-07 00:28] deekoder commented on #4909
Ping @matti I will go ahead and close this issue. Please reactivate and reopen if you want to continue the discussion.

[2017-12-07 00:28] #4909 closed, assigned to fwessels

[2017-12-07 00:32] deekoder commented on #4818
@krisis  can we close this issue in this repo?

[2017-12-07 00:33] deekoder commented on #4830
We will do this after @poornas  completes the caching feature.

[2017-12-07 00:34] deekoder commented on #4831
@kannappanr  please take a look at the error message printed in this case.

[2017-12-07 00:35] deekoder commented on #4897
@matti  we are closing this for now. Please reopen if you want to have more discussion on this anytime.

[2017-12-07 00:35] #4897 closed, assigned to fwessels

[2017-12-07 01:10] donatello commented on #5271
@jhartley1 This is a rather difficult to reproduce issue - could you please try/answer the following and let me know:

1. Determine that there are no disk IO issues - log in to each one of the instances and
   - assuming the minio disk is mounted at /mnt/export, try:
   - `mkdir -p /mnt/export/<bucket-name>/<object-name>`
   - `touch /mnt/export/<bucket-name>/<object-name>/xl.json`
   If either of

[2017-12-07 01:29] jhartley1 commented on #5271
On one of the nodes, the disk ran out of inodes.  I only attempted file creation on one node and I was relying just on disk space metrics from `df`. That was a good call to double check all of them. It seems like that shouldn't be seen as an online disk during health check. Seeing the disks as online put me off guard for a disk error.

The issue occurred with PUT requests for new small objects (<

[2017-12-07 01:32] donatello commented on #5271
@jhartley1 Ah I see - what file system are you using? We usually recommend xfs.

[2017-12-07 01:34] jhartley1 commented on #5271
ext4, as that was the default for the external disks mounted through the volume claim. Is the file system recommendation in the docs?

edit: Glancing around, I don't actually know when the disk is formatted during provisioning.

[2017-12-07 01:45] donatello commented on #5271
@jhartley1 It is not in our docs yet - we will add it. Please migrate to XFS formatted disks. We did have a check for free inodes earlier, but ended up removing it because there seemed to be no clean cross platform solution at the time. We will revisit that decision too. In addition, we will be looking into adding some additional info in the log for quorum errors that would help reveal underlying

[2017-12-07 01:45] #5271 closed, assigned to donatello

[2017-12-07 01:53] donatello opened #5276 "Improve error message for quorum errors"
## Expected Behavior

When quorum errors happen, it would be useful to log the underlying per-disk error on the server that had a quorum error - this would reveal the underlying error and concerned disks more quickly.

## Current Behavior

Currently quorum errors do not provide any details about underlying per-disk errors.

## Context

In https://github.com/minio/minio/issues/5271 a quorum error w

[2017-12-07 01:58] krishnasrinivas commented on #5261
Previously it would return misleading invalid-bucket:
[code]

after the fix it returns a generic invalid-request:
[code]

[2017-12-07 01:58] donatello opened #5277 "Bring back minimum free inodes check?"
## Expected Behavior

Disks with no free inodes should be considered offline or at least produce an error message at server start up - as writes will fail, but reads will work.

## Current Behavior

The server does not check for free inodes, but does check for minimum free disk space (of 1GB) at start up. So if a disk has free space but no free inodes, it will have errors during writing.

## Possi

[2017-12-07 02:59] krishnasrinivas commented on #5261
There is a problem in the above fix. For make bucket of `aws-sdk-php-bucket-24013--` it fails with `InvalidRequest` instead of `InvalidBucket` which is not desirable. Google replies with a generic `invalid` requiest, i.e we will not know if GCS is talking about invali bucket name or some other invalid request. Hence we can leave the current behaviour as it is.

[2017-12-07 03:10] harshavardhana commented on #5135
Fixed by #5266 and #5256

[2017-12-07 03:10] #5135 closed, assigned to nitisht

[2017-12-07 04:10] plinss commented on #3567
Understood about the upstream go API limitation, but in the meanwhile it would be useful to at least have to option to bind to a single IP address. Specifically localhost so when running behind a proxy, such as Nginx for TLS termination/caching etc., we can prevent access that bypasses the proxy.

[2017-12-07 04:26] harshavardhana commented on #3567
The option to bind to single address is `minio server --address "localhost:9000"` . Does this not work for you @plinss?

[2017-12-07 04:30] plinss commented on #3567
That works for me, I actually just found it by digging through the code, didn't see that option in the docs anywhere.

(It would be nice to have in the config file as well.)

[2017-12-07 04:40] harshavardhana commented on #3567
FWIW our approach usually is a TLDR style, each command is self documented.  simply doing `minio server -h` gives you examples as well.

[code]

This is not done on purpose `--address` is a mutating entity and doesn't need a place in `config.json` where entries are largely static.

[2017-12-07 05:13] plinss commented on #3567
Understood, though the `minio <command> -h` option doesn't seem to be documented anywhere either... (and doesn't show for `minio -h` or `minio -h server`).

I do appreciate the TLDR style to get started quickly, but I'm finding the docs quite sparse when looking for details... (but that's getting off topic, will file separate issues for missing info).

I disagree, IP addresses don't change often o

[2017-12-07 11:44] reshadman opened #5279 "Bucket policies disable object listing"
How to disable object listing when bucket policy is public/download?

Is it possible to set policies other than (public, download, upload) abstractions? are they fully supported?

[2017-12-07 13:31] vadmeste commented on #5279
@reshadman, Minio server supports it, but mc and Minio SDKs don't.

You need to use other tools for that purpose. aws cli or aws SDKs can do that.

[2017-12-07 17:27] krisis commented on #4818
@deekoder yes we can close this issue.

[2017-12-07 20:49] harshavardhana commented on #5279
https://gist.github.com/harshavardhana/400558963e4dfe3709623203222ed30c here is a doc about explanation on bucket policies @reshadman

[2017-12-07 20:58] #5279 closed, assigned to vadmeste

[2017-12-07 23:37] krishnasrinivas commented on #5261
@ruslan-polutsygan we will close the issue because of the lack of distinct error responses from GCS. If this becomes an issue, we can relook at this in future.

[2017-12-07 23:37] #5261 closed, assigned to krishnasrinivas

[2017-12-08 02:42] krishnasrinivas commented on #4929
@mindscratch currently the server is not responding with any content-type. Why do you think it responds with content-type based on the object name?

[2017-12-08 07:44] ruslan-polutsygan commented on #5261
thanks

[2017-12-08 10:50] krisis commented on #5190
@davidgeorgealex the logs seen in https://github.com/minio/minio/issues/5190#issuecomment-347139708
are expected. During the listing operation, minio server checks if a given path is a prefix or an object. This check is performed on the disks, one after another, until it returns successfully. Since one disk is down, it returns "disk not found from net error" which is printed on the console.

Furth

[2017-12-08 10:59] krisis commented on #5190
@davidgeorgealex, could you run `docker-compose -f docker-compose.txt run minio1 version` on your setup? I am unable to recreate this issue with the latest minio server and minio-3.0.10-all.jar. Could you check if you continue to see this issue after moving to latest minio-server and minio-java releases?

[2017-12-08 12:24] mindscratch commented on #4929
@krishnasrinivas Previously if I uploaded a file with Content-Type "text/plain" but the file name as "mydoc.pdf", when I would download it from the UI the response header would have Content-Type as "application/pdf", instead of "text/plain". I just started up the latest minio and its behaving differently, when clicking on a file the UI it now makes a request to `http://localhost:9000/minio/webrpc`

[2017-12-08 20:40] krishnasrinivas commented on #4106
It takes less than 3 seconds now, will close this.

[2017-12-08 20:40] #4106 closed, assigned to krishnasrinivas

[2017-12-08 20:48] krishnasrinivas opened #5283 "Break format.json into two smaller json files"
As of now migrating format.json to a higher version is confusing as it contains fs and xl related information in the same struct. This problem was encountered when trying to migrate the format.json to indicate the change in backend structure for multipart (where we dont support directory hierarchy). Had a discussion here and the following solution was decided:

Break `format.json`:
[code]

into:
f

[2017-12-09 06:52] develar opened #5285 "Multiple HTTP ranges are not supported"
## Expected Behavior

`Range: bytes=200-1000, 2000-6576` must be supported.

## Current Behavior

[code]

## Possible Solution

Quite strange for me, because yes, — there are no NodeJS libraries for correctly handle Range headers and in my tests I use Go app `ran`. But `minio` is also written in Go, so, not clear why you have own incomplete Range parser (https://github.com/minio/minio/blob/master/

[2017-12-09 06:59] harshavardhana commented on #5285
Yes this is expected AWS S3 doesn't support multiple ranges and Minio tries to be S3 compatible.

http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectGET.html

[2017-12-09 07:12] develar commented on #5285
Thanks for quick answer, that's interesting, I haven't yet tested S3 because was sure that it works :(

Do you plan to support or want to be compatible even in context of restrictions?

[2017-12-09 07:12] develar commented on #5285
It seems S3 restricted because you pay for request number :)

[2017-12-09 08:53] harshavardhana commented on #5285
We want to be compatible as much as possible, and not introduce things around existing spec. When AWS S3 implements multiple ranges we will comply.

[2017-12-09 09:11] develar commented on #5285
@harshavardhana Ok. I have disabled multiple ranges for S3 and Minio. It leads to a lot of GET requests, but it is ok in general. Thanks for a quick communication.

[2017-12-09 09:11] #5285 closed, assigned to nobody

[2017-12-09 10:23] reshadman commented on #5279
@harshavardhana thanks
I use the following to allow GetObject and disable BucketList but I can not access the file publicly when I deny the bucket list:
[code]

[2017-12-09 10:30] harshavardhana commented on #5279
The policy is incorrect @reshadman  you need to replace `arn:aws:s3:::%s` where `%s` should be replaced with actual bucket name.  Also in case of `s3:ListBucket` you don't need to explicitly mention it to be `Deny` You can simply remove it here is the simplest policy you need.

[code]

[2017-12-09 13:32] reshadman commented on #5279
@harshavardhana  Still , I can see the object listing in minio web GUI, I used your snippet on my newly created bucket, and then uploaded multiple files, I can see the full list in my minio web GUI without entering my secrets.

[2017-12-09 18:27] harshavardhana commented on #5279
I see now this is a behavior in our browser implementation which honors `s3:GetObject` just like `s3:ListBucket` since in UI is not useful if we cannot List the objects users have read-only access.  So if `s3:GetObject` is provided we simply just list anyways.

In a scenario that you have its best to turn off the browser since you won't have much use for it by starting minio server with `MINIO_BRO

[2017-12-10 11:36] reshadman commented on #5279
I see, thanks, this solves my problem, anyway is this logically accepted? the web rpc endpoint will generate unexpected behaviours. as this is not mentioned anywhere in the docs,  is it not better for web endpoint to be a gateway around the internal s3 api gateway?

[2017-12-10 11:42] harshavardhana commented on #5279
webRPC implements a completely different implementation altogether other than S3 API. WebRPC is not implementing or complying with S3 API implementation and behavior,  The reason its not published is also because since this an expected behavior for primarily browser users.  WebRPC is an internal API and not meant for external consumption.

What we can additionally do is avoid listing if `s3:ListBu

[2017-12-10 12:17] aead opened #5286 "[admin API] admin config set can kill server"
The `mc admin config set` command can kill the server.
The problem is that a client can get the JSON config from the server and duplicate some entries.
If the client uploads the new config the server will unmarshal the JSON config and do some checks.
However the unmarshal ignores duplicate entries. The problem is that the whole client-provided config
is stored which may lead to duplicate entries i

[2017-12-11 11:55] davidgeorgealex commented on #5190
@krisis Even with the latest libraries, I'm still facing an issue. Sometimes it works, but sometimes I got:
`minio1_1  | time="2017-12-11T11:52:58Z" level=error msg="Unable to stat a file photos/testaavMon Dec 11 13:52:50 EET 2017.json/xl.json" cause="disk not found from net error" source="[xl-v1-common.go:67:xlObjects.isObject()]"
minio1_1  | time="2017-12-11T11:52:58Z" level=error msg="Unable to

[2017-12-11 11:56] davidgeorgealex commented on #5190
The file that I try to upload is very small (it just contains `{
    "data" : "testing file for Minio java client uploader"
}
` as string

[2017-12-11 19:22] kaankabalak opened #5287 "When sidebar is enabled on mobile view, checkbox outlines are shown over sidebar on file hover"
## Expected Behavior

When the sidebar is shown on mobile view and the user hovers over the files from the portion where file attributes are still displayed, the outlines of checkboxes of the files shouldn't be seen over the sidebar.

## Current Behavior

When the sidebar is shown on mobile view and the user hovers over the files from the portion where file attributes are still displayed, the outl

[2017-12-12 00:56] deekoder commented on #5204
@MontyGvMC  closing this for now. Please reactivate if you'd like to discuss this further with us.

[2017-12-12 00:56] #5204 closed, assigned to poornas

[2017-12-12 07:23] davidgeorgealex commented on #5190
@krisis Please find new reproducer files:
[docker.tar.gz](https://github.com/minio/minio/files/1550571/docker.tar.gz)
[docker-compose.yml.tar.gz](https://github.com/minio/minio/files/1550577/docker-compose.yml.tar.gz)
[java.tar.gz](https://github.com/minio/minio/files/1550572/java.tar.gz)

The docker.tar.gz contains the files for creating Docker image (custom image with Minio&MC and some healing s

[2017-12-12 08:55] harshavardhana commented on #5283
@krishnasrinivas since we are not doing this approach i think this can be closed.

[2017-12-12 08:56] harshavardhana commented on #5277
Not sure if we can bring this back in a more platform friendly way, perhaps only for Linux we could do this.

[2017-12-12 09:03] #5283 closed, assigned to nobody

[2017-12-13 09:13] davidgeorgealex commented on #5092
Hi guys, do you have an update on this? I'm still facing issues with a Minio cluster deployed on AWS (3 EC2, each with 1 Minio instance). If I stop an instance (from AWS console), then the cluster becomes unresponsive (tried to run `mc ls <<minio-instance>>). I get a timeout, but after around 20mins of waiting. Also, after around 40mins it seams like Minio see that the instance is offline and the

[2017-12-13 09:47] davidgeorgealex commented on #5092
Another interesting fact is that I'm not able to run `mc ls play`, even if `play` is the default env. Also if I run `mc config host ls` I get `play :  https://play.minio.io:9000      Q3AM3UQ867SPQQA43P2F  zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG  S3v4`.

Please note that I'm using Docker, so my EC2 instances contains a docker container.
Minio version: RELEASE.2017-11-22T19-55-46Z

[2017-12-13 19:25] #4416 closed, assigned to nobody

[2017-12-13 21:36] worthwhileindustries commented on #4914
@nitisht any love on this?

[2017-12-14 02:47] nitisht commented on #4914
@worthwhileindustries sorry I have not been able to get back to this. Will do this very soon and report back.

[2017-12-14 02:55] nitisht commented on #4997
Bumping priority due to client requirements.

[2017-12-14 06:46] davidgeorgealex commented on #5092
Tried to stop the AWS instance using `shutdown` as well and it's the same behavior (unresponsive cluster). If I just kill the docker container that sits on that instance (`docker kill`), the cluster continue to work

[2017-12-14 09:32] vadmeste commented on #5092
@davidgeorgealex, can you open a new issue? it is probably easier to examine your use case first. Can you paste your docker-compose file ?

[2017-12-14 10:53] davidgeorgealex opened #5290 "If one out of three AWS instances goes down, then the Minio cluster becomes unresponsive"
I have a setup with three EC2 instances, each with 1 docker container with 2 disks.
The cluster starts successfully and I can perform operations on it (using `mc`).
If I `docker kill` a node, then the cluster continue to work, because just 2 out of 6 disks are down.
If I terminate the EC2 instance (from the AWS console UI - stop or terminate), then the cluster becomes unresponsive. I cannot perfor

[2017-12-14 10:59] vadmeste commented on #5290
@davidgeorgealex, does the cluster come back if you wait some minutes without restarting the failed node ?

[2017-12-14 11:01] davidgeorgealex commented on #5290
@vadmeste It happen like this on the first try, but on the second one it didn't.

[2017-12-14 12:33] harshavardhana commented on #5290
@davidgeorgealex are you using swarm networking on EC2 instances? also is it possible for you to reach other nodes after the `ec2` instance is down by logging into the nodes which are up?

Like for example if you `ping` those nodes what is output? - from what i can guess from the behavior EC2 shutdown takes swarm networking down as well and we are hitting some sort of a bug here.

Just to avoid do

[2017-12-14 23:03] aead opened #5291 "race condition bug in minio http server"
The minio http server contains a race condition bug caused by a shared pointer of tls.Config.
Take a look at the following [line](https://github.com/minio/minio/blob/master/pkg/http/server.go#L67). The comment says: "Take a copy" but we don't copy - we share the pointer. This can lead to race conditions when the tls.Config is accessed from the code which spans the server and the server itself.

##

[2017-12-15 01:31] fwessels commented on #5291
Nice catch -- are there any other places in the code where the same mistake could be made?

[2017-12-15 03:03] h12w commented on #4526
I happen to see this code. It is is a wrong or at least inefficient way of using gob.

Gob encodes a type declaration when a type is transferred for the first time in a stream. So the client and the server must have the same understanding what a stream is in order to use gob correctly and efficiently.

By creating gob.Decoder each time of marshaling, either a request sent from a client that assume

[2017-12-15 03:36] harshavardhana commented on #4526
Thanks for pointing it out, the code was meant to be an example @h12w .  For efficient usage you should create a gob.NewEncoder, Decoder using the net.Conn itself and use it for all the requests subsequently.

[2017-12-15 07:35] davidgeorgealex commented on #5290
@harshavardhana I'm not using swarm. If I bring down instance3 for example, from instance1 I'm able to ping instance2 on the host IP. Also from the inside of containers (`docker exec -it <<id>> sh`), I'm able to ping the other containers as well (I got the IPs from `docker network inspect <<network>>`). This is applicable the other way around, pinging from instance2 to instance1. In a matter of la

[2017-12-15 07:41] kannappanr opened #5296 "docs: Configuration guide needs to be updated"
The configuration guide at https://docs.minio.io/docs/minio-server-configuration-guide says the current version is 18. The current version is 21.

Also link to documentation about Notification using mysql is missing.

[2017-12-15 07:47] harshavardhana commented on #5290
Lets say if you try to do `telnet`  ip1 port 9000 and so forth for all ips is it possible? . We have to do this test under two cases as you reproduced

 - Taking ec2 instance down
 - Taking container down using `docker kill`

[2017-12-15 07:57] MontyGvMC commented on #5204
Well, still trying to implement a webhook receiver in .NET Core 2.0

So far I configured the web hook in the minio config
But when it starts I receive the following error mesage:

The webhook receiver is started and working (tested with postman).
MinioWebHookController holds a POST method receiving the Json as JObject from the POST body.
It is defined to produce and consume "application/json".

Wh

[2017-12-15 07:59] harshavardhana commented on #5204
At first minio tries to connect to the server @MontyGvMC that would be without application/json - performing a POST without any body.

[code]

[2017-12-15 08:00] davidgeorgealex commented on #5290
@harshavardhana I have 3 IP's 10.0.97.21, 10.0.97.22, 10.0.97.23.
When all 3 EC2 are up, I get success for all cases (21->22, 21-23, 22->21, ....)
`sudo telnet 10.0.97.23 9000
Trying 10.0.97.21...
Connected to 10.0.97.21.
Escape character is '^]'.`

If I kill container from .23 instance, I get success (as above) between .21 and .22 and to .23 I get:
`sudo telnet 10.0.97.23 9000
Trying 10.0.97.23..

[2017-12-15 08:03] harshavardhana commented on #5290
So the IP is still around just that docker replies back `connection` refused since no registered service.

This is also correct as expected.

[2017-12-15 08:03] harshavardhana commented on #5290
Are you doing `telnet` from the host EC2 instance or inside the container?

[2017-12-15 08:04] davidgeorgealex commented on #5290
from the host.. I will try from the container as well

[2017-12-15 08:15] MontyGvMC commented on #5204
@harshavardhana Thank you. That helped me. Need some time to figure out how to do the routing configuration in .NET Core and report back when I got it solved. I am close :-)

[2017-12-15 08:17] davidgeorgealex commented on #5290
Even If all 3 instances are up, from the container, I cannot telnet to another container (the command just wait without any response - `telnet 20.1.0.3 9000`). Also, I cannot telnet to another EC2 instance IP (`telnet 10.0.97.22 9000`).
The ping is working (`ping 20.1.0.3
PING 20.1.0.3 (20.1.0.3): 56 data bytes
64 bytes from 20.1.0.3: seq=0 ttl=64 time=0.505 ms
64 bytes from 20.1.0.3: seq=1 ttl=64

[2017-12-15 08:36] MontyGvMC commented on #5204
@harshavardhana The expected media type that should be received and returned is "application/json", right?

[2017-12-15 09:17] harshavardhana commented on #5204
Yes notification data is in json. There is no requirement on the media type. You shouldn't have handlers specifically for contentType as application/json it's not necessary.

[2017-12-15 09:29] davidgeorgealex commented on #5290
I tried without Docker (EC2 instances with Minio binaries) and it's working.. so it seams like the issue is related to the Docker communication.

[2017-12-15 09:33] harshavardhana commented on #5290
Yes that is what i suspected there must be some bug in the network routing when instances are killed off without doing a clean docker shutdown. would it be possible for you to gather docker logs from all instances and share it here.

We can perhaps try to peek into situations when EC2 is down what happens to other containers communicating in the overlay network.

[2017-12-15 09:58] davidgeorgealex commented on #5290
I've started all 3 instances, then stop the third one. I've attached the logs. Even if I stopped the third instance, and from the first one I try to run `mc ls`, in the logs I don't see any errors/warnings due to missing disks. I will let this cluster running with one instance down for at least 1h to see what is the result then. Also I will upload again the logs if something will be new there.
[c1

[2017-12-15 10:17] MontyGvMC commented on #5204
Currently trying my luck with the routing problem over there on StackOverflow.com [.NET Core 2.0 Web API Controller routing (POST with optional [FromBody] Parameter) for receiving web hooks](https://stackoverflow.com/questions/47830126/net-core-2-0-web-api-controller-routing-post-with-optional-frombody-paramete)

[2017-12-15 10:33] MontyGvMC commented on #5204
@harshavardhana
In the mean time I recognized I have to [configure in minio which events](https://blog.minio.io/introducing-webhooks-for-minio-e2c3ad26deb2) are sent to the endpoint.

My current setup involes

- a Windows 7 PC
- running the minio.exe on port 9000 directly (for easier config changes and since it didn't run on docker for windows, never was able to get the browser interface)
- Visual

[2017-12-15 10:44] harshavardhana commented on #5204
[code]

This should be configured pointing to your endpoint on port 9000 and then you can perform `mc events` on a bucket where you would be generally interested in events, suffixes/prefixes of the object.

[2017-12-15 10:48] harshavardhana commented on #5290
@davidgeorgealex i meant `docker` daemon logs not docker container logs for minio.  You might have to reproduce the hanging issue you mentioned when taking down EC2 instance without using `docker kill`

[2017-12-15 11:52] MontyGvMC commented on #5204
Well, thank you so far. I will have to wait for monday until I can further try to get things running. Have a nice weekend.

[2017-12-15 12:15] davidgeorgealex commented on #5290
@harshavardhana I've reproduced the same "hang" behavior stopping the docker daemon on one instance (`sudo service docker stop`). Now the cluster cannot be used on the other two instances.
I've gather the docker daemon logs before the "stop" and after.
[c1AfterStop.txt](https://github.com/minio/minio/files/1562614/c1AfterStop.txt)
[c1BeforeStop.txt](https://github.com/minio/minio/files/1562615/c1B

[2017-12-15 12:19] mvrhov commented on #5199
He's another request from one that would require the same functionality as OP

[2017-12-15 12:21] davidgeorgealex commented on #5290
Killing and starting the container (`docker kill <<id>>`) doesn't bring anything new to the daemon logs

[2017-12-15 12:45] harshavardhana commented on #5290
Now trying locally docker-compose even with `docker stop` or `docker kill` things keep running fine @davidgeorgealex

Looks like from the logs that you shared `serf` tool from consul is interfering with the networking and is sort of managing the network membership, with reconnect attempts every 30 secs and upto 4mins and still progressing.

Here is how i tested locally, start a 4 node setup locall

[2017-12-15 12:49] davidgeorgealex commented on #5290
@harshavardhana using `docker stop` or `docker kill` on one container, leads to a working setup for me as well. The problem is when I stop EC2 instance (from AWS UI or `shutdown` in the console) or when I stop docker daemon service. Interesting thing with `serf` and consul (we have consul). There is something more I can check on this path?

[2017-12-15 12:58] davidgeorgealex commented on #5290
Related to your questions, we are not using EC2 container service.

[2017-12-15 14:04] vadmeste commented on #5092
Well, I am able to reproduce this with vagrant and without docker or docker swarm.

`mc ls` doesn't respond, although a simple curl command is responsive.

`mc admin lock --duration 0s myminio/testbucket` also shows some waiting locks.

[code]

This is probably a dsync issue.. calling the failing node probably doesn't return an error only after a long timeout. Will check more and update.

[2017-12-15 14:14] aead commented on #5291
Probably... For example 4 lines further down: https://github.com/minio/minio/blob/master/pkg/http/server.go#L72 - We don't copy the slice... However it's very unlikely that somebody changes the addresses - nevertheless we should fix it, too.

[2017-12-15 14:57] sbala69gmail opened #5297 "How to change the bucket length"
Hi,
I want to change the bucket name in 2 digit.  Is it any possible?

[2017-12-15 15:02] dexafree opened #5298 "SignatureDoesNotMatch on browser-generated public links without port"
I just installed minio on a computer I have exposed to internet for my personal projects.

I installed it using a `docker-compose.yml` with the following contents:

[code]

For the record, I have it exposed behind an NGINX reverse proxy and a self-signed HTTPS cert. I've already tried with other servers, such as Caddy.

The NGINX config is the following:

[code]

Everything worked as a charm, I co

[2017-12-15 15:12] vadmeste commented on #5092
I am using the latest Minio release. DSYNC_LOG is enabled.

The cluster gets stuck.. for long minutes.. when it gets back.. the following logs are printed..

[code]
Then the normal cluster behavior is back,

Now it prints similar error messages, which is a normal thing, since the failed node is still offline.

[code]

I never examined the code of dsync code before.. but I guess there is a problem

[2017-12-15 15:26] vadmeste commented on #5092
Also I guess `no route to host` is causing this.. because we probably only tested with `Connection refused` error or probably other network errors.

[2017-12-15 15:45] dexafree commented on #5298
I close this issue myself, as I've just found why it wasn't working.
After hours of research, I realized that I missed the Host directive on both reverse proxy configurations I had set.

For completeness, I missed those ones:

**Nginx**

[code]

**Caddyfile**

[code]

Closing as it's not a minio bug.

[2017-12-15 15:45] #5298 closed, assigned to nobody

[2017-12-15 15:47] balamurugana commented on #5291
The idea of taking copy of server fields is to safely start the server irrespective of field value changes.  As `addrs` argument is to `NewServer()`, we would need to safely store.  Basically `Addrs` should be a `set.StringSet` and `NewServer()` could create the set from the inputted `addrs`

[2017-12-15 15:49] nitisht commented on #5297
@sbala69gmail Minio is S3 compatible and S3 Bucket names should be at least 3 characters long. Ref: http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html

[2017-12-15 15:50] nitisht commented on #5297
Closing this as working as intended, for further questions please join us on Slack: https://slack.minio.io

[2017-12-15 15:50] #5297 closed, assigned to nobody

[2017-12-15 16:13] vadmeste commented on #5092
I am much closer now.

If I comment the following `if` block: https://github.com/minio/minio/blob/8c08571cd9e6c69cc911f88828b174efdd9caef1/cmd/net-rpc-client.go#L62

then the problem will disappear.

Need more investigation

[2017-12-15 16:20] aead commented on #5291
Correct. The straight-farword solution (IMO) to this would be:
[code]

[2017-12-15 19:36] harshavardhana commented on #5298
FWIW @dexafree its clearly mentioned in https://docs.minio.io/docs/setup-nginx-proxy-with-minio

[2017-12-15 20:11] vadmeste commented on #5092
I really thought this change can fix the problem.. but it didn't..

https://github.com/vadmeste/minio/commit/29d799b2be0bce90e96499ba399b1ac46f410d58

Will update tomorrow on this.

[2017-12-15 20:33] #4781 closed, assigned to harshavardhana

[2017-12-15 20:36] #5287 closed, assigned to kaankabalak

[2017-12-15 22:11] fwessels commented on #5291
Yes, please fix

[2017-12-15 23:41] Vjust opened #5301 "Accessing minio server via boto api"
An existing django app uses S3 via boto2 .  Now we want to port it to use minio, with (hopefully) minimal code changes . (i.e. our media is currently on AWS / s3 storage,  we want to move it out to our own minio server 192.168.x.x - hopefully  the existing boto code/calls will be able to manage the media under minio).

## What works
1) _AWS cli works fine_ : "aws --end-point 192.168.x.x:9000  s3 l

[2017-12-16 01:51] balamurugana commented on #5291
I won't prefer this patching.  As I mentioned above, we should fix properly by using `set.StringSet` which fixes completely i.e. no more duplicate `addr` where we error out later.

[2017-12-16 02:30] worthwhileindustries commented on #4914
@nitisht I was able to get this working on Drupal 8.4 with module 8.x-3.0-alpha8 released 15 September 2017

docker compose file
[code]

settings.php in drupal folder. haven't tried using actual configs yet but, it works.
[code]

[2017-12-16 02:30] #4914 closed, assigned to nitisht

[2017-12-16 03:30] nitisht commented on #4914
This is great! Thanks @worthwhileindustries we will document this.

[2017-12-16 04:55] harshavardhana commented on #5301
Have you looked at https://docs.minio.io/docs/how-to-use-aws-sdk-for-python-with-minio-server ?

[2017-12-16 10:57] aead commented on #5291
While I agree that we should fix duplicate addresses I still would not do this in `Start`.
It looks odd from an API point of view if I can create a server with duplicate addresses but cannot start it:
[code]
or do you want to just ignore duplicates and not error out?

[2017-12-16 11:53] dexafree commented on #5298
Yes, after spending some hours researching I found that section on the docs (I must have missed it while looking on the docs).
When I found it I compared the configs, and realized I was missing the Host header.

Sorry!

[2017-12-17 00:37] harshavardhana commented on #5255
Were you able to properly do a multipart form request?

[2017-12-17 00:38] harshavardhana commented on #5254
@dingjs sorry for responding late, haven't had time to reproduce this. Will be looking at this soon.

[2017-12-17 00:49] RosscoMT commented on #5255
Hey @harshavardhana no joy sadly. Sorry for the delay I am waiting on my backend guy to send me through the server console messages. Both of us are working on different things.

[2017-12-17 01:29] balamurugana commented on #5291
You are right.  The exact way of fixing this problem is like below
1. Change `Addrs` field type to `set.StringSet` from `[]string` currently.
2. In `NewServer()`, assign `addrs` arg to `Addrs` by `set.CreateStringSet(addrs...)`
3. In `Start()`, have `addrs = srv.Addrs.ToSlice()`

Here, duplicate addrs are ignored i.e. no error is thrown. As `Addrs` is a `set.StringSet` there is no way user adds/mo

[2017-12-17 07:52] dingjs commented on #5254
@harshavardhana Thanks.

[2017-12-17 15:12] harshavardhana opened #5302 "[feature] Explore possibility of supporting encrypted private keys"
## Expected Behavior
We support and decrypt private keys used for server TLS configuration.
We do not support encrypted private keys used for TLS support

## Current Behavior
We do not support encrypted private keys used for TLS support

[code]

## Possible Solution
Go already supports this https://github.com/golang/go/issues/10181#issuecomment-82072510

## Steps to Reproduce (for bugs)

1. Start

[2017-12-17 21:14] reshadman opened #5303 "Different signatures calculated from client and server"
I use aws php sdk in my Laravel app to interact with minio. When I upload a file and then immediately access it I get a 403 error, which tells me the client's provided signature is wrong
## Expected Behavior
When I upload a file I should be able to immediately view it. but currently I can not.

## Current Behavior
After I upload a file with aws-php-sdk I can not access it for exactly one minute. (

[2017-12-18 00:22] harshavardhana commented on #5303
What is the exact error that you see, i.e the response body other than http status 403 ? Can you enable env MINIO_HTTP_TRACE=1 for Minio server and provide us the console logs?

[2017-12-18 02:19] frntn commented on #2692
@theonewolf not yet documented but SSE-C is available now thanks to PR #4894
I have successfully tested it with this version
[code]

[2017-12-18 04:29] Vjust commented on #5301
Thanks. Will try this out.

[2017-12-18 07:10] reshadman commented on #5303
@harshavardhana It seems the problem is because of putting cloudflare in front of minio, I also have checked that the request is logged in the console from the server, Do you have any suggestions on this?

[2017-12-18 07:13] harshavardhana commented on #5303
If cloudflare modifies the request in any manner by adding and removing headers then it is quite possible to see these errors.  You might have to check if cloudflare has an option to turn off mangling with request headers.

[2017-12-18 07:39] #5303 closed, assigned to krisis

[2017-12-18 08:11] akaFalsh opened #5304 "Error when using gateway for OCI(Oracle cluster infrastructure) S3 storage"
I am trying to use minio as a gateway to OCI(Oracle cluster infrastructure) S3 storage.

## Expected Behavior
I had configured minio as gateway to OCI(Oracle cluster infrastructure) S3 storage as it is described in manual. Filled in all needed:
1) Exported needed keys:
export MINIO_ACCESS_KEY=ocid1.credential.oc1.xxxxx
export MINIO_SECRET_KEY=xxxxxxxxxxx
export MINIO_REGION="eu-frankfurt-1"
2) Sta

[2017-12-18 08:29] MontyGvMC commented on #5204
@harshavardhana I wish you a good snowy monday morning.

With the help of [stackoverflow](https://stackoverflow.com/questions/47830126/net-core-2-0-web-api-controller-routing-post-with-optional-frombody-paramete/47830270#47830270) I managed to find a working routing configuration (and .NET Core 2.0 implementation) of the receving endpoint (code below). At least when I test it with postman.

If I u

[2017-12-18 08:40] harshavardhana commented on #5304
What happens when you do not set MINIO_REGION ?

[2017-12-18 08:47] mvrhov opened #5305 "Multiple access and secret key pairs"
## Expected Behavior
Have the ability to specif multiple Access/secret key pairs.

## Current Behavior
Only one access and secret key available.

## Context
We would like to give the access to the bucket to multiple 3rd parties. Each of them should have it's own pair that we can disable if he starts to abuse the storage access

[2017-12-18 09:02] akaFalsh commented on #5304
The same error still occurs even when MINIO_REGION is not set.

[2017-12-18 09:29] MontyGvMC commented on #5204
I was able to pin down the issue.

Can it be that the POST request at start up sends a different or no content type?

[2017-12-18 10:11] harshavardhana commented on #5204
Yes that is correct I indicated that here https://github.com/minio/minio/issues/5204#issuecomment-351938793

[2017-12-18 10:28] harshavardhana commented on #5304
In S3 gateway we use minio-go SDK to make a GetBucketLocation() call to ensure that we get the right location of the bucket that you are trying to access, also ListBuckets() is called as well which uses `us-east-1` as the region.

The code works fine with AWS S3 and Minio - does OCI work differently? are there any docs which provide details on what are the default region requirements? also does OC

[2017-12-18 10:29] MontyGvMC commented on #5204
Sure, you are right. Seems I forgot it since you mentioned it.

So far this seems to be a problem for .NET Core routing. But I will keep trying to find a solution on the .NET Core side.

Any chances this will be configurable or change so both requests send the same content-type some point in the future?

[2017-12-18 10:42] harshavardhana commented on #5204
We used to have verification request as JSON but we changed it and perhaps we forgot the reason why we had JSON before and incorrectly fixed it. We should fix it perhaps and keep it as JSON to make application routing much simpler/stricter

Relevant commit ad53c5d8594dd4f6dad7c56824910b6dda1f47af

BTW in your situation here @MontyGvMC you don't need to route based on `content-type` instead your ro

[2017-12-18 10:49] MontyGvMC commented on #5204
I understand that I should not route based on content-type. But this part of the routing is handled somewhere deeper inside .NET Core. My controller method do not even get called when the framework returns 415 Unsupported Media Type. It is a mixture between the .net core routing and the .net core (automated) model bindig.

With my knowledge (so far) I think the only way to get this to work would b

[2017-12-18 11:00] harshavardhana commented on #5304
Found it https://docs.us-phoenix-1.oraclecloud.com/Content/Object/Tasks/s3compatibleapi.htm#notableDifferences there are quite a few notable differences and it is not fully S3 compatible.  `minio gateway s3` will not work with OCI, Minio S3 gateway implementation expects the remote server to be fully S3 compatible.

We need to implement a newer gateway which supports OCI natively in this scenario.

[2017-12-18 11:05] nitisht commented on #5305
@mvrhov We are going to implement https://github.com/minio/mfs can you please take a look there

[2017-12-18 11:20] akaFalsh commented on #5304
It would be nice to have this feature.

[2017-12-18 12:02] harshavardhana commented on #5305
MSF is a minio federation project currently under progress, which would implement support for multi access keys as one of the feature.

[2017-12-18 12:04] mvrhov commented on #5305
Thanks for letting me know. Any chance this remains open until this is implemented. So I can automatically get a notification.

[2017-12-18 13:07] frntn commented on #2692
Nevermind... here is the "doc" : https://github.com/minio/cookbook/blob/master/docs/how-to-use-minio-server-side-encryption-with-aws-cli.md

[2017-12-18 15:54] nakamuraagatha opened #5307 "SVG format not support?"
I was upload svg format but not show on my website

## Expected Behavior

Please add / support svg

## Your Environment
* Version used (`minio version`): Latest
* Environment name and version : nginx 1.9.1
* Server type and version: Digitalocean Ubuntu 16.04
* Operating System and version : Ubuntu
* Link to your project:

[2017-12-18 17:48] aead commented on #5302
Possible fix:
1. User provides password as ENV_VAR (or CLI argument).
2. Instead of directly loading the key like [this](https://github.com/minio/minio/blob/master/cmd/certs.go#L103) we load the key using `crypto/x509`.
 With `x509` we can handle encrypted RSA and ECDSA keys.

[2017-12-18 18:02] Vjust commented on #5301
This works.

By any chance, is there a  boto2 solution? - the current app is using boto2, and I 'd ideally minimize code changes.

[2017-12-18 22:29] kannappanr commented on #5307
@nakamuraagatha I do not see any reason, why this would fail. Just as a sanity check, I did test it on the latest released version of minio (RELEASE.2017-11-22T19-55-46Z). All formats are supported. Can you add more information? Are you using the released version of minio, if so, the version used. Do you have an existing bucket that you want to upload the SVG file to?. How are you doing this test?

[2017-12-19 00:10] theonewolf commented on #2692
Oh wow!  Thanks for the update @frntn!

[2017-12-19 01:02] deekoder commented on #4211
We will consider this in the future after our current roadmap items are done. Will close for now.

[2017-12-19 01:02] #4211 closed, assigned to abperiasamy

[2017-12-19 01:04] deekoder commented on #4224
We will do this later. Closing as won't fix for now. Will reopen this when we have completed everything on our current roadmap.

[2017-12-19 01:04] #4224 closed, assigned to rushenn

[2017-12-19 01:52] harshavardhana commented on #5301
Since boto2 is legacy we never documented it. But can give you a simple snippet ..

[2017-12-19 09:43] glensc opened #5309 "Managing free disk space"
really hard to find any documentation about the disk space requirement.
- [min-free-disk 100M](https://github.com/minio/minio/issues/2780#issuecomment-249679435) no longer exists
- [fsMinSpacePercent](https://github.com/minio/minio/issues/2780#issuecomment-249695660) seems to be present in source code only

so it's still hardcoded `5%`? can i configure free-blocks `3GiB` instead?

## Context

I fi

[2017-12-19 10:06] harshavardhana commented on #5309
No it is not possible to be configure this value @glensc minimum disk space required is 1GiB

[code]

[2017-12-19 10:36] glensc commented on #5309
@harshavardhana to be precisely clear: it's always 1GiB free  space required? trying to figure out how to set monitoring to alert.

[2017-12-19 10:38] glensc commented on #5309
future me, the source that @harshavardhana linked is here:
https://github.com/minio/minio/blob/3d0dced23c45abd8a511831891e2166209766fc4/cmd/posix.go#L35-L37

[2017-12-19 10:50] harshavardhana commented on #5309
Yes its always 1GiB @glensc

[2017-12-19 12:43] davidgeorgealex commented on #5190
@krisis Do you have any updates on this?

Thanks!

[2017-12-19 12:45] davidgeorgealex commented on #5290
@harshavardhana Do you think this problem can have the same root cause as https://github.com/minio/minio/issues/5092? The fact that the problem was reproduced in a non-AWS/non-Docker environment made me think yes.

[2017-12-19 13:06] harshavardhana commented on #5290
Most probably yes.

[2017-12-19 13:24] MontyGvMC commented on #5204
With the help of Lennart over there on stackoverflow I f(actually he) figured out how to implement a webhook receiver and how to get it working with the default model binder. The trick is to avoid the default model binder at all.

I was able to test it and receive both: the initial lookup event as well as other notifications (objects created,....).

The working implementation:

[code]
It is not fi

[2017-12-19 14:35] #5196 closed, assigned to deekoder

[2017-12-19 16:35] #5309 closed, assigned to nobody

[2017-12-19 19:32] kannappanr commented on #4228
@swills We are simplifying the config.json and are no longer supporting logging to a file. As part of daemonizing minio executable, the user has to redirect the output to a file.

As far as the ability to change the config value via command line. We have a task in pipeline that will allow you do that via `mc admin` command.

As far as daemonizing minio with a commmand line option, we will talk ove

[2017-12-19 19:32] #4228 closed, assigned to nobody

[2017-12-20 03:50] nitisht commented on #5305
@mvrhov you can just _watch_ https://github.com/minio/mfs for notifications on that project. IMO we can close this issue.

[2017-12-20 07:04] mvrhov commented on #5305
Yeah, but watching the project pollutes my inbox

[2017-12-20 07:17] krisis commented on #5190
@davidgeorgealex thank you for your patience. I finally managed to find the root cause of this issue. I have sent a [fix](https://github.com/minio/minio/pull/5310) for this and expect it to be merged soon.

[2017-12-20 15:04] curantes opened #5311 "Failed GET, PUT and DELETE requests due to "Failed to delete lock info entry" Error"
I initiated a new `mc mirror` from our backup server (FreeBSD) for our minio cluster which is 10 TB in size and is split into 1000 buckets. This storage mostly consist of PDF files (invoices). Initial backup was made yesterday but was interrupted so it had copied 1 TB of the data.

This morning our backup `mc mirror` was interuppted because of mc taking all RAM. We were forced to reboot the backup

[2017-12-20 15:58] nap commented on #5166
Anyone working on this? Are you accepting contributions?

[2017-12-20 16:29] 13o6 commented on #4526
Hi @harshavardhana
I also noticed what @h12w did, was trying to fix it in the following ways:
1 - move out the declaration of `NewEncoder` and only do the initialization/assignment inside `Marshal`. By 'move out' I mean declared as a _global_ package variable or inside the `Codec` struct.
2 - add them in the client delcaration along with a `ClientConn`.

Option 1 did not result in any (significant

[2017-12-20 16:43] harshavardhana commented on #4526
What was test like were you transferring structs or lots of binary data ?

[2017-12-20 17:31] 13o6 commented on #4526
Yes, structs but only with a handful of fields of primitive types. Results are below:
[code]

[2017-12-20 18:07] kannappanr commented on #5307
Closing the issue for now. Please re-open the issue if you have more information or you see the problem again with the information requested.

[2017-12-20 18:07] #5307 closed, assigned to nobody

[2017-12-20 19:03] redbaron commented on #4812
I clicked "cmd" in github interface and it took ~10 seconds for it to build page. Not much of an argument , but maybe it can revive discussion here :)

[2017-12-20 19:10] kannappanr opened #5312 "Honor browser enabled config value in startup message"
## Expected Behavior
Browser Access information should be displayed without checking only if browser enabled flag is turned on in config.json

## Current Behavior
Browser Access information is displayed without checking if browser enabled flag is turned off in config json

## Steps to Reproduce (for bugs)

1. Set Browser field's value to `off` in config.json
2. Start the minio server, by typing `m

[2017-12-21 01:16] balamurugana commented on #5166
@nap contributions are welcome.  As there is a significant amount change in notification system, you could contribute to the PR https://github.com/minio/minio/pull/5294

[2017-12-21 01:37] harshavardhana commented on #4812
This is being actively done phase by phase. So it is a work in progress..

[2017-12-21 06:58] #5190 closed, assigned to krisis

[2017-12-21 08:30] nitisht opened #5314 "CoreDNS integration for Minio server"
Ignoring the template on purpose.

With https://github.com/minio/minio/pull/5095 , Minio server added support for virtual style requests where requests to `bucketname.minio.domain` would be honoured by the Minio server. Here `bucketname` is a bucket created on the Minio server and `minio.domain` is the domain name Minio server is running on. Note that this needs Minio server to be configured with

[2017-12-21 13:01] krisis commented on #5311
@curantes  could you provide the bash loop you run to heal one bucket at a time?

[2017-12-21 15:02] curantes commented on #5311
@krisis
[code]

[2017-12-22 04:52] krishnasrinivas opened #5316 "Mint failure on azure gateway"
For https://data.minio.io:10000/minio/release-minio/staging/DEVELOPMENT.2017-12-21T22-27-09Z/
Mint logs:

[code]

[2017-12-22 06:00] krzepah opened #5318 "File's URL button should change with bucket policy"
I've been struggling to deduce my file's URL. I haven't been playing with minio for a few weeks and when i came back to it I forgot what were the file's URL.

My instinct was to copy paste the URL browser bar (which was on minio) and append it with the file's name.

It turned out as something like this

[HOST]/minio/media/2-mon_1092-300x234.jpg

The error there was that I left out the /minio/ in t

[2017-12-22 06:07] jonaz commented on #5311
I would like to add that after this incident the cluster is behaving strange. Yesterday afternoon we tried resuming backup with mc mirror but it just times out on some files when we tried feching them from node 02,03 and 06. But if we tried mc cat on any other of the 16 nodes it worked.

The message logged on the nodes timing out was:
[code]

We have now resolved that file so it can be stat'ed and

[2017-12-22 06:33] harshavardhana commented on #5318
Browser is meant for browser only and those URLs are valid for browser.. figuring out URL on the client is simply

Just a combination of endpoint+bucket+object

[2017-12-22 06:46] krzepah commented on #5318
Simple is simple. But confusion comes from it. Avoiding confusion allows greater user experience.

It's true that the thing is pretty well done. However KS suggested the question arises frequently.

There is simply no UI direct way to get the file's URL. Which is the end problem and the odd thing. Authenticated get_object is not the issue neither the API. It's just the UI that is lacking the end U

[2017-12-22 06:51] harshavardhana commented on #5318
The proposal to fix it by removing the /minio routing requirement thats the only way to cleanly fix it.

[2017-12-22 06:59] krzepah commented on #5318
I've so much trouble expressing my self ^^ ;

It was my mistake on the first place hitting /minio/ ; I did it without notice l8 night copy pasting the URL of Minio's admin which I was on. I tough that appending the file name would head me to the file.

It opened up minio's admin as expected.

The suggestion was to create a direct-link button on each file which would href to [host]/[bucket]/[filena

[2017-12-22 08:19] nakamuraagatha commented on #5307
I'm sorry this error from my wordpress. thanks

[2017-12-22 11:28] #4997 closed, assigned to nitisht

[2017-12-22 12:55] nitisht commented on #5316
Tried to reproduce this with latest `minio/mint:edge` image. All tests passed except `minio-dotnet`

[code]

[code]

[2017-12-22 13:06] nitisht opened #5319 "Error starting up GCS Gateway"
## Expected Behavior
GCS Gateway should startup normally

## Current Behavior
Error logged on console and not able to run Mint tests.

[code]

## Steps to Reproduce (for bugs)
Start GCS Gateway using latest Master

## Context
GCS Gateway testing

[2017-12-22 14:54] poornas commented on #5316
The failing test uploads 1050 objects to test listing - test fails because azure gateway is not able to save object because of too many open files. The objects get uploaded asynchronously - so possible azure is not able to handle the concurrent upload.Subsequently the connection times out.

[code]

[2017-12-22 18:34] kannappanr commented on #5316
I ran minio-java alone and that ran fine.  Here is the output from my run.

[code]

[2017-12-22 18:40] krishnasrinivas commented on #5316
It might have been a temporary problem in my tests then

[2017-12-22 18:51] nitisht commented on #5319
This was a GCS setup issue. `/minio gateway gcs [Project-Name]` is needed. Closing as working as intended.

[2017-12-22 18:51] #5319 closed, assigned to krishnasrinivas

[2017-12-22 19:13] krishnasrinivas opened #5320 "mint dotnet on gcs gateway fails"
Logs:
[code]

[2017-12-22 19:17] deekoder commented on #5316
I will mark this high pri and regression as we did not encounter this issue in our previous mint runs. This is also blocking release. Hence the high priority.

[2017-12-22 22:57] #5069 closed, assigned to vadmeste

[2017-12-22 23:05] kannappanr commented on #5307
@nakamuraagatha We do not have enough information to help you here. Can you contact us on slack, so that we can help you with your issue?

[2017-12-23 01:31] #5316 closed, assigned to poornas

[2017-12-23 23:54] gavinmcnair opened #5324 "mc mirror loses content types"
Due to other issues (Issue #5237) I built a new minio based on the latest version which i cannot use with the old data and used mc mirror to copy it all across. However all the content types have been reset on the destination to binary/octet.

Command line was essentially
[code]

## Expected Behavior

I would expect attributes like content type (maybe modification date, etc as well) to be preserve

[2017-12-25 05:23] harshavardhana commented on #5255
@evilelement do you have any further information ?

[2017-12-25 05:25] harshavardhana commented on #5324
Can you provide the mc version that you are using ?

[2017-12-25 05:25] harshavardhana commented on #5320
Should we close this issue !

[2017-12-25 05:27] harshavardhana commented on #5092
@vadmeste is there anything that you found here ?

[2017-12-25 17:46] ebartz commented on #4210
+1

[2017-12-25 23:03] gavinmcnair commented on #5324
I upgraded fairly recently but i am pretty sure that i ran the mirror after the upgrade.

The version is

[code]

[2017-12-26 14:31] vielmetti commented on #3359
Any word on this one?

I ask because I have been debugging a confusing setup.

Server: Raspberry Pi on a LAN running `avahi`, addressed as "idaeus.local"

When I try to connect to it with `mc ls`, it hangs. Further debugging with `curl` results in this error:

[code]

However when I force the connection to use IPv4, by pasting in the IPv4 address to the configuration, it appears to work just fine.

[2017-12-26 14:37] harshavardhana commented on #3359
It is not `mc` which is defaulting but instead the kernel resolver is resolving to IPv6 by default if present @vielmetti , our listener might not be listening on the IPv6 address in this situation.

We haven't prioritized this issue yet. Since using IP directly works fine.

[2017-12-26 17:34] harshavardhana commented on #5301
@Vjust here is a sample, sorry for the delay.

[code]

[2017-12-26 17:35] harshavardhana commented on #5301
Going to close this as answered @Vjust , feel free to open new issues if you have more questions.

[2017-12-26 17:35] #5301 closed, assigned to harshavardhana

[2017-12-26 17:36] harshavardhana commented on #5254
I tried to reproduce this but it isn't seem to be easy, @dingjs do you have a sample code for this that i can use locally to reproduce?

[2017-12-27 10:41] ildar-ceo opened #5325 "Enable notifications by default"
How to receive all notifications by default without execute command for each bucket:
`./mc events add myminio/images arn:minio:sqs::1:mysql`
?

If I add notification to minio server like this:
`./mc events add myminio arn:minio:sqs::1:mysql`

I get the error:
`mc: <ERROR> Cannot enable notification on the specified bucket. Bucket name cannot be empty`

And how to autoenable notifications for just

[2017-12-27 10:43] ildar-ceo opened #5326 "Notifications for just created bucket."
How to receive notification bucket has been just created?

[2017-12-27 10:50] harshavardhana commented on #5326
There is no S3 API, so we haven't implemented.

[2017-12-27 10:51] balamurugana commented on #5326
@vistoyn Supported event types are http://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html#notification-how-to-event-types-and-destinations

[2017-12-27 10:52] harshavardhana commented on #5325
You cannot auto enable notifications upon bucket create in this manner, when we implement MSF federator we would like to bring in policies along these lines..

For now you need to do `mc mb` and then `mc events add`

[2017-12-27 13:02] ildar-ceo commented on #5325
If I create the bucket from web interface. How to enable notifications without console command or autoenable notifications for this bucket?

[2017-12-27 13:51] harshavardhana commented on #5325
Currently it's not possible to from WebUI.. as I stated above there is no way to auto enable for now.

As an application you can follow this sequence

- you can create a bucket
- you can enable notifications

If you are not an application then you can use `mc`

[2017-12-28 02:58] kannappanr commented on #5320
Closing this issue as fixed.

[2017-12-28 02:58] #5320 closed, assigned to poornas

[2017-12-28 09:57] PiaWhoLoveSia opened #5329 "How to set password for elasticsearch"
I'm trying to publish minio events via Elasticsearch. And the x-pack was installed, so the username and password were needed. I don't see password or username parameter in the `elasticsearch` key in the `~/.minio/config.json`. What's the proper way to set these parameters?

Thank you

[2017-12-28 12:12] nitisht commented on #5305
@mvrhov then creating an issue here https://github.com/minio/mfs will be better.

[2017-12-28 13:42] stack72 opened #5330 "gateway/manta: Add support for RBAC"
Currently, we are adding support for RBAC in triton-go. This means the same ability will be available to minio when this [PR](https://github.com/joyent/triton-go/pull/82) is merged

This will allow us to run minio as a user other than the main triton account holder

[2017-12-28 17:32] #4831 closed, assigned to vadmeste

[2017-12-28 17:34] #5296 closed, assigned to nitisht

[2017-12-29 08:18] kannappanr commented on #5326
@vistoyn Closing this issue. Please feel free to re-open the issue, if you feel you need more clarification on this.

[2017-12-29 08:18] #5326 closed, assigned to nobody

[2017-12-29 08:19] kannappanr commented on #5325
@vistoyn Currently this issue is marked as closed. Please feel free to re-open to issue if you need further clarification.

[2017-12-29 08:19] #5325 closed, assigned to nobody

[2017-12-29 09:55] hikerlook opened #5333 "how to customize the access port"
Excuse me, how to customize the access port, rather than the default 9000.
Thanks.

## Your Environment
* Operating System and version (`uname -a`):
Linux localhost.localdomain 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2017-12-29 10:19] harshavardhana commented on #5333
you can provide --address have you looked at `minio server -h` ?

[2017-12-29 13:15] #4166 closed, assigned to kaankabalak

[2017-12-29 16:26] reptillicus commented on #5199
Seconded! I work at an academic high performance computing center and we have multiple projects that would like to use minio. Dealing with the overhead of multiple minio instances is a hard sell. If there was a single centralized installation with multiple client access keys it would be perfect for our use cases.

[2017-12-29 17:09] mvrhov commented on #5199
They are working on that Take a look at https://github.com/minio/mfs

[2017-12-29 21:54] aead opened #5334 "V4/V2 signature verification should happen in constant time"
The signature verification should happen in constant time (using `subtle.ConstantTimeCompare` not `==`) - otherwise the server provides a timing side-channel which can be used to learn valid signatures for requests.

## Expected Behavior
The signature verification should use `subtle.ConstantTimeCompare`

## Current Behavior
The signature verification uses `==`

## Possible Solution
Replace `==` ch

[2017-12-31 00:05] aead opened #5336 "post policy unit test is broken"
The [TestPostPolicyForm](https://github.com/minio/minio/blob/master/cmd/postpolicyform_test.go#L26) unit test breaks because the hard-coded test dates have passed.
For example some policies expires on 2017-12-30 and the test checks that the policy is not expired but today is 2017-12-31 -> so the test of course fails.

EDIT: I want remark that the issue is not caused by the dates of the test cases

[2017-12-31 09:03] abperiasamy commented on #5286
Can we also add a check to test if the JSON is loadable?. If the server fails to load, we can simulate it in a check.

[2017-12-31 17:16] kannappanr commented on #5333
@hikerlook Closing this issue as answered. Please open a new issue if you have further questions.

[2017-12-31 17:16] #5333 closed, assigned to harshavardhana

[2018-01-01 01:58] #5336 closed, assigned to harshavardhana

[2018-01-01 13:33] aead commented on #5286
@abperiasamy IIRC the solution provided in the issue is exactly what the server does during start up to check whether the config is valid. But I don't know whether we want to fix at all because of new admin API?! My last info was that we probably wontfix because of new API...

[2018-01-01 19:03] vadmeste commented on #5237
I also see this error sometimes when I test  4 virtualbox VMs using Vagrant in my local machine.

This PR https://github.com/dgrijalva/jwt-go/pull/139 wants to add an option to configure a tolerated skew time between server and client.

This RFC, http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#expDef

(as seen in the PR discussion)

I wasn't able to test, but I guess the followin

[2018-01-02 06:30] #5334 closed, assigned to aead

[2018-01-02 07:09] billmei opened #5341 "In what folder/directory does Minio store its objects/files on local disk?"
I'm running a Minio instance on my local machine, on http://localhost:9000. I created a bucket called `foo`, and uploaded a single file `test.txt` to it.

Since this Minio instance is running on my local machine, where is the "uploaded" binary `test.txt` file actually stored in my local filesystem? That is, is it possible to locate this `test.txt` file in a folder somewhere using the GUI filesyste

[2018-01-02 07:16] nitisht commented on #5341
@billmei the file is stored in the mount you pass to start `minio` server. For example if you started `minio` by `minio server /tmp`, create a bucket `foo`, and upload object `bar.txt`. The file will be present at `/tmp/foo/bar.txt`

[2018-01-02 16:46] billmei commented on #5341
I see it now, thanks @nitisht! I went ahead and added this to the documentation: https://github.com/minio/minio/pull/5342

[2018-01-02 18:58] mlinsky opened #5343 "SSL error with posting to a minio server."
Hi, i am trying to upload a png file into my minio server that requires ssl, i am following along with what code you have on this page https://docs.minio.io/docs/how-to-use-aws-sdk-for-python-with-minio-server . I have also tried to write code that uses python requests but i keep getting the same error. I have tried my combination of adding certs, auth, and params that included the access key an s

[2018-01-02 19:09] harshavardhana commented on #5255
@evilelement closing this as working as intended for now, feel free to re-open if you have more information

[2018-01-02 19:09] #5255 closed, assigned to harshavardhana

[2018-01-02 19:10] harshavardhana commented on #5254
If not for sample code, can you provide a skeletal directory structure? that i can use to reproduce this? @dingjs  - Thanks

[2018-01-02 19:13] harshavardhana commented on #5102
@plenczyk closing this as "working as intended" for now, feel free to re-open the issue with answers to my previous questions https://github.com/minio/minio/issues/5102#issuecomment-348316434

[2018-01-02 19:13] #5102 closed, assigned to harshavardhana

[2018-01-02 19:16] harshavardhana commented on #5237
That looks like an interesting fix @vadmeste can you test and confirm if the fix works?

[2018-01-02 19:30] harshavardhana commented on #5237
@vadmeste i looked at this further - IssuedAt never does an exact match, the matching is true if the current time is greater than or = the issued time. So the leeway fix is not needed IMO and might not be the reason why this issue occurred.

[code]

[2018-01-02 19:31] harshavardhana commented on #5237
This is for VerifyExpiresAt not VerifyIssuedAt issued at should be verified as above @vadmeste

[2018-01-02 19:31] vadmeste commented on #5237
Yeah, I am still doing a little investigation.. I was able to reproduce it with my Vagrant setup.

[2018-01-02 19:58] mlinsky commented on #5343
I did get it to work on a localhost but it still gives that error with my other minio server. I just need a way to properly pass the ssl certs along with the post so it doesnt complain. Everywhere i have looked so far usually just says to set verify to false, but i want/need it to be verified.

[2018-01-02 21:12] vadmeste commented on #5237
Running two VMs in my machine (vagrant+virtualbox) shows the problem.

I use the following code which prints the time with high precision + epoch time
[code]

I have two terminals logged to VM1 and VM2, if I run the above code in VM1 and then manually and quickly in VM2, I can see that sometimes VM2 shows earlier time.

VM1:
2018-01-02 20:57:22.736160179 +0000 UTC m=+0.002691410 1514926642

VM2:
2

[2018-01-03 03:19] dels07 opened #5344 "Integration with FineUploader"
Currently I'm having trouble with setting up FineUploader to work with Minio, since all the documentation available only applied to S3. Currently I use controller example from this repo:
https://github.com/FineUploader/php-laravel-s3-server

The error I'm receiving:
[code]

Likely trouble with policy signing as the code returning error on **line 73** on this file:
https://github.com/FineUploader/p

[2018-01-03 03:21] harshavardhana commented on #5344
have you looked at https://github.com/minio/cookbook/blob/master/docs/how-to-use-minio-as-laravel-file-storage.md?

[2018-01-03 03:37] dels07 commented on #5344
@harshavardhana
Yes, previously I use resumable.js and upload to application server first then to Minio using Storage::cloud()->put or Storage::disk('minio)->put, currently I try to upload file directly to Minio without having to store it in application server

[2018-01-03 05:27] eugene-xie opened #5345 "[resolved] minio docker container can't run on aarch64 (ARM64) server"
## Expected Behavior
I would expect that the Minio Docker container can run on aarch64 server.

## Current Behavior
I could pull minio/minio docker image from an aarch64 server, but it failed when I tried to ran the container from the aarch64 server.

The error message is as following:
**$ docker run -p 9000:9000 minio/minio server /data**
panic: standard_init_linux.go:178: exec user process cause

[2018-01-03 05:33] harshavardhana commented on #5345
Docker image is not multi-arch since we never really test on aarch64 or arm platforms.  Our current tested platforms are

- x86_64 Linux
- x86_64 Windows
- x86_64 MacOS

For the rest of the OS and Architectures you will have to compile from source.  Currently we do not have any plans on officially building images for other architectures.

[2018-01-03 05:53] eugene-xie commented on #5345
Thanks for your prompt reply!
I did a bit more search and found that Ed has reported the same issue: https://github.com/minio/minio/issues/3864, and there is already **edge-aarch64** tag for aarch64. [minio tags](https://hub.docker.com/r/minio/minio/tags/), which is very good. Just need one more step to make it multi-arch.

I understand there is no plan to build images for other arch at the moment

[2018-01-03 05:59] harshavardhana commented on #5345
We used to build but we couldn't test / vet on these platforms, so just building a binary which is not well tested didn't make sense for us to be part of a release.  master branch is always release ready and kept atleast compile on multiple platforms so that users can self build.

[2018-01-03 06:10] eugene-xie commented on #5345
Could you help me understand what difficulties you have to test on AArch64 platform? We will see how we can get help from community.

[2018-01-03 06:25] harshavardhana commented on #5345
Difficulty is not many requirements from the community, In-fact that was the reason we did initially the build to see how popular the aarch64 platforms are.  From what we have seen most of Minio users use Intel platforms.  With new processors with AVX512 instructions on Intel we are seeing very high raw performance for erasure coding, checksum [sha256](https://github.com/minio/sha256-simd#performa

[2018-01-03 08:38] dingjs commented on #5254
Sorry for the late response.As far as I know,my collegue only called
[code]
The directory structure is
[code]

There are two things which I think it had something to to with the minio server error.
1. My collegue use 6 threads to migrate the data in mongodb to minio.
2. After  my collegue called putObject or getObject,she did not close the stream.I know it would cause a resource leak,not sure is t

[2018-01-03 09:15] harshavardhana commented on #5254
Thanks @dingjs

[2018-01-03 09:16] aead commented on #5343
@mlinsky Can you provide some information about your TLS certificate?
Is it a self-signed cert, or a cert you got from a CA like, Let's Encrypt, Comodo etc.?
Further is `certifi` installed on your client?

[2018-01-03 10:42] hauke-altmann-as opened #5347 "Changed behaviour of 'minio update --quiet' breaks usage for monitoring solutions"
## Expected Behavior
Before PR https://github.com/minio/minio/pull/4961 we were able to check for minio updates with our monitoring calling 'minio update --quiet' and expecting exitcode '1' when a new version is available.

## Current Behavior
Now exitcode '0' is returned without the distinction if running the most recent version or an update is available.

## Possible Solution
Reimplementation of

[2018-01-03 10:45] vadmeste opened #5348 "Fix a faulty format.json recovery when .minio.sys is removed"
## Expected Behavior
When .minio.sys is removed, Minio regenerates format.json with a correct disk order.

## Current Behavior
When .minio.sys is removed, Minio regenerates format.json with a wrong disk order. Erasure won't be able to correctly construct data.

## Possible Solution
Do not know.

## Steps to Reproduce (for bugs)
I have a sample backend disks which reproduce the error but I am not s

[2018-01-03 14:52] mlinsky commented on #5343
@aead The certs i am using are assigned from a CA though i have just been informed that the CA.pem is currently in the project though i wouldnt think thats the problem. This is apparentl a different error someone else found thats working on the same issue. I do not have `Certifi` installed on my client.
[code]

[2018-01-03 15:00] vadmeste commented on #5343
@mlinsky, Minio server prints that message when the client doesn't like the certificate that it receives from the server.

*) What happens when you open Minio Browser ?
*) What OS are you using ?

[2018-01-03 15:02] mlinsky commented on #5343
I'm currently looking into the presigned_post_policy. Im not sure how to properlly implement it with what i currently have and changing it to a curl command.

[2018-01-03 15:04] mlinsky commented on #5343
@vadmeste When i open the browser it opens to the login in, I enter the access key and secret key and it takes me to the "home" page. Im currently on a linux VM called Centos7.

[2018-01-03 15:05] vadmeste commented on #5343
Great, what about curl command ? you can run this one

`$ curl https://minio_address:9000/`

[2018-01-03 15:07] mlinsky commented on #5343
i get this, Do i just have my key/certs in the wrong place or am i not properly calling them?
[code]

[2018-01-03 15:11] vadmeste commented on #5343
@mlinsky, okay.. That means public.crt is missing some intermediate certificates. You need to have a full chain in public.crt

[2018-01-03 15:12] mlinsky commented on #5343
@vadmeste So this is a server side not a client side issue?

[2018-01-03 15:14] vadmeste commented on #5343
Yes. You need to properly generate public.crt which needs to contain all intermediate certificates. I can tell you how to do that if you tell me who is your SSL provider. Most likely we can find a documentation in their website about how to create a fullchain certificate.

[2018-01-03 15:47] ptrunk opened #5349 "[Feature Request] Custom MINIO_*_KEY_FILE location"
Hi,

it would be useful to have `MINIO_ACCESS_KEY_FILE` and `MINIO_SECRET_KEY_FILE` as docker environment variables to allow mutiple keys and minio setups on one host.

## Expected Behavior
`MINIO_ACCESS_KEY_FILE` and `MINIO_SECRET_KEY_FILE` should be changeable through docker environment variables (like mysql or postgresql docker containers).

## Current Behavior
Currently `MINIO_ACCESS_KEY_FILE`

[2018-01-03 19:38] krishnasrinivas opened #5350 "Refactor to remove NS locking from S3 layer"
Currently we have globalNSMutex.NewNSLock() usage in S3 layer, it should be moved to the object layer such that S3 layer is free of any NS locking.

[code]

[2018-01-03 20:23] kannappanr commented on #5345
Closing this issue now. Please re--open the issue if you have further questions.

[2018-01-03 20:23] #5345 closed, assigned to nobody

[2018-01-03 20:25] harshavardhana commented on #5350
Why did we decide this ?

[2018-01-03 20:46] krishnasrinivas commented on #5350
Poorna is using array of fsObjects for caching, and locking was conflicting with each other. It will also bring clarity, because currently we are holding locks on same namespace from two layers.

`globalNSMutex` can be `fsObjects.NSMutex`

[2018-01-03 20:52] harshavardhana commented on #5350
Why would it conflict ? There is an implementation problem I suspect in caching.  I am perfectly fine using it in   large bucket support.

[2018-01-03 20:57] harshavardhana commented on #5350
I think all you need is a list of locking primitives and the use a hashing function to pick the relevant one based on bucket/object name ..you don't need to move the code into fsObjects at all.

Are we planning on dynamically expanding the caching to multiple disks as needed ?

[2018-01-03 21:08] krishnasrinivas commented on #5350
Sorry, my earlier statement was not correct. Cache's fsObjects was conflicting with backend fsObjects. i.e when cache was being used on top of fsObjects. Example scenario is when you want NVME cache for spinnging-disk in a simple FS setup.

[2018-01-04 02:14] hikerlook opened #5352 "minio browser file list icon ('xls' / 'xlsx') is not display"
If it is excel file, name column does not display the corresponding file icon, but other file types are displayed, such as word、ppt、pdf、png and so on.
Is it a browser version of the problem? who knows,  thanks

## Your Environment
Linux 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Chrome 60.0.3112.113

Firefox ESR 45.4.0

[2018-01-04 05:30] #5312 closed, assigned to kannappanr

[2018-01-04 09:41] harshavardhana commented on #5347
About to send a fix for this issue., have a few questions. With the new changes `minio update` would update the binary in-place are you expecting this to happen when `--quiet` is specified?

To disable this you need to set MINIO_UPDATE=off before running `minio` command.

[2018-01-04 10:24] kannappanr commented on #5238
After internal discussions, we have decided not to consolidate the links. Hence closing the issue.

[2018-01-04 10:24] #5238 closed, assigned to nobody

[2018-01-04 15:12] ScrumpyJack opened #5356 "can't build minio (fatal error: runtime: out of memory)"
opened in error

[2018-01-04 15:20] #5356 closed, assigned to nobody

[2018-01-04 15:50] nitisht commented on #5341
Closing this as answered, @billmei feel free to join us on [Slack](https://minio.slack.com) for further questions..

[2018-01-04 15:50] #5341 closed, assigned to nitisht

[2018-01-04 15:56] #5347 closed, assigned to harshavardhana

[2018-01-04 18:13] nitisht opened #5357 "Standard healthcheck endpoint for Minio Server/Gateway"
Ignoring template on purpose.

Currently Minio [healthcheck](https://github.com/minio/minio/blob/master/dockerscripts/healthcheck.sh) script makes a curl request to browser endpoint to check for Minio service health. Due to several combinations of browser enabled/disabled and server/gateway setup, it is complex to handle various HTTP responses.

Better approach is to create an unauthenticated endp

[2018-01-04 19:58] aead opened #5358 "[feature]: add HighwayHash256 support"
This is a feature request for adding [HighwayHash256](https://github.com/minio/highwayhash) as bitrot protection / detection algorithm.
The authors have published the [final version](https://github.com/google/highwayhash#versioning-and-stability) of HighwayHash (64, 128, 256).

## Context
@fwessels has already [implemented](https://github.com/minio/highwayhash/commit/fd0b0262e003e6c7b39399f2e6e98f

[2018-01-04 20:01] fwessels commented on #5358
Before we do this, we need to decide on the size of the key. I will follow up with more details.

[2018-01-05 01:58] supermanlinux opened #5360 "Minio can be configured as https access way?"
Minio can be configured as https access way? Thanks

[2018-01-05 01:59] harshavardhana commented on #5360
Have you looked at https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls ?

[2018-01-05 02:19] supermanlinux commented on #5360
@harshavardhana  Thanks,I'll see it right away.

[2018-01-05 02:23] harshavardhana commented on #5360
Feel free to join https://slack.minio.io for further questions, going to close this issue now @ziqingshi

[2018-01-05 02:23] #5360 closed, assigned to nobody

[2018-01-05 06:33] krisis commented on #5311
@curantes, I have the following questions. It will help me identify possible code paths responsible for this issue.
1. Where is the `mc mirror` command run? (i.e is it on the FreeBSD server or one of the 16 Linux nodes)
2. Is there one `mc mirror` process per bucket? If possible, please share how you run `mc mirror` including command line arguments. N B please remove sensitive information if any.

[2018-01-05 07:48] #5302 closed, assigned to aead

[2018-01-05 08:52] supermanlinux opened #5362 "ERROR: SSL certificate verification failure: EOF occurred in violation of protocol (_ssl.c:590)"
ERROR: SSL certificate verification failure: EOF occurred in violation of protocol (_ssl.c:590)
How to solve it?I hava no ideas.

## Expected Behavior
s3cmd mb s3://mybucket
Bucket 's3://mybucket/' created

## Current Behavior
s3cmd mb s3://mybucket
ERROR: SSL certificate verification failure: EOF occurred in violation of protocol (_ssl.c:590)

## Your Environment
ubuntu16.04
s3cmd version 1.6.1

[2018-01-05 09:09] curantes commented on #5311
@krisis answer to  your follow up questions below.

It is running from the FreeBSD server (FreeNAS)

`/mnt/zfs01/home/fnoxdrift/bin/minio-client mirror -w prod-cluster /mnt/zfs01/minio-prod`
note that minio-client binary is from latest released and have been compiled by me and not the version shipped in FreeBSD

All Nodes was up and running with no issues prior

[2018-01-05 10:49] #5352 closed, assigned to kaankabalak

[2018-01-05 10:50] nitisht commented on #5352
@hikerlook PR https://github.com/minio/minio/pull/5361 was merged to fix this issue. Could you please try the latest master.

[2018-01-05 11:25] hikerlook opened #5363 "ERRO[0007] Initializing object layer failed"
It is normal to start the minio service on a single node. Multi-node failure

Is my configuration is wrong? environment or command. who knowns, please tell me.

Thanks.

## single node
`minio server /home/minio/data`

show :

[code]

## multi-node
`minio server http://192.168.111.138/home/minio/data http://192.168.111.140/home/minio/data http://192.168.111.141/home/minio/data http://192.168.111.14

[2018-01-05 11:33] hikerlook commented on #5352
ok, thanks. I'll give it a try when I'm done

[2018-01-05 11:39] nitisht commented on #5363
@hikerlook yes, this is an expected error. You'll need to delete the `.minio.sys` directory inside `/home/minio/data` and try again with multi-node setup

[2018-01-05 12:22] hikerlook commented on #5363
Yes, after the deletion can be started normally.
Thanks @nitisht

[2018-01-05 13:16] curantes commented on #5311
@krisis We actlually had similar issue again today. I have updated info about how to recreate this. This is what happend to us before and today. And as last time we had to do rolling restart of mino to get the locks cleared.

[2018-01-05 13:53] nitisht commented on #5363
Thanks, closing this issue as answered. Feel free to join us on [slack](https://minio.slack.com) for further questions

[2018-01-05 13:53] #5363 closed, assigned to nitisht

[2018-01-05 15:25] gavinmcnair commented on #5237
Is there some hint in the code differences between the 2 releases above since i do not get the problem with the older version of code but do with the latest version.

Incidentally. After setting up the latest version of minio and mirroring all my data into it I no longer see any issues on the new cluster so it might be that some time related artefact might get saved to the filesystem and cause pro

[2018-01-05 15:55] krisis commented on #5311
@curantes, next time you `kill` the server to clear locks, use `kill -SIGABRT <pid>`.  This should provide stack trace of the Minio server process, giving us some clues on which operation is holding a lock.

[2018-01-05 16:20] harshavardhana commented on #5237
Older version server was generating the token. The window of this to occur was lesser,  now that we don't transmit access keys over network client generates a token and gets it validated from server - this issue is more visible. Client and Server are Minio servers themselves talking to each other. The timing issue of virtual machines is outside of this problem anyways.

JWT thinks that is unexpect

[2018-01-05 18:13] harshavardhana commented on #5237
https://github.com/jpadilla/pyjwt/issues/190 issue explains this frustration in more detail , looks like JWT RFC has gone back and forth on this

https://tools.ietf.org/id/draft-jones-json-web-token-04.html (Draft) expired in 2011

https://tools.ietf.org/html/rfc7519#page-10 (Proposed) - doesn't mention any leeway regarding IAT but missing in official proposal.

Looking a PyJWT implementation a ce

[2018-01-05 18:16] fwessels commented on #5358
Based on the freeze of HighwayHash, I have completed the earlier work on comparing hashes (see https://github.com/fwessels/hashcompare), let's review and discuss.

[2018-01-05 18:25] harshavardhana commented on #5237
Let me add a new implementation as leewayClaims which adds leeways for expiry, iat together.

[2018-01-05 19:24] #5263 closed, assigned to kannappanr

[2018-01-05 23:22] harshavardhana commented on #5362
Make sure you have, your minio server is not configured with TLS

[code]

[2018-01-06 00:56] harshavardhana commented on #5254
Is the delete being called? @dingjs the delete called on the object directly or its being deleted recursively?

[2018-01-06 01:46] kannappanr commented on #5161
@ddzialak Sorry for getting back late on this. I tried all three steps you had suggested to reproduce the issue. I was unable to reproduce using any of them.
`foo/bar` created the object successfully. I believe that this is a typo and tried `foo\bar` and that failed with the `XMinioInvalidObjectName` error.

Then I tried `foo\nbar` and `^*|\&#34;` , both of them failed with `XMinioInvalidObjectNam

[2018-01-08 06:27] jonaz commented on #5311
@krisis  last time it happened we had issues with GET operations aswell. Not 100% of GET failed but quite a few. I took some samples of random files during the outage and some i where able to read and some i wasnt.

[2018-01-08 06:36] supermanlinux commented on #5362
@harshavardhana Thank you very much,than I don't configured with TLS, use_https = False,I can use s3cmd mb s3://mybucket and so on.But today I configured with TLS,using self-signed,than I use s3cmd mb s3://xxx, ERROR: SSL certificate verification failure: EOF occurred in violation of protocol (_ssl.c:590),what happened, why?I think it does not matter with self-signatures.

[2018-01-08 07:10] supermanlinux opened #5369 "[TLS]use:s3cmd ls s3:// error:ERROR: SSL certificate verification failure: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:59"
I used self-signatures.
a. openssl ecparam -genkey -name prime256v1 -out private.key
b. openssl req -new -x509 -days 3650 -key private.key -out public.crt -subj "/C=US/ST=state/L=location/O=organization/CN=domain"
...
![image](https://user-images.githubusercontent.com/34739130/34661542-62a51340-f485-11e7-9d3f-5e6b590df2f3.png)
![image](https://user-images.githubusercontent.com/34739130/34661546-69

[2018-01-08 07:12] supermanlinux commented on #5369
The second picture is openssl.conf,the third picture is .s3cfg.

[2018-01-08 07:15] harshavardhana commented on #5369
Use `--no-check-certificate`  like `s3cmd mb --no-check-certificate ` - if you wish the certs to be checked which is the default behavior then you need to additionally trust your self signed signatures to system trust directory - follow [this](https://askubuntu.com/questions/645818/how-to-install-certificates-for-command-line)

[2018-01-08 07:41] supermanlinux commented on #5369
@harshavardhana Thank you very much,I try it right now.

[2018-01-08 09:13] supermanlinux commented on #5369
@harshavardhana I try this,but not success.The same error occured.
Updating certificates in /etc/ssl/certs...
1 added, 0 removed; done.
Running hooks in /etc/ca-certificates/update.d...
done.
I added the certificates,but the same error occured.Why?

[2018-01-08 10:11] harshavardhana commented on #5369
You can provide location to the certs file

[code]

[code]

[2018-01-08 10:34] vadmeste commented on #5348
@nitisht I'll take this PR since I already started on it.

[2018-01-08 10:34] vadmeste commented on #5369
@ziqingshi I tested a self signed certificate generated by your openssl certificates, it just works.

[code]

[2018-01-08 10:34] vadmeste commented on #5369
@ziqingshi can you say why --no-check-certificate didn't work for you? do you see any error ?

[2018-01-08 10:50] krisis commented on #5311
@jonaz It is expected that GET operations would fail when you hit this issue. Thanks for updating the synopsis. Next time you observe that the server is 'locking up', kill it using `kill -SIGABRT <pid>`. This should print the process backtrace, which will help us pinpoint the operation that caused the 'locking up' in the first place.

[2018-01-08 12:25] krisis commented on #5311
@curantes @jonaz Could you paste output of `mc admin lock list local/bucket`,  for as many`bucket`s as possible in logs like `msg="Failed to delete lock info entry (param = {bucket ...`?
If we can associate recent operations on the path to object, we can infer which operation is (possibly) not relinquishing the lock.

[2018-01-08 13:09] tomcsi opened #5371 "Storage usage is greater after uploaded to minio"
I ran the following command:

[code]

On the filesystem:
[code]
[code]

After upload to minio:
[code]
[code]

The minio version:
[code]
Linux: `Linux backup 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

[2018-01-08 14:58] zhnu opened #5372 "BUG: HEAD request on root returns 405 should be 200"
## Expected Behavior
Hi, when I try to do an HEAD on minio on the root object I get an status code 405 while the expected is  an 200 (atleast on s3).

When I try to HEAD another location on minio I get a status code 400, it should respond with the status of the file (200, 404, etc).

## Steps to Reproduce (for bugs)
`curl -X HEAD \
  http://localhost:9000 \
  -H 'authorization: AWS4-HMAC-SHA256 Cr

[2018-01-08 15:12] jonaz commented on #5311
We cannot now since we have restarted all nodes until the lock dissapeared. But if it happens again we will keep loop over all server and print the locks to a file.

[2018-01-08 17:05] vadmeste opened #5373 "azure: Providing the endpoint as an argument doesn't work"
## Expected Behavior
The user is able to provide an endpoint url. Probably, the first thing that comes to his mind is to use https://accountname.blob.core.windows.net, this shouldn't be a problem and should work.

## Current Behavior
If the user enters an endpoint of this form: https://accountname.blob.core.windows.net, then basic operations (listing, put, get) won't work.

[code]

## Possible Sol

[2018-01-08 17:27] aead opened #5374 "[refactor]: unify SHA-256 usage"
The minio server uses a [custom](https://github.com/minio/sha256-simd) SHA256 implementation because of performance advantages on ARM64 during bitrot protection. SHA-256 is further used for signature V2/4 and also S3 checksums...

The minio server uses the custom and standard library implementation somehow randomly. See for
example:
 - [Standard library](https://github.com/minio/minio/blob/f1355da

[2018-01-09 01:01] harshavardhana commented on #5374
Some more clarity on the issue here.

The problem with sha256 and sha256-simd loading is that goimports tries to load `crypto/sha256` more than it tries to load `minio/sha256-simd` and it varies from system to system i.e `sha256-simd` is a drop in replacement.

https://golang.org/src/crypto/sha256/sha256block_amd64.s sha256 started using the AVX2 version since go1.7+ days already.  In-fact there w

[2018-01-09 01:11] harshavardhana commented on #5362
This issue has moved here now https://github.com/minio/minio/issues/5369 closing this as addressed.

[2018-01-09 01:11] #5362 closed, assigned to vadmeste

[2018-01-09 01:18] harshavardhana commented on #5330
RBAC support added on commit a1a98617ca9d681a59082fca0d8bda34818af3ac closing

[2018-01-09 01:18] #5330 closed, assigned to nobody

[2018-01-09 01:21] harshavardhana commented on #5092
ping @vadmeste

[2018-01-09 01:29] supermanlinux commented on #5369
@vadmeste @harshavardhana  Thank you very much,I have just solved my problem.I based on the server's error, solved problems;I change two locations all in .s3cfg.When the error is certificateError: hostname 'xxx.16.x.15:443' doesn't match u'xxx.16.x.15',I remove the :443 in the .s3cfg,when the error is the request signature we calculated does not match the signature you provided. Check your key and

[2018-01-09 01:31] #5369 closed, assigned to nobody

[2018-01-09 02:42] cledorze commented on #4210
+1, would bring easy S3 access to all homelabs owners who already got a Syno .

[2018-01-09 02:43] fwessels commented on #5374
Also note that with moving to HighwahHash we do no longer need SHA256 on ARM for bit rot (that still leaves payload verifcation etc. of course).

[2018-01-09 05:16] #5349 closed, assigned to nobody

[2018-01-09 07:27] belugaliu opened #5377 "java-client:minio-3.0.7 support remove objects but it does not work in my code"
## Expected Behavior
my scenes is that want to remove batch objects only in one http's request.not for-loop remove one by one.
## Current Behavior
i found in java-client(minio-3.0.7.jar) support remove batch objects.
[code]
but it does not work.<br>
so i want confirm is it a bug?

## Steps to Reproduce (for bugs)
1.my code like this:
[code]
2. then no exception throw and no work in minio-server

#

[2018-01-09 09:13] nitisht opened #5378 "Incorrect information from madmin client"
## Expected Behavior
`mdmClnt.ServerInfo()` gives correct information about read and write quorum.

## Current Behavior
`mdmClnt.ServerInfo()` gives incorrect information about read and write quorum.

## Steps to Reproduce (for bugs)
As reported by user stefanbo on Slack channel . Deploy latest Minio server and use the below snippet

[code]

## Context
StorageClass implementation

## Your Environm

[2018-01-09 09:44] kannappanr commented on #5378
@nitisht Till release minio.RELEASE.2017-11-22T19-55-46Z , the results are fine. I see that this is broken from release minio.RELEASE.2017-12-28T01-21-00Z onwards

[2018-01-09 11:18] jspiro opened #5379 "Support for APFS/HFS+, recommended filesystems, and Mac support?"
I have many years of experience backing up blobs with Arq to many cloud services. I finally set up Minio locally with a 4TB drive on an old Mac and got about 45 days of daily backups out of it before Arq could proceed no further.

I'm unable to PUT new files or do much of anything, really. I can't get out of this situation by deleting files either, since I can't read or delete objects with the OS

[2018-01-09 11:24] harshavardhana commented on #5379
your issue is primarily with the backend filesystem if backend cannot do much we cannot do either.  In this situation i most probably think the disk is dying and you should run a filesystem check to understand why its behaving this way.  Since on Linux XFS and ext4 can easily handle hierarchical namespace of 1.5million objects.

[2018-01-09 11:40] jspiro commented on #5379
@harshavardhana Appreciate the quick response. The disk seems to be in excellent health and I've tried rebuilding the filesystem (which would reveal issues if there were any). The disk only has issues in two directories, both Minio-controlled.

If Minio partitioned its objects rather than dumping them in a single directory, then it could do something about it.

If this is a known or now discovered

[2018-01-09 11:44] harshavardhana commented on #5379
That is upto you to decide you need to choose a right hierarchy when uploading objects, dumping all objects into a single directory is bad for all filesystems in general and would lead to issues like this. We do not decide on what you choose as path for the objects.

This is a limitation of all filesystems, so we are just bound by those limitations - it is in our intention to keep the namespace of

[2018-01-09 12:19] Vesnica opened #5380 "Offline node make cluster ListObjects inconsistent when it's back online"
## Steps to Reproduce (for bugs)
1. Create 4 node cluster, 1 disk per node, wait for it all ready
2. mc cp 10000 small(10M) files to the cluster
3. On all 4 nodes, use mc ls local | wc -l to check files count, all return 10000 consistently
4. Bring down 1 node, then cp another 5000 files to the cluster
5. On the running 3 nodes, use mc ls local | wc -l to check files count, all return 15000 consis

[2018-01-09 13:49] aead commented on #5374
@harshavardhana

Correct, that's the issue I faced.

So under all practical scenarios we are not really experiencing a serious problem - but we need to definitely move to sha256-simd for AVX512 requirements and simply renaming crypto/sha256 to minio/sha256-simd would do the work. There is no easier way avoid the drop-in replacement problems.

Here I do not agree. First it's correct that the standa

[2018-01-09 16:03] fwessels commented on #5374
I think the AVX512 will still be very useful for SHA256 payload verification which is the big burden. For just header authentication/verification there is not much to gain.

[2018-01-09 18:14] aead commented on #5374
Yes, AVX512 can give a performance improvement for content-sha256 verification. However we have to check that we don't hit AVX-512 frequency scaling which could decrease the overall performance. Have you checked that already on some test setup? @fwessels

[2018-01-09 18:25] fwessels commented on #5374
I am getting the impression that this is tied to the "level" of the Skylake CPU, thus far on the Platinum and Gold CPUs that I have encountered it wasn't an issue.
There are Silver (and even Bronze I believe) CPUs as well, they are obviously scaled-down versions but it is not really clear what trade-offs have been made. This one article that you shared earlier mentioned a Silver CPU if I recall co

[2018-01-09 18:58] aead commented on #5374
Oh okay - interesting. Wikichip mentions also AVX512 throttling for Gold chips like the [Xeon 5117](https://en.wikichip.org/wiki/intel/xeon_gold/5117)  - at least if AVX-512 is run on more than one core... But your right the cloudflare blog was about a Xeon sliver CPU...

[2018-01-09 19:07] fwessels commented on #5374
Well, even there, I would pick 512-bit at 1400 MHz over 256-bit at 1600 MHz (provided of course that your algorithm exploits the full width, just switching from Y to Z registers and not modifying your algortithm doesn't make any sense).

[2018-01-09 19:51] donatello commented on #5329
@PiaWhoLoveSia Apologies for the late response on this. The username and password can be provided as part of the url in the elasticsearch configuration - the format is `http://USERNAME:PASSWORD@elastic.example.com:9200`.

Here is an excerpt from an example server configuration that illustrates the same:

[code]

Thank you for reporting the issue, we will update documentation to highlight authentic

[2018-01-09 19:56] harshavardhana commented on #5374
Both of these are circumstantial and requires documentation/communication. It will be unexpected for external contributors and even newer members in the team.  So not an easy thing to enforce, the best way is do a good review and catch it during PR submissions than adding unusual ways of enforcement which moves away from standard behavior.  I would suggest we simply rename all sha256 usage to sha2

[2018-01-10 01:17] balamurugana commented on #5377
@liuliliGithub Could you share what error/stacktrace you get in minio-java and minio server?

[2018-01-10 02:21] kannappanr commented on #5344
@dels07 Were you able to reproduce the issue with AWS? Also, what are the changes you made to test the code in repo https://github.com/FineUploader/php-laravel-s3-server? If you can be as detailed as possible, it will be easier for me to reproduce the issue.

[2018-01-10 02:30] kannappanr commented on #5161
@ddzialak Can you please let us know, if you are fine with the explanation? If not, can you elaborate more on the steps you used to reproduce the issue?

[2018-01-10 03:04] Vesnica commented on #5380
After some extended tests, I found that cluster can reach final consistent if you perform the complete recursive heal on the specified bucket. But I still think there is something wrong with it:

1. Why a single re-joined node can makes the entire cluster inconsistent？I think other 3 nodes should have enough quorum information
2. Why user must perform heal manually to sync the re-joined node with

[2018-01-10 03:18] harshavardhana commented on #5380
This is an expected behavior we do not hold quorum on Listing instead quorum is held on GetObject().   Listing always happens randomly from one of the disks that is available. So if you have disks going up and down in this fashion you are correct you need to heal to make the Listing consistent.

And yes healing is manual since you are more aware of when you need to heal the cluster `mc admin heal`

[2018-01-10 03:50] #5329 closed, assigned to donatello

[2018-01-10 03:59] Vesnica commented on #5380
The inconsistent listing will make many user scenarios to fail(registry gc, for example), and it's not feasible to ensure all disks or nodes never fail in practice(or forbid user traffic during the failing or healing).

Currently I have to abandon the minio's native distributed setup, and switch to a customized one(some standalone minio nodes + mc mirror), to make my system can continue to run in

[2018-01-10 04:08] harshavardhana commented on #5380
We will have to discuss this, in the past we have decided because GetObject() is the ideal operation to check for consistency. There can be an added drawback here that Listing would become slower due to Stat() operations that need to be performed to know the quorum.

[2018-01-10 04:58] Vesnica commented on #5380
Thank you for willingness to reconsider current design!

Actually, I had considered several options before, one of them is:
1. Get the complete object list when booting(or restarting), and store it in memory
2. Use the notification or event mechanism to update the object changes to memory list
3. All nodes's memory list should reach identical eventually if any abnormal happened (use Raft?)

This d

[2018-01-10 07:30] curantes commented on #5311
relates to #5023

[2018-01-10 08:36] ddzialak commented on #5161
@kannappanr  is `XMinioInvalidObjectName` raised by Minio client? I've reproduced the same with boto library and successfully created object named: `object[^*|"]` (so none of these chars is forbidden by server)
[code]

[2018-01-10 08:46] ddzialak commented on #5161
@kannappanr the main issue is about documentation inconsistency, please don't propagate client restriction to server side ;) rather change message `Unsupported characters are ...` and possible allow these chars in client as it's supported by server.
An extra option for this issue is to allow new lines and backslashes but it sounds like a feature/improvement.

[2018-01-10 08:52] ddzialak commented on #5161
so backslash `\` is forbidden:
[code]

[2018-01-10 08:53] ddzialak commented on #5161
and new line `\n` is also forbidden but other error is returned:
[code]

[2018-01-10 08:53] ddzialak commented on #5161
sorry for late response, please let me know if you still need any explanation...

[2018-01-10 14:18] harshavardhana commented on #5311
Thanks for letting us know @curantes

[2018-01-10 14:52] dingjs commented on #5254
no,i,don't see delete

[2018-01-10 14:57] harshavardhana commented on #5254
https://github.com/minio/minio/pull/5376 @dingjs is a possible fix in this scenario would you mind giving it a test run?

[2018-01-10 17:50] harshavardhana commented on #5161
Since Windows and Linux are supported by windows object name restrictions vary according to the backend. So what is allowed on Linux is not what is allowed on Windows.

There is no reason to allow these characters, do you have applications which create these characters? is it possible to not use them?

[2018-01-10 18:34] #5237 closed, assigned to harshavardhana

[2018-01-10 23:28] donatello commented on #5286
I am sending a PR to address this issue in the existing version as the new API will include the existing functionality too.

[2018-01-11 00:01] kannappanr opened #5385 "Reduce the number of errors printed on server console"
Some of the error messages printed on the server side can be removed, as the server is behaving correctly in those scenarios.

Examples of those scenarios might be,
1. Calling list objects on a non-existent bucket
2. Creating an object with object-names containing un-supported characters.

## Expected Behavior
Printing the information that the incoming call failed because of incorrect input by the

[2018-01-11 04:06] jspiro commented on #5379
If Minio is a document store like S3, then it should be able to accommodate documents with UUIDs as their names, right? The application putting data in it shouldn't have to make assumptions about the backend of the storage endpoint, nor should it have to accommodate it; i.e. it won't know what names will cause subdirectories to be created in order to accommodate a large number of documents, and wh

[2018-01-11 05:22] harshavardhana commented on #5379
That is an incorrect way to think about this problem in-fact AWS S3 documents and recommends best scenarios https://docs.aws.amazon.com/AmazonS3/latest/dev/request-rate-perf-considerations.html on why it is a good idea to fully utilize hierarchical namespace and the related performance benefits as you scale your buckets. This is quite similar in theory for local filesystems and Minio as well.

Thi

[2018-01-11 07:06] #5286 closed, assigned to donatello

[2018-01-11 08:39] ddzialak commented on #5161
The reason to support it is that these chars are allowed for names of files and directories for many filestems.
I have application that parallelize backup of whole filesystem to object store. Please believe that any huge filesystem will have directories or files with strange characters like backslash or new line.

 `minio` was selected for testing purpose (instead of amazon) but Amazon S3 allow to

[2018-01-11 09:34] harshavardhana commented on #5161
II do believe you, but Unfortunately that cannot be supported due to windows dependency. So on windows there is no character such as `\` since its a delimiter it won't work.  It would lead to an inconsistent situation such as  `a\b` where `a\` would become the top level prefix.

[code]

It is nothing but all UTF8 characters,  avoids `..`, avoiding `\` was the only way for us to avoid inconsistent

[2018-01-11 17:07] nitisht commented on #5371
@tomcsi I tried but can't reproduce this locally. Do you observe this for all the files or just this one?

[2018-01-11 17:14] tomcsi commented on #5371
@nitisht All files.

I have such a mount:
`/dev/mapper/data-backup on /data/backup type xfs (rw,relatime,attr2,inode64,sunit=1024,swidth=20480,noquota)`

mdstat:
[code]

lvm over md:
[code]
[code]

xfs_info:
[code]

docker info:
[code]

[2018-01-11 17:20] tomcsi commented on #5371
@nitisht Can I help anything you find this bug?

[2018-01-11 17:36] harshavardhana commented on #5371
Is there a reason to use (sunit=1024,swidth=20480) ?

[2018-01-11 19:42] #5385 closed, assigned to kannappanr

[2018-01-11 20:12] tomcsi commented on #5371
@harshavardhana It was not intentional. I just format with this command: `mkfs.xfs -b 4096 /dev/mapper/data-backup`

[2018-01-11 20:22] harshavardhana commented on #5371
@tomcsi  you might want to use apparent-size for accurate results of actual file size.

[code]

On my system without using `minio` a 128 byte file reports the following

[code]

[2018-01-12 02:22] #5378 closed, assigned to nitisht

[2018-01-12 02:25] #4659 closed, assigned to harshavardhana

[2018-01-12 10:06] tomcsi commented on #5371
@harshavardhana OK, I understand this parameter, but if I use cp command then the size is correct, if the upload the file to minio then the size is not correct. What can this be?

[2018-01-12 10:08] harshavardhana commented on #5371
Can you provide outputs of the `--apparent-size` ?

[2018-01-12 10:18] tomcsi commented on #5371
@harshavardhana
[code]

[2018-01-12 10:19] harshavardhana commented on #5371
Is this the file created from Minio? @tomcsi

[2018-01-12 10:19] tomcsi commented on #5371
Yes.

[2018-01-12 10:27] harshavardhana commented on #5371
As i explained above @tomcsi - apparent size is the actual used space on disk not the one that you see first, that is just a sparse file.  Now the reason we have sparse file because we use fallocate() on Linux to speed up I/O which would pre-allocate disk space. But i wouldn't worry about this since the sparse location is re-purposed by XFS - as the disk usage goes higher.

[2018-01-12 10:29] harshavardhana commented on #5371
@tomcsi you should re-read what i posted - these results were posted without using Minio. This is normal and expected behavior.  You cannot rely on `du -sh` to give you right values you have to use `--apparent-size` . `ls -la` provides the right value of disk usage.

[2018-01-12 10:32] harshavardhana commented on #5371
you could read details on why this can happen https://askubuntu.com/questions/234913/why-is-disk-usage-greater-than-the-size-of-all-files-on-it

[2018-01-12 12:26] tomcsi commented on #5371
@harshavardhana I maked few tests.

If I create xfs and upload file to it, then the effect is same.
[code]
[code]

If I create ext4 and upload file to it, then the file size same with `du -sch` and `du -sch --apparent-size`.
[code]
[code]

Is this xfs feature?

[2018-01-12 13:09] tomcsi commented on #5371
@harshavardhana Found the solution.

http://xfs.org/index.php/XFS_FAQ#Q:_Why_do_files_on_XFS_use_more_data_blocks_than_expected.3F

and

previously issue from minio/mc: https://github.com/minio/mc/issues/107

[2018-01-12 13:10] tomcsi commented on #5371
This not minio bug. Sorry dudes.

[2018-01-12 13:10] #5371 closed, assigned to nitisht

[2018-01-12 16:02] aead commented on #5374
That we can do - will follow this approach.

Hm - IMO we should either focus on code which is easier to review or tool support. For just this case alone it may work but just saying we should do a better job at review is an approach which does not scale. However that's a generic issue - solution/correct approach unknown.

[2018-01-13 01:28] harshavardhana opened #5393 "Support rolling upgrades of distributed Minio server"
## Expected Behavior
Propose and bring RPC changes such that we can support rolling upgrades, but this will only do rolling forward not rolling back upgrades.

RPC changes require a versioning scheme to support backward compatibility.

## Current Behavior
No rolling upgrades, allows for disruption in on-going I/O.

## Possible Solution
Our net/rpc requires changes to support this with versioned en

[2018-01-13 03:42] #5244 closed, assigned to aead

[2018-01-13 03:42] #5291 closed, assigned to aead

[2018-01-13 04:34] #5350 closed, assigned to poornas

[2018-01-13 17:13] #5254 closed, assigned to harshavardhana

[2018-01-14 08:45] dingjs commented on #5254
@harshavardhana  Hi,I did thousands of multipart upload,but can't reproduce the error.
If there is a new release,I'll update to the new version and see how it is going.
Thanks!

[2018-01-14 08:45] harshavardhana commented on #5254
@dingjs we will make a release soon.

[2018-01-15 07:04] nitisht opened #5400 "Gateway S3 test failure with aws-sdk-php mint tests"
## Expected Behavior
Mint tests should pass for Gateway S3 mode on latest Minio master branch

## Current Behavior
Mint tests fail for Gateway S3 mode on latest Minio master branch

[code]

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
- Deploy Minio master in S3 Gateway mode
- Run Mint tests

## Context
Mint automation tests

[2018-01-15 14:32] seboudry commented on #5357
Hi!
This feature will be good endpoint for k8s probes. Especially combined with GCE Ingress that only accept status 200 (so issue [3532](https://github.com/minio/minio/issues/3532) is not eligible) and without authentication.
Do you plan to make it as readiness or liveness probe (if distinction can be made) ?

[2018-01-15 15:08] curantes opened #5402 "Distributed minio fail to start after upgrade using ansible"
I had some issues with an distributed minio upgrade using provided minio ansible playbook and roles. Thanks for the assistance from @harshavardhana. This issue is created as a referens how minio could be upgrade with the help with ansible.

This have have worked flawlessly on all our environments except one.

ansible files attached as referens.

[ansible-minio.tar.gz](https://github.com/minio/mini

[2018-01-15 15:57] nitisht commented on #5357
hey @Secathor yes, this will be an unauthorized endpoint and will return 200 for success case. There will be no distinction, it can serve as both readiness and liveness probe.

[2018-01-15 17:30] jsrockets opened #5403 "Issue starting minio server on MacOS (not using docker or home-brew)"
When you try to launch minio via launchd (launchctl) on boot it does not work because it cannot find a home directory. A home directory seems to be a requirement even if --config-dir is used on the command line.

## Expected Behavior
Home directory should not be required if --config-dir is passed.

## Current Behavior
Code exits with an error.

## Possible Solution
I believe the problem is in this

[2018-01-15 17:46] nitisht commented on #3908
@waynekoepcke we added a blog post for this here https://blog.minio.io/query-minio-datastore-with-apache-drill-dcaf71d0cee5

Closing this as fixed.

[2018-01-15 17:46] #3908 closed, assigned to deekoder

[2018-01-15 17:47] nitisht commented on #3731
closing as duplicate of https://github.com/minio/minio/issues/5397

[2018-01-15 17:47] #3731 closed, assigned to rushenn

[2018-01-15 17:55] harshavardhana commented on #5403
Thanks @jsrockets we will take a look.

[2018-01-15 18:13] harshavardhana commented on #5403
Do you have the error message from this output? @jsrockets

[2018-01-15 19:25] krishnasrinivas opened #5406 "kubernetes service broker for minio"
Similar to how Minio has service broker for CF, Minio needs a service broker for k8s too.

https://kubernetes.io/docs/concepts/service-catalog/

[2018-01-15 19:36] jsrockets commented on #5403
Error messages match the code exactly :
Unable to get home directory.

I don't remember if there were any additional messages.

[2018-01-15 19:38] harshavardhana commented on #5403
There should be "err" component associated with the "message" that is being printed. Do you not see that?

[2018-01-15 19:46] jsrockets commented on #5403
Yes there was more there but I don't have the exact error saved.
Give me a few minutes and I'll try to recreate.

[2018-01-15 19:52] jsrockets commented on #5403
Exact error :

time="2018-01-15T13:50:40-06:00" level=fatal msg="Unable to get home directory." cause="exit status 1" source="[config-dir.go:100:mustGetDefaultConfigDir()]"

[2018-01-15 19:53] jsrockets commented on #5403
`time="2018-01-15T13:50:40-06:00" level=fatal msg="Unable to get home directory." cause="exit status 1" source="[config-dir.go:100:mustGetDefaultConfigDir()]"
`

[2018-01-15 19:53] jsrockets commented on #5403
Don't know where that weird red 100 thing is from. Last one is the exact line.

[2018-01-15 19:54] harshavardhana commented on #5403
Well that must be because of `:100:` is a emoji on github :100:

[2018-01-15 19:55] harshavardhana commented on #5403
This message is weird let me take a look at the code.

[2018-01-15 19:59] jsrockets commented on #5403
Code that works:

`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>KeepAlive</key>
   <true/>
   <key>Label</key>
   <string>com.minio.engine</string>
   <key>ProgramArguments</key>
   <array>
     <string>/Users/Jeff/Minio/bin/minio</string>
     <string>server</strin

[2018-01-15 20:01] jsrockets commented on #5403
Lets try it a different way.

[com.minio.engine.plist.txt](https://github.com/minio/minio/files/1632868/com.minio.engine.plist.txt)

[2018-01-15 20:01] jsrockets commented on #5403
That worked. Just remove the .txt obviously.
Jeff

[2018-01-15 21:30] ddzialak commented on #5161
As for me it's fine, the only reason I was surprised is that minio serwer says some characters are unsupported but in fact set of unsupported chars is different. This character set should also contain new line and in case of someone try to store object with new line in name valid error code should be reported.

[2018-01-15 21:35] harshavardhana commented on #5161
Newline is supported but the problem is perhaps encoding and handling it by our muxer on server side.

Especially this message `<Error><Code>BucketAlreadyOwnedByYou</Code><Message>Your previous request to create the named bucket succeeded and you already own it.</Message><Key></Key><BucketName></BucketName><Resource>/dd-test/foo&#xA;bar</Resource><RequestId>3L137</RequestId><HostId>3L137</HostId><

[2018-01-16 07:17] nitisht commented on #5400
Issue is not visible anymore on current Mint automated runs, so closing as working as intended

[2018-01-16 07:17] #5400 closed, assigned to krisis

[2018-01-16 09:09] curantes opened #5408 "Upgrade of distributed minio failed due old version listener.json files blocked the start"
I did a upgrade of the distributed minio using ansible according to #5402 this failed. I got assistance from @harshavardhana who assisted to get the cluster up and running. Looks like there were old listener.json for each bucket since an old `mc mirror -w` that still had the old version which caused the new version of cluster to fail to start.

Attachment of the listener.json files for all buckets

[2018-01-16 12:54] cristic83 commented on #5290
We retested using the versions:

minioVersion=RELEASE.2018-01-02T23-07-00Z
mcVersion=RELEASE.2017-12-12T01-08-02Z

and the bug continues to reproduce itself. Please check the attached logs.

[minio-1.log](https://github.com/minio/minio/files/1635125/minio-1.log)
[minio-0.log](https://github.com/minio/minio/files/1635126/minio-0.log)

[2018-01-16 14:51] aead opened #5411 "signature V2 authentication bypass attack against Admin-API"
Signature V2 pre-signed requests can be modified to trigger Admin-API calls. Such malicious requests can be used to obtain secret information (server config containing access credentials) without knowing the secret key.

## Expected Behavior
The server should reject pre-signed signature V2/V4 Admin-API requests .

## Current Behavior
The server accepts pre-signed signature V2 Admin-API requests.

[2018-01-16 19:38] fwessels opened #5416 "Drive capacity underreported when changing storage class"
When running minio with less than N/2 parity configuration the drive capacity is underreported:
[code]

## Expected Behavior
For this 12-disk setup the effective capacity is now (12-4)*15 = 120 GB. (Assuming all objects that are stored will be STANDARD class which makes sense I guess as this is the default).

Same goes for `mc admin info`, the free calculation suffers from the same behaviour.

[2018-01-16 19:55] krishnasrinivas commented on #5373
@vadmeste we can detect if account name is X and if the endpoint is X.blob.core.windows.net and throw an error saying "please give the endpoint as core.windows.net, what do you think?

[2018-01-16 20:00] vadmeste commented on #5373
There is no API that can load a custom url ? what's the point of checking the format of the url ?

[2018-01-16 20:14] krishnasrinivas commented on #5373
This is to detect the user error. A custom endpoint will not match `blob.core.windows.net`. Hence we can just return error if the endpoint matches `*.blob.core.windows.net`

[2018-01-16 20:44] krishnasrinivas commented on #5372
Head on `/` is an unusual request with out purpose @zhnu
does any of your application break because of this?
Can you paste code on how you tried to do HEAD on S3's `/`?

[2018-01-16 20:52] vadmeste commented on #5373
The thing is, I still don't know what url can work..

[code]

[2018-01-16 21:42] krishnasrinivas commented on #5373
@vadmeste in that case, how about autocorrecting the endpoint (check the latest push)

[2018-01-17 00:12] Vjust commented on #5301
Hi @harshavardhana : Thanks for this sample.  Your code works, but I am hitting an error.  In your example (with boto2) ,  when I try it , the "get_all_buckets" call works fine (i.e returns the name of each of the buckets I have , 2 buckets).. but the subsequent "get_bucket" call fails.  (It times out)..  Now it *could* be my local private network - but that's unlikely (I use mysql, and other serv

[2018-01-17 02:24] harshavardhana commented on #5372
I see that AWS S3 returns 405 as well

[code]

[2018-01-17 03:21] BrianGilbert commented on #4210
+1

[2018-01-17 03:22] bitatomcat opened #5418 "Is it possible to set permission of a bucket with read and add objects, but not able to remove them?"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-01-17 03:24] harshavardhana commented on #5418
For anonymous accounts it is possible to do that @bitatomcat , for authenticated access it is not possible.

[2018-01-17 04:11] nitisht commented on #5416
@fwessels good catch! Sent a PR https://github.com/minio/minio/pull/5419

[2018-01-17 14:19] auvn opened #5421 "ListObjects with prefix and non existing marker causes an NotImplemented error"
I am trying to list objects using *github.com/aws/aws-sdk-go/service/s3* package

Pseudo code example:
[code]

## Expected Behavior
Response is:
[code]

## Current Behavior
[code]

## Steps to Reproduce (for bugs)

1. Run the docker image *docker minio container: docker run --name=s3_server -p 9000:9000 -d minio/minio server /expor*;
2. Create a new bucket via minio web page. Bucket name is "bucke

[2018-01-17 15:14] #5050 closed, assigned to kannappanr

[2018-01-17 15:24] #5265 closed, assigned to ebozduman

[2018-01-17 16:20] Vjust opened #5422 "get_bucket("bucketname") call times out, via boto 2 API"
The following code sample was provided as a way to connect to minio while using Python 2.7 , Django and Boto 2 api. While this sample works, the next step of listing the contents of a bucket times out after retries.  _The "get_all_buckets" call works fine (i.e returns the name of each of the buckets I have , 2 buckets)._. **but** the subsequent "get_bucket" call fails. (It times out).. Now it _cou

[2018-01-17 16:25] #5220 closed, assigned to ebozduman

[2018-01-17 16:25] #5197 closed, assigned to ebozduman

[2018-01-17 18:36] #5411 closed, assigned to aead

[2018-01-17 18:54] #5374 closed, assigned to aead

[2018-01-17 19:00] zhnu commented on #5372
Hi, sorry for the late response:
On aws:
 `curl -X HEAD \
  http://bucketname.s3-region.amazonaws.com \
  -H 'authorization: AWS4-HMAC-SHA256 Credential=AKIAblablabla/20180117/region/s3/aws4_request, SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=something' \
  -H 'cache-control: no-cache' \
  -H 'x-amz-content-sha256: something' \
  -H 'x-amz-date: 20180117T184930Z'`
y

[2018-01-17 19:03] harshavardhana commented on #5372
You would get the same if you configure minio with `--domain` to get the resolver to work. Without providing the bucketname either path or virtual style wouldn't work with Minio. Since you don't have `--domain` set you should simply do `http://ip:port/bucketname`  @zhnu

[2018-01-17 19:09] zhnu commented on #5372
Will try asap, I need to modify my ansiable templates thank you very much.

[2018-01-17 19:12] harshavardhana commented on #5372
Correction you need to set MINIO_DOMAIN not `--domain`

[2018-01-17 19:20] kannappanr commented on #5418
Closing the issue as answered. Please feel free to re-open the issue if you have further questions.

[2018-01-17 19:20] #5418 closed, assigned to nobody

[2018-01-17 19:25] #5416 closed, assigned to nitisht

[2018-01-17 19:39] poornas commented on #5421
@auvn, was able to reproduce this issue. Agree that it would be better to return an empty response rather than throw a NotImplemented error.

[2018-01-17 19:49] auvn commented on #5421
good news :) thank you

[2018-01-17 19:51] kannappanr commented on #3332
Fixed by #5293

[2018-01-17 19:51] #3332 closed, assigned to nobody

[2018-01-17 20:12] kannappanr commented on #3590
Over time this has been reduced and the unit test coverage has also increased. Currently, both Travis and Appveyor are taking about 12 minutes and 20 seconds to finish. Closing the issue as we have reduced the time and also the time taken seems to be consistent with what we see in a linux system.

Here are sample builds for reference
https://travis-ci.org/minio/minio/builds/329718119?utm_source=gi

[2018-01-17 20:12] #3590 closed, assigned to nobody

[2018-01-17 21:13] Vjust commented on #5422
FYI ; The example with boto3 (as detailed in https://docs.minio.io/docs/how-to-use-aws-sdk-for-python-with-minio-server)  works fully.

I am able to instantiate the bucket object; iterate through keys "buck.objects.all() " and download objects.  Hence boto3 works , but boto2 consistently errors.

I used pdb to debug it..  It errors out at the boto library call "make_request".  Num retries = 6;  At

[2018-01-17 21:25] harshavardhana commented on #5422
@Vjust boto2 perhaps lacks proper path style support

[2018-01-17 21:33] Vjust commented on #5422
Is there any way to pass the signature version, and / or the path format.. via the "~/.boto" config file. (under boto2)

@harshavardhana  :  what should the correct path be, for this to work.  I see in my debug that its set to "bucketname.192.168.1.9:9000" - should it be "192.168.1.9:9000/bucketname" , instead? (I'm willing to kludge/patch my way thru this - because in the not too-far future we wi