[2017-04-14 23:23] harshavardhana opened #4128 "gateway: [s3] Sub-directory copy using `mc cp` doesn't work"
## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Unknown

## Steps to Reproduce (for bugs)
Attempt to copy to a sub-directory or prefix on minio using `mc cp` which works fine with regular minio server but not with gateway.

## Context
S3 compatibility errors.

## Your Environment
Download binary: http://minio-download.s3.amazonaws.com/minio and use the latest mc maste

[2017-04-14 23:30] harshavardhana opened #4129 "gateway: [s3] aws cli fails to listing objects"
## Expected Behavior

[code]

## Current Behavior
[code]

## Possible Solution
Unknown

## Steps to Reproduce (for bugs)
Configure `aws cli` using `aws configure` .
[code]

[code]

## Context
S3 compatibility errors.

## Your Environment
Download binary: http://minio-download.s3.amazonaws.com/minio and use the latest `aws cli`

[2017-04-14 23:31] harshavardhana commented on #4129
[code]

[2017-04-14 23:39] deekoder opened #4130 "Test gateway"
Ongoing item.

[2017-04-14 23:45] harshavardhana opened #4131 "gateway: [s3] GetBucketPolicy doesn't work"
GetObject action only policy document.
[code]

## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Unknown

## Steps to Reproduce (for bugs)
Create a local file /tmp/policy.json and then configured `aws cli` to use `aws s3api`

## Context
S3 compatibility errors.

## Your Environment
Download binary: http://minio-download.s3.amazonaws.com/minio and use the latest aws cli

[2017-04-14 23:46] harshavardhana commented on #4131
Another weird thing is this pattern

[code]

Not able to retrieve bucket policies as well.

[2017-04-15 00:19] deekoder commented on #4102
@tyfeatherston we will close this issue, please feel free to reopen it if you think you see a problem again.

[2017-04-15 00:20] #4102 closed, assigned to harshavardhana

[2017-04-15 00:21] #3919 closed, assigned to rushenn, belvid

[2017-04-15 00:24] harshavardhana commented on #4120
Actually the issue is deeper than that with proxy caching enabled there is an odd situation. With proxy

[code]

Without proxy

[code]

The problem here if you can observe happens because the URL query params are filtered out and not sent to the server. Basically client used these query params to calculate signature so the signature error.

Now it exposes a deeper problem not just that query param

[2017-04-15 06:31] hackintoshrao commented on #3966
We can keep this open as a issue tracker till the PR to Mesosphere repo is sent and its merged.

[2017-04-15 18:40] harshavardhana commented on #4110
Fixed by #4111

[2017-04-15 18:40] #4110 closed, assigned to krisis

[2017-04-15 19:50] vadmeste commented on #4123
I wasn't able to reproduce this bug, even after hour of testing.

@zllovesuki, all the log output that you posted is normal if you have a bad network connection, what's not normal and should be addressed is that Minio instances are not resuming normal operations when network connection becomes healthy again. However, as I said, I wasn't able to successfully reproduce this issue with simulated bad

[2017-04-15 20:37] vadmeste opened #4134 "heal: mc healing standalone erasure returns wrong message"
## Expected Behavior
mc returns object healed

## Current Behavior
mc returns object is healed on 1 disks while 1 disks were offline

## Possible Solution
No idea.

## Steps to Reproduce (for bugs)
1. `minio server /tmp/xl{1..4}`
2.  `mc mb myminio/testbucket`
3.  `mc cp file myminio/testbucket`
4.  `rm -r /tmp/xl1/testbucket/file`
5. `mc admin heal myminio/testbuckett/file`

## Context
Testing

#

[2017-04-16 01:06] harshavardhana commented on #4120
After exploring this for last two days, I am afraid to say that nginx seems to filter out query params no matter what which leads to issues with signature. Since all of S3 APIs usually have a query param in one way or the other and query params are much part of the signature calculation along with HTTP headers. Which makes it impossible for the nginx `proxy_cache` to work with Minio with all APIs

[2017-04-16 01:34] harshavardhana commented on #3521
This issue is not blocked anymore the decision was to bring the locking primitives to object layer interface itself.

- Since the object layer has the awareness of namespace each such implementation needs to hold its own lock this allows for a simpler behavior overall and allows for namespace lock to be the member of the object layer rather being a global object.
- Implementation entails bringing

[2017-04-16 15:27] akb2017 opened #4135 "How to backup minio - data files?"
My question is how to backup minio data?
In the worst scenario if i lost all the data in all the servers how do i recover it?
Should i take backup manually or is there any other solution for that ?

[2017-04-16 16:32] harshavardhana commented on #4135
There some tools which we recommend such as

- Restic https://docs.minio.io/docs/restic-with-minio
- Rclone https://docs.minio.io/docs/rclone-with-minio-server
- Cloudberry Backup “Setup an automated data backup system with Minio and CloudBerry” @tiwari_nitish https://blog.minio.io/setup-an-automated-data-backup-system-with-minio-and-cloudberry-cc8dc7f178b9 and https://www.cloudberrylab.com/soluti

[2017-04-16 16:51] akb2017 commented on #4135
What about distributed minio how can i take backup ?In the same way or is there any different approach?

[2017-04-16 16:59] harshavardhana commented on #4135
Distributed Minio is no different those articles apply to distributed Minio as well.

[2017-04-16 17:10] akb2017 commented on #4135
but for backup purpose it needs to create one more minio server right?

[2017-04-16 17:38] vadmeste commented on #4124
This following link contains my exploration result:

https://docs.google.com/document/d/19A8oZnUJcysBBowZ3ioOUKZgI2Ka_KlSh6SV5MElj7s/edit

Please, review especially the multipart support, not native but there is a way to achieve it.

[2017-04-16 18:26] morph027 commented on #4120
Thanks for your effort anyway! As written above, this was just out of curiosity ;)

nginx without cache works flawlessly.

[2017-04-16 18:37] deekoder commented on #4124
will do @vadmeste

[2017-04-16 18:38] harshavardhana commented on #4135
It is upto you it could be another NAS device, Minio Server or even Amazon S3.

[2017-04-16 18:54] krishnasrinivas commented on #4135
@akb2017 you can use `mc mirror` as well and do continuous backup:

https://docs.minio.io/docs/minio-client-complete-guide#mirror

[code]

[2017-04-16 19:06] akb2017 commented on #4135
But in order to backup the distributed minio it requires to backup the data from all the servers right? Is there any easy way to do it?

[2017-04-16 19:10] krishnasrinivas commented on #4135
`mc` works on top of S3, so you should not try to backup from the backend. `mc` uses S3 protocol for upload/download from minio server.

[2017-04-16 19:12] akb2017 commented on #4135
OK thank you

[2017-04-16 19:12] #4135 closed, assigned to harshavardhana

[2017-04-16 23:15] funnydevnull opened #4136 "No way to access uploaded metadata in fput_object from python api."
The python API allows you to upload metadata as a dict using the fput_object call but there doesn't seem to be a way to access it afterwards.

## Expected Behavior
I discussed this with @harshavardhana on slack and his suggestion was including it in the response object to a stat call and also fget_object.

## Current Behavior
Currently there does not seem to be a way to access this metadata via th

[2017-04-17 00:00] harshavardhana commented on #4136
This PR in minio-py should fix the problem - https://github.com/minio/minio-py/pull/505

[2017-04-17 05:24] harshavardhana opened #4139 "server: Distributed erasure coded leaves blocked locks even after client cancelled the request"
SIGABRT crash report - [retryLoop](https://github.com/minio/minio/files/924985/filename.txt)

## Expected Behavior
No hang to be observed when running dicom import tool.

## Current Behavior
Stale locks can be observed.
[code]

and slow build up of memory as well

[code]

## Possible Solution
No idea.

## Steps to Reproduce (for bugs)
Hard to reproduce but possible with multiple runs of dicomimpor

[2017-04-17 06:21] krishnasrinivas commented on #4108
@krisis here are the issues I noticed with https://gist.github.com/krishnasrinivas/ea5603d16e6d706793332af674df83e3

- Usually there is a REST API endpoint and query-params to customize it.
  For ex. `GET /minio/admin/v1/locks` is an intuitive API.
  But `GET /?lock` with `x-minio-operation: list` header is not an intuitive API.
  Especially for other APIs when we use `x-minio-operation: bucket` a

[2017-04-17 06:33] krishnasrinivas commented on #3521
@harshavardhana thinking about it, while implementing the gateway I noticed that the locking code for gateway was not making sense. Hence the right thing to do would be to move NS locking into object layer completely and make the GetObject() signature as:
[code]

That way S3 layer is kept free of the NS locking.

[2017-04-17 07:26] krisis commented on #4108
@krishnasrinivas You can see how we iterated to the current admin REST API [here](https://gist.github.com/krisis/dfb01e450dadb75d8ab19bc0e342f1a1/revisions). Interestingly, [this older revision](https://gist.github.com/krisis/dfb01e450dadb75d8ab19bc0e342f1a1/ee688751ea82fceb58adde7c33e06e067d4a8b53) addresses _some_ of the concerns you bring up. We decided then to be similar to S3's notification A

[2017-04-17 07:33] harshavardhana commented on #3521
In-fact this style we thought about before the problem is that we need to know ObjectInfo{} before to validate the HTTP Range header.  You won't know `length` of how much should to read until you have parsed and validated the Range header. which would lead to having GetObjectInfo() function to be called before calling GetObject(). So with that in mind passing range header to object layer is wrong

[2017-04-17 11:13] afterhill opened #4140 "The remote volumes will not be found when adding new nodes into minio distributed mode"
When adding new new node into minio distributed modes,  the following error was repeated in living container and the entire minio system crashed:

[code]

## Expected Behavior
The new node was merged properly.

## Current Behavior
The entire minio system will crash and all of running container will repeat the following error message:

[code]

## Possible Solution
Remove all of `.minio.sys` folder

[2017-04-17 13:29] nl5887 commented on #4125
Duplicate #4129, fixed in latest PR.

[2017-04-17 13:32] nl5887 commented on #4126
related to #4129 and #4125. Fixed in latest PR.

[2017-04-17 13:39] koolhead17 commented on #4125
Just tested, can confirm this is fixed. 😄

[2017-04-17 13:44] krisis commented on #3980
@deekoder This issue can be closed. It is fixed by PR #4045 in minio repo and PR https://github.com/minio/mc/pull/2131 in mc repo.

[2017-04-17 14:12] krisis commented on #4134
The issue isn't reproducible. @vadmeste, could you close this issue if you don't see it occur with some of the recent changes in `mc`?

[2017-04-17 14:14] vadmeste commented on #4134
I also don't see the bug anymore. I am going to close this issue.

[2017-04-17 14:14] #4134 closed, assigned to krisis

[2017-04-17 14:28] koolhead17 commented on #4126
Can confirm, works as intended.

[code]

[2017-04-17 15:00] nitisht commented on #4077
ETA 20 Apr

[2017-04-17 16:19] #3980 closed, assigned to krisis

[2017-04-17 16:23] harshavardhana commented on #4129
Fixed in latest update to gateway.

[2017-04-17 16:23] #4129 closed, assigned to nobody

[2017-04-17 16:24] harshavardhana commented on #4125
Fixed in latest update to gateway PR.

[2017-04-17 16:24] #4125 closed, assigned to nl5887

[2017-04-17 16:25] #4126 closed, assigned to nl5887

[2017-04-17 16:26] harshavardhana commented on #4139
This is only reproducible consistently with haproxy load balancer.

[2017-04-17 16:45] deekoder commented on #4123
@zllovesuki - We could not reproduce this issue on our end. Would it be possible to share access to the machine where you created this?

[2017-04-17 16:46] #4116 closed, assigned to krishnasrinivas

[2017-04-17 16:53] deekoder commented on #4056
@JohnnyLeone  since this does not seem to be a minio related issue, we will go ahead and close it. The workaround is to disable http2. Please reopen if you think this issue needs any further attention from us.

[2017-04-17 16:53] #4056 closed, assigned to vadmeste

[2017-04-17 16:54] #4039 closed, assigned to krishnasrinivas

[2017-04-17 17:01] deekoder commented on #4039
File an issue on golang @harshavardhana  and then close this issue.

[2017-04-17 17:06] deekoder opened #4141 "Create a thumbnailing service on minio server"
- We need this for the Minio Browser.
- Can start with providing this for img & video files.

[2017-04-17 17:09] #3071 closed, assigned to fwessels

[2017-04-17 17:29] deekoder commented on #3966
Use env variables do pass to the docker file.

[2017-04-17 18:16] cfehring commented on #4141
Check out https://github.com/h2non/imaginary

[2017-04-17 19:34] harshavardhana commented on #4139
Actually it is possible to reproduce this even without a load balancer but happens after a few runs and cancels

[code]

What can be observed is there are around millions of dsync lock calls happening in a loop. @fwessels - can you chime in on this?

[2017-04-17 19:47] harshavardhana commented on #4139
In-fact this makes server eventually run out of memory and crashes.

[code]

[2017-04-17 19:52] harshavardhana commented on #4139
Eventual crash.

[code]

[2017-04-17 20:01] harshavardhana commented on #4139
Moved this to severe since this actually can cause problems on production systems.

[2017-04-17 20:26] harshavardhana commented on #4140
Distributed setup wouldn't work with existing data on the previous volumes i.e in your case VM1 /data1 - we need to fix this to provide the message properly.  The situation you ended up with can clearly happen and should be easy to reproduce.

So it is expected that you start with fresh volumes, as you stated once cleared it works properly. We will fix the messaging problem here.

[2017-04-17 21:11] harshavardhana commented on #4140
This issue is reproducible quite simply like this, choose a directory say `/tmp/1` run fs backend on it once.

[code]

Kill the server and now attempt to use `/tmp/1` as part of the distributed set using the following script.

[code]

One of the last servers failed to start where as the other servers are waiting on the connection for quorum, which is exactly what happened in this scenario.
[code]

[2017-04-17 22:49] harshavardhana commented on #4118
// cc @fwessels - here for any comments on this.

[2017-04-17 22:50] harshavardhana commented on #4061
Is this fixed already @koolhead17 @NitishT ?

[2017-04-17 22:50] harshavardhana commented on #4043
Fixed in gateway PR https://github.com/minio/minio/pull/3940

[2017-04-17 22:50] #4043 closed, assigned to nobody

[2017-04-17 22:58] harshavardhana commented on #4106
Fresh run takes 22secs,  Is quite instant the second attempt

[code]

Takes 2 seconds after the disks have been formatted.

[code]

[2017-04-17 22:59] deekoder commented on #3468
@thorerik  - please reactivate this issue if you think its not addressed by us. Since we are unable to reproduce this on our end, we would love to see this issue on your end.

[2017-04-17 22:59] #3468 closed, assigned to hackintoshrao

[2017-04-17 23:00] harshavardhana commented on #4106
I don't know if this warrants a severity of high, since this is also a specific use case. What do you think @krishnasrinivas ?

[2017-04-17 23:11] fwessels commented on #4118
Nice tool, had not heard about it before.

However in our case, we are not "parsing" the incoming data in any way, but literally just treating it as an arbitrary array of bytes. Only border case that I could potentially see go wrong is that `len(input) != len(output)` (and then for a particular combination of data & parity size) but for that we could better test it in a large `for` loop...

[2017-04-18 01:26] krishnasrinivas commented on #4108
@krisis discussed with @abperiasamy and here is the updated doc:

https://gist.github.com/krishnasrinivas/4b216a6ec03925645253788d8e0e241d

Let me know if anything does not make sense.

[2017-04-18 01:36] krishnasrinivas commented on #4106
@harshavardhana yes, just checked that it is delayed only for fresh run, priority can be reduced.

[2017-04-18 07:21] u007 commented on #2551
realize cant start object name with /
example /xxx/file.jpg fails, xxx/file.jpg works

[2017-04-18 07:22] harshavardhana commented on #2551
Yes you cannot the path resource is already `<bucket_name>/<object_name>`  - '/' is a delimiter.

[2017-04-18 07:44] #4136 closed, assigned to harshavardhana

[2017-04-18 15:10] volvicoasis opened #4143 "Error sending event to Kafka"
When configuring minio with Kafka 0.10 to fire event on a specific topics, we've got an error because kafka message don't contain a key.

## Expected Behavior

Creation of a message in a specific topic

## Current Behavior

Minio server says : Failed to fire hook: Error sending event to Kafka - kafka server: Message contents does not match its CRC.

## Possible Solution

Sarama is a Go library for

[2017-04-18 16:52] u007 commented on #2551
would be nice if the error shows more friendlier on the possible issue in the object name.
Unsupported characters are `^*|\" isnt indicating it

[2017-04-18 17:33] harshavardhana commented on #2551
What would be a friendlier message? @u007 - happy to incorporate if you have something in mind.

[2017-04-18 17:37] harshavardhana commented on #4140
A fix has been merged to give enough time for the neighboring servers to come online and detect each others failure.

[2017-04-18 17:37] harshavardhana commented on #4140
Fixed by #4142

[2017-04-18 17:37] #4140 closed, assigned to harshavardhana

[2017-04-18 17:48] vadmeste opened #4144 "browser: Scrolling down a long list of objects makes the whole list disappears."
## Expected Behavior
To be able to find my directory and open it

## Current Behavior
Having one directory and 1000 files under my bucket, scrolling down until the end of list made the whole list disappears, only the directory remains in the list.

## Possible Solution
No idea.

## Steps to Reproduce (for bugs)
1. `minio server /tmp/fs`
2. `mc mb myminio/testbucket; touch myfile`
3. `for i in $(se

[2017-04-18 17:59] u007 commented on #2551
Object name may not start with prefix /
maybe we add this validation before checking on other validations

[2017-04-18 18:10] harshavardhana commented on #2551
Well that is not the only requirement @u007 in-fact unsupported characters are indeed "^*|" as well.  We could potentially differentiate these errors..

Will open a bug and see how this can be fixed properly.

[2017-04-18 18:33] deekoder commented on #4144
Sounds like an UX issue.

[2017-04-18 19:09] deekoder commented on #4139
Any further insight on this @harshavardhana ?

[2017-04-18 19:16] harshavardhana commented on #4139
Haven't had a chance to look at it again, will be doing it today.

[2017-04-18 22:32] donatello commented on #4143
@volvicoasis Is there some Kafka-side setup that prevents receiving messages without a key?

When testing with a vanilla Kafka setup, there is no problem - e.g. https://hub.docker.com/r/spotify/kafka/

To help reproduce this problem, could you share detail about your Kafka setup?

[2017-04-18 23:46] deekoder commented on #4139
Since now we have an idea why this is happening, moving it to high pri. Fix is being worked on.

[2017-04-19 03:01] u007 commented on #2551
alright, its up to you, maybe you can check both condition at one validation and comes out an error that prompt a generic error for both condition

[2017-04-19 03:35] harshavardhana commented on #4139
Thanks @deekoder the fix is going into dsync.

[2017-04-19 03:36] harshavardhana commented on #4143
Moving to blocked as waiting on @volvicoasis

[2017-04-19 05:54] volvicoasis commented on #4143
Hi,

I'm pretty sure it's arround log compaction. I will sent you a copy of our properties

[2017-04-19 06:38] harshavardhana commented on #3521
Removing the blocked label -  discussion was finished yesterday and it was decided to introduce a change for GetObject() API itself at object layer.

[code]

This is implemented in conjunction with catering the needs of the Gateway layer as well. This avoids implementing addition locking semantics for object layer but instead allows for GetObject() primitive to validate

 - Range header
 - Conditi

[2017-04-19 06:57] harshavardhana commented on #4139
Root caused on packet.net server 16 disks distributed server with 2 nodes each connected over - 10GB interconnect, each disk is 8TB with a performance of around (220~230MB/sec for `dd` with odirect flag turned on).

It was found that the dsync `lockBlocking()` is creating a lot of go-routines to cater for the timeout that would occur when the servers are busy. DRWMutexTimeout is set to 25 millisec

[2017-04-19 08:10] volvicoasis commented on #4143
Here you've got a server.properties :

[code]

[2017-04-19 12:47] koolhead17 opened #4149 "gateway: bucket notification related test fail."
## Expected Behavior

Bucket notifications to work.

## Current Behavior
bucket notification related test fail.

## Possible Solution
not sure.

## Steps to Reproduce (for bugs)

1. Run gateway using [instructions](https://gist.github.com/koolhead17/75290e448a2487477c7de8bf1ce06d11)
2. Run mint using [instructions](https://github.com/minio/mint/blob/master/README.md)

## Context
Testing gateway.

[2017-04-19 13:31] hackintoshrao commented on #4130
- With Preliminary round of tests with Mint have found issues which are same as https://github.com/minio/minio/issues/4131 and https://github.com/minio/minio/issues/4149 .
- With be proceeding with further tests.

[2017-04-19 15:42] donatello commented on #4143
I see that it would be useful to set the key in Kafka messages for preserving ordering of messages. Additionally it is also useful in [log-compaction](https://kafka.apache.org/documentation.html#compaction) when only the last message with a key is preserved. For Minio, it makes sense to set the key as the "bucket/object" for the event.

We will update here once the change is made.

[2017-04-19 18:26] #4143 closed, assigned to donatello

[2017-04-19 18:28] donatello opened #4152 "Server requires content-length header in chunked encoding (streaming) requests"
The Ruby library fog when uploading files to Minio/S3, uses chunked encoding, but does not send the "content-length" header - however Minio server requires it. Presumably fog has the same behaviour wrt S3 and so we need to see if content-length header is actually required in Minio server's chunked request implementation.

More context of how the issue was found is here - https://github.com/minio/m

[2017-04-19 19:41] deekoder opened #4153 "Large bucket support for minio server"
@fwessels  will add all the additional tasks that needs to be done for this task.

[2017-04-19 19:54] deekoder commented on #4152
does this block #4089? and is there a workaround?

[2017-04-19 21:22] #4139 closed, assigned to harshavardhana

[2017-04-19 22:17] deekoder commented on #4046
- We have to test this first and then decide if we need to add support for this in Minio.
- This will also inform what we need to do on #4153

[2017-04-20 06:12] akb2017 opened #4155 "How to run minio as Daemon process?"
I want to run minio as Daemon process or to run in background ..How to run minio as Daemon process in ubuntu without root access?

[2017-04-20 06:12] harshavardhana commented on #4155
Please read this https://github.com/minio/minio-service/tree/master/linux-systemd @akb2017 and let us know how it goes.

[2017-04-20 06:14] akb2017 commented on #4155
But that one requires root access right? I want to run this without root access

[2017-04-20 06:33] harshavardhana commented on #4155
It doesn't require root access.. you can configure the system daemon to run as a normal user.

[2017-04-20 06:35] harshavardhana commented on #4155
https://github.com/minio/minio-service/tree/master/linux-systemd#note - read the Note here. First you need to configure the service as root and then subsequently make a proper user without shell to run the service.

[2017-04-20 06:36] akb2017 commented on #4155
Ok i will try it now

[2017-04-20 10:44] volvicoasis commented on #4143
I know my question it's stupid, but how I can download a docker image with this feature ?

[2017-04-20 15:44] harshavardhana commented on #4143
@volvicoasis for now you need to get `docker pull minio/minio:edge`

[2017-04-20 21:22] nitisht commented on #4077
Looks like an object is being read before the multi-part upload is completed.

Basically, if an object is large enough, minio-go attempts to upload it in multiple parts - in a multi-part upload, there are three steps involved -

- initMultipart upload
- Actual upload of parts
- Finalisation of the uploaded object

We observed that initMultipart is done, but before the finalisation, there are multi

[2017-04-20 21:33] vadmeste opened #4158 "bucket listening: Regression with standalone FS"
## Expected Behavior
`mc watch` against a Minio server in standalone FS mode should succeed

## Current Behavior
`mc watch` against a Minio server in standalone FS mode fails

`ERRO[0129] Error sending update bucket listener to localhost:9000 - Peer :9000 was not initialized, unexpected error  cause=Peer :9000 was not initialized, unexpected error source=[s3-peer-client.go:171:S3PeersUpdateBucketL

[2017-04-20 21:39] harshavardhana commented on #4158
mc server? :-p

[2017-04-20 21:41] vadmeste commented on #4158
corrected :)

[2017-04-20 22:28] #4158 closed, assigned to harshavardhana

[2017-04-20 22:33] msteffen commented on #4077
Hi Nitish, I'm one of @dwhitena's colleagues. Thank you for that update! How did you figure out that that that was the problem? In particular, how do you know when initMultipart and Finalization are done? Is that in the logs?

[2017-04-20 22:41] nitisht commented on #4077
Hey @msteffen

We added Minio trace in `minio_client.go` file.

When the execution reaches the point (https://github.com/pachyderm/pachyderm/blob/master/src/server/pkg/obj/minio_client.go#L35) the CompleteMultipart is done (i.e. object upload is finalised). Minio-Go internally handles the steps I mentioned earlier i.e. init, upload and finalise. However due to some reason, before the `Writer` exec

[2017-04-21 00:14] vadmeste opened #4160 "[tests] Investigate TestSuiteCommon.TestGetPartialObjectMisAligned rare crash"
**This crash is found while compiling this PR https://github.com/minio/minio/pull/4150, However, commits which triggered this crash disappeared now.**

## Expected Behavior
Successful go test.

## Current Behavior
Test crashed.

[code]

## Possible Solution
No idea

## Context
Bug found

## Your Environment
All

[2017-04-21 06:18] deekoder commented on #4160
@hackintoshrao - please take a look at this.

[2017-04-21 06:31] deekoder commented on #4108
need to have the backward compatibility discussion with @abperiasamy

[2017-04-21 06:52] nl5887 commented on #4128
We cannot reproduce this issue, expect it has been fixed by other PR.

[2017-04-21 07:25] donatello commented on #4152
Since the last release, this issue was fixed in b62cd8ed84eb29cab0b667e07e671f33c1465760

fog library works fine on master. Tested with https://gist.github.com/donatello/e8f442f92e388bc62f79c6e40d49caf3

[2017-04-21 07:25] #4152 closed, assigned to donatello

[2017-04-21 10:52] jfcalvo commented on #3251
Has been this solved? I'm having this problem with minio version `2017-03-16T21:50:32Z`. In my case this is happening trying to initiate a multipart upload (using v4 signing).

[2017-04-21 11:01] jfcalvo commented on #3251
@harshavardhana should I create a new issue with my problem?

[2017-04-21 11:07] volvicoasis commented on #4143
Just to confirm you, it's working like a charm.
Thx you very much !

KR,
Jacques.

[2017-04-21 11:39] vadmeste commented on #3251
@jfcalvo, yes please do and provide details as much as possible.

[2017-04-21 12:49] hackintoshrao commented on #4160
- It looks like the issue has originated from [this line](https://github.com/vadmeste/minio/blob/issues/4138/cmd/server_test.go#L1875) where the contents of the slice has been accessed.
- The size of the string slice depends on the output of the random function set in the loop (and inside the loop too) [here](https://github.com/vadmeste/minio/blob/issues/4138/cmd/server_test.go#L1849).
- In cases

[2017-04-21 14:35] jfcalvo opened #4162 "File with spaces in his name fail signature checks"
I'm trying to init a multipart upload with a file that has a space in his name `video 1.mp4`.

The response of the request is a 403 error indicating that `Signature does not match`.

The same exact request is working as expected when the filename doesn't have any space in the name (tested with `video_1.mp4` and working fine) so maybe it's a bug.

Minio log error is the following:

[code]

Elixir/P

[2017-04-21 14:35] jfcalvo commented on #3251
@vadmeste done here: https://github.com/minio/minio/issues/4162

[2017-04-21 14:49] harshavardhana commented on #4162
Would you mind posting a sample code? . It would help in our functional tests

[2017-04-21 14:57] jfcalvo commented on #4162
It's ok for you an small Elixir app using ex_aws to do that request?

[2017-04-21 15:11] harshavardhana commented on #4162
Sure @jfcalvo - thanks.

[2017-04-21 16:02] jfcalvo commented on #4162
I have created two functions the first one without spaces (working) and the last one with spaces that is returning an error from minio.

Take a look to the README file in order to make it run: https://github.com/jfcalvo/minio_spaces_test

Please tell me if you have problems executing it.

[2017-04-21 17:06] akb2017 commented on #4155
This one working fine for running single instance minio ..But getting error when i tried as cluster
Error -->

Starting Minio...
Started Minio.
minio.service: Main process exited, code=exited, status=1/FAILURE
 minio.service: Unit entered failed state.
minio.service: Failed with result 'exit-code'.

[2017-04-21 17:54] krishnasrinivas commented on #4162
Checking this.

[2017-04-21 17:57] harshavardhana commented on #4155
// cc @hackintoshrao can you check?

[2017-04-21 18:24] fwessels commented on #4046
Need to discuss results with AB and then plan accordingly. Depending on his schedule hopefully can do this either Monday or Tuesday.

[2017-04-21 18:48] krishnasrinivas commented on #4162
ex_aws encodes space as `+` instead of `%20`

Refer to the docs on the rules for signature-v4 http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html :

`The space character is a reserved character and must be encoded as "%20" (and not as "+").`

I will check if it's easy to fix and send a PR to ex_aws, if not I will create an issue there.

[2017-04-21 19:16] krishnasrinivas commented on #4162
Actually, signature is calculated fine, here is ex_aws canonical header:
[code]

i.e space is encoded as %20 while calculating the signature.

But the request is sent as `+`, here is `nc -l` output
[code]

Because of this minio constructs signature after encoding `+` to `%2B`, here's minio's canonical request:
[code]

[2017-04-21 20:49] nitisht commented on #4077
Here is the fix PR: https://github.com/pachyderm/pachyderm/pull/1723

I validated locally. @jonandernovella can you validate on your end as well?

[2017-04-21 21:12] harshavardhana commented on #4152
So this means we can document how to use `bosh` to store blobs on Minio now?

[2017-04-21 21:17] donatello commented on #4152
No that is not yet the case. The original person who tried, was using Minio as a blobstore for Cloud Foundry - this appears to be different from using it as a blobstore in BOSH.

[2017-04-21 22:09] krishnasrinivas commented on #4162
opened https://github.com/CargoSense/ex_aws/issues/396

[2017-04-21 23:20] harshavardhana commented on #3883
We were able to reproduce this issue, finding a fix.

[2017-04-22 00:06] harshavardhana commented on #4077
@jonandernovella fix has been merged upstream, closing this bug. Please re-open a new issue if you see further issues with pachyderm + minio.

[2017-04-22 00:06] #4077 closed, assigned to nitisht

[2017-04-22 01:29] donatello commented on #4089
The newer [bosh-cli v2](https://bosh.io/docs/cli-v2.html) supports using Minio as a blobstore - settings for minio can be specified via extra options in the blobstore related configuration files like `config/final.yml` and `config/private.yml`. The list of available options is present here - https://github.com/pivotal-golang/s3cli/blob/master/config/config.go#L17

Currently, using Minio with the o

[2017-04-22 02:01] harshavardhana commented on #3883
In all the situations that i have observed this behavior i see that the threads are waiting on disk i/o

[code]

[code]

Only reproduced it on a 64 directory erasure coded setup, but in all cases it is waiting on disks and writing to disks.  This setup is rather not a normal setup but a fake 64 disk setup but it increased wait times enough to crash the server by reaching the aforementioned thread

[2017-04-22 02:04] harshavardhana commented on #3883
After performing a scheduler trace we can also see more details

```SCHED 20008ms: gomaxprocs=64 idleprocs=0 threads=9742 spinningthreads=0 idlethreads=5834 runqueue=25 gcwaiting=0 nmidlelocked=1 stopwait=0 sysmonwait=0```

Now this is right before the program crashed.

[2017-04-22 02:11] harshavardhana commented on #3883
Increasing the SetMaxThreads() increases the overall behavior here did set the value to 50k here.  This is the only work-around right now.

[code]

[2017-04-22 06:23] hackintoshrao commented on #4155
Will validate the script for distributed Minio.

[2017-04-22 06:36] akb2017 commented on #4155
ok

[2017-04-22 06:47] akb2017 commented on #4155
Iam getting the error like this -->
Loaded: loaded (/etc/systemd/system/minio.service; enabled; vendor preset: enabled)
Active: failed (Result: exit-code) since Sat 2017-04-22 08:35:48 IST; 44s ago
Docs: https://docs.minio.io
Process: 8886 ExecStart=/opt/minio/minio server $MINIO_OPTS $MINIO_VOLUMES (code=exited, status=1/FAILURE)
Process: 8883 ExecStartPre=/bin/bash -c [ -n "${MINIO_VOLUMES}" ] |

[2017-04-22 06:57] hackintoshrao commented on #4155
@akb2017 : Can you also send the logs of Minio using the command `journalctl -u minio.service` and also the version of Minio you are running using the `/opt/minio/minio --version` command.

[2017-04-22 07:43] akb2017 commented on #4155
version: 2017-03-16T21:50:32Z

root@deds13:/var/minio# journalctl -u minio.service
-- Logs begin at Fri 2017-04-21 23:21:52 IST, end at Sat 2017-04-22 13:11:12 IST
Apr 21 23:22:11 deds13 systemd[1]: Starting Minio...
Apr 21 23:22:11 deds13 systemd[1]: minio.service: Control process exited, code=e
Apr 21 23:22:11 deds13 systemd[1]: Failed to start Minio.
Apr 21 23:22:11 deds13 systemd[1]: minio.ser

[2017-04-22 07:59] gowithplanb commented on #4155
If I specify my MINIO_VOLUMES with a comment in the line, minio won't start either. Try removing the comment in your config file.

[2017-04-22 08:38] akb2017 commented on #4155
Yeh its working fine now ..
Thanks a lot....

[2017-04-22 08:38] #4155 closed, assigned to nobody

[2017-04-22 10:30] vadmeste commented on #3883
Actually, a go-routine doesn't necessarily take a thread.

Creating threads is costly. Golang created go routines to minimize creating threads as much as possible.

SetMaxThreads() means threads and not goroutines.

By the way @harshavardhana, can we know the number of concurrent clients ? can you print the number of concurrent clients each second until the server crashes? is there a limit of numb

[2017-04-22 18:26] harshavardhana commented on #3883
A running either blocking or ready to run go routine is always on a thread.  It is not about concurrent number of clients. I tried multiple variations of limiting the number of incoming requests such as

-  Blocking listeners using a global limit
-  Blocking in ServeHTTP

We never even reach closer to top limit. The problem of the thread buildup is due to how many go-routines we create underneath.

[2017-04-22 18:36] harshavardhana commented on #3883
NOTE: Let me make this even more clear this testing and reproducer uses a patch - https://github.com/minio/minio/pull/4157 - Which basically breaks away the limit of erasure disks limit we can have.

So my testing used 64 directories not a usual scenario.

[2017-04-23 05:51] akb2017 opened #4164 "Minio Signed URL download by client"
Does minio signed-url supports downloading of file as stream at minio client Java API or any other API?

[2017-04-23 08:14] harshavardhana commented on #4164
Do not understand the question? are you asking that signed URL downloads as stream?

[2017-04-23 08:27] harshavardhana commented on #4128
A new `minio-go` update is needed @nl5887 - otherwise it seems like there is some odd retry happening internally in minio-go.  Apart from that `mc cp` is working fine now.

[2017-04-23 08:27] #4128 closed, assigned to nl5887

[2017-04-23 08:29] harshavardhana commented on #4127
Can reproduce this issue with the latest PR update.

[code]

[2017-04-23 08:31] harshavardhana commented on #4131
This inconsistent behavior is still reproducible

[code]

[2017-04-23 08:43] harshavardhana opened #4165 "gateway: ListenBucketNotification not implemented"
## Expected Behavior
Listen bucket notification to be implemented on gateway.

## Current Behavior
[code]

## Possible Solution
Implement listen bucket notification.

## Steps to Reproduce (for bugs)
`mc watch gateway/testbucket`

## Context
Minio extension features

[2017-04-23 08:45] harshavardhana commented on #4165
Setting this as blocked - since not sure if this was decided to be not implemented for gateway. Do not know the reasoning behind though.  Since the bucket notification code is implemented at the handler layer i don't see why this cannot be implemented but yes it is something we have to decide. // cc @abperiasamy

[2017-04-23 09:39] akb2017 commented on #4164
yes

[2017-04-23 09:42] harshavardhana commented on #4164
Yes it is a stream. if you have a signed URL. All you have to do is just do http GET on it.

[2017-04-23 09:45] akb2017 commented on #4164
OK thank you

[2017-04-23 15:30] akb2017 commented on #4164
I have one more question related to this. Will signed URL downloading support reactive streaming ?
If that supports, if you can give pointer to any reference, code or documentation will be helpful for us. Appreciate your help ,Thank you

[2017-04-23 18:25] harshavardhana commented on #4130
Anything new to report @hackintoshrao ?

[2017-04-23 19:30] donatello commented on #3883
Root cause appears to be that disk IO calls are blocking in the go-runtime, and the go-runtime spawns a new OS thread whenever a go-routine is ready to run but existing OS threads are blocked. This program demonstrates this - https://gist.github.com/donatello/08eec9a1847d0f9f2a73510460bae421 - with more parallelism, the number of OS threads used by the process increases and eventually the process

[2017-04-23 21:39] krishnasrinivas commented on #4131
This is seen because /tmp/policy.json that gets uploaded does not have a corresponding `BucketPolicy` which are:

[code]

we can fix this by not interpreting the policy.json at the s3 layer and instead pass the entire file to the gateway layer. minio.go Core should have additional functions:

[code]

My suggestion is since this PR works with bucket policy.json for minio's convention of ReadOnly Re

[2017-04-23 21:46] krishnasrinivas commented on #4165
We had decided not to do bucket notification because we wanted to remain stateless. Else we have to store notification configuration on disk.

[2017-04-23 21:50] harshavardhana commented on #4165
Ah I see. Closing this as agreed.

[2017-04-23 21:50] #4165 closed, assigned to nobody

[2017-04-23 21:54] krishnasrinivas commented on #4149
same as https://github.com/minio/minio/issues/4165

[2017-04-23 21:57] harshavardhana commented on #4149
Closing this we have decided to not do bucket notifications on gateway.

[2017-04-23 21:57] #4149 closed, assigned to nobody

[2017-04-23 22:29] danyaljj opened #4166 "remove a bucket from gui?"
In the minio webapp, why there is no way to delete a bucket from the graphical interface?

[2017-04-23 22:38] harshavardhana commented on #4166
Not possible yet @danyaljj - we are re-doing the UI right now.  For now you have to use `mc rm -r`

[2017-04-23 22:41] harshavardhana commented on #4131
This should address the concerns here https://github.com/minio/minio-go/pull/660

[2017-04-23 23:14] deekoder commented on #4166
It's on our roadmap. I am filing this under future milestone for now.

[2017-04-23 23:22] zllovesuki commented on #4123
It is possible that my network and VM setups created a very narrow edge case. I don't think this is a cause for any major concern, at least for now. I will close this issue, and if it happens again I will reopen it.

[2017-04-23 23:22] #4123 closed, assigned to vadmeste

[2017-04-23 23:23] zllovesuki commented on #4123
It is possible that the flooding of ARP packets messed up with other parts of the system (like the kernel, but not necessary the packet loss part that causes the problem).

[2017-04-23 23:23] harshavardhana commented on #4123
This narrow edge case must have been handled in following two commits. You could try `docker pull minio/minio:edge`

[code]

[2017-04-24 02:51] krishnasrinivas commented on #4127
Can this issue be closed? because on AWS-S3:
[code]

this is allowed, since gateway will just pass the client supplied policy JSON to the backend it is up to the backend to validate it. i.e AWS S3 will not complain but minio server will. Hence the "Expected Behavior" will depend on the gateway's backend.

[2017-04-24 03:04] harshavardhana commented on #4127
The error passed back to the client should be consistent. Gateway should be a passthrough for the errors coming in from the server.

[2017-04-24 03:12] harshavardhana commented on #4127
This is fixed properly in https://github.com/dutchcoders/minio/commit/4cec11959b8f5c490bf91bb2285a3581882b37ee latest. Closing.

[2017-04-24 03:12] #4127 closed, assigned to nobody

[2017-04-24 06:25] hackintoshrao commented on #4130
No other functionality broke with series of other tests performed. Looks good.

[2017-04-24 07:08] krishnasrinivas commented on #4130
The following are the errors on mint as of now:
[code]

related to bucket notification which are not supported on gateway.

There are comments by @houndci-bot @harshavardhana and me on the PR. If they are taken care of then I think we can merge the PR.

PR https://github.com/minio/minio-go/pull/661 also needs to be taken care of for presignedPUT to work on s3 gateway.

[2017-04-24 10:39] hackintoshrao commented on #3966
Testing on packet clusters, ETA - 27th April 2017.

[2017-04-24 11:15] 4406arthur opened #4167 "parse CopyObject presignURL return 403"
## Context  &  Reproduce

It responds with 403 SignatureDoesNotMatch,
but other cmd is work.
After replacing endpoint with AWS S3, CopyObject presignedURL can work in same codebase.

## Env
Minio Server:
 - VERSION 2017-04-23T18:13:31Z
 - PLATFORM  OS: linux centos7 | Arch: amd64
 - RUNTIME Version: go1.7.3 | CPUs: 2

Client SDK:
- aws-sdk-php version 3.26.1 (for generating presignURL)

## ERROR M

[2017-04-24 15:31] slapers opened #4168 "Policy regarding submitting security issues"
Hi,

Im experiencing unexpected behaviour which which might be a bit sensitive to just report in an issue. Is there a policy regarding submitting security issues ?

[2017-04-24 15:59] marcoliceti opened #4169 "Can't reach 172.17.0.2 (Docker on Mac)"
Following the [quickstart](https://docs.minio.io/docs/minio-quickstart-guide), I do:

[code]

And I get instructions such as:

[code]

Address `http://127.0.0.1:9000` is fine, while `http://172.17.0.2:9000` times out.

I guess that's because `http://172.17.0.2:9000` is meant to be used only from inside the Docker container. Can you confirm this?

[2017-04-24 16:34] deekoder commented on #4144
Does reproduce for 1000+ objects.

[2017-04-24 16:37] deekoder commented on #4112
need to discuss further with @abperiasamy

[2017-04-24 16:38] deekoder commented on #4089
Needs to be tested and documented.

[2017-04-24 16:38] #4089 closed, assigned to donatello

[2017-04-24 16:39] deekoder commented on #4023
ETA : Apr 27th

[2017-04-24 16:51] deekoder commented on #4164
Can you elaborate on what you mean by reactive streaming? I am not sure i understand the question.

[2017-04-24 16:55] harshavardhana commented on #4122
https://go-review.googlesource.com/#/c/41504/ here is the PR.

[2017-04-24 17:01] deekoder commented on #4141
On demand or store thumbnails somewhere.  Start with images. Also explore nginx modules that can do that.

[2017-04-24 17:18] deekoder commented on #4108
The api looks good. Please proceed. Response/Request can be changed later from type to a map.   Implement heal as a service which takes a prefix , start , stop and status params. In memory (ring buffer lifo object name).

[2017-04-24 17:42] harshavardhana commented on #4168
@slapers why do you think it is a security issue is there a specific reason? - if you have logs which indicate some org details you should just redact them before sharing here.

For security related issues you can email us as security@minio.io

[2017-04-24 17:54] akb2017 commented on #4164
Reactive streaming means downloading as stream with back pressure..

[2017-04-24 19:02] harshavardhana commented on #4164
There is nothing special that Minio server does other than reply back with a proper HTTP stream, now if HTTP stream does support reactive streams with back pressure then it should work fine with any libraries that do support this.

Is this something that you looking at client side or server side?

[2017-04-24 19:10] harshavardhana commented on #4169
172.17.0.2 is not accessible on macOS docker because the networking on macOS is little weird for docker, docker starts a VM to support docker on macOS. To access the services you need to point to the VM.   But the VM IP is not available to the container until `host` networking is exposed, so if you wish to see the real IP to access `minio` you need to provide `docker --net="host"` (which is not re

[2017-04-24 20:07] slapers commented on #4168
I will send an email with the steps to reproduce..

[2017-04-24 22:30] deekoder commented on #4141
marking this unblocked since we have clarity for first iteration.

[2017-04-25 00:34] donatello commented on #4167
@4406arthur Could you provide a minimal code sample that exhibits the problem? It is difficult to pin-point the problem without the code.

Pre-signing for copyobject should be theoretically possible. The copy-object related headers need to be signed in the pre-signed URL generation part and the client making the presigned request to the service needs to send the same headers that were used during

[2017-04-25 02:33] 4406arthur commented on #4167
@donatello, sure, firstly you need put file in CopySource.
actually in V4 sig, without copy-object related headers also work.

[code]

[2017-04-25 03:03] harshavardhana commented on #4168
A release has been made as well.

[2017-04-25 03:03] #4168 closed, assigned to harshavardhana

[2017-04-25 06:53] hsharma-lsquared opened #4173 "bucket object delete issue"
All files to be deleted are csv files,

## Expected Behavior
Bucket object should be deleted.

## Current Behavior
Bucket object not deleted, remain as it is after deletion.

## Steps to Reproduce (for bugs)
delete object using following json and hit POST request on http://192.168.1.55:9000/minio/webrpc:
{"id":1,"jsonrpc":"2.0","params":{"bucketName":"myBucket","objectName":"folder1/folder2/filena

[2017-04-25 06:54] harshavardhana commented on #4173
Can you update to latest release and test again @hsharma-lsquared ?

[2017-04-25 06:58] harshavardhana commented on #4160
:+1:

[2017-04-25 06:59] hsharma-lsquared commented on #4173
My Minio is on production, Can't update there,

Before some time deletion was working correctly, but on new module same code couldn't delete object, for new module i created new bucket manually, using Minio Browser,

[2017-04-25 07:00] harshavardhana commented on #4130
Since the sign-off has occurred can this be closed? @deekoder

[2017-04-25 07:02] harshavardhana commented on #4173
There was an odd issue which we fixed in a release after your current Minio version, looks like following is the possible fix. For which we have already made a release.

[code]

[2017-04-25 07:18] hsharma-lsquared commented on #4173
On development environment i tried using latest minio, it is so bad that in new version "bucketName" changed to "bucketname", also "objectName" changed to "objects" for multiple deletion, also i investigate prior releases, in them also these type of minor but for me major changes,

In new release why you remove old features, What happened to those users who are using minio at production, and you m

[2017-04-25 07:20] harshavardhana commented on #4173
Are you using Web API directly? without using browser?

[2017-04-25 07:20] hsharma-lsquared commented on #4173
Version: 2017-02-16T01:47:30Z
Release-Tag: RELEASE.2017-02-16T01-47-30Z
Commit-ID: 3d98311d9f4ceb78dba996dcdc0751253241e697

this is full detail for you,

[2017-04-25 07:21] hsharma-lsquared commented on #4173
Yes, using API directly for my website,

[2017-04-25 07:27] hsharma-lsquared commented on #4173
Also see this, after a lot of efforts i found Minio version,
http://stackoverflow.com/q/43540631/5026957

[2017-04-25 07:31] harshavardhana commented on #4173
We never really published Web Handlers API neither it is documented anywhere as a recommended mechanism to access Minio Server. Neither it is versioned API so there is no set guarantee that it might not change in the future. Published way to access Minio is using AWS S3 API which is also going to be backward compatible.

Web Handlers are only meant to be used by Minio Browser and only serve Minio

[2017-04-25 07:34] hsharma-lsquared commented on #4173
ok thank you for support.

[2017-04-25 13:09] cirocosta commented on #2743
@matti did you end up figuring out?

[2017-04-25 16:25] matti commented on #2743
@cirocosta Yes, I was running wrong version of the registry, if I recall correctly

[2017-04-25 16:44] jonandernovella commented on #4077
The problem seems to be fixed with one Pachyderm worker, as jobs finish successfully. However, this issue seems to be recurrent in a multiple Pachyderm worker scenario, when there are more than one worker cranking through the data.

In order to reproduce please try with the following spec in the pipeline:

`  "parallelism_spec": {
    "strategy": "CONSTANT",
    "constant": 12
  },`

Concretely, t

[2017-04-25 16:46] harshavardhana commented on #4077
@jonandernovella are you using the latest pachyderm release 1.4.5 ?

[2017-04-25 16:47] jonandernovella commented on #4077
@harshavardhana Yes, indeed. I tested the fix that you included with the latest version of Pachyderm.

[2017-04-25 17:00] harshavardhana commented on #4077
Can you open a new issue @jonandernovella ?

[2017-04-25 17:28] jonandernovella opened #4176 "[Pachyderm + Minio] Pipeline does not succeed as fails to fetch object"
## Expected Behavior
The jobs in Pachyderm should output the results/commit after having correctly processed the data in the input repo with any number of workers, and without needing to rerun the pipeline.

## Current Behavior
When the processing of the data finishes successfully, Pachyderm does not seem to make the final commit.

The logs from pachd show the following:

`failed to process datum

[2017-04-25 19:05] krishnasrinivas commented on #4144
caused by https://github.com/minio/minio/pull/3813

[2017-04-25 19:07] deekoder opened #4177 "Document homebrew install path changes for minio."
- Create a small snippet explaining how to install minio server on macOS
 - Explain reasons for the breaking change
 - Update Minio Quickstart Guide

[2017-04-25 22:14] donatello commented on #4167
@4406arthur we tried multiple variations based on your script above but we could not get it to work with even AWS - with code like above we got a URL like

`
https://s3-us-west-1.amazonaws.com/cpusw1-2/another_issue?x-amz-copy-source=cpusw1-1%2Fissue&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=XXXXXXXXXXXXXXXXXXXX%2F20170425%2Fus-west-1%2Fs3%2Faws4_reque

[2017-04-25 23:34] harshavardhana commented on #4173
Fixed and release has been made closing.

[code]

[2017-04-25 23:34] #4173 closed, assigned to harshavardhana

[2017-04-26 00:23] krishnasrinivas commented on #4162
Fixed https://github.com/CargoSense/ex_aws/issues/396
Can be closed

[2017-04-26 00:25] harshavardhana commented on #4162
Closing as fixed here https://github.com/CargoSense/ex_aws/commit/17d1702f78d4dcf1a1ca3f5c9a2fc620c75613b5

[2017-04-26 00:25] #4162 closed, assigned to krishnasrinivas

[2017-04-26 00:46] harshavardhana commented on #4131
With all the new changes GetBucketPolicy should work as intended.. can you re-vendorize your with latest minio-go @nl5887 ?

[2017-04-26 01:30] deekoder commented on #3883
Lowering priority to high since it is an edge case crash. We will  address this issue so that we don't crash in cases like these.

[2017-04-26 02:22] 4406arthur commented on #4167
@donatello, maybe try
``
curl --request PUT -H 'Content-Length: FILE_BYTES' --url 'https://s3-us-west-1.amazonaws.com/xxxxxx'
``
But I found with curl something weird, it responds RequestTimeout.
use Postman will work fine.

here, is my work sample snapshot.

![image](https://cloud.githubusercontent.com/assets/5071988/25416000/fd63f88e-2a6d-11e7-956e-4b0dead4a390.png)

[note] you can try with 'Con

[2017-04-26 02:26] nitisht commented on #4176
@jonandernovella I tried reproducing with 4 files but the issue was not reproduced, i.e. I got the job successful. What is the number of files you are using?

[2017-04-26 02:43] #4177 closed, assigned to deekoder

[2017-04-26 03:45] nitisht opened #4181 "Nginx plugin to publish webpages from a Minio bucket"
## Expected Behavior
Nginx can render webpages from a Minio bucket, by reading the configuration from a file.

## Current Behavior
Minio doesn't have a plugin to render web pages from

## Possible Solution

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* L

[2017-04-26 06:25] jonandernovella commented on #4176
@NitishT I was using the whole dataset

[2017-04-26 08:39] jfcalvo commented on #4162
Thanks!

[2017-04-26 09:03] jonandernovella commented on #4176
@NitishT The problem seems to be solved after using the following minio release: `minio/minio:RELEASE.2017-03-16T21-50-32Z` The issue was spotted when using the latest release.

[2017-04-26 09:05] harshavardhana commented on #4176
Are you saying that this is reproducible with RELEASE.2017-04-25T01-27-49Z ?

[2017-04-26 09:07] jonandernovella commented on #4176
@harshavardhana Yesterday I was testing with the following image: `minio/minio`, which is by default the latest.

[2017-04-26 09:08] harshavardhana commented on #4176
@jonandernovella that could be an older version too can you check `docker run --rm minio/minio version` ? IIUC docker doesn't update automatically if you already have `minio/minio:latest`

[2017-04-26 09:14] harshavardhana commented on #4176
Knowing this would help us use the right release and see what could be the issue or what could have fixed it. @jonandernovella

[2017-04-26 09:14] jonandernovella commented on #4176
@harshavardhana Yesterday I reproduced with 2017-04-25T01:27:49Z

[2017-04-26 09:18] harshavardhana commented on #4176
Is it consistent that it works with?

- `minio/minio:RELEASE.2017-03-16T21-50-32Z`

And not with

- `minio/minio:RELEASE.2017-04-25T01:27:49Z`

Are there pachy logs that you can attach here as well for our reference?

[2017-04-26 17:43] donatello opened #4182 "[security] Improve browser-based password change flow"
Currently, on login the browser receives a token generated by the server and after this the client-side code no longer retains access to the main credentials (access and secret key). The token is used to authorize all  actions performed via the browser. It has a limited validity for security. However, a credentials change action can be performed with just the token - this gives **permanent** acces

[2017-04-26 18:20] efarrer opened #4183 "Performance degradation with distributed minio and an offline cluster."
## Expected Behavior
Writes should continue to perform well when a node is offline.

## Current Behavior
There is a noticeable delay with put_object when a node if offline (even though a write quorum exists).

## Possible Solution
Adding a circuit breaker (https://en.wikipedia.org/wiki/Circuit_breaker_design_pattern) would allow a minio cluster to perform well when a node was know to be down. The

[2017-04-26 18:37] harshavardhana commented on #4183
If a disk is offline no state is remembered as such each on Minio - each POSIX call is retried once on the aforementioned disk which went offline. But there shouldn't be a performance drop.  So for example if you node happen to come back online it would transparently work.

@efarrer can you tell us how slower? what is the measurement and what is the slowness factor that you see?  do you expect to

[2017-04-26 19:09] efarrer commented on #4183
How much slower:
  Before shutting down a node: real    0m 0.07s
  After shutting down a node: real    0m 4.27s
  After restarting the node: real    0m 0.05s

I don't anticipate nodes going down and coming up all the time, but I do anticipate us applying security updates frequently a node at a time. Doing an apt-get update + reboot could take > 2 minutes doing it for all nodes (one at a time) woul

[2017-04-26 22:06] donatello commented on #4167
I can reproduce the problem that you are seeing - the timeout and the 0-byte upload of the object. This seems to be because AWS S3 is interpreting the request a simple PUT object and not as a PUT object copy. The only difference between put-object and put-object-copy (other than the request body) is the copy-source header - I believe it is required to be signed (because of the behaviour just seen

[2017-04-26 23:05] deekoder opened #4184 "ecosystem: Support SSL for cloudberry MBS"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2017-04-26 23:26] harshavardhana commented on #4184
Duplicate of #4017

[2017-04-26 23:45] jonandernovella commented on #4176
@harshavardhana @NitishT The issue regarding the non-existence of a object seems to be still there in both cases, despite it happens less often with the oldest version. Moreover,`minio/minio:RELEASE.2017-04-25T01:27:49Z` provokes a relevant slowdown when uploading files and overall usage of Pachyderm.

[2017-04-26 23:49] jonandernovella commented on #4176
@NitishT @NitishT Find the logs of `pachd replicas` below:

https://www.dropbox.com/s/mqz04czbvkzj3if/logs.zip?dl=0

[2017-04-27 00:23] jonandernovella commented on #4183
@efarrer @harshavardhana I am experiencing a very similar thing. I have seen a very relevant slowdown with the latest release.

[2017-04-27 00:32] #4184 closed, assigned to deekoder

[2017-04-27 00:32] harshavardhana commented on #4183
This is not the same as your issue @jonandernovella - your issue needs to be investigated further.

[2017-04-27 00:40] msteffen commented on #4176
Hi all, I talked to @jonandernovella about this bug over slack, and in `logs3.txt` you see:
[code]

Note that later you see (in `logs3.txt`, though the same error appears elsewhere):
[code]

[2017-04-27 01:32] harshavardhana commented on #4176
The problem seems to be that some one has completed the multi-part operation, perhaps a 'double' Close(). It could also be a race inside minio-go.

So in general it means that the object should be there if it was completed - In the scenario here does the objects do exist on the server at all? @jonandernovella @msteffen

With the fix we did to wait for Close() to Read() later. But we will try to re

[2017-04-27 01:43] nitisht commented on #4176
I tried on a Google Cloud cluster with the whole data set from `wget ftp://ftp.ebi.ac.uk/pub/databases/metabolights/studies/public/MTBLS233/*alternate_pos_low_mr.mzML`

Minio release : `RELEASE.2017-04-25T01-27-49Z`
Pachyderm release : `1.4.5`

The job is successful

`pachctl list-job`

`ID                                   OUTPUT COMMIT                                    STARTED       DURATION  R

[2017-04-27 02:01] nitisht commented on #4176
@jonandernovella what does `less often` here mean, is the issue sporadic? I mean are you not able to reproduce it consistently?

[2017-04-27 07:06] harshavardhana commented on #4183
This is consistent because `mc cp` does 4 sets of listing operations and then decides to start copying i.e doing a PutObject operation - each operation is a separate List(). Now on server side each call is retried exactly once so it is consistent that you saw the delay.

For example in my tests
[code]

[code]

Now let me do without doing a compounded call i.e by avoiding all the listing operations

[2017-04-27 08:42] harshavardhana commented on #4169
Closing this as answered @marcoliceti - please let us know if you have further issues.

[2017-04-27 08:42] #4169 closed, assigned to harshavardhana

[2017-04-27 08:43] marcoliceti commented on #4169
Yes, thank you.

[2017-04-27 08:44] harshavardhana commented on #4131
This is fixed with latest gateway S3 PR.

[2017-04-27 08:44] #4131 closed, assigned to nobody

[2017-04-27 08:47] harshavardhana commented on #4092
Is this fixed? @krishnasrinivas

[2017-04-27 08:55] harshavardhana commented on #3908
Here is a rough doc captured for Apache Drill querying data stored on Minio - https://gist.github.com/harshavardhana/a8424dcf247fb68ad72b803cefb1b561

[2017-04-27 14:39] jonandernovella commented on #4176
@NitishT I believe that the issue is quite sporadic, yes. For instance, I have just tried to run two jobs successfully without getting stuck, while other times this is not the case:

`h188-120-175-235:pipelines-14 user$ pachctl list-job
ID                                   OUTPUT COMMIT                                         STARTED        DURATION       RESTART PROGRESS STATE
65ae394c-fd8d-4950-

[2017-04-27 14:50] nitisht commented on #4176
Thanks @jonandernovella let me try this again today with some variations with latest Minio release. Also wanted to know the infrastructure you are running this setup on.

I use the below cluster -
![screen shot 2017-04-27 at 7 49 10 am](https://cloud.githubusercontent.com/assets/5156139/25489268/23066bac-2b1e-11e7-9364-f5a76d0447c7.png)

6 nodes with `n1-standard-4` as recommended in [Pachyderm do

[2017-04-27 14:59] jonandernovella commented on #4176
@NitishT My infra consists of 5 Minion, with a total of 40 vCPUs and 80 GB of memory. Kubernetes client version: v1.5.1 and server version v1.5.2.

Moreover, a job with the given pipeline with 12 cores should take around 3 minutes, more or less.

[2017-04-27 15:03] efarrer commented on #4183
Thanks for the information.
I tested using the python client calling put_object (instead of mc cp) with the RELEASE.2017-04-25T01-27-49Z release. When a node is down put'ing an object takes about 1 second longer than if all nodes are up. I'll retest with the latest (unreleased) code and post the results.

[2017-04-27 15:13] efarrer commented on #4183
Retested with DEVELOPMENT.2017-04-27T06-30-39Z and I'm seeing the same behavior of about a one second additional delay when a node is down.

Here's the docker-compose.yaml file
[code]
And this is the python client code:
[code]
I'll try and dig into the code to see exactly why it's slower.

[2017-04-27 15:14] efarrer commented on #4183
Ugh sorry about the poor formatting ^.

[2017-04-27 15:25] deekoder commented on #4183
no problem! I will fix the formatting.

[2017-04-27 15:38] 4406arthur commented on #4167
It have signed. in screenshot you can see x-amz-copy-source in Query string parameters ;
With Sig V4 support 2 method, http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html, I doubt AWS not support copyObject with presignURL recently,
I found my legacy program with Sig V2, also occur timeout issue(look like above curl with Content-Length issue), but I have seen before.

[2017-04-27 15:44] mcastilho commented on #4152
I am still getting errors with latest version of Minio that returns 411 Length Required using Fog

[code]

[2017-04-27 17:07] harshavardhana commented on #4152
The fix is not released yet.

[2017-04-27 17:37] harshavardhana commented on #4183
Would you mind trying the code i posted from minio-go and provide me the results? because i uploaded 2GB file the results i posted above.   i will try the python example as well.

[2017-04-27 18:11] donatello commented on #4167
Yes, but the header is not used in the signing process. This is clear if you look at the `x-amz-signedheaders` header. This header lists all the headers used in computing the authorization signature. Only `host` is present here. The problem is that the php sdk does not add the copy-source header to this list.

Why is not possible in this use-case to use regular copy-object? Why does it have to be

[2017-04-27 18:20] krishnasrinivas commented on #4092
@harshavardhana not yet

[2017-04-27 18:26] harshavardhana commented on #4022
Fixed by #3940

[2017-04-27 18:26] #4022 closed, assigned to nobody

[2017-04-27 18:59] akb2017 commented on #4164
Some what cleared... Thanks you

[2017-04-27 18:59] #4164 closed, assigned to harshavardhana

[2017-04-27 19:06] krishnasrinivas commented on #4044
As long as we don't use Cookie header for auth/session management (of browser login by admin), we should be fine. Else Minio will be exposed for cross site scripting.

Let me check more if this is safe for us.

[2017-04-27 19:40] #4044 closed, assigned to vadmeste

[2017-04-27 20:15] efarrer commented on #4183
@harshavardhana I ran the test with your go code above (after making minor changes to credentials and the path to the .iso file). This is what I got:

With all nodes running: real    0m17.784s
With one node stopped: real    0m21.277s

Subsequent runs with the node stopped tend to be faster but never as fast as when all nodes are running. There also tends to be enough jitter in the timings when cop

[2017-04-27 20:22] lavvy commented on #3993
Any progress

[2017-04-27 21:09] efarrer opened #4186 "Allow support for multiple credentials for the minio server"
Minio should be updated to support multiple sets of credentials.

## Expected Behavior
It would be nice if a minio cluster could support multiple sets of keys (credentials). This would allow for access/secret keys to be rotated without downtime as follows:
1. New keys are **added** to individual nodes in the cluster and each node is restarted (or the configuration hot reloaded).
2. Clients are upd

[2017-04-27 21:16] harshavardhana commented on #4183
Yes Jitter is actually on purpose for each retries to be of varied time limit. Also can you try pointing your myexport to a proper local disk for this test? - I am not able to get the same numbers as you have.  The timing that i have do not go beyond ~1sec delay.

[2017-04-27 21:18] harshavardhana commented on #3993
does jgit document anything other than supporting AWS S3? - If they don't we can't do much here @lavvy

[2017-04-27 22:31] efarrer commented on #4183
Repeating the test with a proper local disk. I get ~14 seconds with all nodes running (consistent across several runs) and 16-17 seconds with a single stopped node (also across several runs).

[2017-04-27 23:38] nitisht commented on #4176
To check if this is being caused by parallelism, I tried with

[code]

The job was successful

[code]

[pachd_logs_20.txt](https://github.com/minio/minio/files/963143/pachd_logs_20.txt)

[2017-04-28 01:01] deekoder commented on #4046
Fixed 16. Marked unblocked.

[2017-04-28 01:06] deekoder commented on #4186
We are studying amazon standards to implement this comprehensively including rotating credentials/password. I am not able to give you an ETA on this. But we are very much on getting this in our future release.

[2017-04-28 01:46] deekoder opened #4190 "Create a test build."
ETA : Apr 28th

[2017-04-28 01:52] deekoder opened #4191 "Find new ways to cause DDOS scenarios."
And file bugs as you find them in this area.

[2017-04-28 01:52] deekoder commented on #3883
We are closing this issue and address this along with https://github.com/minio/minio/issues/4191

[2017-04-28 01:52] #3883 closed, assigned to harshavardhana

[2017-04-28 02:00] deekoder opened #4193 "Encrypt new password using HMAC"

[2017-04-28 02:03] deekoder opened #4194 "Archive old repos."
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2017-04-28 02:09] deekoder commented on #4112
Wait for input from them.

[2017-04-28 02:52] deekoder commented on #3185
@fwessels  is investigating. We need to discuss again after investigating Relevant thread we were looking at https://github.com/golang/go/issues/6123

[2017-04-28 09:13] jonandernovella commented on #4176
@NitishT With 16 cores it took me 1'20". I think that for some reason the latest version of Minio has slowed down a lot my setup.

[2017-04-28 09:28] harshavardhana commented on #4176
@jonandernovella when you say performance has slowed down, how much it used to be do you have any comparison?  with like the last release?

[2017-04-28 10:28] jonandernovella commented on #4176
@harshavardhana Yes the latest release seems to have slowed down. For instance a recursive `put-file` of a bunch of small files now takes around 30 seconds, while with the previous release took 4 seconds. Therefore, pipelining in pachyderm has also seen a significant speed change.

[2017-04-28 16:34] harshavardhana commented on #4176
Thanks this is good to know. We will validate why.

[2017-04-28 17:01] deekoder opened #4196 "azure-gateway: help backend needs to be expanded"
help BACKEND needs to be expanded like USAGE and FLAG section
in BACKEND we need to explain corresponding endpoints.

[2017-04-28 18:40] lskbr opened #4198 "Minio distributed performance on AMD Ryzen 5"
Hi Guys,

I have a small cluster dedicated to minio. It is composed by 4 machines with 4 x 5T HDD and 1 x 256G SSD. System runs on SSD, minio uses the other four drives.

When I transfer a 1GB file to minio, mc reports 10 MB/s. I'm trying to check if there is performance problem on my setup or another issue.

## Setup

All machines are new and were installed one week ago.

* /etc/default/minio

[2017-04-28 18:46] krishnasrinivas commented on #4196
ETA today

[2017-04-28 18:47] krishnasrinivas commented on #4092
ETA May-2

[2017-04-28 20:09] fwessels commented on #4198
@lskbr Thank you for your report, we are looking into it.

Just a quick question, what is the performance that you get when you copy data out, eg. `mc cp minio/test/bigfile bigfilecopy`?

[2017-04-28 20:10] nitisht commented on #4190
@deekoder created and uploaded the build to relevant location. Can we close this now?

[2017-04-28 20:46] deekoder opened #4199 "Obscure message when starting minio server"
Error message printed was not comprehensible.

## Expected Behavior
It would just start and print the usual access key/secret key info

## Current Behavior
Migration from 11 to 18 was a series of messages seen on startup. These numbers looked different from minio server's version information leading me to wonder what was actually being migrated. If it was anything internal, does the user even need

[2017-04-28 20:48] deekoder commented on #4199
The version numbers are not recognizable. Also why is it printing 2 ip addresses for me?

[2017-04-28 20:50] deekoder opened #4200 "TLS handshake error message"
See output below

## Expected Behavior
Not print TLS handshake error when https is not used in the URL.

## Current Behavior
I have a browser with HTTPS everywhere ad on. Trying to open the minio browser gave correct errors on the browser. And a TLS handshake error on the terminal. After pasting the URL in another browser without https everywhere plugin, still gave TLS error even though it opened

[2017-04-28 20:51] harshavardhana commented on #4200
This is expected @deekoder if you are trying to access minio server with TLS, without having TLS configured.

[2017-04-28 22:38] harshavardhana commented on #4199
[code]

Is more readable.

[2017-04-28 23:42] #4196 closed, assigned to krishnasrinivas

[2017-04-29 07:37] harshavardhana commented on #4122
The following PR was abandoned after talking upstream, and is being fixed comprehensively here - https://go-review.googlesource.com/#/c/41834/

[2017-04-29 08:41] harshavardhana commented on #4122
@JamshaidF would it be possible for you to test this PR? https://github.com/harshavardhana/minio/commit/3ba2326a7c0b66a475318e8000d802a176158177

[2017-04-29 17:08] JamshaidF commented on #4122
Thanks @harshavardhana , i will test it today*

[2017-04-29 18:10] brucedang opened #4204 "object has empty ETag"
When I enumerate objects in a bucket with the ListObjectV2 API in Go, I get an empty ETag field.
## Expected Behavior
ETag should contain the MD5 of the object

## Current Behavior
It shows up as an empty string

## Possible Solution

## Steps to Reproduce (for bugs)
I am running the following minio version:
[code]

The Go SDK is at commit `44db87a73/master`.

The server is started as: `./minio --

[2017-04-29 18:11] harshavardhana commented on #4204
Yes this is expected for now. We have fixed this in the latest master branch.

[2017-04-29 18:13] beniwtv opened #4205 "Running with --address in distributed mode prints an error"
I tested a small distributed server setup (3 servers, 6 disks), with the following command:

/usr/local/bin/minio server http://192.168.0.1/mnt/pool/d1 http://192.168.0.1/mnt/pool/d2 http://192.168.2.1/mnt/pool/d1 http://192.168.2.1/mnt/pool/d2 http://192.168.4.1/mnt/pool/d1 http://192.168.4.1/mnt/pool/d2

Which works absolutely fine.

However, I'd like to restrict the nodes to only listen on the

[2017-04-29 18:32] harshavardhana commented on #4205
@beniwtv this is how you can start a distributed setup bound to specific IP. NOTE that you need to specify different IPs to listen on for each servers to match the ones which are on the command line.

[code]

And a sample docker compose file.

[code]

[2017-04-29 18:33] harshavardhana commented on #4204
We will be making a new release in another 2weeks which should have the fix.

[2017-04-29 18:44] beniwtv commented on #4205
@harshavardhana

So as I understand it, I basically would need two instances on two different ports per server? One for each disk?

If so, why did the first command work?

/usr/local/bin/minio server http://192.168.0.1/mnt/pool/d1 http://192.168.0.1/mnt/pool/d2 http://192.168.2.1/mnt/pool/d1 http://192.168.2.1/mnt/pool/d2 http://192.168.4.1/mnt/pool/d1 http://192.168.4.1/mnt/pool/d2

That one work

[2017-04-29 19:25] harshavardhana commented on #3521
Found a way to address it properly.

[2017-04-29 19:41] JamshaidF commented on #4122
I can confirm, the PR #4203 does fix the issue.

Steps for testing
1. First tested with latest Windows binary (minio.exe 2017-04-29 00:46). And issue was there.
2. Setup GoLang environment, Fetched minio  and the PR #4203 and started minio under GoLang
3. All deduplicated files in the bucket are accessible by mc client. No error on the server console.

Great job @harshavardhana

PS:  Not much impo

[2017-04-29 20:07] harshavardhana commented on #4122
You can change the version number in the config.json present under `.minio/config.json` under your home dir. I should have suggested that you run ` --config-dir`  to avoid migrating the current config.

[2017-04-29 20:07] harshavardhana commented on #4122
Thanks for confirming that it fixes the issue.

[2017-04-29 20:20] brucedang commented on #4204
Great. I will close the issue.

[2017-04-29 20:20] #4204 closed, assigned to harshavardhana

[2017-04-29 22:23] harshavardhana commented on #4205
This is only when you want to serve multiple disks on different ports which is also possible but a given server can just listen on one port and serve multiple disks as well even with --address as shown below using the latest release.

[code]

Other variations also work like

[code]

[2017-04-29 22:24] harshavardhana commented on #4205
Can you paste all the command line arguments that you are passing on all the servers in line by line? - Would love to reproduce this, i am not able to reproduce it.

[2017-04-29 23:41] beniwtv commented on #4205
Sure.

Your first variation doesn't work for me, it complains with:

`cause=Invalid Argument 192.168.0.1, port mandatory when --address <host>:<port> is used
`

So here are the 3 commands (your second variation):

**Server 1:**

$ /usr/local/bin/minio server --address 192.168.0.1:9000 http://192.168.0.1:9000/mnt/pool/d1 http://192.168.0.1:9000/mnt/pool/d2 http://192.168.2.1:9000/mnt/pool/d1 http:/

[2017-04-30 00:47] balamurugana commented on #4205
@beniwtv I am unable to reproduce the error for below command ie the command line is working fine.
[code]

In fact I am not able to see the error message `FATA[0000] 192.168.0.1:9000 matches %!e(int= 2)ntries in ` in latest master HEAD.

I am trying with the version you mentioned.

[2017-04-30 01:35] balamurugana commented on #4205
@beniwtv the issue is there in the release.  Is it possible you to try master HEAD?

[2017-04-30 01:55] beniwtv commented on #4205
@balamurugana That worked. Thank you!

[2017-04-30 02:30] balamurugana commented on #4205
@beniwtv you could close this issue as fixed upstream

[2017-04-30 04:44] harshavardhana commented on #4205
Fixed by https://github.com/minio/minio/pull/4019

[2017-04-30 04:44] #4205 closed, assigned to balamurugana

[2017-04-30 08:30] harshavardhana commented on #3742
https://github.com/minio/minio/pull/4203 - this PR should fix this issue as well. @vadmeste @minherz

[2017-05-01 15:59] lskbr commented on #4198
Hi, I left the cluster running the whole weekend. Performance degraded to unbelievable levels.
Read is at 580KB/s. I have 63GB x 4 in each machine, but even an mc ls is costly.
Processors are at 30~40% usage. All clients were stopped (checked by active connections via netstat), the only active connections are among Minio servers. Local ssh sessions seems normal.

When I try to ls:
X:~$ mc ls Y/Z/d

[2017-05-01 16:20] deekoder opened #4206 "Test release candidate build."
Do full tests on the build and file issues in the Release milestone.

[2017-05-01 16:21] fwessels commented on #4198
Thank you for the response, we are investigating and will get back to you.

[2017-05-01 16:32] #4190 closed, assigned to nitisht

[2017-05-01 16:49] fwessels commented on #4198
@lskbr We have seen erratic performance related to caching behaviour (keep objects cached in memory after uploading -- causing the Golang garbage collector to spend a lot of CPU cycles).

Could you try restarting the cluster with caching turned off, e.g.
`_MINIO_CACHE=off minio server ....`

[2017-05-01 16:57] deekoder commented on #4198
Can we have remote access to your machines @lskbr

[2017-05-01 17:01] donatello commented on #4167
@4406arthur Please let us know if this issue is resolved.

[2017-05-01 17:08] deekoder commented on #4096
End of the week.

[2017-05-01 17:10] deekoder commented on #4046
Move this to prototype milestone.

[2017-05-01 17:11] deekoder commented on #3835
@donatello  please give a placeholder API with default image preview.

[2017-05-01 17:13] nl5887 commented on #2965
As a reference, we had the same issues with Elasticsearch: elastic/elasticsearch#19489.

[2017-05-01 17:18] fwessels commented on #4046
We did some benchmark testing with higher levels of data + parity combinations. Although it works perfectly fine, at higher levels such as 64 or 96 of data + parity the overall performance becomes primarily related to the file creation of many (small) files for average size objects (eg 1 MB per object).

As such we decided to keep the maximum at 16 for now and instead investigate scaling of bucket

[2017-05-01 17:18] lskbr commented on #4198
Hi! I added _MINIO_CACHE=off
Write performance is now much better: 57MB/s! Read performance still low.
CPU usage is close to 0% now.

Unfortunately no, machines are in a internal VPN.

My test results:
@kitt:~$ mc cp bigtest walle/test/bigtest9
bigtest:       1024.00 MB / 1024.00 MB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 100.00% 57.69 MB/s

@kitt:~$ mc cp walle/test/bigtest9 bigtest_w
.../bigtest9:  1024.00 MB / 10

[2017-05-01 17:20] harshavardhana commented on #4046
Closing this.. as decided in favor of #4153

[2017-05-01 17:20] #4046 closed, assigned to fwessels

[2017-05-01 17:31] deekoder commented on #3572
Document the steps to extract pfx file into its components such as `private.key, public.crt`

[2017-05-01 17:37] fwessels commented on #4198
Thanks, these results are more like it, please keep the cluster running and let's see if the problem does not reappear (CPU usage stays low).

The read performance is still poor. We noticed that you are running an AMD Ryzen CPU, it could be that it might be related to bit-rot hashing that we have optimized using assembly -- could you run some benchmarking for the BLAKE2B algorithm? Please see http

[2017-05-01 17:57] deekoder opened #4208 "Address X-Forward header"

[2017-05-01 18:26] lskbr commented on #4198
I kept the cluster running. After sometime with 100 clients, I got 25G ram and an unstoppable minio. I could not stop it. Once I killed minio with killall it restarted with normal CPU and memory usage.

Regarding the benchmark:
[code]

[2017-05-01 18:42] deekoder commented on #3835
is a dependent blocking  bug https://github.com/minio/minio/issues/2991

[2017-05-01 18:57] nl5887 opened #4210 "ecosystem: Do we want to build a S3 package for Synology?"
Synology is a very popular NAS storage for (small) business and home use. If we create a package (https://www.synology.com/en-us/support/developer) to install Minio on this appliance we'll give synology users instantly s3 compatible object storage.

[2017-05-01 19:01] nl5887 opened #4211 "Do we want to compress objects being stored on Minio?"
We can compress each object when storing to disk, possibly saving disk storage (and depending on the configuration also speed). This won't work for every kind of file, but maybe make it optionally? Eg. only for certain mimetypes.

[2017-05-01 19:22] harshavardhana commented on #4211
This was very early on decided that should be done outside of Minio server - using the client tool rather than server side. i.e users can upload using a client SDK with libraries [1] [2]  optionally with `Content-Encoding` set.

[1] - https://github.com/klauspost/compress is sort of the recommended library which has highly optimized versions for clients to use.
[2] -  https://github.com/klauspost/

[2017-05-01 19:30] lskbr commented on #4198
I make new tests with minio built from source:
Version: 2017-05-01T19:14:51Z
Release-Tag: DEVELOPMENT.2017-05-01T19-14-51Z
Commit-ID: 6cf6828a4c28ed43c67028da6a0bb60f9e002a8e

Write performance is better. Cache still disabled. Read performance not ok.
I noticed that mc takes a while before starting to transfer, at least a few seconds.

[code]
From the same machine:
[code]
I have everything set to

[2017-05-01 19:31] harshavardhana commented on #4198
This looks like either erasure decoding or blake2b is causing some problems on your hardware.

[2017-05-01 20:02] fwessels commented on #4198
As reported by @lskbr we are seeing low performance on this AMD hardware for certain benchmarks (especially for reconstructing):
[code]

[2017-05-01 20:08] donatello commented on #3835
@deekoder #2991 is not related to this one.

[2017-05-01 20:25] fwessels commented on #4198
@lskbr Just for completeness, can you also pls check golang.org/x/crypto/blake2b, eg.:

[code]

[2017-05-01 22:38] vsivsi opened #4214 "Recommended MacOS brew install method is currently broken"
Installing using `brew install minio/stable/minio` as recommended [in the documentation](https://github.com/minio/minio/blob/master/docs/minio_homebrew.md#fresh-install) is currently broken.

## Expected Behavior
Running `brew install minio/stable/minio` will result in a successful install.

## Current Behavior
Running `brew install minio/stable/minio` fails with the following error:

[code]

## P

[2017-05-01 22:43] deekoder commented on #4214
@vsivsi - This happens because you have to uninstall the old minio. Could you do `brew uninstall minio` and if needed before this step `brew unlink minio` and then do a `brew install minio/stable/minio`

[2017-05-01 22:45] vsivsi commented on #4214
@deekoder   As stated in the repro steps above, I have reproduced this on a fresh install of MacOS Sierra.

[2017-05-01 22:49] vsivsi commented on #4214
Here's a complete log:

[code]

[2017-05-01 22:58] harshavardhana commented on #4214
We have to update the sha256 we made a new release as well.

[2017-05-01 23:45] harshavardhana commented on #4214
Should be fixed now @vsivsi - Thanks for reporting.

[2017-05-02 00:00] vadmeste commented on #3742
@harshavardhana, stat() in your PR #4203 gives correct result:

[code]

:+1:

[2017-05-02 00:10] harshavardhana commented on #3742
Making relevant changes to address this issue as well.

[2017-05-02 05:47] 4406arthur commented on #4167
@donatello ,  I will test with new sign process on this issue.
but not recently, so I cannot give you accurate answer.

by the way,  is there have any workable case on minio?
we can assert its a aws-php-sdk bug if we have such case.

[2017-05-02 07:52] harshavardhana commented on #4214
Fixed by updating minio/stable/minio .

[2017-05-02 07:52] #4214 closed, assigned to harshavardhana

[2017-05-02 08:05] harshavardhana commented on #4194
Lets discuss this tomorrow with @abperiasamy as well.

[2017-05-02 09:35] #4122 closed, assigned to harshavardhana

[2017-05-02 09:36] harshavardhana commented on #3742
Fixed by #4203

[2017-05-02 09:36] #3742 closed, assigned to vadmeste

[2017-05-02 15:56] vadmeste opened #4218 "[gateway] S3: Cannot put an object using signature v2"
## Expected Behavior
I should be able to upload an object using signature v2

## Current Behavior
Not able to upload an object using signature v2.

## Possible Solution
No idea.

## Steps to Reproduce (for bugs)
**Terminal 1:**
1. `minio server --address ":9001" /tmp/fs/`

**Terminal 2:**
1. `MINIO_ACCESS_KEY=minio MINIO_SECRET_KEY=minio123 minio gateway s3 http://localhost:9001/`

**Terminal 3:**

[2017-05-02 16:07] vadmeste opened #4219 "[gateway] minio gateway help doesn't show s3 backend."
## Expected Behavior
minio gateway shows s3 backend and how to run it.

## Current Behavior
minio gateway doesn't how s3 backend and how to run it.

## Possible Solution
Add help

## Steps to Reproduce (for bugs)

1. `minio gateway`

## Context
Manual testing

## Your Environment
All

[2017-05-02 18:43] #4199 closed, assigned to harshavardhana

[2017-05-02 21:08] nl5887 commented on #4218
This issue is being caused by V2 not sending an SHA256 hash and minio-go enforcing the hash to be the hash of zero bytes when the connection is not secure.

https://github.com/minio/minio-go/blob/master/api.go#L665

We can do the following:
* calculate the sha256 hash in the gateway, but we need to read the complete file, write it to disk and then re-upload it
* use UNSIGNED_PAYLOAD, eg change the

[2017-05-02 21:13] harshavardhana commented on #4218
Actually the issue is not that - issue is perhaps in gateway we should allocate both clients i.e one for signature v2 and another for signature v4 - and use them accordingly for each request as they come in. This requires a change in gateway layer to differentiate between V2 v/s V4 calling behavior.

I would suggest that we disable Signature v2 instead for gateway, since it doesn't make sense to s

[2017-05-02 21:14] deekoder commented on #4218
Let's discuss it further.

[2017-05-02 21:15] harshavardhana commented on #4218
Most new AWS regions don't support Signature V2 and all regions supports Signature V4. So we will be good by making gateway only support signature v4. We can discuss this with @abperiasamy and finalize.

[2017-05-02 21:30] abperiasamy commented on #4218
Initialize both v2 and v4 instances of minio-go as @harshavardhana recommended. If the backend server does not support v2 or v4, we can pass on the same error response.

[2017-05-02 21:34] krishnasrinivas commented on #4218
I am sending the fix

[2017-05-02 21:49] krishnasrinivas commented on #4218
The problem was minio-go was not the latest

[2017-05-02 21:49] nl5887 commented on #4218
Alright, the commit of @krishnasrinivas should fix this issue.

[2017-05-02 21:55] deekoder commented on #4218
@abperiasamy  so we did'nt have to do what you suggested.

[2017-05-02 23:10] deekoder opened #4222 "Minio server does not seem to start for the current directory as shown"
`minio server .` does not start

## Expected Behavior

minio server should simply start use the current directory.

## Current Behavior
 Invalid command line arguments server=‘:9000’, args=[.]  cause=empty or root endpoint is not supported source=[server-main.go:143:serverHandleCmdArgs()]

## Possible Solution
 None

## Steps to Reproduce (for bugs)
 Simply start minio server with the .  path

##

[2017-05-03 00:09] deekoder commented on #4218
Support v2 to v4.

[2017-05-03 00:09] nl5887 commented on #4218
* we will pass the md5 from client to server, server will verify the md5sum
* v2 will bridge to v4, so backend will only use v4

[2017-05-03 00:18] deekoder opened #4223 "Access Key change on minio browser should behave similar to password change"
Seems like access key change has no effect immediately.

## Expected Behavior

If access key is changed from inside minio browser, log the user out just like a password change.

## Current Behavior
Change access key from Settings. Close the browser tab. Minio browser loads without any issues.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Login to Minio Browser
2. Change the access ke

[2017-05-03 01:13] deekoder opened #4224 "Run minio server in demo mode."
_MINIO_MODE="play"  minio server <directory>

 - All Admin commands are disabled in this mode.
 - Access & Secret Key is automatically pre-filled with play values.
 - Minio Browser is auto filled with the creds.
 - Minio Browser should say "Not For Production".

[2017-05-03 01:46] #4218 closed, assigned to nl5887

[2017-05-03 03:13] harshavardhana commented on #4222
This was done on purpose to avoid ROOT paths. @deekoder since they do not have a path component, but they can be relaxed..

[2017-05-03 03:14] harshavardhana commented on #4222
Such as "/", "." do not work.  You can make it work by doing `minio server ./`

[2017-05-03 08:40] mzygmunt opened #4225 "Minio Server in RELEASE.2017-04-25T01-27-49Z and above, doesn't start in a distributed mode in Kubernetes"
## Expected Behavior
Minio RELEASE.2017-04-25T01-27-49Z and above will start in a distributed mode in Kubernetes 1.6.2.

## Current Behavior
If I configure Minio in distributed mode, I get an error:
`time="2017-05-03T08:24:04Z" level=fatal msg="Invalid command line arguments server=‘:9000’, args=[http://minio-0.minio.default.svc.cluster.local/export http://minio-1.minio.default.svc.cluster.local/e

[2017-05-03 08:46] harshavardhana opened #4226 "Sporadic test failure in TestPostPolicyBucketHandler"
[code]

## Expected Behavior
TestPostPolicyBucketHandler never fails.

## Current Behavior
TestPostPolicyBucketHandler can fail unknowingly.

## Possible Solution
Not sure.

## Steps to Reproduce (for bugs)
Hard to reproduce have to use `go test -race -run=TestPostPolicyBucketHandler` with many runs.

## Context
Tests should be idempotent.

## Your Environment
Current master.

[2017-05-03 08:48] harshavardhana commented on #4225
This error looks like a DNS server issue are you able to run with the previous release from `RELEASE.2017-04-25T01-27-49Z` ?

[2017-05-03 09:28] mzygmunt commented on #4225
I tried to run RELEASE.2017-03-16T21-50-32Z and everything works fine. DNS also works fine (tested with other services). In addition this error appears on minio-0 and stops scheduling the rest of the pods - maybe this is the cause?

[2017-05-03 09:55] balamurugana commented on #4200
The issue is addressed properly in https://github.com/minio/minio/pull/4217

[2017-05-03 10:23] #4200 closed, assigned to balamurugana

[2017-05-03 14:03] swills opened #4228 "Need a way to specify logging on command line"
For rc scripts, we need a way to specify logging config on command line.

## Expected Behavior
Would be nice if I could specify logging config on command line, so that rc scripts can rely on that instead of redirecting stdout/stderr with default config.

## Current Behavior
Right now, when you start minio without config, it creates a default config file which logs to stdout/stderr. For the rc scri

[2017-05-03 14:08] vadmeste commented on #4228
Specifying a log parameter shouldn't be done in rc script since it will be overridden with the value set by the user if the latter decides to change it. I think you want to specify it post package install instead.

[2017-05-03 14:11] swills commented on #4228
Not sure what you mean by "post package install"? That is, do you mean, by the user, by the rc script or perhaps in some sort of post install script run by the package manager after the package is installed? We try to avoid post install scripts, but running something in the rc script if the config doesn't exist might work.

[2017-05-03 14:16] vadmeste commented on #4228
I meant this one.

Yes. I guess.

[2017-05-03 15:29] vadmeste commented on #4226
I can take this.

[2017-05-03 17:27] fwessels commented on #4198
This error looks related to the AMD Ryzen in some way. We will check if we can get access to a server with such an AMD CPU to investigate further.

[2017-05-03 18:57] deekoder commented on #4222
ok but its good for me to know why we avoid ROOT paths. Is it a security issue?

[2017-05-03 19:36] deekoder opened #4229 "Sign Off on S3 Gateway."
Independent sign off needed from @donatello  on s3 gateway for the release.

[2017-05-03 20:00] rushenn opened #4230 "Browser: Object download is not working in guest mode"
Object download is not working in guest mode

## Expected Behavior
Objects should be downloadable in guest mode

## Current Behavior
When trying to download one or multiple objects from the browser, it fires an error message in the console
[code]

## Steps to Reproduce (for bugs)

1. Open Browser in guest mode.
2. Select one or more objects.
3. Click 'Download all as zip' from the top action heade

[2017-05-03 20:09] rushenn opened #4231 "Browser: Hide object delete button in guest mode"
Hide object delete button in guest mode

## Expected Behavior
Object delete button in action header should not available in browser guest mode

## Current Behavior
Delete button appears in guest mode and fires the following error message when trying to delete
[code]

## Possible Solution
Conditionally allow the delete button if access credentials are authenticated.

## Steps to Reproduce (for bugs

[2017-05-03 20:11] harshavardhana commented on #4222
Perhaps only for "/" root path. We can allow this to work for "." Since this signifies present directory.

It should also not work if your current directory is / and then you started with "."

[2017-05-03 21:28] deekoder opened #4232 "Message : You are running an older version of Minio released 5 hours from now"
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ You are running an older version of Minio released 5 hours from now ┃
┃ Update: https://dl.minio.io/server/minio/release/darwin-amd64/minio ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
## Expected Behavior

No such message since I am running the test binaries.

## Current Behavior
The above sente

[2017-05-03 21:31] harshavardhana commented on #4232
Actually you are running older @deekoder our latest release is - 2017-04-29T00-40-27Z

[2017-05-03 21:31] harshavardhana commented on #4232
Which is precisely 5 hours.. but agreed the message is '5 hours from now' is confusing since its isn't now.

[2017-05-03 22:03] donatello opened #4233 "[bug] Cryptic error message due to bad value in config file"
When there is a bad value in the configuration file, the server appears to report an error unrelated to the bad configuration value.

When setting the kafka configuration value `notify.kafka.brokers` whose value has type list, a simple string was given `"localhost:9092"`, but the error was cryptic:

[code]

While the type error makes sense (since we know the problem already), it does not say where

[2017-05-03 22:08] deekoder commented on #4233
Putting this in edge cache since its  2017-05-03T19:23:01Z and not the test build.  Will move if @donatello repros in test build as well.

[2017-05-03 22:09] deekoder commented on #4232
Oh we updated data.minio.io build? I haven't downloaded it since i did it on APR 28.

[2017-05-03 22:10] donatello commented on #4233
It happens on the test build too:

[code]

[2017-05-03 22:15] harshavardhana commented on #4232
I don't think we have updated data.minio.io after April 28th.

[2017-05-03 22:16] deekoder commented on #4232
Ok great. So now i am clear about the build numbers. But this bug is still valid due to "now" word.

[2017-05-03 22:19] harshavardhana commented on #4233
Config migration requires reading of config file from earliest known to latest, first attempt is always to read and migrate.. So the error is appropriate from code point of view that it failed properly without corrupting the config file.

Nevertheless messaging should be improved here ..

[2017-05-03 22:20] harshavardhana commented on #4232
Yes it is "now" is not correct.

[2017-05-03 23:05] deekoder opened #4234 "minio.exe does not start on windows 8 platform if it failed before"
Downloaded minio.exe  and tried to start it.  Received error message. Minio was already a service. And tried to start it and had failed. New minio downloaded also does not start anymore.

## Expected Behavior
Minio starts normally

## Current Behavior
Unable to load format.json. Unexpected end of JSON input. Source - server-main.go276:serverMain()

## Possible Solution
N/A

## Steps to Reproduce (

[2017-05-03 23:56] deekoder opened #4235 "Browser: Does not autofill saved access/secret keys on windows"
Chrome/Explorer should allow autofilling passwords if saved on the browser.

## Expected Behavior
Save access key & secret key should be autofilled when opening the minio browser again.
## Current Behavior
Does not autofill access/secret key on browser.

## Possible Solution
Not sure.

## Steps to Reproduce (for bugs)

1. Install minio on windows
2. Login and allow chrome password manager to save

[2017-05-04 00:16] harshavardhana opened #4236 "Request an object by ranges of 5MB traffic between minio rose to +/- 600/5*600MB"
Hi, I have a file of 600Mo, I request this file by ranges of 5Mo and it looks like the traffic between the minio is +/- 600/5*600Mo ....

[code]

Using https://nginx.org/en/docs/http/ngx_http_slice_module.html with size 5M and it's a sequence from the begining to the end of the file. It should be fast and should not generate a traffic of an average of 700Mbits during more than a minute

## Expecte

[2017-05-04 00:55] #4219 closed, assigned to nobody

[2017-05-04 02:12] balamurugana commented on #4232
@deekoder how about fixing the description of the issue WRT `now`? current description is incorrect and clear description wouldn't confuse someone in future than going through all comments.

[2017-05-04 02:46] hackintoshrao commented on #4226
I'm interested too. Will use some concurrency and do some race tests.

[2017-05-04 03:01] donatello opened #4240 "S3 Gateway does not start with empty endpoint"
## Expected Behavior

Should start

## Current Behavior

Does not.

## Steps to Reproduce (for bugs)

1. Start s3 gateway like:

[code]

## Your Environment

* Version used (`minio version`): Latest master.
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2017-05-04 03:13] donatello opened #4241 "S3 gateway does not support accessing multiple regions"
After starting the gateway in us-east-1 region, if we try to create a bucket in a different region, we get an error from mc.

## Expected Behavior

Region should pass through the gateway to the backend and the request should work

## Current Behavior

We get error.

## Possible Solution

Unknown.

## Steps to Reproduce (for bugs)

1. Start gateway like:
[code]
2. Add alias s3gw for the gateway int

[2017-05-04 03:22] donatello commented on #4241
Also, I get the same behaviour when using the env vars `_MINIO_REGION` or `MINIO_REGION`.

[2017-05-04 03:30] deekoder commented on #4241
I tried it on azure gateway. The region in the config file was us-east-1

$ mc mb --region us-west-2 myazure/testbucket
mc: <ERROR> Unable to make bucket `myazure/testbucket`. Region does not match.

$ mc mb --region us-east-1 myazure/testbucket
Bucket created successfully `myazure/testbucket`.

[2017-05-04 03:46] krishnasrinivas commented on #4241
This is dup of https://github.com/minio/minio/issues/4092

[2017-05-04 03:54] deekoder commented on #4092
Blocks #4241

[2017-05-04 04:11] donatello opened #4243 "S3 gateway fails to get object"
Seems to be introduced in recent minio-go update.

Try any get object via s3 gateway - it fails with invalid range offsets error printed on server:

[code]

## Possible Solution

Seems to be a bug in minio-go - will be sending a fix there shortly for review.
## Your Environment

* Version used (`minio version`): Latest master.
* Environment name and version (e.g. nginx 1.9.1):
* Server type and ve

[2017-05-04 04:55] nitisht opened #4245 "Update Kubernetes examples/helm/mesos packages with new interface"
## Expected Behavior
Distributed Minio should launch on Kubernetes

## Current Behavior
We changed the waiting mechanism for distributed Minio on Kubernetes. All the Minio - Kubernetes
examples should be updated.

## Possible Solution
Update the example docs
- https://github.com/kubernetes/kubernetes/tree/master/examples/storage/minio
- https://github.com/kubernetes/charts/tree/master/stable/minio

[2017-05-04 05:41] #4240 closed, assigned to nobody

[2017-05-04 06:48] tzookb commented on #2796
is there a less complex way to just create bucket in the minio container?

something like

    buckets:
       - bucketOne
       - bucketTwo

?

Thanks!

[2017-05-04 06:52] harshavardhana commented on #2796
You can use minio browser, you can use [mc](https://github.com/minio/mc) - compose doesn't speak S3 API so there would be no way to create buckets in that manner - Also for new issues please open a new one @tzookb.

Better yet we hang out at https://slack.minio.io feel free to join.

[2017-05-04 07:07] harshavardhana commented on #4235
Fixed by #4091

[2017-05-04 07:29] harshavardhana commented on #4234
Fixed by #4195

[2017-05-04 07:48] #4225 closed, assigned to harshavardhana

[2017-05-04 08:02] dcharbonnier commented on #4236
Difference between ranges of 1Go, 100Mo, 10Mo, 1Mo and 64M (the part size)

[code]
### 1Go
![screen shot 2017-05-04 at 9 17 44 am](https://cloud.githubusercontent.com/assets/6220422/25693909/172ced72-30ac-11e7-80ea-6c484a9658a9.png)
### 100Mo
![screen shot 2017-05-04 at 9 14 32 am](https://cloud.githubusercontent.com/assets/6220422/25693911/173388bc-30ac-11e7-9645-cd0e33c5d763.png)
### 10 Mo
![scr

[2017-05-04 08:09] harshavardhana commented on #4236
Thanks @dcharbonnier

[2017-05-04 08:15] dcharbonnier commented on #4236
Total of traffic in the cluster for different ranges
[code]

[2017-05-04 08:25] romulogoncalves commented on #2965
@hackintoshrao you are right, it seems there are some issues with *aws-java-sdk* so I upgrade it to **1.10.6**. This means I had to update hadoop-aws to version **2.8.0** and thus use **hadoop 2.8.0**.

Hence, my setup is now the following:
[spark-2.1.1-bin-without-hadoop](http://d3kbcqa49mib13.cloudfront.net/spark-2.1.1-bin-without-hadoop.tgz) (Since there is not a pre-compiled version with Hadoo

[2017-05-04 11:57] krisis opened #4250 "[S3 gateway] Anonymous upload of object in a bucket with "upload" policy fails with Access Denied"
## Expected Behavior

Anonymous upload should succeed on a bucket with "upload" policy.

## Current Behavior

Anonymous upload fails with Access Denied on a bucket with "upload" policy.
[code]
[code]

## Possible Solution

Not known yet
## Steps to Reproduce (for bugs)

1. `mc policy upload mys3/testbucket/prefix`
2. `curl --upload-file /etc/lsb-release localhost:9001/testbucket/prefix/s1`, where

[2017-05-04 12:22] krisis commented on #4250
Also, anonymous upload works fine when uploaded to the s3 endpoint.
[code]
where a Minio server is running at `localhost:9000` serving as the S3 endpoint.

[2017-05-04 12:25] dcharbonnier opened #4251 "missing status code on range request"
expected `HTTP/1.1 206 Partial Content`

[2017-05-04 14:40] harshavardhana commented on #4251
Not all range requests are supported by S3 protocol. Can you elaborate more .

This issue requires more description.

[2017-05-04 15:12] #4251 closed, assigned to nobody

[2017-05-04 15:26] dcharbonnier commented on #4251
not a bug, I didn't saw it, sorry

[2017-05-04 16:34] deekoder commented on #4243
This is a must fix for today's release.

[2017-05-04 16:59] #4231 closed, assigned to krishnasrinivas

[2017-05-04 16:59] krishnasrinivas commented on #4231
@rushenn check the latest release

[2017-05-04 17:12] deekoder commented on #4250
This needs to be implemented yet.

[2017-05-04 17:35] harshavardhana commented on #4144
Fixed by #4252

[2017-05-04 18:13] vadmeste opened #4253 "[notify] mysql: user changing `format` field after first time initialization shows an error (possibly for postgresql and other?)"
## Expected Behavior
The user can change the format after choosing it the first time.

## Current Behavior
The user cannot change format after choosing it the first time. For example, if he selects "access" and then he decides to switch to "namespace" later, he will get the following error:

[code]

## Possible Solution
It is better to keep notification data safe and create a separate table for ea

[2017-05-04 18:25] vadmeste opened #4254 "[notify] webhook: Unable to start Minio when endpoint is unreachable"
## Expected Behavior
To be able to run Minio and work normally when webhook endpoint is unreachable.

## Current Behavior
*Not* able to run Minio when webhook endpoint is unreachable.

## Possible Solution
Do not know.

## Steps to Reproduce (for bugs)
1. Enable web hook notify and set endpoint as `http://localhost:random_port`
2. Start Minio

## Context
Testing for release

## Your Environment
Al

[2017-05-04 18:28] deekoder commented on #4254
Ok we have to reactivate the bug that said this was fixed.

[2017-05-04 18:29] deekoder commented on #4254
So no way to start minio just because web hook is not reachable?

[2017-05-04 18:29] vadmeste commented on #4254
Yes

[2017-05-04 18:30] vadmeste commented on #4254
yes right.. better than writing a new one.

[2017-05-04 18:31] vadmeste commented on #4254
Duplicate of this https://github.com/minio/minio/issues/4050

[2017-05-04 18:31] deekoder commented on #4050
Not fixed. Reopening.

[2017-05-04 18:32] deekoder commented on #4254
Will close.

[2017-05-04 18:32] #4254 closed, assigned to harshavardhana

[2017-05-04 18:35] deekoder commented on #4092
Not a showstopper for today's release. May 4.

[2017-05-04 18:36] deekoder commented on #4241
Not a showstopper for today's release.

[2017-05-04 18:56] nitisht commented on #4225
@mzygmunt we have fixed the issue. It is available in the master.

Can you please try the image `minio/minio:edge` for you Kubernetes cluster, and let us know how this goes?

[2017-05-04 19:06] donatello commented on #4243
This should not be closed until #4256 is merged.

[2017-05-04 19:22] mzygmunt commented on #4225
@NitishT @harshavardhana  I pulled minio/minio:edge, but I have the same error on first pod:
`
time="2017-05-04T19:11:35Z" level=fatal msg="Invalid command line arguments server=‘:9000’, args=[http://minio-0.minio-headless.minio.svc.cluster.local/export http://minio-1.minio-headless.minio.svc.cluster.local/export http://minio-2.minio-headless.minio.svc.cluster.local/export http://minio-3.minio-hea

[2017-05-04 19:26] vadmeste opened #4257 "[notify] Redis: changing format will prevent Minio next restart with an error"
## Expected Behavior
Changing format from access to namespace shouldn't (?) be a problem.

## Current Behavior
Changing format from access to namespace shows an error

[code]

## Possible Solution
Associate different redis keys to differnet formats?

## Steps to Reproduce (for bugs)
1. Enable Redis in config.json
2. Start Minio
3. Stop minio and change format field in redis
4. Start Minio again

#

[2017-05-04 20:04] harshavardhana commented on #4225
Are you sure @mzygumnt that you have pulled the latest . In our tests we used Google cloud with Kubernetes.  We can validate again.

But I would suggest if you can try again on a fresh cluster.

[2017-05-04 20:34] poornas opened #4258 "[browser] Previous error message not cleared in browser"
After attempting to create a  bucket with invalid characters in bucket name, error message is displayed. This message is not cleared from the browser even after another Add bucket is attempted and it succeeds
## Expected Behavior

Error message should pertain to current user action
## Current Behavior

Error message not cleared out after user initiates new action
## Possible Solution

## Steps to

[2017-05-04 20:43] #4243 closed, assigned to nobody

[2017-05-04 20:44] #4050 closed, assigned to harshavardhana

[2017-05-04 20:46] deekoder commented on #4258
@poornas  is a screenshot possible?

[2017-05-04 21:01] harshavardhana commented on #4258
The error is never meant to be cleared..  you have to manually close it. @poornas

[2017-05-04 21:11] donatello commented on #4253
This is an expected behaviour.

The way Minio writes data to the db (mysql/postgres/redis/elasticsearch) is different in namespace and access formats. Once it starts writing data in a particular format, if the format is changed, Minio refuses to start as the table format does not match what is expected. This way we avoid any kind of corruption in the databases.

If the user wants to switch formats

[2017-05-04 21:14] donatello commented on #4257
This is an expected behaviour.

Detailed response is available [here](https://github.com/minio/minio/issues/4253#issuecomment-299310485) - we can continue the discussion there too.

[2017-05-04 21:22] nitisht commented on #4225
@mzygmunt how are you deploying Minio on Kubernetes? Using the helm pack or custom yaml file. If it is a yaml file can you put it here?

The reason is, with recent changes you'll need to remove the `command` field in the yaml file, it should look like:

[code]

[2017-05-04 21:34] poornas commented on #4258
In that case, error message should be displayed as a modal so that user closes it before further UI interaction.

[2017-05-04 21:35] harshavardhana commented on #4258
It is displayed as a modal there is a "close" button on the right hand side. @poornas - does it not display?

[2017-05-04 21:52] poornas commented on #4258
You will notice that the error message for foo/bar continues to be displayed even after "anotherbucket" was added and appears on the list of buckets. This is misleading.  A similar problem occurs when an object is selected  by a user for delete/download - the blue alert is displayed but when user changes his mind and instead goes to a different bucket, the UI continues to show the delete/display o

[2017-05-04 21:55] harshavardhana commented on #4258
It is implemented in the present form as accepted behavior.  Because we would want to show the error until user acts on it. We shouldn't hide it because for the most part showing this error is important.

Now if you didn't click the close button it is expected to see what you saw, it won't close automatically.

[2017-05-04 21:57] #4235 closed, assigned to krishnasrinivas

[2017-05-04 21:59] harshavardhana commented on #4253
Closing as working as intended.

[2017-05-04 21:59] #4253 closed, assigned to donatello

[2017-05-04 21:59] harshavardhana commented on #4257
Closing this as working as intended.

[2017-05-04 21:59] #4257 closed, assigned to donatello

[2017-05-04 22:03] mzygmunt commented on #4225
@NitishT When I removed `command`, Minio works fine. This solved the issue.

[2017-05-04 22:04] nitisht commented on #4225
Great! Thanks @mzygmunt we'll update the documents on Minio and Kubernetes examples.

[2017-05-04 22:04] harshavardhana commented on #4225
Thanks @mzygmunt we are updating the docs with this change. Entry point is overridden and our script never gets the control.

Thanks for spending time and testing this.

[2017-05-04 23:20] krishnasrinivas opened #4261 "[s3 gateway] Support for anonymous multipart requests"
For S3 gateway we should support anonymous multipart requests:

[code]

[2017-05-04 23:59] krishnasrinivas commented on #4261
AWS S3 does not support anonymous multipart ops, tested with this policy:

[code]

[code]

[2017-05-04 23:59] #4261 closed, assigned to nobody

[2017-05-05 03:03] #4250 closed, assigned to nobody

[2017-05-05 03:11] nitisht commented on #4176
@jonandernovella we made some performance improvements and fixed some issues with Minio on K8S, could you pls use the latest Minio release in your setup and see if it works fine?

https://github.com/minio/minio/releases/tag/RELEASE.2017-05-05T01-14-51Z

[2017-05-05 15:49] #3352 closed, assigned to harshavardhana

[2017-05-05 15:50] harshavardhana commented on #4234
Since we merged #4195 we need to test this again on windows, with a new build.

[2017-05-05 16:31] #4144 closed, assigned to krishnasrinivas, rushenn

[2017-05-05 16:36] deekoder commented on #4222
Let's check with @abperiasamy

[2017-05-05 16:39] deekoder commented on #4230
Can you repro this in the latest release?

[2017-05-05 16:41] deekoder commented on #4230
Linux : Downloads if logged in.
Win : Downloads but does not open because downloadable is not a .zip extension. Manually renaming it to a .zip then opened it successfully.

[2017-05-05 21:33] poornas opened #4267 "[browser] Duplicate bucket policy rows on double click"
## Expected Behavior

Double clicking on Bucket policy Add button creates duplicate rows with prefix * and ReadOnly action. Upon refreshing, only one row is retained with */ ReadOnly  [ Not sure if this is also a bug or fallback default]
## Current Behavior

1. Double clicking on Add button creates rows with * as prefix and ReadOnly as action. Adding one row with * /ReadOnly is ok, but this seems

[2017-05-05 21:39] rc979 opened #4268 "Erasure codes with cloud providers"
Hi,

Can you please provide details on how to configure Minio's erasure codes mode with cloud storage backends? You have some information here https://docs.minio.io/docs/minio-erasure-code-quickstart-guide but just shows you how to do this with physical disks and not with cloud storage backends.

Thanks!

[2017-05-05 22:01] poornas opened #4269 "[browser] Share object validation error"
Share Object link should have validation to prevent entering invalid expiry date. See screenshot.
## Expected Behavior

## Current Behavior

Allows select/enter - no validation to ensure valid max range for hours/mins/days
## Possible Solution

Validate max range
## Steps to Reproduce (for bugs)

1. On share object menu, manually enter invalid hours/mins/days then toggle up/down arrow.
2.
3.
4.

#

[2017-05-05 22:17] harshavardhana commented on #4268
What do you mean cloud storage backends? are you talking about gateway?

[2017-05-05 22:18] harshavardhana commented on #4267
This is a bug on browser side, server only applies one policy per prefix. So the redux is appending to the policy list without checking if the prefix was previously applied to.

[2017-05-06 00:19] rc979 commented on #4268
Yes. From that url that I pasted before it seems you can combine erasure codes with cloud storage, is that not the case?

[2017-05-06 00:25] harshavardhana commented on #4268
`minio server` is different than `minio gateway` . Minio server is only meant for physical disks. You can't use cloud storage backends.  `minio gateway` supports many different cloud storage backends. But it doesn't implement any erasure coding it is just a S3 proxy and writes to your remote cloud storage backend.

[2017-05-06 00:35] nitisht commented on #4245
Kubernetes helm charts PR: https://github.com/kubernetes/charts/pull/1015

Helm PR merged.

[2017-05-06 00:42] nitisht commented on #4245
Minio Docker composes file update PR: https://github.com/minio/minio/pull/4271

[2017-05-06 00:46] rc979 commented on #4268
ok, thanks for clarifying.

[2017-05-06 01:56] nitisht commented on #4245
Kubernetes example PR: https://github.com/kubernetes/kubernetes/pull/45444

[2017-05-06 02:10] nitisht commented on #4245
Mesos universe package PR: https://github.com/mesosphere/universe/pull/1159

[2017-05-06 02:20] nitisht commented on #4245
Sent the PRs, the priority can be reduced now. One the PRs are merged, we can close this.

[2017-05-06 17:17] #4233 closed, assigned to harshavardhana

[2017-05-06 17:19] harshavardhana commented on #4268
Closing this as answered.. feel free to open new issues @rc979 if you have more questions.

[2017-05-06 17:19] #4268 closed, assigned to harshavardhana

[2017-05-06 18:03] harshavardhana commented on #4234
Followed the steps to reproduce it.  Not able to reproduce the problem anymore `minio.exe` makes sure to not corrupt `format.json`.

[2017-05-06 18:03] #4234 closed, assigned to harshavardhana

[2017-05-07 01:33] vsivsi opened #4275 "Restic backup performance massively degraded with latest Minio build: 2017-05-05T01:14:51Z"
**Update**: This issue has been fixed in Restic 0.6.0

- - -

Something changed in Minio between versions 2017-04-29T00:40:27Z and 2017-05-05T01:14:51Z that has caused [Restic](https://github.com/restic/restic) (version 0.5.0) backups to become incredibly slow.

@fd0 (Restic owner) should probably know about this too...

My testing has been on OS X 10.11.6.

The following table summarizes results

[2017-05-07 01:45] vsivsi commented on #4275
I should also note that no errors were logged to the console by either minio or restic during any of the above tests.

[2017-05-07 02:13] krishnasrinivas commented on #4275
Mostly because of 4747adfcb4c07ce7972310a1cc9a0f05dfe197a4

@vsivsi we return etag during objects listing now to be more compliant with S3. I suspect that this is commit is causing the performance problem.

[2017-05-07 06:29] harshavardhana commented on #4275
Actually this should have been represented in `mc mirror` as well - i think @krishnasrinivas there is a separate problem here 4747adf commit was already part of 2017-04-29T00:40:27Z release.

[2017-05-07 06:29] harshavardhana commented on #4275
Thanks @vsivsi attempting to reproduce locally..

[2017-05-07 06:31] vsivsi commented on #4275
@krishnasrinivas  thanks for the fast response!

Based on my quick reading of the content of that commit, there must be more to it than that.

`restic init` literally creates two tiny files in S3.  It went from 1.5s to 37.5s in the latest release.  No amount of MD5 summing and JSON unmarshalling could possibly be taking 30+ seconds for a bucket containing two files, each less than a couple of KB.

[2017-05-07 06:42] harshavardhana commented on #4275
@vsivsi are you running FS, Erasure Code, Distributed Mode?

[2017-05-07 06:43] harshavardhana commented on #4275
also did you install from `brew install minio` or `brew install minio/stable/minio` ?

[2017-05-07 06:47] vsivsi commented on #4275
brew install minio/stable/minio

[2017-05-07 06:49] vsivsi commented on #4275
Just running a single minio instance on localhost backed by a single FS volume.

`minio server ./test`

[2017-05-07 06:51] harshavardhana commented on #4275
Here are my results with the new version on Linux on my laptop.

[code]

[code]

[code]

[code]

[code]

[code]

I am not able to reproduce the same results as yours on Linux. Is is somehow possible to access your setup?

[2017-05-07 06:54] vsivsi commented on #4275
Another clue, neither minio nor restic are using anything close to 100% CPU during the slow backups using the latest version of minio.  It feels like something in minio is waiting for some kind of timeout and restic is stuck waiting for responses to its HTTP API requests.

[2017-05-07 06:57] harshavardhana commented on #4275
Oops sorry false alarm i am able to reproduce it on Linux as well @vsivsi

[2017-05-07 06:57] vsivsi commented on #4275
I'll run two tests in the morning (it's midnight here).

1. I'll try it on a different machine running MacOS Sierra.
2. I'll try it in a Linux VM or Docker on the same Mac hardware.

[2017-05-07 07:05] harshavardhana commented on #4275
Found the problem @vsivsi .. there is a retry loop that is occurring with the minio-go version restic is using.

The fix is this https://github.com/minio/minio-go/commit/fd942284fe190615d098af0b63e1698ef0969df1

[2017-05-07 07:05] harshavardhana commented on #4275
Rebuilding restic with these updates.. will keep you posted @vsivsi

[2017-05-07 07:13] harshavardhana commented on #4275
Okay so that fixed the issue,, will send a PR to restic to update `minio-go`.

[code]

@vsivsi - Thanks for the bug report.

[2017-05-07 07:16] fd0 commented on #4275
Thanks for all the work!

[2017-05-07 07:27] fd0 commented on #4275
Shall I update minio-go for restic?

[2017-05-07 07:32] harshavardhana commented on #4275
Either you can do, or i can do whatever is easier @fd0 .

[2017-05-07 07:35] fd0 commented on #4275
I'll update it, thanks :)

[2017-05-07 07:56] fd0 commented on #4275
@vsivsi Could you try again please? We've also fixed a few things for the s3 backend since v0.5.0 was released, I'll release a new version probably in the next week.

[2017-05-07 21:13] vsivsi commented on #4275
@fd0 @harshavardhana

I have confirmed that a custom build of restic `master` at commit https://github.com/restic/restic/commit/68a9e5f963583c81570e9ad3e5e995138dc713db solves this issue for my test cases.

Thanks for the quick response from all!

[2017-05-07 21:53] harshavardhana commented on #4275
Feel free to close this issue @vsivsi. Other we will close once Restic has released a new version.

[2017-05-07 22:18] vsivsi commented on #4275
Let's leave it open until restic releases, that way it will be easy for others to find in the meantime...  Sound good?

[2017-05-07 22:39] harshavardhana commented on #4275
Good idea @vsivsi 👍

[2017-05-08 00:55] harshavardhana opened #4278 "[gateway-gcs] Incorrect error message without having access to GCS while listing buckets"
## Expected Behavior
Error out properly with 403 as forbidden or permission denied instead.

## Current Behavior
[code]

[code]

## Possible Solution
Do not know.

## Steps to Reproduce (for bugs)
Configure gcs and use credentials which have already expired.

## Context
GCS testing.

## Your Environment
[code]

[2017-05-08 01:01] harshavardhana opened #4279 "[gateway-gcs] Weirdly successful even without having access to GCS backend."
## Expected Behavior
Should fail to upload a file.

## Current Behavior
[code]

[code]

## Possible Solution
No idea.

## Steps to Reproduce (for bugs)
Set any random access/secret key in the env and attempt to upload a file.

## Context
GCS testing.

## Your Environment
[code]

[2017-05-08 01:09] harshavardhana opened #4280 "[gateway-gcs] minio gateway example documentation should be updated"
## Expected Behavior
`minio gateway` help output documents gcs.

## Current Behavior
[code]

## Possible Solution
Add an example.

## Steps to Reproduce (for bugs)
Just type `minio gateway` and look for GCS example.

## Context
GCS testing.

## Your Environment
[code]

[2017-05-08 01:12] nitisht opened #4281 "[gateway-gcs] Add GCS gateway examples under EXAMPLES: section in Gateway help"
## Expected Behavior
Right now Gateway example is not present in the help message printed after `minio gateway` command.

## Current Behavior
Only S3, Play, & Azure examples are shown

[code]

## Possible Solution
Add example text

## Steps to Reproduce (for bugs)
Run `minio gateway` command.

## Context
GCS Gateway testing

## Your Environment
[code]

[2017-05-08 01:12] nitisht commented on #4281
Closing in favour of https://github.com/minio/minio/issues/4280

[2017-05-08 01:13] #4281 closed, assigned to nobody

[2017-05-08 02:35] krishnasrinivas opened #4282 "[gateway-gcs]: Support for bucket policies"
Currently not supported:

[code]

[2017-05-08 02:39] krishnasrinivas opened #4283 "[gateway-gcs] Support for CompleteMultipart when number of parts is more than 32"
Support CompleteMultipart when len(parts) > 32

[code]

[2017-05-08 02:50] krishnasrinivas opened #4284 "[gateway-gcs]: Support marker for ListObjectParts"
partNumberMarker support is needed for "upload resume" feature of minio client libs

[code]

[2017-05-08 02:59] krishnasrinivas opened #4285 "[gateway-gcs]: md5sum verification not being done"
In `func (l *gcsGateway) PutObject` does not do MD5 verification:

[code]

client sent md5sum is being lost.

[2017-05-08 03:04] krishnasrinivas opened #4286 "[gateway-gcs]: Support marker in ListObjects"
[code]

Currently marker is being ignored, hence if the prefix has > 1000 objects, it won't be listed.

[2017-05-08 03:06] krishnasrinivas opened #4287 "[gateway-gcs]: Support for MakeBucketWithLocation"
[code]

Currently location is hardcoded.

[2017-05-08 03:16] krishnasrinivas opened #4288 "[gateway-gcs]: ETag should be part of multipart object name"
[code]

Even though the parts get overwritten we should maintain the ETag as part of the object name so that during CompleteMultipartUpload if the client sends an incorrect ETag then `CompleteMultipartUpload` process should fail.

[2017-05-08 03:18] krishnasrinivas opened #4289 "[gateway-azure]: PutObject is not verifying md5sum"
[code]

Azure gateway is ignoring the md5sum sent by client. It should verify that it is correct.

[2017-05-08 03:22] krishnasrinivas opened #4290 "[gateway-azure]: PutObjectPart will not work if the client does not send md5"
[code]

If the client does not send md5sum, then multipart operations do not work in azure gateway.

[2017-05-08 04:35] hackintoshrao commented on #2965
@romulogoncalves : Let me validate this.

[2017-05-08 04:43] hackintoshrao commented on #4160
This is fixed, can be closed.

[2017-05-08 04:51] harshavardhana commented on #4160
Fixed in #4175

[2017-05-08 04:51] #4160 closed, assigned to hackintoshrao

[2017-05-08 05:07] hackintoshrao opened #4291 "performance: Analyze Memory allocations and consumption of Minio server."
Analyze Memory allocations and consumption of Minio server in FS/XL/Distributed Modes.

Building a simple plugin tool ( https://github.com/hackintoshrao/go-debug ) which works with Gorilla mux and sets up endpoints for getting lot of useful metrics from within the server.

Need to revisit the memory consumption patterns with various scenarios,
- With and Without Cache
- Analyze Distributed with a

[2017-05-08 14:57] dennismulder opened #4292 "[gateway-azure] Metadata is not passed to Azure"
when I execute the following command to put an object in Azure through the S3 api the metadata isn't set accordingly.

aws --endpoint-url http://<endpoint> s3api put-object --bucket test --key smallfile.txt --metadata firstname=dennis,lastname=mulder --body smallfile.txt

I also tried JSON:
aws --endpoint-url http://<endpoint> s3api put-object --bucket test --key smallfile.txt --metadata "{\"lastn

[2017-05-08 16:21] krishnasrinivas commented on #4292
Thanks @dennismulder we'll check.

[2017-05-08 16:44] deekoder commented on #4269
Check if this can be closed?

[2017-05-08 16:47] deekoder commented on #4092
ETA 5/8/2017

[2017-05-08 16:49] deekoder commented on #4230
Server should check if the operation is allowed and proceed accordingly.

[2017-05-08 17:50] deekoder commented on #4232
Current:  You are running an older version of Minio released 5 hours from now

Proposed : A new version of Minio has been released < humanized time > ago.
except no ago when the string has "now" in it.

Test :

A new version of Minio has been released now
A new version of Minio has been released 2 hours ago
A new version of Minio has been released 3 months ago
A new version of Minio has been relea

[2017-05-08 18:02] nl5887 commented on #4288
I think it will be better to validate the etag using a head then including it in the filename. Otherwise, you'll break the api by not overwriting it.

[2017-05-08 18:12] nl5887 commented on #4285
Linked to issue minio/minio#4289.

[2017-05-08 18:19] nl5887 commented on #4285
I thought we decided to removed checks of both md5 and sha256, but will add md5 check.

[2017-05-08 18:44] harshavardhana opened #4293 "[gateway-gcs] Allow changing the project-id."
## Expected Behavior
We should make project-id configurable.

## Current Behavior
[code]

## Possible Solution
Pass the project id passed into the command as part of ACCESS_KEY.

## Steps to Reproduce (for bugs)
Found during code review.

## Context
GCS Testing.

## Your Environment
Built from feature-gcs branch.

[2017-05-08 18:59] vadmeste opened #4294 "[gateway-s3] List Parts returns parts with ETag having doubled double quotes"
## Expected Behavior
ListParts returns
[code]

## Current Behavior
ListParts returns
[code]
## Possible Solution

## Steps to Reproduce (for bugs)
1. Setup a Minio gateway instance pointing to an S3 server
2. Setup a multipart upload and upload a part
3. List parts

(I did this with mc after tweaking some codes to the the gateway xml response)

## Context
Testing

## Your Environment
All, master

[2017-05-08 19:09] vadmeste commented on #4294
Taking this.

[2017-05-08 20:05] gaul opened #4296 "s3verify repository missing"
Sorry to cross-post this, but the s3verify repository no longer exists:

https://github.com/minio/s3verify

Is this intentional?

[2017-05-08 20:09] harshavardhana commented on #4296
Yes it's deprecated.  We moved it to https://github.com/minio/attic

[2017-05-08 20:13] #4296 closed, assigned to harshavardhana

[2017-05-08 20:14] gaul commented on #4296
I am curious -- does minio still use s3verify or do you use another tool like s3-tests?

[2017-05-08 20:39] krishnasrinivas commented on #4269
@deekoder you can lower the priority of the bug. Currently the fix committed is to make the fields read-only and allow changes only by clicking up/down buttons which allows the values to be in the configured range.

A better fix for the bug is form validation as pointed out by @poornas

[2017-05-08 20:43] krishnasrinivas commented on #4292
we need to convert:
[code]

to

[code]

and in the response headers perform similar conversion.

[2017-05-08 20:57] harshavardhana commented on #4296
We started a new project as https://github.com/minio/mint which would perform s3verify style operations as a subset of tests which is still a work in progress.  We are not using s3verify anymore.

[2017-05-08 21:21] rushenn commented on #4269
@krishnasrinivas I think it's better to close this issue and open a new one specifically for form validation (if required). Currently there is no need for any validation features as we don't have any forms other than 'share' to validate. May be we can address this in the new UI.

[2017-05-08 21:28] krishnasrinivas commented on #4269
@rushenn ok sure let's close this then. This is for the case when the user wants to set minutes to "30" he/she will have to click the up button 30 times. So you can take care of this in the new UI.

[2017-05-08 21:42] #4294 closed, assigned to vadmeste

[2017-05-08 23:54] nl5887 opened #4300 "gateway: Validate object name"
We need to pick a strategy here:

* do we want the backend to validate the object name and fail if it is invalid, possibly being incompatible with S3
* do we want to be compatible with S3 and validate object name following S3 standards, failing when it not complies

[2017-05-08 23:59] krishnasrinivas commented on #4300
http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html

Since S3 does not impose any restrictions on the object name, the backend can decide if it allows it. For example our XL/FS layer does not allow object with name "/" whereas aws-s3 allows it.

[2017-05-09 00:18] harshavardhana opened #4301 "fs: Creating an object with previous object as prefix leads to issues."
## Expected Behavior
Proper error is sent back to the client indicating that parent is indeed an object.

## Current Behavior

Client retries an attempts many times before giving up.

[code]

## Possible Solution
We need to check if the parent directory is an object and error out before we proceed to receive the data from the client.

## Steps to Reproduce (for bugs)

Create an object as my-object

[2017-05-09 00:18] harshavardhana commented on #4301
Sending a PR.

[2017-05-09 00:20] harshavardhana opened #4302 "fs/erasure: Return success for objects ending with "/" for DeleteObject()"
## Expected Behavior
DeleteObject() behaves the same way as PutObject() for directory operations.

## Current Behavior
[code]

We throw an error on the console.

## Possible Solution
Ignore objects ending with '/'

## Steps to Reproduce (for bugs)
Just initiate a DeleteObject() request with an object with "/" in it.

## Context
Server testing.

## Your Environment
minio master.

[2017-05-09 00:21] harshavardhana commented on #4302
Sending a PR.

[2017-05-09 00:21] nl5887 commented on #4300
Oh yeah, I now see in the code this is a custom XMinioInvalidObjectName error that has been thrown by Mint. Will ignore this error.

[2017-05-09 00:21] #4300 closed, assigned to nl5887

[2017-05-09 01:06] nl5887 commented on #4282
Fixed in commit 2176b58a

[2017-05-09 01:21] krishnasrinivas commented on #4290
@deekoder blocked on discussion with @abperiasamy

[2017-05-09 01:35] deekoder commented on #4289
we need to add tests for this.

[2017-05-09 01:36] deekoder commented on #4167
Can this be closed?

[2017-05-09 01:36] deekoder commented on #4176
@NitishT - to follow up.

[2017-05-09 01:37] deekoder commented on #3966
@hackintoshrao  can this be closed? Is it merged upstream?

[2017-05-09 01:39] harshavardhana commented on #3966
This is not done yet.. AFAIK @deekoder

[2017-05-09 01:50] 4406arthur commented on #4167
@deekoder , ok

[2017-05-09 01:52] harshavardhana commented on #4167
Closing .. as upstream issue. @donatello can we open a bug against aws-sdk-php with S3?

[2017-05-09 01:52] #4167 closed, assigned to donatello

[2017-05-09 02:36] harshavardhana commented on #4269
@rushenn can you open a bug.. referencing this issue? Once its open we can close this issue.

[2017-05-09 03:19] deekoder commented on #4232
@abperiasamy  :
Never print any message if minio is the latest version. Now string can never be printed.
Eg :
You are running an older version of Minio released 5 hours ago is fine. Don't compute the newerThan time string in the colorize function.  UTC.now() should be looked at.

[2017-05-09 03:45] deekoder commented on #3835
#4141 is the blocking bug.

[2017-05-09 03:56] deekoder commented on #4258
- let us fix this in the new UX. No further action is needed.

[2017-05-09 05:18] rushenn opened #4305 "Browser: Add form validation"
Currently browser doesn't have any form validation features to validate any kind of form data such texts, numbers etc.

## Expected Behavior
On form submit or form field key press, a proper feedback message should be given with a nice presentation UI.

## Current Behavior
Form validation is ignored and handled alternative methods to overcome.
e.g Read only fields in object share modal

## Possible

[2017-05-09 05:18] rushenn commented on #4269
@harshavardhana done https://github.com/minio/minio/issues/4305

[2017-05-09 05:18] harshavardhana commented on #4269
Closing this issue..moved to #4305

[2017-05-09 05:57] wey-gu commented on #3898
Update: best way to install docker in windows 7
choco install docker with [chocolatey](https://chocolatey.org/)

[2017-05-09 06:45] harshavardhana commented on #3898
We have made the release.. btw you don't need to use `minio/minio:edge`  anymore.

[2017-05-09 07:41] danielsreichenbach opened #4306 "Provide per release download URLs and SHA256 sums"
## Expected Behavior
* for each release there should be a canonical download URL to allow for a managed installation, such as e.g <https://dl.minio.io/server/minio/release/TAG/linux-amd64/minio> where `TAG` would be the git tag for the release.
* provide a SHA256sum file for each release, e.g. e.g <https://dl.minio.io/server/minio/release/TAG/linux-amd64/minio.sha256sum> where `TAG` would be the g

[2017-05-09 07:51] harshavardhana commented on #4306
This is the current expected behavior and we are not planning to change that. Minio is designed with continuous deployment in mind. So there are are no releases or version numbers / migration downtimes etc. Each releases are just signified by a build id that is the date at which Minio was built.

What you need is https://dl.minio.io/server/minio/release/linux-amd64/archive/ where each release is k

[2017-05-09 07:56] danielsreichenbach commented on #4306
@harshavardhana I did not see the archive URL. Thanks for mentioning that. I will adapt the Puppet module to use this then.

[2017-05-09 07:58] wey-gu commented on #3898
@harshavardhana  Thanks, updated to latest released binary one, IE confirmed works perfectly fine.

[2017-05-09 08:13] harshavardhana commented on #4306
@danielsreichenbach let me know if you need `sha256sum` as well. Will add them tomorrow.. and shall incorporate them into the release process as well.

Thanks for writing puppet-minio, feel free to mention it on https://github.com/minio/awesome-minio .

[2017-05-09 08:28] danielsreichenbach commented on #4306
`sha256sum` would be great as it's working out of the box for most use cases!

[2017-05-09 09:48] danielsreichenbach commented on #4306
Pushed the update in https://github.com/kogitoapp/puppet-minio/commit/6315ed5b92b439e4cebf81face643568e1b1f3aa, ping me when sha256sums are available.

Thanks for your help!

[2017-05-09 10:58] vadmeste opened #4307 "[gateway-s3] Reject endpoint pointing to the gateway itself"
## Expected Behavior
The server shows an error when the passed endpoint points to the gateway server itself.

## Current Behavior
The server shows the following error when trying to list buckets (for example):

[code]

## Possible Solution
Reject endpoint pointing to the gateway itself

## Steps to Reproduce (for bugs)
1. Run gateway
`MINIO_ACCESS_KEY=minio MINIO_SECRET_KEY=minio123 minio gateway

[2017-05-09 10:58] vadmeste commented on #4307
Taking this.

[2017-05-09 13:39] dcharbonnier commented on #4236
any ETA for this ?

[2017-05-09 14:40] harshavardhana commented on #4236
Would like to discuss this with you over on slack @dcharbonnier

[2017-05-09 14:52] vadmeste opened #4308 "Dockerfile for Nano server"
## Expected Behavior
Having a dockerfile which downloads minio code from github and builds and ship it in a windows nano server image.

## Current Behavior
No such dockerfile

## Possible Solution
Writing a new dockerfile for that purpose.

## Steps to Reproduce (for bugs)
NA

## Context
Add docker support for Windows

## Your Environment
All

[2017-05-09 16:47] deekoder commented on #4308
who is asking for this? Is it a community ask?

[2017-05-09 16:49] vadmeste commented on #4308
Yes. Someone from the community wanted to play with Minio Docker under Windows but we don't have an automatic way to build the image.

[2017-05-09 16:49] vadmeste commented on #4308
I can take this @deekoder, I already played with docker under Windows before.

[2017-05-09 18:48] krishnasrinivas commented on #4285
@nl5887 aws-sdk will still send md5 which we need to verify

[2017-05-09 18:51] krishnasrinivas commented on #4092
blocked on @abperiasamy for discussion

[2017-05-09 19:23] krishnasrinivas commented on #4092
At gateway during signature verification we need the bucket region. We can use the region sent by the client itself for this. But gateway's S3 layer shares code with server's S3 layer for all the multipart/policy related handlers. This code uses `serverConfig.GetRegion()` to get the region.

Hence we have 4 choices:
* duplicate the shared code so that it does not do `serverConfig.GetRegion()` (but

[2017-05-09 20:36] krishnasrinivas commented on #4290
we can generate an ETag (which is not md5sum) but the downside is clients will not be able to resume uploads

[2017-05-09 21:30] krishnasrinivas commented on #4223
@deekoder currently we don't log the user out if secret key is changed. Is this needed because even gmail does not logout after password change (I just checked). Though gmail asks for current password before changing the password (which we are handling in this issue https://github.com/minio/minio/issues/4182)

[2017-05-09 21:32] #4302 closed, assigned to harshavardhana

[2017-05-10 00:46] #4301 closed, assigned to harshavardhana

[2017-05-10 02:15] harshavardhana commented on #4306
sha256sums generated for all new and older releases. here is one sample https://dl.minio.io/server/minio/release/linux-amd64/archive/minio.RELEASE.2017-05-05T01-14-51Z.sha256sum

Please let us know if this is acceptable.

[2017-05-10 07:48] krishnasrinivas opened #4312 "erasure/backend: Change xl.json meta key from md5Sum to etag"
Current `xl.json` user defined meta contains `md5Sum` key.

[code]

It should be changed such that to reflect it is ETag instead of MD5Sum.

[code]

This requires a format change such that we are moving from current `xl.json` version i.e `1.0.0` to the newer format of `1.0.1` which would cater for this change.

Existing files under `1.0.0` should be allowed to be read properly, if re-written shoul

[2017-05-10 09:24] francoishill opened #4313 "Changing number input values in Expiry dialog does not get used"
## Expected Behavior

When you open die "Share Object" dialog of a file in Minio Web UI the values in the number textboxes should be used to generate the "expiry link".

## Current Behavior

If you change the values by editing the input values (of Days, Hours or Minutes) "manually" it does not work at all. Whether using the mouse wheel to increase/decrease or by entering with a keyboard. On the fl

[2017-05-10 12:04] danielsreichenbach commented on #4306
Awesome, that's exactly what is needed. Will add support for grabbing these to the puppet module within the next days.

[2017-05-10 16:09] harshavardhana commented on #4313
The input UI has been disabled in the current master due to the fact that we don't have a proper form validation in place. @francoishill - we will bringing a new UI change which would address these concerns.

[2017-05-10 16:33] deekoder commented on #4023
@krishnasrinivas is this completed?

[2017-05-10 16:37] deekoder commented on #4130
@hackintoshrao  Please confirm that the above errors are no longer occurring. Please run mint and test. Can't close issue till we confirm.

[2017-05-10 16:39] deekoder commented on #4198
@fwessels is there any update to this issue?

[2017-05-10 16:40] deekoder commented on #4229
Writing tests for this. Will be integrated into mint.  No new bugs found.  Will be done in 4-5 days.

[2017-05-10 16:43] deekoder commented on #4245
Still waiting upstream for the merge to happen.

[2017-05-10 16:46] #4275 closed, assigned to harshavardhana

[2017-05-10 16:48] deekoder commented on #4023
@abperiasamy  discussion pending on design.

[2017-05-10 16:49] vadmeste commented on #4294
We should add a test in mint for this case

[2017-05-10 16:51] deekoder commented on #4287
related to #4241

[2017-05-10 16:51] harshavardhana commented on #4294
Perhaps open a bug over at mint so that we don't forget @vadmeste

[2017-05-10 16:54] #4230 closed, assigned to krishnasrinivas

[2017-05-10 16:54] fwessels commented on #4198
See above, we need to decide if we want to get access to a server with an AMD Ryzen CPU.

[2017-05-10 16:58] deekoder commented on #4183
@fwessels will reproduce it and look into it further.

[2017-05-10 17:04] deekoder commented on #4290
Please add tests as you fix the issue.

[2017-05-10 17:18] fwessels commented on #4198
Based on profile logs that we obtained this looks to be a low-level go runtime channel closing/synchronization issue that is specifically happening on this type of AMD Ryzen CPU. We have not seen this on other CPUs.

The customer already mentioned that access to the servers is difficult due to internal VPN issues (@lskbr any updates?), and due to the difficulty of getting access to a server with a

[2017-05-10 17:24] fwessels commented on #4183
This requires an architectural discussion on how to best address this issue in a structural manner.

[2017-05-10 17:27] vsivsi commented on #4275
This has not yet been fixed in a restic release.  Users deploying the latest released versions of minio and restic will still see this issue until that happens.

[2017-05-10 17:29] nl5887 commented on #4287
As discussed we're going to use the default server region as defined by MINIO_REGION.

[2017-05-10 18:22] #4306 closed, assigned to harshavardhana

[2017-05-10 18:33] poornas commented on #4313
@deekoder, #4305 will address this issue.

[2017-05-10 18:44] vadmeste opened #4314 "[gateway] Crash if no arguments are provided"
## Expected Behavior
Using default parameters when no argument is provided when running Gateway s3 and Azure

## Current Behavior
Crash:
[code]

## Possible Solution
Small fix in the code

## Steps to Reproduce (for bugs)
1. `MINIO_ACCESS_KEY="access" MINIO_SECRET_KEY="secret" minio gateway s3`

## Context

## Your Environment
Detected in gcs-feature branch
All environments

[2017-05-10 18:44] vadmeste commented on #4314
Taking this

[2017-05-10 19:34] harshavardhana commented on #4236
It was discussed and agreed that we will implement a hashing verifier as a POSIX interface level primitive.

[code]

This would offload the checksum calculation to POSIX while not spilling over the format details. i.e this primitive is generic enough to be implemented at POSIX layer but is implemented like a generic checksum verifier at POSIX which has offset and length variation as well.  Caller

[2017-05-10 19:52] krishnasrinivas commented on #4236
should `algo` be a string? because it needs to be transmitted over network.
expectedHash should be []byte? because []byte is canonical representation of hash value. If it is a string then it could be hex-encoded or base64 encoded. This is why we changed the API at minio-go putobject API to:
func (c Core) PutObject(bucket, object string, size int64, data io.Reader, md5Sum, sha256Sum []byte, metadat

[2017-05-10 20:01] harshavardhana commented on #4236
Algo should be a string. My mistake.

Yes expected hash should be []byte.

This variant was also discussed but its not adding any value unless we need to use this for computing checksums while returning to client which we don't do.

Currently there is no need to transmit the data just to verify at the top level, we can avoid that as well just by returning boolean. Its a further reduction by passin

[2017-05-10 20:06] harshavardhana commented on #4236
[code]
Here is the updated one.

Additionally we can bring a proper type for `algo string` as well providing some more safety to the data transferred over the network.

[code]

So it would be

[code]

[2017-05-10 20:54] emresaracoglu opened #4316 "Demo not working"
Hi,
Demo not working

Error:
`
TLS Not found - MOZILLA_PKIX_ERROR_REQUIRED_TLS_FEATURE_MISSING
`

[2017-05-10 20:57] vadmeste commented on #4316
Thanks for reporting @emresaracoglu,

Yeah, I don't have this with Chrome but I was able to reproduce with Firefox. I'll investigate further.

[2017-05-10 21:43] harshavardhana commented on #4316
@emresaracoglu this seems like is a bug in Firefox to work with letsencrypt. We will see if we can generate a new set of certs with OCSP stapling disabled and test.

[2017-05-10 21:50] emresaracoglu commented on #4316
@harshavardhana Yes, the new certificate will solve this problem. This problem is not seen with any browser except Firefox. I can close the issue because you are aware of this problem.

[2017-05-10 22:13] harshavardhana commented on #4316
Fixed it by generating a new `certbot certonly --standalone --preferred-challenges tls-sni -d play.minio.io --staple-ocsp -m sysadmin@minio.io --agree-tos`  - ocsp stapled cert.  Firefox should work fine now.

[2017-05-10 22:14] vadmeste commented on #4316
Yes it works @harshavardhana, do we need to add staple ocsp feature to concert ?

[2017-05-10 22:15] harshavardhana commented on #4316
Yes we need to .. currently the lego/acme library has no easier way to do it but we need to figure it. We can open a bug on minio/concert.

[2017-05-10 22:15] emresaracoglu commented on #4316
It's working right now 👍

[2017-05-10 23:57] deekoder commented on #4293
Open a new issue to track the profile id support.

[2017-05-10 23:57] #4293 closed, assigned to nobody

[2017-05-10 23:58] deekoder opened #4317 "Investigate if profile id needs to be supported in gcs ."
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2017-05-11 00:09] deekoder commented on #4092
- if server is configured with region, then we use that region in signature verification.
- if not, we simply trust the region set by the client.
- if no region is set by the client, use region from the request.
This behavior is common for server & gateway.

[2017-05-11 00:34] deekoder commented on #4092
Other related  changes for minio server startup message:
- Remove SQS ARNS do not print "none".
- If region is not set,  do not print "none".

[2017-05-11 00:45] deekoder commented on #4317
Project id is mandatory. If not specified, show help for GCS.

[2017-05-11 00:54] #4278 closed, assigned to nobody

[2017-05-11 00:55] deekoder commented on #4279
@nl5887  to verify if this is fixed.

[2017-05-11 00:55] deekoder commented on #4280
Remove region and close.

[2017-05-11 00:58] #4282 closed, assigned to nl5887

[2017-05-11 01:04] deekoder commented on #4283
not blocking first gcs release.

[2017-05-11 01:06] deekoder commented on #4287
reverting the revert.

[2017-05-11 02:32] francoishill commented on #4313
@harshavardhana, disabling the inputs should definitely reduce the risk **a lot**.

[2017-05-11 03:54] hackintoshrao commented on #4130
Sure, let me re run the tests.

[2017-05-11 07:03] harshavardhana opened #4320 "[gateway-gcs] Incorrect error message when creating a bucket"
## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Fix the error code propagation.

## Steps to Reproduce (for bugs)
Just configure `minio gateway gcs <project_id>` and `mc mb mygcs/testbucket`

## Context
GCS testing.

## Your Environment
Using 8dcd491ff6255ebaf276dd412114b2e4ddc7af77 from `feature-gcs` branch.

[2017-05-11 07:15] harshavardhana opened #4321 "[gateway-gcs] Setting read-only bucket policy did not work."
NOTE: file was uploaded before setting bucket policy.

## Expected Behavior
[code]

[code]

## Current Behavior
[code]

Server error log.
[code]

## Possible Solution
Not sure.

## Steps to Reproduce (for bugs)
[code]

[code]

## Context
GCS testing.

## Your Environment
[code]

[2017-05-11 07:16] harshavardhana commented on #4321
Re-uploading file after setting the policy didn't work either.

[code]

[2017-05-11 07:56] harshavardhana opened #4322 "[gateway-gcs] RemoveIncompleteUpload doesn't delete the uploaded parts."
## Expected Behavior
Able to delete the bucket at the end of java functional tests.

## Current Behavior
[code]

[code]

There are left over files.

## Possible Solution
Not sure.

## Steps to Reproduce (for bugs)
Just run `java functional` tests pointing to the GCS gateway server.

## Context
GCS testing.

## Your Environment
[code]

[2017-05-11 07:59] harshavardhana commented on #4322
To run faster tests in minio-java functional tests, with following code modifications.

[code]

[code]

[2017-05-11 08:09] harshavardhana opened #4323 "[gateway-gcs] Setting bucket policy to public returns an odd error response."
## Expected Behavior
Either should succeed or fail properly with "NotImplemented".

## Current Behavior
[code]

## Possible Solution
Not sure.

## Steps to Reproduce (for bugs)
Just run `minio-go` functional tests.

[code]

[code]

## Context
GCS Testing.

## Your Environment
[code]

[2017-05-11 15:48] tredoe opened #4325 "Bucket not showed due to use of some letters"
The bucket is not showed when there is a directory with a letter in upper case or it has character '_' wich is valid for an URL.

## Steps to Reproduce (for bugs)
Under actual directory, create a directory like 'Test' and 'test_foo', and run `minio server .`

## Your Environment

* Version used (`minio version`): DEVELOPMENT.GOGET
* Environment name and version (e.g. nginx 1.9.1):
* Server type an

[2017-05-11 16:16] harshavardhana commented on #4325
This is expected behavior .. bucket naming conventions are closer to AwS S3 behavior and we are not planning to change that in near future.

[2017-05-11 16:32] nitisht commented on #4245
https://github.com/mesosphere/universe/pull/1159 closed in favour of https://github.com/mesosphere/universe/pull/1160

[2017-05-11 17:31] nl5887 commented on #4321
I noticed some weird behavior where the bucket permission will be set, but not all objects below.

[2017-05-11 18:59] harshavardhana opened #4326 "Benchmark Minio with cosbench tool"
https://github.com/intel-cloud/cosbench - benchmark Minio using cosbench tool

- Read throughput
- Write throughput
- Mixed workload.

[2017-05-11 21:26] nl5887 commented on #4322
@vadmeste fixed this already

[2017-05-11 21:46] #4096 closed, assigned to nobody

[2017-05-11 23:15] deekoder opened #4330 "minio src does not build on windows"
$ go build
can't load package: package github.com/minio: code in directory C:\Go\src\github.com\minio expects import "github.com/minio/minio"

## Expected Behavior
go build or make release should work

## Current Behavior
 $ /c/make.exe release
C:/make.exe: error while loading shared libraries: ?: cannot open shared object file: No such file or directory

## Possible Solution
Don't know

## Steps

[2017-05-11 23:21] deekoder commented on #4330
go get worked. It was my error.

[2017-05-11 23:21] #4330 closed, assigned to krishnasrinivas

[2017-05-12 00:06] deekoder opened #4331 "List bucket not listing gcs buckets on windows."
## Expected Behavior
mc ls gcs should show output but it does not

## Current Behavior
See Image
![mc_gcs_win](https://cloud.githubusercontent.com/assets/1700901/25976766/8f41a2b2-36a6-11e7-8a23-600744e7c91f.PNG)

## Possible Solution

## Steps to Reproduce (for bugs)
 Do this on windows server 2016 to see this error.

## Context
Unable to use gcs on windows platform. Actually i can't do anything

[2017-05-12 00:31] nitisht opened #4333 "docs: Gateway documentation"
## Expected Behavior
Create separate documents for supported gateway modes.

## Current Behavior
There is a single document currently.

## Possible Solution

## Context
New gateway modes are now supported on Minio server.

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):

[2017-05-12 00:40] deekoder opened #4334 "gcs did not upload file from python program."
file-uploader.py is a simply python program that uploads a file. gcs did not upload the file.

## Expected Behavior
 upload succeeds. (make bucket succeeds)

## Current Behavior
See image
![file_upload_error](https://cloud.githubusercontent.com/assets/1700901/25977456/4aa72bb8-36ab-11e7-96fa-922e0b40ad8e.PNG)

## Possible Solution

## Steps to Reproduce (for bugs)
 Run this program. Attach file-up

[2017-05-12 00:41] #4320 closed, assigned to nitisht

[2017-05-12 00:41] donatello commented on #4236
Would it be better to eliminate the `bool` from the return value? We could just have ErrHashMismatch in case the hash value does not match. This way we could avoid a new return type for RPC calls.

[2017-05-12 01:00] deekoder commented on #4331
not a bug.

[2017-05-12 01:00] #4331 closed, assigned to nobody

[2017-05-12 01:02] harshavardhana commented on #4331
#notabug

[2017-05-12 01:11] deekoder commented on #4334
not a bug.

[2017-05-12 01:11] #4334 closed, assigned to nobody

[2017-05-12 01:49] krishnasrinivas commented on #4241
Apologies this is not dup of  #4092, sent a PR https://github.com/minio/minio/issues/4335 to fix it

[2017-05-12 04:24] dcharbonnier opened #4337 "object locked indefinitely in one server only"
https://gist.github.com/dcharbonnier/29ce3d4668d929bd8b112dcabde06f68
@krisis

[2017-05-12 04:37] harshavardhana commented on #4337
Thanks a lot @dcharbonnier - clearly looks like a bug on our end.

[2017-05-12 17:41] fwessels commented on #4337
One possible explanation for this could be that the locker maintenance thread (go-routine) has stopped on this server which would prevent clearing out stale locks. This would prevent this server from ever obtaining a lock on the object again as dsync requires the 'local' server to always participate in granting the lock.

On an alternative note, we are looking to use locks with timeouts (instead o

[2017-05-12 19:00] laktek opened #4341 "Set the Cache-Control header based on the object metadata"
From a Slack conversation with Minio developers, I learnt currently Cache-Control metadata isn't set as an header when Minio is serving an object.

## Expected Behavior
Minio server should set the Cache-Control header based on the metadata provided.

[2017-05-12 19:25] vadmeste opened #4342 "Investigate a possible use of readahead library"
Check if https://github.com/klauspost/readahead can bring a performance enhancement

[2017-05-12 20:28] fwessels commented on #4337
This could be a fix: https://github.com/fwessels/dsync/commit/a27a410a488982448266119df5087a67e4d02cbd

[2017-05-12 20:30] fwessels commented on #4337
In addition we can implement timeouts (for Distributed as well as XL/FS behaviour), in a similar fashion to https://github.com/fwessels/lsync

[2017-05-12 20:34] deekoder commented on #4342
Since this is an exploratory task moving this to prototype milestone.

[2017-05-12 20:40] fwessels commented on #3185
The thread put me in the direction as per https://github.com/fwessels/lsync (as opposed to using multiple go-routines, channels, select timeouts etc. but that has many corner cases).

After review we can integrate this (and implement the same API for dsync).

Can also help in tackling #4337

[2017-05-13 17:51] harshavardhana opened #4345 "Profile distributed Minio setup for performance bottlenecks"
Distributed Minio Setup is going through a lot of changes

- Offloading of bit-rot check to server side.
- Dsync related changes for timeout etc.

After some initial benchmarks and results - some bottlenecks have been observed.  Single node erasure code right now is better performing than distributed erasure code even in a 2 node setup with 20Gb bonded  10gig network.

This issue is to profile and

[2017-05-13 18:00] #4323 closed, assigned to harshavardhana

[2017-05-14 09:00] harshavardhana commented on #4345
Preliminary results are here

[code]

[code]

[minio-11.pdf](https://github.com/minio/minio/files/999197/minio-11.pdf)
[minio-12.pdf](https://github.com/minio/minio/files/999198/minio-12.pdf)

In both the graphs indicates the usage of sync.Lock() inside authRPCClient to be the most blocking of all the operations which is taking the significant amount of time as well.

Proceeding further..

[2017-05-14 19:05] #4312 closed, assigned to harshavardhana

[2017-05-14 22:26] krishnasrinivas commented on #4092
https://github.com/minio/minio/pull/4329 will fix this issue.

[2017-05-15 03:50] krishnasrinivas opened #4348 "Ctrl-C gives contradicting messages"
[code]

Sending ctrl-C says `Gracefully stopping...` and then says `(press Ctrl+C again to force)` which are contradicting messages. It exits after just one ctrl-C.

[2017-05-15 05:18] harshavardhana commented on #4348
What is contradictory about this message? .

"Gracefully stopping..." indicates that server initiated a graceful stop and handled Ctrl-C

The next optional inside the () indicates that if pressed again server will stop by force.

This message was added to differentiate first Ctrl-C vs second Ctrl-C

Can you also propose a newer string?

[2017-05-15 05:51] krishnasrinivas commented on #4348
Now I get it.

This is how the thought process went:
OK, Let me force a shutdown by doing Ctrl-C
`Gracefully stopping...` - OK, now minio is going to stop
`press Ctrl+C again to force` -  looks like minio is not going to stop and I have to press ctrl-C again

So, `press Ctrl+C again to force shutdown` would sound better

or even better just `Gracefully stopping...` or `Cleaning up...` is less conf

[2017-05-15 10:46] hackintoshrao commented on #4345
What was the load during the test ?

[2017-05-15 16:14] deekoder commented on #4198
Closing issue due to lack of access to this particular CPU. @lskbr please reopen if you can help us with access.

[2017-05-15 16:14] #4198 closed, assigned to fwessels

[2017-05-15 16:37] deekoder commented on #4176
Closing this. Please reopen if this issue still occurs.

[2017-05-15 16:37] #4176 closed, assigned to nitisht

[2017-05-15 16:37] #4314 closed, assigned to vadmeste

[2017-05-15 16:42] deekoder commented on #4305
Related to #4313

[2017-05-15 16:43] krishnasrinivas commented on #4290
Had a discussion with @abperiasamy this is how we'll implement it:

* blockID represents a part, the API for upload of part looks like this:
`err = a.client.PutBlockWithLength(bucket, object, blockID, uint64(size), teeReader, nil)`

* for each part uploaded we will create two blocks
first block's blockID will have the format `data-UUID` and will contain the data of the part
second block's blockID

[2017-05-15 16:50] vadmeste commented on #4316
Can we open this issue again? There is an opened PR being reviewed which fixes this.

[2017-05-15 16:51] #4267 closed, assigned to poornas

[2017-05-15 16:54] deekoder commented on #4024
Moving this to prototype milestone.

[2017-05-15 16:56] krisis commented on #4337
@fwessels @harshavardhana There seems to be an issue with the instrumentation. totalBlockLocks is 0, but we have a list of blocked locks in the above paste output.

[2017-05-15 16:59] deekoder commented on #4108
Moving this to next release milestone.

[2017-05-15 17:06] harshavardhana commented on #4316
Thanks @emresaracoglu @vadmeste

[2017-05-15 17:12] deekoder commented on #4182
Since we have to do with the new UX.

[2017-05-15 17:12] harshavardhana commented on #4337
Yes it seems like instrumentation lost some information. @krisis

[2017-05-15 18:01] fwessels commented on #4337
Good observation @krisis maybe some race condition going on

[2017-05-15 18:32] nitisht commented on #4067
Looks like this passed on latest CI jobs - https://travis-ci.org/minio/minio/jobs/232330173
Also passed locally.

[2017-05-15 18:33] harshavardhana commented on #4067
Its a very rare issue you need to reproduce it properly with probably with `go test -run TestPostPolicyBucketHandler -count 10000`

[2017-05-15 18:40] nitisht commented on #4067
[code]
Still passed..I'll try with some other values as well.

[2017-05-15 19:04] deekoder opened #4350 "perf: Permanent performance degrades when node/disk goes down"

[2017-05-15 19:05] deekoder opened #4351 "perf: avoid reading twice from disk for getobject API."

[2017-05-15 19:06] harshavardhana commented on #4351
Fixed by #4349

[2017-05-15 19:07] harshavardhana commented on #4350
Duplicate of #4183

[2017-05-15 20:33] poornas commented on #3943
This is a known issue with Safari Browser. The latest version of Safari Technology Preview (Release 29 (Safari 10.2, WebKit 12604.1.19.0.1)) has fixed this issue, and the next version of Safari will catch up.

[2017-05-15 20:40] harshavardhana commented on #3943
Can you explain what the known issue is? @poornas

[2017-05-16 03:02] bearmoo-cloud-net opened #4354 "Unable to list objects."
On the console I am seeing this error:
5/12/2017 8:30:49 AMERRO[0592] Unable to list objects.                       cause=parsing time "null" as "2006-01-02T15:04:05Z07:00": cannot parse "null" as "2006" source=[bucket-handlers-listobjects.go:98:objectAPIHandlers.ListObjectsV2Handler()] stack=xl-v1-utils.go:262:readXLMetaStat xl-v1-metadata.go:285:xlObjects.readXLMetaStat xl-v1-object.go:337:xlObj

[2017-05-16 03:06] harshavardhana commented on #4354
The error originates from this function where `stat.modTime` is being obtained..

[code]

Do you know exactly which file is giving this problem? how did you try to list? can you do `mc ls` on the prefix or object to see the same results?

[2017-05-16 06:11] balamurugana opened #4355 "gateway: endpoint and address command line arguments need to properly validated"
Currently endpoint and address arguments from command line are not validated properly.  below cases need to be addressed
1. address argument should be valid with port and points to local host only and endpoint should be non-empty.
2. host in endpoint should be remote host
3. for testing, host in endpoint can be local host whereas it should not be using same port as gateway accordingly to binding.

[2017-05-16 06:13] balamurugana commented on #4355
The PR https://github.com/minio/minio/pull/4310 fixes partially ie only case like `minio gateway --address=localhost:9000 http://localhost:9000`

[2017-05-16 09:11] emresaracoglu opened #4356 "How I can install on my VM without Docker"
Hi again,

How I can install on my VM without Docker?

CentOS 7

[2017-05-16 15:47] harshavardhana commented on #4356
You can download the relevant binary from https://dl.minio.io/server/minio/release/

[2017-05-16 15:52] #4350 closed, assigned to deekoder

[2017-05-16 15:52] #4351 closed, assigned to deekoder

[2017-05-16 15:56] harshavardhana commented on #4345
Load test was

1000 concurrent go-routines reading 10MB objects
1000 concurrent go-routines writing 10MB objects

ON a distributed setup of 16 disks 2 nodes, On a standalone setup of 12 disks 1 node.

[2017-05-16 17:47] vadmeste commented on #4322
Currently, I wasn't able to test this because it seems that listing uploads is not working properly. The following code taken from examples of `minio-go` lists all the incomplete uploads.

[code]

[2017-05-16 18:00] donatello commented on #4348
The first C-c should not be thought of as "force a shutdown" - this is not the usual use-case. The _first_ time C-c is pressed, the user is indicating an intent to shutdown the program - it is just "ok minio server - please stop now"; the user only wants to force shutdown in case it seems unresponsive - and often users attempt to do this by repeatedly pressing C-c. By printing the message we are g

[2017-05-16 21:21] #4236 closed, assigned to donatello

[2017-05-16 21:43] vadmeste commented on #4342
- Using readahead inside posix doesn't have any effect (obviously)
- Next step is to use it in object API handlers.

The problem with readahead is that it is creating a new goroutine with each read and we already trying to avoid that to support more concurrent connections.

[2017-05-17 04:13] #4307 closed, assigned to vadmeste

[2017-05-17 06:26] nitisht commented on #4245
@deekoder all the PRs are merged. This can be closed now.

[2017-05-17 07:18] harshavardhana commented on #4245
Closing.. as fixed upstream.

[2017-05-17 07:18] #4245 closed, assigned to nitisht

[2017-05-17 10:13] kiranshashiny opened #4358 "How to list Objects in a Bucket ?"
I was able to successfully make a bucket and put an object i.e a zip file, using the makeBucket API.

But when I try to listObjects () and get that from the bucket   I get nothing back !

## Expected Behavior

I was hoping to see the 'name', 'size', 'lastModified' and so on, when I called the 'listObjects".

## Current Behavior
Nothing is returned back , when I use the API in your documentation.

[2017-05-17 10:35] krisis commented on #4358
@kiranshashiny Could you provide the snippet of code you use to perform `listObjects` on the bucket where you uploaded your object? The above snippet uploads an object but doesn't perform `listObjects`.

[2017-05-17 10:42] kiranshashiny commented on #4358
@krisis  - done - Sorry was in the middle of edits when your note came in.

I tried listObjectV2 as well.
BTW : I am on Mac OS - Sierra.

    node -v
    v4.8.2

    $ npm list |grep minio
    ├─┬ minio@3.1.3

[2017-05-17 10:49] krisis commented on #4358
@kiranshashiny You have uploaded file into `europetrip` bucket. See below the relevant section from your snippet.

[code]

[2017-05-17 11:00] krisis commented on #4358
You can see your uploaded file in `play.minio.io` using `mc ls play/europetrip`.

[2017-05-17 11:00] kiranshashiny commented on #4358
@krisis  - thanks - I think I got it.

yes, it was initially set to europetrip, when I uploaded it -and then I think I created the 'asiatrip' as well.
My Typo !   Sorry
and Thanks.

[2017-05-17 11:01] kiranshashiny commented on #4358
Now, is there no REST APIs to PUT , GET, DELETE and so on  ?

[2017-05-17 11:03] krisis commented on #4358
@kiranshashiny Could you close this issue? You can join us on https://slack.minio.io/ to know more about minio and its SDKs.

[2017-05-17 11:03] kiranshashiny commented on #4358
Thanks  @krisis  - Closing it.

[2017-05-17 11:03] #4358 closed, assigned to krisis

[2017-05-17 16:31] #4092 closed, assigned to krishnasrinivas

[2017-05-17 16:32] #4280 closed, assigned to nobody

[2017-05-17 16:33] #4284 closed, assigned to nobody

[2017-05-17 16:33] #4285 closed, assigned to nl5887

[2017-05-17 16:34] #4286 closed, assigned to nobody

[2017-05-17 16:34] #4287 closed, assigned to nl5887

[2017-05-17 16:35] #4288 closed, assigned to nl5887

[2017-05-17 17:34] #4118 closed, assigned to hackintoshrao

[2017-05-17 17:34] deekoder opened #4359 "Create exhaustive unit tests for erasure code"

[2017-05-17 21:44] emresaracoglu commented on #4356
I think this question is simple for you;
I already installed it with the Docker but I'm curious about this installation method - This is not image file or `rpm`..

[code]
How does such a file install into existence?
#
Also, I getting this error:

`Minio server is unreachable`

Colsole:
[code]
_PS: http://172.17.0.2:9000 it's not my public IP_
Where's the error?

#Update
When I close Putty Shell, t

[2017-05-17 22:06] harshavardhana commented on #4356
First you need to do these things

- If you are running docker you don't need to download minio binary again.
- if you are running docker you should run with `docker run -d` to deamonize it so that when you kill your terminal it stays there.
- To download the binary the right link is https://dl.minio.io/server/minio/release/linux-amd64/minio - this is referenced already at multiple places in our R

[2017-05-17 23:07] deekoder commented on #3943
Fix fails on my safari. zip extension was not added and the downloaded file (unknown) on double click does not unzip automatically. The workaround was to rename "unknown" to "unknown.zip" then resolves this issue.

[2017-05-18 00:22] deekoder commented on #3966
Can this be closed now?

[2017-05-18 00:25] harshavardhana commented on #3966
Its not finished yet. @deekoder

[2017-05-18 00:52] nitisht opened #4362 "Add a generic waiting tool"
## Expected Behavior
Golang based waiting tool that takes `timeout` and `hosts` as parameter and waits till all the hosts are up (if timeout is provided and nodes are not up by the timeout, it sends `exit status 1`).

It should have a display node details and progress bar during the waiting.

## Current Behavior
A shell script is used to do this currently: https://github.com/minio/minio/blob/maste

[2017-05-18 01:05] nitisht opened #4363 "Changes in Mesos universe package"
## Expected Behavior
Minimize user inputs while deploying Mesos universe package.

## Current Behavior
Mesos universe package currently asks user to provide `id`, `cpu`, `mem`, `config-dir` name and size.

## Possible Solution
Update the Mesos universe package.
- `id` can be assigned automatically. User should not be expected to assign and remember all the unique names.
- `cpu`, `mem` can be taken

[2017-05-18 03:57] hackintoshrao commented on #4363
@krisis , any thoughts on this?

[2017-05-18 04:03] hackintoshrao commented on #3966
@krisis has sent a proposal, waiting response from Mesosphere team.

[2017-05-18 04:32] rushenn commented on #3943
@deekoder What is the version of your Safari?

[2017-05-18 04:48] #3943 closed, assigned to poornas, rushenn

[2017-05-18 04:48] harshavardhana commented on #3943
Fixed by #4357

[2017-05-18 05:04] krisis commented on #4363
@hackintoshrao I can take this up. I already have a [PR](https://github.com/mesosphere/universe/pull/1169#issuecomment-301235857) under review addressing some aspects described here.

[2017-05-18 05:07] deekoder commented on #4363
ok i will reassign

[2017-05-18 05:26] krisis commented on #4363
I shall explore if `MARATHON_APP_ID` can be assigned as service `id` without user having to specify it during installation.

`cpu` and `mem` already have default values.

There is a PR fixing this under review - <https://github.com/mesosphere/universe/pull/1169>

I will explore provisions that are available in DC/OS to use ZooKeeper for Minio server configuration as well.

[2017-05-18 07:31] donatello commented on #4141
@deekoder This should be in the UX and Admin API milestone.

[2017-05-18 09:48] Alexander-He opened #4364 "How can I extend the storage size after deployment?"
I have a situation, when I deploy my minio server, I don't know what storage size I need.

How can I extend the storage size after deployment?

## Your Environment

* Version used (`minio version`):
Version: 2017-03-16T21:50:32Z
Release-Tag: RELEASE.2017-03-16T21-50-32Z
Commit-ID: 5311eb22fd681a8cd4a46e2a872d46c2352c64e8
* Server type and version:
Deploy type : 4 minio nodes share 1 drive, 4 minio

[2017-05-18 10:19] krisis commented on #4363
There is no ready-made solution available to automatically set a unique `id` for each service instance. User should provide this during installation, either via command line or GUI.
(Correction: It should MESOS_TASK_ID instead of MARATHON_APP_ID.)

There is an open issue tracking a similar feature request here - <https://jira.mesosphere.com/browse/MARATHON-3602>. We shall continue to ask user for

[2017-05-18 12:36] krisis commented on #4363
DC/OS packages aspire to be single-click installs. This is made possible by providing default values for all configuration parameters. In Minio package, we have the following input parameters.
- `name`
- `data-size`
- `service-port`

Deploying Minio package with defaults for the above parameters have some consequences.
1. Marathon enforces all service instances to have unique name. So, user will b

[2017-05-18 14:15] emanuelstanciu opened #4365 "Disable expiry date for file shares"
I can see a lot of use cases where having a forced expiry date is useful, however, I am using it for local dev work and I would like to share files permanently.
How can I disable this altogether?

Thanks,
Emanuel

[2017-05-18 14:27] krishnasrinivas commented on #4364
@Alexander-He you will have to launch a new minio instance with new storage and start using it.

[2017-05-18 14:53] krishnasrinivas opened #4366 "Need for a document explaining scaling of minio"
https://github.com/minio/minio/issues/4364

`How can I extend the storage size after deployment?` is a common question on #channel and GH issues, it will be good to have a document providing explanation.

[2017-05-18 14:57] krishnasrinivas commented on #4365
@emanuelstanciu Use bucket policies for this: https://docs.minio.io/docs/minio-client-complete-guide#policy

`mc policy download myminio/mybucket` will make the entire bucket read-only for anonymous access.

`mc policy download myminio/mybucket/prefix/` will make files in `prefix/` read-only for anonymous access.

[2017-05-18 16:59] nitisht commented on #4364
@Alexander-He Minio recommends cloud-native approach for scaling your storage infrastructure. When you run out of storage, you simply spin new Minio instance(s) per tenant. A tenant can be a user, a group of users, or any other kind of aggregation of data.

Take for example, a CCTV video storage use case. Initially you wouldn't know how much storage you possibly need to store the videos. In such c

[2017-05-18 17:08] deekoder commented on #4364
Related to #4366

[2017-05-18 17:41] fwessels opened #4367 "Investigate dynamic timeouts"
Investigate how to best adapt (global) timeouts during the course of the running of the application.

That is, based on how closely or widely a timeout is missed, either increase or decrease the initial timeout value.

[2017-05-18 18:12] krishnasrinivas commented on #4365
@emanuelstanciu let us know if you have more questions, you can also join our slack channel https://slack.minio.io

[2017-05-18 18:41] vadmeste opened #4368 "Support of IP restrictions in bucket policy conditions"
Users should be able to restrict/forbid access by ip addresses (ipv4, ipv6) using bucket policy conditions.

Spec link:
http://docs.aws.amazon.com/AmazonS3/latest/dev/example-bucket-policies.html#example-bucket-policies-use-case-3

[2017-05-18 18:43] donatello opened #4369 "[feature] Support restricting access by IP address via bucket policy"
This may be a useful feature for Minio users that S3 also supports:

http://docs.aws.amazon.com/AmazonS3/latest/dev/example-bucket-policies.html#example-bucket-policies-use-case-3

## Expected Behavior
Blacklist and whitelist of IP addresses should be possible.

## Current Behavior
Not possible currently. We support a related feature: restricting by a specific HTTP referrer: https://docs.aws.amazo

[2017-05-18 18:44] harshavardhana commented on #4368
Closing as duplicate of #4369

[2017-05-18 18:44] #4368 closed, assigned to nobody

[2017-05-18 18:46] donatello commented on #4366
@krishnasrinivas Remove extraneous `explaining` in title?

[2017-05-18 23:31] emresaracoglu commented on #4356
I see now, **thank you** for your time @harshavardhana !

[2017-05-18 23:31] #4356 closed, assigned to harshavardhana

[2017-05-18 23:49] deekoder commented on #4325
Closing this. Please reopen if you think we have not addressed the issue.

[2017-05-18 23:49] #4325 closed, assigned to harshavardhana

[2017-05-19 00:30] deekoder commented on #4365
Please reopen this issue if you think the above question is not resolved.

[2017-05-19 00:30] #4365 closed, assigned to krishnasrinivas

[2017-05-19 01:01] Alexander-He commented on #4364
@NitishT I see, this helped me, thank you very much,

[2017-05-19 01:01] #4364 closed, assigned to nitisht

[2017-05-19 01:26] nitisht opened #4371 "test: provision servers and launch Minio server and test"
## Expected Behavior
Able to execute tests, with minimal input.

- Provision infrastructure
- Launch Minio server
- Launch Mint, pointing at the new Minio server
- Save the test results on the host
- De-provision all the infrastructure and exit

## Current Behavior
No such automation

[2017-05-19 01:26] nitisht commented on #4371
@deekoder please assign this to me.

[2017-05-19 02:09] krishnasrinivas commented on #4341
@laktek code for `cache-control` was available and should already work fine, can you let us know if it does not work?

[2017-05-19 02:26] laktek commented on #4341
Thanks! Will check.

[2017-05-19 07:12] wingZero21 opened #4372 "Query on User creation for buckets"
Hi,

Do you know if its currently possible to create buckets that are also assigned to a specific user?

I am struggling to find anything that shows the ability to create users for minio.

[2017-05-19 14:32] harshavardhana commented on #4372
There is no concept of users on Minio .  There is one access and secret per server.  If you need to isolate multiple tenants you should look at https://docs.minio.io/docs/multi-tenant-minio-deployment-guide

[2017-05-19 18:12] vadmeste commented on #4354
Unable to decipher the origin of the problem yet, but I'll paste my findings:

* Listing objects does not check `format` and `version` fields of xl.json file
* xl.json should be already there, otherwise another error would be shown up (file not found)
* The following is the behavior of parseXLStat() function:
[code]
This shows that the error message, pasted by the author of this issue, can even ha

[2017-05-19 18:21] deekoder commented on #4354
@bearmoo-repo  could you help us reproduce the issue. We are not able to do root cause analysis.

[2017-05-19 18:39] harshavardhana commented on #4354
There is also a possibility that backend disk itself is corrupt in this scenario, getting kernel logs such as /var/log/kern.log or dmesg will help.

[2017-05-19 19:15] krishnasrinivas commented on #4354
@bearmoo-repo Do you know for what object this happens? if you know the object, then you can go to the backend directly and check the object's xl.json and paste the contents here.

(Along with kernel logs)

[2017-05-19 20:38] jcoetzee opened #4375 "Upload via web hangs at completion"
When uploading to a bucket via the web interface the upload hangs just before completion.

## Expected Behavior
File uploaded to bucket

## Current Behavior
1. Upload hangs at ~100%
2. Upon refreshing the page the file is not present in the bucket

![screen shot 2017-05-19 at 10 19 03 pm](https://cloud.githubusercontent.com/assets/1784961/26265468/850ca6c0-3ce1-11e7-91c4-8f070a910572.png)

## Step

[2017-05-19 21:17] deekoder commented on #4375
Can you tell us the file size? Can you share `mc ls` output on the bucket where you uploaded the object.

[2017-05-19 21:29] krishnasrinivas commented on #4223
@deekoder this issue can be closed, we will not log out the user if he changes the access/secret key.

[2017-05-19 21:50] krishnasrinivas commented on #4375
@jcoetzee it works fine for me (docker 2017-05-05T01:14:51Z) with Chrome browser. What browser are you using?

[2017-05-20 01:30] fwessels commented on #4354
We need some more info to be able to figure out what is going on -- waiting for further info...

[2017-05-20 06:43] nitisht opened #4378 "Minio server crashed with 1000 users concurrent access, cache on"
## Expected Behavior
Server should not crash with cache on.

## Current Behavior
Minio server crashed, while running 1000 or more concurrent user access and cache on.
It works with 500 users concurrent access.

[code]

## Steps to Reproduce (for bugs)
Run Minio server with

- 1000 concurrent requests
- 1 Bucket
- 1000 objects, 5 MB each

[code]

## Context
Load testing Minio server

## Your Enviro

[2017-05-20 07:18] harshavardhana commented on #4378
Is this the whole stack trace? @NitishT can you paste the entire stack trace?

[2017-05-20 07:51] krishnasrinivas commented on #4290
We discussed about doing this differently - i.e ETag need not be md5sum of the body. We'll generate a random ETag and use that as the blockID

[2017-05-20 07:57] harshavardhana commented on #3185
PR #4377 addresses this @balamurugana , unblocking this issue PR has been sent @deekoder

[2017-05-20 09:43] balamurugana commented on #3185
@harshavardhana It would be helpful how `lsync` is solving the problem.

[2017-05-20 10:25] harshavardhana commented on #3185
Lsync is solving by adding a timeout for sync and returning error if it should timeout with in the defined interval. This basically is to solve long running Locks to not stay there long and also be able to send back a proper error to the client in case of quorum failure where as in current code in dsync it retries infinitely. A relevant PR for https://github.com/minio/dsync/pull/49 has also been s

[2017-05-20 11:51] balamurugana commented on #3185
@harshavardhana I believe lock is created and sent within the `timeout` ie after timeout there is no lock created at all for this request.

@fwessels It would be great to get info of the design and implementation of `lsync` before reading the PR.

[2017-05-20 16:55] nitisht commented on #4378
Full trace

[code]

[2017-05-20 16:57] nitisht commented on #4378
Note: cache was not turned off

[2017-05-20 17:10] nitisht commented on #4378
Not reproducible with with cache off. It happens only when cache is on.

[2017-05-20 18:09] vadmeste commented on #4322
This is fixed now and can be closed.

[2017-05-20 18:14] fwessels commented on #3185
@balamurugana that is correct, if a lock can be obtained before the timeout it is granted as normal and it is signaled back to the user that a lock was obtained (and the client needs to unlock it at a later stage).
When more time has elapsed than the timeout duration (and no lock has been obtained), then it will return and signal back that no lock was acquired. In this case the client should not p

[2017-05-20 18:34] harshavardhana commented on #4322
Fixed in feature-gcs branch.

[2017-05-20 18:34] #4322 closed, assigned to vadmeste

[2017-05-20 18:36] vadmeste opened #4380 "[gateway-gcs] Prefix in listing incomplete uploads doesn't have effect"
## Expected Behavior
To be able to list all incomplete uploads having some prefix.

## Current Behavior
Listing incomplete uploads always list all uploads.

## Possible Solution
No idea

## Steps to Reproduce (for bugs)
1.
[code]

The above code always shows all incomplete uploads disregarding any provided prefix.

## Context
Testing GCS.

## Your Environment
All

[2017-05-21 00:50] andrewklau opened #4381 "Drop root user in Docker image"
I would like to be able to drop the root user in the Minio docker image

## Expected Behavior
[code]

## Current Behavior
Permission denied on the volume /export

It is not possible to change the permissions on an existing volume except in the base image and at run time.

## Possible Solution

There are a few solutions:

- Add a minio user and chown the volume:
https://github.com/docker-library/re

[2017-05-21 01:12] balamurugana commented on #3185
@fwessels thanks.  Do we have `lsync` design/implementation doc?

[2017-05-21 03:49] pascalandy commented on #4072
Absolute must for me :)

[2017-05-21 16:58] stephenreay opened #4382 "Can't explicitly tell minio to serve on 0.0.0.0"
Passing `--address 0.0.0.0:9000` to the `serve` command causes Minio to exit with an error:

## Expected Behaviour
Minio should bind on all local addresses, as it does when no `--address` is specified or `--address :port` is specified.

## Current Behaviour
Minio refuses to start with an `--address` flag using `0.0.0.0` for the IP portion. It will error with:

## Steps to Reproduce (for bugs)

Run

[2017-05-21 18:44] harshavardhana commented on #4382
Thanks for opening the bug - surely looks like a newly introduced bug, its a regression @stephenreay

[2017-05-21 20:27] fwessels commented on #3185
@balamurugana we went over the design last week with PA team. Note that the (eventual) implementation is rather straightforward (and loosely based on dsync lock loop).
It essentially comes down to trying to get the (single) write lock or acquire a read lock.
The test suite is analogous to sync and dsync.

[2017-05-22 00:58] balamurugana commented on #4382
@stephenreay I am sure the case `--address=0.0.0.0:9000` is missed out in the validation? However `--address=:9000` should work with the same behavior.  Does it work for you?

[2017-05-22 01:29] balamurugana opened #4383 "recursive remove objects expects Content-MD5 with valid SHA256 hash sent."
`Content-MD5` might not be sent when a valid SHA-256 hash is sent on requests.  recursive remove objects returns `MissingContentMD5` which is wrong in this case.

## Expected Behavior

It should work

## Current Behavior

returns error `MissingContentMD5`

## Possible Solution

## Steps to Reproduce (for bugs)
1. Run minio-java functional test

## Context

## Your Environment

* Version used (`min

[2017-05-22 01:31] harshavardhana commented on #4383
http://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html

According to the spec its required

```Finally, the Content-MD5 header is required for all Multi-Object Delete requests. Amazon S3 uses the header value to ensure that your request body has not be altered in transit.```

http://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html#multiobjectdeleteapi-requests

[2017-05-22 01:53] harshavardhana commented on #4383
There is a bug in minio-java with HTTPS POST request is setting the Content-Md5 properly

[code]

This is why it works with S3 and play.minio.io as @vadmeste mentioned. Whereas with HTTP request doesn't set the value at all.

[code]

Now if i remove setting Content-Md5 for AWS S3, S3 is returning a proper error here.

[code]

So it is a bug in minio-java, please close this bug and re-open the bug

[2017-05-22 02:04] balamurugana commented on #4383
Irrespective of spec mandates `Content-MD5`, the test passes with Amazon AWS S3 ie without `Content-MD5` header

[2017-05-22 02:07] harshavardhana commented on #4383
How does the test pass? i just showed you it doesn't. @balamurugana

[2017-05-22 02:07] harshavardhana commented on #4383
It works with AWS S3 because we are setting Content-Md5 see the trace output. @balamurugana

[2017-05-22 02:15] balamurugana commented on #4383
I see below case is hit for Amazon AWS S3 and play.minio.io
[code]

The logic I was told below is wrong in some cases like multiobject delete
[code]

This is not minio server issue.

[2017-05-22 02:15] #4383 closed, assigned to nobody

[2017-05-22 02:39] stephenreay commented on #4382
Yes, omitting the ip has the correct behaviour.

[2017-05-22 05:32] krisis commented on #4363
@deekoder could we add blocked label to this issue? We need to discuss how to expose networking configuration options to the user. This falls under installation UX.

[2017-05-22 09:56] krisis opened #4387 "[Feat] Add Minio provider for travis-ci uploader tool"
Add Minio as a target for [travis-ci's uploader tool](https://github.com/travis-ci/artifacts). travis-ci uploader already supports AWS S3 as a target.

## Expected Behavior

`artifacts upload` should work for a Minio server.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment nam

[2017-05-22 16:25] hackintoshrao commented on #4378
@NitishT : How did you generate the load ?

[2017-05-22 16:27] hackintoshrao commented on #4380
We need to add this to functional test cases.

[2017-05-22 16:31] hackintoshrao commented on #4291
Rough working snippet https://gist.github.com/hackintoshrao/1c502d09075b87fc92fefef026dbf88a which can be plugged to return profiles, number of goroutines, stack trace, etc. Starting to test using this.  Will be working on identifying functions with more allocations, and writing tests and benchmarks for those functions and works towards reducing the number of allocations.

[2017-05-22 16:45] deekoder opened #4388 "Replace pkg/quick with gjson library"
- Also review sync and cksum support.

[2017-05-22 17:02] deekoder opened #4389 "Replace in memory caching with pool based caching."

[2017-05-22 17:04] krishnasrinivas commented on #4389
https://github.com/allegro/bigcache
https://github.com/coocood/freecache

[2017-05-22 18:35] harshavardhana commented on #4380
Gateway has no functional tests on minio server side, this needs to go into mint

[2017-05-22 18:54] deekoder opened #4390 "minio gateway help instead of error"
[code]

[2017-05-22 19:00] deekoder commented on #4390
Same thing for this :
[code]
shows the above error. Instead say project id is expected in a better way.   FATA[0000] etc should go.

[2017-05-22 19:18] deekoder opened #4391 "No indication to user that they need to login to gcs"
There is no way to know for the user that they have to do
[code]
## Expected Behavior
 Error message should have above command to reauth or gcloud init if the administrator is setting minio with gcs for the first time.

## Current Behavior
fails without accurate error message

## Possible Solution
Have custom error messages for GCS or the usability is significantly harder to figure out.

## Steps

[2017-05-22 21:43] deekoder opened #4392 "Add minio-dotnet library to minio startup message."
[code]

## Expected Behavior
should show all avail sdks

## Current Behavior
 missing dotnet sdk

## Possible Solution
 add it to the print msg

## Steps to Reproduce (for bugs)

1. start minio server

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link t

[2017-05-22 22:13] deekoder opened #4393 "Confusing message about making bucket."
[code]
Also confirmed that i have permissions to create bucket on gcs endpoint directly. Below is the error being shown on the minio server.

[code]
however mc cp works. Verified i have storage admin perms on gcs.

[code]

[code]
## Expected Behavior
Clearer messaging on what the result of the operation is.

## Current Behavior
 1. Error with success message is not helpful
 2. Unclear why the buck

[2017-05-22 22:27] harshavardhana commented on #4393
`mc mb` is treating both as distinct arguments here.. Situations like this for example

[code]

Now `mc mb` works transparently on both i.e S3 and also filesystem.

What happened in your scenario is `mygcs` was already an alias so it would show a message to be an error that you didn't provide a bucket name.  Second argument has no alias present so it would have created a directory locally as `myde

[2017-05-22 22:42] #4289 closed, assigned to krishnasrinivas

[2017-05-22 22:42] #4290 closed, assigned to krishnasrinivas

[2017-05-22 22:47] deekoder commented on #4393
Root cause : `./minio gateway gcs projectid=projectgcstest1`
started gcs like this. It should error if this is not the right way to start gcs. Infact mc cp succeeds. Restarting as ` ./minio gateway gcs projectgcstest1` makes mc ls and mc mb work.
Thanks @poornas for finding the root cause.

[2017-05-23 00:53] timchenxiaoyu opened #4394 "docs support"
I don‘t know how minio work，how to storage data，the  arch of minio ,the component how to communicate ,and so on .some detail about the design.

[2017-05-23 01:02] timchenxiaoyu commented on #4394
maybe need developer docs ,make more people to join this

[2017-05-23 01:33] timchenxiaoyu commented on #4394
how to storage metadata? detail about Erasure Code

[2017-05-23 02:18] krishnasrinivas opened #4395 "[gateway-gcs] parallel multipart uploads will cause corruption"
[code]

Since ETag is not part of the multipart-key it will cause corruption when parallel multipart uploads are performed.

To fix it we can follow similar style to what is done in gateway-azure.go

[2017-05-23 02:32] harshavardhana opened #4396 "[gateway-gcs] GCS doesn't ask for projectID when not provided"
## Expected Behavior
Error message should be gcs specific, there are no credentials provided with GCS.

## Current Behavior

Asks for users to set `Access and secret keys are mandatory to run Minio gateway server`

[code]

## Possible Solution
Fix the error message.

## Steps to Reproduce (for bugs)
Just type `gcs` without arguments.
[code]

## Context
GCS testing.

## Your Environment
[code]

[2017-05-23 02:35] poornas opened #4397 "[gateway-gcs] Empty ETag returned during a Put object call"
## Expected Behavior

Running a gcs server locally  and uploading a  78.23Mb file to a bucket using python SDK. Expect script to complete successfully.
## Current Behavior

python script crashes because ETag returned by gcs gateway is empty. minio-python sdk expects a nonempty ETag in CompleteMultipartUpload method. Note that the file upload works ok with mc command line.
## Possible Solution

No

[2017-05-23 02:36] harshavardhana commented on #4397
This should be fixed in the latest `feature-gcs`

[2017-05-23 02:49] seafoodbuffet opened #4398 "Taking Backups of MinIO"
I want to acknowledge that this already closed issue (https://github.com/minio/minio/issues/4135) asked the same question, but I wanted to expand on this topic and go more in-depth.

All of the documentation links that @harshavardhana suggested seem to be about backing up data INTO minio. While I understand the general point that you could use those tools to backup minio's data directory into anot

[2017-05-23 02:50] deekoder commented on #4394
hi tim all these details are available at https://docs.minio.io

[2017-05-23 03:02] timchenxiaoyu commented on #4394
I know the  https://docs.minio.io,but it is not incomplete ,we need more detail about minio ,not how to use it

[2017-05-23 03:40] krishnasrinivas opened #4400 "[gateway-gcs] PutObjectPart returns zero modified timestamp"
PutObjectPart returns:

[code]

  "LastModified": "0001-01-01T00:00:00Z", <---- zero

[2017-05-23 03:50] krishnasrinivas opened #4401 "[gateway-gcs] ListObjectParts returns empty struct"
[code]

Uploaded 5 parts

[code]

ListObjectParts does not return anytthin

[2017-05-23 08:16] hackintoshrao commented on #4287
Does this particular case/test exist in Mint ?

[2017-05-23 08:16] hackintoshrao commented on #4286
Does this particular case/test exist in Mint ?

[2017-05-23 08:16] hackintoshrao commented on #4285
Does this particular case/test exist in Mint ?

[2017-05-23 08:17] hackintoshrao commented on #4284
Does this particular case/test exist in Mint ?

[2017-05-23 08:17] hackintoshrao commented on #4282
Does this particular case/test exist in Mint ?

[2017-05-23 08:47] hackintoshrao commented on #4345
@NitishT : Can you describe the the tools used to generate load? And the setup you using.

[2017-05-23 10:49] krisis commented on #4400
@krishnasrinivas did you use minio-go to reproduce this issue? It looks like minio-go's Core type doesn't extract lastModified time of an object from PutObjectPart response. The server is returning lastModifiedTime as expected. This issue can be closed.