[2019-03-06 18:28] jcostian commented on #6490
Having similar issues with minio on Docker, on ubuntu host. Using data directories instead of entire disk. After having 100k+ folders in minio and 250GB data, the minio memory consumption and CPU usage goes up, after running smoothly about 18-24 hours. And at the end minio just consumes all the memory that is left on the server (in this case it went up to about 16GB) and then stucks. Does not die,

[2019-03-06 18:33] harshavardhana commented on #6490
For the time being using entire disk is the only way to go @jcostian

[2019-03-06 19:27] jcostian commented on #6490
Ok, thanks for the quick reply.

Is there an issue open for this and a fix coming?

[2019-03-06 19:37] eco-minio commented on #7329
@Coder-212 You are using an older build, with your version I see the failure, with latest build it works.  Please upgrade and test again.

[2019-03-06 19:48] dutchhsg commented on #6490
I'm quite glad that the issue is not unique to my setup, but there is no real solution as I understand it. Minio should NOT use that much memory under any circumstances.

In my case, I just stopped using Cloudberry File Backup and used Image backup instead. Instead of 6 million files in one directory it creates a couple of files (a few big ones and incrementals every day). That is more of a workar

[2019-03-06 19:58] #7289 closed, assigned to kannappanr

[2019-03-06 20:13] jcostian commented on #6490
Does anyone know if the problem is related to the fact that one single folder contains a huge amount of (100k+) files or folders? Would the same still happen if there was a more reasonable amount of files/folders in a single folder?

[2019-03-06 20:15] harshavardhana commented on #6490
It is happening because a single folder has 100k files and folders, reasonable amount files/folders won't have this problem.

[2019-03-06 20:26] poornas commented on #7319
@nneul, I tested with a 4 node minio setup and did a recursive delete on a deeply nested dir (~ 10 level tree) of ~400000 files 26 bytes each and wasn't able to repro any hang on mc (running on the same machine). Is it possible to get the server side trace when it hangs? (You can set  MINIO_HTTP_TRACE=/tmp/outfile env variable, then start minio server). How good is your network (seems like the mc

[2019-03-06 20:32] mramato commented on #7289
Thanks again for the quick turnaround!  I'll give it a spin next release.

[2019-03-06 20:34] jcostian commented on #6490
So even using data directories instead of entire volume works, if using reasonable amount of folders/files in one folder? Just to make things clear.

Thanks!

[2019-03-06 20:35] harshavardhana commented on #6490
yes, absolutely - also fixing the original cause as well in subsequent releases.

[2019-03-06 20:42] nneul commented on #7319
All three VMs involved (srv + srv + client) were on the same vmware host, so it never even hit the physical network.

I'll see what I can do on that http trace option.

[2019-03-06 21:00] nneul commented on #7319
Here's a filtered snippet of the trace - note the time stamps between each delete. If you can send me (nneul@neulinger.org) a contact email, I'll share the actual file with you, but would rather not post full contents.

[code]

[2019-03-06 21:06] nneul commented on #7319
It looks like it may be doing a ListObjectsV1Handler-fm doing a GET of the bucket on every delete, with a prefix=<objectname> - and that operation is taking about 11 seconds.

`GET /bucket-net/?delimiter=%2F&max-keys=1000&prefix=reporting%2F00981183-0b59-4c44-b861-42746ca78117_0B0B0D4187220BC123551927419FD90E_response-details.json`

with a response:

[code]

[2019-03-06 21:46] ajaykushwah commented on #7330
@harshavardhana

Any suggestions on where the fs.json files that potentially failed rename operations files might be left sitting?

I checked under the bucket directory (/data/fst03) and under the metadata directory (/data/.minio.sys) for possibly left out files from rename failure but come up blank.

Also,  are the logs I have provided so far sufficient or do I need to upload something more?

Tha

[2019-03-06 21:56] nneul commented on #7319
I think I need to hold on this until after I can upgrade the server and client versions...

[2019-03-06 22:05] poornas commented on #7319
thanks, let us know @nneul

[2019-03-07 01:12] ebozduman commented on #7329
@Coder-212,
I also could not reproduce the issue.
Could you tell us when you test it again with the latest build?

[2019-03-07 01:56] harshavardhana commented on #7332
This is a non-issue @vadmeste if SSE-C key is provided and the object is not encrypted should throw an error as per S3 behavior.

[2019-03-07 05:31] xuancong84 opened #7335 "[faq] file and directory cannot have the same name, why?"
There exists a fundamental design flaw in the file-path naming convention for the storage.
In Linux file system, a file and a directory cannot have the same name. However, for AWS S3 bucket and S3rver (another S3 bucket emulator), this is possible.

The following operation will work in AWS-S3 and S3rver but fail in Minio due to this issue:

[code]

The last line of code will fail for Minio because

[2019-03-07 05:44] harshavardhana commented on #7335
This is not a design flaw, it is by design. Will explain in detail why we took this design decision.

[2019-03-07 05:52] xuancong84 commented on #7335
I apologize for my harsh comments. But my use case does indeed make a point. I am using Beiwe platform for a study (https://github.com/onnela-lab/beiwe-backend/wiki). For small scale testing, we do not want to use AWS S3 bucket to save cost, Minio does not work, S3rver works like a charm.

I mean you can keep your design decision in the current way, but you have to make sure the code I posted abov

[2019-03-07 09:44] nullne commented on #7150
is there any progress on this issue?

[2019-03-07 10:58] Coder-212 commented on #7329
Thank you @eco-minio
It works very well with the last version.

[2019-03-07 11:23] vadmeste commented on #7332
yes right, I checked my bash history and it turned out there was one typo in encrypt-key flag when testing against AWS S3. Sorry for the noise.

[2019-03-07 11:23] #7332 closed, assigned to nobody

[2019-03-07 11:40] MollyGu-CN commented on #7020
@harshavardhana
Same issue here.
spark-2.4.0-bin-hadoop2.7 with latest Minio version in local
`Version: 2019-02-26T19:51:46Z
Release-Tag: RELEASE.2019-02-26T19-51-46Z
Commit-ID: 78d116c487278350406e8957d7d35e47caa963d6`

`spark-shell --jars "/Users/juan/IdeaProjects/test_cos/target/testLib/hadoop-aws-2.7.7.jar,/Users/juan/IdeaProjects/test_cos/target/testLib/aws-java-sdk-1.7.4.jar,/Users/juan/Idea

[2019-03-07 14:58] kannappanr commented on #7329
@Coder-212 Closing this issue. Please feel free to reach out to us on https://slack.min.io or open new issues here for future questions.

[2019-03-07 14:58] #7329 closed, assigned to ebozduman

[2019-03-07 15:31] saviodsouza commented on #6501
Hello

I am having similar problems with the latest minio server  on a Ubuntu server and rclone 1.46.

File transfer is close to half of the smb speed even with --s3-cutoff 1G option.

Also can I request if you can tell if  minio has any forms. It would be the best place to put such questions.

[2019-03-07 15:57] thomaslange24 opened #7337 "Questions on healthcheck endpoints and http target log"
I have Problems with the healthcheck endpoints and enabling the http logging and need some more information. I started minio in distributed mode with 4 nodes.

1) According to https://github.com/minio/minio/blob/master/docs/metrics/healthcheck/README.md i should be able to access the endpoints /minio/health/live and /minio/health/ready, right? But when i try e.g. "curl http://endpoint:port/minio/h

[2019-03-07 17:15] harshavardhana commented on #6501
Join us on https://slack.min.io @saviodsouza

[2019-03-07 17:30] MikiTesi opened #7338 "Object deletion is not logged"
## Expected Behavior

I am expecting the logs to report:
1) When an object is created.
2) When an object is deleted.

## Current Behavior

No logs are produced when an object is deleted.

## Suggestions

Right now, when an object is created, this information is logged:
 _**PUT /minio/upload/test-bucket/test-file.txt**_

So when an object is deleted, it should also log something similar, possibly l

[2019-03-07 17:39] harshavardhana commented on #7338
If you want audit logs you need to set https://github.com/minio/minio/blob/master/docs/logging/README.md#audit-targets

HTTP_TRACE is meant for debugging and browser requests are not traced in the same manner as S3 API requests.

[2019-03-07 18:32] MikiTesi commented on #7338
Thank you for your reply.

As you suggested, I started my Minio container by including this variable:
 **_-e "MINIO_AUDIT_LOGGER_HTTP_ENDPOINT=http://localhost:9000/minio/logs/audit"_**

How do I access those logs now though?

[2019-03-07 18:35] harshavardhana commented on #7338
You need to setup a webhook server which can receive those events .. http://localhost:9000/minio/logs/audit this URL doesn't look like you have setup webhook and you are simply passed an arbitrary value?

[2019-03-07 18:36] harshavardhana commented on #7338
Note audit log doesn't point to Minio itself

[2019-03-07 18:39] harshavardhana commented on #7338
Additionally you can also do `mc watch` on client to look for lambda events on a bucket..

[2019-03-07 18:40] MikiTesi commented on #7338
Indeed, I simply copied and pasted it from the example here: https://github.com/minio/minio/blob/master/docs/logging/README.md#audit-targets

[2019-03-07 18:41] MikiTesi commented on #7338
Ok so I need to create a webhook server on a certain port on my localhost. Then I'll need to use its URL as the argument of **MINIO_AUDIT_LOGGER_HTTP_ENDPOINT**.

Did I understand correctly?

[2019-03-07 18:42] harshavardhana commented on #7338
Well the copy paste should say 8080 port, to indicate marginally that it's not Minio but another service. Renaming it to 9000 means you are thinking that it's pointing to Minio

[2019-03-07 18:44] harshavardhana commented on #7338
Yes that is correct, or you can use bucket notifications too - such as `mc watch` as previously mentioned.

[2019-03-07 18:44] MikiTesi commented on #7338
Unfortunately, I cannot do this, because I need to watch for the events on ALL buckets (and I don't know how many or which buckets will be created, so I don't want to have to use _mc watch_ on every single bucket).

[2019-03-07 18:44] MikiTesi commented on #7338
I had not caught this subtlety, thanks for making it clear :)

[2019-03-07 18:49] MikiTesi commented on #7338
I think it would be useful to extend the functionality of the _mc watch_ utility, so as to be able to watch all the existing buckets, instead of a specific one. I hope you will consider this in the future.

[2019-03-07 19:23] harshavardhana commented on #7150
Yes there two PRs already to address this should be merged soon.

[2019-03-07 20:34] harshavardhana commented on #7335
@xuancong84

Lets take an example of ListObjects with prefix dir1/ (where dir1/ is empty directory on object store) does not list on minio is because minio is using the file system hierarchy for storing objects whereas s3 uses a flat namespace. On s3, the prefix "dir1/" in entirety is itself just a key to the blob location, so s3 lists it as a result. From minio's perspective, ListObjects with "di

[2019-03-07 20:36] kannappanr commented on #7337
@thomaslange24 can you please try `curl -I https://play.minio.io:9000/minio/health/ready` or `curl -I https://play.minio.io:9000/minio/health/live` ? This will give you the status code. If you see the status code of `200` that means everything is good.

[2019-03-07 21:22] thomaslange24 commented on #7337
Yes, with curl -I I can see the status code 200. Also when I try it for my distributed minio setup. Thanks

And what about the http target logging?

[2019-03-07 21:24] harshavardhana commented on #7337
We don't log anything if it's not an error @thomaslange24 - we only log errors which we cannot handle. are you expecting like Apache/ Nginx like behavior here?

[2019-03-07 21:36] thomaslange24 commented on #7337
Yes, I thought it would be a bit more verbose. But if it is only about the errors that cannot be handled my confusion has resolved. Thanks again.

[2019-03-07 21:49] kannappanr commented on #7337
@thomaslange24 Closing this issue as answered. Please feel free to reach out to us if you have further questions. We are also available on slack at https://slack.min.io .

[2019-03-07 21:49] #7337 closed, assigned to nobody

[2019-03-07 22:51] adiospeds opened #7340 "Unable to delete buckets with a dot(.) in their name through GUI in federated setups"
I was able to create a bucket named `he.man` from minio GUI interface. And was also able to delete the bucket from the GUI interface. However, If I refresh the page before deleting the bucket, the bucket name changes to `man/he`. Once this happens we cannot delete the bucket ever from GUI interface and it can only be deleted from the cli.

After page refresh:
![image](https://user-images.githubuse

[2019-03-07 22:58] kannappanr commented on #7338
@MikiTesi I think there is support only for `bucket level notification` in S3. Not sure if we can add this support, but will definitely check internally and see if it can be done

[2019-03-07 23:09] kannappanr commented on #7340
@adiospeds i tried to reproduce with the steps that you provided, but was unable to reproduce the issue. i tried both the latest master and minio version `2019-01-31T00:31:19Z`.

[2019-03-07 23:33] ebozduman commented on #7340
I also couldn't reproduce the issue on my system and the only difference I see between yours and mine is in the Ubuntu/OS version.
Mine is:
[code]
OS is quite unlikely the reason why this issue happened in your case, but just wanted to let you know.

[2019-03-07 23:46] donatello commented on #7340
This is actually on a federated setup with etcd and coredns.

[2019-03-07 23:48] harshavardhana commented on #7340
We shouldn't allow bucket creates with `.` in them perhaps its a bug in federated setups.

[2019-03-08 16:59] maniker opened #7344 "Trying to create a user-policy per bucket through a backend java client? Currently I am able to create a user-policy like giving a particular user read/write access and create policy file for a specified bucket and was successfully able to test it through minio-server, and I was performing all my action through cmd!I wanted to do this through a Java-Client I looked into the Minio repository for the Java, but it didnot exactly help me a lot? can anyone provide me the sample code to create policy per user- per bucket through a backend JAVA-Client"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2019-03-08 17:22] harshavardhana commented on #7344
Can you open a proper issue, there is no reason to type everything in the title?

We will close this issue for now.. so that you resubmit properly.

[2019-03-08 17:22] #7344 closed, assigned to nobody

[2019-03-08 17:56] MikiTesi commented on #7338
Thank you. Hopefully I'll have found another solution by the time you deliver the Next Release. Anyway, I hope the feature can come in handy to other people as well.

[2019-03-08 18:19] MikiTesi commented on #7338
I eventually managed to enable audit logging, as suggested by @harshavardhana .

Though, making something out of the logs is turning out to be more complicated than expected.

For example, I was expecting a single log to be produced when an object is removed, but it actually produces four different logs (which only contain partial information and don't seem to be linked together by some sort of ID

[2019-03-08 18:27] harshavardhana commented on #7338
@MikiTesi you are seeing all the API operations being performed that is what Audit would look like. If you are only interested in seeing DELETE then it should be through bucket notifications.

[2019-03-08 18:33] MikiTesi commented on #7338
But then I'd have to manually create a new notification for every bucket that is ever created, since it's not possible to monitor all buckets with a single command. That sounds kind of impractical :/

I'll have to think this through and see what to do next.

I guess you can close the issue by now. Thanks for all the support though, I really appreciate it :)

[2019-03-08 20:42] jinzinna opened #7346 "Unable to heal when distributed minio volumes are on root partitions"
I have a distributed cluster with 4 nodes.  After a node was taken out of service and had its volume wiped, I am unable to heal once the node is available again.

## Expected Behavior
"mc admin heal {cluster}" should re-establish the .minio.sys directory on the node that was wiped, make the disk available, and bring the cluster back to full operation.

## Current Behavior
After the node is replace

[2019-03-08 22:17] maniker opened #7347 "Trying to create a user-policy per bucket through a backend Java-client, (needed any working sample pesudo-codebase)"
Trying to create a user-policy per bucket through a backend Java-client, (needed any working  sample pesudo-codebase)

## Expected Behavior
I should be able to give a user with a read/write policy for a bucket and different accessess to different users on different buckets through a backend java client.

## Current Behavior
I am successfully able to create users and policys on diff buckets by givi

[2019-03-08 22:20] kannappanr commented on #7347
@maniker Thanks for filing this issue. Currently, only `s3` APIs are exposed in SDKs other than `minio-go`. Will check internally on this request and update you.

[2019-03-08 22:51] adiospeds commented on #4124
Even Quobyte supports this

[2019-03-09 01:44] kannappanr commented on #7346
@jinzinna Can you please provide the parameters you used to start `minio` on all the nodes? Also, can you provide the parameters before and after replace disks on the node that is not healing now?

[2019-03-09 10:34] timbuchwaldt opened #7349 "STS Policy"
The STS API is a great addition and gets Minio really close to what I need. It sadly lacks the support for attaching a temporary policy to a temporary STS credential. We use this heavily on S3 to provide endusers S3 access to a big bucket and would love to replace that with minio.

## Expected Behavior
STS AssumeRole allows specifying a policy that allows access to certain "folders" in a bucket.

[2019-03-09 16:12] harshavardhana commented on #7349
Currently STS inherits the policy for the user which you are trying to provide access, so you can add such a policy and create a user.

Then generate temp credentials, the policy is automatically attached to those creds.

Extra policy is needed only if you want to further restrict the temp creds. Is this what you are looking for ?

[2019-03-10 05:36] MOZGIII opened #7350 "Use execve for restart or disallow Minio restart admin command per deployment"
I'd like to have an option to disable the ability to restart Minio via the admin API, or make the restart use `execve` directly without doing a `fork` (currently it uses `exec.Start`, which does a usual `fork+exec` under the hood).

Rationale is when Minio is deployed under systemd with `Type=simple` and auto-restart enabled at the systemd level, when minio restarts itself the system can end up wi

[2019-03-10 06:23] harshavardhana commented on #7350
Thanks this makes sense, we will do it using the execve style instead.

[2019-03-10 16:38] neben commented on #7289
This does solve the issue in Chrome, however, it still breaks Firefox. Firefox does not support wildcard values for `access-control-expose-headers`, and thus does not give access to the `ETAG` value of the response (Firefox [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1309358)). It would be great if you could revert to the old behaviour and list allowed headers explicitly instead of the wild

[2019-03-10 16:50] mhabedinpour commented on #6995
We also have the same problem.
All Minio pods get stuck in a loop trying to resolve A record of another Minio pod which is pending (Because its host is down).
Since the pod is pending, DNS server doesn't have its IP address and returns an NXDOMAIN error, Then Minio tries to resolve it again and it will enter the loop.
We solved this by adding a custom A record for the pending pod in Core DNS, afte

[2019-03-11 09:39] adiospeds commented on #7340
But aws s3 protocol allows creation of such buckets. I think the minio GUI needs a fix as a long term solution

[2019-03-11 11:24] vadmeste commented on #7350
A similar issue is with Docker. Currently, `mc admin restart` a Minio docker instance will kill the instance and not restart it, because it looks like Docker monitors the pid.

[2019-03-11 11:28] chernykhse commented on #7273
up

[2019-03-11 11:51] MOZGIII commented on #7350
Docker is slightly different: it has a root - aka "init" - process that, if terminated, causes the whole container to be removes - which will cause force termination of all other processes in the said container. This could be solved by using an dedicated in-container init (something like `tini`) - and that would even be a valid/proper soplution to that docker-specific problem. But `execve` should

[2019-03-11 12:58] jinzinna commented on #7346
@kannappanr I started minio on all 4 servers with this command:
minio server http://10.2.11.65:9000/data http://10.2.11.66:9000/data http://10.2.11.67:9000/data http://10.2.11.68:9000/data

Earlier I had been starting minio on all servers with this command:
minio server http://10.2.11.65/data http://10.2.11.66/data http://10.2.11.67/data http://10.2.11.68/data

After wiping the /data directory on

[2019-03-11 13:42] harshavardhana commented on #7273
@chernykhse we cannot reproduce this - I don't know what is going on in your environment.

[2019-03-11 14:45] adiospeds opened #7352 "Heal not working on nginx endpoint in federated clusters"
I have my nginx server_name directive named as testing.s3.xyz.com

I used the command
`mc config host add test3 http://testing.s3.xyz.com miniokey miniosecret --api S3v2`
to add a target to `mc` command.

`mc admin info test3` gives me the status output for all servers which confirms the working of target.
However, running heal on the TARGET `test3` gives me this following error.

[code]

[2019-03-11 14:58] harshavardhana commented on #7340
That I am aware but it can get tricky for DNS record updates when used with etcd and coreDNS. So a bucket with `.` or without wouldn't really add much benefit unless its a specific use case.

The problem is the conversion of sub-sub-domains but was able to fix it anyways...

[2019-03-11 15:07] harshavardhana commented on #7352
This is expected you need to reach out to a specific endpoint to keep the healing status from missing the token. This is being fixed as I write this.

[2019-03-11 16:41] canadiannomad commented on #6310
I'm still seeing this in minio/minio:latest from today.
The bucket gets created, but terraform fails with the above error:

`* aws_s3_bucket.bucket: "example": NotImplemented: A header you provided implies functionality that is not implemented
	status code: 501, request id: , host id: `

Removing tags solved it.

[2019-03-11 17:48] kannappanr commented on #6310
@canadiannomad What `tags` are you talking about?

[2019-03-11 17:51] ebozduman commented on #6310
@canadiannomad,

Could you please also provide the reproduction steps in detail?

and the versions:
[code]

[2019-03-11 18:16] #7335 closed, assigned to nobody

[2019-03-11 18:18] harshavardhana commented on #7323
Closing this as non-Minio issue @eleaner - feel free to re-open if needed.

[2019-03-11 18:18] #7323 closed, assigned to nobody

[2019-03-11 19:31] eco-minio commented on #7346
@jinzinna I tested this, it is working fine in my environment, the only major difference is I am not running haproxy.  Can you provide two things?

1) Your haproxy config
2) The output of `mc admin heal -r --json devcluster`

Aside from that, can you make sure that SElinux is allowing access to the port and that no firewall rule exists on the reconfigured node? (If I understood properly you just w

[2019-03-11 20:48] jinzinna commented on #7346
@eco-minio I verified the following:
selinuxenabled returns 1, so no SELinux rules
From another server, I can open port 9000 to each node in the cluster (good call, the server was reimaged)

Attached below are the haproxy.cfg as well as the output of the heal command.

[haproxy.txt](https://github.com/minio/minio/files/2954180/haproxy.txt)

[output_json.txt](https://github.com/minio/minio/files/29

[2019-03-11 22:12] kannappanr commented on #7347
@maniker, checked internally. The suggested way to create users and policy is to actually wrap `mc` and use it in `Java` code. `mc` uses `minio-go` and is actively maintained as far as `admin` commands and `user` and `policy` sub-commands are concerned. The only requirement is that you will have to have the `mc` binary.

Will provide a wrapper code that can used in your application in a little whi

[2019-03-11 22:12] eco-minio commented on #7346
@jinzinna This looks like a bug that affects heal when a policy is applied to a bucket (https://github.com/minio/minio/pull/7208). After applying a policy I was able to reproduce the issue with the version you are using, upgrading to latest (RELEASE.2019-03-06T22-47-10Z) fixed the issue on my side, can you update an try running a recursive heal again?

[2019-03-11 22:18] kannappanr commented on #7338
closing this issue based on the above comments. Please feel free to reach out to us if you have further questions.

[2019-03-11 22:18] #7338 closed, assigned to nobody

[2019-03-11 22:23] kannappanr commented on #7349
@timbuchwaldt Can you please respond to the question from @harshavardhana

[2019-03-12 01:51] kaankabalak commented on #4638
This was also reported recently on the community Slack channel. We might want to investigate if there is an alternative way to fix this issue.

[2019-03-12 02:35] xuancong84 commented on #7335
Thank you very much @harshavardhana for your very detailed explanation! I really appreciate your effort!
I completely understand your design rationale, however, now I do need to:
[code]
and
[code]
But because of your design architecture, this does not work. What is even worse is that it causes Minio to stuck for several seconds before popping out the access-denied exception. Thus, I cannot use Min

[2019-03-12 12:56] jinzinna commented on #7346
@eco-minio I stopped minio on all 4 nodes, upgraded all 4 nodes to 2019-03-06T22:47:10Z, and restarted minio.  I still see the same behavior of the replaced node's disk not coming online, and not getting a .minio.sys directory after running a heal.

heal output is substantially the same, but attached below.

[output_json.txt](https://github.com/minio/minio/files/2956893/output_json.txt)

[2019-03-12 13:06] jinzinna commented on #7346
@eco-minio, in case this detail helps, the 3 unaffected servers at start time all report an error regarding the disk of the replaced node being unformatted:

Error: unformatted disk found
endpoint=http://10.2.11.68:9000/data
1: cmd/prepare-storage.go:47:cmd.glob..func16.1()
2: cmd/xl-sets.go:211:cmd.(*xlSets).connectDisks()
3: cmd/xl-sets.go:242:cmd.(*xlSets).monitorAndConnectEndpoints()

[2019-03-12 13:41] Coder-212 opened #7357 "TLS: no cipher suite supported by both client and server."
I installed a minio server with https in windows server 2012 R2, via my post windows 10 I can use the GUI and the dotnet client to upload documents.
On the other hand, when I go on a windows server 2012 R2 I cannot connect to the minio server and I receive the following exception on my DotNet application:

[ Error occurred when uploading file: Unsuccessful response from server without XML error: T

[2019-03-12 15:55] kannappanr commented on #7357
@Coder-212 Can you please take a look at https://github.com/minio/minio/issues/6611

[2019-03-12 18:27] krishnasrinivas commented on #7346
@jinzinna can you give output of the following commands on the affected server:
stat /
stat /data

[2019-03-12 19:17] jinzinna commented on #7346
[root@minio-srvr-68 minio]# stat /
  File: ‘/’
  Size: 236       	Blocks: 0          IO Block: 4096   directory
Device: fd00h/64768d	Inode: 64          Links: 18
Access: (0555/dr-xr-xr-x)  Uid: (    0/    root)   Gid: (    0/    root)
Access: 2019-03-11 16:47:15.860000000 -0400
Modify: 2019-03-08 14:37:07.135275230 -0500
Change: 2019-03-08 14:37:07.135275230 -0500
 Birth: -

[root@minio-srvr-68 mi

[2019-03-12 19:45] kannappanr commented on #7346
@jinzinna I have a PR to fix this issue. We have code to not heal `format.json` if it exists on the `root` disk. This is to stop data from being created on root disks, even if the actual disks are not mounted at that mount point.

The PR will check if all the disks used here are root disks, then it will assume that this is a test setup and allow you to heal.

We have tried it out locally and made

[2019-03-12 20:13] jinzinna commented on #7346
@kannappanr yes I'd be happy to test it out.

[2019-03-12 20:29] kannappanr commented on #7346
@jinzinna Just in case you want to use a pre-built binary, I have it on play. You can download it using the following command

[code]

[2019-03-12 20:43] jinzinna commented on #7346
Problem solved.

FWIW, while I can understand the reasoning for not sending a bunch of data to a root partition, it is worth noting in the quick-start that distributed heal won't work if some of the volumes are on root.

Thank you everyone who contributes to this very cool product!

[2019-03-12 20:43] AlexNk commented on #6501
Same problem with the default configuration, minio version 2019-03-06T22:47:10Z and Boto3 client library. But only when upload a file into a subdirectory. Flat file structure works fast.

Update: It appears that the problem in my case was in the incorrect or incorrectly used client library. Please ignore my comment.

[2019-03-12 20:45] kannappanr commented on #7346
@jinzinna Thanks for verifying the fix. Will add the information about root partition and root disk to our documentation. This issue will be closed when we merge the PR.

[2019-03-12 23:25] harshavardhana opened #7359 "Crash reported in net/http request"
** not using the template **

[code]

[2019-03-12 23:31] harshavardhana commented on #7359
The crash is here

[code]

[2019-03-12 23:47] #7346 closed, assigned to eco-minio

[2019-03-13 00:23] kannappanr commented on #7324
ping @nikitadm

[2019-03-13 00:57] #7340 closed, assigned to harshavardhana

[2019-03-13 02:22] lf1029698952 commented on #5225
I have the same issue, when I set minio/bucket policy public, I can get bucket object but cat't get bucket object by curl or wget because the server return 403
[code]

[2019-03-13 02:44] harshavardhana commented on #5225
You cannot use /minio it's meant for webui access only, refer to buckets as http://endpoint/bucketName instead

[2019-03-13 04:25] saviodsouza commented on #6501
What do you mean by flat file structure

On Wed 13 Mar, 2019, 2:13 AM Alexander, <notifications@github.com> wrote:

[2019-03-13 06:15] archenroot commented on #3536
@harshavardhana - can there be something like check implemented that the written data has been written, so we can consider this durable, or there are no plans about it ... aka by design ?

[2019-03-13 07:10] harshavardhana commented on #3536
We have long implemented durability guarantees in Minio @archenroot @uroni

- `xl.json` file is always written in the synchronous mode by default.
- individual shards are written in the synchronous mode when `MINIO_DRIVE_SYNC=on`  environment is set.

[2019-03-13 07:39] archenroot commented on #3536
@harshavardhana  - thx, just red some review (maybe 1 year old somewhere on reddit) where guys stated, don't use minio in favour of CEPH and others...:
https://news.ycombinator.com/item?id=16626993

So just wanted to double check as I am going to utilize Minio on my new project as RAW storage from which we can replay.

[2019-03-13 11:00] uroni commented on #3536
Thanks for `MINIO_DRIVE_SYNC`. I mounted the whole partition with `-o sync` when I used it, that should work as well.

It would be great, if the sync behaviour would be the default, because that is what people expect coming from AWS S3 etc.

[2019-03-13 16:46] harshavardhana commented on #3536
Even without sync, those guarantees are already there.  Minio writes erasure coding as the stream is written to disk without staging unlike other vendors. AWS S3 is eventually consistent for rewrites, Minio is strictly consistent for all PUTs. The durability guarantee is as close as your XFS behavior.

Sync is useful mainly when lots of small block I/O is being performed on XFS, Minio writes in la

[2019-03-13 17:31] uroni commented on #3536
Sorry, there are a lot of conceptual issues with your post. Maybe I also misunderstood you?

I did not look into the erasure coding storage. Maybe minio is doing something different there? I'd guess most people use it with a single file system, but you probably have more data there.

Despite the title, this issue is mainly about durability. I.e., what happens if I upload some data, I get an OK bac

[2019-03-13 20:07] panzerdev opened #7362 "Event notification payload for Redis in access format"
https://github.com/minio/minio/blob/13c3b8afe236eaf04c2797b2cd23cc0ab37af03a/pkg/event/target/redis.go#L101

This is the current type the json payload is right now. This is being put into an array into Redis. IMO this is not very nice to parse and handle.
[code]

After parsing that back into `[]interface{}` one has to iterate over the array and do type checks with reflection to find out if it's th

[2019-03-13 20:09] harshavardhana commented on #7362
Definitely we would love to see a PR @panzerdev

[2019-03-13 20:13] panzerdev commented on #7362
@harshavardhana Great to hear. What version would you prefer?

a) just `event.Event`
b) the `EventWrapper`

[2019-03-14 00:06] harshavardhana commented on #7362
To avoid breakage we can keep EventWrapper, we can keep this an anonymous struct{}

[2019-03-14 00:08] harshavardhana commented on #7357
@Coder-212 you should use ECDSA certs instead of RSA which are not supported due to TLS vulnerabilities.

[2019-03-14 00:08] harshavardhana commented on #7271
@leshik ^^

[2019-03-14 00:09] harshavardhana commented on #7264
Closing this after confirmation on slack... Closing this issue here.

[2019-03-14 00:09] #7264 closed, assigned to harshavardhana

[2019-03-14 00:10] harshavardhana commented on #7261
yes you can

[code]

and access your clients using `external-ip` pointing to `mc ls`.

[code]

[2019-03-14 00:12] harshavardhana commented on #7261
Can you provide the output of `fio` with random I/O across all your disks?

[code]

[2019-03-14 01:10] leshik commented on #7271
Sorry, this issue is not of high priority to me thus I had no time yet to reproduce it in compose. Maybe someday later...

[2019-03-14 01:47] wlan0 commented on #6995
@zieg8301 this is happening because when the pods go down and come back, they do not get the same IP address, and so when they try to join an existing cluster, they have new IPs. Minio recognizes these IPs as unknown.

Can you share your deployment yaml? Are you using statefulsets

[2019-03-14 02:21] stokowski commented on #7261
Hi,

I've changed my setup and nodes - SATA to SAS, more cpu etc. Currently I'm mirroring content. When I will be able I will put here new set of tests and results.

[2019-03-14 03:36] harshavardhana commented on #7271
Then perhaps let's close this and move forward @leshik , as I have no way to reproduce this right now.

[2019-03-14 03:40] leshik commented on #7271
@harshavardhana ok, I'll reopen this after I create some reproducible environment.

[2019-03-14 03:40] #7271 closed, assigned to harshavardhana

[2019-03-14 03:47] harshavardhana commented on #7271
Thanks @leshik

[2019-03-14 04:20] zieg8301 commented on #6995
We are not using statefulsets. We are using six single-pod replicasets. The kubernetes platform we are on doesn't support statefulsets (an administrative decision, not a technical limitation). Deployment: https://gist.github.com/zieg8301/434ed549769f9be7f77651034d7277f0

Our situation will allow the new pods to rejoin the cluster, as long as all the other pods are running as well. If one of the si

[2019-03-14 06:30] JetChars opened #7365 "[feature] [logging] add support for multiple targets"
## Context

I've noticed that logger provided `Target` interface to support more logger targets other than `console` or `http`; but when I dig into it, only `LogIf()` method iterating over all targets to send messages. So, do we have a plan to enable more logger methods to utilize multiple targets? eg: `FatalIf()`, `Info()`, and so on; Also, do we have a plan to support self-defined logging format

[2019-03-14 06:42] kannappanr commented on #7365
@JetChars Will check internally and get back to you, if we plan to support logging to multiple targets in these methods.

[2019-03-14 07:23] JetChars commented on #7365
nice!

[2019-03-14 13:35] vadmeste opened #7366 "heal: Fail to heal part.1 when corrupted and empty"
## Expected Behavior
Whatever the content of part.1, healing should be able to fix the object if it can be recovered.

## Current Behavior
Unable to heal the object, yellow object in mc admin heal output

## Possible Solution
Do not know yet

## Steps to Reproduce (for bugs)
[code]

## Context
Fixing a found bug

## Regression
Do not know

## Your Environment
All

[2019-03-14 15:56] flokli opened #7367 "[gateway-gcs] complains when storage.buckets.list permission is missing"
When starting a GCS gateway that's using a service account without global `storage.buckets.list` permission for the whole project, minio gateway gcs complains loudly, while it being a perfectly valid scenario. We should detect such cases, and not try to request more than we're able to access.

## Expected Behavior
The GCS gateway should start up, and simple CRUD requests inside buckets should just

[2019-03-14 19:47] Mark84 opened #7368 "Official Arm Support & Binaries"
Happy Pi Day! I have a cluster of Pi zeros on a ClusterHAT and PI3b+ host, I wished to deploy a distributed Minio setup with Docker.

## Expected Behavior
The current Docker file isn't compatible with ARM architecture, but is relatively simple to change to use the arm32v6/alpine:3.X and arm32v6/golang:1.11.4-alpine3.X images instead, which will work in exactly the same way.

However your binary AR

[2019-03-14 20:02] harshavardhana commented on #7368
We won't be building binaries officially for ARM platform, this was decided because we don't have any ARM hardware to test and validate. Testing on each of these architectures and making sure you don't hit bugs is beyond our capabilities right now.

Our master branch can be compiled by source. We will fix bugs if any reported on these platforms.

[2019-03-14 23:32] deekoder commented on #6979
@theerebuss - Can you help us further in this repro?

[2019-03-15 00:40] kannappanr commented on #7367
@flokli We do require user to have all of the privileges when they start in gateway mode. As of now, It seems like you can still proceed, if you ignore these error logs.

So, I have sent in a PR which will not print error logs if `listBuckets` operation fails.

[2019-03-15 05:40] vipindoshi opened #7371 "Unexpeted Error Report to minio"
API: SYSTEM()
Time: 15:00:36 AEDT 03/15/2019
Error: Unexpected error, please report this issue at https://github.com/minio/minio/issues
       1: cmd\web-handlers.go:1904:cmd.toWebAPIError()
       2: cmd\web-handlers.go:1914:cmd.writeWebErrorResponse()
       3: cmd\web-handlers.go:1280:cmd.(*webAPIHandlers).DownloadZip.func1()
       4: cmd\web-handlers.go:1376:cmd.(*webAPIHandlers).DownloadZip(

[2019-03-15 05:59] harshavardhana commented on #7371
Thanks for filling the issue.

Can you provide more information? Will close this issue for now, since the issue template was removed and lacks information such as Minio version etc.

Please reopen with relevant information, we will be happy to take a look.

[2019-03-15 05:59] #7371 closed, assigned to nobody

[2019-03-15 09:41] flokli commented on #7367
What do "we do require user to have all of the privileges"?
The service account has the "roles/storage.admin" role, it just doesn't have project-wide permissions (which is the recommended way of setting up something like this, and [how it's documented in minio docs](https://github.com/minio/minio/blob/master/docs/gateway/gcs.md#11-create-a-service-account-key-for-gcs-and-get-the-credentials-file),

[2019-03-15 18:44] wlan0 commented on #6995
@zieg8301

A few comments on your configuration:

- There is no need to use both node selector and pod affinity
- You're running all of the minio servers on the same node and providing persistent storage using host mounts. There is no fault tolerance or resiliency. I hope this is not a production setup
- The reason your issue is happening is because each time one of pod goes down, and a new one st

[2019-03-16 15:57] maltefiala opened #7376 "Handle wrong formatted MINIO_ACCESS_KEY"
minio does not complain about an access key like "bWluaW8=". Instead, it returns 400 on any request.

## Expected Behavior
If an access key like "bWluaW8=" is not allowed, minio should complain during startup phase. Additionally, the returned error should be self-explanatory, e.g. "The access key provided contains bad characters".

## Current Behavior
minio does not complain about an access key li

[2019-03-17 04:37] kannappanr commented on #7376
@maltefiala Thanks for reporting this issue, a PR has been sent to fix this issue.

[2019-03-17 05:45] #7376 closed, assigned to poornas

[2019-03-17 11:09] maltefiala commented on #7376
Wow, thank you for this more than fast response! That's really great work on your side!

[2019-03-17 13:42] akhilputhiry opened #7379 "Request for feature: Minio plugin for Container storage interface (CSI)"
It would be great if minio can have a plugin created for CSI

https://github.com/container-storage-interface/spec
https://github.com/container-storage-interface/spec/blob/master/spec.md

[2019-03-17 14:33] sosiska opened #7380 "Cases in switch are equal"
## Expected Behavior
I found duplicated case in `toAPIErrorCode` function here: https://github.com/minio/minio/blob/master/cmd/api-errors.go#L1478

## Current Behavior
`case crypto.ErrInvalidCustomerKey` is duplicated here:
https://github.com/minio/minio/blob/master/cmd/api-errors.go#L1510
and here:
https://github.com/minio/minio/blob/master/cmd/api-errors.go#L1524

## Possible Solution
Understand

[2019-03-18 03:07] kannappanr commented on #7379
@akhilputhiry would something like https://github.com/ctrox/csi-s3 work?

[2019-03-18 03:10] kannappanr commented on #7380
@sosiska Thanks for filing this issue. Hope to merge the PR soon.

[2019-03-18 05:04] nullne opened #7384 "Duplicated bucket existence checking operation"
Duplicated bucket existence checking operation
## Expected Behavior

Check once is enough
## Current Behavior

Check twice the same thing exactly
## Possible Solution

Remove one
## Steps to Reproduce (for bugs)

one of the `checkPutObjectArgs` is in here:
[code]
the other is in
[code]

## Your Environment

* Version used (`minio version`): RELEASE.2019-02-26T19-51-46Z
* Environment name and versi

[2019-03-18 05:06] nullne commented on #7384
and i suggest not to check the bucket existence in every request. Maybe it can be done in a system routine.

[2019-03-18 07:51] MatinF commented on #5748
From what we can gather, this works now in the back end, but not the client side.
Is this something that is being resolved in a separate issue?

[2019-03-18 08:23] Bindiytm opened #7388 "minio and minio-mc for s390x binaries for download"
[minio.tar.gz](https://github.com/minio/minio/files/2977012/minio.tar.gz)

[mc.tar.gz](https://github.com/minio/minio/files/2977113/mc.tar.gz)

[2019-03-18 08:23] #7388 closed, assigned to nobody

[2019-03-18 12:37] muhamadazmy commented on #6212
You can always change the file path to `/dev/stdout` which is always the process stdout.

[2019-03-18 14:27] zieg8301 commented on #6995
@wlan0 that does not accurately define the issue we are experiencing. To clarify:

- When a pod goes down and comes up, with a new IP, it will rejoin the cluster.
- When a pod (pod x) goes down, and stays down, and then an additional pod goes down (pod y) and pod y starts back up, it will not rejoin the cluster until pod x starts. Once pod x starts, both pod x and pod y will rejoin the cluster and

[2019-03-18 14:46] erdii commented on #5305
Is there a way to "pre-seed" minio with multiple key-pairs with different IAM policies?
We'd like to use minio in a kubernetes/docker like environment, where it would not be feasible, to configure minio after it started, but instead would like to use a declarative approach where key-pairs are created outside of minio and injected via envvars.

[2019-03-18 16:20] harshavardhana commented on #5305
Please open a new issue with a feature request, let's avoid discussion on older issues @erdii

[2019-03-18 16:24] harshavardhana commented on #5748
Unable to understand @MatinF can you elaborate more?

[2019-03-18 16:25] wlan0 commented on #6995
What do you mean by this. Could you share the output of `mc admin info` after the node with the new IP rejoins the cluster. (also `mc admin info` before the node goes down)

Ok, I'll try to reproduce this and get back to you with more details.

[2019-03-18 17:03] akhilputhiry commented on #7379
@kannappanr  Let me try this out..

Looks like they use `fuse` internally. I have tried fuse earlier but performance wise fuse is very slow compared to normal `aws-cli` commands. I was hoping to use boto apis internally along with the pyfilesystem to create the mount point. Any way let me dig deep on this.

[2019-03-18 17:09] akhilputhiry commented on #7379
Many people uses blob storage as the storage medium for large machine learning datasets. Minio gateways are great for such use cases. Most of the guys spawn some jupyter notebook in some cloud or cluster to run their trainings. One of the problem here is the the storage. The current available options like s3fs-fuse and all is very slow at the same time native aws apis are faster. I am looking for

[2019-03-18 17:12] akhilputhiry commented on #7379
If mounting as file system is going to affect the performance, we can also think about sinking the bucket and mountpoints. May be something like [wormhole](https://github.com/warner/magic-wormhole)  or `aws s3 sync`can help.

I am just starting with `go`, other wise I could have tried out something

[2019-03-18 18:33] erdii commented on #5305
@harshavardhana Sorry! I just wanted to know if my scenario is possible with a current minio release. Guess that's a no from you, though. :(

Thanks for your fast answer, anyways!

Edit: I think there is a possiblity to achieve what I wanted. Posting this here, because it is tied to the feature requested and implemented in this issue. `data/.minio.sys/config/iam/users` contains a folder for each u

[2019-03-18 20:26] kannappanr commented on #7324
@nikitadm Closing this issue now. Please feel free to reach out to us when you have information requested by @harshavardhana

[2019-03-18 20:26] #7324 closed, assigned to nobody

[2019-03-18 21:01] zorino opened #7389 "invalid bucket name not conform with AWS terminology"
Bucket name can only contains a-z 0-9 and '-'.

## Expected Behavior

Bucket name with safe characters from https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html
should be supported.

## Current Behavior

Bucket name with characters other than a-z 0-9 and '-' are not supported.

https://github.com/minio/minio/blob/b05825ffe825646dc075996d33c583f6cf456837/cmd/object-api-utils.go#L100-L

[2019-03-19 00:18] kannappanr commented on #7365
@JetChars We will log to remote targets in the case of `FatalIf` once the logging subsystem has boot strapped. If `FatalIf` is called before the loggin subsystem bootstraps, then we cannot send that over to the remote targets.
[code]
We do not plan to support custom logging format as of now.

[2019-03-19 02:08] JetChars commented on #7365
Got it, appreciated. Or can I submit some PR related?

[2019-03-19 03:15] kannappanr commented on #7389
@zorino Please look at https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html for bucketnaming restrictions. `_` is not an allowed character.

[2019-03-19 06:41] kannappanr commented on #7349
@timbuchwaldt Closing this issue now. Will re-open when we have more information from you.

[2019-03-19 06:41] #7349 closed, assigned to nobody

[2019-03-19 08:13] Bindiytm commented on #7388
[minio.tar.gz](https://github.com/minio/minio/files/2982209/minio.tar.gz)

[2019-03-19 08:58] nitisht commented on #7327
@vinayus sent a PR https://github.com/helm/charts/pull/12364 . This should fix the issue you're facing

[2019-03-19 09:05] eteubert opened #7393 "Public URL access not working"
## Expected Behavior

Accessing a file url on a public bucket downloads the file.

## Current Behavior

403 Forbidden

## Steps to Reproduce (for bugs)

[code]

## Your Environment

* Version used (`minio version`): ```Version: 2019-03-13T21:59:47Z
Release-Tag: RELEASE.2019-03-13T21-59-47Z
Commit-ID: 285c09fe6b012583ce4fe07e3f9221fcbad4df2c```
* Environment name and version (e.g. nginx 1.9.1):
* O

[2019-03-19 09:42] west789 opened #7394 "How to integrate minio‘s frontend with keycloak?"
I want to integrate minio with keycloak, but 400 bad request erro occurs
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

Personal practice: After configuring the relevant parameters using web-identity.go, I can redirect to keycloak and log in, but when I redirect to the minio server again, a 400 bad request error occurs.
1.modify minio config.json

[2019-03-19 10:08] MatinF commented on #5748
Sorry for being unclear - I've tried to elaborate below. If this belongs in a separate issue, I'll move it.

We're building a front-end browser application that will link up with AWS S3 and Minio S3 - similar to the Minio Browser in concept.

As part of this front-end, we wish to display some custom meta tags for our S3 objects. This can be done in AWS by exposing the custom tags via the bucket's

[2019-03-19 10:33] nitisht commented on #7393
@eteubert looks like you're missing the alias. It should be

[code]

Can you try this and let us know

[2019-03-19 10:57] eteubert commented on #7393
That solves it, thanks for the quick response!

[2019-03-19 10:57] #7393 closed, assigned to nobody

[2019-03-19 13:04] YordanGeorgiev commented on #6349
mc policy upload "$MINIO_HOST_ALIAS/$CONFIG_S3_BUCKET_NAME"
mc policy download "$MINIO_HOST_ALIAS/$CONFIG_S3_BUCKET_NAME"
mc policy public "$MINIO_HOST_ALIAS/$CONFIG_S3_BUCKET_NAME"
mc policy list "$MINIO_HOST_ALIAS/$CONFIG_S3_BUCKET_NAME"

[2019-03-19 13:18] dbjv19 opened #7395 "Distributed Minio uses more than 2 times disk storage"
The Problem is as the headline said, Distributed Minio uses more than 2 times disk storage.
The Objects are uploaded into the bucket by using the MinioClient (mc) with the
cp --recursive

## Expected Behavior
Normally instead it should just be 2 times initial size

## Current Behavior
I uploaded a folderstructure (folder with files and other folders in it) with 15.12 GB capacity into a distributed

[2019-03-19 13:57] zorino commented on #7389
You're right I was looking at the object name instead of bucket name my bad.

[2019-03-19 13:57] #7389 closed, assigned to nobody

[2019-03-19 15:06] nikitadm commented on #7324
@kannappanr, with the latest minio version the gateway works with following permissions,
1. s3:ListAllMyBuckets
2. s3:ListBucket

Thanks for the update!

[2019-03-19 16:06] harshavardhana commented on #5748
Ah understood.

We don't support AWS S3 CORS API, instead we expose all headers through CORS.

Are you saying you want the ability to turn it on and off?

[2019-03-19 19:08] kannappanr commented on #7395
@dbjv19 As far as data is concerned, it will only be twice the amount of actual data.  Minio also stores incomplete uploads for about two weeks in it's data directories. There is also, metadata about your objects that is stored. They are generally few KB. If you store objects of smaller sizes, then the disk space used might be greater than twice the data uploaded.

[2019-03-19 19:40] harshavardhana commented on #7395
It cannot be just 2x exact - it is 2x + some metadata values which are in around 2KiB or less.  This is as per design as already explained by @kannappanr

[2019-03-19 19:40] #7395 closed, assigned to nobody

[2019-03-19 20:26] MatinF commented on #5748
Hi again,

I guess we're looking for a way to add a custom CORS configuration, at least adding specific custom tags. For comparison, what we're adding in our AWS bucket currently is the below.

The relevant tags are the ones starting with "x-amz-meta" below:

[code]

[2019-03-19 20:27] harshavardhana commented on #5748
@MatinF understood, please open a feature request - we will let you know if its feasible for us to implement this.

[2019-03-19 20:28] MatinF commented on #5748
Clear, I will - thank you

[2019-03-19 20:29] harshavardhana commented on #5748
For now, we expose all headers by default in CORS @MatinF so you don't need this API with MinIO.

[2019-03-19 21:11] igsol opened #7397 "Two basic object operations are incorrect."
# Environment
* Minio version: 2019-03-13T21:59:47Z
* Minio is installed in simplest standalone configuration.
* `uname -a`: `Linux thehost 4.20.15-200.fc29.x86_64 #1 SMP Mon Mar 11 16:01:28 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

-----
# Minio behavior

## `List objects` results after the 3 ___empty directories___ were created.

[code]

## Put one empty file under the `dir_000000` ___directory_

[2019-03-19 21:20] harshavardhana commented on #7397
This is expected @igsol and as per design we cannot support this - it is laboriously explained why

https://github.com/minio/minio/issues/7335#issuecomment-470683398

[2019-03-19 22:15] igsol commented on #7397
@harshavardhana
Thank you for explanation.

Sorry, I can't agree with your reasons. E.g. if for directory we want to store ACLs, xattrs etc. in a custom (x-amz-meta-) metadata, with your solution we have to implement a workarounds.

Minio [documentation](https://docs.minio.io/docs/minio-quickstart-guide.html) states:

But if even such basic operations are too diverse from original S3 API behaviour

[2019-03-19 22:22] harshavardhana commented on #7397
@igsol it doesn't really matter if we agree on not, it is a design choice for us and we are going to live with it into the near future. In our opinion, S3's behavior is unexpected and leads to bad application behavior.

If this is a strict requirement for you then Minio is perhaps not the right solution for you.  Our compatibility exists to an extent which makes logical sense, features such as the

[2019-03-19 22:33] igsol commented on #7397
Sorry, I wasn't clear. I mean FS ACLs, like POSIX ACLs, also standard Unix permissions, ownerships, xattr, so on.

If we need to copy our files to S3-like based cloud preserving FS attributes for directory the custom metadata looks as quite natural place.

Great :)

The most applications count on standard de facto AWS S3 behavior despite its oddity.
Once upon a time some application needs to scale

[2019-03-19 22:49] harshavardhana commented on #7397
You can still do that for each object will have the right values stored in object metadata. But again relying on POSIX permissions itself is quite a bit of backpedaling, I don't know how that would scale for modern data centers.

MinIO already implements SSO support with OpenID connect with IAM policies by providing STS and restricting permissions per temporary credential. This is done without the

[2019-03-20 00:21] #7380 closed, assigned to poornas

[2019-03-20 00:35] poornas opened #7399 "[SSE-S3] Key rotation in WORM mode"
Allow SSE-S3 key rotation in WORM mode

## Expected Behavior

It should be possible to rotate keys for SSE-S3 encrypted objects, even if the server is started with WORM mode enabled. Since key rotation involves just mutating SSE-S3 specific metadata by re-wrapping the OEK (object encryption key) with a new KEK( key encryption key) derived from a new KMS data key and does not mutate the encrypted o

[2019-03-20 00:55] kannappanr commented on #7379
@akhilputhiry Can you elaborate on your use case ? We want to understand why you need to talk to Minio/S3 using a CSI instead of directly talking to minio using S3 APIs/SDKs.

`aws s3 sync can help`, There is an issue here. If you use use `FUSE`, then, the data is still on minio. If you use `aws s3 sync` or `mc mirror`, it will be on local storage. Is this what you want?

[2019-03-20 03:04] ShaunMaher opened #7400 "Long delays when using Distributed Minio when one node is offline"
I have a three node distributed Minio cluster.  Each node has two disks.  If I shut down one node, to simulate a node failure, the remaining nodes take a long time to service requests.

## Expected Behavior
Since more than 50% of the nodes are available, I expected some performance degradation but that the platform would generally continue to function as it does normally.

Making a request to http

[2019-03-20 03:04] akhilputhiry commented on #7379
@kannappanr here is my use case

I am using [Jupyter hub](https://jupyter.org/hub) to spin off containers dynamically in a kubernetes cluster for running my machine learning notebooks.

All the datasets which I am using for my machine learning purposes sits in some blob storage (S3, Azure blobe, Google coud bucket etc)

Now while running the notebook, I will have to
* Write code explicitly to down

[2019-03-20 03:09] harshavardhana commented on #7400
To be fixed in #7398

[2019-03-20 06:27] vinayus commented on #7327
thanks @nitisht for the update, i tried and it seems working fine.

[2019-03-20 06:27] #7327 closed, assigned to nitisht

[2019-03-20 06:44] nullne commented on #7384
and duplicated `xl.getObjectInfo` in  `func (xl xlObjects) GetObjectNInfo(ctx context.Context, bucket, object string, rs *HTTPRangeSpec, h http.Header, lockType LockType, opts ObjectOptions)` too

[2019-03-20 15:34] GvandeSteeg opened #7401 "minio server not reading bucket"
I'm running Minio server on several of our Windows machines so I can collect all their logs from my computer for parsing.
The windows machines have a folder setup like so: `C:\Program Files\HEAD\logfiles`, but HEAD contains multiple other folders. I only want the `logfiles` to be loaded as a bucket. This used to work before when I pointed minio server at HEAD, as it would only pick up lowercase fo

[2019-03-20 17:31] kannappanr commented on #7401
@GvandeSteeg We added support to show buckets with capital letters in `fs` mode to fix issue #6938. Can you create a user who has only permissions to the `logfiles` bucket and login to the browser with that credential?

[2019-03-20 20:06] #6566 closed, assigned to aead

[2019-03-20 22:02] poornas commented on #7394
Can you run minio server with http trace enabled and paste the output?
i.e. MINIO_HTTP_TRACE=/dev/stdout minio server /tmp/data

[2019-03-21 00:09] kannappanr commented on #7400
Closing this issue as #7398 has been merged. Please re-open the issue if you can still repro the issue with the latest release.

[2019-03-21 01:46] harshavardhana opened #7402 "Potential case of not being able to delete directories with stale files"
## Expected Behavior
Able to delete the `empty` directory.

## Current Behavior
Not able to delete `empty` directory due to stale data.

## Possible Solution
Not possible in the current design, there are potential problems in the approach which we have taken to handle directories inside XL layer which have exposed rather a corner case but an important bug.

There is a possibility of addressing thi

[2019-03-21 05:20] #7350 closed, assigned to Praveenrajmani

[2019-03-21 05:38] Danbuth opened #7403 "How to migrate minio data"
about minio
I want to know how to export data from minio or migrate data from minio.
Sometimes data needs to be migrated.

[2019-03-21 05:39] nitisht commented on #7403
You can use https://docs.minio.io/docs/minio-client-complete-guide.html#mirror

Closing this issue, feel free to reach out on slack for more such questions. [https://slack.minio.io]

[2019-03-21 05:39] #7403 closed, assigned to nobody

[2019-03-21 05:42] nitisht commented on #6995
@R-omk https://github.com/minio/minio/pull/7373 may have fixed the initial issue, can you try the `minio/minio:edge` image

[2019-03-21 09:05] dbjv19 commented on #7395
So it's as intended even though the folder and its files use a total of 2.3 GB on DiskStorage and then its becomes 137.4 GB on the Minio-Storage because of the metainformation ?

[2019-03-21 09:11] harshavardhana commented on #7395
This is perhaps odd @dbjv19 so a question did you upload only 2.3G worth of 1KiB files? what was the size of the individual objects?

[2019-03-21 09:15] dbjv19 commented on #7395
The filesize ranges from around 20KiB to 40KiB. The result is quite different, for one file which has 10KiB it shows on the Minio-Server that 10KIB is used for one of the 6 Drives and in some cases the size is even the double on one minio disk

[2019-03-21 09:28] harshavardhana commented on #7395
We also write bit-rot information along with the data which adds more information as well along with your 10KiB

For example a 262B file on a 4 disk setup will effectively become

[code]

So you can see for small files such as 262B the final object size is `5200` which is 5KiB so the factor is pretty high which is basically 20x the original file size.

Whereas when you upload a 1MiB file.
[code]

[2019-03-21 09:36] dbjv19 commented on #7395
Is the amount of storage the bit-rot information uses a fixed value or does it change depending on the size of the files ? If so is it possible to disable the bit-rot information, so that we can reduce the factor ?

[2019-03-21 09:41] harshavardhana commented on #7395
These are all integral part of the data format so they cannot be disabled, small files use more effective storage as shown previously. `xl.json` adds up quite a few KiBs when your object sizes are closer to the `xl.json` size.  There is no way to optimize this right now and it is not our focus at the moment to optimize for small object workloads. Most of our workloads are above 256KiB range so few

[2019-03-21 10:31] GvandeSteeg commented on #7401
@kannappanr I'm afraid that wouldn't be acceptable, as the logged-in user is an automation credential that needs the attached machine to be able to write to all folders. Restricting access to the other folders would stop the machine from running properly.

[2019-03-21 11:04] west789 commented on #7394
As follows :minio server with http trace output
![image](https://user-images.githubusercontent.com/30501870/54748217-fa590500-4c0b-11e9-8694-27198a4ef6fd.png)

[2019-03-21 11:18] R-omk commented on #6995
@nitisht, I tried the new version
`Server: Minio / DEVELOPMENT.2019-03-21T05-24-09Z`
but the problem persists

steps:

1. ` up all minio1-6`
2. `mc admin info`  #informs all is online
3. `down   minio5 and minio6`
4. `mc admin info`  #informs minio5-6  dns lookup  no such host
5. `up minio5`
6. `mc admin info`  #**reported  that minio5 is not available because connection refused** and minio6  look

[2019-03-21 13:08] igsol commented on #7397
At this moment Minio is the best application for our developers needs except a few incompatibilities mentioned in this issue.

I don't see how these 2 bugs fixing could encourage bad application behavior, at least our application :)

We do need to "backup" all files and directories (including empty) from the POSIX FS to the S3 cloud storage. Our application can backup all files and directories att

[2019-03-21 17:49] eco-minio commented on #7394
@west789 Minimum duration is 900 seconds - https://github.com/minio/minio/blob/master/docs/sts/web-identity.md, can you set the value higher and try again?

[2019-03-21 18:34] kaankabalak opened #7404 "Minio Browser: "Authorization mechanism not supported" error on Chrome frontend login"
## Expected Behavior

Chrome users (who want to make frontend changes) should be able to login from localhost:8080/minio/login without any errors

## Current Behavior

When a Chrome user tries to login from localhost:8080/minio/login, they get a 400 error. After investigating the network tab, they get the following response. This message seems to correspond to the error type `ErrSignatureVersionNo

[2019-03-21 18:36] kaankabalak commented on #7404
Closing as this is working on Chrome after the updating the browser.

[2019-03-21 18:36] #7404 closed, assigned to nobody

[2019-03-21 18:51] maniker opened #7405 "Unable to run the Minio-server on https."
Unable to access the Minio-server on https using a CA cert

I have installed my CA cert in [testwassys376l]/home/was/.minio/certs> directory  i followed the document and did the same  but i am unable to run the minio on https.

[testwassys376l]/home/was/.minio/certs> ls
CAs  dev.com.crt  dev.com.key

Is there any anything else I have to do?? and please let me know if you need any further informati

[2019-03-21 18:56] kannappanr commented on #7405
@maniker can you please use the template to file issues going forward. It has questions like minio version, your OS, etc.

Can you provide `minio version`, `OS`, What mode minio is running in. Command you used to start minio, console output on startup etc

[2019-03-21 19:20] kannappanr commented on #7405
@maniker
[code]
The names should be `public.crt` and `private.key`

[2019-03-21 19:26] maniker commented on #7405
@kannappanr  Ok gotcha, I have changed it I'll try it and update you thanks :-)

[2019-03-21 20:10] maniker commented on #7405
I have done changing the names of those files, and when
i start my minio server with the command   ./minio server /home/was , it says

ERROR Unable to load the TLS configuration: The private key contains additional data.

So do you think something is wrong with my private key chain or it has to do something with the way i start it??

[2019-03-21 21:45] harshavardhana commented on #7405
Your private key is perhaps corrupted @maniker

[2019-03-21 22:57] ebozduman opened #7409 "No unit test for ../cmd/crypto/vault.go"
Missing unit test, `cmd/crypto/vault_test.go` needs to be added as part of the `Unit Test Refactoring` effort.

[2019-03-21 23:07] harshavardhana commented on #7409
We should be a bit more descriptive perhaps in the issue, one advantage is it ensures that our community also follows it and we don't have to proactively tell them. When not using the template we should indicate why we are not using the template.

Here we know that unit test should be added but we don't know which pathway is most affected, we can elaborate that by looking at coverage provided by `

[2019-03-21 23:20] ebozduman commented on #7409
This is a `Unit Test Refactoring` task/issue and I'll be filing bunch of them, all about missing unit tests to increase our coverage.

While filing this very first missing unit test issue, Deepa and I discussed and decided not to use the template since almost all fields/sections of the template are not applicable.

I'll check the coverage outputs and add any relevant information into these issues,

[2019-03-21 23:26] poornas commented on #7409
@ebozduman, the only unit testable function in this file would be config initialization. The remaining functions can only be tested as functional tests because they require a vault server up and running.

[2019-03-22 02:09] kannappanr commented on #7405
[public.crt.txt](https://github.com/minio/minio/files/2994640/public.crt.txt)
[private.key.txt](https://github.com/minio/minio/files/2994641/private.key.txt)
I have copied sample files that should work on your setup. Try it out and let us know. Like @harshavardhana said it is most probably something wrong with the way the certificates and keys were generated. Please also remove `.txt` at the end o

[2019-03-22 04:58] Praveenrajmani commented on #6995
The PIDs will be reserved only when you hit `mc admin service restart`. Are you sure you mean the same by "down and up"? @R-omk

[2019-03-22 06:04] nullne opened #7410 "Better error message when providing different key pairs on star"
this isn't a big problem, but it take me too long to find out what's going run. maybe you can provide better error notifications.
## Expected Behavior

## Current Behavior

always told the error like this
[code]

## Possible Solution

show me that the error is because of the  different key pairs

## Steps to Reproduce (for bugs)

1. export different key pairs on multiple servers
2. and it cannot i

[2019-03-22 06:36] west789 commented on #7394
Thanks for your help, now ,I have credentials
![image](https://user-images.githubusercontent.com/30501870/54804570-f16d3f80-4cae-11e9-88cb-49c4892cf929.png)
but， I use accesskey and serectkey to log in the minio server, error occurs as follows:
![image](https://user-images.githubusercontent.com/30501870/54804530-cb479f80-4cae-11e9-96e6-47cf76ace33d.png)
and I put the token into request headers, al

[2019-03-22 07:19] chinglinwen opened #7411 "no node join feature?"
There seems no node expanding feature, join a new node etc.

## Expected Behavior

Can join new node, to expand the storage capacity.
Also make the endpoint no need of manual specify,  no need to pre-known all the nodes (no restart of existing nodes ).

## Current Behavior

`ERROR Unable to initialize backend: 1st disk is already being used in another erasure deployment. (Number of disks specified

[2019-03-22 07:20] R-omk commented on #6995
@Praveenrajmani, "down and up"  means  graceful shutdown docker container  and then start new with same settings.
Another example with restart via mc, steps:

1. ` up all minio1-6`  (docker stack deploy minio_test)
2. `mc admin info`  #informs all is online
3. `down  minio6`  ( docker service scale   minio_test_minio6=0 )
4. `mc admin info`  #informs minio6  dns lookup  no such host
5. `mc admin s

[2019-03-22 07:23] beviah commented on #5901
What exactly is this doing?

mc config host add ...

from this page: https://jpmens.net/2017/09/06/my-restic-backend-of-choice-minio/

[2019-03-22 08:00] nitisht commented on #7411
@chinglinwen this is expected and part of design. Instead of adding nodes to existing cluster and risk destabilization of whole cluster - we recommend adding new clusters as and when needed.

If required you can combine old and new clusters using federation as explained here https://docs.minio.io/docs/minio-federation-quickstart-guide.html

[2019-03-22 08:17] chinglinwen commented on #7411
sounds good to me.

[2019-03-22 08:17] #7411 closed, assigned to nobody

[2019-03-22 09:34] chinglinwen commented on #7411
my boss seems worry about this, no expand of storage, it then may someday not able to handle business requirements

we think the dns federation is a little complicated

so we may decide to separate it according to the business unit ( it's still may some day out of space, then  we may need manual migration?  we don't want things that need move around (what if it so big, and move around need stop th

[2019-03-22 14:01] kannappanr commented on #7410
@nullne I believe this is in distributed mode. We will try to reproduce the error and see if we can display an appropriate error.

[2019-03-22 17:00] kannappanr commented on #5901
@beviah Please look at https://docs.minio.io/docs/minio-client-complete-guide.html#config

[2019-03-22 17:10] kannappanr commented on #7401
@GvandeSteeg When I said `create a user`. I meant create a user in minio that will only have permissions to this bucket alone.

[2019-03-22 18:18] beviah commented on #5901
@kannappanr my point was that it does seem to scale up / down.. so this issue seems to be solved, not only closed,

[2019-03-22 23:42] kannappanr commented on #7405
ping @maniker Did you get to try the cert files attached?

[2019-03-23 01:40] poornas commented on #7394
@west789 , you can't send empty Authorization header in this manner. You could use minio-go SDK's NewWithCredentials() to pass the temp access key/secret key and session token to connect to minio endpoint.

[2019-03-23 06:04] harshavardhana commented on #7394
There are no current plans in allowing MinIO browser to support WebIdentity based temporary credentials,  it's only supported for S3 API.

[2019-03-23 07:50] erland64 opened #7418 "Minio as GW to EMC S3"
My intension is to use Minio S3 as a gateway against EMC S3 bucket storage.

If I use AWS CLI against Minio server It works perfect but if I use Minio MC client it hangs.

Any Idea why?

AWS – WORKS PERFECT
aws --endpoint-url http://127.0.0.1:9000 s3 ls s3://aplog_prd/
Server: Minio/RELEASE.2019-03-20T22-38-47Z
Accept-Ranges: bytes

<?xml version="1.0" encoding="UTF-8"?>
<ListBucketResult xmlns="h

[2019-03-25 06:17] kannappanr commented on #7418
@erland64 Are you saying that `mc` hangs in `GetBucketLocation` s3API call?

[2019-03-25 06:34] wittech opened #7420 "Access-Control-Allow-Origin must not be the wildcard '*'"
Access to XMLHttpRequest at 'http://file.xxx.com/bk/cdf337d335794ceda1a96faf75d3192a.doc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=E09MPO2ALQV39FZA9DSD%2F20190325%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20190325T062404Z&X-Amz-Expires=172800&X-Amz-SignedHeaders=host&X-Amz-Signature=d3a7686d68603c6bd377f46a53ce156d6d569622bb254382ea96f2da3e719dd1' from origin 'http://demo.xxx.com' has bee

[2019-03-25 06:48] erland64 commented on #7418
Hi. Yes.

Thanks

[2019-03-25 06:55] kannappanr commented on #7410
Here is the script that I used to repro this issue

[code]
Here is what I saw
[code]

Can you elaborate in detail how to repro the error message that you are seeing?

[2019-03-25 06:57] kannappanr commented on #7418
@erland64 Can you try calling `GetBucketLocation` command in `aws-cli`?

[2019-03-25 07:12] harshavardhana commented on #7420
Can you be more elaborate and use the issue template to provide more details?

- MinIO version
- Sample code to reproduce the issue

We will close this issue, for now, please provide more information so that we can address the issue by opening a new issue.

[2019-03-25 07:12] #7420 closed, assigned to nobody

[2019-03-25 07:40] erland64 commented on #7418
It works.

aws s3api get-bucket-location  --bucket aplog_prd --endpoint-url http://127.0.0.1:9000
{
    "LocationConstraint": null
}

From Log:

[REQUEST objectAPIHandlers.GetBucketLocationHandler-fm] [155349942.441883] [2019-03-25 08:37:04 +0100]
GET /aplog_prd?location
Host: 127.0.0.1:9000
X-Amz-Date: 20190325T073704Z
X-Amz-Content-Sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b

[2019-03-25 11:01] west789 commented on #7394
I use NewWithCredentials(), but also Access Denied，how can I do?

![image](https://user-images.githubusercontent.com/30501870/54914465-fab90f00-4f2f-11e9-8e12-7928ba96d8c5.png)
![image](https://user-images.githubusercontent.com/30501870/54914515-1ae8ce00-4f30-11e9-8184-f76868aac556.png)
![image](https://user-images.githubusercontent.com/30501870/54914600-48357c00-4f30-11e9-9d8f-0ed926b51ccb.png)

[2019-03-25 11:11] chinglinwen opened #7421 "minio heal broken after delete both part.1 and xl.json file"
## Expected Behavior

mc admin heal command, should heal the object in the volume ( even if part and xl.json file not exist )

## Current Behavior

heal dones't work ( waited half an hour )

## Possible Solution

## Steps to Reproduce (for bugs)

[code]

## Context

I'm trying to testing disk broken, data loss emulate

## Regression

## Your Environment

* Version used (`minio version`):

Version:

[2019-03-25 18:38] zieg8301 commented on #6627
Also interested in this, we have a system that does occasional data loads over a less than perfect network connection (not going to improve anytime soon) and causes the multipart uploads to fail on occasion. Having a shorter multipart cleaning interval would be very helpful to us.

[2019-03-25 19:13] kannappanr commented on #7421
@chinglinwen Will repro the issue and see why the command is hanging. Thanks for filing this issue.

[2019-03-25 19:14] harshavardhana commented on #7421
Most probably this PR #7407 might fix this.

[2019-03-25 19:46] kannappanr commented on #6979
@theerebuss Closing this issue as stale. Please re-open the issue when you have more information for us.

[2019-03-25 19:46] #6979 closed, assigned to ebozduman

[2019-03-25 19:48] kannappanr commented on #7405
@maniker closing this issue now. Please feel free to re-open this issue if you have more information.

[2019-03-25 19:48] #7405 closed, assigned to nobody

[2019-03-25 19:51] maniker commented on #7405
@kannappanr sorry for the late reply i was able to run the minio on https with the file patterns  you have sent me.

Thanks a lot, you guys are doing a great job

[2019-03-25 19:56] poornas commented on #7394
@west789, it should work - perhaps the session token expired? It might be good to run the minio server with http trace enabled `MINIO_HTTP_TRACE=/tmp/log minio server /tmp/data` and attach the request/response trace.
you can enable trace on minio-go client as well with `minioclient.TraceOn(os.Stdout)`

[2019-03-25 20:41] #6627 closed, assigned to nobody

[2019-03-26 00:18] abrade opened #7425 "Minio returns HTTP 500 Internal error after 5 min uploading"
We are running a Minio server with SSL and trying to upload (PUT request) some files through the Minio web-ui. After 5 minutes of upload, we hit an HTTP 500 Internal error. We can see the network traffic in the task manager.

## Expected Behavior
Upload of the file should be successful, even after 5 minutes.

## Current Behavior
Minio is returning a HTTP 500 Internal Error.

HTTP trace:
[code]

mi

[2019-03-26 00:19] abrade commented on #7425
![success_and_failures](https://user-images.githubusercontent.com/2748543/54962446-c2660f00-4fc9-11e9-8d3d-a9172b2041bb.PNG)

I attached a picture of this behaviour.

[2019-03-26 02:32] nullne commented on #7410
@kannappanr only one key is different. i have seen this message also.
[code]

[2019-03-26 03:22] west789 commented on #7394
for temporary credentials, I get this error
![image](https://user-images.githubusercontent.com/30501870/54968989-88b6e900-4f74-11e9-8f14-8db7e09467f2.png)

and I don't know why this duration doesn's work , the session token still expired a few minutes?
![image](https://user-images.githubusercontent.com/30501870/54969421-f4e61c80-4f75-11e9-866d-5c832e3b3a55.png)

[2019-03-26 06:19] Praveenrajmani commented on #6995
Yes @R-omk . I can see what is happening. We are discussing this internally. Will get back :+1:

[2019-03-26 06:47] chinglinwen commented on #6469
I've encounter the same issue

minio image: image: minio/minio:RELEASE.2019-03-06T22-47-10Z

[code]

@eco-minio

[2019-03-26 07:01] poornas commented on #7394
@west789, DurationSeconds needs to come from the token expiry, so that is not the issue. The reason you are still getting AccessDenied is because you are missing policy claim as part of JWT token. You will need to configure KeyCloak with policy claim - pls check notes in PR https://github.com/minio/minio/pull/6985 on adding policy claims for WSO2. You will need to do something similar for Keycloak

[2019-03-26 07:38] chinglinwen opened #7426 "a way to report object (bad) status"
I need to know if object is in bad state, so I think it should have a command or UI show's?, let's focus command first

we need a cli ( etc ) to report the object status ( similar to scan? )

I have try `mc admin heal`, it can report some info, I think there need some other ways ( not reporting the summary, but every items )

the purpose of reporting status, is :
  1. check object status
  2. prov

[2019-03-26 07:48] nitisht commented on #7425
Thanks for reporting, we'll take a look @abrade . What is the file size you're trying to upload

[2019-03-26 07:53] nitisht commented on #7426
We do log server side error if we find an object to be not readable..(quorum not available). If the object is readable we return the data (quorum is available). With millions or even billions of objects I am not sure if tracking each object for its status is a good idea.

[2019-03-26 08:00] chinglinwen commented on #7426
tracking is one way I think, I'm not expert on this, I think there may be another way that can resolve the issue, I think bad state been unknown is not good ( when error log happen, it's too late to fix? ).

also, heal need someway to detect the state? ( is it done already? ) @nitisht

[2019-03-26 09:57] west789 commented on #7394
thanks for your help, now ,I have access to get object from minio , I will close issue.
This is how to add policy attribute in keycloak, hope to help others !
1. add user Attribute
![image](https://user-images.githubusercontent.com/30501870/54987329-60200500-4fef-11e9-83b0-94f401ca6f96.png)

2. select client=>choose your client ID=>choose Mapper and create
![image](https://user-images.githubuserco

[2019-03-26 09:57] #7394 closed, assigned to nobody

[2019-03-26 10:25] nitisht commented on #7426
Yes, to check state of each object you can try

[code]

optionally add `--json` flag to get json output

[2019-03-26 10:41] chinglinwen commented on #7426
It does report summary info ( though it's not working for now ),  but it's not reporting the detail items of object state  @nitisht

[code]

[2019-03-26 10:58] nitisht commented on #7426
Do you have a proxy in between mc and minio server?

[2019-03-26 11:45] GvandeSteeg commented on #7401
@kannappanr Sorry for the misunderstanding, but I can't figure out how to create a user in minio with limited access to buckets. I'm following the [minio admin guide](https://docs.minio.io/docs/minio-admin-complete-guide.html) and I'm able to add users with readonly access, but can't limit the buckets.

And as a hypothetical question, since #6938 resolved capital letter buckets, what would happen

[2019-03-26 12:59] cracknel opened #7428 "Healing after node crash does not clean deleted objects"
## Expected Behavior
If a crashed node rejoins the cluster, healing should clean objects that have been deleted during downtime.

## Current Behavior
Parts of deleted objects are still on the node that went down during delete operations even after recursively healing.

## Possible Solution
Garbage collector?

## Steps to Reproduce (for bugs)
4 node cluster
create 10k objects in a bucket
stop one n

[2019-03-26 14:01] kannappanr commented on #7426
@chinglinwen Here is what I see for an item that is missing `xl.json` and `part.1` file

[code]
Here it doesn't tell you if `xl.json` or `part.1` or both are missing, but it does tell you that you have a problem with that disk.

[2019-03-26 14:02] kannappanr commented on #7425
@nitisht The object seems to be little above 11GB.

[2019-03-26 14:11] kannappanr commented on #7421
Yes, I verified that #7407 handles this scenario

[2019-03-26 14:19] nitisht commented on #7428
I think this is duplicate of https://github.com/minio/mc/issues/2713 . We can close this and follow updates there.

[2019-03-26 14:25] harshavardhana commented on #7426
We will be moving to auto heal model soon, you won't need to know the status of the object in this manner using a tool.

With auto heal at any given point in time you can know what is currently being healed and what are currently healthy objects.

[2019-03-26 16:38] kannappanr commented on #7428
@cracknel We have a PR #7407 that handles this scenario. As mentioned above, closing this issue now.

[2019-03-26 16:38] #7428 closed, assigned to nobody

[2019-03-26 17:10] abrade commented on #7425
@nitisht The file was about 11GB. We tested yesterday with some other files and different speeds. You get this error if you take a 100MB file and reduce your upload speed that it needs more than 5 minutes to upload.

[2019-03-26 19:20] eco-minio commented on #6469
@chinglinwen the error you are seeing is different, this means that you already have a heal running.  Heal process continues running in the background, if you try to start a new heal process while it is running you will see this error

[2019-03-26 20:21] kannappanr commented on #6469
@slavashvets Closing this issue as stale. Please feel free to reach out to us if you have more information.

[2019-03-26 20:21] #6469 closed, assigned to eco-minio

[2019-03-26 20:24] gbarton opened #7430 "Minio wont connect to mysql 8+ with nativepasswords"
## Expected Behavior
When I point minio at a mysql 8+ instance with native passwords enabled (the old kind), I should be able to connect and send events.

## Current Behavior
When mysql is configured to use, or the user one is connecting to mysql from minio with is set to use native passwords, minio cannot connect. Error seen in log:

[mysql] 2019/03/26 18:55:19 driver.go:120: could not use reques

[2019-03-26 20:26] kannappanr commented on #7418
@erland64 One of the commands that `mc` requires is hanging in the case of `EMC S3 gateway`.

Here is an output when I run `mc ls` against `play`

[code]

Are you not seeing any of this when you run `mc` against `EMC S3` gateway. Is the behavior same when you connect `mc` to `EMC S3` directly?

[2019-03-26 21:57] #7402 closed, assigned to harshavardhana

[2019-03-26 22:50] kannappanr commented on #7421
closing this issue as #7407 has been merged

[2019-03-26 22:50] #7421 closed, assigned to nobody

[2019-03-27 00:48] david-quijano commented on #7425
@nitisht It's the combination of SSL + HTTP2.
We have also tested using curl instead of the browser and the results are:
[code]
It fails at different times for different speeds and it's consistent for each case (100% reproducible):

Speed | Time
-------|-------
10000 | 6:46
50000 | 5:21
100000 | 5:10
100000+ | 5:00

We also tried this:
[code]
This forces HTTP1.0 and it works. It uploads the file c

[2019-03-27 00:54] harshavardhana commented on #7425
Thanks, we will take a look, this looks like a bug in the connection timeout behavior.

[2019-03-27 01:20] harshavardhana commented on #7425
This PR should fix it https://github.com/minio/minio/pull/7431 - thanks for reproducing everyone @abrade @david-quijano

[2019-03-27 01:29] gyb997 opened #7432 "I want double gateway backend ,could minio do it?"
I want to use minio as a proxy of storage.The backend is a OSS  and a S3 backend.
Can I use minio do it?
When I store a file ,just like a.jpg. The OSS storage a file ,also the S3 store It.

[2019-03-27 02:04] chinglinwen commented on #7421
it's good to hear that

[2019-03-27 02:05] chinglinwen commented on #6469
@eco-minio  I'd expect it give previous heal's status (if it's still running ), rather than just return an error.

[2019-03-27 02:05] harshavardhana commented on #6469
This will go away, we are moving away from polling heal status to auto heal model.

[2019-03-27 02:15] chinglinwen commented on #7426
auto heal feature is great.

this sounds good.

[2019-03-27 06:04] kannappanr commented on #7432
@gyb997 Unable to understand your question. Are you saying that you want to have two copies of an object. One on S3 and another on OSS?

If yes, You can either run `mc cp` to both `oss` and `s3`. `oss` will be via gateway.

Else, you can `mc cp` to either `oss vis gateway` or `s3` and do `mc mirror` to the other. Minio doesn't do double backend.

[2019-03-27 07:27] nitisht commented on #7426
Closing this as we already have an issue to track auto heal feature progress @chinglinwen

pls refer: https://github.com/minio/minio/issues/6782

[2019-03-27 07:27] #7426 closed, assigned to vadmeste

[2019-03-27 07:38] chinglinwen commented on #7426
since auto heal feature may provide the function of report bad object status, let's consider it duplicate, I'll check this later ( when auto heal landed )

[2019-03-27 07:44] erland64 commented on #7418
Below works

minio/mc --debug ls s3
mc: <DEBUG> GET / HTTP/1.1
Host: 172.17.36.142
User-Agent: Minio (linux; amd64) minio-go/v6.0.20 mc/2019-03-20T21:29:03Z
Authorization: AWS4-HMAC-SHA256 Credential=aplog_prd/20190327/us-east-1/s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=**REDACTED**
X-Amz-Content-Sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7

[2019-03-27 08:21] kannappanr commented on #7418
I think you have enabled `dns` style bucket lookup

Can you try something similar to `mc config host add mys3 http://localhost:9000                 <Access_KEY> <Secret_KEY> --api "s3v4"`

Then try listing objects under a bucket

[2019-03-27 08:39] kannappanr commented on #7401
@GvandeSteeg Will send in a fix to support bucket names with capital letters in minio-py. Bucket names are case sensitive, so your example will not work.

Here is a sample policy json file

[code]

[code]
[code]
[code]
[code]

[2019-03-27 09:23] erland64 commented on #7418
Yes, you are correct. Thanks, now it is working.

The reason for my question is that I'm trying implement snapshots in an Elasticsearch cluster but it hangs just like mc does if "lookup" : "dns".

Is it possible in Minio server to set "lookup" : "auto" even if the client tries to use DNS?

Thanks
Erland

[2019-03-27 10:48] delfer commented on #5947
@diogojesus95 you do not need to rewrite any urls for your CDN. Just create bucket named `v2` in your Minio))) 🥇

[2019-03-27 14:53] kannappanr commented on #7418
@erland64 I don't think it is possible, as the user might think that `DNS` is working fine. Closing this issue as I feel this has been resolved and this is not a minio issue. Feel free to reach out to us on https://slack.min.io if you have further questions.

[2019-03-27 14:53] #7418 closed, assigned to nobody

[2019-03-27 16:40] #7425 closed, assigned to sinhaashish

[2019-03-27 16:41] nitisht commented on #7432
Closing this as there is no action required .

[2019-03-27 16:41] #7432 closed, assigned to nobody

[2019-03-27 16:42] nitisht commented on #7397
Based on comments above, closing the issue as there is no further action needed.

[2019-03-27 16:42] #7397 closed, assigned to nobody

[2019-03-27 16:43] nitisht commented on #7368
Closing this as there no further action needed

[2019-03-27 16:43] #7368 closed, assigned to nobody

[2019-03-27 16:48] nitisht commented on #7287
@harshavardhana is this fixed by #7407  as well?

[2019-03-27 16:51] nitisht commented on #6944
Closing due to no response @tomerzel87 . Feel free to reopen when you have further info.

[2019-03-27 16:51] #6944 closed, assigned to nobody

[2019-03-27 16:51] nitisht commented on #7092
Closing this for now, please reopen if there is a plan to fix this.

[2019-03-27 16:51] #7092 closed, assigned to vadmeste

[2019-03-27 16:53] nitisht commented on #6576
Closing this for now.

[2019-03-27 16:53] #6576 closed, assigned to nobody

[2019-03-27 16:54] nitisht commented on #7273
@chernykhse closing this as not reproducible, feel free to reach out on Slack with more info if possible..

[2019-03-27 16:54] #7273 closed, assigned to nobody

[2019-03-27 16:56] nitisht commented on #6501
Closing this due to no response from OP

[2019-03-27 16:56] nitisht commented on #6904
@kirankanth has this been addressed already?

[2019-03-27 17:02] kannappanr commented on #7357
@Coder-212 Closing this issue now. Feel free to re-open this issue or reach us at https://slack.min.io if you have further information.

[2019-03-27 17:02] #7357 closed, assigned to nobody

[2019-03-27 17:05] kannappanr commented on #7347
@sinhaashish Can you please provide a sample code in `java` that will call `mc` to create a policy and user? Then this issue can be closed.

[2019-03-27 17:22] harshavardhana commented on #7287
No @nitisht this a problem at disk level i.e filesystem corruption - this bug is there for our understanding purposes. We have explored this issue already and @balamurugana found no fundamental way to solve this properly.

It can be closed since @philipkozeny has moved on from the issue.

[2019-03-27 17:30] kannappanr commented on #7287
Closing this based on the previous comment

[2019-03-27 17:30] #7287 closed, assigned to nobody

[2019-03-27 17:44] kannappanr commented on #5579
@aead  Should this issue be closed and re-opened when we plan to fix this issue.

[2019-03-28 00:20] kannappanr commented on #7153
@stopher2 Please take a look at http://usefulangle.com/post/34/aws-s3-upload-api-php-curl for more information and http://www.tothenew.com/blog/file-upload-on-amazon-s3-server-using-curl-request/  . Please feel free to reach out to us at https://slack.min.io for further questions. Closing this issue now.

[2019-03-28 00:20] #7153 closed, assigned to krishnasrinivas

[2019-03-28 01:53] gyb997 commented on #7432
Ok @kannappanr  ,I know what you said.I don't want use mc cp or mirror cmd. I just want a online reverse proxy . Which I can select use nginx+lua do it. For me I just want to know if minio can .

Or maybe in the next release can handle it.
The detail is I can use minio store file on two storage backend . And I can make a config to define which bachend is the primary backend.(if file storaged in th

[2019-03-28 07:36] sinhaashish commented on #7347
@maniker
The mc code can be written in a script ; `test.sh` as shown
[code]
and this script can be called with the Java using the below code

[code]

You can rewrite the script as per your need. Hope this helps.

[2019-03-28 07:47] nitisht commented on #7347
@maniker please try this and let us know how it goes. Meanwhile closing this issue as there are no next steps

[2019-03-28 07:47] #7347 closed, assigned to sinhaashish

[2019-03-28 08:28] cruizen commented on #6153
Any plans to consider this in the near future/ the 'future' milestone?

[2019-03-28 09:30] huangll99 opened #7438 "Use binary on centos 7, error when start"
Endpoint:  http://10.3.10.131:9000  http://172.17.0.1:9000  http://172.18.0.1:9000  http://192.168.122.1:9000  http://127.0.0.1:9000
AccessKey: YAWV7NRM5VTJUDK5MB42
SecretKey: cZP1Ren2foGm3tU4VFYK36hR3+bRlDIER0DuHoXT

Browser Access:
   http://10.3.10.131:9000  http://172.17.0.1:9000  http://172.18.0.1:9000  http://192.168.122.1:9000  http://127.0.0.1:9000

Command-line Access: https://docs.minio.

[2019-03-28 14:17] harshavardhana commented on #7438
Can you provide more details like

- kernel version
- MinIO version
- selinux enabled or disabled
- provide an strace -f output for the minio binary

[2019-03-28 14:38] GvandeSteeg commented on #7401
[code]

I figured disabling myself (an admin) would remove access to the `notlogfiles` bucket, but I still have access to everything. what's the user policy supposed to do?

[2019-03-28 16:53] kannappanr commented on #7401
You should do something similar to
[code]
[code]

Once you create the user `foo`, you should add an entry in `mc` to access your `s3 server` using the credentials of the user `foo`.

[2019-03-28 17:45] #7430 closed, assigned to poornas

[2019-03-29 01:28] #7438 closed, assigned to nobody

[2019-03-29 11:07] Praveenrajmani commented on #6995
working on a fix for this. Will send a PR soon @R-omk

[2019-03-29 15:16] androda opened #7441 "minio is not handling double-double quotes in CompleteMultiPartUpload ETag"
I am testing the Vertica S3 Export feature against minio. Unfortunately the export fails with Vertica giving me an error.

## Expected Behavior
* Running an S3 Export from Vertica should succeed against minio

## Current Behavior
* Running an S3 Export from Vertica fails, with minio returning a 500 internal error in response to Vertica's last call to minio

## Possible Solution
It looks like S3 wi

[2019-03-29 16:16] westse commented on #7441
Looks like this could be addressed  by refactoring [this code](https://github.com/minio/minio/blob/8689ec258b220615b2167b7f6f6d26ed8f100d42/cmd/object-handlers-common.go#L232-L235) to the following
[code]

[2019-03-29 18:20] Chandra4Aws commented on #4687
My observations on this issue.
Environment: Api gateway -> Lambda function (Java) -> S3.
There are 2 observations
1. When there is a space in the Custom metadata key, it doesn't create it.
     Eg: "Account Number" -> Not creating
           "Account-Number" -> It creates

2. When there is a : (Colon) in the key, it throws "There were headers present in the request which were not signed (Service:

[2019-03-29 18:21] Chandra4Aws opened #7443 "error in saving object There were headers present in the request which were not signed (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied; Request ID"
My observations on this issue.
Environment: Api gateway -> Lambda function (Java) -> S3.
There are 2 observations

When there is a space in the Custom metadata key, it doesn't create it.
Eg: "Account Number" -> Not creating
"Account-Number" -> It creates

When there is a : (Colon) in the key, it throws "There were headers present in the request which were not signed (Service: Amazon S3; Status Cod

[2019-03-29 20:40] krishnasrinivas commented on #4687
Are you saying AWS-S3 allows space in key? Cursory look at their documentation does not provide that info, if you can provide a test program showing that they allow we can check if we can allow as well.

Are you using minio-java or aws-java-sdk?

[2019-03-29 21:50] kannappanr commented on #7443
@Chandra4Aws Can you please follow the template? Can you be more specific about your use case?

`Environment: Api gateway -> Lambda function (Java) -> S3.`
is it
`Environment: Amazon Api gateway -> AWS Lambda function (Java) -> S3.` ?
Also, what java sdk are you using ? is it `minio-java`?
I am assuming you are using `minio`, when you specify `S3`

Can you provide a sample code for us to reproduce

[2019-03-29 22:09] ebozduman opened #7444 "UnitTestRefactoring: Increase test coverage for "acl-handlers.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
acl-handlers.go | 0%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can be examined when the above

[2019-03-30 00:07] ebozduman opened #7445 "UnitTestRefactoring: Increase test coverage for "admin-handlers.go" and "admin-heal-ops.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
admin-handlers.go | %15.6
admin-heal-ops.go | %3.6

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, c

[2019-03-30 01:36] ebozduman opened #7446 "UnitTestRefactoring: Increase test coverage for "api-errors.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
api-errors.go | %55.0

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can be examined when the above

[2019-03-30 12:59] billcrook commented on #6528
This prevents one from using a mounted disk in minikube as minio storage. I would like to start minio with pre-populated buckets on minikube, but it is not possible. Is there another way to achieve this?

[2019-03-30 14:37] harshavardhana commented on #6528
You can use 1.1GiB to cirumvent this

[2019-03-30 16:02] aeltawela opened #7447 "[New Feature] Support log rotation for HTTP traces"
If HTTP traces is enabled, log file becomes huge that it is very difficult to open or copy. Log rotation would solve this problem. This also can be applied for any file-based logs in Minio.

[2019-03-30 16:13] harshavardhana commented on #7447
We are moving to a different model, by deprecating the env and moving to `mc admin trace` command only behavior.

[2019-03-30 16:29] aeltawela commented on #7447
Do you have details on how it is going to work? mc fetches the traces from certain APIs?  what if the client lost the connection, will it lose the traces? is it possible to have multiple clients fetching the same traces?

[2019-03-30 16:38] symonsoft opened #7448 "Impossible to emulate GCS: Check your Google secret key and signing method."
Unable to initialize GCS service with example provided by the documentation
https://docs.minio.io/docs/minio-client-quickstart-guide.html

    $ mc config host add gcs https://storage.googleapis.com BKIKJAA5BMMU2RHO6IBB V8f1CwQqAcwo80UEIJEjc5gVQUSSx5ohQ9GSrr12
    mc: <ERROR> Unable to initialize new config from the provided credentials. The request signature we calculated does not match the signa

[2019-03-30 16:41] harshavardhana commented on #7447
You can follow the changes here https://github.com/minio/minio/pull/7128 @ahmedabt - yes the changes will be lost if the `mc admin trace` loses the connection.

But you are only interested in tracing only when you are debugging an application behavior, HTTP trace is not a replacement for HTTP logging/audit etc.

For that we have `MINIO_AUDIT_LOGGER_HTTP_ENDPOINT`

[2019-03-30 16:41] nitisht commented on #7448
can you add `--api S3v2` i.e.

[code]

[2019-03-30 16:44] symonsoft commented on #7448
@nitisht Thanks, it works!
I think the documentation should be updated.

[2019-03-30 16:50] harshavardhana commented on #7448
@symonsoft it's already written

Also GCS started supporting S3v4 already not sure why its not working for you

[2019-03-30 17:05] #7448 closed, assigned to nobody

[2019-03-30 20:17] jcharlytown commented on #7349
@harshavardhana, I having a similar request as @timbuchwaldt . I am using the "AssumeRoleWithClientGrants" endpoint in order to acquire a short lived access key/secret.

Does this also apply to "AssumeRoleWithClientGrants"? I don't see how I "provide" a minio user in this case as there is only the JWT of the external user from the identity provider. In https://github.com/minio/minio/blob/master/do

[2019-03-30 20:31] harshavardhana commented on #7349
Your JWT auth token should have an additional claim with key `policy` which points to an existing IAM policy on MinIO created by `mc admin policy`

Your STS tokens inherit this policy.

[2019-03-30 20:36] jcharlytown commented on #7349
Thx for the quick response! I think I managed to successfully do this. Is it some kind of error that the credential I acquired this way don't work in the webinterface? Won't bother you any further :)

Edit: I get credentials back, but they work neither for the webinterface, nor using `mc`.

[2019-03-30 23:08] harshavardhana commented on #7349
Web interface is not extended to allow STS to work, it's a bit cumbersome and also we are planning to reduce the scope of Minio Browser in general.

[2019-03-30 23:09] harshavardhana commented on #7349
mc requires additional support which is not finished yet, it's a work in progress.

[2019-03-31 01:35] kannappanr commented on #7447
@ahmedabt Closing this issue as you can follow the changes in #7128.

[2019-03-31 01:35] #7447 closed, assigned to nobody

[2019-03-31 10:34] jcharlytown commented on #7349
Hi, thanks for letting me know. I didn't realize that in order for the STS credentials to work one also needs to provide the original JWT along with the request. The Amazon S3 documentation clearly states that, so my fault. However, I think it would be helpful to many people to include a short note in the Minio STS doc that this won't work with neither the Minio Browser nor the CLI client. It is v

[2019-04-01 08:36] asb14690 opened #7451 "Accessing custom “X-AMZ-META-xx” metadata from pure frontend application"
In an application built using ReactJs and Minio Javascript SDK, I want to access objects and its metadata (both custom and default) from the bucket stored in the cloud server. I am able to fetch both default as well as custom meta data of the object from the bucket stored in AWS S3 but I failed to access custom metadata of the object stored in minio server bucket.

Note: My application is pure fro

[2019-04-01 08:39] nitisht commented on #7451
Thanks for reporting @asb14690 we'll take a look

[2019-04-01 15:04] billcrook commented on #6528
Can you elaborate? Thanks for your help.

[2019-04-01 16:45] harshavardhana commented on #6528
In your kubernetes yaml, choose 1.1GiB for your PV

[2019-04-01 17:04] harshavardhana commented on #7411
This is not part of the plan for any foreseeable future @chinglinwen - the DNS federation is the right way to scale for large scale data centers. Most modern data applications remember URLs if it comes from cluster1 or cluster2 it doesn't matter. From an application point of view, you are not writing to the cluster1 anymore since it ran out of disk space.

[2019-04-01 18:16] harshavardhana commented on #7359
Anis reproduced this it looks like an upstream Go issue, for now, @vadmeste to fill in more.

[2019-04-01 19:19] #7441 closed, assigned to nobody

[2019-04-01 20:12] vadmeste commented on #7359
The upstream issue https://github.com/golang/go/issues/31192

[2019-04-01 23:05] ebozduman opened #7454 "UnitTestRefactoring: Increase test coverage for "bucket-handlers*.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
bucket-handlers-listobjects.go | %56
bucket-handlers.go | %64

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be show

[2019-04-01 23:11] ebozduman opened #7455 "UnitTestRefactoring: Increase test coverage for "bucket-notification-handlers.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
bucket-notification-handlers.go | 0%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can be examined

[2019-04-01 23:18] ebozduman opened #7456 "UnitTestRefactoring: Increase test coverage for "common-main.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
common-main.go | 22.5%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can be examined when the abov

[2019-04-02 00:16] ebozduman opened #7457 "UnitTestRefactoring: Increase test coverage for "config*.go" files"
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
config-common.go | 28.1%
config-current.go | 60.8%
config-dir.go | 46.7%
config-migrate.go | 69.5%
config.go | 48.5%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit te

[2019-04-02 00:30] ebozduman opened #7458 "UnitTestRefactoring: Increase test coverage for "disk-cache*.go" files"
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
disk-cache-fs.go | 43.3%
disk-cache.go | 13.8%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can b

[2019-04-02 00:34] ebozduman opened #7459 "UnitTestRefactoring: Increase test coverage for "dummy-handlers.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
dummy-handlers.go | 0%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can be examined when the abov

[2019-04-02 00:44] ebozduman opened #7460 "UnitTestRefactoring: Increase test coverage for "encryption-v1.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
encryption-v1.go | 46.1%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can be examined when the ab

[2019-04-02 00:49] ebozduman opened #7461 "UnitTestRefactoring: Increase test coverage for "environment.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
environment.go | 46.7%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can be examined when the abov

[2019-04-02 01:04] ebozduman opened #7462 "UnitTestRefactoring: Increase test coverage for "format-fs.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
format-fs.go | 58.3%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown in red, can be examined when the above

[2019-04-02 02:04] chinglinwen commented on #7411
thanks for the explanation, it makes me feel more confident with dns federation approach. @harshavardhana

[2019-04-02 04:06] kanagarajkm commented on #7451
@asb14690 can you give the sample code used for putObject and statObject?

[2019-04-02 06:45] #6559 closed, assigned to sinhaashish

[2019-04-02 12:58] GvandeSteeg commented on #7401
Is `user foo` the same as `accessKey=foo`? I'm getting a bit confused by the arbitrary examples that we're throwing around

[2019-04-02 13:05] GvandeSteeg commented on #2796
I know I'm several months out of date, but I figured I'd respons to an issue before raising a new one.
I've got a docker-compose file, but it doesn't set up my buckets for me.

[code]

Where `./haem/test_haem/` contains a folder `logfiles`, which contains a file `passing_example.trc`
I use PyCharm to run my docker compose.
When I run this, my Minio browser is completely empty, but running the equi

[2019-04-02 13:28] billcrook commented on #6528
Unfortunately, I still see `ERROR Unable to initialize backend: The disk size is less than the minimum threshold` when using a persistent volume of size 1.1G with a persistent volume claim of 1G. The local disk is correctly mounted in the container via minikube.

Any other recommendations?

My configuration:
`minikube mount tests/data/s3/:/s3-data`

[code]

[2019-04-02 14:14] kannappanr commented on #7401
@GvandeSteeg `foo` is the user created who would only have access to the `logfiles` bucket.

[2019-04-02 14:41] GvandeSteeg commented on #7401
I've got the `mc config host add` part done before, and I have the user `foo`; how do I link one to the other? I can do
[code]
Which shows that foo is enabled for `haem_test`, but still has access to `notlogfiles`

[2019-04-02 15:01] kannappanr commented on #7401
@GvandeSteeg

Can you print the output of

[code]

[2019-04-02 15:03] GvandeSteeg opened #7465 "Docker compose does not create buckets, but Docker does"
## Summary
I've got a folder with a bucket that I want to load:
[code]

With normal docker I can see my files on the browser just fine:
[code]

But with docker compose nothing appears in the minio browser
[code]

I'm using PyCharm professional for running docker compose
[code]

## Expected Behavior
Minio browser at 127.0.0.1:9000 displays the `logfiles` bucket, containing the `passing_example.trc`

[2019-04-02 15:09] thomaslange24 opened #7466 "env variable MINIO_LOGGER_HTTP_ENDPOINT does not change configuration"
I am starting a standalone minio server with the following commands, inserting the corresponding hostname for the http endpoint env variable:

export MINIO_ACCESS_KEY=admin
export MINIO_SECRET_KEY=password
export MINIO_LOGGER_HTTP_ENDPOINT=http://hostname:8080/minio/logs
./minio server /archive/minio_storage

I would like to enable the http target logging. But when i try to access the endpoint it

[2019-04-02 15:17] GvandeSteeg commented on #7465
Somehow the issue resolved itself when I tried recreating my `haem_test` host for #7401

[2019-04-02 15:18] #7465 closed, assigned to nobody

[2019-04-02 15:21] GvandeSteeg commented on #7401
Not sure what's going on, but suddenly I'm getting an error:
[code]

I've tried restarting the minio server, and removed and recreated the host in `mc config host add`, but to no avail.
Is this caused by disabling my own user earlier?

[2019-04-02 15:56] kannappanr commented on #7401
@GvandeSteeg Can you do `mc config host list haem_test` and make sure that it has the admin user credentials and you have not overwritten that?

[2019-04-02 16:07] GvandeSteeg commented on #7401
I think I might have:
[code]

[2019-04-02 16:33] kannappanr commented on #7401
@GvandeSteeg `Is this caused by disabling my own user earlier?` How did you do this? I do not see this.

[2019-04-02 18:59] harshavardhana opened #7468 "[encryption] aws-sdk-php mint test goes into infinite loop with minio gateway s3"
## Expected Behavior
No infinite loop

## Current Behavior
Start `minio server` with encryption on and also `minio gateway s3` also to inherit these variables.

[code]

[code]

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Just run mint tests with above configuration pointing to gateway

[code]

You will see a CPU spike and high usage.

## Context
Double encryption bug

## Regres

[2019-04-02 19:25] #7410 closed, assigned to vadmeste

[2019-04-02 19:30] kannappanr commented on #7466
@thomaslange24 setting `MINIO_LOGGER_HTTP_ENDPOINT` does not modify the config file. Can you run a webhook say at `http://localhost:9000` and then set it's URL as `MINIO_LOGGER_HTTP_ENDPOINT`'s value

[2019-04-02 20:11] thomaslange24 commented on #7466
I have never worked with webhooks. What do i have to do exactly?

[2019-04-03 01:24] harshavardhana commented on #6528
This should work

[code]

Just make sure that `df -h /s3-data` shows at least 1G disk space free.

[2019-04-03 05:15] challarao commented on #7201
Any update on this?

[2019-04-03 05:39] kanagarajkm commented on #7451
I tried with folllowing code, i see the custom metadata shown on statObject and getObject.

React component
[code]
Stat output:
[code]

Response headers for getObject
[code]

Following code is used upload an object with metadata
[code]

[2019-04-03 05:55] kanagarajkm commented on #7466
@thomaslange24 Mino server will send the logs to the configured endpoint as HTTP POST request. So you need to have a web server running which can accept POST requests from minio server. Let's say you have it running on port 9999, then `MINIO_LOGGER_HTTP_ENDPOINT` would be `http://localhost:9999/`.

[2019-04-03 08:20] thomaslange24 commented on #7466
Thats fine. I understand it much better now. But does that mean i can provide any logger http endpoint? The endpoint and port do not have to match the ones for minio server?

[2019-04-03 08:51] kanagarajkm commented on #7466
yes, it can be any http endpoint.

[2019-04-03 09:18] GvandeSteeg commented on #7401
[code]
I disabled myself and enabled foo in an attempt to mock a single user with specific access rights

[2019-04-03 09:19] GvandeSteeg commented on #7401
But I've removed and re-added haem_test in the meantime, so that should've been reset, shouldn't it?

[2019-04-03 09:20] dev-rowbot opened #7471 "Users lost when upgrading minio cluster (systemd)"
I have setup a 4 node minio cluster using the systemd method from here - https://github.com/minio/minio-service/tree/master/linux-systemd/distributed

I just tested upgrading the cluster now and it lost the "users" I added yesterday. I performed a rolling upgrade by stopping a node, replacing the minio executable, starting the node.

Old Minio version: 2019-02-06T21:16:36Z
New Minio Version: 2019-

[2019-04-03 09:37] asb14690 commented on #7451
@kanagarajkm Thanks for the quick response. I have called the statObject method in the same way as you have done in your code above. However, after spending some time with the code, I realized that code is working fine with demo Minio instance hosted at https://play.minio.io:9000. But It's not working with my Minio server instance.

Since I am able to fetch all metadata(both custom and default) fr

[2019-04-03 09:55] kanagarajkm commented on #7451
@asb14690 can you run `mc stat` and see if the headers are present?
For example, `mc stat local/testbucket/sample1.jpg`

It returned the following result for me
[code]

[2019-04-03 09:56] thomaslange24 commented on #7466
Thanks. That was all i wanted to know.

[2019-04-03 10:19] thomaslange24 commented on #7466
Although, one more thing. I am starting the server as systemd service on CentOS and would like to view any Logs from Minio in Kibana. How would i do that the best way?

[2019-04-03 10:30] kanagarajkm commented on #7466
I assume you already have an elastic backend for kibana. This post explains the steps to configure logstash to receive http messages https://www.elastic.co/blog/introducing-logstash-input-http-plugin. Once its configured you need to set MINIO_LOGGER_HTTP_ENDPOINT to logstash url.

[2019-04-03 10:38] asb14690 commented on #7451
Thanks @kanagarajkm for your support. I just updated the minio server to the latest version and now I am able to fetch all the metadata in the browser.

[2019-04-03 10:38] #7451 closed, assigned to kanagarajkm

[2019-04-03 10:43] dev-rowbot opened #7472 "User cannot create bucket from Web UI"
I have created a user using the minio command line client and assigned the `readwrite` policy to the user.
I can use the command line client to create buckets with that same user but I cannot create a bucket using the Web UI. Everytime I try create a bucket I am presented with the error:
`Do not have enough permissions to access this resource`

This is a fresh minio installation so there have been

[2019-04-03 10:44] thomaslange24 commented on #7466
Thanks

[2019-04-03 13:15] nitisht commented on #7443
closing this for now @Chandra4Aws . Feel free to reopen when you have the requested info

[2019-04-03 13:15] #7443 closed, assigned to nobody

[2019-04-03 13:18] nitisht commented on #6904
Closing this for now @kirankanth . Please do let us know if there are problems again

[2019-04-03 13:18] #6904 closed, assigned to krisis

[2019-04-03 14:45] billcrook commented on #6528
`df` shows 0 bytes inside the container. The mount to the host disk is working however - I can see the files on disk from the container. Any other thoughts?

[2019-04-03 14:52] Chandra4Aws commented on #7443
Sorry for the delay.
Java version: 1.8
Amazon API Gateway, -> AWS Lamda Function (Java jar upload) -> S3.

Code:

private boolean parseInputStream(InputStream inputStream) {
		System.out.println("parseInputStream :: Start");
		BufferedReader reader = new BufferedReader(new InputStreamReader(inputStream));
		int letter;
		boolean status = true;
		StringBuffer requestParam = new StringBuffer();
		JS

[2019-04-03 14:59] harshavardhana commented on #6528
@billcrook you don't need to do hostpath mount in this manner,  just provide the PV claim and it shall be provisioned, unless you want persistence.

Please join https://slack.minio.io for more real-time discussion.

[2019-04-03 15:11] kannappanr commented on #7472
@dev-rowbot Will reproduce this issue and send in a fix. Thanks for filing this issue.

[2019-04-03 15:41] vadmeste commented on #7471
@dev-rowbot I tested the rolling update from 2019-02-06T21:16:36Z to 2019-03-27T22:35:21Z.

Users list is not lost, it is just not loaded during the rolling update for some reasons, you need to wait 5 minutes after all Minio instances are updated and the list be will refreshed again

[2019-04-03 15:48] harshavardhana commented on #7471
It is not updated until we have quorum.

[2019-04-03 15:55] vadmeste commented on #7471
Yes, this happens because updated nodes refuse to wake up because of API incompatibility, I checked the migration from a more recent version and it works just fine.

@dev-rowbot if you are still experimenting the issue even after restarting all nodes, then you must have another issue

[2019-04-03 18:00] kirankanth commented on #6904
Thanks. No issues at this time.

[2019-04-03 19:01] billcrook commented on #6528
My host mount contains a bunch of data that I want to seed the bucket with.

I'll join the slack.

[2019-04-04 01:25] billcrook commented on #6528
I tracked it down to this issue in minikube: https://github.com/kubernetes/minikube/issues/3794

[2019-04-04 04:15] fwwucn opened #7480 "'TLS handshake error from 172.17.0.1:59810: remote error: tls: unknown certificate' error when using minio with https in kubernetes"
## Expected Behavior
Successfully call getPresignedObjectUrl with Java SDK.

## Current Behavior
Got an exception when calling getPresignedObjectUrl with Java SDK.
`Error: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target`

Error shown in the log of minio pod:

[2019-04-04 05:50] ShaunMaher commented on #7400
Hi.

I'm not entirely sure that this issue is resolved yet.  I have just submitted the following in the Slack channel, which I'll copy here for reference.

[code]

[2019-04-04 08:55] JetChars opened #7481 "s3 gateway handle invalid range 416 improperly"
## Expected Behavior

status code 416

## Current Behavior

[code]

## Possible Solution

- update func `ErrorRespToObjectError` and func `toAPIErrorCode` to handle exception type `InvalidRange`

## Steps to Reproduce (for bugs)

1. `touch empty`
2. `s3cmd put empty s3://foobar/empty`
3. `s3cmd get s3://foobar/empty -f`

## Context

Inappropriate 500 will lead to a bad user experience

## Regressi

[2019-04-04 09:41] kannappanr commented on #7400
@ShaunMaher It could be that the data is not written on all disks. Can you try
[code]

This will tell you how many disks and what all disks have data for that object

[2019-04-04 09:59] snandy-git opened #7482 "Minio container is showing the status unhealthy"
Minio container is sometimes not working and we are restarting the container and it becomes ok. I checked that the status of minio container is always unhealthy .

## Expected Behavior

## Current Behavior
 Minio container is showing the status unhealthy. When I am running "docker restart <container_id>", then it is again ok. But after sometimes it again becomes unhealthy.

## Possible Solution

#

[2019-04-04 10:00] nitisht commented on #7482
We made some relevant fixes in new releases @snandy-git can you update to latest release and try again?

[2019-04-04 10:01] snandy-git commented on #7482
Can you tell me the latest release name ?

[2019-04-04 10:03] nitisht commented on #7482
`RELEASE.2019-03-27T22-35-21Z `

[2019-04-04 10:22] prasus opened #7484 "Failed to retrieve object error in distributed mode"
## Expected Behavior

File download using s3 client/mc should work if the file exits in the minio cluster.

## Current Behavior

I have got a six node distributed setup on k8s, what I observed is that my cluster sometimes seems to have problems when downloading larger files (`> 20Mb`) using s3 client, I get `Failed to retrieve object at xxxxxxx` error, but the file does exist and surprisingly it w

[2019-04-04 10:30] nitisht commented on #7480
can you log on to the MinIO container and verify if the certs and keys are stored at expected locations. Specially if `/root/.minio/certs/CAs` has the same `public.crt` file that you created

[2019-04-04 10:39] nitisht commented on #7484
@prasus please follow the issue template, we need info like Minio version you're using, your setup details like memory available on each container, etc..

[2019-04-04 10:53] snandy-git commented on #7482
Thanks. Now I will use the docker compose to install minio cluster . But I have already installed it before with the previous release. So, should I remove the previous containers or it will automatically merge or update with those containers ?

[2019-04-04 10:55] eorsavik opened #7485 "How to install minio from source ?"
How to build and install Minio from source ?
In the url it says to execute the following command :
"go get -u github.com/minio/minio"

Does the above command only download the source?  What are the steps to build the Minio?

[2019-04-04 10:58] nitisht commented on #7485
you can check the document here https://github.com/minio/minio/blob/master/CONTRIBUTING.md

closing this for now, feel free to join us on Slack [https://slack.min.io] for more such questions.

[2019-04-04 10:58] #7485 closed, assigned to nobody

[2019-04-04 11:00] nitisht commented on #7482
you can try a docker compose down, update the yaml with latest image tags and then again docker compose up..

I am assuming you have persistent volume mounts to ensure data is not lost when container are recreated.

[2019-04-04 11:06] prasus commented on #7484
@nitisht done. thank you.

[2019-04-04 12:30] fwwucn commented on #7480
@nitisht Seems has the same public.crt.
[code]

And also view the content of both public.crt, they are totally same.
[code]

[2019-04-04 13:48] thomaslange24 commented on #7466
What does a log entry from minio look like in json format? WHich fields does it have? It is hard to make minio log some error.

[2019-04-04 14:02] nitisht commented on #7480
can you try connecting to this MinIO instance with `mc` - you may need to use the `--insecure` flag..

[2019-04-04 14:09] nitisht commented on #7484
Thanks @prasus . This is not expected or known. Are you trying these operations in parallel? How are you uploading the files? What is the backend storage being used here, I mean the PV type?

[2019-04-04 15:19] fwwucn commented on #7480
Yes, I can connect with `--insecure`, but no clue found.
[code]

Or do you have other approaches (TLS way is not my purpose) or best practice, to let a HTTPS web app access a VALID presigned HTTPS url generated by minio in k8s?
My web app (also deployed in k8s) wants to use presigned url to upload/download file, so it calls its 'storage service' to get a presigned url from minio.

My original solu

[2019-04-04 15:51] challarao commented on #7206
Is it a regression after September release?

[2019-04-04 15:53] harshavardhana commented on #7206
No it is not a regression.

[2019-04-04 17:13] prasus commented on #7484
Thanks for your response @nitisht, No we are not trying the operation in parallel. The read is performed after the files are uploaded to the cluster.

We use self hosted kubernetes (bare-metal) and local storage, The PV's are created from underlying SSD disks.

Let me know if you need any other details, Thanks!

[2019-04-04 20:25] jaceksan commented on #7150
any progress?

[2019-04-04 20:55] vadmeste commented on #7150
Fixed by https://github.com/minio/minio/pull/7251

[2019-04-04 20:55] #7150 closed, assigned to vadmeste

[2019-04-04 22:05] kannappanr commented on #7481
@JetChars Can you specify more about the gateway part. I tried two things one is that the backend in the case of `s3 gateway` is minio and in the other scenario, it is `aws s3` and in both cases I did not see this issue.

So, can you specify more info about your `minio` version and the backend `s3` server that you are using etc.

[2019-04-04 22:17] kannappanr commented on #7466
Here is the template
[code]

Here is the sample output

[code]

The documentation at https://github.com/minio/minio/tree/master/docs/logging should have this information. Will try to add it here.

[2019-04-05 00:15] ShaunMaher commented on #7400
Thanks for the followup and re-opening the bug.

For just the file in question:
[code]

So, it has come corrupt parts.  I'll repeat my testing with another file in the bucket and get back to you shortly.

Cheers.
Shaun.

[2019-04-05 00:21] kannappanr commented on #7400
@ShaunMaher If `miniodata6` is down, you should be able to read the data. If either `miniodata7` or `localhost` is down, then there isn't enough quorum, so you will not be able to read the data. Will have to check why it is taking so long to respond when one of the nodes is down. Can you validate if the read is fast if `miniodata6` is down when you try to read this object?

[2019-04-05 00:31] ShaunMaher commented on #7400
OK! this is more like what I expected!

With all 3 nodes (6 disks) running:
[code]
Super fast, super happy.

Shut down one node and then immediately make a request:
[code]
104s.  That sucks but if it takes ~120s for the cluster to notice there's an issue, fine.

Next request for the same file:
[code]
5s.  Slow but operational.  The cluster is serving content in a reasonable time.  Users get a slug

[2019-04-05 00:42] kannappanr commented on #7472
@dev-rowbot Will allow it in browser. Will send in a PR to fix this issue.

[2019-04-05 00:43] harshavardhana commented on #7400
Thanks @ShaunMaher closing

[2019-04-05 00:43] #7400 closed, assigned to harshavardhana

[2019-04-05 00:51] kannappanr commented on #7466
@thomaslange24 Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2019-04-05 00:51] #7466 closed, assigned to nobody

[2019-04-05 09:25] vermaden opened #7488 "User secretKey in plain text in the identity.json file"
Hi,

The **secretKey** is kept in _plain text_ in the **identity.json** file on Minio.

Example below. The Minio version is 2019-02-06.

[code]

I would like to convert that _plain text_ password to some hash that will not be readable as plain text and Minio will still work.

Example solution.

[code]

Is it possible?

Thanks,
vermaden

[2019-04-05 10:41] Raghu-Farmagain opened #7489 "Unable to upload using the UI, UI shows 100% uploaded, but the file is not actually uploaded"
Unable to upload files to any bucket using UI, this is a recent issue earlier we were able to upload. The progress bar says 100% but the file is not getting uploaded

[2019-04-05 10:52] nitisht commented on #7489
@Raghu-Farmagain please use the issue template to provide details. It is really difficult to identify the problem otherwise. Closing this for now, feel free to reopen once you have all the info as per the template

[2019-04-05 10:52] #7489 closed, assigned to nobody

[2019-04-05 11:55] marcadella opened #7490 "access denied by intermitance"
## Expected Behavior

Here is my set-up:
I deployed Minio with docker (sha beginning with "ea5c51d826ad") in an environment using OAuth2. Since Minio does not support OAuth2, I use the following work around:
- the authorization service has the admin credentials of Minio and is free to create as many users as it wishes (for now I used read-write policy only) via mc.
- when a component needs to acce

[2019-04-05 15:14] harshavardhana commented on #7488
It is currently intentionally kept this way @vermaden

You should enable server side encryption which we already provide to encrypt these objects.

[2019-04-05 15:17] harshavardhana commented on #7490
Which version of MinIO are you running? And also a sample script to reproduce this?

[2019-04-05 15:40] aead commented on #7488
Hi @vermaden this is on purpose and it is actually not possible to store just a 'hash' value (like the output of argon2). The reason for this is how AWS S3 authentication works. It's not like you sending the access key / secret key to the server as part of a request but you actually compute a HMAC over certain request headers using the secret key as HMAC key. If we would store just PBKDF hash of t

[2019-04-05 15:41] aead commented on #7488
Closing this since this is not possible - please reopen if you've still concerns

[2019-04-05 15:41] #7488 closed, assigned to nobody

[2019-04-05 16:38] vermaden commented on #7488
Thank you very much for working alternative - encryption - that will do :)

Regards,
vermaden

[2019-04-05 18:35] #7238 closed, assigned to wlan0

[2019-04-06 04:37] JetChars commented on #7481
I'm using ceph/s3(Jewel) as the backend, which will return 416 if object size if zero.
Maybe you can try to retrieve an object with a manually specified range in aws s3 to reproduce a similar situation.

[2019-04-06 04:43] JetChars commented on #7481
In func `ErrorRespToObjectError`, forget to handle issues like invalid range, maybe some other exception types too.

![image](https://user-images.githubusercontent.com/5701082/55664944-48efdb80-5869-11e9-9da0-94a812bff3f6.png)

[2019-04-06 14:23] kannappanr commented on #7482
ping @snandy-git Can you please try the suggestion and get back to us?

[2019-04-06 14:33] kannappanr commented on #7481
can you specify your minio version ? It will be easy for us if you follow the issue template.

[2019-04-06 15:28] kannappanr commented on #7481
Also, I have tested it against `s3`, `s3 gateway with AWS as backend` and `minio` with latest master and I am receiving `416` in all scenarios.

Here is a reproducer code, that you can run. It assumes that you have the bucket and an empty object and uses aws-sdk-go.

[code]

[2019-04-06 20:23] kannappanr commented on #7484
@prasus Can you try `mc cp --debug miniopoc/rawdata/xe_os_events_status,com.moon,20190403.csv.gz . ` This might have more information when you encounter a failure.

[2019-04-06 20:30] bagr001 commented on #7420
@wittech When you are reqesting a resources on a different domain and Access-Control-Allow-Origin is a wildcard (enableas anyone to reqest the resource), you cannot use the withCredentials attribute due to security. Read more here: [https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSuppor

[2019-04-06 20:45] bagr001 opened #7492 "Access-Control-Expose-Headers must not be a wildcard (*)"
PR #7331 fixes the issue, but not completely. According to the comment  https://github.com/minio/minio/issues/7289#issuecomment-471321861 the wildcard breaks the functionality in Firefox. The bug is tracked here: [https://bugzilla.mozilla.org/show_bug.cgi?id=1309358](https://bugzilla.mozilla.org/show_bug.cgi?id=1309358)

## Expected Behavior
Access-Control-Expose-Headers response header contains l

[2019-04-07 11:42] SteveEdson opened #7493 "Disable Metrics / Add authentication"
I wasn't aware that minio was exposing metrics about my server publicly, without authentication. Is it possible to disable this, or add authentication to it?

I'm running it behind Traefik, so I'm aware I can do it that way, I'd just rather have this built into Minio itself.

## Expected Behavior
Metrics can be disabled / add authentication

## Current Behavior
Public and enabled by default

## Yo

[2019-04-07 20:02] kannappanr commented on #7492
@bagr001 Thanks for filing this issue. We will talk internally and get back to you on how this can be done.

[2019-04-07 20:08] kannappanr commented on #7493
@SteveEdson Thanks for filing this issue. Will check internally and get back to you with what we decide.

[2019-04-07 23:38] kannappanr commented on #7481
@JetChars Closing this issue as working as intended. Please feel free to reach out to us, if you can reproduce this issue with either `play` or `AWS S3` as backend with the code given above.

[2019-04-07 23:38] #7481 closed, assigned to sinhaashish

[2019-04-08 02:18] kannappanr commented on #7304
Closing this issue as `minio` currently uses the latest repo

[2019-04-08 02:18] #7304 closed, assigned to nobody

[2019-04-08 08:31] Hermain opened #7495 "Post (not put) to upload to public bucket"
## Expected Behavior
I am trying to upload to a bucket with public or upload policy using a Post.

Is it possible to upload a file (lets say with curl) to a public bucket using the post method and no authentication?

I would like to be able to post for an upload without authentication: e.g:

curl -v  http://localhost:9000/ -F bucket=test -F file=@myfile

## Current Behavior
[code]

I would expect

[2019-04-08 08:33] nitisht commented on #7495
@Hermain please use the issue template. It helps us understand the context, also please provide a sample code snippet to help us recreate the problem you're facing.

[2019-04-08 09:28] Hermain commented on #7495
I updated it. Is it possible at all to do what I want or is a put the only way to upload without authentication?

[2019-04-08 10:29] Praveenrajmani commented on #7495
@Hermain , You can construct a pre-signed post URL. Please refer - [https://docs.min.io/docs/golang-client-api-reference.html#PresignedPostPolicy](https://docs.min.io/docs/golang-client-api-reference.html#PresignedPostPolicy)

The steps are

- Create a bucket
- Set the bucket policy with `mc policy`
- Create a presigned post url
- Curl the url

[2019-04-08 10:45] schlitte opened #7496 "Listing not working properly when using gateway & SSE"
The "ls" command is very slow when used for listing bucket/directory content. For large directories, the list of files corrupt. It does not show all files and all the files it lists are all listed twice. Both the slowness and the fact that the results are not reliable cause a problem for us.

## Expected Behavior
Complete list of files is returned within a few seconds

## Current Behavior
- "ls" o

[2019-04-08 13:59] harshavardhana commented on #7496
This is fixed in #7491

[2019-04-08 15:17] stefan-as opened #7497 "NoSuchBucket error since RELEASE.2019-04-04T18-31-46Z"
## Expected Behavior
Find all valid buckets, as Minio did before RELEASE.2019-04-04T18-31-46Z

## Current Behavior
Some buckets are not found any longer.

## Steps to Reproduce (for bugs)
1. name a bucket `tests-u7qDIFZFQoWRbWAvjPXzLA`
2. Upgrade to minio.RELEASE.2019-04-04T18-31-46Z

## Context
Using minio as an elasticsearch S3 repository, snapshot backend fails since RELEASE.2019-04-04T18-31-46

[2019-04-08 15:20] harshavardhana commented on #7497
These bucket names were never valid @stefan-as and it cannot be allowed as well it is part of a stricter validation which we had to add due to security requirements.

[2019-04-08 15:33] stefan-as commented on #7497
Filed a bug report for elasticsearch https://github.com/elastic/elasticsearch/issues/40968

[2019-04-08 15:43] harshavardhana commented on #7497
Capitalized bucket names are deprecated in AWS as well other than the us-east-1 regions, we do allow existing buckets though with capitalized names.

But do not allow creating new ones which do not follow the AWS spec.

[2019-04-08 16:30] fwwucn commented on #7480
For those who has the similar issue:
I resolved the error 'The request signature we calculated does not match the signature you provided. Check your key and signing method.' just by setting Host in header. (tested on minikube 1.0.0 & kubectl 1.14.0)

Please follow the 2 steps:
1. No need to deploy minio with https, just use http and replace the original presigned url generated by minio like `http:

[2019-04-08 16:30] #7480 closed, assigned to nitisht

[2019-04-08 16:31] fwwucn commented on #6853
@mrceresa For those who has the similar issue:
I resolved the error 'The request signature we calculated does not match the signature you provided. Check your key and signing method.' just by setting Host in header. (tested on minikube 1.0.0 & kubectl 1.14.0)

Please follow the 2 steps:
1. No need to deploy minio with https, just use http and replace the original presigned url generated by minio l

[2019-04-08 17:05] kannappanr commented on #7495
@Hermain I don't think it is possible. I tried this with AWS S3 and here is the result

[code]

[2019-04-08 17:08] Hermain commented on #7495
@Praveenrajmani unfortunately that presigned url only works with authentication as far as I can tell. I couldn't get it to work by removing the signature and other x-amz parts.
Though I didn't use the go client instead the mc client but the curl comand they spit out should be the same right=?

[2019-04-08 17:13] chrischdi commented on #7304
@kannappanr : the current master still imports and uses the deprecated `github.com/coreos/etcd` which is fine as long as you v3.3.12 is used .
Just like mentioned in https://github.com/etcd-io/etcd/issues/10398#issuecomment-469439257 : beginning with v3.4 the dependency should be changed to go.etcd.io/etcd :-)

[2019-04-08 17:19] harshavardhana commented on #7304
We are not planning to change that, we tried we saw many of our existing deps haven't moved. So we won't move either - we will come to that when we do @chrischdi

[2019-04-08 17:38] kannappanr commented on #7495
@Hermain The link has been updated. With pre-signed URL, the application will only have access to the URL. Yes, to generate the URL, you need to have credentials.

[2019-04-08 17:43] kannappanr commented on #7495
@Hermain If you are ok with using `PUT`, then ```curl -X PUT -T /etc/issue https://play.min.io:9000/public/issue```  will work. Here `public` is a `public` bucket that I created on `play`

But I see that you do not want to use `PUT`. Then your option probably is to use pre-signed url like explained by @Praveenrajmani

[2019-04-08 21:19] donatello commented on #7292
@sinhaashish The library is doing a HEAD before the GET and the precondition error is coming from that.

We get InvalidRange error instead of Precondition failed on a direct get (for e.g. with aws cli).

[2019-04-08 21:20] donatello commented on #7292
The bug is that the range is validated on the server, before the pre-conditions.

[2019-04-08 22:01] thaney071 opened #7499 "Invalid bucket name labels being created"
I am finding that buckets like `apple-.one` are being created when they are invalid names. This causes issues when an object is stored in the said bucket because the object cannot be deleted due to an invalid bucket name.

## Expected Behavior
Buckets with labels separated by dot (.) should not begin or end with hyphens (-)
`one-.two` or `one.-two` is invalid.

basically, labels in a bucket name m

[2019-04-08 22:12] #7468 closed, assigned to poornas

[2019-04-08 23:22] kannappanr commented on #7499
@thaney071 We will look into this issue. I think we should not be creating the bucket in the first place as described in AWS https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-s3-bucket-naming-requirements.html

[2019-04-09 08:11] npfistner commented on #5139
Any news concerning lifecycle support?

I tried using S3 SDK setBucketLifecycleConfiguration against a loacal minio:minio/latest docker instance and ran into
`com.amazonaws.services.s3.model.AmazonS3Exception: A header you provided implies functionality that is not implemented (Service: Amazon S3; Status Code: 501; Error Code: NotImplemented; ...`

[2019-04-09 08:15] harshavardhana commented on #5139
@npfistner we have deferred this to future for now.

[2019-04-09 08:16] npfistner commented on #5139
Same with minio:minio/edge:
`com.amazonaws.services.s3.model.AmazonS3Exception: A header you provided implies functionality that is not implemented (Service: Amazon S3; Status Code: 501; Error Code: NotImplemented;`
Using AWS SDK com.amazonaws:aws-java-sdk-bom:1.11.531

[2019-04-09 08:19] npfistner commented on #5139
What a pitty. Bucket Lifecycle configuration support would make it a lot easier to use minio for us.

[2019-04-09 08:20] npfistner commented on #5139
Any suggestions for a workaround?

[2019-04-09 08:22] ahilsend commented on #5139
We currently have a cronjob with `mc rm --older-than 29 --recursive --force minio/<bucket>` to cleanup content older than 29 days. It would be better to have this built-in, but it does the job for now

[2019-04-09 08:27] npfistner commented on #5139
Mmh, we do have a single deadline for our objects. Depnding on tags we should be able to apply different expiration day limits. Seems not to be able with the mentioned minio client command `mc rm `

[2019-04-09 08:31] npfistner commented on #5139
An a cron job encreases deployment and management complexity. Seem not to fit really well int a dockerized enterprise environment.

[2019-04-09 08:32] hamid-elaosta commented on #5139
Minio could really benefit from a TTL per-object.

I have requirements to clean up stored objects after arbitrary periods.

This could be done with some meta and a clean job but a Redis-like TTL would be much easier to work with.

Other projects which normally use S3 are dependent on the lifecycle feature of AWS and Minio is therefore not "S3 compatible" in that sense.

[2019-04-09 08:36] hamid-elaosta commented on #7493
@SteveEdson please tell me this isn't on the main port? If not, at least we can firewall the port for an easy solution.

I'm going to have to check this when I get to a PC.

[2019-04-09 08:39] SteveEdson commented on #7493
Yep, same port that Minio runs on. In theory, every instance of Minio is also reporting metrics at `/minio/prometheus/metrics`

[2019-04-09 08:43] hamid-elaosta commented on #7493
Ugh, and it's unauthenticated?

That's a bother.

Minio: please at an option to disable this, an open metrics endpoint is not acceptable in my "environment".

[2019-04-09 08:46] harshavardhana commented on #7493
Prometheus exporter endpoints are expected to be unauthenticated by default, this is the most idiomatic way to do it.

[2019-04-09 08:48] npfistner commented on #5139
Now I'm confused:
The [Minio Java API Client reference](https://docs.min.io/docs/java-client-api-reference#setBucketLifeCycle) states support for the feature.
Is this feature really working with the minio server?

[2019-04-09 08:50] harshavardhana commented on #5139
It was added as part of AWS S3 API support as a precursor for server support, but server change has taken lower priority at this point in time.

[2019-04-09 08:51] npfistner commented on #5139
Understood, but not happy about it ...

[2019-04-09 08:53] SteveEdson commented on #7493
That's one thing, but even if I agree or disagree with that, how do we turn it off / authenticate it?

There's a difference between Prometheus endpoints being unauthenticated by default, and enabled by default.

[2019-04-09 09:06] harshavardhana commented on #7493
It is enabled by default just as traefik enables it by default on /metrics, and yes we don't provide an option to disable it because the reasoning is quite simply when would you not want to monitor your MinIO deployments, all production deployments always need it.

I don't see anyone adding authenticated layers for /metrics endpoints - popular examples

- https://coreos.com/etcd/docs/latest/op-gui

[2019-04-09 09:11] hamid-elaosta commented on #7493
That's a sweeping statement that I'm afraid doesn't apply for security focused industry.

I understand that security is not the main focus of Minio , but it needs more focus than it currently has.

We_always_ use Prometheus authenticated. I need an option to disable it, at least, or require authentication.

Now I know this is as it is; im forced to manage it in a reverse proxy, which is more effor

[2019-04-09 09:14] SteveEdson commented on #7493
Traefik doesn't enable it by default, you have to add the config option as defined at:

https://docs.traefik.io/configuration/metrics/

That's not the problem, I don't want **others** to be able to monitor **my** instance.

[2019-04-09 10:27] Qtexl2 opened #7501 "Internal error when minio using HTTPS and application is working in a multithreading mode"
## Expected Behavior

I would like to upload any files with the same/diferent names in multithreaded applications by HTTPS.

## Current Behavior

Minio is started as a NAS gateway with SSL. I try to upload a file with the same name used five threads.  After that I catch the following exceptions:

[code]

[code]

[code]

## Possible Solution

Before we used minio without SSL and didn't have any pro

[2019-04-09 10:36] JiandongLu opened #7502 "worm config of minio server should be turned on by the mc command"
## Expected Behavior

## Current Behavior
if the worm of a cluster has been turned on,
we could turn off worm **only by** setting the environtment variable  MINIO_OFF=off
it is very hard to use for users of minio

## Possible Solution
1) the worm should be turned off by the command
mc admin config set minio_name < ./minio.conf

2)  worm  should be turned on/off specific bucket but currently on the

[2019-04-09 12:43] lseelenbinder opened #7503 "Distributed: PutObject io: read/write on closed pipe"
## Expected Behavior
Upload via PutObject succeeds.

## Current Behavior
Upload via PutObject succeeds when uploads are fast or multipart. However, these same uploads fail when the upload speed is longer (slower connection) or a longer file. This does not occur in standalone mode. I have tested with 4 and 6 replicas in distributed mode, and the same error occurs.

I have observed failure consisten

[2019-04-09 13:32] kannappanr commented on #7502
Please take a look at https://docs.min.io/docs/minio-server-configuration-guide.html

[2019-04-09 15:17] #7472 closed, assigned to sinhaashish

[2019-04-09 15:18] harshavardhana commented on #7502
Environment variables if set override the config, just remove the env and you should be able to use `mc admin config get/set`

[2019-04-09 16:05] harshavardhana commented on #7493
First, this line is quoted out of context the entire word before this line is removed @SteveEdson and @hamid-elaosta the entire statement was following

With that established, there is a good reason for this as I explained above, that most software implementing Prometheus endpoints all of them implement unauthenticated endpoints.

- etcd
- cockroachdb
- coredns

and many more

The primary reason i

[2019-04-09 16:24] SteveEdson commented on #7493
CoreDNS mainly runs on port 53 though, metrics are exposed on port 9253, so I'd have the option of not exposing that port, and therefore metrics to the public.

CoachroachDB exposes metrics through its Admin UI, on port 8080, not on its main ports, so again, I'd have the option of not exposing port 8080 to the public, therefore preventing anyone getting access to my metrics.

Not true, I can set t

[2019-04-09 16:39] harshavardhana commented on #7493
This authentication is for your entire traefik deployment, this is not for /metrics alone @SteveEdson - how can you make this work with S3 clients? and Basic authentication is not an authentication you can rely on anyone can know this without a TLS connection.

This I agree since its a DNS service it needs to be on a different port.

The reason we do on same port is simplicity, having multiple por

[2019-04-09 17:12] hamid-elaosta commented on #7493
Apologies, there was no malicious intention and I see how it looks like I was quoting it out of context. This was short because I was typing on mobile without access to advanced editing functions on Github, or a proper keyboard for that matter.

Expectation by an industry largely unconcerned with security at the level those of us that are concerned with it require, doesn't mean the rest of us shou

[2019-04-09 17:20] harshavardhana commented on #7493
Okay understood. Thanks will get back after discussing with rest of the team.

[2019-04-09 18:10] vadmeste commented on #7502
Just wanted to say this has a bad user experience, when one user turns on WORM flag via mc config in a production environment, it won't be able to revert it back.

Also I know that if WORM is enabled, users should not be able to disable it, I am not sure what is the correct trade off here

Probably we can have a warning message in the config help message that will come later.

[2019-04-09 18:18] ramondeklein commented on #7492
Is there a Minio version that I can downgrade to safely? We have this issue now on our production services and all Firefox users are experiencing this issue...

[2019-04-09 18:20] harshavardhana commented on #7502
WORM is special, it's like saying if I turn off encryption - all my objects should be decrypted. We shouldn't do that so should be WORM.

[2019-04-09 18:42] kannappanr commented on #7497
@stefan-as Closing this issue as working as intended. Please feel free to reach out to us if you have more questions.

[2019-04-09 18:42] #7497 closed, assigned to nobody

[2019-04-09 18:43] kannappanr commented on #7496
Closing this as fixed by #7491

[2019-04-09 18:43] #7496 closed, assigned to aead

[2019-04-09 18:46] kannappanr commented on #7495
@Hermain Closing this issue as working as intended. Please feel free to reach out to us if you have more questions.

[2019-04-09 18:46] #7495 closed, assigned to Praveenrajmani

[2019-04-09 18:48] kannappanr commented on #7502
@JiandongLu Closing this issue as working as intended. Please feel free to reach out to us if you have further questions.

[2019-04-09 18:48] #7502 closed, assigned to nobody

[2019-04-09 20:01] kannappanr commented on #7503
@lseelenbinder Will try to reproduce this internally and get back to you.

[2019-04-09 20:11] kannappanr commented on #7482
@snandy-git Closing this issue as answered. Please feel free to reopen if you still face issues.

[2019-04-09 20:11] #7482 closed, assigned to nobody

[2019-04-10 00:07] JiandongLu commented on #7502
wo have modified the second solution as:
"worm should be turned on/off specific some bucket(s) but currently on the whole cluster"

[2019-04-10 09:09] lagorsse commented on #5139
I would need that too

[2019-04-10 10:16] 4n70w4 opened #7506 "Question: How to create forever share file url?"
Through the web interface and mc command, I can create only a maximum of 7 days.

I'm confused. I need permanent links to files.

I do not want to make the bucket public.
I don't want an unauthorized user to see a list of all files in bucket.
I do not want the files to be accessible by name.
I want the files to be accessible via a link with a random code.
I need the protection of file names from b

[2019-04-10 10:21] nitisht commented on #7506
S3 API limits the presigned URL expiration to 7 days max, ref: https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html

So it is not possible to create a URL with permanent link.

Closing this issue as working as intended

[2019-04-10 10:21] #7506 closed, assigned to nobody

[2019-04-10 11:53] 4n70w4 commented on #7506
@nitisht I'm happy for you, what you did as intended.
But it does not solve problems and creates unnecessary restrictions.

I would like to be able to configure the system to fit my needs.

Aggressively closing issues is not polite. Dislike for you.

[2019-04-10 12:13] nitisht commented on #7506
S3 compatibility is one of the main goals of MinIO and this behaviour you're expecting is not S3 compatible. Unfortunately I don't think there is much we can do here.

Please accept my sincere apologies, my intention was not to offend you. I closed the issue because this  has been discussed earlier, and MinIO stance about such behaviour not compatible has been conveyed.

[2019-04-10 12:24] Hermain commented on #7495
The whole point is to not use put. I wanted to know if and how its possible to upload a file without authentication using post. kannappanr says he doesn't think its possible so I guess it isnt.

[2019-04-10 12:49] lseelenbinder commented on #7503
Thanks @kannappanr.

Just for a bit more context, we have a streaming aiohttp server in front of this, but we've been able to replicate this with or without that server using presigned URLs.

[2019-04-10 15:21] harshavardhana commented on #7495
It is not possible without authentication using POST @Hermain

[2019-04-10 17:44] Hermain commented on #7495
Thank you for clearing that up

[2019-04-10 18:05] #7409 closed, assigned to aead

[2019-04-10 18:31] #7399 closed, assigned to poornas

[2019-04-10 20:24] kannappanr commented on #7503
@lseelenbinder Can you try out this docker image `r1j1m1n1/minio:close_debug` . I was unable to reproduce this issue. We went through the logs that you posted and added little more logging, that might give some clue as to why this might be happening. Can you please give this a try and post the logs back here?

[2019-04-11 01:29] flado opened #7508 "HTTP POST multipart/form-data; issue with Signature v4"
HTTP POST multipart/form-data; issue with Signature v4

## Expected Behavior

Would expect AWS S3 presignedPOstPolicy v4 to work with Minio

## Current Behavior

Trying to HTTP POST a presigned Post request build with `aws-s3` client for nodejs:

`s3 = new AWS.S3({
    accessKeyId: 'B20Y9KYKNTNWKL3P084H',
    secretAccessKey: 'abx8qijUUW5oWdNB+k6FXMA0ujxZoRnDhre+yurj',
    endpoint: 'http://127.0.

[2019-04-11 02:21] flado commented on #7508
Using: "aws-sdk": "^2.372.0",

  s3 = new AWS.S3({
    accessKeyId: 'B20Y9KYKNTNWKL3P084H',
    secretAccessKey: 'abx8qijUUW5oWdNB+k6FXMA0ujxZoRnDhre+yurj',
    endpoint: 'http://127.0.0.1:9000',
    s3ForcePathStyle: true, // needed with minio?
    signatureVersion: 'v4'
  });

var params = {
      Bucket: `${resource.id}.${resource.accountAlias}`,
      Expires: 1800, // 30 minutes
      Conditi

[2019-04-11 02:28] flado commented on #7508
**A partial number of fields in the multipart request returns an expected response regarding the signature not matching as below:**

$ http -v -f POST 127.0.0.1:9000/7160444b44ce0950b011f1ed7a3859e0 X-Amz-Signature="9bbe0e20d0f7e51e357f0b35d0fc5b0c3d727c05e3a0e767f3dd7490880960a1"  X-Amz-Credential="B20Y9KYKNTNWKL3P084H/20190410/ap-southeast-2/s3/aws4_request" file@audio2.mp3
POST /7160444b44ce095

[2019-04-11 02:35] flado commented on #7508
Just found a clue in the String value of some fields ...if `Policy` field contains the `==` sequence in the end of the value, the POST request it's failing with `MalformedPOSTRequestThe body of your POST request is not well-formed multipart/form-data` ....btw: the postfix `==` for Policy is generated by `s3.createPresignedPost`

[2019-04-11 08:19] bagr001 commented on #7492
@ramondeklein [RELEASE.2019-01-31T00-31-19Z](https://github.com/minio/minio/releases/tag/RELEASE.2019-01-31T00-31-19Z) and older should be fine.

[2019-04-11 09:14] ramondeklein commented on #7492
@bagr001 Is it always safe to downgrade Minio, because it also has some meta-information and it's not quite clear when I can safely downgrade. Would be great to have page on compatible versions somewhere...

I have created another workaround. We use NGINX as a reverse proxy, so I added the following lines to the location block:

[code]

This adds the proper header without the need to downgrade.

[2019-04-11 09:24] jebinjeb opened #7509 "option to change secretkey"
Hi,

We are using latest stable mino but as part of security requirement we have to change/rotate secretkey periodically. But i con't able to find and document for this.

[root@kubernetes-1 ~]# helm list minio
NAME            REVISION        UPDATED                         STATUS          CHART           APP VERSION                     NAMESPACE
neo-minio       1               Thu Apr 11 09:00:21

[2019-04-11 09:27] harshavardhana commented on #7509
ENVs are the only way to reset it @jebinjeb - secret keys are used to internode communication so cannot be changed using `mc admin` commands.

[2019-04-11 09:43] jebinjeb commented on #7509
Hi @harshavardhana ,

After changing ENV will it take automatically without restarting the pod ?

[2019-04-11 09:44] harshavardhana commented on #7509
It won't that's what I explained

You cannot change them without restarting the pod.

[2019-04-11 09:46] jebinjeb commented on #7509
is any way to avoid downtime ? because one by one pod restart didn't help

[2019-04-11 09:49] harshavardhana commented on #7509
It's not possible @jebinjeb - same access/secret keys are used by clients to connect to the server.  They will fail anyways to connect.

[2019-04-11 10:14] chernykhse opened #7510 ""read-only file system" Distributed mode"
<! ---

Hello.
We have a distributed minio cluster
from 7 nodes on 2 disks. On virtual machines in vmware ESX.

Found degradation of reading and writing to the cluster.
There are a lot of 3 types of logs in journalctl. see below (log samples)

On the nodes there was a high reading load over 1000 iops
And on the disks of two nodes, write operations were completely missing.

tried to manually create

[2019-04-11 13:10] nitisht commented on #7509
Closing this as based on the discussion looks like there is no action from our side. @jebinjeb feel free to reopen / reach out on Slack (https://slack.min.io) if there are further questions.

[2019-04-11 13:10] #7509 closed, assigned to nobody

[2019-04-11 13:26] nitisht commented on #7471
@dev-rowbot can you please confirm if the users are all present after 5 mins ?

[2019-04-11 13:46] nitisht commented on #7510
@chernykhse did you have a power failure in this cluster? Looks like you're hitting some variation of this https://bugzilla.redhat.com/show_bug.cgi?id=839891

MinIO logs basically indicate that MinIO wasn't able to write to `ext4`. This is because filesystem usually go into `read-only` mode while its checking if there is a consistency issue. Once the check is done, it gets remounted as `read-write

[2019-04-11 14:58] thomaslange24 opened #7511 "setup nginx reverse proxy with minio server: why use default location?"
I am starting a minio server on some remote machine with the following command:
minio server --address :9000 /opt/archive/minio_storage

Now i want to set up a Nginx reverse proxy and redirect all requests to the host on which the minio server is running.

I am revering to the documentation:
https://docs.min.io/docs/setup-nginx-proxy-with-minio.html

What confuses me is that the default location i

[2019-04-11 18:36] kannappanr commented on #7511
@thomaslange24 In the same document, you can look at section `Proxy requests based on the bucket` and in the location you can use the buckets. The catch here is that all the bucket names that currently exist and will be created should be listed here.

[2019-04-11 20:07] thomaslange24 commented on #7511
So for any bucket that will be created i also have to add an location entry in the nginx configuration?

[2019-04-11 20:36] kannappanr commented on #7511
Yes

[2019-04-12 02:29] ebozduman opened #7512 "UnitTestRefactoring: Increase test coverage for "gateway-*.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
gateway-common.go | 7.8%
gateway-env.go | 44.4%
gateway-main.go | 19.8%
gateway-unsupported.go | 0%

Please check the provided .html file to examine what lines of code in the above file(s) is/are not executed/tested during the unit test run. Executed

[2019-04-12 02:33] ebozduman opened #7513 "UnitTestRefactoring: create unit tests for qualified "generic-handlers.go" functions"
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
generic-handlers.go | 63.5%
healthcheck-handler.go | 12.1%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. To see those unexecuted lines that will be shown i

[2019-04-12 07:22] kanagarajkm opened #7514 "MinIO Browser - Error message should go away after successful login"
When the first login attempt is failed(due to incorrect secretkey) and the next attempt is successful. Error message shown for the first attempt should go away.

## Expected Behavior
- Stale login error messages should be cleared after a successful login.

## Current Behavior
- Error message remains on the top even after a successful login

## Possible Solution
- Any login related errors from prev

[2019-04-12 08:05] chernykhse commented on #7510
Checked the logs, did not find problems with the cluster.
The file system was not in read-only mode. We ran the mkdir command in the folder where the log was pointing and everything was created there.

[2019-04-12 08:42] sgandon opened #7515 "Use etcd watch apis to update the bucket policy cache"
when using the multiple instances of the gateway connected to an etcd instance for handling bucket policies when a new user is created, there is a 5 minutes duration before the other instances are updated with the change of the bucket policy.

## Expected Behavior

It would be great that the policy bucket update was perfomed immediatly.

## Current Behavior

wait for 5 minutes, see this : https://

[2019-04-12 08:44] sgandon commented on #7515
here is the link to the slack discussion
https://minio.slack.com/conversation/C3NDUB8UA/p1554901280616300

[2019-04-12 10:05] nitisht commented on #7515
Thanks for reporting the issue, we'll see how to incorporate this @sgandon

[2019-04-12 12:03] axelll opened #7517 "unhealthy with https"
When i use HTTPS containers is showing unhealthy status

## Expected Behavior
Should showing healthy status

## Current Behavior
in file healthcheck.go don't work a check:
// This means sever is configured with https
if resp.StatusCode == http.StatusForbidden && bodyString == "SSL required"

Print URL and response
2019/04/12 11:55:35 http url: http://127.0.0.1:9000/minio/health/live
resps: &http.R

[2019-04-12 12:17] nitisht commented on #7517
Thanks for reporting @axelll we'll take a look soon

[2019-04-12 14:15] vadmeste commented on #7517
Looks like this happened after the migration to http2

[2019-04-12 16:27] harshavardhana commented on #7517
It happened after migration to go1.12 , we removed our custom error.

[2019-04-12 16:30] harshavardhana commented on #7510
@chernykhse you disk is failing you need to run fsck to see the issues. Don't believe that you could create directories.

[2019-04-12 17:15] aeltawela opened #7518 "Minio does not ignore .nfs files"
API: PutObjectPart(bucket=XXX-XX, object=xxexxxxi.sc_dts_b_base.322297.19686)
Time: 12:48:34 UTC 04/12/2019
RequestID: 1594BAD6ACF06575
RemoteHost: 10.20.78.121
UserAgent: rclone/v1.46
Error: Unexpected error, please report this issue at https://github.com/minio/minio/issues
entry=.nfs8082d4900000d71000000003, uploadID=1938dd53-81d6-4774-b370-396546196b4d
1: cmd/fs-v1-multipart.go:102:cmd.(*FSObje

[2019-04-12 18:14] kannappanr commented on #7511
@thomaslange24 closing this issue. Please feel free to reach out to us if you have further questions.

[2019-04-12 18:14] #7511 closed, assigned to nobody

[2019-04-12 18:15] kannappanr commented on #7503
ping @lseelenbinder Did you get a chance to try it out?

[2019-04-12 19:30] lseelenbinder commented on #7503
Thanks for putting that together, @kannappanr! I should have a chance to test it tomorrow or Monday.

As a side note, reimplementing our frontend to use multipart uploads (workable but less than ideal) resolved the issue for us as well. I’m hoping we can resolve PutObject as it’s much cleaner for our app.

[2019-04-12 21:03] ebozduman opened #7522 "UnitTestRefactoring: Increase test coverage for "iam.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
iam.go | 19.4%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a browser win

[2019-04-12 21:21] ebozduman opened #7523 "UnitTestRefactoring: Increase test coverage for "lock-rpc-server.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
lock-rpc-server.go | 35.8%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a

[2019-04-12 21:46] ebozduman opened #7524 "UnitTestRefactoring: Increase test coverage for "main.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
main.go | 0.0%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a browser win

[2019-04-12 21:48] kannappanr commented on #7523
We are moving away from `rpc`. Closing this issue.

[2019-04-12 21:48] #7523 closed, assigned to nobody

[2019-04-12 22:51] #7518 closed, assigned to krisis

[2019-04-12 23:01] ebozduman opened #7525 "UnitTestRefactoring: Increase test coverage for "metrics.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
metrics.go | 33.3%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a browser

[2019-04-12 23:11] ebozduman opened #7526 "UnitTestRefactoring: Increase test coverage for "notification.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
notification.go | 11.4%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a br

[2019-04-12 23:40] ebozduman opened #7528 "UnitTestRefactoring: Increase test coverage for "object-api-*.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
object-api-datatypes.go | 66.7%
object-api-errors.go | 58.2%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on it

[2019-04-13 00:14] ebozduman opened #7529 "UnitTestRefactoring: create unit tests for qualified "object-handlers*.go" functions"
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
object-handlers-common.go | 69.9%
object-handlers.go | 62.7%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on it

[2019-04-13 00:25] ebozduman opened #7530 "UnitTestRefactoring: Increase test coverage for "peer-rest*.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
peer-rest-client-target.go | 0.0%
peer-rest-client.go | 3.2%
peer-rest-server.go | 0.7%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes

[2019-04-13 00:35] ebozduman opened #7531 "UnitTestRefactoring: Increase test coverage for "posix-errors.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
posix-errors.go | 44.9%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a br

[2019-04-13 00:40] ebozduman opened #7532 "UnitTestRefactoring: Increase test coverage for "prepare-storage.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
prepare-storage.go | 41.7%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a

[2019-04-13 00:44] ebozduman opened #7533 "UnitTestRefactoring: Increase test coverage for "server-main.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
server-main.go | 10.0%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a bro

[2019-04-13 00:48] ebozduman opened #7534 "UnitTestRefactoring: Increase test coverage for "service.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
service.go | 33.3%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a browser

[2019-04-13 00:54] ebozduman opened #7535 "UnitTestRefactoring: Increase test coverage for "setup-type.go" & "signals.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
setup-type.go | 0.0%
signals.go | 0.0%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when

[2019-04-13 00:59] ebozduman opened #7536 "UnitTestRefactoring: Increase test coverage for "storage-interface.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
storage-interface.go | 0.0%
storage-rest-client.go | 65.3%
storage-rest-server.go | 61.5%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file come

[2019-04-13 05:29] #7517 closed, assigned to nitisht

[2019-04-13 11:36] EugenMayer commented on #7311
Might have been implemented by https://github.com/minio/minio/issues/956 ?

[2019-04-13 11:36] EugenMayer opened #7538 "Bulk delete"
I would love to be able to bulk delete, similar to be able to bulk download. Any way this could be implemented? I see that https://github.com/minio/minio/issues/956 was needed, but seems to be solved already or it might be related to https://github.com/minio/minio/issues/7311

Thank you

[2019-04-13 14:31] kannappanr commented on #7538
@EugenMayer MinIO already supports bulk delete. https://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html is already implemented. You can use any of `MinIO` or any `S3` compatible SDK today to do this.

[2019-04-13 14:31] #7538 closed, assigned to nobody

[2019-04-13 14:32] EugenMayer commented on #7538
Hello, i probably was confusing UI - mean using the UI, not the REST endpoints. Could you reopen that issue? Thank you

[2019-04-13 14:36] kannappanr commented on #7538
![Screenshot from 2019-04-13 07-35-27](https://user-images.githubusercontent.com/30541348/56081138-c44c1280-5dbe-11e9-800b-5e1b2e346ad6.png)
This is also supported on the browser.

[2019-04-13 14:37] EugenMayer commented on #7538
Sorry - i missed that. My bad! thank a lot

[2019-04-13 18:16] ptr1120 opened #7539 "[Question] MinIO Admin RestApi documentation"
Hello,
is there any public (Rest) API description for managing users? The mc client application is nice, but I need to manage users and policies dynamic (using dotnet). What is the suggested way to do such things?

Best regards
Peter

[2019-04-13 23:43] harshavardhana commented on #7539
REST API is documented here https://github.com/minio/minio/tree/master/pkg/madmin , for now, we are not planning to implement different language libraries for Admin REST API.  Our SDKs are only meant for S3 APIs only.

The suggested way is to use `mc` tool or use the Go API directly or write your own wrapper for your language choice.

[2019-04-13 23:43] #7539 closed, assigned to nobody

[2019-04-13 23:44] harshavardhana commented on #7490
Can you provide more information?

[2019-04-13 23:44] harshavardhana commented on #7261
Were you able to further do your tests?

[2019-04-14 06:39] harshavardhana commented on #7311
@EugenMayer this issue has nothing to do with #956 - this is an internal protocol enhancement.

[2019-04-14 12:35] mzch opened #7540 "Unable to connect MiniO by using v4 signature."
I can't connect my clients to Minio by using v4 signature. When using v2 signature, they can connect Minio successfully.

## Expected Behavior

Using AWS v4 signature, my client apps should connect successfully.
Client App 1: Dropshare https://dropshare.app/
Client App 2: Forklift https://binarynights.com/
Client App 3: Mattermost https://www.mattermost.org/

I don't know which side has a problem.

[2019-04-14 13:27] nitisht commented on #7540
@mzch can you confirm if same set of clients work with AWS S3?

[2019-04-14 13:46] mzch commented on #7540
Yes, they work fine with AWS S3.

[2019-04-14 13:48] nitisht commented on #7540
Also pathstyle access should be enabled on these clients for minIO to work, is that done?

[2019-04-14 13:59] mzch commented on #7540
sorry, I can't find settings to enforce path-style access in them. I have posted articles related this issue to client apps' forums and support teams, but ATM no replies.

[2019-04-15 03:56] chernykhse commented on #7510
that time we rebooted the nodes, so we didn’t see what the errors were there.
Now the problem has appeared on four different nodes.
dmesg says:
[code]
we used e2fsck
[code]
### Why disk errors continue to appear?

We have recorded more than half a million small files (300Kb). Maybe we chose the wrong file system or something else?

[2019-04-15 04:13] harshavardhana commented on #7510
You may need to contact your disk vendor @chernykhse - this means that your disk has bad sectors.

[2019-04-15 11:55] uroni opened #7542 "MINIO_DRIVE_SYNC on Windows"
I do not think MINIO_DRIVE_SYNC works on Windows as the O_SYNC flag has no effect there.

## Expected Behavior

Every write to a file is written to disk immediately (O_SYNC) on Windows.

## Current Behavior

Minio behaves as if MINIO_DRIVE_SYNC is not set (on Windows).

## Possible Solution

Call fsync() instead of using O_SYNC.

## Steps to Reproduce (for bugs)

1. Set MINIO_DRIVE_SYNC on Windows

[2019-04-15 13:56] kannappanr commented on #7542
@uroni Thanks for filing this issue. We will send in a fix.

[2019-04-15 17:13] ebozduman opened #7543 "UnitTestRefactoring: create unit tests for qualified "sts-errors.go" and "sts-handlers.go" functions"
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
sts-errors.go | 0.0%
sts-handlers.go | 4.1%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner

[2019-04-15 17:20] ebozduman opened #7544 "UnitTestRefactoring: Increase test coverage for "ui-errors-utils.go" and "utils.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
ui-errors-utils.go | 25.0%
utils.go | 63.5%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner

[2019-04-15 17:37] ptr1120 commented on #7539
@harshavardhana: thank you. But this means we can not use minio from other languages than golang if we want to dynamically manage user.
Using the `mc` command line tool from our program seems not to be a robust solution.
Using the Api is difficult due to the undocumented way of encoding sensitive data and required parameters. Would it at least be an option to provide the encoding function for the

[2019-04-15 18:07] harshavardhana commented on #7539
@ptr1120 it is not currently a priority to provide admin APIs in various languages. We may get back to this in future.

[2019-04-15 22:45] stokowski commented on #7261
I've tried this test. I'm using zfs (zol) so O_DIRECT is not supported here. I've also turned off O_SYNC, so when tried for sync writes I get a results like this:

[code]

In meantime there was release that improved listing objects, now its faster, but still what I see is that the disks are the bottleneck in this type of read. I'm thinking how I could improve that, but this issue can be closed. Th

[2019-04-15 23:06] ebozduman opened #7545 "UnitTestRefactoring: Increase test coverage for "update-main.go" & "version-main.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
update-main.go | 48.6%
version-main.go | 0.0%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corn

[2019-04-15 23:06] harshavardhana commented on #7261
Thanks for letting us know @stokowski we are making further improvements here #7541

[2019-04-15 23:06] harshavardhana commented on #7261
Closing as per last comment.

[2019-04-15 23:06] #7261 closed, assigned to harshavardhana

[2019-04-15 23:08] harshavardhana commented on #7542
Shall be fixed here https://github.com/minio/minio/pull/7479

[2019-04-15 23:16] ebozduman opened #7546 "UnitTestRefactoring: unit tests for "web-handlers.go" toWebAPIError & toJSONError functions"
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
web-handlers.go | 59.8%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a br

[2019-04-15 23:44] ebozduman opened #7547 "UnitTestRefactoring: Increase test coverage for "xl-sets.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
xl-sets.go | 43.4%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its left top corner when opened in a browser

[2019-04-15 23:55] ebozduman opened #7548 "UnitTestRefactoring: Increase test coverage for "xl-v1-healing.go" & "xl-v1-list-objects-heal.go""
The purpose of this issue is to increase the unit testing coverage for the following file(s):

| File Name | Coverage
----------------|--------------
xl-v1-healing.go | 63.7%
xl-v1-list-objects-heal.go | 0.0%

Please check the provided .html file to examine what part of the code of the above file(s) is/are not executed/tested during unit test run. The .html file comes with a pull-down menu on its

[2019-04-16 00:30] uroni commented on #7542
The direct IO lib you use sets FILE_FLAG_WRITE_THROUGH on Windows which just sets the FUA bit in disk write requests (https://devblogs.microsoft.com/oldnewthing/?p=95505). Most SCSI drives just ignore the FUA bit, though, so you'll still have to use fsync/FlushFileBuffers if you want the MINIO_DRIVE_SYNC behaviour on Windows.

[2019-04-16 03:34] navossoc opened #7549 "Minio Gateway + Cache hangs when file is deleted"
Minio Gateway hangs when a file is deleted on upstream server.

## Expected Behavior
Don't hang the request...
Just show the cached file or send a 404.

## Current Behavior
Hang the request forever (10 minutes)...

## Possible Solution
No idea what is happening here.
This is the far I could get.

## Steps to Reproduce (for bugs)

1. Set up a minio server (you can use play.minio.io)
2. Set up a gat

[2019-04-16 03:35] nitisht commented on #7549
Thanks for reporting @navossoc we'll take a look

[2019-04-16 03:38] harshavardhana commented on #7549
This issue might be related to the caching fix https://github.com/minio/minio/commit/ddb0d646aafa05ae9f03a15c99435ca43885fd5a

[2019-04-16 03:41] nitisht commented on #7510
@chernykhse closing this for now as doesn't look like any action needed from our side, feel free to reopen if there are further issues..

[2019-04-16 03:45] nitisht commented on #7540
@mzch closing this for now as we have tests running with AWS S3 and MinIO SDK that use S3 v4. These tests are working. Feel free to reopen if enforcing path-style doesn't work..

[2019-04-16 03:45] #7540 closed, assigned to nobody

[2019-04-16 06:38] linuxrc opened #7550 "[not a bug] Why Standalone Multi-Tenant Deployment is faster than Standalone normal？(write or put)"
I want a fast object storage tool and did a performance test for Minio. I found that if I deploy Minio in Standalone mode, Multi-Tenant (4) is fatster than norma node,I want to know why.
     I start Minio like this:
 * Normal:    minio server --address :9000 ./DATA1
* Multi-Tenant: minio server --address :9000 ./DATA{1...4}
The directory DATA1~DATA4 is just a directory, I didn't mount it to any d

[2019-04-16 07:31] harshavardhana commented on #7515
Bucket policies are not kept on etcd only user policies, users are kept on etcd @sgandon .So the issue description is incorrect here.

Nevertheless, a PR #7551 is here.

[2019-04-16 07:49] mritd commented on #5139
i need too... 😌

[2019-04-16 08:19] vermaden opened #7552 "Logging of actions such as failed/succesfull login"
Hi.

**This is the Minio version.**
[code]

**The OS version.**
[code]

I have tried to get *any* logging using this documentation:
https://github.com/minio/minio/tree/master/docs/logging

... but failed.

I have tried to pass **MINIO_AUDIT_LOGGER_HTTP_ENDPOINT** variable but that did not change anything.

`# sudo -u minio env MINIO_AUDIT_LOGGER_HTTP_ENDPOINT=http://localhost:8080 /opt/minio/bin/m

[2019-04-16 09:20] chernykhse commented on #7510
virtual disks are hosted on the LUN, from the enterprise storage system. Since RAID is used there, we were assured that there are no bad sectors on virtual disks.
just in case, we ran e2fsck -c, bad sectors were not found.

[2019-04-16 09:26] chernykhse opened #7553 "Reopen "read-only file system" Distributed mode"
Could not reopen issue https://github.com/minio/minio/issues/7510
Collecting information for your last question took a lot of time.

Can you reopen my last issue (https://github.com/minio/minio/issues/7510)? or do i need to rewrite everything in this new

[2019-04-16 09:27] nitisht commented on #7553
Please continue the discussion at https://github.com/minio/minio/issues/7510, feel free to close this issue

[2019-04-16 09:46] #7553 closed, assigned to nobody

[2019-04-16 09:46] chernykhse commented on #7553
tnx

[2019-04-16 15:23] harshavardhana commented on #7510
That seems odd @chernykhse - ext4 seems to be complaining about exactly such things. The errors indicate that your LUN is either getting corrupted over time. Which clearly indicates - storage infrastructure issue.

Now to pinpoint to an exact situation

- how often does this occur?
- is there a pattern for this occurrence?
- any specific directory where this occurs?

Next time when it happens plea

[2019-04-16 16:35] barthalexander opened #7554 "Multiple NFS shares"
Hi,

first of all thanks for Minio it's very cool.

I want to use multiple nfs shares with minio.
I have tried to start it with `./minio gateway nas /data`.
The folder data contains multiple nfs shares.
Every time when I want to upload a file I get an error with cross linking.
What I'm doing wrong.

Kind Regards,
Alex

[2019-04-16 16:57] chernykhse commented on #7510
We have enterprise storage systems https://www.infinidat.com/
LUNs are not a representation of a physical disk, there are many disks in the storage system, from which LUNs are created, which in turn are connected to the ECX host. The storage system checks for the status of physical disks, in case of problems, the disk changes immediately, and since its blocks are duplicated, even if several disks

[2019-04-16 17:00] lseelenbinder commented on #7503
Hi @kannappanr. I was just able to test with your image; it dutifully gave a lot of debug output. 😄

I hope this helps!

[code]

[2019-04-16 17:30] kannappanr commented on #6928
Will look at this issue in the future when we have cycles.

[2019-04-16 17:35] #6928 closed, assigned to nobody

[2019-04-16 18:09] kannappanr commented on #6929
Marking this issue for Future. Will open when we get cycles to work on this.

[2019-04-16 18:09] #6929 closed, assigned to nobody

[2019-04-16 18:25] kannappanr commented on #7552
@vermaden Here is the audit log entry
[code]
So, the `Status` and `StatusCode` should tell you about failed/successful login

[2019-04-16 22:27] kannappanr commented on #7554
@barthalexander Can you please use the issue template that we have. I don't think we allow this setup.

[2019-04-16 22:29] kannappanr commented on #7550
@linuxrc Will run this test and get back to you with the numbers and explanation. Thanks for filing this issue.

[2019-04-17 02:14] oskapt commented on #5139
There are situations where `mc` in a cron job isn't the right answer. For example, Sonatype Nexus Repository Manager can use S3 storage for local and proxied Docker registries. It has a cleanup policy based on publish date or date of last access. Neither of these are visible to `mc`.

I might have downloaded an image a month ago, but my Kubernetes environment has used it within the last day. If I

[2019-04-17 03:33] chernykhse commented on #7510
last  e2fsck -v
[code]

[2019-04-17 03:50] kannappanr commented on #5139
@oskapt We will start working on this feature soon.

[2019-04-17 04:32] harshavardhana commented on #7510
A consistent read-only also means that there might be a kernel bug, which kernel version are you on?

[2019-04-17 04:40] chernykhse commented on #7510
4.9.0-3-amd64

[2019-04-17 05:54] #7549 closed, assigned to sinhaashish

[2019-04-17 07:47] vermaden commented on #7552
Where should I put this 'audit log entry'?

Regards,
vermaden

[2019-04-17 13:41] oskapt commented on #5139
That's great news. Thank you @kannappanr.

I want to thank all of you for Minio. I work for Rancher Labs (rancher.com), so I know how hard open source software can be, trying to balance the needs/wants of the community, the philosophical forces driving you to build something with no guarantee of reward, and the ever-present demands of real world economics.

Because of the work I do, I run a large

[2019-04-17 13:55] oskapt commented on #5139
For reference, [here's the Nexus issue](https://issues.sonatype.org/browse/NEXUS-19052) that references Minio and asks for a hard delete option for blob stores using Minio for S3.

[2019-04-17 16:07] harshavardhana commented on #7510
Would it be possible to upgrade to latest or move to new FS and see the issue goes away? We have seen some reports of ext4 corruption bug in 4.x kernels.

[2019-04-17 16:24] kannappanr commented on #7552
Here is an example output
[code]

[2019-04-17 18:52] kannappanr commented on #7552
Here is a sample web server that I ran, that will simply dump the audit entries on console.

[code]

[2019-04-17 18:53] kannappanr commented on #7552
This is how I set the Audit entry

`MINIO_AUDIT_LOGGER_HTTP_ENDPOINT=http://localhost:8000 minio server /data/dir`

[2019-04-18 01:15] einsty commented on #5139
Your timing is impeccable!  I was literally working through the approach of using Nexus with an 8 node Minio cluster we have running on containers across ProxMox hosts as well!  This is fantastic @kannappanr and yes, as @oskapt  mentions... Thank you.

[2019-04-18 04:00] chernykhse commented on #7510
based on your experience which file system is most suitable for minio?

[2019-04-18 04:27] kannappanr commented on #6930
Marking this issue for future and closing this issue now. Will take this up when we have more cycles.

[2019-04-18 04:27] #6930 closed, assigned to nobody

[2019-04-18 04:28] kannappanr commented on #6931
Marking this issue for future and closing this issue now. Will take this up when we have more cycles.

[2019-04-18 04:28] #6931 closed, assigned to nobody

[2019-04-18 04:32] harshavardhana commented on #7510
XFS is our recommended choice

[2019-04-18 06:19] #7514 closed, assigned to kanagarajkm

[2019-04-18 07:00] npfistner commented on #5139
Great news! Can't wait to drop our feature flag which cut of S3 lifycycle calls when using minio.
Thanks in advance!

[2019-04-18 08:19] harshavardhana commented on #4124
Fixed and released #7440

[2019-04-18 08:19] #4124 closed, assigned to harshavardhana

[2019-04-18 12:18] chernykhse commented on #7510
it will take time, first we need to try in a test environment.

[2019-04-18 18:40] lseelenbinder opened #7558 "Panic on 404 in B2 Gateway with Disk Cache"
When using the `B2` gateway mode and requesting a file that doesn't exist, an internal error is thrown and the client received a socket disconnect.

## Expected Behavior
Returns a 404.

## Current Behavior
1. Hangs up on client.
2. Shows error `http: panic serving 127.0.0.1:36678: runtime error: invalid memory address or nil pointer dereference`

## Steps to Reproduce (for bugs)

1. Deploy a minio

[2019-04-18 20:53] #7558 closed, assigned to nobody

[2019-04-18 20:53] harshavardhana opened #8092 "Sporadic failures in minio-py presigned_get_object functional test"
[code]

[2019-04-18 23:06] kannappanr commented on #7552
@varmaden Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2019-04-18 23:06] #7552 closed, assigned to nobody

[2019-04-18 23:56] kannappanr commented on #8092
one more flavor

[code]

[2019-04-19 00:21] BGodding opened #7562 "Default Windows cert path is incorrect"
~6 months ago I setup a minio as multi-tentant after following https://forum.duplicati.com/t/setting-up-self-hosted-minio-on-windows-10-with-automatically-renewing-ssl-certificate/645 to backup several computers. It has been running great with no issues, but finally decided to upgrade just to keep things up to date and secure.

I now get the following when trying to launch the server
'''D:\minio>m

[2019-04-19 00:45] BGodding commented on #7562
Just realized the path is not correct, it should be C:\Users\BGodd\\.minio\certs

[2019-04-19 00:56] BGodding commented on #7562
I think this is probably actually a bug on Windows, but if I am wrong feel free to close.
The \ before the . in minio looks like it is treated like an escape character and dropped

[2019-04-19 00:57] kannappanr commented on #7562
Can you try
[code]

or

[code]

[2019-04-19 01:00] BGodding commented on #7562
Yes, --certs-dir C:\Users\BGodd\\.minio\certs does in fact work and that I what changed my local initialization to.

[2019-04-19 01:03] kannappanr commented on #7562
Closing the issue then. Please feel free to reach out to us if you have further questions.

[2019-04-19 01:07] BGodding commented on #7562
According to https://docs.min.io/docs/how-to-secure-access-to-minio-server-with-tls.html the default path should be ```Windows: C:\Users\<Username>\.minio\certs\CAs``` but it appears that currently it is actually ```Windows: C:\Users\<Username>.minio\certs\CAs``` so should https://docs.min.io/docs/how-to-secure-access-to-minio-server-with-tls.html be updated or this bug be closed?

[2019-04-19 02:01] ghost commented on #7503
bitrot-streaming.newStreamingBitrotWriter()
`err:= disk.CreateFile(volume, filePath, totalFileSize, r)`
this RPC call can be closed by server when it is timed out.
so return an error`io: read/write on closed pipe`  and `r.CloseWithError(err)`.
so writer throw this error too.
I suppose so.

[2019-04-19 02:42] ghost commented on #7550
because fsMate is written to disk immediately (O_SYNC).

[2019-04-19 04:29] kannappanr commented on #7562
@BGodding Will verify this on Windows and let you know. `C:\Users\<Username>\.minio\certs` should be the default value.

[2019-04-19 09:17] vermaden commented on #7552
Thanks you for explanations.

[2019-04-19 12:01] Danbuth commented on #7403
minio client can use 'mirror' to upload local files to minio bucket, this is backup local files.
but how to backup minio buckets, such as download the whole bucket files, and Retain buckets structure.

[2019-04-19 13:40] matejzero commented on #7261
I know this is closed, but I can add some info too if it helps.

My system:
- 2 nodes (dual-cpu CPU E5-2630, 64GB memory)
- each node has 2 SSD drives (fast drives with 180k write IOPS)
- nodes are interconnected with 10GBit

I created a bucket with 20k files in it. Running `time mc ls local/test > output`:
single mode: real  0m1.941s
distributed mode: real 0m11.103s

[2019-04-19 14:10] kannappanr commented on #7403
It is not just for `local files` to `minio bucket`, it can also be used to replicate `minio bucket` to `local files`

[2019-04-19 17:26] #6995 closed, assigned to nobody

[2019-04-19 18:01] harshavardhana commented on #7490
Closing this as stale issue @marcadella - please respond back with more details.

[2019-04-19 20:11] stokowski commented on #7261
I will repeat tests for standalone next week. I hope also that new fix will get in to next release. Also, maybe there is a way to monitor some minio internals and see where is hanging on ?

[2019-04-19 20:13] matejzero commented on #7261
My tests were made with latest release and fast enough drives for them to not be the bottleneck. If I can do any other testing, let me know.

[2019-04-19 22:22] Leosirth commented on #7493
I don't know if Prometheus support endpoints with authentication.
If not, maybe the best way to implement this is to have a dedicated port for the metrics.

In that way the minio server port can be externally exposed, while the metrics port could be restricted to only local access.

[2019-04-19 23:00] SteveEdson commented on #7493
Prometheus supports a variety of authentication methods including http auth
and bearer tokens within the authorisation header, yes.

On Fri, 19 Apr 2019, 23:22 Francesco, <notifications@github.com> wrote: