[2016-05-10 14:42] balamurugana commented on #1570
I am able to run with two disks now.  But there is different error now. See https://github.com/minio/minio/issues/1579

[2016-05-10 14:42] #1570 closed, assigned to balamurugana

[2016-05-10 14:50] balamurugana commented on #1572
Fixed in commit id 409e09c1e55ab448419a3d62cd8a5704312b2172

[code]

[2016-05-10 14:50] #1572 closed, assigned to harshavardhana

[2016-05-10 15:07] balamurugana commented on #1552
With

[code]

I am getting `InternalError`

[2016-05-10 15:12] balamurugana commented on #1552
Steps to reproduce the issue
1. Run minio server

[code]
1. Run minio-java function test

[code]
1. While `Test: multipart: putObject(String bucketName, String objectName, String fileName)` in progress, run below command

[code]
1. We get `InternalError`

[2016-05-10 15:13] krishnasrinivas opened #1580 "GetObject with offset fails for some cases"
at 500M offset:

[code]

at 500M + 1byte offset:

[code]

i.e calculating the numbers prove that it failed to send the last 99 bytes.

server log says:
`ERRO[1042] Writing to client failed                      Error={Cause:EOF Type:*errors.errorString}`

[2016-05-10 17:25] harshavardhana commented on #1548
No this happens if you have deleted 0000.multipart file from backend

[2016-05-10 17:47] krishnasrinivas commented on #1580
closed by bcc63ca84f9875adfc69242576bf243c6f5358c8

[2016-05-10 17:48] #1580 closed, assigned to krishnasrinivas

[2016-05-10 17:53] krishnasrinivas opened #1582 "XL: GetObject with offset gives wrong data"
data with offset:

[code]

expected:

[code]

[2016-05-10 18:38] #1582 closed, assigned to nobody

[2016-05-10 18:38] hackintoshrao commented on #1553
Sure. 👍

[2016-05-10 19:53] krishnasrinivas opened #1585 "erasure: Multiple selfheal for the same file"
Currently, two GetObject on same file can trigger two selfheal go-routines, though harmless (both the go-routines will create the missing part without corrupting anything) we need to fix so that the second selfheal is never triggered when already a selfheal is running.
Not urgent as it does not corrupt anything, only CPU resource intensive.

[2016-05-10 20:17] harshavardhana opened #1586 "server: Removing minhttp and using golang http increases responsiveness of the minio server"
[Go routine blocking profile with minhttp](https://github.com/minio/minio/files/258046/block.pdf)
[Go routine blocking profile with pkg/http](https://github.com/minio/minio/files/258048/block-new.pdf)

The reason is that minhttp uses its own internal goroutines and manages serving http requests. When there is a large number of requests coming in like for example 'ListObjects()' recursive.

The res

[2016-05-11 00:42] harshavardhana commented on #1564
This won't be implemented - working as expected.

[2016-05-11 00:42] #1564 closed, assigned to harshavardhana

[2016-05-11 00:44] harshavardhana commented on #1547
Few of them have been achieved for now, closing - we don't need an issue to track this.

[2016-05-11 00:44] #1547 closed, assigned to krishnasrinivas

[2016-05-11 00:48] harshavardhana commented on #1579
Not able to reproduce this @balamurugana

[code]

[code]

[2016-05-11 00:52] harshavardhana commented on #1552
Yeah now the POSIX sends errDiskNotFound, which should be handled inside CreateFile.

[2016-05-11 01:01] harshavardhana commented on #1264
Closing its not relevant for now..

[2016-05-11 01:01] #1264 closed, assigned to balamurugana

[2016-05-11 01:03] #1586 closed, assigned to harshavardhana

[2016-05-11 01:48] hackintoshrao opened #1588 "XL: Failure due to race during MakeBucket."
Make bucket on XL seems to be super racy.

Set `ACCESS_KEY`, `SECRET_KEY`, `END_POINT` env variables.
 (ex: export END_POINT = localhost:9001)

First run the functional tests on XL, [here is the code.](https://gist.github.com/hackintoshrao/cc5111a513f0625e621072ce0be74012)

The tests pass. Now take a look at [this piece of code](https://gist.github.com/hackintoshrao/6f821cc7185e39cce3733c138390fc2

[2016-05-11 02:22] harshavardhana opened #1589 "XL: StatVol datarace"
[code]

[2016-05-11 04:39] harshavardhana commented on #1589
Reproduced properly locally as well

[code]

[2016-05-11 04:40] balamurugana commented on #1579
@harshavardhana you missed the description. The first step creates minio server with two disks.

[2016-05-11 05:00] harshavardhana commented on #1579
That shouldn't be allowed to do, that is the first bug. We should disallow disks lower than 8.

[2016-05-11 05:19] krishnasrinivas commented on #1589
@harshavardhana how did you produce this bug? because `go test -race` does not produce it

[2016-05-11 05:34] harshavardhana commented on #1589
go build -race - build a binary with race enabled and then running minio-go functional tests - courtesy of @hackintoshrao

[code]

[2016-05-11 05:42] balamurugana opened #1591 "Unclear error message when running minio server with wrong set of disks"
With wrong set of disks, minio server throws generic error message like

[code]

This message need to be very specific.
1. Wrong set of disks given
2. Previous and current disks don't match
etc

[2016-05-11 05:43] krishnasrinivas commented on #1544
@harshavardhana need to check

[2016-05-11 05:47] balamurugana opened #1592 "XL: minio server does not allow to run with failed disk upto the read/write quorum (May 11th)"
Steps to reproduce
1. run minio server with 8 disks

[code]
1. stop the server
2. remove backend disk `/mnt/sdi1/bala/mydisk
3. run minio server again

[code]

It stops running with following error

[code]

[2016-05-11 06:03] balamurugana opened #1593 "XL: multipart upload fails when one of source file data is incremental to another"
Steps to reproduce
1. start minio server

[code]
1. create a bucket

[code]
1. have two files and one is just incremental content

[code]
1. use mc to upload these files like

[code]

We get

[code]

[2016-05-11 06:54] balamurugana opened #1594 "XL: single put file is kept over big multipart file"
Steps to reproduce
1. copy small file first

[code]
1. copy big file next

[code]
1. when listing mc shows smaller file

[code]

Minio used:

[code]

[2016-05-11 06:59] balamurugana opened #1595 "XL: removed file reappears"
Follow steps in https://github.com/minio/minio/issues/1594
- Remove the file

[code]
- now run

[code]

The object appears.

Minio used:

[code]

[2016-05-11 08:31] harshavardhana commented on #1594
Working on it!

[2016-05-11 08:36] #1589 closed, assigned to harshavardhana

[2016-05-11 09:50] harshavardhana opened #1596 "objectLayer: Throttle md5sum block checksum by introducing rateLimitedWriter. (May 15th)"

[2016-05-11 13:43] krisis commented on #1595
Following is the xl-backend directory structure after the second `mc cp bigfile` as described in #1594.

[code]

Following is the xl-backend directory structure after the `mc rm <objectname>`

[code]

Note that `file.0` and `file.json` under `disk1/bucket1` are remains of the file copied first. These two files must not be present after the second copy. The xl's `DeleteObject` implementation, trigg

[2016-05-11 14:26] krishnasrinivas opened #1598 "mc cp should fail if prefix already exists as a file (13th)"
[code]

Now this should fail:

[code]

[2016-05-11 14:29] krishnasrinivas commented on #1595
@krisis cool, as discussed i will fix this as part of the support for directory rename fix during complete-multipart-upload. It will also fix https://github.com/minio/minio/issues/1598 https://github.com/minio/minio/issues/1594 https://github.com/minio/minio/issues/1558

[2016-05-11 15:31] balamurugana commented on #1501
See also https://github.com/golang/go/issues/3358

[2016-05-11 19:21] krishnasrinivas opened #1599 "fs-backend: putObject panic"
[code]

[2016-05-11 19:44] koolhead17 opened #1600 "Large upload takes a lot of time & upload speed slows down over the time (May 14th)"
On test machine while uploading 1 TB single file, the upload speed slows down as upload size size increases periodically.

[code]

[2016-05-11 19:49] koolhead17 opened #1601 "mc mirror slows down while uploading large number of objects in small size (May 14th)"
mc mirror slows down while uploading large number of objects in small size

[code]

[2016-05-11 19:52] harshavardhana commented on #1599
This is a Golang expect100Continue bug, reproduced it locally before duplicate of #1553

[2016-05-11 19:52] #1599 closed, assigned to nobody

[2016-05-11 19:54] #1588 closed, assigned to harshavardhana

[2016-05-11 19:55] #1501 closed, assigned to balamurugana

[2016-05-11 19:59] harshavardhana opened #1602 "objectLayer: Save md5sum/content-type/content-encoding validated during PutObject"

[2016-05-11 20:00] harshavardhana commented on #1544
were you able to validate this?

[2016-05-11 20:01] harshavardhana commented on #1594
Reassigned to @krishnasrinivas

[2016-05-11 20:46] krishnasrinivas commented on #1544
did not get a chance yet, if you can't reproduce this you can close this. I will keep it in my todo list to test this later.

[2016-05-11 21:02] harshavardhana commented on #1544
I only saw it once with Atul since then not been able to reproduce, closing - reopen if you see it again.

[2016-05-11 21:02] #1544 closed, assigned to harshavardhana

[2016-05-11 21:38] felixbuenemann opened #1603 "Content-MD5 verification not working for non-multipart PUT object"
I have noticed that both on minio 2016-04-17 and master the verification of the Content-MD5 header for PUT object ist not working.

Sending a bad checksum will not return the expected BadDigest error.

Tested on 2016-04-17 with FS and master with FS and XL backends.

Correct MD5 Hex: 1b61b1084812eebe8ad8f7e108148e1e
Correct MD5 Base64: G2GxCEgS7r6K2PfhCBSOHg==

Wrong MD5 Hex: 1b61b1084812eebe8ad8f

[2016-05-11 22:08] harshavardhana opened #1605 "[posix] ParseDirent implementation is unsafe"
https://github.com/golang/go/issues/15653

[code]

[2016-05-11 23:13] #1603 closed, assigned to harshavardhana

[2016-05-12 00:40] harshavardhana opened #1608 "pkg/base64: Golang base64 decoding bug can lead to PutObject/PutObjectPart corruption on server side."
To reproduce first configure `aws cli`

[code]

Success first attempt valid base64 of the file.

[code]

Success second attempt for invalid base64 of the file.

[code]

Change any other character this shows proper error message.

[2016-05-12 00:40] harshavardhana commented on #1608
https://github.com/golang/go/issues/15656 - for more information.

[2016-05-12 01:04] harshavardhana commented on #1293
Closing this issue as out of scope. Please reopen if there are SSL related issues.

[2016-05-12 01:14] balamurugana commented on #1579
https://github.com/minio/minio/pull/1607 fixes the issue.

[2016-05-12 01:52] balamurugana commented on #1552
The error occurred in below code path

[code]

[2016-05-12 01:58] #1579 closed, assigned to harshavardhana

[2016-05-12 01:58] #1592 closed, assigned to harshavardhana

[2016-05-12 03:09] harshavardhana commented on #1601
After doing several benchmarks the overall usage time is [Most syscall time spent](https://github.com/minio/minio/files/260543/test.pdf) is not much, there are no known bottle necks in this path alone.

If you look at the output of 'mc' v/s 'aws cli' for the same data set being copied to 'minio server'.

Almost same amount of files were being copied -negating the time it takes for session building

[2016-05-12 04:12] harshavardhana opened #1609 "XL/listDir: Should list with random order, to allow for sufficient list spread. - May 12th"

[2016-05-12 05:57] krishnasrinivas commented on #1594
will get this done 12th.

[2016-05-12 05:59] krishnasrinivas commented on #1548
@harshavardhana we are not supposed to modify the backend directly, if we do we can not guarantee the working of minio as expected.

[2016-05-12 06:15] harshavardhana commented on #1548
No the point is if it was deleted i.e corrupted or missing, we shouldn't list these entries as directories.

[2016-05-12 06:42] #1552 closed, assigned to balamurugana

[2016-05-12 08:04] balamurugana commented on #1605
Will be closed at May-12.

[2016-05-12 09:56] harshavardhana commented on #1602
PutObject currently does not save any additional metadata we need to save all the special metadata presented to us over the HTTP request for each object.

Simple examples we need to store are
- md5sum sent by the client in the hex form, saved along with the object.
- content-type if set the client application explicitly, 'mc' does that.
- x-amz-meta\* tags if any, can be made generic.
- x-minio-me

[2016-05-12 11:23] hackintoshrao opened #1614 "XL: Wrong err message during server start. (May 13th)"
Got the following error on trying th start the XL server. But it was solved after setting the permissions to these folders using chown.

`FATA[0000] Initializing object layer failed.             Error={Cause:Not all disks [/mnt/rao/xl /mnt/rao/xl1/ /mnt/rao/xl2/ /mnt/rao/xl3/ /mnt/rao/xl4/ /mnt/rao/xl5/ /mnt/rao/xl6/ /mnt/rao/xl7/ /mnt/rao/xl8/ /mnt/rao/xl9/] on command line are available to meet

[2016-05-12 13:59] koolhead17 opened #1615 "XL: Server crash on minio.go functional test"
This the server log when it crashed.

[code]

This is my script for setting up XL

[code]

[2016-05-12 14:39] koolhead17 commented on #1615
Works well with the right setup. Closing this.

[2016-05-12 14:51] krishnasrinivas opened #1616 "Object name with trailing slash should be rejected (13th)"
the following code works, should not:

[code]

[2016-05-12 14:54] hackintoshrao opened #1617 "Profiler: Data race."
Here is how to reproduce
- Just buiild with -race flag. `go build -race` .
- Set MINIO_PROFILER
- Start the server and press Ctrl + C.

The following the server console log

[code]

Profiler fails with prof file too.
`$go tool pprof ~/.minio/profile/cpu.pprof /mnt/rao/minio`
`parsing profile: unrecognized profile format`

[2016-05-12 15:14] hackintoshrao commented on #1617
Using devcheney/profile currently and getting it to run meanwhile.

[2016-05-12 15:51] hackintoshrao opened #1618 "XL: ReedSolomon joining decoded blocks failed with io: read/write on closed pipe. (May 14th)"
This error is produced only high concurrent execution of [exec-concurrent.go](https://gist.github.com/hackintoshrao/6f821cc7185e39cce3733c138390fc29) , that is when concurrency level is set to around 100, even at 50 this issue is not produced.

Here is the server error log

`ReedSolomon joining decoded blocks failed with io: read/write on closed pipe  path=a1r6onxx9gcv2dawllnvagxkub0xcf-copy volum

[2016-05-12 19:13] harshavardhana commented on #1617
The `pkg/profile` is from devcheney, its a newer package than older one at devcheney/profile.  We should fix this for davecheney's `pkg/profile` package.

But not holding this as priority for the release.

[2016-05-12 19:16] harshavardhana commented on #1617
Assigned to you - so that you can send a PR to the relevant package `pkg/profile` ?

[2016-05-12 19:17] harshavardhana commented on #1618
This is interesting, io.Pipe() has closed before while the reader was still trying to decode.

[2016-05-12 19:17] harshavardhana commented on #1614
👍

[2016-05-12 19:27] hackintoshrao commented on #1617
Sure 👍

[2016-05-12 20:31] krishnasrinivas commented on #1594
will be fixed on 13th (there is some issue on windows with the fix)

[2016-05-12 22:15] harshavardhana opened #1620 "posix: Evaluate UNC path support."
https://blog.klauspost.com/long-windows-paths-unc-paths-in-go/

[code]

If it is any consolation, dot net users have the same issue - https://github.com/dotnet/corefx/issues/645

[2016-05-12 22:15] harshavardhana commented on #1620
This is a bug to track future support on this particular behavior  - https://github.com/golang/go/issues/10900

[2016-05-12 22:17] harshavardhana commented on #1620
In future support this - https://github.com/golang/sys/windows

[2016-05-13 00:31] harshavardhana commented on #1615
Can this be reproduced again a crash shouldn't happen?

[2016-05-13 01:00] harshavardhana opened #1622 "XL/Objects: 'mc mirror' takes more than 1 attempt to upload all the objects properly"
[code]

[2016-05-13 01:07] harshavardhana commented on #1622
False alarm, my own change locally affected this.  Closing.

[2016-05-13 01:07] #1622 closed, assigned to krishnasrinivas

[2016-05-13 01:08] balamurugana commented on #1620
See also https://github.com/golang/go/issues/3358

[2016-05-13 01:10] balamurugana commented on #1593
Top level locking doesn't fix this issue.  It requires deep code check.

[2016-05-13 01:14] harshavardhana commented on #1620
We need to get to a point somewhere in future to support it and also possibly contribute upstream eventually.

[2016-05-13 01:22] balamurugana commented on #1602
TBD how to store the such meta data content.

[2016-05-13 04:01] #1614 closed, assigned to harshavardhana

[2016-05-13 04:06] krishnasrinivas opened #1624 "Parallel multipart uploads to the same object fail (18th)"
two parallel uploads causes problem:

[code]

server logs:

[code]

[2016-05-13 04:09] krishnasrinivas commented on #1624
mostly same as https://github.com/minio/minio/issues/1593

[2016-05-13 05:01] krisis commented on #1551
This problem is reproducible consistently. While debugging this issue I noticed that we are not closing the readCloser objects streaming the multipart chunks of the object. Fixing this 'leak' results in `mc cp` to progress further than before. But it still fails with the same timeout error message.

[2016-05-13 05:33] hackintoshrao commented on #1618
@harshavardhana  : Able to consistently reproduce it with concurrency levels great than 100.

[2016-05-13 05:51] harshavardhana commented on #1618
Cool, let me know where is the setup, i can take a look.

[2016-05-13 07:30] hackintoshrao commented on #1618
@harshavardhana : Its on amazon instance.

[2016-05-13 07:40] #1615 closed, assigned to harshavardhana

[2016-05-13 07:57] hackintoshrao opened #1626 "XL: Unusual blocking on getVolDir. - May 14th"
From the blocking profile of server under the load of exec-concurrent.go at concurrency level of 150 shows that `getVolumeDir` is unusually blocked on Regexp operations.

Here is the blocking profile.
[150block.pdf](https://github.com/minio/minio/files/262730/150block.pdf)

`play/profiles/150exec/` contains the binary and blocking profile file for further deep dive investigation.

[2016-05-13 08:37] hackintoshrao commented on #1618
All the failed Goroutines were blocked on getObject. The get object stops responding after a while.
It is clear form the log
`cat concurrent.log | grep api-get-object.go`

[code]

[2016-05-13 09:24] krishnasrinivas opened #1628 "XL/fs: Implement comprehensive unit tests for multipart upload."
multipart unit tests:
- complete multipart upload with unsorted parts should give error
- complete multipart with one of the parts less than 5mb (which is not the last one) should give error

data integrity tests: (https://github.com/minio/minio/issues/1580 https://github.com/minio/minio/issues/1582)
create 10MB file using multipart
- verify if md5sum matches for the entire file
- verify if md5sum

[2016-05-13 10:33] #1626 closed, assigned to harshavardhana

[2016-05-13 17:32] krishnasrinivas commented on #1548
@harshavardhana you can close this as agreed on chat.

[2016-05-13 17:38] krishnasrinivas commented on #1540
fixes by harsha and https://github.com/minio/minio/pull/1606 make the code much better.

[2016-05-13 17:38] #1540 closed, assigned to krishnasrinivas

[2016-05-13 17:40] balamurugana commented on #1605
Currently there is no guaranteed way to find size of syscall.Dirent structure and couldn't able to find a solution proposed now.

[2016-05-13 18:09] balamurugana commented on #1545
To be closed on May-13.

[2016-05-13 18:39] #1545 closed, assigned to balamurugana

[2016-05-13 18:40] #1548 closed, assigned to krishnasrinivas

[2016-05-13 18:43] #1616 closed, assigned to krishnasrinivas

[2016-05-13 18:52] #1598 closed, assigned to krishnasrinivas

[2016-05-13 19:26] harshavardhana opened #1633 "objects: MakeBucket attempted twice on the same bucket. - May 17th"
[code]

200 + go-routine run failed with trying to create the same bucket which was already created.

[code]

[2016-05-13 19:26] harshavardhana commented on #1633
Need to investigate more.

[2016-05-13 19:31] balamurugana commented on #1591
To be closed on May-14.

[2016-05-13 19:32] balamurugana commented on #1536
To be closed on May-14.

[2016-05-13 19:37] balamurugana opened #1635 "XL: Multiple meta data files may cause version confusion"
Currently XL stores various meta data into independent different files eg. multipart information is stored into separate JSON file, EC information are stored in separate JSON file and proposed other meta data will be stored in meta.json.

As we use quick to store each json file which uses separate independent version numbers.  Whereas we would need to use top level version in XL code which is also

[2016-05-13 19:42] balamurugana opened #1636 "XL: data corruption/loss may happen if underlying disks are renamed - May 20th"
Its known that physical disks may named different on each run of operating system especially in GNU/Linux, eg. a device `sdi` may appear as `sdk` in next reboot.

In a system where UUID of disk file system is not used in fstab or mount command to mount such disks may lead XL to place data in a wrong set of disk order.  This will lead to data corruption and loss.

This needs to be fixed.

[2016-05-13 20:02] krishnasrinivas commented on #1594
@balamurugana this should be fixed now

[2016-05-13 20:02] harshavardhana commented on #1635
We don't use quick for internal XL operations, we just use simple unmarshalling and marshalling.

[2016-05-13 21:16] hackintoshrao opened #1637 "XL : Timeout during high concurrent load. - May 19th"
When [exec-concurent.go](https://gist.github.com/hackintoshrao/6f821cc7185e39cce3733c138390fc29) executed at concurrency set to 500 resulting in tests being failed due to timeout of multiple operations.

[2016-05-13 21:21] koolhead17 opened #1638 "XL: writeErasure consumes 66% of memory"
writeErasure consumes 66% of memory, is it expected?

I observed this during 1 GB of `mc cp` file transfer.

Here is the memory profiler file.
[aa.pdf](https://github.com/minio/minio/files/264096/aa.pdf)

[2016-05-13 22:13] harshavardhana opened #1639 "objects: Locking should move from xl-erasure-v1 to xl-objects.go"

[2016-05-13 22:13] harshavardhana commented on #1618
Is this still valid?

[2016-05-13 22:14] harshavardhana commented on #1605
Clearing this from this milestone.

[2016-05-14 01:12] #1609 closed, assigned to harshavardhana

[2016-05-14 01:30] harshavardhana opened #1641 "ResumablePutObject failed with minio-go functional tests running 500 go-routines - May 17th"
[code]

[2016-05-14 05:33] balamurugana commented on #1641
See Also https://github.com/minio/minio/issues/1593

[2016-05-14 05:55] #1594 closed, assigned to krishnasrinivas

[2016-05-14 06:04] #1591 closed, assigned to balamurugana

[2016-05-14 09:50] harshavardhana commented on #1638
From the pdf out of total used 5.8MB

[code]

writeErasure is using 4MB

[code]

This the right amount that we expect at any given point in time with in erasure code.
Closing this bug as it's not a memory issue.

[2016-05-14 09:50] #1638 closed, assigned to harshavardhana

[2016-05-14 09:50] harshavardhana commented on #1637
@hackintoshrao can you attach blocking profile output here for review?

[2016-05-14 09:53] harshavardhana commented on #1601
@koolhead17 can this be validated again with the latest master?

[2016-05-14 09:54] harshavardhana commented on #1595
@krishnasrinivas - is this already fixed?

[2016-05-14 09:54] harshavardhana commented on #1600
@koolhead17 - can this be validated again?

[2016-05-14 10:12] vadmeste opened #1643 "Remove a non existant object returns 404 instead of 204 (May 15th)"
http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectDELETE.html

Special Errors:
This implementation of the operation does not return special errors. For general information about Amazon S3 errors and a list of error codes, see Error Responses.

[2016-05-14 11:35] krishnasrinivas commented on #1595
@harshavardhana yes

[2016-05-14 14:24] krishnasrinivas opened #1644 "XL: parallel upload of the same part number fails (18th)"
parallel upload of the same part number fails:

[code]

[2016-05-14 14:27] koolhead17 commented on #1600
This is how i see the progress so far, its consistent at speed 35, the upload is still in progress.

[code]

[2016-05-14 14:39] koolhead17 commented on #1601
This is how i see it now (May 14)

[code]

[2016-05-14 20:34] #1595 closed, assigned to krisis

[2016-05-14 22:47] #1643 closed, assigned to harshavardhana

[2016-05-15 00:10] harshavardhana commented on #1601
Interestingly just a regular FS behaves the same way, i think this issue is not really inside XL anymore.

[code]

Even a multipart is around.

[code]

This is just local SSD, provides 250-350MB/sec Removing md5sum check also leads only minor benefit

[code]

So we are looking at something else is going on here which needs investigation.

[2016-05-15 00:15] harshavardhana opened #1646 "XL/fs: Investigate and track down performance issues related to PutObject/PutObjectPart"
Interestingly just a regular FS behaves the same way, i think this issue is not really inside XL anymore.

[code]

Even a multipart is around.

[code]

This is just local SSD, provides 250-350MB/sec Removing md5sum check also leads only minor benefit

[code]

So we are looking at something else is going on here which needs investigation.

[2016-05-15 00:15] #1601 closed, assigned to harshavardhana

[2016-05-15 00:16] harshavardhana commented on #1646
On test machine while uploading 1 TB single file, the upload speed slows down as upload size size increases periodically.

[code]

[2016-05-15 00:16] harshavardhana commented on #1646
This is how i see the progress so far, its consistent at speed 35, the upload is still in progress.

[code]

[2016-05-15 00:16] #1600 closed, assigned to harshavardhana

[2016-05-15 00:18] #1553 closed, assigned to harshavardhana

[2016-05-15 00:19] harshavardhana commented on #1618
Closing this as this was fixed by #1629

[2016-05-15 00:19] #1618 closed, assigned to harshavardhana

[2016-05-15 03:18] harshavardhana opened #1647 "Xl: volume healing fails to work with ListVols()"
HealVol is not consistent . Should heal if necessary.

[2016-05-15 06:40] harshavardhana commented on #1405
Duplicate of #1628 - closing.

[2016-05-15 06:40] #1405 closed, assigned to hackintoshrao

[2016-05-15 06:41] harshavardhana commented on #1628
Implement tests for
- ListsMultipartUpload - for all cases including marker and upload-id-marker.
- ListMultipartObjectParts - for all cases with part-number-marker.

[2016-05-15 06:57] #1647 closed, assigned to harshavardhana

[2016-05-15 07:53] nii236 commented on #1131
What about creating folders? #154 only covers deletion

[2016-05-15 18:35] krishnasrinivas opened #1649 "XL: parallel uploads of small files gives error"
[code]

test code:

[code]

[2016-05-15 18:54] krishnasrinivas commented on #1644
testing code:

[code]

[2016-05-15 19:46] krishnasrinivas opened #1650 "XL: race between GetObject and PutObject"
100 parallel GetObject() request and 1 PutObject() gives error, proving that there is race condition between GetObject and PutObject

[code]

test code:

[code]

[2016-05-16 00:43] harshavardhana commented on #1504
After reading the related RFC and reading through golang bugs https://github.com/golang/go/issues/823, it is in-fact the right behavior

[code]

So in this case aws-sdk-java is misbehaving and should be fixed.

[2016-05-16 00:53] harshavardhana commented on #1504
Also the newest RFC as well - https://tools.ietf.org/html/rfc7230#section-3.2

[code]

[2016-05-16 01:09] harshavardhana commented on #1504
Additionally looks like you are using an older release - https://github.com/aws/aws-sdk-java/releases/tag/1.10.33

Recent releases since Jan 21st have the following fix

[code]

Seems like it might be fixed already @andrewkerr9000

[2016-05-16 01:09] harshavardhana commented on #1504
Can you validate and let us know @andrewkerr9000 ? - happy to send a patch upstream if its not working for you.

https://github.com/aws/aws-sdk-java/pull/590

[2016-05-16 02:21] balamurugana opened #1651 "XL: remove bucket failed"
Steps to reproduce
1. run minio server with 8 disks

[code]
1. make bucket

[code]
1. do single put object

[code]
1. do multipart put object

[code]
1. remove the object

[code]
1. remove the bucket

[code]

it fails with `mc: <ERROR> Unable to remove ‘myminio/mybucket’. The bucket you tried to delete is not empty.`

each disk has empty directory `d{0..7}/mybucket/zero/b4a97881-5de1-4e43-98e2-000

[2016-05-16 04:55] hackintoshrao commented on #1637
Sure.

[2016-05-16 05:38] harshavardhana commented on #1651
Not able to reproduce this.. locally with latest master, do you have a setup where it was reproduced?

Followed your steps.

[code]

[code]

[code]

[code]

[2016-05-16 09:07] balamurugana commented on #1651
The issue is happening in

[code]

[2016-05-16 09:30] harshavardhana commented on #1651
Do you have a machine where you reproduced this? - i tried already multiple times.

[2016-05-16 11:57] hackintoshrao commented on #1646
The exec-concurrent tests at concurrency of 500 shows that tests for PutObject in most of the go routines fails by timing out,  play/sanctity/logs/concurrent.log is the log for the same. Looks like this is closely related to #1641 and #1637 .

[2016-05-16 14:24] hackintoshrao commented on #1646
Here is the block profile for exec-concurrent ( `sudo ./exec-concurrent "TestResumablePutObject"` ) at concurrency level of 500, ran the test with increased timeout of one hour.
[500putblock.pdf](https://github.com/minio/minio/files/266240/500putblock.pdf)

[2016-05-16 18:05] harshavardhana commented on #1646
The block profile is not giving much info, the usage of sync.Lock and sync.Wait is expected. To avoid locks they have to made even more granular to multiple levels.

There is no single button fix for this one.

[2016-05-16 20:56] vadmeste opened #1653 "Deleting a file has no effect."
I was stress testing minio with simultaneous uploading, listing and recursive removing.. after a while, not sure how, I am not able to remove a file any more. You can find my export directories from 1 to 8 attached to this issue:
[export_1_to_8.tar.gz](https://github.com/minio/minio/files/266950/export_1_to_8.tar.gz)

the output of mc --debug rm --recursive

[code]

[2016-05-16 21:04] harshavardhana commented on #1653
Can you list the contents on the file '3629' ? from the backend?

[2016-05-16 21:18] vadmeste commented on #1653
Not sure how can I list the content from the backend. I guess it is /tmp/export*/backend/bucket/3629/00000.minio.multipart/file.*, right ?

[2016-05-16 21:22] harshavardhana commented on #1653
yes, is this a multipart file ?

[2016-05-16 21:27] vadmeste commented on #1653
not sure, I was stress testing with random file content and size and I am not sure how big it was, anyway:

[code]

The content of the file is supposed to be random, as I said above, I attached the exports directories to this issue, you should be able to reproduce this I guess in your machine

[2016-05-16 21:36] harshavardhana commented on #1651
i have a separate problem here - oddly not able to upload the file either.

[code]

[2016-05-16 22:19] harshavardhana commented on #1653
Sending a fix, should be able to fix the problem.

[2016-05-16 22:40] #1651 closed, assigned to harshavardhana

[2016-05-16 22:40] #1653 closed, assigned to harshavardhana

[2016-05-17 01:59] balamurugana opened #1655 "A successful single put object causes failure of running multipart put - May 18th"
Steps to reproduce
1. Start minio server

[code]
1. create a bucket

[code]
1. upload a big file then upload small file

[code]

We get error `mc: <ERROR> Failed to copy ‘zero101’. Object key is missing, object key cannot be empty`

minio version

[code]

[2016-05-17 02:09] harshavardhana commented on #1655
This bug is same issue as parallel multipart put.

[2016-05-17 02:22] hackintoshrao commented on #1637
Block profiles reveal that locking is consuming lot of much of time, which is inevitable for now.
[150block-2.pdf](https://github.com/minio/minio/files/267291/150block-2.pdf)

[2016-05-17 02:28] harshavardhana commented on #1637
The interesting observation here is that the calls for MakeBucket are not fast enough , this can be really reduced to a smaller value with a simple change.

[code]

[2016-05-17 03:19] hackintoshrao commented on #1646
[500putcpu.pdf](https://github.com/minio/minio/files/267365/500putcpu.pdf), From CPU profile its evident that `getAllUniqueVols` consume half the CPU.

[2016-05-17 07:36] krishnasrinivas opened #1657 "Unit tests for PUT object when the object already exists"
unit test case for the commit https://github.com/minio/minio/commit/8099396ff0db764baa7102e86868c21f510657ca
, unit test case should do this:

[code]

[2016-05-17 09:41] harshavardhana commented on #1633
Re-assigned - May 17th.

[2016-05-17 10:41] hackintoshrao commented on #1633
This seems to be a hard bug to reproduce. At concurrency level of 500 , only one go routine fails (that too not consistently) with `makeBucket` succeeding for second time for same bucket name.

[2016-05-17 10:49] hackintoshrao opened #1658 "XL : CopyObject Fail."
While running `exec-concurrent.go` tests at concurrency level of 500, Most of the  go routines fail for
`$ sudo ./exec-concurrent "TestCopyObject”`  fails.

 Only few succeed.

[2016-05-17 10:52] hackintoshrao opened #1659 "XL : Server frozen during Object insertion ops."
While running `exec-concurrent.go` tests at a concurrency level of 500 , most of the `putObject` tests freeze and eventually timeout. What's really concerning is that the CPU shows inactivity, so the timeout is not due to server busy with processing. Seems to be a serious issue, need to investigate more.

Here are some of the tests to replicate it
`sudo ./exec-concurrent "TestResumableFPutObject”`

[2016-05-17 14:44] krishnasrinivas commented on #1639
should also fix all the race conditions that we have https://github.com/minio/minio/issues/1644 https://github.com/minio/minio/issues/1624  https://github.com/minio/minio/issues/1650  https://github.com/minio/minio/issues/1649

[2016-05-17 18:07] krishnasrinivas opened #1662 "client.initiateMultipartUpload() to a non existent bucket succeeds"
client.initiateMultipartUpload() to a non existent bucket succeeds. Should fail.

[2016-05-17 18:44] #1541 closed, assigned to krishnasrinivas

[2016-05-17 18:46] harshavardhana commented on #1657
Assigned to @hackintoshrao

[2016-05-17 18:46] krishnasrinivas opened #1663 "AbortMultipartUpload does not remove the backend entries (18th)"
[code]

[code]

[2016-05-17 19:45] vadmeste opened #1664 "Remove an incomplete upload doesn't work?"
Removing incomplete upload seems to be not working as expected :

[code]

[2016-05-17 20:04] krishnasrinivas opened #1665 "list-incomplete-uploads returns more than max-keys entries"
initiate 2000 incomplete uploads:

[code]

`testobject0.1898` is the 1000th entry, create one more uploadID for it:

[code]

Now do `mc ls -I myminio/testbucket/`

and print the number of entries in the result of list-incomplete-uploads:

[code]

it prints:

[code]

i.e it returns 1001 entries when 1000 entries were requested.

[2016-05-17 20:05] krishnasrinivas commented on #1665
The bug is seen because here we fail to do `newMaxKeys++`

[code]

[2016-05-17 20:09] krishnasrinivas commented on #1664
might be related to https://github.com/minio/minio/issues/1663

[2016-05-17 23:18] harshavardhana opened #1666 "XL: latest master error with 500 internal server error."
[code]

For 1000 go-routine run

[code]

[2016-05-17 23:19] harshavardhana commented on #1666
[code]

[2016-05-17 23:20] harshavardhana commented on #1666
Healing attempt is wrong, but even more so healing on an unknown path is also wrong.

[2016-05-17 23:56] harshavardhana commented on #1666
This seems to be we ran of out "Open files" at 64k fds, removing this from "XL standalone"

[2016-05-18 00:57] harshavardhana commented on #1662
should be fixed by #1656

[2016-05-18 00:58] harshavardhana commented on #1659
This issue is still there, able to reproduce successfully.

[2016-05-18 01:00] harshavardhana commented on #1602
Can you update the tentative date here @balamurugana ?

[2016-05-18 01:02] harshavardhana commented on #1624
@krishnasrinivas can you update the tentative date ?

[2016-05-18 01:03] harshavardhana commented on #1596
This is not needed anymore, all block and cpu profile now indicates md5block is not the issue anymore. Will re-open if this is seen again.

[2016-05-18 01:03] #1596 closed, assigned to harshavardhana

[2016-05-18 01:05] harshavardhana commented on #1566
@rushenn can you update the tentative date for this one?

[2016-05-18 01:06] harshavardhana commented on #1551
Can we add a tentative date here? @krishnasrinivas @krisis

[2016-05-18 01:06] harshavardhana commented on #1558
Is this still reproducible?

[2016-05-18 01:07] harshavardhana commented on #1504
Closing - working as expected - Please reopen if aws-sdk-java issue persists.

[2016-05-18 01:07] #1504 closed, assigned to nobody

[2016-05-18 01:09] harshavardhana commented on #1516
@krishnasrinivas is this reproducible still ?

[2016-05-18 01:28] harshavardhana commented on #1551
Closing since this issue was fixed by closing the reader properly during, if reproduced again - please reopen as new bug.

[2016-05-18 01:28] GarimaKapoor commented on #1558
Krishna please update the timeline.

[2016-05-18 01:31] GarimaKapoor commented on #1635
Bala, Can you update the timeline of the fix.

[2016-05-18 01:35] GarimaKapoor commented on #1639
Krishna, Can you update the timeline for this?

[2016-05-18 01:38] GarimaKapoor commented on #1655
Harsha, please update the timeline for the fix.

[2016-05-18 01:40] GarimaKapoor commented on #1500
Harsha, please update the timeline for the fix.

[2016-05-18 01:41] #1633 closed, assigned to harshavardhana

[2016-05-18 01:41] #1658 closed, assigned to harshavardhana

[2016-05-18 01:47] GarimaKapoor commented on #1636
Please update the timeline.

[2016-05-18 01:49] GarimaKapoor commented on #1641
Please update the timeline.

[2016-05-18 01:54] harshavardhana commented on #1500
This is already fixed, closing.

[2016-05-18 01:54] #1500 closed, assigned to harshavardhana

[2016-05-18 01:57] GarimaKapoor commented on #1665
please update the timeline.

[2016-05-18 02:01] harshavardhana commented on #1664
Closing as duplicate of #1663

[2016-05-18 02:01] #1664 closed, assigned to balamurugana

[2016-05-18 02:04] harshavardhana commented on #1593
Closing as duplicate of #1624

[2016-05-18 02:04] #1593 closed, assigned to balamurugana

[2016-05-18 02:07] harshavardhana commented on #1641
Closing as duplicate of #1644

[2016-05-18 02:07] #1641 closed, assigned to harshavardhana

[2016-05-18 02:08] harshavardhana commented on #1666
We need to handle this in a clean way.

[2016-05-18 02:09] harshavardhana commented on #1646
Closing as duplicate of #1637

[2016-05-18 02:09] #1646 closed, assigned to hackintoshrao

[2016-05-18 02:13] harshavardhana commented on #1665
Reassigned minor fix sent mentioned by @krishnasrinivas

[2016-05-18 04:22] krishnasrinivas commented on #1551
@harshavardhana problem still exists

[2016-05-18 04:27] krishnasrinivas commented on #1639
fix by: 18th

[2016-05-18 04:28] krishnasrinivas commented on #1558
@harshavardhana yes, @GarimaKapoor done

[2016-05-18 04:38] krishnasrinivas commented on #1516
@harshavardhana it should stil be reproducible. I will check today.

[2016-05-18 04:57] harshavardhana commented on #1516
Can you give me access to the setup? need to get the blocking profile and cpu profile.

[2016-05-18 04:59] harshavardhana commented on #1551
Re-opening add the profiling outputs here - if they have been captured.

[2016-05-18 04:59] krishnasrinivas commented on #1516
will do

[2016-05-18 05:06] krisis commented on #1551
Following is the blocking profile visualization captured for a (successful) copy of 10GB from minio-server to local disk.

[block.1.pdf](https://github.com/minio/minio/files/269689/block.1.pdf)

I will check if GetObject times out for larger object sizes and attach the corresponding blocking profile capture.

[2016-05-18 05:10] balamurugana commented on #1602
After the discussion we would need to store in information as `meta.json` as a separate put object.

[2016-05-18 05:31] harshavardhana commented on #1602
Yes this is correct it can be a proper meta file which is created along with the object as metadata file. possibly just a map of all the entries given in the PutObject() call as the last argument. Right now only 'md5sum' is populated.

Similarly for NewMultipartUpload should take a map[string]string as well - good thing is multipart already has a structure as it is saved as is.

[2016-05-18 06:43] balamurugana commented on #1602
To be fixed on 18-May-2016

[2016-05-18 07:01] davecheney commented on #1617
This should be fixed by pkg/profile@c78aac22bd43883fd2817833b982153dcac17b3b

[2016-05-18 07:23] hackintoshrao opened #1669 "Profiler: Block profiling failing."
Not able to run the interactive profiler on the block profile generated. Getting the following error

`parsing profile: unrecognized profile format`

[2016-05-18 17:16] harshavardhana opened #1674 "XL/fs: Preserved content-type should be returned back during GetObject"
[code]

Depends on fix at #1672

[2016-05-18 17:18] harshavardhana commented on #1674
The full fix is to make sure the `GetObject()` and `GetObjectInfo()` returns back the properly set values.

[2016-05-18 17:23] harshavardhana commented on #1659
This issue is non-existant after avoiding usage of `crand.Reader` using `bytes.Repeat` resolves the problem of bootstrap time for large go-routines.

[2016-05-18 17:23] #1659 closed, assigned to harshavardhana

[2016-05-18 17:32] harshavardhana opened #1675 "XL: 1000 go-routine run leads to pthread_create failure inside runtime"
[code]

[2016-05-18 17:34] harshavardhana commented on #1675
This requires investigation we are peaking some limits here.

[2016-05-18 17:36] harshavardhana commented on #1675
There were around '22352' go-routines running.

[2016-05-18 17:46] harshavardhana commented on #1637
This is a fixed problem now, closing.. Will re-open if seen again.

[2016-05-18 17:46] #1637 closed, assigned to hackintoshrao

[2016-05-18 17:53] balamurugana commented on #1674
Currently GetObject() and GetObjectInfo() do not have option to return meta data stored in single put object.  What is the plan on this?

[2016-05-18 18:17] balamurugana commented on #1635
This bug is a place holder to indicate how XL config files are stored in the backend.  Hence there is no direct fix available.

[2016-05-18 18:26] harshavardhana commented on #1674
The plan is to read meta.json,  that is the whole purpose of creating it during PutObject()

[2016-05-18 18:34] #1666 closed, assigned to harshavardhana

[2016-05-18 18:37] harshavardhana commented on #1675
[code]

Another pthread_create failure this time with 500 routines but while running all the tests simultaneously. This time go-routines were around '3865796'.

[2016-05-18 19:35] krishnasrinivas commented on #1644
After locking fixes https://github.com/minio/minio/pull/1673 this is the error that we get:

[code]

[2016-05-18 20:30] #1663 closed, assigned to krishnasrinivas

[2016-05-18 20:37] #1644 closed, assigned to krishnasrinivas

[2016-05-18 20:56] #1602 closed, assigned to balamurugana

[2016-05-18 21:02] harshavardhana opened #1679 "XL/fs: ListMultipartUploads returning list not according to S3 spec"
[code]

[2016-05-18 21:21] krishnasrinivas opened #1680 "XL: After complete-multipart-upload we might be retaining unneeded parts"
Let's say 10 parts were uploaded, but complete-multipart-upload specifies just 8 parts to be part of the completed object, then we retain the extra two parts after we rename the uploadID from `.minio` to the actual object location.

Fix not urgent as this would be a rare case.

[2016-05-18 21:26] harshavardhana commented on #1680
We can purge the other parts safely if there are no more uploads pending on that key anymore. We should also see how S3 behaves in this case.

[2016-05-18 21:33] krishnasrinivas commented on #1516
the problem is still there for slow disks (azure vm with 30mbps sequential writes)

[code]

could not get blocking/cpu profile because of https://github.com/minio/minio/pull/1670
Will give you access.

[2016-05-18 21:51] harshavardhana commented on #1551
The problem is not server side from what it looks like golang http client just gives up after 8minutes.

[code]

[2016-05-18 21:51] harshavardhana commented on #1551
Trying with curl to validate the theory.

[2016-05-18 22:03] harshavardhana commented on #1551
Theory validates the issue is in using http.ClientTimeout and we should fix this for minio-go as well as 'mc'.

[code]

[2016-05-18 22:03] #1551 closed, assigned to krisis

[2016-05-18 22:05] #1639 closed, assigned to krishnasrinivas

[2016-05-18 22:05] #1649 closed, assigned to krishnasrinivas

[2016-05-18 22:06] #1665 closed, assigned to harshavardhana

[2016-05-18 22:07] krishnasrinivas commented on #1650
fixed by https://github.com/minio/minio/pull/1673/commits/350c429496ec5050ed50cd9171f0be55792a72ce

[2016-05-18 22:07] #1650 closed, assigned to krishnasrinivas

[2016-05-18 22:07] #1662 closed, assigned to harshavardhana

[2016-05-18 22:10] krishnasrinivas commented on #1624
`"cause":{"message":"The specified multipart upload does not exist."` is not an error condition as the first `mc` would have done the complete-multipart-upload causing the second `mc` to fail.

But locking was needed none the less so that we don't see any unexpected errors.

https://github.com/minio/minio/pull/1673/commits/350c429496ec5050ed50cd9171f0be55792a72ce

[2016-05-18 22:10] #1624 closed, assigned to krishnasrinivas

[2016-05-18 22:12] harshavardhana commented on #1655
Fixed in the current master - fixed by @krishnasrinivas

[2016-05-18 22:12] #1655 closed, assigned to harshavardhana

[2016-05-18 22:12] harshavardhana commented on #1617
Fixed by @davecheney upstream.

[2016-05-18 22:12] #1617 closed, assigned to hackintoshrao

[2016-05-18 23:40] harshavardhana opened #1682 "XL/Fs: CopyObject fails to preserve the md5sum"
[code]

[2016-05-19 00:13] harshavardhana opened #1683 "XL/FS: PutObject needs to be idempotent behavior when disks are down - May 20th"
Object seems to have been created even when writeQuorum did not meet.

[code]

This leads to the problem on not being able to upload a new file with the same name also reading the same file silently fails.

[code]

[2016-05-19 00:14] harshavardhana commented on #1683
[code]

Works btw.

[2016-05-19 00:34] hackintoshrao commented on #1675
This is interesting.

[2016-05-19 00:38] harshavardhana opened #1684 "XL: healFile complains about failed to reconstruct even with writeQuorum available"
[code]

The file is in-fact though can be read properly. Easy to recreate.

Start with 10disks,

[code]

[code]

[code]

[code]

[2016-05-19 00:39] harshavardhana opened #1685 "XL: Attempt to combine, healFile and healVolume into same code."

[2016-05-19 00:43] harshavardhana commented on #1685
The reason is that having a bucket namespace consistent with healing is important for objects to be created. During a CreateFile if volumes are missing and can be healed should be healed before attempting the CreateFile.

This also means that we can make healing code common and do both the jobs.

[2016-05-19 02:22] balamurugana commented on #1674
To b fixed at 19-May-2016

[2016-05-19 02:35] balamurugana commented on #1685
TBD. Its not clear enough how to combine healVolume() and healFile() together.

[2016-05-19 13:13] krishnasrinivas commented on #1684
i am getting a different error:

[code]

[2016-05-19 14:07] rushenn commented on #1567
Couldn't re-produce the issue, closing.

[2016-05-19 14:07] #1567 closed, assigned to rushenn

[2016-05-19 14:25] krishnasrinivas opened #1690 "XL: Create unique tmp files 27th"
The temporary file that we create (and ultimately rename to the actual location) should be unique, because as of now it gets created in as `.minio/tmp/bucket/object` on which race can happen.

[2016-05-19 14:29] krishnasrinivas opened #1691 "XL: access/creation of objects with reserved names should be rejected"
Access/Creation of reserved names like uploads.json file.json meta.json `.minio.multipart` should be rejected.

[2016-05-19 14:40] rushenn commented on #1566
@harshavardhana sent pull request https://github.com/minio/miniobrowser/pull/160

[2016-05-19 14:49] krishnasrinivas opened #1692 "XL: List panics if a backend directory was removed"
- remove a backend disk directory
- do `mc ls myminio/test`

It paniced:

[code]

mostly because List went to that particular disk.

[2016-05-19 15:22] krishnasrinivas commented on #1684
because of this commit 4bc923e6

[code]

[2016-05-19 15:47] krishnasrinivas commented on #1684
Is the above diff needed? because I have removed it in the PR along with another fix https://github.com/minio/minio/pull/1693

[2016-05-19 17:05] krishnasrinivas commented on #1690
@harshavardhana assign this to me

[2016-05-19 17:05] krishnasrinivas commented on #1691
@harshavardhana assign this to me

[2016-05-19 18:32] #1692 closed, assigned to nobody

[2016-05-19 18:32] #1684 closed, assigned to krishnasrinivas

[2016-05-19 18:34] #1566 closed, assigned to rushenn

[2016-05-19 21:51] harshavardhana opened #1696 "fs: Add pending format.json"

[2016-05-19 21:52] harshavardhana opened #1697 "XL: Rename to tmp location before deleting the existing object."
xl-objects-multipart.go

[code]

xl-objects.go

[code]

[2016-05-19 22:34] #1674 closed, assigned to balamurugana

[2016-05-19 22:37] harshavardhana commented on #1691
What is the purpose of this? why would you need to filter these out? can you produce a case where this fails?

[2016-05-20 00:10] #1682 closed, assigned to harshavardhana

[2016-05-20 01:54] harshavardhana commented on #1669
This is not entirely fixed yet, still able to reproduce the problem with latest master.

[2016-05-20 02:11] harshavardhana commented on #1669
This is actually fixed, I tried multiple packages the issue of 'unrecognized format' was not block.pprof being readable. In-fact mem and block profile are always readable they are not in gob format like cpu.pprof.  The issue was the order of arguments on the command line, giving profile output first and then binary later.

User error :( at best. closing.

[2016-05-20 02:11] #1669 closed, assigned to nobody

[2016-05-20 02:35] balamurugana commented on #1697
To be fixed by 20-May-2016

[2016-05-20 02:40] harshavardhana commented on #1679
We need to discuss this and prioritize if at all its needed for this release, keeping it here for discussion.

[2016-05-20 05:13] GarimaKapoor commented on #1683
Please update the timeline!

[2016-05-20 05:15] GarimaKapoor commented on #1690
@krishnasrinivas please update the timeline.

[2016-05-20 06:26] krishnasrinivas commented on #1691
@harshavardhana do this:

[code]

now doing `mc ls myminio/testbucket/a/b/c` has undesired consequences (we give 500 internal error)

[2016-05-20 08:05] harshavardhana commented on #1516
[list-objects-blocking.pdf](https://github.com/minio/minio/files/274142/list-objects-blocking.pdf)
[list-objects-cpu.pdf](https://github.com/minio/minio/files/274143/list-objects-cpu.pdf)

Attaching here for reference.

[2016-05-20 08:56] #1683 closed, assigned to harshavardhana

[2016-05-20 09:15] mkash32 opened #1705 "Access Policy: Setting policy of subdirectory in bucket"
When we are setting an access policy for a prefix of a directory within a bucket, the trailing '/' is causing a difference in the permissions.
For example,

[code]

It is not being treated as a directory without the trailing /.

When we are setting the access policy for a bucket there is no distinction between a trailiing / and without it is correctly assumed as a directory.

[2016-05-20 09:19] harshavardhana commented on #1705
// cc @hackintoshrao - can you take a look - looks like a regex issue?

[2016-05-20 09:22] #1636 closed, assigned to harshavardhana

[2016-05-20 16:32] krishnasrinivas opened #1706 "list-incomplete-uploads should skip marker"
create few uploadIDs for an object:

[code]

list them (out put as expected):

[code]

now give the uploadid marker as `f18d47db-1466-48f9-ae54-e32adffa37ba`:

[code]

It should have skipped the entry with the marker `f18d47db-1466-48f9-ae54-e32adffa37ba` and shown only the last entry.

[2016-05-20 16:37] krishnasrinivas opened #1707 "list-incomplete-uploads incorrect output when delimiter is provided (21st)"
create few uploadIDs for an object:

[code]

list them with `--delimiter` option (out put as expected):

[code]

now provide any upload-id-marker:

[code]

Server does not return any entries at all. It should have returned entries after the uploa-id-marker.

[2016-05-20 16:59] krishnasrinivas commented on #1707
found the problem, marker is not right for non-recursive case, `listMetaBucketMultipartFiles()` needs rework

[2016-05-20 17:56] hackintoshrao commented on #1705
@harshavardhana : Will investigate more tomorrow.

[2016-05-20 18:48] #1706 closed, assigned to nobody

[2016-05-20 19:21] krishnasrinivas opened #1709 "Multipart: partnumber can not be more than 10000"
[code]

[2016-05-20 20:33] harshavardhana opened #1710 "browser: Object uploads file doesn't appear"

[2016-05-20 20:59] harshavardhana commented on #1709
@krishnasrinivas - let Akash know what needs to be done.

[2016-05-20 21:27] harshavardhana opened #1711 "format: Heal 'format.json' if missing on fresh-disks and fix on corrupted disks - May 25"

[2016-05-20 21:29] harshavardhana commented on #1516
@krishnasrinivas were you able to validate with attaching addition disks from 3 to 12 ?

[2016-05-20 22:47] harshavardhana commented on #1691
There is a way to fix it, it is our bug we shouldn't reject these type of files before exploring the possibility of a bug in our code.

[code]

[2016-05-20 23:54] harshavardhana opened #1713 "XL: listObjects incorrectly lists meta.json if provided an end prefix."
[code]

[code]

[2016-05-20 23:58] harshavardhana opened #1714 "XL: PutObject unsuccessfully overwrites the object."
[code]

[2016-05-21 00:27] #1714 closed, assigned to harshavardhana

[2016-05-21 02:20] GarimaKapoor commented on #1690
@krishnasrinivas please update the timeline for closing this issue!

[2016-05-21 02:25] GarimaKapoor commented on #1711
@harshavardhana please update the subject with the timeline.

[2016-05-21 02:28] harshavardhana commented on #1710
![browser-upload-bug](https://cloud.githubusercontent.com/assets/622699/15445911/06461db0-1ec1-11e6-8bc2-8c4ea5aeeaec.png)

[2016-05-21 05:04] GarimaKapoor commented on #1713
@balamurugana please update the timeline for closing this issue.

[2016-05-21 07:11] krisis opened #1716 "Isolate profiling information on a per server instance basis - May 23rd"
This would be useful when we need profiling information of a specific minio-server instance in a multi-tenant deployment.

[2016-05-21 07:23] harshavardhana opened #1717 "pkg: Remove probe code entirely."

[2016-05-22 05:01] hackintoshrao opened #1720 "XL: ListMultipart: Order of List for objects with Multiple UploadID's. - May 25th"
With unit tests not able to get a guarantee on the order of objects for `ListMultiparts`.

[2016-05-22 05:42] hackintoshrao opened #1721 "XL: ListMultipart: UploadID Marker entry not skipped. - May 25th"
When ListMultipart with UploadID Marker is called, the entry corresponding to the UploadID Marker is not skipped in the result.

[2016-05-22 05:53] hackintoshrao commented on #1628
@harshavardhana : Please add In progress label.

[2016-05-22 05:53] hackintoshrao commented on #1721
You can run the test in following link to validate. https://gist.github.com/hackintoshrao/9af326123cfbce721ff771460fc1e855

[2016-05-22 09:21] krishnasrinivas commented on #1721
@hackintoshrao are you running the latest code because this was fixed two days back 5b95f097d4b24e6e49e44f95d05e1d5a9ce10270

[2016-05-22 09:27] krishnasrinivas commented on #1720
@hackintoshrao can you provide more details? can you paste the unit test case for which it is failing?

[2016-05-22 15:01] hackintoshrao commented on #1721
@krishnasrinivas : I'm running from latest, can you try running the test???
`go test -run=TestListMultipartUploads`

[2016-05-22 15:17] hackintoshrao commented on #1720
@krishnasrinivas : Just saw this. This is to do with the comment here https://github.com/minio/minio/blob/master/object-common-multipart.go#L437 .

[code]

This is not produced consistently since it depends on uuid of UploadID generated.

[2016-05-22 21:23] GarimaKapoor commented on #1716
@krisis please update the timeline for fixing the issue.

[2016-05-22 21:43] GarimaKapoor commented on #1721
@harshavardhana, please update the timeline to fix this issue.

[2016-05-22 21:43] GarimaKapoor commented on #1720
Please update the timeline

[2016-05-22 21:44] GarimaKapoor commented on #1711
Update the timeline to fix this issue!

[2016-05-22 21:45] GarimaKapoor commented on #1710
Update the timeline to resolve this issue!

[2016-05-22 21:47] GarimaKapoor commented on #1709
@krishnasrinivas update the timeline to fix this.

[2016-05-23 00:22] hackintoshrao commented on #1720
For the test here https://gist.github.com/hackintoshrao/01fe4f9aff252fca94388eaf9395ebd4 , It failed once with error

[code]

But its not consistent.  It is just to do with the order of Result for objects with multiple uploadID's.

[2016-05-23 00:30] hackintoshrao commented on #1720
[code]

[2016-05-23 00:35] hackintoshrao commented on #1720
Sometimes there is more than order related issue, Incorrect result when maxKeys are set

[code]

[2016-05-23 04:48] hackintoshrao opened #1723 "XL: ListMultipart: keymarker not set in the result."
The uncommented test case in the following link reproduces the error.
https://gist.github.com/hackintoshrao/46cef44e39eb14f7813635dec4b699ff

[2016-05-23 06:17] #1716 closed, assigned to krisis

[2016-05-23 06:52] hackintoshrao opened #1724 "XL: ListMultipart: `Istruncated` and `NextUploadIDMarker` and `NextKeyMarker` set to wrong values."
# The uncommented test in the code below reproduces the issue

https://gist.github.com/hackintoshrao/0bb00a5240eec1bf5f3c3071ebee77da .

Here is the brief description of the issue
- Set  `MaxUploads`  to be equal to the number of actual entries of the meta information expected.
- Example: If there is only 1 meta info to list, `MaxUploads` to 1, in this case `IsTruncated` is supposed to be set to f

[2016-05-23 07:17] hackintoshrao opened #1725 "XL : ListMultipart: Confirming correct behaviour when `MaxUpload` is set to 0. - May 25th"
The uncommented test case in the following link reproduces the issue.
https://gist.github.com/hackintoshrao/e1884dd608f7094dca6bb37bf6646a42

I'm not sure of expected behavior when `MaxUpload` is set to 0.
Here is the observation.
- When `MaxUplaod` is set to 0, the result contained all entries and Istruncated is set to `false`.

Wanted to know whether that's the expected behavior.
Please comment

[2016-05-23 08:19] harshavardhana commented on #1725
If maxUploads is set to '0' result shouldn't have all the entries. IT should behave similar to Amazon S3.

[2016-05-23 08:20] hackintoshrao commented on #1725
@harshavardhana : What does S3 do ? It returns empty result right ?

[2016-05-23 08:22] hackintoshrao opened #1726 "XL: ListMultipart: Keymarker entry not skipped."
The uncommented test case in the following link reproduces the issue.
https://gist.github.com/hackintoshrao/28462e60615ba5282828600238845dc4 .

Here is a brief summary of the issue.
- When `KeyMarker` is set to one of the object entries it has to be skipped in the result.

Again, the test case in the link above reproduces the bug.
Just copy the code and run
`$ go test -run=TestListMultipartUploads

[2016-05-23 21:46] hackintoshrao opened #1727 "XL: ListMultipart: Prefix not set in the output."
When `prefix` parameter is set in the input to `ListMultipart` , the `Prefix` field in the result should be set to that value.
The uncommented  case in the following link reproduces the issue.
https://gist.github.com/hackintoshrao/4c964f8d81b62648947a375607f5a75b .

Here is the result of running the test.

[code]

[2016-05-23 22:55] hackintoshrao commented on #1724
https://gist.github.com/hackintoshrao/8a03ca4f4db43bb53f150b42406e457f .
Test in the link above too reproduces the bug.

[2016-05-24 04:59] harshavardhana commented on #1724
Can you submit the listMultipartUploads tests to the rewrite-xl branch? - it can be tested and validated with the new code change.

[2016-05-24 05:57] hackintoshrao commented on #1724
@harshavardhana : Sure. Still adding more cases. But will add the current work and keep updating.

[2016-05-24 06:27] harshavardhana commented on #1713
Closing this not relevant anymore..

[2016-05-24 06:27] #1713 closed, assigned to balamurugana

[2016-05-24 06:28] harshavardhana commented on #1691
Closing not relevant anymore, need to re-evaluate with a separate bug.

[2016-05-24 06:28] #1691 closed, assigned to krishnasrinivas

[2016-05-24 06:29] harshavardhana commented on #1635
With the new design we have reduced this to 3 files which carry the versioning from `format.json`, closing  not relevant anymore.

[2016-05-24 06:29] #1635 closed, assigned to balamurugana

[2016-05-24 06:36] krishnasrinivas commented on #1709
`miniodebug --endpoint localhost:9000 --accesskey SXO8VW2OFKKP2OG7AC85 --secretkey CKWSSgrUgvfUMTaNBkB63exet4WW+uNhQvi91Bc3 multipart new`

this gives you uploadID like `402bf5d9-3282-4915-93d1-83bc6654b5e4`

then do
`miniodebug --endpoint localhost:9000 --accesskey SXO8VW2OFKKP2OG7AC85 --secretkey CKWSSgrUgvfUMTaNBkB63exet4WW+uNhQvi91Bc3 multipart upload --bucket testbucket --object testobject --

[2016-05-24 06:37] krishnasrinivas commented on #1709
do `go get github.com/krishnasrinivas/miniodebug` to get the miniodebug binary

[2016-05-24 08:53] #1709 closed, assigned to krishnasrinivas

[2016-05-24 09:14] harshavardhana opened #1734 "XL/fs: Implement checksum support - transparently. May 29th"

[2016-05-24 09:16] krishnasrinivas opened #1735 "list performance"
readDir + stat(DIR/xl.json) takes:
1 minute per million on hq servers
10 minutes per million on azure with slow disks

here is the program used to test https://gist.github.com/krishnasrinivas/ee4caa17dbe6af00eb17a5af10182d3d

If we have to improve the listing performance, it needs changes to the backend tree structure.

By making suitable changes we can bring down the listing time to:
3 secs per m

[2016-05-24 11:22] hackintoshrao commented on #1720
One more test to catch the issue https://gist.github.com/hackintoshrao/30346d4be2d00fd8f39c1ef6ce332ebc .

[2016-05-24 14:44] krishnasrinivas opened #1736 "XL/erasure: content corruption"
[code]

[2016-05-24 15:05] krishnasrinivas opened #1738 "XL/multipart: upload gives part size error"
[code]

[2016-05-24 15:32] abperiasamy commented on #1735
10 to 20x improvement makes it compelling. Let me understand what causes the xl.json stat to be awfully inefficient.

[2016-05-24 16:28] krishnasrinivas commented on #1735
on Stat(DIR/xl.json)
- disk head seek to inodeblocks to get inode structure of DIR
- disk head seek to datablocks to get the inode number of xl.json
- disk head seek to inodeblocks to get inode structure of xl.json (next stat on next DIR can reuse this head position)

so each stat(DIR/xl.json) will involve 2 movements of disks causing randomio.

also note that this is uncached performance (after `

[2016-05-24 16:43] krishnasrinivas opened #1740 "XM/xl.json: does not conform to the format"
create new multipart upload

[code]

upload part 1

[code]

upload part 3

[code]

xl.json has:

[code]

expected:

[code]

[2016-05-24 19:42] harshavardhana commented on #1740
Why is this expected?

[2016-05-24 20:44] koolhead17 opened #1742 "XL: Unusual 'mc mirror' output."
I was executing `mc mirror` from testing server to play & got this error, unusual output.

[code]

[2016-05-24 21:18] harshavardhana commented on #1742
Fixed by #1737

[code]

[2016-05-24 22:14] #1738 closed, assigned to krishnasrinivas

[2016-05-24 22:35] harshavardhana commented on #1736
Fixed by #1737

[2016-05-24 22:35] #1736 closed, assigned to krishnasrinivas

[2016-05-24 22:42] #1742 closed, assigned to krishnasrinivas

[2016-05-24 22:45] harshavardhana commented on #1516
Assigning to @krishnasrinivas

[2016-05-25 00:13] harshavardhana opened #1744 "posix: Disable unreliable disks."
Posix as it stands today does not implement a way to handle disk errors.  We need to implement posix to behave in the following manner.
- Capture and keep track of i/o errors or any disk errors. This is needed to take disk offline after more than 5 consecutive errors for i/o operations.
- There should be a timer thread which cancels the call if it's taking too long. Also takes the disk offline if

[2016-05-25 00:13] harshavardhana commented on #1744
This is not assigned yet.

[2016-05-25 00:16] harshavardhana opened #1745 "XL: Implement healing at object layer."
- Healing should take care of healing `format.json` if they don't exist or malformed from existing disks.
- Healing should take care of healing `xl.json` if they don't exist or malformed from existing disks.
- Healing should heal missing buckets if any.
- Healing should also heal missing erasured blocks.

[2016-05-25 01:31] harshavardhana opened #1746 "XL: Validate minio-go functional tests with new changes."

[2016-05-25 01:43] #1717 closed, assigned to harshavardhana

[2016-05-25 01:59] harshavardhana opened #1747 "ObjectLayer: Starting of object layer takes significantly longer for lot of temporary files."
First we need to figure out why we are creating so many temporary files. Then we need to also parallelize  the initObjectLayer for all the disks.

Cleanup should happen in parallel.

[2016-05-25 02:09] harshavardhana opened #1748 "XL/erasure: Unnecessary memory usage in getDataBlocks"
[code]

[2016-05-25 02:11] harshavardhana commented on #1748
After the following change

[code]

to the following

[code]

[2016-05-25 02:15] krishnasrinivas commented on #1740
because see listparts output:

[code]

i expected to see parts 1 and 3. and now if i "complete" the upload:

[code]

[2016-05-25 02:17] krishnasrinivas commented on #1740
@harshavardhana check with @abperiasamy because that is what was discussed on `#minio`

[2016-05-25 02:19] harshavardhana commented on #1740
The listParts output is wrong, we should not be listing in that manner. But it is not an issue as such to not write parts which are not uploaded.

Both of these are a bug because of not handling the situation of parts in a different sequence. It has nothing to do with the `xl.json`

Because it is more tricky to update parts in `xl.json` in that manner rather than keeping it simple and interpreting

[2016-05-25 02:26] #1748 closed, assigned to harshavardhana

[2016-05-25 04:01] harshavardhana commented on #1585
Deprecated..

[2016-05-25 04:01] #1585 closed, assigned to krishnasrinivas

[2016-05-25 05:17] harshavardhana commented on #1740
Should be fixed @krishnasrinivas can you validate and close this?

[2016-05-25 05:28] krishnasrinivas commented on #1740
@harshavardhana
complete-multipart is not working now.
these were the parts before complete-multipart:

[code]

after complete multipart:

[code]

[2016-05-25 05:29] krishnasrinivas commented on #1740
i can look at this

[2016-05-25 05:31] krishnasrinivas commented on #1740
oops sorry my mistake

[2016-05-25 05:33] harshavardhana commented on #1740
What happened?

[2016-05-25 05:38] krishnasrinivas commented on #1740
forgot to provide the partNum.md5sum for `multipart complete`

[2016-05-25 06:04] harshavardhana commented on #1740
Can you close this and open a bug for that ?

[2016-05-25 06:09] krishnasrinivas opened #1751 "XL/Multipart: complete-multipart-upload should give error on empty parts array"
[code]

should give `incorrect xml` error

[2016-05-25 06:09] #1740 closed, assigned to harshavardhana

[2016-05-25 06:13] harshavardhana commented on #1690
@balamurugana can you rebase the changes against the rewrite-xl branch?

[2016-05-25 07:52] harshavardhana opened #1753 "docs: Minio Erasure Code Quickstart Guide"
Similar to regular quick start guide, this one focusses on single server multiple disk.

[2016-05-25 08:03] harshavardhana opened #1754 "XL/fs: Cleanup of tmp files needs to be done, currently they leave behind empty directories."
[code]

Need to track down why multipart leaves temporary files.

[2016-05-25 08:36] #1747 closed, assigned to harshavardhana

[2016-05-25 09:35] harshavardhana commented on #1576
https://software.intel.com/en-us/articles/intel-sha-extensions - relevant article.

[2016-05-25 09:41] krisis opened #1756 "XL: mc cat <object-path> results in incorrect md5sum"
The following error message was seen in server instance's stdout

[code]

[2016-05-25 09:50] harshavardhana commented on #1756
Have you updated the server? with the latest.. Do you have the setup handy?

[2016-05-25 10:01] krisis commented on #1756
@harshavardhana Works on current HEAD on rewrite-xl branch.

[2016-05-25 10:01] #1756 closed, assigned to harshavardhana

[2016-05-25 17:20] sokoow opened #1759 "browser: Add an option to make bucket or a prefix publicly accessible."
It'd be nice to have a public share option available, so that one can access objects without needing to key in the access code, i.e. whole thing would behave like a normal webserver.

[2016-05-25 19:34] anti1869 commented on #1759
You can set bucket's ACL to `readonly` with `mc access readonly bucketname`, so that links http://youhost/bucketname/object will be accessible by anonymous users.

[2016-05-25 19:41] anti1869 commented on #1759
Actually, I wonder why have you removed bucket's ACL operations from python client's API? https://github.com/minio/minio-py/pull/368

[2016-05-25 20:04] harshavardhana commented on #1759
Bucket ACL's are deprecated instead Bucket policies are implemented on the minio server which are in accordance with http://docs.aws.amazon.com/AmazonS3/latest/dev/example-bucket-policies.html

Bucket policy client side API is only implemented by `minio-go` client, we are going to complete other languages subsequently.

Even 'mc' implements 'access'  command for bucket policies. 'readonly, readwri

[2016-05-25 21:33] #1751 closed, assigned to krisis

[2016-05-25 21:35] harshavardhana commented on #1705
Is this fixed @hackintoshrao @mkash32 ?

[2016-05-25 22:44] gps1539 opened #1761 "Howto configure minio with SSL proxy"
Is there a recommended way to configure minio with an SSL proxy?

Looking for a simple/quick way to use minio in a test case that requires S3 over SSL

[2016-05-25 22:51] harshavardhana commented on #1761
Yes @gps1539 here are the relevant docs [1][2]

[1] - https://docs.minio.io/docs/setup-nginx-proxy-with-minio-server
[2] - https://docs.minio.io/docs/setting-up-proxy-using-caddy

[2016-05-25 23:43] gps1539 commented on #1761
Great, thanks for the quick reply

[2016-05-26 00:32] harshavardhana opened #1763 "api: ListObjects implement version v2.0"
http://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html

Implement this.

[2016-05-26 00:39] harshavardhana opened #1764 "XL: CompleteMultipartUpload fails with InvalidPart with 'aws cli'"
[code]

[code]

[2016-05-26 00:41] hackintoshrao commented on #1705
@harshavardhana : @mkash32  is on it. Should be pushing a fix today.

[2016-05-26 00:47] harshavardhana commented on #1763
[code]

[2016-05-26 00:48] harshavardhana commented on #1763
[code]

[2016-05-26 02:19] gps1539 commented on #1761
Unfortunately I can not figure out how to use either option.

I'm running minio on a lab server a dhcp address. Can either option work in this way?

With nginx and a sites-enabled file of

server {
 listen 443;
 server_name test1;
 location / {
   proxy_set_header Host $host;
   proxy_set_header X-Real-IP $remote_addr;
   proxy_set_header X-Forwarded-Proto $scheme;
   proxy_pass http://172.27.103.

[2016-05-26 02:19] #1761 closed, assigned to nobody

[2016-05-26 03:19] harshavardhana commented on #1761
SSL should be used for a domain or a public facing IP associated with that domain.  A private IP will not work in this manner.

[2016-05-26 04:20] mkash32 commented on #1705
@harshavardhana This is actually an issue in minio-go, I'll move this issue over there.

[2016-05-26 04:20] #1705 closed, assigned to hackintoshrao

[2016-05-26 05:10] balamurugana opened #1767 "Two parallel uploads preseves the first upload"
When two parallel uploads of same object with different content is run with `mc` command, it preserves first uploaded file.

Steps to reproduce
1. `$ mc mb myminio/mybucket`
2. `mc cp zero100 myminio/mybucket/zero & mc cp zero101 myminio/mybucket/zero &`
3. `mc ls -r myminio/mybucket` gives

[code]

`zero100` is 100MiB file and `zero101` is 101MiB file

I am not sure whether this is an issue becau

[2016-05-26 08:49] krisis opened #1768 ""mc ls -r" on a bucket with many entries failed with "timeout awaiting response headers""
[code]

[2016-05-26 09:06] harshavardhana commented on #1768
I thought we disabled response header timeout?

[2016-05-26 09:21] krisis commented on #1768
Apologies, the system was running with a patch that was in-development while fixing https://github.com/minio/mc/issues/1719. This doesn't happen with latest mc on minio server (running `rewrite-xl` branch)

[2016-05-26 09:21] #1768 closed, assigned to nobody

[2016-05-26 21:19] harshavardhana commented on #1711
Closing duplicate of #1745

[2016-05-26 21:19] #1711 closed, assigned to harshavardhana

[2016-05-26 21:24] harshavardhana opened #1771 "XL/FS: Experiment with a new storage API"
To avoid reader, writer and closers.

[code]

[2016-05-27 02:01] harshavardhana commented on #1707
@krishnasrinivas can this be closed ?

[2016-05-27 02:14] hackintoshrao commented on #1727
fixed by commit https://github.com/minio/minio/commit/c705712939d8d58c4ae678961c666640544c37b2 from @krishnasrinivas  .

[2016-05-27 02:14] #1727 closed, assigned to krishnasrinivas

[2016-05-27 02:14] hackintoshrao commented on #1726
fixed by commit https://github.com/minio/minio/commit/c705712939d8d58c4ae678961c666640544c37b2 from @krishnasrinivas  .

[2016-05-27 02:14] #1726 closed, assigned to balamurugana

[2016-05-27 02:14] hackintoshrao commented on #1725
fixed by commit https://github.com/minio/minio/commit/c705712939d8d58c4ae678961c666640544c37b2 from @krishnasrinivas  .

[2016-05-27 02:14] #1725 closed, assigned to balamurugana

[2016-05-27 02:15] hackintoshrao commented on #1724
fixed by commit https://github.com/minio/minio/commit/c705712939d8d58c4ae678961c666640544c37b2 from @krishnasrinivas  .

[2016-05-27 02:15] #1724 closed, assigned to krishnasrinivas

[2016-05-27 02:15] hackintoshrao commented on #1723
fixed by commit https://github.com/minio/minio/commit/c705712939d8d58c4ae678961c666640544c37b2 from @krishnasrinivas  .

[2016-05-27 02:15] #1723 closed, assigned to balamurugana

[2016-05-27 02:15] hackintoshrao commented on #1721
fixed by commit https://github.com/minio/minio/commit/c705712939d8d58c4ae678961c666640544c37b2 from @krishnasrinivas  .

[2016-05-27 02:15] #1721 closed, assigned to balamurugana

[2016-05-27 02:15] hackintoshrao commented on #1720
fixed by commit https://github.com/minio/minio/commit/c705712939d8d58c4ae678961c666640544c37b2 from @krishnasrinivas  .

[2016-05-27 02:15] #1720 closed, assigned to balamurugana

[2016-05-27 08:50] #1764 closed, assigned to krisis

[2016-05-27 08:54] harshavardhana commented on #1767
This is still reproducible.

[2016-05-27 10:43] harshavardhana commented on #1685
Duplicate of #1745

[2016-05-27 10:43] #1685 closed, assigned to balamurugana

[2016-05-27 11:03] krishnasrinivas commented on #1707
works now:

[code]

[2016-05-27 11:03] #1707 closed, assigned to krishnasrinivas

[2016-05-27 11:18] krishnasrinivas commented on #1679
dc95c788a0c0c2a91fe79accc82e62d8cdf11df0 fixes this.

[2016-05-27 11:18] #1679 closed, assigned to krishnasrinivas

[2016-05-27 11:31] krishnasrinivas commented on #1767
when two `mc`s are started at the same time, there are two possibilities:
1) both create UploadIDs and upload parts to different uploadids. The `mc` that does the last complete-multipart will decide which object stays there. But both the `mc`s succeed.
2) both share the same UploadID, the `mc` that does complete-mutipart first will decide which object stays there. The second `mc` will fail either

[2016-05-27 12:22] krishnasrinivas commented on #1767
first try: 1st case(explained above). no error for `mc`s 100M completes first, 101MB completes second.

[code]

second try: 1st case. no error for `mc`s 101M completes first, 100M completes second.

[code]

third try :

[code]

should have given error `uploadid can't be found`

fourth try:

[code]

should have given error `uploadid can't be found`

[2016-05-27 14:57] krishnasrinivas commented on #1767
fixed some locking code, now it either succeeds or gives error `mc: <ERROR> Failed to copy ‘/tmp/101mb’. The specified multipart upload does not exist.`

[2016-05-27 22:08] GarimaKapoor commented on #1767
please update the timeline for closing the bug!

[2016-05-27 22:08] GarimaKapoor commented on #1763
update the timeline please!

[2016-05-27 22:45] krishnasrinivas commented on #1558
@harshavardhana this can be closed now, you fix of merging xl and object-layer also fixed this.

[2016-05-27 23:25] harshavardhana commented on #1558
Closing..

[2016-05-27 23:25] #1558 closed, assigned to krishnasrinivas

[2016-05-28 03:57] hackintoshrao opened #1779 "XL: ListObjectParts: Part Size wrongly calcuated by XL layer."
The uncommented test in the following link reproduces the issue
https://gist.github.com/hackintoshrao/b32f7e9aaa513684ef22edc959e9cbbb .

The Etag value is as expected, only the size is miscalculated.

[2016-05-28 05:13] krishnasrinivas commented on #1779
ok great. will check.

[2016-05-28 07:19] #1779 closed, assigned to krishnasrinivas

[2016-05-28 07:19] #1767 closed, assigned to krishnasrinivas

[2016-05-28 07:25] krishnasrinivas commented on #1763
deadline - 30th May.

[2016-05-28 07:59] hackintoshrao opened #1782 "XL: Functional load test failure."
**TestGetObjectClosedTwice** and **TestFPutObject** from the exec-concurrent load tests are failing on the rewrite-xl branch.

[2016-05-28 08:05] hackintoshrao opened #1783 "XL: Functional load test failure: TestCopyObject"
**TestCopyObject** fails with ETag mismatch. The results are not consistent, some go routines pass the test and others fail.

[2016-05-28 08:33] hackintoshrao commented on #1783
Solved with update to minio-go and with fixed size blocks.

[2016-05-28 08:33] #1783 closed, assigned to harshavardhana

[2016-05-28 08:34] hackintoshrao opened #1784 "XL: Functional load test failure: Remove Bucket."
Seems to be a race in remove bucket functionality.

[2016-05-28 09:43] #1784 closed, assigned to hackintoshrao

[2016-05-28 17:54] hackintoshrao commented on #1783
@harshavardhana : This is closed 😉

[2016-05-28 23:08] harshavardhana opened #1789 "XL: new storageAPI does not satisfy range requests"
Range requests hang for few cases on GetObject()

[code]

Below cases hang

[code]

[2016-05-28 23:12] #1771 closed, assigned to harshavardhana

[2016-05-29 07:18] harshavardhana commented on #1789
Fixed by #1790

[2016-05-29 07:18] harshavardhana commented on #1754
Fixed by #1790

[2016-05-29 07:19] harshavardhana commented on #1690
Fixed by #1790

[2016-05-29 07:19] harshavardhana commented on #1680
Fixed by #1786

[2016-05-29 07:19] #1680 closed, assigned to krisis

[2016-05-29 07:35] harshavardhana commented on #1697
Fixed by #1790

[2016-05-29 07:42] #1697 closed, assigned to harshavardhana

[2016-05-29 07:42] #1690 closed, assigned to harshavardhana

[2016-05-29 07:42] #1754 closed, assigned to harshavardhana

[2016-05-29 07:42] #1789 closed, assigned to harshavardhana

[2016-05-29 08:10] harshavardhana opened #1791 "XL: Save content-type properly when set."
[code]

[2016-05-29 08:33] harshavardhana commented on #1791
False alarm, minio-go tests were wrong.

[2016-05-29 08:33] #1791 closed, assigned to harshavardhana

[2016-05-29 08:47] harshavardhana opened #1792 "XL: GetObject returns bytes mismatch"
[code]

[2016-05-29 11:28] harshavardhana commented on #1792
This bug was introduced with current storage API implementation,  still working on a fix.  It is the erasure decoding which is causing the problem.

[2016-05-29 12:01] balamurugana commented on #1792
I am able to reproduce this with current head of rewrite-xl branch.  sometimes it gives same data back.

[code]

[2016-05-29 12:15] balamurugana opened #1794 "rewrite-xl: removing non-existent object doesn't throw an error"
Steps to reproduce.

[code]

minio version

[code]

[2016-05-29 12:16] harshavardhana commented on #1794
This is how s3 behaves.

[2016-05-29 12:17] harshavardhana commented on #1792
There is a possible fix #1793 - there is some multipart issue still - can you review the patch?

[2016-05-29 12:20] harshavardhana commented on #1794
DELETE has no response headers.

[code]

[code]

[2016-05-29 12:42] balamurugana commented on #1794
Got it.
Closing it as not a bug.

[2016-05-29 12:42] #1794 closed, assigned to nobody

[2016-05-29 14:14] balamurugana opened #1795 "XL: When same file is uploaded twice by multipart upload failure happens quicky WRT Amazon S3"
Not sure whether its a bug or not.  Below is the observation.

I used minio-java in testing to do the below.

When two multipart upload is run in parallel for the same file, the returned error on failure is not consistent.
- When two different upload ids are used for uploading the same file works fine.
- When same upload id is used for two parallel uploads in which one upload is completed successf

[2016-05-29 18:37] harshavardhana commented on #1795
Sometimes getting InternalError is wrong and inconsistent.  We should always get "NoSuchUpload" in this case.

[2016-05-29 22:38] #1792 closed, assigned to harshavardhana

[2016-05-29 22:44] harshavardhana opened #1796 "XL: Current rewrite-xl branch Incorrect read bytes"
[code]

[2016-05-30 01:44] balamurugana opened #1798 "XL: On slow read of get object in progress, remove object is timing out"
Steps to reproduce
1. Have a program to read an object sized 8MiB where the program reads the stream slowly.
2. Have another program to delete the object.  This program times out.

[code]

Whereas the delete operation was successful.

The same steps work successfully with Amazon S3 ie one end of get object is running fine and another end of delete object is successful.

[2016-05-30 02:05] harshavardhana commented on #1798
This requires granular locking we don't have that.  We don't allow simultaneous mutating operations on a `bucket\object` .

[2016-05-30 02:16] harshavardhana commented on #1782
This is fixed.. there is a problem in how the locking is handled. The issue is between GetObject and RemoveObject()

[2016-05-30 02:40] GarimaKapoor commented on #1796
Update the timeline for fixing the issue.

[2016-05-30 02:56] harshavardhana opened #1799 "ListObjects - treeWalk XL/FS both."

[2016-05-30 04:51] harshavardhana commented on #1796
The bug happens in here

writer.Write() is not guaranteed to have written all the presented buffer. So we have to using either io.CopyN on the buffer to cleanly flush it to the client.

[code]

[2016-05-30 05:34] balamurugana commented on #1798
**The problem**
Our current approach is as below
1. When [xlObjects.GetObject()](https://github.com/minio/minio/blob/rewrite-xl/xl-v1-object.go#L19) is invoked, it locks the namespace before it reads [erasure.ReadFile()](https://github.com/minio/minio/blob/rewrite-xl/xl-v1-object.go#L66)
2. Its known that [erasure.ReadFile()](https://github.com/minio/minio/blob/rewrite-xl/erasure-readfile.go#L22)

[2016-05-30 06:13] harshavardhana commented on #1798
This is makes more sense to me to throw an error as EBUSY or Retry again error. It is similar to how windows and certain OS behave. Since it is a right behavior to lock the name space. There is no reason to parallelly delete an object while it is being read on the other end.

[2016-05-30 06:33] hackintoshrao opened #1800 "XL: Stress test: Delete Object Starvation."
During load testing using exec-concurrent test, the block profile (attached below ) shows the code was frozen at the lock of DeleteObject almost all the time.
[rewrite-block-1.pdf](https://github.com/minio/minio/files/288924/rewrite-block-1.pdf)

[2016-05-30 06:44] krishnasrinivas opened #1801 "XL/Multipart: locking review"
- support parallel upload of parts
- review for dead locks.

[2016-05-30 07:56] krishnasrinivas commented on #1799
@harshavardhana i was planning on unifying xl/fs treeWalk code base for both multipar/single part since IsObject() is separated out now.

is this the same? what will the rewrite be?

[2016-05-30 08:22] harshavardhana commented on #1799
Introduction of a pool data structure to manage the logic of looping and channel management outside of regular treeWalk code.

A sample pseudo code.

[code]

[2016-05-30 08:22] abperiasamy commented on #1799
Current treewalk did not free map entries properly. It is also a cleaner restructuring.

[2016-05-30 08:44] krisis commented on #1796
I will be sending a PR to fix this issue by EOD 30 May.

[2016-05-30 16:58] krishnasrinivas opened #1805 "ListMultpartUploads - incompatibility with AWS S3"
On AWS/S3:

create uploadid1

[code]

create uploadid2

[code]

create upload3

[code]

abort uploadid2

[code]

use uploadid2 as the marker for listing which works

[code]

This will not work on minio server as we are purging entries from uploads.json after `abort` on the uploadid.

Also in our code we are doing:

[code]

comparison should be based on the time.

We'll need uploads.json to look li

[2016-05-30 17:10] krishnasrinivas commented on #1795
need to debug, sometimes we get `internal error`

[2016-05-30 17:11] krishnasrinivas commented on #1795
deadline - 31 may.

[2016-05-30 17:12] krishnasrinivas commented on #1801
fixed by https://github.com/minio/minio/pull/1803

[2016-05-30 17:47] hackintoshrao opened #1806 "XL: Test failure."
`TestObjectAPIPutObjectPart` is failing with following error on current rewrite-xl branch.

[code]

[2016-05-30 17:52] hackintoshrao commented on #1805
@krishnasrinivas : Few test cases in `TestListMultipartUpload` are designed to catch this. They were previously failing.

[2016-05-30 18:28] harshavardhana commented on #1806
This was intentional that we don't read '1' more byte to figure out EOF, it was racy and prone to issues. It is okay to return bad digest since that is expected if a client has sent more data than expected.

[2016-05-30 18:31] #1796 closed, assigned to krisis

[2016-05-30 18:31] #1801 closed, assigned to krishnasrinivas

[2016-05-30 19:24] krishnasrinivas commented on #1805
@hackintoshrao this bug is seen only if there is an abort or complete-multipart is done on an uploadID that forms the uploadIDMarker, the test cases don't have this particular case, can be added.

[2016-05-30 19:38] harshavardhana commented on #1805
Whoever sends a patch for this can update the test cases as well, with this perhaps we will have a full spec compliance.

[2016-05-30 20:21] hackintoshrao commented on #1806
@harshavardhana : Sure 👍

[2016-05-30 20:21] #1806 closed, assigned to nobody

[2016-05-30 20:26] hackintoshrao commented on #1805
@krishnasrinivas : I had cases where multiple uploadID's were created for same object, In all of those cases the order was supposed be by their time of creation.

[2016-05-30 20:34] krishnasrinivas commented on #1805
@hackintoshrao time is still maintained, because we are sorting uploadIDs based on time, those tests have passed. This is a different bug. In this bug upload-id-marker has been aborted.

[2016-05-30 20:37] hackintoshrao commented on #1805
@krishnasrinivas : Hmm, ok.. I'll add this particular scenario into the test case.

[2016-05-30 22:05] hackintoshrao commented on #1805
@krishnasrinivas : Lets add this case to test and try to reproduce it, that would be the best way to demonstrate the bug, and then work towards getting it passed.

[2016-05-30 22:16] harshavardhana commented on #1805
Removing this out of a bug we will keep an additional indicator in uploads.json - but our current behavior is correct.

[2016-05-31 18:53] #1795 closed, assigned to krishnasrinivas

[2016-05-31 18:56] #1800 closed, assigned to harshavardhana

[2016-05-31 18:56] #1798 closed, assigned to balamurugana

[2016-05-31 18:57] harshavardhana commented on #1746
All tests validated and bugs were fixed as well.

[2016-05-31 18:57] #1746 closed, assigned to harshavardhana

[2016-05-31 18:57] harshavardhana commented on #1710
Assigned to @krisis

[2016-05-31 18:58] harshavardhana commented on #1744
Assigned to @balamurugana

[2016-06-01 03:23] #1734 closed, assigned to harshavardhana

[2016-06-01 03:25] harshavardhana opened #1814 "XL: Reimplement namespace lock to use patricia/radix trie locking"
https://github.com/tchap/go-patricia

https://github.com/armon/go-radix

[2016-06-01 04:51] #1805 closed, assigned to krishnasrinivas

[2016-06-01 04:56] krishnasrinivas opened #1816 "Provide backtraces in logs"
Provide backtraces in logs:

[code]

[2016-06-01 05:02] krishnasrinivas opened #1817 "XL: healing of format.json on replaced disk"
healing of format.json on replaced disk.

[2016-06-01 05:09] harshavardhana commented on #1816
would `export MINIO_TRACE=1` doesn't work?

[2016-06-01 05:11] #1763 closed, assigned to krishnasrinivas

[2016-06-01 05:13] krishnasrinivas commented on #1816
will check.

[2016-06-01 05:55] hackintoshrao opened #1818 "XL : Tests: ListObjects v2 unit test."
Exhaustive unit tests coverage for ListV2.

[2016-06-01 05:59] hackintoshrao opened #1819 "XL : Tests: Unit tests for erasure coding logic."
This is an extremely important test. We could even consider fuzzing here. Tests for `erasure-*` files.

[2016-06-01 06:07] hackintoshrao opened #1820 "XL: Tests: Unit tests for POSIX layer functionalities."
Need good coverage for posix layer functionalities, `posix-*` files on the repo.

[2016-06-01 06:10] hackintoshrao opened #1821 "XL: Tests: Tests for validating namespace lock implementation."
This is really important, we need to validate to make sure that we clearly understand the possibilities under which deadlocks can arise, and generate wide range of cases for the tests. The implementation is in `namespace-lock.go` .

[2016-06-01 06:15] hackintoshrao opened #1822 "XL: Tests: Unit and functional tests for xl-v1 healing and metadata implementation."
Need unit and functional tests for `xl-v1-*` files, which includes healing and metadata implementation.

[2016-06-01 06:28] hackintoshrao opened #1824 "XL: Tests: Unit tests for Signature v4 parsing."
Need tests for `signature-*` files.

[2016-06-01 07:15] hackintoshrao opened #1825 "XL: Tests: tree-walk tests for fs and XL."
Tests for tree-walk implementation of fs and XL needed. Its a high priority test.

[2016-06-01 07:25] hackintoshrao opened #1826 "XL: Tests: Unit tests and benchmark for object handlers."
All Object handlers need to be unit tested with wide range of cases, and also benchmark for the handlers could come handy while optimizing specific parts of it. The style of tests would be similar to existing tests in `server_test.go` and `server_test_xl.go`.  We can consider fuzzing some of the handlers.

[2016-06-01 08:03] krishnasrinivas commented on #1816
`export MINIO_TRACE=1` works

[2016-06-01 08:03] #1816 closed, assigned to nobody

[2016-06-01 08:11] krishnasrinivas opened #1827 "logging: Error log infrastructure"
In the meeting what we had decided was:
- at the place where error happens we capture the stack trace into an `error` type and return it to the caller.
- the top layer (caller) can decide to print or not the stack trace and error message.

[2016-06-01 16:28] harshavardhana commented on #1814
Assigned this to @balamurugana

[2016-06-01 16:49] krisis commented on #1516
The following are the steps I performed and I am attaching my observations so far.
- Applied the patch (found here: `play/0001-Used-getObjectinfo-instead-of-Stat-for-perf-measurem.patch`) to use `xl.getObjectInfo` function to determine if an entry is an object or a prefix instead of `xl.isObject` (which performs an `os.Stat` call).
- `mc ls` on 1M object entries with and without the patch took unr

[2016-06-01 23:16] #1817 closed, assigned to krishnasrinivas

[2016-06-02 13:08] krishnasrinivas commented on #1710
This bug is not reproducible, need more info @harshavardhana

[2016-06-02 14:54] hackintoshrao opened #1833 "FS: CompleteMultipart: Incorrect behaviour when malformed ETag is supplied."
The following unit test reproduces the issue. Check the uncommented case number 13. XL is passing the test with the correct behavior, FS is failing (gist.github.com is down, posting the validation test here).

[code]

[2016-06-02 15:28] krisis opened #1834 "[FS]: ``mc session resume`` fails with Invalid upload ID"
## Steps that uncovered the issue,
- Run minio server with a single disk
- `mc mb myminio/gosrc`
- `mc mirror $GOPATH/src myminio/gosrc/`
## Observation

[code]
- Relevant backend structure in .minio namespace

[code]

[2016-06-02 16:12] krishnasrinivas commented on #1735
[code]

[2016-06-02 16:17] krishnasrinivas commented on #1833
looking at this.

[2016-06-02 16:26] harshavardhana commented on #1710
May be the latest changes have fixed a few things on XL - try once more with server on hq.minio.io and remotely uploading/accessing the file.

[2016-06-02 16:43] krishnasrinivas opened #1835 "FS: complete-multipart does not remove uploads.json"
[code]

[2016-06-02 16:46] GarimaKapoor commented on #1745
Harsha can we close this issue.

[2016-06-02 16:48] GarimaKapoor commented on #1814
Bala please update the timeline for resolving this issue

[2016-06-02 16:52] GarimaKapoor commented on #1799
Please update the status!

[2016-06-02 16:53] GarimaKapoor commented on #1782
If the issue is fixed we should close it! If the problem is somewhere else we should open the appropriate bug!

[2016-06-02 17:05] #1782 closed, assigned to harshavardhana

[2016-06-02 17:06] harshavardhana commented on #1814
Clearing this from XL milestone, it's not a blocker.

[2016-06-02 17:07] harshavardhana commented on #1745
No this issue has other things which needs to be fixed after the release. Removing this from XL milestone.

[2016-06-02 17:11] harshavardhana commented on #1516
Closing this #1735 has latest info.

[2016-06-02 17:11] #1516 closed, assigned to harshavardhana

[2016-06-02 17:12] harshavardhana commented on #1799
There is a problem in this implementation, which i did as a patch at #1831

[2016-06-02 17:32] balamurugana commented on #1552
This bug reappears in

[code]

[2016-06-02 17:36] balamurugana opened #1837 "XL: http server panics"
In a various combination of put/get/delete objects in parallel causes below crash of minio server.

[code]

[2016-06-02 17:52] balamurugana opened #1838 "XL: NoSuchBucket error and bucket never comes back"
While `mc cp` in progress, a disk is removed, we get NoSuchBucket and the bucket never comes back even after restart.

Steps to reproduce
1. run `mc cp -r` at one end.
2. run `rm -fr /path/to/disk` at another end.

minio version

[code]

[2016-06-02 18:21] krishnasrinivas opened #1839 "FS: parallel uploads of different parts to the same uploadID"
[code]

test script:

[code]

[2016-06-02 18:55] krishnasrinivas opened #1840 "FS: complete multipart code is incorrect"
FS' complete-multipart operates based on filename object%d instead of consulting fs.json

Also NS locking is not done.

[code]

[2016-06-02 19:41] krishnasrinivas commented on #1833
fixed by 67bba270a056ad6659c04585e283c07c17ac9a57

[2016-06-02 19:51] krishnasrinivas commented on #1840
fixed by 67bba270a056ad6659c04585e283c07c17ac9a57

[2016-06-02 19:59] #1840 closed, assigned to nobody

[2016-06-02 19:59] harshavardhana commented on #1839
Is this fixed as well?

[2016-06-02 20:00] harshavardhana commented on #1838
This will be fixed by #1832

[2016-06-02 20:00] harshavardhana commented on #1837
Not able to reproduce this. It almost looks like `xl.json` was never written properly.

[2016-06-02 20:00] harshavardhana commented on #1834
This should be fixed in the current rewrite-xl branch

[2016-06-02 20:01] #1833 closed, assigned to krishnasrinivas

[2016-06-02 22:38] krishnasrinivas commented on #1839
fixed by https://github.com/minio/minio/pull/1842

[2016-06-02 22:38] #1839 closed, assigned to nobody

[2016-06-02 23:34] #1838 closed, assigned to nobody

[2016-06-02 23:35] harshavardhana commented on #1837
This is also fixed.

[2016-06-02 23:35] #1837 closed, assigned to nobody

[2016-06-02 23:35] #1835 closed, assigned to krishnasrinivas

[2016-06-02 23:36] #1710 closed, assigned to krisis

[2016-06-03 01:03] hackintoshrao opened #1845 "XL: Complete Multipart: Wrong error message."
For a valid existing bucket and uploadID, but non-existant object "Invalid uploadID <uploadID>" error is thrown, But upload was not invalid, the object was. the following test with the uncommented case reproduces the issue.

[code]

[2016-06-03 02:11] balamurugana opened #1846 "XL: PutObject fails with `NoSuchUpload` when a disk is down."
Steps to reproduce
1. Execute PutObject one by one
2. In the middle make one disk down by `mv /mnt/sdd1/bala/mydisk  /mnt/sdd1/bala/mydisk-dead`
3. After few files are uploaded, we get `NoSuchUpload` error

[code]

minio version

[code]

[2016-06-03 04:43] krisis commented on #1834
I tested the same after updating to current HEAD of rewrite-xl and couldn't recreate this issue. Closing the issue.

[2016-06-03 04:43] #1834 closed, assigned to harshavardhana

[2016-06-03 04:48] harshavardhana commented on #1845
Can paste the actual error? with 'MINIO_TRACE' enabled?

[2016-06-03 06:55] darshanime opened #1851 "Broken link in description"
The link [https://minio.io/download/](https://minio.io/download/) in the project description is broken

[2016-06-03 08:17] #1851 closed, assigned to nobody

[2016-06-03 10:06] hackintoshrao commented on #1845
@harshavardhana  @krishnasrinivas : The issue is here https://github.com/minio/minio/blob/master/xl-v1-multipart.go#L548 .  In `uploadIDPath := pathJoin(mpartMetaPrefix, bucket, object, uploadID)` , the `bucket` and `uploadID` arguments are valid, but I'm sending an non-existent `object` as argument. Its supposed to error out with `Object Doesn't exist` , but its errors out with `InvalidUploadID`.

[2016-06-03 10:17] harshavardhana commented on #1845
Is this what s3 replies?

[2016-06-03 15:08] balamurugana opened #1853 "FS: PutObject failed with NoSuchKey"
## Expected behaviour

PutObject should not fail
## Actual behaviour

fails with NoSuchKey
## Steps to reproduce the behaviour
1. Start minio server like `minio server --address=:60000 /mnt/sdl1/bala/mydisk`
2. Do PutObject by minio-java SDK for file `/usr/src/linux-headers-4.4.0-21-generic/include/config/cfag12864b.h`, it fails with

[code]
## Minio version

Version: 2016-06-03T07:14:40Z
Release-

[2016-06-03 17:48] GarimaKapoor commented on #1799
Harsha is this issue resolved.

[2016-06-03 18:42] harshavardhana commented on #1853
Regular 'mc cp' works - needs deeper investigation.

[2016-06-03 18:58] harshavardhana commented on #1846
All cases have been fixed @balamurugana validate the latest master.

[2016-06-03 19:30] #1799 closed, assigned to harshavardhana

[2016-06-04 01:11] balamurugana opened #1854 "XL: able to remove object when two disks are down in eight disks setup"
In a eight disks setup, when two disks are down while `mc cp -r /usr myminio/mybucket` in progress, `mc cp -r` fails with `503 Service Unavailable`, whereas when I do `mc rm myminio/mybucket/usr/include/x86_64-linux-gnu/sys/resource.h` it succeeds.

Is it expected behaviour where two write operations treat write quorum differently?

[2016-06-04 01:16] balamurugana opened #1855 "XL: Get object fails when two disks are down in eight disks setup"
In a eight disks setup, two disks were went down in different time while `mc cp -r /usr myminio/mybucket` was in progress, get object like `mc cp -r myminio/mybucket ~/tmp` fails with below error

[code]

minio version

[code]

[2016-06-04 06:33] hackintoshrao commented on #1845
@harshavardhana : Need to investigate S3 behavior. Here is the error message when the test is run

[code]

The issue is that its reporting those UploadID's to be invalid, which is not the case.

[2016-06-04 15:47] harshavardhana commented on #1854
On a 8 disk setup 2 disks down means you don't have write quorum anymore, we need '4 + 3' here

[2016-06-04 15:49] harshavardhana commented on #1855
This is possibly the disk which was chosen listed the file but the read() picked a disk which still didn't have the file.

[2016-06-05 06:02] harshavardhana commented on #1854
Also `mc rm` success is only because we don't send any error even if there is an error due to s3 protocol. So you will see 'success' even if the objects don't exist or are not accessible.

So whatever you observe is an expected behavior with the current code, removing `bug` tag from this.

[2016-06-05 06:16] harshavardhana commented on #1845
why should it fail with object not found ? - multi-part object still doesn't exist on the actual namespace. We have to see what s3 does in this scenario may be a different kind of error message is returned.

[2016-06-05 06:36] harshavardhana commented on #1845
Ok tested this, we are returning what is expected in case of complete multi-part.

[code]

[code]

[code]

[code]

So our reply is in accordance with what S3 responds.

[2016-06-05 06:36] harshavardhana commented on #1845
Removing the bug tag from this.

[2016-06-05 06:37] #1846 closed, assigned to harshavardhana

[2016-06-05 06:37] harshavardhana commented on #1846
All cases have been covered in this, closing.

[2016-06-05 12:10] balamurugana commented on #1853
It works fine now.  It was an issue with minio-java caused due to sending `tranfer-encoding: chunked`

[2016-06-05 12:10] #1853 closed, assigned to krishnasrinivas

[2016-06-05 14:14] harshavardhana commented on #1366
We need to re-evaluate on how we should implement this.

[2016-06-05 14:16] harshavardhana commented on #1094
Server now supports custom content-type with XL backend.  Closing the bug.

[2016-06-05 14:16] #1094 closed, assigned to harshavardhana

[2016-06-05 14:17] #1508 closed, assigned to nobody

[2016-06-05 16:08] hackintoshrao commented on #1845
👍

[2016-06-05 16:08] #1845 closed, assigned to nobody

[2016-06-05 19:44] GarimaKapoor commented on #1814
Closing this issue, Unit test for namespace will cover the reimplementation.

[2016-06-05 19:44] #1814 closed, assigned to balamurugana

[2016-06-05 19:48] GarimaKapoor opened #1858 "Browser: Implement bucket policy."

[2016-06-05 19:49] GarimaKapoor opened #1859 "Browser: Implement delete with multi select and confirmation dialogue."

[2016-06-05 19:50] GarimaKapoor opened #1860 "Browser: Implement share."

[2016-06-05 19:51] GarimaKapoor commented on #1759
Closing this, breaking the issue into three different bugs and moving it to stand alone.

[2016-06-05 19:51] #1759 closed, assigned to krishnasrinivas

[2016-06-05 19:57] GarimaKapoor commented on #1735
Finalized on existing backend format. We may reopen if lists performance becomes crucial.

[2016-06-05 19:57] #1735 closed, assigned to nobody

[2016-06-05 20:06] GarimaKapoor commented on #1576
Frank Wessels @fwessels is looking into this.

[2016-06-06 03:19] hackintoshrao commented on #1628
@krishnasrinivas : Complete multipart tests are ready, just adding more cases, Case for PartSize less than 5Mb done.

[2016-06-06 03:30] hackintoshrao commented on #1675
@GarimaKapoor : We have to discuss this issue on call and decide how to handle this :)

[2016-06-06 03:49] GarimaKapoor commented on #1860
Harsha, I did not assign anyone as Remco might take a over the browser. Removing the Assigees for now.

[2016-06-06 03:49] GarimaKapoor commented on #1859
I want Remco to take a look at browser related bugs.

[2016-06-06 03:50] GarimaKapoor commented on #1858
Remco will take a look at it, if not we will reassign it within the team.

[2016-06-06 07:20] harshavardhana commented on #1605
Sending a fix for this today,  since i have a working fix for this.

[2016-06-06 16:31] GarimaKapoor opened #1865 "Validate: AWS CLI with FS and XL backend."
Aaron has been assigned this bug!

[2016-06-06 16:45] harshavardhana commented on #1865
// cc @awwalker

[2016-06-06 17:37] krishnasrinivas opened #1866 "fs: CompleteMultipartUpload should send white space characters till the operation is complete."
#### Expected behavior.

Server should send 200 OK and then continue to send white space chars till the operation is complete.

http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadComplete.html

`Processing of a Complete Multipart Upload request could take several minutes to complete. After Amazon S3 begins processing the request, it sends an HTTP response header that specifies a 200 OK respons

[2016-06-07 03:22] hackintoshrao opened #1868 "XL: Incorrect behaviour for CompleteMultipartUpload."
Here is the test case to reproduce https://gist.github.com/hackintoshrao/17195ba97df5057ad4082ac8f2649532
## Expected behaviour

See the test.
## Actual behaviour

See the test.
## Steps to reproduce the behaviour

Run the test.
## Minio version (paste output of `minio version`)

Latest master
## System information

OSX El Captain 64 bit.

Here is the brief description of he issue.
- A Part with t

[2016-06-07 04:32] GarimaKapoor opened #1869 "Validate: Minio Client with FS and XL Backend"

[2016-06-07 04:33] GarimaKapoor opened #1870 "Validate: Minio SDK with FS and XL Backend"

[2016-06-07 04:33] GarimaKapoor opened #1871 "Validate: AWS SDK with FS and XL Backend."

[2016-06-07 04:35] GarimaKapoor opened #1872 "Validate: S3cmd with FS and XL backend"

[2016-06-07 05:07] koolhead17 commented on #1872
XL : Done

[2016-06-07 05:07] koolhead17 commented on #1871
XL: Done

[2016-06-07 05:17] koolhead17 commented on #1870
XL: Done

[2016-06-07 05:23] balamurugana commented on #1855
To be fixed on: 07-Jun-2016

[2016-06-07 06:43] GarimaKapoor opened #1873 "Validate: AWS Go SDK with FS and XL backend."

[2016-06-07 08:12] harshavardhana opened #1874 "Validate: XL/FS should be validated again on windows."

[2016-06-07 10:31] koolhead17 commented on #1872
FS: Done

[2016-06-07 10:31] koolhead17 commented on #1871
FS: Done

[2016-06-07 12:16] krisis commented on #1608
@harshavardhana The fact the two different base64 encoded values could be decoded to the same MD5 doesn't affect the correctness of our PutObject/PutObjectPart implementation. To prove that, we need to show that md5sum of a different object cannot be equal to any of the 15 other non-canonical base64 representations.

For a given md5sum (of 128-bit), we would have 5 \* 24-bit groups and one 8-bit r

[2016-06-07 12:55] harshavardhana commented on #1608
Ah makes sense.

[2016-06-07 14:10] harshavardhana commented on #1868
Surprising fact is XL doesn't read the parts instead it just validates if they match with the data in `xl.json`

[2016-06-07 14:11] harshavardhana commented on #1868
We are supposed to save the size of the data read instead of blindly from the 'size' param, this is equal to the change which we did with single PutObject().

[2016-06-07 16:48] awwalker commented on #1865
Light testing (single commands and operations) done with both XL and FS. Moving onto more stressful tests on XL today.

[2016-06-07 17:15] koolhead17 opened #1879 "Validate: Minio client libraries against AWS S3."
With XL release out, we should re-test all our client libraries against AWS S3 as Minio natively supports AWS S3 APIs.

[2016-06-07 17:32] GarimaKapoor commented on #1872
Closing it!

[2016-06-07 17:32] #1872 closed, assigned to koolhead17

[2016-06-07 17:33] GarimaKapoor commented on #1871
closing it!

[2016-06-07 17:33] #1871 closed, assigned to koolhead17

[2016-06-07 18:02] #1855 closed, assigned to balamurugana

[2016-06-07 22:18] awwalker commented on #1865
XL and FS both done. AWS cli is responding correctly with latest master. Even taking disks down is working correctly.

[2016-06-07 22:44] GarimaKapoor commented on #1865
gr8! closing the issue

[2016-06-07 22:44] #1865 closed, assigned to awwalker

[2016-06-08 04:43] krisis commented on #1874
I will be testing on Windows, using mc and miniodebug on xl/fs until Jun 10th. If nothing serious comes up, I shall close this issue.

[2016-06-08 04:44] krisis commented on #1868
This issue should be fixed by EOD Jun 8th

[2016-06-08 05:13] krishnasrinivas commented on #1745
deadline - 12 June.

[2016-06-08 05:14] krishnasrinivas commented on #1818
deadline - 15th June

[2016-06-08 05:14] krishnasrinivas commented on #1822
deadline - 15th June

[2016-06-08 05:14] krishnasrinivas commented on #1826
deadline - 9th June

[2016-06-08 05:14] krishnasrinivas commented on #1827
deadline - 10th June

[2016-06-08 05:55] hackintoshrao commented on #1628
10th June.

[2016-06-08 21:50] balamurugana commented on #1854
This issue is fixed by 6332c1d9cd7070db90ce25f394177bdfc0f06496

[2016-06-08 21:50] #1854 closed, assigned to balamurugana

[2016-06-08 22:54] balamurugana opened #1884 "posix: Capture and keep track of i/o errors"
It is split of issue https://github.com/minio/minio/issues/1744 which keeps track of
- Capture and keep track of i/o errors or any disk errors. This is needed to take disk offline after more than 5 consecutive errors for i/o operations.

[2016-06-09 05:02] #1884 closed, assigned to nobody

[2016-06-09 05:38] koolhead17 commented on #1873
Done

[2016-06-09 05:39] koolhead17 commented on #1870
FS: Python: Done

[2016-06-09 07:05] krishnasrinivas opened #1886 "FS/XL: Cleanup functions for during server shutdown"
(Discussed during today's meeting)
## Expected behaviour

FS should remove up .minio directory if empty during server shutdown.

FS and XL should have cleanup functions that can be called during server shutdown.
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-06-09 07:21] balamurugana commented on #1744
This issue can be closed as we don't consider this issue now.

[2016-06-09 07:28] balamurugana commented on #1620
UNC path support needs to be added to golang core libraries to address this issue.  For more information, see https://github.com/golang/go/issues/3358

[2016-06-09 08:49] #1744 closed, assigned to balamurugana

[2016-06-09 13:51] balamurugana commented on #1620
As per our discussion, we don't work with UNC path till there is a golang support.  This issue can be closed.

[2016-06-09 14:07] harshavardhana commented on #1620
Removing this bug from standalone server release keeping this bug for future work.

[2016-06-09 15:47] harshavardhana commented on #1605
Fixed by #1861

[2016-06-09 17:30] hackintoshrao commented on #1675
We've decided to make this part of the instrumentation project.

[2016-06-09 17:31] hackintoshrao commented on #1696
11 th June.

[2016-06-09 18:25] harshavardhana commented on #1620
Took the liberty of fixing it, and it works - fixed by #1887

[2016-06-09 22:47] #1873 closed, assigned to koolhead17

[2016-06-10 06:53] krishnasrinivas opened #1889 "XL: Read of a large part will cause out of memory error"
[code]

If it was a PUT operation of a large file (for example a 4G file on a VM with 3G RAM) this operation will fail with oom error.
@harshavardhana  Was it a conscious decision to do it this way?

[2016-06-10 07:08] krishnasrinivas opened #1890 "XL: appendFile always returns nil"
erasureCreateFile():

[code]

Here appendFile() always returns nil, is this intentional?

[code]

[2016-06-10 13:21] harshavardhana commented on #1889
It was designed little differently before to return just necessary data blocks as the actual size was being read in a loop, it was an oversight i think when the code moved inside erasureReadFile.

We should fix this, two approaches that i can think of
- Move the loop from inside ReadFile() to the GetObject() - this is how it was previously.
- My approach would be to take the writer directly and wr

[2016-06-10 13:29] harshavardhana commented on #1890
This is supposed to have one of the wErrs in it based on the writeQuorum and readQuorum etc.

[2016-06-10 15:42] harshavardhana commented on #1620
https://github.com/minio/minio/pull/1887 - 260 path limit on windows is fixed,  now we have 32K path limit - unit tests have been updated as well.  Please review the patch.

[2016-06-10 17:30] GarimaKapoor commented on #1824
Please put a timeline for the fix

[2016-06-10 17:39] mgardiner opened #1891 "docker: Image fails to start on Red Hat Enterprise Linux 7.2"
## Expected behaviour

Be able to start the Minio docker container.
## Actual behaviour

Fails to start and listing the logs on the failed container shows the following results:
`time="2016-06-10T17:14:56Z" level=fatal msg="Unable to colorize experimental update notification string ‘’." error="inappropriate ioctl for device" probe="{\"cause\":25,\"trace\":[{\"line\":50,\"file\":\"notifier.go\",\"f

[2016-06-10 20:55] koolhead17 commented on #1870
FS: Java, Node, Go : Done

Blocker bug reported: https://github.com/minio/minio-js/issues/455

[2016-06-10 21:46] GarimaKapoor commented on #1870
Perfect!

[2016-06-10 21:46] #1870 closed, assigned to koolhead17

[2016-06-10 22:12] abperiasamy commented on #1620
Does os.Remove and similar functions support UNC path argument?

[2016-06-11 01:36] harshavardhana commented on #1620
Yes they all do.

[2016-06-11 02:54] harshavardhana commented on #1891
Issue exists at

notifier.go:47

[code]

GetSize() internally tries to access `/dev/tty` looks like is not accessible under Red Hat Enterprise Linux.

[2016-06-11 02:55] harshavardhana commented on #1891
We could simply ignore the error and fall back to terminal width of `80x25`

[2016-06-11 05:32] GarimaKapoor commented on #1825
please put a timeline for the fix.

[2016-06-11 05:33] GarimaKapoor commented on #1821
Please update the timeline for the fix.

[2016-06-11 05:52] balamurugana commented on #1821
To be fixed: 11-Jun-2016

[2016-06-11 05:52] balamurugana commented on #1825
To be fixed: 11-Jun-2016

[2016-06-11 06:11] balamurugana commented on #1889
As per our discussion, we go with this approach.

[2016-06-11 06:38] hackintoshrao commented on #1628
@harshavardhana : Can you close this issue. I'll open an issue just for AbortMultipart.

[2016-06-11 06:44] krishnasrinivas opened #1893 "storageAPI: New changes to ReadFile and AppendFile"
(Discussed during the meeting)
The changes to avoid looping at the object layer.

current storage api:

[code]

new api:

[code]

[2016-06-11 06:46] #1628 closed, assigned to hackintoshrao

[2016-06-11 07:04] abperiasamy commented on #1893
+1

[2016-06-11 07:05] abperiasamy commented on #1893
call n as length

[2016-06-11 13:42] krishnasrinivas commented on #1886
deadline - 14th

[2016-06-11 13:42] krishnasrinivas commented on #1890
deadline - 14th

[2016-06-11 16:42] harshavardhana commented on #1870
Bug is fixed, need to test again.

[2016-06-11 22:14] koolhead17 commented on #1869
Done: XL, FS

Few Observations:
1. `mc access --help`  command only shows listing with AWS S3, we should also add minio server example, references.
2. We should add a recipe with detailed usage of `mc access` command, including the default `none` option..

[2016-06-13 02:29] GarimaKapoor commented on #1869
Closing it!

[2016-06-13 02:29] #1869 closed, assigned to koolhead17

[2016-06-13 02:30] GarimaKapoor commented on #1820
please update the timeline.

[2016-06-13 02:35] #1891 closed, assigned to balamurugana

[2016-06-13 06:37] krisis commented on #1868
This is not an issue with `fs` or `xl` object layer implementations for the following reasons.
1) The test code is invoking multipart methods of `fs` and `xl` implementations, which aren't aware of the s3 protocol, namely signature validation.
2) The difference in content-length and the size of the request body is caught by the signature verification process and on failing should return `errSignat

[2016-06-13 07:26] harshavardhana commented on #1608
Closing this as not an issue, relevant bug is available upstream Golang.

[2016-06-13 07:26] #1608 closed, assigned to krisis

[2016-06-13 07:29] #1868 closed, assigned to krisis

[2016-06-13 09:53] #1620 closed, assigned to harshavardhana

[2016-06-13 18:38] GarimaKapoor commented on #1657
please update timeline for closing the issue.

[2016-06-13 18:44] GarimaKapoor commented on #1827
Please update the timeline.

[2016-06-13 18:44] GarimaKapoor commented on #1889
please update timeline for the fix

[2016-06-14 04:17] krisis commented on #1874
Need to test again with fix for #1887

[2016-06-14 04:25] krisis commented on #1824
We have decided that we would test s3 protocol specifics like response XML, error codes and signature verification in https://github.com/minio/s3verify repo. https://github.com/minio/minio/pull/1863 adds tests for code that may not get sufficient coverage in the `s3verify` repo. We could optionally merge this in the interim.

[2016-06-14 05:36] #1824 closed, assigned to krisis

[2016-06-14 05:37] harshavardhana commented on #1824
We don't need to merge anything in interim, we are fine leveraging s3verify here.. Closing as decided.

[2016-06-14 05:41] mkash32 commented on #1657
@GarimaKapoor I am working on it, will be able to send pr by tomorrow.

[2016-06-14 08:02] krishnasrinivas commented on #1827
In today's meeting it was decided to implement this for this release.

[2016-06-14 08:07] krishnasrinivas commented on #1827
deadline - 15th June

[2016-06-14 08:39] #1696 closed, assigned to hackintoshrao

[2016-06-14 18:54] #1890 closed, assigned to krishnasrinivas

[2016-06-14 20:17] krishnasrinivas opened #1900 "posix: RenameFile should remove empty parent directories"
posix.RenameFile() should remove empty parent directories just like posix.DeleteFile() does.

[2016-06-14 20:41] diresi opened #1902 "Don't set default Content-Type"
## Expected behaviour

GetObjectHandler should respond with a best-guess Content-Type not depending on the extension.
## Actual behaviour

Files without extension are reported as `application/octet-stream`.
## Steps to reproduce the behaviour

Upload a .png, create a presigned get url and check the Content-Type with curl:

[code]
## Minio version

git afc310248895
## System information

ubuntu 14.

[2016-06-15 07:30] krisis commented on #1874
Did the following tests using a suite of s3 tools like `mc`, `aws s3`, `aws s3api`, `miniodebug`,
- Copying small and large objects
- Mirroring golang source
- Recursive listing golang source
- Deleting bucket with large no. of objects
- Multipart upload - both abort and complete end states
- Mulitpart upload using `miniodebug` and `aws s3api` interchangeably within a single multipart-upload opera

[2016-06-15 09:15] arjitc opened #1905 "Error occurred uploading 'filename.jpg'."
## Expected behaviour

The file should upload
## Actual behaviour

Starts upload and then immediately, Error occurred uploading 'filename.jpg'.
## Steps to reproduce the behaviour

./minio server /home/arjit/Photos
Login to Minio Browser
Upload file
## Minio version

[code]
## System information

[code]

[2016-06-15 13:03] ngelik opened #1906 "Dragondisk GUI client is not compatible with minio"
## Expected behaviour

Dragondisk can connect to Minio and list all buckets
## Actual behaviour

Get 400 Bad Request in Dragondisk
## Steps to reproduce the behaviour

Up Minio server
`{
        "version": "4",
        "credential": {
                "accessKey": "some_key",
                "secretKey": "some_sec_key"
        },
        "region": "us-east-1",
        "logger": {
                "c

[2016-06-15 16:36] markdclark opened #1907 "Minio update fails with missing OFFICIAL tag probe"
## Expected behaviour

update minio server
## Actual behaviour

fails
## Steps to reproduce the behaviour; list version; execute update

MacBook-Pro-2:~ markclark$ minio version
Version: 2016-02-08T00:13:11Z
Release-Tag: OFFICIAL.2016-02-08T00-13-11Z
Commit-ID: e79a73a3f5fa9b0111ecf2620be84ff5f3e9698a
MacBook-Pro-2:~ markclark$ minio update

FATA[0000] Please report this issue at https://github.co

[2016-06-15 17:59] krishnasrinivas commented on #1907
@markdclark
previously we used to name the builds as minio.OFFICIAL.2016-06-03T19-32-05Z now we name it as minio.RELEASE.2016-06-03T19-32-05Z which broke the `minio update` command.

To update you will have to manually download minio from here https://minio.io/downloads/

Here onwards `minio update` command should not break.

[2016-06-15 18:03] #1907 closed, assigned to krishnasrinivas

[2016-06-15 18:04] koolhead17 commented on #1905
Thanks @arjitc for reporting this.
 I am assuming you are running it on local machine so internet connection will not be an issue here, additionally will need few more some more information,.
1. Size of filename.jpg
2. Linux Distribution

This will help me to reproduce the issue on my end.

[2016-06-15 18:08] krishnasrinivas commented on #1905
@arjitc also what is the name of the bucket you are uploading the file to?

[2016-06-15 18:14] koolhead17 commented on #1906
Thanks @ngelik for reporting, let me reproduce it on my end. 😄

[2016-06-15 18:17] arjitc commented on #1905
[code]

File is around ~2 MB in size.

Weirdly, when I try to create a bucket now, I get a Invalid Bucket Name error,
"Bucket name invalid: Photos"

[2016-06-15 18:40] arjitc commented on #1905
Hmm, I had a look at http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html again and tried with lowercase "photos" and it works fine now.

I should've read better initially, my apologies.

[2016-06-15 18:40] krishnasrinivas commented on #1905
:+1:

[2016-06-15 18:42] #1905 closed, assigned to koolhead17

[2016-06-15 18:43] arjitc commented on #1905
Just a suggestion -- can a strtolower() or similar be added to the bucket name input automatically incase someone happens to do this in the future? @krishnasrinivas

[2016-06-15 18:48] krishnasrinivas commented on #1905
Actually, we will throw a better error message saying 'capital letters not allowed'

[2016-06-16 03:11] krishnasrinivas opened #1908 "reduceError() incorrect reduction"
reduceErrors() returns nil when it should return an error.
For example: on 4x4 if fileNotFoundCount is 3 and diskNotFoundCount is 2, reduceError() should return `error` but it returns `nil`

[2016-06-16 03:20] #1886 closed, assigned to krishnasrinivas

[2016-06-16 03:31] #1866 closed, assigned to krisis

[2016-06-16 06:27] koolhead17 commented on #1879
Done.

[2016-06-16 06:27] #1879 closed, assigned to koolhead17

[2016-06-16 13:45] Crafter6432 commented on #811
Does this project exist yet ?

[2016-06-16 20:04] koolhead17 commented on #1906
@ngelik I am having same error at my side. I have written a email via their website asking if they have implemented signature version 4 of AWS S3, assuring then we could help and work  with them in supporting Minio. Also if you know the developers personally, bring them to our Gitter channel will be happy to help. :)

[2016-06-16 20:50] koolhead17 commented on #1906
@ngelik just got reply of my email from the developer, current release does not support V4 signature of AWS S3. He is coming up with updated release by July which will support AWS s3 V4. Once it is out you can run minio server with dragondisk.

I hope it helps. :)

[2016-06-17 01:27] krishnasrinivas opened #1913 "XL GetObject is not picking the latest xlMeta"
[code]

should pick the metadata that has the highest version.

[2016-06-17 03:40] krishnasrinivas opened #1915 "XL/DeleteObject: delete call on prefix removes entire prefix recursively"
[code]

Minio server should have returned object not found for `mc rm myminio/mybucket/a`

[2016-06-17 04:24] balamurugana opened #1917 "XL: Skip zero sized last part in complete-multipart call"
Currently we store zero sized last part in complete-multipart and check whether last part size is zero or not in GetObject().

We could avoid the check by skipping zero sized last part in CompleteMultipart call.

[2016-06-17 05:18] #1915 closed, assigned to nobody

[2016-06-17 05:26] #1913 closed, assigned to nobody

[2016-06-17 06:57] krishnasrinivas opened #1919 "XL: changing blockSizeV1 can cause problems"
1) upload an objectPart (uploaded to .mini/multipart)
2) restart minio binary with new blocksize
3) upload another objectPart

objectPart in step-3 should be uploaded with same blocksize which was used for objectPart uploaded in step-1

[code]

here blocksize for buf should be picked from eInfo instead of `blockSizeV1`

[2016-06-17 07:01] harshavardhana commented on #1902
Fixed by #1918

[2016-06-17 07:01] #1902 closed, assigned to abperiasamy

[2016-06-17 07:17] #1919 closed, assigned to nobody

[2016-06-17 07:56] diresi commented on #1902
@harshavardhana thanks for quick fix!

[2016-06-17 09:50] harshavardhana commented on #1745
Moving this out of "Stable Standalone Server Release" as decided.

[2016-06-17 09:51] harshavardhana commented on #1675
Closing ^^.

[2016-06-17 09:51] #1675 closed, assigned to balamurugana, hackintoshrao

[2016-06-17 10:01] harshavardhana commented on #1902
@diresi Thanks for reporting!

[2016-06-17 12:47] krishnasrinivas opened #1921 "XL: GetObject read error"
curl of 200G object is erroring out.

[code]

[2016-06-17 17:05] GarimaKapoor commented on #1825
Please update the timeline

[2016-06-17 17:10] GarimaKapoor commented on #1822
Please update the timeline for the fix.

[2016-06-17 18:57] #1908 closed, assigned to harshavardhana

[2016-06-18 01:55] hackintoshrao opened #1923 "XL: aws s3 cp Md5sum mismatch with a 60gb file."
## Expected behaviour

Md5sum Match of the inserted object with the object fetched.
## Actual behaviour

Mismatch witnessed.
## Steps to reproduce the behaviour
- copy from local to Minio
- md5sum ~/60gb
-  aws --endpoint-url http://localhost:9001 s3 cp  ~/60gb s3://zrigwpdoa4bnuwy63nupbjy0vl5kqu
- Copy from Minio back to local
-  aws --endpoint-url http://localhost:9001 s3 cp  s3://zrigwpdoa4bnuw

[2016-06-18 01:56] hackintoshrao commented on #1923
Will check whether same issue is noticed in `mc` too, or its only with `aws  s3` tool.

[2016-06-18 03:47] hackintoshrao commented on #1923
Had got bad result once. But it looks to be fine now, may be aws cli downloads the parts in parallel and joins them locally, thats why Md5sum right after the download was different.

[2016-06-18 03:47] #1923 closed, assigned to nobody

[2016-06-18 06:39] krishnasrinivas opened #1924 "XL: enable bitrot detection for GetObject"
enable bitrot detection for GetObject

[2016-06-18 06:39] krishnasrinivas opened #1925 "XL: GetObject performance low"
GetObject performance low - gives 20MBps. Investigate.

[2016-06-18 06:43] krishnasrinivas opened #1926 "XL: erasureReadFile should read only data shards if available in parallel"
erasure code should only read from data blocks (if available) in parallel.

[2016-06-18 06:52] krishnasrinivas opened #1927 "XL: PutObject - investigate upload speed"
upload speed is 50MBps, investigate - disable bitrot, compare against FS.

[2016-06-18 06:59] krishnasrinivas opened #1928 "XL: check performance with different block size"
check upload/download performance with different block size (4MB, 10MB etc) different sha256 sha128 sha512

cc @balamurugana

[2016-06-18 08:31] krishnasrinivas opened #1929 "XL: memory usage on parallel GETs"
- After parallel GETs the memory usage stays high at 12 G and not coming down.
- Increasing parallel reads causes the machine to freeze.

to be tested:
- does minio crash if ulimit set on memory (try 1 to 3G of memory)
- does machine hang under lower ulimit.
- call runtime.GC() and see if frees up the memory

![](https://files.gitter.im/abperiasamy/Holodeck/qAII/Screen-Shot-2016-06-18-at-10.16.06-

[2016-06-18 08:32] krishnasrinivas commented on #1929
karthic to look into this @hackintoshrao

[2016-06-18 23:01] harshavardhana commented on #1924
[code]

`isValidBlock` already does bit-rot detection and skips the blocks - what is the idea behind this bug?

[2016-06-18 23:07] harshavardhana commented on #1923
This issue must be related to #1921

[2016-06-19 08:06] harshavardhana opened #1930 "XL: Reupload of same part returns back an error"
[code]

[code]

This case is expected to pass, an uploaded part can be uploaded as much as necessary for the same upload id.

[2016-06-19 08:51] harshavardhana commented on #1917
@balamurugana  can you review the patch #1931 ?

[2016-06-19 08:53] harshavardhana commented on #1893
Will take over this work, if it's not finished yet.  Let me know the current status.

[2016-06-19 15:06] krishnasrinivas commented on #1924
ah ok, i had missed it, closing it.

[2016-06-19 15:06] #1924 closed, assigned to krishnasrinivas

[2016-06-19 20:19] krishnasrinivas commented on #1893
@harshavardhana sure you can take over, havent started this work. But see if this is needed for this release as it won't be affecting backend/performance.

[2016-06-19 20:33] #1818 closed, assigned to krishnasrinivas

[2016-06-19 20:35] #1889 closed, assigned to balamurugana

[2016-06-19 20:36] harshavardhana commented on #1921
Can you validate again with #1910 merged ?

[2016-06-19 21:51] #1917 closed, assigned to harshavardhana

[2016-06-20 01:56] harshavardhana commented on #1874
what else is pending on this bug? @krisis were you able to validate anything specific related to UNC path?

[2016-06-20 05:32] krishnasrinivas commented on #1822
@hackintoshrao healing will be done after the release, so unit tests for healing will go along with it. What other unit tests have you associated with this issue?

[2016-06-20 05:39] hackintoshrao commented on #1822
@krishnasrinivas : xl-v1-metadata.go needs tests.

[2016-06-20 05:40] hackintoshrao commented on #1921
@harshavardhana : Running the tests.

[2016-06-20 05:46] krishnasrinivas commented on #1926
timeline - 22nd

[2016-06-20 05:47] krishnasrinivas commented on #1925
timeline 22nd

[2016-06-20 05:47] krishnasrinivas commented on #1822
timeline - 20th for xl-v1-metadata.go unit tests

[2016-06-20 13:19] #1657 closed, assigned to balamurugana

[2016-06-20 13:25] mkash32 commented on #1657
@GarimaKapoor sorry, this took longer than I expected

[2016-06-20 14:35] #1822 closed, assigned to krishnasrinivas

[2016-06-20 15:34] krishnasrinivas opened #1939 "XL: GetObject returns corrupt data"
previously we were doing:

[code]

curEncBlockSize was used for ReadFile block-size

it's now changed to:

[code]

this causes problem demoed here:
Upload a big file (big enough that each part is > 10MB

[code]

now md5sum mismatches:

[code]

[2016-06-20 18:15] balamurugana commented on #1939
https://github.com/minio/minio/issues/1941 may fix this issue.

[2016-06-20 19:14] awwalker opened #1942 "Exta Appended Slash in bucket location header"
## Expected behaviour

When a new bucket is made on the S3 server the location header of the response is set to "/bucketName"
## Actual behaviour

With minio a new bucket is made the location header of the response is set to "/bucketName/"
## Steps to reproduce the behaviour

perform a makebucket request and check the location header field of the response.
## Minio version
- (paste output of `mini

[2016-06-21 00:02] harshavardhana opened #1946 "XL: GetObject on varied object results in md5 mismatch"
[code]

[2016-06-21 00:03] harshavardhana commented on #1939
Closing as duplicate of #1946

[2016-06-21 00:03] #1939 closed, assigned to balamurugana

[2016-06-21 00:05] harshavardhana commented on #1946
https://github.com/minio/minio/pull/1947 - this patch set enables the test to reproduce the problem.

[2016-06-21 02:11] #1930 closed, assigned to krisis

[2016-06-21 02:45] hackintoshrao commented on #1929
Calling Runtime.GC() didn't help.

[2016-06-21 05:01] hackintoshrao commented on #1929
Here are the hotspots to optimize.
<img width="1266" alt="screen shot 2016-06-21 at 10 27 34 am" src="https://cloud.githubusercontent.com/assets/2609511/16218428/3a0a71a8-379b-11e6-9b74-9506356e4502.png">

[2016-06-21 05:36] balamurugana commented on #1946
https://github.com/minio/minio/pull/1949 should fix this issue.

[2016-06-21 06:25] #1942 closed, assigned to harshavardhana

[2016-06-21 06:25] #1946 closed, assigned to balamurugana

[2016-06-21 14:39] hackintoshrao commented on #1929
Making GC more aggressive by setting GOGC=10 reduces the impact. Setting GOGC=5 stabilizes the memory usage to 8-10GB. So its clear that the resource consumption is too much for GC to handle, Need a better implementation of memory management in future for `Read Savvy` loads with objects of large sizes.

[2016-06-21 22:41] harshavardhana commented on #1473
@rajivm we have finally migrated to automated builds, thanks for you contribution - https://hub.docker.com/r/minio/minio/

[2016-06-21 22:41] #1473 closed, assigned to harshavardhana

[2016-06-22 04:05] balamurugana opened #1951 "XL: With insufficient write quorum, put object still succeeds"
In a 8 disks setup, where three disks are down, put object still succeeds.   As per write quorum calculation, the setup can withstand max of no.of disks - no. of disks / 2 + 2 ie 2 disk failure.

[2016-06-22 04:37] harshavardhana opened #1952 "XL: Bit-rot should use blake2b instead of sha512"
With benchmarks and observation use blake2b instead of sha512.

[2016-06-22 04:49] harshavardhana commented on #1952
https://github.com/dchest/blake2b to be used.

[2016-06-22 05:05] harshavardhana opened #1954 "XL: All old unit tests *_test.go requires comments"

[2016-06-22 05:20] krisis commented on #1825
Will try to send a PR for this issue by Jun 23rd.

[2016-06-22 05:25] krishnasrinivas commented on #1952
deadlne: 22nd.

[2016-06-22 06:45] hackintoshrao opened #1955 "S3 Compatibility failures."
Made a small s3Verify tool by turning the existing `server_test` and `server_xl_test` with a small change.
Here are the changes to be made to replicate the test.

[code]
## Expected behaviour

Since the tests pass for Minio sever, its expected to pass for Amazon s3 too if we are 100% s3 compatible.
## Actual behaviour

Around 32 tests failed. Here is the log of failed tests.
## Steps to reproduce

[2016-06-22 07:08] balamurugana opened #1956 "XL: mc ls command returns error when one or more disks are inconsistent state"
When one or more disks were down at put object and came back online later may cause `mc ls -r myminio/mybucket` throwing below error

[code]

minio version

[code]

[2016-06-22 19:27] #1821 closed, assigned to harshavardhana

[2016-06-22 22:28] #1925 closed, assigned to krishnasrinivas

[2016-06-22 22:29] harshavardhana commented on #1921
Fixed by #1959

[2016-06-22 22:29] #1921 closed, assigned to hackintoshrao

[2016-06-23 00:13] #1952 closed, assigned to krishnasrinivas

[2016-06-23 04:59] krishnasrinivas commented on #1926
https://github.com/minio/minio/pull/1959 fixes this.

[2016-06-23 04:59] #1926 closed, assigned to krishnasrinivas

[2016-06-23 05:15] krisis commented on #1874
UNC related unit tests were added as part of PR https://github.com/minio/minio/pull/1958. This covers the set of things that needed to be validated on windows. @harshavardhana could you close this issue if you think so too?

[2016-06-23 05:16] harshavardhana commented on #1874
Yes, closing.

[2016-06-23 05:16] #1874 closed, assigned to krisis

[2016-06-23 06:51] krishnasrinivas opened #1962 "XL: Cache bitrot calculation"
Currently bitrot is verified for every GET. The info can be cached so that for subsequent GET we don't verify bitrot.

[2016-06-23 07:02] harshavardhana commented on #1962
https://github.com/minio/attic/blob/master/cache/metadata/metadata.go possible data structure that can be used.

[2016-06-23 07:06] drook opened #1963 "non-default port for minio."
## Expected behaviour

I expected to read about this in docs. Or in `minio --help` output.
## Actual behaviour

No article found. Nothing is explained in `--help` output.
## Steps to reproduce the behaviour

make something listen on tcp/9000. Install minio. Start wondering what to do.
## Minio version
- (paste output of `minio version`)
  Version: 2016-06-03T19:32:05Z
  Release-Tag: RELEASE.2016-0

[2016-06-23 07:09] harshavardhana commented on #1963
Thanks @drook, it is unfortunate you weren't able to find the relevant docs. We will fix it.

The information is at the 'subcommand' level which explains various options.

[code]

[2016-06-23 07:11] drook opened #1964 "reading --help output shouldn't require to use non-root user."
## Expected behaviour

I ran `minio --help` as root. I was expecting to see the `--help` output, probably with a warning to run as root.
## Actual behaviour

No output, just a denial to display anything as root.
## Steps to reproduce the behaviour

Install minio. Try to read the `--help` output as root.
## Minio version
- (paste output of `minio version`)
  Version: 2016-06-03T19:32:05Z
  Release-

[2016-06-23 07:11] harshavardhana commented on #1963
Other relevant quick start docs are available at https://docs.minio.io

[2016-06-23 08:33] harshavardhana commented on #1893
Closing the issue as AppendFile change is finished and ReadFile change has been deferred.

[2016-06-23 08:33] #1893 closed, assigned to harshavardhana

[2016-06-23 09:43] drook opened #1965 "minio sets 700/600 mode on directories/files"
## Expected behaviour

I expected minio to create directories/files with a default umask, which in my case is 022.
## Actual behaviour

Minio, however, creates directories/files with a mode 700/600, which makes it impossible to integrate with an existing web-server, for them both to serve one directory.
## Steps to reproduce the behaviour

Install minio, create a bucket. Observer 700 mode.
## Mini

[2016-06-23 12:20] sebbel opened #1966 "How to use Minio instructions point to a mc client for darwin only"
Would be nice if this could be more generalized.

[2016-06-23 12:43] hackintoshrao commented on #1966
@sebbel : Again, thanks for your feedback. Will get this fixed soon.

[2016-06-23 18:16] harshavardhana commented on #1966
When you run the server on a particular OS the message is printed for the relevant OS.

We kept the README.md simpler by picking a OS as it is usually nicer to be able to copy a working link.

[2016-06-23 18:31] harshavardhana opened #1968 "XL: server silently exits when new disks are added to a previous N disk configuration"
[code]

[2016-06-24 02:22] hernandev opened #1973 "Once Again, PHP SDK with Minio Server"
## Expected behaviour

A download
## Actual behaviour

`The request signature we calculated does not match the signature you provided. Check your key and signing method.`
## Steps to reproduce the behaviour

[code]
## Minio version
- (paste output of `minio version`)
  Version: 2016-06-24T02:14:42Z
  Release-Tag: DEVELOPMENT.2016-06-24T02-14-42Z
  Commit-ID: 41c089a7e048456ccdb2db5f23eaefa759aa5f2

[2016-06-24 02:34] hackintoshrao commented on #1973
@hernandev : Thanks for reporting. Let me try this and revert back you.

[2016-06-24 03:19] #1965 closed, assigned to harshavardhana

[2016-06-24 09:13] harshavardhana commented on #1973
As debugged this is as aws-sdk-php bug, presigned URL generated is inconsistent with AWS S3 Signature V4 documents.

For correct results we picked aws-sdk-go and works fine with Minio server.

[code]

We will work with aws-sdk-php to close this issue.

[2016-06-24 09:30] harshavardhana opened #1976 "http: Graceful shutdown of the web service."

[2016-06-24 21:32] #1820 closed, assigned to balamurugana

[2016-06-24 21:48] #1963 closed, assigned to harshavardhana

[2016-06-24 22:44] harshavardhana commented on #1968
False alarm this was because of '.minio/config.json' ' console logging was set to 'false'.  Closing.

[2016-06-24 22:44] #1968 closed, assigned to harshavardhana

[2016-06-24 22:45] harshavardhana commented on #1929
This issue is fixed.

[2016-06-24 22:45] #1929 closed, assigned to hackintoshrao

[2016-06-24 22:46] harshavardhana commented on #1955
Is this still valid?

[2016-06-24 22:46] harshavardhana commented on #1927
Looks like this a duplicate of - https://github.com/minio/minio/issues/1928 . Closing and assigning that to @krisis

[2016-06-24 22:46] #1927 closed, assigned to krisis

[2016-06-24 23:57] GarimaKapoor commented on #1826
Karthic, What is the status of this issue?

[2016-06-25 01:03] hackintoshrao commented on #1826
@GarimaKapoor :. As I had said earlier this needed revamp to entire testing framework and new framework for benchmark execution had to be created.  A PR is almost ready for this. But to finish this process for all handlers will take time. Will break it down into more issues and close them as PR's are done.

[2016-06-25 01:05] hackintoshrao commented on #1955
@harshavardhana : PR with appveyor failure has to be fixed.

[2016-06-25 02:54] awwalker opened #1979 "FS: GetObject Fails"
## Expected behaviour

GetObject should not fail
## Actual behaviour

GetObject fails with EOF
## Steps to reproduce the behaviour

run s3verify on Play server. The GetObject tests will fail.
## Minio version
- (paste output of `minio version`)
  Version: 2016-06-06T16:45:57Z
  Release-Tag: DEVELOPMENT.2016-06-06T16-45-57Z
  Commit-ID: acc393ba8b228a874344111b7766a72dcd85841c
  ## System informati

[2016-06-25 03:36] awwalker opened #1981 "FS: GetObject wrong responses for If-Match and If-None-Match"
## Expected behaviour

If-Match when given a bad ETag should give back 412 Precondition Failed XML error. Instead it is sending the object back.

If-None-Match when given a good ETag should give back 304 Not Modified and no object. Instead it is giving 200 OK and sending the object back.
## Actual behaviour

If-Match is sending the object back.
If-None-Match is sending the object back.
## Steps to

[2016-06-25 10:03] #1979 closed, assigned to harshavardhana

[2016-06-25 21:00] harshavardhana opened #1983 "tests: Running continous tests leaves 100s of temporary directories."
There are around 400,000 tmp directories left over on my machine since last 2days due to some bug in tests which are leaving the temporary directories behind.

We need to clean these properly in our teardown, requires full review of all tests to see if we have such leaks.

[2016-06-26 07:33] harshavardhana commented on #1951
Not able to reproduce this with current master

terminal 1

[code]

terminal 2

[code]

terminal 3

[code]

Now trying to resume the operation

[code]

Now with debug we can see a wrong error being generated but PutObject never completes or resumes.

[code]

[2016-06-26 08:23] harshavardhana commented on #1956
Tried reproducing this but couldn't. can you reproduce this and provide a setup @balamurugana ?

[2016-06-26 09:21] harshavardhana commented on #1951
Was able to reproduce.  Sent a patch with the fix at #1986, additionally adds unit tests to catch quorum issue.

[2016-06-26 10:03] #1964 closed, assigned to harshavardhana

[2016-06-26 10:32] #1819 closed, assigned to harshavardhana, balamurugana

[2016-06-26 20:19] harshavardhana opened #1989 "tests: Add tests for signature-jwt code."
Currently the code coverage for this file is '0.0%'

[2016-06-26 20:22] harshavardhana opened #1990 "tests: Address poor coverage for bucket policy tests."
bucket-handlers.go: 29%
bucket-policy-handlers.go: 39%

[2016-06-26 20:26] harshavardhana opened #1991 "tests: RPC server needs to add tests"
We need proper coverage for all rpc server functions.

[2016-06-26 20:45] harshavardhana opened #1992 "tests: XL metadata and multipart internal operations lack good coverage"
Address the lack of coverage in tests on

xl-v1-metadata.go: 63.2%
xl-v1-multipart-common.go: 54.4%

[2016-06-26 20:48] harshavardhana opened #1993 "tests: Address lack of coverage on signature-v4 utility functions"
signature-v4-parser.go: 51%
signature-v4-utils.go: 41%
signature-v4.go: 47%

[2016-06-26 23:19] harshavardhana opened #1994 "profile: Analyze memory profiling."
Implement 'go test -bench' to get the allocation list.

[2016-06-26 23:30] harshavardhana opened #1995 "profile: Analyze CPU profiling."
Analyze the amount of CPU used by the call path.

[2016-06-26 23:44] GarimaKapoor commented on #1956
@balamurugana can you reproduce this bug, if it is fixed already we can close it.

[2016-06-27 00:10] GarimaKapoor commented on #1200
This has been in master with MINIO_MAXCONN environment variable.

[code]

[2016-06-27 00:10] #1200 closed, assigned to koolhead17

[2016-06-27 00:33] #1286 closed, assigned to koolhead17

[2016-06-27 00:34] GarimaKapoor commented on #1286
Minio Server does not limit root privileges anymore.

[2016-06-27 00:41] #1259 closed, assigned to harshavardhana

[2016-06-27 00:42] #1385 closed, assigned to harshavardhana

[2016-06-27 00:48] GarimaKapoor commented on #1309
Follow recommendations as described above or you may look at [s3git project](https://github.com/s3git/s3git). It also has language bindings in addition to CLI.

[2016-06-27 00:49] #1309 closed, assigned to nobody

[2016-06-27 00:50] #1291 closed, assigned to nobody

[2016-06-27 00:51] GarimaKapoor commented on #1221
Discussion has started internally. We will update you soon.

[2016-06-27 00:57] GarimaKapoor commented on #1134
We use Github milestones for our roadmap.

[2016-06-27 00:57] #1134 closed, assigned to harshavardhana

[2016-06-27 01:09] GarimaKapoor commented on #1008
We will document it under AWS Java SDK for Minio Server.

[2016-06-27 01:10] #1981 closed, assigned to krisis

[2016-06-27 01:11] GarimaKapoor commented on #811
Minio follows a microstorage design. You achieve multi tenancy by spinning one Minio instance per user.

[2016-06-27 01:11] #811 closed, assigned to nobody

[2016-06-27 01:13] harshavardhana opened #1998 "profile: Analyze block profiling"
Analyze blocking code paths.

[2016-06-27 02:13] hackintoshrao commented on #1826
@harshavardhana :  With Benchmark for GetObject Hanldler This issue can be closed now. Will open more specific issues.

[2016-06-27 02:13] #1826 closed, assigned to hackintoshrao

[2016-06-27 02:16] balamurugana commented on #1956
Trying to reproduce this in current master.

[2016-06-27 02:17] hackintoshrao opened #1999 "benchmarks: Add benchmarks for PutObject"

[2016-06-27 02:18] hackintoshrao opened #2000 "benchmarks: Add benchmarks for `PutObjectPart`."

[2016-06-27 03:32] hackintoshrao commented on #1955
Here are failures with the latest run

[code]

[2016-06-27 03:39] harshavardhana commented on #1954
Placeholder code to open issues related to commenting in all our tests.

[2016-06-27 03:40] harshavardhana commented on #1973
Closing this as aws-sdk-php upstream issue,  server is working as expected.

[2016-06-27 03:40] #1973 closed, assigned to nobody

[2016-06-27 03:41] harshavardhana commented on #1966
Closing this 'minio server' command already provides platform specific message, other OS specific messages are kept at - https://docs.minio.io/

[2016-06-27 03:41] #1966 closed, assigned to nobody

[2016-06-27 03:47] balamurugana commented on #1956
I am able to reproduce this behaviour.  Below steps are followed

Prepare error state like below.
1. start minio server freshly with all new disks
2. create a bucket `$mc mb myminio/mybucket`
3. run `mc cp -r` like `$mc cp -r /usr/share myminio/mybucket`
4. while copying in progress after few copies are done, rename any one of the disk to dead like `$ mv -vi /mnt/sdd1/bala/mydisk /mnt/sdd1/bala/my

[2016-06-27 04:32] hackintoshrao commented on #1954
@harshavardhana : Can you close this issue, will open specific issues. Will split this.

[2016-06-27 04:33] hackintoshrao opened #2002 "Tests: Comments and cleanup for server_xl_test.go"
In progress......

[2016-06-27 04:34] hackintoshrao opened #2003 "Tests: Comments and clean up for server_test.go"

[2016-06-27 05:10] #1956 closed, assigned to balamurugana

[2016-06-27 06:04] harshavardhana commented on #1954
Closing.

[2016-06-27 06:04] #1954 closed, assigned to hackintoshrao

[2016-06-27 10:28] arjitc opened #2006 "Recommended client for Windows with GUI?"
Hello,
Just wondering if there was any recommended client for Windows with a GUI. CyberDuck seems to not allow changing the port from 443 for their S3 profile :(

Thanks!

[2016-06-27 14:48] krishnasrinivas commented on #2006
@arjitc web-browser interface is not ok for you? https://localhost:9000/minio

[2016-06-27 15:08] hernandev commented on #1973
For future references on any PHP developer trying to use with minio.io, you can use my patched fork while the issue is not solved into the main SDK repository

**For default SDK**
`composer require codecasts/aws-sdk-php`

**For Laravel integration (Flysystem driver)**
`composer require codecasts/flysystem-aws-s3-v3`

[2016-06-27 17:01] #1951 closed, assigned to harshavardhana

[2016-06-27 19:09] krishnasrinivas opened #2010 "tests: unit tests for erasure-readfile.go"
add unit tests for:

isSuccessDecodeBlocks()
isSuccessDataBlocks()
getOrderedDisks()
getReadDisks()
parallelRead()
erasureReadFile()

[2016-06-27 20:17] GarimaKapoor opened #2012 "XL: mc mkdir to support multiple arguments"
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-06-27 20:18] GarimaKapoor opened #2013 "XL/FS: Minio server dir - auto create if dir is missing"
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-06-27 20:19] GarimaKapoor opened #2014 "Xl: xl.json version should be semantic versioning "1.0.0""
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-06-27 20:20] GarimaKapoor opened #2015 "XL: Part names renamed from object1 to part.1..."
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-06-27 20:21] GarimaKapoor opened #2016 "XL: Relax write-quorum to n/2+1"
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-06-27 20:29] #2012 closed, assigned to harshavardhana

[2016-06-27 20:29] GarimaKapoor commented on #2012
Opening it in the right repo

[2016-06-27 21:55] paulovictorv commented on #1309
Would you be accepting pull requests that implemented this functionality?

[2016-06-28 04:42] #2015 closed, assigned to harshavardhana

[2016-06-28 06:54] harshavardhana opened #2021 "posix: All posix operations need unit tests"
Currently only ReadAll and readDir are implemented.

[2016-06-28 06:54] #2002 closed, assigned to hackintoshrao

[2016-06-28 10:21] fryzhykau opened #2024 "aws-java-sdk is not working properly with Minio over https"
## Expected behaviour

Upload executes correctly
## Actual behaviour

`com.amazonaws.services.s3.model.AmazonS3Exception: The request signature we calculated does not match the signature you provided. (Service: Amazon S3; Status Code: 403; Error Code: SignatureDoesNotMatch; Request ID: 3L137), S3 Extended Request ID: 3L137
    at com.amazonaws.http.AmazonHttpClient.handleErrorResponse(AmazonHttpCl

[2016-06-28 10:25] patrikarvidsson commented on #1291
For what it matters, +1 on this.

[2016-06-28 11:21] #1983 closed, assigned to hackintoshrao

[2016-06-28 12:45] arjitc commented on #2006
Drag and drop support would be nice to have :+1:

[2016-06-28 13:43] krishnasrinivas commented on #1827
reference code: https://github.com/krishnasrinivas/test/blob/master/pkg/minerrors/errors.go

[2016-06-28 16:14] harshavardhana commented on #1827
Why didn't we explore the possibility of using this? https://github.com/pkg/errors instead?.

http://dave.cheney.net/paste/gocon-spring-2016.pdf an article explaining the theory behind.

[2016-06-28 18:28] harshavardhana commented on #2021
Need to implement tests for
- MakeVol
- DeleteVol
- StatVol
- ListVols
- DeleteFile
- AppendFile
- RenameFile
- StatFile

[2016-06-28 21:03] dnp1 opened #2028 "Different certificates directory for differents '-config-dir' are not working."
## Expected behaviour

I set -config-dir=${APP_CONFIG_DIR}, then I suppose that ${APP_CONFIG_DIR}/certs should be the certificates directory of Minio.
## Actual behaviour

But It Always point to ${HOME_DIR}/.minio/certs
## Steps to reproduce the behaviour

Set your certificates in ~/.minio/certs (private.key and public.crt)
Put two minio servers working at same time passing a different config-dir

[2016-06-28 21:15] harshavardhana commented on #2028
Thanks @daniloanp - this is a bug. We will fix it.

[2016-06-28 21:51] #1536 closed, assigned to harshavardhana

[2016-06-28 23:57] harshavardhana opened #2030 "XL/bitrot: Migrate to new blake2b implementation"

[2016-06-29 03:13] krishnasrinivas commented on #1827
It was explored, check https://gitter.im/minio/minio?at=57431c7c46fb6493380b7646 but our probe is much better as it can track more information (like function names in the stack trace). This package also carries the same problem as probe ie you have to do errors.Wrap() at every function level.

Also at XL we need the ability to aggregate errors from disks and present as one error message to the cal

[2016-06-29 05:12] #1999 closed, assigned to hackintoshrao

[2016-06-29 05:30] harshavardhana commented on #1827
Is there a sample output? or atleast how the output looks like?  - btw the stack in `errors` does indeed capture that - https://github.com/pkg/errors/blob/master/stack.go

It used to be but we don't check for that anymore, `reduceError()` has gone because we are not doing error checks in that manner. So that part is not useful anymore. In-fact we do like to see the individual error happened on eac

[2016-06-29 05:43] krishnasrinivas commented on #1827
check `go run` output here:  https://gitter.im/minio/minio?at=57431c7c46fb6493380b7646
looks like function names were added recently.

that is correct, logging happens at the topmost layer which needs to have access to all the disk errors, that is why https://github.com/krishnasrinivas/test/blob/master/pkg/minerrors/errors.go#L86 `xlError` needs to have []errors (of the disks) you weren't there wh

[2016-06-29 05:55] #1825 closed, assigned to krisis

[2016-06-29 09:06] #2030 closed, assigned to harshavardhana

[2016-06-29 09:10] #2016 closed, assigned to harshavardhana

[2016-06-29 09:30] #2003 closed, assigned to hackintoshrao

[2016-06-29 09:31] harshavardhana commented on #2014
Fixed on latest master

[2016-06-29 09:31] #2014 closed, assigned to harshavardhana

[2016-06-29 10:13] #2013 closed, assigned to harshavardhana

[2016-06-29 12:05] krishnasrinivas commented on #2024
@balamurugana I think minio-java uses "host: example.com:443" for signature calculation, i.e it is using port numbers for signature calculation even when the port numbers are 80 and 443 which it should not.

Can you check if that's what is happening?

[2016-06-29 12:39] krishnasrinivas commented on #2024
Ah, this is `aws-java-sdk` not `minio-java`

[2016-06-29 18:52] awwalker opened #2034 "Remove all references to x-minio-date"
There is no good reason to have a different date format from x-amz-date or Date.

[2016-06-29 19:35] harshavardhana commented on #2034
x-minio-date is a date header used by the web jsonrpc it has a clear purpose, generic handlers validate this date header to look for valid json rpc/web browser requests.

[2016-06-29 20:19] awwalker commented on #2034
My misunderstanding, thanks for explaining.

[2016-06-29 20:19] #2034 closed, assigned to nobody

[2016-06-29 20:54] krisis opened #2035 "server returns "volume not found" when user doesn't have write permissions on the disk(s)"
## Expected behaviour

When minio server doesn't have permission on disks it is run with it should return "Permission denied" as opposed to "volume not found".
## Actual behaviour

When minio server is run for the first time on disks, the user it is run as, doesn't have permissions for, it returns "volume not found" error.
## Steps to reproduce the behaviour
- Create enough disks for using with mi

[2016-06-30 06:28] krishnasrinivas opened #2036 "minio server run with certs shows "http" on console"
## Expected behaviour

should show https
## Actual behaviour

shows http
## Steps to reproduce the behaviour

[code]

here http://127.0.0.1:9000 should be https://127.0.0.1:9000

[2016-06-30 19:35] krishnasrinivas commented on #2024
@ironmanby do this in your java file (i.e enable payload signing):

[code]

and add this to your nginx config: (disables the PUT body content size limit)

[code]

This should fix the problem you are seeing.

[2016-06-30 22:09] krisis opened #2040 "Concurrent multipart upload leads to racy update to xl.json"
## Expected behaviour

When more than one putObject part operation happens concurrently on a given object, xl.json should be intact.
## Actual behaviour

xl.json gets updated in a racy manner resulting in two (or more) copies of the json structure content placed one after the other.
## Steps to reproduce the behaviour
- Perform many concurrent multipart uploads.
## Minio version
- master branch co

[2016-06-30 22:14] krisis opened #2041 "aws cli fails to parse CompleteMultipartUploadResult XML with leading whitespace characters"
## Expected behaviour
- `aws s3 cp` fails with xml parse error on receiving complete multipart upload response.
## Actual behaviour
- `aws s3 cp` should complete without any xml parsing errors.
## Steps to reproduce the behaviour
- Run multipart upload using `aws s3` cli.
## Minio version
- master branch commit id ab41839
## System information
- Linux 4.4.0-21-generic #37-Ubuntu SMP

[2016-06-30 22:32] krisis opened #2042 "commitXLMetadata returns cleanup error to caller spuriously"
## Expected behaviour

commitXlMetadata function returns errors from DeleteFile of dangling directories, if any. This shouldn't be propagated to the caller.
## Actual behaviour

DeleteFile on possibly dangling directories fail with "File Not found" since there weren't any dangling directories. This error was propagated to the caller.
## Steps to reproduce the behaviour
- Perform many concurrent mu

[2016-06-30 22:49] #2028 closed, assigned to krisis

[2016-06-30 23:28] #2040 closed, assigned to krisis

[2016-06-30 23:37] #2042 closed, assigned to krisis

[2016-06-30 23:47] harshavardhana opened #2045 "XL/erasure-read: GET fails with 'aws s3 cp'"
Current master

[code]

[code]

[2016-07-01 01:03] harshavardhana opened #2047 "XL: regression ListObjects should return NoSuchKey instead returns InternalError."
[code]

[2016-07-01 01:09] harshavardhana opened #2049 "browser: Explore possibility of adding drag and drop support for files."

[2016-07-01 01:09] harshavardhana commented on #2006
https://github.com/minio/minio/issues/2049 - closing this.

[2016-07-01 01:09] #2006 closed, assigned to nobody

[2016-07-01 01:33] GarimaKapoor commented on #2036
@krishnasrinivas please update the timeline

[2016-07-01 01:34] GarimaKapoor commented on #2010
Please update the timeline to fix this issue.

[2016-07-01 01:35] GarimaKapoor commented on #2021
@balamurugana please update the timeline to fix this issue.

[2016-07-01 01:35] GarimaKapoor commented on #2000
Please update the timeline for the fix.

[2016-07-01 01:36] GarimaKapoor commented on #1992
please update the timeline for the fix.

[2016-07-01 01:37] harshavardhana commented on #1900
Closing.. as fixed.

[2016-07-01 01:37] #1900 closed, assigned to balamurugana

[2016-07-01 01:37] GarimaKapoor commented on #2047
Update the timeline for the fix.

[2016-07-01 01:38] GarimaKapoor commented on #2045
Please update the timeline for the fix.

[2016-07-01 01:38] GarimaKapoor commented on #2035
Please update the timeline for the fix.

[2016-07-01 01:39] GarimaKapoor commented on #1994
Please update the timeline.

[2016-07-01 01:39] GarimaKapoor commented on #1998
Please update the timeline.

[2016-07-01 01:39] GarimaKapoor commented on #1995
please update the timeline.

[2016-07-01 01:40] GarimaKapoor commented on #1962
please update the timeline.

[2016-07-01 01:40] GarimaKapoor commented on #1955
Please update the timeline.

[2016-07-01 01:41] GarimaKapoor commented on #1928
Please update the timeline.

[2016-07-01 01:43] harshavardhana commented on #2045
This is related to a putObject problem, not get opening a new one.

[2016-07-01 01:43] #2045 closed, assigned to harshavardhana

[2016-07-01 01:47] harshavardhana commented on #1962
July 1st.

[2016-07-01 01:48] harshavardhana commented on #2035
Patch sent already.

[2016-07-01 01:48] #2041 closed, assigned to krisis

[2016-07-01 01:54] krisis opened #2050 "Check if XL implementation works on ARM"

[2016-07-01 02:34] harshavardhana opened #2051 "Concurrent putObject leads to tcp going out of memory"
[code]

[2016-07-01 02:46] harshavardhana commented on #2051
Running after doing the tuning.

[code]

[2016-07-01 03:04] harshavardhana commented on #2051
After setting this value, 100 go-routine tests pass now.

[2016-07-01 03:04] #2051 closed, assigned to harshavardhana

[2016-07-01 03:06] harshavardhana opened #2052 "Remove x-minio-date usage, use x-amz-date or just regular 'Date' as needed."
Usage of x-minio-date for JSON RPC in web browser requests should be removed.

[2016-07-01 03:07] harshavardhana commented on #2052
Fixed by July 1st

[2016-07-01 03:07] harshavardhana commented on #2035
July 1st.

[2016-07-01 04:49] krishnasrinivas opened #2054 "Incorrect sha256 should return appropriate error"
Incorrect sha256 should return appropriate error:
## Expected behaviour

minio server should return:

[code]
## Actual behaviour

returns invalid signature error

[2016-07-01 05:13] krishnasrinivas opened #2056 "Support for UNSIGNED-PAYLOAD on minio server"
All object-handlers which have body should support UNSIGNED-PAYLOAD for sha256.

[2016-07-01 05:38] harshavardhana opened #2057 "[XL] Validate CRC64 for collision consistency."

[2016-07-01 07:35] harshavardhana opened #2058 "Figure out a way to avoid io.Pipe() for PutObjectHandlers"

[2016-07-01 13:28] fryzhykau commented on #2024
@krishnasrinivas , @harshavardhana  Thanks a lot, works like a charm! :)

[2016-07-01 13:28] #2024 closed, assigned to krishnasrinivas

[2016-07-01 16:21] vadmeste opened #2060 "Simple command error could easily lead to a corrupted backend format msg"
It is easy to corrupt the disks (from the user's point of view):
1.  $ mkdir -p /tmp/fs1/export{1..16}
2.  $ minio server /tmp/fs1/export{1..16}
3. In a new terminal:
$ mc mb myminio/bucket/ && mc cp file myminio/bucket/
4. Now, you run mistakenly this command and you correct it later
$ minio server /tmp/fs1/export1
CTRL-C
$ minio server /tmp/fs1/export{1..16}

FATA[0000] Unable to intialize objec

[2016-07-01 16:31] krisis commented on #2047
Jul 5th

[2016-07-01 16:32] krisis commented on #1998
This issue is being currently worked on. Initial block profile analysis must be complete by EOD. Issues found while running the profile setup will be tracked separately.

[2016-07-01 16:33] krisis commented on #1995
Jul 6th

[2016-07-01 16:37] krisis commented on #2058
Why should we avoid using io.Pipe()?

[2016-07-01 17:42] esarakaitis opened #2061 "allow a queue for multiple-file uploads via UI"
## Expected behavior

uploading multiple files should happen in serial
## Actual behavior

you can only upload one at a time
## Steps to reproduce the behavior

upload a file, while its uploading, try to upload another
## Minio version

Version: 2016-06-03T19:32:05Z
Release-Tag: RELEASE.2016-06-03T19-32-05Z
Commit-ID: 73ddb5be758566dde18b519393c7554ae280b074
## System information

[2016-07-01 17:43] esarakaitis opened #2062 "refresh file list when file uploads completed"
## Expected behavior

When upload completed, you should see the file in the list
## Actual behavior

You must manually refresh the file list
## Steps to reproduce the behavior

upload a file
## Minio version

Version: 2016-06-03T19:32:05Z
Release-Tag: RELEASE.2016-06-03T19-32-05Z
Commit-ID: 73ddb5be758566dde18b519393c7554ae280b074
## System information

[2016-07-01 17:51] esarakaitis opened #2063 "have ability to provision disks for minio within the minio UI"
## Expected behavior

Have the ability to partition and format available block devices within the minio UI/CLI. It would be really nice to be able to set the entire system up from the minio UI.
## Actual behavior

non-existent

[2016-07-01 20:01] krishnasrinivas commented on #2056
https://github.com/minio/minio/pull/2038 fixes this as well

[2016-07-01 20:44] harshavardhana commented on #2060
Yes FS needs to validate if the disk is part of an initialized group // cc @hackintoshrao

[2016-07-01 21:32] #2036 closed, assigned to krishnasrinivas

[2016-07-01 21:56] harshavardhana commented on #2062
// cc @krishnasrinivas we did fix this recently? - do you know the bug that was closed?

[2016-07-02 01:31] GarimaKapoor commented on #1928
cc @vadmeste Can you take a look at this issue

[2016-07-02 02:29] krisis opened #2067 "aws s3 cp fails with xml parse error during AbortMultipartUpload operation"
## Expected behaviour

`aws s3 cp` must not fail to parse xml response for AbortMultipartUpload operation. i.e, minio server's xml response is incorrect. See sample response below,
## Actual behaviour

`aws s3 cp` fails with the following error message.

[code]
## Steps to reproduce the behaviour
- Perform many concurrent multipart uploads
## Minio version
- commit id `eb5f782` + #2066
## System i

[2016-07-02 02:51] krisis commented on #1998
Block profile when 200 concurrent uploads/downloads on a bucket
[2066-blockprof.pdf](https://github.com/minio/minio/files/344375/2066-blockprof.pdf)

[2016-07-02 02:52] krisis commented on #1998
[ ] - Need to perform block profiling for list objects.

[2016-07-02 02:52] harshavardhana commented on #1994
Memory profiling is finished.. No significant changes needed on the server,  memory usage is well with in the ballpark and server doesn't crash for large amount of requests as well.

[code]

[code]

Subsequently GC de-allocates them as well.

Closing the bug this activity led to fixing of around 4 different issues.  Next tasks to be done are block profiling and cpu profiling for wrong inputs.

Goi

[2016-07-02 02:52] #1994 closed, assigned to harshavardhana

[2016-07-02 04:28] hackintoshrao commented on #1990
Timeline: 2nd July.

[2016-07-02 04:28] hackintoshrao commented on #2000
Timeline 2nd July.

[2016-07-02 04:29] hackintoshrao commented on #1955
@awwalker : Can you look into this. Timeline 3rd July.

[2016-07-02 04:34] harshavardhana opened #2068 "XL/erasure-read: Running 500 Goroutine GetObject in parallel fails."
Reproducer script.

[code]

[code]

[code]

[2016-07-02 04:38] harshavardhana commented on #2068
Output.log snippet

[code]

There are 400 more entries..

[2016-07-02 04:42] harshavardhana commented on #1955
I will take over this.

[2016-07-02 04:43] harshavardhana commented on #2068
Similar test on a 100 go-routine run

[code]

[2016-07-02 04:49] harshavardhana commented on #2056
Is this valid? @krishnasrinivas ?

[2016-07-02 04:50] harshavardhana commented on #2054
Related change to simplify this overall #2066

[2016-07-02 05:54] krishnasrinivas commented on #2056
closing as this is already fixed.

[2016-07-02 05:54] #2056 closed, assigned to harshavardhana

[2016-07-02 07:21] hackintoshrao opened #2069 "XL: Failure of `TestGetObjectReadSeekFunctional` with exec-concurrent test."
## Expected behaviour

Pass the tests.
## Actual behaviour

`TestGetObjectReadSeekFunctional` failing wit EOF error.
## Steps to reproduce the behaviour

`./execconcurrent "TestGetObjectReadSeekFunctional"
## Minio version

Latest master
## System information

Minio3 server

[2016-07-02 08:51] #2052 closed, assigned to harshavardhana

[2016-07-02 08:59] #2035 closed, assigned to harshavardhana

[2016-07-02 09:26] harshavardhana commented on #1955
July 3rd

[2016-07-02 09:29] harshavardhana commented on #2067
To be fixed by July 4th

[2016-07-02 09:30] harshavardhana commented on #2060
Assigned this to @balamurugana .

[2016-07-02 09:34] krishnasrinivas commented on #2062
@esarakaitis were you using XL backend (i.e multiple export directories) or FS backend (single export)?

[2016-07-02 13:35] esarakaitis commented on #2062
I was using XL. The exact commands I had posted on Gitter.

[2016-07-02 13:39] vadmeste commented on #1928
I tried to compare performance based on different block sizes in my local machine. Each time I change the blockSizeV1 in object-common.go, I remove export directories, restart minio server and measure the duration of uploading and downloading a 2 Gb file:

| Block size | Upload | Download |
| --- | --- | --- |
| 4 kb | 2m41s | 6m29s |
| 8 kb | 2m1s | 3m19s |
| 16 kb | 1m33s | 1m43s |
| 32 kb | 1m1

[2016-07-02 13:49] krishnasrinivas commented on #1928
nice, our 10MB blocksize looks ideal.

[2016-07-02 13:53] krishnasrinivas commented on #1928
@vadmeste another test that can be done is remove one of the data files and download so that reedsolomon.Reconstruct() kicks in during download.

[2016-07-02 14:41] vadmeste commented on #1928
With a 5gb file:

| Block size | Upload | Download |
| --- | --- | --- |
| 2 M | 3m16s | 13.63s |
| 4 M | 3m15s | 12.128s |
| 5 M | 3m15s | 11.4s |
| 6 M | 3m15s | 11.4s |
| 8 M | 3m16s | 11.4 |
| 10 M | 3m14s | 11.438 |
| 12 M | 3m14s | 11.45s |
| 16 M | 3m16s | 11,625s |

[2016-07-02 16:42] vadmeste opened #2072 "Not possible to download a file when removing the content of one export dir"
[code]

5gb.bin can be listed but not downloaded.

Isn't minio supposed to deliver this file transparently when one disk fails? (1/16)

[2016-07-02 16:52] krishnasrinivas commented on #2072
This should be a bug

[2016-07-03 01:46] harshavardhana commented on #2072
To be fixed by July 4th.

[2016-07-03 07:10] hackintoshrao opened #2073 "XL: TestGetObjectReadSeekFunctional concurent test fail"
## Expected behaviour

Test to not to freeze.
## Actual behaviour

Server inactivity and Frozen on Delete Object.
[Here is the block profile](https://github.com/minio/minio/files/344909/block-lok.pdf)
## Steps to reproduce the behaviour

./exec-concurrent TestGetObjectReadSeekFunctional
## Minio version

latest master
## System information

Minio 3 server

[2016-07-03 12:49] hackintoshrao commented on #2069
This behavior is not seen for now. Will reopen on its occurrence again.

[2016-07-03 12:49] #2069 closed, assigned to krishnasrinivas

[2016-07-03 12:52] krishnasrinivas commented on #2068
@harshavardhana tried to reproduce this issue, the machine became very slow and unresponsive, the minio server was using 40+G mem, I killed the server and did `./start-server.sh` unfortunately it did `rm -fr /mnt/sdb1/harsha/mydisk` did you have any valuable test data?

[2016-07-03 16:12] harshavardhana commented on #2068
It's easier to reproduce, let me reproduce and give you an instance.

[2016-07-03 16:35] vadmeste opened #2075 "Check for available inodes in addition of free space disk"
[code]

This partition is formatted by mkfs with default parameters, minio returns error 500 in this case.

[2016-07-03 16:39] harshavardhana commented on #2075
:+1:

[2016-07-03 16:52] vadmeste opened #2076 "XL: cannot remove some dirs"
[code]

The attached file is the archive of the exported dirs
[fs.cannot.remove.tar.gz](https://github.com/minio/minio/files/345180/fs.cannot.remove.tar.gz)

[2016-07-03 18:17] #2021 closed, assigned to balamurugana

[2016-07-03 18:18] harshavardhana commented on #2076
Was this inconsistency created? by deleting files from backend ?

[2016-07-03 18:19] harshavardhana opened #2077 "XL/fs: Running benchmark provides allocations different for FS and XL."
After running

[code]

One can observe that FS is using lot more allocations than 'XL',  validate if this is needed and can be optimized further.

[2016-07-03 18:22] vadmeste commented on #2076
I copied a dir to myminio/testbucket/1, myminio/testbucket/2 and so on until the disk became full, minio returned 500, then I deleted some files, copied again.. Finally I decided to remove all files. All of this using mc, so no I didn't touch the backend manually.

[2016-07-03 18:22] harshavardhana commented on #2076
Can you post following details
- Approach/script with which the files were created, parallel etc. Average size of the file.
- Were any disks deleted during this copy?

[2016-07-03 18:23] harshavardhana commented on #2076
Looks like some became inconsistent after the disk was full, is this related to the inode problem? - that we ran out of inode before we ran out of disk space?

[2016-07-03 18:25] vadmeste commented on #2076
yes, I encountered this when the disk ran out of inodes.

[2016-07-03 18:31] harshavardhana commented on #2076
Yeah we need to fix that, no wonder you are not able to delete.  REF #2075

[2016-07-03 20:32] harshavardhana commented on #2075
https://github.com/minio/minio/issues/2076 - this will be fixed..  once this issue is fixed.

[2016-07-03 22:28] krishnasrinivas commented on #2068
tested with this script, couldn't repro the problem:

[code]

[code]

[2016-07-03 22:29] krishnasrinivas commented on #2068
aws cli might be doing something different, will check.

[2016-07-03 22:47] harshavardhana commented on #2050
XL implementation works fine on ARMv7, reedsolomon has proper fallback on non x86 systems. Closing this as validated.

[2016-07-03 22:47] #2050 closed, assigned to harshavardhana

[2016-07-03 23:27] harshavardhana opened #2079 "XL: PutObject/CompleteMultipart should cache the object in a routine once successfully committed."

[2016-07-03 23:31] harshavardhana opened #2080 "XL: Cache add auto-expiry of entries."

[2016-07-03 23:39] harshavardhana commented on #2068
aws cli does parallel download 10 parts in parallel, simple GetObject wouldn't reproduce this problem. Will let you know when i get around reproducing it and will provide you a working setup.

[2016-07-03 23:58] #1962 closed, assigned to harshavardhana

[2016-07-04 00:07] harshavardhana opened #2081 "XL: update blake2b implementation after SSE support is finished."
Blocking on https://github.com/minio/blake2b-simd/issues/9

[2016-07-04 01:25] krisis opened #2082 "Investigate block profile results for concurrent uploads of objects"
## Setup
- Ran block profiling on #2066

[2066-blockprof.pdf](https://github.com/minio/minio/files/345399/2066-blockprof.pdf)

[2016-07-04 02:02] hackintoshrao commented on #2073
This seems like there's a locking issue.

[2016-07-04 02:03] hackintoshrao commented on #2068
@krishnasrinivas : I could help with running this test.

[2016-07-04 02:47] hackintoshrao opened #2084 "Benchcmp for the GetObject Benchmarks with and without Cache."

[2016-07-04 03:01] #2060 closed, assigned to balamurugana

[2016-07-04 03:19] hackintoshrao opened #2085 "Golang/ioutil: ioutil.ReadAll(req.Body) panic."
## Expected behaviour

Atleast expected not to panic in this context.
## Actual behaviour

Panics during  ioutil.ReadAll(req.Body)
## Steps to reproduce the behaviour

Follow the comments here https://github.com/minio/minio/pull/2074
## Minio version

Commit 7747a085a97ee4a700ec4d2fd0c7bfb3c91dd065
## System information

OSX ElCaption.

[2016-07-04 04:32] krishnasrinivas commented on #2073
@hackintoshrao  is this the source of exec-current.go:

[code]

[2016-07-04 04:37] krishnasrinivas commented on #2068
That's fine, i will try with aws-cli.

[2016-07-04 05:34] #2075 closed, assigned to balamurugana

[2016-07-04 05:35] #1990 closed, assigned to hackintoshrao

[2016-07-04 05:37] harshavardhana commented on #2082
Assigned to @krisis for further investigation and fix.

[2016-07-04 05:50] hackintoshrao commented on #2073
@krishnasrinivas Yes. But you gotto get the binary of the minio `api-functional-v4 test` by running `go test -c api-functional-v4_test.go`. I have the setup ready on minio3.

[2016-07-04 08:02] vadmeste opened #2087 "XL: Downloading a big file will crash the server"
To reproduce: $ mc cp myminio/bucket/5gb.bin /tmp/

This regression is very new, must be due to a commit of today or yesterday

Minio server stack trace:

[code]

[2016-07-04 08:18] harshavardhana commented on #2087
This is because of the defaulted 8GB cache size, you must not have enough memory to hold the cache

[code]

Do you have enough RAM to hold 5Gb in memory?

TO disable the cache you can use

[code]

[2016-07-04 08:28] vadmeste commented on #2087
yes, that's what I expected too. Disabling cache size works fine, however lowering the cache size to 1Gb or 5Gb won't work, mc doesn't download the file

By the way, probably it is better to allocate the cache in advance when we initialize the server, go still cannot recover from out of memory crash ?

[2016-07-04 08:32] harshavardhana commented on #2087
It can but it is tricky, will do additional changes to handle these cases. Let's keep this issue open.

[2016-07-04 09:21] vadmeste commented on #1928
@krishnasrinivas, I removed data files from the backend in 7 disks / 16 total disks, mc didn't complain but didn't return anything also.. anyway, this issue https://github.com/minio/minio/issues/2072 should be resolved first

[2016-07-04 11:12] balamurugana commented on #2077
As per my reading of current code base, FS and XL object layers uses max of 128KiB buffer and they are allocated only once per Get/Put calls.  Checking more with benchmark tests.

[2016-07-04 14:36] krishnasrinivas commented on #2068
this completed fine (file was 971MB):

[code]

[2016-07-04 15:14] krishnasrinivas commented on #2010
timeline 4-july.

[2016-07-04 19:57] hackintoshrao opened #2091 "docs: Documentation for caching options."
Need documentation for caching related options (enable/disable/more...).

[2016-07-04 20:58] hackintoshrao commented on #2073
Here is the summary of the detailed investigation.

The dealock happens only when the read is done after a seek, reading without a seek doesn't cause a deadlock. Here is the minimal code to reproduce the issue.

[code]

Since this bug has been occurring often after changes to GetObject, will be working on replicating it using `server_test` functional test and making it part of the test suite so th

[2016-07-04 21:01] hackintoshrao commented on #2084
Working a simple tool which takes 2 commits SHA's and runs benchmark for both of them and runs benchcmp and gives a good performance difference between the commits.

[7-8 July]

[2016-07-04 21:04] hackintoshrao commented on #2000
Working on more critical bugs. Will be getting back to this after fixing. Meanwhile @vadmeste  or @awwalker or @balamurugana can pick this up. I have ideas on the implementation, will be really useful if we get benchmarks for `PutObjectPart`

[9th July]

[2016-07-04 21:09] hackintoshrao opened #2092 "benchmarks: Need parallel benchmarks for PutObject/GetObject."
Need parallel benchmarks using https://golang.org/pkg/testing/#B.RunParallel . This has to work along side sequential benchmarks and it'll help to know the performance degrade on parallel upload/download.

[8th July]

[2016-07-05 02:43] harshavardhana commented on #2076
This should be fixed already in master to handle a case where we run out of inodes, since we wouldn't be reaching a situation as the i/o would have stopped at the 5% threshold.

[2016-07-05 05:56] harshavardhana opened #2096 "ssl: make sure to properly handle non-SSL requests"
This requires us to write custom http.Server{} avoiding the Golang default http server TLS handshake message.

The problem that we have right now is as shown below

[code]

[2016-07-05 06:04] harshavardhana opened #2097 "tests: Move signature calculation from newTestRequest() into its own function."
Currently tests employ newTestRequest() to generate a request which also calculates signature. This causes problem when addition headers need to be assigned.

Currently there is a bug in TestCopyObject() we are adding/updating a header after calculating signature, but server still honors the request.

[2016-07-05 06:15] harshavardhana opened #2098 "api: getObjectHandler returns InvalidRange for offsets with in the length of data."
## Expected behaviour

Should not return an error for offset value panning with in the length of the data.
## Actual behaviour

We return InvalidRange error
## Steps to reproduce the behavior

Following code runs fine on S3 but Minio server returns InvalidRange.

[code]
## Minio version
- (paste output of `minio version`)
  0540863663b9f515a0a5bd803af34adca08468dc
## System information

Ubuntu 16.

[2016-07-05 07:31] krishnasrinivas opened #2100 "tests: Implement unit tests for tree-walk.go"
Right now there is exhaustive testcases for listObjects and listMultipartuploads and test case for tree-walk.go is very minimal.

test cases for tree-walk.go should be exhaustive as well.
for ex:
- recursive/nonrecursive
- check for EOF
- check if listing is correctly sorted

[2016-07-05 07:32] krishnasrinivas opened #2101 "tests: Implement unit tests for erasure-createfile.go"
unit tests for functions in erasure-createfile.go

[2016-07-05 07:33] krishnasrinivas commented on #2101
@harshavardhana can you assign this to me.

[2016-07-05 08:04] #2054 closed, assigned to krishnasrinivas

[2016-07-05 08:04] #2058 closed, assigned to harshavardhana

[2016-07-05 08:06] #1955 closed, assigned to harshavardhana

[2016-07-05 09:27] hackintoshrao commented on #2073
Now getting data sanctity error too along the lock issue after updating the code to latest master.
`api-functional-v4_test.go:748: Error: Incorrect read bytes v/s original buffer.`

[2016-07-05 09:59] harshavardhana commented on #2073
A Seek() here is nothing bug a GetObject Range request, can you paste `.TraceOn` output as well.

[2016-07-05 17:44] krisis commented on #2082
I have started the analysis, expect to send a proposed fix by Jul 7th.

[2016-07-05 18:15] krishnasrinivas opened #2102 "XL/ObjectCache: cache gets fille with partial data"
If the client fails to read the entire data the cache gets filled with partial data.

[2016-07-05 18:18] krishnasrinivas opened #2103 "XL/objectCache: DeleteObject should delete cached entry"
DeleteObject() should delete object cache.

[2016-07-05 18:42] krisis commented on #2047
Works as expected on latest master `8ddf520` for XL and FS backend.

[code]

[2016-07-05 18:56] harshavardhana commented on #2102
// cc @hackintoshrao - is sending a fix.

[2016-07-05 18:57] #2076 closed, assigned to harshavardhana

[2016-07-05 18:58] harshavardhana commented on #2062
Moving this to "Standalone Release" milestone, its a blocker.

[2016-07-05 19:23] harshavardhana commented on #2068
@krishnasrinivas was this test run with caching disabled?  as in `MINIO_CACHE_SIZE=0`

[2016-07-05 19:24] harshavardhana commented on #2047
@krisis did you try providing a '/' at the end. ?

[code]

[2016-07-05 19:27] hackintoshrao opened #2105 "object/Handler: PresignedGetObject() fails with 400 Bad Request."

[2016-07-05 19:28] harshavardhana commented on #2047
Still reproducible with current master

[code]

[2016-07-05 19:31] harshavardhana commented on #2105
PresignedGetObject() fails with 400 Bad Request.

[2016-07-05 19:48] #2102 closed, assigned to hackintoshrao

[2016-07-05 19:49] harshavardhana commented on #2073
Fixed by #2104

[2016-07-05 19:49] #2073 closed, assigned to hackintoshrao

[2016-07-05 21:18] krishnasrinivas opened #2107 "XL/objectCache: two parallel GetObject can result in partial data"
If there are two parallel GetObjects:
1) one GetObject will be filling the cache, wouldn't have completed.
2) second GetObject will find the entry in the cache and return partial data.

@harshavardhana i have the fix, pusing it.

[2016-07-05 22:23] krisis commented on #2047
With the trailing slash at the end of the object name, mc ls fails with the following error, if the object doesn't exist in the namespace.

[code]

and the following for an object that exists, but without the trailing slash.

[code]

[2016-07-06 01:00] krisis commented on #2047
If the object doesn't exist in the namespace, then HEAD bucket/object request fails with an ObjectNameInvalid which translates to ErrNotImplemented at the API layer.
If the object exists in the namespace (though not with the trailing slash), then xl.listObjects fails with ENOTDIR when trying to look for xl.json for parts of the object during a xl.getobjectInfo call on each entry, which translates

[2016-07-06 01:49] harshavardhana commented on #2047
ENOTDIR  should be ignored and listObjects should not list anything.

[2016-07-06 04:00] #2105 closed, assigned to harshavardhana

[2016-07-06 06:13] krisis commented on #2047
`mc ls s3/validBucket/a~d` returns with "Requested <file> not found". So, would it make sense for us to translate `ObjectInvalidName` error to `errFileNotFound`?

[2016-07-06 06:15] harshavardhana commented on #2047
The other way round you mean.. that is what toObjectError() does.

[2016-07-06 06:28] harshavardhana commented on #2068
Can you answer?

[2016-07-06 07:16] krishnasrinivas commented on #2068
I am not sure, checking, you are asking because https://github.com/minio/minio/issues/2107 could be the bug?

[2016-07-06 07:36] krishnasrinivas commented on #2068
Ah, I think I was testing on code which did not have the object cache feature.

objcache's custom Buffer is not safe when object is read in parallel. ie both downloads will affect the same `off` in the objcache.Buffer. A simple mc cat in parallel fetches wrong data.

https://github.com/minio/minio/pull/2108 will fix this.

[2016-07-06 07:49] harshavardhana commented on #2068
This is not the reason i asked.  It is reproducible after disabling caching, with 500 go-routine run.

[code]

[code]

[2016-07-06 08:29] #2107 closed, assigned to krishnasrinivas

[2016-07-06 08:30] harshavardhana opened #2109 "tests: Add unit tests for object cache."
Currently no tests have been written.

[2016-07-06 08:57] hackintoshrao opened #2110 "tests: Need Cleaner and exhaustive tests for functions in xl-v1-object.go"

[2016-07-06 09:46] 31z4 opened #2111 "[resolved] Versioning support"
Would be great to have [versioning](http://docs.aws.amazon.com/AmazonS3/latest/dev/Versioning.html) support.

[2016-07-06 09:46] harshavardhana commented on #2068
Closing there is a sufficient evidence that this is not 'GetObject()' issue for now.

[2016-07-06 09:46] #2068 closed, assigned to krishnasrinivas

[2016-07-06 17:25] #2103 closed, assigned to krishnasrinivas

[2016-07-06 19:22] GarimaKapoor commented on #2111
Its by design that we have kept versioning out of the server. You can look at [s3git project](https://github.com/s3git/s3git) for versioning, it works seamlessly with Minio and S3. You can follow  #1309 for more detailed discussion on why it's a better design to keep versioning out of server.

[2016-07-06 19:50] #2098 closed, assigned to balamurugana

[2016-07-06 19:51] krishnasrinivas commented on #2047
we need to send 400 instead of 501

[2016-07-06 20:13] harshavardhana commented on #2047
Incorrect, ObjectNameInvalid is returned as 501 by S3.  400 should be used only if the request is wrong which is correct from S3's behavior.

[2016-07-07 00:09] harshavardhana commented on #2047
You are right @krishnasrinivas 400 is correct here for ObjectNameInvalid. 501 we can reply back for unknown headers or for an API which we don't implement.

[2016-07-07 01:24] #2081 closed, assigned to harshavardhana

[2016-07-07 02:31] hackintoshrao commented on #2110
- GetObject() test is in progress rest of the existing tests has to be made cleaner and exhaustive.

[2016-07-07 02:31] hackintoshrao opened #2116 "tests: Need unit test and exhasutive coverage for ObjectLayer.GetObject()"
- Need cases to cover every possible erroneous output.
- Data integrity has be tested too.
- Need a separate concurrent test to concurrently fetch and test for data integrity and races.

[2016-07-07 03:43] hackintoshrao opened #2117 "XL/FS: ObjectLayer.GetObject() incorrect behaviour while trying to fetch from an non-existent bucket."
## Expected behaviour

To error out with `Bucket not exist`
## Actual behaviour
-  FS strangely passes the test while its expected to error, here is the log.  Not sure how does it pass the test on an non-existent bucket.
  `object-api-getobject_test.go:118: Test 1: SingleNode: Expected to fail with <ERROR> "Bucket not found: abc", but passed instead`
-  XL fails with the following error.
  `object

[2016-07-07 04:18] hackintoshrao opened #2118 "FS: GetObject: Incorrect behaviour with invalid offset."
## Expected behaviour

To Fail with `InvalidRange`. XL behaves as expected for this case.
## Actual behaviour

Test passing.
## Steps to reproduce the behaviour

Run the test here https://github.com/hackintoshrao/minio/blob/65a80044e4b6e551d903c1e91c9ad2d659c9e475/object-api-getobject_test.go
## Minio version

Latest master at this point in time 169c72cdab14ac0f993161f6ed97e8462eccfb97
## System i

[2016-07-07 04:43] hackintoshrao commented on #2110
`TestRepeatPutObjectPart` from `xl-v1-object_test.go` has to be removed from there and made part of [object suite test](https://github.com/minio/minio/blob/master/object_api_suite_test.go) and detailed array of valid/invalid cases for other functions required.

[2016-07-07 05:25] GarimaKapoor commented on #2117
Please update timeline for the fix.

[2016-07-07 05:26] GarimaKapoor commented on #2118
Please update timeline for the fix

[2016-07-07 05:26] GarimaKapoor commented on #2116
Please update timeline for the fix.

[2016-07-07 05:27] GarimaKapoor commented on #2110
Please update timeline for the fix.

[2016-07-07 05:27] GarimaKapoor commented on #2109
Please update timeline for the fix.

[2016-07-07 05:28] GarimaKapoor commented on #2100
Please update timeline for the fix.

[2016-07-07 05:28] GarimaKapoor commented on #2080
Please update timeline for the fix.

[2016-07-07 05:30] GarimaKapoor commented on #2072
Please update the new timeline.

[2016-07-07 05:33] GarimaKapoor commented on #2047
@krisis please update the timeline.

[2016-07-07 05:33] GarimaKapoor commented on #2010
please update the revised timeline.

[2016-07-07 05:35] GarimaKapoor commented on #2000
@vadmeste can you co ordinate with Karthic and work on this fix.

[2016-07-07 05:35] hackintoshrao commented on #2109
Its in progress. 8th July.

[2016-07-07 05:36] GarimaKapoor commented on #1998
@krisis please update the status and the results of the block profiling.

[2016-07-07 05:38] hackintoshrao commented on #2047
It'll be good to test case to simulate this scenario.

[2016-07-07 05:42] GarimaKapoor commented on #1753
7th July!

[2016-07-07 05:52] krisis commented on #1998
Block profile when 200 concurrent uploads/downloads on a bucket with master as of Jul 5th.
[8ddf520-jul5-block.pdf](https://github.com/minio/minio/files/351480/8ddf520-jul5-block.pdf)

[2016-07-07 06:08] hackintoshrao opened #2119 "XL: GetObject: Crash when XL.GetObject is called with negative offset."
## Expected behaviour

Not sure of expected behavior when offset is negative, but it shouldn't crash atleast.
## Actual behaviour

Crashes with following stack trace.

[code]
## Steps to reproduce the behaviour

run the test here https://github.com/hackintoshrao/minio/blob/9fa75bc1156155ca2c409aea3858355833b31b0a/object-api-getobject_test.go
## Minio version

Current master at this point in time 1

[2016-07-07 06:14] krisis commented on #2110
@hackintoshrao could you explain what you mean when you say cleaner test?

[2016-07-07 06:15] krisis commented on #2047
I am working on this issue now. I expect to submit a PR for this by Jul 7th.

[2016-07-07 06:18] harshavardhana commented on #2072
Should be done by July 7th

[2016-07-07 06:18] harshavardhana commented on #2080
Should by done by July 8th

[2016-07-07 06:32] krisis opened #2120 "Break the single test function in object_api_suite_test.go into separate unit-tests"

[2016-07-07 06:33] krisis commented on #2120
In it's current form it is very difficult to understand each test individually. Also, if one of them fails, there isn't an easy way to run the failing test(s) alone.

[2016-07-07 06:37] harshavardhana commented on #2120
Thanks for opening this @krisis

[2016-07-07 07:02] harshavardhana commented on #2109
This is address in a patch already #2115 - please review.

[2016-07-07 07:07] harshavardhana commented on #2072
Not able to reproduce this with current 'master' , do you have the setup handy where i can take a look?

[2016-07-07 07:08] harshavardhana commented on #2067
@krisis are you still seeing this issue?

[2016-07-07 07:44] hackintoshrao commented on #2120
Yeah, that helps. It just runs as 2 tests now.

[2016-07-07 08:22] balamurugana commented on #2118
To be closed: 07-Jul-2016.

[2016-07-07 08:30] #2119 closed, assigned to harshavardhana

[2016-07-07 08:38] harshavardhana commented on #2080
https://github.com/harshavardhana/minio/commit/3a263c762467f294aecf02b9ef0e40c13fe3502d - a relevant patch has been submitted

[2016-07-07 08:57] hackintoshrao opened #2124 "tests: coverage: Improving unit tests for xl-v1-metadata.go ."
- There are bunch of tests in https://github.com/minio/minio/blob/master/xl-v1-metadata_test.go . The  tests have to be separated into multiple test functions for each of the functionalities in xl-v1-metadata.go and error cases also have to included.

[2016-07-07 10:43] amelkikh opened #2125 "ETag does not return in HeadObject response headers"
Expected standard http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectHEAD.html

Step by step, I have studied the code.
I do not know the language well enough to write a fix, however, I understand that the metadata is not preserved. In particular, the hash sum, which is necessary for the response header
ETag is present only in PutObject request

https://github.com/minio/minio/blob/master/obje

[2016-07-07 11:22] ncw opened #2126 "I'd like to contribute a recipe for rclone"
I'd like to contribute a recipe for [rclone](http://rclone.org) but I can't figure out which repo to send a pull requst to!  Something like [this one](https://docs.minio.io/docs/s3cmd-with-minio-server).

If it isn't a public repo then I can send instructions!

rclone works reasonably well with minio.  You need to use the `--size-only` flag to avoid using MD5 sums and date stored in the metadata n

[2016-07-07 11:38] krishnasrinivas commented on #2125
@amelkikh we do not store the ETAG of the object so that we can keep the backend filesystem like a regular browsable directory tree of regular files and directories without any etag related metadata files.

However for the XL erasure coded backend, we store the ETAG in the backend.
You can start minio XL as `minio server /disk1 /disk2 ..../disk16` in which all the objects will be erasure coded, th

[2016-07-07 12:13] amelkikh commented on #2125
Thank you for the quick response.
Is there any documentation that points to these differences?

[2016-07-07 12:43] krishnasrinivas commented on #2125
The erasure coded XL documentation is not available in http://docs.minio.io yet
But you can compile minio on the master branch and type `minio server --help`

[2016-07-07 12:51] krishnasrinivas commented on #2126
@ncw docs.minio.io is not available on github yet, soon it will be. Can you post the recipe for `rclone` here? we could update our docs site. Thanks.

[2016-07-07 12:55] amelkikh commented on #2125
Thank you, the question is solved.

[2016-07-07 13:08] krishnasrinivas opened #2127 "XL: minio does not start if a disk is not available"
[code]

[2016-07-07 13:11] krishnasrinivas opened #2128 "XL: detect if a disk has been unmounted"
If minio is started as:
`minio server /mnt/disk1 /mnt/disk2 /mnt/disk3...`

`/mnt/disk1 /mnt/disk2 /mnt/disk3...` are mount points for the disks. Now if user does `umount /mnt/disk` we have no way to tell that the disk is not available, we will just see empty `/mnt/disk` and try to initialize it.

[2016-07-07 13:18] krishnasrinivas commented on #2072
@vadmeste can you check again on master, because this is not reproducible. On which commit did you see the behavior, curious to know which commit fixed it.

[2016-07-07 14:29] krishnasrinivas opened #2129 "XL: when readQuorum fails, GetObject returns 200OK with no content"
in 8:8 setup, when 8 disks are down:

[code]

Should have returned quorum/internal error.

[2016-07-07 14:30] krishnasrinivas commented on #2129
backend disks were removed one by one:

[code]

`mc cat` succeeded till `disk8` was removed

[2016-07-07 16:08] harshavardhana commented on #2128
We can validate by looking at missing format.json

[2016-07-07 16:10] #2125 closed, assigned to nobody

[2016-07-07 16:11] krishnasrinivas commented on #2128
In that case minio should not init newly mounted disks, because it wont know if it's a new disk or an umounted directory.

[2016-07-07 16:12] harshavardhana commented on #2126
@ncw you can send a PR to https://github.com/minio/cookbook which will be incorporated seamlessly when our https://github.com/minio/doctor project is out. Thanks a lot.

[2016-07-07 16:20] harshavardhana commented on #2128
Init will happen if all of them are fresh. It doesnt have to heal missing format.json which is the problem here. We will just have to see which is acceptable.

[2016-07-07 16:42] vadmeste commented on #2072
@krishnasrinivas @harshavardhana, with the last master, this happens _sometimes_, I did mc cat myminio/bucket/5gb.bin many times before I got this "mc: <ERROR> Unable to read from ‘myminio/bucket/5gb.bin’. Bucket ‘bucket’ does not exist."

[2016-07-07 16:48] krishnasrinivas commented on #2072
In that case what is happening is:

[code]

here, we `continue` only for errDiskNotFound and errFaultyDisk. But we get errVolumeNotFound
because `rm -rf /mnt/p8/fs1/export12/*` does not remove export directory, just the bucket directory.

[2016-07-07 17:05] vadmeste commented on #2087
Please reopen as this bug is still there due to a regression.

[2016-07-07 17:12] hackintoshrao commented on #2087
Can a server side functional test be added to catch this so that there's no regression.

[2016-07-07 17:49] harshavardhana commented on #2087
Yes very simple.

[2016-07-07 17:58] harshavardhana commented on #2127
The interesting part here is 'xl-exports/disk3' still exists but '.minio' is missing. This leads back to the same conundrum of knowing new disks v/s something odd that happened.

[2016-07-07 18:15] balamurugana commented on #2077
I have investigated this issue and evaluated benchmarks `BenchmarkPutObject25MbFS` and `BenchmarkPutObject25MbXL`.

When I do memprofile for those test, below is the report
- FS

[code]
- XL

[code]

Based on the above, its clear that benchmark itself takes more allocation.

It looks like this is not a valid issue.

[2016-07-07 18:17] harshavardhana commented on #2077
Understood, makes sense . Closing.

[2016-07-07 18:17] #2077 closed, assigned to balamurugana