[2018-05-27 20:55] ulm0 commented on #5965
Great, thank you so much!

May 26, 2018 11:19 PM, "Harshavardhana" <notifications@github.com (mailto:%22Harshavardhana%22%20<notifications@github.com>)> wrote:
	This looks like we are using 64bit atomic load which will panic on 32bit systems like raspberry pi 3, will send a fix.

	—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub (https://github.com/mi

[2018-05-28 07:16] nitisht commented on #5983
you can @darron1217 . Please check this out https://github.com/minio/minio/blob/master/docs/gateway/nas.md

[2018-05-28 07:17] nitisht commented on #5938
@hatt any progress here?

[2018-05-28 07:53] darron1217 commented on #5983
I saw that doc.
I guess minio supports converting NFS -> S3 interface.
But I wanted to know that does minio supports S3 -> NFS conversion

[2018-05-28 07:54] nitisht commented on #5983
No, Minio only provides S3 interface.

[2018-05-28 07:55] darron1217 commented on #5983
Okay now it seems clear for me :)

Thanks

[2018-05-28 07:55] #5983 closed, assigned to nobody

[2018-05-28 08:31] Praveenrajmani commented on #5924
Hi @abraarsyed ,
Yes there should be a classification here in the doc, Feel free to send a PR.
And on the second , there should be a leading `mc config host add` before the `mc events add` in the doc.
Thanks for your inference .

[2018-05-28 09:23] fortunto2 opened #5985 "Add to event custom meta info"
Hi, thanks for Minio.
But how add custom data (myID)  from Front to events response in RabbitMQ
to there

[code]

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-05-28 15:51] nitisht commented on #5985
@fortunto2 if I understand correctly, you're adding custom metadata to an object and want the metadata  be accessible in eventData pushed to RabbitMQ?

[2018-05-28 15:57] fortunto2 commented on #5985
yes, it's possible?)

[2018-05-28 16:05] nitisht commented on #5985
Its not possible to get the metadata directly in RabbitMQ, you'll have to issue a `headObject()` request to Minio server after you get the notification in RabbitMQ. The `headObject()` response will have the custom metadata

[2018-05-29 04:29] hatt commented on #5938
Hi @nitisht, I've been a bit busy with life so apologies for the slow response. I ran the image you sent me and the only log output was a message about trying to connect, could definitely be a network problem:

    Trying to connect to host : minio-qa-0.minio-qa.default.svc.cluster.local and time elapsed 99437619661726

[2018-05-29 04:33] nitisht commented on #5938
No problem, thanks for the response @hatt . Yes, looks like pods are not able to talk to each other.

[2018-05-29 04:38] hatt commented on #5938
Great, that's progress then. Any idea how I could get some more details on the actual problem? Normally I'd expect to see a log error like a timeout or DNS failure or similar.

[2018-05-29 04:44] nitisht commented on #5938
We don't timeout while waiting for the remote pod to respond, this is because there is no uniform/standard timeout number for platforms like Kubernetes - that can run on wide variety of hardware.

Also, DNS failure doesn't seem to be a cause as that would have been logged.

Can you try pinging one pod from another, and see if that works

[2018-05-29 07:48] yskopets opened #5986 "`Minio Gateway` should expose `Prometheus` metrics similarly to `Minio Server`"
## Expected Behavior

`Minio Gateway` should expose `Prometheus` metrics similarly to `Minio Server`.

## Current Behavior

While `Minio Server` exposes `Prometheus` metrics on `/minio/prometheus/metrics`, it happens that `Minio Gateway` doesn't.

## Possible Solution

When configuring `Minio Gateway` on start up, add a `Prometheus` endpoint `/minio/prometheus/metrics` similarly to `Gateway Server

[2018-05-29 08:00] yskopets commented on #5986
Please see Pull Request https://github.com/minio/minio/pull/5987

[2018-05-29 18:06] deekoder commented on #5986
What a great idea! Thanks for the PR @yskopets

[2018-05-30 10:57] nitisht commented on #5986
fixed by #5987

[2018-05-30 10:57] #5986 closed, assigned to yskopets

[2018-05-30 10:58] nitisht commented on #5985
@fortunto2 closing this as answered, feel free to comment / join us on [Slack](https://minio.slack.com/) for further questions

[2018-05-30 10:58] #5985 closed, assigned to nitisht

[2018-05-30 11:32] bensquire commented on #5886
@krishnasrinivas The issue was the typo as you suggested, thanks muchly for the assist!

[2018-05-30 11:32] #5886 closed, assigned to krishnasrinivas

[2018-05-30 12:25] bensquire commented on #5973
@Praveenrajmani  @deekoder I'm going to close this for now, because although I can replicate it locally, I believe something funky is going on with our own setup. If I come up with something definitive, I'll open a new issue with more detail.

Thanks for the help and sorry to waste your time.

[2018-05-30 12:25] #5973 closed, assigned to balamurugana

[2018-05-30 12:27] nitisht commented on #5972
Fixed by https://github.com/minio/minio/pull/5992

[2018-05-30 12:27] #5972 closed, assigned to nobody

[2018-05-30 12:57] ptemmer opened #5993 "Incorrect error message when using smaller than expected disk size"
When assigning a volume < 2GB as data folder in a standalone deployment, Minio errors out with the following message:

[code]

## Expected Behavior

A more appropriate error message should be displayed.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. Use the Kubernetes deployment file generated by https://www.minio.io/kubernetes.html and change the volume size to 1

[2018-05-30 14:50] ordahan opened #5994 "Minio backend is killed by OOM under heavy load with errors"
## Expected Behavior

Minio should keep a pretty stable memory footprint regardless of the user IO pattern, it should not leak / accumulate memory when presented with a lot of requests that subsequently fail due to bad server / client network.

## Current Behavior

After about a minute in which minio got a lot of invalid PUT requests, the kernel killed the process because it used too much memory (

[2018-05-30 16:48] reinaldocoelho opened #5995 "Error when PresignObject on AWS-S3"
I have an AWS-S3 bucket on us-west-2 region, but when I request a PresignObject and open the URL, I receive an invalid us-east-1 region error.
This error occours only when running over AWS-S3, local Minio Server don´t present error.

## Expected Behavior
Is expected to when I get an PresignObject url, that this url open the object without error, to show or download.

## Current Behavior
When I cal

[2018-05-30 23:29] magaldima commented on #5725
The previous worked on Minikube, but now I'm having an issue with this on a Kubernetes cluster in a pre-production environment. I do not have access to the cluster's docker daemon and as you mentioned the `minioConfig` values are not honored. This means that I cannot configure any bucket notifications.

Is there anyway for the minio server to pick up the configuration change after startup?

[2018-05-31 13:16] miketonks opened #5997 "Remove huge number of log messages"
## Expected Behavior

In distributed mode, when a disk is offline, we see a message in the logs saying disk is offline.

## Current Behavior
In distributed mode, when a disk is offline, we see hundreds or thousands of error messages, often with the same timestamp.

## Possible Solution
Remove duplicate logs messages, or don't log these errors is a disk is known to be offline.

## Steps to Reproduc

[2018-05-31 22:44] poornas commented on #5995
@reinaldocoelho , this is a bug with minio  .NET sdk, will be fixing this shortly.

[2018-05-31 23:56] deekoder commented on #5956
Closing now as won't fix and moving it to new ux milestone for activation after we clear our current backlog.

[2018-05-31 23:56] #5956 closed, assigned to nobody

[2018-05-31 23:57] harshavardhana commented on #5994
@ordahan could you share the reproducer script or tool?

[2018-06-01 07:39] harshavardhana commented on #5304
@deekoder we can close this since OCI (Oracle Cluster Infrastructure) we might not work on this feature in near future.

[2018-06-01 08:08] nitisht commented on #5169
@pauln will it be possible to get in touch with you regarding couple of questions on your `tusd` deployment

[2018-06-01 09:21] akaFalsh commented on #5304
Can I take this issue? I had started some development.

On Fri, Jun 1, 2018, 09:39 Harshavardhana <notifications@github.com> wrote:

[2018-06-01 09:24] harshavardhana commented on #5304
Feel free to send a PR @akaFalsh , once you have finished please validate with https://github.com/minio/mint

[2018-06-01 10:18] akaFalsh commented on #5304
Thanks

On Fri, Jun 1, 2018 at 11:24 AM Harshavardhana <notifications@github.com>
wrote:

[2018-06-01 13:32] miketonks opened #6000 "Unable to heal deleted files in distributed mode"
## Expected Behavior
In distributed mode, when a node is taken out of the cluster for maintenance or due to outage, the node can be returned to the cluster and healed using the Heal API.

After healing, cluster should be restored to 100% Green state.

## Current Behavior

If a file has been deleted from Minio while a node was offline, the heal result will report Grey for that file.  Heal status ca

[2018-06-01 16:44] harshavardhana commented on #6000
What was the exact command used to heal ?

[2018-06-01 19:04] deekoder opened #6001 "Update User Agent String in Minio Gateway mode for Azure."
As per Microsoft's requirements :
1. Set user agent string in minio when running in gateway mode and uses blobstore.
2. Use the azure partner tagging api when minio running is using blob store as the backend.

[2018-06-01 22:40] harshavardhana opened #6004 "[regression] NAS gateway bucket policy doesn't load from disk anymore"
## Expected Behavior
NAS gateway was designed to always load from disk, this changed in the PR

[code]

## Current Behavior
NAS gateway has regression now related to bucket policies

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Build the master and run the following steps.

Start two gateway instances on port 9001, 9002
[code]

Now going back to the commit before the offending c

[2018-06-02 00:26] balamurugana commented on #6004
Wondering how it was done previously in a disconnected minio servers.  Do they periodically load the policy of all buckets?

[2018-06-02 00:26] harshavardhana commented on #6004
This is only for NAS gateway @balamurugana - NAS gateway used to read policies always from the disk

[2018-06-02 00:35] balamurugana commented on #6004
Do you say previously bucket policy evaluation for a request was done by reading policy from the disk always in FS?

[2018-06-02 01:03] harshavardhana commented on #6004
yes both in FS and Gateway NAS @balamurugana this functionality was already there and released.

[2018-06-03 10:34] denisdefreyne commented on #5970
I’m running into problems with the `listObjects` API too. Here’s the request/response:

[code]

(Slightly reformatted for readability.)

This request is made by [Transmit](https://panic.com/transmit/), which supports Amazon S3. However, Transmit does not like this response (see [this Twitter thread](https://twitter.com/ddfreyne/status/1003220481724559361)), and I don’t know why.

[2018-06-03 10:35] denisdefreyne commented on #5970
(This might be a separate issue, and perhaps a bug in Transmit.)

[2018-06-03 16:29] fviard opened #6008 "Regression: Minio returns garbage when doing a GET ...?acl request"
I have s3cmd automatic test that is running on travis-ci using Minio.
Usually, Minio is downloaded once and cached, so not often updated.

On my personal computer where I have the same issue, the automatic test was working with Minio version of the 22/11/2017.

So today Minio was updated and the test is not passing anymore.
More than that, the test is failing because for one request, minio is retu

[2018-06-03 18:04] straight-shoota opened #6009 "Document specifics of NAS gateway"
From the available documentation it is not clear what is the difference between `minio server /path` and `minio gateway Nas /path`.

I would appreciate if someone could explain this and enhance the docs accordingly.

[2018-06-03 19:58] harshavardhana commented on #6008
This is already fixed #5999 , will be available in the next release.

[2018-06-03 20:00] harshavardhana commented on #6009
NAS gateway is documented here

- https://github.com/minio/minio/blob/master/docs/gateway/nas.md
- https://minio.io/nas.html
- https://docs.minio.io/docs/minio-gateway-for-nas

[2018-06-03 20:03] harshavardhana commented on #5970
@ddfreyne the output seems to be correct what is the problem that you are facing??, please open a different GitHub issue for more clarity.

[2018-06-03 20:17] straight-shoota commented on #6009
Thanks, but I am aware of these documentation sites. However, I can't find any information there (or in any issues here on Github) how exactly `minio server` and `minio gateway nas` differ. It is my understanding that they behave pretty similar, but not exactly the same. #5569 suggests that for example, but doesn't state specifics.

[2018-06-03 20:23] harshavardhana commented on #6009
[code]

and

[code]

Currently, they share the same code base so also behave the same. But NAS gateway if necessary would diverge eventually from `minio server /path`. The reason we are not explaining is also that there is no difference from an application point of view. Both speak S3 APIs and both behave the same for S3 API operations.

[2018-06-03 21:50] fviard commented on #6008
Awesome, thank you.
I did look into existing issues but didn't check the recent commits.

[2018-06-03 21:50] #6008 closed, assigned to harshavardhana

[2018-06-04 10:19] sdjunaidali opened #6010 "ListObject API of aws s3 sdk not listing empty folders incase of minio, Working fine for aws s3 object store."
ListObjectsRequest API of aws s3 sdk not listing empty directory object for minio, Same working and listing all objects incase of s3 object store.

[2018-06-04 16:31] harshavardhana commented on #6010
Can you provide more information such as

- which language SDK was used ?
- can you provide a sample program ?

Please use the issue template next time, follow instructions on what information is expected.

[2018-06-04 19:48] zeysh commented on #5965
Hi @harshavardhana,

Same here. I try to compile minio for a Odroid-HC2.

`env GOOS=linux GOARM=7 GOARCH=arm go get -u github.com/minio/minio`

`Linux minio1 4.14.43-1-ARCH #1 SMP PREEMPT Wed May 23 01:02:31 UTC 2018 armv7l GNU/Linux`

But I have the same issue.

[code]

Many thanks for your help @harshavardhana

[2018-06-04 20:23] deekoder commented on #6009
@straight-shoota if you want high-level details, architecture etc, you could also go here https://minio.io/nas.html @straight-shoota when you run minio in the server mode, minio is your object storage, which is a full blown server and speaks S3 protocol.

When you use minio in the gateway mode, you can speak S3 and park your objects on any nas backend. You can also use regular POSIX to access your

[2018-06-04 21:07] harshavardhana commented on #5965
@lyderic this will be fixed by #6006

[2018-06-04 21:25] WolfspiritM opened #6011 "Presigned URLs don't work if accesskey contains special characters"
## Expected Behavior

Accessing the presigned URL generated for a file downloads or shows the file and shouldn't matter what value the access key is set to.

## Current Behavior

If access key contains for example "(" or "!" minio can create a presigned URL but accessing it shows a _**SignatureDoesNotMatch**_ error.

## Possible Solution

Possibly some issue with urlencode/decode?
If "special char

[2018-06-04 22:29] straight-shoota commented on #6009
Thanks for clarifying that 👍

If I understand you both correctly, `server` and `gateway nas` are similar and only differ in the semantics of data ownership: `server` expects that the data path is governed by minio exclusively while `gateway nas` is aware that the data is on a remote storage and may be accessed and changed by different means. However, this semantic difference doesn't matter practic

[2018-06-05 00:29] kannappanr commented on #6011
@WolfspiritM Thanks for filing this issue. I was able to reproduce the bug when I used browser UI. `mc` client was able to create a URL that had the special characters escaped when the presigned URL was generated, so I did not observe the error there. On slack you had also mentioned that it failed with SDK, can you let us know which SDK you used? We will send in a fix very soon.

[2018-06-05 00:32] WolfspiritM commented on #6011
@kaankabalak Thanks! I was using the .NET SDK which failed. Maybe that's the reason why I did think it worked before as I was using the node sdk before and that seemed to work fine.

[2018-06-05 05:15] sdjunaidali commented on #6010
I was using aws s3 sdk for C++

Following is the sample program :+1:
#include <aws/core/Aws.h>
#include <aws/s3/S3Client.h>
#include <aws/s3/model/ListObjectsRequest.h>
#include <aws/s3/model/Object.h>

/**
 * List objects (keys) within an Amazon S3 bucket.
 */
int main(int argc, char** argv)
{
    Aws::SDKOptions options;
    Aws::InitAPI(options);
    {
        if (argc < 2)
        {

[2018-06-05 09:22] zeysh commented on #5965
Hi @harshavardhana,

Works like a charm :+1:  !

Thanks you and have a nice day.

[2018-06-05 11:43] blackholegalaxy opened #6014 "Kubernetes secret file environment variable ignored at minio start"
When running minio on kubernetes and using secrets, we have to define a sub path within `/run/secrets` as kubernetes prevents us to place secrets files at this secrets root path.

We setup our secrets to be placed at:
`/run/secrets/minio/access_key`
`/run/secrets/minio/secret_key`

## Expected Behavior
Defining the environment variable `MINIO_ACCESS_KEY_FILE` and `MINIO_SECRET_KEY_FILE`, minio sho

[2018-06-05 14:28] nitisht commented on #6014
@blackholegalaxy you can use `MINIO_ACCESS_KEY` & `MINIO_SECRET_KEY` variables and set the values in these variables using this https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables

[2018-06-05 15:51] ordahan commented on #5994
@harshavardhana I can't share my reproduction here as its not a simple script but its a test suite running a full blown storage system.

I think that by hacking the `mc` tool Its possible to recreate it, I believe the issue will get reproduced by uploading an object and closing the connection forcefully from the client side before the server completes the action (i.e almost 0 timeout in the client

[2018-06-05 17:48] #6011 closed, assigned to harshavardhana

[2018-06-05 18:26] deekoder commented on #6009
@straight-shoota  correct. Great. I will close this issue as working as intended. Please feel free to come over to our slack channel https://slack.minio.io/ and come chat with us there. We hang there a lot and can answer questions instantly.

[2018-06-05 18:26] #6009 closed, assigned to nobody

[2018-06-05 18:31] deekoder commented on #6004
Changing assignees since @krishnasrinivas  sent the PR #6007

[2018-06-05 18:32] deekoder commented on #6000
ping @miketonks. Please can you tell us the exact heal command you typed in.

[2018-06-05 18:34] deekoder commented on #6001
Fixed by #6002

[2018-06-05 18:34] #6001 closed, assigned to krishnasrinivas

[2018-06-06 03:22] kaankabalak opened #6019 "NewUX: Reserve file icon click for Preview feature and select files by only clicking on file name"
## Expected Behavior

* When the user clicks on the icon next to the filename, the preview for that file will be displayed on a separate modal. For now, until the preview feature is implemented, a click on the icon will not do anything.
* When the user clicks on the filename, that file will be selected (and the blue menu will open up from the top).

## Current Behavior

* When the user clicks on t

[2018-06-06 07:18] denisdefreyne commented on #5970
@harshavardhana This indeed appears to be an unrelated problem — and possibly not related to Minio. I’m in touch with Panic to figure out the problem that Transmit is having; if it turns out to be a problem on the Minio side, I’ll open a separate issue.

[2018-06-06 19:45] krishnasrinivas opened #6021 "Should print error before exiting for disk permission errors"
Minio does not print error message and just exits if it does not have permission to the backend disk.

[code]

i.e no error message, it just exits.

## Expected Behavior

Print proper error message.

## Current Behavior

No error message, minio just exits.

[2018-06-07 15:45] si458 opened #6025 "multipartupload invalid byte: U+0057 'W' with rclone"
## Expected Behavior

i was expected to be able to copy a file using rclone

## Current Behavior

it doesnt upload this one file correctly, just throws an error

## Possible Solution

## Steps to Reproduce (for bugs)

1. upload file using rclone

## Context

## Your Environment

* Version used (`minio version`): latest on docker
* Environment name and version (e.g. nginx 1.9.1): docker
* Server ty

[2018-06-07 18:27] harshavardhana commented on #5793
This is fixed by #5840

[2018-06-07 18:27] #5793 closed, assigned to balamurugana

[2018-06-07 18:32] harshavardhana commented on #5290
The PR is merged and this issue should be fixed as of #5840

[2018-06-07 18:32] harshavardhana commented on #5639
The PR is merged and this issue should be fixed as of #5840

[2018-06-07 18:32] harshavardhana commented on #5092
The PR is merged and this issue should be fixed as of #5840

[2018-06-07 18:32] harshavardhana commented on #4887
The PR is merged and this issue should be fixed as of #5840

[2018-06-07 18:49] #5290 closed, assigned to vadmeste

[2018-06-07 18:49] #5639 closed, assigned to vadmeste

[2018-06-07 18:57] #5092 closed, assigned to vadmeste

[2018-06-07 18:58] #4887 closed, assigned to fwessels

[2018-06-07 19:02] #6019 closed, assigned to nobody

[2018-06-07 19:24] harshavardhana commented on #6021
This is fixed in master

[code]

[2018-06-07 19:24] #6021 closed, assigned to nobody

[2018-06-07 19:27] roelio commented on #5092
Awesome work guys :100:

Will give it another try soon :+1:

[2018-06-07 20:33] deekoder opened #6026 "Unable to click into folder in browser UX in the latest release"
Install Minio latest release or source. Start the server. Open browser. Create a bucket and put some prefix/objects in it.
Double-clicking on the folder does not take you inside the folder.

## Expected Behavior
 Double-clicking on the folder should take you inside the folder in the minio browser.

## Current Behavior
Nothing happens on double clicking.

## Possible Solution

## Steps to Reproduce

[2018-06-07 20:34] #6004 closed, assigned to krishnasrinivas

[2018-06-07 20:35] alirezastack opened #6027 "Metadata is not saved with object using Python SDK"
## Expected Behavior
* Metadata should be saved with object.

## Current Behavior
* Given metadata is not stored:

[code]

Object is stored successfully, now when I get metadata information as below:
[code]

Last line that logs information reports that:

`{'last_modified': time.struct_time(tm_year=2018, tm_mon=6, tm_mday=7, tm_hour=20, tm_min=14, tm_sec=17, tm_wday=3, tm_yday=158, tm_isdst=0), 'ob

[2018-06-07 20:36] deekoder commented on #5997
In the process of fixing this.

[2018-06-07 20:37] deekoder commented on #6027
Will look into it @alirezastack

[2018-06-07 20:37] alvarollmenezes commented on #6004
Hello @deekoder, I was waiting for this issue to be closed.

Should it be fixed in todays release (RELEASE.2018-06-07T19-10-07Z)?

[2018-06-07 20:46] harshavardhana commented on #6004
Yes @alvarollmenezes the fix is to reload the new policy every 5 minutes if needed.

[2018-06-07 20:52] kannappanr commented on #6025
@si458 Is there a proxy in between rclone and minio? Looking at the error, the etag that is being passed to minio server from one of the parts has an invalid E-Tag, maybe it is a weak E-Tag and it is not supported in S3. Can you create a HTTP trace for minio server when you put this particular file and paste on this issue?

Turning on HTTP tracing for minio server is explained in https://github.co

[2018-06-07 20:53] alvarollmenezes commented on #6004
Thank you all very much. 👍

[2018-06-07 20:59] si458 commented on #6025
I am indeed using caddy with simple ‘proxy / 127.0.0.1:8000’
So not sure why it would be that but will investigate it in the morning

[2018-06-08 03:43] #6026 closed, assigned to kaankabalak

[2018-06-08 14:00] magaldima commented on #5725
can we reopen this? not being able to configure the minio server seems like an issue worth looking further into a better solution.

[2018-06-08 15:11] nitisht commented on #5725
sure @magaldima could you explain the problem

[2018-06-08 17:19] kannappanr commented on #6025
@si458 Were you able to investigate this issue, can you please update the issue if you did?

[2018-06-08 17:23] si458 commented on #6025
I have been out the office all day and weekend, so I won’t have change to look at it til Monday, if I get chance before then I will update you :)

[2018-06-08 18:00] harshavardhana commented on #5994
I tried reproducing with the following script which would throw 3000 requests in parallel

[code]

[code]

I ran it overnight on a distributed setup. I am not able to crash the server, the memory usage also doesn't grow more than 0.3% to 2% of the overall RAM this system has.
[code]

I have a few more questions here

- Were the requests that were sent signed already? or was it an anonymous PUT ope

[2018-06-08 18:29] kannappanr commented on #5970
@pospelov-v do you have any updates on this issue? Were you able to reproduce the issue and generate the logs?

[2018-06-08 22:33] poornas commented on #6010
@sdjunaidali , can you try setting ```config.scheme = Aws::Http::Scheme::HTTP;``` in the config?  By default aws-sdk-cpp uses https. I tested this on localhost and lists objects when scheme is set correctly.

[2018-06-08 22:55] harshavardhana commented on #5314
Fixed #5501

[2018-06-08 22:55] #5314 closed, assigned to harshavardhana, nitisht

[2018-06-09 02:52] harshavardhana commented on #5994
After some more testing, I can see why the memory usage goes up. The usage is an effect of how erasure coding needs to allocate a buffer even if the body is empty.  While this is not a leak - on a larger system like ours where we have 64GiB of memory I can see the memory usage with 1000 connections in parallel repeated for around 1000 times - each process goes to 10GiB. Golang GC is notorious for

[2018-06-09 06:11] nitisht commented on #6014
@blackholegalaxy closing this as answered, feel free to get back if there are further issues.

[2018-06-09 06:12] nitisht commented on #5981
@ParasRocks what is the error you're getting

[2018-06-09 20:12] devinmartin commented on #5305
I can certainly appreciate keeping Minio a "single responsibility" micro-service. Minio is responsible in my mind for storage durability and availability.

Seems to me, a good approach would be to create a second gateway that implements the S3 api's as well, but does nothing more (I realized this is complicated) than emulate multi-tennant IAM style policies. It has the single root keys to Minio st

[2018-06-10 07:16] harshavardhana commented on #5305
We are already implementing IAM style OpenID connect with client grants as part of Minio, which would provide a way to associate rotating keys with your resources such as bucket and object.  Perhaps even apply policies on each call as well. @devinmartin

[2018-06-11 07:37] wd256 opened #6032 "[gateway/s3] list-objects-v2 request with start-after parameter fails"
## Expected Behavior

When making a `list-objects-v2` request with the `start-after` parameter set I expect the server to respond with a list of key names starting after the provided `start-after` value.

## Current Behavior

The current behaviour when a `list-objects-v2` request is made with `start-after` set is for a 500 error response to be returned and a "The continuation token provided is inc

[2018-06-11 16:22] limbo127 opened #6034 "S3 and slash object"
hello,
it seems that's minio does not deal with / object of aws s3 key.
When we mirror with mc client from S3 bucket to minio server , our client and sdk java , seems to have problem with the fact that /  ( in directory path)   bucket/test/test1 ) is not considered as object by minio server ?
regards,
Nicolas PRochazka

[2018-06-11 16:27] harshavardhana commented on #6034
Yes, it is not an object @limbo127 "/" is simply a delimiter on a filesystem. It is not just Minio if you simply use aws cli you won't be able to preserve the "/"

[2018-06-11 19:28] araujof commented on #6027
I think I'm observing a related, but different problem. In my case, I pushed some objects with additional metadata into minio, which I can verify using the mc client:
[code]
However, when trying to stat the same object via the Python SDK, the metadata dictionary returns empty. Here is a printout of the `obj` returned by the Python client:
[code]
Is this a bug in the Python SDK, or I'm missing some

[2018-06-11 19:31] limbo127 commented on #6034
I do not understand
Minio server or minio client transpose valid object key names from s3 as a directory structure on file system, by using / as tree structure, how preserve / in object naming

[2018-06-11 19:54] harshavardhana commented on #6034
@limbo127 please read this explanation https://github.com/minio/minio/issues/5874#issuecomment-385766704

[2018-06-11 19:55] harshavardhana commented on #6034
@limbo127 and here https://github.com/minio/minio/issues/5874#issuecomment-385764617

[2018-06-11 21:30] thomasknauth commented on #5891
Excessive logging behavior creates gigantic log files that fill up the hard disk quickly. I'm seeing this with OpenWhisk which uses minio to some degree. With OpenWhisk this creates about 4MB of logging data every 10s.

[2018-06-11 21:31] harshavardhana commented on #5891
@thomasknauth would you mind opening a new bug, this issue is closed.

[2018-06-12 03:55] sdjunaidali commented on #6010
Tried with config.scheme = Aws::Http::Scheme::HTTP;

./list_object <bucket_name> <prefix>

example: ./list_object mybucket dir1/
*Where dir1/ is list object prefix and empty directory on object store *

I am getting ListObjects error with no proper error message using ,

std::cout << "ListObjects error: " <<
                list_objects_outcome.GetError().GetExceptionName() << " " <<

[2018-06-12 06:45] poornas commented on #6010
@sdjunaidali , It lists correctly even with a empty prefix with latest minio from master branch. Which version of minio are you using?
[code]

[2018-06-12 07:43] sdjunaidali commented on #6010
I am using default version from **curl -O https://dl.minio.io/server/minio/release/linux-amd64/minio**
Should I take the source from github and build minio from source?

# minio --help
NAME:
  minio - Cloud Storage Server.

DESCRIPTION:
  Minio is an Amazon S3 compatible object storage server. Use it to store photos, videos, VMs, containers, log files, or any blob of data as objects.

USAGE:
  min

[2018-06-12 10:39] miketonks commented on #6000
Heal is started from code in our go project.  We heal automatically when a node comes back online:

[code]

I can reproduce using command line tools.  minio6 is the node that was taken offline for the test.

[code]

I tried healing specific bucket and folder:
[code]

To confirm what's going on, I repeated the test after stopping our application which does the automatic healing.  First I stop node

[2018-06-12 12:00] alirezastack commented on #6027
Any update on the issue? Is the bug confirmed? Should I ask this on `minio-py` repo?

[2018-06-12 12:46] araujof commented on #6027
I glanced over the Python SDK code, and it looks like this is due to undocumented behavior.

When stating an object, the `stat_object` API performs the following check on the returned headers:
[code]
Looking at the helper function definitions, I now understand why my `X-Minio-Meta-Trace` metadata wasn't returned in the dictionary. However, this object (and metadata) was saved with the `fput_object

[2018-06-12 13:20] araujof commented on #6027
https://github.com/minio/minio-py/issues/662

[2018-06-12 17:16] poornas commented on #6010
@sdjunaidali, it should list correctly with the minio binary you downloaded. Are you running minio with tls? What's the error message that's displayed when list_objects fails?

[2018-06-12 18:04] ebozduman commented on #6027
I reproduced the issue with FS minio server. I am looking into it.

[2018-06-12 18:16] magaldima commented on #5725
See my previous comment:

[2018-06-12 18:34] ericvicenti opened #6036 "Minio JS client copyObject broken on Google Cloud Storage"
## Expected Behavior

copyObject should work on Google Cloud Storage

## Current Behavior

Google cloud throws a permission error "does not have storage.objects.get access" about a user who does have read access!

## Possible Solution

I don't have time to debug minio right now, instead I just switched to `@glcoud/storage`

[code]

## Steps to Reproduce (for bugs)

1. Set up minio with GCS storage

[2018-06-12 19:05] harshavardhana commented on #6034
Closing as won't fix for now.

[2018-06-12 19:05] #6034 closed, assigned to nobody

[2018-06-12 19:20] limbo127 commented on #6034
I believe every single client that supports creating empty directories on s3 uses this pattern.
as for example   goofys – FUSE S3 filesystem

They all create keys that end with a slash, have a ContentLength of 0 bytes and as such all have the ETag "d41d8cd98f00b204e9800998ecf8427e". The ContentType differs between clients, most use either "binary/octet-stream" or "application/octet-stream"

Pretty

[2018-06-12 19:47] msample opened #6037 "Enhancement: gateway to multiple GCS accounts"
I successfully used Minio as an S3 gateway to a GCS bucket in one account.  I would like to use it as a gateway to buckets in many different GCS accounts.    Given that bucket names are globally unique, if one provided a pluggable & queryable config storage of bucket name *--> credentials, and modified newObjectLayerFn to take the bucket name (where the operation is scoped to a single bucket or ac

[2018-06-12 22:14] deekoder commented on #6037
@msample  I am not sure if your endgoal is to get bucket level dns support. If so, can you look at this https://github.com/minio/minio/tree/master/docs/federation/lookup for reference. If not, then please ignore my note here.

[2018-06-12 22:27] msample commented on #6037
thanks @deekoder, federation isn't a good fit for my use case - e.g. imagine a set of identically configured Minio gateways behind a load balancer that could proxy to GCS for a dynamically configured set of buckets/accts.  Having one GCS acct per gateway process doesn't offer the type of efficiency I'm seeking.

[2018-06-12 22:31] donatello commented on #6000
As the object was deleted when minio6 was down, if minio6 is brought back up and heal is run, the part of the object that was in minio6 is detected - however, the rest of the object cannot be reconstructed, as it was cleanly deleted on the other servers.

The problem is that the server cannot distinguish between deleted files and file parts damaged due to disk corruption, and as minio only uses th

[2018-06-12 23:36] #5818 closed, assigned to poornas

[2018-06-13 13:56] felixbuenemann opened #6039 "Confusing "volume access denied" message when minio root contains files"
## Expected Behavior

`minio server` should not display errors if the minio root contains files.

## Current Behavior

If `minio server` is used to server random directories, eg. for local testing of an app that needs to talk to s3, it is often convenient to just run `minio server .` to serve the current directory.

However when one does this and the current directory contains files in addition to

[2018-06-13 19:28] harshavardhana commented on #5994
The following PR merged into master fixes this to some extent almost a factor 10x, but we do still need a more comprehensive fix. Which basically rate limits the overall connections based on the RAM size.

[code]

[2018-06-13 22:15] bovesan opened #6041 "Post multipart problem"
I am trying to upload files from dropzone.js, but all I get is this response:
`The body of your POST request is not well-formed multipart/form-data.`
Headers and body is pasted below, and I have also tried to send other bodies, but nothing seems to work. Is multipart/form-data supported at all?

[code]

[code]
Not sure why there's no closing boundary in this example, but it's there when I try bigg

[2018-06-13 22:34] harshavardhana commented on #6041
Would you paste any error message printed by the server @bovesan? could you also enable MINIO_HTTP_TRACE=/dev/stdout to get more information on the API call itself?

[2018-06-13 22:58] ebozduman commented on #6027
@alirezastack, @araujof,
Missing custom meta data issue has been already fixed in the latest [Python SDK 4.0.1 release](https://github.com/minio/minio-py/releases).
[code]
So, please upgrade and try it out again.

FYI:
I still see a similar problem with `"x-amz-storage-class"`metadata and that's why I thought I reproduced the issue with the latest  Python SDK, 4.0.1. I'll be still looking into it.

[2018-06-14 00:18] ebozduman commented on #6027
FYI
About `"x-amz-storage-class"` metadata tag: aws s3 also behaves the same way. Stat command does not return/support this metadata tag. It is only meaningful when putting objects. So, Minio is compatible with aws s3.

[2018-06-14 03:06] araujof commented on #6027
@ebozduman,

Thanks. As I explained in my previous comment, the custom metadata is stored if I define it with prefix `x-amz-meta`, _or_ even with prefix `x-mino-meta`, through the Python SDK function `fput_object`; the issue we describe arises when reading (stating) the metadata via the SDK: due to the check `is_amz_header(key)`, the custom metadata is not added to the metadata dictionary returned

[2018-06-14 06:05] bovesan commented on #6041
As far as I can see, MINIO_HTTP_TRACE is the same response/request:
[code]

[2018-06-14 08:42] harshavardhana commented on #5974
Closing this as won't fix for now.

[2018-06-14 08:42] #5974 closed, assigned to krishnasrinivas

[2018-06-14 08:50] harshavardhana commented on #5918
This is already fixed and released.

[2018-06-14 08:50] #5918 closed, assigned to Praveenrajmani

[2018-06-14 08:55] harshavardhana commented on #5907
Are you going to fix the documentation @vadmeste?

[2018-06-14 09:05] harshavardhana commented on #5649
Were you able to provide us this information @LukeDS-it? if we shall we close this issue?

[2018-06-14 09:16] harshavardhana commented on #5613
@krishnasrinivas should we close this?

[2018-06-14 09:17] harshavardhana commented on #5871
@balamurugana is this still a problem or should this be closed??

[2018-06-14 09:17] harshavardhana commented on #5877
@vadmeste can this be tested again with latest master?

[2018-06-14 09:18] harshavardhana commented on #5902
is this still a problem @rgruyters - would you mind testing with latest release?

[2018-06-14 09:19] #5871 closed, assigned to nobody

[2018-06-14 09:23] #5509 closed, assigned to krishnasrinivas

[2018-06-14 09:25] #5277 closed, assigned to donatello

[2018-06-14 09:27] harshavardhana commented on #4978
This has been fixed already with multiple refactors closing.

[2018-06-14 09:27] #4978 closed, assigned to poornas

[2018-06-14 09:30] harshavardhana commented on #3521
We have moved away from these requirements - GetObject takes ETag to ensure that we send the right data if not we error out if the data changed.

[2018-06-14 09:30] #3521 closed, assigned to nobody

[2018-06-14 09:31] harshavardhana commented on #2991
Notification subsystem and policy subsystem has been fully refactored, this situation is handled more cleanly now.

[2018-06-14 09:31] #2991 closed, assigned to donatello

[2018-06-14 09:36] harshavardhana commented on #6000
Currently, this is not implemented as @donatello suggested since implementing this requires us to be extra careful we had moved this for future implementation.  We will have to discuss this internally and will propose a solution here.

[2018-06-14 09:38] harshavardhana commented on #6041
Would you mind providing the test program as well?

[2018-06-14 09:46] harshavardhana commented on #6041
I used a simple `curl` program and it seems to be working file

[code]

[2018-06-14 09:48] harshavardhana commented on #6041
With signature v2

[code]

[2018-06-14 09:49] harshavardhana commented on #6041
I see now you are missing `bucket` name i.e

[code]

[2018-06-14 10:10] bovesan commented on #6041
Including bucket name does not make a difference, neither does sending a similar request with curl:
[code]
The client and policy generator is based on this post: https://www.flynsarmy.com/2018/03/uploading-directly-to-amazon-s3-with-dropzone-and-php/

[2018-06-14 10:15] bovesan commented on #6041
BTW: Minio is running in Docker. Excerpt from inspect:
[code]

[2018-06-14 10:35] harshavardhana commented on #6041
I ran the same version here is my output

[code]

[code]

I am sure there is a bug in the client library that is being used here. Would you be able to provide a full working example for us to test and validate?

[2018-06-14 10:37] harshavardhana commented on #6041
I am not sure why your client is adding an additional content-type, which is not needed. Would it be possible to remove this?

[2018-06-14 10:54] bovesan commented on #6041
I can remove the extra (first) one, but it makes no difference.

[2018-06-14 11:00] bovesan commented on #6041
And here is my full curl test:
[code]

[2018-06-14 19:25] ebozduman commented on #6027
@araujof,
But our fix in Python SDK 4.0.1 already appends the prefix `x-amz-meta` if custom/unsupported metadata is provided by the caller. Please see the  change log excerpt I added in the above comment, or the latest version of the helpers.py file.
[code]

So, if metadata is provided as:
[code]
the output of stat_object api returns the newly renamed custom metadata:
[code]
We definitely need to

[2018-06-14 19:30] harshavardhana commented on #6027
Closing this issue as fixed for now.

[2018-06-14 19:30] #6027 closed, assigned to ebozduman

[2018-06-14 22:08] #6032 closed, assigned to nitisht

[2018-06-15 00:04] donatello commented on #6036
If you are using the minio server as a gateway, could you specify the version of minio you are using? From the above description it is not clear if the issue is in the JS client library or in the minio server itself.

[2018-06-15 00:04] deekoder commented on #6037
ok @msample we will consider this for the future. We close this issue in the future milestone and reactivate them as we make enhancements in the future.

[2018-06-15 00:04] #6037 closed, assigned to nobody

[2018-06-15 05:57] zetaab commented on #6010
I have problems that minio is not listing directories that it does in AWS. It is listing only directories that is empty.

Example (create following dir structure to minio):
[code]

[code]
Listing everything
[code]

The output in minio:
[code]

The output in aws:
[code]

I am using minio/minio:latest docker container

I created own issue for this #6047

[2018-06-15 06:05] zetaab opened #6047 "Minio is listing only directories as object which is empty"
I have problems that minio is not listing directories that it does in AWS. It is listing only directories that is empty.

## Expected Behavior

Expected Behavior is same that aws does

The output in aws:
[code]

## Current Behavior

The output in minio:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

create following dir structure to minio:
[code]

[code]
Listing everything
[code]

[2018-06-15 06:08] sdjunaidali commented on #6010
@poornas yes i am running minio with tls, everything is working fine, just the list object is giving issue,

ListObjects error with no proper error message ,

I am using following to print error message in case of error scenario,

std::cout << "ListObjects error: " <<
list_objects_outcome.GetError().GetExceptionName() << " " <<
list_objects_outcome.GetError().GetMessage() << std::endl;

[2018-06-15 06:26] harshavardhana commented on #6047
This is expected, we cannot provide AWS S3 like behavior in this matter. We use POSIX hierarchy to simulate the directory tree structure. To provide for flat namespace we had to ensure this translation stays.

- The directory is shown only if it has no files in it.
- The directory is flattened out if it has more than 1 files in it.

It is advisable and recommended to stop using empty directories a

[2018-06-15 09:36] deadlylaid commented on #1025
hi @harshavardhana
thanks for your solution
but I have just one question, can I use RabbitMQ with boto3?

like

[code]
because I want using staging service minio + RabbitMQ (real service is S3+SQS)

[2018-06-15 18:00] kannappanr commented on #6047
@zetaab #6010 issue is about not listing an empty directory, which is not the case in this issue. Based on comments by @harshavardhana I am closing this issue as it is working as intended.

[2018-06-15 18:00] #6047 closed, assigned to nobody

[2018-06-18 10:43] ordahan commented on #5994
Hey @harshavardhana sorry for the very late response, I was on vacation for the last 10 days.

After the PR is merged to master, when can I expect it in a release version that I can test? If not, where can I install the `master` version from? (currently my script downloads from https://dl.minio.io/server/minio/).

Regardless, I'll answer the above questions for documentation purposes:
* Requests w

[2018-06-18 15:24] vadmeste commented on #5877
I am still seeing the problem using the script pasted above (btw, I fixed one little bug in it).

Other nodes, which have the correct credentials will work normally together and will ignore the only node that has the wrong credentials. So I guess we need to print more detailed log about the error in the node that has wrong credentials.

[code]

[2018-06-18 18:43] #6039 closed, assigned to kannappanr

[2018-06-18 20:57] harshavardhana opened #6051 "[gateway] [s3/azure] Do not successfully complete mint tests in FULL mode"
** not using the template style on purpose **

Mint full mode fails with S3 gateway and Azure under `minio-go` functional tests.
[code]

This is consistent and happens on all PRs

[2018-06-18 21:03] deekoder commented on #6051
blocking release.

[2018-06-18 22:40] vadmeste commented on #5907
Fixed by https://github.com/minio/cookbook/pull/221, closing this.

[2018-06-18 22:40] #5907 closed, assigned to Praveenrajmani

[2018-06-18 23:45] kannappanr commented on #6025
@si458 please let me know if you were able to investigate the issue?

[2018-06-18 23:47] kannappanr commented on #5997
@miketonks  Thanks for filing this issue. Will try to send a PR to fix this issue by end of this week.

[2018-06-19 00:44] benyanke commented on #5199
Also agree - multiple access keys would be ideal for my use case as well.

[2018-06-19 00:50] benyanke commented on #4398
I'd also put in a plug for something like ZFS - this would allow transparent backups using snapshots. Also provides transparent checksums for bitrot protection, as well as transparent compression.

[2018-06-19 06:46] giezi commented on #6025
Hi @kannappanr @si458

We encounter exactly the same issue with minio and are also using a Caddyserver as a proxy in front to terminate the https connections on the same machine:

`Time: 05:36:49 CEST 06/19/2018
RemoteHost: 127.0.0.1:54608
UserAgent: Minio (amd64; amd64) minio-java/dev
Error: [31m[1mencoding/hex: invalid byte: U+0057 'W'[0m[0m
       1: cmd\object-api-utils.go:186:cmd.getCompl

[2018-06-19 10:50] wd256 opened #6052 "[gateway/gcs] max-keys not enforced for list-objects-v2 requests"
## Expected Behavior
When making a `list-objects-v2` request with the `max-keys` parameter set I expect the server to respond with a list of keys no greater in length than the provided `max-keys` value.

## Current Behavior

The current behaviour is for minio to return all keys in the bucket regardless of the `max-keys` value specified.

## Steps to Reproduce (for bugs)

1. Prepare a bucket on Goo

[2018-06-19 16:27] dmpriso opened #6053 "NATS event notifications are not removed"
## Expected Behavior
When removing a NATS bucket notification and afterwards performing an appropriate bucket operation, no NATS message should be published

## Current Behavior
Bucket notification is removed successfully, but NATS message is still published.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Start ```gnatsd --trace``` and watch for messages here
2. Configure & start mini

[2018-06-19 18:27] deekoder commented on #6053
we'll look into this.

[2018-06-20 09:38] wd256 commented on #6032
Testing with master (commit: 670b538dde78ce28f09b7be83f787722ccabca59) the issue is still present.  `ListObjectsV2Handler` will also need an update to not use `start-after` as a `continuation-token`.

[2018-06-20 11:11] ordahan commented on #5994
Hey @harshavardhana let me know if this should go in a separate issue but I tested the fix (using the https://data.minio.io:10000/release-minio/staging/DEVELOPMENT.2018-06-20T08-07-36Z/linux-amd64/minio binary) and now instead of crashing on OOM, the Minio cluster stops being responsive, emitting 500 errors:
[code]
and I dug a bit in the syslog, I got these sort of errors:
[code]

Its possible tha

[2018-06-20 15:39] harshavardhana commented on #5994
500 errors are what would be expected since the body is smaller than the content-length and you are correctly looking at unexpected eof.

What does the application expect as an error ?

[2018-06-20 16:22] racorretjer opened #6056 "Credentials not picked up by config file for gateway nas"
I'm attempting to run minio with the gateway nas command and the -C <config_dir> option. The config dir contains a config file which describes the desired credentials and other settings for my minio server. Running this with the `minio server` command works just fine, however, not for `minio gateway nas`.

## Expected Behavior
Running `minio gateway nas -C /etc/minio /my/nas` should start the mini

[2018-06-20 16:34] harshavardhana commented on #6056
Gateway nas doesn't support config.json on purpose you only need to set access and secret keys for gateway mode.

[2018-06-20 17:47] kannappanr commented on #6025
@giezi We will try to reproduce the issue here. Can you confirm that for the same file, you do not see this issue if you do not use caddy server?

[2018-06-20 18:09] moonlitSpider opened #6058 "Questions: distributed minio and replication"
Hello,

I'm trying to better understand a few aspects of distributed minio.

1. Do nodes in the cluster replicate data to each other?
2. Does each node contain the same data (a consequence of #1), or is the data partitioned across the nodes?
3. Why the caveat "Servers running distributed Minio instances should be less than 3 seconds apart"?

Thank you.

[2018-06-20 18:11] harshavardhana commented on #6058
Cluster uses erasure coding i.e stream is sharded across all nodes

Partitioned data

This is to ensure that all servers are running on the same UTC time, we prefer homogenous servers.

[2018-06-20 18:15] moonlitSpider commented on #6058
Thank you, harshavardhana, for the quick response.

Am I right to think that the use of erasure coding is seen as a "replacement" (so to speak) for replicating the data, i.e., as a perhaps simpler form of data redundancy?

[2018-06-20 18:40] racorretjer commented on #6056
So, I take it that the -C option is available to the cli for the certificates and such?

[2018-06-20 18:49] harshavardhana commented on #6056
yeah, i.e true @racorretjer - we will need to revisit this for nas gateway especially. Will get back to you on this.

[2018-06-20 18:51] harshavardhana commented on #6058
Yes, you are correct, erasure coding is a better way to provide data protection than replication, provides higher protection, higher performance with capacity usage equal to 2x replication.

[2018-06-20 19:08] moonlitSpider commented on #6058
Thanks again; things are getting clearer!

Can you explain what you mean by "capacity usage equal to 2x replication"?

While I see some of the benefits of erasure coding, it is not a DR solution is it? I suppose for that you'd recommend your mirror facility. If so, does that facility mirror at the cluster level or at the node level?

[2018-06-20 19:36] harshavardhana commented on #6058
Our default data and parity counts are equal i.e if you have N disks then our data and parity are both N/2 - in erasure coding parlance the effective data usage, for example, a 1Gi would be 2Gi effectively. This is equal to a 2x replication.  But with very very high redundancy i.e you can loose up to half of your disks and still recover data.

For DR you will be doing `mc mirror`.  Mirroring happe

[2018-06-21 04:55] nitisht commented on #5725
@magaldima We are adding configmap back to the helm chart https://github.com/kubernetes/charts/pull/6152
That should help you set config values

[2018-06-21 11:09] giezi commented on #6025
Hi @kannappanr

Many thanks for your answer.
We've tried to upload a file without Caddy and it works perfectly.
The issue exists only in combination with Caddy.

Best regards
Reto

[2018-06-21 11:30] moonlitSpider commented on #6058
Thank you, harshavardhana.

I think that your "endpoint to endpoint" means that mirroring happens at the node level, i.e., if I want to mirror the entire minio cluster to a remote site, then I need to do it node by node.

[2018-06-21 12:14] ematvey opened #6063 "Docs/cli help are unclear about DIR arguments"
Until today I was refraining from using minio as I found the way it combines peer specification unclear and was unable to find answer in the docs. Let me illustrate what was confusing to me:

1 server multiple disks setup:
```minio server /data1 /data2```
Everything is clear in this example.

Distributed multi-disk setup:
```minio server http://minio1/data1 http://minio1/data2 http://minio2/data1

[2018-06-21 12:32] cmdrrobin commented on #5902
@harshavardhana sorry for the delay, but yeah problem still exists:

[code]

[2018-06-21 12:35] cmdrrobin commented on #5902
@harshavardhana FYI, I use Docker image `minio/minio` with tag `RELEASE.2018-06-09T03-43-35Z`.

[2018-06-21 16:00] aead opened #6064 "logger.Critical{If} should not crash the server"
## Expected Behavior
AFAIK `logger.CriticalIf` replaces `panic` calls in our server.
Therefore - in my understanding - `logger.CriticalIf` should not crash the entire server. Instead it
should kill only the go-routine calling it - e.g. using `runtime.Goexit()`. On problem for example occurs
if you try to test that a certain non-recoverable code-path is hit. `os.Exit` causes the tests to terminate

[2018-06-21 16:23] harshavardhana commented on #6064
This was on purpose CriticalIf is not a replacement for panic() - logger functions are formatted output. So wherever it's being used it was considered okay to kill the whole server.

Go doesn't provide a way for writing formatted logging cleanly by also leveraging panic() like awareness. If we use panic() it would clutter the console output with no control on the actual mechanism.

[2018-06-21 16:28] harshavardhana commented on #6058
No endpoint to endpoint means cluster to cluster. Each endpoint has access to entire namespace.

[2018-06-21 16:31] moonlitSpider commented on #6058
Very good; thanks.

To me "endpoint" means IP:PORT so I was concerned about the "granularity" of the mirror.

So I think you're saying that the Minio client mirror facility can replicate the entire cluster to another cluster by means of a single source endpoint and a single destination endpoint.

[2018-06-21 16:47] aead commented on #6064
@harshavardhana I don't want to change the overall console printing. If you either catch the `panic` in the HTTP handler and drop the call or use `runtime.Goexit()` it does not affect the console at all. This is just about the behavior of killing the entire server...
Meaning call `panic()` or `runtime.Goexit()` instead of the `os.Exit(1)` in `CriticalIf`

[2018-06-21 17:45] harshavardhana commented on #6064
runtime.GoExit() is better alternative here

[2018-06-21 17:46] harshavardhana commented on #6058
Yes that is correct

[2018-06-21 18:45] kannappanr commented on #6064
So, replace os.Exit(1) with runtime.GoExit() in CriticalIf ?

[2018-06-21 19:14] aead commented on #6064
We can do so **if** we never call `logger.CriticalIf` from `main` go-routine - only in handler go-routines.
If I understand `logger` correct for startup we should use `Fatal`.
However we can never detect in a `recover` call that `CriticalIf` was called...

Alternative is to e.g. `panic(CriticalErr)` and add in HTTP top handler:
[code]
Later one allows use to detect `CriticalIf / panic` - this is u

[2018-06-21 19:51] harshavardhana commented on #6064
We only call Fatal only in startup situations in any other situation it should be CriticalIf for unexpected situations. We can do panic and recover by having recover at top level handler approach as well.

[2018-06-21 20:43] moonlitSpider commented on #6058
Cool. Is there a minimum number of nodes required for a minio cluster?

And if a new node is added, do you balance the data using the new node?

[2018-06-21 20:46] moonlitSpider commented on #6058
And what happens to the extant erasure codes if new node is added? Must data be re-read and written in order to generate erasure codes that reflect the new number of disks?

[2018-06-21 20:47] harshavardhana commented on #6058
A minimum number of nodes is 4, maximum allowed is 32. Number of disks allowed is unlimited - https://docs.minio.io/docs/minio-server-limits-per-tenant

A node cannot be added to an existing cluster, so if you start with 4 it will always be 4 in its entirety.

This is not applicable we don't allow adding new disks.

What you can do is setup new clusters and add them to a single namespace using fed

[2018-06-21 20:51] moonlitSpider commented on #6058
Interesting, so once a cluster is defined, I cannot add a new node (and thus I can't add new disks)?

[2018-06-22 03:43] wd256 commented on #6032
@nitisht can you please re-open this issue?

[2018-06-22 03:44] harshavardhana commented on #6032
@wd256 please open a new issue referencing this issue.

[2018-06-22 19:04] ebozduman opened #6069 "Broken reference link to configuration guide in the error message"
If Minio server is attempted to be started with invalid configuration information in Minio config.json file, it fails to start as expected with the following error message:
[code]
When the provided link to the reference doc, `https://docs.minio.io/docs/minio-server-configuration`, is clicked, `"404: Page not found`  error is shown in the browser.
That's because `-guide` shows up in the next line i

[2018-06-22 19:50] ghost commented on #1259
Wonderful! I can see why NSSM is called as such. The first attempt and everything works. I've been trying with windows' sc for two hours doing basically the same thing and couldn't get it to start the service.

[2018-06-22 20:23] harshavardhana commented on #1259
Are you able to now ?

[2018-06-22 21:13] moonlitSpider commented on #6058
How well tested is the cluster federation capability. I can't scale out a single minio cluster by adding nodes/disks. So cluster federation is my only choice.

Please advise, and thanks!

[2018-06-22 21:19] harshavardhana commented on #6058
Cluster federation capability was recently GAed and is ready to be used in production.

[2018-06-22 22:00] harshavardhana commented on #6069
The link here is not broken the issue here is the link is wrapped due to your terminal size.

[2018-06-22 22:02] harshavardhana commented on #6069
on my terminal it is

[code]

[2018-06-22 22:54] kallisti5 opened #6070 "Read-only Public URL's unfriendly (excess token)"
The public https URL's for read-only public / anonymous access are pretty unfriendly:

[code]

Without the %27%27 token the access doesn't work.  Since no token should be required for public read-only access shouldn't it work without ?token=XXXX ?

[2018-06-22 22:56] kallisti5 commented on #5305
At minimum, it would be nice to have an optional "per bucket" access key in addition to the global one..  This is the one major stumble I found deploying minio. (otherwise it is *AWESOME* and just what we were looking for)

[2018-06-22 23:11] harshavardhana commented on #6070
This is not the public URL for Minio how did you generate it? are you trying to use the json-rpc API?

[2018-06-22 23:12] claudiodangelis opened #6071 "UnknownEndpoint: Inaccessible host: `screenshots.minio'"
I'm using Docker Compose to run two containers, minio and a node app, and I get an error when uploading an object from one container to the other.

## Expected Behavior

The object should be uploaded to the minio container.

## Current Behavior

The S3's `putObject` method fails and throws this error:

[code]

Note: `minio` is the name of the container, and I can successfully run `curl minio:9000`

[2018-06-22 23:14] harshavardhana commented on #6071
You should enable ForcePathStyle @claudiodangelis

[2018-06-22 23:21] claudiodangelis commented on #6071
Ehy @harshavardhana, setting `s3ForcePathStyle: true` indeed fixed the issue. Thanks for the incredibly fast response. I'm closing this issue.

[2018-06-22 23:21] #6071 closed, assigned to nobody

[2018-06-23 01:37] kallisti5 commented on #6070
just downloaded a file publically (anonymous read-only) via the minio web client on 9000, then looked at the generated URL

[2018-06-23 01:39] harshavardhana commented on #6070
This is not correct @kallisti5 you shouldn't use the token in this manner. I am suspecting you have been looking browser network traffic.

[2018-06-23 01:40] harshavardhana commented on #6070
If you have set the bucket/prefix as publicly readable simply use

http://endpoint:port/download/nightly/x86_64/thing.zip

"/minio" is meant for minio browser requests only.

[2018-06-23 01:40] kallisti5 commented on #6070
ah. Is that documented?

[2018-06-23 01:41] kallisti5 commented on #6070
Er. getting access denied without using minio and that token.

https://cdn.haiku-os.org/download/nightly/x86_64/haiku-nightly-hrev52025-x86_64-anyboot.zip

vs

https://cdn.haiku-os.org/minio/download/nightly/x86_64/haiku-nightly-hrev52025-x86_64-anyboot.zip?token=%27%27

vs

https://cdn.haiku-os.org/minio/download/nightly/x86_64/haiku-nightly-hrev52025-x86_64-anyboot.zip

[2018-06-23 01:43] harshavardhana commented on #6070
Did you use `mc policy download` to set the bucket policies? @kallisti5

[2018-06-23 01:44] kallisti5 commented on #6070
Bucket Policy: * read only   from minio web client.

[2018-06-23 01:44] kallisti5 commented on #6070
haha. whoops.

https://cdn.haiku-os.org/nightly/x86_64/haiku-nightly-hrev52025-x86_64-anyboot.zip  :-)

[2018-06-23 01:44] #6070 closed, assigned to nobody

[2018-06-23 01:45] harshavardhana commented on #6070
Try using mc https://github.com/minio/mc

[2018-06-23 01:45] kallisti5 commented on #6070
The bucket is nightly. Thanks :-)

[2018-06-23 01:47] harshavardhana commented on #6058
Closing this issue as answered for questions like these feel free to join our slack https://slack.minio.io for a more real-time response.

[2018-06-23 01:47] #6058 closed, assigned to nobody

[2018-06-23 01:48] harshavardhana commented on #6051
This should be fixed already closing

[2018-06-23 01:48] #6051 closed, assigned to nitisht

[2018-06-23 01:49] harshavardhana commented on #6041
I have tried this many times and not able to reproduce this if you can provide a full application that you used in your situation. I can further help. But for now I am not able to reproduce the problem.

[2018-06-23 01:52] harshavardhana commented on #5902
The problem looks like in the registry config @rgruyters you have set `secure: true`  and your URL seems to be `http://minio:9000`

[2018-06-23 07:24] cmdrrobin commented on #5902
@harshavardhana changed it unfortunately it didn't help

[2018-06-23 09:14] FUSAKLA opened #6072 "Update disk usage Prometheus metric during runtime"
## Expected Behavior
I would expect Prometheus metric `minio_disk_storage_used_bytes` to show actual space occupied by the minio instance.

## Current Behavior
The metric contains value loaded on startup but does not update because of use `ConstMetric` which cannot be updated.
https://github.com/minio/minio/blob/5282639f3c5ea871a1351498d2aa0553760f20fe/cmd/metrics.go#L136

## Possible Solution
It

[2018-06-23 09:31] nitisht commented on #6072
@sinhaashish do you mind taking a look

[2018-06-23 12:16] sinhaashish commented on #6072
@nitisht checking it..

[2018-06-23 14:25] bovesan commented on #6041
I've now switched to signature v4, which seems to work fine.

[2018-06-23 14:57] moonlitSpider commented on #6058
Thank you, hashavardhana. But the slack invite page says "this invite link is no longer active".

How can I join slack?

[2018-06-23 22:06] harshavardhana commented on #6058
https://slack.minio.io is active and as well as https://minio.slack.com/join/shared_invite/enQtMzg2MDg5OTkzODc3LTg0ZTZhZjI2YmM0ZTM2ODY5ZTc5NWI2YjllNDYzY2ZmZDQwMDJjYjkzYjVlZmFlNmY0YjE2ZmFlMjAxMzdjNDU

[2018-06-23 22:10] harshavardhana commented on #6041
Should we be closing this bug? I am not able to reproduce this with signature v2 either

[2018-06-23 22:15] harshavardhana commented on #5902
Here is a working config that I have locally.

[code]

[code]

[2018-06-24 05:51] FUSAKLA commented on #6072
Actually it looks like it's not updating in the web UI also

Here you can see that the bucket contains file with size `3.41 MB` and the bucket used is `Used: 209 bytes`
![screenshot-20180624075049-1294x295](https://user-images.githubusercontent.com/6112562/41816365-56c68514-7783-11e8-9594-dd286ded8aa6.png)

[2018-06-24 06:32] harshavardhana commented on #6072
Usage gets updated every 12 hrs so if you upload an object you won't usage updated right away.

[2018-06-24 08:25] FUSAKLA commented on #6072
Ok I didn't know that, my bad sorry

But my minio instances are now running for 2 days, contain around 100MB but the metric and the usage are still the same as on startup

[2018-06-24 09:02] TheNorthMemory opened #6075 "[gateway/oss] while there hasn't the `listBuckets` permission, the `oss` gateway cannot do anything."
## Current Behavior

the console prompt the following msg:

[code]

## Possible Solution

can someone implement an environment setting eg, `MINIO_STICK_TO_BUCKET` to skip `listBuckets` operation, just go to `listObject` directly.

## Your Environment
* image from hub.docker minio/minio:latest
*
* Version: 2018-06-22T23:48:46Z
* Release-Tag: RELEASE.2018-06-22T23-48-46Z
* Commit-ID: 6005dbf01f31a2b

[2018-06-24 14:56] harshavardhana commented on #6072
what is your backend filesystem here? @FUSAKLA are you running under erasure coding or single export?

[2018-06-24 15:01] harshavardhana commented on #6075
Why is ListBuckets() action disabled? @TheNorthMemory

[2018-06-24 15:11] FUSAKLA commented on #6072
It's running in default configuration with just specified path to `/storage` which is mounted on kubernetes node host
[code]
I suppose it`s SSD. (I don't have acess to the node directly)

Sorry I'm new to Minio so I don't know answer if I'm running under `erasure coding or single export` bud if you could direct me how do I find out I'll be happy to answer.

[2018-06-24 15:12] harshavardhana commented on #6072
@FUSAKLA if you share your kubernetes yaml we can see under in which mode you might be running.

[2018-06-24 15:22] FUSAKLA commented on #6072
Ok there it is
[code]

[2018-06-24 17:30] harshavardhana commented on #6072
Will send a docker image with some debugging enabled to see what possibly might be going on.

[2018-06-25 04:31] TheNorthMemory commented on #6075
@harshavardhana for some scenarios, for eg, the storage were support for the multi tenancy, each of them cannot list another buckets.

[2018-06-25 05:27] unicman opened #6076 "failed to prepare subPath for volumeMount "minio-server-config" of container "minio""
Minio pods fail to run giving following error - failed to prepare subPath for volumeMount "minio-server-config" of container "minio".

## Expected Behavior
When minio is tried to be installed through spinnaker helm chart, all the pods should eventually reach 'Running' state including minio.

## Current Behavior
All other pods go to 'Running' state but minio pod remains in CreateContainerConfigErro

[2018-06-25 05:42] tomyl opened #6077 "Not returning NoSuchBucket when deleting object in non-existent bucket"
## Expected Behavior

If I try to delete an object in an non-existent bucket against AWS S3 I get:

[code]

## Current Behavior

Same thing against Minio (play.minio.io:9000) doesn't result in any error:

[code]

Verified this behavior with s3cmd and boto3. Interestingly, mc reports error though:

[code]

[2018-06-25 07:28] nitisht commented on #6076
what is the helm minio chart version you are using @unicman ? Can you try using [Minio Chart version](https://github.com/kubernetes/charts/tree/master/stable/minio) `1.3.4`

[2018-06-25 08:13] nitisht commented on #5938
any updates on this @hatt

[2018-06-25 08:13] nitisht commented on #5981
@ParasRocks closing due to no response, feel free to reopen/give us the error message if you face this again.

[2018-06-25 08:13] #5981 closed, assigned to nitisht

[2018-06-25 08:18] harshavardhana commented on #6077
It would be helpful if you can provide s3cmd --debug output @tomyl

[2018-06-25 08:38] tomyl commented on #6077
@harshavardhana Of course, here you go:
[delete_object_badbucket_aws.txt](https://github.com/minio/minio/files/2132342/delete_object_badbucket_aws.txt)
[delete_object_badbucket_minio.txt](https://github.com/minio/minio/files/2132344/delete_object_badbucket_minio.txt)

[2018-06-25 09:16] unicman commented on #6076
I've not modified any of the charts so not sure exactly.

Helm requirements.yaml of spinnaker at https://github.com/kubernetes/charts/blob/master/stable/spinnaker/requirements.yaml says following,

`- name: minio
  version: 1.1.1
  repository: https://kubernetes-charts.storage.googleapis.com/
  condition: minio.enabled`

Does that help?

[2018-06-25 09:22] bovesan commented on #6041
Ok with me. If you cannot reproduce it with my curl command, it seems like much work for an old standard (v2) no one should be using anymore ...

[2018-06-25 09:24] nitisht commented on #6076
yes, but this chart is pretty old and uses configMap (which I think is the reason for the failure you see). Can you update the version to `1.3.4` and give it a go?

[2018-06-25 09:25] harshavardhana commented on #6041
Closing as working as intended.

[2018-06-25 09:25] #6041 closed, assigned to harshavardhana

[2018-06-25 09:26] unicman commented on #6076
It's part of spinnaker chart definition... not sure how I will be able to change that version. Are you suggesting that I should just make code change and commit in this Git repo?

[2018-06-25 09:27] unicman commented on #6076
Do you know any easier way without making code change in spinnaker chart?

[2018-06-25 09:39] nitisht commented on #6076
Will it be possible to make the changes and test locally (no need to push to GitHub)? I can then tell you the steps..

[2018-06-25 10:12] unicman commented on #6076
Helm downloads latest charts from github and runs them when 'helm install...' is called. I don't think there is a way to make local changes to it and have helm use it. At least I don't know of such facility in helm.

[2018-06-25 10:52] nitisht commented on #6076
Helm has an [inbuilt server](https://github.com/kubernetes/helm/blob/master/docs/helm/helm_serve.md) that can serve charts from anywhere. To test locally you can

- Change the version in Spinnaker chart.
- Use `helm package <chart-name>` to package the chart. ([ref](https://github.com/kubernetes/helm/blob/master/docs/helm/helm_package.md))
- Start helm serve from the directory where you have helm

[2018-06-25 12:28] myaspm opened #6080 "Can't query parquet file in Minio with Apache Drill"
## Expected Behavior
Successfuly query a parquet file.

## Current Behavior
When i'm trying to query a parquet file in Drill i get an error saying:

[code]

Minio logs give the same error as :

[code]
Tried both Docker minio and FreeNas plugin minio. I can connect to minio from Drill and see the files. Can query CSV or Json files with no problem. Parquet file permissions are set to 777 by chmod an

[2018-06-25 12:46] nitisht commented on #6080
@myaspm how did you start Minio server?

[2018-06-25 12:58] myaspm commented on #6080
@nitisht :

[code]

Used the secret/access keys from console output for Drill configs.

and then for mc:

[code]

In mc docker console:

[code]

Edit: Uploaded the file by browser, created a bucket named fadata and uploaded the parquet file. Used the docker mount flag for manually chmod'ing the parquet file.

[2018-06-25 13:00] nitisht commented on #6080
do you mind setting up Minio with erasure code (https://docs.minio.io/docs/minio-erasure-code-quickstart-guide) and give it a try again.

I think the problem you're facing is a known bug on standalone mode, we are working on a fix here: https://github.com/minio/minio/pull/5966

[2018-06-25 13:07] myaspm commented on #6080
It works if i use the erasure code setup but i don't understand what this exactly solves. And how to use this setup for FreeNas minio plugin?

[2018-06-25 13:08] nitisht commented on #6080
Do you mean erasure code?

This should help https://github.com/minio/cookbook/blob/master/docs/running-minio-in-freenas.md

[2018-06-25 13:20] aead commented on #6069
~@harshavardhana - I see a 404 page if following the link. So i think that's what @ebozduman means with broken...~
My fault, copied the final `.` too...

[2018-06-25 13:27] ghost commented on #1259
I am. Thank you very much!

[2018-06-25 15:12] myaspm commented on #6080
I mean what is the problem with the standalone version?

For the NAS setup yeah that helped i could work it out by starting from FreeNAS console. Just have another question if you dont mind:

How to give minio disks in /<jail_root>/Minio/etc/rc.conf ?

[code]
I gave a list of comma seperated disks but it fails. If i start the jail from command line with disks given as space seperated arguments it

[2018-06-25 15:55] harshavardhana commented on #6080
This requires a fix in our code, FS mode has a behavior issue v/s erasure code we will fix it.

[2018-06-25 17:47] harshavardhana commented on #6072
Fixed by #6081

[2018-06-25 17:47] #6072 closed, assigned to harshavardhana

[2018-06-25 18:11] simisoz commented on #5938
Hi also had the same problem. The pods can't ping each other. The distributed option doesn't work.

[2018-06-25 19:35] #5931 closed, assigned to Praveenrajmani

[2018-06-25 19:36] #5995 closed, assigned to poornas

[2018-06-25 20:51] #6064 closed, assigned to aead

[2018-06-25 22:03] poornas commented on #6010
@sdjunaidali, if you are running minio locally with tls enabled, the ssl certificate verification needs to be turned off with ```config.verifySSL=false``` and ```config.scheme = Aws::Http::Scheme::HTTPS``` (this can be removed since aws cpp sdk uses https by default) If you continue to have listing issues, please post any error logs on the minio server console.

[2018-06-25 22:06] ebozduman commented on #6069
Yes @harshavardhana, it is because of the wrapping as also explained in the "Possible Solution" section above. But we still should not break the link into 2 when the terminal is not wide enough.

[2018-06-26 01:24] #6080 closed, assigned to nitisht

[2018-06-26 02:05] harshavardhana commented on #5994
@ordahan we have made a release with the fix would you mind testing it and let us know if you face further issues. I didn't a reply to my previous message though reposting it here

[2018-06-26 05:27] Praveenrajmani commented on #5975
Removing notifications had a bug in it ( When tested with NATS ), it was probing events even after doing a `mc events remove` .

sent a PR on this. Refer #6082

[2018-06-26 07:37] harshavardhana commented on #6069
The problem is in logger implementation which is actively breaking the line at TerminalSize which shouldn't happen.

The following change seems to fix the problem

[code]

[2018-06-26 12:08] dmpriso opened #6086 "Minio reporting bucket as empty while delete operation is in progress"
## Expected Behavior
When a object delete operation is in progress, ```ListObjectsV2``` should still report at least the items which are not deleted.

## Current Behavior
While the delete operation is in progress, ```ListObjectsV2``` returns an empty object list. As soon as the delete operation finishes, ```ListObjectsV2``` returns the remaining objects in the bucket.

## Steps to Reproduce (for b

[2018-06-26 12:12] deependhulla commented on #5199
Also agree - multiple access keys would be ideal for my use case as well. I can have single server and a web interface to my project guy to allocate the access.
Possible ot have a our own cloud service like aws s3  for commercial use.

[2018-06-26 15:29] Ftagn92 opened #6087 "Can't read multiple files in a minio bucket subfolder with spark"
Hello,

I'm trying to read multiple avro files stored in a subfolder of my bucket on a local minio container

## Expected Behavior
May be i do it wrong, but i'm trying to populate a dataframe with the content of some avro files

It works flawlessly with the instruction :

`DF_RANDOM = spark.read.format("com.databricks.spark.avro").load("s3a://datalake/random-random_table+0+000000001*.avro")`

the

[2018-06-26 18:19] kannappanr commented on #6056
@racorretjer Thanks for filing this issue. We do not have cycles to look into this issue now. Will have to take up this task in the future. Closing this issue for now. Will re-open when we have cycles to look into this issue.

[2018-06-26 18:19] #6056 closed, assigned to nobody

[2018-06-26 18:27] kannappanr commented on #5902
@rgruyters Can you please update the status on this issue? Did the config provided in the previous comment help?

[2018-06-26 18:37] harshavardhana opened #6089 "Occasional CompleteMultipartUpload failure under NAS gateway"
## Expected Behavior
No failure observed

## Current Behavior
[code]

## Possible Solution
Not sure, concurrency issue perhaps

## Steps to Reproduce (for bugs)
You would need an NFS volume exported and used by a minimum of 4 gateways, these 4 gateways need to be load balanced across each other.

## Context
Concurrency support and data loss protection.

## Your Environment
master branch

[2018-06-26 18:58] nitisht commented on #6087
we just merged a fix @Ftagn92 can you try this using `minio/minio:edge` image once?

[2018-06-27 07:55] cmdrrobin commented on #5902
@kannappanr sorry for the delay, but no it didn't solve my problem. I have used @harshavardhana example config but still same issue.

[2018-06-27 07:57] Ftagn92 commented on #6087
I just finish to test the  :edge (2018-06-26T17:56:31Z)

It works now !!!

Note that the error i had on linux didn't appear on the MacOS of my coworker.

Thanks for your help

[2018-06-27 08:03] nitisht commented on #6087
great. so shall we close this issue?

[2018-06-27 08:58] nitisht commented on #6087
fixed by https://github.com/minio/minio/pull/5966

[2018-06-27 09:02] Ftagn92 commented on #6087
Sure :)

[2018-06-27 09:02] #6087 closed, assigned to nitisht

[2018-06-27 09:19] verymilan opened #6092 "Much ioload causing corrupt filesystem"
I migrated the internal mediafolder of a Mastodon instance to a selfhosted Minio bucket.
The VM is under permanent high ioload (~400K/s, 99% IO).
After some time the ext4 filesystem corrupts reproducable.

I wonder if i could do anything but renting some bucket somewhere / using the internal SSD of the Mastodon server which will run out of space some day soon.. .

* Version used: `2018-06-22T23:48

[2018-06-27 09:25] nitisht commented on #5938
You need to make sure Pods are able to talk to each other for distributed Minio to work. May be Kubernetes documentation will help
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#are-the-pods-working

[2018-06-27 10:27] ghost opened #6093 "Minio does not detect a secure connection (SSE-C) when running behind a reverse proxy (Traefik)"
Minio does not detect a secure connection (SSE-C) when running behind a reverse proxy (Traefik).

## Expected Behavior

SSE-C ``mc cp --encrypt-key`` should work when a host has ``https://``.

## Current Behavior

SSE-C ``mc cp --encrypt-key`` does not work against the host which has TLS enabled ``https://``.

[code]

## Possible Solution

Minio server should either figure it is running behind a r

[2018-06-27 12:53] unicman commented on #6076
Haven't done it before. Let me see if that's possible because 'helm' tool itself does git clone internally and not sure where it keeps the files.

[2018-06-27 13:05] sdjunaidali commented on #6010
@poornas **just found that ListObject API not working with WithPrefix option only.**

**It's successfully listing empty directories incase without WithPrefix option in program,**

**Please find the aws sdk logs for ListObject API with WithPrefix option.**

[INFO] 2018-06-27 18:28:52 Aws_Init_Cleanup [140339551385472] Initiate AWS SDK for C++ with Version:1.3.30
[INFO] 2018-06-27 18:28:52 CurlHttpC

[2018-06-27 13:11] sdjunaidali commented on #6010
**Please find the program which I am using to list Object with WithPrefix option,**

#include <aws/core/Aws.h>
#include <aws/s3/S3Client.h>
#include <aws/core/auth/AWSCredentialsProvider.h>
#include <aws/s3/model/Bucket.h>
#include <aws/s3/model/Object.h>
#include <aws/s3/model/ListObjectsV2Request.h>

/**
 * List objects (keys) within an Amazon S3 bucket.
 */
int main(int argc, char** argv)
{

[2018-06-27 15:18] harshavardhana commented on #6092
Can you run fsck on your backend ?

[2018-06-27 16:52] aead commented on #6093
@arno01 Thanks for filing this issue.
First of all, both options (`X-Forwarded-Proto` header and `https://` host-prefix) are not reliable indicators for a TLS connection - for your case that may be true, but not in the general case.

AFAICS this is should be solved at traefik's side - See:
 - https://github.com/containous/traefik/issues/3038
 - https://github.com/containous/traefik/issues/364

You

[2018-06-27 18:57] deekoder commented on #6069
@vadmeste please can you see why it wraps like this. User clicks on the a href and its not the full url. @harshavardhana  has a proposal for you to consider for the fix in previous comment.

[2018-06-27 19:02] deekoder commented on #6075
@TheNorthMemory so if you enable ListBuckets() everything works normally?

[2018-06-28 00:40] poornas commented on #6010
@sdjunaidali, was able to repro this issue for ListObjects when prefix ends with a slash delimiter - i.e. listing is correct when prefix is junaid but not junaid/  Will be sending a fix for this.

[2018-06-28 02:16] v1r opened #6095 "Insufficient permissions to access path /root/.minio/certs"
Hi there!

I just tried Minio in Mac using Docker and I encountered a permission error when running the following commnad:

`
docker run -p 9000:9000 --name minio1 -v /Volumes/data:/data -v /Volumes/config:/root/.minio minio/minio server /data
`
Error:
[code]

**Docker version:**
Docker version 18.03.1-ce, build 9ee9f40

Any idea what could be the problem?

[2018-06-28 05:37] harshavardhana commented on #6095
can you avoid using `-u root` ?

[2018-06-28 05:49] nitisht commented on #6076
Sure @unicman , meanwhile I have sent a PR to Spinnaker Helm chart so it uses the current Minio helm chart. https://github.com/kubernetes/charts/pull/6368

[2018-06-28 07:10] sdjunaidali commented on #6010
@poornas , Actually it's working without slash delimiter, I am going ahead with this solution as it will work without the slash delimiter.

Thank you so much for looking into the matter. and let me know when fix for this is out,
Will be happy to give any contribution for this,

[2018-06-28 08:16] develar commented on #5080
So disappointing.

My use case:

1. Scaleway gives your SSD NVME devices, each 50 GB size. Problem is that total amount of data more than 50 GB. So, machine has several 50 GB devices.

2. You define docker volumes like:

[code]

Here `/dev/vdb` it is 50 GB device.

3. minio service volumes:

[code]

I don't use Minio for users — instead, NGINX serves files to user (the same volume configuration, N

[2018-06-28 13:56] kallisti5 opened #6098 "Brute force auth rate limiting?"
Since Minio only leverages a single key  + secret (#5305 ), does it have any auth rate limiting built in?

I know the long random key + long random secret key should be hard to crack, but with only one key + secret, a single minio server could be completely compromised and access to every bucket gained with one successful brute-force attack.

[2018-06-28 16:11] simongrigorian opened #6100 "Would like to have the ability to change the default port"
Is it possible to change the default port from 9000 to, lets say 445? We have services that depend on 9000, and can't be changed.

[2018-06-28 16:30] harshavardhana commented on #6100
Just run with `minio server --address ":desired-port"` on command line.

[2018-06-28 16:33] harshavardhana commented on #6098
Access key and secret key is never transmitted over network.  It is similar in security as AWS Signature V4.

We are also bringing temporary credentials support as well.

Can you explain how you would crack signature V4 ?

[2018-06-28 16:46] simongrigorian commented on #6100
Hmm.. okay I figured it out, I just did 445:9000. Sorry, I need some coffee for the brain to work in the morning..

[2018-06-28 16:46] #6100 closed, assigned to nobody

[2018-06-28 18:09] kallisti5 commented on #6098
ok. that covers the concerns I heard.  Thanks!

[2018-06-28 18:09] #6098 closed, assigned to nobody

[2018-06-28 19:01] #5993 closed, assigned to Praveenrajmani

[2018-06-28 21:22] sergeAMD opened #6102 "fPutObject inconstant parameter requirements"
On windows if I run fPutObject with metaData= {'ContentType' : 'application/octet-stream'}; I get:
(node:17248) UnhandledPromiseRejectionWarning: TypeError: contentType should be of type "string"
    at Client.fPutObject (<PATH>\node_modules\minio\dist\main\minio.js:880:13)
    at Client.<anonymous> (<PATH>\data_storage\node_modules\minio\dist\main\helpers.js:28:51)

When I change that to metaData

[2018-06-28 21:51] v1r commented on #6095
Hi @harshavardhana !

My bad, I got the error using the following command:

[code]
I just copied here the wrong one, starting it using root does not change anything.

[2018-06-29 02:40] TheNorthMemory commented on #6075
@deekoder yes, I've tested , while the permission as `AliyunOSSFullAccess`, the gateway  working well, such as the `putBucket`, `deleteBucket`, `listBuckets`, `listObjects`, `deleteObject`, `putObject` operations are working great.

it's my cli command:

`docker run --rm -p9000:9000 --name oss -e "MINIO_ACCESS_KEY=$OSS_AccessKeyID" -e "MINIO_SECRET_KEY=$OSS_AccessKeySecret" minio/minio gateway oss

[2018-06-29 03:19] v1r commented on #6095
I think it was an issue with right access for current user on /Volumes. It worked when I changed volumes mount directory to Users/me/.

[2018-06-29 03:19] #6095 closed, assigned to nobody

[2018-06-29 07:26] poornas commented on #6010
@sdjunaidali, the reason ListObjects with prefix dir1/ (where dir1/ is empty directory on object store) does not list on minio is because minio is using the file system hierarchy for storing objects whereas s3 uses a flat namespace. On s3, the prefix "dir1/" in entirety is itself just a key to the blob location,so s3 lists it as a result. From minio's perspective, ListObjects with "dir1/" as prefi

[2018-06-29 07:40] unicman commented on #6076
Oh that's great! BTW i didn't know you already had that access... so created separate ticket for them - https://github.com/kubernetes/charts/issues/6351.

[2018-06-29 09:36] ibyte2011 opened #6103 "disk-tuning.sh run error"
## Expected Behavior

run ok

## Current Behavior

-bash: echo: write error:Invalid argument at line 49

## Steps to Reproduce (for bugs)

1when use root .run [disk-tuning.sh](https://github.com/minio/minio/blob/master/docs/deployment/kernel-tuning/disk-tuning.sh)

## Context

## Your Environment

* Version used (`minio version`):2018.6.22
* Server type and version:S3
* Operating System and versio

[2018-06-29 09:58] verymilan commented on #6092
Hi, yes i can, however it turned back to normal, i assume minio scanned the bucket?
Is this a possible reason?

[2018-06-29 09:59] harshavardhana commented on #6092
yes, but we have changed the crawling to be done in a more optimal manner in the latest release. Feel free to test it out.

[2018-06-29 10:00] verymilan commented on #6092
Alright, will update minio soon, thank you. :+1:

PS: it would do less confusion if minio ẃould comment on this in the log

[2018-06-29 11:15] nitisht commented on #6102
@sergeAMD which SDK you're using to send `fPutObject` requests to Minio server?

[2018-06-29 14:05] oghan opened #6105 "high availability structure"
## Current Behavior
Four servers and 2 disks per server
The scenario we apply is below,This structure can not create high availability
How can we solve this situation

./minio server http://10.10.10.1/d11 http://10.10.10.1/d12 http://10.10.10.2/d21 http://10.10.10.2/d22 http://10.10.10.3/d31 http://10.10.10.3/d32 http://10.10.10.4/d41 http://10.10.10.4/d42

**test.log uploading**

SERVER		DISK1	DI

[2018-06-29 15:08] nitisht commented on #6105
@oghan you'll need to heal the setup after the server `10.10.10.4` comes up. [ref: https://github.com/minio/mc/blob/master/docs/minio-admin-complete-guide.md]

[2018-06-29 15:45] sergeAMD commented on #6102
@nitisht

        "minio": {
            "version": "5.0.2",
            "resolved": "https://registry.npmjs.org/minio/-/minio-5.0.2.tgz",
            "integrity": "sha1-Wxi1RGSisoI4c5HivcpkL85qp8M=",
            "requires": {
                "async": "1.5.2",
                "block-stream2": "1.1.0",
                "concat-stream": "1.6.2",
                "es6-error": "2.1.1",
                "

[2018-06-29 21:35] IAkumaI commented on #5139
Hm. So, how can i use `mc` to cleanup bucket while a minio running inside a docker container?
I don't want to configure cron on a server because...I use docker.

[2018-06-29 21:54] ghost commented on #6093
I have managed to make this working without using the ``insecureSkipVerify = true``.

Here are my steps if someone finds this interesting:

## Generate a self-signed server certificate with self-signed CA

- Create openssl configuration file:

[code]

- Generate self-signed CA bits:

[code]

- Generate self-signed server certificate signed by your CA key:

[code]

- Copy self-signed server certifi

[2018-06-29 22:04] harshavardhana commented on #5139
you can use `docker pull minio/mc`

[2018-06-29 22:10] IAkumaI commented on #5139
Yeah, but...imagine I use swarm. I dont even know which physical server right now runs minio service. So how I should configure cron? On each server?
And configure for what? I dont even know minio's container name and it can have different names on different servers.

[2018-06-30 01:58] harshavardhana commented on #6105
You should simply make sure to disks spread out into neighboring nodes. your existing input is not optimal.

[code]

[2018-06-30 02:01] harshavardhana commented on #6103
This is expected on certain drivers which do not allow this value to be changed, we can certainly silence this error.

[2018-06-30 06:12] Reasno opened #6108 "How can I get real client ip address in bucket notification events?"
https://github.com/minio/minio/blob/92a6676a2ff18e282efbd1684a5e9479cb199f6c/cmd/handler-utils.go#L170

Currently minio put my last proxy ip into sourceIPAddress, but not my real client address in X-FORWARED-FOR or X-REAL-IP. I would love to see if I can receive these headers in events.

[2018-06-30 08:14] harshavardhana commented on #6108
Thanks for this bug @Reasno we will fix it.

[2018-06-30 20:07] ghost commented on #6093
Here is the script I eventually ended up with https://git.nixaid.com/arno/gencert
It allows running Minio server with the TLS, hence SSE-C is enabled.

The drawbacks of this approach:
- [operational] it requires self-signed CA certs shared when running multiple Minio servers;
- [operational] every X years it requires updating the CA certificate in the Traefik's (or any other reverse proxy) contain

[2018-06-30 21:55] #6103 closed, assigned to harshavardhana

[2018-06-30 22:37] jvoisin commented on #2457
Any updates on the documentation front?

[2018-07-01 01:29] harshavardhana commented on #2457
We already sign the releases https://dl.minio.io/server/minio/release/linux-amd64/minio.asc  and source tags. Are you referring to anything else ? And what documentation are you looking for ? https://github.com/minio/cookbook/blob/master/docs/verifying-minio-binaries.md

[2018-07-01 05:19] harshavardhana commented on #6093
This is an incorrect assumption and lets clarify why, while it is a bit tedious to have TLS certs configured it shouldn't be considered as a drawback in a deployment. Securing your storage server should be of utmost importance when encryption is in question.

Most of these steps can be automated, in-fact just replacing the certs is enough for Minio server to pick it up without even restarting the

[2018-07-01 05:20] #6093 closed, assigned to aead

[2018-07-01 05:35] #6077 closed, assigned to Praveenrajmani

[2018-07-01 05:36] harshavardhana commented on #5902
Can you validate again with latest Minio release?

[2018-07-01 11:16] ghost commented on #6093
@harshavardhana I absolutely agree with you and fully understand the importance of securing the storage server.

But, do not we want to cover the use case when one trusts his internal network and does not require all the hassle with TLS, i.e. when one is running a small deployment for personal use, secured by a reverse proxy with TLS termination at.

I believe something like ``allowInsecureSSE = t

[2018-07-01 12:49] aead commented on #6093
@arno01 Thank you very much for sharing how you solved the issue :heart:

I've some concerns about that proposal.
1. If you have a small deployment (e.g. for personal use) why at all use a reverse-proxy for TLS and than use a (insecure) backend connection to a minio server instead of running a minio server with TLS without reverse-proxy?
2. If you trust your backend and don't want to deal with CA-

[2018-07-01 14:36] ghost commented on #6093
@aead

well, the good news is that the automation part has already been done and is described in the gencert script [readme](https://git.nixaid.com/arno/gencert#usage-example) I have shared :-)
Though, I am still not very happy that I need to run it each time before Minio server starts (see more below).

I basically thought that ``allowInsecureSSE = true`` feature would be an easy one to implement

[2018-07-01 17:23] jvoisin commented on #2457
The [download page]( https://minio.io/downloads.html#download-server-linux-x64 ) on minio's website doesn't mention cryptographic signatures at all.

It would be nice to have instructions like this instead:

[code]

[2018-07-01 17:45] dewjam commented on #5139
@IAkumaI I think you would run the `minio/mc` container independent of the "minio/minio" (server) containers.  In the `minio/mc` container, you might run a basic script that connects to the minio server and cleans up old objects on a regular basis (using the `mc` command).  This is a trivial task on it's own, but the fact remains that it will become unmanageable at scale.  When you have many bucke

[2018-07-01 18:13] aead commented on #6093
Indeed it is not hard to implement - However I don't want to expose a config option which weakens/breaks the security assumptions unless it's *really* needed. The reason is that while it works for users who know what they're doing - in part. you :wink:  - it may lead to misconfiguration by unexperienced users.

Further I'm not questioning the reasons for using a reverse proxy. I just wouldn't cons

[2018-07-01 18:58] ghost commented on #6093
Please keep me posted! :-)

Thanks!

[2018-07-02 04:08] tomyl commented on #6077
Confirmed that fix works. Thank you!

[2018-07-02 08:00] ordahan commented on #5994
@harshavardhana i'm testing the latest release now
500 errors are definitely in place for these content-length issues, I mistakenly thought that requests with a correct content-length were being rejected as well.

[2018-07-02 11:40] mtgerb opened #6110 "[gateway/azure] AzureGermanCloud azure server endpoint not working"
The Azure German Cloud has a different endpoint: core.cloudapi.de. When trying to give https://core.cloudapi.de as endpoint, minio complains, that it can not resolve the hostname core.cloudapi.de and does not start.

## Expected Behavior
Minio should start and resolv the correct hostname (see possible solution)

## Current Behavior
Minio tries to resolve a not existing hostname ``<endpoint>`` and

[2018-07-02 13:56] oghan commented on #6105
@nitisht @harshavardhana thanks.

[2018-07-02 13:56] #6105 closed, assigned to nobody

[2018-07-02 14:48] atrauzzi opened #6111 "S3 PHP SDK using X-Amz-Expires results in "Request has expired" error"
## Expected Behavior
Download of the file should commence within the time period specified.

## Current Behavior

Minio is serving the following response:

[code]

## Possible Solution
If we look at the code I'm using:
[code]

And then if we look at the URI sent back by minio to the SDK:

[code]

... you can see `X-Amz-Expires=5`, which I'm not sure is correct? Hard to say as nothing really outlin

[2018-07-02 16:15] harshavardhana commented on #5994
@ordahan okay, in that case should we closing this issue ?

[2018-07-02 17:20] harshavardhana commented on #2457
@jvoisin download page is minimal it is geared towards simpler instructions - for users who wish to validate it more, it is written as a separate doc.

[2018-07-02 17:57] poornas commented on #6010
@sdjunaidali, can this issue be closed

[2018-07-02 19:31] kannappanr commented on #6111
@atrauzzi One scenario where this can happen is that the clock on the client and the server is not in sync, which would explain why increasing the expire time helps in your case.

You can try a command similar to the following using mc and see if it works
[code]
I have set an expiry time of 5 seconds. The s3 alias used here is `play`, the bucket used here is `testphp` and the object is called `iss

[2018-07-02 20:57] krisis commented on #6052
@wd256 Does your [PR](https://github.com/minio/minio/pull/6078) fix this issue too?

[2018-07-02 21:40] #6108 closed, assigned to harshavardhana

[2018-07-02 22:46] wd256 commented on #6052
@krisis No, this issue will need its own fix

[2018-07-02 23:02] Reasno commented on #6108
Nice. Thanks for the good work.

[2018-07-02 23:12] atrauzzi commented on #6111
The server and client are both running on the same machine in my case.

[2018-07-03 00:08] harshavardhana commented on #5139
We are planning to implement this [API](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTlifecycle.html) - thanks for all the feedback till now to everyone involved, we will post a proposal once the design is finalized here.

[2018-07-03 01:28] sergeAMD commented on #6102
Is that the info you were looking for @nitisht? Thanks.

[2018-07-03 04:42] sdjunaidali commented on #6010
@poornas ,

Thank you so much for the detailed answer for that prefix problem, I am fully satisfied with the answer.
and yeah you can close this issue.

[2018-07-03 06:58] #6010 closed, assigned to poornas

[2018-07-03 07:41] nitisht commented on #5938
@hatt I am going to close this due to no response. But feel free to reopen/get back if it doesn't work even after pods connectivity is fixed.

[2018-07-03 07:41] #5938 closed, assigned to nitisht

[2018-07-03 07:50] #5994 closed, assigned to harshavardhana

[2018-07-03 08:04] giezi commented on #6025
Hi @kannappanr

Do you have any news regarding the issue?
I'm happy to help you with more information or testing :)

Thanks
Reto

[2018-07-03 13:49] kallisti5 opened #6115 "S3 metadata redirection"
Amazon S3 allows for x-amz-website-redirect-location to redirect to another location in a bucket (or on a remote server)

This behavior is *extremely* handy since s3 doesn't natively support symlinks.
Our use case is redirecting a "current" directory to another directory within the same bucket.

Example:
[code]

While the empty file above gets the correct metadata with minio, it doesn't redirect.

[2018-07-03 13:51] kallisti5 commented on #6115
https://docs.aws.amazon.com/cli/latest/reference/s3api/copy-object.html:

[2018-07-03 17:25] kannappanr commented on #6111
@atrauzzi The docker container and the host machine are out of sync which is causing this issue. Can you please run `ntp` on the host machine, that should fix the issue.

[2018-07-03 17:28] atrauzzi commented on #5857
Likewise, very blocked by this now.

[2018-07-03 17:34] atrauzzi commented on #6111
Related? https://github.com/docker/for-mac/issues/2076

[2018-07-03 20:16] Rick7C2 opened #6118 "serve s3 from rclone mount error"
## Expected Behavior
The server should start.

## Current Behavior
ERROR Unable to initialize backend: seek /data/.minio.sys/format.json: illegal seek.

## Possible Solution

## Steps to Reproduce (for bugs)
1. run "docker run -p 9000:9000 --name minio1 -v /mnt/s3:/data -v /etc/docker/minio/config:/root/.minio minio/minio server /data"

with "/mnt/s3" being an rclone mount

## Context

## Your Env

[2018-07-03 21:00] harshavardhana commented on #6118
We cannot start @Rick7C2 `minio server` requires fcntl locking on the backend.

[2018-07-03 22:21] kannappanr commented on #6025
Hi Reto,

 Sorry for the delay in response. Can you remove `gzip` from your caddy config file? Here is the corresponding commit in caddy server's code https://github.com/mholt/caddy/commit/e2544597a1f5fe0842012bbbde29213745844ea7

Looks like in this case, it will always convert it to a weak etag. Please let us know how it goes.

[2018-07-04 07:32] CheyenneForbes opened #6120 "Are multiple chunks stored in one file on the filesystem?"

[2018-07-04 07:38] nitisht commented on #6120
@CheyenneForbes are you talking about multipart uploads - then yes.

[2018-07-04 07:38] nitisht commented on #6120
also please join us on slack for questions https://minio.slack.com

[2018-07-04 07:41] nitisht commented on #6102
Thanks @sergeAMD , yes. we'll take a look

[2018-07-04 12:17] giezi commented on #6025
Hi @kannappanr

No problem - it works now flawlessly without the "gzip" option.
Many thanks for your great help!

Best regards
Reto

[2018-07-04 12:28] hijak commented on #5199
plus 1 this or ill have to go with ceph as an object storage provider

[2018-07-05 07:55] harshavardhana commented on #6120
Closing as answered by @nitisht

[2018-07-05 07:55] #6120 closed, assigned to nobody

[2018-07-05 07:56] harshavardhana commented on #6118
Closing as unexpected usage since `rclone mount` doesn't implement fcntl locking required by Minio filesystem backend.

[2018-07-05 07:56] #6118 closed, assigned to nobody

[2018-07-05 07:57] harshavardhana commented on #6092
Checking back to see if this is still an issue for you, should we close this issue?

[2018-07-05 08:21] harshavardhana opened #6122 "Migrate sarama/kafka dependent library to segmentio/kafka-go"
** not using template on purpose **

- https://github.com/segmentio/kafka-go is a better and better designed/documented API with context support.
- With stated motivations https://github.com/segmentio/kafka-go#motivations

[2018-07-05 08:36] jvoisin commented on #2457
Security shouldn't be optional :/

You can't reasonably expect people to guess that the project is indeed signing releases if it's not documented on the download page.

[2018-07-05 08:40] harshavardhana commented on #2457
Unfortunately, it is with PGP you can totally ignore to do those step anyways.

Most users who use this currently do this in an automated fashion by using ansible etc, downloading binary is just kept simple. So they follow the doc to automate it.

[2018-07-05 08:44] jvoisin commented on #2457
You can automate GPG verification too ♥

[2018-07-05 15:52] dasousa opened #6124 "IAM Role for S3 Gateway Access"
## Expected Behavior
When running minio as an S3 gateway on an EC2 instance, the IAM role assigned to the instance should be used before requiring MINIO_ACCESS_KEY and MINIO_SECRET_KEY.

## Current Behavior
Minio responds with the error "Unable to start gateway: Credentials missing" when the EC2 instance has a role that allows access to S3, but the MINIO_ACCESS_KEY and MINIO_SECRET_KEY variables a

[2018-07-05 16:58] aead commented on #6093
@arno01 To give you an update. I made an internal proposal based on your idea that the minio server should be able to generate an TLS certificate/private key automatically. The proposal got accepted today - so I'll add such a feature. Thanks for all your input about this topic :smiley:

[2018-07-05 17:25] aead opened #6125 "[feature]: minio should be able to auto-generate TLS certificates"
/* Not using template on purpose */

This is a feature request for adding a CLI / config option to allow the minio server to automatically generate a TLS certificate if there is none. Further if there is one that server should check whether it is expired and if so it should renew it.

Needs decision:
 - How should the CLI / config option look like: `minio server --auto-tls` / `minio server --self-

[2018-07-05 17:26] ghost commented on #6093
@aead I am very happy to hear this great news! Thanks for keeping me posted. :-)

P.S.
I have also found this https://github.com/kelseyhightower/certificate-init-container ; I think you might want to reuse some code from that project ;-)

[2018-07-05 17:30] harshavardhana commented on #6093
How about https://github.com/FiloSottile/mkcert

[2018-07-05 18:07] deekoder commented on #6124
@dasousa  we will take a look. I don't think we look at IAM role in the minio server since its agnostic to where it's being run.

[2018-07-05 19:26] kannappanr commented on #6111
@atrauzzi There is definitely a time sync issue between the client and the server. In this case, it is the host machine and the docker container. If you can make sure that there is no time difference, you will not see this issue anymore. We will also make sure that there is allowed skew between the client and the server.

[2018-07-05 21:58] kannappanr commented on #6025
@si458 closing the issue as answered based on the response by @giezi . Please feel free to re-open the issue if you feel otherwise.

[2018-07-05 21:58] #6025 closed, assigned to kannappanr

[2018-07-05 21:59] kannappanr commented on #6025
@giezi Thanks for verifying the suggestion and getting back to us.

[2018-07-05 22:28] ebozduman commented on #6063
@ematvey,
Thank you very much for pointing out what is missing and unclear in Distributed Minio Server documentation. I'll look into what we can improve and make it more clear for end-users to better understand how to set up and use Distributed Minio Server.

Let's go through your example and answer your  questions before deciding what needs to be updated in Minio documentation:

Q1. How does it r

[2018-07-05 22:28] blackholegalaxy opened #6129 "Error: No bucket policy found for bucket on Google cloud storage"
Using minio as GCS gateway, the error occurs:

Minio version: `minio/minio:RELEASE.2018-06-29T02-11-29Z`

I start the docker with `gateway gcs my-project`

The credentials are correct and set at project level, as storage admin.

My only bucket on GCS, within `my-project` is empty and doesn't contain any object.

[2018-07-05 22:32] harshavardhana commented on #6129
Fixed in #6104

[2018-07-05 22:32] #6129 closed, assigned to nobody

[2018-07-06 00:09] atrauzzi commented on #6111
Sounds good!

[2018-07-06 00:09] #6111 closed, assigned to nobody

[2018-07-06 01:00] harshavardhana commented on #6124
@deekoder @dasousa we need to use IAM as one of the providers in minio-go which would automatically work.

[2018-07-06 10:52] FUSAKLA commented on #6072
Thanks for fixing this so quickly!
I'll test it asap.

[2018-07-06 12:40] FUSAKLA commented on #6072
Hi, I deployed the new version and it looks ok I'm just wondering..

The disk usage should be space used just by the Minio or total usage of the disk regardless what is using it?

Now it shows total usage of disk.

[2018-07-06 13:27] teroz commented on #5199
plus one this too. In a typical logging scenario, a compromised host would allow an attacker to delete all logs on minio. Obviously, multiple minio instances would be impractical in such a use case.

[2018-07-06 15:44] harshavardhana commented on #6072
If you are running Minio on the entire drive mountpoint ( where your /dev/disk is mounted at /export) then Minio uses `df -h` to get the disk usage. If you are running Minio inside a sub-dir of the mount (/export/sub-dir) then the usage is of the `du -sh` on the sub-dir .

[2018-07-06 22:40] Colhodm opened #6132 "Minio TLS Docs"
The commands provided in the Minio TLS Docs under option #3 are not complete/clear
## Expected Behavior

Will provide improved docs PR soon.

## Steps to Reproduce (for bugs)
Try and use ONLY the docs to support TLS.
## Context

Trying to use HTTPS with Minio

[2018-07-07 19:17] verymilan commented on #6092
I just had to realize that minio also corrupts the filesystem without the scanning process.

[code]

The only thing i can see from minio in the syslog is that it complains about broken pipes from time to time but this happens like all day.

Edit: weird i was sure i already updated minio but i get `Release-Tag: RELEASE.2018-06-22T23-48-46Z` - i've updated now successfully however this is not a scan

[2018-07-08 03:45] harshavardhana commented on #6092
Well Minio cannot corrupt your backend disk in anyway. Your disk has perhaps bad sectors you should run fsck to fix these issues or contact the disk vendor for possible replacement.

Additionally with the new release, we also made improvements to detect if the export path used for Minio is a direct disk mount so we not crawl the filesystem.

We do crawl if the export path is a sub directory of a m

[2018-07-08 07:40] verymilan commented on #6092
hmm okey this does not make my troubleshooting easier... :/

It is actually a kvm and from the time i got minio on it, i had to recover the filesystem multible times with fsck. I sometimes run fsck once again to ensure everything went well and it never complained about bad sectors.

I think my export path is a sub directory, it is in /var/lib and no additional drive, however with the new release m

[2018-07-08 07:46] harshavardhana commented on #6092
The reason this cannot happen is because Minio in not doing ext4 journal and inode bitmap management. We simply read and write like any application would do on the path. Now if it does get corrupted by Minio by not any other process is suspicious. Are you sure where ever this kvm resides the underlying storage is resilient ? Please do share how to set this up locally as well along with versions of

[2018-07-08 08:14] verymilan commented on #6092
At least how far i am able to understand the `.. ext4_validate_inode_bitmap:134: comm minio: ..` part of the error.. .

Well this vm is a rented one, i did not deploy it myself but i can ping their support about it - however it would be an interesting accident since this trouble appears from the day i deployed this specific minio bucket. I however have two other minio instances but only for backup

[2018-07-08 08:19] harshavardhana commented on #6092
These things indicate that disk is slow or hung due to previous operation.

This can happen when scsi controller is rejecting or not able to respond in stipulated timeout.

comm minio means the process that would see this error while the process was trying to write data to that location, it has nothing to do with Minio doing anything special to corrupt the disk.

From what I can see you definitely

[2018-07-08 08:21] verymilan commented on #6092
Alright, thank you for reviewing, i just sent them an email.

[2018-07-08 11:50] ordahan opened #6136 "Minio unable to serve GET requests after a while when PUT requests fail on space issues"
## Expected Behavior

When Minio runs out of space, its expected to fail PUT requests but still be able to serve GET  / DELETE requests.

## Current Behavior

After a while when the cluster is full, it starts responding with 500 errors to GET requests:
[code]
(full log: [minio-http.log](https://github.com/minio/minio/files/2173683/minio-http.log))

The syslog of the host suggests its an issue with

[2018-07-08 20:52] YasminBZ commented on #5145
Hello,

please i'm having this error when trying to create a bucket:
./mc config host add myminio http://172.16.51.3:9000 YBSAVEJ8KK16B42SESRR iDIERFMSaGkDeGK+YASXywMslZLJjB0dREDqEemC foobar
Added `myminio` successfully.
 and then i get this error:
mc: <ERROR> Unable to make bucket `myminio/foobar`. The specified bucket does not exist.
what this error means please , i'm stuck in this error since t

[2018-07-08 20:55] harshavardhana commented on #5145
@white-cloud `mc config host add` doesn't create a bucket it is simply to register a new alias in `mc` config.json, additionally please open a separate GitHub issue this issue is closed and archived.

[2018-07-09 06:51] aead commented on #6132
@Colhodm Can you specify which part of `3. Generate self-signed certificates` does not work / is not clear?

[2018-07-09 16:04] sergeAMD commented on #6102
Hi, any updates on this?
-Thanks.

[2018-07-09 16:44] pszabop commented on #5225
BTW this broke a bunch of Ansible health checks I had.

Once you publish a URL that works, then changing the behavior breaks the API

/gripe off

[2018-07-09 17:26] harshavardhana commented on #5225
@pszabop it is unfortunate that it happened, but what we have now is going to be the right endpoint for future needs.

[2018-07-10 02:32] deekoder commented on #6075
@TheNorthMemory  We do need ListBuckets() enabled to not have other unintended effects.  Perhaps you could prevent the clients from listing in some other way external to disabling ListBuckets()?

[2018-07-10 13:37] advoretsky opened #6138 "docker logs doesn't show any log records"
Can't find logs of the minio server (running in docker)

## Expected Behavior
`docker logs` shows records related to failed requests

## Current Behavior
no logs records by `docker logs`, only  general info about version, endpoint, how to run command line client etc.

## Possible Solution
make logs displayed out of the box

## Steps to Reproduce (for bugs)
[code]

## Context
I'm getting some error

[2018-07-10 14:32] aead commented on #6138
Which error is returned by the S3 client? The server does not log every error (esp. not regular S3 errors - like `bucket does not exist`). AFAIK the server log is not for debugging "expected" errors but for detecting server bugs and / or exceptional error conditions...

[2018-07-10 18:19] ematvey commented on #6063
Thanks for the explanation. I guess most confusing part is using `http` scheme in examples with non-standard implicit port. Maybe you should introduce `minio://` scheme or remove scheme alltogather?

Regarding paths, are nodes allowed to export several mount points on the single host+port combo? I was under inpression that 1 minio instance corresponds to 1 mount point and 1 address (host+port). If

[2018-07-10 20:55] vadmeste opened #6139 "Unable to copy an encrypted multi-part object"
## Expected Behavior
Unable to copy an encrypted multi-part object

## Current Behavior
Failure when copying an encrypted multipart object

mc reporting:
[code]

Minio server reporting:
[code]

(mc should have this fix included https://github.com/minio/minio-go/pull/1006)

## Possible Solution
Do not know yet

## Steps to Reproduce (for bugs)
Test with 1 Gb file.

1. `mc mb myminio/zeta`
2. `mc cp

[2018-07-10 22:05] ebozduman commented on #6063
I see your point. It is a good suggestion to think about. I'll bring it up to the attention of the architect/designer team to consider.

You may have several mount points/disk drives on a single Minio node. However, user needs to be aware of the setup differences and how they impact high availability in distributed setups. Having multiple disks in one server creates a single point of failure. If t

[2018-07-11 00:25] kannappanr commented on #6115
@kallisti5 Thanks for filing this issue. I have spent some time to read about website redirection in AWS S3.

AWS S3 does not just redirect an object in any bucket. The bucket has to be configured for `static website hosting` and the bucket has to be made public as explained here `https://docs.aws.amazon.com/AmazonS3/latest/dev/how-to-page-redirect.html` .

For the redirection to work, the endpoin

[2018-07-11 03:27] #5857 closed, assigned to Praveenrajmani

[2018-07-11 06:36] advoretsky commented on #6138
I'm getting `com.amazonaws.services.s3.model.AmazonS3Exception: The specified bucket does not exist (Service: Amazon S3; Status Code: 404; Error Code: NoSuchBucket; Request ID: 3L137; S3 Extended Request ID: 3L137)`

I don't agree. When I just change config in the system, trying to switch from S3 to minio, I can do it wrong (starting from typo and to confusing bucket with region). Server explanati

[2018-07-11 07:01] #5950 closed, assigned to Praveenrajmani

[2018-07-11 09:57] gberche-orange opened #6140 "Add go runtime metrics to prometheus metrics"
It's great that the [readiness-probe](https://github.com/minio/minio/blob/master/docs/metrics/healthcheck/README.md#readiness-probe) checks the number of goroutines against the 1,000 threshold to report readiness.

It would be useful to be able to get instrumentation for these metrics in the form of additional prometheus metrics, in order to be able to more reliably diagnose capacity problems with

[2018-07-11 12:25] aead commented on #6138
/cc @harshavardhana

[2018-07-11 12:34] nitisht commented on #6140
Prometheus exposes some runtime data by default https://play.minio.io:9000/minio/prometheus/metrics

will this not help?

[2018-07-11 13:51] TheNorthMemory commented on #6075
@deekoder yep, indeed, here's a [tool which is about the oss policy genarator](https://github.com/aliyun/ram-policy-editor/). The policy rules were so clear so do I no reason to "reinvent the wheel".  I think this feature(limited on the special bucket) is not only for the oss gateway but also suitable for the aws, the Minio server also needs  i think.

[2018-07-11 17:37] jfqd commented on #5642
@deekoder would it be possible to include the fix from @ryumei to build on Illumos?

[2018-07-11 17:43] Colhodm commented on #6132
Hey Andreas,
If you do something like this:
go run generate_cert.go -ca --host "10.10.0.3"
openssl ecparam -genkey -name prime256v1 | openssl ec -out private.key
openssl genrsa -out private.key 2048
openssl rsa -in private-pkcs8-key.key -aes256  -out private.key
The last command will result in a private-pkcs-8-key.key not found error.

Also while at the top it says existing certificates can be put

[2018-07-11 18:51] harshavardhana commented on #5642
Please send a PR @jfqd

[2018-07-11 19:13] lukechatton opened #6142 "API: PutObject file access denied on multi-part upload."
## Expected Behavior
Uploading ~50mb files with the minio-cli.

## Current Behavior
Two errors start to spam the console.
[code]

[code]

## Your Environment

[code]

[2018-07-11 19:17] lukechatton commented on #6142
After ~30 minutes of uptime with around 30 uploads per minute, there are 2000+ threads active. CPU is slowed down to a halt.

[2018-07-11 19:39] kannappanr commented on #6138
@advoretsky We do send an error response based on S3 API as provided here https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html

I am not sure which client SDK or tool you are using, but minio server does send an error response in XML format. There is a field in there which specifies what resource in use. In your case you should see the bucket name displayed there.

Here is a sample

[2018-07-11 19:53] harshavardhana commented on #6142
Can you upgrade to latest and test again @lukechatton ?

[2018-07-11 19:57] aead commented on #6132
@Colhodm You are not supposed to run all these commands. For example pick either
 - `openssl ecparam -genkey -name prime256v1 | openssl ec -out private.key`
or
- `openssl genrsa -out private.key 2048`

The current doc provides different options for different scenarios...
Further we are going to give the minio server the capability to (auto) generate certificates (private key + public key/cert). So

[2018-07-11 20:00] keirafadams opened #6143 "Bitrot Detection Reads From Page Cache"
## Expected Behavior
Bitrot detection runs (healing or healing dry runs) should always read from the device, to ensure that persistently stored data is verified.

## Current Behavior
Instead, if an object has been read, it may be resident in the page cache and the checksum will be calculated based on the page cache data, not what is resident on the device. This opens a vulnerability in that an obj

[2018-07-11 20:51] krishnasrinivas commented on #6143
Thanks for the due diligence @ifadams

[2018-07-11 21:34] deekoder commented on #6122
Moving to future milestone.

[2018-07-11 21:38] deekoder commented on #6132
@Colhodm  can you send a PR cleaning up the doc so that it's not confusing for the user?

[2018-07-11 22:04] aead commented on #6132
Still don't see why docs should be confusing... It just contains different ways to generate a private key / certificate. Either using `generate_cert`, `openssl` or `GnuTLS`. If you follow any of this steps everything works fine AFAIK... Of course users should not use **all** options, but IMO that should be clear - or am I assuming too much?

[2018-07-12 00:50] Colhodm commented on #6132
@aead my bad I actually did not run the exact set of commands as I said earlier, I ran
go run generate_cert.go -ca --host "10.10.0.3"
openssl genrsa -out private.key 2048
openssl rsa -in private-pkcs8-key.key -aes256 -out private.key
which gave the error of No such file or directory:bss_file.c:406:fopen('private-pkcs8-key.key','r')
140735787312072:error:20074002:BIO routines:FILE_CTRL:system lib:b

[2018-07-12 05:34] harshavardhana commented on #6092
Closing this as not an issue with Minio, feel free to re-open if you still think this is a Minio problem.

[2018-07-12 05:34] #6092 closed, assigned to harshavardhana

[2018-07-12 05:37] harshavardhana commented on #6069
@vadmeste were you able to look at the change I proposed. We need to fix this due to apparent problem s on smaller terminals our usability is lost.

[2018-07-12 05:41] harshavardhana commented on #5063
@krishnasrinivas is this done? should we close this issue.

[2018-07-12 05:43] harshavardhana commented on #5613
Closing this issue as we are not going to bring back the older behavior of ListMultipartUploads for now.

[2018-07-12 05:43] #5613 closed, assigned to krishnasrinivas

[2018-07-12 05:56] harshavardhana commented on #6139
Moved this to high priority because we have users actively waiting on the fix.

[2018-07-12 08:50] aead commented on #6132
@Colhodm
Still I don't think this is correct. You should only run **one** of the following commands:
- `go run generate_cert.go -ca --host "10.10.0.3"`
- 1. `openssl genrsa -out private.key 2048`
  2. `openssl req -new -x509 -days 3650 -key private.key -out public.crt -subj "/C=US/ST=state/L=location/O=organization/CN=<domain.com>"`

- 1. `openssl genrsa -aes256 -out private.key 2048 -passout pass

[2018-07-12 09:39] MontyGvMC opened #6146 "HTTP HEAD Request against a default presigned get url is not RFC conform"
Generating a presigned get using the C# minio client (Minio.NetCore 1.1.1)

`
  return await Client.PresignedGetObjectAsync(bucketname, key, 60000);
`

and deliver the presigned url to a (e.g. Angular 6) single page application.

## Expected Behavior

The single page application should now be able to do the GET request BUT ALSO an HTTP HEAD request.

## Current Behavior

The current behaviour is t

[2018-07-12 12:05] aead commented on #6146
No this is not possible since this is not S3 compliant. If you create a presigned URL for a GET request the method (GET, HEAD, PUT) is part of the "signature" / MAC. Changing the method causes the "signature" verification to fail. If you try the *Steps to Reproduce* against AWS it also denies the request.

[2018-07-12 12:52] gberche-orange commented on #6140
thanks @nitisht for the heads up!

 I had overlooked these metrics, along with `go_goroutines` (as they are not prefixed by minio nor did I discover them in the [metrics documentation](https://github.com/minio/cookbook/blob/master/docs/how-to-monitor-minio-with-prometheus.md#list-of-minio-metric-exposed)).

[2018-07-12 12:59] gberche-orange commented on #6140
Metrics discoverability would hopefully be addressed by https://github.com/orange-cloudfoundry/cookbook/pull/1

[2018-07-12 12:59] #6140 closed, assigned to nitisht

[2018-07-12 13:28] nitisht commented on #6140
:+1:

We did not document those metrics as they are standard built-in metrics that prometheus clients expose. Nevertheless, it would be better to mention about these metrics in our docs. I will make the changes.

[2018-07-12 14:51] keirafadams commented on #6143
@krishnasrinivas Of course. Let me know if any additional information is helpful.

[2018-07-12 16:12] advoretsky commented on #6138
Thank you. `MINIO_HTTP_TRACE` helped – bucket name was empty. I fixed it by
[code]

[2018-07-12 16:40] #5595 closed, assigned to vadmeste

[2018-07-12 17:06] kannappanr commented on #6138
@advoretsky thanks for getting back to us. Glad that you were able to debug your issue. Will close the issue as answered. Please feel free to open an issue if you have any further questions.

[2018-07-12 17:06] #6138 closed, assigned to kannappanr

[2018-07-12 18:07] nitisht commented on #5725
@magaldima the https://github.com/kubernetes/charts/pull/6152 is merged. You should now be able to use configMaps again. Do you mind giving it a try

[2018-07-12 18:23] #6139 closed, assigned to vadmeste, aead

[2018-07-12 21:16] krishnasrinivas commented on #5063
@harshavardhana we had discussed about implementing this but never implemented. We did not implement because of the migration that had to be done from fs.json to ext attrs and also we will not be able to support metadata on NFSv3 that does not have ext attr support. We need to check with AB if we should close this issue or not.

[2018-07-13 07:10] nitisht commented on #5725
@magaldima I going to close this as Charts is now updated and works on local testing. Feel free to reopen if there is a problem

[2018-07-13 07:10] #5725 closed, assigned to nitisht

[2018-07-13 07:15] nitisht commented on #6146
@MontyGvMC Closing this issue as explained by @aead we won't be able to make the changes you asked for - it is not S3 compatible. Feel free to get back if there are further questions.

[2018-07-13 07:15] #6146 closed, assigned to aead

[2018-07-13 07:36] #5924 closed, assigned to Praveenrajmani

[2018-07-13 07:39] wd256 commented on #6052
@krisis while testing your pull request I saw that when I set the max-keys parameter the results were correctly limited but no NextContinuationToken was provided in the response and IsTruncated is false.

When I looked into the issue further I noticed that using the object iterator provided by the GCS client is problematic given that we skip the minio.sys.tmp/ key when it appears in the results. T

[2018-07-13 07:41] nitisht commented on #5276
closing this issue as we have revamped logging

[2018-07-13 07:41] #5276 closed, assigned to krisis

[2018-07-13 08:06] jfqd commented on #5642
Thx for the offer, I created the PR: https://github.com/minio/minio/pull/6150

[2018-07-13 09:23] vermaden opened #6151 "Distributed 3-node Minio stops working when 1 of 3 nodes is down"
On FreeBSD 11.1 amd64 we have 3 nodes for Minio Distributed cluster - an asymetric setup as follows:

node1
[01/16] http://node1:9000/data0 - 246 GiB online
[02/16] http://node1:9000/data1 - 246 GiB online
[03/16] http://node1:9000/data2 - 246 GiB online
[04/16] http://node1:9000/data3 - 246 GiB online
[05/16] http://node1:9000/data4 - 246 GiB online
[06/16] http://node1:9000/data5 - 246 GiB onlin

[2018-07-13 14:15] Cdaly1970 opened #6153 "Feature request - Gateway for Azure Data Lake"
While the direct access to Azure blob storage is a fantastic feature, Azure SME's typically position Azure Data Lake Store as the equivalent S3 storage for Big Data applications.  And since most 3rd Big Data apps incorporate some kind of S3 access model, providing a gateway to ADLS would open a wider option for Minio in the Big Data space.

[2018-07-13 14:31] firrae opened #6154 "Website is having issues"
Hey there,

Just notifying you that it seems https://www.minio.io/ is having issues rendering? It just seems to be dumping the template instead of it being parsed into valid HTML.

Wasn't sure how else to inform you. Thanks,

Steve

[2018-07-13 15:44] nitisht commented on #6154
Thanks for reporting @firrae we will take a look ASAP

[2018-07-13 16:22] harshavardhana commented on #6154
Closing this as fixed for now. Thanks for letting us know @firrae

[2018-07-13 16:22] #6154 closed, assigned to nobody

[2018-07-13 16:25] harshavardhana commented on #6151
@vermaden you need to update your Minio version to latest release, we have made significant changes since then in our distributed erasure coding subsystem.

[2018-07-13 17:15] firrae commented on #6154
Awesome, thanks! Keep up the good work with this project!

[2018-07-13 17:28] nitisht commented on #6052
Reopening this, as based on @wd256 [comment](https://github.com/minio/minio/issues/6052#issuecomment-404753031) this is not fixed yet

[2018-07-13 17:35] #5922 closed, assigned to nitisht

[2018-07-13 17:45] nitisht commented on #5456
@arnaud-web is this still a problem, if not we can close this issue

[2018-07-13 21:18] krisis commented on #6052
@wd256 thank you for looking closely into this issue. Your proposal, to use `Pager` struct to control listing of objects (and prefixes) on GCS so that we return the exact number of objects requested (by the application in front of the gateway) and setting `ContinuationToken` and `IsTruncated` correctly, sounds good to me. Let me know if you need me to review your code before its ready. Thanks agai

[2018-07-14 00:05] robgirard opened #6156 "Detect & warn if minio distributed mode has sub-optimal ordering of disks in distro sets"
## Expected Behavior
Currently, a user could accidentally run distributed mode in a sub-optimal way that may jeopardize HA (the ability to lose a node).
##### Example:
Minio server configured for EC:4 erasure coding (12 data + 4 parity)
`minio server http://server{1..4}/disk{1..8}`  *wrong way* - 2 ellipse expand in shell
vs
`minio server http://server{1...4}/disk{1...8}` The *right way* - minio s

[2018-07-14 00:36] alfozan opened #6157 "using Minio Browser with AWS S3/Ceph RGW"
The Minio browser is a simple and elegant tool to interact with object storage backends.

It'd be great to add config ( `<YOUR-S3-ENDPOINT> , <YOUR-ACCESS-KEY> , <YOUR-SECRET-KEY> `) so the browser can connect to other services like AWS S3/Ceph RGW

[2018-07-14 01:01] harshavardhana commented on #6157
you can use `minio gateway s3`

[2018-07-14 02:10] robgirard opened #6158 "Incoming/Outgoing stats are incorrect (mc admin info)"
The stats reported in `mc admin info` are incorrect.

## Expected Behavior
I expect the incoming & outgoing bytes to be accurate. Ideally, there would be 4 counters:

__INTERNAL-INCOMING__ (bytes received from other nodes in the cluster/federation. Includes data parts fetched, and internode communications)
__INTERNAL-OUTGOING__ (bytes sent to other nodes in the cluster/federation)
__CLIENT-INCOMIN

[2018-07-14 02:50] robgirard opened #6159 "Generate/calculate internal HTTP/RPC & disk metrics"
If a single node has a single slow disk, or bad network connection (up, but poorly performing), performance of the whole cluster will be impacted. Troubleshooting this may be difficult, especially if the culprit is only ONE of several interswitch links within an LACP bundle between switches. Network conditions could be due to faulty physical hardware, or sporadic cases where one or more links are

[2018-07-14 03:13] lukechatton commented on #6142
Will be able to update and restart on Monday.

It took a hardware reboot to make everything run again. Unfortunately I'm still seeing the thread count grow. After 48 hours it was at 640+ threads.

[2018-07-14 05:43] kannappanr commented on #6157
@alfozan You can use `MINIO_ACCESS_KEY=<AccessKey> MINIO_SECRET_KEY=<SecretKey> minio gateway s3` can be used to connect to AWS S3. `MINIO_ACCESS_KEY=<AccessKey> MINIO_SECRET_KEY=<SecretKey> minio gateway s3 --address http(s)://s3Endpoint:port` can be used to connect to any other AWS S3 compatible endpoint. please feel free to reach out to us if you have any other questions.

[2018-07-14 05:43] #6157 closed, assigned to nobody

[2018-07-15 02:25] harshavardhana commented on #6142
Thread count is not a problem unless it doesn't go down .. how are you testing thread count ? Is there any active I/O ? Do you see any cpu activity ?

Also I am assuming you don't see access denied errors anymore ?

[2018-07-15 02:27] harshavardhana commented on #5456
Closing this for now. Please re-open if you have this issue again.

[2018-07-16 04:40] nitisht commented on #6076
@unicman I am going to close this for now, as there is nothing to be done from Minio server code perspective.

Once the PR kubernetes/charts#6368 is merged, this should work, if not, feel free to reopen this.

[2018-07-16 04:40] #6076 closed, assigned to nitisht

[2018-07-16 06:35] wd256 commented on #6052
thanks @krisis, I've created a PR for the branch and it would be great if you have a chance to check it out

[2018-07-16 08:24] nitisht commented on #6102
hey @sergeAMD - looks like you have two different versions of `minio-js` running, the one on windows is `5.0.2` while on Linux it is `6.0.0`. Can you update the minio-js library on your windows box and try again.

[2018-07-16 08:25] nitisht commented on #6102
the `6.0.0` release changes the fPutObject API https://github.com/minio/minio-js/compare/5.0.2...master

[2018-07-16 09:35] nitisht commented on #5970
@pospelov-v closing this due to no response. Feel free to get back / reopen if you think something is not working as expected.

[2018-07-16 09:35] #5970 closed, assigned to kannappanr

[2018-07-16 18:41] deekoder commented on #6153
We will investigate this further.

[2018-07-16 18:42] deekoder commented on #6151
Let us know @vermaden  if everything works after you updated.

[2018-07-16 21:11] vermaden commented on #6151
I will be back at work on 2018/07/23, I will do the upgrade then and make the test again.

[2018-07-17 02:10] tylerforsythe opened #6164 "After version upgrade, consistent Out of Memory errors and high utilization"
## Expected Behavior

Minio runs within memory constraints without crashing.

## Current Behavior

Using a version of Minio from mid-October 2017, server had no issues running. After upgrading to the latest version a few weeks ago (skipping many in-between), Minio crashes after a few hours of intense CPU, disk, and memory activity with an out of memory error (see log file attached). Continuing to

[2018-07-17 02:18] harshavardhana commented on #6164
- The CPU usage is due to disk utilization crawling, which would suspend itself if there is an active I/O - if you have a lot of data it will take a while before it computes the utilization.
- Memory usage is perhaps because we have changed the bit-rot behavior by loading each block in memory around 4-5months ago. The version perhaps which you used in 2017 was not creating smaller blocks for objec

[2018-07-17 04:28] tylerforsythe commented on #6164
Thanks for the response, @harshavardhana. Are you implying that if I keep starting the minio process and letting it run that it will eventually finish computing what it needs to do? Or do I need to find those large objects and delete/copy them? (In both cases, assuming a fix does not arrive first.) I generally try to keep large files out of my backups but in this case I do know of a few that sneak

[2018-07-17 06:05] harshavardhana commented on #6164
Yes, it will finish computing them eventually, now this depends on the disk itself. There will be a spike in CPU if there is no active I/O in progress to use the disk.

There is no fix actually since we have moved to the model I explained because of an important requirement in bit-rot verification but changed the chunking behavior instead.  But since we had to support backward compatibility we sti

[2018-07-17 07:19] alfozan commented on #6157
Thanks - I just tested the browser client with Ceph v13.2.0 RGW and it's working great!

`docker run -it --rm -p 9000:9000 -e "MINIO_ACCESS_KEY=x" -e "MINIO_SECRET_KEY=y" minio/minio minio gateway s3 http://IP:7480`

[2018-07-17 13:22] dwsteele commented on #4881
This behavior causes problems for pgBackRest: https://github.com/pgbackrest/pgbackrest/issues/556.  pgBackRest is currently running on a number of S3 gateways (ScalityS3, IBM Cloud, Ceph, Swift, etc.) with no problem but fails on minio because of this limitation.

The workaround does not seem to be very intuitive.  It seems like this should be an option that defaults to `off` and can be enabled by

[2018-07-17 16:03] harshavardhana commented on #4881
FS mode is simplest with no multiple codepaths with different behaviours. We would like to keep less knobs or avoid them if possible. In this definitely no knobs. For most applications it has not been a problem and there is no reason to provide a non performant version in the FS codebase.

The workaround is simply use erasure coded backend which still supports this ..

[2018-07-17 16:15] sgamzn commented on #4881
I think this is a mistake. This product is a generic tool, so performance here is secondary to compatibility. When you get Ferrari, you want to squeeze every possible drop of performance out of it and that's OK if it is not comfortable to drive; but this is rather Camry, where you want all minutiae to work - windshield wipers, brake signals, and it's unfathomable to be swapping all wheels while on

[2018-07-17 17:46] harshavardhana commented on #4881
For now it is here to stay and the workaround is to use erasure coding if you have such an application. The performance was not the real reason perhaps it was miscommunicated before in-fact it was the simplicity of the codebase which is of utmost importance for our maintenance. The trade-off was we lose compatibility which is okay for stability.

[2018-07-17 18:09] eco-minio opened #6166 "Recursive rm results in hang"
`mc rm --recursive --force <host>/<bucket>` results in hang
## Expected Behavior

mc rm should be able to remove all files without hanging

## Current Behavior

When running the command against a bucket with many thousands of files, it lists the first 1000 files then hangs
[code]

## Possible Solution

Possibly doing a remove of the bucket without verifying all files (although this would result in

[2018-07-17 18:11] harshavardhana commented on #6166
Ping @vadmeste

[2018-07-17 19:03] sergeAMD commented on #6102
Thank you @nitisht

[2018-07-17 20:34] kannappanr commented on #6102
@sergeAMD Is your issue resolved? If yes, can you please close the issue?

[2018-07-17 20:35] #6102 closed, assigned to nitisht

[2018-07-17 20:38] vadmeste commented on #6166
@eco-minio I was probably able to reproduce this, but to confirm, I wanted to know if you saw any printed error in Minio output ?

[2018-07-17 21:00] eco-minio commented on #6166
Eventually saw errors like

`minio1_1  | API: PutObject(bucket=test, object=passwd)
minio1_1  | Time: 20:36:28 UTC 07/17/2018
minio1_1  | RemoteHost: 172.18.0.1
minio1_1  | UserAgent: Minio (darwin; amd64) minio-go/v6.0.6 mc/2018-07-13T00:53:22Z
minio1_1  | Error: Write failed. Insufficient number of disks online
minio1_1  |        1: cmd/xl-v1-utils.go:74:cmd.reduceQuorumErrs()
minio1_1  |

[2018-07-17 21:19] vadmeste commented on #6166
We had inode checks before but it was removed by this PR https://github.com/minio/minio/pull/4747

By the way, can you check the number of free inodes before starting to test ? It is probably that in your case, free inodes is probably always 0.

Besides, what is the server configuration ? FS ? Distributed XL ?

[2018-07-17 21:47] ghost commented on #5456
@nitisht yes the problem is still here.

@harshavardhana  can you reopen, please ?

[2018-07-17 21:48] eco-minio commented on #6166
Running `mc find <host>/<bucket>/ --exec "mc rm {}"` is slowly freeing up inodes, I'll wait until I have a decent amount before trying again.  Does mc rm of an entire bucket put things over to a temp space before deleting?  Might explain why mc rm --exec works but mc rm <bucket> doesn't?  Server config is distributed - `command: server http://minio{1...4}/lb{1...8}`

[2018-07-17 21:48] ZeroParticle commented on #6142
I also have access to the servers that we see this happening on, so I'll toss in some more information. I updated to the latest version using `minio update` last night. About 8 hours later Minio was using quite a lot of cpu and had close to 1000 threads running. dstat showed cpu was waiting a majority of the time (with basically zero idle), unfortunately I don't remember the exact disk stats, will

[2018-07-17 22:43] deekoder commented on #6151
@vermaden  we will close this issue as working as intended after you update. Please reopen if this is not the case at your end.

[2018-07-17 22:44] deekoder commented on #6122
Closing this item as something we will look into the future and will reopen when we get to our backlog in the next iteration.

[2018-07-17 22:44] #6122 closed, assigned to nobody

[2018-07-17 22:49] harshavardhana commented on #6142
the EOF is related to the metadata file not being able to read what is your backend filesystem here? @ZeroParticle

[2018-07-17 22:58] ZeroParticle commented on #6142
The filesystem on both servers is ext4.

[2018-07-17 23:30] harshavardhana commented on #6142
Have you run `fsck`? this looks like the `fs.json` files are zeroed out in some form, did you have an abrupt server shutdown etc while there was writing in progress? since `fs.json` is written in sync mode you cannot see zero bytes unless filesystem check sort of corrupted these files.

This error only happens if the client didn't send the entire object as specified in the content-length. So someo

[2018-07-17 23:30] deekoder commented on #6158
This is blocked till rob/ab finalize the exact output.

[2018-07-18 00:04] ZeroParticle commented on #6142
Have not run `fsck`. Definitely have had abrupt server shutdowns since Minio was causing the entire box to become unresponsive.

Just checked the heavier use storage server, and the minio logs are now completely filled with:

[code]
Different remote hosts each time. Thread count has now increased significantly, over 500 new threads since copying that error and typing that sentence (1374 threads no

[2018-07-18 00:17] ZeroParticle commented on #6142
Don't know if this will be helpful at all but here is the prometheus endpoint output:
[code]

[2018-07-18 00:30] ZeroParticle commented on #6142
Box became unresponsive, after restarting it's fine. Before the box became completely unresponsive Minio had over 2500 threads and was still growing.
Normal dstat output:
[code]

[2018-07-18 00:57] deekoder opened #6167 "Add encryption support in minio gateway"
A special switch could be turned on when starting minio in gateway mode to enable encryption.

## Expected Behavior
if this switch is not on, gateway should not do any encryption in the gateway mode.  People who use minio gateway to retain the ability to access minio natively will still be able to.

## Current Behavior
 There is no gateway encryption support

## Possible Solution
 Start with an op

[2018-07-18 01:06] harshavardhana commented on #6142
How many incoming requests do you have? perhaps a `lsof -iTCP` can provide that.  From you previous dstat output I see a quite a lot of disk activity (writes), are you sure that your backend disk is capable to handle the load? would it be possible for you to `dd if=/dev/zero of=bigfile bs=1M count=1024 oflag=direct` on the backend disk.

If you do have a higher RAM then it might be necessary for y

[2018-07-18 01:32] ZeroParticle commented on #6142
That level of activity is highly unusual and only appears to happen when Minio is having problems. Incoming requests are fairly infrequent. Running`lsof -iTCP`shows only a few connections to our host nodes, sometimes none which seems reasonable at this time of day.

dd output:
[code]

[2018-07-18 02:09] harshavardhana commented on #6142
Minio wouldn't be writing so much data unless there is an active incoming request, the number of threads is only possible when there is a good amount of incoming requests. I am suspecting there is a rogue client which is perhaps using a lot of resources here. Is this deployment a public facing? i.e over the internet.

The mode that you are using is FS mode which only opens a thread as much as the

[2018-07-18 03:15] ZeroParticle commented on #6142
The storage server is firewalled to only allow connections from our hosts. I doubt any of our services have been making an obscene amount of requests, but I will try to verify that again over the next 24 hours. It has been running fine since the restart 3 hours ago, though it seems that around the 8 hour mark is when things start going downhill.

I'm not sure how exactly you'd want to do a remote

[2018-07-18 03:19] harshavardhana commented on #6142
Feel free to email me at harsha@minio.io or ping me y4m4 handle at https://slack.minio.io @ZeroParticle . Would be faster to speak there ...

[2018-07-18 09:19] aead commented on #6167
See also #5801

[2018-07-18 16:19] #6052 closed, assigned to krisis

[2018-07-18 17:30] eco-minio commented on #6132
Tested `go run generate_cert.go -ca --host "10.10.0.3"` on Mac High Sierra and Ubuntu 18.04, in both cases server would not start with https.

$ go run generate_cert.go -ca --host "192.168.56.101"
2018/07/18 10:04:58 written cert.pem
2018/07/18 10:04:58 written key.pem
$ cp cert.pem key.pem ~/.minio/certs/
$ minio server /home/e/ssltest/data{1...8}
Status:         8 Online, 0 Offline.
Endpoint:  *

[2018-07-18 17:38] harshavardhana commented on #6167
Can we close this bug? #5801 covers the same situation, we should update new changes required in that bug instead.

[2018-07-18 18:01] eco-minio commented on #6166
Even with some inodes freed behaviour still persists.

[2018-07-18 21:48] eco-minio commented on #6075
@TheNorthMemory The intent is that you should run one gateway per tenant.  In this way, you can enable OSS policy per tenant at the provider level to disallow access to listBuckets for those tenants you don't wish to have access.

[2018-07-18 22:10] kannappanr commented on #6153
@Cdaly1970 Thank you for your suggestion. We had a brief talk about this request. We will definitely be incorporating this into our roadmap. We are doing other important features like identity management. We will take a look into ADLS APIs and get back to you with more information on a timeline when we can implement this feature.

[2018-07-19 03:01] nitisht commented on #5456
Okay, let me go through the details and get back to you on this

[2018-07-19 14:05] OlivierTarnus opened #6170 "Support Kafka authentication and TLS for bucket notifications"
## Expected Behavior

We should be able to specify the username and password to use when connecting to Kafka brokers, triggering the SASL/PLAIN mechanism that is supported by Sarama library. Ideally, support for TLS should also be configurable.

## Current Behavior

Contrary to other bucket notification endpoints, there is currently no property available to configure authentication for Kafka. This

[2018-07-19 14:42] kannappanr commented on #6170
@OlivierTarnus Thanks for filing the issue. We will look into this and get back to you on a timeline for implementing this.

[2018-07-19 15:18] OlivierTarnus commented on #6170
Thanks @kannappanr !

[2018-07-19 16:52] balamurugana commented on #6170
@OlivierTarnus Current configuration is in https://github.com/minio/minio/blob/master/pkg/event/target/kafka.go#L31.  Similarly it is used like https://github.com/minio/minio/blob/master/pkg/event/target/kafka.go#L104.

1. Do you say all brokers require same config mentioned in https://godoc.org/gopkg.in/Shopify/sarama.v1#Config ?

2. As https://godoc.org/gopkg.in/Shopify/sarama.v1#Config is huge

[2018-07-19 17:59] annanay25 commented on #6170
@balamurugana I have submitted #6172 in reference to this issue. Waiting for exhaustive list of config attributes from @OlivierTarnus.

[2018-07-19 18:54] #4830 closed, assigned to nitisht

[2018-07-19 22:49] #6069 closed, assigned to vadmeste

[2018-07-20 01:20] balamurugana commented on #6170
@annanay25 What is answer for question `1`?  one configuration for all brokers?

[2018-07-20 02:00] harshavardhana commented on #6164
@tylerforsythe are you satisfied with the assessment and remedies?

[2018-07-20 02:46] tylerforsythe commented on #6164
@harshavardhana my understanding is that you know what's happening based on the log, and the immediate solution for me is to simply let minio run and it will eventually finish what it's trying to do in the background. Hopefully longer-term the out of memory exception is addressed so that future users won't run into this issue.

I'm a little concerned that minio is getting stuck and never going to

[2018-07-20 03:02] harshavardhana commented on #6164
are you saying that CPU usage is high even after the last 2weeks? or 3? - the usage routine runs every 12 hours, right after the first usage check gets over?

Memory usage as I explained is mostly due to the fact that you uploaded large files which were chunked differently previously, you can re-chunk by using CopyObject() API by performing a server-side copy of the object.  `mc cp` or directly us

[2018-07-20 04:15] tylerforsythe commented on #6164
Correct. I'm saying that I've been having this sort of CPU/memory/disk utilization from the minio.exe process for at least 2 weeks now, basically constant--not limited to a few times a day. I think running it as a service auto-restarts it when it crashes.

I used the command `mc find local --larger 1GB` a few days ago and, after running a couple hours, it didn't find anything, which surprised me.

[2018-07-20 05:45] harshavardhana commented on #6164
This is very unusual and unexpected, do you have any more details like memory, CPU profiling? can you enable with `_MINIO_PROFILER=mem` to `_MINIO_PROFILER=cpu`? as an environment variable on windows?

[2018-07-20 07:57] OlivierTarnus commented on #6170
Hello @balamurugana ,

1. I would say yes. In a properly configured cluster both authentication and encryption parameters should be aligned across all brokers.
2. I think the Net -> SASL structure is the key for configuration for authentication, for ex. by turning on the the Enable flag when a username and password are specified in MinIO config. The Net ->TLS struct is the key for enabling TLS, bu

[2018-07-20 08:29] balamurugana commented on #6170
OK

I see `TLS.Enable = true` is sufficient to connect to server securely.  Server should have a valid certificates.

[2018-07-20 08:55] annanay25 commented on #6170
+1 @OlivierTarnus: Kafka broker authentication is aligned across all brokers.

@kannappanr, for `TLS.Enable`, I think default SSL configuration enables 1-way authentication, in which only client verifies the server certificate. However, for 2-way authentication, each client would need to create a cert-pair and get this verified by the brokers.

Ref: https://github.com/confluentinc/confluent-platfo

[2018-07-20 09:16] OlivierTarnus commented on #6170
@annanay25 , agree on the 2-way SSL authentication but won't be able to help on testing this. Not sure if this is widely used...

[2018-07-20 14:28] NicolasDutronc commented on #2965
Hi @nitisht ! I'm facing the exact same issue as @bigclouds. I'm trying to write a dataframe as a hive table to minio.
My setup:
* spark-2.2.1-bin-without-hadoop
* Hadoop 2.8.3
* Hive 2.3.3
* Minio edge (pulled today)

[2018-07-20 15:09] tylerforsythe commented on #6164
Sure, I'll give it a shot with _MINIO_PROFILER=mem and report back when I've got a useful log. Where should I look for the output file? Once I have one for mem, I'll do it again for _MINIO_PROFILER=cpu. Or can I do both at the same time?

[2018-07-20 15:12] nitisht commented on #2965
what is the aws-sdk-java version you're using @NicolasDutronc

[2018-07-20 18:10] harshavardhana commented on #6164
You need to do one at a time otherwise profiler output will be inconsistent. The profile output is generated in your temporary directly. So once you enable it you will see a message at the top of the startup where this file is going to be stored.

[code]

[2018-07-20 18:16] #6167 closed, assigned to krishnasrinivas

[2018-07-20 18:18] deekoder commented on #6158
unassigned @balamurugana till @robgirard works out the actual UX with ab for what he thinks ought to be shown instead.

[2018-07-21 01:51] liangyuanpeng opened #6181 "how can i create a sub bucket"
## Expected Behavior
I want to create a sub bucket，how can i do?

with api or with web

like bucket/2018/07/21/object

:smiley:

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`una

[2018-07-21 01:55] harshavardhana commented on #6181
Have you tried doing `mc mb`? NOTE: you will have to create the bucket first.

[code]

[2018-07-21 01:58] liangyuanpeng commented on #6181
Can i use an API or the web for it

[2018-07-21 02:02] harshavardhana commented on #6181
you can PUT its with the API

[code]

[2018-07-21 02:15] liangyuanpeng commented on #6181
got it, maby i will try

thank you for your help! :+1:

[2018-07-21 02:18] harshavardhana commented on #6181
Closing as answered.

[2018-07-21 02:18] #6181 closed, assigned to nobody

[2018-07-21 06:13] harshavardhana opened #6182 "Migrate config.json into `.minio.sys/config` erasure coded backend"
Requirements
** not using the template on purpose **

- config.json is moved to `.minio.sys/config/config.kv` and is also erasure-coded.
- move config.json from JSON format into a more key-value format in memory format and also a serialization technique.
- In federated setup, `config.json` is loaded from etcd instead just the way it is today.
- Migration of config params happens after acquiring ds

[2018-07-21 16:20] tylerforsythe commented on #6164
Here are CPU and MEM files from different runs yesterday. They are .pprof files renamed to .txt so GitHub will accept them. Peak minio.exe memory usage was at least 20 GB each run.

[cpu.txt](https://github.com/minio/minio/files/2216320/cpu.txt)
[mem.txt](https://github.com/minio/minio/files/2216321/mem.txt)

[2018-07-22 02:41] harshavardhana commented on #6164
Thanks @tylerforsythe

[2018-07-22 16:29] sureshpasupathi opened #6187 "Minio distributed deployment waiting for disks to come online indefinitely"
I ran minio command on 4 servers to start minio in distributed node. I made sure the time is in sync on all servers and port 9000 is open at iptables. But all four servers are waiting for disks to come online for more than hour.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. Have a wrapper script as below on all 4 servers and running the wrap

[2018-07-22 16:41] harshavardhana commented on #6187
Check if you have

- ntp setup on all servers
- selinux disabled
- minio servers have write access to your backend
- firewall disabled or enabled to access port 9000
- all servers are running same version

[2018-07-22 17:05] sureshpasupathi commented on #6187
Thanks for the quick response. All the above were setup as expected except with one exception. Even though I had enabled port 9000, had another rule that was denying all traffic just above it. Disabled iptables for testing and now it started on all 4 servers and I can access the object storage just fine. Thank you.

[2018-07-22 17:05] #6187 closed, assigned to nobody

[2018-07-23 01:03] TheNorthMemory commented on #6075
@eco-minio oh, i see and get you point too. The minio server was designed as one AK per tenant. One instance server may need full access on the special bucket. The OSS gateway also need the `listBucket` access limited. I'll try to adjust the aliyun ram to fit for the restricted. Thanks all for the feedbacks. comment the point here for other developers.

[2018-07-23 01:03] #6075 closed, assigned to eco-minio

[2018-07-23 08:04] koreno opened #6188 "Unable to initialize backend: Disk .../minio/b: corrupted backend format, please join ...slack.minio.io for assistance"
Configured minio to run on a cluster of d2.2xlarge instances on AWS.
Most of the time it works fine, but occasionally minio refuses to boot, and we get this error message in /var/log/messages

## Expected Behavior
minio should initialize successfully

## Current Behavior
minio fails to initialize, producing an error message
Unable to initialize backend: Disk .../minio/b: corrupted backend format,

[2018-07-23 08:45] Grossmann-Widas opened #6189 "Slack link on website is expired"
Hi!
I just wanted to join your slack channel but it seems like the invitation link on the website is expired :(

[2018-07-23 08:51] harshavardhana commented on #6189
Thanks for letting us know, it was our mistake. It should be working now closing this issue.

[2018-07-23 08:51] #6189 closed, assigned to nobody

[2018-07-23 08:54] NicolasDutronc commented on #2965
I tried with two different versions:

* 1.11.234 as suggested by the [cookbook](https://github.com/minio/cookbook/blob/master/docs/apache-spark-with-minio.md). It throws ```java.lang.NoClassDefFoundError: Could not initialize class org.xerial.snappy.Snappy```
* 1.10.6 (included in hadoop 2.8.3) which throws ```org.apache.hadoop.fs.s3a.AWSClientIOException: innerMkdirs on s3a://hive/hive-warehouse/

[2018-07-23 08:57] harshavardhana commented on #2965
@NicolasDutronc let's open a new issue and continue the discussion there.

[2018-07-23 09:05] koreno commented on #6188
also, this is the content of our config file:

[code]

[2018-07-23 09:19] NicolasDutronc opened #6191 "Unable to write data as Hive table with Spark"
Hi there ! I'm trying to setup the Hive metastore with Minio as a storage backend in order to be able to write Spark Dataframes to Minio as Hive tables. I'm using ```data.write.saveAsTable("tableName")```.

## Expected Behavior
It should reach the metastore to write metadata and write the Dataframe to Minio.

## Current Behavior

* With `aws-java-sdk 1.10.6` (included in hadoop 2.8.3): ```
org.apa

[2018-07-23 09:20] NicolasDutronc commented on #2965
@harshavardhana I opened a new issue as requested: https://github.com/minio/minio/issues/6191

[2018-07-23 09:21] harshavardhana commented on #2965
Thanks @NicolasDutronc for your consideration

[2018-07-23 09:27] nitisht commented on #6191
Have you seen this solution @NicolasDutronc https://stackoverflow.com/questions/45050937/error-could-not-initialize-class-org-xerial-snappy-snappy

[2018-07-23 18:20] lukechatton commented on #6142
We managed to resolve the issue. It was due to an issue on our end. Thank you for looking into this in-depth. The support was really appreciated.

[2018-07-23 18:20] #6142 closed, assigned to harshavardhana

[2018-07-24 06:37] stepanovdmitrii opened #6194 "Operation PUT Object - Copy, incorrect respone"
In accordance with the S3 API, PUT Object - Copy should return response without xml namespace, but minio's implementation returns response with xml namespace.

## Expected Behavior

Method PUT Object - Copy should return a response like this:

[code]

## Current Behavior

Method PUT Object - Copy should return a response like this:

[code]

[2018-07-24 06:41] harshavardhana commented on #6194
I think our behavior is correct here is the aws cli output for copy-object API

[code]

[code]

Look at the XML output
[code]

[2018-07-24 06:47] harshavardhana commented on #6194
@stepanovdmitrii do not go by the documents mentioned here https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectCOPY.html - they are usually incomplete regarding some important details.

The actual behavior of API sometimes varies.

[2018-07-24 06:49] stepanovdmitrii commented on #6194
@harshavardhana but what is it "actual behavior of API" in this case?:)

[2018-07-24 06:50] harshavardhana commented on #6194
Just run `aws` CLI against AWS S3 and observe the HTTP traffic :-)

[2018-07-24 06:51] harshavardhana commented on #6194
Going to close this issue as working as intended... @stepanovdmitrii  we are behaving same as AWS S3

[2018-07-24 06:51] #6194 closed, assigned to nobody

[2018-07-24 06:52] stepanovdmitrii commented on #6194
@harshavardhana the best API I've seen:)

[2018-07-24 08:10] nitisht opened #6196 "Prioritize HTTP requests over heal operation"
**Not using the template on purpose**

With https://github.com/minio/minio/pull/6091 we added low priority
scheduling for usage check routine, such that
other go-routines blocked will be automatically
unblocked and prioritized before usage.

Based on discussion with @abperiasamy we should take a similar approach
for healing operation where incoming requests to the server are
prioritised over inter

[2018-07-24 13:00] ishanchandrajoshi opened #6197 "Problem in configuring TLS for Minio in Distributed Mode on DC/OS"
I  want to implement TLS for Minio in distributed mode on DC/OS. DC/OS generates public certificates and private keys and stores them in the sandbox. But, for each task a different pair of public certificate and private key is generated. In this case, one needs to copy public certificate of all the servers into CAs folder of each server. But, it is not possible to access data of other task in a di

[2018-07-24 13:26] kannappanr commented on #6197
@ishanchandrajoshi Thanks for filing the issue. Have you had a chance to look into importing custom certificates onto DC/OS? https://docs.mesosphere.com/1.11/security/ent/tls-ssl/ca-custom/

[2018-07-24 16:28] Self-Perfection opened #6198 "Missing ETag in GET response"
I was using minio storage as external FS, filesystem behaviour was emulated by https://github.com/s3ql/s3ql . After recent s3ql upgrade something went wrong and s3ql now can't mount storage.

At first I supposed that the bug is on s3ql side (s3ql/s3ql#35) but further testing revealed, that minio does not provide `ETag` header in response to `GET /<bucketname>/<prefix>s3ql_passphrase`. Just in case

[2018-07-24 16:48] harshavardhana commented on #6198
@Self-Perfection how do you know ETag is missing? can you enable `export MINIO_HTTP_TRACE=/dev/stdout` to trace the incoming HTTP requests before starting the server and run s3ql?

[2018-07-24 16:56] Self-Perfection commented on #6198
@harshavardhana I recorded network traffic on client side with Wireshark and checked packet contents.

I have quite limited access to host which runs minio but I'll try to check from minio side as well.

[2018-07-24 17:29] Self-Perfection commented on #6198
Network traffic recorded on minio host confirms, that it does not send `ETag` header.

[2018-07-24 17:31] harshavardhana commented on #6198
Please paste the entire trace @Self-Perfection

[2018-07-24 17:39] eco-minio opened #6199 "minio update command shows errant success message"
When running minio update without proper permissions, message states update is successful even though it is not
## Expected Behavior

`minio update` should show error if not able to be updated properly

## Steps to Reproduce (for bugs)

[code]
Note here that it mentioned the update was successful, but minio version shows it did not.  Now, again with `sudo`:

[code]
## Context

## Your Environment

[2018-07-24 17:46] harshavardhana commented on #6198
So I tried the latest s3ql seems to be working file with the latest Minio release

[code]

[2018-07-24 18:23] Self-Perfection commented on #6198
Here is entire conversation.
[code]

And ( I've mentioned in first post ) creating **new** fs works. But I can't mount **old** fs, that was created a year ago.

[2018-07-24 18:31] harshavardhana commented on #6198
This looks like there was a bug before and new s3ql is expecting ETag - you might have to recreate this file or manually edit `<backend_dir>/.minio.sys/buckets//backup/borg2s3ql_passphrase/fs.json`  for example

[code]

[2018-07-24 19:23] Self-Perfection commented on #6198
It seems to me there is bug _now_ but I don't understand on which side.

Is `ETag` mandatory in response headers? If it is then minio should try to recover incorrectly stored objects and provide `ETag`. If `ETag` is optional, then s3ql should be able to work even if `ETag` is missing.

[2018-07-24 19:35] harshavardhana commented on #6198
ETag is not optional but from what it looks like this data is old and we perhaps had a bug at that point, so you can manually set this value and edit the file or re-create it. We still serve the data anyways in standalone mode without having these metadata.

[2018-07-25 04:31] #4881 closed, assigned to krishnasrinivas

[2018-07-25 13:11] rugved9713 commented on #4348
@krishnasrinivas : Could you please share any link or document where you have capture the ctrl C or any other kill signal ? I have to test my minio for graceful shutdown on dcos

[2018-07-25 14:01] zh99998 commented on #4210
+1

not all x86 synology device runs Docker.
my DS418play is x86, but don't have docker.

[2018-07-25 14:49] NicolasDutronc commented on #6191
I tried several things and I almost got it to work. I added manually the snappy jar into my spark/jars folder.
Now when I execute `saveAsTable`, the data is correctly saved in Minio (there is `_SUCCESS` file beside the data). However the table is not registered in the metastore and I received this exception:
[code]

I guess the error is due to the fact that `s3a://hive/warehouse/cards` is not a fi

[2018-07-25 16:00] nitisht commented on #6191
This may be the case, how are you running Minio server? I mean is it erasure code? Also, if you can provide detailed steps I can try to reproduce the situation

[2018-07-25 16:22] NicolasDutronc commented on #6191
I'm running minio as a docker container with docker-compose:
[code]

I started a local spark standalone cluster with 1 master and 1 worker, the hive metastore service and zeppelin which I use to write spark code. I added the spark dependencies as it is specified in the cookbook as well as the [spark-hive](https://mvnrepository.com/artifact/org.apache.spark/spark-hive_2.11/2.2.1) dependency. Note t

[2018-07-25 16:32] nitisht commented on #6188
I just observed @koreno from the entries you shared, there is the `lost+found` directory in `/minio/b`, this can cause issues. Minio erasure code needs empty directory to start, can you remove these directories or use another data directory for Minio and give it a try..

[2018-07-25 16:41] nitisht commented on #6191
Can you try erasure code setup and try once: https://docs.minio.io/docs/deploy-minio-on-docker-compose if it still doesn't work, we'll need to try it out locally to figure out the problem

[2018-07-25 16:53] harshavardhana commented on #6188
We should have ignored `lost+found` already @nitisht

[2018-07-25 17:07] NicolasDutronc commented on #6191
I tried with this:
[code]

I get the same results.

[2018-07-25 17:15] NicolasDutronc commented on #6191
Found the issue ! :D

Well that I must apologize as I was the only responsible in this issue. I misconfigured the credentials in the `core-site.xml` file...

Thank you for your help and sorry for the disturbance. I hope this can still help others.

[2018-07-25 17:43] robgirard commented on #6158
I spoke with AB, and we'll take a phased approach to this. Let's proceed as follows:
1. Using the existing network stat counters, (minio_network_received_bytes_total & minio_network_sent_bytes_total - when viewed from http://server/minio/prometheus/metrics), correct them to make them accurate for EXTERNAL traffic. Communications to/from clients access minio server, NOT internode communications. Th

[2018-07-25 17:44] nitisht commented on #6191
Great! Closing as working as intended

[2018-07-25 17:44] #6191 closed, assigned to nitisht

[2018-07-25 18:02] nitisht commented on #6188
Ah yes, we do that.

[2018-07-25 20:01] deekoder commented on #6199
does it show the right version upon restart of minio server @eco-minio

[2018-07-25 20:13] eco-minio commented on #6199
No, still shows that the version is the older one

[code]

[2018-07-25 20:17] krishnasrinivas commented on #4348
@rugved9713 you can refer to the code here: https://github.com/minio/minio/blob/master/cmd/signals.go#L72

We haven't documented signal handling. Minio stops accepting new connections and waits for 5 seconds for existing connections to finish up and exits.

[2018-07-25 23:01] deekoder commented on #6199
minio was installed in /usr/local/bin and tried to update it as a user which failed. But it didn't show an error
we just have to show an error. A simple error message needs to be added when permissions do not exist.

[2018-07-26 00:07] BrianGilbert commented on #4210
**Note:** I've just updated the scheduled task command above.

[2018-07-26 06:01] ishanchandrajoshi commented on #6197
@kannappanr This link shows how to import Custom CA certificate in DC/OS. DC/OS can be configured to use either Custom CA certificate (which can be either root or an intermediate certificate) or DC/OS CA root certificate. By default, later is used to generate signed certificates for Admin Router and other components of DC/OS.
The problem is not with DC/OS CA certificate since it is same across ent

[2018-07-26 11:02] tiasarea opened #6201 "minio heal dry-run does not detect corruption"
setup:
4 servers, 4 disks each
minio.RELEASE.2018-07-23T18-34-49Z  running on all of them to form a cluster

created 3 buckets.
uploaded a 1MB test file to cluster into one bucket
edited 1 file "part.1" replaced the first few bytes with '0' -> simulating silent corruption.

## Expected Behavior
running command:
mc admin heal --dry-run -r myminiocluster
should say 1 object yellow or red or grey
gre

[2018-07-26 16:37] sureshpasupathi opened #6202 "Minio doesn't throw error message when there is an issue with Cert"
When minio is started in distributed mode with TLS certs, it doesn't throw an error when there is an issue with the way minio was started or if there is a mismatch on cert domain names.

## Expected Behavior

When minio is started with hostnames without fully qualified domain names (if that's what used in the cert), it simply keeps waiting for disks online instead of throwing en error saying it ca

[2018-07-26 19:38] kannappanr commented on #6202
@sureshpasupathi Thanks for filing this issue. We will take a look at this and get back on how best we can address it.

[2018-07-26 21:28] kannappanr commented on #6201
@tiasarea Thanks for filing this issue. We will take a look and get back to you.

[2018-07-26 23:29] eco-minio commented on #6201
Confirmed this issue with 4x4 set up and 4x1 setup.  Issue occurs whether --dry-run flag is placed or not.  Also tried with --recursive which gives slightly different results.

[code]
Not sure why we are returning "**unexpected**".  Since I had modified 8 of 16 part files, the calculations seem wrong as well.

[2018-07-27 06:53] harshavardhana commented on #6201
I ran minio master I am able to see if files are missing properly

[code]

[2018-07-27 06:54] harshavardhana commented on #6201
and after editing a backend `part.1` file

[code]

[2018-07-27 06:57] harshavardhana commented on #6201
[code]

[2018-07-27 12:25] tholu commented on #4848
I can reproduce this with a `docker-compose` deployment (taken from https://raw.githubusercontent.com/minio/minio/master/docs/orchestration/docker-compose/docker-compose.yaml) on an OSX 10.13.6 machine:

Docker:
[code]

Minio:
[code]

Endles stream of:
[code]

[2018-07-27 12:31] tholu commented on #4848
Nevermind, there was a config issue that lead to this behaviour: I changed the `MINIO_ACCESS_KEY` only for one of the 4 containers. 🤦‍♂️  Now it works fine!

[2018-07-27 16:34] Self-Perfection commented on #6198
I've updated `fs.json` files with missing 'etag' field with md5 of stored object. It seems that for a long period server runned minio version which does not store etags, and all or most of objects stored during that period missed etag in metadata.

This action resolved my issue! Now s3ql can successfully mount old FS.

Thank you for your advice.

[2018-07-27 17:40] harshavardhana commented on #6198
@Self-Perfection yes that is perhaps how it was 1.5yrs ago, going to close this issue though since we support generating proper etag's now.

[2018-07-27 17:40] #6198 closed, assigned to nobody

[2018-07-27 22:56] deekoder commented on #6153
@Cdaly1970  we will consider this for the future. At the present moment, we will wrap up with the current set of features we are working on. I will close for now and put it in our backlog. Reactivate it when we are ready to consider the next set of feature asks.

[2018-07-27 22:56] #6153 closed, assigned to nobody

[2018-07-28 18:29] bunt72 commented on #5091
Hi @NamingException, could you tell me how to specify bücket name for POST updoad form.
http://<ServerName>:9000/minio/<BucketName> don't work for me.
Greetings

[2018-07-29 01:12] harshavardhana commented on #5091
Your URL should look like http://IP:9000/bucketname - IP here is your local address.

Dont use /minio it is a reserved bucket.

Feel free to join our slack for real time answers https://slack.minio.io

[2018-07-29 05:06] atrauzzi commented on #5857
Is there any timeline on when this fix will be available?

I just tried the latest docker image and I'm still unable to upload, getting the message ` There were headers present in the request which were not signed` from the AWS PHP SDK.

Only seems to happen when I try to include metadata with my files.

[2018-07-29 05:54] harshavardhana commented on #5857
This should be already fixed @atrauzzi are you sure you are setting the x-amz headers correctly in your client request?

[2018-07-29 09:03] kannappanr commented on #5857
@atrauzzi Here is a test I did with `mc` to prove that `minio` already handles this. I created a presigned url using `mc`
[code]
I added a `custom meta` header called `x-amz-meta-testtag` while doing an upload using th generated presigned url.
[code]

Here is the output of `mc stat` on that object.
[code]

[2018-07-29 09:30] #6201 closed, assigned to donatello

[2018-07-29 14:50] atrauzzi commented on #5857
@harshavardhana - Ultimately, I'm using the AWS PHP SDK.  So I pass metadata to it and I assume it will handle things correctly, given that it's AWS who publishes the library. 😉

At no point do I manually add headers, this is effectively what gets passed down to the AWS SDK in its options array:

[code]

I think it's worth noting:
- I'm not explicitly creating a pre-signed URL.  I'm simply doing a

[2018-07-29 15:58] davleb commented on #5199
Minio is a great piece of software, solid, well documented. But sorry, the lack of this feature makes me think of hijak solution. Cannot handle hundreds of docker/lxc Minio containers for just the sake of it.
Would you seriously consider a multiple access keys contribution / pull request if provided ?

[2018-07-29 15:59] bunt72 commented on #5091
Thank you @harshavardhana, I thought so too. Another question:
We have the same requirements as @NamingException, and want Signal Server software connect to the local Minio Server. Attachments / Presigned-Url work fine, but we have problem using Post  (PostPolicy)

Here is an except of Trace.log (HTTP tracing enabled);

[REQUEST (objectAPIHandlers).PostPolicyBucketHandler-fm] [153280699.567063] [2

[2018-07-29 19:14] harshavardhana commented on #5091
Please open a new GitHub issue @bunt72

[2018-07-29 19:17] harshavardhana commented on #5199
Multiple keys is already being implemented

- https://github.com/minio/minio/pull/6168
- https://github.com/minio/minio/pull/6176

[2018-07-31 03:38] ddib opened #6210 "connection refused when deployed on a specific namespace"
I deploy minio within a specific namespace

## Expected Behavior
 Access minio as when deployed within the default name space

## Current Behavior

The deployment is fine. However port-forward fails as follows

[code]

## Steps to Reproduce (for bugs)

1. create namespace 'my_namespace'
2. set the right namespace in kubectl:
`kubectl config set-context $(kubectl config current-context) --namespace

[2018-07-31 04:47] nitisht commented on #6210
@ddib can you share how did you start Minio? I mean yaml files etc, also `kubectl logs` for Minio pods

[2018-07-31 06:33] ddib commented on #6210
I followed the steps of this [tutorial](https://github.com/minio/minio/blob/master/docs/orchestration/minikube/README.md). same yaml file.

The `kubectl logs <minio-pods>` doesn't return anything.

[2018-07-31 07:11] orebollo opened #6211 ""mc.exe session resume" not working"
When an upload is interrupted and I try to resume the session, client shows that it has reached 100% instantly.

## Expected Behavior

I get the error message and the session ID so that I can resume it. When I try to resume it, the session does not continue where it was interrupted.

## Current Behavior

Instead os continuing the upload in the point where it was interrupted, it shows that the uplo

[2018-07-31 08:05] groundnuty opened #6212 "How can I make minio more verbose?"
I'm running the newest version of minio on kubernetes. I would like to get a bit more logs then:
[code]

I failed to find any information on this in the official documentation. Can I somehow make minio to put more verbosity on the stdout? or at least some other log file?

[2018-07-31 08:50] nitisht commented on #6210
This generally means Minio is not up. Can you try `kubectl describe pods/<minio-pods>`

[2018-07-31 08:51] Ex-Ark opened #6213 "Minio 500 internal error on startup"
Using latest release minio no longer run on startup (500 internal error)

## Expected Behavior
`docker-compose up minio` should succeed

## Current Behavior
Error: Unexpected error, please report this issue at https://github.com/minio/minio/issues
minio_1                       |        1: cmd/fs-v1-helpers.go:337:cmd.fsCreateFile()
minio_1                       |        2: cmd/fs-v1.go:870:cmd.(*F

[2018-07-31 13:02] nitisht commented on #6212
@groundnuty Minio only logs serious issues on the console, this is by design. However you can log all the HTTP requests by using the `MINIO_HTTP_TRACE` environment variable. Set `MINIO_HTTP_TRACE` to a file path and Minio will write trace information to that file.

[2018-07-31 13:08] nitisht commented on #6211
Thanks for reporting @orebollo . We'll take a look ASAP. The correct location for `mc` issues is https://github.com/minio/mc/issues and someone already reported the same issue [here](https://github.com/minio/mc/issues/2495) .

So, I am going to close this as duplicate of https://github.com/minio/mc/issues/2495

[2018-07-31 13:08] #6211 closed, assigned to nobody

[2018-07-31 14:02] kannappanr commented on #6213
@Ex-Ark Thanks for filing this issue. We will try to reproduce this issue and get back to you.

[2018-07-31 15:50] tamirkamara opened #6217 "Live check fails when using https and kubernetes"
When using the docker container in a kubernetes cluster with in-pod https, the live check fails with 503 http status code.

## Expected Behavior
/minio/health/live should return HTTP 200

## Current Behavior
Endpoint returns HTTP 503

## Steps to Reproduce (for bugs)
Use the following YAML to create at least one pod.
`
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  # This name uniquely

[2018-07-31 16:48] ddib commented on #6210
[code]

[2018-07-31 17:43] atrauzzi opened #6219 "There were headers present in the request which were not signed"
_Opening a new ticket based on what I've discovered in #5857._

Generally, I'm getting the error "There were headers present in the request which were not signed" when trying to transfer copy files in minio.  In this case, from one bucket to another.

I'm using the AWS PHP SDK.  So I pass metadata to it and I assume it will handle things correctly, given that it's AWS who publishes the library. 😉

[2018-07-31 17:44] harshavardhana commented on #6219
Thanks @atrauzzi

[2018-07-31 17:44] atrauzzi commented on #5857
@harshavardhana - Let's continue over at the new ticket I've opened, that way this doesn't get lost in a closed issue. 😟

[2018-07-31 17:44] harshavardhana commented on #5857
Thanks agreed @atrauzzi

[2018-07-31 17:55] #6217 closed, assigned to nitisht

[2018-07-31 19:27] tharnirav opened #6220 "403 Forbidden error while doing hadoop ls or distcp"
When trying to do haddop fs -ls to list files/folders (or distcp from minio to hdfs), minio server is throwing    403; Error Code: 403 Forbidden.  Its working at  bucket level and file level but fails at folder level.

## Expected Behavior

Assume we have following folder structure
bucket-a/folder-1/folder-2/test.txt

The following hadoop command
       **hadoop fs -ls  s3a://bucket-a/folder-1/**

[2018-07-31 19:30] harshavardhana commented on #6220
please use the latest version and let us know @tharnirav ?

[2018-07-31 21:15] alshabib commented on #5305
This would be a great feature. Any news or ETD?

[2018-07-31 22:12] kannappanr commented on #6213
@Ex-Ark I tried to reproduce this issue and was unable to do so.

I got the following error

[code]

Is it possible that you are running an older version of `docker-compose`

I removed the `mc` part of it and did all the commands in the `yaml` file and it worked.

[2018-07-31 22:38] kannappanr commented on #6213
I changed the `yaml` file a little bit

[code]

The version of `minio` running is `2018-07-31T02:11:47Z` which is the latest.

Here is my output
[code]

[2018-08-01 03:31] nitisht commented on #6210
@ddib looks like the URL `http://minio-0.minio.default.svc.cluster.local/data` is incorrect, as it indicates default namespace.

It should be changed to `http://minio-0.minio.kubeless.svc.cluster.local/data`

(Ref: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-identity)

[2018-08-01 05:00] ddib commented on #6210
Thank you so much @nitisht, it is working now. This should be passed as a variable, to be able to deploy minio on any namespace without modifying the yaml file.

[2018-08-01 05:14] nitisht commented on #6210
Feel free to send a PR @ddib . Thanks for bringing this up. Closing the issue as working as intended.

[2018-08-01 05:14] #6210 closed, assigned to nitisht

[2018-08-01 07:59] OlivierTarnus commented on #6170
Hello @kannappanr , @annanay25 ,

I see that code has been pushed and is awaiting merge. Any idea when we could access this code to test on our side?

Cheers

[2018-08-01 08:01] #6199 closed, assigned to nobody

[2018-08-01 09:27] #6213 closed, assigned to nobody

[2018-08-01 14:24] cfmanteiga opened #6223 "NAS gateway fails to update policy"
With the latest version, RELEASE.2018-07-31T02-11-47Z, using NAS gateway, minio fails to update any bucket policy.

## Expected Behavior

The bucket policy should change. Old version RELEASE.2018-07-31T02-11-47Z works.

## Current Behavior
mc client hangs trying to modify the policy. Server gives 500

## Steps to Reproduce (for bugs)
1. Set up an NFS server, and export some directory
2. Mount that

[2018-08-01 14:27] nitisht commented on #6223
Thanks for reporting @cfmanteiga we'll take a look soon

[2018-08-01 16:14] HardwareHarry opened #6224 "Error: Unexpected error on any write activity"
## Expected Behavior
Using web UI, mc command line utility or python API, it is possible to retrieve an object and store an object.

- **web UI** -> provide authentication, select bucket (page-images), + button, upload button, select small .zip file (2kb), click open - file should be uploaded.

- **mc** -> mc cp --debug local/page-images/abc2 local/page-images/abc3 - file should be copied (from ab

[2018-08-01 16:54] groundnuty commented on #6212
Thank you for your help. I solved my problem (maybe someone will find it useful):

Kubernetes (helm) snippet:
[code]

Anyway, I think that it would be a bit nicer if the main binary/entrypoint was able to send logs to stdout instead of employing such small hacks.

[2018-08-01 16:54] #6212 closed, assigned to nobody

[2018-08-01 17:49] grumpy42 opened #6225 "request: optionally permit all available TLS ciphers"
NewServer() in  cmd/http/server.go  has a liimited number of preferred TLS cipher suites.
This prevents some older clients (like Cloudberry or DragonDisk) from negotiating connections.

It would be helpful if there was an option to allow all available TLS ciphers, even the ones which are now considered weak, in order to allow the older clients to connect. in our enclosed networking environment we

[2018-08-01 17:57] harshavardhana commented on #6225
We will not be doing this or allow @grumpy42 - the ciphers which are disabled has security issues. If you are using software which requires these ciphers they are vulnerable as well.

[2018-08-01 18:17] YasminBZ commented on #5924
Hello @abraarsyed  , please how did you solve that problem cause i'm having the same issue, im using minio in a kubernetes cluster and always it's givin me the same error as you had , any help please.

Thank you

[2018-08-01 18:35] cfmanteiga commented on #6004
Hi,

Latest version hits again this regression :-(

Thaks

[2018-08-01 18:47] vadmeste opened #6226 "Wrong validation of connectionString in notify.postgreSQL"
## Expected Behavior
Putting connectionString: "sslmode=disable" in notify.postgreSQLshould work

## Current Behavior
Putting connectionString: "sslmode=disable" shows a validation error and prevents Minio from starting

## Possible Solution
Fix validation of connectionString

## Steps to Reproduce (for bugs)
Putting the following json in ~/.minio/config.json

[code]

## Context
Fixing a bug

## Y

[2018-08-01 19:05] harshavardhana commented on #6004
the new issue is different @cfmanteiga lets continue our discussion there.

[2018-08-01 19:17] grumpy42 commented on #6225
okay, no problem.  I had hoped this could be included as an optional feature - for those in secure environments - while waiting for the clients to update their required ciphers. oh well, thanks for your time.

[2018-08-01 19:18] #6225 closed, assigned to nobody

[2018-08-01 21:04] HardwareHarry commented on #6224
On a whim I downloaded a prior version of minio (I chose 2018-04-04T05-20-54Z).  I simply moved it into place, I had to downgrade the version in the config.json from 27 to 23 and then started it.  It then started functioning perfectly - the test cases I mentioned above (command line, web UI and python code) all started working.

To make sure I wasn't going mad, I re-installed the current (2018-07-

[2018-08-01 23:19] kannappanr commented on #6224
@HardwareHarry Thanks for filing this issue. We tried to reproduce this issue internally and were unable to do so. As an initial step, can you please run the `mc` command with the `--debug` option turned on and post your output.
I can have a debug `minio` binary for you to test. That might just give me a starting point to look at.

[2018-08-02 00:46] RaveNoX opened #6231 "Fallocate failed with zfs on ubuntu"
When using zfs on ubuntu there's error on uploading files or other operations which uses fallocate because zfs not support this operation.

Minio running in docker with mounted data path from zfs pool

## Expected Behavior
Files must upload normally with zfs on ubuntu (or any other linux with zfs support)

## Current Behavior
Got error on fallocate here: https://github.com/minio/minio/blob/master/

[2018-08-02 05:08] #6223 closed, assigned to poornas

[2018-08-02 05:13] kannappanr commented on #6231
Duplicate of #6223 . Fix has already been merged into master. Will make a release hopefully tomorrow.

[2018-08-02 05:13] #6231 closed, assigned to nobody

[2018-08-02 05:15] kannappanr commented on #6224
Duplicate of #6223 . Fix has already been merged into master. Will make a release hopefully tomorrow. In the meantime, can you please try out minio, by building from the master and verifying the fix.

[2018-08-02 05:41] nitisht commented on #6197
AFAIK @ishanchandrajoshi this was discussed on slack the problem was resolved by adding the `public.crt` file under `certs` directory, while certs for other servers under `certs/CAs` directory by adding files `public1.crt`, `public2.crt`, and so on.

[2018-08-02 05:59] ishanchandrajoshi commented on #6197
The problem was that in DC/OS we cannot copy the certs of other servers under certs/CAs because data transfer between Pods is not facilitated. However, the problem was solved by copying the DC/OS Certificate Authority's root certificate to the CAs folder of all the servers. I am closing this issue with this note.

[2018-08-02 05:59] #6197 closed, assigned to krisis

[2018-08-02 06:02] kannappanr commented on #6170
@OlivierTarnus The PR will hopefully be reviewed and merged in the next few days. Will try to push for it.

[2018-08-02 06:44] #6224 closed, assigned to nobody

[2018-08-02 07:54] abraarsyed commented on #5924
Hey @white-cloud, I will try my best to help you out. Can you tell me if you updated your config.json with the actual IP address instead of localhost? Also, you need to update the mc config as well but that is the next step

[2018-08-02 08:14] YasminBZ commented on #5924
Hello @abraarsyed  Thank you for your answer
for the config.json of the minio server i modified it this way:
"kafka": {
    "1": {
        "enable": true,
        "brokers": ["localhost:9092"],
        "topic": "bucketevents"
    }
}

I'm using minio in a kubernetes cluster of 4 nodes 1 master and 3 workers.
i installed it using the following commands:
wget https://dl.minio.io/server/minio/release

[2018-08-02 08:24] abraarsyed commented on #5924
I had mounted my config.json when I am running the docker container for minio. So, I had changed the following line:
"brokers": ["localhost: 9092"]

Change it from localhost to the IP address of the docker container. That worked for me. Can you try the same and let us know if it works?

[2018-08-02 08:29] YasminBZ commented on #5924
Hello, you mean the adress Ip of the pod running the minio server, is that what you mean ??

[2018-08-02 08:44] abraarsyed commented on #5924
Yes :)

[2018-08-02 09:01] YasminBZ commented on #5924
Thank you :) i will try it and let you know :)

[2018-08-02 10:01] cfmanteiga commented on #6223
master fixes this issue. Thank you!

[2018-08-02 10:16] cfmanteiga commented on #6004
Hi @harshavardhana, I suppose you're talking about #6223, but this one affects master again.

NAS gateway does not read policy from disk, neither reloading server or waiting +5 minutes. Steps to reproduce in your first post.

Moreover if the server where the policy was updated is restarted, the policy is lost (but its written in .minio.sys metadata.

Maybe it's preferred to open a new issue?

Than

[2018-08-02 10:24] HardwareHarry commented on #6224
Built from master, and confirm fix to all my test cases.  Thank you!

[2018-08-02 16:16] harshavardhana commented on #6004
Yes please let's open a new issue @cfmanteiga

[2018-08-02 23:26] aarushiarya commented on #6219
Hi @atrauzzi

Can you provide a code snippet so that I can recreate this issue?

[2018-08-03 07:38] riazarbi opened #6237 "Can't mount host data directory to minio server docker container"
## Expected Behavior
Add the option `-v /mnt/data:/data` to the `docker run` command to have minio saving data to host directory.

## Current Behavior
Minio cannot write to data directory because of permission error.
[code]

## Possible Solution
I am probably doing something stupid; solution is to point out the obvious thing I'm missing.

## Steps to Reproduce (for bugs)
Starting with the simplest

[2018-08-03 07:56] cfmanteiga opened #6238 "[regression] NAS gateway bucket policy doesn't load from disk anymore"
## Expected Behavior
NAS gateway bucket policy expected to load from disk. If there are more than one server, and a new policy is applied, the others should reload the policy at least every 5 minutes.

## Current Behavior
The policy is written to disk when applied, but never read back. So if you restart the server, the policy is lost. And if you have more than one server, the others never read it,

[2018-08-03 07:57] cfmanteiga commented on #6238
Maybe related to #6004

[2018-08-03 08:19] riazarbi commented on #6237
It was a silly issue; posting solution for posterity. Key issue was this:

Docker host: `centos-atomic-host 7.1805`

Atomic host runs SELinux by default. Turning off SELinux resolves the issue.

[2018-08-03 08:19] #6237 closed, assigned to nobody

[2018-08-03 14:59] rafaelsierra opened #6240 "Minio can't detect local machine on Docker 18.06 with Swarm"
## Current Behavior
[code]

## Steps to Reproduce (for bugs)
1. Install Docker CE 18.06
1. Have 2 docker secrets created: `minio_access_key` and `minio_secret_key`
1. Deploy the following stack (`docker stack deploy -c this-file.yml minio`):
[code]

## Context
Docker CE 18.06 was [recently released](https://github.com/docker/docker-ce/releases/tag/v18.06.0-ce) and it is not compatible with Minio w

[2018-08-03 15:21] eyalrif opened #6241 "Improving Heal performance by allowing parallel heal"
When performing Heal on large OBS with a huge amount of small files it can take an extremely long time to complete.

In our case with have a 60TB OBS with 1MB objects which translate to 60 Million objects. heal manage to process around 10GiB an hour (the setup is with 36 disks). this means that the healing process can take several weeks which isn't reasonable.
This is due to the fact that Minio is

[2018-08-03 17:12] harshavardhana commented on #6237
Do you have any docs which allow us to provide SELinux make this work?

[2018-08-03 17:25] alshabib commented on #6240
fwiw, using the following stack is a workaround.

[code]

[2018-08-03 17:46] kannappanr commented on #6241
@eyalrif Thanks for filing this issue. We will talk internally and see how we can best address this issue.

[2018-08-03 19:20] eco-minio commented on #6237
For Project Atomic you can also set append :z or :Z to the have SElinux allow writing to the container:

docker run -p 9000:9000 --name minio1 \
  -v /mnt/data:/data:z \
  minio/minio server /data

More info at:
https://www.projectatomic.io/blog/2016/03/dwalsh_selinux_containers/

[2018-08-03 22:12] #6238 closed, assigned to poornas

[2018-08-03 22:18] ebozduman commented on #6063
@ematvey
Could we we close this issue?

[2018-08-04 05:04] ematvey commented on #6063
Yep

[2018-08-04 05:04] #6063 closed, assigned to ebozduman

[2018-08-04 15:59] alexellis commented on #5199
I came here via Google - a key per bucket would be really useful, I also would like this feature. If I can help with testing let me know.

Thanks,

Alex

[2018-08-04 16:01] vermaden commented on #6151
I have updated minio to latest release and the symptoms are the same.

[2018-08-04 18:50] nogweii commented on #5305
@alshabib @edingroot Watch https://github.com/minio/minio/pull/6176 for progress on this.

[2018-08-05 21:26] harshavardhana commented on #6164
Sorry for late reply @tylerforsythe how many files do you have under a single bucket? do you have all the files in a single directory?

[2018-08-05 21:26] harshavardhana commented on #6156
Working on this already.

[2018-08-05 21:36] tylerforsythe commented on #6164
No worries @harshavardhana. The backup software I currently use is [Arq](https://www.arqbackup.com/), which unfortunately places nearly all of its files in a single directory. So while I can't give you an exact number, it will easily be over 10,000, and I wouldn't be surprised if it were more than 100,000.

[2018-08-05 21:44] harshavardhana commented on #6164
The reason I found is that Go windows implementation of our readdir call is memory intensive with diskUsage crawler it has led to a high memory usage, coupled with all of your files in the same directory/bucket it will cause significant memory usage.

I have a simpler solution right now will send a fix and should be available in the future releases.

[2018-08-05 22:14] tylerforsythe commented on #6164
Sounds great! I look forward to trying it out!

[2018-08-06 06:27] nitisht commented on #5305
Moving to @harshavardhana as he is working on this

[2018-08-06 06:56] nitisht commented on #6240
This looks like an issue with Docker Engine as reported on Docker repos

- https://github.com/docker/for-linux/issues/375
- https://github.com/docker/distribution/issues/2654
- https://github.com/docker/for-win/issues/2327

AFAICS there is not much we can do here except updating our sample yaml files.
Lets wait to see how they are planning to address this. If required, we'll update the sample yaml

[2018-08-06 12:00] eyalrif opened #6248 "500 Internal Server Error encountered when overloading Minio Cluster"
While running high volume activity on Minio Cluster(4 nodes, 48 buckets) we get "Internal Server Error" and not able to write to the OBS

`diagnostics//REG-74737-V31MMOBS00-76985-minio-11/minio-http.log-[RESPONSE] [153305335.825221] [2018-07-31 19:09:33 +0300]
diagnostics//REG-74737-V31MMOBS00-76985-minio-11/minio-http.log:500 Internal Server Error
diagnostics//REG-74737-V31MMOBS00-76985-minio-11/

[2018-08-06 12:59] nitisht commented on #6248
Thanks for reporting @eyalrif we'll take a look ASAP

[2018-08-06 17:18] ebozduman commented on #6063
Thank you

On Fri, Aug 3, 2018 at 10:04 PM, Matvey Ezhov <notifications@github.com>
wrote:

[2018-08-06 19:31] chotaire opened #6249 "When changing days in Share object, the object will be replaced with the alphabetically last object in the bucket"
Using 2018-08-02 linux binary, let's "Share Object" (that's the button right to the object name) inside a bucket along with multiple other objects. When changing days from the default of 5 to another value, the actual object part of the URL will be replaced with the alphabetically last object inside the same bucket. This is a dangerous bug, since many people might only encounter this when they've

[2018-08-06 20:12] deekoder commented on #6151
Reopened @vermaden we will take a look again.

[2018-08-06 20:40] ebozduman commented on #6151
Hi @vermaden,
I'll set up your config here locally and try to reproduce the issue you've reported.
I'll get back to you.

[2018-08-06 20:49] deekoder opened #6250 "Implement support for range get in minio gateway while caching"
Sometimes customers who use the caching feature in minio gateway want the cache to support a range get request of specific size.

## Expected Behavior
 Instead of caching the full object, have control over how much of the object needs to be cached.

## Current Behavior
 Full objects only caching support.

## Possible Solution
None

## Steps to Reproduce (for bugs)
 N/A this is not a bug. It's an e