[2017-01-11 20:57] harshavardhana commented on #3565
To avoid the access keys being regenerated always set it through an env http://docs.minio.io/docs/minio-docker-quickstart-guide

[code]

[2017-01-11 21:07] harshavardhana commented on #3565
dmesg and messages don't provide any info. Would it be possible for you to capture 'docker logs'  from the container when the minio server stops?

This would also capture the server logs if any as well.  Can you also consistently reproduce this with a particular type of workload? if yes then please provide a sample code - we will replicate the environment.

[2017-01-11 21:11] harshavardhana commented on #3562
Thanks for the proposal API @marcinwyszynski

Minio is designed with a mindset to reduce the number of APIs to interact with storage and keep it to bare minimum. Addressing only 90% of the use case 100% of the time.

Every new API we add adds the burden of testing and maintaining it.  If its not part of S3 it would be seldom used by majority users we would like to avoid such situations.

This type

[2017-01-11 22:05] #3555 closed, assigned to nobody

[2017-01-12 00:41] #3466 closed, assigned to nobody

[2017-01-12 04:29] pascalandy commented on #3468
@thorerik I'm testing minio in distributed mode and I can't get them to sync.
I'm using 4 nodes on scaleway. Of course, on each nodes I update $CTN_name. Can you help me find what's wrong.

Looking at the docs, https://docs.minio.io/docs/distributed-minio-quickstart-guide it is not clear yet for me.

[code]

Thank you!

[2017-01-12 04:59] harshavardhana commented on #3468
@pascalandy Please visit us on https://gitter.im/minio/minio for these questions.  This bug is related to some performance problems.

Also for docker you need to use swarm or kubernetes networking to get distributed working properly or use `--net="host"`   (not recommended since this can make your container run in privileged mode)

[2017-01-12 05:03] puneetpandey37 commented on #3565
Cannot provide you the source code as this is a big production ready code.
The server is again down. Will upload log files for you to examine.

[2017-01-12 05:13] puneetpandey37 commented on #3565
I take the docker container log like this : "docker logs 19adbb9dc849"
19adbb9dc849 is the last container created. Below is the logs:

Created minio configuration file at /root/.minio

Endpoint:  http://172.17.0.2:9000  http://127.0.0.1:9000
AccessKey: QPOHSC0AJ3H6QDZH0APC
SecretKey: LtrBD90HJNcJouvZg0+imsiw+3mBm93ZdplXq+cE
Region:    us-east-1
SQS ARNs:  <none>

Browser Access:
   http://172.17.0

[2017-01-12 05:20] harshavardhana commented on #3565
Strange @puneetpandey37 - is it possible to remotely access and monitor the server? can send you a tool to inspect the situation here..

Can you run  `journalctl -u docker.service` and attach the output here? - Assuming you are on ubuntu - let me know if you are on a different operating system.

[2017-01-12 05:22] harshavardhana commented on #3565
As a workaround you can run `` --restart always``  to your docker command line this would restart minio if it silently crashes.

[2017-01-12 05:27] puneetpandey37 commented on #3565
Mine is Centos --> centos-release-7-3.1611.el7.centos.x86_64

[2017-01-12 05:29] puneetpandey37 commented on #3565
Did not get Restart command. Can you please give me the full command for that?

[2017-01-12 05:30] puneetpandey37 commented on #3565
Jan 11 13:07:15 cloudtest systemd[1]: Starting Docker Application Container Engine...
Jan 11 13:07:15 cloudtest dockerd[18744]: time="2017-01-11T13:07:15.495254790+05:30" level=info msg="libcontainerd: new containerd process, pid: 18747"
Jan 11 13:07:16 cloudtest dockerd[18744]: time="2017-01-11T13:07:16.706998849+05:30" level=warning msg="devmapper: Usage of loopback devices is strongly discourag

[2017-01-12 05:31] harshavardhana commented on #3565
On CentOS perhaps the file is `/var/log/daemon.log` @puneetpandey37

[code]

[2017-01-12 06:32] puneetpandey37 commented on #3565
I am not able to start Server with this command.

I copy and paste this complete command and below is what I get:

[root@cloudtest log]# docker run -p 9000:9000 --name minio1 \

"docker run" requires at least 1 argument(s).
See 'docker run --help'.

Usage:  docker run [OPTIONS] IMAGE [COMMAND] [ARG...]

Run a command in a new container
[root@cloudtest log]#   -e "MINIO_ACCESS_KEY=QPOHSC0AJ3H6QDZH0

[2017-01-12 06:33] puneetpandey37 commented on #3565
And the daemon.log is not present in /var/log

[2017-01-12 06:37] puneetpandey37 commented on #3565
I align the command and run:

[root@cloudtest log]# docker run -p 9000:9000 --name minio1 \ --restart always -e "MINIO_ACCESS_KEY=QPOHSC0AJ3H6QDZH0APC" \ -e "MINIO_SECRET_KEY=LtrBD90HJNcJouvZg0+imsiw+3mBm93ZdplXq+cE" \ -v /mnt/export/minio1:/export \ -v /mnt/config/minio1:/root/.minio \ minio/minio server /export

And this is what I get:

docker: Error parsing reference: " --restart" is not a vali

[2017-01-12 07:38] harshavardhana commented on #3565
[code]

This works my docker version is

[code]

[2017-01-12 07:53] puneetpandey37 commented on #3565
I have copied the one you pasted hare(in last comment of yours) and seem to go fine.
But it says that port is already allocated(even though I have stopped the server)

[2017-01-12 07:59] harshavardhana commented on #3565
It must be because you have another service running on port 9000.

[2017-01-12 08:15] puneetpandey37 commented on #3565
I will take care of this. I will run the command(restart) you suggested. But please help me with the real issue i.e. Server going down in every few hours. It really worries me now. I took my management team in confidence and started this project to integrate Minio... In a day or two, I have to install this in one of our Private Cloud vendor's network and give a demo of it...

[2017-01-12 08:22] puneetpandey37 commented on #3565
I used the command and the server is up again with same old keys... But the files are lost...
Is there a way to restart the Server and get both - old key and stored files???

And this is only a workaround anyway... We would need to make the server stable that never goes down by itself.

[2017-01-12 08:29] harshavardhana commented on #3565
There is something strange going on here, we have https://play.minio.io:9000 running for months - so it would be better if we can get remote access and monitor it / observe.

@puneetpandey37 also did you provide the proper path to the persistent data volume where you stored your files through docker command line?

[2017-01-12 08:58] puneetpandey37 commented on #3565
Providing a remote access may not be possible coz I run the Server in my office VPN...

[2017-01-12 09:29] harshavardhana commented on #3565
Let me think and get back to you on debugging tools - perhaps a new binary with some more instrumentation.

Can you paste your `docker run --rm minio/minio version` under use? can you try the `docker run --rm minio/minio:edge` and see if the issue is reproducible?

[2017-01-12 09:35] harshavardhana commented on #3545
Found a way to address this problem - https://boostgsoc13.github.io/boost.afio/doc/html/afio/FAQ/deleting_open_files.html

Happens because of how windows operating system behaves, let me add this code for windows only helper function and provide a new binary.

[2017-01-12 09:35] #3562 closed, assigned to harshavardhana

[2017-01-12 09:45] donatello commented on #3565
@puneetpandey37 To help solve this issue, could you please provide the following:

1. What is the command being used to the server?
2. What is the version of docker being used? I see that you are running on CentOS
3. What kind of requests are being made to the Minio server after it starts and before it crashes?
4. How much RAM is available on the system? And, are you restricting RAM usage in your

[2017-01-12 10:07] harshavardhana commented on #3555
@goodforever here is the example

[code]

Observe here '2/3/my/prefix' is the parent directory for the object named `object` .  On Minio this is a flat key conceptually there is no directory.

[2017-01-12 10:16] goodforever commented on #3555
Thanks ,I just need this what you said.

[2017-01-12 10:30] puneetpandey37 commented on #3565
@harshavardhana I have removed all images and containers.. and again did the below:
docker pull minio/minio:edge
docker run -p 9000:9000 minio/minio:edge server /export

@donatello please find below information:

1- I use Docker to pull and run the Server.
docker pull minio/minio:edge
docker run -p 9000:9000 minio/minio:edge server /export

2- Docker version: Docker version 1.12.6, build 78d1802

[2017-01-12 10:56] donatello commented on #3565
@puneetpandey37 I believe you may be running into an issue related to overlayfs used by default in docker when you do not mount a volume for minio (possibly related to this one - https://github.com/minio/minio/issues/3118 ). Use the alternative method described below.

In general, the way you have used is not the recommended way to run Minio for anything other than minor development. The better wa

[2017-01-12 11:00] donatello commented on #3565
Additionally, as @harshavardhana described earlier in this thread, you should also set environment variables for access credentials, so they are not regenerated on a restart, for example:

[code]

[2017-01-12 11:02] donatello commented on #3565
@puneetpandey37 When running the commands given above, please be sure copy paste the commands exactly - the earlier problems of getting errors and different output seems to be because you are not carefully copy-pasting the commands.

[2017-01-12 13:54] QA-Jelastic commented on #3409
You can install Minio server from manifest.jps I’ve attached. (Click on the Import button at the top tools pane of the dashboard and select the unpacked manifest).
To reproduce the delays just remove 2 nodes by Topology wizard.
Or use environment i've shared with you.
[manifest.jps.zip](https://github.com/minio/minio/files/701671/manifest.jps.zip)

[2017-01-12 15:27] pascalandy commented on #3468
You are right @harshavardhana, I should have went to gitter. See you there :)

[2017-01-12 16:20] harshavardhana commented on #3409
Thanks @QA-Jelastic

[2017-01-12 16:43] harshavardhana commented on #3443
This is done right @NitishT ?

[2017-01-12 16:55] nitisht commented on #3443
Yes @harshavardhana , fixed with https://github.com/kubernetes/charts/pull/348

Minio Helm Chart is now available at https://github.com/kubernetes/charts/tree/master/stable/minio

[2017-01-12 16:56] nitisht commented on #3444
Fixed with https://github.com/kubernetes/charts/pull/348

Minio Helm Chart is now available at https://github.com/kubernetes/charts/tree/master/stable/minio

[2017-01-12 16:58] #3443 closed, assigned to nitisht

[2017-01-12 16:58] #3444 closed, assigned to nitisht

[2017-01-12 18:47] harshavardhana opened #3567 "server: Support minio server to bind to list of specific ip address and interface."
## Expected Behavior
Currently there is no way to specific interface and ip-address for Minio server to bind to.

## Current Behavior
We have no way to provide this multiple ips.

## Possible Solution
There is no possible solution yet in Go - https://github.com/golang/go/issues/9334

## Steps to Reproduce (for bugs)
Quite easy its not possible.

## Context
Under certain deployments this is quite u

[2017-01-12 18:48] harshavardhana commented on #3095
Fixed by #3566 - Thanks a lot @alexellis

[2017-01-12 18:48] #3095 closed, assigned to nobody

[2017-01-13 03:01] harshavardhana opened #3569 "[admin] Add an API to change credentials using `mc admin service`"
## Expected Behavior
Provide a way to change the server credentials, it shouldn't be allow if environment variable is set. (Just like web-browser)

## Current Behavior
There is no way to change the credentials using `mc admin`

## Possible Solution
Implement a new API to change credentials and but disallow this if https is not configured on the client or the request is over plain HTTP (to avoid po

[2017-01-13 03:07] harshavardhana opened #3570 "[admin] Remove serviceStop API since there is no real way to start the server again."
## Expected Behavior
ServiceStop should be removed.

## Current Behavior
ServiceStop currently stops the server and there is no way to restart it.

## Possible Solution
Remove serviceStop API.

## Steps to Reproduce (for bugs)
Current master.

## Context
Service stop should be removed from usability point of view.

## Your Environment
Current master.

[2017-01-13 03:59] harshavardhana opened #3571 "[admin] ListLocks should respond with more user friendly json format"
## Expected Behavior

New json output format should be

[code]

## Current Behavior
Currently the output prints some internal information which needs to be fixed.

## Possible Solution
Added the agreed format.

## Steps to Reproduce (for bugs)
Current master and `mc admin lock`

## Context
User friendly changes. .

## Your Environment
Current master.

[2017-01-13 11:02] marcinwyszynski commented on #3562
Makes sense, thanks!

[2017-01-13 11:05] harshavardhana commented on #3545
Uploaded new binaries, this issue is fixed for windows based on the logic from the last link.

[2017-01-13 11:05] #3545 closed, assigned to harshavardhana

[2017-01-13 19:17] vadmeste opened #3572 "ssl: Add support of Windows PFX certificates"
## Expected Behavior
To be able to detect and load pfx file inside .minio/certs/ directory

## Current Behavior
PFX file is not recognizable

## Possible Solution
Use golang pfx API support

## Context
Adding new feature

## Your Environment
All

[2017-01-13 21:11] bscott commented on #3401
@GarimaKapoor We need to reopen this as thier API is not exact same as S3

[2017-01-13 21:37] harshavardhana commented on #3401
Minio is meant to be only S3 compatible, we are not planning to implement support for Aliyun OSS API.

[2017-01-13 21:41] bscott commented on #3401
From what I can see Aliyun is S3 Compatible but I'm seeing errors like this

[code]

[2017-01-13 21:42] harshavardhana commented on #3401
Then the apps running on Aliyun would work fine on Minio as well.

[2017-01-13 22:25] #3571 closed, assigned to nobody

[2017-01-14 00:02] harshavardhana opened #3575 "package: Create ubuntu/debian package for Minio"
## Expected Behavior
Create a ubuntu package which works for both debian and ubuntu.

## Current Behavior
No packages are available.

## Possible Solution
Work on creating a skeletal debian package.

## Steps to Reproduce (for bugs)
No package available right now.

## Context
Building packages for across ecosystems.

## Your Environment
Current releases.

[2017-01-14 00:14] harshavardhana opened #3576 "package: Create RPM package for Minio (Fedora)"
## Expected Behavior
https://github.com/pld-linux/minio - much like this we need to publish RPMs for minio binary.

## Current Behavior
We do not have RPM package for Minio.

## Possible Solution
Become an upstream maintainer.

## Context
To provide easy to use packages..

## Your Environment
All RPM distributions.

[2017-01-14 03:08] bscott commented on #3401
@harshavardhana Any idea if that error is because of Minio?

[2017-01-14 03:09] harshavardhana commented on #3401
Can you please open a bug on https://github.com/minio/mc/issues with "mc version" and "mc --debug" output.

[2017-01-14 03:10] bscott commented on #3401
Will do @harshavardhana Thanks

[2017-01-14 08:36] harshavardhana commented on #3564
Fixed upstream.

[2017-01-14 14:06] vadmeste commented on #3569
I think that the code should test logins on all nodes before changing credentials. That way, the user cannot have non synchronized configs. We still can offer a flag to enforce credentials change in case of a node intentionally down.

[2017-01-14 18:27] vadmeste commented on #3569
Taking this

[2017-01-14 22:48] #3570 closed, assigned to nobody

[2017-01-15 08:21] alexellis commented on #3489
Hi, play-with-docker.com will give you a fast, free and disposable test environment for swarm mode.

What were thoughts around elastic search mentioned above?

[2017-01-15 18:16] blacktop opened #3581 "feature request: hashicorp vault integration for bucket level ACLs + encryption"
You could integrate with vault to add policies that were able to read/write to certain buckets that way you could carve up (revokable) access that way and have something very similar to S3 + IAM.

[2017-01-15 18:17] blacktop commented on #3581
I have also created a feature request with vault here - https://github.com/hashicorp/vault/issues/2274

[2017-01-15 21:03] harshavardhana commented on #3581
@blacktop we can work with them. Thanks for opening the bug.

[2017-01-15 21:38] emanuelstanciu opened #3582 "Error on file upload through web UI >5GB"
ERRO[0309] Failed to create object <path>  cause=http: request body too large source=[fs-v1.go:410:fsObjects.PutObject()] stack=fs-createfile.go:27:fsCreateFile fs-v1.go:407:fsObjects.PutObject <autogenerated>:195:(*fsObjects).PutObject web-handlers.go:494:(*webAPIHandlers).Upload web-router.go:85:(*webAPIHandlers).Upload-fm
ERRO[0309] Unexpected error, please report this issue at https://github.c

[2017-01-15 21:41] harshavardhana commented on #3582
This is expected @emanuelstanciu  - https://github.com/minio/minio/blob/master/docs/minio-limitations.md#browser-access

For larger files than 5GB please use command line tools which allow for richer functionality.

[2017-01-16 10:36] harshavardhana commented on #3582
Closing as answered..

[2017-01-16 10:36] #3582 closed, assigned to nobody

[2017-01-16 10:37] harshavardhana commented on #2816
This is fixed in master.

[2017-01-16 10:37] #2816 closed, assigned to krishnasrinivas

[2017-01-16 15:53] rohit-saharan opened #3586 "build: Issues with build on SunOS/Illumos"
Hi, I've tried compiling this on SunOS ( illumos ) with Go v1.7. Getting same with using `make` after modifying it a bit to run.

Here's the error :
[code]

[2017-01-16 16:57] harshavardhana commented on #3586
Minio is not supported on sunos for now.

[2017-01-16 17:17] rohit-saharan commented on #3586
I will try to help if possible.

[2017-01-17 01:06] harshavardhana commented on #3160
Fixed by #3397

[2017-01-17 01:06] #3160 closed, assigned to harshavardhana

[2017-01-17 01:07] harshavardhana commented on #3586
Thanks a @geekrohit - feel free to send us a PR.

[2017-01-17 01:25] harshavardhana commented on #3565
@puneetpandey37 are you still seeing this issu ? - if not would you be interested some more instrumentation to help us debug this?

Do let us know.

[2017-01-17 06:45] puneetpandey37 commented on #3565
I stopped and deleted all other containers and images(there ware many). And have started the server again. Will let you guys know when it crashes.

[2017-01-17 06:59] rohit-saharan commented on #3586
Ok, on master , while trying to build, am getting this error :
[code]
Any idea ? I've tried looking for solutions, but cannot find the LockedOpenFile in `os` or `sync` packages.
The other errors that I had posted above are not visible now.

[2017-01-17 07:20] harshavardhana commented on #3586
Yes we added a new code which doesn't build on SunOS

[2017-01-17 07:25] rohit-saharan commented on #3586
Ok, so any alternatives I can use in that place ?
You're already supporting freebsd, so maybe we can get this running on illumos as well.

[2017-01-17 07:41] harshavardhana commented on #3586
FreeBSD because we constantly test against this operating system and there is an active ZFS community.   We never tested our code on illumos so we can't guarantee the stability of Minio on such a platform, neither do we have such an infrastructure in-place to validate.

To the fix the build issue for illumos you have to work your way up from lower most optimizations which we did for each platforms

[2017-01-17 07:45] rohit-saharan commented on #3586
@harshavardhana Ok, illumos has an active community for ZFS as well, and part of OpenZFS alliance. If you want to test on illumos and want a build machine, we can do that, let me know.

Till then I'll go through your suggestion.

[2017-01-17 08:19] puneetpandey37 commented on #3565
And the Server goes down again. It's been happening all these days.

I start the Server with the command you guys suggested:

docker run -p 9000:9000 --name minio1 \
  --restart always \
  -e "MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE" \
  -e "MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY" \
  -v /mnt/export/minio1:/export \
  -v /mnt/config/minio1:/root/.minio \
  minio/minio server /expo

[2017-01-17 08:20] puneetpandey37 commented on #3565
![image](https://cloud.githubusercontent.com/assets/5543251/22012785/de5952b8-dcbb-11e6-8d9a-e3544f970db8.png)

[2017-01-17 08:21] harshavardhana commented on #3565
@puneetpandey37 can you do `docker logs <container_id>`

[2017-01-17 08:21] harshavardhana commented on #3565
and provide us the output?

[2017-01-17 08:25] puneetpandey37 commented on #3565
Sorry! I just deleted the Image and Container! I am (very carefully) starting it all over again. I will put here every single step I take to bring up the Server. And will put here the container log when the server crashes.

[2017-01-17 08:25] harshavardhana commented on #3565
Okay understood @puneetpandey37

[2017-01-17 09:16] puneetpandey37 commented on #3565
No Docker Container and Image exists:
![image](https://cloud.githubusercontent.com/assets/5543251/22014319/209d0460-dcc3-11e6-9419-194c244104b2.png)

Now I start the Server by pulling from **edge**:

![image](https://cloud.githubusercontent.com/assets/5543251/22014360/54a25346-dcc3-11e6-9ae1-a5e87527ed7a.png)

Below is the Server Console logs for Server Startup:

![image](https://cloud.githubuserc

[2017-01-17 14:56] puneetpandey37 commented on #3565
Exited 10 minutes back:

![image](https://cloud.githubusercontent.com/assets/5543251/22025306/2016dbda-dcf3-11e6-9198-7c8904aae82f.png)

Please find the container logs below:

![image](https://cloud.githubusercontent.com/assets/5543251/22025349/47be40ec-dcf3-11e6-805f-e0b569f3c0b7.png)

[2017-01-17 14:59] vadmeste commented on #3565
@puneetpandey37, log that we see now is just verbose and not important, can you manage to paste all log instead ?

[2017-01-17 15:12] puneetpandey37 commented on #3565
This is all I get by this: docker logs bb92d5dd9fef

[2017-01-17 15:17] puneetpandey37 commented on #3565
![image](https://cloud.githubusercontent.com/assets/5543251/22026179/103a7e80-dcf6-11e6-86ed-54a5c5f9e5f3.png)

The above log is from /var/lib/docker/containers/bb92d5dd9fefca2f7004c4b1e894181c314b4c13feb4231aecef60bc2663183d

bb92d5dd9fefca2f7004c4b1e894181c314b4c13feb4231aecef60bc2663183d-json.log

[2017-01-17 15:24] vadmeste commented on #3565
Thanks @puneetpandey37, I read this thread but can you paste again the contents of dmesg ? You have only 2Gb of total RAM and I suspect Minio is killed by your kernel.

[2017-01-17 15:30] puneetpandey37 commented on #3565
Last few lines of dmesg:

![image](https://cloud.githubusercontent.com/assets/5543251/22026858/01895f30-dcf8-11e6-96dc-61e975a49a9a.png)

[2017-01-17 15:32] puneetpandey37 commented on #3565
And FYI, the same machine hosts and runs very heavy CAE engines like: Geometry, VPS, OpenFOAM, and Procast.

[2017-01-17 15:41] vadmeste commented on #3565
@puneetpandey37, what's the output of `dmesg | grep "Out of memory"` ?

[2017-01-17 15:42] puneetpandey37 commented on #3565
[3906003.769571] Out of memory: Kill process 21003 (MesherEngine) score 662 or sacrifice child

[2017-01-17 15:45] puneetpandey37 commented on #3565
dmesg | grep "kill"

![image](https://cloud.githubusercontent.com/assets/5543251/22027459/f9a7adce-dcf9-11e6-80d5-fbc9b02de970.png)

[2017-01-17 18:38] harshavardhana commented on #3565
you should paste the entire trace before this actually occurred @puneetpandey37 can you attach the 'dmesg' output?

From what it looks like the likely cause `MesherEngine` OOM is taking multiple processes down by kernel.  The algorithm for OOM kill is based on `oom_score` and it is quite possible that is is consistently happening because `MesherEngine` uses more memory disallowing or killing other

[2017-01-17 22:25] #3569 closed, assigned to vadmeste

[2017-01-17 23:04] vadmeste opened #3590 "tests: go test with -race flag taking more than 10 min under Windows. Check for possible anomalies."
## Expected Behavior
We need to see why tests are taking more than 10 min under Windows antrid judge if this is a bug or we just have many test

## Current Behavior
go test -race currently raises timeout because tests are taking more than 10 min

## Possible Solution
Not yet

## Steps to Reproduce (for bugs)
Check appveyor log for time taken by go test

## Context
Manual testing

## Your Environme

[2017-01-18 05:19] puneetpandey37 commented on #3565
I again started the server. This time it was crashed in few minutes only. Please find the attached dmesg file.

[dmesg.txt](https://github.com/minio/minio/files/713082/dmesg.txt)

Meanwhile, I will install Minio in a separate machine and monitor it.

[2017-01-18 05:29] harshavardhana commented on #3565
dmesg doesn't have anything other than OOM kill for MesherEngine which we analysed before. Minio being run to a separate machine is better to isolate this problem. Please let us know how it goes.

[2017-01-18 11:03] puneetpandey37 commented on #3565
And it goes down again. Even in a new machine.

![image](https://cloud.githubusercontent.com/assets/5543251/22061502/347ee54c-dd9b-11e6-9b66-3b3cc3a8497d.png)

No result for: dmesg | grep "Out of memory"

[dmesg.txt](https://github.com/minio/minio/files/713680/dmesg.txt)

[2017-01-18 11:42] puneetpandey37 commented on #3565
New machine detail:

![image](https://cloud.githubusercontent.com/assets/5543251/22062740/41c66b66-dda1-11e6-9e4d-bbb9219b9dfe.png)

[2017-01-18 12:10] puneetpandey37 commented on #3565
To me, it looks like a Bug now. I have provided the machine details and steps/commands I use to set up the server. Could you please try to replicate the issue.

[2017-01-18 12:33] puneetpandey37 commented on #3565
From dmesg:

This is what it says when the Server is brought up:

**device vethaac76fd entered promiscuous mode
vethaac76fd: link is not ready
vethaac76fd: link becomes ready
docker0: port 1(vethaac76fd) entered forwarding state**

And this when it crashes:

**docker0: port 1(vethaac76fd) entered disabled state
device vethaac76fd left promiscuous mode
docker0: port 1(vethaac76fd) entered disabled

[2017-01-18 16:14] puneetpandey37 commented on #3565
Just discovered, restarting the Docker brings up the Minio Server.

`sudo service docker restart`

![image](https://cloud.githubusercontent.com/assets/5543251/22072120/487163fa-ddc7-11e6-9dae-cb7ee25422e3.png)

@harshavardhana  @vadmeste

[2017-01-18 16:25] puneetpandey37 commented on #3565
The problem may have something to do with WICD(wired and wireless network manager)... I have disabled wcid... Let us see if the problem reappears! @harshavardhana @vadmeste

[2017-01-18 19:36] harshavardhana commented on #3565
Working on an instrumentation to gather more info @puneetpandey37 - will ping you with a new docker link  for testing - Thanks for all the hardwork here.

[2017-01-19 02:16] GarimaKapoor commented on #3475
@vadmeste is this issue still work in progress

[2017-01-19 02:17] GarimaKapoor commented on #3418
@abperiasamy can you take a look at this?

[2017-01-19 02:18] GarimaKapoor commented on #3453
@koolhead17 what feedback are you waiting on? Is the PR already sent.

[2017-01-19 02:19] GarimaKapoor commented on #3409
@harshavardhana are we still investigating this?

[2017-01-19 02:20] GarimaKapoor commented on #3329
@harshavardhana is this still relevant?

[2017-01-19 02:21] GarimaKapoor commented on #3270
@harshavardhana these tests were done before the release, is this still relevant?

[2017-01-19 02:22] harshavardhana commented on #3418
This we agreed to implement @GarimaKapoor

[2017-01-19 02:24] GarimaKapoor commented on #3097
@koolhead17 please update the status. and the timeline for the fix

[2017-01-19 02:25] GarimaKapoor commented on #2825
@NitishT you can close this issue one the post is published on 26th Jan.

[2017-01-19 02:26] GarimaKapoor commented on #2817
@krishnasrinivas are you working on this? Do we have a timeline

[2017-01-19 02:27] GarimaKapoor commented on #2831
@krishnasrinivas do we have a timeline for the fix?

[2017-01-19 02:29] GarimaKapoor commented on #2844
@hackintoshrao what is the status of this issue?

[2017-01-19 02:30] GarimaKapoor commented on #2854
@krishnasrinivas do you have a timeline for the fix?

[2017-01-19 02:41] nitisht commented on #2825
@GarimaKapoor I need to add docs on docs.minio.io also

[2017-01-19 02:55] puneetpandey37 commented on #3565
FYI, the issue seems to be fixed after disabling the network manager. I will put here the exact steps I took to resolve the issue(may help someone, facing this issue):

1- Restarted the Docker and checked if the container got the port attached with it. And it got attached.
2- Check if you have another NetworkManager installed. For me, issue was related to wicd (wired and wireless network manager)

[2017-01-19 02:56] GarimaKapoor commented on #2825
Yes! forgot on that. We will need to officially document in our docs as well.

[2017-01-19 03:33] harshavardhana commented on #3077
Closing it for now, we can re-open it in future for now we want to automate releases securely from one single build machine. This process would require manual intervention.

We gpg sign the binaries which should be fine for now. Until we find a way to automate this we will follow current mechanism based on gpg.

[2017-01-19 03:33] #3077 closed, assigned to nobody

[2017-01-19 03:50] harshavardhana commented on #2692
Features like encrytion, compression, dedup should be outside of object storage as a layer above object storage, ideally implemented at the client side.

Please take a look at tools like

 - https://restic.readthedocs.io/en/stable/Manual/ - Restic
 - http://rclone.org/ - Rclone.

[2017-01-19 03:50] #2692 closed, assigned to nobody

[2017-01-19 04:03] justinclift commented on #3077
Sure.  As a data point, that codesign command can be used for automation.

We sign the DB4S automatic nightly builds on OSX [using it](https://gist.github.com/justinclift/59e2c975100c5cd647d773bc797312f0#file-build_sqlitebrowser_nightly-sh-L87-L88). :wink:

[2017-01-19 04:08] harshavardhana commented on #3077
Is this on Linux or macOS system? - we are doing our automation on digital ocean.

[2017-01-19 04:14] harshavardhana commented on #3329
This is not relevant for now and we need to get back to it later as needed.

[2017-01-19 04:14] #3329 closed, assigned to nobody

[2017-01-19 04:14] harshavardhana commented on #3475
Actually @balamurugana is working on a related issue.

[2017-01-19 05:08] jeffutter opened #3592 "docker-machine getting "Unable to initialize storage - disk path full""
## Expected Behavior
I am expecting the server to start

## Current Behavior
When starting minio:

[code]

## Possible Solution
I'm not terribly sure, I think it has something to do with the way that docker-machine mounts the volumes as network shares. Inside the minio container the volumes have the permission 1000:50. I have gone as far as creating a new docker image that adds a minio user with t

[2017-01-19 05:10] harshavardhana commented on #3592
Your disks are full.. @jeffutter min required is atleast 1GB.

[2017-01-19 05:13] jeffutter commented on #3592
I should have specified. On my docker host I have plenty of space:

[code]

On the vm from docker-machine:

[code]

The space minio sees:

[code]

[2017-01-19 05:16] harshavardhana commented on #3592
Looks strange @jeffutter can you do this

Start server but mount it at a separate location choose `/export1`
[code]

[2017-01-19 05:17] harshavardhana commented on #3592
Also 'df -i' to check for inodes.

[2017-01-19 05:18] jeffutter commented on #3592
[code]

Size looks fine. I don't know how many inodes it expects, but none are used.

[2017-01-19 05:22] harshavardhana commented on #3592
Ah i see @jeffutter this looks like a bug on the mount bind..

[2017-01-19 05:24] justinclift commented on #3077
On OSX. We have an older Mac Mini here on a shelf dedicated to building the nightlies. :wink:

Most of every day it's in sleep mode, but at ~4am (scheduled) it wakes up, pulls down the latest source, builds and signs the binaries from that, and uploads them to our nightlies server:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/osx/

(having the historical ones there has turned out useful occa

[2017-01-19 05:25] jeffutter commented on #3592
I was thinking it was something like that. Perhaps it couldn't read the correct stats off it or something. I'm not really sure how to debug further. I see many places where that error message gets logged, but I'm not sure which one is actually raising here.

[2017-01-19 05:25] harshavardhana commented on #3592
Let me give you a code to run

[code]

[2017-01-19 05:26] harshavardhana commented on #3592
you might have to a static binary built locally using ``CGO_ENABLED=0 go build disk.go``

[2017-01-19 05:28] jeffutter commented on #3592
certainly, It might take me a minute. I haven't done any go in a while.

Thanks for being so helpful and quick to respond.

[2017-01-19 05:37] jeffutter commented on #3592
disk.Info{Total:400000000000, Free:68179484672, Files:1000, Ffree:1000, FSType:"NFS"}

[2017-01-19 06:09] harshavardhana commented on #3592
Looks like indeed it is returning a wrong information.  Can you try using docker released version it could be a bug in the `rc2` version as well, also are you sure you are using NFS mount here?

Our internal code validates atleast 10,000 inodes need to be available.

[2017-01-19 06:12] harshavardhana commented on #3077
For now it won't be possible for us just do this specifically for macOS alone.  Once the automation is done we might revisit this, there are other methods perhaps `docker` and brew which are good enough.

Thanks for the tips @justinclift

[2017-01-19 06:13] justinclift commented on #3077
Sure, no worries at all. :smile:

[2017-01-19 07:52] JackTiger commented on #2825
Great Job!!

[2017-01-19 09:43] dcharbonnier opened #3593 "Cluster freeze if too many connections open"
https://github.com/minio/minio-js/issues/535 created this issue but solving one client problem is a different question.
We investigated this issue on 4 clusters of 4 nodes with @harshavardhana.

The revelent log was :

[code]

lsoft was showing a lot of open connections

**IMO the server should close/refuse connexions before it get to this state**

After closing the clients and waiting 20 minutes

[2017-01-19 09:54] koolhead17 commented on #3097
@GarimaKapoor I will work on this tomorrow 20th feb and come up with my findings.

[2017-01-19 11:25] vadmeste opened #3594 "[fs] Regression in bucket listening in master"
## Expected Behavior
`mc watch myminio/testbucket` shows new uploaded objects

## Current Behavior
`mc watch` is not able to detect uploaded objects

## Possible Solution
Not yet

## Steps to Reproduce (for bugs)
Terminal 1:
`$ minio server /tmp/fs`
Terminal 2:
`$ mc mb myminio/testbucket`
`$ mc watch myminio/testbucket`
Terminal 3:
`$ mc cp file myminio/testbucket`

## Context
Manual test

## You

[2017-01-19 11:30] puneetpandey37 commented on #3565
Stopping wcd fixed the issue. Closing the ticket. Thanks!

[2017-01-19 11:30] #3565 closed, assigned to nobody

[2017-01-19 12:34] hackintoshrao commented on #2844
Missed out on this after it was labelled future. Taking it up.

[2017-01-19 12:36] hackintoshrao commented on #3409
Taking this up, will validate this.

[2017-01-19 13:42] ankon opened #3595 "Cannot create buckets unless running in 'us-east-1' region"
## Expected Behavior

Assuming minio runs configured with region 'local', then this should create a bucket in that region:

[code]

## Current Behavior

[code]
Full debug output:
[code]

## Possible Solution

The problem seems to be that `cmd/bucket-handlers.go` uses the "globalMinioDefaultRegion" as region argument to `checkRequestAuthType` -- which seems wrong. The region argument should specify

[2017-01-19 14:53] jeffutter commented on #3592
[code]

@harshavardhana I downgraded to 1.12.6 (although 1.13 was released last night!). Anyhow, it has the same issue.

With docker-machine, docker creates a nfs share from the OSX host to the virtualbox VM running docker for volumes. It then bind mounts that share into the container. Thus it's showing NFS.

[2017-01-19 14:57] jeffutter commented on #3592
It appears that this number of `1000` is hardcoded in virtualbox: http://superuser.com/a/999847

Maybe we could skip this check on NFS ... or more specifically skip it on NFS if the count is 1000? I realize that probably opens up a some potential issues if someone is using minio on Virtualbox over NFS and doesn't actually have enough inodes. But I'm guessing most people wouldn't be doing that in p

[2017-01-19 17:29] harshavardhana commented on #3592
Yes will skip it for NFS. @jeffutter

[2017-01-19 17:34] #3561 closed, assigned to vadmeste

[2017-01-19 18:25] jeffutter commented on #3592
@harshavardhana I opened a PR that fixes this for me. You may have a better way to handle it, but the PR is available if you would like.

[2017-01-19 18:34] harshavardhana commented on #3595
To make boto work with custom region you should change the region in your `config.json`  . The PR doesn't do what is expected. @ankon

Once i change my local config to `us-east-2`  and using `mc mb --region`
[code]

[2017-01-19 18:37] harshavardhana commented on #3592
The PR looks good @jeffutter - will be merged.

[2017-01-19 18:39] #3592 closed, assigned to nobody

[2017-01-19 18:40] harshavardhana commented on #2844
Not in future anymore.

[2017-01-19 18:42] harshavardhana commented on #3594
This is the bug

[code]

First we need to stop sending RPC for localhosts.

[2017-01-19 18:49] ankon commented on #3595
I'm modifying my region in `config.json` to be 'local', and minio confirms that when booting up -- so I'm going to say "if that works for you, then there is something else going on".

Note that I'm not using a "pre-defined" region, but really set it to "local".

Also, the PR is based on reading the code of checkRequestAuthType, and that one definitely goes to compare the region given as parameter

[2017-01-19 18:52] harshavardhana commented on #3595
Sure it works

[code]

[2017-01-19 18:53] harshavardhana commented on #3595
Here is the relevant debug information to see what is the request body.

[code]

[2017-01-19 18:56] harshavardhana commented on #3595
and also

[code]

[2017-01-19 19:01] shantanugadgil opened #3601 "clicking on the logo shows incorrect error message"
When I start the minio server and I click on the logo on the left top which says "Minio Browser",
an error message pops up (in the top middle) which says "Bucket name invalid: "

## Expected Behavior
nothing should happen

## Current Behavior
shows an error message

## Possible Solution
don't show error message

## Steps to Reproduce (for bugs)
(description should be self-explanatory)

## Your Env

[2017-01-19 19:03] harshavardhana commented on #3601
Do you have a screenshot to help us @shantanugadgil ? - Thanks

[2017-01-19 19:03] harshavardhana commented on #3601
// cc @krishnasrinivas

[2017-01-19 19:07] ankon commented on #3595
Aha!

Me:
[code]

You:
[code]

Which makes sense: checkRequestAuthType switches between V2 and V4 signatures, and with V4 you end up here:
https://github.com/Collaborne/minio/blob/9bb0e1deb78aaa20c99212ad8369fb500e47ad16/cmd/auth-handler.go#L159
which goes to here:
https://github.com/Collaborne/minio/blob/9bb0e1deb78aaa20c99212ad8369fb500e47ad16/cmd/auth-handler.go#L184
and finally compares the re

[2017-01-19 19:12] harshavardhana commented on #3595
Ah i see now, the fix should only exist in `PutBucket()`  to behave similar to `ListBuckets()` not for GetBucketLocation. GetBucketLocation should always happen with 'us-east-1'  (S3 Spec) requirement.

[2017-01-19 19:28] harshavardhana commented on #3595
Looks like `boto3` is weird in this manner as well and implements things wrongly. Your patch looks valid to make this all work @ankon

[2017-01-19 19:31] #3595 closed, assigned to nobody

[2017-01-19 19:32] #3594 closed, assigned to nobody

[2017-01-19 19:43] shantanugadgil commented on #3601
![minio_empty_data_dir](https://cloud.githubusercontent.com/assets/2508915/22122353/9c6f5f84-dead-11e6-9d99-9942a9a69f63.png)

[2017-01-19 19:46] harshavardhana commented on #3581
Now circling back on this we see that you are requesting bucket ACLs and IAM.  We are not planning to implement ACLs and IAM in Minio.  Minio is intentionally designed to solve all the needs of a single tenant only.

Closing this as not applicable.

[2017-01-19 19:46] #3581 closed, assigned to harshavardhana

[2017-01-19 19:46] harshavardhana commented on #3601
Thanks @shantanugadgil

[2017-01-19 19:51] shantanugadgil opened #3602 "browser: Change colors of the upload buttons in the minio browser"
When using the minio browser ...

The "white-on-pink" icons are fine to see (the rotating + and X symbol)
One has to squint to try and make out the "white-on-ochre-yellow" logos. (upload file and create bucket)

## Expected Behavior
Easier to identify color combination for the icons.

## Current Behavior
![minio_different_colors](https://cloud.githubusercontent.com/assets/2508915/22122439/fe6dfc86

[2017-01-19 19:52] harshavardhana commented on #3602
There is a work on this under progress in `miniobrowser` project.

[2017-01-19 19:52] harshavardhana commented on #3602
Thanks for the github issue @shantanugadgil

[2017-01-20 00:28] harshavardhana commented on #2965
@bradkarels @sjoerdmulder  - we have a fix - https://github.com/minio/minio/pull/3603 would you be interested in validating this on your end?

[2017-01-20 14:45] carloscarnero commented on #3576
I wholeheartedly agree with this! In many environments (rhymes with NCC-1701) containers are still under investigation and traditional binary application packaging is the way to go. I think that compatibility with RHEL/CentOS should also be considered, IMO.

[2017-01-20 20:13] vadmeste commented on #3593
@dcharbonnier, we are not setting a timeout for clients that are opening connections and not closing them properly. The command `telnet minio_ip 9000` will just keep running and Minio won't close connection proactively. So, I think we need to add a read timeout to evict silent clients.

However, I don't understand why you are increasing tcp time wait to 30 min, it is 1 min by default in Linux syst

[2017-01-20 20:19] harshavardhana commented on #3593
tcp keep alive is not 1minute it is collection of number of probes * keep alive period  so in our case it is similar to golang http server  i.e `9 * 3mins = 27Mins`

[2017-01-20 20:24] vadmeste commented on #3593
@harshavardhana, @dcharbonnier evoked tcp time wait term which is different than tcp keep alive

[2017-01-20 20:24] harshavardhana commented on #3593
The problem here is that minio-js opens connections and never closes them. But in our code after a point we start seeing 'too many open files' issue due to the fact that there are so many sockets open perhaps around 4k the `ulimit` on this machine.

But even after minio-js is closed and the sockets are closed, the server is hung and never responds back.  We need to avoid this freeze we are okay to

[2017-01-20 20:27] harshavardhana commented on #3593
Also we cannot add deadlines on socket while we can the issue becomes complicated for a large file being read the deadline will prematurely close the connection.  We need to see if the idle connection timeout can be added here.

[2017-01-20 20:30] vadmeste commented on #3593
yes, I meant idle. Will investigate more.

[2017-01-20 20:35] dcharbonnier commented on #3593
The client was stopped, it was one process owning all the connections and i killed this client , there was nothing open that's why i spoke about time wait.
Its one issue for 2 problems, not accepting connections that will fail because the cluster will not be even able to communicate with the other memebers and why after closing the connections the clister was still not able to work without a resta

[2017-01-20 20:50] vadmeste commented on #3593
If you set tcp time wait to 30 min and your client opens 65536 connections to the server even serially, you  will have to wait 30 minutes before the server can accept new connections

[2017-01-20 20:57] dcharbonnier commented on #3593
I think this deserve a real test because I really mot sure this s what happened, its easy to reproduce.
You say its a problem to close client connections but why don't you force close them when you start having a problem ? When you start receiving too many open files you can start killing connections if you don't the server won't work anyway. The Linux kernel don't hesitate to kill processes when

[2017-01-20 21:41] harshavardhana commented on #3593
Yes this threshold is good thing and we should do that. Right now its not done so.

[2017-01-21 02:38] hackintoshrao commented on #3409
@QA-Jelastic : I've taken up this issue to investigate. Can you please join our channel  https://slack.minio.io and ping me (@hackintoshrao on the channel). Need some help with getting through Jelastic environment.

[2017-01-21 17:59] harshavardhana commented on #2551
This should be fixed in current master @jonniedarko @Andrey198 @dkocher

[2017-01-21 18:00] jonniedarko commented on #2551
:+1:

On Sat, Jan 21, 2017, 12:59 PM Harshavardhana <notifications@github.com>
wrote:

[2017-01-21 18:02] harshavardhana commented on #3390
@arubacao this should work with the current master.

[2017-01-22 16:00] arubacao commented on #3390
Thanks for the heads up.
I also fixed this issue for me some time ago on the third-party library (but forgot to mention it here):
https://github.com/spatie/laravel-medialibrary/commit/6a38600f2ac34ef361236c159230f40e3080e8d3

[2017-01-23 01:38] tmbdev commented on #1508
There is no "mc access" subcommand.

There is an "mc policy public" command. But either using that or setting access to public through the UI still doesn't allow anonymous downloads through localhost:9000/myminio/bucket/file

[2017-01-23 01:41] harshavardhana commented on #1508
what are you trying to do can you paste some commands? @tmbdev

[2017-01-23 01:48] tmbdev commented on #1508
Overall, I'm trying to use minio as a data server for machine learning.

For that, I need key-protected uploads and unprotected downloads.

I can upload after logging in with "mc cp" or "mc mirror".

For downloading, I would like something like "curl http://localhost:9000/minio/foobar/foo.data" to work

[2017-01-23 01:50] harshavardhana commented on #1508
This works perfectly fine what version of Minio are you using? @tmbdev

[code]

[2017-01-23 08:33] harshavardhana commented on #3395
All of the APIs have been implemented and merged.

[2017-01-23 08:33] #3395 closed, assigned to nobody

[2017-01-23 08:33] harshavardhana commented on #2904
Closing this as this won't be implemented.

[2017-01-23 08:33] #2904 closed, assigned to nobody

[2017-01-23 08:34] harshavardhana commented on #2903
This is already implemented.

[2017-01-23 08:34] #2903 closed, assigned to nobody

[2017-01-23 12:51] vadmeste opened #3610 "[admin] Add server version in status respnse"
## Expected Behavior
No server version in status respsonse

## Current Behavior
Server version in status response

## Possible Solution
Add version field in response

## Context
mc admin service status should show version status

## Your Environment
All

[2017-01-23 13:28] JaTochNietDan opened #3611 "Generating signed URL fails on some files (probably because of spaces)"
A file like this `1485176276969296252/Screen Shot 2017-01-08 at 18.58.14.png` doesn't work  but then this file `1485176837338995493/signal` does work.

Both files exist and do appear to work fine when using the Minio browser to download and view them.

## Possible Solution
I would harbour a guess that it's something to do with the spaces in the file.

## Steps to Reproduce (for bugs)

With this li

[2017-01-23 16:54] #3611 closed, assigned to nobody

[2017-01-23 16:56] #3610 closed, assigned to nobody

[2017-01-23 17:29] mcandre opened #3614 "browser: Misleading error message during secretKey missing in UI"
## Expected Behavior

When a user enters an access key, but neglects to provide a secret key, then the Minio frontend should report an error about the missing secret key form field.

## Current Behavior

The minio frontend displays an error message, but mistakenly reports a missing Access Key, when in fact the Access Key is provided, it's the Secret Key field that is missing.

## Steps to Reproduc

[2017-01-23 17:43] mcandre opened #3615 "Docs: Offer Cookbook for connecting to Minio servers via AWS S3 API"
In the Minio documentation, please provide more details for users interested in connecting to Minio-provided object storage servers via the main AWS S3 API, including configuration details like how to specify the Minio server endpoint.

https://docs.aws.amazon.com/sdk-for-go/api/

[2017-01-23 17:46] harshavardhana commented on #3615
@mcandre have you looked at this - https://docs.minio.io/docs/how-to-use-aws-sdk-for-go-with-minio-server#main ?

[2017-01-23 17:55] #3593 closed, assigned to nobody

[2017-01-23 22:41] harshavardhana commented on #3615
Closing as answered..

[2017-01-23 22:41] #3615 closed, assigned to nobody

[2017-01-23 22:44] harshavardhana commented on #3614
Does karp provide S3 support - more instructions on what was the environment variable used? and how to run karp would be useful.

[2017-01-23 23:35] mcandre commented on #3614
Apologies, `karp` is simply a cross-platform substitute for the equivalent `open`, `xdg-open`, `start`, etc. platform-specific commands for launching graphical programs such as web browsers. You could just do `open 127.0.0.1:9000` on macOS, for example.

[2017-01-24 16:14] harshavardhana commented on #3516
Right now the disk is never rejected at network layer . And POSIX only rejects disk if there is an I/O error. For other scenarios like healing a fresh disk and corrupted disk.. heal format is already merged.

Closing this bug.

[2017-01-24 16:14] #3516 closed, assigned to nobody

[2017-01-24 16:17] harshavardhana commented on #3567
Our current server mux actually handles this and provides a way to have multiple listeners. We can look at enhancing it to support binding to specific set of comma separated IP's only.

[2017-01-24 16:17] harshavardhana commented on #3475
ping @balamurugana

[2017-01-24 20:34] mcandre opened #3623 "How to cleanly shutdown minio clients?"
Are minio clients automatically shutdown per gc, or are users expected to call some kind of shutdown function when no further REST calls will be submitted?

[2017-01-24 21:55] mcandre opened #3624 "How to quickly delete a non-empty bucket?"
Minio provides `RemoveBucket` for deleting an empty bucket, but what's the fastest way to delete a non-empty bucket? For example, it would be nice to quickly clean up after integration tests.

[2017-01-24 22:17] harshavardhana commented on #3624
You can use `mc rm -r --force` which basically does RemoveObjects and then RemoveBucket

[2017-01-24 22:17] #3624 closed, assigned to nobody

[2017-01-24 22:20] harshavardhana commented on #3623
Do not understand what it means by clients are you talking about SDK or mc or anything that you are using.

Server automatically cleans idle connections and properly gives back resources to kernel even if you didn't close the connection on the client side.

[2017-01-24 22:22] harshavardhana commented on #3540
Ping @krisis are planning to look into this ?

[2017-01-25 01:37] krishnasrinivas opened #3625 "FS: error during upload leaves stale fs.json"
An error during a fresh upload leaves back a stale fs.json

## Expected Behavior

fs.json should be removed if upload fails

## Steps to Reproduce (for bugs)
[code]

Server has logs:
[code]

[2017-01-25 01:38] krishnasrinivas commented on #3625
@harshavardhana can you assign this to me?

[2017-01-25 01:39] krisis commented on #3540
Yes, I will be working on it.

[2017-01-25 04:00] vielmetti opened #3626 "Quickstart guide should include instructions for aarch64 (ARMv8)"
Minio now provides aarch64 (ARMv8) binaries, and so the quickstart guide should include instructions for using these systems.

## Expected Behavior

Expected to see aarch64 instructions in the quickstart guide, with a pointer to where to download the binaries.

## Current Behavior

Currently the quickstart guide has ARMv7 information, but not ARMv8.

## Possible Solution

Confirm that the download

[2017-01-25 04:29] #3626 closed, assigned to nobody

[2017-01-25 18:42] krishnasrinivas commented on #3625
It was decided to leave the stale fs.json because if we try to delete it, it can have a consequence that a parallel upload could write to fs.json that gets deleted.

[2017-01-25 18:42] #3625 closed, assigned to krishnasrinivas

[2017-01-25 22:08] vadmeste opened #3631 "[heal] Fails to heal an object when xl.json is deleted in one disk"
## Expected Behavior
Recover when xl.json is removed in only one disk

## Current Behavior
mc admin heal returns 500 error

## Possible Solution
Don't know

## Steps to Reproduce (for bugs)
1. Start from four fresh disk :
`minio server /tmp/xl{1..4}`
2. Create a bucket and upload an object
`mc mb myminio/testbucket; mc cp file myminio/testbucket`
3. Remove xl.json in disk 1
` rm /tmp/xl1/testbucke

[2017-01-25 22:09] harshavardhana commented on #3631
Possible solution is fix the `xl.json` from the other nodes in quorum.. this is part of the deep healing which needs to be addressed.

[2017-01-25 22:09] harshavardhana commented on #3631
Also you can test this with 6 disks and see what the result is? @vadmeste

[2017-01-25 22:11] vadmeste commented on #3631
The same behavior with 6 disks

[2017-01-25 22:14] vadmeste commented on #3631
I see, however, how it comes that it works when I remove the whole object in one disk, like `rm /tmp/xl1/testbucket/file/*` ?

[2017-01-25 22:51] harshavardhana commented on #3631
It is because `xl.json` is used to validate if the object exists to see that if its an object but it should be the quorum that should be counted here in case of healing. There is a bug in how it is handled right now apparently.

[2017-01-26 00:45] tmbdev commented on #1508
Thanks; I had accidentally included the "/minio/" part in the URL, that's why it failed.

[2017-01-26 19:55] vadmeste opened #3637 "[proposal] Add exported functions to simplify testing from external test scripts"
Currently, a go test code can import github.com/minio/minio/cmd package and run the server Minio.

However libraries like minio-go or madmin have the difficulty to perform real tests since they need:
*) An already configured Minio server
*) An established situation that is usually difficult to have.

For example: Let's consider that madmin want to test its lock management code. It is already diffi

[2017-01-26 23:11] vadmeste commented on #3559
Taking this.

[2017-01-27 03:06] krisis commented on #3631
@harshavardhana I can take this up.

[2017-01-27 07:53] radutopala opened #3640 "Store multiple versions of the same file"
Is Minio already capable of storing multiple versions of the same file? Like s3 is.

[2017-01-27 08:05] koolhead17 commented on #3640
Hello @radutopala
Minio does not support object versioning.

[2017-01-27 08:08] radutopala commented on #3640
@koolhead17 would be awesome to have this feature, compete on it with Dropbox and s3.

[2017-01-27 08:10] koolhead17 commented on #3640
@radutopala we have discussed about same https://github.com/minio/minio/issues/1309

[2017-01-27 08:29] harshavardhana commented on #3640
We will not be implementing this in Minio to create multiple object versions our recommended tool is - https://github.com/s3git/s3git

[2017-01-27 08:29] #3640 closed, assigned to harshavardhana

[2017-01-27 10:29] liamdawson opened #3642 "Can't put a file to a bucket with AWS SDK locally"
## Expected Behavior
When the Ruby AWS SDK is set up with the Minio endpoint, creating an object in a bucket should work.

## Current Behavior
If I do not set up hosts file mapping to Minio, and instead use localhost, it attempts to connect to `bucket-name.localhost:9000`, which fails hosts mapping.

If I set up hosts mapping to map `bucket-name.localhost` to `127.0.0.1`, I get an error about unfo

[2017-01-27 12:09] vadmeste commented on #3642
@liamdawson, you probably need to activate force_path_style flag in your code. Did you follow this documentation https://github.com/minio/cookbook/blob/master/docs/aws-sdk-for-ruby-with-minio.md ?

[2017-01-27 12:18] liamdawson commented on #3642
Thanks @vadmeste - I could only find the docs for the CLI. Hopefully this issue will help someone else in future. :)

[2017-01-27 12:18] #3642 closed, assigned to nobody

[2017-01-27 12:21] vadmeste commented on #3642
You welcome. By the way, the same information is hosted here https://docs.minio.io/docs/how-to-use-aws-sdk-for-ruby-with-minio-server, take a look in http://docs.minio.io for more information

[2017-01-27 16:25] vadmeste opened #3644 "xl: Cannot download an empty object uploaded by multipart"
## Expected Behavior
To able to download an empty object uploaded using multipart

## Current Behavior
Not able to download
[code]

## Possible Solution
Fix calculating part index when offset and length are equal to zero

## Steps to Reproduce (for bugs)
1. `aws s3api --endpoint-url "http://localhost:9000" create-multipart-upload --bucket testbucket --key 'multipart/01'`
2. `aws s3api --endpoint-u

[2017-01-27 18:51] #3644 closed, assigned to nobody

[2017-01-27 23:29] mcandre commented on #3624
`mc` is fine for CLI, but what about from the SDK?

[2017-01-27 23:30] krishnasrinivas commented on #3624
@mcandre you can do listObjects and use the results to remove the objects and finally remove the empty bucket

[2017-01-28 17:31] vadmeste opened #3650 "bitrot: Fail to get an object when default bitrot algorithm is sha256"
## Expected Behavior
When I change the default bitrot in the code to sha256 (think about arm64 which uses sha256 by default), I  should be able to get any object.

## Current Behavior
Not able to get an object with sha256 bitrot

## Possible Solution
void

## Steps to Reproduce (for bugs)
1. Change code in xl-v1-metadata.go and make getDefaultBitRotAlgo() returns sha256Algo
2. Start from fresh 4 d

[2017-01-28 20:06] harshavardhana commented on #3650
Can you paste what is `xl.json` output ?

[2017-01-28 20:11] vadmeste commented on #3650
Minio log:
[code]

xl.json content of the first disk:
[code]

The bug is systematic @harshavardhana

[2017-01-29 01:35] carloscarnero commented on #3576
@harshavardhana If it is possible to use [Fedora's COPR](https://copr.fedorainfracloud.org/) then I can try a first approach to RPM packaging.

[2017-01-29 06:33] goodforever opened #3653 "how to modify local fs system to minio ?"
for exmaple I can get image(object) from:
	s3Client, err := minio.New(url, accessKey, secretKey, false)
	if err != nil {
		log.Fatalln(err)
	}

	object, err := s3Client.GetObject(mybucket, fn)

	if err != nil {
		log.Fatalln(err)
	}

How can I modify old local fs system to minio ? like following codes :

// 输出image
// 权限判断
func (c File) OutputImage(noteId, fileId string) revel.Result {
	path := fi

[2017-01-29 06:37] harshavardhana commented on #3653
Are you asking how you can modify backend for FS and make it reflect on the S3 API ? @goodforever

[2017-01-29 15:53] goodforever commented on #3653
@harshavardhana yes ,Can you help me ?

[2017-01-30 03:45] #3540 closed, assigned to krisis

[2017-01-30 05:22] krisis opened #3657 "Upload of policies having conditionKeys with incompatible actions should fail"
All conditionKeys don't apply for all actions. See http://docs.aws.amazon.com/AmazonS3/latest/dev/amazon-s3-policy-keys.html#object-keys-in-amazon-s3-policies and http://docs.aws.amazon.com/AmazonS3/latest/dev/amazon-s3-policy-keys.html#bucket-keys-in-amazon-s3-policies for more information.

## Expected Behavior

ConditionKeys like "s3:prefix" and "s3:max-keys" are applicable to "s3:ListBucket" a

[2017-01-30 05:23] krisis commented on #3657
@harshavardhana I can take this up.

[2017-01-30 08:13] goodforever opened #3658 "How to switch *minio.Object type to *os.File or io.Reader type ?"
I have a function with *os.File parameter .
How to  switch *minio.Object type  to *os.File or io.Reader type ?

[2017-01-30 08:43] harshavardhana commented on #3658
I do not understand what you are trying to achieve here. Can you describe in detail with specific code examples?

The best way is for a function to use `io.Reader` as the basic interface type which both `*minio.Object` and `*os.File` satisfy - for further reading https://dave.cheney.net/2016/08/20/solid-go-design

[2017-01-30 10:18] harshavardhana commented on #2965
Will keep this open until we validate all the hadoop connectors with Minio here

- s3a
- s3n

[2017-01-30 10:48] harshavardhana commented on #3653
This shouldn't be done - modifying backend while also modifying the object from S3 API can have bad consequences - you might loose data. It is not recommended that you modify objects in this manner.

Either you should modify the file directly on the backend and not use S3 API.. Or only use S3 API for all i/o operations.

[2017-01-30 12:30] krisis commented on #3631
@harshavardhana can we close this issue? https://github.com/minio/minio/pull/3649 fixes this.

[2017-01-30 14:31] ennetech opened #3661 "Pushing images to Docker Registry using minio as s3 backend causes registry crash"
When pushing to remote registry, after uploading one layer the request hungs up ("Retrying in" loop) and the docker registry crashes, this does not happen when using Amazon S3

Registry crash:
[code]

Docker registry config:
[code]

Dockerfile used to build the image:
[code]

Steps to reproduce:
[code]
Minio version: 2017-01-25T03:14:52Z
Docker version: 1.13.0, build 49bf474
Registry version: v2

[2017-01-30 17:17] harshavardhana commented on #3661
Can you use region endpoint with https ? Looks like redirection is not handled properly by docker registry.

[2017-01-30 17:23] #3631 closed, assigned to krisis

[2017-01-30 17:23] ennetech commented on #3661
I will configure it and report back

[2017-01-30 17:56] harshavardhana commented on #3661
You need to use 'https://' scheme if you are using 'secure: true' or 'http://' if you are using 'secure: false'  - Minio server if configured with TLS will re-direct the request to a TLS connection if the request is made with scheme 'http://' while server is configured with TLS.

There are other users who have used registry successfully so please let us know how it goes.

[2017-01-30 18:18] ennetech commented on #3661
updated config:
[code]

updated dockerfile (installs le CA)
[code]

followed config procedure for https on minio:
[code]

but the error remains the same, i've also tried disabling certificates on minio and setting 'secure: false' and using the http schema

[2017-01-30 18:26] harshavardhana commented on #3661
Okay thanks we will validate and let you know..

[2017-01-30 18:27] harshavardhana commented on #3657
Closed by #3659

[2017-01-30 18:27] #3657 closed, assigned to krisis

[2017-01-30 18:35] harshavardhana commented on #3653
Closing as answered

[2017-01-30 18:35] #3653 closed, assigned to nobody

[2017-01-30 20:03] harshavardhana commented on #3661
Looks like i found the problem @neurogas the latest release on docker registry won't work with Minio because we don't implement an API - http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html

Just tested with registry version 2.4 it works fine.

[code]

[2017-01-30 20:04] harshavardhana commented on #3661
Will open a separate bug for implementing this API and close this issue here..

[code]

[2017-01-30 20:04] #3661 closed, assigned to nobody

[2017-01-30 20:08] harshavardhana opened #3662 "Latest docker registry fails to work with Minio"
[code]

## Expected Behavior
Docker registry should work fine with Minio server.

## Current Behavior
Latest docker registry release does not work one has to use 2.4 or 2.5

## Possible Solution

## Steps to Reproduce (for bugs)

[code]

On another terminal

[code]

## Context
To use docker registry on Minio.

## Your Environment
docker 1.13
minio master and latest release.

[2017-01-30 20:10] harshavardhana commented on #3661
Even 2.5 works as well @neurogas

[2017-01-30 20:30] ennetech commented on #3661
Perfect! Thank you!

[2017-01-30 22:25] #3650 closed, assigned to nobody

[2017-01-30 23:44] #3559 closed, assigned to nobody

[2017-01-31 00:50] krishnasrinivas commented on #3601
@shantanugadgil what browser (and version) are you using? because I am not able to see the error that you get (checked with minio 2016-12-13T17:19:42Z)

[2017-01-31 04:11] shantanugadgil commented on #3601
My setup: Firefox 50 (now 51.0.1) 32-bit on Win7 x64
It happens when the storage directory is empty.

I also checked with the following browsers; same result:
Opera 42.0.2393.517
Seamonkey (User agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0 SeaMonkey/2.46)
Vivaldi 1.6.689.40 (Stable channel) (64-bit)

[2017-01-31 05:06] harshavardhana commented on #3658
Closing as answered.

[2017-01-31 05:06] #3658 closed, assigned to nobody

[2017-01-31 05:07] harshavardhana commented on #3637
Can you elaborate more on this @vadmeste ?

[2017-01-31 08:57] hackintoshrao opened #3665 "[distributed]: Abort Multipart fails when one of the node is permanently is down."
Abort Multipart fails when one of the node is permanently is down.
## Expected Behavior

- Abort Multipart to work when one of the node is down.
## Current Behavior

- Failing when one of the node is permanently down.

[code]
## Possible Solution

Not sure.
## Steps to Reproduce (for bugs)

1. Run Minio distributed on 4 nodes.
2. Stop one of the node.
3. Run [distributed functional test](https://g

[2017-01-31 09:48] koolhead17 commented on #3239
@harshavardhana @krishnasrinivas Is it still in discussion?

[2017-01-31 11:58] vadmeste commented on #3637
The goal is to **really** test some Minio web services by external librairies like madmin and minio-go. For example, I do not see how we can prepare a test case where madmin is able to find some hold locks when it calls lock list management API.

So, the proposal is:
* madmin's test imports github.com/minio/minio/cmd package and runs the server
* madmin's test calls some APIs that we will implemen

[2017-01-31 16:00] hackintoshrao opened #3666 "[distributed]: Severe increase in number of goroutines under load."
There is a huge bump in number of go routines in the system observed during  most of the [exec-concurrent](https://github.com/minio/perftest/tree/master/exec-concurrent) tests.  The tests are run at a concurrency of 10.

## Expected Behavior

- Not a severe rise in number of go routines in the system after the load test.

## Current Behavior

- Severe rise in the number of go routines in the syste

[2017-01-31 17:37] harshavardhana commented on #3666
How is this a leak after it goes down in few minutes?

[2017-01-31 17:38] #3662 closed, assigned to harshavardhana

[2017-01-31 18:29] hackintoshrao commented on #3666
Leak may not be the appropriate term, I'm reporting a really large increase in number of go routines in the system even under not so hectic load. With increasing load the number increases to few ten thousands.

[2017-01-31 18:32] harshavardhana commented on #3666
Does the server become unavailable? slower? un-responsive? - if the resources are relinquished what is the issue here?

[2017-01-31 18:37] krishnasrinivas commented on #3601
ah, yes, i see that it happens when there are no buckets.

[2017-01-31 21:44] #3601 closed, assigned to nobody

[2017-02-01 00:55] harshavardhana commented on #3623
Closing this as answered @mcandre

[2017-02-01 00:55] #3623 closed, assigned to nobody

[2017-02-01 03:54] harshavardhana commented on #3665
what does the log message look like on the server side?

[2017-02-01 04:42] goodforever commented on #3658
@harshavardhana
I have old function:
// 输出image
// [OK]
func (c ApiFile) GetImage(fileId string) revel.Result {
	path := fileService.GetFile(c.getUserId(), fileId) // 得到路径
	if path == "" {
		return c.RenderText("")
	}
	fn := revel.BasePath + "/" + strings.TrimLeft(path, "/")
	file, _ := os.Open(fn)
	return c.RenderFile(file, revel.Inline) // revel.Attachment
}

image file is *os.File ,that is save

[2017-02-01 04:45] harshavardhana commented on #3658
What methods does `RenderFile()` needs access to `Read(), Seek(), ReaderAt()`  ? if its just `Read()` then the function signature should be just for `io.Reader`

Old function signature
[code]

New function signature
[code]

[2017-02-01 05:44] goodforever commented on #3658
can I pass *minio.Object to New function signature parameter file io.Reader,for example
c. ReaderFile(object,...) ?

func (c *Controller) RenderFile(file io.Reader delivery ContentDisposition) Result {

[2017-02-01 05:51] harshavardhana commented on #3658
Yes absolutely `*minio.Object` implements

- io.Reader
- io.Seeker
- io.ReaderAt
- io.Closer

Interfaces..

[2017-02-01 06:28] koolhead17 commented on #3097
This can be closed because the module on drupal8 is still in development and on Drupal 7, it uses older version of AWS-S3 PHP.

[2017-02-01 07:01] #3097 closed, assigned to vadmeste

[2017-02-01 12:38] goodforever commented on #3658
Thanks ,all

[2017-02-01 18:54] paride opened #3672 "Can't get valid PresignedUrl with aws-sdk: Signature does not match"
My Java code (based on `aws-sdk`, not on `minio-java`) goes like this:

[code]

The URL is generated, but then it's not accepted by Minio with this error:

This happens on Minio
[code]
using `aws-sdk` 1.11.22. If I use the `minio-java` libraries on the same Minio server everything works fine. The other tools like `mc` have no problems in accessing the server. The code I'm using is taken from:

htt

[2017-02-01 19:10] vadmeste commented on #3672
@paride, to open the presigned URL, you need to use the same server's host name that you passed when generating the presigned url.

You set this in your code `client.setEndpoint("https://s3.myserver.org/");`, so you have to use https://s3.myserver.org/mybucket/2751378068674537391?xx=xx&xx=xx&xx=xx

Can you check and keep us updated ?

[2017-02-01 19:12] harshavardhana commented on #3672
Can you paste the generated URL ?

[2017-02-01 19:14] harshavardhana commented on #3672
Also looks there is a proxy used here . Can you paste your proxy version and config ?

[2017-02-01 19:16] #3665 closed, assigned to nobody

[2017-02-01 19:26] paride commented on #3672
The URL is:

`https://s3.myserver.org//secchio/2515018938636541835?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20170201T192142Z&X-Amz-SignedHeaders=content-type%3Bhost&X-Amz-Expires=3600&X-Amz-Credential=XXXXXXX%2F20170201%2Fcable%2Fs3%2Faws4_request&X-Amz-Signature=6cda4ae30ae474c636f005b879560321c08415e3aa7f8111707095db5b357015`

where `secchio` is the name of the bucket. The proxy is an Apache

[2017-02-01 19:39] paride commented on #3672
OK, trying without proxy is not straightforward, but it's an Apache reverse proxy.

The code works fine if I use the official Amazon service. Well, I didn't try with `setSignerOverride()`, `setRegion()` and `setPathStyleAccess()`, but otherwise it works. I do use the same hostname both when generating the presignedUrl and with accessing it.

[2017-02-01 19:43] harshavardhana commented on #3672
Can you provide the apache reverse proxy config ?

[2017-02-01 19:46] paride commented on #3672
I got rid of the double `/` in the URL, just in case. Nothing changed. The proxy is configured like this:

[code]

[2017-02-01 19:53] paride commented on #3672
I just changed `ProxyVia On` to `ProxyVia Block`, like suggested here:

https://github.com/minio/cookbook/blob/master/docs/setup-apache-http-proxy-with-minio.md

but with no success.

[2017-02-01 19:56] edsiper opened #3674 "Browser: cannot change TCP port"
I am trying to make the minio browser run in a different port than 8080, it was suggested to modify the configuration file __webpack.config.js__ but the changes not take effect.

## Expected Behavior

Run the browser in a different TCP port

## Current Behavior

Cannot start minio as it wants to use 8080 which is already binded by a different service:

[code]
## Your Environment

- Ubuntu 16.10

[2017-02-01 19:58] vadmeste commented on #3674
It seems you have another instance/program listening to port 8080, can you manage to kill it and test again ?

[2017-02-01 20:08] edsiper commented on #3674
I cannot kill my local 8080 service, I am using it.

My goal is to use minio browser in a different TCP port.

[2017-02-01 20:18] harshavardhana commented on #3672
The error here indicates that the `Host` header is wrong where it should have been "s3.myserver.org"

[2017-02-01 20:26] harshavardhana commented on #3674
Here is how you can do it

[code]

[2017-02-01 20:29] edsiper commented on #3674
thanks, that worked!

Please document that somewhere.

[2017-02-01 20:45] paride commented on #3672
@harshavardhana if you're referring to the fact that sometimes it's `s3.cable.im` and sometimes `s3.myserver.org`, it's my fault. I didn't want to publish the actual domain, but it's not so important. It's actually `s3.cable.im`, everywhere. So:

`ERRO[0101] {"method":"PUT","path":"/secchio/4956633102154884414","query":"X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Date=20170201T194311Z\u0026X-Amz-S

[2017-02-01 20:48] harshavardhana commented on #3672
Ok i see now we will evaluate this on our end..

[2017-02-01 20:53] paride commented on #3672
@hackintoshrao Thank you.

[2017-02-01 21:12] #3674 closed, assigned to nobody

[2017-02-01 22:41] paride commented on #3672
@harshavardhana if you can't figure what the problem is I can let you have the credentials to try on the server. Let me know.

[2017-02-01 22:41] vadmeste commented on #3672
@paride, the client which is opening the presigned url should send this header "Content-Type: application/octet-stream", you can't do that with a browser but you can with curl.

Another option is to remove ` request.setContentType("application/octet-stream");` from your code.

[2017-02-01 22:54] paride commented on #3672
@vadmeste Thank you. I removed the `setContentType()` line but it didn't fix it. The error is still

`ERRO[5552] {"method":"PUT","path":"/secchio/1951076555824126305","query":"X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Date=20170201T225308Z\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Expires=3600\u0026X-Amz-Credential=XXXXXXXXXXXXXXXXXXXX%!F(MISSING)20170201%!F(MISSING)cable%!F(MISSING)s3%!F(MISSING

[2017-02-01 23:01] vadmeste commented on #3672
@paride, well, it seems that you were sending the content-type header from the beginning so it must be another issue. Will continue my investigation. By the way, can you tell me what is the value that you set to 'method' variable ?

[2017-02-01 23:07] paride commented on #3672
@vadmeste It's `HttpMethod.PUT`, from `com.amazonaws.HttpMethod`.

[2017-02-01 23:19] krishnasrinivas opened #3676 "signature: stringToSign should be based on the scope sent by the client"
For V4 signature calculation, stringToSign should be based on the scope that client sends in the Credential of Authorizaton:

presently it's calculated from X-Amz-Date:
[code]

[2017-02-01 23:43] vadmeste commented on #3672
@paride, I tested locally and it works. Not able to guess what's the problem with your configuration, can you join us here  https://slack.minio.io to discuss further ?

[2017-02-02 02:11] #3666 closed, assigned to hackintoshrao

[2017-02-02 02:43] krishnasrinivas commented on #3676
working on this.

[2017-02-02 12:15] goodforever opened #3677 "How to call Go client API CopyObject ?"
Is right that I call  CopyObject like following ?
err := minioClient.CopyObject("mybucket", "files/user001/xxx.jpg,   "/" + "mybucket" + "/" + files +"/" + "user002" + "/"  + "xxx.jpg", CopyConditions)

I have no CopyConditions, how to setup CopyConditions ?

[2017-02-02 12:56] keithballdotnet commented on #2551
You mean with the latest it is now possible to create empty folders again?

[2017-02-02 14:04] krisis commented on #3677
@goodforever what you wish to achieve in the above snippet? ``CopyObject`` is meant for copying objects within the same object store. E.g, copying an object ``myobject`` that is already available in minio (or AWS S3) under ``mybucket`` onto a new object say ``anotherbucket/newobject`. If you wish to copy a file to minio (or AWS S3) you could use [PutObject](http://docs.minio.io/docs/golang-client-

[2017-02-02 15:08] goodforever commented on #3677
I need copy a object to other object name under the same mybucket .

[2017-02-02 18:09] harshavardhana commented on #2551
It is allowed in a manner where cyberduck won't complain. It doesn't really create a folder yet but it doesn't return any error if the object has a / at the end.

[2017-02-02 18:11] jonniedarko commented on #2551
What about the Minio UI, How can I upload files there to a particular
folder path? is that supported

[2017-02-02 18:15] harshavardhana commented on #2551
Not on Minio UI @jonniedarko

[2017-02-02 18:25] paride commented on #3672
OK, I somehow fixed it, and it wasn't minio's fault. Unfortunately I changed too many things to be able to pinpoint the problem. What I did basically is:

- Use the new `AmazonS3ClientBuilder` stuff instead of the deprecated `setEndpoint()`, especially `setEndpointConfiguration()`. I found out that I call it after `setRegion()`, so the tricky part was probably there.
- Updated `aws-java-sdk-s3` to

[2017-02-02 18:30] harshavardhana commented on #3672
Thanks @paride. Closing this bug.

[2017-02-02 18:30] #3672 closed, assigned to nobody

[2017-02-02 18:57] vadmeste commented on #3567
Taking this

[2017-02-02 19:00] vadmeste commented on #3418
Taking this

[2017-02-03 02:26] krisis commented on #3677
I tested the following program on play.minio.io, to copy an object into the same bucket with no copy conditions. It worked. If you don't expect source object to satisfy any conditions like ETag value or Modified-Since etc, passing an 'empty' ``minio.CopyConditions`` works. Hope that helps.
[code]

[2017-02-03 02:28] harshavardhana commented on #3677
Closing this as answered by @krisis

[2017-02-03 02:28] #3677 closed, assigned to nobody

[2017-02-03 02:50] goodforever commented on #3677
@krisis Thanks!

[2017-02-03 03:01] krisis commented on #3677
@goodforever could you review this [PR](https://github.com/minio/minio-go/pull/601), which tries to improve the CopyObject API example?

[2017-02-03 03:30] harshavardhana opened #3678 "admin: ServiceStatus should return back server uptime"
[code]
## Expected Behavior
Server should report back the server uptime i.e  duration since when the server is online.

## Current Behavior
Do not know since when the server is up.

## Possible Solution
Remember the time when the server has been started after object layer initialization.

## Context
Usability improvements.

## Your Environment
Current `mc master` and `minio master`

[2017-02-03 03:34] goodforever commented on #3677
@krisis The example srcObject := "srcBucket/srcObject"  that you give me above and PR example (+err := minioClient.CopyObject("mybucket", "myobject", "/my-sourcebucketname/my-sourceobjectname", copyConds) is different . PR example has  "/" before my-sourcebucketname .
and other When I compile 	copyConds := minioClient.NewCopyConditions(), I got minioClient.NewCopyConditions undefined (type *minio.

[2017-02-03 03:35] harshavardhana commented on #3677
It should be `copyConds := minio.NewCopyConditions()`

[2017-02-03 03:36] goodforever commented on #3677
@harshavardhana Thanks!

[2017-02-03 03:49] krisis commented on #3677
@goodforever I have removed the leading '/' from the source object name in the examples. I don't see minioClient.CopyConditions in the example in the PR. If you find this change useful we can merge it to our docs.

[2017-02-03 04:01] harshavardhana commented on #3678
Change output structure of `service status`

[code]

To

[code]

[2017-02-03 04:04] goodforever commented on #3677
@krisis minioClient.CopyConditions is my code error , not in your example code . Your example is very useful , Thanks!

[2017-02-03 04:06] harshavardhana opened #3679 "admin: Introduce a new API ServerInfo()"
Provides following output, new command.

[code]

[code]

## Expected Behavior
Expected to have `ServerInfo`

## Current Behavior
Currently serverInfo is part of status Info but we need to introduce network transfer rates as well.

## Possible Solution
Implement network monitors at handler layer.

## Context
Enhancement to existing functionality.

## Your Environment
Current `mc master` and `minio

[2017-02-03 04:10] krisis commented on #3677
@goodforever OK. Thank you for reviewing the examples.

[2017-02-03 06:31] krisis commented on #3676
@krishnasrinivas, when will the time in scope be different from time in ``X-Amz-Data`` request header (ignoring the precision)?

[2017-02-03 06:48] krishnasrinivas commented on #3676
@krisis if the client chooses to it can put any date of the previous 7 days in the scope, and we should not look at the x-amz-date to calculate the scope, but use the client provided scope.

In http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html search for `The signature is valid for seven days after the specified date.`

[2017-02-03 06:52] krisis commented on #3676
@krishnasrinivas thanks, that explains.

[2017-02-03 08:48] gowithplanb commented on #3679
Please include the number of requests handled as well, that will make for nice graphing too.

[2017-02-03 09:02] harshavardhana commented on #3679
Thanks @gowithplanb looks like a good idea :+1:

[2017-02-03 19:16] krishnasrinivas opened #3680 "handle errors and retry in listen bucket notifications"
[code]

instead of returning we can retry after sometime so that app using the api does not have to.

[2017-02-03 19:19] harshavardhana commented on #3680
It should be the API on the client side which should retry like how minio-go does and why is this bug open for minio server?

[2017-02-03 19:21] krishnasrinivas commented on #3680
that's a mistake, i intended to open it on minio-js

[2017-02-03 19:21] #3680 closed, assigned to nobody

[2017-02-04 09:55] krisis commented on #3679
@harshavardhana I can take this up.

[2017-02-04 10:02] krisis commented on #3679
@harshavardhana how do we represent ``server`` key in the case of a distributed setup? e.g, ``version`` and ``uptime`` could be different for nodes in a distributed setup. One way to handle this is make ``server`` key an json array with one element per node. The same question applies to ``network`` key as well. Thoughts?

[2017-02-04 12:07] vadmeste commented on #3679
by the way @krisis, I forgot to mention here that I already started to write a handler to count transferred bytes and requests count etc.. I mean all network related information. I'll commit it today and you can take the rest of the task if you want.

[2017-02-04 18:59] billyprice1old opened #3683 "Incorect file sizes"
Incorrect files size when useing mounts points /mnt/storage  i have multiples points and i dont want to invidaly need them on diffrent ports

[2017-02-04 19:01] harshavardhana commented on #3683
Can you also add screenshots and the software that you are using ?

[2017-02-04 20:08] billyprice1old commented on #3683
im useing Ubuntu 14.04 hubicfuse this branch https://github.com/nikokio/hubicfuse

mnt point /mnt/hubmic/pxl and /mnt/hubmic/ibillys3 works if i do it dirrect but i got 2 diffrent accounts so thats not possible https://vgy.me/YetKvU.png both

1 mount https://vgy.me/QO2Ft5.png

if you need anything else just ask thanks

[2017-02-05 10:47] goodforever opened #3685 "How to get the size of object (object := mini.Client.GetObject(...)) ?"
I cannot find file of *minio.Object defined. How to get the size of  object (object := minioClient.GetObject(...)) ?

[2017-02-05 11:04] harshavardhana commented on #3685
You can by just doing

[code]

[2017-02-05 12:28] goodforever commented on #3685
@harshavardhana Thanks!

[2017-02-05 18:30] #3685 closed, assigned to nobody

[2017-02-05 20:23] Gargron opened #3687 "Object deduplication"
Are there any plans to implement deduplication? If the same file is uploaded more than once, to keep only one copy in the store, but reference it from two objects?

[2017-02-05 20:26] krishnasrinivas commented on #3687
@Gargron we don't have any plans of implementing de-dup in minio as we would like to keep the software simple to do one thing well - which is not lose the data (plus ease of operation).

[2017-02-05 20:27] harshavardhana commented on #3687
As @krishnasrinivas suggested we are not planning to implement this feature.

[2017-02-05 21:14] #3687 closed, assigned to nobody

[2017-02-06 00:52] shantanugadgil commented on #3576
@harshavardhana  @carloscarnero
I would like to point you to https://github.com/jordansissel/fpm
I am not sure what sort of integration you need, but if building rpm/deb is the requirement,
this tool is pretty awesome.

Cheers,
Shantanu

[2017-02-06 00:54] shantanugadgil commented on #3575
Same as: https://github.com/minio/minio/issues/3576#issuecomment-277564260

[2017-02-06 02:00] harshavardhana commented on #3637
A functional test for this scenario was decided to be done on mint package using directly `mc admin` tool.

[2017-02-06 02:06] harshavardhana commented on #3586
@geekrohit do you need any help from us - if you give us access to the setup we can do this for you.

[2017-02-06 02:10] harshavardhana commented on #3572
http://stackoverflow.com/questions/15413646/converting-pfx-to-pem-using-openssl - one workaround here to be documented.

[2017-02-06 02:16] harshavardhana commented on #3567
Deferred for future for now..

[2017-02-06 02:27] harshavardhana commented on #3536
Sync and fsync only makes regular i/o synchronous and slow.  Minio writes data to the disk using regular read/write calls and is as durable as the underlying filesystem.  Minio guarantees strict read after write consistency model using [dsync](https://github.com/minio/dsync) locking and synchronization in distributed mode and regular RW mutex in standalone mode.

Thanks for bringing this to our no

[2017-02-06 02:27] #3536 closed, assigned to nobody

[2017-02-06 02:57] GarimaKapoor commented on #3678
@krisis please update the timeline for the fix.

[2017-02-06 02:58] harshavardhana commented on #3453
We will update the distributed docs to explicitly mention this.

[2017-02-06 03:00] krisis commented on #3678
@harshavardhana what is the uptime we should report in the case of a distributed setup?

[2017-02-06 03:07] harshavardhana commented on #3460
This issue is fixed by docker swarm in 1.13 version - https://github.com/minio/minio/pull/3684

[2017-02-06 03:07] #3460 closed, assigned to nobody

[2017-02-06 03:10] harshavardhana commented on #3272
Amazon S3 default behavior is None until a user reports we can defer it to the future, closing this bug for now.

[2017-02-06 03:10] #3272 closed, assigned to nobody

[2017-02-06 03:12] harshavardhana commented on #3270
The current style tests to be run across specific directories for each is good enough and correct to varied use cases

[2017-02-06 03:12] #3270 closed, assigned to nobody

[2017-02-06 03:18] harshavardhana commented on #3239
Two modes of operations:
- Standalone
- Distributed

Two types of backends:
- FS
- Erasure Code

[2017-02-06 03:31] harshavardhana commented on #3173
Closing as duplicate of https://github.com/minio/minio/issues/3679

[2017-02-06 03:31] #3173 closed, assigned to nobody

[2017-02-06 03:49] harshavardhana commented on #3161
http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html#RESTBucketPUTwebsite-examples

To enable static website hosting.

[2017-02-06 03:50] harshavardhana commented on #3678
Quorum based commonality as discussed.

[2017-02-06 03:53] hackintoshrao commented on #3409
Conducted tests to validate whether the issue is surfacing from within Minio's code base. After the tests it is clear that the issue is very specific to the Jelastic's environment and the issue doesn't exist in general.

[2017-02-06 04:02] harshavardhana commented on #2781
Closing this as not needed anymore.

[2017-02-06 04:02] #2781 closed, assigned to koolhead17

[2017-02-06 04:06] harshavardhana commented on #2714
Closing this issue.

[2017-02-06 04:06] #2714 closed, assigned to krishnasrinivas

[2017-02-06 04:07] harshavardhana commented on #2286
Closing as already fixed.

[2017-02-06 04:07] #2286 closed, assigned to harshavardhana

[2017-02-06 07:35] krishnasrinivas opened #3689 "Implement minio federation gateway to combine namespace"
The proxy should:
* be S3 compatible
* forward request based on bucket
* should provide regex based routing preference
* should implement ListBuckets by listing across minio instances

We should explore the best way to implement the proxy -
* caddy plugin
* nginx module
* our own Go implementation

[2017-02-06 09:55] vadmeste commented on #3678
@krisis, uptime can be wrongly calculated in case of having system's time changed by the user or NTP, it seems to me that currently, there is no way to properly address this but it will be *transparently* fixed in go 1.9 (see https://github.com/golang/go/issues/12914 and https://github.com/golang/proposal/blob/master/design/12914-monotonic.md)

[2017-02-06 10:39] chrisgavin opened #3691 "Unable to upload empty files to Minio. (unexpected EOF / #has incomplete body)"
I seem to be unable to upload empty files to a Minio server running the latest master. This occurs using the official S3 Java library, but not the command line client.

## Expected Behavior
It should be possible to upload empty files from the official Java library.

## Current Behavior
In the Java client this exception is thrown:

[code]

The Minio log shows these errors:
[code]

## Steps to Repro

[2017-02-06 10:43] vadmeste commented on #3691
Taking this.

[2017-02-06 12:09] krisis commented on #3678
@GarimaKapoor the fix for this issue is available for review here - #3690

[2017-02-06 14:20] uroni commented on #3536
Ok, so no guarantee the data is durable. I need this for the use case (and it is something all other S3 implementations have btw.). Thanks for the answer!

[2017-02-06 18:02] PsyTae opened #3693 "api: Issue with creating multiple listenBucketNotification at the same time"
When creating multiple listenBucketNotification variables at the same time, they are getting intermixed.

I was creating 3 variables at the same time, for the extensions of mp4, mtd, and jpg.   When starting my listener script and uploading the prescribed types of files the listener for the type of file is not always the one triggered.
[code]
CLIENT SIDE
[code]
SERVER SIDE
[code]
## Possible Solut

[2017-02-06 21:05] harshavardhana commented on #3683
We cannot technically support this behavior we used `.minio.sys` which is a directory for example at a top level "/mnt/storage" - where we create temporary files and eventually they are renamed to their actual namespace inside "/mnt/storage/bucket" if - the bucket for example is a different mount point - renames are not allowed across different mount boundaries so ultimately it will fail.

You can

[2017-02-06 21:05] #3683 closed, assigned to nobody

[2017-02-06 21:09] #3676 closed, assigned to krishnasrinivas

[2017-02-06 22:19] #3691 closed, assigned to vadmeste

[2017-02-06 22:55] vadmeste commented on #3693
@PsyTae, I've tested this under Ubuntu 16.04 without foundMP4(), foundMTD() and foundJPG() and it works fine.

Before testing under Windows, can I ask you to update to the last Minio server version ?

The best way to know the minio version is by running this `minio version`

[2017-02-07 01:38] harshavardhana opened #3696 "admin: mc admin service creds changes password for play"
[code]

[2017-02-07 02:35] harshavardhana opened #3697 "config: Add extensive `config.json` validator code"
## Expected Behavior
We need extensive validation for `config.json` for Minio Server just like `mc`.

## Current Behavior
No extensive `config.json` validation found in current master.

## Possible Solution
https://github.com/minio/mc/blob/master/cmd/config-validate.go follow this.

## Steps to Reproduce (for bugs)
Code inspection.

## Context
Minio server startup checks.

[2017-02-07 02:37] harshavardhana opened #3698 "admin: Add GetConfig API to get the entire `config.json`"
This is to be implemented for `mc admin config get`

[code]

## Expected Behavior
Expected to get entire `config.json` from server to be edited on the client side and uploaded.

## Current Behavior
No way to set the configuration params for other options like logger, notification etc.

## Possible Solution
Implement a new admin API.

[2017-02-07 02:38] harshavardhana opened #3699 "admin: Add SetConfig API takes `config.json` as input"
[code]

## Expected Behavior
Implement a way to edit/set `config.json` from the `mc` side.

## Current Behavior
No way to set the logger and notification parameters across all nodes.

## Possible Solution
Implement admin API SetConfig()

[2017-02-07 02:41] harshavardhana opened #3700 "config/cleanup: Re-do the serverConfig struct to honor ENV behavior properly"
## Expected Behavior
When ENV variable is set we shouldn't update the `config.json` if it already exists, save it only if its a fresh start.

## Current Behavior
We override the config and regenerate it.

## Possible Solution
Do not regenerate.

## Steps to Reproduce (for bugs)
Just set the `config.json` with custom keys and start with ENV server will re-write `config.json` with the ENV keys.

[2017-02-07 02:43] harshavardhana opened #3701 "config: Add a new `config.json` option to disable browser"
Bring a new config option to disable browser through `config.json` , requires bumping of the config version to '14'.

## Expected Behavior
[code]

In `config.json`

## Current Behavior
No way to disable minio browser without just ENV variable.

## Possible Solution
Implement support for `config.json` to dictate if browser should be turned off.

[2017-02-07 03:53] krishnasrinivas opened #3702 "browser: Bucket policy modal should have more clues on public access using browser"
As of now after adding a bucket policy the user does not know how to access it publicly (without auth) using browser.

Add one more "copy url" button at the arrow shown in the picture below, when the user clicks the button we copy "https://host/minio/bucket/prefix" to clipboard.

![copyurl](https://cloud.githubusercontent.com/assets/634494/22677185/9fb19cc4-eca5-11e6-85cc-e8fdf675500c.png)

[2017-02-07 04:34] hackintoshrao opened #3704 "package: update Mesosphere Universe package for latest Minio release."
- Currently the Universe package has integration for release [minio/minio:RELEASE.2016-11-26T02-23-47Z](https://github.com/mesosphere/universe/tree/version-3.x/repo/packages/M/minio) , the package for the further releases has to be implemented.

[2017-02-07 04:46] krisis opened #3705 "bucket-policy: condition keys should be specific to actions"
In minio server, bucket policies implementation doesn't check if the specified condition keys are valid for the actions in the statement. ref: http://docs.aws.amazon.com/AmazonS3/latest/dev/amazon-s3-policy-keys.html#bucket-keys-in-amazon-s3-policies
## Expected Behavior

e.g, "s3:prefix" applies only to "s3:ListBucket" and not for "s3:PutBucket" (say).
## Current Behavior

We don't check if condi

[2017-02-07 05:04] harshavardhana commented on #3705
Isn't this fixed already?  What is this patch supposed to do 2665aba55525f47faf8a362d21b2aa1da10e09fa?

[2017-02-07 05:04] harshavardhana commented on #3705
There is no "s3:PutBucket" btw.  Perhaps you meant "s3:PutObject"

[2017-02-07 05:13] harshavardhana commented on #3705
Here is the previous github issue - https://github.com/minio/minio/issues/3657

[2017-02-07 05:41] krisis commented on #3705
Oops. I forgot that the issue was opened previously and fixed. Sorry for the confusion.

[2017-02-07 05:41] #3705 closed, assigned to nobody

[2017-02-07 06:52] goodforever opened #3707 "faq: How to use presignedURL ?"
How to use presignedURL in html template  ?

div
	img src={{display image of presignedURL at here }} id="avatar"
div

presignedURL, _ := storage.MinioClient.PresignedGetObject(mybucket, "logo.jpg", time.Second * 24 * 60 * 60, nil)

[2017-02-07 06:55] harshavardhana commented on #3707
Please provide us more definite code with proper description of what you are trying to do. @goodforever

[2017-02-07 06:55] harshavardhana commented on #3707
Also for these type of questions please visit our slack channel https://slack.minio.io

[2017-02-07 07:18] harshavardhana opened #3708 "httpResponseRecorder missing Hijack interface leads to crash."
[code]

## Expected Behavior
Hijack method should be overloaded.

## Current Behavior
Crashes the server.

## Possible Solution
Add a Hijack method.

## Steps to Reproduce (for bugs)
Just start distributed server from master.

[2017-02-07 07:46] #3708 closed, assigned to harshavardhana

[2017-02-07 10:27] Daxten opened #3710 "faq: Can minio server be run on other path other than root?"
Is it possible to run minio on, for example www.example.com/s3? I couldn't find this in the documentation and I think it would be a very helpfull feature. Atm if I route /s3 to minio I will get "s3 bucket could not be found" error

[2017-02-07 10:28] harshavardhana commented on #3710
// cc @krishnasrinivas can help.

[2017-02-07 10:33] harshavardhana commented on #3637
Closing..

[2017-02-07 10:33] #3637 closed, assigned to nobody

[2017-02-07 11:41] tibbes opened #3711 "faq: Paths containing colons do not work on Windows"
The set of characters supported in object names is not the same as the real S3. In particular, paths containing colons fail when `minio` is running on Windows.

## Expected Behavior
It is possible to create objects that contain colons in the name.

## Current Behavior
When uploading an object with a colon in the name (in this case, the directory part of the name), the upload fails and the `minio`

[2017-02-07 11:44] vadmeste commented on #3708
I wonder why we haven't seen this before.

[2017-02-07 16:28] harshavardhana commented on #3711
This is expected. Windows has limited capabilities in terms of what file if can create on the backend. S3 uses a database we don't use database we rely on backend disk abilities.

Uses Linux which will allow creation of such files happily.

[2017-02-07 16:29] #3711 closed, assigned to nobody

[2017-02-07 16:31] harshavardhana commented on #3708
You didn't use distributed setup. @vadmeste when we wrap we need to pass the right interfaces. Go http library doesn't expect users to wrap http.ResponseWriter

Hijack is used by RPC calls only.

[2017-02-07 16:32] vadmeste commented on #3708
:+1:

[2017-02-07 19:46] krishnasrinivas commented on #3710
@Daxten

You can use nginx like proxies to achieve this like this:

[code]

But note that `s3bucket` is actually a bucket on minio. If you want to expose more buckets you will need to add routes for those buckets as well in the nginx config.

[2017-02-07 20:51] #3696 closed, assigned to harshavardhana

[2017-02-07 21:36] pascalandy opened #3713 "faq: Running Minio Erasure Code Mode in a Docker Swarm Mode (1.13)"
Hey folks,

I’m running a 4 nodes cluster in Docker Swarm Mode 1.13.
I want to setup a ECM (Erasure Code Mode). Following [this doc](https://docs.minio.io/docs/minio-erasure-code-quickstart-guide) and this [docker-compose.yml ](https://raw.githubusercontent.com/minio/minio/master/docs/docker/docker-compose.yml), I’m still not sure to understand this syntax:

- `command: server http://minio1/myexpo

[2017-02-07 23:26] vadmeste commented on #3418
Ongoing development and finding: we will need --region flag to correctly create buckets in the second instance.

[2017-02-07 23:35] pascalandy commented on #3713
From the docker-compose v3, I realize that this argument is not present:
`--mount type=bind,src=/mnt/minio/dev-d/minio_config",dst="/root/.minio" \`

At this point it looks we don't need to specify need anymore.

[2017-02-07 23:56] harshavardhana commented on #3418
You can use 'GetBucketLocation()' API from minio-go @vadmeste

[2017-02-07 23:58] vadmeste commented on #3418
Well, the bucket doesn't exist yet to fetch its location

[2017-02-08 00:26] vadmeste commented on #3418
Also I guess --force will allow overriding policy rules in the second instance if they ever exist

[2017-02-08 07:40] rakesh-eltropy opened #3716 "api/client: [minio-java] Ability to add a region manually while generating the signed url.."
## Expected Behaviour
We don't have access to network while generating the signed url. In case network is not available, we should have a way to pass the region in the API. It would be great if this enhancement can be added.

## Current Behaviour
Currently it is falling back to default region us-east-1 in Java API.

[2017-02-08 07:53] rakesh-eltropy commented on #3707
You need to use an API which generates signed url and redirect e.g src="/api/image/render/logo.jpg".

[2017-02-08 08:13] #3678 closed, assigned to krisis

[2017-02-08 08:14] harshavardhana commented on #3590
Should be fixed by #3712

[2017-02-08 08:41] koolhead17 opened #3718 "package: Package minio as a (virtual) storage appliance using bosh / Cloud Foundry."
We got request from our community on Slack for:
Package and maintain minio as a (virtual) storage appliance using bosh / Cloud Foundry.

[2017-02-08 08:47] beddari commented on #3718
There are already several bosh releases, both for a single CF tenant and a distributed one, random google search:

https://github.com/dpb587/minio-bosh-release
https://github.com/shinji62/minio-dist-boshrelease
https://libraries.io/github/cloudfoundry-community/minio-boshrelease

It might be interesting to adopt/help maintain something like this as part of the minio project effort

[2017-02-08 22:09] krishnasrinivas commented on #2817
@rushenn can you do the UI changes needed? It will be same as the multi-delete, in addition to delete we need to provide a "download as zip" button.

[2017-02-08 22:16] harshavardhana commented on #2817
Added @rushenn here as well.

[2017-02-09 00:16] shinji62 commented on #3718
Already list in awesome minio.

I think @shinji62 is the only one supporting distributed version.

[2017-02-09 06:27] harshavardhana commented on #3586
Fixed by #3719

[2017-02-09 06:27] #3586 closed, assigned to nobody

[2017-02-09 09:01] hackintoshrao commented on #3704
Updated at https://github.com/mesosphere/universe/pull/954 .

[2017-02-09 15:46] hackintoshrao commented on #3704
PR merged.

[2017-02-09 15:46] #3704 closed, assigned to hackintoshrao

[2017-02-09 17:08] krishnasrinivas commented on #2817
This got auto closed, @harshavardhana this can be reopened as it was a partial server side fix. Browser fix still needed.

[2017-02-09 17:27] krishnasrinivas commented on #3239
I think this issue should not be closed yet. Here is the reason why:

![minioslack1](https://cloud.githubusercontent.com/assets/634494/22794657/cd08902e-eea8-11e6-9629-d8860a2a693f.png)

We should come up with consistent terminologies that we will use in our documentation and we should use the same terminologies when communicating with our users.

For example, we can call the three different setup

[2017-02-09 17:32] harshavardhana commented on #3239
The issue is closed as I mentioned what are the agreed terminologies and our documentation is using these terminologies already. It is how we usually use it needs to be changed. We confused the community with XL etc our docs don't talk about it.

Also there are no abbrev .. list of type of setups possible with Minio

- Standalone FS
- Standalone Erasure
- Distributed FS (shared)
- Distributed Eras

[2017-02-09 17:32] #3239 closed, assigned to koolhead17

[2017-02-09 17:45] harshavardhana commented on #3239
|    Minio    | FS | Erasure | Stability |
|:-----------:|:----:|:----:|:---:|
| Standalone  | x  | x  | Stable |
| Distributed | x  | x  | Stable |

And here is the matrix.

[2017-02-09 17:47] krishnasrinivas opened #3722 "docs: fix docs to describe different minio setups"
Related: https://github.com/minio/minio/issues/3239

[code]

Our docs don't use these terminologies already. They should be fixed.

[2017-02-10 05:13] hackintoshrao opened #3727 "tests: Test suite for distributed setup."
Currently the test suites for XL and FS backend exists. Its necessary to have test suite for Minio distributed so that any undesirable changes doesn't break the distributed functionality.

[2017-02-10 05:13] harshavardhana commented on #3727
Are you going to take this ?

[2017-02-10 05:22] hackintoshrao commented on #3727
Yes, Working on it. In progress.

[2017-02-10 08:38] harshavardhana commented on #3700
This is fixed by #3721 and #3703

[2017-02-10 08:38] #3700 closed, assigned to harshavardhana

[2017-02-10 09:08] krishnasrinivas commented on #2854
@rushenn are the UI changes done?

[2017-02-10 09:14] rushenn commented on #2854
@krishnasrinivas UI is ready and converting the style naming conventions. Will push the changes shortly.

[2017-02-10 11:18] rushenn opened #3731 "browser: use BEM CSS naming convention"
With BEM(Block, Element, Modifier) methodology,  classes in HTML and CSS are named with a unique approach in order to help code maintainers better understand the relationship between HTML and CSS.

http://getbem.com/naming/

[2017-02-10 15:34] kallqvist opened #3732 "Reconnect to RabbitMQ after network timeouts?"
Hi, I'm currently testing minio together with lambda events over AMQP.
I have experienced some missing events that (I think) happen from the time there's been a network timeout between minio and rabbitmq and lasts until the next time minio is restarted.

## Expected Behavior
All file events should generate messages, even if the network is (temporarilly) down.

## Current Behavior
There seems to be

[2017-02-10 15:39] kallqvist commented on #3732
Btw; I just read about the new webhook support in minio, I will try that out instead of AMQP.

I guess that would be a new network connection opened for every event message?
In that case I think that would be a better fit for the (not so stable) network I'm running minio on.

[2017-02-10 18:33] harshavardhana commented on #3732
ON a network disconnect there should code already to reconnect back.

It is not a new connection opened but upon a network failure there should be a transparent reconnect.

[2017-02-10 18:33] harshavardhana commented on #3732
Will validate and update here @kallqvist

[2017-02-11 06:53] #3453 closed, assigned to nitisht

[2017-02-11 06:54] #2831 closed, assigned to krishnasrinivas

[2017-02-11 14:11] Berndinox commented on #3489
I don't won't to be the bad one, but the current solution: https://github.com/minio/minio/pull/3684/commits/dab13356e66cad7cb82429f4e7ae4f8a6885fef3#diff-0561b01489902088c403efe7d90e083a isn't that nice.

Wouldn't it be nicer to make just one service and that one able to replicate.

May in a similar way to that:

[code]

Like this:
`docker network create --driver overlay --subnet 172.20.0.0/24 min

[2017-02-11 14:34] nitisht commented on #3489
Thanks! This looks interesting, let me try it out.

[2017-02-11 15:55] alexellis commented on #3489
Can you be any more objective than "not that nice"? What are the pros/cons?

[2017-02-11 16:48] Berndinox commented on #3489
Sure,

when every tasks is split up into it's own service you will loose the internal load balancing mechanism of swarm. With the approach to start all tasks under one service you got internal load-balancing. As you can see i do not use ip 172.20.0.1 & 2. The Gateway is .1 and the Swarm LB will be .2.
So if you do a "curl http://minio:9000" from within a container connected to that network, you wi

[2017-02-11 17:12] #3710 closed, assigned to nobody

[2017-02-12 01:26] harshavardhana opened #3736 "docs: Document how to use aws-sdk-java encryption client with Minio"
## Expected Behavior
Save the additional headers and let the AWS SDK client decipher the encrypted data which was previously uploaded.

## Current Behavior
Currently aws-sdk-java encryption client will not work while decoding the encrypted data.

## Possible Solution
Support saving these headers

[code]

## Steps to Reproduce (for bugs)
Follow the aws-sdk-java encryption client document and deciph

[2017-02-12 05:10] peacemakr opened #3737 "faq: Is Minio production ready?"
is there a doc explaining use cases?
is it production ready for large scale applications?

where and how are objects stored? is storage distributed?

[2017-02-12 06:12] rakesh-eltropy commented on #3736
Thanks Harsha.

Just to give more details on the use case:

We upload lot of pdf, power points, excel, docs, images and videos using minio java sdk . Along with storing original documents, we convert them into html file so that user can directly view the documents in the browser without downloading. Lot of css and supporting images gets generated and stored.

We work with banks and financial compa

[2017-02-12 08:11] harshavardhana commented on #3737
Here are some curated non exhaustive list of use cases - https://github.com/minio/awesome-minio

Yes it is production ready, how large is your requirement? can you explain more about the "large scale" application here?  - with this information we can provide better assessment.

There are two primary modes of operation Minio server provides i.e

|    Minio    | FS | Erasure | Stability |
|:--------

[2017-02-12 12:09] harshavardhana commented on #3736
Since aws-sdk-java uploads with `x-amz-meta` key as prefix it is saved properly on server side and the following program works fine with Minio server.  i.e a putObject uploads using an Asymmetric master key.

[code]

[2017-02-12 12:27] harshavardhana commented on #3736
https://gist.github.com/harshavardhana/bcbd15638e5d443a6158191b2084ce6b - updated here with AES examples as well, both approaches

- Symmetric (AES)
- Asymmetric (RSA)

seems to work fine with Minio - Minio server doesn't need any change after all to support aws-sdk encryptionClients it works transparently.

But when we generate a presignedURL it would be generated for an encrypted object. Now whe

[2017-02-12 12:40] peacemakr commented on #3737
I'm developing a social media app, so files, photos, etc need to be stored somewhere.

Is performance better than NFS, CephFS etc?

Which mode is better (performance wise)?

How easy/difficult it is to switch from standalone to distributed mode?

[2017-02-12 19:15] vadmeste commented on #3679
Storage Info (free/total storage) is removed in a previous commit, can you confirm that we don't need it anymore or it will be just moved somewhere?

[2017-02-12 19:18] harshavardhana commented on #3679
It is removed from "service status" - it should be added here.. @vadmeste

[2017-02-12 19:25] harshavardhana commented on #3736
Server already supports this, moving this issue into a documentation bug.

[2017-02-12 20:39] dswd opened #3738 "Settings do not work"
In the latest version (2017-01-25) clicking the "Settings" menu item just reloads the page but does not show the settings. That worked in the previous version.

I reported this bug before and I think it has been fixed but the whole subproject `minio-browser` does not exist anymore and no bugfix release has been issued. Please note that this bug is a complete show-stopper for me.

## Expected Behav

[2017-02-12 20:43] harshavardhana commented on #3738
Fixed by #3656

[2017-02-12 20:43] #3738 closed, assigned to nobody

[2017-02-12 20:44] harshavardhana commented on #3738
Until we make a release you could use minio master using 'go get' or use `docker pull minio/minio:edge` as a workaround for now.

[2017-02-13 00:07] krishnasrinivas commented on #3689
the proxy should:
(1) route to the right minio instance based on the bucket name
    - job of reverse proxy

(2) handle ListBuckets and MakeBucket calls
    - job of our plugin

Another way to implement this requirement is:
Write a micro-service to handle (2) and use traefik for (1) This fits well in micro services environment.

traefik will redirect ListBuckets and MakeBucket calls to our microse

[2017-02-13 03:23] krishnasrinivas commented on #3689
what we decided on:

First version
----------------
ming (minio gateway) works like a content addressable gateway. This gateway is aware of all the S3 servers using a config file. The gateway gives an aggregated view of all these servers. The gateway supports only upload/download of objects. Nothing else (ex no list objects).

Users upload objects to the gateway like:
curl -X PUT http://demo.io/mi

[2017-02-13 11:21] alexellis opened #3740 "mc.exe produces weird output during Jenkins jobs"
Jenkins jobs provide a "console log / output" from the steps it runs during a build. I'm using mc.exe to copy some build artifacts into a workspace before doing a build.

## Expected Behavior
[code]

## Current Behavior

[code]

## Possible Solution

Detect terminal or lack thereof and produce legible/clear output for this scenario.

## Steps to Reproduce (for bugs)

1. Create a Jenkins master on

[2017-02-13 16:35] minherz opened #3742 "docker: Running minio server in docker container fail to work with symlink PATH"
When running minio server on Windows docker host in a windows platform container and providing it a path which is mounted volume to external folder, the "slice bounds out of range" error is reported.
The issue does not happened when the mounted volume is provided as `--config-dir` parameter.

## Expected Behavior
Providing mounted volume in Windows docker container expected to work.

## Current Be

[2017-02-13 16:50] harshavardhana commented on #3740
This is expected on consoles which pretend to be proper consoles but don't behave like one. We have an option for this I.e --no-color to turn off color printing. This would avoid tbe problem.

[2017-02-13 17:00] alexellis commented on #3740
Doesn't seem to improve the output. I was using it with --quiet too?

[2017-02-13 18:00] harshavardhana commented on #3740
It won't help looks like the issue is with the UTF-8 character we use for quoting the strings - most modern terminals do support it.  See if there is a workaround by adding like

[code]

as environment variable for jenkins console.

[2017-02-14 00:56] pascalandy commented on #3713
my updated journey below ...

[2017-02-14 01:11] harshavardhana commented on #3713
Let's not use abbreviations here it is just simply "erasure code" - now simple question @pascalandy are you creating files directly on the backend?

If yes then it is not supported on erasure coded mode, we need certain types of metadata on the backend to be able to make sense of the object uploaded which is only created when the object is uploaded through our S3 API.

If you want to share and syn

[2017-02-14 10:51] thibaultmeyer opened #3745 "Can't use with AWS Java SDK (latest version)"
## Expected Behavior
Can't connect to S3 and create bucket.

## Current Behavior

With the real Amazon S3 service. it working well. but no with minio (neither FakeS3). I think Amazon change how signature are generated.

Service: Amazon S3; Status Code: 400; Error Code: InvalidRegion; Request ID: 3L137

[code]

## Your Environment
* Version used: 2017-01-25T03:14:52Z
* Operating System and version:

[2017-02-14 10:53] vadmeste commented on #3745
@0xbaadf00d, are you setting "us-west-1" region somewhere in your code? Minio server is configured with "us-east-1" by default.

[2017-02-14 11:02] thibaultmeyer commented on #3745
It working with `us-east-1`. Bucket creation and upload working but no downloading.

http://127.0.0.1:4567/io.payintech.media/contract/c59f79fb-f2a4-11e6-b01a-f5f372a2781e
`
[code]

![image](https://cloud.githubusercontent.com/assets/1005086/22926568/68676b00-f2ad-11e6-9b27-39ca20f5e6b3.png)

[2017-02-14 11:08] vadmeste commented on #3745
@0xbaadf00d, can you provide more information how did you upload and download your file?

[2017-02-14 12:11] thibaultmeyer commented on #3745
Sure, I'm using the official SDK ("com.amazonaws" % "aws-java-sdk-sqs" % "1.11.87")

[code]

Maybe is something related to permission ? ACL are implemented on Minio ? Are uploaded file public by default ?

[code]

[2017-02-14 12:23] thibaultmeyer commented on #3745
@vadmeste Ok I have find what going wrong. By default, on AWS S3, newly created buckets are "public". Not in Minio.

![image](https://cloud.githubusercontent.com/assets/1005086/22928844/ca8c86ca-f2b8-11e6-9470-5af639800001.png)

[2017-02-14 13:00] vadmeste commented on #3745
@0xbaadf00d, your code doesn't mark a bucket as public, but it marks objects that it uploads as public. You can make buckets public in Minio using bucket policy feature.

[2017-02-14 14:32] pascalandy commented on #3713
@harshavardhana since our chat on Slack, everything is working as expected. I'm bouncing all over the place at the moment! I decided to make a post out of my finding.

Check this out! [The complete guide to attach a Docker volume with Minio on your Docker Swarm Cluster](https://pascalandy.com/blog/the-complete-guide-to-attach-a-docker-volume-with-minio-on-your-docker-swarm-cluster/)

[2017-02-14 15:05] pascalandy opened #3746 "ENJOYING_THIS_PROJECT="SayThankYou""
Here is the place to say thank you to folks who are working hard on this project.

« One of the greatest ways to show your appreciation to open source projects you enjoy is to open an issue that let people say thank you »

_Disclaimer: I don't have any kind of connexion or personal interest with maintainers(s) of this project. Pure gratitude here._

[2017-02-14 15:05] pascalandy commented on #3746
Thank you thank you!! Love Minio
_\m| 💯

[2017-02-14 15:28] pascalandy commented on #1159
You can check out my step-by-step guide:
[The complete guide to attach a Docker volume with Minio on your Docker Swarm Cluster](http://firepress.org/blog/the-complete-guide-to-attach-a-docker-volume-with-minio-on-your-docker-swarm-cluster/)

[2017-02-14 15:36] pascalandy opened #3747 "How can we Docker Exec in MC container?"
Hey folks,
Now that I have a [solid setup](http://blog.pascalandy.com/the-complete-guide-to-attach-a-docker-volume-with-minio-on-your-docker-swarm-cluster/) with Minio and Docker Volumes, I need to use the Minio CLI via Docker.

I cannot find how to enter the container via Docker Exec. From the [docs](https://docs.minio.io/docs/minio-client-quickstart-guide), I can't find any help.

### Launch con

[2017-02-14 17:58] krishnasrinivas commented on #3746
@pascalandy thanks for your support!!

[2017-02-14 18:23] harshavardhana commented on #3747
You cannot do that @pascalandy - `mc` is a command tool which just runs and exits.  You can just do

[code]

[code]

[2017-02-14 18:24] harshavardhana commented on #3746
Thanks @pascalandy

[2017-02-14 18:24] #3746 closed, assigned to nobody

[2017-02-14 22:56] pascalandy commented on #3747
Got it! Will test this :)

[2017-02-15 03:34] harshavardhana commented on #3737
Great.

We don't have any comparison benchmarks - Minio differentiates itself with simplicity and reliability. performance if its better is a plus but our goal is to keep the data reliable.

Depends on the use case and reliability requirements.  Using Filesystem is easier but its as reliable as your backend disk. Erasure code provides data protection and reliability.

Quite easy you can setup a ne

[2017-02-15 03:59] nitisht commented on #3489
Hey @Berndinox I tried your solution, while the stack starts,

[code]

The tasks are not getting replicated,

[code]
Looks like something is missing. Can you mention steps in a detailed manner in a blog/Gist.

Also, as the solution involves Traefik, I think it is not a good idea to add this to the official Minio Swarm guide. What we can do instead is add your blog/gist to the community maintained

[2017-02-15 18:45] #3679 closed, assigned to vadmeste

[2017-02-15 19:11] GarimaKapoor commented on #3698
@krisis any update on this issue?

[2017-02-15 19:27] harshavardhana commented on #3747
Closing as answered.

[2017-02-15 19:27] #3747 closed, assigned to nobody

[2017-02-15 23:05] vadmeste commented on #3742
@minherz, I tested the steps you provided with Windows Server 2016, and I've got the same exact error. I have this minimal code which generates also the same stack trace:

[code]

Not sure if this is a golang or Docker bug (most likely the latter). But at least we know that Minio has nothing to do with this.

A painful workaround is to do the following:
$ Enter the container
$ Run `dir c:\` to fin

[2017-02-15 23:34] harshavardhana commented on #3737
Please join us on https://slack.minio.io for further questions. Closing this issue as answered.

[2017-02-15 23:34] #3737 closed, assigned to harshavardhana

[2017-02-15 23:51] willb commented on #2965
@harshavardhana I'm confused about the resolution here:  is the current release of Minio (incorporating #3603) expected to work with Spark and `s3a` URIs if Spark is built against `hadoop-aws` 2.7, or only if Spark is using Hadoop 3.0.0 alpha builds?  The former is preferable for sure, but if the latter is necessary it would be great to know.  Thanks!

[2017-02-15 23:57] harshavardhana commented on #2965
The resolution here hit a roadblock due to confusion in terms of which version really worked it was confirmed to be working with hadoop 3.0.0 alpha builds in passing not with hadoop-aws 2.7. But we need to officially document this and that is where we are waiting.

@hackintoshrao is validating s3a and s3n approaches to validate if they are really working.

[2017-02-16 00:45] harshavardhana opened #3752 "postPolicyBucketHandler crashed invalid memory"
[code]

## Expected Behavior
Shouldn't crash.

## Current Behavior
Crashes consistently.

## Possible Solution
Nothing right now.

## Steps to Reproduce (for bugs)
Just use POST policy.

## Context
Uploading through signed POST policy.

## Your Environment
Current master.

[2017-02-16 00:50] harshavardhana commented on #3752
Fixed by this commit c9b1468c3bf41630fbb1647b782d46257eb7ce1c

[code]

[2017-02-16 00:50] #3752 closed, assigned to harshavardhana

[2017-02-16 09:47] minherz commented on #3742
Thanx. Since I do not have golang environment, can you please, prepare for me .exe file that does the work on a directory which is passed to it as a single argument? This way i can propogate it to docker guys.

[2017-02-16 10:31] minherz commented on #3742
@vadmeste, does it mean that treatment of the configuration directory does not use the problematic code functionality, since the problem happens _only_ when the data storage location is set to mounted volume? Having the configuration directory pointing to the mounted volume works.

[2017-02-16 10:57] harshavardhana commented on #3742
The issue can occur in certain situations the `syscall.Readlink` implementation in Go for windows relies on a specific path length with some UTF translation code. The issue seems here is that docker nanoserver has done some changes which is causing trouble here.  Most probably this is a bug in the nanoserver itself which has perhaps broken backward compatibility with other windows versions.

We wi

[2017-02-16 11:20] vadmeste commented on #3742
This is x64 windows binary https://slack-files.com/T3NG3BE8L-F45KHQJTT-e9cf313b78,
Below is the correspondant go code:

[code]

This is the line of crash https://github.com/golang/go/blob/6b36535cf382bce845dd2d272276e7ba350b0c6b/src/syscall/syscall_windows.go#L1031

[2017-02-16 14:23] blacksavior opened #3753 "Minio returns 403 on not existing files"
## Expected Behavior
HTTP-Code 404 on requesting a non existing file
eg http://myHost/myBucket/wrongFile.jpg

## Current Behavior
403 Forbidden with Body:
`<?xml version="1.0" encoding="UTF-8"?>
<Error>
    <Code>AccessDenied</Code>
    <Message>Access Denied.</Message>
    <Key></Key>
    <BucketName></BucketName>
    <Resource>/myBucket/wrongFile.jpg</Resource>
    <RequestId>3L137</RequestId>

[2017-02-16 14:32] vadmeste commented on #3753
@blacksavior, this is expected if you are not sending authenticated requests. Can you tell us why do you think Minio should send 404 ?

[2017-02-16 14:44] blacksavior commented on #3753
Hi and thanks for the fast answer. The Bucket is configured as read only. So everyone in the LAN segment can fetch all files from it without key/secret. In this context we do not understand, why the user is allowed to get files, but not allowed to see if one is missing. Further we have followup processes like image scaler. If such a process gets an 403 it must process it as an server side error, a

[2017-02-16 14:54] minherz commented on #3742
Hello, the line of crash that you sent me does not match the behavior of the system and also does not match the "latest" version of the code. [This line](https://github.com/golang/go/blob/master/src/syscall/syscall_windows.go#L1031) is 1031 for the syscall_windows.go in the master branch. I wrote a dotnet app that calls `DeviceIOControl` WIN32 API and prints results. For the SYMLINKD folders it sh

[2017-02-16 14:57] vadmeste commented on #3753
@blacksavior, in my case, Minio returns http 404 when I configure a bucket as read only using mc. Can you tell us how are you setting your bucket as read only ?

[2017-02-16 15:06] blacksavior commented on #3753
We set the policy via the minio browser.

No we tried to get the policies via "mc policy myHost/myBucket" an we saw.... nothing. No policies. In minio Browser e saw "*" with read only. We tried to set a new Policy via mc and got an conflict. Then we removed the policy via Minio Browser and then set a new one via mc... now it works. We get 404s on missing files.

Thanks for the fast help!

I think

[2017-02-16 15:10] vadmeste commented on #3742
@minherz, according to the stacktrace you pasted above, go 1.7.4 was used and the crash happened in syscall_windows.go L1031. The link that I pasted points to the version of syscall_windows.go when 1.7.4 was just released.

[2017-02-16 15:21] vadmeste commented on #3742
@minherz, this could be fixed by this commit https://github.com/golang/go/commit/e65bce7144dbced232df8842ef6825d7e45f094e. I'll send you a new Minio binary with the last go runtime.

[2017-02-16 15:26] minherz commented on #3742
Thank you. I still opened an issue in docker/for-win since the behavior seem to differ from one that is expected. It can be that there is some issue in the virtual FS that was created to support containers in Windows.

[2017-02-16 17:24] harshavardhana commented on #3742
Since we will be moving to newer go1.8 release you can expect this to be fixed in minio/minio:edge tag.

[2017-02-16 17:31] harshavardhana commented on #3753
@blacksavior - most probably it's a bug in browser code. We will verify and fix it thanks for opening the bug.

[2017-02-16 18:13] vadmeste commented on #3742
Yes, we don't have that crash anymore, but it seems there is another bug

[code]

(without '\\\\?\')

[code]

@minherz wrote a dotnet code to test without golang.

[2017-02-16 18:22] harshavardhana commented on #3742
Oh so looks like UNC paths work fine which should be okay with Minio, since we only use UNC paths. It is strange to see simple style doesn't work anymore.

Can you paste the dotnet code? @vadmeste

[2017-02-16 18:25] minherz commented on #3742
@harshavardhana , it is not the UNC path but a symlinkd created by docker (for windows) when running minio using these symlinkd as path to data.
the code is relatively lengthy, how do you want to post it?

[2017-02-16 18:56] harshavardhana commented on #3742
It is strange to see that UNC path doesn't trigger the same issue, at this point we can be sure that this is a nanoserver bug.

Then its fine.

[2017-02-17 01:05] gramakri opened #3757 "Minio app on Cloudron"
Hi Guys, thanks for minio! The Cloudron community (@dswd) has contributed a minio app for Cloudron. You can try it out here - https://my-demo.cloudron.me (install minio from the App Store).

The code for the app itself is at https://git.cloudron.io/dswd/minio-app and also has selenium based tests at https://git.cloudron.io/dswd/minio-app/tree/master/test.

Would you be OK in adding a "Install on C

[2017-02-17 04:37] harshavardhana commented on #3757
Thanks @gramakri for opening the bug and supporting Minio - we will get back to you.

[2017-02-17 07:09] koolhead17 commented on #3757
@gramakri thanks for all your hard work.

Please add the document contribution to cookbook to https://github.com/minio/cookbook, follow the same style guide like others which are added.

Also please add the use case to awesome-minio https://github.com/minio/awesome-minio, this will let others in the community to know more about the projects.

Hope it helps.

[2017-02-17 19:11] GarimaKapoor commented on #3757
@gramakri we are planing to introduce a section of one click deploys which be the ideal case for listing Cloudron. Till then like @koolhead17 suggested please add your use case under https://github.com/minio/awesome-minio.

[2017-02-18 01:18] harshavardhana opened #3759 "Add support for healing missing `uploads.json` and `xl.json`"
## Expected Behavior
Heal objects along with healing their incomplete upload parts.

## Current Behavior
Current healing object doesn't provide a way to heal corrupted or missing `uploads.json`

https://github.com/minio/minio/blob/master/cmd/xl-v1-healing.go#L291
[code]

## Possible Solution
`quickHeal()` function should heal `uploads.json` since the incomplete uploads are pending transaction enti

[2017-02-18 02:41] alpeware commented on #3489
I've been trying to simplify the setup for Docker Swarm by leveraging service discovery.  I think all we should need is an entrypoint.sh to do the discovery and connect the nodes.

I'm leveraging the fact that I can query the DNS using the form <tasks.SERVICE-NAME> to get a list of IPs of all the replicas.

We can then do something like this to start a 4 node cluster in play-with-docker.com -

[co

[2017-02-18 09:58] harshavardhana opened #3761 "Data race in authRPClient accessing token"
[code]

## Expected Behavior
No race.

## Current Behavior
Races in hot path for distributed server.

## Possible Solution
Hold locks and safely access the token.

## Steps to Reproduce (for bugs)
Quite easy build server with `go install -race`

## Context
Avoid races.

## Your Environment
master

[2017-02-18 10:03] harshavardhana opened #3762 "Data race in server-mux gracelfulWait"
[code]

## Expected Behavior
No races

## Current Behavior
Race observed with `go install -race`

## Possible Solution
Protect changing states

## Steps to Reproduce (for bugs)
Install server binary with `go install -race`  and run tests.

## Context
Race free operation.

## Your Environment
master

[2017-02-18 11:15] #3761 closed, assigned to harshavardhana

[2017-02-18 11:53] fviard opened #3765 "Minio silently fail to copy files with similar name but different casing [Regression]"
When asking to copy a file to another file with same name but different casing (logo.png -> logo.PNG), minio return a success but then the "new file" can not be found in the destination.

That's particularly in the case of a "mv" operation of s3cmd, because we do a remote copy and then delete the original file. So in the end, no file at all can be found on the server.

Notes:
- The copy works well

[2017-02-18 12:26] fviard opened #3767 "minio exe "--version" return only 0.0.0"
If i run: "minio"
alone without parameter, there is a "version" string that is printed with the date as version number.

If i run: "minio --version"
i have the following result where the real version number is missing:
Minio version 0.0.0

## Your Environment
* Version used: 2017-02-16T01:47:30Z
* Operating System and version: Linux 64

[2017-02-18 16:41] jhixson74 opened #3768 "Deleting files while a node is offline doesn't actually delete"
If you delete a file when a node is offline in a distributed configuration, the file is not actually deleted.

## Expected Behavior

\

Expected behavior is that files that are deleted are actually deleted.

## Current Behavior

After file is deleted and offline node comes online again, the file is in some sort of limbo state where it is there sometimes and not there sometimes.

## Possible Soluti

[2017-02-18 17:05] kmoore134 commented on #3768
I've also duplicated this here as well. It also happens if you upload a file while a node is offline, refreshing sometimes shows the new file, other times not.

[2017-02-18 18:29] alexellis opened #3770 "Suggest `mc config host remove` alias"
## Expected Behavior

With most UNIX command-line tools `rm` is acceptable in the place of `remove`:

[code]

It felt jarring as a UX that I could not type in `mc config host rm <host_config>` and I would like to suggest the change.

@harshavardhana if you're OK with the suggestion I don't mind looking into the code and making the change.

Alex

[2017-02-18 18:52] harshavardhana commented on #3770
This is neat idea - i will let @abperiasamy provide his inputs as well.

[2017-02-18 19:10] harshavardhana commented on #3768
This is actually on purpose.  Listing always lists objects from one of the disks which are basically changed every time a list request comes to the server. Until you heal the object the listing will have inconsistent output. The reason we did that is to avoid hitting all the disks. Listing is can be an expensive operation - it was a design decision.

[2017-02-18 19:44] jhixson74 commented on #3768
How does one go about healing ?

[2017-02-18 19:47] harshavardhana commented on #3768
It is a REST API currently available only in master and under testing.  When its done you would use `mc admin heal` to heal the disks, buckets and objects.

[2017-02-18 19:48] harshavardhana commented on #3768
Alternatively you can use the SDK  - https://github.com/minio/minio/tree/master/pkg/madmin directly - https://github.com/minio/minio/blob/master/pkg/madmin/examples/heal-object.go

[2017-02-18 21:13] vadmeste commented on #3716
This can be closed @harshavardhana

[2017-02-18 21:20] vadmeste commented on #3701
What will happen for MINIO_BROWSER env variable ?

[2017-02-18 21:23] harshavardhana commented on #3701
Just like access and secret overrides the config entry.

[2017-02-18 21:25] harshavardhana commented on #3716
minio-java now has a way to specify custom regions in the constructor. Closing this as fixed.

[2017-02-18 21:25] #3716 closed, assigned to vadmeste

[2017-02-18 21:28] #3762 closed, assigned to vadmeste

[2017-02-18 21:41] #3767 closed, assigned to vadmeste

[2017-02-18 21:41] #3765 closed, assigned to harshavardhana

[2017-02-18 22:12] harshavardhana commented on #3701
For a fresh config if ENV is set then it is saved to config.json if it's not a fresh config then ENV only overrides the config value upon server start.

This is how access and secret keys behave.

[2017-02-18 22:13] vadmeste commented on #3701
+1

[2017-02-19 00:48] balamurugana commented on #3701
@harshavardhana previously we decided that `MINIO_BROWSER` env variable is to have ability to disable browser for some specific cases and we don't want to add an option into config or cli ie to keep it minimal config/cli.

Why would we add that option in `config.json` now?

[2017-02-19 02:01] harshavardhana commented on #3701
Actually to solve two different problems

 - First problem is that MINIO_BROWSER is a dangling environment variable, if you look at MINIO_ACCESS_KEY it is inconsistent. So it should have been in the `config.json` in the first place.

- Second problem is it solves a situation of being able to turn off browser remotely through an administrative API.   With the implementation of SetConfig admin API w

[2017-02-19 04:57] balamurugana commented on #3701
As per our previous discussion, we want minio browser to be running but some users want it to be disabled hence `MINIO_BROWSER` env variable as a fall back.  Whereas `MINIO_ACCESS_KEY` is entirely different purpose where user is able to override previous key or start with new key

As `MINIO_BROWSER` is a special case, I don't know whether this option is required or not.

[2017-02-19 05:34] harshavardhana commented on #3701
It just provides completeness to whatever is available for the `minio server` - just like `mc admin password` can change credentials - this just allows for turning off the browser remotely.

Similarly we will even do turning profiler on and off (not decided yet) too for varius sub-systems - just the way how we have with _MINIO_PROFILE env.

[2017-02-19 05:44] balamurugana commented on #3701
I am good If its already approved by @abperiasamy.  If its possible to enable/disable browser using config file and environment variable, Its not a good idea ie two ways to do the same thing.

[2017-02-19 05:56] harshavardhana commented on #3701
On the same train of thought Credentials can be changed through 4 different ways :-)

[2017-02-19 15:54] iamso opened #3774 "Access to files denied"
Hi

In your minio shopping app demo you create a public link to the image. I have copied this line of code and tried this with my minio installation and I get an access denied error.

[code]

## Expected Behavior
I would expect to see the image in the browser when accessing the url.

## Current Behavior
I get the following error:
[code]

## Steps to Reproduce (for bugs)
1. install minio with homeb

[2017-02-19 21:55] iamso commented on #3774
Never mind, I found it. 😊

For those having the same issue, either use the command line client to set the policy for the bucket to public, more [here](https://docs.minio.io/docs/minio-client-complete-guide#policy), or use the web interface, where you click on the three dots next to the bucket name and add a row with the prefix `*` and `Read and Write` permissions.

[2017-02-19 21:55] #3774 closed, assigned to nobody

[2017-02-20 02:21] harshavardhana commented on #3770
Closing this in favor of mc issue - https://github.com/minio/mc/issues/2027

[2017-02-20 02:21] #3770 closed, assigned to nobody

[2017-02-20 02:23] harshavardhana commented on #3753
Can you test with the latest release @blacksavior ?

[2017-02-20 02:30] harshavardhana commented on #3745
ACL's are not implemented / supported on Minio.   You need to use bucket policies to make a bucket or a prefix public.

By default AWS S3 buckets are not public only if they are set to be public in the first place. On Minio since it doesn't implement ACL's you have to use bucket policies.

[2017-02-20 02:31] harshavardhana commented on #3742
We haven't migrated to go1.8 yet because of an existing problem go1.8 and Minio server - so this issue will be pending until then.

[2017-02-20 02:33] harshavardhana commented on #3740
Closing this in favor of https://github.com/minio/mc/issues/2028

[2017-02-20 02:33] #3740 closed, assigned to vadmeste

[2017-02-20 02:34] harshavardhana commented on #3732
ping @donatello

[2017-02-20 02:36] harshavardhana commented on #3707
Closing this as answered.  Please visit us at https://slack.minio.io for more questions @goodforever

[2017-02-20 02:36] #3707 closed, assigned to nobody

[2017-02-20 02:37] harshavardhana commented on #3693
@PsyTae were you able to validate @vadmeste suggestion?

[2017-02-20 02:45] harshavardhana commented on #3614
Current the error message for wrong secret key is

`Authentication failed, check your access credentials`

If access key is wrong

`The access key ID you provided does not exist in our records`

This is correct in terms of how S3 behaves wrong access key results in `The access key ID you provided does not exist in our records`  where as wrong secret key results in `Signature` failure.

Closing thi

[2017-02-20 02:45] #3614 closed, assigned to rushenn

[2017-02-20 02:46] harshavardhana commented on #3602
@shantanugadgil do you happen to have a particular color set in mind which you would like to share it with us would make it easier for us.  Thanks

[2017-02-20 02:47] harshavardhana commented on #3590
Current CI runs have been reduced to with in < 15mins, we still need to investigate long running tests for windows and reduce their value further.  Of course not sacrificing coverage.

[2017-02-20 02:49] harshavardhana commented on #3409
Closing this as setup issue.

[2017-02-20 02:49] #3409 closed, assigned to hackintoshrao

[2017-02-20 02:50] harshavardhana commented on #3418
This is fixed in mc master branch. Closing.

[2017-02-20 02:50] #3418 closed, assigned to vadmeste

[2017-02-20 07:29] thibaultmeyer commented on #3745
Thank you for helping

[2017-02-20 07:29] #3745 closed, assigned to nobody

[2017-02-20 16:23] donatello commented on #3732
I am able to reproduce this, so bug is confirmed. Working on finding a fix.

[2017-02-20 16:27] dcharbonnier opened #3777 "PUT with no size (enhancement)"
## Expected Behavior
A PUT with no size should work and the size should be limited to 5Gbits (the optimization should still work on this configuration) there is case where producing the data is slow, streaming the file has a benefit and we know (or accept) that the limit for this style of 'single' PUT it 5Gbits

## Current Behavior
HTTP 411

## Possible Solution
a default value ;-)

_Non blocking

[2017-02-20 18:45] gouthamve opened #3779 "docker registry 2.6 doesn't work with minio:edge"
I am running the docker registry `registry:2.5` with `minio:edge`. The uploads are not happening and are failing with `err=blob unknown`.
When I revert to `registry:2.5` the uploads proceed fine.

## Expected Behavior

`registry:latest` should work with `minio:edge`

## Current Behavior

Uploads fail.

## Steps to Reproduce (for bugs)

1. Run `minio:edge` and `registry:latest`
2. Connect the two
3

[2017-02-20 20:05] #3732 closed, assigned to donatello

[2017-02-20 20:22] harshavardhana commented on #3779
@Gouthamve this looks like a setup issue on your end here is a following config that works fine with latest release and minio edge branch

[code]

https://gist.github.com/harshavardhana/149509d34dca14e23a195e30a8be8f0b

[2017-02-20 21:03] harshavardhana commented on #3777
Allowing this breaks S3 compatibility, S3 requires us to use Content-Length precisely for an incoming PUT request. It is requirement for how the payload signature is calculated even on the client side so if you are using signature v4 then Content-Length is what you need to send anyways.

This enhancement might not work because of these reasons.

[2017-02-20 21:40] dcharbonnier commented on #3777
Correct me if im wrong but s3 is a subset of minio and for example you can't upload a 20go file with s3 but you can with minio. Anyway, just a nice to have and easy to implement but nothing very important for now.

[2017-02-20 22:14] harshavardhana commented on #3777
You can upload 20G with S3 using multipart API what minio libraries do just to abstract those details and make them look like a single upload operation transparently upto 5TB object which is the maximum S3 protocol mandates.

So a putObject() as a client library call is not always a single PUT operation, depending on the file size it can transparently do multi-part upload which are basically colle

[2017-02-21 03:44] koolhead17 opened #3781 "docs: AWS S3 credentials URL needs to be fixed."
The URL for AWS S3 credentials on https://docs.minio.io/docs/minio-client-quickstart-guide pointing to wrong location. We can replace it with http://docs.aws.amazon.com/AmazonS3/latest/gsg/SigningUpforS3.html

[2017-02-21 03:54] harshavardhana commented on #3781
Perhaps http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html

[2017-02-21 05:23] gouthamve commented on #3779
Hi,

Here are the logs: http://pastebin.com/BxLmuigb, also attached
[registry.txt](https://github.com/minio/minio/files/789149/registry.txt)

I am running it behind a reverse proxy (fabio) that proxies to a docker forwarded port on the host.
Given how its working for you, I am pretty sure its a setup issue on my end, will get back and thanks a ton for looking into it!

[2017-02-21 06:28] harshavardhana commented on #3779
@Gouthamve what is the error that you see when you do `docker push` ? does it wait and timeout?

[2017-02-21 06:34] gouthamve commented on #3779
@harshavardhana It starts with: https://i.imgur.com/Udi9KMu.png and ends with: https://i.imgur.com/DrhamqO.png

[2017-02-21 06:36] harshavardhana commented on #3779
Can you use to 'registry:2.6' rather than using 'registry:latest' ?

[2017-02-21 06:38] harshavardhana commented on #3779
Ah looks like that doesn't make any difference..

[2017-02-21 06:39] gouthamve commented on #3779
Nope. I tried with that already!

[2017-02-21 06:40] harshavardhana commented on #3779
@Gouthamve - i would suggest you try minio latest release instead of 'edge'  and let us know?

[code]

[2017-02-21 07:00] gouthamve commented on #3779
Hmm, makes no difference.

Also found something that made it clear that its definitely an issue with registry and not minio. So I now try to do: `docker push 172.17.0.4:5000/gouthamve/ubuntu` and it works but `docker push registry.beast.geekon.tech/gouthamve/ubuntu` fails!

This might be something to do with my reverse proxy I guess. I will stick to registry:2.5 for now. This can be closed, but le

[2017-02-21 07:06] harshavardhana commented on #3779
We will verify this on our end why this might happen, it could also be potentially something odd interaction issue as well. 2.6 has changed a lot of things from 2.5.x so it could be a bug.

Please loop us in if you are reporting this upstream, if at all it potentially points to our problem.

No not all happy to help anytime.

[2017-02-21 08:41] harshavardhana commented on #3779
Closing this in favor of upstream bug - https://github.com/docker/distribution/issues/2177

[2017-02-21 08:41] #3779 closed, assigned to harshavardhana

[2017-02-21 08:55] #3781 closed, assigned to nitisht

[2017-02-21 10:48] aidabeorn commented on #3468
Sorry for the late reply @harshavardhana, haven't had time to poke at this again before now.

Some quick tests I didn't think to do prior:
at a concurrency of 50, I see expected performance;
[code]

but once I crank it closer to our expected peak (200-250 concurrent), things fall appart:
[code]

edit:
just as a (shoddy)comparison, nginx serving it's default page through the same LB (mostly to clea

[2017-02-21 18:38] dcharbonnier opened #3784 "Case of missing some files after uploading large amount of data"
## Expected Behavior
I expect to retrieve my file after uploading them

## Current Behavior
Version RELEASE.2017-02-16T01-47-30Z is corrupting the files, it return a 200 on a PUT but then the server return 503 or 404 depending of the case.
3 files on 100000's so don't expect to spot it with a simple test.

[2017-02-21 19:57] harshavardhana commented on #3784
@dcharbonnier are you using multipart or single PUT to upload the files ?

[2017-02-21 20:01] harshavardhana commented on #3784
Also any logs that you might share would be helpful . We can look at the backend directly and see if the files really uploaded or not. It PUT said 200 it is guaranteed that the file is indeed written to disk. GET receiving 404 or 503 is either quorum related issue which is perhaps generated due to some network issue.

[2017-02-21 20:45] harshavardhana commented on #3784
https://gist.github.com/dcharbonnier/7bbf9195f803866cba608f8a20a542fc - missing files looks like a successful rename.

[2017-02-21 20:59] harshavardhana commented on #3784
Relevant `xl.json` value

[code]

[code]

[2017-02-21 21:14] vadmeste commented on #3784
@dcharbonnier, can you paste the second xl.json content ?

[2017-02-21 22:21] dcharbonnier commented on #3784
[code]

[2017-02-22 04:58] gramakri commented on #3757
@GarimaKapoor @koolhead17 thanks. I made https://github.com/minio/awesome-minio/pull/43 for awesome-minio.

[2017-02-22 05:09] harshavardhana commented on #3757
Thanks @gramakri merged. Closing this.

[2017-02-22 05:09] #3757 closed, assigned to harshavardhana

[2017-02-22 05:12] gramakri commented on #3757
@harshavardhana https://github.com/minio/cookbook/pull/137 has the cookbook PR

[2017-02-22 05:18] harshavardhana commented on #3777
@dcharbonnier closing this github issue, If AWS S3 ends up supporting `Transfer-Encoding: chunked`  i.e when Content-Length is not set for PUT and POST operations until then we won't be supporting this scenario.

[2017-02-22 05:18] #3777 closed, assigned to harshavardhana

[2017-02-22 11:03] vadmeste commented on #3784
I don't think the bug comes from rename() because this latter is atomic. The question is why we have part.1 empty with mismatched checksum.

[2017-02-22 11:18] vadmeste commented on #3784
Sorry, the checksum is correct, but both of xl.json has the same modtime so both of xl.json are generated at the same time, it looks like the problem is inside erasureCreateFile.

[2017-02-22 13:59] vadmeste commented on #3784
By the way, I think we need to discuss the fact that PutObject is relying on quorum in different places. A node which fails to accomplish one action shouldn't continue to work as nothing is happened.

[2017-02-22 15:11] dcharbonnier commented on #3784
warning, don't consider too fast that a node is out, a network error does not mean the node is failing. You put a lot of errors related to supposed communication problems between the hosts but at the same time, the download of the files never fail for a network error between the client and the host

[2017-02-22 22:52] harshavardhana commented on #2854
Fixed by #3730

[2017-02-22 23:09] mcandre opened #3788 "Swagger doc minio server endpoints"
Could we get some frontend-friendly docs for the HTTP request and response details, so that curl users have an easier time manipulating the minio REST API?

[2017-02-22 23:10] mcandre opened #3789 "Clarify health status, readiness endpoint usage"
For the ultimate ops experience, could minio document which endpoints provide health checks, readiness, that sort of thing, and what a curl user can expect about how to make the call and how to interpret the results?

[2017-02-22 23:17] harshavardhana commented on #3788
Minio supports AWS S3 exactly - we reply in compatible way similar to S3 - AWS S3 documents these in details which we ourselves use and write libraries http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketDELETE.html

This is one of the reason why we didn't see the need to document these. So what you do with AWS S3 just do that with Minio.

[2017-02-22 23:19] harshavardhana commented on #3789
There is a work in progress API which is currently available only in master

https://github.com/minio/minio/tree/master/docs/admin-api
https://github.com/minio/minio/tree/master/pkg/madmin

Once a server is released with these support we will be publishing them.

[2017-02-23 00:48] harshavardhana commented on #3788
You could also use - https://github.com/asciimoo/wuzz for HTTP inspection.

[2017-02-23 00:48] #3788 closed, assigned to harshavardhana

[2017-02-23 06:45] bugs181 opened #3791 "Minio web does not load on Safari"
Fresh install of Minio using `brew` on OS X Yosemite (10.0.10.1). Safari 8.0 (10600.1.25.1). Only getting the spinner on Safari but loads fine on Chrome.

Console only has this error: `TypeError: undefined is not a function (evaluating 'Object.assign({},A)')`

    [Error] TypeError: undefined is not a function (evaluating 'Object.assign({},A)')
        o (index_bundle-2017-02-15T22-41-23Z.js, line

[2017-02-23 10:37] yerrysherry opened #3793 "Failed on creating objects in buckets with their own filesystem (ext4,zfs)"
Some buckets can grow rapidly. For that reason I want to create a zfs filesystem and put each bucket in their own filesystem. In a zfs file system, I can set quotas. I get the same problem with ext4 filesystems. But this failed.

---------
# uname -a
Linux poc-s3-minio-server-on-2 4.4.0-22-generic #40-Ubuntu SMP Thu May 12 22:03:46 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
# lsb_release -a
No LSB mo

[2017-02-23 10:46] harshavardhana commented on #3793
Renames are not allowed across cross devices i.e cross mount points - Minio requires all the data to be available on the same disk fs.  This will not work and it requires a design change which we are not planning to support.

[2017-02-23 13:33] vijayrawatsan opened #3794 "Can not connect to minio [ERROR: SSL certificate verification failure]"
I have updated the .s3cfg file as per the docs @ https://docs.minio.io/docs/s3cmd-with-minio

## Expected Behavior
Demo at https://docs.minio.io/docs/s3cmd-with-minio should work.
And I should be able to create and list buckets.

## Current Behavior
$ s3cmd ls
ERROR: SSL certificate verification failure: [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590)

$ s3cmd mb s3:/

[2017-02-24 02:27] harshavardhana commented on #3794
Looks like an upstream issue which was fixed - https://github.com/s3tools/s3cmd/commit/a6ffd5b5d31021e27a76f1f8255448c36a453c93

There has been no release yet.

[2017-02-24 02:28] harshavardhana commented on #3794
You can alternatively use

 - [mc](https://github.com/minio/mc)
 - [aws cli](http://docs.minio.io/docs/aws-cli-with-minio)

[2017-02-24 02:33] harshavardhana commented on #3794
FWIW updating to new `s3cmd` works fine from github works, closing this bug as upstream issue.

[code]

[2017-02-24 02:33] #3794 closed, assigned to harshavardhana

[2017-02-24 14:55] emil-nasso opened #3797 "S3 API compatibility documentation"
Hi guys! This looks like a great project. Great job so far. :)

I did some experiments today with directus ( https://getdirectus.com/ ) and minio as a backend for files (directus has support for s3). I ran into and problem. It doesn't seem like a minio supports acl. In this application, that means that minio is not compatible with the s3 api.

Is there documentation anywhere that states what featu

[2017-02-24 17:14] harshavardhana commented on #3797
https://docs.minio.io/docs/minio-server-limits-per-tenant has a list of APIs not supported.

[2017-02-24 17:22] mcandre opened #3799 "Allow binding to a hostname"
The minio server provides a `--address` flag for binding to an IP, but it would be more convenient to be able to bind to a hostname. Could we add this ability to `--address`?

[2017-02-24 17:26] harshavardhana commented on #3799
It should already work you can bind to a resolvable hostname. If your hostname doesn't resolve add a `/etc/hosts` entry.

[2017-02-24 17:27] mcandre commented on #3799
Excellent! In that case, could the flag description be updated to say "... can be bound to an address" rather than just an IP, for clarity?

[2017-02-24 17:27] harshavardhana commented on #3793
Closing as unsupported behavior.

[2017-02-24 17:27] #3793 closed, assigned to harshavardhana

[2017-02-24 17:28] harshavardhana commented on #3768
Closing this as answered. Please reopen if you have more questions.

[2017-02-24 17:28] #3768 closed, assigned to nobody

[2017-02-24 17:42] shouze opened #3800 "docker: Add a HEALTHCHECK in Dockerfile"
Should be cool to add a [HEALTHCHECK](https://docs.docker.com/engine/reference/builder/#/healthcheck) in the Dockerfile ([supported since docker 1.12)

## Expected Behavior

Will help docker to knwo the health state of the container, very helpfull with [depends_on service_healthy conditions](https://docs.docker.com/compose/compose-file/#/dependson) in docker compose (introduced with version 2.1 of

[2017-02-24 17:51] mcandre opened #3801 "Serve on 0.0.0.0:9000 by default"
If minio used `--address 0.0.0.0:9000` by default, then the service would automatically integrate better in environments with multiple, complex network interfaces, such as different Kubernetes hostnames. The user experience is more likely to be "just works".

Security-minded folks might balk at this, but they probably want to customize `--address` anyway, so nothing wrong with a helpful default.

[2017-02-24 17:58] GarimaKapoor commented on #3698
@harshavardhana if the get config code is merged, can we close this issue?

[2017-02-24 18:04] harshavardhana commented on #3698
Yes we can. Closing

[2017-02-24 18:04] #3698 closed, assigned to krisis

[2017-02-24 19:03] marcosterland opened #3802 "307 Temporary Redirect issue with nginx"
## Expected Behavior
Accessing minio via nginx in the browser should show the webUI.

## Current Behavior
minio answers with `307 Temporary Redirect` to `/minio/`.
The browser then tries to load `example.com/minio`, which is obviously not working (404).

## Context
I want to have multiple minios running on one server behind a nginx proxy. I'm not sure, whether this is a bug or just a configuration

[2017-02-24 19:45] krishnasrinivas commented on #3802
[code]

You can add one more entry:
[code]

but with this you can get UI only for one minio server.

what you can do is something like this:
[code]

with this the UI has to be accessed as example.com/minio1/ example.com/minio2/ example.com/minio3/

[2017-02-24 20:59] marcosterland commented on #3802
No, sorry. `rewrite ^/minio2(.*)$ /minio$1 permanent;` makes it again looking for example.com/minio.

[2017-02-24 21:03] krishnasrinivas commented on #3802
I see, maybe you can remove permanent and it works? But you get the idea ... you will have to redirect to the appropriate minio instance but with path `/minio/....` You can see how to configure nginx with that. If you figure it out you can reply here so that it helps others, if not we'll try to figure it out and let you know.

[2017-02-24 21:15] harshavardhana commented on #3801
Currently minio does bind to '0.0.0.0:9000' automatically by default. what is the issue right now?

[2017-02-24 21:47] marcosterland commented on #3802
Thanks @krishnasrinivas for your help so far! I'll let you know, if I find the solution.
The reason, why I think it's something in minio is the following. When I enter the URL `example.com/foo` in Chrome with developer console, I can see the following requests & responses:
[code]
[code]
[code]
[code]
[code]
Notice the _Location_ attributes in the responses. The first response comes from nginx and

[2017-02-24 21:50] harshavardhana commented on #3802
This happens because all incoming web requests - which are not signed with any AWS signatures are redirected to `/minio` assuming the request is from Web browser.

[2017-02-24 22:19] #3799 closed, assigned to nobody

[2017-02-25 19:18] harshavardhana commented on #3801
Closing this as how minio server binds right now. Minio server by default binds to all interfaces and all ips. Including ipv6.

[2017-02-25 19:18] #3801 closed, assigned to harshavardhana

[2017-02-25 19:23] harshavardhana commented on #3791
Can you visit https://play.minio.io:9000/ and validate if it works on Safari @bugs181

[2017-02-25 19:30] rushenn commented on #3791
Works fine on Sierra 10.12.1/Safari 10.0.1 (12602.2.14.0.7)

[2017-02-26 00:42] kioqq commented on #2941
@harshavardhana hello! I have same issue in my Elixir project with ExAws.
"The request signature we calculated does not match the signature you provided."

Try build @mvalitov sample project and get "signature not match" too.

minio version: RELEASE.2017-02-16T01-47-30Z

Bug only with presigned_url , other API works fine.

[2017-02-26 00:44] harshavardhana commented on #2941
Would you mind providing a test script for us to reproduce and validate ?.

We will fix it . Thanks for reporting.

[2017-02-26 00:48] kioqq commented on #2941
@harshavardhana Thx for fast answer :) Try build @mvalitov [example](https://github.com/minio/minio/issues/2941#issuecomment-260189703).

Phoenix v1.2.1
Elixir 1.4.2

`1. git clone https://bitbucket.org/MarsonV/phoenix_minio.git`
`2. cd phoenix_minio`
`3. mix deps.get`
`4. npm install `
`5. set access_key_id/secret_access_key in config/config.exs`
`6. create a bucket with name "phoenix", and one b

[2017-02-26 01:00] kioqq commented on #2941
I try get list_objects and list_buckets from ExAws, works fine!
When i use presigned_url for "phoenix" bucket and "test.png" file.

I get this url:
`http://127.0.0.1:9000/phoenix/test.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=1CTN333SZ0VPK44GFEHO%2F20170226%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20170226T005757Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=b10a1f65ed

[2017-02-26 09:35] harshavardhana commented on #2941
The issue is at the ex_aws end just saw wrong canonical request generated, but we fixed it upstream - https://github.com/CargoSense/ex_aws/commit/63658792b6c8da247797f7620e59429763c86cba @krishnasrinivas sent a fix long time ago.

With that fix they made 1.0.0 release, you might have to change the `mix.lock` entry for `ex_aws` to point to this `63658792b6c8da247797f7620e59429763c86cba` commit.

Th

[2017-02-26 12:19] kioqq commented on #2941
@harshavardhana Wow! Big thanks!  It's works for me!

I check PR's in ex_aws and found it https://github.com/CargoSense/ex_aws/pull/354.
Works great too 👍

Who have same issue can add this in mix.exs:
"{:ex_aws, git: "https://github.com/hippware/ex_aws.git", branch: "type-fixes"}"

Sorry for bugs in elixir stuff :DD

[2017-02-26 18:31] #2941 closed, assigned to harshavardhana

[2017-02-26 20:03] harshavardhana commented on #3784
Fixes - #3795 #3804 address this problem.  @dcharbonnier we will be making a new release until then if possible can you try ":edge" and validate if the issue doesn't occur anymore?

[2017-02-26 20:09] harshavardhana commented on #3753
Not able to reproduce with current master closing this bug.

Set the browser read-only policy

![policy-readonly](https://cloud.githubusercontent.com/assets/622699/23343187/4ff223b2-fc1c-11e6-8c19-178d83961525.png)

With `mc`

[code]

Then try to download a non-existent file

[code]

[2017-02-26 20:09] #3753 closed, assigned to vadmeste

[2017-02-26 20:29] dcharbonnier commented on #3784
Amazing will check intensively tomorrow, thx

[2017-02-27 09:55] shouze commented on #3800
@harshavardhana which solution would you prefer? I guess the `madm` one would be the best one no? But it would imply to pass credentials (could be done throug env vars though).

It also imply to add madm into the docker container. Tell me if I can help & how I would be very pleased 😉

[2017-02-27 10:01] harshavardhana commented on #3800
Yes this is possible using `madm` a simple command, we can also additionally compile `mc` https://github.com/minio/mc which already has these in place which can be used directly.

[2017-02-27 11:02] shouze commented on #3800
ok for mc, geat! I'll give a try so I guess that we don't have to even compile in fact we can download the compiled binary directly no? (https://dl.minio.io/client/mc/release/linux-amd64/mc into the Dockerfile)

[2017-02-27 11:06] harshavardhana commented on #3800
For the time being we might have to.. because `mc admin service status` is only available in the current master.

[2017-02-27 11:06] shouze commented on #3800
ok, got it

[2017-02-27 16:22] shouze commented on #3800
@harshavardhana ok I've made a try, so I've made a mc build inside the container, it worked (except the deadcode step if I remember, commented it for the poc).

Then I've done that kind of things:
[code]

As minio keys can be passed trhough env vars (`MINIO_ACCESS_KEY` & `MINIO_SECRET_KEY`) I guess that in the Dockerfile I should replace the actual ENTRYPOINT (`minio`) by some entrypoint.sh that w

[2017-02-27 18:16] minamitsubame opened #3809 "browser: duplicate file entries after sort by name/size/last modified"
Each currently listed files will have another entry clone after a click on Name/Size/Last Modified, and only the newly added entries are sorted.

## Expected Behavior
Once trigger sort by Name/size/last modified, all existing file entries reordered by the specified field, no entry should be added in browser.

## Current Behavior
Each time you click Name/Size/Last Modified, entries in the list are

[2017-02-27 18:41] harshavardhana commented on #3809
Can you provide some screenshots for us as well @minamitsubame  - Thanks

[2017-02-27 18:46] rushenn commented on #3809
@harshavardhana Look like there is an issue in the sorting
![1](https://cloud.githubusercontent.com/assets/13393018/23374639/1cec980a-fd4b-11e6-8626-005e395370f7.gif)

[2017-02-27 18:58] minamitsubame commented on #3809
Screenshot above reveals the issue pretty well. Thank you @harshavardhana

[2017-02-27 19:40] #3699 closed, assigned to krisis

[2017-02-27 21:14] krishnasrinivas commented on #2854
@rushenn can you take care of the UI changes after https://github.com/minio/minio/pull/3810 is merged?

[2017-02-27 21:29] krishnasrinivas opened #3811 "TestWebObjectLayerFaultyDisks is incorrect"
TestWebObjectLayerFaultyDisks is not serving it's purpose because we are sending `GenericArgs{}` and server responds with an error that is not "disk failure"

i.e:
[code]

[code]

[2017-02-27 21:31] krishnasrinivas commented on #3811
@vadmeste TestWebObjectLayerFaultyDisks was by you, is my comment in the issue description correct?

[2017-02-27 21:40] vadmeste commented on #3811
You are right, I can fix this.

[2017-02-27 21:59] krishnasrinivas commented on #3802
@marcosterland my earlier suggestion is incorrect. We use the URL path `/minio/` in the client side for logic.

What you can do is make nginx listen on different ports, and redirect each port to a minio instance.

[2017-02-27 22:59] #3701 closed, assigned to vadmeste

[2017-02-28 06:43] rushenn commented on #2854
@krishnasrinivas sure

[2017-02-28 09:46] bchevallereau opened #3812 "Duplicated notify entries doesn't throw errors"
By mistake, I created 2 `kafka` objects in the `notifiy` objects in `config.json` and I was confused why it was not working.

## Expected Behavior
An error should be thrown at the server startup if there are duplicated notification definition.

## Current Behavior
Not sure

[2017-02-28 09:49] harshavardhana commented on #3812
To be fixed as part of - https://github.com/minio/minio/issues/3697

[2017-02-28 10:14] marcosterland commented on #3802
For my specific problem, I've found a solution, where I don't need the webUI.
But in case someone has a similar problem and googles to this issue, this might be a solution:
[code]
This RegExp magic seems to do the job! :smiley:
On `example.com/foo` you should get your usual S3 service, whereas `example.com/foo/minio` should proxy you to the webUI.
Nevertheless, thanks @krishnasrinivas and @harshav

[2017-02-28 10:14] #3802 closed, assigned to krishnasrinivas

[2017-02-28 23:45] borkd opened #3815 "erasure: Enable logging when quorum is lost."
## Expected Behavior
Disclaimer: this was a quick first stab at using minio, without combing through documentation for best practices hence I can't say I know what I am doing.

1. It would be greatly appreciated if Minio devs explicitly state the assumptions of what constitutes an acceptable/handled failure minio can guard against.

2. All occurrences of bit rot should be handled asap and transpar

[2017-02-28 23:56] harshavardhana commented on #3815
You have to manually heal the object which has corruption - https://github.com/minio/minio/blob/master/pkg/madmin/examples/heal-object.go - there is no auto healing.

This doesn't signify what is the current state because erasure coding is not at bucket level but at object level. So if you have lost one part for an object it doesn't mean that the disk itself is down or there is an issue.  Another

[2017-03-01 02:00] borkd commented on #3815
Manual healing is fine as long as there is an indication that an object needs such healing. A fsck/scrub that can be scheduled against a bucket would be quite handy for large buckets. Overhead is horrible when you have to test millions of objects one by one.

I naively assumed quorum was borderline at step 3, and gone at step 4. Server gave no indication of a problem whatsoever at either step. Any

[2017-03-01 02:04] harshavardhana commented on #3815
Healing also has listing for example once done you will have `mc admin heal list alias/bucket`  (PS: currently only available in master branch) which provides a '--json' output so that you can trigger them through scripts in parallel etc.

The loud indication cannot be done until you access the file. We can perhaps add a log message to indicate that the accessed file indeed needs healing or perhap

[2017-03-01 02:26] GarimaKapoor commented on #3736
@koolhead17 did you get a chance to test and document it?

[2017-03-01 02:27] borkd commented on #3815
Apologies for not stating this more explicitly. Object in question was being accessed every 2 seconds throughout all the steps. That's why I found lack of warning rather disturbing.

[2017-03-01 02:41] GarimaKapoor commented on #2817
@rushenn what the update on this issue?

[2017-03-01 02:46] krishnasrinivas commented on #2817
Can be closed. Fixed by 52d6678bf0d1442d0ab9b7bc63b47ceda69d0e4a

[2017-03-01 04:52] zhen-ke opened #3817 "Click on the name, size, Last Modified bug"
Click on the name, size, Last Modified when sorting, there will be copying the current file to copy the situation

<img width="1222" alt="2017-03-01 12 50 41" src="https://cloud.githubusercontent.com/assets/11960036/23446395/e3db47bc-fe7d-11e6-838a-4e40a265359c.png">

[2017-03-01 06:01] harshavardhana commented on #3817
This issue is fixed by https://github.com/minio/minio/commit/fcad4a44fd01279955921a8c4054820d396021da

[2017-03-01 06:01] #3817 closed, assigned to rushenn

[2017-03-01 06:03] harshavardhana commented on #3809
Fixed by #3813

[2017-03-01 06:03] #3809 closed, assigned to rushenn

[2017-03-01 06:04] harshavardhana commented on #3817
Also closed as duplicate of https://github.com/minio/minio/issues/3809

[2017-03-01 06:05] harshavardhana commented on #3797
This is already documented, closing this bug as answered.

[2017-03-01 06:05] #3797 closed, assigned to nitisht

[2017-03-01 06:06] harshavardhana commented on #3784
@dcharbonnier were you able to validate - do we proceed and close this bug?

[2017-03-01 06:22] borkd commented on #3815
I have repeated the small object test with 16 disks and went on with deleting, corrupting or truncating `part.1` files while a client was repeatedly requesting the object every second. Server was restarted after each injected error. Findings:

1. After contents of one disk vanished reads continued without any warning from the server.
Only after the server was restarted: `Status:         15 Online,

[2017-03-01 07:23] harshavardhana commented on #3815
This is expected behavior we don't hit the disk if its cached already, unless cache is invalidated.

Can you elaborate on this for a bit?

Yes you can turn off the cache with env `export _MINIO_CACHE=off`

My questions to you at any point during these tests did you receive corrupted data? can you perform all the operations with `_MINIO_CACHE=off` ? .

As i explained before this won't a server rest

[2017-03-01 10:26] stephenreay opened #3818 "Add support for mysql in event notifications"
MySQL is generally regarded as the most popular open source database in the world.

Since v5.7.8, mysql (and the downstream forks) has supported a JSON column type. Documentation is available here: https://dev.mysql.com/doc/refman/5.7/en/json.html

The idea of supporting mysql was raised in #2739, and squashed with a comment of "mysql is going proprietary". I believe that is a too-simplistic view

[2017-03-01 10:30] ghost opened #3819 "minio behind nginx (terminates tls) has a 2.x minute delay and does not show all updates (using watch cmd)"
## Expected Behavior

watch should show all updates and changes in the bucket

## Current Behavior

minio seems to have more than 2 minutes of delay in displaying changes to/in a bucket using the watch cmd when it is behind a nginx server working as reverse proxy. also it seems to suppress some change notifications.

minio directly connected:

[2017-03-01T09:57:04Z]  32KiB ObjectCreated http://127

[2017-03-01 10:56] vadmeste commented on #3819
By the way, I was able to reproduce this problem locally even with simple nginx configuration:
[code]

[2017-03-01 11:21] vadmeste commented on #3819
@xstillwill, can you add `proxy_buffering  off;` under your location section of your ngnix config and test again ?

[2017-03-01 12:07] ghost commented on #3819
@vadmeste this fixed it!!! awesome! thank you so much 👍 💯

[2017-03-01 12:40] vadmeste commented on #3819
We need to test more and add that flag to the documentation.

[2017-03-01 15:38] borkd commented on #3815
Thank you for clarification. With cache off, error is reported once client requests the object and there is not enough chunks left for server to reconstruct the data
`cause=Read failed. Insufficient number of disks online`
`cause=Storage resources are insufficient for the read operation.`.

[2017-03-01 16:19] jmdh commented on #3575
Hi,

I'm a Debian developer and am involved in a project that would benefit from minio packaging. Would packaging minio for the official Debian repositories (which would ultimately filter down to ubuntu)  be of interest?

[2017-03-01 17:38] harshavardhana commented on #3575
Yes definitely and thank you @jmdh

[2017-03-01 17:39] harshavardhana commented on #3819
@koolhead17 @NitishT ^^

[2017-03-01 22:22] harshavardhana commented on #3784
Closing this as fixed, @dcharbonnier feel free to re-open if you see issues again.

[2017-03-01 22:22] #3784 closed, assigned to vadmeste, harshavardhana

[2017-03-01 22:46] vadmeste commented on #3812
I don't see a way to do this without rewriting json unmarsheler. This is also the same thing for all other fields in the config file (like entering access key twice).

[2017-03-01 22:50] k0nsl opened #3823 "Reverse proxy (nginx) configuration?"
I am having some issues with my reverse proxy configuration for minio. All of my attempts results in `ERR_TOO_MANY_REDIRECTS`.

My nginx configuration looks like this:

[code]

I updated minio today (so should be latest version):
[code]

Excuse me if I am low on details but I am posting this in a rush and I can compliment this issue with further details, if needed.

Thanks in advance for any help

[2017-03-01 22:59] harshavardhana commented on #3823
// cc @krishnasrinivas

[2017-03-01 23:15] harshavardhana commented on #3812
We don't need to rewrite we need to validate if there are multiple entries we just fail.

[2017-03-01 23:26] krishnasrinivas commented on #3823
@k0nsl did you check this doc: https://docs.minio.io/docs/setup-nginx-proxy-with-minio

[2017-03-02 00:32] k0nsl commented on #3823
@krishnasrinivas: I can't see what that document has which I might be missing. I've got minio and nginx installed and I'm using the above configuration, but for making absolutely sure nothing in my configuration was wrong, I tried that vanilla nginx reverse proxy configuration listed in the document you've linked and the results are still the same.

Thanks for your time.

[2017-03-02 00:34] harshavardhana commented on #3823
@k0nsl can you paste your simplified configuration?

[2017-03-02 00:45] krishnasrinivas commented on #3823
@k0nsl just verified that it works:
[code]

and verified with mc:
[code]

There must be something else in your environment that is causing problem for you.

[2017-03-02 07:32] k0nsl commented on #3823
@krishnasrinivas: Well, it worked many months ago but when I finally decided to upgrade it now gives error about "too many redirects". I ran an older version when you still maintained `minio-browser` as a separate repository.
Did you run that nginx configuration on a VPS or dedicated server and with a "live" domain, outside of your own network? That's what I do.

When I access it all simply by goi

[2017-03-02 08:16] k0nsl commented on #3823
I found out what the issue is. Jeez, something so innocuous as this had me running around on a wild goose chase -- wasting several hours! 😂

The issue? Change the protocol from `HTTP` to `HTTPs`, i.e:
[code]
To:
[code]

Now it works beautifully with the original nginx configuration I have been using all along (the one shown in the first comment).

Thanks for the help.

[2017-03-02 08:16] #3823 closed, assigned to nobody

[2017-03-02 08:41] dcharbonnier opened #3825 "make maxObjectSize a config option"
maxObjectSize should be a setting

The maxObjectSize is an arbitrary value based on a strict equality with the s3 limits, in my case this limit is really annoying and force to bring to the last level of services the complexity of the authentification and the s3 API instead of having very simple PUT/GET on shared url.
To bypass this I have a proxy that take the PUT with a simple custom signature an

[2017-03-02 10:18] vadmeste commented on #3812
We can't detect if there are multiple entries. Once the json is loaded into the structure, each field will contain the last duplicated entry. Aren't we going to see if we can migrate to yml here too ?

[2017-03-02 10:28] harshavardhana commented on #3812
Yes we are that is why `mc` takes the bait first :-) @vadmeste

[2017-03-02 11:10] ZennouRachid opened #3827 "docs: expected disk capacity under various use cases?"

[2017-03-02 15:07] donatello commented on #3812
One approach is suggested here: https://stackoverflow.com/questions/27927035/golang-detecting-duplicate-keys-in-json-input

[2017-03-02 17:43] gitjeff05 commented on #3791
Object.assign is [not supported in Safari prior to version 9](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Browser_compatibility), which was ([released September 30, 2015](https://en.wikipedia.org/wiki/Safari_version_history)). It is also not supported in IE (but is supported on Edge). Looks like Object.assign is referenced in two files: ``browser/

[2017-03-02 21:17] zllovesuki commented on #3779
See my issue: docker/distribution#2205

`registry:2.6` changed its behavior on multipart upload.

[2017-03-03 02:28] harshavardhana commented on #3825
Arch reviewed and accepted @dcharbonnier - PR sent increasing to 16GiB.

[2017-03-03 04:18] deekoder opened #3835 "browser: Add support to enable image previews."
We stream image files to minio server. However since the browser does not have a preview, we have to download files one by one and verify if our images are saved correctly.

## Expected Behavior
On clicking ... or hovering show image preview.

## Current Behavior
On clicking a file downloads to the local computer.
A preview of the file on hover or click is needed.  Display file's metadata like any

[2017-03-03 04:23] deekoder opened #3836 "browser: Object deletion is not immediately shown in the browser when its deeper than one bucket level"
Create a bucket. When you organize content inside the bucket with more prefixes, and try to delete the object, browser does not update. See gif.

## Expected Behavior
On delete browser should immediately show deletion of the object (it must disappear). If browser is refreshed the browser removes the deleted object.

## Current Behavior
 See gif below. Open dashboard -> car_photos-> delete any obje

[2017-03-03 06:24] dcharbonnier commented on #3825
Thx a lot i will test it Monday

[2017-03-03 06:53] dcharbonnier commented on #3784
Looks good, the errors rate reduced so much that its not possible to say if it's because tge clusters bever encountered the race condition again or if the problem is fixed.

[2017-03-03 07:01] harshavardhana commented on #3784
Please keep monitoring - we will be available to help in anyway we can.

[2017-03-03 08:59] janv37 opened #3839 "Deleting file from bucket does not work from webUI, works fine in minioc"
I have upgraded minioc to current version from master on OpenBSD6.0/amd64, golang 1.7.5

Version: 2017-03-03T08:17:24Z
Release-Tag: DEVELOPMENT.2017-03-03T08-17-24Z
Commit-ID: 98d17d2a97e6db184a6b86104624610dfe124d17

## Expected Behavior
Delete should work in webui too.

## Current Behavior
Clicking on delete button on object shows red "We encountered an internal error, please try again." Trying

[2017-03-03 09:12] janv37 opened #3840 "Bucked named 'minio' is inaccessible after browser reload"
Bucket with name minio get screated, you are free to upload files.
After browser refresh, the bucket is not visible in the left hand bucket list.

New attempt to create something called 'minio' ends up with error:
"Your previous request to create the named bucket succeeded and you already own it."

The folder called 'minio' gets created on filesystem level with expected permissions, owner and grou

[2017-03-03 11:01] #3840 closed, assigned to harshavardhana

[2017-03-03 11:18] krisis opened #3842 "CopyObjectPart with incorrect x-amz-copy-source header gets incorrectly routed to PutObjectPart"
When a copy-object-part request was sent to Minio server with "x-amz-copy-source", "src", it returned 200 OK with an ETag in response. This is because it was routed to PutObjectPartHandler.

## Expected Behavior

The request must be handled by CopyObjectPartHandler and should return `ErrInvalidCopySource`.
## Current Behavior

The request gets routed to PutObjectPartHandler.

## Possible Solution

[2017-03-03 11:25] harshavardhana commented on #3842
Yep this was fixed for PutObject() already for a similar issue with CopyObject() - using regexp is fine. We just need to have a fallback in PutObjectPart()

[2017-03-03 18:14] #3825 closed, assigned to harshavardhana

[2017-03-03 18:24] tsmgeek opened #3844 "Shareable link from browser is always 7 days"
## Expected Behavior
Link to expire based on 'Expires in'

## Current Behavior
When creating shareable links from minio browser they are always for 7 days regardless of what you set the 'Expires in' to.

Does not happen if you create links from mc or another tool such as Cloudberry

## Your Environment
Version: 2017-02-16T01:47:30Z
Release-Tag: RELEASE.2017-02-16T01-47-30Z
Commit-ID: 3d98311d9f4ce

[2017-03-03 20:48] cocodrino opened #3846 "docs: can I limit the space for a bucket"
Hi..I'm curious about if it's possible set a specific limit size for a bucket, I'm interested in running on a server but I can't use the whole space...if it's not do you know what can I do for solve this situation?..thank you!!!

[2017-03-03 20:55] harshavardhana commented on #3846
It is not possible you should use backend fs quotas to achieve this. @cocodrino

[2017-03-03 22:01] scratchoo opened #3847 "Refresh button in the bucket and accessing image in the browser"
1- I uploaded a file to an empty bucket, and it's surprising to not have any button to refresh the bucket content, I had to go back and come again to the backet to see the file. (This is a suggestion to add a refresh button in the buckets)

2 - after uploading the image I cannot see how I can see it in the browser ? Is it possible to access an url that show the image directly in the browser ?

Tha

[2017-03-03 22:07] krishnasrinivas commented on #3847
this is a bug, which minio version are you using?

This is not supported.

[2017-03-03 22:42] scratchoo commented on #3847
@krishnasrinivas I used `docker pull minio/minio` to install minio so I think I used the old version that was available on digitalocean. I will upgrade..

How I can show an image in my site if it's not supported to show an image in the browser ?

[2017-03-03 22:52] krishnasrinivas commented on #3847
I see the bug, we'll fix it.

Minio-Browser (like AWS console browser) is a minimal file browser, not intended to have preview of files. Even AWS S3 console just allows you to browse/upload/download objects. You would have to implement separate application so that it shows the images in the browser.

[2017-03-03 23:05] scratchoo commented on #3847
@krishnasrinivas yes I have already a rails app, is there any helper to show the image in the browser ?

[2017-03-03 23:11] krishnasrinivas commented on #3847
@medBouzid check this sample app: https://docs.minio.io/docs/javascript-shopping-app

it shows the images stored on minio in the browser.

[2017-03-03 23:46] #3811 closed, assigned to vadmeste

[2017-03-03 23:51] krishnasrinivas commented on #3847
Sorry, I did not check properly, I am unable to see the bug. Can you let us know the version? you can click Settings->About

[2017-03-04 00:32] #3842 closed, assigned to harshavardhana

[2017-03-04 00:42] tsmgeek opened #3849 "Unable to create blank folders"
Unable to create blank folders in browser.
Using S3 tool such as Cloudberry or S3 Browser I can request creating a new folder but is never created.

## Expected Behavior
Create new blank folder

## Current Behavior
Does nothing

## Your Environment
Version: 2017-02-16T01:47:30Z
Release-Tag: RELEASE.2017-02-16T01-47-30Z
Commit-ID: 3d98311

[2017-03-04 00:44] scratchoo commented on #3847
[code]

For the link you provided  for the sample app, I am not sure how I can apply this to my Rails view, and the documentation is lucking a lot of info, I felt confused today while I was reading through it !

[2017-03-04 00:47] harshavardhana commented on #3849
@tsmgeek this is not allowed.. It is expected as per design. You can upload a file with a prefix it can create folders for you.

[2017-03-04 01:07] #3839 closed, assigned to krishnasrinivas

[2017-03-04 01:23] tsmgeek commented on #3849
What you call prefixes is just the folder structure from the bucket name to file?

[2017-03-04 01:23] krishnasrinivas commented on #3847
@medBouzid I am not able to reproduce this problem (tried docker as well) Minio browser shows the content as soon as the file is uploaded into the empty bucket.
Can you check if there are any errors in the JS console?

Think about how you would implement an app such that the images you show in the app is hosted on AWS S3, you will have to use minio exactly the same way to host the images. Your use

[2017-03-04 01:32] harshavardhana commented on #3849
yes something like this `mc cp /etc/issue play/harsha/1/13/2/2/3/3/2/issue`  now here `1/13/2/2/3/3/2` is a prefix.  Minio is a flat namespace that is why it doesn't allow directories since there is no real purpose for them on object storage.  If you need a directory just copy a file with a desired prefix.

[2017-03-04 01:37] tsmgeek commented on #3827
I cant see the disk capacity being much larger than the data you are storing, the metadata dir seems very lightweight.

[2017-03-04 01:50] harshavardhana commented on #3827
@ZennouRachid answered on the slack channel. Closing this here..

[2017-03-04 01:50] #3827 closed, assigned to nobody

[2017-03-04 01:56] harshavardhana opened #3850 "docs: [ecosystem] document and package on official bosh-release for minio"
Work on http://bosh.io/ to complete bosh release document and project for Minio under multiple deployment configurations

 - Single node filesystem
 - Single node erasure code
 - Multiple node erasure code

## Expected Behavior

Currently we do not have a document or a completed project to make this work.

## Current Behavior

All projects referenced

- https://github.com/dpb587/minio-bosh-release

[2017-03-04 05:27] maxim-rstor opened #3851 "Notifications through Redis don't work"
## Expected Behavior

Uploading a file / removing an object from a bucket creates a record in Redis when it is properly configured in Minio's config file.

## Current Behavior

Minio appears to be successfully connected to Redis, but never sends any RPUSH commands.

## Steps to Reproduce (for bugs)

1. Create a 3-node Minio cluster.
2. Install Redis server and add "requirepass 1234" to its config.

[2017-03-04 05:32] harshavardhana commented on #3851
Thanks for letting us know @maxim-rstor - we will get back in a bit.

[2017-03-04 05:33] harshavardhana commented on #3851
Just tested seems to be working fine @maxim-rstor did you enable 'mc events' and enable bucket notifications?

[code]

[2017-03-04 05:36] harshavardhana commented on #3851
Can you provide details like

 - How did you perform the operations? using browser alone or `mc` as well?
 - Did you run `mc events` to configure bucket notifications, can you provide us `mc events list myminio/yourbucket`  output.
 - Paste the snippet from `~/.minio/config.json` which was modified.
 - Any other relevant log messages from Minio server side?

Thanks

[2017-03-04 05:37] harshavardhana commented on #3851
Also last but not the least `minio version` output would be immensely helpful!

[2017-03-04 05:46] maxim-rstor commented on #3851
* Tried both Web and "mc" with the same outcome
* Haven't run "mc events", I expected that updating "config.json" would be enough. Isn't it?

[code]

* I enabled logging to file (through the "config.json" file as well, "debug" level), the log file got created but it is empty

`minio version` gives me this:

[code]

I installed it following the instructions from here - http://docs.minio.io/docs/min

[2017-03-04 05:50] harshavardhana commented on #3851
yes its not enough that is just to configure the ARN - http://docs.minio.io/docs/minio-bucket-notification-guide#Redis the second step talks about what you should do regarding `mc events`.

Once you do it should work.

[2017-03-04 05:51] maxim-rstor commented on #3851
`arn:minio:sqs:us-east-1:1:redis`

Could you please clarify what we are supposed to use if our deployment not on Amazon, but in our private cloud?

[2017-03-04 05:52] harshavardhana commented on #3851
Yes click the document and look at the second step i.e "Step 2"

[code]

[2017-03-04 05:54] maxim-rstor commented on #3851
I meant – is the "arn:minio:sqs:us-east-1:1:redis" a static value which we should use all the time regardless of whether our Minio and Redis clusters are deployed with AWS, Google Cloud, on our premises, or any other cloud?

[2017-03-04 05:58] harshavardhana commented on #3851
Yes that would be for your first redis config.

[code]

Now if you have more then you can add more as well like below

[code]

The corresponding ARNs generated would be

[code]

Notice the difference from "1" and "2"  - And yes running on AWS, Google Cloud, DigitalOcean, Your laptop has no meaning for Minio - Minio runs like any other application given there is a directory it needs to export and a

[2017-03-04 06:02] maxim-rstor commented on #3851
Confirmed, it's working after having the "mc events" run:

[code]

Couldn't you guys just remove that strange thing from the parameter – "arn:minio:sqs:us-east-1:1"? I am talking from the user perspective, this thing doesn't really mean anything to me, it's just misleading. Why can't we just use "redis" (or "redis:N" if there are more instances configured) instead of this strange thing "arn:minio:

[2017-03-04 06:29] maxim-rstor commented on #3851
The second question would be – how do we enable events for all the buckets that currently exist and will be created later? We wouldn't really want to enable the notification for each bucket manually, and only after it has been created. Our use case is to monitor all the user operations on all the buckets (already created or which will be created later). If I am not mistaken, it's not currently pos

[2017-03-04 06:29] harshavardhana commented on #3851
It is amazon specific because `mc events` work transparently for aws S3 as well - ARN is meaningful it provides multiple things especially things like this

- Allows to add new services in future other than sqs, for example if we decided to to sns.
- Allows to clearly differentiate between the config param and redis config. So you can pick them properly.
- "arn:minio" signifies that it is minio sp

[2017-03-04 06:30] harshavardhana commented on #3851
You have to enable them one by one using `mc events` command. They are not enabled by default.

[2017-03-04 06:36] maxim-rstor commented on #3851
1. If I enable notification through Postgres, Redis or any other service, there is no communication through Amazon's SQS. That's why this parameter is misleading for the end user. I can't really see how it relates to any kind of extensibility. What the user wants to know is which kind of service from the config file is going to be used for sending notifications – redis, postgres, amq, etc. If you

[2017-03-04 06:38] harshavardhana commented on #3851
Minio is S3 compatible and S3 unfortunately doesn't provide us an API for that. You might have to build it outside of Minio yourself to monitor bucket creations.

The reason to do is definitely stated above, I am sorry if i haven't explained it better.

[2017-03-04 11:11] harshavardhana commented on #3849
Closing as answered.

[2017-03-04 11:11] #3849 closed, assigned to harshavardhana

[2017-03-04 11:12] harshavardhana commented on #3846
Closing as answered..

[2017-03-04 11:12] #3846 closed, assigned to nobody

[2017-03-04 11:38] harshavardhana commented on #3844
It looks like the expiry is never set to proper value, this returns to share link being defaulted to 7 days for all shareable URL.  //cc @krishnasrinivas

[2017-03-04 11:45] harshavardhana commented on #3718
Closing as duplicate of #3850

[2017-03-04 11:45] #3718 closed, assigned to nobody

[2017-03-04 11:47] harshavardhana commented on #3736
ping @koolhead17

[2017-03-04 11:49] harshavardhana commented on #3722
@krishnasrinivas  Can you list all the docs which do not follow this in consistent manner? It would help @NitishT

[2017-03-04 12:00] harshavardhana commented on #3851
Closing this issue as resolved.

[2017-03-04 12:00] #3851 closed, assigned to harshavardhana

[2017-03-04 16:00] scratchoo commented on #3847
@krishnasrinivas

I forget to tell you that this issue happens because I was uploading directly from the browser, so I thought it would be useful that the uploaded image appears directly or there is a refresh button. No there are no errors in the console, the upload is done correctly.
----------------------------------

Yesterday I asked you if there is a way to show the uploaded image in the brow

[2017-03-04 20:29] krishnasrinivas commented on #3847
To make storage persistent check this doc: https://docs.minio.io/docs/minio-docker-quickstart-guide

It works for me, can you check at https://play.minio.io:9000 if it works as expected for you?

Yes, but better make it read-only by this command:
mc policy download myminio/docker

so that there is no anonymous write permission.

You can also use presigned URLs for private buckets: http://docs.aws.

[2017-03-04 20:31] krishnasrinivas commented on #3844
yes, it's a bug, can you fix @rushenn

[2017-03-04 20:44] rushenn commented on #3844
@krishnasrinivas Look like the expiry feature is not yet implemented. 'Expires in' component is just the UI. It doesn't have any functionality.

[2017-03-04 21:07] krishnasrinivas commented on #3844
@rushenn yes, here's the bug, expiry value is never sent to the server:

[code]

shareObject in action.js needs an expiry argument:
[code]

Let me know if you need help in fixing this.

[2017-03-04 21:08] rushenn commented on #3844
@krishnasrinivas I will check

[2017-03-04 22:55] spotrh commented on #3576
Someone (I don't remember who) came up to the Fedora table on the first day of FOSDEM, and asked if I would help start an effort to package Minio (and dependencies).

My efforts are here:

https://copr.fedorainfracloud.org/coprs/spot/minio/
https://spot.fedorapeople.org/minio/

Caveats:

1) I'm not a Go programmer. At all. I'm just a Fedora packager.
2) The "minio" binaries generated by the packag

[2017-03-04 22:58] harshavardhana commented on #3576
This is great to know.

Thanks for doing this.

We started our effort on this feel free to share your RPM spec  - here is the work in progress link https://copr.fedorainfracloud.org/coprs/minio/minio/

We will validate and fix issues if there are any.

[2017-03-04 23:15] jtilander opened #3852 "Uploading "larger" files through the webui fails."
Repo:

Follow the guide and bring up a docker-compose cluster e.g. this one:

https://raw.githubusercontent.com/minio/minio/master/docs/docker/docker-compose.yml

Go to the first node web interface.

* Create a new bucket "test"
* Upload  file from your local drive that is "large", e.g. I've tried 500MB.

They will fail with the following error on the docker console:
[code]

Verify that you can up

[2017-03-04 23:28] harshavardhana commented on #3852
Uploading files > 5 GB is not supported on browser please use command line tool. Also this looks weird we haven't seen with < 5GB this to occur for example

Can you try uploading to https://play.minio.io:9000 and let us know if there is a same issue?.  From what it looks like browser stopped responding.

[code]

[2017-03-04 23:33] harshavardhana commented on #3852
Also please follow the issue template so that the issue can be described better starting with versions of all the software in question to help us reproduce this issue.

 - minio version
 - browser type (firefox, chrome etc) version name is a plus.
 - docker version
 - macOS version

[2017-03-05 10:42] harshavardhana commented on #3576
https://copr.fedorainfracloud.org/coprs/minio/ - built packages are now available for Fedora 25, Fedora 26.

[2017-03-05 21:09] #3576 closed, assigned to nobody

[2017-03-05 21:15] harshavardhana commented on #3836
Fixed in master 0bae3330e8c8910c69e8229a3f0268e6127b6982

[2017-03-05 21:15] #3836 closed, assigned to rushenn

[2017-03-06 00:06] harshavardhana commented on #3800
Right now we don't have a script, we have to come up with an entrypoint.sh script which creates all the necessary environment for all of this to work.

We can do `mc admin service status` and it would serve the purpose for this - the official release can be found here - https://hub.docker.com/r/minio/mc/ or you can download the mc binary etc.

[2017-03-06 00:16] harshavardhana commented on #3713
Closing as duplicate of #3489

[2017-03-06 00:16] #3713 closed, assigned to harshavardhana

[2017-03-06 00:51] shouze commented on #3800
ok will do that thx for the confirmation.

Yup, but even if the https://hub.docker.com/r/minio/mc/ inside the docker container image is up2date, it's a bit tricky during minio container's build to extract the mc binary from the mc docker image, it's far easier to (curl) download a tagged binary that support the `mc admin service status` from the github repo.

To sum up, would be easier if you tag

[2017-03-06 00:54] harshavardhana commented on #3800
Oh yes this is under review should happen soon. Thanks for spending time on this @shouze - you are awesome :v:

[2017-03-06 02:18] danyaljj commented on #1508
Any ideas on this question?
http://stackoverflow.com/questions/42616518/minio-hows-bucket-policy-related-to-anonymous-authorized-access

[2017-03-06 02:31] harshavardhana commented on #1508
@danyaljj answered.

[2017-03-06 12:29] sheerun opened #3856 "Cannot remove files when out of disk"
I get "Storage backend has reached its minimum free disk threshold. Please delete few objects to proceed." message from minio. Unfortunately when trying to remove while folder using `mc` tool, I get the same message..

## Expected Behavior
Minio should allow removing files, even if over disk usage threshold

## Current Behavior
Minio doesn't allow even removing of files if over disk threshold

##

[2017-03-06 16:05] alpswjc opened #3857 "Directory index full"
i am seeing the following error in the log file

time="2017-03-05T19:09:27-06:00" level=error msg="Unable to create an object." cause="mkdir /opt/buckets/.minio.sys/buckets/abc/201703/1-1/home+in+a:479:objectAPIHandlers.PutObjectHandler()]" stack="fs-v1.go:577:fsObjects.PutObject <autogenerated>:275:(*fsObjects).PutObject object-handlers.go:476:objectAPIHandlers.r-fm"

this is in syslog

Mar  6 09