[2016-08-30 14:55] krishnasrinivas commented on #2327
list-objects webrpc was getting fired before 200OK was received for PUT
https://github.com/minio/miniobrowser/pull/186 fixes it

[code]

[2016-08-30 17:12] vadmeste opened #2579 "[distributed] `The specified bucket does not exist` shows up sometimes (rare)"
[code]

This is a rare bug, I play with 8 nodes + small files

[2016-08-30 17:14] vadmeste commented on #2579
This happened for me with ls, cp commands, but I guess with all other commands too

[2016-08-30 17:28] harshavardhana commented on #2579
This issue is related to the problem of server disconnection, this will be fixed once #2561 is fixed.

[2016-08-30 17:29] harshavardhana commented on #2577
This is a correct behavior for one of the server to report 503 when server is not initialized since you don't have quorum.  Is there anything else in particular that you see @balamurugana ?

[2016-08-30 17:32] harshavardhana commented on #2579
In situations like this you should also see what is server is reporting as it would have printed "connection is shutdown"

[2016-08-30 17:39] harshavardhana opened #2582 "data race with minio server mux on windows - sporadic issue."
[code]

[2016-08-30 19:52] #2561 closed, assigned to harshavardhana

[2016-08-30 22:58] #2465 closed, assigned to vadmeste

[2016-08-31 02:24] #2502 closed, assigned to krisis, harshavardhana

[2016-08-31 06:47] dreampuf commented on #2510
still get that issue.

[code]

[2016-08-31 07:11] harshavardhana commented on #2579
can you validate this again with latest distributed HEAD @vadmeste ?

[2016-08-31 07:12] harshavardhana commented on #2570
Can you test this again with latest master HEAD?

[2016-08-31 07:53] harshavardhana commented on #2577
Correcting myself, here we do have quorum so it is a bug.

[2016-08-31 08:01] harshavardhana commented on #2510
Latest doesn't have this fix yet you should try "docker pull minio/minio:edge"

[2016-08-31 08:20] balamurugana commented on #2577
This bug appears in minio version

[code]

[2016-08-31 09:56] hackintoshrao commented on #2570
Will test.

[2016-08-31 12:21] vadmeste commented on #2579
@harshavardhana, I tested the script again for about an hour and I didn't have any error. Should be fixed.

[2016-08-31 12:21] #2579 closed, assigned to nobody

[2016-08-31 20:54] harshavardhana commented on #2334
@ramondeklein we have merged a change in master which preempts the concatenation for FS backend.
Which would in-turn avoid the larger delay at the end of a complete multipart upload.

Would you validate 'github.com/minio/minio/' 'master' ?

[2016-08-31 21:01] #2327 closed, assigned to krishnasrinivas

[2016-08-31 21:15] ramondeklein commented on #2334
Could you explain what's the current behavior. Does it concatenate the files in the background and already return? Or is it similar to XL mode where the separate parts will be kept?

[2016-08-31 21:19] krishnasrinivas commented on #2334
@ramondeklein here's what we do: start appending parts as soon as possible and keep the order of the parts in the appended file correct.

so by the time complete-multipart-upload is called we have the appended file ready.

The append process will happen as and when the parts arrive.

[2016-08-31 21:28] ramondeklein commented on #2334
Okay, that seems pretty cool. I'll try to fetch a copy this week. I always use the minio/latest image, but I guess I now need to fetch minio/edge to do some testing...

[2016-08-31 21:43] #2559 closed, assigned to vadmeste

[2016-08-31 23:07] #2582 closed, assigned to vadmeste

[2016-08-31 23:33] vadmeste commented on #2422
This patch https://github.com/minio/minio/pull/2429 did this (increase 1.17%), well see if I can do better

[2016-08-31 23:35] vadmeste commented on #2416
This patch https://github.com/minio/minio/pull/2424 enhanced the code coverge by 0.5%, will see if I can do better

[2016-08-31 23:52] harshavardhana commented on #2334
Yes you would need to get 'minio/edge'

[2016-09-01 01:50] hackintoshrao commented on #2460
https://github.com/minio/minio/pull/2584 fixes it.

[2016-09-01 02:03] #2460 closed, assigned to hackintoshrao

[2016-09-01 05:02] hackintoshrao commented on #2570
Running the test just once close to 20 seconds to finish.

[2016-09-01 05:43] harshavardhana commented on #2570
cannot understand what this means?

[2016-09-01 07:04] harshavardhana commented on #2577
Checking @balamurugana

[2016-09-01 07:24] hackintoshrao commented on #2570
Previously was running the test at a concurrency level of 100, now run it without any concurrency, it took around 20 seconds to finish . When I increased the concurrency level to 10, it tool  `1m50.045s` for the test to finish. Will profile and investigate why this operation is painfully slow.

[2016-09-01 07:31] harshavardhana commented on #2570
Is the hang reproducible?  - if it's really about being slow and no hang then open a new bug for optimization of ListMultipartUploads().

[2016-09-01 07:34] hackintoshrao commented on #2570
Yes, I'm able to consistently reproduce. When the concurrency of the load goes it gets slower and slower, so slow that it looks like its inactive.

Yes, I'll open a new bug on optimization of ListMultipartUploads .

[2016-09-01 07:38] hackintoshrao opened #2591 "XL: ListMultipartUpload optimzation."
During stress tests `ListMultipartUpload` is found to be unusually slow. More details on the bug and info on reproducing can be found here https://github.com/minio/minio/issues/2570 .

Profiling and investigating the cause for it.

[2016-09-01 07:38] hackintoshrao commented on #2570
Opened a new issue https://github.com/minio/minio/issues/2591 on `ListMultipartUpload` optimization.

[2016-09-01 07:38] #2570 closed, assigned to nobody

[2016-09-01 08:23] hackintoshrao opened #2594 "XL: Profiler generating `0` byte profiles."
## Expected behaviour

On enabling profiling, profiler should generate a valid profile.
## Actual behaviour

Generating 0 byte profiles.
## Steps to reproduce the behaviour

Enable profiling by MINIO_PROFILER=cpu/mem/block and generate load and stop server and check the size of the profile.
## Minio version

Latest master at 790ad68d4d3291acecd4056dc900d076388a76e8
## System information

Minio2 se

[2016-09-01 09:34] hackintoshrao commented on #2507
- Tests are not leaving behind temp entries
- Object layer/erasure disks created during tests are cleaned up properly.
- It could also be possible that some of the operations being called during tests are opening unusual number of files.
- May be a new instrumentation to keep track of number of open file descriptors per operation could help trace/detect such issues in future too.

[2016-09-01 09:37] hackintoshrao commented on #2445
Need https://github.com/minio/minio/issues/2594 and issues with load test to solved to moved ahead (https://github.com/minio/minio/issues/2591) .

[2016-09-01 09:54] harshavardhana commented on #2577
@balamurugana - should be fixed in the latest https://github.com/minio/minio/commit/05a64b7198669a0a5dbe283b6816d86af716279c can you validate again?

[2016-09-01 09:56] harshavardhana commented on #2566
isBucketExist() doesn't hold read locks anymore should be optimized to reduce these locked operations.

[2016-09-01 09:56] #2566 closed, assigned to harshavardhana

[2016-09-01 09:57] harshavardhana opened #2595 "tests: Fix all the ineffective assignments"
[code]

[2016-09-01 10:17] harshavardhana commented on #2452
Closing this ESTALE.

[2016-09-01 10:17] #2452 closed, assigned to nobody

[2016-09-01 10:18] harshavardhana commented on #2421
Thanks @brendanashworth // cc @vadmeste

[2016-09-01 10:20] harshavardhana commented on #2573
// cc @vadmeste - for more investigation.

[2016-09-01 10:22] harshavardhana commented on #2498
@krishnasrinivas  - i would think docker compose is a much nicer and better way to test distributed setup.  We can close this bug.

[code]

[2016-09-01 10:22] harshavardhana opened #2597 "docker: Document how to use docker compose and provide a sample compose yaml"
[code]

[2016-09-01 11:12] alysdal opened #2598 "Crash on ARM processor"
## Expected behaviour

I tried running Minio on my [WD EX2 NAS](http://www.anandtech.com/show/7830/western-digital-my-cloud-ex2-2bay-nas-review). It has a ARM processor so i used that build. However when I try to start it, it gives the error below
## Actual behaviour

Fatal error

[code]
## Steps to reproduce the behaviour

[code]
## Minio version
- Newest (1st Sept 2016)
## System information

[c

[2016-09-01 11:20] #2498 closed, assigned to nobody

[2016-09-01 14:17] hackintoshrao commented on #2594
Still generating `0` bytes profiles. Issue still persists.

[2016-09-01 14:52] hackintoshrao commented on #2595
Want suggestion on fixing the following `ineffassign` reports,
`/Users/hackintoshrao/mycode/go/src/github.com/minio/minio/cmd/signature-jwt.go:46:3: ineffectual assignment to expiry`

`/Users/hackintoshrao/mycode/go/src/github.com/minio/minio/cmd/xl-v1-multipart.go:382:2: ineffectual assignment to partsMetadata`

[2016-09-01 17:42] harshavardhana commented on #2598
This bug has been fixed in master we will be making a new release soon. Thanks for your bug report @alysdal

[2016-09-01 17:49] sych74 opened #2600 "Storage resources are insufficient for the write operation."
## Expected behaviour

create a bucket
## Actual behaviour

getting error
time="2016-09-01T17:24:25Z" level=error msg="Unable to create a bucket." cause="Storage resources are insufficient for the write operation.
## Steps to reproduce the behaviour

6 volumes are mounted via NFS

node88519-minio123.demo.jelastic.com:/data  /export/volume5 nfs soft,intr,udp,nolock,vers=3,rw  0   0
node88519-minio1

[2016-09-01 18:29] harshavardhana commented on #2600
Do you have write access @sych74  on these disks? can you also verify if the backend as following directories created

[code]

[2016-09-01 18:30] harshavardhana commented on #2598
Fixed by https://github.com/minio/minio/commit/c39d3db7a036cdcce44ed020e10574edb2a466a7

[2016-09-01 18:30] #2598 closed, assigned to nobody

[2016-09-01 18:55] harshavardhana commented on #2594
[code]

Not able to reproduce this with current master.

[2016-09-01 18:56] harshavardhana commented on #2577
Going to close this re-open if reproducible again.

[2016-09-01 18:56] #2577 closed, assigned to harshavardhana

[2016-09-01 19:00] harshavardhana opened #2601 "cli: Make all global flags available for reach sub-commad (like mc)"
[code]

Should also have

[code]

[2016-09-01 19:02] harshavardhana opened #2602 "cli: Add distributed server example `minio server` example template"
[code]

[2016-09-01 19:07] vadmeste commented on #2573
Looks like the reason is clear. ListObjects doesn't hold any mutex. Putting an object (actually replacing) will remove first the directory associated to the object in the backend (e.g export1/testbucket/object/) and create new one. I didn't read the code actually, I just observed the backend.

[2016-09-01 19:11] vadmeste commented on #2602
Looks like it is already existing in the distributed branch

`
6. Start minio server with 4 remote disks on all remote nodes. You need to execute the same command on all nodes
     192.168.1.11, 192.168.1.12, 192.168.1.13 and 192.168.1.14.
      $ export MINIO_ACCESS_KEY=minio
      $ export MINIO_SECRET_KEY=miniostorage
      $ minio server 192.168.1.11:/mnt/export1/backend 192.168.1.12:/mnt/expo

[2016-09-01 19:12] harshavardhana commented on #2602
oh nice. Closing

[2016-09-01 19:12] #2602 closed, assigned to vadmeste

[2016-09-01 19:21] hackintoshrao commented on #2594
Sorry was checking on distributed latest.

[2016-09-01 20:27] hackintoshrao commented on #2594
Not able to get it working in master too.

[2016-09-01 20:50] vadmeste opened #2604 "'minio version -h' crashes"
[code]

[2016-09-01 22:13] #2604 closed, assigned to vadmeste

[2016-09-01 22:13] #2601 closed, assigned to vadmeste

[2016-09-01 22:59] harshavardhana commented on #2594
This issue occurs with XL backend.

[2016-09-02 03:13] #2594 closed, assigned to harshavardhana

[2016-09-02 14:08] matm opened #2611 "docs: write a curl client quickstart guide and API reference"
## Expected behaviour

To have a curl client quickstart guide in the "Minio Client SDK" section. Also a raw HTTP API reference would be very useful (so other people can easily implement clients in different languages).

That would be a good place to document custom HTTP headers like  `X-Minio-Meta-*` :)
## Actual behaviour

No curl guide/reference in the docs.
## Steps to reproduce the behaviour

[2016-09-02 14:10] alysdal commented on #2598
Thank you for your quick reply. I really like this project.

[2016-09-02 14:16] vadmeste commented on #2591
@hackintoshrao, tests are consuming too much resources (most likely in generating random data), probably that's why minio was looking like idle

[2016-09-02 14:27] krishnasrinivas commented on #2611
@harshavardhana i think we should provide for custom headers in our client sdk putobject API?

[2016-09-02 16:18] iscy opened #2613 "Unable to use signed URL"
## Expected behaviour

Signed URLs, like these:
https://s3.amazonaws.com/bucket/the_file.jpg?AWSAccessKeyId=ACCESSKEY&Expires=1472832666&Signature=mXeDQhvsZlXw7DGUmagmlJazdyY%3D

Should be able to work until the "Expires" time is out. Right now, this returns 'access denied' as 'bucket' is private and the signed URL doesn't seem to work with minio.
## Actual behaviour

The file should be accessible

[2016-09-02 16:50] vadmeste commented on #2591
@hackintoshrao, I replaced random buffer generation (crand.Reader) with a buffer of 1Mb, 1000 parallel TestListPartiallyUploaded takes 18 seconds to finish in my laptop.

[2016-09-02 19:19] #2567 closed, assigned to krishnasrinivas

[2016-09-02 19:20] harshavardhana commented on #2613
@iscy you are using signature v2 style signed URLs. Minio only supports signature v4.

[2016-09-02 19:23] harshavardhana commented on #2591
Ah this problem we have seen this before crand.Reader

[2016-09-02 19:34] harshavardhana commented on #2613
@iscy you can use - https://docs.minio.io/docs/minio-client-complete-guide#share and also please do share your code we can help you get the signature v4 working as well.

Thanks

[2016-09-02 19:43] harshavardhana commented on #2611
Raw HTTP API reference should be same as AWS S3 HTTP API reference, we didn't want to duplicate the efforts because underneath we don't differentiate these things.

X-Amz-Meta-\* is supported and should be used instead of X-Minio-Meta-*, former is already documented by AWS S3 docs.

[2016-09-02 19:45] harshavardhana commented on #2611
This we will fix.

@krishnasrinivas we could do that will need run this down by @abperiasamy - since we wanted to enhance PutObject() to take 'http.Header' map.

[2016-09-02 20:05] harshavardhana commented on #2597
Fixed by #2606

[2016-09-02 20:05] #2597 closed, assigned to donatello

[2016-09-02 22:05] harshavardhana commented on #2591
@hackintoshrao - moved this as non bug out of milestone, please confirm @vadmeste findings.

[2016-09-02 22:06] harshavardhana commented on #2600
@sych74 were you able to verify this again on your end? - Thanks

[2016-09-02 22:07] #2595 closed, assigned to hackintoshrao

[2016-09-02 22:50] iscy commented on #2613
Thanks for the pointer. The SDK was definitely using v2 requests instead of v4. Once switched to v4, the requests made it and worked properly.

[2016-09-02 22:50] #2613 closed, assigned to nobody

[2016-09-02 22:52] harshavardhana commented on #2613
Thanks for confirming @iscy

[2016-09-03 02:39] donatello opened #2615 "[distributed] Re-uploading an interrupted upload with a different object, causes mc to fail"
## Expected behaviour

mc fails to upload to an object, if a previous attempt (with a different object) was interrupted.
## Actual behaviour

mc should upload the new object successfully.
## Steps to reproduce the behaviour
1. Upload a large file using `mc cp`, and hit `Ctrl+C` to interrupt it - (1.5 GB file in my test).
2. Upload a different file (100MB in my test) to the same object using `mc cp

[2016-09-03 04:02] koolhead17 opened #2616 "docs: Discouraging usage of X-Amz-Meta"
We need to document & educate our users not to use `X-Amz-Meta`  API request.

[2016-09-03 05:01] harshavardhana commented on #2615
@donatello  This is not a server issue.

This is returned by 'mc' when total parts previously uploaded is not same as the one being uploaded. This needs to be relaxed on the minio-go.  Can you open a bug against minio-go instead?

[2016-09-03 06:36] hackintoshrao commented on #2591
Fixing the `crand.Reader` to `bytes.Repeat` and running the tests again. Thanks @vadmeste .

[2016-09-03 06:36] #2591 closed, assigned to vadmeste

[2016-09-04 00:55] donatello commented on #2615
Ok, closing this as it is not a server issue.

[2016-09-04 00:55] #2615 closed, assigned to nobody

[2016-09-05 10:04] sych74 commented on #2600
Yes, write access was available, I created couple files manually. Also .minio.sys and format.json were present as well. I recreated a new environment from scratch and it works now, seems like a floating issue. I will play a little bit more with it and will provide feedback how it behaves.

[2016-09-05 10:55] Mattio91 opened #2619 "The remote server returned an error: (400) Bad Request"
## Expected behaviour

AWS SDK should put file to minio. But i've got bad request error.
## Actual behaviour

"The remote server returned an error: (400) Bad Request."
## My code

[code]
## System information

Windows 7

What i am doing wrong?

[2016-09-05 11:05] Mattio91 commented on #2619
Signature version was missing!
With that it worked:
s3Config.SignatureVersion = "4";

[2016-09-05 11:05] #2619 closed, assigned to nobody

[2016-09-05 11:32] Vidarls opened #2620 "Presigned url generated from amazon AWS SDK for .net does not work"
## Expected behaviour

When using amazons official .net SDK to generate a presigned url for minio, I expect that presigned url to work.
## Actual behaviour

Getting access denied, (and the generated URL is quite different from what the minio `mc.exe` tool generates.
## Steps to reproduce the behaviour

Code for simple repro:

https://gist.github.com/Vidarls/206fe2efb3b2ef93dfc33c9a891ecaf8

(Inclu

[2016-09-05 11:59] Vidarls commented on #2620
Update: Tested with official amazon CLI tool on windows. Also works as expected.

[2016-09-05 13:44] hackintoshrao commented on #2620
Update: @Vidarls validated that the it works fine with Minio .NET library, should validate with AWS .NET library.

[2016-09-05 15:54] harshavardhana commented on #2620
@Vidarls if would be easier if you could paste a sample program that was used to generate the presigned URL and also 'presignedURL' itself to look for differences.

Another thing to validate at your end is if you are using Signature V4 ? because Minio only supports Signature V4.

[2016-09-05 15:55] harshavardhana commented on #2620
My bad @Vidarls just saw the code.

[2016-09-05 16:06] harshavardhana commented on #2600
Thanks @sych74

[2016-09-05 16:11] harshavardhana commented on #2620
I am able to use the latest master here and not able to reproduce the problem

[code]

We fixed a problem related to signature issues recently and it is not part of the previously released nuget library

[code]

[2016-09-05 16:26] harshavardhana commented on #2620
Also surprisingly aws-sdk .net generates a an incompatible query string for Signature V4.

[code]

Adds two query params as 'Signature' set to AWS4-HMAC-SHA256 and another set to the actual signature value. The first two query params are related to Signature V2 based presigned request. Not sure what is really happening here though looks like a wrong presigned url generated by aws-sdk .net

There i

[2016-09-05 17:29] vadmeste commented on #2620
@Vidarls, I put this `AWSConfigsS3.UseSignatureVersion4 = true;` before any S3 initialization in the code and it worked fine (@harshavardhana suggestion didn't work for me but not sure why)

[2016-09-05 20:06] vadmeste opened #2621 "streaming-v4: need better compliance to S3"
http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-streaming.html

*) we need to require to have a last signed chunk with 0 bytes
*) check if the length of the received data is not shorter or longer than specified by headers, return the appropriate errors otherwise
*) play with standard aws libraries code to check the behavior of s3 with more edge cases

[2016-09-05 20:21] harshavardhana commented on #2620
Looks like the signature selection does not appropriately choose the signature type.

Can you paste the url generated after your change @vadmeste ?

[2016-09-05 20:24] vadmeste commented on #2620
@harshavardhana, `http://172.17.0.2:9000/testbucket/mytest2.txt?X-Amz-Expires=86400&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=VB4BHCH5QPGTZPDTOEYE/20160905/us-east-1/s3/aws4_request&X-Amz-Date=20160905T202359Z&X-Amz-SignedHeaders=host&X-Amz-Signature=bc4d33dbeaa4f0a9e54ef637c0e52d5b56a32f0bf887394c3d3f8fed25d488c0`

[2016-09-05 21:40] Vidarls commented on #2620
I can confirm that adding the `UseSignatureVersion4 = true` from @vadmeste fixed the problem. Awesome and thanx.

(@vadmeste: How did you figure this out, any links I should look at?)

//cc @harshavardhana

[2016-09-05 21:40] #2620 closed, assigned to nobody

[2016-09-05 23:42] harshavardhana commented on #2620
This is still a bug though in their implementation sign v2 shouldnt be mixed with sign v4 and generated even as a valid url.

[2016-09-06 01:29] harshavardhana commented on #2463
@vadmeste can you explore the possibility of adding TLS to rpc layer here? - i don't think right now the layer is doing that. Since the underlying net.Conn doesn't implement that.

[2016-09-06 03:38] hackintoshrao opened #2622 "Stress test: ./exec-concurrent "TestRemovePartiallyUploaded" freezes."
@harshavardhana , the new exec-concurrent test with crand dependency removed can be found here `play/rao/api_functional_v4_test.go` and `play/rao/exec-concurrent.go`
## Expected behaviour

For test to pass.
## Actual behaviour

Doesn't complete.
## Steps to reproduce the behaviour
- download the above mentioned 2 files from.
- build and run Minio XL from current master.
- build the test binary `go

[2016-09-06 03:42] harshavardhana commented on #2622
Is this still freeze with no activity ?

[2016-09-06 04:07] hackintoshrao commented on #2622
@harshavardhana : Last time I had reported `TestListPartiallyUploaded`, that worked fine after I removed crand dependency. This is a new failure, `TestRemovePartiallyUploaded`.

[2016-09-06 04:09] hackintoshrao opened #2623 "docs: Need documentation/recipie for Minio with Cloud berry client."
We've got this request several times in the channel, so it'll be good have docs for Running Cloud Berry clients with Minio using v2->v4 proxy.

[2016-09-06 08:09] vadmeste commented on #2620
@harshavardhana, also, I wonder why it is not v4 by default

@Vidarls, I found this link, http://stackoverflow.com/questions/31081153/generating-a-pre-signed-url-for-s3-object-with-kms-encryption-what-am-i-doing but the solution was outdated.

[2016-09-06 09:02] vadmeste commented on #2463
Seems not difficult to do that. One little problem is that we are registering all services lock, storage, controllers, web, .. under the same port, so either we encrypt everything, or we use new ports..

(I thought about TLS upgrade feature, but seems it is not leading to something useful with when users use browsers)

[2016-09-06 10:00] krishnasrinivas commented on #2568
The following two calls can't be combined into one:

[code]

because we do erasureCreateFile in-between them during which if we hold lock parallel uploads of parts will not be possible,

[2016-09-06 10:16] vadmeste opened #2626 "[distributed] deadlock when removing a bucket ?"
This bug is systematic, this is how to reproduce it:
1. Run distributed version with 4 nodes, each node has one disk
2. Checkout s3verify project (commit 209a7436394f8d05a9d8a2a098be1a57c54468dc)
3. s3verify quits when a critical error occurs, to make it always passes, replace test.Critical with false  in s3verify/cmd/main.go:162
4. Run s3verify check

s3verify will freeze, even mc with this comma

[2016-09-06 10:26] fwessels commented on #2568
Ok, of course we cannot have that (no parallel uploads), thanks for checking out, closing the issue.

[2016-09-06 10:26] #2568 closed, assigned to krishnasrinivas

[2016-09-06 13:25] vadmeste commented on #2626
[code]

[2016-09-06 13:57] hackintoshrao commented on #2208
Even reconstructing the entire XLMetaV1{} using `gjson` is faster than one time `unmarshal`, Here is the benchmark to prove it https://gist.github.com/hackintoshrao/20bb29c8d290c32c7009dcb3a4600e48. Will draft a first version of change with `readAllXLMeta` returning `xlMetaV1{}` constructed using `gjson`, @vadmeste  can run the same test and see if there's any performance gain.

[2016-09-06 18:40] harshavardhana commented on #2208
Can you paste the benchmarks on how faster ?  I mean the output.

[2016-09-06 18:42] harshavardhana commented on #2626
@vadmeste this is fixed in master can you cherry pick that and test against distributed.

[2016-09-06 19:28] harshavardhana commented on #2626
@vadmeste

[code]

[2016-09-06 19:45] koolhead17 opened #2628 "UI: Minio server should provide additional logging information for notification service configuration backend."
## Expected behaviour

Minio should provide additional logging information about backend notification consumer services. If backend server like AMQP, Redis or Elasticsearch goes down & bucket notification configured to use them. It will be good to get a verbose output.
## Actual behaviour

Not able to identify what is incorrect, configuration, connection.
## Steps to reproduce the behaviour

Enabl

[2016-09-06 19:46] vadmeste commented on #2626
@harshavardhana, successfully tested with your commit, closing this..

[2016-09-06 19:46] #2626 closed, assigned to harshavardhana

[2016-09-06 19:50] donatello opened #2629 "[distributed] Writer starvation when readers are always present"
## Expected behaviour

An attempt to PutObject when others are executing GetObject on the same object should succeed in a reasonable amount of time.
## Actual behaviour

A PutObject in the presence of multiple GetObject on the same object, stalls indefinitely.
## Steps to reproduce the behaviour

Run minio in distributed mode (used creds as accessKey = "abcd1" and secretKey = "abcd1234") and uploa

[2016-09-06 22:32] danielboros opened #2630 "Minio returns an error code when deleting a non-existent object through DeleteMultiObjects API"
Hello, we use Minio as a replacement for S3 during development. This behavior cropped up when we ran an existing unit test against Minio. When deleting an object that doesn't exist, we normally expect to receive no error code. It seems as though Minio's response provides an error code (`NoSuchKey`) which causes an exception in the Java SDK.

As an aside... I took a look at the code and it doesn't

[2016-09-06 22:42] donatello commented on #2629
In fs mode, the lock library - sync.RWMutex's Lock() call semantics is that, when a Lock() call (for write) is blocked, waiting for other readers to finish, it disallows new readers from acquiring the lock - https://golang.org/pkg/sync/#RWMutex - however this does not appear to be the case in the distributed version. Thus, the starvation bug I believe.

[2016-09-06 23:12] harshavardhana commented on #2630
@danielboros for that minio server implements DeleteMultipleObjects - http://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html

The code you are looking at is DeleteObject() which does only single object delete. Can you show us an example code?

[2016-09-07 00:53] harshavardhana commented on #2622
@hackintoshrao do you have the setup handy?

[2016-09-07 01:40] harshavardhana commented on #2622
There is a bug in the `api_functional_v4_test.go`  you need to seek back the reader, otherwise the io.Pipe() was hung indefinitely not the server.

[code]

Please validate this on your end copies are available at 'mc ls play/harsha'

[2016-09-07 01:41] harshavardhana commented on #2622
Remove bug and milestone from this, since this is not a bug at this moment.

[2016-09-07 02:13] hackintoshrao commented on #2208
BenchmarkParseAllGJSON\* - Benchamark for constructing XLV1Meta{} from `gjson`.
BenchmarkParseAllUnMarshal\* - Benchmark with fields obtained from  `json.unmarshal`.

[code]

[2016-09-07 02:45] hackintoshrao commented on #2622
Yes, it works with the change . Thanks. Closing the issue, will run the other remaining tests and report of there are any issues. This tool has been really handy, A tool for bombarding each end point with `n` concurrent requests and verify the response will be a handy tool to build.

[2016-09-07 02:45] #2622 closed, assigned to hackintoshrao

[2016-09-07 03:05] harshavardhana commented on #2334
@ramondeklein have you been able to validate the new changes?

[2016-09-07 03:45] mvanveen commented on #2541
Hi I downloaded version `2016-08-21T02:44:47Z` today from the website and am running into this issue.  Is the workaround to just build from `master`?

Here's a trace:

[code]

[2016-09-07 03:49] krishnasrinivas commented on #2541
@mvanveen yes, till the next release is made you can build from master

[2016-09-07 04:47] harshavardhana commented on #2600
@sych74 checking back to see how things are moving - feel free to ping us on gitter or reach out directly @harshavardhana .

Saw the integration effort here https://github.com/jelastic-jps/minio :+1:

[2016-09-07 07:13] fwessels commented on #2629
The assumption is correct, the initial version of DRWMutex that worked on the client side favored Write behaviour over Read behaviour (like RWMutex).

However now that the logic has moved to the server side this is no longer the case and all locks have the same chance of success.

With DRWMutex (as implemented on the server) itself you cannot solve this, you can probably solve it on the client sid

[2016-09-07 08:46] harshavardhana commented on #2489
This is fixed on the distributed branch.

[code]

[2016-09-07 08:46] #2489 closed, assigned to harshavardhana

[2016-09-07 10:10] mvalitov opened #2632 "working with elixir (ExAws)"
I'm trying to set up job minio with the elixir(ExAws module). But I can not be authorized, even by "mc" everything works fine. I compared the trace using the mc and ExAws:
with mc:

[code]

and answer:
`HTTP/1.1 200 OK`

with ExAws:

[code]

and answer:
`HTTP/1.1 403 Forbidden`

Hence the question, it is a problem "exaws" or "minio"? because with amazon s3 ExAws works correctly
## Minio version

V

[2016-09-07 10:47] sych74 commented on #2600
So, we have automated installation process to Jelastic, now it's as easy as a click. However, we faced some issues with NFS support. The topology of the environment is the following: 1 minio server container + 6 data containers with NFS servers that are mounted to minio server.  If we shutdown one or two of the data containers we get strange errors like these _input/output error_,  _bucket not fou

[2016-09-07 12:00] krishnasrinivas commented on #2632
with ExAws I see:
`[truncated]Authorization: AWS4-HMAC-SHA256 Credential=YON8M7WRT9X3CC36N4DK/20160907/us-east-1/s3/aws4_request,SignedHeaders=content-length;host;x-amz-content-sha256;x-amz-date,Signature=38f07b5ca677e937cd444d5ea335f49f8dd2f04a86512a78ad9c`

i.e no `\r\n` at the end and `[truncated]` in the beginning which is odd

can you do `nc -l 9000` on  `192.168.1.29` and then execute the ex

[2016-09-07 12:27] krishnasrinivas commented on #2632
this would be a harmless warning by the dump tool you are using.

Also `content-length` should not be signed according to AWS docs, but even if it is signed it works with minio (as well as aws) so the issue must be something else.

[2016-09-07 12:59] krishnasrinivas commented on #2632
@MarsonV can you post your elixir script here?

[2016-09-07 13:19] mvalitov commented on #2632
Oh sure. Only it's not quite Elixir, a project on Phoenix framework. Simple project https://MarsonV@bitbucket.org/MarsonV/phoenix_minio.git

[2016-09-07 13:24] krishnasrinivas commented on #2600
@sych74

[code]

According to this the minio server is accessing the same nfs backend `node88519-minio123.demo.jelastic.com:/data` for all it's drives, this will be an incorrect configuration.

Is that how it is setup? If `/export/volume<number>` shares the same backend then the erasure file will overwrite each other causing corruption.

[2016-09-07 13:59] sych74 commented on #2600
@krishnasrinivas thanks, good catch, that cut was from first experiments. The latest one is

[code]

The errors from my previous message appeared with this config as well.

[2016-09-07 14:38] sych74 commented on #2600
There are bit more details and steps to reproduce - create buckets and upload files during the failure simulation
1. shutdown 1st container - Minio is working fine
2. shutdown 2nd - input/output errors at the beginning, a little bit later seems like no errors
3. shutdown 3nd - storage resources are insufficient for the write operation
4. bringing back 1st - checking write access - ok, but the same

[2016-09-07 16:11] danielboros commented on #2630
@harshavardhana
Hello, here's some Java code that will fail every time:

[code]

... and the corresponding JUnit test:

[code]

[2016-09-07 16:29] krishnasrinivas commented on #2630
@danielboros
http://docs.aws.amazon.com/AmazonS3/latest/dev/DeletingMultipleObjectsUsingJava.html
says:

[code]

Hence the exception is raised.

If you use `s3Client.deleteObject()` instead of `s3Client.deleteObjects()` you will not see the exception even if the object did not exist

[2016-09-07 16:35] danielboros commented on #2630
@krishnasrinivas
`s3Client.deleteObjects(...)` will not raise an exception when deleting objects that DNE on AWS S3. Just wondering what your thoughts are on that? Our code can account for both cases but my understanding is that Minio is supposed to be in parity with the canonical implementation.

[2016-09-07 16:41] krishnasrinivas commented on #2630
http://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html says:
`Note that, if the object specified in the request is not found, Amazon S3 returns the result as deleted.`

So indeed it is not an error. We will fix this, thanks for reporting @danielboros

[2016-09-07 16:44] danielboros commented on #2630
@krishnasrinivas
No problem! Thanks. :bow:

[2016-09-07 17:14] krishnasrinivas commented on #2630
@danielboros :bow: :pray:

[2016-09-07 18:49] #2630 closed, assigned to harshavardhana

[2016-09-07 18:53] koolhead17 opened #2634 "tests: Validate minio server with skewed times on different machines."
We need to test and find if Minio distributed release is dependent on NTP server for time synchronization among all the nodes.

[2016-09-07 20:03] danielboros commented on #2630
Built and tested locally. Looks good. :+1:

[2016-09-07 20:12] harshavardhana commented on #2630
Thanks @danielboros

[2016-09-08 01:13] harshavardhana commented on #2507
ping @hackintoshrao were you able to reproduce this?

[2016-09-08 01:27] harshavardhana commented on #2312
https://codecov.io/gh/minio/minio/src/master/cmd/xl-v1-utils.go - only remaining code coverage needed is for

[code]

[2016-09-08 01:30] hackintoshrao commented on #2507
I couldn't reproduce this at all. So was thinking of a way to keep track of open FD's across the system.

[2016-09-08 01:35] harshavardhana commented on #2415
Will be fixed in #2412

[2016-09-08 01:35] #2415 closed, assigned to hackintoshrao

[2016-09-08 01:37] harshavardhana commented on #2416
Can you add tests for these -cases ://codecov.io/gh/minio/minio/src/385543ebe06ca191cd1af1233f56a3a9dffedd0e/cmd/format-config-v1.go @vadmeste

[2016-09-08 01:46] #2421 closed, assigned to vadmeste

[2016-09-08 01:47] #2422 closed, assigned to vadmeste

[2016-09-08 02:12] donatello opened #2636 "[distributed] If a minio instance serving a PUT request goes down, in certain cases the same PUT request cannot be retried later"
## Expected behaviour

If a Minio server goes down when it is serving a PUT request, the request should be retry-able on another Minio server in the cluster.
## Actual behaviour

As in title.
## Steps to reproduce the behaviour

**Not reproduced currently**, but I am trying to do it. As per my understanding, if the Minio server goes down while holding a lock on the object being PUT, the lock canno

[2016-09-08 10:18] vadmeste opened #2638 "Implement "Request is not yet valid" error"
This error is returned at least with this specific case: changing the date of the local machine to one day later, then generating a presigned get url. The server should return this:

[code]

Isn't X-Amz-Date format in the error above strange?

[2016-09-08 11:46] matthanley opened #2639 "Large files fail to upload: malformed HTTP status code "html>""
Large files fail to upload - below is the error from a ~17GB upload via `mc copy`. The upload reaches 100% but then exits with an error.
## Expected behaviour

File uploads correctly.
## Actual behaviour

[code]
## Steps to reproduce the behaviour
- Create a large file (~20GB)
- `mc copy file dest/bucket/`
## Minio version

docker minio/minio:latest
## System information

Docker + HAProxy SSL term

[2016-09-08 12:39] fwessels commented on #2636
I guess not easy to reproduce indeed...

Situations like these should be fixed when we have a "stale lock" detection/clearing mechanism in dsync. Work is on going to come up with a good strategy.

[2016-09-08 16:02] krishnasrinivas commented on #2639
@matthanley does it work for smaller files? like 100MB?

[2016-09-08 17:22] matthanley commented on #2639
It does - I can successfully copy `debian-8.1.0-amd64-netinst.iso` at 247MB with no problems. I am having issues pushing a 212MB docker image into minio via Gitlab's docker registry but that may be an unrelated issue.

[2016-09-08 17:27] harshavardhana commented on #2639
The problem related to large file uploads FS waits for a longer period of time since it does concatenation in background.

Another important issue we recently fixed is related to timeouts so here completemultipart upload perhaps has timedout after 10mins.

Can you try 'docker minio/minio:edge'  and confirm? - thanks

[2016-09-08 17:29] harshavardhana commented on #2638
Yes it is they are replying back Unix timestamp which is weird.  Well we are aware that S3 is inconsistent by now ;-)

[2016-09-08 18:25] matthanley opened #2640 "Multipart uploads failing with 404 errors"
## Expected behaviour

Multipart uploads accepted and stored.
## Actual behaviour

Uploads are failing with `404` response codes.

From HAProxy logs, the server is accepting multipart uploads to a point (not always the same point) and then failing with a `404` response part way through. This is the log file from doing `docker push` via Gitlab's docker registry using a Minio backend:

[code]

`part

[2016-09-08 18:33] koolhead17 commented on #2623
Moved it to Cookbook https://github.com/minio/cookbook/issues/83 , we can close it here.

[2016-09-08 18:34] harshavardhana commented on #2640
Do you have detailed instructions on how we can reproduce this ourselves? @matthanley

[2016-09-08 18:44] matthanley commented on #2640
I've actually just realised this was me being stupid; I'm running minio on two hosts on top of glusterfs with haproxy doing SSL and load balancing. The issue was having `balance roundrobin` in haproxy - as far as I can see the next request is being sent to a different server faster than the gluster replication latency, so the previous part doesn't actually exist on the server that receives the nex

[2016-09-08 18:44] #2640 closed, assigned to harshavardhana

[2016-09-08 18:47] harshavardhana commented on #2640
Ah nice, btw if you have time to document this setup and submit a PR  - https://github.com/minio/cookbook - Happy Hacking :-)

[2016-09-08 18:48] harshavardhana commented on #2623
Closing..

[2016-09-08 18:48] #2623 closed, assigned to koolhead17

[2016-09-08 18:54] matthanley commented on #2639
This may also be related to #2640 if the client is using multipart uploads. I have also been having issues with timeouts after 10 mins for downloads so have switched to `:edge` and retesting now. I'll retest the upload via `mc` again tomorrow on `:edge` and with #2640 fixed.

[2016-09-08 18:55] krishnasrinivas commented on #2640
@matthanley note that two minio servers should not share the same backend unless the access is readonly. Minio-FS (exporting single export) uses in memory locks, hence if two minio instances share the same backend there can be race conditions.

[2016-09-08 18:55] harshavardhana commented on #2639
Cool thanks @matthanley

[2016-09-08 18:58] matthanley commented on #2640
Thanks, I'll have to look into whether I can split the requests from HAProxy based on the HTTP verb of the request to deal with read/write. Otherwise I can just run them in active/passive instead of balanced.

For my purposes at the moment having `balance source` should provide enough of a split to prevent client collisions.

[2016-09-08 19:02] krishnasrinivas commented on #2640
Even in this case read and write can race which can cause unintended consequences. For example one minio server over-writes to a file which is read by the other minio server - the minio server that is reading can get contents from two versions of the file.

[2016-09-08 19:04] vadmeste commented on #2416
@harshavardhana, codecov.io is hard with us :)

Since the only remaining code not covered are when errors occur (disk not found, etc..), I guess I will write something similar to faulty disks which returns programmed errors, like:

`disk = FaultyDisk{Errors: []DiskError{NoError, NoError, DiskNotFound, ..}, ...}`

What do you think?

[2016-09-08 19:08] matthanley commented on #2640
A valid point; my primary use case is storing docker images so I'm not likely to hit that condition but something to keep in mind. It would be interesting to see how the gluster layer would help mitigate this (if at all) as I'm not accessing the _same_ backend, rather different backends which are replicated. Unfortunately I don't know enough about the specifics of gluster replication, but I do kno

[2016-09-08 19:15] harshavardhana commented on #2416
Yes that would make sense.

[2016-09-08 19:28] harshavardhana commented on #2640
It would be easier to see the setup here @matthanley so that we can make valid recommendations.

[2016-09-08 20:00] krishnasrinivas commented on #2632
golang takes out content-length from req.headers and it is available as req.ContentLength

@harshavardhana what do we do? be flexible like aws-s3 or adhere to standards and not include content-length for signature calculation?

[2016-09-08 20:14] harshavardhana commented on #2632
This we might have to keep it because it might cause problems for many such apps.

They shouldn't take it out since there is no reason it is not correct for Golang to change client sent headers. They did this previously with 'Expect' header which has been fixed subsequently.

As a work-around we can add "req.Header()" ourselves before doing signature calculation and mention it. (We have to not add

[2016-09-08 20:22] olalonde opened #2642 ""authorization mechanism you have provided is not supported" error with aws-sdk JavaScript client"
I'm trying to use minio with a Javascript library that uses the official aws-sdk Javascript library (https://github.com/aws/aws-sdk-js/).

I instantiate the client like this:

[code]

with the following variables (I'm running minio locally with docker-compose):

[code]

The minio server responds with the following error message:

[code]

[2016-09-08 20:26] harshavardhana commented on #2642
@olalonde you need to use Signature V4 with Minio server.  Minio server does not support Signature v2.

[code]

[2016-09-08 20:27] olalonde commented on #2642
Thanks, that worked.

[2016-09-08 20:27] #2642 closed, assigned to koolhead17

[2016-09-09 03:43] harshavardhana commented on #2600
@sych74  we will take a look, can you arrange access? - Thanks.

[2016-09-09 03:46] harshavardhana commented on #2600
Do you know the commit-id which you are using here "minio version" can help?  - these errors look like some sort of backend corruption i.e "format.json"

We would need to see why this is happening,  providing us access would be great. We can also setup a local cluster to test these functionalities - is there easier way?

[2016-09-09 07:11] harshavardhana commented on #2208
This issue is now closed by #2631

[2016-09-09 07:11] #2208 closed, assigned to hackintoshrao

[2016-09-09 08:06] krishnasrinivas commented on #2632
There is another issue: https://github.com/CargoSense/ex_aws/issues/213

[2016-09-09 08:16] krishnasrinivas commented on #2632
https://github.com/minio/minio/pull/2643 fixes the content-length issue

[2016-09-09 14:34] brackxm opened #2647 "s3 list objects v2 owner"
## Expected behaviour

AWS S3 does not return the object owner with list objects v2
## Actual behaviour

minio returns the object owner with list objects v2
## Minio version

Version: 2016-08-21T02:44:47Z
Release-Tag: RELEASE.2016-08-21T02-44-47Z
Commit-ID: 975eb319730c8db093b4744bf9e012356d61eef2

[2016-09-09 15:40] vadmeste commented on #2647
Thanks @brackxm.

@harshavardhana, we can set `fetch-owner` query to true in ListObjectV2 to retrieve owner information by default when calling our API.

[2016-09-09 15:47] vadmeste commented on #2647
oups, this is minio and not minio-go. Anyway, there is a new option fetch-owner in list-object-v2 which, only when set to true, returns owner information

[2016-09-09 16:57] sych74 commented on #2600
I deployed docker minio/minio:latest, can you provide a hint how to check which commit-id I'm using?

As regards access, please provide you email I will setup an account for you at the demo lab, and will share the broken env. Also you will be able to create new envs and check how it works independently, the provisioning script is fully automated now, so it should be easy.

[2016-09-09 17:16] harshavardhana commented on #2600
Yeah you can send email to dev < a > minio.io - thanks for your patience.

[2016-09-09 17:19] harshavardhana commented on #2647
I think i remember reading that - lets fix it. :+1:

[2016-09-09 18:09] krishnasrinivas commented on #2632
@MarsonV you can check with master branch of both minio and ex_aws. You can close the bug if it works fine.

[2016-09-10 03:35] koolhead17 opened #2651 "Minio should provide Informative error output for better debugging."
Minio should provide more informative error output, it will make debugging easier.

[code]

An example above. I am using Minio, but error mentions S3.

[2016-09-10 05:44] harshavardhana commented on #2651
This is not 'minio' bug can you open this on 'mc' ?? @koolhead17

[2016-09-10 05:44] #2651 closed, assigned to nobody

[2016-09-10 05:52] harshavardhana commented on #2639
Is this still a problem @matthanley ?

[2016-09-10 07:38] #2638 closed, assigned to vadmeste

[2016-09-10 08:26] harshavardhana opened #2652 "[distributed] server: Startup message should print about capacity and erasure information."

[2016-09-10 08:28] harshavardhana commented on #2634
@hackintoshrao - we need to test various conditions here basically setting system time
- forward
- backward

  After setting these values and access the server using 'mc' from a node which has proper time, see how many operations fail or what kind of operations fail. Just to see if we do indeed fail with required error messages.

[2016-09-10 09:04] hackintoshrao commented on #2634
Ok, got it now.

[2016-09-10 09:23] #2628 closed, assigned to harshavardhana

[2016-09-10 09:25] harshavardhana commented on #2600
@sych74 checking back to see if you were able to setup an account on your demo lab ? - Thanks.

[2016-09-10 17:00] kevinsimper commented on #1159
I was wondering the same, but I am a little confused how disk failure is the same clustering? If that single minio disappears then you can't get your files until it comes online again, but the idea behind  S3 is that the data is replicated behind the scenes.

[2016-09-10 17:15] koolhead17 commented on #1159
@kevinsimper minio distributed version implements erasure code to protect data even when N/2 disks fail, your cluster is up and working. More on [https://docs.minio.io/docs/minio-erasure-code-quickstart-guide](https://docs.minio.io/docs/minio-erasure-code-quickstart-guide)

For standalone Minio server one can simply use `mc mirror command`  with `--watch` to another minio server, so in real time y

[2016-09-10 17:44] #2647 closed, assigned to vadmeste

[2016-09-10 17:46] harshavardhana commented on #2632
@MarsonV closing this issue as fixed, please re-open if issue persists.

[2016-09-11 02:51] harshavardhana opened #2658 "[distributed] tests: New tests needs to be added for auth-handler.go"
Visit https://codecov.io/gh/minio/minio/src/8acf4d112a01f3071d008ae3bc559e2ec40a6dee/cmd/auth-handler.go

For more awareness.

[2016-09-11 02:54] harshavardhana opened #2659 "[distributed] tests: Add tests for config migration code"
https://codecov.io/gh/minio/minio/src/8acf4d112a01f3071d008ae3bc559e2ec40a6dee/cmd/config-migrate.go

For more awareness.

[2016-09-11 02:55] harshavardhana opened #2660 "[distributed] tests: Implement pending tests for handler-utils.go"
https://codecov.io/gh/minio/minio/src/8acf4d112a01f3071d008ae3bc559e2ec40a6dee/cmd/handler-utils.go - for more awareness.

[2016-09-11 02:58] harshavardhana opened #2661 "[distributed] tests: Implement tests for ratelimit handler."
https://codecov.io/gh/minio/minio/src/8acf4d112a01f3071d008ae3bc559e2ec40a6dee/cmd/rate-limit-handler.go  - for more awareness.

[2016-09-11 03:00] harshavardhana opened #2662 "[distributed] tests: Improve tests for signature-verify-reader.go"
https://codecov.io/gh/minio/minio/src/8acf4d112a01f3071d008ae3bc559e2ec40a6dee/cmd/signature-verify-reader.go

[2016-09-11 03:01] harshavardhana opened #2663 "[distributed] tests: Implement tests for server-main.go"
https://codecov.io/gh/minio/minio/src/8acf4d112a01f3071d008ae3bc559e2ec40a6dee/cmd/server-main.go - for more awareness.

[2016-09-11 03:03] harshavardhana opened #2664 "[distrbuted] tests: Currently web-handler tests are at 46% improve it further"
https://codecov.io/gh/minio/minio/src/8acf4d112a01f3071d008ae3bc559e2ec40a6dee/cmd/web-handlers.go - for more awareness.

[2016-09-11 03:05] harshavardhana opened #2665 "[distributed] tests: Implement missing tests for list-objects-heal.go"
https://codecov.io/gh/minio/minio/src/8acf4d112a01f3071d008ae3bc559e2ec40a6dee/cmd/xl-v1-list-objects-heal.go - for more awareness.

[2016-09-11 09:02] sych74 commented on #2600
@harshavardhana, I sent registration and sharing environment requests. Please check it and let me know if see environment Minio (env-9340451.demo.jelastic.com) in your dashboard. After that you can check the logs via UI https://docs.jelastic.com/view-log-files (you need to check run.log) or using ssh access (https://docs.jelastic.com/ssh-access). Please let me know if you are able to perform such

[2016-09-11 11:42] iamchathu opened #2667 "Error using minio as s3 replacement"
## Expected behaviour

I have a NodeJS app which uses Amazon S3 as file storage. I started tring minio.
So I changed AWS S3's endpoint had many tries.

This the final code I ended in :

[code]

Now I'm getting an error

[code]
## Minio version
- 2016-08-21T02:44:47Z
## System information

Minio Hosted in Windows 8.1 64 bit
NodeJS app running on Mac OS 10.9

[2016-09-11 14:01] mvalitov commented on #2632
Thank you! everything is working!

[2016-09-11 16:15] koolhead17 commented on #2667
hello @iamchathu can you try this and let us know what are you getting?

[code]

[2016-09-11 17:20] harshavardhana commented on #2667
what is the operation did you peform? can you paste the whole code?

[2016-09-11 18:37] iamchathu commented on #2667
I'm using multer-s3 and I performed upload file.

[2016-09-11 18:52] harshavardhana commented on #2667
Can you paste the whole code - we will use that to reproduce this issue locally? - thanks

[2016-09-11 18:58] hackintoshrao opened #2669 "[distributed]: Tests for DeleteObject handler."
Need tests for delete object handler, from `object-handler-tests`.

[2016-09-11 18:58] iamchathu commented on #2667
[code]

I'm using
"multer": "^1.2.0",
"multer-s3": "^2.3.2"

Then is use about uploadStorage as

[code]

[2016-09-11 19:04] hackintoshrao opened #2670 "[distributed]: Tests for PutObjectPart Handler."
Need tests for `PutObjectPart`  handler  from object-handler-tests.

[2016-09-11 19:05] hackintoshrao opened #2671 "[distributed]: Tests for Complete Multipart object Handler."
Need tests for Complete Multipart  handler from object-handler-tests.

[2016-09-11 19:07] hackintoshrao opened #2672 "[distributed]: Tests for List Multipart Handler."
Need tests for List Multipart handler tests from object-handler-tests.

[2016-09-11 19:21] harshavardhana commented on #2667
Perfect thanks a lot @iamchathu

[2016-09-11 20:14] krishnasrinivas commented on #2667
@iamchathu can you comment out the following lines and check:

[code]

if it does not work, do the following and check:

[code]

[2016-09-11 20:16] krishnasrinivas commented on #2667
`acl: 'public-read',`

Note that minio does not support acls for objects instead it supports bucket policies:
https://docs.minio.io/docs/minio-client-complete-guide#policy

[2016-09-11 20:32] iamchathu commented on #2667
@krishnasrinivas

I commented

[code]

and

[code]

And updated uncommenting ap-southeast-1 to us-east-1 but still the error stays same.

[2016-09-11 20:40] harshavardhana commented on #2667
We are validating this locally @iamchathu

[2016-09-11 20:42] iamchathu commented on #2667
@harshavardhana Thank you

[2016-09-12 00:51] donatello commented on #2667
@iamchathu - It appears that your error may be due to a bug in `multer` or `multer-s3`.

Based on your code, I tried the following:

[code]

When I run it:

[code]

My Minio local instance has just one bucket named photos. So the above output is correct.

The `express` webserver is listening on port 3000 - so now I try a curl:

[code]

This is most likely the same error that you were seeing.
It ap

[2016-09-12 00:55] harshavardhana commented on #2672
ping @hackintoshrao - which one you are working on .. so that these bugs can be assigned properly.

[2016-09-12 00:55] harshavardhana commented on #2671
ping @hackintoshrao - which one you are working on .. so that these bugs can be assigned properly.

[2016-09-12 00:55] harshavardhana commented on #2670
ping @hackintoshrao - which one you are working on .. so that these bugs can be assigned properly.

[2016-09-12 00:55] harshavardhana commented on #2669
ping @hackintoshrao - which one you are working on .. so that these bugs can be assigned properly.

[2016-09-12 04:49] hackintoshrao opened #2673 "Data race when server stopped with Ctrl + C."
## Expected behaviour

No race when server is shutdown.
## Actual behaviour

[code]
## Steps to reproduce the behaviour
- Build the binary with race detection enabled
- Start the server.
- Shutdown the server with Ctrl + C .
  ## Minio version
- (paste output of `minio version`)
  Latest master at 85e2d886bcb005d49f3876d6849a2b5a55e03cd3 .
  ## System information
  Minio 2 server.

[2016-09-12 06:53] hackintoshrao commented on #2445
`Memory profiles for Minio build with Go 1.6 and Go 1.7 under 200 parallel reads of 1GB object from aws-cli.`
- With Go 1.7
  [s3200get-go-new.pdf](https://github.com/minio/minio/files/466676/s3200get-go-new.pdf)
- With Go 1.6
  [s3200get-go-old.pdf](https://github.com/minio/minio/files/466677/s3200get-go-old.pdf)
- Its very clear that GC has become super efficient in Go 1.7 compared to Go 1.6.
-

[2016-09-12 06:59] hackintoshrao commented on #2445
I think this test is good enough to understand the difference, this can be closed now. The primary focus was to understand difference in GC behavior, its clear from the above test.

[2016-09-12 07:01] #2445 closed, assigned to hackintoshrao

[2016-09-12 07:03] hackintoshrao commented on #2419
Specific issues are opened for each tests, closing this.

[2016-09-12 07:03] #2419 closed, assigned to hackintoshrao

[2016-09-12 07:08] hackintoshrao opened #2674 "[distributed] : Move to Go 1.7.x as default for distributed build."
- With GC benefits being very clear from the load tests here https://github.com/minio/minio/issues/2445 , enforce go 1.7.x for builds.

[2016-09-12 07:13] harshavardhana commented on #2600
@sych74 i have not been able to load "http://app.demo.jelastic.com/" on my end perhaps some network issue.

[2016-09-12 08:19] sych74 commented on #2600
@harshavardhana as I see dev@ account has one environment, is the network issue still present?

[2016-09-12 08:32] krishnasrinivas commented on #2600
@sych74 we are able to see the dashboard, looking at the issue.

[2016-09-12 10:31] hackintoshrao opened #2675 "`go vet` crash with version 1.7.1."
## Expected behaviour

`go vet` check to run gracefully.
## Actual behaviour

[code]
## Steps to reproduce the behaviour

From the root of the repo run `go tool vet -all ./cmd` with go 1.7.1 .
## Minio version

Latest master at 85e2d886bcb005d49f3876d6849a2b5a55e03cd3 .
## System information

OSX ElCapitan.

[2016-09-12 15:21] hackintoshrao commented on #2675
Closing it following the discussion at https://github.com/golang/go/issues/17072 . Need to clean the `GOPATH/pkg` and run again.

[2016-09-12 15:21] #2675 closed, assigned to nobody

[2016-09-12 17:03] krishnasrinivas opened #2677 "docker: Minio version output should be similar to binary released versions"
For minio compiled by source:

[code]

Here it will be good to have a valid Commit-ID instead of `DEVELOPMENT.GOGET` so that it is easy to see know what is in the binary.

[2016-09-12 18:34] harshavardhana commented on #2677
The problem is we can't add commit-id with 'go install' otherwise will will have to update build-constants.go upon each commit.  You have to pass these values using `--ldflags`.

The best way is always use 'make' to install the binary.

[2016-09-12 18:37] harshavardhana commented on #2677
In-case you are wondering this about docker showing then its a bug and should be fixed. We know how to  pass these values and we should properly.

[2016-09-12 20:48] donatello opened #2678 "ServeHTTP Rate-limit bug in acquire()"
In [rate-limit-handler.go](https://github.com/minio/minio/blob/master/cmd/rate-limit-handler.go) (at this time of writing), there is a function `acquire()`, intended to allow at most `globalMaxConn` connections to be processed simultaneously, and to limit the number of waiting connections to `globalMaxConn*4`:

[code]

Consider the scenario, that `globalMaxConn = 1`, and `len(c.waitQueue) == 3`. N

[2016-09-12 20:53] krishnasrinivas commented on #2600
@sych74
- we were getting data corruption issues with the setup, but once nfs mount was done using tcp instead of udp, it worked fine (all the data containers were up)
- minio has not been tested with NFS backends.
- when an NFS server is down, operations on the mount point will take long time to return IO error causing the process to stall.
- unfsd is generally not advisable for production deploy

[2016-09-12 20:54] donatello commented on #2661
Waiting for resolution of https://github.com/minio/minio/issues/2678

[2016-09-12 20:57] krishnasrinivas commented on #2600
@sych74 jelastic is super cool! SSH access makes debugging the setup very convenient.

[2016-09-12 21:06] krishnasrinivas commented on #2677
It's ok then, because `go get` will be preferable way to install than make.

I see.

[2016-09-12 21:14] harshavardhana commented on #2661
Can you send a PR with the fix you mentioned.. #2678

[2016-09-12 21:45] donatello commented on #2678
PR to resolve this - https://github.com/minio/minio/pull/2679

[2016-09-12 22:53] #2678 closed, assigned to nobody

[2016-09-13 04:00] harshavardhana commented on #2639
@matthanley will close this for now, please re-open if the issue persists.

[2016-09-13 04:00] #2639 closed, assigned to harshavardhana

[2016-09-13 04:02] harshavardhana commented on #2334
We made a new release, closing this bug.

[2016-09-13 04:02] #2334 closed, assigned to krishnasrinivas

[2016-09-13 08:39] sych74 commented on #2600
@krishnasrinivas, thanks for the quick feedback.
1. how to deploy XL via docker? I guess it's the same docker image and the same latest tag, right?
2. should I just adjust run cmd by replacing this line `/export/volume0 /export/volume1 /export/volume2 /export/volume3 /export/volume4 /export/volume5` to this `server1:/data server2:/data ..... server6:/data` or these arguments are additional?

Thank

[2016-09-13 09:53] harshavardhana commented on #2600
@sych74 you would have to do

[code]

A simple docker-compose example shed some light here - https://github.com/minio/minio/blob/distributed/docker-compose.yml

Distributed branch will be merged to master soon so you would be able to build a docker image to test this properly.

[2016-09-13 09:55] harshavardhana commented on #2600
Right now we don't have a docker image with distributed branch as soon the master merge completes we will have it as 'docker minio/minio:edge'

[2016-09-13 10:26] #2677 closed, assigned to harshavardhana

[2016-09-13 10:51] sych74 commented on #2600
btw, if I lose one server (hw failure) and add a new one empty, will it sync up all data or stay as is?

[2016-09-13 12:05] vadmeste commented on #2678
Thanks @donatello

[2016-09-13 13:13] krishnasrinivas opened #2681 "[distributed] minio panic during init for sqsARNs"
when printServerCommonMsg() is called, `globalEventNotifier` will still be `nil`

[code]

[2016-09-13 15:28] zet4 commented on #2574
Any update on this? Really want to try out the distributed mode but no idea how to use it.

[2016-09-13 15:40] sych74 commented on #2600
I build a docker image from distributed branch, here is the error I get now
`+ exec app server --address :80 minio_1:/export minio_2:/export minio_3:/export minio_4:/export time="2016-09-13T15:36:51Z" level=fatal msg="Unable to intialize object layer." cause="dial tcp: missing port in address minio_1"
`

my run cmd

`go-wrapper run server --address :80 minio_1:/export minio_2:/export minio_3:/expo

[2016-09-13 17:54] krishnasrinivas opened #2685 "[distributed] get-bucket-location hangs when N/2 servers are down"
- start 3:3 minio distributed XL
- copy a file into a bucket
- bring down 3 minio instances
- mc cat on the copied file hangs

This is the call that hangs:

[code]

[2016-09-13 17:54] harshavardhana commented on #2600
Can you run with a different port instead? - i think there is a bug.

[2016-09-13 17:55] harshavardhana commented on #2600
It won't automatically sync up you would have to run "minio control heal" manually, new objects would be created with the new disk btw.

[2016-09-13 17:56] harshavardhana commented on #2685
@krishnasrinivas Locks are not granted with 3 servers going down this needs to be handled at dsync.  Dsync requires N/2+1 to be up to have a guarantee on locks.

[2016-09-13 17:56] harshavardhana commented on #2685
@krisis can you fill in ?

[2016-09-13 17:57] harshavardhana commented on #2681
@krishnasrinivas is this distributed branch?

[2016-09-13 18:01] #2681 closed, assigned to krishnasrinivas

[2016-09-13 18:03] harshavardhana commented on #2574
It is currently in a separate branch, we will be merging it soon.

[2016-09-13 18:39] krisis commented on #2685
@krishnasrinivas @harshavardhana `dsync` blocks on `DRWMutex.[R]Lock()` until it acquires locks from quorum number of servers. It is expected to hang until the lock is acquired.
@krishnasrinivas what is the expected behaviour in this situation?

[2016-09-13 19:06] harshavardhana commented on #2685
The expected behavior that Reads continue since N/2 is only needed for read.

[2016-09-13 19:16] krisis commented on #2685
@harshavardhana The erasure code algorithm is capable of reconstructing data in the absence of up to N/2 disks. But to provide a consistent view of data, we need quorum (N/2+1) or more number of disks to be in agreement with the data that is being served. It makes sense to 'hang' the reads in favour of consistency. It isn't data loss, it is temporary data unavailability. if we replaced one of the

[2016-09-13 20:23] harshavardhana commented on #2685
It would make sense if this is an agreed consensus, one problem here is that error in quorum is not propagated back to the API user since the locks themselves reject the request.

We should document this absolutely though.

[2016-09-13 21:09] sych74 commented on #2600
Tried different options, still getting the same error
- exec app server --address :81 minio_1:/export minio_2:/export minio_3:/export minio_4:/export time="2016-09-13T20:03:07Z" level=fatal msg="Unable to intialize object layer." cause="dial tcp: missing port in address minio_1"
- exec app server --address :9000 minio_1:/export minio_2:/export minio_3:/export minio_4:/export time="2016-09-13T20:47

[2016-09-13 21:16] sych74 commented on #2600
Can "minio control heal" be run in parallel with the main minio process? What will happen in theory if we add it to auto start or cron?

[2016-09-13 22:25] harshavardhana commented on #2600
You can run `control heal` from any node to any node such as following.  Here 'localhost:9000' can be replaced with your preferred remote.

[code]

There is no reason to auto-start but it can be scheduled in a cron job.

[2016-09-13 22:25] harshavardhana commented on #2600
Can i access this setup through the same account?

[2016-09-13 22:46] harshavardhana commented on #2600
I see the problem @sych74 it is due to the Dockerfile it is building 'master' for you instead of 'distributed' branch

Can you check these changes?

[code]

[code]

[2016-09-14 00:44] GarimaKapoor commented on #2634
@hackintoshrao what is the status of this issue?

[2016-09-14 01:27] hackintoshrao commented on #2634
Need to validate this for more operations.  Will finish it today.

[2016-09-14 01:43] #2673 closed, assigned to vadmeste

[2016-09-14 02:04] harshavardhana opened #2687 "Test ignore"
- [ ] test2
- [ ] test1

[2016-09-14 02:05] #2687 closed, assigned to nobody

[2016-09-14 07:39] harshavardhana opened #2688 "[distributed] Minio server fails to print error message for error during server start."
[code]

[2016-09-14 07:39] harshavardhana commented on #2688
Should have failed with

[code]

[2016-09-14 08:11] #2688 closed, assigned to harshavardhana

[2016-09-14 09:20] fwessels commented on #2636
See https://github.com/minio/dsync/pull/22 for the Stale Lock detection algorithm that should address this.

Once we update (the vendorized) dsync, we also need to add the maintenance code to the lock-rpc-server.

[2016-09-14 09:40] fwessels commented on #2685
Let's reason through relaxing the quorum for RLocks to N/2 (while keeping (write) Locks at N/2+1):
- With N/2 there is a chance that (6 server example) one readlock is backed by 1, 2, and 3 and another readlock is backed by 4, 5, 6. This would be catastrophic for write locks but for read locks it is no problem since we allow multiple concurrent read locks anyhow). (Note that the situation is also

[2016-09-14 12:39] hackintoshrao opened #2690 "api/completeMultipart: Incorrect HTTP response for certain cases."
## Expected behaviour

To adhere to the spec as for the cases below.

<img width="901" alt="screen shot 2016-09-14 at 9 29 23 am" src="https://cloud.githubusercontent.com/assets/2609511/18512289/0c69577a-7aa6-11e6-988b-40c65252af3b.png">
## Actual behaviour

200 OK response.

Will send the fix along with https://github.com/minio/minio/issues/2671 .

[2016-09-14 13:03] fwessels commented on #2629
It is possible to use a simple wrapper around DRWMutex (that effectively uses two DRWMutexes) like so:

[code]

(see https://github.com/minio/dsync/pull/22/commits/0d8e5988abb53b7daadb256bda6d7625dbb22834 for full details and https://github.com/minio/dsync/pull/22/commits/b272b3d3534149cfa3a65121e7129c8468c8a055 for a corresponding test case)

Only downside of this approach is that it obviously us

[2016-09-14 14:47] krishnasrinivas opened #2691 "log: error message when there is a signature mismatch"
Very common road block people hit with minio (especially when used in container environment or behind proxy) is "Signature mismatch"

We should provide an error log (with possible suggestions to fix it) so that users can go fix the setup themselves.

@harshavardhana can you assign this to me.

[2016-09-14 15:33] theonewolf opened #2692 "[feature] Support server side encryption of objects"
This is a feature request.

For enterprise environments, it is crucial that storage systems have encrypted storage capabilities.

Minimally you will want to use something like AES with 256-bit keys and key rotation.

I **highly** suggest adding support for encrypting with Vault (https://www.vaultproject.io, https://github.com/hashicorp/vault also written in Go) which has started seeing use within

[2016-09-14 16:25] jefferai commented on #2692
Gosh @theonewolf , thanks :-)

I'm not sure if this is related to a similar feature request made by @theonewolf to Vault, although I suspect it may be, but as of 0.6.2 (due in a week or two) Vault will support convergent encryption. This allows the same plaintext + context to map to the same ciphertext while providing good defaults/safeguards against doing such a thing insecurely.

This allows enc

[2016-09-14 16:42] sych74 commented on #2600
Thanks, my fault. Please let me know when I can use official minio docker image for xl setup test.

I'm thinking about removing the need of manual interactions, if a node fails and then recovers it will be great to have an auto healing...

[2016-09-14 16:53] krishnasrinivas commented on #2692
@theonewolf thank you!

Regarding encryption, it could be done in two ways:
1) Minio encrypts objects on the server side before saving it to the disk.
    We want to keep minio features minimal and focus on stability and reliability. Hence we did not implement this.
2) Client encrypts the object and uploads it to minio.
    Users already do this with minio by using clients such as restic(https://g

[2016-09-14 17:47] krishnasrinivas opened #2695 "Minio signature mismatch error response differs from AWS S3"
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-09-14 17:48] krishnasrinivas opened #2696 "Minio signature mismatch error response differs from AWS S3"
Minio response:

[code]

AWS S3 Response:

[code]

[2016-09-14 17:56] harshavardhana commented on #2696
We already have a bug for this for compatible errors. Closing this as duplicate #2386

[2016-09-14 17:56] #2696 closed, assigned to nobody

[2016-09-14 17:56] harshavardhana commented on #2695
Closing this as duplicate of #2386

[2016-09-14 17:56] #2695 closed, assigned to nobody

[2016-09-14 17:57] harshavardhana commented on #2691
Good idea 👍

[2016-09-14 19:08] krishnasrinivas opened #2697 "api: Signature should be validated first and payload later"
SignatureDoesNotMatch should be returned early, currently we read all the data and return the error in the end.

[2016-09-14 19:18] harshavardhana commented on #2697
Cannot understand what you mean here, are you saying that we shouldn't validate payload?

[2016-09-14 19:38] kartiklunkad26 opened #2698 "QuickStart docs for Minio Server Setup needs update"
## Expected behaviour

"The directory specified during the start of the minio server serves as the object storage directory of the server" This information needs to be specified in the QuickStart docs for minio server setup.
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-09-14 19:40] harshavardhana commented on #2600
@sych74 official `minio/minio:edge` is available with distributed support, we merge the distributed branch yesterday.

Let us know how it goes @sych74

This was on purpose to keep the storage simple and predictable, auto healing leads to complexity and unpredictability on a storage system.  We choose N/2 data and parity for this purpose alone that storage shouldn't be doing many things at any give

[2016-09-14 19:45] harshavardhana commented on #2692
:+1:

[2016-09-14 19:46] koolhead17 commented on #2698
@harshavardhana @kartiklunkad26 will work on this. 👍

[2016-09-14 19:52] krishnasrinivas commented on #2386
@harshavardhana if you or @vadmeste have not yet started working on this, i would like to work on this

[2016-09-14 19:54] harshavardhana commented on #2386
I already have a patch for this but lets discuss if you have better ideas.

[2016-09-14 19:59] krishnasrinivas commented on #2386
I had some vague ideas, will get back on this.

[2016-09-14 22:34] sych74 commented on #2600
I tried edge and got some progress. The automation script has been recently updated https://github.com/jelastic-jps/minio, no more nfs, but it seems like there is a new issue. Only 1 from 4 servers is working http://docker89633-env-5085296.pb-de.jelastic.com/, the rest servers are down, they have similar run configs. I shared this env, could you take a look?

[2016-09-14 23:43] harshavardhana commented on #2600
Will check thanks @sych74

[2016-09-15 00:23] harshavardhana commented on #2600
Fixed the problem - one of the nodes didn't have 'format.json'

http://docker89633-env-5085296.pb-de.jelastic.com/minio/docker/src/github.com/minio/

Is working and accessible now.

The procedure for distributed setup is as follows
- All fresh nodes that need to be part of the cluster should be provided and the same command should be run on all the nodes.
- Once the fresh disk setup is done a corr

[2016-09-15 00:23] #2600 closed, assigned to krishnasrinivas

[2016-09-15 00:29] harshavardhana opened #2702 "browser: Browser bug found in docker edge image"
http://env-5085296.pb-de.jelastic.com/minio/docker/

![screenshot from 2016-09-14 17-27-22](https://cloud.githubusercontent.com/assets/622699/18534508/b7cf854a-7aa0-11e6-8f03-8cc148921fb7.png)
![screenshot from 2016-09-14 17-27-44](https://cloud.githubusercontent.com/assets/622699/18534509/b7cfc03c-7aa0-11e6-91c5-13986f338f37.png)

[2016-09-15 00:30] harshavardhana commented on #2702
Can upload files and see them through 'minio client' - @sych74 but looking into the bug. Did a quick local setup not able to reproduce.

[2016-09-15 00:34] harshavardhana commented on #2702
Just now was able to reproduce looking into the issue.

[2016-09-15 00:50] harshavardhana commented on #2702
Looks like false alarm, using 'docker-compose up' with the following profile seems to be working fine can you validate this on your end locally?

[code]

Sill need to see why there is an error on jelastic cluster though. Will be debugging this further today by rebuild minio with some additional logs on the jelastic cloud if that is fine with you? @sych74

[2016-09-15 06:26] #2698 closed, assigned to koolhead17

[2016-09-15 08:49] harshavardhana commented on #2412
Overall coverage increased to 1.5% with the changes here, closing this bug. We will need to add 'ErrServerNotIntialized' cases as well.  Which will be addressed in a separate test bug opening it right now. Closing this.

[2016-09-15 08:49] #2412 closed, assigned to harshavardhana

[2016-09-15 08:49] harshavardhana opened #2706 "[distributed] tests: Add tests for cases when object server has not initialized"

[2016-09-15 08:51] harshavardhana commented on #2564
Closing this since we implemented FS based implementation of pre-empted concatenation. This is no longer valid.

Will re-open if we come back to this again.

[2016-09-15 08:51] #2564 closed, assigned to harshavardhana

[2016-09-15 08:52] harshavardhana commented on #2667
Closing this as `multer-s3` package issue, please reopen if this is reported back as Minio server problem.

[2016-09-15 08:52] #2667 closed, assigned to donatello

[2016-09-15 08:53] sych74 commented on #2702
I checked it with a fresh setup and seems like everything is fine
http://docker90216-server104.demo.jelastic.com/minio/test2/ (use the same keys), not sure why that initially broken setup does not show the disk space...

[2016-09-15 08:55] harshavardhana commented on #2573
We need to investigate this further on why the Rename() of a directory is not deemed as atomic.

[2016-09-15 08:56] harshavardhana commented on #2702
Oh no idea will keep this bug here if you happen to see it again need to figure out why it could happen.

[2016-09-15 08:56] harshavardhana commented on #2702
Thanks for looking though @sych74

[2016-09-15 17:46] krishnasrinivas commented on #2697
payload should be validated, but that will be sha256-mismatch error if the validation fails. But there is no stopping us from validating the signature early unless it is a streaming upload.

[2016-09-15 18:01] harshavardhana commented on #2697
But how would you calculate signature without knowing the sha256? are you saying that we use the same  sha256 what comes over the wire?

What is the S3 behavior?

[2016-09-15 18:05] krishnasrinivas commented on #2697
Yes since sha256 is sent in the header we can just use it for signature verification

S3 should be doing the signature verification early too before reading in all the data, let me check.

[2016-09-15 18:28] harshavardhana commented on #2697
Sure please validate.

[2016-09-15 19:00] krishnasrinivas commented on #2697
S3 returns signature error early.

hard coded a wrong signature:

[code]

/tmp/go.tgz is 1.2G file:

[code]

`time node fput-object-s3.js` with secure=false took 18secs (includes sha256 calculation) to return signature error. So S3 is returning early as well without reading in the whole data.

`time sha256sum /tmp/go.tgz` took 8 secs. So definitely the script could not have uploaded 1.2G in 10 sec

[2016-09-15 19:38] harshavardhana commented on #2697
I see lets make this change, it makes things easy as well.

[2016-09-15 19:39] harshavardhana commented on #2697
Assigned this to you @krishnasrinivas - can you fix it?

[2016-09-15 19:45] krishnasrinivas commented on #2697
yes!

[2016-09-15 22:45] GarimaKapoor commented on #2634
What is the status of the fix?

[2016-09-15 22:48] harshavardhana commented on #1991
Will open relevant bugs per file.

[2016-09-15 22:48] #1991 closed, assigned to hackintoshrao

[2016-09-15 22:51] harshavardhana commented on #2414
Closing and opening.. new bugs.. per file.

[2016-09-15 22:51] #2414 closed, assigned to krisis

[2016-09-15 22:52] harshavardhana opened #2710 "tests: Implement for bucketNotificationHandlers()"

[2016-09-15 22:58] harshavardhana commented on #2416
Closing as we have reached sufficient coverage for `format-config-v1.go`

[2016-09-15 22:58] #2416 closed, assigned to vadmeste

[2016-09-15 23:00] harshavardhana opened #2711 "tests: Implement for bucket-notification-utils.go"

[2016-09-15 23:14] harshavardhana opened #2712 "tests: Implement tests for event-notifiers.go"

[2016-09-15 23:43] harshavardhana commented on #2275
The disk failure will be reported in a different way.

[2016-09-15 23:43] #2275 closed, assigned to krishnasrinivas

[2016-09-15 23:51] harshavardhana commented on #2616
what is the status of this @koolhead17 ?

[2016-09-16 06:20] koolhead17 commented on #2616
It is in list of items for this week. 😄

[2016-09-16 09:20] krishnasrinivas opened #2714 "docs: Multi-tenant minio setup using nginx reverse proxy"
Document using the below nginx config for multi-tenant setup.

[code]

[2016-09-16 10:25] harshavardhana commented on #2629
After discussion this has been deferred to future work.

[2016-09-16 14:47] hackintoshrao commented on #2634
was setting the date using `date --set="17 Sep 2016 10:00:00"` from root ( cannot set without being a root), but once I log back to normal user the date used to reset (seen using `date` command), never noticed this, so my results are not reliable. Will run minio with `root` privilages and run these small tests again.

[2016-09-16 15:19] hackintoshrao commented on #2634
<img width="862" alt="screen shot 2016-09-16 at 8 19 43 pm" src="https://cloud.githubusercontent.com/assets/2609511/18591123/f7393014-7c4e-11e6-9fc6-aacc42307af8.png">

Even with root the date set is not retained, didnt notice till now. What would be good way to change system time.

[2016-09-16 17:16] rafael-leo-almeida commented on #1007
Hi, this bug returns after upgrading from RELEASE.2016-08-21T02-44-47Z to RELEASE.2016-09-11T17-42-18Z

When doing upload to minio on RELEASE.2016-08-21T02-44-47Z version everything works but on latest version got this exception.

`
com.amazonaws.services.s3.model.AmazonS3Exception: The request signature we calculated does not match the signature you provided. Check your key and signing method. (S

[2016-09-16 17:55] koolhead17 commented on #2616
I have added it to our FAQ, this can be closed.

[2016-09-16 18:42] rafael-leo-almeida opened #2715 "AWS sdk signature error."
Error on upload with java aws sdk after update from RELEASE.2016-08-21T02-44-47Z to RELEASE.2016-09-11T17-42-18Z

[code]
#1007

[code]

[2016-09-16 18:56] harshavardhana commented on #2634
It is not retained perhaps is because of ntp - turn it off and run this again it should work.

[2016-09-16 18:57] harshavardhana commented on #2616
s this FAQ public?

[2016-09-16 18:58] harshavardhana commented on #2715
Can you remove this option and try again?

[2016-09-16 19:00] koolhead17 commented on #2616
Not yet, working on same with @GarimaKapoor

[2016-09-16 19:09] rafael-leo-almeida commented on #2715
@harshavardhana testing without `clientOptions.disableChunkedEncoding();` working like a charm.

PS: Working on both of last versions.

[2016-09-16 19:15] harshavardhana commented on #2715
We started supporting streaming signature. Figuring out why regular signature is not working.

[2016-09-16 19:20] rafael-leo-almeida commented on #2715
It's possible to keep compatibility with clients with chunkedEncoding disabled?

[2016-09-16 19:22] harshavardhana commented on #2715
Yes definitely sever supports both methods.

[2016-09-16 19:32] fwessels commented on #2685
@harshavardhana So we want to relax the read quorom (from N/2+1) to N/2, correct?

(alternatively we could make this optional or configurable, ie starting minio in like a `--readonly` mode or so, but not sure if I am a fan of this...)

[2016-09-16 19:36] harshavardhana commented on #2685
Read quorum is already 'N/2',  only dsync choose N/2+1 for both `Lock` and `RLock`

[code]

[2016-09-16 19:39] fwessels commented on #2685
Correct of course, I was referring to dsync's `RLock` behaviour specifically -- this only we want to relax to N/2, correct? (while keeping `Lock` unchanged)

[2016-09-16 19:56] harshavardhana commented on #2715
@rafaelsisweb just tested 'master' works, release lacks the following fix.

[code]

Will make a release to fix this problem - thanks for reporting @rafaelsisweb .

[2016-09-16 19:56] #2715 closed, assigned to harshavardhana

[2016-09-16 19:57] harshavardhana commented on #2685
Yeah since RLock is an okay operation but still we should think more about the cases where it might become problematic - do you remember why N/2+1 was chosen by default?

[2016-09-16 20:06] fwessels commented on #2685
Initially we only had Lock() and that needs (minimally) N/2 + 1 (and preferably more).

So for RLock() it was kept at the same level, but it is possible to differentiate between the two.

Let me do some coding/run some test cases and see if there are any stumbling blocks that we may have overlooked.

[2016-09-16 20:07] harshavardhana commented on #2417
Merged #2686 - increases overall coverage by 1%

[2016-09-16 20:07] #2417 closed, assigned to vadmeste

[2016-09-16 20:31] harshavardhana commented on #2616
Closing..

[2016-09-16 20:31] #2616 closed, assigned to koolhead17

[2016-09-16 20:44] #2312 closed, assigned to balamurugana

[2016-09-16 21:26] #2712 closed, assigned to vadmeste

[2016-09-16 22:17] #2658 closed, assigned to harshavardhana

[2016-09-17 00:17] harshavardhana commented on #2418
Moving this to Phase 2 since there are many places here which requires additional services for writing tests, we would even have to evaluate if we can write tests even for this.

Unless we can mock this fully there is no easier way.

[2016-09-17 00:39] harshavardhana commented on #2702
Just checking back to see how are things going @sych74 ?  were you able to test minio distributed properly?

[2016-09-17 02:15] harshavardhana opened #2724 "docs: Quickstart guide for server should show more for minio client"
[code]

[2016-09-17 02:26] koolhead17 commented on #2724
We will also need to add step to download `mc` before the above commands?

[2016-09-17 03:00] koolhead17 commented on #2724
Can be closed via https://github.com/minio/minio/pull/2725

[2016-09-17 10:19] #2711 closed, assigned to harshavardhana

[2016-09-17 10:20] #2724 closed, assigned to koolhead17

[2016-09-17 18:46] k0nsl opened #2728 "SSL/TLS issue?"
## Minio version

[code]
## System information

KVM running Debian (Sid).
## The issue

I have a problem connecting to my Minio instance through the various command line tools (i.e `s3cmd`, `mc`, `aws` and even GUI based tools, both for *nix and MS Windows.
When I try to use one application called `S3 Browser` it doesn't get further than this:
![https://k0nsl.img-cdn.ru/s3browser-win32_2016-09-17_

[2016-09-17 19:41] krishnasrinivas commented on #2728
S3-browser is using older signature-v2 based auth hence it fails. Minio uses more recent signature-v4 algorithm for auth. http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html

Can you check if the instructions here https://docs.minio.io/docs/aws-cli-with-minio helps?

[2016-09-17 22:33] k0nsl commented on #2728
@krishnasrinivas: Yes! Thank you. The documentation for aws-cli with Minio helped to solve my issue :D

I just ran:

[code]

...and wham-bam, it works just fine now! Perfect.

[2016-09-18 04:06] #2728 closed, assigned to nobody

[2016-09-18 06:04] k0nsl commented on #1293
Sorry for opening this issue again, but it is in fact relevant.

I am seeing this in my log after I added a Let's Encrypt certificate:

[code]

I can access the associated subdomain perfectly via Chromium and Firefox. I don't know what gives.

[2016-09-18 08:16] harshavardhana commented on #1293
Can you explain how did you configured Letsencrypt TLS?  - if you have used 'letsencrypt-auto' tool then you need to copy `fullchain.pem` properly file to make sure the CA authority is present properly.

This can happen so that the aforementioned distribution under use doesn't yet ship the new updated CA authority files as mentioned here - https://github.com/certbot/certbot/issues/2026

Let us kno

[2016-09-18 08:33] k0nsl commented on #1293
Thanks for the heads up about copying `fullchain.pem` to `$HOME/.minio/certs`. I had completely overlooked that.

Anyway, I copied it and restarted the Minio server and I'm still seeing that error:

[code]

This is barring that I haven't done something incorrectly. Maybe I am not supposed to copy `fullchain.pem` to `$HOME/.minio/certs`?

[EDIT: On the other hand I've successfully got CyberDuck to

[2016-09-18 09:38] harshavardhana commented on #1293
You need to replace `fullchain.pem` to `$HOME/.minio/certs/public.crt` instead from existing file.  Let me know how it goes.

Really great to know, happy to help in anyway we can sorry for all the trouble.

[2016-09-18 14:44] sych74 commented on #2702
Seems like it works now as expected, at least initial setup and configuration. I was not able to test it under a high load as well as emulate a hardware failure, but I believe we can show it now to some of our users / partners and get their feedback.

[2016-09-18 15:16] vadmeste commented on #2573
First, this bug is easily reproducible if we test with a code from minio-go examples instead of mc.

Now the result of my findings:
- I noticed that listing can miss an object if we are uploading another object of the same name in parallel. The reason is that we are making a backup of the old object by renaming it before moving the new uploaded one from tmp to its new location. Listing objects is

[2016-09-18 15:29] krishnasrinivas opened #2729 "Update documentation correcting the APIs"
In the doc
- it should be `new Minio.Client`, not `new Minio`
- fix bucket notification APIs (doc differs from the actual API)

[2016-09-18 15:30] krishnasrinivas commented on #2729
re-opened on minio-js: https://github.com/minio/minio-js/issues/500

[2016-09-18 15:30] #2729 closed, assigned to nobody

[2016-09-18 15:50] mvalitov commented on #2632
Hello, today I downloaded the new minio version, and once again faced with the same problem. I looked in the trace, and see that the port on the host field is present.

[code]

my minio config:

[code]

This is a problem on my part or in the new version that not so?

[2016-09-18 16:14] krishnasrinivas commented on #2632
@MarsonV checking why it is not working on the release, but works on the master fine.

[2016-09-18 17:39] harshavardhana commented on #2632
The following fix is missing in the release

[code]

Content-Length gets added in double. We will make a new release..

[2016-09-18 17:42] harshavardhana commented on #2634
Were you able to validate this?

[2016-09-18 17:42] harshavardhana commented on #1859
ping //cc @krishnasrinivas

[2016-09-18 17:43] harshavardhana commented on #1860
ping //cc @krishnasrinivas

[2016-09-18 17:43] harshavardhana commented on #1858
ping //cc @balamurugana were you able to talk to @krishnasrinivas about this work you have done?

[2016-09-18 18:01] harshavardhana commented on #2573
This a correct behavior object storage only provides certain levels of consistency, this is the same as doing Stat() within a Readdir() call on POSIX.  An file/object can get deleted but the Dirent cache might have the entry and upon a "ENOENT" you can choose to ignore such errors.

To fix this issue we have to do 2 Stat() operations one to tell if `xl.json` doesn't exist and another to tell if th

[2016-09-18 18:28] krishnasrinivas commented on #2632
right.

Initially what was happening was if a reverse proxy (traefik) is used it would remove `content-length:0` causing this problem.

@MarsonV you can use the latest master.

[2016-09-18 18:29] mvalitov commented on #2632
@krishnasrinivas thanks

[2016-09-18 18:29] #2632 closed, assigned to krishnasrinivas

[2016-09-18 18:47] krishnasrinivas commented on #2692
@theonewolf isn't option-2 viable for your use case?

[2016-09-19 00:59] harshavardhana opened #2730 "[distributed] running concurrent 70 run for GetObject() server goes into an infinite loop"
aws cli was killed and all the requests have been killed server is seemingly busy and using a lot of memory on its own.

[code]

minio2 started throwing these errors upon 70.

[code]

[2016-09-19 01:06] harshavardhana commented on #2730
No instances of aws cli running

[code]

[code]

[2016-09-19 01:25] harshavardhana commented on #2730
Trying to list the locks failed .. control CLI hung.

[code]

[2016-09-19 05:53] hackintoshrao commented on #2634
The NTP service doesn't seem to be running, here is the output when I tried to stop  the NTP service,

`$sudo service ntp stop`

 Failed to stop ntp.service: Unit ntp.service not loaded.

[2016-09-19 09:21] vadmeste commented on #2573
yes, but this is not enough.. things could change between the two Stat() calls. To avoid this, can't we just prepare the new object in tmp, and do one rename() call in the final stage if everthing is successful?

[2016-09-19 09:51] harshavardhana commented on #2573
New object is already prepared in tmp if not its a bug.   There is only so much you can do without holding lock.

[2016-09-19 10:13] harshavardhana opened #2732 "server: Bucket policies s3 supports shortform for Principal field"
## Expected behaviour

Server should support
## Actual behaviour

Parser fails
## Steps to reproduce the behaviour

Use the following code to reproduce this issue.

[code]
## Minio version

master

[2016-09-19 12:24] theonewolf commented on #2692
It does work, in the way of punting it to users (who will inevitably mess it up, misconfigure it, etc.).  I was hoping to get a principled "module" in place that works well with Minio.

Also, I am a **huge** fan of minimalism, and huge supporter of the "do one thing and do it well" mantra.  I'm happy to see your devotion to it :-)  A strong vision for Minio will take it very far in my opinion.

Do

[2016-09-19 12:28] theonewolf commented on #2692
Ah, it is on the TODO list for FUSE:

[2016-09-19 12:55] theonewolf commented on #2692
I can't quite quantify this, but having encryption built into the storage directly is just so nice (such as SSDs having encryption built into the hardware these days http://www.samsung.com/semiconductor/minisite/ssd/downloads/document/Samsung_SSD_White_Paper.pdf).

Without built in encryption in the storage layer, the Minio cookbook examples aren't as simple as they first appear.  For example, you

[2016-09-19 13:07] krishnasrinivas commented on #2692
:+1:

We don't have a plugin support. But what you can do is write a proxy on top minio which encrypts/decrypts data. This is not very straight forward as proxy needs to speak s3 protocol.

looks like aws-sdks have built-in support to encrypt files http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingClientSideEncryptionUpload.html

having `mc` support encryption is a good idea, if we don't impleme

[2016-09-19 17:17] #2691 closed, assigned to krishnasrinivas

[2016-09-19 17:33] GarimaKapoor commented on #2697
@krishnasrinivas, What is the timeline for the fix?

[2016-09-19 18:03] balamurugana opened #2736 "minio hangs with two nodes with four disks"
With below command, I couldn't able to start minio.

on `minio1`:

[code]

on `minio2`:

[code]

_/tmp/minio is copy of minio executable from `minio1`_

minio version:

[code]

[2016-09-19 18:21] harshavardhana commented on #2736
Looks like the access key is not set, can you validate with access keys being set @balamurugana ?

[2016-09-19 18:24] balamurugana commented on #2736
Yep. Keys are not same in `minio1` and `minio2`.  Its working after having same config.json on both the machines.

[2016-09-19 18:32] #2736 closed, assigned to nobody

[2016-09-19 19:49] theonewolf commented on #2692
Yeah, @krishnasrinivas you're right S3 has built-in support for encryption (as does EBS and other storage services).

It's a bit philosophical, but I'm proposing that all modern storage systems should consider cryptography as a fundamental feature.  Similar to how any serious web server project must include support for HTTPS these days.

However, I'd be willing to concede that the layer Minio is p

[2016-09-19 20:26] harshavardhana opened #2738 "event: Notification for databases should update and delete previous entries"
Current redis just takes the event JSON and adds a new entry.  Bring in a change to support this in Redis.

[2016-09-19 20:27] harshavardhana opened #2739 "event: Notifier should support postgres database"

[2016-09-19 20:40] krishnasrinivas commented on #2739
postgres support can be "derived" from amqp right? i.e instead of implementing for all the targets we can just implement amqp (ex rabbit mq) and users can just subscribe to the target that implements amqp to implement their own target. this way we can keep our targets minimal. This way we can remove elastic-search and redis notification?

[2016-09-19 20:50] harshavardhana commented on #2739
The reason here is that Minio server updates the target directly by using a direct database connection, also it has to do it slightly intelligently i.e basically  Update and Delete entries as the notifications come by.

We can do this approach too but just supporting AMQP requires good work on the other end, in-fact only redis can be removed.  ElasticSearch has other benefits altogether.

[2016-09-19 20:52] #2732 closed, assigned to harshavardhana

[2016-09-19 22:58] harshavardhana opened #2741 "[distributed] events: Notifications should be fetched from all the nodes - Listen"

[2016-09-20 00:35] balamurugana commented on #2455
Uploaded same 4 MiB file created 1000 times on `minio2`.

minio1:
![minio1](https://cloud.githubusercontent.com/assets/629407/18653526/50d5c244-7e8f-11e6-83b4-31b9deb48b45.png)

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18653532/5d650ace-7e8f-11e6-918f-7caa476eab54.png)

[2016-09-20 00:46] harshavardhana commented on #2455
@balamurugana can you create larger files like in terms of 500MB to 10G ?

[2016-09-20 01:43] balamurugana commented on #2455
Uploaded same 77MiB file created 1000 times on `minio2`

minio1:
![minio1](https://cloud.githubusercontent.com/assets/629407/18654818/e789775e-7e98-11e6-906e-0825fb4095df.png)

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18654824/ef2ce5e0-7e98-11e6-93bb-93df1e7b510f.png)

[2016-09-20 06:06] kahing commented on #2496
a similar problem occur when you head the bucket anonymously. aws s3 returns 404 and play.minio.io returns 403:

[code]

vs

[code]

[2016-09-20 09:11] #2738 closed, assigned to harshavardhana

[2016-09-20 09:44] krishnasrinivas opened #2743 "Minio as storage for docker registry"
[code]

[2016-09-20 09:50] bweston92 commented on #2743
When I run the following I get the correct files in the Minio storage however I "Retrying in 5 seconds" as if something went wrong.

Docker registry logs: https://gist.github.com/bweston92/03361ac1d7b79eb9fa9b3db5ed185356

docker-registry-config.yml

[code]

test.sh

[code]

[2016-09-20 09:55] fviard opened #2744 "Regression? SignatureDoesNotMatch errors when transfering files"
## Expected behaviour

It should be possible to upload a file.
## Actual behaviour

Trying to upload a file with s3cmd result in a SignatureDoesNotMatch error.
That was not the case around one week ago.
## Minio version
- With play.minio.io as a target
## System information

s3cmd nightly

Around one or two week(s) ago, I was able to upload files to play.minio.io without issue.
Now, for whatever f

[2016-09-20 10:58] harshavardhana commented on #2744
Just cherry-picked a fix from the master branch and re-built play can you check again? @fviard

[2016-09-20 11:14] fviard commented on #2744
Just tested now and it works again. So that did it thanks :-)

[2016-09-20 11:15] harshavardhana commented on #2744
Thanks @fviard . Closing

[2016-09-20 11:15] #2744 closed, assigned to harshavardhana

[2016-09-20 14:02] balamurugana commented on #2455
Uploaded same 735.48MiB file created 1000 times on minio2
minio1:
![minio1](https://cloud.githubusercontent.com/assets/629407/18673275/0e376b2e-7f00-11e6-8073-3319f186c303.png)

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18673302/293c3c06-7f00-11e6-84ce-627aa676e851.png)

[2016-09-20 16:05] krishnasrinivas commented on #2743
@bweston92 i tried with minio as a process instead of docker container, and it worked fine. Checking with minio docker image.

[2016-09-20 17:40] #2660 closed, assigned to vadmeste

[2016-09-20 19:19] krishnasrinivas commented on #2743
@bweston92 this change made it work:

[code]

169.254.6.100 is the ip addres of docker0. So 'minio' was not reachable from the registry container. I used `--name minio` for the minio container.

[2016-09-20 19:20] balamurugana commented on #2455
Upload of 77MiB file in parallel for 500 times with disabled cache.

minio1:
![minio1](https://cloud.githubusercontent.com/assets/629407/18685376/979c1a96-7f2c-11e6-8c41-cb5c75da1c39.png)

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18685377/9b297b18-7f2c-11e6-895e-453b25b6626c.png)

[2016-09-20 20:30] harshavardhana commented on #2743
So no bug on the minio end @krishnasrinivas ?

[2016-09-20 20:33] krishnasrinivas commented on #2743
@harshavardhana no.

@bweston92 can you confirm that it works for you? If it does, will you have time to contribute a document on how to use minio as storage for docker registry?

Here's the link to our cookbook repo: https://github.com/minio/cookbook

[2016-09-20 20:33] bweston92 commented on #2743
I setup a link so http://minio should of resolved to that IP address will give it another go in the morning also doesn't conclude why it made the objects in Minio (so clearly accessed it) and just failed to push all the data (kept retrying)

---Sent from Boxer | http://getboxer.com

On 20 September 2016 at 20:19:52 BST, Krishna Srinivas notifications@github.com wrote:@bweston92 this change made it

[2016-09-20 22:11] balamurugana commented on #2455
Upload of 736MiB file in parallel for 100 times with disabled cache.

minio1:
![minio1](https://cloud.githubusercontent.com/assets/629407/18690733/81ba343e-7f44-11e6-8a37-6aeea64c73bc.png)

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18690736/87a99fe2-7f44-11e6-8875-30396aae5308.png)

[2016-09-20 22:34] hernandev opened #2748 "[web/rpc] Support Decentralized Browser Authentication"
## Expected behaviour

When having multiple minio instances load balanced not sharing the configuration directory across instances (on different servers/containers), minio browser JWT Token, once issued, should be valid against any server using the same api credentials (not sure what is being used as secret key at HS512).
## Actual behaviour

The Browser JWT Token is not accepted on another server

[2016-09-20 22:37] balamurugana commented on #2455
Download of 736MiB file in parallel for 100 times with disabled cache.

minio1:
![minio1](https://cloud.githubusercontent.com/assets/629407/18691368/0d9dc58a-7f48-11e6-9bac-ea3f09b36d68.png)

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18691376/18358708-7f48-11e6-871b-d7bdb1c20651.png)

[2016-09-20 23:37] zquestz opened #2749 "Provide way to filter out credentials in server startup."
## Expected behaviour

Expect a flag like --mask-credentials to star out (*) any sensitive credential information in the server start.
## Actual behaviour

Server startup always shows creds.
## Steps to reproduce the behaviour

Start the server.
## Minio version
- All

NOTE: I am willing to put up a PR to address this. Let me know if that is something you are interested in.

[2016-09-21 00:01] balamurugana commented on #2455
10 Parallel list objects on minio2

minio1:
None

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18693075/d1ac3f3c-7f53-11e6-8918-240bd0fb8048.png)

[2016-09-21 01:08] GarimaKapoor commented on #2477
@donatello what is the expected timeline for the fix.

[2016-09-21 01:35] harshavardhana commented on #2749
Can you explain further why would this be needed?  - we wish to avoid new CLI options

[2016-09-21 01:42] zquestz commented on #2749
Within most PaaS systems all logs are aggregated and then sent to services like Elk or Splunk. This gives credentials to users that may not have policies in the system to see those credentials.

When launching minio server in those environments it is preferable to make sure logs do not contain sensitive server information.

[2016-09-21 01:45] harshavardhana commented on #2749
Isn't it possible to obfuscate this using `minio server <disk...> >/dev/null` ?

[2016-09-21 01:46] zquestz commented on #2749
@harshavardhana yes I can dev null all the output, but then the user doesn't get docs and other valuable information. Or see any output at all when starting the server... Ideally the user gets some output that the server started, just not the credentials. For now we are masking it with a really horrid start command:

[code]

[2016-09-21 01:52] harshavardhana commented on #2749
I see we can enhance `minio --quiet` to do this.

[2016-09-21 01:53] zquestz commented on #2749
That works for me. Want me to put up a PR?

[2016-09-21 01:54] harshavardhana commented on #2749
Please go ahead thanks a lot @zquestz

[2016-09-21 01:54] zquestz commented on #2749
KK, should be able to get to this in the next day or two. Thanks for the feedback. =)

[2016-09-21 04:53] harshavardhana commented on #2697
ping @krishnasrinivas

[2016-09-21 05:41] k0nsl opened #2751 "doc: Does Minio support multitenant environments?"
I couldn't find anything in the documentation when I glanced it over earlier this morning, about the possibility of having multiple users for one Minio instance. Does such a option exist?

[2016-09-21 05:53] harshavardhana commented on #2751
We don't support multiple users per Minio server we in-fact have it documented how to build multi tenancy  here https://github.com/krishnasrinivas/cookbook/blob/68b6dab51f557ed437449104970abcf3bacf4b7b/docs/multi-tenancy-in-minio.md

[2016-09-21 06:27] harshavardhana commented on #2743
If the server works with ip and not with hostname then perhaps hostname configuration has an issue. @bweston92 - is this hostname config automated by docker?

[2016-09-21 07:20] krishnasrinivas commented on #2748
@hernandev does the browser see same proxy IP:PORT for the backend minio servers? If so it should have worked, because the JWT is encrypted using S3  secret key which is shared by the backend minio servers and hence should be valid.
can you post the relevant portion of the reverse proxy config?

[2016-09-21 09:02] matti commented on #2715
so this hasn't been fixed in the `:latest` docker image? why is this issue closed if it's not released?

[2016-09-21 09:06] matti commented on #2715
oh, it's in `:edge` :D 👯

[2016-09-21 10:22] hackintoshrao commented on #2634
I made several other attemps, but able to change the system time  minio2 server. Can @krishnasrinivas  help ?

[2016-09-21 13:27] krishnasrinivas commented on #2634
@hackintoshrao
changed it on minio2 like this:
timedatectl set-ntp 0
root@minio2:~# timedatectl set-time 2002-10-02
root@minio2:~# date
Wed Oct  2 00:00:01 PDT 2002

[2016-09-21 13:32] krishnasrinivas commented on #2743
on gitter:

bweston92 tried without minio inside docker (and as just a process) and it worked.

@bweston92 did you get it working with minio container?

[2016-09-21 13:46] hackintoshrao commented on #2634
Thanks @krishnasrinivas , will try with this.

[2016-09-21 13:52] bweston92 commented on #2743
Not yet I think this is something todo with the registry as Minio gets all the files even though it retries.

---Sent from Boxer | http://getboxer.com

On 21 September 2016 at 14:32:19 BST, Krishna Srinivas notifications@github.com wrote:on gitter:  Oh now it just worked   bweston92 tried without minio inside docker (and as just a process) and it worked.  @bweston92 did you get it working with min

[2016-09-21 14:12] krishnasrinivas commented on #1859
working on this.

[2016-09-21 14:13] krishnasrinivas commented on #1860
working on this.

[2016-09-21 16:42] donatello commented on #2477
It's being done here - https://github.com/minio/minio/pull/2709 - expect to be finished by today @GarimaKapoor

[2016-09-21 16:44] #2659 closed, assigned to vadmeste

[2016-09-21 18:28] harshavardhana commented on #2743
[code]

[2016-09-21 18:29] balamurugana opened #2753 "[distributed] minio servers in different time need to error out for any transaction"
In the setup, minio2 and minio3 are in two different time, running `mc mb` succeeded when connecting to minio3 whereas it fails on minio2 with `mc: <ERROR> Unable to make bucket ‘myminio2/mybucket1’. The difference between the request time and the server's time is too large.`

Instead of the above behaviour, any transaction through any minio server should return `RequestTimeTooSkewed`

[2016-09-21 19:59] harshavardhana commented on #2743
Hostname based is a real problem even if /etc/hosts entry is added. DNS resolution fails for some reason.

[code]

[2016-09-21 20:01] harshavardhana commented on #2743
At the end of retrying i see

[code]

[2016-09-21 20:11] harshavardhana commented on #2743
This would look like a registry bug and not the one reported @rbellamy  which seems to be network related to deis infrastructure.

[2016-09-21 20:18] harshavardhana commented on #2743
Some setup details

[code]

[code]

[2016-09-21 20:22] harshavardhana commented on #2702
Closing this bug as i am not able to reproduce this anymore. Please re-open @sych74 if the problem persists.

[2016-09-21 20:22] #2702 closed, assigned to harshavardhana

[2016-09-21 20:25] harshavardhana commented on #2418
There is no real way to test the code this path since it requires external entities like elasticsearch, redis and rabbitmq, currently all the paths that could be tested already has tests.

Each code path has been sufficiently manually tested, so closing this since we won't be able to do 'go tests' for these files.

[2016-09-21 20:25] #2418 closed, assigned to harshavardhana

[2016-09-21 21:58] hackintoshrao commented on #2634
Here my observations,
- After the time is skewed the operations run well with `mc` when it pings the same node in which its running.  That is Lets the time is skewed on node2 (Its a 2 node setup), and mc is running on node2 and pings to node2 itself, all the operations run smoothly, the vice versa holds good too.
- But when `mc` is configured to ping `node1` from `node2` or vice versa the operatio

[2016-09-21 22:01] harshavardhana commented on #2634
The error is appropriate we have another bug open which needs to be addressed at a distributed scale. #2753 -  closing this issue.

[2016-09-21 22:01] #2634 closed, assigned to hackintoshrao

[2016-09-21 23:38] #2664 closed, assigned to vadmeste

[2016-09-21 23:52] harshavardhana commented on #2743
Going through entire codebase and checking error by error  - all replies are pretty much the same  in both cases. This issue seems to be happening way above the stack inside registry.

Going through once more.

[2016-09-22 00:41] #2710 closed, assigned to krisis

[2016-09-22 00:58] harshavardhana commented on #2743
Okay so now i ran registry outside of container and made the relevant /etc/hosts entries as well and that seems to work all the time.

[code]

I am betting now on the network layer here - https://github.com/docker/docker/issues/26492

[2016-09-22 00:59] harshavardhana commented on #2743
The issue is not with the container talking to external services but the issue seems to be related to internal network problems. I guess as a workaround right now you can use ip addresses.

[2016-09-22 02:20] balamurugana commented on #2455
Two Parallel copy of linux kernel source using `mc cp -r`
minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18735137/69eb2254-8030-11e6-93ea-071b661bc44f.png)

minio3:
![minio3](https://cloud.githubusercontent.com/assets/629407/18735138/6dc7627a-8030-11e6-9f71-aa4d611e28d1.png)

[2016-09-22 02:58] #2477 closed, assigned to donatello

[2016-09-22 03:08] #2690 closed, assigned to hackintoshrao

[2016-09-22 03:08] #2671 closed, assigned to hackintoshrao

[2016-09-22 03:08] #2669 closed, assigned to hackintoshrao

[2016-09-22 04:41] GarimaKapoor commented on #2741
@donatello please update the timeline for the fix!

[2016-09-22 04:51] GarimaKapoor commented on #2670
@krisis what is the timeline for the fix.

[2016-09-22 04:51] GarimaKapoor commented on #2663
@krishnasrinivas what is the timeline for the fix.

[2016-09-22 17:33] #2674 closed, assigned to vadmeste

[2016-09-22 18:00] harshavardhana commented on #2743
Closing this as docker issue for now.

[2016-09-22 18:00] #2743 closed, assigned to nobody

[2016-09-22 19:15] balamurugana commented on #2455
Parallel 300 `mc cp` command ran with 88MiB file copied to different unique object on both minio2 and minio3 (600 `mc cp` in total).

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18762497/d9283b56-80bd-11e6-9d4d-42bb14a8a063.png)

minio3:
![minio3](https://cloud.githubusercontent.com/assets/629407/18762503/dd9cf4d8-80bd-11e6-9412-fd2d2386c84f.png)

[2016-09-22 19:51] donatello commented on #2741
@GarimaKapoor I believe it may take a week.

[2016-09-22 20:01] krisis opened #2760 "[distributed] Purge cached objects when disk has more recent copy"
## Expected behaviour
- Object layer cache could return stale copy of an object if the node receiving the GET request doesn't  receive the latest PUT request on the same object.
## Actual behaviour
- Object layer cache should purge its old copy of an object when discovered.
## Steps to reproduce the behaviour
- Setup:
  - 8 nodes each hosting a disk
- Issue a PUT object on node1
- Issue a PUT obje

[2016-09-22 23:22] krisis commented on #2663
@GarimaKapoor I am working on https://github.com/minio/minio/issues/2760 at the moment. I will pick this up after adding some more tests for https://github.com/minio/minio/issues/2710.

[2016-09-23 01:27] balamurugana commented on #2455
Two parallel 300 download of objects using `mc cat`

minio2:
![minio2](https://cloud.githubusercontent.com/assets/629407/18771246/2cc7b122-80f2-11e6-9fbe-9c08c58ea1cb.png)

minio3:
![minio3](https://cloud.githubusercontent.com/assets/629407/18771248/33015e1c-80f2-11e6-8bad-8c7531145575.png)

[2016-09-23 02:11] harshavardhana opened #2763 "[distributed] control lock -> prints in following format, defaults to 1 day and older"
[code]

[2016-09-23 02:12] harshavardhana opened #2764 "[distributed] controller handler verifies server versions, validate all rpc handler server versions"
controller handler verifies server versions, validate all rpc handler server versions, fail early on during startup.

[2016-09-23 02:16] harshavardhana opened #2765 "[distributed] Prepare storage should print heal message and proceed to initialize object layer"

[2016-09-23 10:31] MFrancesco commented on #1322
@MSF-Jarvis what about sharing the solution ?
Having same issure here

[2016-09-23 10:34] msfjarvis commented on #1322
I don't remember exactly, sorry about that @MFrancesco, I simply use @mholt's caddy webserver now. Relevant documentation here : https://github.com/caddyserver/examples/tree/master/minio

Thanks to @koolhead17 for the write up, tho I figured it out myself ;)

[2016-09-23 11:47] MFrancesco commented on #1322
Don't worry @MSF-Jarvis , i figured out by myself :)
I'm succesfully accessing minio through my 3d level domain without problems now.
nginx server block

[code]

starting minio as

`./minio server --address=localhost:MINIOPORT /miniofolder`

Tested and running on a scaleway instance too

[2016-09-23 12:57] matti commented on #2743
Not directly related, but I'm getting `s3: The AWS Access Key Id you provided does not exist in our records.` error from registry -- it looks like my registry is still connecting to AWS S3 and not the one defined in `regionendpoint`

any clues?

[2016-09-23 13:17] matti commented on #2743
^- it's not connecting to AWS, verified by setting asdfasdf as host

[2016-09-23 14:02] matti commented on #2743
Now I got it solved (I was running 2.2 registry...). Next up: `The Content-Md5 you specified did not match what we received` looks like https://github.com/minio/minio/issues/1603

[2016-09-23 14:04] matti commented on #1603
I'm getting `3aws: BadDigest: The Content-Md5 you specified did not match what we received.` when using minio as docker registry backend. Could this issue be back?

[2016-09-23 14:10] matti commented on #2744
I'm running `:edge` docker image and getting `s3aws: BadDigest: The Content-Md5 you specified did not match what we received` with docker registry (that uses minio as a backend) -- is this related to this?

[2016-09-23 15:39] harshavardhana commented on #2744
This is not related, can you open a separate issue and we can take a look? - Thanks

[2016-09-23 15:41] harshavardhana opened #2769 "[docs] Minio MS Windows + SSL"
Good day.
Cant start minio on Windows system with SSL - cant find any documents on it or help in minio --help
Found this topic https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio
but no instruction for MS Windows

Please, help.
Does minio can start and works through SSL?

Thanx!

[REF] - https://github.com/minio/minio/pull/2768

[2016-09-23 15:42] harshavardhana commented on #2769
Same instructions work for Windows as well @Andrey198

[2016-09-23 15:43] harshavardhana commented on #1603
@matti - you should open a new bug.

[2016-09-24 00:01] koolhead17 opened #2771 "Distributed: Minio server should notify about adding rest nodes to the cluster"
During 8 node cluster setup, when I executed below command on  one first node, it gave me no message.

 it will be good idea to have a notification msg like please add other nodes in cluster or a msg like `node 192.168.1.1` added, please add rest nodes to the cluster.

[code]

[2016-09-24 02:48] GarimaKapoor commented on #2741
@donatello if you need more help let @harshavardhana and @abperiasamy know. We should try to get it done sooner.

[2016-09-24 02:56] harshavardhana commented on #2771
This will be fixed as part of #2652

[2016-09-24 02:56] #2771 closed, assigned to nobody

[2016-09-24 02:56] harshavardhana commented on #2760
Fixed by #2770

[2016-09-24 02:56] #2760 closed, assigned to krisis

[2016-09-24 05:16] krishnasrinivas opened #2772 "[distributed] notifications and policy config in distributed XL"
notifications and policy config should be applied to all the minio servers in a cluster.

[2016-09-24 05:18] krishnasrinivas opened #2773 "[document] MINIO_* environmental variables"
document all MINIO_\* env vars like MINIO_CACHE_SIZE MINIO_FSMETA etc

[2016-09-24 05:37] harshavardhana commented on #2772
Glad you opened it, was working on a fix for this.

[2016-09-24 09:08] harshavardhana commented on #2765
Will be closed as part of - #2652

[2016-09-24 09:08] #2765 closed, assigned to harshavardhana

[2016-09-24 10:34] #2764 closed, assigned to harshavardhana

[2016-09-25 04:13] sych74 opened #2777 "docs: Deployment automation button for jelastic cloud"
Is there any interest to add a button that simplifies deployment and configuration of Minio XL in Jelastic cloud? There are many Jelastic cloud providers that offer free resources, so it should be useful for end users as they can try Minio and get an instant experience easily. There is an example of similar buttons (scroll down to Deployment section)  https://github.com/PokemonGoMap/PokemonGo-Map.

[2016-09-25 19:21] harshavardhana commented on #2777
This is a great idea indeed @sych74 - right we do have a publicly accessible server at https://play.minio.io:9000 which runs with erasure coded backend.

We are also bringing up another 8 set pine64 cluster to run Minio distributed mode.

Please let us know if there is anything needed from our end @sych74 ?

[2016-09-25 19:23] harshavardhana commented on #2772
Notifications are written to the backend so the notification.xml is erasure coded and cached as well. So all nodes do indeed see the same configuration.

There is another problem of double caching at object-handler layer which i am removing as its not needed.  On the other hand there is one more bug which Aditya is fixing which is ListenBucketNotification() in a distributed mode.

[2016-09-25 19:37] GarimaKapoor commented on #2777
@sych74 Thats a great idea. We should have deployment button for different cloud providers like Digital Ocean, Jelastic , Packet etc. Let me discuss internally and get back to you.

[2016-09-26 01:17] agamdua commented on #2611
This would be incredibly useful, I am patching a library to make the target URL configurable to support minio (and I guess other s3 compatible backends). I'm getting a 400 and even a dummy curl example would be helpful! :)

Whenever I hack on this project again, I'll try to get a working request from the AWS docs and paste it here for "posterity"

[2016-09-26 09:18] koolhead17 commented on #2611
@agamdua will get this published by this week. 👍

[2016-09-26 09:50] abperiasamy commented on #2611
We should not directly expose HTTP header access via putObject API. If we need to accept X-Amz-Meta-, then we add a new arg called meta of type map[string]string. We should also validate if all the keys have X-Amz-Meta-  prefix. My preference is to not introduce this extra arg. It encourages bad behavior. Good APIs encourage application developers to do what is correct and desired. Metadata belong

[2016-09-26 10:11] harshavardhana commented on #2611
Agreed, let's not do that.

[2016-09-26 10:21] Andrey198 commented on #2769
Good day, harshavardhana!
Thanx.
Questions for now:
 1.Can I use Self Signed certificate (private.key+public.crt) to start minio?

2.Following this https://github.com/minio/mc/issues/1220, trying to start minio

_C:\minio>minio server c:\minio\home --cert public.cert --key private.key
**Unknown flags. 'c:\minio\home, --cert, public.cert, --key, private.key'**_

but minio cant resolve flags like --

[2016-09-26 10:49] harshavardhana commented on #2769
Yes you can - all you have to do is just copy `private.key` and `public.crt`  into your '.minio' directory it is located at

[code]

These flags are not available since long time, all you need to do is just copy the certs.

Yes it should work if Symantec BE supports AWS latest signature API.

[2016-09-26 12:19] Andrey198 commented on #2769
Great! It works fine via SSL. Tanx again.

And the last questions I think:
1.How can I count PUT, COPY, POST, LIST and GET requests for minio?
2.Does minio server logging his work (log files or something else?)

Thanx, harshavardhana! Nice product!

[2016-09-26 12:24] koolhead17 commented on #2769
Hello @Andrey198
you can enable logging via .minio/config.json

[code]

You can publish Minio events to [AMQP](https://blog.minio.io/part-1-3-publish-minio-events-via-rabbitmq-8dd747632623#.4e3hg2ily), Redis or [elasticsearch](https://blog.minio.io/part-2-3-publish-minio-events-via-elasticsearch-ce7a080fa89f#.oiz9k5dl8)

Let me know if this helps.

[2016-09-26 13:02] Andrey198 commented on #2769
My config.json:

 "logger": {
        "console": {
            "enable": false,
            "level": "debug"
        },
        "file": {
            "enable": true,
            "fileName": "2log2.txt",
            "level": "debug"
        },
        "syslog": {
            "enable": false,
            "address": "",
            "level": "debug"
        }
    },

File 2log2.txt has been created, b

[2016-09-26 13:33] JaCoB1123 opened #2780 "[fs] : Relax 5% disk usage to a more cumulative number based on the total disk capacity."
## Expected behaviour

Successful start of object-storage browser
## Actual behaviour

Error: Minimum '4' disks are required to enable erasure code
## Steps to reproduce the behaviour

Start server on non-root HDD/non-home?
i.e. `minio server ~/test` works. `minio server /files/test` does not. Both are newly created, empty directories. /files is a mount-point to my big hdds
## Minio version

Versi

[2016-09-26 13:34] koolhead17 commented on #2769
@Andrey198 Let me test it on my end and get back you.

[2016-09-26 13:49] Andrey198 commented on #2769
Thanx, koolhead17
- does logging system has retension policy. I mean log rotation in Mbytes, time (for example, 1 file for 1 wekk)?

[2016-09-26 14:39] koolhead17 commented on #2769
@Andrey198 So this is how I was able to get log file read inside the file.

My config.json

[code]

Started minio server

[code]

This creates a logfile name `mylog1` in directory from where `minio` server is running.
 After this i deleted my data directory.

[code]

I was able to see the logs

[code]

RE: does logging system has retension policy:  This can be done outside minio,  some third party

[2016-09-26 15:08] Andrey198 commented on #2769
koolhead17,

i have windows minio
changed my config.json like yours, start minio with homefolder. File was created and still zero bytes in it.

Then I delete home folder and refresh web-browser. Log file has got an error message about unavailable directrory and then was terminated unexpected.

Only one message I can see in log-file: error about missed folder.

I've delete directory that maped like

[2016-09-26 15:16] koolhead17 commented on #2769
@Andrey198 so now error is getting saved to the logfile as desired, please paste the error output you got here. It will help me in debugging.

[2016-09-26 15:26] Andrey198 commented on #2769
Ok.
My envoriment (repo steps):
1. config.json

_{
    "version": "7",
    "credential": {
        "accessKey": "access",
        "secretKey": "secret"
    },
    "region": "us-east-1",
  "logger": {
        "console": {
            "enable": false,
            "level": "error"
        },
        "file": {
            "enable": true,
            "fileName": "mylog1",
            "level": "debug"

[2016-09-26 15:30] koolhead17 commented on #2769
@Andrey198 That is exactly what I got, what did we miss?

[2016-09-26 15:41] Andrey198 commented on #2769
Is it a question for me? )))
I cant tell U smth about this use-case, I just want to configure logging sub-system.
Delete datafolder is not normal.

I set debug mode to file log

_"file": {
"enable": true,
"fileName": "mylog1",
"level": "debug"
},_

Before I've delete datafolder, log-file was empty. Originally, the task was following: count PUT and GET requests during working with minio cloud stora

[2016-09-26 15:55] koolhead17 commented on #2769
@Andrey198 As you understand Minio is an Object Storage and not a normal file server. To achieve your requirement simply enable/use Minio server bucket notification method. Please go through the blog links i have referred above, this will provide you info for every upload and object delete to bucket where or on which you have applied bucket policy.

For logging the downloads @harshavardhana can an

[2016-09-26 15:58] koolhead17 commented on #2769
Can you alternatively open a new bug and close this one since this is not related to SSL anymore. IT will help us and community to search in better way. thanks again.

[2016-09-26 16:35] koolhead17 commented on #2780
@JaCoB1123 What would you like to achieve with this? You can run Minio as a standalone FS as well as distributed.

To run it as a standalone FS, all you need to do is to run `minio server datadir`

To run it as a distributed store with Erasure code backend, at-east  4 disc or node will be needed. In your case  the command will be like  `$ minio server /mnt/export1/backend /mnt/export2/backend /mnt

[2016-09-26 17:12] harshavardhana commented on #2769
You have to enable bucket notifications easiest way to achieve this is using 'mc watch' - https://docs.minio.io/docs/minio-client-complete-guide#watch

Server can log to console, file and syslog (not on windows)

[2016-09-26 17:55] harshavardhana commented on #2780
Was able to run with latest `minio server ~/test`  - are you sure you were not running the same path for XL?

[2016-09-26 19:49] harshavardhana opened #2781 "docs: Configure Minio using distributed filesystem backend load balancing with traefik?"
Document using distributed filesystem backend with multiple minio servers. With single writers and many readers.

[2016-09-26 19:50] harshavardhana opened #2782 "[fs] Initialize '.minio.sys' as a separate directory '.minio.sys.<uuid>' and rename to '.minio.sys'"

[2016-09-26 19:50] JaCoB1123 commented on #2780
@koolhead17 @harshavardhana
As written above it works as "standalone FS" when I use a path in my home-directory (e.g. `~/test`). As soon as I specify a single path on my other filesystem (`/files/test`) I get the error I mentioned above. I can't use a path in my homedir, since the filesystem is too small.

Is there a special flag to force the standalone FS?

Here's a full log of my tries:

[code]

[2016-09-26 19:57] harshavardhana commented on #2780
This is not supported anymore you cannot change the 'min-free-disk' value that is why `minio server` treating them as disk arguments and reporting that you need minimum of 4 disks.

Here the total storage usage has reached minimum allowed i.e 5%  you might want to delete a few files. Can you do 'df -h' and see ?

[2016-09-26 20:05] vadmeste opened #2783 "Add support of nats.io for bucket notification"
http://nats.io/

[2016-09-26 20:32] harshavardhana commented on #2749
Have a fix for this in patch #2731 we are going to do this using MINIO_SECURE_CONSOLE env variable.

[2016-09-26 20:32] JaCoB1123 commented on #2780
[code]

The 5% Threshold is really unfortunate. I still have 478G free which is more than enough for my needs.

[2016-09-26 20:44] harshavardhana commented on #2780
I see we can fix this by doing a dynamic allocation based on the disk size and have a algorithm percentile which proportionately scales.  Will fix it thanks for reporting the requirements @JaCoB1123

[2016-09-26 20:58] JaCoB1123 commented on #2780
Thanks, sounds good.
I worked around this now by setting the `fsMinSpacePercent` to 1.

[2016-09-26 22:37] zquestz commented on #2749
Sounds good to me. =)

[2016-09-26 22:37] #2749 closed, assigned to harshavardhana

[2016-09-27 05:56] donatello commented on #2739
I could take this up and support for mysql too if desired.

[2016-09-27 06:02] harshavardhana commented on #2739
We will be only doing postgres only not mysql - mysql is going proprietary route.  Reassigned to you.

[2016-09-27 10:05] Andrey198 opened #2785 "Logging events on all buckets"
Good day, fox!
I need to log every event, or just PUT for example, on all home folder that ships all buckets in there.

For now, i'm started minio in Win64

_minio server c:\minio\home_

Then I've installed elasticsearch and add watch on current bucket.

_mc events add  myminio/asd24 arn:minio:sqs:us-east-1:1:elasticsearch --events put_

 I've see indexes, like wrote here https://blog.minio.io/par

[2016-09-27 10:53] hackintoshrao commented on #2730
- The issue is not seen after 2 equally powerful nodes are used for experimentation.
- Previously the setup has one XEON based node and the other was ATOM based.
- When both the nodes were made to use XEON based powerful machines, the issue is not seen.
  This is can be closed.

[2016-09-27 12:44] Andrey198 opened #2786 "s3 browser and minio"
Good day again.

Somebody friends S3 browser (http://s3browser.com/) and minio?

When I try to do it, I've had a response from browser:

Server response: InvalidRequest: The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256

I've used minio over SelfSigned SSL and just over HTTP

Can anybody share with the way to get connect to minio via this broweser?
Thanx

[2016-09-27 13:02] hackintoshrao commented on #2786
Hello @Andrey198 : `Server response: InvalidRequest: The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256` ,

From the above error response it looks like the `S3 Browser` client is using V2 signature version, Minio only supports V4 signature version.
- You can use [v2->v4 proxy](https://github.com/minio/s3v2tov4-proxy) to get Minio to work with any V2 signatu

[2016-09-27 14:11] Andrey198 commented on #2786
Thanx.

[2016-09-27 14:11] #2786 closed, assigned to nobody

[2016-09-27 14:13] Andrey198 commented on #2769
Thax. SSL work perfect, other discussion in another issue.

Please, close issue. I cant do that

[2016-09-27 17:58] harshavardhana commented on #2730
Closing..

[2016-09-27 17:58] #2730 closed, assigned to krisis

[2016-09-27 17:59] harshavardhana commented on #2785
If you want to log events on all buckets you need to enable notification for all buckets individually. @Andrey198 . This is similar to S3 specification.

[2016-09-27 17:59] harshavardhana commented on #2785
You can't monitor events of bucket creation.

[2016-09-27 18:00] harshavardhana commented on #2785
This can be achieved through the application making the request itself rather than asking the server.  In anycase Put and Delete are only supported for more information you can read here - http://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html

[2016-09-27 18:02] harshavardhana commented on #2769
Thanks. @Andrey198

[2016-09-27 18:02] #2769 closed, assigned to koolhead17

[2016-09-27 19:41] betabrain opened #2793 "[doc] Test and validate Arq backup software with Minio"
[Arq](https://www.arqbackup.com/) is a commercial backup app. It supports S3 and S3-compatible storage endpoints, e.g. Dreamhost. There is a free trial version available for testing.
## Expected behaviour

Minio and Arq should be compatible.
## Actual behaviour

At the end of the configuration step Arq tries to create a bucket. It fails and reports this error:

I replicated this with every key/sec

[2016-09-27 19:46] #2780 closed, assigned to vadmeste

[2016-09-27 20:29] harshavardhana commented on #2793
There is a bug that was fixed recently in release branch which must be something related to this issue,  are you using the binary or docker image @betabrain ?

[2016-09-27 21:46] donatello commented on #2661
This can be closed now.

[2016-09-27 22:37] olalonde opened #2796 "Docker-compose"
Not really an issue but thought I'd share my docker-compose setup here in case it's useful to others.

[code]

[code]

[2016-09-27 22:38] #2796 closed, assigned to nobody

[2016-09-27 22:44] #2661 closed, assigned to donatello

[2016-09-28 01:24] olalonde opened #2798 "Minio ignores/overrides Content Type specified at upload"
## Expected behaviour

If the Content Type is passed when uploading an object, Minio should not attempt to double guess it / ignore it.
## Actual behaviour

I'm setting a custom Content Type when putting an object but subsequent calls to HEAD/GET return a different Content Type.
## Steps to reproduce the behaviour

I'm putting an object (using aws-sdk-js) with the following params:

[code]

Head r

[2016-09-28 05:23] betabrain commented on #2793
I use the binary installed by Homebrew. Here is the relevant section from `brew info minio`:

[2016-09-28 06:12] deekoder opened #2799 "Remove ?update=yes from update URLs"
- Does not work well with wget.

[2016-09-28 07:42] krishnasrinivas opened #2800 "Nightly builds for minio"
Support nightly builds for minio so that if we want some user to try latest master (for ex. https://github.com/minio/minio/issues/2793) then the user does not need to install Go to compile and try latest minio, we can point him to the latest nightly binary for the user to try it out. We can keep a cache of last 7 days builds.

[2016-09-28 07:42] harshavardhana commented on #2800
We can do this with travis and appveyor artifacts for each commit.

[2016-09-28 08:09] harshavardhana commented on #2793
Attaching a new binary for your testing, can you validate this on your end with Arq? - Thanks.

[minio.gz](https://github.com/minio/minio/files/497428/minio.gz)

[2016-09-28 08:20] harshavardhana commented on #2773
This not only needs to be fixed with our docs.minio.io, we also need to update 'minio server' cli docs. We should also look at removing unnecessary env vars if not needed.

[2016-09-28 08:22] harshavardhana commented on #2748
Were you able to validate this @krishnasrinivas ?

[2016-09-28 08:25] harshavardhana commented on #2629
This was decided to be closed, we can open this discussion back if it becomes a priority.

[2016-09-28 08:25] #2629 closed, assigned to fwessels

[2016-09-28 08:26] harshavardhana commented on #2636
New dsync changes are already in master, closing this.

[2016-09-28 08:26] #2636 closed, assigned to fwessels

[2016-09-28 08:27] harshavardhana commented on #1858
This has been implemented and integrated into browser. Closing

[2016-09-28 08:27] #1858 closed, assigned to balamurugana, rushenn

[2016-09-28 08:28] harshavardhana commented on #1859
Can this be closed? @krishnasrinivas

[2016-09-28 08:33] betabrain commented on #2793
I keep getting the same error.

[2016-09-28 08:34] rushenn commented on #1859
Delete functionality is done and right now I'm working on styling. I think multi select feature is yet to be done.

[2016-09-28 09:00] krishnasrinivas commented on #2793
@betabrain can you paste the server log? it should print the request headers

[2016-09-28 09:41] #2799 closed, assigned to harshavardhana

[2016-09-28 10:39] betabrain commented on #2793
Had to first enable logging... Here is my [config.json](https://gist.github.com/betabrain/096204d2f627c54be0140fe90cebc5e8). **The error above failed to log anything.**

I noticed that Arq detects existing test buckets. I selected an empty bucket, which let me progress for one step. When Arq tried uploading the first file, the following appeared on the console:

`{"cause":"Signature does not match

[2016-09-28 11:03] betabrain commented on #2793
I broke out [ngrok](https://ngrok.com/) to intercept the connection. Here are the results:

## Enumerating Buckets (Success)

**Request:**

[code]

**Response:**

[code]

## Creating a Bucket (Failure)

**Request:**

[code]

**Response:**

[code]

## Upload a File (Failure)

**Request (headers only):**

[code]

**Response:**

[code]

[2016-09-28 11:05] betabrain commented on #2793
I just noticed that `X-` headers are sometimes in lowercase, sometimes in uppercase. How does Minio handle that?

[2016-09-28 11:30] koolhead17 commented on #2781
@krishnasrinivas will need some help with you on this to understand scenario clearly. 😄

[2016-09-28 11:31] koolhead17 commented on #2773
@GarimaKapoor will need your advice on where to get this added in docs.minio.io also @harshavardhana what part of code will get me all these infos so that i can get it documented.

[2016-09-28 11:59] krishnasrinivas commented on #2793
minio handles those things fine.

[2016-09-28 12:00] krishnasrinivas commented on #2793
Note: Minio is latest on master branch.

@betabrain can someone from Arq take a look at this log too?

I installed Arq on Mac, it was able to connect and create some initial files:

[code]

But when I tried to backup, i got this in the Arq's error log:

[code]

These are the http request-response logs:

[code]

[2016-09-28 12:13] betabrain commented on #2793
Inviting @sreitshamer (Arq's author)

[2016-09-28 12:20] krishnasrinivas commented on #2781
@harshavardhana even single writer and multiple readers can be potentially risky. Because reader's read lock and writer's write lock would both succeed.

Taking one particular example:
reader does rlock() on an object and starts streaming it.
inbetween, the writer overwrites this object (because lock() would succeed as it is a different process)
now the reader will stream contents from the new obj

[2016-09-28 12:21] krishnasrinivas commented on #2781
only multiple readers with no writers at all is safe.

[2016-09-28 12:23] krishnasrinivas commented on #2773
list:

MINIO_ENABLE_FSMETA
MINIO_TRACE
MINIO_PROFILER
MINIO_BROWSER
MINIO_ACCESS_KEY
MINIO_SECRET_KEY
MINIO_CACHE_SIZE
MINIO_CACHE_EXPIRY
MINIO_MAXCONN
MINIO_PROFILE_DIR

[2016-09-28 12:27] koolhead17 commented on #2773
Thanks @krishnasrinivas

[2016-09-28 12:36] Andrey198 commented on #2785
Thanx!

[2016-09-28 12:36] #2785 closed, assigned to nobody

[2016-09-28 14:26] vadmeste commented on #2798
[code]

output:

[code]

@olalonde, I tested the above javascript code against minio:edge docker image (with docker-compose) and it works as expected. Could you paste your code ?

[2016-09-28 18:19] #2663 closed, assigned to krisis

[2016-09-28 18:28] harshavardhana commented on #2781
This is upto the application to decide an object that is being written should never be read, our documentation here is about how to use traefik to channel writers to one server and all reads to other servers. We are not solving the conflicts problem here application still needs to hold a lock and synchronize.

[2016-09-28 18:59] hernandev commented on #2748
Hey guys,  gonna take a few minutes later today to test it all again, and provide more details.

[2016-09-28 23:04] #1293 closed, assigned to harshavardhana

[2016-09-28 23:20] harshavardhana commented on #2800
Looks like it is more complicated than predicted on CI's.

After discussing with @abperiasamy suggestion is that we do this on-demand depending on when user asked or asking them to do 'go get' if they already have Go installed.  The accumulation of these builds might not be worth the effort since we will be making frequent releases.

[2016-09-28 23:20] #2800 closed, assigned to harshavardhana

[2016-09-29 02:49] olalonde commented on #2798
@vadmeste I don't know what I was smoking yesterday but I just re-ran the same code and it is now working as expected (still ~same code and on the same minio/minio container). Perhaps it's a difficult to reproduce bug (involving lots of overwrites to the same key, because my tests were doing that by auto running every time I save a file in vim) or maybe I was just too tired yesterday and missed so

[2016-09-29 02:49] #2798 closed, assigned to vadmeste

[2016-09-29 03:11] harshavardhana commented on #2798
Thanks @olalonde

[2016-09-29 03:14] harshavardhana opened #2804 "signature: Streaming signature sporadic issue not reproducible always."
--- FAIL: TestAPIPutObjectStreamSigV4Handler (0.03s)
    object-handlers_test.go:281: Test 2: Expected the response status to be `200`, but instead found `500`
    object-handlers_test.go:291: Test 2: FS: Object content differs from expected value.: <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>InternalError</Code><Message>We encountered an internal error, please try again.</Message>

[2016-09-29 07:53] zhanjiejun opened #2808 "May I use the method "presignedGetObject" to get a permanent url?"
I want a url to get Object without a expired time, what should I do?

[2016-09-29 08:08] harshavardhana commented on #2808
You should use 'mc policy' to set bucket policies on your bucket.  @zhanjiejun

[2016-09-29 08:09] harshavardhana commented on #2808
Relevant documentation https://docs.minio.io/docs/minio-client-complete-guide#policy @zhanjiejun

[2016-09-29 10:25] vadmeste commented on #2782
Looks like we need to add RenameVol to storage interface to make an atomic rename. What do you think?

[2016-09-29 10:45] krishnasrinivas opened #2809 "doc: document that watch is supported only for minio storage and not aws-s3"
Update the doc mentioning that  `mc mirror -w` does not work for aws-s3 and works only for minio.

[2016-09-29 10:48] koolhead17 commented on #2809
@krishnasrinivas assign this to me for the docs, I will add a note mentioning only supported for Minio server not AWS S3. 😄

[2016-09-29 10:53] krishnasrinivas commented on #2809
@koolhead17 reopened the bug on mc, updated this issue to be a doc bug

[2016-09-29 10:53] koolhead17 commented on #2809
👍

[2016-09-29 11:06] krisis commented on #2782
@harshavardhana @vadmeste, what is the motivation behind this issue?

[2016-09-29 12:07] vadmeste commented on #2782
@krisis, I guess data consistency inside .minio.sys

[2016-09-29 21:34] harshavardhana commented on #2697
ping @krishnasrinivas are you working on this? - can take over if you are busy with other things.

[2016-09-29 23:14] donatello commented on #2782
With a shared backend (e.g. same NFS directory) for multiple Minio servers in FS mode we want to work sanely. Different Minio servers are not cluster aware in this case. User will need to shape traffic, so that writes to a bucket always comes to the same server. Then all features should work.

This change makes sure that the system directory names don't clash.

[2016-09-30 01:17] zhanjiejun commented on #2808
Does the method "presignedPostPolicy" in Java Client API provide the same functionality?

[2016-09-30 01:20] harshavardhana commented on #2808
No it should be https://docs.minio.io/docs/javascript-client-api-reference#setBucketPolicy

[2016-09-30 01:24] zhanjiejun commented on #2808
Thx :)
But it's a javascript client api, what I want is **java client api**

[2016-09-30 02:16] harshavardhana commented on #2808
Sorry read it wrong here you go https://docs.minio.io/docs/java-client-api-reference#setBucketPolicy

[2016-09-30 03:05] zhanjiejun commented on #2808
Thank you very much ^^
I used to use version 2.0.1 and didn't see the method

[2016-09-30 03:05] #2808 closed, assigned to koolhead17

[2016-09-30 05:38] krishnasrinivas commented on #2697
@harshavardhana working on this now

[2016-09-30 06:25] harshavardhana commented on #2697
Okay.

[2016-09-30 06:41] zhanjiejun commented on #2808
Sorry to say that T_T
I see the method "setBucketPolicy" and "getBucketPolicy".
The method "getBucketPolicy" return a object of enum BucketPolicy, it doesn't provide any useful method.
Is there any sample can be used as reference?

[2016-09-30 06:42] #2783 closed, assigned to vadmeste

[2016-09-30 06:47] harshavardhana commented on #2808
- https://github.com/minio/minio-java/blob/master/examples/GetBucketPolicy.java
- https://github.com/minio/minio-java/blob/master/examples/SetBucketPolicy.java

GetBucketPolicy is to fetch and display type of policy configured on the server.  That is the only purpose of that API.

You can look at how to build proper Photo app
- https://github.com/minio/minio-java-rest-example

[2016-09-30 06:50] harshavardhana commented on #2808
Once you have set bucket policy as 'read-only' for a prefix or a bucket then you can access the URL publicly without using Presigned operations

[code]

Now say your endpoint is 'http://10.1.10.1:9000" then you can access any objects uploaded inside the "prefix" downloads as

[code]

[2016-09-30 06:58] zhanjiejun commented on #2808
appreciate you providing me these informations.
i'll try it right now.
Thank you again ^^

[2016-09-30 09:06] krishnasrinivas opened #2812 "Relax object name restrictions and fail at lower levels based on capabilities of backend"
An issue was reported where object name with ^ was not being created, check if it should be allowed.

[2016-09-30 10:12] koolhead17 commented on #2812
@krishnasrinivas http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html  AWS is suggesting not to use Caret ("^")

`You should avoid the following characters in a key name because of significant special handling for consistency across all applications`

[2016-09-30 10:18] krishnasrinivas commented on #2812
@koolhead17 thanks

[2016-09-30 10:35] koolhead17 commented on #2809
can be closed via https://github.com/minio/mc/pull/1842

[2016-09-30 10:36] gowithplanb commented on #2812
The actual error (sensitive data has been replaced by XXX):

Sep 30 10:32:36 scp01 minio[1208]: {"cause":"Object name invalid: BUCKETNAME#XXX/XXX/XXX/XXX/XXX/XXX/XXX/XXX/XXX/XXX/XXX/b674e8220cfbee7d2d3dc6dfd2be8354^ff99f41357b1590715662e995b7c823f9704103c.XXX.XXX;XXX.XXX:/20160914090540/b674e8220cfbee7d2d3dc6dfd2be8354^ff99f41357b1590715662e995b7c823f9704103c.XXX.XXX;XXX.XXX","level":"error","msg"

[2016-09-30 10:39] gowithplanb commented on #2812
@koolhead17 Thanks for pointing out the AWS document. I'm not sure if AWS S3 means to actually refuse objects that contain a carret symbol rather than to -avoid- (which has a different meaning to it) because it may interfere cross application. Minio just refuses it.

[2016-09-30 10:52] krishnasrinivas commented on #2812
file system can accomodate `^` though @harshavardhana what do you think

`mc cp /etc/passwd s3/kline/a^b` works fine

[2016-09-30 16:13] #2809 closed, assigned to koolhead17

[2016-09-30 16:38] harshavardhana commented on #2812
We are reading the document as not just a warning but just avoid in general these special characters which do not add much value in the object name.

We need to verify if caret works for windows as directories and files, we can still relax this at object layer. Lower levels might fail if they don't support it independently.

[2016-09-30 22:46] #1860 closed, assigned to krishnasrinivas, rushenn

[2016-09-30 22:47] harshavardhana commented on #1860
This has been fixed

https://github.com/minio/miniobrowser/pull/202
https://github.com/minio/miniobrowser/pull/201
https://github.com/minio/miniobrowser/pull/200
https://github.com/minio/miniobrowser/pull/196

[2016-09-30 23:56] #2812 closed, assigned to harshavardhana

[2016-10-01 00:11] harshavardhana opened #2815 "[distributed] review all logging messages across codebase."

[2016-10-01 00:16] harshavardhana opened #2816 "[web/rpc] Bucket policy readwrite/readonly should allow access to objects without login through browser."

[2016-10-01 00:16] harshavardhana opened #2817 "browser: Multi selection of objects should download all of them as a zipped file."

[2016-10-01 01:37] harshavardhana opened #2818 "[distributed] Browser token is set to 100yrs fix it."

[2016-10-01 01:40] harshavardhana commented on #2741
Closing in favor of #2772

[2016-10-01 01:40] #2741 closed, assigned to donatello

[2016-10-01 01:52] harshavardhana commented on #2662
Closing in favor of #2621

[2016-10-01 01:52] #2662 closed, assigned to harshavardhana

[2016-10-01 01:54] GarimaKapoor commented on #2685
@fwessels can you take a look at this?

[2016-10-01 01:57] harshavardhana commented on #2463
Fixed in master branch.

[2016-10-01 01:57] #2463 closed, assigned to vadmeste

[2016-10-01 02:10] harshavardhana commented on #2466
Closing in future to explore prometheus.

[2016-10-01 02:10] #2466 closed, assigned to hackintoshrao

[2016-10-01 11:55] fwessels commented on #2685
Yes, I will relax the read quorum (in dsync) to N/2

[2016-10-01 12:39] krishnasrinivas opened #2820 "[distributed] policy applied to one server does not work in another"
[code]

`curl localhost:9001/test1/passwd` works but `curl localhost:9002/test1/passwd` does not

[code]

[2016-10-01 15:23] #2670 closed, assigned to krisis

[2016-10-01 15:33] harshavardhana commented on #2820
Closing this in favor of #2772

[2016-10-01 15:33] #2820 closed, assigned to nobody

[2016-10-01 16:00] vadmeste opened #2822 "policy: minio shows policy nesting error when it shouldn't"
This is the comparaison between the behavior of play and aws:

[code]

[code]

[2016-10-01 16:24] harshavardhana commented on #2822
How was the previous policy created on `inexistent` was / used as suffix or no ?

[2016-10-01 16:26] harshavardhana commented on #2822
Like `mc policy download play/testbucket/inexistent/` or `mc policy download play/testbucket/inexistent` observe lack of / ?

[2016-10-01 16:33] vadmeste commented on #2822
Yes. '/' was used as a suffix to create policy related to inexistent

This is a more complete scenario:

[code]

[code]

[2016-10-01 16:36] harshavardhana commented on #2822
This is a bug.

[2016-10-02 04:30] #2822 closed, assigned to vadmeste

[2016-10-03 05:10] hackintoshrao commented on #2455
Here is the result of the stress test with its memory profiling,
- Setup Details
  - 2 node setup with 4 drives.
  - Minio 2 and Minio3 are the nodes with the server running.
  - 200 parallel Get Object of 1GB is generated from Minio1 for each Minio2 and Minio3 ( 400 requests in total)
- Results
  - Load test on both Minio2 and Minio3 finished in approximately 20 minutes.
  - Memory usage peaked t

[2016-10-03 05:48] harshavardhana commented on #2455
This is a great test @hackintoshrao and nice to really know the performance of the system.

[2016-10-03 05:48] harshavardhana commented on #2455
Was caching disabled? @hackintoshrao

[2016-10-03 05:59] hackintoshrao commented on #2455
@harshavardhana : Yes, caching was disabled.

[2016-10-03 07:13] krishnasrinivas opened #2825 "docs: document distributed Minio deployment using kubernetes (k8s)"

[2016-10-03 07:59] koolhead17 commented on #2825
I am working on  kubernetes, would love to take this task. 😄
cc: @GarimaKapoor @harshavardhana

[2016-10-03 11:01] krishnasrinivas commented on #2697
closed by https://github.com/minio/minio/pull/2813

[2016-10-03 11:01] #2697 closed, assigned to krishnasrinivas

[2016-10-03 15:22] Andrey198 opened #2827 "validate SSL on CentOS"
Good day to all!

Now I cant start minio with SSL

Here instruction https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio

after

 ./minio server directory/

Minio started on HTTP

How can I troubleshoot it?

p.s. enabled logging in config like:

"console":{
"enable":true,
"level": ""debug
}

but no messages about cert error

What I missed

Thanx

[2016-10-03 15:26] krishnasrinivas opened #2828 "go test prints too many error messages"
go test should output only in case of test failures

[code]

[2016-10-03 15:34] krishnasrinivas commented on #2827
@Andrey198 can you paste the output of `ls ~/.minio/certs/`

[2016-10-03 15:38] Andrey198 commented on #2827
Here ls command:

_private.key public.crt_

[2016-10-03 15:42] Andrey198 commented on #2827
p.s. This key I buy with SSL certificate

[2016-10-03 15:54] #2672 closed, assigned to krisis

[2016-10-03 16:24] harshavardhana commented on #2828
These messages are not printed by the tests themselves but instead of our server code, also you should use 'make test' not 'go test'

[2016-10-03 16:28] harshavardhana commented on #2827
@Andrey198 are you sure 'certs' are in the right directory and have right permissions for 'minio server' to access?  -  We have a running server at https://play.minio.io:9000 with SSL so it shouldn't be a problem.

[2016-10-03 16:34] Andrey198 commented on #2827
My minio is inside /etc/minio

folder with certs - ".minio" in /root/.minio/certs

Is it correct?

[2016-10-03 16:40] harshavardhana commented on #2827
No you need to have 'certs' inside '/etc/minio'

[2016-10-03 17:09] sych74 opened #2829 "docs: Questions on load testing tool and other resources Minio server uses"
We are going to publish an article about minio xl at our blog soon, but we are missing some information about resource usage under the load. In other words we want to figure out how much resources minio server consumes at different level of the load. Do you have any preconfigured load testing tool? If you use something for internal load testing then I believe we can set it on an environment inside

[2016-10-03 17:16] Andrey198 commented on #2827
What I ve did wrong?

http://s020.radikal.ru/i707/1610/8f/d62adc4349d8.png

[2016-10-03 17:43] harshavardhana commented on #2829
The things to know about minio server in default configuration
- MINIO_CACHE_SIZE defaults to 8GB if RAM size is smaller than 8GB  -  80% of the RAM size is used instead.
- MINIO_CACHE_EXPIRY defaults to 72hrs.
- MINIO_MAXCONN to limit number of concurrent requests to be served by default it is unlimited.

These values can be configured to any value depending on the load and can be configured base

[2016-10-03 17:45] Andrey198 commented on #2827
U've wrote that 'certs' have to be in .minio config folder

_https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio

$ cp my-certs/private.key /home/supernova/.minio/certs/
$ cp my-certs/public.crt /home/supernova/.minio/certs/_

Is it wrong?

[2016-10-03 17:54] harshavardhana commented on #2829
Now if you wish to generate profiles and understand the overall system behavior we use Go's standard profiling mechanism.

Set  `MINIO_PROFILER=mem|cpu|block`  memory, cpu and block profiling when running load tests to help generate profiler details. TO generate these profiles in a custom directory use `MINIO_PROFILE_DIR`. These graphs and values provide better indication of bottlenecks and load.

[2016-10-03 17:54] badscooter23 opened #2830 "Minio does not recognize directories with " "'s as buckets..."
## Expected behaviour

I am not 100% sure what the expected behavior should be... see below
## Actual behaviour

Start minio server ...
minio*\* server ~/foo

Suppose the datasets dir contained the following sub-directories...

sub dir 1
sub-dir-2

sub-dir-2 (with the dashes) will show up as a bucket in Minio (client or cli)...
"sub dir 1" (with blanks instead of dashes) will not show up in Minio

[2016-10-03 17:58] harshavardhana commented on #2827
Certs folder is referenced from the config folder for example like this here is the local configuration of HTTPS how it looks like.

[code]

[code]

Now you are keeping configs in a separate folder for example '/etc/minio' then you should do

[code]

In this case minio server is looking for `certs` inside '/etc/minio' -  make sure to keep 'certs' inside '/etc/minio'

[2016-10-03 18:02] harshavardhana commented on #2830
http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html - the bucket restrictions.  We can warn but we avoided any form of logging unless it is really useful in this case we can warn.

No this we won't do.

Yes it is correct.

Buckets have limitations in terms of how it is named but you can have prefixes or objects which can carry spaces.

[code]

[2016-10-03 18:04] Andrey198 commented on #2827
./minio server --config-dir /etc/minio

Answer: Unknown flags. '--config-dir, /etc/minio/'

Am I have to run it in utility "mc"? Or I have to set config-dir via ./minio start server?

Thanx

[2016-10-03 18:12] sych74 commented on #2829
Thanks for the prompt reply. The details are helpful. So, how much resources you recommend to allocate for an instance by default - 20GB RAM? I understand that it depends on the load, but default configs are always present usually.

Also if you have any "ready-to-use" testing solution then it will be easier to change url link to the remote minio server and run set of the tests on the env hosted in

[2016-10-03 18:16] harshavardhana commented on #2827
@Andrey198 './minio --config-dir /etc/minio server <testdir>'

[2016-10-03 18:22] badscooter23 opened #2831 "browser: Appears to timeout on bucket with large number of files (intermittent)"
## Expected behaviour

It would be better if the client did not time out ... :(

For directories / buckets with LARGE numbers of files there is probably a more user friendly behavior (perhaps warning the user that it will take a long time to render, rendering the list a "page" at a time, allowing the user some control over the behavior, etc).
## Actual behaviour

On a test minio system (small/lapt

[2016-10-03 18:30] vadmeste commented on #2831
Did you mean Minio Browser ? Minio Client has another meaning (https://docs.minio.io/docs/minio-client-quickstart-guide)

You are running an outdated version of Minio, can you download the last version and test again? ( https://www.minio.io/downloads/ )

[2016-10-03 18:34] badscooter23 commented on #2831
Yes... sorry for the confusion.. I meant Minio Browser (not Minio Client); I'll try a newer version when  I get a chance and update the results here...

[2016-10-03 18:53] harshavardhana commented on #2831
The error listing might be because browser listing is not efficient yet since it waits for the entire list, we are fixing that  - https://github.com/minio/miniobrowser/issues/189

[2016-10-03 18:58] badscooter23 commented on #2831
I retested with the latest version

./minio version
Version: 2016-09-11T17:42:18Z
Release-Tag: RELEASE.2016-09-11T17-42-18Z
Commit-ID: 85e2d886bcb005d49f3876d6849a2b5a55e03cd3

The behavior is the same...
I agree that, based on the symptom, it is likely that the timeout is caused by waiting for the entire list  ... so the new version will likely address the problem...

[2016-10-03 19:03] harshavardhana opened #2832 "[fs] warn users about buckets being skipped in a more friendlier manner."
http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html
- Bucket names must be at least 3 and no more than 63 characters long.
- Bucket names must be a series of one or more labels. Adjacent labels are separated by a single period (.). Bucket names can contain lowercase letters, numbers, and hyphens. Each label must start and end with a lowercase letter or a number.
- Bucket names m

[2016-10-03 19:03] harshavardhana commented on #2830
Closing this added a new bug - https://github.com/minio/minio/issues/2832

[2016-10-03 19:03] #2830 closed, assigned to nobody

[2016-10-03 19:05] harshavardhana commented on #2829
20GB is plenty but this depends on the load.

We don't have any testing solution we just use 'aws cli' and 'mc' , but we have plans to implement and we haven't prioritized it yet.

[2016-10-03 19:09] harshavardhana commented on #2827
@Andrey198 were you able to use './minio --config-dir' ?

[2016-10-04 02:24] #2828 closed, assigned to nobody

[2016-10-04 02:51] hackintoshrao commented on #2455
Here are the mem profiles taken on both nodes under the same load as mentioned above,
- Profile on Minio2 node

  [4-10-mem2.pdf](https://github.com/minio/minio/files/507591/4-10-mem2.pdf)
- Profile on Minio3 node

  [4-10-mem1.pdf](https://github.com/minio/minio/files/507593/4-10-mem1.pdf)

[2016-10-04 05:59] harshavardhana commented on #2804
// cc @krisis

[2016-10-04 06:44] Andrey198 commented on #2827
Config-dir is worked for me, but still cant start minio over SSL :-(
No SSL on CentOS?

http://s017.radikal.ru/i440/1610/ad/b5b6ecd37ebf.png

[2016-10-04 07:09] harshavardhana commented on #2827
We will investigate further can you provide more details on the setup?

[2016-10-04 07:10] harshavardhana opened #2836 "print SSL cert expiry during server start if configured with SSL"
## Expected behaviour

Prints expiry information from SSL certs.
## Actual behaviour

Does not print anything.
## Minio version

All minio version.

[2016-10-04 07:18] muminoff opened #2837 "Endpoint gets redirected when server started with browser disabled"
## Expected behaviour

Endpoint shouldn't be redirected to `/minio`
## Actual behaviour

Started minio server with browser disabled, but default endpoint URL is getting redirected to `/minio`
## Steps to reproduce the behaviour

[code]

⬆️  `curl` seems to be acting good, but browsers (Chrome, Safari, Firefox) are getting redirected.

See screenshots below:

![chrome](https://cloud.githubuserconte

[2016-10-04 07:20] muminoff commented on #2837
Please, note browsers are started with private/incognito mode to prevent using cache.

[2016-10-04 07:21] hackintoshrao opened #2838 "tests: Need better coverage for signature-verify-reader.go"

[2016-10-04 07:23] hackintoshrao opened #2839 "tests: Need better coverage for lock-rpc-server.go and lock-rpc-server-common.go"

[2016-10-04 07:25] hackintoshrao opened #2840 "tests: Need better coverage for control-heal-main.go"

[2016-10-04 07:26] hackintoshrao opened #2841 "tests: Need better coverage for bucket-policy-handler.go."

[2016-10-04 07:30] hackintoshrao opened #2842 "tests: Need test for xlObject.HealObject function."

[2016-10-04 07:41] swimablefish opened #2843 "can't push docker image with 5G+ layer"
## Expected behaviour

when use docker registry, can push docker  image with 5G+ layer
## Actual behaviour

time="2016-10-04T05:11:31Z" level=error msg="response completed with error" err.code=unknown err.detail="s3aws: EntityTooLarge: Your proposed upload exceeds the maximum allowed object size.\n\tstatus code: 400, request id: 5TRXC53B06CA64R3" err.message="unknown error" go.version=go1.
## Step

[2016-10-04 07:43] hackintoshrao opened #2844 "tests/bench: move to table driven benchmarks."
The table driven benchmarking facility which comes with Go 1.7 makes the setup for similar benchmarks ( BenchmarkGetOjbect\* , BenchmarkPutObject*) easier, also maintainance and readability of table driven benchmarks is higher, should make changes to Benchmark to use those facilities/style.

[2016-10-04 07:54] harshavardhana commented on #2843
This seems like you are using really old version of Minio can you try the latest? https://minio.io/downloads ?

[2016-10-04 07:55] harshavardhana commented on #2838
This file will be removed.. Closing.

[2016-10-04 07:55] #2838 closed, assigned to nobody

[2016-10-04 07:56] harshavardhana commented on #2839
This is validated by - https://github.com/minio/dsync/tree/master/chaos //cc @fwessels - but we need to explore if there are ways to write tests for these as well.

[2016-10-04 07:57] harshavardhana commented on #2844
Not part of distributed release, moving this to future.

[2016-10-04 08:46] Andrey198 commented on #2827
Harshavardhana, I've started minio over HTTPS on CentOS. Thank U!

What i've done:
- aim to new config-dir
- delete folder "certs"
- create new "certs" folder and copy once againt private.key and public.crt

What I had find out:
- version of minio was 6. Upgraded it to 7,
- in folder certs after many manipulations, i found that private.key and public.crt are the folders too (not files). In each on

[2016-10-04 10:07] hackintoshrao commented on #2453
Here is the result of the stress test with its memory profiling,
- Setup Details
  - 2 node setup with 4 drives.
  - Minio 2 and Minio3 are the nodes with the server running.
  - 200 parallel Get Object of 1GB is generated from Minio1 for each Minio2 and Minio3 ( 400 requests in total)
- Results
  - Load test on both Minio2 and Minio3 finished in approximately 20 minutes.
  - Memory usage peaked t

[2016-10-04 11:16] kuatro opened #2845 "Can I disable authentication for GET requests to particular bucket?"
Is there any way to disable authentication for direct browser request if I don't want to trigger my web app on every `GET /some_file.jpg` request? I think it's going to be a good approach to store and deliver static content as precompiled images, CSS, JS etc.

[2016-10-04 11:42] Andrey198 opened #2846 "Upload folder with files via CyberDuck"
Good day.

Trying to upload folder with files in it via CyberDuck.
It returns an error: _Object contains unsupported characters. Unsupported characters are '^*|._

In minio console (Windows server) i've got:
_{"cause":"Object name invalid: asf.s#en-us/","level":"error","msg":"Unable to create an object.","time":"2016-10-04T14:36:27+03:00"}_

In this test-case: **asf.s** - already created bucket be

[2016-10-04 11:52] vadmeste commented on #2845
@kuatro, this can be done by setting download policy to your bucket using mc or any minio library

`$ mc policy download myminio/yourbucket/`

[2016-10-04 12:14] kuatro commented on #2845
@vadmeste Thank you! Don't know how I missed it in the documentation.

[2016-10-04 12:20] koolhead17 commented on #2845
hello @kuatro https://github.com/minio/mc/blob/master/docs/minio-client-complete-guide.md#policy should help. 😄

[2016-10-04 13:09] tspoke opened #2848 "Set default URL for presignedUrl"
In a docker-compose file I build :
- minio => minio:9000
- api => api:3000
- nginx => 0.0.0.0:80

The nginx redirections :
- 0.0.0.0/  => minio:9000
- 0.0.0.0/api  => api:3000
## Expected behaviour

When requesting the API for a resource, the API should return a public URL to access to it not the container's address.
## Actual behaviour

The API returns a presigned url built with the docker addres

[2016-10-04 13:22] Andrey198 commented on #2846
Update: cant create any folder manually from CyberDuck and copy folder with or without files.
CyberDuck tell me about unsupported simbols :-(
Trying to tune CyberDuck, but no luck at now

[2016-10-04 13:33] koolhead17 commented on #2846
hello @Andrey198 is this issue somewhat closer to https://github.com/minio/minio/issues/2551?
thanks again.

[2016-10-04 14:09] Andrey198 commented on #2846
somewhat closer, but I dont need to move to Minio empty folders. My folders are more than zero-bytes

And I can put non-zero folders to minio like this (with mc):

_C:\minio>mc cp --recursive boot myminio/test
...otres.dll:  17.10 MB / 17.10 MB [=====================] 100.00% 2.27 MB/s 7s_

Am I right: CyberDuck when puts folder with files, before start transfer, try to create empty folder and the

[2016-10-04 14:29] Andrey198 commented on #2846
If so, then U need to correct this instruction https://docs.minio.io/docs/how-to-use-cyberduck-with-minio
Or write about this issue: cant create folders in exisisting bucket from CyberDuck

Why _cp -recursive_ is working?

p.s.  CyberDuck can create new buckets as well.

[2016-10-04 14:30] jlebloas opened #2849 "Incompatibility with AWS java SDK"
Hello,

I face an compatibility while using the last java SDK with your last minio server. The issue is the order in the xml in response, the `<Name>` stands after the `<Contents>` thus creating a bug with the SDK.
## Expected behaviour

Having the `<Contents>`  after the name.
## Actual behaviour

[code]
## Steps to reproduce the behaviour

GET Bucket (List Objects) Version 1
## Minio version

Ve

[2016-10-04 14:42] sych74 opened #2850 "[distributed] DistXL release in Docker"
Previously I used minio:**edge** tag for XL setup and it worked fine. I tried to install it one more time and get a new error "Server is not initialized". So I tried to use :**latest** tag but it throws the following error
`time="2016-10-04T14:32:27Z" level=fatal msg="Unable to intialize object layer." cause="dial tcp: missing port in address 172.18.2.113"`
Which Docker image tag can be used for a

[2016-10-04 14:54] harshavardhana commented on #2665
Covered already..

[2016-10-04 14:54] #2665 closed, assigned to hackintoshrao

[2016-10-04 14:54] harshavardhana commented on #2850
Are you talking about distributed XL setup

[2016-10-04 14:57] #2845 closed, assigned to nobody

[2016-10-04 15:04] sych74 commented on #2850
seems like yes
`+ exec app server 192.168.8.254:/export 192.168.8.158:/export 192.168.4.244:/export 192.168.8.255:/export --address :80`

[2016-10-04 15:22] harshavardhana commented on #2850
Checking just ran a 'docker-compose up' seems to be running fine. Are you looking for starting server on a non 9000 port?

[2016-10-04 15:25] harshavardhana commented on #2850
Just ran

[code]

Seems to be running fine.. with 'minio/minio:edge' -  'minio/minio:latest' doesn't have distributed XL yet.

[2016-10-04 15:29] harshavardhana commented on #2849
S3 publishes http://doc.s3.amazonaws.com/2006-03-01/AmazonS3.xsd the returned XML should enforce positional fields.  Thanks for opening the bug @jlebloas

[2016-10-04 15:40] harshavardhana commented on #2846
Cyberduck's problem is that it tries to create a directory before it starts uploading file. On Minio we don't support such type of objects.

'mc' handles this transparently by directly creating the object and handles the path translation properly.

[2016-10-04 15:45] #2848 closed, assigned to nobody

[2016-10-04 17:03] sych74 commented on #2850
yes, I would prefer to run in on 80 by default

Here is a fresh installation (example of the issue), the cluster has 4 servers and this one works fine
http://docker91725-minio-env.demo.jelastic.com/
but the rest are down
http://docker91724-minio-env.demo.jelastic.com/
http://docker91727-minio-env.demo.jelastic.com/
http://docker91726-minio-env.demo.jelastic.com/

the last message in the logs is th

[2016-10-04 17:20] harshavardhana commented on #2850
can you provide "--address" in the beginning? does that change any behavior?

[2016-10-04 19:58] sych74 commented on #2850
Just a simple restart of non working containers helped and all minio instances are up and running now. So I believe --address is not the root. I did a fresh install and it's working now. Is it possible to make a tag release for docker XL? Then we could push this release to Jelastic users. The latest updates will stay at edge tag and every user will be able to switch if needed.

[2016-10-04 20:00] harshavardhana commented on #2850
We are not ready to release the distributed code just yet we are in process of fixing and testing.  How soon do you need this?

[2016-10-04 21:06] vadmeste opened #2851 "CopyObject: passing x-amz-copy-source-if-match and x-amz-copy-source-if-none-match headers not working as expected"
I tested the code below against Minio:

In Minio:
CopyObject doesn't work when SetMatchETag is set with correct or wrong ETag
CopyObject always works when SetMatchETagExcept is set, even when the actual etag is passed.

Both work as expected with AWS S3.

[code]

[2016-10-04 21:55] vadmeste commented on #2851
This is because I tested against FS which doesn't store ETags.

[2016-10-04 22:30] harshavardhana commented on #2851
Well then its not a bug.

[2016-10-04 22:45] vadmeste commented on #2851
Well, for the user, the behavior is just unpredictable especially if the api returns successful operation when it shouldn't.. If we can't return customized error here, I suggest to always return error (conditions not satisfied)

[2016-10-04 22:50] harshavardhana commented on #2851
Yes but we need to comply with HTTP spec behavior we can't return custom errors here.  Can you investigate HTTP spec behavior when we don't know ETag ?

[2016-10-04 23:35] harshavardhana commented on #2827
This happened perhaps as you said you uploaded certs through the browser and perhaps previously data directory was '/etc/'

No thanks for your patience.

[2016-10-04 23:35] #2827 closed, assigned to hackintoshrao

[2016-10-04 23:35] harshavardhana commented on #2507
Not able to reproduce this anymore. Closing once again.

[2016-10-04 23:35] #2507 closed, assigned to hackintoshrao

[2016-10-04 23:45] GarimaKapoor commented on #2842
@krishnasrinivas can you update the timeline for fixing the issue.

[2016-10-04 23:46] GarimaKapoor commented on #2841
@hackintoshrao what is the timeline for the fix.

[2016-10-04 23:48] hackintoshrao commented on #2841
Timeline - 6th October.

[2016-10-05 00:07] GarimaKapoor commented on #2573
@vadmeste what is the status of this issue?

[2016-10-05 00:08] GarimaKapoor commented on #1859
@rushenn how much more work is pending on this?

[2016-10-05 00:10] GarimaKapoor commented on #2782
@vadmeste please update the timeline for the fix.

[2016-10-05 00:12] harshavardhana commented on #2453
// cc @fwessels - looks like G1 and G2 macros are using some good amount of time - while this was known that it would cause slowness a tiny bit.  Do you see anything special going on here?

[code]

[code]

[2016-10-05 00:20] harshavardhana commented on #2453
Can we use new instructions that are added to Go with 1.7?

### Assembler

For 64-bit ARM systems, the vector register names have been corrected to V0 through V31; previous releases incorrectly referred to them as V32 through V63.

For 64-bit x86 systems, the following instructions have been added: PCMPESTRI, RORXL, RORXQ, VINSERTI128, VPADDD, VPADDQ, VPALIGNR, VPBLENDD, VPERM2F128, VPERM2I128, VP

[2016-10-05 06:30] Andrey198 commented on #2846
Do U plan to support this scenario for Minio? If so, when?

Thanx again.

[2016-10-05 07:55] rushenn commented on #1859
@GarimaKapoor only multi select feature is left. I think @krishnasrinivas can give an exact estimate.

Its's better to close this and open one specifically for multi-select and mass actions.

[2016-10-05 08:09] sych74 commented on #2850
Actually the article about Minio XL in Jelastic is almost ready and we published the automation package at some Jelastic providers. When do you think you will be ready to release?

[2016-10-05 09:15] harshavardhana commented on #1859
Closing.. can you open for multi-select @rushenn ?

[2016-10-05 09:15] #1859 closed, assigned to krishnasrinivas, rushenn

[2016-10-05 09:16] harshavardhana commented on #2846
We don't plan to support this type of behavior in near future.

[2016-10-05 09:19] harshavardhana commented on #2850
Right now we are in testing and hardening phase.. We will be releasing in about 2-3weeks. Let me discuss internally and see if we can do something quicker here. Thanks for your patience @sych74

[2016-10-05 09:56] hackintoshrao commented on #2841
bucket-handler.go contains a large collection of API's, opening a new issue to address it.

[2016-10-05 09:57] hackintoshrao opened #2853 "tests: Need better coverage for bucket-handlers.go"

[2016-10-05 13:37] vadmeste commented on #2851
First, I suggest to disable returning ETags in FS mode. So it won't make sense for clients to set if-match and if-none-match headers with any value other than "*"

This is a great resource but not clear what to do in our case:
https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/http-headers-status/http-headers-status%20v3%20draft.png

RFC either doesn't clearly say what

[2016-10-05 15:53] krishnasrinivas opened #2854 "browser: Implement delete with multi select and confirmation dialog"
Single object delete works. Need to implement multi-object delete.

[2016-10-05 16:21] krishnasrinivas commented on #2842
timeline 7-oct

[2016-10-05 16:21] krishnasrinivas commented on #2854
timeline 9-oct

[2016-10-05 16:23] GarimaKapoor commented on #2854
@krishnasrinivas can we not do this earlier. The release is on 10th. We will need to test it as well.

[2016-10-05 16:43] harshavardhana commented on #2854
Moved out of milestone.

[2016-10-05 16:44] donatello opened #2855 "[distributed] browser: Need to propagate change password to all minio servers in the cluster"

[2016-10-05 17:04] fwessels commented on #2453
@harshavardhana it is expected that G1 and G2 take the vast majority of time for BLAKE2b, there is no further way to optimize this, because these are the minimally essential computations that we need to do for BLAKE2b.

Regarding the new instructions for Go 1.7, I saw that these have been added indeed. They should help with BLAKE2b / lessen the need for arm2plan9s (although I am not quite sure tha

[2016-10-05 17:07] krishnasrinivas commented on #2837
timeline - 5th

[2016-10-05 17:14] harshavardhana commented on #2453
Yeah you are right they are not doing everything.

[2016-10-05 17:18] #2818 closed, assigned to balamurugana

[2016-10-05 17:23] harshavardhana commented on #2782
Closing this since this requires changing and introducing RenameVol() to posix we don't need to do that as it might end up complicating the behavior.

[2016-10-05 17:23] #2782 closed, assigned to vadmeste

[2016-10-05 17:33] #2739 closed, assigned to donatello

[2016-10-05 19:48] harshavardhana commented on #2652
Fixed by #2731

[2016-10-05 19:48] #2652 closed, assigned to harshavardhana

[2016-10-05 19:49] harshavardhana commented on #2753
Fixed by #2731

[2016-10-05 19:49] #2753 closed, assigned to fwessels

[2016-10-06 03:12] #2849 closed, assigned to hackintoshrao

[2016-10-06 09:02] harshavardhana opened #2860 "[distributed] Validate setup and instructions on windows for distributed minio server."
Following syntax 'minio server <ip>:/path' might be confusing on windows. We need to finalize on what needs to be done.

[2016-10-06 10:17] matylla opened #2861 "Question: What happens when I manually remove the file from filesystem?"
Since Minio does not offer object lifecycle (yet?) I'm in the need of removing files from storage machines after 24hrs myself. What happens when I remove the file/directory manually `rm -rdf` which has been previously uploaded via Minio API? Will that action break anything in Minio internally? Will that interfere with erasure code algorithm?

Thanks in advance.

[2016-10-06 10:22] krishnasrinivas commented on #2861
@matylla if you are using the minio-FS  then you can remove the file from the backend. But if you are using XL (erasure backend) then you should not modify the backend directly. You can delete the object using the delete api. you can use `mc rm` to script deletion too. https://github.com/minio/mc

[2016-10-06 10:26] matylla commented on #2861
Thank you, that answers my question. Does minio-FS provide any fault-tolerance when we loose any hard drive from the storage machine?

[2016-10-06 10:32] krishnasrinivas commented on #2861
@matylla for minio-FS you can run `mc mirror -w` for continuous replication https://docs.minio.io/docs/minio-client-complete-guide#mirror

[2016-10-06 10:34] #2861 closed, assigned to koolhead17

[2016-10-06 13:42] krishnasrinivas commented on #2773
@koolhead17 i have sent a PR as it needs a little code knowledge to write document

[2016-10-06 13:57] koolhead17 commented on #2773
👍

[2016-10-06 15:30] #2837 closed, assigned to krishnasrinivas

[2016-10-06 16:30] #2773 closed, assigned to koolhead17, krishnasrinivas

[2016-10-06 16:37] gowithplanb opened #2866 "[handlers] Allow redirect to custom URL when using MINIO_BROWSER=off instead of plain error"
## Expected behaviour

Ability to redirect visitors to public URL to a custom URL when MINIO_BROWSER=off
## Actual behaviour

A plain-text error:

`<Error>
<Code>NoSuchBucket</Code>
<Message>The specified bucket does not exist</Message>
<Key />
<BucketName />
<Resource>/minio/</Resource>
<RequestId>3L137</RequestId>
<HostId>3L137</HostId>
</Error>
`
## Steps to reproduce the behaviour

Visit the U

[2016-10-06 17:04] harshavardhana commented on #2866
What is the overall purpose of this @gowithplanb can you explain with some examples? - like how this is beneficial in real world scenarios.

[2016-10-06 17:24] gowithplanb commented on #2866
We'll have Minio available on well-known public ports which will be (ab)used by scanners and robots. To disencourage any attempts to see beyond the redirect, we'd like to hide the fact that there's an S3 server/Minio behind it, without, for this feature alone, going through installing additional software.

[2016-10-06 20:34] #2706 closed, assigned to hackintoshrao

[2016-10-06 21:25] harshavardhana opened #2868 "[distributed] minio control shutdown should restart and shutdown all servers in a cluster."

[2016-10-07 00:17] harshavardhana opened #2869 "[notifications] Add kafka support for bucket notifications."

[2016-10-07 03:28] muminoff opened #2871 "Feature request: Listen bucket notification for multiple suffixes"
Currently, listenBucketNotification only accepts single 'suffix', single 'prefix' query params. We should take a list and allow listening on them.

[2016-10-07 07:02] hackintoshrao opened #2873 "tests: Anonymous HTTP request cases for API handlers."
Need to add cases to validate success and failure of anonymous HTTP requests for API handlers. Currently in Progress.

[2016-10-07 09:26] fwessels commented on #2685
As per https://github.com/minio/minio/pull/2874 the read lock quorum has been relaxed to N/2.

Testing this in a 2:2 cluster gives the desired behaviour:
- with 3 machines up we can copy data in
- with 2 machines up we can no longer copy data in (error reported after a short timeout):

[code]
- with 2 machines up we can now happily do an `mc ls`:

[code]

and also copy data out

[code]

[2016-10-07 15:07] harshavardhana commented on #2685
Fixed by #2874

[2016-10-07 15:07] #2685 closed, assigned to fwessels

[2016-10-07 17:00] harshavardhana commented on #2850
@sych74 We discussed internally and we think that you should wait until we call our distributed code stable and make a release. This is beneficial in terms our ongoing integration effort and also for your end users as well.

[2016-10-07 18:24] GarimaKapoor commented on #2842
@krishnasrinivas please update the status of this issue.

[2016-10-07 18:25] GarimaKapoor commented on #2804
@krisis were you able to dig deeper on this issue. What are your thoughts?

[2016-10-07 18:27] GarimaKapoor commented on #2840
@krisis pease update the timeline for the fix.

[2016-10-07 18:27] GarimaKapoor commented on #2853
@hackintoshrao what is the status on this issue

[2016-10-07 18:33] harshavardhana commented on #2804
There is a possible fix already - https://github.com/minio/minio/pull/2862 . It requires some more test coverage once done we can merge and close this issue.

[2016-10-08 00:02] harshavardhana opened #2878 "[distributed] ListenBucketNotification should stop if bucket is removed underneath"
[code]

[code]

[code]

[2016-10-08 00:27] harshavardhana opened #2879 "[distributed] Fix graceful restart and save transition of active connections."
Current graceful restart fails and does not transition active connections.

[2016-10-08 02:07] harshavardhana commented on #2879
Closing this, minio-go should reconnect instead..

[2016-10-08 02:07] #2879 closed, assigned to harshavardhana

[2016-10-08 06:29] hackintoshrao commented on #2840
Timeline - 10th october.

[2016-10-08 06:40] harshavardhana commented on #2840
are you working on this issue? ping @krisis

[2016-10-08 06:42] hackintoshrao commented on #2853
Working on https://github.com/minio/minio/issues/2873 and https://github.com/minio/minio/issues/2841 . Will be moving onto this on 9th october.

[2016-10-08 06:43] hackintoshrao commented on #2840
I've put timeline on the wrong issue, sorry.

[2016-10-08 06:43] harshavardhana commented on #2873
ping @hackintoshrao - is this fixed already?

[2016-10-08 07:10] krishnasrinivas commented on #2842
timeline-8th

[2016-10-08 07:11] hackintoshrao commented on #2873
@harshavardhana : bucket-handlers.go need the same fix. Doing it.

[2016-10-08 08:48] krisis commented on #2840
I expect to fix this issue by the 10th Oct.

[2016-10-08 11:48] krisis commented on #2804
The fix doesn't completely eradicate the problem. This needs further investigation. I will be looking further into it.

[2016-10-08 11:54] krisis commented on #2621
With #2804 still open, this issue has taken backseat. I shall provide a timeline once the sporadic streaming signature issue is root-caused.

[2016-10-09 00:08] #2842 closed, assigned to krishnasrinivas

[2016-10-09 02:07] harshavardhana commented on #2851
We decided to succeed requests in case of FS for "ETag" if its not available.  We do the same with GetObject() as well.

[2016-10-09 02:08] harshavardhana commented on #2846
Looking at a way to fix this in Cyberduck transparently.

[2016-10-09 02:09] harshavardhana commented on #2843
Were you able to try the recent version of Minio? @swimablefish

[2016-10-09 02:12] harshavardhana commented on #2846
Closing this as duplicate of  #2551

[2016-10-09 02:12] #2846 closed, assigned to nobody

[2016-10-09 08:41] zhanjiejun opened #2886 "Error in methods "SetBucketPolicy" and "GetBucketPolicy" of Java client api"
Hi, I meet some problems, my test codes are below:

[code]

When I set a policy to a bucket, error happened if i call the method "getBucketPolicy" to the bucket.
The phenomenon is same if i call the method "setBucketPolicy" to the bucket again.

The exception messages is below:
com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: **Expected a string but was BEGIN_ARRAY at line 1 c

[2016-10-09 18:43] harshavardhana commented on #2886
Opened under relevant library closing this https://github.com/minio/minio-java/issues/470

[2016-10-09 18:43] #2886 closed, assigned to nobody

[2016-10-09 21:59] vadmeste commented on #2851
Ok.

In FS, GetObject() already succeed when ETag is not available.

[2016-10-09 22:30] jamesepatrick opened #2887 "Server returned error [403] on FreeBSD 10 Jail"
## Behavior

With successful sign in Mino gives a `Server returned error [403]` Error. Show 0pb storage and no buckets. Logging turned on show as:
`ERRO[0015] token parsing failed                          cause=Token is expired`

Using `mc ls NAME` shows `mc: <ERROR> Unable to list folder. The difference between the request time and the server's time is too large.`
Date on Host is matches, but is

[2016-10-09 23:22] harshavardhana commented on #2851
Fixed by #2888

[2016-10-09 23:22] #2851 closed, assigned to vadmeste

[2016-10-09 23:52] muminoff opened #2889 "Update command repeatedly prints out 2 same URLs (OSX)"
## Expected behaviour

`minio update` result should not be 2 URLs
## Actual behaviour

`minio update` command returns 2 URLs
## Steps to reproduce the behaviour

[code]
## Minio version

[code]
## System information

OS: OSX El Capitan 10.11.6
Go: go1.7.1 darwin/amd64

[2016-10-09 23:56] vadmeste opened #2890 "miniobrowser: show a better error message with time skewed error"
Related to #2887

To reproduce, change the local time in your machine and test against minio play.

[2016-10-10 04:43] hackintoshrao commented on #2873
@harshavardhana : This is fixed. Closing the issue.

[2016-10-10 04:43] #2873 closed, assigned to hackintoshrao

[2016-10-10 05:25] jamesepatrick commented on #2887
Fixed issue with date on machine and minio works without issue.  Thanks @vadmeste for help in gitter.

[2016-10-10 05:25] #2887 closed, assigned to nobody

[2016-10-10 05:39] harshavardhana commented on #2890
Even @muminoff saw the same issue.

[2016-10-10 06:23] harshavardhana commented on #2868
Fixed by #2883

[2016-10-10 06:23] #2868 closed, assigned to harshavardhana

[2016-10-10 08:54] harshavardhana commented on #2621
Fixed by #2862

[2016-10-10 08:54] #2621 closed, assigned to krisis

[2016-10-10 08:55] harshavardhana commented on #2804
With new changes in #2621 @krisis - is the elusive issue gone now?

[2016-10-10 11:24] fwessels commented on #2839
Fixed via https://github.com/minio/minio/pull/2893

[2016-10-10 16:29] #2853 closed, assigned to hackintoshrao

[2016-10-10 17:11] #2839 closed, assigned to fwessels

[2016-10-10 18:11] donatello opened #2897 "`rpc.Server.RegisterName` can return error but we ignore it"
https://golang.org/pkg/net/rpc/#RegisterName

This function is used in multiple places in the code - https://github.com/minio/minio/search?l=go&q=RegisterName&type=Code&utf8=%E2%9C%93 but error checking is not being done. This needs to be fixed.

[2016-10-10 20:56] vadmeste commented on #2889
@muminoff, can you paste the output of this command in your terminal:

`$ alias | grep minio`

[2016-10-10 23:40] muminoff commented on #2889
@vadmeste

There is nothing aliased with `minio`:

[code]

[2016-10-10 23:50] GarimaKapoor commented on #2840
@krisis please update the status of this issue.

[2016-10-11 04:38] harshavardhana opened #2898 "[distributed] control: Implement a way to clear stale locks"
Current 'control lock' cli doesn't have a way to clear stale locks.

[2016-10-11 04:55] krisis commented on #2804
No. The sporadic failure is still present. Still investigating the issue. I have checked that the state transitions appear valid even in the presence of failure. The chunked data read also appears to be right. I am now investigating if our unit test utility function constructing streaming signature request is working as expected.

[2016-10-11 04:56] harshavardhana commented on #2804
Perhaps that can be validated as well i suspect something is wrong in how the chunk signature itself is constructed.

[2016-10-11 04:58] krisis commented on #2840
I have not looked into this issue. I am investigating the root cause for sporadic failure of streaming signature putobject API request.

[2016-10-11 07:50] #2763 closed, assigned to harshavardhana

[2016-10-11 08:11] harshavardhana commented on #2898
// cc @krishnasrinivas

[2016-10-11 08:14] krishnasrinivas opened #2900 "[distributed] XL: Should heal buckets"
Support healing of buckets.

[2016-10-11 08:15] harshavardhana commented on #2840
Will be fixed in the control-heal refactor, taking this issue and closing #2491

[2016-10-11 08:15] #2840 closed, assigned to krisis

[2016-10-11 15:23] vadmeste commented on #2889
Thanks @muminoff.

@harshavardhana, this is simply a bug but reproducible only with release binary. There is an automatic fetch for new version for all minio commands, that's why update banner is showed twice with "minio update"

[2016-10-11 17:24] harshavardhana opened #2903 "[healing] heal should have option for 'quick' and 'deep' healing."

[2016-10-11 17:27] harshavardhana opened #2904 "[healing] heal in parallel across all nodes to share the load"

[2016-10-11 17:50] harshavardhana commented on #2889
@vadmeste ah i see we need to fix this.  You can easily validate this by removing the 'strings.HasPrefix' check.

[2016-10-12 00:16] GarimaKapoor commented on #2900
@krishnasrinivas can you update the timeline for the fix.

[2016-10-12 04:43] mr-karan opened #2906 "Wrong link in CONTRIBUTING.md"
## Expected behaviour

[Link](https://github.com/minio/minio/blob/master/INSTALLGO.md) should point to [this](https://docs.minio.io/docs/how-to-install-golang)
## Actual behaviour

`404` Link
## Steps to reproduce the behaviour

Click  [here](https://github.com/minio/minio/blob/master/INSTALLGO.md) in the [CONTRIBUTING.md](https://github.com/minio/minio/blob/master/CONTRIBUTING.md)
## Minio versio

[2016-10-12 05:19] #2906 closed, assigned to nobody

[2016-10-12 06:46] #2804 closed, assigned to krisis

[2016-10-12 08:47] hackintoshrao opened #2909 "api-handlers: V2 Signed requests behave differently from V4 for invalid keys."
## Expected behaviour

 To return `InvalidAccessKeyID` error in the response body when an `InvalidAccessID` is set.
## Actual behaviour

V4 signed requests return `InvalidAccessKeyID` error in the response body when an `InvalidAccessID` is set, but V2 signed requests return `SignatureMisMatch` error.
## Steps to reproduce the behaviour

Call the API handler with a HTTP request containing invalid a

[2016-10-12 12:01] wendigo commented on #2871
I can try to implement this #hacktoberfest !

[2016-10-12 14:50] krishnasrinivas opened #2912 "[lock] Possible race between GetObject and GetObjectInfo."
In get object we do:
objectAPI.GetObjectInfo()

// some checks

objectAPI.GetObject()

when `// some checks` are performed, if the object is replaced it will cause race condition.

[2016-10-12 15:28] hackintoshrao commented on #2912
Can you elaborate on this @krishnasrinivas ?

[2016-10-12 15:47] krishnasrinivas commented on #2912
for example:
- etag might be returned of the old object but the contents would be from the new object.
- content-length might be the size of the old object and the contents might be from the new object.

there might be problems with `rangeHeader` check too.

[2016-10-12 15:53] hackintoshrao commented on #2912
@krishnasrinivas : How to reproduce this ?

[2016-10-12 15:59] krishnasrinivas commented on #2912
it will be difficult to reproduce this because the time between getObjectInfo and getObject will be a very small window during which you have to replace that particular object. You have to be lucky (rather unlucky) to hit it.

[2016-10-12 16:00] krishnasrinivas commented on #2900
time: oct-12th

[2016-10-12 16:48] GarimaKapoor commented on #2871
Great thank you!

[2016-10-12 17:02] fwessels opened #2913 "Show effective drive capacity"
For XL and Distributed we should show the effective capacity (as compared to the 'gross' capacity). Thus in the case below it should 10.8 (or 11) TiB

[code]

[2016-10-12 17:48] vadmeste commented on #2890
@harshavardhana, do we really need to check Date header of requests coming from minio browser ? I've already did something generic to apply specific handlers to /minio/ sub routes. What do you think ?

[2016-10-12 18:02] #2871 closed, assigned to nobody

[2016-10-12 18:06] harshavardhana commented on #2890
We don't need to check for browser. It was done so for S3 spec reasons.  Browser should validate its own through web-handlers.

[2016-10-12 19:35] harshavardhana opened #2915 "[distributed] Race in PeersRPCServer() usage sporadically reproducible."
[code]

[2016-10-12 19:45] harshavardhana commented on #2909
Change to // cc @krishnasrinivas

[2016-10-12 19:46] harshavardhana commented on #2889
This will be fixed in pr #2892

[2016-10-12 19:55] vadmeste commented on #2889
I reviewed that PR @harshavardhana, I think one thing missing is that fetch update is done in cmd/main.go and in cmd/update-main.go, that's why update banner is showed twice.

[2016-10-12 19:58] #2890 closed, assigned to vadmeste

[2016-10-12 19:59] harshavardhana commented on #2889
Yeah its not finished yet. Fixing this last part.

[2016-10-12 20:48] vadmeste commented on #2913
Looks like the formula is : `2 * sum_of_freespace_of_all_disks / (nr_online_disks + nr_offline_disks)`

Also could you confirm that the formula will be the same even if we have failed disks? In other terms, will we be able to put the same data size when we have some failed disks?

[2016-10-12 21:06] fwessels commented on #2913
I would simply say: divide the number that we have now by 2 (since we always run with equal data & parity for both XL and Distributed). As long as there is still write quorum, this number will not dynamically change.

[2016-10-13 01:42] hackintoshrao commented on #2841
Current coverage for `bucket-policy-handlers.go` is 93.5 % , Closing the issue.

[2016-10-13 01:42] #2841 closed, assigned to hackintoshrao

[2016-10-13 01:47] harshavardhana commented on #2841
You the man!

[2016-10-13 03:22] #2913 closed, assigned to vadmeste

[2016-10-13 03:34] harshavardhana commented on #2889
Fixed by #2892

[2016-10-13 03:34] #2889 closed, assigned to vadmeste

[2016-10-13 06:13] #2897 closed, assigned to krisis

[2016-10-13 08:33] #2915 closed, assigned to donatello

[2016-10-13 16:25] #2909 closed, assigned to krishnasrinivas

[2016-10-13 16:30] harshavardhana commented on #2772
Fixed by #2891 and #2877

[2016-10-13 16:30] #2772 closed, assigned to donatello

[2016-10-13 18:45] GarimaKapoor commented on #2860
@krisis can you update the timeline of the fix.

[2016-10-13 18:49] GarimaKapoor commented on #2898
@fwessels can you take a look at this.

[2016-10-13 19:26] fwessels commented on #2898
@GarimaKapoor am working on a dsync branch for this

[2016-10-13 20:45] vadmeste opened #2920 "docs: minio docker image under Windows"
Someone from the community reported that he managed to run Minio docker image under Windows, we need to test by ourselves too.

Starting link: https://docs.docker.com/docker-for-windows/

[2016-10-13 20:59] GarimaKapoor commented on #2898
great! @fwessels

[2016-10-14 02:32] GarimaKapoor commented on #2900
@krishnasrinivas any updates on the fix?

[2016-10-14 07:39] krishnasrinivas commented on #2900
@GarimaKapoor i will push this today.

[2016-10-14 09:59] wendigo commented on #2836
Is anyone working on that? Should be easy to implement during #hacktoberfest

[2016-10-14 10:01] krisis commented on #2836
@wendigo I am assigned to this issue but I am not currently working on it. Feel free to take this up, thank you for volunteering ;)

[2016-10-14 10:50] wendigo commented on #2836
Is this output sufficient (just a quick PoC without tests for now)?

![screenshot](http://i.imgur.com/tPBMEjc.jpg)

[2016-10-14 11:02] krisis commented on #2836
@wendigo The idea behind printing SSL certificate expiry information is to warn the admin of impending expiry. So, the output should display information about SSL certificates that would expire within the next 30 days of starting minio server.
e.g, `serafin.tech will expire on 2016-10-30 15:00:00 +0000 UTC`, below the existing server startup banner.  The idea is to have only essential information

[2016-10-14 11:02] wendigo commented on #2836
Sure. Got it :)

[2016-10-14 11:11] krisis commented on #2860
@GarimaKapoor I am currently testing if Minio multi-disk(XL) setup works on Windows, with the changes that were introduced to support Minio distributed setup. I expect to be finished with my tests by EOD 15th.

[2016-10-14 11:50] wendigo commented on #2836
Here you go: https://github.com/minio/minio/pull/2925

[2016-10-14 11:59] krishnasrinivas commented on #2900
@harshavardhana https://github.com/minio/minio/pull/2924 creates missing buckets.

But it does not delete buckets which got deleted when the disk was down. Deleting buckets and its contents recursively looked very risky and dangerous. What do you think.

[2016-10-14 12:59] krisis opened #2926 "[distributed] Minio server prints "Failed to delete lock info entry" during copy of a large object"
## Expected behaviour

Copy of a large object leads to `Failed to delete lock info entry` message on console.
## Actual behaviour

No error message should be seen.
## Steps to reproduce the behaviour
- Make a bucket
- Copy a file > 64MB (using `mc`) into the bucket
- We can see `Failed to delete lock info entry` on the console
## Minio version

`5e86352`
## System information

MS Windows

[2016-10-14 17:38] StefH opened #2928 "Connecting to minio s3 via CloudBerry S3 Explorer fails ?"
## Expected behaviour

Connection ok
## Actual behaviour

Error : **The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256.**
## Steps to reproduce the behaviour

Run minio on windows machine.
## Minio version

Version: 2016-10-14T04:00:39Z
Release-Tag: RELEASE.2016-10-14T04-00-39Z
Commit-ID: 8c59a4166865e65192e91986e8bee329851bbf7c
## System information

Windo