[2017-09-10 16:17] #4902 closed, assigned to nobody

[2017-09-11 06:49] harshavardhana commented on #4831
We can do that @vadmeste . But do not yet know what else we can say in this.

[2017-09-11 06:51] harshavardhana commented on #4890
This is already fixed in current release @deekoder - this bug can be closed.

[2017-09-11 08:24] matti commented on #4897
Using standard minio:latest, here is the (fixed) entrypoint:

[code]

[2017-09-11 08:26] matti commented on #4897
kontena stack yml looks like this:

[code]

[2017-09-11 15:15] #4838 closed, assigned to krishnasrinivas

[2017-09-11 15:32] donatello opened #4905 "Bug in `ErasureStorage.HealFile()`"
## Expected Behavior

Data should be reconstructed successfully.

## Current Behavior

Data reconstruction fails.

## Possible Solution

Not sure. There appears to be a bug in the way data is healed block-by-block near here: https://github.com/minio/minio/blob/master/cmd/erasure-healfile.go#L54

Each "chunk" is being read from the disks and reconstructed, however, the offsets appear wrong - `offse

[2017-09-11 17:29] nitisht commented on #4882
The PR kubernetes/charts#2061 looks good @yagonobre . We'll close this issue and continue discussion in the kubernetes/charts PR if needed.

[2017-09-11 17:29] #4882 closed, assigned to nitisht

[2017-09-11 17:42] yagonobre commented on #4882
Thanks :)

[2017-09-11 19:48] poornas commented on #4899
@trusch, you could use PutObjectWithSize call instead of PutObject. For optimal memory usage, it is best that size be provided when it is known. In the event that size is unknown,you could leave it to the sdk to figure it out.
`		_, err := s3Client.PutObjectWithSize("my-bucketname", "my-objectname", r, 0, nil, nil)
`

[2017-09-11 21:37] gjonespf commented on #4381
Any chance the UID/GID can be set via env var or similar, with a default like you are already using (190)?  Would be good for instances where minio needs to be run on an already owned volume that can't be changed.  Currently have an image to do just this.

[2017-09-12 00:28] deekoder commented on #4498
Need to fix this after we move to Vue.js

[2017-09-12 00:31] #4367 closed, assigned to fwessels

[2017-09-12 01:21] deekoder commented on #4326
Related to #4345

[2017-09-12 01:22] deekoder commented on #4345
Related to #4326

[2017-09-12 07:23] matti opened #4909 "Healing takes long / requires restart"
Minio is running on 4 servers in google cloud platform: 3 of the servers are standard and 1 is ephemeral.

Once the ephemeral node gets deleted and recreated, the mc admin health says that all nodes are healthy, but larger file uploads keep failing with 502.

When I manually restarted all servers, the cluster eventually healed itself:
https://gist.github.com/matti/39f06d2aecb53a8d3912135115f3123c

[2017-09-12 10:18] Julusian commented on #4821
I have found that I am affected by this bug to a much more extreme level.
I have around 150000 empty folders left behind from previous uploads. Minio looks to be reporting this error for each one of those. This was causing it to produce a huge log file on startup and was being killed because it would eat up all of the available disk space. It was also being rather intensive on system resources dur

[2017-09-12 16:03] fwessels commented on #4897
@matti Thanks for the info, are you sure that the network is operational at the time minio gets started, if this is not the case, then this may explain the behaviour (although we have never seen this before).

As well, could you try with shorter sleeps, and there really is no reason to delay one minio after the other, they can all be started at the same time, so something like this should work:

[

[2017-09-12 16:19] harshavardhana commented on #4821
Thanks for the report we will take a look.

[2017-09-12 17:42] marbetschar commented on #4166
Run into the same issue. Any ETA?

[2017-09-12 19:17] #4903 closed, assigned to harshavardhana

[2017-09-12 21:20] mossgross-cf opened #4910 "Allow full domain+path returned in Location header for single-endpoint configurations"
When making a file create request against a minio server configuration with one endpoint

## Expected Behavior (as returned by AWS S3)
Location header returns something like this:
 `<Location>https://{configured-domain}/our-bucket/images/1505248844958-happy_turtle.png</Location>`

## Current Behavior
 `<Location>/our-bucket/images/1505248844958-happy_turtle.png</Location>`

## Context
Our current

[2017-09-12 23:14] #4891 closed, assigned to nobody

[2017-09-12 23:28] balamurugana commented on #4900
The test fails after listing first 1000 objects

error occured
ErrorResponse(code=NotImplemented, message=A header you provided implies functionality that is not implemented, bucketName=null, objectName=null, resource=/minio-java-test-11lqkou, requestId=3L137, hostId=3L137)
request={method=GET, url=http://127.0.0.1:9000/minio-java-test-11lqkou?list-type=2&continuation-token=2%2188%21MDAwMDIyIW1pbm

[2017-09-13 06:31] matti commented on #4897
I’m sure, was able to reproduce this multiple times (not always, so to me it sounds like a race condition)

[2017-09-13 07:33] mohaijiang opened #4912 "s3cmd put with --acl-public parameter returns an error Public URL"
s3cmd put with --acl-public returns an error Public URL

## Expected Behavior

When  upload file with s3cmd put --acl-public to the minio server ,the returned URL such as `http://127.0.0.1:9000/mohaijiang/test/aa.txt`. And the URL should be able to be downloaded.

## Current Behavior

The URL `http://127.0.0.1:9000/minio/mohaijiang/test/aa.txt` can be downloaded,but `http://127.0.0.1:9000/mohaijia

[2017-09-13 08:42] harshavardhana commented on #4912
@mohaijiang minio doesn't support ACLs we only support Bucket policies https://docs.minio.io/docs/minio-server-limits-per-tenant  and we have no plans on supporting ACLs yet.

[2017-09-13 08:44] mohaijiang commented on #4912
@harshavardhana  thanks.

[2017-09-13 08:44] #4912 closed, assigned to nobody

[2017-09-13 20:30] worthwhileindustries commented on #3097
Anyone here get this working on drupal 8 with https://www.drupal.org/project/s3fs 8.x-3.0-alpha7 ... it's using the latest sdk aws/aws-sdk-php (3.36.7).

[2017-09-13 21:13] harshavardhana commented on #3097
Very cool thanks @worthwhileindustries we will evaluate, can you open a new issue ?

[2017-09-13 22:14] worthwhileindustries opened #4914 "docs: document using s3fs, drupal 8, with Minio"
## Expected Behavior
Not sure. I imagine the images uploaded via a file field in a content type would upload into minio but, nothing happens.

## Current Behavior
[code]

## Possible Solution

## Steps to Reproduce (for bugs)
I tried several different configurations but, this is where i last left off. I wasn't sure if minio needed to be prepended to the bucket name.

![drupal-8-config](https://use

[2017-09-13 22:15] worthwhileindustries commented on #3097
@harshavardhana https://github.com/minio/minio/issues/4914

[2017-09-14 00:27] #4900 closed, assigned to krishnasrinivas

[2017-09-14 07:16] donatello commented on #4905
Reassigning this to myself as I have a patch in review.

[2017-09-14 11:36] morph027 commented on #4887
Came cross the same while applying rolling updates to the cluster ....

While all operations tend to be slow, i've also came across this (vps13 was really offline at this time):

[code]

[2017-09-14 11:57] morph027 commented on #4887
Anything we can do here? Workaround on OS level? This is s showstopper for my current project :cry:

Nodes can go down, this is why i want clustered solutions...But right now, i can't use the cluster until the node has been fixed. *hm*

[2017-09-14 14:55] morph027 commented on #4887
Ok, came around with this little hack...Idea was to circumvent the tcp timeout. So let's just drop port 9000 packets to the (network-wise) offline node via iptables (and of course allow if it's back up online):

* got a file `minio-cicuit-breaker.sh` which is called via cron (or systemd timer) every minute ( :see_no_evil: )

[code]

Log output:

[code]

Node is offline:

[code]

Not sure if you co

[2017-09-14 17:16] fwessels commented on #4897
We made some changes that fixed some situations in which starts could fail, could you try it with the following PR: https://github.com/minio/minio/pull/4904/commits/1d7ad2b3137b854509b0dc46d8e39a2927a1b326 ?

[2017-09-14 17:45] poornas commented on #4899
@trusch, did the suggestion above resolve your issue? If so, can we close this?

[2017-09-14 19:27] aead opened #4923 "refactor ObjectLayer PutObject and PutObjectPart"
PutObject and PutObjectPart of ObjectLayer take a io.Reader and a size to read as many bytes as specified (size) form the client. Further Minio has to verify the content send by client. Therefore Minio computes the MD5 sum (and SHA256 sum if requested) of the content. This verification is done inside every PutObject and PutObjectPart implementation of every ObjecLayer impl. (S3, XL, FS, GCS, Azure

[2017-09-14 19:58] krishnasrinivas commented on #4899
@poornas we can fix this as it is a bug in the PutObject API implementation even though you can use the workaround of using PutObjectWithSize.

[2017-09-14 19:59] poornas commented on #4899
Correct @krishnasrinivas , I have a fix in the PutObject refactor PR.

[2017-09-14 21:05] balamurugana opened #4924 "[gateway/azure/s3/gcs]: copy object with metadata doesn't set metadata on destination object"
While running below minio-java test, azure gateway fails.

[code]

[2017-09-15 02:22] harshavardhana commented on #4345
After profiling we have reached to two conclusions

- We need to implement throttling at minio server level, since the Go routine scheduling is not fair enough to our I/O activities and there is a higher limit which can slow down minio unnecessarily.
- We need to remove duplicate code present on lock client side under `lock-instrument.go`  and make it only a distributed setup only feature.

Will o

[2017-09-15 02:22] harshavardhana commented on #4326
https://github.com/minio/benchmarks repo is created with the final results, We can close this bug.

[2017-09-15 02:23] #4345 closed, assigned to harshavardhana

[2017-09-15 02:24] #4326 closed, assigned to nobody

[2017-09-15 08:18] Blaiserman commented on #4606
Same thing here with your compose file: https://raw.githubusercontent.com/minio/minio/master/docs/orchestration/docker-swarm/docker-compose-secrets.yaml

I tried to change the volumes to random but died.
[code]

[2017-09-15 08:21] nitisht commented on #4606
@Blaiserman can you please paste the output you're getting and the Minio server version?

[2017-09-15 08:40] Blaiserman commented on #4606
[code]

[code]

[2017-09-15 09:15] nitisht commented on #4606
Is there a way to access your setup @Blaiserman

Please join our [Slack channel](https://slack.minio.io) for quick discussion.

[2017-09-15 09:38] harshavardhana opened #4927 "[sign-v2] presigned operations do not work anymore with response headers."
## Expected Behavior
Signature V2 works fine with presigned response headers.

## Current Behavior
Signature V2 doesn't work if response headers are set with special character file names.
[code]

## Possible Solution
[Fix signature v2 and presigned query unexcaping](https://github.com/minio/minio/pull/4916#discussion_r139101174)

## Steps to Reproduce (for bugs)
Already mentioned above.

## Contex

[2017-09-15 09:38] harshavardhana commented on #4927
Thanks to @fangyuxiangGL for finding this issue and sending a first cut of the PR here #4916

[2017-09-15 10:44] Blaiserman commented on #4606
The environment running on my windows laptop on docker toolbox so you can not access to it, but I can answer to your questions.

[code]

I joined to Slack

[2017-09-15 18:24] harshavardhana commented on #3097
Thanks @worthwhileindustries

[2017-09-15 19:02] mindscratch opened #4929 "Files downloaded from the UI should use content-type provided during upload"
## Expected Behavior
If an object is uploaded and a Content-Type is provided, when downloading it from the UI the Content-Type should be the same.

## Current Behavior
Currently, when downloading an object from the UI the Content-Type in the response is based off the file extension rather than using the Content-Type provided when uploading the object.

## Possible Solution
The UI should check to s

[2017-09-16 01:20] aead commented on #4650
Current progress:
#4894 Add basic support for:
  - GET (without ranges)
  - PUT
  - HEAD

The following operations are still missing:
 - GET with ranges - requires: part size and number of parts for multipart objects
 - InitMultipart
 - PUT Multipart - requires: XL / FS must save part size and number of parts in meta data
 - EndMultipart - requires: check that all uploaded parts have the same size

[2017-09-16 03:04] belvid opened #4930 "Azure Limitations should be in the same guide, not separate."
## Expected Behavior

- Keep limitations of Azure gateway with its doc
- Update limitations like 100MB per upload part

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):

[2017-09-16 06:31] trusch commented on #4899
@poornas yes it helped,  but it's very contra-intuitive to use PutObjectWithSize when I don't know the size ;) in my original use case I'm fine with simply not writing objects with size zero. from my point of view you could add a testcase for this in your refactor PR and close this issue.

[2017-09-16 06:52] morph027 commented on #4887
Just for the record, systemd timer:

* `/etc/systemd/system/minio-circuit-breaker.timer`

[code]

* `/etc/systemd/system/minio-circuit-breaker.service`

[code]

[2017-09-16 20:20] danyaljj opened #4932 "Paper to cite?"
Want to cite your system in an academic paper. Do you have a paper on minio that we can cite?

[2017-09-17 03:56] poornas commented on #4899
sounds good @trusch.

[2017-09-17 04:04] aead commented on #4932
Depends on what you want/need to cite. We have documentation at [/docs](https://github.com/minio/minio/tree/master/docs). As far as I know there a no academic papers... Can you provide further information about what your paper is about?

[2017-09-17 04:09] danyaljj commented on #4932
I use minio to store model files of a machine learning system paper. I feel like if you have a white paper on minio and let people in academia cite you, it could be a good source of advertisment.

[2017-09-18 02:48] hegphegp opened #4935 "How to rename the filepath of one file on minio?"
How to rename the filepath of one file on minio?

[2017-09-18 17:20] aead commented on #4935
S3 does not provide a direct method to rename files. What you could do is copying the old object to a new location (path) and delete the old one.

[2017-09-18 17:26] ebozduman commented on #4899
Closing this since we have the tests @trusch is asking for already as part of our functional tests.

[2017-09-18 17:26] #4899 closed, assigned to poornas

[2017-09-18 17:51] aead commented on #4932
cc @harshavardhana @fwessels

[2017-09-18 17:59] morph027 commented on #3687
If one really needs this, just have a look at http://opendedup.org/odd/ which could run in front of minio (loosing some features of course)

[2017-09-18 19:13] krishnasrinivas commented on #4935
Using CopyObject S3 API

[2017-09-18 21:04] donatello commented on #4924
Sorry I missed seeing this earlier. To set the the metadata from the request on the copy of the object, it is required that the underlying azure-storage library support this feature in its CopyBlob API. However the current version vendored into minio does not have this feature, and neither does the latest version (at the time of writing) - https://godoc.org/github.com/Azure/azure-sdk-for-go/storag

[2017-09-18 22:22] balamurugana commented on #4924
My choice is to contribute to upstream `azure-sdk-for-go`

[2017-09-18 23:04] harshavardhana commented on #4924
We could fork until then and vendor it ?

[2017-09-19 04:12] ndouba opened #4940 "Bug: Minio server consumes all CPU resources in Alluxio integration"
## Expected Behavior
The Minio server appears to suffer from some sort of bug related to a misconfiguration in Alluxio. If the
alluxio-site.properties file specifies the root of the bucket (i.e. s3a://bucket_name/) as its underfs
address, performing standard filesystem operations will result in a denial of service. Minio consumes
all CPU resources until it is killed.

## Steps to Reproduce (for bu

[2017-09-19 04:45] harshavardhana commented on #4940
Thanks for the detailed report.  Feel free to join https://slack.minio.io next time to reach us quickly - we are always available.

[2017-09-19 04:48] harshavardhana commented on #4166
No ETA yet @marbetschar we are revamping our UI and it should be available in future releases.

[2017-09-19 15:22] #4935 closed, assigned to aead

[2017-09-19 19:40] #4923 closed, assigned to aead

[2017-09-19 21:02] deekoder commented on #4812
moving this to revisiting in the next milestone.

[2017-09-19 21:03] deekoder commented on #4728
as per @aead  corner case so we will revisit this in the next milestone.

[2017-09-19 21:06] deekoder commented on #3475
Moving this to next milestone since this involves several moving parts that need to be changed eg #3970

[2017-09-19 22:54] krisis commented on #4818
Following is how Minio gateway can work with S3 buckets and
leverage data isolation of Azure storage accounts.

Azure Blob Storage (ABS) uses accounts for multi-region availability
much like buckets in AWS S3. In addition, it provides data isolation
with each account having its own credentials. On the other hand, AWS
S3 allows applications to create many buckets with the same
credentials. There ar

[2017-09-19 22:57] #4890 closed, assigned to nobody

[2017-09-19 23:00] krisis commented on #4818
In the same breath we should document the above solution in Minio Gateway for Azure docs.

[2017-09-20 03:40] nodesocket commented on #4166
👍 look forward to having a way to delete a bucket in the web ui *(if empty of course)*.

[2017-09-20 07:28] Blaiserman commented on #4606
I created the environment in docker toolbox like this:
[code]

I created a folder for mount on all nodes:
[code]

Added a tag for the nodes and create the secrets:
[code]

Lastly this is my working compose file:
[code]

@workd

[2017-09-20 15:35] LoicMahieu commented on #4769
Just in case someone is interested, here is a snippet for a "one line" docker only bucket creation:

[code]

[2017-09-20 16:50] #4905 closed, assigned to donatello

[2017-09-20 18:19] aead opened #4946 "Remove ReadFileWithVerify in StorageAPI"
The StorageAPI provides two functions for reading data from a disk - one with and one without bitrot verification. However the ReadFile function (without bitrot verification) basically calls ReadFileWithVerify with an explicitly as verified marked BitrotVerifier.

This leads to some unnecessary code which is not needed. Whenever somebody wants to read data from a disk he/she must ensure, that the

[2017-09-21 01:21] ItalyPaleAle opened #4948 "Minio returns "The specified bucket is not valid""
Background: I have been using Minio Gateway to Azure to backup my laptop using [Arq 5](https://www.arqbackup.com/).

After working flawlessly for a very long time, suddenly a month ago Minio stopped working. When Arq tries to list files, it gets an error saying "The specified bucket is not valid". This is the URL requested:

`https://minio.lacasetta.xyz/alessandro-mbp-arq/?prefix=3FA96B40-45FA-40D

[2017-09-21 02:31] christopherobin commented on #4769
Also if it helps, here is the docker stack I ended up using (not the cleanest but works for what I'm doing with it):

[code]

[2017-09-21 15:29] donatello opened #4950 "[build] make test does not clean up server processes reliably"
## Expected Behavior

No minio server processes launched by make test should remain running after it completes.

## Current Behavior

Sometimes, the minio server processes do not exit.

## Possible Solution

Not sure of the reason.

## Steps to Reproduce (for bugs)

1. Run make test a few times and check if minio server is still running.

## Context

make test fails if run consecutively with error

[2017-09-21 16:52] fwessels commented on #4887
@morph027 You need a minimum of N/2 of servers to be online in order to be able to read, or N/2+1 servers to be able to read.

So (on a 4 system cluster) you would want to restart one server after the other for a rolling update.

[2017-09-21 17:04] fwessels commented on #4860
With recent performance measurements that we did, it did not show up to be a bottleneck.

I would suggest postponing the issue for now and revisit it later if it becomes performance critical again (knowing that we can improve significantly here).

[2017-09-21 17:39] harshavardhana commented on #4860
Yes we can do that agreed. Will close this for now as a non issue.

[2017-09-21 17:39] #4860 closed, assigned to fwessels

[2017-09-21 22:43] ourway opened #4952 "upload error on freebsd and zfs storage"
I got this error while uploading a file.  bucket creation is always successful. Disk is empty and have lots of space

## Expected Behavior
to successful upload

## Current Behavior
I get this error:

[code]

## Possible Solution

## Steps to Reproduce (for bugs)
start the server and give it a zfs path: for ex: /mypool/storage

## Your Environment
freebsd 11 with latest minio build

[2017-09-21 23:13] harshavardhana commented on #4952
@ourway do you have more than 1GiB of disk space free? can you paste your `df -h` output?

[2017-09-22 04:44] morph027 commented on #4887
Sure,  but this one was bugging me more in terms of unplanned outage of a server. But my workaround helps for planned maintenance too ;)

[2017-09-22 11:55] dominicporteous opened #4955 "Ability to completely remove the front end"
## Expected Behavior

Ability to deploy on docker, exposing only the back-end (for use with command-line or language specific clients.)

## Current Behavior

As is

## Possible Solution

## Steps to Reproduce (for bugs)
N/a

## Context

Ability to deploy without front end UI, to fit in with existing S3 like workflow.

## Your Environment
N/a

[2017-09-22 11:59] nitisht commented on #4955
@dominicporteous you can use the `MINIO_BROWSER` flag to deny browser access. For Docker you can use

[code]

[2017-09-22 12:40] curantes opened #4956 "Unable to heal objects"
Unable to heal objects in distributed minio. even if the cluster have always ben running except for the upgrade i did before the heal command to latest version.

I am not able to send the sosreport since its time consuming to clear sensitive data. But I am willing to send you reports of specific parts if you require it. Just let me know what you need.

## Expected Behavior
Running `mc admin heal`

[2017-09-22 20:51] #4955 closed, assigned to nitisht

[2017-09-23 12:03] dominicporteous opened #4957 "Minio returns AccessDenied on public resource"
With 2 minio instances (via docker, shared volumes between the two) sitting behind a loadbalancer, when policy is updated on resource to be public (with the requests being handled round-robin) it appears the second instance, that being the one not handling the policy update http request, does not pick up the config changes from the other container, even though the buckets policy.json is the same f

[2017-09-23 18:03] harshavardhana commented on #4957
Duplicate of https://github.com/minio/minio/issues/4458

[2017-09-23 18:38] dominicporteous commented on #4458
Just wondering if anyone has found / implemented a workaround to this - I'm planning on using an NFS based fs for minio so dont think the suggested `mc watch` will be a possibility.

[2017-09-23 18:39] dominicporteous commented on #4458
@dreh23

[2017-09-24 16:41] kmcrawford commented on #4225
I see this is resolved, but I'm having the same issues.

  image: minio/minio:edge
        args:
        - server
        - http://minio-0.minio.default.svc.cluster.local/data
        - http://minio-1.minio.default.svc.cluster.local/data
        - http://minio-2.minio.default.svc.cluster.local/data
        - http://minio-3.minio.default.svc.cluster.local/data

time="2017-09-24T16:36:46Z" level=err

[2017-09-24 18:36] harshavardhana commented on #4225
Have you followed our deployment guide here https://docs.minio.io/docs/deploy-minio-on-kubernetes

[2017-09-24 21:20] #4927 closed, assigned to harshavardhana

[2017-09-24 21:46] ryanwalls opened #4959 "Document how to use minio with TLS using IP address"
Even after following the TLS setup guide, I can't get TLS to work with a local minio server and hitting `127.0.0.1`.

This is the error I get:
[code]

I would rather not run DNS for this local app.  Is there a way to configure TLS using a static IP address?

## Your Environment

* Version used (`minio version`):
[code]
* Environment name and version (e.g. nginx 1.9.1): running locally on a mac
* S

[2017-09-24 23:34] vadmeste commented on #4959
@ryanwalls, there are many ways to do that. In case of OSX, I think this is the easiet way:

You create a file called openssl.cnf and put inside it the following text:

[code]

Then, you run the following command where you put the correct path of openssl.cnf.

[code]

That command will generate the needed public.crt and private.crt, you need to put them in ~/.minio/certs/

[2017-09-24 23:43] #4910 closed, assigned to harshavardhana

[2017-09-25 03:49] harshavardhana commented on #4959
https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls following document helps you configure TLS with either ip or dns. Just replace with desired ip wherever dns is indicated

[2017-09-25 07:05] harshavardhana commented on #4952
@ourway can you provide us the requested output? - alternatively if this issue is not valid anymore, feel free to close it.

[2017-09-25 07:06] harshavardhana commented on #4950
Along with this i also see that some times `mc-test` buckets are not cleaned up.

[2017-09-25 07:14] ourway commented on #4952
I confirm that problem is resolved.  I did't have 1Gib free space.
Thanks.

[2017-09-25 07:14] #4952 closed, assigned to harshavardhana

[2017-09-25 11:07] vadmeste commented on #4959
That works with curl but doesn't work with mc. Golang will say the https url contains an IP address but the certificate doesn't contain any IP information. That's why I suggested the openssl.cnf solution.

[2017-09-25 13:32] mlowicki opened #4963 "UI should tell why changing password is disabled"
Currently it doesn't say anything - just fields are disabled for editing and there is not "Update" button visible.

[2017-09-25 15:33] harshavardhana commented on #4959
We need to then fix our TLS documentation.

[2017-09-25 15:41] harshavardhana commented on #4963
Thanks @mlowicki for opening an issue. It would be nice if  you used the issue template while reporting the issue, avoids some back and forth on detail gathering.

[2017-09-25 18:32] #4946 closed, assigned to aead

[2017-09-25 18:45] krishnasrinivas commented on #4948
@EgoAleSum Can you compile Minio from this branch and send us the log:
https://github.com/krishnasrinivas/minio/tree/azure-list-debug

[2017-09-25 18:47] krishnasrinivas commented on #4929
Thanks for reporting the issue @mindscratch we'll fix it.

[2017-09-25 18:54] ItalyPaleAle commented on #4948
Do you have a document explaining how to compile this and package it into a Docker container? Thanks

[2017-09-25 19:34] aead commented on #4932
@danyaljj We don't have any academic white papers about minio. Feel free to use any type of documentation or talks we provide if it fulfills your academic requirements.

[2017-09-25 19:37] krishnasrinivas commented on #4948
Can you `docker pull krishnasrinivas/minio` and check? It has the needed changes

[2017-09-25 19:44] ItalyPaleAle commented on #4948
This is what I see (nothing different):

[code]

[2017-09-25 21:47] #4940 closed, assigned to harshavardhana

[2017-09-25 21:50] vadmeste commented on #4832
This is a completed task, we can close it.

[2017-09-25 21:51] vadmeste commented on #4862
We can close this as completed.

[2017-09-25 22:55] krishnasrinivas commented on #4948
Sorry, can you try this image @egoalesum `krishnasrinivas/minio:azure-list-debug`

[2017-09-26 00:17] kannappanr opened #4966 "Download using a Presigned URL for getObject generated via awscli results in signature mismatch error"
## Expected Behavior
The object when it exists, should be downloaded to the local machine.

## Current Behavior
Getting a Signature mismatch error.  Here is the exact response from the server

<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>SignatureDoesNotMatch</Code><Message>The request signature we calculated does not match the signature you provided. Check your key and signing method.</Mes

[2017-09-26 00:35] ItalyPaleAle commented on #4948
Still nothing new:

[code]

[2017-09-26 00:51] kannappanr opened #4967 "MakeBucket call should fail if region is set in config.json and the region sent by client does not match"
Server should validate the region parameter in MakeBucket call, if it is set in the server side

## Expected Behavior
If wrong region is sent by the client, MakeBucket call should fail.

## Current Behavior
Currently MakeBucket call succeeds, even if the region is set to say us-west-2 in config.json and the client sets the region to us-east-1

## Possible Solution
Server should fail to create the

[2017-09-26 01:17] hagmonk opened #4968 ""Unable to create object part" after /export/.minio.sys/multipart accumulated 10k files on one node"
Writes into my distributed minio cluster were consistently failing - after debugging with @harshavardhana we found the count of files in /export looked very different on each node:

[code]

The extra 12666 files were all underneath /export/.minio.sys/multipart.

The server environment is a Kubernetes cluster presently running the y4m4/minio-staging:debug image.

[2017-09-26 01:27] harshavardhana commented on #4966
Fixed by #4965

[2017-09-26 03:04] painslie commented on #4606
Hi guys, I started playing with distributed minio on Docker Swarm on September 16th.  I've deployed in several different environments (Debian & Ubuntu) and service providers and I run into this error.

[code]

That problem was resolved for me by switching from `image: minio/minio` to `image: minio/minio:edge`!  Can't recall who, but someone checked in a change recently for this very issue.

[2017-09-26 05:06] harshavardhana commented on #4862
Why is this re-opened? @vadmeste

[2017-09-26 07:18] harshavardhana commented on #4606
That would be // @nitisht

[2017-09-26 07:33] harshavardhana commented on #4963
The disabled is meant to be indicative of not being able to do change it. We will be fixing the UI enhancements in `newux` branch.

[2017-09-26 07:34] harshavardhana commented on #4957
Closing this as duplicate of #4458

[2017-09-26 07:34] #4957 closed, assigned to harshavardhana

[2017-09-26 07:55] coraxster commented on #3892
if forked @taisph version of flysystem-aws-s3-v3 and published to composers packagist.
check this out
https://packagist.org/packages/coraxster/flysystem-aws-s3-v3-minio

[2017-09-26 07:57] coraxster commented on #4507
@taisph thank you! I forked your version and published to composer. Hope sometime thephpleague will fix this
https://packagist.org/packages/coraxster/flysystem-aws-s3-v3-minio

[2017-09-26 07:57] harshavardhana commented on #3892
Thanks looks great :cake: @coraxster perhaps you might want to update the following doc whenever you have time - https://github.com/minio/cookbook/blob/master/docs/how-to-use-minio-as-laravel-file-storage.md

This issue can be closed as well since we have this documented under cookbook // cc @deekoder

[2017-09-26 16:26] donatello commented on #4924
I found that the latest Azure SDK supports the feature - so we don't need to fork.

[2017-09-26 17:00] krishnasrinivas opened #4974 "S3 Gateway: PutObject fails"
On S3 gateway a simple `mc cp` fails

## Expected Behavior

PutObject should succeed.

## Current Behavior

PutObject fails

## Possible Solution

[code]

here it should do base64 decoding.

[2017-09-26 17:07] nitisht commented on #4974
should be fixed by https://github.com/minio/minio/pull/4972 @krishnasrinivas

[2017-09-26 18:25] #4932 closed, assigned to aead

[2017-09-26 18:37] fwessels commented on #4956
@curantes I notice that almost all dates are '24 apr' except for some '22 sep' on minio02. Did anything specifically happen on 24 april as far as you can recall?

For starters let's begin examining one directory -- can you list the contents of the directory '3546c1e2-b191-4b61-bdde-2411225c0625.pdf' on all four machines?

As well if you can provide the contents of the xl.json files in these direct

[2017-09-26 18:38] fwessels commented on #4897
@matti Any updates on this issue?

[2017-09-26 19:06] deekoder commented on #4959
@ryanwalls We will add this documentation in the next milestone.

[2017-09-26 19:08] krisis opened #4975 "GCS: ListObjects should fail when maxKeys is negative"
## Expected Behavior

ListObjects should fail with `InvalidArgument` when `maxKeys` is negative.
## Current Behavior

ListObjects pass without returning any error.
## Possible Solution

N/A
## Steps to Reproduce (for bugs)

1. Run mint, aws-sdk-php functional tests fail.

## Context

This was found when mint was run against Minio Gateway for GCS.

## Your Environment

* Version used (`minio versio

[2017-09-26 19:14] fwessels commented on #4909
@matti could you elaborate on what you mean by "larger file uploads" keep failing. Does this mean that small files are uploaded fine (and thus maybe a PUT vs MULTIPART PUT issue)? Do GETs work normally after the ephemeral nodes has been deleted and recreated?

[2017-09-26 19:30] krishnasrinivas commented on #4948
That is weird. I am trying to avoid getting your access/secret keys. Can you try this one last time, use this binary: http://krisupload.s3-us-west-2.amazonaws.com/minio-public/minio.alessandro (linux binary) and see if you can get the log?

[2017-09-26 19:50] ItalyPaleAle commented on #4948
Sorry to bother you Krishna, but any chance you could package that into a Docker container?

[2017-09-26 20:42] deekoder opened #4977 "Make shared backend to work as a gateway."
Implement Shared Backend mode to work as a gateway rather than as a mode of FS.

## Expected Behavior
N/A

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)
N/A

## Context
Simplification of code and other advantages such as removing locks.

## Your Environment
 N/A

[2017-09-26 20:45] deekoder opened #4978 "Converge gateway interface with object interface"
Todo Item for NAS Gateway

[2017-09-26 20:46] deekoder opened #4979 "Implement Bucket Policies for all gateways."
Right now we don't have this support. Implement this. Preceeded by #4978 and #4977

[2017-09-26 20:46] matti commented on #4909
All file uploads fail, small ones looked like they would complete

[2017-09-26 20:47] matti commented on #4897
Haven’t had time to test this, I’ll try to find some time soon!

[2017-09-26 22:25] harshavardhana opened #4980 "With two servers down abortMultipartUpload gives NoSuchUpload"
[code]

## Expected Behavior
Abort multipart upload should says XMinioWriteQuorum.

## Current Behavior
Abort multipart upload returns NoSuchUpload.

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)

1. Start with a 4 disk configuration
[code]
2. Create a new multipart upload
[code]
3. Now delete backend directories creating disk failure
[code]
4. Now attempt to abort the previously

[2017-09-26 22:28] harshavardhana commented on #4980
Similarly would fail for  PutObjectPart as well.

[code]

[2017-09-26 22:34] harshavardhana opened #4981 "[erasure] In a 4 disk setup, 3 disks un-formatted and 1 disks formatted should fail to start"
## Expected Behavior
minio server /tmp{1..4}  would fail

## Current Behavior
Doesn't fail and infinitely waits..
[code]

## Possible Solution
Not sure yet.

## Steps to Reproduce (for bugs)

1. Start on a fresh setup `minio server /tmp{1..4}` , everything runs fine.
2. Once on a running instance remove `rm -rf /tmp/{2,3,4}`
3. Now attempt to restart the server, it will fail
[code]

## Context
Rel

[2017-09-26 22:37] fwessels commented on #4909
And what about GETs, where they working?

[2017-09-26 22:51] krisis opened #4982 "Azure: ListObjects with negative maxKeys incorrectly fails with InvalidBucketName"
## Expected Behavior

ListObjects with negative maxKeys on Minio Gateway for Azure should fail with InvalidArgument.
## Current Behavior

ListObjects with negative maxKeys on Minio Gateway for Azure fails with InvalidBucketName.

## Possible Solution

N/A
## Steps to Reproduce (for bugs)

1. Run mint on Minio gateway for Azure.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio vers

[2017-09-26 22:54] krisis opened #4983 "Azure: GetBucketLocation incorrectly fails with NoSuchBucket for an invalid bucket name"
## Expected Behavior

GetBucketLocation should fail with InvalidBucketName when an invalid bucket name is given.
## Current Behavior

GetBucketLocation fails with NoSuchBucket when an invalid bucket name is given.
## Possible Solution

N/A
## Steps to Reproduce (for bugs)

1. Run mint on Minio gateway for Azure.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environ

[2017-09-26 23:20] dvaldivia commented on #2965
I can report that this still happens with `Spark 2.1.0`, I tried playing with different versions of `aws-sdk-java` but from `1.7.3` to `1.7.7` I get read, but no write (still using `org.apache.hadoop:hadoop-aws:2.7.3`) beginning `com.amazonaws:aws-java-sdk:1.7.8` there' no read or write, the exception I get is

[code]

using `org.apache.hadoop:hadoop-aws:2.8.1` and `com.amazonaws:aws-java-sdk:1.8.

[2017-09-27 00:14] harshavardhana commented on #2965
We will validate it soon, sorry for the delay // cc @deekoder

[2017-09-27 01:52] harshavardhana commented on #4039
https://github.com/aws/aws-sdk-ios/pull/638 fixed upstream.

[2017-09-27 03:13] #4967 closed, assigned to harshavardhana

[2017-09-27 13:26] painslie opened #4987 "Disk http://minio1:9000/export is still unreachable - Physical & Overlay Networks Confict"
## Expected Behavior
I setup a Docker Swarm network with 4 hosts.  Then I deployed a 4 server Mini docker compose file (auto-generated from the minio.io website).  It should have a swarm setup within a minute or two.

## Current Behavior
Containers on each of the 4 hosts were logging similar messages and were not able to connect to the other containers, except for their own (http://minioX:9000/exp

[2017-09-27 16:55] aead opened #4988 "[refactor] erasure read needs complexity refactoring"
The erasure read code is quite complex with functions taking long parameter lists. We should refactor the code to reduce complexity and take recent code-quality discussions into account.

## Expected Behavior
The code should be readable even tough the overall topic is complex.

## Current Behavior
The current code takes too long argument lists and does too much in too few functions.

## Possible S

[2017-09-27 17:00] #4966 closed, assigned to harshavardhana

[2017-09-27 17:02] deekoder commented on #4963
moving to newux milestone.

[2017-09-27 18:57] vadmeste commented on #4863
Closing this we are moving issues to a new location

[2017-09-27 18:57] #4863 closed, assigned to nobody

[2017-09-27 18:58] #4862 closed, assigned to vadmeste

[2017-09-27 18:58] vadmeste commented on #4862
I wanted to check with @krisis first.

[2017-09-27 19:52] krishnasrinivas commented on #4948
@EgoAleSum can you do `docker pull krishnasrinivas/minio:latest` again and check?

[2017-09-27 22:42] ItalyPaleAle commented on #4948
@krishnasrinivas  here it is, finally with a clear error message (or so it seems to me):

[code]

[2017-09-27 23:26] krisis commented on #4968
@hagmonk Do you have a listing of some (if not all) of the files under `.minio.sys/multipart/` directory?

Did you bring down any of the minio servers while uploading objects?

[2017-09-28 01:39] deekoder commented on #4929
We will do this in our next release @mindscratch

[2017-09-28 02:15] krishnasrinivas commented on #4948
Thanks @EgoAleSum
Azure expects `marker` (https://docs.microsoft.com/en-us/rest/api/storageservices/List-Blobs?redirectedfrom=MSDN) in the ListBlobs request to be the `nextmarker` field of the previous ListBlobs result.

The marker is an opaque value.

Arq 5, does not use Azure's ListBlobs result for the marker and uses the object name directly (which is allowed in the S3 protocol)

We'll discuss

[2017-09-28 03:07] Panxing4game opened #4990 "fatal error: thread exhaustion"
## Expected Behavior

nothing

## Current Behavior

server down，print "runtime: program exceeds 10000-thread limit fatal error: thread exhaustion"

## Possible Solution

## Steps to Reproduce (for bugs)

1. start 4 Java process ,each process init a singleton MinioClient
2. create 32 threads each process, to upload images to minio server
3. upload speed is about 10,000 pic/min
4. api used was minio

[2017-09-28 03:09] Panxing4game commented on #4990
[minio.log.zip](https://github.com/minio/minio/files/1339360/minio.log.zip)

[2017-09-28 03:26] Panxing4game commented on #4990
package com.imagedt.lemon.cli;

import com.imagedt.common.object.storage.common.ObjectStorageConst;
import com.imagedt.commons.es.doc.BatchEsDocScanner;
import com.imagedt.commons.es.doc.EsDoc;
import com.imagedt.commons.util.common.IDTConfiguration;
import com.imagedt.commons.util.common.IDTHostLocation;
import com.imagedt.commons.util.file.FileUtil;
import com.imagedt.commons.util.redis.ImageDtR

[2017-09-28 03:36] harshavardhana commented on #4990
Thanks for the sharing the code and reproducing it.

[2017-09-28 07:24] davidgeorgealex opened #4991 "Mirroring a cluster to a single instance doesn't work"
I have a Minio cluster that contains 3 instances, each with 2 disks (so 6 disks in total) and a Minio instance in single mode. I want to be able to mirror the files uploaded in the cluster to the Minio in single mode. For this I run `mc mirror` from one instance from the cluster to the Minio in single mode mode.

## Expected Behavior
The files uploaded in the cluster, from any instance, should be

[2017-09-28 07:31] davidgeorgealex commented on #4991
The issue is present with the edge version as well (use for both minio and mc)

[2017-09-28 07:44] harshavardhana commented on #4991
Just tested a local distributed instance,  mc cp to a different instance seems to be working fine. @davidgeorgealex . Checking through browser uploads.

[2017-09-28 07:45] harshavardhana commented on #4991
Browser uploads seems to be working as well. NOTE i am running a local instance distributed setup not in docker, will try to replicate docker now.

[2017-09-28 08:34] harshavardhana commented on #4991
Reproduced it using docker compose, investigating further..

[2017-09-28 10:46] vadmeste commented on #4861
Closing as moving to a new location

[2017-09-28 10:46] #4861 closed, assigned to vadmeste

[2017-09-28 10:46] #4832 closed, assigned to vadmeste

[2017-09-28 15:10] #4974 closed, assigned to nitisht

[2017-09-28 18:58] vadmeste commented on #4987
I've also tested with packet.net and it works fine for me.

@painslie:
*) Can you check first if your VMs are pingable between each other?
*) Can you also test if containers can ping each other ?

[code]
you can find the virtual IP of any container using this `docker network inspect minio_minio_distributed`

*) Can you test with VMs while having the same OS distro ? (who knows..)

[2017-09-28 19:01] harshavardhana commented on #4407
With the new design `Federator` is a separate project. We can close this bug.

[2017-09-28 19:01] harshavardhana commented on #4406
With the new design `Federator` is a separate project. We can close this bug.

[2017-09-28 19:29] gjonespf commented on #4406
@harshavardhana this you mean?
https://github.com/minio/federator
Guessing you're looking at some plugin approach with something AzureAD specific?  Interested to see where this goes.

[2017-09-28 19:36] harshavardhana commented on #4406
@gjonespf soon will post more details, currently the code is local.

[2017-09-28 19:54] tomcsi opened #4993 "Crash glusterfs mountpoint if minio started"
I mounted the glusterfs volume to /glusterfs/storage. If I start the minio in docker, glusterfs client crash after cca. 5 minutes. This issue is reproducible.

Linux: Ubuntu 16.04

Docker run with this command:
[code]

[2017-09-28 19:58] harshavardhana commented on #4993
shouldn't this be reported on GlusterFS bugzilla tracker? does minio work fine if run against a local disk? if yes then its a GlusterFS bug that needs to be fixed. @tomcsi

[2017-09-28 20:00] tomcsi commented on #4993
The glusterfs has stable until minio stopped.

[2017-09-28 20:00] harshavardhana commented on #4993
Can you share the GlusterFS client crash log here? And also the GlusterFS version ?

[2017-09-28 20:02] tomcsi commented on #4993
Version:
[code]

Crashlog:
[code]

Another crashlog:
[code]

[2017-09-28 20:22] harshavardhana commented on #4993
https://bugzilla.redhat.com/show_bug.cgi?id=1456696 here is the relevant bug fix in distribute there are crashes in rmdir() but not sure if this has landed into upstream release yet we need to validate this.

It really shouldn't matter what an application does i.e `minio` here @tomcsi - filesystem shouldn't crash.

[2017-09-28 20:26] tomcsi commented on #4993
My glusterfs setup is no geo replicate, it's simple two node setup.

[2017-09-28 20:26] tomcsi commented on #4993
I understand, this is glusterfs bug.

[2017-09-28 20:26] #4993 closed, assigned to nobody

[2017-09-28 20:30] harshavardhana commented on #4993
Feel free to post this on GlusterFS bugzilla we can chime in with relevant information from Minio's side if they have questions @tomcsi

Thanks for reporting this issue to us.

[2017-09-28 20:52] harshavardhana commented on #4987
@vadmeste @painslie was using scaleway.

[2017-09-28 22:11] balamurugana commented on #4982
@krisis How do I reproduce this issue?

[2017-09-29 00:14] balamurugana opened #4994 "[gateway/azure] validate whether gateway sends Content-MD5 or checksum to server"
Currently Content-MD5 or other checksum is not sent to Azure server for `PUT`, `POST` methods.  Its required to send at least one checksum header to server to verify transferred body.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g.

[2017-09-29 00:15] balamurugana opened #4995 "[gateway/gcs] validate whether gateway sends Content-MD5 or checksum to server"
Currently Content-MD5 or other checksum is not sent to GCS server for `PUT`, `POST` methods. Its required to send at least one checksum header to server to verify transferred body.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. ng

[2017-09-29 00:44] deekoder commented on #4995
We need to do this in the next release. Not critical for release.

[2017-09-29 00:45] deekoder commented on #4994
We need to do this in the next release.

[2017-09-29 02:37] #4983 closed, assigned to harshavardhana

[2017-09-29 04:55] painslie commented on #4987
@vadmeste Our VM's are all singable between each other.  I also used went into the containers on each host (as you mentioned above) and successfully pinged the other hosts on their eth0 IP address.

I've tried this several times with Debian 8 (Jessie) and Ubuntu 16.04.3 LTS.

I guess this is unique to Scaleway because of the address space they use.  I've got a dev Scaleway cluster you're welcome t

[2017-09-29 05:13] harshavardhana opened #4997 "Implement support for x-amz-storage-class for configurable erasure coding"
Avoiding issue template on purpose.

[code]

If you don't specify, Standard is the default storage class. Amazon S3 supports other storage classes. We can re-purpose these values or come up with new valid values. These values when set with minio SDKs during PutObject() would set the right value, each objects would be able to choose the right data and parity.

[2017-09-29 05:23] harshavardhana opened #4998 "Support all values in minio config to be honored through envs"
Currently values of access key, secret key, region and browser flag are supported by environment variables `MINIO_ACCESS_KEY`, `MINIO_SECRET_KEY`, `MINIO_BROWSER` and `MINIO_REGION` respectively.

We would need to leverage the support to all fields in minio configuration file as environment variables.  Below is the table indicates JSON field and respective environement variable.
[code]

[2017-09-29 08:55] curantes commented on #4956
I have looked through some logs and the calendar but I can't recall any issues that day.

all 4 servers have same content:
- part.1
- xl.json

I have attached the 4 different xl.json files.
[xl.zip](https://github.com/minio/minio/files/1343723/xl.zip)

[2017-09-29 15:00] vadmeste commented on #4987
Great, can you send me in private IPs and credentials of your VMs ? I am in Slack: https://slack.minio.io

[2017-09-29 19:07] #4975 closed, assigned to poornas

[2017-09-29 19:24] balamurugana commented on #4982
Fixed by https://github.com/minio/minio/pull/4999

[2017-09-29 19:24] #4982 closed, assigned to balamurugana

[2017-09-29 23:16] deekoder commented on #4990
we are still looking into this. Please stay tuned.

[2017-09-30 00:38] harshavardhana commented on #4990
Pasting some more details here about this bug, from the logs we can obtain that there are around 9990 active i/o calls in progress.

[code]

Each thread is given to a Go process if it is actively blocked on a syscall, in the `minio.log` we can see that is the case here.

Relevant fixes done in other projects such as docker https://github.com/moby/moby/pull/18362

Fixes the issue reported here
- ht

[2017-09-30 01:32] deekoder commented on #4924
Reactivating this issue to cover s3 gateway (and also please check gcs) since  associated mint issue https://github.com/minio/minio-java/issues/614 mentions gcs.

[2017-09-30 02:46] harshavardhana commented on #4924
PR sent #5000 please review.

[2017-09-30 02:51] harshavardhana commented on #4406
Closing this bug.. as moved to https://github.com/minio/federator

[2017-09-30 02:51] #4406 closed, assigned to harshavardhana

[2017-09-30 23:35] vadmeste commented on #4987
Well, it seems that internal DNS of swarm is wrong. If I login to container 1, ping minio2 resolves to an IP that doesn't actually exist (you can check by logging in other containers and then run 'ifconfig').

Now, I am not sure yet why this happens, there are some issues reporting similar problem in Docker project.

By the way @painslie, I found the following paragraph in Swarm documentation:

[c

[2017-10-01 00:00] painslie commented on #4987
@vadmeste everything should be wide open on those Scaleway servers; but I've tried exactly opening those ports now everything up on the default firewall.  Try again.

[2017-10-01 00:25] vadmeste commented on #4987
That didn't help @painslie, I'll investigate further,

One example of a similar issue:
https://github.com/moby/moby/issues/30134

[2017-10-02 07:38] harshavardhana commented on #4991
@davidgeorgealex sorry for the delay, will send a fix for this - this week.  Thanks for reaching out to me to slack.

[2017-10-02 07:45] davidgeorgealex commented on #4991
@harshavardhana No problem. Have a great day!

[2017-10-02 09:30] zerkms commented on #4998
Is this open for contribution or just a note for core developers?

[2017-10-02 10:39] nitisht commented on #4998
You are welcome to contribute @zerkms , we welcome community contributions :100:

[2017-10-02 13:56] vadmeste commented on #4987
@painslie, I guess that Scaleway doesn't support all Docker features by default. You need to provide the appropriate bootscript which loads the appropriate kernel version and built-in features which support Docker + Swarm very well. So I guess if you redeploy your VMs with bootscript docker, this issue will disappear.

This is the issue from where I found the information above:
https://github.com/

[2017-10-02 21:16] peterbe opened #5003 "Free disk space totally wrong - reset possible?"
I used to have not much free space on my docker host (osx). Eventually I ran into XMinioStorageFull and wasn't able to add more files to minio.
I poked around my laptop and freed up many gigabytes of old junk and started the minio docker image again. Now it said I had even less space! 73MB.
I don't remember what I did next but I deleted all docker images and rebuilt with docker-compose and now it'

[2017-10-02 21:32] harshavardhana commented on #5003
From what it looks like the docker is not reporting the disk sizes properly here.. can you see the `df -h` output of the docker container and do you see the same issue?

[2017-10-02 22:12] painslie commented on #4987
I switched the boot image to the latest mainline, `x86_64 mainline 4.12.12 rev1`, rebooted the cluster and it worked!  Thanks @vadmeste for all your help!

[2017-10-02 23:38] peterbe commented on #5003
I admit that I'm still learning docker. I don't know how to get into a shell (bash) of the minio container. With my other containers I can do things like `docker-compose run webapp bash`.

[2017-10-02 23:49] harshavardhana commented on #5003
You can `docker ps` and look at the container name and then do the following on another terminal

[code]

Once you are in just type
[code]

Also i see a problem in your container configuration.

[code]

you want `/export` but you have used `/myexport` is that expected?

[2017-10-02 23:57] harshavardhana commented on #4072
https://gist.github.com/harshavardhana/87c0f98c5e3c81ccc03f2ca4463af4b8 here is the document explaining B2 support and need some help in testing the support.

Test binary is available https://data.minio.io:10000/minio-b2/linux-amd64/minio (only for Linux amd64)

Feel free to ask any questions you might have.

[2017-10-03 00:03] peterbe commented on #5003
[code]

[2017-10-03 00:08] peterbe commented on #5003
Also,
[code]
And,
[code]

I actually didn't understand how the volumes mount worked. There is no `./miniodata` directory mounted on the host.

Oh, for what it's worth, I used `mc` to delete all the content I previously put into the `testbucket`.

By the way, the difference between 62.7G and 59.6G is what I actually had on my "Macintosh HD" today before I started deleting a bunch of old junk.

I ju

[2017-10-03 00:12] krisis opened #5005 "S3-gateway returns InternalServerError instead of EntityTooSmall in CompleteMultipartUpload"
## Expected Behavior

S3 gateway should return EntityTooSmall error response code when upload of a part is smaller than 5MB.

## Current Behavior

S3 gateway instead returns InternalServerError.
## Possible Solution

N/A
## Steps to Reproduce (for bugs)

1. Refer https://github.com/minio/mint/issues/168
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name

[2017-10-03 00:14] harshavardhana commented on #5003
Minio is reporting correctly you have a wrong configuration on your docker-compose.yml don't use myexport since that would end up using your `/` which is reported to have 0% available space.

You need to provide `server /export` in your docker-compose.yml which would report the following.

[2017-10-03 00:35] peterbe commented on #5003
Yay! That totally solved the problem.
<img width="763" alt="screen shot 2017-10-02 at 8 34 21 pm" src="https://user-images.githubusercontent.com/26739/31105321-3b7f2272-a7b1-11e7-86fd-9cb40f01770c.png">

But it's curious, what the 116TB comes from :)
My HD only has a 1TB of space.
<img width="391" alt="screen shot 2017-10-02 at 8 35 12 pm" src="https://user-images.githubusercontent.com/26739/31105

[2017-10-03 01:05] zerkms commented on #4998
Right, so I think I will allocate some of my spare evening time then for this task :-)

[2017-10-03 01:15] deekoder commented on #4998
@zerkms  adding this to hacktoberfest!!

[2017-10-03 01:54] harshavardhana commented on #4072
Re-uploaded a newer binary there was bug in previous binary. Thanks to @krisis for reproducing it. It should be fixed in the latest upload.

[2017-10-03 01:58] harshavardhana commented on #4987
@painslie feel free to close this bug if its resolved.

[2017-10-03 02:04] #4987 closed, assigned to vadmeste

[2017-10-03 07:39] harshavardhana commented on #5003
Do not know what happened here, perhaps you should use Linux machine for running docker. Docker on macOS is not really native and can have weird interaction issues.

It is also possible since your disk is encrypted this type erroneous volume sizes are being reported.

[2017-10-03 17:36] linc978 commented on #1159
I have a 4 nodes configuration, which each node is exporting /mnt/sdc1/www18[1234] respectively.
The 4 nodes are using  NTP service  to sync up their clock.
They also use environment variables to define the same access key and secret key.
The distributed MINIO was hanging in the following state for several hours.
Any clue is it a user error, or how to debug this problem?

Below is the console outp

[2017-10-03 17:37] #4990 closed, assigned to vadmeste

[2017-10-03 17:38] #4924 closed, assigned to harshavardhana

[2017-10-03 19:32] hverr opened #5007 "Incompatibility with git-annex: RFC1139 format too strict."
[Git annex](https://git-annex.branchable.com/) is a popular tool for managing large files with git. It is able to use S3-compatible storage backends to store the actual data.

Unfortunately, the HTTP `Date` request header value produced by git annex is incompatible with parser for the RFC1123 time format in the Go standard library, used by minio. This leads to incompatibility issues between the tw

[2017-10-03 19:43] balamurugana commented on #5007
According to [rfc2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) the date must be in RFC 1123 defined in https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1.

It seems bug in `Git annex`

[2017-10-03 19:54] hverr commented on #5007
Although **I think** (don't shoot me if I'm incorect) the RFC1123 date format technically allows for single-digit and double-digit days of the month, the RFC2616 is clear in the fact that it does not.

Yet, I'm still advocating to loosen up the header parsing in minio, as a fix in git annex would require a fix in a library dependency and would be far more complex and would take a lot more time tha

[2017-10-03 19:59] harshavardhana commented on #5007
We shouldn't make Minio compatible with misbehaving clients, clients should be fixed.

[2017-10-03 19:59] hverr commented on #5007
Understood, thanks for considerating

[2017-10-03 19:59] #5007 closed, assigned to nobody

[2017-10-04 03:19] nitisht commented on #1159
@linc978 we fixed some Docker/Swarm related issues in the latest release, Can you try the latest release image `RELEASE.2017-09-29T19-16-56Z` and let us know how it went?

[2017-10-04 06:44] zerkms commented on #4998
A progress report: I've not abandoned it, I'm reading/debugging through the codebase to understand what would be the best way to introduce a bunch of those variables. The current solution with a 2 global vars per environment variable for obvious reasons does not scale.

[2017-10-04 07:09] harshavardhana commented on #4998
@zerkms feel free to join us on https://slack.minio.io if you have specific questions, one of us is always around.

[2017-10-04 08:13] nitisht opened #5010 "Docker Healthcheck fails on latest Minio release Docker image"
## Expected Behavior
Docker should report the status of Minio container as healthy

## Current Behavior
Docker reports the status as unhealthy

[code]

## Possible Solution
Fix `healthcheck.sh`

## Steps to Reproduce (for bugs)
1. Launch latest release Docker Minio image
[code]
2. After sometime, check the status using `docker ps`.

## Context

## Your Environment

* Version used (`minio version`)

[2017-10-04 08:42] dreh23 commented on #4458
@dominicporteous we implemented no workaround. We just adapted our work flow to the given situation and it's a non-critical installation.

[2017-10-04 09:07] harshavardhana opened #5012 "Remove unusued code from various files"
## Expected Behavior
No unused code should be present in out source.

## Current Behavior
[code]

## Possible Solution
Remove or re-use these functions and variables.

## Steps to Reproduce (for bugs)
Install https://github.com/remyoudompheng/go-misc/tree/master/deadcode and then run `deadcode .` in  `cmd/` directory.

## Context
Cleanup.

## Your Environment
master

[2017-10-04 09:12] harshavardhana opened #5013 "Deprecate lock-instrumentation, re-purpose dsync server code to provide this info"
## Expected Behavior
Remove `lock-instrument.go` and move the necessary instrumentation logic to dsync server. Simplify the lock cleanup behavior and avoid duplication of data structures. It is also expected from profiling output that we might see better responsiveness in terms of acquiring locks.

## Current Behavior
Currently `lock-instrument.go` is carrying significant amount of duplication cod

[2017-10-04 09:44] harshavardhana opened #5014 "make test fails if you have a local minio server running"
## Expected Behavior
Tests should proceed regardless of he local environment and shouldn't cause port conflicts on local environment.

## Current Behavior
Run minio server `docker run --rm -p 9000:9000 minio/minio server /export` and then run `make test`
[code]

## Possible Solution
Do not use port 9000 while testing `pkg/http`

## Steps to Reproduce (for bugs)
Explained above.

## Context
Consist

[2017-10-04 10:08] lauragiles opened #5016 "Files do not sync to an offline node once it comes back online"
## Expected Behavior
If a minio docker container is stopped for maintenance and files are uploaded to minio during this time, i would expect the files to be copied to the offline node once it comes back online.

## Current Behavior
Checked the docker volumes folder size and the offline nodes files are less than the other node volume sizes.

## Possible Solution

## Steps to Reproduce (for bugs)

1

[2017-10-04 10:30] harshavardhana commented on #5016
You need to run `mc admin heal` to sync them back up, there is no auto-heal.

[2017-10-04 10:45] lauragiles commented on #5016
I thought the mc admin heal command is used to reinitialise a disk only. Its possible we would stop the docker container and run maintenance on the base OS and up the container again after. The disks and the data on the disks would remain the same. Do i still need to run mc admin heal?

[2017-10-04 10:51] dswd commented on #5010
Same problem here. However the "fix" will not work for me as the health check is performed by an external tool. I guess this will hit a lot of people using external tools like Nagios.

[2017-10-04 12:21] prein commented on #3532
/minio/index.html returns `HTTP/1.1 403 Forbidden`. I don't see how that would be useful for a healthcheck. I would prefer not to make healthcheck configuration come with credentials.

[2017-10-04 13:40] linc978 commented on #1159
Using the latest version yielded the same result, with "disk not found" error.

[root@minio181 ~]# minio version
Version: 2017-09-29T19:16:56Z
Release-Tag: RELEASE.2017-09-29T19-16-56Z
Commit-ID: 60cc6184d253efee4a3120683517028342229e21

To remove complexity, I ran the 4 MINIO servers on 4 (centos) VMs.
They are on the same subnet, and can ping each other, and their time is in sync.
Each VM has th

[2017-10-04 14:03] vadikgo opened #5017 "Web interface don't return file url when anonymous access to it"
## Expected Behavior
When click on a file name in the minio web interface as anonymous user must download file by link.

## Current Behavior
When click on a file name in the minio web interface as anonymous user it's show popup message 'Authentication failed, check your access credentials'

## Possible Solution
Return link to the file when click on it's name in web interface when connect as anonym

[2017-10-04 16:58] harshavardhana commented on #1159
Do you have selinux enabled ?

[2017-10-04 17:00] harshavardhana commented on #5010
Do not understand what you are talking about here @dswd

[2017-10-04 17:03] harshavardhana commented on #5016
mc admin heal is to heal disk, bucket and objects. If you have taken the server down and uploaded objects. Then you need to heal those objects..once the server joins back the cluster.

Healing is driven through a REST API which can be called by external application either it's `mc admin heal` or your app.

[2017-10-04 17:18] harshavardhana commented on #5010
This fix has nothing to do with nagios, for nagios monitoring you should write your own plugin using admin REST API.  In this fix healthcheck is a concept of docker containers which happily accepts external tools, one such example scripts used https://github.com/docker-library/healthcheck

[2017-10-04 17:24] linc978 commented on #1159
yes, should I disable it ?

[root@minio181 golang-book]# sestatus
SELinux status:                 enabled
SELinuxfs mount:                /sys/fs/selinux
SELinux root directory:         /etc/selinux
Loaded policy name:             targeted
Current mode:                   enforcing
Mode from config file:          enforcing
Policy MLS status:              enabled
Policy deny_unknown status:     allo

[2017-10-04 17:26] harshavardhana commented on #1159
can you try that?

[2017-10-04 17:43] linc978 commented on #1159
Did the following on all 4 VMs with SELINUX disabled, same result.

[root@minio181 ~]# sestatus
SELinux status:                 disabled

[root@minio183 ~]# rm -rf  /root/.minio /mnt/sdc1/.minio.sys /mnt/sdc1/*
[root@minio183 ~]# export MINIO_SECRET_KEY=password; export MINIO_ACCESS_KEY=admin
[root@minio183 ~]# minio server   http://10.245.37.181/mnt/sdc1 http://10.245.37.182/mnt/sdc1 http://10.24

[2017-10-04 17:57] linc978 commented on #1159
I can do ssh/scp among the 4 VMs without a password.
Each MINIO server can see the local directory, but not the remote directories.
The previous console was from host-183, which couldn't see the directories from 181,182 and 184.
Same behavior on the other 3 VMs.

below is their routing information:
[root@minio181 ~]# ip route
default via 10.245.37.1 dev ens192
10.245.37.0/24 dev ens192 proto kerne

[2017-10-04 18:01] dswd commented on #5010
Ok to clarify: I need a simple unauthorized URL that can be used for a health check by an external tool.
Before the current release I used `/minio/login` for this but the current release changed the behavior so that now it depends on the user agent. If this functionality is possible using the REST API, I am fine with that (please tell me the path to use).

[2017-10-04 18:09] harshavardhana commented on #1159
Can you head over to https://slack.minio.io and ping us, i can login remotely and take a look if that is possible.

[2017-10-04 18:13] harshavardhana commented on #5010
If you require unauthorized, then you can add a User-Agent since you are already using an external tool. There are no unauthorized endpoints on Minio other than browser.

[2017-10-04 18:16] dswd commented on #5010
Exactly that is my problem. The external tool has no support for adding a fake user-agent to the request. Could you consider restoring the original behavior of minio?

[2017-10-04 18:19] harshavardhana commented on #5010
Original behavior was wrong its the same reason why our docker healthscript stopped working. @dswd  what is the external tool that is being used which cannot take a user-agent?

[2017-10-04 18:26] dswd commented on #5010
The external tool I am talking about is the integrated health check of Cloudron.io. I am maintaining the Minio app on that platform.

[2017-10-04 18:30] harshavardhana commented on #5010
Do you have the code for this App that we can take a look? @dswd

[2017-10-04 18:33] dswd commented on #5010
Ich already sent a PR to that project but that will take some weeks. Until then  the current minio will not be available.

[2017-10-04 20:52] sebschlue opened #5018 "object heal errors after updating minio to release 2017-09-29T19:16:56Z"
`mc admin heal --fake minio`  reports "quorum not available for healing" for many files after update to release 2017-09-29T19:16:56Z from release 2017-08-05T00-00-53Z

## Expected Behavior
`mc admin heal --fake minio` did not report any files before the update and since no data has changed, it should not report any files after the update. Also, this is not a distributed setup but a local 4-disk se

[2017-10-05 00:32] joelanford commented on #3564
Sorry to revive an old issue, but this seems to still be a problem in the latest version of the brew formula. I'm getting the following error message in the output.log file:
[code]

This line is still present in the plist file:
[code]

Adding an equal sign fixes the problem:
[code]

[2017-10-05 00:39] harshavardhana commented on #3564
@joelanford are you using `brew install minio` or `brew install minio/stable/minio` ? we recommend the latter.

[2017-10-05 00:56] joelanford commented on #3564
I was using `brew install minio`, but I uninstalled it and tried `brew install minio/stable/minio` as well. It seems to have the same problem.

I'm guessing these are the relevant files/lines?
* `minio`: https://github.com/Homebrew/homebrew-core/blob/master/Formula/minio.rb#L66
* `minio/stable/minio`: https://github.com/minio/homebrew-stable/blob/master/minio.rb#L44

Slightly off topic, but I also

[2017-10-05 00:57] harshavardhana commented on #3564
That is a good suggestion, we are not native MacOS users so feel free to send a PR if you can :-)

[2017-10-05 08:04] lauragiles commented on #5016
ok. So i run _mc admin heal devops-1_ using minio client. The data volume size still doesn't change.
Is there a log file i can check? We are concerned that when we take nodes offline for maintenance we will have data inconsistencies across all nodes if we can't resync them.

Please see files attached
![screen shot 2017-10-05 at 09 05 30](https://user-images.githubusercontent.com/28596314/31216677-

[2017-10-05 09:03] harshavardhana commented on #5016
@lauragiles current command is changing and you won't be performing the same instructions as i am about to give you.

But this is what it works currently in the available mc build.

[code]

[code]

[2017-10-05 09:13] lauragiles commented on #5016
Ok that makes sense. I was hoping we wouldn't have to specify each bucket name individually.

Thanks for the reply. Look forward to the updated version.

[2017-10-05 09:25] harshavardhana commented on #4991
@davidgeorgealex so i have a work-around solution for the time being, while we fix this problem on our end. while i traced back the history on this issue, the bug has occurred and pretty much affects some of our releases since April of this year.

```de204a0a52e6b13fec2d25b73102239891e6de35``` there were some fixes to mitigate this problem, but looks like its not fixed yet.

Work-around is here fo

[2017-10-05 09:26] harshavardhana commented on #4991
Notice `--address` is specified explicitly which is the work-around right now @davidgeorgealex  - let me know if it works for you.

[2017-10-05 12:00] davidgeorgealex commented on #4991
Hi @harshavardhana,
I can confirm that the work-around is working like a charm!

Thanks,
George

[2017-10-05 13:41] davidgeorgealex commented on #4991
@harshavardhana Using this brings another problem:(. The images that I'm using contains also mc. Since the image can be used on any container, I use `mc config host add local http://localhost:9000 ...` to be independent from the container name/ip. Providing `--address` will make the `http://localhost:9000` to not work anymore. There is another alternative to specify `I want the mc to point to this

[2017-10-05 14:51] linc978 commented on #1159
My VMs are behind corporate firewalls, thus no access from outside. Can you point me to any tips on how to triage the network storage problem with MINIO ? I have also subscribed to https://slack.minio.io
Thanks!

[2017-10-05 15:49] harshavardhana commented on #4991
Not yet @davidgeorgealex .you need to add another haproxy config in front. Haproxy would talk to any node and it would work fine..

[2017-10-05 19:12] harshavardhana commented on #5003
@peterbe is there anything we can help further with this issue? , if not feel free to close it.

[2017-10-05 19:25] #5012 closed, assigned to balamurugana

[2017-10-05 20:17] peterbe commented on #5003
Well, I feel bad for filing an issue when ultimately it was a user error. And I admit that I rushed my own debugging and abused the issue filing because things didn't work.

However, what we can learn from this is that if you make my same mistake it's hard to understand what's going wrong. What did happen was that I deleted all the files I could see with `mc` and `localhost:9000` and yet the file

[2017-10-05 20:52] #5010 closed, assigned to harshavardhana

[2017-10-05 21:17] sebschlue commented on #5018
[5018-example.zip](https://github.com/minio/minio/files/1360893/5018-example.zip)

[2017-10-05 21:18] sebschlue commented on #5018
I have now attached the full example including data.

[2017-10-05 21:29] linc978 commented on #1159
harshavardhana, Thank you for your help. It's exciting to see our MINIO cluster up and running.

[2017-10-05 21:37] harshavardhana commented on #1159
:+1:  we will try to document iptables instructions in our docs.

[2017-10-05 21:42] harshavardhana opened #5022 "Add instructions regarding iptables configuration for Minio deployments"
## Expected Behavior
Many standard operating systems like CentOS, SLES, RHEL all apply default iptables with full restriction and with limited ports open. We need to document Minio requires right ports to be open and the command line to enable this.

## Current Behavior
iptables document missing from Minio deployment docs, this causes additional cycles with users to get their deployment issues get

[2017-10-05 22:01] deekoder commented on #5018
ok thanks!

[2017-10-05 22:09] kannappanr opened #5023 "minio client hangs on certain buckets after certain operations"
When you do a combination of "mc find watch" on one terminal and "mc cp" on another, mc hangs on certain commands on the bucket where this operation was performed.

## Expected Behavior
At any given point, mc cp and ls command should not hang on any bucket

## Current Behavior
Once the server gets into this state, mc cp and mc ls commands hang on those buckets, on which these operations were perfo

[2017-10-05 22:11] kannappanr commented on #5023
[output-from first failure.txt](https://github.com/minio/minio/files/1361005/output-from.first.failure.txt)
Attached is the output seen on the server during one of the failure reproduction iteration.

[2017-10-05 22:46] sebschlue commented on #5018
It seems that X-Amz-Meta-Mtime meta data causes the problem.

broken:

[code]

good:

[code]

[2017-10-06 00:12] pascalandy commented on #1159
I pure laziness, may I ask what is the final answer?
Thanks in advance :)

[2017-10-06 00:16] harshavardhana commented on #1159
Not sure what are you talking about? @pascalandy @linc978 issue context is not related to Docker.

[2017-10-06 00:18] pascalandy commented on #1159
Ohh sorry then :-p
I guess I got confused when I saw this comment.

[2017-10-06 00:34] deekoder commented on #4968
ping @hagmonk  would you be able to help us troubleshoot further?

[2017-10-06 05:20] davidgeorgealex commented on #4991
@harshavardhana Since I use `alpine` as OS, I can run `hostname -i` to get the IP address and then use this in `mc config host add` which works even if localhost/127.0.0.1 doesn't. And since I'm running using docker containers, this should be independent of the infrastructure where is deployed.

[2017-10-06 05:27] harshavardhana commented on #4991
Well we already have a fix. So anything you do will be temporary.

[2017-10-06 05:28] davidgeorgealex commented on #4991
Happy to hear that.. thanks for the effort!

[2017-10-06 11:21] donatello commented on #5018
@sebschlue It appears that your xl.json files have been corrupted.

The zip file you provided helped find the problem - its content is:

[code]

Now, if I extract the checksums recorded in the xl.json files for the 1st part (i.e. `part.1`) of Foto.png, I see:

[code]

They are all identical.

However, when I compute the [Blake2b](https://blake2.net/#su) checksums of the files, they are all differe

[2017-10-06 13:04] sebschlue commented on #5018
As discussed at the slack channel, it seems that I can deliberately trigger the error by using rclone:

Example 1:

[code]

Example 2:

[code]

[2017-10-06 13:05] sebschlue commented on #5018
Can you try to reproduce the error by using rclone copy?

[2017-10-06 13:13] sebschlue commented on #5018
I did not edit xl.json by hand. Please see my examples that show that while using mc copy is fine, using rclone copy triggers the error.

[2017-10-06 13:29] krisis commented on #5005
This issue is fixed by https://github.com/minio/minio/pull/5006. @deekoder can we close this?

[2017-10-06 13:42] donatello commented on #5018
Removed label after more getting more info.

[2017-10-06 14:03] linc978 commented on #1159
I have two 10G networks. Any example on how to configure one for MINIO's inter-cluster nodes communication, and the other for client host access ?

[2017-10-06 14:35] sebschlue commented on #5018
I am using rclone version  v1.37

[2017-10-06 16:39] rhaig opened #5026 "feature request: Provide a tool for reassembling EC file parts outside of minio"
For debug, learning, and pacification of managers, a tool that would reassemble the parts of erasure coded files would be handy to have. This tool could also provide a method for partial reconstruction of files.

## Expected Behavior

I'm envisioning a tool that would essentially un-EC files after a sufficient number of parts of the files (and their included config) were collected from the various

[2017-10-06 17:00] harshavardhana commented on #1159
@linc978 feel free to join us on slack or create a new github issue. Let's avoid discussing on old issues here.

[2017-10-06 17:05] sebschlue commented on #5018
I have now re-created everything from scratch, including whole fedora-atomic VM and all virtual disks and can no longer reproduce the issue. I think it's best to close the ticket now. I apologize for the effort and amount of time that was spent on this.

[2017-10-06 17:59] fwessels commented on #5026
Thank you for submitting the feature request, this is an interesting idea.

While it would be possible to "rip" some code out of the minio repo in order to accomplish this, a more structural approach requires considerably more thought and probably some reorganization of our source code base.

At the moment it is not a priority but we will keep it in the back of our minds and maybe some time in the

[2017-10-06 18:39] krishnasrinivas commented on #5018
@sebschlue do you know if there is any misconfiguration in the previous setup? just want to make sure that minio does not have any bugs.

[2017-10-06 20:10] sebschlue commented on #5018
I was not aware of any misconfiguration.

When I started from scratch I used the current version immediately and did not do the version update. So this may in theory be a difference (the version number is part of xl.json for instance). But there is no indication that the version update has caused the errors that I experienced. On the other hand, there is no other indication either, there were no i

[2017-10-06 21:01] der-onkel commented on #5003
It's a strange Docker on Mac OS X behavior.

## Example
[code]

### Docker Command:
[code]

### Results:
Native on Mac OS X 10.13
[code]
Inside Docker on Mac OS X 10.13
[code]

:confused:

[2017-10-06 21:12] harshavardhana commented on #5003
Perhaps you can open a bug with docker on this macOS issue @der-onkel ?

[2017-10-06 21:39] der-onkel commented on #5003
@harshavardhana  Bug is open: https://github.com/docker/for-mac/issues/2136

[2017-10-06 21:45] harshavardhana commented on #5003
Thanks

[2017-10-06 22:39] kannappanr commented on #5023
[run_log.txt](https://github.com/minio/minio/files/1364053/run_log.txt)
Attached is the output from a different reproduction of the issue.

[2017-10-07 00:09] deekoder opened #5027 "Figure out projectID for GCS automatically from credentials.json"
when GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json is set where credentials.json is downloaded from https://console.developers.google.com/project/_/apis/credentials then we don't need the user to pass the project ID additionally in the command line. Because we can parse projectID from the credentials.json

## Expected Behavior
project ID in the command line is optional if GOOGLE_APPLICA

[2017-10-07 00:12] krisis commented on #5023
Root cause:
The server side implementation of ListenBucketNotification uses channels to send notification events from the origin of the event like PutObject to the ListenBucketHandler (used by `mc find --watch` internally). The channels are stored in a map which is protected by a mutex. ListenBucketHandler does the following when a client closes connection.
- sendBucketNotification returns immedia

[2017-10-07 01:31] balamurugana opened #5030 "[gateway] stale objects may be found in main namespace"
In Azure/GCS, when single put object is called, the client may send checksum of the object stream as Content-MD5 or SHA-256.  The stream is forwarded to backend service and in parallel the checksum is validated.  If checksum failed at gateway, gateway calls remove object of uploaded object.

The above approach would lead by other clients could access wrongly uploaded object because it is available

[2017-10-07 02:42] harshavardhana commented on #5018
@sebschlue  i have a few questions.

- Were you ever in the past used our master branch or source compiled Minio and attempted a heal operation in the past on these files?
- What was the first version that minio was used on this data set?
- Did you create the above files recently or the file referenced by @donatello is an older file?

[2017-10-07 02:54] ssshah5 opened #5031 "Getting "403 Signature we calculated does not match the signature you provided" repeatedly for pre-signed PUT URL"
Have been trying the following code to upload a file "log.txt"  to Minio S3 storage. However, I keep getting `403 The request signature we calculated does not match the signature you provided. Check your key and signing method.`. I am able to upload the same file to S3 using curl (bash) using the same pre-signed URL. The pre-signed URL gets generated correctly but the upload is failing.

Java-scri

[2017-10-07 03:35] krishnasrinivas commented on #5031
can you paste the logs from minio server @ssshah5 ?

[2017-10-07 04:00] ssshah5 commented on #5031
@krishnasrinivas Here is the error logged in minio server
[code]

Also, I don't really want to provide Content-Length header. When I don't provide the Content-Length header, I get the following in the error response. Nothing gets logged to Minio server during that time.

[code]

[2017-10-07 04:37] harshavardhana opened #5032 "Race detected in pkg/http tests rarely"
## Expected Behavior
No race should be visible

## Current Behavior
[code]

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Happens rarely on our travis-ci

## Context
Consistent tests.

## Your Environment
master

[2017-10-07 08:39] sebschlue commented on #5018
There were only two versions involved:

RELEASE.2017-08-05T00-00-53Z
RELEASE.2017-09-29T19-16-56Z

The files were originally created by the older release version.

At the same day, I updated to the current release version and started playing with rclone. At that day, Ire recognized the heal errors.

Is is somehow possible to get/pull the old release version? I could then try to reproduce the error

[2017-10-07 08:44] harshavardhana commented on #5018
Yes you can get the old versions from archive https://dl.minio.io/server/minio/release/linux-amd64/archive/minio.RELEASE.2017-08-05T00-00-53Z @sebschlue

[2017-10-07 20:52] jmaitrehenry opened #5035 "Can't build minio on Mac"
## Expected Behavior
Minio should build on Mac

## Current Behavior
 Minio can't be build

## Possible Solution

## Context
The b2s method was removed by this commit: https://github.com/minio/minio/commit/88938340b367c0dd222430692fbe1f014fd7b0e2#diff-ce06b3e78086ce45cd73136d438a5fee

But it's still in use on https://github.com/minio/minio/blob/master/pkg/disk/type_bsd.go#L23

## Your Environment
g

[2017-10-07 21:07] sebschlue opened #5037 "md5sum not available for objects where more than one part is stored"
[code]

Using minio version 2017-09-29T19:16:56Z

[2017-10-07 23:34] harshavardhana commented on #5037
This is expected. Multipart files don't have md5sum stored after complemultipart.. this should be true with AWS S3 as well refer http://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html

[2017-10-08 01:43] zerkms commented on #4998
I just sent a PR for this https://github.com/minio/minio/pull/5039

[2017-10-09 01:51] ssshah5 commented on #5031
I followed the steps mentioned in the issue below and that did the job. Worth to put this in documentation
https://github.com/aws/aws-sdk-js/issues/902
[code]

[2017-10-09 02:06] balamurugana commented on #5031
As per https://github.com/aws/aws-sdk-js/issues/902, minio server behaves exactly same as Amazon AWS S3 because of `Transfer-Encoding` header.  This is expected behavior.

Its well understandable from the issue that presign PUT is wrongly used.   Hope `aws-sdk-js` documentation covers this oddness and minio doesn't have any documentation regarding AWS SDKs.

Please consider closing this issue.

[2017-10-09 02:27] ssshah5 commented on #5031
@balamurugana - You are right that its an issue with either 1. Node Request module OR 2. PUT on AWS side. Minio is working fine it seems. I suggested to add the above solution to some Minio Documentation just to help the end user as it took me 2 days to solve this issue. I agree with you that this is not a Minio issue.

Thanks for looking into this.

[2017-10-09 02:27] #5031 closed, assigned to krishnasrinivas

[2017-10-09 03:23] #4991 closed, assigned to harshavardhana

[2017-10-09 04:07] krishnasrinivas commented on #5031
@ssshah5 the bug is in request module, it is adding `content-type: false` to the headers:
[code]

This causes the signature mismatch. To fix it you can change this line:
var params = {Bucket: s3LogsBucketName, Key: id + '/' + name, Expires: 3600};

to

var params = {Bucket: s3LogsBucketName, Key: id + '/' + name, Expires: 3600, ContentType: "text/text"};

and these lines:
[code]

to

[code]

The f

[2017-10-09 04:56] krishnasrinivas opened #5040 "Removing hardcoding of /minio in browser code"
Currently browser has hardcoding such that all browser requests are sent to `/minio` The problem with this is that webUI of different instances behind nginx reverse proxy can't be accessed using nginx rules.

Currently S3 requests can be routed by nginx using rules explained here: https://github.com/krishnasrinivas/wikinotes/wiki/Minio-Multi-tenancy

Similar mux'ing using path can't be achieved fo

[2017-10-09 05:20] harshavardhana commented on #5016
Closing this as answered and resolved.

[2017-10-09 05:20] #5016 closed, assigned to harshavardhana

[2017-10-09 05:22] harshavardhana commented on #5003
Closing this bug "Working as Intended" , upstream bug.

[2017-10-09 05:22] #5003 closed, assigned to harshavardhana

[2017-10-09 05:23] harshavardhana commented on #4407
Work has moved to https://github.com/minio/federator closing this bug.

[2017-10-09 05:23] #4407 closed, assigned to harshavardhana

[2017-10-09 05:24] harshavardhana commented on #3564
Fixed by https://github.com/minio/homebrew-stable/pull/8 - Thanks a lot for the fix @joelanford

[2017-10-09 05:24] #3564 closed, assigned to harshavardhana

[2017-10-09 05:25] harshavardhana commented on #5037
@sebschlue feel free to close this issue.

[2017-10-09 05:27] harshavardhana commented on #5030
@balamurugana @krishnasrinivas suggested an easier suggestion to fail with a wrapped reader which does `data.Verify()` on io.EOF , this would ensure that object is not written to the backend we do not need to add multipart code.

This is how it is currently implemented on backblaze-b2.

[2017-10-09 05:28] harshavardhana commented on #5026
This is re-opened to open discussion, about if we need to provide this tool.

[2017-10-09 05:31] harshavardhana commented on #5005
This is fixed by #5006

[2017-10-09 05:31] #5005 closed, assigned to krisis

[2017-10-09 05:34] harshavardhana commented on #4948
Setting this as blocked for further discussion

[2017-10-09 05:36] harshavardhana commented on #4881
are we still exploring this @krishnasrinivas @vadmeste ? - if not should we close this bug?

[2017-10-09 07:03] #5037 closed, assigned to harshavardhana

[2017-10-09 11:01] dreh23 commented on #5010
Same Problem here. Hashicorp's nomad health check needs an unauthorized http request with a 2xx ranged reply. See here: [https://www.nomadproject.io/docs/job-specification/service.html#check-parameters](https://www.nomadproject.io/docs/job-specification/service.html#check-parameters). I believe an unauthorized dedicated /health endpoint would be useful.

[2017-10-09 14:04] ssshah5 commented on #5031
Thanks @krishnasrinivas

[2017-10-09 18:10] krishnasrinivas commented on #4881
yes @harshavardhana this bug needs to be worked on

[2017-10-09 18:11] ebozduman commented on #5026
Scheduled as candidate for future work.

[2017-10-09 18:12] krishnasrinivas commented on #5040
Have left a message on https://github.com/minio/minio/pull/4907 in case @a-rix-mkii wants to fix it

[2017-10-09 20:02] hagmonk commented on #4968
Sorry for the delay here ... here's an example of some of the file paths under .minio.sys:

[code]

[2017-10-09 20:04] hagmonk commented on #4968
It's possible that servers went down while objects were being uploaded – I had some processes hitting the minio service every minute or so. The servers could have gone down for a variety of reasons. Unfortunately I don't have access to logs from around this time.

[2017-10-10 00:05] balamurugana opened #5042 "Remove unnecessary code in pkg/madmin"
Refer https://github.com/minio/minio/blob/master/pkg/madmin/api.go#L96

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2017-10-10 03:23] harry75369 opened #5044 "No HA API for checking if minio could create new object (a.k.a in read-only mode or not)"
As the doc says, minio can withstand at most N/2 disks failure but it requires at least (N/2 + 1) disks to create new object.

When N/2 disks fails and you want to upload file, the request will be pending all the time, until at least one more disks come back, and then will the request be finished.

However, if the recovery time is too long, user will be kept waiting too long. The user cannot get a

[2017-10-10 03:36] harshavardhana commented on #5044
Which version of Minio are you running ? `minio version`

[2017-10-10 04:25] venchen opened #5046 "Does minio work on a FUSE (Filesystem in user space)"
Tried to run minio against a FUSE mounted folder /tmp/foo
ran the command
./minio server /tmp/foo/

Got the following message:
ERRO[0000] Initializing object layer failed              cause=disk path full source=[server-main.go:209:serverMain()]

The FUSE mount has plenty of space - its a custom FUSE driver that Ive built that might not be returning something that minio needs (for example I have n

[2017-10-10 04:47] harshavardhana commented on #5046
You need a fully POSIX compatible filesystem or a Windows Win32 API compliant disk FS such as NTFS.

It is not advisable to run on any other backend fs. If you happen to use you are on your own.

[2017-10-10 05:00] venchen commented on #5046
Thanks, @harshavardhana - that's what I suspected. Will hack away at the FUSE till its compatible.
Cheers!

[2017-10-10 05:12] harshavardhana commented on #5046
Feel free to close this issue @venchen.

[2017-10-10 06:06] harry75369 commented on #5044
[code]

In my test, the pending timeout is about 15 minutes, which means user has to wait 15 mins before he get a timeout error.

And I am using minio-js (3.1.3) API to upload file.

By using `mc admin info ...`, I could see which nodes are down, but cannot determine if minio is in read-only mode or not. And also `mc admin info` has no API version for developer to use.

[2017-10-10 06:45] harshavardhana commented on #5044
Yes this is expected @harry75369 we need Locks to timeout for the client to see an error. We introduced timeout for this reason alone so that we avoid a fully blocking operation forever.  There is no way we can return an error hastily since there is no difference between a temporary network disconnection v/s a permanent one. These timeout values are chosen based on practical conditions and can be

[2017-10-10 07:33] harry75369 commented on #5044
I see. Is it able to customize the timeout as a parameter in the upload API so that smaller timeout will give quicker response?

So the only way to get upload failure due to read-only situation is by (possibly customizable) timeout which is 15 mins for now. But timeout is hacky, what if a file needs more than 15 mins to upload due to big size or slow network speed? In this case, user will never up

[2017-10-10 07:57] harshavardhana commented on #5044
Timeout is only for acquiring once the Lock is acquired you can upload object until Content-Length.  You cannot tune this parameter, this parameter dynamically changes the value as the time progresses too.

We do understand that but it is not architecturally correct to assume that.  There are always situations where in a distributed system  nodes are temporarily offline, in middle of a startup or

[2017-10-10 08:27] krishnasrinivas commented on #5040
related nginx config :
[code]

[2017-10-10 08:49] harry75369 commented on #5044
I see. From minio's developer's view, current APIs have no problem.

But from minio's user's view, the upload API's behavior is not friendly enough due to the long wait time in the case of read-only situation.

Anyway, thanks for the reply. You can close this issue.

[2017-10-10 09:03] harshavardhana commented on #5044
Closing as answered.

[2017-10-10 09:03] #5044 closed, assigned to harshavardhana

[2017-10-10 09:27] #5035 closed, assigned to nobody

[2017-10-10 12:00] gima opened #5050 "Safe to use Minio with pre-existing data? [documentation]"
I was unable to find documentation regarding this.

### Question
I would like to start Minio with a data directory that has not been used with Minio before. It appears to work, but I don't know if the current behavior is unintended. If it's unintended, a future update could break this.

### What should be done
For this reason it should be documented whether this is intended functionality, for peac

[2017-10-10 14:27] #5046 closed, assigned to nobody

[2017-10-10 18:03] jmaitrehenry opened #5052 "Azure gateway - Etag not changed for multipart upload"
On Azure Gateway, we add "-1" to the etag header when we put a new file, but, when we use a multipart upload, it doesn't overwrite the etag header

## Expected Behavior
Append "-1" to multipart etag header

## Current Behavior
Don't append "-1" to multipart etag header

## Possible Solution

## Steps to Reproduce (for bugs)

## Context
[code]

## Your Environment

* Version used (`minio version`):

[2017-10-10 20:36] jmaitrehenry commented on #5052
I will create a PR soon with a fix, I do just a little more test/debugging for now

[2017-10-10 20:55] jmaitrehenry commented on #4948
I had the same problem with s3cmd:
[code]
Where `xxx/yyyy/zzz` is the object name

s3cmd use the marker for syncing local  directory and remote "directory" and checking the md5 of the files

[2017-10-10 22:23] ItalyPaleAle commented on #4948
@jmaitrehenry since this is about s3cmd, can you please try a new build of s3cmd and minio, as per this thread? https://github.com/s3tools/s3cmd/issues/880#issuecomment-335441856 (check the linked comment and all the ones after)

[2017-10-10 22:32] harshavardhana commented on #4526
Tested using Gob it seems to work fine..

[code]

A sample Gob codec compatible with grpc.Codec interface, so we might just leverage this and use for now.

[2017-10-10 23:04] jmaitrehenry commented on #4948
@EgoAleSum I already have a fix ready to push to s3cmd, I use this issue as a reference
But it's not related to https://github.com/s3tools/s3cmd/issues/880#issuecomment-335441856, I will open an another issue in s3cmd related to Mark/NextMark

[2017-10-10 23:10] harshavardhana commented on #4526
https://github.com/harshavardhana/grpc-gob-hello one such example on how to proceed forward.

[2017-10-11 00:09] jmaitrehenry commented on #5052
@balamurugana Yes, without it, the md5 check failed.

[2017-10-11 02:06] harshavardhana opened #5056 "Unnecessary log message after multipart upload"
## Expected Behavior
No unnecessary log needed.

## Current Behavior
[code]

## Possible Solution
It is expected that concurrently CompleteMultipart would have deleted the concerned file, the defer code shouldn't need to print error again.
[code]

## Steps to Reproduce (for bugs)
Just upload a multipart file.

## Context
Cleanup

## Your Environment
master

[2017-10-11 02:37] shane151 opened #5057 "Standalone minio exits after 3 minutes when deployed to docker swarm"
I am deploying a standalone instance of minio on docker swarm, but the minio process exits after 3 minutes.

The container is exposed through a traefik proxy

## Expected Behavior
Minio container starts and keep running

## Current Behavior
The container runs for 3 minutes and then exits with
"Exiting on signal terminated"

## Possible Solution
This behaviour is not seen when running older version

[2017-10-11 04:47] harshavardhana commented on #5057
Just set

[code]

And try again ?

[2017-10-11 05:13] shane151 commented on #5057
OK, it runs fine without the healthcheck

[2017-10-11 06:03] harshavardhana commented on #5057
Thanks for letting us know @shane151 . FWIW this issue is fixed in minio/minio:edge build should be available in the next release.

[2017-10-11 08:36] kineticz opened #5058 "How do I use https with minio?"
After starting the server (`minio server miniodata/`),  I got this:

[code]

## Expected Behavior

I was expecting https://127.0.0.1:9000 would work as well.

## Current Behavior

When I visit `https://127.0.0.1:9000` in the browser I got this:

[code]

And in the terminal there is this message:

[code]

## Your Environment

* Version:

[code]

* Operating System and version (`uname -a`):

[code]

[2017-10-11 08:46] harshavardhana commented on #5058
have you read our TLS docs ? https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls

[2017-10-11 09:07] harshavardhana commented on #5018
@sebschlue were you able to look at perhaps reproducing this again?

[2017-10-11 09:41] hegphegp opened #5059 "Why can't visit the minio resources when use nginx？"
Why can't visit the minio resources when use nginx？I visit the resources by proxy address, but I fail。
## Expected Behavior

There is nginx.conf:
[code]

[2017-10-11 09:52] hegphegp commented on #5059
``

[2017-10-11 09:52] #5059 closed, assigned to nobody

[2017-10-11 09:57] HeavyHorst commented on #4072
I've downloaded the test binary and everything works fine.
VERSION:
  2017-10-03T07:18:00Z

After running the proxy for some days (2?) i see errors like this:
[code]
and must restart the proxy to make it work again.

[2017-10-11 10:17] harshavardhana commented on #4072
From what it looks like the library that i am using should fetch the new token again transparently. Let me see how it can be done. Thanks for testing and letting us know @HeavyHorst

[2017-10-11 11:32] HeavyHorst commented on #4072
@harshavardhana
I'm using the same library (kurin/blazer not minio/blazer) in one of my projects.
I'm using the client from the b2 package and not the base package directly.

[code]

I have not seen any issues like that with this client (server is running for several months without issues).

[2017-10-11 14:54] sokoow opened #5060 "Rename minio client from mc to something else"
Hi All,

Just to let you know that minio client (mc) name is clashing with Midnight Commander. That might be a problem for machines that have commander installed.

[2017-10-11 16:34] harshavardhana commented on #4072
Yes the problem is using lower level interface, which doesn't have a refresh mechanism.

[2017-10-11 17:06] balamurugana commented on #5060
@sokoow You can refer https://github.com/minio/mc/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20midnight%20in%3Abody

Minio Client as mc is project which creates a single statically compiled executable binary which can be placed anywhere (by any name) in the system for user convenience.

When distributing mc's executable, package maintainer could choose convenient name which works for the sys

[2017-10-11 17:06] #5060 closed, assigned to nobody

[2017-10-11 17:16] #5014 closed, assigned to balamurugana

[2017-10-11 19:06] harshavardhana commented on #4072
@HeavyHorst updated the PR should be fixed now.. binaries are not updated yet though.

[2017-10-11 20:18] copernico commented on #4166
+1

[2017-10-11 21:15] vadmeste opened #5061 "Minio crashes without clear reason: needs some investigation"
## Expected Behavior
No crash

## Current Behavior
Crash with this stacktrace

@ridvan from Slack saw this.

[code]

## Possible Solution
No idea

## Steps to Reproduce (for bugs)
Don't know yet

## Context
@ridvan from Slack saw this

## Your Environment
Linux amd64
Minio version: 2017-09-29T19:16:56Z

[2017-10-11 22:30] deekoder commented on #5057
Can we close this @shane151 as working as intended

[2017-10-12 02:08] shane151 commented on #5057
Yes, just tested edge and it's all good.

Thanks @harshavardhana

[2017-10-12 02:08] #5057 closed, assigned to harshavardhana

[2017-10-12 02:11] deekoder opened #5062 "Add support NAS Gateway"

[2017-10-12 02:16] deekoder opened #5063 "Support lockfree fs"
* When fs supports extended attributes, use them for user metadata
*  When fs does not support extended attributes, use fs.json
*  Migrate fs.json to extended attributes during minio startup
* Remove fcntl locking code

[2017-10-12 02:45] harshavardhana commented on #5032
This is fixed by #5043

[2017-10-12 02:45] #5032 closed, assigned to nobody

[2017-10-12 02:56] checketts commented on #4186
@harshavardhana I see you moved this to `Completed` on https://github.com/minio/minio/projects/7#card-4102146 does that mean this feature is implemented?

[2017-10-12 03:13] harshavardhana commented on #4186
https://github.com/minio/federator is where the project has moved .

[2017-10-12 07:24] HeavyHorst commented on #4072
Great, thanks!
I've build the binary myself and will try it asap.

[2017-10-12 08:28] fbartels opened #5064 "Building a Dockerfile from a tag in git just builds the latest master"
Doing a checkout of a specific tag and then running `docker build .` will create a minio binary based on the current status of the master branch and not the checkout tag.

## Expected Behavior
- building the dockerfile should produce a minio binary from the currently checked out code

## Current Behavior
- uses go get to build based on the latest master

## Possible Solution
- use add or copy to c

[2017-10-12 08:30] harshavardhana commented on #5064
@fbartels just build

- `docker build -f Dockerfile.dev -t minio/minio:dev` for your local copy
- `docker build -f Dockerfile  -t minio/minio:edge` for master copy
- `docker build -f Dockerfile.release -t  minio/minio:latest` for release binary

[2017-10-12 13:58] csernazs opened #5066 "webhook lookup invalid json in body"
I have a minio server which uses webhooks for notification.
When I'm starting the server, it sends a request to the webhook where the body is not a JSON however the content-type is specified as application/json.

## Expected Behavior
Body would respect the Content-type header. If Content-type says application/json then the body would be JSON also.

## Current Behavior
The following request is sent

[2017-10-12 16:14] fbartels commented on #5064
Ah, ok the Dockerfile.release did not yet exist when the last tag was created. This file indeed does what I want.

[2017-10-12 16:14] #5064 closed, assigned to nobody

[2017-10-13 03:31] jmaitrehenry commented on #4994
Actually, I found 1 bug about this issue:
[code]

And it should already works if the client sent the `Content-MD5` header.
I didn't think Minio should calculate the md5 from `r.Body` and send it to Azure because we don't have an easy way to to it without reading the Reader as Azure need the `io.Reader`.

I will send a PR for the bug

[2017-10-13 03:31] harshavardhana commented on #4994
:+1:  @jmaitrehenry nice find.

[2017-10-13 03:33] harshavardhana commented on #4994
There is a reason we still need to calculate Md5, when `Content-Md5` is not present in the incoming request. But your PR will address one case though.

[2017-10-13 03:40] harshavardhana commented on #4994
One interesting point from Azure doc is here to notice https://blogs.msdn.microsoft.com/windowsazurestorage/2011/02/17/windows-azure-blob-md5-overview/

So looks like for Azure the recommended approach is if you are using HTTPS then don't set MD5, i am sure that we are using MD5 so if the Content-Md5 really doesn't exist we don't need to set it ourselves as indicated/recommended by the Azure docs

[2017-10-13 03:42] jmaitrehenry commented on #4994
I understand but I can't see how we could do this on minio side if we use `CreateBlockBlobFromReader`.

Maybe we could check it by uploading the file on Azure and checking the returning md5 with the md5 created on minio side. It's could be easy.

[2017-10-13 03:57] jmaitrehenry commented on #4994
@harshavardhana

Hum, I found a really simple way to check the md5:
[code]

What do you think?

[2017-10-13 04:06] harshavardhana commented on #4994
@jmaitrehenry  it is quite racy.  Once the namespace has been acquired we have no way of handling access to this object we would have potentially uploaded corrupted object.

Our idea is to convert the PutObject() into a Multipart style using PutBlobs() instead which would be more cleaner and safer avoiding the namespace pollution.

[2017-10-13 07:59] #5066 closed, assigned to nitisht

[2017-10-13 10:56] #4072 closed, assigned to harshavardhana

[2017-10-13 12:02] jmaitrehenry commented on #4994
It's exactly the other idea I had, the first one was an easy one that give the responsibility to the client to send the md5sum, and give the possibility to the client to know that he had uploaded a corrupt object if he doesn't send an md5sum.

[2017-10-13 18:57] lucidNTR opened #5069 "Heal reports false success on healing 0 byte files"
0 Byte Files are repored as successfully healed but will not actually get the erasure coded part files restored, instead the heal command will report a successful heal on every run.

## Expected Behavior
healing 0 byte files should succeed and actually restore the part files as reliable as files with conent, otherwise admins will think the file is empty because data loss occured.

## Current Behav

[2017-10-13 21:31] harshavardhana commented on #5061
[code]

[2017-10-16 12:17] luomaofu opened #5075 "how to download a object without authentication ?"
We have a lot of small pictures, we need to provide free access to the public network (using HTTP, and no authentication)
and we will  using Minio as back-end storage solutions.

Does the Minio have a HTTP URL as the access path and does not require authentication?

thank you!

[2017-10-16 14:13] luomaofu commented on #5075
set the bucket policy to public

[2017-10-16 14:14] #5075 closed, assigned to nobody

[2017-10-16 16:45] chotaire opened #5076 "Anonymous downloads not working via web ui on bucket with read-only policy"
## Expected Behavior
When using minio.RELEASE.2017-09-29T19-16-56Z (amd64) and setting a bucket to read-only within the web ui (with no prefix or prefix set as *), anonymous users should be able to view the bucket and also download all objects that are in the root of the bucket (using the web ui).

## Current Behavior
Anonymous users can view the bucket using the web ui, but when they attempt to c

[2017-10-16 16:59] harshavardhana commented on #5076
can you tell us how you tested this? @chotaire

[2017-10-16 18:21] harshavardhana commented on #5076
Are you talking about web browser UI? @chotaire - looks like a regression.

[2017-10-16 19:06] vadmeste commented on #5076
With Browser UI, I am not able to list a bucket in download mode, but I was able to download any file.

It looks like bucket policy sent for UI is different to mc's one.

[2017-10-16 19:15] harshavardhana commented on #5076
Looks like a small regression - sending a fix.

[2017-10-17 00:29] harshavardhana commented on #2423
https://github.com/minio/minio/pull/5049 - FS now has support for empty directories so s3fs works fine for all operations now (including directory operations) - continuing from the comment above @allspace.

Erasure coded backend is not part of this change and there are no current plans on addressing this for erasure coded backend. We can close this bug @deekoder as fixed.

[2017-10-17 00:34] #2423 closed, assigned to nobody

[2017-10-17 01:04] harshavardhana commented on #5058
@kindlychung were you able to follow the docs? - feel free to close this issue if you have no further questions.

[2017-10-17 10:10] chotaire commented on #5076
Yes I am talking about the Web UI. You can easily reproduce as explained in my original post.

This may be related, but is a different issue. In this case policies were probably defined using mc. In my case, bucket policies were defined using the Web UI.

[2017-10-17 10:26] harshavardhana commented on #5076
@chotaire i just tested the master branch, i cannot reproduce the problem.  what type of minio setup is this are you using basic single disk FS mode? or multiple disk distributed mode?

[2017-10-17 10:29] harshavardhana commented on #5076
Also if possible can you provide the output of `policy.json`  locate ad `.minio.sys/buckets/<bucketname>/policy.json`

[code]

[2017-10-17 10:32] vadmeste commented on #5076
@harshavardhana, I was able to reproduce this.. actually @chotaire was talking about downloading a file from the browser without credentials and not curl.

[2017-10-17 10:38] vadmeste commented on #5076
Clicking on the object in Minio Browser in anonymous mode will send this request:
[code]

the response is:
[code]

[2017-10-17 12:37] chotaire commented on #5076
I have updated the issue description to reflect that this is all about the web ui. creating the bucket, setting the policy, uploading the file and accessing the objects: all web ui. Sorry I did not make myself clear enough.

`
{"Version":"2012-10-17","Statement":[{"Action":["s3:GetBucketLocation","s3:ListBucket"],"Effect":"Allow","Principal":{"AWS":["*"]},"Resource":["arn:aws:s3:::whatever"],"Sid"

[2017-10-17 12:47] chotaire commented on #5076
That's basic single disk FS mode. Nothing fancy except that I use TLS with a real certificate chain.

`
{
        "version": "19",
        "credential": {
                "accessKey": "<censored>",
                "secretKey": "<censored>"
        },
        "region": "eu-central-1",
        "browser": "on",
        "logger": {
                "console": {
                        "enable": false

[2017-10-17 14:36] kineticz commented on #5058
Yes, the docs are good. Thanks.

[2017-10-17 14:37] #5058 closed, assigned to harshavardhana

[2017-10-17 17:13] harshavardhana commented on #5076
Yes `CreateURLToken` has an implementation bug @vadmeste

[2017-10-18 01:13] harshavardhana commented on #4557
@fwessels is this waiting on code re-org ?

[2017-10-18 01:26] harshavardhana commented on #3185
This can be closed I think . Since we already have lsync implemented and released.

@deekoder @fwessels ??

[2017-10-18 01:40] fwessels commented on #3185
Yes, correct, can be closed.

[2017-10-18 04:55] iiroj opened #5080 "Minio refuses to start with mounted ZFS sub filesystems"
After `RELEASE.2017-09-29T19-16-56Z` Minio refuses to start in Docker when I mount my ZFS filesystem into `/export`, because my mount-point includes further sub filesystems. This is pretty basic for ZFS, but I haven't found a workaround for Minio.

[code]

[code]

## Expected Behavior
Minio starts and has the `downloads` and `backups` buckets.

## Current Behavior
Minio fails to start with:

[code

[2017-10-18 05:30] harshavardhana commented on #5080
This is on purpose . You cannot move files between buckets and these cause issues for us. Is it possible to avoid ?

[2017-10-18 05:36] krishnasrinivas commented on #5080
@iiroj previously even though minio would start you would not be able to upload files into backup and download directory. This is because when an object is uploaded we first stage it to a tmp location and then rename it to the actual location. The rename call across different mounts would fail. Hence instead of failing during operation we decided to fail early during boot-up itself.

[2017-10-18 05:44] #5076 closed, assigned to harshavardhana

[2017-10-18 06:57] iiroj commented on #5080
@krishnasrinivas Thank you for the explanation. If I am doing it wrong, is there some official way of handling this situation, or should I run two Minio instances?

EDIT: That is to say, previously it has been working really well. I have multiple computers backing up to the `backups` bucket, and all downloads going to `downloads`, using minio with the S3 protocol. I haven't had any issues with upl

[2017-10-18 07:59] krishnasrinivas commented on #5080
yes, you can run two minio instances.

are you sure? need to check how ZFS behaves for renames across mount points.

[2017-10-18 08:03] harshavardhana commented on #5080
We could perhaps test this feature while starting the server, i.e does the backend FS indeed support cross device links and then allow if its allowed by the backend filesystem @krishnasrinivas

[2017-10-18 08:22] krishnasrinivas commented on #5080
https://unix.stackexchange.com/questions/276600/how-to-move-files-from-one-zfs-filesystem-to-a-different-zfs-filesystem-in-the-s
https://github.com/zfsonlinux/zfs/issues/2991

these links indicate that rename wont work across different zfs file systems.

[2017-10-18 09:00] aead opened #5081 "improve erasure backend benchmarks"
The erasure backend is optimized quite well now. However it's not easily verifiable whether a certain patch influences performance. Further it's very hard/impossible to detect performance bottlenecks in the erasure backend from the object layer.

## Expected Behavior
There should be a set of benchmarks testing the performance of the erasure backend itself.
These benchmarks should test erasure back

[2017-10-18 09:13] harshavardhana commented on #5081
what makes you say its not implemented?

[code]

?

[2017-10-18 09:37] aead commented on #5081
These are the benchmarks instrumenting the object-layer. There are some problems:
- Setup is always 16 disks - what about other setups?
- All disks are always online - what about n data down / n parity down
- It's quite hard to tell whether a specific change in the backend improves / decreases performance
The Put/Get operations do quite a lot and it's difficult to argue whether a change e.g would

[2017-10-18 11:50] nitisht opened #5082 "Improve tests for fs-v1-multipart.go"
## Expected Behavior
Tests in [fs-v1-multipart_test.go](https://github.com/minio/minio/blob/master/cmd/fs-v1-multipart_test.go) need to be improved to check for multiple scenarios.

## Current Behavior
Currently, majority of tests (5/7) check for `faultyDisk` by this logic

[code]
The test changes underlying `fsPath` and then `NewMultipartUpload` or other method under test fails with `BucketNotFou

[2017-10-18 11:54] iiroj commented on #5080
Alright, so the previous version seems to work ”by accident” in my use case, since my computers treat the two buckets seperately and data does not move between them.

It seems one solution would be being able to have Docker mounts directly as buckets. For example mounting two different devices as two buckets.

For now I’ll just migrate to two seperate minio instances. Is there an example on how to

[2017-10-18 12:14] Mo33n opened #5083 "[resolved] Minio show the signature mismatch problem , While amazone s3 storate works fine."
moeenmohsin [2:42 PM]
PUT URL GENERATED :
`http://65.39.201.4:9000/waafi/9ffba7f803a6a4898b54d35896f6cb19a0dbb13bb53bc643a2b0540801ae72cc/1508319687974.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=N95ZGNOF4LYAMUJAOEBV%2F20171018%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20171018T093959Z&X-Amz-Expires=6000&X-Amz-Signature=fc76702b228ac2aadf6777bc158fa6d1a70384498e156f698f1fdb48095716c8&X-

[2017-10-18 12:44] iiroj commented on #5080
It seems minio is refusing to start a bit earlier, because `/mnt/data` is its own filesystem as well.

Is there no way around this other than migrating `/mnt/data/backups` and `/mnt/data/downloads` to regular folders instead of filesystems?

[2017-10-18 14:15] vadmeste commented on #5083
This is a go code which generates a presigned PUT with content-length/content-type/acl requirements:

[code]

This works fine with Minio server. Besides it looks like mongooseIM is missing adding x-amz-acl to the list of X-Amz-SignedHeaders because it seems this is required according to the following link:

http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html

[code]

I real

[2017-10-18 15:35] vadmeste commented on #5083
@Mo33n, can you disable ACL support in mod_http_upload ?

https://github.com/esl/MongooseIM/blob/master/doc/modules/mod_http_upload.md

Set add_acl to false. I expect this will resolve your problem though this is just a workaround.

[2017-10-18 16:35] fwessels commented on #4557
Re-org would definitely help I think, but timing may be to far out. Let's discuss, we can "finish" an interim version.

[2017-10-18 16:37] harshavardhana commented on #5083
This is a bug in the http client which is using the presigned PUT it doesn't set the right headers properly.

[2017-10-18 16:49] vadmeste commented on #5083
Headers look to be fine according to the log posted by @Mo33n, are you seeing any weird thing ?

[2017-10-18 16:49] harshavardhana commented on #5081
The point is this bug report is misleading we should say we should improve our benchmarking tests instead of non existent. As I don't see that is the case..

[2017-10-18 16:52] harshavardhana commented on #5083
Headers is not fine it's missing x-amz-acl ..AWS S3 ignores their own SPEC some times.

[2017-10-18 16:55] vadmeste commented on #5083
Yes, the S3 spec clearly states that all x-amz-* headers need to be included in the signature calculation.

[2017-10-18 16:57] harshavardhana commented on #5083
Does it work without setting x-amz-acl @vadmeste ? With the Go program ?

[2017-10-18 17:03] vadmeste commented on #5083
The go program already works fine with and without x-amz-acl. It is just MongooseIM which is triggering this issue, and actually we are only discussing this because @Mo33n said it works fine with AWS S3.

[2017-10-18 17:26] aead commented on #5081
Okay, agree - change issue...

[2017-10-18 18:56] deekoder opened #5085 "Minio Server fails to start with a cryptic error message when set up for lambda notification"
minio server gives a cryptic message while trying to start a minio server set up for lambda notification (config.json). Machine had to be hard powered down and restarted which caused notification.xml to be empty.

[code]

## Expected Behavior
 Error message should be actionable. Eg. Instruct user to delete the notification.xml and then restart. Infact if notification.xml is empty delete and restar

[2017-10-18 19:00] iiroj commented on #5080
Alright, solved this by removing extraneous datasets inside `data`. Set up two minio instances, load-balanced with nginx, while I was at it. It's working now! Thanks.

[code]

[code]

[2017-10-18 19:00] #5080 closed, assigned to krishnasrinivas

[2017-10-18 19:23] harshavardhana commented on #5085
Actually at io.EOF we can simply ignore the file, we don't need to fail.

[2017-10-18 21:26] #5056 closed, assigned to nobody

[2017-10-18 21:42] #5061 closed, assigned to vadmeste

[2017-10-19 12:13] Mo33n commented on #5083
i set the set_acl: flase

its working fine now. Its the strange thing.

[2017-10-19 12:41] Mo33n commented on #5083
But i can get the image ,from the get URL

[code]

[2017-10-19 12:46] vadmeste commented on #5083
As a workaround, @Mo33n you can set all waafi bucket as readable (`mc policy download serveralias/waafi`) , until this problem gets fixed.

[2017-10-19 12:57] Mo33n commented on #5083
Dear @vadmeste
[root@ivr /]# ./mc policy  download ~/Photos/waafi/
Access permission for `/root/Photos/waafi/` is set to `download`

Still the problem is same.

[2017-10-19 13:03] vadmeste commented on #5083
@Mo33n, you should set the policy of a bucket belonging to a S3 server and not to a path in your machine.

For that, you need to configure an alias first in mc. The alias should point to your server.

https://docs.minio.io/docs/minio-client-quickstart-guide

e.g.:
`mc config host add myminio http://192.168.1.51 BKIKJAA5BMMU2RHO6IBB V7f1CwQqAcwo80UEIJEjc5gVQUSSx5ohQ9GSrr12 S3v4`

then:
`mc policy d

[2017-10-19 13:07] Mo33n commented on #5083
Thanks
`myminio/waafi` was the problem, . now i am all set for testing.

I appreciate your support.

[2017-10-19 16:34] harshavardhana commented on #5083
Feel free to close the issue.

[2017-10-19 16:47] balamurugana commented on #4892
All minio SDK could increase socket timeout to 15 minutes to avoid timing out in the server.

[2017-10-19 17:12] balamurugana commented on #4948
On LIstObjectV1, marker can be any existing object name.  When user wants to list objects with marker freshly (Not from beginning), currently there is no way in `ListBlobs()` to do the listing at specified marker.

Solution could be to use `ListBlobs()` from beginning and skip till we reach user specified marker and return the result.  This way we could remember `ContinuationToken` for the given m

[2017-10-20 08:40] davidgeorgealex opened #5089 "Minio doesn't work if 2 out of 6 disks are out"
I use a custom docker image where I bundle both Minio and MC with the latest release versions (attached is an archive with the files [docker.tar.gz](https://github.com/minio/minio/files/1401229/docker.tar.gz) ).
I have a custom image because I do a couple of things:
1. run a heal when the container started - wait that the whole Minio cluster is up - to achieve I run `mc admin info local` an check

[2017-10-20 11:57] donatello commented on #5089
Acknowledge the bug. I am able to reproduce it using the docker-compose setup described here. However, I am unable to reproduce this using a non-docker based 3-instance minio cluster running on different ports on my laptop.

The problem seems to arise because when listing `errDiskNotFoundFromNetError` is thrown which is not ignored during listing as it should be.

There are couple of ways to fix,

[2017-10-20 11:58] donatello commented on #5089
// cc: @harshavardhana inputs?

[2017-10-20 12:55] tgivslife opened #5091 "Upload using HTTP POST"
Hi,

I've been trying to integrate minio server with the Signal application (server/android app).
I managed to make the attachments transmission functional using presigned urls generated by the signal server and the android app uses the PUT method to upload the file.

I've been having problems with the account avatar image functionality. The android app is using POST multipart/form-data to upload

[2017-10-20 13:19] roelio opened #5092 "Minio unresponsive after shutting down node in a 4 node docker swarm"
Created a 4 node cluster like https://github.com/minio/minio/tree/master/docs/orchestration/docker-swarm with a minio container pinned on each node. A traefik loadbalancer docker service in put in front of them.

When shutdown a node the minio system becomes unresponsive. When I just kill a minio container (not the whole host) everything works as expected. I've tested this through the load balance

[2017-10-20 14:52] vadmeste commented on #5092
Minio log as seen by @roelio:

`time="2017-10-20T12:46:32Z" level=error msg="Unable to fetch disk info for &cmd.retryStorage{remoteStorage:(*cmd.networkStorage)(0xc42000c080), maxRetryAttempts:1, retryUnit:1000000, retryCap:5000000, offline:true, offlineTimestamp:time.Time{sec:63644100345, nsec:549945278, loc:(*time.Location)(nil)}}" cause="disk not found" source="[xl-v1.go:199:getDisksInfo()]"`

[2017-10-20 14:52] vadmeste commented on #5092
I am going to test this and report.

[2017-10-20 15:09] roelio commented on #5092
On the edge version I dont get the above log messages.

[2017-10-20 16:19] harshavardhana commented on #5089
@donatello disks are initialized with retryStorage always. So it shouldn't have caused this problem unless some one else is not translating the errors appropriately.

[2017-10-20 16:28] vadmeste commented on #5092
@roelio those logs are normal (they are like verbose log), they are shown because you called `mc admin info command` when one of the nodes is down.

I am testing directly with Swarm right now. When I shutdown one VM, Minio service kept restarting itself but I am not sure why. I will investigate more.

[2017-10-20 16:29] harshavardhana commented on #5092
Turn off health check @vadmeste are you not using edge ?

[2017-10-20 16:37] venchen commented on #5046
FWIW and if it helps any other FUSE writers trying to put minio on their FUSE - implementing the StatFS function fixes this particular problem I ran into and allows minio to server a FUSE mounted directory as the data folder (minio server /<path to FUSE mount>)

[2017-10-20 16:48] roelio commented on #5092
@vadmeste I also had disabled the health checks because of the restarting issue

[2017-10-20 17:19] danielfdsilva opened #5093 "Error too many open files (ECONNRESET)"
## Expected Behavior
It should be able to delete multiple files without crashing.

## Current Behavior
When trying to remove multiple files from minio (circa 10.000) the client (minio-js) throws an error:
[code]
and the server logs:
[code]

## Steps to Reproduce (for bugs)
To delete the files I'm getting the list with `listObjectsV2` (storing them in an array) and then looping over the array and d

[2017-10-20 17:32] harshavardhana commented on #5093
what version of minio server are you running? @danielfdsilva  with `docker run --rm minio/minio version` ?  also what can you provide the system limit here? like `ulimit -n` ?

[2017-10-20 17:45] danielfdsilva commented on #5093
@harshavardhana I installed the server today using homebrew:
[code]
The docker version is the same:
[code]

`ulimit -n` = 7128

[2017-10-20 18:12] harshavardhana commented on #5093
You need to increase the ulimit -n to more than the amount of files you are deleting in parallel @danielfdsilva - set the value to perhaps `ulimit -Hn 65535`  should solve this problem.

[2017-10-20 18:19] roelio commented on #5092
I can still reach the website, but cannot download, upload or do anything and get a 504 form ajax request that should normally retrieve the available size etc.

![image](https://user-images.githubusercontent.com/900675/31835927-d575e6e2-b5d3-11e7-95a7-5ed08d347952.png)

[2017-10-20 18:30] harshavardhana commented on #5092
Listing is allowed by looking up the disks which are available @roelio so due to random chance you are able to List as well.  For downloads and uploads the disk is supposed to return an appropriate error for it to be ignored, since there are no deadlines on RPC connection we will have sort of this type of problem of the underlying system didn't respond correctly or just hanging.

@vadmeste migrati

[2017-10-20 18:32] danielfdsilva commented on #5093
@harshavardhana I'm only deleting about 10 files in parallel. I call the delete function on 10 files and it only picks up more once it's finished.
The same happens if I delete the files in series.

[2017-10-20 18:42] harshavardhana commented on #5093
Hmm this looks different do you have a sample code that i can use to reproduce this problem?

[2017-10-20 20:57] #5085 closed, assigned to harshavardhana

[2017-10-20 20:59] #5027 closed, assigned to krishnasrinivas

[2017-10-20 21:00] #5052 closed, assigned to krishnasrinivas

[2017-10-21 00:59] krisis commented on #4968
@hagmonk for temporary relief you could run `mc rm -I myminio/<bucket>/object`. Note: `-I` flag is important, it deletes only incomplete multipart uploads. If you miss it you **will delete** your object.

It is not unusual to see the multipart upload directories with different number of files/directories when servers go offline during the upload of a large object. You could use the above command f

[2017-10-21 06:43] nitisht commented on #5091
This should work.

@NamingException can you provide Minio server logs, it is available in console where server is running.

[2017-10-21 11:35] tgivslife commented on #5091
Hi @nitisht ,

I got it to work.

First I was posting to host:9000 in no particular bucket (my bad), afterwards I mistype the bucket name (no bucket).
After fixing this the request goes through and the file is uploaded in the bucket.

I do get following log while browsing the bucket with the web dashboard, (during my post upload the server does not log anything, working as you said):

[code]

Any

[2017-10-21 13:48] nitisht commented on #5091
:+1:

Have you setup TLS with Minio?

[2017-10-21 13:54] tgivslife commented on #5091
Yes with certificate from letsencrypt. The browsers says its trusted.

[2017-10-21 16:04] vadmeste opened #5096 "Error log after accessing to Minio Browser using Chrome/Firefox when TLS is enabled"
## Expected Behavior
No log since there is no error.

## Current Behavior
[code]

## Possible Solution
Disabling peeking after a successful handshake, browsers seem to open a TLS connection but doesn't really send any data

## Steps to Reproduce (for bugs)
1. Configure a Minio server with TLS certificate
2. Open Minio Browser with Chrome or Firefox (and probably other browsers)

## Context
Fixing

[2017-10-21 16:05] vadmeste commented on #5091
Thanks for reporting @NamingException, I opened a new issue (https://github.com/minio/minio/issues/5096) to address the new problem. Please close this if you don't have any more questions with your original issue.

[2017-10-21 16:06] #5091 closed, assigned to nitisht

[2017-10-21 22:02] finid opened #5098 "On Ubuntu 16.04, Minio service falis to start - tls: bad certificate error"
## Expected Behavior
After setting up Minio with a Let's Encrypt certificate, the service should start successfully.

## Current Behavior
Instead, Minio fails to start, giving out the following error:

[code]

## Steps to Reproduce (for bugs)

1. install Minio
2. Correctly configured Minio as a systemd service
3. Here's my `/etc/default/minio` file

[code]
4. Set up a domain with a Let's Encrypt c

[2017-10-21 23:27] vadmeste commented on #5098
hey @finid.

Does your browser show any message/warning ?

[2017-10-21 23:33] harshavardhana commented on #5098
This most probably happens because.

[code]

Client perhaps didn't send certificate.

[2017-10-21 23:46] vadmeste commented on #5098
@harshavardhana, I think this is a regular error, not a bug..

Most likely the client didn't like the certificate sent by the server.

I was able to reproduce this easily: I tried to access to the server using a domain name different to the one registered in the letsencrypt certificate.

[2017-10-22 06:12] Mo33n commented on #5083
Its working fine with by disabling the acl support. and setting the buckets policy as download. this seems a work around.

I believe this ticket is still valid.
Please close it if i am wrong.

[2017-10-22 07:01] harshavardhana commented on #5083
The bug is in the client @Mo33n this is the reason we asked you to disable ACL to avoid the `x-amz-acl` signature issue.  Also enabling ACL doesn't make sense with Minio since we do not support ACL anyways.

FWIW we cannot fix this aws-sdk-go works properly as indicated by @vadmeste with similar headers and requirements. What needs to be fixed here is mongooseIM which is incorrectly generating a p

[2017-10-22 08:00] Mo33n commented on #5083
Okay, i understand the point, But my concern is that, Why mongooseIm presigned URL work fine with the Amazone s3 cloud, But not with minio.
as both storage are s3 compliant.

[2017-10-22 08:05] harshavardhana commented on #5083
In our experience AWS S3 is inconsistent at times with the signature spec implementation and varies based on the region of the bucket.  It is not conclusive and sporadically changes in nature.

[2017-10-22 08:11] #5083 closed, assigned to vadmeste

[2017-10-22 21:20] aead opened #5100 "server generates emtpy etag when client does not set content-md5"
## Expected Behavior
Currently the server should compute the MD5 sum of the object and use this value as etag if the client does not set the content-md5. (Actually we can set a random value as etag - see #4385 #4641)

fs.json
[code]

## Current Behavior
The server saves an empty value as etag.

fs.json
[code]

## Possible Solution
The problem is within the changes of #5071.
1. The `HashReader` sho

[2017-10-23 06:52] davidgeorgealex commented on #5092
I'm encountering the same issue, but in an OpenShift environment using AWS instances. When I kill just the container (Docker), the cluster is accessible, but when I bring down the whole AWS instance, I'm facing unresponsiveness issue.

[2017-10-23 07:07] harshavardhana commented on #5092
How was the system taken down @davidgeorgealex ? it is a clean shutdown system shutdown like using `reboot` or `shutdown -f` ?  or not?

[2017-10-23 07:33] plenczyk opened #5102 "Keep empty directories after deleting all items from directory"
To crete an empty directory, i used minio:edge image. Creating an empty directory works fine, but i found one problem. If I create an empty directory and next I upload a file there. Deleting a file will also remove the parent directory. I would like to keep empty parent directories.

## Expected Behavior
I would like to keep empty directories after deleting all items.

## Current Behavior
Delete a

[2017-10-23 09:54] harshavardhana commented on #5093
@danielfdsilva do you have a sample code to reproduce this issue?

[2017-10-23 10:00] danielfdsilva commented on #5093
This is the code I have. I tried this on another computer and the result is the same.
[code]

[2017-10-23 10:03] harshavardhana commented on #5093
Do you have code on how the data set was generated? @danielfdsilva

[2017-10-23 10:05] danielfdsilva commented on #5093
My dataset is just a bunch of vector tiles, I this case they were generated with `tippecanoe`

[2017-10-23 11:02] harshavardhana commented on #5093
Thanks @danielfdsilva

[2017-10-23 11:04] danielfdsilva commented on #5093
@harshavardhana I can actually send you the files, if you need a test dataset.

[2017-10-23 13:13] aead commented on #5100
@harshavardhana Sry haven't seen your working in it...

[2017-10-23 17:27] ItalyPaleAle commented on #4537
@krishnasrinivas do you know when this will be included into a stable release? Thanks

[2017-10-23 22:18] harshavardhana commented on #5018
We can close this bug @deekoder @nitisht

[2017-10-23 22:24] krishnasrinivas commented on #4537
appending `-1` is already included in the stable release of minio @EgoAleSum :
[code]

[2017-10-23 22:26] harshavardhana commented on #5093
That would be helpful as well

[2017-10-23 22:42] harshavardhana commented on #5093
Reproduced it @danielfdsilva

[code]

The problem is because of minio-js client keeps the connection active and we run out of number of fd's.  Sort of causing an fd leak,  it doesn't close the connection properly.

For example `mc rm -r --force home/testbucket`  runs fine on the same data set. I tried with all our other   SDKs we do not have this problem.

[2017-10-23 23:54] harshavardhana commented on #5093
Basically look at this

[code]

nodejs client is in-fact making 1025 new connections which is incorrect and should be connection pooling which i think is not happening, this is a classic case and server will run out of fd's.

The fix currently that works is https://github.com/minio/minio-js/blob/master/src/main/minio.js#L120 setting 'keepAlive: false'  , perhaps we are not reusing the agents corre

[2017-10-24 02:55] ItalyPaleAle commented on #4537
It's still missing this commit: https://github.com/harshavardhana/minio/commit/74c051d33a20d6ca0d02664e7dc05ca51d586527

Do you know when it will be included into a release?

[2017-10-24 03:26] harshavardhana commented on #4537
That is not released yet @EgoAleSum

[2017-10-24 03:44] fangyuxiangGL opened #5110 "'memory leak' when using multiple minio processes"
1. run two or three minio processes on a server, and put nginx in front of them, which behave as a load balancer
2. start multipart upload objects workload
3. use 'top' to observe memory usage of minio
4. stop the workload after sometime
5. wait golang memory gc for sometime

## Expected Behavior
after 5, memory usage of minio should decrease a lot

## Current Behavior
after 5, memory usage of min

[2017-10-24 03:48] harshavardhana commented on #5110
Thanks for taking the time on opening the bug @fangyuxiangGL - As per our conversation this issue is persistent and quite reproducible.

FS background append is scheduled for a change, we will be fixing this issue along the lines of this explanation https://github.com/minio/minio/issues/4881 // cc @krishnasrinivas

[2017-10-24 05:34] davidgeorgealex commented on #5092
@harshavardhana We have used AWS UI to stop the instance. I would say it was a clean shutdown.

[2017-10-24 09:19] danielfdsilva commented on #5093
@harshavardhana Thanks for looking into this. I'll try that and see if it solves the problem.
Should I open an issue for the js client or you keep track of it?

[2017-10-24 09:39] harshavardhana commented on #5093
Feel free to open an issue we need to figure out what is the issue with minio-js with keep-alives.

[2017-10-24 19:25] #5100 closed, assigned to harshavardhana

[2017-10-25 14:56] vadmeste opened #5113 "Vagrant + Swarm: Not able to initiate a Minio cluster"
## Expected Behavior
Cluster up.

## Current Behavior

Cluster not up.

I started 4 Vagrant VMs, installed docker in each of them and then successfully started Swarm using the configuration generated in http://minio.io.

Inside each container, I can access to other instances using minio{1..4} addresses, but all returning XMinioServerNotInitialized

`for i in $(seq 1 4); do curl http://minio$i:9000

[2017-10-25 15:50] vadmeste commented on #5113
Using the last vagrant binary downloaded from the official website fixed the problem. Will open again if the problem is reproduced.

[2017-10-25 15:50] #5113 closed, assigned to vadmeste

[2017-10-25 17:22] vadmeste commented on #5092
I was able to reproduce this with Vagrant + Swarm.

When a Vagrant VM is shutdown, Swarm creates a new docker container as a replacement to the failed one in another VM, to keep having 4 total instances.

However, the new Minio instance doesn't fully start:

[code]

This is an edge docker image
[code]

Actually, I failed to reproduce this issue manually: creating local instances in my machine, kil

[2017-10-25 17:26] harshavardhana commented on #5092
The problem is host resolution should wait. It is not waiting and failing. New swarm node will take time to come online.

[2017-10-25 17:39] vadmeste commented on #5092
@harshavardhana, in practice the new swarm node is quickly created in another VM (let's say after few seconds).. but the log of the new docker instance only shows this:

[code]

and gets stuck there for many minutes

[2017-10-25 17:42] harshavardhana commented on #5092
Oh this looks like some other problem but it is not this issue IMO @vadmeste can you send a `SIGABRT` and crash the server. We can see where its waiting.

[2017-10-25 19:00] vadmeste commented on #5092
http://paste.ubuntu.com/25818694/

I kept the cluster running for ~ 20 minutes, then I invoked ls command, so we should focus on go routines with ~ 2 minutes wait time I guess

[2017-10-25 19:32] deekoder commented on #5110
increased priority

[2017-10-25 19:45] krishnasrinivas commented on #5110
@fangyuxiangGL

you can use this in nginx config:
[code]

i.e nginx will load balance based on hash(objectName) hence for a given object, all the requests will go to the same minio server fixing your issue.

[2017-10-26 01:49] harshavardhana commented on #5092
From what it looks like 21minutes wait is happening inside http2 frame reader, can you test disabling HTTP2 here? Like starting server with.

[code]

[2017-10-26 03:43] fangyuxiangGL commented on #5110
@krishnasrinivas

but what is the content of $uri? Does it contain any args of http request, since that args is different even for a given object for multipart upload.

[2017-10-26 03:46] fangyuxiangGL commented on #5110
@krishnasrinivas

thanks, i already know the difference between $uri and $request_uri, and will test it.

[2017-10-26 08:01] roelio commented on #5092
@vadmeste if you put placement constraints you can make sure the container does not start on another node. I labeled my nodes and set the constraints as follows:
[code]

[2017-10-26 16:52] #5089 closed, assigned to donatello

[2017-10-26 20:48] aead opened #5121 "re-enable coverage for windows CI"
This is a tracking issue for golang/go#18468.

## Context
On #4894 windows coverage fails (sometimes) with `The filename or extension is too long`
This seems to be not related to anything in the PR itself. For further info take a look at the linked issue.
Once that issue is fixed we can enable windows CI coverage again.

## Your Environment
master

[2017-10-27 06:25] nitisht commented on #5018
Closing as no response.

[2017-10-27 06:25] #5018 closed, assigned to harshavardhana

[2017-10-27 10:27] nitisht opened #5123 "ContentType match fails"
## Expected Behavior
`minio-go` tests pass against s3 gateway mode

## Current Behavior
Test fails on S3 gateway

[code]

## Possible Solution
--

## Steps to Reproduce (for bugs)
1. Run latest minio master in S3 gateway mode
2. Test `minio-go` functional tests against S3 gateway

[2017-10-27 10:40] harshavardhana commented on #5123
Just tested everything seems to be working fine? @nitisht

[2017-10-27 14:14] kannappanr commented on #5123
In the arguments, "ContentType":"application/octet-stream". Why would the error be "ContentType does not match, expected application/x-gtar, got application/octet-stream"?

[2017-10-27 14:47] nitisht commented on #5123
This is because args is not updated, that needs fixing as well.

[2017-10-27 15:29] nitisht commented on #5123
I can consistently reproduce this with minio-go master. Initially I was running a branch, but with `minio-go` latest master, failing test is `testPutObjectReadAt` with same `Content types don't match` error.

To test, run all the tests from beginning, (you need to comment out ComposeObject tests to avoid https://github.com/minio/mint/issues/194)

		//testComposeObjectErrorCasesV2()
		//testCompose

[2017-10-27 15:57] nitisht commented on #5123
Update: tested with freshly launched S3 gateway, the issue was not reproducible anymore.. `testPutObjectReadAt` passed.

[2017-10-27 16:47] harshavardhana commented on #5123
We should close if it's not reproducible.

[2017-10-27 16:59] #5123 closed, assigned to harshavardhana

[2017-10-27 19:08] harshavardhana opened #5124 "gateway help can be consistent regarding access/secret requirement"
## Expected Behavior
Consistent help message to be shown

## Current Behavior
Inconsistent behavior across gateways

[code]

## Possible Solution
Show help if accesskey and secret key are not provided?

## Context
User UX issue.

## Your Environment
master

[2017-10-27 19:39] harshavardhana opened #5125 "Distributed server fails for listenBucketNotification"
## Expected Behavior
minio-js tests should pass

## Current Behavior
[code]

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Run minio-js functional tests on a minio distributed setup.

## Context
Release testing.

## Your Environment
master

[2017-10-27 20:22] krishnasrinivas commented on #5125
there is a race bug in the functioanl-test.js

[code]

with this it runs fine:

[code]

[2017-10-27 20:50] krishnasrinivas commented on #5125
sent PR https://github.com/minio/minio-js/pull/644

[2017-10-27 21:30] harshavardhana opened #5126 "Validate credentials by making an API call to the backend in all gateway modes; s3, gcs and azure"
## Expected Behavior
We should fail starting minio gateway if credentials are not valid and are not accepted by the backend.

## Current Behavior
[code]
This starts happily but it will fail all operations.

## Possible Solution
Do not start the server if credentials are invalid, this logic is specific per backend requirements.

## Steps to Reproduce (for bugs)
Just start `MINIO_ACCESS_KEY=minio MI

[2017-10-28 08:53] harshavardhana commented on #5125
Fixed by https://github.com/minio/minio-js/pull/644#event-1314797799 closing.

[2017-10-28 08:53] #5125 closed, assigned to krishnasrinivas

[2017-10-29 05:36] harshavardhana opened #5131 "A pluggable gateway compilation model - using go build tags"
**Not using the template on purpose**

Currently gateway code addition requires quite a few changes to ensure that it is working correctly, and also requires for all the gateway to be compiled in to work correctly.  This is not needed as we can leverage  Go's ability to provide custom build tags.

Build tags are basically annotation in source code. generally it is first line of file, where build t

[2017-10-30 08:55] vadikgo commented on #5017
fixed in version RELEASE.2017-10-27T18-59-02Z

[2017-10-30 08:55] #5017 closed, assigned to nobody

[2017-10-31 00:59] balamurugana opened #5133 "Honor updated Presigned Post Policy"
Existing post policy is deprecated and new way of setting condition is updated in http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolicy.html

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Ser

[2017-10-31 09:00] retorquere opened #5134 "Minio behind nginx"
I have set up minio using [these instructions](https://github.com/minio/minio-service/tree/master/linux-systemd) and have proxied it behind nginx as per [this guide](https://github.com/minio/cookbook/blob/master/docs/setup-nginx-proxy-with-minio.md#non-root-configuration) using this block:

[code]

but when I access `https://<external hostname>/ix35-s3` I get a `NoSuchBucket` error.

What dd I do

[2017-10-31 13:28] roffe commented on #3532
@prein I do the healthcheck on exactly that.
If it returns 403 that means minio is up and running

[2017-10-31 18:52] deekoder opened #5135 "Test snap command for minio server"
Need to check snap related documentation for minio server. How and where are the keys printed.
Is our documentation around snap correct? @nitisht  can you verify this.

[2017-10-31 21:13] ghost opened #5136 "Run distributed Minio - Windows"
The command in the document seem to have issues.

minio.exe server http://192.168.1.11/C:/data http://192.168.1.12/C:/data ^
                  http://192.168.1.13/C:/data http://192.168.1.14/C:/data ^
                  http://192.168.1.15/C:/data http://192.168.1.16/C:/data ^
                  http://192.168.1.17/C:/data http://192.168.1.18/C:/data

Not sure if there is an issue with escaping. Min

[2017-10-31 21:17] harshavardhana commented on #5136
Did you directly copy paste? you will have to change the paths appropriately @varun7447

[2017-10-31 21:18] harshavardhana commented on #5136
Also you need to run exact commands on all nodes exactly,  you also need to make sure that access and secret keys are set properly.

[2017-10-31 21:22] ghost commented on #5136
Yeah i changed the path
MinioServiceStart.cmd "http://10.1.1.10/MinioRepository1 http://10.1.1.10/MinioRepository2 http://10.1.1.11/MinioRepository1 http://10.1.1.11/MinioRepository2" XXXXXXXXX XXXXXXXXXXXXX ran it on all nodes.

I also ran this

MinioServiceStart.cmd "http://10.1.1.10/C:/MinioRepository1 http://10.1.1.10/C:/MinioRepository2 http://10.1.1.11/C:/MinioRepository1 http://10.1.1.11/C:

[2017-10-31 21:29] harshavardhana commented on #5136
Can you share MinioServiceStart.cmd ?

[2017-10-31 21:57] ghost commented on #5136
nssm.exe install minio minio.exe server http://10.1.1.10/C:/MinioRepository1 http://10.1.1.10/C:/MinioRepository2 http://10.1.1.11/C:/MinioRepository1 http://10.1.1.11/C:/MinioRepository2 XXXXXXXXXXXX XXXXXXXXXXXXX
I had to use nssm because i want to run windows service.

[2017-10-31 22:29] ghost commented on #5136
Even i run the command manually

minio.exe server http://10.1.1.10/C:/MinioRepository1 http://10.1.1.10/C:/MinioRepository2 http://10.1.1.11/C:/MinioRepository3 http://10.1.1.11/C:/MinioRepository4

+--------------------------------------------------------------------------+
| You are running an older version of Minio released 2 months ago          |
| Update: https://dl.minio.io/server/minio/rele

[2017-10-31 23:12] harshavardhana commented on #5136
Looks like a bug and regression @varun7447 we will check and let you know.

[2017-10-31 23:29] ghost commented on #5136
I also tried with the latest minio.exe. One thing i noticed is without C:/ it is creating the folder. But the Minio is not starting.

[2017-11-01 00:17] ghost commented on #5136
Ok i guess i got this working. Minio documentation has to be updated. We don't have to specify C:/ in the command prompt in Windows. The command is exactly the same as Linux and Windows.

set MINIO_ACCESS_KEY=<ACCESS_KEY>
set MINIO_SECRET_KEY=<SECRET_KEY>
minio server http://10.1.X.XX/MinioRepository1 http://10.1.X.XX/MinioRepository2 http://10.1.X.XX/MinioRepository3 http://10.1.X.XX/MinioReposit

[2017-11-01 00:17] ghost commented on #5136
Is there a reason why we are not providing Windows service out of the box with Minio Windows exe?

[2017-11-01 00:20] harshavardhana commented on #5136
nssm serves the purpose @varun7447  and we didn't want to enforce a mechanism in this area.  Most orchestration platforms like docker already provide this for windows as well.

[2017-11-01 00:20] harshavardhana commented on #5136
Oh this is great to know @varun7447 - thanks.

[2017-11-01 00:38] ghost commented on #5136
Can we confirm if it is ok to use without C:/ in the server command?

[2017-11-01 00:59] harshavardhana commented on #5136
For non C:\ we need to see how this behaves, there is still a bug and we should honor `C:\`

[2017-11-01 01:13] ghost commented on #4732
Is there a reason for using Reverse Proxy? Are you trying to achieve load balancing with IIS?

[2017-11-01 01:27] ghost commented on #5136
But the issue is with C:/ I am unable to start Minio itself..

[2017-11-01 01:29] harshavardhana commented on #5136
I agree we need to fix it @varun7447 its a regression.

[2017-11-01 07:13] #5042 closed, assigned to nitisht

[2017-11-01 18:45] #5124 closed, assigned to kannappanr

[2017-11-01 22:18] #4710 closed, assigned to nobody

[2017-11-01 22:19] deekoder commented on #4710
Alternatives explored as presented by Brendan.

[2017-11-01 22:25] deekoder commented on #5050
OK we will do that @gima

[2017-11-01 22:30] harshavardhana commented on #5050
It is safe to use and it is a fully supported functionality not a side affect @gima

[2017-11-01 23:04] krishnasrinivas commented on #5110
@fangyuxiangGL did you try it? did it fix the problem?

[2017-11-02 11:45] afaenger opened #5139 "Implement Lifecycle Configuration"
It would be great if minio added support for bucket lifecycle configurations, e.g. to perform automatic object expiration after some days.

[2017-11-02 12:27] nitisht commented on #5139
@afaenger you can use minio-client (mc) for that..

For example, to delete an object older than 7 days

[code]

[2017-11-02 13:28] N1v0k commented on #5010
We are using minio on Rancher, which also needs any kind of 2xx response from an unauthorized endpoint.

[2017-11-03 10:38] yunyunchen opened #5140 "Android system version is less than 5, not by Minio upload and download the APK package"
Android system version is less than 5, not by Minio upload and download the APK package，

Try to download again

[2017-11-03 11:55] vladkras commented on #2796
Why do you use `/export` folder? [Minio Docs](https://docs.minio.io/docs/minio-docker-quickstart-guide) says `/data`. Kinda trick?

[2017-11-03 13:37] nitisht commented on #5140
@yunyunchen can you please rephrase? It is not clear what is the question here.

[2017-11-03 21:22] kannappanr opened #5141 "Post method with policy handler should return Method Not Allowed error, if object name is part of URL"
Post method with policy handler should return Method Not Allowed error, if object name is part of URL.

## Expected Behavior
when I generate a pres-signed url using mc to post an object, with the following command
[code]
Appending testobject to the URL and executing the following command
[code]
should return "MethodNotAllowed" error.

## Current Behavior
The call passes.

## Possible Solution
Hand

[2017-11-04 00:05] painslie opened #5143 "Rsync to goofys mounted S3 Bucket creates locks & hangs"
I mounted a Minio bucket via goofy and proceeded to rsync a folder of 45,000 files (1.5 TB).  It got as far as copying 11,000 files and then hung.

The Minio cluster
 - is in Germany and the goofys mount is in London, hence a 16 ms latency
 - is distributed and consists of 4 servers, 8 hard drives.
 - the hard drives are mechanical  ;(

`$ mc admin lock list --duration 1m minio-001/71026777`

[cod

[2017-11-04 07:35] harshavardhana commented on #5143
Since this looks like a development build would it possible for you to test with latest release? `minio.RELEASE.2017-10-27T18-59-02Z`  at https://dl.minio.io/server/minio/release/linux-amd64/

[2017-11-04 07:52] harshavardhana commented on #5093
Closing this, since this is a bug in https://github.com/minio/minio-js/issues/641 and the relevant PR https://github.com/minio/minio-js/issues/640

[2017-11-04 07:52] #5093 closed, assigned to harshavardhana

[2017-11-04 07:57] harshavardhana commented on #5133
This is a bug in minio-java and minio server @kannappanr  opened relevant bug https://github.com/minio/minio/issues/5141 , we should close this bug since presigned post policy has not received any new updates and the previous style of using `$eq` to match buckets still work.

[2017-11-04 08:05] #5133 closed, assigned to balamurugana

[2017-11-04 14:46] gima commented on #5050
Thank you.
I tried to do it myself, but was confused wrt/the documentation as to where I could put this. At first it seemed the first page of documentation would be good, but it also appears to be the README of the project, and something like this probably wouldn't fit the main readme of the project.

[2017-11-04 20:17] mati865 opened #5144 "Add new flag --force-remove to mirror command"
## Expected Behavior

I have no idea why `Delete is not allowed ...` appears but it doesn't matter.

It should have option to force remove but don't overwrite files.

## Current Behavior

When running `mirror --remove` there are warnings `{Delete,Overwide} not allowed for <filename>. Use `--force` to override this behavior.`

Using `--force` will allow to delete files as expected but it will also

[2017-11-04 20:25] vadmeste commented on #5144
I don't think --force here has another meaning other than override (we need to check it anyway), but in the case, I think it would be better to rename --force to --override instead. That way we can also keep --remove flag.

[2017-11-05 14:04] kaizenlabs opened #5145 "'The specified bucket is not valid' when creating bucket in web browser"
Trying to just create a bucket running a Minio server locally on my Mac, I can create a bucket via the command line (MC), but when I try to do it through the browser UI, I keep getting 'The specified bucket is not valid'...can someone help?

[2017-11-05 14:05] nitisht commented on #5145
@JohnAntonusMaximus can you please tell us

- Minio version you are using
- Bucket name you are trying to create

[2017-11-05 14:33] kaizenlabs commented on #5145
Hi @nitisht, I can't tell what version of minio because there is no -v or --version flag to pass, but I'm assuming latest since I pulled it only yesterday. Name of the bucket is just 'Test' or 'Vision', but also 'Vision1234' doesn't work either.

[2017-11-05 14:41] nitisht commented on #5145
You can find version using `$ minio version`

Minio adheres to AWS S3 standards and as per S3 API, _"Bucket names can contain lowercase letters, numbers, and hyphens"_ (ref: http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html) Can you please try `test`, `vision`, `vision1234`

[2017-11-05 14:47] kaizenlabs commented on #5145
Version: DEVELOPMENT.GOGET
Release-Tag: DEVELOPMENT.GOGET
Commit-ID: DEVELOPMENT.GOGET

[2017-11-05 15:01] nitisht commented on #5145
Thanks @JohnAntonusMaximus . Can you please try bucket names without capital letters, and let us know?

[2017-11-05 15:02] kaizenlabs commented on #5145
@nitisht, yes that worked, thank you for the reminder on that. I have another question for you since you seem to be very knowledgeable on this...is there a way that I can create multiple users on minio and restrict their bucket access according to user permissions (like AWS bucket policies)?

[2017-11-05 15:20] nitisht commented on #5145
Minio allows one user per instance, so multiple users are not possible. Minio does support bucket policies for anonymous requests - here is a [brief primer](https://gist.github.com/harshavardhana/400558963e4dfe3709623203222ed30c).

[2017-11-05 15:34] kaizenlabs commented on #5145
@nitisht, ok, then can I launch multiple minio server instances across the same mounted hard drives to achieve this effect? Or would I need to implement this user login in front of minio as a custom solution using the one minio access key and secret key?

[2017-11-05 16:27] nitisht commented on #5145
In general we recommend adding multiple minio instances, one for each tenant (a tenant is loosely defined, here it may be a user, an application or other entity that needs to store its data - based on your needs).

However, if you need to share data across multiple users you can also take a look at [presigned URLs](https://docs.minio.io/docs/golang-client-api-reference#PresignedGetObject).

you ca

[2017-11-06 00:34] jawnsy opened #5146 "Feature: Go API for starting embedded Minio server"
## Background

Minio is currently designed to be started exclusively directly as an application, and the command-line interface is considered to be the user-facing interface for starting a server. It also focuses on production applications, and as such, expects to be provided a path on the filesystem to store files.

There does not currently appear to be any public Go API for starting a Minio serv

[2017-11-06 03:20] yunyunchen commented on #5140
@nitisht
Using golang to compile directly, found the following problems：

`[root@i-tp6apg01 mnt]# curl -v https://***.***.com:9000/health/2.0.0%20beta7.apk
* About to connect() to  ***.***.com port 9000 (#0)
*   Trying 139.***.***.***...
* Connected to mops-oss-dev.lianluo.com (139.***.***.***) port 9000 (#0)
* Initializing NSS with certpath: sql:/etc/pki/nssdb
*   CAfile: /etc/pki/tls/certs/ca-bu

[2017-11-06 03:46] fangyuxiangGL commented on #5110
@krishnasrinivas

thanks, it fix the problem

[2017-11-06 03:46] #5110 closed, assigned to krishnasrinivas

[2017-11-06 04:39] nitisht commented on #5139
@afaenger feel free to close the issue if there is nothing else to be addressed.

[2017-11-06 05:02] nitisht commented on #5140
Thanks @yunyunchen can you please let us know

- Minio version you are using
- How did you set up TLS (have you seen https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls)

[2017-11-06 05:36] yunyunchen commented on #5140
@nitisht

- I didn't find how to look at its version.Is it this?

`
#minio update
You are already running the most recent version of ‘minio’.

#minio version
Version: DEVELOPMENT.GOGET
Release-Tag: DEVELOPMENT.GOGET
Commit-ID: DEVELOPMENT.GOGET

`

- TLS is configured according to this document. It is configured correctly. I confirm it

[2017-11-06 05:38] nitisht commented on #5140
Looks like you are running from master. Can you please try the latest release instead, it is available here https://minio.io/downloads.html#download-server-linux-x64

[2017-11-06 05:43] yunyunchen commented on #5140
@nitisht I want Install from Source or docker，can you give me link？

[2017-11-06 05:54] harshavardhana commented on #5140
@yunyunchen we only support TLS 1.2 and above if your android client is using TLS 1.1 we won't work.   here are things we need from your end

  - curl --version
  - uname -a (your system information) (kernel version)

You can try accessing from curl using `curl --tlsv1.2` if you wish to force TLS 1.2

[2017-11-06 06:03] yunyunchen commented on #5140
@harshavardhana
you‘re right.

[code]

curl --tlsv1.2 is true,but I'd like to know how to support tls1.2 below

[2017-11-06 06:11] harshavardhana commented on #5146
@jawnsy Thanks for the detailed github issue.

Before going into the details i would like to say that it is quite common to use Minio server to test S3 compatibility for your application needs which eventually uses AWS S3.  But it is also true that Minio server is not just a Fake S3 like application instead its a full storage system to manage large quantities of your data.

With that in mind provi

[2017-11-06 06:13] nitisht commented on #5146
Blocked till further discussion

[2017-11-06 10:01] prayerslayer opened #5150 "Uploading file with zero bytes content causes SocketTimeout on next non-empty file"
## Expected Behavior

File uploads with zero bytes should not influence uploads of other files.

## Current Behavior

Uploading a file without content works fine, but the next upload has to be retried if it's not also empty. Whether or not the key already exists in the bucket doesn't change the outcome.

## Steps to Reproduce (for bugs)

Run following code with

* Python 3.6
* Latest boto3 (`1.4.7

[2017-11-06 12:40] vrock28 opened #5151 "Folder within a bucket and associated ops support using JAVA SDK"
Hi,

The Minio JAVA SDK documentation doesn't clearly articulate how to create a folder inside a bucket. Can somebody help me on this request ? I am mainly trying to implement ops to create & delete folder and also trying to figure out the AWS equivalent for ListObjectsV2Request() and ListObjectsV2() API support in minio.

Thanks in Advance!

[2017-11-06 12:56] nitisht commented on #5151
@vrock28 you can simply pass the directory structure as a part of `objectName` and Minio will create the directories. For example

[code]

Minio equivalent of ListObjectsV2() API is `listObjects` (Ref: https://docs.minio.io/docs/java-client-api-reference#listObjects)

[2017-11-06 12:57] nitisht commented on #5151
For further issues related to Java SDK, please file issues here : https://github.com/minio/minio-java/issues/new

[2017-11-06 13:06] vrock28 commented on #5151
@nitisht : Thanks for the quick response. Would this also work ?

`minioClient.putObject(bucketName, "dir1/");`

[2017-11-06 13:09] nitisht commented on #5151
No, that is not a valid putObject call. You can see the available putObject method here: http://minio.github.io/minio-java/io/minio/MinioClient.html

[2017-11-06 13:18] vrock28 commented on #5151
OK so i understand that we have the facility to implicitly create a directory structure as you showed earlier but it looks like i cannot create an empty folder under a bucket right ?

Would this work for me ?
`MinioClient minioClient = new MinioClient("http://localhost:9000", "minio", "minio123");
String bucketName = "my-bucket";
String objectName = "dir1/object.txt";
minioClient.putObject(bucketN

[2017-11-06 13:23] vrock28 commented on #5151
AFter a bit of doc study, i get it.  The "/path/to/file/object.txt" is the location of the file in our local filesystem which we want to do a PUT of to minio.

[2017-11-06 13:23] nitisht commented on #5151
` "/path/to/file/object.txt"` this is the path to the file to be uploaded.

While `"dir1/object.txt"` is the path where object will be kept inside the bucket (in Minio server)

[2017-11-06 13:25] nitisht commented on #5151
Feel free to close the issue if there is nothing else to be addressed. You can also talk to us on Slack
https://slack.minio.io

[2017-11-06 13:28] markhowells commented on #2796
@vladkras You can use any directory name you like as long as there a volume mounted at that mount.

[2017-11-06 13:43] vrock28 commented on #5151
Sure. Let me use the slack to discuss more on what i need. Thanks for the help. Closing this thread.

[2017-11-06 13:43] #5151 closed, assigned to nitisht

[2017-11-06 18:02] harshavardhana commented on #5140
You cannot know @yunyunchen more recent versions of curl use TLS 1.2 as default.

[code]

[2017-11-06 20:12] harshavardhana commented on #5146
So what we decided was you can simply do the following for a static compilation into your code base.

[code]

[2017-11-06 22:13] deekoder commented on #5135
@nitisht  can you review the documentation. How will people who intall via snap know what the keys are?

[2017-11-06 22:26] balamurugana commented on #5134
@retorquere I am setting up the env for reproduce the issue mentioned.

[2017-11-06 23:59] #5040 closed, assigned to krishnasrinivas

[2017-11-07 03:01] nitisht commented on #5135
@deekoder I actually tried running with snap and looks like server was not running. I need to check further. Will update this today

[2017-11-07 03:26] nitisht commented on #5145
@JohnAntonusMaximus if there is nothing else to address, feel free to close the issue

[2017-11-07 05:16] harshavardhana commented on #5135
The build for snap is not compatible with the libc we are using right now. I think only LTS will work @nitisht

[2017-11-07 05:27] nitisht commented on #5135
I still get the same on M2

[code]

[2017-11-07 08:52] harshavardhana commented on #5136
The culprit was in `endpoint.go` where we need to make sure that on windows we need to trim the paths properly.

[2017-11-07 15:51] ghost commented on #5136
We still need to run the command as C:/ ?

On Tue, Nov 7, 2017 at 12:52 AM Harshavardhana <notifications@github.com>
wrote:

[2017-11-07 17:40] harshavardhana commented on #5136
Do not understand your question to clarify following styles will be supported

- http://192.168.1.2/C:/test1 (common style)
- http://192.168.1.2/C:\test1 (common canonical style)
- http://192.168.1.2/\\net\share\vol (network share as backend)
- http://192.168.1.2/test1 (relative path to C:\ or whatever is current working directory)

[2017-11-07 17:58] ghost commented on #5136
Last week when I tested with C:/test the minio was not starting up.

The only style that worked was http://localhost/test.

[2017-11-07 18:07] harshavardhana commented on #5136
@varun7447 PR #5152 fixes your issue. We know it didn't work for you last week, but it is expected to support the above mentioned styles.

[2017-11-07 21:46] jawnsy commented on #5146
@harshavardhana That approach is better than nothing, but still has some limitations:

1. The configuration file needs to be available somewhere beforehand, meaning additional code to write one somewhere and refer to it from the minio.Main invocation. This applies for the configuration of both the server and client (which access key & secret key to use)

1. There doesn't seem to be an easy way to

[2017-11-07 22:23] harshavardhana commented on #5146
Not really you can simply set the ENVs

You can simply stop it by using pkg/madmin API after this refactor gets merged https://github.com/minio/minio/pull/4826/files#diff-457830409c3192b41ef7843a4f3ebda1R82

This is hardly a problem really you can simply mount `ramfs`  and then point minio to use that.

https://github.com/minio/mint

[2017-11-08 03:24] ghost commented on #5136
Will test and let you know the results..

[2017-11-08 05:33] pszabop opened #5155 "`Authorization` header that comes from another application on same domain causes GET to fail"
When testing on localhost, my application issues a redirect to minio but my application is already using the `Authorization` HTTP header that thus gets sent to minio by the client following the redirect (to a different port).  Even though I have not configured any Authorization for minio, minio rejects what it thinks is an invalid `Authorization` HTTP header.  Is there a way to disable this check?

[2017-11-08 06:36] krisis commented on #5150
@prayerslayer I am able to recreate this issue. I will update the issue with details as it unravels.

[2017-11-08 08:36] harshavardhana commented on #5155
It is an incorrect implementation to keep the Authorization header from a different request after redirect, if Authorization is needed then redirect call back should re-authorize the request to the new destination with proper AWS S3 signature. If you wish to do anonymous request then please remove the authorization header in your redirect callback code.

Here is how AWS S3 also behaves

[code]

Mi

[2017-11-08 08:38] harshavardhana commented on #5155
Also please upgrade to latest looks like your minio version is like almost a 1yr old.

[2017-11-08 09:57] ddzialak commented on #5145
Is `minio` supporting `US East` region? According to referenced page:

My point is about underscore in bucket name.

[2017-11-08 10:09] pszabop commented on #5155
Agreed this is a [client bug](https://github.com/visionmedia/superagent/issues/1309),  but I would appreciate a formal reference (e.g. RFC) on this requirement, because other than some vulnerabilities posts, it's hard to find a formal reference (e.g. RFC) on what headers should be stripped on redirects.

[2017-11-08 11:04] krisis commented on #5150
Following is a dump of HTTP requests/responses on minio server when the above python program was run.

### tl;dr
The dump from minio server indicates that boto3's HTTP connection pooling may have some issue.  boto3 fails with read timeout while minio server has sent the [expected response](#Upload-onebyte-1).

This program ran fine on AWS S3. The difference is Minio server doesn't send "100-contin

[2017-11-08 11:36] krisis commented on #5145
@ddzialak `minio` uses region in the context of authenticating requests. Beyond this region doesn't mean anything to `minio`. So, minio doesn't support region-specific restrictions like AWS S3. AWS S3 does it for backward compatibility reasons and encourages use of DNS compliant bucket names.

An important reason to support bucket naming restrictions that apply to newer regions (and not us-east-1)

[2017-11-08 12:39] vadmeste commented on #5144
We should discuss if we are okay with this change.

[2017-11-08 12:47] mati865 commented on #5144
I don't mind as long as I can force deletion without overwriting.

[2017-11-08 14:36] nitisht commented on #5139
Closing due to no response.

[2017-11-08 19:20] krishnasrinivas commented on #5155
Could not find any formal reference on this. We are behaving in a similar manner as AWS-S3. Also you agree that this is a client bug.

[2017-11-08 19:38] pszabop commented on #5155
I can't argue with "behaving in a similar manner as AWS-S3".

[2017-11-08 19:38] #5155 closed, assigned to krishnasrinivas

[2017-11-08 20:40] harshavardhana commented on #5155
The general rule is this https://golang.org/src/net/http/client.go?s=16518:16570#L830  - only send Authorization, Cookie to only if the redirection is to sub-domains, assumption is that the domain and sub-domains would be pointing to same service.

[2017-11-08 21:32] pszabop commented on #5155
Golang's http client is hardly a formal reference, but thanks.  I note the superagent nodejs client doesn't handle subdomains correctly, just exact matches the host...  (good enough for me for now).

[2017-11-08 21:35] harshavardhana commented on #5155
Yes its not a formal reference but can be seen what other HTTP clients are doing, perhaps this can be suggested on the issue on superagent @pszabop

[2017-11-09 00:03] krishnasrinivas opened #5158 "Move signature related files into a package"
Move all the signature related files into a package. Make it reusable by minio-go as well.

[2017-11-09 03:56] harshavardhana commented on #5158
https://github.com/harshavardhana/minio/tree/move-signature?files=1 work was already under way for this.

[2017-11-09 06:31] mhemrg opened #5159 "From single node deployment to cluster"
Is it possible to migrate from single node deployment to cluster mode without loosing previous data?

[2017-11-09 06:53] nitisht commented on #5140
If there is nothing else to be addressed, feel free to close the issue @yunyunchen

[2017-11-09 06:54] #5140 closed, assigned to nitisht

[2017-11-09 07:46] harshavardhana commented on #5159
yes you can using `mc mirror` from single node to cluster mode.

[2017-11-09 17:55] ddzialak opened #5161 "Restriction for object name consistent with documentation"
## Expected Behavior
Description of `XMinioInvalidObjectName` in doc should correspond to `minio` behavior. It would be wonderful if restrictions are the same as in AWS S3 service.

## Current Behavior
According to doc at minio/docs/admin-api/README.md:
[code]
but it looks like `XMinioInvalidObjectName` is returned if there is `\` in object name
and `PutObject` also fail with `BucketAlreadyOwnedBy

[2017-11-09 20:49] kannappanr opened #5162 "Check for value greater than 604800 (7 days) is missing in the X-Amz-Expires header"
Presigned urls with X-AMZ-Expires header field with value greater than 604800 does not return error.

## Expected Behavior
If a presigned url has a X-AMZ-Expires header field with value greater than 604800, it should return error.

## Current Behavior
Currently, X-AMZ-Expires header is only checked for negative value and not for a value more than 604800.

## Possible Solution
Add a check to see if

[2017-11-10 06:57] krisis commented on #5145
Closing this since it is a non-issue. Feel free to open if you feel otherwise.

[2017-11-10 06:57] #5145 closed, assigned to krisis

[2017-11-10 06:58] krisis commented on #5150
Closing this since it is an issue in boto3 SDK.

[2017-11-10 06:58] #5150 closed, assigned to krisis

[2017-11-10 09:40] harshavardhana opened #5165 "[feature] Support bucket notifications eventInfo return user defined metadata headers"
## Expected Behavior
User defined metadata headers should be part of the eventInfo structure sent to the targets

## Current Behavior
Currently we do not send all the necessary details of an object in the eventinfo structure.

## Possible Solution
Using objInfo copy the necessary values before sending the notification event to relevant targets.

## Steps to Reproduce (for bugs)
Design change, no s

[2017-11-10 09:43] prayerslayer commented on #5150
No, I don't want to be the messenger between you two. But I see someone else has already done it :grin: Thanks for looking into!

[2017-11-10 09:47] harshavardhana opened #5166 "[feature] Webhook target should support Authorization mechanism"
## Expected Behavior
Support `Authorization` header bearer token to be set for all event notifications.

## Current Behavior
All requests to webhook are currently insecure or do have a way to validate the incoming request.

## Possible Solution
For example looking for a following change

[code]

## Steps to Reproduce (for bugs)
Just follow the bucket notification guide on how to setup webhook noti

[2017-11-10 14:45] aead opened #5167 "SSE-C key derivation is not invertible"
The current SSE-C key derivation derives an unique encryption key per object from the client-provided key. The key derivation uses only the hash function SHA256 (and HMAC-SHA256). The key derivation is not invertible. That means that a client cannot change its key without changing the derived object encryption key. (The object encryption key is derived from the client key and a random value).

##

[2017-11-10 20:51] ebozduman commented on #5159
@mhemrg ,
Thank your for your interest and question.
It looks like you can close this issue since @harshavardhana's comment answered your question.

Please also feel free to use Slack to ask questions and clarifications instantly.

[2017-11-10 23:24] pauln opened #5169 "[feature] Azure Gateway: Implement ListObjectParts"
## Expected Behavior

`ListObjectParts` returns a list of parts which can be used to generate a subsequent `CompleteMultipartUpload` request

## Current Behavior

`ListObjectParts` always returns an empty list, as per Known Limitations list in Azure Gateway docs.

## Possible Solution

The `ListObjectParts` stub method in Azure Gateway has the comment `ListObjectParts - Use Azure equivalent GetBlo

[2017-11-10 23:56] krishnasrinivas commented on #5169
We will discuss this internally and get back to you @pauln

[2017-11-11 01:21] #5167 closed, assigned to aead

[2017-11-11 05:47] #5159 closed, assigned to nobody

[2017-11-12 02:39] #5136 closed, assigned to harshavardhana

[2017-11-12 17:58] neveziss opened #5171 "ERRO[0043]ERRO[0042]"
Getting an error. I can upload files on their own but cannot when it requires folders to be uploaded.
Unable to initiate new multipart upload id.   cause=mkdir /mnt/DriveA/.minio.sys/multipart/ad1server1backup/CBB_SERVER/CBB_DiskImage/Disk_00000000-0000-0000-0000-000000000001/Volume_NTFS_00000000-0000-0000-0000-000000000000:: invalid argument source=[object-handlers.go:600:objectAPIHandlers.NewMul

[2017-11-12 18:12] harshavardhana commented on #5171
You are trying to upload files which has `::` it's unsupported on certain filesystems .

Can you provide more details

- System information such as OS, backend FS etc
- minio version

Also can you please edit the bug title to reflect the issue instead?

[2017-11-13 01:02] tillkruss opened #5172 "Uncaught (in promise) TypeError: Cannot read property '1' of null"
## Expected Behavior
I'm doing a multipart upload using [EvaporateJS](https://github.com/TTLabs/EvaporateJS), but it fails with this:

[code]

## Current Behavior

The POST request trailing with `?uploads` returns 200 and some Minio HTML, however it should return something like:

[code]

Are multipart uploads even supported by Minio?

Thanks!

[2017-11-13 02:51] harshavardhana commented on #5172
Are you uploading from browser ? Would you share a sample code which we can use to reproduce the issue ?

[2017-11-13 03:29] ghost opened #5173 "OmniOS: minio server fails to start "Initializing object layer failed cause=disk path full""
## Expected Behavior
Minio server should start and use the ZFS filesystem for it's storage location.

## Current Behavior
On OmniOS (SunOS) version omnios-r151022, with a newly created ZFS filesystem, minio server fails to start with:
`minio server /minio
ERRO[0000] Initializing object layer failed              cause=disk path full source=[server-main.go:209:serverMain()]

There's plenty of space

[2017-11-13 03:32] harshavardhana commented on #5173
We do not return error based on inodes anymore,  this must be related to the `f_frsize` v/s `f_bsize` issue in statfs usage.

[2017-11-13 04:02] ghost commented on #5173
Perhaps it's similar to this Ansible issue? https://github.com/ansible/ansible/pull/17493

I'm not a developer, just working on this from a Solaris/OmniOS systems administration background.

[2017-11-13 04:58] harshavardhana commented on #5173
Yes that is the issue @nnmiller

[2017-11-13 05:18] harshavardhana commented on #5173
Also we do not support Solaris in our implementation of disk.GetInfo(), currently returns dummy zero values which would basically disable running minio on Solaris.  Sending a fix @nnmiller would you help me validate it?

[2017-11-13 05:25] tillkruss commented on #5172
Yes, I'm uploading from Chrome. I'm not sure if I could provide a code sample, it's tightly baked into a Vue component and our app.

Is there any other way I can help debug this?

Here is the tweaked sample code from [EvaporateJS](https://github.com/TTLabs/EvaporateJS):

[code]

There are "signer" examples in several languages [here](https://github.com/TTLabs/EvaporateJS/tree/master/example).

[2017-11-13 19:33] krishnasrinivas commented on #5172
[code]
this should have:
[code]

[2017-11-13 20:54] #5162 closed, assigned to kannappanr

[2017-11-13 20:54] #5173 closed, assigned to harshavardhana

[2017-11-13 20:54] kannappanr opened #5176 "Remove "logger" field from config.json"
Remove "logger" field from config.json. Support for logging to a file needs to be removed as part of the improvements we are making to server side logging.

The changes that need to be made are
1. Change the config.json structure version from 20 to 21.
2. Upgrade the structure from 20 to 21 upon startup.
3. Make sure that the unit tests reflect this change.
4. Add structure version 21.
5. Remove f

[2017-11-13 21:16] krishnasrinivas commented on #5169
@pauln it is tricky to implement ListObjectParts on Azure:

Here is a sample response:
[code]

We won't be able to derive `LastModified` from Azure as it does not provide this info.

Also if there are two PutObjectPart with same part number, ListObjectParts will not be able to differentiate which is the latest part.

Also https://github.com/aws/aws-sdk-go/issues/1518 ListObjectParts should not be

[2017-11-13 21:20] krishnasrinivas commented on #5165
@harshavardhana notification receivers can do HEAD on the object to get the metadata?

[2017-11-13 21:21] harshavardhana commented on #5165
Yes they can @krishnasrinivas since we do set the metadata headers anyways in the response back to the client.

[2017-11-13 21:27] krishnasrinivas commented on #5165
I mean, why implement #5165 when notification receivers can do HEAD to get the metadata?

[2017-11-13 21:34] harshavardhana commented on #5165
The metadata is meant for fast querying based on metadata which is not possible today @krishnasrinivas . So a copy of this information in database allows for full namespace replication.

Additionally this came in as customer requirement

[2017-11-14 00:30] #5141 closed, assigned to kannappanr

[2017-11-14 01:12] pauln commented on #5169
Thanks for looking into this, @krishnasrinivas.  Even if full parity with the S3 API method isn't possible, I think that a (properly documented) partial (but compatible) implementation would be helpful / better than no implementation.  I'll pass the note about ListObjectParts on to the `tusd` folks - but removing the reliance on ListObjectParts is not likely to be a simple or quick undertaking.

P

[2017-11-14 01:20] krishnasrinivas commented on #5169
The problem is blockIDs will differ (because even though partNumber is same the ETag will be different)

true.

What we can do is return error in ListObjectParts if different parts were uploaded for the same partNumber. Let me see if we hit any roadblock if we implement this.

[2017-11-14 02:33] krishnasrinivas commented on #5030
what we can do for azure/gcs is stream everything to the backend except the last byte, do `data.Verify()` (after reading the last byte) and depending on the result send the last byte to the backend.

[2017-11-14 03:13] pauln commented on #5169
Ah, I hadn't realised that more than just the part number was being put into the `blockID`.  For the record, it's currently `fmt.Sprintf("%05d.%02d.%s.%s", partID, subPartNumber, uploadID, md5Hex)`.  Now that I'm aware of that, I have a follow up question: how much of the 64-byte maximum length is that using?  If there's enough space left, perhaps a timestamp of some sort could be fitted in to the

[2017-11-14 04:43] krishnasrinivas commented on #5169
That would be great, can you test https://github.com/krishnasrinivas/minio/tree/azure-listparts and see if it works as expected?

[2017-11-14 08:09] kahing commented on #5143
it does sound like this could be a goofys bug fixed in 0.0.18

[2017-11-14 08:12] harshavardhana commented on #5143
Thanks @kahing @painslie has not confirmed yet if migrating to 0.0.18 has fixed the bug.

[2017-11-14 11:20] timchenxiaoyu opened #5180 "how to generate share url permanent?"
now ,the  url only 7 minute valid，how to change this?

[2017-11-14 13:51] nitisht commented on #5180
@timchenxiaoyu Presigned URLs are valid only for a maximum of 7 days. This is mandated by S3 Spec (Ref: http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html).

For permanent sharing you can consider buckets policies - https://docs.minio.io/docs/minio-client-complete-guide#policy

[2017-11-14 18:51] krishnasrinivas commented on #5172
Let us know if you still face any problems, we'll close this issue.

[2017-11-14 18:51] #5172 closed, assigned to krishnasrinivas

[2017-11-14 19:37] deekoder commented on #5180
Please lets us know if you have any other questions.

[2017-11-14 19:37] #5180 closed, assigned to nitisht

[2017-11-14 19:39] deekoder commented on #5171
@neveziss  I hope we have answered your question. Please let us know if theres anything else we can address. Closing this issue. Please feel free to reopen if any further questions. We are also available on slack where you can get answers to questions instantly https://slack.minio.io/

[2017-11-14 19:39] #5171 closed, assigned to krisis

[2017-11-14 20:27] tillkruss commented on #5172
@krishnasrinivas: Thanks a lot, that worked and thanks for the great tool!

[2017-11-14 23:03] tillkruss opened #5184 "Docker: Create bucket and set global policy"
I'm not sure if this is the right place to ask questions, I'm sorry if it isn't.

I would like to _create a bucket_ and _set a global policy_ (for all future uploaded files) when the Minio docker container is build. Is that possible?

This is my Minio setup in my `docker-compose.yml`:

[code]

[2017-11-15 00:56] #4681 closed, assigned to nobody

[2017-11-15 01:04] harshavardhana commented on #5184
https://gist.github.com/harshavardhana/cb6c0d4d220a9334a66d6259c7d54c95 take look how it can be achieved here.. @tillkruss

[2017-11-15 01:33] pauln commented on #5169
The implementation seems to work, @krishnasrinivas - though in testing it, I found that `tusd` fires off a `ListObjectParts` request before the first chunk is uploaded, which resulted in a 404 because `NewMultipartUpload` doesn't create a `BlockBlob` for the data (although it does create one for the metadata).

I've submitted a pull request to your `azure-listparts` branch which creates the empty

[2017-11-15 01:44] krishnasrinivas commented on #5169
OK great, I have merged it. Will wait for more tests from you.

[2017-11-15 01:47] timchenxiaoyu commented on #5180
even I set  buckets policies, I cannot still get permanent url,how to solve this?

[2017-11-15 02:00] nitisht commented on #5180
Once you set the policy on a bucket like

[code]

You can use the URL: `miniohost:9000/bucketname/object` to access the object

[2017-11-15 02:04] timchenxiaoyu commented on #5180
#mc policy public minio/test

Access permission for `minio/test` is set to `public`

#wget http://10.39.0.45:9000/test/types-of-mounts.png

it's ok now .ths.
I send url wget http://10.39.0.45:9000/minio/test/types-of-mounts.png before,so i'm wrong

[2017-11-15 02:06] nitisht commented on #5180
You need to remove `minio`, so the URL should be

`http://10.39.0.45:9000/test/types-of-mounts.png`

[2017-11-15 02:07] timchenxiaoyu commented on #5180
yes, you are right ,ths

[2017-11-15 05:10] pauln commented on #5169
I've done a few tests via `tusd`, and haven't had any further issues after fixing the 404.  I don't really have the capacity to test for how it handles multiple versions of the same block - or other edge cases - at the moment, sorry.

[2017-11-15 06:00] tillkruss commented on #5184
@harshavardhana: Thanks!

So I would just run this?

[code]

[2017-11-15 07:34] harshavardhana commented on #5184
You need to configure `mc` properly first with an alias @tillkruss https://docs.minio.io/docs/minio-client-quickstart-guide can help you.

[2017-11-15 09:17] davidgeorgealex opened #5189 "Minio cluster becomes unresponsive after killing 1 of 3 instances (2 out of 6 disks) - Docker"
I created a Minio cluster using docker-compose file: [docker-compose.txt](https://github.com/minio/minio/files/1473988/docker-compose.txt). Everything works as expected and I can do uploads (using [MinioClientUploader.txt](https://github.com/minio/minio/files/1473984/MinioClientUploader.txt)). When I kill a docker node (minio3 for example), the uploads fails with `Socket timeout` exceptions. Also

[2017-11-15 09:35] davidgeorgealex opened #5190 "Minio cluster becomes unresponsively if a minority of disks are down"
I have a custom Docker image where I bundle Minio and MC [docker.tar.gz](https://github.com/minio/minio/files/1474050/docker.tar.gz). Beside this, this Docker image contains a startupHeal script that will do the healing when the nodes joins the cluster, if it was down due to different reasons (since I will use Kubernetes for orchestration, the nodes can be re-started automatically). This scripts w

[2017-11-15 09:37] davidgeorgealex commented on #5089
It seams like the problem is still present even in the new release :(. I've opened https://github.com/minio/minio/issues/5189 and https://github.com/minio/minio/issues/5190. Thanks!

[2017-11-15 09:46] harshavardhana commented on #5189
why two issues ? are you saying #5190 different than this? - IMO both seems same we should close one and keep only one?

[2017-11-15 09:52] davidgeorgealex commented on #5189
Indeed, both are very similar. The differences consist of the way how we build the Docker image (custom one vs Minio one) and the result - sometimes in the custom one get errors as well. If you feel the need, please close this one and keep only https://github.com/minio/minio/issues/5190 because it covers this ticket as well. Thanks for the fast feedback @harshavardhana !

[2017-11-15 11:29] ghost commented on #5173
@harshavardhana Yes, I will assist with testing.

Rebuilt with the latest commits. Working fine with some basic tests using `mc`. I'll try to get Duplicati set up this weekend and stress test it a bit.

I appreciate your responsiveness to fixing this issue.

[2017-11-15 12:04] john-bakker opened #5191 "Minio Client not mirroring files unless touched"
I'm running 4 instances of the minio client simultaneously on 1 server. All of them are running in mirror mode  :

[code]
These 4 instances should monitor 4 different folders and should put the content of these folders in 4 different buckets.

The files are being placed in the folder by a CMS system.

## Expected Behavior
The expected behavior is that when a file is uploaded through the CMS system

[2017-11-15 14:31] nitisht commented on #5189
closing as discussed.

[2017-11-15 14:31] #5189 closed, assigned to nobody

[2017-11-15 19:10] aead opened #5193 "Support SSE-C Copy Object"
This is a feature request for adding [SSE-C copy object](https://docs.aws.amazon.com/en_en/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html) support.

SSE-C copy has the following implications:
 - A SSE-C encrypted object can only be copied if the **correct** SSE-C key is provided by the client.
   The copied object is **not** encrypt.
- The copy of a SSE-C encrypted object can also be en

[2017-11-15 22:32] erikerlandson commented on #2965
Any progress on the validation?

[2017-11-15 23:48] dscottcs opened #5195 "Unable to create Presto table using minio backend"
## Expected Behavior
[Presto](https://prestodb.io/) create 'external' tables using files in S3 in supported formats (e.g. parquet). One table generally corresponds to more than one file in S3, which are contained in an X3 'directory'.  You specify the 'directory' path when creating the table.  What happens in S3 should be transparent to the user.

## Current Behavior
To do this, Presto first sends

[2017-11-15 23:50] harshavardhana commented on #5195
This should be fixed in the master branch @dscottcs fixed by PR #5179

[2017-11-16 00:02] dscottcs commented on #5195
Awesome.  I'll test this and close ticket if we're good.

[2017-11-16 00:03] harshavardhana commented on #5195
Oh wait its not fixed in master yet, but we have a fix - https://github.com/minio/minio/pull/5179

[2017-11-16 00:48] harshavardhana commented on #2965
yes we have a final fix for filesystem mode at #5179 , erasure code backend already works fine with latest hadoop S3A connector.

[2017-11-16 01:49] #5146 closed, assigned to harshavardhana

[2017-11-16 01:52] Tidus75 commented on #2965
Hi,
I was currently testing Spark 2.1.0 and Hadoop-3.0.0-beta1 against latest stable minio server (2017-10-27) following identical settings as the working example above from @bradkarels and it throws a 501 not implemented error.
In my case I was using a url s3a://test/albums.csv
The AWS s3a driver performs a request if the bucket exists before accessing the actual file and it seems to have an acl

[2017-11-16 01:57] deekoder commented on #5082
Unit test can be extended as part of the next mint pod.

[2017-11-16 02:01] harshavardhana commented on #2965
@nitisht can you share the configuration you are using ?

[2017-11-16 02:03] deekoder commented on #5063
We have to remove fnctl locking code. But we have to discuss again on the remaining items on this list.

[2017-11-16 02:05] deekoder commented on #5062
Depends on https://github.com/minio/minio/issues/5063

[2017-11-16 02:19] deekoder commented on #4997
@nitisht any updates on this.

[2017-11-16 02:21] deekoder commented on #4979
We decided not to fix bucket notification/bucket policies wrt to gateway. We will simply pass through and support whatever the backend supports without any state info retained in our end.

[2017-11-16 02:21] #4979 closed, assigned to nobody

[2017-11-16 02:25] deekoder commented on #4977
Duplicate of #5062

[2017-11-16 02:25] #4977 closed, assigned to nobody

[2017-11-16 02:27] deekoder commented on #4959
We need to rewrite this doc. @nitisht could you PTAL

[2017-11-16 02:32] deekoder commented on #4896
@balamurugana  do we still have to address this issue?

[2017-11-16 02:33] deekoder commented on #4895
Since this is a pod task. This is being done now.

[2017-11-16 02:33] #4895 closed, assigned to nobody

[2017-11-16 02:35] deekoder commented on #4757
We will close this for now and revisit this later on when we revamp Minio Browser UX as part of the NewUX pod.

[2017-11-16 02:35] #4757 closed, assigned to nobody

[2017-11-16 02:36] deekoder commented on #4756
This will be addressed as part of new ux pod.

[2017-11-16 02:36] #4756 closed, assigned to nobody

[2017-11-16 02:39] deekoder commented on #4766
Whenever we refactor for newux pod we have to do so such that /login is not used in the URL.

[2017-11-16 02:39] #4766 closed, assigned to nitisht

[2017-11-16 02:41] deekoder commented on #4732
Addressed via slack. If not please reopen.

[2017-11-16 02:41] #4732 closed, assigned to nobody

[2017-11-16 02:45] balamurugana commented on #4896
@deekoder yes

[2017-11-16 02:47] deekoder commented on #4704
Duplicate of #5063

[2017-11-16 02:47] #4704 closed, assigned to nobody

[2017-11-16 02:47] #4702 closed, assigned to nobody

[2017-11-16 02:49] deekoder commented on #4676
Part of cleanup. We will do this. @balamurugana  can you take this on as part of your cleanup task.

[2017-11-16 02:54] balamurugana commented on #4676
@deekoder it is not a cleanup, it is a bug fix.

[2017-11-16 02:54] deekoder commented on #4659
@harshavardhana  will take a look.

[2017-11-16 02:59] deekoder commented on #4873
This is fixed with the latest Minio release. Please let us know if this works well.

[2017-11-16 02:59] #4873 closed, assigned to donatello

[2017-11-16 03:01] #4564 closed, assigned to nobody

[2017-11-16 03:05] deekoder commented on #4545
Needs a link to this doc http://docs.aws.amazon.com/AmazonS3/latest/dev/notification-content-structure.html

[2017-11-16 03:09] deekoder commented on #4507
Since we support bucket policies, we don't plan to add ACL support. Even AWS strongly discourages using ACLs with S3.

[2017-11-16 03:09] #4507 closed, assigned to nobody

[2017-11-16 03:10] deekoder commented on #4408
This should be part of error pod. @kannappanr @ebozduman

[2017-11-16 03:10] #4408 closed, assigned to nobody

[2017-11-16 03:12] deekoder commented on #4403
We discused this and decided that we won't apply these  policy changes to backends where they dont apply.

[2017-11-16 03:12] #4403 closed, assigned to nobody

[2017-11-16 03:14] deekoder commented on #4381
@nitisht  can you bring the WIP PR to review for this?

[2017-11-16 03:17] deekoder commented on #4366
Please refer to
https://docs.minio.io/docs/minio-deployment-quickstart-guide

[2017-11-16 03:17] #4366 closed, assigned to nobody

[2017-11-16 03:22] deekoder commented on #4186
Closing this as we will handle these as part of the federator project

[2017-11-16 03:22] #4186 closed, assigned to nobody

[2017-11-16 03:24] deekoder commented on #4124
We will explore this if there is clear need for this feature. Please reactivate if you think this support needs to be there. Closing now.

[2017-11-16 03:25] deekoder commented on #4106
please check if this still occurs.

[2017-11-16 03:26] deekoder commented on #4081
@balamurugana  since you are looking at these.

[2017-11-16 03:26] balamurugana commented on #4081
@deekoder Yep

[2017-11-16 03:28] deekoder commented on #4079
As part of #4997

[2017-11-16 03:28] #4079 closed, assigned to nobody

[2017-11-16 03:28] nitisht commented on #4997
Just started @deekoder . I will propose a solution in few days.

[2017-11-16 03:29] #4048 closed, assigned to nobody

[2017-11-16 03:32] deekoder commented on #4025
@poornas  please use this issue as part of disk cache pr.

[2017-11-16 03:33] deekoder commented on #3993
Moved to minio/cookbook repo.

[2017-11-16 03:33] #3993 closed, assigned to nobody

[2017-11-16 03:34] deekoder commented on #3970
@balamurugana can you refresh us about this issue.  We have lost the context on it.

[2017-11-16 03:35] harshavardhana commented on #4047
Closing as duplicate of #4153