[2019-06-13 20:41] nreynis commented on #7783
I can reproduce the issue by using plain old javascript with `aws-sdk`

[2019-06-13 21:17] kannappanr commented on #7783
@nreynis I am not sure how `minio` has an issue here. Can you give me a sample code and why you think this is server side bug

[2019-06-13 21:19] harshavardhana commented on #7783
As shown here https://github.com/minio/mc/issues/2678#issuecomment-501878723 the server component is behaving correctly. Just use https://play.minio.io:9000 @nreynis would be easier to reproduce.

[2019-06-13 21:22] harshavardhana commented on #5964
@mikepuglisi please open a new issue or talk to us at https://slack.minio.io

[2019-06-13 21:27] nreynis commented on #7783
Thank you for your help, I don't have the code right here to compare with your example. I'll look at this tomorrow and keep you updated.

[2019-06-13 21:41] kannappanr commented on #7783
Here is an example that I have used

[code]
[code]

[code]
Here is the trace on the server side

[code]
See that the header `X-Amz-Server-Side-Encryption-Customer-Key` matches the base64 encoded value.

Now, if I use the same key in `mc`, you can see that this works.

[code]

[2019-06-13 22:09] infomaniac50 commented on #7780
Docker Compose adds a network by default even if you don't specify one in the configuration file. The Minio server doesn't die or anything like that. It just sits there saying it's unhealthy.

This is the configuration for my home server.

[code]

[2019-06-14 04:07] nullne opened #7785 "how to reconstruct data after replacing a whole disk?"
**Is your feature request related to a problem? Please describe.**
the normal heal operation is quite slow and unnecessary when one disk is replaced. it's better only to fill the lost data on this disk.

**Describe the solution you'd like**
scan to find out all missing objects and only write to the missing disk.

**Describe alternatives you've considered**
now we heal the whole cluster very slowly

[2019-06-14 04:18] nitisht commented on #7785
@nullne we now support self heal (ref #7604), this will scan the drives on a daily basis and heal only the objects that need healing on certain drives.

If you want to trigger heal your self, you can use https://docs.min.io/docs/minio-admin-complete-guide.html#heal

[2019-06-14 04:40] nitisht commented on #7748
Can you keep the `location` section like this and try

[code]

[2019-06-14 04:46] nitisht commented on #7597
@dev-rowbot could you please confirm with the latest release?

[2019-06-14 04:59] nullne commented on #7785
@nitisht i'm afraid i didn't make it clear. what i talked about is how to quickly recover from disk failure. the normal heal operation will scan the whole cluster and heal the object one by one. more  specifically, let's say we have 10 drives per set, the normal heal operation will read from 10 drives and compare the corresponding data. in my scenario(one disk is replaced with a brand new one), i'

[2019-06-14 05:14] poornas commented on #7782
@LKneringer, was able to repro this issue -  this is a bug with AWS C# sdk as it double encodes the path if not an S3 endpoint. Open issue is https://github.com/aws/aws-sdk-net/issues/933. you might want to downgrade to 3.3.19 version of aws c# sdk as pointed out in that issue and see if the upload works.

[2019-06-14 06:08] kannappanr commented on #7785
Won't normal healing take care of this? You still need to know what all objects need to go into this drive. If there are more than one set, we can maybe look at healing one particular set that this disk belongs to.

[2019-06-14 06:11] kannappanr commented on #7782
Closing this issue as duplicate of https://github.com/minio/minio/issues/6548

[2019-06-14 06:11] #7782 closed, assigned to poornas

[2019-06-14 06:13] nullne commented on #7785
@kannappanr yeah, healing one particular set is a big improve. as to normal healing, it does work on this case. but normal healing does more things (healing objects on other disks) which is not the first priority, and certainly slow the healing process

[2019-06-14 07:16] harshavardhana commented on #7785
Object names themselves indicate which set they belong to. The enhancement that may be possible in healing is to prioritize healing of objects which belong to the set where the disk was replaced.

[2019-06-14 07:17] nreynis commented on #7783
@harshavardhana @kannappanr
I've jumped back to my code and found out what was wrong, I've got a double base64 encoding going on.

The aws-sdk was reencoding all strings to base64. I initially couldn't find the documentation for `putObject` params so I relied only on the typescript definitions. After some search I finally found out where the params where described:

https://docs.aws.amazon.com/AWS

[2019-06-14 07:28] kannappanr commented on #7785
Yes, but I don't think it should be healing just this disk, if there are missing parts in other disks, then it should heal them also.

[2019-06-14 07:29] harshavardhana commented on #7785
It should be prioritized, an unformatted disk (replaced) disk takes priority.

[2019-06-14 07:30] IsNull opened #7786 "Improve minio configuration support for container"
**Motivation**

The goal is to completely specify the (kubernetes) cluster state using configuration (yaml) files, without manually invoking configuration apis. This ensures that the cluster state is always reproducible.

While we can specify a distributed minio cluster and some configuration (like access-key etc) using env variables, a large portion of the configuration requires to use the minio-

[2019-06-14 07:31] kannappanr commented on #7785
Yes, but should you skip other disks in the same set, even though they might have parts missing?

[2019-06-14 07:32] harshavardhana commented on #7786
This will be done in new set of configuration changes which we are bringing in..

[2019-06-14 07:37] IsNull commented on #7786
Wow that was fast :)

Great news! Can you give any more information how the new config will work?
Also have you any estimate on a ca. ETA (months, end of year...)?

This would help us preparing for this and not doing any unnecessary work for the time being.

[2019-06-14 07:40] harshavardhana commented on #7785
It won't skip, they are just lower priority. Healing per object per disk is serial and heals one disk at a time. All it needs to do is heal the unformatted first. Since we heal objects in parallel, at top level invariably this should fill the unformatted disk quickly.

Current implementation lacks any sort of ordering.

[2019-06-14 07:42] harshavardhana commented on #7786
There is no set ETA, But a broader timeline is end of this month.

[2019-06-14 11:31] aead commented on #7753
So, we will relax the SSE-KMS restriction in S3 Gateway mode. The Gateway will not reject the SSE-KMS but forward it to AWS S3 (and respond with whatever AWS S3 returns).

[2019-06-14 14:55] selvakumardreams opened #7789 "config.json shows the expiration 1970-01-01T00:00:00Z"
Expiration date & time show too old.

System current date: Fri Jun 14 16:27:13 CEST 2019

## Expected Behavior
"credential": {
		"accessKey": "",
		"secretKey": "",
		"expiration": "2019-09-14T00:00:00Z",
		"status": "enabled"
	},

## Current Behavior
"credential": {
		"accessKey": "",
		"secretKey": "",
		"expiration": "1970-01-01T00:00:00Z",
		"status": "enabled"
	},

## Possible Solution

## St

[2019-06-14 16:13] harshavardhana commented on #7789
This is expected @selvakumardreams it means that your root creds do not expire.

[2019-06-14 16:45] HeberArratia opened #7790 "change access key deletes files"
## Expected Behavior

When changing MINIO_ACCESS_KEY and MINIO_SECRET_KEY, the files that min.io showed me with a previous access configuration disappear.

Is there any way to avoid this behavior?
I think the archives should be maintained.

## Current Behavior

Files are lost when you modify the keys.

## Context

I'm using docker-compose

## Your Environment

My docker-compose file:

[code]

[2019-06-14 19:50] kannappanr commented on #7789
@selvakumardreams Closing this issue as working as intended. Please feel free to re-open if you feel otherwise

[2019-06-14 19:50] #7789 closed, assigned to nobody

[2019-06-14 20:13] kannappanr commented on #7790
@HeberArratia I am not sure what you mean by `Files are lost when you modify the keys.` How do you modify the keys.

Also, in your docker-compose file

[code]
You are mounting ~/mnt/data to `/data`, but that is not being used as the command uses `/export` directory

[2019-06-14 20:17] HeberArratia commented on #7790
Thanks for your reply @kannappanr

When I modify the variables MINIO_ACCESS_KEY and MINIO_SECRET_KEY, the files I had stored in min.io are lost

[2019-06-14 20:19] harshavardhana commented on #7790
You mean here? @HeberArratia - we don't take `config.json` from the config directory anymore. `config.json` resides in the backend.

[code]

[2019-06-14 20:19] kannappanr commented on #7790
once you modify, do you do ` docker-compose up` ? If that is the case, it is probably a different instance

[2019-06-14 20:21] kannappanr commented on #7790
If you change `command: server /export` to `command: server /data`, this might work. Once you make this change, you create buckets and object then change the Access and Secret key, then do `docker-compose up`, you should see the buckets and objects

[2019-06-14 20:30] HeberArratia commented on #7790
This works!! Thanks @kannappanr

I changed `command: server /export` to `command: server /data`

Thank @harshavardhana

[2019-06-14 21:57] ebozduman commented on #7790
Closing. Works as intended.

[2019-06-14 21:57] #7790 closed, assigned to nobody

[2019-06-15 03:15] nopjmp commented on #7780
I understand that. I'm using a docker network for specific reasons on my host, primarily for routing traffic inside of an isolated network.

[2019-06-15 10:14] #7707 closed, assigned to Praveenrajmani

[2019-06-15 14:51] shvc opened #7792 "Transfer-Encoding upload failed with presigned PUT URL"
Presigned URL upload file failed with http header Transfer-Encoding: chunked
## Expected Behavior
The same as normal upload(with Content-Length header)
[code]
## Current Behavior

upload failed

## Possible Solution

## Steps to Reproduce (for bugs)

[code]

## Context

## Regression

## Your Environment

* Version used (`minio version`):
[code]
* Server type and version:
` Centos 7.6`
* Operating

[2019-06-15 17:23] harshavardhana commented on #7792
Transfer-Encoding chunked is not supported in AWS S3 explicit Content-Length is required.

[2019-06-15 17:23] #7792 closed, assigned to nobody

[2019-06-16 05:37] thomasf opened #7795 "Add minio_info metric or similar that exposed the same information as "minio version:" does."
It's great to have version number in Prometheus.. I have a lot of minio instances and a lot of them are probably not up to date because it's kind of hard to track.

This is an established pattern:

[code]

[2019-06-16 05:41] kannappanr commented on #7795
@thomasf Thanks for the issue. We will definitely look into this and try to add a versioning mechanism here.

[2019-06-17 03:04] little-guy-lxr opened #7796 "how to check minio distribute mode is working"
how to test minio distribution mode can balance load

[2019-06-17 04:41] nitisht commented on #7796
Please follow the distributed getting started guide: https://docs.min.io/docs/distributed-minio-quickstart-guide.html

For load balancing you simply need to send round robin style requests to MinIO servers, you can using something like Nginx: https://docs.min.io/docs/setup-nginx-proxy-with-minio

Closing this as answered, feel free to join us on slack  (https://slack.min.io) for more such question

[2019-06-17 04:41] #7796 closed, assigned to nobody

[2019-06-17 07:12] #7780 closed, assigned to nitisht

[2019-06-17 10:01] bsemperlotti opened #7797 "[gateway-azure] Remove user does not work anymore"
Updating from version `RELEASE.2019-06-04T01-15-58Z` to `RELEASE.2019-06-15T23-07-18Z` (critical bug fix), the `mc --json admin user remove ...` command does not work anymore (it was working with previous release)

Note: Minio in Azure Gateway mode with ETCD synchronization

## Expected Behavior
User can be created and deleted using command line:

[code]
[code]
[code]
[code]
## Current Behavior
Us

[2019-06-17 10:02] nitisht commented on #7797
Thanks for reporting @bsemperlotti we'll take a look

[2019-06-17 12:20] matemikulic opened #7798 "Need help with my use case solution"
Hey guys, I need help with a scenario I have, hopefully Minio is the solution.
I have application that is located in private data centers(not AWS) around the world. In ~10 locations. Each data center has it's own application cluster and public API endpoint. The data centers are connected between themselves  via private network.

If a client uploads a file via location A public API endpoint and wis

[2019-06-17 12:24] nitisht commented on #7798
@matemikulic have you checked MinIO Federation? https://docs.min.io/docs/minio-federation-quickstart-guide.html

Also please join us on slack (https://slack.min.io) for more real time discussion..

[2019-06-17 13:27] #7798 closed, assigned to nobody

[2019-06-18 07:22] 733amir commented on #5057
The same thing happens with new releases:
`RELEASE.2019-06-15T23-07-18Z`
`RELEASE.2019-06-13T01-41-13Z`

[2019-06-18 07:23] nitisht commented on #5057
can you check `minio/minio:edge` @733amir

[2019-06-18 07:35] shubham1172 opened #7800 "Connect Minio to S3 without a filesystem"
Hi,

Is there a way to connect a Minio server running on my Kubernetes system to an S3 instance directly, without having a PVC locally?

Thanks.

[2019-06-18 07:36] nitisht commented on #7800
You can use https://github.com/minio/minio/blob/master/docs/gateway/s3.md

Closing this as answered, please join us on slack (https://slack.min.io) for more such questions.

[2019-06-18 07:36] #7800 closed, assigned to nobody

[2019-06-18 07:38] shubham1172 commented on #7800
Thank you! This is exactly what I was looking for!

[2019-06-18 17:04] christianbaun opened #7801 "Unable to compile latest minio in Raspbian on a Raspberry Pi 3 B+"
I tried to install Minio by compiling it in Raspbian on a Raspberry Pi 3 B+

## Steps to Reproduce (for bugs)
Installation of go (works well):

[code]

Installation of minio (fails after more than 30 Minutes...)

[code]

## Your Environment
* Version used (`minio version`): github repository
* Server type and version: Raspberry Pi 3 B+ (ARMv7)
* OS: Raspbian Stretch Lite, Version:April 2019, Relea

[2019-06-18 17:11] harshavardhana commented on #7801
Make sure to set GO111MODULE=on to use `go mod` support @christianbaun as documented here https://github.com/minio/minio#install-from-source

[2019-06-18 17:12] lanjiachuan opened #7802 "help me .\mc.exe policy public minio/xzspfj/20190328/ erro"
When I set the public permission, the picture still cannot be accessed, and the picture file becomes the folder path, may I ask how to solve this problem

[2019-06-18 17:13] lanjiachuan commented on #7802
The demo provided by the official play.minio has the same problem

[2019-06-18 17:55] christianbaun commented on #7801
The `GO111MODULE=on` did improve the situation a lot, but now the compilation process failed because insufficient main memory capacity:

[code]

Maybe 1 GB of main memory and 100 MB of swap is not sufficient to compile minio.

[code]

Now, I try it with 2 GB swap space.

[2019-06-18 17:57] harshavardhana commented on #7801
yes don't directly compile on Raspberry @christianbaun - cross-compile it on your laptop and copy the binaries to your RPI

[code]

[2019-06-18 18:13] kannappanr commented on #7802
@lanjiachuan Can you please give us the version of `mc` that you are using? How are you trying to access the picture? Since you can reproduce the issue on play, can you try it out on Play and let us know here?

I will need to know the exact bucket and object that you are trying it on and the mechanism that you are trying this out with.

[2019-06-18 18:14] kannappanr commented on #7802
I have made the bucket `test-minio` public on `play`. There is a file called `a/b/c.txt` and used `curl` to display the contents.

[code]

[2019-06-18 19:11] xmichaelx commented on #5057
@nitisht I've checked it and edge works fine. Do you know from which commits latest and edge were generated?

[2019-06-18 19:23] harshavardhana commented on #5057
We haven't made a release yet with this fix - you may use the edge version which points to latest master @xmichaelx

[2019-06-18 19:25] xmichaelx commented on #5057
@harshavardhana Awesome. Thanks for the great work done on Minio.

[2019-06-18 19:42] harshavardhana commented on #7797
I can reproduce this @bsemperlotti

[2019-06-18 19:46] christianbaun commented on #7801
I did compile it on the RasPi after I increased the Swap space in the file `/etc/dphys-swapfile`. Close to the end of the `GO111MODULE=on go get github.com/minio/minio`, some swap space was actually used:

[code]

The compilation failed reproducible with go1.12.6, but with go1.12.5 it worked well.

Minio Server runs now well, just the version information has not so much information:

[code]

BTW:

[2019-06-18 20:03] #7801 closed, assigned to nobody

[2019-06-18 20:07] harshavardhana commented on #7801
Just `git checkout <tag>.` and `make install` @christianbaun - going to close this issue. We can take this on https://slack.min.io

[2019-06-18 22:44] #7797 closed, assigned to harshavardhana

[2019-06-19 02:35] lanjiachuan commented on #7802
https://play.min.io:9000/minio/test-minio/a/b/ljl.jpg   I put a JPG file access in this directory and it still can't be opened or downloaded online

[2019-06-19 02:35] lanjiachuan commented on #7802
<img width="1067" alt="image" src="https://user-images.githubusercontent.com/29550961/59732714-f88bf580-927d-11e9-96d8-af49183d746e.png">

[2019-06-19 02:36] lanjiachuan commented on #7802
<img width="866" alt="image" src="https://user-images.githubusercontent.com/29550961/59732765-22ddb300-927e-11e9-96e7-422a7297f421.png">

[2019-06-19 02:41] lanjiachuan commented on #7802
The function I hope to achieve is that the video, audio and pictures uploaded by my instant messaging APP can be directly accessed to the video audio files of the picture through the APP, which can be used after I built it before. Yesterday, the system informed me that I can upgrade to a new version, and now it cannot be used. At present, my version is 2019-06-15 t23.07:18z

[2019-06-19 02:48] kannappanr commented on #7802
You should try `https://play.min.io:9000/test-minio/a/b/ljl.jpg` instead of `https://play.min.io:9000/minio/test-minio/a/b/ljl.jpg`

[2019-06-19 02:58] lanjiachuan commented on #7802
I see. Thank you. But there is a small problem. In addition, does our product support image compression strategy?

[2019-06-19 03:02] kannappanr commented on #7802
Can you elaborate what your problem is? Also, not sure what you mean by image compression strategy

[2019-06-19 03:07] lanjiachuan commented on #7802
My business logic is like this: I upload the original picture about 2M or 32M, due to the delay of the comparison of pictures, I hope to achieve the image proportional compression, for example, add @x2 after the file name and reduce it by twice, so as to speed up the loading speed of pictures by referring to the OSS server of alibaba

[2019-06-19 03:12] kannappanr commented on #7802
So, you will be upload images of two different qualities and depending on speed, you want to display appropriate image.

[2019-06-19 03:17] lanjiachuan commented on #7802
Not, for example, I uploaded a picture of a 32 m, through the URL to access the picture could be 10 seconds or so, if I increase after images @ x2 oss server will help me to generate a temporary compressed image size may only 100 k so I access speed is much faster, if you want to access the artwork as long as I take the back of the @ x2 can get the original image

[2019-06-19 03:18] lanjiachuan commented on #7802
https://segmentfault.com/a/1190000008656825     You can refer to the net friends of a realization, I hope our products also have such a function, as far as this function is very necessary

[2019-06-19 04:03] kannappanr commented on #7802
The link talks about MinIO and Thumbor. I am not very familiar with Thmbor, but looks like it will be in front of MinIO and that will handle this feature that you are talking about.  So, essentially you will be talking to
 Thumbor. Also, I feel this is outside the scope of S3 object storage. Please let us know what you feel.

[2019-06-19 04:25] lanjiachuan commented on #7802
https://help.aliyun.com/document_detail/44686.html?spm=a2c4g.11174283.2.37.4e747da2hewmxR

[2019-06-19 04:30] kannappanr commented on #7802
I believe this is outside the scope of S3. Is there an API in OSS that allows you to do this and you want MinIO to expose it in the Gateway?

[2019-06-19 04:45] lanjiachuan commented on #7802
I think if the image compression function can be achieved, it can better enable the business system to load the image function faster. If you think it is beyond the scope of oss, this is just my personal suggestion for your reference. Thank you for your help

[2019-06-19 05:12] jbub commented on #7780
Worked around it by temporarily disabling the healthcheck in docker compose:

[code]

[2019-06-19 05:18] nitisht commented on #7780
please use the `minio/minio:edge` image if possible till we make a release with the fix

[2019-06-19 05:31] 733amir commented on #5057
@nitisht  Edge is working fine. I think the bug is in the `healthcheck`, because when I disabled it, `minio` container didn't stop and working fine.

[2019-06-19 05:32] #7802 closed, assigned to nobody

[2019-06-19 05:55] harshavardhana commented on #7283
This is not possible and not easy to implement. Contexts on POSIX are hard and hard to provide such deadlines.

Closing this issue as technically not feasible at the moment.

[2019-06-19 05:55] #7283 closed, assigned to harshavardhana

[2019-06-19 05:57] harshavardhana commented on #6265
Removed fixed label as this is not fixed yet.

[2019-06-19 05:57] harshavardhana commented on #5665
Ping @donatello @kannappanr are we planning anything in this category??

[2019-06-19 05:58] harshavardhana commented on #5166
Taking this as part of the config changes..

[2019-06-19 05:59] harshavardhana commented on #7313
This is perhaps not needed and an Overkill even with S3 as we have seen our implementation is going to be much faster. Closing this issue as it's not needed to fix.

[2019-06-19 05:59] #7313 closed, assigned to nobody

[2019-06-19 06:32] jbub commented on #7780
I can wait for the release, its not a mission critical setup :) Thanks for all of the hard work on the project by the way :)

[2019-06-19 06:37] harshavardhana commented on #7688
This is fixed we have merged the docs. closing.

[2019-06-19 06:37] #7688 closed, assigned to harshavardhana

[2019-06-19 06:38] harshavardhana commented on #7490
Can this be reproduced with MinIO master ? @marcadella

[2019-06-19 09:46] andrewtmendoza opened #7806 "Minio not enforcing key or starts-with condition with boto3 presigned post"
The following snippet generates a working pre-signed URL, but I've noticed that the key and **starts-with** condition are not enforced. When I am making the post request with the pre-signed URL, I can change the key to a completely different value and Minio will use it. Interestingly, it appears that Minio does use the **content-length-range** condition.

[code]

## Expected Behavior
I would expec

[2019-06-19 11:24] kanagarajkm opened #7807 "MINIO_HTTP_TRACE is not working"
`MINIO_HTTP_TRACE=/tmp/minio.log` is set, and multiple requests are made to minio server but nothing is logged in `/tmp/minio.log`

## Expected Behavior

Requests should be logged

## Current Behavior

Requests are not logged

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run this command `MINIO_ACCESS_KEY=minio MINIO_SECRET_KEY=minio123 MINIO_HTTP_TRACE=/tmp/minio.log minio server ~/

[2019-06-19 12:20] blackandred commented on #7780
Thanks for your good work on the project :)
I can also wait for a release, because I know the cause.
What suprises me is that the monitoring says that one time a day the
service is ok for a few minutes :)

On Wed, Jun 19, 2019 at 8:32 AM Juraj Bubniak <notifications@github.com>
wrote:

[2019-06-19 15:13] and0x000 commented on #7807
According to [this](https://github.com/minio/minio/releases/tag/RELEASE.2019-06-11T00-44-33Z) release note, support for the `MINIO_HTTP_TRACE` environment variable has been removed.

[2019-06-19 15:46] harshavardhana commented on #7807
Yes this has moved to `mc admin trace` instead. Closing this issue.

[2019-06-19 15:46] #7807 closed, assigned to nitisht

[2019-06-19 15:49] harshavardhana commented on #7737
This issue is fixed in multiple iterations to minio-go , closing this issue. Feel free to reopen if seen again.

[2019-06-19 15:49] #7737 closed, assigned to nobody

[2019-06-19 15:51] harshavardhana commented on #7696
The fix was merged and released. Closing this issue - feel free to reopen if the issue is seen again.

[2019-06-19 15:51] #7696 closed, assigned to poornas

[2019-06-19 15:56] harshavardhana commented on #7634
Closing this issue as working as intended.

[2019-06-19 15:56] #7634 closed, assigned to kaankabalak

[2019-06-19 15:58] harshavardhana commented on #7501
Closing this issue as fixed, we moved back to http 1.1 as there are many implementation level issues in http 2.0 support in Go.

[2019-06-19 15:58] #7501 closed, assigned to sinhaashish

[2019-06-19 15:58] harshavardhana commented on #7366
Is this still true @vadmeste ?

[2019-06-19 15:59] harshavardhana commented on #7352
Since we have auto heal now, which runs every 24hrs. Closing this issue.

[2019-06-19 15:59] #7352 closed, assigned to vadmeste

[2019-06-19 16:03] harshavardhana commented on #6993
Is this still reproducible @sgandon ??

[2019-06-19 16:04] harshavardhana commented on #6782
We have auto heal feature in MinIO, which heals namespace every 24hrs. There are further optimizations coming in. So closing this issue as fixed for now.

[2019-06-19 16:04] #6782 closed, assigned to nobody

[2019-06-19 16:05] harshavardhana commented on #6328
Closing this issue as stale, please reopen if seen again.

[2019-06-19 16:05] #6328 closed, assigned to vadmeste

[2019-06-19 16:07] harshavardhana commented on #5703
Are we ever going to do this? @deekoder @rushenn if not shall we close it ?

[2019-06-19 17:01] kanagarajkm commented on #7807
@and0x000 @harshavardhana thanks!

The doc needs to be updated here https://github.com/minio/minio/blob/master/docs/config/README.md#http-trace

[2019-06-19 17:32] harshavardhana commented on #7807
Yes shall be fixed in #7808

[2019-06-20 00:37] #7753 closed, assigned to aead

[2019-06-20 01:38] little-guy-lxr opened #7809 "minio put object part crash"
upload large file concurrently ,minio crash in PutObjectPartHandler.
logs:

2019-06-19 14:04:28.288948 I | http: panic serving 192.168.100.1:60598: runtime error: invalid memory address or nil pointer dereference
goroutine 166 [running]:
net/http.(*conn).serve.func1(0xc000710500)
        /home/testiceberg/iceberg/tmp/go/src/net/http/server.go:1769 +0x139
panic(0x17966c0, 0x2d33cf0)
        /home/t

[2019-06-20 02:03] harshavardhana commented on #7809
Can you provide more details @little-guy-lxr such as version, what is the application, etc?

We humbly **request** you to use the issue template such that we don't have to repeatedly ask these questions.

[2019-06-20 03:18] hongkongkiwi opened #7810 "MongoDB backend for users"
Hi there,

I would like to store Minio Users & Access Control in a MongoDB. This makes it super simple to implement Minio as part of another more complex system.

Is there plans for supporting external authorisation mechanisms in future? I guess everybody has different requirements here, so a plugin architecture for backend credential storage would be awesome.

I could imagine some people want the

[2019-06-20 04:51] kannappanr commented on #7810
@hongkongkiwi Thanks for the request. We will talk internally and get back to you.

[2019-06-20 05:00] kannappanr commented on #7806
@andrewtmendoza Thanks for filing this issue. We will take a look and get back to you.

[2019-06-20 06:50] jaceksan commented on #6782
@harshavardhana thanks for the feature!
Question - can 24 hours period be configured?

Unfortunately there is a use case, which cannot be solved by this auto-heal feature -
redeploy of k8s worker nodes (e.g. when upgrading HW).
For each redeployed node related Minio POD starts empty and needs to be healed from the rest of the cluster before redeploying next node.
We can trigger heal "manually" usi

[2019-06-20 07:03] nullne commented on #6782
@harshavardhana   if there are lot's of objects within one MINIO cluster, let's say 1 billion, it's hard to scan all of the objects in 24 hours.

[2019-06-20 07:05] victornoel commented on #7754
@wlan0 @harshavardhana @kannappanr for the record I'm still blocked with this. On top of fully disabling proxy buffering, I tried other options found on the internet (such as setting `proxy_max_temp_file_size` to 0), but request are still buffered to disk by nginx.

[2019-06-20 07:21] harshavardhana commented on #6782
We will be doing that @jaceksan - there are further optimizations underway.

There won't be any overlapping scans every 24hrs @nullne - if the previous scan is in progress the healing waits for them to complete. There are some more optimizations being implemented to address a more quicker visits to different directories.

[2019-06-20 07:31] VeselaHouba opened #7811 "Error: file access denied Arq/curl"
I'm testing using minio as s3 backend for ARQ backup SW. I've managed to set it up and working, but after few hours backups start failing with
[code]
I'm using authentication, the bucket is not public.

## Expected Behavior
Access allowed

## Current Behavior
Access denied
[code]
When I try to call the same URL with curl, it also gives access denied.
[code]
...
[code]

### Workarounds
Everything s

[2019-06-20 07:33] harshavardhana commented on #7811
Can you test with latest release?

[2019-06-20 07:33] harshavardhana commented on #7809
We will close this issue until we have more information. Thanks.

[2019-06-20 07:33] #7809 closed, assigned to nobody

[2019-06-20 07:36] harshavardhana commented on #7766
I think there is some local issue, not able to reproduce the issue with hortonworks latest distribution.

[2019-06-20 07:38] harshavardhana commented on #7765
Currently there are no plans to expand the scope here., Feel free to reopen if it's a must requirement. We will close this issue for now.

[2019-06-20 07:38] #7765 closed, assigned to nobody

[2019-06-20 07:42] harshavardhana commented on #7725
This is a Go upstream issue, we can provide hacks around it but it is better to let Go address this upstream. There is a good reason it hasn't been fixed due to lack of clarity from Windows docs regarding long path behavior with UNC paths.

A better workaround is simply mount the share as a drive and then use it, you can still use the long paths appropriately in this manner.

[2019-06-20 07:45] VeselaHouba commented on #7811
Sure. Just downloaded `2019-06-19T18:24:42Z` . Will let you know results after few backup cycles

[2019-06-20 08:52] Praveenrajmani commented on #7795
@thomasf Since, MinIO Version is a `string`. Prometheus wont allow to export a string metric type. They accept only counter-based types. If you see, [`https://prometheus.io/docs/concepts/metric_types/`](url) - these types are numerical and can be counted upon. This definitely makes sense because strings aren't metrics. We cannot construct a graph out of string metrics. It is not recommended to exp

[2019-06-20 08:54] Praveenrajmani commented on #7795
This issue speaks more about this - [`https://github.com/prometheus/prometheus/issues/2227`](url)

[2019-06-20 08:54] hongkongkiwi commented on #7810
Awesome! Excited to hear back.

[2019-06-20 09:08] shernshiou commented on #7753
Thanks. I will try it out once it is ready.

[2019-06-20 10:38] VeselaHouba commented on #7811
Still the same error
[code]

---edit---
Logged via GUI
1. Opened: `https://<url>/minio/<bucket>/2C7031A2-7017-49A4-BE18-03893D53DAC3` - No change
2. Opened: `https://<url>/minio/<bucket>/2C7031A2-7017-49A4-BE18-03893D53DAC3/buckets/` - Access started to work

[2019-06-20 10:56] thomasf commented on #7795
Strings are supported as label values which is what you should be aiming at, a `minio_info` metric with multiple labels.. At least in the vector types like info would be, you can even see them in my example post in the issue description. It's a label value, not metric value. I'd guess that those info types usually just have a static 1 for value.
It's very much common to export strings into metric

[2019-06-20 11:12] Praveenrajmani commented on #7795
@thomasf https://github.com/prometheus/prometheus/issues/2227#issuecomment-263201106 - This may hinder the performance as well (as per the comment).

Let me see if it will be relevant to add the version as a label to any of the currently exposed metrics. Will discuss this here and come back

[2019-06-20 11:57] Praveenrajmani commented on #7795
@thomasf For now, the version info will be exposed under `minio_version_info` with a static-value `1`

[2019-06-20 12:25] thomasf commented on #7795
there is always relabeling in promeheus to drop those metrics you are not interested in as well. I have some exporters where I drop several thousands of metrics from. Nothing strange about that.. I would suggest `minio_info` instead because you can choose to add other information there later on without it being weird and closer to how most people does it. I've seen some version_info.. ones as well

[2019-06-20 12:27] thomasf commented on #7795
The performance problems can start happening when you export an label with infinite variations of the label value where it changes a lot. So it's not really a problem when it's a static value.

[2019-06-20 15:53] marcadella commented on #7490
Hi, I tested today with master and I still get the same issue.

[2019-06-20 21:09] xoraingroup commented on #7634
Sorry a bit late to reply. I will check if request library is adding jwt token header.

[2019-06-20 22:11] krishnasrinivas commented on #7811
@VeselaHouba when this situation happens, can you check the permission of the file in the backend:
ls -l /data/bucket/2C7031A2-7017-49A4-BE18-03893D53DAC3/buckets/123A940E-B1FF-4DFD-9B54-EA7492D394C5

also try to cat it:
cat /data/bucket/2C7031A2-7017-49A4-BE18-03893D53DAC3/buckets/123A940E-B1FF-4DFD-9B54-EA7492D394C5

And see if this works. Basically from the stack trace we can see that stat() sy

[2019-06-20 22:28] #7732 closed, assigned to harshavardhana

[2019-06-21 05:58] Praveenrajmani commented on #7795
For now `minio_version_info` will be apt. Since, we did not decide to expose other info yet.

[2019-06-21 06:37] VeselaHouba commented on #7811
@krishnasrinivas Hi, yes, I can access the file (tried as root, docker process is also running as root)
[code]
After accessing the file directly, minio again starts to work. Any idea what can cause this?

[2019-06-21 07:58] #7671 closed, assigned to sinhaashish

[2019-06-21 07:58] nitisht commented on #7748
were you able to test @revengel ?

[2019-06-21 08:00] nitisht commented on #7725
Closing this based on previous comment, feel free to reach out on slack (https://slack.min.io) if there are more questions @shanebarnes

[2019-06-21 08:00] #7725 closed, assigned to ebozduman

[2019-06-21 14:32] xoraingroup commented on #7634
Yeah @MontyGvMC was right. It was due to Authorization header. Removing it made it to work in new version. Thanks. It can be closed now.

[2019-06-21 23:16] abessifi commented on #5406
From a developer/user perspective, how to request for a S3 bucket using the `minio-operator` as a replacement of the Service Broker. I know that this feature is not yet implemented but just wondering about what the `minio-operator` will be used for apart of the idea to make easy the installation, management and upgrade of a Minio Cluster.
On the other hand, in the long term, do the [rook-minio](ht

[2019-06-22 00:19] abessifi commented on #3923
@harshavardhana any clarifications please regarding Minio's requirement in terms network latency and throughput ?

[2019-06-22 01:12] harshavardhana commented on #3923
@abessifi minimum requirement is 1gig latency.. 10gig is recommended.

[2019-06-22 11:25] abessifi commented on #3923
Hi @harshavardhana,
Sorry but I do not know the `gig` unit. Could you please give it in `ms` (millisecond).
Do you also mean that mininum required throughput is 1GB but 10GB is recommended ?

[2019-06-22 15:47] harshavardhana commented on #3923
What I am talking about is interconnect recommend is minimum 1G, recommended production deployment with 10G. For more throughput and performance 100G is recommended as well.

MinIO is throughput centric, not latency.

[2019-06-22 16:08] abessifi commented on #3923
Thank you @harshavardhana. it's more clear about throughput, but my question was also about what's the  maximum tolerated network latency between Minio distributed instances (lets say not in the same network).

[2019-06-22 16:18] harshavardhana commented on #3923
Yeah latency is harder to tell , we never test across WANs and never recommend it. It is generally upto you.. it depends on how much traffic your WAN can handle etc

[2019-06-22 17:45] abessifi commented on #3923
In this case what are the best practises to adopt for multi-cluster deployments and do you please have any reference architecture for clusters mirroring/replication ?

[2019-06-22 18:25] J0WI commented on #7062
How about contributing to the standard library which supports all major architectures out of the box?
https://github.com/docker-library/official-images#contributing-to-the-standard-library

[2019-06-23 16:35] harshavardhana commented on #7811
Is your backend NFS ? @VeselaHouba

[2019-06-23 20:21] VeselaHouba commented on #7811
Yes it is, the docker volume is mounted from device which comes over NFS.
I use following options
[code]

[2019-06-24 01:02] harshavardhana commented on #7811
This looks like NFS caching issue..

[2019-06-24 08:11] VeselaHouba commented on #7811
Ok, I've now disabled NFS cache with `noac` option.

Also testing direct mount without NFS on second instance. Will let you know results.

[2019-06-24 17:37] harshavardhana commented on #7766
Closing this since this looks like a setup issue @lmf5103510

[2019-06-24 17:37] #7766 closed, assigned to nobody

[2019-06-24 20:56] revengel commented on #7748
Registry does not work.

[2019-06-24 22:02] #7685 closed, assigned to kanagarajkm

[2019-06-25 01:11] ghost opened #7826 "New Policy Disappears, expected?"
When I follow the guide for creating long term multi-user access I create a policy but then it seems to disappear after a little while. I'm running a distributed cluster.

## Expected Behavior

**FRIST**
sudo mc admin policy list minio
.
readonly
readwrite
writeonly

**SECOND**
sudo mc admin policy add minio getonly getonly.json
Added policy `getonly` successfully.

**THIRD**
sudo mc admin policy

[2019-06-25 02:54] harshavardhana commented on #7826
This is fixed in the latest release @hassbabaie - closing as duplicate of https://github.com/minio/minio/issues/7769

[2019-06-25 02:54] #7826 closed, assigned to nobody

[2019-06-25 04:57] nvcken opened #7827 "Any plan to build real-time dashboard for resource files monitoring ?"
We want to monitor resource files usage, is it built-in or could you please tell any thid-party can be integrated to Minio for this purpose

Thanks

[2019-06-25 04:59] harshavardhana commented on #7827
How about this “Monitor Minio server with Prometheus” by Nitish Tiwari https://link.medium.com/tAZrXQGBNX - also please we request that use the issue template in future it really helps triage the issues @nvcken

For general questions please feel free to join our https://slack.min.io

[2019-06-25 08:05] VeselaHouba commented on #7811
Results: The NFS-mounted instance still has issues, direct-mounted is fine. So @harshavardhana you were right, the issues is caused somewhere in NFS-docker-minio connection.

[2019-06-25 08:24] harshavardhana commented on #7811
Don't know what else we can help here @VeselaHouba - you can perhaps not use docker and use the NFS mount directly on the host?

We can close this issue since this is not a MinIO issue.

[2019-06-25 08:25] VeselaHouba commented on #7811
Yes, I'll try some other combinations. Thanks for help, feel free to close ticket

[2019-06-25 08:25] #7811 closed, assigned to nobody

[2019-06-25 09:40] k0da opened #7829 "minio/minio:RELEASE.2019-06-15T23-07-18Z claims atime is not set"
After updating to minio/minio:RELEASE.2019-06-15T23-07-18Z minio fails to start with:
Jun 25 11:34:50 172.19.0.1 s3cache[3432]: ERROR Unable to initialize disk caching: Atime support required for disk caching.

while:
  minio-cache:
    image: minio/minio:RELEASE.2019-06-15T23-07-18Z
    container_name: s3cache
    networks:
      - harbor
    volumes:
      - /mnt/s3cache:/cache:z

/dev/vdb on /m

[2019-06-25 09:44] nitisht commented on #7597
Closing this for now @dev-rowbot as we're planning to revamp Prometheus data exported by the server. You can track the progress here https://github.com/minio/mc/pull/2781

[2019-06-25 09:44] #7597 closed, assigned to nitisht

[2019-06-25 09:45] nitisht commented on #7700
closing this for now @mygithub-praveen due to no response. Feel free to join us on Slack or reopen this when you have more info.

[2019-06-25 09:46] nitisht commented on #7748
Please join us on Slack for more real time conversation (https://slack.min.io)

[2019-06-25 09:47] #7700 closed, assigned to nobody

[2019-06-25 10:15] nitisht commented on #7829
Thanks for reporting @k0da we'll take a look

[2019-06-25 16:45] poornas commented on #7829
@koda, can you enable `strictatime` on the drive you are using for cache? [relatime](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/power_management_guide/relatime) does not necessarily update atime each time the file is accessed.

[2019-06-25 17:05] k0da commented on #7829
@poornas just tested this, minio still complains about no atime
/dev/vdb	/mnt	ext4	strictatime,barrier=0,commit=30,user_xattr,acl	0	0

mount | grep vdb
/dev/vdb on /mnt type ext4 (rw,seclabel,nobarrier,commit=30,data=ordered)

s3cache[3432]: ERROR Unable to initialize disk caching: Atime support required for disk caching.

[2019-06-25 17:32] poornas commented on #7829
Can you do a `stat filename` on a existing file in /mnt/ path, `cat filename` then try stat to see access time changed? We essentially do that to ensure atime is enabled - otherwise older cached entries cannot be evicted reliably. Perhaps you need to remount?

[2019-06-25 20:14] k0da commented on #7829
yes, access time changes
[code]
 vs
[code]

[2019-06-25 20:16] k0da commented on #7829
@poornas I did remount and reboot node as well. + I do docker system prune before each attempt to start minio container

[2019-06-25 20:39] poornas commented on #7829
@koda, can you paste your docker-compose.yml here? In partcular would like to see  MINIO_CACHE_DRIVES env setting.

[2019-06-25 21:18] k0da commented on #7829
@poornas
[code]

[2019-06-25 21:20] harshavardhana commented on #7829
why are you using `:z` ? @k0da

[2019-06-26 06:49] evilthiesje opened #7835 "minio/minio:RELEASE.2019-06-19T18-24-42Z: causes high CPU load (automatic healing)"
We’ve updated from docker image minio/minio:RELEASE.2019-03-20T22-38-47Z to minio/minio:RELEASE.2019-06-19T18-24-42Z. After a few seconds, the CPU load on all our servers reached over 90%, the HTTP response times increased heavily (up to 18 seconds for a POST request, instead of 500ms). There was no visible change after two days, so we had to downgrade minio in order to avoid further problems in o

[2019-06-26 06:56] tinohager opened #7836 "MinIO Browser - Cannot open a folder in a new Tab"
It is not possible in chrome to open a folder in a new tab. Its Always open the new tab in the bucket overview.

Steps to Reproduce (for bugs)
Right click on a folder in the bucket overview an choose open in new tab.

Your Environment
Version used (minio version): 2019-06-13T01:41:13Z
Nuget packages: MinIO v3.0.11, AWSSDK.S3 v3.3.102.12
Operating System and version (uname -a): Windows 10 Pro Versi

[2019-06-26 06:59] harshavardhana commented on #7836
@tinohager it is as per design, MinIO browser is a single page application.

[2019-06-26 07:01] harshavardhana commented on #7836
Are you asking for selecting a bucket and then being able to view that upon selection.. ?

[2019-06-26 07:04] harshavardhana commented on #7835
Thank you for opening the issue, we will be fixing this in upcoming releases.

[2019-06-26 07:07] tinohager commented on #7836
@harshavardhana this is not a problem with a spa application. The route is correct. I think the problem is the empty a href tag.

[2019-06-26 08:37] k0da commented on #7829
@harshavardhana that's a leftover from selinux testing,  but it doesn't influence atime

[2019-06-26 11:13] ghost commented on #7835
I see that you have done POST requests against it. Was it a multipart upload?
If so, then this may be a duplicate of https://github.com/minio/minio/issues/7206 .

[2019-06-26 11:21] ghost commented on #7206
Yes, I can definitely concurr that there is an issue with minio server.
[code]
Elapsed time:     30m0.4s
while
[code]
Elapsed time:     5m20.8s
We have some difference here, I already brought it up on that community portal there, but on that web-IRC no one really cares.

Some here say that it might be a problem with concurrency
[code]
Elapsed time:       8m50s
Well, that's not the case. And my tes

[2019-06-26 11:31] ghost commented on #7206
Now to the interpretation. We can rule out that it has anything to do with the concurrency, instead we can definitely proove that it increases the CPU load the longer it runs.

Proof being:

Hit it with 1000 chunks at once and it will immediately complete (going LINESPEED Gigabit!!!, OK, it will still need a minute to transfer 5 GB but that is looking immediate to me after spending multiple hours

[2019-06-26 11:55] ghost commented on #7206
Well and finally comes some idology.

Some here say that "yes, it is not a problem, as long as you use bigger chunk sizes" and so on.

I do not like this talk at all because it defies the purpose of S3.

The big advantage of S3 is the ability to transfer in chunks.
Alternatively you could take some kind of messaging system, like Kafka, but that would require you to have that big Kafka installation

[2019-06-26 12:05] ghost commented on #7201
I think it is not a surprise that it fails with 5 MB chunk size.
Like here https://github.com/minio/minio/issues/7206 .
As the network latency increases and maybe also CPU load, it may fail there (socket getting closed on inactivity from remote - here GCS).
So maybe it is also a duplicate of it.

[2019-06-26 16:52] harshavardhana commented on #7835
This issue is not related to #7206

[2019-06-26 16:54] harshavardhana commented on #7201
This is not related to #7206 @gustopn

[2019-06-26 16:56] harshavardhana commented on #7836
Can you elaborate further are you taking about MinIO browser ?

[2019-06-26 17:03] kannappanr commented on #7836
@harshavardhana I think what he means is that if we look at Play, there is a bucket named `00test` so when you go to `https://play.minio.io:9000/minio/00test/`, it will display a folder named `test` and when you right click on it and select `open in a new tab`, the link there is `https://play.minio.io:9000/minio/00test/#` . So, in the new tab it will essentially be displaying the same page.

[2019-06-26 17:33] kannappanr commented on #7836
@tinohager We will implement this change.

[2019-06-26 17:36] #7795 closed, assigned to Praveenrajmani

[2019-06-26 20:36] kaankabalak opened #7837 "[UI] When user switches from a large bucket, objects displayed do not correspond with selected bucket"
## Expected Behavior

The selected bucket in the UI must correspond with the objects displayed on all times.

## Current Behavior

When the user switches from a bucket with large number of objects to another bucket before the request to fetch the objects for the first bucket is completed, upon the completion of this request the contents of the first bucket are seen even though the second bucket is

[2019-06-27 07:19] mt-rahul opened #7841 "A file in a bucket is being deleted automatically by minio at random time interval"
We have a bucket in minio where we keep some files. One of files in the bucket is being randomly deleted. Which is very confusing because only that file is deleted everytime while other files are still present

We don't expect minio to delete any files unless we do it ourselves. Minio is deployed on kubernetes with persistence enabled.

Files are being copied to the bucket with aws cli commands.

[2019-06-27 07:26] nitisht commented on #7827
closing as working as intended

[2019-06-27 07:26] #7827 closed, assigned to nobody

[2019-06-27 07:29] nitisht commented on #7841
@mt-rahul MinIO never deletes a file randomly. Also please follow the issue template, it helps us identify the problem and suggest a fix. Without details it is very difficult to reproduce / analyse the problem

[2019-06-27 11:20] mt-rahul commented on #7841
@nitisht Apologies for that. We are using minio (v 2.4.16) helm chart to install it in our kubernetes cluster (EKS). I am unable to find any logs for this container. Could you tell me where can I find the logs?

Running these following commands to copy data to minio host which is working fine.

`aws s3 cp /app/dist s3://${BUCKET_NAME} --endpoint-url='$S3_ENDPOINT_URL' --recursive --acl public-read

[2019-06-27 17:09] harshavardhana commented on #7490
@marcadella is there no simple reproducer? using an entire java project?

[2019-06-27 19:13] #7837 closed, assigned to nobody

[2019-06-27 21:20] harshavardhana commented on #7841
why is cache-control "max-age" set? can you also provide us the server deployment details?

[2019-06-28 04:41] mt-rahul commented on #7841
Thanks Harshavardhana for the response.

We don't want to cache this file in the browser.

Following parameters override the default parameters in values.yaml file for Minio, all the other parameters are kept default :
`
accessKey: "<access-key>"
secretKey: "<secret-key>"
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 50Gi
`
We use minio in dev environment to keep everything inte

[2019-06-28 05:45] harshavardhana commented on #7841
Need to know how is MinIO running, is it running in distributed mode ?

[2019-06-28 06:12] mt-rahul commented on #7841
it is running in standalone mode.

[2019-06-28 07:44] codl opened #7848 "B2 gateway with bucket-restricted app key no longer works"
## Expected Behavior
`minio gateway b2`, with an app key that is only allowed access to one bucket, successfully writes and reads objects in that bucket

## Current Behavior
since earlier today, requests to minio hang for minutes and eventually respond with 500 status

the same requests with another app key that has access to all buckets work fine

## Steps to Reproduce (for bugs)
1. create an app

[2019-06-28 09:48] nitisht commented on #7848
we'll take a look @codl

[2019-06-28 13:43] codl commented on #7848
I see now in backblaze's twitter mentions that other people are running into the same issue in apps like duplicity and duplicacy [[1]](https://twitter.com/backblaze/status/1144599897275940864)[[2]](https://twitter.com/backblaze/status/1144594047022972929) so it is likely a problem on backblaze's end

[2019-06-28 14:36] Druckles opened #7850 "minio cannot find file starting with certain characters on network drive"
If I link min.io to a filestore on a network drive I cannot access files starting with ASCII characters 33 (`!`) - 45 (`-`). Characters after this (`.` and above) work fine (including Unicode).

If several files like this are added, it is just the first one that is not displayed.

* The files are visible in Windows Explorer.
* The problem doesn't occur when the filestore is on a local drive.
* Hap

[2019-06-28 18:35] kannappanr commented on #7848
@codl Thanks for updating. Will keep this issue open here. Can you please update us once this issue is resolved on Backblaze's end, so we can close this issue

[2019-06-28 18:42] kannappanr commented on #7850
@Druckles We will take a look and get back to you.

[2019-06-28 22:25] codl commented on #7848
Backblaze [reports that they've resolved it](https://twitter.com/backblaze/status/1144687338468982784) and I'm not having the issue with minio anymore 🎉

[2019-06-28 22:25] #7848 closed, assigned to nobody

[2019-06-29 00:18] ForsakenHarmony commented on #7836
@harshavardhana I can't tell if you're serious, single page apps are still supposed to use urls and not replace links with buttons (but intercept the routing instead)

[2019-06-29 00:32] harshavardhana commented on #7836
I miss understood what @tinohager was asking @ForsakenHarmony

[2019-06-29 00:47] ForsakenHarmony opened #7851 "Infinite redirects when aliasing a path"
I use `i.hrmny.sh` as an alias to `s3.hrmny.sh/shr` (not dns level, reverse proxy adds the path to it)

## Expected Behavior
It should not endlessly redirect

## Current Behavior
The permission to list file in the folder is denied for everyone, so it denies access.
Then it tries to redirect to `i.hrmny.sh/minio/shr`, but that internally changes the path to `/shr/minio/shr` -> `/shr/minio/shr/minio

[2019-06-29 05:01] ktwalrus opened #7852 "PHP S3 Stream Wrapper Hangs for 2 minutes in latest Minio"
I am using the latest Docker minio image. Last week, I was testing using PHP S3 Stream Wrapper and everything worked fine. I don't know the Minio version I was using last week, as I hadn't pulled new image of minio from the docker hub for a few weeks. Tonight, I pulled a new minio image and resumed testing especially testing PHP S3 Stream Wrapper (using the AWS PHP SDK), and tonight, Minio takes 2

[2019-06-29 05:03] harshavardhana commented on #7852
Can you trace your server with `mc admin trace -a -v`  and paste the logs here ?

[2019-06-29 05:28] ktwalrus commented on #7852
Attached is the trace. I did one call to getObject() and it immediately succeeded and printed out the t.txt file. Immediately after that, in the same test, I did a file_get_contents( "s3://we-bucket/t.txt" ) and I immediately saw it in the trace, but the function call didn't return for exactly 2 minutes. Then, I commented out the getObject() call, and reran my file_get_contents() test and this imm

[2019-06-29 05:56] ktwalrus commented on #7852
I ran a slightly different test, where the PHP did the following
[code]
The trace showed an immediate GetObject() request:
[code]

The output came in chunks. Immediately, I saw half the data (a PNG file) printed out, then it hung for 1 minute and the rest of the data was printed out, but the fread() didn't return for another minute.

The total time to download the larger file was exactly the same

[2019-06-29 12:22] ForsakenHarmony commented on #7836
OK was a bit confused which question that would be a reply to, because I don't see any way to understand it in a way where it would be a valid answer

[2019-06-29 13:34] harshavardhana commented on #7851
Can you share your reverse proxy configuration?

[2019-06-29 15:00] kannappanr commented on #7852
@ktwalrus Will try to reproduce this issue locally and get back to you.

[2019-06-29 17:19] ForsakenHarmony commented on #7851
It's that label for a docker container

Most important part being the `AddPrefix`

[2019-06-29 21:58] ktwalrus commented on #7852
Since I'm running docker, I decided to run past images until I hit one that works.

Turns out that:

### minio/minio:RELEASE.2019-05-02T19-07-09Z # doesn't work
### minio/minio:RELEASE.2019-04-23T23-50-36Z # works

So, the regression seems to have happened after April 23 and before May 2. Hope this helps you to fix the problem with s3 stream wrappers.

[2019-06-30 04:12] harshavardhana commented on #7851
Unfortunately I am not that savvy in docker terminologies, it would be beneficial if you can share your docker configs for MinIO container

[2019-06-30 04:14] harshavardhana commented on #7852
Can you try latest release and let is know ? This is most probably related to HTTP 2.0

[2019-06-30 13:21] ktwalrus commented on #7852
As you can see in the original post, I was using minio/minio:latest. I just tried both minio/minio:latest and minio/minio:edge and both do not work with the s3:// stream wrapper.

The latest version that works is:

### minio/minio:RELEASE.2019-04-23T23-50-36Z

None work after that. Are you not able to reproduce this problem? All you need to do is to do:

[code]
Using minio/minio:latest:
[code]
And

[2019-06-30 18:14] ForsakenHarmony commented on #7851
you don't really need to know more than that the reverse proxy appends `/shr` to the path

but here you go
<details>
<summary>docker-compose.yml</summary>

[code]

</details>

[2019-07-01 04:12] harshavardhana commented on #7851
Thank you this helps

[2019-07-01 08:10] victornoel opened #7855 "Minio as Azure Gateway liveness probe fails every hours or so under no load"
A minio azure gateway deployed with the Helm chart has its liveness probe failing every hours or so.

The liveness reports a timeout and even though we increased the timeout limit to 30sec, it is still not enough.

This is not happening 100% of the time, but there are periods when it happens. For example it happened 45 times since the 27, with the majority of them during the week-end every hours o

[2019-07-01 08:50] AllenArbiter opened #7856 "Support for breakpoint continuation？"
Everybody is greatly good, I would like to ask whether minIo Java SDK supports breakpoint continuation, and it is better to have a listed website

[2019-07-01 09:00] nitisht commented on #7856
Don't really understand the question @AllenArbiter can you elaborate a bit on what do you mean by `breakpoint continuation`, are you debugging the java code and want to be able to use breakpoints?

[2019-07-01 09:51] nitisht commented on #7841
@mt-rahul can you please join us on Slack (https://slack.min.io), it will help discuss faster and understand the problem

[2019-07-01 10:10] andrewtmendoza opened #7857 "Minio behind reverse proxy breaks presigned URLs"
If you are following the cookbook, example 1 ([Proxy all requests](https://docs.min.io/docs/setup-nginx-proxy-with-minio.html)) will break the presigned URL functionality. You will still be able to generate a presigned URL from the UI, but you will get an error when you try to use it:

![image](https://user-images.githubusercontent.com/4677802/60428188-2b52b980-9bad-11e9-8f89-0e20e18c4799.png)

Ca

[2019-07-01 10:14] vadmeste commented on #7851
@ForsakenHarmony I am not sure if this is considered as an issue, as your redirection rule conflicts with a feature in Minio server (the automatic redirection to login page when opening the page in the browser when the user is not authenticated yet)

I would like to understand more what you would like to achieve to find a workaround:
`s3.hrmny.sh/shr`, what is 'shr' here ? is it a S3 bucket ?

[2019-07-01 11:04] nitisht commented on #7857
This is expected behaviour @andrewtmendoza since it is not possible to change the hostname in a presigned URL. We'll fix the docs

[2019-07-01 11:22] k0da commented on #7829
even more:
[code]

[2019-07-01 13:32] iacgg commented on #7722
+1, It would be very helpful with this.

[2019-07-01 16:12] McPo opened #7859 "Unable to verify integrity of data upload"
Any attempt to upload a file above ~5mb using the S3 Transfer Utility (AWS SDK for Android), results in
[code]
## Expected Behavior
The file should successfully upload

## Current Behavior
The file partially uploads ~50-80% and then bombs out with
[code]

## Possible Solution
Unknown

## Steps to Reproduce (for bugs)
* Setup Docker instance with and SSL Cert
[code]
* Open browser and navigate to m

[2019-07-01 16:24] harshavardhana commented on #7859
Use --compat mode for S3 compatible md5sum hex generation.

[2019-07-01 16:55] McPo commented on #7859
Thanks for the quick reply. That seems to have done it.
And of course I now notice the other issues where you mentioned the `--compat`.

Would it be worth potentially adding it to the documentation (I dont seem to be able to find it mentioned) or even the initial stdout when the server starts. It sort of lures you into a false sense of security that everything is correctly setup for S3 support wit

[2019-07-01 16:55] #7859 closed, assigned to nobody

[2019-07-01 18:06] kannappanr commented on #7855
@victornoel Can you please let us know more about the status returned in this case? Also, is there any log printed on the `MinIO` console?

[2019-07-01 19:06] eco-minio commented on #7857
@nitisht  what is the issue here?  How did you determine the hostname changed?

[2019-07-01 19:12] kannappanr commented on #7856
@Allenrbiter i think you mean multi-part upload like it was explained in general slack (https://minio.slack.com/archives/C3NDUB8UA/p1561970748256300) . Closing this issue based on that.
Feel free to reach out to us on slack if you have more questions.

[2019-07-01 19:12] #7856 closed, assigned to nobody

[2019-07-01 22:00] andrewtmendoza commented on #7857
@eco-minio if you follow the nginx cookbook and try to generate a presigned URL (even via the Minio UI) it will result in the signature does not match error I previously shared.

![image](https://user-images.githubusercontent.com/4677802/60469243-e1032400-9c10-11e9-9290-076945bd2c68.png)

![image](https://user-images.githubusercontent.com/4677802/60469208-c761dc80-9c10-11e9-84d8-911aec205c0b.png)

[2019-07-02 01:17] LittlegrassSky opened #7862 "[Gateway] b2: Failed to initialize gateway with error x509: certificate signed by unknown authority"
## Expected Behavior
List all buckets of Backblaze cloud storage from Minio browser

## Current Behavior
When the command `minio gateway b2` executed, the following error message shown:
7[41m[37m[1mERROR[0m[0m[0m 8[6C[31mUnable to initialize gateway backend: [1mb2 error: x509: certificate signed by unknown authority.[0m[0m

## Possible Solution
No solution has been founded yet.

I hav

[2019-07-02 03:47] harshavardhana commented on #7851
We can turn off redirect if the prefix already has /minio @vadmeste

[2019-07-02 04:47] kannappanr commented on #7862
@Littlegrass98 We will take a look at the issue and get back to you.

[2019-07-02 06:37] victornoel commented on #7855
@kannappanr there are no logs at all, but I haven't enabled TRACE debug.

There are no return code because the error is a timeout:
[code]

[2019-07-02 07:05] aead commented on #7862
Hi @Littlegrass98 the error indicates the the gateway is trying to talk to the endpoint but cannot establish a connection since the endpoint presents a X509 TLS certificate that cannot be verified using any of CA certificates in the gateway's trust store (`minio/certs/CAs`, OS trust store, ...).

To solve that we need to know the endpoint URL (it should be `https://api.backblazeb2.com/`) and see w

[2019-07-02 07:50] LittlegrassSky commented on #7862
Hi @aead , your solution works and many thanks to your quick response!

Just a summary of the solution:

1. Export the SSL certificate of `https://api.backblazeb2.com/` by `openssl s_client -showcerts -connect api.backblazeb2.com:443 > b2.crt`
2. Place the CA certificate under the path `.minio/certs/CAs`
3. Problem Solved!

[2019-07-02 07:50] #7862 closed, assigned to aead

[2019-07-02 09:42] vadmeste commented on #7855
@victornoel you might have a lot of buckets (containers) in Azure and Minio fails to list them all in 30 seconds.

Can you tell us how many buckets you have?

[2019-07-02 09:42] harshavardhana commented on #7857
UI is not generating the Presigned URLs correctly, the args.Hostname populated is wrong when behind the proxy @kanagarajkm most probably because `location.host` carries port 80 as part of the signature calculation which should be removed for standard ports such as 80 and 443.

[2019-07-02 09:54] victornoel commented on #7855
@vadmeste there is only one bucket there

[2019-07-02 09:55] harshavardhana commented on #7855
@victornoel what @vadmeste meant is `containers`  - how many containers do you have?

[2019-07-02 10:26] victornoel commented on #7855
@harshavardhana yes, in the storage account there is only one container (which corresponds to one bucket in minio if I understand correctly).

For the record it is a `BlobStorage` storage account, if it is important…

[2019-07-02 10:49] dsonjohn opened #7863 "Maximum number of concurrent file"
what is the Maximum number of concurrent file upload in single mode MinIO?

[2019-07-02 11:13] kanagarajkm commented on #7857
@harshavardhana `location.host` will not have `80` for default ports(80).

@andrewtmendoza can you give the nginx conf file? i could not reproduce this in my setup.

[2019-07-02 12:16] shamartor opened #7864 "When Minio starts, it takes a lot of time to change the permissions of the file directory"
Hi,I use docker to run Minio instances (in k8s) on shared NAS volumes as object gateways and share 13TB of data on NAS volumes, which are held by no-root users. At the same time, I set MINIO_USERNAME and MINIO_GROUPNAME as root (because volumes are held by root users in the production environment), and then we found that Minio instances have been changing directory permissions for shared volumes f

[2019-07-02 12:45] ForsakenHarmony commented on #7851
@vadmeste yes it's a bucket

I want to be able to turn off automatic redirection (which should be default imo) but keep the web interface on

[2019-07-02 13:50] nitisht commented on #7864
we'll take a look @shamartor

[2019-07-02 14:59] harshavardhana commented on #7851
Automatic redirect won't be turned off since it is related to Web interface, we will try to fix it without adding new options.

[2019-07-02 15:01] harshavardhana commented on #7863
It's the value of your `ulimit -Hn`.  Hard limit on number of file descriptors for a user.

[2019-07-02 15:01] #7863 closed, assigned to nobody

[2019-07-02 15:03] nitisht commented on #7748
Closing this for now as looks like MinIO itself is working as expected, feel free to ping us on Slack if you'd like us to explore the Proxy config.

[2019-07-02 15:03] #7748 closed, assigned to nitisht

[2019-07-02 15:04] harshavardhana commented on #7855
Is your azure gateway on Azure cloud as well or is it local to your datacenter?

[2019-07-02 15:13] victornoel commented on #7855
@harshavardhana the minio azure gateway is deployed on a kubernetes cluster inside the azure cloud (AKS), they are not in the same datacenter though.

[2019-07-02 16:44] victornoel opened #7866 "minio/minio:RELEASE.2019-06-27T21-13-50Z was not tagget on docker hub"
Docker hub only has a latest tag but not the `RELEASE.2019-06-27T21-13-50Z` tag for the latest image released 5 days ago.

[2019-07-02 17:02] harshavardhana commented on #7866
We are aware of this, fixing it - hub seems to have erroneously failed @victornoel

[2019-07-02 17:03] harshavardhana commented on #7866
Fixed closing this issue..

[2019-07-02 17:03] #7866 closed, assigned to nobody

[2019-07-02 17:17] victornoel commented on #7866
@harshavardhana cool, thx :)

[2019-07-02 17:49] calclavia commented on #7325
I'm running into a similar issue when using Minio as a gateway to Amazon S3 and `/mnt/cache` folder is empty even though I've downloaded files.

Is there an easy way to see what's in the cache or how much data is currently cached?

helm chart configs
[code]

[2019-07-02 18:43] harshavardhana commented on #7325
@calclavia please open a new github issue. This issue is closed.

[2019-07-02 22:15] andrewtmendoza commented on #7857
@kanagarajkm here is what I put in `/etc/nginx/conf.d/default.conf`

[code]

[2019-07-02 22:49] calclavia opened #7869 "S3 Gateway Does Not Cache"
I'm running into a similar issue to https://github.com/minio/minio/issues/7325 when using Minio as a gateway to Amazon S3. I want to enable edge caching to avoid redownloading commonly used files by setting cache dir to `/mnt/cache`.

## Expected Behavior

I expect `/mnt/cache` to be not empty after downloading files from my S3 bucket through Minio server.

## Current Behavior

After downloading a

[2019-07-03 01:58] ghost opened #7870 "Publish MinIO events via Kafka"
MinIO requires Kafka version 0.10 or 0.9？ but now the Kafka 2.3.0 is the latest release. The current stable version is 2.3.0. Upgrade MinIO to support the latest version of Kafka?

[2019-07-03 02:03] iliul opened #7871 "Question about erasure code k+m setting"
**Is your feature request related to a problem? Please describe.**

I read the official documentation but found that the EC mode cannot customize the k m value. The default is k=m, which means double the amount of data redundancy. What is the reason for this design? Is there a supported plan?

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-07-03 03:00] harshavardhana commented on #7871
Have you not read “Configurable data and parity drives on Minio server” by Nitish Tiwari https://link.medium.com/OqhmxDwK0X ?

[2019-07-03 03:01] harshavardhana commented on #7870
MinIO only states minimum version, it should work with latest version of  the Kafka server.

[2019-07-03 03:40] harshavardhana commented on #7870
Also please use the issue template, for questions like these please use our slack channel https://slack.minio.io

[2019-07-03 03:49] iliul commented on #7871
Thanks, I will read it carefully @harshavardhana

[2019-07-03 03:49] #7871 closed, assigned to nobody

[2019-07-03 05:37] shamartor commented on #7864
@nitisht thx!
I saw that the process in the container stayed on the chown-R command. It took about six hours to execute yesterday. The mounted volume has been converted to the root user and is in the /ghome directory that I hosted for minio. A .minio.sys folder has been generated. Then I renamed the .minio.sys folder to .minio.sys.bk and restarted minio. He still stays in the chown-R process. I do

[2019-07-03 05:37] shamartor commented on #7864
Is this related to the read and write rate of the volume?

[2019-07-03 05:47] nitisht commented on #7864
We'll need to debug and see why that is happening @shamartor . Our intent is to not use `chown` at all if the deployment is an existing setup with data. MinIO runs as non-root user only for new deployments

[2019-07-03 05:56] kanagarajkm commented on #7857
@andrewtmendoza you are missing `proxy_set_header Host $http_host;` in the `location /` section. Can you add it and try?

[2019-07-03 06:00] shamartor commented on #7864
@nitisht Yes, I saw a similar solution in your previous discussion. #4877
But I went to read the [source code](https://github.com/minio/minio/blob/43e0ef4248e45e4ba404dc9781abd008005f53b2/dockerscripts/check-user.go#L41) ,it seems that just through the .minio.sys folder to determine the need to change the directory permissions. Now I am a bit confused, is my understanding wrong?

[2019-07-03 10:42] dsonjohn commented on #7863
i want to get number of concurrent upload file request and evaluate load test benchmark.

[2019-07-03 10:47] dsonjohn opened #7872 "MinIO load test"
what is best tool for minio upload file load test? and how i can do it?

[2019-07-03 10:48] nitisht commented on #7872
Please refer benchmarks section here: https://min.io/resources

[2019-07-03 10:49] nitisht commented on #7872
Please join us on Slack (https://slack.min.io) for more such questions.

[2019-07-03 11:53] dboc commented on #7864
i am facing the same problem to update the minio to new releases.
But in my case, minio did not start. Just start if i change the files to owner minio:minio (100:101).
This a problem for me because in Production i have millions of file.
I have a conversation here on slack: [link](https://minio.slack.com/archives/C3NDUB8UA/p1560950367214100?thread_ts=1560797320.095500&cid=C3NDUB8UA)

[2019-07-03 12:53] Praveenrajmani opened #7873 "Prometheus metrics clean-up"
The metrics that we expose currently is quite verbose and incomplete. We discussed and agreed upon few metrics which are meaningful to add and for debugging also

And currently we have some default go related / process related metrics ( not explicitly exposed by MinIO ) such as `go_*` and `process_*` etc. Those can be removed.

The metrics can be simple as follows

<b> Node centered metrics </b>

[2019-07-03 13:51] kannappanr commented on #7872
@dsonjohn Closing this issue as answered. Please feel free to join us on slack for such questions

[2019-07-03 13:51] #7872 closed, assigned to nobody

[2019-07-03 13:55] kannappanr commented on #7870
@Peng-Xia Closing this issue as answered. Please feel free to reach out to us on slack.

[2019-07-03 13:55] #7870 closed, assigned to nobody

[2019-07-03 15:12] harshavardhana commented on #7863
It is your ulimit -Hn value

[2019-07-03 22:02] kannappanr commented on #6756
The latest version of MinIO (RELEASE.2019-06-27T21-13-50Z) has this feature, so closing this issue as fixed.

[2019-07-03 22:02] #6756 closed, assigned to kannappanr

[2019-07-04 00:05] krisis opened #7905 "minio-dotnet: Fix the way we find .cs files to build functional tests"

[2019-07-04 01:57] #7864 closed, assigned to nitisht

[2019-07-05 06:57] ghost opened #7880 "many files in tmp, file transaction issue"
We use AWS S3 SDK, and Cloudberry Explorer / ServerSide is NGinx + MinIO
our application every 1sec putobject (some image) to minio.
somtime putobject fail (or client connection close or etc..)
.minio.sys/tmp/ no remove files. (we use erasurecode)
so sometimes disk partition usages is not balance
I guess, when send file complete, minio is sending part file to other server
If server and client is d

[2019-07-05 07:05] harshavardhana commented on #7880
tmp clears up every 3 days @joek8901

[2019-07-05 07:08] ghost commented on #7880
Thanks you!! very fast answer.
we remove file every 10min. may be file count very huge .
so, 3days remove file can't remove (file system very slow..)
we need setting tmp clears time setting 1min or 10min
how to set tmp clear time?

[2019-07-05 07:17] harshavardhana commented on #7880
first tmp files shouldn't be created in this manner, so clearly there is a bug here. We will try to reproduce this

[2019-07-05 07:22] ghost commented on #7880
we use erasurecode, and 4 Disk / 4 Minio Instance
reproduce way :
file upload 1GB (CloudBerry Explorer) when upload 100%, kill process Cloudberry Explorer.
every time occur

[2019-07-05 07:43] tinohager opened #7881 "Minio update on Windows"
The update progress on Windows have some special chars in the console. It is possible to optimize it?
For me is always the value in the square bracket the default value in this case `yes` but if i press enter the update is not start.

![image](https://user-images.githubusercontent.com/8215186/60706132-122d6e00-9f09-11e9-810d-cd526592a0c6.png)

After confirm with yes no progress info is available

[2019-07-05 07:56] tinohager opened #7883 "MinIO Browser - Create Folder"
If a folder not already exists, it is not possible over the `MinIO Browser` to create one.
I think one problem is on `MinIO` it is not possible to have a empty folder.

![image](https://user-images.githubusercontent.com/8215186/60706842-a2b87e00-9f0a-11e9-9240-2a7fb4ab3f3c.png) Add a button to create a new folder or allow on upload to set a destination.

![image](https://user-images.githubusercont

[2019-07-05 09:55] nomandera opened #7884 "Logo continuity"
I am trying to locate the correct/official logo to use when referencing your project.

However there are several variations on the "bird" logo on github and the website that vary colours, facing direction and complexity in terms details within the "bird".

Please clear up which of the variations is the true project logo and ideally also document the license it is under (fair usage etc)

[2019-07-05 10:08] nitisht commented on #7884
It is documented here https://min.io/logo @anoma

[2019-07-05 19:49] poornas commented on #7905
@krisis, can you provide some context on why current approach is not working?

[2019-07-05 19:50] harshavardhana commented on #7905
@poornas the problem is we have no way of managing what gets added and removed in the minio-dotnet PR - having such dependencies hardcoded can lead to bugs.

One example of such issue was #321

[2019-07-05 19:51] krisis commented on #7905
Today we are manually identifying the list of .cs files that are needed to build functional tests. This issue is to explore ways by which we can automate this process.

[2019-07-05 19:56] poornas commented on #7905
ok, got it. will send in a fix

[2019-07-05 20:15] harshavardhana commented on #7881
We will check @tinohager

[2019-07-05 20:15] #7884 closed, assigned to nobody

[2019-07-05 20:16] harshavardhana commented on #7857
This is needed and we have documented this in our reverse proxy docs. Closing this as working as intended for now.

[2019-07-05 20:16] #7857 closed, assigned to eco-minio

[2019-07-05 20:18] harshavardhana commented on #7835
To be fixed by fast scan instead of deep scan in #7868

[2019-07-05 20:21] #7836 closed, assigned to kaankabalak

[2019-07-05 20:34] harshavardhana commented on #7490
@marcadella can this be tested again with master?

[2019-07-05 20:36] harshavardhana commented on #7379
Currently, this is not in our interest - we will happily accept community work. Our main focus is to provide MinIO operator instead of CSI for now.

Closing this for now and perhaps re-open in future if CSI becomes a requirement.

[2019-07-05 20:36] #7379 closed, assigned to nobody

[2019-07-05 20:38] harshavardhana commented on #7365
There is no reason to add multiple targets, in-fact single target can in-turn write to multiple targets if needed. We will close this issue for now and re-open if it becomes a hard requirement in the future.

[2019-07-05 20:38] #7365 closed, assigned to nobody

[2019-07-05 20:40] harshavardhana commented on #5579
@aead closing this issue since looks like this is stale for now.  Let's re-open if there is a plan to fix it and its also low priority since it only affects V2 signature (legacy).

[2019-07-05 20:40] #5579 closed, assigned to aead

[2019-07-05 20:46] harshavardhana commented on #4182
The password flow has already changed AFAIK @kanagarajkm can you please confirm.

[2019-07-05 21:10] eco-minio opened #7887 "Docker image won't start https without --address"
When starting a container via https, certs are not read properly if we do not specify --address flag
## Expected Behavior

MinIO container should be able to start https without mandating --address
## Current Behavior

Without --address (https doesn't work):
[code]

With --address (https works):
[code]

## Steps to Reproduce (for bugs)

Run docker commands from above

## Regression

Not sure

## Yo

[2019-07-05 23:20] kannappanr commented on #7883
@tinohager Thanks for your suggestion. Will check internally and get back to you on this.

[2019-07-06 02:33] harshavardhana commented on #7887
This issue is related to docker container running as non root uswr., We need a comprehensive way to handle this.

[2019-07-06 05:28] nomandera commented on #7884
Thank you for the quick reply. It is now obviously very clearly documented and linked from the homepage.

[2019-07-07 02:58] vanzhiganov opened #7889 "Bucket Objects stored in one folder in filesystem"
Hello,

I see on my server that all files in a bucket stored in one folder on filesystem, this is bad for production environment.
It is big performance problem with big number of object in bucket.

[code]

For solve this problem you can see how Squid store the cache.

[2019-07-07 03:14] harshavardhana commented on #7889
This is application requirement, you need to store the heirarchy in the right format and not dump objects at top level.

The reason we store in this fashion is a feature, because to expose your existing files as objects on your existing filesystems.

[2019-07-07 03:29] #7889 closed, assigned to nobody

[2019-07-08 08:23] marcadella commented on #7490
Given that it is a bit inconvenient to test and that we modified the way we interact with Minio, we are no longer experiencing this issue.

[2019-07-08 08:23] #7490 closed, assigned to harshavardhana

[2019-07-08 11:20] ghost commented on #7880
we found why tmp grow size.
we use crontab :: mc rm older-than 10 min,
mc rm single file, always make /tmp/ hash-dir
mc rm file, why make /tmp/hash-dir? (like mv sourceFile /tmp/hash...)

[2019-07-08 14:08] harshavardhana commented on #7880
Because we want to delete atomically @joek8901 it's good to know what causes this issue.

[2019-07-08 14:55] vadmeste commented on #7851
@ForsakenHarmony by the way, if you reverse proxy is modifying the request path, like from '/' to '/shr', then S3 requests won't succeed and you will have a signature mismatch

Are you systematically adding '/shr' in all requests ?

[2019-07-08 18:27] kaankabalak commented on #7883
Upon further discussion, due to the object browser nature of MinIO Browser, we have decided to make the directory path located on the header editable so that the users can navigate to their desired locations. We will keep you updated with further details in the future, please feel free to ask any questions.

<img width="1280" alt="Screen Shot 2019-07-08 at 10 57 47 AM" src="https://user-images.git

[2019-07-08 20:36] deekoder commented on #7835
@gustopn since #7868 is merged, closing this issue as fixed.

[2019-07-08 20:36] #7835 closed, assigned to nobody

[2019-07-08 21:43] poornas commented on #7869
serviceEndpoint should point to the minio gateway here and not "https://s3.amazonaws.com"

ignore above, didnt realize this was helm chart.

[2019-07-08 21:44] harshavardhana commented on #7855
We added some logs can you check `minio/minio:edge` and let us know how your testing goes? @victornoel

[2019-07-09 00:30] harshavardhana commented on #7806
This is a regression which was introduced in #7314

[code]

[2019-07-09 00:38] ghost commented on #7880
make file every second, maybe 400 - 500 file. and remove older than 10 min files.
so, 3days files count maybe 129,600,000.
it is origin file count, no part, meta json files. if 3 days remove this files, I guess linux server is hanging and burning.
how can i remove old file? i think use s3 api to remove files or dashboard remove files, tmp size is not grow right??

[2019-07-09 00:46] #7881 closed, assigned to vadmeste

[2019-07-09 03:52] bratao opened #7892 "A Option to disable self-healing"
Hi, after the daily self-healing feature, my minio cluster is most of time using 100% of my HD IO.

This cluster contains billions of small objects, and even the shallow healing takes ages.

**Describe the solution you'd like**
A way to disable the daily self-healing.

[2019-07-09 08:01] victornoel commented on #7855
@harshavardhana yep, I am going to do that. Any specific option to give to minio or a norma deployment should be alright? Thanks!

[2019-07-09 08:20] artb1sh commented on #7394
@west789 , what get value user Attribute policy?

[2019-07-09 08:21] artb1sh commented on #7394
[code]

[2019-07-09 09:41] mikekuzak opened #7893 "Upload though web console stuck at 100% when files bigger than 1MB - K8s"
## Expected Behavior
File should upload

## Current Behavior
Progress bar in browser hangs on 100%. Smaller file than 1MB did upload and I can see it on the filesystem.

## Steps to Reproduce (for bugs)
![Minio](https://user-images.githubusercontent.com/18675587/60877573-00640780-a236-11e9-94d4-362e335509e2.JPG)

Request Method: PUT
**Status Code: 413 Request Entity Too Large**
Remote Address: 10.

[2019-07-09 10:15] nitisht commented on #7893
how is the MinIO service exposed outside of the cluster @mikekuzak

[2019-07-09 10:21] mikekuzak commented on #7893
Looks like the NGINX Ingress config had to be updated to change the allowed upload size
https://github.com/rancher/rancher/issues/14323

[2019-07-09 10:21] #7893 closed, assigned to nobody

[2019-07-09 10:22] vadmeste commented on #7855
It is just a normal deployment, you just need to test with this exact image: `minio/minio:edge`

[2019-07-09 10:24] nitisht commented on #7892
@bratao request you to please follow the issue template to ensure we understand the overall scenario here.

[2019-07-09 15:32] HHousen commented on #7703
Backblaze recently finalized these APIs and took them out of beta: https://www.backblaze.com/blog/backblaze-b2-copy-file-beta-is-now-public/.

Implementing this feature will remove two of the current known limitations of the b2 gateway:

No support for CopyObjectPart S3 API (There are no equivalent APIs available on Backblaze B2).

Also, @Jwink3101's issue on rclone https://github.com/ncw/rclone/i

[2019-07-09 17:00] poornas commented on #7394
@artb1sh, duration needs to be a minimum of 15 mins (900 seconds)

[2019-07-09 17:07] harshavardhana commented on #7703
We moved to kurin/blazer thanks to PR by @mzukowski-reef - looking forward to another PR with the Copy implementation as well.

[2019-07-09 21:01] ForsakenHarmony commented on #7851
all that go to `i.hrmny.sh`, access is public

[2019-07-09 22:38] deekoder commented on #7892
Yes @bratao please give us more details on your env. It will help us out a lot. We will discuss internally and let you know whether we can support this request.

[2019-07-10 01:02] ebozduman opened #7895 "Regression in presigned post api: check policy call is removed by PR #7321."
When I  was working on issue #7806, I found out that the `checkPolicyCond` function call is inadvertently removed from our base code by the fix #7321 for issue #7314 .
We need to fix it asap.

## Expected Behavior
Work as before

## Current Behavior
not checking `starts-with` conditions.

## Possible Solution
Add back the function call.

## Steps to Reproduce (for bugs)
Run boto3 `generate_presign

[2019-07-10 05:18] #7895 closed, assigned to ebozduman

[2019-07-10 08:08] artb1sh commented on #7394
@poornas , i set duration 900 ther other error. what fix policy? user in create

[code]

[2019-07-10 09:40] victornoel commented on #7855
@vadmeste @harshavardhana the problem appeared again during the night, but there are no logs in minio.

I think it makes sense since the liveness probe error is:
[code]

So maybe from the point of view of minio, the request succeeds, only it does not happens fast enough?

[2019-07-10 11:12] vadmeste commented on #7851
Understood. But if the reverse proxy is modifying the path, then Minio server will detect that and will refuse the request.

[2019-07-10 14:15] ForsakenHarmony commented on #7851
It works fine for me, always worked, just the redirect (which I don't want in general and you seemingly force enabled) is broken

[2019-07-10 14:56] vadmeste commented on #7851
Actually, the redirect is not broken. Your reverse proxy rule just conflicts with a feature in Minio.

Why are you adding '/shr/' in the first place ? Will you have any S3 clients sending requests to i.hrmny.sh ? or it is just browser access ?

[2019-07-10 15:43] harshavardhana commented on #7394
@artb1sh let's open a new issue, we shouldn't be conversating on old unrelated issues.

[2019-07-10 15:44] harshavardhana commented on #7855
Yes do you have an arbitrary timeout on your client side @victornoel ?

[2019-07-10 15:48] victornoel commented on #7855
@harshavardhana it is explained in the description: it is the liveness probe that fails and the timeout is set to 30 seconds which should be more than enough for checking liveness of minio I believe.

[2019-07-10 15:49] harshavardhana commented on #7855
It is not about MinIO it is something to do with your storage account, we perform a ListBuckets call to see if backend is alive. If that times we take time.

[2019-07-10 15:52] harshavardhana commented on #7855
For example in our tests we don't see this problem, it may be that at times your network from Azure container service to blob access is just slower.

[2019-07-10 15:53] victornoel commented on #7855
@harshavardhana ok, I see, thank you for helping me confirm the source of the problem comes from azure

[2019-07-10 15:53] #7855 closed, assigned to eco-minio

[2019-07-10 17:25] felipeek opened #7907 "Can't enable TLS when using docker under OS X"
## Expected Behavior
When running the minio server **docker image** under **OS X host**, the server should use TLS when the certificates are provided in `/root/.minio/certs` folder.

## Current Behavior
Even when the certificates are provided, the server runs without TLS.

## Steps to Reproduce (for bugs)
1. Create a folder called `tls` in your working directory
2. Create a folder called `certs` i

[2019-07-10 17:28] harshavardhana commented on #7907
Duplicate of #7887

[2019-07-10 17:28] #7907 closed, assigned to nobody

[2019-07-10 19:15] ForsakenHarmony commented on #7851
just browser access or sending links to people

and I'd really appreciate if I could completely turn off that "feature"

[2019-07-10 23:42] poornas commented on #7892
@bratao, we can definitely add an option to turn healing on/off thru a `mc admin` command option. While it may appear that healing is aggressive here, it is actually designed to yield to any incoming requests to the server, so it will not impact server performance.

We are working actively on making improvements to healing - and would like your feedback on whether you would use 1) an option to cho

[2019-07-11 02:21] bratao commented on #7892
Hello @poornas , I would prefer to have a option to define the frequency/disable.

Looking at "iotop" I saw hundreds of threads consuming all the available disk IO. I would guess that the priority would not solve this problem.

For this cluster(4 machines with erasure, approximately 5 Millions files , in a regular HD) it took 18 hours to finish the healing in the version RELEASE.2019-07-05T21-20-2

[2019-07-11 07:21] #7905 closed, assigned to poornas

[2019-07-11 08:09] xmichaelx commented on #7744
Reproduced issue.

Windows version: 10.0.17134 N/A Build 17134
Minio version:  2019-07-10T00:34:56Z

Maybe it's related to this issue: [go/issues#27175](https://github.com/golang/go/issues/27175)

[2019-07-11 10:03] vadmeste commented on #7851
I see, so my question, if you are sending '/shr/' to the Minio server, how do you expect Minio server to interpret it ?

[2019-07-11 12:25] aldobattaglia opened #7911 "XML Error on S3 Select"
I want to run S3 in local to try my lambda in local env. All seem to be ok for S3 calls (getObject, putObject etc.) but, I have an error using selectObjectContent.

My S3 Client override
[code]

My S3 Select Param
[code]
## Expected Behavior
Get my S3 Select Query result

## Current Behavior
I have this error

[code]

The same query with AWS S3 (without overriding S3 Client) work fine.

I've compa

[2019-07-11 14:21] nitisht commented on #7911
Thanks for reporting, we'll take a look @aldobattaglia-next

[2019-07-11 16:47] harshavardhana commented on #7911
You should upgrade to latest @aldobattaglia-next we have a fixed a lot of issues in Select API implementation

[2019-07-11 19:30] ForsakenHarmony commented on #7851
what are you asking, I just don't want redirects, I want the old behaviour back

[2019-07-11 19:55] andrewsav-bt opened #7913 "A user gets a error from Web UI when trying to edit a bucket policy."
When we create an additional user with full permissions, this user cannot read and edit bucket policies in web ui, however they can add policies with web ui, and they also view, add and edit policies with the mc cli. This feels inconsistent.

## Expected Behavior

It's hard to say what creator's intention was here, I had a chat on slack and @harshavardhana indicated that this is may be by design s

[2019-07-11 20:16] harshavardhana commented on #7913
Thanks for opening the issue @andrewsav-datacom

@kannappanr @deekoder taking this since I was engaged with @andrewsav-datacom on the chat.

[2019-07-11 20:50] harshavardhana commented on #7851
That's not possible - we have users are actively using that feature. The redirection is also happening because "/shr" is not public the redirection is only activated when the top level handler reported, "Access Denied" for the resource you are trying to access.

So it means that whatever resource you are trying to access is not public yet.

It is better if you explain why do you need to have this

[2019-07-11 21:16] poornas commented on #7892
@bratao, can you upgrade to the latest release RELEASE.2019-07-10T00-34-56Z and see if you still see high I/O - recent improvements to healing should mitigate the high I/O issue you were seeing.

[2019-07-12 01:27] valdecircarvalho opened #7916 "Trying to start Min.io server using a nfs share"
## Expected Behavior

I'm trying to start minio server using a nfs share and but I'm getting the message: **ERROR Unable to initialize backend: Insufficient permissions to access path, `/nfs/minio/.minio.sys/tmp/9e92fea8-0431-435c-a39a-1fa3b773235c`.**

## Steps to Reproduce (for bugs)
1. Setup a NFS file share (I'm using AWS Storage Gateway as a NFS target).
2. Create a user minio-user with the c

[2019-07-12 01:45] harshavardhana commented on #7916
is your user allowed to write access to the NFS mount @valdecircarvalho ?

[2019-07-12 02:04] valdecircarvalho commented on #7916
@harshavardhana hi!

I have followed the instalation procedures and create a system user for min.io like this:
**sudo useradd --system minio-user --shell /sbin/nologin**
then I give the permissions to this system user like this:
**sudo chown minio-user:minio-user /nfs/minio/**

[2019-07-12 02:07] harshavardhana commented on #7916
I don't think that will work with NFS, NFS can bring it's own restrictions. Have you verified this user can write to the mount and rename directories etc ?

[2019-07-12 02:22] valdecircarvalho commented on #7916
Any user can write to this mount. I manage to login with this user (minio-user) and it can read/write/delete files in this share.

[2019-07-12 02:28] harshavardhana commented on #7916
Can you show some sample commands which worked ?

[2019-07-12 02:30] harshavardhana commented on #7916
Also try to `mkdir -p /nfs/minio/.minio.sys/tmp/9e92fea8-0431-435c-a39a-1fa3b773235  as `minio-user`

[2019-07-12 02:31] valdecircarvalho commented on #7916
Sorry, I didn´t get it. What do you mean?

I can log witht the user
minio-user@lab-minio-01:/nfs/minio$ ls
1.txt  2.txt  3.txt  4.txt  admin.txt  joao.txt
minio-user@lab-minio-01:/nfs/minio$ touch harshavardhana.dummy
minio-user@lab-minio-01:/nfs/minio$ ls
1.txt  2.txt  3.txt  4.txt  admin.txt  harshavardhana.dummy  joao.txt
minio-user@lab-minio-01:/nfs/minio$

[2019-07-12 02:35] harshavardhana commented on #7916
Thanks  is `minio` server running as the same user ? If yes then can you `strace -f -v minio server /nfs/minio` and attach the console output here ?

[2019-07-12 02:47] valdecircarvalho commented on #7916
its a huge output... here are the first few lines...
I can add everything if needed

administrator@lab-minio-01:~$ strace -f -v minio server /nfs/minio
execve("/usr/local/bin/minio", ["minio", "server", "/nfs/minio"], ["LS_COLORS=rs=0:di=01;34:ln=01;36"..., "SSH_CONNECTION=192.168.1.111 567"..., "LESSCLOSE=/usr/bin/lesspipe %s %"..., "LANG=C.UTF-8", "XDG_SESSION_ID=1", "USER=administrator", "PWD=/

[2019-07-12 02:50] harshavardhana commented on #7916
please add everything @valdecircarvalho  attach it like a text file.

[2019-07-12 02:57] valdecircarvalho commented on #7916
@harshavardhana I just figure out something.
If I run the command with the minio-user it works...s

Here it goes!!! =)
[strace-minio.log](https://github.com/minio/minio/files/3384802/strace-minio.log)

[2019-07-12 03:06] harshavardhana commented on #7916
That is what I was trying to get to, feel free to close the issue - if you don't have any other issue.

[2019-07-12 04:14] harshavardhana commented on #7916
Closing this as per your last comment @valdecircarvalho - please reopen if it's not working as intended.

[2019-07-12 04:14] #7916 closed, assigned to nobody

[2019-07-12 04:38] #7717 closed, assigned to sinhaashish

[2019-07-12 07:05] aldobattaglia commented on #7911
Thanks for your reply.

We just update to minio/minio:RELEASE.2019-07-10T00-34-56Z but we have the same error.

[2019-07-12 07:21] harshavardhana commented on #7911
Can you share the entire script? @aldobattaglia-next

[2019-07-12 07:54] ravindraSB opened #7918 "Can not list buckets using hadoop"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2019-07-12 08:02] harshavardhana commented on #7918
@ravindraSB hadoop doesn't support that on their own - they only support `s3a://<bucket>`

[2019-07-12 08:04] ravindraSB opened #7919 "Can not list buckets using hadoop fs -ls ...."
**Expected Behavior**
Should list buckets with hadoop fs -ls

**Current Behavior**
[root@quickstart downloads]# hadoop fs -ls s3a://myminio/mybucket/
ls: Bucket myminio does not exist

**Possible Solution**

**Steps to Reproduce (for bugs)**

1. download docker image of quickstart-cloudera from docker hub or from cloudera.
2. docker exec into the container.
3. Have followed this "https://docs.min.

[2019-07-12 08:04] harshavardhana commented on #7918
Going to close this issue also as incomplete, there is nothing actionable on our end for this.  This is working as intended from hadoop point of view.

[2019-07-12 08:04] #7918 closed, assigned to nobody

[2019-07-12 08:05] harshavardhana commented on #7919
you don't create the bucket @ravindraSB - you need to create like this`./mc mb myminio/mybucket`

[2019-07-12 08:06] harshavardhana commented on #7919
Now before this, you have to first configure the `mc` command @ravindraSB using `mc config host add`

[2019-07-12 08:07] harshavardhana commented on #7919
There is no such thing as `myminio` on hadoop in this scenario, `myminio` is an alias for `mc` - all you need to after you created the bucket is `hadoop fs -ls s3a://mybucket`

[2019-07-12 08:07] harshavardhana commented on #7919
This actually is a local directory because `myminio` is not configured yet to talk to an object storage instance.

[2019-07-12 08:15] ravindraSB commented on #7919
_> This I had done already using mc config host, as shown in the output of ./minio server --address quickstart.cloudera:9009 /data ---

also this -

_> [root@quickstart downloads]# hadoop fs -ls s3a://mybucket/

[2019-07-12 08:17] ravindraSB commented on #7919
yup, I understand, I am not sure what is wrong wrt communication b/w hadoop and minio.

[2019-07-12 08:20] harshavardhana commented on #7919
The whole bunch of things the entire configuration is wrong

- `mc` shouldn't be talking to quickstart.cloudera:9000 there is no service on this hostname
- This hostname is meant for docker container for cloudera services
- minio is running locally - you said you configured certs but you are using http:// endpoint in core-site.xml

So there is a lot of things that needs to be fixed @ravindraSB it

[2019-07-12 09:17] harshavardhana commented on #7919
Closing this issue as working as intended.

[2019-07-12 09:17] #7919 closed, assigned to nobody

[2019-07-12 11:06] phantooom opened #7920 "does minio support single num disk?"
for example

does minio support 5 server each server 1 disk?

[2019-07-12 11:56] mikekuzak opened #7921 "Ghost files visible on the Minio UI after file upload"
![Minio1](https://user-images.githubusercontent.com/18675587/61126418-4920f800-a4a4-11e9-9943-f58b50b03fca.JPG)

## Steps to Reproduce (for bugs)
just uploaded files via UI and Java REST client

## Your Environment
Version used:
Version: 2019-05-14T23:57:45Z
Release-Tag: RELEASE.2019-05-14T23-57-45Z
Commit-ID: 0022c9d

Environment name and version (e.g. nginx 1.9.1): Used Helm Chart from Rancher C

[2019-07-12 12:31] kanagarajkm commented on #7920
@phantooom for erasure-coded setup, minimum 4 disks are required, and no.of disks should be an even number.

[2019-07-12 12:36] kanagarajkm commented on #7921
@mikekuzak this is already fixed, can you update to recent version MinIO and try again?

[2019-07-12 13:10] nitisht commented on #7920
closing as answered @phantooom . Please continue the discussion on Slack for more such questions

[2019-07-12 13:10] #7920 closed, assigned to nobody

[2019-07-12 13:54] mikekuzak commented on #7921
confirmed, issue gone with Version: 2019-07-10T00:34:56Z

[2019-07-12 13:54] #7921 closed, assigned to nobody

[2019-07-12 16:59] vctqs1 opened #7922 "How to connect with domain minio without port"
`const minioConfig = {
    endPoint: 'example.domain,
    useSSL: false,
    accessKey: process.env.accessKey,
    secretKey: process.env.secretKey
}`

Error:
`{ S3Error: Moved Permanently
    at getError (/Users/macbookpro/Documents/project/kgp_news/api_kgp/node_modules/minio/dist/main/transformers.js:104:15)`

[2019-07-12 19:30] ForsakenHarmony commented on #7851
I just want an access denied message, I don't want to redirect anyone who might randomly come across it to the login page

The setup works perfectly fine, I use it for shorter links

[2019-07-12 19:32] harshavardhana commented on #7851
That is the feature, if you don't want browser access then you can disable MINIO_BROWSER=off which should result in access denied message. Do you want browser access as well?

[2019-07-12 19:59] ForsakenHarmony commented on #7851
I want it only on `/minio`, nowhere else, why did you force enable redirects?

[2019-07-12 20:07] harshavardhana commented on #7851
I don't think we are going anywhere in this. It is not possible to satisfy what you are asking and also keep the feature.  So if you disable MINIO_BROWSER=off you will get access denied if not it will show browser login @ForsakenHarmony

Our users don't know that the browser exists at "/minio". Only another option is to introduce another environment variable, we will get back to you on that.

[2019-07-12 20:22] kannappanr commented on #7922
@vctqs1 Please use Nginx proxy before MinIO to route `80` to the MinIO port.

[2019-07-12 23:29] #7366 closed, assigned to vadmeste

[2019-07-13 00:28] rldleblanc opened #7924 "Help documentation for 'minio gateway s3' has unresolved variables."
Running `minio gateway s3 --help` has missing variables.

I'm receiving:
[code]
There should be something in front of the (.*) parts of this (the code is showing some variables that should be resolved). I'm new to minio and GO, so I'm not sure what the output should look like or how to fix it. Just thought I'd bring it up.
[code]
Linux binary.

[2019-07-13 00:39] harshavardhana commented on #7924
thanks for opening the issue looks like a recent bug and regression @rldleblanc

[2019-07-13 02:34] harshavardhana commented on #7922
Or start minio on port 80 `minio server --address ":80"`

[2019-07-13 06:32] #7924 closed, assigned to harshavardhana

[2019-07-13 08:34] artb1sh commented on #7394
how get this policy value?
@harshavardhana @poornas  @west789
![image](https://user-images.githubusercontent.com/4118703/61169130-1dfcde00-a562-11e9-8b9e-ff4d506f016e.png)

[2019-07-13 15:20] poornas commented on #7394
@artb1sh, policy value is the policy name defined on iam - follow [this](https://docs.min.io/docs/minio-multi-user-quickstart-guide.html) to set up a custom policy on minio or you can test by changing the policy Value in Keycloak to a canned policy such as readwrite, writeonly or readonly

[2019-07-13 16:40] harshavardhana commented on #7394
Locking the conversation here, let's open a new issue to discuss @artb1sh

[2019-07-14 09:31] kannappanr commented on #7922
@vctqs1 Closing this issue now. Please feel free to reach out to us at https://slack.min.io for such questions.

[2019-07-14 09:31] #7922 closed, assigned to nobody

[2019-07-14 18:01] YannicEl commented on #7289
adding this line to the CORS Rules of my bucket fixed it for me.
`<ExposeHeader>ETag</ExposeHeader>`

complete file:
 `<?xml version="1.0" encoding="UTF-8"?>
<CORSConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
<CORSRule>
    <AllowedOrigin>*</AllowedOrigin>
    <AllowedMethod>POST</AllowedMethod>
    <AllowedMethod>GET</AllowedMethod>
    <AllowedMethod>PUT</AllowedMethod>
    <All

[2019-07-14 23:41] Lewiscowles1986 commented on #4375
Just in-case this helps anyone else

[code]

works for me to proxy `minio` (in a docker container) via nginx as `minio.localhost`

This is in the docs at https://docs.min.io/docs/setup-nginx-proxy-with-minio.html

[2019-07-15 07:35] behzadnm99 opened #7929 "minio docker container cant run on port 9000"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio:latest`):
* Environment name and version (e.g. nginx 1.9.1):
* test on latest version of docker

hello i want to run minio with docker. i run docker container with minio doc help. but the container cant be running wit

[2019-07-15 07:49] harshavardhana commented on #7929
this looks like a docker installation bug @behzadnm99 on your end. We are not able to bind to a port on the host system. Is your docker installation allowed to do that?

[2019-07-15 07:51] behzadnm99 commented on #7929
@harshavardhana
no i test node:alpine and i run it successfully with " -p 9000:9000" .

[2019-07-15 07:52] harshavardhana commented on #7929
Yes that is because there is no service running in `node:alpine` on port 9000 @behzadnm99

[2019-07-15 07:53] behzadnm99 commented on #7929
@harshavardhana
oh. thanks . any idea for solving this docker problem?

[2019-07-15 07:55] harshavardhana commented on #7929
you need to provide docker permissions on your host to bind on ports. You may need to consult docker deployment guides for this.

[2019-07-15 08:24] aldobattaglia commented on #7911
My lambda
[code]

Toolkit where we override S3 Conf
[code]

S3 Select lib
[code]

The error come at `let data = await this.s3.selectObjectContent(params).promise()` line in S3 Select lib.

You can try with a simple csv file like this

[code]

[2019-07-15 13:34] krishnasrinivas commented on #7873
Process centered metrics (Per MinIO process)

CPU usage (can use mc admin monitor results)
mem usage (can use mc admin monitor results)
HTTP requests (total)
read throughput (total)
write throughput (total)
error count (total)

[2019-07-15 19:00] #7913 closed, assigned to harshavardhana

[2019-07-15 22:10] kannappanr commented on #7929
@behzadnm99 Closing this issue as answered, please feel free to reopen this issue if you feel otherwise.

[2019-07-15 22:10] #7929 closed, assigned to nobody

[2019-07-16 06:30] rldleblanc opened #7935 "S3 Gateway with caching issues 503 instead of 404 for missing object in new bucket in response to head-object"
With a S3 gateway and caching configured requesting a head-object on a non-existent object in a new bucket incorrectly returns a 503 error instead of a 404 error. Some fairly old buckets work okay and this seems to mostly affect newer buckets. Creating the bucket through AWS directly or through Minio have the same issue. Issuing the head-object directly to AWS properly returns the 404 error, but t

[2019-07-16 07:56] nitisht commented on #7935
Thanks for reporting @rldleblanc we'll take a look

[2019-07-16 10:07] ricardolimaui opened #7936 "[not our bug] The request signature we calculated does not match the signature you provided. Check your key and signing method."
Hello all. To be honest I don't know if the problem is from the Minio or the mc connecting to the api.
Initially I created a docker-compose with

[code]

Now the problem is, if I use it without tls the mc is able to connect to Minio and do the job. But if I insert the crt and key files the Minio becomes secure and I can access it through the browser with ssl (I was also able to access without ssl)

[2019-07-16 10:42] ricardolimaui commented on #7936
ok seems like if I force the mc to start with s3v2 it works ... How I can force the docker to start the api with s3v4?

[2019-07-16 16:35] harshavardhana commented on #7936
How is the address being redirected to port ? Are you using a proxy?  If yes did you set your proxy to preserve host header?

Please share the config.

[2019-07-16 18:07] poornas commented on #7935
@rldleblanc,  Can you share how you ran the [benchmark](https://github.com/dvassallo/s3-benchmark)? I ran mine like this `./s3-benchmark --endpoint http://localhost:9000` with no additional flags set, and the benchmark ran successfully against minio s3 gateway with caching enabled. Testing head object with aws-cli also gives a 404 as expected
[code]
It might help debug this further if you can star

[2019-07-16 18:39] rldleblanc commented on #7935
The S3-benchmark is from https://github.com/dvassallo/s3-benchmark
`# ./s3-benchmark -bucket-name rleblanc-s3-test1 -endpoint http://minio-gw --full`
[code]

[2019-07-16 18:49] poornas commented on #7935
@rldleblanc, just to isolate this issue, what happens if caching is turned off at the gateway? unset MINIO_CACHE_DRIVES, and any other cache related env you might have set and then run the benchmark.

[2019-07-16 18:52] poornas commented on #7935
also , would help to see trace with the --verbose flag `mc admin trace --verbose mys3-alias`

[2019-07-16 19:14] donatello commented on #7911
@aldobattaglia-next I think the problem may be because your query has `select s.* ...` which is not yet supported by minio. You can use `select * ...` instead and it should work.

If you can try it out quickly using `mc` and a local minio server:

[code]

[2019-07-16 19:23] rldleblanc commented on #7935
Disabled the cache.
[code]

[2019-07-16 20:09] poornas commented on #7935
is the actual backend here Amazon S3 or Ceph?

[2019-07-16 20:28] rldleblanc commented on #7935
The backend is Amazon S3, Ceph is a little farther down the road.

[2019-07-16 20:50] calclavia commented on #7869
Any updates on this issue? Is this likely a bug or a misconfiguration on my end? Thanks!

[2019-07-16 20:50] harshavardhana commented on #7869
@calclavia did you not see @poornas update?  - also most probably to be fixed in #7694

[2019-07-16 21:16] poornas commented on #7935
@rldleblanc , seems like you are hitting S3 service limits here -https://docs.aws.amazon.com/AmazonS3/latest/dev/optimizing-performance.html.  minio doesn't set 503's at all or reinterpret the 404 - this 503 is being returned by the backend,

[2019-07-16 21:25] rldleblanc commented on #7935
That's odd. A new bucket is created and then a HEAD is requested, that is two operation. The limits are per bucket, so our other buckets should not be counted towards it. I don't think we are hitting those limits. It may be something else, but AWS directly is giving me a 404.

[2019-07-16 21:26] rldleblanc commented on #7935
I'm happy to run a debugging build or anything that could get you some more information. The debug above doesn't seem to show what AWS is returning.

[2019-07-16 21:42] rldleblanc opened #7938 "Do not fetch AWS ETAG until cache object is stale."
Currently all cache objects have their ETAG downloaded from AWS before the cache is served even if cache-control is not expired/stale. When an owner specifies a cache-control they assume responsibility that any system in the line can have an out dated item of that length of time. MinIO should not try to enforce the cache has the latest object before serving the object and only request the ETAG if

[2019-07-16 22:07] poornas commented on #7935
Can you download this [binary](https://play.min.io/bin/minio?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=Q3AM3UQ867SPQQA43P2F%2F20190716%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20190716T220351Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=5542cbae0a417d9d219b96036cb173c137290d406170d5f80bd52df7aadd5021) and paste the error you see on the server side? I just added a debug

[2019-07-16 22:11] harshavardhana commented on #7892
Healing has moved to once in a month @bratao

[2019-07-16 22:23] rldleblanc commented on #7935
I think there may be a bug in that build. I'm getting an EOF instead of 503 or 404.
[code]

[2019-07-16 22:29] bratao commented on #7892
Thanks everyone. This fix it for me

[2019-07-16 22:29] #7892 closed, assigned to poornas

[2019-07-16 22:33] harshavardhana commented on #7892
Fixed by #7868 #7934

[2019-07-16 22:35] kannappanr commented on #7938
@rldleblanc We will go through the issue and get back to you.

[2019-07-16 22:51] poornas commented on #7935
it was a build for linux-amd64 - you should have just seen something like `minio-go: HEAD returned : 404 ; 404 Not Found  err= <nil>` which is the debug stmt I added.

  Can you share stack trace for the panic - this `panic: Filed to head S3 object: RequestError: send request failed` doesn't come from minio source code. How did you start the minio gateway? What's your client - can you try `mc stat

[2019-07-16 22:54] poornas commented on #7935
nvm, it was from dvassallo/s3-benchmark repo
https://github.com/dvassallo/s3-benchmark/commit/1197ba17c556846f1b788756a168e6ab1279961a

the code here in this repo is panicking if HEAD returns a `Not Found`

[2019-07-16 23:10] rldleblanc commented on #7935
I'm seeing the requests for the bucket creation, but that's all I get. The s3-benchmark is getting an EOF unexpectedly and is panicing. It's like the HTTP session is being closed early.

[2019-07-16 23:23] poornas commented on #7935
@rldleblanc ,what's the error from minio server though? Were you able to start the gateway with this binary? A mc admin trace --v should show the HEAD request received by minio server. This panic is from the s3-benchmark tool

[2019-07-16 23:30] poornas commented on #7935
btw, can you also check if the benchmark works for you if the s3.amazonaws.com endpoint is specified for your creds instead of minio gateway

[2019-07-16 23:43] rldleblanc commented on #7935
I was able to start with this binary. This is all I got in the log:
[code]

My creds only specify the key and secret key. I'm using "--endpoint" for minio and nothing to default AWS.

[2019-07-16 23:47] rldleblanc commented on #7935
I think you have an error in the debug statement and it is causing some error that is closing the TCP socket giving the client an EOF.

[2019-07-16 23:58] poornas commented on #7935
giving you a new [binary](https://play.min.io/bin/minio?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=Q3AM3UQ867SPQQA43P2F%2F20190716%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20190716T235511Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=8044df153d8856ec374e2e79a14c680ed84417a4734173674dd6bfd00c09c46d)

Just noticed that your bucket is on us-west-2, the benchmark creates a bu

[2019-07-16 23:59] poornas commented on #7935
Or try with a bucket on us-east-1

[2019-07-17 00:05] rldleblanc commented on #7935
Okay, this is what I'm seeing on stderr:
`Jul 16 17:03:04 sun-minio01 minio[28204]: minio-go: err= Head http://rleblanc-s3-test2.s3.dualstack.us-west-1.amazonaws.com/9b1454785f7363178e3de5fc2249abbab49013da: 301 response missing Location header  resp: <nil>'`

[2019-07-17 00:08] poornas commented on #7935
ok, you need the --region flag while running benchmark to be us-west-1 if that's where you are creating bucket. It seems to be using us-west-2 as default if you look at their code and it is causing a redirect

[2019-07-17 00:10] rldleblanc commented on #7935
Still same error.
[code]
I thought MinIO was creating a new S3 request and not using much from the original request.

[2019-07-17 00:49] kannappanr commented on #7936
Ping @ricardolimaui Can you please share the config?

[2019-07-17 01:21] poornas commented on #7935
@rldleblanc , can you retry benchmark  with region flag set on the same bucket rleblanc-s3-test2 you specified for previous test?  To rule out whether 503 is due to bucket unavailability. btw, what did the stderr show with the new binary I sent?

[2019-07-17 01:32] rldleblanc commented on #7935
The last log message with the 301 is from the new binary. The old binary produced a huge stack trace. I tried us-west1, us-east-1 and I guess us-west-2 is the default. I didn't specify a region when I created the bucket, and since the s3-benchmark created the bucket with it's default region, that would be us-west-2.

So, if i'm not supplying a region and the bucket doesn't exist before running s3-

[2019-07-17 02:09] poornas commented on #7935
that's right. I am also asking you to use the same bucket in the benchmark if  the run fails with 503, perhaps because bucket availability right away is not guaranteed. The second time you run the benchmark it would show a 409 conflict because bucket already exists - but I expect that the HEAD should pass.

[2019-07-17 02:51] rldleblanc commented on #7935
I'm not deleting the bucket after every run. I only deleted the rleblanc-s3-test1 bucket when the first debug binary failed (I had been using the same bucket all morning). The rleblanc-s3-test2 has had multiple runs against it as well. Most of the tests are on the same bucket created minutes or hours earlier to the same (default) region.

Why is AWS complaining that the Location header is missing

[2019-07-17 05:42] poornas commented on #7935
@rldleblanc , when you start the minio gateway  the endpoint url passed in --address flag is having the us-west-1 as part of the url. This is the region that AWS will expect the bucket to be in, hence the 301 if region mismatches.
`aws s3api get-bucket-location --endpoint-url http://minio-gw --bucket rleblanc-s3-test2` will show the actual region of the bucket. All requests to that bucket need the

[2019-07-17 10:38] srilumpa opened #7939 "logging: Single-line logs"
**Is your feature request related to a problem? Please describe.**
We are running minIO on distributed mode on a Kubernetes cluster and want to gather the minIO logs for troubleshooting purposes (among other things). Problem is that whensomething is logged by minIO, it is done using multiples lines like so:

[code]

Issue is when collecting all of this in a log management system (we are using Elas

[2019-07-17 10:49] kanagarajkm commented on #7939
@srilumpa you can use `--json` option while starting the minio server

[code]

[2019-07-17 12:53] kalkotivinay commented on #7901
I would like to work on this. Can we discuss what all s3 functional tests that need to be covered?

[2019-07-17 13:38] kannappanr commented on #7939
@srilumpa Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for such questions.

[2019-07-17 13:38] #7939 closed, assigned to nobody

[2019-07-17 14:32] ricardolimaui commented on #7936
Hello kannappanr which config do you need ? Thank you

[2019-07-17 18:12] kannappanr commented on #7936
@ricardolimaui As requested in https://github.com/minio/minio/issues/7936#issuecomment-511892188

Can you please share the proxy config if you use one?

[2019-07-17 20:07] harshavardhana commented on #7901
Select needs to cover the basic API functionalities first @kalkotivinay https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectSELECTContent.html

[2019-07-17 20:40] harshavardhana commented on #7887
Fixed by #7930

[2019-07-17 20:40] #7887 closed, assigned to harshavardhana

[2019-07-17 20:42] harshavardhana commented on #7829
Fixed by #7891

[2019-07-17 20:42] #7829 closed, assigned to poornas

[2019-07-17 20:43] harshavardhana commented on #7754
can you try the latest nginx config

[code]

[2019-07-18 00:48] samnazarko opened #7942 "Pre-signed upload URLS failing: The request signature we calculated does not match the signature you provided."
Using the AWS PHP SDK, I'm unable to generate a presigned URL that works. I keep getting a signature error.

My configuration is as follows:

[code]

My PHP script is as follows:

[code]

I then try and upload a file as follows:

[code]

But receive the following error:

[code]

I've confirmed that uploading works through the administration interface.

I'd appreciate some assistance here.

Cheers

[2019-07-18 01:11] harshavardhana commented on #7942
[code]

Seems to be working for me same example

[code]

[2019-07-18 01:12] harshavardhana commented on #7942
I am suspecting you have some mistake in your secret key?

[2019-07-18 01:17] samnazarko commented on #7942
Secret key should be correct. It works for downloading files.

I did read about some non conformity with S3 spec where a signature issue will arise when metadata is passed to the upload using the S3 SDK. I'm assuming that passing just Bucket and Key wouldn't count as metadata.

[2019-07-18 01:18] harshavardhana commented on #7942
In your description, you are not adding any extra metadata - I did exactly the same things that you did.  let me know if you are doing something else?

[2019-07-18 01:52] samnazarko commented on #7942
I'm not trying to do anything fancy -- just get something simple working.
Are you on Freenode? Can you ping me (samnazarko)

[2019-07-18 01:58] harshavardhana commented on #7942
No we use https://slack.min.io @samnazarko please join us there

[2019-07-18 02:15] samnazarko commented on #7942
Thanks -- appears to be solved, but I may have some follow up questions.

[2019-07-18 02:25] samnazarko commented on #7942
@harshavardhana Thanks for taking the time to explain things in detail to me. Much obliged.

👍

[2019-07-18 02:26] harshavardhana commented on #7942
Thanks @samnazarko closing the issue.

[2019-07-18 02:26] #7942 closed, assigned to nobody

[2019-07-18 07:22] victornoel commented on #7754
@harshavardhana I have already tried those settings, the problem is that nginx still does not disable buffering. I moved to envoy as a proxy, because nginx is too unpredictable apparently.

[2019-07-18 07:23] Reamer opened #7943 "RELEASE.2019-07-17T22-54-12Z breaks Openshift Support"
Hi,

I use minio on Openshift 3.11. Openshift has a security feature, to run container with "random" uids.
Helpful-Link: ["Why do my applications run as a random user ID?"](https://cookbook.openshift.org/users-and-role-based-access-control/why-do-my-applications-run-as-a-random-user-id.html)

I think #7930 breaks the Openshift Support. [RELEASE.2019-07-10T00-34-56Z](https://github.com/minio/minio/

[2019-07-18 08:27] aldobattaglia commented on #7911
@donatello With `mc` I have this error
[code]
In my lambda, I've tried to replace `s. *` With `*` but I have the same error

My new query
[code]

I've tried in an other lambda, with an other CSV file, same error
[code]

[2019-07-18 08:30] nitisht commented on #7943
@Reamer do you have `MINIO_USERNAME` / `MINIO_GROUPNAME` set in the your yaml ?

[2019-07-18 09:14] Reamer commented on #7943
Hi @nitisht,
no I haven't set `MINIO_USERNAME` or `MINIO_GROUPNAME`, because I think, it's not necessary.
Please checkout #7944. I think I found a typo in `docker-entrypoint.sh`. For me it makes no sense to add a group or a user with an empty `MINIO_USERNAME` or `MINIO_GROUPNAME`

If you set `MINIO_USERNAME` and `MINIO_GROUPNAME` you are in the "fallback" case and `MINIO_USERNAME` and `MINIO_GROUP

[2019-07-18 09:22] kalkotivinay commented on #7901
Thanks @harshavardhana. When you say basic API functionality, it means for all APIs, we should test for different input and output parameters, right?

[2019-07-18 10:09] tiankongzhixia opened #7946 "Can't ‘endpoint’ of webhook set ports 80 and 443?"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2019-07-18 10:42] nitisht commented on #7946
This issue is incomplete @tiankongzhixia please follow the issue template or join us on Slack (https://slack.min.io) for questions.

[2019-07-18 10:45] tiankongzhixia commented on #7946
Sorry, my network is not very good. I can't edit the above content.
The contents of my config.json

"endpoint": "https://work.timemf.com:443/minio/webhook"

Prompt me after startup

panic: target.Send() failed with 'dial tcp: address work.timemf.com: missing port in address'

goroutine 129 [running]:
github.com/minio/minio/pkg/event/target.sendEvents.func1(0xc0000ae330, 0x24, 0x2)
        /q/.q/so

[2019-07-18 13:08] rblaine95 commented on #7943
The `if-statement` itself doesn't really make sense. If you're running the container as any user other than `root`, you'll get a permission denied when trying to `addgroup` and `adduser`.

[2019-07-18 16:19] #7943 closed, assigned to nobody

[2019-07-18 16:20] Praveenrajmani commented on #7946
@tiankongzhixia Can you try pinging `work.timemf.com:443`? looks like the config is missing the port. Can you reach us on https://slack.min.io. And also for any change in the config ( after successful `mc admin config set`) - the server should be restarted.

[2019-07-18 20:19] tiankongzhixia commented on #7946
I used mc.exe admin config set ...
Change the configuration to

"endpoint": "https://work.timemf.com/minio/webhook"

Still will prompt me
Tcp: address work.timemf.com: missing port in address

Windows version: 2019-07-17T22:54:12Z

I am using this under macOS without this problem.

[2019-07-19 01:56] phpjsnerd commented on #7922
Don't directly expose to outside network use Reverse proxy such as nginx in Production environment.

[2019-07-19 02:26] timemf commented on #7946
The configuration file has not changed, and the minIo version of macOS has been updated to the latest. This problem has also occurred...

[2019-07-19 08:32] Praveenrajmani commented on #7946
@tiankongzhixia will send a PR soon

[2019-07-19 08:44] adiospeds commented on #7892
Just to add to the conversation. I loved it when daily auto healing feature was added. However, even I have a cluster with loads of small files. Even I had recently upgraded to the daily auto healing version and noticed that my cpu was always high and kept receiving lot of socket timeouts on my monitoring apps. Hopefully upgrading to this version will fix this issue for me. But I'd like to have a

[2019-07-19 08:45] adiospeds opened #7952 "Extending Issue #7892: Knob/Setting to tune the frequency of healing"
I loved it when daily auto healing feature was added. However, even I have a cluster with loads of small files. Even I had recently upgraded to the daily auto healing version and noticed that my cpu was always high and kept receiving lot of socket timeouts on my monitoring apps. Hopefully upgrading to this version will fix this issue for me. But I'd like to have a way to control the auto healing f

[2019-07-19 09:03] xuzhitong opened #7953 "Can two servers support the distributed mini?"
I  only have two servers and want to deploy the distributed minio.I downloaded and installed the binary  package on the both of the two servers.Then I started it using the below command:
[code]
Then I get a error report  on the server which ip is 10.100.9.83:
[code]
I disabled the firewall and i'm sure the two servers can communicate with each other.
I traced the tcp/ip packet on the port 9000 usi

[2019-07-19 09:45] ricardolimaui commented on #7936
was like this
`<VirtualHost *:443>
    ServerName example.net
    ServerAlias www.example.net
    ServerAdmin email@example.com

    SSLProxyEngine On
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerExpire off
    SSLCertificateFile cert.pem
    SSLCertificateKeyFile privkey.pem
    SSLCertificateChainFile fullchain.pem

    ProxyPass / https://blabla:9100/
    ProxyPassReverse / https://blabla:9

[2019-07-19 12:15] poornas commented on #7892
@adiospeds, auto heal once a month was released 2 days back in RELEASE.2019-07-17T22-54-12Z. If this still does not work for you, please feel free to open a new issue.Will bring up your feedback with the team on a frequency knob for healing.

[2019-07-19 13:05] nitisht commented on #7953
this should work @xuzhitong , how long do you get these errors?

[2019-07-19 15:24] rafamel opened #7956 "Minio Browser: Allow for shareable links not to expire"
Shareable links validity is currently set to a maximum of 7 days. Is there any way you would consider allowing them to be set not to expire at all?

[2019-07-19 15:27] nitisht commented on #7956
This is as per S3 API Specs : https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html . So there are no plans to change the behaviour.

One way to achieve this is to set the bucket policy to download

[2019-07-19 17:32] #7956 closed, assigned to nobody

[2019-07-19 17:32] harshavardhana commented on #7956
Closing as working as intended

[2019-07-19 17:35] harshavardhana commented on #7936
You are not preserving host header, we have clearly documented here https://docs.min.io/docs/setup-apache-http-proxy-with-minio-server.html

Enabling preserve host will allow your code to work and this issue can be closed.

[2019-07-19 19:13] ricardolimaui commented on #7936
Thank you for your answer but changing to s3v2 it started to work. That means I can enable s3v4 if I preserve host header ?  Thank you for answering

[2019-07-19 19:26] harshavardhana commented on #7936
Yes s3v4 is stricter, Host header should be preserved. S3v2 is legacy and insecure shouldn't be used in production.

[2019-07-19 19:38] challarao commented on #7201
Any updates on this?

[2019-07-19 20:12] kannappanr commented on #7936
@ricardolimaui Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2019-07-19 20:12] #7936 closed, assigned to nobody

[2019-07-19 21:30] timemf commented on #7946
@Praveenrajmani thank you for your help

[2019-07-20 03:48] xuzhitong commented on #7953
I get these errors about 2 days.I still have no idea about the issue.

[2019-07-20 10:48] kannappanr commented on #7953
`export MINIO_HTTP_TRACE=/home/app/miniologs` is not required anymore.

Assuming that the IPAddresses are correct and are reachable from either machines, the only thing that I can think of is to change `/home/app/data1` to `/tmp/data1` and //home/app/data2` to `/tmp/data2` and see if that works

[2019-07-20 13:27] xuzhitong commented on #7953
I changed the path to the 'tmp/data1' and '/tmp/data2',but it still does't work.

[2019-07-20 13:41] merajnouredini commented on #6496
so this means that we have to have a flat structure in every bucket and we cannot create/copy directories using s3fs with Minio server?

[2019-07-20 15:47] harshavardhana commented on #6496
Of course you can @m-nouredini s3fs likes to imitate POSIX semantics on directories, currently we have no plans.

You can create sub-directories or just upload objects to any desired prefix the parents are automatically created either like.

[code]

Or

[code]

[2019-07-20 15:50] harshavardhana commented on #6496
This issue resolution is not indicating that you should dump all your objects at bucket level, which is a bad idea to begin with for your backend disk as well as MinIO.

It is better to properly choose heirarchy, MinIO keeps the heirarchy as is on the backend. So making that choice will help you in the long run.

[2019-07-20 18:40] vanzhiganov commented on #7889
This solution not production ready for large systems, because with large number files linux server may catch problems with a lack of inodes.

[2019-07-20 19:19] harshavardhana commented on #7889
I disagree @vanzhiganov we deploy in multiples of petabytes already. Linux filesystems have scaled really well since many years now.

Calling this not production ready is not only incorrect, also shows that there is lack of testing here and are based on anecdotal observations, either historical or are factually incorrect.

Please do join our https://slack.min.io we would love to help change your o

[2019-07-20 20:47] vanzhiganov commented on #7889
In my test case, on my server located ~1Tb of 5 Kb-2Mb files. And I have two problems: inodes and performance. Because my application does not provide any nesting in the file system structure.

[2019-07-21 08:21] merajnouredini commented on #6496
Now I got your point, Thanks for the description @harshavardhana.

[2019-07-21 14:55] xuzhitong commented on #7953
I checked the code and add some log info.The result is below:

[code]

I found the error reported from function "getFormatXLInQuorum" which called by function "connectLoadInitFormats".The 4 formats are all nil and loadFormatXL returns "unformatted disk found" and "invalid character '<' looking for beginning of value!".There is no any file in path "/tmp/data1" and "data2" on both of the servers,so

[2019-07-22 03:39] xuzhitong commented on #7953
It works now.I written a shell script to start the minio server

[code]
But the "\\" is not impact in my environment,when I deleted the all "\\" char,it works.
I'm sorry for the low mistake.

[2019-07-22 03:39] #7953 closed, assigned to nobody

[2019-07-22 09:20] Charlesdjy commented on #7659
@zieg8301 How did you solve this problem?

[2019-07-22 09:44] ingomueller-net commented on #6212
How can we achieve verbose output in Docker with the latest versions, where `MINIO_HTTP_TRACE` does not exist anymore?

[2019-07-22 10:36] vadmeste commented on #6212
@ingomueller-net, `MINIO_HTTP_TRACE` is removed recently, you will need to use `mc admin trace` command.

[2019-07-22 13:31] aqpartners opened #7961 "Allow use of Signature v2 in S3 gateway configuration"
**Is your feature request related to a problem? Please describe.**
When attempting to set up an S3 gateway in front of an API that only accepts requests signed with signature v2 (i.e. EMR ViPR), we get the error `ERROR Unable to initialize gateway backend: The request signature we calculated does not match the signature you provided`.  I confirmed that the gateway currently inly supports v4 signat

[2019-07-22 14:16] zieg8301 commented on #7659
@Charlesdjy I switched from the 2019-05-02 release to the 2019-05-23 release.

[2019-07-22 15:17] ox-michaelradionov opened #7962 "Kubernetes+Minikube with resource limits OOM(Out of Memory) when uploading"
I have a local Kubernetes cluster inside Minikube on my Mac. I deploy a Minio standalone server as a single container with resource limits specified. When I upload a file which is larger than container memory limit, the container is terminated with reason `OOMKilled`.

I am not sure whether it is a Minio issue or environment I am running it in. Similar setup on Ubuntu seems to be working fine.

I'

[2019-07-22 16:00] harshavardhana commented on #7961
This was on purpose because v2 signature is insecure, we only support that for legacy reasons on MinIO, so converting a v4 to v2 request is a bad idea.

Can you tell us why are you using S3 gateway? Is it caching?

[2019-07-22 16:21] aqpartners commented on #7961
Looking for ways to use tools that only support v4 (such as the C++ AWS SDK) with the legacy system.  I understand that it is not as secure but if I am willing to take on the risk, can it at least be configurable?

[2019-07-22 16:46] ingomueller-net commented on #6212
Thanks for the help. I saw that it was removed. My question was to do that with Docker? I'd like to run a single `docker run ...` command and nothing else. (I am using the Docker image in a CI setup where this is the only thing I can do.)

[2019-07-22 17:43] vadmeste commented on #6212
Aren't you trying to debug something ? in that case, you can install mc in your local machine and points it to your docker instance

[2019-07-23 07:09] PrathameshUpadhyay commented on #5139
I see the PR is merged to master.
Can we get a release-doc, how to use this feature?

https://github.com/minio/minio/pull/7563

[2019-07-23 13:44] vadmeste commented on #5139
@PrathameshUpadhyay, that code is not fully functional yet, this is the PR which adds the expiry feature https://github.com/minio/minio/pull/7834 (transition is not there yet)

[2019-07-23 14:30] loicveyssiere opened #7964 "High availability is broken when one node is down for maintenance purpose"
Hello,

I have a setup of 12 nodes with one disk per node. The cluster is running well
in distributed mode and is able to continue correctly when one Minio process of
a machine is killed. However during an update of one of my machines (the machine
is still on but the OS is not loaded on it), the cluster is so slow that it
becomes impossible to use it.

## Expected Behavior

During the update of my

[2019-07-23 14:32] nitisht commented on #7962
can you try running a distributed setup with similar configuration just to test if that is happening on there as well @ox-michaelradionov

[2019-07-23 14:33] nitisht commented on #7964
Thanks for reporting @loicveyssiere we'll take a look

[2019-07-23 14:36] harshavardhana commented on #7964
The issue referenced is not related here, the issue is perhaps the timeouts we have internally which is almost 1minute

[2019-07-23 14:42] harshavardhana commented on #5139
Once #7834 is merged we will add a doc @PrathameshUpadhyay

[2019-07-23 14:45] loicveyssiere commented on #7964
For information, my machine was down for many hours and minio wasn't able to recover correctly even after 6 hours.

[2019-07-23 14:56] harshavardhana commented on #7964
Are you saying you had I/o failures? Was it just slow for any I/o?

[2019-07-23 15:18] loicveyssiere commented on #7964
Well, there is no failure in general but a single operation like read can take a few minutes, so for any usage it is like a failure. for example I was able to get the info of the cluster using `mc admin info <target>`, the command terminates correctly after a few minutes (normally it is like instantaneous). The same for the website, I wait many seconds or perhaps minutes to only open a folder in t

[2019-07-23 15:38] harshavardhana commented on #7964
Correct the slowness here is currently expected because of the internal retries to the downed server and the amount of timeout we might have for such dial timeouts.

Fundamentally to know if the server is down or not is a hard problem. Since variations in many ways a system can go down are different and each code path behaves differently in different scenarios.

Here is how I saw in a simple 4 nod

[2019-07-23 16:23] ghost opened #7965 "Browser: Download as Zip (containing MP4's)"
When using the web GUI to download a folder or files within a bucket as a zip file it seems to work fine for files with type JSON but if you have a list of MP4's if you select more than 1 you get a small 0 byte file.

## Expected Behavior

The zip file should contain all selected MP4 files

## Current Behavior

as described above, when we select more than 1 mp4 we get a zero byte mp4 file in a zip

[2019-07-23 17:48] kannappanr commented on #7965
@hassbabaie Thanks for filing this issue. We will take a look.

[2019-07-23 21:03] ingomueller-net commented on #6212
Yes, I am debugging something, but it is running on a machine I have no access to: I am using the MinIO docker image to run tests during CI (using the [services](https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#what-is-a-service) mechanism of Gitlab).

The tests run on one of several machines maintained by a different department and potentially at some later point if other CI jobs hav

[2019-07-24 00:48] kaankabalak commented on #7965
I am also able to verify this issue on https://play.min.io, regardless of the file extension. When I select multiple files from a bucket and download as zip, I get a zero byte file that has the name of the first selected file.

Also, when I select and download a folder which is inside a bucket; inside any subfolders, only the first items are preserved and if the final item is not a folder, it is c

[2019-07-24 03:06] nitisht commented on #7869
@calclavia just to keep you posted, https://github.com/helm/charts/pull/15749 will fix current issue you're seeing. It should be available soon

[2019-07-24 04:50] kanagarajkm opened #7970 "Readonly user is not able to view existing buckets"
IAM user with `readonly` policy is not able to view the buckets.

## Expected Behavior
IAM user with `readonly` policy should have read access to all the buckets on MinIO.

## Current Behavior
IAM user with `readonly` policy does not have access to buckets in MinIO

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run MinIO in fs mode
2. Add a new user with readwrite policy `mc admin use

[2019-07-24 08:26] harshavardhana commented on #7970
It is on purpose avoided @kanagarajkm - users want only GET calls not ListObjects()

[code]

User should come up with an appropriate policy if they wish to list buckets as well.

[2019-07-24 08:32] kanagarajkm commented on #7970
@harshavardhana understood, i can do GET object as readonly user, closing this issue, thanks!

[2019-07-24 08:32] #7970 closed, assigned to nobody

[2019-07-24 14:30] Nepoxx commented on #6577
@mikijov your solution dooes not work for me for buckets with a single item:

[code]

---

Here's my alternative solution using [jq](https://stedolan.github.io/jq/)
[code]

[2019-07-24 18:40] calclavia commented on #7869
@nitisht Thank you!

[2019-07-25 18:12] Zlogene opened #7975 "minio-2019.07.24.02.02.23: gokrb5/v7/service/authenticator.go:85:4: cannot use cl.Credentials"
I am Gentoo minio maintainer, today I had hit a compile failure as described in the title ( go version is 1.12.5)

## Expected Behavior

minio compiles fine

## Your Environment

* Version used (2019.07.24.02.02.23)::
* Operating System and version (Linux unrandom 4.19.57-gentoo #1 SMP Wed Jul 17 11:00:04 MSK 2019 x86_64 Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz GenuineIntel GNU/Linux):

[2019-07-25 19:03] harshavardhana commented on #7975
You should use GO111MODULE=on and use `go mod` dependencies to build. All our CIs run fine so it is a local issue.

[2019-07-25 19:24] kannappanr commented on #7975
@Zlogene Closing this issue as answered. Please feel free to let us know if what was suggested doesn't work.

[2019-07-25 19:24] #7975 closed, assigned to nobody

[2019-07-25 19:49] aeltawela opened #7976 "Minio does not handle copy_object properly in federation setup"
In federation setup, Minio fails to copy any object that exists on another setup to a third setup.

In other words, if the user tried to copy a file (using SetupA as an endpoint) that exists in SetupB to SetupC, the copy operation fails with a bucket does not exist error.

## Expected Behavior

The copy object should be handled correctly in federation setup regardless of the endpoint.

## Current

[2019-07-25 20:17] kannappanr commented on #7976
@ahmedabt Can you try with the latest `MinIO` binary that was released on `07-24` 2019-07-24T02-02-23Z and let us know if you are still seeing this issue?

[2019-07-25 20:17] tobiasjpark opened #7977 "Kubernetes: no persistent volumes available for this claim and no storage class is set"
I'm following the instructions from https://docs.min.io/docs/deploy-minio-on-kubernetes.html to install Minio on a single-node Kubernetes cluster. When I run the command

`kubectl create -f https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes/minio-standalone-pvc.yaml?raw=true`

the command executes successfully, but running `kubectl describe pvc minio-pv-claim` shows that the

[2019-07-25 20:39] aeltawela commented on #7976
@kannappanr unfortunately, it is not that easy to change the baseline on our environment, we have to test it heavily first. Do you suspect a specific fix that fixes this issue? I think it is easy to verify the behavior from the code.

[2019-07-25 20:41] harshavardhana commented on #7976
Our idea is to handle this properly, will verify your issue here and get back to you @ahmedabt

[2019-07-25 22:01] kannappanr commented on #7977
@kd2eom Will take a look and get back to you.

[2019-07-26 03:55] #7649 closed, assigned to Praveenrajmani

[2019-07-26 06:39] nitisht commented on #5975
closing as we revamped and tested notification code recently.

[2019-07-26 06:39] #5975 closed, assigned to Praveenrajmani

[2019-07-26 06:54] nitisht commented on #7977
@kd2eom looks like there is no auto-provisioning the Kubernetes cluster you're running, so, this is a matter of mapping the existing storage class (PV) that you have to the MinIO PVC. You'd need to edit the file [here](https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes/minio-standalone-pvc.yaml) to add the storage class that you have on your PV.

We don't include PV in our do

[2019-07-26 15:01] tobiasjpark commented on #7977
Thanks for your help. I created a StorageClass named "standard":

[code]

 and created a local PV that used that StorageClass.

[code]

 I then modified the yaml you referenced so that it looks like this:

[code]

However, now `kubectl describe pods` is showing that deployment is pending with the error `0/1 nodes are available: 1 node(s) didn't find available persistent volumes to bind.`

`kubectl

[2019-07-26 15:22] tobiasjpark commented on #7977
Update: I'm not sure exactly what fixed it, but after following the "Minio on Kubernetes" section of [this guide](https://www.linode.com/docs/applications/containers/deploy-minio-on-kubernetes-using-kubespray-and-ansible/) to create the PV and PVC, everything seems to be working now. Guess I was just configuring it wrong on my end.

[2019-07-26 15:22] #7977 closed, assigned to nitisht

[2019-07-26 18:57] dutchhsg commented on #6490
With "This is the solution we used" --- do you mean: redistribute files into subfolders?
(I do not have that option as far as Cloudberry goes, it automatically puts ALL files into one dir, even if the files were in separate folders before being backed up.)

That is not a solution but a workaround.

[2019-07-26 21:26] jcostian commented on #6490
Yes, we distributed the files to deeper folder structure, so that no folder contains too many files or folders. And that did solve the problem, even we are using data folders instead of full volume.

[2019-07-26 23:44] kannappanr commented on #7841
@mt-rahul Closing this as stale. Please feel free to reach out to us if you haven't been able to resolve this yet.

[2019-07-26 23:44] #7841 closed, assigned to nobody

[2019-07-26 23:57] kannappanr commented on #7736
@Depau closing this as stale. Please feel free to reach out to us with the information requested by @vadmeste  we can start investigating as to why the reverse proxy is causing this issue

[2019-07-26 23:57] #7736 closed, assigned to vadmeste

[2019-07-27 00:06] kannappanr commented on #7401
Closing this issue as stale. Please feel free to reach out to us if you have more information.

[2019-07-27 00:06] #7401 closed, assigned to nobody

[2019-07-27 00:34] kaankabalak commented on #7965
@hassbabaie We were able to reproduce this issue using the following command. The issue seems to be caused when the objects being downloaded have been encrypted using SSE-S3:

[code]

We will be working on a fix in the meantime and will keep you updated.

[2019-07-27 02:11] ghost commented on #7965
Thanks @kaankabalak

[2019-07-28 03:01] harshavardhana commented on #7880
Actually, I am able to reproduce this issue. @joek8901 - sending a fix.

[2019-07-28 14:47] adamhooper commented on #7732
@harshavardhana We've finally deployed a commit that uses this feature. Net change: -225 lines of client-side JS and -300 lines of server-side Python code ... with similar reductions in unit-test suites. Plus, STS helps us construct an API we can expose to our customers so they can upload files directly from their own scripts using AWS libraries.

Thank you!

[2019-07-28 16:47] harshavardhana commented on #7732
That is great @adamhooper

[2019-07-28 21:05] harshavardhana commented on #7201
@challarao few questions

- what is the issue in setting higher part size?
- what is the issue with just using single Put() - MinIO supports up to 5TiB in the single-stream upload?
- Per part of up-to 5TiB is supported by MinIO, unlike AWS S3 which limits itself to 5GiB?

The reason we would like to avoid fixing this on our end because of the limitations of GCS, it may over complicate our gateway

[2019-07-29 11:33] CyberCyclone opened #7986 "Another scalability question"
I've read this in the docs and highlighted the main points:

Initially I read this to mean you can adjust the nodes and disk at any point, but after trying and failing, I've read multiple people having the same issue and finding out it's not possible. After reading the issues posted here, I'm still not understanding the logic behind them.

According to this issue: [#4712](https://github.com/minio/

[2019-07-29 15:38] TheNewSound opened #7987 "Write failed auth's to a security log/windows event log"
Being able to monitor the endpoint and login tries/successes is critical for security.

As far as I know the console doesn't log this, and there is no option to log to file/Windows Event Log....

[2019-07-29 15:42] harshavardhana commented on #7987
You can enabled audit logging

https://github.com/minio/minio/tree/master/docs/logging#audit-targets

[2019-07-29 16:36] ghost opened #7988 "Delay in policy visibility causing user add error "The canned policy does not exist""
When creating a new user on a minio distributed cluster (without etcd) we perform to steps:

mc admin policy add
mc admin user add

However if we perform the two steps too quickly after each other <60 we get the following error:

<ERROR> Cannot set user policy for new user. The canned policy does not exist.

After waiting a period of time and re-running the "mc admin user add" command we get the f

[2019-07-29 17:23] donatello opened #7989 "Add STS API to let users from LDAP access Minio"
This issue is to track progress on this feature.

The task breakup is as follows:

1. Add groups support to MinIO - this allows MinIO users to organize users into groups and setting an access policy for all members of a group.
    * Add group creation and management support - https://github.com/minio/minio/pull/7981
    * Add policy mapping support to a group
2. Add LDAP support, including users a

[2019-07-29 17:47] #7987 closed, assigned to nobody

[2019-07-29 17:50] harshavardhana commented on #7961
You may recompile the code if that is the case @aqpartners - we cannot allow that in our code to run in insecure mode.

[2019-07-29 18:32] adamhooper opened #7991 "gateway with etcd: STS token is returned before it's usable by minio cluster"
Sometimes a minio server will return STS credentials ... but when we make a request using that STS token, the client receives `InvalidAccessKeyId: The access key ID you provided does not exist in our records`.

## Expected Behavior

I expect minio to only return STS credentials that are valid on all servers in the minio cluster.

## Current Behavior

We're operating two minio servers in GCS gatewa

[2019-07-29 18:55] harshavardhana commented on #7991
I tried without etcd there are no errors @adamhooper

[2019-07-29 20:31] CyberCyclone commented on #7986
I've had a bit more time to think about it and I'm still puzzled as to why it's designed not to be scalable. I don't see how it makes a difference starting off with 4 nodes and increasing to 32 nodes over time compared to starting out directly with 32 nodes.

From a technical point of view I know it's not as simple as that, but I still don't understand why it's not a core feature.

[2019-07-29 20:48] kannappanr commented on #7988
@hassbabaie Will take a look and get back to you.

[2019-07-29 21:48] #7880 closed, assigned to balamurugana

[2019-07-30 08:22] gregopenit opened #7993 "Docker service healthcheck fails every 4 or 5 minutes"
I have a docker stack of 6 minio services distributed between 3 hosts. I followed the [documentation](https://docs.min.io/docs/deploy-minio-on-docker-swarm).

But my minio services keep restarting every 4 or 5 minutes. 'docker inspect' reveals a unhealthy status

## Expected Behavior
Service healthcheck should work.

## Current Behavior
Every 4 or 5 minutes, healthcheck fails for random services.

[2019-07-30 08:26] nitisht commented on #7993
Thanks for reporting @greg-dobedobedo we'll take a look

[2019-07-30 08:38] wittech opened #7994 "why HTTP POST multipart/form-data return 204 No Content ?"
why HTTP POST multipart/form-data return 204 No Content ? bug ?

[2019-07-30 08:42] nitisht commented on #7994
This is an incomplete issue @wittech please follow the issue template so that we have relevant information to help you.

[2019-07-30 08:44] harshavardhana commented on #7994
@wittech this is part of S3 API - S3 supports 201, 200, 204 and 204 is the default. If you want 200 then you need to set `success_action_status` appropriately.

[2019-07-30 08:49] #7650 closed, assigned to Praveenrajmani

[2019-07-30 08:54] wittech commented on #7994
@harshavardhana thanks , but i didn't find how to set success_action_status use minio-java sdk ?

[2019-07-30 08:57] harshavardhana commented on #7994
You should open an issue for that in https://github.com/minio/minio-java/issues - server already supports such a feature @wittech

Closing this issue for now.

[2019-07-30 08:57] #7994 closed, assigned to nobody

[2019-07-30 13:27] maihde opened #7995 "Object download in federated mode fails"
After setting up two MinIO servers in basic federated mode, the ability to download an object via the webpage or `mc cp` fails with error that the bucket does not exist.

## Expected Behavior

Downloading objects in a federated environment works transparently.

## Current Behavior

Downloading an object from a federated upstream MinIO server fails.

## Possible Solution

* `objectAPIHandlers.GetBu

[2019-07-30 13:54] mrceresa opened #7996 "Pods stuck in kubernetes helm deployment"
Hi!
I have an on-premise kubernetes deployment with the stable helm chart, distributed mode and 4 replicas. All the pods starts but they are stuck with
**"Waiting for configuration to be initialized.."**

I think the pods have write permissions because all the PVs contain:
.minio.sys
.minio.sys/multipart
.minio.sys/config/config.json/xl.json
.minio.sys/format.json

with the exception of the one fo

[2019-07-30 14:08] mrceresa commented on #7996
I read a similar report here:
https://github.com/minio/minio-operator/issues/29
about this problem happening on filesystems not supporting O_DIRECT. The PVs are on a NFS mounted share and the operations seems to be cached:
$ dmesg | grep nfs
[ 6281.522614] FS-Cache: Netfs 'nfs' registered for caching

I'd rather not use local node path because the space on the nodes is limited. Also standalone Min

[2019-07-30 14:24] kanagarajkm commented on #7962
@ox-michaelradionov 256MB is too less here, you need at least 512MB.  Everything works fine with that, 2GB file got uploaded successfully MinIO browser.

[2019-07-30 14:30] kannappanr commented on #7995
@maihde Thanks for filing this issue. We will take a look and fix this issue right away.

[2019-07-30 14:50] kannappanr commented on #7996
cc @nitisht

[2019-07-30 15:55] MarsWarrior opened #7998 "Cannot set configuration using minio client: invalid credentials"
I'm using a minio and mc container.
From the console of the mc container:
- I can add the minio host
- I can get the configuration
- I can NOT set the configuration
- Other things like setting events does work...

## Expected Behavior

From the mc container I should be able to
- I can get the configuration
- ...edit config with for instance nano...
- I can set the configuration

## Current Behavio

[2019-07-30 16:26] harshavardhana commented on #7996
O_DIRECT support for PVs is needed @mrceresa and using NFS as backend wouldn't support that.

If you already have a NAS just use NAS gateway mode, there is no reason to erasure code on top of existing NAS. It is an Overkill and incorrect deployment architecture.

[2019-07-30 18:42] kannappanr commented on #7995
@maihde This is probably not a good test case. Can you do something like explained in PR

https://github.com/minio/minio/pull/7957 ?

[2019-07-30 19:09] harshavardhana commented on #7995
These are not federated deployments @maihde - you need to have separate IPs otherwise you will see buckets not getting resolved due to local IP clashes.

[2019-07-30 19:39] maihde commented on #7995
@harshavardhana I had already considered that as a possibility.  When I inspected the code I found the etcd entries were storing both IP address and Port.

[code]

And web-handlers.go are using that port number to when creating the remote client, for example:

[code]

This all implies that MinIO federation is considering both the IP and port when doing federation and making an extra effort to crea

[2019-07-30 19:57] harshavardhana commented on #7995
Top-level is just a list in etcd @maihde - it is not a requirement for us to support such scenarios as mentioned here - will make existing code trickier.  So we would rather not support the same hosts being federated simply because it's meaningless from a production deployment point of view.

You will not be able to reproduce this across different machines simply because the federation setup will

[2019-07-30 20:12] kannappanr commented on #7998
@MarsWarrior You have your credentials set as environment variable. You cannot change credentials in config.json

[2019-07-30 21:34] maihde commented on #7995
@harshavardhana @kannappanr I appreciate that this use case might appear meaningless, I believe it's presumptive to declare that such a feature has no valid production scenarios.

I took a look at this in more detail.  Much of the existing code already uses both IP and port anyways (because even in a multi-host scenario the remote server might use a different port).

In my initial investigation th

[2019-07-30 21:45] harshavardhana commented on #7995
Agreed we can take the PR in, but it is recommended that you would never do this in production and it creates unnecessary complexity. In our experience production deployments fail when they are configured in too many different ways.

So please send a PR @maihde we shall accept this change anyways.

[2019-07-30 22:11] theAkito opened #8000 "build github.com/minio/minio: cannot load archive/zip: cannot find module providing package archive/zip"
## Expected Behavior

Install minio from source.

## Current Behavior

Cannot find module `archive/zip`, i.e. cannot install minio.

## Possible Solution

Provide package `archive/zip`

## Steps to Reproduce (for bugs)

1.
[code]

## Context

Installing minio.

## Regression

Minio used to work a couple of months ago through the same installation method on the same device. Don't remember more.

##

[2019-07-30 22:44] haneefkassam commented on #7642
Sorry for the bump, but I'm noticing a similar issue with the minio server and minio gateway azure.  I'll try to dig into it a bit more in the next few days, but this may be a blocker.  Tried it on the docker build RELEASE.2019-07-24T02-02-23Z, also using v2.5.X of the aws s3 sdk.

[2019-07-30 22:45] maihde commented on #7995
Thanks @harshavardhana.  I am in complete agreement about your comments
regarding production deployments and minimizing complexity.   While the
use-cases for this are narrow, I believe it's nice to have the federation
code work consistently regardless of how the servers are deployed.

I appreciate your willingness to accept the PR.  After I have finished
additional testing (along with adding appro

[2019-07-30 23:12] harshavardhana commented on #7642
start the server with `--compat` option if you want AWS S3 behavior @haneefkassam

[2019-07-31 00:20] kannappanr commented on #8000
@Akito13 Will try to repro the issue. What version of `golang` are you using? I tried it on 1.12.1 and it works.

[2019-07-31 00:27] theAkito commented on #8000
@kannappanr
[code]

[2019-07-31 01:50] #7991 closed, assigned to harshavardhana

[2019-07-31 01:51] malake opened #8002 "Client SSL Auth for Notification Events"
**Is your feature request related to a problem? Please describe.**
I need to send event notifications to elasticsearch/kafka/etc. but those platforms are configured to only accept certificate based client authentication.

**Describe the solution you'd like**
I would like the ability to send event notifications to Elasticsearch with a private key and certificate as user credentials.

**Describe alt

[2019-07-31 01:52] malake commented on #8002
@harshavardhana, for your reference. Thanks!

[2019-07-31 01:55] harshavardhana commented on #8002
Thanks for diligently opening the issue @malake

[2019-07-31 07:57] mrceresa commented on #7996
Thanks @harshavardhana for your prompt reply.

Just a couple of questions to elaborate on that:
* Minio standalone works with no problem on the same configuration. Does it not need O_DIRECT?
* How do I create a high-availability deployment in this case: do I run it in distributed mode + NASgateway or standalone+NAS and several replicas?

Thanks and regards,
Mario

[2019-07-31 08:02] harshavardhana commented on #7996
Minio standalone is made to work on NAS like backends on purpose without the requirement of O_DIRECT @mrceresa

You deploy multiple NAS gateway instances pointing to same shared NAS - each gateway can be concurrently accessed and we manage the locking by using Filesystem locks.

[2019-07-31 09:11] MarsWarrior commented on #7998
I have several environments: In some this simply works, in some it doesn't.

I'm enabling mqtt and postgresql entries in the configuration. I don't change the credentials which I do have setup in the docker container environment variables.

This is what I'm used to do & get as result:
![image](https://user-images.githubusercontent.com/1220775/62199108-356e0080-b383-11e9-8534-5da90a45df3d.png)

[2019-07-31 09:21] harshavardhana commented on #7998
In some environments, you have access/secret set in ENV to a different value than provided in the `/tmp/myconfig` if you keep the creds same then you will able to set mqtt and postgresql.

[2019-07-31 09:46] MarsWarrior commented on #7998
That is weird, as I have NEVER have touched the config file for credentials.

I will check the config file for credentials on all systems!

[2019-07-31 10:18] MarsWarrior commented on #7998
Right. I did the check and the credentials where completely different from the credentials in the environment variables. How is that possible 😩

So MinIO doesn't check the environment var's with the ones in the `config.json` file and uses the environment variables, unless you try to modify the configuration.

I would expect MinIO to check this @ startup 😄

As you can see (including --debug), after

[2019-07-31 10:21] harshavardhana commented on #7998
Here are scenarios to remember

- Env is set and you freshly start MinIO config.json preserves the ENV
- Env is set after the MinIO was already initialized it would start with a default creds (this is only in standalone mode, the distributed mode doesn't support auto credential generation) - Env is honored and you should make sure that your config.json reflects the server creds when updating notif

[2019-07-31 10:31] MarsWarrior commented on #7998
I will remember those...

But it still is weird: the demo environment setup in vmware had these problems, the same demo environment in hyper-v simply did not.

Both where setup using compose files (of course with environment var's setup) and manually using Portainer. In BOTH cases the vmware environment gave troubles.

Now I know what to check and know how to fix it and I can create working demo a

[2019-07-31 11:06] harshavardhana commented on #7998
We can't tell the intention here @MarsWarrior what we follow today is best practices style.

WE are changing the `mc admin config set` behavior in upcoming releases starting with #7963 where you would set notification and other features independently - do not have to deal with an entire `config.json`.

For now, will close this issue as resolved.

[2019-07-31 11:06] #7998 closed, assigned to nobody

[2019-07-31 11:15] MarsWarrior commented on #7998
Agreed. Issue solved for me.

Thanx again!

[2019-07-31 12:56] mrceresa commented on #7996
All set: thanks a lot!

[2019-07-31 12:56] #7996 closed, assigned to nitisht

[2019-07-31 13:51] kattakarthik opened #8005 "ARM64 : Minio server crashes randomly"
Minio server is terminating randomly on ARM64 platform. Built the latest code on ARM64 platform and used for testing.The deployment type is "distributed mode".
In a week testing on 6 nodes, 3 servers crashed.
The load was moderate when these crashes happened.

Log messages ::
-------------------------------------------------------------------------------------------
goroutine 338370336 [IO wait]:

[2019-07-31 15:25] vadmeste commented on #8005
@kattakarthik, the stack trace that you pasted is not the one which caused the crash, can you paste all the logs that you can find ?

[2019-07-31 16:30] ox-michaelradionov commented on #7962
@kanagarajkm Yes, it seems to be working fine with 512mb. Thanks a lot.
@nitisht Sorry, I was not able to try distributed setup, but I guess by case is closed.

Thank you for you help.

[2019-07-31 16:30] #7962 closed, assigned to kanagarajkm

[2019-07-31 23:45] jleach opened #8007 "How do you change the URL for presigned get object?"
Hey,

I'm running minio on k8s (with Traefik as my reverse proxy) when I create a presigned URL I get `http://minio.test.svc:9000/delivery/` where as I want `https://example.com/delivery`. I don't think its clear in any of the docs how to configure this properly. Or to put it another way, I want minio to generate a internet routable URL with the proper protocol (SSL) for my presigned URL.

From re

[2019-08-01 00:05] haneefkassam commented on #7642
Worked like a charm! (at least for the server...still need to verify with azure).  Thank you! :)

[2019-08-01 02:53] heavenwing opened #8011 "Support China Azure for Gateway"
**Is your feature request related to a problem? Please describe.**
Without this feature, I cannot use gateway in ChinaAzure

**Describe the solution you'd like**
I can run gateway for ChinaAzure

**Describe alternatives you've considered**
Only run server mode

**Additional context**
None

[2019-08-01 03:41] SCDealy opened #8012 "Recommend S3 compatibility by default"
**Is your feature request related to a problem? Please describe.**
The default configuration of a program should be the one which causes the least problems for most users, particularly new users. As MinIO is put forward as: "compatible with Amazon S3 APIs", I believe this should be its default behavior to avoid confusion. Currently you must give the "--compat" option to get full S3 compatibility.

[2019-08-01 06:19] kattakarthik commented on #8005
[minio_log.txt](https://github.com/minio/minio/files/3455168/minio_log.txt)

Here is the complete log.. Hope it helps to root cause the issue @kannappanr

[2019-08-01 10:42] vadmeste commented on #8005
Most likely, a C dependency is causing the issue in ARM64

[2019-08-01 10:49] kattakarthik commented on #8005
Do you have any suggestions for us to try ?

[2019-08-01 11:29] vadmeste commented on #8005
@kattakarthik did you enable compression or encryption in your Minio setup ?

[2019-08-01 11:47] kattakarthik commented on #8005
@vadmeste  We just built the binary from source and ran it on arm64. Didn't change any default config.

[2019-08-01 11:59] kattakarthik commented on #8005
The binary was built on one machine and same is used across all machiens. The other machines don't have Go installed on them.  Is it required to have Go installed on all machienes ??

In a week testing 3 out of 6 server instances terminated with this error..

[2019-08-01 13:00] harshavardhana commented on #8005
@kattakarthik can you build MinIO binary with CGO_ENABLED=0 ?

[2019-08-01 13:20] kattakarthik commented on #8005
GOPROXY=https://proxy.golang.org GO111MODULE=on
CGO_ENABLED=0
go get github.com/minio/minio

You mean add the above flag in this command ??

Will there be any impact to the already synced data if we restart minio after building the way you suggested ??

[2019-08-01 13:28] harshavardhana commented on #8005
yes it should be one line
[code]

[2019-08-01 13:32] kattakarthik commented on #8005
Got it.
Will there be any impact to the already synced data if we restart minio after building the way you suggested ??

[2019-08-01 13:34] harshavardhana commented on #8005
@kattakarthik there shouldn't be any.

[2019-08-01 14:29] kannappanr commented on #8011
@heavenwing Will take a look and get back to you.

[2019-08-01 14:32] kannappanr commented on #8007
@jleach In general, you can create pre-signed URL for any S3 endpoint and with any credential and region. Can you elaborate more on how you are trying to do this?

[2019-08-01 14:36] jleach commented on #8007
In my API service I'm using the minio SDK for nodejs; I call `presignedGetObject` which returns a signed URL. My API is being run in a k8s cluster so I'm using the service name `minio.test.svc:9000` to reach the host. I'd like to return the URL to the Web so that users can download a file but since the URL is not internet routable this wont work and I can't change it because its signed.

I could r

[2019-08-01 14:43] kannappanr commented on #8007
[code]

The above code will run and generate a pre-signed url. It does not connect to any S3 server. Please change it to the values that you want.

[2019-08-01 16:42] jleach commented on #8007
Thanks @kannappanr. I have that much working but because I use the service name to connect `minio.test.svc` the URL I get back uses the service name; and won't work outside of the cluster. I suppose I could use the internet routable URL to connect form inside the cluster but that, I don't think, is the best way to do it because it needs to go out of the cluster then get routed back in.

Would be c

[2019-08-01 17:56] akalongman opened #8014 "Laravel: Listing objects fails with SignatureDoesNotMatch"
I have environment according to this manual https://github.com/minio/cookbook/blob/master/docs/how-to-use-minio-as-laravel-file-storage.md and when I try to list all objects in the bucket (via Laravel's `$diskInstance->files()`), I am getting the error `SignatureDoesNotMatch`. Writing objects works without issues.

## Expected Behavior
Should be listed objects.

## Current Behavior
Getting error `

[2019-08-01 18:03] maihde commented on #7976
On a similar note, I found that it doesn't require a three node setup.  Here is what I was trying to accomplish and encountered a similar error

1.    Setup 2 instances in federation mode (SetupA, SetupB)
2.    Create testA in SetupA
3.    Create testB in SetupB
4.    Upload fileA to testA

If the destination is on the remote node, the copy succeeds

[code]

However, if the source file is on a rem

[2019-08-01 19:46] poornas commented on #8011
@heavenwing, did you try `minio gateway azure https://azureaccountname.blob.custom.azure.endpoint` replacing  custom endpoint with your china endpoint? If you saw any error with this - can you paste the console message.

[2019-08-01 20:06] vadmeste commented on #8011
more precisely `https://azureaccountname.blob.core.chinacloudapi.cn` should work

[2019-08-01 20:50] jleach commented on #8007
I ended up just using the internet routable name inside the cluster. It just bounces off the router so it does not really add any overhead. Also, since minio is accessible via the internet it might actually be best to use the internet routeable host name for it.

[2019-08-01 20:50] #8007 closed, assigned to nobody

[2019-08-01 21:54] dvaldivia opened #8015 "[extension] Implement Append API"
Need to be able to append to an object.

[2019-08-01 22:09] kannappanr commented on #8014
@akalongman Will test this out and get back to you.

[2019-08-01 22:48] teury commented on #7986
Someone has used

OpenStack Storage (Swift)

This would be a real alternative to s3 with infinite scalability

[2019-08-01 23:11] deekoder commented on #7883
thanks @nitisht & @kaankabalak I am swapping assignees.

[2019-08-01 23:16] harshavardhana commented on #7986
MinIO considers its fundamentals from our early days at GlusterFS (most of us are from that early team) where we had to build a scalable NAS, we successfully built that but through our arduous experience realized that at scale such as around 1PiB or more - safely running clusters as soon as added disks with rebalancing led to instabilities in the system. This can be carefully observed that a direc

[2019-08-02 00:29] eco-minio commented on #8014
@akalongman Can you set this up to point to play.min.io and let us know the results?

[2019-08-02 01:28] heavenwing commented on #8011
@kannappanr I don't know can use custom endpoint before, but I tried now with https://azureaccountname.blob.core.chinacloudapi.cn, I got a error "ERROR Invalid argument: lookup [storageaccountname].blob.core.chinacloudapi.cn on 192.168.18.126:53: read udp 172.26.154.148:46955->192.168.18.126:53: i/o timeout. "

[2019-08-02 03:37] nodesocket opened #8016 "Distributed mode, loss of one node breaks uploads and server"
Running minio `2019-08-01T22:18:54Z` in distributed mode with 4 VM instances `minio1, minio2, minio3, minio4`. I start a 2GB file upload on minio1 via the web interface.

When I shutdown the minio3 VM during the upload on minio1, the upload stops and seems to disrupt service. I can refresh the web interface via minio1, but it just shows a loading spinner for the bucket:

<img width="1004" alt="Scr

[2019-08-02 03:52] nodesocket opened #8017 "Used storage metric in web interface is incorrect when running in distributed"
When viewing a bucket with two files one 1.28GB and the other 1.15GB, the web interface is showing `Used: 613.08 KB` which is obviously incorrect. Running in distributed mode with 4 VM's. Starting with simply:

[code]

<img width="1019" alt="Screen Shot 2019-08-01 at 10 50 06 PM" src="https://user-images.githubusercontent.com/523312/62343031-b970d700-b4ae-11e9-8546-8e00e0173bd8.png">

Running `Ver

[2019-08-02 04:18] harshavardhana commented on #8017
It is updated once in 12hrs if you want instantaneous updates use the entire disk

[2019-08-02 05:40] nodesocket commented on #8017
@harshavardhana, what do you mean use the entire disk? This is a distributed setup with 4 nodes. Thanks.

[2019-08-02 05:47] harshavardhana commented on #8016
Your understanding is correct, is `mc ls` commands working ?

[2019-08-02 05:48] harshavardhana commented on #8017
An entire disk is where your disk is mounted, if you provide a path relative to the disk we use crawling to calculate disk usage which is updated every 12 hrs.

[2019-08-02 05:50] harshavardhana commented on #8011
@heavenwing looks like your DNS doesn't resolve to this domain, do you have access to these domains ?

[2019-08-02 10:12] heavenwing commented on #8011
I can access theses domains outside container

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Harshavardhana <notifications@github.com>
发送时间: Friday, August 2, 2019 1:51:10 PM
收件人: minio/minio <minio@noreply.github.com>
抄送: Yongguang Zhu <heavenwing@msn.com>; Mention <mention@noreply.github.com>
主题: Re: [minio/minio] Support China Azure for Gateway (#8011)

@heaven

[2019-08-02 12:17] vadmeste commented on #8011
Something is clearly wrong in your setup, Minio is not able to resolve, can you try in your local machine instead of your container first ?

[2019-08-02 16:36] harshavardhana commented on #7976
The assumption here is that the virtual DNS for the source bucket would have resolved to right node, the issue is not related to GetObjectNInfo() not being aware. The issue is in bucket forwarding handler which should validate if the source is local or remote.

[2019-08-02 19:13] kattakarthik commented on #8005
[minio_log.txt](https://github.com/minio/minio/files/3462613/minio_log.txt)

@harshavardhana Rebuilt minio like the way you suggested. After ~10 hrs of run, the issue is still reproducible. Attaching the log file. Please have a look.

[2019-08-02 19:40] #7995 closed, assigned to harshavardhana

[2019-08-02 20:21] nodesocket commented on #8016
@harshavardhana all 4 minio servers running:

[code]

I am using `minio1` web interface and start a upload. Then I shutdown `minio3` VM server instance _(hard power off)_ and web interface can't load bucket contents. Just shows spinning loader.

Looking at chrome developer tools, the request to `http://minio1:9000/minio/webrpc` is just pending, eventually times out.

[2019-08-02 20:30] misuzu opened #8020 "Docker compose example is not working"
## Expected Behavior
Trying to run minio using docker-compose file from [this guide](https://docs.min.io/docs/deploy-minio-on-docker-compose.html) and it just stuck on `Waiting for configuration to be initialized..`

## Current Behavior
[code]

[code]

## Steps to Reproduce (for bugs)
1. Use this guide https://docs.min.io/docs/deploy-minio-on-docker-compose.html

## Your Environment

* Version use

[2019-08-02 20:36] harshavardhana commented on #8020
Is your backend a local disk or NFS?

[2019-08-02 20:58] misuzu commented on #8020
@harshavardhana local

[2019-08-02 20:59] harshavardhana commented on #8020
are you sure? can you share the yaml file?

[2019-08-02 20:59] harshavardhana commented on #8020
can you also share your docker default driver configuration? @misuzu

[2019-08-02 21:00] misuzu commented on #8020
@harshavardhana I took docker-compose.yaml from guide: https://raw.githubusercontent.com/minio/minio/master/docs/orchestration/docker-compose/docker-compose.yaml
There is no nfs or such on server

[2019-08-02 21:01] harshavardhana commented on #8005
This looks like a Go bug

[code]

A bug happened in garbage scanning which version of Go are you using?

[2019-08-02 21:04] harshavardhana commented on #8005
Apparently fixed in go 1.12 https://github.com/golang/go/issues/26243

[2019-08-02 21:05] harshavardhana commented on #8020
what is your default driver in docker?  @misuzu

[2019-08-02 21:07] harshavardhana commented on #8020
From what I can tell your default docker driver is the problem here - perhaps it doesn't support O_DIRECT.

[code]

here is how I tested locally on my laptop.

[code]

Can you do
[code]

And since its pointing to `/var/lib/docker/volumes/minio_data1/_data` where is `/var/lib` coming from, what is the filesystem used at `/var/lib/docker` ?

[2019-08-02 21:17] misuzu commented on #8020
@harshavardhana yeah, i'm using tmpfs on /var/lib/docker. On ext4 everything is working. This is a test server and tmpfs is just for speed, had not expected any issues from this :(
Thank you for your help!
There really should be some kind of error message though

[2019-08-02 21:17] #8020 closed, assigned to nobody

[2019-08-02 21:18] harshavardhana commented on #8020
Yeah definitely but if the backend failed then yes, in this case I/O should fail which is not failing in this situation.

[2019-08-03 01:07] kattakarthik commented on #8005
I used go1.12.7.linux-arm64 @harshavardhana

[2019-08-03 01:25] kattakarthik commented on #8005
This is the latest version available.
These two threads have the same issue reported earlier ::
https://github.com/thanos-io/thanos/issues/654
https://github.com/json-iterator/go/issues/140

This one particularly on arm :: https://github.com/golang/go/issues/21568
But the fix should be been there on latest release..
Not sure if I need to open a new ticket for this on Go ?

@harshavardhana

[2019-08-03 03:19] nitisht commented on #8017
closing this as answered @nodesocket feel free to join us on slack (https://slack.min.io) for any more questions

[2019-08-03 03:19] #8017 closed, assigned to nobody

[2019-08-03 03:30] harshavardhana commented on #8005
Okay this may require some deeper debugging.. @kattakarthik

[2019-08-03 06:55] kattakarthik commented on #8005
Ok. I just posted the same error on Go and here is the reply ::

"This error indicates some sort of memory corruption. By far the most common causes are incorrect uses of unsafe.Pointer, incorrect uses of cgo when calling C code, and incorrect C code."

I will be able to provide any debug logs you need to root casue it.

[2019-08-03 06:58] harshavardhana commented on #8005
We don't depend on Cgo code most probably one of our libraries is using unsafe.Pointer which may lead to this bug in some manner.  @kattakarthik

[2019-08-03 08:02] Meshkati opened #8022 "Change the 5MB Part size limitation"
hi, there is a limitation of 5MB per part of multipart upload on S3 API. Is there any solution to change this limitation on minio? I didn't find anything on minio configs :(

[2019-08-03 08:06] harshavardhana commented on #8022
AWS S3 API mandates all multipart object sizes to be 5MiB or higher excluding the last part which can be lesser than 5MiB.

We just implement as per the API spec, there are no foreseeable future plans to change this.

[2019-08-03 08:14] Meshkati commented on #8022
Thanks, do you know the reason behind this decision? Why it can't be smaller than 5MB :( ?

[2019-08-03 08:23] harshavardhana commented on #8022
Honestly, don't know @Meshkati - there can be many reasons. Going to close this issue, there nothing actionable on our end.

[2019-08-03 08:23] #8022 closed, assigned to nobody

[2019-08-03 14:39] das7pad opened #8023 "[browser] favicon request routing broken"
## Expected Behavior
Favicon data returned on favicon routes, e.g. `/minio/favicon-32x32.png`

## Current Behavior
403 returned

## Possible Solution

## Steps to Reproduce (for bugs)

1. request `http://HOST:PORT/minio/favicon-32x32.png`

## Context

The PR #7408 is likely missing the white listing of the added routes for favicons.

## Regression

Yes, #7408

## Your Environment

* Version used (

[2019-08-03 14:45] das7pad commented on #8023
Found it:

https://github.com/minio/minio/blob/414a7eca839dbc70653fbbfc6ed273440ccdebb9/cmd/web-router.go#L59

PR has landed in #8024 .

[2019-08-04 00:43] CyberCyclone commented on #7986
Thanks for the explanation @harshavardhana. I'd like to keep the conversation in here so that if someone else has the same situation as me hopefully they can understand it from here.

From what I'm understanding from the explanation, if we're talking about large data sets (close to the PiB), then adding nodes to the cluster is simply not practical? E.g, it has to reconfigure the existing data? I g

[2019-08-04 04:19] haosdent opened #8025 "Is HDFS gateway suitable for small files?"
## Expected Behavior

Use HDFS SequenceFile to reduce small file impact for HDFS.

## Current Behavior

I saw now for every new file, the implementation of HDFS gateway would create an indivual file directly. Because the block size of HDFS is 256MB, this would waste a lot of space and bring high pressure for Hadoop Namenode.

[2019-08-04 04:39] harshavardhana commented on #8025
@haosdent HDFS gateway primarily is meant for read-only use cases it is not meant to do anything special on HDFS if you upload 1GiB we just stream it to HDFS nothing special gets added to the file on HDFS.  So any object that is uploaded it is uploaded as-is.

The idea is that tomorrow if you remove HDFS gateway your files are kept as is and are accessibly using HDFS tools. So we make sure that yo

[2019-08-04 04:53] harshavardhana commented on #7986
It isn't that simple, what you are suggesting is a hashing less model which has lookup(N) issue when you need to figure out where really the file exists,  being software we have no way of knowing where the object exists in a namespace, so it becomes lookup(N).  In GlusterFS we used elastic hashing which is where we had to rebalance the hashes when disks get added but this had other complications w

[2019-08-05 03:20] kattakarthik commented on #8005
Thanks @harshavardhana ...  Wonder how can we root cause this ? This is blocker for our POC on ARM.. Can I enable any debug flags and run this which may give you more info than present stack trace ?

[2019-08-05 03:55] harshavardhana commented on #8005
We should talk on this more @kattakarthik can you please join us as https://slack.min.io and ping me there `y4m4`

[2019-08-05 12:29] safaribaer commented on #8000
@Akito13
your GOROOT is wrong. Probably too short. It should point to the directory where it contains the src lib and api folder.
I made the same error. Compilation worked on my raspberry with this:
[code]
The go binary was a link to  /usr/local/bin/go from /opt/src/go/go/bin/go
hth

[2019-08-05 18:35] theAkito commented on #8000
@safaribaer
BIG THANK YOU!

You reminded me that about a year ago I had to set the _GOROOT_ for a project and since then it is broken. I don't know how to fix it without purging and re-installing Go, entirely. In my case I often have to set an empty _GOROOT_ like this:

[code]

Now it worked.

[2019-08-05 18:35] #8000 closed, assigned to nobody

[2019-08-05 18:43] harshavardhana commented on #8025
Nothing actionable from our end, closing this issue.

[2019-08-05 18:43] #8025 closed, assigned to nobody

[2019-08-05 22:02] krishnasrinivas commented on #8016
@nodesocket what underlying virtualization are you using for VMs?

[2019-08-05 22:26] nodesocket commented on #8016
@krishnasrinivas running on Amazon EC2 instances.

[2019-08-05 22:43] kannappanr commented on #8011
ping @heavenwing

[2019-08-06 02:01] heavenwing commented on #8011
I tried same command in Azure China VM, it's working.
I think that maybe Docker Desktop for Windows (v2.0.5) have some unknown problem,  so this command is not working in my local Windows 10 computer.

[2019-08-06 04:24] woodgear commented on #5180
how should i do this via sdk(js)?
[code]

[2019-08-06 05:42] nitisht commented on #7993
@greg-dobedobedo I tried this locally on a Swarm cluster and seems to be working. Can you please provide the output of `netstat -ntlp` from within one of the MinIO containers?

[2019-08-06 09:23] gregopenit commented on #7993
Hello @nitisht

Here is the output. Note that I disabled the healthcheck and minio works fine.

[code]

[code]

[2019-08-06 10:41] Joozty opened #8030 "MultiPart upload gives Internal Errors"
I am getting from time to time internal errors from Minio API when using multipart upload. It's hard to replicate because it happens irregularly without any pattern (or at least I don't see any).

## Expected Behavior
To not fail I guess.

## Current Behavior
When I use multipart upload via Minio python client I get this error from Minio server (not sure why there are so many new lines at the begg

[2019-08-06 11:17] nitisht commented on #7993
Thanks @greg-dobedobedo we'll send a fix

[2019-08-06 11:18] nitisht commented on #8030
Thanks for reporting @Joozty we'll take a look. Which MinIO mode are you running it in?

[2019-08-06 11:29] Joozty commented on #8030
I am not sure about the mode but my current setup is a cluster of four servers. every server runs in docker container.

[2019-08-06 11:54] Praveenrajmani commented on #8030
@Joozty Your MinIO version looks pretty old. Can you try the latest version and see if the problem still exists?

[2019-08-06 12:18] gregopenit commented on #7993
Good news @nitisht. Could I know more about the cause ?
Is it related to IPv6 and this error message `netstat: /proc/net/tcp6: No such file or directory` ?

[2019-08-06 13:56] kannappanr commented on #5180
@woodgear Here is the policy

[code]

Replace `mybucketname` with the appropriate bucket name

[2019-08-06 19:10] Nepoxx opened #8031 ""timeout awaiting response headers" on some PUT requests"
## Expected behavior
PUT requests succeed
## Actual behavior
Gitlab is unable to upload some files to minio and fails with the following information:

[code]

## Steps to reproduce the behavior
Happens frequently when gitlab tries to upload artifacts

## mc version
- Version: 2019-06-12T20:35:20Z
Release-tag: RELEASE.2019-06-12T20-35-20Z
Commit-id: ca26dac8e2e7d2e9b2d888e82f9edbf0873b7d2e

## Serv

[2019-08-06 19:19] harshavardhana commented on #8031
Does this happen without proxy @Nepoxx ?

[2019-08-06 19:28] harshavardhana commented on #8005
@kattakarthik how are things going?

[2019-08-06 20:13] Nepoxx commented on #8031
Yes it does, I've tried bypassing the load balancer and hitting a single instance directly, with the same result.

[code]

I am getting some
[code]

Using `mc admin trace -v myminio`

[2019-08-06 20:16] harshavardhana commented on #8031
Hmm interesting, is this reproducible consistently? @Nepoxx

[2019-08-06 20:17] Nepoxx commented on #8031
@harshavardhana Yes, but not 100% of the time (maybe when my artifacts don't require multi-parts).

This issue on Gitlab seems to imply to use `--compat`  https://gitlab.com/gitlab-org/gitlab-ce/issues/58511 but unfortunately I am already using `--compat` (unless there's a regression in the latest minio release?)

[2019-08-06 20:20] harshavardhana commented on #8031
--compat is not meant to do anything here @Nepoxx it is meant for md5sum and Etag related stuff

[2019-08-06 20:23] harshavardhana commented on #8031
How does one reproduce this? @Nepoxx

[2019-08-06 20:24] Nepoxx commented on #8031
This is where it is mentioned: https://gitlab.com/gitlab-org/gitlab-workhorse/merge_requests/398#note_197886128

[2019-08-06 20:25] Nepoxx commented on #8031
My apologies, I thought you meant it was reproducible in the sense that it happens more than once.

I'll try to create a reproducible setup.

[2019-08-06 20:26] harshavardhana commented on #8031
yes but is not the issue here @Nepoxx  - that is a gitlab bug to rely on PUT to be md5sum

[2019-08-06 20:56] Nepoxx commented on #8031
Issue exists in `minio/minio:RELEASE.2019-07-17T22-54-12Z` which I know used to work, so either something is broken in my setup or gitlab has made a breaking change.

Sorry for the bother.

[2019-08-06 20:56] #8031 closed, assigned to nobody

[2019-08-06 21:04] harshavardhana commented on #8031
Please re-open if you are not able to fix this issue.

[2019-08-07 03:52] kattakarthik commented on #8005
The issue didn't occur in last 24 hrs testing.. I will have to monitor it for 2 more days and see.
I will keep you posted.

[2019-08-07 11:22] kattakarthik commented on #8005
[minio_log.txt](https://github.com/minio/minio/files/3476703/minio_log.txt)
Oops.. it crashed again.. Here is the log.. @harshavardhana

[2019-08-07 11:28] kattakarthik commented on #8005
[minio_log_7Aug.txt](https://github.com/minio/minio/files/3476739/minio_log_7Aug.txt)
One more instance of crash... You can see stack trace at the end of this log..
@harshavardhana

[2019-08-07 13:20] vadmeste opened #8034 "Using ellipses uses two sets in 16 disks config"
## Expected Behavior
Having two nodes and 16 disks should create one erasure set

## Current Behavior
Using ellipses in server arguments can give two erasure sets with 16 total disks

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
1. minio server /tmp/xl/foo/{1...8} /tmp/xl/bar/{1...8}
2. Check format.json for number of earsure sets

## Context
An issue found while investigatin

[2019-08-07 15:16] harshavardhana commented on #8034
This is part of the design @vadmeste not a bug, it is implemented to provide rack isolation.

[2019-08-07 15:19] iahmad-khan commented on #4120
Hi,

Why is this closed? does mean we can't have caching for minio?

[2019-08-07 15:24] harshavardhana commented on #8034
https://github.com/minio/minio/blob/master/docs/distributed/DESIGN.md#advanced-use-cases-with-multiple-ellipses

Distributed erasure coded configuration with no rack level redundancy but redundancy with in the rack we split the arguments, 32 sets in total, 16 disks per set.

[code]

v/s

Distributed erasure coded configuration with rack level redundancy 32 sets in total, 16 disks per set.
[code]

[2019-08-07 15:29] harshavardhana commented on #8034
Each argument if split means that user wants to isolate disks, and nodes. Server currently complains if all disks are local that user has deployed in a sub-optimal order. Such that successive disks are local on the command line, so user would have simply ignored this message.

This happens generally because users didn't try to enumerate either their IPs or work on providing proper DNS names to all

[2019-08-07 15:33] harshavardhana commented on #4120
@iahmad-khan it is closed because it's not MinIO issue

[2019-08-07 16:06] harshavardhana commented on #8005
When you said testing, is there any I/O activity in progress for the entirety of the server run ?

[2019-08-07 16:13] harshavardhana commented on #8005
Also this time can you redeploy the binary compiled with `-race` flag on ?

[2019-08-07 18:20] vadmeste commented on #8034
yes, understood, closing this issue.

[2019-08-07 18:20] #8034 closed, assigned to nobody

[2019-08-07 18:52] kmatt opened #8035 "Cluster showing 16 Exabytes with 12 TB of disk"
A new 3 node cluster with 12 1TB disks and no objects written is reporting "16 EiB" disk used:

## Expected Behavior
Zero bytes used (or close to it)

## Current Behavior
[code]

## Steps to Reproduce (for bugs)
1. Stop cluster:
    service minio stop
2. Wipe all disks in cluster:
    for d in {1..4}; rm -rf /export${d}/*; rm -rf /export${d}/.*; done
3. Upgrade Minio:
    sudo minio update
4. Rest

[2019-08-07 18:53] harshavardhana commented on #8035
what is the filesystem used here @kmatt ? can you provide the output of `df -h`  and `df` output?

[2019-08-07 18:54] kmatt commented on #8035
Each disk is formatted as XFS:

[code]

[2019-08-07 18:55] harshavardhana commented on #8035
can you also provide `xfs_info` output? @kmatt

[2019-08-07 18:56] kmatt commented on #8035
[code]

[code]

[2019-08-07 18:57] harshavardhana commented on #8035
@kmatt would you be able to run a program? attached here?

[2019-08-07 18:57] kmatt commented on #8035
Yes. Attach?

[2019-08-07 18:58] kannappanr commented on #8011
@heavenwing Not sure what is wrong with Docker Desktop for Windows. Can you try the same test bypassing Docker and do it on the Windows machine or a Linux machine if you have access to one?

The latest release can be found at https://dl.minio.io/server/minio/release/windows-amd64/minio.exe

[2019-08-07 19:05] harshavardhana commented on #8035
[stat.tar.gz](https://github.com/minio/minio/files/3478521/stat.tar.gz)

@kmatt run it like this

[code]

[2019-08-07 19:06] harshavardhana commented on #8035
please do this across all drives across all nodes.

[2019-08-07 19:13] kmatt commented on #8035
[code]

[code]

[code]

[2019-08-07 19:21] harshavardhana commented on #8035
[code]
Looks like this is wrong here your Free is bigger than Total @kmatt - your all other disks are fine. Is there any corruption on the disks?

[2019-08-07 19:28] harshavardhana commented on #8035
For example pick this value

[code]

Here from the calculation

Free
[code]

Total
[code]

Leads to

[code]

Which is why its giving the maximum value used already @kmatt

[2019-08-07 19:29] harshavardhana commented on #8035
Can you do `xfs_info /export1` on the 3rd node? @kmatt

[2019-08-07 19:30] kmatt commented on #8035
Is that free vs total condition from the 3rd set of data (3rd node)?:

[code]

[2019-08-07 19:31] kmatt commented on #8035
For comparison, the 2nd node which is identical hardware:

[code]

[2019-08-07 19:34] harshavardhana commented on #8035
@kmatt  if you look at the difference in the output you shared - I picked the one that is offending - I am not entirely sure which server they are from. I assumed they are in order of the nodes.

Can you run `xfs_repair` and run the `stat` again?

[2019-08-07 19:35] kmatt commented on #8035
It does look like I have a local problem:

[code]

Will run `xfs_repair` and report back here.

[2019-08-07 19:42] kmatt commented on #8035
Unmounted and ran `xfs_repair` on all disks assigned to Minio, and now cluster appears normal:

[code]

Problem was (a yet undetermined) disk config problem on my end. Apologies for the noise!

[2019-08-07 19:43] harshavardhana commented on #8035
Definitely, perhaps we will add a warning here @kmatt its overflowing issue as well here

[2019-08-08 07:38] heavenwing commented on #8011
@kannappanr I tried it on the Windows command line directly, meet same issue #7622 , must use same workaround to fix.

[2019-08-08 07:49] heavenwing commented on #8011
I known reason , I used [LCOW ](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10-linux) to run minio, maybe LCOW's network is special, so minio cannot access these domain.
If I use linux docker, it's working

[2019-08-08 10:09] citiz3nn opened #8039 "The cluster crash and still in CrashLoopBackOff"
We have a MinIO cluster in Kubernetes environment :
- 1 cluster
- 4 pods
- 1 cronJob (Every day at 1:00 pm)

## Expected Behavior
Work perfectly :P

## Current Behavior

Every 1 week about, the pods crash one after the other.
We can see in the logs pods those errors :

- Runtime and GoRoutine (when cluster crash):
[code]

- Incomplete body
[code]

- Connection Refused (Because in crash status I th

[2019-08-08 10:27] vadmeste commented on #8039
@briareosiso the stack trace that you pasted doesn't include the reason of the crash, could you paste all the logs that you have and we can inspect them

[2019-08-08 12:15] citiz3nn commented on #8039
We had an other crash (x4 CrashLoopBackOff), @vadmeste I give you the logs. No logs for minio-{0,1}.

[minio-2.log](https://github.com/minio/minio/files/3481625/minio-2.log)
[minio-3.log](https://github.com/minio/minio/files/3481626/minio-3.log)

[2019-08-08 13:06] vadmeste commented on #8039
@briareosiso there is also no stack trace ins the new logs that you posted, only normal Minio logs.

minio-2 and minio-3 were just waiting for other minio servers to run.

[2019-08-08 13:07] citiz3nn commented on #8039
With MC, we have those logs :

- `12:59:19.559 [200 OK] internal.Lock minio-0.minio.svc.cluster.local:9000/minio/lock/v2/lock?resource=logstash-output%2Finf%2Fnginx%2F2019%2F08%2F08%2Fnginx-ingress-prod-controller-74c5547567-887gv%2Fls.s3.XXX.2019-08-08T12.19.part2.txt.gz&serverAddr=minio-2.minio.svc.cluster.local%3A9000&serverEndpoint=%2Fminio%2Flock&source=%5Bxl-v1-object.go%3A508%3AxlObjects.Pu

[2019-08-08 13:09] vadmeste commented on #8039
@briareosiso can you make sure that all your servers are running first ?

`mc admin info your-alias/`

[2019-08-08 13:17] citiz3nn commented on #8039
@vadmeste. Yes, They're running. But they alternate between running/CrashLoopBackOff.

[2019-08-08 13:24] vadmeste commented on #8039
The automatic restart is probaby the reason why logs disappear, you can probably stop automatic restart to see what's going on. It is not clear what is causing Minio containers to die

[2019-08-08 13:26] nitisht commented on #8039
@briareosiso can you try kubectl describe pod <minio-pod-name> and let us know the output, that may have some clue

[2019-08-08 15:13] vsfalexanderpilch opened #8041 "Sts AssumeRoleWithWebIdentity call is returning expiration date in wrong format"
Minio is returning the date in an invalid format. This is happening when we're executing an AssumeRoleWithWebIdentity request via AWS Java SDK (version 1.11.605). As a result, the AWS SDK isn't able to parse the expiration date and it's setting it to null instead. There's also an error message on the console. See attached text document for details. The expiration date is the one from the access to