[2018-09-20 19:19] harshavardhana commented on #6504
[code]

CSV used is available here

[2018-09-20 23:20] kannappanr opened #6507 "Setting a config key should not trigger a restart of minio on the server side"
## Description
Currently we restart minio on the server side if a config key is updated. This needs to be removed and the user should be prompted to restart the server manually on the client side.

## Context
We allow the user to set individual keys in the config and restarting upon each update is not correct. So, the user will set all the keys and then issue a restart.

## Regression
No

[2018-09-21 00:31] tylerforsythe commented on #6490
I ran it for about 4 hours today. Memory consumption maybe seemed better but was still escalating. I terminated it to get the log. I then started it again and will just let it go this time to see how long it lasts.

Below is the mem log file, as well as a screenshot of: the environment variable to make sure it was done correctly, the PowerShell window I started minio from, and the Task Manager sho

[2018-09-21 03:44] tylerforsythe commented on #6490
Quick update: it crashed as usual after about ~6 hours.

[2018-09-21 04:00] harshavardhana commented on #6490
Thanks do you have an estimate on how many directories and files do you have on these volumes?

[2018-09-21 04:06] harshavardhana commented on #6490
[code]

[code]

Looks like it didn't help, Go is allocating way more than it can handle in garbage collection. Let me think about a solution.

[2018-09-21 04:45] harshavardhana commented on #6490
[code]

[code]

From what it looks like there are 20 million directories assuming they are each upto 1k string size, also are these directories in the same top level directory? how many nested directories do you have? overall from what it looks like you have many files in the same top level directory without hierarchy?

[2018-09-21 05:35] tylerforsythe commented on #6490
20 million directories seems really high. It's a backup of my personal files (pictures, music, documents, source code, etc). There's a lot but I just can't imagine 20 million unless my backup software is getting super-crazy (I didn't write backup software, unfortunately). Is there a command I can run to ask minio to count? Whenever I do `mc admin info local` the "Storage" value is different every

[2018-09-21 05:36] tylerforsythe commented on #6490
Also, I'm **extremely grateful** for the time and effort you're spending on this. If it reaches a point where it's just not worth it for you to pursue further, I understand.

[2018-09-21 07:56] harshavardhana commented on #6490
Does your backup software also list files on a regular basis? how often does it do that? - I don't think the above value is true because from what i can see readDir() is returning a lot of entries.

Let me provide a debug binary which might provide a good indication here @tylerforsythe about the number of objects/directories.

[2018-09-21 15:43] tylerforsythe commented on #6490
Hmm, I'm not sure how often it lists files, but I can completely disable it for a few days/weeks if you think that would help.

Looking forward to the debug build. Thanks again.

[2018-09-21 16:57] vadmeste opened #6510 "xl: mem leak after multiple HEAD calls"
## Expected Behavior
Memory consumption stable in all cases

## Current Behavior
Increasing memory consumption after multiple HEAD calls

## Possible Solution
Cleanly close getObject() operation in xl.GetObjectNInfo

## Steps to Reproduce (for bugs)
1. Upload a large file (10 MB) to Minio server
2. HEAD that object multiple times and monitor memory consumption with top

[code]

## Context

## Regr

[2018-09-21 17:00] ghost commented on #6328
@vadmeste I cannot share the code because its proprietary, but i can describe it. Its a typical fire and forget docker container architecture. Separating the code in a way that would be okay to post here would be cumbersome. The objects uploaded and downloaded to minio are between 5-11mb.

[2018-09-21 17:29] ddzialak opened #6512 "Updating object metadata (copy object into self) cause loosing ETag in response"
After updating metadata on object (copying into self with REPLACE directive) next GET OBJECT operations doesn't return ETag in the response.

## Expected Behavior

GET OBJECT operation should always return ETag header

## Current Behavior

GET OBJECT doesn't return ETag header

## Possible Solution

## Steps to Reproduce (for bugs)

1. Upload object
2. Copy object to itself
3. Get object and check

[2018-09-21 17:31] ddzialak commented on #6512
Script to reproduce that bug:
[code]

[2018-09-21 17:35] harshavardhana commented on #6512
This is an very old release, you would have to upgrade this problem is already fixed.

[2018-09-21 18:03] kannappanr commented on #6512
@ddzialak https://github.com/minio/minio/pull/5626 has the fix. Any release from RELEASE.2018-03-12T21-25-28Z onwards should have this fix. Closing this as working as intended.

[2018-09-21 18:03] #6512 closed, assigned to nobody

[2018-09-21 18:43] #6280 closed, assigned to ebozduman

[2018-09-21 22:13] vadmeste commented on #6510
Fixed by https://github.com/minio/minio/pull/6513

[2018-09-21 22:13] #6510 closed, assigned to donatello

[2018-09-21 23:13] harshavardhana commented on #6490
@tylerforsythe can you download the attached binary? and please provide the output of console attached here?  [minio.zip](https://github.com/minio/minio/files/2407279/minio.zip)

[2018-09-22 16:18] tylerforsythe commented on #6490
It's running now and logging to a file. How long should I let it run? Until it crashes? It's been running a little over an hour and the out file that the console is logging to is currently 2 GB.

[2018-09-22 17:28] harshavardhana commented on #6490
2GB is good enough. You can stop and use the released binary for now.

[2018-09-22 19:12] tylerforsythe commented on #6490
Excellent. Here is a link to download the compressed log file (225 MB). Uncompressed it is 7.5 GB, so watch out. :)
https://s3.amazonaws.com/randomtyler-public/minio_debug_out.7z

[2018-09-22 21:15] bearmoo-cloud-net commented on #6477
[trace.log.gz](https://github.com/minio/minio/files/2408169/trace.log.gz)

[2018-09-22 21:15] bearmoo-cloud-net commented on #6477
Hi harshavardhana,

I've uploaded the logs as requested.

[2018-09-23 10:20] harshavardhana commented on #6477
@bearmoo-repo all responses seem to be 200 OK where do you see an error?

[code]

[2018-09-24 05:49] kanagarajkm commented on #6501
@ciaoben Can you provide more information about the setup like, type(distributed), ssl, minio version etc.

[2018-09-24 07:11] kanagarajkm commented on #6476
@ilya-sharonov can you remove `JSON.stringify` and check again. The code should look like following

[code]

[2018-09-24 16:13] zgoda-mobica commented on #5301
It fails even if minio is running locally in docker container with `gaierror: [Errno 8] nodename nor servname provided, or not known`

[2018-09-24 17:35] kanagarajkm commented on #6476
@ilya-sharonov  please ignore my previous comment.

Version on the policy object should be  `2012-10-17`

So the policy would be
[code]

[2018-09-24 17:49] alshabib commented on #6124
Just tested this out using the edge docker tag, it seems to not be working:

[code]

Any specific configuration to make this work?

[2018-09-24 19:30] harshavardhana commented on #6124
We already updated the doc https://github.com/minio/minio/blob/master/docs/gateway/s3.md

[2018-09-24 19:32] harshavardhana commented on #6124
It is not possible to use IAM creds for Minio credentials because of how the authentication is structured. In this case Minio terminates the authentication and then relies on rotating creds to talk to backend.

Such that your actual keys to the backend are never shared or saved in any ec2 instance.

[2018-09-24 19:35] alshabib commented on #6124
ahh I understand, even though I am using IAM creds I still need to specify MINIO_ACCESS_KEY and MINIO_SECRET_KEY for minio auth.

This should be documented because it is unexpected and not mentioned in the documentation. Happy to do it if you agree that it is necessary.

[2018-09-24 19:39] harshavardhana commented on #6124
It is documented in the docs I just shared

[2018-09-24 20:02] ilya-sharonov commented on #6476
Hi @kanagarajkm
Adjusted the policy following your instructions, still getting the same error:
[code]
Attempt to set the same policy using Java API SDK was successful - everything worked as expected.

[2018-09-24 23:07] krishnasrinivas opened #6518 "Create a sub-directory from the Web UI"
One of the guys at the conference asked us how to create sub-directories from the UI, since we can support it now from the S3 API, we should provide a way to do it from the UI. This is a very useful feature for the web-UI consumers.

[2018-09-24 23:32] harshavardhana commented on #6518
Duplicate of #3933

[2018-09-25 02:09] #6518 closed, assigned to nobody

[2018-09-25 06:20] kanagarajkm commented on #6476
After further analysis, i found that the problem is with `Id: 'test-policy-1'`. When the `Id` field contains ` `(space) or `-`, its failing. But the same works fine on AWS S3.

For example, following json works on AWS S3 and not on minio
[code]

I have tested with minio-js, minio-go, and minio-java. All of them are failing for above json.

@ilya-sharonov if you remove the `-` from  `Id` it should

[2018-09-25 09:43] harshavardhana commented on #6490
I downloaded the file and it seems to have some non-string values how is that possible - since the debug binary only prints numbers?

[code]

[2018-09-25 09:48] harshavardhana commented on #6490
Actually found it the file seems to have UTF-16 characters @tylerforsythe , converting the file to utf-8

[2018-09-25 18:21] jjsp556 commented on #6124
I built and tested this fix, and it seems to work as intended.

- Start EC2 Instance 1 using an IAM role allowing access to S3
- Start EC2 Instance 2 with no IAM role and no AWS credentials
- On EC2 Instance 1, run: MINIO_ACCESS_KEY=fakeaccess MINIO_SECRET_KEY=fakesecret ./minio gateway s3
- On EC2 Instance 2, run AWS_ACCESS_KEY_ID=fakeaccess AWS_SECRET_ACCESS_KEY=fakesecret aws s3 ls --endpoint-u

[2018-09-25 18:29] vadmeste opened #6519 "Avoid copying or mirroring a folder to itself"
## Expected Behavior

mc mirror or cp shouldn't allow copying a folder to itself.

## Current Behavior

Let's suppose we have this structure in a given bucket:

[code]

If we do a recursive copy of myminio/testbucket/, you can notice that 'myminio/testbucket/dir/object' is being copied and overwritten at the same time, which creates complicates things

[code]

This is especially problematic when c

[2018-09-25 18:29] harshavardhana commented on #6519
@vadmeste first `mc` shouldn't allow this

[2018-09-25 18:34] vadmeste commented on #6519
Yes I confirm, I update the description

[2018-09-25 19:28] harshavardhana commented on #6519
Then should this be open on minio/mc instead ?

[2018-09-25 19:29] vadmeste commented on #6519
Oups, right

[2018-09-25 19:29] #6519 closed, assigned to vadmeste

[2018-09-25 19:39] #6479 closed, assigned to vadmeste

[2018-09-25 20:01] harshavardhana commented on #6490
@tylerforsythe I looked at the logs, I don't see how the memory usage can be this high. It does look like there are a lot of readdir operations and each readdir is happening on around 99k+ entries.

It would be beneficial to perhaps do a remote session and see this first hand. Right now I don't have much clue on why the memory usage can be this high.

[2018-09-25 20:52] ilya-sharonov commented on #6476
@kanagarajkm
Thanks a lot for your research and comments, I managed to set policy using JS SDK with the following object:
[code]
I removed 'Id' parameter completely, and added another statement object with 's3:GetBucketLocation' and 's3:ListBucket' actions. This made the trick.
Interesting thing is that if I omit statement object with 's3:GetBucketLocation' and 's3:ListBucket' actions, then setBuc

[2018-09-25 21:17] happybydefault commented on #4365
What if I have `domain.com/data/diagnosis/alice.pdf` and `domain.com/data/diagnosis/bob.pdf`, and I need to email them their diagnosis link but I don't want to allow Bob to try to download Alice's diagnosis?

It would be awesome to have the flexibility to set whatever expiration time that's needed, even infinite.

Is there something you can do about this issue?

[2018-09-25 21:18] harshavardhana commented on #4365
We don't have multi-user concept to provide this behavior.

It is not possible @amulecregg, unfortunately, we are following AWS S3 specification here and we are compatible.

[2018-09-25 21:20] happybydefault commented on #4365
@harshavardhana OK, I understand. Thank you, anyway!

[2018-09-26 09:55] FedericoPonzi opened #6524 "Openshift: Insufficient permissions to access path, `/.minio`"
## Expected Behavior

Tryied to deploy minio on Openshift,  using the generated kubernetes deployment file and have a minio succesfully deployed.

## Current Behavior

The config is succesfully submitted, but it goes in crash loop:
[code]
## Context
I've tried to debug the problem, by accessing the pod/container:
[code]
There is no .minio file.
In the pod page, these are the info about the contain

[2018-09-26 12:37] nitisht commented on #6524
@FedericoPonzi we are addressing this issue with #6160 , meanwhile you can try something like this under the `image` section of yaml file?

[code]

Here, we're using the `-C` flag to use a custom config directory that is `/data`. Note that you'll need to change the mount paths based on your setup.

[2018-09-26 13:54] FedericoPonzi commented on #6524
Hello and thanks for the prompt response!
I've tried it, and now It gives the following error:

[code]

[2018-09-26 15:44] tylerforsythe commented on #6490
@harshavardhana I am open to a remote session of some kind. What did you have in mind? Are you looking to Remote Desktop in when it's using 15 GB of RAM and use some sort of debugging tool?

[2018-09-26 17:41] harshavardhana commented on #6490
Yes, ping me 'y4m4' on our slack https://slack.minio.io we can co-ordinate from there.

[2018-09-26 18:32] melnikaite opened #6528 "Error: "The disk size is less than the minimum threshold" in minikube"
## Expected Behavior
minio is up and running

## Current Behavior
shows error: "The disk size is less than the minimum threshold"

## Steps to Reproduce (for bugs)
1. minikube start
2. kubectl apply -f k8s.secret.yaml
3. kubectl apply -f k8s.persistent-volume.yaml
4. kubectl apply -f k8s.persistent-volume-claim.yaml
5. kubectl apply -f k8s.service.yaml
6. kubectl apply -f k8s.deployment.yaml
7. ku

[2018-09-26 19:26] harshavardhana commented on #6528
The reasoning is that by default /var/minio host path doesn't have space in minikube VM @melnikaite so you are better off

[code]

[2018-09-26 19:36] vadmeste opened #6529 "Removing an empty directory not present in all disks fail to remove its parent directory although empty"
## Expected Behavior
When I remove an empty directory living alone in its parent directory, the parent directory should be removed in all cases.

## Current Behavior
When an empty directory is not present in all disks (not healthy), removing it won't remove the parent directory although the latter becomes empty

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
1. Start Minio stan

[2018-09-26 20:23] melnikaite commented on #6528
I don't have `/mnt/vda1/minio` in my minikube, only `/dev/sda1`. Are there any value that will work on both GKE and minikube?
Currently it works with `/data` in minikube.
[df.txt](https://github.com/minio/minio/files/2421436/df.txt)

[2018-09-26 20:24] harshavardhana commented on #6528
yep /mnt/sda1 will work too @melnikaite - host path needs to point to a proper disk where the required storage can be claimed from.

[2018-09-26 20:51] melnikaite commented on #6528
According to this [doc](https://cloud.google.com/container-optimized-os/docs/concepts/disks-and-filesystem#filesystem) in Container-Optimized OS for persitent storage recommended `/home` and `var` paths. They are available on both minikube and GKE. I successfully mounted persistent volume to `/var/db` for postgres, but minikube doesn't show size for `/var`, so I can't run minio.

Is it possible to

[2018-09-26 22:26] vadmeste commented on #6529
Basically this is the needed fix:

[code]

reduceWriteQuorumErrs() considers 'nil' as an error and raise it if it satisfies quorum but rename() here sets errs[index] is nil if the error is actually not found, which misleads reduceWriteQuorumErrs

[2018-09-27 01:10] harshavardhana commented on #6528
No it is not possible @melnikaite

[2018-09-27 01:12] harshavardhana commented on #3475
config has moved to backend so all servers are always going to be same, closing this as not needed anymore.

[2018-09-27 01:12] #3475 closed, assigned to nobody

[2018-09-27 01:16] harshavardhana commented on #5579
@aead is there a plan to fix this? or should we close this bug?

[2018-09-27 01:18] harshavardhana commented on #6450
This is fixed already as part of the documentation in #6498,  mc related changes please open an issue in minio/mc

[2018-09-27 01:18] #6450 closed, assigned to nobody

[2018-09-27 01:20] harshavardhana commented on #5533
Yeah, I think we can, there is no consensus on how to fix this. Perhaps re-open when we have the bandwidth to address this.

[2018-09-27 01:20] #5533 closed, assigned to harshavardhana

[2018-09-27 01:22] harshavardhana commented on #5427
Object version is going to be supported natively in https://github.com/minio/minio/pull/6494 so it is possible to enable a pass-through implementation here.

[2018-09-27 02:11] harshavardhana commented on #6529
Looks like a correct fix @vadmeste

[2018-09-27 02:12] harshavardhana commented on #6089
Cannot reproduce this cleanly, closing.

[2018-09-27 02:12] #6089 closed, assigned to poornas

[2018-09-27 02:14] harshavardhana commented on #5126
This is already fixed for the S3 gateway, closing.

[2018-09-27 02:14] #5126 closed, assigned to donatello

[2018-09-27 02:15] harshavardhana commented on #5166
@nap will you be able to contribute?

[2018-09-27 02:16] harshavardhana commented on #6036
@ericvicenti do you have more information that was requested? feel free to close it if its not an issue anymore.

[2018-09-27 02:18] harshavardhana commented on #5858
Is this still a problem @aead if yes can this be closed since there are two more issues opened in this area already ?

- #6338
- #6363

[2018-09-27 02:19] harshavardhana commented on #5947
Closing as this is not possible in accordance with
- https://github.com/minio/minio/issues/5947#issuecomment-390788999
- https://github.com/minio/minio/issues/5947#issuecomment-415342037

[2018-09-27 02:19] #5947 closed, assigned to krishnasrinivas

[2018-09-27 02:20] harshavardhana commented on #5877
If we are good with informative logs should we close this?

[2018-09-27 05:23] tylerforsythe commented on #6490
Ok, I'll pop in when I have a bit of time. Possibly tomorrow afternoon Mountain time. What time zone are you in?

[2018-09-27 06:23] harshavardhana commented on #6490
@tylerforsythe I am in PST

[2018-09-27 09:33] anan-lee opened #6534 "minio some node return 403"
## Expected Behavior
work better

## Current Behavior
there is a clusters of 4 nodes ，but sometime will return 403 from http response， http header like this:
HTTP/1.1 403 Forbidden
Accept-Ranges: bytes
Content-Security-Policy: block-all-mixed-content
Server: Minio/RELEASE.2018-09-25T21-34-43Z (linux; amd64)
Vary: Origin
X-Amz-Request-Id: 1558352F1FFDC4D8
X-Xss-Protection: 1; mode=block
Date: Thu,

[2018-09-27 09:39] harshavardhana commented on #6534
what is the application being used here? @anan-lee

[2018-09-27 09:44] vadmeste commented on #5877
Yes, with master it is showing
[code]

[2018-09-27 09:45] vadmeste commented on #5877
Fixed by https://github.com/minio/minio/commit/75715820007a8832f4bc86c338d2ce1cb11eff2f

[2018-09-27 09:45] #5877 closed, assigned to vadmeste

[2018-09-27 11:21] vadmeste opened #6536 "xl: Heal empty directories"
## Expected Behavior
Empty directories should be healed

## Current Behavior
Empty directory are not healed

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)

1. Start standalone erasure on 4 fresh disks
2. mc mb myminio/testbucket/
3. mc mb myminio/testbucket/empty-dir/
4. Remove empty-dir/ directory in one of the backend disk
5. mc admin heal myminio/testbucket/
6. Check if bac

[2018-09-27 11:32] vadmeste commented on #6529
This causes a problem, when an object is present in only half of disks, uploading a new object with the same name will fail. The reason is PutObject() tries to rename the existing object to tmp directory but the latter doesn't have a quorum

[2018-09-27 13:25] vadmeste commented on #6536
Actually, it works..  I forgot to pass `-r` to `mc admin heal myminio/testbucket/`..

[2018-09-27 13:25] #6536 closed, assigned to vadmeste

[2018-09-27 13:51] nitisht commented on #6524
@FedericoPonzi the problem here that user running Minio doesn't have the permission to write to `/data/certs`. Can you please try `-C` flag with a path where a non root user can write data?

[2018-09-27 13:52] nitisht commented on #6528
@melnikaite closing this as working as intended, feel free to reopen if there are further questions.

[2018-09-27 13:52] #6528 closed, assigned to nobody

[2018-09-27 16:03] chrisgavin commented on #6429
Thank you again for your advice. I can confirm we have worked around this issue by checking the size of the file before the copy operation and setting the read timeout proportional to that.

[2018-09-27 16:03] #6429 closed, assigned to kannappanr

[2018-09-27 18:01] bearmoo-cloud-net commented on #6477
I see an issue when I try to use docker registry + minio gateway gcs. It can push small files fine, but when I push larger images (ie. 200mb). it retries a couple of times and fails with the message "gateway error."

[2018-09-27 18:18] harshavardhana commented on #6477
it might be because of this PR was needed

[code]

are you using latest minio release @bearmoo-repo ?

[2018-09-27 20:13] bearmoo-cloud-net commented on #6477
Yes. I am using the latest version.

Here the output from docker cli:
The push refers to a repository [example.com:5001/nginx-base]
38dd2e929c7a: Layer already exists
f153d6e235e3: Layer already exists
787977c683e6: Layer already exists
8a4a2b3a6bf9: Layer already exists
c2ccc4f81bf9: Layer already exists
1f01ef758d06: Layer already exists
81fdd6550adc: Layer already exists
6d67475e2163: Pushing [

[2018-09-28 00:07] harshavardhana commented on #6477
Ah internal server errror, is there anything in server logs ?

[2018-09-28 05:04] harshavardhana commented on #5446
Fixed by #6292

[2018-09-28 05:04] #5446 closed, assigned to Praveenrajmani

[2018-09-28 06:12] anan-lee commented on #6534
the bucket is public. and download from browser \wget or curl

[2018-09-28 07:03] nitisht commented on #6496
@djmaze could you please help me with Minio trace for your Minio instance? It will help us understand how goofys / s3fs is translating such calls to S3 calls.

You need to set the environment variable `MINIO_HTTP_TRACE` to a file path where you want the trace to be written. Then start the Minio server, and finally try the goofys/s3fs chown/chmod operations.

[2018-09-28 16:35] Jimmyscene opened #6540 "MissingHeaderBodySeparatorDefect Warning After Uploading Empty File with Boto3"
Hey guys,

Got a really weird issue concerning communication between the boto3 python client and a minio server.

When using the boto3 client in conjunction with a minio server, I get the following error when attempting to upload a non-empty file, after having uploaded an empty file
[code]

To be clear, steps to reproduce:
1. touch empty_file
2. echo 'stuff' >> not_empty_file
3. Connect to minio s

[2018-09-28 17:33] kannappanr commented on #6540
@Jimmyscene Thanks for filing this issue. We will try to reproduce the issue and fix it.

[2018-09-28 18:18] weedek opened #6541 "High IO load on server with few thousands objects every 12 hours"
## Expected Behavior
No disk load on non busy server.

## Current Behavior
Every 12 hours minio causes high CPU load (IO wait) on server with few thousands objects.
The more objects the longer it lasts.
I suspect that this causes a disk usage routine that checks disk usage.

## Possible Solution
Add configuration option to disable checking disk usage.

## Steps to Reproduce (for bugs)
Put few thou

[2018-09-28 18:31] harshavardhana commented on #6541
This is expected we calculate disk usage every 12 hours if there is active I/O we suspend the disk usage calculation as well.

Are you saying we shouldn't do this?

[2018-09-28 18:31] bearmoo-cloud-net commented on #6477
I see this in minio:

9/28/2018 11:00:33 AM
9/28/2018 11:00:33 AM
9/28/2018 11:00:33 AMEndpoint:  http://10.42.134.199:9000  http://127.0.0.1:9000
9/28/2018 11:00:33 AMAccessKey: xxx
9/28/2018 11:00:33 AMSecretKey: yyy
9/28/2018 11:00:33 AM
9/28/2018 11:00:33 AMBrowser Access:
9/28/2018 11:00:33 AM   http://192.168.0.100:9000  http://127.0.0.1:9000
9/28/2018 11:00:33 AM
9/28/2018 11:00:33 AMComman

[2018-09-28 18:49] harshavardhana commented on #6534
How is the bucket public @anan-lee do you have the policy that you set?

[2018-09-28 18:58] weedek commented on #6541
On server with large amount of files (hundreds of thousands) that is a problem with high disk and CPU usage when server is idle and counting in that way will take hours.

Why we need that information counting in such way?
Is information from filesystem (like in df command) inaccurate?

Please add posibility in configuartion to disable disk usage counting in that way and relay on filesystem disk us

[2018-09-28 19:02] harshavardhana commented on #6541
@weedek we can only get `df` when you point your `minio` to the entire disk, if not if you picked a directory inside the mount - we cannot say what is the correct usage since many minio servers might share the same drive.

For now the behavior will stay, we will think about adding an option to turn this off and force use `df`

[2018-09-28 19:10] #6507 closed, assigned to vadmeste, ebozduman

[2018-09-28 21:31] jonhatanr opened #6542 "Minio using Azure Blob Storage Crashes after more than 1GB it's uploaded"
Hi folks,

I'm using Kubernetes in Azure AKS running a deployment with latest version of Minio
it connects fine, I'm able to login and no problem ... but when I'm trying to upload files which size is more than 1GB that container gets killed and I'm not able to see any kind of logs.

After that, I thought it was an issue with Nginx ingress and I created and expose a service to access directly to Mi

[2018-09-28 21:38] kannappanr commented on #6540
@Jimmyscene There is a pending PR for this issue in boto core. https://github.com/boto/botocore/pull/1328

[2018-09-28 21:44] Jimmyscene commented on #6540
@kannappanr Gotcha, I'll follow up with those guys then. Thanks! I'll close this out

[2018-09-28 21:44] #6540 closed, assigned to eco-minio

[2018-09-28 22:38] weedek commented on #6541
So if I point MINIO_VOLUMES directly to disk/partition mountpoint, "disk usage routine" won't be run and information about disk usage will be taken from `df `command?

[2018-09-28 22:57] harshavardhana commented on #6541
Yes that is correct @weedek

[2018-09-29 00:12] harshavardhana commented on #6540
[code]

This is the fix @Jimmyscene FWIW

[2018-09-29 01:10] harshavardhana commented on #6542
Does the crash mean server dies is there a stack trace ?

[2018-09-29 01:12] mclitao opened #6543 "Can you limit the overall upper limit of storage?"
How do you limit the amount of online storage a tenant can store?
For example, the total content cannot exceed 50BG?

[2018-09-29 01:15] harshavardhana commented on #6543
No it is not possible we need to implement quota support for this. This is something we want to do in future but it's not priority at the moment.

Feel free to close this issue. For general questions like these please join us on slack https://slack.minio.io for more quiker realtime response.

[2018-09-29 01:17] mclitao commented on #6543
Thank you very much .

[2018-09-29 01:17] #6543 closed, assigned to nobody

[2018-09-29 03:50] anan-lee commented on #6534
Yes, i set the policy * to read-only.

For the same key, The 403 response is from part of the node from the cluster.   and the other node works well.

[2018-09-29 08:06] harshavardhana commented on #6534
Is this a particular node? have you tried restarting the server on that node?

[2018-09-29 08:17] #6461 closed, assigned to harshavardhana

[2018-09-29 08:40] anan-lee commented on #6534
I am not sure this node it is particular. it's still not work after restarting the bad one.
![image](https://user-images.githubusercontent.com/7876453/46243368-14a4e980-c406-11e8-81b6-d7d6ca218e08.png)

how to repair this?

[2018-09-29 08:43] harshavardhana commented on #6534
This is weird @anan-lee can you do `mc policy list` and paste the output from the `.3:9090` server?

[2018-09-29 12:07] aeltawela commented on #6310
@ebozduman: I am following up on this feature. May I ask you when it will be available? do you have any initial implementation? I can contribute in the development if that can help.

[2018-09-29 14:01] xie-qianyue opened #6546 "presignedGetObject's url return SignatureDoesNotMatch error"
We call minio-js method `presignedGetObject` to get an url, but this url return SignatureDoesNotMatch error.

We deploy minio in docker swarm, with other services in the swarm. We have a NGINX in front of all the service. We have followed this document: https://docs.minio.io/docs/setup-nginx-proxy-with-minio to configure NGINX.

We have tested a standalone minio, which I means running on `docker r

[2018-09-29 18:25] harshavardhana commented on #6310
@ahmedabt it's already a work in progress. There is no set deadline yet.

Thanks for lending your help, appreciate it.

[2018-09-29 18:28] harshavardhana commented on #6546
Nginx rewrites will not work @xie-qianyue they change the signature information that is not allowed in AWS S3 signature spec.

Can you paste your client side code ?

[2018-09-30 03:15] mclitao opened #6547 "How to make a permanent link or a link longer than 7 days"
How to make a permanent link or a link longer than 7 days
What do you do when you need to make some permanent links in practice?

[2018-09-30 03:34] nitisht commented on #6547
@mclitao S3 API allows presigned URL validity upto 7 days only, ref:
https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html

Accordingly Minio behaves the same way. One way to make permanent URLs is to use bucket policy. ref:
https://docs.minio.io/docs/minio-client-complete-guide.html#policy

[2018-09-30 03:37] mclitao commented on #6547
Thank you

[2018-09-30 03:37] #6547 closed, assigned to nobody

[2018-09-30 07:11] anan-lee commented on #6534
mc policy list output:

file/* => readonly

Yesterday I rejoined this node to the cluster and it looks normal now.

[2018-09-30 07:14] anan-lee commented on #6534
i will close this issue. thanks for your reply

[2018-09-30 07:14] #6534 closed, assigned to nobody

[2018-09-30 07:58] xie-qianyue commented on #6546
I modify the Nginx config as below:
[code]
`http://store/` points to a minio service upstream. But it doesn't work. We turn SSL on on Nginx, so the url starts with https:
`https://10.240.193.107/dash/store/yd-bucket/1538291531813837730.jpg?response-content-disposition=attachment%3B%20filename%3D1538291531813837730.jpg&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=PJ99D7K3OAFS732PS1PZ%2F2018093

[2018-09-30 16:44] bearmoo-cloud-net commented on #6477
Is there away to get more debugging information to see what's going on with minio?

[2018-09-30 16:46] LordMike opened #6548 "AWS S3 SDK, .NET cannot upload keys with spaces."
## Expected Behavior
That I can use AWS S3 SDK to upload a file with spaces in its name. Using S3 SDK for objects without spaces works as expected.

## Current Behavior
AWS S3 SDK gets a signature mismatch when uploading a file with spaces.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Start Minio
2. Upload file using .NET AWS S3 SDK like:
[code]
3. Observe that the PubObjectAsync thr

[2018-09-30 17:03] LordMike commented on #6548
Interestingly. Two presigned urls for a spaces/not-spaces file works - the content is delivered to the browser.

[2018-09-30 17:46] harshavardhana commented on #6477
You might have send docker registry debug logs if possible?

[2018-09-30 17:53] LordMike commented on #6548
Same request for S3:

[code]

Response
[code]

(Here I can't provide the key. If needed, I can create a new IAM account and re-do the request there, and then provide the key for that)

[2018-09-30 18:18] bearmoo-cloud-net commented on #6477
[results.txt](https://github.com/minio/minio/files/2431830/results.txt)

Yea, Here is the logs.

[2018-10-01 08:00] harshavardhana commented on #6524
@FedericoPonzi do you have SELinux enabled by any chance?

[2018-10-01 13:06] LordMike commented on #6424
Note that S3 UI does the same -- sorting locally.

[2018-10-01 14:48] jonhatanr commented on #6542
@harshavardhana there's no stack trace, I can recreate steps again to double check, but when I tried it did't log anything and not stack trace.
And yes, that means the server dies cause container gets killed after upload more than 1GB.

[2018-10-01 15:00] kannappanr commented on #6548
@LordMike Thanks for filing this issue and the code to reproduce the issue. We will take a look and get back to you.

[2018-10-01 18:05] tomconte opened #6550 "minio + Azure + Arq: "sha1 of uploaded file does not match" error"
## Expected Behavior
Arq should work through the minio Azure gateway. Since it looks from previous issues that Arq was tested with minio before, this might be specific to the Azure gateway. There is no error from the logs (see below), so it seems that there is something that Arq is not expecting, but unfortunately not logging.

Would appreciate your input @krishnasrinivas @sreitshamer; I know this

[2018-10-01 18:25] kannappanr commented on #6541
@weedek Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2018-10-01 18:25] #6541 closed, assigned to nobody

[2018-10-01 19:13] arqbackup commented on #6550
The Etag response header is supposed to be the MD5 hash of the request body. https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html

[2018-10-01 19:17] harshavardhana commented on #6550
No it is not true always - a multipart object doesn't have md5sum of the entire object, etag shouldn't be assumed to be md5sum.

This is why Amazon states ETag is an opaque value

For proper definition look here

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html

[2018-10-01 19:20] arqbackup commented on #6550
Well, if you don't upload multipart, it's supposed to be the MD5 hash. So, minio doesn't behave the same way as S3, right?

[2018-10-01 19:31] harshavardhana commented on #6550
What I mean is you are assuming a whole lot here,

AWS SDKs by default upload all files bigger than 5MiB, s3cmd uploads all files bigger than 15MiB and mc uploads all files bigger than 64MiB as multipart, objects uploaded through SSE-C they don't need to be multipart. Objects encrypted after a CopyObject server side.

The question is does Arq ignore these objects ? If so how ? The mechanism is wro

[2018-10-01 19:49] arqbackup commented on #6550
Arq doesn't do any of those things. It just does PUTs, not multipart.
I don't understand the confusion. If I do a simple PUT to S3, I get an MD5 hash in the Etag. It's been that way since the first day of S3. What is minio returning in the Etag?

[2018-10-01 20:07] tomconte commented on #6550
It looks like the gateway is returning the value of the Azure Etag property in the response?

https://github.com/minio/minio/blob/master/cmd/gateway/azure/gateway-azure.go#L691

Unfortunately in the [Azure Blob API](https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob-properties), the Etag is not equal to the MD5 hash of the object ("The ETag contains a value that you can use to perf

[2018-10-01 20:13] harshavardhana commented on #6550
-1 is added to indicate it's a multipart object from S3 protocol point of view. Some clients such as s3cmd ignore the value treating it as multipart operation.

[2018-10-01 20:21] tomconte commented on #6550
The doc for [S3 PUT](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html) does seem to state clearly "you can calculate the MD5 while putting an object to Amazon S3 and compare the returned ETag to the calculated MD5 value" though?

[2018-10-01 20:22] arqbackup commented on #6550
If minio is supposed to be S3-compatible and it's acting as a gateway to Azure, should it perhaps calculate the MD5 hash itself and return it in the response for a simple S3 PUT? That would make it 100% S3-compatible for that API call.

[2018-10-01 20:36] harshavardhana commented on #6542
Just uploaded successfully a 2GiB upload with `minio gateway azure`,

[code]

So I am assuming something else is going wrong here?

NOTE: I am using the latest release version

[2018-10-01 20:46] harshavardhana commented on #6550
Yes, indeed that statement signifies that but building an application around it is another thing making it too much S3 centric, which is what @arqbackup did which is unfortunate since it doesn't leverage multipart and other APIs which have other benefits i.e faster uploads etc. For example, SSE-C is not supported as well assuming that has never come up as a requirement for backups.  That is a desi

[2018-10-01 20:53] djmaze commented on #6496
@nitisht  Here is [a paste](https://pastebin.com/G8aSF8aL) of the minio trace when doing the steps outlined above using s3fs. Thanks for your attention!

[2018-10-01 20:59] arqbackup commented on #6550
I'm sorry but I don't understand what is "unfortunate". Arq uses multiple threads to upload in parallel, so it doesn't need multipart upload, and it encrypts data client-side itself so it doesn't need SSE-C. None of these things you're talking about are relevant to whether or not minio is 100% S3-compatible.

The problem is really clear. Minio doesn't return the same response headers as S3. So, it

[2018-10-01 21:12] arqbackup commented on #6550
FWIW Arq works fine with minio when it's storing the data itself (not acting as a gateway to azure). Arq also works fine with many other S3-compatible providers like Wasabi, DigitalOcean Spaces, DreamObjects. They all return the correct Etag value.

[2018-10-01 21:14] harshavardhana commented on #6550
For now, it's not possible we will have to work backward and re-evaluate this situation. Will update here on what we decide and if it's technically possible even.

Yep, that is what has been tested, we were not sure ETag is a strong requirement. Gateway is also unique in Minio So I guess these compatibility issues will come up.

[2018-10-01 21:17] kannappanr commented on #6550
@arqbackup The problem is that in this case, the E-Tag is generated by Azure, which doesn't have to be s3-compatible. If the same test were to be done on an s3 backend, instead of Azure, you will not see this issue.

Also,  there are other scenarios where multipart is involved, E-Tag will not equal to MD5 sum. Same is true with SSE-C.  You can probably make sure that your application does only sin

[2018-10-01 21:25] harshavardhana commented on #6550
@kannappanr Yes I think @arqbackup understands this situation, Arq software is written with a different design in mind. It splits the data upfront such that the object uploaded is not really a namespace of actual users content instead of its what Arq understands.

So each of these PUT's are tracked with Etag. We can discuss this through and re-evaluate our decisions to see if ETag can indeed be pr

[2018-10-01 21:26] jonhatanr commented on #6542
@harshavardhana it only fails using Minio UI directly, using Minio client command (mc) it could upload more than 1GB without problem, actually I have done tests with 2GB and it uploads properly.
But sadly as I mentioned, it only fails using Minio UI.

Look at this screenshare:
https://drive.google.com/file/d/10M40k0Jaq0OGHSEfCN4u9mv_o4-UvtLT/view?usp=sharing
In that example, I choose a 2GB file.

[2018-10-01 21:35] adrienyhuel opened #6551 "Package problems while cross-compiling"
Result package is not correct when I cross-compile for ARM on AMD64

## Expected Behavior
Cross-compiling should work without problem

## Current Behavior
I cross-compile on CentOS7 64bit VM, wirth ARM target.
The minio binary for arm is built, but :
- version is : DEVELOPMENT.GOGET
- package is not stripped

## Possible Solution
The problem is in the Makefile : LDFLAGS := $(shell go run buildscri

[2018-10-01 21:42] harshavardhana commented on #6551
To cross-compile you simply set GOARCH and do source build, Makefile is meant for native compilation.

[2018-10-01 21:42] harshavardhana commented on #6550
Moving this as blocked for discussion

[2018-10-01 21:47] adrienyhuel commented on #6551
@harshavardhana you mean I just have to run "export GOARCH=arm; go get -u github.com/minio/minio" ?

And if I want to set a version, I have to manually add flags to command ?

[2018-10-01 21:57] harshavardhana commented on #6551
yes @youlJunior if you want to then you should use `go run buildscripts/gen-ldflags.go` to pass these as flags for `--ldlags` command line.

[2018-10-01 22:11] adrienyhuel commented on #6551
@harshavardhana thank you very much, here is how I dit it :

go get -d -u github.com/minio/minio
ldflags=$(cd ~/go/src/github.com/minio/minio && go run buildscripts/gen-ldflags.go)
GOARCH=arm
go install --ldflags "$ldflags" github.com/minio/minio
GOARCH=amd64

[2018-10-01 22:11] #6551 closed, assigned to nobody

[2018-10-01 22:21] kannappanr commented on #6548
@LordMike I have tested this with AWS-go and minio-go sdks and was able to upload to objects with spaces in it's name. What is the backend file system here?

[2018-10-01 22:34] LordMike commented on #6548
It's a filesystem backend (started with docker and a volume).

Compose:
[code]

[2018-10-01 22:39] harshavardhana commented on #6542
yes, now I know the problem @yonhat7n the problem is Azure doesn't support uploading > 256MiB in a single stream, also 1GiB would be buffered by Azure SDK which might have lead to the crash.

This is the current limitation since Minio UI doesn't use multipart API which is more optimized. I am making some local changes to allow an optimized version.

[2018-10-01 22:59] LordMike commented on #6548
I've double-checked.

Docker:
[code]

C#
[code]

Exception:
[code]

Project to reproduce: [ConsoleApp17.zip](https://github.com/minio/minio/files/2435950/ConsoleApp17.zip)

1. Unpack the zip
2. Run `minio`, `docker run --name minio -it --rm -p 9001:9000 -e MINIO_ACCESS_KEY=IB9H3C38V5BJN5VEBUV8 -e MINIO_SECRET_KEY=LJGaPdUTElZ4T4SG7XzC3/xGXKDAAzghlzqo4X24 minio/minio server /data`
3. Run the project

[2018-10-01 23:03] LordMike commented on #6548
I'll note that I cannot reproduce using `awscli`.

[2018-10-01 23:08] poornas commented on #6548
@LordMike, was able to repro the signature mismatch error with AWS S3 SDK for .NET.

[2018-10-01 23:42] harshavardhana commented on #6542
Submitted a PR to fix this issue @yonhat7n

[2018-10-02 07:20] schmurfy opened #6554 "no output during startup"
When starting the minio docker with invalid parameters minio does not output anything making it very hard to understand what the hell is happenning.
I got to debug that while at the same time setting up our new docker infrastructure and minio does not help much staying quiet on the side...

## Expected Behavior
Before anything else I expect something to be written on the console like "Minio starti

[2018-10-02 08:37] harshavardhana commented on #6554
What are the invalid parameters? @schmurfy like this you mean?

[code]

[2018-10-02 09:19] harshavardhana commented on #6550
Sent a PR to fix this situation #6552 @tomconte @arqbackup

[2018-10-02 12:02] schmurfy commented on #6554
Yes that what I would expect but that's not what I get, not sure why.
I get your error when I try to run locally but not on the docker host but the ping does return en error for minio2 to minio4.

What I called invalid parameters is just a wrong hostname due to the way rancher/kubernetes was configured

[2018-10-02 16:30] jonhatanr commented on #6542
@harshavardhana GREAT ! appreciated a lot, anxious to get it in Minio latest verson.
Thanks for your time to attend this.

[2018-10-02 19:20] tomconte commented on #6550
I am testing a build from the PR branch and I was able to start the backup process.
Looks good! Many thanks to everyone 🙌🏻

[2018-10-03 06:08] #6542 closed, assigned to sinhaashish

[2018-10-03 06:08] #6550 closed, assigned to nobody

[2018-10-03 08:46] cmdrrobin opened #6558 "Error: file not found when using Docker registry"
When using Docker registry to upload Docker images I get a 403 error message.

`error parsing HTTP 403 response body: unexpected end of JSON input: ""`

I have tested it with the following versions:
- Docker registry: 2.6, 2.5, 2.5.1, 2.5.0 and latest
- Minio: RELEASE.2018-09-12T18-49-56Z, latest and edge.

This is a follow-up on issue https://github.com/minio/minio/issues/5902

## Expected Behavi

[2018-10-03 09:15] leamingrad opened #6559 "Pre-signed POST policy not enforced for user metadata"
## Expected Behavior
When using a pre-signed POST policy to police uploads from a form, if I add a random user-defined metadata field (say `x-amz-meta-foo` to the POST) that is not mentioned in the policy then it should be rejected.

From the [AWS policy documentation](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolicy.html) (which is listed as the source of truth [in th

[2018-10-03 09:22] harshavardhana commented on #6559
This was never supported @leamingrad - thanks for opening an issue.

[2018-10-03 14:04] xie-qianyue commented on #6546
Hello @harshavardhana, I pasted the client code in the previous response. Could you look at it and give me some advice? Is it the SSL problem?

[2018-10-03 15:01] deathname commented on #4537
Hi, @harshavardhana I just want to know whether Minio can support connection with multiple Azure accounts at runtime or not. Because in my case I need connections to different Azure accounts based on runtime status.

[2018-10-03 17:28] harshavardhana commented on #4537
@deathname our idea is you run one instance per account

[2018-10-03 21:19] kannappanr commented on #6558
@rgruyters Thanks for filing this issue. We will try to reproduce the issue and get back to you.

[2018-10-04 00:02] kannappanr commented on #6558
@rgruyters We tried this on an `ubuntu 17.10` machine with `docker version`

[code]
Minio version tested was the latest master and i don't think that is an issue here.

The contents of `config.yml` used was
[code]

As far as minio is concerned, I issued the following commands
`mc mb myminio/docker`
`mc policy public local/docker`
 Here are the commands that I issued after that
`docker run -d --nam

[2018-10-04 05:00] deathname commented on #4537
Okay

[2018-10-04 05:03] deathname commented on #4537
Out of curiosity, I want to know whether Minio supports Azure Client-site encryption or not when Minio's gateway is azure.

[2018-10-04 05:28] harshavardhana commented on #4537
We do not feel free to open a github issue we will evaluate.

[2018-10-04 05:56] deathname commented on #4537
It means right now Minio itself does encryption/decryption of data based upon algorithm provided by the customer and transfer that data to cloud storage.

[2018-10-04 06:37] deathname commented on #4537
For our use-case, we want to modify client's request before minio process it and do some operations on the response. Please suggest us the best way to do it.
It would be great if we can have pre-request and post-response handlers to include our custom code.

[2018-10-04 09:04] cmdrrobin commented on #6558
Found the problem. Our environment has a upstream proxy configured. The minio hostname was not excluded from proxy settings.
After changing this I found another issue.

[code]

It looks like after the image has been pushed the local Docker engine wants to access Minio directly. Is this really needed, because we have Minio deployed behind the Docker Registry.

[2018-10-04 09:09] cmdrrobin commented on #6558
I have checked this with tcpdump and I can confirm that Docker tries to reach the backend Minio by itself and bypass the registry.

[2018-10-04 09:20] cmdrrobin commented on #6558
Found the solution by disabling redirect in the registry configuration.
[code]

Issue can be closed.

[2018-10-04 09:20] #6558 closed, assigned to eco-minio

[2018-10-04 13:18] bootc opened #6565 "Space used calculation is off"
## Expected Behavior
The `Used:` space in the Minio web interface should broadly match disk space used by Minio, or at least the space used in the filesystem that Minio uses.

## Current Behavior
In my specific configuration the disk space used does not reflect reality:

[code]

The web interface, however, suggests "Used: 2.49 GB".

## Steps to Reproduce (for bugs)
Unsure about steps, sadly.

## C

[2018-10-04 13:54] bootc commented on #6565
I've now tried plain `server` mode rather than `gateway nas`; the space used calculation is the same (and still incorrect).

[2018-10-04 14:03] FedericoPonzi commented on #6524
Sorry for the latency in the answer!

@nitisht  I've done an ls -lR and seems like it's all root's property :confused: I've run:
[code]
And results in a couple of errors accessing some directories and that's all.

@nitisht I'm running on minishift and it's on a VM, so I'm not sure about it
edit: Searching in the repo of minishift, I've found this: https://github.com/minishift/minishift/blob/781349

[2018-10-04 18:01] #6424 closed, assigned to kanagarajkm

[2018-10-04 18:49] aead opened #6566 "File backend does not handle equal filename/directory consistently"
If you try to create non-zero objects of the following pattern:
1. `bucket/object-prefix`
2. `bucket/object-prefix/object`

the server returns unexpected and inconsistent errors. Further the server behaves differently than AWS.

## Expected Behavior
Ideally the server should accept both objects - like AWS. At least the server should return a descriptive, custom error.

## Current Behavior
If you u

[2018-10-04 19:49] harshavardhana commented on #6566
We cannot support AWS style it is simply not possible on a POSIX like hierarchy unless we write of course is some form hashed translation but that would defeat the purpose of Minio to be simpler even to look at the backend.

The error is inconsistent we should simply return Access Denied in both scenarios, we can make the error more descriptive if needed saying OverlappingPrefixes not allowed

//

[2018-10-04 20:30] kannappanr commented on #6565
@bootc Thanks for filing this issue, we will try to reproduce this issue and get back to you with further questions.

[2018-10-04 20:35] aead commented on #6566
Agree here. We've found this during gateway SSE-C encryption discussion. Gateway with AWS backend allows such object combinations while Gateway with Minio as backend would not allow such objects. Should we make the behavior here consistent or are such small behavioral differences expected (allow what the backend supports)?

Yeah, let's make a custom API error since it's minio-specific behavior...

[2018-10-05 00:33] #6472 closed, assigned to sinhaashish

[2018-10-05 00:38] harshavardhana commented on #6565
This is most probably how ZFS block size is managed can you use `df --block-size` to see the right value or `df -k` here? @bootc

[2018-10-05 00:47] harshavardhana commented on #6159
isn't this already done @nitisht ?

[2018-10-05 00:52] harshavardhana commented on #6565
can you also do `du -sh --apparent-size`

[2018-10-05 06:34] krisis opened #6570 "MakeBucket shouldn't create buckets on unformatted disks"
`mc mb ALIAS/bucket` creates directories for buckets on all disks including unformatted fisks in an erasure code setup.

## Expected Behavior

All bucket and object operations must be performed only on formatted disks in an erasure code setup.
## Current Behavior
MakeBucket creates directories even on unformatted disks.

## Possible Solution

Check if the disk where I/O is performed is formatted b

[2018-10-05 08:05] harshavardhana commented on #6570
The main issue here is that is hot swapping of disks underneath an active server supported or not, we actually do not work when that happens at least from an implementation point of view.

Usually, the steps taken to replace disks are as below in a production environment. Any server i.e having its disks replaced goes into maintenance mode, usually to avoid i/o an admin takes the server down. Repla

[2018-10-05 10:28] bootc commented on #6565
Huh. Well I'll be. Today my Minio is saying `Used: 2.28 GB` and indeed:
[code]

Also:
[code]

df's `--block-size` requires an argument so isn't much help I don't think.

And now we've gone through this it makes sense to me. I have compression on my filesystems as it's effectively "free" with ZFS, and this bucket contains database dumps which are really compressible. It turns out I do have 2.2GB of

[2018-10-05 10:28] #6565 closed, assigned to nobody

[2018-10-05 10:30] bootc commented on #6565
I should add, thanks again for your help with this issue!

[2018-10-05 12:46] deathname commented on #4537
Hi @harshavardhana,
One more query in addition to above, we'd like to raise two feature requests -
1. Support for multiple azure accounts
2. Support for pre-request and post-response handlers.

Kindly let us know, what is the process to raise a feature request?

[2018-10-05 15:35] harshavardhana commented on #4537
Open a new GitHub issue stating feature request for Azure gateway

[2018-10-05 15:37] harshavardhana commented on #6338
@balamurugana can you attach your scripts used in generating this workload?

[2018-10-05 15:44] harshavardhana commented on #6565
No problem you are welcome, I want to throw this out there alternatively rather than using ZFS compression you can use Minio's own inline compression https://docs.minio.io/docs/minio-compression-guide.html

[2018-10-05 22:39] vadmeste opened #6575 "Unable to replace a file not having read quorum with non standard SC"
## Expected Behavior
When I set parity to 4 disks, and I lose data in 5 disks, the object is not visible anymore. However I should be able to replace it when I upload a new object with the same name.

## Current Behavior
Not able to upload an object when there is another object with the same name which lost its read quorum

## Possible Solution
[code]

## Steps to Reproduce (for bugs)

[code]

##

[2018-10-06 00:07] balamurugana commented on #6338
Please refer https://github.com/balamurugana/minio-profile/tree/master/runs

[2018-10-06 02:23] donatello opened #6576 "[Proposal] Enhance disk usage calculation"
Putting in a proposal that came out from discussion with @abperiasamy .

## Expected Behavior

Disk usage calculation should be more incremental - start with a full disk scan and then do it incrementally by accounting in PUT requests.

## Current Behavior

Disk is  scanned periodically to compute usage - this could be an issue on large systems.

## Context

A concern for large systems would be tha

[2018-10-06 02:35] harshavardhana commented on #6576
Assumption that it runs every 12hrs is not correct regardless of any existing thread.

12hrs is the waiting time after the last successful run. Even if the total run takes more than 12 hrs there are no interleaving usage checks.

[2018-10-06 11:04] rhlr opened #6577 "Bucket stats in minio server"
Thank you for the awesome project. Is it possible to get bucket statistics like size,count (files and folders) of  a specific bucket ? I checked the python api, although we can get individual object size, it will be very slow to add all the object  size if the number of objects is fairly large. Is there any other way around this ?

[2018-10-06 11:06] nitisht commented on #6577
@rhlr you can do it with bucket notifications. You can configure notifications for a bucket and track incoming object size in an external target like a database. Ref this doc for more details: https://docs.minio.io/docs/minio-bucket-notification-guide.html

[2018-10-07 07:57] harshavardhana opened #6579 "SSE-KMS implementation incompatible with AWS S3"
## Expected Behavior
AWS S3 behavior
[code]

## Current Behavior
With Minio server returns an error, there is no requirement in AWS to send KMS id.

[code]

## Possible Solution
Fix compatibility issue, to start with skipping above issue atleast this fix is needed.
[code]

One more change
[code]

But with this change, the reply is incompatible with AWS S3 we reply like it was uploaded as SSE-S3
[c

[2018-10-07 08:06] harshavardhana opened #6580 "SSE-S3 PutObject Etag incompatible with AWS S3"
## Expected Behavior
AWS S3 behavior, returned ETag is same as the original object
[code]

## Current Behavior
Minio,  returned ETag is not same as the original object
[code]

## Possible Solution
No solution yet, this would require some implementation change. Current implementation treats SSE-S3 and SSE-KMS as same this is not true on AWS S3. Their behavior is different and should be implemented

[2018-10-07 08:08] harshavardhana commented on #6580
Moving this as high priority since this feature is already out there and creates incompatible situations when using with aws-sdk-java, s3cmd and perhaps other SDKs as well.

[2018-10-07 08:08] harshavardhana commented on #6579
Moving this as high priority since this feature is already out there and creates objects with incompatible headers leading to data not being accessible, as demonstrated.

[2018-10-07 08:19] harshavardhana opened #7898 "Add comprehensive test for SSE feature"
- SSE-C should work only with TLS, SSE-C tests are majorly covered but we should add tests where all headers are provided and server rejects such requests.

- SSE-S3 should work without TLS
  - SSE-S3 PutObject Etag needs to match the object md5sum hex
  - SSE-S3 response header should have `x-amz-server-side-encryption: AES256`

- SSE-KMS should work only with TLS
  - SSE-KMS PutObject Etag doesn

[2018-10-07 08:45] harshavardhana opened #6581 "CopyObject on SSE-S3 encrypted object should be allowed"
## Expected Behavior
In AWS S3 CopyObject is allowed
[code]

From SSE-S3 encrypted object to a new object with SSE-C
[code]

From SSE-S3 encrypted object to SSE-C
[code]

## Current Behavior
On Minio this is not at all possible
[code]

[code]

## Possible Solution
[code]

After applying this fix
[code]

## Steps to Reproduce (for bugs)
Already provided steps to reproduce and also a possible soluti

[2018-10-07 08:53] harshavardhana commented on #6581
With the possible solution, it works but still ends up creating an object with SSE-KMS instead by copying the metadata. This is not how AWS S3 behaves.

[code]

Whereas the same object which was copied from SSE-KMS to SSE-C returns internal error
[code]

With most headers all messed up
[code]

Original object has
[code]

Looks like
[code]

and
[code]

are repeated, this leads to bugs like these.

[2018-10-07 09:13] harshavardhana commented on #6581
One more logical error found

[code]

Fixes the final headers but now for some reason

[code]

Returns an error..

Continuing needed one more fix
[code]

For some reason we were doing DecryptedSize() which I don't think its needed and seems incorrect because that fixed the issue

[code]

There are a lot of combinations where things can go wrong, we need to add comprehensive tests which we lack rig

[2018-10-07 09:22] harshavardhana opened #6582 "SSE-KMS - KMS id doesn't exist should throw an error"
## Expected Behavior
AWS S3 returns an error when a KMS id doesn't exist.
[code]

## Current Behavior
Minio server doesn't validate the KMS id, I know that we don't have a concept currently of multiple KMS ids. But we should reject requests if the KMS id is wrong regardless of how many KMS ids we support.
[code]

The actual KMS id is `1`
[code]

## Possible Solution
Validate the incoming KMS id

#

[2018-10-07 16:52] HowardEdidin opened #6583 "Error when running on Azure Container Instance"
## Expected Behavior

I am trying to run minio is a Azure Container Instance.

## Current Behavior

Failed to start container with id c664e73ec91e390729b54373651fed4bc6fdb176a4079e4a92a54b1d7a0d6826 with error: rpc error: code 2 desc failed to start container "c664e73ec91e390729b54373651fed4bc6fdb176a4079e4a92a54b1d7a0d6826": Error response from daemon: {"message":"invalid header field value \"oci

[2018-10-07 17:44] vadmeste opened #6584 "Rolling upgrade fails when updating config file"
## Expected Behavior
Rolling update of Minio server is successful when the config file needs to be migrated

## Current Behavior
Minio server fails to start:
[code]

## Possible Solution
The current code is already designed to take care of this scenario, but migration code returned error with custom message and read/write quroum are not detected anymore.

## Steps to Reproduce (for bugs)
- Run a d

[2018-10-07 19:03] harshavardhana commented on #6583
Looks like your commands settings are wrong. There is no "minio server start"

Here is the example I just tested successfully, follow the doc in creating your resource groups.
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml

[code]

Create a yaml file
[code]

[code]

[code]

[2018-10-07 19:35] vadmeste opened #6586 "Unable to run a cluster of N/2 disks"
## Expected Behavior
Users should be able to read objects with only read quorum disks then I should be able to run a cluster with N/2 nodes (where each node has one disk)

## Current Behavior
Unable to run N/2 nodes where each node has one disk

## Possible Solution
Reduce number of required available endpoints

## Steps to Reproduce (for bugs)
Run a cluster of 12 nodes.
Kill all nodes
Run only 6

[2018-10-07 22:51] poornas commented on #6582
@harshavardhana , we have actually not implemented  SSE-KMS which follows from https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html. So far, minio server has only implemented SSE-S3 with underlying key management delegated to Vault KMS, or with the MINIO_SSE_MASTER_KEY where operator specified a master key(@aead's PR #6523). However, we should discuss this and improve documentat

[2018-10-07 22:57] harshavardhana commented on #6582
@poornas I understand that but our API accepts the header with `aws:kms` and but treats it differently, which is not expected from a user point of view.

[2018-10-07 23:07] poornas commented on #6581
s3/vadmeste/obj is sse-kms encrypted - hence the copy fails because it has not been implemented on minio server. Other than that the #6489 has introduced a regression in CopyObject, which #6423 is correcting.

[2018-10-07 23:12] harshavardhana commented on #6581
if server accepts `aws:kms` then it is honoring KMS, now its implemented or not to what degree client doesn't know. We should clarify this or send a PR to disable accepting any `aws:kms` requests.

[2018-10-08 00:01] HowardEdidin commented on #6583
Thanks for the quick response.  I was deploying with the Resource template https://docs.microsoft.com/en-us/azure/templates/microsoft.containerinstance/containergroups

[2018-10-08 00:38] poornas commented on #6582
agreed, will send a PR disallowing SSE-KMS headers

[2018-10-08 09:33] nitisht commented on #6496
Thanks @djmaze , sorry for the delay in response, let me check this and get back to you

[2018-10-08 09:49] aead commented on #6582
@harshavardhana We don't even have a concept of a single KMS id. SSE-KMS has different ACL semantics - even if there's a KMS id it does not mean an user can use it - SSE-KMS is tied to IAM.
`MINIO_SSE_MASTER_KEY` is **only** for SSE-S3, not SSE-KMS.
The expected behavior for SSE-KMS requests would be `NotImplemented`.

[2018-10-08 09:51] ddzialak opened #6588 "Some files are left in .minio.sys/tmp"
Server minio has disk space leak (some files are left in .minio.sys/tmp after aborted multipart upload). This is most probably caused by recent update from `2017-10-27T18:59:02Z` to `2018-09-12T18:49:56Z` (as suggested in https://github.com/minio/minio/issues/6512)

## Expected Behavior

After abort of multipart upload space in `tmp` should be removed (or at least after bucket removal)

## Current

[2018-10-08 09:52] aead commented on #6580
@harshavardhana - #6488 does not add SSE-KMS support. It only allows to specify SSE-S3 master keys as **alternative** to a KMS (like vault).

[2018-10-08 09:55] ddzialak commented on #6588
Of course it's possible that `minio` have some garbage collector for tmp files if so please let me know the policy. Maybe we increased number of our tests and it caused that right now we hit that problem.

[2018-10-08 09:55] aead commented on #6579
@harshavardhana - We don't have SSE-KMS support. An SSE-KMS request should cause an `NotImplemented.`

[2018-10-08 09:59] Praveenrajmani opened #6589 "s3 select should parse column names with spaces"
There can be spaces in column names which should be honored.

## Expected Behavior
The expression `select s."JURISDICTION NAME" from S3Object s` should work with minio's s3select

## Current Behavior
We get ```botocore.exceptions.ClientError: An error occurred (LexerInvalidChar) when calling the SelectObjectContent operation: The SQL expression contains an invalid character.```
for such queries

#

[2018-10-08 11:33] ghost opened #6590 "mc on arm64 tries IPv6 to resolve the hostname and fails"
Trying to use mc on my Samsung S8+ in Termux, which apparently I can't as it fails to resolve the hostname.

## Expected Behavior
mc should not struggle resolving the hostname.

## Current Behavior
mc tries IPv6 to resolve the hostname and fails.

## Possible Solution
I think the issue lies down to how DNS resolution is implemented in the Golang as I came across the same exact issue with the terra

[2018-10-08 12:30] ghost commented on #6590
Moved to https://github.com/minio/mc/issues/2564

[2018-10-08 12:30] #6590 closed, assigned to nobody

[2018-10-08 16:20] vadmeste opened #6591 "xl: Empty directory found although it is not an empty object with trailing slash"
## Expected Behavior
User is not supposed to see an empty directory if he didn't create it

## Current Behavior
User can see an empty directory that he didn't create it

## Possible Solution
A PR ready for that

## Steps to Reproduce (for bugs)
1. Start Minio in local erasure mode, 12 disks with parity set to 4
2. Create a bucket, upload a single file under any directory
3. Remove that file in 5 d

[2018-10-08 18:14] kannappanr commented on #6588
@ddzialak Thanks for filing this issue, we will try to reproduce this issue and send in a fix for it.

[2018-10-08 19:01] harshavardhana commented on #6580
This issue is not related to KMS also not related to #6488 PR - this is currently present in our releases and also in master.

[2018-10-08 19:02] harshavardhana commented on #6581
Also even with SSE-S3 we don't support CopyObject let me edit the KMS out of the issue title.

[2018-10-08 19:03] poornas commented on #6581
@harshavardhana , this is being fixed in #6423. However, I can send a separate PR for master branch if that is going to get merged faster

[2018-10-08 19:06] harshavardhana commented on #6582
That is when you want to create new KMS id's you are allowed to use default KMS id which is used by the SSE-S3 just like KMS - this works without IAM configuration. So I expect that we can honor that.

For example

[code]

``3c8308ba-9bce-4fc4-b74e-4a2129b83336`` is our default master key used when SSE-S3 is requested. Same thing can be requested even with kms-id

[code]

[code]

These both are es

[2018-10-08 19:26] harshavardhana commented on #6579
That would be the current solution, but I think it doesn't address what would happen with existing objects. They are not accessible and I don't think we have a solution anymore.

[2018-10-08 19:33] harshavardhana commented on #6581
A separate PR is better #6423 is a feature PR, but this issue is an existing bug.

[2018-10-08 21:05] aead commented on #6582
@harshavardhana The default key (key-id = "") is always accessible by users and can be used by SSE-S3 and SSE-KMS. However the entire idea behind SSE-KMS is that users can specify their own CMKs and attach polices to them - See https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html
So I don't know how useful it is to *partially* implement SSE-KMS (only support an empty client-prov

[2018-10-08 21:07] aead commented on #6580
I see. Can you confirm that the returned etag is the MD5 of the object plaintext? If so, this is a security issue.

[2018-10-08 21:09] harshavardhana commented on #6580
No in AWS S3 returned Etag is of the plain text in our case it's of the encrypted object. s3cmd or aws-sdk-java fails because it's not the Etag of the plain text in Minio.

[2018-10-08 21:14] harshavardhana commented on #6582
I am not talking about KMS API implementation to manage keys or even policies on them - but simply allow KMS-id to be supported just another header. This actually directly translates to

[code]

Here the `key_id` is `aws_key_id` - in future if we want to implement full KMS we will have a way to handle it. We have no reason to throw NotImplemented since its trivial AFAICS. Since there is no way to

[2018-10-08 21:25] harshavardhana commented on #6580
https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html here are the details

**ETag**

The entity tag is a hash of the object. The ETag reflects changes only to the contents of an object, not its metadata. The ETag may or may not be an MD5 digest of the object data. Whether or not it is depends on how the object was created and how it is encrypted as described below:
- Obje

[2018-10-08 21:38] aead commented on #6582
@harshavardhana Yeah, this would work and would be quite simple. However from a security perspective this would not add anything. So AFAICS we can do this from an API point of view. However it doesn't change anything if the user can specify which key is used if there is no rule-based key-management in place. So SSE-KMS would exactly be like SSE-S3 but the users must specify the key-ID and if the k

[2018-10-08 21:41] aead commented on #6580
@poornas The solution to this is:
1. The etag of SSE-S3 PUT (not multipart) objects becomes MD5(object-data).
2. The etag of such objects **MUST NOT** be stored in the metadata directly but **MUST** be encrypted
3. Therefore we derive a separate key: `etag-key := HMAC(object-key, "SSE-S3", "etag")`
4. The etag stored on the backend becomes `etag := sio.Encrypt(etag-key, etag)`
5. On GET we decrypt

[2018-10-08 21:44] poornas commented on #6580
The etag of SSE-S3 PUT (not multipart) objects becomes MD5(object-data).
    The etag of such objects MUST NOT be stored in the metadata directly.
Then what would the HEAD call return if Etag is not saved as metadata?

[2018-10-08 21:44] harshavardhana commented on #6580
It is saved but encrypted :-) @poornas

[2018-10-08 22:12] #6583 closed, assigned to nobody

[2018-10-08 22:16] HowardEdidin opened #6595 "Error when trying to connect by Bash"
I am gettng an error when trying to connect to the container instance.

![image](https://user-images.githubusercontent.com/19954905/46636416-8e7f5600-cb1d-11e8-91f5-f014e6671899.png)

![image](https://user-images.githubusercontent.com/19954905/46636353-5841d680-cb1d-11e8-9044-6645fc2eac64.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.

[2018-10-08 22:23] harshavardhana commented on #6595
Our container doesn't have /bin/bash, we only have /bin/sh - we are using Alpine Linux @HowardEdidin

[2018-10-08 22:47] #6584 closed, assigned to vadmeste

[2018-10-08 22:47] #6586 closed, assigned to vadmeste

[2018-10-09 00:30] deekoder commented on #6595
@HowardEdidin let us know if any further questions. I will go ahead and close this.

[2018-10-09 00:30] #6595 closed, assigned to nobody

[2018-10-09 01:05] kannappanr commented on #6591
Here is what was discussed on what needs to be done

1. Object without read quorum will be displayed with a `.CORRUPTED` extension
2. User should be able to delete this object using the `RemoveObject` API
3. There should be a best effort to be able to download a partial object.

[2018-10-09 07:43] xie-qianyue commented on #6546
Hello, we have solved this problem. We modify the following nginx config:
[code]
Nginx listen to the 9090 port, and transfer the request to minio:
[code]
The point is our web app access minio by the 9090 port of nginx.

[2018-10-09 07:44] #6546 closed, assigned to sinhaashish

[2018-10-09 14:28] nap commented on #5166
I don't think so.

[2018-10-09 17:00] bearmoo-cloud-net commented on #6477
Any Update? Need any more info?

[2018-10-09 19:57] ghost opened #6598 ".part.minio files left on a target if the sse-c encryption key is incorrect"
## Expected Behavior

``.part.minio`` should not remain when the encryption key is incorrect.

[code]

## Current Behavior

``.part.minio``  remain when the encryption key is incorrect.

[code]

## Possible Solution

When the encryption key is incorrect, the minio client should hesitate creating the ``.part.minio`` file.

## Steps to Reproduce (for bugs)
1.  ``mkdir sourcedir; cd sourcedir; for i

[2018-10-09 22:38] kannappanr commented on #6598
@arno01 thanks for this issue. We will try to reproduce this issue.

[2018-10-10 03:08] xdreamman opened #6601 "How to mc mirror -w multi-bucket in one process"
As the title says

[2018-10-10 05:09] harshavardhana commented on #6601
mc mirror -w alias1 alias2

[2018-10-10 06:14] harshavardhana commented on #6601
Closing as duplicate of https://github.com/minio/mc/issues/2565

[2018-10-10 06:14] #6601 closed, assigned to nobody

[2018-10-10 07:24] takumn opened #6602 "Error on accessing to cacheObjects.GetObjectNInfo"
When minio gateway runs with disk cache enabled, it cannot seem to handle `GetObject` requests for objects have not been cached. Perhaps the same problem as mentioned in [#6551](https://github.com/minio/minio/pull/6561#pullrequestreview-161299858)?

## Expected Behavior

`GetObject` requests for objects have not been cached are successfully handled.

## Current Behavior

Errors occur during handli

[2018-10-10 09:04] sgrosu opened #6603 "Is there any way to change the limit on the cache object size?"
I have realized that the maximum size of the objects in the minio cache is a function of the free space on the minio cache disk - only objects a 100 times smaller that the remaining free space get cached.
Is there any way to tweak / circumvent this constraint?

## Expected Behavior
Minio should cache objects of any sizes

## Current Behavior
Minio only caches objects 100 times smaller that the rem

[2018-10-10 16:16] tallandtree opened #6606 "Restarting distributed minio stack in Docker Swarm may fail"
I've deployed a distributed minio stack of 4 minio's on 2 nodes in a docker swarm. I've used the example docker-compose.yml (https://raw.githubusercontent.com/minio/minio/master/docs/orchestration/docker-swarm/docker-compose-secrets.yaml), but added "hostname" for each minio servers, as this was needed for Docker 18.06. Else the services cannot resolve each other.

Issue: I cannot restart the mini

[2018-10-10 16:20] atomotic opened #6607 "multi user"
i see that https://github.com/minio/minio/pull/6168 has been merged, thanks!
i'm following [multi-user/README.md](https://github.com/minio/minio/blob/master/docs/multi-user/README.md), but is not clear to me if minio client has been updated (i've just reinstalled both server and client with go get)

[code]

[2018-10-10 16:43] harshavardhana commented on #6607
It's not updated yet. There is a pending PR https://github.com/minio/mc/pull/2554 closing this issue as it's not valid at the moment.

[2018-10-10 16:43] #6607 closed, assigned to nobody

[2018-10-10 19:35] kannappanr commented on #6602
@takumn Thanks for filing this issue with steps to reproduce the issue. We will reproduce the issue and get back to you.

[2018-10-10 19:49] poornas commented on #6603
@sgrosu, this restriction was a rough heuristic to ensure there is always enough space on the cache.Currently the only other lever to free up space is reduce the cache expiry duration or increase MINIO_CACHE_MAXUSE (max usable space for cache). How much space is being used for cache?

[2018-10-10 23:34] kannappanr commented on #6606
@tallandtree Thanks for filing this issue. We will try to reproduce this issue and get back to you if we need more information.

[2018-10-11 06:01] #6602 closed, assigned to nobody

[2018-10-11 06:29] alrf opened #6611 "Error: tls: no cipher suite supported by both client and server"
I use dockerized Minio https configuration with self-signed certificates. It should work as backend only, so self-signed certificates are ok here.
I see a lot of error messages in Minio log (by `docker logs minio`):
`Error: tls: no cipher suite supported by both client and server`

Frontend is Amazon Load Balancer (ALB) - https with trusted certificates for my domain.
I can't access to Minio throu

[2018-10-11 06:51] harshavardhana commented on #6606
@tallandtree would you mind sending a fix for docker-compose.yml to run on the same nodes?

[2018-10-11 07:01] tallandtree commented on #6606
I attached the docker-compose.yml.txt to my issue description above. Can you not open it?

[2018-10-11 07:02] harshavardhana commented on #6606
Of course, I can, feel free to send a PR is what I meant.

[2018-10-11 07:52] pepelisu opened #6612 "Too many file descriptors"
After stop and restart the daemon in distributed mode (2  nodes/ 4 disk each) the terminal is full of errors like this one:
[code]
When login in Minio Browser only one bucket is listed and when try to access it, it says ```server not initialized please try again.```

## Expected Behavior
Minio should restart without errors. Or if an incompatibility is present throw an error about it, explaining th

[2018-10-11 09:11] #6240 closed, assigned to nitisht

[2018-10-11 09:11] #6606 closed, assigned to nobody

[2018-10-11 11:14] nitisht commented on #6611
Thanks for the issue @alrf we'll take a look soon.

[2018-10-11 11:40] nalin-sharma-freshworks opened #6615 "io.minio.errors.ErrorResponseException exception is being thrown when I'm doing an image migration, and uploading to both aws and gcp from minio api"
Tried running around 360 odd jpeg records, If downloadable(via minio) from aws/gcp(exisitng image is present there for around 10-20 records so for rest of them the download will fail let's call these calls as 1 ). 1+ calls where we are downloading  10-20 images and then 20*7*2=280 uploads to aws and gcp via minio client

These calls are happening very quickly in 1 to 2 seconds
We are currently fac

[2018-10-11 11:42] aead commented on #6611
@alrf Which S3 client are you using to access Minio and which public key type is used by your self-signed certificate. Can you also post the TLS configuration of you S3 client, if any? You should see this error if the client and the server cannot agree on a certain cipher suite during TLS handshake. Probably your client does not support any of the following ciphers:
[code]

[2018-10-11 11:43] nitisht commented on #6612
@pepelisu what is the client and the file system you're using.

We made some changes in the way servers interact with each other (RPC calls) in release `RELEASE.2018-10-06T00-15-16Z`

[2018-10-11 11:52] nitisht commented on #6615
@nalin-sharma-freshworks please use the issue template to report issues. Right now it is not really clear what are you trying to achieve and what is not working specifically.

We also need to know the Minio version, your deployment environment and whether you're trying to run Minio as server or gateway.

[2018-10-11 12:08] alrf commented on #6611
@aead I can't access to Minio through Amazon Load Balancer (ALB), i.e. by https://MY_DOMAIN_LB:9000 (timeout error). I see `Error: tls: no cipher suite supported by both client and server` errors during ALB trying to connect to Minio service.
I tried to use ECDSA and RSA self-signed keys:
https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls

ALB doesn't support
[code]
but suppo

[2018-10-11 12:30] aead commented on #6611
@alrf Okay, thank you. So it seems like the ABL supports the at least one required cipher suite as well as TLS1.2. I've looked into Go's standard lib TLS cipher negotiation code... Can you intercept the network traffic between ABL and Minio (e.g. using wireshark) to confirm that ABL really sends the correct protocol version / ciphers / elliptic curves / .... See: https://golang.org/src/crypto/tls/

[2018-10-11 12:52] pepelisu commented on #6612
Hi @nitisht  if you mean the client to connect I am using web client and minio client (mc). The problem described on top was happening without using any client, just by starting the servers.
Initially I formatted all the disks to ext4.

[2018-10-11 13:24] nitisht commented on #6612
understood @pepelisu . With `RELEASE.2018-10-06T00-15-16Z` we changed the RPC mechanism so it is recommended that users update all the instances to this version. This is a one time change, aimed to bring in huge performance benefits.

Now that you have upgraded all the instances, it is expected work well. If there are further issues please do let us know..

[2018-10-11 13:50] deathname commented on #4537
Hi, @harshavardhana
In our case, we store our data in azure, which is encrypted by azure-client. And, we want to download the data using Minio. Since the data is encrypted, we would need to decrypt it using any azure Go sdk.

So, is there a way in minio to decrypt the data, or if there is any Azure Go sdk which support this decryption?

[2018-10-11 16:22] eedwards-sk commented on #6471
as a follow up, I implemented a workaround which has allowed me to resume using minio, in spite of boto3's bass ackwards implementation of the metadata keys

[code]

While not ideal, and it doesn't solve anything for projects that I do not write, it at least unblocked me for this one use case.

[2018-10-11 19:10] deekoder commented on #6603
@sgrosu let us know if there's any further questions. Closing this as working as intended.

[2018-10-11 19:10] #6603 closed, assigned to nobody

[2018-10-12 04:49] CAFxX commented on #6000
@harshavardhana was any progress made on the discussion? I'm sure there can be better ways of dealing with explicitly deleted files, but how about something "simple" like this:

1. every object gets some kind of internal unique id during creation
2. assuming there is a quorum of online nodes, when an object is deleted all online nodes delete it locally and record the unique id in a list of deleted

[2018-10-12 05:12] CAFxX commented on #6318
I agree. At the very least the timeouts should be configurable. And maybe if tcp-keepalives or other heartbeats were enabled, this kind of network partitions would be detectable much more reliably and quickly (an RPC call may take a long time for many reasons -e.g. if it involves disk I/O- but a heartbeat should always take a very small, constant time to be processed - so e.g. you could still keep

[2018-10-12 08:33] sgrosu commented on #6603
We are planning to move ~ 4 TB large files - which would mean we need PB worth of caching disks. We would not necessary move lots of them, but would like to be able to read them from different locations, hence the utility of the cache. I would like to get away without having to use a PB size cache disk.

That being said, are you going to remove the limitation in the next release, or make it config

[2018-10-12 15:57] ghost opened #6623 "mc goes endless loop when tries to access an unencrypted remote object while SSE-C key provided"
Copy of https://github.com/minio/mc/issues/2567
----

mc goes endless loop when tries to access an unencrypted remote object while SSE-C key provided.

## Expected behaviour

mc should cat/cp/mirror an unencrypted remote object despite the SSE-C key provided.

## Actual behaviour

mc goes endless loop when tries to cat/cp/mirror an unencrypted remote object with SSE-C key provided.

## Context

Th

[2018-10-12 16:06] harshavardhana commented on #6623
This is not an endless loop it retries 8 times with binomial backoff, this retry for all 5xx http errors.

Looks like the error translation is wrong on server side.

[2018-10-12 16:38] ghost commented on #6623
Oh, right. It just looked like an endless loop to me, did not had a patience to wait until it stops. :-)

[2018-10-12 19:50] ThisIsQasim commented on #5916
I can understand that this is free software and is provided on an as-is basis, that there are no guarantees it'll work as expected and that the maintainers have limited time so they have to prioritize issues but can you at least acknowledge that an issue exists by not putting the `working as intended` tag on it?

[2018-10-12 20:10] harshavardhana commented on #5916
It is a correct tag, it is already explained why it worked in the previous releases which were purely an accident. It is not possible for us to support empty directories in the traditional sense and currently we are not planning on supporting such requirements.  "working as intended" means that there are currently no plans on addressing this and software is behaving as it is intended.

[2018-10-12 20:55] poornas commented on #6603
@sgrosu, we can remove this restriction in the next release. Next release will be fairly soon.

[2018-10-12 21:04] fortunto2 opened #6624 "Too many connection mysql, events ddos server"
The server suddenly stopped working. The complaints were on the database. The reason was the events that had recorded minio to the base. After shutdown and reset everything worked. It seems on many times tried to burn one file and why it did not work. Fixated.

[code]

[code]

## Current Behavior
mysql go down
too many connections

## Possible Solution
restart minio
set mysql connections to 500

#

[2018-10-12 23:44] dragon2611 commented on #5916
Typing on phone so sorry for typos more so that usual.

I think the question here becomes is how does owncloud behave with amazon s3 and if the problem manifests itself in s3 then its ownclouds problem and if it doesn’t then either amazon have done something to mask the issue or minios s3 api compatibly isn’t on par with real s3.

Sadly I stopped using owncloud a while back for Seafile so I’m not

[2018-10-12 23:55] harshavardhana commented on #5916
We are not behaving in exact terms as AWS S3, we cannot because

- We use regular filesystem on the backend and it is not possible to address this without requiring
- Supporting directories on object storage is an esoteric use-case. Most applications don't need we have implemented a particular style of the requirement for Spark and Hadoop which fulfills the overall requirement.

Closing as per las

[2018-10-12 23:55] #5916 closed, assigned to vadmeste

[2018-10-13 03:08] anan-lee opened #6627 ".minio.sys/multipart is too large"
how to repair or clear the folder?
## Expected Behavior

## Current Behavior

one of node in .minio.sys/multipart is too large

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`)

[2018-10-13 03:08] anan-lee commented on #6627
the size of directory in .minio.sys:

56K	buckets
16K	config
4.0K	format.json
96G	multipart
0	tmp

[2018-10-14 05:40] kannappanr commented on #6624
@fortunto2 Thanks for filing this issue. Can you elaborate about the mysql part. Does your `mysql` go down because of too many events being sent to mysql? We will try to reproduce this issue and get back to you with more questions.

[2018-10-14 05:43] kannappanr commented on #6627
@anan-lee We should be able to delete the files in the multi-part folder atleast based on the date. We will try certain things and then get back to you on how to delete them.

[2018-10-14 14:21] sinhaashish commented on #6559
@leamingrad  : Raised [PR 6628](https://github.com/minio/minio/pull/6628)

[2018-10-14 14:47] anan-lee commented on #6627
@kannappanr  thanks for your reply.
Here is some information that might help you.
Normal node bucket directory space：
241M	file
114M	logs
668K	mobile
2.3G	product
...

bad node bucket directory space:
20M	file
604K	logs
668K	mobile
0	product
...

[2018-10-15 07:20] CMADHANKUMAR opened #6629 "Unable to run minio in distributed mode"
I am uanble to start minio server in distributed mode with 8 nodes.When i start the server it shows something like the below.

[root@centos ~]# ./minio server http://10.81.1.211{1...8}/export
ERROR Invalid command line arguments: 'http://localhost1/export': lookup 10.81.1.2111 on 8.8.8.8:53: no such host.

      HELP:
        For more information, please refer to https://docs.minio.io/docs/minio-e

[2018-10-15 07:22] leitzler opened #6630 "disk-cache: Put object operations hashes data twice when disk cache is enabled"
In disk-cache.go, `PutObject(...)` there are two hash readers created: https://github.com/minio/minio/blob/3ef3fefd5483696bd5d38f8cd9e2f37e6feaeed3/cmd/disk-cache.go#L671
https://github.com/minio/minio/blob/3ef3fefd5483696bd5d38f8cd9e2f37e6feaeed3/cmd/disk-cache.go#L677

They will both perform the quite CPU heavy task of computing hashes for the same data that will harm performance quite a lot.

N

[2018-10-15 07:22] nitisht commented on #6629
@CMADHANKUMAR what are the IP addresses of the nodes you're trying to run Minio on?

[2018-10-15 07:30] CMADHANKUMAR commented on #6629
10.81.1.211
10.81.1.170
10.81.1.222
10.81.1.236

[2018-10-15 07:33] nitisht commented on #6629
Then please try running following command on all the nodes

[code]

The {...} ellipses notation is only useful when you have contiguous IP addresses.

[2018-10-15 07:45] CMADHANKUMAR commented on #6629
Worked for me.Thanks a lot !

[2018-10-15 07:45] #6629 closed, assigned to nobody

[2018-10-15 08:42] sandyc316 opened #6631 "Dockerfile.dev fails to build"
## Expected Behavior

Docker image should get built

## Current Behavior

Fails to build docker image

## Possible Solution

## Steps to Reproduce (for bugs)

1. Downloaded the code to local directory
2. Ran docker build -t minio -f Dockerfile.dev . to build the image
3. Failed with error:
Step 4/12 : COPY minio /usr/bin/
COPY failed: stat /var/lib/docker/tmp/docker-builder617022458/minio: no such

[2018-10-15 08:42] nitisht commented on #6631
Thanks for reporting @sandyc316 we'll take a look.

[2018-10-15 08:44] alrf commented on #6611
@aead I analyzed the traffic and I see handshake between ALB and Minio is broken.
ALB sends to Minio only these types of ciphers:
[code]
However it doesn't support by Minio..
This is pre-defined list of ciphers and it can not be changed on ALB.
I asked about it Amazon support and they confirmed it.
So, cipher settings from screenshots above apply to Internet and ALB connections only (but not betwe

[2018-10-15 08:44] harshavardhana commented on #6631
@sandyc316 you need to do `TAG=tag/release make docker`

[2018-10-15 08:57] sandyc316 commented on #6631
Doing so it asks me to install golang. Do I need to install golang on my machine to build the docker image?
Also, If I use the default docker image: "minio/minio" how do I specify a config file in docker-compose.yml

[2018-10-15 09:00] harshavardhana commented on #6631
If you want to use default docker image just use `image: minio/minio:latest` tag, if you want to build your own version of Minio yes you need Golang installed.

For docker related documentation please read our published docs https://docs.minio.io/docs/deploy-minio-on-docker-compose.html

[2018-10-15 09:08] sandyc316 commented on #6631
Thanks for the quick reply. However I don't see option to set the config file in docker-compose.yml example given there.

[2018-10-15 10:01] nitisht commented on #6631
You can mount the existing `config.json` under `/<data-dir>/.minio.sys/config/config.json` like explained here https://docs.docker.com/compose/compose-file/#volumes

[2018-10-15 10:02] aead commented on #6611
@alrf This is indeed a problem. Unfortunately we cannot enable any cipher using diffie-hellman key exchange (`DHE`) because the Go TLS library only supports DH based on elliptic curves. Further we cannot enable legacy RSA based ciphers because they do not provide PFS (perfect forward secrecy).

You could run a reverse proxy - like nginx - in-front of Minio which handles the legacy TLS connection.

[2018-10-15 10:12] alrf commented on #6611
@aead yes, thank you for advice and let's see maybe we can fix it somehow later.

[2018-10-15 10:30] sandyc316 commented on #6631
Thanks that helped. I've been searching for the config file!
Can the config file path be mentioned in the docs?

[2018-10-15 10:35] nitisht commented on #6631
We do explain it here https://github.com/minio/minio/tree/master/docs/config

[2018-10-15 10:42] sandyc316 commented on #6631
I did check it.. But it wasn't entirely clear to me. I had the following questions after reading it:

"Minio server stored all its configuration data in ${HOME}/.minio/config.json file by default.For all releases beyond minio.RELEASE.2017-08-05T00-00-53Z, the configuration data will be migrated to the Minio's backend directory"
**What is Minio's backend directory? Where is it mentioned in the docs

[2018-10-15 10:47] nitisht commented on #6631
Backend directory is where the data is actually stored, the directory that you pass as the argument to Minio server command.

No. Configuration directory is where certs and other config items are kept. It is placed at `${HOME}/.minio` by default.

[2018-10-15 10:51] sandyc316 commented on #6631
Thanks for the help. I'll be closing this issue now. However, I feel the documentation can improve a bit.

[2018-10-15 10:51] #6631 closed, assigned to nitisht

[2018-10-15 14:43] andrewnet opened #6633 "The architecture diagram of 8 servers for distributed mode shows wrong export drivers."
The architecture diagram of 8 servers for distributed mode shows wrong export drivers in document (https://docs.minio.io/docs/distributed-minio-quickstart-guide). All the drives should be labeled as `EXPORT1` instead of ranging from `EXPORT1`, `EXPORT2`, ... `EXPORT8`

## Expected Behavior
All the drives should be labeled as `EXPORT1` instead of ranging from `EXPORT1`, `EXPORT2`, ... `EXPORT8`; ot

[2018-10-15 15:07] nitisht commented on #6633
Thanks for the issue @andrewnet , good catch. we'll fix this

[2018-10-15 15:12] nitisht commented on #6631
Thanks for the feedback, @sandyc316 I have sent PR #6634

[2018-10-15 17:49] belvid commented on #6633
Hi!

Here's the illustration with the fix. Thanks @andrewnet!

![architecture-diagram_distributed_8](https://user-images.githubusercontent.com/20955366/46968381-f0811380-d067-11e8-8776-c25b8af2889c.jpg)

[2018-10-15 21:02] poornas commented on #6630
@leitzler, cache and backend are being written to simultaneously, and require hash readers. We can turn off the SHA256Sum and MD5Sum verification by passing in empty strings - however for a small overhead it provides the guarantee that content saved in cache and object store were the original client sent content.

[2018-10-16 03:17] nitisht commented on #6612
@pepelisu closing this as working as intended for now, feel free to reopen if you find problems again

[2018-10-16 03:17] #6612 closed, assigned to nobody

[2018-10-16 03:19] nitisht commented on #6615
@nalin-sharma-freshworks closing this for now, feel free to reopen when you can give us above details / a simple reproducer to help us debug/reproduce the issue..

[2018-10-16 03:19] #6615 closed, assigned to nobody

[2018-10-16 07:47] leitzler commented on #6630
Yes, I noticed that it is written simultaneously and that's good. Both hash readers do however hash the same data twice and will end up with the same result since they read from the same source.

I couldn't see why it would require hash readers, except that it is currently designed that way. It will require some refactoring to change it to io.Readers, but it will provide a more clean code that is

[2018-10-16 08:01] kannappanr commented on #6612
@pepelisu closing this issue based on the previous comment. Please let us know if you have further questions

[2018-10-16 11:26] curantes opened #6638 "Updating metadata made files unavailable due to same erasure hash on all nodes"
We implemented a virus check that when a file is fetched its scanned and scan status is added to minio metadata.

This caused files to be unavailable that have the new metadata set. After further investigation we noticed that the blake2 hash was the same value for the file on all nodes.

We Fixed this issue by get correct blake2 hash with `b2sum` for each part1.json for each file and if it diff wi

[2018-10-16 18:18] kannappanr commented on #6638
@curantes Since you are using quite an older version of `minio`. We believe that we have fixed this issue in the later version of minio. Can you please try the same scenario that you have mentioned in this issue against the latest release of `minio`?

[2018-10-16 19:24] #6598 closed, assigned to kannappanr

[2018-10-16 19:27] #6623 closed, assigned to kannappanr

[2018-10-16 19:59] eco-minio opened #6641 "Cannot start server after modifying event type in configurations"
Testing events in mysql, if you add events notification, then change format without changing the name of the table, minio fails to come up after restart
## Expected Behavior

## Current Behavior

Server fails with the following:
[code]

## Possible Solution

A warning message should be printed, something to the effect that the database table already exists with a different format.  Preferably serv

[2018-10-16 20:02] eco-minio opened #6642 "Error message should be printed when event notification pre-flight checks fail"
Not using template on purpose.  Related to Issue #6641 , we should print an error message when events notification checks fail.  For example, print error if table already exists, and do not allow configuration to be updated if it would be invalid.

[2018-10-16 20:02] harshavardhana commented on #6641
We should fix this before release, we have no way to recover the config otherwise @vadmeste @eco-minio

[2018-10-16 20:11] harshavardhana commented on #6630
There is no performance gain in PUT for cache @leitzler current code exists for simplicity sake, we don't want to choose the differentiating code for hashing by deciding different situations on when checksum should be computed.

The reason is also that both ends hash it such that the data that exists has an ETag which is used to validate if the caching is required on a GetObject - we use this ETag

[2018-10-16 22:49] #6575 closed, assigned to vadmeste

[2018-10-17 00:32] eco-minio commented on #6624
@fortunto2 I was unable to reproduce this issue specifically.  Based on what you are seeing, I would recommend increasing max connections.  By setting max connections to 2 (from default of 151) in mysql, I saw the following (which is expected given than the connection size is so low):
[code]

We should add logic to repeat the message in such a way that it does not flood the console.

[2018-10-17 02:48] monkut opened #6647 "disk size less than minimum threshold on windows 10 with docker"
On windows 10 with docker Version 18.06.1-ce-win73 (19507) I'm trying to run minio with the docker command from the quickstart:

[code]

## Expected Behavior
Expect *minio* to start with out failing.

## Current Behavior
When I run the docker command:
[code]
I get the error:

## Possible Solution
Expand docker volume initial start disk size available to the image?
(Any idea how this might be done?

[2018-10-17 02:49] harshavardhana commented on #6647
[code]

I think the problem is in the overlay disk filesystem for windows @monkut try with `--net=host` it might work.

[2018-10-17 03:05] monkut commented on #6647
@harshavardhana Thanks for the quick response!

I tried the following:
[code]

But I'm getting the following error:
[code]

Is there something I need to setup before running the `docker run` command?

[2018-10-17 03:12] monkut commented on #6647
Hmmmm... seems related to this issue:
https://forums.docker.com/t/does-the-run-option-network-host-work-on-docker-for-windows/45773/4

And a post about changing the overlay settings:
https://support.qasymphony.com/hc/en-us/articles/115004011906-Change-Docker-storage-driver-to-avoid-Overlay-issue

but looks like I can't change the storage driver on windows:

https://docs.docker.com/storage/storaged

[2018-10-17 05:21] leitzler commented on #6630
Yes, this would be my suggestion, great!

[2018-10-17 06:04] curantes commented on #6638
@kannappanr We have tried this against a 2018-09-01T00:38:25Z cluster without any issues. So I guess you are right.

[2018-10-17 09:10] fortunto2 commented on #6624
OK thanks, I don't know how to do it again right now... I have everything working. If it does write. Thanks

[2018-10-17 14:19] ThisIsQasim commented on #5916
It is not just empty directories. Any directories, empty or otherwise, that are placed inside the bucket root fail to show up.

I am sorry if I misunderstood the "working as intended" label. My understanding was that the intention here was to provide an S3 compatible object storage. So anything that works with the real S3 should ideally work with minio but thanks for clearing up that that was neve

[2018-10-17 18:01] #6589 closed, assigned to Praveenrajmani

[2018-10-17 20:48] vadmeste opened #6653 "Avoid printing "Error: io: read/write on closed pipe""
## Expected Behavior
Not having "Error: io: read/write on closed pipe"

## Current Behavior

[code]

## Possible Solution
Remove printing the log

## Steps to Reproduce (for bugs)
Not easy to reproduce but the fix is trivial

## Context
Fixing a bug

## Regression
No

## Your Environment
All

[2018-10-17 20:53] vadmeste opened #6655 "AccessDenied when invoking a PUT of an empty folder on a existing prefix"
## Expected Behavior
Creating an empty object with trailing slash in the same should be successful when the prefix exists

## Current Behavior
Creating an empty object with trailing slash in the same returns 403 Access Denied

## Possible Solution
Returns 200 OK in that specific case

## Steps to Reproduce (for bugs)
[code]

## Context
Spark returns Access Denied in some cases

## Regression
No

#

[2018-10-17 21:12] leouofl opened #6656 "Document did not have any information about key pair generation."
The current Document did not provide any info about how to create the access-key and secure key pair.

## Expected Behavior

The document should give an explanation about how to generate the key pair if needed.

## Current Behavior

Here is what I can find about the key pair. But I have tried to just randomly change the config.json file, but the minio failed to start. So I believe there is a speci

[2018-10-17 21:16] palmerabollo opened #6657 "Why does the gateway-s3 requires MINIO_ACCESS_KEY and SECRET?"
Running the S3 gateway (`minio gateway s3`) requires `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY`, even when the client already uses its own set of credentials (aws key + secret). Is there any reason for this behaviour?

[code]

## Expected Behavior
MINIO_ACCESS_KEY and MINIO_SECRET_KEY shouldn't be mandatory. Client access key + secret should be used to connect to AWS in this case.

## Your Environm

[2018-10-17 21:18] harshavardhana commented on #6656
you can set to whatever value you like @leouofl through ENV, you can also set this using `mc admin credentials` - https://docs.minio.io/docs/minio-admin-complete-guide.html#credentials

[2018-10-17 21:19] harshavardhana commented on #6657
Because Minio does the signature termination of your incoming S3 calls. @palmerabollo

[2018-10-17 21:21] harshavardhana commented on #6647
@monkut you are better off simply downloading the minio binary and running locally  https://github.com/minio/minio#microsoft-windows

Docker on windows is not production ready

[2018-10-17 22:15] #6657 closed, assigned to nobody

[2018-10-17 22:52] #6653 closed, assigned to vadmeste

[2018-10-17 23:37] #6655 closed, assigned to vadmeste

[2018-10-18 01:49] kellenchen opened #6663 "How to config event store when minio server startup at the first time but not use mc and restart node"
Hello, My english is poor, so maybe there is some syntax error in my description. I want to use minio in multi-tenant distribute mode. How to config event notify when minio server startup at the first time but not use mc and restart node. It is not a good way and is too inconvenient. So I want to ask everyone a good solution.

[2018-10-18 01:52] harshavardhana commented on #6663
That is the only way right @kellenchen we are refactoring the approach in upcoming releases, for now you need to edit the `config.json` for the event notifications and update the server.

https://docs.minio.io/docs/minio-bucket-notification-guide.html

[2018-10-18 01:59] kellenchen commented on #6663
hi, I want to ask how to find the config.json file. Below is my minio version.

 root@localhost ~]# ./minio version
Version: 2018-10-06T00:15:16Z
Release-Tag: RELEASE.2018-10-06T00-15-16Z
Commit-ID: 66d911653f17b9b180493e3e21c6131170741dcf

And below is my startup command. But I can not find the config.json file in config-dir. Only use mc admin config get ?
./minio --config-dir ~/minio_tenant_conf

[2018-10-18 02:28] harshavardhana commented on #6663
@kellenchen follow the docs here https://docs.minio.io/docs/minio-server-configuration-guide.html

[2018-10-18 04:01] nitisht commented on #6577
@rhlr closing this as answered, please feel free to reachout to us on Slack : https://slack.minio.io for further questions.

[2018-10-18 04:01] #6577 closed, assigned to nobody

[2018-10-18 04:02] #6647 closed, assigned to nobody

[2018-10-18 04:02] harshavardhana commented on #6638
Shall we close this issue then @curantes ?

[2018-10-18 04:03] harshavardhana commented on #6633
// cc @nitisht can you send a PR to fix this?

[2018-10-18 04:03] nitisht commented on #6633
yes, waiting for png/svg versions of the image as well cc @belvid

[2018-10-18 04:04] monkut commented on #6647
You're right, I'll give the binary a try.

[2018-10-18 04:06] harshavardhana commented on #6611
@aead @alrf we decided that we will not be supporting older ciphers and make sure to keep the code secure, it looks like a limitation of ALB and should be fixed on Amazon end.

As @aead suggested using Nginx is a workaround in this scenario.

[2018-10-18 07:36] diddiman-zz opened #6664 "parseLocationConstraint misses some errors"
## Expected Behavior

In cmd/handler-utils.go parseLocationConstraint, should return an error if the body is an invalid xml or just something that cannot be parsed an error should be returned. If the body is empty, no error should be returned

## Current Behavior

if the body is a string or just something that is not a valid xml, no error is returned.

## Possible Solution

if xmlDecoder returns a

[2018-10-18 07:38] curantes commented on #6638
Yes we can close this, thanks

[2018-10-18 07:38] #6638 closed, assigned to nobody

[2018-10-18 07:39] nitisht commented on #6656
@leouofl closing this as answered, please reach out to us on slack https://slack.minio.io for more questions

[2018-10-18 07:39] #6656 closed, assigned to nobody

[2018-10-18 07:41] nitisht commented on #6554
@schmurfy looks like we already print the errors as expected, can you confirm if you found something that was preventing this from showing up in Rancher?

[2018-10-18 07:51] #6664 closed, assigned to krisis

[2018-10-18 07:51] diddiman-zz commented on #6664
I'm gonna do a PR instead

[2018-10-18 09:26] schmurfy commented on #6554
I have not found anything explaining the behavior, I just gave up for now but running the `docker run` command as I did above is not using rancher at all.

I just tested the same command on my macbook and I get the same result: no output at all.
Where did you test this and got something printed on the screen ?

[2018-10-18 10:35] CloudWarGit commented on #6076
@nitisht I quickly go trough the source code of minio server initconfig part , it call os.Rename to config.json file, so that will be failed when config.json file is mounted by configmap. I think this is not a grace way for user which want manage their config file by configmap.

[2018-10-18 16:40] Darkknight33 opened #6667 "Documentation Update"
In reference to https://github.com/minio/minio/issues/5874 the documentation page: https://docs.minio.io/docs/minio-server-limits-per-tenant.html

should probably include / in the section: Object name restrictions on Minio

[2018-10-18 20:31] deekoder commented on #6633
Assigned to @belvid till the format is sent to @nitisht

[2018-10-18 20:32] deekoder commented on #6663
@kellenchen  did the link help?

[2018-10-19 01:27] harshavardhana commented on #7898
Add mint testing for CopyObject behavior when

- Source is encrypted (keys are not provided), destination is requested for encryption
- Source is not encrypted (keys are provided), destination is requested for encryption

The resulting situation should be an error in both cases with a proper XML error.  For more information https://github.com/minio/minio/pull/6671

[2018-10-19 01:42] #6611 closed, assigned to aead

[2018-10-19 01:42] harshavardhana commented on #6591
There is a complete PR available here #6670

[2018-10-19 01:43] harshavardhana commented on #6529
This issue should be fixed by #6670

[2018-10-19 01:44] harshavardhana commented on #6400
This is already fixed in master, closing as fixed.

[2018-10-19 01:44] #6400 closed, assigned to nobody

[2018-10-19 01:46] harshavardhana commented on #6000
This is already fixed and being addressed in https://github.com/minio/minio/pull/6670

[2018-10-19 01:49] harshavardhana commented on #5305
This is fixed and released - closing.

[2018-10-19 01:49] #5305 closed, assigned to harshavardhana

[2018-10-19 01:53] harshavardhana commented on #6627
.minio.sys/ multipart is cleaned every 12 hrs content which is 2 weeks older automatically.

[2018-10-19 01:57] harshavardhana commented on #6548
can you reproduce this with AWS S3 @poornas using AWS S3 SDK for .NET.?

[2018-10-19 01:58] harshavardhana commented on #6524
@FedericoPonzi did you check if you have SELinux enabled? you can turn it off and by setting `setenforce Permissive` ?

[2018-10-19 02:03] kellenchen opened #6672 "Add a node/disk error in distribute mode"
I deploy minio in distributed mode for 4 node and 4 disks. I want to test minio if I add a node and restart all nodes whether the server works well and the config and event notify config works well. So I deploy 6 nodes now which is not allowed to deploy 5 nodes. But when I execute the command on the first node it throw a error as below.

**"ERROR Unable to initialize backend: 1st disk is already b

[2018-10-19 02:07] harshavardhana commented on #6672
This is as per design you cannot add disks to an existing setup @kellenchen you expand by deploying new instances using federation.

[2018-10-19 02:07] kellenchen commented on #6663
em....The link I saw before and can not solve my problem. Maybe it is the point that the minio should optimize in the future.

[2018-10-19 02:08] harshavardhana commented on #6663
Why did it not solve your problem? what is the issue that you saw @kellenchen?

[2018-10-19 02:25] kellenchen commented on #6672
existing setup means even the origin setup has been shutdown ? using federation ? can give more details ?

[2018-10-19 02:34] harshavardhana commented on #6672
here are the details https://docs.minio.io/docs/distributed-minio-quickstart-guide.html

Existing setup means the disks used for 4 disk setup cannot be used with 6 disk setup, you have to wipe out all the content on the backend and then freshly start with 6 disks.

Minio doesn't support adding new disks to your existing setup of 4 disks and this is as per design, if you wish to add more storage sp

[2018-10-19 03:16] kannappanr commented on #6627
@anan-lee One way you could have seen this is that the `bad node` had some network issues and it was offline during some of the operations. Also, we generally delete old multipart uploads older than 2 weeks are deleted as explained in the above comment.

The files in the `bad` node, are they more than 2 weeks old?

[2018-10-19 04:37] nitisht commented on #6076
@CloudWarGit As configmaps are mounted readonly, we mount it on `/tmp/config.json` and then move the config file to Minio config directory.
https://github.com/helm/charts/blob/master/stable/minio/templates/deployment.yaml#L53

Additionally Minio is moving to a flat config file design which can be simply updated using `mc` sub commands. So, in coming releases of Helm Chart we'll completely remove c

[2018-10-19 06:10] kellenchen opened #6673 "Is the length of secret limit and what is the limit of bucket name ?"
Is the length of key limit and what is the limit of bucket name ?

[2018-10-19 06:36] harshavardhana commented on #6673
There is not top level limit for secret key length, minimum is 8 characters.

Bucket name is restricted based on AWS S3 bucket name restrictions.

https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html

i.e 63 maximum and minimum of 3 characters

Following document provides list if limits for each deployment of Minio http://docs.minio.io/docs/minio-server-limits-per-tenant.html

A

[2018-10-19 06:36] #6673 closed, assigned to nobody

[2018-10-19 17:19] eco-minio commented on #6667
Tested ",*,:,<,>,?,/, and \ against NTFS, will document these as invalid as well.

[2018-10-19 18:22] eco-minio opened #6675 "Incorrect error message when uploading file with invalid characters."
Removing template on purpose.  While testing invalid characters in #6667 , noted that we do not return a proper error code for the invalid object name:

[code]
We should be returning `ObjectNameInvalid` error.

[2018-10-19 19:15] harshavardhana commented on #6476
This is an issue our implemented Sid values can be any UTF characters we only support alphanumeric. Sending a fix.

[2018-10-19 19:48] Vaelatern commented on #6456
I have been able to replicate this, by trying `mkdir abc` then `ls abc`
`ls: cannot open directory 'abc': Operation not permitted`

I also try:
[code]

[2018-10-20 03:29] harshavardhana commented on #6591
This is fixed already in master closing.

[2018-10-20 03:29] #6591 closed, assigned to harshavardhana

[2018-10-20 03:30] harshavardhana commented on #6000
This is merged and fixed in master. Closing.

[2018-10-20 03:30] #6000 closed, assigned to harshavardhana

[2018-10-20 03:31] harshavardhana commented on #6672
Closing as answered.

[2018-10-20 03:31] #6672 closed, assigned to nobody

[2018-10-20 03:35] harshavardhana commented on #6529
This is not fixed by #6670

[2018-10-22 01:31] Darkknight33 commented on #6667
My Minio instance volumes are IIRC backed in ext4, so I don't think it's just limited to NTFS.

[2018-10-22 10:00] vadmeste commented on #6529
I think this issue can be closed, this scenario I created manually in my local machine because I thought someone was able to reproduce it.. but after some investigation, it turned out that the real reason is that the empty directory exists because it has some stales objects in it.

Closing this.

[2018-10-22 10:00] #6529 closed, assigned to vadmeste

[2018-10-22 14:36] #6588 closed, assigned to nobody

[2018-10-22 16:29] andrewnet commented on #6607
Hi, is this feature available now? can we use it?

[2018-10-22 17:01] harshavardhana commented on #6607
yes its done @andrewnet https://docs.minio.io/docs/minio-multi-user-quickstart-guide.html

[2018-10-22 18:51] #6642 closed, assigned to Praveenrajmani

[2018-10-22 18:51] #6641 closed, assigned to nobody

[2018-10-22 18:58] harshavardhana commented on #6675
[code]

[code]

I see this on Linux @eco-minio

[2018-10-22 23:18] eco-minio commented on #6667
@Darkknight33 The documentation mentions that it is to cover Windows or other filesystems, the intent is not to cover every possibly permutation, more to make users aware.  In typical scenarios these characters would not be in file names so this is more to call out the behaviour in those cases.

[2018-10-23 00:19] eco-minio opened #6684 "Access key and Secret key cannot have "-" as first character"
When minio generates a secret key, or if user uses environment variable and has "-" as first character, when you try to add the server it assumes the key is an argument

## Expected Behavior

We should not allow "-" to be the first character of the secret key or access key, and we should never automatically generate keys with "-" in the first position.

## Current Behavior

When trying to add via

[2018-10-23 00:51] eco-minio commented on #6675
@harshavardhana As discussed, this happens for several other characters, for example `"*:<>?`.  Credentials for an NTFS backed fs server provided offline.  Although `mc` only reports the "Internal error", I did note that the Windows Minio server reports errors:

[code]

[2018-10-23 01:28] bearmoo-cloud-net commented on #6477
Hey,

Any update on this?

[2018-10-23 02:14] harshavardhana commented on #6477
I couldn't find anything the registry logs @bearmoo-repo - not able to reproduce the issue either.

[2018-10-23 02:19] belvid commented on #6633
PNG and SVG versions attached in a zip file

Here:

[ArchDiag-Dist8.zip](https://github.com/minio/minio/files/2504184/ArchDiag-Dist8.zip)

[2018-10-23 04:00] #6667 closed, assigned to eco-minio

[2018-10-23 04:03] nitisht commented on #6576
based on the discussion the other day, I understand we're not going to take this approach. Okay to close this then? @donatello @harshavardhana

[2018-10-23 05:20] harshavardhana commented on #6576
Yes we need a different bug with new set of requirements.

[2018-10-23 05:20] #6633 closed, assigned to belvid

[2018-10-23 07:00] gxwangit opened #6686 "when minio server config ssl certificate，internet explorer cannot access,but chrom can why?"
## Expected Behavior

## Current Behavior

this is my minio server :  https://minio.mopaas.com/minio/login,chorm access is ok,but  internet explorer cannot access,anybody encounter this problem？how to fix it？

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. ng

[2018-10-23 10:41] #6476 closed, assigned to nitisht

[2018-10-23 10:43] nitisht commented on #6686
We'll check this out @gxwangit

[2018-10-23 14:37] vadmeste opened #6688 "Unable to activate postgresql"
## Expected Behavior
Postgresql should work normally when activated

## Current Behavior
[code]

## Possible Solution
Revert postgresql import

## Steps to Reproduce (for bugs)
1. Start Minio in new FS mode
minio server /tmp/fs/
2. Get config json with mc
mc admin config get myminio >/tmp/config.json
3. Enable postgre sql
[code]

mc admin config set myminio </tmp/config.json
[code]

## Context
Bug

[2018-10-23 14:40] vadmeste commented on #6688
Taking this

[2018-10-23 18:44] #6688 closed, assigned to vadmeste

[2018-10-23 20:48] deekoder commented on #6663
@kellenchen  thanks for letting us know. We will think about your point of view as we refactor how to interact with the config later. If you follow our guide, i think you can get away with setting it all and doing a single restart once.

[2018-10-23 20:49] deekoder commented on #6686
Which version of IE are you using. We can try different IE versions. But it will help to get your IE version.

[2018-10-24 00:42] eco-minio opened #6691 "Issues with event notifications for Elasticsearch"
`access` format type does not add events to Elasticsearch
## Expected Behavior

Events should be logged for `access` format, and timestamp errors should not be seen for either format
## Current Behavior

When setting up event notifications for Elasticsearch per https://github.com/minio/minio/tree/master/docs/bucket/notifications#Elasticsearch, noted that no events are added to an index when using

[2018-10-24 01:37] kellenchen commented on #6663
config once but should restart all nodes to take effect in distributed mode.

[2018-10-24 02:31] gxwangit commented on #6686
thanks you

[2018-10-24 02:32] gxwangit commented on #6686
IE 10

[2018-10-24 19:05] harshavardhana opened #6693 "Reloading users and policies from etcd is not working"
## Expected Behavior
Reloading users and policies from etcd works properly on a regular basis

## Current Behavior
Reloading users and policies from etcd is not working, i.e users/policies exist on etcd
but are not reloaded properly.

## Possible Solution
[code]

## Steps to Reproduce (for bugs)
Follow the STS documentation on setting up the services and then use it against `minio gateway s3`, htt

[2018-10-24 20:43] eode opened #6695 "Docs: Admin docs for testing setup incomplete"
In the [admin docs](https://docs.minio.io/docs/minio-admin-complete-guide.html), under section **4. Test Your Setup**, only example output is given.  It does not show example usage of the command `mc admin info <host alias>`, therefore someone doesn't know what's required to perform the test.

..of course, it becomes rather apparent in the next section, but it's still incorrect.

[2018-10-24 20:55] harshavardhana commented on #6695
Sent the fix here https://github.com/minio/mc/pull/2578 - thanks for letting us know @eode

[2018-10-24 20:58] poornas opened #6696 "Gateway double encryption ETag compatibility with S3"
https://github.com/minio/minio/pull/6680 fixes ETag returned by PutObject so that it is compatible with S3 Spec. However the fix is only for minio server and not for the double encryption feature(https://github.com/minio/minio/pull/6423)
## Expected Behavior

For SSE-S3 PUT object requests through minio s3 gateway running in double encryption mode, the ETag returned should be content MD5 Sum of da

[2018-10-24 21:40] vadmeste commented on #5880
Good.

`mc mirror -w` should accomplish this.

Closing this as it seems to be resolved @msinj, please feel free to open it again if needed.

[2018-10-24 21:40] #5880 closed, assigned to vadmeste

[2018-10-24 21:42] vadmeste commented on #5932
@tamas-nagy-px are you sure this is not a network problem on your side ?

I can test on my side if you are still seeing this.

[2018-10-24 23:06] eco-minio opened #6697 "Feature request to not display keys on startup"
Not using template on purpose.

We should provide a way to suppress secret key and access key being printed to stdout.  For example, if a user uses the --quiet option today, they will not see whether an update is available or any arn they may have configured for notifications.  Should remove access keys from top level and `mc config` command, maybe something like the following:

[code]

[2018-10-24 23:23] harshavardhana commented on #6697
`minio server --quiet` @eco-minio

[2018-10-24 23:23] harshavardhana commented on #6697
Also if `minio` is running inside a non-interactive terminal such as systemd, kubernetes, docker access/secret is not displayed

[2018-10-24 23:25] eco-minio commented on #6697
@harshavardhana systemd, k8s, docker makes sense, as per above --quiet does not satisfy when you want to see notifications regarding updates or see notification arn's.

[2018-10-24 23:31] harshavardhana commented on #6697
So in all situations when its not a terminal its disabled, we don't need to add more envs to disable this IMO

[2018-10-25 00:40] #6693 closed, assigned to harshavardhana

[2018-10-25 04:23] harshavardhana opened #6698 "CopyObjectPart doesn't work when the source is encrypted"
## Expected Behavior
CopyObjectPart should work when the source is encrypted

## Current Behavior
CopyObjectPart doesn't work when the source is encrypted

## Possible Solution
Sending a PR

## Steps to Reproduce (for bugs)
This requires a quite a different type of steps first we need to create an encrypted object bigger than 600MiB using single PUT operation. The easiest approach is to use `curl`

[2018-10-25 06:50] amielheyde commented on #1735
This is a big problem for us. Has there been any changes or improvements in this area?

[2018-10-25 06:52] harshavardhana commented on #1735
Please open a new issue, this is an archived issue.

[2018-10-25 07:33] ihamouda opened #6701 "Minio Browser with canned bucket policy shows bucket list"
Setup a canned policy per bucket for a user

## Expected Behavior
When logged on as the user, expected to see only the bucket in policy listed

## Current Behavior
All buckets are listed, with the message "Not enough permissions", when clicking on other buckets

## Possible Solution

## Steps to Reproduce (for bugs)
1. create policy file
`{
"Version": "2012-10-17",
"Statement": [
{
"Action": [
"s3

[2018-10-25 07:51] harshavardhana commented on #6701
This is as per design @ihamouda UI still lacks a bunch of things to be fully multi-user ready

[2018-10-25 07:55] ihamouda commented on #6701
@harshavardhana thank you for the quick reply
Any future plans or timelines?

[2018-10-25 09:47] CMADHANKUMAR opened #6702 "Node port not opened when minio is installed using helm"
I installed minio using helm chart like below .
helm install --set accessKey=myaccesskey,secretKey=mysecretkey stable/minio

It was successfull.

[root@kube-master-0-prodes-1539172764 madhan]# kubectl get pods
NAME                                                      READY   STATUS    RESTARTS   AGE
good-deer-minio-795c9b457d-sbnjg                          1/1     Running   0          25s

[root@k

[2018-10-25 11:59] tnatanael opened #6703 "Heal on distributed cluster not running"
I started a minio distributed cluster using this start command:

http://server{1...4}/vol{1...12}

OBS: i am using local dns managemant with Bind9, same network for all servers

Cluster is working pretty fine, im am putting and getting files with no problem!
Erasure coding is also perfectly sharding to disks in sharding groups of 16 disks, as of documentation says! Very good!

When i try to run a

[2018-10-25 12:21] nitisht commented on #6703
@tnatanael did you use 60 disks earlier before going to 48 disks i.e. current setup?

[2018-10-25 12:23] tnatanael commented on #6703
No! Just started a new fresh cluster as stated...

[2018-10-25 12:34] nitisht commented on #6702
@CMADHANKUMAR can you try

[code]

[2018-10-25 12:37] leitzler opened #6704 "HTTP2 support is broken / not implemented"
## Expected Behavior
Improvement suggestion: minio should support HTTP2.

## Current Behavior
Major browsers as well as curl supports both HTTP/1.1 as well as HTTP2, but due to a bug in `cmd/http/server.go`, minio will never serve HTTP2 if the client support HTTP/1.1.

If a client would only support HTTP2, minio terminate all requests without response while logging `Error: malformed HTTP request f

[2018-10-25 12:39] nitisht commented on #6703
thanks, let me try this locally and get back to you

[2018-10-25 12:43] tnatanael commented on #6703
Really thanks man!

[2018-10-25 12:48] nitisht commented on #6703
@tnatanael could you pls share the `/vol1/.minio.sys/format.json` file

[2018-10-25 12:49] tnatanael commented on #6703
{"version":"1","format":"xl","id":"e00dea90-f767-4039-954b-36657df12be6","xl":{"version":"3","this":"1816b559-5c53-4953-bc93-893aabbb70be","sets":[["16ce629f-c75f-4be5-817d-2d7aeed288ca","1816b559-5c53-4953-bc93-893aabbb70be","2926219c-5529-49ce-82d3-3f48214a0c50","4135d10b-133f-4d34-88e3-23e657a5e0ac","cc314598-aa17-453e-8c74-0d062b3257d4","f29fe039-dc2b-4a6c-a88a-c54ab7819ec4","2c9f4f8d-9844-4da

[2018-10-25 12:51] tnatanael commented on #6703
3 Shards 16 each 48 total... appears to be consistent...

[2018-10-25 13:05] nitisht commented on #6703
Yeah. do you have any logs on Minio server side?

[2018-10-25 13:14] vadmeste opened #7899 "Add more tests for encryption CopyObjectPart API"
To detect at least this https://github.com/minio/minio/pull/6699

[2018-10-25 13:22] mwiest opened #6706 "Files with a % or + sign fail at certain points using Amazon AWS S3 Java API"
If some files have % sign in the filename like so: Blabla_50%.jpg.
Putting them (using Amazon S3 Java API) worked fine, but now I want to s3.listObjects() using Java, I'll get a URLDecoder exception saying `.j` is not a valid hex code. Which it is not, but there must be something wrong with what is expected, etc. I guess it's something that Amazon S3 is handling differently than Minio.

Additional

[2018-10-25 14:21] kannappanr commented on #6706
@mwiest Thanks for filing the issue. We will send in a PR to fix this issue soon.

[2018-10-25 14:42] tnatanael commented on #6703
Dont know if this helps but my server is also returning this messages for all the 12 vols in log file

[REQUEST (*storageRESTServer).ListDirHandler-fm] [154047827.364679] [2018-10-25 11:37:53 -0300]
POST /minio/storage/v1/vol12/listdir?count=-1&dir-path=config%2Fiam%2Fsts%2F&volume=.minio.sys
Host: server2:9000
Content-Length: 0
Authorization: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOj

[2018-10-25 15:03] tnatanael commented on #6703
This trace with heal --json can also help in understanding...

type: "system" request works fine! with the correct number of disks 48
but
type: "bucket" gets the wrong number of disks 60 saying /volX is ok but http://server1:9000/vol1 is offline
[Detailed Heal Json.txt](https://github.com/minio/minio/files/2515526/Detailed.Heal.Json.txt)

[2018-10-25 15:11] tnatanael commented on #6703
Posted right now all the logs that i have at the moment, i can post a complete HTTP_TRACE, but the only strange logs are those i already posted... anyway you want this complete log?

I could provite team viewer access too... if you want...

[2018-10-25 15:25] tnatanael commented on #6703
I am also on Minio Slack as `@Thiago Natanael` you can direct talk to me there, i am 100% on this issue, very worried about this...

[2018-10-25 15:50] #6698 closed, assigned to harshavardhana

[2018-10-25 16:13] harshavardhana commented on #6704
This is simple to fix to get H2 support - we don't need to remove it @leitzler

[2018-10-25 19:15] leitzler commented on #6704
Great! I didn't know if it was a prioritized feature. Looking forward to a fix :+1:

[2018-10-25 19:15] tpoxa commented on #6364
Hello! Is any chance to see this bugfix in master?

[2018-10-25 19:55] tnatanael commented on #6703
Since each of my servers has 12 disks, i found a single bucket that have not done a complete DELETE operation, and remained in the first sharding group, consisting of the primary four disks of each server...

After digging deep into the code i found that implementation in xl-v1-healing.go:

[code]
Maybe this implementation is checking quorum wrong way?

Read quorun calculated = 9 - Correct since r

[2018-10-25 20:07] harshavardhana commented on #6703
Sending a fix @tnatanael

[2018-10-25 20:32] #6695 closed, assigned to harshavardhana

[2018-10-25 21:32] trygvis commented on #3359
Is this something that will be supported? Is there a new issue to track it I can subscribe to?

[2018-10-25 21:33] harshavardhana commented on #3359
This is the issue we might re-open this in future.

[2018-10-26 03:32] nitisht commented on #5817
since we moved to Travis for windows, and not seen this anymore, we can probably close this? @harshavardhana ?

[2018-10-26 03:50] harshavardhana commented on #5817
We can close for now..

[2018-10-26 03:50] #5817 closed, assigned to nitisht

[2018-10-26 03:53] harshavardhana commented on #6663
Yes you can restart nodes by just doing `mc admin restart myminio` you don't need to restart them individually.

[2018-10-26 04:34] CMADHANKUMAR commented on #6702
The below one works fine.

helm install stable/minio --set service.type=NodePort

[2018-10-26 04:34] #6702 closed, assigned to nitisht

[2018-10-26 04:37] CMADHANKUMAR commented on #6702
This also works fine.

[2018-10-26 04:37] CMADHANKUMAR commented on #6702
Thankyou for your support !

[2018-10-26 08:14] devrimbaris commented on #4124
@harshavardhana I guess that is for accessing s3 compatible storages , but not for providing a S3a compatible storage interface to HDFS.

[2018-10-26 08:15] harshavardhana commented on #4124
@devrimbaris we are not planning to do this, this has been dropped since some time.

[2018-10-26 09:32] sinhaashish commented on #6706
@mwiest  I tried uploading with AWS `Java Amazon AWS S3` with file name as `test_1%.jpg' . Then i used  minio java to list object and its working fine.
[code]

 Can you tell which version of minio java client you are using ?

[2018-10-26 11:45] tnatanael commented on #6703
Hy guys, @harshavardhana  i tested your fix right now, and the problem persists...

![image](https://user-images.githubusercontent.com/11818318/47564472-88e68600-d8fb-11e8-9036-9b68afd7fa31.png)

I found that removing a partially existing bucket manually from the disks, solved the heal problem...

[2018-10-26 12:01] tnatanael opened #6710 "Partially existing buckets, listed, but not accessible or removable, #6703 related..."
For some reason that i dont know exactly, a single bucket im my cluster have not been deleted completely, after a delete operation he still remained on 33% of the disks, maybe due to network instability...

Whe i try to re-delete it with:

mc rm server1/bucketerror --force
mc: <ERROR> Failed to remove `srvminio1/bucketerror`. Bucket `bucketerror` does not exist.

But when a list it with:
mc ls ser

[2018-10-26 12:17] tnatanael commented on #6703
I realized that the mc admin heal --json output was correct now! The after and before arrays are showing exact the number of disks and all online... So, the fix solved it, but not the heal problem with quorum...

[2018-10-26 13:19] nitisht commented on #6701
Closing this for now as this is the intended behaviour

[2018-10-26 15:26] balamurugana opened #6714 "`s3select` package needs to use different file segment for parquet"
Currently `s3select` uses only one input stream as data source.  However this is not fit to handle parquet file support.  To handle parquet files, its required to read content from many different offset/length sequentially and/or in parallel.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environme

[2018-10-26 17:10] kannappanr commented on #6697
Closing this as answered and working as intended.

[2018-10-26 17:10] #6697 closed, assigned to nobody

[2018-10-26 17:23] harshavardhana commented on #6701
Re-opening this for some internal discussions.

[2018-10-26 17:25] #6703 closed, assigned to nitisht

[2018-10-26 17:27] harshavardhana commented on #6703
Will take a look that's a different problem @tnatanael

[2018-10-26 17:28] tnatanael commented on #6703
Thanks a lot @harshavardhana ill wait...

[2018-10-26 18:27] kannappanr commented on #6706
@sinhaashish If I understand correctly, he does not use `minio-java`. He used `Aws-Java` throughout. He was able to do `putobject`, which worked for you also. then he used `s3.listObjects()`, which failed for him.

He is also explaining another issue with `s3.getObjectMetadata()`. Overall, I think he is using `minio`  version `2018-10-18T00:28:58Z` as the server and `Aws-SDK-Java` as the client SD

[2018-10-27 07:23] kellenchen commented on #6663
Are below steps right ?

1. deploy the distributed minio on serval hosts and start them and use mc add host  command on every host.
2. choose one host and use mc admin config set command to update minio config and use mc admin restart myminio. Is it will restart all nodes if all nodes are called myminio ?
3. choose step 2's host, use mc events add command. Is it will take effect on other nodes ?

[2018-10-27 07:26] harshavardhana commented on #6663
You only need to only one node using `mc config host` command

You need only do this once `mc admin service restart myminio` - this will restart all of them

You need to only do this once `mc events add` this will apply to everyone

[2018-10-27 07:37] kellenchen commented on #6663
In your opinion, below is my mc config host add command. Is it right ? I just add one host and it will not take effect on other nodes. I remember I test before.

[root@localhost ~]# ./mc config host add myminio1 http://xx.xx.xxx.xxx:9001 minio1 minio123

=====================================================================

em.....I test as you say above. The config updated and the event added wil

[2018-10-27 08:14] sinhaashish commented on #6706
@kannappanr  @mwiest  I ran the below code against Minio server.
[code]
And i got the below Output
[code]
POM
[code]

Do confirm if i  have missed something because its working for me.

[2018-10-27 09:56] kannappanr commented on #6706
@sinhaashish Can you please try
[code]

Maybe only these two calls are failing.

[2018-10-28 09:45] kellenchen commented on #6663
API: SYSTEM()
Time: 17:26:18 CST 10/28/2018
Error: Server not initialized, please try again
       1: cmd/logger/logger.go:294:logger.LogIf()
       2: cmd/admin-rpc-client.go:277:cmd.getPeerUptimes()
       3: cmd/admin-handlers.go:106:cmd.adminAPIHandlers.ServiceStatusHandler()
       4: cmd/admin-router.go:48:cmd.(adminAPIHandlers).ServiceStatusHandler-fm()
       5: net/http/server.go:1947:htt

[2018-10-28 09:54] john-hanley commented on #6706
It is important that the file names (S3 object keys) be correctly encoded before uploading to S3.

Storing "Blabla_50%.jpg" as the "key" name is NOT correct. You must encode all special characters and % is a special character. In the URL world the % character is the start of an encoding.

Consult the AWS S3 documentation for "Characters That Might Require Special Handling" and the section "Charact

[2018-10-28 10:05] kellenchen commented on #6663
./mc events add myminio1/images arn:minio:sqs::1:mysql

this is the add event command. How to add event for all buckets which are not created now ?

[2018-10-28 16:55] vlcinsky opened #6722 "feature request: Support conditional long poll requests"
## Expected Behavior
To get an object form a bucket, conditional request can be done today using `If-Modified-Since` and `If-None-Match`. This immediately returns the object (in case there is new one) or 304 if no change present.

Adding new parameter `long-poll-timeout` (default 0, maximal acceptable value 20seconds) should result in either returning the new object immediately or waiting up to `l

[2018-10-28 16:56] harshavardhana commented on #6722
We can only implement such features if AWS S3 implemented such features.

[2018-10-28 17:54] kyberorg opened #6723 "Yet another bug report in Swarm mode"
## Expected Behavior

Working Minio, which is accessible from Internet on ports 9001-9004.

## Current Behavior

Stack is deployed, but services are restarting every minute with "Unhealthy container" error

## Possible Solution

Add logs to debug issue

## Steps to Reproduce (for bugs)

1. Install Swarm with 4 nodes
2. Create secrets within swarm
3. Follow https://docs.minio.io/docs/deploy-minio-o

[2018-10-28 20:24] vlcinsky commented on #6722
Thanks @harshavardhana . This is very clear answer (good to keep project scope well defined).

[2018-10-28 20:24] #6722 closed, assigned to nobody

[2018-10-28 21:13] #6710 closed, assigned to harshavardhana

[2018-10-28 21:48] ZeroParticle commented on #6142
We had a problem with our save functions that caused some of the larger sized saves to begin saving on top of themselves. For example, we would attempt to save x.zip, and some time later see that x.zip was not updated and attempt to save x.zip again. Since x.zip was large the original save had still not completed and the storage server would start being overloaded with requests after a few hours.

[2018-10-29 03:19] novvoo opened #6726 "bug in k8s"
IN  K8S, helm install stable/minio
report can't mkdir  /root/.minio/certs
[code]

[2018-10-29 03:28] harshavardhana commented on #6726
Please provide your entire kubernetes configuration, this issue is incomplete.

[2018-10-29 03:32] novvoo commented on #6726
[code]

helm install --set configPath=/tmp stable/minio
[code]

[2018-10-29 03:38] nitisht commented on #6726
@jingslunt this is because k8s mounts empty dirs as readonly. We need to fix this, but https://github.com/helm/charts/issues is the right place for Helm Chart issues, please create an issue there, we will send a fix soon.

[2018-10-29 04:00] novvoo commented on #6726
thx

[2018-10-29 05:33] nitisht commented on #6723
@kyberorg we'll take a look

[2018-10-29 05:35] nitisht commented on #6726
Looks like there is an issue already https://github.com/helm/charts/issues/8724 . Please use use this issue to track progress.

Closing current issue in minio repo.

[2018-10-29 05:35] #6726 closed, assigned to nobody

[2018-10-29 07:39] belugaliu commented on #6627
@harshavardhana Can the cleaning cycle be modified? and What is the role of the multipart folder's sub folders? and what version support the feature that clean multipart floder in every 2 weeks?

[2018-10-29 08:30] kellenchen commented on #6663
@harshavardhana @deekoder

[2018-10-29 08:50] kellenchen opened #6727 "why minio can not see the file which I upload the file into the data dir by hand in distributed mode"
In standalone mode, I upload the file into the data dir, minio can check auto and see on the browser. But in distributed mode, I upload the file the same, minio can not check auto and can not see on the browser. Why ? We now have the requirement that is We use the standalone mode before but now we want to use distributed mode and want to migrate the data.  How to solve this ?

[2018-10-29 08:54] nitisht commented on #6727
Please use mc mirror (ref: https://docs.minio.io/docs/minio-client-complete-guide.html#mirror) to move data from one Minio instance to another.

Minio distributed mode will not detect any files uploaded directly to the drives. Moreover, it is generally not recommended to access / edit files directly on the drives being used by Minio server. It may lead to unintended problems.

[2018-10-29 09:02] kellenchen commented on #6727
I use mc mirror command and execute success but can not see the file ....

[2018-10-29 09:04] nitisht commented on #6727
how did you use the command, can you please elaborate

[2018-10-29 09:05] kellenchen commented on #6727
./mc mirror 111/ minio1/images

I use ./mc cp -r ~/111 minio1/images the same.

[2018-10-29 09:06] kellenchen commented on #6727
111 is a dir I create on the host.

[2018-10-29 09:11] nitisht commented on #6727
you need to use mirror from one Minio instance to another. For example if `minio1` and `minio2` are aliases for two instances (standalone and distributed), use

`./mc mirror minio1/ minio2/`

[2018-10-29 09:15] kellenchen commented on #6727
If the minio1 and minio2 are two different hosts. How to write the command ?

[2018-10-29 09:17] nitisht commented on #6727
add the aliases to mc like `mc config host add minio1 http://IP:Port AccessKey SecretKey` and `mc config host add minio2 http://IP:Port AccessKey SecretKey`

Then use `./mc mirror minio1/ minio2/`

[2018-10-29 09:26] kellenchen commented on #6727
thanks. I try try

[2018-10-29 09:49] kellenchen commented on #6727
solved the problem @nitisht

[2018-10-29 09:49] #6727 closed, assigned to nobody

[2018-10-29 11:23] kellenchen opened #6728 "startup error"
RROR Invalid command line arguments: mixed style endpoints are not supported.

      HELP:
        For more information, please refer to https://docs.minio.io/docs/minio-erasure-code-quickstart-guide

[2018-10-29 11:53] kellenchen commented on #6728
**All the nodes running distributed Minio need to be in a homogeneous environment, i.e. same operating system, same number of disks and same interconnects.**

I ssh the host and execute the start command. The minio use the sshUser and sshPassword I login in ?

and it requires the sshUser and sshPassword same on every host ?

[2018-10-29 12:16] nitisht commented on #6728
how did you start the Minio server @kellenchen

[2018-10-29 12:47] kellenchen commented on #6728
export MINIO_ACCESS_KEY=xxx
export MINIO_SECRET_KEY=xxxx
nohup ./minio --config-dir ~/minio_tenant_config/tenant1 server --address :10620 http://192.168.74.x/app/minio_data/tenant1 192.168.75.x/app/minio_data/tenant1 http://192.168.57.x/app/minio_data/tenant1 http://192.168.59.x/app/minio_data/tenant1 &

[2018-10-29 12:52] kellenchen commented on #6728
The above four hosts has two kinds of disk as below. One is /dev/xvde and the other is /dev/vdb. But both of them all mounted on /app. Does it matter ? And the user is cloud and the other one is ctgcloud. Does it matter ?

[cloud@aep_cloud_0002 ~]$ df -h
文件系统        容量  已用  可用 已用% 挂载点
/dev/xvda2       36G  5.7G   28G   17% /
devtmpfs         63G     0   63G    0% /dev
tmpfs            63G     0

[2018-10-29 12:53] kellenchen commented on #6728
@nitisht

[2018-10-29 13:00] nitisht commented on #6728
please use

[code]

[2018-10-29 13:21] kellenchen commented on #6728
it is not the reason for remove nohup. When I use the command as you give, it print the same error.

[2018-10-29 15:53] harshavardhana commented on #6728
You are missing http://

[code]

[2018-10-29 18:33] dmolesUC opened #6730 "Access and secret keys not displayed (not generated?) when running in Docker"
Running in bash on macOS mojave, following the [quickstart instructions](https://docs.minio.io/docs/minio-docker-quickstart-guide):

[code]

(The `minio-docker` directory exists, the `config` and `data` didn't till they were created by Docker.)

## Expected Behavior

Per #6697, I expected to see

[code]

## Current Behavior

I just get:

[code]

There's no files in either `config` or `data`, just

[2018-10-29 18:49] harshavardhana commented on #6730
yes, this is on purpose @dmolesUC3 you need to run in `docker -it` to see the keys. Docker logs by default are logged and scraped. Displaying keys is a security issue so we went with this approach.

[2018-10-29 19:01] dmolesUC commented on #6730
@harshavardhana That makes sense. Maybe a note to that effect could be added to the quickstart instructions?

[2018-10-29 19:03] kannappanr commented on #6730
@dmolesUC3 We will fix the documentation to reflect this change.

[2018-10-29 23:19] harshavardhana commented on #6684
[code]

Should work in this scenario @eco-minio - this is an issue with CLI package since `-` is a separator for flags since we use positional arguments it is possible that '-' will cause confusion which is what is happening.

This issue is not about access key having `-` or not and has nothing to do with the server not supporting `-`.

[2018-10-30 01:25] kellenchen commented on #6728
em...I add http:// and two hosts startup success and two another still print below error.

Waiting for a minimum of 2 disks to come online (elapsed 1m0s)

Waiting for a minimum of 2 disks to come online (elapsed 2m0s)

Waiting for a minimum of 2 disks to come online (elapsed 3m0s)

Waiting for a minimum of 2 disks to come online (elapsed 4m0s)

and they can ping success for each other.

[2018-10-30 02:43] kellenchen commented on #6728
firewall problem . solved.

[2018-10-30 02:43] #6728 closed, assigned to nobody

[2018-10-30 03:42] kellenchen opened #6732 "How to add event for all bucket ?"
./mc events add myminio1/images arn:minio:sqs::1:mysql

this is the add event command. How to add event for all buckets which are not created now ?

[2018-10-30 04:52] nitisht commented on #6732
@kellenchen you can't add events for all buckets in one go. You need to add events one by one, after buckets are created.

Also, feel free to join us on Slack https://slack.minio.io for further such questions

[2018-10-30 06:08] kellenchen commented on #6732
sorry..I can not open the url..

[2018-10-30 07:32] kellenchen commented on #6732
can java api to add event ? or only can use mc command ?

[2018-10-30 08:40] nitisht commented on #6732
what is the problem? It works for me..

[2018-10-30 08:48] kellenchen commented on #6732
em...I don't know. I think it is the network problem for the url's server is not in china. I opened the url and join the minio slack in the afternoon. But sometimes can open and sometimes can not open.

[2018-10-30 08:50] nitisht commented on #6732
I see, now that you joined, lets continue discussion there. Closing this issue as answered

[2018-10-30 08:50] #6732 closed, assigned to nobody

[2018-10-30 08:52] nitisht commented on #6220
closing due to no response @tharnirav please do let us know when you can verify this

[2018-10-30 08:52] #6220 closed, assigned to nobody

[2018-10-30 08:52] nitisht commented on #6275
As we removed appveyor, and use Travis for windows build, closing this for now. we can revisit if seen again

[2018-10-30 08:52] #6275 closed, assigned to Praveenrajmani

[2018-10-30 08:59] nitisht commented on #4809
Since there has been no discussions on this front for quite a while now, closing the issue. We can revisit when we want to do this

[2018-10-30 08:59] #4809 closed, assigned to donatello

[2018-10-30 09:02] nitisht commented on #4638
closing this for now as we have not been able to work on it. we can revisit later once we have development cycles to fix this.

[2018-10-30 09:02] #4638 closed, assigned to krishnasrinivas

[2018-10-30 09:03] nitisht commented on #4676
@harshavardhana @krishnasrinivas is this fixed as a part of HTTP REST approach?

[2018-10-30 09:04] nitisht commented on #4929
closing this based on previous comment

[2018-10-30 09:04] #4929 closed, assigned to krishnasrinivas

[2018-10-30 09:07] nitisht commented on #5406
we decided to implement minio-operator for Kubernetes (ref: https://github.com/minio/minio-operator) so closing this for now. We can revisit later if there is a pressing need

[2018-10-30 09:07] #5406 closed, assigned to krishnasrinivas

[2018-10-30 09:08] nitisht commented on #5218
We can revisit later once we have dev cycles to fix this, closing for now

[2018-10-30 09:08] #5218 closed, assigned to ebozduman

[2018-10-30 09:10] nitisht commented on #5915
Closing now as won't fix and moving it to new ux milestone for activation after we clear our current backlog.

[2018-10-30 09:10] #5915 closed, assigned to nobody

[2018-10-30 09:11] nitisht commented on #5796
closing for now, we can revisit later

[2018-10-30 09:11] #5796 closed, assigned to nobody

[2018-10-30 09:12] nitisht commented on #5858
ping @aead

[2018-10-30 09:13] nitisht commented on #6286
ping @sinhaashish can you update what is done and what is not done here

[2018-10-30 09:14] nitisht commented on #6473
we already have an idea of the perf difference, closing this for now.

[2018-10-30 09:14] #6473 closed, assigned to nobody

[2018-10-30 09:15] nitisht commented on #6477
Closing this as not reproducible. Please do reopen if there is consensus on how to reproduce this issue

[2018-10-30 09:15] #6477 closed, assigned to nobody

[2018-10-30 09:17] nitisht commented on #6684
closing this based on previous comment

[2018-10-30 15:49] harshavardhana commented on #6684
Actually a PR was sent to avoid base64 url encoding

[2018-10-30 16:36] pospelov-v opened #6734 "How to forbid the LIST command in the Minio server settings via the S3 API?"
How to forbid the LIST command in the Minio server settings via the S3 API?

[2018-10-30 16:43] harshavardhana commented on #6734
Please explain a more use case here, the issue template is not used and the issue not descriptive closing for now.

[2018-10-30 16:43] #6734 closed, assigned to nobody

[2018-10-30 17:36] kannappanr commented on #5457
Closing this issue. Will do all the translations later as part of the documentation overhaul.

[2018-10-30 17:36] #5457 closed, assigned to nobody

[2018-10-30 23:12] kannappanr commented on #4141
Do not have the bandwidth to work on this right now. Will close this now and re-open it when we get some bandwidth to do this.

[2018-10-30 23:12] #4141 closed, assigned to nobody

[2018-10-30 23:59] kannappanr commented on #4648
Marking this issue as fixed and closing this issue

[2018-10-30 23:59] #4648 closed, assigned to aead

[2018-10-31 00:00] kannappanr commented on #4498
Closing this issue as fixed based on feedback from @kaankabalak . This was fixed by a bunch of PRs from @kaankabalak @balamurugana and @ebozduman. The final PR to fix this issue is https://github.com/minio/minio/pull/6396

[2018-10-31 00:00] #4498 closed, assigned to kaankabalak

[2018-10-31 00:06] kannappanr commented on #5582
Closing this issue as this has been stale for a while now. Can re-open the issue if there is more information and once we have more bandwidth to fix this feature request.

[2018-10-31 00:06] #5582 closed, assigned to nobody

[2018-10-31 00:16] kannappanr commented on #5511
Should we keep this issue open? Can it be closed?

[2018-10-31 00:22] bermi opened #6739 "Regression made assumed roles incompatible with minio when using aws sdks & cli"
Recent changes in minio are preventing us from using AWS assumed roles.

## Steps to Reproduce

1. Add two profiles to the AWS credentials file, one with a session token and another one without it:

[code]

2. Create a test bucket

[code]

3. Run the minio server using the latest docker version

[code]
## Current Behavior

Listing bucket fails when using the profile with a session token.

[code]

[2018-10-31 00:23] kannappanr commented on #5456
ping @nitisht Do you have any updates on this issue?

[2018-10-31 00:24] kaankabalak commented on #6686
I was able to reproduce this issue both on IE10 and IE11, we will be investigating the cause and keep you updated @gxwangit

[2018-10-31 00:32] kannappanr commented on #5717
Closing this issue based on feedback from @kaankabalak . This was a one time issue based on some corrupt files.

[2018-10-31 00:32] #5717 closed, assigned to krishnasrinivas

[2018-10-31 00:35] kannappanr commented on #5975
@Praveenrajmani Can this issue be closed?

[2018-10-31 00:45] harshavardhana commented on #6739
The session token is meaningless for us @bermi provided by AWS - if you provide that we will have to try to decode it based on temporary credentials that we support with STS.

Why is this set anyways for Minio server? - This worked because we previously didn't support `x-amz-security-token`

[2018-10-31 00:45] kannappanr commented on #5742
@sinhaashish Do you have any updates on this issue?

[2018-10-31 00:47] kannappanr commented on #4193
closing this issue as we will not be allowing password change in the new UI.

[2018-10-31 00:47] #4193 closed, assigned to nobody

[2018-10-31 00:53] bermi commented on #6739
@harshavardhana We are using minio instead of s3 on our CI pipeline. The code uses the aws-sdk and the assumed roles for interacting with AWS services (except s3) which has been replaced with minio by changing the endpoint.

What would be the proper way to share the ID and Key when connecting with minio through the aws-sdk/cli and using assumed roles and tokens?

[2018-10-31 00:59] harshavardhana commented on #6739
We cannot understand AWS tokens @bermi - Minio implements its own Token understanding mechanism for STS temporary credentials.  If you provide us with AWS session token we can't make sense of it since we are not an AWS service - neither we have a way to look up what it means.

AWS cli would automatically set these tokens if used in the credentials file. So when you get credentials from AWS for the

[2018-10-31 01:05] bermi commented on #6739
@harshavardhana Thanks for the detailed explanation.

Unfortunately, I'm not sure there's a way to opt-out sending the headers for temporary credentials when using AWS clients.

Is there an environment variable that we could use to disable the STS feature in minio when starting the server?

[2018-10-31 01:32] harshavardhana commented on #6739
It may not be possible - we cannot disable/enable features in that manner - these are becoming core functionalities of Minio @bermi it is unfortunate that you are trying to re-purpose AWS credentials for Minio. Since Minio is also an S3 alternative such a conflict that would exist.

When testing with Minio your application should use something simple, since you are using aws-sdk's you can chain th

[2018-10-31 02:17] bermi commented on #6739
@harshavardhana We have some integration tests that spawn three different microservices. Each microservice uses multiple AWS services, S3 being one of them.  We intend to use minio to replace AWS S3 in our non-AWS datacenters (Alibaba in mainland China), so we started familiarizing with minio on our CI pipeline and for local testing.

Anyhow, it looks like we'll need to get creative in our code by

[2018-10-31 02:17] #6739 closed, assigned to nobody

[2018-10-31 06:26] harshavardhana commented on #6686
Do you see any logs on the server Kaan ?

[2018-10-31 06:32] kaankabalak commented on #6686
@harshavardhana I just tested it on Play and on the given link on a VM for now, however I can test it on another instance, try to access it from there, and check the server logs.

[2018-10-31 06:39] #6730 closed, assigned to eco-minio

[2018-10-31 07:43] harshavardhana commented on #4676
In a way yes.. but it is perhaps not there yet. We basically have to disallow requests from IPs trying to connect to Minio.

[2018-10-31 10:09] pospelov-v commented on #6734
We use minio as an S3 storage of custom images (for example, account avatars).
Our site has two frontend.

Total 3 VPS:
1) frontend of our site
2) frontend of our site
3) "Minio" server that stores pictures and gives them to users of both fronts.

We decided to do it this way - we created one public bucket, all the pictures were put into it.

Now it is necessary that the users of our fronts can on

[2018-10-31 11:23] Dimentium opened #6741 "HTTP Host header strictly require whitespace"
In some latest releases Minio strictly require whitespace in HTTP Host between colon and value.

## Expected Behavior (work in RELEASE.2018-08-02T23-11-36Z)
[code]

## Current Behavior (broken in some latest releases)
[code]

## Possible Solution
in RFC there are no strictly requirements for whitespace in header.
other headers except Host correctly accepts both variants (with and without whitespac

[2018-10-31 13:18] Praveenrajmani commented on #4994
The `Content-Md5` is set in the `blob.Properties` ( [https://github.com/minio/minio/blob/4280e68de3f4ec368b4d70b8788a74236b05f4f3/cmd/gateway/azure/gateway-azure.go#L728](url)) only  if the request (`metadata`) has it.

If the `Content-Md5` is not set in the metadata, We need to perhaps calculate the `data.MD5Current()`. The difficulty here is .. We cannot pro-actively calculate the Md5sum before

[2018-10-31 13:37] Praveenrajmani commented on #4995
The same block as discussed in [https://github.com/minio/minio/issues/4994#issuecomment-434682933](url)

[2018-10-31 16:41] harshavardhana commented on #6741
Thanks we will fix this behavior.

[2018-10-31 21:49] kaankabalak commented on #6686
The server log prints the following error when Minio server is configured with TLS and the user tries to access it from IE10:
[code]

[2018-10-31 22:07] #6684 closed, assigned to nobody

[2018-10-31 22:31] #6741 closed, assigned to nobody

[2018-11-01 10:33] huytn opened #6745 "Content-Length of reponse from downloading request is incorrect"
I tried to download file with Range header and I saw Content-Length in response was incorrect. The value of Content-Length must be size of body in bytes but it is size of object in bytes.

I'm using boto3 to download file.

[2018-11-01 13:06] meljai opened #6746 "Can't start minio on redhat 5.5 server"
I try to start minio on a "Red Hat Enterprise Linux Server release 5.5 (Tikanga)" server with the flowing command "/opt/minio/bin/minio server /opt/minio/data" but I got this error "runtime: epollwait on fd 4 failed with 38
fatal error: runtime: netpoll failed
 runtime stack:
runtime.throw(0x159f255, 0x17)
        /opt/go/src/runtime/panic.go:616 +0x81
runtime.netpoll(0x1562fa909d9df300, 0xc400000

[2018-11-01 14:17] vadmeste commented on #6746
@meljai your distribution is old, Golang dropped support of RHEL 5.x long time ago. Please update to the most recent RHEL version.

[2018-11-01 14:38] #6746 closed, assigned to nobody

[2018-11-01 16:13] harshavardhana commented on #6745
Please provide more information using the issue template in detail. This is not really helpful issue reporting.

Closing this please reopen a new issue with more information.

[2018-11-01 16:13] #6745 closed, assigned to nobody

[2018-11-01 22:50] harshavardhana commented on #6701
We are going to fix it, sending a fix.

[2018-11-01 22:52] kannappanr commented on #6663
@kellenchen

Event notification is supported only for existing buckets.

[2018-11-01 22:55] kannappanr commented on #6663
I think you can ignore the initial error. As far as the time difference is concerned, I think that one or more of your nodes have a time difference of 15 seconds and that is causing this issue.

[2018-11-01 23:05] kannappanr commented on #6627
@liuliliGithub Currently there is no way to modify the cleaning cycle. The multipart's subfolder stores the incomplete parts for all the upload ids for a combination of bucket and object.

For example

`.minio.sys/multipart/73c76171dcddbf238b23b7b2e0e3caad41bccc5d2ae24c21982f3b433c923759/914dfcf5-630e-4978-b647-a1e6d3dd02fe`

`73c76171dcddbf238b23b7b2e0e3caad41bccc5d2ae24c21982f3b433c923759` corre

[2018-11-02 01:31] #6663 closed, assigned to nobody

[2018-11-02 01:34] kellenchen opened #6749 "Does Minio has Real time monitoring and user policy as S3 ?"

[2018-11-02 02:57] liezh commented on #6686
i have seen issue in C# SDK

API: SYSTEM()
Time: 02:42:12 UTC 11/01/2018
Error: malformed HTTP request from '172.17.0.2:9000'
       remoteAddr=10.20.0.200:50541, localAddr=172.17.0.2:9000
       1: cmd/logger/logger.go:295:logger.LogIf()
       2: cmd/http/listener.go:274:http.(*httpListener).start.func2()

[2018-11-02 04:40] huytn opened #6751 "Content-Length of reponse from downloading request is incorrect"
I want to download parts of file. I added Range header into request and I saw value of Content-Length of response is size of file not by size of part.

Here is my code:

[code]

I'm using:
 Nginx: 1.11.8
 Minio 2018-08-02T23:11:36Z (distributed mode)
 Boto3 SDK

[2018-11-02 04:58] huytn commented on #6751
I found my problem

range header has to prefix: "bytes="

[2018-11-02 04:58] #6751 closed, assigned to nobody

[2018-11-02 05:06] harshavardhana commented on #6749
Please state the issue in more detail using the issue template, closing as insufficient information.

[2018-11-02 05:06] #6749 closed, assigned to nobody

[2018-11-02 07:13] kannappanr commented on #6438
@incolas I used the following code
[code]
I did not see any errors when I connected to `minio` directly instead of using an nginx.

Can you also try this to talk to your minio directly instead of using nginx. Also, when you run `minio`, can you enable HTTP Tracing?

This can be done by

`MINIO_HTTP_TRACE=/dev/stdout minio server /data`

Once this is done, can you paste the output of both the clien

[2018-11-02 07:39] kannappanr commented on #6686
@gxwangit From the error, it looks like IE10 does not use recommended cipher suites. Minio does not support older and cryptographically insecure cipher suites.
If you need to have TLS enabled, then one option here is to use a TLS reverse-proxy.

[2018-11-02 08:18] ihamouda commented on #6701
thank you

[2018-11-02 12:04] aead opened #6754 "[SSE-S3]: add support for SSE-S3 object key rotation"
*This is a feature request - therefore not using the template on purpose.*

The S3 protocol allows object key rotation for SSE-C. This means that S3 clients can specify the
two different SSE-C keys for an existing object during COPY (`dst == src`). AWS will verify that the 1st key is the correct current SSE-C key and than rotate the object key to the 2nd SSE-C key. (Simplified)

A similar mechanis

[2018-11-02 14:53] rubensf opened #6756 "No HTTP Trace on 501"
## Expected Behavior
`MINIO_HTTP_TRACE` to show all http traffic, including 500s.

## Current Behavior
No trace for a 501 response.

## Possible Solution
Not too familiar with the tracing architecture :p

## Steps to Reproduce (for bugs)
Configure minio
[code]

Configure mc
[code]

Try something that return a 501
[code]

### MC Trace:
[code]

### MINIO_HTTP_TRACE
[code]

## Your Environment
* Vers

[2018-11-02 15:18] harshavardhana commented on #6483
Looks like play.minio.io was able to reproduce this error

[code]

[2018-11-02 16:31] maxozerov opened #6758 "Setup a proxy and reject all DELETE http requests without modifying minio code"
_Originally posted by @harshavardhana in https://github.com/minio/minio/issues/5431#issuecomment-359030797_

[2018-11-02 16:38] maxozerov commented on #6758
You can not setup a proxy and reject all DELETE http requests.
Example for Delete some object in bucket

- Request Method: POST
- Request URL: https://minio.server-name/minio/webrpc
- Authorization: Bearer
- Content-Type: application/json

Request-Payload:
[code]
So, it's not have any DELETE http requests - it's POST Request to *minio/webrpc* and contain json (Request-Payload).

[2018-11-02 17:07] maxozerov commented on #6758
So, if reject DELETE headers not help...  How 'Deny Delete Selected Objects from Minio Browser'.
Maybe Change bucket policy - help with it?

Thanks.

[2018-11-02 17:14] maxozerov commented on #6758
'Deny Delete Selected Objects from Minio Browser' - maybe bucket-policy help with it.
So, i'm closing issue - because not have any info. If  bucket-policy will not take effect - create new Issue.

[2018-11-02 17:14] #6758 closed, assigned to nobody

[2018-11-02 19:52] wpuckering opened #6759 "Use Minio web application as interface for Amazon S3?"
Is it somehow supported to use the Minio web application as an interface to Amazon S3? I was thinking that since Minio has API compatibility with S3 that this should be possible? I don't want to use Minio as a storage backend, I would like to use S3, but it would be pretty cool to be able to use the Minio frontend.

[2018-11-02 19:58] harshavardhana commented on #6759
have you seen? https://github.com/minio/minio/blob/master/docs/gateway/s3.md

[2018-11-02 20:08] kannappanr commented on #6548
@LordMike We have root caused the issue. This is a bug with `aws-sdk-dotnet`. I enabled logging for this SDK and found that the URL Path was double encoded. It is double encoded if the endpoint is not s3.

So, if the `urlPath` is `/test/my file` single encoding makes it `/test/my%20file` and double encoding makes it `/test/my%2520file`. The aws sdk sets the variable `pathWasPreEncoded` to true and

[2018-11-02 21:27] kannappanr commented on #6756
@rubensf Thanks for filing this issue. we will send in a PR to trace all the handlers that we have.

[2018-11-02 21:46] subramp commented on #6548
Thanks @kannappanr. Can you please share the URL to the bug reported in https://github.com/aws/aws-sdk-net repo?

[2018-11-02 22:27] higecko commented on #6548
It looks like there is a request for this in aws-sdk-net already: https://github.com/aws/aws-sdk-net/issues/933

[2018-11-03 00:21] harshavardhana commented on #6758
@maxozerov you can disable browser MINIO_BROWSER=off and reject DELETE on the proxy should disable everything that you want.

[2018-11-03 03:45] sinhaashish commented on #6706
@mwiest  : There is no issue on minio side. AWS JAVA SDK has introduced `automatic url decoding` . Refer https://github.com/aws/aws-sdk-java/issues/1797 . You can set `shouldSDKDecodeResponse` to false and you will get the correct output.

[2018-11-03 05:38] harshavardhana commented on #6490
@tylerforsythe shall we close this issue?

[2018-11-03 15:25] ikozhukhov opened #6760 "build minio server failed on illumos based platform"
I have DilOS - it is illumos based platform

try to build minio server and can see issues:

[code]
could you please let me know - how can i try to fix it ?
illumos platform detect as solaris/amd64

[2018-11-03 16:53] harshavardhana commented on #6760
Should be easy to fix we need to add ``// +build solaris`` file

[2018-11-03 16:58] ikozhukhov commented on #6760
what file of files?

[2018-11-03 17:06] harshavardhana commented on #6760
https://github.com/minio/minio/blob/master/cmd/http/listen_others.go in this file at the top just add

[code]

[2018-11-03 17:08] ikozhukhov commented on #6760
it failed:
[code]

[2018-11-03 17:11] harshavardhana commented on #6760
Remove the `solaris` entry from `_unix.go` file and instead add it to https://github.com/minio/minio/blob/master/cmd/posix-list-dir_plan9.go

[2018-11-03 17:13] ikozhukhov commented on #6760
[code]
build failed with:
[code]

[2018-11-03 17:36] ikozhukhov commented on #6760
fine, just fixed it by:
[code]
and update to build only on solaris platform
will try to test final binary
thanks for your help with build!

[2018-11-03 17:43] harshavardhana commented on #6760
Please send a PR we will merge it.

[2018-11-03 17:43] ikozhukhov commented on #6760
will do it after tests.

[2018-11-03 20:34] tylerforsythe commented on #6490
Yes, we can close it.

After working with @harshavardhana in Slack, we determined that the primary issue was that I was attempting to use Minio with data directories instead of giving Minio the entire disk. I.e., old command:

C:\home\minio\minio.exe --config-dir C:\home\minio\ server V:\MinioDataV\ W:\MinioDataW\ X:\MinioDataX\ Y:\MinioDataY\

New command:

C:\home\minio\minio.exe --config-dir C:

[2018-11-03 20:34] #6490 closed, assigned to harshavardhana

[2018-11-04 10:42] ikozhukhov commented on #6760
We are using bitbucket for DilOS and I did mirror to: https://bitbucket.org/dilos/minio
special for DilOS we have separate fork for build and fixes.

You can find fixed build at:
https://bitbucket.org/dilos/dilos-minio/commits/155df0233019f25897c8fa49d0ed3e7cda320142

we are using DEB packages and i'll update repo with build of minio as package.
i can let you know with update and if it will be app

[2018-11-05 06:12] mvijayran opened #6762 "Config.json not generated by itself | How to set minio credentials manually"
## Expected Behavior
config.json file should be generated by itself  with auto generated access, secret key and other parameters, when first time minio server is started.

## Current Behavior
config.json file is not getting generated when server is starting and access key and secret key is not getting printed while checking minio status.

I was trying to setup minio on CentOS Linux release 7.0.140

[2018-11-05 07:43] huayuanzzb opened #6763 "Notification still be inserted to postgresql after remove events from a bucket."
Notification still be inserted to postgresql after remove events from a bucket.

## Expected Behavior
Notification should not be sent to postgresql after remove events from a bucket.

## Current Behavior
When I remove the events, `mc` command tell me it works successfully.
However, the notifications still be inserted into postgresql.

the remove command is
[code]

## Possible Solution
No idea.

##

[2018-11-05 07:49] nitisht commented on #6763
@huayuanzzb we have made fixes to the notification system in recent releases. Can you please try the latest release and let us know

[2018-11-05 07:49] harshavardhana commented on #6763
This was already fixed in our latest release @huayuanzzb

[2018-11-05 07:51] harshavardhana commented on #6763
PR #6082 fixed an issue #6053

[2018-11-05 07:52] harshavardhana commented on #6763
Fixed in release RELEASE.2018-08-25T01-56-38Z

[2018-11-05 07:56] nitisht commented on #6762
@mvijayran

Config.json has now moved to another location https://docs.minio.io/docs/minio-server-configuration-guide.html and it is generally not recommended to edit the config file manually.

Also, if you're running with Docker, Minio will not display the autogenerated keys unless you start the container with the -it(interactive TTY) argument. Generally, as it is not recommended to use autogener

[2018-11-05 07:58] harshavardhana commented on #6762
config.json is now not generated as part of users home directory, it is generated only in FS mode as part of the backend it can be generally found at

[code]

But it shouldn't be touched or edited directly through backend but instead follow the following documentation https://docs.minio.io/docs/minio-server-configuration-guide.html

Addition to this we also disabled printing "access/secret" keys t

[2018-11-05 08:02] huayuanzzb commented on #6763
Guys, thanks for your help.
@nitisht The latest version works fine.

[2018-11-05 08:02] #6763 closed, assigned to nobody

[2018-11-05 08:12] nitisht commented on #6706
@mwiest closing this for now as this looks like related to aws-sdk-java. Feel free to reopen / get back to us if there are any further issues.

[2018-11-05 08:12] #6706 closed, assigned to sinhaashish

[2018-11-05 08:57] belugaliu commented on #6627
@kannappanr  thanks, i am looking forward.

[2018-11-05 14:01] kellenchen opened #6765 "Not support mc admin policies and mc admin users command"
**[root@localhost ~]# ./mc admin -h**
NAME:
  mc admin - Manage Minio servers

USAGE:
  mc admin COMMAND [COMMAND FLAGS | -h] [ARGUMENTS...]

COMMANDS:
  service      Stop, restart or get status of Minio server
  info         Display Minio server information
  credentials  Change server access and secret keys
  config       Manage configuration file
  heal         Heal disks, buckets and objects o

[2018-11-05 15:35] kannappanr commented on #6759
@wpuckering Closing this issue as answered. Please feel free to re-open the issue, if you feel otherwise.

[2018-11-05 15:35] #6759 closed, assigned to nobody

[2018-11-05 15:38] kannappanr commented on #6765
@kellenchen The version of `mc` that you are using does not have the support for that `command`. Can you please try the latest release? https://dl.minio.io/server/minio/release/linux-amd64/minio .

[2018-11-05 18:26] #6754 closed, assigned to aead

[2018-11-05 18:39] kannappanr commented on #6627
@liuliliGithub This auto cleaning feature is already present for the past few months. Are you saying that it is not working?

[2018-11-05 21:39] subramp commented on #6548
Thanks @stonedgecko. It seems there won't be a fix any time soon for this issue :(

[2018-11-05 21:52] LordMike commented on #6548
Damn. Really? .. Wow.. That sucks :O

[2018-11-05 23:18] harshavardhana commented on #6548
We should send a fix upstream @poornas @kannappanr should be easy, I don't get why its not a priority :-)

[2018-11-06 06:32] kellenchen commented on #6765
[root@localhost ~]# ./mc version
Version: 2018-09-26T00:42:43Z
Release-tag: RELEASE.2018-09-26T00-42-43Z
Commit-id: 87f7e65c4c837c8886bf2dd8800c445983b36187

this is my mc version. It is the mc version not support or the minio version not support ? the link you give is for minio download

[2018-11-06 06:34] nitisht commented on #6765
Please try this https://dl.minio.io/client/mc/release/linux-amd64/mc

[2018-11-06 06:36] kellenchen commented on #6765
if I use the new mc version, the minio config I use mc before is apply now ? Does it has any influence ?

[2018-11-06 06:38] nitisht commented on #6765
No, you can try creating policies with this mc version

[2018-11-06 06:39] kellenchen commented on #6765
OK. I try try

[2018-11-06 06:42] kannappanr commented on #6765
@kellenchen Sorry, yes I pasted link to `minio` instead of `mc`

[2018-11-06 06:45] kellenchen commented on #6765
It doesn't  matter. It works now for the new mc version. @kannappanr

[2018-11-06 06:50] #6765 closed, assigned to nobody

[2018-11-06 07:04] kellenchen opened #6767 "mc admin users list not support"
[root@localhost ~]# ./mc admin users list myminio1
**mc: <ERROR> Cannot list user sio: unsupported version**
[root@localhost ~]# ./mc admin users -h
NAME:
  mc admin users - Manage regular users

USAGE:
  mc admin users COMMAND [COMMAND FLAGS | -h] [ARGUMENTS...]

COMMANDS:
  add      Add new users
  policy   Set policy for user
  disable  Disable users
  enable   Enable users
  remove   Remove us

[2018-11-06 07:08] kellenchen commented on #6767
mc admin users add myminio newuser newuser123 getonly

After execute the above command successfully, I can not use the newuser/newuser123 to login in the minio browser. why ?

[2018-11-06 07:16] kannappanr commented on #6767
@kellenchen I tried `$ mc admin users add myminio newuser1 newuser123 readonly
Added used `newuser1` successfully.
`
trying `mc admin users add myminio newuser2 newuser123 getonly
mc: <ERROR> Cannot set user policy for new user The canned policy does not exist.
`

Also, I was able to login to the browser using `newuser1` . Listing of added users also worked for me.

I am using the latest released

[2018-11-06 07:19] nitisht commented on #6723
@kyberorg I tried to replicate this locally, but seems to work with latest release: `RELEASE.2018-11-06T01-01-02Z`, can you try with release tag `RELEASE.2018-11-06T01-01-02Z`

[code]

[2018-11-06 07:19] kellenchen commented on #6767
[root@localhost ~]# ./mc version
Version: 2018-11-06T01:12:20Z
Release-tag: RELEASE.2018-11-06T01-12-20Z
Commit-id: b827fac6356f80354a1cf61f43cf5e5b60bbb511

[2018-11-06 07:21] kellenchen commented on #6767
[root@localhost ~]# ./mc admin policies add myminio1 getonly getonly.json
Added policy `getonly` successfully.
[root@localhost ~]# ./mc admin users add myminio1 newuser newuser123 getonly
Added used `newuser` successfully.

[2018-11-06 07:23] kellenchen commented on #6767
when i login in, the dialog show The access key ID you provided does not exist in our records

[2018-11-06 07:25] kellenchen commented on #6767
the minio I setup is in distributed mode , and I use mc command on one minio instance.

[2018-11-06 07:35] harshavardhana commented on #6767
The users are loaded every 5 mins on rest of the other nodes

[2018-11-06 07:40] kellenchen commented on #6767
I just login on the node I execute the mc command. It pass not only 5 minutes.

[2018-11-06 07:43] eyalrif opened #6768 "Feature Request - Control disks in Minio Disk groups"
Feature Request -

Please add the ability to control which mount point will be part of each disk group in minio.
i.e - in case of 4:2 - i would like the /mnt/minio1 on all 6 servers will be disk group1,minio2 on disk group2 etc..

This allows more fine grain control and allow the user to control the device location better (This, for example, can be configured when multiple JBODs are in one setup a

[2018-11-06 08:21] kellenchen commented on #6767
When i use the latest minio, it works.

[2018-11-06 08:21] #6767 closed, assigned to nobody

[2018-11-06 08:35] nitisht commented on #6768
Thanks @eyalrif we will discuss this internally and get back to you

[2018-11-06 08:55] kellenchen opened #6769 "How to upgrade minio in distributed mode"
I use minio of 10.6 version in distributed mode. Now I want to upgrade the minio to 11.6 version since some functions not support by old version. How can I do it

[2018-11-06 08:56] kellenchen commented on #6769
I don't want to transfer data and config again...

[2018-11-06 08:58] harshavardhana commented on #6769
@kellenchen please join https://slack.minio.io for answers to these questions - Github issue is not a forum for this type of communication.

[2018-11-06 08:59] harshavardhana commented on #6760
@ikozhukhov would you be able to send the PR?

[2018-11-06 09:58] ikozhukhov commented on #6760
will try to do it on github
could you interested in my updates for DEB package build based on Debian ?
also, i can see failed tests and i'd like to to the best way to work on it:
https://paste.dilos.org/?4a1fa6c8689bd8fe#2llgrft/tAUyAWndsCRpMBXy5Sf0Sipb7rVZ7sam/Mw=
is it can be separate issue per failed test or i can open one?

[2018-11-06 11:40] nitisht commented on #6769
closing this as answered on Slack

[2018-11-06 11:40] #6769 closed, assigned to nobody

[2018-11-06 11:50] curantes commented on #6483
This happen for us again now when stopping one of our clusters in preparation of upgrade.
 minio version: RELEASE.2018-05-11T00-29-24Z below logs are from one of 10 nodes This cluster had also a `mc mirror -w` sync to it, not active during this but had been running before.

Is there recommendation still not to use `mc mirror -w` and just make a workaround with some sort of while loop bash script f

[2018-11-06 12:40] pchiend commented on #4155
how?

[2018-11-06 15:04] kannappanr commented on #6762
@mvijayran Closing this issue as answered. Please feel free to reach out to us if you have other questions.

[2018-11-06 15:04] #6762 closed, assigned to nobody

[2018-11-06 15:57] pchiend opened #6771 "Ubuntu Server - Unable to start Minio Service"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-11-06 15:58] pchiend commented on #6771
Linux  4.15.0-38-generic #41-Ubuntu SMP

[2018-11-06 16:34] harshavardhana commented on #6771
Non descriptive issue with no logs or steps to reproduce. Issue template is empty.

Closing this issue as insufficient information.

[2018-11-06 16:34] #6771 closed, assigned to nobody

[2018-11-06 16:39] pchiend opened #6772 "Unable to start Minio Service"
## Expected Behavior

Hello,

i have installed Ubuntu server and Minio.

I follow this procedure:
https://www.digitalocean.com/community/tutorials/how-to-set-up-an-object-storage-server-using-minio-on-ubuntu-16-04.

## Current Behavior

When i try to start Minio Service i have this:
● minio.service - Minio
   Loaded: loaded (/etc/systemd/system/minio.service; enabled; vendor preset: enabled)
   Ac

[2018-11-06 17:03] XiaoqinLI commented on #6240
Hey Guys, @nitisht , @harshavardhana
I have a follow up question after following some suggestion above.
Currently on Docker 18.06, and tried the work around given above. My docker compose file is:
[code]
However, on one of the two servers, the container shows the following error log:
ERROR Unable to initialize backend: http://minio1:9000/data1 format error: UUID on positions 0:0 do not match with,

[2018-11-06 17:39] harshavardhana commented on #6240
The issue is because you didn't pin the swarm servers - container was redeployed on a different server

[2018-11-06 17:58] XiaoqinLI commented on #6240
@harshavardhana Thanks a lot for your prompt response. I am actually new to docker swarm
Could you please provide a bit more details?
When I created swarm, I did
docker node update --label-add minio1=true <DOCKER-NODE1>
docker node update --label-add minio2=true <DOCKER-NODE2>

those two nodes minio1, minio2 are the only two workers nodes I have. So while I was updating compose file, I did not cha

[2018-11-06 18:10] harshavardhana commented on #6240
@XiaoqinLI can you open a new issue - we can discuss there

[2018-11-06 18:11] harshavardhana commented on #6240
I have you have followed the https://docs.minio.io/docs/deploy-minio-on-docker-swarm.html if you have done it then did you use the same disks previously used? into this setup?

[2018-11-06 18:44] harshavardhana commented on #6772
Have you created `/etc/default/minio` ? mentioned in https://www.digitalocean.com/community/tutorials/how-to-set-up-an-object-storage-server-using-minio-on-ubuntu-16-04

If yes can you please share it with us?

[2018-11-06 18:45] XiaoqinLI commented on #6240
@harshavardhana Enlighted! Thanks for your answer, yeah that was the issue. I used the same disks as previously did, but the setup is different. So the issue is resolved.
Appreciate your time

[2018-11-06 19:24] harshavardhana commented on #6768
This is already possible using a combination of custom drive count and endpoints without ellipses.

[code]

[2018-11-06 20:16] harshavardhana commented on #6686
// cc @aead - it's not possible for us to support Windows older weaker ciphersuites. Best approach is to upgrade your Windows servers, or use Linux or use nginx like reverse-proxy to enable weaker ciphersuites

this is probably you are making a TLS request with server not configured with TLS @liezh

[2018-11-06 20:51] pchiend commented on #6772
Hello,
yes, sure:

MINIO_VOLUMES="/mnt/md0/"
MINIO_OPTS="-C /etc/minio --address 192.168.40.21:9000"

Regards

[2018-11-06 23:17] aead commented on #6686
@liezh If you run Windows 7 / Windows Server 2008/2012 you may have to use a `ECDSA` certificate instead of a `RSA` certificate. The reason is that these windows versions don't support and AEAD cipher + PFS (e.g. AES-GCM + ECDHE) for RSA public/private keys. (I have no clue why...).

@gxwangit You are using a RSA certificate at your minio server. You may should consider using a ECDSA certificate,

[2018-11-07 01:53] nitisht commented on #6691
fixed by #6764

[2018-11-07 01:53] #6691 closed, assigned to sinhaashish

[2018-11-07 08:29] ihamouda commented on #6701
@harshavardhana Any update on this

[2018-11-07 08:57] harshavardhana commented on #6701
I had to prioritize other work, will get to this soon.

[2018-11-07 09:06] ikozhukhov commented on #6760
[code]

could you please let me know how to try fix it and how to run tests partly where they are failed?

[2018-11-07 10:55] tangkhaiphuong commented on #4602
@harshavardhana today, I test again on Docker and got error

[code]

[2018-11-07 12:20] Subito commented on #3359
I upgraded from 2018.07.13.00.09.07 to 2018.10.25.01.27.03 and "IPv6 stopped working" I don't know why, but it only listens on IPv4 and I can't influence that in any way. Any progress on this would be greatly appreciated :)

[2018-11-07 12:48] rubenfonseca commented on #5139
Thanks for all your nice work! Any idea when lifecycle policies will get implemented on minio?

[2018-11-07 12:52] pchiend commented on #6772
Hi, i tryied to reinstall, but the issue is the same, the strange thing is, 1 month ago , same installation procedure but no problem.

Do you know what can i try?

[2018-11-07 13:42] Kiina commented on #6607
Just for clarification. Using mc is currently the only way to do this? Will there be a user interface in the future?

[2018-11-07 13:59] vadmeste commented on #6772
@pchiend would you mind also pasting /etc/systemd/system/minio.service ? this looks like a typo somewhere

[2018-11-07 14:01] pchiend commented on #6772
[Unit]
Description=Minio
Documentation=https://docs.minio.io
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/minio

[Service]
WorkingDirectory=/usr/local/

User=minio-user
Group=minio-user

PermissionsStartOnly=true

EnvironmentFile=-/etc/default/minio
ExecStartPre=/bin/bash -c "[ -z \"${MINIO_VOLUMES}\" ] && echo \"Variable MINIO_VOLUMES not set in /e

[2018-11-07 14:47] vadmeste commented on #6772
@pchiend can you join https://slack.minio.io and ping me there, it would be easier to debug your issue

[2018-11-07 16:39] harshavardhana commented on #6772
There was a bug in our systemd after couple of PRs were merged - It's fixed in

https://github.com/minio/minio-service/commit/10e52dfb43677a009b066c9dada17d5166f85ff9

[2018-11-07 16:40] harshavardhana commented on #6607
For now it's just mc - there are no current plans to do UI

[2018-11-07 16:42] harshavardhana commented on #3359
This is on purpose we don't currently fully support ipv6 yet, it wasn't fully working either in older releases.

[2018-11-07 16:45] pchiend commented on #6772
Hello,

so what i need to do?

[2018-11-07 16:46] harshavardhana commented on #6772
Download the minio.service file again and restart your service ...

[2018-11-07 16:52] pchiend commented on #6772
Perfect, now it work, but i haven not access and secret key.  Usually i saw that with:

systemctl status minio.service

[2018-11-07 16:54] vadmeste commented on #6772
New Minio version doesn't print access & secret keys in logs anymore, this is intended. You need to set MINIO_ACCESS_KEY and MINIO_SECRET_KEY in /etc/default/minio

e.g.:
MINIO_ACCESS_KEY="minio"
MINIO_SECRET_KEY="minio123"

[2018-11-07 16:56] pchiend commented on #6772
Very good, it works now.  Thank you all.

[2018-11-07 17:04] #6772 closed, assigned to vadmeste

[2018-11-07 18:41] jbw976 opened #6775 "Minio on Kubernetes requires service names with full cluster domain"
From attempting to fix https://github.com/rook/rook/issues/2258, it appears that Minio requires service names for the distributed server list that include the full cluster domain.  In some environments, this cluster domain may have been changed from the default `cluster.local`, but a user will not know the customized value.  There are 2 key elements to reproducing this issue:

1. The server addres

[2018-11-07 18:44] harshavardhana commented on #6775
This is expected and is well documented https://docs.minio.io/docs/deploy-minio-on-kubernetes.html  - there is nothing we are doing to handle this.

IF the DNS resolution works properly with default.svc it would work automatically.

[2018-11-07 18:51] jbw976 commented on #6775
This issue does not reproduce when `cluster.local` is removed from the server address args, but the statefulSet name of `minio` is kept.  `cluster.local` is not needed in that case, everything works OK.  Could there be some hard-coded assumption in the minio code base that the statefulSet (or pod name) is always going to be `minio`?

This yaml file works for me (note it is not using `cluster.local

[2018-11-07 19:10] harshavardhana commented on #6775
There is no such assumption in minio it is perhaps how the pod is deployed in kubernetes. For minio these are just DNS names.

[2018-11-07 23:09] qrevel commented on #4496
What happens if you want to access an object created by an role from a different account?

I got the following situation:

- AWS Account A
  - A S3 bucket (named my-bucket) with a policy allowing test-role of Account B to PutObject
- AWS Account B:
  - A Test IAM Role (named test-role) with the right PutObject on my-bucket.

The default ACL is private. It means objects created by an entity assumin

[2018-11-08 04:03] nitisht commented on #6775
@jbw976 I tried the below yaml and it works on local Minikube setup

[code]

[2018-11-08 06:29] mvijayran commented on #6762
Thanks for quick response it solved my issue.

[2018-11-08 13:16] pwagland opened #6778 "Anonymous downloads now working via web UI on bucket with read-only policy"
This appears to be a regression, similar to the one in #5076.

We are having this issue when running release 2018-11-06T01:01:02Z, this should already be fixed there, correct? I can see that we are not generating the token, as the URL ends with `?token=%27%27`. Prior to upgrading, this same URL did work.

If I change the URL so that instead of `https://host/minio/download/…?token=%27%27` it is `ht

[2018-11-08 15:17] vadmeste opened #6779 "heal: Rare case when server reports that a client token is not available"
## Expected Behavior
Running `mc admin heal -r alias/` should not throw any error

## Current Behavior

`mc admin heal -r alias/` can show this message if run in a loop
[code]

## Possible Solution
Fix heal cleanup process

## Steps to Reproduce (for bugs)
1. Start XL with 4 fresh disks, create a bucket and upload one file
2. while true; do mc admin heal -r alias/; done
3. Wait until an error is t

[2018-11-08 16:01] selelu opened #6781 "Minio S3 does not respond / hangs when trying to delete an object"
## Expected Behavior
I am using the AWS SDK for Java to upload a file / InputStream (> 5MB) via AmazonS3#putObject to a local minio server.
After the upload has finished I want to query certain metadata of the uploaded object. So first i call AmazonS3#getObject with bucketname and key, which gives me the S3Object. Calling S3Object#getObjectMetaData then gives me the appropriate ObjectMetadata. Now

[2018-11-08 16:11] eyalrif opened #6782 "Feature Request: Auto heal on reading Object"
Please add a feature that heals an object automatically when it is read and identified as not fully healed

[2018-11-08 17:41] harshavardhana commented on #6782
Thanks @eyalrif we are actually planning to work on it.

[2018-11-08 17:44] harshavardhana commented on #6781
Please share the entire code to reproduce this behavior ?

[2018-11-09 15:45] selelu commented on #6781
Hi, the entire code is not shareable. But here is a short snippet of the process:
[code]

[2018-11-09 17:00] jamesneimanconsulting opened #6791 "css for heading 3 and 4 levels"
Is it possible to have identical color for h3 and h4 as used for h1 and h2, as well as bold font?

[2018-11-09 19:38] ssshake opened #6792 "Cannot host behind a proxy path"
This config produces this error

[code]

[code]

## Expected Behavior
I have this behind an nginx proxy at a particular path. I can access the webui properly so that indicates to me that this should work find.

## Current Behavior
Error above is produced not allowing me to specify a path

## Context
I'm hosing a simple, private webUI and the object store on the same domain and I want a shared SSL

[2018-11-09 19:44] harshavardhana commented on #6792
This is a expected signature signs the request path, you cannot have a custom path translation.

[2018-11-09 21:58] harshavardhana commented on #6781
Of course, this will happen @selelu because you haven't closed the stream that you are not reading from the GetObject and have simply ignored the stream. When the stream is active server will wait till 15 minutes before it can relinquish the connection - i.e aggressively timeout.

Issuing a delete without reading from the stream will of course not complete because Minio is a strictly consistent sy

[2018-11-10 00:12] bupy7 opened #6795 "Storage backend has reached its minimum free disk threshold"
## Expected Behavior

I want to put object up to end of my free space.

## Current Behavior

I try to put object with size about 10 Mib at the first time. But I cannot put the same object again. Minio throw an exception:

[code]

It's only one file in only one bucket. I have only one bucket at all. Total size of all files is 10 Mib.

## Possible Solution

I don't know. How to change threshold size

[2018-11-10 00:16] harshavardhana commented on #6795
You should delete the object first @bupy7 , we stage the object before we rename so we need 2x space at any given point in time.

[2018-11-10 00:18] bupy7 commented on #6795
@harshavardhana

I used only 10 Mib my free space. I don't understand why I cannot upload more.
I successfull uploaded another files through Minio Browser. What is wrong?
Multipart upload will solve this problem?

[2018-11-10 00:41] bennnjamin commented on #6381
Whats the status on this? It looks like #6168 only added AssumeRoleWithClientGrants (https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithWebIdentity.html) if I'm not mistaken. It would be very nice to use Minio's root credentials and the AWS AssumeRole API to generate temporary credentials.

[2018-11-10 00:42] harshavardhana commented on #6381
This is a work in progress will be available in future.

[2018-11-10 00:56] bupy7 commented on #6795
No, throught Minio Browser its don't work too. 507 Insufficient Storage. =(

[2018-11-10 00:57] harshavardhana commented on #6795
@bupy7 as I said it's not a problem it's by design, you should delete the objects first. Not expect PutObject to work since PutObject requires staging and then rename() so at one point in time, we need additional space to stage the data.

So please delete data and upload.

[2018-11-10 01:04] bupy7 commented on #6795
@harshavardhana Yes, of course. But I have **21Gb free space**. I said it at the my first message. Why Minio think that I don't have enough free space?

[code]

[2018-11-10 01:08] harshavardhana commented on #6795
Most probably because minio is running on root disk @bupy7, not in /vagrant check your minio startup.

[2018-11-10 01:15] bupy7 commented on #6795
Root Minio is `/mnt/minio`, but under `/` has 967Mb free more.

[2018-11-10 01:17] harshavardhana commented on #6795
Minimum required in Minio is 1 gig free disk space.

[2018-11-10 01:18] bupy7 commented on #6795
@harshavardhana Ok, thanks a lot! I just will change mount directory and write here again after.

[2018-11-10 05:12] melin opened #6797 "Can minio replace nfs storage and write to log files in real time?"
An application uses the nfs store log, logback appender to write directly to the nfs directory. Can minio instead of nfs store logback log files?
![image](https://user-images.githubusercontent.com/1145830/48297702-30fa7280-e4ea-11e8-85ba-4b91bb9a403c.png)
![image](https://user-images.githubusercontent.com/1145830/48297711-44a5d900-e4ea-11e8-9e0f-ba58229ffc8d.png)

[2018-11-10 08:52] harshavardhana commented on #6795
Feel free to close this issue.

[2018-11-10 08:54] harshavardhana commented on #6286
Will update all pending features @nitisht soon.

[2018-11-10 14:37] hoto commented on #4769
This issue has been closed. Does it mean this is not gonna end up on a roadmap?

[2018-11-10 17:21] harshavardhana commented on #4769
Yes of course - this is working as expected and also explained how it can be done using `mc`.

[2018-11-11 09:48] kannappanr commented on #6797
@melin Minio can store logs, but cannot append to an existing object. Can you be more clear about what you want?

[2018-11-11 15:26] Clan-Utility commented on #6381
When would AssumeRole() be available roughly? Is it simpler to implement than AssumeRoleWithClientGrants()?
In my case I will have my own API to let user request for temporary credentials for uploading to Minio. Because I want to control the bucket and object name that the user can upload by setting the policy. This API will call AssumeRole() with Minio's root credentials to generate and return th

[2018-11-11 15:59] melin commented on #6797
each spark job run information is written to a log file, log data is appended, nfs has a single point of failure, and hopes to have a highly available simple solution

[2018-11-11 18:36] harshavardhana commented on #6797
We still cannot understand what you want Minio to do @melin - what from what I can understand you append to logs, its not possible in S3 API

[2018-11-11 18:47] harshavardhana commented on #6381
Can't give a hard deadline it will be available soon, will detail out how it will be available soon.

[2018-11-12 02:23] mrveera commented on #6220
Hey
I am facing the same issue with the following config
Minio version:`  2018-06-22T23:48:46Z`
Hadoop version: `Hadoop 3.1.0`

[2018-11-12 03:48] harshavardhana commented on #6220
All later releases of Minio has this fixed please upgrade.

[2018-11-12 06:24] mrveera commented on #6220
Thanks

[2018-11-12 11:13] hadifarnoud commented on #5199
I didn't realise there is no multi key access until I needed it.