[2019-01-10 09:27] divanikus opened #7064 "Minio goes OOM after 3 minutes within disturbed setup"
I'm running distributed setup of 2 servers with 2 disks each (I know, it's not HA safe, but just don't have more servers for now). Each server has 128 GB of RAM, but minio is running inside LXC container with 32 GB limit each.

After some time and 6TB of data uploaded, I cannot use my setup anymore. On one machine minio starts and works. But on the second one it starts, hangs for like 3 minutes, c

[2019-01-10 10:40] Nutomic commented on #7044
Here's the output from the `aws s3api head-bucket`, though I have no idea what it means.
[code]

Here's the output from the Go code:
[code]
FYI the first command only fails if I put a non-existing bucket. The go program always fails, whether the bucket exists or not.

[2019-01-10 14:29] Carlj28 opened #7066 "Can't download file as non admin user"
I have minio server with one bucket and two files in it:
![2019-01-10 15_13_39-](https://user-images.githubusercontent.com/4525831/50973983-83f0a600-14ea-11e9-9903-fc0952ca62f3.png)
Next i have created policy to have acces only for this bucket:
` "Version": "2012-10-17",
  "Statement": [
    {
      "Action": "s3:GetObject",
      "Effect": "Allow",
      "Principal": "*",
      "Resource": "arn:a

[2019-01-10 19:39] poornas commented on #7066
@Carlj28 , you will also need to give s3:ListBucket permission in your bucket policy

[2019-01-10 21:10] #7058 closed, assigned to nobody

[2019-01-10 21:49] kannappanr commented on #7064
@divanikus Is it failing without doing any operation. Are both the servers of same version?
What client were you using to upload the objects?
What is the average object size that you are using here?

Can you also run
[code]

This will create a file called `profile.zip` on the local directory. Can you please run these commands right after you start node 2 and attach the file to this issue.

I also

[2019-01-11 02:56] kannappanr commented on #7064
@divanikus Can you also check out this link https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-16-04 this has been referred to in https://www.digitalocean.com/community/questions/out-of-memory-killed

[2019-01-11 04:06] harshavardhana commented on #7064
Actually we would need

[code]

[2019-01-11 08:51] marcadella opened #7068 "Policy in sub-directory not working"
## Expected Behavior
When I set a user with the following policy `{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["s3:*"],"Resource":["arn:aws:s3:::my-bucket/user1/*"]}]}` I expect to be able to put/get an object under `my-bucket/user1/` and not anywhere else.

## Current Behavior
When I try to set-up such a user (after having created `my-bucket` with my admin credentials), and op

[2019-01-11 09:14] lcnsir opened #7069 "Minio rollback failed "ERROR Unable to initialize config system""
Whe I upgrade minio (from )in k8s cluster with helm upgrade, the mino upgrade successfully, but when I rollback it, the error shows

ERROR Unable to initialize config system: configuration version mismatch. Expected: ‘28’, Got: ‘32’.

      HELP:
        For more details, refer to https://docs.minio.io/docs/minio-server-configuration-guide

Then minio can not start , unless I manually edit the fil

[2019-01-11 09:23] harshavardhana commented on #7069
Rollback is never supported @lcnsir we always move forward, if you wish to rollback then you can delete the entries manually at `minio/.minio.sys/config/` on all nodes and all disks.

[2019-01-11 12:00] divanikus commented on #7064
Ok, first things first, servers are identical, running the same version of OS, drivers, hardware and minio.
Now my minio setup has 112M of objects stored in one bucket. Most objects are JPG images ~1-2MB in size with 3 thumbnails ~100KB.
Minio fails even when nothing is uploaded. It's just starting up and crashes with OOM.

I've tried to change memory limit of LXC container. I have set 64GB for th

[2019-01-11 12:53] lcnsir commented on #7069
Thanks @harshavardhana

[2019-01-11 13:25] nitisht commented on #7069
Closing this as working as intended @lcnsir

[2019-01-11 13:25] #7069 closed, assigned to nobody

[2019-01-11 13:31] nitisht commented on #7068
we'll take a look @marcadella

[2019-01-11 14:46] #7063 closed, assigned to Praveenrajmani

[2019-01-11 16:57] harshavardhana commented on #7064
Can you share your minio command line used to start this instance ? Are you using your entire disks for this deployment or just a sub-directory?

[2019-01-11 17:43] kannappanr commented on #7066
@Carlj28 Closing this issue as answered. Please feel free to reach out to us if you have any questions.

[2019-01-11 17:43] #7066 closed, assigned to nobody

[2019-01-11 17:44] divanikus commented on #7064
Sure, I'm starting it like that.
[code]

The `/opt/storage/n` parts are sub-directories of a large local ZFS.

[2019-01-11 19:32] kannappanr commented on #7064
@divanikus Yes, you should try it right after profiling.

[2019-01-11 19:33] kannappanr commented on #7064
You can also run it when the memory usage is high on your system.

[2019-01-12 00:29] harshavardhana commented on #7064
This may be related to our du crawler @divanikus - is your objects spread out properly or are they all dumped in a top-level directory?

[2019-01-12 01:44] divanikus commented on #7064
@harshavardhana All in a top-level directory.

[2019-01-12 01:52] harshavardhana commented on #7064
are you saying you have 112Million files in a top-level directory? @divanikus - if yes then perhaps it is expected what you are seeing. We are crawling to calculate `du` every 12hrs to avoid this. You need to use the entire disk, not a sub-directory this way `du` thread will rely on filesystem information to calculate usage.

if you have 112Million files on a single directory then Readdir() will r

[2019-01-12 03:28] chenyu85 opened #7070 "Command line cound not Copy multiple local folders recursively to Minio cloud storage."
## Expected Behavior
I want create a folders in my minio of the bucket "test",so i use the command line tools
`/mc.exe cp --recursive backup/2014/ backup/2015/  - play/test`
## Current Behavior
`./mc.exe cp --recursive backup/2014/ backup/2015/ play/test
Total: 0 B, Transferred: 0 B, Speed: 0 B/s`
` ./mc.exe ls play/test
[2019-01-12 10:33:54 CST]     6B file2.txt
[2019-01-12 10:58:14 CST]    16B f

[2019-01-12 06:14] kannappanr commented on #7070
@chenyu85 I tried this option on Ubuntu and it worked.

We will try this on a windows machine and see why this is not working.

Meanwhile, can you try `mc.exe cp --recursive backup/ play/test`

[2019-01-12 15:25] zefie commented on #5927
@aead

can we revisit this to disable at least the architecture? on an arm machine it reports:

Server: Minio/DEVELOPMENT.GOGET (linux; arm)

we can argue about the security of versions, but reporting arm exposes that this machine can easily be overtaken by cpu intensive tasks (a DoS attempt against an ARM minio will likely go down faster than an x86)

requesting option to at least hide arch so th

[2019-01-12 17:17] aead commented on #5927
What is the rationale behind this?
There are very powerful ARM and X86/AMD64 machines and also very "slow" machines of different architectures. AFAICS the CPU architecture does not indicate whether the server is computational-wise powerful or not.

Apart from that I forward your proposal of sending the commit instead of `DEVELOPMENT.GOGET` / `REALESE...`. However, that does not help w.r.t. the ver

[2019-01-12 19:25] zefie commented on #5927
In any case, it should be up to the user.

If the admin wanted to know the version they could enable it in the config, think Apache. You can have it as verbose as telling the versions and all of its modules, or as quiet as just "Apache".

We should assume legitimate admins would have other, more secure ways of identifying their installed version than having to use a public header. We should allow

[2019-01-12 21:24] aead commented on #5927
I don't want a make a final decision about this - ping @harshavardhana @donatello

However, my point is the following:
Hiding the server version / commit ID does not improve the security of a deployment. The rationale is that if we *assume* a working exploit against a specific version / commit than hiding the version / commit does not prevent any attack since an attacker can try the exploit "blind

[2019-01-12 21:46] zefie commented on #5927
One example scenario I can think of is if an attacker knows the exact version, they can attack with the initial connection. If they are attacking blindly, it is more likely external security measures can detect and block the attack before the working exploit (if any) is reached. The delaying of an attacker only gives the admin that much more time to respond. Wouldn't we want to give any advantage

[2019-01-13 06:22] abperiasamy commented on #5927
Knowing that it is Minio server is sufficient to try all the known vulnerabilities. In fact, there is only a hand full of S3 compatible object storage implementations out there. Hiding version or ARCH info is not going to help with security that much. I don't mind anonymizing the public responses with a special flag. Every option we add increases testing and maintenance burden.  We really need to

[2019-01-13 06:31] chenyu85 commented on #7070
Thanks for your suggestion, and I've tried with command `mc.exe cp --recursive backup/ play/test` ,no error occurred,as follows：
` ./mc.exe cp --recursive backup/ play/test
Total: 0 B, Transferred: 0 B, Speed: 0 B/s`
there's no folders created.
Is that mean it can not create folders in the bucket? Also I found I can not create folders on the  UI browser.

[2019-01-13 06:51] harshavardhana commented on #5927
Perhaps --anonymous flag can turn off sending `Server:` header ? We can perhaps selectively turn off any other server revealing info in HTTP headers.

[2019-01-13 07:25] abperiasamy commented on #5927
If it is a security issue, it is better to disable it by default and not worry about --anonymous flag. If it is not a security issue, then we should move the anonymous flag to logging subsystem instead of keeping it global.

[2019-01-13 08:45] harshavardhana commented on #5927
Okay then let's just keep `Server: Minio` minimum information, and `--anonymous` for logging only.

[2019-01-13 15:38] xiaomaiyun opened #7072 "I really hope to add the ability to create a new folder in the browser. Can it be achieved?"
I really hope to add the ability to create a new folder in the browser. Can it be achieved?

[2019-01-13 15:44] vadmeste commented on #7072
If you want to upload a file under a specific hierarchy, you can choose the path even if it doesn't exist yet, but you cannot create an empty directory yet using the browser, although it is possible to do with mc command, something like, `mc mb alias/bucket/empty_dir/`

[2019-01-13 16:59] zefie opened #7073 "MINIO_DOMAIN not working as expected"
After a bunch of researching for vhost style buckets on Minio, I found that you settled on requiring the MINIO_DOMAIN environment variable set.

I have the following setup:
(all references to "mydomain.fake" are a replacement for a real, working domain in reality, actual details can be given in private if needed)

[code]

On the DNS end, a wildcard record has been added and is functional.
On the S

[2019-01-13 17:45] harshavardhana commented on #7073
Assuming you are talking about Minio browser. Minio browser doesn't support such nuances of S3 API, since it is not an S3 API frontend. It is a custom implementation which uses a custom json rpc protocol to provide a UI.

It you are talking about Minio browser this is out of scope at the moment.

[2019-01-13 17:50] zefie commented on #7073
Alright, understandable.

Although turning off ```use_path_style_endpoint``` in the aws php sdk in my working application breaks it, but more debugging would have to be done on my end for that.

[2019-01-13 18:24] zefie commented on #7073
Apparently it was my end. So since you addressed the issue with the Browser, technically there is no issue, thus I will close this.

[2019-01-13 18:24] #7073 closed, assigned to nobody

[2019-01-13 19:23] abperiasamy commented on #5927
Let's wait to hear from the security experts in the community to make a reasonable case for exposing version info to be a matter of concern. If not no change.

[2019-01-13 19:33] #7072 closed, assigned to nobody

[2019-01-14 01:46] harshavardhana commented on #7044
This looks like a bug in server (scaleway) implementation, even AWS cli fails with 403

You may also try `aws s3api get-bucket-location`

[code]

[2019-01-14 06:38] chenyu85 commented on #7070
I tried this  on Ubuntu and it worked,maybe this a bug in windows.

[2019-01-14 06:46] #7070 closed, assigned to nobody

[2019-01-14 07:08] xiaomaiyun opened #7075 "Uploading the file successfully using Dropzone, however, downloading the file does not open correctly."
## Expected Behavior
Use XMLHttpRequest to upload the file (XMLHttpRequestUploadToMinio.jpg) to minio in js, and use Dropzone(or plupload)  to upload the file (DropzoneUploadToMinio.jpg) to minio in js. The effect I expect is to enter https://play.minio.io:9000/xiaomaiyun/XMLHttpRequestUploadToMinio.jpg and https://play.minio.io:9000/xiaomaiyun/DropzoneUploadToMinio.jpg can be accessed correctly i

[2019-01-14 08:46] harshavardhana commented on #7075
You need to set the content-type during upload @xiaomaiyun

[2019-01-14 09:31] xiaomaiyun commented on #7075
I am very sorry, I don't know how to set it up. I am not very familiar with js. I will be very grateful if you can give me a simple example. The address of this html file is: https://github.com/xiaomaiyun/uploadToMinio/blob/master/src/main/resources/static/dropzoneUploadToMinio.html

[2019-01-14 09:39] harshavardhana commented on #7075
https://www.dropzonejs.com/#configuration you need to set headers with `content-type: image/jgeg`

[2019-01-14 09:40] krisis commented on #7068
@marcadella I was able to upload a file as `user1` in the setup described above. Could you paste your java SDK based code to help us recreate the issue locally?

Moreover, I was unable to list entries under `my-bucket/user1` on the browser, as you mentioned. But this is expected with the policy definition. Listing of objects (and prefixes) under a bucket require permissions for `s3:ListBucket` ope

[2019-01-14 10:08] harshavardhana commented on #5927
Now reading http://httpd.apache.org/docs/2.4/mod/core.html#servertokens apache has following opinion @abperiasamy @aead

[2019-01-14 10:08] xiaomaiyun commented on #7075
Okay, I understand. Thank you!

[2019-01-14 11:57] #7075 closed, assigned to nobody

[2019-01-14 12:16] marcadella opened #7076 "Cannot use policy to grant access to user-specific folders"
## Expected Behavior
Be able to use policy given as example on AWS website: https://aws.amazon.com/blogs/security/writing-iam-policies-grant-access-to-user-specific-folders-in-an-amazon-s3-bucket/

## Current Behavior
When I try to add this policy, I receive the following error message: "mc: <ERROR> Cannot add new policy. Policy has invalid resource."
I dug a bit and found out that if I remove the

[2019-01-14 12:24] marcadella commented on #7076
It was a comma missing in the example policy... Sorry.

[2019-01-14 12:24] #7076 closed, assigned to nobody

[2019-01-14 12:43] xiaomaiyun opened #7077 "File access permission question"
## Expected Behavior
I have three pictures at https://play.minio.io:9000/xiaomaiyun/, favicon.ico and xiaomaigou_favicon.ico and xiaomaigoulogo.png, my buckets 'xiaomaiyun' didn't set any prefix, but when I was at When accessing an unauthenticated browser, the following occurs: When accessing https://play.minio.io:9000/xiaomaiyun/favicon.ico, normal access; when visiting https://play.minio.io: 900

[2019-01-14 13:51] Nutomic commented on #7044
Okay, here's the output from that:
[code]

[2019-01-14 14:04] harshavardhana commented on #7044
I see your issue seems to be because you are not setting the right region - you are using `nl-ams` with `aws s3api` whereas you are not using `nl-ams` with the Go program

[code]

This is also the reason why `head-bucket` failed with 403 in your previous run.

This is also wrong behavior from Scaleway implementation here is the expected behavior

- when the region is wrong and bucket doesn't exist

[2019-01-14 14:11] zefie commented on #5927
I have many servers, one requires SSH to be on port 22 due to compatibility. The rest do not, and I run on an alternate port. The server at port 22 gets over 2000 attempts an hour and needs fail2ban. The ones on the alternate port NEVER (at least for the past 3 years) have had any fail attempts.

Perhaps in the case of hiding the version, this is correct, but overall, I argue "security through obs

[2019-01-14 14:17] marcadella opened #7078 "mc policy parser truncate line when s3:delimiter option is used"
## Expected Behavior
When you add a policy via `mc policy add X Y file.json`, and then print it with `mc policy list X Y`, the output should be equal to the original policy file.

## Current Behavior
When uploading a policy containing s3:delimiter option the line is truncated.
Example json file:
[code]

yields:

[code]

Notice how the condition of statement 2 has been truncated.
Note: If you remov

[2019-01-14 14:20] marcadella commented on #7068
I tried the policy provided in your link and it still doesn't work.

##Steps
1. I add a user called 'user1' and assign it the following policy:
[code]
2. I check that the policy for user1 matches the one above (because it is not always the case, cf: https://github.com/minio/minio/issues/7078)

3. I put an object into bucket-test::users/user1/
[code]

[2019-01-14 14:45] harshavardhana commented on #5927
AFAICS we will be doing `Server: Minio`  @zefie so that should cover all cases.

[2019-01-14 14:46] marcadella commented on #7068
It seems to work if I replace ${aws:username} with the user name (and create a policy for each user). Doesn't Minio support ${aws:username} or an equivalent?
HOWEVER: Even with the policy above, and even though I can put and get object under user/user1 via java SDK, I still cannot do anything from the GUI when logged as user1 (the list of buckets is empty, none of the files I uploaded is displayed

[2019-01-14 14:48] harshavardhana commented on #7068
No we don't @marcadella we can support it in future, for now, we don't

[2019-01-14 14:49] kannappanr commented on #7077
@xiaomaiyun Thanks for reporting this issue. Will take a look at what is going on.

[2019-01-14 14:50] marcadella commented on #7068
Ok thanks for your reply. What about "Even with the policy above, and even though I can put and get object under user/user1 via java SDK, I still cannot do anything from the GUI when logged as user1 (the list of buckets is empty, none of the files I uploaded is displayed, and I cannot upload any files)."?

[2019-01-14 14:51] harshavardhana commented on #7068
GUI requires a lot of specific access it is not an S3 frontend so don't expect everything to work similar to how an S3 API SDK would work, and we have no intention on making it compliant with every single S3 feature. It is meant for minimal uses it is not meant for Dropbox-like replacement and we have no intention of moving towards Dropbox-like UI.

Use a frontend which implements S3 API all of th

[2019-01-14 14:53] kannappanr commented on #7078
@marcadella Thanks for the steps to reproduce the issue. We will try to reproduce the issue and get back to you.

[2019-01-14 15:09] karlredman commented on #3161
In case anyone comes across this ticket wanting more of a clue about hosting a static site (in this example hugo) from minio via caddy here's my personal notes on what worked for me:

# Serve static pages from minio through caddy

* This is in responce to this ticket: [ecosystem: Add a caddy plugin to serve static files from Minio server. · Issue #3161 · minio/minio](https://github.com/minio/minio

[2019-01-14 15:15] harshavardhana commented on #3161
You may also consider using Nginx https://gist.github.com/harshavardhana/f05b60fe6f96803743f38bea4b565bbf

## Ubuntu 16.04

1. Install [nginx](http://nginx.org/)
2. Install [minio](https://github.com/minio/minio)
3. Install [mc client](https://github.com/minio/mc)
4. Create a bucket:

[code]

5. Make bucket public to host/access static content.

[code]

6. Upload a sample static HTML site to minio

[2019-01-14 16:56] Nutomic commented on #7044
Thanks for figuring this out! However, we have decided to use another provider, which already works with Minio. Feel free to close the issue (or keep it open).

[2019-01-14 16:57] harshavardhana commented on #7044
Okay great. Thanks.

[2019-01-14 16:57] #7044 closed, assigned to kannappanr

[2019-01-14 17:15] harshavardhana commented on #7068
Now that I explained the browser implementation requirement, what you are attempting should work and is currently supported.

Will look at the policy evaluation.

[2019-01-14 18:57] aead commented on #6125
The current proposal for an automatic TLS feature is the following:
- There will be CLI flag `--auto-tls dns-name-1,dns-name-2,ip-1,dns-name-3` which accepts a list of comma-separated values - each one is a SAN; either a domain name or an IP address.
- If there is no private key (`private.key`) the server generates a new private key. If the `MINIO_CERT_PASSWD` is present the private key will be en

[2019-01-14 22:21] donatello commented on #7077
@xiaomaiyun I can reproduce this locally - thanks for the bug report. I will get back on this as I debug this further.

[2019-01-14 23:07] challarao commented on #6429
What is XL mode?

[2019-01-14 23:08] kannappanr commented on #6429
It means `erasure code` mode, can be either local or distributed

[2019-01-15 01:04] donatello commented on #7077
The linked pull request fixes this issue. After this fix is released, the browser will prompt for login for all cases.

[2019-01-15 05:41] iboware commented on #4653
Having the same problem. My Minio region is eu-west-1, trying to set RegionEndpoint or ServiceURL, both are resetting each other. If I set RegionEndpoint, ServiceURL becomes null, if I set ServiceEndpoint, RegionEndpoint becomes null. When Region Endpoint is null, normal uploads works fine, but I guess my multipart uploads are failing because of that. Please help!
[code]

[2019-01-15 05:52] xiaomaiyun commented on #7077
OK,Thank you!

[2019-01-15 07:46] nitisht commented on #5927
Fixed by #7074

[2019-01-15 07:46] #5927 closed, assigned to harshavardhana

[2019-01-15 10:13] harshavardhana commented on #7068
@marcadella I tested browser requires some extra features for ListBuckets etc to get this working properly. Currently, it is only supported to list an entire bucket. For users listing other buckets is explicitly disabled unless they have explicit access.

Your policy is a bit more involved it requires more work on browser to support this scenario. As I said before the browser is not fully ready fo

[2019-01-15 10:20] marcadella commented on #7068
Thanks for the quick answers and help provided. I'll keep an eye on the new feature releases then :)

[2019-01-15 10:20] #7068 closed, assigned to krisis

[2019-01-15 10:24] harshavardhana opened #7086 "Feature: Provide complex policy support on Minio Browser"
I tried the policy provided in your link and it still doesn't work.

##Steps
1. I add a user called 'user1' and assign it the following policy:
[code]
2. I check that the policy for user1 matches the one above (because it is not always the case, cf: https://github.com/minio/minio/issues/7078)

3. I put an object into bucket-test::users/user1/
[code]

_Originally posted by @marcadella in https://gi

[2019-01-15 10:25] harshavardhana commented on #7086
PR #7085 is first step in this direction, another related issue is #7076 for which there is a PR #7079

[2019-01-15 20:58] jessedye opened #7087 "Minio Internal Blobstore for PCF (No SSL) - Improvement Request"
Feature Request:
Currently on Minio Internal Blobstore for PCF v 1.0.3 there is no way to configure an SSL certificate via the tile. Adding this functionality to the tile would greatly benefit users from manually having to configure a SSL certificate and improve security of the tile. Can a feature for security tab be added to the PCF "Minio Internal Blobstore for PCF" to support SSL? This would al

[2019-01-15 21:06] jessedye opened #7088 "Minio Internal Blobstore for PCF - Static IP Address for Load Balancer"
Feature Request:
Currently the Minio Internal Blobstore for PCF tile does not have a way to assign a static IP address to the Minio load balancer. Currently you can add IPs for the Minio nodes but not the load balancer. This makes it a problem when you redeploy and the load balancer IP address may change. It would be better to be able to assign a static ip address to the load balancer.

![image](h

[2019-01-15 21:34] kannappanr commented on #7088
@jessedye We will take a look at this and get back to you.

[2019-01-16 05:04] Paxa commented on #6795
How to configure this value?

[2019-01-16 05:15] harshavardhana commented on #6795
You cannot minimum required is 1gig.

[2019-01-16 05:16] Paxa commented on #6795
Would you like if I make it configurable and submit PR?

[2019-01-16 07:10] #7077 closed, assigned to donatello

[2019-01-16 08:02] harshavardhana commented on #6795
No we don't want it to be configurable, it is on purpose. It really doesn't make sense to start an object storage service without having 1gig of disk space.

[2019-01-16 08:43] Paxa commented on #6795
Yes, unless we wanna do some testing or have small storage like 1-2gb. Also in some cases could be nice to increase minimum value
(I'm planing to use minio as example app for https://kuber.host/ but don't wanna give more storage for free plan)

[2019-01-16 08:46] harshavardhana commented on #6795
We would like to limit the number of options we give our users and not confuse them. So 1g is a practical value. Feel free to fork Minio and make your own changes, but it is not something Minio upstream is interested in.

[2019-01-16 10:25] recipedude commented on #6795
Where is the file stored during staging? How to configure the location of the "staging" area?

Am also running into

`An error occurred (XMinioStorageFull) when calling the UploadPart operation: Storage backend has reached its minimum free disk threshold.`

yet there is plenty (well over 2x) of free space in the storage volume.

[2019-01-16 11:02] harshavardhana commented on #6795
You can simply look at `df -h` output it is definitely not possible that we are complaining before we run out of required space.  Staging is using the same backend disk as your actual data.

[2019-01-16 11:42] vadmeste opened #7092 "federation: When nodes IPs change, old IPs in etcd are not removed"
## Expected Behavior
One docker node changing its IP address should not affect regular behavior

## Current Behavior
One docker node has its IP address changed, proxying S3 requests between nodes doesn't work anymore.

## Possible Solution
When a node is restarted, it has to list all etcd entries (A map of bucket -> IP addresses). Now, if a bucket is found in etcd and locally but one of the IP add

[2019-01-16 12:02] harshavardhana commented on #7092
This is a known issue @vadmeste it requires us to update the entries upon restart. But it was also not deliberately addressed because changing IPs is not a common occurrence and shouldn't be done all the time. As DNS resolutions are cached and can be done even outside not through Minio.  Using the etcd CLI directly.

Once the containers are deployed even upon container restarts they do carry the s

[2019-01-16 12:40] alonbl opened #7093 "[FEATURE-REQUEST] Pluggable KMS"
Hi,

The vault KMS support is hardcoded into the project, it was at first in k8s as well up to the 3rd implementation they were asked to merge, and then created a plugin for KMS[1].

The k8s API is very limited as no context is provided, we need at least the bucket name to be available to the provider, maybe a patch to k8s can be sent to add a key/value context and once merged the same providers m

[2019-01-16 14:46] dustinaevans commented on #6554
I can confirm this. If the etcd endpoints are specified in ENV and etcd is not running, starting minio server in FS mode will hang with no output and cannot be terminated by ^c.

Steps to reproduce:
export MINIO_ETCD_ENDPOINTS=http://1.1.1.1:2379

minio server --address :80 /tmp
<no output>
^C^C^C^C

[2019-01-16 15:14] zefie opened #7094 "SSE-S3 encryption not reported to (most?) S3 clients"
See repro section for setup. When uploading a file to Minio with SSE-S3 encryption, the file is encrypted, but other clients (such as Cyberduck and S3 Browser) are not made aware the file is encrypted, and when downloading said file, you get the raw encrypted gibberish. So far only rclone seems compatible, tested in specific "Minio" mode (Minio option when setting up S3 compatible)

## Expected Be

[2019-01-16 15:24] harshavardhana commented on #7094
SSE means server encryt and decrypt - I cant reproduce this. Don't see any gibberish data.

Is there more details about your setup?

[2019-01-16 15:25] kannappanr commented on #6554
@dustinaevans In your case, is `minio` running as  a binary or within a docker container?

[2019-01-16 15:27] harshavardhana commented on #6554
It shouldn't hang, it has a timeout. We wait for etcd to timeout with a canceller.

Also this issue not related to etcd, let's not piggyback on older issues @dustinaevans please open new issues.

[2019-01-16 15:30] kannappanr commented on #7094
@zefie, If you are able to download an object that was encrypted on the server side using `SSE-S3` and uploaded using `mc`, that would mean that the whole setup is working properly. The only thing that I can think of is that, you are probably doing `Client` side encryption using other tools and then trying to download.

Can you do `mc stat` on say an object uploaded using `mc` and `cyberduck` (whe

[2019-01-16 15:37] zefie commented on #7094
Alright, I have determined that the "gibberish data" issue was in fact on my end, and have resolved it.

However, a segue to probably another ticket would be my "alternative steps to reproduce", fact is even with the master key, the server does not report SSE-S3 support to the client, it acts transparent. From what I understand of S3 and the options in the client, Minio should be telling clients s

[2019-01-16 15:41] harshavardhana commented on #7094
No,  there is no such thing in the API to tell clients that you can encrypt. Cyberduck themselves perhaps are not implementing this feature for non-S3 endpoints (guessing).

if rclone, s3cmd, aws cli and `mc` can do it. Cyberduck can do it too. There is nothing to indicate a client that we support encryption just set the header with "x-amz-server-side-encryption: AES256" - server will encrypt it t

[2019-01-16 15:43] zefie commented on #7094
Do you know of a Windows GUI client that properly supports Minio, and will let me encrypt only files I choose, as intended by S3? Cyberduck is not the only one with errors. I have also been trying S3 Browser and Cloudberry Explorer. Not opposed to paying (after a trial) for a client that can properly work with Minio.

[2019-01-16 15:52] harshavardhana commented on #7094
I don't know @zefie unfortunately  - I don't know why they don't implement it properly either. This is the simplest form of encryption implemented and supported by S3 API.

[2019-01-16 15:54] zefie commented on #7094
Please do not take offense to this, but I find it hard to believe that 3 different clients that work with the S3 service as intended are at fault when it comes to communicating with an emulator (basically). I love this project, but can we really blame the clients, when it is Minio that is trying to meet the spec?

[2019-01-16 16:04] zieg8301 commented on #6995
We are experiencing a similar issue to this running a 6-pod minio cluster in a kubernetes environment. If multiple minio pods go down, the down pods will not rejoin the cluster until ALL pods are back online.

Happy to share more information if it helps with this issue.

[2019-01-16 16:08] harshavardhana commented on #7094
Minio is following AWS S3 spec its the clients which don't implement it correctly let me elaborate why. The reasoning is simple if popular tools such as `rclone`, `s3cmd`, `mc` even `aws` official CLI, AWS SDKs work fine. The only assumption we can make is they don't support what we support.

There are three known server encryption styles in AWS S3

- SSE-C
- SSE-S3
- SSE-KMS

Minio implements the

[2019-01-16 16:22] zefie commented on #7094
Thank you for the detailed explanation. I can understand why the clients don't work as expected now. I will close this. :)

[2019-01-16 16:22] #7094 closed, assigned to nobody

[2019-01-16 17:01] WolfspiritM opened #7095 "Unable to create policy condition for root folder"
When creating a policy with StringEquals "" it doesn't seem to match for the root of a bucket.
The policy I'm using for example:
[code]

## Expected Behavior
User with that policy can access / and /data/ but nothing else.

## Current Behavior
User can access /data/ directly but isn't able to access /
```mc ls minio/bucket/data/``` is successful
```mc ls minio/bucket/``` results in:
[code]
Minio Br

[2019-01-16 17:05] harshavardhana commented on #7095
PR https://github.com/minio/minio/pull/7079 might fix this issue.

[2019-01-16 17:55] harshavardhana opened #7096 "etcd endpoints is not running, starting minio server in FS mode will hang"
I can confirm this. If the etcd endpoints are specified in ENV and etcd is not running, starting minio server in FS mode will hang with no output and cannot be terminated by ^c.

Steps to reproduce:
export MINIO_ETCD_ENDPOINTS=http://1.1.1.1:2379

minio server --address :80 /tmp
<no output>
^C^C^C^C

_Originally posted by @dustinaevans in https://github.com/minio/minio/issues/6554#issuecomment-454

[2019-01-16 18:48] kannappanr commented on #7095
@WolfspiritM Can you please try out PR #7079 as suggested above?

[2019-01-16 19:42] WolfspiritM commented on #7095
@harshavardhana @kannappanr I gave it a "go". It seems to not be fixed with that PR.
Also it seems to not be possible to add a host with the userdata if the root isn't available that's why I had to give the user readwrite before switching the policy back to testpolicy

Here is what I tried (policy.json is copied just as a testfile...):

[code]

[2019-01-16 19:43] harshavardhana commented on #7095
Thanks for testing will fix it @WolfspiritM

[2019-01-16 21:28] kannappanr commented on #7093
cc @aead We will see if there are standard ways to access KMS APIs.

[2019-01-16 22:58] aead commented on #7093
If I understand your FR correctly , you're asking whether we can:
1. Open an issue / send a PR to k8s for adding a key-value pair context argument to k8s's KMS plugin API.
2. Add an implementation of Minio's `crypto.KMS` interface that can talk to any gRPC service providing the same / a compatible API as k8s's KMS plugin.

The rationale behind this is unifying the "external" KMS API and allowing u

[2019-01-17 06:03] harshavardhana commented on #7095
@WolfspiritM so I tested this behavior with AWS S3 IAM and we are in compliance. The reason is that List operation directly on a bucket doesn't translate prefix == "" and there is is a no concept of root folder name "/" since this is a flat namespace there is no "/" like filesystem hierarchy.

Are you trying to allow a user to be able to list the top level folders? but not access them? AFAICS that

[2019-01-17 08:38] WolfspiritM commented on #7095
@harshavardhana If you take a look at:
https://docs.aws.amazon.com/AmazonS3/latest/dev/example-policies-s3.html

There is a sample policy called "AllowRootLevelListingOfTheBucket":
[code]

I don't have S3 to test it but according to that rule s3 does support that or am I missing something?

The "/" was a test by me to see if maybe minio is handling it differently.
The correct one should be the emp

[2019-01-17 09:48] harshavardhana commented on #7095
yep, this works as expected @WolfspiritM  AWS IAM policy returns

[code]

With AWS S3
[code]
[code]

Using this with Minio has same behavior @WolfspiritM .

Now I started looking at the query params a little deeper, looks like when a top-level bucket is provided `mc` doesn't send prefix="" (empty) value. This actually causes AWS S3 to not honor the policy.

So after modifying `mc` query params set

[2019-01-17 11:56] jefvel opened #7103 "Backblaze aws-sdk-ruby mint test fails"
## Expected Behavior
The `aws-sdk-ruby` Mint test should pass without errors when using the `b2` gateway.

## Current Behavior
The test will fail when running `presignedPut(bucket_name,file_name)`.
This is the Mint test error:
[code]

Here's the error log from Minio:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run Minio with the backblaze backend: `minio gateway b2`
2. Run T

[2019-01-17 12:35] harshavardhana commented on #6811
No it is not possible, we do something similar to what AWS does, user is not tied to buckets . Buckets exist for all users you just selectively give them access.

[2019-01-17 14:03] harshavardhana commented on #7103
We are most probably going to revamp our Gateway implementations @jefvel and perhaps remove B2, Sia, and Manta implementations. They are not actively maintained and perhaps have bugs.

Thank you for opening an issue though. We will close this once we have finalized on removing B2 implementation.

[2019-01-17 14:06] harshavardhana commented on #7095
Feel free to track the client issue at minio/mc#2647 @WolfspiritM

[2019-01-17 16:03] WolfspiritM commented on #7095
@harshavardhana Thanks! However I think the browser also needs a fix for that.
**Web.ListBuckets** does not return the bucket at all cause the Prefix check fails.
I would consider a bucket to be "Listable" if the root is able to be listed.
Therefor I suggest to set the header before checking the policy like that:
[code]

**Web.ListObjects** also does not set the Prefix even if the frontend does se

[2019-01-17 17:08] harshavardhana commented on #7095
Thanks @WolfspiritM - good suggestions. Sending a PR for minio server as well.

[2019-01-17 18:28] #7078 closed, assigned to harshavardhana

[2019-01-17 22:26] alonbl commented on #7093
Hi aead,

The cooperation with k8s teams is optional of course, doing so will benefit the community as the k8s is popular and reusing its components makes sense.

The end goal is to provide plugin interface to KMS, your sequence is correct.

Two docker images may share the same tmpfs volume that has a unix domain socketto perform gRPC.

Thanks!

[2019-01-18 12:26] doukai opened #7112 "请问minio怎么读?"
是mini o?
还是min io?
还是“mi no”？
或者其他？

[2019-01-18 12:40] nitisht commented on #7112
@doukai it is pronounced as min io. feel free to join us on Slack (https://slack.minio.io) for more questions. Closing the issue

[2019-01-18 12:40] #7112 closed, assigned to nobody

[2019-01-18 15:06] aeltawela opened #7114 "Minio returns HTTP 400 if HTTP Request headers are too big"
Minio returns HTTP 400 if HTTP Request headers (ex: cookie) are too big

## Expected Behavior

Minio server should support big HTTP headers

## Steps to Reproduce (for bugs)

Inject >5800 char in HTTP request headers

[2019-01-18 15:47] harshavardhana commented on #7114
The issue is incomplete @ahmedabt , without following details this issue will be closed.

- what is the application? Sample code?
- please provide the entire HTTP trace as seen from client side?
- any console logs on the server?

[2019-01-18 17:36] #7096 closed, assigned to harshavardhana

[2019-01-18 21:49] shamil opened #7120 "aws-sdk+jruby: uploading 5mb+ files to minio (server/gateway) doesn't work"
## Expected Behavior

Uploading files over 5MB should  work.

## Current Behavior

- doesn't work, the request stuck, until it fully times-out (see logs below)
- doing same with **mri** ruby works!
- doing same with other languages (e.g. python, go) works!
- doing same, but upload directly to S3 instead of `minio`, also works!
- uploading files less than 5MB works as well!

## Steps to Reproduce (

[2019-01-18 22:23] keirafadams opened #7121 "Bitrot Detection/Healing Fails when using Highwayhash256 after recent changes"
If I set the default bitrot detection algorithm to highwayhash256 (the legacy, not the current 256S), I receive "unexpected EOF" errors when running healing, including on the hidden .config buckets.

Version: 74c2048ea9ad0982123623d5e0a184f42490762b

## Expected Behavior
Expected behavior is with a support bitrot detection algorithm, the mc admin heal command should run to completion, and there sh

[2019-01-18 23:24] krishnasrinivas commented on #7121
Thanks for reporting @ifadams we will send in the fix soon.

[2019-01-19 00:40] kannappanr commented on #7120
@shamil `XMinioBackendDown` is probably returned only in the case of Gateway. Can we stick to say `fs` mode and capture the errors?

Also, can you try any other tool like `mc` or `aws cli` and try out the same file that fails?

[2019-01-19 05:39] doukai commented on #7112
coooool!

[2019-01-19 12:17] ieugen commented on #4398
Any changes for this? We plan to use minio for storing some app data in lots of buckets  and we would like to backup those buckets individually ( one per tenant).

We might end up wirh thousands of buckets that we need to backup. What strategy would be applied in rgis case since I imagine mirroring is not a very good solution ?!

[2019-01-19 13:15] harshavardhana commented on #4398
There are no changes , there is already a solution use `mc mirror`  mirror can mirror many buckets.

[2019-01-19 13:38] harshavardhana commented on #4398
Feel free to join our slack at https://slack.minio.io for further discussion on this topic..

[2019-01-19 16:30] shamil commented on #7120
hi @kannappanr,

Tried `mc` and `s3cmd` works well. It's just something to do with `jruby`.
Below are the errors when running minio in `server` mode (`minio server /tmp/minio`):

1. First snippet is when client timeouts waiting for minio response
2. Second snippet is when I increase timeout on client side to 5 minutes

[code]

[code]

[2019-01-19 19:32] seafoodbuffet commented on #4398
We eventually ended up with an mc mirror solution. The issue is that mirror isn't the same as a backup. mirror doesn't protect against accidental deletion or data corruption.

We didn't do this but I could imagine a solution in which you mirror your primary copy to a secondary, and then take cold backups off of the secondary.

[2019-01-19 19:40] ieugen commented on #4398
Thank you. It seems pretty reasonable considering the capabilities.

[2019-01-20 02:28] #7121 closed, assigned to krishnasrinivas

[2019-01-20 07:20] #7095 closed, assigned to harshavardhana

[2019-01-21 08:38] Praveenrajmani commented on #6995
@zieg8301  @R-omk  Yes i can see this happening. Will come up with a fix

[2019-01-21 11:03] aeltawela commented on #7114
1) It is not an application-specific issue. For example, If you are using chrome and you have a big cookie (>5800 char) for the same domain that Minio has, the issue will always occur.

2) Example of an HTTP request with a big cookie (you have to replace minio_domain and the token value):
curl 'minio_domain/minio/webrpc' -H 'accept-encoding: gzip, deflate, br' -H 'accept-language: en-US,en;q=0.9'

[2019-01-21 13:32] kannappanr commented on #7120
@shamil I quickly did a search and found this link, can you try the suggestion provided in this link

https://stackoverflow.com/questions/17673174/aws-s3-gem-is-not-compatible-with-jruby

[2019-01-21 13:36] shamil commented on #7120
@kannappanr  yes, tried that already, same problem.

Btw, problem doesn't persist if I upload to S3 directly (not via `minio`). The problem I experience occurs only when I use `aws-sdk` to upload to `minio` server. This is the reason I opened this issue here in the first place ...

[2019-01-21 13:37] zefie commented on #1906
Just an update. I know DragonDisk is discontinued, but it works on Minio ONLY when using a proxy.

If I connect DragonDisk to my Minio install while Minio is running on 443 with SSL, it fails. (eg  https://domain.com/ goes direct to Minio)

If I run an nginx proxy with SSL on 443 in front of Minio (now on alt port), DragonDisk can operate fine (though once in a while it will complain about signatu

[2019-01-21 13:46] zefie commented on #7114
This is not Minio specific. This is a browser issue IMO. I have had normal websites throw the same error because the site was not cleaning their cookies and each file I downloaded from said site added  new cookie. Once in a while I would have to clear the cookies for the domain or the server would error.

While this can be frustrating, most servers do have a limit on header length. Minio should no

[2019-01-21 13:51] kannappanr commented on #7103
Closing this issue based on the previous comment.

[2019-01-21 13:51] #7103 closed, assigned to nobody

[2019-01-21 14:04] zefie opened #7125 "Consider password prompt or env variable when using mc admin user add"
When adding a user using MC, we have to provide the access secret on the CLI. Minio sometimes (depending on setup, usually on distributed) can take upwards to 20 seconds to respond. During this time, the password is shown in ```ps aux``` for any user with access to the machine to see.

## Expected Behavior

Ability to securely add users

## Current Behavior

Password can be exposed in running proc

[2019-01-21 14:10] zefie commented on #7125
closed and posted to https://github.com/minio/mc/issues/2651 where it belongs

[2019-01-21 14:10] #7125 closed, assigned to nobody

[2019-01-21 14:13] kannappanr commented on #7120
@shamil Thanks for the info. We will try to reproduce this issue. Can you please provide the version of `minio` that you are trying to use?

[2019-01-21 14:30] aeltawela commented on #7114
@zefie: exactly this is the point, the limit is not big enough to support such a scenario where other applications support it.

[2019-01-21 14:31] shamil commented on #7120
@kannappanr any version, in prod we run `minio/minio:edge`

[2019-01-21 14:36] shamil commented on #7120
@kannappanr one important thing. That sometimes its just work. So there is no 100% that it reproduce-able. I was able to reproduce that very often in our K8S cluster. So that might be related.

In any-case, do not invest your time on it too much, Ill try to narrow down the problem and maybe find the root, be it in `minio` or anything else.

Thanks for your time

[2019-01-21 14:50] harshavardhana commented on #7114
@ahmedabt can you test with S3 ?

[2019-01-21 15:04] aeltawela commented on #7114
@harshavardhana: my understanding s3 won't generate cookies, hence it won't exceed the limit unless you have another layer (i.e. proxy) that add extra headers that exceeds the limit.

I noticed the issue using minio webui where the browser injects the cookie in the HTTP request headers.

[2019-01-21 15:29] harshavardhana commented on #7114
Okay justed with master and released server looks like there is no issue and things work fine.

[code]

Can you check if your Bearer token was wrong? @ahmedabt

[2019-01-21 15:29] harshavardhana commented on #7114
5824 characters in cookie.

[code]

[2019-01-21 16:39] zefie commented on #7114
@ahmedabt There are a few things but I am not sure which is proper.

1) If your Minio is behind a proxy, then you could use the proxy to filter out cookies, since they are not needed for S3.
2) If your Minio is NOT behind proxy, then something else on your domain is erroneously creating a domain-wide cookie.

In the rare case that you NEED the long cookie to be domain-wide, then I would suggest so

[2019-01-21 16:55] harshavardhana commented on #7114
There is a limit on the maximum request headers

[code]

But this code is not generating anything close, there is something else going on here.

[2019-01-21 17:11] Arkemlar commented on #5180
It would be good if somebody point out in docs that polycy prefix should not start with slash / when you type it in via web intrerface, got fooled by that slash hard before checked policies via mc.

[2019-01-21 17:17] zefie commented on #7114
@harshavardhana that code shows header size is 8 times 1024, thus 8192 bytes.

Though the code in @ahmedabt's example in the 3rd post is only 6137 bytes total (give or take counting \n):

[code]

[2019-01-21 17:40] harshavardhana commented on #7114
it's actually `6283` bytes.

[2019-01-21 17:45] harshavardhana commented on #5180
UI is being revamped you won't be allowed to type incorrect values.

[2019-01-22 00:05] fwessels commented on #7061
The alternative way would be to run multiple minio gateway in front of each of the drives (but you would have multiple ports).

Minio's erasure code always compute parity, you can use STORAGE_CLASS=RSS to limit the parity overhead to just two disks (instead of N/2). But you would still some overhead.

[2019-01-22 07:28] kanagarajkm commented on #5452
This issue is fixed after the browser re-write. Opening `https://play.minio.io:9000/minio/nonexistent/` will take the user to the first available bucket.

[2019-01-22 07:50] harshavardhana commented on #5452
You mean the issue is fixed in master branch?

[2019-01-22 08:00] kanagarajkm commented on #5452
@harshavardhana yes

[2019-01-22 08:51] nitisht commented on #5452
closing this based on previous comments

[2019-01-22 08:51] #5452 closed, assigned to kaankabalak

[2019-01-22 09:47] limbo127 opened #7130 "minio gateway s3 / maps accesskey / secretkey"
We want to use minio gateway s3 service without configuring aws cred.
We have a lot of user, each with own access/secretKey  and we want to knonw how pass this cred directly, without need or minio gateway cred.

Example :
user1 : acceskey1/ secret1
user2 : acceskey2  / secret2

with minio client for example
 "play1": {
                        "url": "http://xx.x.x.x:9000",

[2019-01-22 10:00] harshavardhana commented on #7130
You don't need to @limbo127 - are you trying to use S3 gateway against AWS S3 ?

[2019-01-22 10:48] limbo127 commented on #7130
Yes against AWS S3 ?
is there any tricks ?
regards,
Nicolas

[2019-01-22 11:04] harshavardhana commented on #7130
Yes you may refer to these docs https://github.com/minio/minio/blob/master/docs/gateway/s3.md

[2019-01-22 11:44] kolyadin commented on #7061
Thanks for your advices.
For now is good solution for me is using LVM over CEPH volumes because LVM is native to shrink/enlarge logical volumes in comparison to RAID 0.

[2019-01-22 11:44] #7061 closed, assigned to fwessels

[2019-01-22 12:38] limbo127 commented on #7130
sorry but i do not understand,

export MINIO_ACCESS_KEY=aws_s3_access_key
export MINIO_SECRET_KEY=aws_s3_secret_key

in all cases MINIO_ACCESS_KEY must me export, how acceskey1 and accesskey2
can be uses for two différent users ?

Le mar. 22 janv. 2019 à 12:04, Harshavardhana <notifications@github.com> a
écrit :

[2019-01-22 13:15] harshavardhana commented on #7130
You have to run one gateway per user @limbo127 - are you saying you want to use multi-user with Minio gateway?

[2019-01-22 15:32] limbo127 commented on #7130
Ok, Yes we think about multi-user with Minio gateway, where minio gateway
user are just mapping of real aws credential, in fact cred are passe
directly to aws s3
regards,

Le mar. 22 janv. 2019 à 14:15, Harshavardhana <notifications@github.com> a
écrit :

[2019-01-22 16:12] aead opened #7132 "system CAs are not loaded if custom CAs are present or custom CA dir does not exist"
## Expected Behavior
By default the system-wide CAs should always be loaded. Custom CAs under `<cert-config-dir>/certs/CA` should not override system-wide CAs.

## Current Behavior
If there are custom CAs or the custom CA directory does not exist, than system wide CAs are not loaded.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context
TLS

## Regression
No

## Your Env

[2019-01-22 17:18] #7132 closed, assigned to aead

[2019-01-22 17:37] harshavardhana commented on #7086
This should be fixed in master already since all PRs are merged related to these changes closing.

[2019-01-22 17:37] #7086 closed, assigned to harshavardhana

[2019-01-22 17:38] harshavardhana commented on #6363
With streaming bit-rot changes, I expect that these issues are going to be addressed already. Closing this for now and re-open if seen again.

[2019-01-22 17:38] #6363 closed, assigned to harshavardhana

[2019-01-22 18:25] Praveenrajmani commented on #7120
@kannappanr  @shamil I can see that go's standard http package behaves weirdly in our scenario with ruby sdk,  The problem persists when the object's size is more than 7mb, The copy routine ( from the reader to the object temp file ) does not read more than 7mb ( 7 * 1024 * 1024 ) here in https://github.com/minio/minio/blob/8c1b649b2d70fd1ccbeaa14ada165d74d5d11da1/cmd/fs-v1-helpers.go#L346t (8mb o

[2019-01-22 20:11] aculver28 commented on #6014
Should this have been closed? I can confirm the answer provided doesn't work as minio isn't reading those environment variables when they're set in the k8s containers.

[2019-01-23 02:56] harshavardhana commented on #7130
then you need to start multiple minio gateways one per user @limbo127

[2019-01-23 07:53] limbo127 commented on #7130
ok, thank for the explanation
regards,
Nicolas

[2019-01-23 08:22] entekhabgroup opened #7137 "Can't login in fresh install"
## Expected behavior
login in fresh install

## Actual behavior
not login at all

## Steps to reproduce the behavior
install from [here](https://linuxhint.com/install_minio_ubuntu_1804/) and all steps done.
service activated.
open http://localhost:9000
enter access & secret key
show an error: **The access key ID you provided does not exist in our records**

## mc version
Release-tag: RELEASE.2019-

[2019-01-23 09:35] nitisht commented on #7137
@entekhabgroup have you tried `mc` as explained in the https://linuxhint.com/install_minio_ubuntu_1804/ document? Does that work?

Also, please refer our official documentation https://docs.minio.io/ - because unofficial docs may be outdated and can cause confusion

[2019-01-23 11:34] siamackSeifi opened #7138 "Policy doesn't support DNS style bucket addressing"
In the following issue, DNS style bucket addressing was discussed.
https://github.com/minio/minio/issues/4681

Now minio supports DNS style bucket addressing, but when I create a new user with canned policy (https://docs.minio.io/docs/minio-multi-user-quickstart-guide.html) I get access denied when addressing bucket DNS style from minio. but the path style is ok.

[2019-01-23 12:23] harshavardhana commented on #7120
100-Continue was buggy in boto upstream for which we submitted an upstream fix https://github.com/boto/botocore/pull/1328

[2019-01-23 12:53] harshavardhana commented on #7138
Any reproducible steps that you can help us with ?

[2019-01-23 13:02] shamil commented on #7120
@harshavardhana not sure the problem relates to this case. We are talking about `ruby` sdk, not `python`.
@Praveenrajmani found some inappropriate behavior, maybe he has some fix in mind...

[2019-01-23 13:24] siamackSeifi commented on #7138
I used "export MINIO_DOMAIN=domaintest.dev" to add such domain to minio.
Then I added a new user: "mc admin user add myminio newuser newuser123 mypolicy" using the following canned policy:

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "s3:PutObject",
        "s3:GetObject",
        "s3:DeleteObject",
        "s3:ListBucket"
      ],
      "

[2019-01-23 13:45] harshavardhana commented on #7120
@shamil the point is both are written by AWS devs and in the past we have seen common issues across SDKs. We have discovered and fixed multiple issues upstream ranging from HTTP RFC compliance issues to incorrect signature SPEC implementation.

Go may not be a culprit here AFAICS, perhaps HTTP rfc implementation requirements misinterpreted by the client and here that is aws-sdk-ruby.

[2019-01-23 13:47] harshavardhana commented on #7138
Thanks this should help.

[2019-01-23 15:31] aculver28 commented on #6912
@harshavardhana is there any documentation on how the minio access key and secret key are supposed to be configured in gateway mode on k8s? The only thing I'm seeing is to set the environment variables, but minio isn't picking those up even when they're set properly. Works fine just using `docker run` with the `-e` flags set, but not in a k8s deployment.

[2019-01-23 15:50] harshavardhana commented on #6912
cc @nitisht

[2019-01-23 15:52] nitisht commented on #6912
are you running k8s on AWS by any chance @aculver28 ?

[2019-01-23 16:44] aculver28 commented on #6912
@nitisht no this is an on-prem deployment. I actually just figured out part of the problem. I'm using base64 encrypted secrets to set the environment variables. They're being set properly, but minio isn't reading them for some reason. If I hardcode the values directly it works fine. Looking at using an init container or just sourcing them from a file (writing the GCS credentials file and sourcing

[2019-01-23 18:09] harshavardhana commented on #6014
Please open a new issue @aculver28 let's not confuse with old issues.

[2019-01-23 18:44] Praveenrajmani commented on #7120
i got the same when tested in go1.10+ versions. I will raise an issue in the upstream library for this. As @harshavardhana mentioned. i'd better open the issue in both the upstreams.

[2019-01-23 18:47] kannappanr commented on #7130
@limbo127 Closing this issue as answered. Please feel free to reach out to us if you have more questions.

[2019-01-23 18:47] #7130 closed, assigned to harshavardhana

[2019-01-23 19:06] Praveenrajmani commented on #7120
Yet another work-around i could think of is uploading in parts with each part < 7mb. As per [https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/MultipartUploadPart.html#multipart_upload-instance_method](url)

I can see

[code]

which can upload in chunks. with chunk size < 6~7mb. @shamil Shall we try this by manually chunking the object in parts of < 7mb each?

[2019-01-23 20:28] harshavardhana commented on #7120
I am able to run it successfully

[code]

[code]

Ruby version is
[code]

[2019-01-23 20:31] harshavardhana commented on #7120
Tested with minio server as well

[code]

[code]

[2019-01-23 20:33] harshavardhana commented on #7120
I am also running the ruby script in a `while true` loop to reproduce this, but not able to.

[2019-01-23 22:02] dutchhsg commented on #6490
There is a similar issue with minio on FreeBSD (FreeNAS):
https://forums.freenas.org/index.php?threads/minio-memory-usage-through-the-roof.73135/

This guy just upgraded his hardware (that's another way to solve it):
https://github.com/minio/minio/issues/4102

I first tried to share the whole data pool with minio but that takes hours, still is not finished, and will probably screw up my buckets.
M

[2019-01-23 22:06] shamil commented on #7120
@Praveenrajmani , @harshavardhana  to put you guys in context.

1. The problem I experience is with files bigger than `5MB`
2. For me it mostly happens with `Jruby 9`
3. I don't control the code which does the S3 uploads, it's actually a `logstash` S3 plugin. So  I don't  own the code there. I can hard patch it, but I guess if I can avoid it this will be great

@Praveenrajmani your suggestion abou

[2019-01-24 03:20] pburkholder commented on #5710
Within `docker-compose.yml` I find this works fine:

[code]

[2019-01-24 06:11] mnajamudinridha opened #7140 "minio gateway b2 not found after update minio 2019-01-23T23:18:58Z"
hi, my minio gateway b2 not work on my server,
‘b2’ is not a minio sub-command. See ‘minio --help’.

[2019-01-24 06:14] kannappanr commented on #7140
@najcardboyz We have removed support for b2. PTAL at the release notes
https://github.com/minio/minio/releases/tag/RELEASE.2019-01-23T23-18-58Z

[2019-01-24 06:14] harshavardhana commented on #7140
We have officially removed support for b2 gateway @najcardboyz -  https://dl.minio.io/server/minio/release/linux-amd64/archive/ use one of the older releases.

[2019-01-24 06:25] mnajamudinridha commented on #7140
ok, thank you for the information, I think, I have to downgrade my minio version

[2019-01-24 06:32] kannappanr commented on #7140
@najcardboyz Thanks for reaching out to us. Closing this issue now as won't fix.

[2019-01-24 06:32] #7140 closed, assigned to nobody

[2019-01-24 06:38] harshavardhana commented on #7138
I was able to test this from what it looks like your policy is wrong @siamackSeifi here is what I tested.

My envs before starting minio
[code]

[code]

[code]

[code]

[code]
[code]

From debug output you can see `mc` is using DNS style for bucket addressing
[code]

[2019-01-24 06:44] harshavardhana commented on #7138
Also tested the policy you posted which seems to be correct policy and is working as expected with DNS addressing too

[code]

[code]

[code]

[code]
[code]
[code]
[code]

[2019-01-24 06:47] harshavardhana commented on #7138
May be you need update your Minio server to latest and test again @siamackSeifi .

[2019-01-24 06:50] harshavardhana commented on #7114
@ahmedabt were you able to figure out why? - I am inclined to close this as a non-issue. There is a top-level limit on the length of headers which can be allowed in S3 spec.

Let me know if you are expecting us to remove cookies from the browser code before we send a request to Minio. cc @kanagarajkm

[2019-01-24 07:40] coderLinJ5945 commented on #6547
I would like to ask you how to configure the bucket policy to generate permanently valid urls?Can you give me a demo? Thank you

[2019-01-24 07:57] kannappanr commented on #6547
@coderLinJ5945 As described in the docs

```mc policy download play/mybucket```

You can download objects within the bucket directly.  For e.g, an object named `issue` using the link

`https://play.minio.io:9000/mybucket/issue`

[2019-01-24 08:03] nitisht commented on #6547
can you try http://111.22.15.73:5012/asiatrip/date.png

[2019-01-24 09:22] kannappanr commented on #6547
@coderLinJ5945 Can you print the output of `mc policy myalias/asiatrip` where `myalias` is the alias to connect to `http://111.22.15.73:5012`

[2019-01-24 09:24] kannappanr commented on #6547
Yes. You will have to do `mc policy download mylias/asiatrip` where `myalias` is the alias to connect to `http://111.22.15.73:5012`

[2019-01-24 09:25] kannappanr commented on #6547
Please look at `https://docs.minio.io/docs/minio-client-complete-guide.html#policy` for more information on how to set anonymous access

[2019-01-24 09:43] kannappanr commented on #6547
before you run `mc policy myalias/asiatrip`, please enter `mc config host add myalias http://111.22.15.73:5012 YOUR_ACCESS_KEY YOUR_SECRET_KEY` Please enter the appropriate values for `YOUR_ACCESS_KEY` and `YOUR_SECRET_KEY`

[2019-01-24 10:10] rHermes opened #7141 "JSON parsing error"
It seems that there is a parser error in the select part of the code. I try to run select over it, but it doesn't work. It also seems to be tied to number of entries, as it will go from returning all successfully to returning none successfully.

The file in question when you see bug.json is [https://gist.github.com/rHermes/007dddb88d5ad23f7c4365eb66adff22](url)

## Expected Behavior
[code]

## Cur

[2019-01-24 10:17] nitisht commented on #7141
Thanks, we'll take a look @rHermes

[2019-01-24 10:18] coderLinJ5945 commented on #6547
My thoughts are a bit confused. Let me sort them out first. Thanks very much

[2019-01-24 16:11] Karimerto opened #7145 "Minio config cannot parse IPv6 address for PostgreSQL"
As the title says, minio config cannot handle IPv6 addresses in the config file. I was following the instructions on [Minio Bucket Notification Guide](https://docs.minio.io/docs/minio-bucket-notification-guide.html) for enabling events in PostgreSQL.

I extracted the current config with `mc admin config get`, modified the relevant section for `postgresql` and tried to upload it but it was not acce

[2019-01-24 21:27] krishnasrinivas commented on #5936
Fixed by 82af0be1aaac3dd7916329ca04c89743e022249d

[2019-01-24 21:27] #5936 closed, assigned to vadmeste

[2019-01-24 21:33] krishnasrinivas opened #7146 "heal fails if an underlying disk is unmounted"
Have 4 loop mounts (to simulate disks)

[code]

start minio server:
[code]

[code]

[code]

Healing process is trying to heal config.json on the unmounted disk and errors out.

## Expected Behavior

healing process should not exit

## Current Behavior

## Possible Solution

Healing process should not try to heal on unavailable disks.
(I will send a PR)

## Steps to Reproduce (for bugs)

Explained

[2019-01-25 04:04] manigandham commented on #7140
What exactly is the maintenance requirement for the gateway code? The B2 API is stable and has been working well, is it blocking some other development to keep it?

[2019-01-25 04:11] harshavardhana commented on #7140
It is quite simple our test suites do not complete on this gateway, it was not close to where we wanted our gateway implementations better examples as s3, gcs, azure, Alibaba OSS.

Also, we lack the bandwidth to maintain myriad of gateway implementations in our codebase to meet our quality requirements. The community is free to fork and maintain its own version as needed. You can use older Minio r

[2019-01-25 10:24] nullne opened #7150 "Heal operation is too slow"
## Expected Behavior

Heal operation should be faster than the writing rate  at leat, or it will never be finished.

## Current Behavior
Heal operation is very slow on the minio cluster. i have set up an 6 node cluster. each is equipted with 12 6T disks. I stopped all requests to the cluster and strarted to heal the whole cluster recursively(with flag `-r`).

guess what, about 10k objects are heal

[2019-01-25 10:43] miguelguadarrama opened #7151 "ubuntu+docker+nginx+gateway:azure + form.io 405 method not allowed"
I'm using a service called Form.IO to create a form. One of their components is file upload and they support S3/minio server for file storage. I followed their guides to set up the environment from here:
https://help.form.io/tutorials/deployment/azure/

And how to set up minio here:
https://help.form.io/integrations/filestorage/#minio

So this is what I did:
1. Create Azure VM + ubuntu
2. Install

[2019-01-25 11:49] vadmeste opened #7152 "policy: document generated by AWS s3 is not accepted by Minio server"
## Expected Behavior
A simple bucket policy JSON document is accepted by Minio server

[code]

## Current Behavior
A simple bucket policy JSON document is not accepted by Minio server:

[code]

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
1. Use Praveen PR (https://github.com/minio/mc/pull/2649) and compile mc
2. mc mb myminio/testpolicy
3. Store this JSON policy in /tmp/poli

[2019-01-25 12:03] balamurugana commented on #7152
`"Action": "s3:*"` is not supported in minio i.e. `*` in action is not supported.

[2019-01-25 13:59] stopher2 opened #7153 "anonymous http https post produces 403 error"
## Expected Behavior
http/https POST should store the object and return a 200

RECOMMENDATION: Add documentation to describe  generic http post client signature to a bucket having a "none" policy
## Current Behavior

works fine with mc, a browser,  but a singular line java http post client with a simple URI does not authenticate to an anonymous bucket.

desire to use a java object which posts a UR

[2019-01-25 14:00] stopher2 commented on #7153
version:   2018-09-12T18:49:56Z

[2019-01-25 14:17] vadmeste commented on #7152
Right, I remember now.

[2019-01-25 17:08] cyberious commented on #6014
It is the same issue, I am running into this as well. Only if you pass the values in the helm chart which injects them into the config does it work. This old issue should have never been closed though it wasn't fixed.

[2019-01-25 17:12] nitisht commented on #6014
We’ll check and get back here

[2019-01-25 17:26] aculver28 commented on #6014
Sorry...I resolved my issue. There was a newline character at the end of the value when it was base64 encoded. Fixed that and I was able to use the encrypted values stored as k8s secrets with no problem.

[2019-01-25 17:54] cyberious commented on #6014
I think I had the same issue, despite being typically diligent about it. 🤦‍♂️

That being said I do believe we should be removing the credentials from the config file in the helm template since we are setting them through environment variables as well. It adds confusion to where the values may be coming from and which one overrides which.

[2019-01-25 18:43] atrauzzi commented on #6219
Hey @harshavardhana - It's been a bit, but I definitely will be trying this out shortly.  😄

Will update with whether it works or not.

[2019-01-25 19:01] kirankanth commented on #6904
Memory has been upgraded, but we still see the minio service that is getting killed.

Jan 24 13:49:51 minioserver run_minio.bash[25688]: /home/miniol/run_minio.bash: line 15: 25690 Killed                  /
Jan 24 13:49:51 minioserver systemd[1]: minio.service: main process exited, code=exited, status=137/n/a
Jan 24 13:49:51 minioserver systemd[1]: Unit minio.service entered failed state.
Jan 24 1

[2019-01-25 20:41] harshavardhana commented on #7152
It's only supported for IAM because regular Bucket policies are only for anonymous users, and we don't give them access to all operations as prescribed by `s3:*`.  AWS supports it because they given cross account permissions such as vadmeste can give permissions to harsha access in his bucket.

We can close this issue AFAIK we have no plans on doing cross account permissions.

[2019-01-25 20:50] harshavardhana commented on #6014
ENVs always override what is there in the config @cyberious , we are improving the helm chart as well.

[2019-01-25 22:49] kannappanr commented on #7145
@Karimerto Thanks for filing this issue. We will take a look at this and try to fix it soon.

[2019-01-26 00:24] happybydefault opened #7159 ""‘b2’ is not a minio sub-command…""
Edit: https://github.com/minio/minio/pull/7115

Please close this issue.

[2019-01-26 00:35] kannappanr commented on #7159
support for B2 has been removed. Please look at this issue https://github.com/minio/minio/issues/7140

[2019-01-26 00:36] #7159 closed, assigned to nobody

[2019-01-26 03:52] miguelguadarrama commented on #7151
UPDATE:
I got it working. It seems that you can't make requests to "/", at least for azure. You must add the bucket name to make the URL endpoint:

https://minio.mydomain.org/bucketname/

By doing this, I was able to upload files to Azure from form.io upload file component.

[2019-01-26 04:01] nitisht commented on #7151
feel free to close the issue   @miguelguadarrama

[2019-01-26 04:02] #7151 closed, assigned to sinhaashish

[2019-01-26 07:28] nitisht commented on #6014
Thanks @aculver28 @cyberious closing this issue then. There is a PR to remove configMaps from Helm chart https://github.com/helm/charts/pull/10828 to avoid this confusion.

Feel free to open a new issue if you see any issues

[2019-01-26 07:28] #6014 closed, assigned to nitisht

[2019-01-26 15:16] siamackSeifi commented on #7138
I took your advice and updated my minio and mc to latest version @harshavardhana , but still i cant reach my bucket through dns style addressing.
I created a test user and a test2. Their difference is (--lookup dns) which test2 has but test doesnt have it.
So its as follows:

[code]

[2019-01-26 17:50] harshavardhana commented on #7138
From 405 method not allowed, it means that server is not configured for DNS style addressing.

How did you setup DNS style addressing?

[2019-01-27 03:39] kirankanth commented on #6904
Is there a max memory setting we can put on Minio so it doesn’t run out of memory?

[2019-01-27 03:43] kirankanth commented on #6904
<img width="828" alt="memory" src="https://user-images.githubusercontent.com/19669082/51796205-ffb94680-21aa-11e9-9be1-5ed512dc43c9.PNG">

[2019-01-27 03:44] kirankanth commented on #6904
We have four servers and one on the nodes is taking high memory and when it reaches 100% it is killing the service. Is there any way to have a setting to limit the minio's memory on a specific server.

[2019-01-27 03:45] harshavardhana commented on #6904
In distributed setup you may need to upgrade your server to latest, we made some significant changes to our memory usage during erasure coding and bitrot detection routines.

do you also happen to be running healing on a regular basis?

[2019-01-27 03:50] kirankanth commented on #6904
You are suggesting to upgrade minio or the OS running on the servers? We have RHEL 7.6 running on the servers and that's the latest one. Not aware of the healing process neither we ran anytime before.

[2019-01-27 03:56] harshavardhana commented on #6904
Yes I am talking about Minio, would it be possible ?

[2019-01-27 03:58] kirankanth commented on #6904
We are just trying to see what can we do to avoid the service failures due to max memory usage. We have other servers too but are not taking much load as show in above snapshot.

[2019-01-27 03:58] kirankanth commented on #6904
Yes, we can try upgrading minio to latest. Could you provide the newer version with link please?

[2019-01-27 04:06] kirankanth commented on #6904
Current version of minio:
Version: 2018-11-06T01:01:02Z
Release-Tag: RELEASE.2018-11-06T01-01-02Z

[2019-01-27 07:44] kannappanr commented on #7120
@shamil Closing this issue here. Please feel free to reach out to us if you have any other question.

[2019-01-27 07:44] #7120 closed, assigned to Praveenrajmani

[2019-01-27 07:51] siamackSeifi commented on #7138
I started server with `./minio server --address "localhost:9000" /data`
I don't know if theres other setting up to do

[2019-01-27 08:04] harshavardhana commented on #7138
Yeah if you started in that manner and you are using a DNS name which is not localhost? what are values for your Minio ENVs such as `MINIO_DOMAIN`?

[2019-01-27 08:16] siamackSeifi commented on #7138
It worked!
I set my `minio_domain` to localhost and now it works. But Im sure I did it before.
maybe I didn't do them all after updating my minio.
thanks for the help.

[2019-01-27 15:44] harshavardhana commented on #7138
Thanks feel free to close this issue @siamackSeifi

[2019-01-28 03:27] kannappanr commented on #7138
@siamackSeifi Closing this issue as answered. Please feel free to reach out to us if you have more questions.

[2019-01-28 03:27] #7138 closed, assigned to harshavardhana

[2019-01-28 04:53] krisis commented on #6904
@kirankanth you can download the latest release of minio from here - https://dl.minio.io/server/minio/release/linux-amd64/minio

[2019-01-28 10:54] vadmeste commented on #7152
Closing this as answered

[2019-01-28 10:54] #7152 closed, assigned to nobody

[2019-01-28 13:40] vermaden opened #7163 "Can not add new policy"
Hi,

I am following this guide:
https://docs.minio.io/docs/minio-multi-user-quickstart-guide.html

What I need:
**Add new policy with read/write access to only one bucket and using only one user for that role.**

These are the instructions I have done:

[code]

For the record, the **testbucket** already exists and 'works'.

Doing the example in point 2. of the guide works:

[code]

I use 2019.01.1

[2019-01-28 15:33] aeltawela commented on #7114
@harshavardhana: Sorry, I am a bit busy. It will take time until I reproduce the issue. Feel free to close the issue and we can open it again later.

[2019-01-28 15:36] nitisht commented on #7163
@vermaden the resource field

[code]

is incorrect, please refer https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_version.html

Can you set it to

[code]

and try again?

[2019-01-28 15:47] nitisht commented on #7114
closing based on https://github.com/minio/minio/issues/7114#issuecomment-458177680

[2019-01-28 15:47] #7114 closed, assigned to nobody

[2019-01-28 15:50] nitisht commented on #7137
@entekhabgroup were you able to try `mc` ?

[2019-01-28 18:27] kirankanth commented on #6904
Are there any specific minio commands to see how many minio servers are active/running and the disk usage?

[2019-01-28 19:20] kannappanr commented on #6904
You can use `mc admin info` command
[code]

[2019-01-28 22:48] kannappanr commented on #7163
@vermaden Please let us know if the suggestion worked.

[2019-01-29 01:20] deekoder commented on #7137
I just tried it and I am able to login. @entekhabgroup  can you check if you got access/secret key right?

[2019-01-29 08:10] vermaden commented on #7163
I was able to test it just now. yes that works.

Thank you very much for fast and accurate help.

I thought that 'Version' applies to contents of the JSON config file like Serial field in DNS to know that contents changed.

Regards,
vermaden

[2019-01-29 08:10] #7163 closed, assigned to nobody

[2019-01-29 12:52] flixr opened #7165 "policy works via cli but not via web interface"
I'm having some trouble with the recently introduced variable support for policies: it works for the cli (`mc`) but not the web interface... are there special actions I have to allow for web access?

My policy for allowing each "user" access  to their own bucket:

[code]

## Expected Behavior
Policy should work the same for cli access as for web interface.

## Current Behavior

While it works in t

[2019-01-29 13:47] doz10us opened #7166 "Link to a Media Glasses article is broken in the Community blogs section"
[Playing with Docker 1.13 & Minio](https://media-glass.es/playing-with-docker-1-13-minio-9b38a36e88b)

## Expected Behavior
An article should open after a click to [Playing with Docker 1.13 & Minio](https://media-glass.es/playing-with-docker-1-13-minio-9b38a36e88b)

## Current Behavior
The link leads to a 404 page.

## Possible Solution
Adjust the link to point to a (new?) [direct URL](https://med

[2019-01-29 14:39] wowselim opened #7167 "Setting up mirroring with an S3 compatible object store"
On the minio website, [the features page](https://www.minio.io/features.html) says the following:

I looked into the documentation but couldn't find any further information about this. I would like my Minio instance to be in sync with my DigitalOcean Spaces instance, which is also S3 compatible.

Am I missing something or is there no information regarding this available?

[2019-01-29 15:11] sgandon commented on #7167
I believe you can do that with the minio client using the mirror command
`mc mirror`

[2019-01-29 15:12] nitisht commented on #7167
@wowselim here is the documentation on `mc mirror` https://docs.minio.io/docs/minio-client-complete-guide.html#mirror

Closing this issue as answered, feel free to join us on Slack (https://slack.minio.io) for more such questions

[2019-01-29 15:12] #7167 closed, assigned to nobody

[2019-01-29 15:13] nitisht commented on #7166
Thanks for reporting @doz10us we'll remove the link

[2019-01-29 15:14] nitisht commented on #7165
thanks for reporting @flixr we'll take a look

[2019-01-29 17:46] stopher2 commented on #7153
RECOMMENDATION:  either change "none" authentication algorithm or add an "anonymous" security state which the server will validate keys in clear in httpPOST.

[2019-01-29 19:31] #7166 closed, assigned to nobody

[2019-01-29 19:34] kannappanr commented on #7166
@doz10us the link has been fixed.

[2019-01-30 05:56] nitisht commented on #6913
Closing as fixed by https://github.com/minio/minio/pull/6961 . @dcs3spp can you try latest Minio release and confirm if it works.

Feel free to reopen if there are further issues

[2019-01-30 05:56] #6913 closed, assigned to sinhaashish

[2019-01-30 08:51] #7165 closed, assigned to sinhaashish

[2019-01-30 09:00] flixr commented on #7165
Thanks a lot for the quick response and fix guys!

[2019-01-30 14:44] siamackSeifi opened #7173 "Which part of the code handles 405 Method Not Allowed"
Hi.
I am trying to change the server code in a way that server could handle multiple domains for one instance (an array of `globalDomainName`)
For that I handled routers and methods in `cmd/api-router.go`
but I cant find which part of the code handles endpoint which when I enter `export MINIO_DOMAIN=mydomain.dev` handles it and allows `mybucket.mydomain.dev/` but it returns ` 405 Method Not Allowe

[2019-01-30 16:58] kirankanth commented on #6904
We have upgraded minio to newer version two days ago. But still minio was down last night due to memory issue. There was not push/pull images during that time (11:30 PM). Looks like the memory is not being free'd.

# minio version
Version: 2019-01-23T23:18:58Z
Release-Tag: RELEASE.2019-01-23T23-18-58Z
Commit-ID: bd25f31100f44646cffae99dfec23179366593e2

Jan 29 23:32:52 lppbdsvmip01.phx.aexp.com ru

[2019-01-30 17:03] dcs3spp commented on #6913
Many thanks @nitisht,

Have just tried performing an upload using the latest version of minio, 2019-01-23T23:18:58Z

When the upload has completed there is now no empty subfolder in `multipart`. Looking good....
Upon startup there is an empty folder in */data/.minio.sys/tmp*, however this was the case when running with older version, e.g. 2018-11-30T03:56:59Z.

So far, no new empty subfolders bein

[2019-01-30 18:53] #7146 closed, assigned to krishnasrinivas

[2019-01-30 21:57] kannappanr commented on #7137
@entekhabgroup Closing this issue as answered. Please feel to reopen if you are still seeing this issue.

[2019-01-30 21:57] #7137 closed, assigned to nobody

[2019-01-30 22:30] kannappanr commented on #7173
@siamackSeifi Looks like you want support for multiple domain names. We will send in a PR that has support for multiple domain names soon.

[2019-01-31 07:11] nitisht commented on #6999
@gbarton closing this for now, feel free to reopen if it doesn't work as expected.

[2019-01-31 07:11] #6999 closed, assigned to krisis

[2019-01-31 10:43] krisis commented on #6904
The version of minio you are using **has** the fix to use significantly lesser memory than before. But for the fix to be effective you need to re-upload your objects. This is possibly the reason why you are still observing minio server getting OOM killed. Could you try re-uploading the objects with all the minio server instances upgraded to the latest version?

## Why should you re-upload of objec

[2019-01-31 12:11] adelmonora opened #7180 "high cpu usage"
## Expected Behavior

## Current Behavior

My server is unresponsive because minio process use  all the cpu

## Possible Solution

## Steps to Reproduce (for bugs)

](url)
1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to

[2019-01-31 12:52] nitisht commented on #7180
this is a fairly old release @adelmonora , we have made many fixes to improve CPU utilisation. can you try with latest release

[2019-01-31 12:55] adelmonora commented on #7180
Hi Nitisht,  i update minio to the last version, but it appear the issue is the same.

[2019-01-31 17:07] ranjeetkowel opened #7181 "Unable to get the metadata for an object for browser based application"
When using the `getObject` API from a browser based application using the `aws-sdk-js` the `metadata` field returned is empty. However using the same API from a non-browser based application, returns the appropriate metadata.

## Expected Behavior

The `getObject` API should have the same behavior across various `aws-sdk`s.

## Current Behavior

The SDK does not return the `metadata` for a browser

[2019-01-31 18:39] funkypenguin opened #7182 "How to permit s3/ListMultipartUploads to a readonly user"
Hi folks,
I'm trying to expose a bucket to a read-only user, with enough permissions to list and download objects. I created the user as "readonly", and applied the "download" policy to my bucket:

[code]

## Expected Behavior
User uses goofys to mount bucket, using ```./goofys-latest --f -debug_s3 --debug_fuse --endpoint=https://MYMINIOURL media /tmp/banana```

## Current Behavior
Bucket mounts,

[2019-01-31 18:49] cjeanneret opened #7183 "Unable to start minio in container with TLS (probably doc issue)"
Hello,
I'm struggling getting minio starting with TLS. Here's the command I'm launching:
[code]

Into the "minio-config" volume (mounted as /root/.minio in the container), I have the "certs" directory with a "private.key" and a "pblic.crt" file, as well as a CAs directory containing ipa.domain.tld.pem.

The certificate is signed by a freeIPA instance, and I get it using ipa-getcert.

The certifica

[2019-01-31 20:05] kannappanr commented on #7183
@cjeanneret We will try to reproduce this issue and get back to you.

[2019-01-31 20:44] kannappanr commented on #7182
@funkypenguin Will try to reproduce the issue described here and get back to you with further questions.

[2019-01-31 22:07] kannappanr commented on #7181
@ranjeetkowel Thanks for the issue and the possible solution. That is how we will try to resolve this issue. Will try to send a fix soon.

[2019-01-31 22:36] krishnasrinivas commented on #7150
@nullimne

we will be implementing `--scan=[normal/deep]` `normal` being the faster version which does not do bitrot check (which takes a long time)

[2019-01-31 23:14] kannappanr commented on #7183
@calvernaz Is the file name `pblic.crt` a typo? Because it should be `public.crt`.

[2019-02-01 03:55] kirankanth commented on #6904
You mean we have to re-upload all the images in minio again by deleting the old ones? Could you please be more specific on what steps we need to perform to get the memory faster.

[2019-02-01 04:19] krisis commented on #6904
@kirankanth if you re-upload objects the older ones would be replaced. So, there is no need to delete them.
Could you join us on [slack](https://slack.minio.io/) so that we can guide you with the specific steps?

[2019-02-01 06:46] kannappanr commented on #7180
@adelmonora We have a PR (https://github.com/minio/mc/pull/2657) in mc that will help us get more info on issues like this. Hopefully this will be merged in a day or two. You could either build `mc` by checking out this PR or wait for the release.

[2019-02-01 08:05] cjeanneret commented on #7183
Hello,

duh, yes, typo in here, name are correct on the instance.

Cheers,

C.

[2019-02-01 10:37] nitisht commented on #6496
@djmaze very sorry to have dropped the ball on this, I finally checked the logs and even reproduced it locally.

This happens because directories (`/target/dir` in this case) are created as 0b objects on Minio backend, Minio server doesn't store any metadata related to these directories - while s3fs depends on the metadata for retrieving UID/GID etc. So, even when s3fs sends `X-Amz-Meta-Uid` to Mi

[2019-02-01 11:07] bkamau commented on #7064
I have distributed setup with 4 replicas. When the below logs occur, pods start being killed with _OOMKilled_  as reason.

API: SYSTEM()
Time: 11:00:54 UTC 02/01/2019
Error: Post http://XXXX.svc.cluster.local:9000/minio/storage/v3/export/createfile?file-path=7f29b029-2348-4eba-8134-bf65e2f90b1c%2Fpart.1&length=1544398&volume=.minio.sys%2Ftmp: net/http: HTTP/1.x transport connection broken: http: C

[2019-02-01 11:59] divanikus commented on #7064
In my case seems like the root cause was the improper data layout. Currently we are trying to reupload everything using layout with subdirectories. So far, everything goes well, but we didn't even touched 1TB yet. I have also changed subdirs for minio to separate volumes, so it should be using df instead of du now.

[2019-02-01 17:12] harshavardhana commented on #7180
@adelmonora would you mind collecting profile output for us you can use `mc admin profile` command to do that.

[2019-02-01 17:26] cjeanneret commented on #7183
Hello,

Small precision: I'm unable to request a certificate with an IP address (freeIPA limitation) - so I just hope it's not how minio searches for its certificate... ?

Also, I've double-checked, apparently I don't have any SELinux issue that would prevent access to the files (no "denied" in the audit.log).

Cheers,

C.

[2019-02-01 17:41] cjeanneret commented on #7183
Me again,
found out my issue: the container engine I'm using, podman, doesn't store its data where I thought when using named volume (new feature), and of course, I copied the certificate/keys to the "wrong" location.... yay.

So PEBKAC. Should have checked the mounted volume content before, sorry!

[2019-02-01 17:41] #7183 closed, assigned to eco-minio

[2019-02-02 04:55] nitisht commented on #7009
@waqark3389 closing this for now due to no response, feel free to reopen if this doesn't work

[2019-02-02 04:55] #7009 closed, assigned to Praveenrajmani

[2019-02-02 04:57] nitisht commented on #6496
@djmaze since there are no plans to support this as of now, closing the issue as won't fix. Please do feel free to ask further questions if you have any.

[2019-02-02 04:57] #6496 closed, assigned to nitisht

[2019-02-03 08:00] siamackSeifi commented on #7173
Exactly @kannappanr .
Thank you.

[2019-02-03 11:10] siamackSeifi commented on #7173
@kannappanr another matter is to add domain on the fly and not just on the startup.
Do you have that in mind for next release?
And for the sake of my understanding of how code works, could you please explain how is
THIS

handled?
Where should I check in source code?

[2019-02-03 17:55] harshavardhana commented on #7173
Dynamically adding domains won't work @siamackSeifi as its not possible we need to initialize the HTTP server with the right muxers - you cannot dynamically change such handlers and its not allowed in HTTP.

you should look at `cmd/api-router.go` for how domains are initialized.

[2019-02-04 04:53] kirankanth commented on #6904
I added slack, when will you be available to assist?

[2019-02-04 05:56] krisis commented on #6904
@kirankanth I am available now. My slack handle is kp. You could mention on me on the slack general channel. It will help me identify your slack handle.

[2019-02-04 16:48] kirankanth commented on #6904
Could you let me know your work hours please?  I am in MST time, but I will see if i can login during your time.

[2019-02-04 18:16] krisis commented on #6904
@kirankanth I work out of Indian Standard Time zone. What is your slack handle?

[2019-02-04 19:15] challarao commented on #3223
Is it possible to revisit this?

[2019-02-04 20:28] markmarijnissen opened #7191 "GCS gateway + ETCD = Doesn't list existing buckets"
## Expected Behavior
`mc ls myminio` should return a list of all buckets in GCS.

## Current Behavior

GCS gateway with etcd
1. `mc ls myminio` shows no existing buckets (0)
2. `mc mb myminio test`
3. `mc ls myminio` shows only test bucket (1)

GCS gateway without etcd
1. `my ls myminio` shows all existing buckets (3)

Some further facts:
1. I have confirmed my GCS credentials are correct.
2. etcd

[2019-02-04 20:31] kirankanth commented on #6904
Please try this "kmodigun"

[2019-02-04 22:38] kannappanr commented on #7191
@markmarijnissen Thanks for reporting this issue. We will try to reproduce this error and see what is going on.

[2019-02-04 22:47] poornas commented on #6267
this issue can be closed @kannappanr

[2019-02-04 22:49] kannappanr commented on #6267
Closing this issue as double encryption support at S3 Gateway layer has been merged.

[2019-02-04 22:49] #6267 closed, assigned to aead

[2019-02-04 23:05] krishnasrinivas commented on #3223
@challarao this problem is not seen anymore as we do background append as and when the parts get uploaded (and hence completemultipart call is quick). If you are using a reverse proxy you should set sticky session based on source IP affinity.

[2019-02-05 00:04] markmarijnissen commented on #7191
Thanks. Let me know if I can help by giving more info.

[2019-02-05 04:36] Vynce opened #7194 "Support partial listing of buckets"
Could a user policy restrict the `ListAllMyBuckets` API to only return certain buckets?

## Expected Behavior
For example, I'd like this policy to only allow a user to see their own bucket:
[code]

## Current Behavior
Currently, I either need to block listing buckets or allow users to list all of them:
[code]

## Possible Solution
Make it possible to specify a list of resources that the `ListAllMy

[2019-02-05 05:32] kannappanr commented on #7194
@Vynce Not sure if S3 spec allows this. Please take a look at https://stackoverflow.com/questions/6615168/is-there-an-s3-policy-for-limiting-access-to-only-see-access-one-bucket/18089783#18089783

[2019-02-05 06:10] krisis commented on #6904
@kirankanth I don't see a user by that name in our slack #general channel. Have you joined minio's slack?

[2019-02-05 11:58] MarcinAman opened #7195 "Scaling, performance and behavior inside a docker container"
Hi,
i have a few questions about minio:

## Question
(Questions are related to distributed minio, I am especially interested the one in docker containers)
1) In documentation I have read how locking works, but how minio propagates changes / uploads? I assume that every node holds a data or parity block of a single file, but what if i upload a new file or update the old one? How does the cluster be

[2019-02-05 12:05] markmarijnissen commented on #7191
Solved!

1. I set the "MINIO_DOMAIN" ENV variable.
2. In **cmd/common-main.go:297**, there is both `globalDomainName` and `globalEtcdClient`, which enables the `globalDnsConfig` (https://github.com/minio/minio/blob/master/cmd/common-main.go#L297)
3. in **cmd/web-handlers.go:297**, bucket retrieval happens using the DNS instead of the normal command.  (https://github.com/minio/minio/blob/master/cmd

[2019-02-05 12:05] #7191 closed, assigned to eco-minio

[2019-02-05 15:26] mitya-multiplayer opened #7196 "Provide public access to the server"
How do I start Minio service in public mode?

## Expected Behavior
Is that possible to disable credentials somehow?

## Current Behavior
In `config.json` I tried to set `credential.status` to `disabled`, I tried to set empty values to access and secret keys but nothing work.

## Context
I run minio in a private cloud which already has all required authorization and I don't need an extra layer of a

[2019-02-05 16:03] nitisht commented on #7196
This is not possible at server level @yateam . You can do this at bucket level using policies https://docs.minio.io/docs/minio-client-complete-guide.html#policy

[2019-02-05 16:31] kirankanth commented on #6904
Looks like my VPN got disconnected and after 11 PM IST i logged out. Could you let me know the exact time that you will be logging in?

[2019-02-05 16:39] krisis commented on #6904
@kirankanth I will be online from 9:30 am IST.

[2019-02-05 21:02] eco-minio commented on #7182
@funkypenguin It looks like there is no authorization header for the requests by goofys.  Compare the request below to the one you shared:

[code]
For some reason it looks like goofys is not picking up the credentials from `~/.aws/credentials`.  Try adding `--profile default` to the goofys mount command and let us know if it works after.

[2019-02-05 22:06] #7181 closed, assigned to Praveenrajmani

[2019-02-05 22:37] challarao commented on #3223
@krishnasrinivas Unfortunately, I'm seeing the request timeout with gcs gateway too. I'm trying to upload 20 gb file. I'm still not sure why since it doesn't need any append with gcs backend. Also it doesn't matter if I use sticky session or not with gcs backend even though if I load balance. Am I right?

With FS backend we don't use multiple minio servers, so lack of sticky session is not an issu

[2019-02-05 23:11] MarcinAman commented on #7195
Also you are writting in the [docs](https://github.com/minio/minio/blob/master/docs/sts/README.md) that using KeyCloak i am able to get an admin-like credentials, but how about the limited ones (for users)?

[2019-02-05 23:22] harshavardhana commented on #3223
A 50sec timeout is too low @challarao i would suggest it should be close to 15minutes.

[2019-02-05 23:43] krishnasrinivas commented on #3223
@harshavardhana since the whitespace char fix was simple one, i sent a PR

[2019-02-06 00:39] harshavardhana commented on #7194
S3 spec doesn't allow partial listing. If S3 doesn't allow it we don't either. Closing this issue as out of scope.

[2019-02-06 00:39] #7194 closed, assigned to nobody

[2019-02-06 00:40] harshavardhana commented on #7180
checking back @adelmonora to see if you were able to capture the `mc admin` profile output?

[2019-02-06 00:42] harshavardhana commented on #7064
@divanikus how are things going?

[2019-02-06 00:43] harshavardhana commented on #7064
Please open a new issue @Bkamau

[2019-02-06 00:43] harshavardhana commented on #7092
are you working on this already @vadmeste ?

[2019-02-06 00:44] harshavardhana commented on #6995
@Praveenrajmani are you still working on this?

[2019-02-06 00:47] harshavardhana commented on #6973
This is fixed in master and can be closed..

[2019-02-06 00:51] harshavardhana commented on #6821
how do you propose we do this @vadmeste ?

[2019-02-06 00:54] harshavardhana commented on #6566
We don't need to comply as it is never an expected scenario to work in the real world, there are no popular applications which actually need this to work.

A custom error here is a better solution.

[2019-02-06 00:57] kannappanr commented on #6973
closing this issue as corresponding PR has been reviewed and merged

[2019-02-06 00:57] #6973 closed, assigned to aead

[2019-02-06 01:37] kannappanr commented on #7195
@MarcinAman
[code]
As far as S3 is concerned, there is no concept of updating the old one, it is always a variation of PUT object call. If you want to upload a new file to update an existing object on minio, the old data on all the nodes get overwritten.

[code]
We would advise having a limited amount of buckets. You can have lots of files with shared prefixes.

[code]

You cannot dynamically scal

[2019-02-06 01:40] Vynce commented on #7194
@kannappanr, that's unfortunate, but thanks for the useful link!

[2019-02-06 03:28] kirankanth commented on #6904
Please ping me when you are online. I am available now.

[2019-02-06 03:44] krisis commented on #6904
@kirankanth I am online on slack #general channel. I don't see your username still. Could you ping me instead?

[2019-02-06 03:50] kirankanth commented on #6904
I just pinged you, if not please see if you can try "Kiran M"

[2019-02-06 08:45] nitisht commented on #7195
closing as answered @MarcinAman . Do join us on slack (https://slack.minio.io) for more questions like this.

[2019-02-06 08:45] #7195 closed, assigned to nobody

[2019-02-06 08:45] nitisht commented on #7196
closing as answered @yateam  . Do join us on slack (https://slack.minio.io) for more questions like this.

[2019-02-06 08:45] #7196 closed, assigned to nobody

[2019-02-06 09:10] krishnasrinivas commented on #7153
@stopher2 I am finding it hard to understand the issue here.

Can you post your java code here?

What are you trying to do? Are you trying to upload an object?

[2019-02-06 09:22] schmitch opened #7200 "Nexus & Minio Status Code: 501; Error Code: NotImplemented"
Hello, I'm trying to use minio as a backend for Nexus,  however I always get the following exception in nexus:

[code]

What's really curious is the minio HTTP TRACE it never returns a 501.

I actually use minio in NAS gateway mode.
I also have the http trace attached, as a txt file, here:

[2019-02-06 09:23] harshavardhana commented on #7200
We don't support Object tagging https://docs.minio.io/docs/minio-server-limits-per-tenant.html @schmitch

[2019-02-06 09:24] #7200 closed, assigned to nobody

[2019-02-06 09:24] schmitch commented on #7200
Oh ok. Thanks.

[2019-02-06 14:45] challarao opened #7201 "Complete Multipart fails with GCS backend for large files (~10GB) -- the number of source components provided (64) exceeds the maximum (32), invalid"
I'm trying to upload a file of 10GB with multipart upload to a minio backed by GCS gateway and seeing this error in MINIO_HTTP_TRACE:

I'm not sure if I need to infer this as number of total parts. But for 10GB, numparts is 10GB/5MB = 2048. So, it's not that.

## Expected Behavior
Upload Should be completed successfully.

## Current Behavior
1. #CompleteMultipartUpload call fails with an error giv

[2019-02-06 15:09] nitisht commented on #7201
we’ll take a look @challarao

[2019-02-06 16:41] stopher2 commented on #7153
yes.  but i get a 403 error when attempting a simple http POST without
authentication.

i've set the server to allow anonymous "blank" but it still fails.  perhaps
it's my uri or header....which shouldn't be checking for authentication.

using nifi client postHTTP.   have tried s3PUT as well, but same problem.

On Wed, Feb 6, 2019 at 4:10 AM Krishna Srinivas <notifications@github.com>
wrote:

[2019-02-06 23:15] kannappanr commented on #7182
@funkypenguin Did you get a chance to try out the suggestion from @eco-minio ?

[2019-02-06 23:24] funkypenguin commented on #7182
Hey @kannappanr, goofys _must_ be adding the authorization header, since if I specify invalid credentials in ~/.aws/credentials, the entire mount request fails. As it stands, the R/O mount works perfectly in goofys, aside from the 403 in debug mode.

The issue seems to be more that the 403 is breaking _other_ S3-based mounting tools, and goofys is somehow immune. (I guess, goofys doesn't _care_ th

[2019-02-07 00:58] #6872 closed, assigned to poornas

[2019-02-07 01:34] harshavardhana commented on #5511
Do we already do this?

[2019-02-07 01:37] harshavardhana commented on #5427
We are not planning to do this anymore closing.

[2019-02-07 01:37] #5427 closed, assigned to krishnasrinivas

[2019-02-07 01:38] harshavardhana commented on #6438
Closing this as per comment https://github.com/minio/minio/issues/6438#issuecomment-422858664

[2019-02-07 01:38] #6438 closed, assigned to nobody

[2019-02-07 01:39] harshavardhana commented on #6392
are we going to update the library ?

[2019-02-07 01:40] harshavardhana commented on #6338
Closing this as fixed for now, can re-open if seen again.

[2019-02-07 01:40] #6338 closed, assigned to harshavardhana

[2019-02-07 01:42] harshavardhana commented on #6318
We have moved to HTTP rest client style since some releases now, there are no active connections kept other than HTTP transports keep alive conns in connection pooling. We have much less state in a running process and everything is streams based.

Closing this as fixed for now please test again and let us know @tommyhaas1 @CAFxX

[2019-02-07 01:42] #6318 closed, assigned to balamurugana

[2019-02-07 01:43] harshavardhana commented on #6286
All pending items have been fixed by @donatello and @balamurugana - closing.

[2019-02-07 01:43] #6286 closed, assigned to balamurugana

[2019-02-07 01:46] harshavardhana commented on #6132
Is this still an issue @eco-minio @kannappanr ?

[2019-02-07 01:47] harshavardhana commented on #6036
Closing this as an unresponsive/stale issue..

[2019-02-07 01:47] #6036 closed, assigned to donatello

[2019-02-07 01:51] harshavardhana commented on #6219
@atrauzzi we will close this issue as working from our end, feel free to re-open that's not the case.

[2019-02-07 01:51] #6219 closed, assigned to aarushiarya

[2019-02-07 01:54] harshavardhana commented on #6630
@poornas are we doing this?

[2019-02-07 01:56] harshavardhana commented on #5937
https://github.com/minio/minio/issues/6570 this is another variant of the same issue.

[2019-02-07 01:57] harshavardhana commented on #6554
This issue is fixed with etcd timeouts closing.

[2019-02-07 01:57] #6554 closed, assigned to sinhaashish

[2019-02-07 01:58] harshavardhana commented on #7034
XMinioServerTimedOut is when you are trying to take WriteLock on an existing ReadLock or another WriteLock on the same resource. This usually points to a bug in your application.

Closing this issue as answered...

[2019-02-07 01:58] #7034 closed, assigned to nobody

[2019-02-07 02:00] harshavardhana commented on #7002
Closing this may be implemented in the future..

[2019-02-07 02:00] #7002 closed, assigned to nobody

[2019-02-07 02:04] harshavardhana commented on #5026
Closing this issue as not a priority at the moment, due to how the erasure coding was changed with streaming bitrot the effort to do a simple assemblage of erasured parts is not possible anymore.

[2019-02-07 02:04] #5026 closed, assigned to krisis

[2019-02-07 02:06] harshavardhana commented on #6279
Assuming this is already done, closing. Feel free to open if not done yet.

[2019-02-07 02:06] #6279 closed, assigned to poornas

[2019-02-07 02:08] harshavardhana commented on #6916
We have decided to not implement caching in this manner when federation is involved, caching implementation is currently behaving correctly under federation.

[2019-02-07 02:08] #6916 closed, assigned to poornas

[2019-02-07 02:10] harshavardhana commented on #6548
Closing this as an upstream issue and not Minio. Feel free to follow up upstream.

[2019-02-07 02:10] #6548 closed, assigned to nobody

[2019-02-07 02:34] #7141 closed, assigned to donatello

[2019-02-07 13:52] atrauzzi commented on #6219
I think we're good, thank you for sniffing this one out for me, greatly appreciated! 😄

[2019-02-07 22:17] kannappanr commented on #7182
@funkypenguin With your policy, the user created has access to `ListMultipartUploadParts` I was able to verify it using `aws-sdk-go` sdk.

Also, as suggested by @eco-minio, adding the flag, `--profile default` adds the authorization header. Without that, it is not adding the authorization header.

Please try `./goofys --f --profile default -debug_s3 --debug_fuse --endpoint=http://localhost:9000 me

[2019-02-07 22:48] bicquet commented on #5742
fwiw, here's a workaround to waiting on any minio PRs, where i ended up extending the dockerfile and regularly rebuilding it through our ci. it's been working fine (as a stopgap?) for us.

https://gist.github.com/justbk/384f41766b787afda84d623c95f4ba10

extending the minio dockerfile in this way allows/maintains non-root user host system file ownership of everything passed through the s3 api

when

[2019-02-07 22:53] eco-minio commented on #6132
@harshavardhana I originally had issues using the go script to generate the certificates, it worked when I tested just now.  Also tested on Windows awhile back, it seems to be working from my side.

[2019-02-07 22:57] harshavardhana commented on #6132
Then we should close this issue @kannappanr

[2019-02-07 23:25] kannappanr commented on #6132
closing based on above comments

[2019-02-07 23:25] #6132 closed, assigned to eco-minio

[2019-02-08 01:42] shanebarnes opened #7206 "Multipart Upload Throughput Approaches Zero For Large Files"
For large file (i.e., > 5GB) multipart uploads, it seems that as the upload progresses, the overall application throughput decays exponentially. This performance degradation is most noticeable for a large number of parts (i.e., > 500 parts).

<img width="914" alt="image" src="https://user-images.githubusercontent.com/7718600/52454082-35015500-2b18-11e9-80d9-78ceedf3d52c.png">

## Expected Behavior

[2019-02-08 05:57] nitisht commented on #7206
thanks for reporting @shanebarnes we'll take a look

[2019-02-08 05:58] alexgurr opened #7209 "Pre-signed urls are generated with virtual domains locally"
When running Minio locally and using S3's sign urls call, Minio returns invalid URLs in the format:

https://BUCKET.localhost:9000/KEY?AWSAccessKeyId=accesskey&Expires=1549605699&Signature=%2FVkKRmgQMMu40WrkOsaDyx1Fp%2B8%3D

You can't have sub domains/virtual hosts on localhost and by default Minio is running on http.

The docs say the default is paths:

[code]

## Expected Behavior

Should genera

[2019-02-08 06:03] nitisht commented on #7209
@alexgurr do you have `MINIO_DOMAIN` or any other Minio specific env vars set before starting minio? Can you paste the output of `env` command?

Also, please provide a code snippet to help us reproduce the issue

[2019-02-08 06:05] alexgurr commented on #7209
I'm starting the server with:

[code]

No MINIO specific env vars set.

My code is extremely simple:

[code]

where bucket is one I've previously created through the web client and key is some string.

[2019-02-08 06:05] nitisht commented on #7180
Closing this due to no response @adelmonora , feel free to reopen when you have the requested info

[2019-02-08 06:05] #7180 closed, assigned to nobody

[2019-02-08 17:23] harshavardhana commented on #7209
You are missing following param in your constructor it's mentioned here https://docs.minio.io/docs/how-to-use-aws-sdk-for-javascript-with-minio-server.html

[code]

[2019-02-08 21:39] harshavardhana commented on #7206
// cc @krishnasrinivas

[2019-02-08 21:49] krishnasrinivas commented on #7206
only way to fix it is to have env flag which switches to pwrite() instead of background append. We need to discuss if it should be done. So users can choose full S3 compatibility Vs performance.

[2019-02-08 22:14] kannappanr commented on #7206
@shanebarnes You can also start minio in `local erasure coded` mode instead of `fs` mode.

`minio server /data1 /data2 /data3 /data4`

[2019-02-09 00:18] #6310 closed, assigned to ebozduman

[2019-02-09 12:36] kannappanr commented on #7209
@alexgurr closing this issue now. Please feel free to reopen the issue if the suggestion not work for you.

[2019-02-09 12:36] #7209 closed, assigned to sinhaashish

[2019-02-09 13:22] shanebarnes commented on #7206
@kannappanr I am restricted to a single drive in my use of minio.

[2019-02-09 15:52] kannappanr commented on #7206
@shanebarnes You can still use a single drive but use four folders on a single drive.

`minio server /disk1/folder1 /disk1/folder2 /disk3/folder3 /disk4/folder4`

[2019-02-09 17:59] shanebarnes commented on #7206
@kannappanr I do need the object parts re-assembled into a single file once the upload is complete so I think I still need `fs` mode. Also, I tried `local erasure coded` mode with 4 directories and it did help but the decaying behavior was still present.

[2019-02-09 19:15] harshavardhana commented on #7206
How did try erasure coding , do you have multiple disks locally ?

[2019-02-09 19:36] kannappanr commented on #7206
@harshavardhana He has only one disk.

[2019-02-09 20:31] harshavardhana commented on #7206
Then trying erasure coding won't help. You need multiple disks.

The skewed number is expected for FS if you use Multipart. You need to upload a longer stream - we support a single stream upto 5TiB so if you do PUT without multipart upload we will avoid background append, this will avoid double writes.

On an NVMe like disk this is not a problem, but especially if you're using ebs volumes not sure

[2019-02-09 21:14] shanebarnes commented on #7206
@harshavardhana The multipart upload is more of a necessity when I upload over LFNs. Would you expect the exponentially decaying upload rate with FS multipart to be eliminated if I replaced the background append with [os.WriteAt()/pwrite()](https://golang.org/pkg/os/#File.WriteAt)? I am just trying to figure out if I can overcome the problem if I make the changes to my local copy of the source.

[2019-02-09 23:40] harshavardhana commented on #7206
Background append cannot do pwrite because Multipart upload allows part in any order and can be varying in size i.e each part has its own size.

Unless we can strictly disallow varying part sizes and also disallow unordered uploads it's possible. But this means an S3 incompatible implementation.. our current approach full fills all the needs under best case scenarios. So if you are uploading 200Gi

[2019-02-10 00:39] shanebarnes commented on #7206
The degradation I plotted above is only with a single connection with no latency, so I don't think the parts are arriving out-of-order. I can eliminate the EBS volume and try something else. The EBS volume has a 128MB/sec write limit and I would be happy with an average upload rate of 64MB/sec or less (given the double write) as long as it is more or less constant. But the upload rate decays as th

[2019-02-10 03:14] harshavardhana commented on #7206
With this demonstration, we need access to the code or tool to replicate it... One potential problem which I didn't state before is that background append doesn't directly take the call for a multipart request. It is further appended after the multipart is successfully saved on the backend. So it means there is basically a double write. Meaning there is a write-in-progress to create a single conti

[2019-02-10 05:44] shanebarnes commented on #7206
Here are some more details on my setup. I am currently testing with two EC2 instances in the same data center. I have also reproduced this behavior on my MacBook Pro with a SSD in the past but I am currently running low on available disk space.

__Tools__
* `AWS CLI `: aws-cli/1.15.80 Python/2.7.14 Linux/4.14.88-88.76.amzn2.x86_64 botocore/1.10.79 (pre-installed)
* `Client Machine`: t2.2xlarge + 5

[2019-02-10 07:52] harshavardhana commented on #7206
AWS CLI chunks 5MiB per part and ends up uploading in parallel, and it is unordered. You can clearly observe this with --debug so no wonder you would see the degradation as you increase the file size. This is what I was indicating previously.

That is why mc splits at 64MiB by default and chooses optimal size automatically based on the file size.

In a way you are simply hitting the limitation of

[2019-02-10 14:25] siamackSeifi commented on #7173
Tnx @harshavardhana for the reply.
I checked `cmd/api-router.go`  as I said before.
I appended new domains to the routers like this:
[code]
and next in `for _, bucket := range routers {` loop handlers are getting assigned to routers
but even after that, I still get method not allowed.
So I thought there must be another piece of code to handle that other than this.

[2019-02-10 18:06] shanebarnes commented on #7206
I don't think the AWS CLI is uploading parts in parallel when configured for a request concurrency of 1 (see `max_concurrent_requests = 1` which I posted above), which is how I configured it. I have also increased the AWS CLI part size to 50MB and see similar behavior, although it takes longer to manifest itself. I have also tried this with my own client written using the Go AWS SDK and I have obs

[2019-02-10 20:03] harshavardhana commented on #7206
In our experience bigger part size is not a problem for S3 either. Even a retry is not a problem with 64MiB part size with modern networks. I can understand if the part size is like 1G it can become a problem which is not needed.  You can go upto 525MiB per part and upload a 5TiB file.

It is correct there is a balance too, now if the number parts increase which are uploaded quickly i.e the upload

[2019-02-11 13:36] #6392 closed, assigned to nitisht

[2019-02-11 15:22] stopher2 commented on #7153
i'd like to do it  in java, but this client uses
curl -X POST http://xyz.com:80
to minio and minio complains 403 authentication.    i recognize it needs secret/access codes; but can't i add them as a header ?  How would i do this and the hashing of the access code for that curl ?

[2019-02-11 17:12] emadghav opened #7221 "minio distributed file store mode"
hi
in distributed mode i using 4 node ,when i upload a file ,Divided to 2 part and save 2 instance on 4 node for example part 1 on node 1 ,part 2 on node 2 ,part 1 on node 3 and part 2 on node 4 but i dont need to save 2 instance because i using raid.
can i change it ?
for example dont save 2 instance of a file ,just save 1 instance that divided 4 parts or save files in 1 node (file 1 on node 1 .

[2019-02-11 17:13] jperville opened #7222 "Health endpoints non responsive while minio is writing to disk on slow backend"
## Expected Behavior

Curling health endpoints (eg. `/minio/health/live`) should not block when minio is writing data to a slow disk backend.

## Current Behavior

Curling health endpoints (eg. `/minio/health/live`) block when minio is writing data to a slow disk backend.

## Possible Solution

After receiving a chunk of data, minio probably blocks until the received data is persisted to disk.
A w

[2019-02-11 17:31] harshavardhana commented on #7221
Yes it is impossible .. you can modify the code yourself to make static. Choice of part.1 to node1 or nodeN is automatic.

[2019-02-11 17:39] harshavardhana commented on #7222
Liveness checks will fail if the backend is down or completely slow to respond, it is better to turn it off if you are not interested.

[2019-02-11 18:52] #7221 closed, assigned to nobody

[2019-02-11 18:54] harshavardhana commented on #7064
@divanikus going to close this based on your last comment here https://github.com/minio/minio/issues/7064#issuecomment-459700265 - feel free to reopen if seen again.

[2019-02-11 18:54] #7064 closed, assigned to harshavardhana

[2019-02-11 19:59] icholy opened #7226 "Share button icon is not intuitive"
## Expected Behavior
The share button's icon should communicate it's purpose.

## Current Behavior
The icon looks like a "copy" icon.

## Possible Solution
Something like this https://fontawesome.com/icons/link?style=solid

## Context
The share functionality was hard to find (I ended up asking on slack). I assumed the share button duplicated the object.

## Your Environment
* Version used: RELEASE

[2019-02-11 21:20] divanikus commented on #7064
Ok, it works by now. But still not much data loaded yet. I'll reopen if it breaks the same way.

[2019-02-11 23:13] kannappanr commented on #7182
@funkypenguin Closing this as answered. Please feel to re-open if the suggestion does not work for you.

[2019-02-11 23:13] #7182 closed, assigned to eco-minio

[2019-02-12 01:25] alexgurr commented on #7209
@kannappanr can you please reopen this?

@harshavardhana

URLs are now being generated in the correct format, but still with **https**:// which isn't working with localhost. How can I turn off https signed urls?

According to this article (https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls) you have to enable TLS manually. So why are pre-signed URLs generated with https even

[2019-02-12 07:40] emadghav opened #7228 "minio distributed"
hi
i have 4 node that each node have 1 TB hard ,i run minio in distributed mode when i create a bucket and put object ,minio create 4 instance of file , i want save 2 TB data on minio although i have 4 TB hard i cant save them because minio save 4 instance of files.
how reduce this redundancy ? and just save 1 instance of files?

[2019-02-12 09:37] kannappanr commented on #7226
@icholy Thanks for filing this issue. We will take a look at it.

[2019-02-12 09:45] kannappanr commented on #7228
@emadghav Currently, there will be some amount of redundancy in the case of erasure coded setup. By default it is half. One thing you can do is to reduce the amount of redundancy.  Please take a look at https://github.com/minio/minio/tree/master/docs/erasure/storage-class for further information.

[2019-02-12 09:56] olevitt opened #7231 "CORS : Access-Control-Max-Age is not set"
Hi,
I'm using minio and allow my users to upload files within a JS webapp.
When I upload big files, it's sent in chunks using filename?partNumber=x&uploadId=x endpoint.
The webapp is on a separate domain so it's using CORS.
I'm wondering why minio is not replying with a Access-Control-Max-Age header.
Is that intended ? Is there a reason not to ? It would avoid a lot of preflight requests.

I check

[2019-02-12 11:34] emadghav commented on #7228
ok
and how add new node to cluster ?

[2019-02-12 11:42] nitisht commented on #7228
By design Minio clusters dont allow adding new nodes to existing cluster, to scale / add storage capacity simply create a new Minio cluster and if needed combine different clusters into a single namespace using Minio federation [https://docs.minio.io/docs/minio-federation-quickstart-guide.html]

[2019-02-12 11:42] nitisht commented on #7228
closing the issue as answered @emadghav . Feel free to join us on Slack for more such questions [https://slack.minio.io]

[2019-02-12 11:42] #7228 closed, assigned to nobody

[2019-02-12 11:44] nitisht commented on #7231
Thanks for reporting @olevitt we'll take a look

[2019-02-12 19:44] deekoder commented on #7226
Agreed @icholy. We can change it to https://fontawesome.com/icons/share-alt?style=solid.  I will discuss here and we will PR for it.

[2019-02-12 20:42] vadmeste opened #7236 "When auto-encryption is enabled, mc mirror --w doesn't work properly"
## Expected Behavior
`mc mirror -w` should work properly when auto-encryption is enabled.

## Current Behavior
`mc mirror -w` fails with the following error:

[code]

## Possible Solution
Most likely the object size reported in event notification is incorrect and should be fixed.

## Steps to Reproduce (for bugs)
Terminal 1:
`$   MINIO_SSE_AUTO_ENCRYPTION=on minio server /tmp/fs`

Terminal 2:
1. `

[2019-02-12 21:04] icholy commented on #7226
I just checked and google drive uses https://fontawesome.com/icons/user-plus?style=light

[2019-02-13 05:38] petacube opened #7237 "ssl protocol error"
environment local laptop running macos latest version

steps
brew install minio

minio server /tmp/minio_data
Endpoint:  http://<ip>:9000  http://127.0.0.1:9000
AccessKey: XXX
SecretKey: YYY

Browser Access:
   http://<ip>:9000  http://127.0.0.1:9000

access via browser works, although complaints ssl cert is invalid. expected.

python 3.6 anaconda version.

pip install minio

install no problem.

[2019-02-13 05:40] nitisht commented on #7237
@petacube based on the steps you've provided looks like TLS is not configured at all. To configure TLS with Minio pls refer https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls.html

[2019-02-13 05:43] kannappanr commented on #7237
@petacube If you do not want `TLS`, then you can set `secure=False` in `minio-py`.

[2019-02-13 05:45] petacube commented on #7237
got it
thank you both

i had been following examples here https://docs.minio.io/docs/minio-quickstart-guide.html <https://docs.minio.io/docs/minio-quickstart-guide.html> and i did not link TLS config with secure=True in python api.

Secure=False works.
pls close the issue

[2019-02-13 05:45] nitisht commented on #7237
Thanks @petacube

[2019-02-13 05:45] #7237 closed, assigned to nobody

[2019-02-13 10:25] diddiman-zz opened #7238 "CopyObject with metadata replace will override ContentType"
## Expected Behavior

When doing a CopyObject, like this:
[code]
the content-type from the source object should not be copied, instead it should mirror aws behavior and default to binary/octet-stream, as long as a new content-type is not passed

## Current Behavior
As it works now, minio will copy the content-type from the source object, and i would expect same behavior as going straight to amazon

[2019-02-13 12:09] vtolstov opened #7239 "reuse minio package to create s3 proxy"
Does it possibe to reuse some parts of minio to create s3 proxy package? I want to hook download and upload, and provide own implementation.

[2019-02-13 13:07] nitisht commented on #7238
Thanks for reporting, we'll take a look @diddiman

[2019-02-13 13:09] nitisht commented on #7239
you can probably take a look at implementation here https://github.com/minio/minio/tree/master/cmd/gateway @vtolstov

[2019-02-13 13:11] nitisht commented on #7222
closing this as working as intended @jperville , do feel free to get back if you think otherwise..

[2019-02-13 13:11] #7222 closed, assigned to nobody

[2019-02-13 13:57] nazarred opened #7240 "s3.copy raises error NoSuchKey but s3.get_objects works with the same key"
Hi all! I'm trying to change metadata, namely 'ContentDisposition'. This is my script:
[code]
It's works perfect when I use `this_key_works` but when I try to change metadata for `this_key_doesnt_work` I recieved error:
`botocore.errorfactory.NoSuchKey: An error occurred (NoSuchKey) when calling the CopyObject operation: The specified key does not exist.`
However this key exists because I received

[2019-02-13 14:40] nitisht commented on #7240
Thanks @nazarred we'll try this and get back to you

[2019-02-13 17:16] Praveenrajmani commented on #7240
Hi @nazarred ,

This worked fine for me.

The steps i did were

- Uploaded a large file to the key you provided.

- `mc stat myminio/blahblah/projects/95cdf19e-dc63-4f73-948d-bd117a84fbd9/artifact/ab00b39b-8e19-4fad-a47b-65afaa678da6/data_files/bca04fca-29c3-4568-8062-21ff146d43b9.HCN` gave me

![image](https://user-images.githubusercontent.com/5410427/52729987-5498f180-2fe0-11e9-8a39-56aee86a54ee

[2019-02-13 17:51] mrceresa commented on #6853
Dear all,
we've a similar problem with minio on kubernetes behind an ingress:
* The minio server works perfectly on the internal cluster (i.e. from pods)
* Our ingress defines /minio as the location (i.e. example.com/minio)
* We cannot use the presigned urls because the server generates the url relative to /, not /minio (i.e. example.com/bucketname/ instead of example.com/**minio**/bucketname/) so

[2019-02-13 18:48] nazarred commented on #7240
Thanks @Praveenrajmani !
Looks like you did all proper. But I'm not surprised that you can't reproduce this error. I'll try to give more explanations.

We use Minio more than one year. A few days ago when we try to download some old files we saw that some files have strange names like `bca04fca-29c3-4568-8062-21ff146d43b9.HCN` instead `fine_name.HCN`.
When I called S3.get_object() for this file I

[2019-02-13 18:57] nazarred commented on #7240
BTW this my outputs of `mc stat`
![image](https://user-images.githubusercontent.com/34417569/52736043-92dae480-2fd1-11e9-8819-36ef712a4ca7.png)

and for the same file if I use S3.get_object:

[code]

[2019-02-13 19:05] kannappanr commented on #7240
@nazarred What is your minio setup? Is it Distributed? If you do not have enough `WriteQuorum`, but enough `ReadQuorum`, this might happen.

[2019-02-13 21:11] harshavardhana opened #7242 "Support Avro and ORC with SELECT API"
** not using the template on purpose **

https://github.com/linkedin/goavro to support AVRO files format with SELECT API

https://github.com/scritchley/orc to support ORC files format with Select API

[2019-02-13 23:02] kannappanr commented on #7240
@nazarred Can you try copying this file into some other object name say `A` and then copy it back to this name again? You can delete the object `A` then.

[2019-02-14 00:39] ebozduman commented on #6979
@theerebuss ,
One more question and a suggestion :
What version of NSSM were you running?

There is the following explanation at nssm web site [download](https://nssm.cc/download) page:
[code]

Since you have Windows 10, could you please give it a try to nssm `prelease build 2.2.4-101` if you haven't already tried it out?
You can also try setting `AppNoConsole=1 in the registry`.

[2019-02-14 05:30] Praveenrajmani commented on #7240
@nazarred Did you try kannappan's suggestion ?

[2019-02-14 10:12] nazarred commented on #7240
@kannappanr @Praveenrajmani  Your solution works for me!!! Thank you very much!!!

[2019-02-14 14:49] kannappanr commented on #7240
@nazarred You should definitely heal your `minio` setup.  Closing this issue as answered. Please feel free to reach out to us if you have more questions.

[2019-02-14 14:49] #7240 closed, assigned to Praveenrajmani

[2019-02-15 01:53] #6704 closed, assigned to harshavardhana

[2019-02-15 03:21] 18810630600 opened #7247 "minio单点部署如何升级为分布式部署"
之前的minio一直是单点部署的，里面存储了大量的数据，现在计划将其升级为分布式部署，如何实现，同时保证历史数据不会丢失

[2019-02-15 04:30] kannappanr commented on #7247
Here is what Google Translate said
[code]

[2019-02-15 04:31] kannappanr commented on #7247
You will have to deploy another `minio` and mirror from `old minio` to the new one using `mc`

[2019-02-15 04:32] kannappanr commented on #7247
You cannot upgrade from single node minio deployment (fs) to distributed.

[2019-02-15 09:59] w-A-L-L-e commented on #6546
Thx for the tip xie-qianyue!
Indeed adding the proxy_set_header Host $http_host fixes it!

[2019-02-17 03:19] Musti70 commented on #4852
how can I remove minio.exe from my pc please

[2019-02-17 06:52] nitisht commented on #4852
you can simply delete the `minio.exe` file @Musti70 , also if you want to delete the config directory, find the `.minio` directory in user's home directory and delete that..

[2019-02-17 11:45] harshavardhana commented on #4852
@Musti70 navigate to where you installed your binaries - `del minio.exe` and `del mc.exe` from cmd prompt

[2019-02-17 12:49] Musti70 commented on #4852
Thank you guys for the prompt response. I downloaded minio.exe from https://dl.minio.io/server/minio/release/windows-amd64/minio.exe and I opened it .  I deleted it from the download folder but I don't see it in my home directory (I'm in windows 10).

[2019-02-18 01:55] xie-qianyue commented on #6546
@w-A-L-L-e not at all, minio use the host(including the port) to generate the signature, so need to reset the "Host" header.

[2019-02-18 02:27] mthiyagarajanveritone commented on #5139
Thanks to minio team for all their great work.. When i searched for setting TTL at a bucket level i stumbled upon this issue. Whether lifecycle policies has been implemented for minio buckets?

[2019-02-18 12:37] uzsolt opened #7252 "Sort files and directories in listing"
It would be nice ability to choice the sorting order. For example sort by name increaising/decreasing, sort by time, etc. Would better when can set in command line or configuration file.

Thanks for your work!

[2019-02-18 13:44] harshavardhana commented on #7252
Lexical ordering is AWS S3 standard we cannot change that for compatibility reasons.

[2019-02-18 17:24] uzsolt commented on #7252
Oh, sad :( And can't change only on the web interface?

[2019-02-18 18:10] harshavardhana commented on #7252
Yes Web interface is ours and it's done on the client side.. we can't change the fact of S3 API behavior here.

[2019-02-18 18:13] uzsolt commented on #7252
Bad news. So I think should close this issue :(

[2019-02-18 18:13] #7252 closed, assigned to nobody

[2019-02-18 21:35] kannappanr commented on #7247
@18810630600 Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2019-02-18 21:35] #7247 closed, assigned to nobody

[2019-02-19 08:44] #7236 closed, assigned to poornas

[2019-02-19 10:22] Hanrahank opened #7254 "Sending Minio Logs to Kibana"
I've been trying to find ways of pushing logs from Minio through ELK stack to be viewed in Kibana. Does anyone know if there is a way of this to be done in Kubernetes?

I've been looking at possibly creating a snapshot in elasticsearch with https://github.com/minio/cookbook/blob/master/docs/elasticsearch-snapshots-on-minio.md

[2019-02-19 14:22] nitisht commented on #7239
@vtolstov closing this as answered, feel free to reopen or join us on Slack [https://slack.minio.io] for more such questions

[2019-02-19 14:22] #7239 closed, assigned to nobody

[2019-02-19 15:04] EvgenyKislyy opened #7255 "Is there any way to continue multipart upload of a large file? (after pause or loosing the connection)"
Is there any way to continue multipart upload of a large file? (after pause or loosing the connection)
I saw it on version 3.0.7 of a java-client, and on a documentation
Now I cannot see anything like this.
Was this feature removed?
Any alternatives maybe?

[2019-02-19 15:10] nitisht commented on #7255
This is a planned approach @EvgenyKislyy here is the logic behind this change: https://github.com/minio/minio-java/pull/741

[2019-02-19 16:37] EvgenyKislyy commented on #7255
@nitisht what is the current alternative if I want to upload a large file, and I cannot be sure it will happen without any fails for the first time?

And I want to have an ability to resume :) for faster uploading

[2019-02-19 16:48] harshavardhana commented on #7255
There are no alternatives, S3 API was never meant for resumable uploads. You can write a custom client if you still wish to, but there are known holes in the approach and it will never be full proof implementation.

[2019-02-19 16:56] EvgenyKislyy commented on #7255
Really? But how about this?
https://docs.aws.amazon.com/AmazonS3/latest/dev/uploadobjusingmpu.html

[2019-02-19 17:23] stopher2 commented on #7153
ideally would like have to POST to minio with access, secret in URL....a good alternative is to hash the secret and put that into the curl POST header.

[2019-02-19 17:33] harshavardhana commented on #7255
Yep even Multipart API is not designed, we did get this clarified from AWS team - if you can write a custom client it is possible where you tightly control the behavior. But an SDK should never have such a feature.

This is true with even all AWS SDKs

[2019-02-20 10:09] nitisht commented on #7255
Closing this as answered @EvgenyKislyy feel free to reach out on Slack for more questions

[2019-02-20 10:09] #7255 closed, assigned to nobody

[2019-02-20 16:12] #6974 closed, assigned to nitisht

[2019-02-20 16:27] vadmeste opened #7260 "list objects: Encoding type set to url is not honored"
## Expected Behavior
When listing objects is configured with encoding type set to "url", I expect that object names in listing response should be url encoded

## Current Behavior
Object names are not url encoded

## Possible Solution
Add encoding type feature

## Steps to Reproduce (for bugs)
Compare the behavior of the following code between Minio and AWS S3, after creating a bucket and uploading

[2019-02-20 16:35] harshavardhana commented on #7260
Yep it's an old feature requirement which we never implemented. Is this related to XML parsing issue ?

[2019-02-20 16:52] vadmeste commented on #7260
No, this is *probably* related to a crash in Vertica software, I compared Minio & AWS output and found this.

[2019-02-20 16:53] harshavardhana commented on #7260
Perhaps the parsing again, but Vertica shouldn't crash. AWS CLI also sends encoding-type as URL and never had any problems.

[2019-02-20 16:54] vadmeste commented on #7260
Yes, but probably Vertica logic is expecting something to have for sure as output and crash when it doesn't find it.

[2019-02-20 18:14] stokowski opened #7261 "Degraded read performance in distributed mode"
Minio running in distributed mode has degraded read performance compared to standalone server or even distributed setup with offline disks/nodes.

## Expected Behavior
In distributed mode we should have more redundancy, syncing between nodes. Also reads should be faster if minio is able to read objects in parallel from many nodes/disks.

## Current Behavior
Read performance (listing objects for ex

[2019-02-20 18:33] EvgenyKislyy commented on #7255
Sorry, and what will happen if I just will take a SDK version with this feature (continue multipart upliadings) included (the old one) and will use it? @harshavardhana

[2019-02-20 19:10] oncipriani opened #7262 "Minio gateway nas stuck in FUTEX_WAIT_PRIVATE"
When starting Minio as a NAS gateway over GlusterFS, a FUTEX_WAIT_PRIVATE system call never returns.

The problem does not happen when using a local filesystem, neither over NFS.

## Expected Behavior
Minio should work over GlusterFS.

## Current Behavior
Minio never finishes starting. It gets stuck in a FUTEX_WAIT_PRIVATE system call. Here is the output of `env MINIO_ACCESS_KEY=admin MINIO_SECRET

[2019-02-20 19:13] harshavardhana commented on #7262
can you provide the output of `gluster volume info`? @oncipriani

[2019-02-20 23:42] harshavardhana commented on #7261
Listing is slower because of metadata lookups over the network and also sorting in memory.  Increase in CPU usage is also expected.

- How is your data laid out on the disk? do you have like a million entries at a single prefix parent with no heirarchy?
- Does your application List all the time? if yes how often and why?

Here are some interesting points

- Your network is too slow compared to you

[2019-02-20 23:45] harshavardhana commented on #7262
Please look at following settings mentioned here https://github.com/minio/minio/issues/6960#issuecomment-446874306 - NAS gateway requires filesystem locks - this may be a GlusterFS bug or you haven't enabled a GlusterFS feature.

[2019-02-20 23:55] harshavardhana commented on #6570
This is fixed in master #7229

[2019-02-20 23:55] #6570 closed, assigned to krishnasrinivas

[2019-02-20 23:58] harshavardhana commented on #6627
^^ @deekoder @kannappanr FYI

[2019-02-21 00:02] harshavardhana commented on #7092
are you planning to fix it @vadmeste ?

[2019-02-21 01:41] stokowski commented on #7261
Hi harshavardhana, thanks for reply.

No, there is a tree hierarchy, but inside folder can be several thousand other folders, where on the end will be couple hundred files.

This would be mainly a vod storage, where listing will be on demand - I would like to see what objects/video assets I have and play. Also random access to objects when I would like to play. Read performance is more important t

[2019-02-21 08:18] nitisht commented on #7254
@Hanrahank as discussed on Slack, Logstash input plugin that can fetch data from S3 / compatible services and push that to Logstash https://www.elastic.co/guide/en/logstash/current/plugins-inputs-s3.html should work in this case..

Can you please confirm?

[2019-02-21 08:41] harshavardhana commented on #7255
You are simply exposing yourself to implementation with holes and potential unexpected issues, feel free to use it - but if you have a concurrent uploads to same object in multipart then the behavior is undefined and going to be inconsistent.

We will never recommend such endeavors.

[2019-02-21 10:41] emadghav opened #7264 "minio hardware usage"
i using a minio cluster with 4 server and 8 disk and 1m file that have size 30kb_200kb  when i start minio after 5 minute increase memory and cpu usage after a minute reduce speed and afte 3 or 4 minio crash

[2019-02-21 10:45] nitisht commented on #7264
@emadghav please use the issue template to report the issue - otherwise it is just redundant to ask for the details that are already mentioned in the issue template.

Please provide minio version, your hardware specifications and also `mc admin monitor myminio` output

[2019-02-21 11:55] emadghav commented on #7264
i using windows server 2016 ,1tb ssd hard(7200) ,12 processor intel xenon 2.2gh ,32GB memory and 1GB network that this server hosted on hp G9 server

Version: 2019-02-20T22:44:29Z
Release-Tag: RELEASE.2019-02-20T22-44-29Z
Commit-ID: 6dd26b82317c543b3c59fb85b02204547340e8ca

when start minio
●  192.168.16.21:9001

   CPU        min        avg      max
   current    0.00%      0.00%    0.00%
   hist

[2019-02-21 12:18] emadghav commented on #7264
after 40 minute
●  192.168.16.21:9001

   CPU        min        avg      max
   current    0.00%      0.00%    0.00%
   historic   0.00%      0.00%    0.00%

   MEM        usage
   current    12.2GiB
   historic   6.3GiB

●  192.168.16.22:9001

   CPU        min        avg      max
   current    0.00%      0.00%    0.00%
   historic   0.00%      0.00%    0.00%

   MEM        usage
   current    12

[2019-02-21 15:22] ChrisPenner opened #7266 "Minio should respond with 100 Continue when Expect: 100-continue is provided (chunked uploads)"
Issue: Minio hangs on chunked upload request when s3 doesn't.

Best guess: Minio doesn't appear to respond with the appropriate `100 Continue` after receiving the head of a chunked file upload. (with `Expect: 100-continue` set).

## Expected Behavior

Minio should send the `HTTP/1.1 100 Continue` response after receiving the headers for a file PUT request with `Expect: 100-continue` set

## Curren

[2019-02-21 15:24] harshavardhana commented on #7266
Do you have a sample code ?

[2019-02-21 15:28] ChrisPenner commented on #7266
@harshavardhana I can attempt to boil down a simple usage of the client lib; but it would still be haskell code; do you have a recommended easier way to represent these sorts of requests? I would say it's easiest to just send these requests via netcat; but it's tricky because the headers expire, etc.

If I provide haskell code/a haskell binary or perhaps a docker image which makes the request woul

[2019-02-21 15:40] harshavardhana commented on #7266
You can provide is the code. Perhaps a Haskell project with the reproducer will be good too.

We have our own Haskell implementation https://github.com/minio/minio-hs which works perfectly fine both with S3 and Minio so curious to know why it is not working.

We have in past reproduced a similar issue in boto3 python library - can you check it this the case here https://github.com/boto/botocore/pu

[2019-02-21 15:47] ChrisPenner commented on #7266
@harshavardhana Thanks for the quick responses; I'll whip up a minimal example using `amazonka` and verify that it fails on minio and works with s3; It's also possible that `amazonka` itself is the bad agent here; but regardless there seems to be *something* different between minio and s3 because the only thing I'm changing is the s3 endpoint and it succeeds on s3 😄

I'll be back with some code so

[2019-02-21 15:55] harshavardhana commented on #7266
Yeah this is something other than boto3 we have never seen with other AWS SDKs. Even in boto3 the issue is for an object with content-length of zero bytes. Which is clearly from the linked PR states why they are violating HTTP 1.1 spec.

NOTE: boto3 works fine with AWS S3 too without the fix, but that would mean that AWS S3 is allowing non compliant behavior or not being stricter with HTTP 1.1 spe

[2019-02-21 16:41] oncipriani commented on #7262
Thank you for your response, @harshavardhana.

Here is the output of `gluster --version` (latest packages from CentOS SIG, version 4.1):

[code]

Here is the output of `gluster volume info` **after** applying the settings from the *virt* group:

[code]

The `cluster.shd*` settings were not applied, since they cannot be set for a non-replicated volumes.

I stopped/started and umounted/mounted the v

[2019-02-21 17:33] harshavardhana commented on #7262
@oncipriani can you try with a replicated volume instead of `disperse` and see if you can reproduce the issue?

[2019-02-21 17:41] oncipriani commented on #7262
@harshavardhana, I think I should mention that the problem does **not** occur when using a 4 + 2 dispersed volume.

Output of `gluster volume info`:

[code]

Using the same operating system, Minio and Gluster versions as before.

[2019-02-21 17:53] oncipriani commented on #7262
The problem does **not** occur with a 3-way replicated volume.

Output of `gluster volume info`:

[code]

[2019-02-21 18:03] harshavardhana commented on #7262
Great I suspect this as a bug in GlusterFS disperse implementation @oncipriani - you may contact GlusterFS upstream for this.

[2019-02-21 18:58] oncipriani commented on #7262
Opened [Bug 1679744](https://bugzilla.redhat.com/show_bug.cgi?id=1679744).

[2019-02-21 19:03] stokowski commented on #7261
I have repeated test and checked network utilization via atop - its around 2500-5xxx Kbps,

Also nothing special on disks:

[code]

[2019-02-22 02:11] leshik commented on #4056
@harshavardhana @deekoder I'm seeing this with latest `minio` and `nginx` stable, except I'm not even using `restic`. All I do is mirroring a lot of small files (`svg` images) with `minio` client, and `minio` server is behind `nginx` proxy. The `nginx` config is from `minio` docs, nothing fancy.

[2019-02-22 02:16] harshavardhana commented on #4056
please open a new issue @leshik

[2019-02-22 02:39] leshik opened #7271 "server: mc fails to mirror over Nginx reverse proxy to Minio"
## Expected Behavior

Mirror all files completely without a GOAWAY result.

## Current Behavior

`Minio` server instance is behind the HTTPS nginx reverse proxy as per `minio` docs. I'm mirroring a lot of small files (`svg` images, `mp3` files, etc.) with `minio` client, all over LAN. Mirroring fails with HTTP/2 GOAWAY error:

[code]

Related to #4056.

## Your Environment
* Version used (`minio v

[2019-02-22 02:39] leshik commented on #4056
Done in #7271.

[2019-02-22 02:48] harshavardhana commented on #7271
can you add MINIO_HTTP_TRACE=/dev/stdout to Minio and provide the trace? @leshik

[2019-02-22 03:09] leshik commented on #7271
@harshavardhana I just realized that this might be the issue with `mc` client, as Nginx doesn's support HTTP/2 in proxy_pass, and the error obviously comes from `go/net`.

Anyway, I enabled tracing as you suggested, and also used the `--debug` flag in `mc`. Turns out, terminal output drastically slows down the mirror operation performance, thus I'm unable to reproduce it with debugging on.

What e

[2019-02-22 07:35] jbub opened #7272 "Netstat zombie processes after upgrading to RELEASE.2019-02-20T22-44-29Z"
After upgrading to RELEASE.2019-02-20T22-44-29Z im seeing `nestat` zombie processes:

[code]

## Expected Behavior

No zombie netstat processes.

## Current Behavior

I see a lot of zombie netstat processes.

## Steps to Reproduce (for bugs)

1. Run minio using docker-compose on ubuntu with release RELEASE.2019-02-20T22-44-29Z.

## Regression

Probably related to https://github.com/minio/minio/pul

[2019-02-22 07:37] nitisht commented on #7272
Thanks for reporting @jbub we'll fix this

[2019-02-22 07:47] chernykhse opened #7273 "disconnecting a single node makes the cluster inoperable"
we have a minio cluster on 7 nodes in 3 DC.
DC1: node 1, node 2, node 3
DC2: node 4, node 5, node 6
DC3: node 7
If we lose connection with any one of the nodes, we get many write errors from the applications.

test copying 1 file through mc, it takes about 3 minutes before the copying is completed. The next attempt at a test copy can happen immediately and maybe again be delayed by three minutes.

[2019-02-22 07:54] nitisht commented on #7273
are these DCs geographically distributed @chernykhse ?
Also can you provide the configuration/command line used to deploy Minio?

[2019-02-22 07:56] harshavardhana commented on #7273
Also @chersnky it would be helpful if you upgrade and do these testings against latest release.

[2019-02-22 08:21] chernykhse commented on #7273
all DCs are in the same city, network delays are 5 ms
command line
[code]
configuration:
Are there any other configurations besides what is contained in the attached files?
[minio.service.txt] = / etc / default / minio
[minio_env.jinja.txt] = /etc/systemd/system/minio.service

[2019-02-22 08:34] chernykhse commented on #7273
It is not possible to make an update quickly, there is already a lot of data in the cluster, and we need to make a full backup before the update and schedule downtime

[2019-02-22 08:34] harshavardhana commented on #7273
an update is simply `minio update --quiet` and restart all servers in a rolling fashion? is that a problem?

[2019-02-22 08:38] harshavardhana commented on #7273
How is the routing working here with different subnets? - NOTE: we do not support multi-datacenter deployments for distributed setup.  Our latency requirements are single rack or even across racks within a DC.  It would better to measure how much of network bandwidth you have between these servers using `iperf`.  If you want DR like capabilities you should set up two clusters in different DCs and

[2019-02-22 08:47] chernykhse commented on #7273
This is not a problem, but our corporate rules do not allow us to upgrade servers in production, without prior backup and an approved maintenance window. We will do it, not in the next hours.

[2019-02-22 09:08] chernykhse commented on #7273
Routing was configured by network administrators. What exactly do you need to ask?

[2019-02-22 09:19] harshavardhana commented on #7273
To start with `iperf` output between servers would be better preferably node 1 to node 2 and then across DC's between node1 to node7.

[2019-02-22 12:35] nitisht commented on #7254
@Hanrahank closing this for now, as there is nothing specific to be done from Minio perspective. Feel free to reopen or get back on Slack if you feel otherwise.

[2019-02-22 12:35] #7254 closed, assigned to nitisht

[2019-02-22 12:36] nitisht commented on #7262
@oncipriani closing this based on https://github.com/minio/minio/issues/7262#issuecomment-466102551 . Looks like there is nothing to be done from Minio perspective. Feel free to reopen if you feel otherwise

[2019-02-22 12:36] #7262 closed, assigned to harshavardhana

[2019-02-22 12:40] nitisht commented on #7264
@emadghav at this point does it still crash? Can you join us on Slack (https://slack.min.io) for quicker conversation/resolution

[2019-02-22 12:43] stokowski commented on #7261
Hi,
Any ideas or any other tests that I can do ?

[2019-02-22 13:09] chernykhse commented on #7273
node1 - > node2
[code]

node1 -> node7
[code]
node1 -> node6 (DC1 -> DC2)
[code]

[2019-02-22 14:03] ChrisPenner commented on #7266
@harshavardhana

I've got a small haskell app which reproduces the issue; please follow the readme here: https://github.com/ChrisPenner/amazonka-minio-failure-case

You can run it in docker if you prefer; it has options to either run against a local minio instance or to upload to aws so you can see the difference in behaviour.\

Hope this helps to demonstrate the problem, thanks! Let me know if th

[2019-02-22 15:30] nikwen commented on #5139
@mthiyagarajanveritone They haven't.

[2019-02-22 17:11] harshavardhana commented on #7266
Thanks this is helpful.

[2019-02-22 17:18] harshavardhana commented on #7273
If you can see the non homogeneous nature here with network speeds is going to cause significant issues for us, we need consistent backend bandwidth. One is 8Gbits and another is 160Mbits is truly something is completely misconfigured on these systems.

We should fix these - especially the non consistent subnet i.e few nodes on 172.x and some on 10.x is not correct. Once all servers use the same n

[2019-02-22 18:57] aeltawela opened #7277 "Minio doesn't handle URL encoded file names properly"
According to aws S3 object key naming guidelines, special characters in the object key should be encoded using URL encoding. However, Minio copy operation doesn't work with encoded names.

## Expected Behavior
1) Upload "directory/New%20Text%20Document.txt"
2) List the parent directory or stats the file to confirm the existence of the file
3) Copy "bucket/directory/New%20Text%20Document.txt" to "d

[2019-02-22 19:02] harshavardhana commented on #7277
How is the object written on the backend? @ahmedabt is it written as `New%20Text%20Document.txt` or is it `New Text Document.txt` - if it's latter then its a bug in your client uploader.

If you be better to see how is the data persisted on minio an `mc ls` output @ahmedabt would be beneficial.

[2019-02-22 19:11] aeltawela commented on #7277
@harshavardhana: it is uploaded as "New%20Text%20Document.txt" as expected. however, you cannot copy it.

[2019-02-22 19:41] kannappanr commented on #7277
[code]
[code]
[code]

It will be helpful if you can provide the exact code/command you used to reproduce this issue.

[2019-02-22 19:43] harshavardhana commented on #7277
@ahmedabt `mc ls` output is needed to see how the file exists on the disk - can you share that?

[2019-02-23 03:06] stokowski commented on #7261
I've noticed when stracing that minio tried to do tcpv6 connections even ipv6 is disabled:

[code]

I've changed `--address` to internal one those errors dissappeared, but nothing changed about time listings. Btw. is it possible to run minio on 2 interfaces ?

Also I've noticed many:

[code]

on dirs and files.

Still without solution.

[2019-02-23 03:18] #7173 closed, assigned to nobody

[2019-02-23 04:47] emadghav commented on #7264
ok i join slack
yes when i put object after a time crashed,

for 2 day dont put any object but minio not responce and print this log

goroutine 20216 [IO wait, 3 minutes]:
internal/poll.runtime_pollWait(0x5c02c10, 0x72, 0x17d5140)
        /opt/go/src/runtime/netpoll.go:173 +0x6d
internal/poll.(*pollDesc).wait(0xc591b5fa88, 0x72, 0x230c700, 0x0, 0x0)
        /opt/go/src/internal/poll/fd_poll_runtim

[2019-02-23 16:19] rezss opened #7279 "CreateMultipartUpload with aws-sdk-java-v2 fails with: Invalid STS API version expecting 2011-06-15"
Hi,
i tried a few examples from Amazon with a Minio server running in docker. But unfortunately the "Upload Objects in Multiple Parts" [as described here](https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/examples-s3-objects.html#list-objects) won't work. Do i miss something, or is there a bug?

## Expected Behavior
A CreateMultipleUploadRequest should be successful.

## Current Behavior

[2019-02-23 17:32] #7272 closed, assigned to nitisht

[2019-02-23 17:35] harshavardhana commented on #7279
The issue here is content-type is wrong I don't know why AWS sdk sets incorrect content-type for the call..

[2019-02-23 17:55] rezss commented on #7279
Yep, you were right.
Setting the content-type manually
[code]
fixed the issue. Thanks a lot!

[2019-02-23 19:53] rezss opened #7280 "aws-sdk-java-v2 cannot extract 'x-amz-meta-' metadata due case-sensitivity"
Hi,
i played a bit more with the software.amazon.awssdk:s3:2.4.14 and figured out that it cannot receive object metadata from minio due case-sensitivity-mismatch.

The [amazon sdk is looking explicitly](https://github.com/aws/aws-sdk-java-v2/blob/985ec92c0dfac868b33791fe4623296c68e2feab/core/protocols/aws-xml-protocol/src/main/java/software/amazon/awssdk/protocols/xml/internal/unmarshall/HeaderUnm

[2019-02-23 19:53] harshavardhana commented on #7280
HTTP headers are case insensitive it is aws-sdk-java bug

[2019-02-23 19:58] harshavardhana commented on #7280
This was fixed in https://github.com/aws/aws-sdk-java/issues/704 looks like this is a regression again introduced in aws-sdk-java-v2 version

[2019-02-23 19:58] #7280 closed, assigned to nobody

[2019-02-23 20:03] harshavardhana commented on #7279
This is a bug in aws-sdk-java AFAICS - there is no data uploaded during `createMultipartUploadRequest` - so setting

Is buggy behavior, it should be set to `Content-Type: binary/octet-stream` or something set by the user - since this call is not a URL form upload and it will end up wrongly saving **application/x-www-form-urlencoded; charset=utf-8\r\n** for your content.

Here is the documentation

[2019-02-23 20:24] rezss commented on #7279
I opened an issue: https://github.com/aws/aws-sdk-java-v2/issues/1092

[2019-02-23 20:25] rezss commented on #7280
I opened an issue: https://github.com/aws/aws-sdk-java-v2/issues/1091

[2019-02-24 06:35] harshavardhana commented on #7260
Fixed by #7265

[2019-02-24 06:35] #7260 closed, assigned to vadmeste

[2019-02-24 07:28] emadghav commented on #7264
goroutine 16192188 [sleep]:
time.Sleep(0x3b9aca00)
        /opt/go/src/runtime/time.go:105 +0x164
github.com/minio/minio/cmd.(*posix).diskUsage.func1(0x17e37e0, 0xc000034ac0, 0xc484a42040, 0xc, 0x0, 0x0)
        /q/.q/sources/gopath/src/github.com/minio/minio/cmd/posix.go:392 +0x6b
github.com/minio/minio/cmd.walk(0x17e37e0, 0xc000034ac0, 0xc484a42040, 0xc, 0xc44c1a8440, 0xc484a42040, 0xc)

[2019-02-24 15:09] darkmuggle commented on #4210
I took a stab at packaging for Synology SPK's over https://github.com/darkmuggle/miniospk. Its really not useful beyond the scope of a trusted/home network (no SSL, none of the advanced features of Minio, etc). It works for my use-case.

I debated whether to target the packaging for a PR to Minio, but ultimately felt that its packaging work. Synology SPK's is analogous to Debian or RPM packaging,

[2019-02-24 15:25] harshavardhana opened #7282 "Transfer data between nodes compressed (fast)"
*** Not using template ***

Primarily to increase the responsiveness and overall bandwidth usage of servers. It may allow for optimal data transfers for small I/O. Compressing data on the wire may incur CPU cost, but this is a trade-off to test between required responsiveness of Minio processes.

[2019-02-24 23:11] harshavardhana opened #7283 "Implement deadlines for POSIX open fd's"
*** Not using template ***

https://golang.org/pkg/os/#File.SetReadDeadline
https://golang.org/pkg/os/#File.SetWriteDeadline

Use deadline for all open fd's at posix layer, this is to ensure that when disks go bad or offline suddenly. There are timeouts implemented at POSIX layer to timeout any hun i/o.

Currently master branch will hang indefinitely at posix layer.

[2019-02-25 02:36] alexgurr opened #7284 "Presigned localhost URLs have https even though TLS hasn't been configured"
Environment information and perquisites can be found @ https://github.com/minio/minio/issues/7209.

----------------

Presigned URLs are being generated in the correct format, but with **https**:// which isn't working with localhost. How can I turn off https signed urls?

According to this article (https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls) you have to enable TLS man

[2019-02-25 02:49] harshavardhana commented on #7284
Perhaps because you are not turning off https in your AWS Sdk constructor.

Presigned URLs are generated by client side not server.

[2019-02-25 04:44] nitisht commented on #7279
closing the issue here, as there is nothing to be done from our side.

[2019-02-25 04:44] #7279 closed, assigned to harshavardhana

[2019-02-25 05:16] chernykhse commented on #7273
do you mean to work properly, we need to equalize the speed to 160Mbits between all nodes?

to change the network you will need to re-create the cluster completely. Need time.

[2019-02-25 05:28] chernykhse commented on #7273
We raised another test cluster on 4 nodes.
Network: 172.21.22.0/24
minio Version: 2019-02-20T22: 44: 29Z
with the same configs except command line:
ExecStart = /usr/local/bin/minio server http://172.21.22.{33...36}:9000/mnt/minio/data

We observe similar behavior:
Before shutting down the node
copy
[code]
mc admin info
[code]

After `iptables -A INPUT -p tcp --dport 9000 -j DROP ; iptables -A OUTP

[2019-02-25 09:54] aeltawela commented on #7277
It is still reproducible from my side, the HTTP traces shows the same behavior

## Listing dir

[REQUEST (objectAPIHandlers).ListObjectsV2Handler-fm] [155108690.505121] [2019-02-25 09:28:25 +0000]
GET /poc-mu/?delimiter=%2F&list-type=2&prefix=rr%2F
Host: tracecloud.com
X-Real-Ip: 10.216.0.229
X-Forwarded-For: 10.216.0.229
X-Forwarded-Host: tracecloud.com
X-Original-Uri: /poc-mu/?delimiter=%2F&list

[2019-02-25 12:43] aeltawela opened #7286 "GetObject raises io: read/write on closed pipe error"
After several copy operations, get object randomly raises "io: read/write on closed pipe" error.

## Error details:

API: GetObject(bucket=poc-mu, object=/rr234/234rr_2)
Time: 12:33:16 UTC 02/25/2019
RequestID: 15869B68C4C33104
RemoteHost: 10.216.0.229
UserAgent: Minio (Windows; AMD64) minio-py/4.0.7
Error: io: read/write on closed pipe
       1: cmd/api-errors.go:1791:cmd.toAPIErrorCode()

[2019-02-25 14:34] philipkozeny opened #7287 "Unable to heal objects"
I am running minio on 3 servers in distributed mode with 2 disks each. I have around 500.000 objects, running the heal command with mc 2 objects are in the yellow state and won't be healed, although the data is only marked as corrupted on one of the disks.

## Expected Behavior

Heal should be able to fix those objects.

## Current Behavior

Here is the output of the heal command:

[code]

Here ar

[2019-02-25 16:13] harshavardhana commented on #7287
It should be able to heal but we are trying to heal it in-place i.e not at a new block. Sometimes depending on the backend FS it may not be possible. You just have to simply replace the entire disk and we can heal it properly.

[2019-02-25 16:20] harshavardhana commented on #7277
Which version of Minio are you using ?

[2019-02-25 17:01] kannappanr commented on #7277
@harshavardhana from the Trace it looks like it is `Minio/DEVELOPMENT.2018-12-19T14-28-57Z`

[2019-02-25 17:40] aeltawela commented on #7277
@harshavardhana/@kannappanr: Yes it is `DEVELOPMENT.2018-12-19T14-28-57Z`. I also noticed that the XML output in my comment is not visible so I marked it as a code to make it visible

[2019-02-25 17:49] harshavardhana commented on #7277
@ahmedabt first it is better to move to latest and test it, also I think there is a bug in your client - the files shouldn't exist on the server in encoded form for example

[code]

This is how the upload should look like with the list output

[code]

So in your case, the file is stored in encoded form, which means that your client double encoded the object. So please share the client code that up

[2019-02-25 18:03] aeltawela commented on #7277
@harshavardhana: it is using minio python SDK 4.0.11, regarding the naming it is encoded on purpose as recommended by s3. The original file name contains spaces. the additional encoding is done by SDK which I think it is normal also.

The client code is as simple as 2 steps:
1) quote(filename)
2) upload(file)

This scenario should work normally as it works in AWS S3.

[2019-02-25 18:12] harshavardhana commented on #7277
It won't work even with AWS S3 @ahmedabt - you are double encoding you should simply let minio-py upload the object you shouldn't double encode the key that is being uploaded.

I am not talking about copy-object - I am talking about put-object specifically which would have created the wrong file in the first place. A file having spaces is not a problem with AWS S3 and yes you have to encode the co

[2019-02-25 19:52] mramato opened #7289 "Regression: aws-sdk s3.upload broken starting with RELEASE.2019-02-06T21-16-36Z"
This is the first issue I've submitted, so please let me know if I missed any critical info.  Thanks for the great project!

## Expected Behavior

Using `aws-sdk-js`, calls to `s3.upload` inside of a browser should succeed and perform a multi-part upload.

## Current Behavior

Starting with RELEASE.2019-02-06T21-16-36Z, calls to `s3.upload` have stopped working with the following error:

Everythin

[2019-02-25 20:00] harshavardhana commented on #7289
Most probably related to

[code]

[2019-02-25 20:29] kannappanr commented on #7286
@ahmedabt Will try to reproduce this error internally and get back to you.

[2019-02-25 22:11] ntolia opened #7290 "Always return ETag for get object"
## Expected Behavior
An ETag should always be returned when performing a get object. A lack of an ETag causes issues with 3rd-party libraries such as Stow.

## Current Behavior
No ETag is returned for 0-byte objects

## Possible Solution

## Steps to Reproduce (for bugs)
### AWS S3 Behavior
[code]

### Minio Behavior
[code]

Here are the raw headers from Minio:
[code]
## Your Environment
* Version

[2019-02-25 22:34] mramato commented on #7289
Thanks for the quick reply.  Please let me know if there's anything else I can do to help.

[2019-02-25 22:39] harshavardhana commented on #7271
I am not able to understand are you saying its an nginx issue or `mc` issue?

[2019-02-25 22:48] kirankanth commented on #6904
We are still seeing the minio service going down?

Feb 25 12:49:19 server02.com run_minio.bash[19816]: remoteAddr=xx.xx.xx.xxx:54546, localAddr=xx.xx.xx.xxx:9000
Feb 25 12:49:19 server02.com run_minio.bash[19816]: 1: cmd/http/listener.go:259:http.(*httpListener).start.func2()
Feb 25 12:49:33 server02.com run_minio.bash[19816]: /home/miniol/run_minio.bash: line 15: 19818 Killed                  /us

[2019-02-25 22:55] kannappanr commented on #7289
@mramato  I ran minio in fs mode and tried reproducing this inside a browser and was unable to do so. What mode are you running minio in?

[2019-02-25 23:04] leshik commented on #7271
The issue is with `mc` apparently.

[2019-02-25 23:06] harshavardhana commented on #7271
how with `mc` ? - mc does support HTTP2 - @leshik

[2019-02-25 23:20] leshik commented on #7271
@harshavardhana well, the issue is with `go` maybe as I’m seeing  exactly that is described here: https://github.com/golang/go/issues/18112

Should’ve been fixed in Go 1.8, but the issue is still here.

[2019-02-26 08:23] WolfgangVogl opened #7292 "Wrong returncode for GetObject-Request with If-Match and Range-Header"
If you specify a GetObject-Request with the Range- and  the If-Match-Header set but a "wrong" ETAG and a range value that is out of range then the server returns a http 416 status code (range not satisfiable) instead of a http 412 status code (precondition failed).

## Expected Behavior

I expect  to get a http returncode 412 due to https://tools.ietf.org/html/rfc7232#section-3.1 that states that

[2019-02-26 08:43] nitisht commented on #7292
@WolfgangVogl can you pls help us a reproducer for this issue

[2019-02-26 08:44] nitisht commented on #7284
@alexgurr can you pls confirm if it works after the recommendation in https://github.com/minio/minio/issues/7284#issuecomment-466853745

[2019-02-26 08:46] harshavardhana commented on #7292
have you tested this with AWS S3 @WolfgangVogl ? - The server behavior is rejecting Range request first than If-Match.

I do not see that being stated in HTTP RFC can you clarify?

[2019-02-26 08:50] harshavardhana commented on #7287
@philipkozeny we are going to fix this issue by doing things a little differently here.  Currently, we try to delete the `part.1` which perhaps failed due to your disk corruption - so instead we are planning to perform

- Delete's 3 times and then ultimately rename the parent to `/.minio.sys/tmp` and remove the corrupted object from the namespace. This way we can heal the part.1 and still use the

[2019-02-26 08:51] harshavardhana commented on #7277
As discussed privately @ahmedabt moving this issue as working as intended.

[2019-02-26 08:53] harshavardhana commented on #7264
Proper disk detection PR is sent here #7288

[2019-02-26 09:32] WolfgangVogl commented on #7292
Hello @harshavardhana, I've tested with AWS S3 and got the expected http 412.

In rfc7232 section 3.1 the text states:
"The "If-Match" header field makes the request method conditional..."
"... since **the client intends this precondition to prevent the method from being applied** if there have been any changes to the representation data."
"An origin server that receives an If-Match header field *

[2019-02-26 11:48] philipkozeny commented on #7287
@harshavardhana thanks for the info. Can’t test the fix though, I have already replaced both corrupted drives and discarded them - sorry.

[2019-02-26 20:32] minio-trusted commented on #7226
we will address this @icholy

[2019-02-26 20:42] timhughes opened #7297 "recover access and secret keys from erasure encoded config.json"
When creating servers from a script I cannot get the access and secret keys. They dont appear in the logs and dont appear on screen.

## Expected Behavior
I expected them info to be redirected in to the logs in the following script.

## Current Behavior
I don't know how to get the login access and secret keys. If this was a non erasure encoded file I know I can get it from `config.json` but when t

[2019-02-26 20:51] harshavardhana commented on #7297
Distributed mode can never be started without access and secret in environment variables.

So it is on purpose that it's not visible anymore on the console.

[2019-02-26 23:09] #7290 closed, assigned to poornas

[2019-02-27 00:34] #7226 closed, assigned to deekoder

[2019-02-27 00:41] kannappanr commented on #7297
@timhughes Closing this issue as answered. Please feel free to reach to us if you have further questions.

[2019-02-27 00:41] #7297 closed, assigned to nobody

[2019-02-27 00:46] kannappanr commented on #7277
@ahmedabt Closing this issue based on the previous comments.

[2019-02-27 00:46] #7277 closed, assigned to nobody

[2019-02-27 01:49] kannappanr commented on #7289
@mramato Can you please provide us with a sample code to reproduce your issue?

[2019-02-27 01:51] kannappanr commented on #7238
@diddiman The difference between `minio` and `AWS` is that `minio` sets the default `content-type` to `application/octet-stream` while `AWS` sets it to `binary/octet-stream`. Will talk internally and decide what we should do.

[2019-02-27 02:30] harshavardhana commented on #7238
Both are accepted for octet-stream under mime RFC

[2019-02-27 03:33] nitisht commented on #7292
You can use the same test code / tool that you're using with S3

[2019-02-27 05:35] kannappanr commented on #7238
Then the solution would be to fix the test in `minio-py` to treat `binary/octet-stream` as `application/octet-stream` and then compare

[2019-02-27 09:08] bellship opened #7303 "How can I read Minio data from Streamsets using Amazon S3?"
I couldn't run from Amazon S3(Origin) to mongoDB(Destination) at the Streamsets Pipline.

## Expected Behavior

my specific MongoDB's collection will be updated(insert) from data that is in minio storage.
and It's executed by Streamsets running.
JSON file that fitted my mongoDB collection uploaded at Minio
A streamsets pipline flow is approximately that Origin is Amazon S3 (for minio's s3 protocol

[2019-02-27 10:36] bellship commented on #7303
![imge3](https://user-images.githubusercontent.com/37265872/53484226-3b318400-3a7b-11e9-97b1-af22a978dadf.PNG)

In this picture, there is success log when Streamsets ran pipline from mongoDB(Origin) to AmazonS3(Destination).

I hope it supports you :-)

[2019-02-27 10:37] nitisht commented on #7303
thanks @bellship we'll take a look soon

[2019-02-27 13:47] chrischdi opened #7304 "codebase imports an old repository github.com/coreos/etcd"
## Expected Behavior
* `import _ "github.com/minio/minio"`
* `import _ "go.etcd.io/etcd"`
* `go test ./...`

## Current Behavior
Running go tests outputs the following:
[code]

## Possible Solution
Migrate etcd dependency from `github.com/coreos/etcd` to `go.etcd.io/etcd`.
This is what the etcd team has done due to repository migration: https://github.com/etcd-io/etcd/issues/9965

## Steps to Repr

[2019-02-27 16:24] skonto commented on #7020
@nitisht with Spark 3.0.0 I get:
[code]
I understand that it should fail but It would be helpful if default spark hadoop versions were supported.
Spark on K8s could benefit from this and I know 2.7.4 is quite old ;).In general storage on K8s is a bit of an issue to setup so minio could be helpful, especially for short cycles like dev/test in the big data world.

[2019-02-27 16:36] harshavardhana commented on #7020
Spark 3.0.0 should work fine, not sure what is the issue here. Can you open a new issue with more details and also enable MINIO_HTTP_TRACE=/dev/stdout environment variable to trace the API calls.

[2019-02-27 17:21] mramato commented on #7289
Looking into it, I'm was a bit under the weather so I apologize for not replying sooner.

[2019-02-27 17:49] kannappanr commented on #7304
@chrischdi Please go ahead and create a PR.

[2019-02-27 19:35] kannappanr commented on #7284
@alexgurr Closing this issue based on the previous comments. Please feel free to let us know if you have any further questions.

[2019-02-27 19:35] #7284 closed, assigned to nobody

[2019-02-28 01:46] #6381 closed, assigned to harshavardhana

[2019-02-28 06:53] WolfgangVogl commented on #7292
I don't think this helps that much but here's the code:
[code]

[2019-02-28 08:03] ChristopherHoward commented on #5150
@harshavardhana, is there a workaround for this issue? I'm trying to upload a large number of files to minio using boto3, and this issue effectively makes minio unusable, as many of the requests now take over a minute to complete.

I've already tried creating a new boto3 client for every upload, to try and avoid any issues with connection pooling: this hasn't worked.

[2019-02-28 08:26] harshavardhana commented on #5150
You can apply the patch referenced here against botocore installation locally.

[2019-02-28 08:41] ChristopherHoward commented on #5150
Unfortunately, applying the patch has not helped. Note also that none of the files I am uploading are of zero length.

I am using the `upload_fileobj` method to perform the upload.

Here is the log output from boto3:

[code]

[2019-02-28 10:27] nitisht commented on #7303
Based on Slack discussion, the `marker` and `prefix` should be in order.

quoting from @harshavardhana here

[2019-02-28 16:12] harshavardhana commented on #7303
Closing this as issue is a bug in the application.

[2019-02-28 16:12] #7303 closed, assigned to donatello

[2019-02-28 16:32] harshavardhana opened #7311 "Implement bulk API operations for storage-interface"
** not using the template **

Current storage interface doesn't implement any bulk calls which can return a bulk information

Such as ReadAll() as shown here

https://github.com/minio/minio/blob/c3ca954684c685b24367da01d6fba1a92a1e2dcb/cmd/storage-interface.go#L55

The idea is that we implement a bulk ReadAllBulk() implementation which takes a list of input filenames and returns all the data neces

[2019-02-28 18:17] harshavardhana commented on #7266
So I got around testing this @ChrisPenner looks like Minio server is able to read the body properly but it's returning an error due to signature mismatch

[code]

Which client is perhaps not able to read for some reason and it hangs perpetually, perhaps this is in your app?

A signature mismatch can happen for a few reasons here and which we fixed in AWS libraries in the past

- https://github.com

[2019-02-28 18:19] harshavardhana commented on #5150
Does this look like some other issue more of a setup issue @ChristopherHoward do you have `minio` running locally?

I can easily upload data

[code]

[code]

[2019-02-28 19:17] harshavardhana opened #7313 "[gateway-s3] Allow SelectAPI call to be pushed down to the backend"
** not using the template **

The current implementation of Select API

https://github.com/minio/minio/blob/2564147ab4bdc9711328a99d569f57de9b6b852a/cmd/object-handlers.go#L195

Calls GetObject() and that is the stream which is interpreted on our end. Explore if there is a way to push down the Select calls.

A couple of reasons for us to do this

- Downloading objects for Select on gateway level -

[2019-02-28 19:50] krishnasrinivas commented on #7283
os.SetReadDeadline is not supported for ordinary files, its supported for pipes/sockets though:
[code]

[2019-02-28 19:59] harshavardhana commented on #7283
Thanks, @krishnasrinivas we should still proceed to implement a deadline based on some form of contexts, otherwise disk timeouts are too long and we have network timeouts are way longer.

https://github.com/golang/go/issues/22114 states the intention of the implementation

We need a way to actively put a deadline on the FD's such that we can close the FD and disconnect the call quickly when the di

[2019-02-28 20:09] krishnasrinivas commented on #7283
this is how timeout was done for KV:
[code]

something similar may be needed for posix calls

[2019-02-28 20:43] tglines opened #7314 "AccessDenied when uploading to public bucket via presigned post"
When uploading an object via presigned post, locally, to the local running minio docker container, with the bucket set to public policy it returns AccessDenied.  However, getting the original presigned post url works just fine.

## Expected Behavior
It should accept the upload and return a success aka `204` http status code.

## Current Behavior
Instead I get an http `403` status response with the

[2019-02-28 21:06] harshavardhana commented on #7283
This is good start @krishnasrinivas

[2019-03-01 02:01] kannappanr commented on #7314
@tglines Thanks for filing this issue. Will try to reproduce this issue and compare the results with AWS S3 and get back to you.

[2019-03-01 08:33] timhughes commented on #7297
@kannappanr thanks. I think what confused me is the text on this page which calls my style of deployment "standalone" and doesn't mention needing the environment variables. Further down it say that you need the keys in environment variables for distributed. Perhaps some mention in the standalone section will stop you getting this question again.

https://docs.minio.io/docs/multi-tenant-minio-deplo

[2019-03-01 09:40] sinhaashish commented on #7292
@WolfgangVogl : I tried the below mentioned steps
1. Ran the code
[code]
2. Replaced the object with a smaller size and ran the same code ..i.e. without changing the `etag` .
3. Got the response as
[code]
For this example its returning `412` as the error code. Can you explain the steps so that i can replicate it.

[2019-03-01 09:44] Arkemlar commented on #6443
I found this issue by googling for error "Missing fields in request". In my case problem was that when I used `openssl rand -base64 30` to generate secret key it randomly generated key with slash `/` at the end. Thanks to discussion above I realised that the problem is slash at the key's end. Removed this slash in key and everything worked fine.

[2019-03-01 10:01] phdeniel commented on #5369
Hi, I meet the same error on Fedora 28.
I am using s3cmd in front of a minio S3 Server (running on localhost). I did my best to disable SSL checking, but it fails anyway:

# s3cmd mb --no-check-certificate -d  s3://bucky
(... many debug message as .s3cfg is parsed ...)
DEBUG: Command: mb
DEBUG: bucket_location: <CreateBucketConfiguration><LocationConstraint>fr</LocationConstraint></CreateBucketCon

[2019-03-01 11:01] Praveenrajmani commented on #7314
I see s3 returning `AccessDenied` but with improvised error message. Something like,

```<Error><Code>AccessDenied</Code><Message>Invalid according to Policy: Policy Condition failed: ["eq", "$x-amz-meta-custom", "user"]</Message><RequestId>326FF6B7C7D6FC90</RequestId>```

Will fix the error message. The code seems to be good.

[2019-03-01 12:07] ChrisPenner commented on #7266
@harshavardhana I think I must be misunderstanding something; but if what you say is correct then why do I get a signature mismatch when sending to minio but NOT when sending to s3? There's still some sort of behaviour difference between s3 and minio here because the upload succeeds when sending to s3 but fails with signature mismatch on minio.

My previous thought on this was that perhaps the sig

[2019-03-01 16:27] harshavardhana commented on #7266
As I said two fixes are needed here, server has validated the request and sent signature mismatch. Which is correct because Transfer-Encoding cannot be set and used as part of signature calculation. I referenced fixes which we did upstream for iOS SDK. Similar fixes need to happen in amazonka SDK.

Note: you can see iOS SDK was working fine with S3 too.

[2019-03-01 16:30] harshavardhana commented on #5369
Perhaps your s3cmd version is old or config is incorrect.

[2019-03-01 18:35] kannappanr commented on #7297
@timhughes Sorry, did not look at your setup properly. Yours is not a distributed setup, but a multi-tenant local erasure coded setup. The issue here is that we do not print `access key` and `secret key` information, if the output is redirected to a log.

So, you have two options

1. Set an environment variable. Then you know what your access and secret keys are.
2. Use the following script to see

[2019-03-01 23:06] WolfgangVogl commented on #7292
I think the replacement file must be smaller than the range you request...Am 01.03.2019 10:41 vorm. schrieb Ashish Kumar Sinha <notifications@github.com>:@WolfgangVogl : I tried the below mentioned steps
Ran the code
	if err != nil {
		log.Fatalln(err)
	}
	opts := minio.GetObjectOptions{}
	opts.SetMatchETag("c3e7f310e9c29c860ff4c6e1c64fdf32")
	opts.SetRange(70, 80)

	s3Client.TraceOn(os.Stderr)

[2019-03-02 13:42] timhughes commented on #7297
Cool much appreciated 👍

[2019-03-02 21:50] nneul opened #7319 "Hang when recursive delete of large bucket on a cluster"
When doing a recursive rm of a large bucket (few thousand small files), the operation frequently hangs after 1000 objects are processed.

Report sounds just like #6166 - I am running a version a little older than that one, but also reproduced with a fresh download today. (RELEASE.2019-02-26T19-51-46Z on ubuntu 16 x64)

Disk IO and cpu are near zero on the servers, no resource constraints that I ca

[2019-03-02 22:35] nneul commented on #7319
Changing my code to stream a find to rm calls in batches no longer shows the hang that is present with a rm recursive.

[2019-03-03 05:38] harshavardhana commented on #7319
Thanks for the report @nneul we will take a look

[2019-03-04 03:28] CloudWarGit opened #7320 "[distributed] Putobject return "The specified bucket does not exist." sometimes"
In distributed mode,  PutObject() method sometimes（rate） return "The specified bucket does not exist." or "The specified key does not exist.", but the bucket is indeed exist, and object can be upload succeed if put again. minio-go version is 6.0.11.
## Expected Behavior

Should upload object with no error.
## Current Behavior

Return "The specified bucket does not exist." or "The specified key doe

[2019-03-04 03:40] harshavardhana commented on #7320
Can you upgrade to latest version and test again ?

[2019-03-04 04:48] sinhaashish commented on #7292
@WolfgangVogl  The new file used is of smaller size than the range request. You can connect on slack to help us reproduce the issue.

[2019-03-04 08:04] CloudWarGit commented on #7320
Sorry, this may be caused by  environment. I close this PR, if encounter again will re-open. Thanks.

[2019-03-04 08:04] #7320 closed, assigned to wlan0

[2019-03-04 13:10] aeltawela commented on #7277
Actually, I found that the encoding is correct and it is not a client issue. It was even reproducible using minio client using normal "mc cp" command.

mc: <ERROR> Failed to copy `http://minio:9000/poc-mu/ahmed/new folder/new text document_%!!(MISSING)@.txt`. Object does not exist

1) Tried it on play (newer release), it works fine.
2) Tried it using minio/minio:RELEASE.2018-12-19T23-46-24Z pure d

[2019-03-04 21:48] eleaner opened #7323 "ERROR Unable to initialize backend: value too large for defined data type."
Hi,

when I try to run minio:latest container over volume mounted with my own volume plugin I am getting message:

`ERROR Unable to initialize backend: value too large for defined data type.`

I am running out of ideas on what might be going wrong
**Is there a way t omake minio talk to a little more verbose?**

The problem must be with the plugin I try to write because in every other scenario I te

[2019-03-04 22:02] harshavardhana commented on #7323
This is because your volume plugin is not implementing some form of POSIX API can you debug this from your volume end? @eleaner

Doesn't seem like Minio is the problem here..

[2019-03-04 22:02] poornas commented on #5511
this can be closed - we already do this.

[2019-03-04 22:04] harshavardhana commented on #7266
Going to close this issue as amazonka bug to not read the http response properly, also to be putting Transfer-Encoding as part of signature V4 where it is clearly isn't necessary or expected.

[2019-03-04 22:04] #7266 closed, assigned to harshavardhana

[2019-03-04 22:04] harshavardhana commented on #7271
@leshik is it always reproducible or does it reproduce after a while during I/O ?

[2019-03-04 22:05] eleaner commented on #7323
@harshavardhana I don't think it is minio problem either
but the message does not say much to me :(

[2019-03-04 22:06] kannappanr commented on #5511
Closing this issue based on the previous comment

[2019-03-04 22:06] #5511 closed, assigned to aead

[2019-03-04 22:07] harshavardhana commented on #7323
You may need to debug the volume plugin here. Minio is simply pasting the error reported by the underlying volume. If this volume is an open source project we can take a look.

[2019-03-04 22:34] eleaner commented on #7323
@harshavardhana thank you for the offer.
the project is opensource but currently only on my machine
I have to learn how to make it public first :(

[2019-03-04 22:58] nikitadm opened #7324 "ERROR Unable to initialize gateway backend: The specified bucket does not exist.."
What are different permissions that user require to initialize minio gateway?

Currently I am providing following permissions to user and getting above error.
1. s3:ListAllMyBuckets
2. s3:ListBucket

[2019-03-04 23:32] harshavardhana commented on #7324
you need `s3:HeadBucket` as well @nikitadm

[2019-03-05 00:30] kannappanr commented on #7289
@mramato Did you get a chance to create a sample code? Will really appreciate if you can create one to reproduce the issue.

[2019-03-05 00:31] skonto commented on #7020
@harshavardhana
Im using the old lib versions (because I dont want to build Spark without hadoop, not so convenient)
[code]
So I guess I hit the same issue.

[2019-03-05 01:04] leshik commented on #7271
@harshavardhana It reproduces after a while. E.g. I was mirroring 1Gb of files, and got this error after about ~100Mb (there is no particular amount of data it has to send, I was able to see the error after ~30Mb of transfer sometimes).

[2019-03-05 02:23] baka-yuki opened #7325 "S3 Gateway Disk Caching seems to be broken?"
## Expected Behavior

Uploading/Downloading a file through the Minio browser client should result in the file being stored in disk cache.

## Current Behavior

Uploading/Downloading a file functions, but bypasses cache. Nothing is added to the cache pool.

## Possible Solution

No idea.

## Steps to Reproduce (for bugs)

1. Use `docker stack deploy` to bring up a minio instance similar to below:
[

[2019-03-05 02:38] harshavardhana commented on #7271
Can you reproduce this without the proxy ?

[2019-03-05 02:39] leshik commented on #7271
@harshavardhana no, I see this issue only when using Nginx proxy.

[2019-03-05 02:45] harshavardhana commented on #7271
Then the problem is perhaps in Nginx configuration.. have you tried any other proxies like traefik?

[2019-03-05 02:53] poornas commented on #7325
notice that you have KMS and auto encryption enabled - any object uploaded thru browser will be automatically encrypted. Objects that are encrypted will not be  saved to cache

[2019-03-05 03:00] baka-yuki commented on #7325
Interesting, I was not aware of this. Is there any way to use KMS & Cache together? I had assumed minio would write the encrypted object to cache and remote.

[2019-03-05 03:02] leshik commented on #7271
@harshavardhana my Nginx config is trivial and is almost copy-and-paste from Minio documentation. I didn't try traefik, but I think it will obscure the issue as it's written in Go too. Maybe I'll create the `docker-compose` file that reproduces the issue when I have time.

[2019-03-05 03:06] poornas commented on #7325
@zyradyl, currently this is not possible.

[2019-03-05 03:08] harshavardhana commented on #7325
It is a security risk, so we don't allow it.

[2019-03-05 03:10] baka-yuki commented on #7325
Fair, thanks so much! I will mark this as resolved.

[2019-03-05 03:10] #7325 closed, assigned to nobody

[2019-03-05 04:33] kanagarajkm commented on #7289
@kannappanr i could reproduce this issue. https://jsbin.com/danoqokuwe/edit?html,js,output . Try uploading a bigger file (40MB). You can see `ERROR: No access to ETag property on response. Check CORS configuration to expose ETag header.` printed on the browser console.

[2019-03-05 04:40] harshavardhana commented on #7271
I suspect this a Go bug or nginx interaction issue. Not sure what Minio can do at this situation. If you can provide a compose file perhaps reproducing this might help me pursue this upstream.

[2019-03-05 04:53] vinayus opened #7327 "unable to bring up minio with nodeports in distributed mode"
i'm unable to bring up minio as distributed mode with NodePort service kind..
if i set it to ClusterIP it works fine..
i'm with latest helm chart.

[code]

Tried wit 2.4.2 and doesn't seem to work there either.

Error logs:
[code]

[2019-03-05 04:55] nitisht commented on #7327
sorry for the delay @vinayus we’ll fix the helm chart

[2019-03-05 07:43] nguyengiavu commented on #7289
Notice, if partSize >= fileSize (upload file) => Successful upload.

[2019-03-05 10:09] neben commented on #7289
The problem boils down to the `ETAG` header not being exposed via `access-control-allow-headers` anymore, which is a regression.  You can see that with any `GET` request, no matter the size.

<img width="362" alt="image" src="https://user-images.githubusercontent.com/1236695/53797712-06b83f00-3f37-11e9-990a-3bf9f833a153.png">

[2019-03-05 10:34] neben commented on #7289
I downgraded our container to `RELEASE.2019-01-31T00-31-19Z` and it works again as expected.

<img width="490" alt="image" src="https://user-images.githubusercontent.com/1236695/53799393-91e70400-3f3a-11e9-94a5-6f9d8dcab6fb.png">

[2019-03-05 10:42] neben commented on #7289
On a slightly different note, `access-control-allow-origin` used to echo the correct origin (`RELEASE.2019-01-31T00-31-19Z`), now (current release) it only returns `*`. Not sure if this was changed on purpose.

[2019-03-05 13:58] zieg8301 commented on #6995
Also interested if there are any updates on the progress of this. We hit this bug quite a bit in our environments.

[2019-03-05 14:32] mramato commented on #7289
Sorry again for the delay, here's a full simplified reproduction: [7289.zip](https://github.com/minio/minio/files/2931317/7289.zip)

I used Docker for the minio image and a simple HTML app for the test code (it relies on aws-sdk).

1. Unpack zip
2. Run `docker-compose up -d` to start minio at `http://localhost:9000` with credentials `aws_key`/`aws_secret`.
3. Create a test bucket using the followi

[2019-03-05 15:44] bagr001 commented on #7289
Exposing ETag is necessary for multipart uploads. We are using multipart uploads directly from the browser which is currently blocking you from reading unexposed headers.

[2019-03-05 16:16] Coder-212 opened #7329 "Using Https for minio server"
I am trying to get a minio server to run on https but every time I try to run it I get the following error:

D:\APP\Minio>minio.exe server D:\APP\Storage
←7←[41m←[37m←[1mERROR←[0m←[0m←[0m ←8←[6C←[31mUnable to load the TLS configuratio
n: ←[1mThe parameter is incorrect.
←7←[41m     ←[0m ←8←[6C.←[0m←[0m

I have followed the following guide: https://docs.minio.io/docs/how-to-secure-access-to-minio-se

[2019-03-05 18:42] #6938 closed, assigned to nobody

[2019-03-05 19:22] ajaykushwah opened #7330 "Minio s3 upload unreliable under load conditions"
I am testing/evaluating minio server under a *single* node configuration for my on-prem repository of large number of 4MB objects on a RAID enabled file system with 400 TB of space. It is a plain filesystem setup, but my node and the underneath filesystem are built for performance and scalability.

My minio version is VERSION: 2019-01-10T00:21:20Z and I am using libcurl s3 interface to populate th

[2019-03-05 20:09] harshavardhana commented on #7330
From what it looks like Minio is getting an error from the backend here @ajaykushwah do you have for example tcpdumps available for us to look at the traffic?

[2019-03-05 20:10] #7314 closed, assigned to Praveenrajmani

[2019-03-05 20:35] ajaykushwah commented on #7330
@harshavardhana, thanks for the quick response.

No, I don't have tcpdump and it would not be practical to catch it in action. It happens very infrequently with no pattern. Sometimes without an issue for days. TCPdump would be huge if it runs that long. We could try it as a last options if nothing else is obvious.

I can attach the client side logs for the PUT request, I mentioned above to see how

[2019-03-05 20:44] kannappanr commented on #7329
@Coder-212 Maybe the algorithm in the keys generated are not supported by `Minio`. Will try to reproduce it and get back to you.

[2019-03-05 20:57] harshavardhana commented on #7330
If longer than 5 minutes network stops reading data, meaning we can't write fast enough to the backend then the client times out. Please share the entire Minio server logs.  AFAICS backend here is giving up upon load, so Minio is unreliable because your backend is unreliable.

There is no race condition here, Minio doesn't write anything if it cannot write any - it is strictly consistent.

[2019-03-05 21:00] ajaykushwah commented on #7330
I am leaving the client side log snippet for request and retries  of bad object 000008a9.data. (Detailed minio logs for this objects  are available in my opening comment)

minio Snip
REQUEST objectAPIHandlers.PutObjectHandler-fm] [154935716.226429] [2019-02-05 08:59:22 +0000]
PUT /fst03/01d/ay3e02WfEW63K92jDMB42iyhOvJ7446fzKnMvxOzs2A/V1/7b8223bf-3f0c-504e-b50c-ea3716119f85/snap_156/000008a9.data
S

[2019-03-05 21:09] ajaykushwah commented on #7330
I am not ruling that out and I can certainly send you the logs I have. These are only http trace logs and the errors caught on stdout, which seems pretty verbose. Would that be all or is there a special setting needed to create the full system logs?

I have outlined the put logs from the client side in my last comment and there it clearly reflects that it got successful put response after few time

[2019-03-05 21:10] harshavardhana commented on #7330
Of course it can succeed depending on if backend allowed the request, so its not a race condition. Race condition is something very different.

Yes full system logs and also the minio servers logs you can attach them here (filtering any sensitive information)

[2019-03-05 21:15] harshavardhana commented on #7330
Missing `fs.json` means that the file was deleted by someone i.e perhaps its the client itself sending a DELETE upon a failure? It is also possible that during rename of `fs.json` we got an error from the backend - but we make NAS gateway resilient to ignore that because FS is allowed to work without `fs.json` .

[2019-03-05 21:22] ajaykushwah commented on #7330
by race, I meant that requestID for original request is finishing later than the retry requestId  as seen in the system minio http trace logs. but I am not obviously a minio expert here, so I will let the experts (you) determine what is going on.

just reconfirming that minio whether logs collected with export MINIO_HTTP_TRACE=..
are good enough as minio server logs.

If there is another setting t

[2019-03-05 21:43] nikitadm commented on #7324
I am using S3 compliant object store like StorageGrid and I couldn't find `s3:HeadBucket` permission for it.
Is this specific to minio only? What permission should I provide for any other S3 object store?

[2019-03-05 21:44] ajaykushwah commented on #7330
I checked both client and minio http logs. There is no delete call on either sender or receiver side.

This is more likely. Would there be a error or log message that would be generated in that case?

[2019-03-05 22:07] ajaykushwah commented on #7330
[nohup.out.gz](https://github.com/minio/minio/files/2933323/nohup.out.gz)

stdout captured from minio server

[2019-03-05 23:35] ajaykushwah commented on #7330
http_trace logs from the time around the upload of object in question
[minio_http_frag_35.gz](https://github.com/minio/minio/files/2933604/minio_http_frag_35.gz)

[2019-03-05 23:55] harshavardhana commented on #7324
You can search for s3:HeadBucket its a valid  policy  action according to S3. But nevertheless s3:ListBucket action is allowed means head is implicit..

Most probably the error response returned is not what is expected by minio-go library. Would it be possible to get a tcpdump for the http traffic from storagegrid?

[2019-03-06 01:47] ajaykushwah commented on #7330
system cpu

root@cbs-qa-minio-01:/home/cbs# lscpu
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              12
On-line CPU(s) list: 0-11
Thread(s) per core:  1
Core(s) per socket:  6
Socket(s):           2
NUMA node(s):        2
Vendor ID:           GenuineIntel
CPU family:          6
Model:               79
Model name:          Intel(R

[2019-03-06 02:32] nneul commented on #7319
I got another report of problems from one of my coworkers after I put workaround in place - the user said it looked like it hung completely, even doing the small batch deletes.

What I was able to determine from the new report was - it was not fully hanging, but it was running insanely slow. (20 minutes to delete 250 objects!)

What I found out from the user is that there is a directory in their c

[2019-03-06 02:34] nneul commented on #7319
I think I see the issue - running an strace against minio - it appears to be doing repeated reads of the entire directory during file removals. If this is occurring on every object removal, this is essentially an exponential operation.

Is there something that is designed to do this, or something that is unintentionally reloading directory contents (say due to some sort of lazy loading and expirat

[2019-03-06 02:39] nneul commented on #7319
In a particular strace that I ran for about 20-30 seconds - saw 55 unlink operations, and 1590 getdents64 system calls.

[2019-03-06 02:43] nneul commented on #7319
Note - this IS with an older build from mid last year... it's a pain in our product release cycle to update at this point, but if you are highly confident that something like this has already been fixed, I will see what we can do about updating and trying the test scenario again.

[2019-03-06 03:11] poornas commented on #7319
mc rm lists 1000 objects at a time and batch deletes them, which explains the repeated dir reads - it isn't expected to hang. What is your version of minio server?

[2019-03-06 11:18] tholu commented on #7319
I can confirm a very high IO load with Minio deployed via docker, when removing a prefix containing some ten thousand files via the Webinterface. The files are organized hash-based 5 subfolders deep (like `a/1/2/b/d`) below the prefix, so there is no directory containing lots of images.

Latest version: `2019-02-26T19:51:46Z`

[2019-03-06 13:04] nneul commented on #7319
So in my workaround - I was doing a 'mc find' in one process, and then submitting individual 'mc rm' calls with 250 files each listed without --recursive. That was to work around the (apparent) hang doing the recursive deletes.

I'm not seeing high IO load at all... I think the getdents64() is probably coming straight out of kernel memory, so it's never touching the disk. If it were a high disk IO

[2019-03-06 15:01] vadmeste opened #7332 "Download an un-encrypted object while provinding SSE-C key fails"
## Expected Behavior
GET object not encrypted with SSE-C key fail while passing any key should not fail.

## Current Behavior
[code]

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
1. `mc mb myminio/testbucket`
2. `mc cp file myminio/testbucket`
3. `mc cat --encrypt-key "myminio/=01234567890123456789012345678901" myminio/testbucket/file`

## Context
Fixing a bug

## Regression

[2019-03-06 15:09] Coder-212 commented on #7329
@kannappanr thank you for your responsiveness, waiting for your feedback

[2019-03-06 15:21] kannappanr commented on #7332
@vadmeste The behavior is same as `AWS`

[code]

[code]

[2019-03-06 16:56] maniker commented on #6811
Hi guys,

This thread here help me a lot in solving my task on user policy but, what i have achieved through this to just give a read and write policy to a particular user(user1) to a particular bucket (bucket1) by creating a policy, but how i can just give a read to particular bucket but not write, and just give a write but not read?? something like that

here is the policy I have

{
  "Version":

[2019-03-06 17:19] kannappanr commented on #6811
@maniker You can reach out to us at https://slack.min.io for these sorts of questions or else please open a new issue at https://github.com/minio/minio/issues/new

[2019-03-06 17:19] poornas commented on #6811
@maniker , you will just need a policy statement that allows "s3:GetObject" action on "arn:aws:s3:::bucket1/*" to allow reads but no writes. Likewise to give access to writes but no reads, you will need a policy statement that allows "s3:PutObject" . You might want to check https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-objects