[2017-03-06 16:08] alpswjc opened #3858 "Object name invalid"
H there

Key length is less than 1024, but still getting this error.

time="2017-03-04T13:47:04-06:00" level=error msg="Unable to create an object." cause="Object name invalid: virginia#20170304/35-35/%e0%b8%a3%e0%b8%b2%e0%b8%84%e0%b8%b2+%e0%b8%95%e0%b8%b1%e0%b9%8b%e0%b8%a7%e0%b9%80%e0%b8%84%e0%b8%a3%e0%b8%b7%e0%b9%88%e0%b8%ad%e0%b8%87%e0%b8%9a%e0%b8%b4%e0%b8%99+%e0%b9%84%e0%b8%9b+%e0%b8%9f%e0%b8%

[2017-03-06 16:17] pascalandy commented on #3489
Everything is working as expected on my side. I'm bouncing all over the place at the moment! I decided to make a post out of my finding.

Check this out! [The complete guide to attach a Docker volume with Minio on your Docker Swarm Cluster](http://firepress.org/blog/the-complete-guide-to-attach-a-docker-volume-with-minio-on-your-docker-swarm-cluster/)

Cheers!

[2017-03-06 17:01] vadmeste commented on #3856
@sheerun, thanks for reporting. One question: about the disk which holds Minio data (backend storage), was it also used for other purposes? (like operating system data, user data etc..)

[2017-03-06 18:39] harshavardhana commented on #3858
A key length in all operating systems is limited to by 255 characters per path component in a given path.  Here your path is

[code]

Which is clearly longer than > 255 characters.   While Minio adheres to S3 behavior of 1024 it is the full flat key length inclusive of the backend nature on Linux and other operating systems.

So if you really need long keys you need to split them like (each compon

[2017-03-06 18:52] sheerun commented on #3856
Indeed, Minio wasn't the only one using this disk (I think there were some build performed there and logging. Another probably related issue: I wasn't able to traverse directory structures in minio web ui.

[2017-03-06 19:50] harshavardhana commented on #3858
Closing this as not a bug but an expected behavior.

[2017-03-06 19:50] #3858 closed, assigned to balamurugana

[2017-03-06 19:51] vadmeste commented on #3856
@sheerun by the way, your Minio version is quite old now, can you manage to update your server and test again?

[2017-03-06 19:54] harshavardhana commented on #3857
[code]

There are a number of possible resolutions:

- Determine if a process is creating unexpected or unwanted files or directories.
- Remove unnecessary or unwanted files or directories.
- Reorganize files and directories within the filesystem to reduce the number of entries in each individual directory.
- Use shorter filenames.
- Change the block size of the filesystem. This option requires a

[2017-03-06 19:55] harshavardhana commented on #3857
Closing this as a `ext4` issue above solution sufficiently provides enough information on how to address this problem.

[2017-03-06 19:55] #3857 closed, assigned to balamurugana

[2017-03-06 20:01] sheerun commented on #3856
Not really, I use up-to-date deis build

[2017-03-06 20:03] harshavardhana commented on #3856
Dies is using a really really old version from like 8months ago it should be updated to latest. @sheerun `2016-06-03T19:32:05Z` should be `2017-02-16T01-47-30Z`

[2017-03-06 20:04] sheerun commented on #3856
So it's not the issue with the newest minio?

[2017-03-06 20:05] harshavardhana commented on #3856
Nope @sheerun we relaxed this requirement some time ago.

[2017-03-06 20:07] scratchoo commented on #3847
Thank you for the link, I run this code :
[code]
and after that I have no idea how to run the minio server?? I am not sure why I can't find help when I search in google, and the doc is really not clear :( minio looks awesome but there is a luck of info and the doc is not much friendly, also the youtube short video of minio are no-sense maybe those points make minio less used by people, so I hope y

[2017-03-06 20:18] harshavardhana commented on #3847
Yes you have to refresh the UI if you upload using cli because there is no active refresh implemented on the browser and we are not going to implement that to keep it simple.  This is is expected as of now.  We will explore adding a refresh button to make it easier for now just use browser refresh.

May be i am not able to understand, are you not able to run minio server by typing below command?

[2017-03-07 00:58] harshavardhana commented on #2854
This is fixed finally by #3859

[2017-03-07 00:58] #2854 closed, assigned to krishnasrinivas, rushenn

[2017-03-07 00:59] #2817 closed, assigned to krishnasrinivas, rushenn

[2017-03-07 02:50] #3844 closed, assigned to krishnasrinivas, rushenn

[2017-03-07 09:16] maxim-rstor opened #3862 "Notification documentation seems out of date"
The examples of notification data stored in external storages look like JSON, but it doesn't seem to be JSON now.

E.g., an example for the event data stored in Redis in the doc (https://docs.minio.io/docs/minio-bucket-notification-guide#Redis):

`1474321638.556477 [0 127.0.0.1:40190] "RPUSH" "bucketevents" "{\"Records\":[{\"eventVersion\":\"2.0\",\"eventSource\":\"aws:s3\",\"awsRegion\":\"us-east

[2017-03-07 09:23] scratchoo commented on #3847
@harshavardhana ok thank you I will wait to see the refresh button, it will make things easier..

This is the error I get when I try to run the server :

[code]
When I run the above command the very first time, it worked but after I exit the server and come back then try to run it again, I get that error now every time!

I meant a lot of things aren't clear and sometimes luck of details written in

[2017-03-07 09:39] harshavardhana commented on #3847
The problem is awareness of `docker` like tools, We cannot possibly document other tools as well.  So the document is kept minimal so that you can start running `minio server` without further distraction.

Thanks for the feedback we will see how these can be improved. // cc @NitishT

So here the situation is the default behavior of docker.  docker attaches a volume to a container, even if you exit

[2017-03-07 14:59] hentismith commented on #3575
Hi @harshavardhana

I'm busy working on the Debian package for minio and minio/cli is listed as a dependency. minio/cli is a fork of  urfave/cli. Will minio always depend on minio/cli without the changed being merged back to urfave/cli ? If so how do I log an issue ?

[2017-03-07 15:23] jtilander commented on #3852
Uploading to play.minio.io worked fine. Is that also running in a distributed mode?

I'm using MacOS 10.12.3, Safari 1.0.3, Docker 17.03.0-ce, build 60ccb22 and minio: don't know, I just pulled the latest from docker hub. The version tag says:

/usr/bin # /go/bin/minio --version
Minio version 0.0.0

[2017-03-07 16:03] harshavardhana commented on #3575
We have a PR pending upstream and do not know when it might get merged. But as a Debian package maintainer you don't need to package all the deps. All the relevant deps are already present .. in a vendorized directory. So in future if we migrate to a newer CLI debian package doesn't have to do anything.

[2017-03-07 17:45] vielmetti opened #3864 "docker: Add multiarch docker support for minio"
## Expected Behavior

`docker run minio/minio` results in a working system on all supported platforms, using `multiarch` support in the Docker manifest to pull in each of the supported minio versions for various hardware.

## Current Behavior

An error message like`panic: standard_init_linux.go:178: exec user process caused "exec format error"` happens when you run the amd64 Docker image on an arm

[2017-03-07 19:59] danyaljj opened #3866 "Minio web interface: buckets with longer name"
Here is what I have:

<img width="768" alt="screen shot 2017-03-07 at 1 55 46 pm" src="https://cloud.githubusercontent.com/assets/2441454/23675156/062c7b6e-033e-11e7-973e-1a6c78175c2b.png">

As you can see the bucket names are long and are cut. So I have to go through them one by one to find the one I'm looking for. Would be great if you can move the margin between the bucket list and the content

[2017-03-07 21:54] GarimaKapoor commented on #3759
@kp are you working on this currently?

[2017-03-07 21:57] GarimaKapoor commented on #3736
@koolhead17 what is the timeline for this doc?

[2017-03-07 23:47] harshavardhana commented on #3852
Play runs erasure coded mode with 8 local disks, IMHO i don't think so this is related to distributed minio.  We have continuous servers running everyday on 8-16 nodes. The issue from what i can think is related to macOS networking which is little flaky with docker.

Can you do 'minio version' instead?  `--version` had a bug which is fixed in master.  Also your docker version looks strange? are yo

[2017-03-08 00:29] maxim-rstor opened #3869 "Redis notification removes the previously recorded record when a user deletes an object"
## Expected Behavior
Minio notifies Redis and all the events are getting stored in Redis.

## Current Behavior
If you create an object, Minio creates a new key in Redis. When you deletes that object then, Minio removes that key from Redis. The expectation is that notifications and the records created for them are basically a log of operations on data. While currently it's not, the current behavior

[2017-03-08 00:32] harshavardhana commented on #3869
This is a perfectly expected behavior - What you need is change in notification config on your end such that you are only interested in "ObjectCreates" and not "ObjectDeletes" .

[code]

[2017-03-08 00:36] maxim-rstor commented on #3869
I haven't specified anything (just mc events add s3/mybucket arn:aws:sqs:us-west-2:444455556666:your-queue), so I would expect all the log records to be stored in Redis.

This is not expected behavior to have the previously logged events deleted. If you got one, it is supposed to persist forever. Otherwise, it is getting inconsistent, and technically useless.

[2017-03-08 00:37] maxim-rstor commented on #3869
PS We need to have both "put" and "delete" stored in the event log (Redis or any other storage) if it was not clear. That's the whole point of event notifications – to keep track of every event happened.

[2017-03-08 00:55] harshavardhana commented on #3869
This is an expected behavior for all database notification targets like

- postgres
- redis
- elasticsearch

If you haven't specified to filter anything out by default Minio generates events for all  i.e for both ObjectCreate and ObjectDelete.

[code]

For an audit log you should not use redis target.  Use logging services like

 - kafka
 - amqp
 - nats
 - webhook

If you still want to use redis t

[2017-03-08 01:02] maxim-rstor commented on #3869
I guess you are missing the point that people treat events the same way regardless of where the storage is being. In your scenario you provide the same functionality but it works completely different depending on if the user uses Kafka or Postgres. This doesn't seem right. Generate different keys or something to store all the events and not delete them – that's totally up to you, but the functiona

[2017-03-08 01:08] koolhead17 commented on #3736
@GarimaKapoor I will be done with this by today.

[2017-03-08 01:11] harshavardhana commented on #3869
Providing feedback is welcome not denying that, but the database targets are not implemented  for this purpose. So it is working as expected because a database update for notification target is implemented to capture the state of the object storage not to behave like an audit log.  So think of it like a namespace replica which is quite useful for applications which like to query database instead o

[2017-03-08 01:32] maxim-rstor commented on #3869
`the database targets are not implemented`

This doesn't make sense to me, sorry. It only depends on how you design your database schema. No one forbids you to store the operation in a separate column in a table to have (e.g., id, ip_address, operation, timestamp). Same with Redis, you could generate keys differently, or use some other data structure there.

I mean, it's not the limitations of som

[2017-03-08 01:50] harshavardhana commented on #3869
Its not a limitation just geared towards addressing a different use case. Database from our point of view is a namespace target rather than a auditing endpoint.

Let me discuss this internally about providing a different behavior for database targets more in line with notification queues like NATS and AMQP by flipping a simple config option. For now this is the current behavior.

[2017-03-08 03:28] krisis commented on #3759
@garima Yes I am working on this issue. Healing of an object when xl.json is missing in some disks is fixed. Healing of uploads remains to be fixed. It involves the following sub-tasks,
- Listing of uploads of a given bucket and prefix that needs to be healed.
- Healing of all uploads given the bucket and object.

[2017-03-08 10:47] koolhead17 commented on #3736
Doc has been shared with @NitishT for final review & will be merged in cookbook.

[2017-03-08 16:28] thoughtpalette opened #3871 "Default Minio Access/Secret Keys on Rancher Install."
On initial Rancher container install of minio using the default `server /export` command to start it on port `9000`. I get to a login page where it asks to provide credentials for access/secret keys.

I've been unable to find any documentation around default install keys or how to generate them through the command line.

Can anyone point me in the right direction?

[2017-03-08 16:42] thoughtpalette commented on #3871
Solved by viewing the Logs in the container.

[2017-03-08 16:42] #3871 closed, assigned to nobody

[2017-03-08 17:02] harshavardhana commented on #3871
You can also set them using envs with custom values

Envs

- MINIO_ACCESS_KEY
- MINIO_SECRET_KEY

[2017-03-09 02:57] heri opened #3873 "Ubuntu install from source fails at vet"
## Expected Behavior

I want to install minio on a fresh Ubuntu server on digitalocean. I followed instructions in README + https://docs.minio.io/docs/how-to-install-golang

Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-64-generic x86_64) 2GB ram 2CPU

go env shows:
[code]

## Current Behavior
I get the following with make
[code]

I did not work with go v1.7.5. I tried with other version v1.7.1, 1.7.2, 1.7.

[2017-03-09 03:13] harshavardhana commented on #3873
This should be something recent not reproducible on my `Ubuntu 16.04`  with go 1.7.5

[code]

[code]

[2017-03-09 04:42] #3873 closed, assigned to harshavardhana

[2017-03-09 05:49] nitisht commented on #3736
PR created : https://github.com/minio/cookbook/pull/142

[2017-03-09 11:59] jmdh commented on #3575
Hello,

A Debian package uploaded to Debian will need to have all its deps
packaged separately - embedding code copies in Debian is a both a
security nightmare and against policy:

https://www.debian.org/doc/debian-policy/ch-source.html#s-embeddedfiles

https://pkg-go.alioth.debian.org/packaging.html (dependencies)

On Tue, Mar 07, 2017 at 08:03:40AM -0800, Harshavardhana wrote:

[2017-03-09 15:16] heri commented on #3873
Thanks @harshavardhana - it works on my side

[2017-03-09 15:29] JarrodAMcEvers opened #3878 "Use Minio without keys"
Is there a way I can use Minio server without an access key and a secret key?

[2017-03-09 16:48] nitisht commented on #3736
Fixed by minio/cookbook#142

[2017-03-09 17:20] #3736 closed, assigned to koolhead17

[2017-03-09 18:34] krishnasrinivas commented on #3878
@JarrodAMcEvers you can start start minio with access/secret keys and create public buckets:

`mc policy public myminio/bucketname`

Starting with access/secret keys is not allowed.

[2017-03-09 18:43] vadmeste opened #3880 "Minio can be started with access/secret keys empty in config.json"
## Expected Behavior
Minio shows an error when empty string are set to access and secret keys

## Current Behavior
Minio starts normally

## Possible Solution
Add validation to access and secret keys, possibly in config extensive validation

## Steps to Reproduce (for bugs)
1. Start fresh Minio
2. Edit config.json and set empty string to access and secret key fields
3. Start Minio again

## Contex

[2017-03-09 18:43] harshavardhana commented on #3878
Closing this as answered.

[2017-03-09 18:43] #3878 closed, assigned to nobody

[2017-03-09 19:06] scratchoo commented on #3847
@harshavardhana

I moved away from docker and now my minio is installed in a linux machine directly which is fine :)
I also set up a domain name to the ip address of my droplet (DO) and it's working fine.

Is there a way to hide the login page under a  dummy sub-domain or sub-folder ? I mean when someone visit my domain name domain.com he shouldn't see the login page to my minio, instead I want th

[2017-03-09 19:20] harshavardhana commented on #3847
You should do this using nginx proxy in front of Minio, this is out of scope for Minio.

[2017-03-09 22:06] #2825 closed, assigned to nitisht

[2017-03-09 22:07] harshavardhana commented on #3489
Fixed by - https://github.com/minio/minio/pull/3684

[2017-03-09 22:07] #3489 closed, assigned to nitisht

[2017-03-09 22:10] harshavardhana commented on #3866
Fixed by https://github.com/minio/minio/pull/3877

[2017-03-09 22:10] #3866 closed, assigned to rushenn

[2017-03-09 22:22] harshavardhana commented on #3575
These are not embedded files in-fact are part of the project itself. We decided which is the right version of each of the packages along with how go tooling works.  It would be a bad experience for users to install a simple static binary via this kind of mechanism. All it should be is a simple static binary packaged in a `.deb` file nothing more.

[2017-03-10 02:37] JarrodAMcEvers commented on #3878
Okay thanks for the quick reply

[2017-03-10 08:22] Atlantic777 opened #3881 "browser: Chaning ordering will duplicate object entries in the table"
## Expected Behavior

When I click on the header of a column, I expect ordering to be changed but number of entries should be the same as before and entries should not be duplicated.

## Current Behavior

Each time I click on a column header, new rows are appended at the end of the table. They are indeed ordered properly.

## Possible Solution

Remove old rows from the table before new ones are ap

[2017-03-10 08:34] harshavardhana commented on #3881
Fixed by

commit fcad4a44fd01279955921a8c4054820d396021da
Author: Rushan <rushenn123@gmail.com>
Date:   Wed Mar 1 02:41:34 2017 +0530

    Browser: Remove duplicate object entries while sorting (#3813)

[2017-03-10 08:34] #3881 closed, assigned to rushenn

[2017-03-10 09:10] hentismith commented on #3575
Good morning.

Debian packaging doesn't work that way. From https://wiki.debian.org/Packaging:

As you can see Debian policy requires a source package that can build the binary package and binary only packages will not be accepted.

I'll keep working on packaging minio if I can and update here.

[2017-03-10 16:41] alpswjc opened #3883 "server: Minio crashed due to thread exhaustion under high load."
here is the log

[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
VERSION:
  2017-02-16T01:47:30Z

* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version:
* Link to your project:

[2017-03-10 17:01] harshavardhana commented on #3883
Can you provide us reproducing steps here? Can you explain further what were you trying to do etc.?

Thanks

[2017-03-10 17:07] harshavardhana commented on #3856
Fixed in the latest master as well with new requirements.

[2017-03-10 17:07] #3856 closed, assigned to vadmeste

[2017-03-10 17:11] harshavardhana commented on #3791
Ping @rushenn ..

[2017-03-10 17:39] alpswjc commented on #3883
Yes. we have about 4000-5000 concurrent uploads going on at the same time, and about 4-5 mts.  Minio service crashed. could you please let  me know how to increase the thread ?

[2017-03-10 18:53] rushenn commented on #3791
Thank you gitjeff05

@bugs181: Fixed the issue using a polyfill as @gitjeff05 mentioned. Can you please merge the changes from branch https://github.com/rushenn/minio/tree/objectassign-polyfill and let us know the outcome?

[2017-03-10 19:10] harshavardhana commented on #3791
@bugs181 @gitjeff05 - to run a local test server navigate to `browser` directory. You can do

[code]

[2017-03-10 21:14] harshavardhana commented on #3883
@alpswjc can you provide us output of `ss -t` when the server is about to reach 4000 connections? and after the crash?

[2017-03-10 22:31] harshavardhana commented on #3791
Fixed by #3884 - closing this bug as fixed - please re-open if you see problems @bugs181 @gitjeff05  - note browser assets are not yet updated. Until then you can test the changes with `npm run dev` in the `browser` folder.

[2017-03-10 22:31] #3791 closed, assigned to rushenn

[2017-03-12 12:20] minherz commented on #3791
The same problem (with different error log) happens in IE11.
On launching minio Web UI, the screen is stuck in launching animation and does not get to login.
The following error is displayed in console log:
[code]

[2017-03-12 18:34] krishnasrinivas commented on #3791
@minherz we'll take a look.

[2017-03-13 04:25] harshavardhana commented on #3864
We have found a much simpler solution by using qemu multiarch - currently we have both Dockerfiles maintained `aarch64, armhf`

Is the manifest-tool endorsed by docker? @vielmetti

[2017-03-13 04:26] harshavardhana commented on #3852
Were you able to test with docker 1.13 ? @jtilander

[2017-03-13 04:26] harshavardhana commented on #3818
ping @donatello

[2017-03-13 06:50] atifghaffar opened #3891 "Error when starting in distributed mode"
Hi,

When starting in distributed mode i-e using url scheme we get an error. Please point us where we are doing something wrong.
thanks

here is the setup

wget https://dl.minio.io/server/minio/release/linux-amd64/minio
chmod +x minio
sudo cp minio /usr/local/bin/

sudo /usr/local/bin/minio  server http://10.0.236.111/s3-storage
FATA[0001] http://10.1.236.111:9000/s3-storage, FS setup expects a fi

[2017-03-13 07:02] atifghaffar commented on #3891
$ minio version
Version: 2017-02-16T01:47:30Z
Release-Tag: RELEASE.2017-02-16T01-47-30Z
Commit-ID: 3d98311d9f4ceb78dba996dcdc0751253241e697

[2017-03-13 07:03] atifghaffar commented on #3891
The same was reproducable on my mac .

 ~   minio server http://192.168.33.139/var/tmp
FATA[0001] http://192.168.33.139:9000/var/tmp, FS setup expects a filesystem path  cause=Invalid arguments specified source=[server-main.go:274:checkServerSyntax()]

[2017-03-13 08:02] macray125 opened #3892 "docs: Please help me to integrate minio.io to Laravel 4"
Hi Ma'am/Sir

Please help me to integrate minio.io to Laravel 4.

CONFIGURATION
'credentials' => [
        'key'    => 'KEY'
        'secret' => 'SECRET', // Your AWS Secret Access Key
    ],
'endpoint' => 'http://steveharvey.db.weplay.media',

 $result = $s3->putObject(array(
                        'Bucket' => 'asksteveharvey',
                        'Key'    => 'testkey',

[2017-03-13 11:12] ZennouRachid opened #3894 "Use minio instead amazon S3"
#Im trying to use minio as i want to use minio for self-host instead amazon S3 in my custom Signal whisper system application(https://github.com/lucaconte/BeatTheMeddler) as it's described in this link (https://github.com/WhisperSystems/Signal-Server/pull/77), so my yml file configuration look like this :
s3:
accessKey: 1PAVK1425juiUAH
accessSecret: inhoKJSHDUIIrichskiY7Fpc9
attachmentsBucket: buc

[2017-03-13 11:20] vadmeste commented on #3894
@ZennouRachid, as I understood, WhisperSystems/Signal-Server still doesn't support S3 servers other than Amazon S3, https://github.com/WhisperSystems/Signal-Server/pull/77 is an open pull request which is not merged yet.

[2017-03-13 12:55] nitisht commented on #3891
@atifghaffar Minio distributed mode needs at least four servers. If there are less than four arguements passed to the `server` command, Minio takes it as standalone mode.

In standalone mode Minio server doesn't allow remote paths i.e. `http://` style paths is not allowed, hence the error.

[2017-03-13 12:56] atifghaffar commented on #3891
Thanks @NitishT, Will it start even if the other servers are not yet started?

[2017-03-13 12:58] nitisht commented on #3891
yes, you can use distributed Minio when all the servers are up and each of them can talk to others, before that they just wait for other instances to come online.

[2017-03-13 12:59] atifghaffar commented on #3891
@NitishT  it workes. I just realize that I cannot use a cluster with 5 nodes.. With 4 nodes it works.

So with 4 node cluster I need to have 3 hosts up for read/write to work. correct?

[2017-03-13 13:01] nitisht commented on #3891
You can use a cluster with 5 nodes as well. Max nodes = 16.

Yes (n (number of nodes) / 2) + 1 nodes

[2017-03-13 13:56] atifghaffar commented on #3891
@NitishT With 5 node, I get the following

$ sudo /usr/local/bin/minio  server http://10.1.236.111/s3-storage http://10.1.236.112/s3-storage http://10.1.236.113/s3-storage http://10.1.236.114/s3-storage http://10.1.236.115/s3-storage

FATA[0001] Insufficient number of disks.                 cause=Total number of disks should be multiples of '2' source=[server-main.go:270:checkServerSyntax()]

[2017-03-13 14:04] nitisht commented on #3891
@atifghaffar apologies, looks like only even number of disks are supported.

so you can have - 4, 6, 8, 10, 12, 14, 16 disks.

I am sorry for giving wrong information!

[2017-03-13 14:16] atifghaffar commented on #3891
@NitishT  its ok. I will increase the size to 6 nodes.

[2017-03-13 15:38] hentismith commented on #3575
Hi @harshavardhana

Can you please assist. When trying to build minio/cli I get the following

[code]

I've ci'ed the v1.2.0 tag on releases.

[2017-03-13 15:39] harshavardhana commented on #3575
Checking.. @henti

[2017-03-13 17:01] harshavardhana commented on #3894
Closing this as not a bug for Minio but an upstream issue..

[2017-03-13 17:01] #3894 closed, assigned to nobody

[2017-03-13 17:02] atifghaffar commented on #3891
Thanks for your help. All works now.

[2017-03-13 17:02] #3891 closed, assigned to nitisht

[2017-03-13 17:14] legolas49 opened #3895 "Mounting a minio bucket with s3fs return an error on list_buckets"
## Expected Behavior

hi,
i would like help if possible, when i try to mount a minio bucket with s3fs i have this error :

[ERR] s3fs.cpp:list_bucket(2516): xmlReadMemory returns with error.
[ERR] s3fs.cpp:s3fs_readdir(2437): list_bucket returns error(-1).

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. i mount using the command :
 s3fs -f -d -o use_path_request_st

[2017-03-13 17:36] vadmeste commented on #3895
@legolas49, there is a lot of projects called s3fs :) Can you just point us to which one are you talking about ?

[2017-03-13 17:48] legolas49 commented on #3895
Sorry

# s3fs --version
Amazon Simple Storage Service File System V1.80(commit:d40da2c) with OpenSSL
Copyright (C) 2010 Randy Rizun <rrizun@gmail.com>
License GPL2: GNU GPL version 2 <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

https://github.com/s3fs-fuse/s3fs-fuse

[2017-03-13 18:39] alexellis opened #3896 "docker: Minio in Docker should be able to read swarm secrets"
## Expected Behavior

When deploying Minio as a Docker container in Swarm Mode, I should be able to create a secure swarm secret with the access and secret keys. When minio starts, an additional flag should be able to specify the filename to read for secrets.

## Current Behavior

Current behavior generates secrets at start-up and these have to be edited manually outside the container, or created

[2017-03-13 20:14] harshavardhana commented on #3575
Published v1.3.0 let me know if that works for you.. @henti - https://github.com/minio/cli/releases

[2017-03-14 01:49] wey-gu opened #3898 "browser: [windows] IE11 got error: Object doesn't support property or method 'assign' for browser client"
## Expected Behavior
minio-server web-browser client got error from IE11 , which blocked the loading of initial authentication page.

## Current Behavior
Below is errors from IE11 F12 mode:
[code]

## Possible Solution

**simular fault:** https://github.com/mozilla-services/react-jsonschema-form/issues/206

## Steps to Reproduce (for bugs)

1. Deploy minio.exe for windows 64 bit
2. Access <serverI

[2017-03-14 02:29] krishnasrinivas commented on #3898
https://github.com/minio/minio/issues/3791

[2017-03-14 12:39] hentismith commented on #3575
@harshavardhana

Perfect, thank you.

[2017-03-14 17:34] nitisht commented on #3896
Hi @alexellis, thank you for the proposal. IMHO, adding a secret doesn't add much value in terms of security (specifically for Minio). This is because the Minio server is supposed to be started by someone who has access to the Swarm env (and hence the secret).

Once the server starts, users/applications accessing Minio will anyways need the credentials as well.

We did secrets in Kubernetes Helm p

[2017-03-14 18:01] jerome-vai commented on #3892
i have a same problem with an other app to integrate minio try with param    'path_style' => true in your client configuration :)

More info here :
https://gist.github.com/viccherubini/e3107493f078516555f3
https://github.com/aws/aws-sdk-php/issues/347

[2017-03-14 18:03] harshavardhana commented on #3898
Can you validate the fix in #3884 on IE11 @rushenn ?

[2017-03-14 22:22] harshavardhana opened #3901 "browser: Persistent ``Loading...``` message"
## Expected Behavior
No such message if there are no buckets available

## Current Behavior
Without any bucket browser shows "Loading..." message

![no-bucket](https://cloud.githubusercontent.com/assets/622699/23924875/cb878da0-08c9-11e7-9053-5cced3a0983c.png)

Observed while watching this demo https://vimeo.com/208089836

## Possible Solution
No sure.

## Steps to Reproduce (for bugs)

1. Start o

[2017-03-14 22:59] krishnasrinivas commented on #3901
I observed it as well :D

[2017-03-15 00:24] harshavardhana opened #3903 "docs: Self signed certificate fails on Ubuntu 16.04"
https://github.com/minio/minio/tree/master/docs/tls#with-openssl

## Expected Behavior
Certificates are generated properly

## Current Behavior

[code]

## Possible Solution
Country name should be

[code]

## Steps to Reproduce (for bugs)

Just follow the referred document link.

## Context
To be able to configure SSL

## Your Environment
All versions.

[2017-03-15 02:07] #3901 closed, assigned to krishnasrinivas, rushenn

[2017-03-15 02:18] harshavardhana opened #3905 "docs: Remove extraneous spaces in code segments"
## Expected Behavior
No unnecessary space in code segments i.e after ```

## Current Behavior
We added spaces to cater for redcarpet bug in doctor, we need to revert these changes and use regular markdown style.

## Possible Solution
Remove extraneous spaces.

## Steps to Reproduce (for bugs)

Visit docs.minio.io

## Context
Cleanup to remove custom changes from previous work.

[2017-03-15 18:33] harshavardhana commented on #3892
Can you confirm if @jeje-50 suggestion works @macray125 ?

[2017-03-15 18:35] harshavardhana commented on #3880
Is this still a bug @vadmeste ?

[2017-03-15 18:43] harshavardhana commented on #3880
Perhaps this PR fixes this problem https://github.com/minio/minio/pull/3893

[2017-03-15 19:14] waynekoepcke opened #3908 "docs: How to use Minio with Apache Drill"
Has anyone used minio as an Amazon S3 server for Apache Drill?
I'm wondering if it is possible.  I tried but couldn't get a working configuration.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating S

[2017-03-15 19:19] harshavardhana commented on #3908
Can you take some time to fill out the following which have been left empty from the issue template?

- minio version
- apache drill version
- apache drill configuration

Also if possible steps to reproduce.

[2017-03-15 20:17] vadmeste commented on #3880
Extensive config validation also does this.

[2017-03-15 22:25] harshavardhana commented on #3908
Other relevant params to use Minio with Apache Drill.

[code]

[2017-03-15 22:54] waynekoepcke commented on #3908
Hi Harsha

This is great!  I'll give it a try and get back to you.

Thanks
Wayne

[2017-03-15 23:30] #3812 closed, assigned to vadmeste

[2017-03-15 23:30] harshavardhana commented on #3880
Fixed by #3872

[2017-03-15 23:30] #3880 closed, assigned to balamurugana

[2017-03-15 23:31] harshavardhana commented on #3697
Fixed by #3872

[2017-03-15 23:31] #3697 closed, assigned to vadmeste

[2017-03-15 23:38] vadmeste commented on #3895
@legolas49,

*) The endpoint url is http://xx.xx.xx.xx:9000/ without 'minio'. So you need to pass `-o url=http://xxxx.xxxxx.xxx:9000/`
*) I noticed that you passed `eu-central-1` region, did you also set `eu-central-1` in Minio config ?
*) I added one fix that enhances s3fs support with Minio. However, it still can't support mkdir.

Currently, to test, you need to download the source and compile t

[2017-03-16 03:25] wey-gu commented on #3898
@harshavardhana sorry for bothering, I downloaded the binary minio server for [windows x64](https://dl.minio.io/server/minio/release/windows-amd64/minio.exe) while it's still old version, When could that download link be updated please?

[2017-03-16 03:26] harshavardhana commented on #3898
We will update it soon @littlewey ..

[2017-03-16 06:15] JYang1986 opened #3911 "minio log:"Unable to fetch object info." cause="../myobjects78/fs.json: bad file descriptor""
When I use the COSBench test the following configuration file , use Amazon S3 , with 3 drivers

`<workload name="get-200Workers-256KB" description="sample benchmark for s3">
 <storage type="s3" config="accesskey=test;secretkey=test;endpoint=http://192.168.222.76:9000" />
<workflow>
 <workstage name="init">
      <work type="init" workers="200" config="cprefix=s3testqwer;containers=r(1,2)" />
    <

[2017-03-16 06:47] harshavardhana commented on #3911
We fixed this bug possibly related in the master branch since 2b0ed21f083e3333bc4508b8c1d0266d7385eca6 . If you can give master branch a try that would be immensely helpful.. @Saber-Yang

Thanks for doing this btw, we will also run these tests on our end as well - do you have any special cosbench profile or the CLI params that you can share with us for us to replicate?

[2017-03-16 06:57] macray125 commented on #3892
didn't work

[2017-03-16 07:00] harshavardhana commented on #3892
What is the error? any log file ? code snippet ? that you care to share?

[2017-03-16 07:08] macray125 commented on #3892
still the same

ERROR JSON RETURN
{
  "error": "Something went wrong.[curl] 6: Could not resolve host: asksteveharvey.steveharvey.db.weplay.media [url] http://asksteveharvey.steveharvey.db.weplay.media/questions/images/632/question_img_f6e5525f4eee77e3b33c09f8d9385c4f.jpg"
}

[2017-03-16 07:08] JYang1986 commented on #3911
Thank you for answer my issue. I will test the master branch, if also have problem , then I also comment a issue.

[2017-03-16 07:09] macray125 commented on #3892
Im using aws-sdk-php and aws-sdk-php-laravel

[2017-03-16 07:12] koolhead17 commented on #3892
@macray125 what exactly are you trying to achieve and @harshavardhana asked for code snippet so we would know what and how you are running minio. Please provide us the same.

[2017-03-16 07:32] macray125 commented on #3892
may bucket name is "asksteveharvey" and my endpoint is 'endpoint' => 'http://steveharvey.db.weplay.media',

apparently the bucketname is concatenating   to endpoint that's why I'm getting http://asksteveharvey.steveharvey.db.weplay.media and it causing error.
 below is may code snippet
`
config/aws.php
return array(
    'key'    => 'key here', // Your AWS Access Key ID
    'secret' => 'secret here

[2017-03-16 09:34] legolas49 commented on #3895
@vadmeste
Hi,
First thanks for your response.

1/ Ok i will change the endpoint like explained.
2/ Yes i have this region in Minio config.
3/ i use minio in docker, where i can download your fix? I compile with Make? I have to reinstall minio server?

Regards

[2017-03-16 10:13] koolhead17 commented on #3892
@macray125

You are using older version or aws-php-laravel which uses ([aws/aws-sdk-php:~2.4](https://github.com/aws/aws-sdk-php-laravel)). aws-sdk-php:~2.4 is a older AWS client library which uses virtual path style.

Can you try latest Laravel 5.1 which uses aws-sdk-php:~3.X.

References:
1. https://github.com/aws/aws-sdk-php/issues/1129
2. https://github.com/aws/aws-sdk-php-laravel

[2017-03-16 10:44] vadmeste commented on #3895
If you are using docker, you can download this image `minio/minio:edge` which contains the fix.

[2017-03-16 10:49] legolas49 commented on #3895
great, thanks

[2017-03-16 20:42] waynekoepcke commented on #3908
Hi,

Using these properties allowed my local drill server was able to communicate with my local minio server using the drill s3 connector.  However queries are failing.  I think the best way to show this is to include an image of the drill explorer.  I'll add the error from the minio log below as well as my Apache Drill configuration.

Thanks for all your help!

## Drill explorer with query and er

[2017-03-16 20:50] deekoder opened #3916 "Notify object access in event notification APIs"
Currently DELETE and PUT are supported. Add support for GET & HEAD as well.
s3:ObjectAccessed:Get
s3:ObjectAccessed:Head
s3:ObjectAccessed:*

[2017-03-16 21:03] waynekoepcke commented on #3908
The version information
## Minio
Version: 2017-02-16T01:47:30Z
Release-Tag: RELEASE.2017-02-16T01-47-30Z
Commit-ID: 3d98311d9f4ceb78dba996dcdc0751253241e697

## Apache Drill version
apache drill 1.8.0

## OS
Apple
Darwin 15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64

[2017-03-16 21:06] harshavardhana commented on #3908
@waynekoepcke this is expected we don't support object names which have "/" at the end.

[2017-03-16 21:20] waynekoepcke commented on #3908
'/' at the end or anywhere in the path?  Is there a drill query that would work.
For example if the full path on the minio server is
bucket1/data/account/20161229/0_0_0.parquet

Would a drill query to the root folder like this work
DESCRIBE s3.root`./data/account/20161229/0_0_0.parquet`;

Or are you saying queries on objects at the top of the bucket are supported.
Queries on objects in subdirector

[2017-03-16 21:36] deekoder opened #3917 "listenBucket notification and event notifications APIs need to be extended and modified"
modify :  events -> source string needs to be "minio:s3" instead of aws:s3
add: sourceUserAgent : "User Agent"
add: sourcePort:"Port"

https://github.com/minio/mc/issues/2073 depends on this.

Links
* http://docs.aws.amazon.com/AmazonS3/latest/dev/notification-content-structure.html
* https://aws.amazon.com/blogs/aws/s3-event-notification/

[2017-03-16 21:57] harshavardhana commented on #3908
It is HEAD on "data/"

[2017-03-16 22:23] waynekoepcke commented on #3908
Thanks for the explanation.

[2017-03-16 22:37] harshavardhana commented on #3908
Can you test with the latest release? we made a different set of change to not return object name invalid where as just to return 404. Can you try ? @waynekoepcke

Thanks

[2017-03-16 22:41] harshavardhana commented on #3911
We made a new release you can try that as well..

[2017-03-16 23:39] deekoder opened #3919 "docs: Images need an overhaul to match styles on docs.minio.io"

[2017-03-17 01:44] macray125 commented on #3892
I'm using laravel 4. Is still compatible if I change the version of aws-sdk-php and aws-sdk-php-laravel for laravel 4?

[2017-03-17 03:26] koolhead17 commented on #3892
@macray125

Will it be possible to test your code on:

aws-sdk-php-laravel 3.x - For laravel/framework:~5.1 and aws/aws-sdk-php:~3.0  for the reason i stated previously.

[2017-03-17 03:38] JYang1986 commented on #3911
@harshavardhana I make the master  branch yesterday

[root@test02 minio]# git log
commit 21d73a3eefc6ade7e65e761bcb0a789bda3ecb78
Author: Bala FA <bala.gluster@gmail.com>
Date:   Thu Mar 16 12:46:06 2017 +0530

    Simplify credential usage. (#3893)

and then test, this issue does not appear thank you for fix bug.

[root@node76 lminio]# cat /var/log/messages | grep minio
......
Mar 17 08:56:24 nod

[2017-03-17 03:50] harshavardhana commented on #3911
Thanks @Saber-Yang you can email me at harsha@minio.io

[2017-03-17 03:50] #3911 closed, assigned to harshavardhana

[2017-03-17 05:25] harshavardhana commented on #3919
Current images are either too big for the surround text.. or some characters are too bold. We should match the image text fonts with the surrounding fonts.

[2017-03-17 16:05] obrienmd opened #3923 "Distributed minio across WAN, clients send some traffic then stall"
I have configured minio distributed using Linux x64 binaries and concert for certs, on two host servers each with two volumes. Any client I attempt to use authenticates and connects as expected, but bucket and file creation stall.

## Expected Behavior
Tested clients (minio web UI, mc, Cyberduck) would not stall on bucket creation or file upload. Buckets and files would be created fairly quickly (

[2017-03-17 16:21] harshavardhana commented on #3923
Can you paste the network throughput I.e

- iperf (output)

[2017-03-17 16:23] #3905 closed, assigned to nitisht

[2017-03-17 16:26] harshavardhana commented on #3759
Fixed by #3885 #3914

[2017-03-17 16:26] #3759 closed, assigned to krisis

[2017-03-17 16:29] #3818 closed, assigned to donatello

[2017-03-17 16:29] obrienmd commented on #3923
Between the two servers I assume?

[2017-03-17 16:31] harshavardhana commented on #3923
Yes between server to server..

[2017-03-17 16:44] obrienmd commented on #3923
Looks like this both ways (ran iperf on port 9k so I didn't have to do any firewall fiddling):

[  3] local host1 port 43268 connected with host2 port 9000
[ ID] Interval       Transfer     Bandwidth
[  3]  0.0- 1.0 sec  96.5 MBytes   809 Mbits/sec
[  3]  1.0- 2.0 sec  96.7 MBytes   811 Mbits/sec
[  3]  2.0- 3.0 sec  96.5 MBytes   810 Mbits/sec
[  3]  3.0- 4.0 sec  97.1 MBytes   815 Mbits/sec
[  3

[2017-03-17 16:49] obrienmd commented on #3923
Note - per original posts, servers are about 55ms apart. Jitter is generally very low.

[2017-03-18 00:30] GarimaKapoor commented on #3916
@krisis can you take a look at this issue?

[2017-03-18 00:31] GarimaKapoor commented on #3917
@krisis please take over this issue. It is priority feature.

[2017-03-18 00:32] GarimaKapoor commented on #3727
@hackintoshrao How much more work is pending on this issue?

[2017-03-18 00:35] GarimaKapoor commented on #3722
@koolhead17 please review all the docs for this inconsistency and work with @NitishT to close this issue.

[2017-03-18 02:20] hackintoshrao commented on #3727
It needs refactoring of the tests too. Will continue with this once the Minio-Mesos distributed integration is finished.

[2017-03-18 06:11] virtuman opened #3925 "Total Capacity - can't figure out if this is a mistake or if I'm just not doing something correctly"
Just tried deploying minio on docker swarm and getting some very mixed messages.

I launched the sample docker-compose with the command as described in the
https://github.com/minio/minio/tree/master/docs/orchestration/docker-swarm

however after it launched, I'm getting this message that only 4.4 GB is available out of 226GB, but based on the attached logs it seems somewhat invalid. Both the logs

[2017-03-18 06:39] krishnasrinivas commented on #3925
@virtuman looks like a bug, we'll investigate.

[2017-03-18 06:51] harshavardhana opened #3926 "benchmark: fsCreateFile throws unexpected EOF while running cosbench"
## Expected Behavior
No such message

## Current Behavior
[code]

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Run cosbench with attached
[controller.zip](https://github.com/minio/minio/files/852215/controller.zip)

## Context
Running benchmarking tools successfully..

## Your Environment
FusionIO NAS backend, latest minio.

[2017-03-18 06:52] harshavardhana commented on #3925
Can you update your docker image? we have recently made a release which you should try and let us know if this is reproducible still - Thanks

[2017-03-18 06:56] harshavardhana opened #3927 "config: deprecate logger log levels"
- remove 'log-level' for loggers.
- rename `fileName` for file logger as `filename`.

migrate the config to version 16.

## Expected Behavior
Currently log-levels are kind of pretty much useless because we do not have any extensive logging.

## Current Behavior
log-levels are supported and parsed which do not provide much value to the end user and ends up confusing them.

## Possible Solution
Fix

[2017-03-18 07:11] harshavardhana opened #3928 "notification: [feature] Support `access` event format for database backends."
Currently on our database targets

- redis
- elasticsearch
- postgres
- mysql

Update the target table / entries - keeping the state of the bucket namespace replicated, while this is one of required features. There is also another growing need to save all the generate events in the database while not replicating the namespace but instead we are saving the access information.

For this to happen we

[2017-03-18 07:13] balamurugana commented on #3927
What if I want to save <= fatal log level in a separate file target?

[2017-03-18 07:14] harshavardhana commented on #3869
Architecture review has been approved we will be implementing a special option which differentiates the behavior. Closing this bug for now.. https://github.com/minio/minio/issues/3928

[2017-03-18 07:14] #3869 closed, assigned to harshavardhana

[2017-03-18 07:30] harshavardhana commented on #3927
Most deployments do not even touch these values + they are not adding value anymore since we don't have egregious log-levels in our codebase.  Just one less thing to document and explain.

We can easily ignore that case..

[2017-03-18 08:03] balamurugana commented on #3927
Ignoring will lead to bloated log file in a long run.  Another case is, if we support other log targets, user may like to save certain log levels to different target.

[2017-03-18 08:10] harshavardhana commented on #3927
When it happens we will bring whatever is necessary at that point in time. There are not open requirements for now.

[2017-03-18 21:39] pgaskin opened #3933 "browser: Add button to create directory in web interface"
There should be an button to create a directory in the web interface. Currently, to create a directory, I either have to do it from the command line or append it to the url.

[2017-03-18 21:41] harshavardhana commented on #3933
We don't allow creating directories on Minio and have no plans on supporting it. But we can explore providing a way to upload a file to a specific path rather than top level.

Thanks for opening the bug @geek1011

[2017-03-18 21:46] pgaskin commented on #3933
@harshavardhana Directories work perfectly fine for some reason if I just append it to the URL.

[2017-03-18 21:47] harshavardhana commented on #3933
Yes prefixes are created if there is an object referenced but plain empty directories are not allowed.

[2017-03-18 21:47] pgaskin commented on #3933
@harshavardhana So is this meant to happen?

[2017-03-18 21:49] harshavardhana commented on #3933
Prefixes are supposed to be created since its a flat namespace ,, but empty prefixes with no object are not allowed. We don't send an error but its a no operation i.e nothing is created on the backend.

[2017-03-18 21:49] pgaskin commented on #3933
@harshavardhana OK, thanks for the clarification.

[2017-03-18 22:47] krishnasrinivas commented on #3933
yes, if you want to upload a file to a non-existent directory, you can directly enter the directory path in the address-bar and upload the file.

[2017-03-19 16:14] vadmeste commented on #3927
@harshavardhana what will be the default log value internally in the code ?

[2017-03-19 19:36] harshavardhana commented on #3927
there is no log-level all log-levels are enabled.. @vadmeste

[2017-03-20 03:30] wey-gu commented on #3898
@krishnasrinivas sorry it seems the mino.exe built on 2017-3-16 was still with this issue, it's still blocked in login interface. Should I raise another issue?

[code]

[code]

[2017-03-20 05:44] krisis commented on #3917
@deekoder I have couple of clarifications.
- From the links in description, it appears that `sourceUserAgent` and `sourcePort` are specific to minio. Is this right?
-  Does the event message structure change apply to notification targets like Redis, Postgres, etc as well?

[2017-03-20 07:03] krishnasrinivas commented on #3898
@rushenn  can you try adding
[code]
to .babelrc? ping me for access to the windows machine. I can see the bug on IE11

reference: https://babeljs.io/docs/plugins/transform-object-assign/

[2017-03-20 07:44] stephenreay opened #3936 ""Delete selected files" doesn't work in sub-path via Web-UI"
Selecting one more files in a sub-path (i.e. /foo/bar/baz.file) of a bucket and then clicking the "Delete selected" button does not work correctly.

## Expected Behaviour
The selected file(s) should be deleted.

## Current Behaviour
The selected files are removed from the current view, but return on refresh.

## Possible Solution
Maybe related to #3839  ?

## Steps to Reproduce (for bugs)

1. Go t

[2017-03-20 07:46] harshavardhana commented on #3936
Do you have a giffy or screenshot - i can't seem to reproduce this. @stephenreay .. Thanks

[2017-03-20 08:00] stephenreay commented on #3936
I have a screen recording of it, but it gets pretty crapped out as a gif. I can't UL the m4v to GH directly, so its using the bucket from the recording to store the screen rec: https://play.minio.io:9000/test-bucket-stephenr/no-worky.m4v

[2017-03-20 08:24] harshavardhana commented on #3936
Does individual delete works ? i.e clicking on the one right next to generating shareable URL?

[2017-03-20 08:24] stephenreay commented on #3936
Yes, that works correctly.

[2017-03-20 09:23] rushenn commented on #3898
@krishnasrinivas checking

[2017-03-20 09:41] krisis commented on #3917
@deekoder @harshavardhana Does `sourcePort`  and `sourceUserAgent` refer to the client making API requests like `PutObject` to Minio server?

[2017-03-20 09:43] harshavardhana commented on #3917
Yes any client be it presigned based curl upload, browser upload etc.

sourcePort is an additional field
sourceUserAgent is just the userAgent obtained from request header.

[2017-03-20 11:56] donatello commented on #3850
Update on this:

1. FS mode minio works fine.
2. Single node XL mode does not appear to be supported, because Bosh seems to support only a single persistent disk per "job".
3. For dist-XL, there is a port clashing issue within the bosh-lite VM and the containers it attempts to launch - minio server in cluster mode fails to start with a message about bind address already taken.

This work in progre

[2017-03-20 20:46] harshavardhana opened #3939 "build: Reduce release binary sizes for minio releases"
## Expected Behavior
Binary sizes can be made as small as 5.6MB from 24MB current release using upx.

## Current Behavior
Currently no binary size reduction is attempted.

## Possible Solution
Use - https://upx.github.io/ and also along with `go build --ldflags "-s -w"`

## Steps to Reproduce (for bugs)
Just `make` and check the resulting binary size.

## Context
This is for faster to download and

[2017-03-20 20:48] harshavardhana commented on #3939
// cc @hackintoshrao once this change is done - need your help in validating the sanctity of the binary so that we don't expect any unexpected issues.

[2017-03-21 01:27] krishnasrinivas commented on #3898
@rushenn :
[code]

this was the only way I could make it work. The webpack config solution was not working on IE11 for some reason.

You can undo `transform-object-assign` related changes.

[2017-03-21 08:04] JYang1986 commented on #3926
minio server environment
[root@node77 minio_test]# df -h
Filesystem               Size  Used Avail Use% Mounted on
/dev/mapper/centos-root   50G   16G   35G  31% /
devtmpfs                 126G     0  126G   0% /dev
tmpfs                    126G   36K  126G   1% /dev/shm
tmpfs                    126G  1.8G  125G   2% /run
tmpfs                    126G     0  126G   0% /sys/fs/cgroup
/dev/sdc

[2017-03-21 08:17] rushenn commented on #3898
@krishnasrinivas https://github.com/minio/minio/pull/3942

[2017-03-21 08:55] stephenreay opened #3943 "browser: Download all as Zip doesn't work correctly"
The "download all as zip" button is non-functional.

## Expected Behaviour
Select one or more files, click download button, ZIP file downloads

## Current Behaviour
When logged out (i.e. using a bucket with public read policy), the console shows a 403 error.

When logged in using Safari (v10) the console shows an error about frame interrupted:
[Error] Failed to load resource: Frame load interrupte

[2017-03-21 11:09] donatello commented on #3916
Perhaps `s3:ObjectAccessed:Copy` should also be added for an object being copied via server side copy-object request?

[2017-03-21 14:46] aead opened #3946 "bit-rot: Use faster hash functions for bit-rot detection"
Minio's erasure coding / bit-rot detection currently relies on BLAKE2b (and SHA-256 on arm).
It's not necessary to use a cryptographic secure general purpose hash function - weaker hash function properties are sufficient for minio's purposes.

## Expected Behavior
The bit-rot detection requires following properties:
 - The hash must be collision resistant. (see: what means collision resistant)
 -

[2017-03-21 16:55] doron-goldstein opened #3947 "Server links down"
All server download links in the readme are dead

[2017-03-21 17:02] koolhead17 commented on #3947
Thanks for reporting @BlackSynder We will fix it quickly.

[2017-03-21 17:10] doron-goldstein commented on #3947
As a side note, I also noticed the same thing with the docs. I assume youve switched the location, thus disabling all other links.

[2017-03-21 17:32] #3916 closed, assigned to krisis

[2017-03-21 17:38] harshavardhana commented on #3916
@donatello `s3:ObjectCreate:Copy` is already there borrowed from S3 spec.

[2017-03-21 18:14] donatello commented on #3916
@harshavardhana Ah. I meant that maybe it should be an event on the **source object** in the copy object operation - implying that the source object was accessed to make a copy. It is for completeness of the events system. Perhaps it is not needed if the `s3:ObjectCreate:Copy` event already includes the source object.

[2017-03-21 19:14] harshavardhana commented on #3947
@BlackSynder looks like github changed their UI and broke the table rendering. Because we remember this to be working fine yesterday.

Anyways the bug has been fixed in #3948 and thanks for reporting.

[2017-03-21 19:14] #3947 closed, assigned to koolhead17, harshavardhana

[2017-03-21 20:59] vadmeste opened #3949 "Removing the content of some disks shows a wrong behavior in the next server restart."
## Expected Behavior
Reformat disks and start normally.

## Current Behavior
Showing `Initializing data volume. Waiting for minimum 3 servers to come online. (elapsed 0s)`

## Possible Solution
No idea

## Steps to Reproduce (for bugs)
1.  `minio server /path/disk{1..4}/ # start with fresh disks`
2. Kill Minio
3. `rm -r /path/disk{1..2}/.minio.sys # two disks will become empty`
4. `minio server /p

[2017-03-21 21:06] harshavardhana commented on #3949
You can't start the server without minimum of N/2+1 - see other bugs which are open in this regard.

[2017-03-21 21:07] harshavardhana commented on #3949
- [arch: replace n/2 disks, new servers does not come up](https://github.com/minio/minio/issues/3234)
- [arch: To read we need n/2, for server to come up we need n/2 + 1](https://github.com/minio/minio/issues/3233)

[2017-03-21 21:09] vadmeste commented on #3949
Okay, thanks!

[2017-03-21 21:09] #3949 closed, assigned to nobody

[2017-03-21 21:23] vadmeste opened #3950 "[heal] Healing after a manual removing of an object in two disks from 4 shows NoSuchKey"
## Expected Behavior
Healing should be always successful when I manually remove an object content from two XL disks.

## Current Behavior
Sometimes it is successful and sometimes not.

[code]

## Possible Solution
No idea

## Steps to Reproduce (for bugs)
1. `minio server /path/disk{1..4} # start from fresh disks`
2. `mc mb myminio/testbucket # create testbucket`
3. `mc cp 128mb.file myminio/testb

[2017-03-21 21:38] obrienmd commented on #3923
FYI, I tried this with a slightly lower latency link between datacenters (35ms RTT), but via MPLS tunnel, and had same issue.

[2017-03-22 11:13] donatello commented on #3850
Update on this:

1. All issues with bosh are now solved. As before only single disk FS mode and 1-disk per node distributed node is supported by bosh as we can only attach a single disk to a VM at this time.
2. The bosh release is temporarily hosted at https://github.com/donatello/.bosh-minio-release and makes use of a public read s3 bucket which we use as the bosh blobstore and store minio binari

[2017-03-22 17:11] harshavardhana commented on #3819
Reopened the issue is not fixed yet.

[2017-03-22 17:15] #3950 closed, assigned to krisis

[2017-03-22 19:00] shouze commented on #3800
@harshavardhana do you think it's ok now to add a new tag on https://github.com/minio/mc/releases repo?

Then I could achieve a PR for this issue very soon. Thx.

[2017-03-22 19:03] harshavardhana commented on #3800
We are still under testing, we will be making a release soon.

[2017-03-22 19:54] ankon opened #3954 "[regression]: "invalid credential" when loading (migrated) configuration without credentials"
## Expected Behavior

/config/config.json:
[code]

environment contains suitable MINIO_ACCESS_KEY and MINIO_SECRET_KEY environment variables.

Expected behavior is that `minio --config-dir /config server /data` starts up, migrating the configuration if so needed.

This works with minio/minio:RELEASE.2017-02-16T01-47-30Z, and produces these messages:
[code]

## Current Behavior

With :latest (RELEA

[2017-03-22 19:58] vadmeste commented on #3954
@ankon, thanks for reporting.

It seems we need to disable validation of access & secret keys inside config, since they can be overridden from the environment.

[2017-03-22 23:11] #3954 closed, assigned to vadmeste

[2017-03-23 01:44] #3917 closed, assigned to krisis

[2017-03-23 05:22] harshavardhana commented on #3943
Thanks for the issue, we will take a look.

[2017-03-23 05:24] harshavardhana commented on #3925
@virtuman were you able to validate with latest release?

[2017-03-23 05:31] harshavardhana commented on #3895
@legolas49 were you able to validate the fix?

[2017-03-23 05:32] harshavardhana commented on #3883
@alpswjc were you able to gather the previously requested info? ..

[2017-03-23 08:32] donatello commented on #3850
The release is published from the new official repo at https://github.com/minio/bosh-minio-release

[2017-03-23 09:40] koolhead17 commented on #3903
This can be closed via https://github.com/minio/minio/pull/3957

[2017-03-23 10:50] krisis opened #3958 "[heal] Listing of objects to be healed is incorrect sometimes"
## Expected Behavior

All objects that need healing, as long as they are present in one of the disks, should be listed.

## Current Behavior

Some objects that are not present in one or more disks are missing.

## Possible Solution

Listing of objects to be heal has an issue in its algorithm for 'merging' of entries across disks.

## Steps to Reproduce (for bugs)

0. Set up a 4 disk Minio object s

[2017-03-23 11:28] koolhead17 commented on #3819
Can be closed by https://github.com/minio/cookbook/pull/151

[2017-03-23 15:21] harshavardhana commented on #3903
Fixed by #3957

[2017-03-23 15:21] #3903 closed, assigned to koolhead17, nitisht

[2017-03-23 15:25] #3958 closed, assigned to krisis

[2017-03-23 15:27] #3927 closed, assigned to vadmeste

[2017-03-23 15:57] vadmeste opened #3960 "[heal] A corrupted part file is not detected by Heal"
## Expected Behavior
A corrupted part file is detected by heal. We need that because if two other disks fail (from 4 total disks), we won't be able to recover that file.

## Current Behavior
A corrupted object is not detected by heal.

## Possible Solution
Add checksum verification ?

## Steps to Reproduce (for bugs)
1. `minio server /tmp/xl{1..4}`
2. `mc mb myminio/testbucket ; mc cp 128mb.file m

[2017-03-23 16:23] vadmeste opened #3961 "[heal] Missing part file in one disk is not detected by Heal"
## Expected Behavior
Heal should detect when xl.json is not found in one disk, because if two other disks fail (/ 4 disks), we won't be able able to recover anymore.

## Current Behavior
Heal doesnt detect missing xl.json

## Possible Solution
Reconstruct as we do with a replaced disk

## Steps to Reproduce (for bugs)

1. `minio server /tmp/xl{1..4}`
2. `mc mb myminio/testbucket ; mc cp 128mb.file

[2017-03-23 17:18] vadmeste commented on #3961
I changed the title of this to indicate that the same goes for a part file, if it is missing, it is not detected by Heal.

[2017-03-23 20:58] belvid opened #3962 "browser: Fix missing space between colon and number in Minio Browser"
On Minio Browser (play.minio.io) on the top bar were the "**Used:**88.88GB" title is, there is no space between colon and the number. There should be one. I provide screenshot for better visualization of the issue.

![minio browser](https://cloud.githubusercontent.com/assets/20955366/24270032/c964c534-0fd0-11e7-944f-1d7a9a8f4137.png)

[2017-03-23 21:21] harshavardhana commented on #3962
Thanks @belvid // cc @rushenn

[2017-03-23 21:44] vadmeste commented on #3883
For peeking connection stuff, we create a goroutine here, https://github.com/minio/minio/blob/master/cmd/server-mux.go#L238, this is creating more threads than we expect, nearly double in some cases when I run some benchmarks in my local machine.

However, this go-routine is really needed especially in case of TLS connections, I can see that the number of processed requests falls down from 350/sec

[2017-03-24 06:14] krisis commented on #3961
@vadmeste The issue is not reproducible with minio version,
[code]
[code]

[2017-03-24 06:23] harshavardhana commented on #3961
You have deleted 3 copies out of 4 - we need minimum of N/2 to read and re-construct.

[2017-03-24 06:32] krisis commented on #3961
@harshavardhana IIUC, @vadmeste is demonstrating that if `mc admin heal` fails to detect the need to heal at an earlier stage, we could lose the data permanently. You are right, if the user/admin ever loses 3 out of 4 disks, we can't recover the data using `mc admin heal`.

[2017-03-24 06:53] harshavardhana commented on #3961
We can report that it is not possible to heal atleast.. But when i read the `Possible Solution` section.

^^ this doesn't make sense to me.

[2017-03-24 08:56] hackintoshrao opened #3966 "ecosystem: Support minio distributed on Mesosphere"
- There complications involved in getting the IP's of the containers before hand to send as arguments to run Minio binary on distributed mode.
- DCOS engineers suggested work around by using the shell script and work around docker container which can be found in /https://github.com/tobilg/minio-dcos.
- Taking this approach means we need to publish docker container which will be dedicated to only r

[2017-03-24 11:01] vadmeste commented on #3961
@harshavardhana, Yes my bad, I meant deleting 2 out of 4.

@krisis, well, I wasn't able to reproduce with xl.json, but the problem is there with part files. If one part file is removed, it won't be detected by Heal.

@harshavardhana: as @krisis mentioned, we need to detect that anomaly at early stage. If we have total 4 disks, and one object has a missing part file in one of the disks, losing two

[2017-03-24 12:35] krisis opened #3968 "[Windows] mc cp fails with "Failed to copy ‘filename’. Insufficient permissions to access this file""
## Expected Behavior

`mc cp` should work.

## Current Behavior

`mc cp` fails with "Failed to copy ‘filename’. Insufficient permissions to access this file"

## Possible Solution

NA
## Steps to Reproduce (for bugs)

1. mc cp \path\to\file myminio/bucket/obj
2.
3.
4.

Stack trace on server
[code]

Minio Version
[code]

## Context

## Your Environment

* Version used:
* Environment name and versio

[2017-03-24 12:48] rawmaze commented on #3968
If this helps, I am able to delete the file with Minio client (mc) but not to overwrite it.

I am also able to delete (with del) and overwrite (with copy) the file in a Windows command line console. Before overwriting it, the copy command prompts for confirmation first.

[2017-03-24 15:40] #3960 closed, assigned to nobody

[2017-03-24 16:45] GarimaKapoor commented on #3850
Aditya, can we close this issue, since we are tracking it in the repo

[2017-03-24 16:49] harshavardhana commented on #3850
Closing this as the project created here [Minio bosh release](https://github.com/minio/bosh-minio-release)

[2017-03-24 16:49] #3850 closed, assigned to donatello

[2017-03-24 17:07] harshavardhana commented on #3961
Is this fixed with #3967 ?

[2017-03-24 17:07] harshavardhana commented on #3966
Pending discussion with upstream folks.

[2017-03-24 17:09] krisis commented on #3961
Yes, it is fixed.

[2017-03-24 17:10] harshavardhana commented on #3961
Closing as fixed by #3967

[2017-03-24 17:10] #3961 closed, assigned to krisis

[2017-03-24 17:12] balamurugana opened #3970 "rpc: Move format.json validation into object layer."
Currently the check is happening at RPC layer which is incorrect as the knowledge of `format.json` is at object layer.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version:
* Link to

[2017-03-24 17:17] balamurugana commented on #3970
Related Issues: https://github.com/minio/minio/issues/3475

Related PRs https://github.com/minio/minio/pull/3517 https://github.com/minio/minio/pull/3643

[2017-03-24 19:07] vadmeste commented on #3968
I was able to reproduce this bug with the last releaseof minio & mc but it looks like the bug is fixed in master, not sure what's the commit that fixed it.

[2017-03-24 19:27] harshavardhana commented on #3968
can you git bisect? @vadmeste

[2017-03-24 22:23] vadmeste commented on #3968
I was able to reproduce this problem with master, it occurs when the target object of the copy operation already exists.

[code]

[2017-03-24 22:25] harshavardhana commented on #3968
Thanks @vadmeste

[2017-03-24 23:36] kulraj-gurm opened #3971 "How to specify storage location on FreeBSD?"
Installing on FreeBSD via ports works flawlessly, not as smooth via pkg install.
But I cannot find out how to change default storage some other location of my choosing

## Expected Behavior

## Current Behavior
Default location is /var/db/minio

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context
Need to move minio storage to 2nd Drive

## Your Environment

* Version us

[2017-03-24 23:42] harshavardhana commented on #3971
@kulraj-gurm  - if you want your data elsewhere, just set minio_disks="/some/path" in /etc/rc.conf and restart minio service.

[2017-03-24 23:45] kulraj-gurm commented on #3971
Thank you sir!!

Also is it possible to have two storage locations on one install?
Would they have separate access credentials?

it as simple as :

minio_disks="/some/path1 /some/path2 /some/path3"

[2017-03-24 23:46] harshavardhana commented on #3971
NO that would mean erasure code is being enabled  > 1 disk means erasure code and erasure code at minimum requires 4 disks.

If you need that you need to modify the init service yourself and loop through and start multiple minio servers.

[2017-03-25 00:01] kulraj-gurm commented on #3971
Can you do a quick "how to" on that?
ie. Modify init and start multiple minio services

On Mar 24, 2017 16:47, "Harshavardhana" <notifications@github.com> wrote:

[2017-03-25 00:05] harshavardhana commented on #3971
This is as easy as doing

[code]

[2017-03-25 00:15] harshavardhana commented on #3968
Tried with multiple runs on Windows 2012 and not able to reproduce this.

[code]

With various combinations of prefix and full path, with latest master and also the released binary.

[2017-03-25 00:17] harshavardhana commented on #3968
Can we get more system information basically which windows version etc. ?

[2017-03-25 01:34] krishnasrinivas commented on #3883
If the thread count goes more than max limit and it crashes then it will always be easy for someone to crash the server.

Right fix is to figure out max threads the machine can handle and set the limit to that. Because if we set it to something the machine can not handle then minio can make the machine unresponsive. Once the ideal max-threads is configured then we should not allow more than n/2 nu

[2017-03-25 01:37] harshavardhana commented on #3883
Agree we should have a pool and block the connection upon the listen itself - we actually do have a counter for this i think already in the `ListenerMux` we should just use that.

[2017-03-25 01:57] krishnasrinivas commented on #3883
Or instead of implementing pool we can return
[code]

[2017-03-25 02:04] harshavardhana commented on #3883
There is an S3 error response just for this..  - http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html

[code]

[2017-03-25 02:31] harshavardhana commented on #3923
So after increasing the value of

[code]

As hinted by @krisis - to 1*minute. and increasing the value of `rpcSkewTimeAllowed`

From
[code]

To  2 * minute. Makes minio work across the WAN.  Moving this issue to arch-review so that we can finalize if we ever need to do this.

[code]

[2017-03-25 05:20] harshavardhana commented on #3971
In-fact more simply this can be done too

[code]

Closing this bug as answered.

[2017-03-25 05:20] #3971 closed, assigned to nitisht

[2017-03-25 08:42] harshavardhana commented on #3923
@obrienmd Unfortunately we decided that this is a use case we are not going to address - so we will not be bumping the current defaults.

Thanks for your htime providing the cluster and validating this with me. Closing this issue.

[2017-03-25 08:42] #3923 closed, assigned to harshavardhana

[2017-03-26 17:34] kulraj-gurm opened #3976 "Install via FreeBSD ports now fails"
## Expected Behavior

## Current Behavior
 make install
===>  Building for minio-2017.03.16.21.50.32_1
gmake[1]: Entering directory '/usr/ports/www/minio/work/minio-RELEASE.2017-03-16T21-50-32Z'
syscall
/usr/local/go/src/syscall/exec_unix.go:188: undefined: forkExecPipe
Installing minio:
syscall
/usr/local/go/src/syscall/exec_unix.go:188: undefined: forkExecPipe
gmake[1]: *** [Makefile:118: gomake

[2017-03-26 18:07] kulraj-gurm commented on #3976
Found workaround!!
Will post txt doc with step by step for anyone who also has an issue installing via ports

[2017-03-26 22:55] harshavardhana commented on #3976
This looks like a FreeBSD packaging bug - @kulraj-gurm have you reported this upstream?

[2017-03-26 22:57] kulraj-gurm commented on #3976
@harshavardhana not reported upstream, more concerned with getting it running at the moment.

[2017-03-26 23:01] kulraj-gurm commented on #3976
[minio_install.txt](https://github.com/minio/minio/files/871111/minio_install.txt)
[minio.txt](https://github.com/minio/minio/files/871112/minio.txt)

[2017-03-26 23:03] harshavardhana commented on #3976
@swills looks like there is a FreeBSD installation issue looks like `go` port is not compiling properly?

[2017-03-26 23:25] kulraj-gurm commented on #3971
@harshavardhana still struggling to get two storage locations going with
two instances of minio as per our discussion a few days ago.

Your comment :

This is as easy as doing

for d in $(seq 1 3); do (minio server --address ":900${d}"
--config-dir=/tmp/config/${d} /tmp/data/$d)& done

Didn't really make any sense to me.

On Fri, Mar 24, 2017 at 5:05 PM, Harshavardhana <notifications@github.com>
w

[2017-03-26 23:36] harshavardhana commented on #3896
We decided to do it by writing an entry point script which points to the secret file location by default.

[code]

[code]

[2017-03-27 00:12] nnordrum opened #3978 "Issues connecting to Minio with Confluent Kafka Connect S3"
## Expected Behavior

Expect the Connector to connect with no errors, and push a file up into the confluent-kafka-connect-s3-testing bucket.

## Current Behavior

[code]
## Possible Solution

## Steps to Reproduce (for bugs)

1. download confluent-oss https://www.confluent.io/download/
2. unzip confluent-oss-3.2.0-2.11.tar.gz
3. cd confluent-3.2.0
4. edit ./etc/kafka/connect-standalone.properties

[2017-03-27 02:51] harshavardhana commented on #3978
Found the problem there is a bug in kafka-connect-s3

[code]

Here if you look at the request

[code]

The region is missing which is usually of this style.

[code]

This is perhaps a bug in their connector implementation.

[2017-03-27 03:01] harshavardhana commented on #3978
Yep as i thought - https://github.com/confluentinc/kafka-connect-storage-cloud/blob/master/kafka-connect-s3/src/main/java/io/confluent/connect/s3/storage/S3Storage.java#L72

[code]

This doesn't cater for URLs and region together, say for example store.url points to non-s3 can lead to the bugs i mentioned above.

This needs to be fixed.

[2017-03-27 05:43] hackintoshrao opened #3979 "tests: Mint failure when one of the node is down."
`TestRemoveMultipleObjects` hangs when Mint is run against Minio distributed with one of the node permanently down.
## Expected Behavior

[Mint](https://github.com/minio/mint) tests to pass.
## Current Behavior

`TestRemoveMultipleObjects` hangs and the test eventually timeout.

## Possible Solution

Not sure.
## Steps to Reproduce (for bugs)

1. Use Chaos test revamped version for easier replicat

[2017-03-27 06:16] krisis commented on #3979
@hackintoshrao could you paste the commit id of master branch the Minio server is based on?

[2017-03-27 06:23] hackintoshrao commented on #3979
Here is the commit ID 6e63904048e9d7318c5454268b418b92317ba871 .

[2017-03-27 07:19] krisis commented on #3979
@hackintoshrao I couldn't recreate the issue following the steps provided above. Could you share the minio logs from all the servers when you see this issue?
[code]

[2017-03-27 07:20] rawmaze commented on #3968
@harshavardhana The Windows version is 10 Pro, build 10.0.14393.
Minio server is started with the default settings. Its version is in the initial post by @krisis

[2017-03-27 07:31] krisis commented on #3979
@hackintoshrao Ignore the above comment, it is the output of `functional-tests` run. `TestRemoveMultipleObjects` doesn't hang in my setup, but it takes ~58s. Do you have the minio server logs when this issue was observed?

[2017-03-27 07:32] hackintoshrao commented on #3979
Its the test from `minio-go sdk-tests`.

[2017-03-27 07:39] hackintoshrao commented on #3979
Had a test timeout of 60 sec which was less. Tests run well once the timeout is set to default.

[2017-03-27 07:39] #3979 closed, assigned to krisis

[2017-03-27 08:13] hackintoshrao opened #3980 "admin-api: Issue when heal is attempted while a node is down."
Incorrect error message/false-detection when heal is attempted on a setup in which a node down.
## Expected Behavior

A message which could convey that heal has to be attempted after the node is back.
## Current Behavior

An attempt to heal shows that the object is healed.
## Possible Solution

- The issue could just at the presentation layer or it could be more deeper problem in detection.
## Ste

[2017-03-27 08:26] rawmaze commented on #3968
I downloaded the new Minio's version and I still get the same error with it under Windows.
Could it be related to something not configured at all or configured wrong on my machine / OS?

[2017-03-27 08:31] vadmeste commented on #3968
I can reduce the code so we can have a better understanding about what's going on.

[2017-03-27 10:02] krisis commented on #3980
@harshavardhana I am working on this.

[2017-03-27 12:10] herbert-roth opened #3982 "[notify:amqp] Missing DeliveryMode"
There is no way to use DeliveryMode.

## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Add the field deliveryMode to supported config fields. It's implemented in streadway/amqp
So the implemtation should look like this.

[code]

## Context
I need to store rabbitmq messages persistent to disk. This is not possible without setting the deliveryMode.
Sorry i'm no go expert

[2017-03-27 12:15] obrienmd commented on #3923
Sure thing, sorry to hear that! Minio's simplicity is fantastic, and I suppose this runs counter to that :)

[2017-03-27 13:40] nnordrum commented on #3978
did you bump up the logging on the confluent side, or get the request from Minio? If the latter, how?

[2017-03-27 15:12] harshavardhana commented on #3978
Will send you a fixed jar and perhaps you can test it on your end.

[2017-03-27 15:21] nnordrum commented on #3978
yeah--I'll commit my integration test--it's even easier to run than what I sent above :)

[2017-03-27 15:47] nnordrum commented on #3978
https://github.com/nnordrum/kafka-connect-storage-cloud/
branch: aws_profiles

mvn test

profile is configured at: https://github.com/nnordrum/kafka-connect-storage-cloud/blob/aws_profiles/kafka-connect-s3/src/test/java/io/confluent/connect/s3/S3SinkConnectIntegrationTest.java#L173

Here's the region fix: https://github.com/nnordrum/kafka-connect-storage-cloud/blob/aws_profiles/kafka-connect-s3/sr

[2017-03-27 17:43] harshavardhana commented on #3978
Ah looks like you are working on it already.. @nnordrum did it fix the issue for you?

[2017-03-27 17:52] nnordrum commented on #3978
still getting a problem, but as I read the debug, it looks like it is doing what you're saying it should be doing...

[code]

[2017-03-27 17:55] harshavardhana commented on #3978
Yes this is progress.. looks like something else is going wrong perhaps its related to #3983

[2017-03-27 19:47] #3968 closed, assigned to vadmeste

[2017-03-27 20:12] AbrohamLincoln-zz opened #3984 "notifications: Webhook doesn't appear to use configured third-party CAs"
A webhook notification configured with an https endpoint signed by a third party CA fails with:
`x509: certificate signed by unknown authority`

I could not determine how to specify a CA specifically for webhooks or notifications or to turn off verification (I'd prefer to specify a CA).  So as a test I mounted a directory containing my third-party cert and its symlinked hash (created by doing some

[2017-03-27 20:41] IsNull opened #3985 "CORS 'Access-Control-Allow-Origin' missing"
Minio does not include the CORS header `Access-Control-Allow-Origin` - at least not when it serves a resource with a presigned AWS URL.

## Current Behaviour

Sample Request URL
[code]

**The current response header is**
[code]

## Possible Solution

Ability to add the `Access-Control-Allow-Origin: *` header.
If Minio does not support this, the only workaround is to proxy the whole traffic and inj

[2017-03-27 21:56] harshavardhana commented on #3984
Currently we don't have a way, alternatively you can use proper CA authorities like letsencrypt , while we bring in support for custom CAs.

[2017-03-27 21:59] krishnasrinivas commented on #3985
@IsNull, try this:
[code]

i.e with `-H "Origin: randomhost"`

you will see in the response:
`Access-Control-Allow-Origin: randomhost`

[2017-03-27 22:03] harshavardhana commented on #3985
Your application has a bug @IsNull we support CORS by default on all requests. On the browser or your client you need to set the valid `Origin:` HTTP header[1] as indicated by @krishnasrinivas .   You can also use XMLHTTPRequest() which supports OPTIONS to populate Origin header automatically for any PUT or GET request.

[1] - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin

[2017-03-27 22:08] harshavardhana commented on #3978
There was a regression https://github.com/minio/minio/pull/3986/commits/17dc3063f32426c66e98cf93c5de4867963199a5 to be fixed here.. @nnordrum

[2017-03-28 00:37] harshavardhana commented on #3978
The regression has been fixed in your branch just change the docker container with the following change.

[code]

[code]

Also keep the payload signature as well.

Here are the results of running `mvn integration-test`

[code]

[2017-03-28 05:56] IsNull commented on #3985
Thanks for the fast response. I have to recheck what the Chromecast receiver app actually sends with the initial request.

Closing this now.

[2017-03-28 05:56] #3985 closed, assigned to harshavardhana

[2017-03-28 06:56] harshavardhana opened #3988 "locks: Possible stale lock observed on play.minio.io:9000 server"
```s3contents-test/this/is/the/prefix/Untitled Folder/.s3keep (LocksOnObject: 0, locksAcquiredOnObject: 0, totalBlockLocks:0):   {OperationID:Z01I5LMX3YAXKELL LockSource:[web-handlers.go:284:(*webAPIHandlers).RemoveObject.func1()] LockType:WLock Status:Blocked Since:2017-03-22 04:40:37.031610943 +0000 UTC Duration:63h58m31.901491283s}  {OperationID:PNRTMKHOHHQJL4QP LockSource:[bucket-handlers.go:2

[2017-03-28 13:59] nnordrum commented on #3978
works great now! Thanks!

I'm not sure if you want to adjust for a blank region, the initial issue, but I know it does work on IBM's Cloud Object Storage with a blank region. Not saying it's right/wrong, just that it does. If there's no security implication, or broader issue, I would think about supporting an empty region, since in the context of a specified endpoint-url, it kind of doesn't make s

[2017-03-28 14:15] rawmaze opened #3991 "windows: "minio -C ./some_dir server ./dir" leads to error in initializing minio server"
## Expected Behavior
`minio -C ./some_dir server ./dir` should work even if there is not directory `./some_dir`

## Current Behavior
`minio -C ./some_dir server ./dir`

leads to the following error:

`minio: <ERROR> Unable to initialize minio config for the first time. Error: mkdir \\?\some_dir\certs: The system cannot find the path specified..`

## Possible Solution
NA

## Steps to Reproduce (for

[2017-03-28 14:18] rawmaze commented on #3991
Note: It works with the previous Minio version.

[2017-03-28 14:20] balamurugana commented on #3991
Exact bug is at https://github.com/minio/minio/blob/master/cmd/posix-prepare-path.go#L38 which doesn't work for relative path by doing `filepath.Clean()` ie `filepath.Clean("./some_dir") == "some_dir"` then `\\?\` is added hence `\\?\some_dir`

However using windows path separator `\` would work ie `minio -C .\some_dir server .\dir`

[2017-03-28 14:37] rawmaze commented on #3991
Yes, I expect the directory to be created. It is created if I use the previous Minio version and it is created even with the current version if it's not run on Windows.

[2017-03-28 14:39] balamurugana commented on #3991
@imosk Yep. That's the expected behavior and found a bug in another place.

[2017-03-28 15:12] rawmaze commented on #3991
The bug is also present if Minio is run from the master sources as of this moment.

[2017-03-28 15:19] harshavardhana commented on #3978
Empty region support is wrong it violates the S3 spec. Region is also provided in Minio for deployment benefits where users can specify regions for their multi cluster deployments.  We are just adhering to the spec and do not want buggy clients, in-fact i would say that this is a aws-sdk-java bug as well.  They should fill in a default region if not provided.

I will close this issue for now as fi

[2017-03-28 15:19] #3978 closed, assigned to harshavardhana

[2017-03-28 16:05] harshavardhana commented on #3991
is `./<dir>` commonly used notation on windows? - as @balamurugana suggested the proper path specification on windows is to use `.\<dir>` .

If it worked before it must have been a mistake because the path on windows for a `./<dir>` is meant to default to an 'absolute' UNC path.

[code]

Is the correct style.  I do not see this as a bug IMHO.

[2017-03-28 16:12] rawmaze commented on #3991
It does not work with `.\<dir>` either. The slashes do not make any difference.

[2017-03-28 17:10] harshavardhana commented on #3991
How about not using any slashes

[code]

[2017-03-28 18:45] nnordrum commented on #3978
Totally respect it either way. Thanks for jumping on this so quickly!

[2017-03-28 20:39] lavvy opened #3993 "docs: How to use jgit with Minio?"
I can push my repo to minio with s3git but i am finding it hard to do the same with jgit.
S3git is well described by minio but i can't see any documentation or clue about jgit .
The problem is only just how to add minio url as remote instead of amazon-s3

[2017-03-28 20:53] krishnasrinivas commented on #3993
@lavvy does not look like http://www.eclipse.org/jgit/ JGit works with S3 storages. JGit is just a Java libary for git repos.

[2017-03-28 23:16] lavvy commented on #3993
Oh my God, it works like charm with Amazon.
http://www.fancybeans.com/blog/2012/08/24/how-to-use-s3-as-a-private-git-repository/

I tried it yesterday.
I strongly believe it will work with minio if we get the right url
On Mar 28, 2017 4:53 PM, "Krishna Srinivas" <notifications@github.com>
wrote:

[2017-03-29 06:07] rawmaze commented on #3991
It's the same even without slashes. It only works with the full path under Windows right now.
But the previous release version worked with relative paths under Windows and the current version works with relative paths on other OSes.

[2017-03-29 06:44] harshavardhana commented on #3991
Looks like i tried various combinations on Windows 2012 R2.

Not working
[code]

All of them are working below without using a custom config dir.
[code]

Looks like the config directory path handling has some changes which has resulted in some regression the previously comment prepare-path.go // cc @balamurugana is not the problem here.

The bug is lack of usage of absolute path.

[code]

[2017-03-29 08:14] mantoni opened #3997 "package: Redis notifications cannot be configured anymore"
I have upgrade minio with brew yesterday and now my redis notification config is considered invalid. I get this error message:

[code]

## Possible Solution

The cause seems to be rooted here: https://github.com/golang/go/commit/c5ccbdd22bdbdc43d541b7e7d4ed66ceb559030e#comments

However, the solution suggested in the comment to use `//127.0.0.1:8200` yields this error:

[code]

## Steps to Reprodu

[2017-03-29 08:22] mantoni commented on #3997
In case others come here, I worked around the issue for now by downgrading to the previous version I had installed with `brew switch minio 20170216014730`.

[2017-03-29 09:10] wey-gu commented on #3898
Dear all,
Any update on this please?
Thanks!
BR//Wey

[2017-03-29 10:53] vadmeste commented on #3997
@mantoni, thanks for reporting.

We did not move to go 1.8 yet. I guess another solution to this issue is to downgrade to golang 1.7.5

[2017-03-29 11:28] vadmeste commented on #3988
~~https://github.com/minio/minio/blob/master/cmd/web-handlers.go#L285:~~

~~This is quite dangerous, if the browser mistakenly sends an object twice, we can have a deadlock.~~

[2017-03-29 11:34] mantoni commented on #3997
Hmm. I don't have golang installed. Isn't golang compiling the code into a binary?

[2017-03-29 13:14] vadmeste commented on #3988
Looks like I found the bug, it is in CopyObjectHandler(), you can notice it is the oldest lock in the log. And it is easy to reproduce with minio-go:

[code]

Source path without a leading '/' in the third argument of CopyObject will systematically lock indefinitely the lock.

The reason is that CopyObjectHandler() is not properly checking if src is equal to dest.

[2017-03-29 15:02] stephenchinnadorai opened #3999 "server: Server times are too far apart error message between multiple minio servers"
## Expected Behavior
Servers should be able to connect in distributed mode

## Current Behavior
4 servers running in docker containers on 4 separate VMs - time is a maximum of 4 seconds apart between the servers when tested.

Docker logs for minio on one of the nodes shows the standard info screen saying 4 online. The remaining three show the following error:
`[03/04] redacted.com:9000:/minio/stor

[2017-03-29 15:49] harshavardhana commented on #3997
I think the problem is brew must have built it with go1.8 we  will fix the brew package.

[2017-03-29 15:51] harshavardhana commented on #3999
Servers need to be less than 3 seconds apart so is the message. It's not a bug just an indication that you need to fix your servers to have same time.

[2017-03-29 15:55] #3991 closed, assigned to harshavardhana

[2017-03-29 15:57] harshavardhana commented on #3898
Master branch should be already fixed.

[2017-03-29 16:21] #3988 closed, assigned to vadmeste

[2017-03-29 17:36] harshavardhana commented on #3997
@mantoni Go broke a lot of things in go1.8 that is why we haven't moved to upstream version yet until the all the above issues get sorted out.

https://github.com/Homebrew/homebrew-core/pull/11815

[2017-03-29 18:56] mantoni commented on #3997
Thanks for looking into it and preparing a fix. Fantastic support 👍

[2017-03-29 18:59] alexellis commented on #3896
Looks like a good approach. I've been doing something similar myself in a private repo but only for the client-side portion. This would make it much more usable for demos.

[2017-03-29 20:42] #3984 closed, assigned to vadmeste

[2017-03-29 21:24] atifghaffar opened #4001 "caching: Out of memory crashes on cgroup limit"
I have seem some crashes on my host with the following message.

[34549785.782753] Memory cgroup out of memory: Kill process 35945 (minio) score 995 or sacrifice child

[34549785.800895] Killed process 35945 (minio) total-vm:8804576kB, anon-rss:3962816kB, file-rss:0kB

The minio server is running in LXC container which is limited to 4GB ram.

It is possible that minio sees the HOST RAM which is mu

[2017-03-29 22:50] AbrohamLincoln-zz commented on #3984
Thanks!

[2017-03-30 06:22] wangtao9090 opened #4004 "server: Minio version14 can not access by amz s3 java sdk"
## Expected Behavior

minio version13 can access by amz s3 java sdk，but minio version14 can not access by amz s3 java sdk

minio version14 can  access by amz s3 java sdk

## Current Behavior

com.amazonaws.services.s3.model.AmazonS3Exception: header does not match what was computed. (Service: Amazon S3; Status Code: 400; Error Code: XAmzContentSHA256Mismatch; Request ID: 3L137)
	at com.amazonaws.h

[2017-03-30 06:23] harshavardhana commented on #4004
We fixed this in master branch, should be available in the next stable release.

[code]
    Set the value to aws-chunked.
[code]

[2017-03-30 06:24] harshavardhana commented on #4004
Closing as duplicate of #3983

[2017-03-30 06:24] #4004 closed, assigned to harshavardhana

[2017-03-30 06:25] harshavardhana commented on #3999
Closing this as not a bug but an intended behavior.

[2017-03-30 06:25] #3999 closed, assigned to harshavardhana

[2017-03-30 06:30] harshavardhana commented on #3943
ping @krishnasrinivas @rushenn

[2017-03-30 06:31] harshavardhana commented on #3936
ping @rushenn @krishnasrinivas

[2017-03-30 06:33] harshavardhana commented on #3895
Closing this as fixed as per #3897 - please re-open if the issue is not fixed yet.

[2017-03-30 06:33] #3895 closed, assigned to vadmeste

[2017-03-30 06:34] harshavardhana commented on #3925
Closing this issue @virtuman - please re-open if you observe the issue again. Thanks

[2017-03-30 06:34] #3925 closed, assigned to nitisht

[2017-03-30 06:36] harshavardhana commented on #3862
Fixed by @donatello - https://github.com/minio/minio/pull/3989 its fixed to keep the format in JSON for both namespace and access formats.

[2017-03-30 06:36] #3862 closed, assigned to nobody

[2017-03-30 06:38] harshavardhana commented on #3852
Closing this issue as resolved for now @jtilander , please re-open if you observe the issue again.

[2017-03-30 06:38] #3852 closed, assigned to nobody

[2017-03-30 06:39] harshavardhana commented on #3819
Closing as fixed via minio/cookbook#151

[2017-03-30 06:39] #3819 closed, assigned to vadmeste

[2017-03-30 08:02] dcharbonnier opened #4005 "build: Use semantic versioning for stable releases"
http://semver.org/

This system is now adopted by all modern software (and this also mean automated with a ci/cd that produce the version)

example of useful versioning
 - https://hub.docker.com/r/gitlab/gitlab-ce/tags/
 - https://hub.docker.com/r/library/mongo/tags/
 - https://hub.docker.com/r/library/node/tags/
 - https://hub.docker.com/r/library/golang/tags/
 - https://hub.docker.com/r/library/

[2017-03-30 15:18] atifghaffar commented on #4001
Here is the config for the LXC container from our provider.

https://pastebin.com/M5L4yKG8

The container does not have

 /sys/fs/cgroup/memory/memory.limit_in_bytes

but only a socket.

wsadmin@wscwbs-riakcs01-stage:~$ find /sys/fs/cgroup/
/sys/fs/cgroup/
/sys/fs/cgroup/cgmanager
/sys/fs/cgroup/cgmanager/sock

[2017-03-30 16:10] harshavardhana commented on #4005
We don't use semver instead rely on date. If you want to stick to a release just look at the tags

https://hub.docker.com/r/minio/minio/tags

So it would be `docker pull minio/minio:RELEASE.2017-03-16T21-50-32Z`

[2017-03-30 16:13] #4005 closed, assigned to nobody

[2017-03-30 16:14] dcharbonnier commented on #4005
PS : no need for documentation or faq, we all got what you do, we just don't think it's a good idea and would like to see an other development cycle.

[2017-03-30 18:05] stephenchinnadorai opened #4010 "Support Certificate chain while configuring SSL"
## Expected Behavior
A certificate chain file named public.crt should be recognised and HTTPS on Minio server should work.

## Current Behavior
Minio server returns an error about a mismatch between private and public keys.
`time="2017-03-30T17:36:41Z" level=fatal msg="Failed to start minio server." cause="tls: private key does not match public key" source="[server-main.go:580:serverMain.func1()]"

[2017-03-30 22:34] krishnasrinivas commented on #3847
@medBouzid you can turn off the browser using `export MINIO_BROWSER=off`

This won't be possible. Because the path `/minio` is hardcoded in minio to allow access to non-storage resources ... like UI/management. Hence browser side JS also depends on this path for working.

Regarding the original questions:

If you don't upload file through the UI, the UI will not auto refresh. You will have to refr

[2017-03-30 22:34] krishnasrinivas commented on #3689
Project on hold as of now.

[2017-03-30 22:37] harshavardhana commented on #3847
Yes we can close this.. issue.

[2017-03-30 22:37] #3847 closed, assigned to krishnasrinivas, rushenn

[2017-03-31 04:32] bearmoo-cloud-net opened #4015 "Not able to mount multiple volumes using the docker driver minfs"
Tring to mount two buckets in the same cantainer, but getting an error:
Error response from daemon: containerd: container did not start before the specified timeout.

## Expected Behavior

I should see in the runnung container:
/ # df -h
Filesystem                Size      Used Available Use% Mounted on
overlay                  31.2G     13.2G     16.3G  45% /
tmpfs                   919.8M

[2017-03-31 05:23] harshavardhana commented on #4015
Thanks for opening the issue.

Can you open this issue on https://github.com/minio/minfs instead for relevancy and avoids confusion.

Thanks

[2017-03-31 05:32] bearmoo-cloud-net commented on #4015
Sure

[2017-03-31 06:41] harshavardhana commented on #4015
Closing issue moved to minfs https://github.com/minio/minfs/issues/24

[2017-03-31 06:41] #4015 closed, assigned to nobody

[2017-03-31 08:15] harshavardhana commented on #3997
https://github.com/Homebrew/homebrew-core/pull/11815 any help chiming would be appreciated @mantoni

[2017-03-31 08:28] harshavardhana commented on #3997
In-case brew is not resolved we do have minio builds https://dl.minio.io/server/minio/release/darwin-amd64/  which shouldn't have the issue since they are built with go1.7.5

[2017-03-31 10:34] #3982 closed, assigned to donatello

[2017-03-31 12:12] jGielen opened #4016 "How to set up bucket policy with AWS SDK for PHP"
## Expected Behavior
I want to create a bucket with 2 folders (Private and Public). Standard all folders are private, but I can't configure the public folder. I'm using AWS SDK for PHP.

## Current Behavior
My public folder isn't public.

## Possible Solution
/

## Steps to Reproduce (for bugs)
/

## Context
Create a public folder with read only policy.

## Your Environment
* Version used: 2017-02

[2017-03-31 13:04] SSBN506 opened #4017 "cloudberry mbs not working with minio past version minio.RELEASE.2016-12-13T17-19-42Z"
Minio running on a Linux server running any version beyond minio.RELEASE.2016-12-13T17-19-42Z will not work with cloudberry mbs. When you add the storage location you get the following error from minio. ERRO[0012] TLS handshake failed                          cause=tls: no cipher suite supported by both client and server source=[server-mux.go:240:newListenerMux.func1.1()]

This happens with both a

[2017-03-31 15:56] obrienmd commented on #4017
At least before version 5.5 for Windows, Cloudberry backup didn't support TLS 1.2. I have used a Caddy proxy in front of minio to allow TLS 1.1 minimum, which seems to work fine with pre-5.5 Windows clients.

Not ideal, but a resolution at least. I'm not sure what the MBS control panel uses when you're setting up a storage location.

[2017-03-31 16:07] obrienmd opened #4018 "Object name invalid error"
I'm using Cloudberry backup against minio, with the encrypted filename option on CBB enabled. On a significant share of files, minio is erroring out with 'Object name invalid'.

## Expected Behavior
Minio accepts requests and creates objects.

## Current Behavior
Errors per gist:
https://gist.github.com/obrienmd/d15b9fb8642926a57c22959ec246cb0f

## Possible Solution
Looking at https://github.com/m

[2017-03-31 16:10] harshavardhana commented on #4018
Encrypted backend is not supported yet. Since the paths generated by CBB exceed the filesystem capacities on Linux. .I.e each path component is greater than 255 characters.

CBB is fixing by working on a Minio only backend support .

[2017-03-31 17:06] SSBN506 commented on #4017
![image](https://cloud.githubusercontent.com/assets/26817913/24560937/2531d640-161b-11e7-97f2-46f548c5ff80.png)

Here is a picture of the error just after hitting ok in the mbs.cloudberrylab.com portal after adding a storage location. the Secret Key was in the field but blanks out after the error just so you don't think i didn't entre it.

[2017-03-31 17:09] SSBN506 commented on #4017
Here is the error on the minio end.
![image](https://cloud.githubusercontent.com/assets/26817913/24561033/9c8e0786-161b-11e7-9fb7-00338b91d2e3.png)

[2017-03-31 19:00] AbrohamLincoln-zz opened #4020 "[Feature-Request] Server Side Encryption Support"
I know its been discussed before in #2692 but I would like to request SSE again anyway.
It would be super useful to me to use [SSE-C](http://docs.aws.amazon.com/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html) in my particular project.

Thanks!

[2017-03-31 19:05] harshavardhana commented on #4020
We won't be implementing server side encryption @AbrohamLincoln - it is expected for clients to use client side encryption as proposed and documented by AWS here

http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingClientSideEncryptionUpload.html
and you can use minio client APIs in inter-operable way as well http://docs.minio.io/docs/golang-client-api-reference#PutEncryptedObject

Closing this is

[2017-03-31 19:05] #4020 closed, assigned to nobody

[2017-03-31 19:44] harshavardhana commented on #4016
You just have to follow this code and modify for your local needs should work https://gist.github.com/harshavardhana/00c3ade4e61a640bde44afebb38baeb7

[2017-03-31 20:28] #4017 closed, assigned to harshavardhana

[2017-03-31 21:11] #3928 closed, assigned to donatello

[2017-03-31 22:27] deekoder opened #4022 "gateway: Add gateway support for s3 compatible object storage systems in minio."
gateway mode already supports azure blob store, add support to run minio in gateway mode for any s3 compatible object storage.

[2017-03-31 22:28] deekoder opened #4023 "gateway: Add caching support to minio server in the gateway mode."
This is an enhancement.

[2017-03-31 22:30] deekoder opened #4024 "gateway: Minio browser should work seamlessly when in gateway mode."

[2017-03-31 22:34] deekoder opened #4025 "gateway: Test minio in gateway mode with and without caching."
- Articulate all the testing scenarios.
- Sign off on gateway quality.

[2017-03-31 22:36] deekoder opened #4026 "Add caching support for gateway mode."
Add support for caching when starting minio server in gateway mode.
Also : Doc Impact is below :
Deliver a document or enhance an existing document to :
- clearly state what users can do with the gateway enhancements in minio server.
 - comprehensive documentation on how to use and run minio and gateway mode.

[2017-04-01 00:06] harshavardhana commented on #3976
Going to close this as a non issue and an upstream problem.

[2017-04-01 00:06] #3976 closed, assigned to harshavardhana

[2017-04-01 00:45] harshavardhana commented on #4018
This feature is scheduled to be released soon by CBB by supporting Minio specific backend configuration. Closing here.

[2017-04-01 00:45] #4018 closed, assigned to nobody

[2017-04-01 00:46] #4016 closed, assigned to harshavardhana

[2017-04-01 00:48] deekoder commented on #4010
@vadmeste is this issue addressed and fixed?

[2017-04-01 00:52] deekoder commented on #3993
This issue has to move to cookbook.

[2017-04-01 00:57] deekoder commented on #3966
Now blocked pending discussion -  @abperiasamy

[2017-04-01 01:08] #3936 closed, assigned to krishnasrinivas, rushenn

[2017-04-01 01:12] deekoder commented on #3919
SVGs were not rendering on git and doctor due to https://github.com/isaacs/github/issues/316 We need to use pngs afterall for now.

[2017-04-01 01:13] deekoder commented on #3908
Needs to be a recipe on cookbook.

[2017-04-01 01:14] #3898 closed, assigned to rushenn

[2017-04-01 01:15] deekoder commented on #3896
needs review with @abperiasamy

[2017-04-01 01:19] deekoder commented on #3883
blocked on @abperiasamy

[2017-04-01 01:24] deekoder commented on #3815
blocked on @abperiasamy

[2017-04-01 01:28] deekoder commented on #3800
Depends on working admin-cli in mc.

[2017-04-01 01:30] deekoder commented on #3789
We have #3800 to address health status usage. Closed as duplicate.

[2017-04-01 01:30] #3789 closed, assigned to krisis

[2017-04-01 01:32] deekoder commented on #3731
Needs further discussion.

[2017-04-01 01:35] deekoder commented on #3722
Need a thorough pass on this during the USS Akira release.

[2017-04-01 01:37] deekoder commented on #3702
Discussion needed since it affect usability of the product. @abperiasamy

[2017-04-01 01:39] deekoder commented on #3693
It works. Please reopen if you think it does not.

[2017-04-01 01:39] #3693 closed, assigned to vadmeste

[2017-04-01 01:41] deekoder commented on #3602
Discuss what to do between now and the upcoming refresh.

[2017-04-01 01:49] deekoder commented on #3521
Can't reproduce easily.

[2017-04-01 01:54] deekoder commented on #3359
Let's discuss this further.

[2017-04-01 01:56] deekoder commented on #3332
Needs to be discussed.

[2017-04-01 01:57] deekoder commented on #3261
needs to be discussed and prioritized further.

[2017-04-01 02:01] deekoder commented on #3234
Need to finalize on where we stand on this. Let's discuss.

[2017-04-01 02:02] deekoder commented on #3233
We need to discuss and finalize where we stand on these.

[2017-04-01 02:04] deekoder commented on #3185
Discuss and finalize where we stand on these class of bugs.

[2017-04-01 02:05] deekoder commented on #3161
Alternative workarounds can address the requirement here. Eg. nginx + read-only bucket policy.

[2017-04-01 02:05] #3161 closed, assigned to nobody

[2017-04-01 02:07] deekoder commented on #3071
discuss and figure out what to do about this task.

[2017-04-01 02:07] deekoder commented on #2991
needs to be discussed.

[2017-04-01 02:09] deekoder commented on #2965
marking this high priority and blocked because its not clear how to proceed further on this. Let's discuss.

[2017-04-01 02:11] deekoder commented on #2844
Need to discuss and understand how we are proceeding here.

[2017-04-01 02:12] deekoder commented on #2829
@sych74 closing this. Please let us know if we have not addressed your question. We will reopen this issue.

[2017-04-01 02:12] #2829 closed, assigned to harshavardhana

[2017-04-01 02:13] deekoder commented on #2777
Let's discuss and finalize on this task.

[2017-04-01 10:08] sych74 commented on #2777
@deekoder the button is ready and placed in our repo https://github.com/jelastic-jps/minio. The following code can be used for adding the button to the current repo readme

`[![Deploy](https://github.com/jelastic-jps/git-push-deploy/raw/master/images/deploy-to-jelastic.png)](https://jelastic.com/install-application/?manifest=https://raw.githubusercontent.com/jelastic-jps/minio/master/manifest.jps&

[2017-04-01 10:57] krisis opened #4030 "Need to remove "Healing is not implemented yet stay tuned""
Once `mc-admin-heal` is ready for release, we should remove "Data volume requires HEALING. Healing is not implemented yet stay tuned:" warning from minio server banner on start up.

## Expected Behavior

Above mentioned warning must not appear in banner.

## Current Behavior

The warning appears in the banner.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Start minio with objects/upl

[2017-04-01 10:57] krisis commented on #4030
@harshavardhana I can take this up.

[2017-04-01 17:56] waynekoepcke commented on #3908
Hi @harshavardhana - Yes sure I can try it using the latest release.
I'll let you know how it goes.

Thanks

[2017-04-01 18:20] harshavardhana commented on #3908
Thanks @waynekoepcke

[2017-04-01 18:29] harshavardhana commented on #4030
[code]

Ideally it should be fixed here with `mc admin heal` message not remove it.

[2017-04-01 22:36] justinclift commented on #3359
Sounds like it might be mostly a matter of adding some IPv6 address detection so the IPv6 address can be displayed in the right places + some appropriate unit tests.  Hopefully it's that easy. :smile:

[2017-04-02 07:06] dennismulder commented on #4022
Hey, I work in Azure Storage and noticed this Gateway. Tried playing with it. Unfortunately I keep on getting issues with an invalid access key error. "mc: <ERROR> Invalid access key ‘dmulder.blob.core.windows.net’. Invalid arguments provided, cannot proceed". I am giving it the valid access key for the account. Am I missing something. Also on the server side I see issues:

time="2017-04-01T14:24:

[2017-04-02 07:34] krishnasrinivas commented on #4022
@dennismulder can you open a new issue? Also can you copy paste the `mc` command you ran and also the output? note that you have to do `export MINIO_ACCESS_KEY=dmulder` not `export MINIO_ACCESS_KEY=dmulder.blob.core.windows.net`

[2017-04-02 08:07] dennismulder opened #4033 "gateway: Invalid secret key error when using Azure Gateway"
I have started the minio Azure Gateway with the following command:
docker run -p 9000:9000 --name azure-s3 -e "MINIO_ACCESS_KEY=dmulder" -e "MINIO_SECRET_KEY=<key>" minio/minio gateway azure

The service starts succesfully:

Endpoint:  http://172.17.0.2:9000  http://127.0.0.1:9000
AccessKey: dmulder
SecretKey: <key>

Command-line Access: https://docs.minio.io/docs/minio-client-quickstart-guide

[2017-04-02 08:11] krishnasrinivas commented on #4033
secret key cannot be empty. Did you try to give it empty secret key on purpose?

[2017-04-02 08:39] dennismulder commented on #4033
No I removed it to not share credentials here (and replaced with <key>) of course I pasted my Primary Azure Storage key there.

[2017-04-02 08:40] dennismulder commented on #4033
argh angle brackets are replaced here on the github forum (I replaced my keys with [key], but then with angle brackets)

[2017-04-02 09:47] vadmeste commented on #4033
`mc` only checks the length of the secret key, which should be between 8 and 100 characters.

[2017-04-02 11:47] #4010 closed, assigned to vadmeste

[2017-04-02 17:04] krishnasrinivas commented on #4033
(cc @harshavardhana)
The released `mc` does not have the change yet to accommodate longer keys. You will have to compile it from source till the next release is made.

[2017-04-02 17:46] #4001 closed, assigned to harshavardhana

[2017-04-02 18:43] dennismulder commented on #4033
OK I will do this later this week. BTW. Why is the ACCESS Key not a FQDN? It should be. Azure Storage runs on a few different domain names for the various sovereign clouds provided (eg. USGov, USDoD, Germany, China etc).

[2017-04-02 18:54] krishnasrinivas commented on #4033
@dennismulder I see. But:
https://github.com/Azure/azure-storage-go/blob/7c36d244fc8bf27bcf9785b0b37d6beef2949296/client.go#L131

It takes account-name and account-key and hence we assumed account-name is like access-key.

Also, https://docs.microsoft.com/en-us/azure/storage/storage-azure-cli :
[code]

What do you think?

[2017-04-02 18:58] krishnasrinivas commented on #4033
then this would be an option for `--endpoint FQDN`

`minio server gateway --endpoing azure.usdod.gov azure`

access-key can still be account-name.

What do you think?

[2017-04-02 19:37] dennismulder commented on #4033
Makes sense @krishnasrinivas. Is that option already there and does the gateway use it?

[2017-04-02 19:38] dennismulder commented on #4033
Do you have alternative ways to test the gateway (outside of MC)? Eg. Should the AWS CLI work? (I have playing with that as well, but got errors also). Will do some more testing later this week.

[2017-04-02 19:50] harshavardhana commented on #4033
Using aws cli, or s3cmd will work as well.

[2017-04-03 01:13] harshavardhana commented on #3997
It was decided that we will move the homebrew tap to our own repositories

[code]

This would get the Formula from - https://github.com/minio/homebrew-minio

[2017-04-03 01:56] deekoder commented on #4010
@harshavardhana closed as fixed?

[2017-04-03 04:57] krishnasrinivas commented on #4033
Not yet, but we can bring it in future.

[2017-04-03 06:04] mantoni commented on #3997
Makes sense. I was surprised and disappointed by the response from the brew team. It's a dangerous and irresponsible decision, in my opinion. Please update here once `brew install minio/minio` works. Thank you.

[2017-04-03 06:10] harshavardhana commented on #3997
Thanks will do soon!

[2017-04-03 08:36] dennismulder commented on #4033
With the AWS CLI it seems to work now. I can list Blob Container and upload files. Great work guys.

[2017-04-03 08:43] dennismulder commented on #4033
BTW. With S3 Browser and Cyberduck I do get errors server side: time="2017-04-03T08:37:23Z" level=error msg="{\"method\":\"GET\",\"path\":\"/\",\"query\":\"\",\"header\":{\"Authorization\":[\"AWS PKE9IBCQMXLVTNN925A7:IEFu0gngHnoN9dvIK6qanDktI+8=\"],\"Host\":[\"52.174.233.10:9000\"],\"User-Agent\":[\"S3 Browser 6-5-9 http://s3browser.com\"],\"X-Amz-Date\":[\"Mon, 03 Apr 2017 08:37:22 GMT\"]}}" caus

[2017-04-03 11:52] hentismith commented on #3575
@hackintoshrao Sorry for slow progress.

Need to get all dependencies packaged and accepted into Debian first before I can start work on minio.
On a related note, can you please tag/release dsync ?

[2017-04-03 13:23] ghost opened #4036 "mc mirror --watch --force --remove ignores changes after some days"
mc mirror --watch --force --remove ignores changes after some days

## Expected Behavior
it should mirror local content to minio server even after days without desynch of local and remote location

## Current Behavior
restarting the "mc mirror --watch --force --remove" cmd after some 10+days revealed that it missed out on a couple 150+ delete operations and also on some uploads

## Steps to Reprod

[2017-04-03 13:31] vadmeste commented on #4036
@xstillwill, can you move this issue to https://github.com/minio/mc ?

[2017-04-03 13:53] #4036 closed, assigned to nobody

[2017-04-03 15:30] harshavardhana commented on #4033
They should be you can configure the server with TLS to avoid this error as well -  http://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls

[2017-04-03 16:36] deekoder commented on #3883
Handle gracefully. @abperiasamy , @vadmeste and @harshavardhana  to discuss optimal solution.

[2017-04-03 16:41] deekoder commented on #3731
dependent on new UI. Track new UX as an issue.

[2017-04-03 16:43] deekoder commented on #3702
This is part of the new UX. We will decide on this after seeing the new UX.

[2017-04-03 16:46] deekoder commented on #3261
Keeping it high pri since APIs do need to be tested for race conditions. All API maintainers need to chime in.

[2017-04-03 16:48] deekoder commented on #2965
ETA - Apr 6th.

[2017-04-03 16:54] deekoder commented on #4033
ETA: Apr 3 EOD release will take care of this issue.

[2017-04-03 16:58] deekoder commented on #3980
If the server is capable of healing and can establish quorum, it should. If we can't return error message.

[2017-04-03 17:02] deekoder commented on #3835
New UI demo tomorrow.

[2017-04-03 17:06] deekoder commented on #3727
Need to hook up to CI.  Need to dedicated machines to test every commit. ETA: pending meeting.

[2017-04-03 17:09] deekoder commented on #3521
@harshavardhana  & @abperiasamy  pending discussion today.

[2017-04-03 17:16] deekoder commented on #3468
@hackintoshrao  ask for remote access.

[2017-04-03 17:18] deekoder commented on #3352
Needs review and pending discussion.

[2017-04-03 17:21] deekoder commented on #3234
Minio Server should start in read-only mode.

[2017-04-03 17:26] deekoder commented on #3233
Duplicate of #3234

[2017-04-03 17:27] deekoder commented on #3185
Duplicate #3234

[2017-04-03 17:55] deekoder opened #4037 "browser: Minio browser new UX"
This is an umbrella enhancement task which will also address several present issues in the current UX.
#3962 #3943 #3933 #3835 #3731 #3702 #3602

[2017-04-03 18:02] deekoder commented on #2777
@sych74  - Thanks for making the button available! We are working on a mechanism where our partners like you can place their one click buttons. Please stay tuned.

[2017-04-03 18:04] deekoder commented on #4033
Upgrading this to a severe issue.

[2017-04-03 19:00] harshavardhana commented on #4033
A release has been made and binaries uploaded for `mc`  fixes the issue of secret key limits - https://github.com/minio/mc/releases/tag/RELEASE.2017-04-03T18-35-01Z

Can you upgrade to latest and validate this  for us @dennismulder with azure gateway - Thanks.

[2017-04-03 19:31] atom2ueki opened #4039 "AWS iOS SDK working with minio"
## Error messgae

<Error><Code>SignatureDoesNotMatch</Code><Message>The request signature we calculated does not match the signature you provided. Check your key and signing method.</Message><Key></Key><BucketName></BucketName><Resource>/images/test.jpg</Resource><RequestId>3L137</RequestId><HostId>3L137</HostId></Error>
Upload failed with error: (The operation couldn’t be completed. (com.amazonaw

[2017-04-03 21:06] vadmeste commented on #3883
@alpswjc, I did a simple test where Minio processed ~ 5000 requests per second and around 1022 concurrents requests, but Minio created only 230 threads << 10000 threads.

Can you tell us what your clients did exactly ? (in case if there is a thread leak)

[2017-04-03 21:24] #4030 closed, assigned to krisis

[2017-04-03 22:12] krishnasrinivas commented on #4039
@atom2ueki
* Can you paste the server log when the error happens?
* What operation did you try to do?
* Can you paste the code for the operation you tried as well?

[2017-04-03 22:14] krishnasrinivas commented on #3943
Does not work on Safari. @rushenn is exploring solution.

`window.location = url` does not trigger download of the file on Safari.

[2017-04-04 06:14] hackintoshrao commented on #3468
@thorerik : Will it be possible to get access to the machine to investigate this further?

[2017-04-04 06:16] krisis commented on #3980
## Background
Healing algorithm returns failure only if an attempt to heal any of the disks failed. It returns success even if all disks needing heal were offline.
In its current form, heal admin REST APIs returns the above boolean state making it impossible for clients like `mc` to distinguish between an object being healed completely, partially and not.

## Solution
The fix (so far) is to return

[2017-04-04 06:38] krishnasrinivas opened #4043 "gateway: Implement ListObjectsV2"
Implement anonymous ListObjectsV2. Currently it is handled via bucket-handlers-listobjects.go:bucket-handlers-listobjects.go()

[2017-04-04 06:44] MikaelWahlberg opened #4044 "CORS missing Access-Control-Allow-Credentials header"
When doing a Preflight request with the Javascript FileAPI ( https://github.com/mailru/FileAPI )
(For a presigned POST) Minio does not respond with a Access-Control-Allow-Credentials: true header.

When doing the same request to Amazon S3 we do get the header (After CORS is configured correctly on the bucket of course)

## Expected Behavior
I would like Access-Control-Allow-Credentials: true to be

[2017-04-04 06:47] harshavardhana commented on #4044
No specific reason we can certainly add it. Thanks for the bug report @MikaelWahlberg

[2017-04-04 07:56] atom2ueki commented on #4039
@krishnasrinivas
- Can you paste the server log when the error happens?
```time="2017-04-03T19:19:01Z" level=error msg="{\"method\":\"PUT\",\"path\":\"/images/test.jpg\",\"query\":\"\",\"header\":{\"Accept\":[\"*/*\"],\"Accept-Encoding\":[\"gzip, deflate\"],\"Accept-Language\":[\"en-us\"],\"Authorization\":[\"AWS4-HMAC-SHA256 Credential=V0CZ2XP1SCEOEN2M2NNA/20170403/us-east-1/s3/aws4_request, Sign

[2017-04-04 08:06] harshavardhana commented on #4039
Here the `service` looks like is pointing to `.APIGateway` and also the host header is wrong

[code]

Are you using a proxy in between Minio and your iOS App?

[2017-04-04 08:07] harshavardhana commented on #3946
// cc @fwessels to take a look at the implementation, before we decide.

[2017-04-04 08:10] harshavardhana commented on #4033
@dennismulder will close this as fixed, please re-open if you see an issue with `mc`.

[2017-04-04 08:21] atom2ueki commented on #4039
@harshavardhana no, there is no proxy, so what should I put the services here if not `.APIGateway `, should I map `http://xxxx.com:9000` to a subdomain ?

[2017-04-04 13:15] aead commented on #3946
@fwessels [https://go-review.googlesource.com/c/38362/](https://go-review.googlesource.com/c/38362/)

[2017-04-04 15:31] krishnasrinivas commented on #4039
@atom2ueki this is expected to appear in Host header. But what you pasted was:

So we guessed a proxy might be meddling the Host header. If not we have to dig deeper.

BTW `xxxx.com` is `atom2ueki.com` right?

[2017-04-04 16:03] krishnasrinivas commented on #4043
https://github.com/minio/minio-go/pull/638 exposes ListObjectsV2 directly which can be made use of instead of `minio.ListObjects` i.e continuation token will be provided by backend instead of minio server

[2017-04-04 16:14] #3962 closed, assigned to rushenn

[2017-04-04 16:52] atom2ueki commented on #4039
@krishnasrinivas yes, you're right, and now I've setup tls on s3.atom2ueki.com, and got another error
[code]
says that There were headers present in the request which were not signed

[2017-04-04 16:57] atom2ueki commented on #4039
@krishnasrinivas
### configuration
[code]

### Logs from docker
```time="2017-04-04T17:00:06Z" level=error msg="{\"method\":\"PUT\",\"path\":\"/images/test.jpg\",\"query\":\"\",\"header\":{\"Accept\":[\"*/*\"],\"Accept-Encoding\":[\"gzip, deflate\"],\"Accept-Language\":[\"en-us\"],\"Authorization\":[\"AWS4-HMAC-SHA256 Credential=7X9BOW4CO78JFUD5EQ4D/20170404/us-east-1/s3/aws4_request, SignedHeader

[2017-04-04 17:53] krishnasrinivas commented on #4039
[code]

but `transfer-encoding` header is not available in the headers list - I think nginx is removing it?

[2017-04-04 18:08] harshavardhana commented on #4039
The transfer-encoding header is removed by Go server we might have to support this, just like how they remove "Expect" header.

[code]

[2017-04-04 19:08] krishnasrinivas commented on #4039
But the above code is in `func (cw *chunkWriter) writeHeader(p []byte)` i.e for headers sent to the client.

It must be getting removed somewhere else.

[2017-04-04 19:13] harshavardhana commented on #4039
Yes you are right, but i remember seeing it somewhere that they remove it.  It could be a potential bug too since Transfer-Encoding can have different encoding mechanisms they shouldn't remove it because the value is necessary.

[2017-04-04 19:26] krishnasrinivas commented on #4039
[code]

reproduces this problem without proxy

[2017-04-04 21:52] harshavardhana commented on #3997
@mantoni - so we added homebrew repo to our main minio repo as well

Here is how you can test it out.
[code]

Can you let us know if this works properly on your end?

Thanks

[2017-04-04 22:07] krishnasrinivas commented on #4039
@atom2ueki we'll fix it.

[2017-04-05 01:43] deekoder opened #4046 "Maximum parity size benchmark in distributed minio"
Please explore this.

[2017-04-05 01:58] deekoder opened #4047 "Bucket level distribution in standalone erasure minio server"
- Explore this in a separate branch.
- Bucket scheduling:  look up max free space
- ListBuckets
- Bucket look up cache (in memory)
- Explore routing mechanism for all the calls

[2017-04-05 04:27] wey-gu commented on #3898
Dear @harshavardhana sorry for bothering when could I expect the binary version with the issue fixed?

Many thanks!

[2017-04-05 06:06] harshavardhana commented on #3898
@littlewey it should be soon, we have been waiting on testing.  You could use docker btw

[code]

To get the latest UI changes until we make a new release.

[2017-04-05 07:13] abaumann0204 opened #4048 "ecosystem: Support Minio to be an external persistent storage solution for k8s"
Kubernetes is really a very important open source cloud technology project.
For many cloud projects storage is also very important. Normal docker based solutions are not always the best way. In the case of multi node clusters kubernetes introduced the concept of Persistent Volumes. Today there are a bunch of solution available. Some of this are commercial solutions and some are open source.
From m

[2017-04-05 07:15] nitisht commented on #4048
Thank you @abaumann0204
We will explore this.

[2017-04-05 11:43] AbrohamLincoln-zz opened #4050 "Startup fails if webhook endpoint is offline."
In my development environment my webhook endpoint was offline.  During this time startup of a Minio node would fail.

## Expected Behavior
I'm not entirely sure if this is operating as intended or a bug, but it seems to me having Minio up and running is preferable to stopping due to a down webhook endpoint.

Minio should log the error and continue with initialization.

## Current Behavior
Minio lo

[2017-04-05 11:44] mantoni commented on #3997
@harshavardhana Thanks. Apparently it worked:

[code]

~~However, I'm now getting another error when starting minio, which I don't have the time to trace down right now:~~

[code]

~~I'm having a little trouble reverting to the previous working version now. Maybe you have some pointers for me?~~

[2017-04-05 11:51] vadmeste commented on #3997
@mantoni, you don't have HOME variable set in your terminal ?

`$ echo $HOME`

[2017-04-05 11:51] mantoni commented on #3997
Scratch it. I wasn't exposing the `HOME` environment variable to minio. It works as it should now. Thanks a lot!

[2017-04-05 11:51] #3997 closed, assigned to harshavardhana

[2017-04-05 15:02] vadmeste commented on #4044
I think CORS parameters should be part of the config, we can't generalize it otherwise it will be a security risk.

`Allowed-Origins: *` means if a user opens any malicious web page from any location in his browser, the javascript inside that web page can do harmful things to his Minio session (like removing buckets, objects, etc..)

[2017-04-05 15:25] harshavardhana commented on #4050
It is operating as intended. We deliberately fail because it indicates a configuration mistake, if you have your endpoint offline you should turn the config for webhook from `true` to `false`

[2017-04-05 16:47] AbrohamLincoln-zz commented on #4050
Consider this scenario:

You have a webhook configured to notify a third party endpoint.
The third party endpoint fails temporarily for (insert some reason here).
During that temporary outage your Minio nodes restart for (insert some other reason here).
Your distributed Minio will fail to start despite having a valid config.

It seems to me that having a functional Minio instance is preferable to

[2017-04-05 17:13] MikaelWahlberg commented on #4044
While I agree with that, it is a separate issue to the one I reported. I just want credentials to be allowed as well when other CORS are allowed.

Making it the whole CORS-thing a config is of course a good idea in general.

[2017-04-05 17:18] vadmeste opened #4051 "go compilation fails for armv6 and 386"
## Expected Behavior
go successfuly builds under armv6 or 386 systems

## Current Behavior
go fails to build

## Steps to Reproduce (for bugs)

[code]

## Possible Solution
Fix code

## Context
Compiling the project

## Your Environment
Recent master https://github.com/minio/minio/commit/393c01d078034a889a1dbf6b47aa0dbe46e9a12f

[2017-04-05 17:18] vadmeste commented on #4051
Taking this.

[2017-04-05 18:18] #4051 closed, assigned to vadmeste

[2017-04-06 01:35] dennismulder commented on #4033
@harshavardhana now mc config works, but when listing I get the following error:
mc: <ERROR> Unable to list folder. The access key ID you provided does not exist in our records.

the AWS CLI does work.

[2017-04-06 01:37] harshavardhana commented on #4033
how did you add @dennismulder `mc config` did you add the config param access key and aws cli match?

// cc @krishnasrinivas

[2017-04-06 01:38] dennismulder commented on #4033
Never mind. My bad. I had a typo in my accountname. It works.

[2017-04-06 01:39] harshavardhana commented on #4033
Okay closing thanks.. @dennismulder

[2017-04-06 01:39] #4033 closed, assigned to harshavardhana

[2017-04-06 02:01] deekoder commented on #4048
Please go through this link : https://mesosphere.com/blog/2017/03/30/csi-towards-universal-storage-interface-for-containers/
Multiple vendors are working together to standardize a container storage interface. At the moment, we don't mind working with each one of them to tightly integrate Minio.  Similar to OpenStack's Swift Object, Cinder Block and Manila File storage interface, it will be nice to

[2017-04-06 02:28] deekoder commented on #4050
Webhook is async unlike elastic search, NATs targets. So @AbrohamLincoln is right in that we should not exit for offline webhook events.

[2017-04-06 02:39] deekoder commented on #3966
@abperiasamy  approved @fwessels proposal.

[2017-04-06 04:17] atom2ueki commented on #4039
@krishnasrinivas @harshavardhana
I've update my docker image with minio/minio:edge, but I still get error form server side, client side get a successful upload url, but server side have error

[code]
my configuration changed a bit, endpoint url changed from https://s3.atom2ueki.com to https://s3.atom2ueki.com/minio

## request header
[code]

[2017-04-06 04:28] harshavardhana commented on #4039
Ping @atom2ueki the request header is set by you or AWS SDK. ?  Looks like transfer-encoding has a wrong value is odd here?

[2017-04-06 04:45] atom2ueki commented on #4039
@harshavardhana yes, this header is getting from
[code]
if you free, you can have a try with the code I shared with you

[2017-04-06 05:24] harshavardhana commented on #4039
Will do thanks @atom2ueki

[2017-04-06 05:50] atom2ueki commented on #4039
@harshavardhana additionally, when I print out the return of aws request, get a very strange html return, after check it's the main html page of Minio Browser, seems that the request is wrong, it goes to a web page, need to change url/minio to url only, after remove /minio the signature mismatch will appear

[2017-04-06 06:09] atom2ueki commented on #4039
@harshavardhana @krishnasrinivas
also did a comparison SignedHeaders inside Request Header between sending over to real aws s3 server and send to Minio
#### Minio
SignedHeaders=content-encoding;content-type;host;transfer-encoding;user-agent;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length
#### AWS S3
SignedHeaders=content-encoding;content-type;host;transfer-encoding;user-agen

[2017-04-06 06:14] harshavardhana commented on #4039
You should never use "/minio" since it used for browser routing the real URL is the one where you get signature mismatch. Will try to reproduce this and see. what is going on.

[2017-04-06 06:17] harshavardhana commented on #4039
This is not a problem looks like SDK is making sure not to add AWS S3 specific features into the request.

[2017-04-06 06:21] atom2ueki commented on #4039
@harshavardhana yes, I agree, because tried another one, there is no `x-amz-security-token`

[2017-04-06 08:29] harshavardhana commented on #4039
@atom2ueki after digging further i see that Minio server is receiving wrong information from the aws-sdk-ios for example

[code]

Here the Host header is supposed to be "10.0.0.3:9000" whereas aws-sdk-ios seems to strip out the port causing signature issues.

Some interesting i found is that aws-sdk-ios doesn't officially support custom endpoints - https://github.com/aws/aws-sdk-ios/issues/349

Ca

[2017-04-06 09:10] atom2ueki commented on #4039
@harshavardhana yes, if you're using ip address, it won't work, the host will filter port, but if you have proxy server, bind a domain/sub-domain, it should point to correct port

[2017-04-06 09:14] atom2ueki commented on #4039
@harshavardhana the error is coming out from object-handler.go line 494, the most possible problem is coming out from `calculateSeedSignature`, and I've go through the func where can throw error, because the parent func, so it seems no matter what type of error will consider as signature mismatch, now I suspect `extractSignedHeaders` have problem, but I didn't run the debug, just check the logic o

[2017-04-06 09:29] atom2ueki commented on #4039
@harshavardhana from awss3 ios sdk, I saw that when generate header, `host` only have full url host, no port number

[2017-04-06 15:03] ChiefArchitect opened #4055 "Windows Based Minio Cluster Setup"
I have a well working standalone minio server on a windows machine. at this point i would like to scale it out and started looking at the distributed minio documentations

minio server http://10.165.241.122/c:\dev\store1  http://10.165.241.123/c:\dev\store2  - doesnt work
minio server http://10.165.241.122:c:\dev\store1  - doesnt work
minio server http://10.165.241.122/c:/dev/store1  - doesnt work

[2017-04-06 15:15] ChiefArchitect commented on #4055
C:\dev\ObjectStorage>minio server http://10.165.241.122/C:\dev\store1 http://10.165.241.122/C:\dev\store2 http://10.165.241.122/C:\dev\store3 http://10.165.241.122/C:\dev\store4
time="2017-04-06T18:12:07+03:00" level=fatal msg="Initializing object layer failed" cause="Unsupported backend format [fs] found" source="[server-main.go:587:serverMain()]"

[2017-04-06 15:33] romulogoncalves commented on #2965
+1 I am also interested in the solution.
I am able to read from Minio but not able to write the result back.

[2017-04-06 16:09] buffcode commented on #484
@fkautz Did you find a workaround/solution? I'm also looking for this feature as we are using minio as cache backend for GitLab.

[2017-04-06 16:23] krishnasrinivas commented on #4039
@harshavardhana did you try to reproduce the problem using any iOS simulator?

[2017-04-06 16:44] krishnasrinivas commented on #484
@buffcode you can use `mc` in cron to do this:
` mc rm --recursive --older-than=90 s3/jazz-songs/louis/`

[2017-04-06 17:43] fwessels commented on #3966
Which means that we will not be adding a 'hack' to` mc admin` for delayed starting of minio (instead just start `minio server` directly at the time that all IP addresses are known).

[2017-04-06 18:29] buffcode commented on #484
Thanks a lot!

[2017-04-06 18:41] harshavardhana commented on #4039
@atom2ueki  That is a bug in AWS IOS SDK , it is also clear that they don't support custom endpoints. BTW aws-java-sdk works fine with Minio server. I have a iOS simulator and validate the entire code now.

[2017-04-06 18:49] harshavardhana opened #4056 "server: Restic fails to backup over Nginx reverse proxy to Minio"
Original issue here - https://github.com/restic/restic/issues/849, https://github.com/restic/restic/issues/904

## Expected Behavior
restore my file completely without a GOAWAY result.

## Current Behavior

The minio io instance is behind a HTTPS nginx reverse proxy. After some more testing today i was able to restore my data from minio without the reverse proxy and HTTP only successfully.
I'm run

[2017-04-06 18:54] vadmeste commented on #4056
Taking this.

[2017-04-06 19:43] krishnasrinivas commented on #3722
For example:
https://docs.minio.io/docs/minio-quickstart-guide This does not use the term `Standalone FS`

https://docs.minio.io/docs/minio-erasure-code-quickstart-guide does not use the term `Standalone Erasure`

https://docs.minio.io/docs/distributed-minio-quickstart-guide does not use the term `Distributed Erasure`

[2017-04-06 19:54] krishnasrinivas commented on #4055
on slack:

@ChiefArchitect @deekoder  can you close this?

[2017-04-06 19:56] deekoder commented on #4055
Closing this. Since this issue is resolved for @ChiefArchitect. But I am also opening a doc issue so that we clearly document the nuances for Windows.

[2017-04-06 19:56] #4055 closed, assigned to krishnasrinivas

[2017-04-06 19:58] deekoder opened #4057 "docs: Document how to start Minio distributed erasure on windows."
We need to have clear documentation for this. And declare clearly which parts are experimental.

[2017-04-06 20:18] deekoder commented on #3602
proceed with current colors.

[2017-04-06 21:25] finid opened #4058 "Variable to point to a new directory for config file"
## Expected Behavior

Just a question:

If I move the config directory from `~/.minio` to `/etc/minio`, for example, how can I inform Minio of the change in `/etc/default/minio`?

[2017-04-06 21:47] vadmeste commented on #4058
@finid, Hello,

`minio -C /etc/default/minio/` will do.

[2017-04-06 21:48] harshavardhana commented on #4058
You need to edit the

[code]

[2017-04-06 21:53] finid commented on #4058
Thank you.

[2017-04-06 21:53] #4058 closed, assigned to vadmeste

[2017-04-06 22:01] vadmeste commented on #4056
**=>**  I wasn't able to reproduce this issue, I tested with:

* Ubuntu 16.04 64 bits
*  go 1.8
*  minio 2017-03-16T21:50:32Z
*  restic: 0.4.0
*  nginx version: nginx/1.10.0 (Ubuntu)

**=>** Minio & nginx lives in one server, restic client is invoked from another server.
**=>** the size of the test file is 5 GiB.

**=>** **nginx config:**

[code]

**=>** **Restic commands:**

`$ ./restic-0.4.0/res

[2017-04-07 01:41] atom2ueki commented on #4039
@harshavardhana im also trying to find out the root cause of this, is it really related to that port binding issue, not so familiar of go env debug, I have go through that part code, the way generate signature logically seems no problem, but don't know why the result diff from http signature

[2017-04-07 01:41] atom2ueki commented on #4039
@harshavardhana im also trying to find out the root cause of this, is it really related to that port binding issue, not so familiar of go env debug, I have go through that part code, the way generate signature logically seems no problem, but don't know why the result diff from http signature

[2017-04-07 01:45] harshavardhana commented on #4039
We have a found a bunch of things and @krishnasrinivas is fixing them. We will let you know. Thanks for being on top of this.

[2017-04-07 02:36] harshavardhana commented on #4050
ETA - another 2 hrs.

[2017-04-07 02:40] harshavardhana commented on #3800
This is dependent on `mc` release and can be done after.

[2017-04-07 02:42] harshavardhana commented on #3567
This functionality already works we can bind to a specific IP.  Upstream go lacks features to bind to a specific set of IPs - https://github.com/golang/go/issues/9334

Closing until then.

[2017-04-07 02:42] #3567 closed, assigned to harshavardhana

[2017-04-07 04:19] finid commented on #3567
@harshavardhana, but by default, Minio already binds to all available IP address on a server. Or is that different from what you're referring to?

[2017-04-07 04:46] finid opened #4061 "docs: Document what's the recommended user and group to run Minio."
## Expected Behavior

I have Minio running fine, but just need to get a better understanding of some of the configurations options.

In the systemd service descriptor file, one has to specify the user and group that Minio should run as. For my installation, I created a new system user with no login access for Minio, but I've seen other configurations where `root` was specified for the user and gro

[2017-04-07 04:53] harshavardhana commented on #3567
Binding to all interfaces is not the issue. It is to selectively listening on only few of them .  Currently it's either bind to one or to all. Go lacks API level support for this.

[2017-04-07 04:58] finid commented on #3567
OK, thanks for the clarification.

[2017-04-07 05:49] koolhead17 commented on #4061
hello @finid It is not required to run minio as root. If you check https://github.com/minio/minio-service/tree/master/linux-systemd  and the minio-service file, it has ``service`` section
[code]

Feel free to use the user you would like Minio to run.

hope. it helps.

[2017-04-07 06:38] krisis commented on #3980
@deekoder I have updated admin-api docs in this PR - https://github.com/minio/minio/pull/4045/files#diff-b8edc1fe50490a19c5d5fd2849477ad9.

[2017-04-07 06:39] krisis commented on #3980
This issue can be closed once `mc` uses these heal states to provide user with rich(er) information about a heal-object or heal-upload admin operation. Waiting on #4045 to be merged. The pkg/madmin changes need to be vendored in.

[2017-04-07 07:29] hackintoshrao commented on #2965
Not able to read file from the setup described by @bradkarels. Using Minio latest release.

Using [tcp flow](https://github.com/simsong/tcpflow) I see that Spark is sending the following requests to Minio server

[code]

The following error is seen on executing `val b1 = sc.textFile("s3a://data/bacon_tiny.json").first` from spark shell. Need to change the `log4j` settings to log into a file to see

[2017-04-07 07:48] harshavardhana commented on #4061
@finid you can use any normal user or create a special user which has no shell access. Perhaps you can use `nobody:nobody` given the user has proper access perms to the /etc/minio directory which systemctl service uses by default.

The general guide line is to avoid `root` and run it as a normal user, now what kind of restrictions based on cgroups, permissions this user needs to have is based on c

[2017-04-07 07:51] harshavardhana commented on #4061
Please do let us know if you need us to describe these details further. @finid

[2017-04-07 08:01] hackintoshrao commented on #2965
There was a signature mismatch error due misconfiguration of the keys. Able to read now. The setup is ready, Will verify writes and investigate the issue further. Special thanks to @bradkarels for detailed instruction on setting it up.

[2017-04-07 09:41] donatello opened #4065 "mc admin info on minio cluster with only 2 of 4 servers up prints bad error message"
Running `mc admin info alias` on a minio server in a 4-node cluster where only 2 servers are up prints:

`time="2017-04-07T09:35:42Z" level=error msg="Unable to get uptime from majority of servers." cause="Storage resources are insufficient for the read operation." source="[admin-handlers.go:247:adminAPIHandlers.ServerInfoHandler()]" `

## Expected Behavior

The cause cannot be "storage resources

[2017-04-07 09:44] finid commented on #4061
Thanks, @koolhead17, @harshavardhana.

This question came up for me, because I'm setting Minio up with TLS support on a system that already has a Let's Encrypt certificate set up for domains on the server. Being that LE doesn't issue certs to an IP address, Minio was configured to use one of the domain's certs by symlinking to `/etc/minio/certs` to that domain's certs.

It looked good, but Minio f

[2017-04-07 09:53] koolhead17 commented on #4061
@finid Please check https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio . After generating the cert we have changed it ownership and permission.

### Step 5: Change ownership of certificates.

[code]

Hope this helps.

[2017-04-07 10:14] krishnasrinivas commented on #4026
We'll be able to write a good documentation once the caching implementation is complete.

[2017-04-07 10:15] donatello commented on #3185
#3234 is about letting the Minio cluster come up and serve reads when only a "readQuorum" number of servers is up (i.e. `n/2` of `n` servers are up) - that can be resolved independently of this one.

Write-requests hanging when write-quorum is not present and read-requests hanging when read-quorum is not present is related to the locking behavior - it currently does not have a provision to return

[2017-04-07 10:15] krishnasrinivas commented on #4025
Needs 3-4 days of testing once caching is complete.

[2017-04-07 10:16] krishnasrinivas commented on #4024
ETA 12th

[2017-04-07 13:26] krisis opened #4067 "tests: TestPostPolicyBucketHandler unit test fails"
## Expected Behavior

TestPostPolicyBucketHandler unit test should pass.
## Current Behavior

[code]
## Possible Solution

Not known
## Steps to Reproduce (for bugs)

1. `make test`
2.
3.
4.

## Context

CI failure - https://travis-ci.org/minio/minio/jobs/219567604
## Your Environment

* Version used:
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System

[2017-04-07 16:09] k0nsl commented on #1159
@pascalandy: your blog is dead.

[2017-04-07 16:39] nitisht commented on #4057
Fixed by https://github.com/minio/minio/pull/4068

[2017-04-07 16:42] akb2017 opened #4069 "Is there any possible to set policy to only to particular user?Or If i want to set the policy is that possible to set from minio client installed in other than the server host machine ??"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version:
* Link to your project:

[2017-04-07 17:31] krishnasrinivas commented on #4069
@akb2017 can you format the issue properly? You have put everything in the subject line.

The policy is at `bucket/prefix` level. One minio instance is tied to one access/secret key.

Yes.

[2017-04-07 17:36] akb2017 commented on #4069
Actually my issue is if the minio server is used by many clients,then  how to make it private ?
Is there any way to set policy to that particular minio client?

[2017-04-07 17:38] akb2017 commented on #4069
If possible how to do that ?

[2017-04-07 18:09] pascalandy commented on #1159
Thx for letting me know. Fixed !

[2017-04-07 19:34] krishnasrinivas commented on #4069
You will have to launch separate minio instances for each tenant.

If minio is used by an application, the application will itself have multiple users and application controls access to minio objects using [presigned-url](http://docs.aws.amazon.com/AmazonS3/latest/dev/ShareObjectPreSignedURL.html)

[2017-04-08 00:52] krishnasrinivas commented on #4039
@atom2ueki can you try this patch https://github.com/minio/minio/pull/4064

[2017-04-08 02:30] klausenbusk opened #4072 "server: [gateway] Support for Backblaze B2"
Hello

I think a lot of user could find a S3 gateway for B2 very useful, as there is a lot of backups tools for S3 and B2 is very cheap (0,005$/GB).

Rclone Go package could be used for integrating with the API: https://godoc.org/github.com/ncw/rclone/b2 https://godoc.org/github.com/ncw/rclone/b2/api

[2017-04-08 03:49] hackintoshrao commented on #2965
The following is the error from spark shell on trying to write data into Minio.

[code]

Here are the requests sent by spark to Minio.

[code]

Need to further investigate the cause of the error.

[2017-04-08 03:59] atom2ueki commented on #4039
@krishnasrinivas thanks, but may I know how can I build a docker image from your branch? because after I changed `go get -v -d` in Dockerfile, it gives me `package github.com/krishnasrinivas/minio: code in directory /go/src/github.com/krishnasrinivas/minio expects import "github.com/minio/minio"`

[2017-04-08 06:44] harshavardhana commented on #4039
We will build one and give it to you @atom2ueki

[2017-04-08 08:25] harshavardhana commented on #4069
Can you fix the title of the issue @akb2017 ? and also fill in the details of the issue template - it is always a good practice to follow issue template for us to help you better.

[2017-04-08 08:27] harshavardhana commented on #4069
Moving the issue as working as intended.

[2017-04-08 08:36] harshavardhana commented on #4039
@atom2ueki here you go `docker pull y4m4/minio:krishna-ios-fix` let us know how it goes..

[2017-04-08 08:43] #3896 closed, assigned to harshavardhana

[2017-04-08 10:31] donatello commented on #4065
Steps to reproduce were not accurate - it happens only after 3 of 4 servers are down and then one of the down servers is brought up again - that behavior is being fixed in https://github.com/minio/minio/pull/4066 - closing this as not a bug.

[2017-04-08 10:31] #4065 closed, assigned to donatello

[2017-04-08 13:18] atom2ueki commented on #4039
@harshavardhana @krishnasrinivas get the same error
client side error:
[code]
server side error:
[code]

[2017-04-08 19:50] JohnnyLeone commented on #4056
Thanks for opening the issue here. I had not the time to open it myself.

As additional information too you i'm running minio in and nginx in a container. The base template for generating the nginx.conf is located here [nginx-proxy](https://github.com/jwilder/nginx-proxy/blob/master/nginx.tmpl)

### Here is my nginx.conf block for minio

[code]

@vadmeste I'm using the same procedure to backup/res

[2017-04-08 21:13] finid opened #4076 "Minio server credentials in `mc` config.json: What's their purpose"
## Expected Behavior
Don't know what to expect, just trying to get a better understanding of the credentials in `.mc/config.json`
The **local** entry for my setup has the following credentials (btw, those keys are not real):

[code]
Thing is, my Minio server is not bound to *localhost*, but to the routable IP address of the server.

I find that even with the above settings, I can still use the `mc

[2017-04-08 22:06] finid commented on #4076
OK, figured this thing out. Now works just fine.

[2017-04-08 22:06] #4076 closed, assigned to krishnasrinivas

[2017-04-08 23:35] jonandernovella opened #4077 "[Pachyderm + Minio] Pipeline does not output any results/commit after processing"
## Expected Behavior
The jobs in Pachyderm should output the results/commit after having correctly processed the data in the input repo.

## Current Behavior
When the processing of the data finishes successfully, Pachyderm does not seem to make the final commit in a multiple worker scenario.

`failed to process datum [file:<commit:<repo:<name:“mrpo” > id:“4c1d47e832cf4b9f8965aabc24008ed8” > path:“

[2017-04-09 07:28] #3234 closed, assigned to donatello

[2017-04-09 08:53] krishnasrinivas opened #4079 "xl: verify if XL works fine when data/parity is made configurable"
@harshavardhana requested an issue to be opened for this. https://github.com/minio/minio/pull/4066#discussion_r110534879

As a low priority we can explore what all changes XL needs to make data/parity configurable.

[2017-04-09 13:27] balamurugana opened #4080 "copy condition unmodified fails in minio"
Below minio-java functional test fails in play.minio.io whereas it succeeds in amazon s3.

[code]
Failure message:
[code]

## Expected Behavior

Should work as like amazon s3

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. Use the above code snippet.
2.
3.
4.

## Context

## Your Environment

* Version used: play.minio.io
* Environment name and version (e.g. nginx

[2017-04-09 19:04] vadmeste commented on #4056
@JohnnyLeone, I wasn't able to reproduce the issue with nginx_proxy using your nginx conf. Both nginx and minio were executed in two separate containers.

Can you update your jwilder/nginx-proxy and minio/minio image ? (`docker pull jwilder/nginx-proxy` and `docker pull minio/minio`)

I put the nginx config in a separate file (minio.conf) which will be /etc/nginx/conf.d/minio.conf inside the conta

[2017-04-09 20:54] harshavardhana opened #4081 "notifications: Simplify generating and adding new notifications"
## Expected Behavior
Currently adding and removing notification is hard - explore ways to make it simpler.

## Current Behavior
Cryptically modifying config files and not being able to edit config to be syntax error free.

## Possible Solution
No solution yet.

## Steps to Reproduce (for bugs)
Architectural issue.

## Context
Simplification for overall usage of Minio.

## Your Environment
Current

[2017-04-09 20:57] harshavardhana commented on #4077
// cc Adding @dwhitena as well here for pachyderm related inputs if any.  We will work on deploying and configuring this ourselves thanks @jonandernovella for providing all the relevant configuration files.

[2017-04-09 21:06] vadmeste commented on #4080
@balamurugana,

`copyConditions.setUnmodified(new DateTime(2015, Calendar.MAY, 3, 10, 10))` means copy the source only if it is not modified since 3 May 2015, so this is intended to fail as Minio did.

However, if I test CopyObject of minio-go, it fails with AWS S3:

[code]
**=>**
[code]

So, it looks more like a minio-java bug, what do you think ?

[2017-04-09 21:12] harshavardhana commented on #4080
BTW `minio-java` function test runs fine with play.

[code]

[2017-04-09 21:17] vadmeste commented on #4080
Yes, this problem only occurs with AWS S3

[2017-04-09 21:22] harshavardhana commented on #4080
From what i can remember with `s3verify` we have seen that some times S3 behaves in a wrong manner i.e not following the spec and then it starts working fine. Frequent with buckets which are created newly and it starts working in accordance with spec after some time.  This is a sporadic problem so minio server behavior is correct here.

[2017-04-09 21:29] harshavardhana commented on #4080
Looks like it is working fine i created bucket in `us-west-1`

[code]

[code]

[2017-04-09 21:36] vadmeste commented on #4080
That's true,

However, with the same source bucket & object that I've created, minio-go shows the correct behavior but minio-java doesn't, most likely this is a weird bug in minio-java.

@harshavardhana does your test cover unmodified use case ?

[2017-04-09 21:43] harshavardhana commented on #4080
I am running minio-java functional test . that's all. @vadmeste

[2017-04-09 22:59] harshavardhana commented on #4080
Closing this as bug in minio-java instead - https://github.com/minio/minio-java/issues/546

[2017-04-10 00:32] balamurugana commented on #4080
What is the conclusion?  `minio-java` expects a failure which is got in minio server but not amazon S3.   If `minio-java` is buggy, why isn't minio server working? Don't both servers behave similar in this case irrespective of `minio-java` is buggy?

[2017-04-10 00:51] harshavardhana commented on #4080
There are two things here

- Incorrect time sent by minio-java - AWS S3 just ignores the time if its not in the right format. Setting correct time format generates the same error as generated by Minio server.

[code]

This is not the `http.TimeFormat`

[code]

- Minio server treats it as failure instead of proceeding with the call i.e incorrect time was sent by the client.

[code]

`ifModifiedSinc

[2017-04-10 00:56] balamurugana commented on #4080
If amazon S3 works by ignoring the date with a buggy client, the expected behavior should be same as in minio server.  minio-java is one of such kind of buggy client.

This issue needs to be fixed at the server.

[2017-04-10 01:18] harshavardhana commented on #4080
No we should not @balamurugana at times we have to do the right thing, it would have been fine if its some other sort of call like GET etc - relaxing this causes an unexpected write on the server side i.e a file is copied.

It could be possible that AWS S3 would fix this in future which means that we will be at a disadvantage. It is not correct mimic bad behavior, it is better for the client to fi

[2017-04-10 01:24] balamurugana commented on #4080
If Amazon S3 ignores wrong date format and continue the operation, minio server should do the same.  Currently the server treats as some specific timezone and continues which is wrong.

[2017-04-10 01:26] balamurugana commented on #4080
If so, amazon s3 would return different error code  for this case.  that leads for the fix in minio server as well.  In both the cases we should fix it.

[2017-04-10 01:41] harshavardhana commented on #4080
Actually there is a better reason to do so.  According to https://tools.ietf.org/html/rfc7232#section-3.4
[code]

So it would seem that AWS S3 is behaving in accordance with HTTP spec.

[2017-04-10 01:45] harshavardhana commented on #4080
Actually will close this an open a separate issue, it is for GetObject, HeadObject, CopyObject.

[2017-04-10 01:45] #4080 closed, assigned to vadmeste

[2017-04-10 01:53] harshavardhana opened #4082 "server: Precondition modified headers should be ignored if not in http.TimeFormat"
Continuing from - https://github.com/minio/minio/issues/4080

## Expected Behavior
Should ignore ModifiedSince and UnmodifiedSince headers if they are not in http.TimeFormat and proceed to perform the action instead of returning an error to the client.

## Current Behavior

[code]

Returns `true` which fails conditions when a client sends headers in invalid `http.TimeFormat`

## Possible Solution

[2017-04-10 01:54] harshavardhana commented on #4082
// cc @balamurugana

[2017-04-10 01:56] balamurugana commented on #4082
Refer https://github.com/minio/minio/issues/4080 how the issue was found.

[2017-04-10 02:00] balamurugana commented on #4080
There is no good reason to close this and refer in another new issue.  The issue title/description could have been modified to address the decided.

[2017-04-10 02:01] harshavardhana commented on #4080
There is a reason, this issue only talks about CopyObject - the issue exists even for Head() and Get().

[2017-04-10 02:05] balamurugana commented on #4080
You are free to modify the issue title/description though.

[2017-04-10 13:09] dwhitena commented on #4077
@harshavardhana Thanks for the cc, and thank you @jonandernovella for the details.  I have been working with @jonandernovella a bit to debug, but I definitely think its good to bring you all into the discussion.  Some of the gluster + minio details are a little out of my wheelhouse.

I can say that I have:
- Run @jonandernovella's exact pipeline with his exact data on a normal (pure Google, GKE +

[2017-04-10 13:31] romulogoncalves commented on #2965
Hi,

Great to see there is a fix. It would be nice to see the same for current stable versions and not only for haddop-aws-3.0.0.alpha1. Shouldn't minio also work with stable versions like 2.7.x as well? Spark is not yet stable with Hadoop-3.0.0-alpha versions, the pre-compiled version comes with Hadoop 2.7 or lower. Another plus, such approach would allow people with an up and running Spark clust

[2017-04-10 14:18] nitisht commented on #4077
Here are the steps I followed

- Deploy Minio on K8S as per https://www.dropbox.com/s/7cyouvk9ipxwar3/minio-server.yaml
- Create the bucket `mybucket`
- Deploy Pachyderm as per https://www.dropbox.com/s/de7ln9rfnoueyo3/mymanifestv143.json
- Create the pipeline `pachctl create-pipeline -f PeakPickerHiRes.json` (file: https://www.dropbox.com/s/ldeb3gn6f49rjju/PeakPickerHiRes.json)
- Put a file to th

[2017-04-10 14:26] jonandernovella commented on #4077
@NitishT Please run the pipeline with the whole data-set. It also works for me with just one file. You can upload many files via `pachctl put-file metabrepotest master -c -r -p 10 -f .`

[2017-04-10 14:27] nitisht commented on #4077
I see, will try this @jonandernovella

[2017-04-10 14:55] jonandernovella commented on #4077
@NitishT Also, if it outputs `<none>`that might also mean that no output file was created (check the output repo) Feel free to change also the number of replicas of the minio-server.

[2017-04-10 16:17] vadmeste commented on #4082
Actually, in practice, AWS S3 accepts other formats, like UTC and PST in contrast to the spec (http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectCOPY.html, `Constraints: This must be a valid HTTP date`).

It just doesn't understand time zone like +00:00.

[2017-04-10 16:52] harshavardhana commented on #4082
According to HTTP spec a valid HTTP date is only of the form

[code]

So it is not valid to honor PST and UTC besides our `time.Parse()` would throw an error.

[2017-04-10 16:59] harshavardhana commented on #4039
Keeping this open until we validate the fix merged in with the aws-ios-sdk #4064

[2017-04-10 17:10] krishnasrinivas opened #4083 "gateway: Support for custom endpoint"
Support endpoint in the format:

minio gateway azure [endpoint]
default would connect to Azure backend.

minio gateway s3 [endpoint]
default would connect to AWS-S3.

[2017-04-10 17:10] vadmeste commented on #4082
Yes, but AWS S3 is not the following that rule, I already tested it after tweaking the code of minio-go, PST is well accepted and also correctly compared.

[code]

[2017-04-10 17:52] harshavardhana commented on #4082
Does it do that with GET and HEAD as well? - CopyObject() is a special API based on PUT leverages the HTTP standards here but they can relax it.

[2017-04-10 18:16] krishnasrinivas opened #4084 "browser: Firefox does not save AccessKey"
Firefox does not save "AccessKey" after login in "Do you want to save password?" dialog box.

[2017-04-10 18:21] vadmeste commented on #4082
Yes, it does with GET + If-Modified-Since, it accepts PST and returns 304 not modified or the object content after a correct comparaison between the time in PST and the object modtime in GMT.

[code]

[code]

If the If-Modified-Since has an incorrect time zone format, the header will be ignored, which is the same behavior as Copy modified/unmodified headers.

[2017-04-10 18:28] harshavardhana commented on #4082
Does it work for any timezone? - Such an ugly implementation, now we need to parse with multiple different formats violating HTTP spec.

[2017-04-10 18:44] finid opened #4085 "docs: [faq] Can attaching multiple block devices to a server be used to satisfy the distributed setup drive minimum?"
The above quote is from the [official doc on distributed Minio setup](https://docs.minio.io/docs/distributed-minio-quickstart-guide). My question on that is, can that drive minimum be met using two servers and attaching an extra block device to each?

[2017-04-10 18:46] harshavardhana commented on #4085
Yes it can be @finid

[2017-04-10 18:47] harshavardhana commented on #4069
Closing this issue as well as answered.

[2017-04-10 18:47] #4069 closed, assigned to krishnasrinivas

[2017-04-10 18:50] harshavardhana commented on #3980
Can a `mc` issue be opened for this @krisis ?

[2017-04-10 18:50] finid commented on #4085
I guess I should have read most of that page before asking, as the answer is right on there.

Thank you.

[2017-04-10 18:50] #4085 closed, assigned to harshavardhana

[2017-04-10 19:37] finid commented on #2781
@harshavardhana, sorry to reopen this, but could you explain why this is not needed anymore?

[2017-04-10 19:44] harshavardhana commented on #2781
This is already documented.. @finid

[2017-04-10 23:15] krishnasrinivas commented on #4039
@atom2ueki can you check with minio:edge

[code]

[2017-04-10 23:24] krishnasrinivas commented on #4084
![ss](https://cloud.githubusercontent.com/assets/634494/24886542/2ebe3fa4-1e0a-11e7-86f9-9ac24279b708.jpg)

[2017-04-11 01:49] atom2ueki commented on #4039
@krishnasrinivas @harshavardhana

server side error changed to
[code]
client side error remain
[code]

[2017-04-11 02:02] harshavardhana commented on #4039
@atom2ueki we tested your MinioTest project which seems to be working fine. do you have a sample code which we can try?

[2017-04-11 02:02] harshavardhana commented on #4039
Can you paste also the headers printed this looks like a short message.

[2017-04-11 02:52] harshavardhana commented on #2965
Thanks @romulogoncalves we will evaluate with hadoop 2.7 as well.

[2017-04-11 02:55] harshavardhana commented on #4061
Removed `fixed` @koolhead17 is sending a fix for the document and cleaning it up.

[2017-04-11 02:58] harshavardhana commented on #2965
Re-opening the github issue until we validate hadoop 2.7

[2017-04-11 06:08] JYang1986 commented on #3926
Now I have understand. This log info is appear when I cancelled the put operation。When I put file by s3cmd， then I cancelled， this log info has appeared。

[code]

In this issue, I have canclled the COSBench test,  so the minio have send these log info . please close this issue.

[2017-04-11 06:12] harshavardhana commented on #3926
Thanks for the update @Saber-Yang . Closing as per your comment.

[2017-04-11 06:12] #3926 closed, assigned to balamurugana

[2017-04-11 06:27] atom2ueki commented on #4039
@harshavardhana I'm using same project I shared to you, let me ensure everything is setup correctly and test again

[2017-04-11 07:25] donatello opened #4089 "ecosystem: Add support to BOSH system to use Minio as blobstore"
This is part of enhancing the ecosystem around both Minio and BOSH.

## Expected Behavior

BOSH should be able to download blobs from a blobstore hosted using a Minio deployment.

## Current Behavior

BOSH does not support working with blobstores other than S3 and Atmos.

## Possible Solution

Add support to BOSH components to use Minio as a blobstore.

## Context

This was initially opened here h

[2017-04-11 08:23] JYang1986 opened #4090 "When put file to minio server, some reason put have been cancelled, minio not delete extra fs.json in .minio.sys/buckets directory"
When I put file by s3cmd， then I cancelled， this log info has appeared。

[root@node2 s3cmd]# ./s3cmd put 1G.txt s3://test/1G_2.txt --disable-multipart
WARNING: Module python-magic is not available. Guessing MIME types based on file extensions.
upload: '1G.txt' -> 's3://test/**1G_2.txt**'  [1 of 1]
  726007808 of 1073741824    67% in   77s     8.88 MB/s^CSee ya!
[root@node2 s3cmd]#

ERRO[0289] Fail

[2017-04-11 10:50] vadmeste commented on #4090
@Saber-Yang, thanks for reporting,

We don't have the same behavior with `mc`, not sure what s3cmd is doing to trigger this, but it looks like a serious bug, we'll investigate further.

[2017-04-11 15:36] krishnasrinivas commented on #3233
Duplicate of #3234. Closing.

[2017-04-11 15:36] #3233 closed, assigned to krishnasrinivas

[2017-04-11 15:53] hackintoshrao commented on #2965
@romulogoncalves : Here are the steps I followed, but not able to write data into Minio, I see that the requests are not being sent to Minio and no errors too on the console, Can you validate my steps,

- Download Spark with Hadoop 2.7
  `wget http://d3kbcqa49mib13.cloudfront.net/spark-2.1.0-bin-hadoop2.7.tgz`
- Untar
   `tar xvzf spark-2.1.0-bin-hadoop2.7.tgz `
- Download the jars
   ` wget http:

[2017-04-11 16:11] krishnasrinivas opened #4092 "gateway: Support for GetBucketLocation"
Currently we return minio's region us-east-1 at GetBucketLocationHandler instead of forwarding the request to backend. This is relevant more for S3 backend. GatewayInterface would need one more call GetBucketLocation.

[2017-04-11 16:26] romulogoncalves commented on #2965
@hackintoshrao

A side note: I assume your wget was just a double copy/paste otherwise you got twice the same jar.

Yes, when you read it looks like that. Now try to do some processing and then save the result back to Minio. For that do the following:
[code]
What is the output?
I get a NullPointException.

A backtrace shows it comes from a put on the object storage. I can run Spark with trace enab

[2017-04-11 16:33] deekoder commented on #3883
Could not reproduce. Please reopen if you still see this issue @alpswjc

[2017-04-11 16:39] deekoder commented on #4084
PR is pending.

[2017-04-11 16:40] deekoder commented on #4083
PR sent. Being reviewed.

[2017-04-11 16:41] deekoder commented on #3521
Discussion today.

[2017-04-11 16:41] deekoder commented on #3261
ETA Apr 12th

[2017-04-11 16:42] deekoder commented on #4082
PR is pending.

[2017-04-11 16:43] deekoder commented on #4077
ETA: Apr 13th

[2017-04-11 16:47] deekoder commented on #4056
Test by forcing restic to use http2 to directly communicate to minio @vadmeste .

[2017-04-11 16:48] deekoder commented on #4043
PR has been amended.

[2017-04-11 16:52] deekoder commented on #3980
PR pending.

[2017-04-11 16:53] deekoder commented on #3980
@abperiasamy  needs to review the doc.

[2017-04-11 16:55] deekoder commented on #4039
@hackintoshrao - Mint should test for this.

[2017-04-11 16:56] deekoder commented on #3966
External script should discover IP address and launch minio server with appropriate CLI args.

[2017-04-11 16:58] deekoder commented on #3966
Post the scripts(solution) in this bug.

[2017-04-11 17:02] akb2017 opened #4094 "Not able to run minio server bound to specific ip address"
I am not able to run minio server bound to specific ip addresss.
If I do like  ./minio server --address 192.168.1.14:9000 /home/shared/  iam not able to run the server
 Minio is downloaded and kept in another server ,If i run this command from there iam not able to run the server

## Expected Behavior
Iam expecting the server to run and the data should be stored in server 2. i.e Iam running the co

[2017-04-11 17:03] harshavardhana commented on #4094
You already have another service running on port 9000 @akb2017 you choose another port

[code]

Check if there is another service running

[code]

[2017-04-11 17:06] deekoder commented on #3966
Please add a documentation on how to use the script.

[2017-04-11 17:07] akb2017 commented on #4094
I tried this ./minio server --address 192.168.1.14:9001 /home/shared/ but getting the same error..
Even i tried in other servers but same problems..

[2017-04-11 17:08] deekoder commented on #3835
Need to review again with @abperiasamy

[2017-04-11 17:16] harshavardhana opened #4095 "tests: Mysterious test failure in TestListObjectPartsDiskNotFound"
[Build logs from travis](https://github.com/minio/minio/files/914120/log.txt)

## Expected Behavior
No failure in test cases expected.

## Current Behavior
[code]

## Possible Solution
Do not know.

## Steps to Reproduce (for bugs)
Not reproducible easily requires `-race`

## Your Environment
Noticed in this PR - https://github.com/minio/minio/pull/4019

[2017-04-11 17:18] koolhead17 commented on #4094
Hello @akb2017

This is what how got it working.

[code]

Now to run it on a particular IP address, this is what I did.

[code]
As @harshavardhana suggested, can you check if the ports are not used by any other service?

[2017-04-11 17:20] akb2017 commented on #4094
Checked this port is not used any other service

[2017-04-11 17:21] koolhead17 commented on #4094
Can you share Operating System over all deployment environment?  We can try to re-produce.

[2017-04-11 17:23] harshavardhana commented on #4094
Are you sure this IP is local to the server? perhaps `ip addr` ?

[2017-04-11 17:25] akb2017 commented on #4094
Both are connected using ssh connection
server1 ip is :192.168.1.24 and server  :192.168.1.25
iam running the minio server from server1 and it is supposed  to run and create storage on server2

[2017-04-11 17:31] harshavardhana commented on #4094
But you are trying to set "192.168.1.14" is there a typo?

[2017-04-11 17:33] harshavardhana commented on #4094
you should set

[code]

[2017-04-11 17:34] akb2017 commented on #4094
Actually iam trying store my data in server2 buy running it in server1, i.e from 192.168.1.14

[2017-04-11 17:34] akb2017 commented on #4094
*by

[2017-04-11 17:40] harshavardhana commented on #4094
you have to listen on your local IPs but you just said your server1 ip is 192.168.1.24 ?? - I think i am lost so lets backtrack and get some answers.

- Where exactly you are running the minio server? is it on server1 or server2 ?
- What are the local IPs on the server1 and what are the local IPs on server2? - please paste the output of `ip addr`

[2017-04-11 17:43] akb2017 commented on #4094
Sorry by mistake i gave that ip ,
server 1 ip-192.168.1.24
server 2 ip-192.168.1.25

[2017-04-11 17:43] hackintoshrao commented on #2965
@romulogoncalves : I see `NullPointException` when I attempt the following command on spark-shell,

[code]

Here is the request-response details between spark and Minio,

[code]

But the path style access was only fixed in `hadoop-3.0.0-alpha`, the details can be seen [here](https://issues.apache.org/jira/browse/HADOOP-12963). Won't that affect the functionality in versions prior to the alpha rele

[2017-04-11 17:48] akb2017 commented on #4094
Iam running the server on server1 i.e on 192.168.1.24
Now i want it to store the data on 192.168.1.25
the command is ./minio server --address 192.168.1.25:9004 /home/shared/

[2017-04-11 18:02] krishnasrinivas commented on #4094
@akb2017 I think you have misunderstood on how minio works.

Minio server basically exposes local storage using S3 protocol if you run:
`minio server /mnt/export`

Now you can access this storage from another client machine using `mc` or any S3 compatible clients.

Coming to your usecase, when you do:
On Server-1: ./minio server --address 192.168.1.24:9001 /home/shared/
(I am assuming that Server-

[2017-04-11 18:03] romulogoncalves commented on #2965
@hackintoshrao you got the same error as me so we are in sync.

I am using the pre-compiled/release version of Minio for Linux, this means your latest fixes are not there yet. But even if they were, as I mentioned above, [Minio should also work with stable versions of Hadoop (at least the latest which is 2.7.x) and not only with the latest alpha version](https://github.com/minio/minio/issues/2965#

[2017-04-11 18:05] akb2017 commented on #4094
Then if i want to store on server2 how to do that ?
@krishnasrinivas

[2017-04-11 18:06] harshavardhana commented on #4094
Your bind IP should be local to the server `minio server` should be bound to local IP.  To access data from 192.168.1.25 you need to use tools like [mc](https://github.com/minio/mc)

First you need to decide where you are storing data and run minio server there.  If you want to store on server2 you need to run minio server on server2.

[2017-04-11 18:08] akb2017 commented on #4094
Oh ok got it ..

[2017-04-11 18:30] deekoder commented on #4094
I'll go ahead and close this issue then. @akb2017 please reopen if you think its not solved your issue.

[2017-04-11 18:30] #4094 closed, assigned to deekoder

[2017-04-11 19:15] harshavardhana commented on #4084
Fixed by #4091

[2017-04-11 19:15] #4084 closed, assigned to rushenn

[2017-04-11 19:27] hackintoshrao commented on #2965
@romulogoncalves : I see that there's a different issue with Hadoop 2.7 build, this issue is different than the one which was fixed by the PR referenced above. The server is responding correctly (which is clear from the request/response details), but the client is raising an exception. Will investigate further.

[2017-04-11 20:32] deekoder opened #4096 "gateway: Add support for GCS."
Filed it as per conversation with Garima.

[2017-04-11 20:51] dwhitena commented on #4077
I tried redeploying a Minio + Pachyderm cluster this morning with master to see if it fixed any issues (because our master includes some updates to fix frozen jobs).  Now, there doesn't seem to be the exact same hung job problems that we are seeing before, but there does seem to be the following issues:

(1) for some, but not all, recursive put-file's, the data seems to get corrupted somehow.  The

[2017-04-11 21:41] krishnasrinivas commented on #4039
@atom2ueki does MinioTest repo have all the changes that you have locally? Because when we run from MinioTest it uses non-streaming signature, but the headers that you have pasted shows streaming signature. If you have any changes locally can you push it?

[2017-04-11 21:59] jonandernovella commented on #4077
@dwhitena This is indeed another bug. But when the files do not get corrupted I have experienced the same hanging issue after the job finishes successfully processing the data. I have also tested it with the master head.

[2017-04-11 23:28] harshavardhana opened #4099 "server: [startup] Startup message endpoints list is not sorted properly."
## Expected Behavior
Endpoints listed in the startup banner should be properly sorted based on last octet.

[code]

## Current Behavior
Last octet based sorting is lost.

[code]

## Possible Solution
Fix `net.go`

## Steps to Reproduce (for bugs)

[code]

127.0.0.1:9000 is a wrong ip to be preferred as the first entry.

## Context
Startup banners need to be consistent , this is a regression.

## Y

[2017-04-11 23:58] laurentgdh opened #4101 "Local Minio server returns SignatureDoesNotMatch with iOS AWS S3 SDK v2.4.16"
Use case: upload & download data to / from Minio from an iOS app.  I'm currently developing the project so I'm using Minio locally (using docker).

I'm using the AWS SDK v2.4.16 so I can change the endpoint and I made it my localhost (http://my-imac.local:9000) and I updated my access and secret keys but I get a SignatureDoesNotMatch error: "The request signature we calculated does not match the s

[2017-04-12 00:06] harshavardhana commented on #4101
@laurentgdh AWS IOS SDK doesn't support endpoints with port in it for example `"Host\":[\"my-imac.local\"` - for example here https://github.com/aws/aws-sdk-ios/issues/349

There is a way out btw please follow the issue here https://github.com/minio/minio/issues/4039 you can make it work if you configured `Minio` on port 80 or 443.

Closing this issue as duplicate.

[2017-04-12 00:06] #4101 closed, assigned to nobody

[2017-04-12 00:15] deekoder commented on #4099
how should the right order be?

[2017-04-12 00:30] tyfeatherston opened #4102 "server: [fs] Minio using too much memory"
I have minio setup on an ubuntu 16.04 virtual machine. I started the memory allocation at 8gb we started noticing the minio service crashing the vm after about a hour of uploading. It would get to 8gb of ram usage, now we have incrementally moved to 32 gb and it still dies after a couple hours of uploading. We are only testing 2 customers using cloudberry backups. Rought uploading about 10mbs a se

[2017-04-12 00:33] harshavardhana commented on #4102
are you running Minio Erasure Coded backend @tyfeatherston ?

[2017-04-12 00:35] tyfeatherston commented on #4102
No sir, we are just running the standard install of minio.

[2017-04-12 00:38] harshavardhana commented on #4102
- Cgroup limits on the memory on the system?
- Can you also paste the `minio version` output?
- CloudBerrry version as well?

We haven't seen any reports on the related note users of cloud berry.

[2017-04-12 00:39] harshavardhana commented on #4102
Another set of questions where is the cloud berry client running? do you have the output of `dmesg` or any kernel trace that it dumped when the server crashes because of OOM?

[2017-04-12 00:44] #4083 closed, assigned to krishnasrinivas

[2017-04-12 00:45] tyfeatherston commented on #4102
Version: 2017-03-16T21:50:32Z
Release-Tag: RELEASE.2017-03-16T21-50-32Z
Commit-ID: 5311eb22fd681a8cd4a46e2a872d46c2352c64e8

[code]

The cloud berry version is 5.5.1.27. The cloud berry clients are running at offsite locations while the minio server is in a datacenter.

Let me know if you would like to see anything else.

[2017-04-12 00:50] harshavardhana commented on #4102
Perhaps it would be better to attach the entire kernel message and `dmesg` output, from what i can see there are no indications of OOM i.e minio using lot of memory

Perhaps you can also capture `top` output and `dstat` output when the cloud berry is uploading data.

[code]

This message indicates that the running task detected stalls on the disk IRQ. Probably entire logs would help.

[2017-04-12 00:56] tyfeatherston commented on #4102
Here is the entire dmesg.

[code]

[2017-04-12 01:10] tyfeatherston commented on #4102
[code]

[2017-04-12 01:12] tyfeatherston commented on #4102
That should be all of it. I hope it helps.

[2017-04-12 01:41] harshavardhana commented on #4102
I don't see any memory based `minio` crash in the dmesg what i do see is following.

[code]

Looks like `minio` was trying to write to the backend device but was blocked at the SCSI layer. This clearly looks like a disk issue @tyfeatherston - it doesn't matter how much memory you are going to add. The disk is not able to cope up with the overall writes.  There are many reports of similar occurrenc

[2017-04-12 01:58] harshavardhana commented on #4039
@atom2ueki here are the results

[code]

We used `https://churchofminio.com` with accessKey: `minio` and secretKey: `minio123` - this is the latest code from MinioTest repo.

[2017-04-12 02:04] balamurugana commented on #4099
Why is it wrong?

[2017-04-12 02:37] harshavardhana commented on #4099
First its a regression broke a functionality which was added previously with a specific reason and it was also a UI change which happened which we missed during the patch review.

There as cleaner comment in `interface-ips.go`  before the change which explains this.
[code]

When a user looks at the startup banner with values pre-filled for example in current master.

[code]

A user generally just

[2017-04-12 06:34] akb2017 opened #4104 "Unable to run distributed minio"
Here iam using 4 servers or nodes to run distributed minio ,Not able to run due to Unsupported backend format [fs] error ,I executed the command in all the nodes
The command is as follows -->
 ./minio server http://192.168.1.25/home/node1 http://192.168.1.24/home/node2 http://192.168.1.20/home/node3 http://192.168.1.22/home/node4

## Current Behavior
Getting error in all the nodes as follows -->
F

[2017-04-12 06:38] harshavardhana commented on #4104
You have to remove any files which are present from previous run. The error message indicates that you already ran "[fs]" server on this.

Can you delete the files on "/home/node1/.minio.sys" and try again? @akb2017

[2017-04-12 06:44] akb2017 commented on #4104
Ok i will try now

[2017-04-12 06:55] akb2017 commented on #4104
I can run server now ..
Thank you so much @harshavardhana

[2017-04-12 06:56] #4104 closed, assigned to nobody

[2017-04-12 08:47] hackintoshrao commented on #3966
Here is the [link](https://github.com/tobilg/minio-dcos/blob/master/minio-wrapper.sh) to the script, but there's lot more work that has to be done around it. The script can't be used as it is, it'll be just part of a new Minio container which will then be used to deploy Minio distributed on Mesosphere using the standard deployment method. Once the development is done, the documentation will be don

[2017-04-12 09:05] vadmeste commented on #4082
A new PR is sent and it is under review. ETA, 12 Apr.

[2017-04-12 09:05] vadmeste commented on #4090
ETA 12 Apr.

[2017-04-12 09:08] wey-gu commented on #3898
@harshavardhana thanks a lot, the docker for windows requires win10 Pro(with hyper-v). I have to wait for the binary windows release. Looking forward to seeing its update .

BR//Wey

[2017-04-12 12:12] vadmeste commented on #4056
@JohnnyLeone, I was finally able to reproduce the bug but it is quite rare.

What does './restic version' say ?

This issue looks very related to this one https://github.com/golang/go/issues/18112 which is fixed in go 1.8. Can you rebuild restic with go 1.8 and see if the problem persists ?

[2017-04-12 12:26] dwhitena commented on #4077
Possibly related to the (2) issue: https://github.com/pachyderm/pachyderm/issues/1652.  As such, maybe we should focus on the (1) issue here, which seems to be Minio specific.

[2017-04-12 12:29] krishnasrinivas opened #4106 "server: [distributed-erasure] Takes too much time to come online"
When minio is started in this mode: https://github.com/krishnasrinivas/wikinotes/wiki/Running-distributed-Erasure-on-localhost the servers take a lot of time to recognize each other and come online. It typically takes 20-30 seconds.

Should be checked if this can be improved.

git tip: 1b1b9e48019e0b93be242c7911a17c1b9a9e798b

[2017-04-12 15:02] harshavardhana commented on #4106
Can you change the title and avoid usage of XL @krishnasrinivas ? - perhaps even the wiki link needs to be changed.

[2017-04-12 15:37] harshavardhana commented on #4056
The original issue reported by @JohnnyLeone says go1.8 - https://github.com/restic/restic/issues/849 so it is quite strange. Is it reproducible without nginx as well @vadmeste ? i.e forcing restic to use HTTP2.

[2017-04-12 16:22] #4099 closed, assigned to harshavardhana

[2017-04-12 16:38] harshavardhana commented on #4102
The issue in further detail when the storage module sends a task to the device and the task is not completed within a timeout period, the module attempts to abort the task and retry it again later. This happens when the module is not able to access underlying hardware (in this case VMWare-emulated hardware).

- Some cases were resolved by switching from a storage setting of ALUA to SATP_DEFAULT, i

[2017-04-12 17:00] JohnnyLeone commented on #4056
Thanks for testing this long @vadmeste. Did you changed something to you're first nginx config post here?
I'm testing currently more and will report when i'm finished.

[2017-04-12 17:10] vadmeste commented on #4056
No, I didn't.

[2017-04-12 18:31] deekoder commented on #4095
As per harsha - this needs to be fixed asap. Reassigning to immediately address this.

[2017-04-12 18:36] tyfeatherston commented on #4102
I have ordered a new SAN and will reset on that. The san I was using was old and I think it may just not be able to handle the throughput. I will re-test and update with the results.

[2017-04-12 19:34] #4082 closed, assigned to vadmeste

[2017-04-12 20:15] JohnnyLeone commented on #4056
If i remove the `http2` statement in my `listen 443 ssl http2;` line it seems to work without any problem. But i think restic downloads now with http1.1.

[2017-04-12 20:17] vadmeste commented on #4056
Yes, I also reproduced with golang 1.8, that issue is rare in my configuration, are you testing with a high load ?

[2017-04-12 20:24] JohnnyLeone commented on #4056
No, i really don't. It appears every time i try to restore the file with activated http2. The restore dies exactly after 1.1 Gb or 2.4Gb, the hashes by the fragments are also every time identical.

[2017-04-12 20:27] vadmeste commented on #4056
Do you mean the issue is systematic and you have only one restic instance which is restoring a file ?

[2017-04-12 20:35] JohnnyLeone commented on #4056
Right

[2017-04-12 21:35] harshavardhana commented on #4095
PR submitted pending review.

[2017-04-12 21:35] harshavardhana commented on #4081
TO be discussed.. no ETA

[2017-04-12 21:35] harshavardhana commented on #3521
Discussion still pending will get to this tomorrow.  ETA to fix perhaps by Sat.

[2017-04-12 22:38] #4095 closed, assigned to harshavardhana

[2017-04-12 23:27] deekoder opened #4108 "Refactor admin-api"
After reviewing :  https://gist.github.com/krisis/3a92e3d7f204cdb2be4355fc01f0759a
Here is all the feedback to incorporate from our review.

# Minio Management API
Management APIs implements remote administrative operations over HTTP/REST. This guide is intended for core package development like [madmin](https://github.com/minio/minio/tree/master/pkg/madmin).
If you are an enduser please take a lo

[2017-04-13 03:58] nitisht commented on #4057
@deekoder this can be closed.

[2017-04-13 04:23] #4057 closed, assigned to nitisht

[2017-04-13 04:36] krisis commented on #4108
As it stands now, we don't use a resource prefix like `minio/admin/` in the admin REST API. The decision to keep it simply `/?heal` was made during the previous [API review](https://gist.github.com/krisis/dfb01e450dadb75d8ab19bc0e342f1a1/40e2532e01cc0b026132202026c9d0656f3e73da). If we have decided to have `/minio/admin` then I assume it applies to all management operations like `service-restart`,

[2017-04-13 04:48] atom2ueki commented on #4039
@harshavardhana @krishnasrinivas I get this works! you guys awesome, thanks

[2017-04-13 05:37] harshavardhana commented on #4039
https://github.com/aws/aws-sdk-ios/pull/638 here is the relevant PR with this change it works with nginx+minio on https://s3.atom2ueki.com

Thanks for all the help on this @atom2ueki

[2017-04-13 05:40] harshavardhana commented on #4039
// cc @laurentgdh here since you opened #4101

[2017-04-13 07:39] abipaul opened #4109 "changing server config"
./minio server --address x.x.x.x:7071 /home /home1 /home2 /home3

The server works fine..

But when i change the config to 6 discs i get this error

./minio server --address x.x.x.x:7071 /home /home1 /home2 /home3 /home4 /home5

FATA[0000] Initializing object layer failed   cause=Number of disks 6 did not match the backend format 4 source=[server-main.go:587:serverMain()]

If i am experimenting wi

[2017-04-13 07:42] harshavardhana commented on #4109
You can't run 6 disk setup on a previously configured 4 disk one - you should setup a new minio cluster and migrate the data over -

This is expected and working as intended @abipaul

[2017-04-13 07:47] abipaul commented on #4109
how do get rid of previous config then?

./minio server --address x.x.x.x:7071 /home /home1 /home2 /home3

let's say i don't want this now and i want to switch to new configuration

[2017-04-13 07:49] harshavardhana commented on #4109
Just delete `rm -rf /home*/.minio.sys`  @abipaul

[2017-04-13 08:51] krisis commented on #4108
@krishnasrinivas Let me know once the new API proposal is ready. It would be easy to collaborate if you share a Github gist containing the details.

[2017-04-13 09:28] hackintoshrao commented on #2965
@romulogoncalves : The bug is in `aws-java-sdk` not being case insensitive to response header keys as defined by the [RFC](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2 .  This bug is fixed with PR https://github.com/aws/aws-sdk-java/pull/590 . So `aws-java-sdk` version beyond 1.10.48 should contain the fix.

[2017-04-13 10:31] krisis commented on #4108
@deekoder

values should have all possible values.

I am not sure what values you are referring to here. In `Service Status`, `x-minio-operation` is set to `status`. There are no other possible values.

[2017-04-13 10:45] krisis opened #4110 "lock instrumentation shouldn't return duration which can be computed from time of lock"
## Expected Behavior

Ref #4108

    older-than : Specify time format with an example.

Lock instrumentation should return time since when the namespace lock is held alone. The time elapsed since can be derived.

## Current Behavior

We return both time since when the lock is held and the duration computed at the time of `List Locks` admin API call.

## Possible Solution

Return only the time sinc

[2017-04-13 18:03] deekoder commented on #4108
Clarification for >>Table is of the format : Name | Value | Description | Required

Wherever applicable for the tables in this doc, add value column. The user must be able to look at the table and know what all possible values each option can take.  Eg.  `True`, `False`.

[2017-04-13 18:05] deekoder commented on #4109
@abipaul - let us know if this resolved your issue.

[2017-04-13 18:16] deekoder commented on #3727
@hackintoshrao  can this be closed?

[2017-04-13 18:43] abipaul commented on #4109
yes. this fixed the issue. thanks!

[2017-04-13 18:50] deekoder commented on #4039
Can this be closed then ? @atom2ueki  @krishnasrinivas

[2017-04-13 19:01] nitisht opened #4112 "ecosystem: Create Minio service broker for Cloud Foundry"
As per user `abhilash07` on [Slack Channel](https://minio.slackarchive.io/-/search-service%20broker/page-1),

`as we know if we have to bind minio to cf apps bosh release is the first step, second is we have to bind minio to cf application by using service broker`

We need to explore and if required, implement the Cloud Foundry service broker API.

## Expected Behavior
Create a Service Broker for

[2017-04-13 19:07] harshavardhana commented on #4109
Closing this as answered.

[2017-04-13 19:07] #4109 closed, assigned to harshavardhana

[2017-04-13 22:33] deekoder opened #4116 "Test s3 gateway pr and send instructions for testing."

[2017-04-13 23:18] laurentgdh commented on #4039
Thanks @harshavardhana !  It's working now.

[2017-04-14 02:09] hackintoshrao commented on #3727
AB will be suggesting a different approach for this, this can be closed.

[2017-04-14 04:28] hackintoshrao commented on #3261
This will be a overhead on the CI to run lot of concurrent tests on the API handler for race detection. Race detection test will introduced in Mint, wherein the binary has to be built with `-race` flag and run the test to catch potential races in the binary. This can be tracked here https://github.com/minio/mint/issues/11 .

[2017-04-14 04:28] #3261 closed, assigned to hackintoshrao

[2017-04-14 04:37] hackintoshrao opened #4118 "erasure: Create fuzz test for erasure coding library"
The erasure coding library is the core of Minio's data distribution logic, The library https://github.com/klauspost/reedsolomon is being currently used for the purpose. Its critical that erasure coding library doesn't have parsing limitations for certain combination of data input.

A upstream contribution with fuzz testing using https://github.com/dvyukov/go-fuzz is necessary to increase the confi

[2017-04-14 04:40] #3727 closed, assigned to hackintoshrao

[2017-04-14 06:10] atom2ueki commented on #4039
@deekoder yes, this one can closed

[2017-04-14 06:31] koolhead17 commented on #4112
This might be helpful https://github.com/deis/minio-broker

[2017-04-14 07:13] morph027 opened #4120 "nginx proxy cache seems to mess up headers"
I was just googling around and found this blog post: https://www.nginx.com/blog/enterprise-grade-cloud-storage-nginx-plus-minio/

Besides simple load balancing and TLS termination, I was trying to test/implement the caching feature. But when accessing the bucket with mc, an error appears: ```mc: <ERROR> Unable to initialize target `test/test`. Access Denied.```

Removing the ```proxy_cache minio_s

[2017-04-14 14:30] rushenn opened #4121 "docs.minio.io logo is pixelated"
Current resized PNG logo is pixelated in low PPI displays.

![logo-png](https://cloud.githubusercontent.com/assets/13393018/25045935/4d253480-214c-11e7-9bd4-e537252b5a38.png)

## Expected Behavior

## Current Behavior

## Possible Solution
Use SVG instead of PNG or any other image formats.

## Steps to Reproduce (for bugs)
Image attached.

## Context

## Your Environment
* Version used:
* Environm

[2017-04-14 15:05] harshavardhana commented on #4121
@deekoder is this relevant for `minio/minio` ?  I see these images are not served from minio server repo.

[2017-04-14 16:05] JamshaidF opened #4122 "Minio server cant read Windows 2016 deduplicated files"
After uploading a file to minio server running on Windows 2016, Everything seems fine and  file is accessible fine using mc client. But as soon as scheduled deduplication runs on the server and  the file's "size on disk" changes to Zero in file properties, minio client cant retrive/list the file. And with every attempt to retrive/list file using mc client, i get below error on  minio server consol

[2017-04-14 16:30] vadmeste commented on #4122
Looks like it is a golang "bug" which is not fixed yet https://github.com/golang/go/issues/10935.

[2017-04-14 16:37] deekoder commented on #4121
Closing this. And will open in the docs repo.

[2017-04-14 16:37] #4121 closed, assigned to deekoder

[2017-04-14 16:42] deekoder commented on #4120
@harshavardhana : Will this have to move to minio/mc issues

[2017-04-14 16:42] deekoder commented on #4090
@vadmeste  can this be closed?

[2017-04-14 16:43] vadmeste commented on #4090
A PR was sent and got one approval.

[2017-04-14 16:44] deekoder commented on #4122
@vadmeste is this golang bug in minio or outside of minio?

[2017-04-14 16:50] JamshaidF commented on #4122
Incase if you need a test server, i can provide access to a windows 2016 server with deduplication setup. Just let me know how can i send you ip and login information.

[2017-04-14 16:54] vadmeste commented on #4122
@deekoder, this is outside of Minio.

@JamshaidF, can you join us in https://minio.slack.com ?

[2017-04-14 17:03] deekoder commented on #4122
@vadmeste if there is data loss even if its not related to minio, let us document this.

[2017-04-14 17:42] harshavardhana commented on #4122
There is no data loss, just that they are not accessible. But we can fix this bug without using Go and not wait for it. Since we already use `sys/unix` package dependency it is possible to write a higher level function for this and fix it properly.

[2017-04-14 17:43] harshavardhana commented on #4120
No @deekoder this is server only issue, more so an interaction issue with nginx + minio -   We need to see what nginx does when headers are cached.

[2017-04-14 17:47] JamshaidF commented on #4122
@vadmeste it need a minio.io email address to join https://minio.slack.com ? how can i join it ?
you can mail at jam***@serverpoint.com

and yes there is no data loss, just it is not accessable through minio server

[2017-04-14 17:48] harshavardhana commented on #4122
You don't need minio email you should just click this https://slack.minio.io and get yourself signed up.

[2017-04-14 18:04] JamshaidF commented on #4122
thanks @harshavardhana . Joined

[2017-04-14 19:04] morph027 commented on #4120
## List minio (works)

### mc command

[code]

### nginx log

[code]

## List bucket (fails)

### mc command

[code]

### nginx log

[code]

### minio log

[code]

## List file inside bucket (works)

### mc command

[code]

### nginx log

[code]

## Copy file from bucket (fails)

### mc command

[code]

### nginx log

[code]

### minio log

[code]

[2017-04-14 19:06] #4090 closed, assigned to vadmeste

[2017-04-14 19:11] harshavardhana commented on #4120
Thanks @morph027 we will take a look.

[2017-04-14 19:18] morph027 commented on #4120
Thanks! If you need more debug info, just let me know.

Meantime, i guess it's not really high priority...the nginx config from the docs does work :smile:

[2017-04-14 19:19] morph027 commented on #4120
By the way, browser access itself works fine for all operations!

[2017-04-14 19:29] deekoder commented on #4122
lowering pri since the issue is caused by something outside of minio.

[2017-04-14 19:46] krishnasrinivas commented on #4120
nginx is removing the `Expect` header causing this problem.

[2017-04-14 20:22] harshavardhana commented on #4120
I guess using `mc` master would fix this problem we don't have Expect header anymore. But this will happen if other clients which use Expect header eg. boto3

[2017-04-14 20:57] zllovesuki opened #4123 "Network partition renders cluster unwritable"
## Expected Behavior
Minio should retry in an exponentially back-off manner to reconnect with other nodes.

## Current Behavior
Minio nodes become isolated and the cluster is unwritable after a network partition.

## Possible Solution
See expected behavior

## Steps to Reproduce (for bugs)
See context & environment

## Context & Environment
I made a mistake when creating a VM in my network environ

[2017-04-14 21:05] deekoder commented on #4123
marking high pri till rootcause is known.

[2017-04-14 21:06] deekoder commented on #3966
Could we close this issue since it seems resolved?

[2017-04-14 21:20] zllovesuki commented on #4123
More log

[code]

[2017-04-14 21:22] vadmeste commented on #4056
@JohnnyLeone

This looks like a golang bug which is supposed to be fixed in go 1.8, besides it looks like restic can retry when it encounters this error.

I don't believe this is related to Minio but I am still interested to understand what's going on.

Can you join us here https://slack.minio.io ?

[2017-04-14 22:27] deekoder opened #4124 "Explore support for minio gateway to HDFS backend"
* We need to find the right go library to do this.
 * CLI : ` minio gateway hdfs ENDPOINT`
 * access and secret key passed as env variables

Please put together a proposal doc for review.

[2017-04-14 22:45] vadmeste commented on #4123
Pumba is a wonderful tool to simulate network loss between docker containers, you can run it this way:

-  `docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock gaiaadm/pumba  pumba netem --interface eth0 --duration 5m loss --percent 90 minio_minio{1..4}_1`

Pumba expects from the container to already have `tc` tool. For that:
- Modify Minio's Dockerfile and add this line `apk add --up

[2017-04-14 23:00] harshavardhana opened #4125 "gateway: [s3] Listing has inconsistent output"
## Expected Behavior
Listing output should be consistent with gateway server.

## Current Behavior
[code]

Prefix based listing is not working.

## Possible Solution
Not sure.

## Steps to Reproduce (for bugs)
Just use `mc ls` on any buckets use `mc ls play/<bucketname>`  and `mc ls mys3/<buckename>` outputs are different.

## Context
S3 compatibility errors.

## Your Environment
Download binary:

[2017-04-14 23:04] harshavardhana opened #4126 "gateway: [s3] mc cp -r fails with a warning object key missing"
## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Possibly related to #4125 recursive output perhaps a wrong entry.

## Steps to Reproduce (for bugs)
Use latest `mc` master, recursively copy a bucket.

## Context
S3 compatibility errors

## Your Environment
Download binary: http://minio-download.s3.amazonaws.com/minio and use the latest mc master.

[2017-04-14 23:08] harshavardhana opened #4127 "gateway: [s3] Conflicting policy should result in consistent errors"
## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Policy conflicts error is not consistent with what Minio server would have sent.

## Steps to Reproduce (for bugs)
Use the latest `mc` master, attempt to cause a policy conflict.

## Context
S3 compatibility errors.

## Your Environment
Download binary: http://minio-download.s3.amazonaws.com/minio and use the latest mc m