[2016-10-14 17:44] harshavardhana commented on #2928
@StefH we don't support Signature V2 just yet in our release. Currently signature v2 is available only in our master branch.

So this is expected.

[2016-10-14 17:55] krishnasrinivas commented on #2928
@StefH you can compile minio from source using the command:
`$ go get -u github.com/minio/minio`

(note: you can install Go from here https://golang.org/)

if you test it, can you let us know how it goes?

[2016-10-14 18:12] harshavardhana commented on #2900
Fixed by #2924

[2016-10-14 18:12] #2900 closed, assigned to krishnasrinivas

[2016-10-14 18:12] harshavardhana commented on #2900
This is fine really.

[2016-10-14 19:32] harshavardhana commented on #2836
Fixed by #2925

[2016-10-14 19:32] #2836 closed, assigned to krisis

[2016-10-14 20:03] vadmeste commented on #2920
Community is invited to test docker image of Minio under Windows. Here is how to run minio docker image:
1. Install Docker Toolbox for Windows (http://www.docker.com/products/docker-toolbox)
2. Open Docker Quickstart Terminal, this will give you the ip address of the docker terminal (not the docker containers themselves)
3. Run
- `docker pull minio/minio`
- `curl https://raw.githubusercontent.com/

[2016-10-14 20:06] harshavardhana commented on #2920
This is already fixed in the miniobrowser branch we haven't vendorized the new changes yet.

Things changed in this regard recently with distributed setup  can you fill in @donatello about the issues?

[2016-10-14 22:52] vadmeste opened #2930 "[distributed] setting download policy doesn't work as expected"
## Expected behaviour

`mc download policy myminio/testbucket/` should have immediate effect and make objects public
## Actual behaviour

I need to restart minio nodes before being able to access published objects.
## Steps to reproduce the behaviour
- Clean all export dirs
- Run 4 minio nodes (with docker compose)
- `mc mb myminio/testbucket/`
- `mc cp file myminio/testbucket/`
- `mc policy downl

[2016-10-14 23:48] brodock commented on #2418
For redis, you have this two alternatives:
- https://github.com/rafaeljusto/redigomock (mock library)
- https://github.com/alicebob/miniredis (simulated redis)

[2016-10-15 00:58] harshavardhana commented on #2418
Nice suggestion @brodock we will evaluate them. Thanks

[2016-10-15 02:57] #2491 closed, assigned to harshavardhana

[2016-10-15 03:00] harshavardhana commented on #2920
Can you put this into Markdown and send a PR to https://github.com/minio/cookbook  or 'github.com/minio/minio/docs'

[2016-10-15 05:49] #2930 closed, assigned to donatello

[2016-10-15 06:35] harshavardhana opened #2933 "[distributed] SIGSEGV while waiting for other servers when pressed CTRL-C"
[code]

[2016-10-15 08:23] zllovesuki commented on #2920
<img width="794" alt="minio" src="https://cloud.githubusercontent.com/assets/298453/19408587/ffa4c276-9275-11e6-80d6-28984c351a2e.PNG">

How can we help? :D

[2016-10-15 09:48] krisis opened #2934 "Copying a multipart-uploaded object to another bucket fails"
## Expected behaviour

`mc cp myminio/test/go1.6.2.linux-amd64.tar.gz myminio/test1`
should pass
## Actual behaviour

The above copy command fails with,
`mc: <ERROR> Failed to copy ‘http://192.168.1.104:9000/tst/go1.6.2.linux-amd64.tar.gz’. The Content-Md5 you specified did not match what we received.
`
## Steps to reproduce the behaviour

`mc cp myminio/test/go1.6.2.linux-amd64.tar.gz myminio/tes

[2016-10-15 10:21] vadmeste opened #2935 "opening this URL server:port/minio without a trailing slash via a browser shows No Such Bucket error"
## Expected behaviour

Opening http://localhost:9000/minio should redirect to Minio browser
## Actual behaviour

http://localhost:9000/minoi returns :

[code]
## Steps to reproduce the behaviour

Just open http://localhost:9000/minio without a trailing slash in the browser
## Minio version

commit id: 18be3bc95a2df46e28b5855f99814d736ea7e2c4
## System information

ubuntu 16.04, docker

[2016-10-15 10:58] krisis opened #2936 "[windows] Recursive copy between buckets using mc fails"
## Expected behaviour

Recursive copy between buckets must succeed.
## Actual behaviour

[code]

While the same works with `aws`,

[code]
## Steps to reproduce the behaviour
- Make two buckets `test1` and `test2`
- Copy a small object to `test1`
- `mc --quiet cp  --recursive localxl/test1/ localxl/test2/` , where `localxl` is alias for local Minio server
## Minio version

`17eeec6`
## System infor

[2016-10-15 11:39] krisis commented on #2860
Tests run so far,
- Basic GET/PUT of objects on a single node XL setup, using `aws` cli and `mc`
  -  https://github.com/minio/minio/issues/2934
  -  https://github.com/minio/minio/issues/2926
- Replace disks with fresh ones (i.e, no data or `format.json`) and repair using `minio control heal`
- Delete bucket directories from one of the disks and use `minio control heal` to repair
- Recursive copy

[2016-10-15 12:04] krishnasrinivas commented on #2934
I am working on the fix which preserves the ETag from the source.

[2016-10-15 12:17] krishnasrinivas commented on #2934
Observation on aws-S3 is - the ETag from the source is not preserved. So if the source ETag is a7d414b9133d6483d9a1c4e04e856e3b-2 but after copy object the ETag is f1c9645dbc14efddc7d8a322685f26eb which is the md5sum. So the fix will be simple.

[2016-10-15 13:20] #2933 closed, assigned to vadmeste

[2016-10-15 13:20] #2934 closed, assigned to nobody

[2016-10-15 13:21] #2935 closed, assigned to nobody

[2016-10-15 14:52] koolhead17 commented on #2920
Hello @zllovesuki thanks for your kind offer to contribute to Minio. 😄

Would you like to add a cookbook for `Running Minio docker image under Windows` following style guidelines https://github.com/minio/cookbook ?

[2016-10-15 15:06] koolhead17 commented on #2928
hello @StefH for time being can you try https://blog.erudinsky.com/2016/08/30/minimal-object-storage-s3-compatible, it should work in current setup of yours. @harshavardhana we can close this 😄

[2016-10-15 18:13] mvalitov opened #2941 "signature: generating presigned_url with elixir library(ExAws)"
## Actual behaviour

I use the library [ExAws](https://github.com/CargoSense/ex_aws).
When generating the presigned_url for download file I get this URL:
`http://127.0.0.1:9000/user-1/docs/test/test-test.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SDPZD2A3627HX46NM6UU%2F20161015%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20161015T175137Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-

[2016-10-15 18:51] koolhead17 commented on #2941
Hello @mvalitov thanks for reporting this. Will it be okey to share the code so we can try it at our end?

[2016-10-15 19:49] mvalitov commented on #2941
Hello @koolhead17.
An [example](https://bitbucket.org/MarsonV/phoenix_minio) of a simple application.
An example of steps to start:
Install dependencies with `mix deps.get`
Create and migrate your database with `mix ecto.create && mix ecto.migrate`
Install Node.js dependencies with `npm install`
Create manually a bucket with name "phoenix", and one blank file with name "sample".
Minio credentials

[2016-10-15 23:21] vadmeste opened #2942 "[distributed] deadlock after a bucket listening abort ?"
## Expected behaviour

`mc cp` accomplishes copy
## Actual behaviour

`mc cp` freezes when I setup a `mc watch` then decide to quit in the middle of copy
## Steps to reproduce the behaviour
1. Start from fresh disks
2. Create a bucket
3. Start `mc watch` on the created bucket
4. Start a recursive copy of a directory which contains plenty of files to the created bucket
5. Force quit `mc watch` (con

[2016-10-16 03:27] harshavardhana commented on #2942
[code]

[2016-10-16 08:04] harshavardhana opened #2943 "[distributed] Incorrect drive capacity displayed on minio browser"
[code]

![screenshot from 2016-10-16 01-04-27](https://cloud.githubusercontent.com/assets/622699/19416104/86af30d2-933c-11e6-87aa-5886c001b2db.png)

[2016-10-16 08:16] harshavardhana opened #2944 "[distributed] Bucket heal creates previously non-existent buckets like MakeBucket"
[code]

[2016-10-16 08:22] harshavardhana commented on #2941
[code]

Went till here - do you have any pointers on setting up postgres for your use case anything special that we need to consider?

Thanks.

[2016-10-16 09:06] mvalitov commented on #2941
If you entered your user password is correct, it is strange. I re-create the [repository](https://bitbucket.org/MarsonV/phoenix_minio), without the use of database.
Install dependencies with `mix deps.get`
Install Node.js dependencies with `npm install`
Create manually a bucket with name "phoenix", and one blank file with name "sample".
Minio credentials are described in the file config/config.exs

[2016-10-16 11:35] krishnasrinivas commented on #2941
@mvalitov can you check if this fixes it: https://github.com/CargoSense/ex_aws/pull/257

[2016-10-16 13:58] StefH commented on #2928
For this moment, I just will use this solution : https://github.com/jubos/fake-s3

[2016-10-16 15:06] harshavardhana commented on #2928
Thanks @StefH we will be making a distributed release in couple of weeks which will have Signature V2 capabilities. Closing this issue for now.

[2016-10-16 15:06] #2928 closed, assigned to koolhead17

[2016-10-16 15:14] vadmeste opened #2946 "miniobrowser: upload a file when no a bucket created yet shows an unclear error"
I think the browser should test this situation by itself and shows the appropriate error message.

[2016-10-16 17:37] GarimaKapoor commented on #2942
@donatello can you update the timeline of the fix.

[2016-10-16 17:38] GarimaKapoor commented on #2946
@krishnasrinivas please update the timeline of the fix.

[2016-10-16 18:31] vadmeste opened #2948 "[distributed] minio bootstrap fails with 16 disks"
I tried to understand what's going wrong, but I've tested minio with 16 disks using the attached docker-compose but bootstrapping is always failing (15 disks and 1 failed)..

I've noticed this in the log
time="2016-10-16T18:23:34Z" level=fatal msg="formatting storage disks failed" cause="corrupted backend format"
[docker-log.txt](https://github.com/minio/minio/files/532025/docker-log.txt)

Here is

[2016-10-16 19:12] mvalitov commented on #2941
@krishnasrinivas , unfortunately, the result is the same:

[code]

[code]

[2016-10-16 19:13] vadmeste commented on #2948
This is the script shell which generates the docker-compose file, nr_nodes var could be configured to choose the number of instances

[gen-compose.sh.txt](https://github.com/minio/minio/files/532049/gen-compose.sh.txt)

[2016-10-16 21:21] krishnasrinivas commented on #2941
This change made it work:

[code]

[2016-10-16 21:24] #2943 closed, assigned to vadmeste

[2016-10-16 21:39] vadmeste commented on #2948
When I manually replace this condition (for testing purpose) https://github.com/minio/minio/blob/master/cmd/prepare-storage.go#L166 with

[code]

the bug disappears.. looks like minio is judging too fast nodes that didnt' get time to be prepared

[2016-10-16 22:45] donatello commented on #2942
Working on this now.

Observation: Not reproducible in FS mode.

@GarimaKapoor will let you know soon about timeline.

[2016-10-17 01:54] donatello commented on #2942
This bug appears to be complicated - I am still working on it - https://github.com/minio/minio/compare/master...donatello:deadlock-listen-bucket?expand=1

With the debugging info added above, by simply running `mc watch` hitting `Ctrl-C` and running watch again I get messages like:

[code]

The peer connection is getting unexpected closed at some point, and an automatic reconnect is not happening

[2016-10-17 03:25] donatello commented on #2942
Fixed! \o/

[2016-10-17 03:52] #2942 closed, assigned to donatello

[2016-10-17 04:01] GarimaKapoor commented on #2829
@sych74 let us know if you need anything else from us for your blog post.

[2016-10-17 04:32] harshavardhana opened #2950 "[distributed] minio server mysteriously dies upon startup sporadically"
This happens in following scenarios sporadically
- start minio server with around 8+ disk configuration.
- do not start other servers, let the first server go into a retry loop.
- now start all the servers in parallel.

1 out of 5 times first server just silently fails with no message.

[code]

[2016-10-17 04:42] harshavardhana opened #2951 "[distributed] Racy parallel deletes"
[code]

[2016-10-17 04:43] harshavardhana commented on #2951
Not sure what the cause is..

[2016-10-17 04:44] harshavardhana commented on #2951
Never seen this before

[code]

[2016-10-17 04:46] harshavardhana commented on #2951
Looks like renameObject has went into infinite loop

[code]

[2016-10-17 05:17] harshavardhana opened #2952 "[distributed] On a sentinel environment `minio control` fails to honor AccessKeyID from env"
[code]

`.minio/config.json` needs to be edited, we need to fix this.

[2016-10-17 05:25] harshavardhana commented on #2951
False positive there is a long running process from @vadmeste which is continuously running.

[2016-10-17 05:25] #2951 closed, assigned to harshavardhana

[2016-10-17 06:13] mvalitov commented on #2941
Thank! It work!

[2016-10-17 08:33] butonic opened #2954 "Cannot store reserved characters on NTSF volumes"
## Expected behaviour

Running minio on windows I should be able to store objects containing `:`, eg `urn:oid:1234`
## Actual behaviour

[code]
## Steps to reproduce the behaviour

just create an object with `:` in the name.
## Minio version

[code]
## System information

Windows 10, minio on an NTFS volume which has these reserved characters:

[code]

[2016-10-17 08:41] harshavardhana opened #2955 "[distributed] minio-py functional tests fail with minio server"
S3 sets `%Y-%m-%dT%H:%M:%S.%fZ`
Minio sets `%Y-%m-%dT%H:%M:%SZ`

[code]

These tests run file with S3.

[2016-10-17 08:50] krishnasrinivas commented on #2954
Since minio uses backend FS to store objects it will not be able to create files with file name that has reserved characters.

[2016-10-17 09:10] #2944 closed, assigned to harshavardhana

[2016-10-17 09:44] sych74 commented on #2829
@GarimaKapoor does the **latest** docker image tag include MinioXL? We are waiting for a stable release, related to this issue https://github.com/minio/minio/issues/2850.
Thanks

[2016-10-17 09:48] sych74 commented on #2777
@GarimaKapoor any feedback on this? Jelastic deployment automation button is ready. Please let me know if any additional information is needed from our side. Thanks

[2016-10-17 11:21] krisis opened #2959 "[distributed] - s3verify HeadObject test fails with Invalid response header received: Md5sum .."
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-10-17 11:28] krisis opened #2960 "[distributed] - s3verify HeadObject test fails: "Invalid response header received: Md5sum ...""
## Expected behaviour

s3verify tests must pass
## Actual behaviour

HeadObject fails with the following error,

[code]
## Steps to reproduce the behaviour

Run s3verify with a distributed Minio setup.
## Minio version

`d02cb96`
## System information

[2016-10-17 11:28] krishnasrinivas opened #2961 "[distributed] upload for 40G file using POST does not fail"
Upload 40G file using single request

[code]

i.e only 5G got uploaded. The server should have rejected the request saying that the object is too large.

[2016-10-17 11:38] krishnasrinivas opened #2963 "[distributed] mc commands hang."
After the sequence of steps in https://github.com/minio/minio/issues/2961

I did:
`mc policy both minio2/kris`

This hung.
Ctrl-C and
`mc ls minio2/kris`
also hung.

Probably locking issue.

[2016-10-17 12:24] krisis commented on #2959
This issue was accidentally opened due to some browser issue.

[2016-10-17 12:24] #2959 closed, assigned to nobody

[2016-10-17 14:37] bradkarels opened #2965 "ecosystem: Validate all spark and hadoop supported s3 connectors"
## Expected behaviour

I want to use spark-shell (v2.0.1) to connect to minio local to read input data and write back output data.
## Actual behaviour

Attempting a simple read of a text file (json in this case) results in the error:

[code]

   (full stack will be below)
## Steps to reproduce the behaviour

Install Oracle Java 8 (1.8.0_71)
Install Scala 2.11.8
Minio installed by Home Brew
Install

[2016-10-17 15:39] #2948 closed, assigned to vadmeste

[2016-10-17 15:41] #2960 closed, assigned to nobody

[2016-10-17 15:43] harshavardhana commented on #2961
How does the S3 behave can you validate ?

[2016-10-17 15:44] #2955 closed, assigned to harshavardhana

[2016-10-17 15:48] krishnasrinivas commented on #2961
will check, also can you assign this to me, as i have fixed it in my repo

[2016-10-17 15:49] koolhead17 opened #2966 "[distributed] make bucket command hangs."
## Expected behaviour

`mc mb` should create a bucket.
## Actual behaviour

It gives no output & for a normal user the behaviour appears as if process is stuck.
## Steps to reproduce the behaviour

`mc mb myminio/mybucket`  The screen will be stuck, CTRL+C and do `mc ls myminio`
bucket will be created.

[2016-10-17 15:56] koolhead17 opened #2967 "[distributed] listing objects on a non-existent bucket hangs"
## Expected behaviour

`mc ls` should error out saying bucket does not exist.
## Actual behaviour

It stays on the terminal without any output
## Steps to reproduce the behaviour

`mc ls myminio/fubarwesgs`
- bucket `fubarwesgs` does not exist but terminal stays without giving any output.

[2016-10-17 16:09] koolhead17 opened #2968 "[distributed] remove bucket command hangs."
## Expected behaviour

`mc rm myminio/mybucket` should remove empty bucket
## Actual behaviour

The terminal stays without giving any output after CTRL+C running `mc ls myminio` concludes bucket is deleted.
## Steps to reproduce the behaviour

`$ mc rm myminio/atul1` It will stay on terminal, after CTRL+C running `mc ls myminio` concludes bucket is deleted.

[2016-10-17 16:44] harshavardhana opened #2969 "[distributed] if one of the server is down as part of the initialization takes TCP timeout time."
[code]

Change the 'net.Dial' to use 'net.DialTimeout' instead in our rpc-client

[2016-10-17 16:49] GarimaKapoor commented on #2946
@krishnasrinivas any updates on this issue?

[2016-10-17 17:50] harshavardhana opened #2971 "[distributed] Ignore disks option is not honored properly during startup sequence"
[code]

[2016-10-17 18:18] krishnasrinivas commented on #2961
[code]

[2016-10-17 18:24] harshavardhana commented on #2961
@krishnasrinivas i see proposed size does it mean that it uploads the whole 6G file?

[2016-10-17 18:26] krishnasrinivas commented on #2961
@harshavardhana yes, because `Content-Lengt` cant be used as it includes form-data fields also, so the object is uploaded till 5G ... that's why wanted to use ec2 for upload.

[2016-10-17 19:09] harshavardhana opened #2972 "[distributed] Event notifier crash when servers were being restarted"
[code]

[2016-10-17 19:11] bradkarels commented on #2965
"Resolved" - I did indeed have to use hadoop 3.0.0-alpha1 - but got this to work.

## Spark Version

[code]

## Hadoop Version

[code]

(Not a big fan of doing things with alpha versions, but this was necessary as the setting Path Style access is fixed in 3.0.0 as referenced [here](https://issues.apache.org/jira/browse/HADOOP-12963).

## Minio Version

[code]

## Data Setup

Start the minio server

[2016-10-17 19:32] harshavardhana opened #2973 "[distributed] Taking down first server while the other servers are in startup sequence can hang"
[code]

Servers should proceed forward with disconnected server and initialize with in quorum.

[2016-10-17 21:31] #2969 closed, assigned to harshavardhana

[2016-10-17 21:31] #2971 closed, assigned to harshavardhana

[2016-10-17 21:44] harshavardhana opened #2975 "[distributed] Starting minio server on Packet.net sporadically doesn't register the listening port properly."
[code]

[2016-10-17 21:45] harshavardhana commented on #2975
[code]

Seems to be registered but connection is refused.

[2016-10-17 21:47] harshavardhana commented on #2975
Looks like the issue with /etc/hosts

[code]

[2016-10-17 21:48] harshavardhana commented on #2975
Configuration issue closing.. the IP is different.

[2016-10-17 21:48] #2975 closed, assigned to harshavardhana

[2016-10-17 22:01] vadmeste opened #2976 "[distributed] shutting down one node and restarting it in the middle of a large file copy will make this latter corrupted"
## Expected behaviour

Uploading a file during a node restart should either return an error or avoid data corruption
## Actual behaviour

The uploaded file is corrupted. (`mc cat | md5sum`)
The size of file shown by `mc ls` is correct but `mc cat` returns a smaller file
## Steps to reproduce the behaviour
1. Start from fresh disks
2. `docker-compose up` (4 disks)
3. `mc mb myminio1/testbucket` (my

[2016-10-17 22:08] harshavardhana commented on #2968
This seems to be working fine now.

[code]

Can you validate again?

[2016-10-17 22:10] harshavardhana commented on #2967
Can you try again seems to be working fine?

[2016-10-17 22:11] harshavardhana commented on #2966
Can you try again

[code]

[2016-10-17 23:38] #2972 closed, assigned to donatello

[2016-10-18 00:52] harshavardhana commented on #2976
[code]

[code]

[code]

With some debug messages we can clearly see we are not reading enough parts and concluding that we read everything.

[code]

[2016-10-18 01:47] balamurugana opened #2979 "[distributed] Server returns "500 Internal Server Error" for "mc policy""
Steps to reproduce the problem.
1. Run `mc share` commands in parallel like below

[code]

Both commands succeed
1. Now run `mc share` command list the policy like below

[code]

[2016-10-18 02:31] harshavardhana opened #2980 "[distributed]: Enable quick heal for 'policy.json', 'notification.xml' , 'listeners.json'"
Basically all bucket metadata files as well.

[2016-10-18 02:44] harshavardhana opened #2981 "Evaluate aluxio integration with Minio server"
https://github.com/Alluxio/alluxio

[2016-10-18 03:18] #2855 closed, assigned to donatello

[2016-10-18 05:27] harshavardhana commented on #2976
The problem is here

[code]

We are prematurely failing when checkSum is empty should be rightfully ignored.

[2016-10-18 06:11] harshavardhana opened #2982 "[distributed] Objectlayer fails to initialize properly under heavy load."
Steps to reproduce run each of these commands in a while true loop using 'mc'
- mc rm -r --force myminio/testbucket/
- mc ls -r myminio/testbucket/
- mc cp -r /usr myminio/testbucket

Keep running this and try to initialize server by freshly starting them. Server gets hung for the most part only serving object API requests and not proceeding with object layer initialization.

[2016-10-18 06:12] harshavardhana opened #2983 "[distributed] Add a command line syntax to run one minio server per disk"
Implement HTTP URI parsing and then take different ports this will also work for windows.

[2016-10-18 06:14] #2952 closed, assigned to vadmeste

[2016-10-18 06:17] krishnasrinivas commented on #2980
maybe we can do this every time after a server comes back up, since it's just 3 files it will be quick.

[2016-10-18 06:27] harshavardhana commented on #2973
This is not a hang but a race in cleanupDir() function which would kill the servers..

[2016-10-18 06:46] harshavardhana commented on #2954
Closing this as not a bug.

[2016-10-18 06:46] #2954 closed, assigned to nobody

[2016-10-18 06:52] harshavardhana commented on #2793
@sreitshamer is there anything that you need from our end that might help in debugging this problem? - Thanks

[2016-10-18 06:53] harshavardhana commented on #2748
@hernandev were you able to validate this on your end?

[2016-10-18 07:00] harshavardhana commented on #2551
Closing this as known issue but won't be fixed.  We will send an upstream patch for Cyberduck to make it cleanly work by handling prefixes properly just like how https://github.com/minio/mc does.

[2016-10-18 07:00] #2551 closed, assigned to nobody

[2016-10-18 07:01] harshavardhana commented on #2843
Closing this as working @swimablefish - please re-open if you see the problem again.

[2016-10-18 07:01] #2843 closed, assigned to krisis

[2016-10-18 07:07] harshavardhana commented on #2973
// cc - assigned to @vadmeste

[2016-10-18 08:53] fwessels opened #2985 "Sporadic TLS handshare errors"
During testing sporadic TLS handshake errors were reported (on about 4 out of the 8 servers).

[code]

[code]

[code]

[2016-10-18 09:01] sreitshamer commented on #2793
So, the signature issue was fixed in the master branch of minio, is that right? Is there a release of minio with that fix? Where do I get it?

[2016-10-18 09:07] koolhead17 commented on #2793
hello @sreitshamer the recent master has s3 v2 support.

[code]

Thanks.

[2016-10-18 09:09] sreitshamer commented on #2793
It would be really helpful if minio returned the string to sign and canonical request in the response body when it returns "The request signature we calculated does not match
the signature you provided" errors. That's what AWS does for v4 signatures. Can you add that?

[2016-10-18 09:14] krishnasrinivas commented on #2793
@sreitshamer you are right, we'll add that.

[2016-10-18 09:22] krishnasrinivas opened #2986 "signature mismatch response should include more details"
AWS S3 returns the following in case of singature mismatchs:

[code]

this will help clients to debug signature mismatch errors.

We should also return an XML that looks like this.

[2016-10-18 09:23] krishnasrinivas commented on #2793
I have opened https://github.com/minio/minio/issues/2986 for signature mismatch response XML.

[2016-10-18 09:28] koolhead17 commented on #2967
Yup, closing it. works now.

[2016-10-18 09:28] #2967 closed, assigned to nobody

[2016-10-18 09:29] koolhead17 commented on #2966
yup, closing it works now.

[2016-10-18 09:29] #2966 closed, assigned to nobody

[2016-10-18 09:29] koolhead17 commented on #2968
yup, closing it works now.

[2016-10-18 09:29] #2968 closed, assigned to nobody

[2016-10-18 09:42] krisis commented on #2936
This is an issue with `mc` on MS Windows. Closing this issue and opening it on github.com/minio/mc.

[2016-10-18 09:42] #2936 closed, assigned to krisis

[2016-10-18 09:44] krishnasrinivas commented on #2793
@sreitshamer also note that in the logs i have pasted above there are no signature errors or any other error. But just that Arq creates some files and does not complete the backup.

[2016-10-18 10:13] sreitshamer commented on #2793
Are the logs you pasted above from using Arq with Minio and V2 signatures? Or V4?

[2016-10-18 10:20] vadmeste commented on #2985
@fwessels, so to confirm, you did enable tls in minio server but you are getting this sporadic error ?

[2016-10-18 10:25] vadmeste commented on #2985
@fwessels, can you tell what is the current commit id of your repository /home/ec2-user/go/src/github.com/minio/minio/ ? stack trace line number points to a comment in the current master

[2016-10-18 10:25] sreitshamer commented on #2793
I just installed Minio from source and backed up and restored no problem with Arq. I noticed your previous comments mention Arq 5.2.5. Have you tried Arq 5.3.3? https://www.arqbackup.com/download/Arq.dmg

[2016-10-18 10:59] krisis commented on #2982
@harshavardhana Do you have any logs from minio server when this happens?

[2016-10-18 12:00] fwessels commented on #2985
@vadmeste  this is the commit id: 6303f263308b3f1f9f47a4e23a34643d3faa0878

[2016-10-18 12:07] fwessels commented on #2985
@vadmeste but also commit id: 6199aa0707ee9ca0c8e781f1198ee6aa802c3abb is in use at some servers (not setup at same time)

Stack trace with `/home/ec2-user/go/src/github.com/minio/minio/cmd/generic-handlers.go:235` is related to commit id 6303f263308b3f1f9f47a4e23a34643d3faa0878
Stack trace with  `/home/ec2-user/go/src/github.com/minio/minio/cmd/generic-handlers.go:242` is related to commit id 619

[2016-10-18 12:10] fwessels commented on #2985
Just FYI: this was a test during which in total 12 million objects were uploaded to the 8 node cluster, so we have about 4 errors in 12 million operations.

[2016-10-18 12:15] vadmeste commented on #2985
Thanks! yeah.. looks like a golang bug, I will investigate more

[2016-10-18 12:18] fwessels commented on #2985
Great, I should be able to reproduce it although will take a couple of hours before any errors to show up

[2016-10-18 14:05] harshavardhana commented on #2982
Dont have any logs. But i suspect the issue is in xlHouseKeeping..

[2016-10-18 16:50] krishnasrinivas opened #2987 "[distributed] minio-fs on windows serves from a different path"
Gave @delimix a custom windows build.
He tried `minio.exe server d:\minioroot` it did not serve from d:\minioroot.
Must be a recent bug.

[2016-10-18 18:13] #2976 closed, assigned to harshavardhana

[2016-10-18 20:58] vadmeste commented on #2985
I tested with 5 millions requests (listing, to gain time) with FS backend and 10 millions requests with XL (8 nodes).. but I failed to reproduce this bug.

r.Path.URL shouldn't be empty, this is a golang bug.. also it seems that someone is tried to connect with the server (TLS handshake error from 93.170.187.41:54612: tls: first record does not look like a TLS handshake)

I think this is a low pri

[2016-10-18 21:11] fwessels commented on #2985
Let's see if it happens more often, I agree it is not a high priority bug

[2016-10-18 21:27] donatello opened #2991 "erasure/distributed: Sync in-memory bucket metadata automatically"
In some cases, in-memory bucket metadata such as policy configuration, notifications configuration or listener configuration can go stale due to dropped/missed messages. We need a simple framework that automatically heals/fixes this.

[2016-10-18 21:30] donatello opened #2992 "[distributed] Need improved error handling of network errors for notifications/policy RPCs"
Notifications/Policy peer RPCs do not retry requests in case of broken connections at this point. This can lead to stale configuration on nodes.

This can be assigned to me.

[2016-10-18 21:33] harshavardhana opened #2993 "[distributed] Support Signature V2 PostPolicyHandler."
Support signature v2 PostPolicy.

[2016-10-18 21:58] donatello opened #2994 "[distributed] Server silently died on packet cluster"
During testing, minio server process seems to have silently exited on 5 of 8 nodes. Lots of heavy test programs were running.

[2016-10-18 22:00] harshavardhana commented on #2982
The problem is that we are leaving behind a lot of 'tmp' files

[code]

[2016-10-19 04:26] #2992 closed, assigned to donatello

[2016-10-19 06:07] harshavardhana opened #2996 "[distributed] Minio server leaving too many tmp files after continous tests"
After large parallel runs of 'mc cp -r' and 'mc rm -r' continuously in a while true loop leads to large accumulation of tmp files almost close to a 1million of them.

Thanks to @vadmeste efforts in reproducing this consistently

[2016-10-19 13:19] krisis commented on #2982
`xlHouseKeeping` is an internal function that cleans up temporary directories that were created by API requests that didn't complete before the minio server instance was shutdown. It performs the clean up on all the disks. In a distributed Minio setup, each minio server exports its local disks via RPC. Evne before object layer is initialized the storage layer would be serving data to other minio s

[2016-10-19 14:10] asantos82 opened #2997 "Support for AWS Glacier"
Is it possible to add support for AWS Glacier Storage?

[2016-10-19 14:56] vadmeste commented on #2194
Well, for the moment, I added AppendFile() to the storage layer to call fallocate before starting to writing in the object. For the moment, this is tested only with FS backend and with no multi-parted objects.

I had the idea to see filesystem non-contiguous percentage before measuring speed performance to see difference between using fallocate and not using it. I used two parallel mc to upload mu

[2016-10-19 15:37] krishnasrinivas commented on #2194
@vadmeste did you check the time difference between the two configs?

also how did you find out contiguous/non-contiguous %?

[2016-10-19 15:41] vadmeste commented on #2194
well, I umount my disk then I run "fsck -nf /dev/mydisk" to see non contiguous percentage.

I am doing it right now.. I probably need to disable some memory caching first.. will update soon

[2016-10-19 16:55] theredcat opened #2998 "server: Support multiple api keys"
Is minio going to implement multiple accesskey?

I am aware of #811, but minio-xl repo doesn't exsits anymore.
Also aware of the workaround using multi tenant as described in #2751 (which will be fixed in docs by #2752 ), but this approach need externals tools to be implemented.

Do you plan to implement such a feature in minio (even in a distant future) ?

[2016-10-19 17:21] harshavardhana commented on #2998
We will not be implementing multiple access key support. #2752 is what holds good for the future as well.

[2016-10-19 17:47] harshavardhana commented on #2194
:+1:  - This is great to know our previous theory is nullified. Can you validate this with XFS as well?

[2016-10-19 18:45] krishnasrinivas commented on #2987
Tested on my windows machine, it worked fine. Doing a remote desktop session with @delimex

[2016-10-19 19:08] harshavardhana commented on #2997
Minio provides erasure coding https://docs.minio.io/docs/minio-erasure-code-quickstart-guide which solves the problem of both S3 and Glacier with higher parity.

We are not planning on implementing an Glacier like storage backend for Minio.

[2016-10-19 19:47] #2998 closed, assigned to nobody

[2016-10-19 19:47] #2997 closed, assigned to koolhead17

[2016-10-19 20:10] harshavardhana opened #3000 "[distributed] Healing code crashed on packet cluster"
[code]

[2016-10-19 21:54] krishnasrinivas commented on #2987
`minio server d:\minioroot` behaves as `minio server c:\minioroot`

Also the performance on SATA drive was very poor but it was fine on SSD.

[2016-10-20 01:20] vadmeste commented on #2194
Well, XFS is known to optimize fragmentation, so I decided to run 4 parallel mc instead of 2. Here is my findings:
- without fallocate:  **16.88%**
- with fallocate: **0.76%**

[2016-10-20 02:50] harshavardhana commented on #2194
Still better XFS starts showing bad signs as the usage gets higher on large disks.  So it is good to know fallocate helps.

[2016-10-20 02:50] harshavardhana opened #3002 "[distributed] Bucket notification listener fail with SSL"

[2016-10-20 02:57] harshavardhana opened #3003 "[distributed] RPC over SSL does not work"
[code]

[2016-10-20 04:03] harshavardhana commented on #2963
Can this be reproduced again? @krishnasrinivas

[2016-10-20 04:32] harshavardhana commented on #2982
Fixed by #3001

[2016-10-20 04:32] #2982 closed, assigned to krisis

[2016-10-20 05:52] #2996 closed, assigned to krisis

[2016-10-20 06:50] harshavardhana opened #3005 "[distributed] fs: listObjects on permission denied files should return an appropriate error"
[code]

Currently returns "500 Internal Server Error" and 'mc ls' retries 5 times.

[2016-10-20 07:26] donatello opened #3006 "[distributed] Possible healing related issue from testing on Packet cluster"
[code]

Using the test script from https://gist.github.com/donatello/037377ad0a204b3309e6334483e0d3c3

The `NoSuchKey` error message started appearing after a heal was done on this bucket and its files by @harshavardhana

[2016-10-20 07:45] harshavardhana opened #3007 "[distributed] listener.json not deleted when bucket successfully got deleted"
In simple fs setup.

[code]

[code]

start watching using `mc watch`  and copy a bunch of files..

[code]

[code]

[2016-10-20 10:32] betabrain commented on #2793
I can confirm that the bug I started with has been fixed on master. Tested with Arq 5.3.3.
Given that the URL (e.g. `http://127.0.0.1:9000`) does NOT end in `/`. This should be mentioned in the docs.

[2016-10-20 10:57] krishnasrinivas commented on #2793
@sreitshamer thanks for confirming that it works fine with latest builds.

@betabrain

you mean in arq docs or minio?

[2016-10-20 10:58] sreitshamer commented on #2793
We'll modify Arq to accept a URL with or without a trailing slash and ship an update shortly.

[2016-10-20 11:15] krishnasrinivas commented on #2611
@harshavardhana i am helping @koolhead17 on how to go about this issue.

Since we are aws-s3 compatible and rest calls already documented by AWS do we need to do anything?

If we have to document then we have a huge list of REST calls to document.

[2016-10-20 12:55] vadmeste commented on #2926
This is also reproducible under Linux + FS backend

[2016-10-20 13:19] krishnasrinivas opened #3010 "access key invalid - need to print details"
`time="2016-10-20T11:57:18Z" level=fatal msg="Invalid access key." cause="Invalid arguments specified"`

should say why access key is invalid.

[2016-10-20 13:31] tspoke commented on #3010
Same for secret key :

[code]

[2016-10-20 14:43] #3003 closed, assigned to vadmeste

[2016-10-20 15:22] harshavardhana commented on #3006
Can you reproduce this on a fresh bucket? @donatello - https://github.com/minio/minio/commit/6fc81dc16293e9d1c2772bcda5cd922d7e61e5d7 one of the changes that was merged and servers are restarted with this change.

So want to see if this change has any effect here.

[2016-10-20 15:50] harshavardhana opened #3011 "[distributed] Parallel deletes using 'mc rm' causes racy errors to be printed at posix layer"
[code]

[2016-10-20 15:53] harshavardhana commented on #3002
Fixed by #3008

[2016-10-20 15:53] #3002 closed, assigned to donatello

[2016-10-20 16:26] #3011 closed, assigned to harshavardhana

[2016-10-20 16:37] vadmeste commented on #3010
Generally speaking, what about printing links to some specific sections in a documentation page which explains the possible reasons of the error ?

[2016-10-20 17:08] harshavardhana commented on #3010
There is no such documentation but we can talk about the expected length of small and high which we do inside the error itself.

Currently the message doesn't indicate why it is an "Invalid access key"

[2016-10-20 17:09] harshavardhana commented on #3010
For example

[code]

[2016-10-20 18:35] fwessels commented on #2898
See https://github.com/minio/minio/pull/3013

Structure of control lock command is now as follows:

[code]

[2016-10-20 19:47] donatello opened #3014 "[distributed] Concurrent multipart PUTs sometimes make an object unavailable for PUT"
## Expected behaviour

Concurrent PUTs should always be possible.
## Actual behaviour

Get an error like:

[code]

This happens even no other concurrent uploads are happening.
## Steps to reproduce the behaviour

The script at https://gist.github.com/donatello/037377ad0a204b3309e6334483e0d3c3 creates 65MB files using multipart uploads.
1. Run it in parallel:

[code]
## Minio version
- Latest versi

[2016-10-20 19:51] donatello commented on #3014
This happens on new buckets too, so it seems unlikely that it is related to healing - I think https://github.com/minio/minio/issues/3006 may be closed for now @harshavardhana ?

[2016-10-20 19:52] donatello commented on #3006
Closing as it appears unrelated to heal on further investigation - see #3014

[2016-10-20 19:52] #3006 closed, assigned to harshavardhana

[2016-10-20 20:15] harshavardhana commented on #2898
Fixed by #3013

[2016-10-20 20:15] #2898 closed, assigned to fwessels

[2016-10-20 22:13] vadmeste commented on #3010
I was able to run minio after setting access/secret keys to "m", "m" directly in config.json

Is this normal?

[2016-10-20 23:07] #3010 closed, assigned to vadmeste

[2016-10-20 23:09] #3005 closed, assigned to vadmeste

[2016-10-20 23:10] harshavardhana commented on #3010
I don't think so @vadmeste - it is a bug.

[2016-10-20 23:20] GarimaKapoor commented on #2860
@krisis what is the update in this issue.

[2016-10-20 23:22] GarimaKapoor commented on #2926
@krisis please update the status of this issue?

[2016-10-20 23:23] GarimaKapoor commented on #2963
@donatello were you able to reproduce this issue?

[2016-10-20 23:25] GarimaKapoor commented on #2993
@krishnasrinivas please update the status of the issue?

[2016-10-20 23:26] GarimaKapoor commented on #2987
@krishnasrinivas please update the status of this issue?

[2016-10-20 23:27] GarimaKapoor commented on #2981
@harshavardhana we need to work on the integration first.

[2016-10-20 23:29] donatello commented on #2963
No, not been trying. But I am working on this one https://github.com/minio/minio/issues/2979 - it is probably related to this one. However, there have been some other fixes in the meanwhile, and it would be good if @krishnasrinivas can have a whack at reproducing it (he may already have the necessary code) - so we can be sure this one is not already fixed.

[2016-10-20 23:30] GarimaKapoor commented on #2194
@vadmeste please update the status of this issue?

[2016-10-20 23:36] GarimaKapoor commented on #2963
cc @krishnasrinivas

[2016-10-21 00:11] harshavardhana opened #3018 "[distributed] with ---address specified on command line server print endpoint as <nil>"
[code]

[2016-10-21 00:21] harshavardhana opened #3020 "[distributed] Enable SSL based tests as well for all handler/controller/rpc/api communication"
We should use a self-signed certificate and validate it.

[2016-10-21 01:31] #2983 closed, assigned to krishnasrinivas

[2016-10-21 02:37] harshavardhana opened #3022 "[distributed] Local peers shouldn't connect to itself for updating notifications"

[2016-10-21 03:11] harshavardhana opened #3024 "[distributed] Listenbucket should be sns not sqs"
[code]

Invalid 'arn' is used for Listen where as tests use sns.

[code]

[2016-10-21 05:15] hackintoshrao opened #3026 "dist: systemd script for running distributed Minio."
- The current systemd script is configured to run Minio distributed. Need modifications to get Minio distributed running/stop/restart using systemd script.
- Also need a guide on setting to systemd along with the environment configurations  to run Minio distributed.

[2016-10-21 06:41] hackintoshrao opened #3028 "[cli] Arguments parsing failure when sent as one string."
- This was witnessed while getting systemd to run Minio distributed.
- When the arguments to run `minio` binary is sent as one string (all flags + drives/nodes), the cli fails to parse the arguments, leads to `Invalid arguments error`.

[2016-10-21 07:03] harshavardhana commented on #2611
You are right our REST calls are already documented through higher level client APIs,  for more detailed spec AWS S3 already does the extensive documentation.

Now regarding `curl` we can talk about a simple how-to on `curl` to Minio. With Signature V2 support it is quite easy - https://gist.github.com/harshavardhana/f6814f3196bc307faa24e42394cc6df0

[2016-10-21 07:26] krishnasrinivas commented on #2611
Actually I think @matm intention for curl command is to know about the REST call request and response structure for each REST API to implement custom clients in different languages. Also because it helps us to document `X-Minio-Meta-*` in that section. The intention is not to know how to use curl itself with minio.

i.e :

like this http://docs.basho.com/riak/cs/2.1.1/references/apis/storage/s3/pu

[2016-10-21 07:38] harshavardhana commented on #2611
X-Minio-Meta actually has no purpose yet, it was put there as a placeholder for future use. On the other hand fundamentally we are discouraging accumulation of metadata such as these which do not belong on Object Storage.  We can in-fact do-away with it too since X-Amz-Meta provides the same behavior and would be the most common header.

So for API reference the best place to start is http://docs.

[2016-10-21 07:45] krishnasrinivas commented on #2611
:+1:

we can close this issue then. If someone wants to use object-metadata we can say that they can look up aws docs on how to set header key/val and that we haven't documented it because we discourage it.

[2016-10-21 07:51] krishnasrinivas commented on #3028
systemd should have a way to provide multiple arguments right?

[2016-10-21 07:53] harshavardhana commented on #3028
Its not systemd issue its our CLI flag parsing problem.

[2016-10-21 07:53] harshavardhana commented on #2611
Closing.

[2016-10-21 07:53] #2611 closed, assigned to koolhead17

[2016-10-21 08:25] #3024 closed, assigned to harshavardhana

[2016-10-21 08:39] gebi commented on #3026
Hi,

I'm not sure i understand the part about "distributed" minio correct, but i needed a systemd service unit for minio. Feel free to use it. You may remove the dependency to remote-fs.target which is a speciality of our setup.

As for the others, `MINIO_SECURE_CONSOLE=0` does not work with current minio stable, i will open an issue about it.

[code]

[2016-10-21 09:06] gebi commented on #3026
Never mind about MINIO_SECURE_CONSOLE, it's just not included in the current stable and hidden inside a big code re-organization.

[2016-10-21 09:08] harshavardhana commented on #3026
This will be available the distributed release @gebi

[2016-10-21 09:22] vadmeste commented on #2194
Timeline: 21 Oct.

[2016-10-21 10:22] krishnasrinivas commented on #2194
previously we were doing fallocate in 128K chunks in AppendFile (which will not add value), now @vadmeste is doing fallocate with PrepareFile() StorageAPI allocating the space for the entire file.

[2016-10-21 10:39] krisis commented on #2926
I haven't yet determined the root cause of the issue. I will resume work on this issue on Oct 22. @vadmeste tested if this was reproducible on Linux yesterday, with some of the fixes that were merged and couldn't reproduce it. I will verify if it is true with Windows and update.

[2016-10-21 10:49] KanybekMomukeyev commented on #2796
@olalonde thank you very much, saved my day, in documentaion bit more complicated!

[2016-10-21 10:56] krisis commented on #2860
#2936 turned out to be an issue with `mc` on Windows (ref: https://github.com/minio/mc/issues/1857).
#2934 was fixed by @krishnasrinivas
#2926 is yet to be fixed.
Further tests (to be done),
- s3verify on single node XL on windows.

Timeline: Oct 22nd

[2016-10-21 11:36] KanybekMomukeyev commented on #2796
My version is like this:

[code]

[2016-10-21 11:51] krisis opened #3031 "[distributed] s3verify Abort Upload test fails"
## Expected behaviour

Abort Multipart Upload s3verify test passes on Minio distributed setup
## Actual behaviour

[code]
## Steps to reproduce the behaviour
- Run `s3verify` on Minio distribued setup.
## Minio version

Latest master
## System information

GNU/Linux

[2016-10-21 12:30] olalonde commented on #2796
You're welcome! A recent commit removed the default command so it has to be specified in docker-compose now... Opened a PR https://github.com/minio/minio/pull/3030

[2016-10-21 14:07] harshavardhana commented on #3031
Is this reproducible on FS or single node XL?

[2016-10-21 14:12] krisis commented on #3031
@harshavardhana it is not reproducible in FS or in single-node XL.

[2016-10-21 17:31] krishnasrinivas commented on #2993
working on this right now, timeline 21 or 22nd.

[2016-10-21 17:33] krishnasrinivas commented on #2987
There were two issues, one related to export path and other performace on windows.

Performance on windows needs debugging. Will fix it by 22nd.

[2016-10-21 17:34] krishnasrinivas commented on #2963
I will try to reproduce this issue and fix it if seen again.

[2016-10-21 19:31] harshavardhana commented on #2946
This is fixed https://github.com/minio/miniobrowser/pull/223

[2016-10-21 19:31] #2946 closed, assigned to krishnasrinivas

[2016-10-21 22:30] vadmeste opened #3036 "Race detected by `go test`"
Commit-id: ecaccefd2e787025be572704b68ecd2195ef9f32

[code]

[2016-10-22 00:12] #3036 closed, assigned to harshavardhana

[2016-10-22 01:49] harshavardhana opened #3039 "[distributed] tests race in ListenBucketNotificationHandler"
[code]

[2016-10-22 02:43] harshavardhana commented on #2981
https://github.com/Alluxio/alluxio/pull/4217 - PR submitting upstream closing this.

[2016-10-22 02:43] #2981 closed, assigned to harshavardhana

[2016-10-22 03:20] #3007 closed, assigned to donatello

[2016-10-22 03:20] harshavardhana commented on #3007
Fixed by #3007

[2016-10-22 03:22] harshavardhana commented on #2994
Server has been holding up since last 3 days now under load. Seems like the bug has disappeared for now. Closing this for now.

[2016-10-22 03:22] #2994 closed, assigned to harshavardhana

[2016-10-22 03:23] harshavardhana commented on #2973
Ping @vadmeste - have you validated this?

[2016-10-22 03:26] harshavardhana commented on #2912
It was decided to expose Lock(), Unlock() at object layer to hold a lock on entire namespace.  Other than the locks held inside.

This would introduce locking at object handler layer which would facilitate a way to avoid races like this, while rare provides consistency on we not returning corrupted data in the middle of an operation.

[2016-10-22 03:26] harshavardhana commented on #2950
This was fixed already the problem was in xlHouseKeeping code fixed by @krisis

[2016-10-22 03:26] #2950 closed, assigned to harshavardhana

[2016-10-22 03:56] #3026 closed, assigned to hackintoshrao

[2016-10-22 05:56] #3039 closed, assigned to harshavardhana

[2016-10-22 06:24] krisis commented on #2926
This issue is reproducible with objects of size < 64MB as well.

[2016-10-22 06:38] harshavardhana commented on #2926
Is there a pattern to it?

[2016-10-22 06:40] harshavardhana commented on #3031
This is something related to what @donatello recently experienced as well symptoms are rather same - https://github.com/minio/minio/issues/3014

[2016-10-22 10:55] vadmeste opened #3042 "[distributed] startup message wrongly calculates the number of maximum withstood disk failures"
For example, with two failed nodes:
## Expected behaviour

`Status:         14 Online, 2 Offline. We can withstand [6] more drive failure(s).`
## Actual behaviour

`Status:         14 Online, 2 Offline. We can withstand [8] more drive failure(s).`
## Steps to reproduce the behaviour
- Run 16 nodes and stop one or more nodes in startup sequence
## Minio version

4b5b363c6c6da32e7703390e25556f48e3f4

[2016-10-22 14:13] vadmeste commented on #2973
@harshavardhana, I can easily have this behavior when disks are unformatted but not when disks are already formatted.. but this is weird since the first node calls Storage.TryInitHandler on all other nodes, am I missing something ?

[2016-10-22 15:02] vadmeste opened #3044 "[distributed] Minio not able to initialize with these disks"
## Expected behaviour

Minio distributed initialized and ready for use
## Actual behaviour

Minio distributed not able to start
## Steps to reproduce the behaviour

Not sure, but you can find the disks attached to this issue
[export_16disks_init_bug.tar.gz](https://github.com/minio/minio/files/545846/export_16disks_init_bug.tar.gz)
## Minio version

4b5b363c6c6da32e7703390e25556f48e3f41690
## Syst

[2016-10-22 15:47] vadmeste commented on #3031
@krisis, can you check again? I am not able to reproduce it with distributed 4 and 16 disks.

[2016-10-22 15:57] #2993 closed, assigned to krishnasrinivas

[2016-10-22 15:58] harshavardhana commented on #2973
It must be that the notification is lost and it happens. So any error is never retried.

[2016-10-22 16:00] harshavardhana commented on #3042
Currently it calculates for the whole set. It has to be changed based on online disks.

[2016-10-22 16:04] vadmeste commented on #2973
Currently, the first node orchestrates the init phase, if the first node is killed in the very early stage, the system won't be initialized.

[2016-10-22 16:05] #2961 closed, assigned to krishnasrinivas

[2016-10-22 16:14] harshavardhana commented on #2973
Its a correct behavior if first node is not available. But init should still proceed one of the other nodes other than the first disk are down.

[2016-10-22 16:17] vadmeste commented on #2973
So this issue doesn't make sense anymore?

[2016-10-22 16:22] harshavardhana commented on #2973
Yes but the issue was that during startup sequence first server goes down the other peers dont reach inconsistent state or print odd messages. But if there was a window where they all proceed and then first server goes down in middle of format.json being written. We need to validate these scenarios.

[2016-10-22 17:37] harshavardhana commented on #3042
Fixed by #3045

[2016-10-22 17:37] #3042 closed, assigned to vadmeste

[2016-10-22 17:38] harshavardhana commented on #3020
// cc @krisis

[2016-10-22 22:30] krishnasrinivas commented on #2987
performance issue on windows was caused by open/close in every AppendFile.
Plus diskFree() check also had some impact.

as proof https://github.com/krishnasrinivas/minio/commit/b72e77b1bb2bd929c93912adc76c911010ef8ca4 fixes the performance problem. But implementing fdcache for windows sake will be bad for our code flow.

[2016-10-23 04:25] Sincan2 commented on #1322
I try build nginx version: nginx/1.10.1 (Ubuntu)

`apt-get install nginx`

[code]

starting minio

`./minio server --address=localhost:6969 /miniofolder`

root@S3:~# curl -IL http://domain/sincan2/dansa.jpg
HTTP/1.1 200 OK
Server: nginx/1.10.1 (Ubuntu)
Date: Sun, 23 Oct 2016 04:24:02 GMT
Content-Type: image/jpeg
Content-Length: 41598
Connection: keep-alive
Accept-Ranges: bytes
Last-Modified: Fri,

[2016-10-23 08:06] harshavardhana opened #3047 "[distributed] Invalid port added to Peer list"
[code]

[2016-10-23 08:07] harshavardhana commented on #3047
Clearly we can see port is ":0"

[2016-10-24 03:16] harshavardhana commented on #3047
Fixed by #3048

[2016-10-24 03:16] #3047 closed, assigned to harshavardhana

[2016-10-24 03:30] harshavardhana opened #3052 "[distributed] Fails to start server when `listener.json` is incompatible with previous configuration"
Starting server fails if listener.json is incompatible with the previously saved configuration.

[code]

[code]
## Expected Behavior

Server should continue to function properly. This bug is related to https://github.com/minio/minio/issues/3022
## Current Behavior

Server cannot start and doesn't describe the issue further either.
## Possible Solution

Fixing this https://github.com/minio/minio/is

[2016-10-24 04:00] donatello commented on #3014
Potential cause 1:

(thanks to @balamurugana)

Consider `newMultipartUpload()` function:
https://github.com/minio/minio/blob/5782ec3ada1c98b20402d271b66baeb10fa0f243/cmd/xl-v1-multipart.go#L265-L306 (on latest master at time of writing).

`uploads.json` is written on line 291, but `writeSameXLMetadata` and `renameObject` on lines 297 and 300  can fail, leaving a stale `uploads.json` - i.e. json fi

[2016-10-24 04:09] harshavardhana commented on #3014
We cannot do that this will break S3 compatibility.  This fix of `uploads.json` to be removed incase of failure should happen and it shouldn't be that complicated to fix as well.

[2016-10-24 05:26] krisis commented on #3031
@vadmeste, I am unable to reproduce this on single-node XL or FS anymore. Incidentally, I am unable to recreate it with a local docker-compose based setup with 4 disks too.

[2016-10-24 06:01] harshavardhana commented on #3031
Can you increase the number to 16 servers?

[2016-10-24 06:21] krishnasrinivas commented on #3014
Also we use uploads.json to detect if it's the leaf directory

You can move the following lines to line 305, i.e do writeUploadJSON() only after writeSameXLMetadata and renameObject

[code]

[2016-10-24 06:55] #3018 closed, assigned to harshavardhana

[2016-10-24 11:25] Shark opened #3056 "Persistent download URLs"
It would be really helpful if the URLs for the minio binaries stayed the same after a new release is published. We download Minio as part of our image build scripts. Currently those scripts break whenever a new version is released. This also affects mc.

For example: https://dl.minio.io/server/minio/release/linux-amd64/minio.RELEASE.2016-10-22T00-50-41Z is the latest version, but the file is moved

[2016-10-24 11:39] krisis commented on #2860
- Ran s3verify on single-node XL setup
- Will be running [minio-py based script](https://gist.github.com/krisis/031ef243a1033156a7671d2b76872f01) on a single-node XL setup

[2016-10-24 12:20] krishnasrinivas opened #3057 "PostPolicy verification does not do content-length-range verification"
Found during code review, We do not verify content-length-range with the size of the uploaded object.

[2016-10-24 13:55] vadmeste commented on #3044
[export_16disks_init_bug_second.tar.gz](https://github.com/minio/minio/files/548005/export_16disks_init_bug_second.tar.gz)

Another case, not sure if it is the same bug or not.

[2016-10-24 14:30] hackintoshrao opened #3058 "[tests] Need unit test for `DeleteMultipleObjectsHandler`."
Need unit test for `DeleteMultipleObjectsHandler` from bucket-handlers.go .

[2016-10-24 14:32] hackintoshrao opened #3059 "[tests] Need better test coverage for `PostPolicyBucketHandler` ."
Need better test coverage for `PostPolicyBucketHandler` from object-handlers.

[2016-10-24 14:35] hackintoshrao opened #3060 "[tests] Need better test coverage for `updateUploadsJSON`."
Need better test coverage for `updateUploadsJSON` from `xl-v1-multipart-common.go`.

[2016-10-24 14:36] hackintoshrao opened #3061 "[tests] Need better test coverage for `writeUploadJSON`."
Need better test coverage for `writeUploadJSON` from `xl-v1-multipart-common.go`.

[2016-10-24 14:37] hackintoshrao opened #3062 "[tests] Need better test coverage for web-peer-rpc.go."

[2016-10-24 14:38] hackintoshrao opened #3063 "[tests] Need better coverage for `SetAuth` function from web-handlers.go"

[2016-10-24 14:40] hackintoshrao opened #3064 "[tests] Need better test coverage for StorageServer RPC handlers."
Need better coverage for RPC handlers in `storage-rpc-server.go`.

[2016-10-24 14:43] hackintoshrao opened #3065 "[tests] Add missing cases for signature-v4.go."
Add missing cases for `doesPresignedSignatureMatch` and `doesSignatureMatch` from signature-v4-.go

[2016-10-24 14:45] hackintoshrao opened #3066 "[tests] Need better coverage for `checkPostPolicy`."
Need better test coverage for `checkPostPolicy` from `signature-v4-postpolicyform.go`.

[2016-10-24 14:47] hackintoshrao opened #3067 "[tests] Need better test coverage for `s3PeerAPIHandlers`."

[2016-10-24 14:51] hackintoshrao opened #3068 "[tests] Add unit test for `HeadObjectHandler`."
Add unit test for `HeadObjectHandler` from `object-handlers.go`.

[2016-10-24 14:53] hackintoshrao opened #3069 "tests: Add missing unit test cases for `PutObjectHandler`."
Add missing unit test cases for `PutObjectHandler` from `object-handlers.go`.

[2016-10-24 14:54] hackintoshrao opened #3070 "[tests] Add missing unit test cases for `AbortMultipartUploadHandler`."

[2016-10-24 15:23] krishnasrinivas commented on #3057
@harshavardhana you can assign this to me

[2016-10-24 15:36] harshavardhana commented on #3056
@Shark persistent downloads link is directly https://dl.minio.io/server/minio/release/linux-amd64/minio not https://dl.minio.io/server/minio/release/linux-amd64/minio.RELEASE.2016-10-22T00-50-41Z

We are in the process of making continuous releases and each release is backward compatible. Unless there is a good reason i don't see a reason why your image builds should be using a specific .RELEASE b

[2016-10-24 17:50] fwessels opened #3071 "erasure: Consider lowering minimum number for XL/Distributed to 2"
Now that we have relaxed the read quorum to N/2, we could consider lowering the minimum number for XL/Distributed from 4 to 2.

Effectively this would mean replication over 2 disks/nodes while still having read capability when either one of the disks or either one of the nodes is down (no master node).

Obviously write capability would be hampered when one of the disks/nodes is down (unless we rel

[2016-10-24 18:06] hackintoshrao opened #3072 "FS: HeadObject (If-None-Match) incorrect response status."
- When S3Verify is run using
  $ `./s3verify -a  <A-Key>  -s <Secret-Key> --extended -u http://localhost:9000`
             [FAIL] Unexpected Status Received: wanted 304, got 200.

  HeadObject (If-None-Match) fails with incorrect response status. The test sets the `ETag==ObjectMD5Sum`, In this case the server is supposed to response with status 304.

[2016-10-24 18:57] harshavardhana commented on #3072
If you enable `MINIO_ENABLE_FSMETA` this problem is not there. We choose to return back object regardless of the said concerns here. So FS this test is not valid and it is done on purpose.

[2016-10-24 18:57] #3072 closed, assigned to nobody

[2016-10-24 19:00] harshavardhana commented on #3071
This will be more unreliable to do @fwessels , it is better to setup two Minio FS servers and do 'mc mirror'.

Write requires N/2+1 quorum to provide sanctity during network partitions it makes it harder to make it bug free and we will loose data.  I would prefer we shouldn't support an unreliable setup.

[2016-10-24 19:04] donatello opened #3073 "[distributed] Add generation id to uploads.json"
## Expected Behavior

The uploads.json file used for multipart uploads needs to have a generation id, that helps identify the latest version of the file that was written "quorum" successfully.
## Current Behavior

Currently we are using the version from the first disk on which we successfully read the file. This can lead to stale information.
## Possible Solution

Add generation id to uploads.json

[2016-10-24 19:42] suprnova32 opened #3075 "Server unable to start on Mac"
## Expected Behavior

The server should start and I should be able to use the browser app.

## Current Behavior

The server is not starting and is eating up all my CPU and RAM.

<img width="799" alt="screen shot 2016-10-24 at 2 38 19 pm" src="https://cloud.githubusercontent.com/assets/723365/19660983/8f14b064-99f7-11e6-8206-af325d87e9e8.png">

## Steps to Reproduce (for bugs)

1. Install minio via

[2016-10-24 20:46] justinclift opened #3077 "[build/release] Signing OSX binary releases."
Thankfully, the native security mechanism on OSX - Gatekeeper - doesn't seem to have issues with the unsigned Minio binary (for OSX 10.11.6 anyway).

If at some point that changes, and you need to sign things, the steps are super simple. :smile:

This is the before step, the signing command, and the verification step.

[code]

[code]

[code]

Likely worth filing this away for later use. :wink:

[2016-10-24 21:13] fwessels commented on #3071
@harshavardhana Agreed, naturally will be less reliable compared to a 4 disk/node sytem. And of course provides less guarantees against data protection (but not any less than two FS servers syncing between them).

[2016-10-24 21:17] harshavardhana commented on #3071
@fwessels any specific reason for this or just to have a "poor mans" replication?

[2016-10-24 21:42] fwessels commented on #3071
No specific reason, just maybe a simpler alternative to FS replication. But maybe the downside is worse than the upside...

[2016-10-24 22:03] harshavardhana commented on #3075
A new release binary has been updated https://dl.minio.io/server/minio/release/ , fixed in current release branch. Closing.

[2016-10-24 22:03] #3075 closed, assigned to harshavardhana

[2016-10-25 00:37] #3014 closed, assigned to donatello

[2016-10-25 00:58] harshavardhana opened #3080 "[distributed] Higher allocations found in master branch v/s release branch for the same codepath"
## Expected Behavior

Comparable allocations should be present v/s release branch.

## Current Behavior

Significantly higher allocations for larger objects.

[code]
## Possible Solution

There is no possible right now

## Steps to Reproduce (for bugs)

`go test -run=NONE -bench Bench.*FS`
## Context

Higher allocations can lead to slugging code path, hot spots and overall memory usage.

[2016-10-25 01:04] harshavardhana opened #3081 "[distributed] Benchmark utils not working anymore in master branch."
## Expected Behavior

Benchmarks should execute properly and not fail.

## Current Behavior

Fails with nil deferencing issues.

[2016-10-25 01:40] GarimaKapoor commented on #3062
@balamurugana please update the timeline for the fix.

[2016-10-25 01:45] #3081 closed, assigned to harshavardhana

[2016-10-25 01:50] GarimaKapoor commented on #3060
@donatello please update the timeline for the fix.

[2016-10-25 01:50] GarimaKapoor commented on #3061
@donatello please update the timeline for the fix.

[2016-10-25 01:51] GarimaKapoor commented on #3064
@krisis will you be able to finish it before leaving?

[2016-10-25 01:51] GarimaKapoor commented on #3067
@donatello please update the timeline for the fix.

[2016-10-25 01:52] GarimaKapoor commented on #3070
@balamurugana please update the timeline for the fix.

[2016-10-25 01:52] GarimaKapoor commented on #3052
@donatello please update the timeline for the fix.

[2016-10-25 01:54] GarimaKapoor commented on #2987
@harshavardhana does it make sense to move it out of distributed then?

[2016-10-25 01:54] GarimaKapoor commented on #2963
@krishnasrinivas were you able to reproduce the issue.

[2016-10-25 02:25] krisis commented on #3064
I don't think it will be possible. I will be working on #3020 next. Let me know if this is of higher priority.

[2016-10-25 02:30] harshavardhana commented on #2963
Server have been updated to latest we should validate this again.

[2016-10-25 02:31] harshavardhana commented on #2987
Yes @GarimaKapoor moving it out.

[2016-10-25 02:52] #2979 closed, assigned to donatello

[2016-10-25 04:30] krisis commented on #3020
@harshavardhana I shall start with adding TLS based tests in `server_test.go`. The following is how I plan to do it.
-  Have a self-signed ceritficate, `.pem` and `.key` files, under `test-data/`.
-  Add a test utility function that starts a http server with TLS configured.
-  Add a subset of tests from `server_test.go` to execute on the http server with TLS configured.

Is this along the lines of

[2016-10-25 04:35] harshavardhana commented on #3020
Yes :+1: looks good.

[2016-10-25 05:53] harshavardhana commented on #3064
@hackintoshrao stole it.

[2016-10-25 06:06] fwessels commented on #2985
After upgrading to golang 1.7.3 have not seen this happen anymore.
So I think we can close the issue.

[2016-10-25 06:06] #2985 closed, assigned to vadmeste

[2016-10-25 07:42] Shark commented on #3056
@harshavardhana sticking to the latest version should be ok for most people, but we're versioning the images ourselves and want repeatable builds. If the latest build is available as /minio, then the /minio.RELEASE.2016-10-22T00-50-41Z could be put into /archives/minio.RELEASE.2016-10-22T00-50-41Z right away, or am I wrong? This would allow us to stick to a specific version while others could alwa

[2016-10-25 08:05] harshavardhana commented on #3056
@Shark can you give more details on how the images are built can help you point to a cleaner solution here?  for example you can see how - https://github.com/Homebrew/homebrew-core/blob/06e9168deab3809363a53ada1617f61e137e3a18/Formula/minio.rb is achieved in the same context.  A pld-linux version for RPM spec is here https://github.com/pld-linux/minio/blob/master/minio.spec

[2016-10-25 09:47] Shark commented on #3056
@harshavardhana ok, as far as I understand it, Homebrew builds Minio from source and then host the resulting bottle on their own. And I think that's okay, because they have to maintain a hosting service for the binaries anyway.

We're using [Packer](https://www.packer.io/) to build our images. During the build we download the Minio binary. Our images use a semver-like versioning scheme. For exampl

[2016-10-25 09:54] krishnasrinivas commented on #3057
fixed by 35e541e0b10836067dabf1c8f1b7b77677461cb7

[2016-10-25 09:54] #3057 closed, assigned to krishnasrinivas

[2016-10-25 10:03] krishnasrinivas commented on #2963
This is not reproducible anymore, maybe it was side effect of something else.

[2016-10-25 10:03] #2963 closed, assigned to krishnasrinivas

[2016-10-25 12:29] krisis commented on #2860
- Ran minio-py based script on a single-node XL setup successfully.

@harshavardhana I have tested that single-node XL setup with the tests mentioned in the above comments. All tests pass after we fixed the issues that were found in the process. This issue can be closed.

[2016-10-25 13:14] maxd opened #3084 "[doc/faq] HEAD /<bucket>/<directory>/ (with / at the end) return 400 Bad Request"
I want to use Minio for store checkpoints of Apache Flink. When I run Flink it fail with the following error:

[code]

As you can see Minio return 400 for `HEAD /rosing-staging-flink/recovery/blob/` request but the similar request without `/` at the end was processed successfully ([here](https://gist.github.com/maxd/1c52f2082919464b4523cdfe2264470a) full log).

Here debug log of Minio:

[code]

Se

[2016-10-25 14:22] krishnasrinivas commented on #3084
@maxd if we return 400 is it an unrecoverable error for apache flink?
For minio, we do not allow objects whose names ends with `/` (a restriction that comes because we use backend FS to store the objects) hence we return 400 for any request with object name ending with `/`

can we make an exception for GET/HEAD @harshavardhana ?

Also if flink is trying to do HEAD on an object ending with `/` it m

[2016-10-25 15:23] maxd commented on #3084
Yes, this is unrecoverable error for Apache Flink but the root of problem inside Hadoop (Flink use Hadoop HDFS for save/restore states).

Look at [this](https://github.com/apache/hadoop/blob/branch-2.7.3/hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/S3AFileSystem.java#L920) code. As you can see the `hadoop-aws` library in `getFileStatus` method make first request without `/` and i

[2016-10-25 16:06] krishnasrinivas commented on #3084
hadoop-aws-3.0.0-alpha1.jar works with minio: https://github.com/minio/minio/issues/2965
with config:

[code]

let's do this, i have made changes for HEAD and GET to return 404 for objects ending with /

here is the code: https://github.com/krishnasrinivas/minio/commit/cae218f9f38c537c1af5352f1feefd68bb40e993

you can download the binary (linux 64bit) from: https://miniocloud.s3.amazonaws.com/3084

[2016-10-25 16:11] krishnasrinivas opened #3085 "Documentation for bucket notification targets configuration"
Currently we have documentation https://docs.minio.io/docs/minio-client-complete-guide#events which only tells how to add/remove/list events.

We don't have documentation on how to configure targets and it's various parameters needed in the config.json i.e:

[code]

[2016-10-25 16:12] #2860 closed, assigned to krisis

[2016-10-25 16:13] harshavardhana commented on #3085
Closed duplicate of #2286

[2016-10-25 16:13] #3085 closed, assigned to nobody

[2016-10-25 16:51] harshavardhana commented on #3056
This is a better suggestion. Just did this and every release will have a similar style. Please confirm if it working for you.

[2016-10-25 17:10] Shark commented on #3056
@harshavardhana thanks, that's perfect. Would love to see the same for `mc`. Keep up the great work!

[2016-10-25 17:10] #3056 closed, assigned to koolhead17

[2016-10-25 18:05] harshavardhana commented on #3056
@Shark even mc is going to do the same.

[2016-10-25 18:15] vadmeste opened #3086 "[distributed] feature: show connected/not connected disks in initialization process"
## Expected Behavior

It would be good to show disks connection information in init process so users can spot quickly connections problems between servers
## Current Behavior

No information about connection problems with remote disks
## Possible Solution
## Steps to Reproduce (for bugs)
## Context

User already having a network problem but minio is not signaling it
## Your Environment

Any enviro

[2016-10-25 18:31] donatello commented on #3052
@GarimaKapoor I am going to take up this one (and #3022 which is related) after #3073 (which I am going to take up today) and #3044 (which is a newish bug). So it looks like it may take up to 28th Oct.

[2016-10-25 18:33] donatello commented on #3060
@GarimaKapoor After #3052, I'll take up the 3 unit test issues. So perhaps 1-2 Nov for these 3 (i.e. this one and #3061 and #3067) issues.

[2016-10-25 19:20] koolhead17 opened #3087 "Minio should provide details about configuration file details on console after it is started."
Minio currently prints message below on console.

[code]

It should additionally provide information about configuration file location by adding it with the console output above.  `Created minio configuration file successfully at ~/.minio/config.json`

[2016-10-25 21:45] GarimaKapoor commented on #3070
@balamurugana any updates on the timeline of the fix.

[2016-10-25 21:46] GarimaKapoor commented on #3068
@balamurugana please update the timeline for the fix.

[2016-10-25 21:48] GarimaKapoor commented on #3058
@fwessels please update the timeline for the fix.

[2016-10-25 21:48] GarimaKapoor commented on #3031
@vadmeste please update the status of this issue.

[2016-10-25 21:50] GarimaKapoor commented on #3071
cc'ing @abperiasamy

[2016-10-25 23:05] harshavardhana opened #3090 "[distributed] Deprecate the current minio distributed syntax and default to URI style approach only."
## Expected Behavior

[code]

There are not other special syntax's here for distributed setup we are explicitly asking for HTTP or HTTPs.

This syntax also supports passing accesskey and secretkey through URI.

## Current Behavior

We support following syntax

[code]

http or otherwise is inferred from certs configuration.

## Context

Due to inconsistent UI we need to fix this before the release.

[2016-10-25 23:44] harshavardhana opened #3091 "[distributed] Controller should take URI friendly format with env in URI as well"
## Expected Behavior

The expected behavior is that

[code]

Should be allowed to make it consistent with server command line syntax #3090

## Current Behavior

Current behavior asks for explicit ENVs before running controller command.

[2016-10-26 05:57] hackintoshrao opened #3094 "Performance: Slow Download speed of object from Minio browser on Windows."
As reported by @zorenleolumosbog  on Gitter,

Need to investigate and validate  this on windows.

[2016-10-26 07:52] donatello opened #3095 "feature: Add support for custom REST HTTP(S) endpoint notifications"
## Expected Behavior

Minio could send bucket event notifications to a custom user-defined REST web-server endpoint. The endpoint would get requests from Minio in a fixed format (say a particular JSON-encoded structure) whenever events occur in the bucket. This let's a user define a custom service for receiving bucket notifications.
## Current Behavior

It is currently not possible to do this, but

[2016-10-26 09:06] #3069 closed, assigned to krisis

[2016-10-26 09:10] harshavardhana commented on #3095
Kafka support takes priority over some custom REST endpoint, moving this future and low priority for now.

[2016-10-26 09:13] vadmeste opened #3097 "docs: document using s3fs, drupal with Minio"
@illmatix reported problem with uploading files to Minio using drupal + s3fs

[2016-10-26 09:14] vadmeste commented on #3031
@krisis, did you try with 16 disks ?

@GarimaKapoor, waiting for @krisis answer.. wasn't able to reproduce this bug.

[2016-10-26 09:28] dcharbonnier opened #3098 "[distributed] document distributed minio server in k8s"
Running 4 servers (scaleway), those servers have 2 interface, one public, one private.
The public IP of the server is not directly assigned to to server but routed, anyway I'm using the private network so it should not have an influence.

I start a minio container on each server and expose **publicly** the port 9000, **no swarm, no docker network**.
From inside each container I can curl all the ot

[2016-10-26 09:30] #3020 closed, assigned to krisis

[2016-10-26 09:50] dcharbonnier commented on #3098
It's working if you add the option --net=host but it's still a problem

[2016-10-26 11:05] krisis commented on #3031
@vadmeste I couldn't reproduce the bug with 16 disks docker-compose based setup.

[2016-10-26 13:20] vadmeste commented on #3097
I was unable to make it work for the moment.

s3fs: 7.x-2.6  supports custom endpoint but without activating path style
s3fs: 7.x-3.0-alpha  and 7.x-3.0-dev have bugs in custom endpoints, also no indication for path style flag

[2016-10-26 15:03] dcharbonnier opened #3102 "[distributed] Replacing a server on a cluster"
Replacing a server (IP change) in a cluster should be possible.
I used names instead of ip and restarted a machine (the ip change on restart).
The machine with the same name (dns resolution is correct) can't re-join the cluster.
The cluster is dead, the only solution is to copy on a new cluster and destroy this one.

Ideally it should even be possible to change the ips without a restart and not to

[2016-10-26 15:13] krishnasrinivas commented on #3102
If dc00aebd-e010-44ce-b5f1-baee80ff60b1.priv.cloud.scaleway.com is pointing to the new IP then minio should handle this transparently, we'll check.

[2016-10-26 15:31] dcharbonnier commented on #3102
retrying to start it now succeed so it may be a problem of dns cache somewhere this solution is not elegant but at least it works

[2016-10-26 15:45] dcharbonnier commented on #3102
it started but the rpc return :

[code]

or the rpc is wrong or something is still failing

[2016-10-26 15:46] harshavardhana commented on #3031
Closing the issue for now.

[2016-10-26 15:46] #3031 closed, assigned to vadmeste

[2016-10-26 15:48] dcharbonnier commented on #3102
restarting again I got
Data volume requires HEALING. Please run the following command:
`MINIO_ACCESS_KEY=xxx MINIO_SECRET_KEY=xxx minio control heal http://10.2.219.147:9000`

[2016-10-26 16:07] krishnasrinivas commented on #3102
@dcharbonnier was any of the backend disk changed? with the new IP did it also get a new backend disk? In which case you have to run the specified heal command

[2016-10-26 16:22] dcharbonnier commented on #3102
yes, the disk was erased, the heal command did nothing after more than 30 minutes

[code]

[2016-10-26 16:24] krishnasrinivas opened #3103 "handlers: checks in checkPostPolicy should be more exhaustive"
Found this during code review.

Here is the checkPostPolicy function:

[code]

i.e it checks expiration, bucket, key, x-amz-date, content-type.

But it needs to be more exhaustive and check all policy fields as mentioned here:
http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolicy.html

[2016-10-26 16:38] krishnasrinivas commented on #3094
Download is very slow, reason not known yet. Would not be surprised if it is because of open/close in append file.

Upload slowness behavior: https://github.com/minio/minio/issues/2987

[2016-10-26 16:39] krishnasrinivas commented on #3059
Added few testcases in https://github.com/minio/minio/pull/3104.

More will be added after fixing https://github.com/minio/minio/issues/3103

[2016-10-26 16:54] dcharbonnier commented on #3102
it came back but it took a very long time and the bucket contain a 200Mo file only

[2016-10-26 17:28] dcharbonnier opened #3105 "[distributed] Add missing implemented APIs to browser docs"
https://github.com/minio/minio/tree/master/docs/browser StorageInfo is missing

return

[code]

[2016-10-26 17:29] krishnasrinivas commented on #3066
@harshavardhana can you keep this open till https://github.com/minio/minio/issues/3103 is fixed, will send in more testcases after that is fixed.

[2016-10-26 17:32] harshavardhana commented on #3102
Reopened for further investigation.

[2016-10-26 17:36] harshavardhana commented on #3066
Only mention the github issue next time in the PR,  if you say "fixes" then it would auto close the github issue.

[2016-10-26 17:37] harshavardhana commented on #3094
How does AppendFile affect while downloading?

[2016-10-26 17:40] vadmeste commented on #3094
Just a reminder, Antivirus in Windows is a real performance killer when operations are related to writing/reading, you have to disable it if there is one.

[2016-10-26 17:41] harshavardhana commented on #3094
Oh?

[2016-10-26 17:43] krishnasrinivas commented on #3094
I remember your experience with antivirus and renames ... i had tested with anti-virus disabled

[2016-10-26 18:42] harshavardhana commented on #3094
There is a bug here while trying to download from server, i am just downloading 60MB file.

![windows-issue](https://cloud.githubusercontent.com/assets/622699/19739788/2e88c9b2-9b71-11e6-96b2-e18c9e4c1d91.png)

[2016-10-26 19:53] illmatix commented on #3097
Anis,

Thanks for the review. that seems to be the position i was able to get to.
I didn't realize there was some sort of path style flag though.

On Wed, Oct 26, 2016 at 7:20 AM, Anis Elleuch notifications@github.com
wrote:

[2016-10-26 21:57] vadmeste commented on #3091
Can we fetch access/secret keys in URL, then in ENV then in config file ?

[2016-10-26 22:08] harshavardhana commented on #3091
Yes preference is URL, ENV and then config file.

[2016-10-26 22:27] harshavardhana commented on #3094
Did some testing on Windows 10 locally both master and release branch.  Results are correct the error on AWS instance seems like some serious problems with the instance itself.

![os details](https://cloud.githubusercontent.com/assets/622699/19747445/86c5af18-9b90-11e6-949e-3b4e766bbc7e.png)
![uploading-1 4gb](https://cloud.githubusercontent.com/assets/622699/19747443/86c0ad56-9b90-11e6-9bda-6717c

[2016-10-26 22:28] harshavardhana commented on #3094
Surprisingly even the upload problem is not visible reported by @krishnasrinivas - we should validate further. Note that anti-virus (file-system shield) was completely disabled on my setup.

Takes around a 1minute 10secs to upload 1.4GB of ubuntu 16.04 image.

[2016-10-27 01:44] #3087 closed, assigned to vadmeste

[2016-10-27 03:13] #3052 closed, assigned to donatello

[2016-10-27 03:54] krishnasrinivas commented on #3094
@harshavardhana did the local win-10 have SSD or HDD?

[2016-10-27 05:46] harshavardhana commented on #3094
It is an SSD but it shouldnt make a difference so drastic.  Talking about downloads here. Not uploads.

[2016-10-27 05:52] harshavardhana commented on #3091
@vadmeste in your patch documentation is missing regarding the aforementioned change. Can you add that ? Once done we can close this bug.

[2016-10-27 05:56] harshavardhana commented on #3086
Fuxed by #3107

[2016-10-27 05:56] #3086 closed, assigned to vadmeste

[2016-10-27 10:30] #3090 closed, assigned to harshavardhana

[2016-10-27 10:45] krishnasrinivas commented on #3094
just verified on HDD win-10, download was fast.

[2016-10-27 12:21] krisis opened #3110 "Concurrent multipart-upload of objects using minio-py SDK fails with NoSuchUpload"
Uploading object of size 65MB concurrently using minio-py SDK and `xargs` fails with NoSuchUpload error intermittently.
## Expected Behavior

Upload of objects should succeed without errors.
## Current Behavior

Multipart upload fails with the following error intermittently.
`upload failure - got error: ResponseError: code: NoSuchUpload`
## Possible Solution

## Steps to Reproduce (for bugs)

1. `

[2016-10-27 12:39] krisis opened #3111 "[distributed] Bringing minio server instance down/up leads to intermittent panic"
In a docker-compose setup of 4 nodes (1 disk each), when uploading objects of size 65MB (multipart) using minio-py SDK, one docker instance was brought down for a brief period of time.
At this point we saw panic traces in the docker instance that was brought down and back up again.
## Expected Behavior

No panics should be observed when nodes are brought down and back up.
## Current Behavior

[cod

[2016-10-27 14:53] krishnasrinivas opened #3112 "[distributed] Check argument syntax before doing anything else"
If an unrecognized argument syntax is presented we should print error, help and exit.
## Expected Behavior

For ex.

[code]

We should error out for this.

## Current Behavior

Right now we start one minio process with all disks as local disks.

[2016-10-27 15:10] krishnasrinivas commented on #3112
I am working on this.

[2016-10-27 16:01] harshavardhana commented on #3110
Looks like this is what @donatello fixed recently?

[2016-10-27 16:46] donatello commented on #3110
If this happens during concurrent uploads it is not a bug. When complete-multipart-uploads race on the same uploadid one completes and the other gets this error code. It is reasonable.

[2016-10-27 19:43] bwerthmann opened #3116 "multi-part uploads fail with "Unable to create object part.""
## Expected Behavior

Multipart uploads should not fail in this config.
## Current Behavior

Multipart uploads fail in this config. Minio-go returns `The specified key does not exist.`.
## Steps to Reproduce (for bugs)
1. Create 3 replica gluster volume
2. On each node, mount gluster volume via FUSE.
3. On each node, launch a Minio instance on the Gluster Fuse Volume.
4. On three different nodes,

[2016-10-27 20:27] krishnasrinivas commented on #3116
i see these two lines in logs:

[code]

here 172.27.20.102:9000 and 172.27.20.114:9000 are minio servers

What is happening is, the upload is multipart-upload, i.e it uploads part by part and then in the end concatenation happens in the end. For the same object name parts are getting uploaded to different servers, this will cause race.

[2016-10-27 21:00] sadysnaat opened #3117 "How to use paperclip with Minio?"
When used with paperclip, getting this error

Aws::S3::Errors::InvalidAccessKeyId in BooksController#create
The AWS Access Key Id you provided does not exist in our records.
# Environment

Code with which we can reproduce the error
[Rails Project link](https://github.com/sadysnaat/estuk/tree/minio-paperclip)

I am using dotenv-rails gem for env variables.

I am running a minio server from docker i

[2016-10-28 01:11] harshavardhana commented on #3117
After some good amount of testing finally arrived at a right configuration which works in your situation.

Purposefully hard-coded the value but you can pick them up from dotenv style as well.

[code]

I just used play our public server.  You can change the IPs and protocol depending on your needs.

[2016-10-28 01:13] harshavardhana commented on #3116
Closing this since this is not a bug but a behavior to be expected when sharing same backend with multiple minio servers writing concurrently.

[2016-10-28 01:13] #3116 closed, assigned to koolhead17, krishnasrinivas

[2016-10-28 01:17] harshavardhana commented on #3091
Fixed by #3115

[2016-10-28 01:17] #3091 closed, assigned to vadmeste

[2016-10-28 01:18] harshavardhana commented on #3094
This is not reproducible even on a new aws instance anymore. Closing if reproducible again we will re-open.

[2016-10-28 01:18] #3094 closed, assigned to krishnasrinivas

[2016-10-28 01:40] krisis commented on #3110
@donatello yeah, that makes sense. I verified that the contents of the objects uploaded are intact. We can close this issue.

[2016-10-28 01:41] harshavardhana commented on #3110
Closing.

[2016-10-28 01:41] #3110 closed, assigned to donatello

[2016-10-28 01:43] harshavardhana commented on #3073
This is not valid anymore closing. @donatello open a relevant bug which doesn't talk about generation id.

[2016-10-28 01:43] #3073 closed, assigned to donatello

[2016-10-28 01:44] harshavardhana commented on #3044
ping @vadmeste is this reproducible with latest master?

[2016-10-28 05:40] olalonde opened #3118 "[fs] atomic completeMulipartUpload on AUFS/Overlay filesystem?"
I have tests which use [aws-sdk-js](https://github.com/aws/aws-sdk-js) and minio/minio (latest version) running in docker (Docker for Mac). Here's my docker-compose.yml file:

[code]

One of my tests, completes a multipart upload, waits for that request to complete and immediately tries to download the file. Most of the time, this works fine but sometimes I get the following error when downloading

[2016-10-28 05:45] olalonde commented on #3118
I haven't been able to reproduce the issue when running minio locally on OS X (not on Docker) so far. But it's hard to tell because it looks like a race issue and even on Docker I'm not always seeing that error.

[2016-10-28 05:47] olalonde commented on #3118
From http://aufs.sourceforge.net/aufs.html

[2016-10-28 06:19] harshavardhana commented on #3118
Thanks @olalonde

[2016-10-28 06:21] krishnasrinivas commented on #3118
@olalonde does minio print any logs related to this?
Also can you check if mounting host directory in to the container's /export fixes the problem? (mostly it does, like you said it is mostly an aufs related issue, mostly rename)

[2016-10-28 09:12] vadmeste commented on #3044
Well, the latest master doesn't work with both export directories attached to this issue:

All instances quit with the first export directories:
`minio3_1   | time="2016-10-28T08:54:55Z" level=fatal msg="Unable to load all bucket policies." cause="Storage resources are insufficient for the read operation." location="newObjectLayer [routers.go:70]`

Instances work with the second export directories

[2016-10-28 12:05] koolhead17 commented on #2793
Hello @sreitshamer I was trying Arq Version 5.5.1 (5.5.1) on OS X but caught up with this issue, I am using s3 v4 authentication.
![3](https://cloud.githubusercontent.com/assets/41746/19804459/4f1c1bea-9cc3-11e6-89a1-88a6aed30329.png)

Thanks.

[2016-10-28 12:14] krishnasrinivas opened #3120 ""minio server export" does not work on windows"
On windows:

[code]
## Expected Behavior

Should have started the minio server
## Current Behavior

## Your Environment

Windows 10

[2016-10-28 14:15] ghost opened #3121 "[distributed] Single deletion succeeds, bulk deletion fails with SignatureDoesNotMatch"
I'm running a Java (1.8) application on my Mac using the AWS Java SDK (build 1.11.36) to perform single and bulk deletes of files in a single bucket in a dockerized Minio server (Release-Tag: RELEASE.2016-09-11T17-42-18Z). My single deletes work but the bulk deletes don't (they fail with a "signature mismatch" error).

Any help would be appreciated.

The Java snippet (keys is a string array with t

[2016-10-28 15:41] harshavardhana commented on #2751
Closing this. Captured in FAQs.

[2016-10-28 15:41] #2751 closed, assigned to koolhead17, krishnasrinivas

[2016-10-28 15:45] #3112 closed, assigned to krishnasrinivas

[2016-10-28 15:47] harshavardhana commented on #3121
Can you paste a sample program @caiomoritz ?

[2016-10-28 18:01] harshavardhana commented on #3071
Since we decided to not do it for now, closing this issue for now. We can re-open again as needed.

[2016-10-28 18:23] harshavardhana commented on #3071
Reopening we will test this out after distributed release. Moving this out of distributed milestone.

[2016-10-28 18:38] harshavardhana commented on #3117
Fixed via - https://github.com/minio/cookbook/pull/107

[2016-10-28 18:38] #3117 closed, assigned to koolhead17, harshavardhana

[2016-10-28 19:25] donatello opened #3123 "[distributed] Fix reading uploads.json behavior in multipart uploads"
## Expected Behavior

Reading and updating uploads.json needs a quorum notion to avoid reading stale data.
## Current Behavior

Currently we are using the version from the first disk on which we successfully read the file. This can lead to stale information. (same as from #3073 )
## Context

Working on a new approach without backend format changes and better than the approach in #3093

[2016-10-28 19:29] fwessels commented on #3071
Good, let's discuss after distributed release.

[2016-10-28 20:08] #3120 closed, assigned to krishnasrinivas

[2016-10-28 20:50] cvvs commented on #1157
So you don't support bucketname.domain.tld in minio for buckets?

[2016-10-28 20:57] harshavardhana commented on #1157
No we don't

[2016-10-28 21:05] cvvs commented on #1157
Unfortunate.

[2016-10-28 22:09] harshavardhana commented on #1157
It is possible to make it work but requires another DNS service as well along with Minio, we decided that it is not worth complicating Minio server deployment for this purpose alone.

[2016-10-28 22:12] cvvs commented on #1157
I'm not familiar with any org who doesn't use DNS, but it's your call.
Thanks for the response.
On Fri, Oct 28, 2016 at 16:10 Harshavardhana notifications@github.com
wrote:

[2016-10-29 06:02] krishnasrinivas opened #3125 "logging: errorIf and fatalIf printing incorrectly formatted caller locations."
[code]

`location=serverMain [/home/krishna/gocodeserver-main.go:400]` is incorrectly formatted.
## Expected Behavior

`location= [server-main.go:400:serverMain()]` looks better

I am fixing this.

[2016-10-29 09:34] harshavardhana commented on #3125
Fixed by #3127

[2016-10-29 09:34] #3125 closed, assigned to krishnasrinivas

[2016-10-29 09:40] harshavardhana commented on #3028
ping @hackintoshrao is this an issue still - you said it works fine now?

[2016-10-29 09:41] harshavardhana commented on #3044
Yes please try from scratch @vadmeste - did you do anything to the cluster set to reach this stage?

[2016-10-29 09:41] harshavardhana commented on #3044
Any particular operation that you performed?

[2016-10-29 09:42] harshavardhana commented on #2987
This issue is already fixed in master.

[2016-10-29 09:42] #2987 closed, assigned to krishnasrinivas

[2016-10-29 09:42] harshavardhana commented on #2973
This is not reproducible anymore. Closing.

[2016-10-29 09:42] #2973 closed, assigned to vadmeste

[2016-10-29 09:43] harshavardhana commented on #2878
To be fixed by #2991 - closing this issue.

[2016-10-29 09:43] #2878 closed, assigned to donatello

[2016-10-29 09:45] harshavardhana commented on #2832
This is already fixed by @MikeRalphson in master. Closing.

[2016-10-29 09:45] #2832 closed, assigned to nobody

[2016-10-29 09:50] harshavardhana commented on #2986
Duplicate of https://github.com/minio/minio/issues/2386 , to be fixed by https://github.com/minio/minio/pull/3126

[2016-10-29 09:50] #2986 closed, assigned to harshavardhana

[2016-10-29 09:52] harshavardhana commented on #2748
This issue seems to be reproducible.  Will verify what is going on.

[2016-10-29 19:45] harshavardhana commented on #2194
Fixed by #3032

[2016-10-29 19:45] #2194 closed, assigned to vadmeste

[2016-10-29 20:37] vadmeste commented on #3111
I am taking this

[2016-10-30 08:33] krishnasrinivas commented on #3118
@olalonde can you post your test script here?

[2016-10-30 12:06] vadmeste opened #3129 "[distributed] Cannot list incomplete uploads or reupload an object"
## Expected Behavior

To be able to list incomplete uploads and re-upload an object
## Current Behavior

Not able to list incomplete uploads and reupload an object

[code]

[code]
## Steps to Reproduce (for bugs)

Shutdown one minio instance in the middle of parallel object uploads of 128 mb (not sure concretely how to reproduce this)

I've attached the export directories to this issue, you can no

[2016-10-30 16:27] #3123 closed, assigned to donatello

[2016-10-30 16:28] harshavardhana commented on #3129
Merged a patch #3124 on a related note can you validate this scenario again? @vadmeste

[2016-10-30 17:33] harshavardhana commented on #3044
Were you able to reproduce this @vadmeste ?

[2016-10-30 17:36] harshavardhana commented on #3098
// cc @vadmeste

[2016-10-30 18:08] vadmeste commented on #3044
This is hard to reproduce or fixed, I think it is safe to close it for now.

[2016-10-30 18:09] harshavardhana commented on #3044
Closing..will re-open as new bug if seen again. Thanks @vadmeste

[2016-10-30 18:09] #3044 closed, assigned to donatello

[2016-10-30 18:22] vadmeste commented on #3111
A manual panic()  call in the code was executed, but wasn't able to reproduce it.

[2016-10-30 19:34] vadmeste commented on #3111
wouldn't it be better if we just return a meaningful error here instead of a panic ?

[2016-10-30 19:37] harshavardhana commented on #3111
It is better but we need to investigate why this happens first.

[2016-10-30 19:42] harshavardhana opened #3130 "Running minio with --address chooses that to the API endpoint."
## Expected Behavior

--address shouldn't be defaulted to be the API endpoint instead it should be a resolvable address or a publicly accessible IP associated with that DNS.

## Current Behavior

Current behavior points to a DNS entry which might not be accessible from outside world.

[code]

## Possible Solution

We resolve the DNS perhaps to its actual IP in this case so that to assume that it i

[2016-10-30 21:22] vadmeste opened #3131 "[distributed] Add file allocation (fallocate) support for Windows"
By using SetFilePointerEx() followed by SetEndOfFile()

[2016-10-31 00:01] olalonde commented on #3118
My test script does a bunch of other things, but I'll try to see if I can reproduce with something more simple

[2016-10-31 00:09] olalonde commented on #3118
If you git clone https://github.com/blockai/s3-tus-store/, run `npm install; docker-compose up -d` and then run `while 1; do npm test && sleep 1; done;`, you should see the error after a couple of times:

[code]

`DEBUG=s3-tus-store:* npm test` should give a bit more verbose output.

Unfortunately, it will not fail every time and it's hard to tell what's going on because the actual test code is in

[2016-10-31 01:04] harshavardhana commented on #2926
Was able to reproduce this problem with current master

[code]

[2016-10-31 02:21] hackintoshrao commented on #3028
This works good now. The issue was due to a typo in the systemd script.

[2016-10-31 02:21] #3028 closed, assigned to harshavardhana

[2016-10-31 04:44] harshavardhana opened #3133 "[distributed] BenchmarkListObjects fails to run"
[code]
## Expected Behavior
Benchmarks should run fine.

## Current Behavior
Benchmarks do not run or skip few of them.

## Possible Solution
Any backend format needed should be initialized properly before the tests are run.

## Steps to Reproduce (for bugs)

Just run
[code]

## Context
The problem is a blocker for our ongoing effort in getting benchmarking automation in place.

[2016-10-31 09:21] vadmeste commented on #2926
Were you able to see this under Linux @harshavardhana  ?

[2016-10-31 09:23] harshavardhana commented on #2926
Yes it is Ubuntu 16.04

[2016-10-31 10:33] dcharbonnier commented on #3098
the solution of putting the --net-host is not applicable for a swarm so it's still an issue and the net=host a 'temporary' solution

[2016-10-31 10:37] vadmeste commented on #3098
Can you show us how you are running your docker instances? like are you running manually one docker instance in each of your server ?

[2016-10-31 13:04] dcharbonnier commented on #3098
@vadmeste https://github.com/dcharbonnier/minio/tree/master/terraform/scaleway-distributed

[2016-10-31 15:03] vadmeste opened #3137 "fs: uploading the same object in a loop will fill the disk"
some files are not cleaned under tmp/

```while true; do mc cp 70mb myminio/testbucket/ ; done```

[2016-10-31 15:19] vadmeste commented on #3137
Looks like the reason is that we don't remove the tmp file of append on-the-fly when this latter is not used.

[2016-10-31 15:27] krishnasrinivas opened #3138 "[fs] bucket policy does not work on windows"
## Steps to Reproduce (for bugs)
1. mc policy both myminio/testbucket
2. `curl http://localhost:9000/testbucket/obj` gives Access denied.

## Your Environment
Windows 10

[2016-10-31 15:50] hackintoshrao commented on #3133
Fixing this.

[2016-10-31 16:21] ghost commented on #3121
Hi again,

I have attached a fully working Gradle project.

Before running the project (`MinioBulkDeleteApplication.java` is the entry point and only Java file) please set up a bucket like the following:

[code]

After running the program, this is the expected output:

[code]

This is the actual output:

[code]

Logging output is on. You'll see something like the following:

[code]

[minio-bulk-de

[2016-10-31 17:39] harshavardhana opened #3141 "[distributed] Server should print the full path provided on CLI instead of local posix"
## Expected Behavior
[code]
Output should be

[code]

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

Just start minio in distributed mode.

## Context
This is an inconsistent behavior.

## Your Environment
Latest master.

[2016-10-31 17:52] vadmeste commented on #2926
I found this bug only in FS. Something related to the fact that appendParts() is running in a goroutine but failed to reproduce with XL, @harshavardhana do you remember if you saw this in FS too ?

[2016-10-31 18:01] harshavardhana commented on #2926
yes it is FS @vadmeste

[2016-10-31 18:40] donatello commented on #3060
This can be closed - the function has moved to `object-multipart-common.go` and is covered fully except for some rare error cases. https://codecov.io/gh/minio/minio/src/master/cmd/object-multipart-common.go#L117

[2016-10-31 18:53] harshavardhana commented on #3060
Closing.

[2016-10-31 19:30] harshavardhana commented on #3022
ping @donatello can you fix this there is a related issue to this also now on windows #3138

[2016-10-31 22:33] harshavardhana commented on #3131
There are no good options to use fallocate on Windows after some study all calls are not implemented in what we want from fallocate like feature.

It is not possible to achieve this cleanly, closing this for now.

[2016-10-31 22:33] #3131 closed, assigned to vadmeste

[2016-11-01 05:40] shinji62 opened #3144 "[Distributed] Data directory strange behaviour"
I want to place the data inside /var/vcap/store/minio-server
It's common to mount the volume the directory to the same mounting point for all instance.
As it's easier to automate deployment.

So it seems the directory is create from the script running the command line, in my case from monit script.

[code]

## Expected Behavior
Expected the directory to be the one I give during the start command.

[2016-11-01 07:53] harshavardhana commented on #3144
This syntax is not supported anymore that is why it create a directory with that style instead.  Take a look at the `minio server -h`

[code]

[2016-11-01 07:56] shinji62 commented on #3144
@harshavardhana Thanks for the info, I will try it.
Btw where to you put the port ? using `--address 9000` or just normal `http://192.168.1.11:900/mnt/export/`

[2016-11-01 07:56] #3137 closed, assigned to vadmeste

[2016-11-01 07:58] harshavardhana commented on #3144
Port will be common across all so you can just set it as shown below.

[code]

Same command line to run on all the nodes.

[2016-11-01 08:05] shinji62 commented on #3144
Ok I try that

[code]

Now I get

[code]

[2016-11-01 08:07] harshavardhana commented on #3144
@shinji62 looks like something else clobbering up the CLI args. do you have a sample script which i can use it locally and see what is the issue?

[2016-11-01 08:31] shinji62 commented on #3144
Thanks, it works !
I will give you my project links soon.
Any pages will all options ?

[2016-11-01 08:32] harshavardhana commented on #3144
Largely `minio server -h` for master has the most comprehensive docs, for distributed we are in the process of updating docs.minio.io

[2016-11-01 08:33] #3144 closed, assigned to nobody

[2016-11-01 08:33] harshavardhana commented on #3144
Thanks @shinji62

[2016-11-01 11:58] koolhead17 commented on #3105
@harshavardhana this can be closed via https://github.com/minio/minio/pull/3146

[2016-11-01 12:19] koolhead17 commented on #3118
@harshavardhana  is this is a bug or an aufs limitation that needs to be documented under docker section, please advice.

[2016-11-01 12:33] hackintoshrao commented on #3133
This issue is fixed.

[2016-11-01 14:42] vadmeste commented on #3080
@harshavardhana, there was a regression which executed bench in XL instead of FS. @hackintoshrao just submitted a new PR (thanks!)

This is the new result:

[code]

[2016-11-01 14:46] gregod opened #3148 "[doc] File is wrapped in FormData boundary when using presigned http put in browser"
When uploading using a presigned using form data ajax as described in the [docs
](https://docs.minio.io/docs/upload-files-from-browser-using-pre-signed-urls) the form data metadata is retained in the stored file. Happens in the edge and stable builds.

## Expected Behavior
File is stored as given by the client

## Current Behavior
File is wrapped in the the form data
[code]

## Steps to Reproduce

[2016-11-01 16:32] harshavardhana commented on #3133
Fixed by #3142

[2016-11-01 16:32] #3133 closed, assigned to hackintoshrao

[2016-11-01 16:38] harshavardhana commented on #3148
This is not related to Minio server. Data is being modified here while uploading and server doesnt know that.

Here is a relevant stackoverflow post http://stackoverflow.com/questions/38781909/webkitformboundary-included-in-file-payload-on-direct-upload-to-s3

[2016-11-01 16:40] harshavardhana commented on #3148
Also i see that the documentation is wrong to indicate usage of FormData() we will fix it .

[2016-11-01 16:41] harshavardhana commented on #3118
We need to test and validate. Then document the behavior.

[2016-11-01 17:19] harshavardhana commented on #3121
Ping @vadmeste

[2016-11-01 17:23] harshavardhana commented on #3080
Fixed by #3146

[2016-11-01 17:23] #3080 closed, assigned to vadmeste

[2016-11-01 17:25] harshavardhana commented on #3129
Do you see this behavior anymore. If there is a different symptom can you open another bug @vadmeste ?

[2016-11-01 17:38] vadmeste commented on #3129
This one seems to be fixed but there is another one, I am opening a new bug.

[2016-11-01 17:38] #3129 closed, assigned to harshavardhana

[2016-11-01 17:51] vadmeste opened #3149 "[distributed] Stopping and restarting a node in the middle of a upload *always* returns XMinioWriteQuorum error"
## Expected Behavior
If we have 4 running nodes, stopping and restarting a node during a *multipart* file upload shouldn't prevent that file to be uploaded again

## Current Behavior
Cannot upload by that name anymore, even if I restart all nodes or restart upload.

## Steps to Reproduce (for bugs)
1. Start 4 nodes from fresh disks
2. Upload a 70mb file
3. Stop any container and start it again
4.

[2016-11-01 18:19] vadmeste commented on #3121
@caiomoritz, I've tested your gradle project with the last version of Minio and it worked as expected. file1, file2 and file3 are removed from the server.

Can you try with the last release of Minio ? https://www.minio.io/downloads/

[2016-11-01 18:27] sreitshamer commented on #2793
Hello @koolhead17 I can't reproduce that one. I'm running minio on MacOS 10.12.1. When Arq gets an object listing from the minio server, the LastModified attribute of the items returned looks like '2016-10-28T09:09:00.000Z'. Yours apparently isn't returning the fraction of a second in the response. Is Minio not consistent in returning date strings?

[2016-11-01 18:31] vadmeste commented on #3121
if you are using Minio Docker image, you can update your existing image with: `docker pull minio/minio:latest`

[2016-11-01 18:44] harshavardhana commented on #2793
@betabrain we have fixed this in master branch @koolhead17 can you validate this again?

[2016-11-01 18:55] vadmeste commented on #3138
@krishnasrinivas, I wasn't able to reproduce this with master mc and master windows.

How do you use curl and localhost here? do you have curl under Windows?

[2016-11-01 19:00] krishnasrinivas commented on #3138
yes, curl was available on the windows VM we have on aws. did the access to `http://localhost:9000/testbucket/obj` from browser work fine? i.e without any auth?

[2016-11-01 19:02] vadmeste commented on #3138
yes, with a browser and without authentication.

[2016-11-01 19:07] harshavardhana commented on #3138
I guess we can close this issue, the curl present on PowerShell is different than the regular `curl` available on Linux.

[2016-11-01 19:08] harshavardhana commented on #3138
The issue i saw related to bucket policy not being able to send messages to its peers and not updating the policy.json - https://github.com/minio/minio/issues/3022

[2016-11-01 19:11] vadmeste commented on #3138
oh, I've only tested with FS as the issue title suggested.

[2016-11-01 19:12] krishnasrinivas commented on #3138
this is a minio-fs setup, it's on windows EC2 instance, just checked from browser too, it was getting access denied when the policy is `both` on the bucket.

[2016-11-01 19:17] koolhead17 commented on #2793
@harshavardhana My bad i was not running latest master. It works as desired. We can safely close this.

[2016-11-01 19:24] vadmeste commented on #3138
Can you check your version of minio and mc ? I tested again in my side and it looks fine

![capture-bucket-policy](https://cloud.githubusercontent.com/assets/283197/19903980/fd7fd70c-a070-11e6-942e-ef46eb2b7e13.PNG)

[2016-11-01 19:33] krishnasrinivas commented on #3138
@vadmeste tried with latest minio/mc, still does not work, i might be doing some silly mistake, don't know, will message you the access details on gitter.

[2016-11-01 19:47] kramer65 commented on #1159
We are looking for a self hosted data storage solution similar to S3. Minio seems perfect, but we need to avoid any single points of failure. Therefore, every service we've got, needs to be running on at least two nodes.
I'm not sure what erasure exactly is, but as far as I understand it's a way for a server with multiple drives to still be online if one or more drives fail (please correct me if I

[2016-11-01 19:47] harshavardhana commented on #3138
This is the same problem @krishnasrinivas it is related to bucket policies but it is related to how the "dial" is rejected by the RPC peer when updating policy.

[2016-11-01 19:48] harshavardhana commented on #3138
It is with FS even with FS bucket policy updates send an RPC to itself, this is currently being fixed by @donatello

[2016-11-01 20:04] vadmeste commented on #3138
:+1: , we need to test then with distributed because it seems there is another problem.

[2016-11-01 20:23] harshavardhana commented on #1159
We have a document which explains this - https://docs.minio.io/docs/minio-erasure-code-quickstart-guide

To replicate the data to another data center you should use - https://docs.minio.io/docs/minio-client-complete-guide#mirror

Feel free to join us at https://gitter.im/minio/minio we are happy to help in anyway we can.

[2016-11-01 20:30] maprules1000 opened #3150 "'Internal Error' on 'PUT' with Incorrect Credentials Instead of Authentication Error"
## Expected Behavior

Attempting a 'PUT' with a pre-signed url from a browser that is signed with incorrect Minio access keys should give an authentication error.

## Current Behavior

Attempting a 'PUT' with a pre-signed url signed with incorrect Minio keys gives a generic `Internal Server Error` and takes enabling debugging to see it.

## Steps to Reproduce (for bugs)

1. Fire up your API with i

[2016-11-01 23:19] donatello commented on #3061
This function is covered (ignoring rare error cases). https://codecov.io/gh/minio/minio/src/master/cmd/object-multipart-common.go#L107

Can be closed.

[2016-11-01 23:23] balamurugana opened #3153 "[Distributed] server starts with invalid endpoint arguments"
Starting minio server like below does not fail whereas it continues and waiting for quorum.

[code]

Note: extra `:` before path.

Error in console:
[code]

## Minio version:
Commit ID: 9db2205db38c1c9f404c8d819007671af84c09e8

[2016-11-01 23:28] harshavardhana commented on #3061
Closing.. 80% covered.

[2016-11-01 23:28] #3061 closed, assigned to donatello

[2016-11-01 23:30] balamurugana opened #3154 "[Distributed] minio server does not respond/quit on SIGINT/SIGQUIT/SIGTERM signals."
When minio server is waiting for quorum at startup like below, it does not respond to SIGINT/SIGQUIT/SIGTERM signals.  This causes node waiting too long to reboot/shutdown.

Below is the relevant log.
[code]

Minio version:
Commit ID: 9db2205db38c1c9f404c8d819007671af84c09e8

[2016-11-01 23:34] harshavardhana commented on #3148
@gregod - we fixed and updated the document with relevant way to do this can you check https://docs.minio.io/docs/upload-files-from-browser-using-pre-signed-urls ?

[2016-11-02 00:24] donatello commented on #3060
This was a wrong message. I am working on a test to improve its coverage.

[2016-11-02 03:04] #3060 closed, assigned to donatello

[2016-11-02 06:21] donatello commented on #3149
@vadmeste Need more help with reproducing this one. I've tried the steps given above many times (though with a 480MB file, as i could not restart a container quickly with 70mb, for a local docker setup), but have been unable to reproduce this problem.

[2016-11-02 09:09] vadmeste commented on #3149
The bug is systematic for me using docker-compose and docker stop/start. Ping me in chat for further investigation

[2016-11-02 10:39] ikhmurchik opened #3158 "Put object with user metadata which contains two and more spaces always return exception "SignatureDoesNotMatch""
## Expected Behavior

Object registered into storage with metadata.

## Current Behavior

Always return the same error:
[code]
## Steps to Reproduce (for bugs)

1. Create bucket with name "testbucket"
2. Try put content into Minio object store.

Here is java code sample:
[code]
## Your Environment

Java version: 1.8
Client: com.amazonaws:aws-java-sdk-s3:1.11.11
Minio: Docker latest (the same probl

[2016-11-02 11:10] vadmeste commented on #3158
Looking on this right now.

[2016-11-02 11:41] vadmeste commented on #3158
I confirm this works with AWS S3, this is a bug.

[2016-11-02 12:04] JackTiger opened #3159 "No response when use mc or client-go to connnect to minio server?"
I have find that it I can not get any response when  use mc to connnect to minio server? It seems like it's blocked there, but webui workes fine. At the same time if I refresh the webui, the result is output immediately, I do not know why. This is not always the case, when the service has just started, it is very easy to appear.

[2016-11-02 12:22] koolhead17 commented on #3159
Hello @JackTiger In order to understand the  issue better, please provide us additional details:
-  Where is this machine located? same network/system/outside.
-  Can you execute mc command with `debug`.
- What is the version of `mc` client and `minio` server you are running it against?
-  Can you double check configuration for `mc config host` for this particular alias?

Thanks again for reportin

[2016-11-02 12:31] JackTiger commented on #3159
Hi, @koolhead17 Thanks for high efficiency feedback.
Tomorrow morning, I will give the detail msgs.
I want to test in my home, but my network is low to download the installer of minio, so could you send me some software. I can get it in my Email li1025yuan@126.com?

The detail software is :
minio server - https://dl.minio.io/server/minio/release/windows-386/minio.exe
minio client

and the run env

[2016-11-02 15:51] #3141 closed, assigned to vadmeste

[2016-11-02 16:58] vadmeste commented on #3154
Currently SIGTERM twice will shutdown Minio permaturaly.

For a graceful shutdown, we probably need to broadcast shutdown signal to different modules, (channel with one writer and different readers), we had a generic graceful shutdown mechanism also, we can consider bringing it back again, what do you think?

[2016-11-02 17:06] harshavardhana commented on #3154
Will ping you about this.

[2016-11-02 18:25] harshavardhana opened #3160 "fs: Explore the possibility of bringing in shared locking on distributed disk backends"
## Expected Behavior
Evaluate the possibility of using distributed shared backend but Minio serving only as a S3 gateway.

## Current Behavior
Currently we don't support it cleanly and can have undesired effects/data loss.

## Possible Solution
A way to in-fact use - https://golang.org/src/syscall/flock.go and use this exclusivity . Distributed backends should support SETLK.

## Steps to Reproduce

[2016-11-02 19:21] harshavardhana opened #3161 "ecosystem: Add a caddy plugin to serve static files from Minio server."
## Expected Behavior
Serve static assets for serving `index.html` without the need or S3 API.

## Current Behavior
Cannot serve static assets like web-hosting even after setting buckets as public.

## Possible Solution
Write a new plugin for Caddy which can serve files directly from Minio.

## Context
This affects all deployments where users want to use Minio but want to serve another endpoint whe

[2016-11-02 19:22] harshavardhana commented on #3159
@JackTiger we fixed a major performance issue in minio on the master branch. Can you test that and validate?

[2016-11-02 21:45] #3063 closed, assigned to harshavardhana

[2016-11-02 22:14] harshavardhana commented on #3148
Closing as fixed. Please re-open if the issue is observed again @gregod

[2016-11-02 22:14] #3148 closed, assigned to harshavardhana

[2016-11-02 22:27] #3154 closed, assigned to vadmeste

[2016-11-03 00:13] gregod commented on #3148
Thanks for the quick reply. Works fine! I did try some more complicated aproaches using the FileReader API but somehow missed the easiest solution.

[2016-11-03 00:48] harshavardhana commented on #2748
So finally got a nginx configuration tested , seems to be working fine . Here is the load balanced nginx configuration.

Was able to take down nodes but the browser was properly authenticated all the time and worked transparently.

[code]

Going to close this bug @hernandev - if you happen to reproduce this issue again please re-open this issue.

[2016-11-03 00:48] #2748 closed, assigned to harshavardhana

[2016-11-03 00:51] harshavardhana opened #3164 "[distributed] Ignore the error returned by http.Serve after listener has been closed."
[code]

## Expected Behavior
Listener error like this should not be printed since we are killing the server using CTRL-C.

## Current Behavior
Prints a non-useful error.

## Possible Solution
Ignore the error and let other errors to be printed.

## Steps to Reproduce (for bugs)
Just start server and do some i/o and then CTRL-C the server.

## Context
Unnecessary logging should be avoided

## Your

[2016-11-03 01:35] JackTiger commented on #3159
@harshavardhana @koolhead17

[code]

[2016-11-03 08:11] hackintoshrao opened #3167 "[distributed]: Need better error response after disk is full."
Need Better error response when uploads are attempted after disk is full. This works when server is restarted, it fails with disk full error, but not when the server is operating.
## Expected Behavior

Error message with disk full message.
## Current Behavior

`503 service is Unavailable`.
## Possible Solution

Handle disk full error by responding with a more meaningful error message.
## Steps to

[2016-11-03 08:17] harshavardhana commented on #3167
We already have an error for this purpose

[code]

[2016-11-03 08:17] harshavardhana commented on #3167
Can you paste the XML error response that you see?

[2016-11-03 08:27] harshavardhana opened #3168 "[distributed] If disks are down we are leaving tmp files behind"
[code]

## Expected Behavior
No tmp files should be left behind

## Current Behavior
tmp files are left behind 100s of them.

## Possible Solution

[2016-11-03 08:30] krishnasrinivas commented on #3150
@maprules1000

[code]

i.e a PUT with invalid signature returns 403.

Can you paste this error message?

can you also paste the relevant browser JS code which uploads the file?

[2016-11-03 08:47] hackintoshrao commented on #3167
I used `mc` to upload, below is the error message.

[code]

[2016-11-03 08:50] hackintoshrao commented on #3167
Getting the above error even after Disk cleanup.

[2016-11-03 08:53] krishnasrinivas commented on #3130
this will not add value because if the name resolves to an IP means the host is as accessible using IP as the DNS host name.

If all the servers are on NAT behind a public proxy then still guessing anything will not be helpful.

The setup where it will be helpful is if there is a private network between the servers for internal communication and the servers have a public IP addresses for external

[2016-11-03 08:58] #3105 closed, assigned to koolhead17, krishnasrinivas

[2016-11-03 08:59] harshavardhana commented on #3167
You need provide the XML or more details like '--debug'.

[2016-11-03 09:07] hackintoshrao commented on #3167
Here is the debug log from `mc`, it throwing WriteQuorum error, but all the 8 nodes are up.

[code]

[2016-11-03 09:08] hackintoshrao commented on #3167
^^ Here is the output `service minio status`

[code]

This clearly shows that all the nodes are up and the write Quorum is satisfied.

[2016-11-03 10:19] JackTiger commented on #3159
I find I only use minio-go client, sometimes the question will come up. Should be the same question caused.

[2016-11-03 14:03] hackintoshrao commented on #3167
Will keep the setup to demonstrate the error, will be moving ahead with the test using a fresh directory.

[2016-11-03 15:08] krishnasrinivas commented on #3118
@olalonde i ran `npm test` in a while loop and it consistently ran fine. i ran minio on aufs as well as externally host mapped directory. It ran fine:

[code]

But my test was on ubuntu.

Was there anything parallel that would access minio server?

Is the following error consistent:

[code]

i.e does it always receive only 5177027 when error occurs?

Is there any log on minio server when this erro

[2016-11-03 15:32] ghost commented on #3121
@vadmeste We'll try that, thanks!

[2016-11-03 16:18] hackintoshrao opened #3169 "upload fails with `Specified Multipart doesn't exist during ` round robin chaos test."
Upload of 1GB object using `mc cp` fails when round robin Chaos test is running. It fails with
[code]

Here is the [mc debug log](https://play.minio.io:9000/rao/chaos-upload-fail.txt)

The upload worked fine  before the chaos test was underway.

## Expected Behavior

Not to fail when Round robin chaos test is going on.

## Steps to Reproduce (for bugs)

1. Start Chaos test
[code]
   The setup is r

[2016-11-03 18:27] harshavardhana commented on #3169
ping @vadmeste - this looks like the same issue as you reproduced.

[2016-11-03 18:42] maprules1000 commented on #3150
@krishnasrinivas I just tested it with `curl` and got an internal server error.

[code]

and see this in the minio server console

[code]

[2016-11-03 18:50] olalonde commented on #3118
@krishnasrinivas you have to run the tests for a couple of times before any error happens (nothing else is using minio). I'm not seeing any logs using `docker-compose logs minio`, does minio write logs somewhere on disk?

[2016-11-03 18:54] krishnasrinivas commented on #3118
@olalonde note:

also you can set the "level" to "error" in config.json

[code]

[2016-11-03 18:58] harshavardhana opened #3170 "[distributed] ServerMux races waiting on connections to close and adding new incoming connection states"
[code]

## Expected Behavior
No races seen

## Current Behavior
Races seen

## Possible Solution
Block the accept and change the state of the connections.

## Steps to Reproduce (for bugs)
Occasionally using our go tests.

## Your Environment

Current master.

[2016-11-03 18:59] olalonde commented on #3118
The number isn't consistent:

[code]

[code]

Have you tried running the tests for a couple of minutes? I'm using

[code]

Most of the time there is no error.

![rs](https://cloud.githubusercontent.com/assets/416585/19980912/103c5512-a1bd-11e6-8846-c03add90991d.gif)

[2016-11-03 19:01] olalonde commented on #3118
Where is config.json on the filesystem? I can try to mount it as a volume in docker-compose and edit it.

[2016-11-03 19:03] hackintoshrao commented on #3169
Further attempts to upload the same file after the chaos test is stopped too is failing,

[code]

[Here](https://play.minio.io:9000/rao/chaos-put2.txt) is the mc debug log.

An attempt to upload the same file into a different bucket works.

[code]

[2016-11-03 19:06] krishnasrinivas commented on #3118
[code]

it will be here:
`./test/.minio/config/config.json`

[2016-11-03 19:13] krishnasrinivas commented on #3118
yes

@olalonde can you do this: run https://github.com/krishnasrinivas/httpdump to dump the http requests/responses? you can run `httpdump -l :8000 -f localhost:9000` so that it forwards all the requests that it gets on 8000 to 9000 where minio runs. Your tests will need to set endpoint to `endpoint = 'http://127.0.0.1:8000'`

[2016-11-03 19:15] harshavardhana commented on #3169
This error is wrong

[code]

[2016-11-03 19:18] krishnasrinivas commented on #3118
@olalonde you can download httpdump binary from here https://krisupload.s3.amazonaws.com/public/httpdump

[2016-11-03 19:24] hackintoshrao commented on #3169
@harshavardhana :  I'm getting that error when I'm trying to upload the object which failed during chaos test.

[2016-11-03 19:25] olalonde commented on #3118
Ok, just did: https://gist.github.com/d6b44f3ad4c308d67f68242dc8ea1822

The error happens around here:

[code]

Tested with following command:

[code]

[2016-11-03 19:28] olalonde commented on #3118
If I'm reading the log correctly, Minio closes the HTTP connection too early? (https://gist.github.com/anonymous/5d5d7a83efbaefddda9078e27d04c070#file-gistfile1-txt-L583)

[2016-11-03 19:32] olalonde commented on #3118
I trimmed the log a bit.. Here's the log for the failing test: https://gist.github.com/5d5d7a83efbaefddda9078e27d04c070 and here's one where the test is passing: https://gist.github.com/b463284e27eabf90c08433cfddc88f35

[2016-11-03 19:41] donatello commented on #3169
Yes it's the same issue as #3149. I am able reproduce it. Will work on it.

[2016-11-03 19:55] krishnasrinivas commented on #3118
@olalonde thanks

[2016-11-03 23:41] #3158 closed, assigned to vadmeste

[2016-11-04 05:37] krishnasrinivas opened #3173 "feature: minio statistics"
@gebi 's request : stats on number of requests, number of objects, number of clients connected, number of requests currently in flight, number of storage backend, number of faulty storage backends, a latency histogram of access per backend

[2016-11-04 07:39] harshavardhana commented on #3159
After going through a lot of source code it boils down to one simple situation in our `server-mux.go`

We have a server mux which wraps around net.Conn to provide a transparent way to multiplex TLS, HTTP2 and HTTP1 connections on a single port. This logic itself causes some trouble when using  with Chrome.

Tested on IE and Firefox this issue is not observed.   A sequence of events here a Close()

[2016-11-04 12:21] ghost commented on #3121
We did try locally and I confirm it works with the latest Docker image. Thanks guys!

[2016-11-04 12:21] #3121 closed, assigned to vadmeste

[2016-11-04 12:26] koolhead17 opened #3174 "[feature]: minio event notification in plain text backend"
We have a community request via @JackTiger for providing minio event notification in plain text backend.

We are currently providing event notification to backends Redis, elasticsearch, nats, postgresql.

[2016-11-04 16:21] harshavardhana commented on #3174
There is already ListenBucketNotification which does the same thing, wouldnt that work ?

[2016-11-04 17:27] vadmeste opened #3175 "[distributed] Race detected in TestListenAndServePlain"
Running go test with count=100 detect more possible races:
`go test -run=TestListenAndServePlain -race -count=100`

[code]

## Expected Behavior
No race detected

## Current Behavior
Race detected

## Possible Solution

## Steps to Reproduce (for bugs)
`go test -run=TestListenAndServePlain -race -count=100` inside github.com/minio/minio/cmd/

## Context

## Your Environment
Last master in ubuntu 1

[2016-11-04 18:01] harshavardhana commented on #3175
The bug is in the test itself, the problem is occurring in the way service channel is allocated with in the scope of the test itself.

[2016-11-04 18:06] harshavardhana opened #3176 "[distributed] Using gof3r tool can cause inconsistencies in multipart upload"
[code]

[code]

## Expected Behavior
No races are found.

## Current Behavior
There are races reproduced like this on a common case which we need to fix.

## Possible Solution
Do not have yet.

## Steps to Reproduce (for bugs)
Just run the gof3r tool with a large file.  Attaching it here as well.
[gof3r.gz](https://github.com/minio/minio/files/572316/gof3r.gz)

## Context
There are some important

[2016-11-04 19:14] #3153 closed, assigned to krishnasrinivas

[2016-11-04 19:38] hackintoshrao opened #3178 "[distributed]: Chaos test failure with `mc rm`."
- Chaos test fails to delete the object with `mc rm`. It displays that the object was deleted successfully, but `mc ls` still lists the object.
- Even though `mc ls` lists the object `mc cp` fails to get the object.
## Expected Behavior

- Successful deletion of object using `mc rm`.
- `mc ls` shouldn't list the object after `mc rm`.
-   `If` it lists  `then` it  should be able to possible the fet

[2016-11-04 19:44] harshavardhana commented on #3178
You need to heal the object here were the servers going up and down when this happened? did you have quorum to successfully complete the operation?

Any server errors etc.?

[2016-11-04 19:47] hackintoshrao commented on #3178
Yes.

  Yes. Any given point in time only one of the node was down.

   Will log them and test again.

[2016-11-05 01:43] balamurugana opened #3181 "[browser] Removing object throws "Object not found" for previously deleted object."
## Expected Behavior
It should not throw an error

## Current Behavior
"Object not found" error is shown and "Are you sure want to delete?" modal doesn't disappear.

## Possible Solution
It could be easy to fix at web handler side to not throw this error.

## Steps to Reproduce (for bugs)
1. Open minio browser for a bucket.
2. Remove an existing object using `mc rm`
3. Now try to remove the same o

[2016-11-05 03:32] harshavardhana commented on #3178
Without having some sort of transaction support it is not possible to ignore this object since `mc ls` will still list the object since it lists from only one disks not quorum number of disks.

`mc ls` output shouldn't be considered as the sanctimonious output it is the 'mc cp's behavior which would indicate that object really exists on not.

Now in case of healing can purge dangling entries like

[2016-11-05 05:39] harshavardhana opened #3182 "[distributed] Document distributed XL - TLS based setup"
[code]

Following code can lead to bugs, `tls.Config` should be passed in the initializer from the top level.  Here the strict reliance on `hostname` is wrong for the most part a successfully running HTTPS server might not provide a proper 'hostname' in the first place.

So in case of TLS this always fails.

## Expected Behavior
Works transparently with TLS.

## Current Behavior
Restrictive usage

[2016-11-05 11:26] betabrain commented on #2793
Yes, I am running master with Arq backups for about a week now. I also tested restoring. It works fine, not a single error for a week.

[2016-11-05 11:26] #2793 closed, assigned to koolhead17, harshavardhana

[2016-11-05 13:11] vadmeste commented on #3182
Can you elaborate on this? AFAIK, TLS doesn't properly work when host name is not specified.

[2016-11-05 13:44] krishnasrinivas opened #3183 "[distributed] 503 Service Unavailable during concurrent PUT"
Setup:
6 minio processes on localhost (process per disk setup)
i.e 6 X  `minio server --address localhost:9001 http://localhost:9001/export/sk1 http://localhost:9002/export/disk2 http://localhost:9003/export/disk3 http://localhost:9004/export/disk4 http://localhost:9005/export/disk5 http://localhost:9006/export/disk6`

Had a client script running:
[code]

I was Ctrl-C'ing servers randomly and brin

[2016-11-05 13:49] vadmeste commented on #3183
@krishnasrinivas, this is most likely similar to https://github.com/minio/minio/issues/3149, you can check that by noticing that a multipart upload id exists in disks < write quorum

[2016-11-05 13:58] krishnasrinivas commented on #3183
@vadmeste this is single-put operation, also the uploads started working fine when the 2 servers that were down were brought back up. In https://github.com/minio/minio/issues/3149 I see that you observe `Cannot upload by that name anymore, even if I restart all nodes or restart upload.`

[2016-11-05 14:07] hackintoshrao commented on #3183
@krishnasrinivas , I've witnessed this too.

[2016-11-05 14:09] krishnasrinivas commented on #3183
@hackintoshrao `Cannot upload by that name anymore, even if I restart all nodes or restart upload.` is observed by @vadmeste  in https://github.com/minio/minio/issues/3149, I did not observe it in this issue.

[2016-11-05 15:11] krishnasrinivas opened #3184 "[distributed] PutObject hangs when n/2 disks are down"
## Expected Behavior
PutObject should get 503 when n/2 disks are down

## Current Behavior
PutObject hangs.

## Steps to Reproduce (for bugs)
1. have 4 out of 6 servers up.
2. run the client program (source pasted below)
3. Ctrl-C a server.
4. Client program waits without any timeout

client:
[code]

[2016-11-05 16:43] #3164 closed, assigned to harshavardhana

[2016-11-05 16:43] #3170 closed, assigned to harshavardhana

[2016-11-05 16:53] krishnasrinivas opened #3185 "erasure: Without read or write quorum object layer hangs with no errors to client."
## Expected Behavior
`mc cat` should return error when quorum is not available.
`mc cp` should return error when quorum is not available.

## Current Behavior
`mc cat` hangs.
`mc cp` hangs

## Steps to Reproduce (for bugs)

``mc cat`` hangs
1. Create a 3:3 distributed-XL setup
2. mc cp /etc/passwd myminio/testbucket
3. bringdown 4 servers
4. `mc cat myminio/testbucket/passwd` hangs

``mc cp`` hang

[2016-11-05 17:03] harshavardhana commented on #3185
I think it is expected in distributed Lock right now, may be we can have a canceler timeout once it has attempted enough.  // cc @fwessels

[2016-11-05 17:04] harshavardhana commented on #3184
This is the same scenario as #3185 writeLock is waiting for N/2+1 servers.

A 503 service unavailable only happens during the startup, once the object layer has initialized it never occurs in its lifetime.

[2016-11-05 17:08] harshavardhana commented on #3185
Actually Lock cannot timeout, if it does it would proceed forward. There needs to be a way to actively cancel the ObjectLayer operation and return error when the quorum is not available.  We don't even attempt to lock with this functionality - note it would need to make additional calls to make sure if we have enough quorum even to begin with.

[2016-11-05 17:08] harshavardhana commented on #3184
Actually Lock cannot timeout, if it does it would proceed forward. There needs to be a way to actively cancel the ObjectLayer operation and return error when the quorum is not available. We don't even attempt to lock but this functionality would make additional calls to make sure if we have enough quorum even to begin with.

[2016-11-05 17:08] harshavardhana commented on #3184
Closing this and merging with #3185

[2016-11-05 17:08] #3184 closed, assigned to nobody

[2016-11-05 17:12] harshavardhana commented on #3185
Merged #3184 with this bug and changed the overall description.

[2016-11-05 17:15] abperiasamy commented on #3185
With N/2 redundancy, it is a likely condition only in a desperate situation. Ideally the handlers should time out at the higher level and return appropriate response. Locks with deadlines are dangerous. `context` package is meant for this purpose, however context adds more complexity to minio for a tiny little benefit. It is not all that hard to implement deadline for top level handler go routines

[2016-11-05 17:16] GarimaKapoor commented on #3169
@donatello can you give the timeline for the fix.

[2016-11-05 17:17] harshavardhana commented on #3182
NO it does work properly i don't think anyone has to specify --address specifically to run https properly.  We need to re-do the behavior in this code path to handle both self-signed and regular SNI certs.

[2016-11-05 17:17] harshavardhana commented on #3185
Moving it out.

[2016-11-05 17:19] GarimaKapoor commented on #3130
@krishnasrinivas what is the update of this issue and the possible fix for this?

[2016-11-05 17:24] GarimaKapoor commented on #3167
@hackintoshrao are you still getting the 503  error message instead of the proper error.

[2016-11-05 17:29] GarimaKapoor commented on #3102
@krishnasrinivas were you able to investigate this issue?

[2016-11-05 17:32] GarimaKapoor commented on #3065
@harshavardhana what is the timeline for fix?

[2016-11-05 17:33] GarimaKapoor commented on #3000
@harshavardhana if we are not able to reproduce it, we can close this.

[2016-11-05 17:37] GarimaKapoor commented on #3066
@krishnasrinivas please update the timeline for the fix.

[2016-11-05 17:37] harshavardhana commented on #3065
Will fix this by EOD tomorrow.

[2016-11-05 17:38] harshavardhana commented on #3000
Closing as not reproducible but will review the code once to see any blatant mistakes.

[2016-11-05 17:38] #3000 closed, assigned to harshavardhana

[2016-11-05 17:39] GarimaKapoor commented on #3097
@koolhead17 were you able to test?

[2016-11-05 17:41] harshavardhana commented on #3130
I see now closing this,  its working as expected.

[2016-11-05 17:41] #3130 closed, assigned to krishnasrinivas

[2016-11-05 17:49] koolhead17 commented on #3097
@GarimaKapoor was working on Ruby related projects, will test it coming week and update?

[2016-11-05 17:59] vadmeste commented on #3182
I must be misunderstanding you, can you tell how can we produce a bug ?

[2016-11-05 18:26] harshavardhana commented on #3182
For example look at `https://churchofminio.com:9000/minio/login` i tried setting bucket policy from UI and saw this message

[code]

[2016-11-05 18:27] harshavardhana commented on #3182
Now while removing policy

[code]

[2016-11-05 19:21] fwessels commented on #3185
If you would want to cancel/error out, to Go way of doing it is with an additional go routine that has a timeout and in that way abort the blocking operation.

We can decide on a case-by-case basis when we want to do this. Or come up with some sort of 'template' that adds this functionality.

[2016-11-06 06:13] GarimaKapoor commented on #3181
@balamurugana please update the timeline of the fix.

[2016-11-06 06:14] GarimaKapoor commented on #3176
@donatello please update the timeline for the fix.

[2016-11-06 06:14] GarimaKapoor commented on #3168
@vadmeste please update the timeline for the fix.

[2016-11-06 09:27] harshavardhana commented on #3159
// cc @vadmeste has sent a PR for this handing it over.

[2016-11-06 18:10] harshavardhana commented on #3062
Taking this issue, reassigned to myself.

[2016-11-06 18:58] harshavardhana commented on #3174
This feature request is similar to this issue - https://github.com/minio/minio/issues/3095 . But this feature itself  is already implemented can be solved by just using `mc watch` or ListenBucketNotification API.

Closing.

[2016-11-06 18:58] #3174 closed, assigned to nobody

[2016-11-06 19:41] #3159 closed, assigned to vadmeste

[2016-11-06 19:47] #3065 closed, assigned to harshavardhana

[2016-11-06 21:45] hackintoshrao commented on #3167
This is due to the PUT object failure on chaos test. Have separate issue regarding it. Closing this one.

[2016-11-06 21:45] #3167 closed, assigned to krishnasrinivas

[2016-11-06 22:07] hackintoshrao opened #3191 "[distributed]: Round Robin Chaos test failure with `exec-concurrent TestMakeBucketError`."
Chaos test fails for `exec-concurrent TestMakeBucketError` load at a CONCURRENCY level of 100.
## Expected Behavior

Choas test to pass with `exec-concurrent TestMakeBucketError`
## Current Behavior

AT`CONCURRENCY` of 100, 99 of them pass, only one fails with following error.
[code]
Its a 8 node setup, quorum is satisfied at any point in time since only one node is down at a given point in time i

[2016-11-07 00:19] donatello commented on #3149
This appears to be an issue related to the need for healing. Here's what's happening:

During a multipart PUT, when a node is brought down, the `uploads.json` on it does not get deleted. In my testing, I was uploading to `stop.mp4` in the `mineo` bucket; during the upload I terminated and restarted node `minio2` (in 4 node setup `minio{1..4}`), and ended up with the following on-disk state:

[code

[2016-11-07 00:24] donatello commented on #3169
The reason for this behavior is detailed here - https://github.com/minio/minio/issues/3149#issuecomment-258722816 - in short, the upload to the object will work if you start a new multipart upload.

@GarimaKapoor The reason for the bug is now clear, so this issue could probably closed today or tomorrow based on what we decide to do for it.

[2016-11-07 00:34] donatello commented on #3183
This issue is different from #3149 as here, it is not a multipart upload.

[2016-11-07 06:40] hackintoshrao opened #3196 "[distributed]: Nodes fails to restart during a failed chaos test."
Chaos test fails for `exec-concurrent TestMakeBucketError` load at a CONCURRENCY level of 100 (Different from the test used in https://github.com/minio/minio/issues/3191).
But All nodes fails to restart with error, more description will be provided below.
## Expected Behavior

- Test to pass.
- Nodes to restart gracefully in Chaos test.
## Current Behavior

- Firstly the Chaos test under `exec-con

[2016-11-07 09:39] krishnasrinivas commented on #3150
@maprules1000 this works fine in the master branch tip. i.e returns 403.

[2016-11-07 11:52] krishnasrinivas commented on #3102
I was not able to see `minio control heal http://host:9000` causing delay. But seeing some other problem related to healing, investigating more.

[2016-11-07 15:18] krishnasrinivas commented on #3084
@maxd did you get a chance to try it?

[2016-11-07 15:38] vadmeste commented on #3182
Here is my findings:
- Specifying DNS is really needed to make TLS works perfectly.
- We can extract DNS name from the certificate found under certs/ directory. However, we could also find more than one DNS name (in case of SNI certificates), even if there is only one, it could be useless for the machine configuration (like ping minio1.user.com could be unsolvable in the machine where Minio lives)

[2016-11-07 18:26] harshavardhana commented on #3149
'mc' should in-fact re-upload in this scenario when a given uploadID returns NoSuchUpload{}, its a bug in 'mc' .

[2016-11-07 18:26] harshavardhana commented on #3149
But why would you get XMinioWriteQuorum ?

[2016-11-07 18:31] donatello commented on #3149
I don't get XMinioWriteQuorum actually - maybe it is because of difference in mc version? @vadmeste could you update mc and retry, so we can be sure that we are seeing same problem? (I will too!).

[2016-11-07 18:42] donatello commented on #3149
Just updated and tried now - https://github.com/minio/mc/issues/1874#issuecomment-258923271 - I just get

[code]

Complete debug log in the linked comment.

[2016-11-07 18:45] vadmeste commented on #3149
I am still getting XMinioWriteQuorum with last minio/mc.

[code]

[2016-11-07 18:46] harshavardhana commented on #3182
This would mean that we need to take domain special flag other than TLS to make distributed setup work properly. We will need some discussion on this. Can you put more details on the flow here? for example if we have a wildcard DNS for a domain `*.domain.com`

And distributed servers are `m1.domain.com, m2.domain.com` are you saying that each need to specify domain?

We could pick the first one th

[2016-11-07 18:56] vadmeste commented on #3149
`time="2016-11-07T18:55:17Z" level=error msg="Unable to create object part." cause="Storage resources are insufficient for the write operation." location="[object-handler
s.go:691:objectAPIHandlers.PutObjectPartHandler()]" stack="xl-v1-object.go:336:rename xl-v1-object.go:352:renamePart xl-v1-multipart.go:485:xlObjects.PutObjectPart <auto
generated>:849:(*xlObjects).PutObjectPart object-handlers.g

[2016-11-07 19:21] vadmeste commented on #3149
In my case, here is what happens:
1. https://github.com/minio/minio/blob/master/cmd/xl-v1-multipart.go#L373, `errs` contains some 'file not found' since upload id doesn't exist in some disks.
2. https://github.com/minio/minio/blob/master/cmd/xl-v1-multipart.go#L375,  `isDiskQuorum` won't consider `errs` (because file not found is not considered too)
3. https://github.com/minio/minio/blob/master/cm

[2016-11-07 19:42] donatello commented on #3149
@vadmeste During your test, can you confirm that you bring down one server during the upload and bring it back up **before** the upload completes?

[2016-11-07 19:43] #3062 closed, assigned to harshavardhana

[2016-11-07 19:45] vadmeste commented on #3149
oh sorry, I missed that detail.. Actually, I stop a container, wait until the upload completes, start the container again and then restart the upload with that same name.

[2016-11-07 20:02] krishnasrinivas opened #3198 "tests: add a hook for tests to restore global variables to defaults"
Currently the test cases modify the global variables. There is a good chance that test cases modify the global variables and affect other test cases. So far we have fixed this behavior by restoring the global variable  at the beginning of the test cases which gets affected. Easier way is to see if testing framework provides a hook that gets called before every test, so we can set global variables

[2016-11-07 20:09] #3022 closed, assigned to donatello

[2016-11-07 20:30] donatello commented on #3149
After some debugging with @vadmeste found that this is happening because mc is trying to resume the upload that was completed when one of the servers was down.

[2016-11-07 20:32] harshavardhana commented on #3149
This seems like can be fixed in `mc` will circle this with @abperiasamy and see what the best course of action.

[2016-11-07 21:25] vadmeste opened #3199 "[distributed] Canceling an on-going upload doesn't clean tmp file during multipart upload"
In https://github.com/minio/minio/blob/master/cmd/xl-v1-multipart.go#L425, `xl.deleteObjects()` wants to clean .minio.sys/tmp/tmp-object/*, however currently tmp-objet is a file and not a directory.

[2016-11-07 21:27] harshavardhana commented on #3199
This is the same bug as before, do we need to duplicate this?

[2016-11-07 21:29] vadmeste commented on #3199
you mean this https://github.com/minio/minio/issues/3168 ?

[2016-11-07 21:30] harshavardhana commented on #3199
Yes seems its not just about disks going down.

[2016-11-08 00:02] #3068 closed, assigned to balamurugana

[2016-11-08 02:22] harshavardhana commented on #3138
The bucket policy updates to localhost are fixed. This issue is closed by #3152 . Please re-open if seen again.

[2016-11-08 02:22] #3138 closed, assigned to vadmeste

[2016-11-08 02:24] harshavardhana commented on #2926
Reassigned to @balamurugana

[2016-11-08 02:26] harshavardhana opened #3201 "[browser] Event notification is not triggered for object deleted from UI"
## Expected Behavior
Event notification should be triggered.

## Current Behavior
Event notification for RemoveObject is not triggered.

## Possible Solution
Implement `eventNotifiy()` function in web-handlers.go

## Steps to Reproduce (for bugs)

1. mc watch play/testbucket
2. delete an object from UI
3. no notification objects
4. copy an object - a new notification is seen on console.

## Your E

[2016-11-08 03:50] donatello commented on #3176
@GarimaKapoor This one appears to be related to the existing multipart issue being worked on in https://github.com/minio/minio/issues/3149. I think it should be fixed in a couple of days.

[2016-11-08 05:40] hackintoshrao commented on #3198
timeline - 10th November.

[2016-11-08 07:25] harshavardhana commented on #3175
Closing this as this will be addressed in #3198

[2016-11-08 07:25] #3175 closed, assigned to vadmeste

[2016-11-08 13:26] Andrey198 commented on #2551
Good day.

When?

Thanx!

[2016-11-08 13:49] krishnasrinivas opened #3204 "[distributed] replace disk, minio server gives incorrect heal command"
## Expected Behavior
should give:
[code]
## Current Behavior
[code]

## Steps to Reproduce (for bugs)
* start 2:2 d-XL
* bring down 4th server
* replace disk (rm -rf the dir and mkdir again)
* start 4th server, it prints:

[code]

[2016-11-08 14:25] krishnasrinivas opened #3205 "[distributed] replace disk, heal disk does not work the first time"
## Steps to Reproduce (for bugs)
* start 2:2 dXL
* bring down 4th server
* replace disk of 4th server (rm -rf and mkdir)
* bring up 4th server
* heal the disk:
[code]

i.e `minio control heal http://localhost:9001/` works only on the 2nd time.

## Expected Behavior

`minio control heal http://localhost:9001/` should work the first time.

## Current Behavior

`minio control heal http://localhost:90

[2016-11-08 14:27] krishnasrinivas commented on #3205
Reason might be because it connects() the first time the command is run and does heal() the 2nd time the command is run. Because pointing the command towards the 4th server heals properly the first time:

[code]

[2016-11-08 14:55] krishnasrinivas opened #3206 "[distributed] replace disk, bucket heal does not happen in one situation"
## Steps to Reproduce (for bugs)
* start 2:2 dXL
* bring down 4th server
* replace disk of 4th server (rm -rf and mkdir)
* bring up 4th server
* heal the disk:
[code]
* heal the bucket:
[code]

Bucket is not healed. But it heals if healing is pointed towards localhost:9001/9002/9003

[2016-11-08 16:30] krishnasrinivas opened #3207 "[distributed] replace disk, bucket heal should not do any ops on unformatted disk"
## Steps to Reproduce (for bugs)
* start 2:2 dXL
* mc mb myminio/test
* mc cp /etc/passwd myminio/test
* bring down 4th server
* replace disk of 4th server (rm -rf and mkdir)
* bring up 4th server
* exec these commands:
[code]

We should not try to do any operations on uninitialized (un formatted) disk.
Here it is seen that 'test' directory is created.

[2016-11-08 19:03] harshavardhana opened #3209 "[distributed] Weird messages when starting the server"
[code]

[code]

## Expected Behavior
RPC internal messages shouldn't be printed or fixed.

## Current Behavior
Prints unknown messages without much context.

## Possible Solution
Fix the possible cause reported by RPC.

## Steps to Reproduce (for bugs)
Just docker `docker-compose up`

## Context
Logging should be controlled and at any point shouldn't be printing.

[2016-11-09 00:25] #3070 closed, assigned to balamurugana

[2016-11-09 00:54] JackTiger opened #3210 "No response and not quit when use mc policy download ly/test2 in linux ?"
I have find a problem in the latest mc command client, When I use mc policy command to change the policy, like this : mc policy download ly/test2, the console has nothing output and can not be quit. But the policy has been set in bucket, In last version, I have not find this problem, maybe it is related to my local agent, I use the internal proxy server in linux.

My command is like this

[code]

[2016-11-09 02:31] harshavardhana commented on #3207
Couldn't reproduce this @krishnasrinivas

[code]

[code]

[code]

[2016-11-09 02:33] harshavardhana commented on #3207
Once the formatting is done i can heal the bucket

[code]

[code]

[2016-11-09 02:33] harshavardhana commented on #3207
Can you provide access to your setup @krishnasrinivas ?

[2016-11-09 03:40] harshavardhana commented on #3205
Tried to reproduce this as well

[code]

[code]

[code]

Not able to reproduce this  @krishnasrinivas . Once you reproduce this can you provide me access to your setup?

[2016-11-09 03:42] harshavardhana commented on #3206
This is the same as other two bugs not reproducible. @krishnasrinivas

[2016-11-09 03:43] harshavardhana commented on #3191
Do you still have the setup handy @hackintoshrao ?

[2016-11-09 03:46] harshavardhana commented on #3206
This is reproducible.

[2016-11-09 06:10] krishnasrinivas commented on #3205
@harshavardhana you have to replace the 4th disk and point heal command to 1st server (if you point the heal command towards the replaced disk server it works, mostly because it bypasses the network connection as it is a local disk)

[2016-11-09 06:22] krishnasrinivas commented on #3207
@harshavardhana replace the 4th disk and point the heal command towards the first server to reproduce this.

[2016-11-09 07:47] #3209 closed, assigned to donatello

[2016-11-09 09:34] vadmeste commented on #3210
@JackTiger, can you tell us how did you configure your internal proxy ? Also did you set the proxy url in your environment ? you need to set this variable in your shell before running mc

`export HTTP_PROXY="http://username:password@proxyIp:proxyPort"`

[2016-11-09 09:57] hackintoshrao commented on #3191
Sorry missed out, just saw this, Yes, I have the setup ready the issues I've opened.

[2016-11-09 14:56] krishnasrinivas commented on #3150
@harshavardhana this issue can be closed, i could reproduce the issue in the release build but not latest master.

[2016-11-09 14:58] krishnasrinivas commented on #3102
status: `minio control heal http://host:9000` was quick. But there are other issues opened w.r.t healing, once that is fixed we can check with @dcharbonnier to see if the delay is reproducible.

[2016-11-09 14:59] krishnasrinivas commented on #3103
timeline 11-11

[2016-11-09 15:00] krishnasrinivas commented on #3183
timeline: 10-11

[2016-11-09 15:00] krishnasrinivas commented on #3066
timeline 12-11

[2016-11-09 15:01] krishnasrinivas commented on #3059
timeline 12-11

[2016-11-09 16:57] harshavardhana commented on #3150
Closing as fixed in master branch.

[2016-11-09 16:57] #3150 closed, assigned to krishnasrinivas

[2016-11-09 18:50] #3204 closed, assigned to harshavardhana

[2016-11-09 19:14] koolhead17 opened #3216 "Code: Run misspell and fix spelling mistakes."
We should  run misspell and fix spelling mistakes.
https://goreportcard.com/report/github.com/minio/minio#misspell

@harshavardhana Please assign this to me.

[2016-11-09 20:39] henryzzhang opened #3217 "Single-part upload using pre-signed url failed with response status 400"
Attempt to upload a small file to a pre-signed failed with http response status 400.

## Expected Behavior

Uploading a small file (<5 MB, so no multi-part upload was used) to a bucket using a pre-signed url should succeed.  Because it works with aws S3.

## Current Behavior

It doesn't work with minio server.

## Possible Solution

For single-part upload, there is no upload ID.  So minio server s

[2016-11-09 20:41] harshavardhana commented on #3217
Can you try without using nginx @henryzzhang ?  also can you also paste your nginx configuration?

[2016-11-09 20:50] harshavardhana commented on #3168
Closing as duplicate of #3199

[2016-11-09 20:50] #3168 closed, assigned to vadmeste

[2016-11-09 20:51] harshavardhana commented on #3098
This will be fixed by Kubernetes documentation - assigned to @NitishT

[2016-11-09 20:52] harshavardhana commented on #3210
@vadmeste @JackTiger is using - http://cntlm.sourceforge.net/ proxy.

[2016-11-09 20:54] henryzzhang commented on #3217
I was not using nginx.  The 400 error even happens when my client code and
the minio server run in the same box.

On Wed, Nov 9, 2016 at 12:41 PM, Harshavardhana notifications@github.com
wrote:

[2016-11-09 20:57] harshavardhana commented on #3217
Okay cool. Can you paste the same code that you have?

[2016-11-09 21:22] harshavardhana commented on #3182
@vadmeste confirmed usage of letsencypt based certs with distributed setup, he will be sending a documented way to achieve it. Moving this as not a bug but documenting the behavior.

[2016-11-09 22:05] harshavardhana commented on #3217
Just used the latest master with the following code seems to be working fine ..

### Generate presign URL.

[code]

[code]

### Upload file and verify.

[code]

[code]

[2016-11-09 22:13] harshavardhana commented on #3207
Not able to reproduce this here are the results .
- Took down 4th server removed the backend and restarted it.
- Prints the heal message
- Pointed the server to first one

[code]

NOTE: The backend was deleted with "rm -rf /tmp/d"

[2016-11-09 22:21] harshavardhana commented on #3207
Finally found it

[code]

[2016-11-09 22:33] harshavardhana commented on #3207
Looks like the connection issue, the first attempt is trying a connection from a previous case and not-reconnecting.

[code]

[code]

[2016-11-09 22:33] henryzzhang commented on #3217
My code is scattered in multiple places, so I don't have one that you can
use to test with.
My code to generate pre-signed url is similar to yours.  Do you see any
problem in my code to upload the data?  The error message returned from
minio is "There were headers present in the request which were not
signed".

Below are my code fragments and trace:

[code]

  Bucket: aws.String(bucket),
  Key:

[2016-11-09 22:57] harshavardhana commented on #3217
You cannot set this outside of the request itself. you have to make sure to pass this information during PutObjectInput{} then it will work.

[2016-11-09 22:59] harshavardhana commented on #3217
Let me give you a working version.

[2016-11-09 23:04] henryzzhang commented on #3217
But my code works fine with aws s3.  minio and s3 should be compatible,
right?

I did try to remove it, but still got the same error.  Can you try to use
go code client to do the upload to see if you get the same error on your
side?

On Wed, Nov 9, 2016 at 2:57 PM, Harshavardhana notifications@github.com
wrote:

[2016-11-09 23:15] henryzzhang commented on #3217
BTW, for multi-part upload, I don't get such error with the added custom
headers when I upload chunks to the pre-signed urls.

On Wed, Nov 9, 2016 at 3:04 PM, Henry Zhang henryzzhang@gmail.com wrote:

[2016-11-09 23:22] harshavardhana commented on #3217
You are right looks like the current code trying to look for only a single header i.e "host" . In this case it can have multiple signed headers.

Sent a fix already. at #3222

[2016-11-09 23:29] henryzzhang commented on #3217
After your fix, am I allowed to add new headers that were not in the
pre-signed url?
When can I get the fix using go get -u github.com/minio/minio?

On Wed, Nov 9, 2016 at 3:22 PM, Harshavardhana notifications@github.com
wrote:

[2016-11-09 23:45] henryzzhang opened #3223 "Multi-part upload completion very slow and eventually timed out for >=9GB files"
This issue might be related to #2334, which seems has been closed.  But I got similar issue when I am using minio server built from source code (downloaded 11/09/2016).  Basically, I was uploading a 9GB file divided into 100 chunks.  After all chunks have been uploaded successfully with multiple worker threads, I sent the multi-part upload completion request, which blocks for a long time and then

[2016-11-09 23:55] vadmeste commented on #3182
@harshavardhana, I think we have missed the self signed certificates part (with custom CA), shall we do it ?

[2016-11-09 23:56] harshavardhana commented on #3217
Yes you can @henryzzhang

[2016-11-09 23:59] harshavardhana commented on #3182
Yes that is also needed.

[2016-11-10 00:01] harshavardhana commented on #3223
Multipart uploads are concatenated on a regular FS backend - so you need to wait for CompleteMultipartUpload(). But this concatenation is optimal when sequence of upload uploads 1st part and so .. it is sub-optimal if you upload 100th part first and 1st part last.

FS needs to keep the namespace consistent so it allows this behavior so this is not an issue per se but a behavior we wanted to keep a

[2016-11-10 00:24] henryzzhang commented on #3223
I did wait to let CompleteMultipartUpload() to finish, but it failed with
http timeout error.  After that, I found the file has actually been
assembled correctly in the bucket. But since my client code get failure
from CompleteMultipartUpload, it thought the file was not uploaded
successfully.

The failure happens when I use 4 worker threads to send the chunks in
parallel.  However, if I just use

[2016-11-10 00:27] henryzzhang opened #3224 "Multi-part upload completion ETag in response not enclosed by """
As they did in aws s3, the returned ETag is always enclosed by double quotes.  In minio, the ETag from individual chunk upload is enclosed by "", but the ETag from the multi-part completion is NOT.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. ngi

[2016-11-10 00:48] GarimaKapoor commented on #3201
@balamurugana please update the status of this issue

[2016-11-10 00:48] harshavardhana commented on #3223
We had this before but we removed so that to not complicate the codebase just for FS backend alone, If you use erasure coded backend then the CompleteMultipartUpload is instantaneous since all parts are kept as is with the support of the backend format.  It is even write/read consistent as soon as the writes are completed you can read as well.  Due to special requirements of FS so that as a user w

[2016-11-10 01:09] GarimaKapoor opened #3225 "api/cleanup: Converge common functionality between browser RPC and S3 API"
## Expected Behavior
Common functions called with WebRPC should be same for S3 API handlers as well.

## Current Behavior
Repeated code on both sides.

## Possible Solution
Write simple wrappers to handle this.

[2016-11-10 01:23] GarimaKapoor commented on #3181
@balamurugana can you please update the timeline for this fix.

[2016-11-10 02:17] harshavardhana commented on #3178
This case will be handled properly in object healing where inconsistent objects will be purged safely.

[2016-11-10 02:17] #3178 closed, assigned to harshavardhana

[2016-11-10 02:20] harshavardhana commented on #3149
Closing this as duplicate of #3169

[2016-11-10 02:20] #3149 closed, assigned to donatello

[2016-11-10 02:23] harshavardhana commented on #3102
@dcharbonnier do you still have the setup handy which can reproduce this issue? - Thanks

[2016-11-10 02:32] harshavardhana opened #3229 "Review Minio Server UI/UX"

[2016-11-10 03:03] harshavardhana commented on #2926
Closing the bug this bug is not reproducible anymore // cc @balamurugana

[2016-11-10 03:03] #2926 closed, assigned to balamurugana

[2016-11-10 03:04] balamurugana commented on #2926
Unable to reproduce in HEAD 5741a53d4650249ced86af190141f0a8417d403e.
Reopen if appears again.

[2016-11-10 03:45] harshavardhana commented on #3064
ping @hackintoshrao

[2016-11-10 03:45] harshavardhana commented on #3067
ping @donatello

[2016-11-10 07:23] hackintoshrao commented on #3064
yes @harshavardhana . Will fix this by 12th november.

[2016-11-10 07:47] harshavardhana commented on #3229
After review with @abperiasamy  we decided to remove all the unnecessary options

#### Deprecated ENVs:
- MINIO_BROWSER (Implemented as a security feature but now deemed obsolete since even if blocking access to MINIO_BROWSER, s3 API port is open)
- MINIO_CACHE_EXPIRY (Defaults to 72h)
- MINIO_MAXCONN (No one used this option and we don't test this)
- MINIO_ENABLE_FSMETA (Enable FSMETA all the tim

[2016-11-10 09:08] hackintoshrao opened #3231 "[distributed]: Round Robin Chaos test failure with `exec-concurrent TestPutObjectReadAt`"
- At a concurrency of 10 (less load) `exec-concurrent TestPutObjectReadAt` takes a minute to complete when the nodes are not subjected to chaos test.
- But with nodes under chaos test the `exec-concurrent TestPutObjectReadAt` hangs and after an hour the 7 out of 8 nodes under chaos test dies.

## Expected Behavior

The test to pass, and the nodes shouldn't get killed due to resource outage since t

[2016-11-10 09:31] krishnasrinivas commented on #3229
@harshavardhana MINIO_CACHE_EXPIRY is useful for testing XL, i.e i can be sure that the data is being fetched from the disks and not from the cache. Else we'll have to restart minio every time (so that there is no cached content) we want to check to be sure that XL is working fine.

Otherwise it is very easy to have false positives while testing as we might forget to restart minio and think that i

[2016-11-10 09:53] hackintoshrao commented on #3231
Starting the server multiple times and letting it run without any load is also reading to same issue now.

[2016-11-10 10:25] hackintoshrao commented on #3231
The behavior is very inconsistent. But its for sure that the test is not working. Should work towards fixing it with the setup itself.

[2016-11-10 11:04] hackintoshrao opened #3232 "[distributed]: Data race when nodes are restarted."
-  server didn't respond for while but CPU usage was very high (around 700%) when nodes are stopped and started randomly.
- Later when it started most of the nodes reported data race. (binary was built with -race flag) and the process dies with exceeding go routine limits.
## Expected Behavior

- Data race shouldnt happen.
## Current Behavior

here is the data race log.

[code]

## Possible Soluti

[2016-11-10 11:05] hackintoshrao commented on #3232
Demonstrated the issue to @krishnasrinivas .

[2016-11-10 11:42] hackintoshrao commented on #3231
The issue is related to https://github.com/minio/minio/issues/3232 . closing this.

[2016-11-10 11:42] #3231 closed, assigned to nobody

[2016-11-10 12:03] krishnasrinivas opened #3233 "erasure: To read we need n/2, for server to come up we need n/2 + 1"
For GetObject to succeed we need just n/2 disks online. But for server init to succeed it needs n/2 + 1.

i.e let's say n/2 servers are running and the cluster is operational for reads. At this point if a server is restarted then it will never come back up and prints:
`Initializing data volume. Waiting for minimum 3 servers to come online.` when n is 4.

[2016-11-10 13:06] krishnasrinivas opened #3234 "erasure: Replace n/2 disks, new servers do not come up"
## Steps to Reproduce (for bugs)
1. run 2:2 DXL
2. bring down minio3 and minio4 (i.e 3rd and 4th server)
3. rm -rf /export/disk{3..4} (i.e remove the down servers disks)
4. mkdir /export/disk{3..4}
5. start minio3 and minio4

minio 3 and 4 does not come up and prints eternally:
`Initializing data volume. Waiting for minimum 3 servers to come online.`

[2016-11-10 14:14] krishnasrinivas opened #3235 "[distribute] high CPU usage during server boot"
This issue might be related to https://github.com/minio/minio/issues/3232

1. start 3:3 DXL
i.e 6 x `minio server --address localhost:9001 http://localhost:9001/export/disk1 http://localhost:9002/export/disk2 http://localhost:9003/export/disk3 http://localhost:9004/export/disk4 http://localhos
t:9005/export/disk5 http://localhost:9006/export/disk6`

2. Create a bucket

3. Ctrl-C all the minio serv

[2016-11-10 15:21] krishnasrinivas opened #3236 "[distribute] reconnection process to a server that comes back up is unreliable"
Steps that produced this problem:
1. 3:3 DXL setup
2. restart 3, 6
3. `mc mb` of any number of buckets did not create volumes on 3 and 6

This issue is not reproducible. But the code review needs to be done to know under what situation this can happen.

[2016-11-10 15:41] #3224 closed, assigned to harshavardhana

[2016-11-10 15:42] harshavardhana commented on #3229
Let's discuss about this @krishnasrinivas

[2016-11-10 15:42] #3201 closed, assigned to balamurugana

[2016-11-10 15:44] #3205 closed, assigned to harshavardhana

[2016-11-10 15:44] #3206 closed, assigned to harshavardhana

[2016-11-10 15:46] harshavardhana commented on #3236
In-fact reconnect never happened @krishnasrinivas it required one more call for the status to be cleared up.

[2016-11-10 15:47] harshavardhana commented on #3233
This is not needed anymore we only need n/2 for servers to come up after volume has initialized.

[2016-11-10 15:50] krishnasrinivas opened #3237 "[distributed] HealObject() tries to heal when one of the servers is down"
## Expected Behavior
HealObject() should return immediately as there is nothing to heal.

## Current Behavior
ListHealObject() tries to heal the object thinking that the object in the down server is outdated.

## Steps to Reproduce (for bugs)
1. start 3:3 dxl
3. Upload a `bucket/object`
2. Bring down 6th server
3. Exec heal command on the bucket: (this takes up CPU healing the object)

[code]

It

[2016-11-10 15:56] krishnasrinivas commented on #3233
@harshavardhana this situation is rare, i.e when n/2 disks are totally gone, we had moved a similar issue from distributed release last week.

[2016-11-10 15:58] harshavardhana commented on #3233
Meaning we don't need to do this for this release?

[2016-11-10 16:01] krishnasrinivas commented on #3233
yes

[2016-11-10 16:17] harshavardhana commented on #3234
The bug here #3233 - both are related if we fix one fixes the other.

[2016-11-10 16:20] harshavardhana commented on #3237
@krishnasrinivas does this actually try to do any i/o ? or is it that it proceeds forward?

[2016-11-10 16:22] krishnasrinivas opened #3239 "docs: terminology usage for different setups : fs singlenode-XL distributed-XL"
For internal discussion and at code level, we use the terms fs, singlnode-XL, distributed-XL for different minio setups.

However in the documentation we don't use these terms at all. Because of this communication with users on minio channel and github issues becomes harder. For ex.
* we can't just ask "is your setup minio-fs or xl?" we'll have ask how they start the minio server and figure out if

[2016-11-10 16:26] harshavardhana commented on #3239
This will go away since we are going to make it a default behavior so FS setups are no different.

[2016-11-10 16:36] jboelter commented on #3223
Would you consider a mode of operation where concatenation is not performed on a FS backend? It would seem that the concatenation feature is only useful if you are accessing the files via the filesystem vs only the REST api.

[2016-11-10 16:39] harshavardhana commented on #3216
Fixed in the latest master.

[2016-11-10 16:39] #3216 closed, assigned to koolhead17

[2016-11-10 16:40] harshavardhana commented on #3191
Thanks will ping you @hackintoshrao

[2016-11-10 16:40] harshavardhana commented on #3196
We need to test this with latest master as well @hackintoshrao

[2016-11-10 16:41] harshavardhana commented on #3183
@krishnasrinivas can you reproduce this with latest master?

[2016-11-10 16:49] harshavardhana commented on #3223
Erasure coded backend already does this never concatenates and keeps the parts in a special format,  FS purpose was to keep the backend simple and not introduce any custom format.  Having multiple modes in FS can cause confusion and it would also discourage users to use FS.

In this case we need understand the code which @henryzzhang used to reproduce timeouts. With FS from what we have seen and t

[2016-11-10 16:58] krishnasrinivas commented on #3223
@henryzzhang can you post the client program source that uploads?

[2016-11-10 17:08] henryzzhang commented on #3223
I have used 4 worker threads to upload 100 chunks (chunk size = 90MB).  The
order of the 4 chunks started by the 4 threads are in-deterministic, but
the 4 chunks will be finished uploading before the next 4 chunks gets
started uploading.  The timeout will also happen with only one worker
thread if the chunk size is large enough.  I can reproduce the timeout with
one worker thread uploading 100 chu

[2016-11-10 17:17] henryzzhang commented on #3223
My code is scattered in multiple places in different components, so it is
hard to put them all together as a working code.  My client code is
actually c++ on windows.  It uses aws s3 REST APIs.
But with all the info and steps that I have provided, I am sure you should
be able to reproduce.

On Thu, Nov 10, 2016 at 8:58 AM, Krishna Srinivas notifications@github.com
wrote:

[2016-11-10 17:41] hackintoshrao commented on #3196
I'll test again.

[2016-11-10 17:42] harshavardhana commented on #3196
Can we do this together? @hackintoshrao

[2016-11-10 17:42] krishnasrinivas commented on #3223
Ah, if the are deterministic, i.e if the 4 parallel chunks are from start to end, then it would work fine without timeout. aws-cli also uploads it in 10 parts in parallel in a batch, but still the batches itself are sequential.

[2016-11-10 17:45] hackintoshrao commented on #3196
@harshavardhana : Yes, That'll be the best way to do it !

[2016-11-10 17:59] henryzzhang commented on #3223
But you probably shouldn't require client to do the uploads in a
deterministic way.  Even if uploading of the 4 chunks started from 1st to
the 4th, they may finish in random order depending on the network bandwidth
over time, right?
Also, as I have mentioned, the timeout occurs even with only one worker
thread if the chunk size is large enough.

On Thu, Nov 10, 2016 at 9:42 AM, Krishna Srinivas no

[2016-11-10 19:28] hackintoshrao commented on #3196
The test is holding after the changes in https://github.com/minio/minio/pull/3221. Will again run the other tests and validate them.

[2016-11-10 20:31] solsson opened #3241 "No logging from Docker container"
Apologies if I missed something trivial, but with current `minio/minio:latest`, container logs show the startup message but no activity whatsoever. Requests are not logged, and when a client gets a 403 there is no trace of that.

I've modified `/root/.minio/config.json` to set the level of `console` to `debug`.

## Expected Behavior
This being a docker image it should log to stdout.
I'd expect HTT

[2016-11-10 20:43] donatello commented on #3241
@solsson In case you missed it, you also have to set logger.console.enable = true in the `config.json`.

However, minio does not provide access logging. Only error logging is performed. This is to keep the output lean and only provide sufficient information for debugging problems, but not to observe each step the server performs.

The access logging can be added on with a simple nginx frontend pro

[2016-11-10 21:08] donatello commented on #3235
This is reproducible with our 4-node docker-compose file as well. My laptop has all cores burning for about 20 seconds till it settles down and is working. It appears that a lot of messages are being exchanged at start up.

[2016-11-10 21:09] harshavardhana commented on #3235
Is this reproducible with latest master? @donatello - can you also try with the patch - https://github.com/minio/minio/pull/3238

[2016-11-10 21:22] donatello commented on #3235
Yes, on master, on my laptop, with 4 node docker-compose, it takes around ~14-18 seconds for all 4 servers to finish printing their start-up messages. 50-100% cpu usage on all cores on my laptop during this time.

Will try with #3238 (but see my comment on it - it is not exactly preventing a race to login).

[2016-11-10 21:35] donatello commented on #3235
It seems a bit better but not too significantly - it takes about ~12-14 seconds with the change (in each of about 10 manual tests), but there was one test that took about 30s.

The test I am doing is to note the start time, start the docker-compose cluster, wait for all start-up messages from each server, and then note the time and see the time taken.

[2016-11-10 21:47] donatello commented on #3235
With the latest version of #3238 (where allow only one login attempt at a time is allowed via locking), cpu usage is significantly lesser and the cluster is ready in about 6-12s.

Request @krishnasrinivas and @hackintoshrao to independently confirm.

[2016-11-10 22:11] donatello commented on #3169
The root cause is the stale upload id on one of the servers. It happens precisely, when a multipart object PUT is completed when a server is down (but was up when the PUT started). This is being handled by cleaning up uploads.json at start-up as @harshavardhana said.

Additionally `mc` is going to handle this error and start a new upload when the upload id turns out to be stale.

If I didn't miss

[2016-11-10 23:02] #3181 closed, assigned to balamurugana

[2016-11-11 00:43] #3067 closed, assigned to donatello

[2016-11-11 03:19] solsson commented on #3241
logger.console.enable was true by default.

The only bug then would be that a 403 is not logged.

However, I think this principle goes against common practice. It is all but impossible to know beforehand what is sufficient information to debug a problem. We therefore log all significant events at an appropriate level, and provide enough information (subsystem names, request identifiers...) for tha

[2016-11-11 04:00] harshavardhana commented on #3241
You can enable `logger.console.level` as 'error' by default only fatal messages are printed.   Some logging concerns are addressed in the latest master as well i.e "minio/minio:edge"

But we are not going to do access logs, instead we have implemented Bucket notifications which you can listen on as the objects come in. That way you get more richer information than a server log and it can also be c

[2016-11-11 04:02] harshavardhana commented on #3223
So i tried with uploader.go with 64MB, 100MB and 200MB with a 8GB file not able to reproduce the issue. I tried three different concurrency options i.e

CONCURRENCY = 2, 3 and 4

Here is the relevant code.

[code]

[2016-11-11 04:03] harshavardhana commented on #3223
Can you provide more information about hardware, backend and disks - is minio server running on a SATA 7200RPM drives?.  My tests were on SSD.  @henryzzhang

[2016-11-11 04:08] krishnasrinivas commented on #3223
Sorry, my previous comment was ambiguous. Way it works on server side is "append the parts as early as possible but keep the order of part number intact in the appended file" so that when the server gets CompleteMultipartUpload in the end there is a high chance that the appended file contains all the parts and we can return success immediately.

For ex. let's say totally 50 parts need to be upload

[2016-11-11 04:56] krishnasrinivas commented on #3223
@henryzzhang one question, is your client on the same machine as minio server?

[2016-11-11 05:52] henryzzhang commented on #3223
My minio server runs in a virtualbox VM with Ubuntu OS.  Client machine is
a windows 10 machine.  They reside in two different physical machines,
which are on the same local network.  Minio server's host machine has SATA
drive.  You probably want to use different machines for client and minio
server.  Try to reduce the network speed, increase file size and/or part
size to see the timeout.

On Thu,

[2016-11-11 05:57] #3217 closed, assigned to harshavardhana

[2016-11-11 06:24] krishnasrinivas commented on #3223
@henryzzhang just wanted to make sure that client and server are on different machines. Does my previous explanation make sense on why aws-cli does not time out (even with parallel upload of parts) and your client times out?

[2016-11-11 08:14] #3232 closed, assigned to harshavardhana

[2016-11-11 08:36] hackintoshrao commented on #3191
Closing this. Will run the tests again on the latest master.

[2016-11-11 08:36] #3191 closed, assigned to harshavardhana

[2016-11-11 08:37] hackintoshrao commented on #3169
Does that mean that the fix is in `mc` to handle this differently ?

[2016-11-11 08:38] solsson commented on #3241
Bucket notifications looks like a great feature.

I do think you underestimate how much impediment to adoption this logging strategy is. In my case after an hour of confusion on why my client gets 403 (is it really coming from this container that doesn't say anything?) and another hour of searching for how logging is meant to be configured, my options are to invest even more time - probably in rea

[2016-11-11 09:44] hackintoshrao commented on #3235
The CPU usage is still high, Here are some of the screenshots of CPU usage over a course of time when only 3 out of 8 node were started.

The CPU usage gradually builds up.
- At 40%
  <img width="1204" alt="screen shot 2016-11-11 at 2 53 57 pm" src="https://cloud.githubusercontent.com/assets/2609511/20210783/3f5b2dcc-a821-11e6-96af-e940104c1506.png">
- At 73%
  <img width="1277" alt="screen shot 2

[2016-11-11 12:12] hackintoshrao commented on #3198
In progress.

[2016-11-11 14:37] harshavardhana commented on #3169
No Karthic it will be healing which will fix this during startup of a given server.

[2016-11-11 15:44] harshavardhana commented on #3236
Can we test this with latest master?

[2016-11-11 15:50] harshavardhana commented on #3235
@hackintoshrao did you have a lot of temporary files?  - servers might be cleaning them up.  You should test the patch itself on a cleaner backend with only involving startup sequences.

There will be some amount of CPU usage we just have to see if the usage is sustained and unwarranted.

[2016-11-11 15:52] harshavardhana commented on #3237
@krishnasrinivas does this try to create the part of the object?

[2016-11-11 15:57] harshavardhana commented on #3118
// cc @balamurugana

[2016-11-11 15:58] harshavardhana commented on #3111
This might not happen with current master @krisis @vadmeste we will have to reproduce this once more.

[2016-11-11 16:01] harshavardhana commented on #2573
Closing this to be an expected behavior in the current code,  will re-open if at all this issue becomes important.

[2016-11-11 16:01] #2573 closed, assigned to vadmeste

[2016-11-11 16:02] henryzzhang commented on #3223
@Krishna Srinivas Actually, my client does exactly the same as you
described on how aws-cli works. I think the timeout will occur if the disk
i/o during concatenation takes too long when the part size is large
enough.  For the very last batch of parts upload, assuming the order is 50,
49, 48, 47, 46 (using your example), when client finished uploading part#
46 followed immediately by the CompleteM

[2016-11-11 16:02] harshavardhana commented on #2473
Closing this as duplicate of #1366

[2016-11-11 16:02] #2473 closed, assigned to fwessels

[2016-11-11 16:04] harshavardhana commented on #1605
We haven't seen this or been able to reproduce this across platforms since we moved to this implementation.  Will close this bug  and the referenced PR as well.  In future perhaps backport Go 1.8 changes once they are released and available.

[2016-11-11 16:04] #1605 closed, assigned to harshavardhana

[2016-11-11 16:59] krishnasrinivas commented on #3223
Right

Ah, 30 seconds is very less, you are right that client timesout when last batch gets appended, can't you increase client timeout?

[2016-11-11 17:00] krishnasrinivas commented on #3237
@harshavardhana I noticed high CPU usage for quite sometime, I am sure it is reading from disk reconstructing the missing data and tries to write to the server which is down.

[2016-11-11 17:01] hackintoshrao commented on #3235
Ok. Will test with a clean setup.

[2016-11-11 17:02] hackintoshrao commented on #3169
Is it fixed now ? So that I know what to expect .

[2016-11-11 17:03] vadmeste opened #3244 "[distributed] servers won't sleep between retries in initialization after some attempts"
## Expected Behavior
Sleep between retries should be maintained over time

## Current Behavior
After some retries, servers will try to connect to themselves without waiting

## Possible Solution
Limit attempt number inside retry algorithm

## Steps to Reproduce (for bugs)
Try to configure servers with invalid certificates for example to trigger connection error between servers

## Your Environment

[2016-11-11 17:23] krishnasrinivas commented on #3235
For my setup CPU usage problem is fixed, it hardly takes any time now for peer discovery and the cluster to be operational.

[2016-11-11 17:49] #3244 closed, assigned to nobody

[2016-11-11 17:49] harshavardhana commented on #3237
Okay ..cool

[2016-11-11 17:50] harshavardhana commented on #3235
Closing based on new testing. Will re-open again if seen.

[2016-11-11 17:50] #3235 closed, assigned to donatello

[2016-11-11 17:51] harshavardhana commented on #3169
No it is not fixed yet, will be fixed soon.

[2016-11-11 18:23] henryzzhang commented on #3223
To the client, 30 sec is already a long time.  Even if the winhttp receive
timeout is increased, which could cause side effects to other http calls of
the client, timeout may still occur in some other cases.  From client's
perspective, once all parts have been uploaded, the file upload is
successful, so there is no need to block the MultipartCompletion REST API
until the concatenation is done.  Se

[2016-11-11 19:02] jboelter commented on #3223
May want to go this direction to prevent timeouts.  Per the AWS spec: http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadComplete.html

_Processing of a Complete Multipart Upload request could take several minutes to complete. After Amazon S3 begins processing the request, it sends an HTTP response header that specifies a 200 OK response. While processing is in progress, **Amazon S3 periodical

[2016-11-11 19:09] harshavardhana commented on #3223
If you see the history of the commits we had this feature :-) we removed it on purpose since it became complicated and was not needed for erasure coded backend.

@krishnasrinivas is working on a fix to address the last batch problem which was seen in @henryzzhang  which should fix the double concatenation that is happening under certain types of workload.

[2016-11-11 19:23] donatello commented on #3236
Unable to reproduce on latest master.

_But the possible cause you were seeing is that after restart, before the server is initialized and ready, you may have been trying to create the bucket from a server that is up._

So in my test script - https://gist.github.com/donatello/4ec6e12001b192707fffe11f2da71173 - I am waiting for server to be initialized by doing `mc cat` and then attempting to creat

[2016-11-11 20:01] harshavardhana commented on #3236
Closing this will re-open when we end up reproducing this issue.

[2016-11-11 20:01] #3236 closed, assigned to donatello

[2016-11-12 08:28] harshavardhana commented on #2980
We decided to do both do it during startup and also allow it to be done during 'minio control heal'

[2016-11-13 14:32] mvalitov commented on #2941
hello! after updating to the latest development version(install from source), I can not download using the generated presigned_url link.

[code]

Request log:

[code]

An [example](https://bitbucket.org/MarsonV/phoenix_minio) of a simple application.
An example of steps to start:
Install dependencies with mix deps.get
Install Node.js dependencies with npm install
Create manually a bucket with name

[2016-11-13 19:04] harshavardhana commented on #2941
This is because of a recent change which made it stricter, fixing it. @mvalitov  - Thanks for reporting.

[2016-11-13 19:58] mvalitov commented on #2941
@harshavardhana Thanks! fixed in the master?

[2016-11-13 19:58] harshavardhana commented on #2941
Not yet.. in a bit stay tuned @mvalitov

[2016-11-13 20:07] mvalitov commented on #2941
ok, thanks

[2016-11-13 22:15] kudos opened #3251 "Files with spaces fail signature checks"
I cannot upload or download files with space(s) in the name. I'm experiencing the issue with both Cyberduck and Node `aws-sdk`.

Log excerpt:
[code]

Environment
* Docker `1.12.3`
* Minio `minio/minio:edge`
* Nginx `1.11.1-1~jessie`

[2016-11-13 22:21] vadmeste commented on #3251
I have the same issue, but not with mc.

[2016-11-13 22:24] kudos commented on #3251
I get it with `mc` too.

[code]

[code]

[2016-11-13 22:38] vadmeste commented on #3251
@kudos, yes. That happens when enabling signature v2 in mc.  Thanks for reporting, we'll fix this issue quickly.

[2016-11-13 22:40] kudos commented on #3251
@vadmeste I can't get any clients working without specifying v2, including `mc`.

[2016-11-13 23:18] harshavardhana commented on #3251
[code]

Seems to be running fine.

[2016-11-13 23:18] harshavardhana commented on #3251
trying with 'Signature V2' fails.

[code]

[2016-11-13 23:21] harshavardhana commented on #3251
Milestoned to "Distributed Server Release" - @minio/core

[2016-11-13 23:24] vadmeste commented on #3251
I have started working on this.

[2016-11-13 23:32] harshavardhana commented on #3241
Will be addressed and fixed in #2815 - Closing this.

[2016-11-13 23:32] #3241 closed, assigned to koolhead17

[2016-11-13 23:35] harshavardhana commented on #3210
Under our testing nginx, caddy and traefik proxy works fine - @JackTiger closing this issue.

[2016-11-13 23:35] #3210 closed, assigned to vadmeste

[2016-11-13 23:38] harshavardhana commented on #3084
Closing this hadoop-aws-3.0.0-alpha1.jar works with minio: https://github.com/minio/minio/issues/2965
with config:

[code]

[2016-11-13 23:38] #3084 closed, assigned to koolhead17, krishnasrinivas

[2016-11-13 23:40] harshavardhana commented on #2866
This is not needed anymore, we have removed the env variable browser is on by default.  Re-directing to a custom URL should be implemented outside of Minio using a proxy etc.

[2016-11-13 23:40] #2866 closed, assigned to harshavardhana

[2016-11-14 04:55] krisis commented on #3064
@harshavardhana I spoke to @hackintoshrao, he is looking into other issues now. I will work on this issue.

[2016-11-14 05:10] harshavardhana commented on #3064
Thanks @krisis

[2016-11-14 07:52] hackintoshrao commented on #3196
- Last time when the issue was witnessed all the node failed to restart.
- But with the latest master at only 1 node (`node2`) failed with the error below,

[code]
- It has become difficult to reproduce this, had to run the `exec-concurrent TestMakeBucketError` at a concurrency of 50, tens of times (while chaos test is going on) to reproduce.
- Around like 10th run of the test of one one of the `e

[2016-11-14 08:00] harshavardhana commented on #3196
Do you still have the setup handy - want to look at the node where "Unable to load all bucket policies" happen?

[2016-11-14 08:04] hackintoshrao commented on #3196
Yes. When I ran at a concurrency of 100, node4 failed failed. Its still down and you could see the log.

[2016-11-14 18:23] #3251 closed, assigned to vadmeste

[2016-11-14 18:34] lnguyen opened #3256 "Server should support deduplicate extra slashes"
## Expected Behavior
Server should support
`POST /mymusic//foo/golden-oldies.zip?uploads=`
and deduplicate extra slash

## Current Behavior
When object name has slash and posted to server
[code]
## Possible Solution
Deduplicate extra slash on server side and client side (minio-go)

[2016-11-14 20:07] GarimaKapoor commented on #3064
@krisis what is the timeline of the fix.

[2016-11-14 20:12] GarimaKapoor commented on #3223
@krishnasrinivas is this fixed?

[2016-11-14 20:14] GarimaKapoor commented on #3111
@balamurugana can you see if this is still valid?

[2016-11-14 23:45] #3196 closed, assigned to harshavardhana

[2016-11-15 02:53] balamurugana commented on #3058
I am working on it.

[2016-11-15 04:16] donatello opened #3259 "[security] minio browser login involves sending unencrypted credentials over the wire"
This is insecure without https and needs to be fixed using a signature v4 style payload generated for initial handshake.

[2016-11-15 05:17] krisis commented on #3111
I can take this up.

[2016-11-15 05:23] krisis commented on #3064
I expect to send out a PR by EOD Nov 16th.

[2016-11-15 08:54] hackintoshrao opened #3260 "[distributed] Too many go routines running even at less load."
- This was witnessed when the binary was build with `-race` flag.
- When the binary was built with `-race` flag the server stops after the number of go routines running exceeds 8192, thats a hard limit.
- The hard limit was reached when the server was bomabarded with load which was as small as 5 concurrent make buckets.
- Will evaluate this deeper during the currently running tests.

[2016-11-15 08:59] hackintoshrao opened #3261 "tests: Make API handler tests concurrent for race detection."
- Currently when the binary is built with `-race` flag to catch potential races during load test, the hard limit of 8192 is reached too soon (see https://github.com/minio/minio/issues/3260).
- Due to this currently not able to detect potential races with concurrent load.
- Need to introduce concurrent calling of handler inside `API Handler tests` to detect potential races inside the handlers durin

[2016-11-15 09:40] hackintoshrao commented on #3260
Will be using the snippet [here](https://play.golang.org/p/MRAsYRoWUk) to first evaluate the count of go routines increased after each operation.

[2016-11-15 10:40] dcharbonnier commented on #3098
I think there is a similar question on elastic and they addressed it using environment variables ,
check **Auto transport/http discovery with Swarm Mode** on https://hub.docker.com/r/itzg/elasticsearch/

[2016-11-15 11:19] solsson commented on #2815
Confirmed that `minio/minio:edge@sha256:fe31cf94d1f5c1a74a92c0a9c001d1cb0fbf2d6ec9ec377ffa568b3bf16379e9` gives me explanation of the 403. Nice JSON log format. Great!

Edit: with `"console": { "enable": true, "level": "debug" }` in config.json that is.

[2016-11-15 14:25] hackintoshrao commented on #3260
- Have set up an endpoint inside the server which returns the number of Go routines running in the system.
- Will call that end point ( `/minio/debug/goroutines` ) from the my load tests before the load is bombarded and then after the test and will observe the increase in the number of go routines running, that should help us know if there are many go routines left behind.

[2016-11-15 19:28] donatello opened #3263 "[build] Too many lint errors"
## Expected Behavior

Build output should not have so many messages.

## Current Behavior

[code]

## Possible Solution

Not sure how it started happening, but fix is just to refactor these error strings.

[2016-11-15 19:30] harshavardhana commented on #3263
We don't need to fix this instead we can suppress this warning, we need these error strings just the way they are.

[2016-11-15 20:02] donatello opened #3264 "[design] Remove control command from Minio"
## Context

After discussion @abperiasamy, the control command is being removed from the Minio server binary.

The functionality provided by the `control` sub-command is being moved into the `mc` tool. This allows easier external management of the storage system - only credentials to the service are needed, no access to the server machine is required - in the previous design, the same binary as th

[2016-11-15 21:39] #3264 closed, assigned to donatello

[2016-11-16 02:14] #3263 closed, assigned to nobody

[2016-11-16 02:16] harshavardhana commented on #3237
This feature will be worked on post distributed release when we bring in `mc admin heal` command

[2016-11-16 02:17] harshavardhana commented on #3102
This issue will be moved and addressed in `mc admin heal` command which will be implemented post distributed server release.

[2016-11-16 02:50] harshavardhana commented on #2980
Healing through command is deferred post distributed release, we will still be doing startup healing.

[2016-11-16 03:32] krisis commented on #3064
@harshavardhana I forgot to add "Closes <#issue> in the PR description. Could you close this issue?

[2016-11-16 03:50] harshavardhana commented on #3064
Closing.. @krisis

[2016-11-16 03:50] #3064 closed, assigned to krisis

[2016-11-16 13:40] vadmeste commented on #3182
Fixed by https://github.com/minio/minio/commit/6512d9978ec8fe6c30bca6bfec1d3211be77f105

[2016-11-16 17:45] harshavardhana commented on #3182
Closing as fixed by https://github.com/minio/minio/commit/6512d9978ec8fe6c30bca6bfec1d3211be77f105

[2016-11-16 17:45] #3182 closed, assigned to vadmeste

[2016-11-16 17:46] #3058 closed, assigned to balamurugana

[2016-11-16 19:40] vadmeste commented on #3103
I am taking this if no one already started on it

[2016-11-16 19:44] GarimaKapoor commented on #2980
@harshavardhana what is the timeline for the fix.

[2016-11-16 19:44] GarimaKapoor commented on #2386
@harshavardhana is it ready to be reviewed by @abperiasamy

[2016-11-16 19:45] GarimaKapoor commented on #3111
@krisis what is the timeline for the fix of this issue.

[2016-11-16 19:46] GarimaKapoor commented on #3198
@hackintoshrao can you update on the status of this fix.

[2016-11-16 19:47] GarimaKapoor commented on #3199
@vadmeste can you update the status of the fix. PR mentions rebase, what else is pending on this.

[2016-11-16 19:55] harshavardhana commented on #2980
Should be merged today.

[2016-11-16 19:55] donatello commented on #3260
What kind of crash is this? If there are 8192+ go routines the program panics when built with `-race` flag?

[2016-11-16 19:55] harshavardhana commented on #2386
Not yet will be ready by tomorrow.

[2016-11-17 00:02] balamurugana opened #3270 "tests: Improve tests to avoid using repeated setup and teardown code."
Currently test functions use repeated setup and tear down code.

For example,
* testAPIHeadObjectHandler() and testAPIGetObjectHandler() do put object setup to run the actual tests.
* Repeated below code at the end.
[code]

This style of implementation can be improved by having separate reusable setup and teardown code wherever applicable.

[2016-11-17 00:03] hackintoshrao commented on #3260
The program doesn't panic. It just halts execution with a msg that 8192 limit reached. All connections will be reset .

[2016-11-17 00:23] #3256 closed, assigned to donatello

[2016-11-17 00:24] harshavardhana commented on #3260
This is an internal Go limit i think in 1.7.x series. Can you paste the code and concurrency level here?

[2016-11-17 00:25] harshavardhana commented on #3270
Agreed this needs to be done @hackintoshrao pointed it out earlier and is aware of it.

[2016-11-17 00:35] hackintoshrao commented on #3198
Will be fixed today.

[2016-11-17 00:35] hackintoshrao commented on #3260
The first 2 tests of exec-concurrrent tests with the concurrency of 10 on the binary built with `-race` produces it. Will have more details on whether there are significant leaks today.

[2016-11-17 00:42] #2980 closed, assigned to harshavardhana

[2016-11-17 00:42] #3237 closed, assigned to harshavardhana

[2016-11-17 00:42] hackintoshrao commented on #3270
There are few things to be considered here and should evaluate this further,
- The primary reason to not have a shared initial setup is to make sure that the unit tests truly run in isolation, its good to create new backend for every unit test since we know that the unit test is not influenced by any possible changes to the backend by other unit tests.
- About the repeated code here,

The signed H

[2016-11-17 02:02] balamurugana commented on #3270
@hackintoshrao

Yes.  That is helper snippet if anything repeating in tail of the function code.

[2016-11-17 02:07] balamurugana opened #3272 "api: Response generation functions need to honor requested encoding-type for object name encoding."
Below functions need to be fixed.
* generateListObjectsV1Response()
* generateListObjectsV2Response()
* generateListPartsResponse()
* generateListMultipartUploadsResponse()

[2016-11-17 02:10] hackintoshrao commented on #3260
Here's an interesting result.
- When load test run without chaos test ,`time ./exec-concurrent TestMakeBucketError` at a Concurrency of 300 the number of go routines in the node remains constant before and after the load test. Remains at 29.
- This holds good consistently.
- But when the node are under chaos test the number of go routines in the system before and after the test steadily increase f

[2016-11-17 04:32] harshavardhana commented on #3259
Taking this.

[2016-11-17 06:21] harshavardhana commented on #3169
Part of quick healing has been merged fixing of inconsistent `uploads.json` is pending, will take this up.