[2015-01-06 18:11] senthilpeace opened #163 "Facing the build issue"
Below is the snapshot of the build issue...

vagrant@hanlon:~/mygo/src/github.com/minio-io/minio$ pwd
/home/vagrant/mygo/src/github.com/minio-io/minio
vagrant@hanlon:~/mygo/src/github.com/minio-io/minio$ make
Checking if proper environment variables are set.. Done
Using GOPATH=/home/vagrant/mygo and GOROOT=/home/vagrant/local/go
Checking dependencies for Minio.. Done
Installed godep
Installed cove

[2015-01-06 20:36] harshavardhana commented on #163
@senthilpeace - do you have 'yasm' installed?

[2015-01-07 01:06] harshavardhana commented on #163
[code]

Should tell us properly about the 'yasm' issue for now

[2015-01-07 03:53] senthilpeace commented on #163
Here is the info that you have asked...
vagrant@hanlon:~/mygo/src/github.com/minio-io/minio$ uname -a
Linux hanlon 3.2.0-23-generic #36-Ubuntu SMP Tue Apr 10 20:39:51 UTC 2012 x86_64 x86_64 x86_64 GNU/Linux
vagrant@hanlon:~/mygo/src/github.com/minio-io/minio$ yasm --version
yasm 1.1.0.2352
Compiled on Jun 10 2011.
Copyright (c) 2001-2010 Peter Johnson and other Yasm developers.
Run yasm --license

[2015-01-07 03:57] senthilpeace commented on #163
**Though I've rebase the latest code and installed the yasm, it's not working, getting the below error**

*vagrant@hanlon:~/mygo/src/github.com/minio-io/minio$ make
Checking if proper environment variables are set.. Done
Using GOPATH=/home/vagrant/mygo and GOROOT=/home/vagrant/local/go
Checking dependencies for Minio.. ERROR

The following build tools are missing:

**  yasm(elf64 support) **

Plea

[2015-01-07 04:43] harshavardhana commented on #163
This is exactly what i wanted to know sorry to hear that, the issue is as i explained earlier about the lack of support of instruction sets with in yasm version 1.1.0. Yasm on Ubuntu 12.04 lacks AVX2 support,  only yasm release http://yasm.tortall.net/releases/Release1.2.0.html onwards has this support

if possible you could try installing the new version of 'yasm' and replace your system version?

[2015-01-07 09:32] senthilpeace commented on #163
@harshavardhana : Thanks for your response. Finally build is got succeed on Ubuntu 14.04.1 LTS platform.

[2015-01-07 10:01] harshavardhana commented on #163
Glad to hear that

[2015-01-10 06:03] harshavardhana commented on #163
Closing this issue.. yasm 1.2.0 minimum required - https://github.com/Minio-io/minio/commit/35fa6671645005b544cad3264c9c350ebba2ead7

[2015-01-10 06:03] #163 closed

[2015-01-19 00:46] harshavardhana opened #15 "Implement S3 compatible blob server"
- [x] blob server
  - [x] s3 compatible
  - [x] simple get/put (no on disk format)
  - [x] aws compatible auth

[2015-01-19 00:46] harshavardhana opened #16 "Implement (DOA) Operations Console (Basic health monitoring)"

[2015-01-19 00:47] harshavardhana opened #17 "``boom`` integration for self testing HTTP object server"

[2015-01-19 00:54] harshavardhana commented on #15
Commits -
- #10
- #11
- #12
- #13
- #14

[2015-01-24 01:29] harshavardhana opened #48 "Clang lacks GAS extended format support"
[code]

 [RFE]: Missing altmacro support in integrated assembler - http://llvm.org/bugs/show_bug.cgi?id=18918

[2015-01-24 01:30] harshavardhana commented on #48
Invariably this issue means xcode lacks proper GAS support, #50 - mentions this, for now use Gcc from brew package as a work-around

[2015-01-24 01:32] harshavardhana commented on #48
Keeping this issue open, until LLVM fixes their GAS support

[2015-01-24 03:47] #48 closed, assigned to nobody

[2015-01-27 03:40] harshavardhana opened #69 "[erasurecode] Clang compiler optimization -O2 leads to decoding failure"
To reproduce the issue

[code]

Change CC to `gcc`

[code]

A simple modification with `CFLAGS: -O0`

[code]

Now with `clang` tests work fine

[code]

[2015-01-27 03:44] harshavardhana commented on #69
#68 - adds a work-around for this issue, we need to figure out what really happens here

[2015-01-29 01:31] harshavardhana opened #89 "Minio cli odd behavior after using cobra"
Doesn't work

[code]

Works with following styles

[code]

[code]

This is a odd behavior which didn't exist with Codegangsta, i guess the issue is cobra implementation which doesn't honor certain inputs under long form args

[2015-01-29 01:32] harshavardhana commented on #89
@fkautz ^^

[2015-01-29 03:28] fkautz commented on #89
Cobra uses pflags, which follows gnu opts syntax more closely. I don't see anywhere in pflags where we can adjust this behavior.

[2015-01-29 03:52] fkautz commented on #89
Reverted this.

[2015-01-29 03:52] #89 closed, assigned to nobody

[2015-01-31 23:53] harshavardhana opened #105 "Implement secondary HTTP server with websocket handlers for a testbed client UI"

[2015-01-31 23:54] harshavardhana opened #106 "Integrate database into signers for AccessKey, SecretKey addition"

[2015-01-31 23:56] harshavardhana opened #107 "Relook at SSL implementation along with ``mc`` client - needs more clarity for CA Authority and Client self signed certificates"

[2015-01-31 23:56] harshavardhana opened #108 "Implement authorization handler layer with for validating HMAC authorization requests"

[2015-02-06 10:25] harshavardhana commented on #108
#139 fixes #108

[2015-02-06 10:25] #108 closed, assigned to nobody

[2015-02-06 10:27] harshavardhana commented on #106
#77 and  #103 - fixes #106

[2015-02-06 10:27] #106 closed, assigned to nobody

[2015-02-11 06:38] vtolstov opened #150 "modifying existing blobs"
Does it possible to modify exiting blob that already stored in server?

[2015-02-11 06:44] harshavardhana commented on #150
No it won't be possible, every object uploaded is immutable by design.  But multi part upload will be supported so that large blobs can be added in batches.  But once created object is written to stone only GET is allowed.

[2015-02-11 08:58] domsj commented on #150
Is overwriting an object possible?

[2015-02-12 06:10] harshavardhana commented on #150
No it won't be possible, any given object is immutable once it is written to disk.   By design we choose immutability to keep data reliable and safe.

Subsequent changes in any uploaded object can be captured as new object, but that is left to client side tooling. https://github.com/minio-io/mc (Minio client) which is currently being written will help such scenarios for capturing subsequent object

[2015-02-15 23:20] harshavardhana commented on #163
LGTM

[2015-02-15 23:20] harshavardhana commented on #163
LGTM

[2015-02-18 07:30] vadmeste opened #172 "Is pip a real dependency of the project ?"
As I understood, pip is only needed to build mkdocs, so I think it is useless to check it in checkdeps.sh

[2015-02-18 07:34] harshavardhana commented on #172
pip is necessary for mkdocs, checkdeps.sh is executed during the `make`  and so is `mkdocs` with `go generate` - so it is a valid check

[2015-02-18 09:15] vadmeste commented on #172
yes, so the project doesn't depend directly on pip, right? I mean isn't it sufficient to check only the presence of mkdocs ? because I guess some people would prefer easy_install which is an alternative of pip..

[2015-02-18 09:23] harshavardhana commented on #172
You are correct.

[2015-02-18 09:24] #172 closed, assigned to harshavardhana

[2015-04-24 22:22] harshavardhana opened #482 "Handling out of memory conditions"
Start minio server with memory mode

[code]

Upload a 2GB file from mc

[code]

Minio server output

[code]

Keeping this issue here so that we fix this eventually.

[2015-04-24 22:25] #482 closed, assigned to harshavardhana

[2015-04-25 01:07] fkautz opened #484 "Add lru expire objects over time"

[2015-04-25 01:08] fkautz opened #485 "Limit number of requests per ip"

[2015-04-25 01:08] fkautz opened #486 "Limit total transfer size by ip"

[2015-04-25 01:08] fkautz opened #487 "Add request logging"

[2015-04-25 01:10] harshavardhana opened #488 "Enable bucket ACL for dl.minio.io, but an owner can upload"

[2015-04-25 08:24] #15 closed, assigned to nobody

[2015-04-25 08:26] #16 closed, assigned to nobody

[2015-04-27 03:14] fkautz opened #505 "Minio returns wrong error message"
when bucket/1 already exists:

[code]

[2015-04-27 04:14] harshavardhana commented on #505
yeah we need to debate about this, it only seemed natural to send that back since "re-writing" object is not implemented.

Amazon doesn't have any standard error messages for this case. But we could construct one from HTTP standards.

Perhaps we can use

405 Method Not Allowed
A request was made of a resource using a request method not supported by that resource; for example, using GET on a form w

[2015-04-27 10:58] #505 closed, assigned to nobody

[2015-05-01 02:32] #487 closed, assigned to nobody

[2015-05-01 02:49] #485 closed, assigned to nobody

[2015-05-01 02:49] #484 closed, assigned to nobody

[2015-05-01 02:49] #486 closed, assigned to nobody

[2015-05-01 02:51] #69 closed, assigned to harshavardhana

[2015-05-01 07:34] harshavardhana commented on #488
dl.minio.io up and running..

[2015-05-01 07:34] #488 closed, assigned to nobody

[2015-05-16 04:00] harshavardhana opened #603 "WriteHeader and Write(ErrorResponse) seems to have a race where we are not able to send proper XML replies back"
WriteHeader and Write(ErrorResponse) - in writeErrorResponse() helper doesn't seem to work.

client receives a short read EOF without any body even with Content-Length being non zero, for some reason tests seem to work fine.

I tested this by disabling all handlers but still seems like setting 'Connection: 'close' in setCommonHeaders along with WriteHeader with error code leads to connection being

[2015-05-16 04:08] harshavardhana commented on #603
NOTE - this only happens with HEAD request on object and bucket

[2015-05-16 04:58] #603 closed, assigned to nobody

[2015-06-18 03:35] davecheney opened #652 "iodine: potential data race"
https://github.com/minio/minio/blob/master/pkg/iodine/iodine.go#L89

Accesses the globalState map without taking a lock.

[2015-06-18 03:43] harshavardhana commented on #652
Thanks for the catch @davecheney

[2015-06-18 03:44] #652 closed, assigned to nobody

[2015-06-18 05:26] justinclift opened #654 "Minor typo with go install instructions on OSX?"
In the OSX installation section of [INSTALLGO.md](https://github.com/minio/minio/blob/master/INSTALLGO.md#setup-goroot-and-gopath-1), it mentions adding those environment variables to .bashrc.

Shouldn't that be .profile on OSX?  Asking because on my OSX 10.9.5 desktop, .bashrc isn't sourced when terminals are started, though .profile is. :smile:

[2015-06-18 06:08] harshavardhana commented on #654
On Yosemite 10.10 it seems to be .bashrc , perhaps it could be related to bash version on both these platforms.  I will find what works for both bash versions and see which fits here.

[2015-06-18 06:17] justinclift commented on #654
No worries.  It's also possible I've modified my desktop config from default and don't remember doing so. :wink:

[2015-06-18 08:16] harshavardhana commented on #654
I will verify, thanks for your inputs @justinclift

[2015-06-18 08:21] harshavardhana commented on #654
I found the problem why this happens, snippet from bash documentation

#### 6.2 Bash Startup Files

This section describes how Bash executes its startup files. If any of the files exist but cannot be read,
Bash reports an error. Tildes are expanded in filenames as described above under Tilde Expansion
(see Tilde Expansion).

##### Invoked as an interactive login shell, or with --login

When Bash i

[2015-06-18 08:27] justinclift commented on #654
Interesting. Guess it depends which is more useful for minio then.  For me at the moment, doing stuff through a login shell, it's .profile.  Not sure that's going to be the case for everyone else though. :wink:

[2015-06-18 11:45] mattn opened #656 "usage of path instead of filepath is not portable"
You have many mistakes for using `path` and `path/filepath`.
When the argument should be treated as filepath, you must use `filepath` package. When the argument is the pseudo path something like a part of URL, you must use `path` instead of `filepath`.
For example, using `path.Join` for file-system deosn't work correctly on windows.

[code]

You want this become `C:\TEMP\foo` but it become `C:\TEM

[2015-06-18 18:00] harshavardhana commented on #656
You are absolutely correct, we avoided some of its usage for the similar reason. Minio server is not yet supported on windows and as you found there are many portability changes along with erasure coding which we still need to test

These changes are part of cleanup which we are going to do in upcoming weeks.. Thanks for all the input.  Feel free to fix these yourself, we always welcome community

[2015-06-18 23:04] harshavardhana opened #658 "Compile and test erasure coding for windows"

[2015-06-18 23:42] #656 closed, assigned to nobody

[2015-06-20 06:40] krisis opened #659 "`make` fails with "... recipe for target 'gomake-all' failed""
Tested on commit - cdeadae
Tested on machine -  'Linux trantor 4.0.5-1-ARCH #1 SMP PREEMPT'
## Golang environment

Golang version - go version go1.4.2 linux/amd64
GOROOT=/home/user/go
GOPATH=/home/user/work/go
MINIO_BASE=/home/user/work/go/src/github.com/minio/minio
## Sample backtrace

---

PANIC: api_test.go:957: MySuite.TestXMLNameNotInObjectListJson

... Panic: runtime error: invalid memory ad

[2015-06-20 06:41] harshavardhana commented on #659
Thanks @krisis

[2015-06-20 18:06] harshavardhana commented on #659
@krisis - i fixed the actual check that was needed inside the code, but i am going to make one more change to Makefile to handle this properly.

Let us know if you were able to get it fixed by fixing the GOROOT ..

[2015-06-21 03:04] krisis commented on #659
@harshavardhana, I will try fixing it via gopath before pulling in your fix
in code/Makefile, whenever that's merged, and update the issue.  I won't be
trying it before Monday though.

On Sat 20 Jun, 2015 11:36 pm Harshavardhana notifications@github.com
wrote:

[2015-06-21 03:09] harshavardhana commented on #659
No problem what i would personally suggest is we cleanup the entire environment and start fresh, perhaps following - https://github.com/minio/minio/blob/master/INSTALLGO.md , to avoid installing in /usr/local/go

Lets talk on monday and start a reverse ssh session.

[2015-06-24 15:36] krisis commented on #659
`make` works on fbee8f8. Thanks for fixing this.

[2015-06-24 15:36] #659 closed, assigned to nobody

[2015-06-24 16:53] harshavardhana commented on #659
Your welcome! @krisis

[2015-06-24 21:02] harshavardhana opened #666 "ON windows erasure compiles fine but throws error upon go test -race"
C:\mygo\src\github.com\minio\minio\pkg\erasure>go test -race
fatal error: unexpected signal during runtime execution
[signal 0xc0000005 code=0x0 addr=0x0 pc=0x609a1d]

runtime stack:
invalid spdelta 0x6099e7 0x609a1d 0xa4551 -1
gf_4vect_dot_prod_avx.next_vect()
        ?:0 +0x36

goroutine 8 [syscall, locked to thread]:
runtime.cgocall_errno(0x605eb0, 0xc082027788, 0x0)
        c:/go/src/runtime/c

[2015-06-25 17:54] harshavardhana opened #671 "Donut has bad hashmap state - map races"
$ ./minio mode donut ""
Starting minio server on: http://127.0.0.1:9000
Starting minio server on: http://192.168.122.1:9000
Starting minio server on: http://192.168.200.142:9000
fatal error: bad map state

goroutine 228 [running]:
runtime.gothrow(0x87cb10, 0xd)
    /usr/local/go/src/runtime/panic.go:503 +0x8e fp=0xc2080dc878 sp=0xc2080dc860
runtime.evacuate(0x72f9a0, 0xc208114210, 0x4)
    /usr/lo

[2015-06-25 18:33] #671 closed, assigned to harshavardhana

[2015-06-25 19:38] vadmeste commented on #666
I don't have this error in my machine, all erasure unit tests were successful

[2015-06-25 19:39] harshavardhana commented on #666
what version of GCC are you using? is it mingw, win-builds - i saw this issue with latest "win-builds"

[2015-06-25 19:50] vadmeste commented on #666
I use win-builds-1.5.0 (gcc 4.8.3, target x86_64-w64-mingw32) and yasm 1.2 which is independantly installed

[2015-06-25 19:51] harshavardhana commented on #666
must be something in my installation, i will verify this later. Thanks for testing..

[2015-07-02 04:55] #105 closed, assigned to nobody

[2015-07-02 04:56] #107 closed, assigned to nobody

[2015-07-02 04:56] #17 closed, assigned to nobody

[2015-08-31 04:00] anuaimi opened #811 "server: Support multiple api keys"
We'd like have each key be limited to specific buckets. There are many use cases where this would be useful. Out use case is a different buffer for development servers and production. We'd like to limit access to production buckets to only team members with access to production servers. The rest of the team would just have access to the development buckets

[2015-09-17 21:32] kahing opened #830 "example in README doesn't work"
README says we should launch minio as:

[code]

but after I build minio from source, it says mode is not a valid command:

[code]

(note the complain about go version, `go version` gives me `go version go1.5 linux/amd64`.

From the help strings, looks like one just starts minio with `minio server` and options are not accepted. Additionally `--debug` doesn't work, which makes it hard to check why `

[2015-09-17 21:34] kahing opened #831 "ListBuckets doesn't work when there's no buckets"
[code]

[2015-09-17 21:37] harshavardhana commented on #831
A recent bug introduced in 'mc', you should open the bug on - https://github.com/minio/mc

[2015-09-17 21:43] harshavardhana commented on #831
https://github.com/minio/mc/pull/1107, this should fix this issue..

[2015-09-17 21:45] harshavardhana commented on #831
Can you test again with 'go get -u github.com/minio/mc' ?

[2015-09-17 22:05] harshavardhana commented on #830
Ah all these are deprecated, i guess we should get rid of these docs. Let me fix them.

[2015-09-17 22:08] harshavardhana commented on #830
I see you compiled from source, then these commands won't work anymore since things changed a bit over last couple of months.

There are no more different modes of operation anymore, memory is now part of donut.  file mode is removed since donut already does this.

[2015-09-17 22:46] kahing commented on #831
:+1:

[2015-09-17 22:46] #831 closed, assigned to harshavardhana

[2015-09-17 22:49] kahing commented on #830
closing

[2015-09-17 22:49] #830 closed, assigned to nobody

[2015-09-17 23:35] harshavardhana commented on #830
Added a more rigorous check during compilation #834 - go1.5.1 is necessary, since some important bugs  were introduced in go1.5 related to interface{} checks and pointer conversions.

[2015-09-17 23:36] harshavardhana commented on #830
Thanks for taking time on testing minio and mc @kahing appreciate it :-)

[2015-09-25 01:59] harshavardhana opened #871 "Erasure decoding fails with new clang version"
[code]

[2015-09-25 04:45] #871 closed, assigned to nobody

[2015-10-06 22:31] #654 closed, assigned to nobody

[2015-10-08 03:35] harshavardhana opened #893 "Implement getBucketACL handler"

[2015-10-08 18:22] #893 closed, assigned to nobody

[2015-10-12 19:46] technosophos opened #902 "Running minio controller first time generates an error"
After a fresh install, if I run `minio controller`, I get this error because the `.minio` directory does not yet exist.

[code]

[2015-10-12 19:47] harshavardhana commented on #902
Ah my bad! .. thanks for testing. Will fix it in a bit.

[2015-10-12 19:49] technosophos commented on #902
If you don't mind, I think I might try to do a quick pull request.

[2015-10-12 19:49] harshavardhana commented on #902
Not at all an issue.. go ahead :-)

[2015-10-12 19:51] harshavardhana commented on #902
You can use `createAuthConfigPath()`

[2015-10-12 19:52] technosophos commented on #902
Oh! Excellent. Thanks.

[2015-10-12 20:52] technosophos commented on #902
Well, that seemed pretty easy.

[2015-10-12 20:53] harshavardhana commented on #902
Yes it was! :-) Thank you.

[2015-10-12 21:30] #902 closed, assigned to nobody

[2015-10-16 18:47] harshavardhana commented on #150
Moving to filesystem backend we have unlink support now so closing this bug - erasure coded code has moved from @minio to @minio-xl which will be immutable.

[2015-10-16 18:47] #150 closed, assigned to harshavardhana

[2015-10-16 18:47] #666 closed, assigned to harshavardhana

[2015-10-17 02:50] harshavardhana opened #909 "Implement update command before release"

[2015-10-17 02:51] harshavardhana opened #910 "Implement channel based FTW"

[2015-10-17 02:51] harshavardhana opened #911 "Implement auto expiry for objects"

[2015-10-17 02:52] harshavardhana opened #912 "Implement min free disk precondition and handle gracefully upon such a condition"

[2015-10-17 21:03] harshavardhana opened #918 "Implement logging connectors support to mongodb, syslog and regular log file"

[2015-10-18 21:48] harshavardhana commented on #912
Fixed by #922

[2015-10-18 21:48] #912 closed, assigned to nobody

[2015-10-18 21:49] harshavardhana commented on #909
Fixed by #919

[2015-10-18 21:49] #909 closed, assigned to nobody

[2015-10-19 07:32] harshavardhana opened #924 "On windows handle not just delimiter also prefixes ending with "/" delimiter"
With delimiter "/" on windows for the time being we are manually converting it to "\" to make sense on windows.

We need to also translate all the paths for incoming prefixes as well to be translated into windows understandable format.

[2015-10-19 08:41] #911 closed, assigned to nobody

[2015-10-19 13:45] rghv commented on #811
:+1:

would be a very useful feature!

[2015-10-22 01:06] #918 closed, assigned to nobody

[2015-10-22 07:23] harshavardhana commented on #924
#937 - fixes this..

[2015-10-22 07:23] #924 closed, assigned to nobody

[2015-10-22 07:27] harshavardhana opened #939 "Add examples for aws-sdk-go"

[2015-10-25 04:16] harshavardhana commented on #939
Fixed in #940

[2015-10-25 04:16] #939 closed, assigned to nobody

[2015-11-03 03:11] harshavardhana opened #955 "Flat namespace problem with filesystem"
Successful

[code]

Not successful

[code]

Problem due to

[code]

[2015-11-03 06:29] harshavardhana commented on #955
This restriction is fine for now we are going to treat

[code]

[2015-11-03 06:42] #955 closed, assigned to harshavardhana

[2015-11-04 05:52] harshavardhana opened #956 "deleteObject: Implement bulk delete API for deleting multiple objects"
http://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html

[2015-11-21 15:00] kaihendry opened #974 "rpi2 UX"
I ran `go get -u github.com/minio/minio` on my alarm rpi2 system and it finishes with:

[code]

Not sure where the binary is.

[code]

[2015-11-21 16:58] harshavardhana commented on #974
@kaihendry Built binary is available here
- https://dl.minio.io:9000/updates/minio/2015/Nov/linux-arm/minio
- For all other platforms you can visit - http://minio.io/#minio

[2015-11-21 17:00] harshavardhana commented on #974
Thanks for your bug report @kaihendry - there has been some changes in minio/cli, we forgot to update 'minio/minio'.  It should be fixed now #975

[2015-11-21 17:03] #974 closed, assigned to harshavardhana

[2015-11-22 03:13] kaihendry opened #976 "Permissive policy"
How do I configure a permissive listing policy of my object store?

[code]

Similar to `aws s3api put-bucket-acl --bucket example.com --acl public-read`.

I want to be able to address objects on my server as URLs. Bonus: SSL.

[2015-11-22 03:15] harshavardhana commented on #976
This is something odd, perhaps a compatibility issue , have you configured 'minio server' with the credentials properly? and also what is your region?

Since this clearly looks like a 'signature v4' problem.  Have you configured your region to 'milkyway'?

[2015-11-22 03:16] harshavardhana commented on #976
To configure SSL you can use your certs this way.

[code]

[2015-11-22 03:25] harshavardhana commented on #976
Also let me find a way to provide a new region through 'aws cli', we haven't documented it yet.

[2015-11-22 07:20] kaihendry opened #977 "multipart: Unstable on rpi2"
Tried to copy a 1.4GB fedora 23 ISO to my Rpi2 minio bucket and it just stalled the whole system. Nothing in `journalctl`.

http://ix.io/mpi

[2015-11-22 08:03] harshavardhana commented on #977
@kaihendry - do you have any other information - do you see any errors on the server side ?

Can you perhaps do 'mc ls -I <server>'  and see if it hangs ?

[2015-11-22 08:04] harshavardhana commented on #977
Also on rpi2 what is the actual disk speed?

[2015-11-22 08:09] kaihendry commented on #977
Couldn't find any errors. .Surprised you don't maintain a server side log file ??

http://ix.io/mpj <-- not fond of seeing all the multiparts like that. why not maintain a dot dir like rsync?

Now sure how you would like me to determine the disk speed.

[2015-11-22 08:25] harshavardhana commented on #977
By default it logs to console and only logs when there are errors, It has to be configured to log to file.

[code]

That is something in flux still, it isn't a finalized design just yet.

Simple tests on the backend with both these commands.

[code]

[2015-11-22 08:40] harshavardhana commented on #977
Oh wait, multiparts should never be listed like that in 'mc ls' output - this is clearly a bug.  Let me check.

[2015-11-22 09:55] harshavardhana commented on #977
The stalling the system experience occurs, since due to multipart upload - it is trying to verify 'md5' of uploaded chunks with CompleteMultipart request.  It is slowing things down on `rpi2` which is perhaps simulated as a system hang.

I have relaxed that requirement for the time being.  There are many more changes coming, in upcoming days.

Also i fixed a bug to not list multiparts, there were

[2015-11-23 21:30] harshavardhana commented on #976
Looks like its not possible to provide a new region or a custom region through 'aws cli'  - you might have to use s3cmd or 'mc' to add permissive ACL's.

Were you able to use 'mc' to do that?

[2015-11-23 21:36] harshavardhana opened #980 "Evaluate if 'milkyway' is the right region for minio server."
I think we should make it 'us-east-1' or 'minio' instead to signify something more meaningful.  'milkyway' is not easy to grasp and doesn't really make much sense.

[2015-11-23 21:43] #980 closed, assigned to harshavardhana

[2015-12-02 08:53] etki opened #987 "s3cmd 1.6.0 fails to authenticate with 500 error"
Hi.
I can't access minio with s3cmd:

[code]

->

[code]

Such access results in 500 response, which, i believe, should be 200 or 400/403 depending on client's authentication data. Also, if s3cmd is incompatible with minio at all, this should be mentioned in the docs, i guess.

[2015-12-02 16:36] harshavardhana commented on #987
It can access.
Released binary we uses a custom region called as

"milkyway"

Which was reverted to "us-east-1" in current master

[2015-12-02 16:39] harshavardhana commented on #987
Also can you print in trace mode for s3cmd ? Would like to see the authorization header.

[2015-12-02 16:40] harshavardhana commented on #987
Also are you using latest code from master ?

[2015-12-02 19:31] harshavardhana opened #991 "Hardcoded 'mc' url in minio server command should be fixed."
We cannot really change this URL all the time, we should fix it by moving to 'mc/latest' URL which in-turn redirects to newest released binary.

[2015-12-03 01:13] harshavardhana commented on #987
Also please share your s3cmd.minio .

[2015-12-03 05:39] harshavardhana opened #993 "Bad hash map state while using contentdb"
[code]

[2015-12-03 09:11] #993 closed, assigned to abperiasamy

[2015-12-03 10:15] etki commented on #987
@harshavardhana latest amd64 binary from website, i'm not familiar enough with go yet to compile on my own. I'll share my configuration / run trace mode when i'll get home.

[2015-12-03 17:08] harshavardhana commented on #987
@etki  - i uploaded a new one with the region fix can you download that and try again?
- https://github.com/minio/minio#gnulinux
- https://github.com/minio/minio#os-x
- https://github.com/minio/minio#microsoft-windows

[2015-12-03 22:50] etki commented on #987
here comes the kilobyte-long uglyness

s3cmd config (tried `signature_v2 = True` as well):

[code]

`s3cmd --debug -c .s3cmd.minio la`:

[code]

nb: i see same _using signature v2_ even if `signature_v2` is set to `False` in config

[2015-12-03 23:23] harshavardhana commented on #987
We don't support signature v2 on minio server. - Trying with your config locally. I will report back in a bit.

[2015-12-03 23:29] harshavardhana commented on #987
Here is the bug.. s3cmd seems to be sending as signature v2. Unsure why. Here is the request i see

[code]

Verifying why it is the case.

[2015-12-03 23:30] harshavardhana commented on #987
Our server code needs improvement in terms of printing proper error messages.

[2015-12-03 23:40] harshavardhana commented on #987
Weird even with s3 it is using signature v2.

[code]

[2015-12-03 23:41] harshavardhana commented on #987
Even with my Signature v2 is False.

[code]

[2015-12-04 00:08] harshavardhana commented on #987
Looks like s3cmd uses Signature V2 for ListBuckets() and then subsequently uses Signature V4.

https://github.com/s3tools/s3cmd/issues/671 - Here is the offending line from

https://github.com/s3tools/s3cmd/blob/master/S3/S3.py#L153

[code]

self.resource['bucket'] is None when you do 'ListBuckets()' so it falls back to signature v2 which minio server does not support we are V4 only.

While i trie

[2015-12-04 00:25] etki commented on #987
@harshavardhana i see. I still think missing/invalid signature should lead to 4xx errors instead of 500, from clients side it looks like it's something inside the server (while that's not true).

By the way, having small s3-compatible is very handy. Thank you for minio.

[2015-12-04 00:54] harshavardhana commented on #987
Yes that is what we are going to improve in upcoming days. I will keep this bug open to improve those error messages. Thank you for your help in nailing this down.

You are welcome!

[2015-12-06 21:44] fd0 opened #997 "Allow setting a config directory directly"
It is not possible to specify a config directory, on Linux minio insists on using `.minio` in the current user's home directory. This fails when minio is run as user `nobody` on my system, because that user's home directory is `/` and minio is not allowed to create `/.minio`. Apart from abusing the workaround for docker images and setting `DOCKERIMAGE=1` so that minio uses the current working dire

[2015-12-06 21:45] #987 closed, assigned to harshavardhana

[2015-12-06 22:03] harshavardhana commented on #997
This has to be cleaned up, the problem is fs and top level both needs to access `.minio` directory.

This is a nice idea but generally against config directories to be set this way, it is perhaps better to implement `--config-folder`

DOCKERIMAGE flag is still needed to know if the current user is 'root' - only in case of docker its allowed.

It gets little tricky, let me give you a proper solutio

[2015-12-07 21:58] #997 closed, assigned to harshavardhana

[2015-12-07 22:05] harshavardhana commented on #997
You can set new config-folder now with `minio --config-folder <your_new_folder>` - let me know if this works for you @fd0

You have to download the master repo.

[2015-12-08 07:29] fd0 commented on #997
Thanks, I'll have a look.

[2015-12-08 12:54] hiroyuki-sato opened #1003 "Could you tell me about PATH parameter meaning ``minio server PATH`` command?"
Hello
## Question.

1, Could you tell me more detail about PATH parameter which I execute `./minio server PATH` command?
Is `PATH` root directory for minio?

2, And when I execute `./mc mb localhost/photobucket` command, I got following error.
What is wrong?
## Environment
- OSX: 10.11.1
- minio: 2015-12-02T18:55:51Z
- mc: Version: 2015-12-01T02:45:44Z

[code]

[code]
## setup

[code]
## mc mb err

[2015-12-08 13:15] krishnasrinivas commented on #1003
@hiroyuki-sato
`minio server PATH` here PATH is the directory that you want to export using minio server.

About the problem here:

[code]

This is a bug in our code.

Can you try this command for now:
`mc mb http://localhost:9000/photobucket`

[2015-12-08 13:27] hiroyuki-sato commented on #1003
@krishnasrinivas

Thank you for replying.

## mc mb result.

I got the following error.

`./mc mb http://localhost:9000/photobucket2` result

[code]

[code]

`mc mb photobucket2` worked fine.

[code]

## PATH

I want to export '/tmp/minio_test' directory.
so I execute `minio server /tmp/minio_test` command.

But when I execute `mc ls` command
I got following output

This is output of '/tmp' direct

[2015-12-08 13:41] krishnasrinivas commented on #1003
in the error message:
`ERRO[0026] MakeBucket failed.                            Error={Cause:Root path ./minio_test reached its minimum free disk threshold. Type:fs.RootPathFull CallTrace:[{Line:107 Filename:pkg/fs/fs-bucket.go Function:fs.Filesystem.MakeBucket Env:map[]} {Line:220 Filename:bucket-handlers.go Function:main.CloudStorageAPI.PutBucketHandler Env:map[]}] SysInfo:map[host.name:hsato-mb

[2015-12-08 14:59] hiroyuki-sato commented on #1003
Oh I see
- Could you tell me minimum require space?
- Can I change disk space threshold?

~~I have 23GB fee space (95% used).~~
I have 9.7GB(5%) Free space

[code]

[2015-12-08 15:24] krishnasrinivas commented on #1003
we return error in case less than 5% disk space is available as backend file systems behave unpredictably when usage nears 100%. So we keep the threshold to 95%.

[2015-12-08 15:36] hiroyuki-sato commented on #1003
Thanks. I tried on another disk It worked as I expect.

[2015-12-08 15:36] #1003 closed, assigned to nobody

[2015-12-08 18:32] harshavardhana commented on #1003
To change the min-free-disk use the following option

[code]

[2015-12-09 00:16] hiroyuki-sato commented on #1003
Thanks!.

[2015-12-09 03:00] harshavardhana commented on #1003
Sure. Your welcome!

[2015-12-09 14:10] mdomsch commented on #987
If minio does not support Signature v2, then please report that just like AWS does in regions that do not support signature v2.  Then s3cmd will upgrade to v4 automatically.  Reply with HTTP 400, and XML error document as demonstrated here.

[code]

[2015-12-09 14:13] mdomsch commented on #987
Reference s3cmd issue (now closed wontfix) https://github.com/s3tools/s3cmd/issues/671

[2015-12-09 17:17] harshavardhana commented on #987
Thank you @mdomsch - I will make the relevant changes.

[2015-12-10 01:27] harshavardhana commented on #987
Fixed at #1004 , sent another change to s3cmd regarding signature mismatch issue for path style requests - https://github.com/s3tools/s3cmd/pull/676

[2015-12-10 01:27] harshavardhana commented on #987
Thanks for your inputs @mdomsch

[2015-12-13 06:02] orange-pig opened #1005 "How to upload a file more than 10M"
I can upload a file with 100KB use mc.exe, but 10M is not. The error is " Failed to copy 'test.zip'. open \tmp\multiparts$591727036: The system cannot find the path specified. mc.exe: Session safely terminated. Toresume session 'mc session resume zyHRQVeY'

[2015-12-13 06:13] bughandler commented on #1005
yah, I have the same question.

[2015-12-13 07:45] harshavardhana commented on #1005
This bug was fixed recently, can you paste your 'mc.exe version' ?

[2015-12-13 07:54] harshavardhana commented on #1005
Additionally try 'mc.exe update' to get the new link or download the new binary - https://dl.minio.io/client/mc/release/windows-amd64/mc.exe

[2015-12-13 10:39] bughandler commented on #1005
I build it with the source code that checked out from official repo

[2015-12-13 11:03] bughandler commented on #1005
here I should describe my issues in detail

1: the minio-py sdk (version 0.2.9) & mc.exe (newest version build from minio repo)
    a: generated url for download , expire seconds is 1024. but when I access this url, result is follow error "The request signature we calculated does not match the signature you provided"
    b: when I upload a file more than 10MB , maybe , exactly I don't known the li

[2015-12-16 17:30] rafael-leo-almeida opened #1007 "AWS SDK - Auth error"
Hi, I'm tring to use oficial java sdk but minio return an auth error:

ERRO[1132] Initializing signature v4 failed.             Error={Cause:Missing fields in auth header Type:*errors.errorString CallTrace:[{Line:46 Filename:api-signature.go Function:main.getCredentialsFromAuth Env:map[]} {Line:77 Filename:api-signature.go Function:main.isValidRegion Env:map[]} {Line:89 Filename:api-signature.go F

[2015-12-17 05:04] harshavardhana commented on #1007
Thanks @rafaelsisweb - will take a look.

[2015-12-17 08:54] harshavardhana commented on #1007
@rafaelsisweb - tried with latest aws-sdk-java-1.10.41

What was needed was to set Signature version to '4' as the signer since aws-sdk-java defaults to signature version '2' by default .

Since minio only supports signature version '4' it would fail.

[code]

Please try this example and let me know how this goes.

[2015-12-17 11:11] rafael-leo-almeida commented on #1007
Auth work as well, listing buckets works to. But when to upload a file, minio stack this error:

{"Error":{"cause":"The request signature we calculated does not match the signature you provided","type":"fs.SignatureDoesNotMatch","trace":[{"line":301,"file":"pkg/fs/fs-multipart.go","func":"fs.Filesystem.CreateObjectPart"},{"line":326,"file":"object-handlers.go","func":"main.CloudStorageAPI.PutObjec

[2015-12-18 00:09] harshavardhana commented on #1007
I verified two cases - one with Amazon S3 Java SDK and Aamazon S3 Golang SDK but have different results.

Sample programs which work and don't work.

A simple put object uploads a single 12MB file

Golang works fine with signature version '4' but java doesn't.

[code]

[code]

[2015-12-18 00:10] harshavardhana commented on #1007
[code]

[2015-12-18 00:15] harshavardhana commented on #1007
This fails with Content-MD5 mis-match and pretty sure that is happening for multipart as well. (I think you are doing a multipart operation)

[code]

[code]

[2015-12-18 00:17] harshavardhana commented on #1007
Not sure why the Content-MD5 mismatches. for Java alone and not Golang.

[2015-12-18 00:19] harshavardhana commented on #1007
Oh looks like aws-sdk-java sends back following headers .

`{PUT /testbbucket/caddy HTTP/1.1 1 1 map[Content-Type:[application/octet-stream] Content-Md5:[4uUkMUjnvb+ymFcDSeexUA==] Connection:[Keep-Alive] X-Amz-Date:[20151218T001827Z] X-Amz-Decoded-Content-Length:[12232928] Content-Length:[12241473] X-Amz-Content-Sha256:[STREAMING-AWS4-HMAC-SHA256-PAYLOAD] Authorization:[AWS4-HMAC-SHA256 Credential

[2015-12-18 00:20] harshavardhana commented on #1007
http://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonRequestHeaders.html - Found it
`When using signature version 4 to authenticate request, this header provides a hash of the request payload. For more information see Authenticating Requests by Using the Authorization Header (Compute Checksum of the Entire Payload Prior to Transmission) - Signature Version 4. When uploading object in chunks, y

[2015-12-18 00:28] harshavardhana commented on #1007
Okay so the Content-Md5 is not reliable here, so we cannot really verify, going to try non streaming approach.

@rafaelsisweb on your end - if possible can you print the request headers for the multipart upload you are doing?

[2015-12-18 00:29] harshavardhana opened #1008 "signature: Implement support for STREAMING-AWS4-HMAC-SHA256-PAYLOAD"
http://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonRequestHeaders.html -

[code]

[2015-12-18 00:29] harshavardhana commented on #1008
Streaming signature version '4' - http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-streaming.html

[2015-12-18 00:29] harshavardhana commented on #1008
ref #1007

[2015-12-18 00:35] harshavardhana commented on #1007
Golang SDK on the other hand is not setting Content-MD5 at all.

[2015-12-18 00:47] harshavardhana commented on #1007
Tested with S3TransferManager written in Golang - seems to be working fine.  Going to test with Java now.

[code]

[2015-12-18 01:38] harshavardhana commented on #1007
[code]

Okay looks like Java SDK will do chunked uploading as default for PutObjectRequest and UploadPartRequest.

[2015-12-18 13:45] rafael-leo-almeida commented on #1007
@harshavardhana that is the entire request....
`PUT http://192.168.41.14:9000 /teste/MongoChef.dmg Parameters: ({"uploadId":["YmznEp472GLEvzsyLrxQqtgtQBjaQg5gwNTWdOipfVGC5lc"],"partNumber":["10"]}Headers: (x-amz-content-sha256: STREAMING-AWS4-HMAC-SHA256-PAYLOAD, Authorization: AWS4-HMAC-SHA256 Credential=KL5HT9MO4UFV91V2UH3L/20151218/us-east-1/s3/aws4_request, SignedHeaders=content-length;content

[2015-12-18 17:43] harshavardhana commented on #1007
ref - https://github.com/aws/aws-sdk-java/issues/580

[2015-12-18 20:37] harshavardhana commented on #1007
https://github.com/aws/aws-sdk-java/pull/581 - change submitted here to provide an option to disable chunked uploading.

[2015-12-21 13:48] rafael-leo-almeida commented on #1007
Hi @harshavardhana, I was trying to test chunked-encoding but got this Exception when try:

[code]

Result is:

[code]

[2015-12-22 06:09] harshavardhana commented on #1007
@rafaelsisweb - i couldn't take a look today. I will tomorrow. Thanks for testing.

[2015-12-22 10:57] rafael-leo-almeida opened #1009 "Wrong update url"
When run ./minio update we got **mc** update info.

In update-main.go the url minioUpdateStableURL seems to be wrong.
https://dl.minio.io:9000/updates/updates.json shoud be https://dl.minio.io:9000/updates/minio/updates.json

[2015-12-22 16:20] harshavardhana commented on #1009
Thanks this will be fixed. With the new release.

[2015-12-22 16:21] #991 closed, assigned to harshavardhana

[2015-12-23 01:31] #1009 closed, assigned to nobody

[2015-12-23 06:21] krishnasrinivas opened #1011 "bucket creation fails"
PUT operations fail during bucket creation if content-length is not available in headers.
It works on aws s3

[2015-12-23 17:39] harshavardhana commented on #1011
Yes this has to be changed to verifying if body is available and then verifying Content-Length. But i wonder this was reproducible only on minio-js ? the reason other languages work is all other are setting Content-Length=0 if there is no body.

[2015-12-23 17:55] harshavardhana opened #1012 "listIncompleteUploads: list incomplete uploads fails when uploading small files with multipart operation"
With small files multipart operation succeeds, but subsequent calls do not complete the request properly.  This leads to an issue where multipart session is still dangling after the real file has been completed.

List incomplete uploads fails with internal server error, due to coherency issues in handling multipart sessions.

[2015-12-27 07:40] harshavardhana commented on #1011
Looks like the code is correct in validating if there is a Body. Can you verify if 'js' sending a body?

[code]

[2015-12-27 07:42] harshavardhana commented on #1007
I haven't been able to take a look at this, been traveling and on vacation. Will do this on priority on coming monday.

[2015-12-27 10:35] krishnasrinivas commented on #1011
I just saw that there is a bug in minio-js where it does not set content-length for non-standard regions (i.e the request will have body but no content-length header).
But this request was for standard region where would be no body and no content-length.

Maybe in minio-server req.Body contains a valid reader but without any data in it.

[2015-12-27 15:03] harshavardhana commented on #1011
I don't think that is the problem. I haven't been able to reproduce this on minio python and java.. and also golang.  Can you check again ?.

I don't think Golang HTTP server is designed in such a way. You can really crash a server by sending a large request if one has to read and validate the length of incoming request.

[2015-12-27 15:10] harshavardhana commented on #1011
Another possible thing on why Amazon S3 server works is since it does chunked encoding on the incoming request, so a prior Content-Length might not be a requirement.

I will verify and see what else is different.

[2015-12-27 15:20] harshavardhana commented on #1011
Was able to reproduce, the problem is in verifying 'req.Body' as non-nil since req.Body is an interface the backing pointer struct will always provide a non-nil value. This is the same problem of custom errors being thrown back by error interface, one cannot really validate them properly.

[2015-12-27 15:23] harshavardhana commented on #1011
All other HTTP clients are setting Content-Length=0 for an empty body internally with in their implementation. So it would work.

[2015-12-28 07:07] #1011 closed, assigned to nobody

[2015-12-29 02:14] harshavardhana commented on #1007
There has been some progress today - We are finally running some integration tests which aws-sdk-java needs to do before the patch is accepted. Patch is going to accepted in a different form than what was currently submitted.  Since there are some limitations on how the Signature factory is implemented in aws-sdk-java.

The option is going to be simple enough to be enabled just like how it was don

[2015-12-29 10:33] rafael-leo-almeida commented on #1007
@harshavardhana good news, waiting that to deploy minio on alpha production environment.

[2015-12-31 21:55] harshavardhana commented on #1007
@rafaelsisweb the patch is merged. Will be available as an option in next release in 2016.

[2016-01-02 04:41] anuaimi commented on #811
Could you explain why this is marked "won't fix"?  Thanks

[2016-01-02 06:20] harshavardhana commented on #811
Minio micro service will not have multiple user serviceable console and no way to provision multiple users per instance. Minio micro service should be used for multiple users with several instances.  So "won't fix" is for Minio micro service.

Minio XL which is separated into a new project will have multiple users and a self serviceable console.

[2016-01-03 15:04] gnot opened #1018 "Request - intellisense for showing possible paths in fs"
I doubt this is possible unless mc.exe is invoked as its own shell.
Context - when copying/listing directory in use, at times it is useful to have contextual intellisense to display paths.

Say local share is c:\minionshare
Create say another directory underneath called golang
To copy a file one would have to do
mc.exe cp c:\go\robots.txt localhost/golang

Let us say there are multiple folders und

[2016-01-03 15:37] gnot opened #1019 "fs: Expiry attribute should honor the time requested"
Docs should clarify what is the default expiry (NONE) vs when you pass in an item what is honored. Will the location be cleaned of directories or files, does it depend on last access time of the directory/location or just the expiry option.
Context
After executing  minio.exe server expiry 0.5h c:\minionshare
and creating bunch of empty directories, I waited for an hour to see what happens. Then ca

[2016-01-03 19:15] harshavardhana commented on #1019
This won't be an error 'mc' recreates all non existing prefixes as well. So you won't any issue.

The expiry is for files alone, not for the time they were created. But i see the confusion, but here is what it means currently.

.5h of expiry means that every 3hrs files 30mins older than that time will be cleared.

Yes noted.

[2016-01-03 19:17] harshavardhana commented on #1018
For billions of objects this is not scalable, we thought about it and avoided these things to make experience predictable.

[2016-01-04 02:31] gnot commented on #1018
makes sense - most of the time it will be api call rather than cmdline browsing.

[2016-01-04 02:36] gnot commented on #1019
Yep looks like files are removed, "directories" are not. Although the "real target" does not have concept of directories - expiry doc should make a note of that so that folks starting out will be reminded of that.  Because expiry  - sort of suggests it.  Expiry - time definitely needs little doc help. Thanks.

[2016-01-04 03:06] harshavardhana commented on #1019
Yes sure i will do that. This bug will closed when we have it sufficiently documented.

[2016-01-04 03:09] harshavardhana commented on #1018
Yes, our idea is to keep it minimal. Will close this.

[2016-01-04 03:09] #1018 closed, assigned to nobody

[2016-01-05 19:51] harshavardhana commented on #1005
Closing this as the issue was fixed in the latest 'mc' release.

[2016-01-05 19:51] #1005 closed, assigned to nobody

[2016-01-05 19:52] harshavardhana commented on #976
Closing this, please re-open if you have more issues regarding permissive policy.

[2016-01-05 19:52] #976 closed, assigned to nobody

[2016-01-05 19:53] harshavardhana commented on #977
This bug will be closed after 'multipart' handling is re-written on the server side.

[2016-01-08 07:58] harshavardhana opened #1020 "Support chunked encoding on server side and avoid Content-Length requirement."

[2016-01-08 08:50] #1020 closed, assigned to harshavardhana

[2016-01-08 22:47] harshavardhana opened #1023 "logging: Add sufficient logging into code base to log code paths."

[2016-01-08 22:58] harshavardhana opened #1024 "testing: Test minio server with restic project and do load testing."

[2016-01-08 23:17] bacongobbler opened #1025 "minio with boto?"
Hi there!

I'm working on moving us off of S3 and onto Minio. However, we rely on software like [WAL-E](https://github.com/wal-e/wal-e) which utilizes boto as the S3 client for connecting to the storage backend. Has anyone managed to get boto working with minio, and if so are there any guides out there for this?

So far, I'm able to connect via boto but it fails because the auth mechanism is not s

[2016-01-09 00:29] harshavardhana commented on #1025
@bacongobbler - Minio server only supports signature v4. So the S3_USE_SIGV4 is correct, we haven't documented using boto with Minio server yet.

If you use signature version '4' with region as 'us-east-1' it will work. But i will try it out locally and document it.

[2016-01-09 03:04] harshavardhana commented on #1025
Looks like boto3 defaults to signature version '2'

`{"StartTime":"2016-01-09T03:03:40.166787289Z","Duration":2290,"StatusMessage":"","ContentLength":"","HTTP":{"ResponseHeaders":{},"Request":{"Method":"GET","URL":{"Scheme":"","Opaque":"","User":null,"Host":"","Path":"/","RawPath":"","RawQuery":"","Fragment":""},"Proto":"HTTP/1.1","ProtoMajor":1,"ProtoMinor":1,"Header":{"Accept-Encoding":["identit

[2016-01-09 04:05] harshavardhana commented on #1025
https://github.com/minio/minio#how-to-use-aws-cli-with-minio - just added documentation, looks like boto is working.

[2016-01-09 04:05] harshavardhana commented on #1025
going to test boto3 now.

[2016-01-09 04:15] harshavardhana commented on #1025
Here you go make sure that you do these things before using boto3 and just follow https://github.com/minio/minio#how-to-use-aws-cli-with-minio, since boto3 and aws cli shares the same configuration files.

[code]

[2016-01-09 04:15] #1025 closed, assigned to harshavardhana

[2016-01-09 10:24] koolhead17 opened #1027 "unexpected " aws s3 mv " behavior"
I am trying to do basic minio operations with aws CLI, I tried executing move(mv) operation. Please find detailed debug operation output.

[code]

[2016-01-09 10:29] koolhead17 opened #1028 "unexpected " aws s3 cp " behavior"
I am trying to do basic minio operations with aws CLI, I tried executing copy operation. Please find detailed debug operation output.

[code]

[2016-01-09 10:48] koolhead17 opened #1029 "unexpected " aws s3 sync " behavior"
I am trying to do basic minio operations with aws CLI, I tried executing 'sync' operation. Please find detailed debug operation output.

[code]

[2016-01-09 17:56] harshavardhana commented on #1028
[code]

[code]

[2016-01-09 18:01] harshavardhana commented on #1028
Failed for me too..

[2016-01-09 19:20] #1029 closed, assigned to harshavardhana

[2016-01-09 19:20] #1028 closed, assigned to harshavardhana

[2016-01-09 19:24] harshavardhana commented on #1027
This works too.

[2016-01-09 19:24] #1027 closed, assigned to harshavardhana

[2016-01-10 03:22] harshavardhana commented on #1029
https://github.com/golang/go/issues/13893 - fix has been merged and will be available in Golang 1.6

For the time being there is a work-around in place.

[2016-01-14 00:39] rafael-leo-almeida commented on #1007
@harshavardhana thanks. Wainting to do new tests.

[2016-01-14 00:47] harshavardhana commented on #1007
@rafaelsisweb aws-sdk-java is released.

[2016-01-14 23:27] harshavardhana commented on #1007
@rafaelsisweb - following code now works with minio server with the new aws-sdk-java release. Closing this bug.

[code]

[2016-01-14 23:27] #1007 closed, assigned to harshavardhana

[2016-01-15 00:40] arschles opened #1033 "Cannot build with CGO_ENABLED=0"
Hey guys,

I'm trying to build a Minio server from HEAD to run in an `alpine:3.3` container as part of the Deis platform. I'm currently building from HEAD using [this script](https://github.com/deis/minio/blob/master/server/install.sh), which essentially downloads the latest source code from `master` and runs `make install` on it.

When running that in a docker container that includes the `CGO_ENA

[2016-01-15 00:49] harshavardhana commented on #1033
The issue is largely coming in from the assembly files which require CGO

[2016-01-15 01:19] harshavardhana commented on #1033
@arschles - is there a reason to build minio inside docker image? - There is a more convenient way - 'make dockerimage'

In this case it would create a docker image with minio binary copied in. There is a way to fix it btw, working on it.

[2016-01-15 01:20] harshavardhana commented on #1033
With CGO enabled 'minio' server will use processor optimized version of sha256 which are significantly faster than Golang sha256 package.

SO wondering it makes sense to not disable them this way even for docker images.

[2016-01-15 02:28] #1033 closed, assigned to nobody

[2016-01-15 18:16] arschles opened #1035 "make the docker binary check more generic"
for users who have the `docker` CLI installed in a non-standard location for linux, the `make dockerimage` target won't work. [This line](https://github.com/minio/minio/blob/master/Makefile#L74) should probably be changed to `which docker`

[2016-01-15 18:23] harshavardhana commented on #1035
Perfect. Will change that.

[2016-01-15 18:26] arschles commented on #1035
thanks @harshavardhana !

[2016-01-15 18:37] arschles commented on #1033
Hey @harshavardhana - I unfortunately need to build a binary that I can `COPY` into my own Docker image, which is based on `alpine:3.3`. This doesn't work if I `make dockerimage` and then `docker cp` the binary into my alpine based image due to an exec file format error.

I do believe that `go build --ldflags '-extldflags -static'` does produce an alpine compatible binary when executed with `GOOS=

[2016-01-15 18:39] harshavardhana commented on #1033
What architecture are you looking for alpine? is this arm based? -

Additionally current HEAD should build without cgo available . I made changes so that they all fall back to golang native packages rather than using our assembly files.

[2016-01-15 18:42] #1035 closed, assigned to nobody

[2016-01-15 18:43] arschles commented on #1033
It can still be amd64, but they'll have to be built without cgo available. I haven't been keeping up with HEAD for the past week or so - is there a makefile target that will build with cgo turned off?

[2016-01-15 18:44] harshavardhana commented on #1033
There is no need if CGO is disabled it will automatically build with regular 'make'

[2016-01-15 18:49] harshavardhana commented on #1033
We have written extensions of sha1,sha256 and sha512 which sadly requires CGO since the extensions are in assembly for processor optimizations.

But we added build pragmas so that if cgo is disabled we don't throw errors during builds,  rather fallback to golang native packages.

[2016-01-15 18:59] arschles commented on #1033
Ok, thanks for that explanation. From what I understand, and given the restrictions given by the makefile, the below command should work:

[code]

It indeed works:

[code]

However, it still doesn't run inside `alpine:3.3`:

[code]

I believe this is because the `go build` command is still missing the `--ldflags '-extldflags -static'` flags in the `gomake-all` target. Thoughts?

[2016-01-15 19:00] arschles commented on #1033
By the way, I have to run the build commands inside of a container because I'm running them on a mac and don't have any linux headers installed.

[2016-01-15 19:04] harshavardhana commented on #1033
The binary is built and should be available inside your GOPATH in the docker image, not at './minio'

[2016-01-15 19:08] harshavardhana commented on #1033
Oh i see the '-v' is set, wondering where its copied to.

[2016-01-15 19:09] arschles commented on #1033
Ah, typo in the second command. I forgot to mount the volume to `/minbin` inside the container. Note the addition of `:/minbin` after the `-v $GOPATH/bin`.

After fixing the command, it looks like things work. Logs below. Thanks for your help here.

[code]

[2016-01-15 19:11] harshavardhana commented on #1033
Perfect as expected.

[2016-01-15 19:12] harshavardhana commented on #1033
Ping us if you have more issues..

[2016-01-15 19:12] arschles commented on #1033
Will do, thanks @harshavardhana

[2016-01-20 11:36] JaCoB1123 commented on #1024
I just tested restic with minio and got the following error
[log.txt](https://github.com/minio/minio/files/97335/log.txt)

[2016-01-20 16:54] harshavardhana commented on #1024
Thanks @JaCoB1123 . Looks like a windows issue taking a look.

[2016-01-20 22:58] harshavardhana commented on #1024
Thanks @JaCoB1123 this is a Golang runtime bug and perhaps a known issue will be fixed only in Go 1.6 release which will happen in couple of weeks relevant issue to be noted here.

[code]

https://github.com/golang/go/issues/13287

[2016-01-20 23:06] harshavardhana commented on #1024
@JaCoB1123 can you paste "minio.exe --debug" output?

[2016-01-21 08:13] JaCoB1123 commented on #1024
I get `Unknown flag. ‘--debug’`. Not sure if this helps you anyway.
Passing `--debug` to `minio server` does not work either.

[code]

[2016-01-21 08:31] JaCoB1123 commented on #1024
I just rebuilt with go1.6beta2 and now the backup completes without an issue.

[2016-01-21 16:51] harshavardhana commented on #1024
Thanks I will reproduce this problem, hopefully now we know that it's golang 1.5.1 that's the issue.

[2016-01-21 23:41] harshavardhana commented on #1024
Not able to reproduce this with golang1.5.1 , looks like a rare problem. @JaCoB1123 can you tell us more on how the issue is reproduced or basically are you able to see it all the time when you use restic with minio?  - thanks

[2016-01-22 23:37] arschles opened #1041 "release: Official release?"
Will Minio have an official release or something similar? Right now, [deis/minio](https://github.com/deis/minio) is using builds from HEAD of this repository, but we'd prefer to use something that the team considers stable and will support for a defined amount of time.

[2016-01-23 00:15] harshavardhana commented on #1041
Yes we will, we are currently working on that. We are planning on making an official release end of this month to feb 1st week.  Officially released binaries will be signed,  anyone using locally can verify the signed binaries using public key.

Additionally we consider 'HEAD' to be always ready to be used or at least pre-production, there is no unstable branch :-)

[2016-01-23 09:26] harshavardhana opened #1043 "ssl: Support automatic SSL with letsencrypt"
Implement automatic SSL with https://letsencrypt.org/ support.

[2016-01-23 09:27] harshavardhana opened #1044 "browser: Implement file browser."

[2016-01-24 00:02] arschles commented on #1041
Sounds good @harshavardhana. We've found that HEAD has indeed been very stable, but we're really looking forward to trying out the official release!

[2016-01-24 00:45] harshavardhana commented on #1041
@arschles -  we will keep you guys informed. Thanks for the heads up.

[2016-01-26 13:01] fwessels opened #1048 "aws s3 cp fails whereas aws s3 ls succeeds"
I have uploaded a test file using 'mc cp' to a test bucket on the public server, and configured the AWS CLI according to the instructions which works correctly for the 'ls' command:

[code]

which produces the correct result:

[code]

However when I try to do 'cp' or 'rm' command I get an 'Invalid argument type', e.g.:

[code]

[code]

This is the profile that I am using for 'minio-play' from ~/.a

[2016-01-26 13:36] fwessels opened #1049 "Certificate not valid for <bucket>.play.minio.io"
Running program below reports an error for invalid certificate:

[code]

Running as HTTP gives a 'malformed HTTP response':

[code]

(I also had to add 'frank.play.minio.io' to local hosts)

Test program:

[code]

[2016-01-26 18:05] harshavardhana commented on #1049
Certificate is valid its just that we do not support virtual style for buckets like Amazon S3, you have to use PathStyle to make requests to play.minio.io

[code]

[2016-01-26 18:08] harshavardhana commented on #1048
This cp style is incorrect while the 'aws s3 ls' works without `s3://` it is expected for cp

[code]

Also you don't need to use credentials for https://play.minio.io:9000 it is a public server.

[2016-01-26 21:57] fwessels commented on #1048
Thanks, this fixed the issue.

[2016-01-26 21:57] #1048 closed, assigned to nobody

[2016-01-26 22:14] fwessels commented on #1049
Verified, works accordingly.

[2016-01-26 22:14] #1049 closed, assigned to nobody

[2016-01-27 04:20] harshavardhana opened #1052 "Infinite loop issue for large listing, marker v/s objectnames will ignore the calls and this leads to hangs."

[2016-01-27 07:38] #1052 closed, assigned to nobody

[2016-01-28 03:38] harshavardhana opened #1056 "Missing files listed by minio server, this leads to 'mc mirror' to copy files repeatedly."
[code]

[2016-01-28 11:24] #1056 closed, assigned to harshavardhana

[2016-01-28 14:07] timhughes opened #1058 "Exporting root filesystem - security issue ?"
Latest from source

When i start the server and then do an `ls` I get served the / directory of my server and can download anything that the user running minio has access to. I would expect it to not serve anything until I had created  a bucket and copied stuff in.

[code]

[code]

[2016-01-28 14:17] krishnasrinivas commented on #1058
@timhughes this is an `mc` bug what it is doing is effectively `mc ls /` i.e it is not even contacting the minio-server

you need to do this:
`mc config host add myminio http://localhost:9000 XXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX`
`mc ls myminio/`

[2016-01-28 16:36] notnoopci opened #1059 "AWS S3 SDK Incompatibilities"
I'm having a tough time with using AWS S3 Java SDK against minio server, particularly around object metadata and presigned urls.  I created a sample project with some unit tests exposing the issues I've seen: https://github.com/notnoopci/minio-java-test/blob/master/src/test/java/MinioTest.java  .  What can I do to fix them?

You can see the failures in CircleCI builds, e.g. https://circleci.com/gh

[2016-01-28 18:56] harshavardhana commented on #1058
@krishnasrinivas is right this is a 'mc' bug in current 'master', fixing it.

[2016-01-28 19:10] harshavardhana commented on #1059
@notnoopci - looks like presigned URLs generated by AWS Java SDK are a little different.

https://circle-artifacts.com/gh/notnoopci/minio-java-test/4/artifacts/0/tmp/circle-artifacts.ps0AHnx/classes/MinioTest.html#uploadWithCurlWorks

https://circle-artifacts.com/gh/notnoopci/minio-java-test/4/artifacts/0/tmp/circle-artifacts.ps0AHnx/classes/MinioTest.html#authenticatedURLWorks

https://circle-art

[2016-01-28 19:24] harshavardhana commented on #1058
https://github.com/minio/mc/pull/1595 - this fixes the problem on 'mc'

[2016-01-28 19:43] harshavardhana commented on #1059
From what i can see

Minio libraries are generating URL of this form

`http://localhost:9000/asdf/authenticatedURLWorksTest?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=WLGDGYAQYIGI833EV05A%2F20160128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20160128T193943Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=3af801aee4e49090360864c7c630c2fd26cf9688f589fe04a7f6e66cf184f459`

AWS S

[2016-01-28 19:46] harshavardhana commented on #1059
This would lead to signature mismatch error, fixing it.

[2016-01-28 20:02] notnoopci commented on #1059
Thanks for looking into this!

Any pointers for known limitations?  I'd be happy to contribute to get metadata and user-defined metadata as well.  A PR next week is coming up :).

[2016-01-28 20:14] harshavardhana commented on #1059
We haven't documented few things which we should, i will write a comprehensive markdown on incompatibilities or basically omitted features.

We need to decide on where to put this metadata since it has to be a portable implementation to work even on windows. Additionally object metadata can grow big so we need to be careful about that as well :-).

[2016-01-28 20:20] harshavardhana commented on #1059
This would be great!

[2016-01-28 20:27] #1059 closed, assigned to harshavardhana

[2016-01-29 10:06] fwessels opened #1064 "listObjecs: Listing performance"
I have created a test minio server that stores 100K objects and noticed that the (prefix) listing performance started to decrease as more objects were added.

Are there any guidelines for max number of objects and/or performance for the minio server? Or is this more a case for the "XL" server? (haven't investigated)

Here are the results when listing all objects that start with prefix '0000000' of

[2016-01-29 10:16] harshavardhana commented on #1064
@fwessels - This is a great test,  is this test run against current minio server code base on master or the released version?

Released version had some limitations and it slows down a bit, the current master has been optimized. But the optimization is still not finished yet.

We haven't really done any benchmarks and currently there are no known limitations as such. For simple filesystem backend

[2016-01-29 10:18] harshavardhana commented on #1064
Is it possible to share the source code for this tool? - Thanks.

[2016-01-29 10:26] fwessels commented on #1064
I am running the master version (commit 68a25aa).

Below is the source code -- you should be able to run it against the S3 bucket (public read access), may be a bit slower for you as it is in eu-central-1.

[code]

[2016-01-29 10:43] fwessels commented on #1064
If you would like to have a copy of the minio bucket, I can zip it up for you and send it separately (it is about 414 MB uncompressed).

[2016-01-29 11:16] harshavardhana commented on #1064
Sure you can upload it to https://play.minio.io:9000/ using 'mc'

[2016-01-29 11:16] harshavardhana commented on #1064
Thanks this is good to know. I will take a look.

[2016-01-29 12:08] fwessels commented on #1064
You can also run it against one of the AWS Public Datasets, for instance the [multimedia-commons](http://aws.amazon.com/public-data-sets/multimedia-commons/) which is located in us-west-2 (and hence a bit slower for me).

[code]

[2016-01-29 12:30] fwessels commented on #1064
I have sent you an email with a download link for the minio test bucket.

[2016-01-29 17:22] harshavardhana commented on #1064
Thanks i have download the data sets.

[2016-01-30 23:47] harshavardhana commented on #1064
Looks like the problem is between recursive and non recursive i see that we recursive there is a memory leak.

Memory is up for the same data sets in recursive is up by 10x and the listing has slowed down. Where as  listing with 'non-recursive' is acceptable.

Will work on getting this fixed.

[2016-01-31 00:03] harshavardhana commented on #1064
For the time being this is an expected value for a filesystem, since it is not using a database to pre-sort the keys. Keys are sorted and then replied back - even for prefix based match.

Another think to see is the files being dumped entirely in a single bucket at top level, for a filesystem it is a wrong prefix/key combination but a perfect use case for databases. Dumping all files in a single d

[2016-01-31 00:08] harshavardhana opened #1066 "listObjects: Listing recursive can run out of memory"
This was observed with a simple data set provided by @fwessels

[2016-02-01 09:33] JaCoB1123 commented on #1024
Sorry, I didn't notice the notification until now.
The folder to backup contained multiple big files (>500MB, Database Backups). The error occured after a few seconds and not instantly. Maybe your dataset wasn't large enough?

[2016-02-01 10:09] harshavardhana commented on #1024
My data was around 100MB, if its possible would you mind giving it a try and reproducing again?

[2016-02-01 19:27] timhughes commented on #1058
Thanks

[2016-02-01 19:27] #1058 closed, assigned to harshavardhana

[2016-02-01 20:09] harshavardhana commented on #1058
No thank you :)

[2016-02-02 12:08] AntiPaste opened #1071 "Copying files within minio (S3 -> S3) fails"
Using AWS SDK for Go copying a file within minio creates an empty file (0 bytes).

[code]

Above example creates an empty file called `destination` regardless of the size of the `source` file.
s3cmd seems to fail in a different way, refusing to copy the file at all:

[code]

[2016-02-02 13:43] krishnasrinivas commented on #1071
@AntiPaste minio does not support [CopyObject](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectCOPY.html)

[2016-02-02 19:44] harshavardhana commented on #1071
Apart from what @krishnasrinivas already said @AntiPaste - what you are attempting would mean x-amz-copy-source is minio server,  CopyObject is a feature which works well with in Amazon and its regions alone. Amazon will have no idea of what minio's credentials are and where it could even read the data from.

To copy from 'minio server' to s3 we have a easy to use tool called [mc](https://github.c

[2016-02-03 00:57] harshavardhana opened #1074 "logging: Add logging across codebase"

[2016-02-03 01:12] harshavardhana commented on #910
This is implemented and fixed.

[2016-02-03 01:12] #910 closed, assigned to krishnasrinivas

[2016-02-03 02:04] harshavardhana opened #1076 "fs/listObjects: Re-Implement"
- Correctness - phase 1
- Performance - phase 2

[2016-02-03 05:03] #1023 closed, assigned to nobody

[2016-02-03 07:40] #1019 closed, assigned to harshavardhana

[2016-02-04 02:39] pirogoeth opened #1081 "rpc: Merge minio browser port 9001 with 9000"
I have a slightly strange set up -- picture it as two machines, both with separate external addresses as well as an internal/private network. Server A runs production services, including main web, where the minio file browser is being hosted. Server B runs a series of Docker images where I am running minio API+RPC.

On Server A, I've configured nginx to serve the browser on `cdn.prod.example.org`

[2016-02-04 02:40] harshavardhana commented on #1081
Thanks we will take a look.

[2016-02-04 05:43] harshavardhana commented on #1071
This out of scope for 'minio' closing.

[2016-02-04 05:43] #1071 closed, assigned to nobody

[2016-02-05 13:25] leifcr opened #1094 "server: Feature request: custom content types"
Ideally all content types would be added to https://github.com/jshttp/mime-db, but I still think it is would be a good feature.

[2016-02-05 14:04] JaCoB1123 commented on #1024
I didn't have Go 1.5 installed anymore so I reinstalled 1.5.3.
- updated restic to restic/restic@7a8054d6784105e60750824636ded46f524ff7c6
- updated minio to 53a983659e1094fd891730162c99f27e7b873509
  There was a newer commit available but it wouldn't build because of `assertFS`
- rebuilt both
- Created a new Folder for minio
- started minio
  `minio.exe server D:\minio >` [log.txt](https://github.

[2016-02-05 21:00] harshavardhana commented on #1094
Setting custom types through Put operation will be supported when the XL version is merged, for the time being Filesystem backend doesn't remember any custom content-type. So we just rely on mime-db for the best guess.

[2016-02-05 21:03] harshavardhana commented on #1024
Perfect thank you, this is what is needed - the bug is really easy to reproduce on your windows node. Can you tell me more about the system details like windows version, etc. ? So that i can try to replicate your setup - Thanks.

[2016-02-05 23:26] #977 closed, assigned to harshavardhana

[2016-02-05 23:27] harshavardhana commented on #977
Fixed in current master to have granular locking and also adding doing multipart concatenation with large chunks avoided this problem.

[2016-02-05 23:34] harshavardhana opened #1098 "server: Should support some standard HTTP request headers in GET/HEAD"
If-Modified-Since

[code]

If-Unmodified-Since

[code]

If-Match

[code]

If-None-Match

[code]

[2016-02-06 09:18] leifcr commented on #1094
How about adding an attribute to config.json e.g.:

[code]

The map needs to be rebuilt upon loading the config, but the benefit would be great for applications, which won't come into mimedb. It also helps when mimedb might be get outdated in a production setup.

[2016-02-06 09:51] harshavardhana commented on #1094
We will see how it can be achieved.

[2016-02-07 00:42] JaCoB1123 commented on #1024
I'm running Windows 10 64-bit on a Machine with an i7-4770 and 16 GB RAM.
Anything else I can provide?

[2016-02-07 00:45] harshavardhana commented on #1024
Thanks - can you also paste 'go env' ?

[2016-02-07 01:03] JaCoB1123 commented on #1024
I'm on another machine right now. Will post it on Monday.

[2016-02-07 01:09] harshavardhana commented on #1024
Sure no problem thank you.

[2016-02-08 01:03] harshavardhana commented on #1041
An official release has been uploaded, please test and give us feedback. This version also brings 'minio browser' out of the box.

We are going to keep pushing more releases, closing this issue.

[2016-02-08 01:04] #1012 closed, assigned to harshavardhana

[2016-02-08 01:04] #1044 closed, assigned to krishnasrinivas

[2016-02-08 08:11] JaCoB1123 commented on #1024
As promised, here's the output of `go env`:

[code]

[2016-02-08 08:19] harshavardhana commented on #1024
Very cool, will try to reproduce. Thanks again.

[2016-02-09 06:01] arschles commented on #1041
Thanks @harshavardhana - do you happen to have binary releases anywhere? We'd love to use one for Alpine linux...

[2016-02-09 06:04] harshavardhana commented on #1041
@arschles we have it available always at https://dl.minio.io/server/minio/release/ - haven't build anything specifically for Alpine Linux? what architecture are you looking for?

[2016-02-09 06:17] harshavardhana commented on #1064
Closed - Duplicate of #1076

[2016-02-09 06:17] #1064 closed, assigned to harshavardhana

[2016-02-09 06:17] harshavardhana commented on #1066
Closed as duplicate of #1076

[2016-02-09 06:17] #1066 closed, assigned to krishnasrinivas

[2016-02-09 06:20] harshavardhana opened #1111 "config: Reimagine config fields and parameters, migrate existing config"

[2016-02-09 06:21] harshavardhana opened #1112 "minio-xl: Merge erasure and crypto implementations with minio, keep minimal code"
- Cleanup erasure
- Remove duplicated code

[2016-02-09 07:53] harshavardhana commented on #1041
Reopening so that @arschles , you can close this yourself once you have the new binaries for deis.

[2016-02-09 08:43] fwessels commented on #1064
Great, I'll give it a test run.

[2016-02-10 20:37] rafael-leo-almeida opened #1116 "docs: Improve Docker documentation."
Include in Docker.md an way to separete config files into a specific volume. In the same way that is done with data.
That will enable to recreate a container using original image whithou generate new credencials.

https://github.com/minio/minio/blob/master/Docker.md#persist-minio-configs

In my case I start two only data container (data || config) and attach to main container (app).

[2016-02-10 20:38] harshavardhana commented on #1116
Thanks @rafaelsisweb - we will look into it.

[2016-02-11 23:54] #1112 closed, assigned to nobody

[2016-02-12 00:09] harshavardhana commented on #658
Erasure coding code leads to a bug on windows code, currently tests are not running on windows . Need to test these out.

![screen shot 2016-02-11 at 4 08 44 pm](https://cloud.githubusercontent.com/assets/622699/12995110/c7057fd6-d0d9-11e5-9d6e-02c922e1da14.png)

[2016-02-12 17:43] harshavardhana commented on #1041
@arschles - were you able to try the new released binary for Alpine Linux yet? - Let us know Thanks.

[2016-02-12 18:36] arschles commented on #1041
Hey @harshavardhana - we haven't been able to review yet, but deis/minio#70 tracks that work. I'm gonna be getting back to working on that component of the Deis platform soon (probably this afternoon or Monday), so I'll try it then. Thanks for reminding!

[2016-02-12 18:40] harshavardhana commented on #1041
Thanks - let us know of any issues.

[2016-02-14 07:14] harel-e opened #1125 "fs/multipart: Error uploading file larger than 8mb"
Hello,

First of all, thanks for this wonderful utility.
I tried to upload a file of size 9mb using aws cli and got the following error

aws --endpoint-url http://localhost:9000 s3 cp ./largeFile s3://test2/
upload failed: ./largeFile to s3://test2/largeFile
Connection was closed before we received a valid response from endpoint URL: "http://localhost:9000/test2/largeFile?uploadId=gbE6BU1ugVLBKxx6

[2016-02-14 07:23] harshavardhana commented on #1125
Thanks for your report, taking a look.

[2016-02-14 07:26] harshavardhana commented on #1125
`mc` Seems to be copying fine checking what is the issue with `aws cli`

[code]

[2016-02-14 08:50] harshavardhana commented on #1125
We will be making a new release with more fixes in a few days, thanks for your report.  Keeping this open until then for you to download new binary and validate.

[2016-02-14 09:00] harel-e commented on #1125
Thanks, much appreciated.

[2016-02-14 13:35] harel-e commented on #1125
Tested on the latest code. No errors.

Thanks for the quick fix.

[2016-02-15 17:11] ghost opened #1128 "crypto/sha256: SIGILL: illegal instruction upon ls in KVM instance"
I tested this on 2 maschines (Debian Jessie up2date @KVM). If I run "./mc ls myserver" , the minio server dies instantly with.

**Output mc**:
mc: <ERROR> Unable to stat ‘myserver. Connection closed by foreign host http://94.23.xxx.xxxx:5555/. Retry again.
 (2) ls-main.go:100 main.checkListSyntax(..) Tags: [myserver](1) url.go:49 main.url2Stat(..) Tags: [myserver](0) pkg/client/s3/s3.go:291 s3.(*s

[2016-02-15 18:28] harshavardhana commented on #1128
This because of sh256 trying to initiate processor instructions for computation, KVM does not have those features.

Here is the following code - sha256_transform_rorx is an assembly function.

Keeping this bug open for discussion to be able to transparently disable this code internally at runtime, currently running inside KVM will lead to this issue.

[2016-02-15 20:12] ghost commented on #1128
If I understand correctly the situation should be solved if you add a generic fallback like https://golang.org/src/crypto/sha256/sha256.go that doesn't need special instructions set. Most VMs have them though, just saw that my 2 KVM are the "rare" case of not having SSE3+ or AVX :)

[2016-02-15 20:15] harshavardhana commented on #1128
We do have generic fall back but i am not sure why it didn't handle it

[code]

In this case rorx means that AVX2 was enabled, it could be that KVM exposes these through cpuid but not make all instructions available at the hypervisor layer.

[2016-02-15 20:24] ghost commented on #1128
flags: fpu de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pse36 clflush mmx fxsr sse sse2 syscall nx lm rep_good nopl pni cx16 x2apic popcnt hypervisor lahf_lm

if that helps anything ;)

[2016-02-15 20:30] harshavardhana commented on #1128
Can you run the following code if you have golang installed?

[code]

[code]

[2016-02-15 20:35] ghost commented on #1128
Name: QEMU Virtual CPU version 2.3.0
PhysicalCores: 0
ThreadsPerCore: 1
LogicalCores: 0
Family 6 Model: 6
Features: CMOV,NX,MMX,MMXEXT,SSE,SSE2,SSE3,POPCNT,CX16
Cacheline bytes: 64
L1 Data Cache: 32768 bytes
L1 Instruction Cache: 32768 bytes
L2 Cache: 4194304 bytes
L3 Cache: -1 bytes
We have Streaming SIMD Extensions

[2016-02-15 20:42] harshavardhana commented on #1128
[code]

One more - thanks!

[2016-02-15 20:42] ghost commented on #1128
no output

[2016-02-15 21:39] harshavardhana commented on #1128
Okay this is most probably our bug, the cpu.HasAVX2() is returning true for KVM which shouldn't be. Fixing it.

[2016-02-15 22:35] harshavardhana commented on #1128
Re-open until release..

[2016-02-15 23:07] alexanderjulo opened #1130 "web: Running minio in a docker container behind a proxy"
Currently I am trying to run minio in a docker container behind a proxy (I am using caddy for this).

While I was able to get some basic functionality to work, anything API related does not seem to work because it seems to be basing on the localhost still:

![screen shot 2016-02-16 at 00 00 51](https://cloud.githubusercontent.com/assets/144562/13062709/d36b36f2-d440-11e5-81e7-40d930d36b42.png)

I

[2016-02-16 13:49] klausenbusk commented on #1130
Have you tried starting minio with `--address 0.0.0.0:9000`?

[2016-02-16 13:57] klausenbusk opened #1131 "web: Improve "Minio Browser""
Add option to:
- Delete object.
- Create folder.
- Delete bucket.

[2016-02-16 15:10] alexanderjulo commented on #1130
Good question!. I have now. Creating a bucket seems to work, but when I try to upload a file, the following error appears:

`missing port in address drop.julo.ch (0) web-handlers.go:163 main.getTargetHost(..) Release-Tag:UNOFFICIAL.2016-02-08T00-59-00Z | Commit-ID:e79a73a3f5fa9b0111ecf2620be84ff5f3e9698a | Docker-Image:true | Host:68c97088e262 | OS:linux | Arch:amd64 | Lang:go1.5.1 | Mem:1.2MB/8.8

[2016-02-16 15:45] klausenbusk commented on #1130
I think you correct. Currently the API can't handle request where the targetHost parameter is missing the port.
Relevant code: https://github.com/minio/minio/blob/76ac78c0eb4b2c87a791fc1aeb07caea9629b8f0/web-handlers.go#L169
and the minion browser use `window.location.host` which strip port if port == 80/44
https://github.com/minio/miniobrowser/blob/5b914dd55dbfa0c4a99446422908eb54f4d40dc4/app/js/

[2016-02-16 16:14] krishnasrinivas commented on #1130
@alexex @klausenbusk thanks, we'll fix this!

[2016-02-16 16:50] alexanderjulo commented on #1130
@krishnasrinivas that'd be amazing, thanks!

[2016-02-16 16:59] harshavardhana commented on #1131
These are intentionally left out for the time being until we bring in a way to recover a deleted object, otherwise deletes UI become simpler and can lead to at times unintentional data loss.

[2016-02-17 03:11] harshavardhana commented on #1041
Checking back to see if you were able to validate the new released binaries?

[2016-02-17 03:13] harshavardhana opened #1133 "web: Vendorize UI assets and no need to download from dl.minio.io"

[2016-02-17 15:44] klausenbusk commented on #1131
Can't you just add a big red confirm box? Where people need to type in the bucket name, before they can delete?

[2016-02-17 15:44] klausenbusk opened #1134 "docs: Add server roadmap"

[2016-02-17 18:46] harshavardhana commented on #1131
It doesn't matter even in that scenario you might end up deleting accidentally, in our experience deleting accidently and not being able to recover is more costly. But definitely this will be implemented subsequently as we stabilize on more important aspects of the UI.

[2016-02-18 05:22] #1081 closed, assigned to nobody

[2016-02-18 08:57] harshavardhana commented on #1130
@alexex - can you share your nginx/proxy configuration? - oh i see that's caddy no worries that should be simple enough.

[2016-02-18 10:00] alexanderjulo commented on #1130
[code]

Something like this @harshavardhana :-)

But it is obviously made for the 2 port design, I don't think it'd apply anymore. Let me know whenever you have something ready for testing, I'm glad to help

[2016-02-18 10:48] harshavardhana commented on #1130
If you can build the latest source you can test it locally, you might have to get a new asset file from `miniobrowser` project as well.

Here is the simple caddy config i used.

[code]

[2016-02-18 10:49] harshavardhana commented on #1130
Thanks @alexex

[2016-02-18 12:02] alexanderjulo commented on #1130
@harshavardhana I already tried to build the source once locally and kind of failed spectacularly, don't know why, but I am not exactly a go expert, I will try to verify as soon as there is some kind of build available, i.e. a pre-release or whatever. :-)

[2016-02-18 12:59] klausenbusk opened #1137 "Upload travis build <somewhere>"
So it easier for users to test fix, without they need to build it them self.

[2016-02-18 17:51] harshavardhana commented on #1130
Can you paste the issues that you faced?  To build Go packages always has initial trouble of setting up proper GOPATH's, but we tried our best to sufficiently document them.  Let us know, we will be able to improve our docs.

[2016-02-18 17:52] harshavardhana commented on #1137
Actually this is a good idea, it is easier to upload to 'https://play.minio.io:9000'

[2016-02-18 18:57] arschles commented on #1041
Yep, we have a PR with experimental support for it in https://github.com/deis/minio/pull/75. We're in the process of validation, functional and manual testing now!

[2016-02-18 19:00] harshavardhana commented on #1041
Thanks @arschles .

[2016-02-19 14:08] osallou opened #1142 "Allow specifying AccessKey and SecretKey via cmd line or env"
Would be fine to be able to specify the accesskey and secretkey when starting server via command line or config.
An application could manage some credentials and start an minio server for one user, specifying its specific credentials. This would ease automation instead of parsing console ouput.

[2016-02-19 14:24] osallou commented on #1142
Seems config is recorded in ~/.minio/config.json. As we can specify config-folder, we can create a config at runtime and specify it so command-line direct access is maybe not needed.

[2016-02-19 14:24] #1142 closed, assigned to nobody

[2016-02-19 15:46] fd0 commented on #1142
I'd really like to be able to specify the access credentials in an environment variable or via command line. At the moment, I'm creating a config file and set the config directory, but that feels wrong.

[2016-02-20 09:38] alexanderjulo opened #1146 "Include root certificates in the minio docker container"
Currently the minio docker container does not contain any root certificates and thus it cannot run behind an SSL proxy, which might be a valuable usecase to many people. So we should include them in the container.

[2016-02-20 10:24] #1146 closed, assigned to nobody

[2016-02-20 14:59] alexanderjulo commented on #1130
This should be fixed now. :-)

[2016-02-20 14:59] #1130 closed, assigned to harshavardhana

[2016-02-22 10:26] hackintoshrao opened #1153 "make error while building from source"
make fails on systems where gpg is not installed. (currently failed on El captain OSX)
<img width="926" alt="screen shot 2016-02-22 at 3 56 02 pm" src="https://cloud.githubusercontent.com/assets/2609511/13215631/d5e58522-d97c-11e5-9677-fbd870f0d1be.png">

[2016-02-22 10:43] hackintoshrao opened #1154 "multiple make error OSX El captain"
1. yasm error
2. GPG error

   gpg: requesting key F9AAC728 from hkp server pgp.mit.edu
   gpg: no valid OpenPGP data found.
   gpg: Total number processed: 0
   gpg: keyserver communications error: keyserver helper general error
   gpg: keyserver communications error: unknown pubkey algorithm
   gpg: keyserver receive failed: unknown pubkey algorithm
   make: **\* [ui-assets.go] Error 2

[2016-02-22 10:53] harshavardhana commented on #1153
This is expected 'gpg' is a requirement, this will be removed after ui-asset vendorization @hackintoshrao

[2016-02-22 10:53] harshavardhana commented on #1154
Yasm is required for Erasure code library compilation,

This seems like a network error to fetch the public key from pgp.mit.edu.

[2016-02-22 11:01] harshavardhana commented on #1153
Closing, gpg dependency will be removed after asset vendorization, for the time being it is required to verify signature of assets downloaded from dl.minio.io

[2016-02-22 11:01] #1153 closed, assigned to nobody

[2016-02-22 11:04] harshavardhana commented on #1154
@hackintoshrao additionally can you please describe this error? - i do not know what to make of 'yasm error' ?

[2016-02-22 11:07] hackintoshrao commented on #1154
<img width="866" alt="screen shot 2016-02-22 at 4 35 41 pm" src="https://cloud.githubusercontent.com/assets/2609511/13216541/5c0496ac-d982-11e5-932a-25f7bc2a6382.png">
Yes, It was obvious issue of yasm not installed, but can the experience be made simpler for building from make by automating the yasm installation.

[2016-02-22 11:12] harshavardhana commented on #1154
Yasm should have been detected by the checkdeps.sh and complianed. It doesn't make sense to install yasm by ourselves.

I think the recent merge from minio-xl missed a change to verify this in checkdeps.sh - https://github.com/minio/attic/blob/master/minio-xl/buildscripts/checkdeps.sh#L25.

[2016-02-22 11:13] hackintoshrao commented on #1154
Yes, that's right. May be a graceful install command could have made experience easier.

[2016-02-22 11:13] #1154 closed, assigned to nobody

[2016-02-22 14:22] alexanderjulo commented on #1043
I don't think minio should do this on itself, if you use docker it is super easy to spin up any kind of proxy (like caddy or nginx-proxy) and link them to achieve the same thing.

[2016-02-22 15:53] hackintoshrao opened #1156 "logging: Easier error message"
The error message displayed when minio server is started in a non-existent directory seems to be complicated and needs a lot of cognitive load for a common end user to decipher and understand. May be the debug message could be kept out and just a simple message stating the directory doesn't exist would make more sense for a 12 year old using minio. What do you think? @abperiasamy  @harshavardhana

[2016-02-22 16:52] hackintoshrao opened #1157 "Error from PutBucketHandler while using POSTMan for S3 compatibility"
While using POSTMAN's built in functionality to generate headers for S3 authentication it seems like a non-supportive header is generated. The screenshots reveal more.

<img width="721" alt="screen shot 2016-02-22 at 10 13 37 pm" src="https://cloud.githubusercontent.com/assets/2609511/13225226/efa6b4ce-d9b1-11e5-8fec-6040dfc33cc2.png">
<img width="895" alt="screen shot 2016-02-22 at 10 14 05 pm" s

[2016-02-22 16:55] hackintoshrao opened #1158 "test: Write postman/newman collection tests"
bucket-handlers.go doesn't seem to have tests and benchmarks. Just want to confirm it before starting to write them. And if they don't exist please assign it to me I'm on it. @abperiasamy  @harshavardhana

[2016-02-22 17:36] harshavardhana commented on #1156
Currently all the logs are JSON formatted. It is meant to be on purpose so that the output is parsable.

[2016-02-22 17:37] hackintoshrao commented on #1157
looks like x-amz-acl is missing. But not sure form the S3 docs that this mandatory, if not there is a compatibility mismatch, will confirm, again please assign this to me.

[2016-02-22 17:38] harshavardhana commented on #1156
But I think for console printing we don't need JSON which will be fixed with the new config changes. Where as file, syslog and mongo logger are all formatted

[2016-02-22 17:39] harshavardhana commented on #1157
X-amz-acl is not mandatory.

[2016-02-22 17:41] harshavardhana commented on #1158
All the handlers are tested in server_fs_test.go by instantiating a http test server. See what else is missing there.

[2016-02-22 17:44] harshavardhana commented on #1043
You are right @alexex we are not implementing it just yet. Proxy solves this problem for us for the time being.

[2016-02-22 18:31] hackintoshrao commented on #1157
Since the virtual format needs DNS implementation BucketName.s3.amazonaws.com format of creating bucket is not implemented by Minio. Hence closing the issue.

[2016-02-22 18:31] #1157 closed, assigned to koolhead17

[2016-02-23 01:15] harshavardhana commented on #1158
Testing using postman is blocked until - https://github.com/mhart/aws4/pull/21

[2016-02-23 11:41] wangkirin opened #1159 "docs: how to set up a minio cluster?"
I am trying to use `minio` as object storage service in our project, but after reading `README.md`  I still don't know how to use `minio` to set up a large scale(multi-node)  storage cluster, could someone give me a guide? thank you !

[2016-02-23 13:11] osallou opened #1160 "web: add authentication to brower"
browser should have authentication (using access / secret key), at least optionally.

A very basic use case it executing N servers for N users. Then users are proxied to their server/browser. For security, access should be authenticated.

[2016-02-23 14:03] krishnasrinivas commented on #1160
Access is authenticated using secret/access Key, do you see the access not authenticated anywhere?

[2016-02-23 14:26] osallou commented on #1160
nope, this works fine, my fault. Certainly a previous old login and session kept open.... :-(
Closing issue.

[2016-02-23 14:26] #1160 closed, assigned to nobody

[2016-02-23 21:46] klausenbusk commented on #1159
I don't think you can run the XL version yet. Maybe ask at [gitter](https://gitter.im/minio/minio).

[2016-02-23 21:58] harshavardhana commented on #1159
@klausenbusk  - yes right @wangkirin sorry for responding late. Scale out version is a work in progress for now you can setup single backend filesystem.

[2016-02-23 21:59] harshavardhana opened #1164 "backend: Implement distributed XL backend"

[2016-02-23 21:59] harshavardhana commented on #1164
Will fix - #1159

[2016-02-23 22:26] harshavardhana opened #1165 "erasure: Fix erasure code to support go1.6 with cgochecks enabled"

[2016-02-24 00:32] wangkirin commented on #1159
@harshavardhana , thank you for your response : )
Are there any plan to support high availability  feature like multi copy of storage instance ?

[2016-02-24 00:49] harshavardhana commented on #1159
There are no plans to implement 'mutli copy/replication' .

XL backend will be erasure coded across multiple disks and nodes.  High availability is provided through XL backend which can withstand multiple disk failures.  XL backend has a max limit of 16 (8 data and 8 parity). You may scale up with 1 server and 16 disks or 16 servers with 1 disk each or any combination in-between. Any of the 16 nod

[2016-02-24 02:44] harshavardhana commented on #1156
This is handled at #1123

[2016-02-24 03:59] hackintoshrao commented on #1156
:+1:

[2016-02-24 03:59] #1156 closed, assigned to harshavardhana

[2016-02-24 14:12] hackintoshrao commented on #1158
Unable to proceed because of https://github.com/postmanlabs/newman/issues/335

[2016-02-24 14:53] klausenbusk opened #1168 "docs: How minio compare to other object storage (Ceph, etc.)"

[2016-02-24 20:46] klausenbusk commented on #1168
I think something similar to how seaweedfs do it in their README. https://github.com/chrislusf/seaweedfs#compared-to-other-file-systems

[2016-02-27 00:13] kmala opened #1172 "api: Feature request support CopyObject API like S3."
Minio should support the CopyObject for it to be more compatible with s3.

[2016-02-28 04:44] #1172 closed, assigned to harshavardhana

[2016-02-29 02:13] harshavardhana commented on #1133
Vendorized closing.

[2016-02-29 02:13] #1133 closed, assigned to harshavardhana

[2016-02-29 02:30] harshavardhana opened #1176 "api: Support additional request headers for CopyObject handler."
Currently CopyObject only supports 'x-amz-copy-source', support following additional headers for completeness.

[code]

[2016-02-29 03:42] #1098 closed, assigned to nobody

[2016-02-29 18:28] arschles commented on #1041
@harshavardhana we tried out the official release in https://github.com/deis/minio/pull/75, but found that it doesn't _quite_ work for everything we need. We have a multipart fix in https://github.com/minio/minio/pull/1126 that would need to go into a new official release before we can adopt it.

[2016-02-29 22:26] harshavardhana commented on #1041
Yes we are planning to make a new release, which might happen this week.

[2016-03-02 00:56] hackintoshrao commented on #1158
Both the above issues are solved, moving ahead.

[2016-03-02 01:34] harshavardhana opened #1177 "list: Support docker registry with minio server"

[2016-03-02 01:55] #1177 closed, assigned to harshavardhana

[2016-03-02 02:35] harshavardhana opened #1179 "api: Complete Multipart should do eventual consistent style."
This is needed so that we don't block the client requests indefinitely for large files.  For example any files uploaded for example in range of 50GB would cause the clients to hang of sort until a CompleteMultipartUpload is fully completed. Since server is spending good amount of time re-reading contents and concatenation into a single large file.

This problem becomes evident for multiple large f

[2016-03-02 02:37] harshavardhana commented on #1024
We moved to default 1.6 with current master, this issue is not reproducible anymore. Setting #pending-release flag.

[2016-03-02 04:35] hackintoshrao opened #1180 "go vet shadow failure"
`go tool vet -all -shadow=true pkg/fs/*.go` gives
`pkg/fs/fs-multipart.go:494: declaration of e shadows declaration at pkg/fs/fs-multipart.go:468:`
which also leads to make failure on `go version go1.6 darwin/amd64`

[2016-03-02 05:11] hackintoshrao opened #1182 "assetFS redeclared: make error, build failure"
Running on OSX El Captain.
go version go1.6 darwin/amd64

Here is the log of the `make`

[code]

Here simple grep searching for assetFS in the root directory of the project
`$ grep "assetFS"  *.go`

[code]

[2016-03-02 05:26] harshavardhana commented on #1182
'make clean' and 'make' again.

[2016-03-02 05:27] #1180 closed, assigned to nobody

[2016-03-02 05:34] harshavardhana commented on #1182
This is expected since we moved from download assets to top level and vendorized it  'make clean' and 'make' again.

[2016-03-02 05:34] #1182 closed, assigned to nobody

[2016-03-02 05:36] harshavardhana opened #1183 "os: Write operating system specific function for handling special characters in files"

[2016-03-02 05:41] hackintoshrao commented on #1182
@harshavardhana , `make clean` and `make` is not working for me

[2016-03-02 05:42] harshavardhana commented on #1182
Ah remove the ui-assets.go file 'rm ui-assets.go'

[2016-03-02 05:52] hackintoshrao commented on #1182
Hmm, that solves the build issues. May be a solution to make it easier would be great.

[2016-03-02 05:53] harshavardhana commented on #1182
There is no way to do that, things are changing rapidly. So brace for it.

[2016-03-02 05:54] hackintoshrao commented on #1182
Sure :+1:

[2016-03-03 02:05] arschles commented on #1041
Cool. Can you ping here when that happens?

[2016-03-03 02:21] harshavardhana commented on #1041
Yes absolutely.

[2016-03-03 03:24] hackintoshrao commented on #1158
Encountered a bug during bucket creation using POSTMAN, here is the bug description https://medium.com/@hackintoshrao/33fba33470ed .

[2016-03-03 03:35] arschles commented on #1041
Thanks!

Sent from my iPhone

[2016-03-04 06:01] balamurugana commented on #1064
@fwessels you could try https://github.com/minio/minio/pull/1186.  This could help in performance :-)

[2016-03-04 08:30] fwessels opened #1190 "minio help doesn't work as expected"
[code]

I would suggest to implement it for consistency reasons...

[2016-03-04 08:55] harshavardhana commented on #1190
yeah it is implemented as '--help' it is intentional that we removed 'help' - but that message needs to be fixed.

[2016-03-04 09:00] krishnasrinivas commented on #1190
error message should be:
`minio: <FATAL> ‘help’ is not a minio sub-command. See ‘minio --help’.`

[2016-03-04 09:00] krishnasrinivas commented on #1190
Ah, you already noted that.

[2016-03-04 09:51] fwessels opened #1191 "Varying number of results returned when running List tests in parallel"
While testing for #1186 I ran `mc` a few times for verification purposes. While running `mc` and `listperf` in different terminal windows in parallel to the same minio server (with #1186 patch) I noticed some apparently prematurely terminated responses (and I would guess, the xx001 number of responses is not a coincidence as you are listing per 1000 items...).

[code]

[2016-03-04 09:54] harshavardhana commented on #1191
Yes this is fixed, i have seen this issue as well :-)

[2016-03-04 09:55] fwessels commented on #1191
Ok, great.

[2016-03-04 09:58] harshavardhana commented on #1191
Spoke too soon, the patch looks like still has this issue - pinged @balamurugana

[2016-03-04 10:59] fwessels commented on #1191
I observed the issue with the patch applied, not sure if it also occurs without the patch.

[2016-03-04 12:37] hackintoshrao opened #1194 "Documentation: Object naming guidelines"
Need Object naming guidelines which defines the effect of delimiters like forward slash and backward slash and many more being part of the object name and define safe practices around object naming.

[2016-03-04 17:01] harshavardhana commented on #1194
All files that are safe to be created in a said OS under said Filesystem. The limits of object naming is based on the limits of your backend filesystem.

[2016-03-05 01:09] hackintoshrao commented on #1194
Wanted to whether know forward slash in the object name will be interpreted as a folder by the SDK. Is backward slash is discouraged to be used in the file name? something like described here http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#storage-class-intro

[2016-03-05 01:36] harshavardhana commented on #1194
It is not interpreted by SDK , SDK behaves regardless what you are providing. A keyName can be any UTF-8 character with 1024 length.

There is no special handling of '/' or without '/' .

[2016-03-05 02:12] harshavardhana commented on #1194
The interpretation of '/' happens on the server side at backend layer.

[2016-03-05 03:35] harshavardhana commented on #1190
This issue is closed, in current master.

[2016-03-05 03:35] #1190 closed, assigned to nobody

[2016-03-05 18:23] hackintoshrao commented on #1194
This behavior seems to be different from how S3 behaves, and users coming form strong S3 background should be made aware of this.

[2016-03-05 20:48] harshavardhana commented on #1194
It is usually the other way round, what minio does is what S3 users expect.  Strong S3 background meaning they have applications which depend on certain API calls like versioning, lifecycle management etc which we don't support.

[2016-03-06 02:57] hackintoshrao commented on #1194
But this is what S3 documentation claims
`### Amazon S3 supports buckets and objects, there is no hierarchy in Amazon S3. However, the prefixes and delimiters in an object key name, enables the Amazon S3 console and the AWS SDKs to infer hierarchy and introduce concept of folders.`

[2016-03-06 03:04] hackintoshrao opened #1196 "api: Incompatibility with S3 behaviour on create bucket"
Attempt to create multiple buckets with the same name fails on Minio server, but it succeeds on S3. This breaks the compatibility with S3.

This attempt fails

[code]

Whereas this succeeds,

[code]

[2016-03-06 03:10] harshavardhana commented on #1196
This only succeeds for "us-east-1" region, not for other regions. It is S3's limitation :-)

[2016-03-06 03:10] #1196 closed, assigned to nobody

[2016-03-06 03:16] harshavardhana commented on #1194
`> ### Amazon S3 supports buckets and objects, there is no hierarchy in Amazon S3. However, the prefixes and delimiters in an object key name, enables the Amazon S3 console and the AWS SDKs to infer hierarchy and introduce concept of folders.`

Yeah it's a loosely coupled concept and on s3 anything is possible. But taking this into as an example imagine

`/a/b/c` as the key name and also `/a/b/c/`

[2016-03-06 04:19] hackintoshrao commented on #1194
Hmm, yes ..I agree... That adds more strength to the reason for which this issue was opened. Even i don't feel the need for those extreme cases 99.99% of the times, but I do feel the need for documenting these above mentioned differences in behavior since it is necessary to convey this to someone who is migrating from S3 to Minio. It is important to tell them that "Hey, you know what. We know you'

[2016-03-06 04:29] hackintoshrao commented on #1196
Oh wow! cool...

[2016-03-06 09:39] harshavardhana commented on #658
Closing duplicate of #1165

[2016-03-06 09:39] #658 closed, assigned to harshavardhana

[2016-03-07 02:52] #956 closed, assigned to harshavardhana

[2016-03-07 07:37] hackintoshrao opened #1198 "api: Server crash and multiple Sucess on concurrent bucket creation"
Here is the program which crashed the server, https://gist.github.com/hackintoshrao/109861edeffdd0f5ace7 .

The same program also gave success two times on creation of same bucket.

[2016-03-07 07:40] harshavardhana commented on #1198
[code]

[2016-03-07 11:06] klausenbusk opened #1200 "document: HTTP rate/connections limit for minio server."
Rate: Max X request/s global and per ip
Connection: Max X simultaneous connections global and per ip

[2016-03-07 23:30] hackintoshrao opened #1202 "enhancement: Using Reviewable Github integration for code reviews"
It would be great if we could use better tools for code review before accepting a PR. I love the experience provided by Reviewable for code reviews, otherwise we may have to end up discussing it over comments with links or copy-paste of the line of code under scrutiny. Here is an example https://github.com/cockroachdb/cockroach/pull/3528

[2016-03-07 23:40] harshavardhana commented on #1202
We can use,  but it is not really advisable on depending on external tools like reviewable.io unless we really need to - what seems to be the problem with github pull requests and comments?

[2016-03-07 23:56] hackintoshrao commented on #1202
This is the problem I'm facing. Let's say after reviewing a PR, you feel a need for changes in 25 different lines, but you may also want to ask some questions before suggesting changes for all of them, and lets say each one of these turn into a long conversation, it gets really really chaotic with comments. It would be great if something could group together these discussion around each one of the

[2016-03-08 00:19] hackintoshrao opened #1203 "tests: Inconsistent success behaviour of ./pkg/fs tests"
The image below depicts the issue. The tests succeed inconsistently while -race flag is used. Running latest pull of Minio on OSX El Caption
<img width="825" alt="screen shot 2016-03-08 at 5 46 43 am" src="https://cloud.githubusercontent.com/assets/2609511/13587904/586a1fa6-e4f1-11e5-9d7b-afdf404229db.png">

Here is the terminal log of entire trial https://docs.google.com/document/d/13hariQm-R1FXM

[2016-03-08 01:11] harshavardhana commented on #1203
:+1:  - seen it, the bug is fixed by @balamurugana patch for ListObjects.

[2016-03-08 01:16] hackintoshrao commented on #1203
cool... !

[2016-03-08 01:16] #1203 closed, assigned to nobody

[2016-03-08 01:16] harshavardhana commented on #1202
A collapsible comment approach is even valid with github.  Each one shouldn't turn into a long conversation in that case a patch should be dropped and re-implemented. The way to solve this problem is not by introducing new ways to do reviews, better to do smaller commits and concise ones where feedback can be provided in a well constrained manner.

Also if the reviews take lots of comments it's be

[2016-03-08 01:18] hackintoshrao commented on #1202
Wow.....makes sense. Wonder then what's the actual use case around reviewable!

[2016-03-08 01:18] #1202 closed, assigned to nobody

[2016-03-08 19:45] #1116 closed, assigned to koolhead17

[2016-03-09 08:24] harshavardhana commented on #1191
Closing this, since is fixed in new patchset at #1186

[2016-03-09 08:24] #1191 closed, assigned to nobody

[2016-03-09 14:12] krishnasrinivas opened #1207 "startup: do not start minio server if port is not free"
Reference: https://github.com/minio/minio-js/issues/431

Make sure that none of the other processes are listening on the
specified port on any of the interfaces.

On linux if a process is listening on 127.0.0.1:9000 then Listen()
on ":9000" fails with the error "port already in use".
However on Mac OSX Listen() on ":9000" falls back to the IPv6 address.
This causes confusion on Mac OSX that minio

[2016-03-10 02:47] harshavardhana commented on #1207
Looks like the patch didn't fix the issue on OSX

[code]

[code]

[2016-03-10 02:48] harshavardhana commented on #1207
The reason is perhaps net.Listen("tcp") itself,  ipv4 and ipv6 should be verified separately in the loop. Can you fix it @krishnasrinivas ?

[2016-03-10 19:02] harshavardhana commented on #1207
This is fixed.

[2016-03-10 19:02] #1207 closed, assigned to nobody

[2016-03-10 21:07] lukiano commented on #1008
Hi, I was trying your product. Pretty cool by the way, better than fakes3. But I'm streaming data and got stuck by this issue. Is there a way to disable signatures? Thanks!

[2016-03-10 21:12] harshavardhana commented on #1008
There is no way to disable signatures at the moment you can use payload based signature technique, can you paste your program or SDK that you are using ? Thanks

[2016-03-10 21:17] lukiano commented on #1008
I'm using the Amazon SDK in Java, where you set an InputStream with your contents. In this case I receive them from the network. The SDK internally has a small buffer so it can retry in case of errors. So, if my data is smaller than such buffer, it works fine. If bigger, I get "com.amazonaws.services.s3.model.AmazonS3Exception: The request signature we calculated does not match the signature you p

[2016-03-10 21:34] harshavardhana commented on #1008
Ah we provided a patch upstream to use SignatureV4 with payload directly rather than doing STREAMING you can use that for the time being.

In the meantime, we will add a check for this and respond back with an appropriate message.

[code]

[2016-03-10 21:43] #1076 closed, assigned to balamurugana

[2016-03-10 21:55] harshavardhana commented on #1008
Important parameter here is 'disableChunkedEncoding()' which basically would do payload verification.

[code]

[2016-03-11 02:15] GarimaKapoor opened #1215 "fs: Error Message: Specified Key does not exist"
<img width="1264" alt="screen shot 2016-03-10 at 6 12 37 pm" src="https://cloud.githubusercontent.com/assets/11859916/13691225/f5d4e392-e6eb-11e5-8696-3047e4866878.png">

[2016-03-11 07:15] koolhead17 opened #1217 "webRPC: unexpected "SSL " behavior"
I am running SSL for Minio server & getting the error in screenshot while creating a new bucket
![error](https://cloud.githubusercontent.com/assets/41746/13695638/a5004f60-e786-11e5-9c37-bef18d2fa76c.png)

[2016-03-11 15:34] gleclaire opened #1219 "docker: Docker image doesn't run with ipv6 addresses - checkPortAvailability() needs to be fixed"
The Docker Hub seems to only have a latest tag.  Since the current release is not working there does not appear to be a way to use a previous docker image

[2016-03-11 17:29] harshavardhana commented on #1219
Can you try again? there are two releases `minio/minio:latest` and `minio/minio:edge`

[2016-03-11 17:34] harshavardhana commented on #1125
New binary with fixes uploaded.

[2016-03-11 17:34] #1125 closed, assigned to harshavardhana

[2016-03-11 17:36] harshavardhana commented on #1024
New minio server released built with go 1.6, should fix this issue closing.

[2016-03-11 17:36] #1024 closed, assigned to harshavardhana

[2016-03-11 17:36] harshavardhana commented on #1041
@arschles - uploaded a new binary yesterday, can you validate it on your end?

[2016-03-11 18:24] koolhead17 opened #1220 "unexpected "minio docker image " behavior"
I am trying to run minio using its docker repo image. This is the error i am getting when i am using `docker run`

[code]

[2016-03-11 18:28] harshavardhana commented on #1220
Closing duplicate of #1219

[2016-03-11 18:28] #1220 closed, assigned to nobody

[2016-03-11 21:23] klausenbusk opened #1221 "aws: Hook support a la lambda"

[2016-03-12 01:14] #1215 closed, assigned to harshavardhana

[2016-03-12 01:30] harshavardhana opened #1223 "webrpc: Remove minio-go from the server use FS backend directly."

[2016-03-12 11:35] krishnasrinivas commented on #1219
@gleclaire can you do `service docker stop` `service docker start` and then try starting minio container?

I installed docker on a fresh ubuntu and saw the problem, but it went away once I restarted the docker daemon. (saw someone posting this on stackoverflow)

[2016-03-12 18:56] #1176 closed, assigned to nobody

[2016-03-12 18:59] harshavardhana commented on #1217
Will be fixed in #1223

[2016-03-12 18:59] #1217 closed, assigned to harshavardhana

[2016-03-14 04:22] krishnasrinivas opened #1230 "dockerimage: non 9000 port does not work for upload object"
this works:
`docker run -p 9000:9000 minio/minio`
this does not work:
`docker run -p 9001:9000 minio/minio`

[2016-03-15 10:53] koolhead17 opened #1231 "unexpected "mc access " behavior"
I am trying to set my bucket public, this feature was available before but now i see this message.

[code]

[2016-03-15 11:06] ekozan commented on #1231
It's linked to https://github.com/minio/minio-go/issues/340

[2016-03-15 14:21] rafael-leo-almeida opened #1232 "Docker Documentation"
In Docker.md, the config volume is been mounted on _/.minio_  but after Dockerfile was updated to use _alpine_ image the config folder now is **/root/.minio** in this case docker volume has to be changed.

from:

to:

[2016-03-15 17:02] harshavardhana commented on #1232
Fixed thanks @rafaelsisweb - btw can you take a look at #1227 and provide your feedback.

[2016-03-15 17:02] #1232 closed, assigned to nobody

[2016-03-16 05:08] Jeyaprabu opened #1234 "Updated minio server fails to start on windows platform (windows 8 and 10)"
**## updated minio server fails to start on windows10 and windows8,**
At the same time, older version runs perfectly on both platforms in the same port(http://127.0.0.1:9000)

`G:\minio\source\updated>minio version
Version: 2016-03-11T03:45:50Z
Release-Tag: RELEASE.2016-03-11T03-45-50Z
Commit-ID: b5c77b641de772c6abb223c80fdce2e00bdee7ca`

`G:\minio\source\updated>minio server c:\minioserver
time="

[2016-03-16 05:34] harshavardhana commented on #1234
Thanks @Jeyaprabu , we are aware of the issue :( , Fixing it .

[2016-03-16 21:29] arschles commented on #1041
@harshavardhana we're working on releasing our beta now, but I'll be starting to submit patches for upgrading both the new client & server for our first release candidate, and I'll mention this issue in each. Thanks for letting me know!

[2016-03-17 00:42] hackintoshrao opened #1237 "api: List Object Test failure when maxKeys set to 0"
When MaxKeys set to 0 in the test case here https://github.com/hackintoshrao/minio/blob/a5c8fe3a8b70e364a35a0829d59fcfb8b2a832b4/pkg/fs/fs-bucket-listobjects_test.go#L275 , the test fails since the behavior deviates from S3.

S3 returns an empty response, but Minio server sets the value to `listObjectsLimit` (1000 ) .  A simple check has to be done here https://github.com/minio/minio/blob/master/p

[2016-03-17 01:38] #1234 closed, assigned to krishnasrinivas

[2016-03-18 02:41] finlay opened #1240 "server "hello" message does not show correct key and secret if overridden"
If you override the access key and secret key, for example with ENV variables in the following Dockerfile:

[code]

The message displayed shows the randomly generated ones. However, the server is respecting them.

[2016-03-18 06:46] harshavardhana commented on #1240
Fixed by #1241

[2016-03-18 06:46] #1240 closed, assigned to harshavardhana

[2016-03-18 06:46] harshavardhana commented on #1231
Fixed by https://github.com/minio/mc/pull/1640

[2016-03-18 07:09] hackintoshrao opened #1242 "api: List obejct query with prefix sets Istruncted to wrong value"
The test case [here](https://github.com/hackintoshrao/minio/blob/8ffbbd70520e018800256deeca81937a659dc2ae/pkg/fs/fs-bucket-listobjects_test.go#L286) fails. Istruncated is set to `true` when ListObjects is called with prefix and maxKeys.

Here is the test scenario,
   ### My-Bucket
- new1
- new2
- obj1
- obj2

ListObjects with `prefix = new` and `maxKeys=2` sets IsTruncated to true in the ouput.

P

[2016-03-18 09:14] jsat97 opened #1243 ""s3cmd get" response header from minio doesnt contain etag for md5"
Invoked as: /usr/bin/s3cmd -d get s3://testbucket/file1 junk
Problem: KeyError: 'etag'
S3cmd:   1.6.1
python:   2.7.5 (default, Nov 20 2015, 02:00:19)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]
environment LANG=en_US.UTF-8

Traceback (most recent call last):
  File "/usr/bin/s3cmd", line 2919, in <module>
    rc = main()
  File "/usr/bin/s3cmd", line 2841, in main
    rc = cmd_func(args)
  File "/usr/

[2016-03-18 09:19] harshavardhana commented on #1243
Thanks @jsat97

[2016-03-18 09:29] harshavardhana commented on #1243
https://github.com/s3tools/s3cmd/pull/720 - a possible fix to avoid crash is pushed.

[2016-03-18 09:57] #1237 closed, assigned to nobody

[2016-03-20 18:17] kdkd opened #1247 "FreeBSD compatibility"
Right now the server can't be built on FreeBSD. The issues I've found so far:
1. checkdeps.sh doesn't recognize the architecture/OS (expected)
2. The top level Makefile needs to use "gmake" rather than "make" when building isa-l
3. isa-l is selecting incorrect ARFLAGS to build the library
4. pkg/crypto/sha\* is looking for "linux" for the architecture
5. pkg/disk/stat_nix.go is looking for getFSTy

[2016-03-21 01:20] harshavardhana opened #1248 "letsencrypt: Add a new CLI tool to generate cerificates"
Name it as `concert`.

`concert` is a console based certificate generating tool using letsencrypt.

[code]

[2016-03-22 05:13] #1242 closed, assigned to hackintoshrao

[2016-03-22 13:20] vadmeste commented on #1247
I can take this for this weekend @harshavardhana, what do you think?

[2016-03-22 16:58] harshavardhana commented on #1247
Sure @vadmeste.

[2016-03-23 18:18] harshavardhana opened #1259 "docs: How to use minio server as a windows service, to keep running all the time?"

[2016-03-23 18:32] harshavardhana commented on #1259
- https://github.com/kardianos/service
- https://godoc.org/golang.org/x/sys/windows/svc

[2016-03-26 04:29] #1243 closed, assigned to harshavardhana

[2016-03-26 04:30] harshavardhana opened #1263 "minio: Implement disk server (network disk) for XL"

[2016-03-26 04:31] harshavardhana opened #1264 "minio: Implement node discovery"

[2016-03-26 04:33] #1248 closed, assigned to harshavardhana

[2016-03-26 04:37] #1111 closed, assigned to nobody

[2016-03-26 04:37] #1128 closed, assigned to harshavardhana

[2016-03-26 04:37] #1043 closed, assigned to harshavardhana

[2016-03-27 05:29] harshavardhana commented on #1247
@kdkd we can now compile our project with FreeBSD - thanks to @vadmeste . would you mind giving it a try and letting us know if you face issues?

[2016-03-28 05:06] harshavardhana opened #1267 "api: error response for invalid access key id should be - ErrInvalidAccessKeyID, not Internal Error."

[2016-03-30 19:30] klausenbusk commented on #1200
Use-case: If you have fixed bandwidth (ex. 100/100), and you need to distribute a large files to many clients, then it is more optimal to let 10 clients download with 10 megabit each than 500 clients downloading at 0,2 megabit.

[2016-03-30 21:20] abperiasamy commented on #1200
You can use iptables (mangle) + tc to limit your outgoing http bandwidth. We will test it and make a simple howto.

[2016-03-30 21:25] klausenbusk commented on #1200
I don't want to limit outgoing bandwidth but max simulations connections, so every request run as short time as possible.
I prefer 10 connections finishing every minute instant of 100 connections finishing every 10 minute, if that make sense?

[2016-03-31 02:15] harshavardhana opened #1274 "minio: Implement network disk storage."

[2016-03-31 02:20] harshavardhana commented on #1219
This doesn't seem to be problem and not reproducible, closing for now. Please re-open if seen again.

[2016-03-31 02:20] #1219 closed, assigned to krishnasrinivas

[2016-03-31 02:21] harshavardhana commented on #1231
This expected and fixed in mc. Closing this.

[2016-03-31 02:21] #1231 closed, assigned to harshavardhana

[2016-03-31 02:22] harshavardhana commented on #1274
Closing duplicate of #1263

[2016-03-31 02:22] #1274 closed, assigned to krishnasrinivas

[2016-03-31 02:24] harshavardhana commented on #1164
Initial work #1270

[2016-04-01 06:37] #1267 closed, assigned to harshavardhana

[2016-04-01 23:58] remohammadi opened #1278 "region is lost/misreported in the authentication step"
Initially I reported it as a [client bug](https://github.com/minio/mc/issues/1658).

[2016-04-02 08:50] harshavardhana commented on #1247
Closing this as this is a fixed issue. Thanks @vadmeste

[2016-04-02 08:50] #1247 closed, assigned to harshavardhana

[2016-04-02 08:51] harshavardhana commented on #1198
Fixed in current master.

[2016-04-02 08:51] #1198 closed, assigned to hackintoshrao

[2016-04-02 18:25] #1223 closed, assigned to krishnasrinivas

[2016-04-03 08:01] #1278 closed, assigned to harshavardhana

[2016-04-04 13:40] ghost opened #1285 "signature: AWS SDK PHP presigned requests not working with minio"
Hello Guys,

im trying to use minio with the official aws sdk under php (version 3.17.3).
However trying to get an presigned request does not work and minio rejects it with:
`SignatureDoesNotMatch`

Im using the sdk together with laravel like this:

[code]

The request i am getting back is something like this:
`https://HOST/BUCKET/REDACTED?X-Amz-Content-Sha256=REDACTED&X-Amz-Algorithm=AWS4-HMAC-SH

[2016-04-04 15:56] harshavardhana commented on #1285
Thanks for the heads up will validate on our end @techscorpion

[2016-04-04 16:52] krishnasrinivas opened #1286 "docs: Document setcap Linux equivalent for all other platforms."
`minio: <ERROR> Please run ‘minio’ as a non-root user.`

Version: 2016-03-21T21:08:51Z

[2016-04-04 17:32] harshavardhana commented on #1286
https://gist.github.com/kujohn/7209628 - we will document this for all platforms which don't have setcap. This is not a OSX related issue.

[2016-04-04 20:14] harshavardhana commented on #1286
Another simpler way is just do this - 'go get github.com/harshavardhana/pf' and run 'sudo pf' by default will forward all ":80" to ":9000"

[2016-04-04 20:18] harshavardhana commented on #1285
is there link to a full php example that i can download?

[2016-04-04 20:25] harshavardhana commented on #1285
This would be a bug if signed headers have uppercase values, they should always be lowercased before sending to the server.  Perhaps S3 supports that too on server side but the Signature V4 spec indicates that they should be lower cased

http://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html

[2016-04-04 20:26] harshavardhana commented on #1285
This we don't support yet, can you open a separate bug for this ? - support "X-Amz-Content-Sha256" with pre-signed requests?

Thanks.

[2016-04-04 21:23] ghost opened #1288 "signature: Support "X-Amz-Content-Sha256" with pre-signed requests"
Open as enhancement request.

As stated in #1285

[2016-04-04 21:24] ghost commented on #1285
Okay, opened one.
Does this mean that the aws sdk has a bug? I would file that to them then

[2016-04-04 21:42] ghost commented on #1285
@harshavardhana:

To replicate:
- Create a new laravel project
- Add s3 to flysystem `composer require league/flysystem-aws-s3-v3 ~1.0` (https://laravel.com/docs/5.2/filesystem)
- Change S3 config in config/filesystems.php

[code]
- Take a controller route or just a normal quick route and try:

[code]

This uses the SDK directly through `$s3->getDriver()->getAdapter()->getClient()` because laravel

[2016-04-04 21:57] harshavardhana commented on #1285
Yep this is a bug, no other aws SDK does this. Thanks for the detailed instructions @tehscorpion will test it and support x-amz-content-sha256 for pre-signed.

[2016-04-05 02:46] AshwinJay commented on #1168
There is another one based on Cassandra - https://github.com/exoscale/pithos. It would be nice if the docs mentioned whether Minio with its current FS store allows forming a cluster of storage nodes.

Thanks.

[2016-04-05 02:47] harshavardhana commented on #1168
Currently it doesn't - it's a work in progress.

[2016-04-05 02:48] harshavardhana commented on #1286
👎  Actually this would be a bad idea, it should be kernel which decides so using 'pf' and 'rdr' at kernel level woould be better.

[2016-04-05 04:22] ghost commented on #1285
Here you go:
https://github.com/aws/aws-sdk-php/pull/952

:) ill close it.

[2016-04-05 04:22] #1285 closed, assigned to nobody

[2016-04-05 05:36] harshavardhana commented on #1285
Thanks @tehscorpion for pushing this through :-)

[2016-04-05 09:08] tjosten opened #1291 "Dropshare: An object already exists as your prefix, choose a different prefix to proceed"
Dropshare has the optional capability to create so-called landing pages for uploads (example: http://dsh.re/4c6b5).

In the S3 bucket, the files will be created as follows:
- Screen-Shot-2016-04-05-09-54-49-qatYXznMAz (HTML file)
- Screen-Shot-2016-04-05-09-54-49-qatYXznMAz/Screen-Shot-2016-04-05-09-54-49.png (Actual file)

This virtual folder structure is important, because it contains the option

[2016-04-05 09:20] krishnasrinivas commented on #1291
if you create an object `Screen-Shot-2016-04-05-09-54-49-qatYXznMAz`, at the backend it will create a file with name `Screen-Shot-2016-04-05-09-54-49-qatYXznMAz`, now if you try to create object `Screen-Shot-2016-04-05-09-54-49-qatYXznMAz/Screen-Shot-2016-04-05-09-54-49.png`, minio will try to create the directory `Screen-Shot-2016-04-05-09-54-49-qatYXznMAz/` and fail as a file already exists with

[2016-04-05 12:41] abipal15 opened #1292 "How do i add multiple hard drives to minio?"
I have a storage server with 12 TB capacity.

/dev/sda1 2TB
/dev/sda2 2TB
/dev/sda3 2TB
/dev/sda4 2TB
 ...

I want to allocate all drives to minio instance. How do I do it?

[2016-04-05 13:09] krishnasrinivas commented on #1292
Right now multi-disk/multi-node minio server is under development.
However single disk minio server is already ready to use, you can combine the 6 disks using [LVM](https://en.wikipedia.org/wiki/Logical_Volume_Manager_%28Linux%29) and run minio on top of the virtual disk.

[2016-04-05 15:18] torarnv opened #1293 "Using self-signed certificate doesn't work"
Using certificate and key produced by https://golang.org/src/crypto/tls/generate_cert.go

Gives

`Put https://localhost:9000/my-bucket/: x509: certificate signed by unknown authority`

When trying to create a bucked in the web UI.

I'm assuming this is because minio only trusts certs signed by one of the root CA in the system. I could install my generated cert as a trusted root cert system-wide, b

[2016-04-05 23:46] harshavardhana opened #1294 "listObjects: Doesn't list all with proper prefix"
Following output is misleading and we need to fix this behavior.

[code]

[2016-04-06 03:41] krishnasrinivas commented on #1294
weird, it works for me:

[code]

[2016-04-06 06:11] harshavardhana commented on #1294
Looks like a different problem, 'mc' related issue. Not server side "Stat()" returns the actual file rather than doing a prefix based listing closing.

[2016-04-06 06:11] #1294 closed, assigned to harshavardhana

[2016-04-06 20:32] ghost commented on #1288
For anyone who is using the AWS PHP SDK and running into the problem that you cannot use minio with presigned requests i just monkey patched one function.

Im using https://antecedent.github.io/patchwork/

insert the following lines to `bootstrap/autoload.php` as the first lines:

[code]

create `patches.php` under `bootstrap/`:

[code]

And make sure u are using no opcache because monkey patching

[2016-04-06 20:36] harshavardhana commented on #1288
Is there no way to turn it off in PHP sdk?  to not generate payload for presigned requests?

[2016-04-06 21:03] ghost commented on #1288
As i see the actual state of the sdk its not possible, i can investigate further... i see there is a function which says:

[code]

Maybe its another bug? Because this the client is using some other function which adds the header and THEN calls the function above:

[code]

`createPresignedRequest` creates the header and `getPresignedPayload` should be returning `UNSIGNED-PAYLOAD`.

The SDK says the

[2016-04-06 21:24] harshavardhana commented on #1288
Ah this looks like a bug, since it was not their intention to do it but it is happening underneath. Supporting payload verification with presigned is fine too on server side it adds an additional layer.

But the payload mismatch can only be triggered after all the data has been sent and verified, presigned is quicker without that since you already trust that URL. Unless you specifically need paylo

[2016-04-06 21:40] ghost commented on #1288
I filed another https://github.com/aws/aws-sdk-php/issues/954 :sleepy:

[2016-04-06 23:18] jeskew commented on #1288
@harshavardhana The PHP SDK (and other AWS SDKs) always include a X-Amz-Content-Sha256 header containing the string 'UNSIGNED PAYLOAD' when constructing presigned requests. This is what S3 expects and is intentional behavior in the SDK.

[2016-04-06 23:26] harshavardhana commented on #1288
I agree - here the X-Amz-Content-Sha256 - "sha256" of the actual payload. not "UNSIGNED-PAYLOAD"

[2016-04-06 23:26] harshavardhana commented on #1288
Will investigate and post more details.

[2016-04-07 01:15] donaldguy opened #1299 "Consider adopting chef cookbook: https://github.com/donaldguy/minio-chef"
I wrote a small Chef cookbook to help me get minio into my CD pipeline: https://github.com/donaldguy/minio-chef

Obviously it could use more work to verify it actually works cross platform and expand its capabilities

And it could use some InSpec tests

Its just my work, so I could probably transfer copyright in full if you care.

Its a start anyway.

[2016-04-07 01:17] donaldguy commented on #1299
If you take over it, consider publishing to http://supermarket.chef.io

[2016-04-07 01:28] harshavardhana commented on #1299
This is good work thanks! @donaldguy

[2016-04-07 01:35] harshavardhana commented on #1299
Its upto you, if you wish to maintain it. Otherwise we are happy to maintain it as well - either way works for us.

Will keep this bug open for the time being once we work through the details and publish it to supermarket.chef.io

[2016-04-07 02:12] harshavardhana commented on #1291
This style of approach is good for all flat namespace environment but it is not suitable for Filesystem / POSIX backends.  The tradeoff we choose is already explained by @krishnasrinivas.

The problem with having file structure like this is not being able to copy out this data to local fs - or perhaps need to have tools which write copy data back in a custom format.

Will keep the bug open for fut

[2016-04-07 10:04] #1288 closed, assigned to harshavardhana

[2016-04-09 22:30] harshavardhana commented on #1165
Not depending on CGO based erasure anymore.

[2016-04-09 22:30] #1165 closed, assigned to harshavardhana

[2016-04-11 21:41] paulovictorv opened #1309 "feature: Question about versioning"
Hi, I've looked around in your website + issues and I couldn't find anything about versioning - except a comment that says that minio does not support it (yet?).

So I was wondering: do you guys have any intention on implementing versioning or is something that you're not considering?

Thanks!

[2016-04-11 21:44] harshavardhana commented on #1309
At the moment no, we haven't really charted out this one yet.  We will keep this issue here and in-time update it.

[2016-04-11 21:45] paulovictorv commented on #1309
OK, great! Thanks for the quick reply

[2016-04-13 14:13] DatanoiseTV opened #1315 "Running minio server with HTTPs / nginx reverse proxy"
I am trying to reverse proxy using proxy_pass with nginx to terminate SSL.

Unfortunately something goes wrong.

[2016-04-13 15:43] harshavardhana commented on #1315
Can you paste you nginx proxy configuration? have you set properly?

[code]

[2016-04-13 15:50] DatanoiseTV commented on #1315
It was my fault. proxy_headers were not set. Now it works. Thanks!

[2016-04-13 15:50] #1315 closed, assigned to nobody

[2016-04-13 21:47] ghost commented on #1299
I would be more than happy to help maintain the cookbook. I'm currently using it.

[2016-04-14 07:22] harshavardhana commented on #1299
@donaldguy - can you send a pull request to https://github.com/minio/minio-chef - you can keep the copyright if you wish or we can change the ownership if that is more comfortable for you going forward.

We will be happy to publish this at http://supermarket.chef.io. Let us know what works for you.

Thanks a lot @gregf . will ping you once the repo transfer is complete.  Thanks again @donaldguy fo

[2016-04-14 20:04] oddietaco commented on #1309
This is something that my company would love!

[2016-04-14 20:52] harshavardhana commented on #1309
Great to know.

[2016-04-14 21:30] abperiasamy commented on #1309
If we implement versioning inside the server, it comes with a price. It introduces complexity and increases the chances for failures or corruption. Complexity is inversely proportional to scalability.  It is best to keep the server design focussed on storing large quantities of data safely and reliably. Features like silent-data-corruption verification are lot more important than versioning.

Alte

[2016-04-16 00:34] harshavardhana commented on #1230
This works with latest release.

[2016-04-16 00:34] #1230 closed, assigned to krishnasrinivas

[2016-04-17 01:09] #1183 closed, assigned to balamurugana

[2016-04-17 01:10] #1263 closed, assigned to krishnasrinivas

[2016-04-17 02:32] #1299 closed, assigned to harshavardhana

[2016-04-17 02:51] harshavardhana commented on #1158
Closing this as we have moved on to our own tests.

[2016-04-17 02:51] #1158 closed, assigned to hackintoshrao

[2016-04-17 15:18] msfjarvis opened #1322 "How to get minio working on a subdomain with nginx"
I host my [website](http://msfjarvis.me) on a baremetal scaleway server and have it serving a download [index](http://msfjarvis.me/downloads) of my work. Now, I want to serve an instance of minio through it. but rather than host it on msfjarvis.me:9000/ I want it to use minio.msfjarvis.me/ over port 80 (or 443 when I get my SSL cert). I setup nginx to route 127.0.0.1:900 to minio.msfjarvis.me/ by

[2016-04-17 15:42] krishnasrinivas commented on #1322
@MSF-Jarvis your nginx config looks right, will check and get back. In the meanwhile can you add:

[code]

and check?

[2016-04-17 15:56] msfjarvis commented on #1322
Thanks, will try and report. You guys are quick, appreciate your dedication
to your offering.

[2016-04-17 16:09] msfjarvis commented on #1322
Not working. Reloaded nginx too
On 17 Apr 2016 21:26, "MSF Jarvis" msfjarvis@gmail.com wrote:

[2016-04-17 18:58] booleanhunter opened #1324 "Minio Client printing ` Bucket name cannot be empty` errors while trying to print list of buckets"
**Here is the list of steps I followed to get this error**
- Run minio server - `minio server ~/Documents/miniobuckets/`.
- Config Minio Client - `mc config host add myminio http://localhost:9000 <AccessKey> <SecretKey>`.
- Creating new bucket - `mc mb myminio/bucket1`, which prints `Bucket created successfully ‘myminio/bucket3’`
- To list all buckets - `mc ls myminio/`
  This gives error - `mc: <

[2016-04-17 19:00] #1324 closed, assigned to nobody

[2016-04-17 19:33] harshavardhana commented on #1322
@MSF-Jarvis  - can you try this config

[code]

[2016-04-17 23:45] kdkd commented on #1247
Sorry for the delay, I can confirm this is working now on FreeBSD!

[2016-04-18 02:44] msfjarvis commented on #1322
@harshavardhana no luck. Restarted nginx and minio as well

[2016-04-18 03:07] harshavardhana commented on #1322
What is the error that you see?

[2016-04-18 04:24] msfjarvis commented on #1322
There's no specific error, just can't access it through the [link](http://minio.msfjarvis.me)

[2016-04-18 04:38] harshavardhana commented on #1322
Do you have CNAME entry in your DNS? for this host?

[2016-04-18 04:50] msfjarvis commented on #1322
msfjarvis.me and www.msfjarvis.me have A records pointing to the server's public IP. I have a CNAME for blog.msfjarvis.me for GitHub Pages

[2016-04-18 04:58] harshavardhana commented on #1322
You have to add a CNAME pointing to minio.msfjarvis.me, DNS resolution is failing.

[2016-04-18 06:59] msfjarvis commented on #1322
@harshavardhana CNAME doesn't take an URI in my provider :

[2016-04-18 11:17] dreh23 opened #1326 "Use minio with docker registry fails"
I compiled docker-registry from source and wan't to use minio as s3 storage backend. I created a bucket with mc and everything seems to work. If i push a docker image to the registry - minio throws errors and docker receives a 500 internal server error.

Log snippet minio:

`time="2016-04-18T12:05:43+02:00" level=error msg="ListObjects failed." Error={open /silo/container/registry/repo/docker/regi

[2016-04-18 16:23] harshavardhana commented on #1326
Can you test with the latest minio version?

[2016-04-18 16:29] msfjarvis commented on #1322
Thanks to everyone who helped! Solved on gitter

[2016-04-18 16:29] #1322 closed, assigned to koolhead17

[2016-04-19 01:49] hairyhenderson opened #1329 "minio fails to start in Docker 1.11"
When I start the [minio/minio](https://hub.docker.com/r/minio/minio/) image after upgrading to Docker 1.11, I see:

[code]

Which is weird, because that check first makes a call to `isContainerized` (https://github.com/minio/minio/blob/2bb262cc567c71da6556baf386a53fbe0440249e/main.go#L73).

Digging a little deeper, I see that `isContainerized` checks for the existence of `/.dockerinit` (https://gi

[2016-04-19 01:50] hairyhenderson commented on #1329
Oh, and an even simpler fix may be to just replace (or supplement) the check for `/.dockerinit` with a check for `/.dockerenv`... :wink:

[2016-04-19 02:26] #1329 closed, assigned to nobody

[2016-04-19 02:32] harshavardhana commented on #1329
Although accepted the patch the docker container is already fixed from 'release' branch.

[2016-04-19 06:35] dreh23 commented on #1326
Registry is throwing errors and docker receives a 500.

$ ./minio version
Version: 2016-04-18T17:14:48Z
Release-Tag: DEVELOPMENT.2016-04-18T17-14-48Z
Commit-ID: b47d722d8e24599dbfae311df3fd0a245d8fc2a3

$ ./registry -v
./registry github.com/docker/distribution v2.3.0-rc.1-245-g9d49169

$ ~/mc mb registry/repo
Bucket created successfully ‘registry/repo’.

$ docker push cell-registry-01.celluloidvfx

[2016-04-19 06:45] harshavardhana commented on #1326
Will test this thanks.

[2016-04-19 06:52] harshavardhana commented on #1326
@dreh23 would you mind pasting your registry configs here?

[2016-04-19 06:53] dreh23 commented on #1326
[code]

[2016-04-19 06:55] harshavardhana commented on #1326
[code]

^^^ Looks like registry is sending parts in invalid order.

[2016-04-19 19:19] krishnasrinivas opened #1334 "ListMultipartUploads - memory leak for large number of parts"
There is a memleak issue with list-multiparts.

[2016-04-19 19:19] krishnasrinivas commented on #1334
@harshavardhana please add any relevant details.

[2016-04-19 21:21] dreh23 commented on #1074
I believe [Prometheus](https://prometheus.io/) is a candidate for scalable metrics monitoring without reinventing the wheel.
Other 3rd party Programms do integrate prometheus as well:
https://prometheus.io/docs/instrumenting/exporters/#directly-instrumentated-software

[2016-04-19 21:22] harshavardhana commented on #1074
Prometheus is nice but this bug is regarding general logging inside the code

[2016-04-20 09:50] harshavardhana opened #1340 "object-api: aws-sdk-go upload manager fails with invalidPart"
[code]

The reason here is that aws-sdk-go doesn't calculate md5sum during PutObjectPart which we extensively use inside 'Multipart' code.

Example program to reproduce the error.

[code]

[code]

[2016-04-21 06:15] dreh23 commented on #1326
Is this a minio bug or should I file a bug report in the registry?

[2016-04-21 06:36] harshavardhana commented on #1326
We will update you tomorrow but we have some insights from our testing, haven't had time to look into docker registry code yet.

[2016-04-22 01:05] #1334 closed, assigned to nobody

[2016-04-22 03:07] harshavardhana opened #1350 "xl: multipart timesout with 'mc' with 16GiB dataset"
The problem here is that we are spending way too much time concatenating and writing to disk.

[code]

This happens even with

[code]

We need to see how to fix these issues.

[2016-04-22 07:31] harshavardhana opened #1353 "xl: ReadFile should verify sha512Sum as part of self-heal and readQuorum"

[2016-04-22 13:20] paulovictorv commented on #1309
If I understood what you said correctly, versioning would only be supported under the official Minio client and SDK's, right?

Wouldn't that break the 's3 compatibility' claim?

[2016-04-22 14:43] krishnasrinivas opened #1354 "XL selfheal - handle errors during selfheal and continue"
Currently selfheal aborts for any error. This needs to be handled and selfheal should continue.

[2016-04-22 14:45] krishnasrinivas opened #1355 "XL selfheal - can cause timeout."
If Selfheal takes a long time it can cause timeout for the clients during GET and HEAD operations.

[2016-04-22 19:16] sreeram-dev commented on #1074
@harshavardhana I have experimented with Prometheus trying to scale it up. I prefer Influxdb and the TICK stack around it. Easy to work with and integrates really well with grafana.
The choice boils down to pull based vs push based monitoring.

Regarding scalable logging framework. Need more details. Can we use https://github.com/Sirupsen/logrus It has great hooks.

[2016-04-22 20:12] harshavardhana commented on #1074
We already do!

As of now we are not planning to do this.

[2016-04-22 20:59] harshavardhana opened #1358 "xl: readFile hung at Rlock in one of the tests"
[code]

[2016-04-22 21:00] krishnasrinivas commented on #1355
after discussing with @harshavardhana we have a solution, we just selfheal in the background instead of blocking the client while doing selfheal. SelfhHeal and ReadFile both will acquire read-lock on the namespace so it will be fine.

[2016-04-22 22:38] harshavardhana opened #1360 "xl: CreateFile hung with NS lock in one of the tests."
The following tests hangs for the second PutObject.

[code]

[2016-04-22 23:49] harshavardhana opened #1361 "xl: ListObjects for max-Keys set to custom value lists less entries than requested"
This leads to setting of IsTruncated value to be true, for example the following test case.

[code]

Fails for both conditions, number of entries and IsTruncated is set to false.

[code]

[code]

FS code works fine.

[2016-04-23 00:36] harshavardhana opened #1363 "xl: Erasure coding decodes wrong data on windows"
[code]

[2016-04-23 02:15] harshavardhana opened #1364 "xl: ListFiles should handle readQuorum"

[2016-04-23 02:26] harshavardhana opened #1365 "objectapi: simplify listMultipartUploads code, add more comments"

[2016-04-23 02:26] #1360 closed, assigned to harshavardhana

[2016-04-23 02:26] #1358 closed, assigned to balamurugana

[2016-04-23 03:11] harshavardhana opened #1366 "[XL] Bring transaction framework for healing/recovery of previous incomplete transactions."

[2016-04-23 03:16] harshavardhana commented on #1292
Will be fixed by #1319

[2016-04-23 16:08] krishnasrinivas commented on #1361
issue is
`fsFilesInfo, eof, err = disk.ListFiles(volume, prefix, markerPath, recursive, count)`
when this is done, for `fs` parts.json will also be counted for the `count`

at XL listobjects, we have to loop through till we have `count` number of entries to return (like how it's done in list-multiparts)

Will fix it.

[2016-04-23 18:00] krishnasrinivas commented on #1361
`testPaging` passes now for XL

[2016-04-24 05:54] harshavardhana commented on #1361
Can you send the PR?

[2016-04-24 07:10] hackintoshrao opened #1369 "tests: Add comments"
Listing code readability issues, will be fixed in a while.
- https://github.com/minio/minio/blob/master/fs.go#L485 , ENOTDIR can be used.
- https://github.com/minio/minio/blob/master/object-utils_test.go , some comments need spaces in after // and full stop at the end.
- Needs comments for the tests here. https://github.com/minio/minio/blob/master/object_api_suite_test.go
- full stop at the end of

[2016-04-24 07:36] #1074 closed, assigned to harshavardhana

[2016-04-24 08:40] harshavardhana commented on #1041
This has been fixed.

[2016-04-24 08:40] #1041 closed, assigned to harshavardhana

[2016-04-24 18:46] hackintoshrao opened #1370 "object-api: Multipart: Validate size of incoming data"
Need to validate the case where the size argument is less than the actual number of bytes of data in the data(io.Reader) argument.
Will be fixed in the coming patch on multipart tests.

[2016-04-24 18:49] hackintoshrao opened #1371 "object-api: Multipart: Validate bucket existance."
Since Multipart operations are carried out inside `minioMetaVolume`, its important to validate whether the bucket exists before multipart is initialized.
Will be fixed in the coming patch on multipart tests.

[2016-04-25 22:03] harshavardhana opened #1377 "xl: Simplify or merge getQuorumDisks with getReadableDisks"
Seems like the logic is being repeated everywhere.

[2016-04-25 22:06] harshavardhana opened #1378 "xl: Rename getReadableDisks into -> listOnlineDisks and listOfflineDisks"
Each function return variables should have a name along with their types, if any given given function has more than '2' return variables.

For example

[code]

Has 4 return variables with only types, should carry names.

[2016-04-25 22:08] harshavardhana opened #1379 "xl: Remove usage of getFileQuorumVersionMap"
Redundant function and its not needed.

[2016-04-25 22:09] #1371 closed, assigned to nobody

[2016-04-25 22:09] #1370 closed, assigned to nobody

[2016-04-25 22:12] harshavardhana commented on #1350
Assigned to @krishnasrinivas

[2016-04-25 23:07] harshavardhana commented on #1326
This is fixed merged upstream patch.

[2016-04-25 23:07] #1326 closed, assigned to harshavardhana

[2016-04-25 23:08] harshavardhana commented on #1292
master branch now has multiple drive support for single server.

[2016-04-25 23:08] #1292 closed, assigned to harshavardhana

[2016-04-25 23:08] #1164 closed, assigned to harshavardhana

[2016-04-26 01:54] abperiasamy commented on #1309
Yes you are correct @paulovictorv. It will be implemented at the SDK level. In terms of feature compatibility matrix, it will be more like **Amazon S3 supports versioning** and **Minio doesn't**.

Amazon keeps introducing new features to stay ahead of others. Minio will instead focus on minimalist design. We only need to implement what we see as a **core** functionality for object storage.  "Core"

[2016-04-26 02:21] hackintoshrao opened #1384 "Test Failure: Panic index out of range error for TestXLAPISuite ListObjects test"
[code]

This error occurred during `make test`

[2016-04-26 03:01] harshavardhana commented on #1384
To be fixed by #1383

[2016-04-26 03:01] #1384 closed, assigned to nobody

[2016-04-26 04:13] harshavardhana opened #1385 "minio: Make a brew package."

[2016-04-26 06:31] harshavardhana commented on #1385
https://github.com/Homebrew/homebrew-binary/pull/318 - sent.

[2016-04-26 17:35] #1361 closed, assigned to krishnasrinivas

[2016-04-26 17:40] harshavardhana commented on #1350
Should be fixed by #1179

[2016-04-26 17:40] #1350 closed, assigned to krishnasrinivas

[2016-04-26 20:03] #1378 closed, assigned to krishnasrinivas

[2016-04-26 20:03] #1379 closed, assigned to balamurugana

[2016-04-26 20:03] #1377 closed, assigned to balamurugana

[2016-04-27 00:57] #1365 closed, assigned to harshavardhana

[2016-04-27 08:14] harshavardhana opened #1393 "xl: Move namespace locking and make it global object"

[2016-04-27 08:19] harshavardhana opened #1394 "xl: ListMultipart non-recursive lists duplicate entries for list beyond 1000"

[2016-04-27 14:50] krishnasrinivas opened #1395 "XL/rpcClient: Handle network disconnects"
Currently gorpc does not reconnect if there is a network disconnect. This should be handled.

[2016-04-27 16:02] krishnasrinivas opened #1396 "xl: DeleteFile should handle writeQuorum"
When a disk is down, DeleteFile should increment file.version and mark the operation as DELETE in part.json

[2016-04-27 20:19] #1394 closed, assigned to harshavardhana

[2016-04-27 20:45] krishnasrinivas opened #1400 "Avoid bugs related to slash"
There have been bugs when we do path.Join() when trailing `/` gets removed
There have been bugs because of `\` and `/` comparison for ex `Asia/` != `Asia\`
filepath.Join() returns path with `\` separator on windows causing comparison problems.

having this convention will help avoid the problem:
- always use pathJoin() unless there is a specific need to use path.Join()
- in the current code replac

[2016-04-27 21:35] harshavardhana opened #1401 "xl: ReadQuorum should be verified properly"
For example

[2016-04-27 22:10] #1355 closed, assigned to harshavardhana

[2016-04-27 22:11] krishnasrinivas opened #1402 "Review locking/unlocking code in XL operations"
review XL operations for race conditions.

[2016-04-27 22:46] harshavardhana commented on #1354
// cc @krishnasrinivas  - update the necessary cases where this needs to be skipped

[2016-04-28 02:28] #1369 closed, assigned to hackintoshrao

[2016-04-28 02:44] hackintoshrao opened #1405 "Tests: Tests for ListMultipartUpload"
Should be completing by 10th May.

[2016-04-28 03:03] harshavardhana commented on #1353
This will be handled by scrubbing,  as discussed with //cc @abperiasamy

[2016-04-28 03:03] #1353 closed, assigned to krishnasrinivas

[2016-04-28 04:09] #1364 closed, assigned to balamurugana

[2016-04-28 06:25] harshavardhana opened #1407 "xl: ListObjects lists the objects again in recursive operation"
[code]

'mc mirror' continuously copies the same set of files again and again.

[code]

Looks like the order of entries has changed

local fs listing

[code]

v/s

minio listing

[code]

[2016-04-28 08:48] #1407 closed, assigned to krishnasrinivas

[2016-04-28 09:10] harshavardhana opened #1409 "xl: Small file erasure is slow - (optimization)"

[2016-04-28 09:12] harshavardhana commented on #1409
For example copying

[code]

[2016-04-28 10:14] krishnasrinivas opened #1411 "ListObjects order issue"
In an XL setup, at `fs` layer, if `object-tar/part.json` is the 1000th entry and `object/part.json` is 1001'st entry

the client side will receive in the order:

[code]

which is incorrect.

[2016-04-28 15:07] krishnasrinivas commented on #1354
here:

[code]

and here:

[code]

[2016-04-28 15:16] krishnasrinivas commented on #1411
it can be fixed by doing this:
- leaf directory will have `?` in the end : `object-tar?/part.json` `object?/part.json`
- in the comparison function for sort, when we compare two strings for ex. `object-tar?/` and `object?/` we should compare after stripping `?/`

[2016-04-28 16:00] harshavardhana commented on #1411
Adding a new character is not safe. It still wont hold good for all UTF-8 characters

[2016-04-28 16:20] krishnasrinivas commented on #1411
can objectname have `?` because `?` in URL is for options

[2016-04-28 20:26] harshavardhana commented on #1411
Yes objectname can have `?`

[2016-04-29 00:58] harshavardhana opened #1413 "xl: Creating a 0byte file fails with erasure"
[code]

[code]

[2016-04-29 07:19] hackintoshrao opened #1417 "Tests: Tests for private functions"
Since private are not mean be used outside, how should be the tests written for them?
Under discussion, @harshavardhana .

[2016-04-29 08:29] #1393 closed, assigned to harshavardhana

[2016-04-29 12:48] krishnasrinivas opened #1419 "log: logging to file on disk does not work"
[code]

with this in config.json minio is not logging to the log.txt file.

[2016-04-30 00:12] #1401 closed, assigned to harshavardhana

[2016-04-30 00:12] #1179 closed, assigned to krishnasrinivas

[2016-04-30 00:52] #1354 closed, assigned to harshavardhana

[2016-04-30 00:54] #1419 closed, assigned to harshavardhana

[2016-04-30 01:43] #1396 closed, assigned to balamurugana

[2016-04-30 01:51] balamurugana opened #1427 "xl: DeleteFile(): meta data will be lost when complete delete of meta data files"
When all disks are online and having consistent meta data file and data file, those meta data files are also deleted in DeleteFile(). In this case, if any one of disk failure causes lose of meta data in previous successful delete in other disks.

[2016-04-30 01:56] balamurugana opened #1428 "xl: DeleteFile(): allow less failure to write quorum of deleting meta data and/or data files"
When error in deleting meta data/data files causes immediate return from xl.DeleteFile().  However it can allow errors up to `len(xl.storageDisks) - xl.writeQuorum` which is safe.

[2016-04-30 02:20] harshavardhana commented on #1340
Assinged to // cc @krishnasrinivas - since he is bringing the new changes to multipart for XL.

[2016-04-30 02:21] harshavardhana commented on #1417
Is this still valid?

[2016-04-30 02:32] hackintoshrao commented on #1417
@harshavardhana : Closing the issue since the outcome of the discussion was to change the function themselves to make them stateless.

[2016-04-30 02:32] #1417 closed, assigned to hackintoshrao

[2016-04-30 02:35] harshavardhana commented on #1409
Recent fix upstream reedsolomon increases the performance dramatically - https://github.com/klauspost/reedsolomon/commit/4048a541c8fe80670a17d11f5664f229b06b0e4b

[2016-04-30 02:35] #1409 closed, assigned to harshavardhana

[2016-04-30 03:10] harshavardhana opened #1430 "xl: CompleteMultipartUpload rename should handle re-uploads."
[code]

[2016-04-30 04:24] balamurugana commented on #1427
Need a discussion to close out this issue.

[2016-04-30 05:24] krishnasrinivas commented on #1427
@balamurugana you mean when deletion is happening one of the disks go down, so when they come back up they still have the metadata file?

[2016-04-30 05:27] balamurugana commented on #1427
Currently the function returns error immediately.  if we do https://github.com/minio/minio/issues/1428 there is chance of stale data/meta data files on those failed disks.

[2016-04-30 05:40] krishnasrinivas commented on #1427
one way to tackle this situation is by using generation numbers for objects.

[2016-04-30 05:53] harshavardhana commented on #1413
This problem exists because of klauspost bug sent an upstream fix -  https://github.com/klauspost/reedsolomon/pull/20

[2016-04-30 05:58] #1402 closed, assigned to krishnasrinivas

[2016-04-30 05:59] krishnasrinivas commented on #1427
@balamurugana this is the situation right?
- out of 16 disks 11 disks are up
- now there is a delete operation on the object as we have write quorum

now two situations can happen.
1st :
- when the deletion is happening 1 disk goes down
- deletion would have happened on 10 disks
- in this case we can still return success because there is still read quorum to detect that file is deleted

2nd:
- whe

[2016-04-30 09:35] balamurugana commented on #1427
I think you missed the issue description.  The issue happens when all disks are online.

[2016-04-30 09:52] #1428 closed, assigned to balamurugana

[2016-04-30 09:52] #1363 closed, assigned to harshavardhana

[2016-04-30 09:52] #1427 closed, assigned to balamurugana

[2016-05-01 08:03] harshavardhana opened #1437 "xl: Implement healing and quorum support for StatVol and MakeVol."

[2016-05-01 19:39] harshavardhana opened #1439 "xl: really slow with large data sets around 100,000 files"
[code]

[code]

[2016-05-01 19:41] harshavardhana commented on #1430
This is fixed.

[2016-05-01 19:41] #1430 closed, assigned to krishnasrinivas

[2016-05-01 19:58] krishnasrinivas commented on #1340
`The reason here is that aws-sdk-go doesn't calculate md5sum during PutObjectPart`

that's a little crazy, let me verify if it works with current implementation (it should work as current implementation is not keeping track of md5sums, though it will be fixed in future)

[2016-05-01 21:50] #1340 closed, assigned to krishnasrinivas

[2016-05-01 22:30] #1413 closed, assigned to harshavardhana

[2016-05-02 01:42] #1437 closed, assigned to harshavardhana

[2016-05-02 03:11] balamurugana opened #1444 "xl/multipart: stale temporary files found after successful mulltipart resume"
After successful completion of multipart upload resuming, there are temporary files found.  They need to be removed.

[code]

[2016-05-02 03:22] balamurugana opened #1445 "xl: minio needs to error out if list of disk arguments changes from previous run"
If an user ran minio previously with arg list `$ minio server d1 d2 d3 d4` and runs again with `$ minio server d4 d1 d2 d3` should error out.  Currently it leads to data corruption.

Similarly it should check exact argument count and values.

[2016-05-02 03:44] harshavardhana commented on #1444
Depends on transaction #1366  to cleanly handle these things assigned to you // cc @balamurugana

[2016-05-02 03:57] harshavardhana opened #1446 "xl/fs: Converge more common code on both object layer implementations."
- PutObject()
- PutObjectPart()
- NewMultipartUpload()
- AbortMultipartUpload()

[2016-05-02 05:12] hackintoshrao opened #1448 "xl/ls: Non recursive listing fails on leaf node."
This is how to reproduce the error.
`mc cp myminio/testbucket/1/1.txt`
`mc ls myminio/testbucket`

500 Internal Server is obtained.

@harshavardhana  @krishnasrinivas

[2016-05-02 05:16] balamurugana opened #1449 "xl: return I/O error than giving junk data for get file"
In bad situation like wrong set of disks, xl is returning corrupted data for get file and similar calls.  It would be better to return I/O error than returning corrupted data.

[2016-05-02 05:17] krishnasrinivas commented on #1411
instead of `?` can have `.__leaf__` suffix which will look cleaner on the backend

advantages:
- fix issue #1411 by stripping off `.__leaf__` use the resulting strings for comparison function in Sort at `FS`
- it will help XL code in detecting if a directory is a leaf node just by looking at the name and does not have to do a listing inside it.

[2016-05-02 05:43] harshavardhana commented on #1449
We need to add sha512sum plugin at posix layer and another is keeping the order of disks properly inside the xl.json itself.

[2016-05-02 06:16] #1448 closed, assigned to hackintoshrao

[2016-05-02 08:27] hackintoshrao opened #1451 "xl: 'mc ls' results in 500 internal server error"
- `mc mb myminio/test/`
- `mc cp a.sh myminio/test/`

The XL setup has 5 data and parity disks

Now deleting the folder corresponding to the file `a.sh` on disks containing the parity.
- `rm -r /mnt/sd[g-k]1/ec-dir/test/a.sh/` (sdg1-sdk1 contains parity files)

Now do
-  `mc ls myminio/test/`

It throws `500 internal server error`

Here is something more interesting,
Copy one more file to the same

[2016-05-02 08:29] krishnasrinivas opened #1452 "xl: 'DeleteObject' should delete special multipart objects properly"
xl-object.go: DeleteObject() should delete all the object parts.

[2016-05-02 09:08] harshavardhana opened #1454 "server: Crashes if killall minio is issued"
[code]

[2016-05-02 17:39] hackintoshrao commented on #1452
`mc rm <bucket>/<file>` leaves the $tmp files on all the configured disks.

[2016-05-02 19:25] harshavardhana commented on #1452
This is related to #1444 - not this bug.

[2016-05-02 20:29] harshavardhana opened #1455 "bucket-policy: Cannot set bucket policies anymore with latest master"
[code]

[2016-05-02 20:49] harshavardhana commented on #1455
This happens when there is an existing policy on the bucket, it is an 'mc' bug.

[2016-05-02 21:01] harshavardhana commented on #1455
Closing server is behaving correctly.

[2016-05-02 21:01] #1455 closed, assigned to hackintoshrao

[2016-05-02 22:35] harshavardhana opened #1457 "xl/multipart: Change the backend format again to remove code verifying '.' - May 6th"
Create 'uploads.json'  as a future placeholder which holds all the upload id's for a given object and when it was initiated.

This simplifies leaf detection.

[2016-05-02 22:44] harshavardhana commented on #1457
We also change the format from 'upload-id.partnum.md5sum' to 'upload-id/partnum.md5sum' , now that leaf detection is easier.

[2016-05-02 23:36] harshavardhana opened #1458 "object: Should create 'format.json' inside '.minio' to detect disk order changes"
[code]

[2016-05-02 23:53] harshavardhana commented on #1457
Always create files in ".minio/temp" - add three functions isIncompleteMultipart, IsMultipart and isFile.

[2016-05-02 23:53] harshavardhana opened #1460 "xl: Rename xl.json as file.json"

[2016-05-03 00:42] #1460 closed, assigned to harshavardhana

[2016-05-03 00:43] #1446 closed, assigned to harshavardhana

[2016-05-03 03:04] harshavardhana opened #1462 "object: re-upload of multipart fails with 500 Internal server error"
`ERRO[0015] RenameFile failed with rename /tmp/test1/.minio/multipart/testbucket/bigfile/81249207-10e2-40c9-baca-10ce725b8bd6.00001.5f363e0e58a95f06cbe9bbc662c5dfb6 /tmp/test1/testbucket/bigfile/00001.minio.multipart: directory not empty  dstPath=bigfile/00001.minio.multipart dstVolume=testbucket srcPath=multipart/testbucket/bigfile/81249207-10e2-40c9-baca-10ce725b8bd6.00001.5f363e0e58a95f06cbe9bb

[2016-05-03 03:06] harshavardhana opened #1463 "xl-erasure: RenameFile should support quorum. (May 5 2016)"
Current code does not hold lock or support quorum.

[2016-05-03 08:07] #1454 closed, assigned to harshavardhana

[2016-05-03 10:27] koolhead17 opened #1466 "Migration versions are not handled gracefully."
Minio server config version 4 fails to update itself once migrated from older version. It fils to add  region & as a result it throws subsequent signature issue.

[2016-05-03 16:20] hackintoshrao opened #1467 "Api: Bucket policy vulnerability: Allowing anonymous access to protected files."
Here is how to reproduce the issue.
- Upload file named output.txt to the bucket.

  $`mc cp output.txt myminio/test1/`
- Set the bucket policy to `none`.

  $`mc access  none  myminio/test1/`
- Try to access `output.txt`.

  $`curl localhost:9000/test1/output.txt`

It fails since you don't have access to it.
- Set the bucket policy to as showed below.

  $`mc access  readonly myminio/test1/oo`
-

[2016-05-03 19:24] hackintoshrao commented on #1467
https://github.com/minio/mc/issues/1706 will be fixed following this fix.

[2016-05-03 22:17] #1466 closed, assigned to harshavardhana

[2016-05-03 22:32] harshavardhana opened #1469 "xl/getObjectInfo: special multipart objects have no ModTime, fix it"
[code]

[2016-05-03 23:10] #1444 closed, assigned to balamurugana

[2016-05-03 23:10] #1462 closed, assigned to harshavardhana

[2016-05-03 23:44] harshavardhana commented on #1451
The problem is that list errors out simply because of errors i.e for example

`b.sh` is valid since it has all the parts the success err == nil nullifies the previous err != nil for `a.sh` - this is unexpected, unreadable files shouldn't be listed at all that is the bug.

-- Harsha

[2016-05-04 00:10] harshavardhana opened #1471 "listObjects: matching prefixes should be listed as well (May 5 2016)"
[code]

`test3` is a common prefix for `test333` - these should be listed as well.

[2016-05-04 00:52] #1452 closed, assigned to harshavardhana

[2016-05-04 06:50] rajivm opened #1473 "Automate Docker Builds for edge channel"
Configure Docker Hub to autobuild edge images on pushes to github master branch.

per conversation w/ @harshavardhana

[2016-05-04 07:18] balamurugana opened #1475 "quick: remove quick.Data() function"
As `quick.Load()` expects pointer to a structure and underneath `json.Unmarshal()` uses pointer as argument, its not required to have a separate `quick.Data()` function as the argument to `quick.Load()` updated/filled with values.

[2016-05-04 08:28] rajivm opened #1477 "No S3-Like Response Body from File Post"
S3 Responds with:

[2016-05-04 19:18] #1458 closed, assigned to balamurugana

[2016-05-04 19:20] #1445 closed, assigned to balamurugana

[2016-05-04 21:35] hackintoshrao opened #1481 "Api: Bucket policy: False reporting of conflicting Rules."
Here is how to replicate the issue.
1. `mc access writeonly myminio/exp/oo`
2. `mc access readonly myminio/exp/op`

The second one fails even though the rules are not conflicting. This is due to regexp based match here https://github.com/minio/minio/blob/master/bucket-policy-parser.go#L244 .

[2016-05-04 21:38] hackintoshrao opened #1482 "Api: Server crash on setting invalid regexp characters."
`mc access writeonly myminio/exp/o*` crashes the server. The following is the error output by mc

`mc: <ERROR> Unable to set access permission ‘writeonly’ for ‘myminio/exp/o*’. Put http://localhost:9000/exp/?policy=: Connection closed by foreign host http://localhost:9000/exp/?policy=. Retry again.` .

Regexp match for invalid characters should be handled.

[2016-05-04 22:26] #1477 closed, assigned to harshavardhana

[2016-05-04 22:28] #1469 closed, assigned to harshavardhana

[2016-05-04 23:56] #1467 closed, assigned to hackintoshrao

[2016-05-05 03:22] #1475 closed, assigned to harshavardhana

[2016-05-05 06:41] harshavardhana opened #1488 "deleteBucket failed with 500 Internal server error if not empty"
[code]

[code]

[2016-05-05 08:35] #1488 closed, assigned to harshavardhana

[2016-05-05 08:48] #1400 closed, assigned to harshavardhana

[2016-05-05 19:18] koolhead17 opened #1492 "Minio server does not provide https as recommendation to add inside minio client with access secret key even though server is using Letsencrypt cert."
Hi,
Minio server is running with LEtsencrypt with `https:` enabled but the output suggestion which minio server provides to add as credentials is `http:`  Please find example below.

[code]

It will be nice if

[code]

Provides me right URL path so I don't see error like:

[code]

What we could do is, every time Minio Server's `.minio/certs` should have some kind of JSON file with list of it like

[2016-05-05 19:53] krishnasrinivas commented on #1411
fixed by 247e835d7bb01d3592765946e8296b494a0aa846

[2016-05-05 19:53] #1411 closed, assigned to harshavardhana

[2016-05-05 19:54] krishnasrinivas commented on #1471
fixed by 247e835d7bb01d3592765946e8296b494a0aa846

[2016-05-05 20:03] #1463 closed, assigned to balamurugana

[2016-05-05 20:58] rajivm opened #1493 "Fails on upload w/ 'bucket not found' if pre-existing directory (.minio/tmp file missing for folder)"

[2016-05-05 21:00] harshavardhana commented on #1451
fixed by #1491

[2016-05-05 21:00] #1451 closed, assigned to balamurugana

[2016-05-05 22:00] #1493 closed, assigned to harshavardhana

[2016-05-05 23:52] harshavardhana opened #1495 "xl: listing large number of objects leads to infinite loop."
Marker doesn't progress properly

[code]

[code]

Lists this repeatedly.

[2016-05-06 00:07] harshavardhana commented on #1495
Marker is not moving forward

[code]

[code]

[2016-05-06 00:09] harshavardhana commented on #1439
Slowness still persists, but memory usage is holding down.

[2016-05-06 00:32] harshavardhana commented on #1471
[code]

Still reproducible.

[2016-05-06 00:57] harshavardhana commented on #1495
Non-recursive lists fine.

[2016-05-06 02:21] harshavardhana commented on #1482
[code]

[2016-05-06 02:58] #1481 closed, assigned to hackintoshrao

[2016-05-06 02:58] #1482 closed, assigned to hackintoshrao

[2016-05-06 03:00] harshavardhana commented on #1471
This is only reproducible on XL.

[2016-05-06 03:02] harshavardhana commented on #1471
Looks like my mistake, it is working fine.

[2016-05-06 03:02] #1471 closed, assigned to krishnasrinivas

[2016-05-06 03:22] harshavardhana opened #1498 "xl: 'mc mirror' copies one particular data again - looks like marker is wrong"
[code]

[code]

[2016-05-06 03:28] harshavardhana commented on #1498
Same attempt with FS works

[code]

[2016-05-06 03:28] harshavardhana commented on #1439
This doesn't seem to be a problem anymore.

[2016-05-06 03:28] #1439 closed, assigned to harshavardhana

[2016-05-06 03:42] harshavardhana commented on #1498
[code]

[2016-05-06 03:42] harshavardhana commented on #1498
I think if this is fixed #1495 will be fixed as well.

[2016-05-06 05:35] harshavardhana opened #1500 "logging: Add missing logging to all the code. (May 15th)"
Make sure to not print error in cases where the error is handled already.

[2016-05-06 05:48] hnakamur opened #1501 "XL/fs: Internal Server Error for PutObject with a name longer than 255 bytes"
First of all, thanks for sharing a great software!

I tested putting an object with a name longer than 255 bytes.
Then it took about 20 seconds to get the results and the error
was "500 Internal Server Error".

I believe another error should be defined in [minio/api-errors.go](https://github.com/minio/minio/blob/master/api-errors.go) and the server returns it immediately.

My test environment:

[c

[2016-05-06 05:57] harshavardhana commented on #1501
Thanks for the kind words! - "Internal Server Error" is retried on client side i.e minio-go, so perhaps that is the reason it must have waited for long.

Name longer than 255Bytes perhaps would be the result of filesystem replying a message based on the file path length. Will incorporate your test script thanks for reproducing this issue for us.

[2016-05-06 05:59] harshavardhana opened #1502 "handlers: restic functional test crash with released binary - darwin"
[code]

[2016-05-06 14:33] hackintoshrao opened #1503 "XL: Read seek Failure."
When [Minio-go functional tests](https://gist.github.com/hackintoshrao/2bf62c27664c0d64344b2d5ec19c7916) are made to run on XL multi disk setup [this following case](https://gist.github.com/hackintoshrao/2bf62c27664c0d64344b2d5ec19c7916#file-mino-go-fuctional-go-L774) failed.

Here is the error,
`TestGetObjectReadSeekFunctional (0.32s)
        api_functional_v4_test.go:774: Error: Incorrect read b

[2016-05-06 14:38] andrewkerr9000 opened #1504 "golang/pkg/http: wrongly capitalizes `ETag` header"
PUTting an object into Minio running in docker (`Minio/DEVELOPMENT.2016-04-17T22-42-41Z`) returns a response with ETag header named `Etag` (note capitalization). I've observed this with Wireshark running on MacOS host, so it isn't being changed withing my JVM.

The Java AWS SDK expects the header name to be `ETag` and is case sensitive (RFC 2616 be damned). Validation will fail as it cannot find r

[2016-05-06 14:41] hackintoshrao commented on #1503
Also when Line 774 ( The failed case) is commented and the tests are run. It takes over 22 seconds on an average to complete. On a single node/disk setup it completes around 3-4 seconds. Don't know whats the benchmark to expect, but just reporting.

[2016-05-06 15:01] harshavardhana commented on #1504
It is the problem of Golang http.CanonicalHeaderKey() but that never stopped Java AWS SDK to not work. The complaint is probably because Etag is empty and Java AWS SDK tries to verify this value during a `GetObject()`. can you also paste the actual error?

Do you have an actual response header dump?

[2016-05-06 15:06] andrewkerr9000 commented on #1504
Request:

[code]

Response:

[code]

[2016-05-06 15:11] andrewkerr9000 commented on #1504
Java AWS SDK 1.10.33 (wrapped in awscala 0.5.5, but that's not causing the problem)

[2016-05-06 15:27] andrewkerr9000 commented on #1504
From `com.amazonaws.services.s3.model.ObjectMetada`:

[code]

`Headers.ETAG` is `public static final String ETAG = "ETag";` `metadata` is a `Map<String, Object>`.  ETag is stored in `metada` (which can be seen with debugger) but with the key `Etag`. This method of course returns `null`.

There's also special handling for the ETag header to strip double quotes in `com.amazonaws.services.s3.internal

[2016-05-06 15:33] andrewkerr9000 commented on #1504
To clarify: this is happening during a `putObject`. I am aware of the workaround `System.setProperty("com.amazonaws.services.s3.disableGetObjectMD5Validation","true")` for `getObject`.

[2016-05-06 17:18] harshavardhana commented on #1504
There should be a way to disable this validation? - this is not really necessary in general since server validates what was sent by computing and matching the md5sums.

I don't know why they do that again.  The bug is inside Golang http trying to canonicalize the ETag while ignoring our setting.

[code]

[2016-05-06 17:20] harshavardhana commented on #1503
Good to know - let's get the issues fixed and then we go about improving the time lapse.

[2016-05-06 17:25] harshavardhana commented on #1503
The problem is in reedSolomon decoding phase

[code]

[2016-05-06 18:08] andrewkerr9000 commented on #1504
MD5 checking for `PutObjectRequest` is only disabled if the SDK thinks server side encryption is being used - either an SSE customer key or SSE aws key management params need to be set in the `PutObjectRequest`.

[2016-05-06 19:12] harshavardhana commented on #1498
With new changes it is copying more data..

[code]

Trying again on a fresh copy.

[2016-05-06 19:12] harshavardhana commented on #1498
Same results, this time the marker has moved a bit but it's copying more data - can you take a look @krishnasrinivas ?

[2016-05-06 19:40] danyaljj opened #1508 "docs: Public vs private?"
Is it possible to make some objects public? (neither AccessKey and SecretKey is needed) While some of them protected (not accessible without AccessKey and SecretKey).

[2016-05-06 20:17] harshavardhana commented on #1508
You can easily configure publicly accessible objects using bucket policy,  minio supports Amazon S3 bucket policies not ACL's.

[2016-05-06 20:37] koolhead17 commented on #1508
Hello @danyaljj

Say once you have Minio Server installed & mc client is in place, If not please follow https://github.com/minio/minio/blob/master/README.md

You can use `mc access` command to create an object public.

[code]

This will make your object `shared` world accessible.

You can also run

[code]

Hope, it helps. also feel free to join our community chat channel https://gitter.im/minio/mi

[2016-05-06 22:46] harshavardhana commented on #1503
Running on a faster hardware the tests are faster like 8secs.

[code]

[2016-05-06 23:05] #1498 closed, assigned to krishnasrinivas

[2016-05-06 23:05] #1495 closed, assigned to krishnasrinivas

[2016-05-06 23:25] #1503 closed, assigned to krishnasrinivas

[2016-05-06 23:31] harshavardhana opened #1513 "xl: DeleteObject should not return "errNotFound" for successfully deleting object."

[2016-05-06 23:47] #1513 closed, assigned to harshavardhana

[2016-05-07 03:18] harshavardhana commented on #1502
// cc @fd0

[2016-05-07 04:18] #1492 closed, assigned to harshavardhana

[2016-05-07 05:04] krishnasrinivas opened #1516 "XL: client timeout during ListObjects - May 27th"
In ListDir, at XL layer, for each entry we do a Stat() call to see if it's a leaf directory.
At object-layer, for non-recursive case we again do a Stat() to check if it's a multipart uploaded file. This will cause the client to timeout before it receives first batch of 1000 entries.

[2016-05-07 06:25] harshavardhana commented on #1516
ON which server are you observing this? - can you paste 'dd' results?

[2016-05-07 06:39] krishnasrinivas commented on #1516
@harshavardhana this is the issue we discussed yesterday for list ListObjects, not GetObject. Potential fix is to use `.__leaf__` (predictable) suffix to avoid a stat() to see if it's a leaf dir.

This is not a bug seen as of now, but potential issue based on previous experience with listobjects.

[2016-05-07 06:47] harshavardhana commented on #1516
I think we shouldn't speculate here, we still need to reproduce a valid case here.  See the breaking point where exactly we see this in what conditions.

[2016-05-07 06:51] krishnasrinivas commented on #1516
Sure I can reproduce it, but just wanted to put it as an issue so that we don't forget about it as we had decided to open an issue if we think there is an issue. We can close this if it's not reproducible.

[2016-05-07 06:55] harshavardhana commented on #1516
yeah makes sense.

[2016-05-07 07:59] #1449 closed, assigned to balamurugana

[2016-05-07 09:08] #1457 closed, assigned to harshavardhana

[2016-05-07 09:45] vadmeste opened #1519 "Mirroring between two buckets belonging to the same server fails"
[code]

[2016-05-07 10:02] harshavardhana commented on #1519
Looks like CopyObject is not working properly.

[2016-05-07 10:37] harshavardhana commented on #1516
Current code on .. minio2 server

[code]

[2016-05-07 10:43] #1519 closed, assigned to hackintoshrao

[2016-05-07 13:35] koolhead17 opened #1522 "For higher upload size mc session resume fails"
On XL machine, i was uploading an object size 30 GB & in middle i terminated the process

[code]

When i followed  `mc session resume rQYLUuun’` CPU went to infinite loop.

[code]

[2016-05-07 16:55] fd0 commented on #1502
Oh, did you manage to track it down? Or is the output above from the restic travis run?

[2016-05-07 16:56] fd0 commented on #1502
I can try to minimize the test for the crash to occur...

[2016-05-07 17:05] vadmeste opened #1524 "Removing a 8Gb file freezes mc"
Not sure why it freezes, so please update the title accordingly, below the scenario which makes that happen:

[code]

[2016-05-07 18:00] vadmeste commented on #1524
missed this PR #1521, it fixes the bug already

[2016-05-07 18:44] fd0 commented on #1502
Preliminary results: The crash depends on the directory used for `minio`.

Using something like `minio-srv` in the local directory did not produce the crash (but some other failures I haven't investigated further): https://travis-ci.org/restic/restic/builds/128544141

My integration tests use a directory in `$TMPDIR`, which is set to something like `/var/folders/gw/_2jq29095y7b__wtby9dg_5h0000gn/T

[2016-05-07 19:07] fd0 commented on #1502
Found the source of the stray `\n`: wrong use of `mktemp` on darwin.

[2016-05-07 19:44] harshavardhana commented on #1522
can you test again this with latest master? @koolhead17

[2016-05-07 19:51] #1524 closed, assigned to nobody

[2016-05-07 20:43] harshavardhana commented on #1522
[code]

resuming seems to be working fine with latest master.

[2016-05-07 23:06] harshavardhana commented on #1504
do you have a sample AWS SDK sample for this test? would you mind referencing it here? - Thanks

[2016-05-08 00:02] harshavardhana opened #1526 "completemultipartupload timedout clients while renaming 9012 parts."
[code]

Whereas the transaction did complete in the background.

[code]

[2016-05-08 04:24] jariangibson commented on #1291
Was going to try out Minio with Dropshare.  Glad I found this. Bummer.

[2016-05-08 08:28] harshavardhana opened #1529 "logging: Implement API and requested ID association in server side logging."

[2016-05-08 08:30] harshavardhana opened #1530 "api: APIErrors ReadQuorum and WriteQuorum should be XMinioReadQuorum and XMinioWriteQuorum"

[2016-05-08 09:21] #1522 closed, assigned to harshavardhana

[2016-05-08 09:38] #1526 closed, assigned to harshavardhana

[2016-05-08 10:08] balamurugana opened #1531 "minio server returns MalformedXML when unknown region is passed"
When running minio-java functional test on minio server, it returns `MalformedXML` error when unknown region is passed.

[code]

Is it expected behaviour?

[2016-05-08 10:33] harshavardhana commented on #1502
Going to close this! @fd0 - please reopen if you see this again.

[2016-05-08 10:33] #1502 closed, assigned to harshavardhana

[2016-05-08 10:34] harshavardhana commented on #1293
Is this issue valid still @torarnv ?

[2016-05-08 10:37] harshavardhana commented on #1194
This should move to documentation closing it here - Open this bug on https://github.com/minio/docs.minio.io

[2016-05-08 10:37] #1194 closed, assigned to nobody

[2016-05-08 10:39] harshavardhana commented on #1131
Superseeded by - https://github.com/minio/miniobrowser/issues/154

[2016-05-08 10:39] #1131 closed, assigned to krishnasrinivas

[2016-05-08 12:28] fd0 commented on #1502
will do, thanks!

[2016-05-08 17:45] jariangibson commented on #1291
So did some testing on this.  I get error 409 from Dropshare client.  Error is request failed: conflict (409).  Seeing same backend issues in Minio bucket.

[2016-05-08 19:07] koolhead17 opened #1535 "Minio server crashes during mc session resume."
I am trying to copy 10 GB from minio sever to local system. I had network interruption and on executing
mc session resume i got this error.

`
minio@minio2:~/atul/datasets$ mc session resume YoPSmdce
mc: <ERROR> Failed to copy ‘http://127.0.0.1:9004/atul1/10gb’. Input reader closed pre-maturely. Expected ‘10737418240’ bytes, but only received ‘10298105856’ bytes.
mc: <ERROR> Session safely termina

[2016-05-08 19:08] harshavardhana commented on #1535
[code]

[2016-05-08 19:17] krishnasrinivas opened #1536 "handlers: APIErrorResponse does not have all the fields"
with S3, PutObjectPart succeeds for parts with < 5MB
But complete multipart failse with:

[code]

we are not able to send partnumber, proposedsize and minsizeallwoed in response XML as APIErrorResponse does not have those fields.

[2016-05-08 19:36] #1530 closed, assigned to balamurugana

[2016-05-08 19:39] vadmeste opened #1537 "Rare bug: uploaded file is corrupted"
[code]

I didn't touch anything after this bug so we can be sure when we debug

[2016-05-08 19:41] harshavardhana commented on #1537
@vadmeste are you using the latest master?

[2016-05-08 19:44] vadmeste commented on #1537
@harshavardhana, a205aca6d272fa1cd070da6dc2d21008555bc8a5 is the last commit of minio that I've compiled today

[2016-05-08 19:52] vadmeste commented on #1537
[code]

[2016-05-08 19:56] harshavardhana commented on #1537
Yeah that seems latest enough can you paste the backend details here? - it seems like the `1gb.bin` deletion failed some other sort of backend issue.

Also is it possible to access this box?

[2016-05-08 20:09] harshavardhana commented on #1537
Found the problem no need.

[2016-05-08 20:12] vadmeste commented on #1537
great, tried to install tmate for Debian but it turned out it needs recent version of some libraries, also tmate.io only provides x86 static binary..

[2016-05-08 22:18] krishnasrinivas opened #1540 "XL: CompleteMultipartUpload() code issue (13th)"
[code]

Here rename to a temporary location is not needed. Renaming to tmp location is useful only for DeleteObject operation (so that it can be renamed back if there was a quorum error)

For the code above as this is a rename process, if there was a quorum error during rename it can just be renamed back. But renaming few parts and not renaming few parts will be harmful. In the end either all shou

[2016-05-08 22:25] krishnasrinivas opened #1541 "XL: list-incomplete-uploads incorrect output (14th)"
[code]

[2016-05-08 22:28] harshavardhana commented on #1540
This is correct, we need to hold locks here,  but hardlink idea is not needed. We can hold lock and not move to temp location.

[2016-05-08 22:39] #1535 closed, assigned to harshavardhana

[2016-05-08 22:40] krishnasrinivas commented on #1540
still, even if we hold locks, the transaction is : _all the part files should be renamed or none should be renamed._ things will go wrong if few renames succeed and few don't.

Corner case though. If we want to handle it hardlinks is one solution, because if creation of hardlinks for all the part files fail, we still have the files at the `.minio/multipart` location intact.

[2016-05-08 22:57] harshavardhana commented on #1540
This is true, but in current scenario we agreed that small window of this sort is fine.  We fix it not here but outside we allow this to be easy to recover.  That is why the actual meta file is written after all the parts have been renamed. You would end with lot of dangling files though, but these can be cleared outside of the operation itself.

[2016-05-08 23:02] harshavardhana commented on #1540
Another thing is to avoid all these issues we need to have a transaction support and log which provides the authority of knowing what operations went in and what should be rolled back.

[2016-05-08 23:07] harshavardhana commented on #1531
Can you paste the request body sent from the java code?

[2016-05-08 23:30] krishnasrinivas opened #1544 "XL: mc session resume - does not resume properly"
[code]

session not resuming from where it left off, needs to be investigated.

[2016-05-08 23:39] harshavardhana commented on #1540
https://github.com/minio/minio/pull/1539 - this patch now removes the Rename code for temp location.

[2016-05-08 23:39] harshavardhana commented on #1537
https://github.com/minio/minio/pull/1539 - the fix is here..

[2016-05-08 23:42] harshavardhana commented on #1544
You can see only 'mc' using 100% CPU during this time, it is calculating md5sum and verifying for each parts.

[2016-05-08 23:43] harshavardhana commented on #1544
A similar test was done with 1TB file currently running, mc cpu usage was 100% and no data transfer was in progress.

[2016-05-08 23:47] krishnasrinivas commented on #1544
In that case it is mc bug because it shows it as though it is copying from the beginning.
Also minio is using 20-60% cpu,

[2016-05-08 23:50] harshavardhana commented on #1544
It is listing previously uploaded parts ..

[2016-05-08 23:52] harshavardhana commented on #1544
Behavior is sporadic,  not able to reproduce this anymore.

[code]

[2016-05-08 23:54] harshavardhana commented on #1544
It could also be listing bug where multipart upload is not listed and mc uploads again - you should do '--debug' to see if the uploadID is constant.

[2016-05-08 23:57] harshavardhana opened #1545 "fs: handle symlinks"
posix-list-dir-nix.go:                  // FIXME: should we handle symlinks?

Currently we are ignoring, we need to follow symlinks and fail if they loop.

[2016-05-09 00:00] harshavardhana opened #1546 "pathJoin implementation should take multiple args"
object-utils.go:func pathJoin(s1 string, s2 string) string {

Should take multiple args like 'pkg/path.Join()'

[2016-05-09 00:02] harshavardhana opened #1547 "server: Optimize code if possible with a go-routine."
All parallelized tasks and independent ones should be put in goroutines.

[2016-05-09 00:03] krishnasrinivas commented on #1537
@harshavardhana what was the bug?

[2016-05-09 00:05] harshavardhana opened #1548 "XL: listObject incorrectly lists file as directory."
For missing special multipart file.

[code]

Incorrectly lists the file as directory.

[2016-05-09 00:08] harshavardhana commented on #1548
[code]

[2016-05-09 00:11] harshavardhana commented on #1537
The bug was part of the go-routine itself,  an err value spilled over and it tried to delete the file received errFileNotFound.

Removing that part fixes the problem of not completing the multipart.

[2016-05-09 01:26] harshavardhana opened #1549 "xl/Object: aws cli fails to complete multipart."
`upload: atul/data-sets/freebase-rdf-2013-06-02-00-00.shasumn to s3://testbucket/freebase-rdf-2013-06-02-00-00.shasumn
upload: atul/data-sets/freebase-rdf-2013-06-02-00-00.gz to s3://testbucket/freebase-rdf-2013-06-02-00-00.gz
upload failed: atul/data-sets/infodump-all.zip to s3://testbucket/infodump-all.zip
A client error (EntityTooSmall) occurred when calling the CompleteMultipartUpload operatio

[2016-05-09 01:33] balamurugana commented on #1531
Request body:

[code]

[2016-05-09 01:37] harshavardhana commented on #1531
The namespace is wrong - `xmlns=""` should not be empty it should be, unmarshalling fails because of this.

http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUT.html

[code]

[2016-05-09 05:46] krishnasrinivas opened #1551 "XL: GetObject timesout for large file"
[code]

[2016-05-09 05:55] abperiasamy commented on #1531
Even if Amazon S3 is relaxed about incorrect input, lets not encourage bad behavior. MalformedXML response is appropriate.

[2016-05-09 05:55] #1531 closed, assigned to balamurugana

[2016-05-09 06:17] balamurugana opened #1552 "XL: A disk disappears while multipart or single put object is in progress causes NoSuchBucket error (May-12)"
Below is the test trace

[code]

[2016-05-09 07:04] hackintoshrao opened #1553 "XL: Server crash during cp using aws cli (May 15th)"
Here is the command that was used.
`aws --endpoint-url http://localhost:9001 s3  cp  --recursive /home/minio/gopath/ s3://testbucket/`

Here is the stack trace when it cashed,

[code]

[2016-05-09 07:20] #1549 closed, assigned to krishnasrinivas

[2016-05-09 07:46] #1546 closed, assigned to harshavardhana

[2016-05-09 10:32] hackintoshrao opened #1556 "XL: Healing code crashed"
Minio server crashed during the follwing copy operation from aws cli.

`aws --endpoint-url http://localhost:9001 s3  cp  --recursive /usr/ s3://testbucket/`

[code]

[2016-05-09 11:01] andrewkerr9000 commented on #1504
It is only possible to use server side encryption over HTTPS - the SDK ensures this to prevent keys being transmitted in plaintext. I haven't yet configured certificates for Minio and my JVM so I don't know if this will hit further problems.

Scala, using the Java SDK:

[code]

[2016-05-09 11:06] tjosten commented on #1291
Yes, this is exactly what has been explained above.

[2016-05-09 12:00] krishnasrinivas opened #1558 "XL: complete-multipart-upload of large file timesout (20th)"
[code]

It timesout because of the renames.

[2016-05-09 12:17] krishnasrinivas opened #1559 "Need for disk-down error type"
we need disk-down error type so that we don't return errFileNotFound/errVolumeNotFound causing selfheal to trigger there.
At posix we need to detect disk-down error.

[2016-05-09 12:19] krishnasrinivas commented on #1558
Observing backend indicates that rename has all completed, just that the client timedout.

[2016-05-09 12:23] krishnasrinivas commented on #1551
Happened on an isolated server too (i.e there were no other tests being run in parallel that could consume resources):

[code]

Disks were 30MBps though.

[2016-05-09 12:39] balamurugana opened #1560 "starting minio server with new export directory gives old secret key and access key"
Steps to reproduce
1. run `minio server /d0`
2. stop the server
3. run `minio server /d1`
4. shows previously used access/secret keys

Is it expected?

[2016-05-09 13:24] krishnasrinivas opened #1561 "PutObject fails when a disk is down"
@balamurugana setup:

[code]

bala rm -rf'ed 8th disk.

[2016-05-09 13:40] krishnasrinivas commented on #1561
On my setup,
if I rm -rf the bucket/, putObject succeeds
if I rm -rf the disk/, putObject fails with:

[code]

[2016-05-09 13:53] krishnasrinivas commented on #1561
mc ls makes it panic:

[code]

[2016-05-09 18:33] hackintoshrao opened #1563 "Play: play.minio.io Data corruption."
Here is how to reproduce the bug
-  curl  karthic-rao.s3.amazonaws.com/cpu-prof-xl-4.pdf > ./test.pdf

Now open test.pdf on your pdf reader (I used preview). It opens.

Now create a bucket in play.minio.io and upload test.pdf .
- mc mb play/sanctity
-  mc access readonly play/sanctity/
- mc cp test.pdf play/sanctity/

Now go to its public url and chrome browser to download
- http://play.minio.io:9

[2016-05-09 18:43] harshavardhana commented on #1560
This is expected - you have to provide a new "-C" "--config-dir" option.

[2016-05-09 18:44] harshavardhana commented on #1558
That is because of the go-routine and waitgroup.

[2016-05-09 19:00] hackintoshrao opened #1564 "Server: Redirect http to https."
Related to https://github.com/minio/minio/issues/1563 , the http requests should be redirected to https.

[2016-05-09 19:01] hackintoshrao commented on #1563
Solved to fetching the file from https url.
curl https://play.minio.io:9000/sanctity/test.pdf > test.pdf solves the issue. New bug for https redirection opened, #1564 .

[2016-05-09 19:01] #1563 closed, assigned to nobody

[2016-05-09 19:06] harshavardhana commented on #1504
Minio server does not support server side encryption, we will see how we can address this by fixing ETag.  Even we set the proper "ETag" header.  Golang http server mangles it by canonicalizing it.

[2016-05-09 19:09] #1537 closed, assigned to harshavardhana

[2016-05-09 20:37] harshavardhana commented on #1544
Were you able to reproduce this again? @krishnasrinivas

[2016-05-09 20:43] harshavardhana commented on #1551
If there is data being written to the client this wouldn't happen,  this could be a separate problem. Since all the readers and writers are streams in GetObject() there is something else going on which we are not seeing.

Can you reproduce this with "--debug" and wireshark the traffic to see if we get data at all?  minio server CPU usage?

[2016-05-09 22:40] rushenn opened #1566 "Browser: Upload abort buttons are misaligned"

[2016-05-09 22:41] rushenn opened #1567 "Browser: Top menu links are not working in small screen"
not all the time. need testing.

[2016-05-10 01:05] harshavardhana commented on #1516
Some profiling output on what is going on with ListObjects

[Current master with no optimization](https://github.com/minio/minio/files/256176/list-cpu-noopt.pdf)

[With optimization at getPartsMetadata](https://github.com/minio/minio/files/256177/list-cpu-opt.pdf)

There is a drop of around from 450 secs to 316 secs on the overall call flow, both tests were run with "echo "3" drop_caches" so they

[2016-05-10 01:08] harshavardhana commented on #1553
[code]

The bufw.WriteString() is unprotected and does not know if the client already closed the reader. It is a very tricky bug but can be reproduced with the combination of io.Pipe() a go-routine inside a handler.

Also this is related to a client which is setting the header "Expect: 100-continue" , will open a bug on Golang will have to find a solution for this in the meantime.

[2016-05-10 01:29] balamurugana opened #1570 "Unclear error message when running minio server with two disks"
When running `minio server /mnt/sdb1/bala/mydisk /mnt/sdc1/bala/mydisk` throws `FATA[0000] Initializing object layer failed.             Error={Cause:Command-line arguments [/mnt/sdb1/bala/mydisk /mnt/sdc1/bala/mydisk] is not valid. Type:*errors.errorString}` which is not clear what's wrong with the arguments.

[2016-05-10 01:38] balamurugana opened #1571 "Unclear error message when previously ran minio server with fresh disks"
1. Ran minio server `minio server /d0 /d1 /d2 /d3`
2. Stop and rerun minio server fresh `/d1 /d2 /d3` like `minio server /d0 /d1 /d2 /d3` causes below error

[code]

Which is not clear to the user what's wrong with given arguments

[2016-05-10 01:49] harshavardhana commented on #1571
How many disks were not available from previous run?

[2016-05-10 01:55] harshavardhana commented on #1560
Changing access keys just for disk changes is not a good idea and unwarranted/unexpected, since the keys are copied over to the clients, tools, applications and browsers remember them.

The purpose is to keep it simple, to be able to migrate to new set of cluster carrying same credentials etc.  Even changing keys directly through config, setting env variables, setting them to a preferred username

[2016-05-10 01:55] #1560 closed, assigned to nobody

[2016-05-10 01:57] #1559 closed, assigned to harshavardhana

[2016-05-10 01:58] harshavardhana commented on #1552
@balamurugana can you test with latest master?

[2016-05-10 02:00] balamurugana opened #1572 "mc throws 503 Service Unavailable when preexisting file is used"
When running `minio server /mnt/sd{b..e}1/bala/mydisk` where `/mnt/sde1/bala/mydisk/mybucket/foo` is present already, below step causes `503 Service Unavailable`
1. `$ mc mb myminio/mybucket`
2. `$ mc cat myminio/mybucket/foo` throws `503 Service Unavailable`

I think the expected behaviour is `NoSuchKey` error.

[2016-05-10 02:04] balamurugana commented on #1571
None. Steps were followed
1. Run minio server `$ minio server /mnt/sd{b..e}1/bala/mydisk`
2. Freshen up `/mnt/sd{c..e}1/bala/mydisk`
3. Run minio server again `$ minio server /mnt/sd{b..e}1/bala/mydisk`

The expected behaviour is the server start freshly again.

[2016-05-10 02:09] balamurugana commented on #1572
mc debug output

[code]

[2016-05-10 02:11] harshavardhana commented on #1571
What does it mean by freshen up?

[2016-05-10 02:33] harshavardhana commented on #1516
Latter CPU usage is cumulative listing of 165k files.

[code]

[2016-05-10 03:01] balamurugana commented on #1571
They are new disks now is they are replaced with new disks

[2016-05-10 03:45] harshavardhana commented on #1571
Not able to reproduce this can you paste the step by step instructions here? on what you did?

[2016-05-10 03:46] harshavardhana commented on #1572
You are saying that the readQuorum here is '1' ?

[2016-05-10 03:48] harshavardhana commented on #1570
You have to enable 'error' logging to see other messages which are printed, right now the "config.json" only prints "fatal" by default.

[2016-05-10 03:51] harshavardhana commented on #1570
We need to change config default to "error" instead of fatal.

[2016-05-10 03:58] harshavardhana commented on #1571
Fresh disks

[code]

[code]

[code]

Is this what you mean by freshen up?

[2016-05-10 07:10] #1571 closed, assigned to balamurugana

[2016-05-10 07:37] harshavardhana commented on #1556
Fixed by #1562

[2016-05-10 07:37] #1556 closed, assigned to krishnasrinivas

[2016-05-10 07:39] harshavardhana commented on #1561
Fixed by #1562

[2016-05-10 07:39] #1561 closed, assigned to krishnasrinivas

[2016-05-10 07:50] krishnasrinivas commented on #1561
@harshavardhana bala saw this error:

[code]

different from panic.

[2016-05-10 07:54] harshavardhana commented on #1561
There is a bug for that #1552

[2016-05-10 07:56] harshavardhana opened #1574 "minio: Travis failed with current master"
[code]

[2016-05-10 08:21] vadmeste opened #1576 "crypto/sha256: Implement optimized SSE based in plan9"
SHA extensions available starting from Skylake: https://en.wikipedia.org/wiki/Intel_SHA_extensions

[2016-05-10 08:25] #1574 closed, assigned to krishnasrinivas

[2016-05-10 11:18] andrewkerr9000 commented on #1504
We have a workaround using an embedded proxy, LittleProxy, to rewrite headers. It's a bit mad, but it works for our purposes.

[2016-05-10 12:23] krishnasrinivas commented on #1548
@harshavardhana do you have the setup? i think this might have happened after the `uploads.json` change, new binary with older backend. new code could not find `uploads.json` and thought it's a directory. Not sure. Access to setup or steps to reproduce the problem will help.

[2016-05-10 13:50] balamurugana commented on #1570
I think its not a good idea.  If user sets to log level to `fatal`, he will see the same unclear error message.  Its better to fix the error message.

[2016-05-10 14:38] balamurugana opened #1579 "XL: minio server allows to run with wrong configuration (May 11th)"
Steps to reproduce
1. run minio server

[code]
1. stop the server and run again with

[code]

It works!
1. run minio server again with

[code]

This time below errors are thrown

[code]

Below is minio version

[code]