[2016-07-07 18:22] balamurugana opened #2132 "Get/Put object benchmark tests need to create files and checksums in prior to run benchmarks"
Currently these benchmark functions create in-memory streams for Get/Put objects.  This leads into wrong result in benchmarks.

This can be fixed by having temporary files and checksums calculated in prior to run such benchmarks.

[2016-07-07 19:19] harshavardhana commented on #2072
This is hard to differentiate, this can easily happen when a fresh disk is added we could possibly ignore the error just like errDiskNotFound  and change a logic a bit differently.

[2016-07-07 19:50] krishnasrinivas commented on #2072
or `continue` on every error i.e check disks one by one till there is a success.

or do `metaArr, errs := xl.readAllXLMetadata(bucket, object)` like how GetObject does and return info from the highest version

[2016-07-07 20:56] harshavardhana commented on #2072
Yeah doing that , looks like that is better approach.

[2016-07-07 21:46] harshavardhana commented on #2072
Another problem here is that ideally these conditions should be resolved by self-heal since it is a clean case for this to happen, so the current code everywhere is not thinking about the healing errors until healing comes in we need to have a mechanism to handle these.

[2016-07-07 22:01] #2127 closed, assigned to harshavardhana

[2016-07-07 22:05] krisis commented on #1998
Block profile for listing a million objects in a bucket.
[f55093c-jul7-blockprof.pdf](https://github.com/minio/minio/files/353148/f55093c-jul7-blockprof.pdf)

[2016-07-07 22:05] #2120 closed, assigned to hackintoshrao

[2016-07-08 01:47] koolhead17 commented on #2126
Welcome @ncw
We would love to see http://rclone.org/ listed on  https://github.com/minio/awesome-minio as well. 😄

[2016-07-08 02:23] harshavardhana opened #2137 "XL: xl-v1-object_test.go is buggy should be fixed."
[code]

 ^^ Code like this should never be done one cannot possibly write a concurrent test.

[code]

Subsequent usage is also wrong.  We need to remove this test and write it cleanly.

[2016-07-08 02:49] #2118 closed, assigned to balamurugana

[2016-07-08 02:50] #2137 closed, assigned to harshavardhana

[2016-07-08 03:40] hackintoshrao opened #2139 "FS: GetObject: Incorrect behaviour when `length` parameter is set to more than the object size."
## Expected behaviour

FAIL with InvalidRange{},  XL does this and behaves correctly.
## Actual behaviour

Passes the test.
object-api-getobject_test.go:128: Test 6: FS: Expected to fail with <ERROR> "The requested range is not satisfiable", but passed instead.
## Steps to reproduce the behaviour

Run the test [here](https://github.com/hackintoshrao/minio/blob/006e83cf4e726dccc233eac275737bab5c7ae

[2016-07-08 04:09] hackintoshrao opened #2141 "XL/FS: GetObject: Crash when the `io.writer` argument is nil ."
There should be a check on whether the writer argument is `nil` and return  necessary error.
## Expected behaviour

Error out with `errUnexpected` (May be). But shouldn't Crash atleast.
## Actual behaviour

Both XL and FS Crashes because of nil pointer reference.
Here is the stack trace of FS crash.

[code]

Here is the stack trace for `XL` crash.

[code]
## Steps to reproduce the behaviour

Run `

[2016-07-08 05:10] #2072 closed, assigned to harshavardhana

[2016-07-08 06:59] krisis commented on #2082
As part of making the namespace locks granular, the following changes are proposed,
- Use `ModTime` saved in xl.json for every object as a means to identify (parts of or whole of) objects erasure coded across the disks as part of the same PutObject or PutObjectPart.
  All disks that witnessed a PutObject, PutObjectPart, CompleteMultipartUpload, AbortMultipartUpload should have the same `ModTime` i

[2016-07-08 08:04] krishnasrinivas commented on #2128
in the meeting we decided to do this:

`minio server /mnt/disk1 /mnt/disk2 /mnt/disk3... --ignore-disks /mnt/disk2:/mnt/disk7`

[2016-07-08 09:23] balamurugana commented on #2000
I am working on this.

[2016-07-08 11:44] hackintoshrao opened #2146 "FS: GetObject: Incorrect behaviour for case with offset + length > objectSize."
## Expected behaviour

Fail with `InvalidRange`. XL behaves correctly.
## Actual behaviour

Passes instead.
## Steps to reproduce the behaviour

run `go test -run=TestGetObject` from 26469e31cd302476c443c86a53d36ebb6b5881a9
## Minio version

4c21d6d09d07d74f6e9b26896c74d73cc0efe555
## System information

OSX El Caption.

[2016-07-08 14:09] krishnasrinivas commented on #2128
is it possible that across reboots drives can change it's mount point and that's why we have UUIDs?

[2016-07-08 14:24] harshavardhana commented on #2128
Yes that is why we have UUIDs.

[2016-07-08 14:46] #2139 closed, assigned to nobody

[2016-07-08 14:46] #2141 closed, assigned to nobody

[2016-07-08 14:46] #2146 closed, assigned to nobody

[2016-07-08 22:29] vadmeste opened #2148 "Cannot change policy under Minio ?"
With the upstream mc, pretty sure this was working before.

[code]

[2016-07-08 23:02] hackintoshrao commented on #2116
This is ready once https://github.com/minio/minio/pull/2133 is merged.

[2016-07-08 23:55] hackintoshrao commented on #2092
Need the methods here used in https://github.com/minio/minio/pull/2140 . Waiting for the merge.

[2016-07-08 23:58] hackintoshrao opened #2151 "XL/FS: GetObject: Object Layer Load test for 500 concurrent reads."
Need a mechanism to easily validate data integrity and detect races during highly concurrent reads.
- Object layer tests.
- Tests over socket using Test server.

need to use a test flag `stresstest` or `loadtest` so that these tests have to invoked using the flags.

[2016-07-09 00:04] hackintoshrao commented on #2084
In progress

[2016-07-09 00:27] harshavardhana commented on #2148
We need to see why this is happening @mkash32 @hackintoshrao did some changes can fill in here.

[2016-07-09 00:27] harshavardhana commented on #2148
Assigned to you so you can take a look.

[2016-07-09 00:38] harshavardhana opened #2152 "server: s3verify failure with current master"
[code]

[2016-07-09 01:26] #2116 closed, assigned to hackintoshrao

[2016-07-09 03:34] #2080 closed, assigned to harshavardhana

[2016-07-09 03:34] #2091 closed, assigned to harshavardhana

[2016-07-09 03:38] hackintoshrao commented on #2117
@krishnasrinivas : Uncomment test  case 6 here https://github.com/minio/minio/blob/master/object-api-getobject_test.go with your patch. That test is validation for the fix.

[2016-07-09 03:41] hackintoshrao commented on #2110
- The tests doesn't have comments.
- One of the test has to be made part of the suite test for object layer, it looks more of a functional test, its good to there.
- Unit test need to have an array of success and failure cases and validate.
- other functions from `xl-v1-object.go` (leaving out GetObject) needs test.

[2016-07-09 04:29] hackintoshrao commented on #2148
@vadmeste : Whats was the previous policy on the bucket.

[2016-07-09 07:30] harshavardhana commented on #2079
Closed by #2115

[2016-07-09 07:30] #2079 closed, assigned to harshavardhana

[2016-07-09 08:25] krishnasrinivas commented on #2082
@krisis with the discussion the day before
- version can still be a number instead of string and two disks with same version should have contents exactly same.
- putObjectPart should upload part only to disks with latest version. Hence if you upload a part to a set of disks, a next part can be uploaded to either same disks or a subset of those disks but can never include a new disk.
- upload IDs a

[2016-07-09 08:44] vadmeste commented on #2148
@hackintoshrao, this happens even with fresh disks

[2016-07-09 08:57] vadmeste commented on #2148
The bug disappeared when I removed ~/.mc directory. I have the backup, will investigate further

[2016-07-09 09:32] harshavardhana commented on #2148
Are you sure you deleted `~/.mc` not `~/.minio` ?

[2016-07-09 09:56] ncw commented on #2126
Thanks guys - will do!  I'm planning to put a section in rclone docs on working with minio too.

[2016-07-09 10:07] vadmeste commented on #2148
I thought that the bug disappeared when I removed ~/.mc directory while mc was just setting the access of myminio/bucket/ in the local fs, so you are right..

Now, it seems that I was confused because I thought that removing disks will also remove policies, however it seems policies are stored under ~/.minio/, also I wasn't really able to understand the meaning of Policy nesting error. Now, I gues

[2016-07-09 10:12] mkash32 commented on #2148
@vadmeste Yup that is the expected behavior :smile:

[2016-07-09 10:25] vadmeste commented on #2148
@mkash32, I thought there were multiple bugs but all seems to be fine now.. there are only some legitimate confusions for the newcomers

[2016-07-09 14:15] koolhead17 commented on #2126
@ncw that will be fantastic. Thanks again 😄

[2016-07-09 19:13] #2152 closed, assigned to harshavardhana

[2016-07-09 19:56] vadmeste opened #2156 "fs+xl returns 501 Not Implemented instead of correct responses"
[code]

The second command is supposed to return a list of objects
The third command doesn't return Requested file not found, also it takes some unusual seconds to perform.

I tested the same cases with mc+s3 and it is working fine.

[2016-07-09 20:01] #2117 closed, assigned to krishnasrinivas

[2016-07-09 21:36] harshavardhana commented on #2156
Because we do not support '/' at the end , it must be we are sending this back for some unnecessary errors can you print the whole file structure doing 'mc ls -r ' from bucket level?. The usually long seconds is perhaps because of retry from the client side.

[2016-07-09 21:37] harshavardhana commented on #2156
Also there is a fix for this here - https://github.com/minio/minio/pull/2144

[2016-07-09 21:43] vadmeste commented on #2156
$ mc ls -r myminio/test1/
[2016-07-09 20:49:32 CET] 3.4KiB passwd/session.go

[2016-07-09 22:49] vadmeste commented on #2156
@harshavardhana, please notice that the same commands are tested with the s3 account and they worked without reporting any errors. This lead me to think that probably Minio is not complying to s3 protocol for this specific point.

[2016-07-10 00:11] #2047 closed, assigned to krisis

[2016-07-10 00:11] #2156 closed, assigned to nobody

[2016-07-10 18:08] #2092 closed, assigned to balamurugana

[2016-07-10 18:10] #2097 closed, assigned to balamurugana

[2016-07-10 19:06] hackintoshrao opened #2162 "XL: Benchmark 1GB GetObject for XL doesn't complete when cache is set to 1G."
## Expected behaviour

For the benchmarks to complete.
## Actual behaviour

Benchmark for 1Gb GetObjectXL doesn't complete (It works when cache is set to 0)

[code]
## Steps to reproduce the behaviour
-  `export MINIO_CACHE_SIZE=1G`
-  `go test -bench=BenchmarkGet`
## Minio version

0793237d9435c35e39ad26923ff908814595dbd2
## System information

Minio3 server.

[2016-07-10 19:07] hackintoshrao commented on #2084
Blocked here https://github.com/minio/minio/issues/2162 .

[2016-07-10 20:01] harshavardhana commented on #2162
It won't work because the previous memory is not relinquished yet. you have to explicitly purge the entries i.e call DeleteObject()

Your 1GB is already used up from the previous GetObject's.

[2016-07-10 20:02] harshavardhana commented on #2084
This is not a blocker for the release.

[2016-07-10 21:38] #2128 closed, assigned to harshavardhana

[2016-07-10 21:53] harshavardhana commented on #2148
Closing..

[2016-07-10 21:53] #2148 closed, assigned to vadmeste

[2016-07-10 21:57] harshavardhana commented on #2000
This already fixed in master, closing.

[2016-07-10 21:57] #2000 closed, assigned to vadmeste

[2016-07-10 21:58] harshavardhana commented on #1928
Looks like 10MB is the correct value and best on average. Closing we can re-open if needed.

[2016-07-10 21:58] #1928 closed, assigned to vadmeste

[2016-07-10 22:00] harshavardhana commented on #2109
Unit tests have been added for object cache.

[2016-07-10 22:00] #2109 closed, assigned to harshavardhana

[2016-07-10 22:02] harshavardhana commented on #2132
This issue is closed.

[2016-07-10 22:02] #2132 closed, assigned to hackintoshrao

[2016-07-10 22:03] harshavardhana commented on #2111
Closing..

[2016-07-10 22:52] harshavardhana commented on #1998
Closing now being tracked at #2082

[2016-07-10 22:52] #1998 closed, assigned to krisis

[2016-07-10 23:48] harshavardhana commented on #2087
Closing this as fixed.

[2016-07-10 23:48] #2087 closed, assigned to harshavardhana

[2016-07-11 00:12] #2129 closed, assigned to krishnasrinivas

[2016-07-11 00:59] hackintoshrao commented on #2162
Just because the cache size was small the system shouldn't become non-functional right. Things which otherwise run should continue to run.  It should be possible even to choose few Mega bytes of cache and system should functionally continue to run like before.

[2016-07-11 01:05] harshavardhana commented on #2162
Not really the problem is not about that. It is also about how GC behaves if you account for active memory test itself ends up using close to 4GB just used by the benchmark itselft. It is not reusing the memory at all.

Please reproduce this issue outside of bench with 1GB cache size if that kills the server then i agree. Otherwise we need to fix the benchmarking.

[2016-07-11 03:04] krisis opened #2165 "server logs spurious "Invalid request range" error"
## Expected behaviour

server should not log error when http-range field in the header is empty.
## Actual behaviour

server logs "Invalid request range" error.
## Steps to reproduce the behaviour
- `mc cat alias/bucket/object | md5sum`
## Minio version
- master branch, commit id `bdff084`
## System information

`Linux trantor 4.4.0-28-generic #47-Ubuntu SMP Fri Jun 24 10:09:13 UTC 2016 x86_64 x86

[2016-07-11 04:00] krisis commented on #2165
Error message as seen in console,

[code]

[2016-07-11 04:40] hackintoshrao commented on #2084
Benchcmp for benchmark with No cache and 8G cache.

[code]

[2016-07-11 07:11] balamurugana commented on #2165
Its already fixed by aa7079fc7b3ffef9f7f35fcc8167259f2c9594bc

We can close this issue.

[2016-07-11 07:12] #2165 closed, assigned to balamurugana

[2016-07-11 08:07] fwessels commented on #1576
As of yet there are unfortunately no CPUs that support these extensions (supposedly coming in 2H of this year or 2017).

Linux 4.4 apparently added support that we could look at how they implemented it (but no idea how they tested this):
http://lkml.iu.edu/hypermail/linux/kernel/1511.0/00383.html

And now with the SIMD optimized BLAKE2 this is also less of an issue.

So I suggest postponing the is

[2016-07-11 15:06] krishnasrinivas commented on #2062
@esarakaitis I did this:

[code]

And I was able to upload objects from the browser, and it worked fine.
What was the size of the object you were trying to upload? Was there anything else unusual? I could not find the command you used on Gitter (Search did not give relevant details) Is it possible for you to give any specific details that can help us reproduce this bug?

[2016-07-11 15:58] vadmeste opened #2170 "XL: removing a bucket won't clean incomplete uploads"
For mc users, it won't be possible to clean incomplete uploads after removing a bucket:
`mc rm -r --force myminio/bucket/`

[2016-07-11 17:39] vadmeste opened #2171 "XL: cleaning files/dirs under ./minio/tmp/ doesn't work as expected"
1. Upload many incomplete files.  You can use this command:

[code]
1. Ctlr-C after some minutes
2. `mc rm -r --force --incomplete mnyminio/testbucket/`

Now you can find some files still under tmp/. Restarting minio won't remove directories directly stored under .minio/tmp/

[2016-07-11 18:42] #2124 closed, assigned to balamurugana

[2016-07-11 21:15] vadmeste opened #2174 "cache: removing objects doesn't free the associated memory from the system memory."

[2016-07-11 21:31] harshavardhana commented on #2174
what you are seeing is the GC reference which cleans itself up,  try setting GOGC=10.

Additionally are you saying that right after delete the object is still served from cache?

[2016-07-11 21:32] harshavardhana commented on #2174
You should be able to validate this behavior also programatically inside the pkg/objcache/ itself https://golang.org/pkg/runtime/debug/#SetGCPercent

[2016-07-11 21:34] harshavardhana commented on #2174
Another thing to validate is - https://golang.org/pkg/runtime/debug/#FreeOSMemory as well.

[2016-07-11 22:20] vadmeste commented on #2174
No, it works as expected.

I was only looking at the memory usage of minio using top, interestingly, memory consumption dropped to the usual values only after many minutes, I imagined gc has shorter periodic cycles

[2016-07-11 22:28] harshavardhana commented on #2174
GC is the issue here by default its not aggressive enough to our liking, try setting GCPercent during objcache.New() and you can see the aggressive behavior.  Downside of setting GCPercent is that there will be frequent pauses.

[2016-07-11 22:41] harshavardhana opened #2176 "server: Command line changes to cater for multi node cluster."
These are new changes which needs to come in for distributed version.

[2016-07-11 22:47] harshavardhana opened #2177 "controller: Implement controller framework to bring centralized namespace locking."
This moves our current locking framework into controller, which will manage the centralize namespace lock.

[2016-07-11 22:57] harshavardhana opened #2178 "controller: Implement basic controller CLI"

[2016-07-11 23:00] harshavardhana opened #2179 "XL/rpc: Implement proper rpc - server initialization on remote nodes."

[2016-07-11 23:15] harshavardhana opened #2180 "benchmark: Cleanup closures and come up with a cleaner function copies."
[code]

Style should change to more useful factory style, the purpose is not generalized enough.

[2016-07-11 23:19] harshavardhana opened #2181 "XL/format: Handle if JBOD inconsistent returns failure"
Requires inspecting objects to know the disk position and re-populate the UUID

[2016-07-11 23:20] harshavardhana opened #2182 "XL/format: Some disks are corrupt i.e missing `format.json` but has bucket/objects"
Currently we return failure, we need to handle this case by re-populating `format.json` by inspecting the objects.

[2016-07-11 23:21] harshavardhana commented on #2182
Same case should be handled for a situation where some disks are offline/unavailable but we have quorum.

[2016-07-11 23:21] harshavardhana commented on #2181
Same case should be handled for a situation where some disks are offline/unavailable but we have quorum.

[2016-07-12 00:24] #2082 closed, assigned to krisis

[2016-07-12 04:57] #1989 closed, assigned to balamurugana

[2016-07-12 05:14] ErezHorev opened #2186 "docker hub images versioning"
Currently there are only two versions of minio image on docker-hub ('latest','edge')

Using 'latest' tag is kind of risky as things are rapidly being changed inside.

Please create more tags (versions) to be able and nail specific static version.

Thank you

[2016-07-12 05:59] harshavardhana commented on #2186
Minio is written with continuous deployment model in mind so we kept 'latest' so that users can upgrade to new releases and 'latest' only changes for specific releases only from the 'release' branch, 'edge' changes for each commit in the master.

But yes, we can do released based tagging as well - which i think supported on docker hub as well.

[2016-07-12 06:28] ErezHorev commented on #2186
:) Thanks for the reply.
I understand. so the term 'rapidly changes' is probably too extreme.
well, it still means that release might change without me being aware of it and then something might be changed and break at my code which is actually what I've experienced.

I'll just use a specific tag release on 'release' branch (as you just mentioned) and create image out of it until more docker relea

[2016-07-12 06:31] ErezHorev commented on #2186
BTW - you can definitely add more tags

[2016-07-12 06:53] harshavardhana commented on #2186
That must have been due to the fact that we had to delete our previous repo and migrate to a more docker recommended github based build.

So most probably not associated with any versioning as such, any thing that goes into "latest" is backward compatible.  This reasoning comes from continuous deployment model. If something breaks we fix and make a new release.

This way we are all moving forward,

[2016-07-12 08:01] #2170 closed, assigned to vadmeste

[2016-07-12 08:05] ErezHorev commented on #2186
I see.
Actually this was caused by the way we wrapped minio image.

**TL;TR**
our issue was that we've provided minio server with the export point inside our own Dockerfile (before minio had a Dockerfile):

And minio latest release already does that inside its (relatively new) Dockerfile.

I just removed the '/export' command from my dockerfile and its all good now :)
Thank you

[2016-07-12 16:39] harshavardhana commented on #2171
This issue is closed by #2187

[2016-07-12 16:39] #2171 closed, assigned to vadmeste

[2016-07-12 18:19] harshavardhana commented on #2186
Okay thanks @ErezHorev

[2016-07-12 18:19] #2186 closed, assigned to nobody

[2016-07-12 21:14] harshavardhana commented on #1576
The reason i added this for distributed is because sha256 being comonly used for signature verification - https://golang.org/src/crypto/sha256/sha256block_amd64.s

Would be great if we can convert sha256 to also have SSE capabilities. https://github.com/wereHamster/sha256-sse/blob/master/sha256-sse.c

We do have GAS code though https://github.com/minio/minio/tree/master/pkg/crypto/sha256 which was

[2016-07-12 21:17] harshavardhana commented on #1576
Moved the context of the bug to be not tied to specific instruction sets.

[2016-07-12 21:25] lavvy commented on #1159
Please has this feature been added. Or when is it likely to be completed

[2016-07-12 21:36] harshavardhana commented on #1159
Single node version for aggregating multiple disks - is already available on the master branch and we will be making a release soon, we are working in parallel on the multi node part as well which will be ready in around 2months time.

[2016-07-12 21:40] fwessels commented on #1576
Ok, great.
Will look into this, get a sense for the speed up we can achieve for the different architectures.

[2016-07-12 21:49] harshavardhana commented on #1576
[code]

Current CGO based v/s Golang standard package. CGO is miserable for small blocks.

[2016-07-12 21:57] harshavardhana opened #2192 "XL: Implement troubleshooting and debugging cli for `xl.json` values"
This tools purpose is to validate `xl.json`  and report issues on object corruption etc. Purely from a supportability point of view.

[2016-07-12 22:33] harshavardhana commented on #2067
Moving this out of Standalone Release.

[2016-07-12 22:33] harshavardhana commented on #2062
Moving this out of Standalone Release as we cannot reproduce this locally, moving to next milestone.

[2016-07-12 22:48] esarakaitis commented on #2062
Sorry. Out of office.

Sent from my iPhone

[2016-07-13 00:09] harshavardhana opened #2194 "[distributed] fallocate/fadvise to provide hint for I/O"
Under `CompleteMultipartUpload` we should use fallocate/fadvise when available to allocate disk space.

[2016-07-13 00:32] hackintoshrao commented on #2084
This is done. Here are the numbers for 500 sequential `mc cat` of a 1Gb file

[code]

[2016-07-13 00:32] #2084 closed, assigned to hackintoshrao

[2016-07-13 05:39] fwessels commented on #1576
Nice benchmark and poor performance for small blocks indeed.

Do you know which version was used: SSE or AVX/2?

[2016-07-13 05:53] harshavardhana commented on #1576
i think it used AVX based on my laptop @fwessels

[2016-07-13 08:40] ErezHorev commented on #2186
@harshavardhana ,i see you closed the issue.
Does that means you don't intend to do it ?
Its not critical but would be nice to have it eventually
Thank you

[2016-07-13 08:51] fwessels commented on #1576
Looked at https://github.com/wereHamster/sha256-sse/blob/master/sha256-sse.c which gives:

[code]

First result is reference implementation (C), second result is SSE, but overall around 64M/sec which isn't great compared to eg. openssl:

[code]

180 MB/sec is comparable to what we get in Golang right now.
Investigating further...

[2016-07-13 09:35] krisis commented on #1995
CPU profiling was done at various snapshots of the development branches and master. The aim of the exercise was to identify any deviation from expected performance characteristic and to investiage if it warranted a backend format change. No such conclusions were made. Here are a few cpu profile graphs referred below.

Summary:
[Run on commit id 8ddf520](https://github.com/minio/minio/files/361120/

[2016-07-13 11:22] fwessels commented on #1576
Did some more benchmarks with https://github.com/minio/minio/tree/master/pkg/crypto/sha256 on minio3, first four columns are in MB/sec, last 3 columns compare to standard golang implementation (which is in assembler but not SIMD optimized):

[code]

Clearly the SIMD versions do poorly for very small sizes, and achieve up to a 2x improvement (AVX2) for larger sizes.

As per #1995 considerable time

[2016-07-13 11:25] hackintoshrao commented on #1995
On a different note @krisis  you can use the script here https://github.com/minio/minio/blob/master/dist/benchmark/benchcmp.sh to do benchmark compare between  2 commits, this might be useful in future.

[2016-07-13 11:29] vadmeste commented on #2062
I am only having this when uploading an empty file

[2016-07-13 12:30] vadmeste commented on #2174
@harshavardhana, this is not a problem by itself.. the garbage collector will do its job when needed.. however I feel that there are already some lags when I run minio and mc in the same machine. minio clearly lags each 200mb approximately  of upload though part size is 5mb and that's for XL and FS. Probably we could use some memory cache like kmem_cache for linux kernel to decrease memory allocs,

[2016-07-13 13:03] krishnasrinivas commented on #2174
@vadmeste what do you mean by lag? do you mean the minio process stalls? how did you detect it?

[2016-07-13 13:28] vadmeste commented on #2174
@krishnasrinivas, https://asciinema.org/a/4cs11wuyfwg16r0wbtstue3o3

btw, it seems it is not gc, I executed minio with these parameters, `GOGC=4000 GODEBUG=gctrace=1 minio server /mnt/p8/fs/export`, gc wasn't consuming resources..

[2016-07-13 13:33] vadmeste commented on #2174
I really don't know this is a lag or not (it could be just normal).. but at least, as a simple user, I can see that the bandwidth speed calculated by mc decreased greatly over time

[2016-07-13 13:49] krishnasrinivas commented on #2174
@vadmeste I saw that upload speed decreased from 54 MBps to 47MBps right? I think it's acceptable.
What would be not acceptable is if it continues to go down for larger files. For ex. if it reaches 20MBps when uploading a 100G file then we can check what's going on.

[2016-07-13 15:17] krishnasrinivas opened #2201 "XL: Multipart upload fails when disks are down"
`minio server xl-exports/disk{1..16}`

[code]

[2016-07-13 15:22] krishnasrinivas opened #2202 "Logging middleware"
Support logging middleware that dumps the HTTP headers and responses. Useful for debugging.

[2016-07-13 15:33] harshavardhana commented on #2202
There is accesslog-handlers.go which can be enhanced to suppport this.

[2016-07-13 15:37] krishnasrinivas opened #2203 "XL: GetObject fails when all data disks are available"
`mc cp /etc/passwd myminio/testbucket/`

remove parity disks:

[code]

`mc --debug cat myminio/testbucket/passwd` fails with:

[code]

[2016-07-13 15:57] krishnasrinivas opened #2204 "XL: PutObject fails when bucket is not available on few disks"
Start server
`minio server xl-exports/disk{1..16}`

Remove buckets from first 3 disks:

[code]

`mc --debug cp /etc/passwd myminio/testbucket/one` fails with:
(Single PUT)

[code]

Multipart upload also fails:

[code]

[2016-07-13 17:24] harshavardhana commented on #2186
@ErezHorev we decided to stick to 'latest' and 'edge', the fact being continuous release model. We will eventually do when are absolutely sure of breaking away from backward compatibility or if we re-write the backend format.

[2016-07-13 18:03] harshavardhana commented on #1576
Another thing to note is that CGO implementation is kind of chattier of the CPU so could cause its own lag, we never really went deeper to figure out why or may be the assembly we are using is not written/optimized for it.

BTW the assembly code is borrowed from Linux kernel crypto implementation.  Plan9 based would be perhaps faster than the numbers here.

[2016-07-13 18:10] harshavardhana commented on #2174
:+1:

[2016-07-13 20:44] #2201 closed, assigned to harshavardhana

[2016-07-13 20:44] #2204 closed, assigned to harshavardhana

[2016-07-14 05:17] ErezHorev commented on #2186
Ok thank you @harshavardhana

[2016-07-14 08:52] vadmeste opened #2208 "Room for upload speed optimization ?"
| File size | 1 | 2 | 3 | 4 | 5 |
| --- | --- | --- | --- | --- | --- |
| 128mb.bin | 0m3.731s | 0m4.346s | 0m3.155s | 0m3.638s | 0m3.558s |
| 256mb.bin | 0m7.930s | 0m9.212s | 0m6.616s | 0m9.320s | 0m7.679s |
| 512mb.bin | 0m15.391s | 0m16.799s | 0m13.966s | 0m17.159s | 0m14.050s |
| 1gb.bin | 0m25.822s | 0m31.174s | 0m31.124s | 0m28.905s | 0m30.593s |
| 2gb.bin | 0m56.155s | 1m1.047s | 0m59.210s

[2016-07-14 09:16] vadmeste commented on #2203
@krishnasrinivas, I guess this is normal.. you removed 8 disks which is greater than N/2-1.
Also, I guess it doesn't make sense if you remove all parity data because you can't be sure that the read data are intact.

[2016-07-14 09:24] krishnasrinivas commented on #2203
@vadmeste if you have all the data blocks it is possible to reconstruct. We don't depend on parity for data intact-ness, we use checksum (blake2b right now) that is stored for each part.

for reedsolomon erasure code, read can be done if (for m data and n parity):
1) we have m blocks (all blocks should be data)
or
2) we have m+1 blocks (each block can be data or parity) if even one data block is m

[2016-07-14 12:50] vadmeste commented on #2208
CPU profiling shows that main.readXLMeta() takes 14.6 sec when uploading a 2.5gb file but also takes 55.77 sec to upload 5gb file which not proportional. I wonder if we can make xl.json split by parts too so object file size won't matter.

[2016-07-14 12:52] vadmeste commented on #2208
[code]

Time mostly spent in json.Unmarshal

[2016-07-14 13:05] krishnasrinivas commented on #2208
cool, looks like it's a known problem, https://github.com/pquerna/ffjson

[2016-07-14 13:27] vadmeste commented on #2208
@krishnasrinivas, the problem is not only with how fast the golang json parser.. but xl.json gets bigger as we upload new parts so naturally parsing json will slow down

[2016-07-14 21:09] #1995 closed, assigned to krisis

[2016-07-14 21:09] harshavardhana commented on #1753
This updated..

[2016-07-14 21:09] #1753 closed, assigned to GarimaKapoor

[2016-07-14 21:36] harshavardhana commented on #2208
https://go-review.googlesource.com/#/c/24466/ , https://github.com/golang/go/issues/5683

[2016-07-14 23:18] krisis commented on #2110
@hackintoshrao, there is only one test, namely TestRepeatPutObjectPart. IIUC, you think this should be moved into our object-api test suite. Additionally, all functions (and methods) defined in xl-v1-object.go need to be tested with varied set of inputs. Does that make sense?

[2016-07-14 23:32] harshavardhana commented on #2110
:+1: we need basically varying inputs and some of these functions would crash, so they should be fixed as well with input validation.

[2016-07-15 01:37] #2100 closed, assigned to krisis

[2016-07-15 23:31] awwalker opened #2212 "PutBucket: Buckets with successive periods and formatted like IP address should not be created."
## Expected behaviour

all s3verify PutBucket tests should pass/fail accordingly.
## Actual behaviour

Bucket names with successive periods in their names are not failing and neither are ones formatted like IP address.
## Steps to reproduce the behaviour

run s3verify on play.minio.io

[2016-07-16 00:30] #2212 closed, assigned to harshavardhana

[2016-07-16 02:17] harshavardhana opened #2214 "Move bucket-policy as part of the special namespace itself."
- policy.json
- notification.json

Should go into XL backend itself and be protected, treat this like user set data.

[2016-07-16 02:19] harshavardhana opened #2215 "Validate RAFT and provide prototype implementation of multiple nodes"
Use RAFT and implement a prototype service to hold consensus and validate the reliability of master election process.

[2016-07-16 02:21] harshavardhana opened #2216 "Implement event notification API for buckets"

[2016-07-16 05:50] harshavardhana opened #2217 "Validate and support elasticsearch s3 plugin"

[2016-07-16 16:35] vadmeste commented on #2194
@harshavardhana, I decided to write a separate code which, at the beginning, will use standard Read/Write routines as used in Minio, then we will try to optimize it for Linux at least.

[2016-07-16 16:38] vadmeste commented on #2194
Basically, the use case will be merging thousand of 5mb files into one 5gb file, I will target this case then merge it to Minio.

[2016-07-16 18:38] vadmeste commented on #2194
Using sendfile() speeds up the merging of files, no memory copy with this syscall but it should be much beneficial when Minio is under stress

[code]

[2016-07-16 22:09] vadmeste commented on #2194
Upon my current understanding, fallocate doesn't accelerate copying, it only makes us sure that we won't get a disk full error when copying. fadvise could be beneficial if we have other files that we are recurrently reading and we don't like to invalidate them from the cache buffer, so its effects could appear with a high server overload. Also I tried readahead() and  POSIX_FADV_SEQUENTIAL but it

[2016-07-17 09:12] harshavardhana commented on #1608
https://go-review.googlesource.com/#/c/24964/ - relevant patch upstream FWIW!

[2016-07-17 19:35] koolhead17 commented on #2126
hello @ncw let me know if I can be of any help in getting this PR done, would love to get the contents soon. 😄

[2016-07-17 21:54] nl5887 commented on #2217
By default Elasticsearch uses V2 signatures. This can be changed by adding

[code]

to **elasticsearch.yml**.

Next it will fail with the error:

This is being caused by the java library not recognising the `ETag` header, because this is being canonicalized by [CanonicalMimeHeaderKey](https://golang.org/pkg/net/textproto/#CanonicalMIMEHeaderKey) as `Etag`. I think the current handling of setting h

[2016-07-18 00:54] krisis opened #2221 "fs/xl: PutObject should return IncompleteBody when request.Body fewer than specified bytes"
## Expected behaviour

if request.Body has fewer bytes than the size provided in Content-length field in the request header, PutObject should fail with `IncompleteBody` error.
## Actual behaviour

fs: Object is not created and no error is returned.
xl: Object is created successfully.
## Steps to reproduce the behaviour

Found while performing unit test at the xl/fs object layer.
## Minio version

[2016-07-18 03:48] harshavardhana commented on #2217
Go HTTP server is behaving correctly. HTTP headers are case insensitive in lieu with the spec.
It was aws-sdk's fault to treat it case sensitively breaking HTTP spec compliance, looks like elasticsearch to update its aws-sdk version.

[2016-07-18 07:27] nl5887 commented on #2217
This issue is being discussed at golang/go#5022 as well, and it complies with rfc. repository-s3 is using version 1.10.69 of Apr 11 of the aws sdk. The bug has been fixed in a later release.

[2016-07-18 14:33] krishnasrinivas opened #2227 "erasureReadFile() - incorrect reads for certain offset/lengths"
[code]

This failure is seen on this test case:

[code]

[2016-07-18 14:34] krishnasrinivas commented on #2227
(I have the fix, will push it along with the test cases)

[2016-07-18 19:37] harshavardhana commented on #2227
You can put this into a re-purposable function, given in an input of 'N' provides you N posix layers.

[2016-07-18 19:46] krishnasrinivas commented on #2227
yes harsha, it's done in the PR

[2016-07-18 22:53] ncw commented on #2126
I've sent out a couple of PRs so I'm going to close this issue now :-)

Thanks for a great project - is there a roadmap for adding either Etag support or metadata support? That is something I could help with.

[2016-07-18 22:53] #2126 closed, assigned to nobody

[2016-07-18 23:48] harshavardhana commented on #2126
We already do support that with XL backend we are also going to fix it for FS as well - https://github.com/minio/minio/pull/2184 has preliminary work in this regard.

[2016-07-19 00:18] vadmeste commented on #2096
@harshavardhana, you mean serving http and https on the same port?

[2016-07-19 02:02] harshavardhana commented on #2096
yes

[2016-07-19 02:06] #2221 closed, assigned to krisis

[2016-07-19 02:10] krisis commented on #2214
Will be sending a PR by EOD Jul 19th.

[2016-07-19 02:11] GarimaKapoor commented on #2176
Duplicate task with the controller.

[2016-07-19 02:11] #2176 closed, assigned to nobody

[2016-07-19 02:12] GarimaKapoor commented on #2179
Duplicate issue with controller

[2016-07-19 02:12] #2179 closed, assigned to nobody

[2016-07-19 02:24] GarimaKapoor commented on #2202
Duplicate with event notification. Event Notification will now support full access logs, which can be enabled pragmatically by CLI or SDK. Dumping HTTP header will overwhelm the logs. For debugging you may just manually add print statement to write to the console.

[2016-07-19 02:27] krisis commented on #2110
This issue, in spirit, aims at improving coverage of code present in `xl-v1-object.go`. Currently, we have tests in files matching `object-api-*.go`. These tests apply to both XL and FS backends. There are functions in `xl-v1-object.go` which are specific to XL. The corresponding unit-tests will be added in `xl-v1-object_test.go`. Following are functions that need to be covered,
- [x] - DeleteObje

[2016-07-19 02:46] harshavardhana commented on #2194
We should still implement `fallocate` when available, allows for efficient usage of storage. you can go ahead and implement it for FS backend.

[2016-07-19 02:47] GarimaKapoor commented on #2192
Duplicate with fsck.

[2016-07-19 02:47] #2192 closed, assigned to nobody

[2016-07-19 02:50] GarimaKapoor commented on #2181
Duplicate of #2182

[2016-07-19 02:50] #2181 closed, assigned to harshavardhana

[2016-07-19 03:03] GarimaKapoor commented on #2174
Until we face the issue, we should leave it to GC to do the job using defaults. Also GOGC can be set by environment variable.

[2016-07-19 03:03] #2174 closed, assigned to vadmeste

[2016-07-19 03:10] GarimaKapoor commented on #2151
We should add this functionality to s3verify or start a new project as s3bench.

[2016-07-19 03:12] GarimaKapoor commented on #2101
Update the timeline.

[2016-07-19 03:15] GarimaKapoor commented on #2085
Closing it as it is not reproducible. If it comes again we will look at this issue again.

[2016-07-19 03:15] #2085 closed, assigned to harshavardhana

[2016-07-19 03:16] GarimaKapoor commented on #2067
@krisis can you reproduce this bug.

[2016-07-19 03:19] GarimaKapoor commented on #2063
This adds non portable code and requires root privileges. It is best left to external provisioning.

[2016-07-19 03:19] #2063 closed, assigned to nobody

[2016-07-19 03:25] GarimaKapoor commented on #1992
Please update the timeline for the fix.

[2016-07-19 03:27] GarimaKapoor commented on #1827
Update the timeline for the fix.

[2016-07-19 03:28] GarimaKapoor commented on #1745
Please update the timeline for the fix.

[2016-07-19 03:37] hackintoshrao opened #2230 "Test: TestGetObject Go Routine leaks after tests are finished."
## Expected behaviour

No pending/leaked go routine after tests process has ended.
## Actual behaviour

objcache.(*Cache).startGC , minio.signalTrap , minio.registerShutdown running even after the test process finishd executing.
## Steps to reproduce the behaviour

A defer print statements in the above functions and run `go test -run=TestGet*`
## Minio version

Latest master 27a5b61f40fc1747bf759e

[2016-07-19 03:38] GarimaKapoor commented on #1529
Microstorage existing tracking requests from time stamp should be sufficient.

[2016-07-19 03:38] #1529 closed, assigned to nobody

[2016-07-19 03:39] GarimaKapoor commented on #1395
Please update the timeline for the fix.

[2016-07-19 03:46] GarimaKapoor commented on #1221
Duplicate issue #2216

[2016-07-19 03:46] #1221 closed, assigned to nobody

[2016-07-19 03:47] hackintoshrao opened #2231 "Tests: Tree Walk pool leak after tests finished running."
## Expected behaviour

No pending go routines after make test.
## Actual behaviour

The go routine pending everytime tests run.
gopath/src/github.com/minio/minio/tree-walk-pool.go:122 +0x7ac
created by github.com/minio/minio.treeWalkPool.Set
## Steps to reproduce the behaviour

Adding a defer print in the above functional and run the test, or just run `ListObject` test.
## Minio version

Latest ma

[2016-07-19 03:47] GarimaKapoor commented on #1168
We will leave it to the community to compare :)

[2016-07-19 03:47] #1168 closed, assigned to harshavardhana

[2016-07-19 03:48] #1159 closed, assigned to nobody

[2016-07-19 03:54] GarimaKapoor commented on #1137
Docker hub builds Minio for every commit under edge tag.

 `$ docker pull minio/minio:edge`

[2016-07-19 03:54] #1137 closed, assigned to nobody

[2016-07-19 03:56] krisis commented on #2067
@GarimaKapoor I shall reproduce the issue and update the steps to reproduce.

[2016-07-19 06:57] harshavardhana commented on #2101
Fixed by #2229

[2016-07-19 06:57] #2101 closed, assigned to krishnasrinivas

[2016-07-19 06:57] harshavardhana commented on #2010
Fixed by #2229

[2016-07-19 06:57] harshavardhana commented on #2227
Fixed by #2229

[2016-07-19 06:57] #2227 closed, assigned to krishnasrinivas

[2016-07-19 13:41] vadmeste commented on #2096
First of all, there is a way to do this with nginx, so I wonder if we should keep minio minimal and avoid such things,

But if we want to incorporate this feature:
1. curl http://play.minio.io:9000 still expects a http connection, so first, we need to reply by http redirect to https://play.minio.io:9000 (I am not sure if s3 clients are permitted to follow redirection)
2. There is a solution with a

[2016-07-19 14:02] nl5887 commented on #2217
Created a pull request (https://github.com/elastic/elasticsearch/pull/19489) containing a version bump of the aws sdk to 1.11.18.

[2016-07-19 18:01] harshavardhana commented on #2096
Running a proxy is front is will not be an acceptable solution, the factual problem here is that "http://s3.amazonaws.com" and "https://s3.amazonaws.com" work the same way and we don't.

In general it shouldn't be forced upon user, even if it is a better message should sent back on the request itself. Currently Golang standard http just returs back a TLS message which is no expected.

We can explo

[2016-07-19 21:07] krishnasrinivas commented on #1992
timeline - 20th

[2016-07-19 21:07] krishnasrinivas commented on #1827
timeline - 21st

[2016-07-19 21:08] #2010 closed, assigned to krishnasrinivas

[2016-07-19 21:21] harshavardhana opened #2236 "XL: dynamic allocation of reedsolomon.New()"
Be able to dynamically shrink the data and parity blocks and also allocate necessary Vandermonde matrix during XL inititalization.

[2016-07-19 21:34] harshavardhana opened #2237 "XL: Remove the requirement for readQuorum to be DataBlocks+1"
With new found evidence regarding vandermonde usage in reedsolomon package we can reduce the requirement of readQuorum to be DataBlocks+1 ..

Thanks to @fwessels

[2016-07-20 02:53] #2237 closed, assigned to harshavardhana

[2016-07-20 04:34] hackintoshrao commented on #2151
There is a need for internal stress test (not of scale 500, but on a smaller) on the object layer API's for easier detection of races with the help of -race flag while running tests.  Will start to work on this week.  But More exhaustive stress tests can be a new project where the load can be easily controlled.

[2016-07-20 05:56] harshavardhana commented on #2151
How about doing in s3verify which would run an instance of minio which is built with '-race' flag?  why would there be a need for internal stress test and how often are we going to run it?

[2016-07-20 07:48] krisis opened #2242 "XL: Namespace operations like isBucketExists fail non-deterministically"
## Expected behaviour

isBucketExists/isObject like functions on the namespace  should return same error (incl. nil) when invoked with different (number of) disks failing in a XL setup.
## Actual behaviour

isObject fails with ObjectNotFound at times and returns successfully other times in a non-deterministic manner. This becomes difficult in the context of unit-tests.

[code]

[code]
## Steps to

[2016-07-20 10:16] brackxm opened #2244 "api - content-encoding missing"
## Expected behaviour

getObject returns the Content-Encoding
## Actual behaviour

getObject does not return the Content-Encoding
## Steps to reproduce the behaviour

putObject with Content-Encoding
then getObject
## Minio version

Version: 2016-07-13T21:46:05Z
Release-Tag: RELEASE.2016-07-13T21-46-05Z
Commit-ID: 3f27734c22212f224037a223439a425e6d2b653a
## System information

aws java sdk 1.11.5

[2016-07-20 10:27] krishnasrinivas commented on #2244
@brackxm are you using minio FS or XL? FS does not store content-type or content-encoding in the backend.

[2016-07-20 10:56] brackxm commented on #2244
The server was started like in the readme/quickstart, with a directory argument.
Assuming this is FS, how do i start an XL server?

[2016-07-20 11:41] brackxm commented on #2244
same behaviour with the erasure coded backend (starting the server with 6 dirs).
Maybe that is XL, as there are xl.json files now.

[2016-07-20 11:52] krishnasrinivas commented on #2244
That is right

[2016-07-20 15:35] ubergarm commented on #2236
Not sure if it is related, but I'd like to be able to specify the number or ratio of dataBlocks to parityBlocks through configuration if that makes sense. (Dynamically through UI would be even cooler if that's even possible.)

Currently it is hard coded to split Data and Parity evenly across the number total number of disks:

https://github.com/minio/minio/blob/cef26fd6eac29cbaa436eabb91178a679429

[2016-07-20 16:04] GarimaKapoor commented on #2236
It is hard coded deliberately to enforce best practice. Even at N/2 parity it only takes 2X the capacity compared to replication where it takes 3X capacity and far less reliable. It is more expensive to send experts to data center to replace failed drives, sometimes wrong cables are pulled or other mistakes happen. With N/2 parity you deploy Minio once and by the time half of the drives fail it is

[2016-07-20 17:30] harshavardhana commented on #2236
Adding for the lack of gist.  This bug is to be able to erasure code with different parity blocks as the disks fail.  It is an algorithmic-ally handled scenario well with in the Minio's internal code base.

In this proposed idea we pre-allocate all the known matrices when server gets initialized i.e

2x2
3x3
4x4
...
8x8

From this pool of known matrices, we figure out the right matrices to be used

[2016-07-20 18:21] awwalker opened #2246 "ListObjects: V1 API does not set ETag properly"
## Expected behaviour

ETags should be set in the body of a listobjects response.
## Actual behaviour

ETags are not sent
## Steps to reproduce the behaviour

Run the s3verify test on play.minio.io:9000. (this branch)[https://github.com/awwalker/s3verify/tree/list-v1]

[2016-07-20 19:40] harshavardhana commented on #2244
Fixed by #2245

[2016-07-20 19:40] #2244 closed, assigned to harshavardhana

[2016-07-20 19:43] awwalker commented on #2246
fixed by: #2245.

[2016-07-20 19:43] #2246 closed, assigned to nobody

[2016-07-20 23:19] awwalker opened #2250 "Multipart: Abort multipart should send back 204 No Content regardless"
## Expected behaviour

Abort Multipart API should send back 204 No Content for UploadIDs that have been aborted previously or have completed already. The only time an error response is returned is when an invalid UploadID is used.
## Actual behaviour

Abort Multipart API sends back an error response NoSuchUpload currently for upload IDs that have been completed.
## Steps to reproduce the behaviour

[2016-07-20 23:46] vadmeste opened #2252 "Feature: lock XL disks to forbid reading/writing"
That will be necessar for fsck.

[2016-07-21 00:43] GarimaKapoor commented on #2231
KP, please update the timeline for the fix!

[2016-07-21 01:02] GarimaKapoor commented on #2230
Please update the timeline for the fix.

[2016-07-21 01:02] GarimaKapoor commented on #2217
@harshavardhana  can we close this issue.

[2016-07-21 01:03] GarimaKapoor commented on #2216
Please update the timeline for the fix!

[2016-07-21 01:06] GarimaKapoor commented on #2203
@krishnasrinivas please update the timeline for the fix.

[2016-07-21 01:07] GarimaKapoor commented on #2194
please update the timeline for the fix!

[2016-07-21 01:09] GarimaKapoor commented on #2162
@hackintoshrao please update the timeline for the fix.

[2016-07-21 01:10] GarimaKapoor commented on #2110
Please update the timeline for the fix.

[2016-07-21 01:20] GarimaKapoor commented on #1993
Please update the timeline for the fix.

[2016-07-21 01:21] GarimaKapoor commented on #1991
Please update the timeline for the fix.

[2016-07-21 01:21] GarimaKapoor commented on #1860
@balamurugana please update the timeline for the fix.

[2016-07-21 01:23] GarimaKapoor commented on #1859
@balamurugana please update the timeline for the fix.

[2016-07-21 01:23] GarimaKapoor commented on #1858
@balamurugana please update the timeline for the fix.

[2016-07-21 01:24] GarimaKapoor commented on #1745
@krishnasrinivas please update the timeline for the healing fix.

[2016-07-21 01:25] harshavardhana commented on #2252
Can you add more gist here @vadmeste ?

[2016-07-21 01:25] GarimaKapoor commented on #1605
please update the timeline for the fix.

[2016-07-21 01:25] GarimaKapoor commented on #1395
@nl5887 please update the timeline for the fix.

[2016-07-21 01:26] GarimaKapoor commented on #1366
@fwessels please update the timeline for the fix.

[2016-07-21 01:31] harshavardhana commented on #1605
@GarimaKapoor this is not dependent on the distributed release, will add timeline after the distributed release.

[2016-07-21 01:56] harshavardhana opened #2253 "WebUI resets access/secret keys if env variable is used on minio command line"
Resetting the access keys should be greyed out if the server was started with env variable, since env variable takes precedence.

[2016-07-21 02:47] finlay opened #2255 "mc flag for turning off sessions"
## A new flag for minio commandline tool

If you pass the `--no-session` flag to mc, like this:

[code]

It won't create a session. This means that on failure there will be no retry option. However, it should make recursive copies like this much faster.

[2016-07-21 02:49] finlay commented on #2255
Oops, I meant on the mc project...

[2016-07-21 02:49] #2255 closed, assigned to nobody

[2016-07-21 03:44] hackintoshrao commented on #2151
I want more specific load test than just bombarding the handler of the test server. Like I want to load just the object layer at times for some specific reasons. And the concurrency of 15-20 at times could catch these bugs ( In the past had done that with MakeBucket) , it doesn't need a complicated setup like build the server with -race flag and run one more project, it can be as easy as `go test

[2016-07-21 04:05] krishnasrinivas commented on #2203
@GarimaKapoor this needs discussion if it should be fixed

[2016-07-21 05:00] krishnasrinivas commented on #1366
@harshavardhana can you add a few situations that need to be handled?

[2016-07-21 05:06] krishnasrinivas commented on #1745
@GarimaKapoor this needs discussion on the API

[2016-07-21 05:41] krishnasrinivas commented on #1993
cc @harshavardhana

@krisis if we can refactor signature calculation api to:

[code]

the same function can be used on server and minio-go. And also the signature test cases you had found on amazon can be reused by us (if license permits, else we can our own test cases) to write the unit test cases which will help in coverage.

[2016-07-21 06:15] hackintoshrao opened #2256 "Tests: Review the project for completeness and exhaustiveness of tests."
- Review the completeness and exhaustiveness of the tests.
- Fix them wherever its necessary.
- Use locks debugging (https://github.com/minio/minio/pull/2223 has to be merged) and leak-detect (https://github.com/minio/minio/pull/2254) in the tests wherever necessary.
- Fix the found bugs in the process.

[2016-07-21 06:17] harshavardhana commented on #2256
Closing the bug, open issues which are not meta. Open individual issues.

[2016-07-21 06:17] #2256 closed, assigned to nobody

[2016-07-21 06:17] hackintoshrao commented on #2256
OK 👍

[2016-07-21 06:29] harshavardhana commented on #1366
We are going to implement this along with disk based quorum for multi node setup
- A lock file i.e a hash or a directory hierarchy would be used.
- This lock file is used as a consensus for quorum requirements
- This lock file also has journal information of previously failed transaction - for example a DeleteBucket ensued during a disk failure etc. This transaction information is used to rollback

[2016-07-21 07:02] krishnasrinivas commented on #1366
Is the lock file a replacement for nsLock{}? if not what is it locking?

[2016-07-21 07:04] harshavardhana commented on #1366
Yes it is replacement for nsLock.

[2016-07-21 07:27] #2242 closed, assigned to harshavardhana

[2016-07-21 08:00] harshavardhana opened #2257 "[XL] Implement quota support.."
Current design implements a go-routine which always calculates the actual 'du -sh' for each buckets on a regular interval, updates 'meta.json' in the following format

[code]

This data is additionally then picked up by 'ListBuckets()' with an additional Size parameter.

[2016-07-21 09:27] vadmeste commented on #2194
This only needs to be merged

[2016-07-21 09:35] vadmeste commented on #2252
fsck will be an independant tool that will check the consistency of the XL data. For that, Minio server should be stopped. However we need to protect data from all malicious and mistaken actions, for example, running a new minio while fsck is checking etc..

Also probably fsck will change data in the XL disks themselves, and there is no safe way to do that only by stopping Minio.

[2016-07-21 10:12] harshavardhana commented on #2162
The benchmark tests are using significant amount of repeated memory and allocations.

We need to carefully restructure all of the code related to benchmarks and make sure that we use buffer pools and efficiently use the pooled buffer for generating randomized data.

As we are aware the repeated 'mallocs' puts a lot of pressure on Golang GC, we need to write careful code here to avoid false positiv

[2016-07-21 14:09] hackintoshrao commented on #2162
21st july.

[2016-07-21 16:53] krisis commented on #2110
#2222 is sent for review. I expect it to be merged by today.

[2016-07-21 18:17] #2180 closed, assigned to hackintoshrao

[2016-07-21 18:18] #2162 closed, assigned to hackintoshrao

[2016-07-21 21:46] krisis commented on #2230
@hackintoshrao GetObject unit-tests are independent of the go routines such as objcache.(*cache).startGC, minio.signalTrap, etc. It is natural that unit-tests aren't aware of these go-routines and therefore don't do anything special to 'reap' them. e.g, Imagine a unit-test for a private function that sorts integer for various []int values. Would it make sense to expect it to perform cleanup of all

[2016-07-22 00:55] hackintoshrao commented on #2230
@krisis : The issue is after the test process finishes execution it leaves behind tens of zombie Go routines which are dangling around, that's not acceptable, a simple solution could be call the done channel of these routines by the end of the tests.

[2016-07-22 02:08] hackintoshrao opened #2265 "Tests: Coverage: Need better coverage for erasure-*.go"
Currently erasure-utils_test.go, erasure_test.go, other erasure coding related functions, including upstream repo needs exhaustive coverage.

[2016-07-22 03:38] krisis commented on #2230
@hackintoshrao And to which process do these Go routines belong to? Could you paste the output of `ps ax` showing the corresponding processes?

[2016-07-22 05:47] krisis commented on #2231
I will be sending a PR for this by Jul 23rd.

[2016-07-22 06:05] krisis commented on #2230
After discussing this with @hackintoshrao, there is nothing to be fixed in the unit-tests to close the go-routines before the test completes. We could explore the impact of these go-routines beyond the scope of a single test function, when the tests are run via `go test -v` (i.e, all tests are run)

[2016-07-22 07:04] brackxm opened #2266 "api - content-disposition missing"
## Expected behaviour

getObject/headObject returns Content-Disposition
## Actual behaviour

getObject/headObject do not return Content-Disposition
## Steps to reproduce the behaviour

putObject with Content-Disposition
getObject/headObject
## Minio version

Version: 2016-07-22T06:19:39Z
Release-Tag: DEVELOPMENT.2016-07-22T06-19-39Z
Commit-ID: 5d118141cd3d92f7d501b7045992df9e9f312b8d
## System inf

[2016-07-22 08:11] brackxm opened #2267 "api - default content-type"
## Expected behaviour

default content-type is binary/octet-stream
## Actual behaviour

default content-type is text/plain
## Steps to reproduce the behaviour

putObject without specifying content-type
headObject
## Minio version

Version: 2016-07-22T06:19:39Z
Release-Tag: DEVELOPMENT.2016-07-22T06-19-39Z
Commit-ID: 5d118141cd3d92f7d501b7045992df9e9f312b8d
## System information

aws-cli/1.10.48

[2016-07-22 08:18] harshavardhana commented on #2266
We are not saving content-disposition on purpose, since it is redundant with 'presigned' operations. Can you explain the requirement @brackxm ?

[2016-07-22 08:20] harshavardhana commented on #2267
Default content-type is automatically detected by doing a ContentType detection by Golang HTTP server based on the file type, is there a reason it should be 'binary/octet-stream' when it isn't? @brackxm

[2016-07-22 08:31] brackxm commented on #2267
'binary/octet-stream' is the default on aws s3

[2016-07-22 08:33] brackxm commented on #2266
i would like to store the content-disposition.
the client does not now it when getting.

[2016-07-22 08:35] brackxm commented on #2267
this is not an issue for me, just reporting a difference i noticed with aws s3 (as you claim compatibility)
your impl seems better here, but still a difference, so it might be an issue for some

[2016-07-22 09:40] harshavardhana commented on #2267
Once you set it the value is persisted in XL backend,  we could set it to 'binary/octet-stream' but it was our intention that current behavior would be more useful.

[2016-07-22 09:44] harshavardhana commented on #2266
No what i was talking about is http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectGET.html
`response-content-disposition` - Sets the Content-Disposition header of the response. This would automatically set the 'Content-Disposition' , it would allow for the request to be dynamic. Rather than saving this meta information.

Let me know what you think @brackxm .

[2016-07-22 10:15] brackxm commented on #2266
yes, that is what i assume you were talking about.

being more explicit:
client A puts an object
client B gets an object

in my case, client A decides the content-dispostion, and client B does not know it
and needs is when getting the object
similar to other headers, like content-type
client B only knows the key

note that storing the content-disposition not preclude for overriding it in the get

[2016-07-22 10:43] krishnasrinivas commented on #2266
@brackxm are you using presigned URLs to download the object from client-B? or have you made the bucket publicly accessible so that client-B does not provide auth info to download the object?

I am asking because if you use presigned URLs then we can generate presigned URLs such that the URL has the info on the key and also what the `content-disposition` response header should be.

[2016-07-22 10:56] brackxm commented on #2266
no, not using a presigned url

[2016-07-22 16:14] krisis commented on #2110
@harshavardhana this issue was fixed by #2222. Could you close this issue?

[2016-07-22 16:15] krisis commented on #2230
@hackintoshrao @harshavardhana If we agree that 'reaping' go-routines listed above are outside the scope of unit-tests, we should close this issue.

[2016-07-22 18:45] krisis commented on #2067
I should be sending a proposed fix by EOD Jul 24.

[2016-07-22 18:45] harshavardhana commented on #2230
Yes, closing.

[2016-07-22 18:45] #2230 closed, assigned to krisis

[2016-07-22 18:46] harshavardhana commented on #2110
Fixed by #2222

[2016-07-22 18:46] #2110 closed, assigned to krisis

[2016-07-22 18:46] krisis commented on #2214
I was working on other issues and this had to wait. I should be sending a fix by EOD Jul 25th.

[2016-07-22 19:02] harshavardhana commented on #2266
I see so it is more about publicly accessible objects, these clients have no relation. Sending a fix.

[2016-07-23 00:07] harshavardhana commented on #2267
Let us know how this would be preferred here @brackxm ?

[2016-07-23 00:58] fwessels commented on #1576
Initial support for AVX added with following results (see minio/sha256-simd):

[code]

Luckily we are not seeing the drop in speed for small sizes (as compared to the cgo based version)

[2016-07-23 01:54] fwessels commented on #1576
Benchmarks for SSSE (on MacBook Pro)

[code]

[2016-07-23 03:31] #2266 closed, assigned to harshavardhana

[2016-07-23 05:50] harshavardhana commented on #1008
Will be fixed by July 24th

[2016-07-23 05:55] harshavardhana commented on #2250
This is observed that Amazon indeed behaves properly in accordance with sending back NoSuchUpload but only returns back after few hours.  So our behavior is consistent closing.

[2016-07-23 05:55] #2250 closed, assigned to harshavardhana

[2016-07-23 05:56] harshavardhana commented on #2215
It was decided that RAFT in not going to provide us what we need. Closing this.

[2016-07-23 05:56] #2215 closed, assigned to harshavardhana

[2016-07-23 07:28] krishnasrinivas commented on #2215
@harshavardhana can you post a gist of to solve what problem RAFT was being explored?

[2016-07-23 09:37] harshavardhana commented on #2215
RAFT, ETCD and Consul were being explored with the idea to achieve consensus without using the Controller to make the overall setup simpler for the end user.

It was dropped due to necessity of using a key value database as the backend (historically we knew but forgot during the discussion).

Now the consensus will be achieved based on the transaction locks itself. With transactions locks there is

[2016-07-23 12:34] fwessels commented on #2057
Info on CDC T10 DIF
http://www.ibm.com/developerworks/aix/library/au-T10E2E/

[2016-07-23 16:37] fwessels commented on #1576
SHA256 performance experiment from bitcoin:
https://github.com/laanwj/bitcoin/tree/2016_05_sha256_accel

Giving more or less consistent results with what we are getting

[2016-07-24 05:33] GarimaKapoor commented on #2182
@vadmeste please update the timeline for the fix.

[2016-07-24 05:34] GarimaKapoor commented on #2096
@vadmeste please update the timeline for the fix.

[2016-07-24 07:57] vadmeste commented on #2096
This is under review. Could be merged today, 24 July

[2016-07-24 15:07] flibustenet opened #2274 "XL: repopulate new disks on disk failure"
When a disk fail it should be repopulated when it come back.
Currently the new disk stay silently empty

[2016-07-24 15:09] flibustenet opened #2275 "XL: Alert on a disk failure"
On disk failure the content is still available thanks to erasure code. Then it's not possible to see that a disk is broken and should be repaired.
Linked to the possibility to repopulate the new disk #1745

[2016-07-24 17:50] flibustenet commented on #2274
I close, it's already here : #1745

[2016-07-24 17:50] #2274 closed, assigned to nobody

[2016-07-24 22:52] #2231 closed, assigned to krisis

[2016-07-24 22:54] krisis commented on #2067
I was unable to recreate this issue with the recent master.  We can close this issue and open a new issue if we observe this later.

[2016-07-24 23:12] #2067 closed, assigned to krisis

[2016-07-24 23:23] vadmeste opened #2279 "handlers: Fix rate limit handler and add waiting feature for clients when MINIO_MAXCONN is reached"
Current rate-limit-handler is not effective, use rate limit listener instead

[2016-07-25 00:28] harshavardhana opened #2280 "XL: listmultipart uploads allows listing inside format directory"
[code]

[2016-07-25 07:59] #2267 closed, assigned to nobody

[2016-07-25 09:54] brackxm opened #2283 "signature: putObject XAmzContentSHA256Mismatch"
With recent versions of the java aws sdk, putObject gives a XAmzContentSHA256Mismatch error.
This happens with version 1.11.16 and 1.11.20 (latest).
With version 1.11.15 it works.

[2016-07-25 11:15] brackxm commented on #2283
This seems to be due to a changed default chunkedEncodingDisabled s3ClientOption.
So a putObject with chunked encoding is giving a XAmzContentSHA256Mismatch error.

[2016-07-25 14:34] vadmeste commented on #2182
@GarimaKapoor, still discussing..

Question: Creating format.json could fail too.. what would happen in that case?

My opinion:
I really recommand that we simplify the process, so we will have:
1. a code that reads as much as possible despite errors that it will encounter
2. a code that fix (fsck).

Here, I suggest to load all format.json and compare them.. and try to find the quorum disks that ha

[2016-07-25 17:33] harshavardhana commented on #2283
Yes you need to disable chunkedEncoding what we also need is - https://github.com/minio/minio/issues/1008 which aws-sdk does by default. We are going to work on it and finish it to support the default aws-sdk behavior.

[2016-07-25 17:38] harshavardhana commented on #2182
You could use `--ignore-disks` to start the server.

[2016-07-25 20:38] krishnasrinivas opened #2284 "tests: Test cases when disks are down"
Test cases for xl.PutObject/PutObjectPart/GetObject when disks are down.

This will also add to the code coverage.

[2016-07-25 20:38] krishnasrinivas commented on #1992
remaining code coverage will be taken care by https://github.com/minio/minio/issues/2284
@harshavardhana this issue can be closed

[2016-07-25 20:44] #1992 closed, assigned to krishnasrinivas

[2016-07-25 20:45] harshavardhana commented on #2284
There are bunch of tests already for this

[code]

[2016-07-25 20:51] krishnasrinivas commented on #2284
OK, will check if it's exhaustive and why code was not covered

[2016-07-25 21:04] harshavardhana commented on #2284
There are still cases it doesn't handle though.

[2016-07-25 22:44] ameent commented on #1159
@harshavardhana any help I can offer for getting the distributed version out? Are there any design docs I can look at?

[2016-07-26 00:54] harshavardhana commented on #1159
@ameent we are working on it right now, there are no design docs available. Feel free to chime into our conversations at https://gitter.im/minio/minio.

[2016-07-26 01:08] koolhead17 commented on #1159
Hello @ameent, we have just added https://docs.minio.io/docs/minio-erasure-code-quickstart-guide but as @harshavardhana mentioned we are still working on detailed design doc.

[2016-07-26 01:44] harshavardhana opened #2286 "docs: Write comprehensive bucket notification documentation"

[2016-07-26 05:51] harshavardhana opened #2290 "api: Post Presigned post policy should use less memory and stage the i/o."
[code]

[2016-07-26 07:59] harshavardhana commented on #2290
Assigned to @vadmeste

[2016-07-26 08:00] harshavardhana commented on #2279
@vadmeste - can you update here you findings.. So that we can close the bug?

[2016-07-26 08:45] harshavardhana commented on #2217
Closing - upstream fix sent by @nl5887

[2016-07-26 08:45] #2217 closed, assigned to nl5887

[2016-07-26 08:46] harshavardhana commented on #2216
This is complete. Closing.

[2016-07-26 08:46] #2216 closed, assigned to harshavardhana

[2016-07-26 08:47] harshavardhana commented on #2177
Closing this in favor of new design, there is no controller.

[2016-07-26 08:47] #2177 closed, assigned to harshavardhana

[2016-07-26 08:47] harshavardhana commented on #2178
Closing this, due to new design change.

[2016-07-26 08:47] #2178 closed, assigned to harshavardhana

[2016-07-26 08:49] harshavardhana opened #2291 "rpcServer: should properly initialize all command line disks"
[code]

This needs to be fixed.

[2016-07-26 08:53] harshavardhana opened #2292 "browser: Web handler for file upload should set content-type automatically"
Rather than setting metadata as 'nil'

[code]

[2016-07-26 10:00] hackintoshrao commented on #2265
Fix Part - 2. Upstream enhancement of test in Reedsolomon library https://github.com/klauspost/reedsolomon/pull/30 .

[2016-07-26 11:21] krishnasrinivas opened #2294 "presigned POST behavior"
`rp` is the request-promise module.
this failed:

[code]

this worked:

[code]

i.e it succeeded when filename was provided.
Need to check the behavior of aws s3 and standards and behave accordingly.

[2016-07-26 13:31] krishnasrinivas commented on #2280
@harshavardhana list-objects on minio is working as expected i.e we send 0 entries back.

it's a client side behavior, it works the same way for aws s3 too:

[code]

[2016-07-26 15:26] vadmeste commented on #2182
By the way, here sometimes, a disk contains only buckets without objects, so inspection will fail here. I will start to write code then discuss if needed

[2016-07-26 18:11] vadmeste commented on #2290
@harshavardhana, it seems to me that this part of code is useless and someone has misunderstood the S3 spec, let's discuss further

[2016-07-26 18:39] harshavardhana commented on #2182
When only a bucket is present you can look into '.minio.sys' as well for any entries.

[2016-07-26 18:40] harshavardhana commented on #2280
It is not listObjects,  it is 'list multipart uploads'.  'mc ls -I'

[2016-07-26 21:34] harshavardhana commented on #2294
This perhaps didn't work because of an existing issue here https://github.com/minio/minio/issues/2290

[2016-07-27 04:54] harshavardhana commented on #2279
Fixed by #2295

[2016-07-27 04:54] #2279 closed, assigned to vadmeste

[2016-07-27 04:55] harshavardhana commented on #2280
Not reproducible anymore.. closing but found some 'mc' related issue instead.

[2016-07-27 04:55] #2280 closed, assigned to krishnasrinivas

[2016-07-27 15:18] fwessels commented on #1576
Support for AVX2 had been added in minio/sha256-simd.
Would be good to give this a good stress test in Minio server to see how it performs and holds out.

[2016-07-27 15:20] fwessels commented on #1995
Can we re-analyze CPU profiling with minio/sha256-simd ?

[2016-07-27 19:20] harshavardhana opened #2301 "server: Implement support for 'crossdomain.xml' flash requirement"
https://aws.amazon.com/articles/2011

S3 implemented this to handle flash requests and their cross domain policy requirements from an endpoint.  This is needed to support many exiting legacy apps.

[2016-07-27 19:37] flaviocarmo commented on #2301
A sample crossdomain.xml file can be found on the root of https://s3.amazonaws.com/crossdomain.xml

[code]

[2016-07-27 20:01] vadmeste commented on #2294
I tested with request-promise and aws s3, uploading works correctly without that filename attribute

[2016-07-27 20:02] vadmeste commented on #2294
I also checked with tcpdump, filename attribute is not sent

[2016-07-27 23:34] vadmeste opened #2302 "POST file should return AccessDenied when policy conditions are not handled"
Although not clear in the S3 spec, that's how aws s3 behaves

[2016-07-27 23:35] vadmeste opened #2303 "POST Policy: Replace ${filename} in Key form field with filename attribute passed in multipart"

[2016-07-28 00:49] harshavardhana commented on #2303
what is the gist of the issue here? the title is not clean enough can you elaborate @vadmeste ?

[2016-07-28 00:49] harshavardhana commented on #2302
Current master should have that , can you write down the conditions which it doesn't honor this?

[2016-07-28 00:51] #2294 closed, assigned to vadmeste

[2016-07-28 00:51] #2302 closed, assigned to vadmeste

[2016-07-28 00:51] #2303 closed, assigned to vadmeste

[2016-07-28 00:52] harshavardhana commented on #2303
The patch is merged - still fix this and update the title here @vadmeste

[2016-07-28 00:52] harshavardhana commented on #2290
@vadmeste after the recent patch merge is this still valid?

[2016-07-28 00:53] vadmeste commented on #2303
http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPOST.html mentions the use of ${filename} feature in Key

[2016-07-28 00:56] vadmeste commented on #2290
@harshavardhana, this is not fixed yet

[2016-07-28 01:22] harshavardhana commented on #2096
Closing already merged..

[2016-07-28 01:22] #2096 closed, assigned to vadmeste

[2016-07-28 01:24] harshavardhana commented on #1576
You can vendorize with 'make pkg-add PKG=github.com/minio/sha256-simd'  for the server , we will start testing the benefits right away. :-)

[2016-07-28 02:07] deekoder opened #2307 "Add update=yes in download URL in the update message"
E.g URL : https://dl.minio.io/server/minio/release/linux-386/minio?update=yes

[2016-07-28 02:53] #2301 closed, assigned to harshavardhana

[2016-07-28 02:59] #2307 closed, assigned to harshavardhana

[2016-07-28 03:49] hackintoshrao commented on #1993
[30th July].

[2016-07-28 03:54] hackintoshrao opened #2310 "Tests: Unit test for posix.ReadFile"
Currently tests seemed to missing for posix.ReadFile() , need exhaustive coverage for `posix.ReadFile` functionality.

[2016-07-28 03:56] hackintoshrao commented on #2265
Part -3. `posix.ReadFile` is a core functionality which is used in last layer of several erasure functions, (ex: copyBuffer from erasure-utils.go), It needs good coverage first, cannot proceed until the core functionalities in the execution tree get good tests first, here is the issue https://github.com/minio/minio/issues/2310 .
https://github.com/minio/minio/pull/2319 fixes it.

[2016-07-28 04:06] hackintoshrao commented on #2208
Needs delicate changes with constant profiling  [5th August].

[2016-07-28 04:11] #2292 closed, assigned to nobody

[2016-07-28 05:10] GarimaKapoor commented on #2214
@krisis please update the status of this issue?

[2016-07-28 06:45] hackintoshrao opened #2312 "Tests: Need coverage for functions in xl-v1-utils.go"

[2016-07-28 08:00] AnatolyRugalev opened #2313 "Docs: XL usage"
Can anyone explain why and when I need to use XL storage and how to enable it on my minio instance?

[2016-07-28 08:11] harshavardhana commented on #2313
You can find more details here @AnatolyRugalev - https://docs.minio.io/docs/minio-erasure-code-quickstart-guide

[2016-07-28 08:28] AnatolyRugalev commented on #2313
Thank you!

I already saw this page but I haven't found any XL storage mention there. This confused me a bit

[2016-07-28 08:28] #2313 closed, assigned to nobody

[2016-07-28 09:24] ramondeklein opened #2314 "Allow to disable the front-end"
I would like to be able to disable the front-end or have it available on another port and/or prefix. This allows me to effectively block or reroute this kind of traffic from NGINX.

[2016-07-28 09:36] harshavardhana commented on #2291
Re-assigned to //cc @krisis

[2016-07-28 11:00] #2314 closed, assigned to krishnasrinivas

[2016-07-28 13:30] vadmeste opened #2316 "Limit request size body to a maximum size"
A malicious client can send a very large request which consumes first the memory then the disks in temporary files. Secure that with a golang API: https://golang.org/pkg/net/http/#MaxBytesReader

[2016-07-28 16:35] vadmeste commented on #1976
How to define the graceful shutdown: it is alerting all go routines that a shutdown is occurring and wait all of them to finish before the total exit.
However, this means four things:
- a go routine which is performing a long continuous task (we can imagine a golang API which is taking a too long time), in this case, we will need to wait for that goroutine to finish to guarantee that we are not pr

[2016-07-28 16:46] vadmeste commented on #1976
oups, I've just noticed that the title was changed from graceful shutdown of webservice/io to graceful shutdown of webservice

[2016-07-28 17:17] harshavardhana commented on #1976
Earlier we used this - https://github.com/facebookgo/httpdown , but this has a weird API style and oddly logs with in the http.Server() instance.  Without much control.

[2016-07-28 17:18] harshavardhana commented on #1976
We should explore if there are any available.. better alternatives.

[2016-07-28 18:13] jehiah opened #2318 "Use semver compatible release versioning"
Can you consider adopting [semver](http://semver.org) compatible version strings? This will help set expectations for types of changes between releases when upgrading, and will help when integrating minio into other deployment systems (for example I'm making an RPM to snapshot this dependency for deployment in an environment, and i have to make up a "version number").
## Expected behaviour

I expe

[2016-07-28 19:00] harshavardhana commented on #2318
@jehiah Minio is designed for continuous deployment model and we consciously moved away to make binary version simpler.   So we choose the release date as the server version.

What we have is `config version` and `backend format version`.  Minio server also handles auto migration from one version of config to the other and also be able to handle format changes in its backend transparently.  Minio

[2016-07-28 19:02] #2316 closed, assigned to nobody

[2016-07-28 19:03] harshavardhana commented on #2290
Fixed by #2317

[2016-07-28 19:03] #2290 closed, assigned to vadmeste

[2016-07-28 20:06] jehiah commented on #2318
++ all good things. feel free to close this request if you feel that's appropriate =)

I just wanted to give the request/feedback that I'd find more typical version strings helpful. For my use, I explicitly version and manage state for everything that runs in my environment.

[2016-07-28 20:17] koolhead17 commented on #2318
@jehiah  Are you using Minio at bitly, kind of curious? 😄

[2016-07-28 21:45] harshavardhana commented on #1576
This is fixed #2320

[2016-07-28 21:45] #1576 closed, assigned to harshavardhana, fwessels

[2016-07-28 23:19] vadmeste commented on #1976
How about implementing this by hand ? It is possible to add a new handler which tracks all the connected clients. When graceful shutdown starts, new connections will be forbidden and at the same time we will wait other clients to finish

[2016-07-28 23:49] #2182 closed, assigned to vadmeste

[2016-07-29 03:49] #2214 closed, assigned to krisis

[2016-07-29 05:58] krishnasrinivas commented on #1976
how about a global `shutdown chan struct{}` which the go-routines need to watch out for in `select { }`

[2016-07-29 06:36] vadmeste commented on #1976
yes @krishnasrinivas, we need that if we want goroutines exit as fast as possible

[2016-07-29 13:37] jesselucas commented on #1976
With it being added to the standard lib in 1.7, would adopting the use of the context package and using it's done chan be a solution? This could help with integrating with external packages/apis in the future. https://blog.golang.org/context

[2016-07-29 15:56] harshavardhana opened #2323 "doc: Document 'config.json' structure and editing guide."

[2016-07-29 15:57] harshavardhana commented on #2318
:+1:

[2016-07-29 15:57] #2318 closed, assigned to harshavardhana

[2016-07-29 15:57] harshavardhana commented on #2310
Closing this fixed by #2319

[2016-07-29 15:57] #2310 closed, assigned to harshavardhana

[2016-07-29 16:02] koolhead17 commented on #2323
@harshavardhana assign it to me, will add `config.json` sample and information about .minio & certificates.

[2016-07-29 22:00] koolhead17 opened #2324 "Bug: Server config directory should have certs directory created by default"
In current Minio server our `.minio` directory looks like

[code]

For someone who wants to run Minio with `HTTPS` has to manually create `certs` directory before providing keys, we should handle this from our end. We should not let our configuration altered manually.

[2016-07-30 00:13] marclennox opened #2326 "signature: Implement support for STREAMING-AWS4-HMAC-SHA256-PAYLOAD"
I'm using the Docker version of minio and connecting with the Ruby AWS-SDK 2.x (through a third-party library called Carrierwave).

With the aws-cli tool, I can upload files without issue, but with the ruby SDK I'm getting the following error:

[code]

Just wondering how best to debug this.

[2016-07-30 00:25] harshavardhana commented on #2326
This we have seen before, most probably related to - https://github.com/minio/minio/issues/2283 working on fixing this right now.  This is most probably related to a type of signature functionality which we do not support yet i.e http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-streaming.html

Just so we know do you know the relevant portion of the code which does this?

[2016-07-30 00:46] hernandev opened #2327 "Deploy refresh call after upload of large files"
## Expected behaviour

After uploading a large file, (in my case anything above 10mb) the web ui makes a request to `/minio/webrpc` that should list the recently uploaded file.
## Actual behaviour

The request to `/minio/webrpc` fails listing the recently created object because it was not in the final destination yet (probably being moved from upload / temp path)
## Steps to reproduce the behaviou

[2016-07-30 01:19] marclennox commented on #2326
Thanks for the quick response.  I wonder if I can somehow bypass this with configuration in the ruby SDK.

http://docs.aws.amazon.com/AWSRubySDK/latest/AWS/Core/Configuration.html#s3_multipart_max_parts-instance_method

[2016-07-30 02:25] harshavardhana commented on #2326
Yes it would be possibly by not using chunked encoded based signature. Upstream aws-sdk-java we sent earlier a patch to disable this by using a flag.

But not sure if ruby SDK has it.

[2016-07-30 02:33] harshavardhana commented on #2326
Actually this looks like a different issue,  ruby doesn't support STREAMING-PAYLOAD which i just mentioned before. This must be something different.

Can you paste the code or the software on how this can be reproduced? - let us try to have a look at it.

[2016-07-30 02:35] marclennox commented on #2326
Yeah, I’ve actually been able to perform operations successfully with the ruby sdk directly.  It fails when I use Papertrail or Fog on top of the Ruby SDK, so I’ll have to debug this further.

I was previously using Fake S3 successfully.

[2016-07-30 02:39] harshavardhana commented on #2326
Would love to see the code, must be related to signature calculation in this case.

[2016-07-30 02:46] jesselucas commented on #2324
@koolhead17 The ~/.minio/certs directory was created for me:

[code]

[2016-07-30 02:46] marclennox commented on #2326
I'm using this library

https://github.com/carrierwaveuploader/carrierwave

in conjunction with the Fog library, so my initialization looks like this.

[code]

[2016-07-30 02:47] marclennox commented on #2326
fog-aws library is here

https://github.com/fog/fog-aws

[2016-07-30 02:58] harshavardhana commented on #2326
Checking.

[2016-07-30 03:21] harshavardhana commented on #2326
The library seems to be working fine, do not know about carrierwave how it can be tested.  Looks like requires rails etc.

[2016-07-30 05:15] krishnasrinivas opened #2328 "doc: simple document to show the use of presignedGet"
Provide a document "Download to browser client directly from S3 storage" (maybe in cookbook section)

doc should show simple nodejs server which returns presignedGet url at a route
doc should also show browser javascript code to fetch the presignedGet url and download the file

[2016-07-30 05:16] krishnasrinivas opened #2329 "doc: simple document to show the use of presignedPut"
Provide a document "Upload to S3 storage directly from browser client" (maybe in cookbook section)

doc should show simple nodejs server which returns presignedPut url at a route
doc should also show browser javascript code to fetch the presignedPut url and upload a file to s3 directly.

[2016-07-30 07:05] hackintoshrao commented on #2265
part - 4: https://github.com/minio/minio/pull/2330

[2016-07-30 08:30] harshavardhana commented on #2324
I just checked it is created as well

[code]

The problem is that 'certs' is created inside a conditional where config was not created.  So it would mean that if someone deleted 'certs' directory manually it wouldn't be created later.

We can debate that we should create this directory always regardless of if config exists or not.

[2016-07-30 14:08] hackintoshrao commented on #2265
part - 5: https://github.com/minio/minio/pull/2333

[2016-07-30 14:52] ramondeklein opened #2334 "Don't concatenate multi-part upload during completion"
The FS version concatenates all the parts of a multi-part upload when the multi-upload is completed. Multi-part uploads are often used for huge files, so this takes a lot of time and also spikes the IOPS for a while. In some situations (like ours), it would be much better to use the XL method to keep the parts separate and combine them during download.

Of course, the parts cannot be accessed the

[2016-07-30 15:19] krishnasrinivas commented on #2334
@ramondeklein

This was the intention to do the concatenation so that the backend is kept simple.

What is the file size you are uploading? what client library are you using to do the multipart upload?

[2016-07-30 15:43] ramondeklein commented on #2334
We are rolling our own HTTP requests from the webbrowser to have maximum flexibility. Depending on the uploader's bandwidth, we alter the chunk-size dynamically and also tune the amount of parallel parts that are being uploaded. Our files range from several megabytes up to 50GB. The part-size is between 5-50MB.

[2016-07-30 16:12] krishnasrinivas commented on #2334
@ramondeklein are you using aws-jdk-js http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-intro.html in the web browser for multipart uploads?

[2016-07-30 16:43] ramondeklein commented on #2334
No, we use the AWS-SDK on the backend (Javascript). It initiates the multi-part upload and returns the tokens to the client. The client uploads all the parts using handcrafted XHRs. We don't use an AWS library on the client, so we do our own authorization, SHA calculation, etc... Once the client has uploaded all parts directly to S3 (without passing our server), we signal our backend that the mult

[2016-07-30 17:39] krishnasrinivas commented on #2334
It will be a little tricky, we will get back on this.

[2016-07-30 22:26] harshavardhana commented on #2334
Saving the parts information makes backend format change which we don't want to carry in FS. The reason to keep FS the way it is as @krishnasrinivas pointed out is for users to serve existing content. We cannot break the assumption and it is this simplicity which is important for FS backend.

Rather than introducing a new backend one could use 'XL' with 4 disks which would work the same way.  Addi

[2016-07-30 22:48] ramondeklein commented on #2334
Well... They do now, but in S3 this operation is completed pretty fast. There is no need for our end-users to wait for this operation. One of our benefits is that we send out the emails right after the upload has completed. There is no processing step necessary, which is better for I/O distribution (no spikes) and without post-processing, the recipient can download the files faster.

We currently

[2016-07-30 23:03] krishnasrinivas commented on #2334
@ramondeklein we are planning to do the concatenation in background, so your users will not have to wait, will that work for you?

[2016-07-30 23:15] ramondeklein commented on #2334
I think that solution would be a violation of the S3 API. Amazon also states that the completion of this call can take several minutes ([link](http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadComplete.html)):

We have never seen that the completion takes minutes (on S3 itself). Even large files (40GB) complete only in a few seconds.

If you process the parts in the background, then you shoul

[2016-07-30 23:20] harshavardhana commented on #2334
This was the entire reason we could concatenate :-)

[2016-07-31 03:09] marclennox commented on #2326
I'm able to replicate the error by using the Fog AWS wrapper library, as follows.

[code]

[2016-07-31 03:22] marclennox commented on #2326
I think I've gotten closer to the root cause.  It seems that it works if I run the ruby client outside of Docker and connect through an nginx proxy running in Docker in front of minio.

However if I try to run ruby from inside Docker using a container link, I get the failure.

So something about docker network linking is triggering this.

[2016-07-31 10:25] harshavardhana commented on #2326
Thanks for the input will check.

[2016-07-31 10:34] marclennox commented on #2326
Did some more tests.  The combination of using Fog inside of the docker VM is causing failure.  Using the ruby SDK directly works fine.  I'm using Docker for Mac FYI.

[2016-08-01 03:17] #2324 closed, assigned to nobody

[2016-08-01 07:11] balamurugana opened #2335 "server: validate whether server supports bucket policy with '?' character."
As per Amazon S3 spec, resource may have `?` character to represent matching any single character.  We would need to validate whether its supported in the server currently.

[2016-08-01 08:55] nl5887 commented on #1976
And maybe this is worth looking at as well: https://github.com/facebookgo/grace. Allows graceful restarts (upgrades), without dropping connections.

[2016-08-01 12:13] krishnasrinivas opened #2337 "limit max object cache size based on physical memory"
Linux has `syscall.Sysinfo()` other OSes don't, need to see the best way to limit object cache size.

[2016-08-01 15:57] marclennox commented on #2326
I tried running minio on a separate machine, separate network and still the same issue.  So it seems the issue is something to do with Fog, which is a commonly used Ruby library for S3 access.  Here's the stack trace showing which classes and methods are being invoked, perhaps if you have time to look at Fog's source you'll see something that stands out.

[code]

[2016-08-01 16:39] marclennox commented on #2326
I did some stepping through the code, and I noticed something suspicious around the `x-amz-content-sha256` header, which seems to be the complaint in the error message.

Notice the header data being sent below.

[code]

[2016-08-01 18:29] harshavardhana commented on #2326
This looks like the same bug i mentioned earlier i am fixing right now.

[2016-08-01 18:35] marclennox commented on #2326
OK cool, let me know when you have something I can test.  I’m eager to get this resolved on my end.

[2016-08-01 19:06] harshavardhana commented on #1976
https://github.com/mholt/caddy/blob/master/caddyhttp/httpserver/graceful.go - this is the simplest i found.

We have used this before we in-fact had our own version based on this, it was just way too complex and had bugs we removed this in favor of standard HTTP package.

[2016-08-01 19:08] harshavardhana commented on #2326
Sure will let you know. Thanks for your patience.

[2016-08-01 23:21] harshavardhana commented on #2236
This was decided to be not implemented for now, will re-open if the requirement comes up.

[2016-08-01 23:21] #2236 closed, assigned to harshavardhana

[2016-08-01 23:23] harshavardhana commented on #2062
Closing as duplicate of #2327

[2016-08-01 23:23] #2062 closed, assigned to balamurugana

[2016-08-01 23:23] harshavardhana commented on #2327
Assigned to // cc @balamurugana from original bug at #2062

[2016-08-01 23:24] harshavardhana commented on #2283
Closing this as duplicate of #2326

[2016-08-01 23:24] #2283 closed, assigned to harshavardhana

[2016-08-01 23:25] harshavardhana commented on #1008
Closing this as duplicate of #2326

[2016-08-01 23:25] #1008 closed, assigned to harshavardhana

[2016-08-01 23:57] harshavardhana opened #2339 "fs: Implement multipart background commit"

[2016-08-02 02:43] jehiah commented on #2318
@koolhead17 yes! Just starting out to use it as a development double for S3. We have a lot of objects in S3 =)

[2016-08-02 02:54] koolhead17 commented on #2318
@jehiah 😄
It will be great if you can add your use case to https://github.com/minio/awesome-minio. It is a curated list of projects using Minio.

[2016-08-02 03:46] hackintoshrao commented on #1993
Part -1 fix - Tests for signature utils and their associated functions -  https://github.com/minio/minio/pull/2342 .

[2016-08-02 05:00] hackintoshrao commented on #2265
Part - 6: Upstream tests fix for reedolomon library merged https://github.com/klauspost/reedsolomon/pull/30 . Will make an vendor update.

[2016-08-02 07:32] krishnasrinivas opened #2343 ""minio control heal" cli in minio binary"
Implement minimal framework to implement commands:
minio control heal
minio control shutdown

Ideally should be implemented as a package.

[2016-08-02 08:18] harshavardhana commented on #2343
There is no reason to, keep it as the overall structure. Control package is not useful outside unless you call it 'Control client SDK'

[2016-08-02 08:19] harshavardhana commented on #2339
Re-assigning this to @hackintoshrao

[2016-08-02 10:31] hackintoshrao commented on #2335
The spec [here](http://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html) says

Adding support for `?`

[2016-08-02 12:41] nl5887 commented on #1976
won't the simplest solution will be to stop listening for new requests (return a error here https://github.com/minio/minio/blob/b0b919a1d6622ea6a956c5428fb6a3e4b70e592b/server-mux.go#L143) and waiting for goroutines to wait using a waitgroup (https://github.com/minio/minio/blob/b0b919a1d6622ea6a956c5428fb6a3e4b70e592b/server-mux.go#L174) ? That could be an easy and quick start, while implementing

[2016-08-02 12:51] vadmeste commented on #1976
@nl5887, yes that's a simple solution.. we can even add a handler which does that.. However I prefer that we remember in the first place why we need this graceful shutdown.

[2016-08-02 15:11] nl5887 commented on #1976
I think we just don't want to abort running up- and downloads directly. This will play nicer as well in loadbalancing situations where the minio instance will be removed from the cluster, but will finish the current transfers for the exiting node.

[2016-08-02 16:47] vadmeste commented on #2252
We need a proper shutdown mechanism for this.. could we discuss to see if we will really need that shutdown mechanism for other purposes? (cleaning stale files, etc..)

[2016-08-02 17:04] #2337 closed, assigned to krishnasrinivas

[2016-08-02 20:04] harshavardhana commented on #2339
Re assigned to @vadmeste

[2016-08-02 21:24] harshavardhana commented on #2253
// Re-assigned to @vadmeste

[2016-08-02 23:05] koolhead17 opened #2346 "config.json.old should keep copy of previous configuration version."
## Expected behaviour

In current Minio server `config.json` & `config.json.old` are same.
## Actual behaviour

`config.json.old` should have previous version details.
## Steps to reproduce the behaviour

Remove `config.json.old` from `~/.minio` & restart minio server.
## Minio version

VERSION: 2016-08-02T23:02:41Z
## System information

OSX version 10.11.5

[2016-08-02 23:20] danyaljj opened #2347 "Is there a way to see bucket permission in the web app?"
Is there a way to see the bucket permissions online?  (e.g accessible to public, private, etc)?
If so, how about modifying them online?

<img width="734" alt="screen shot 2016-08-02 at 4 17 20 pm" src="https://cloud.githubusercontent.com/assets/2441454/17348704/f9ea52c0-58cc-11e6-9aab-bbf3087f76a2.png">

[2016-08-02 23:46] harshavardhana commented on #2347
You have to use 'mc policy' to set new policies,  by default all buckets are private. Browser doesn't have a way right now, we are working on it.

Closing this as duplicate of #1858

[2016-08-02 23:46] #2347 closed, assigned to nobody

[2016-08-02 23:47] harshavardhana commented on #2347
For more information - https://docs.minio.io/docs/minio-client-complete-guide#policy

[2016-08-02 23:48] #2346 closed, assigned to nobody

[2016-08-03 15:00] dmd opened #2349 "download failed 'ETag'"
## Expected behaviour

Ability to upload, then download a file.
## Actual behaviour

[code]
## Minio version

Version: 2016-07-13T21:46:05Z
Release-Tag: RELEASE.2016-07-13T21-46-05Z
Commit-ID: 3f27734c22212f224037a223439a425e6d2b653a
## System information

`Linux ic-prod1 2.6.18-274.el5 #1 SMP Fri Jul 8 17:36:59 EDT 2011 x86_64 x86_64 x86_64 GNU/Linux`

[2016-08-03 15:38] marclennox opened #2350 "Unable to set policy for bucket through Ruby AWS SDK"
I'm trying to set a bucket policy using the ruby SDK, passing in the following policy document.

[code]

I'm getting the following error

`An error occurred (InvalidPolicyDocument) when calling the PutBucketPolicy operation: The content of the form does not meet the conditions specified in the policy document.`

Any idea what is wrong with my policy document?

[2016-08-03 15:49] dmd commented on #2349
Aha - erasure code mode needed to be activated.

I started minio with: `bin/minio server b1 b2 b3 b4 b5 b6` (after creating those dirs) and it worked.

[2016-08-03 15:49] #2349 closed, assigned to nobody

[2016-08-03 17:32] koolhead17 commented on #2350
hello @marclennox please share the code, we will test it at our end.

[2016-08-03 17:47] marclennox commented on #2350
I can replicate the same error using the AWS CLI as follows:

`aws --endpoint-url http://127.0.0.1:9000 s3api put-bucket-policy --bucket examplebucket --policy file://policy.json`

[2016-08-03 17:48] marclennox commented on #2350
Note that I'm using Minio in XL mode with 6 disks.

[2016-08-03 18:07] harshavardhana commented on #2350
Thanks @marclennox will update you in a bit.

[2016-08-03 18:17] harshavardhana commented on #2350
@marclennox the problem is the 'Principal' field here - can you try this?

[code]

More convenient way rather than writing your own `policy.json` it is easier to use - https://docs.minio.io/docs/minio-client-complete-guide#policy - would also avoid user errors.

[2016-08-03 19:06] marclennox commented on #2350
That worked, thanks @harshavardhana and @koolhead17.

I'm trying to do this within our application so ideally stick to the aws ruby sdk for all operations.

[2016-08-03 19:09] koolhead17 commented on #2350
sounds great @marclennox Feel free to add your use case with Minio https://github.com/minio/awesome-minio 😄

[2016-08-03 19:10] harshavardhana commented on #2350
Closing.

[2016-08-03 19:10] #2350 closed, assigned to nobody

[2016-08-04 15:46] hackintoshrao commented on #2335
This is fixed, can be closed now @balamurugana .

[2016-08-04 16:24] krishnasrinivas commented on #2343
The assumption that you should not create package if it's not useful outside appears wrong.

I checked few of the well known golang projects I could think of, all of them have been structured using packages.
for example, bradfitz's project: https://github.com/camlistore/camlistore
you can see that packages are specific to camlistore and not usable outside:
https://github.com/camlistore/camlistore/

[2016-08-04 17:03] brendanashworth opened #2355 "minio complains over UNSIGNED-PAYLOAD on secure server"
## Expected behaviour

I might be wrong :) but I'd expect that `presignedGetObject` requests receive the same response from minio when properly authenticated.
## Actual behavior

Minio returns a `ErrContentSHA256Mismatch` ("The provided 'x-amz-content-sha256' header does not match what was computed.") when minio-js makes a request to do `presignedGetObject` on a secure server. In this case, sha256

[2016-08-04 17:05] vadmeste commented on #2339
Timeline: 4 August

[2016-08-04 17:07] vadmeste commented on #2252
Timeline: 5 August

[2016-08-04 17:15] krishnasrinivas commented on #2355
@brendanashworth i am able to reproduce this, checking.

[2016-08-04 17:39] krishnasrinivas opened #2356 "minio error with aws-sdk-js"
@ajarbehari on #minio gitter:

[code]

[2016-08-04 17:49] #2335 closed, assigned to hackintoshrao

[2016-08-04 17:52] harshavardhana commented on #2355
Can you try the same behavior with 'minio-go' ?

[2016-08-04 18:00] #2049 closed, assigned to nobody

[2016-08-04 18:02] harshavardhana commented on #2343
There is no such consensus and brings in complexity, Let's not do it right now. We have other important things to address.

[2016-08-04 18:10] brendanashworth commented on #2355
@harshavardhana hmph, it doesn't behave the same — this must be an issue with minio-js, I'll move it to there. Sorry for the run around.

[2016-08-04 18:16] harshavardhana commented on #2343
Adding to that we will do this activity on case by case basis in a clean way deciding on what should become a package or not. For the time being we have to address the distributed server version timeline.

[2016-08-04 18:25] harshavardhana commented on #2253
This is fixed.  New vendor of miniobrowser would fix this.

[2016-08-04 18:25] #2253 closed, assigned to vadmeste

[2016-08-04 18:34] awwalker opened #2357 "r"
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-08-04 18:34] #2357 closed, assigned to nobody

[2016-08-04 21:47] krishnasrinivas commented on #2355
@brendanashworth you can fix this in minio:

basically handler for getbucketlocation was not handling UNSIGNED-PAYLOAD properly.
minio-go was not doing UNSINGED-PAYLOAD for getbucketlocation

[code]

[2016-08-04 22:04] harshavardhana commented on #2355
@krishnasrinivas - can you send a PR?

[2016-08-04 22:05] harshavardhana commented on #2355
Also minio-go should be fixed as well.

[2016-08-04 22:09] krishnasrinivas commented on #2355
let me fix

[2016-08-04 22:49] #2355 closed, assigned to krishnasrinivas

[2016-08-05 02:14] brendanashworth commented on #2355
Oh! How sneaky. Thanks for the fix!

[2016-08-05 07:10] ajarbehari opened #2360 "Load Image in browser by direct url pointing"
## Expected behaviour

Ability to access an image with public-read access using <img ng-src={{ImageUrl}} > and load in browser
## Actual behaviour

Access Denied error .
## Steps to reproduce the behaviour
1. Uploaded image to bucket with public-read permission. File is uploaded but not sure if ACL: 'public-read' and content-type: 'file.type' is set in aws.s3.upload call . We cannot read back acl

[2016-08-05 07:12] harshavardhana commented on #2360
On Minio we do not support ACL's on objects we support Bucket policy - https://docs.minio.io/docs/minio-client-complete-guide#policy . Using bucket policy you can make objects to be accessed anonymously.

[2016-08-05 07:34] ajarbehari commented on #2360
I tried to set the
mc policy both bucket
mc policy both bucket\subfolder
and this was set correctly from mc .

Can we also do this from aws js sdk using putBucketPolicy by passing policy as json object ?

And, I still get access denied 403 when I access the image resource in the subfolder .

[2016-08-05 07:41] harshavardhana commented on #2360
Can you provide exact behavior basically some more details about the setup?
- OS
- minio version
- Backend being used 'fs' or 'erasure coded'?

Yes it is definitely possible you have to construct your own policy json, some examples here
https://gist.github.com/harshavardhana/23b19e20409248189eb3dbbc74a1c42c

[2016-08-05 07:44] brendanashworth commented on #2061
This should be fixed by https://github.com/minio/miniobrowser/pull/174 once it lands.

edit: also https://github.com/minio/miniobrowser/commit/a5d0f7e6d2ff67b4ec353ea999bbd57c952e8491 added partial multiple file support before this.

[2016-08-05 07:52] ajarbehari commented on #2360
OS (Ubuntu 14.04 LTS)
uname -a
Linux apj 3.19.0-56-generic #62~14.04.1-Ubuntu SMP Fri Mar 11 11:03:15 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Minio Version
Version - 2016-08-02T12:10:19Z
Release-Tag-  DEVELOPMENT.2016-08-02T12-10-19Z
Commit-ID-  1494af485e7828c848cd6a2903ace27676c99986

I am using the default backend when installed from source , I think 'filesystem' .

[2016-08-05 07:56] harshavardhana commented on #2360
Oh you are running the master, let me check what is the problem.

[2016-08-05 08:31] ajarbehari commented on #2360
I am getting some unexplained behavior with mc look at sequence of commands on terminal.

./mc policy wyzbee-52a3e1ee/
Access permission for ‘wyzbee-52a3e1ee/’ is ‘none’

./mc policy both wyzbee-52a3e1ee/
Access permission for ‘wyzbee-52a3e1ee/’ is set to ‘both’

./mc policy wyzbee-52a3e1ee/
Access permission for ‘wyzbee-52a3e1ee/’ is ‘none’

Can these issue be caused by migration . I had first in

[2016-08-05 09:01] harshavardhana commented on #2360
There has been some changes recently, need to validate what is going on.

// cc @hackintoshrao

[2016-08-05 09:14] hackintoshrao opened #2361 "bucket policy: Unexpected behaviour."
As reported by @ajarbehari here https://github.com/minio/minio/issues/2360 ,

./mc policy wyzbee-52a3e1ee/
Access permission for ‘wyzbee-52a3e1ee/’ is ‘none’

./mc policy both wyzbee-52a3e1ee/
Access permission for ‘wyzbee-52a3e1ee/’ is set to ‘both’

./mc policy wyzbee-52a3e1ee/
Access permission for ‘wyzbee-52a3e1ee/’ is ‘none’

[2016-08-05 09:15] hackintoshrao commented on #2360
@ajarbehari :  Created a new issue for policy issue, you can follow it up here https://github.com/minio/minio/issues/2361 .

[2016-08-05 09:30] hackintoshrao commented on #1993
Part - 2 fix - Test for signature parser https://github.com/minio/minio/pull/2362 .

[2016-08-05 11:01] hackintoshrao commented on #2361
@ajarbehari : Not able to reproduce with latest master of both 'mc' and 'minio' server at https://github.com/minio/minio/commit/1494af485e7828c848cd6a2903ace27676c99986. Can you upgrade to latest master and validate it on any newly created bucket?

[2016-08-05 15:18] cngam opened #2364 "minio erroring out requests when free inode counts are low"
## Expected behavior

This is the expected behavior for minio. However, there are file systems that will dynamically allocate inodes. In these cases, the inode free list is not an accurate indication that the FS will run out of inodes.
## Actual behavior

It is behaving as designed.
## Steps to reproduce the behavior

Use CVFS as the FS backend.
## Minio version

Version: 2016-07-29T15:57:04Z
Rele

[2016-08-05 16:23] darkhelmet commented on #2326
I'm hitting this too, using attache, which uses fog.

The problem in fog comes from this: https://github.com/fog/fog-aws/blob/f8e795d6d35c4f3fac4f92a507410c1cdfae6d7d/lib/fog/aws/storage.rb#L579

If you do something like `...files.create(key: 'foo', File.read('foo'))` then it works fine, but if you pass a file handle `...files.create(key: 'foo', File.open('foo'))` then it fails.

I tried setting t

[2016-08-05 17:33] marclennox commented on #2326
Hey @darkhelmet, I posted my temporary monkey patch over at the fog-aws project if you're interested.

https://github.com/fog/fog-aws/issues/285

Basically I read the file into memory and upload it in one shot, which is exactly what you've suggested also.  It's not great, but it works for now until this issues is resolved.

[2016-08-05 21:54] awwalker opened #2365 "Presigned Requests: Fast Expiration"
## Expected behaviour

Presigned URLs should be available for a certain amount of time
## Actual behaviour

Anything with an expiration less than 60 seconds is coming back as "Request has expired."
## Steps to reproduce the behaviour

Run s3verify tests.
## Minio version
- (paste output of `minio version`)
  play.minio.io:9000
  ## System information

[2016-08-05 23:51] awwalker commented on #2365
This was not an issue with minio server...play server itself had a clock issue where it was running ~53 seconds behind.

[2016-08-05 23:51] #2365 closed, assigned to nobody

[2016-08-06 00:36] #2328 closed, assigned to brendanashworth

[2016-08-06 00:36] #2329 closed, assigned to brendanashworth

[2016-08-06 09:54] hackintoshrao opened #2372 "presignURL: Incorrect behaviour when query params are missing."
## Expected behaviour

s3's behavior in the same scenario.
<img width="1277" alt="screen shot 2016-08-06 at 2 47 23 pm" src="https://cloud.githubusercontent.com/assets/2609511/17456110/c20cd3c6-5be9-11e6-84c0-ae2f67816212.png">
## Actual behaviour

Signature Mismatch error.
## Steps to reproduce the behaviour

remove any query param from presign URL and use.
## Minio version
- (paste output of `mi

[2016-08-06 16:38] ozonesn opened #2374 "Unable to upload files while in a browser on windows 32 bit"
## Expected behaviour

files to be uploaded (.png, .js, .txt) via minio browser
## Actual behaviour

![error](https://cloud.githubusercontent.com/assets/9211383/17457881/e13469d2-5c23-11e6-9a59-5ac922e2f461.png)
## Steps to reproduce the behaviour
1. install minio server on 32 bit windows
2. create a data directory
3. start mino server
4. create a bucket via browser
5. files will error upload
## M

[2016-08-06 21:30] vadmeste commented on #2374
@ozonesn, thanks for reporting. I tried to be similar as much as possible to your testing case but I failed to reproduce the bug, could we schedule to test together ?

[2016-08-06 22:20] vadmeste commented on #2356
I allowed GetObject using setBucketPolicy of aws-sdk-js and it works fine..
@ajarbehari, could we schedule to test together your issue?

[2016-08-06 22:30] harshavardhana commented on #2356
Perhaps on the browser @vadmeste ?

[2016-08-06 22:34] vadmeste commented on #2356
@harshavardhana, tested on browser too

[2016-08-07 00:14] hackintoshrao commented on #1993
Part -3 fix: https://github.com/minio/minio/pull/2375

[2016-08-07 00:59] hackintoshrao opened #2376 "tests: TestCheckPortAvailability fails when port 9000 busy."
## Expected behaviour

Tests to pass irrespective whether port 9000 is busy.
## Actual behaviour

Fails when 9000 is busy.
--- FAIL: TestCheckPortAvailability (0.00s)
        checkport_test.go:37: checkPortAvailability test failed for port: 9000. Error: listen tcp :9000: bind: address already in use
## Steps to reproduce the behaviour

Run any server on 9000 and do `go test` on Minio repo root.
##

[2016-08-07 01:53] ozonesn commented on #2374
@vadmeste, sure, shall we sometimes have teamviewer session?

[2016-08-07 04:52] harshavardhana opened #2377 "tests/cover: Not being generated for master anymore"
[code]

Since this commit profiles are not being generated anymore. Checking...

[2016-08-07 06:53] #2377 closed, assigned to harshavardhana

[2016-08-07 09:59] vadmeste commented on #2374
@ozonesn, yes.. join us here https://gitter.im/minio/minio

[2016-08-07 10:06] vadmeste commented on #2376
If this doesn't fail, it means that other functional tests that run a server on the same port will fail too.. I think this is an overkill to change this behavior

[2016-08-07 10:10] harshavardhana commented on #2376
It can be changed to pick an free port to run the tests.

[2016-08-07 10:12] harshavardhana commented on #2326
Here is a working patch that is available - https://github.com/minio/minio/pull/2370

@marclennox @darkhelmet would you mind testing this?

[2016-08-07 10:24] vadmeste commented on #2376
I think we need to avoid adding more details to our minds for a little gain.

[2016-08-07 11:16] marclennox commented on #2326
I’d love to test this out.  I’m running minio with Docker, would you mind pushing a Docker testing tag for this patch build, or is there a script to build the docker image myself locally using this patch?

[2016-08-07 11:54] vadmeste commented on #2374
A proxy (not standard one) was used between Firefox and Minio server.. Most likely that proxy is buggy or needs user pre-configuration, but I guess a proxy should be always transparent, any thoughts?

[2016-08-07 12:11] ozonesn commented on #2374
@vadmeste The particular proxy has a role providing access; mainly, managing download and clipboard to third party Download Manager. Thus it was added automatically without user convention. Why is minio unable to handshake?

[2016-08-07 15:06] krishnasrinivas commented on #2374
@vadmeste What's the proxy's name? can we reproduce this to check what's really happening? were there any clues in the JS console?

[2016-08-07 15:24] ozonesn commented on #2374
@vadmeste , @koolhead17 , @krishnasrinivas http://127.0.0.1:9614/proxy.pac is used as proxy.

[2016-08-07 16:50] harshavardhana commented on #2376
Not really we have this code already AFAIK.

[2016-08-07 16:51] harshavardhana commented on #2326
Let me see if we can get a docker image.

[2016-08-07 18:08] marclennox commented on #2326
@harshavardhana I was able to use your PR to patch minio:master and build a Docker image.  On running my test suite, it appears that everything works with streaming signature v4

[2016-08-07 18:18] harshavardhana commented on #2326
Very cool.

[2016-08-07 20:12] stiletto opened #2379 "Setting policy to `download` on any prefix in bucket enables anonymous listing on the whole bucket"
For example `listtest` bucket on play.minio.io has policy set to `none`
when `listtest/download-allowed/` is set to `download`, we can use `curl -i https://play.minio.io:9000/listtest` to see all files in the bucket, including ones from `listtest/download-NOT-allowed/`

[2016-08-07 20:29] awwalker opened #2380 "GetObject (Presigned): Incorrect error response message"
## Expected behaviour

wanted to get "Request has expired"
## Actual behaviour

got "Request has expired."
## Steps to reproduce the behaviour

run s3verify tests
## Minio version
- (paste output of `minio version`)
  play.minio.io:9000
  ## System information

[2016-08-07 20:58] harshavardhana commented on #2379
Can you paste your 'mc version' - are you using the latest?

[2016-08-07 21:20] vadmeste commented on #2374
@krishnasrinivas, this is the XDM proxy (download manager).. I suggest to test against known proxy tools and that would be enough,

[2016-08-07 22:06] krishnasrinivas commented on #2374
@vadmeste I think the XDM proxy is changing the `Host` header causing signature mismatch. was it returning 401/403 error?
Host header won't affect json/rpc as auth is webtoken based and hence it should be affecting only upload/download of objects.

[2016-08-07 22:07] krishnasrinivas commented on #2374
Ah but, we don't do presigned urls anymore for upload/download.

[2016-08-07 22:12] vadmeste commented on #2374
We didn't get any web service error as I recall which was strange, we can test again tocheck. By the way, json/rpc doesn't return any error (so 200 success) when you send a request without `content-type:application/json`, so it could be something changed in the request that didn't please json/rpc

[2016-08-07 22:17] harshavardhana commented on #2374
@koolhead17 will work with @ozonesn

[2016-08-08 00:12] marclennox commented on #2326
Thanks @harshavardhana.  When do you plan to merge this and do an official Docker build?

[2016-08-08 00:58] harshavardhana commented on #2326
Just a few things, some test cases pending.

[2016-08-08 06:20] hackintoshrao commented on #2380
@awwalker : The expected and the actual behavior you have mentioned in the same.  Are you talking about error response for expired presign URL?

[2016-08-08 06:23] awwalker commented on #2380
@hackintoshrao one has a period and one doesn't that's the difference. We include it in the error response and s3 doesn't.

[2016-08-08 06:49] hackintoshrao opened #2383 "PreSign: Incorrect error response when fields in "X-AMZ-CREDENTIAL" is missing."
## Expected behaviour

S3 behavior is expected.
<img width="1263" alt="screen shot 2016-08-08 at 11 55 15 am" src="https://cloud.githubusercontent.com/assets/2609511/17471102/47c4dab0-5d5f-11e6-8dcc-f0e25e43fe3b.png">
## Actual behaviour

<img width="869" alt="screen shot 2016-08-08 at 11 57 44 am" src="https://cloud.githubusercontent.com/assets/2609511/17471118/616b1448-5d5f-11e6-9cfe-9e8a9ba4362

[2016-08-08 06:51] hackintoshrao commented on #2380
@awwalker : Got it, so have to just introduce a `.`, thats it right ?

[2016-08-08 06:55] hackintoshrao commented on #2380
Oops, need to remove the period.

[2016-08-08 06:55] hackintoshrao commented on #2380
Will fix it in https://github.com/minio/minio/pull/2375

[2016-08-08 10:44] ozonesn commented on #2374
@harshavardhana, I am ready to assist.

[2016-08-08 12:05] ozonesn opened #2384 "Can not create bucket with Unicode Character file name"
## Expected behaviour

bucket to be created with unicode file name (Nepali Unicode नेपाली युनिकोड)
## Actual behaviour

![error](https://cloud.githubusercontent.com/assets/9211383/17479122/43969fe2-5d90-11e6-9b1f-de6b6cb61968.png)
## Steps to reproduce the behaviour

 install minio server on 32 bit windows 7
    create a data directory
    start minio server
    create a bucket via browser where f

[2016-08-08 12:13] hackintoshrao opened #2385 "PreSign: Incorrect error response for invaild fields set in "X-AMZ-CREDENTIAL"."
## Expected behaviour

Similar to s3 response.
1.  When date is malformed.
   <img width="1047" alt="screen shot 2016-08-08 at 12 55 17 pm" src="https://cloud.githubusercontent.com/assets/2609511/17472224/71c2c1a8-5d67-11e6-95cf-5cb3cf683c93.png">
2.  Invalid bucket location is set.
   <img width="1003" alt="screen shot 2016-08-08 at 7 36 50 pm" src="https://cloud.githubusercontent.com/assets/2609

[2016-08-08 12:43] krishnasrinivas commented on #2384
@ozonesn
Bucket name must be 3-63 characters long, can contain dashes and periods, but must begin and end with a lowercase letter or a number. Unicode is not allowed

[2016-08-08 14:36] hackintoshrao opened #2386 "s3-api: Need cleaner way to construct variable error messages."
In cases like mentioned in [here](https://github.com/minio/minio/issues/2385) , Need cleaner way to construct runtime error messages.

[2016-08-08 16:03] ajarbehari commented on #2356
@vadmeste GetObject works for me too . I am trying to use listBuckets to list all buckets in Root Fileserver path which returns preflight error .

http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#listBuckets-property

We can schedule a test together , let me know a convenient time .

[2016-08-08 16:18] krishnasrinivas commented on #2356
@ajarbehari can you set the user-agent header to something custom? because we have this check (for minio web browser):

[code]

[2016-08-08 18:27] ajarbehari commented on #2361
I was getting the above error with the below mc version (which was Release version) :

./mc --version

2016-07-13T22:00:39Z

I installed latest version from src
./mc --version

VERSION:
DEVELOPMENT.GOGET

After this the permissions were set correctly and I could access the images in the folder anonymously from browser.

[2016-08-08 18:47] #2384 closed, assigned to nobody

[2016-08-08 20:58] hackintoshrao commented on #2361
@ajarbehari : Thanks for confirming. We consistently keep fixing bugs, there were lot of policy related bugs which were fixed in last couple of weeks, will soon plan for a new release.

[2016-08-08 20:58] #2361 closed, assigned to hackintoshrao

[2016-08-09 00:13] harshavardhana opened #2387 "Fix ineffective assigns in the test code"
[code]

[2016-08-09 03:39] harshavardhana commented on #2374
has this been resolved @krishnasrinivas ?

[2016-08-09 03:56] #2326 closed, assigned to harshavardhana

[2016-08-09 03:57] ozonesn commented on #2374
@krishnasrinivas as of End User, it is solved. What developers are up to?

[2016-08-09 10:08] krishnasrinivas commented on #2374
is upload working for you now then?

[2016-08-09 16:13] #2372 closed, assigned to hackintoshrao

[2016-08-09 16:13] #2385 closed, assigned to hackintoshrao

[2016-08-09 16:13] #2383 closed, assigned to hackintoshrao

[2016-08-09 16:13] #2380 closed, assigned to hackintoshrao

[2016-08-09 18:05] awwalker opened #2393 "GetObject: Request Parameters are not honored"
## Expected behaviour

Should be able to overwrite certain response header values in a GET response using request parameters. Specifically setting "response-content-encoding" should overwrite "Content-Encoding" in the response.
## Actual behaviour

This is not honored in minio. Setting "response-content-encoding" in the request does not set "Content-Encoding" in the response.
## Steps to reproduce

[2016-08-10 06:35] krisis opened #2398 "[distributed] Multi-node server implementation needs net/rpc based communication to be authenticated"
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-08-10 06:39] krisis opened #2399 "[distributed] Need a way to switch between local in-memory locking and across nodes locking based on setup."
## Expected behaviour
- For minio server to work with multi-node setup, it needs to be able to choose between in-memory locking between possibly multiple disks (e.g erasure-coded setup) and locking between disks possibly attached to different nodes in a distributed setup.

[2016-08-10 06:55] krisis opened #2400 "[distributed] Network path parsing fails to detect windows disk label correctly"
## Expected behaviour

This issue is specific to the `distributed` branch of this repo.

[2016-08-10 14:34] ozonesn commented on #2374
@krishnasrinivas yes, upload is working fine after disabling proxy.

[2016-08-10 22:31] #2360 closed, assigned to hackintoshrao

[2016-08-10 22:32] hackintoshrao commented on #2265
Did cover lot of functionalities of erasure coding as part of this, will review and  open specific issues for any erasure coding related tests.

[2016-08-10 22:32] #2265 closed, assigned to hackintoshrao

[2016-08-10 22:37] #1993 closed, assigned to hackintoshrao

[2016-08-10 23:28] #2376 closed, assigned to vadmeste

[2016-08-10 23:35] GarimaKapoor commented on #2323
Done. Already in docs.minio.io

[2016-08-10 23:35] #2323 closed, assigned to koolhead17, harshavardhana

[2016-08-10 23:37] GarimaKapoor commented on #2356
Can we close this issue?

[2016-08-11 00:15] vadmeste commented on #2339
@harshavardhana, this is duplicated to #2334, can you close this issue?

[2016-08-11 00:36] #2393 closed, assigned to brendanashworth

[2016-08-11 01:25] #2339 closed, assigned to vadmeste

[2016-08-11 06:10] hackintoshrao commented on #1991
15th august.

[2016-08-11 07:19] #2399 closed, assigned to krisis

[2016-08-11 08:05] #2061 closed, assigned to brendanashworth

[2016-08-11 10:44] ajarbehari commented on #2356
We are able to change the browser default userAgent ""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36" from developer options and the listBuckets works .

But setting navigator.userAgent property from within Angular JS in a browser is not allowed as it is a read only property .

[2016-08-11 10:53] krishnasrinivas commented on #2356
@ajarbehari you can set it in the aws-sdk-js:
https://github.com/aws/aws-sdk-js/pull/824/files

[2016-08-11 10:57] krishnasrinivas commented on #2356
looks like it sets 'X-Amz-User-Agent'

[2016-08-11 11:07] krishnasrinivas commented on #2356
we can do this: if the user-agent is mozilla and the request is not signed only then redirect

[2016-08-12 06:43] hackintoshrao commented on #1991
Not taking up till the Distributed branch becomes stable.

[2016-08-12 07:26] #2387 closed, assigned to hackintoshrao

[2016-08-12 07:27] hackintoshrao opened #2412 "tests: Need unit tests for bucket-handlers.go"
- Need to register only the necessary endpoints required for each test so the the unit test for the given handler is performed under isolated and minimal environment, here is an [example](https://github.com/minio/minio/blob/master/bucket-policy-handlers_test.go#L241) .
- Once coverage for all handlers is finished any issues can be mapped to these handlers and can be added as cases.

[2016-08-12 07:54] harshavardhana opened #2413 "[distributed] Sustained file copy disconnects rpc client"
[code]

[2016-08-12 07:56] hackintoshrao opened #2414 "tests: Need coverage enhancement for bucket-notification* files."
- Need better coverage for bucket-notification\* files/functionalities.
- Includes `event-notifier.go` .

[2016-08-12 07:59] hackintoshrao opened #2415 "tests: Better coverage for bucket-policy related functions."
- Currently  `bucket-policy-parser.go` has a good coverage.
- Need better coverage for `bucket-policy.go` and `bucket-policy-handlers.go`.

[2016-08-12 07:59] harshavardhana commented on #2398
This is fixed in distributed branch.

[2016-08-12 07:59] #2398 closed, assigned to harshavardhana

[2016-08-12 08:03] hackintoshrao opened #2416 "tests: Need better coverage for format-config-v1.go"

[2016-08-12 08:07] hackintoshrao opened #2417 "tests: Need better coverage for fs-v1* files."
- Includes `fs-v1.go`
- Includes `fs-v1-multipart.go`
- Inclues `fs-v1-multipart-common.go`

[2016-08-12 08:11] hackintoshrao opened #2418 "tests: Need better coverage for notify* files."
- Includes  `notifiers.go` .
- Includes  `notify*` files.

[2016-08-12 08:15] hackintoshrao opened #2419 "tests: Need better coverage for object-handlers.go"
- These unit tests really important.
- Only required handlers have to registered with the mux as done [here](https://github.com/minio/minio/blob/master/bucket-policy-handlers_test.go#L247), so that the handlers is tested in isolation without any interference.
- Any issues in future has to be mapped to these handlers and a case has to be added to simulate the issue in isolation with the handler.
-

[2016-08-12 08:20] hackintoshrao opened #2420 "tests: Need better coverage for signature-v4.go"
- signaturev4 utils and parser has a coverage > 90%, but signature-v4.go needs better coverage.

[2016-08-12 08:21] hackintoshrao opened #2421 "tests: Need better coverage for streaming-signature-v4.go ."

[2016-08-12 08:35] hackintoshrao opened #2422 "tests: Need better coverage for web-handlers.go"
Need to register the necessary handlers in isolation using something like [this](https://github.com/minio/minio/blob/master/test-utils_test.go#L793) and test them in isolation.

[2016-08-12 09:29] allspace opened #2423 "How to create folder?"
I see comments like below:

// Minio does not support object names with trailing "/".

But AWS S3 uses trailing slash to create folder. So, How can I create folder with minio?

[2016-08-12 09:47] krishnasrinivas commented on #2423
@allspace what AWS S3 does is it creates an object with trailing "/" but the contents of the object is of 0 bytes to simulate a directory.

For minio we decided to use simple file system (ext4, xfs etc) as backend without using any database to store objects. Hence an object is just a file in the backend and if there is a "/" in the object name we create a directory in the backend. Hence we can't c

[2016-08-12 09:58] balamurugana commented on #2423
@allspace To add up more, there is no empty directories in minio. Whenever an object is created with directory prefix, the prefix directory is created along with object automatically e.g. When `photos/sfo.jpg` object is created `photos` directory is also created and upon removal of `photos/sfo.jpg`, `photos` directory is deleted if its empty.

[2016-08-12 12:54] jperville opened #2425 "minio server fails to start over CephFS storage directory"
## Expected behaviour

Minio server should start when run over a CephFS directory.
## Actual behaviour

Minio server does not start and fails with the following error message:

[code]
## Steps to reproduce the behaviour
1. deploy ceph latest release (currently "jewel"), mount CephFS into `/ceph`
2. download minio latest release into `/root/minio` and chmod +x it
3. run `/root/minio server /ceph/mi

[2016-08-12 13:21] krishnasrinivas commented on #2425
@jperville can you check if enough inodes are available `df -i`

[2016-08-12 13:23] jperville commented on #2425
Hi @krishnasrinivas , I think you are on something!

[code]

[2016-08-12 13:49] krishnasrinivas commented on #2425
weird, can you check with ceph team why it does not show user/free inodes?

[2016-08-12 14:23] krishnasrinivas commented on #2425
Not much info on the internet http://www.spinics.net/lists/ceph-users/msg16882.html

[2016-08-12 14:38] jperville commented on #2425
The link you show is not about CephFS not reporting inode statistics, I will look up on Ceph issue tracker and submit issue there is needed. For moment I run minio on non-cephfs to workaround this issue. Thank you for the help @krishnasrinivas

[2016-08-12 15:09] krishnasrinivas commented on #2425
@jperville you are right, let us know what they say.

[2016-08-12 18:16] vadmeste opened #2428 "tests: Need coverage for web handlers"
web-handlers.go currently 0%

[2016-08-12 18:28] harshavardhana commented on #2428
Closing duplicate of #2422

[2016-08-12 18:28] #2428 closed, assigned to nobody

[2016-08-12 19:02] vadmeste commented on #2422
@hackintoshrao, could you explain why we need to test handlers in isolation?

[2016-08-12 23:42] gjonespf commented on #2425
Just a FYI - Having a similar issue with this using [azurefile docker driver](https://github.com/Azure/azurefile-dockervolumedriver) mounted in docker, with very similar symptoms:

So it's reporting free space, but not inodes correctly.  I'll follow up with azurefile, but any way to "ignore" this in minio via options?

[2016-08-13 05:12] hackintoshrao commented on #2422
Yes,
- Firstly we need unit tests for the handlers, ( It could be a different question now that why we need unit tests for handlers), while unit testing it is important the system is setup with least functionalities so that there are no interference or influence from any other part of the software.
- Thats why for other bucket handlers tests too register only necessary end points using this functi

[2016-08-13 08:59] harshavardhana commented on #2425
Closing as duplicate of #2364

[2016-08-13 08:59] #2425 closed, assigned to nobody

[2016-08-13 09:01] harshavardhana commented on #2379
ping @hackintoshrao

[2016-08-13 09:01] harshavardhana commented on #2374
Closing this as working for now.

[2016-08-13 09:01] #2374 closed, assigned to krishnasrinivas

[2016-08-13 09:30] #2364 closed, assigned to harshavardhana

[2016-08-13 09:55] hackintoshrao commented on #2379
@harshavardhana : Not able to reproduce with the latest master of both `mc` and `minio`.

[2016-08-13 10:37] jperville commented on #2425
Thank you everyone for the quick fix on this issue. Cheers!

[2016-08-13 19:26] harshavardhana commented on #2379
can you try the latest releases?

[2016-08-14 06:44] harshavardhana commented on #2413
ping @krisis - were you able to check on this issue?

[2016-08-14 06:52] harshavardhana commented on #2203
It is a right thing to be able to still read - the logic which we agreed some time ago when we implemented erasureReadFile() was if we have 'm data blocks' - all are data and it is equal to n/2.  It should be read. If bitrotVerify fails then we return errXLReadQuorum error.

[2016-08-14 12:39] vadmeste opened #2434 "web handlers: Upload API should support multipart upload"

[2016-08-14 13:27] stiletto commented on #2379
I was unable to reproduce this with mc from master, only with latest binary release from minio.io
This was a minio-go 2.0.1 bug and it has already been fixed in https://github.com/minio/minio-go/pull/441

[2016-08-14 16:06] krisis commented on #2291
@harshavardhana This is fixed in distributed branch and works fine. I think we can close this issue.

[2016-08-14 16:07] krisis commented on #1395
I am working on this issue. I hope to send a PR by EOD Aug 14th.

[2016-08-14 16:08] krisis commented on #2413
@harshavardhana I haven't looked into this issue yet. I will take a look at this once rpc re-connection is fixed for disk RPC.

[2016-08-14 17:56] harshavardhana commented on #2434
This is not needed, we decided this conciously. Browser is not meant for uploading files bigger than 5GB. It is better left to intelligent tooling like mc which can provide resumable uploads.

[2016-08-14 17:57] #2291 closed, assigned to krisis

[2016-08-14 19:59] vadmeste commented on #2434
@harshavardhana, I was talking about http mime multipart.. but still r.Body is not buffered in golang and it is passed directly to storage.PutObject()

You can close this issue.

[2016-08-14 21:10] harshavardhana commented on #2434
We don't need that either mime multipart is only when there is a form input - we don't have a form input and do not foresee when we might have.

[2016-08-14 21:10] #2434 closed, assigned to nobody

[2016-08-15 00:16] krisis opened #2438 "[distributed] : Handle accumulation of stale locks in the event of network disconnection"
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-08-15 01:39] hackintoshrao commented on #2379
@harshavardhana : Not able to reproduce with latest releases on the website, but it has other policy related, the permissions are not listed and set properly. It'll be great to replace them with new releases.

[2016-08-15 04:30] harshavardhana commented on #2327
Assigned to // cc @vadmeste

[2016-08-15 04:37] hackintoshrao commented on #2203
When cache is disabled and tests are run, it fails with following we error,

[code]

The test had 8 out 16 disks down.

[2016-08-15 19:11] vadmeste commented on #2327
I tested with a file of 5 GiB and the list of files is automatically refreshed in the browser. @hernandev, could you check if you still have this problem with the minio master ?

[2016-08-16 00:25] harshavardhana opened #2445 "validate new go1.7 release for block/cpu/mem profiling"
https://blog.golang.org/go1.7

[2016-08-16 00:40] awwalker opened #2446 "Close on an unconnected RPCClient object leads to panics"
## Expected behaviour
## Actual behaviour
## Steps to reproduce the behaviour
## Minio version
- (paste output of `minio version`)
## System information

[2016-08-16 15:59] hackintoshrao commented on #2419
Part - 1 fix: https://github.com/minio/minio/pull/2451

[2016-08-16 19:19] krisis opened #2452 "[distributed] Tests: Validate mc operations when minio server instances go offline"
## Expected behaviour

When there is quorum (N/2+1) number of nodes available, all `mc` operations should work seamlessly. When more than quorum number of nodes fail, `mc` operations should fail with appropriate error message.
## Actual behaviour

To be tested

[2016-08-16 19:23] krisis opened #2453 "[distributed] Perform CPU profiling on multi-node minio setup"
## Expected behaviour
- [ ] Run operations on objects and buckets on a multi-node minio setup with CPU profiling enabled using `export MINIO_PROFILER=cpu`.
- [ ] Run the same operations with block profiling enabled for better understanding of performance characteristics. `export MINIO_PROFILER=block`.

[2016-08-16 19:24] #2446 closed, assigned to nobody

[2016-08-16 19:25] harshavardhana opened #2454 "[distributed] format.json should heal with minio control command"

[2016-08-16 19:26] krisis opened #2455 "[distributed] Perform memory profiling on multi-node minio setup"
## Expected behaviour
- [x] Run operations on objects and buckets on a multi-node minio setup with memory profiling enabled using `export MINIO_PROFILER=mem`

[2016-08-16 20:11] vadmeste opened #2456 "go1.7: minio crashes when uploading a 5 GiB file"
This doesn't happen systematically, please test on your side:

[code]

[2016-08-16 20:55] bwerthmann opened #2457 "Please PGP sign Minio binary and source releases"
## Expected behaviour

Minio Binary and Source Releases should be signed with a  PGP key in the strong set.
## Actual behaviour

Binary releases are currently signed with a key which has no signatures. Source releases are not signed.

He's a nice guide for signing releases on GitHub: https://wiki.debian.org/Creating%20signed%20GitHub%20releases
## Steps to reproduce the behaviour
## Minio version

[2016-08-16 21:00] harshavardhana commented on #2457
We don't release binaries on github, in-fact we do it through a private infrastructure where we do provide GPG signatures for validation - https://dl.minio.io/server/minio/release/linux-amd64/

Tagging on github is only for convenience and being able to track history.

[2016-08-16 21:53] bwerthmann commented on #2457
The source releases are at https://github.com/minio/minio/releases. We're asking that these source releases be signed.

The binary releases on the download site are indeed signed, the issue is that there is not a published public key to check the package signature against and the signing key has no signatures other than a self-signature.  Usually, the public key of the signing key is published in

[2016-08-16 22:04] harshavardhana commented on #2457
The published key is available at pgp.mit.edu - http://pgp.mit.edu/pks/lookup?op=vindex&search=0x12C74390F9AAC728

We are not planning to sign source releases, we will explore perhaps it in time.

[2016-08-16 22:05] harshavardhana commented on #2457
I see that since github already takes 'asc' file we can attach them to each releases as well.

[2016-08-17 00:02] #2420 closed, assigned to brendanashworth

[2016-08-17 00:34] harshavardhana commented on #2457
This has been done and we will follow this for all releases from now on. Thanks @bwerthmann.

[2016-08-17 00:34] #2457 closed, assigned to harshavardhana

[2016-08-17 01:53] harshavardhana commented on #2379
Closing this as fixed..

[2016-08-17 01:53] #2379 closed, assigned to hackintoshrao

[2016-08-17 02:20] harshavardhana commented on #2203
This is fixed.

[2016-08-17 02:20] #2203 closed, assigned to krishnasrinivas

[2016-08-17 02:22] #1976 closed, assigned to vadmeste

[2016-08-17 02:28] #1395 closed, assigned to krisis

[2016-08-17 02:33] krisis opened #2460 "[distributed] `minio control locks` command to list and remove distributed locks"
## Expected behaviour
- [ ] Implement a command that allows administrator to list locks that are held in the cluster.
- [ ] Implement a command that allows administrator to remove locks (user discretion required).

[2016-08-17 02:34] krisis opened #2461 "[distributed] Make dsync use server-side distributed lock service"

[2016-08-17 02:39] krisis opened #2462 "[distributed] format.json initialization should require all disks to be available"

[2016-08-17 02:44] krisis opened #2463 "[distributed] Make inter-node RPC communication encrypted [non-blocker]"
## Expected behaviour
- [ ] Lock RPC - e.g, Lock, RLock, etc.
- [ ] Disk RPC - e.g, AppendFile, ReadFile, etc.

[2016-08-17 02:47] krisis opened #2464 "[distributed] Make JWT token expiry for RPC dynamic"
## Expected behaviour

This may be subsumed by #2463, if inter-node RPC communication becomes encrypted.

[2016-08-17 02:50] harshavardhana commented on #2463
Need to evaluate all the RPC available encryption techniques. This is not a blocker for Distributed Server Release, but we need to have an answer before that.

[2016-08-17 02:51] harshavardhana commented on #2460
This fix would have a pending patch - https://github.com/minio/minio/pull/2223

[2016-08-17 02:52] krisis opened #2465 "[distributed] tests: Check if multi-node minio setup work in a docker environment"
## Expected behaviour

e.g, when all ports except 80 or 443 are closed. Multi-node version must continue to work.

[2016-08-17 02:56] harshavardhana commented on #2400
Fixed already by @awwalker

[2016-08-17 02:56] #2400 closed, assigned to harshavardhana

[2016-08-17 02:58] krisis opened #2466 "[instrumentation] Collect statistics for all inter-node RPC calls"
## Expected behaviour

Like `rpc.statd(8)`.

[2016-08-17 03:28] allspace commented on #2423
I'd suggest you add support for empty directory.

This is to not only be consistent with AWS S3 behavior, but also be consistent with minio's other APIs, e.g. ListObject can list an empty directory just as AWS S3 does.

[2016-08-17 03:54] hackintoshrao commented on #2445
Size of binary with Go 1.6 build - 18098887 bytes.
Size of binary with Go 1.7 build - 18089595 bytes.

[2016-08-17 07:16] #2356 closed, assigned to vadmeste

[2016-08-17 08:36] balamurugana commented on #2423
@allspace Sure. This feature can be added if its absolutely necessary.  Currently its not found as compatibility issue.

[2016-08-17 08:47] sofussts opened #2470 "S3 ListBucketResult does not contain eTag values"
## Expected behaviour

When requesting bucket contents from AWS S3, the returned result contains an eTag value for each item in the bucket.
## Actual behaviour

minio returns bucket information without eTag value on each item. This makes S3Sync code fail (items already in S3 are unnessesarily uploaded again).
## Steps to reproduce the behaviour

Upload data to minio S3 bucket. Request bucket conte

[2016-08-17 13:08] krishnasrinivas commented on #2470
@sofussts is this for minio-FS? because we store ETag info for minio-XL but not minio-FS.

(minio-FS is started with one disk, minio-XL is started with multiple disks)

[2016-08-17 13:42] fwessels commented on #2438
Fixed as per https://github.com/minio/dsync/pull/6

[2016-08-17 14:43] sofussts commented on #2470
FS. Any way to enable it for FS?

[2016-08-17 14:50] krishnasrinivas opened #2471 "provide example using aws-sdk for ruby"
Provide example code for ruby along the lines of https://docs.minio.io/docs/how-to-use-aws-sdk-for-php-with-minio-server for upload and download of files.

so that we can just provide the link to it when someone asks on gitter on how to use aws-sdk ruby with minio.

The RoR full blown example is not as minimal and to the point as our PHP example.

[2016-08-17 14:56] harshavardhana commented on #2470
You can set the env MINIO_ENABLE_FSMETA=1

[2016-08-17 16:08] vadmeste opened #2472 "bucket notification: setting the same configuration twice shouldn't work"

[2016-08-17 16:28] harshavardhana commented on #2472
Do you know the appropriate error message send by S3 in this situation?

[2016-08-17 16:29] harshavardhana commented on #2470
Please let us know how it goes @sofussts

[2016-08-17 16:30] bwerthmann commented on #2457
Thanks!  It would be nice if the public key of the signing key is published in a location controlled by Minio. Anyone can claim the `trusted@minio.io` identity and upload public key with a self signature.  Ideally, the package signing key should have signatures from other PGP users. This is sort of like running a public website with a self-signed certificate. What we have now is the ability to ver

[2016-08-17 18:24] harshavardhana commented on #2457
Good to know thanks for the tip.  Also i do see that we lack documentation regarding this so we will add it as well.

[2016-08-17 18:42] harshavardhana opened #2473 "[control] Object deleted during disk going down, should be marked to be deleted later."
If an object was deleted and one disk was down, and later the disk comes back up again, heal on the object should delete it.

[2016-08-17 18:42] harshavardhana opened #2474 "controller: RPC should be authenticated."
controller 'net/rpc' currently is enabled only by env variable, should be enabled through Auth.

[2016-08-17 18:44] harshavardhana opened #2475 "api: HealObject() should return healInfo on the object."
should return the status of the object - on how many disks it is available.

[2016-08-17 18:44] harshavardhana opened #2476 "api: HealList() should return only objects that need healing."
returns all the objects, I think we can return only objects that needs healing as there is no use of returning all the objects. HealList will again have the random-io problem because of stat of xl.json, need to see how it can be fixed. -- @krishnasrinivas

[2016-08-17 18:45] harshavardhana opened #2477 "tests: Add tests across controller-rpc"

[2016-08-17 18:48] harshavardhana commented on #2343
Fixed .

[2016-08-17 18:48] #2343 closed, assigned to krishnasrinivas

[2016-08-17 18:49] harshavardhana commented on #1745
This has been done.

[2016-08-17 18:49] #1745 closed, assigned to krishnasrinivas

[2016-08-17 18:56] sofussts commented on #2470
Nope. Does not work. Environment variable MINIO_ENABLE_FSMETA=1 doesn't seem to have any effect.

[2016-08-17 18:59] harshavardhana commented on #2470
Let me check.

[2016-08-17 19:00] harshavardhana commented on #2470
Can you also let us know the tool you are using with relevant command line parameters?

[2016-08-17 19:01] harshavardhana commented on #2470
Have you recreated objects after enabling this option?

[2016-08-17 19:09] harshavardhana opened #2478 "server: golang runtime error on sending a curl request on localhost:9000"
[code]

[2016-08-17 19:18] sofussts commented on #2470
Yes. I am creating a new bucket and uploading new data between every test cycle.

Example of fs.json of test file in .minio.sys:
{"version":"1.0.0","format":"fs","minio":{"release":"RELEASE.2016-08-16T23-19-45Z"},"meta":{"md5Sum":""}}

No trace of an etag there (I am assuming that minio is to produce the etag for the uploaded file)?

[2016-08-17 19:21] harshavardhana commented on #2470
Yes it is but i think the client is not setting it its a bug, we are supposed to save it.

[2016-08-17 19:45] sofussts commented on #2470
I am using my own code to sync, using the REST API defined by Amazon. Code works fine against AWS S3.

When uploading a file I get an etag back from minio (Which I am assuming minio should store in the corresponding fs.josn):
2016-08-17 21:21:55:38   Sending the request was successful
2016-08-17 21:21:55:38   Getting the response
2016-08-17 21:21:55:41   Getting the response was successful
2016-08

[2016-08-17 19:49] harshavardhana commented on #2470
It happens like this
- by default nothing is really saved
- enable env it starts saving, now here there seems to be a bug.
  - if client sets 'Content-Md5' saves the Etag.
  - if client did not set 'Content-Md5' server validates the md5sum but doesn't save the Etag. (The bug)
- Another bug here is ListObjects() on fs backend is not reading and populating the MD5Sum properly.

[2016-08-17 19:51] sofussts commented on #2470
OK. Then I let you guys have a look at and fixing those bugs :-)

[2016-08-17 20:23] vadmeste opened #2481 "listen bucket API: should validate account id when setting a new notification configuration"

[2016-08-17 20:26] #2470 closed, assigned to harshavardhana

[2016-08-17 21:13] harshavardhana commented on #2456
Closing as not reproducible anymore.

[2016-08-17 21:13] #2456 closed, assigned to hackintoshrao

[2016-08-17 21:27] #2438 closed, assigned to fwessels

[2016-08-17 22:11] hackintoshrao commented on #2460
adding tests to #2223 .

[2016-08-17 22:58] vadmeste opened #2483 "bucket notification API: prefix and suffix don't support asterisk character"
[code]

[2016-08-17 23:00] harshavardhana commented on #2483
Does 's3' support?

[2016-08-17 23:03] vadmeste commented on #2483
yes, S3 supports asterisk character, by the way, it doesn't interpret it

[2016-08-17 23:22] harshavardhana commented on #2483
Suffix doesn't have regex support, also the error message here is wrong.

[2016-08-17 23:34] #2481 closed, assigned to nobody

[2016-08-18 13:40] vadmeste commented on #2472
[code]

[2016-08-18 13:41] vadmeste commented on #2472
Are we willing to check overlapping rules here? because this issue could be treated with the same process.

[2016-08-18 18:03] harshavardhana commented on #2472
Yes we need to check for overlapping rules and reject them.

[2016-08-18 20:53] hackintoshrao commented on #2445
There's  a consistent 15 second gain with 500 serial get object on 1Gb file with 1.7 build.

[2016-08-18 22:20] harshavardhana opened #2489 "control: Heal reports wrong file name on failed heal (distributed branch)"
[code]

The messaging should be cleaner.

[2016-08-18 22:34] harshavardhana commented on #2445
Is there a memory consumption decrease in the overall run?

[2016-08-18 22:47] hackintoshrao commented on #2445
Will do a concurrenet load test to verify it.

[2016-08-18 23:14] harshavardhana opened #2491 "control: Heal output should be properly formatted."
Current output is really crude.

[2016-08-19 12:20] krishnasrinivas opened #2494 "minio-FS takes around 1 second to start"
`minio server ~/export/` takes around 1 second to start. Previously minio would start immediately. Needs to be investigated.

[2016-08-19 12:27] vadmeste commented on #2494
@krishnasrinivas, isn't this the minio checking update process which is taking time ?

[2016-08-19 13:19] krishnasrinivas commented on #2494
@vadmeste correct, let me refactor the code not to do that for compiled binary

[2016-08-19 17:10] krishnasrinivas opened #2496 "[distributed]: incorrect message when bucket does not exist"
[code]

Incorrect error during `mc cp` if the bucket does not exist. Should have got `NoSuchBucket`

[2016-08-19 19:08] krishnasrinivas opened #2498 "[distributed] isLocalStorage() should return true only if it matches what is given at --address"
@krishnasrinivas:

@harshavardhana:
Yes currently each network path is validated separately. We can fix that @krishnasrinivas - can you open a bug?

[2016-08-19 19:20] harshavardhana commented on #2496
Not able to reproduce this with latest 'mc'

[code]

[code]

[2016-08-19 19:22] krishnasrinivas commented on #2496
@harshavardhana you are able to repro it `Object key is missing, object key cannot be empty`

[2016-08-19 19:48] harshavardhana commented on #2496
Oh yes its an 'mc' bug the behavior is strange.

[code]

[code]

[2016-08-19 20:40] harshavardhana commented on #2496
Closing this and moving this to mc

[2016-08-19 20:40] #2496 closed, assigned to krisis

[2016-08-19 20:57] harshavardhana opened #2499 "[distributed] unbelievably slow copy needs to be investigated"
[code]

[2016-08-19 20:57] #2494 closed, assigned to nobody

[2016-08-19 21:19] vadmeste opened #2500 "[distributed] upload 1gb file twice stuck at 100%"
minio@minio1:~/vadmeste$ mc cp work/bigfiles/1024mb.bin myvadmeste/testbucket/
work/bigfiles/1024mb.bin:      1024.00 MB / 1024.00 MB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 100.00% 12.88 MB/s 0

where mc and minio are idle

[2016-08-19 21:31] harshavardhana opened #2501 "[distributed] connection lost copying a large file, leads to an error."
[code]

[code]

[2016-08-19 21:35] vadmeste commented on #2500
Actually, this is systematic if we upload a file twice

[2016-08-19 21:36] vadmeste commented on #2500
in this case, `mc rm myvadmeste/testbucket/1024mb.bin` doesn't work too.. it seems it is some locking issue

[2016-08-19 21:36] harshavardhana opened #2502 "[distributed] Implement checks before object layer initialization"
Before object layer initialization

[code]

We need to fail for certain conditions.
- [x] Duplicate disks and ip arguments should be discarded. (https://github.com/minio/minio/issues/2516)
- [x] Number of disks should be validated to be not less than < 4

[2016-08-19 21:41] harshavardhana commented on #2501
Copying on local setup works fine.

[code]

[2016-08-19 21:43] harshavardhana commented on #2500
Yes over-write of a file has a locking issue during GetObject() initiated to populate the cache.

[2016-08-20 00:27] GarimaKapoor commented on #2471
done!

[2016-08-20 00:27] #2471 closed, assigned to nobody

[2016-08-20 01:10] harshavardhana opened #2503 "Unable to set mc policies for prefixes."
[code]

[code]

Looks like server side marshaling problem.

[2016-08-20 03:48] hackintoshrao opened #2504 "[distributed]: mc ls hangs and then fails."
## Expected behaviour

`mc ls` to list .
## Actual behaviour

Hangs and then fails with `mc: <ERROR> Unable to list folder. 503 Service Unavailable`
## Steps to reproduce the behaviour
- First pulled the latest from distributed branch and build the binary.
- On Minio1: `./minio server --address ":9999" minio1:/tmp/d1 minio2:/tmp/d2 minio1:/tmp/d3 minio2:/tmp/d4`
- On Mino2: `./minio server --addre

[2016-08-20 03:50] harshavardhana commented on #2504
Have you checked "/tmp/d1" permissions?  @krisis is already running another instance on this directory.

[2016-08-20 03:51] hackintoshrao commented on #2504
Let me change the directory and test.

[2016-08-20 03:52] harshavardhana commented on #2504
Closing as duplicate of https://github.com/minio/minio/issues/2502

[2016-08-20 03:52] #2504 closed, assigned to nobody

[2016-08-20 04:07] hackintoshrao opened #2505 "[dsitributed] : mc mb fails."
## Expected behaviour

`mc mb` to create buckt .
## Actual behaviour

`mc: <ERROR> Unable to make bucket ‘rdis1/rao’. Server not initialized, please try again.`
## Steps to reproduce the behaviour
- First pulled the latest from distributed branch and build the binary.
- On Minio1:  `./minio server --address ":9999" minio1:/tmp/rao1 minio2:/tmp/rao1 minio1:/tmp/rao2 minio2:/tmp/rao2/`
- On Mino2:

[2016-08-20 06:23] krisis commented on #2505
@hackintoshrao API requests wouldn't be served until the time quorum number of nodes have established connections between each other. This is expected behaviour. Was `mc mb` run after all the minio server instances were running?

[2016-08-20 06:29] krisis commented on #2498
`IsLocalStorage()` returns true if the `ip` of `ip:/path/to/disk` is one of the network interfaces local to the node on which minio server is running.

e.g, `minio server --address ":9000" node1:/disk1 node2:/disk2 node1:/disk3 node2:/disk4`
For the minio server running on node1, `IsLocalStorage` would return true for `node1/disk1` and `node1/disk3`.
Similiarly for minio server running on node2, i

[2016-08-20 06:47] hackintoshrao commented on #2505
There are 2 server instances as mentioned above, and both are running.

[2016-08-20 07:07] harshavardhana commented on #2505
Keys were missing on minio2

[2016-08-20 07:07] #2505 closed, assigned to nobody

[2016-08-20 07:15] krisis commented on #2498
Further, in the distributed version, `--address` flag is used to pass the common port on which minio server instance would be running on all the nodes participating in the cluster. It doesn't hold any IP address or hostname that is local to any of the nodes.

[2016-08-20 07:24] harshavardhana commented on #2502
When disks are not available and all report permission denied we should fail to start the server and report an appropriate user message.

[2016-08-20 09:48] harshavardhana opened #2507 "[regression] tests: Occasional open file issue with tests on OS X"
[code]

[2016-08-20 10:08] krishnasrinivas commented on #2498
@krisis sorry the bug is not clear, the underlying point of the bug is to provide a way to test distributed XL on the same machine (like for example creating lo:1 lo:2 ... interfaces with different IP addres)

[2016-08-20 10:14] hackintoshrao commented on #2507
Will check for FD leaks after tests finish running.

If there are no leaks then I don't think the numbers are so high that it could lead to `too many files open`

[2016-08-20 10:16] #2503 closed, assigned to harshavardhana

[2016-08-20 10:59] balamurugana opened #2508 "[distributed] mc ls command throws XMinioServerNotInitialized"
I have used two machines `m2.minio.io` and `m3.minio.io` and from each machine `/mnt/sdk1/bala/mydisk` and `/mnt/sdi1/bala/mydisk` are used.

Minio Version:

[code]

~/.minio/config.json on all servers:

[code]

Minio started on all servers:

[code]

mc command:

[code]

[2016-08-20 12:17] hackintoshrao opened #2509 "[distributed]: Show error when keys are not set."
When Access and Secret keys are not set and RPC authentication across node fails no error is shown, It just doesn't work.

A meaningful error message has to be displayed.

[2016-08-21 05:26] balamurugana commented on #2508
When minio was compiled using `go build` command it works whereas using `make` fails with the above behaviour.

[2016-08-21 15:24] vadmeste commented on #2462
We still want to be able to run the server if one or more disks are unavailable, how minio should behave in this case ?

[2016-08-21 16:21] text-editor opened #2510 "Server fails to start when checkPortAvailability can't open port #### (9000) on tcp6 when IPv6 is unavailable"
## Expected behaviour

Minio launches, disregarding IPv6 if unavailable
## Actual behaviour

minio server --address127.0.0.1:9000 ~/minio
FATA[0000] Port unavailable 9000                         cause=listen tcp6 :9000: socket: address family not supported by protocol
## Steps to reproduce the behaviour

**Launch minio on host without IPv6**
## Minio version

**Version: 2016-08-21T02:44:47Z
Releas

[2016-08-21 18:50] harshavardhana opened #2511 "[distributed] Browser complains with Minio server not reachable"
![screenshot from 2016-08-21 11-39-36](https://cloud.githubusercontent.com/assets/622699/17839181/720d3368-6795-11e6-9add-4b7847c70918.png)

[code]

[2016-08-21 18:53] harshavardhana commented on #2511
[code]

Needs to be changed to use network rpc to fetch this information.

[2016-08-21 19:00] GarimaKapoor commented on #1827
@krishnasrinivas what is the status of this issue?

[2016-08-21 19:15] harshavardhana commented on #2508
Fixed by 81da694efccd02231d50991146f64d553ad1fc31

[2016-08-21 19:15] #2508 closed, assigned to nobody

[2016-08-21 19:16] harshavardhana commented on #2483
Fixed by #2487

[2016-08-21 19:16] #2483 closed, assigned to vadmeste

[2016-08-21 21:49] krisis commented on #2461
This has been fixed and the changes are in the distributed branch.

[2016-08-21 21:51] krisis commented on #2453
I expect to have run tests with CPU profiling enabled by 25th Aug.

[2016-08-21 23:10] #2461 closed, assigned to krisis

[2016-08-22 11:05] balamurugana opened #2514 "[distributed] mc ls hangs when one only minio is running"
In two server and four disks setup, if one only server is running, `mc ls myminio/` hangs.

Minio version:

[code]

Command ran on m2.minio.io:

[code]

Test command:

[code]

[2016-08-22 11:11] balamurugana opened #2515 "[distributed] two different version of minio running together"
Its possible to run two different version of minio distributed version together.

minio version on `m2.minio.io`:

[code]

minio version on `m3.minio.io`:

[code]

[2016-08-22 11:30] harshavardhana commented on #2515
This is expected.. @balamurugana

[2016-08-22 11:31] balamurugana opened #2516 "[distributed] able to run minio server with duplicate disks"
Below is the example command.

[code]

[2016-08-22 11:33] harshavardhana commented on #2514
Write locking quorum requires 'N+1' to be running i.e 3 disks out of 4.  During XL init a write lock is held before initializing 'format.json'  so you will see that the server to be not running.

[2016-08-22 11:35] harshavardhana commented on #2516
Currently server doesn't error out since the initialization happens lazily, if you do 'mc ls' you would see an error message and server is not accessible.

We need to fix this there is a bug on this to error out in various conditions before we even begin the server startup.

[2016-08-22 11:36] balamurugana commented on #2515
Why is it expected behaviour if two different version behaves differently?

[2016-08-22 11:39] vadmeste opened #2517 "[distributed] mc rm --incomplete --recursive --force freezes"
could be related to #2500, will try to fetch the minimal action to reproduce this

[2016-08-22 11:40] harshavardhana commented on #2515
Authentication happens with credentials to be same so the validation is proper at RPC layer.

They won't behave differently `xl.json` is the sacrosanct entity in XL and we intend to carry forward all `xl.json` including current one and future versions forward supporting full backward compatibility.  There is no reason for it to error out if server versions are different.

Each object has enough kn

[2016-08-22 11:41] harshavardhana commented on #2515
If at all there is a breakage in backward compatibility then 'format.json' is the indicative authority.  if 'format.json' indicates that if at all the backward compatibility is broken - we won't run anyways.

[2016-08-22 12:03] vadmeste commented on #2462
@krisis ?

[2016-08-22 12:08] balamurugana opened #2518 "[distributed] uploading same file repeatedly causes `mc cp` hangs"
minio version:

[code]

Reproducer:

[code]

[2016-08-22 12:09] krishnasrinivas opened #2519 "[distributed]: mc cat hangs when any one of the minio servers is down"
[code]

this is a 3:3 setup

`mc cat myminio/testbucket/passwd` works fine when all 6 servers are up.

Ctrl-C any one of the server then do:
`mc cat myminio/testbucket/passwd` now hangs, but returns data as soon as the down server is up

[2016-08-22 12:15] krishnasrinivas commented on #2518
Happens to me too, I can see that, there is no response for complete multipart:

[code]

this request hangs.

[2016-08-22 12:17] vadmeste commented on #2518
Normally, this is the same as #2500

[2016-08-22 12:19] krishnasrinivas commented on #2518
@vadmeste i have disabled cache MINIO_CACHE_SIZE=0

[2016-08-22 12:58] balamurugana opened #2520 "[distributed] `mc cp -r ` throws `bucket not found` and continues"
minio version:

[code]

Reproducer:

[code]

[2016-08-22 13:27] fviard opened #2521 "Check malformed authorization header to report good info instead of SignatureDoesNotMatch error"
Currently, if the "region"/"bucket_location" setup in the client is wrong, the s3 v4 signature will fail as the server uses it in his own check of the signature.
The client will then receive a "SignatureDoesNotMatch" error.

As does aws s3, it could be good to report a "AuthorizationHeaderMalformed" error instead with the indication of the expected region, so the client can fix his configuration.

[2016-08-22 13:31] krishnasrinivas opened #2522 "[distributed] mc mirror failed"
did `mc mirror go/src myminio/testbucket`

after certain amount of inactivity did `mc mirror go/src myminio/testbucket` again which gave:

[code]

http dump:

[code]

I did `krishna@escape:~$ mc mirror go/src myminio/testbucket` again which worked this time.

[2016-08-22 13:32] krishnasrinivas commented on #2522
server logs:

[code]

[2016-08-22 13:36] krishnasrinivas commented on #2521
@fviard that is right, we'll fix the error response

[2016-08-22 14:22] vadmeste opened #2523 "[distributed] upload of 30gb fails in the middle of transfer"
[code]

Bucket `testbucket' does not exist is weird and doesn't appear in the beginning of the transfer.

[2016-08-22 14:35] krishnasrinivas commented on #2523
must be same as https://github.com/minio/minio/issues/2522

[2016-08-22 14:45] balamurugana opened #2524 "[distributed] multipart resume functional test in minio-java times out"
multipart resume test using minio-java fails with timeout.  The failure happens with default timeout and 30 seconds timeout.

minio version:

[code]

Actual error:

[code]

[2016-08-22 14:50] balamurugana opened #2525 "[distributed] multipart functional test in minio-java times out"
multipart test using minio-java fails with timeout. The failure happens with default timeout and 30 seconds timeout.

minio version:

[code]

Actual error:

[code]

[2016-08-22 14:55] balamurugana opened #2526 "[distributed] threaded put object using minio-java fails with timeout"
minio version:

[code]

Actual output:

[code]

[2016-08-22 17:18] krishnasrinivas commented on #1827
@GarimaKapoor i haven't gotten to work on this yet, will try to finish this by tomorrow.

[2016-08-22 17:20] #2510 closed, assigned to krishnasrinivas

[2016-08-22 17:20] #2515 closed, assigned to nobody

[2016-08-22 17:50] krisis commented on #2462
@vadmeste There are two points in the deployment of a multi-node setup where there could be a few nodes/disks unavailable.
- At the very beginning, the first time we start the cluster. In this case, we could enforce that all nodes/disks must be available, until the point `format.json` is written on all the disks.
- When a minio server instance is restarted to find that one or more instances in the

[2016-08-22 17:52] harshavardhana commented on #2523
They are multiple issues all are related.

[2016-08-22 17:53] harshavardhana commented on #2526
@balamurugana does server log any errors?

[2016-08-22 17:53] harshavardhana commented on #2525
Does server log any errors - this seems like related to #2522 ?

[2016-08-22 17:54] harshavardhana commented on #2523
Closing this a duplicate of https://github.com/minio/minio/issues/2501

[2016-08-22 17:54] #2523 closed, assigned to nobody

[2016-08-22 17:55] harshavardhana commented on #2522
Closing this as duplicate of https://github.com/minio/minio/issues/2501

[2016-08-22 17:55] #2522 closed, assigned to nobody

[2016-08-22 17:56] harshavardhana commented on #2520
Can you post server logs as well?

[2016-08-22 17:57] harshavardhana commented on #2518
Can you paste server logs as well here?

[2016-08-22 17:58] harshavardhana commented on #2520
This is most probably the same - https://github.com/minio/minio/issues/2501

[2016-08-22 18:01] vadmeste commented on #2462
@krisis, I understand your point, but I don't see why we should consider these two cases, can't we merge them into only one ? There is also the case when we replace failed disks with new fresh ones.

[2016-08-22 18:33] krisis commented on #2462
@vadmeste I checked the pseudo-code representation of handling `format.json` in the event of one or more disk failures, written with single-node multi-disk setup (XL) in mind. See `cmd/format-config-v1.go`.  There is no reason why this shouldn't extend naturally to multi-node multi-disk setup (distributed). In summary, I agree with you on merging the two cases, especially when we get this without

[2016-08-22 18:38] harshavardhana commented on #2507
Closing as .. not reproducible.

[2016-08-22 19:04] vadmeste commented on #2465
I ran multiple minio servers, each minio in a different docker instance and it works as expected.

A simple idea of @krishnasrinivas about how to do that:
- Run multiple docker instances using this command:
  `sudo docker run -it -v /home/vadmeste/:/root minio/distributed /bin/bash`, the docker will have access to the local system then to your minio binary.
- Check the ip address of these instance

[2016-08-22 19:18] harshavardhana commented on #2516
Closing this as duplicate of - https://github.com/minio/minio/issues/2502

[2016-08-22 19:18] #2516 closed, assigned to krisis

[2016-08-22 19:39] harshavardhana opened #2530 "[distributed] Incorrect error string with "unable to stat file" with ListObjects()"
ERRO[1302] Unable to stat a file testbucket/.cache//xl.json  cause=connection is shut down

No errors reported on the client side.

[2016-08-22 19:44] harshavardhana commented on #2530
[code]

[code]

[2016-08-22 19:52] vadmeste commented on #2462
@harshavardhana, Reinitializing corrupted and fresh disks is working as expected, you can close this issue.

[2016-08-23 01:48] harshavardhana commented on #2518
[code]

Hangs with latest distributed HEAD.

Issue exists without cache :+1:

[2016-08-23 02:37] harshavardhana commented on #2500
Closing this as duplicate of - https://github.com/minio/minio/issues/2518

[2016-08-23 02:37] #2500 closed, assigned to nobody

[2016-08-23 02:38] harshavardhana commented on #2499
This is not reproducible anymore.

[2016-08-23 02:38] #2499 closed, assigned to nobody

[2016-08-23 02:39] harshavardhana commented on #2478
Not able to reproduce this anymore.

[2016-08-23 02:39] #2478 closed, assigned to harshavardhana

[2016-08-23 02:40] harshavardhana commented on #2472
@vadmeste are you working on this?

[2016-08-23 02:42] awwalker commented on #2525
Also related to #2526

[2016-08-23 02:43] #2521 closed, assigned to harshavardhana

[2016-08-23 02:49] hackintoshrao commented on #2208
evaluating https://github.com/tidwall/gjson .

[2016-08-23 02:58] GarimaKapoor commented on #2514
Closing it, discussed and mc will throw an appropriate error message.

[2016-08-23 02:58] #2514 closed, assigned to krisis

[2016-08-23 02:59] hackintoshrao opened #2535 "bug: Server panic with `https` request when run locally."
## Expected behaviour

Atleast not to crash and produce meaningful error.
## Actual behaviour

Crashes with the following error.

[code]

The complete is at `play/rao/output.txt`
## Steps to reproduce the behaviour

Build from latest master at 2da0cfc9049babe0e43e0e6f55ab3528f8d9c629 , and issue `curl https://localhost/testbucket`
## Minio version

latest master at 2da0cfc9049babe0e43e0e6f55ab3528

[2016-08-23 03:01] balamurugana commented on #2525
No log on server console.
I suspect these timeout issues appear due to some common bug in the code.

[2016-08-23 03:06] balamurugana commented on #2526
No error on server console.

[2016-08-23 03:11] awwalker commented on #2475
No need for HealObject() make ListHeal() include this information instead.

[2016-08-23 03:17] #2464 closed, assigned to harshavardhana

[2016-08-23 03:23] harshavardhana opened #2536 "server: TLS crash on https://localhost:9000"
[code]

[2016-08-23 03:23] harshavardhana commented on #2536
[code]

[2016-08-23 03:26] harshavardhana commented on #2535
Closing as duplicate of #2536

[2016-08-23 03:26] #2535 closed, assigned to nobody

[2016-08-23 03:27] awwalker commented on #2462
@vadmeste change should be in format-config-v1.go such that config is written only if all disks are online, quorum is not sufficient.

[2016-08-23 03:30] harshavardhana commented on #2413
Closing as duplicate of - https://github.com/minio/minio/issues/2501

[2016-08-23 03:30] #2413 closed, assigned to krisis

[2016-08-23 03:44] harshavardhana commented on #2475
This is subsumed into #2476

[2016-08-23 03:44] #2475 closed, assigned to vadmeste

[2016-08-23 03:45] harshavardhana commented on #2525
Yes we have been able to reproduce it consistently @balamurugana -  @krisis is sending a fix.

[2016-08-23 06:57] balamurugana commented on #2520
This happens when two `mc cp -r /usr/src myminio/mybucket` are run.  Log from server1 is as below

[code]

No log is on server2 console.

[2016-08-23 07:16] vadmeste commented on #2472
@harshavardhana, I didn't start on this yet

[2016-08-23 07:19] harshavardhana commented on #2520
Thanks @balamurugana - closing this as duplicate of #2501

[2016-08-23 07:19] #2520 closed, assigned to balamurugana

[2016-08-23 07:20] #2536 closed, assigned to nobody

[2016-08-23 07:21] harshavardhana commented on #2473
This requires transaction framework, moving this out of distributed release.

[2016-08-23 07:22] harshavardhana commented on #2327
This problem is still reproducible with distributed branch as well.  In-fact its more evident now.

[2016-08-23 07:23] harshavardhana commented on #2530
Quite possibly related to RPC disconnections from #2501 - keeping it here to be root caused.

[2016-08-23 07:24] harshavardhana commented on #2472
Okay, will send a PR right now. @vadmeste

[2016-08-23 07:27] harshavardhana commented on #2252
Locking disks and fsck is out of scope for Minio.  Since most of the time we are non-root we will never be able to disallow access to disks.

Closing this as not a bug.

[2016-08-23 07:27] #2252 closed, assigned to vadmeste

[2016-08-23 08:54] krishnasrinivas commented on #2327
i think i know the problem, let me get back

[2016-08-23 09:43] krishnasrinivas commented on #2327
https://github.com/minio/miniobrowser/pull/183 should fix this

[2016-08-23 12:29] balamurugana commented on #2524
The test removes uploaded file after multipart put object.  I see https://github.com/minio/minio/blob/distributed/cmd/xl-v1-object.go#L727 blocks forever.

[2016-08-23 13:25] balamurugana commented on #2524
Further debugging leads to https://github.com/minio/minio/blob/distributed/cmd/namespace-lock.go#L127

[2016-08-23 13:43] fwessels opened #2540 "[distributed] Error in disk path in arguments not detected"
An opening slash was missing for the first server (10.193.15.145:**/**home/ec2-user/minio1/), server started fine but would not write any data (wheres the other servers just ran fine).

$ minio server --address ":12345" 10.193.15.145:home/ec2-user/minio1/ 10.195.139.19:/home/ec2-user/minio2/ 10.75.139.172:/home/ec2-user/minio3/ 10.194.130.45:/home/ec2-user/minio4/

Suggest to detect error, report

[2016-08-23 13:53] balamurugana commented on #2524
Found that https://github.com/minio/minio/blob/distributed/cmd/namespace-lock.go#L110 returns `nsLk` which is causing the problem.

As the unit test does upload and remove file, at the time of remove it get existing lock which causes blocking infinitely.

[2016-08-23 14:08] fwessels commented on #2518
Having the same here:

[code]

[2016-08-23 16:23] fwessels opened #2541 "[distributed] http panic: invalid memory address or nil pointer dereference"
Below occured on server 3 (actually in inactive state)

[ec2-user@ip-10-75-139-172 ~]$ minio server --address ":12345" 10.193.15.145:/home/ec2-user/minio1/ 10.195.139.19:/home/ec2-user/minio2/ 10.75.139.172:/home/ec2-user/minio3/ 10.194.130.45:/home/ec2-user/minio4/

Endpoint:  http://10.75.139.172:12345  http://127.0.0.1:12345
AccessKey: 12W2ED3NBNJFDSR4KQ9I
SecretKey: lXgvFuOnyWbuvQwadQNA9sTf7nl

[2016-08-23 16:28] vadmeste commented on #2541
This is already fixed by @harshavardhana (https://github.com/minio/minio/commit/c39d3db7a036cdcce44ed020e10574edb2a466a7)

[2016-08-23 19:20] fwessels commented on #2541
Great, so closing this.

[2016-08-23 19:20] #2541 closed, assigned to nobody

[2016-08-23 19:42] vadmeste commented on #2476
To know if an object needs healing, we probably need to :
- heal all xl.json if possible (?)
- check the existence of all parts of the given object and check their checksums too

By the way, this operation could take some time. Also, we need to protect healing from uploading a new object with the same key name.

What do you think?

[2016-08-23 21:14] krishnasrinivas commented on #2476
@vadmeste you can use this to check if the object needs healing:
(taken from HealObject)

[code]

[2016-08-23 21:14] krishnasrinivas commented on #2476
it should be done under lock:

[code]

[2016-08-23 22:53] harshavardhana commented on #2507
https://travis-ci.org/minio/minio/jobs/154553145 - reproduced again.

[2016-08-24 00:26] text-editor commented on #2510
Thanks, that fixed it

[2016-08-24 01:42] #2472 closed, assigned to harshavardhana

[2016-08-24 04:41] hackintoshrao commented on #2507
@harshavardhana : Are you able to see consistency in the lines of code/tests where it fails?

[2016-08-24 05:54] harshavardhana commented on #2507
Same lines if you see..

[2016-08-24 05:56] hackintoshrao commented on #2507
ya, right. Will investigate this.

[2016-08-24 19:54] #2474 closed, assigned to harshavardhana

[2016-08-25 01:13] koolhead17 opened #2547 "Bug: Minio server fails to start if notification service configuration are added incorrectly."
## Expected behaviour

Minio server should start giving error log about wrong/in-correct configuration of notification service source.
## Actual behaviour

Currently it says about notification service configured being unable to connect and Minio server does not start.
## Steps to reproduce the behaviour

I have enabled notify option and RabbitMQ URL was added, which was not running.

[code]
## Min

[2016-08-25 05:32] hackintoshrao commented on #2208
The benchmark [here](https://gist.github.com/hackintoshrao/a943af896f2fbb6ab97bd1acb98f7d60) compares the performance of `gjson` with the json.Unmarshal. gjson clearly has an edge by speed enchancement ranging from 20-100 times.

[2016-08-25 06:21] harshavardhana commented on #2547
This is fixed in distributed repo, closing.

[2016-08-25 06:21] #2547 closed, assigned to harshavardhana

[2016-08-25 14:21] jonniedarko opened #2550 "How can I set Port - including for Docker container"
I'm looking to run the docker container specifically on another port. I see in the `how-to` for multiple servers you can set the address, is their away to just set just the port? maybe an environment variable already exists like `MINIO_PORT`

[2016-08-25 15:14] jonniedarko opened #2551 "Cannot create Folder inside bucket using Mino web UI or Cyber Duck"
## Expected behaviour

Should have the ability to create a folder using the Web UI Or a s3 compatiable program like Cyber Duck to repersent keys with `/` e.g. `s3://my-bucket/namespace1/subnamespace1/myfile
## Actual behaviour

When I try to create or upload a folder with cyberduck I get the error:

[code]

So I tried to rename `myfile`  `namespace1/subnamespace1/myfile` but it uploaded it as `nam

[2016-08-25 15:21] krishnasrinivas commented on #2550
@jonniedarko
- do you want minio to listen on a different port? if so there is no env var to set it
  or
- do you want to map a different port port on the host?
  that can be done by `docker run -p 80:9000 minio/minio`

[2016-08-25 15:22] jonniedarko commented on #2550
@krishnasrinivas I want to set it to a different port - I currently have it mapped to a different port but I still need to use 9000 within other containers when using links in composer file

[2016-08-25 15:27] krishnasrinivas commented on #2550
@jonniedarko can you explain the situation more?
because if minio is running at 9000 inside its own container it will not affect processes of other containers.

[2016-08-25 15:30] krishnasrinivas opened #2552 "docker documentation on hub.docker.com"
The documentation see here: https://hub.docker.com/r/minio/minio/ should have minio-docker related instructions. It currently has taken the default README.md file of minio.

i.e it should display the content that we have at https://docs.minio.io/docs/minio-docker-quickstart-guide

[2016-08-25 15:34] jonniedarko commented on #2550
We are trying to match our test/rc/live servers as much as possible and
they all run on a different port. I guess it's not the biggest deal except I would of expected setting the port to be included as an option, it is usually included in basic config options. A lot of other services run on that port (9000) by default including xdebug and we are just looking to keep our config as clear as possible

[2016-08-25 15:45] krishnasrinivas commented on #2550
if i understand correctly you have the same test container running many processes (including xdebug running on 9000) and hence you want the port to be configurable?

[2016-08-25 15:51] jonniedarko commented on #2550
yes, while Mino is it its own container and I can access the Minio UI
though whatever port I map, our application (in another container) still
needs to reference port 9000 (which I'm surprised about, I would of thought
other docker containers would use the mapped port, but they don't seem to)

[2016-08-25 17:22] krishnasrinivas commented on #2550
Can you try if this works for you:
`docker run minio/minio --address :80 /export`

[2016-08-25 17:27] jonniedarko commented on #2550
That works 👍

[2016-08-25 18:03] harshavardhana commented on #2552
Let me check how to edit and add a custom README.md

[2016-08-25 18:04] harshavardhana commented on #2551
You are not allowed to create an empty directory on Minio, you can upload an object on a prefix.

[2016-08-25 18:08] jonniedarko commented on #2551
@hackintoshrao I understand you can't create an empty directory but how does one upload a object on a prefix using the web UI or a tool like cyber duck

[2016-08-25 18:32] harshavardhana commented on #2551
Cyberduck and Mountainduck made some fixes recently to be inter-operable with Minio - can you paste your version?

AFAIK you just have to select a bucket and upload a file and aforementioned prefixes are already created by Cyberduck or no?

[2016-08-25 18:34] harshavardhana commented on #2552
Updated the docker.md on hub page, will see if hub updates the README.md again upon a new commit.

[2016-08-25 18:34] #2552 closed, assigned to nobody

[2016-08-25 18:36] harshavardhana commented on #2550
@jonniedarko are there any other issues that you see with docker minio?

[2016-08-25 18:41] jonniedarko commented on #2551
@harshavardhana the version of cyber duck I have is `Version 5.1.0 (20872)` which should be the most recent. Sorry if this seems like a stupid question but what do you mean exactly by a prefix? Is this an option on Cyber Duck that I am just not seeing? And is it an option on the Minio Web UI? Or do you mean in the actual file name? As I mentioned Originally I did try renaming my file with `/`'s co

[2016-08-25 18:42] harshavardhana commented on #2551
In the WebUI you are talking about is Minio Browser here?

[2016-08-25 18:44] harshavardhana commented on #2551
I think i understand the problem now you could use - https://docs.minio.io/docs/minio-client-quickstart-guide to upload these files for the time being.

[2016-08-25 18:51] jonniedarko commented on #2551
@hackintoshrao Thank you :+1: but I'm actually just using a php script at present until a better solution is available, We would would like the UI to support if possible at some stage, would make it easier for our non-technical QA's to test it

[2016-08-25 19:51] krishnasrinivas commented on #2550
you can close this issue then.

[2016-08-25 19:54] #2550 closed, assigned to nobody

[2016-08-25 20:16] dkocher commented on #2551
Cyberduck will attempt to create placeholder files that denote directories ending with `/` to allow having a 'directory' in the browser without any keys 'inside'.

[code]

[2016-08-25 20:18] dkocher commented on #2006
Please install the [generic S3 profile](https://trac.cyberduck.io/wiki/help/en/howto/s3#HTTPS) for Cyberduck.

[2016-08-25 21:08] harshavardhana commented on #2551
Yes we don't support than in Minio, empty directories or objects ending with '/' are not allowed.

[2016-08-26 00:16] #2511 closed, assigned to harshavardhana

[2016-08-26 07:12] harshavardhana commented on #2540
Fixed by #2554

[2016-08-26 07:12] #2540 closed, assigned to krisis

[2016-08-26 07:12] harshavardhana commented on #2502
Two of the necessary checks have been implemented right now waiting on the full revamp from @krisis object layer init.

[2016-08-26 07:54] dkocher commented on #2551
You will need to support this if you want your implementation to be S3 compatible. Refer to [Object Keys](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys).

[2016-08-26 08:52] harshavardhana commented on #2551
You are right @dkocher.

We considered this as bad practice since empty directories are nothing but 0 byte objects with '/' at the end. For example when an object is uploaded at '/bucket/prefix/object' the 'prefix/' is automatically associated with the said 'object'. Since the keys are flat the sense of a common prefix among objects is just at the API level be it '/' or otherwise.  One more reason

[2016-08-26 09:08] harshavardhana commented on #2284
Does this bug still holds good @krishnasrinivas ?

[2016-08-26 09:10] harshavardhana commented on #2453
Going to run this tomorrow - re-assigned /me

[2016-08-26 09:12] harshavardhana commented on #2452
We have been testing this and there are bugs reported by @balamurugana and @krishnasrinivas  already.

Is there anything that needs to be done with this bug? should we close this. Since this looks like a meta bug.

[2016-08-26 09:14] harshavardhana commented on #2460
@hackintoshrao - already has a rebased patch for distributed branch re-assigned.

[2016-08-26 09:15] harshavardhana commented on #2465
ping @vadmeste - can you send an updated doc patch for Docker.md with the instructions on docker?

[2016-08-26 09:16] harshavardhana commented on #2501
Not been able to reproduce this anymore, closing. Will re-open a new bug if observed again.

[2016-08-26 09:19] harshavardhana commented on #2501
Re-opening there is a related issue with ListObjects which i haven't attempted again on the lastest distirbuted HEAD, will confirm and close both if they are not reproducible anymore.

[2016-08-26 09:21] harshavardhana commented on #2509
Closing this and moving the context here @krisis is working on a new algorithm for object layer init which would be more informative in its messaging.

https://github.com/minio/minio/issues/2502

[2016-08-26 09:21] #2509 closed, assigned to krishnasrinivas

[2016-08-26 09:23] harshavardhana commented on #2502
Issues to be fixed
- [x] Changes in object layer 'format.json' init and healing under various conditions.
- [x] Lock free 'format.json' initialization on all the fresh disks.
- [x] When Access and Secret keys are not set and RPC authentication across node fails no error is shown. - https://github.com/minio/minio/issues/2509

[2016-08-26 10:37] krishnasrinivas commented on #2551
one workaround is if we get a PUT on an object with trailing "/" for ex
bucket = testbucket, object = "a/b/c/" we can create a 0-byte object "a/b/c/d/placeholder" though not an elegant solution it will fix the UX problem of creating a directory.

[2016-08-26 14:58] #2284 closed, assigned to krishnasrinivas

[2016-08-27 08:46] vadmeste opened #2559 "go test fails under windows 10 64 bits"
Could someone check if go test fails with minio master ?

(below, error messages are in French, sorry I wasn't able to change the language of my system ^^')

[code]

[2016-08-27 10:18] harshavardhana commented on #2518
This has been fixed @balamurugana can you validate and close this?

[2016-08-27 10:18] harshavardhana commented on #2517
This has been fixed closing this.

[2016-08-27 10:19] #2517 closed, assigned to vadmeste

[2016-08-27 10:19] harshavardhana commented on #2526
This has been fixed @balamurugana can you validate and close this?

[2016-08-27 10:20] harshavardhana commented on #2525
Closing this as duplicate of #2526

[2016-08-27 10:20] #2525 closed, assigned to vadmeste

[2016-08-27 10:20] harshavardhana commented on #2524
Closing this as duplicate of #2526

[2016-08-27 10:20] #2524 closed, assigned to balamurugana

[2016-08-27 10:20] harshavardhana commented on #2519
can you validate this again @krishnasrinivas ?

[2016-08-27 10:21] harshavardhana commented on #2462
Closing this as duplicate of #2502

[2016-08-27 10:21] #2462 closed, assigned to krisis

[2016-08-28 05:20] harshavardhana opened #2561 "[distributed] Uploading 1million objects through aws cli hangs and starts again"
Uploading 1million objects fails.

[code]

[2016-08-28 06:21] harshavardhana commented on #2561
Looks like rpc conn itself is extremely unreliable here

[code]

[2016-08-28 06:30] harshavardhana commented on #2561
Because of disconnects like this server goes into back-off mode and never comes out. Currently minio server on 'minio1' using around 800% CPU.

[code]

[code]

[2016-08-28 06:31] harshavardhana commented on #2561
This is a blocker for distributed release.

[2016-08-28 06:32] harshavardhana commented on #2526
Validated this multiple times and seems like the issue is fixed,  @balamurugana please re-open as a separate bug if seen again.

[2016-08-28 06:32] #2526 closed, assigned to vadmeste

[2016-08-28 06:32] harshavardhana commented on #2518
Validated this multiple times and seems like the issue is fixed,  @balamurugana please re-open as a separate bug if seen again.

[2016-08-28 06:32] #2518 closed, assigned to krisis

[2016-08-28 06:37] harshavardhana commented on #2465
@vadmeste  you need to just send updated instructions in Docker.md we will validate this again after the merge into 'master' from distributed branch.

We don't need to build docker image for unstable branches on our public hub.

[2016-08-28 07:25] harshavardhana commented on #2561
At last all final errors

[code]

[2016-08-28 07:39] harshavardhana opened #2562 "[distributed] Unable to look for valid XL metadata content"
[code]

[2016-08-28 07:43] harshavardhana commented on #2562
Looks like a stale bucket, closing.

[2016-08-28 07:43] #2562 closed, assigned to nobody

[2016-08-28 09:16] harshavardhana opened #2563 "[distributed] Validate running s3-bench against minio server distributed"

[2016-08-28 09:17] harshavardhana commented on #2563
Preliminary run.

[code]

[2016-08-28 10:14] harshavardhana commented on #2563
[code]

[2016-08-28 10:14] harshavardhana commented on #2563
Related to the network disconnections we see in other bugs.

[2016-08-28 20:13] fwessels commented on #2561
What is the server configuration? 4 system configuration?

[2016-08-28 20:33] harshavardhana commented on #2561
Yes @fwessels  4 disks 2 nodes..

[2016-08-29 02:01] harshavardhana commented on #2327
The error is still reproducible after the fix. @krishnasrinivas

[2016-08-29 02:32] #2454 closed, assigned to vadmeste

[2016-08-29 02:52] harshavardhana commented on #2561
[code]

[2016-08-29 02:53] harshavardhana commented on #2561
Don't understand why there is  `RUnlock` attempted on an unlocked entity.

[2016-08-29 03:25] harshavardhana opened #2564 "Support single disk for XL."

[2016-08-29 05:34] fwessels commented on #2561
Server has not been restarted, I presume?

[2016-08-29 06:58] harshavardhana commented on #2561
nope! - i think there is a persistent disconnection. Read() on net.Conn observes an io.EOF which subsequently results in 'net/rpc' treating it as `rpc.ErrShutdown`

[2016-08-29 07:35] fwessels commented on #2561
How quickly does the test fail? At 1% or 10%? Or something else still?

[2016-08-29 07:39] harshavardhana commented on #2561
It is usually like after 5-10min after the uploading starts..  can happen in following scenarios
- we have a large file around 10GB+ which would take 5+mins to complete.
- we have collection of large files taking more thant 5+mins to complete
- uploading 1million files in parallel using aws cli - after around 40k files we see timeouts.

net.Conn.Read() sees an io.EOF which is coincidental with wit

[2016-08-29 08:18] fwessels commented on #2561
In one of my own tests I am getting these message:

[code]

This means a new Dial has happened after a run of 5 mins or so, whereas I wouldn't have expected this to happen. Investigating....

[2016-08-29 10:12] fwessels opened #2566 "[distributed] Optimize preamble code to minimize bucket locks"
When eg doing a PutObject for distributed, there are 4 preceding RLock()s performend prior to actually acquiring a WriteLock.
Now that distributed locks have become expensive, we should try and limit this to ideally a single lock.

[code]

Detailed call stacks:

[code]

[2016-08-29 11:22] fwessels opened #2567 "[distributed] Investigate if (write) Lock can be reused during PutObject"
As part of putting an object, first a (write) lock is acquired in PutObject() which is then released, and immediately afterwards a ReadLock is acquired on the same name.

With distributed locks now being considerably more expensive, it would be good to hang on to the write lock a little bit longer and use this instead of a new read lock (in this particular case) to save an expensive round trip.

[

[2016-08-29 11:46] fwessels opened #2568 "[distributed] Check if read and write lock can be combined for multipart uploads"
As per the calls stack below as well as the "lock"-traces, see if a read and write lock for the same name (eg `multipart/frank/a/b/file1/e1ea1af0-bdf0-422d-85a0-a6c4d45e9987`) can be combined for multipart uploads (ie just use a single write lock for both actions).

[code]

Details call stacks:

[code]
#
### 100 MB file

"Lock"-trace for `mc cp 100MB.bin myminio/frank/a/b/file1`

[code]
#
### 250

[2016-08-29 12:27] balamurugana opened #2569 "[distributed] mc command hangs if one of the node is down"
Minio Version:

[code]

Reproducer:
1. start minio in all nodes like `MINIO_CACHE_SIZE=0 ./minio server m1:/mnt m2:/mnt m3:/mnt m4:/mnt`
2. stop one of the minio by `Ctrl-C`
3. run `mc ls myminio` . This hangs.

[2016-08-29 12:32] balamurugana commented on #2569
This bug appears when start minio expect in one node like `./minio server m1:/mnt m2:/mnt m3:/mnt m4:/mnt` where no minio is running on `m4`.

Once minio is started in `m4`, things are started working.

[2016-08-29 13:32] hackintoshrao opened #2570 "XL: Stress test: `exec-concurrent "TestListPartiallyUploaded"` hangs."
## Expected behaviour

To pass.
## Actual behaviour

Hangs.
## Steps to reproduce the behaviour

`./exec-concurrent "TestListPartiallyUploaded"`
## Minio version

Latest master at 8484d1c0ca3b1a0a0d2b832fd2ae12fd5aeeaba6 .
## System information

Minio2 server.

[2016-08-29 15:06] fwessels commented on #2569
I am looking at this one, found the issue and correcting it

[2016-08-29 16:54] krishnasrinivas commented on #2519
Same issue as the one here https://github.com/minio/minio/issues/2569

[2016-08-29 17:05] fwessels commented on #2561
Do you see network disconnects for the storage layer as well?

[2016-08-29 17:06] #2569 closed, assigned to nobody

[2016-08-29 17:06] harshavardhana commented on #2561
Yes same behavior there as well..

[2016-08-29 17:50] fwessels commented on #2561
I am seeing new 'Dial's tacking place after exactly 10 minutes (distributed continues to work without problems):

First run (25 GB copied):

[code]

Second run (25 GB copied -- after short break):

[code]

[2016-08-29 19:32] harshavardhana commented on #1827
This is fixed by #2558

[2016-08-29 19:32] #1827 closed, assigned to krishnasrinivas

[2016-08-29 20:14] harshavardhana commented on #2561
[code]

[2016-08-29 20:26] harshavardhana commented on #2561
After all this now the connection has been shutdown entirely.

[2016-08-29 21:26] fwessels commented on #2561
And also for `/minio/storage/` path, right?

[2016-08-29 21:45] harshavardhana commented on #2561
yes `/minio/storage/<disk>`

[2016-08-29 23:34] vadmeste opened #2573 "[distributed] list+upload in parallel, an uploaded file becomes a directory"
Run this in a terminal:
`while true; do mc ls myminio1/testbucket/; done | grep "/$"`

And this in another terminal:
`while true; do mc cp -r file myminio2/testbucket/; done`

After a while, `testbucket/file/` (as a directory) will show up in the terminal that is doing the continuous listing.

[2016-08-30 00:42] harshavardhana commented on #2570
Is this a single node XL?

[2016-08-30 00:43] harshavardhana commented on #2563
Closing this as duplicate of #2561

[2016-08-30 00:43] #2563 closed, assigned to harshavardhana

[2016-08-30 01:01] harshavardhana commented on #2573
http://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html#ConsistencyModel
- A process writes a new object to Amazon S3 and immediately lists keys within its bucket. Until the change is fully propagated, the object might not appear in the list.
- A process replaces an existing object and immediately attempts to read it. Until the change is fully propagated, Amazon S3 might return the prior

[2016-08-30 01:43] harshavardhana commented on #2530
Close as duplicate of #2561

[2016-08-30 01:43] #2530 closed, assigned to vadmeste

[2016-08-30 01:43] harshavardhana commented on #2519
can you validate this again @krishnasrinivas ?

[2016-08-30 01:44] harshavardhana commented on #2501
Closing as duplicate of #2561

[2016-08-30 01:44] #2501 closed, assigned to krisis

[2016-08-30 01:46] #2476 closed, assigned to vadmeste

[2016-08-30 01:47] harshavardhana commented on #2466
https://godoc.org/golang.org/x/net/trace - evaluate.

[2016-08-30 01:50] harshavardhana commented on #2421
ping @brendanashworth - will you be able to work on this?

[2016-08-30 01:53] harshavardhana commented on #2151
ping @hackintoshrao is this still valid?

[2016-08-30 02:05] harshavardhana opened #2574 "[distributed] doc: write distributed quickstart/complete guide"

[2016-08-30 03:35] hackintoshrao commented on #2151
Getting the unit tests first is the priority, we could close this for now.

[2016-08-30 03:36] hackintoshrao commented on #2570
Its a single node XL.

[2016-08-30 03:53] #2151 closed, assigned to harshavardhana, hackintoshrao

[2016-08-30 05:14] brendanashworth commented on #2421
@harshavardhana I probably won't have time to work on this one — sorry!

[2016-08-30 06:24] fwessels commented on #2561
Question: you are running the test on 2 servers, correct?

Any chance to do the test on 4 servers? (So not use same connection/port to duplex essentially two RPC channels? I still don't like the fact that the paths need to be different for every connection, although maybe this duplexing behaviour is the reason why... -- and if golang is mixing things up this could explain the behaviour above)

[2016-08-30 06:28] fwessels commented on #2561
Alternatively you could lift the minimum limit of 4 servers in dmutex/dsync.go to 2, and just run 2 servers for mutexing.
(Although not sure if storage would work with < 4 servers)

[2016-08-30 06:37] krisis commented on #2561
@fwessels, we use a unique RPC path per lock (and storage server) since,
-  we may have more than one disk being served by a minio server minio instance
-  we use one listen port to multiplex all RPC connections

[2016-08-30 07:07] fwessels commented on #2561
Exactly, and maybe precisely this multiplexing is causing issues.

I am doing a test with 4 servers (EC2 instances) and although I see regular (every 10 minutes) reconnects for all 7 RPC connections, I do not see the RPC connections being disconnected permanently as above.

And locking is still functioning as it should be.

[2016-08-30 07:49] harshavardhana commented on #2327
ping @krishnasrinivas - can you validate this again? @brendanashworth won't be able to take a look at this issue anymore.

[2016-08-30 07:56] krishnasrinivas commented on #2327
@harshavardhana checking

[2016-08-30 07:56] krishnasrinivas commented on #2519
@harshavardhana still has issues, debugging.

[2016-08-30 07:59] krishnasrinivas commented on #2519
works now

[2016-08-30 07:59] #2519 closed, assigned to krishnasrinivas

[2016-08-30 09:42] harshavardhana commented on #2561
After all this here is the fix apparently, the net.Conn underlying has deadline set which leads to this issue.

Deadline is wrong for an RPC connection for us while it may be valid for incoming HTTP connections so that we don't accumulate idle connections on server.

[code]

Will send a PR tomorrow with proper fix on the RPC server side to hijack the connection and reset the deadlines.

Thanks for

[2016-08-30 09:51] fwessels commented on #2561
nicely found @harshavardhana, great that we have it.

[2016-08-30 10:49] harshavardhana commented on #2561
Current status nicely copying

[code]

[2016-08-30 10:57] balamurugana opened #2577 "[distributed] When one of minio server is not started, minio service is unavailable."
Minio version:

[code]

Reproducer:
1. start minio servers except one node eg `MINIO_CACHE_SIZE=0 ./minio server m1:/mnt m2:/mnt m3:/mnt m4:/mnt` here `m4:/mnt` is not started.
2. run `mc ls m1myminio/`.  Now one of minio is crashed.

`mc ls --debug m1testbin/` output:

[code]

`m1:/mnt` log:

[code]

`m2:/mnt` and `m3:/mnt` do not have any logs.

Host info:

[code]

[2016-08-30 11:00] vadmeste commented on #2577
@balamurugana, are you using go1.7 ? this is golang bug (https://github.com/golang/go/issues/16208) and will be fixed in 1.7.1

[2016-08-30 11:02] balamurugana commented on #2577
oops! I thought I am using go1.6.3.  Rerunning the test with go1.6.3

[2016-08-30 11:04] vadmeste commented on #2577
you can kill one minio server too, that's an interesting use case too :)

[2016-08-30 11:27] balamurugana commented on #2577
Yep.  That will be a different test :smile: