[2017-07-14 23:02] harshavardhana commented on #4670
Can you test your bandwidth from client to server using `iperf` ?

[2017-07-14 23:05] xmovu commented on #4670
No need, I check it with vnstat. Roughly 22mbps upload.

⁣Enviado por BlueMail ​

Em 15/07/2017, 00:02, em 00:02, Harshavardhana <notifications@github.com> escreveu:

[2017-07-14 23:28] harshavardhana commented on #4670
I would prefer you provide `iperf`

[2017-07-14 23:30] xmovu commented on #4670
I can certainly do it tomorrow, though this is our ISP limit (FTTH) and it does reach the limit. Will run it tomorrow.

⁣Enviado por BlueMail ​

Em 15/07/2017, 00:28, em 00:28, Harshavardhana <notifications@github.com> escreveu:

[2017-07-14 23:35] krishnasrinivas commented on #4670
@wdimd can you provide the program source that uploads to minio? it will help in further investigation.

[2017-07-14 23:58] xmovu commented on #4670
Certainly. We are using rclone latest version.

⁣Enviado por BlueMail ​

Em 15/07/2017, 00:35, em 00:35, Krishna Srinivas <notifications@github.com> escreveu:

[2017-07-15 01:37] deekoder commented on #4672
Closing this as dup of #4674

[2017-07-15 01:37] #4672 closed, assigned to nobody

[2017-07-15 03:19] deekoder commented on #4614
@hsluoyz  we discussed casbin support. Casbin is really cool.  In the case of Minio, we use policies rather than ACLs / RBAs to set policy on buckets. These policies are set programmatically via APIs and these APIs have to be S3 compatible for Minio.

[2017-07-16 03:09] balamurugana commented on #4640
As per discussion with @abperiasamy, this is gateway issue not supporting 525MB or any allowable S3 part size.  If data in stream is >100MB, Azure gateway code needs to split into new parts internally i.e. every 100MB of data is created with separate parts till end of stream.

@krishnasrinivas the above requires further discussion on the design/implementation.

[2017-07-16 10:28] adevress opened #4681 "Support for DNS style S3 Bucket naming"
Simple question regarding Bucket addressing convention and minio :+1:

AWS S3 defines two way to address a bucket : http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html

- Path style. With something like  http://server.adress/%(bucket)

- Name / DNS style. With something like  http://%(bucket).server.adress/

Is Minio supporting the DNS / Name style ? I do not find any documentation rel

[2017-07-16 11:04] vadmeste commented on #4681
@adevress, Minio doesn't support DNS style. The reason behind that is that we want Minio to be simple with the least possible knobs. Any reason why you need DNS style ?

[2017-07-16 17:53] adevress commented on #4681
@vadmeste Some of the tools I would like to use, including some proprietary one support only DNS style naming unfortunatly.

To my understanding, DNS style naming should not have a big cost in term of complexity for minio. Adding a simple parameter name of the style "--server-name=mys3.mydomain.com" would allow you to resolve any query of the style "mybucket.mys3.mydomain.com" by looking into the

[2017-07-16 17:57] krishnasrinivas commented on #4681
@adevress all the softwares/client-libs we have seen till now support a "path-style" config which would send requests as path-style instead of virtual host style. I suspect your software might also allow such a config, can you check? Would you mind sharing the name of the software? We can check too.

[2017-07-16 17:58] adevress commented on #4681
The software itself: objectiveFS ( https://objectivefs.com/ )

log structure filesystem constructed on a S3 backend.

[2017-07-16 18:13] krishnasrinivas commented on #4681
objectiveFS does not support path-style:
https://objectivefs.com/howto/how-to-use-ofs-with-on-premise-object-store

@adevress we'll discuss about how to go about this and let you know.

[2017-07-16 18:32] adevress commented on #4681
@krishnasrinivas  @vadmeste thanks guys

[2017-07-16 18:33] krishnasrinivas commented on #4640
no @balamurugana, I think AB might have misunderstood the problem because the above solution will make the gateway very complex. We had decided to inherit limitations of Backends i.e if backend supports 100MB size we will inherit this limitation.

I suspect this issue would be same as https://github.com/golang/go/issues/11745

[2017-07-17 07:25] Vesnica commented on #4670
I'm experiencing the same issue, here is my test code:

[code]
client output:
[code]
client report all success, but it's not true, my test file size is around 252M, it will took 23s for a single upload, so the total time for 10 upload should not less than 230s(4m3s actually if upload one by one). and I can't find any TEST_X files by minio web UI, so all upload operations must be prematurely termin

[2017-07-17 08:14] krishnasrinivas commented on #4670
@Vesnica can you try with `minio/minio:edge`?

[2017-07-17 08:16] Vesnica commented on #4670
I just did another test: I put client and server on the same host, using 300M test file, and all success:
[code]
I can see the uploaded files by minio web UI, and there is no error in server's log

It looks like http request's timeout is too short in minio server (or client?)

[2017-07-17 08:19] krishnasrinivas commented on #4670
@Vesnica we fixed a few timeout issues in https://github.com/minio/minio/pull/4636 can you please check with `minio/minio:edge` and let us know?

[2017-07-17 08:26] Vesnica commented on #4670
@krishnasrinivas Sure, using minio/mino:edge, 65M test file, client and server on different host:
[code]
All success, web UI check OK, server log OK

300M test file will be the next

[2017-07-17 08:31] Vesnica commented on #4670
@krishnasrinivas 300M test file:
[code]
All success, web UI check OK, server log OK

Cluster mode test will be the next

[2017-07-17 08:42] Vesnica commented on #4670
@krishnasrinivas Cluster on 3 different physical host, client on another physical host, all 4 host on same local network, 65M test file, using minio/minio:edge
[code]
All success, web UI check OK, server log OK

300M test file will be the next

[2017-07-17 09:03] Vesnica commented on #4670
@krishnasrinivas 300M test file
[code]
It took a while(like 30s) for web UI to load the file list, and server log have some errors(10.60.73.13 is the machine who access the web UI):
[code]
But the result is OK, I can see all the uploaded files when the load is over.

[2017-07-17 09:17] Vesnica commented on #4670
It looks like the edge version greatly alleviates the timeout problem :tada:

Next I'll gradually increase the test file size to try to find the limits of the system, because it's very important to know before deploy a production system.

Thanks for the help

[2017-07-17 09:23] krishnasrinivas commented on #4670
Can this be reproduced easily @Vesnica ?

[2017-07-17 09:34] Vesnica commented on #4670
@krishnasrinivas Yes

I restart the whole cluster -> access the web UI -> refresh the page few times -> error pops:
[code]
I guess the first EOF error is caused by the browser try to access the none-exist "test" bucket(you can see the error hint message on the page).

[2017-07-17 09:35] balamurugana commented on #4670
It seems `data, err := bufconn.Peek(methodMaxLen)` returning `i/o timeout`,  This means the server is not able to read 8 bytes of data from the new connection.  It might be occurred due to network saturation as 300MB of data is uploaded in parallel.

[2017-07-17 10:28] Vesnica commented on #4670
@balamurugana Here is my reproduction steps:

- Start the cluster on 3 physical nodes
- Wait for all nodes ready(check docker logs)
- Access the web UI of one node, refresh the page few times
- Visited node produce following errors:
[code]
- Other node produce no errors

There is no big file uploading at the same time. so it seems to me that this problem is not due to the network saturation

[2017-07-17 10:49] balamurugana commented on #4670
@Vesnica

Is it something like refreshing the page continuously few times?  I guess due to refresh, the browser doesn't send any data to the server, hence timeout is occurred.

[2017-07-17 11:09] Vesnica commented on #4670
@balamurugana Yes, I refreshing the page continuously.

My cluster is busy to running the test right now, I'll test the web UI without the refresh when the cluster is free.

[2017-07-17 11:51] Vesnica commented on #4670
@krishnasrinivas 1G test file pass the cluster test:
[code]

@balamurugana
- Using chrome, open developer tool(F12)
- Open the web UI, without any refresh:
![image](https://user-images.githubusercontent.com/1401615/28266272-7ff0d4f4-6b26-11e7-836d-1794a2086dc5.png)
- Visited node produce following errors:
[code]
- Close the developer tool(F12), open it again(F12)
- Refresh the page (F5)
![image](h

[2017-07-17 19:02] fwessels commented on #4674
First of all, thank you @akhmadfld for the extensive reporting.

The key issue here is that effectively you are running a three node system and not a four node system -- there is no point/advantage of running a three node system instead of a four node system, even if server instance a would be twice (2x) as powerful in terms of hardware and storage capacity compared to instances b and c. Let me ex

[2017-07-17 19:17] deekoder commented on #4208
This was for windows SSL.

[2017-07-17 21:30] krishnasrinivas commented on #4564
@krisis reassigning this to you as you are looking into this.

[2017-07-17 21:49] krishnasrinivas commented on #4208
@deekoder https://en.wikipedia.org/wiki/X-Forwarded-For would help the backend to know the originating IP address. I think this will not be useful for us.

[2017-07-18 02:40] krishnasrinivas opened #4686 "Minio runs as stand-alone erasure when distributed-erasure is intended"
I have not followed the issue template as explaining this issue in a free form makes more sense.

This issue is reported on slack. If user runs this command:

[code]

i.e without `http://` prefix, we create directories 192.168.220.242:/export1 192.168.220.244:/export1 192.168.220.245:/export1 192.168.220.246:/export1 and run stand-alone erasure. But the intention was to run a distributed erasure.

[2017-07-18 16:30] #4626 closed, assigned to harshavardhana

[2017-07-18 17:30] ebozduman commented on #4630
This looks like a Chrome bug. See [this](https://stackoverflow.com/questions/35049555/chrome-autofill-autocomplete-no-value-for-password)
The **workaround** is either to click on the Minio logo at the right bottom corner or to refresh the page. Then the `Secret Key` will be available.
By the way, this Chrome issue is not specific to OS X. I've also reproduced it on Windows, and Ubuntu OSs.
Here is

[2017-07-18 17:32] longtimeago opened #4687 "SignatureDoesNotMatch error when putting object via aws-java-sdk-s3"
Unable to put an object via `aws-java-sdk-s3`

`com.amazonaws.services.s3.model.AmazonS3Exception: The request signature we calculated does not match the signature you provided. Check your key and signing method. (Service: Amazon S3; Status Code: 403; Error Code: SignatureDoesNotMatch; Request ID: 3L137)`

Retrieving objects is OK, the problem is only with put
Tried to put the same object to a rea

[2017-07-18 17:47] krishnasrinivas commented on #4687
@longtimeago can you check it this way if it works? https://gist.github.com/krishnasrinivas/edc62873bcef5396493f31f8d582fc2c

In the meanwhile we will investigate why your program is not working

[2017-07-18 17:51] vadmeste commented on #4687
@longtimeago @krishnasrinivas, AWS Java SDK uses streaming signature v4 by default. This issue is known and fixed in master but not released yet. Using Minio master will fix the problem but if you don't want to use it, you can explicitly set a region (like "us-east-1") in ~/.minio/config.json and the issue will disappear.

[2017-07-18 18:29] longtimeago commented on #4687
Thanks for the fast response!
@vadmeste We use minio inside a docker container, so the solution with `~/.minio/config.json` is not very suitable ... of course, we could build our own image based on minio/minio as a temporaty solution :)
@krishnasrinivas Nice! The example works like a charm :) Gonna try to rewrite it with new sdk `builder` style ...
Thanks ones again!
Probably, we don't need this i

[2017-07-18 18:29] #4687 closed, assigned to vadmeste

[2017-07-18 18:34] longtimeago commented on #4687
@krishnasrinivas by the way, in your example critical thing is `disableChunkedEncoding()`
On the other hand, it works without `clientConfiguration.setSignerOverride("AWSS3V4SignerType")`

[2017-07-18 21:04] niv commented on #4630
Thanks for looking into this.

However, this issue is not about the secret key, it's the associated username/access key that is not auto filled. I verified this in the builtin password manager (it's stored properly), and it happens both in Chrome and Safari.

Clicking the password entry pops up the selector and allows autofilling as expected; however, it only autofills secret, not access.

Reloadi

[2017-07-18 21:07] tyler-johnson opened #4688 "Official Signed Windows Binary?"
I have an enterprise customer wanting to install Minio on-premise as a replacement for S3. They are running Windows Server 2012 and due to their security policies, they cannot download or run unsigned exe files.

Is there any plan for Minio to distribute a signed Windows binary?

[2017-07-18 22:09] deekoder commented on #4677
Will address this when we refactor server code.

[2017-07-18 22:09] #4677 closed, assigned to harshavardhana

[2017-07-18 22:59] krishnasrinivas commented on #4688
@tyler-johnson the signature is provided along with the binaries which you can verify:
https://dl.minio.io/server/minio/release/windows-amd64/

[code]

[2017-07-18 23:01] krishnasrinivas opened #4690 "Minio public key has expired"
Issue template is not used as free form makes more sense for this issue.

[code]

It prints `gpg: Note: This key has expired!`

Should this be updated?

[2017-07-18 23:33] vadmeste opened #4691 "[go1.8] Distributed minio shows `Server times are too far apart` error message"
## Expected Behavior
Normal cluster behavior

## Current Behavior

Running four Minio docker instances locally:

[code]

`Server times are too far apart` can also seen when `mc watch` is called.

[code]

## Possible Solution
There is something weird with go1.8 and RPC, not sure how to fix this yet.

## Steps to Reproduce (for bugs)
1. Download this PR and build the image locally (`docker build . -

[2017-07-18 23:35] harshavardhana commented on #4690
Yes we need to update gpg keys and update them..

[2017-07-18 23:37] harshavardhana commented on #4687
You could also override the region by using MINIO_REGION env for docker instances. Also you don't need to disable chunkedEncoding with Minio. We support streaming signature mechanism which is the default ehavior of aws-sdk-java

[2017-07-18 23:38] tyler-johnson commented on #4688
Thanks for the quick response!

When I run the gpg command this is what I see. Am I missing something?

[code]

Also I don't know much about Windows Server and how it determines which .exe files are allowed to be downloaded/run. Should Internet Explorer automatically detect the .asc file? Or does the system admin need to do something to tell Windows that this executable can be trusted?

To be clea

[2017-07-19 00:34] aead commented on #4688
@tyler-johnson
You have to import the public key from the keyserver: `gpg --keyserver pgp.mit.edu --recv F9AAC728`

But I think you are looking for a way to run minio as a verified binary on windows servers. You want to run minio and windows will pop up UAC and say: "Do you want to allow this app to make changes to your PC" and "Verified publisher": Miniio Inc. right?!

To do this, we have to get

[2017-07-19 02:07] krishnasrinivas commented on #4681
@adevress for now we are not going to support virtual-host-style. All AWS-SDKs and most S3-clients we have seen support path-style. It would be easy for ObjectiveFS to support path-style if they use AWS-SDKs.

[2017-07-19 02:14] ebozduman commented on #4630
I see some difference in the behavior in my case.
Could you give us some more information about your setup (although some may sound irrelevant):
1. How do you start your Minio server? Does it run on your localhost?
2. What is your OS X, and Safari version?

I can reproduce the issue with Chrome on Ubuntu and localhost, but I don't see it with Safari. When the little key icon next to the Secret Key

[2017-07-19 02:21] aead commented on #4688
@tyler-johnson
We have applied for a code signing certificate to create signed windows binaries. As soon we receive the certificate we will build a signed windows release. Then windows UAC should show minio server as verified application. Will keep you updated.

[2017-07-19 07:35] niv commented on #4630
Hey,

* minio is hosted via docker (96c93972853d); reverse-proxied with https in place.
* Chrome: Version 59.0.3071.115 (Official Build) (64-bit)
* OSX: Sierra (10.12.5), Safari (10.1.1 (12603.2.4))

And you're right, Safari seems to be okay.  I must have mis-remembered/taken the automatically generated password as a partial autofill.  Chrome still doesn't work though.

[2017-07-19 09:41] pierremartins507 opened #4693 "Minio server with TLS"
* Version used (`minio version`):
Version: 2017-06-13T19:01:01Z
Release-Tag: RELEASE.2017-06-13T19-01-01Z
Commit-ID: 353f2d3a6e30f595a721abcd9cf1b108b041ee21

* Server type and version: Docker (minio/minio:latest)
* Operating System and version (`uname -a`):
* Link to your project: https://prefiles.goodship.eu:9000/minio/login

Hello,

I have read the documentation (https://docs.minio.io/docs/how-

[2017-07-19 11:51] vadmeste commented on #4693
@pierremartins507, Minio is not responsible for this issue.

You need to follow this link https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio to create free TLS certificates for your domain prefiles.goodship.eu:9000 that can be validated by all clients.

[2017-07-19 12:18] donatello commented on #4693
@pierremartins507 If I access your server over http, I see that the login page is served. This means that the server has not picked up the tls certificates that you have configured. Minio server expects the certificates to be at `$HOME/.minio/certs`. So if you are running as root within your container, the certs should be at `/root/.minio/certs/`.

[2017-07-19 13:20] pierremartins507 commented on #4693
I have installed tls certificates here : /root/.minio/certs
I have :  private.key  public.crt

[2017-07-19 15:55] henti commented on #3575
Just an update.

golang-github-fatih-structs
golang-github-gorilla-rpc
golang-github-minio-cli
golang-github-minio-dsync

Has been accepted into Debian, however I'm no longer able to work on the remainder of the dependencies or packaging minio for Debian as the packaging component for our internal project has been moved out of my team.

I'm reaching out to the new team and will point them at this

[2017-07-19 16:57] fwessels opened #4696 "Investigate reconstruct on the fly for Distributed mode"
Once the ReconstructData is accepted in klauspost/reedsolomon, we should investigate, for distributed mode, whether it is worthwhile to always load the local block (irrespective of whether it is a data or parity block) and reconstruct on the fly. (And thus load one less block over the network).

The reason for this is that, given the reconstruction speed that we are now seeing, we are easily getti

[2017-07-19 17:04] harshavardhana commented on #4696
This is a neat thing to do.

[2017-07-19 18:34] aead commented on #4688
@tyler-johnson
We have build a signed windows release. You can find it [here](https://data.minio.io:10000/windows/minioSignedRelease.exe?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=miniocorp%2F20170719%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20170719T183106Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=8c7a390c319c8ca7e3e6d52cec0106e44326a9a9e6a8062e8063ff20c87825ff).
You

[2017-07-19 19:27] malejpavouk opened #4698 "Question: Maximum installation (size) + HA setup"
Hi,

I hope this is a correct channel to ask questions, if not, please direct me to the correct one.

I have two questions:

1. 16 disks seems to me a bit limiting on the first sight. Do I understand it correctly, that If I have 16 disks with 8TB each, I have 128TB capacity, but with 50% used on parity. Hence practically I can use at max 64TB. As I do not want to have the disks completely full, th

[2017-07-19 19:34] tyler-johnson commented on #4688
Wow you guys rock! I will try it out on this Windows Server and see how it goes. Thank you for doing this.

[2017-07-19 19:43] krishnasrinivas commented on #4693
@pierremartins507 can you confirm that you are mapping the volumes from host to the container using `-v` so that the container has access to the certificate available on the host.

I just verified that minio is picking up the certs fine on my local setup.

[2017-07-19 20:39] deekoder opened #4699 "Impact Analysis & Perf improvements"
For bitrot changes being made by @aead

[2017-07-19 20:50] ebozduman commented on #4630
Hi Niv,

When I start my local server like `http://localhost:9000/minio/login`, I see the  issue.
If I go to `https://play.minio.io:9000/minio/login` server publicly available, I don't see it and everything works as expected.

No matter what, it is the same code running in both cases, so we are  being the culprit like setting `autoComplete = "off"` is close to impossible (I also checked the code a

[2017-07-19 21:54] krishnasrinivas commented on #4698
That is correct since half the drives is for parity, 64 TB will be usable. Minio took this approach to build for very large scale. design philosophy is to build many small manageable units rather than one giant monolithic distributed unit. This way, you may even run many minio instances of different versions cohosted on the same hardware infrastructure. Failure is self contained within each unit.

[2017-07-19 22:22] ebozduman commented on #4208
After discussing the the need to address this issue with AB, Krishna and Deepa, it is concluded that adding `X-Forwarded-For:`  header field is not going to gain us anything other than having extra information for logging purposes.
Because of that, it is decided that we don't need to address it at this point and the issue can be closed.

[2017-07-19 22:23] #4208 closed, assigned to ebozduman

[2017-07-20 01:39] #4628 closed, assigned to krishnasrinivas

[2017-07-20 06:06] krisis opened #4702 "Identify filesystems and platforms that support extended attributes"
Platforms to consider
- Linux (XFS, ext4, NFSv3)
- Windows (NTFS, ReFS)
- Mac OS/X
- *BSD

[2017-07-20 06:08] krishnasrinivas commented on #4648
@aead working on this

[2017-07-20 06:11] malejpavouk commented on #4698
Thanks for the quick answer.

Is threre any time-frame in which you plan to have the disks limits increased in the stable version? We are currently doing evaluations of multiple technologies and while we like Minio, this may cause us some troubles.

Use case: we are storing _a lot_ of media files of the same type per customer. We do not want to shard this database, as this would require some rebal

[2017-07-20 06:23] krisis commented on #4702
Here are findings so far,
1. Linux
     - ext4, XFS support extended attributes(EA)
     - NFS v3 _doesn't_ support EA
2. Windows
    - NTFS supports EA through alternate data streams
    - ReFS _doesn't_ support EA
      Ref: https://blogs.msdn.microsoft.com/b8/2012/01/16/building-the-next-generation-file-system-for-windows-refs/, see "Q) What semantics or features of NTFS are no longer supported

[2017-07-20 08:17] adevress commented on #4681
@krishnasrinivas  I understand your decision but this is regrettable. All other major S3 implementations including Amazon itself, RadosGW and Pithos support DNS Bucket styl. Path style addressing start to be marked as deprecated in several toolkit including the official AWS Java toolkit itself.

I think minio should consider to implement it in future, I can contribute to that if needed.

[2017-07-20 09:55] nitisht opened #4703 "[mint] Tests fail in Azure/GCS gateway mode"
## Expected Behavior
Mint test cases should pass.

## Current Behavior
When Mint is run against the `minio gateway azure` or `minio gateway gcs`, requests fail with server log as below

[code]

[code]
Note that region is set using `export MINIO_REGION="us-east-1"`

## Steps to Reproduce (for bugs)
1. Start Minio server in azure or gcs gateway mode.
2. Run Mint against the Minio server instance.

[2017-07-20 11:54] krisis opened #4704 "Propose a multipart upload backend without fcntl(3)-based coordination."
Requirements
- Crash-consistent, concurrency-safe multipart upload
- Support user meta-data _iff_ EA support is present

[2017-07-20 13:10] vadmeste commented on #4691
This is the go commit which caused slowness in RPC connections (https://github.com/golang/go/commit/faf882d1d427e8c8a9a1be00d8ddcab81d1e848e)

It was hard to bisect between 1.7 and 1.8 since many commits between weren't able to compile Minio, if someone wants to test, I can give him the modified Minio code

[2017-07-20 16:03] vadmeste commented on #4691
Avoiding setting tcp read/write deadline fixed the problem. Looks like there is a bug in golang with rpc + SetReadDeadline()

[2017-07-20 16:08] krishnasrinivas commented on #4681
@adevress let me check if we can accept your contribution if you implement it.

[2017-07-20 16:13] benfab opened #4705 "Upload of large file over the S3 API hangs"
## Expected Behavior

Being able to upload large file (5.57GB) over the Minio S3 API.

## Current Behavior

I am struggling to upload a large file (5.57GB) to Minio. The upload over the S3 API is hanging and I see the following message in the logs:

[code]

As note, uploading small files or the same large file over the UI works fine.

## Your Environment
* Version used: Docker image ' minio\minio:

[2017-07-20 16:23] krishnasrinivas commented on #4705
@benfab what client are you using to upload the large object? Can you paste the relevant code?

[2017-07-20 16:26] donatello commented on #4705
This seems to be minio-go related - at least I am able to reproduce this with `mc`.

[2017-07-20 18:02] vadmeste opened #4706 "[gcs] gcs startup message contains wrong port, different to the one specified with --address flag"
## Expected Behavior
[code]

Notice 9000 port in startup message though 9003 is specified

## Current Behavior
[code]

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
See above

## Context
Testing

## Your Environment
All

[2017-07-20 18:12] malejpavouk opened #4707 "Suggestion: Make OkHttpClient in MinioClient protected/provide extentension point"
## Expected Behavior
The OkHttpClient should have **protected** modifier, a setter or an extension method (void customizeHttpClient(OkHttpClient client){}) in MinioClient class. This would follow the logic of _open to extension, close to modification_.

The httpClient is statically typed (we are in Java), so the programmer does not have any way to modify the core behavior, but may decide to provid

[2017-07-20 18:57] deekoder commented on #4688
@tyler-johnson did it work out well without any issues for you? We plan to make a new release and if everything looks good we plan to sign all windows build in future.

[2017-07-20 19:00] deekoder commented on #4675
@Rishka - Any chance that this started working for you?

[2017-07-20 19:05] rishka commented on #4675
Um... It did... And I didn't change anything.

Do you want me to test it with edge again

[2017-07-20 19:11] deekoder commented on #4675
Sure.

[2017-07-20 19:13] tyler-johnson commented on #4688
Yes, I can confirm that my client is able to download and run Minio on their Windows Servers now. It worked beautifully. Thank you so much!

[2017-07-20 19:16] rishka commented on #4675
I still get the same error with edge, which causes the pod to not start. And switching back, latest worked right away

[2017-07-20 21:12] nitisht commented on #4703
Looks like this was a config issue in Mint, the Secret key was not properly set. Not reproducible with correct set up, can be closed.

[2017-07-20 21:15] aead commented on #4688
Okay, glad to hear - thank you very much @tyler-johnson

[2017-07-20 21:29] #4688 closed, assigned to aead

[2017-07-20 21:33] deekoder commented on #4707
@malejpavouk  are you using minio's java sdk? https://github.com/minio/minio-java

[2017-07-20 23:39] #4706 closed, assigned to vadmeste

[2017-07-21 00:03] brendanashworth commented on #4658
The issue here doesn't lie with codecov (= switching to go cover will not help), it lies with our own tests. A few of our tests (file system related especially) won't always cover the exact same code path when they execute. There may be a race condition here or there that will trigger a different code path while still having the same end result, which gives different code coverage between equal ru

[2017-07-21 00:43] deekoder commented on #4658
Thanks brendan! This explains the rootcause really well.

[2017-07-21 01:06] deekoder opened #4710 "Explore alternatives for browser ux"
What could we use instead of react (in case license issue with react does not resolve).

[2017-07-21 01:28] harshavardhana commented on #4691
We don't set the deadline with, atleast we remove it after first peek on the Conn. Have you re tested the changes with the master?

[2017-07-21 02:21] #4703 closed, assigned to vadmeste

[2017-07-21 02:21] #4362 closed, assigned to nitisht

[2017-07-21 02:24] nitisht commented on #4606
@ildarg please feel free to re-open this if you face the problem again. I am closing this for now.

[2017-07-21 02:24] #4606 closed, assigned to nitisht

[2017-07-21 02:26] nitisht commented on #4669
Taking this.

[2017-07-21 05:58] malejpavouk commented on #4707
yes, the Java SDK

[2017-07-21 06:56] #4181 closed, assigned to nobody

[2017-07-21 08:06] benfab commented on #4705
@krishnasrinivas I am facing the issue with both API and mc client.

Here the command I am using from a Windows client.
`.\mc.exe cp --debug .\bosh-stemcell-3363.25-vsphere-esxi-ubuntu-trusty-go_agent.tgz minio/bucket
`

The error from the CLI:
`
...sty-go_agent.tgz:  64.00 MB / 406.82 MB [=======>                                        ]  15.73% 388.93 KB/s 15m2s
mc.exe: <ERROR> Failed to copy `.

[2017-07-21 09:11] balamurugana commented on #4707
@malejpavouk refer https://github.com/minio/minio-java/issues/589

[2017-07-21 09:11] #4707 closed, assigned to balamurugana

[2017-07-21 15:52] donatello commented on #4705
Could you explain how you attempted the upload via the API?

[2017-07-21 16:13] vadmeste commented on #4691
Yes

[2017-07-21 16:16] vadmeste commented on #4691
I was finally able to reproduce this with a small code:

[code]

With go 1.8, `curl http://localhost:1234/` returns sometimes but doesn't in most times. Commenting 	`c.Conn.SetReadDeadline(time.Now().UTC().Add(30 * time.Second))` will make the problem disappear.. It looks like `SetReadDeadline()` conflicts with `Hijack()`

[2017-07-21 17:19] deekoder commented on #4638
@BastienAr is this resolved in your opinion. Hope you were able to locate the download widget and get the zip files.

[2017-07-21 17:23] deekoder commented on #4693
@pierremartins507 - will go ahead and close this issue as working as intended. Please feel free to reopen if its still not working for you.

[2017-07-21 17:23] #4693 closed, assigned to donatello

[2017-07-22 09:19] niv commented on #4630
Thanks again for looking into this, @ebozduman!

I checked out the DOM and all the associated fields and from what I see, it *should* work. However, it does not.  I had to change the access key to something human-typable/rememberable just so I can log in.

If I find anything, I'll update here as well.

[2017-07-23 03:42] listeng opened #4712 "How can I extend the storage size after deployment in same instance ?"
@NitishT  It's related #4364 , but my question is that if I startup a new Minio instance when I run out of storage, the url and port will be changed. How to extend storage size like AWS S3 that do not need to change the url, and scale infinitely. Thanks.

[2017-07-23 06:08] harshavardhana commented on #4691
Is this with go1.8 and exists with go1.8.3 as well ? As a fix we can disallow deadlines on CONNECT. But it's just not clean..

[2017-07-23 07:33] pdf commented on #2998
@harshavardhana multiple instances do not solve the same problems as multiple keys, unless multiple instances are safe to point at the same data (the multi-tenant docs appear to suggest otherwise)?  For example, compromised keys require rolling credentials on every client, or the need for differing access levels for shared data.

If it is not possible to point multiple instances at the same data (

[2017-07-23 12:18] harshavardhana commented on #4691
@vadmeste we should open a bug on Go repo they will have a better idea on what changed in go1.8.x releases and perhaps even guide us in fixing this..

[2017-07-23 13:27] harshavardhana opened #4713 "Disk formatting continues regardless of conflicting situation of starting Minio server"
## Expected Behavior
Should be only this

[code]

## Current Behavior
[code]

## Possible Solution
We shouldn't be performing any action whatsoever on the backend, currently from what it looks like we are attempting to initialize object layer and failing later this can lead to serious bugs.

We also wrote `format.json` even when we cannot start the server.  It is misleading to state that endpoint

[2017-07-23 13:33] harshavardhana commented on #4713
I do not yet know how serious it is but it is important to investigate this before release in my opinion.

[2017-07-23 13:35] nitisht commented on #4675
@Rishka just to clarify,

initially the version `latest`

[code]

was not working, but now it works? Also, currently `minio/minio:edge` is not working for you?

[2017-07-23 13:38] harshavardhana commented on #4675
We don't start the server when we don't know the disk size.  We also don't start the server when we have no inodes available looks like latter is the issue here. We need to see what the disk FS type reported and ignore the check. We do this with NFS currently.

[2017-07-23 23:51] pablopla opened #4714 "Bucket remembers old policy"
When deleting a bucket with read policy and recreating it, it remembers the read policy.

## Expected Behavior
New bucket should be private.

## Current Behavior
The new bucket has public read permission.

## Steps to Reproduce (for bugs)
1. Run minio server
2. Create a file with name 'test' in the current path with content 'hello'
3. Install python-boto3 (on ubuntu: sudo apt-get install python-bo

[2017-07-24 00:03] pablopla commented on #4714
After restarting the minio server, the object isn't accessible and the permissions are back to normal.
minio probably keep the bucket policy in memory and doesn't delete it when removing the bucket.

[2017-07-24 00:23] harshavardhana commented on #4714
I can't reproduce this using `mc policy` command

[code]

But i was able to reproduce this.. the issue is inside removeBucketPolicy. In-fact this effects event notifications and listen bucket notification APIs as well.

[2017-07-24 00:31] harshavardhana opened #4715 "Crash in FS mode when Erasure coded mode is already running"
## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Looks like the crash is inside listener close..
[code]

## Steps to Reproduce (for bugs)
Start a erasure coded mode `minio server /tmp/{1..4}` and subsequently attempt to start `minio server /tmp/1` when the erasure coded minio server is still running.

## Context
 Release testing.

## Your Environment
master

[2017-07-24 00:35] harshavardhana commented on #4715
Reproducible in vice versa manner as well, keep a running `minio server /tmp/1` in FS mode and start erasure coded mode including the disk `/tmp/1`

[code]

[2017-07-24 02:35] #4714 closed, assigned to harshavardhana

[2017-07-24 05:06] nitisht commented on #4712
@listeng can you provide some more info about the setup, number of disks, disk capacity, number of servers, current data size and expected data size etc. so I can think of other ways/tools to handle your requirements.

[2017-07-24 12:49] rishka commented on #4675
@NitishT Correct, I had just left `latest` running. And checked it after ~5 days.

`minio/minio:edge` is not working because it fails on startup

@harshavardhana Is there a cli or environment variable to disable that check? I still have a pod running if you want me to check anything

[2017-07-24 13:40] vadmeste commented on #4691
Yes, I already opened a bug and I was suggested a workaround that I already tested and it seems to work fine: https://github.com/golang/go/issues/21133

[2017-07-24 13:40] vadmeste commented on #4691
I pushed the workaround by the way.

[2017-07-24 14:22] balamurugana commented on #4691
@vadmeste you could have workaround conn than modifying bufconn i.e. bufconn uses workaround conn

[2017-07-24 14:31] vadmeste commented on #4691
yeah, I can do that, though it will like little more complicated probably (many layers)

[2017-07-24 14:40] balamurugana commented on #4691
I think it won't be a problem. Its easy to revert the code than modifying bufconn in future

[2017-07-24 15:05] harshavardhana commented on #4675
Is it possible for us to access this pod remotely like a remote ssh ?

[2017-07-24 15:27] rishka commented on #4675
No, It is a part of a production cluster. If there are commands you would like me to run, you can reach me on slack @adam_p

[2017-07-24 15:31] b4nst commented on #4638
@deekoder I was already able to get the zip files, the problem is that when large files are selected the download process take a while to start, as it wait zip completion before starting.

[2017-07-24 16:52] ItalyPaleAle opened #4717 "Increase access key to 24 chars for compatibility with Azure"
When using Minio in Gateway mode to Azure, Access Keys are limited to 20 characters. Because the Access Key is the Azure Blob Storage Account name, which can be `[a-z0-9]{3,24}`, certain storage accounts cannot be used with Minio.

## Expected Behavior
When using Minio in Gateway mode to Azure, Access Keys are limited to 20 characters, so storage account with names of 21-24 characters aren't accep

[2017-07-24 17:05] deekoder commented on #4674
Please reopen if you'd like to continue this discussion.

[2017-07-24 17:05] #4674 closed, assigned to fwessels

[2017-07-24 19:24] brendanashworth commented on #4710
There's [no shortage of options](http://stateofjs.com/2016/frontend/) for [JS frontend frameworks](https://github.com/showcases/front-end-javascript-frameworks): [ember.js](https://emberjs.com/), [backbone.js](http://backbonejs.org/#), [vue.js](http://vuejs.org/), [Polymer](https://www.polymer-project.org/) and [angular.js](https://angularjs.org/) to name some of the most popular besides react. Se

[2017-07-24 19:53] ebozduman commented on #4630
Sounds great!
Thanks.

[2017-07-24 21:33] aead commented on #4690
@krishnasrinivas You have to update your local key - probably you're using an old one. Current key is valid...

[2017-07-24 21:35] harshavardhana commented on #4690
Perhaps @krishnasrinivas you need to do locally.

[code]

[2017-07-24 22:06] poornas opened #4718 "Azure should return NoSuchBucketPolicy if policy not found"
## Expected Behavior
Mint fails for Minio-py sdk because Azure returns { "Version":  "2012-10-17", "Statement": None} instead of NoSuchBucketPolicy if bucket policy does not exist. Refer https://github.com/minio/minio-py/issues/558

This may be an issue with GCS as well.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run minio gateway azure
2. Run ./tests/function

[2017-07-24 23:38] deekoder opened #4719 "Create a Tile for minio's bosh release"
Create all the configurations/yml files needed to create a minio tile that can be imported in the Ops Manager.

[2017-07-24 23:44] deekoder opened #4720 "Create minio as a service that can be provisioned on CF"

[2017-07-25 01:25] deekoder opened #4721 "Update Mesos & Kubernetes with latest release tag"
Since we have a new release. We need to send PRs to Mesos & Kubernetes . @krisis  could we also add these steps to the release doc.

[2017-07-25 03:19] deekoder commented on #4721
https://github.com/kubernetes/charts/pull/1304/files
https://github.com/mesosphere/universe/pull/1169/files

[2017-07-25 03:27] nitisht commented on #4721
@deekoder I can sent the PR for k8s/helm

[2017-07-25 03:35] nitisht commented on #4675
@Rishka I will push a Minio Docker image on a private repo, could you pls test it on your setup?

[2017-07-25 03:39] nitisht commented on #4721
https://github.com/kubernetes/charts/pull/1546

[2017-07-25 08:00] fzumstein opened #4722 "Change to semantic versioning"
minio's datetime version strings are very unusual. Semantic versioning (http://semver.org/) would be a huge improvement in user experience.

[2017-07-25 08:04] harshavardhana commented on #4722
Relevant previous issue and why we won't be doing it  https://github.com/minio/minio/issues/2318#issuecomment-235992350

[2017-07-25 08:07] fzumstein commented on #4722
thanks, sorry for the duplicate, will add further comments there.

[2017-07-25 08:07] #4722 closed, assigned to nobody

[2017-07-25 09:57] liujia88 opened #4723 "minio distribute error"
`nohup ./minio server --address :9004   http://192.168.48.105/home/work/miniofilepath http://192.168.48.94/home/work/miniofilepath http://192.168.48.98/home/work/miniofilepath http://192.168.48.99/home/work/miniofilepath &`

i use this command in test environment, it can work. but i use this command online environment,it goes wrong, error message:
`FATA[0000]` Invalid command line arguments server

[2017-07-25 10:10] vadmeste commented on #4723
@liujia88, the machine which is running your command should have one of the ip addresses that you passed as arguments to Minio server, otherwise it won't work.

So your machine IP should be 192.168.48.105 or 192.168.48.94 or 192.168.48.98 or 192.168.48.99

[2017-07-25 12:47] listeng commented on #4712
Just like your CCTV video storage use case. I have setup a distributed Minio instance run on three machine, and each machine have 1TB free disk space. The web application can access the data from http://aaa:9000/xxx with AccessKey:AAA and SecretKey:BBB.

After a month, the disk only have 100MB free space of disk. Is there any way to extend free usable disk space of Minio when I buy some new machin

[2017-07-25 14:13] jfusterm opened #4724 "Minio not accepting flags in Kubernetes"
When deploying a Minio `StatefulSet` in Kubernetes and using flags under `spec.template.spec.containers.args`, like `--address 0.0.0.0:9000`, the `StatefulSet` never gets deployed properly due to an error `Incorrect Usage: flag provided but not defined: -address 0.0.0.0:9000`

## Expected Behavior
Deploy the Minio cluster via a `StatefulSet` successfully.

## Current Behavior
Not being able to dep

[2017-07-25 21:25] atomi commented on #4630
Upgrading to Version 60 has fixed the issue for me on Ubuntu.

[2017-07-25 23:42] ebozduman commented on #4721
I created a PR for required mesosphere/universe changes.
https://github.com/mesosphere/universe/pull/1290
Waiting for its approval and merge.
I also updated the [release doc](https://docs.google.com/document/d/1yRrWmAa2yjNNjmfnlL7oQfuskZZk5Vy2BjvZR3fZ2qo/edit#heading=h.r2p5sjd4d9jf) about what changes need to be done at kubernetes and mesosphere repos when there is a new minio release.

[2017-07-26 02:25] ebozduman commented on #4630
@niv,
Could you try with beta version 60?
With version 60, access key is auto filled when the secret key is selected.

Although, the opposite and auto fill for both when login page is visited don't work, this is still quite a big progress.

[2017-07-26 04:03] nitisht commented on #4675
@Rishka please test with the image `nitisht/minio:inode`

[2017-07-26 06:25] niv commented on #4630
Yep, can confirm this is as described in Chrome 60. Not really fixed as one would expect it to behave, but at least usable.

[2017-07-26 07:32] #4723 closed, assigned to vadmeste

[2017-07-26 10:10] donatello commented on #4705
@benfab - could you try the latest release of minio (released just this week) and mc and try to see if the issue persists?

I am trying to reproduce this issue but it not happening consistently for me. I saw the crash just once so far but with the previous release and not with current one. I was able to upload a 6gb file using mc to the server ~20 times without and issue on the latest release.

[2017-07-26 10:10] donatello commented on #4705
Additionally, if you have any other way to reproduce this issue, please provide all steps to do so.

[2017-07-26 13:02] rishka commented on #4675
Fails to start with`time="2017-07-26T13:01:05Z" level=error msg="Initializing object layer failed" cause="disk path full" source="[server-main.go:206:serverMain()]" `

[2017-07-26 13:30] jfusterm opened #4726 "Can't start a distributed Minio with TLS"
After having deployed properly a distributed Minio under Kubernetes, I have tried to do the same with TLS without any luck, so I don't know if I'm missing something.

## Expected Behavior
Start a distributed Minio with TLS under Kubernetes.

## Current Behavior
Getting error type `TLS handshake failed with new connection...` and `...connection reset by peer`

## Steps to Reproduce (for bugs)

Usin

[2017-07-26 16:55] ebozduman commented on #4630
@niv,
I agree. But, as you put it, at least it satisfies the bare min requirement.
As far as this issue goes, I suggest closing it.
Would you be ok to close it (with reservations)?

[2017-07-26 16:56] niv commented on #4630
Sure. :)

[2017-07-26 16:56] #4630 closed, assigned to ebozduman

[2017-07-26 19:15] kyleburnett opened #4727 "completeMultipartUpload completes the upload but reports NoSuchKey error"
## Expected Behavior
Theoretically, the test.js file in the gist provided should run forever.

## Current Behavior
However, eventually it outputs the following error:

[code]

The completeMultipartUpload call appears to fail, but when I try to "head" the object, it says it exists, which leads me to believe that completeMultipartUpload was successful after all.

## Steps to Reproduce (for bugs)
Her

[2017-07-26 21:38] aead opened #4728 "XL: put multipart does not split parts on server"
In PutObject the minio server splits the object into chunks to reduce the latency (time-to-first byte) for reading. This is not done for PutObjectPart. So it's possible that a client sends 5GB as first part and then a few KB as second part. Reads on the first part will have a high latency.

## Expected Behavior
PutObjectPart should split the object part into chunks like PutObject

## Current Behav

[2017-07-26 21:41] harshavardhana commented on #4727
Can you use the latest release @kyleburnett and let us know?

[2017-07-26 21:57] deekoder commented on #4681
@adevress - we will have a discussion and update this thread. There are a few moving parts to consider before taking on this feature and doing it right. So give us some more time to get back to you about this.

[2017-07-27 17:18] deekoder commented on #4717
Can we remove the check on max limit check?

[2017-07-27 17:42] kyleburnett commented on #4727
I just used the latest version. Here is the `minio version` info:
[code]

Same result.

[2017-07-27 18:38] nitisht commented on #4675
There was an issue with the previous image, sorry for the confusion. Can you pls try `nitisht/minio:inode3` instead and let us know the server log as well.

[2017-07-27 18:44] rishka commented on #4675
Still goes into a crash loop
[code]

[2017-07-27 18:53] nitisht commented on #4675
Thanks @Rishka . Let me get back to you on this

[2017-07-27 18:58] brendanashworth commented on #4727
@kyleburnett I think the issue lies in your test case. I can confirm the error happens on my machine, but for me it's gone in [this cleaned up test case](https://gist.github.com/brendanashworth/dc35a9286f4bf58c65840a4a029ceb4f). Does this work for you? I just cleaned up the promise code and removed the `this` bindings.

[2017-07-27 20:06] kyleburnett commented on #4727
I updated [my test case](https://gist.github.com/kyleburnett/bb85c386162e2a32c6d092f7898ea6a4) to look more like yours with one difference in particular that I hope will help illustrate why I'm seeing this issue. The parts that are prefixed with "Setup:" are just setting things up. These are the calls to create the multipart upload and upload the data in a single part. For my case, these calls are

[2017-07-27 21:46] brendanashworth commented on #4658
Here's a list of common culprit files:

- [x] ~~[`cmd/posix.go`](https://github.com/minio/minio/blob/ec5293ce29ef03726c7174d9e3304bc156259c4e/cmd/posix.go#L95) ([example](https://codecov.io/gh/minio/minio/pull/4695/src/cmd/posix.go#L95))~~ https://github.com/minio/minio/commit/28bc5899fdea9dd433c10ae480320c58ea48f093
- [x] ~~[`cmd/fs-v1-helpers.go`](https://github.com/minio/minio/blob/ec5293ce29ef

[2017-07-28 00:45] fwessels commented on #4712
Minio is designed to scale with multiple instances instead of one single instance that scales "infinitely" which is even a bad design choice for Amazon S3 as they recommend to create multiple buckets over time and spread out your data.

Therefore it is a good design choice to store the bucket name somewhere in your application stack like in a database or key value store (and tie the bucket name to

[2017-07-28 01:21] #4690 closed, assigned to harshavardhana

[2017-07-28 01:41] brendanashworth commented on #4727
Thank you @kyleburnett for the clarification. I can confirm this is a bug. Under certain conditions, a `CompleteMultipartUpload` request will return an error after failing through [this code branch](https://github.com/minio/minio/blob/ec5293ce29ef03726c7174d9e3304bc156259c4e/cmd/fs-v1-multipart.go#L897-L899). It is [not covered](https://codecov.io/gh/minio/minio/src/ec5293ce29ef03726c7174d9e3304bc

[2017-07-28 08:19] listeng commented on #4712
Thanks for @fwessels . I have some questions. When we use AWS S3, we don't need to care about the free space, just save/delete objects on it.

On Minio, once that disk space is filled up and we run another instance of Minio, but the old instances still will delete some files so that new file could be store on it.  So, if the web application store file on many Minio instance, how the application kn

[2017-07-28 10:29] liuxuan30 opened #4731 "minio return `SignatureDoesNotMatch` error when trying to upload large file using iOS AWS SDK 2.5.8"
minio return `SignatureDoesNotMatch` error when trying to upload large file using iOS AWS SDK 2.5.8 in Objective-C
## Expected Behavior
upload success and signature verify pass
## Current Behavior
The file upload requests returns status 200, for each part number.
However, when start verifying, it return SignatureDoesNotMatch

### Request header for signature verify:
[code]
### response:
[code]

##

[2017-07-28 10:57] liuxuan30 commented on #4731
## Update:
I followed https://github.com/minio/minio/issues/4039, and run minio at port 80, still, it does not work.

minio server is running at http://192.168.1.198, port should be 80.

full charles log:
[charles_80_fail.chls.zip](https://github.com/minio/minio/files/1182793/charles_80_fail.chls.zip)

as a compare, I tested a small file, which is 4M, it can upload successfully without issue.
char

[2017-07-28 12:06] kyleburnett commented on #4727
Thanks @brendanashworth for investigating this. For now, would a safe workaround be to perform a headObject call to check that the object exists? In other words, if `completeMultipartUpload` throws a 'NoSuchKey' error, I would call headObject. If the object exists, I ignore the error and move on.

Something like this:
[code]

[2017-07-28 12:46] nitisht commented on #4724
@jfusterm you need pass the arguments like this :

For `--address`

[code]

For `--config-dir` or `-C`

[code]

[2017-07-28 14:25] liuxuan30 commented on #4731
I upload a test demo app for iOS (Xcode 8.3) https://pan.baidu.com/s/1hsGc0rM

[2017-07-28 16:24] brendanashworth commented on #4727
@kyleburnett that should be ok as long as you're not editing the same object in between, i.e. triggering a race condition. I'll try and see that this is fixed soon though.

[2017-07-28 16:51] harshavardhana commented on #4731
have you tried this @liuxuan30 - https://github.com/minio/cookbook/blob/master/docs/aws-sdk-for-iOS-with-minio.md ?

[2017-07-28 16:58] nitisht commented on #4675
@Rishka `int64` overflow caused negative values, causing a check to fail. We have fixed it, can you please try this, `nitisht/minio:inode4`

[2017-07-28 17:09] fwessels commented on #4712
Typically we do not see a lot of "delete" intensive workflows and people just want to store data for longer periods of time.

The S3 API does not have a "free space" function so we cannot provide the information to the clients.

However you could periodically run a program to poll the free disk space on a server and save it somewhere in your application stack/orchestration software. That way you k

[2017-07-28 18:24] pintookhara opened #4732 "Setting reverse proxy with IIS web server does not work"
Setting up minio with IIS reverse proxy does not work.

## Expected Behavior
Client requests should be redirected to minio with URL rewrite setup in IIS

## Current Behavior
IIS is expecting minio to be under inetpub/wwwroot folder causing 404 error

## Possible Solution

## Steps to Reproduce (for bugs)
Setup reverse proxy in IIS using steps in the link below
[https://weblogs.asp.net/owscott/crea

[2017-07-28 21:15] ebozduman commented on #4643
Deepa,
This task is done and the gist doc is at:
https://gist.github.com/ebozduman/98e258acea7a9e255010e0b9d45a6fb7

ab and I discussed it and went over the doc and information and decided `bone` to be the mux we will be replacing `gorilla` mux with.

[2017-07-28 21:20] #4643 closed, assigned to ebozduman

[2017-07-28 22:03] liuxuan30 commented on #4731
@harshavardhana No, it does not work.

Actually, your mentioned function is not getting called at all. Please check my full charles log you can see the uploading requests are fine. But after uploading requests finished, there are more requests sent and failed.

Instead, it's calling:

 not

                  credentials:(AWSCredentials *)credentials

why it's `signRequestV4` rather than `signS3Req

[2017-07-28 22:18] liuxuan30 commented on #4731
Another thing to heads up is, I tried both server 192.168.100.8:9000 and 192.168.100.8 without port (sorry I am at home right now so the IP changed), it both fails for the same reason. So I think it's irrelevant to port issue?

I also tried to modify S3 SDK to append port after host like below but does not help as well
[code]

Right now minio server is black box to me as I don't know which part go

[2017-07-28 22:38] harshavardhana commented on #4731
Unless port is included in the canonicalRequest its not a problem with or without.

This is not a problem we will work on it and fix it if there is an interaction issue.  Thanks for putting up the project and doing the hard work here - really appreciate your help.

This seems a new interaction bug perhaps same type of fix is required. Can you use simple PutObject instead of multipart operation for

[2017-07-29 00:05] krishnasrinivas commented on #4731
Also `SignedHeaders=host;user-agent;x-amz-date` S3 docs say that user-agent should not be signed. But it does not seem to cause this bug because on the server side we include user-agent for signature calculation if it is part of SignedHeaders list.

[2017-07-29 00:10] harshavardhana commented on #4731
The previous PR we sent is still not accepted and there are perhaps more issues.. @krishnasrinivas

[2017-07-29 00:41] krishnasrinivas commented on #4731
Another weird thing to note is:
[code]

This is not the sha256 of the body of `<CompleteMultipartUpload>...</CompleteMultipartUpload>`

Also in canonical request:
[code]

Instead of 83eb01962d21e7183915f8632ce87f858f8b9ee2d44f0c708c0fabbea4e381a7 it should use e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855 as the request does not contain the http header X-Amz-Content-Sha256

[2017-07-29 11:12] liuxuan30 commented on #4731
@krishnasrinivas `83eb01962d21e7183915f8632ce87f858f8b9ee2d44f0c708c0fabbea4e381a7` maybe comes from different request on my home mac, body could be different, sorry if any misunderstanding.

Are you able to run the iOS app demo? Or any chance you are familiar with Objective-C? You can then add break points to print anything you want.
This is the code calculating `contentSha256`:
[code]
it's doing

[2017-07-29 11:21] liuxuan30 commented on #4731
@harshavardhana

For small files I could change `AWSS3TransferManagerMinimumPartSize` to 20M or whatever within the iOS memory limit, but for files like 100M or even 1G+ then we have to use multi part upload. We have files that large, so can't only use put.

I wish you have hands on experience for Xcode or Objective-C, so you can directly add breakpoints and point out all values that are used to h

[2017-07-29 13:02] funkypenguin opened #4733 "Free inode check breaks functionality on cephfs volumes"
As described at https://github.com/gliderlabs/docker-alpine/issues/317, I'm bind-mounting /export on a docker container to a filesystem mounted via cephfs. In this instance, inodes are irrelevant, and df -i looks either like this:

[code]

Or, with the addition of coreutils, like this:

[code]

## Expected Behavior

When a filesystem does not use inodes, don't bother checking for free inodes on up

[2017-07-29 21:45] harshavardhana commented on #4733
We are planning to fix it.. duplicate of #4675 feel free to close this @funkypenguin

[2017-07-29 23:11] funkypenguin commented on #4733
Thanks, will keep an eye on #4675 instead ;)

[2017-07-29 23:11] #4733 closed, assigned to nobody

[2017-07-30 03:02] listeng commented on #4712
Thank, it's clear to me now.

[2017-07-30 03:02] #4712 closed, assigned to fwessels

[2017-07-30 13:46] zivgabel opened #4734 "File expiration support"
Hi,
Is it possible to set an expiration date to a file/bucket.
I mean that if I set the expiration for a file to a specific date, the file will be removed from the server at that time.

[2017-07-30 15:23] vadmeste commented on #4734
@zivgabel hey, Minio doesn't support that feature.

You can join us here https://slack.minio.io if you have any additional questions.

[2017-07-31 04:14] jfusterm commented on #4724
Ouch, I've totally missed it. Now it's working fine.

Thanks @NitishT

[2017-07-31 04:14] #4724 closed, assigned to harshavardhana

[2017-07-31 05:55] krishnasrinivas commented on #4698
There is no time frame right now, it is in very early/design stage.

It is possible to make it work but would advise against it. But note that there will be multiple layers of abstraction. Minio on top of XFS on top of VMDK on top of VMFS(?) on top of RAID on top of Disks.

Yes you can use Minio without erasure. You can use minio like `minio server /mnt/export` and /mnt/export can have highly avai

[2017-07-31 06:18] malejpavouk commented on #4698
I have probably asked too vaguely, because according to docs the erasure will kick in automatically for distributed minio (your answer addresses single node setup).

So better wording of the question is: _Is it possible to run distributed Minio (HA mode) and have erasure disabled?_

[2017-07-31 06:45] Darkknight33 opened #4737 "Healthcheck TLS error"
When accessing Minio docker instance configured for TLS directly via IP of the host, healthcheck fails with following error message:

time="2017-07-31T06:34:53Z" level=error msg="Error in reading from new TLS connection 192.168.0.199:60697 at server 172.17.0.3:9000" cause=EOF source="[listener.go:170:github.com/minio/minio/pkg/h                             ttp.(*httpListener).start.func2()]"

## E

[2017-07-31 06:45] krishnasrinivas commented on #4698
Distributed minio comes with erasure, yes.

No. What might probably interest you is https://github.com/minio/mnm It is a small program and hence it can be customized to your needs.

[2017-07-31 07:17] liuxuan30 commented on #4731
## New update
I managed to run minio from source code and add some logs to print out the strings to sign.

It turned out that the `contentSHA256` is not correct.

On iOS, it's using HTTP body to generate:
[code]
These requests have body `<CompleteMultipartUpload>...</CompleteMultipartUpload>` can generate unique `contentSha256`
However in minio, it is using
[code]
I don't know why but `X-Amz-Conte

[2017-07-31 07:54] malejpavouk commented on #4698
Thanks for your answers!

[2017-07-31 07:54] #4698 closed, assigned to krishnasrinivas

[2017-07-31 07:59] krishnasrinivas commented on #4731
@liuxuan30 can you check if this works with ios-sdk? https://github.com/krishnasrinivas/minio/tree/ios-signature-check

[2017-07-31 13:10] ws141 opened #4738 "Int overflow in TestListObjects on 32-bit systems"
When running the tests on a 32-bit system I end up with a int overflow.

## Expected Behavior
Test shouldn't fail even if ran on a 32-bit systems.

## Current Behavior
Currently I end up with the following behaviour when running the TestListObjects test.

[code]

This occurs due to the fact that the maxKeys property is defined as an int and the values that are being sent in are bigger then a 32-bi

[2017-07-31 13:15] donatello commented on #4738
Thank you for the bug report!

We will fix the tests to not overflow the int type. The max-keys parameter of the API cannot exceed 1000 according to the spec. So such large numbers should not be used in tests too.

[2017-07-31 16:51] vadmeste commented on #4665
## upload-perftest
### go 1.8
[code]
### go 1.7
[code]

[2017-07-31 16:57] donatello commented on #4665
I think the test should run a longer period - like 10 minutes or so.

[2017-07-31 17:04] vadmeste commented on #4665
yes @donatello, the thing is that I tested it many times and I had similar results, but running it for a longer time will make more sense as you said

[2017-07-31 20:22] vadmeste commented on #4665
[code]

### go 1.8
[code]

### go 1.7

[code]

[2017-07-31 21:27] vadmeste commented on #4665
Parallel put objects

[code]

### go 1.8
[code]

### go 1.7
[code]

[2017-07-31 21:47] vadmeste commented on #4665
Parallel get objects

[code]

### go 1.8
[code]

### go 1.7
[code]

[2017-07-31 23:23] brendanashworth commented on #4727
I've found the fix, and it will find its way into the code base soon. Here's a paste of the cause of the issue, for what its worth:
[code]

[2017-08-01 00:46] liuxuan30 commented on #4731
@krishnasrinivas looks like it's working, cheers!

[code]

[2017-08-01 02:15] krishnasrinivas commented on #4731
@liuxuan30 this is a bug in IOS SDK, this AWS Signature V4 spec http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html says:

[code]

i.e x-amz-content-sha256 is mandatory.

Your earlier observation is also correct regarding:
[code]

i.e it is calling signRequestV4 instead of signS3RequestV4.
signRequestV4 does not add x-amz-content-sha256 header but signS3RequestV4 does.

Ca

[2017-08-01 05:39] liuxuan30 opened #4745 "unexpected directory layout when running from source code"
I want to run it from the source,

I create my directory like:
[code]
![golang](https://user-images.githubusercontent.com/4375169/28810945-ec42164c-76be-11e7-98cc-2c1b8236b790.png)

but it throws errors:
[code]
when launching.

## Expected Behavior
minio should start correctly

## Current Behavior
[code]
## Possible Solution
No idea

## Steps to Reproduce (for bugs)
same as above

## Context
GOROO

[2017-08-01 06:48] harshavardhana commented on #4745
@liuxuan30 go tooling doesn't allow the code to built in this manner - release tarballs are just for placeholder only either use the binary directly or if you wish to build it from source please follow following  instructions, it is expected that GOPATH is set and you have Go installed properly by now.

[code]

Also curious why do you wish to run it from source @liuxuan30 ? what purpose does it so

[2017-08-01 07:04] harshavardhana commented on #4640
why is this still blocked?

[2017-08-01 07:11] harshavardhana commented on #4494
Re-opening this bug as re-surfaced with a newer log message. We need to fix this properly.  // cc @abperiasamy

[code]

[2017-08-01 07:12] harshavardhana commented on #4670
We have made a recent release @wdimd @Vesnica can you guys give it a try and let us know if you still face the same issues?

[2017-08-01 07:15] harshavardhana commented on #4726
@jfusterm have you uploaded your CA certs inside `/.minio/certs/CAs` directory? - this is needed for rpcClients to communicate with your other minio rpc servers? only CA needs to be kept in this directory.

Quoting the doc here https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls

[2017-08-01 07:16] harshavardhana commented on #4533
Is this bug still needed? there are other bugs which are superseding this related to `.minio.sys` deprecation and removing fcntl locks // cc @krisis @krishnasrinivas

[2017-08-01 07:18] balamurugana commented on #4494
@harshavardhana on what operation do you see such messages? and why is the client opening/closing connections to the server?

[2017-08-01 07:22] harshavardhana commented on #4494
For all browser tab open and close. @balamurugana

[2017-08-01 07:24] harshavardhana commented on #4494
NOTE: Configure your server with TLS certs as well..

[2017-08-01 08:43] Vesnica commented on #4670
@harshavardhana Should I use latest or edge?

[2017-08-01 08:58] harshavardhana commented on #4670
`docker pull minio/minio:latest` is fine or the latest tag `docker pull minio/minio:RELEASE.2017-07-24T18-27-35Z`

[2017-08-01 11:39] Vesnica commented on #4670
Using minio/minio:latest, cluster on 3 physical node, client on another physical node, 300M test file:
[code]
Web UI check is ok, but node who serve the client produce following error:
[code]
Will test edge next @harshavardhana

[2017-08-01 11:59] Vesnica commented on #4670
Using minio/mino:edge, cluster on 3 physical node, client on another physical node, 300M test file:
[code]
Web UI check is ok, but node who serve the client produce following error:
[code]
@harshavardhana

[2017-08-01 13:09] rishka commented on #4675
It starts, but trying to visit the browser fails with:
[code]

[2017-08-01 13:47] nitisht commented on #4675
Thanks for helping us on this @Rishka , will get back to you on this error you got.

[2017-08-01 14:40] ckuetbach opened #4746 "When calling a presigned url as HEAD request, the overwritten headers are not set"
There is a difference between GET and HEAD, regarding the feature "ResponseHeaderOverride" for Presigned Urls

## Expected Behavior
If I use the same Presigned URL configuration for GET and HEAD, there should be the same header on response for GET and HEAD. See [RFC](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4)

## Current Behavior
The ResponseHeaderOverrides are missing.

## Pos

[2017-08-01 15:03] #4614 closed, assigned to deekoder

[2017-08-01 15:15] kyleburnett commented on #4727
Thanks, @brendanashworth, I'm looking forward to the fix.

This is a awesome project - keep up the great work!

[2017-08-01 15:59] pun4drunk commented on #2796
mounting a volume with subfolders automatically creates bucket(s) for you, works like a charm
[code]
Thank you @KanybekMomukeyev

[2017-08-01 16:25] nlowe commented on #4681
Would it be theoretically possible to do this at a reverse proxy (a la `nginx`)?

[2017-08-01 16:33] rmb938 commented on #4681
You can do it with nginx but the s3 protocol doesn't like url rewrites.

[2017-08-01 16:46] harshavardhana commented on #4675
This error can be ignored @Rishka - this happens due to a wrong log message.

[2017-08-01 16:47] harshavardhana commented on #4675
Do you have problems writing files @Rishka ?

[2017-08-01 16:50] rishka commented on #4675
No, it looks like it just had not started the ui yet. Everything appears to be working

[2017-08-01 16:55] harshavardhana commented on #4675
Okay understood.

[2017-08-01 16:59] harshavardhana commented on #4670
@Vesnica two questions

- The test uploading 300M file client does it close the connection?
- The errors reported after you closed the browser tab after using the browser UI?

The error messages above are expected right now we are fixing these frivolous messages in #4494 . Do you have any i/o errors or errors uploading file to server? if its not the case then i think you don't have any problems.

[2017-08-01 17:44] adevress commented on #4681
Using a proxy or doing any path rewrite cause issue with the S3 auth system.

[2017-08-01 18:02] krisis commented on #4732
@pintookhara is IIS expecting the minio binary to be present under inetpub/wwwroot folder?
Have you considered using nginx on Windows for the same purpose? You can find more information on setting up a reverse-proxy using nginx here - https://docs.minio.io/docs/setup-nginx-proxy-with-minio

[2017-08-01 18:05] harshavardhana commented on #4681
DNS style bucket naming requires manual intervention on the part of user, IMO this defeats the simplicity we are aiming for with Minio.  Minio is simple enough to deploy and forget with no more additional DNS entries to be made, /etc/hosts to managed (NOTE: which all will require root access on the host system). Not just that each bucket needs to be resolvable to the host system through DNS and pr

[2017-08-01 18:16] rmb938 commented on #4681
@harshavardhana I do agree in keeping Minio simple, it is pretty easy to get up and running without any manual steps.

However for "public" buckets it is nice to have custom/vanity dns names that are user facing. i.e for static websites.

One idea would allow the bucket to have an optional setting for a dns name and it would be up to the deployer to put a nginx proxy with the correct settings infr

[2017-08-01 19:38] adevress commented on #4681
The only real mandatory user intervention is to add a "wildcard" DNS entry to the minio server. This is travial to do with most DNS provider nowadays, and not more complicated than a "standard" A entry which need anyway to be done for any decent usage.

I don't think you need to manage /etc/hosts nor root access to simply get the server name. A simple  config parameter will do the job.

It is not

[2017-08-01 20:12] harshavardhana commented on #4681
We could potentially leverage DNS wildcard here but we would need to provide this like an optionally configured behavior, only available when you have a fully qualified DNS provider and a resolvable DNS pointing back to the server where minio is running or proxy.

Additional problems you might have to know is that if you have a TLS requirement (which is probably the case here with publicly facing

[2017-08-02 02:12] deekoder commented on #3835
Since #4141 is owned by @brendanashworth  assigning this also to @brendanashworth

[2017-08-02 02:14] deekoder commented on #4705
@benfab  we will close this issue. If you think its still reproducible please don't hesitate to reopen it and we can look into it.

[2017-08-02 02:14] #4705 closed, assigned to donatello

[2017-08-02 02:19] balamurugana opened #4748 "Closing browser tab should warn user about background activity"
Based on https://github.com/minio/minio/issues/4670 and https://github.com/minio/minio/issues/4494, Closing browser tab should warn user about background activity like GMail.  Currently it causes unexpected EOF on client connections at server side .

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Ve

[2017-08-02 05:11] Vesnica commented on #4670
@harshavardhana My test code can be found in the previous post, which use 1 connection for all the upload. Can you kindly point out which part I should modify to close the connection gracefully? minioClient didn't have any Close method.

I can perform the test after the code is modified, and this time I won't access the web ui, to exclude the errors caused by it.

[2017-08-02 06:25] harshavardhana commented on #4670
Sure thanks @Vesnica . You just have to close the response body after the API operations . If you are uploading you don't need to do anything. You should be good to test without using the webUI just to see if there are any errors generated.

[2017-08-02 06:41] Vesnica commented on #4670
Using minio/mino:edge, cluster on 3 physical node, client on another physical node, 300M test file, no webUI access. The node (10.62.88.176) who serve the client(10.62.88.60) generate following errors immediately when the test start:
[code]
After a few seconds, additional error pops:
[code]
Test complete, no more errors are produced:
[code]
@harshavardhana

[2017-08-02 06:59] Vesnica commented on #4670
Using minio/mino:latest, cluster on 3 physical node, client on another physical node, 300M test file, no webUI access, and this time I deliberately choose another server node(10.62.107.222) to serve the client(10.62.88.60), but the results are similar: server node generate following errors immediately when the test start:
[code]
After a few seconds, additional error pops:
[code]
Test complete, no

[2017-08-02 07:22] harshavardhana commented on #4670
Okay now i have a theory on why this is happening. @Vesnica what is your network connection link between server and client? can you provide some `iperf` numbers?

[2017-08-02 07:35] Vesnica commented on #4670
3 server node is：10.62.107.222, 10.62.107.223, 10.62.88.176
1 client node is: 10.62.88.60

10.62.88.60 -> 10.62.107.223:
[code]
10.62.88.60 -> 10.62.107.222:
[code]
10.62.88.60 -> 10.62.88.176:
[code]
10.62.107.222 -> 10.62.107.223:
[code]
10.62.88.176 -> 10.62.107.223:
[code]
10.62.88.176 -> 10.62.107.222:
[code]
@harshavardhana

[2017-08-02 08:24] harshavardhana commented on #4670
The above numbers indicate the client to server bandwidth to be effectively 100Mb/sec i.e approx 12.5Mbytes/sec - this is given a single client is transferring to server. Now if you use concurrently 10 connections it would mean you are theoretically using 1MBytes/sec. It means that you if were uploading objects of size 1MB - you would saturate the network at 10 concurrent routines.  In your case c

[2017-08-02 08:50] harshavardhana commented on #4670
You should also NOTE that `minio-go` internally is using 3 workers per object to upload to object storage server. So in essence you are having 30 concurrent uploads - your network is not capable of handling this load and can lead to several such i/o timeout errors due to the fact that server will close the connection if no data-received for 30secs.

[2017-08-02 09:19] Vesnica commented on #4670
I modified test code to allow control the max concurrent upload and target ip, like this:
[code]
And after some tests, it seems that 6 is the magic number, server won't report any error when `-max = [1~5]`, but it will produces following errors when `-max >= 6`, even if the test file size is 65M
[code]
In my opinion, there are two possible causes of this phenomenon：
1. minio server(or minio-go cli

[2017-08-02 09:32] harshavardhana commented on #4670
You might have to profile the code using pprof to see where its starving. But i can do this investigation myself, i can reproduce this issue locally with 50+ go-routines (SSD).

[2017-08-02 11:49] Notespeak opened #4750 "s3ql implementation with minio"
Hello. I am trying to mount a minio bucket via s3ql. Unfortunately I am stuck at "Mounting filesystem....." . This (possibly bug) is easily reproducible and I got the same error 5 times in a row, both on google cloud and home lab.
The steps are
-  `sudo apt-get install s3ql`
- `mkfs.s3ql --backend-options no-ssl s3c://ip:9000/bucket`
- `mount.s3ql  --backend-options no-ssl s3c://ip:9000/bucket /va

[2017-08-02 17:15] deekoder commented on #4748
@balamurugana  i assume this is for the error message printed on the server. However I am not sure how you want to tell the user about the background processes running when they close the browser. Couldnt we simple stop the background activity if they decided to close the tab. I think we can take the tab closure as an intent to close background processes?

[2017-08-02 17:28] deekoder commented on #4734
@zivgabel closing this issue. Please let me know if we can address this further. Feel free to reopen if you think Minio must address this.

[2017-08-02 17:28] #4734 closed, assigned to vadmeste

[2017-08-02 17:51] balamurugana commented on #4748
@deekoder I think we would need to do exactly what GMail handles this case.

[2017-08-02 17:57] deekoder commented on #4748
Can you elaborate how gmail handles it. Is there a warning pop up on the ux for eg?

[2017-08-02 17:59] balamurugana commented on #4748
Yes. GMail shows warning popup about background tasks on tab closing.

[2017-08-02 21:37] krisis commented on #4713
Minio server may format the disk on the first run before successfully listening on a given port. This doesn't affect correctness. On restart, when the port becomes available, minio server would function as expected with no loss of functionality or data. So, this is not an issue. @harshavardhana you could close the issue if you agree with the reasoning.

[2017-08-02 22:18] #4721 closed, assigned to ebozduman

[2017-08-02 22:34] harshavardhana commented on #4713
Agreed closing this. @krisis

[2017-08-02 22:34] #4713 closed, assigned to krisis

[2017-08-02 23:12] krisis commented on #4748
@balamurugana what is the background task in the case of minio browser?

[2017-08-03 00:09] deekoder opened #4754 "Enable grid view on new ux browser"

[2017-08-03 00:12] deekoder opened #4755 "Redo policy setting in new ux browser."
Right now there is below each bucket read & write with another edit policy. Compact this to a single mechanism if possible.
There must be a way of visually inferring what policy is currently applied for each bucket.
There must be a way to edit and change the policy. Could there be any alternatives to the popup and keep it easier with applying the options right. The UX right now with the prefix and

[2017-08-03 00:14] deekoder opened #4756 "Document Preview for pdf, txt, docs, all other files"
Need to figure out how the users can articulate what a doc, pdf, text, rtf files have in them without having to download them.

[2017-08-03 00:20] deekoder opened #4757 "Explore Video Preview in the new browser"
If files are of media type video, explore how we can show a video preview. The preview must play the video and must visually help the user comprehend if they want to download the file.

[2017-08-03 01:23] liuxuan30 commented on #4745
I just want to use Gogland to debug minio :) e.g. add break points
And it turned out Gogland debugger might have issue even I run from source.. the break point does not works well

Feel free to close this, thanks!

[2017-08-03 01:32] liuxuan30 commented on #4731
Filed one. However, what confuses me is that, when use multi upload to AWS S3, it works without problem. Why Amazon S3 server works though..

[2017-08-03 02:01] balamurugana commented on #4748
@krisis I don't know.  If you see issues https://github.com/minio/minio/issues/4670 and https://github.com/minio/minio/issues/4494, closing browser tab causes EOF client connections (continuously).  This is clear evidence that browser is doing some tasks.

[2017-08-03 02:10] deekoder commented on #4748
BTW that happens for me even without closing the browser.

[2017-08-03 08:12] adevress commented on #4681
It is for this reason that the official S3 has a rule for that
"_When using virtual hosted–style buckets with SSL, the SSL wildcard certificate only matches buckets that do not contain periods. To work around this, use HTTP or write your own certificate verification logic. We recommend that you do not use periods (".") in bucket names. "_

I personnally think you should not see it as a feature to

[2017-08-03 08:47] harshavardhana commented on #4681
Yes correct i do know why it doesn't work - you should look at makeTargetURL() code on how minio-go handles for all S3 endpoints and providers intelligently based on all the current restrictions.  This is the whole reason to implement our own SDKs since AWS SDKs do a poor job at automatically managing these gritty details.

This is an incorrect assessment i couldn't find anywhere that is listed as

[2017-08-03 09:12] harshavardhana commented on #4745
Thanks @liuxuan30

[2017-08-03 09:12] #4745 closed, assigned to harshavardhana

[2017-08-03 09:13] harshavardhana commented on #4731
Amazon S3 is notorious in not following their own spec @liuxuan30

[2017-08-03 12:01] jfusterm commented on #4726
Hi @harshavardhana , that did the trick but this part of the doc got me confused.

I concatenated at first both the certificate and the CA into the `public.crt`, getting the error, but putting the CA under `CAs` and keeping just the certificate as `public.crt` worked.

Thanks for your help.

[2017-08-03 12:01] #4726 closed, assigned to harshavardhana

[2017-08-03 12:27] rolandrajko opened #4761 "Failed to lookup minio1 on Docker Swarm"
Hi,

I would like to deploy a Minio stack on Docker Swarm, but I have got only the following message every time: `Failed to resolve hosts... Failed to lookup minio1`

## Expected Behavior
I followed your instructions in [docs/Deploy Minio on Docker Swarm](https://docs.minio.io/docs/deploy-minio-on-docker-swarm), and read the article [The complete guide to attach a Docker volume with Minio on your

[2017-08-03 12:44] nitisht commented on #4761
@rolandrajko can you please attach the complete `docker-minio.yml` you are using. It may help identifying the issue

[2017-08-03 12:59] rolandrajko commented on #4761
[code]
The `ntw_minio` network itself was created by:
[code]

[2017-08-03 13:10] nitisht commented on #4761
Thanks! Let me get back to you on this

[2017-08-03 17:55] nitisht commented on #4761
@rolandrajko can you pls change network to

[code]
and then run `docker stack deploy -c docker-minio.yml minio_stack` without creating the network yourself.

[2017-08-03 18:03] #3966 closed, assigned to krisis

[2017-08-03 18:56] rolandrajko commented on #4761
I got the same result:
[code]
By `docker service ps --no-trunc minio_stack_minio1` the exact error is:
[code]

[2017-08-03 22:37] brendanashworth commented on #4748
I'm looking into the issue. This only happens when using chrome.

[2017-08-03 22:40] harshavardhana opened #4763 "gateway: Bucket policies set from webUI are not honored on Browser"
All gateway backends honor the minimum requirement of atleast read-only policy, if a user tries to the reach the URL directly from the browser for any gateway backend should work. i.e it should listObjects and objects should be downloadable.

This should work for Azure, S3 backend properly. GCS currently doesn't work properly due to bucket policy implementation issue.

## Expected Behavior
Works p

[2017-08-03 23:16] brendanashworth commented on #4748
There are two issues here. The first is closing the browser when backgrounds tasks are occurring. This is separate from the "Error in reading from new connection" error in https://github.com/minio/minio/pull/4762. The following explanation is for the "reading from new connection" bug.

I believe the "issue" here is that Chrome is opening up connections pre-emptively, so as to make connecting to th

[2017-08-03 23:26] krishnasrinivas opened #4764 "Exit during boot-up in case of cross device buckets"
The issue is explained better in free form rather than issue template.

Currently if a bucket is a mount point, rename from `.minio.sys/tmp` to the bucket will fail with error EXDEV (Invalid cross-device link) Hence PutObject will fail during runtime.

Hence during bootup we should check if any of the bucket's `st_dev` obtained from the stat() syscall is different from the export directory. If any

[2017-08-04 01:38] aead opened #4765 "gateway: MaxIdleConns is not configured"
In gateway-mode minio does not set the transport configuration. The server uses the client side functionality to talk to the GCS/Azure/S3 but does not configure the http.Transport settings (MaxIdleConns).

## Expected Behavior
Minio server sets transport configuration

## Current Behavior
Minio server does not set transport configuration

## Possible Solution
Use client side config in server

[2017-08-04 01:44] samluthebrave opened #4766 "Bucket URI conflicts with login page's URI when named 'login'"
URI of bucket named 'login' and URI of login page are identical, making the bucket unaccessible.

## Expected Behavior
Any successfully created bucket can be accessed.

## Current Behavior
You can successfully create a bucket named 'login', and it does appear on the sidebar, but click on it won't jump into it.

## Possible Solution
Change login URI or reserve name 'login' from bucket creating.

##

[2017-08-04 03:19] nitisht commented on #4675
Fixed by #4747

[2017-08-04 03:19] #4675 closed, assigned to nitisht

[2017-08-04 03:20] nitisht commented on #4737
Fixed by https://github.com/minio/minio/pull/4740

[2017-08-04 03:20] #4737 closed, assigned to nitisht

[2017-08-04 06:00] nitisht commented on #4761
The error `dockerexec: unhealthy container` makes me think this is related to this issue https://github.com/moby/moby/issues/26498

Essentially, Swarm thinks container is unhealthy and kills it before the application starts properly. Can you please try https://github.com/moby/moby/pull/28938#issuecomment-301736698

I mean use the `docker service create` command you used earlier and then add the `-

[2017-08-04 07:53] rolandrajko commented on #4761
1. Updated the Docker: `Docker version 17.06.0-ce, build 02c1d87`
2. Created an overlay network: `docker network create -d overlay --attachable ntw_minio`
3. Created the service:
[code]
4. Got the well known messages:
[code]
Otherwise if I run the following command, everything is fine:
[code]
Can I try to set anything else?

[2017-08-04 10:04] christopherobin opened #4769 "Create default buckets via environment variables in docker"
I am using minio mainly has a throwaway cache for GitLab CI runners, the container is living as a docker service in a swarm cluster and may at any point be restarted on another machine, since it is used only as a cache setting up distributed storage for persistence seems overkill.

The issue I'm running in is that on restart my bucket will be gone, preventing new CI jobs from creating cache entry,

[2017-08-04 11:12] vadmeste commented on #4769
I guess that you are running Minio in standalone FS mode.

In case of standalone FS mode,  you can create some empty directories before running Minio:

[code]

You might think this is not a clean way to do, but actually Minio FS is prepared to work the first time with existing data.

[2017-08-04 13:39] cgrabmann opened #4770 "deleting a bucket with >500 files results in an error"
## Problem
While trying to reproduce (locally) another problem I currently have, I stumbled on this one:

I create a bucket with more then 500 files and when I recursively delete the bucket through the minio-java-client or the minio-client the following errors occur.

#### Server-Error:
[code]

#### Client-Error:
[code]

#### Java-Client-Exception:
[code]

Every time this errors were observed the

[2017-08-04 14:14] vadmeste commented on #4770
@cgrabmann hey,

So you ran Minio linux docker image under Windows, mounted a directory from your local Windows and encountered this issue, right?

By the way, we have a Windows binary of Minio server (https://minio.io/downloads/#minio-server), simple to download and use, Could you test again with it ?

(you can run this `minio.exe -C c:\path\to\minio-config\ server c:\path\to\minio-data\` )

[2017-08-04 17:49] brendanashworth opened #4772 "newux: pending bugs"
This is a list of current bugs in the `newux` branch that should be resolved before it is merged into `master`.

- [ ] dropdown toggle incorrectly centers on Firefox (https://github.com/minio/minio/pull/4725#discussion_r129454604)
- [ ] dragging a file onto the dropbox and dragging it back without dropping it doesn't cancel dropzone (https://github.com/minio/minio/pull/4725#discussion_r129456188)

[2017-08-04 17:50] nitisht commented on #4761
@rolandrajko is it possible to access your setup?

[2017-08-04 17:58] krishnasrinivas commented on #4769
Mapping a host volume for persistence is not an option for you @christopherobin ?
[code]

[2017-08-04 18:20] deekoder commented on #4754
Dup of #4772

[2017-08-04 18:20] #4754 closed, assigned to rushenn

[2017-08-04 18:22] harshavardhana commented on #4769
@christopherobin alternative docker native way is to do this with `docker-compose.yml`

[code]

[2017-08-04 18:32] sebastiaanluca commented on #2541
I'm getting this error using the latest version, fresh Ubuntu VM. Anything I can provide to help debug this issue?

[code]

[2017-08-04 18:34] harshavardhana commented on #2541
Please open a new issue @sebastiaanluca .  Just provide the entire stack trace in the github issue and also your current minio version.

[2017-08-04 18:43] sebastiaanluca opened #4773 ""Invalid memory address or nil pointer dereference""
Starting the Minio server fails with a SIGSEGV exception.

## Expected Behavior

The server should start.

## Current Behavior

It doesn't 😁

Exception trace:

[code]

## Possible Solution

No idea. Just wanted to try out Minio on a local Ubuntu VM.

## Steps to Reproduce (for bugs)

[code]

## Context

config.json (keys are just random, doesn't matter I post them here):
[code]

## Your Environmen

[2017-08-04 18:55] krisis opened #4774 "TestHTTPListenerAddrs fails sporadically on travis-ci"
## Expected Behavior

Unit test must pass deterministically on all travis-ci runs.

## Current Behavior

It fails intermittently on travis-ci builds.

## Possible Solution

Not known yet

## Steps to Reproduce (for bugs)

1. Travis-CI build
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Op

[2017-08-04 18:56] harshavardhana commented on #4773
Looks like you hand wrote this `config.json` - it has missing fields perhaps this is the reason. We need to check if the `Logger` field is `nil` in migration.
[code]

Lets say if you add this part of the config it will work fine
[code]

[2017-08-04 18:57] harshavardhana commented on #4773
Also its not related to #2541

[2017-08-04 19:59] rushenn commented on #4772
@deekoder Can you please re-check the dropdown toggle issue ([#4725 (comment)](https://github.com/minio/minio/pull/4725#discussion_r129454604)). It looks fine on my end, running MacOS 10.12.5, Chrome 60.0.3112.90, Firefox 54.0.1 (64-bit) and Safari 10.1.1 (12603.2.4).

[2017-08-04 23:51] #4727 closed, assigned to brendanashworth

[2017-08-05 03:06] deekoder opened #4776 "Update Mesos and Kubernetes with latest release tags"

[2017-08-05 03:16] nitisht commented on #4776
@deekoder @krisis I have a PR pending to universe package, I will just update the version there. https://github.com/mesosphere/universe/pull/1330

[2017-08-05 07:38] brendanashworth commented on #4727
@kyleburnett the fix has landed in https://github.com/minio/minio/commit/aeafe668d8b6d25caac671d59e2b0f0473ce35d0 and will be in the next release! Thank you for reporting this.

[2017-08-05 07:47] harshavardhana commented on #4727
A new release has been made with the changes https://dl.minio.io/server/minio/release/linux-amd64/

[2017-08-05 08:00] #4369 closed, assigned to nobody

[2017-08-05 08:10] harshavardhana commented on #4770
We will look into this issue @cgrabmann . Do you have anymore further information regarding the issue?

- Can you provide us the console log for Minio?
- Any sample directory spread that reproduced it? - is it consistently reproducible?
- Can you please share the minio-java example code that was used to reproduce this?

[2017-08-05 08:12] harshavardhana commented on #4764
we shouldn't exit, we can perhaps ignore such buckets and continue with the rest? . This is almost like how we ignore `capitalized` bucket names?

[2017-08-05 08:13] harshavardhana commented on #4748
This should be fixed after #4762 merge? @brendanashworth

[2017-08-05 08:23] brendanashworth commented on #4748
Ah @harshavardhana yes that should fix the error messages. I was wrongly under the impression that this issue also dealt with warning the user if they close a browser tab while uploading a file (I think that's what was said in a meeting). This can be closed, I'll put the user warning in https://github.com/minio/minio/issues/4772.

[2017-08-05 08:24] harshavardhana commented on #4717
Fixed by

[2017-08-05 08:24] #4717 closed, assigned to ebozduman

[2017-08-05 08:25] harshavardhana commented on #4715
Fixed by

Author: ebozduman <ersan.bozduman@gmail.com>
Date:   Fri Aug 4 10:44:46 2017 -0700

[2017-08-05 08:25] #4715 closed, assigned to ebozduman

[2017-08-05 08:28] harshavardhana commented on #4748
Issue moved to #4772 - closing this bug to be handled in newux.

[2017-08-05 08:28] #4748 closed, assigned to brendanashworth

[2017-08-05 09:36] #4738 closed, assigned to donatello

[2017-08-05 10:56] cgrabmann commented on #4770
I will gather the infos on Monday when I'm back in the office.

[2017-08-05 17:16] sebastiaanluca commented on #4773
Aha, was not aware that a full configuration file was required. Thought each key was optional.

This fixes my issue. Thank you for your help!

[2017-08-05 17:16] #4773 closed, assigned to nobody

[2017-08-05 17:21] krishnasrinivas commented on #4498
## Steps to Reproduce (for bugs)

1. Start from fresh FS disk
2. Login into Minio Browser
3. Create a bucket
4. Show bucket policy popup
5. Add '*'  policy
6. Add 'foo' policy
7. Add '*' policy again
(an error popup is shown to say that the user is adding an incompatible policy rule which is correct)
8. Now remove all existing policies
9. Hide policy dialog
10. Show policy dialog  again

Here Step

[2017-08-05 18:26] vadmeste commented on #4498
Actually, AWS S3 accepts having both `*` and `foo` at the same time.

[code]

[2017-08-05 18:36] gowithplanb opened #4778 "Error while uploading: "cause=invalid argument""
While uploading files from CB clients, sometimes the occurence of the following error can be seen in the logs:

Aug  5 13:12:31 scp01 minio[2169]: time="2017-08-05T13:12:31+02:00" level=error msg="Unable to create an object. /***PATH_TO_FILE_REDACTED***" cause="invalid argument" source="[object-handlers.go:545:objectAPIHandlers.PutObjectHandler()]" stack="fs-v1.go:557:fsObjects.PutObject <autogene

[2017-08-05 21:32] harshavardhana commented on #4498
We don't support nested policies yet @vadmeste

[2017-08-05 21:33] harshavardhana commented on #4778
Thanks for opening the bug @gowithplanb we will take a look.

[2017-08-06 06:46] christopherobin commented on #4769
@krishnasrinivas not really since we run in swarm and I don't want to lock the container to a specific host
@harshavardhana Yeah, in the end I overrided the command from the `minio/minio` container and used the solution from @vadmeste for now

[2017-08-06 06:56] harshavardhana commented on #4769
Feel free to close the issue if you have no further questions @christopherobin - Thanks.

[2017-08-06 07:41] #4769 closed, assigned to vadmeste

[2017-08-06 11:29] gregorkistler opened #4779 "RELEASE.2017-08-05T00-00-53Z breaks compatibility with Harbor registry"
Hi,

first of all thanks for the instruction regarding how to use Harbor with Minio found [here](https://github.com/harshavardhana/harbor-minio) and [here](https://blog.minio.io/how-to-use-vmware-harbor-with-minio-c07a5c4ae31b).
Tried it yesterday but always ran into an issue while pushing an image. Actually it just retried the push action until it finally timed-out with message like 'received une

[2017-08-06 18:23] harshavardhana commented on #4779
Are you using TLS @gregorkistler ?  The error looks like harbor is trying to do TLS connection and Minio server is rejecting it since we stopped supporting TLS and non-TLS (by redirecting to TLS) on the same connection due to security reasons.

[2017-08-06 18:27] #4662 closed, assigned to nobody

[2017-08-06 18:27] #4663 closed, assigned to nobody

[2017-08-06 18:27] #4664 closed, assigned to nobody

[2017-08-06 18:27] #4665 closed, assigned to nobody

[2017-08-06 18:27] #4691 closed, assigned to vadmeste

[2017-08-06 18:57] gregorkistler commented on #4779
Nope, haven´t configured Minio server to use TLS - at least not in my test env.
Prod env does SSL termination at a load balancer but also no encryption regarding Minio itself.

[2017-08-07 02:57] harshavardhana commented on #4731
All other SDKs other than iOS work fine with Minio. Closing this bug as non issue for Minio is following AWS s3 spec properly.

[2017-08-07 02:57] #4731 closed, assigned to harshavardhana

[2017-08-07 03:25] harshavardhana commented on #4681
We discussed this internally and agreed to proceed on implementing DNS style bucket names

- This feature is on only when server is started with `--address <fqdn>`

[2017-08-07 07:36] harshavardhana commented on #4750
Sorry for the delay @Notespeak in reaching out.

- Can you provide us the s3ql version under use?
- Can you try again with the latest Minio server and see if the issue persists?

[2017-08-07 07:38] harshavardhana commented on #4658
Is this bug ready to be closed? @brendanashworth

[2017-08-07 07:44] harshavardhana opened #4781 "Using go-update explore/implement a self-updating minio server"
Use https://github.com/inconshreveable/go-update and explore the possibility of self updating minio server.

A sample code is here

[code]

Implementation requires two things

 - `minio update` updates itself.
 - `mc admin update` updates minio server for an entire cluster.

[2017-08-07 07:49] harshavardhana commented on #4781
Implementing through `minio update` has drawbacks but through `mc admin` API makes more sense. Requires discussion so this issue is blocked until then.

[2017-08-07 08:12] cgrabmann commented on #4770
This are the logs from a fresh docker container when executing the following 2 java classes once:
https://pastebin.com/dAkXrKC9

Java code to create the files:
[code]

java code to delete all buckets:
[code]

Here is the data directory after running the MinioDeleteBucket class:
[minio-data.zip](https://github.com/minio/minio/files/1204216/minio-data.zip)

With this it is consistently reproducible.

[2017-08-07 08:50] harshavardhana commented on #4770
Thanks @cgrabmann - we do not ship windows docker images how did you build one? are you using regular images released on `hub.docker.com` ? Can you provide following details?

- Docker version
- Windows version
- entire logs reported by minio server on the docker logs? other than the one already provided by you?
- Would you mind testing with the latest release as well? @cgrabmann ?

[2017-08-07 09:34] cgrabmann commented on #4770
since docker for windows is the same as the normal docker but uses hyperv to virtualize a linux server where itself docker is running I use the regular images from `hub.docker.com`.

* Docker version 17.06.0-ce, build 02c1d87
* Windows 10 Pro (10.0.15063 Build 15063)
* I'm not sure which other logs you are looking for, since the logs of the docker daemon only contain information about the start an

[2017-08-07 09:56] adevress commented on #4681
This feature is on only when server is started with --address <fqdn>

Awesome !

Thank you very much guys for your reactivity and your efficiency.

[2017-08-07 16:35] vadmeste commented on #4746
@ckuetbach, I sent a PR (https://github.com/minio/minio/pull/4784) but currently I only I tested against AWS SDK java

[code]

Do you think you can test on your side using this PR ?

[2017-08-07 16:46] harshavardhana commented on #4770
Thanks @cgrabmann will validate and let you know.

[2017-08-07 16:55] brendanashworth commented on #4658
@harshavardhana I'd suggest it stays open until all the tests have reliable code coverage, imo. According to my above ^ comment, when everything is checked.

[2017-08-07 18:53] harshavardhana commented on #4781
@abperiasamy indicated that we will only do `mc admin update` to avoid any accidental updates by typing `minio update`.

[2017-08-07 18:53] harshavardhana commented on #4658
:+1:

[2017-08-07 19:00] nitisht commented on #4776
sent a PR for helm chart as well https://github.com/kubernetes/charts/pull/1638

The helm chart was at older config version of minio server, so had to sent this to avoid any config mismatch issues.

[2017-08-07 19:51] harshavardhana commented on #4774
One more such occurrence  -
[log.txt](https://github.com/minio/minio/files/1205977/log.txt)

[code]

[2017-08-07 19:53] harshavardhana commented on #4533
Shall we close this? @krisis @krishnasrinivas

[2017-08-07 23:52] brendanashworth commented on #4710
After the discussion, we've decided to move to Vuejs. This can be closed.

[2017-08-07 23:59] harshavardhana commented on #4710
We can move a new issue for migration instead @brendanashworth ? and then we can close this.

[2017-08-08 05:55] ckuetbach commented on #4746
@vadmeste My Tests in C# was successful. No new Bugs were intrduced.

[code]

[2017-08-08 07:06] billschen opened #4789 "https not work for my local minio server"
Hi,I user minio in windows 7 64bit,I download minio.exe to my folder and run cmd
minio.exe server D:\miniofiles

then I open the url [http://192.168.1.149:9000/minio](http://192.168.1.149:9000/minio) and login.
then I create a bucket, I work find like:
![del_48](https://user-images.githubusercontent.com/19528399/29059970-6c08541e-7c4a-11e7-9470-2b8c0b0cdc23.png)
Next I want to switch http to https

[2017-08-08 07:07] harshavardhana commented on #4789
@billschen have you looked at https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls ?

[2017-08-08 07:10] billschen commented on #4789
@harshavardhana :+1: thank you very much! I  try right now

[2017-08-08 08:34] billschen commented on #4789
@harshavardhana . I follow the instructions :
1: create private.key
certtool.exe --generate-privkey --outfile private.key

2: edit cert.cnf
`# X.509 Certificate options
#
# DN options

# The organization of the subject.
organization = "GDGW Inc."

# The organizational unit of the subject.
#unit = "sleeping dept."

# The state of the certificate owner.
state = "GDGD"

# The country of the subject.

[2017-08-08 08:36] rolandrajko commented on #4761
Sorry, I guess I can't grant access to you, but I try to provide all the information you need.

[2017-08-08 08:39] nitisht commented on #4761
I see. We have tested Minio on Swarm and it works well, but let me try to reproduce this locally with your `.yaml` files and get back to you.

[2017-08-08 10:50] vadmeste commented on #4746
great @ckuetbach

[2017-08-08 11:07] vadmeste commented on #4789
@billschen, you should copy private.key and public.crt in .minio\certs\ and not .minio\certs\CAs

[2017-08-08 12:50] billschen commented on #4789
@harshavardhana  :  @vadmeste :+1: is the right way,the Solved my problem， I can use https now like:

![del_55](https://user-images.githubusercontent.com/19528399/29072658-26fc8850-7c7b-11e7-93f4-f4512e6dbf84.png)

so the instruction in the page [How to secure access to Minio server with TLS](https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls) my be have some mistake:
![del_5

[2017-08-08 13:12] AlViKo opened #4791 "Unable to write data to the transport connection: An existing connection was forcibly closed by the remote host."
Our customer uses Cloudberry Backup tool and trying to upload the data to the local storage, configured with Minio.
## Expected Behavior

The expected behavior is successfully uploaded data. It's Image Based Backup.
## Current Behavior

Backup interrupts on 33-36% with an error "Unable to write data to the transport connection: An existing connection was forcibly closed by the remote host."
## Pos

[2017-08-08 13:15] vadmeste commented on #4789
@billschen, "Install third-party CAs" describes how to make Minio able to connect to *other* servers and trust their self signed certificates.

[2017-08-08 13:29] billschen commented on #4789
@vadmeste :+1:  ,OK, I make a mistake thank you for your help!

[2017-08-08 13:29] #4789 closed, assigned to nobody

[2017-08-08 15:48] kyleburnett opened #4792 "listParts does not return all parts that have been uploaded"
## Expected Behavior
After a part has been uploaded, a subsequent call to listParts should provide that part in the response.

## Current Behavior
No parts are found.

[code]

## Possible Solution
This was working before the most [recent release](https://github.com/minio/minio/releases/tag/RELEASE.2017-08-05T00-00-53Z). Perhaps one of those "fixes" is the culprit.

## Steps to Reproduce (for bugs)

[2017-08-08 15:57] harshavardhana commented on #4792
This is intentional @kyleburnett // cc @krisis

[2017-08-08 17:16] vadmeste commented on #4750
@harshavardhana, I tested with the latest Minio (2017-08-05T00:00:53Z ) and the latest s3ql (2.22).  Uploading files is working and s3ql was even able to create empty directories.

[2017-08-08 17:24] seanhuxy opened #4793 "Cannot access Minio(AWS + Docker) at port 9000 from public network"
## Expected Behavior
I am running a Minio server on a docker runtime on top of an AWS EC2 instance(Ubuntu 16).
Follow the Minio Quick Start Guide, I deploy a Minio server at port 9000.
I opened all traffic on AWS instance, so I would expected to connect this minio server from public network from <ec2-IP>:9000

## Current Behavior
I tried with ``curl <my-ec2-ip>:9000`` and visit from browser, both

[2017-08-08 17:38] harshavardhana commented on #4781
@donatello this is blocked as part of Admin API, let me know if you have a branch where i can send a PR for this.

[2017-08-08 17:39] krishnasrinivas commented on #4793
@seanhuxy can you try this solution to open up a port https://stackoverflow.com/questions/17161345/how-to-open-a-web-server-port-on-ec2-instance

[2017-08-08 18:02] harshavardhana commented on #4770
Are you able to delete the files if you happen to restart the server @cgrabmann ? from what it looks like this is sort of a filesystem issue with hyper-v + docker end.

I am not able to reproduce this with minio running on a local NTFS disk. Currently the error returned is not correct sending a PR for that instead.

[2017-08-08 18:04] #4746 closed, assigned to vadmeste

[2017-08-08 18:06] krisis commented on #4704
The proposal and discussions surrounding it can be followed here - https://gist.github.com/krisis/761ff87ee0a7368681351239dca5733a

[2017-08-08 18:24] krisis commented on #4792
@kyleburnett With Minio server (2017-08-05T00:00:53Z) in single disk mode ListParts always returns empty response. This is the first step towards making Minio's [multipart backend representation](https://gist.github.com/krisis/761ff87ee0a7368681351239dca5733a) crash-consistent without requiring lock-based synchronization.
Further, we anticipate most applications to hold information about parts upl

[2017-08-08 18:33] kyleburnett commented on #4792
Ah, so if I specify more than one drive like in Example 2 [here](https://docs.minio.io/docs/multi-tenant-minio-deployment-guide), ListParts will return parts as I expect?

[2017-08-08 18:42] krisis commented on #4792
@kyleburnett you could do that. How do you intend to use ListParts in your application? Why do you prefer using it over remembering parts uploaded so far?

[2017-08-08 18:45] harshavardhana commented on #4778
@gowithplanb would you be interested in running a silo binary just to test fcntl locks? From the code path it looks like few things should have happened.

- A file descriptor if it was not valid should have been EBADFD.
- A file descriptor was accessed with incorrect args in syscall.Flock() results in EINVAL.

Latter is what is happening but all the args are passed down correctly , the only reason

[2017-08-08 18:57] seanhuxy commented on #4793
@krishnasrinivas
I have already opened all ports at security group, it is already mentioned in step 4.

[2017-08-08 19:14] kyleburnett commented on #4792
I have a client that is uploading parts of a file concurrently to a set of API servers behind a load balancer. After each part completes, I obviously have to check if I have all the parts in order to know whether I can complete the upload. Currently, we are using ListParts to make that determination as opposed to storing the status of each chunk in our relational database. As such, the behavior of

[2017-08-08 19:18] krisis opened #4795 "TestFSGetBucketInfo fails sporadically on appveyor"
[code]

## Expected Behavior

Unit test must pass always

## Current Behavior

Unit test fails sporadically

## Possible Solution

The unit test uses `removeAll(disk)` to simulate `errDiskNotFound`. Minio holds a read-write lock on `format.json` file and a remove fs directory may fail. Alternately, we could test like,
[code]
## Steps to Reproduce (for bugs)

1. make test
2.
3.
4.

## Context

## Y

[2017-08-08 19:24] balamurugana commented on #4476
Fixed by https://github.com/minio/minio/pull/4636

[2017-08-08 19:24] #4476 closed, assigned to balamurugana

[2017-08-08 19:51] krishnasrinivas commented on #4792
@kyleburnett does your client make use of this call also? http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadListMPUpload.html

[2017-08-08 20:18] kyleburnett commented on #4792
The client does not make any calls to s3. The client makes calls to our API, which in turn makes calls to s3 or minio (depending on whether type of the deployment is cloud-based or on-premise) using the AWS SDK.

The API server doesn't list multipart uploads either. The client uses another API route to create a multipart upload (which we **do** store in our database) before initiating the individu

[2017-08-08 23:23] #4765 closed, assigned to aead

[2017-08-09 06:36] cgrabmann commented on #4770
The uploaded files do not exist after the deletion process only the folders in  .minio.sys are left over (also empty).

When I stop the container I can manually delete the left over directory. It also does not seem to hinder the minio server when I create the bucket again and but files into it. The only problem is the failing of deleting the bucket itself, since the folder in .minio.sys/bucketName

[2017-08-09 06:41] harshavardhana commented on #4770
Not manually directly going to backend - are you able to using DeleteBucket API and delete the bucket properly after a minio server restart? @cgrabmann . Can you also confirm this doesn't happen without docker?

[2017-08-09 07:37] nitisht commented on #4761
@rolandrajko I tried to reproduce the issue and looks like there was a problem with healthcheck in Docker Swarm mode.

Swarm routes traffic only to containers that report `healthy` status, while Minio in distributed mode needs to talk to other peers before it can respond to healthcheck probe. As the Minio containers were not able to talk to each other, you were getting

[code]

However, it is fixe

[2017-08-09 08:41] rolandrajko commented on #4761
It looks good.
[code]
Thank you.

[2017-08-09 14:04] cgrabmann commented on #4770
I can confirm this does not happen without docker.

I'm not able to delete the bucket properly after restart because the bucket does not exist any more. The problem is the exception that happens while deleting the bucket.

It just does not fit together:
The bucket could not be deleted (exception), but it is actually gone because I cant access it anymore.

[2017-08-09 15:00] dcharbonnier commented on #3489
@pascalandy can you update your link to  [The complete guide to attach a Docker volume with Minio on your Docker Swarm Cluster](http://firepress.org/blog/the-complete-guide-to-attach-a-docker-volume-with-minio-on-your-docker-swarm-cluster/) ?

[2017-08-09 15:18] IustinaN opened #4801 "Minio instances(services) cannot share the same volume when deploying with docker-compose"
I have a docker-compose.yml which defines 4 Minio instances: the first 2 share a volume and the other ones another volume.

## Expected Behavior
I'd expect to have a working setup (minio instances to be up and running and accessible from browser).

## Current Behavior
Every node is exiting with the following stacktrace:

minio2_1  | time="2017-08-09T13:28:26Z" level=fatal msg="Unable to initialize

[2017-08-09 15:51] harshavardhana commented on #4770
This is like an interaction issue docker with windows perhaps. Linux emulated POSIX translated calls to NTFS backend might not be doing the same thing as required by Minio.

We could perhaps open a docker issue and check with them. For now don't use docker on windows with minio. We will work on native docker build i.e based on nanoserver from windows which would be the right way to use it.

[2017-08-09 17:03] vadmeste commented on #4801
@IustinaN, this configuration setup won't work with Minio, but I am not sure what you want to do exactly. You want to run four instances, will these four instances be belonging to the same cluster or two different clusters ?

[2017-08-09 20:32] IustinaN commented on #4801
In order to see if 2 Minio instances can share the same volume, I've provided above a setup with 4 instances (Minio services) deployed on the same machine, same host but with different ports: the first 2 are sharing _minio1:/myexport1_ volume, the next 2 are sharing _minio2:/myexport2_ volume.

Given the mentioned volumes, honestly I'm not sure about the 'command' that is executed on each instance

[2017-08-09 21:33] vadmeste commented on #4801
@IustinaN, having two pair of nodes, where each pair shares the same volume, means you are going to have two small clusters, each cluster will have its own buckets and objects. Is that what you want to do ?

[2017-08-09 23:23] krisis commented on #4792
@kyleburnett, what happens when upload of a part (say part 9) fails during upload of an object (made of 10 parts)? If you rely on information returned by ListParts you would leave out part 9 from your object right?

AWS S3 document discourages using ListParts as source of truth for complete multipart upload request, possibly due to situations like above. (Ref: https://docs.aws.amazon.com/AmazonS3/

[2017-08-10 00:49] harshavardhana commented on #4461
This is fixed i think we don't see this problem anymore. @fwessels @deekoder - we can close this.

[2017-08-10 00:57] fwessels commented on #4461
Correct, it looks like it is gone.

[2017-08-10 00:57] #4461 closed, assigned to fwessels

[2017-08-10 02:31] poornas commented on #4718
@deekoder, this can be closed

[2017-08-10 08:09] IustinaN commented on #4801
Yes, with the condition that buckets and objects to be replicated between clusters.

But at the moment the most important is to have 2 minio instances sharing the same volume in each cluster. How can I achieve this functionality from configuration perspective?

[2017-08-10 11:02] vadmeste commented on #4801
@IustinaN, can you join us here ? https://slack.minio.io, we can have a richer conversation there.

[2017-08-10 18:23] krishnasrinivas commented on #2202
@vadmeste has sent a PR https://github.com/minio/minio/pull/4804, re-opening this issue.

Events do not print headers which is crucial for debugging

This decreases the efficiency of dev process, recently we had to give a custom binary to a customer which had HTTP logging enabled. We can fix bugs faster if logging/debugging infra is built into minio by default.

HTTP logging should be off by defau

[2017-08-10 18:49] kyleburnett commented on #4792
Okay, thanks for the reference - I didn't know about that aspect of multipart uploads. I will refactor my application code accordingly.

[2017-08-10 19:00] harshavardhana commented on #4792
Feel free to close this issue @kyleburnett

[2017-08-10 20:00] #4792 closed, assigned to krisis

[2017-08-10 21:11] #4795 closed, assigned to harshavardhana

[2017-08-10 22:34] krishnasrinivas commented on #4764
@harshavardhana AB wanted the process to exit with error. we can check with him.

[2017-08-10 22:37] harshavardhana commented on #4764
I think we can ignore and keep running we do ignore non-conforming buckets anyways..

[2017-08-10 23:54] #4686 closed, assigned to nobody

[2017-08-11 02:31] pascalandy commented on #3489
Done ! http://firepress.org/blog/the-complete-guide-to-attach-a-docker-volume-with-minio-on-your-docker-swarm-cluster/

[2017-08-11 02:48] harshavardhana commented on #4778
Right now the only variable that has changed from our conversations is the backend version for MooseFS.

Since we haven't changed anything in this part of the code base since last many releases, even the one that you were using before.

Error is being returned by is following code

[code]

A create cannot ever return EINVAL unless some weird conditions happened, let me explain below. There are two

[2017-08-11 13:48] donatello opened #4809 "[Proposal] Re-organization of URL paths under `minio` reserved bucket"
The current organization of URL paths under the reserved `minio` bucket is as follows:

[code]

Handler resolution for these paths happens roughly by going through the list above from top to bottom until a prefix match is hit. The problem is the last path - it matches any URL path starting with `/minio/`, and so can lead to clashes with current or future browser side functionality.

This can be be

[2017-08-11 13:59] donatello commented on #4809
While this discussion came up as a result of https://github.com/minio/minio/issues/4766, that issue is more easily resolved, by updating browser behaviour so that:

1. If the user is not logged in, redirect to `/minio` (instead of `/minio/login`) and ask for credentials.
2. Eliminate `/minio/login` as a route so that it does not clash with bucket names.

The clash is happening because the URL `/mi

[2017-08-11 18:38] #4183 closed, assigned to fwessels

[2017-08-13 02:26] #4761 closed, assigned to nitisht

[2017-08-13 20:03] #4669 closed, assigned to nitisht

[2017-08-14 01:18] aead opened #4812 "[Proposal] Reorganize codebase in a more idiomatc way"
Currently `github.com/minio/minio` contains the main.go (and some build files, etc.) and everything else is located under `github.com/minio/minio/cmd`.
This has the following consequences:
 - It's tough for external contributors to dive into minio and understand the layer-structure of the minio server/gateway - it took me quite a while and I'm working currently full time on the minio server.
 - Bu

[2017-08-14 02:08] harshavardhana commented on #4812
This is a plus

This is a plus

This not an issue, no one does it if they did its an architecture issue on their end.

This is the exact structure we had 2yrs ago.  Inherent limitations of this approach is where states are lying across multiple packages and you always need a safe way to handle it (this is an expensive prospect).  Then if the claim is that in-variants for each packages get better c

[2017-08-14 03:29] aead commented on #4812
Agree, but this was an argument against packages in previous discussions - like "people could import stuff"...

This is a design issue: Which package is responsible for what etc. State across packages indicates - from my perspective - a bug in the design...

Disagree. Go has the capability to "protect" state within a package. Examples are in the stdlib. Every struct within a package with "private"

[2017-08-14 05:35] harshavardhana commented on #4812
A state should be managed and protected is a programmer's prerogative either its available to you under a flat namespace or a hierarchical one.  Under hierarchy each state should be protected at each level which is okay while being quite expensive - but we do not have a hierarchical model in our code.  What we have is flat.

This a wrong way to look at protection, unexported doesn't mean that its

[2017-08-14 06:51] aead commented on #4812
We have probably different understanding of what "protection" means. I'm trying to say that it is much harder to accidentally break an invariant when the state is not visible/modifiable.
[code]
Depending on whether this struct is defined in your namespace or not you can directly modify the buffer. Of course the namespace does not prevent modifying the state. It just prevent somebody outside the na

[2017-08-14 07:16] brendanashworth commented on #4812
I want to emphasize one of the advantages of the subdirectory approach, in regards to tests.

- Splitting the main namespace into multiple subdirectories will allow developers to only run tests for the part of code they're changing (for me, the whole run takes 2 minutes).
- It emphasizes that a file should be primarily tested by its own testing file (e.g., `jwt.go` and `jwt_test.go`), as opposed t

[2017-08-14 07:36] harshavardhana commented on #4812
// cc @aead

All of this is already solved by either using interfaces and structs with strict types.  Any interface change  causes build to fail, any struct change also causes build to fail.  API contract doesn't get anymore benefit than this.  It is unfortunate that there are structs with exposed identifiers and we should have avoided that.

It is inherently a problem of package paradigm itself e

[2017-08-14 07:49] donatello opened #4813 "Server silently accepts Notification config with TopicConfiguration even though no notification service is present on server"
Consider a Minio server configured with say Kafka bucket notifications. Now a bucket may be configured to have its events sent to Kafka via a QueueConfiguration section in a put-bucket-notification API request.

If a notification configuration with TopicConfiguration is sent in the request, the server appears to silently accept the request without any error messages.

## Expected Behavior

As desc

[2017-08-14 07:51] harshavardhana commented on #4813
:+1:  - warrants a mint test on this as well - failure case.

[2017-08-14 12:00] grachevko opened #4814 "Network problem in new version on swarm mode"
On docker image with tag `RELEASE.2017-06-13T19-01-01Z` all work fine.
But if update to `RELEASE.2017-08-05T00-00-53Z` or `RELEASE.2017-07-24T18-27-35Z` on every nodes result is:
[code]

Here is docker stack config:
[code]

I guess it must be related to docker swarm, but on `RELEASE.2017-06-13T19-01-01Z` version all is good.

[code]

[2017-08-14 13:00] nitisht commented on #4814
Hi @grachevko can you please try the image `minio/minio:edge` and see if the issue is reproducible? We fixed a similar issue recently with https://github.com/minio/minio/pull/4799

[2017-08-14 13:06] grachevko commented on #4814
@NitishT `edge` working fine!

[2017-08-14 13:09] nitisht commented on #4814
Thanks for the confirmation. The fix will be released soon.

[2017-08-14 13:20] vadmeste commented on #4801
We cannot have shared disks + data protection (erasure) at the same time.

Closing this after having a private conversation

[2017-08-14 13:20] #4801 closed, assigned to nitisht

[2017-08-14 13:34] grachevko commented on #4814
Great. Thanks.

[2017-08-14 13:41] nitisht commented on #4814
Thanks, closing the issue as working as intended.

[2017-08-14 13:41] #4814 closed, assigned to nobody

[2017-08-14 17:54] aead commented on #4812
cc/ @harshavardhana

That's not the point. A package in Go separates the code. The code within the package has access to everything inside the package. Code outside the package cannot modify state within the package except in a (intended) way provided by the API of the package.

That's true, but it is much easier to understand and cover all code in small packages than in a large one. This is exact

[2017-08-14 18:11] #4774 closed, assigned to balamurugana

[2017-08-14 20:55] fwessels commented on #4812
As an observation:

[code]

I think some form of directory structure can make our code base easier to get into. Right now for novice users (or the casual Github user browsing around) the `cmd` directory will be looking quite intimidating — this sends out the wrong message that it is a “complex” code base whereas it really is not.

For those of us who have been using it for a longer period of time

[2017-08-14 21:39] fwessels commented on #4812
Did a quick reorganizing, just to get an idea of what it would look like... https://github.com/fwessels/minio/tree/feature/code-reorg/cmd

(note that I haven't yet dared trying a build...  😉 )

This would still leave 100+ files in `cmd`:

[code]

[2017-08-15 00:28] harshavardhana commented on #4778
@gowithplanb were you able to collect strace outputs that we requested?

[2017-08-15 01:08] #4359 closed, assigned to aead

[2017-08-15 01:08] #4649 closed, assigned to aead

[2017-08-15 01:08] #4696 closed, assigned to fwessels

[2017-08-15 05:32] mvnixon commented on #4210
Would be great!

[2017-08-15 08:37] harshavardhana opened #4816 "posix-tests are modifying /usr and / through tests if run as root"
## Expected Behavior
Tests shouldn't be modifying operating system entities, this may lead to data loss on user system.

## Current Behavior
We have some test code in posix_test.go which unnecessarily modifies operating system files, which is perhaps a data loss issue for any user.
[code]

These tests need to be fixed properly.

## Possible Solution
[code]

## Steps to Reproduce (for bugs)
Login a

[2017-08-15 11:44] vadmeste commented on #4791
@AlViKo, sorry for the delay, did you see any output in Minio server ?

[2017-08-15 17:54] krisis opened #4818 "Can S3 buckets be azure accounts instead of containers"
Explore if S3 buckets must be mapped to Azure accounts instead of containers

[2017-08-15 22:10] #4764 closed, assigned to harshavardhana

[2017-08-16 02:24] lifematrix opened #4821 "minio startup with error message: Unable to access uploads.json, MultipartUpload()"
Hey, I am new to minio.
I just upload multiple large files to minio server for testing, and interrupt it by ctrl-C.
When I restart minio, it raise a  error message like:

[code]
I guess it is caused by incomplete uploads, and run the command

[code]
and restart minio again. However,  the error message still appear.

What  should I do to solve it?

Thanks for any suggestion.

Steven

[2017-08-16 02:29] harshavardhana commented on #4821
This is a harmless message @lifematrix and can be ignored - we need to suppress and not print this and it is not useful for user to do anything at this point in time.

It is because recursively some other routine has already deleted the necessary files. Just to be sure can you do `ls /workvol/home1/minio/repos/.minio.sys/multipart/*/*` and see if there are lots of files left over?

Thanks

[2017-08-16 03:02] lifematrix commented on #4821
Thanks for you quick reply.

I have deleted files  in ```/workvol/home1/minio/repos/.minio.sys/multipart/*/*``` recursively, and error message disappear.

By the way, I wonder if  a long-time uploads is interrupted or fail , what should do to prevent any problems?

Thanks

[2017-08-16 05:56] harshavardhana commented on #4821
It shouldn't there is an active routine which cleans up on a timely basis - it must be that there is a bug somewhere which leaves certain stale files do you know exactly how to reproduce this?

Thanks @lifematrix

[2017-08-16 07:35] nitisht commented on #4529
This is no longer applicable as the new design being implemented. closing as won't fix.

[2017-08-16 07:35] #4529 closed, assigned to nitisht

[2017-08-16 07:36] nitisht commented on #4766
@samluthebrave thank you for finding the issue. We are taking a fresh look at how to handle such scenarios. Here are the details https://github.com/minio/minio/issues/4809

[2017-08-16 07:47] harshavardhana opened #4822 "Ineffective assignments reported in erasure code paths"
## Expected Behavior
No in-effective assignments found.

## Current Behavior
[code]

## Possible Solution
Fix it :smile:

## Steps to Reproduce (for bugs)
[code]

## Context
Code cleanup.

## Your Environment
Current master

[2017-08-16 08:30] harshavardhana opened #4824 "pkg/http: bufconn/listener_test.go has wrong go-routine and testing usage"
## Expected Behavior
Avoid https://github.com/dominikh/go-tools/blob/master/cmd/staticcheck/docs/checks/SA2002

## Current Behavior
[code]

## Possible Solution
Fixes are simple but should be fixed since they have bugs.

## Steps to Reproduce (for bugs)
[code]

## Context
Code review.

## Your Environment
Current master.

[2017-08-16 18:07] ckuetbach commented on #4766
Regarding [Amazon documentation](https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html) bucket names must be at least 3 chars long.

If all UI is accessable wothin /ui/* all valid bucket names are accessable.

[2017-08-16 18:20] deekoder commented on #4720
Closing as items are moved to minio/minio-boshrelease

[2017-08-16 18:20] #4720 closed, assigned to nobody

[2017-08-16 18:20] deekoder commented on #4112
Closing as items are moved to minio/minio-boshrelease

[2017-08-16 18:21] deekoder commented on #4112
@sentientmonkey  we are doing it. But all cloudfoundry related issues are going to move to a separate repo. You will be able to see them there.

[2017-08-16 18:21] #4112 closed, assigned to nobody

[2017-08-16 18:22] deekoder commented on #4719
moving all bosh/cf issues minio/minio-boshrelease

[2017-08-16 18:22] #4719 closed, assigned to krishnasrinivas

[2017-08-16 21:36] sentientmonkey commented on #4112
Thanks! 🤘

[2017-08-16 22:22] deekoder commented on #4112
@sentientmonkey  - We'd love it if you join us on our slack channel. We would love to ping you when we have the service broker available for testing.  https://slack.minio.io/

[2017-08-16 23:53] deekoder commented on #4770
Ok going ahead an closing this as its not actionable to us to fix.

[2017-08-16 23:53] #4770 closed, assigned to harshavardhana

[2017-08-16 23:55] #4718 closed, assigned to poornas

[2017-08-16 23:59] krishnasrinivas commented on #4793
@seanhuxy Sorry we won't be able to help here as the issue is not related to minio. (Since you mention that minio is accessible on other ports and even on 9000 it is accessible from EC2)

We might be able to help if you give us access to your AWS console dashboard. But AWS support would be the right place to get this fixed.

[2017-08-17 06:20] dingjs opened #4829 "repair damaged node or add nodes to a cluster after running for some time"
Hi
I build a 4 nodes minio cluster,after running for some time,one node was accidentlly being deleted.When I bring the node back online,there is no data being uploaded to this node since then,only another 3 nodes is working. Is there some way to repair the damaged node and make it work.
Thanks!

[2017-08-17 07:01] dingjs commented on #4829
mc admin heal minio works like magic

[2017-08-17 07:01] #4829 closed, assigned to nobody

[2017-08-17 07:22] Berndinox commented on #3489
... but its still not scaleable! I prefer just running one Service on Swarm and be able to scale that one service...

[2017-08-17 08:35] dcharbonnier commented on #3489
by design it's not possible to change the number of hosts but I agree, we should be able to setup a single service with a scale value that should never change...

[2017-08-17 08:53] alpeware commented on #3489
FYI

If you're interested, here's one approach using service discovery to get
the IPs of the nodes automatically -

https://github.com/alpeware/minio-swarm

On Aug 17, 2017 10:35 AM, "dcharbonnier" <notifications@github.com> wrote:

[2017-08-17 21:20] krisis opened #4830 "Add docs for S3 gateway"
## Expected Behavior

Documentation for Minio gateway for S3
## Current Behavior

No documentation available
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2017-08-17 21:43] krisis commented on #4779
@gregorkistler I am facing difficulties in getting an Harbor setup up and running as described in their official documentation. I shall post my findings on this issue when I cross this.

[2017-08-18 03:18] dingjs opened #4831 "minio cluster startup with a error message showing unformatted disk found"
Hi!
I have a 4 nodes minio cluster, one node is 10 seconds apart from the other 3 nodes(I know it shouldn't be bigger than 3 seconds apart).When I start the minio server,the console print some error message: 'unformatted disk found'.When I use ntp to make the time right,the error message is gone and the cluster runs perferctly.So maybe the error message can change a little bit.

[2017-08-18 05:06] harshavardhana commented on #4831
This should only happen if it was a fresh disk and there is no conclusive way to know this.

Otherwise it might be a bug on our end.

[2017-08-18 18:44] #4816 closed, assigned to balamurugana

[2017-08-18 19:19] vadmeste opened #4832 "Prepare first Minio Azure VM"
Create a json template to download Minio binary and configure it with a azure storage account entered by the user before VM deployment.

[2017-08-19 07:30] christianbaun opened #4834 "Sometimes Objects or Buckets cannot be accessed when using multiple Minio servers with a shared storage as Backend"
I face a strange problem when using two Minio servers (Version 2017-08-05T00:00:53Z) with a shared storage as backend and a seperate machine running NGINX as load balancer as frontend. The used hardware are RaspberyPi2 single board computers running Raspbian 7.8 -- I know it is old, but it usually runs super stable.

The NGINX configuration is

[code]

I use s3cmd (version 1.6.1) on a seperate mac

[2017-08-20 15:56] drahnr commented on #2744
This is not really an error, yet it is an annoyance.

It happens when used with the S3 resource plugin and using a bucketname including a slash `/`

`minio/minio:edge`'s logs then look like this:

[code]

[2017-08-20 18:22] harshavardhana commented on #2744
@drahnr would you mind opening a new issue here, with steps to reproduce. It would be immensely helpful :cake:

[2017-08-20 19:25] #4824 closed, assigned to balamurugana

[2017-08-20 19:50] vadmeste commented on #4832
This is the first try of the template to deploy from scratch a working Minio Azure gateway, https://github.com/vadmeste/minio-az-template.

The next thing to di is to create a template UI, so users can enter their Azure credentials in Azure Portal before deploying our Minio VM.

[2017-08-21 05:23] drahnr opened #4835 "Signature does not match error for buckets with / char in them using"
This error pop's up and push is not successful with a Forbidden 403 on the client side.

With `mc` this does not happen, I assumed this might be due to additional gate keeping / sanity checks.

## Expected Behavior
Return a good, understandable error message.

## Current Behavior

It happens when used with the S3 resource plugin and using a bucketname including a slash /
with a https://concourse.c

[2017-08-21 05:37] harshavardhana commented on #4835
This seems to be a problem in how you are setting this up - there is no '/' in bucket name, if you need to look for files inside a particular prefix then concourse.ci is asking you to set `regexp`  - perhaps as shown below.

[code]

[2017-08-21 05:43] drahnr commented on #4835
What I did was setting `bucket: oregano/drop` to get the files in a pseudo hirarchy. This fails nicely with `mc` but with the `resource-s3` of `concourse.ci` I get this pretty hard to backtrack error.

[2017-08-21 05:49] harshavardhana commented on #4835
Yes for that concourse.ci plugin should do basic bucket name validation if they don't and they send the request by will fully encoding the `/` characters - it is a bug perhaps in aws-sdk-go.  Minio server cannot do much here instead since due to routing rules are based on '/'  --> `oregano` is a perfectly valid bucket name and so this request fails on sort of a GET object request where an object n

[2017-08-21 06:09] drahnr commented on #4835
Thanks for the clarificatio, I guess you can close that then since it is not related to minio 👍

[2017-08-21 14:11] DrRibosome opened #4836 "[Proposal] Allow setting optional per bucket ttls"
I think it would be fairly useful if minio allowed per bucket time to live (ttl) to enable the use case where minio acts as a disk backed cache. Unless I missed it in the documentation, there doesnt seem to be an easy way to do this currently.

## Expected Behavior

Allow setting per bucket ttls (like s3)

## Context

Currently my company uses s3 for this, but we are investigating alternatives. Mi

[2017-08-21 16:45] #4835 closed, assigned to harshavardhana

[2017-08-21 20:31] cvanslyke opened #4838 "Cannot get ContentLength from headObject request using aws javascript sdk."
The response in the callback to headObject should contain a ContentLength, however the field is non-existent. However, I can see the Content-Length in the response from the dev console.

[http://jsfiddle.net/sensbbnp/](url)

[code]

[2017-08-22 08:22] alonewithyou opened #4840 "Unknown "Object name invalid" error"
When I'm trying to upload .dng files to a minio server on my computer with the following code
`func uploadFileToMinio(bucketName: String,
                        remoteName: String,
                        fileURL: URL){

        let accessKey = "xxxxxxxx"
        let secretKey = "xxxxxxxx"

        let credentialsProvider = AWSStaticCredentialsProvider(accessKey: accessKey, secretKey: secretKey)

[2017-08-22 08:40] harshavardhana commented on #4840
Can you paste your object name here ? @alonewithyou

[2017-08-22 09:33] alonewithyou commented on #4840
@harshavardhana
The remote name is 1503389301.18356.dng and bucket name is rawphoto, as are shown in the error log

[2017-08-22 15:14] sascha-coenen commented on #1906
dragondisk hasn't received an update since 2012 (v1.05). Am I missing something? Is the developer continuing the project under a different website?
http://www.s3-client.com/download-s3-compatible-cloud-client.html
I have the latest version installed and it doesn't work with minio. My dragondisk help dialog shows that version 1.05 was released in 2012

[2017-08-22 15:19] vadmeste commented on #1906
@sascha-coenen, Minio wasn't supporting AWS S3 V2 when this issue was created but it does now. Maybe we want to test this again now but it seems you already did, could you paste us what is the error that you are seeing ?

[2017-08-22 15:51] rob-killingsworth opened #4842 "Api and mc return 0 objects / output when downloading from the same dir at the sametime"
## Expected Behavior
I would expect the api and mc to beable to do and ls at the same time as a download from a bucket and if they are unable to access not silently fail i.e. the api returning an empty list and mc to none 0.

## Current Behavior
While downloading a 100Mb file on one client if a second does a ls in the same bucket and path it will randomly give no results but does not give an error

[2017-08-22 16:31] harshavardhana commented on #4836
This is being implemented here https://github.com/minio/minio/pull/4156 . Feel free to test and let us know.

[2017-08-22 17:05] vadmeste commented on #4842
Concurrent listing showed this problem for me, like if we run the following code concurrently

[code]

[2017-08-22 18:10] aead opened #4844 "do not compare credentials using bcrypt"
Currently bcrypt is used to generate a hash from the secret key. This hash is used to compare the secret key send by clients during login. The whole bcrypt code is not necessary and uses the wrong primitive for this use case. A simple constant-time-compare is sufficient.

## Expected Behavior
Use constant time compare of secret key

## Current Behavior
Compute bcrypt value of secret key and use th

[2017-08-22 18:24] harshavardhana commented on #4844
Can you clarify why bcrypt is using a wrong primitive? isn't CompareHashPassword internally doing subtle.ConstantTimeCompare anyways? .  Only such that it does it on a Hash of the SecretKey?

[2017-08-22 18:49] balamurugana commented on #4840
@alonewithyou

I did below which worked fine.
[code]

I see one difference with the object name is `/1503389301.18356.dng` i.e. `/` is prefixed.  Could you trim `/` and try again?

[2017-08-22 19:19] aead commented on #4844
That's correct, but bcrypt itself is actually the "wrong" primitive for this use case.
Bcrypt is a PBKDF - it should be used (actually should not be used any more -> scrypt, Argon2) to derive a key from a password. The secret key is not really a password because it already contains a reasonable amount of entropy (secret key is long enough and generated by the system PRNG).

[2017-08-22 19:36] balamurugana commented on #4844
To extend secret key generation, admin can use free-formed text like `minio123` without generating using randomness.

[2017-08-22 19:45] harshavardhana commented on #4844
Thanks @balamurugana - either we use bcrypt, scrypt, argon2 we wanted to have generic password hash style protection (we could also add salt here) and not depending on the randomness of the user passed string itself.

 Not sure of the security implications but since secret key is indeed a password - i don't see how constant time compare would be sufficient. Secret key is a password used in two sit

[2017-08-22 20:05] aead commented on #4844
But the current code does not protect the secret key using a PBKDF. This must be done in a different style.
Just one simple example:
Webbrowser sends access key & secretkey (or bcrypt hash) as login. If connection is TLS everything is fine. If not it does not matter whether we send the secret key or the bcrypt hash - someone recording the credentials can always login...

If we want to support diff

[2017-08-22 20:10] harshavardhana commented on #4844
Propose the change @aead which you think is more secure in this scenario. Which can be discussed further. PR #4845 referencing this fix is not warranted until we decide AFAICS we should close it.

[2017-08-22 20:24] aead commented on #4844
Okay, sure - any resources about the requirements?

[2017-08-22 21:56] aead commented on #4844
@harshavardhana Reopened PR - should fix it and fulfill the requirements, can discuss again if any concerns...

[2017-08-22 21:59] harshavardhana commented on #4844
Are we not planning to secure support as password?  and instead rely on just constant time comparison?

[2017-08-22 22:15] aead commented on #4844
It does not improve security if we send the password as hash / hmac /bcrypt-value. If we would do this, somebody who can read the network traffic cannot compute the secret key from the hash - but it is not necessary to compute the secret key. If we send the hash / hmac / bcrypt-value during login, this hash / hamc / bcrypt-value IS the login and anyone who knows the hash can login.

Bcrypt, scrypt

[2017-08-22 23:53] #4634 closed, assigned to aead

[2017-08-22 23:54] harshavardhana commented on #4634
// cc @NitishT a good case to add mint test.

[2017-08-23 03:12] sascha-coenen commented on #1906
@vadmeste thanks for the info and the quick response. When I connect dragondisk to a minio server, I do see the buckets in dragondisk, but when clicking on a bucket to get to the files, the file list remains empty. In the minio web interface I do see files. Same goes for copying files over. If I copy a local file to a minio bucket using dragondisk, the operation allegedly succeeds but the filelist

[2017-08-23 06:56] drahnr opened #4847 "can not create share url"
mc share download host/bucket

## Expected Behavior
if return 0, print a sharing url

## Current Behavior
no sharing url is created

## Steps to Reproduce (for bugs)
1. try to create a bucket with a pdf file
2. share that

## Your Environment
* minio/minio:edge
* setup nginx according to the howto guide

[2017-08-23 07:01] harshavardhana commented on #4847
You can't create a share URL for a bucket @drahnr - shared URL works only for an object if you wish to share all the objects under a bucket  - you should use `mc share -r`.  NOTE: This command will create URL which will expire in 7 days max.

If you are looking for making your buckets public entirely - you should just set `mc policy download host/bucket`  instead, this would make your bucket publi

[2017-08-23 07:39] drahnr commented on #4847
ok, I was just suspecting something is wrong since vaguely remember the return code being 0 - will double check

[2017-08-23 07:49] harshavardhana commented on #4847
It is not doing anything because `mc share home/bucket` supports listing of objects at the top level.  If you don't have any objects at top level then it will still be successful since Listing succeeded just that it couldn't find any objects.

[2017-08-23 10:36] hegphegp opened #4848 "How to initialize distributed minio servers in docker-compose?"
After I run distributed minio servers in docker-compose, I visit the servers websites by url, then I login the websites, the page alter("Server not initialized, please try again");
## Expected Behavior
Which commands to use to initialize the servers

The docker-compose.yml is
[code]

[2017-08-23 11:08] vadmeste commented on #4848
@hegphegp, I tested your exact docker-compose.yml and it is working fine for me. Can you check if you have the latest Minio docker image ? (`docker pull minio/minio`)

[2017-08-23 11:17] hegphegp commented on #4848
I download the latest docker image. Did you login the server websites? The website page alert("Server not initialized, please try again"); @vadmeste

[2017-08-23 11:23] vadmeste commented on #4848
@hegphegp, yes I can login and upload files etc..

Can you paste the output of your docker-compose up command ?

[2017-08-23 11:30] hegphegp commented on #4848
[code]

[2017-08-23 11:34] hegphegp commented on #4848
[code]

[2017-08-23 11:36] hegphegp commented on #4848
@vadmeste

[2017-08-23 11:37] vadmeste commented on #4848
Still don't know how to reproduce this

[code]

Can you test in a new machine with latest docker version ?

[2017-08-23 12:02] alonewithyou commented on #4840
@balamurugana
I've tried use some different filename before, when I do so, the server reports

(this log generated when I removed the '/' prefixed in the filename)
I'm sure I used correct access key and secret key, what could have caused this error?

[2017-08-23 12:26] hegphegp commented on #4848
@vadmeste in another machine, I can run successfully

[2017-08-23 12:31] vadmeste commented on #4848
Cool @hegphegp,

I guess if you restart docker daemon in the first machine, it will just work. Now, I remember seeing that before.. but not sure why this is happening

[2017-08-23 13:22] drahnr commented on #4847
I see, thanks for clarification.

[2017-08-23 13:22] #4847 closed, assigned to nobody

[2017-08-23 13:31] cvanslyke commented on #4838
Is it possible to Expose the Date header in CORS setting as well? I'm worried that not exposing this header might prevent the S3 "correctClockSkew" config setting from retrying requests if times are out of sync. See: https://github.com/aws/aws-sdk-js/issues/399

[2017-08-23 16:25] harshavardhana commented on #4840
You used the right access and secret key did you apply the fix mentioned here https://github.com/minio/cookbook/blob/master/docs/aws-sdk-for-iOS-with-minio.md . I am assuming you are using iOS AWS SDK.

[2017-08-23 19:06] godfoder opened #4850 "Multipart Upload Regression between RELEASE.2017-07-24T18-27-35Z and RELEASE.2017-08-05T00-00-53Z"
## Expected Behavior
Multipart uploads should complete successfully.

## Current Behavior
A MalformedXML error is returned when complete_upload is called.

## Possible Solution
It looks like there was a major change to multipart in this release, hopefully this is a simple request parsing bug that can be easily fixed.

## Steps to Reproduce (for bugs)
1. Install boto (tested on both 2.40 and 2.48)

[2017-08-23 22:58] #4813 closed, assigned to nobody

[2017-08-23 22:59] #4844 closed, assigned to nobody

[2017-08-24 00:59] #4842 closed, assigned to harshavardhana

[2017-08-24 01:19] krishnasrinivas commented on #4850
@godfoder we made a change to return empty list for "GET ListParts" request to discourage incorrect client behavior.

Here are more details from AWS doc:
https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html

boto is doing ListParts call and use its result to do CompleteMultipart call which AWS docs do not recommend. The reason is explained well in this issue https://github.com/minio/mi

[2017-08-24 05:33] alonewithyou commented on #4840
@harshavardhana I didn't remove the line "transfer-encoding" at the beginning, and I just tried to remove it, "pod install" and rebuild, but the same error came to me again.

[2017-08-24 06:08] hegphegp opened #4851 "Do minio server provide some restful api to operate data?"
I see the minio websites only uses the 'http:ip:port/webrpc' api. Do minio server provide some restful api to operate data? Our team don't want to use mino sdk to develop.

[2017-08-24 06:17] harshavardhana commented on #4851
Minio implements and supports http://docs.aws.amazon.com/AmazonS3/latest/API/Welcome.html - you can use either Minio SDKs or AWS S3 SDKs to talk to Minio or write your own.

Minio browser UI uses a different set of API based on JSON-RPC and bearer token auth - it is not a public API and can change at will. It shouldn't be used to build applications.

Feel free to join our https://slack.minio.io fo

[2017-08-24 06:25] harshavardhana commented on #4840
Referencing a previous bug which was closed here and what we found to be AWS iOS SDK bug https://github.com/minio/minio/issues/4731 where AWS iOS SDK fails to follow AWS S3 spec.

We have sent a previous PR for the `Transfer-Encoding` fix here https://github.com/aws/aws-sdk-ios/pull/638 and sadly its not accepted yet.

[2017-08-24 08:01] alonewithyou commented on #4840
@harshavardhana Oh this reference really helped. Luckily, files I need to upload are usually not larger than 15MB, adjusting AWSS3TransferManagerMinimumPartSize could work here for me. Thank you very much for helping, and hope this problem fixed soon!

[2017-08-24 08:17] dingjs opened #4852 "minio can not delete a folder"
Hi
minio can use /folder1/folder2/file to upload a file to a minio bucket with folders. if using mc rm /folder1/folder2,it can not rm the folder and have no error message.If I change the foler name to a not exist folder,mc throw a error message:Failed to remove XXXX.Object doest not exist.Do minio prefer to use folders or not,If I don't use folders.a bucket would have millions of files.
Thanks

[2017-08-24 10:55] donatello commented on #4852
@dingjs Minio server does support the usage of folders. However, empty directories cannot be created. If you want to delete a folder and its contents recursively, you can do `mc rm -r --force myminio/bucket/folder1/folder2`.

Minio server has no preference for using folders or not - it just implements the AWS S3 API. **It would be a good practice to use folders instead of having a bucket with a la

[2017-08-24 11:10] dingjs commented on #4852
Thank you for your reply . mc rm -r --force works fine.
You were saying that a bucket with millions of files works better than using folders.
My experience taught me that when a folder(a bucket is a folder in the filesystem) contains a lot of files has poor performance. Am I wrong or minio did some optimization of the bucket.

[2017-08-24 11:21] donatello commented on #4852
@dingjs No, I actually meant the opposite. I have edited the original. A folder with a large number of files will have poor performance at the filesystem level itself.

[2017-08-24 12:25] karlbunch commented on #4210
+1

[2017-08-24 12:38] #4852 closed, assigned to nobody

[2017-08-24 14:54] ws141 commented on #4850
@krishnasrinivas I see the reason for why you chose to drop the list of parts that is returned by GET ListParts but you are effectively dropping the support for verification of uploads of parts that some clients/users need to have.

It's even stated in the paragraph that you quoted by the AWS API:

Since this is the only way to perform a verification it poses a problem to clients/users since they

[2017-08-24 15:28] harshavardhana commented on #4850
The verification is already done when you do PutObjectPart i.e With setting Content-Md5. Now ListParts only returns partNumber and md5 hex this is of no use if the PutObjectPart already succeeded and duly verified the Content-Md5 set by the client so you are guaranteed that what you remembered on the client side is the same one server has.

Now even if it's not, upon CompleteMultipart server will

[2017-08-24 18:16] balamurugana commented on #4840
@alonewithyou I think you could close this issue.

[2017-08-24 19:04] fwessels opened #4854 "Complete CreateFile as soon as write quorum is obtained"
In CreateFile (for erasure coding), when writing out the parts to the individual disks or nodes, we can optimize the behaviour to return successful completion as soon as the write quorum is in.

That is, once we have received a number of successul responses that is equal to the write quorum, we can complete the function and return success. We should let the other operations complete normally but t

[2017-08-24 23:32] harshavardhana commented on #4851
Please close the issue if you have no further questions @hegphegp

[2017-08-25 00:14] deekoder commented on #4791
@AlViKo closing this as we don't have enough information to further look into this issue. Please reopen if you have more information.

[2017-08-25 00:14] #4791 closed, assigned to vadmeste

[2017-08-25 03:07] ebozduman commented on #4778
@gowithplanb : the issue is decided to be closed temporarily as `won't fix` for the time being.
If you can collect the strace outputs we've requested and provide it to us, we can re-open it.

[2017-08-25 03:07] #4778 closed, assigned to harshavardhana

[2017-08-25 03:21] ebozduman commented on #4822
Closing as fixed.

[2017-08-25 03:21] #4822 closed, assigned to fwessels

[2017-08-25 03:24] #4840 closed, assigned to balamurugana

[2017-08-25 03:31] ebozduman commented on #4793
Closing since this is actually an AWS issue.
@seanhuxy : if you would like to discuss it further or need help, please let us know.

[2017-08-25 03:31] #4793 closed, assigned to krishnasrinivas

[2017-08-26 03:12] #4851 closed, assigned to harshavardhana

[2017-08-26 03:12] #4848 closed, assigned to vadmeste

[2017-08-27 18:21] yuvalk opened #4858 "Support build on s390x"
Currently when trying to build on s390x (centos in this case), am getting:
[code]
but a build for sha256-simd goes smoothly,
so I guess it's some kind of build issue in minio,

TIA,
Yuval Kashtan

[2017-08-28 04:12] GarimaKapoor commented on #4776
Is this issue still relevant?

[2017-08-28 04:13] GarimaKapoor commented on #4750
If you have validated it can we close it @vadmeste

[2017-08-28 04:22] GarimaKapoor commented on #4710
@deekoder since we have already discussed on this issue. We should close it.

[2017-08-28 04:24] GarimaKapoor commented on #4704
@krisis did we reach any conclusion on this?

[2017-08-28 04:29] GarimaKapoor commented on #4658
@deekoder Is this resolved? are we seeing improvement in the code coverage?

[2017-08-28 04:38] krisis commented on #4704
@garima, we decided that we will work on this after we finish ongoing projects.

[2017-08-28 04:41] GarimaKapoor commented on #4624
this is resolved, can we close?

[2017-08-28 05:54] harshavardhana commented on #4778
We are working with @gowithplanb and MooseFS team tracking issue with MooseFS upstream - [***redacted link***]

[2017-08-28 06:47] harshavardhana commented on #4658
- [x] [`cmd/fs-v1-background-append.go`](https://github.com/minio/minio/blob/ec5293ce29ef03726c7174d9e3304bc156259c4e/cmd/fs-v1-background-append.go#L85-L88) ([example](https://codecov.io/gh/minio/minio/pull/4695/src/cmd/fs-v1-background-append.go#L85))
- [x] [`cmd/fs-v1-rwpool.go`](https://github.com/minio/minio/blob/ec5293ce29ef03726c7174d9e3304bc156259c4e/cmd/fs-v1-rwpool.go#L98-L115) ([example

[2017-08-28 07:35] harshavardhana opened #4860 "[enhancement] erasure/posix: Explore ways if possible to offload json un-marshalling to backend."
This issue is not a general bug but an enhancement affecting our master branch using free from submission here.

Currently we have `posix.go: ReadAll()` API - primary purpose of the API is to read a file in its entirety and returned back to the caller.  We used this call extensively in reading `xl.json`.   Once we get the response from the remote servers JSON unmarshalling is attempted.

This has

[2017-08-28 13:05] TuiTeamSearch commented on #4597
We're still experiencing the same issue. This morning we had roughly 4500 connections to Rabbit

Currently running Minio version: 2017-08-05T00:00:53Z
We switched to a self-hosted RabbitMQ on a separate Machine.
Config above is still valid.

Today I set up the test locally on my Mac with Docker:
With remote rabbit it works as described above, tested both hosted on cloudamqp.com service as describe

[2017-08-28 13:29] vadmeste commented on #4750
yes, we can close it

[2017-08-28 13:32] vadmeste opened #4861 "Make Minio Azure auto-scalable"
Enhance the template script to make Minio Azure auto-scalable

[2017-08-28 13:34] vadmeste commented on #4861
This is done but scaling decision is only based on CPU usage for now.

[2017-08-28 13:37] vadmeste opened #4862 "Write a template UI to deploy a Minio Azure with parameters specified by users"
Write a createUiDefinition.json which is a UI (or number of steps) to configure Minio deployment in Azure

[2017-08-28 13:38] vadmeste commented on #4862
Done

[2017-08-28 16:30] fwessels commented on #4860
We could also looking into accelerating JSON unmarshalling by writing some custom code (specific to the exact format that we use).

Do we know what the total performance (in MB/sec) is that we can parse?

[2017-08-28 18:03] krisis commented on #4732
@pintookhara did you get a chance to try nginx for reverse-proxy?

[2017-08-28 18:24] pintookhara commented on #4732
Cannot use nginx due to company IT policy, only IIS can be used. We have to drop the use of Minio if reverse-proxy does not work with IIS.

[2017-08-28 18:31] krisis commented on #4732
@pintookhara

Is IIS expecting the minio binary to be under inetpub/wwwroot folder? If so, does simply copying it over solves the issue for you?

[2017-08-28 18:38] krisis commented on #4732
@pintookhara Could you paste the rewrite rule(s) you tried to proxy object storage requests to a Minio server?

[2017-08-28 18:46] pintookhara commented on #4732
Followed these steps to setup reverse proxy in IIS [https://blogs.msdn.microsoft.com/friis/2016/08/25/setup-iis-with-url-rewrite-as-a-reverse-proxy-for-real-world-apps/](url)

[2017-08-28 18:49] krisis commented on #4732
@pintookhara Could you join us on https://slack.minio.io/?  We could go over your rewrite rules and see why it is not working with Minio.

[2017-08-28 19:40] krishnasrinivas commented on #4809
Alternate less confusing routing rules. There should be no clashes here.

[code]

With this web-browser address bar will look same as it is today except for login page.

Downside is admin API is `/minio/s/admin` and not `/minio/admin`

[2017-08-28 20:49] vadmeste opened #4863 "Add support of LetsEncrypt in Minio Azure"
We need first decide if we should use Letsencrypt, for example, does Letsencrypt support all recent browsers, then implement it.

[2017-08-28 20:51] vadmeste commented on #4863
One important point that we need to be aware, is the automatic renewal here. Minio doesn't support renewal of certificates only if we restart it.

[2017-08-28 21:39] fwessels commented on #4860
Quick test (in gjson):

[code]

reports

[code]

I guess we should be able to get at the very minimal 10x the performance.

[2017-08-28 22:07] krisis commented on #4834
@christianbaun could you provide us the mount options you used for NFS v3 and GlusterFS?

[2017-08-28 22:13] fwessels commented on #4526
This may be something to investigate as a serialization protocol: https://github.com/capnproto/go-capnproto2

[2017-08-28 23:54] krishnasrinivas opened #4866 "Disallow admin setconfig"
This came as a requirement during discussion for Cloud Foundry. But it is not related to CF in particular.

When access/secret keys are set through env vars, currently we allow setconfig through admin API even when the config's access/secret mismatch with the ones set through env vars . This should be disallowed. i.e adminAPIHandlers.SetConfigHandler() should return error when config's creds misma

[2017-08-29 00:01] harshavardhana commented on #4860
This is also possible if we can avoid reflection.

[2017-08-29 00:02] harshavardhana commented on #4834
`gluster volume info` also would be helpful and also please provide us the tar.gz of `/var/log/glusterfs`.

[2017-08-29 00:03] harshavardhana commented on #4863
We can convert our `concert` tool into a library here and then hot replace the TLS.  Caddy does this without downtime we should be able to leverage such a thing ourselves.

[2017-08-29 06:28] christianbaun commented on #4834
Here we have the GlusterFS-related information:
[var_log_glusterfs.tar.gz](https://github.com/minio/minio/files/1259284/var_log_glusterfs.tar.gz)

[code]

[code]

[2017-08-29 06:31] christianbaun commented on #4834
The mount options on client side for the NFS share were:

`$ sudo mount -o rw,noatime,soft,intr,retrans=3,proto=tcp,async 10.0.0.109:nfs_volume /nfs_volume/`

On server side we have this:

[code]

[2017-08-29 07:20] TuiTeamSearch commented on #4597
This is the result of `lsof` from our production environment, it's roughly 22k+ connections. This explains alot to us, since we see that Minio gets slow after awhile as well as not accepting new connections. We have not had any connectivity issues.

Please note also that when we kill all connections in Rabbit, Minio still holds them until the Minio service is restarted.

As stated in the Slack cha

[2017-08-29 07:51] harshavardhana commented on #4597
Thanks for letting us know @TuiTeamSearch do you have any minio console logs to share with us as well? - if you do have please share with us.

[2017-08-29 09:31] Dharshan2004 commented on #4155
I have a problem  and getting a job assertion failed error

[2017-08-29 09:50] Dharshan2004 commented on #4155
Assertion failed on job for minio.service.

[2017-08-29 17:15] vadmeste commented on #4863
This won't probably work since we have many Minio instances, I guess when one instance will have to renew the certificate, other certificates in other instances will be invalidated, or not ?

[2017-08-29 17:21] krisis commented on #4559
@deekoder this issue can be closed as discussed.

[2017-08-29 17:23] krisis commented on #4494
@deekoder we can close this issue since #4762 is merged.

[2017-08-29 17:25] krisis commented on #4387
@deekoder The upstream community is not active. I have closed the PR asking them to reopen if they find it compelling. It only makes sense to close this issue until upstream shows interest.

[2017-08-29 17:25] #4387 closed, assigned to krisis

[2017-08-29 17:37] #4559 closed, assigned to krisis

[2017-08-29 17:57] harshavardhana commented on #4863
They will be invalidated as well this renewal should happen in a distributed manner as well. But it is highly unlikely that we would need to support such a situation.

It is easier to support FS and Standalone Erasure for now.

[2017-08-29 19:27] deekoder commented on #4667
This is an exploration we have to do in future. Moving it there.

[2017-08-29 19:38] balamurugana opened #4868 "azure: allow parts > 100MiB size to work properly"
Currently if any multipart part sizing > 100MiB throws an error.  Such parts can be handled by chunking them into 100MiB and upload them into azure block blob.  Below is the discussion snippet.
[code]
Refer #4640

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Envir

[2017-08-29 19:41] balamurugana commented on #4640
Refer https://github.com/minio/minio/issues/3475

[2017-08-29 19:41] #4640 closed, assigned to balamurugana

[2017-08-29 19:46] harshavardhana commented on #4533
This is not an issue anymore, since we have decided to remove fcntl locks and change the backend quite entirely. Will re-open this again if we decide otherwise and have to do migration.

[2017-08-29 19:46] #4533 closed, assigned to harshavardhana

[2017-08-29 19:51] deekoder commented on #4023
#4026 will be tracking this. Closing as duplicate.

[2017-08-29 19:51] #4023 closed, assigned to krishnasrinivas

[2017-08-29 19:52] deekoder commented on #4337
PR being reviewed currently.

[2017-08-29 19:54] #4494 closed, assigned to krisis

[2017-08-29 20:00] vadmeste commented on #4624
Fixed by https://github.com/minio/minio/pull/4759

[2017-08-29 20:00] #4624 closed, assigned to vadmeste

[2017-08-29 20:01] deekoder commented on #4624
:+1:

[2017-08-29 20:04] #4617 closed, assigned to nobody

[2017-08-29 20:07] deekoder commented on #4704
Moving this to future.

[2017-08-29 20:32] krisis commented on #4863
@harshavardhan how would we support minio gateway?

[2017-08-29 21:03] harshavardhana commented on #4863
One problem with lets encrypt is is that they don't support wild cards yet.  But apart from that Gateway and FS use case won't be different i believe.

[2017-08-29 21:04] #4750 closed, assigned to vadmeste

[2017-08-29 21:07] deekoder commented on #4766
Refactoring as per https://github.com/minio/minio/issues/4809 will take care of this.

[2017-08-29 21:08] #4776 closed, assigned to krisis

[2017-08-29 21:18] fwessels commented on #4699
This issue can be closed now.

[2017-08-30 16:45] #4858 closed, assigned to harshavardhana

[2017-08-30 18:40] gowithplanb commented on #4778
This issue was not caused by the Minio deamon but by a race condition in the underlying MooseFS filesystem. A beta version of MooseFS client 3.0.98-1 with a fix confirmed the issue is solved now. Thanks to the MooseFS team for digging into this critical bug very fast and @harshavardhana for helping debug Minio to find the cause of the issue we actually had in the first place with the CB client.

[2017-08-30 20:57] jahands commented on #4210
I'd love this!

[2017-08-30 21:14] vadmeste commented on #4831
When all disks are initialized with time skew between nodes, I can see the following output
[code]

But when disks are not initialized, with time skew:

[code]

Shall we modify this and print a more sophisticated error message? I think we can do that: the code which decides that there is a configuration inconsistencies can also create the appropriate error message to show to the user.

[2017-08-30 22:31] krishnasrinivas commented on #4850
@godfoder @ws141 can this issue be closed? do you have any concerns? As @harshavardhana has explained the reason to return empty list for the ListObjectParts API is not just to make clients not use it but also it simplifies minio internally.

[2017-08-31 01:42] deekoder opened #4873 "Pushing a local Docker image to the DTR fails."
Filing for Makersphere.
## Expected Behavior
When using Minio instead of AWS S3 as a storage backend for Docker Trusted Registry (part of Docker EE),
all Docker images that get pushed from clients to the registy, get stored in a configured bucket on Minio.
If the Minio Browser is enabled, you can inspect these images in the bucket.
The Docker CLI will report no errors.

## Current Behavior
Pushing

[2017-08-31 01:44] deekoder commented on #4873
Related https://github.com/minio/minio/issues/4779

[2017-08-31 01:49] deekoder commented on #4873
works with `minio/minio:RELEASE.2017-07-24T18-27-35Z`

[2017-08-31 04:44] billschen opened #4875 "The Maxlength of boejct key?"
Is Some one can tell me the max length of object key?
I Put a file which is the filename is very long but fail like:

![ltc41](https://user-images.githubusercontent.com/19528399/29906203-fcb6c178-8e45-11e7-8a44-de5afe052357.png)

[2017-08-31 05:31] harshavardhana commented on #4875
Max length of object key is UTF-8 characters of 1024 bytes long - http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html.

Please visit us at https://slack.minio.io for quick answers @billschen

[2017-08-31 08:33] ws141 commented on #4850
@krishnasrinivas The AWS API docs referenced did not indicate the output of list parts is partial or cannot be trusted as far as I can tell - maybe consider adding list part to the list of not implemented object queries instead to make clients not use it? We understand if there is a need to simplify minio internally and are fine with your decision either way.

By the way, regarding #4564, if you a

[2017-08-31 08:41] yuvalk commented on #4858
thanks!!
seems to work now..
:-)

[2017-08-31 08:43] harshavardhana commented on #4850
The reason it is partial because of PutObjectPart() concurrency at any given point in time ListParts() is not guaranteed to return all the parts that are being uploaded (concurrently). So a client decision cannot be performed based on this.  Client knows which part it uploaded and which part failed so client knows when to complete.

ListParts() is just sort of a good way to know how much of storag

[2017-08-31 09:03] ws141 commented on #4850
@harshavardhana Alright, thanks for the explanation!

[2017-08-31 11:32] nitisht commented on #4381
@andrewklau please take a look at #4877

[2017-08-31 11:54] donatello commented on #4873
The DTR issue is because list-multipart-uploads has been changed to return empty list with PR https://github.com/minio/minio/pull/4694 and issue https://github.com/minio/minio/issues/4564

This was confirmed by setting up a DTR server and capturing the network traffic between the DTR server and the Minio storage server. The raw capture is [here](https://pastebin.com/8sGyQ5TW).

[2017-08-31 15:15] N1v0k opened #4880 "Calling minio via IP Vs Hostname"
I'm using the Java AWS SDK.
Everything is working fine if I provide the minio host via ip+port.

## Expected Behavior
When calling
`PutObjectRequest putObjectRequest = new PutObjectRequest(dstBucket,dstKey,localFile);`
The file is uploaded to http://miniohost:1234/dstBucket

## Current Behavior
It tries to upload the file to:
http://dstBucket.miniohost:1234

If I provide the ip it uploads to:
http

[2017-08-31 15:26] N1v0k commented on #4880
I didn't see this:
https://github.com/minio/cookbook/blob/master/docs/aws-sdk-for-java-with-minio.md

This solved the issue of course:

[code]

This way you don't need any subdomains . (which was the keyword I was searching for)

Many thanks for this great project.

[2017-08-31 16:38] harshavardhana commented on #4880
Feel free to close this issue @Gmentsik

[2017-08-31 16:44] #4880 closed, assigned to nobody

[2017-08-31 17:37] DanLauer commented on #4210
+1

[2017-08-31 18:53] krishnasrinivas opened #4881 "FS: return error if part size differ"
For multipart, currently we do background append. This is inefficient, better approach is to use `pwrite()` and write the part to the right offset. When the client sends complete multipart upload call we should have the full file ready to be renamed to the main namespace.

There are limitations with this approach, i.e clients can't send variable part sizes. Hence the change can break clients if th

[2017-08-31 19:05] vadmeste commented on #4881
Linux (and probably Windows) supports adding a data in the middle of a file in a non-costly manner, does it help to resolve variable part sizes problem?

Though this is better to have a simpler code.

[2017-08-31 20:16] yagonobre opened #4882 "[Dockerfile] Add support to create a bucket on startup"
## Expected Behavior
If the user set the env `CREATE_BUCKET`, the docker entrypoint will create a bucket in minio
## Current Behavior
It is not possible
## Possible Solution
Add `mc` to minio server dockerfile

## Context
When I use minio chart as a dependency of another helm charts, I need to create a bucket manually

## Your Environment
* Version used (`minio version`): RELEASE.2017-08-05T00-00-

[2017-08-31 21:30] harshavardhana commented on #4882
This is not correct @yagonobre you should use external tools such that `mc`.  Minio starts with a clean instance it will confusing for our users on Minio's different modes of operation.

You can simply orchestrate this yourself and carry this following compose config file.

[code]

[2017-08-31 22:02] yagonobre commented on #4882
Maybe can I add a option like that in the [minio chart](https://github.com/kubernetes/charts/tree/master/stable/minio)?

[2017-08-31 22:03] harshavardhana commented on #4882
// cc @NitishT can provide you more details on that.

[2017-08-31 22:21] harshavardhana commented on #4840
@alonewithyou can you update your findings in our doc here https://github.com/minio/cookbook/blob/master/docs/aws-sdk-for-iOS-with-minio.md ? for large files.

It would be immensely helpful if you can provide your feedback.

[2017-08-31 22:53] krishnasrinivas commented on #4881
Had a chat with @vadmeste about using FALLOC_FL_INSERT_RANGE but it is not flexible as it expects offsets and length to be at 4K boundary

[2017-09-01 00:55] billschen commented on #4875
@harshavardhana :+1:  thank you! I will try use slack.

[2017-09-01 00:55] #4875 closed, assigned to nobody

[2017-09-01 03:45] nitisht commented on #4882
@yagonobre yes you can do that. You can add a mode like `--default_bucket=true,bucket_name=somebucketname`

[2017-09-01 04:07] yagonobre commented on #4882
Thanks, I'll submit a PR later

[2017-09-02 17:55] beniwtv commented on #4638
I have the exact same issue: I uploaded a 14 GB video file to minio (3 node cluster), and set the policy to 'download'. When I now request the file, it will take ages to even start downloading.

(wget just reports "HTTP request sent, waiting for response...").

I guess minio processes the entire file before starting to send the response? Any solution to this?

[2017-09-02 18:21] harshavardhana commented on #4638
We will take a look @beniwtv . Thanks for reporting.

[2017-09-03 18:58] harshavardhana opened #4885 "[gateway-s3] CopyObjectPart is not implemented mint:minio-go test fails."
## Expected Behavior
CopyObjectPart should be implemented.

## Current Behavior
[code]

## Possible Solution
Implement CopyObjectPart()

## Steps to Reproduce (for bugs)
Just run
[code]

## Context
Testing release readiness.

## Your Environment
RELEASE.2017-09-01T19-22-40Z

[2017-09-03 21:26] huksley commented on #4670
This (or similar) issue is also affects my (pretty simple setup)
Ubuntu 16.04 + Docker minio (both edge and latest tried) + Minio Java SDK 3.0.6 or even embedded HTTP UI

Every putObject over multipart threshold timeout with errors in minio-server:
[code]

Setting `MInioClient.setTimeout(0, 0, 0);` causes Java to wait forever. No network activity.

[2017-09-03 22:11] xmovu commented on #4670
Yeah I confirm that this is still happening.

2017-09-03 22:26 GMT+01:00 Ruslan Gainutdinov <notifications@github.com>:

--
*Com os meus melhores cumprimentos,*
*Best Regards,*

*Miguel Ângelo Santos Pereira*

[2017-09-03 23:03] harshavardhana commented on #4670
What is the file size under use? are you running docker in ephemeral mode i.e not having a '-v' mount bound to the disk? @huksley

I am able to use `mc` and upload easily upto 20G virtual machine files. Here is how i ran

[code]

[code]

I also see that the log file that you shared doesn't convey that you used minio-java SDK, instead i see that you used minio browser to upload a file, Can you conf

[2017-09-04 00:20] xmovu commented on #4670
Howdy,

Understood, thing is, we've only been using "transfers=2" it's a very, very
low amount of simultaneous transfers.
We never got any of these errors with any other cloud provider, Amazon,
Google, etc.

2017-09-04 0:03 GMT+01:00 Harshavardhana <notifications@github.com>:

--
*Com os meus melhores cumprimentos,*
*Best Regards,*

*Miguel Ângelo Santos Pereira*

[2017-09-04 00:54] harshavardhana commented on #4670
You are right about this, but the problem is that this level of timeout might be too aggressive in the first place for some amount of users who are accessing Minio over a high latency network. Few releases ago we never had this timeout but at that time users were prone to long standing idle connections and having no way to clear them.

Fair comparison i will take your word for it, i will re-invest

[2017-09-04 00:56] xmovu commented on #4670
Hello,

I see, but the latency is actually 50-60 ms tops, so I really do not know
why this would happen.

I'd say that it's another bug instead.

No iperf, but I can tell you, it's 20mbps, uploading at max speed.

2017-09-04 1:54 GMT+01:00 Harshavardhana <notifications@github.com>:

--
*Com os meus melhores cumprimentos,*
*Best Regards,*

*Miguel Ângelo Santos Pereira*

[2017-09-04 01:09] harshavardhana commented on #4670
@wdimd okay will assume 20mbps i.e 2.5MBytes/sec  - if possible iperf would be beneficial.

[2017-09-04 04:28] huksley commented on #4670
@harshavardhana, I am using mounted folders via -v. Docker using aufs driver.
When using Java SDK and `MinioClient.setTimeout(0, 0, 0)` the Java hangs forever.
Otherwise it timeouts with
[code]

and this entry at minio-server log:
[code]

[2017-09-04 07:34] harshavardhana commented on #4670
@huksley this looks like client closed connection while server was still reading the incoming data ("Incomplete Body") -  it doesn't seem like the same issue as mentioned here. You should open https://github.com/minio/minio-java/issues issue instead and provide a sample program/reproducer (if possible) and also the file size used.

[2017-09-04 09:24] xinfengliu opened #4887 "In distributed deployment, Minio responses slowly after one node with data is down"
Following "minio server --help", set up a simple 4-node distributed minio, each node consists of 1 disk. Push some data to it, then shutdown a node, minio responses very slowly either from browser or minio client.

## Expected Behavior
minio should work as normally after 1 node shutdown since we still have (4/2 + 1 = 3) quorum.

## Current Behavior
Before shutting down the node:
[code]
After shutt

[2017-09-04 09:27] harshavardhana commented on #4887
@xinfengliu we have mitigated the issue differently in the master branch - you can test the "minio/minio:edge" and let us know.

[code]

Previous issue reported is #4183

[2017-09-04 18:55] huksley commented on #4670
I`ve used same client to access AWS S3 and files were uploaded successfully.

[2017-09-04 18:56] harshavardhana commented on #4670
What is the file size? @huksley

[2017-09-04 19:08] huksley commented on #4670
Sizes range from 3kb to 300mb
[code]

[2017-09-04 19:12] harshavardhana commented on #4670
So after doing some testing here with reducing the overall bandwidth was able to sort of half way reproduce this issue. This is with the master branch

To test this setup had a remote NIC with reduced bandwidth using [`tc`](http://lartc.org/manpages/tc.txt), limit the outgoing and incoming bandwidth to 20mbps.
[code]

iperf shows a much lower number as well
[code]

The errors are multiple does loo

[2017-09-04 19:17] huksley commented on #4670
@harshavardhana I am using Ubuntu Linux 16.04 + docker-engine ``17.03.0~ce-0~ubuntu-xenial``
On client side I am using Windows 8.1 + Java 64bit 1.8.0_144

[2017-09-04 19:19] harshavardhana commented on #4670
what is the latency between client and server? @huksley

[2017-09-04 19:26] huksley commented on #4670
@harshavardhana,
iperf3 measurements
[code]

ping measurements:
[code]

[2017-09-04 19:28] harshavardhana commented on #4670
Thanks @huksley Looks like its the same problem at this point in time. Currently i am running tests with increasing timeouts from their default values.  Will post here my findings thanks for your patience.

[2017-09-05 00:45] #4597 closed, assigned to harshavardhana

[2017-09-05 03:36] xinfengliu commented on #4887
@harshavardhana Thank you very much for the pointer.

Today I built a new minio binary from master branch, cleared existing minio storage, then did the test again. But it seems things get worse:  Shutdown one node, minio operations never come back. e.g. "mc admin info" (I waited over 10 minutes).

By the way, I also tested the scenario of just killing minio process on one node. I tested both curre

[2017-09-05 09:49] harshavardhana commented on #4670
Okay so as expected the timeout needs to be increased to a good enough higher value from default 30secs.

[code]

The following changes allowed rclone to move data to minio without getting any timeouts, this is with default concurrency of 4 with rclone.  The total data size moved was around 68GB files varying in sizes from small 5MB files to 5-6GB.

Will send a fix changing these default values.

[2017-09-05 13:32] owetterau commented on #2965
Hello, are there any news for this issue?
Unfortunately, this bug prevents us from using Minio which really is a shame, because the other solution we are currently using is not very stable...

[2017-09-05 14:49] xmovu commented on #4670
Howdy,

Got it, so that'd solve the issue I assume?

I was even using default concurrency of 2, same would happen with 1.

2017-09-05 10:50 GMT+01:00 Harshavardhana <notifications@github.com>:

--
*Com os meus melhores cumprimentos,*
*Best Regards,*

*Miguel Ângelo Santos Pereira*

[2017-09-05 15:18] damianh opened #4889 "ContentMD5 header, when set with putting an object, is not being returned when getting an object"
Using the AWSSDK for .NET I am specifying the ContentMD5 of an object being PUT. When getting the objects, the ContentMD5 on the response headers is missing.

## Expected Behavior

`ContentMD5` on the response should be the same value as define when putting the object.

## Current Behavior

`ContentMD5` is on the response should be specified.

## Steps to Reproduce (for bugs)

    using System;

[2017-09-05 15:20] damianh commented on #4889
PutObject request:

![image](https://user-images.githubusercontent.com/57436/30068507-4d582fce-925e-11e7-9dfb-8888aa51ceeb.png)

GetObject response has no Content-MD5 response header:

![image](https://user-images.githubusercontent.com/57436/30068555-6f3970ee-925e-11e7-97e1-e25fb6ef5733.png)

[2017-09-05 16:38] harshavardhana commented on #4889
Etag is returned for Content-MD5 .

[2017-09-05 16:39] harshavardhana commented on #4670
Yes it should . Btw rclone default parallelism is 4.

[2017-09-05 16:44] xmovu commented on #4670
Hello,

Got it, so what should I do to upgrade this?

2017-09-05 17:39 GMT+01:00 Harshavardhana <notifications@github.com>:

--
*Com os meus melhores cumprimentos,*
*Best Regards,*

*Miguel Ângelo Santos Pereira*

[2017-09-05 16:46] huksley commented on #4670
Does 15min limit mean what ONE file must be sent within 15mins?
UPDATE: I thought multipart is used so there is multiple request/response cycles during upload of one file.

[2017-09-05 16:47] harshavardhana commented on #4670
It's not merged yet. Would you be interested in testing a binary for us ? Can you provide the platform you are using ?

[2017-09-05 16:47] huksley commented on #4670
@harshavardhana Can test right now.

[2017-09-05 16:49] harshavardhana commented on #4670
No 15 min doesn't mean that. It is per connection each read and write timeout it has nothing to do with S3 API.

[2017-09-05 17:30] poornas commented on #4889
@damianh, do you have further questions? As @harshavardhana mentioned, we return Etag but not Content-MD5 header

[2017-09-05 18:11] thejacobtaylor opened #4890 "Odd time units in update notification"
Launch the server with an old version from the command line. The error message says:
"You are running an older version of Minio released 3 months from now"
Expected
released 3 months ago

Example launch:
minio server /tmp/NodeA

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ You are running an older version of Minio released 3 months from now ┃
┃ Update: https://dl.mini

[2017-09-05 18:15] damianh commented on #4889
Thanks for fast response.

I am away from computer until tomorrow. Then I will verify that S3 behaves this way (I thought it set the ContentMD5 header, but will check).

From the screenshots above, one can see that the Etag value is different to the Content-MD5. Should they be the same? Am I missing something here? Encoding?

Also, if the object was multipart uploaded, is the Etag and Content-MD5

[2017-09-05 18:22] harshavardhana commented on #4889
ETag is hex encoded - Content-Md5 is sent as base64.  ETag is not always md5sum of the object uploaded - For more information read S3 docs - http://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html

[2017-09-05 18:28] harshavardhana commented on #4890
@thejacobtaylor this is actually fixed in the latest build.

Fixed by
[code]

and
[code]

Newer message
[code]

[2017-09-05 20:54] deekoder commented on #4885
this is blocking release @donatello

[2017-09-05 21:06] balamurugana opened #4891 "[azure] gateway fails client side encryption put object"
When running minio-java functional test on azure gateway fails with below error
[code]

where  the client sent below headers
[code]

In further investigation, Azure doesn't support some header keys  eg. `X-Ms-Meta-X-Amz-Iv` (note that `X-Amz-Meta` prefix is replaced by `X-Ms-Meta`)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## C

[2017-09-05 21:11] balamurugana opened #4892 "mint tests for gateways fail on putobject call with SocketTimeoutException"
For all three gateways, multipart put call fails on mint.

Stack trace for gcs:

java.net.SocketTimeoutException: timeout
	at okio.Okio$4.newTimeoutException(Okio.java:227)
	at okio.AsyncTimeout.exit(AsyncTimeout.java:284)
	at okio.AsyncTimeout$2.read(AsyncTimeout.java:240)
	at okio.RealBufferedSource.indexOf(RealBufferedSource.java:344)
	at okio.RealBufferedSource.readUtf8LineStrict(RealBufferedS

[2017-09-05 21:28] deekoder commented on #4892
Found in the release build.

[2017-09-05 22:59] krishnasrinivas commented on #4891
@balamurugana found that `X-Ms-Meta-X-Amz-Iv` is not supported by Azure but `X-Ms-Meta-Myiv` is supported, hence there is nothing much we can do here.

one thing that can be done is convert `X-Ms-Meta-X-Amz-Iv` to `X-Ms-Meta-SomeSupportedKey` in the gateway and convert it back for GET/HEAD requests. Needs discussion.

[2017-09-05 23:05] krishnasrinivas commented on #4892
is there any error log by minio server @balamurugana ? do you know if minio-java does anything in particular? because multipart PUT otherwise works fine.

[2017-09-05 23:29] balamurugana commented on #4892
@krishnasrinivas Basically three issues as per the trace.
1. GCS gateway times out.  The test is put object with client side encryption.
2. S3 gateway returns internal error on `putObject_test2()` which does multipart put object. `ErrorResponse(code=InternalError, message=We encountered an internal error, please try again., bucketName=null, objectName=null, resource=/minio-java-test-15fpcms/minio-

[2017-09-05 23:56] #4868 closed, assigned to balamurugana

[2017-09-06 00:20] fwessels commented on #4887
Hello @xinfengliu you say you also tested the "scenario of just killing minio process on one node" which works fine as you report.

What is the difference between "shutdown one node" and "killing minio process on one node" -- obviously if you are fully shutting down a node and killing all minio instances as a side effect then there are no minio instances left running, meaning that it will not work

[2017-09-06 00:33] fwessels commented on #4854
After giving it more thought, this issue has a bit more impact. Exiting out early would mean releasing the write lock before all write operations are necessarily completed.

Thus a subsequent (blocking) read lock could be released before all underlying write operations are finished. Since we do not know which write operations may have been slow/incomplete, we run the risk of reading potentially in

[2017-09-06 00:39] #4850 closed, assigned to krishnasrinivas

[2017-09-06 00:45] deekoder commented on #4836
@DrRibosome please follow https://github.com/minio/minio/pull/4156. Closing this as duplicate.

[2017-09-06 00:45] #4836 closed, assigned to harshavardhana

[2017-09-06 00:57] #4699 closed, assigned to fwessels

[2017-09-06 00:58] #4337 closed, assigned to fwessels

[2017-09-06 01:07] deekoder commented on #4732
We do plan to do this @pintookhara  in future.

[2017-09-06 03:30] xinfengliu commented on #4887
Hi @fwessels ,
I have 4 hosts (nodes), each host runs a minio instance.
when you just kill a minio process on one host , the host OS is alive, so testing minio service liveness gets result very quickly:
[code]
When you shutdown a node, the host OS is down, testing minio service liveness depends on underlying TCP/IP stack, in my environment, this can be over 2 minutes (if the host OS is shutdown ju

[2017-09-06 10:48] damianh commented on #4889
It appears that S3 doesn't respond with an object's Content-MD5 thus not enabling client side integrity checking.

I was led to believe that due to the presence of such a property in the response type in the SDK. :|

Sorry for wasting your time.

[2017-09-06 10:48] #4889 closed, assigned to poornas

[2017-09-06 10:50] damianh commented on #4889
This is deceptive:

![image](https://user-images.githubusercontent.com/57436/30108260-ee4268fc-9301-11e7-8c4c-bb1df53d68f9.png)

[2017-09-06 12:35] mpepping commented on #4873
Having this issue with minio version `2017-08-05T00:00:53Z`. Using Docker DTR 2.2 and configured S3-storage without TLS. Minio is running native.
Can confim it does work OK with the `2017-07-24T18-27-35Z` release of minio, as mentioned by @deekoder.

[2017-09-06 18:15] jdelamar commented on #4670
@harshavardhana I have test your fix right now and it seems to be working. I am loading a 2GB file (nothing insane) in mino and using Druid's S3 apis to read the raw file and store it (back into S3).

My Druid task would take about 30 minutes before with a lot of I/O timeout as mentioned above.

I have build your fixe and re-did the same test, and I now see now timeouts.

I am on Google's GCE, HDD

[2017-09-06 18:31] harshavardhana commented on #4670
@jdelamar how did you build the fix?

[2017-09-06 19:00] jdelamar commented on #4670
I have cloned your repo and built a docker image from your branch, however, I just realized that I had built the wrong branch, after 15 minutes, I was seeing timeouts again. Let me retry again later today.

However, is there something additional I need to do?

[2017-09-06 19:18] harshavardhana commented on #4670
@jdelamar it won't build the PR since the edge is built only from master not from a local git repo. You would need to change your Dockerfile to build it locally.

Let me build an push a new docker image.

[code]
Here you go.

[2017-09-06 19:52] fwessels commented on #4887
There is not much we can improve if the host OS is down (shutdown), those timeouts are beyond our control.

Great that you are using a load-balancer. Obviously when one of the minio instances is down, it may takes some short time for the load balancer to detect that an instance is down and start skipping it.

The NFS mount looks a different issue to me, feel free to file a separate issue for this.

[2017-09-06 20:00] jdelamar commented on #4670
haha, just saw that. Thanks.

[2017-09-06 21:59] jdelamar commented on #4670
@harshavardhana All right so no timeouts for my 2GB file for 30 minutes, using the real load that time ;)
I am going to retry it a few time, but I like this fix already!

[2017-09-06 23:01] harshavardhana commented on #4670
Great news @jdelamar

[2017-09-07 01:01] xmovu commented on #4670
Hello,

Sorry for my late response guys, I have been way too busy.

I do not use Docker but am more than willing to test a new binary should
you wish! :-)

2017-09-07 0:01 GMT+01:00 Harshavardhana <notifications@github.com>:

--
*Com os meus melhores cumprimentos,*
*Best Regards,*

*Miguel Ângelo Santos Pereira*

[2017-09-07 01:12] harshavardhana commented on #4670
No problem @wdimd here you go
[minio.zip](https://github.com/minio/minio/files/1283177/minio.zip) - i am assuming you are using Linux amd64.

[2017-09-07 01:18] xmovu commented on #4670
Hello,

Downloaded it, and it seems there's no errors at all! At least running
sync, with the default 4 concurrent transfers.

2017-09-07 2:13 GMT+01:00 Harshavardhana <notifications@github.com>:

--
*Com os meus melhores cumprimentos,*
*Best Regards,*

*Miguel Ângelo Santos Pereira*

[2017-09-07 01:19] xmovu commented on #4670
Hello,

Spoke too earlier.
Error in reading from new TLS connection.

2017-09-07 2:17 GMT+01:00 Miguel Ângelo Santos Pereira <mail@miguelsp.net>:

--
*Com os meus melhores cumprimentos,*
*Best Regards,*

*Miguel Ângelo Santos Pereira*

[2017-09-07 01:44] harshavardhana commented on #4670
Please post the entire error this is not helpful @wdimd

[2017-09-07 02:39] xinfengliu commented on #4873
I also use Minio 2017-08-05T00:00:53Z and DTR 2.3.2, and push images without issues. The differences are: I use docker engine 17.06.1-ee-2, and I run Minio (distributed mode) on host OS rather than in container.

[2017-09-07 04:03] yagonobre commented on #4882
https://github.com/kubernetes/charts/pull/2061
sorry for the delay

[2017-09-07 04:07] harshavardhana commented on #4882
Thanks a lot @yagonobre

[2017-09-07 04:11] nitisht commented on #4882
Looks great @yagonobre thanks a lot for the effort. I added couple of comments on the PR. I will test the changes later in the day today, will let you know how it goes

[2017-09-07 04:18] yagonobre commented on #4882
Nice! I updated the pr.

[2017-09-07 15:40] nitisht commented on #4882
@yagonobre I tried testing the changes, but new bucket creation gets stuck after

[code]

Did you face this issue? Note: I am testing this on `minikube`

[2017-09-07 16:29] cynthia commented on #4210
It is worth noting that the cross compilation capabilities Go provides is nearly not enough to offer full coverage across all Synology product lines. It is possible to install via ssh and autostart with standard init trickery - I've just tried the official ARM32 build (and a freshly build ARM32 build) on my 416slim and it seems to work just fine, FWIW.

[2017-09-07 18:16] #4866 closed, assigned to poornas

[2017-09-07 18:16] #4670 closed, assigned to harshavardhana

[2017-09-07 18:22] deekoder opened #4895 "Error Messages should be refactored."
We need to revisit all error messages in server, gateway and see if we return and or propagate/translate errors accordingly.

[2017-09-07 18:28] balamurugana opened #4896 "[gateway] handle backend service timeout properly"
Gateway would need to translate timeout or socket timeout errors from backend service as `RequestTimeout` S3 error.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and ver

[2017-09-07 18:55] yagonobre commented on #4882
Sorry, I make some mistakes. I updated the PR and now this work. I test on kubernetes 1.7.5

[2017-09-07 19:19] #4120 closed, assigned to nobody

[2017-09-08 04:26] nitisht commented on #4882
Thanks @yagonobre I will try again

[2017-09-08 05:36] nitisht commented on #4882
Works fine @yagonobre . There is one more small issue, I just added comment in the Charts PR, kubernetes/charts#2061

[2017-09-08 11:49] matti opened #4897 ""Waiting for first server to come online" takes forever"
## Expected Behavior
servers initialize and boot.

## Current Behavior
Sometimes (?) it seems that when starting 4 servers at the same time, all servers just keep printing

`Initializing data volume for first time. Waiting for first server to come online (elapsed **minutes**)`

## Steps to Reproduce (for bugs)
1. Start servers with fresh data volumes at the same time
2. ???
3. profit

## Your Envi

[2017-09-08 11:49] matti commented on #4897
Fixed this by adding "sleep 5 * instance_number"

[2017-09-08 13:12] donatello opened #4898 "[Docs] [Bucket Notification]: Add list of possible object events in the docs"
## Expected Behavior

The list of possible events needs to be documented. Users cannot discover for example that "object accessed" events can also be sent via the notification system. The list of notification events possible in the code are here - https://github.com/minio/minio/blob/master/cmd/bucket-notification-datatypes.go#L107

## Current Behavior

Docs only refer to update/insert events and t

[2017-09-08 14:05] trusch opened #4899 "Fail to put zero bytes object with go sdk"
## Expected Behavior
go minio sdk put zero-byte file should succeed

## Current Behavior

go minio sdk put zero-byte file doesnt succeed:
Error: The XML you provided was not well-formed or did not validate against our published schema.

## Possible Solution
No idea, I think its a bug in the go-sdk because there are closes issues which are related to this.

## Steps to Reproduce (for bugs)
upload z

[2017-09-08 20:08] poornas commented on #4899
@trusch, could you provide a snippet of the code that fails, go version and version of go sdk used?

[2017-09-08 22:05] fwessels commented on #4897
@matti What is the environment that you are running the distributed servers in?

Eg. are they run in containers or are they run on separate servers?

[2017-09-09 00:58] balamurugana opened #4900 "[gateway/s3] list object v2 does not work properly"
Test doing recursive list object v2 for 1050 objects, fails.
[code]
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2017-09-09 07:43] trusch commented on #4899
@poornas I'll put something together this evening.

[2017-09-09 11:05] trusch commented on #4899
go version: `go version go1.8.3 linux/amd64` (yes, I need to update ;))
minio-go version: `ab4751ef607ceca97e30a3e8c0f890e2c19c1ff0` (one commit after v3.0.2)

[code]

[2017-09-09 11:07] trusch commented on #4899
I know I could do some special handling for this case and simply don't upload empty files, but I expected it to work, so I leave this issue here!

[2017-09-09 13:31] matti commented on #4897
Containers with kontena.io

[2017-09-09 13:32] matti commented on #4897
And four servers in the same datacenter

[2017-09-09 20:26] kybom opened #4902 "how to cancel the shared URL"
## Expected Behavior

In browser,I  share a object.Now I wan to cancel the  shared link,keep the object private.
## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link

[2017-09-09 21:19] harshavardhana commented on #4902
There is no way to do that in AWS S3 Specification @kybom

[2017-09-10 06:23] harshavardhana commented on #4897
Do you have a sample configuration or command line on how you deployed?  were your ACCESS_KEY and SECRET_KEY same on all the nodes?

[2017-09-10 06:30] harshavardhana opened #4903 "Running distributed on a fresh setup - storage preparation fails consistently"
## Expected Behavior
Distributed setup regardless of being a fresh setup starts consistently.

## Current Behavior

Following script fails quite consistently.
[code]

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Quite simply run the above referenced script.

## Context
Distributed setup

## Your Environment
master branch.