[2018-08-06 20:54] harshavardhana opened #6251 "High memory usage in http/rpc framework"
** not using the template on purpose **

After using Minio from the latest master and doing some performance testing while reading 32MiB objects with 4096 workers, we see a significant increase in memory. Erasure coding is not using a lot of memory here instead it seems that memory is significantly higher due to gob.NewDecoder using bytes.Buffer.

The relevant graph attached here... [mem.pdf](http

[2018-08-06 22:04] harshavardhana commented on #6251
[mem.pdf](https://github.com/minio/minio/files/2264234/mem.pdf) - made a slight change in cmd/rpc to see the implementation difference, still there is large amount of memory usage.

[code]

[2018-08-06 22:58] harshavardhana commented on #6251
The significant memory usage has resulted from two functions i.e

[code]

and RPC client call method

[code]

Notice the usage of bytes.Buffer without sync.Pool results in significant GC overhead.

[2018-08-07 04:14] vermaden commented on #6151
Ok.

[2018-08-07 08:13] huytn opened #6255 "Can not upload file larger than 1MB"
After upgrade from "Version: 2016-12-13T17:19:42Z" to "Version: 2018-08-02T23:11:36Z"

![screen shot 2018-08-07 at 2 51 19 pm](https://user-images.githubusercontent.com/5128892/43763201-575ce68c-9a54-11e8-9876-4bf072108ba6.png)

[2018-08-07 09:05] riazarbi commented on #6237
@eco-minio command works. Thanks!

[2018-08-07 11:05] byaminov opened #6256 "EOF on fs.json when listing objects"
I somehow occasionally get corrupted `fs.json` file in our environment: it has 0 bytes size. As a result the listing of files in that directory fails, including recursive listing from parent directory.

## Expected Behavior
* Metadata files (`fs.json`) should not get corrupted
* If they do it should not prevent a file from being read, although without proper metadata.
* If they do it should not pr

[2018-08-07 11:51] Praveenrajmani commented on #6219
Hey @atrauzzi ,
I tried passing `Metadata` in an UPLOAD request. It seems to work fine for me here

[code]
And i cannot see `options` as an attribute to put object request here in aws-sdk doc
[https://docs.aws.amazon.com/aws-sdk-php/v2/api/class-Aws.S3.S3Client.html#_putObject](url)

And i think you have missed the `params` keyword . Can you try with

[code]

Or would be better if you share us the

[2018-08-07 12:47] vadmeste commented on #6255
@huytn if you are using nginx, you should configure it to allow large upload (client_max_body_size) as mentioned here https://docs.minio.io/docs/setup-nginx-proxy-with-minio.html

[2018-08-07 14:16] maxozerov commented on #3595
this issue still exists:
- 'Minio/RELEASE.2018-08-02T23-11-36Z (linux; amd64)'
- s3cmd version 1.6.1
- Docker version 18.06.0-ce, build 0ffa825
- OS Description:    Ubuntu 16.04.5 LTS

_Example:_
**Region:    ZZZ**
_(.s3cfg + config.json)_
`s3cmd mb -d --no-check-certificate s3://test`

`DEBUG: signature-v4 headers: {'x-amz-content-sha256': 'a70e963f9ce55e14adcaf0c3f9aae558bcd8b2d4bedd7f3f193a8b85

[2018-08-07 14:42] kannappanr commented on #6256
@byaminov Thanks for reporting this issue. We will take a look and get back to you.

[2018-08-07 15:51] harshavardhana commented on #3595
If you set region ZZZ you need to set such a region in s3cfg as well, if you want server to support it you need edit server region field to be ZZZ as well or leave it blank. Leaving server config.json region allows all regions.

[2018-08-07 16:07] harshavardhana commented on #3595
For example

[code]

Server region is empty
[code]

[code]

This is with blank region which allows all regions.

Now with proper region set on server side

[code]

[code]

Returns an error if you see the problem here s3cmd converts ZZZ region to lower case value
[code]

Just set the region lower case everything else works fine @maxozerov - From what this looks like a bug in s3cmd implementation of

[2018-08-07 17:17] aarushiarya commented on #6219
This is the code snippet he used @Praveenrajmani -

[code]
 The storage options is the `options` mentioned in the ticket. He is using minio 2018-07-23T18:34:49Z, as a docker image.

There is no aws sdk php api calls in the snippet @atrauzzi provided.

[2018-08-07 17:39] ebozduman commented on #6151
Hey @vermaden,

I'd like to confirm with you just to make sure I fully understand your case.

After the upgrade to the latest minio, you've said you saw exactly the same behavior.

Did you also see the same error message,
`"time="2018-07-13T10:17:42+02:00" level=error msg="Unable to shutdown http server" cause="timed out. some connections are still active. doing abnormal shutdown" source="[signals

[2018-08-07 17:45] aarushiarya commented on #6219
I tried `copyObject` with metadata and it works fine for me.

[code]

[2018-08-07 19:36] vermaden commented on #6151
The setup is on virtual machines, so I will try all of these tests:
 - vm shutdown
 - CTRL-C for the minio process
 - kill -9 for the minio process

I will reply after about 12-14 when I will be at work within the environment.

Regads,
vermaden

[2018-08-08 02:26] lhysrc opened #6260 "How to protect SecretKey in my js client app?"
## Expected Behavior

I want to use **minio js client** in my Angular App, but the AccessKey and SecretKey is not safe neither in code or config asset file.

## Possible Solution

Is there a way to get a key for a short time to access the minio server (just like jwt)? So I can get the key  by the backend server.

[2018-08-08 02:31] harshavardhana commented on #6260
Never use secret key on browsers, use presigned URL by generating it on the server https://github.com/minio/minio-js#api-reference--presigned-operations

[2018-08-08 02:33] huytn commented on #6255
@kmkanagaraj:
+Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU/Linux
+Nginx: 1.11.8
+Golang: 1.7.4 linux/amd64
+Minio
   - mode: distributed
   - version: 2018-08-02T23:11:36Z

@vadmeste It works now
Thanks you all

[2018-08-08 02:33] #6255 closed, assigned to kmkanagaraj

[2018-08-08 13:12] imdurgadas opened #6262 "Add support for s390x"
## Expected Behavior
Build from source should work on s390x architecture

## Current Behavior
When built from source on s390x architecture, the build fails with architecture not supported.

## Possible Solution
Add s390x in the supported list `minio/minio/buildscripts/checkdeps.sh`

## Context
Package doesn't work on s390x architecture.

[2018-08-08 18:18] vermaden commented on #6151
I have made tests today, all things work with latest version of minio.

Please close the bug as solved.

Thank you for patience and hints.

Regards,
vermaden

[2018-08-08 18:19] #6151 closed, assigned to ebozduman

[2018-08-08 19:26] kannappanr commented on #6260
@lhysrc Clsoing this issue as answered. Please feel free to reach out to us, if you have further questions.

[2018-08-08 19:26] #6260 closed, assigned to nobody

[2018-08-08 22:49] #6262 closed, assigned to nobody

[2018-08-09 01:53] harshavardhana opened #6265 "disk-cache: Caching on PUT causes cache pollution and decrease in overall performance"
## Expected Behavior
Cache on PUT should be only populated if a client asked for caching behavior, for example like storage-class.

## Current Behavior
We cache all PUT operations once enabled causing cache pollution, actual objects which need to be cached upon GET are never cached or get priority since recent PUTs will be considered as hot content.

## Possible Solution
Do lazy caching i.e do not

[2018-08-09 01:53] harshavardhana commented on #6250
Before we do this we need to review #6265 first.

[2018-08-09 01:55] harshavardhana commented on #6248
How many clients were actively connected here @eyalrif? do you have your server `ulimit -n` set to 65535?  - this is total number of open fd's concurrently a server can have.

[2018-08-09 07:51] eyalrif commented on #6248
we have 8 clients (Weka Nodes) that are connected to Minio Cluster.
This is the value we set on Minio Hosts:
[root@minio-reprod-xfs-minio-11 ~]# ulimit -n
530000

[2018-08-09 12:42] atrauzzi commented on #6219
Not sure what to say, it's still complaining about headers that were unsigned.

I have an nginx proxy in front of minio that I use to do layer-7 DNS mapping for local development, anything possible there?

[2018-08-09 14:47] aead commented on #5801
@deekoder Resolved by meeting discussion, can be closed.

[2018-08-09 15:19] aead opened #6267 "Enable SSE-{S3, C} encryption at the gateway"
This is a design and tracing issue for enabling SSE at the gateway.

## Expected Behavior

 There will be 3 variants of gateway SSE:
1. **Passthrough Mode**: The gateway passes any SSE-related header to the gateway backend
   without en/decrypting the object itself. (This is current behavior)
2. **Local Mode**: The gateway handles SSE-{S3, C} (maybe SSE-KMS in the future) itself and
    encrypts t

[2018-08-09 16:45] #6249 closed, assigned to nobody

[2018-08-09 17:05] chotaire commented on #6249
That was quick. Thanks.

[2018-08-09 17:48] kannappanr commented on #5801
Closing this issue as resolved. Refer to #6267 for the decision

[2018-08-09 17:48] #5801 closed, assigned to aead

[2018-08-09 19:09] poornas commented on #6267
@aead, discussed this with @abperiasamy.
For gateway, the env. variable MINIO_GW_SSE="S3;CLIENT;KMS" will determine how the gateway handles SSE requests. Basically absence of this variable will be a passthru, and presence will indicate double encryption. Since local mode is a subset of combined mode and provides double encryption without any extra work, it makes sense to eliminate the local mode v

[2018-08-09 19:52] harshavardhana commented on #6248
@eyalrif is the backend ext4 here or xfs? any errors in dmesg, kernel logs when running ext4?

[2018-08-09 21:27] gjonespf commented on #5742
I notice the PR for this is to use a named "minio" user with a set UID/GID.  Is great to at least shift away from root, but is there any reason why we can't specify the UID/GID for this when running minio container, to ensure Minio can only read and write to folders with privs associated and allow better interop?  Especially useful where you may want to use a specific copy of Minio to write to a s

[2018-08-09 21:52] #6164 closed, assigned to harshavardhana

[2018-08-10 08:54] kannappanr commented on #6248
@eyalrif I tried to reproduce the error by setting the `ulimit -n` to a very low number and did some `mc cp` commands and was able to reproduce the `too many open files` error, but was unable to receive any `500` status code. I got `503` status code, which is appropriate.

[2018-08-10 10:41] aead commented on #6267
@poornas Okay.
Two remarks here:
1. SSE-C terminated on the server and SSE-C applied twice (double encryption) have slightly different
    security implications (in add. to the obvious differences):
    - In SSE-C (terminated) the backend is not (directly) aware of an encrypted object. It can detect by
      looking at the headers. But even if it does it cannot tell which client key (and maybe whi

[2018-08-10 18:10] harshavardhana commented on #6219
Could you share your nginx config ?

[2018-08-10 20:52] fwessels opened #6268 "Time to prune minio repository"
Maybe it is time to prune the minio repository?

[code]

[2018-08-10 21:52] poornas commented on #6267
@aead, agree.

[2018-08-10 23:28] alshabib commented on #6124
+1

This would be a great feature.

[2018-08-11 13:10] aead commented on #6268
Ref: #4812 - `minio/minio` repo organization is not idomatic w.r.t Go's conventions.

[2018-08-11 14:32] harshavardhana commented on #6268
#4812 is not relevant here. Most of the data / code in Minio repo is in vendor directory which increases by each new feature.

I don't think this issue is relevant,  we cannot prune the vendor directory and repo size is currently intentional.

[2018-08-11 15:44] fwessels commented on #6268
I was thinking more of reducing the overall “download” size of the repo, not necessarily reorganizing it.

[2018-08-11 16:34] hokiegeek2 commented on #4225
@kmcrawford Not sure if this is still an issue, but I just ran into this on my home cluster. I added two new mini-computers and forgot to set the hosts file, so my machine name had an IP of 127.0.0.1. Once I updated the hosts file and reloaded the daemon set, all nodes came up correctly.

[2018-08-11 17:47] aead commented on #6268
@harshavardhana go modules (Go 1.11) at least for "official" packages like `x/net`, `x/crypto`?
Or large projects (vault)...

[2018-08-11 18:51] olegbukatchuk commented on #6226
+1

[2018-08-12 12:07] os-studio opened #6269 "minio over caddy reverse proxy dont work"
Caddyfile:
[code]
minio server startcommand:
`./minio server --address ":9100" /mnt/data
`

Error-Response from Webbrowser

` SSL required`

i really dont know but i tryed many things it wont work

When i edit the Caddyfile to:
[code]
i get

`502 Bad Gateway`

When i start minio with:
`./minio server --address "localhost:9100" /mnt/data`

and edit the caddyfile to:
[code]
i get
`502 Bad Gateway`

[2018-08-12 13:45] Rillian-Grant opened #6271 "Creating a new bucket with mc doesn't work."
Creating a new bucket with mc doesn't work.

## Current Behavior

When you run:
[code]
It returns: Bucket created successfully ...

But this buket does not get created.

## Your Environment

This was run on a RPi 3B+
# I was using mc and minio compiled from github using go get.

[2018-08-12 14:29] nitisht commented on #6271
hey @Rillian-Grant can you try `mc mb myminio/somebucket` (`myminio` is the alias) [Ref: https://docs.minio.io/docs/minio-client-quickstart-guide.html]

[2018-08-12 15:03] nitisht commented on #6269
Do you have TLS enabled @Meerbi , also have you seen https://docs.minio.io/docs/setup-caddy-proxy-with-minio.html

[2018-08-12 15:28] PerMildner opened #6272 "Browser shows incorrect space "Used", and no info for "Free""
## Expected Behavior

Expect "Used" and "Free" to be present in the Minio Browser, as in the screenshot at https://docs.minio.io/docs/minio-quickstart-guide.html

## Current Behavior

Browser shows only "Used: 808 bytes" (no "Free") and this count is obviously wrong.

![screen shot 2018-08-12 at 17 10 57](https://user-images.githubusercontent.com/1358238/44003591-fb629f20-9e54-11e8-8042-edc25a876f

[2018-08-12 15:46] atrauzzi commented on #6219
@harshavardhana - Definitely:

[code]

Let me know if you want any other pieces of the puzzle, heh.

[2018-08-12 19:50] bearmoo-cloud-net opened #6273 "When trying to push a new docker image to minio server with gcs gateway, docker registry fails to upload"
When trying to push a new docker image to minio in gateway mode for gcs. It fails to upload, and docker is stuck retrying again.

## Expected Behavior
It should be able to push the image though gcs with out any issues. Another note, I have minio as regular server setup and it works fine with docker private registry.

## Current Behavior
docker push docker.bearmoo.net:5000:some-image
registry will

[2018-08-12 22:34] os-studio commented on #6269
Yes. I have tryed it exacly like the Docs and with my own way but it wont work

[2018-08-12 23:38] kannappanr commented on #6271
@Rillian-Grant The command you are trying would end up creating a local directory named `somebucket`. `mc` also works on local filesystem.

You can store credentials for multiple `minio/S3` services using and mc and would need to access the buckets within a certain `s3` server as described in the previous comment.

I am closing this issue as working as intended. Please feel free to reach out to us

[2018-08-12 23:38] #6271 closed, assigned to nobody

[2018-08-13 00:19] kannappanr commented on #6272
@PerMildner Thanks for filing this issue. We recently made some changes and have removed Free space display from the browser. We also calculate the used space in the background once every twelve hours. Until it is done calculating, it will display the current calculated number. I will check to see if we can display something like the value is not final and the used space is being calculated. I wil

[2018-08-13 00:22] kannappanr commented on #6273
@bearmoo-repo Thanks for filing this issue. We will try to reproduce and will get back to you if we have additional questions.

[2018-08-13 01:13] bearmoo-cloud-net commented on #6273
Thanks. If you need more info just let me know.

[2018-08-13 06:21] chaninafcha opened #6274 "stream with content upload to minio with 0 byte"
hi,

i have stream full with byte,
when i do   : ` minio.PutObjectAsync(bucketName, url, memoryStream, memoryStream.Length);`

**the file upload to minio with 0 byte**

**here the full function code:**

[code]
the way that i call to function

`  byte[] retVal = certUp.Upload( memoryStream, fileName, cert);`

why its happened
Thanks in advance

[2018-08-13 07:08] harshavardhana commented on #6273
have you tried to use https://docs.docker.com/registry/storage-drivers/gcs/ @bearmoo-repo as a work-around?

[2018-08-13 07:10] harshavardhana commented on #6272
@PerMildner this is as per the design of Minio's multi-tenant deployment scenarios. Once we bring in quota requirements in Minio we will bring back Free/Total values as well. For the time being `Used` is here to stay.

[2018-08-13 07:11] nitisht commented on #6269
Thanks @Meerbi we'll try to reproduce this locally

[2018-08-13 07:13] harshavardhana commented on #4225
Please open a new GitHub issue @hokiegeek2 if you think you have an issue.

[2018-08-13 07:13] PerMildner commented on #6272
I understand why "Free" is gone. I was surprised by the incorrect "Used", but that was explained above. Thanks for looking into this.

[2018-08-13 09:19] kannappanr commented on #6274
@chaninafcha We will take a look at this issue and get back to you. Just to clarify, why are `filename` and `cert` not used within the function? Have you also had a chance to look at https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Cases/PutObject.cs ?

[2018-08-13 09:22] nitisht commented on #6220
@tharnirav were you able to test this with latest Minio server?

[2018-08-13 09:30] krisis opened #6275 "TestCreateEndpoints fails intermittently"
TestCreateEndpoints test fails intermittently during [appveyor-ci](https://ci.appveyor.com/project/Harshavardhana/minio-qxbjq/build/14472) runs.

## Expected Behavior

Unit tests must pass always

## Current Behavior

`TestCreateEndpoints` unit  test fails intermittently
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`m

[2018-08-13 10:19] KuladeepK opened #6276 "Not able to create directory in Minio bucket with Hadoop API"
Hi Team,

We are trying to create a folder in MINIO bucket with hadoop API. But it is not creating in the bucket or it is not throwing any error. This we have tried with both Java program and hdfs dfs -mkdir command.

Please check the attached code which we tried to create the folder.

[code]
@nitisht @rambg

[2018-08-13 10:29] nitisht commented on #6276
Thanks @KuladeepK we'll try to reproduce it on our side. Will let you know how it goes

[2018-08-13 12:00] hokiegeek2 commented on #4225
@harshavardhana Cool, yeah, it looks like Minio is working fine. Just added my comment to document that I was seeing the same error and I fixed it by fixing my /etc/hosts configuration. BTW, Minio is a really cool product working well for me thus far.

[2018-08-13 12:03] tharnirav commented on #6220
We did version upgrade to 2018-06-22T23:48:46Z.  It results in same error.

We did interception of requests being sent by hadoop clients as follows
**mkfifo infile
nc -lk 5432 <infile | tee -a testing | nc localhost 9700 | tee -a testing >infile**

When we run
**hadoop fs -ls s3a://bucket-a/folder-1/**

We see the following logs

**HEAD /bucket-a/** HTTP/1.1
Host: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[2018-08-13 13:35] nitisht commented on #6276
@rambg @KuladeepK as discussed on Slack, Minio server version is pretty old `RELEASE.2017-10-27T18-59-02Z` Please use the latest Minio version and let us know how it goes.

[2018-08-13 13:41] rambg commented on #6276
@nitisht Thank you! We are able to create directory with latest minio(2018-08-02 23:16).

@KuladeepK We can close this issue. Thank you!

[2018-08-13 13:51] kannappanr commented on #6276
@rambg @KuladeepK Closing this issue as working as intended. Please feel free to reach out to us, if you have more questions.

[2018-08-13 13:51] #6276 closed, assigned to nitisht

[2018-08-13 16:21] bearmoo-cloud-net commented on #6273
No I have not. My goal is too use minio to access any s3 (ie, aws, google, etc...) and be s3 agnostic as possible and not have worry about have different configurations to access storage. Is there a limitation I should be aware of with gcs + docker + minio?

[2018-08-13 17:00] poornas commented on #6274
@chaninafcha, PutObjectAsync is a task and needs to be awaited. You could either add a Wait() for the Put call or turn  Upload into a task and wait for its completion.

[2018-08-13 22:55] mitchellmaler opened #6277 "Minio Kubernetes Statefulset Extend/Add Disks"
Hello,

I have Minio running in kubernetes as a stateful set using the manifests that your website generates and I am getting to about half disk capacity. Do you have any documentation on how to extend the existing disks or add more disks using kubernetes (without losing data of course),

[2018-08-14 05:31] nitisht commented on #6277
Hi @mitchellmaler Minio by design doesn't allow adding disks in an existing setup. The complexity of rebalancing data, and the downtimes while cluster gets rebalanced is not worth the advantages.

We recommend adding new deployments as your storage needs grow, please refer https://docs.minio.io/docs/minio-federation-quickstart-guide.html

Other option is to create a bigger cluster and move data ou

[2018-08-14 08:00] harshavardhana commented on #6268
Perhaps in future, yes but for now vendorizing is the primary cause of this.

[2018-08-14 08:29] chaninafcha commented on #6274
hi,
i had memoryStream.position=0
and its work well

thank

[2018-08-14 08:29] #6274 closed, assigned to poornas

[2018-08-14 09:00] protheusfr opened #6278 "Refresh periodically certificate files"
When using x509 certs in order to activate TLS, minio load cert files on start.
When the cert expiration date is coming (what can often arrive with LetsEncrypt), you need to restart Minio to reload renewed certificates files.

## Expected Behavior
Periodically (let's say once per day), Minio could reload cert files and refresh TLS configuration accordingly.

## Current Behavior
No automatic cert f

[2018-08-14 09:13] nitisht commented on #6278
@protheusfr this was implemented as of https://github.com/minio/minio/pull/5963 we'll see why it isnt working for you.

BTW is this a Docker/Container based setup?

[2018-08-14 09:16] protheusfr commented on #6278
Yes, through mounted volume for .minio.

[2018-08-14 09:16] nitisht commented on #6278
Okay, thanks

[2018-08-14 09:52] protheusfr commented on #6278
@nitisht , an additional comment (after taking al look to your previous PR), the cert files is referenced by symbolic links in the mounted directory.
Then I'm not sure you can catch a write event of a cert file renewal through the link event monitoring.

[2018-08-14 10:29] aead opened #6279 "[proposal]: Extend and refactor ObjectLayer to take Options for generic extendability"
## Expected Behavior

It should be possible to pass operation-dependent parameters to the `ObjectLayer` implementation.
This is necessary for certain current features and may be useful for features in the future.
Further it makes the API more convenient: (Only specify what you need).

## Current Behavior

The API is not extendable.
For example:
 The current `GetObject` signature is:
`GetObject(ctx

[2018-08-14 11:09] stevepeak opened #6280 "Transfer closed when gzipped content GCS-only"
Gzipped files are processing incorrectly resulting in a `curl (18)` error.
Gzipped files *work* when archive and S3 but not GCS.

# Steps to recreate

## Create minio container
[code]

## Create + upload a zip file
[code]

## Check headers
[code]
[code]

**NOTICE** There is no `Content-Encoding` therefore cannot decompress requests.

## Manually change `Content-Encoding`
See here https://cl.ly/3q3

[2018-08-14 14:15] harshavardhana commented on #6278
We can only support reloading if your backend FS can support fsnotify @protheusfr

[2018-08-14 14:48] fwessels commented on #6268
Ok, let’s leave it as is then. Closing the issue.

[2018-08-14 14:48] #6268 closed, assigned to nobody

[2018-08-14 17:16] mitchellmaler commented on #6277
@nitisht That makes sense. Since I already back up the data I think creating a new one with mc mirror would work.

[2018-08-14 17:16] #6277 closed, assigned to nobody

[2018-08-14 17:25] mitchellmaler opened #6281 "Deployed Minio Kubernetes Distriubuted Log Message "Waiting for the first server to format the disks.""
I have deployed Minio in Kubernetes in distributed mode and the servers are not starting up correctly and complaining about waiting for disks to be formatted. I am not 100% how to troubleshoot this issue. I have checked that the mount point is completly empty and also each pod can reolve each other using the provided server url.

## Expected Behavior
All disks setup and the cluster starts running.

[2018-08-14 17:47] kannappanr commented on #6280
@stevepeak Thanks for filing this issue. I am not very clear on the issue. Do you want `mc` to set `content-encoding` header for common file types?

[2018-08-14 18:31] harshavardhana commented on #6280
This PR https://github.com/minio/minio/pull/6270 might fix this issue.

[2018-08-14 20:58] #5997 closed, assigned to kannappanr

[2018-08-15 00:11] kannappanr commented on #6280
@stevepeak Can you please validate the fix?

[2018-08-15 02:23] kannappanr commented on #6281
@mitchellmaler Thanks for filing this issue. Initially, when the nodes are started for the first time, it expects all of the disks/nodes to be online. Just looking at the error, it looks like all the nodes are not communicating with each other. We will try to reproduce this issue and get back to you.

[2018-08-15 04:41] #6182 closed, assigned to harshavardhana

[2018-08-15 06:37] stevepeak commented on #6280
@kannappanr I'm not using `mc` to upload. I'm using curl with a temporary link:

[code]

I've tried so many variations of content-type and encoding... but same issue. The strange thing is that this exact process works for S3 and local-archive just not in GCP.

@harshavardhana I will give this pull request a try. Thank you for suggesting it.

[2018-08-15 06:43] stevepeak commented on #6280
@kannappanr Even when uploading directly via the GCS console it does not work.

See here: https://cl.ly/3L3n0X2n2I47

Another proof: https://cl.ly/0f1T2a2e3z1B

[code]

[2018-08-15 06:55] stevepeak commented on #6280
@harshavardhana Assuming the `edge` tag (as of this comment) in Docker Hub has #6270 included. The change **did not** change the issue I'm presenting.

[2018-08-15 08:12] ghost opened #6284 "Check if object exists via aws-sdk-php"
In current version RELEASE.2018-08-02T23-11-36Z I am not able to check if object exists, it worked in previous release.

## Expected Behavior
object `bucket/1/2/data/1.data` could be checked only by constructing `bucket/1/2/data/` (`bucket/1/2/data`) and returned `true`

## Current Behavior
Now `bucket/1/2/data/` returns `false`

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

[2018-08-15 08:48] ghost commented on #6284
Refactored by ListObjects with prefix (it looks like that is more desired method)

[2018-08-15 08:48] #6284 closed, assigned to nobody

[2018-08-15 14:22] jdfalk opened #6285 "Crash: Error: Unsupported bitrot algorithm"
## Expected Behavior
I should be able to retrieve the object.

## Current Behavior
Attempting to read an object or heal the object crashes minio.

## Logs
<details>
<p>

Aug 15 14:04:58  minio[5506]: API: SYSTEM()
Aug 15 14:04:58  minio[5506]: Time: 14:04:58 UTC 08/15/2018
Aug 15 14:04:58  minio[5506]: Error: Unsupported bitrot algorithm
Aug 15 14:04:58  minio[5506]: 1: cmd/logger/logger.go:326:lo

[2018-08-15 14:38] kannappanr commented on #6285
@jdfalk Thanks for filing this issue. We will try to see what could have caused this issue and get back to you.

[2018-08-15 16:35] harshavardhana commented on #6285
Can you paste the entire error trace ??

[2018-08-15 16:38] jdfalk commented on #6285
That's all I have in the logs.

[2018-08-15 16:52] harshavardhana commented on #6285
Can you also provide `xl.json` from your backend disks ? This will be present inside the object folder on your backend.

[2018-08-15 17:19] jdfalk commented on #6285
xl.json:
`{"version":"1.0.1","format":"xl","stat":{"size":536869556,"modTime":"2018-08-13T13:38:22.729553244Z"},"erasure":{"algorithm":"klauspost/reedsolomon/vandermonde","data":3,"parity":3,"blockSize":10485760,"index":4,"distribution":[4,5,6,1,2,3],"checksum":[{"name":"part.1","algorithm":"highwayhash256","hash":"705bf2bbf4f22defd32ae55fb0e929352601ace319ba1de707d97621319e8449"}]},"minio":{"rele

[2018-08-15 18:34] harshavardhana opened #6286 "[API] s3 SELECT implement all the pending items"
Implement all the pending features in S3 select.

- [x] JSON documents as supported Objects
- [x] CAST expression, Date functions
- [x] Returning types other than float from aggregation queries.
- [x] Bracket and Reversal Notation with SQL Like operator.
- [x] SUBSTRING currently is not supported and TRIM only works with
      default arguments of trim leading and trailing spaces

[2018-08-15 20:34] kannappanr commented on #6285
@jdfalk, can you paste `xl.json` from all the disks for an object, where you are seeing this issue. In your setup, there should be 6 `xl.json` files.

[2018-08-15 22:46] jdfalk commented on #6285
S1D1:
`{"version":"1.0.1","format":"xl","stat":{"size":536869556,"modTime":"2018-08-13T13:38:22.729553244Z"},"erasure":{"algorithm":"klauspost/reedsolomon/vandermonde","data":3,"parity":3,"blockSize":10485760,"index":4,"distribution":[4,5,6,1,2,3],"checksum":[{"name":"part.1","algorithm":"highwayhash256","hash":"705bf2bbf4f22defd32ae55fb0e929352601ace319ba1de707d97621319e8449"}]},"minio":{"release

[2018-08-16 04:19] krisis commented on #6273
@bearmoo-repo could you attach error messages you noticed when the docker image upload failed?

[2018-08-16 10:54] maxozerov commented on #3595
@harshavardhana thanks for helping to understand the problem

[2018-08-16 13:36] nitisht commented on #6272
Closing this as answered @PerMildner . Feel free to reach out on https://minio.slack.com for further questions

[2018-08-16 13:36] #6272 closed, assigned to nobody

[2018-08-16 13:37] jonassvatos opened #6293 "Some directories invisible after upload on EC-based server instance"
I have an EC-based server instance with 32 disks and try to upload this directory strucuture:
[code]

## Expected Behavior
When I upload this directory, I expect to be able to list it.

## Current Behavior
The API doesn't return the second level directory, only if i list the bucket recursively.
This affects minio, s3cmd, and s3fs. None of these client implementations is able to list the second lev

[2018-08-16 13:56] nitisht commented on #6281
@mitchellmaler could you change the following and try again

- Use `http://minio-0.minio-internal.cts-cernerdevtools-minio.svc.cluster.local/data/`
- Use the image `minio/minio:RELEASE.2018-08-02T23-11-36Z`

[2018-08-16 15:56] harshavardhana commented on #6293
Can you provide the backend files for this directory structure? are `Arial.ttf` and `sub_05ef545f-8ed7-4ab9-bc0f-5dde7235ef30.xml` files 0-byte files?

[2018-08-16 15:59] jonassvatos commented on #6293
They are not, but the bug is triggered with files of arbitrary filesize, even 0 bytes..

[2018-08-16 16:04] harshavardhana commented on #6293
Can you provide the `xl.json` from the backend disks for these files? at least how do the files look like on the backend?

[2018-08-16 16:08] jonassvatos commented on #6293
Arial.ttf:
`{"version":"1.0.1","format":"xl","stat":{"size":367112,"modTime":"2018-08-16T16:05:31.603476446Z"},"erasure":{"algorithm":"klauspost/reedsolomon/vandermonde","data":8,"parity":8,"blockSize":10485760,"index":3,"distribution":[4,5,6,7,8,9,10,11,12,13,14,15,16,1,2,3],"checksum":[{"name":"part.1","algorithm":"highwayhash256","hash":"3fa98d9104e56160df4bc34c9c8f47c3cd4a0bb71b830e9c2657311ba

[2018-08-16 16:09] jonassvatos commented on #6293
But I was able to trigger the bug even on the clean lab environment with only touch-ing the files (e.g. 0-byte filesizes)

[2018-08-16 16:41] jdfalk commented on #6285
I noticed S2D1 doesn't have checksum section. To work around this can I delete the folder for the object on the specific disk and run a heal. So effectively:
`rm -rf /mnt/disk1/folder` then `mc admin heal server/object`

[2018-08-16 17:14] harshavardhana commented on #6293
I just tried with the latest master not able to reproduce it, created same structure.

[code]
[code]
[code]

[2018-08-16 17:25] jonassvatos commented on #6293
I can reproduce it on multiple machines, always from the clean state..
Could you please try to reproduce it with RELEASE.2018-08-02T23-11-36Z ?

Just for the record, I cannot reproduce it when running the server as nas gateway, only with erasure-coding.

Also, the files are invisible in minio browser.

[2018-08-16 17:53] kannappanr commented on #6285
@jdfalk Thanks for this information. Is this particular disk missing checksums on all of its xl.json files?

[2018-08-16 17:54] jdfalk commented on #6285
Nope. Just that single object.

[2018-08-16 17:55] harshavardhana commented on #6293
Can you provide step by step instructions for a clean state? - I am going to try with previous releases and see where we hit this regression.

[2018-08-16 18:17] harshavardhana commented on #6188
Anything we need to do here @nitisht @koreno ?

[2018-08-16 18:18] jonassvatos commented on #6293
This script starts an empty ec server, uploads the problematic directory structure together with the one which works, and try to list the contents of the bucket. Only the working one will be printed.

[code]
My output:
[code]

[2018-08-16 18:22] harshavardhana commented on #5304
Going to close this issue and perhaps open in future, when we plan on implementing it.

[2018-08-16 18:22] #5304 closed, assigned to harshavardhana

[2018-08-16 20:21] erma07 opened #6295 "Crash: Unsupported bitrot algorithm"
unable to heal minio

## Expected Behavior
I should be able to heal minio bucket

## Current Behavior
executing "mc admin heal --recursive --json --debug live-minio-4" ends with minio crashing.

## Logs

<details>
<summary>Logs</summary>
<pre><code>
Aug 16 22:45:51 live-minio-4 minio[11564]: API: SYSTEM()
Aug 16 22:45:51 live-minio-4 minio[11564]: Time: 22:45:51 EEST 08/16/2018
Aug 16 22:45:51 liv

[2018-08-16 20:33] harshavardhana commented on #6295
Duplicate #6285

[2018-08-16 23:34] bearmoo-cloud-net commented on #6273
Here is error logs:
[docker_reg.txt](https://github.com/minio/minio/files/2295528/docker_reg.txt)

output from the cli:
[root@build-node base]# docker push example.com:5001/base
The push refers to a repository [example.com:5001/base]
931dbfa4d6b6: Retrying in 5 seconds
27b6f0e654f8: Retrying in 5 seconds
6b9e8fb31b40: Retrying in 5 seconds
461c302a53fa: Retrying in 5 seconds
cf411a5cd530: Retrying

[2018-08-16 23:49] #6293 closed, assigned to harshavardhana

[2018-08-17 01:37] #6278 closed, assigned to harshavardhana

[2018-08-17 07:16] harshavardhana commented on #6240
Workaround is stick to 18.03-ce for now until a formal fix is present in docker upstream.

[2018-08-17 07:19] nitisht commented on #6188
Need to check with @koreno will do on Slack

[2018-08-17 07:50] kannappanr commented on #6285
@jdfalk On disk S2D1, for this particular object, was the file named `part.1` present?

[2018-08-17 08:56] kannappanr commented on #6295
@erkimarks Similar to what was requested in #6285, can you please post the xl.json files from all the disks for an object where you think this error is happening?

[2018-08-17 09:49] jdfalk commented on #6285
Yes sir.

[2018-08-17 10:06] erma07 commented on #6295
I have about 90TB of data, this is the only log I have. It is hard for me to identify the object based on this log.

[2018-08-17 10:25] erma07 commented on #6295
Is there a way to roll out a version that has some extended logging.

[2018-08-17 10:31] jonassvatos commented on #6293
Verified by testing on latest minio/minio:edge container.

BTW, do you have an estimate about timing of the next release ?
Our production runs on baremetal, not containers.
Thanks.

[2018-08-17 10:36] koreno commented on #6188
hi, sorry for not responding. we've worked around this by using xfs instead of ext4 for the minio filesystem, so we're not waiting on this issue anymore.

[2018-08-17 11:08] nitisht commented on #6188
No problem. Thanks for the update @koreno . I will be closing this as working as expected. Feel free to reopen/get in touch via Slack if this happens again.

[2018-08-17 11:08] #6188 closed, assigned to nitisht

[2018-08-17 12:06] krisis commented on #6273
@bearmoo-repo I am able to recreate the issue locally. minio gcs gateway doesn't return a recently initiated multipart upload's `id` in `ListMultipartUploads` API call. This makes docker-push to retry uploading the docker image unsuccessfully.
The above multipart upload behaviour was brought in GCS gateway by https://github.com/minio/minio/pull/4455. Let me investigate further if `ListMultipartUpl

[2018-08-17 14:48] jdfalk commented on #6285
It happened on another object. I will paste the xl.json from those as well. It looks like it's only happening on S2D1.

S1:
uname -a
`4.17.14-1.el7.elrepo.x86_64 #1 SMP Thu Aug 9 10:18:15 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux`

S2:
uname -a
`4.17.14-1.el7.elrepo.x86_64 #1 SMP Thu Aug 9 10:18:15 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux`

S3:
uname -a
`4.17.13-1.el7.elrepo.x86_64 #1 SMP Mon Aug 6 1

[2018-08-17 14:54] jdfalk commented on #6285
S1D1:
`{"version":"1.0.1","format":"xl","stat":{"size":536860899,"modTime":"2018-08-10T08:46:41.266087956Z"},"erasure":{"algorithm":"klauspost/reedsolomon/vandermonde","data":3,"parity":3,"blockSize":10485760,"index":4,"distribution":[4,5,6,1,2,3],"checksum":[{"name":"part.1","algorithm":"highwayhash256","hash":"cff7109b055c412e40c07194df8d3e55f630fafc67a383f5c57d2ec7b6464f79"}]},"minio":{"release

[2018-08-17 22:21] mitchellmaler commented on #6281
@nitisht I redeployed using the changes you gave me and they all deployed instantly. I also think we were having a network issue that was probably the actual cause of the issue.

[2018-08-17 22:21] #6281 closed, assigned to nobody

[2018-08-18 06:11] harshavardhana commented on #6293
We have made a release..

[2018-08-18 09:12] hadifarnoud opened #6305 "deleting two minio docker swarm services made it unavailable"
I followed [this doc](https://docs.minio.io/docs/deploy-minio-on-docker-swarm.html) to deploy minio on a docker swarm. this doc creates four minio instances with four different volumes on the same machine. it was eating up my disk space so I decided to delete two of these 4 docker services.

[code]
minio was showing no file on my buckets even though I was in minio_stack_minio2 which had all the da

[2018-08-18 10:33] hadoop835 opened #6306 "Hello, can you add nodes dynamically now?"
Hello, can you add nodes dynamically now?

[2018-08-18 10:48] alexellis opened #6307 "Helm ClusterIP is None"
## Expected Behavior

Minio to come up with a valid and accessible ClusterIP when installed in stand-alone mode with the helm chart with serviceType ClusterIP (default)

## Current Behavior

Unreachable - DNS not found from Kubernetes

## Possible Solution

I may be doing something wrong, @harshavardhana can you advise?

## Steps to Reproduce (for bugs)

Store the secets in Kubernetes

[code]

Ins

[2018-08-18 11:05] nitisht commented on #6306
no, that is not planned @hadoop835 . Please get in touch on slack for further questions: https://slack.minio.io . Closing this as answered

[2018-08-18 11:05] #6306 closed, assigned to nobody

[2018-08-18 13:10] nitisht opened #6308 "Update Minio browser screenshots"
## Expected Behavior
Minio browser screenshots should reflect the current browser look. We have moved away from displaying the total available storage in browser. Accordingly Minio browser screenshots need to be updated in these documents.

- https://docs.minio.io/docs/minio-quickstart-guide.html
- https://docs.minio.io/docs/minio-gateway-for-azure.html
- https://docs.minio.io/docs/minio-gateway-f

[2018-08-18 13:41] nitisht commented on #6307
let me try this and get back to you @alexellis .

[2018-08-18 13:51] nitisht commented on #6305
@hadifarnoud the doc you're referring to is for Docker Swarm - i.e. a distributed Minio cluster setup. For HA/Data redundancy. Even on a single machine an erasure coded setup with 4 drives will make sure there is enough redundancy to help data survive a 2 drive loss.

As is the Docker behaviour, the same compose file when run on localhost will spin 4 containers to emulate a Swarm/compose setup.

I

[2018-08-18 17:37] ivan-pacheco opened #6310 "Terraform AWS provider ERROR: NotImplemented: A header you provided implies functionality that is not implemented"
## Expected behaviour
We're using terraform with AWS provider (version 1.32) to interact with Minio (aws_s3_bucket_object)
It works perfectly fine with any version below **RELEASE.2018-05-04T23-13-12Z**

## Actual behaviour
We're using terraform with AWS provider (version 1.32) to interact with Minio (aws_s3_bucket_object)
It works perfectly fine until version: **RELEASE.2018-05-04T23-13-12Z** whe

[2018-08-18 19:10] Praveenrajmani opened #6311 "config.json has to be beautified with proper json indents"
The config.json is not readable and looks clumsy.

I can see config.json not indented properly

![image](https://user-images.githubusercontent.com/5410427/44302462-bedd1c00-a346-11e8-87ba-ca962a91ba82.png)

And the startup message should be changed. The configDir is pointing to a wrong location ( legacy )

![image](https://user-images.githubusercontent.com/5410427/44302500-8427b380-a347-11e8-9b01-

[2018-08-18 21:27] harshavardhana commented on #6311
The intent is not to beautify it. But instead to implement an easier way to enable and disable entries in config.json which is being handled in PRs by @ebozduman @vadmeste

There are many tools which prettify JSON.

[2018-08-18 22:00] kannappanr commented on #6310
@ivan-pacheco Thanks for filing this issue. Can you please execute `export MINIO_HTTP_TRACE=/dev/stdout` to trace the incoming HTTP requests before starting the minio server and paste the logs here.

[2018-08-19 02:13] harshavardhana commented on #6251
Should be fixed by 65de2d68c00b2f9cc265035b8176991557affa6d

[2018-08-19 02:13] #6251 closed, assigned to harshavardhana

[2018-08-19 06:45] MarwanElSherif opened #6313 "Error: remove fs.json: device or resource busy"
I have minio running in a docker. Minio's data is stored on NFS.

I use this command to start the docker:
docker run -p 9000:9000 -e "MINIO_ACCESS_KEY=access" -e "MINIO_SECRET_KEY=secret" -e "MINIO_HTTP_TRACE=/tmp/minio.log" -v /NFS/minio/data:/data  -v /NFS/minio/config:/root/.minio minio/minio server /data

I can do the following:
create a bucket,
remove an empty bucket,
upload a file,
cat a fil

[2018-08-19 06:49] harshavardhana commented on #6313
What type of NFS NAS server do you have? are you using NFSv4 or NFSv3? if you are using NFSv3 do you have NTLM enabled? if not then it won't work. Minio over NFS requires filesystem locks to work properly.

[2018-08-19 07:04] bennykwok opened #6314 "Disk Caching in gateway mode for B2 / GCS seem not working"
## Expected Behavior
File will be cached in cache disk or cache directory after upload / download.

## Current Behavior
Noting save in the cache disk or cache directory

## Steps to Reproduce (for bugs)

export MINIO_ACCESS_KEY=XXXXXXX
export MINIO_SECRET_KEY=XXXXXXX
export GOOGLE_APPLICATION_CREDENTIALS=/usr/local/minio/XXXXX.json
export MINIO_CACHE_DRIVES="/mnt/minio-cache"
export MINIO_CACHE_EX

[2018-08-19 07:11] harshavardhana commented on #6314
I could reproduce this fixed in #6312

[2018-08-19 08:50] hadifarnoud commented on #6305
[code]

[2018-08-19 09:30] MarwanElSherif commented on #6313
I running NFSv4.
I have used the flock linux command to check if file locks are supported by the NFS volume and i was able to create locks on files.

Here are the mount options for the NFS volume.

xx.xx.xx.xx:/OIaaS-NFS-01 on /NFS type nfs4 (rw,relatime,vers=4.1,rsize=262144,wsize=262144,namlen=255,hard,proto=tcp,port=0,timeo=1200,retrans=2,sec=sys,clientaddr=xx.xx.xx.xx,local_lock=none,addr=xx.x

[2018-08-19 11:12] hadifarnoud commented on #6305
for reference, this is what I did to fix this:
`docker stack deploy --compose-file=docker-compose-secrets.yaml minio_stack`
this will create the two missing drivers. and keep the already running ones

`mc admin heal -f -r TARGET`
note: replace `TARGET` with your own minio name which is `.mc/config.json` file.

it seems to be working as it is fixing the buckets. I'll report back if it didn't

[2018-08-19 21:14] harshavardhana commented on #6314
Fixed in #6312

[2018-08-19 21:14] #6314 closed, assigned to nobody

[2018-08-19 21:15] harshavardhana commented on #6313
What is the NFS server here ?

[2018-08-19 23:43] steveoc64 opened #6315 "Build errors go1.11rc1 due to vendored rjeczalik/notify lib"
## Expected Behavior
`go get -u github.com/minio/minio` should build cleanly with latest go1.11rc1

## Current Behavior
* using go1.11rc1
[code]
Build error in vendored notify library, as found in vendor/github.com/rjeczalik/notify.

* using go1.10.3
[code]
builds with no errors.

## Possible Solution
Doing a `go get -u github.com/rjeczalik/notify` builds without errors under go1.11rc1, so it coul

[2018-08-19 23:55] steveoc64 commented on #6315
Note that the latest release of rjeczalik/notify does actually have an extra little bit of code, controlled with build flags to accommodate go1.11rc1

https://github.com/rjeczalik/notify/blob/master/watcher_fsevents_go1.10.go
vs
https://github.com/rjeczalik/notify/blob/master/watcher_fsevents_go1.11.go

the second file defines
[code]

Which explains it all.  Should be a trivial fix to get minio wo

[2018-08-20 00:23] kannappanr commented on #6315
@steveoc64 Thanks for filing this issue. Will update the code of `github.com/rjeczalik/notify` in the vendor directory to the latest one.

[2018-08-20 00:30] steveoc64 commented on #6315
While you are at it - update `vendor/minio/highwayhash` as well - there is some amd64 asm code in here . https://github.com/minio/minio/blob/master/vendor/github.com/minio/highwayhash/highwayhashAVX2_amd64.s#L253

(its invoking a private function in the Go runtime by hitting it directly with an asm call)

go1.11rc1 has dropped that private function, and they do the AVX2 stuff in a different (priva

[2018-08-20 04:30] madsi1m opened #6316 "Auth gateways?"
Hello,

Is there any plans to break out the auth a little like how the storage gateways work?

For example, I can run one minio server and have multiple users auth and are presented different parts of the storage backend?

Cheers

[2018-08-20 05:10] kannappanr commented on #6305
@hadifarnoud Closing this issue for now. Please feel re-open if it doesn't work

[2018-08-20 05:10] #6305 closed, assigned to nobody

[2018-08-20 05:18] kannappanr commented on #6311
@Praveenrajmani Closing this issue as won't fix. We can take it up as part of PRs handled by @ebozduman and @vadmeste if required.

[2018-08-20 05:18] #6311 closed, assigned to nobody

[2018-08-20 05:34] krisis commented on #6273
@krishnasrinivas Is there any reason why we return the list of multipart uploads in `ListMultipartUploads` API call? I see this behaviour was introduced as part of #4455.

[2018-08-20 05:55] krishnasrinivas commented on #6273
@krisis it was part of the simplification of the backend format for gcs. What we can do for the current issue is, for ListMultipartUploads, we can look if any of the `minio.sys.tmp/multipart/v1/uploadID/gcs.json` matches and return an entry for ListMultipartUploads.

Similarly we can support ListObjectParts too. These two changes should be good enough to support docker registry.

[2018-08-20 06:21] harshavardhana commented on #6316
We are working on multiple users and IDP support follow the discussion here, closing as duplicate https://github.com/minio/minio/issues/5305

[2018-08-20 06:21] #6316 closed, assigned to nobody

[2018-08-20 07:41] MarwanElSherif commented on #6313
My university has a EMC VNX storage box. They use the NFS feature of this box to provide storage for projects.

[2018-08-20 11:00] MarwanElSherif commented on #6313
I have been doing some additional tracing. When I try to delete an object, minio can successfully delete the actual file for NFS. It then tries to rename fs.json to .nfs000000000000493800001450 for example. This fails with error 10046 which i believe is "NFS4ERR_FILE_OPEN"

BTW, i am now running the minio server using "gateway nas" instead of "server" in my docker command

[2018-08-20 11:26] tommyhaas1 opened #6318 "Unstable erasure cluster in case of (simulated) node-crash"
Hi,

currently i'm running the following setup:

- erasure mode with 6 nodes/1 disk each, EC4:2

Test cases:

- case1)
shutting down minio normally on one node -> no problem, minio cluster is still accepting uploads,  one node is marked as offline (as it should be)

- case2)
blocking port 9000 via iptables (kinda simulating a server crash) on one node makes cluster completely unstable, put operati

[2018-08-20 12:28] tharnirav commented on #6220
Any update on the issue?

[2018-08-20 14:41] vadmeste commented on #6311
Config PR https://github.com/minio/minio/pull/6113 already fixes this issue.

[2018-08-20 15:33] vishk35 opened #6319 "Signaturedoesnotmatch error while routing request through HAProxy"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-08-20 15:57] harshavardhana commented on #6318
Thanks for opening the issue we will reproduce it.

[2018-08-20 16:00] harshavardhana commented on #6319
Can you provide more details on this issue minio version, haproxy version and configuration. Sample commands or API used to result in this error.

Will close this issue as incomplete. Please reopen the issue when you have these details.

[2018-08-20 16:00] #6319 closed, assigned to nobody

[2018-08-20 16:54] vishk35 opened #6320 "SignatureDoesnotMatch error when routing request through HAProxy"
When I post request to minio server using hostname:port the request goes through. However if use HAProxy I am getting error SignatureDoesNotMAtch.
I am using aws-sdk-javascript to access and upload files to minio server. I did print the request received on minio by enabling trace log
HAProxy version is 1.7
Minio :- RELEASE.2018-08-18T03-49-57Z

Request
GET /bucket/1111117
Host:abc-dv.example.net
U

[2018-08-20 17:15] guanzo opened #6321 "Request: Specify actual bytes sent in getObject notification."
I need to record all bytes that minio sends in a getObject response.  Currently, the getObject notification event only has the total size of an object. If the getObject request was for a byte range, the event doesn't reflect that at all. This makes accurate data egress analytics impossible to do at the moment.

## Expected Behavior

The getObject notification event should include the `Content-Rang

[2018-08-20 17:37] jamshid commented on #4681
I'm glad this feature was implemented but I'm curious...

@adevress you said Amazon "already started to deprecate path-style-bucket". Do you have a link about that? I can't find anything.

If anything it seems more S3 clients (e.g. ChronoSync) are supporting path style access, either making it the default or adding an option for it, because it makes using S3-compatible storage much easier.

[2018-08-20 18:56] kaankabalak opened #6322 "Display warning on Minio Browser when user tries to download object encrypted with SSE-C"
## Expected Behavior

The UI should display a warning telling the user that the object they are trying to download is stored using SSE-C and it can't be downloaded using the browser for now.

## Current Behavior

When a single object with SSE-C is downloaded by the user, they are directed to the XML file of the response for the request that was made which has the message `The object was stored usi

[2018-08-20 19:09] kannappanr commented on #6320
@vishk35 Thanks for filing this issue. We will try to reproduce this issue, with HA proxy. Just want to confirm that this is a normal `putobject` call that you are trying using `aws-sdk-js`, if not do you mind sending us a sample code that might be useful in reproducing this issue.

[2018-08-20 19:11] vishk35 commented on #6320
yes this is normal putobject call  using aws-sdk-js

[2018-08-20 19:16] kannappanr commented on #6320
Do you mind sharing the `HAProxy` config file and also more info about your `minio` setup.

[2018-08-20 19:43] vishk35 commented on #6320
backend service_name
balance roundrobin
cookie service_name insert indirect nocache
option httpchk GET /minio/health/live
option forwardfor
option httplog
request
reqrep ^([^\]*\)/ms/file-store/V1-0-0/bucket_name(.*) \1/bucket_name\2
server service_name_serverhost_9000 host1:9000 cookie service_name_1 check inter 30000
server service_name_serverhost_9000 host2:9000 cookie service_name_2 check inte

[2018-08-20 20:38] kannappanr commented on #6321
@guanzo Thanks for filing this issue. It doesn't seem to be part of the actual S3 event structure. Will check internally if we want to add this information as part of the notification event and get back to you.

[2018-08-20 20:39] harshavardhana commented on #6321
GET object based notification is Minio extension already @kannappanr we can add this and it is a good idea anyways.

[2018-08-20 21:27] deekoder commented on #6308
@belvid  can you give a new screenshot so that @Nitish can do in place replace.

[2018-08-20 23:47] poornas opened #6323 "SSE encryption in gateway mode for multipart operations"
Need decision on approach to multipart encryption in gateway mode.

When SSE is specified on multipart upload for minio server encrypted object, we have a mechanism to store the individual part chunk size of the encrypted part via the metadata.

In the case of gateway, the S3 backend stores the object (parts) and does not have / does not reveal the size of each individual part to the gateway. Sinc

[2018-08-20 23:58] #6295 closed, assigned to nobody

[2018-08-21 00:47] kannappanr commented on #6285
@jdfalk the latest release should have the fix. closing this issue as fixed. Please feel free to re-open if you still have issues.

[2018-08-21 00:47] #6285 closed, assigned to krishnasrinivas

[2018-08-21 02:34] deekoder commented on #5533
Can we close this then?

[2018-08-21 10:47] meirhazonAnyVision commented on #6240
Hi, I have used 18.03-ce but still having this issue,
docker run -p 9000:9000 --name minio --env-file /root/.aws -v /data:/data  minio/minio:RELEASE.2018-07-31T02-11-47Z  server http://10.132.0.4/data http://10.132.0.13/data http://10.132.0.22/data http://10.132.0.23/data
Unable to find image 'minio/minio:RELEASE.2018-07-31T02-11-47Z' locally
RELEASE.2018-07-31T02-11-47Z: Pulling from minio/minio

[2018-08-21 10:51] nitisht commented on #6240
@meirhazon1 can you try this approach https://github.com/minio/minio/issues/6240#issuecomment-410321828

[2018-08-21 10:59] meirhazonAnyVision commented on #6240
Hi,
Can you please share in what way this is different? how can the minio identify the local node when using a compose file?
Thank you,
Meir

[2018-08-21 11:14] fsdaniel commented on #6240
@meirhazon1 service name 'minio1' is directly related to the command to join on http://minio1/export.

This resource will hopefully be of use to you :)
https://docs.docker.com/compose/networking/

[2018-08-21 11:19] meirhazonAnyVision commented on #6240
Hi,
so, the alias minion1 is the local host? when having multiple nodes, how should I set the minion1 alias?
I understand the overlay network part, why cant I use docker network? I guess it is also a limitation with Kubernetes, isn't it?
Thanks

[2018-08-21 11:45] meirhazonAnyVision commented on #6240
Hi
I also tried using docker-ce-18.03.1.ce-1.el7.centos.x86_64
I have given the local node the alias minio1
the nodes are just hanging, all 4.
docker run -p 9000:9000 --name minio --env-file /root/.aws -v /data:/data  minio/minio:RELEASE.2018-07-31T02-11-47Z  server http://10.132.0.4/data http://minio1/data http://10.132.0.22/data http://10.132.0.23/data
Unable to find image 'minio/minio:RELEASE.2

[2018-08-21 11:45] vishk35 commented on #6320
Is this because of my endpoint url ? As aws sdk is using enpoint url to generate signature and when it sends request to minio it is stripping off path variables from my endpoint url ?
For example:- my end point passed to aws -sdk is http://loadbalanceurl/ms/servicename/env/v1-0-0

On request received in minio only loadbalanceurl is received in host header

[2018-08-21 14:39] kannappanr commented on #6320
Yes. Signature mismatch usually happens when the `host` header is modified by the proxy.

[2018-08-21 14:52] vishk35 commented on #6320
does it affect if path in url is modified and host is not?

[2018-08-21 15:01] vishk35 commented on #6320
is there a way i can add context root to minio server?

[2018-08-21 16:39] bmerry opened #6324 "Nil pointer reference if accessed too quickly on startup"
I use minio inside a unit test that fires up an minio server for the test and then uses keeps trying to make HTTP connections until one succeeds, so that it knows when the server is up and ready for the test. However, in our CI environment I think this is hitting a race condition where the HTTP server starts serving before minio is fully ready, leading to a nil pointer deference.

## Expected Beha

[2018-08-21 16:52] harshavardhana commented on #6324
@bmerry we will fix it - this is related to startup issue on certain subsystems.

[2018-08-21 17:48] kannappanr commented on #6320
@vishk35 The endpoint for `minio` has to be of the form `url:port` . You cannot have endpoints in the form that you have here.

I don't think we can add context root to minio server.

[2018-08-21 18:48] kannappanr opened #6327 "Return WriteWebErrorResponse instead of WriteErrorResponse in Web handlers"
**Skipping the normal issue filing template**

Error on `DecryptObjectInfo` call is returning `WriteErrorResponse` instead of `WriteWebErrorResponse` like other piece of code
https://github.com/minio/minio/blob/master/cmd/web-handlers.go#L718
https://github.com/minio/minio/blob/master/cmd/web-handlers.go#L821 .

Also, `DecryptObjectInfo` should return `error` instead of `APIErrorCode`

It is easie

[2018-08-21 18:52] ghost opened #6328 "Error: write tcp ... i/o timeout"
We are using a 4 core server as a single instance with 32gb memory on Microsoft Azure, attempting to save 10,000 objects all at average size of ~10mb, when the server has 10,000 objects in it, the write times to save an object of 10mb jump up to 5 minutes, and then eventually we get timeout errors.

## Expected Behavior
Minio will save an object in a reasonable amount of time.

## Current Behavior

[2018-08-21 19:37] harshavardhana commented on #6240
you have to set access and secret keys. And i see that you are also not deploying using the yaml stack ? @meirhazon1 ?

[2018-08-21 19:37] harshavardhana commented on #6240
you don't need to run manually using `docker run` you will simply do `docker stack deploy`

[2018-08-21 19:40] harshavardhana commented on #6240
Well in compose file you define your services if you are running manually i.e using `docker run` make sure you to specify ACCESS and SECRET keys as mentioned here

https://docs.minio.io/docs/minio-docker-quickstart-guide.html

For docker swarm you should use this

https://docs.minio.io/docs/deploy-minio-on-docker-swarm.html

[2018-08-21 19:57] gmatev opened #6329 "Minio does not support SSE-S3 encryption without vault"
Minio now has support for SSE-KMS and SSE-C which is great but to achieve broader compatibility it is necessary to also support SSE-S3 (server manages the AES256 keys directly without relying on Vault https://github.com/minio/minio/pull/6192). A number of clients are potentially relying on this behavior and are sending server side encryption headers without keys. To be able to easily move these to

[2018-08-21 20:08] harshavardhana commented on #6329
Vault is an important requirement from security point of view for managing keys.

Are you saying we should re-implement what vault is doing ?

[2018-08-21 20:48] kannappanr opened #6330 "Key rotation is failing when the object is encrypted with SSE-C"
## Expected Behavior
Expect key rotation to work and the object be allowed to be downloaded using the new key

## Current Behavior
Statobject is failing when there is Key rotation and SSE-C. is used in both the source and the destination.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and v

[2018-08-21 20:49] harshavardhana commented on #6330
can you paste your command line params @kannappanr ?

[2018-08-21 22:07] aead commented on #6329
@gmatev We're already working on SSE-S3 functionality without a external KMS. It will be possible to directly specify a master key as part of the server configuration. However we have to finalize the design. Will keep you posted.

[2018-08-21 22:12] #6330 closed, assigned to poornas

[2018-08-21 22:22] kannappanr commented on #6328
@kyle-sorensen Thanks for filing this issue. Can you please update the version of `minio` that you are using?

[2018-08-21 22:24] ghost commented on #6328
@kannappanr updated

[2018-08-21 22:38] #6324 closed, assigned to harshavardhana

[2018-08-21 22:44] gmatev commented on #6329
Thanks @aead . Your approach makes sense. Vault configuration is just a bit involved especially in cases where people are doing quick evals and end up hitting a tool that forces SSE-S3 without the option to change (e.g. WAL-E)

[2018-08-21 23:14] ghost commented on #6328
The following was found in the syslog right around when we had a drop in network performance

We are editing some sysctl values and will update our results.

[2018-08-21 23:29] belvid commented on #6308
Here are the updated screenshots

<img width="704" alt="minio-browser-gateway" src="https://user-images.githubusercontent.com/20955366/44434329-6a60b900-a55f-11e8-9876-237f372a01a0.png">
<img width="704" alt="minio-browser" src="https://user-images.githubusercontent.com/20955366/44434330-6a60b900-a55f-11e8-94a2-1912ce399644.png">

[2018-08-21 23:58] ghost commented on #6328
[code]

These are some changes we made and it looks like the problem has been resolved.

[2018-08-22 00:09] kannappanr commented on #6280
@stevepeak I did try `curl -fiX PUT ${UPLOAD_URL}  --data-binary @foobar.txt.gz -H 'Content-Encoding: gzip'` and it worked for me.

Here is what I did

[code]

[2018-08-22 00:10] harshavardhana commented on #6328
This looks like you are using dccp protocol?

[2018-08-22 00:11] ghost commented on #6328
@harshavardhana Yes, this was honestly new to us. They are Azure VM's for load testing...looks like we flooded the kernel?

Actually doesn't seem we are using DCCP, it was just a fluke info log put in the syslog

[2018-08-22 00:31] harshavardhana commented on #6328
We have never really tested with DCCP enabled @kyle-sorensen so I am curious if these changes can go into https://github.com/minio/minio/tree/master/docs/deployment/kernel-tuning

If the issue is resolved, feel free to close this issue.

[2018-08-22 00:46] vishk35 commented on #6320
Thanks for the help We fixed this issue aws-sdk was using path variables to generate signature. And we were stripping those path variables in HAProxy.

[2018-08-22 04:11] nitisht commented on #5742
@gjonespf while this will allow greater flexibility, it also will open scope for users to mishandle the UID/GID rendering their data inaccessible. I am discussing with the team internally to see how best to handle this

[2018-08-22 05:05] meirhazonAnyVision commented on #6240
Hi,

Yes, the keys are at "--env-file /root/.aws"

I do not wish to use swarm. I do not wish to use an overlay network.

[root@redis1a ~]# cat .aws
MINIO_ACCESS_KEY=test
MINIO_SECRET_KEY=testtest

I get the same thing, it hangs.

[root@cassandra2 ~]# docker run -p 9000:9000 --name minio -e "MINIO_ACCESS_KEY=test" -e "MINIO_SECRET_KEY=testtest" -v /data:/data  minio/minio:RELEASE.2018-07-31T02-11-4

[2018-08-22 05:08] nitisht commented on #6240
Are there any reasons to use Docker? You use the Minio binary, it will bring down the complexity

[2018-08-22 05:09] nitisht commented on #6308
Thanks @belvid I will send the PR

[2018-08-22 05:13] meirhazonAnyVision commented on #6240
Hi, Yes, I am doing a POC, It need to support Dokcker, swarm and kubernetes.
Is it an issue having the minio use a different network than an overlay network?
As I am doing a POC, could you please have more specific answers.
Thanks

[2018-08-22 05:19] nitisht commented on #6240
okay, can you please join us on Slack, so we can avoid creating noise on this issue. [https://minio.slack.com/] . You can ping me @ nitish on Slack

[2018-08-22 05:21] meirhazonAnyVision commented on #6240
I have already joined yesterday but you answered at this board. we will continue at slack. Thanlks

[2018-08-22 05:27] meirhazonAnyVision commented on #6240
I cant get hold of you on Slack, can you message me there?

[2018-08-22 05:29] gjonespf commented on #5742
Just to be clear, I love your work guys 👍   Chiming in here as it's something I'm passionate about.

@nitisht To answer your question, does it give users an opportunity to shoot themselves in the foot? Sure.  But as a user, if you're fiddling with these settings, you should probably be aware that it may break things anyway.   At the end of the day, as long as I can customise a dockerfile to do wha

[2018-08-22 07:45] #6308 closed, assigned to nitisht, belvid

[2018-08-22 09:27] nitisht commented on #5742
Comments are most welcome @gjonespf :) . Thank you for the kind words!

Yes, this is what we are intend to do.

yes, we understand this problem and want to have a clean / effective way for users to set the UID/GID. Mostly as environment variable(s) - which if not set will fall back to default values.

[2018-08-22 09:50] nitisht commented on #6307
I can confirm this is happening @alexellis . I am working on how to fix this

[2018-08-22 13:17] KuladeepK opened #6336 "minio worm capabilities"
Hi Team,

Please clarify below concerns with worm enabled minio.

1. is there any way we can set up retention policy on object which is created in worm minio.
2. Once we create the file in worm enabled bucket, when we can delete the file?
3. We upload a file into worm minio, and then we disabled worm and restarted minio server. after that also we are not able to delete the file.
4. Please provide

[2018-08-22 13:34] Jeremytetu opened #6337 "How to use Oauth2 with Minio"
I'm trying to use Oauth2 for my stockage minio.

## Expected Behavior

I used https://github.com/bitly/oauth2_proxy in front, with my minio as Upstream serveur.
After authentication, I should be able to get my minio interface.

## Current Behavior

This is what Minio answers once the authentication done:
[code]

## Possible Solution

It looks like Minio reads token in the header.
How to remove thi

[2018-08-22 14:11] nitisht commented on #6336
Hey @KuladeepK thanks for the issue. Let me check and get back to you on this.

[2018-08-22 15:59] bearmoo-cloud-net commented on #6273
Hey,

Any update on this?

-Frank

[2018-08-22 16:01] balamurugana opened #6338 "Parallel uploads made minio to be killed by kernel"
## Setup Information:
* 8 servers of [t1.small.x86](https://www.packet.net/bare-metal/servers/t1-small/)
* minio version
[code]
* mc version
[code]

## 10MiB sized objects of 448 parallel uploads
* Below script is run for uploading *448* parallel uploads of 10MiB objects to node1.

[code]

* Below is memory profile of node1.
[code]
* From 484 parallel uploads of 10MiB object made minio on node1 to

[2018-08-22 16:11] krisis commented on #6273
@bearmoo-repo, I will be working on this early next week. It is possible to fix this issue as explained in the above comment.

[2018-08-22 17:09] harshavardhana commented on #6337
Minio implements AWS S3 compatible signature V4 and V2. Oauth is not part of S3 spec.

[2018-08-22 17:10] harshavardhana commented on #6338
What is your RAM size ?

[2018-08-22 17:19] alexsandro-xpt commented on #6338
Are you running it under Docker Containers?

[2018-08-22 17:19] aead commented on #6329
Just for you information @gmatev : Minio server does not support SSE-KMS yet. The reason is that SSE-KMS requires IAM user management polices for the CMK-IDs. Therefore the server should reject SSE-KMS requests with `not implemented`. We may add SSE-KMS in the future but we have to evaluate and make a clean design first.

[2018-08-22 17:42] ghost commented on #6328
@harshavardhana I have confirmed we don't have DCCP enabled, we still get this error. Seems to happen after about 100-200gb of data is in the system.

[2018-08-22 17:58] ghost commented on #6328
Actually, I see we have not done a lot of that kernel tuning you recommend. We will try those, thanks!

@harshavardhana

[2018-08-22 18:26] poornas commented on #6336
@nitisht, this is related to config move to backend [https://github.com/minio/minio/pull/6302#pullrequestreview-147413666]. When worm mode is set, it cannot be disabled right now including when the worm mode is being toggled. When @ebozduman/@vadmeste is ready with admin changes to set config by particular key, the admin handler needs to change to allow worm config to be changed when worm key is e

[2018-08-22 18:48] harshavardhana commented on #6336
You can @poornas SetConfig doesn't reject WORM toggling.

[2018-08-22 18:56] harshavardhana commented on #6328
Well, it's not needed, but thought perhaps it can be added to our docs as well what you did on your deployment. In any case, do you still see this problem?

[2018-08-22 18:58] poornas commented on #6336
you are right @harshavardhana , latest release allows it.

[2018-08-22 20:34] gjonespf commented on #5742
You are most welcome, it's an amazing piece of kit! 😄

Thanks, that sounds excellent.  I figured you were aware of the complexity, but it wasn't clear from your previous comment whether you were going to persue allowing override of the UID/GID (it sounded like you weren't).  Looking at the current PR, the UID/GID don't appear overridable so I thought it best to clarify the need.

[2018-08-22 20:41] ghost commented on #6328
@harshavardhana

Yes we still see the problem.

 * 4 core
 * 32G memory
 * Ubuntu 16.04
 * Microsoft Azure

 * 10,000 - 15,000 objects
 * 150G -200G data
 * 8mb average object size

`/usr/local/bin/minio server --address 0.0.0.0:9000 /mnt/data/data1 /mnt/data/data2 /mnt/data/data3 /mnt/data/data4`

We are using the python SDK. Eventually things just start to timeout like the Golang stack trace abo

[2018-08-22 20:50] vadmeste commented on #6328
Do you mean restart Minio or restart the whole VM ?

Also, can you describe more the operation you are doing ? it looks like you are using minio-py to upload data from another VM in Azure, right ? if so what your minio-py shows ? is it possible that the second machine suffocate ?

[2018-08-22 21:11] deekoder commented on #6323
@aead / @poornas  we need to discuss this and decide on a design.

[2018-08-22 23:45] ghost commented on #6328
@vadmeste It's when we restart the minio service with `service minio restart`, all the timeout errors stop and the system behaves normally.

It's possible that the other VM we are using to pump data into minio is getting suffocated, yes, looking into that now but I doubt it, I will update you.

[2018-08-23 00:54] ghost commented on #6328
If the server pumping data into minio was at 100% load, its possible this error is coming from the python client and not minio...?

[2018-08-23 02:28] balamurugana commented on #6338
As specified in the description, machine configuration is [t1.small.x86](https://www.packet.net/bare-metal/servers/t1-small/)

[2018-08-23 06:07] harshavardhana commented on #6338
Currently there is no way to avoid allocation of 10MiB per request when you have 448 requests in parallel it's 4G allocated. Currently there is no way to know how much RAM the system has too.

So this sort of limits how much of parallel requests can be sent to Minio.

When 100MiB is uploaded too it's the same you have infact two parallel uploads in progress minimum 88 uploads become 176 uploads ..

[2018-08-23 06:09] sanverm2 opened #6343 "minio/minio:RELEASE.2018-07-13T00-09-07Z has security vulnerabilities"
The Minio docker image is using curl 7.60.0-r1 . This version of curl has security  vulnerability. The image need to be updated to pick up the at least version 7.61.0-r0.

![image](https://user-images.githubusercontent.com/28093961/44507706-0fcc7780-a69b-11e8-9f74-0d10b79aaaed.png)

[2018-08-23 06:12] harshavardhana commented on #6343
The latest release is 2018-08-21 can you verify that as well ?

[2018-08-23 06:29] sanverm2 commented on #6343
Verified that RELEASE.2018-08-21T00-37-20Z has latest version of curl 7.61.0.

[code]

Is it possible to fix RELEASE.2018-07-13T00-09-07Z on dockerhub ?

[2018-08-23 07:21] harshavardhana commented on #6343
No, it is not possible @sanverm2 these are automated builds we cannot edit them, you can upgrade to latest which has the vulnerability fixes.

[2018-08-23 07:49] shouldnotappearcalm opened #6344 "minio throw execption:cannot enable TCP_FASTOPEN(qlen=16384): protocol not available"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-08-23 07:51] harshavardhana commented on #6344
Issue lacks

- title
- description of the problem
- minio version
- application requirements etc.

Feel free to open a new issue with some more details we will take a look @shouldnotappearcalm

[2018-08-23 07:51] #6344 closed, assigned to nobody

[2018-08-23 07:52] ntim commented on #6240
Hi, another fix for the meantime is to set the hostname in the service definition:

[code]

[2018-08-23 07:52] harshavardhana commented on #6337
Closing this as answered, once Oauth2 is supported by AWS S3 spec we will follow as well. We are planning to introduce Minio STS API based on ClientGrants PR is available here https://github.com/minio/minio/pull/6168

[2018-08-23 07:52] #6337 closed, assigned to nobody

[2018-08-23 08:18] balamurugana commented on #6338
10MiB test > 448 parallel uploads killing the server is completely acceptable as each upload on server takes 20MiB x 448 is ~ 8GiB memory.

Whereas 100MiB test of > 80 parallel uploads killing the server is not completely straight-forward.  As `mc` is used in the test, `mc` is uploading 100MiB in parallel using two threads (100MiB / 64 MiB ~ 2 threads).  With this numbers `2 x 20MiB x 88 ~ 3.5GiB`

[2018-08-23 08:19] shouldnotappearcalm opened #6345 "minio throw execption:cannot enable TCP_FASTOPEN(qlen=16384): protocol not available"
When I run the latest minio docker image(RELEASE.2018-08-21T00-37-20Z), the console shows these error message as below
[code]
## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)
1.system：centos6.8 kernel 2.6.32
2.docker pull minio
3.docker run -p 9000:9000 minio/minio server /data

## Context

## Your Environment

* minio docker image RELEASE.2018-08-21T00-37-20Z
* Server t

[2018-08-23 08:20] harshavardhana commented on #6345
@shouldnotappearcalm 2.6.32 kernel is pretty old is there a good reason that this is still being used? - not possible to move to CentOS 7.x?

[2018-08-23 08:25] harshavardhana commented on #6310
We should implement a dummy GetObjectTaggingHandler() along the lines of GetBucketACL and GetObjectACL handlers. Check `acl-handlers.go` for more information.

Once this is done we will be able to use terraform since it is only trying to do GetObjecTagging() not Set..

[2018-08-23 08:26] sanverm2 commented on #6343
Sure. thanks.

[2018-08-23 08:26] harshavardhana commented on #6343
Closing this as fixed in latest release.

[2018-08-23 08:26] #6343 closed, assigned to nobody

[2018-08-23 08:27] #6345 closed, assigned to nobody

[2018-08-23 08:28] harshavardhana commented on #6256
is the NFS share here using NFSv3 ? or v4? what is the server implementation is it kernel NFS, any proprietary NAS vendors? @byaminov

[2018-08-23 08:30] harshavardhana commented on #6256
We write `fs.json` in O_SYNC mode such that the file is always synced to disk regardless of the writes/failures. So `0` bytes shouldn't be possible in the first place unless NFS is faking O_SYNC and still caching the files on the client.

Have you had any server restarts, NFS share disconnections etc while the active I/O is in progress?

[2018-08-23 08:35] harshavardhana commented on #6310
For more information refer https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectGETtagging.html

[2018-08-23 08:43] harshavardhana commented on #6248
@eyalrif I think after latest release this is not reproducible but we do have issues of running out of sockets on the server. should we open a new issue for that or do we continue to track this?

[2018-08-23 08:44] harshavardhana commented on #6166
Is this issue still reproducible @eco-minio @vadmeste ?

[2018-08-23 08:45] harshavardhana commented on #6136
Is this still an issue @ordahan @eyalrif and reproducible?

[2018-08-23 08:50] harshavardhana commented on #5902
Were you able to validate this again @rgruyters? - we cannot seem to reproduce this problem.

[2018-08-23 08:51] mkumatag commented on #6343
actually we don't need curl package in those dockerfiles after the package download, let me create a PR to remove those unwanted packages.

[2018-08-23 08:51] harshavardhana commented on #5947
Minio's context root is '/' and this cannot be configured. @diogojesus95 - so changing Paths in the manner you are thinking it's not possible with AWS S3 signature.

[2018-08-23 08:53] harshavardhana commented on #6343
yep, that can be done simply adding `apk del .build-deps` will work.

[2018-08-23 09:02] vadmeste commented on #6328
What about restarting the server or the tool which is pumping data ?

[2018-08-23 10:30] fisx commented on #6142
can you give us a hint?  we have similar context / symptoms and are struggling for ideas.

thanks~

[2018-08-23 10:34] harshavardhana commented on #6240
this looks like a really good alternative @nitisht

[2018-08-23 10:44] sanverm2 opened #6348 "In distributed mode Prometheus scraping gets multiple (as many as replica) duplicate results."
I have a distribute mode Minio installation and I have enabled Prometheus scraping  by adding annotations.  The Prometheus is getting monitoring data but seems like they are duplicate and as many as number of replica.

The results are coming per replica whereas it should be per service ( one in this case).

The following result gives an impression that there are four Minio Services and each having

[2018-08-23 14:21] balamurugana commented on #6338
I modified `mc` to use single thread to multipart-uploads.  Now I am able to do 128 parallel uploads of 100MiB objects.  Below is memory profile
[code]
minio is killed for 136 parallel uploads are triggered.  Theoretically it supposes to use `1 x 20MiB x 136 = 2.7GiB` but killed by the kernel.

[2018-08-23 14:59] stevepeak commented on #6280
@kannappanr Ok. So I must be missing something here. Can you check this out: https://cl.ly/e8f3c270e9c3

I just don't understand how to get `Content-Encoding: gzip` working...

[2018-08-23 17:22] harshavardhana commented on #6338
Generate the PDF `top10` is not really fully indicative of the situation, if you see bytes.Buffer is only indicated, you can use these options to get a better understanding of allocated bytes.

[code]

[2018-08-23 17:23] #6053 closed, assigned to Praveenrajmani

[2018-08-23 17:44] balamurugana commented on #6338
Attaching PDF outputs the test.

[alloc_objects.pdf](https://github.com/minio/minio/files/2315587/alloc_objects.pdf)
[alloc_space.pdf](https://github.com/minio/minio/files/2315589/alloc_space.pdf)
[inuse_objects.pdf](https://github.com/minio/minio/files/2315590/inuse_objects.pdf)
[inuse_space.pdf](https://github.com/minio/minio/files/2315591/inuse_space.pdf)

[2018-08-23 17:48] harshavardhana commented on #6338
If you look at the alloc_space PDF you can see the bytepool is only 5% of the overall allocation. The major allocation that is happening is in Gob and bytes.Buffer

[2018-08-23 17:57] harshavardhana commented on #6338
And in_use i.e acitve is only 200MiB, most of the memory here which led to the crash is given to GC which didn't clean up quickly in it's default 2x growth logic.

[2018-08-23 17:59] balamurugana commented on #6338
It looks like 43GiB of memory was allocated (but why 43GiB of memory used) and it should had been freed up as well. Otherwise `top10` could have showed who is holding.
[code]

[2018-08-23 18:00] balamurugana commented on #6338
I have also tested `pkg/bpool` which is not really freeing up memory even if `runtime.GC()` is called.  It has very serious bug. By default GC is kicked in 2 minutes to 3 minutes approximately and `runtime.GC()` clears up immediately.

[2018-08-23 18:28] harshavardhana commented on #6338
bpool Is only to reuse memory it has nothing to do with GC. It keeps buffer active for future operations that is why bpool will not free in GC. Instead it keeps them active. So all future erasure operations simply get it from this pool. That is why actual allocation done by this code is only 5% as clearly indicated in the graph and active use is only 200MiB. Note this is not same as sync.Pool

The

[2018-08-23 18:36] harshavardhana commented on #6338
No one is holding the memory other than bpool, it is the problem of when GC kicks in as I suggested earlier you can test with GOGC=30 set as env which will allow for a more aggressive GC and it might not crash at all.

[2018-08-23 18:38] kaankabalak opened #6349 "Conflicting bucket policies can be added"
## Expected Behavior

We shouldn't be able to add conflicting bucket policies from the browser.

## Current Behavior

We can add conflicting bucket policies from the browser.

## Possible Solution

Not being completely sure, we can make changes to the `web-handlers.go` file to include [this code block](https://github.com/balamurugana/minio/commit/be3d82889a1c590af6570b67d94cd75fae58062c#diff-a3326

[2018-08-23 18:55] eco-minio commented on #6166
No longer have Docker for Mac installed, it is working with mc client on Mac against server running in Ubuntu.  Closing.

[2018-08-23 18:55] #6166 closed, assigned to vadmeste

[2018-08-23 18:58] harshavardhana commented on #6338
From whatever I see here, I think the fundamental problem is using Gob + HTTP and they are ill-suited together. I.e gob is not designed to be allocated again and again for each Call() and Receive() behavior.

The reason is simple if you look at net/rpc it always uses the same gob.Encoder/Decoder it first allocated when the connection was established under both situations and never creates new gob.

[2018-08-23 20:37] kannappanr commented on #6280
@stevepeak We have done various tests on GCS with respect to creating buckets and uploading objects. We have run mc on Linux and Mac. I have even accessed your bucket and object and here is what I see.

[code]

Just to be clear I am using the latest `mc` release

[2018-08-23 21:40] #6321 closed, assigned to ebozduman

[2018-08-23 22:27] aarushiarya opened #6352 "Mc mirror --watch should exit if source bucket doesn't exist."
## Expected Behavior

mc mirror does not exit and continues watching, even if source bucket doesn't exist.

## Current Behavior

mc mirror gives an error if source bucket doesn't exist and continues watch.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Add host to mc.
2. Run mc mirror watch, enter bucketname that doesn't exist in the source.
`mc mirror --watch minio/mybucket myminio/m

[2018-08-23 22:51] kaankabalak commented on #6349
Changed the issue title as I was also able to verify using `mc`.

The following terminal output can also be used to reproduce this issue:
[code]

[2018-08-23 23:03] harshavardhana commented on #6349
can you add `mc policy download` for `test/foo` ?

[2018-08-23 23:18] kaankabalak commented on #6349
@harshavardhana Looks like it sets the `test/*` policy to `none` on the `mc` policy list when I do this. However, the browser shows "Read Only" for `*` now.

Should this policy ever be listed as `none` in the policy list, or should it be completely removed whenever it is set to `none`? If the first option is true, then the browser showing "Read Only" for `*` should be handled in the UI.

[code]

[2018-08-23 23:50] harshavardhana commented on #6349
A conflicting policy here is that if you set `mc policy upload myminio/test` and `mc policy download myminio/test/foo`  - is this possible?

[2018-08-23 23:57] kaankabalak commented on #6349
@harshavardhana, looks like it is possible, I'm attaching the terminal output:
[code]

[2018-08-24 00:22] harshavardhana commented on #6349
Actually, this change is expected - I think it is not a regression instead its a full feature just like AWS S3. I tested multiple scenarios and we are working in accordance with how AWS S3 works in this scenario.

So I wouldn't consider this as a regression instead we now fully support AWS S3 style behavior including nesting etc.

[2018-08-24 00:30] kaankabalak commented on #6349
Ok, I guess this is fine then, thanks for clearing it up for me!

[2018-08-24 01:15] kannappanr commented on #6349
@balamurugana Can you also comment?

[2018-08-24 01:24] balamurugana commented on #6349
As per @harshavardhana's comment, full policy support was added as like AWS S3 in the refactor.  I won't mark any issue as regression without knowing the feature and/or tests than some assumption.

[2018-08-24 01:31] kannappanr commented on #6349
@balamurugana Thanks Bala. We wanted you to confirm. Will close this as working as intended.

[2018-08-24 01:31] #6349 closed, assigned to nobody

[2018-08-24 04:05] kaankabalak commented on #6349
Thanks @balamurugana for confirming, sorry for opening an issue without completely knowing about it.

[2018-08-24 05:09] nitisht commented on #6240
Thanks @ntim

Yes, this is perfect. Should we update our docs with this @harshavardhana

[2018-08-24 05:12] nitisht commented on #6348
Thanks for the issue @sanverm2 we'll take a look and fix it soon.

[2018-08-24 05:16] nitisht commented on #6352
@aarushiarya minio/mc repo is the correct place for this issue.

[2018-08-24 06:04] #6256 closed, assigned to nobody

[2018-08-24 06:39] nitisht commented on #6336
Hello @KuladeepK here are the answers -

Could you clarify a bit - do you mean a policy to delete the object after a certain time or something else? Is there an AWS S3 equivalent feature that you can point us to.

By default objects in WORM can never be deleted. To delete such files, you'll need to restart the server with WORM disabled.

This was a bug that was fixed. Can you try with release `REL

[2018-08-24 06:39] iiroj opened #6355 "Error: The specified method (PUT) is not allowed against this resource."
After upgrading to minio [`RELEASE.2018-08-21T00-37-20Z`](https://github.com/minio/minio/releases/tag/RELEASE.2018-08-21T00-37-20Z), the [Arq](https://www.arqbackup.com) software is reporting multiple errors in the form:

[code]

There is no console output in my minio docker, it only shows the startup information.

## Expected Behavior

The backup should just work, I guess.

## Context

Since this

[2018-08-24 06:40] nitisht commented on #6355
@iiroj can you help us with the previous version of Minio that you were using?

[2018-08-24 06:48] harshavardhana commented on #6240
Yes I think so @nitisht

[2018-08-24 06:50] iiroj commented on #6355
@nitisht From looking at the docker hub, it was either `RELEASE.2018-08-18T03-49-57Z` or `RELEASE.2018-08-02T23-11-36Z`. Is that enough? I have pruned the images so it's no longer available.

[2018-08-24 07:10] nitisht commented on #6355
Okay @iiroj . Can you try these

- Stop Minio server and confirm if `MINIO_WORM` is set to true in that console.
- If `MINIO_WORM` is not set, can you set env var `export MINIO_HTTP_TRACE=</path/to/log.file>` and then try Arq again. `</path/to/log.file>` will have the tracing information. Can you attach that here

[2018-08-24 07:24] aarushiarya commented on #6352
Okay. I will create issue in minio/mc

[2018-08-24 07:24] #6352 closed, assigned to nobody

[2018-08-24 07:54] iiroj commented on #6355
Is this what you are looking for?

[code]

[2018-08-24 07:55] nitisht commented on #6355
yes this looks good, but can you also confirm if `MINIO_WORM` is set or not

[2018-08-24 07:56] iiroj commented on #6355
Ah, sorry. It's not set inside the Docker container's ENV.

[2018-08-24 07:57] nitisht commented on #6355
okay, thanks we'll take a look

[2018-08-24 07:59] #6315 closed, assigned to Praveenrajmani

[2018-08-24 07:59] sinhaashish commented on #6348
@sanverm2  : Can you please share your `prometheus.yml` wanted to see the  `scrape_configs`

[2018-08-24 08:01] iiroj commented on #6355
For what it's worth, I tagged `RELEASE.2018-08-18T03-49-57Z` in my `docker-compose.yml` and the error then went away.

[2018-08-24 08:16] nitisht commented on #6355
Marking this as regression as looks like it was working earlier.

[2018-08-24 08:28] littletow opened #6356 "I using notify service redis,but i get nothing"
## Expected Behavior

1490686879.650649 [0 172.17.0.1:44710] "PING"
1490686879.651061 [0 172.17.0.1:44710] "HSET"
## Current Behavior

1490686879.650649 [0 172.17.0.1:44710] "PING"
## Possible Solution

## Steps to Reproduce (for bugs)

1.docker run minio
2.docker run redis:3.2
3.docker run mc
4.mc config minio
5.mc admin config get myminio/ > /tmp/myconfig
6.vi /tmp/myconfig
7.mc admin config set

[2018-08-24 08:56] sanverm2 commented on #6348
I am not sure if I can share the whole configuration, but I am sharing endpoint jobs because they drive  the Minio scrapping.
[code]

[2018-08-24 09:05] stevepeak commented on #6280
@kannappanr Thank you again for your help and patience.

I'm simply seeing different results...(hair pulling).

As demonstrated below. The file in GCS has `Content-Encoding: gzip` but `mc stat` ignores.

[code]

[code]

<img width="469" alt="screen shot 2018-08-24 at 11 04 32" src="https://user-images.githubusercontent.com/2041757/44575905-834eb180-a78d-11e8-8b0a-43008ec1e006.png">

[2018-08-24 09:40] sanverm2 commented on #6348
FYI. This issue is seen for both with and without TLS  setting.

[2018-08-24 09:56] nitisht commented on #6320
Shall we close this issue then @vishk35

[2018-08-24 10:40] geek-at opened #6357 "[Distributed] Disks are never formatted if instances mixed with binary and docker hosts"
I have set up 4 minio servers in 4 different physical locations. 3 Are running the native linux binary and one is running in a docker container.

**All instances are using this exact version:**
- Version: 2018-08-21T00:37:20Z
- Release-Tag: RELEASE.2018-08-21T00-37-20Z
- Commit-ID: 2d84b02bc429ad059a060001bccd712491e6e6a3

I am able to ping and curl all instances from all locations and even from i

[2018-08-24 13:39] viincenb opened #6358 "Distributed Minio does not run"
After reproducing steps defined in https://docs.minio.io/docs/deploy-minio-on-docker-swarm.html, I do not have my minio instances ready (connection refused in browser).

## Expected Behavior
Having 4 minio instances on 900{1-4} ports in my Swarm.

## Current Behavior
The associated containers are "healthy" but I got "connection refused" in my browser when connecting to http://[Node_Public_IP_Addre

[2018-08-24 13:50] evtimokn opened #6359 "Which ports are used for network communication"
I need to know which ports are used by minio to communicate to any components of Pivotal PAS. In my configuration PAS is running on a different NSX-Virtual-Wire than Minio. In order to enable the communication between both virtual wires I need to enable NSX-Firewall rules for all the ports that are used by minio to send or receive data to/from PAS.

## Your Environment
PAS 2.0.20

[2018-08-24 14:11] kannappanr commented on #6357
@chrisiaut Except the first node, all the other nodes will display `Waiting for the first server to format the disks.` during the initial setup. The first node will display, `Waiting for all other servers to be online to format the disks.`, once you have enough number of disks online.

Can you run them by also setting the server address and port while starting the minio instances?

[code]

[code]

[2018-08-24 14:35] viincenb commented on #6358
I tried an other server as a node worker and it works, minio does not want my server :disappointed: I think this issue may be closed unless someone wants to understand what happened.

[2018-08-24 14:56] #6327 closed, assigned to poornas

[2018-08-24 15:20] geek-at commented on #6357
Great idea but what if I'm using NAT?

I assume the `--address` flag is also the listen flag, so I can only set it to an IP or hostname which is directly used by the device running the command, right? What if the device is behind a firewall which will NAT the port to the device. Would `--address` still work if I put in the firewalls hostname?

[2018-08-24 15:48] harshavardhana commented on #6359
Only one port is used per instance of Minio - default port is 9000

[2018-08-24 17:35] deekoder commented on #6358
@devSwoop it could be any number of things outside of minio. We would need to engage back and forth to know why this may have happened. Please come to our slack channel at slack.minio.io and I will close this issue.

[2018-08-24 17:35] #6358 closed, assigned to nobody

[2018-08-24 17:36] deekoder commented on #6359
Closing this issue. Let us know if you have any issue.

[2018-08-24 17:36] #6359 closed, assigned to nobody

[2018-08-24 18:01] gmatev commented on #6329
@aead understood. Thank you for the clarification.

[2018-08-24 21:36] #6355 closed, assigned to vadmeste

[2018-08-24 21:56] vadmeste commented on #6355
@iiroj can you test minio/minio:edge image? It should have the fix of your issue

[2018-08-24 22:17] kannappanr commented on #6280
@stevepeak We finally found the issue. See https://cloud.google.com/storage/docs/transcoding#decompressive_transcoding

Google always decompresses and sends the data back by default.

To make this work, we need to set `Accept-Encoding: gzip` as part of the request header.

 If you try `curl -H "Accept-Encoding: gzip" "https://storage.googleapis.com/codecov/foobar.txt.gz" -o /tmp/file` , you will s

[2018-08-25 01:03] harshavardhana commented on #6357
this command line is wrong. `minio server` doesn't have any `-e` option I am pretty sure somehow your servers have same config and it has worked with binary - whereas docker doesn't. So please use envs like by exporting them in your shell.

[code]

With this, your servers will connect fine.  It is recommended also that don't use different ways to run minio either use docker or either use binary ba

[2018-08-25 01:09] harshavardhana commented on #6313
The code path is the same so it shouldn't cause problems.

Do you have a tcpdump from the NFS client for us to look at? - From what it looks like your NAS server is returning an error. This doesn't happen on local disks so I am not sure why. Should you contact your vendor?

[2018-08-25 01:14] harshavardhana commented on #5526
This is not going to be implemented, closing.

[2018-08-25 01:14] #5526 closed, assigned to krishnasrinivas

[2018-08-25 01:15] kannappanr commented on #6115
@kallisti5 We are closing this issue as won't fix. please feel free to let us know if you have any questions.

[2018-08-25 01:15] #6115 closed, assigned to kannappanr

[2018-08-25 01:17] harshavardhana commented on #5013
Fixed by #6233

[2018-08-25 01:17] #5013 closed, assigned to fwessels

[2018-08-25 01:19] harshavardhana commented on #4763
This is fixed in master already closing.

[2018-08-25 01:19] #4763 closed, assigned to krishnasrinivas

[2018-08-25 01:20] harshavardhana commented on #4988
@aead @krishnasrinivas already refactored erasure enough - should we keep this issue open?

[2018-08-25 01:40] harshavardhana commented on #5902
Closing this as a stale issue.. feel free to re-open if it can be reproduced with latest release.

[2018-08-25 01:40] #5902 closed, assigned to krishnasrinivas

[2018-08-25 05:53] stevepeak commented on #6280
Phew! I thought for a moment there I was going crazy....

I greatly appreciate your patience and help. This issue was quite illusive. Very pleased to hear it will be resolved in due time. 👍

[2018-08-25 06:52] iiroj commented on #6355
@vadmeste Seems to work! I'm not getting any errors anymore using `minio/minio:edge `.

[2018-08-25 07:42] harshavardhana commented on #6355
We already made the release as well @iiroj so you can use `minio/minio:latest`

[2018-08-25 10:50] geek-at commented on #6357
@harshavardhana I copied it wrong to my original post, of course the key and secret were set via ENV vars.

So the problem still remains. If it's just not supported then it should be mentioned in the documentation but from a software developer standpoint I don't see a reason why it shouldn't work.

I do realize minio needs a rewrite in regards of following routes of supplied URLs so it works in a

[2018-08-25 20:52] harshavardhana commented on #6357
We will address this by falling back on older kernels @chrisiaut there is no reason to mention this.

There is no reason to mention this specifically, bit is a recommended practice to use homogenous environments for production deployments. What we are instead going to write this is distributed setup requires homogenous environments.

[2018-08-26 03:23] #6320 closed, assigned to nobody

[2018-08-26 03:23] harshavardhana commented on #6320
Closing as working as intended.

[2018-08-26 03:24] harshavardhana commented on #6323
@poornas can you write down what we decided here?

[2018-08-26 03:59] balamurugana opened #6363 "Parallel downloads made minio to be killed by kernel"
## Setup Information:
* 8 servers of [t1.small.x86](https://www.packet.net/bare-metal/servers/t1-small/)
* minio version
[code]
* mc version (with [custom patch](https://github.com/balamurugana/minio-profile/blob/master/runs/8601f29d95f2ad2055613bedcc917e692ffab5fd/mc-single-thread-upload.diff))
[code]

## 100MiB sized objects of 26 parallel uploads
* [Put object script](https://github.com/balamur

[2018-08-26 06:20] harshavardhana commented on #4998
There is no reason to do this anymore since we are going to move to more key-value style format for config keys beginning with https://github.com/minio/minio/pull/6113

[2018-08-26 06:20] #4998 closed, assigned to nobody

[2018-08-26 06:22] harshavardhana commented on #5877
are we going to do this? any proposals? @vadmeste @krishnasrinivas

[2018-08-26 18:21] tpoxa opened #6364 "Minio doesn't work with NATS streaming server in cluster mode"
As soon minio started sharing config along all nodes in cluster mode -  no possibility to setup unique client ID for NATS streaming server which is required.

When I use NATS streaming server with streaming server enabled I have this error on 3 nodes of 4
[code]
As possible solution:

Make client ID placeholder like %CLIENT_ID% which will be automatically populated by minio node ID or etc

***

Ve

[2018-08-26 20:25] fergbrain opened #6365 ""Unhealthy" status reported by Docker because curl was removed"
#6347 removes curl, however curl is still required by minio/dockerscripts/healthcheck.sh

## Expected Behavior
Docker should report correct heath status of Minio (i.e. running  `/usr/bin/healthcheck.sh` should only raise an error when the healthcheck has failed)

## Current Behavior
Docker reports that Minio is unhealthy.

## Possible Solution
1. Add curl back (using v7.61.0-r0 or greater) (remove

[2018-08-26 21:38] harshavardhana commented on #6365
Oh yes thanks for reporting this issue.

[2018-08-27 00:18] harshavardhana commented on #6364
Can you provide an output of `mc config get myminio | jq .` to get the config JSON output?

[2018-08-27 02:33] poornas commented on #6323
gateway will support encryption for multipart uploads with fixed size

[2018-08-27 05:04] tpoxa commented on #6364
[code]

[2018-08-27 06:08] dockerss commented on #6365
@harshavardhana  By when can we expect this in the latest build?

[2018-08-27 06:37] harshavardhana commented on #6365
The coming week, for now, please disable the health check in the compose as a workaround.

[2018-08-27 06:40] #6365 closed, assigned to harshavardhana

[2018-08-27 08:50] aead commented on #4988
I think we can close and reopen/reference whenever we do something about this...

[2018-08-27 09:57] vadmeste commented on #5877
I think we are good with printing informative logs

[2018-08-27 09:59] nitisht commented on #4988
okay closing this then

[2018-08-27 09:59] #4988 closed, assigned to aead

[2018-08-27 10:03] Praveenrajmani commented on #6356
hey @longfengfirst ,

I tried the same here with an `mc cp` . It seems to work fine

![image](https://user-images.githubusercontent.com/5410427/44654138-52c97a80-aa0e-11e8-8265-f125657e14b6.png)

![image](https://user-images.githubusercontent.com/5410427/44652276-23643f00-aa09-11e8-84dc-44478ebcf59a.png)

can you do an `mc events list` on the subscribed bucket ?

[2018-08-27 10:18] shantanugadgil opened #6367 "Server side encryption specified but KMS is not configured"
We use Minio as a local S3 server.
After updating to the most recent versions (KMS enabled ones), we have started getting the following error during uploading files into Minio.

[code]

Failing on versions
[code]

It also fails on the latest version
[code]

I see a new "kms" section added in the config.json.
My config.json is at version 28 (twenty eight)

Is there any way to disable KMS altogether

[2018-08-27 10:22] aead commented on #6367
@shantanugadgil You see this error message because you haven't configured a KMS but send SSE-S3 requests. If you look at the S3 request headers of your client application(s) you should see:
`X-Amz-Server-Side-Encryption: AES256`.
So your client requests SSE-S3 but no KMS is provided to store/manage the SSE-S3 keys.
So either you have to specify a KMS or not send this S3 header. The server cannot i

[2018-08-27 10:47] shantanugadgil commented on #6367
@aead Thanks. I will check up on the headers being sent by the client and see if it can be switched off optionally.

[2018-08-27 12:17] shantanugadgil commented on #6367
confirming that the code was using the `encrypt=True` parameter during an S3 upload code (boto function: `set_contents_from_string`) which was causing this.

The upload worked fine after trying with `encrypt=False`

Thanks and Regards,
Shantanu

[2018-08-27 12:17] #6367 closed, assigned to aead

[2018-08-27 13:57] deepak71 opened #6368 "Distributed Minio not starting with TLS"
We're trying to start a distributed cluster of 3-nodes with TLS certificates but minio service is failing to start. With the same configuration, If we start minio service with http its starting without any issue. But if we start Minio service with https by having TLS certificates in place it doesn't start and failing with below errors:
minio[10724]: Waiting for a minimum of 3 disks to come online

[2018-08-27 15:39] vadmeste commented on #6368
@deepak71, are you using self signed certificates ? if yes you need to put all certificates of all servers in ~/.minio/certs/CAs/ of all servers.

This needs to be fixed ASAP https://github.com/minio/minio/issues/5877 to print useful information about why nodes are not able to connect (in some cases)

[2018-08-27 17:11] aead commented on #6323
@poornas AFAICS this will not work

[2018-08-27 17:45] deepak71 commented on #6368
@vadmeste As per minio documentation we should put self signed certificates in ~/.minio/certs.  Also, I tried by putting these certs in ~/.minio/certs/CAs, but its failing with below error message:

`minio[46517]: ERROR Unable to start the server: HTTPS specified in endpoints, but no TLS certificate is found on the local machine.`

[2018-08-27 18:25] harshavardhana commented on #6323
@aead a fixed size is possible we need to do how GCS/Azure gateway implement multipart.

[2018-08-27 19:41] harshavardhana commented on #6368
@deepak71 what @vadmeste meant is you need to copy `public.crt` generated for different servers into `/.minio/certs/CAs` folder. Rest of the `public.crt` and `private.key` should be placed in `/.minio/certs`

[2018-08-27 22:02] kalleyne opened #6371 "Web interface on Minio Gateway hanging/freezing when rendering/displaying bucket content with custom policies on upstream S3 service"
RELEASE.2018-08-21T00-37-20Z
Usually, the web interface on Minio Gateway is responsive and smooth.

However, certain custom S3 policies can negatively affect the ability to view and select buckets within the web browser especially when such policies deny access to certain buckets to the user. This does not seem to be a problem with mc as this appears to work correctly with respect to policies.

[2018-08-27 22:04] harshavardhana commented on #6371
Thanks @kalleyne

[2018-08-27 22:17] deekoder commented on #6363
~@balamurugana  is this a different issue from https://github.com/minio/minio/issues/6338~ ah nevermind. I just saw the title more carefully. One is for upload and the other is for downloads.

[2018-08-28 02:08] littletow commented on #6356
I am very sorry, I found the reason, because the format is not set, An example of Redis configuration is as follows:
"redis": {
    "1": {
        "enable": true,
        "address": "127.0.0.1:6379",
        "password": "yoursecret",
        "key": "bucketevents"
    }
}

I am not familiar with this parameter, so I have not set this.

[2018-08-28 02:36] littletow commented on #6356
I suggest modifying the redis configuration example document to add the format field.:slightly_smiling_face:

[2018-08-28 02:43] Praveenrajmani commented on #6356
@longfengfirst  Yes we need to update the doc. Thanks for reporting !

[2018-08-28 03:45] nitisht commented on #6269
@Meerbi can you try

[code]

[2018-08-28 08:12] deepak71 commented on #6368
@harshavardhana @vadmeste `public.crt `and `private.key` are lying in /.minio/certs directory only, but minio service not starting. Also no exceptions are being reported other then `minio[10724]: Waiting for a minimum of 3 disks to come online (elapsed 58m50s)`.

With the configuration and by using http in place of https and removing these certs from `/.minio/certs/` directory it successfully star

[2018-08-28 08:26] nitisht commented on #6368
@deepak71 here is what you need to do

- Keep `public.crt` and `private.key` in /.minio/certs
- Additionally copy `public.crt` from each minio instance and put it in `/.minio/certs/CAs` of all other minio instances - while renaming the certs as `public1.crt`, `public2.crt` and so on.

Currently Minio servers don't trust other peer's cert as it is self signed, by adding all `public.crt` to `/.minio

[2018-08-28 08:41] kanagarajkm commented on #6371
I could reproduce this issue by setting the policy to Deny ListBucket for the first bucket on the list.

[2018-08-28 12:54] deepak71 commented on #6368
@nitisht this way also it didn't help still getting the same exception while starting the minio service.

With this configuration (by placing certificates in designated directories), we're able to start a standalone minio instance, similar config don't work in distributed setup.

[2018-08-28 14:37] challarao opened #6372 "Implement Date Conditions in bucket policies"
Conditionals:
- DateEquals | Matching a specific date
- DateNotEquals | Negated matching
- DateLessThan | Matching before a specific date and time
- DateLessThanEquals | Matching at or before a specific date and time
- DateGreaterThan | Matching after a specific a date and time
- DateGreaterThanEquals | Matching at or after a specific date and time

Keys:
aws:CurrentTime key or aws:EpochTime

## E

[2018-08-28 14:52] nitisht commented on #6368
Can you paste the commands you used to start Minio server and also the output of `openssl x509 -in ~/.minio/certs/public.crt -text -noout`

[2018-08-28 15:20] deepak71 commented on #6368
@nitisht We're using our own certificates issued by internal Certificate Issuing Authority. Also, I checked certficates authenticity its a valid one. And we're using following config for starting Minio service.

cat minio.conf
[code]

[2018-08-28 15:25] nitisht commented on #6368
Okay, I just wanted to confirm certificates are issued for the domain `server1` / `server2`

[2018-08-28 15:35] deepak71 commented on #6368
Yes, certificates are not subjected together with domain or server name like having `*server*`.

[2018-08-28 18:51] deekoder opened #6375 "Run heal in low priority."
If other IO is happening on the system, suspend heal operation if its happening at the same time. Take into account number of threads.

More details are pending discussion.

[2018-08-29 03:16] arturgvieira-zz opened #6376 "Possible issue in default Omnibus install of Gitlab / Minio"
A heads up, to the teams, that the current default install only allocates 10GB of space for Minio.
## Expected Behavior

A docs mention of this specific setting, so that users can choose the size of the bucket ahead of time, or allow for an object lifecycle hook to allow for a rolling setup. Old objects would be deleted and newer ones take their place that would make 10GB not that bad of a choice

[2018-08-29 04:07] bearmoo-cloud-net commented on #6273
Any update?

-Frank

[2018-08-29 04:12] krisis commented on #6273
@bearmoo-repo I have begun working on this. I will submit a pull request once my changes are ready and tested.

[2018-08-29 04:13] nitisht commented on #6375
closing as duplicate of #6196

[2018-08-29 04:13] #6375 closed, assigned to harshavardhana

[2018-08-29 04:36] nitisht commented on #6376
@arturgvieira we are not the maintainers of the [Gitlab Helm Chart](https://gitlab.com/charts/gitlab/tree/master), accordingly looks like this issue doesn't belong here - instead on the Gitlab Chart repo.

Do feel free to let us know if there are issues on the Minio server

[2018-08-29 04:59] arturgvieira-zz commented on #6376
Ok, I'll close it.

[2018-08-29 04:59] #6376 closed, assigned to nobody

[2018-08-29 05:06] nitisht commented on #6376
Thanks @arturgvieira

[2018-08-29 05:11] nitisht commented on #6368
@deepak71 can you pls join us on slack https://slack.minio.io . It will help communicate better. [edit: updated link]

[2018-08-29 05:12] arturgvieira-zz commented on #6376
Thank you. I will leave here as well that I was able to log into the Minio server and trim the registry size.

[2018-08-29 05:12] kannappanr commented on #6372
@challarao Thanks for filing this issue. We will take a look and get back on the timeline, if we decide to take it up right away.

[2018-08-29 06:45] douglasmiranda commented on #6365
Would you guys be interested in a pull request replacing `curl` with the `wget`?

`wget` is already in Alpine, so no need for adding `curl`.

[2018-08-29 07:33] fergbrain commented on #6365
Based on https://github.com/minio/minio/pull/6347#issuecomment-416105622 I believe their plan is to rewrite the script in Go.

[2018-08-29 12:51] byaminov commented on #6256
@harshavardhana sorry for a late response, was on vacation.

It is NFSv4

[code]

Not that I know of, but I cannot say for sure that there was no restart.

In any case thanks a lot for the fix! Now even if a single file gets corrupted it won't break the directory listing anymore.

[2018-08-29 13:15] krisis commented on #6273
@bearmoo-repo I have done some initial testing. I still need to do docker registry tests. It would be great if you could test the [PR](https://github.com/minio/minio/pull/6377) and provide comments.

[2018-08-29 14:04] meinemitternacht commented on #5613
@krishnasrinivas @harshavardhana you mentioned in a previous post that minio will auto-purge old multipart uploads.  I looked through some of the documentation but did not see a reference to this behavior.  How often are they purged?

Where I work, we are using minio for some internal S3-compatible testing, and it would have made things much easier if listMultipartUploads with a less restrictive p

[2018-08-29 14:21] Praveenrajmani commented on #6356
@nitisht Shall we close this ?

[2018-08-29 14:57] #6356 closed, assigned to Praveenrajmani

[2018-08-29 16:53] maxozerov commented on #4372
Hm, I am writing in a closed Issue, but I did not find any more info about User Management (ldap/AD/kerberos) and Minio. Please, Could you remind or maybe already have open Issue about LDAP? it (User Management) will be in future releases?

[2018-08-29 16:59] ghost commented on #6328
@vadmeste its not that server, this is a real problem, we did the same experiment with mongodb and there were no issues....

[2018-08-29 17:37] harshavardhana commented on #6328
Minio and mongodb are two different types of software. The comparison is not correct we should look at nginx v/s Minio in your scenario.

[2018-08-29 18:24] douglasmiranda commented on #6365
That makes sense!! xD Thanks for answering.

[2018-08-29 18:33] harshavardhana commented on #6256
I think the problem is that your NFS server is not honoring O_SYNC mode otherwise we will never get empty `fs.json`

[2018-08-29 18:50] deekoder commented on #6372
@challarao will put this in future for now. We will still discuss this and see if it needs to be part of the next milestone. Please stay tuned.

[2018-08-29 18:59] dfredell opened #6379 "Allow disabling TCP_FASTOPEN"
## Expected Behavior
Have minio boot on Joyent's [SmartOS](https://en.wikipedia.org/wiki/SmartOS) (a fork of Solaris and illumos).

## Current Behavior
When starting docker it won't boot.
[code]
When running the same command with `RELEASE.2018-08-02T23-11-36Z` minio boots just fine.

## Possible Solution

- Add a flag so the user can disable TCP_FASTOPEN / 'enhanced tcp features' from #6289
- Have

[2018-08-29 19:01] harshavardhana commented on #6379
TCP_FASTOPEN Is already available since 3.6 kernels - did you joyent remove some features from the kernel here? @dfredell

[2018-08-29 19:05] dfredell commented on #6379
Possibly, I have raised a ticket with them as well. We will see what they say too. I didn't remove any features from the kernel intentionally.

[2018-08-29 19:16] dfredell commented on #6379
@harshavardhana Wow, you are wizard level fast. I'm impressed, and thank you.
And on the version, the OS host is running kernel `5.11`, but the kernel the docker uses/ sees is `3.13.0`. I don't claim to know/ understand the magic that Joyent has made. I can just run `uname -a`.

[2018-08-29 19:16] deekoder commented on #6323
This is now unblocked after our discussion yesterday.

[2018-08-29 19:22] deekoder commented on #6336
A fix is in progress for this via https://github.com/minio/minio/pull/6168

[2018-08-29 19:51] challarao opened #6381 "Implement AssumeRole API"
## Expected Behavior
Ability to request temporary credentials for a role with constrained policy.
Ability to use this API: https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html

Client side relevant class: https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/securitytoken/AWSSecurityTokenService.html#assumeRole-com.amazonaws.services.securitytoken.model.As

[2018-08-29 20:16] challarao commented on #6372
This isn't that important for me if https://github.com/minio/minio/issues/6381 is in place :)

[2018-08-29 20:36] #4980 closed, assigned to harshavardhana

[2018-08-29 21:36] deekoder commented on #6348
@sinhaashish  can you look into this.

[2018-08-29 23:58] krishnasrinivas commented on #5613
@meinemitternacht old multipart uploads older than 2 weeks get purged.

Can you give more info on what kind of failures are being simulated? On any failure we cleanup the tmp files, hence .minio.sys directory should not get filled up.

[2018-08-30 00:07] meinemitternacht commented on #5613
We are using [libs3](https://github.com/bji/libs3) to upload files by piping data to the program.  If the upload is aborted for some reason (or a there is a network connectivity issue), libs3 does not issue an "abortMultipartUpload" API call.  This is not the fault of minio, as the client should be issuing that command.  It is just rather annoying for us to have to perform "listMultipartUploads" f

[2018-08-30 00:10] harshavardhana commented on #5613
you can listMultipartUploads if you know for which object it failed, we simply don't support hierarchical listing. Historically we used to support all of this in various combinations but we simply moved for a more simpler bug-free backend implementation which disallowed lesser used features.

If you look at aws-sdk upload managers they abort by default upon error, so libs3 should do the same here,

[2018-08-30 00:18] meinemitternacht commented on #5613
That's perfectly fine, I was mainly curious about how long it would take for temp files to be deleted.  And it seems that we should be handling the deletion of those files ourselves since they could potentially be up to ~10 TB per object uploaded (counting the temporary concatenation file).  Having that data hang around for two weeks is wasteful.

Indeed, I agree that behavior should be present in

[2018-08-30 01:02] harshavardhana commented on #5613
That may be true but we are sort of expecting that you don't have lots of timeouts when uploading large objects, but again if you know object and key then we do list the upload ids and you can forcibly abort them.

[2018-08-30 01:10] harshavardhana commented on #5649
This seems to be a regression @deekoder @poornas we have one more user reporting this issue.

[2018-08-30 01:17] poornas commented on #5649
thanks @harshavardhana, will debug the issue

[2018-08-30 03:14] sinhaashish commented on #6348
@sanverm2 In a Minio distributed deployment all instances are peers; this means each instance will report information about whole deployment. Looking at your scrape config i understand that Prometheus is configured to probe all the four instances. Now all four instances are reporting the truth as they see it. To fix redundant data in Prometheus you will have to probe one instance only.

[2018-08-30 04:13] sanverm2 commented on #6348
@sinhaashish Ok,  that make sense. But the scraping configuration is service specific.

And a service can have multiple back ends. In that way when request is sent to service it should get one response.

Are you suggesting that Prometheus is directly going to endpoints  and not service ?

If that is the case, what Prometheus configuration do you recommend to access only service and not back end(s)

[2018-08-30 04:46] sanverm2 commented on #6348
Also, I checked some of metrics are instance specific not the whole deployment.

![image](https://user-images.githubusercontent.com/28093961/44830112-9dfeab80-ac0f-11e8-8c73-6c241e6eba9b.png)

[2018-08-30 05:00] nitisht commented on #6307
@alexellis I have sent a fix to helm chart repo here https://github.com/helm/charts/pull/7435

[2018-08-30 05:17] Praveenrajmani commented on #6364
@tpoxa  It would be helpful if you provide us the `mc admin info` for all the nodes ?

[2018-08-30 05:18] Praveenrajmani commented on #6364
Meanwhile il try to reproduce it locally

[2018-08-30 06:38] tpoxa commented on #6364
Well, I was unable to keep environment as it is. I removed minio from all
servers. To reproduce the problem you need to

* Setup minio 4 server cluster.
* Run the NATS streaming server
* Enable Nats Streaming notifications with any client ID on any single
server. ( as I understand config will be populated to 3 other servers)
* Enable bucket notifications using nats like it described in minio manua

[2018-08-30 07:02] sinhaashish commented on #6220
@tharnirav  . Can you share the configuration of core-site.xml.
I tried with minio version `RELEASE.2018-08-25T01-56-38Z`  and the below configuration in `core-site.xml` and it is working fine for me.

[code]

Attaching the snap shot for the same.
![hadoop-s3](https://user-images.githubusercontent.com/13465383/44835211-1fc2f900-ac51-11e8-89f6-d0e0c5e19ed1.jpg)

[2018-08-30 08:02] alexellis commented on #6307
Thank you. for the update @nitisht cc @affix

[2018-08-30 08:47] #6158 closed, assigned to balamurugana

[2018-08-30 08:54] nitisht commented on #6348
Services generally do some kind of load-balancing while sending the request to back-end. So, it is not deterministic that each request will go to specific back end node.

Now as different back end (Minio) nodes respond to Prometheus scrape requests, they make separate entries in Prometheus. [As seen in the instance field of the screenshot you attached initially].

Yes, while some info is node spec

[2018-08-30 09:35] harshavardhana commented on #6379
Already sent the PR removing triage.

[2018-08-30 09:37] sanverm2 commented on #6348
OK. But I am not sure how can I make these data useful to users. I was thinking that If I could show  health of deployment(s), then drill down to individual deployment showing disks, instances and instance related data. With this data I am not sure how can map an instance to a given deployment etc.

[2018-08-30 10:00] harshavardhana commented on #6356
In-fact we should validate and throw error if `format` field is not set. Better yet we are supposed to default to 'namespace' format for redis.

[2018-08-30 10:05] harshavardhana commented on #4372
Currently, there is no user management it's going to arrive in its first form in https://github.com/minio/minio/pull/6168

[2018-08-30 12:58] byaminov commented on #6256
Thanks for the advice, I'll try to add it and see if it helps!

[2018-08-30 14:45] dfredell commented on #6379
FYI The reply I got from the Joyent support guy: `You are seeing this error message because our implementation of docker in Triton doesn't support TCP_FASTOPEN yet. I have opened an internal ticket with the engineering team to add support for this feature...`

[2018-08-30 15:46] bennnjamin commented on #6381
+1 I use S3 API this way to provide multi-tenant cloud storage in one bucket and keep every user's data separate. S3 has a 100 bucket limit by default, so securely storing files for thousands of users requires prefix level access control.

[2018-08-30 19:15] rohitnagesh commented on #6240
Tried this, hostname is working from the same container, but when calling from another container its failing. [Link](https://stackoverflow.com/questions/52099248/host-name-not-working-with-docker-swarm-mode)

[2018-08-30 19:18] sboagibm commented on #6076
@nitisht It's still not clear to me how to install minio on Kubernetes v1.10.0 (helm version v2.7.2), minio-0.5.2.  Sorry if the answer is somewhere in the discussion above.

[2018-08-30 22:36] kannappanr opened #6387 "Server hangs on a GetObject API on an encrypted object"
The getobject operation on an SSE-C and SSE-S3 objects hang.

## Expected Behavior
GetObject, GetObject (Range) on encrypted objects should succeed.

## Current Behavior
GetObject, GetObject (Range) operations on an encrypted object hangs.

## Possible Solution

## Steps to Reproduce (for bugs)
Test the following code using Python3 and minio-py
[code]

## Context
Ran into this issue, while testing

[2018-08-31 00:04] kannappanr opened #6389 "X-Amz-Server-Side-Encryption should not be a required header in upload part API call"
In s3 api documentation for upload part https://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadUploadPart.html under section `Server-Side Encryption Specific Request Headers` it states that encryption parameters need not be specified in each UploadPart request unless the object is being encrypted using customer provided key.

## Expected Behavior
Upload Part API call should succeed, even if `X-Am

[2018-08-31 02:30] AlaskaJoslin commented on #5225
This is broken in the [documentation]( https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes-yaml/minio-standalone-deployment.yaml). By the way really awesome product.

[2018-08-31 04:12] nitisht commented on #5225
Why do you say it is broken @AlaskaJoslin it is as per https://docs.minio.io/docs/minio-monitoring-guide.html

[2018-08-31 04:15] nitisht commented on #6076
you can refer this doc @sboagibm https://docs.minio.io/docs/deploy-minio-on-kubernetes.html

[2018-08-31 08:34] nitisht commented on #6348
You could probably show health of each instance, deployment name is available under `app` section so users can understand which instance it is a part of.

But let me check internally with the team as well, if we can do something to avoid such scenarios

[2018-08-31 09:11] sanverm2 commented on #6348
Sure, thanks.

[2018-08-31 10:18] deepak71 commented on #6368
@nitisht  Nitish could you invite me to your workspace. Unable to join that.

[2018-08-31 10:23] nitisht commented on #6368
I'll need your email id for that, but did you try  https://slack.minio.io what is the error you see

[2018-08-31 11:43] Praveenrajmani commented on #6364
Hey @tpoxa  Can u check with the patch provided , By setting the `client ID` as empty ? BTW, this PR needs some decision . So this is just a temp fix.

This seems to work for me here when tested.

![image](https://user-images.githubusercontent.com/5410427/44910475-faadb380-ad40-11e8-90da-ddd00206c9c7.png)

![image](https://user-images.githubusercontent.com/5410427/44910493-09946600-ad41-11e8-9616-

[2018-08-31 11:49] balamurugana commented on #6318
Below is the behavior when a node is unreachable.

Setup:
* Fedora 28 4 KVM nodes/1 disk

All nodes available:

[code]

When node4 is unreachable by using iptables:
[code]

When node4 is down by simulating network disconnect:
[code]
`mc cp` timings
[code]

The timeout to identify node network failure is `1 * time.Minute` for each RPC module (lock, storage, etc).  Mostly two minutes timeout is seen

[2018-08-31 12:34] nitisht opened #6392 "Update Redis client library"
**Not using template on purpose as this is not a bug (yet)**

Current Redis client library we use for bucket notifications is https://github.com/garyburd/redigo/ . It has now been archived.

We should probably move to other Redis client library, preferably more popular libraries like this: https://github.com/go-redis/redis

[2018-08-31 14:14] victornoel opened #6393 "Minio running on Swarm as Azure gateway exits by itself after a few minutes"
## Expected Behavior

Minio should run without stopping.

## Current Behavior

After a few minutes, minio exits with the message:
[code]

## Possible Solution

Disabling healthcheck seems to fix the problem (see #5057)

## Steps to Reproduce (for bugs)

Use the following docker swarm stack file:
[code]

## Your Environment
* Version used (`minio version`): 2018-08-25T01:56:38Z
* Environment name a

[2018-08-31 14:28] nitisht commented on #6393
We had an issue with healthcheck in the release `2018-08-25T01:56:38Z` . It is already fixed on master with https://github.com/minio/minio/pull/6366 .

If possible please disable healthcheck for now, we'll make a release very soon, if not please use `RELEASE.2018-08-21T00-37-20Z` for now.

[2018-08-31 14:29] nitisht commented on #6393
@victornoel closing the issue as it is known/fixed already. Do feel free to get back if there are other issues.

[2018-08-31 14:29] #6393 closed, assigned to nobody

[2018-08-31 14:39] victornoel commented on #6393
@nitisht great, thanks for the explanation!

[2018-08-31 14:52] vadmeste opened #6394 "Storing a spark data frame in the server fails"
## Expected Behavior
Running this small spark code should work:
[code]

## Current Behavior
Spark showing this error:
[code]

## Possible Solution
xl.DeleteObject() behavior seems to be slightly changed recently, a fix is already found

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context
Fix bug

## Regression
Yes,

https://github.com/minio/minio/commit/384a862940f63ab97acb21cdb04d5cce0bdd62

[2018-08-31 15:00] tpoxa commented on #6364
@Praveenrajmani Hello. Yes this fix works good for me. Thank you.

[2018-08-31 20:16] #6394 closed, assigned to vadmeste

[2018-08-31 20:17] #6379 closed, assigned to harshavardhana

[2018-08-31 20:21] #6387 closed, assigned to harshavardhana

[2018-08-31 20:22] harshavardhana commented on #6387
Fixed by #6398

[2018-08-31 20:23] harshavardhana commented on #6392
yes we should @nitisht :+1:

[2018-08-31 21:03] harshavardhana commented on #6322
is this fixed @kaankabalak @kannappanr ?

[2018-08-31 21:19] kannappanr commented on #6322
Not yet.

[2018-08-31 21:54] kaankabalak commented on #6322
There is a slight problem extracting the error message for the case where a user tries to download a zip file containing an encrypted file, as the error seems to be written on top of the response. The response looks like the following:

![screen shot 2018-08-31 at 2 47 40 pm](https://user-images.githubusercontent.com/27314853/44937272-48202580-ad2d-11e8-9c48-3931269ae533.png)

Returning the same S

[2018-08-31 22:57] poornas opened #6400 "Add sse-s3 support for S3 Select Object api"
## Expected Behavior

SSE-S3 support is added in minio server. S3 Select Object Content handler needs to be enhanced to
handle sse-s3 encrypted objects
## Current Behavior

not implemented
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression
 No

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Ser

[2018-09-01 02:33] cwrx777 opened #6401 "Issue running Shared backend in Windows"
Related to #5649
I am trying to setup multiple instances of minio in Windows using a shared backend.
Here is the setup:
1. VM1. A Windows Server 2016 VM with a shared folder (SMB), and 'Everyone' has read/write access.
2. VM2. A Windows Server 2016 VM.
Run minio with gateway nas mode using the shared folder in VM1.
3. VM3. A Windows Server 2016 VM.
Run minio with gateway nas mode using the shared

[2018-09-01 05:27] forging2012 opened #6402 "minio: <ERROR> Go runtime version check failed. Minio is not compiled by Go >= 1.9.4. Please recompile accordingly"
macOS 10.13.6 (17G65)

minio: <ERROR> Go runtime version check failed. Minio is not compiled by Go >= 1.9.4.  Please recompile accordingly

[code]

[2018-09-01 07:40] nitisht commented on #6402
what is the go version and minio version you’re using @forging2012

[2018-09-01 07:42] nitisht commented on #6401
Thanks for creating the issue @cwrx777 we’ll take a look soon

[2018-09-01 08:20] harshavardhana commented on #6402
We have long removed this check which version of Minio is this ? And how did you install ?

[2018-09-01 09:20] harshavardhana opened #6403 "Select fails with unexpected error on files with special delimiter requirement"
***not using template***

No failure as observed with S3
[code]

Failure as observed with Minio
[code]

[2018-09-01 09:24] harshavardhana commented on #6403
[code]

[Sacramentorealestatetransactions.csv.gz](https://github.com/minio/minio/files/2342215/Sacramentorealestatetransactions.csv.gz)

[2018-09-01 10:17] harshavardhana commented on #6357
This is fixed already. Pending updating distributed docs.

[2018-09-01 15:27] forging2012 commented on #6402
[code]

[2018-09-01 15:30] forging2012 commented on #6402
I try again.

[code]

[2018-09-01 16:20] challarao commented on #4496
Is it possible to revisit this? The object ACLs are useful for using Minio as a runtime storage for temporarily allowing different users to upload object(by having a secure random path in the key). Since with pre-signed, multipart gets tricky with SDKs. Having assume role is another option. After thinking around how to implement the use case for a while, I had an epiphany that actually having eith

[2018-09-01 17:26] harshavardhana commented on #4496
Object ACLs are more complex to implement and in AWS S3 it's a legacy way to provide access we will not be implementing ACLs. Instead AssumeRole API is a better alternative.

[2018-09-01 17:46] harshavardhana commented on #6402
Most probably you have Minio installed elsewhere in your path, try running /usr/local/Cellar/minio/20180901003825Z_1/bin/minio ?

Here is my local test

[code]

[code]

[2018-09-01 17:51] harshavardhana commented on #6403
The main problem here is that to support custom Record delimiter we need to use our own Reader implementations, currently, other than `\n` is not supported by Minio select API.

One such reader implementation is https://github.com/ctessum/macreader/blob/master/reader.go

[2018-09-02 01:11] forging2012 commented on #6402
@harshavardhana
I got it!

I build minio from source before.

[code]

I delete the old minio file. It's work!

[code]

Thanks all!

[2018-09-02 02:24] #6402 closed, assigned to nobody

[2018-09-03 07:32] krisis commented on #6273
@bearmoo-repo I have addressed outstanding review comments on my [PR](https://github.com/minio/minio/pull/6377). docker registry test described in the steps to reproduce works as expected with the PR.

[2018-09-04 09:05] neuroserve opened #6408 "Private Manta Setup possible?"
Would it be possible to make the Manta-Backend configurable in order to be able to choose a local/private Manta setup as a target? As I understand currently the Manta setup of the Joyent Public Cloud is the default.

[2018-09-04 09:12] nitisht commented on #6408
I think we can do that @neuroserve .

What are additional requirements for supporting a private Manta setup? I understand an `endpoint` argument is one.

[2018-09-04 09:29] neuroserve commented on #6408
Currently there's basically these parameters

 -e "MINIO_ACCESS_KEY=joyentaccountname" \
 -e "MINIO_SECRET_KEY=joyentkeyid" \
 -e "MANTA_KEY_MATERIAL=~/.ssh/id_rsa" \
 -e "MANTA_SUBUSER=devuser"

We would need an additional parameter like
      MANTA_URL=https://my.private.manta.dc/

MANTA_URL is also used in the configuration of the Manta-API: https://apidocs.joyent.com/manta/#setting-up-your-env

[2018-09-04 09:32] nitisht commented on #6408
Thanks @neuroserve , let me confirm internally as well. If everything is okay, we'll have a PR for this soon

[2018-09-04 10:03] nitisht commented on #6408
can you try `minio gateway manta <custom-manta-endpoint>`

[2018-09-04 10:49] vitpavlenko opened #6409 "Internal Error with zero body but defined content-length"
Send internal error after 300000s timeout while sending request (putObject) with defined Content-Length but zero body.

[2018-09-04 11:23] neuroserve commented on #6408
I can start minio with that parameter, but I see no buckets and I cannot upload files or create buckets. Error message in the browser is:
unable to put directory: unable to execute HTTP request: Put /myusername/stor/testm: unsupported protocol scheme ""

[2018-09-04 12:32] nitisht commented on #6408
can you paste the exact command used

[2018-09-04 12:54] neuroserve commented on #6408
./minio gateway manta https://manta.mydc.dc
I've used MINIO_SECRET_KEY, MINIO_ACCESS_KEY and MANTA_KEY_MATERIAL as env variables

[2018-09-04 13:43] Praveenrajmani commented on #6403
@harshavardhana, By custom record delimiter ,  do we mean that records can be delimited by any character other than default '\n' , '\r' in our case
If so, For this, AFAIK we can use the `FieldsPerRecord` of `*csv.Reader` which limits the fields read ( Will try this and see if it really works ) (OR) by knowing the record delimiter from the user, In both the cases we would require an addition the in

[2018-09-04 13:47] Praveenrajmani commented on #6403
Anyhow the csv.Reader converts all the `\r\n` sequences to plain `\n`, but not `\r` to `\n`
https://golang.org/pkg/encoding/csv/#Reader

[2018-09-04 14:05] harshavardhana commented on #6403
Yes but FieldsPerRecord will not work for us. But we need to specifically support Mac CSV files too which only have `\r`

[2018-09-04 14:45] nitisht commented on #6408
I see, could you pls also try `./minio gateway manta --address https://manta.mydc.dc`

[2018-09-04 15:02] tharnirav commented on #6220
@nitisht ,
Find below core-site.xml  we have.  Have masked confidential details with XXXXX.  We have nginx in front of Minio hence pointing to port 5432.

Also could chat the version of Minio server and hadoop jars you used in you test?

[code]

Thanks
Nirav Thar.

[2018-09-04 16:28] harshavardhana commented on #6409
We need more information here, most of the informative structure to opening an issue has been removed with no details regarding the issue.

We will close this issue as invalid for now, feel free to open Github issue with some more details such as

- Minio version
- A sample program if you have or any tool that you used to reproduce an issue
- Any other specific libraries that were being used here

[2018-09-04 16:28] #6409 closed, assigned to nobody

[2018-09-04 17:13] kaankabalak opened #6411 "UI: Cursor doesn't change into a pointer on folder name hover"
## Expected Behavior

On Minio Browser, when the user hovers over the folder name, it would be better for the cursor to change into a pointer (finger) to indicate that there is an action tied into the user's click on the folder name.

## Current Behavior

On Minio Browser, when the user hovers over the folder name, the cursor stays as the default cursor and doesn't change into a pointer. Please re

[2018-09-04 17:52] yebo29 commented on #5010
The docker state still shows unhealthy, however. Should I just manually change healthcheck.sh until it gets fixed? No rush in my case, it's just aesthetic for me as I'm not monitoring (it's for a personal project). Many thanks.

[2018-09-04 17:52] yebo29 commented on #5010
Nevermind. I see it's being handled in https://github.com/minio/minio/issues/6365

[2018-09-04 18:58] nitisht commented on #6307
Fixed by https://github.com/helm/charts/pull/7435

[2018-09-04 18:58] #6307 closed, assigned to nitisht

[2018-09-04 20:02] #6371 closed, assigned to kanagarajkm

[2018-09-04 20:05] alexellis commented on #6307
Thanks I'll retest to see if the ClusterIP gets assigned properly. :+1:

[2018-09-04 20:11] #6273 closed, assigned to krisis

[2018-09-04 21:42] bitva77 opened #6413 "Read Only backend fails as Minio can't write to backend"
## Expected Behavior

Minio should be able to run and provide read access to any backend regardless of whether it can write or not.

## Current Behavior

Minio doesn't start and says:  "Please ensure Minio binary has write permissions for the backend"

## Possible Solution

Add a -ro option to allow read-only backends.

## Steps to Reproduce (for bugs)

1.  Have a backend that's read-only by the s

[2018-09-04 21:43] harshavardhana commented on #6413
Read-only backend is not allowed @bitva77 since we need to write `format.json` to write a specific backend format to handle certain types of I/O

[2018-09-04 22:12] bitva77 commented on #6413
Thanks for the reply.

That can't be moved elsewhere in these cases?  Or even ignored when dealing with a read-only backend?  Since minio won't be writing any way I'd figure it'd be okay...

At some point we'll move the process generating the data to be S3 compatible but until that time I'm trying to get a head of the curve and this kind of feature would go a long ways.

But I understand if that's

[2018-09-04 22:22] bitva77 commented on #6413
By the way, in case anyone comes across a similar need/issue:  I've been able to workaround this by symlinking to the backends underneath a writeable directory on the local host.  The backends are read-only still.

I'm doing this in Windows.  I assume Linux would work similarly.

[2018-09-04 22:22] #6413 closed, assigned to nobody

[2018-09-05 02:40] nitisht commented on #6408
cc @stack72

[2018-09-05 06:02] neuroserve commented on #6408
./minio gateway manta --address https://manta.mydc.dc exits immediately. The output says that Endpoint would be http://https://manta.mydc.dc (what obviously does not exist)

[2018-09-05 07:16] nitisht commented on #6408
@neuroserve could you pls join us on Slack http://slack.minio.io - it will help shorten the discussion loop. I have a few questions.

[2018-09-05 14:34] sinhaashish commented on #6220
@tharnirav   I  have used the below
Minio version : `RELEASE.2018-08-25T01-56-38Z`
Hadoop version : `hadoop-3.1.1`
Can you share the nginx config. We can verify it once; as minio is working fine without nginx

[2018-09-05 14:59] nitisht commented on #6368
@deepak71 as discussed on Slack, closing this as a duplicate of #6202

[2018-09-05 14:59] #6368 closed, assigned to nitisht

[2018-09-05 19:13] dfredell commented on #6379
I can confirm that the TCP_FASTOPEN issue is fixed for me in RELEASE.2018-09-01T00-38-25Z.

[2018-09-05 19:14] fergbrain commented on #5010
@yebo29 The issue has been fixed in RELEASE.2018-09-01T00-38-25Z: https://github.com/minio/minio/tree/RELEASE.2018-09-01T00-38-25Z

[2018-09-05 19:46] vadmeste opened #6420 "xl: Removing an empty directory doesn't work"
## Expected Behavior
Removing an empty directory should work in distributed mode

## Current Behavior
Removing an empty does not work

## Possible Solution
Fix xl.DeleteObject()

## Steps to Reproduce (for bugs)
1. aws s3api create-bucket --bucket mybucket --endpoint http://localhost:9011
2. aws s3api put-object --bucket mybucket --key key/ --endpoint http://localhost:9011
3 aws s3api delete-objec

[2018-09-05 21:30] kojidev commented on #1973
Is is still relevant? Is there an issue in `aws/aws-sdk-php`?

[2018-09-05 22:05] harshavardhana commented on #6379
Thanks for your confirmation

[2018-09-05 23:38] harshavardhana commented on #6420
Fixed by #6421

[2018-09-05 23:38] #6420 closed, assigned to vadmeste

[2018-09-06 01:04] deekoder commented on #6318
@tommyhaas1 please let us know, how we could help you further.

[2018-09-06 06:51] riazarbi opened #6424 "Bucket objects not updating via Web UI"
I am using minio via docker, and single server with 10 drives for erasure coding.

## Expected Behavior
For a particular bucket, when accessing minio web UI I expect to see the newest object in the bucket when sorting by Last Modified.

## Current Behavior
When accessing a particular bucket via web UI, the top file listed is -

[code]
This is not the newest object in the bucket; the newest object

[2018-09-06 07:00] nitisht commented on #6424
Thanks for the issue @riazarbi we'll take a look soon

[2018-09-06 09:23] ansemjo opened #6426 "Gateway fails to start on any port when 9000 (globalMinioPort) is already in use"
## Expected Behavior
- start a minio server on port 9000
  - `minio server /tmp`
- afterwards start a minio gateway on a different port, e.g. 9001
  - `minio gateway b2 --address :9001`
- both minio instances should start and not have an "address in use" conflict

## Current Behavior
- the gateway does not start, because it complains of port 9000 being used, even if started with `--address :9001`

[2018-09-06 09:27] nitisht commented on #6426
Thanks for the details @ansemjo we'll take a look soon

[2018-09-06 11:49] chrisgavin opened #6429 ""invalid memory address or nil pointer dereference" when completing a multipart copy."
## Expected Behavior
It should be possible to do a multipart copy of a large object stored in Minio with no errors being thrown.

## Current Behavior
When completing the multipart copy, the copy fails with:
[code]

Minio displays this panic in its log.
[code]

Despite this failure, the copy of the object does actually appear to exist.

## Steps to Reproduce (for bugs)
1. Create a large file with `

[2018-09-06 14:10] nitisht commented on #6429
Thanks for the issue @chrisgavin we'll take a look soon

[2018-09-06 15:04] #6226 closed, assigned to vadmeste

[2018-09-06 15:26] curantes opened #6430 "Corrupt file in distributed Minio prevents Minio to start"
We had an issue that caused 3 of 16 nodes go out of memory and got oom-killed. When we later tried to start minio back up again we got the error message:
[code]

With the assistance of @vadmeste we suspect a corrupted file thats causing this issue.

## Expected Behavior

Minio should start correctly and heal any file that might be corrupted

## Current Behavior

Minio crashes with the error provid

[2018-09-06 16:01] aead opened #6431 "[SSE-C]: GET with wrong key does not return access denied S3 error code"
[code]

## Expected Behavior
The minio-go example program should receive the S3 error: `access denied`.

## Current Behavior
The following (minio-go example) program receives the S3 error: `internal error`.

## Possible Solution
Server should return correct error code for wrong SSE-C keys

## Context
SSE-C

## Regression
Yes
Regression introduced in `e71ef905f9547514d1f2ebf1732be8f2a6e094f7`
Verif

[2018-09-06 16:02] nitisht commented on #6431
Is https://github.com/minio/mint/issues/284 the cause for this @aead ?

[2018-09-06 16:13] harshavardhana commented on #6431
Yes @nitisht looks like

[2018-09-06 16:22] aead commented on #6431
Yes @nitisht

[2018-09-06 17:25] kanagarajkm commented on #6424
@riazarbi minio webui doesn't automatically pull newly added objects. When you click a bucket on the left hand side, first set of 1000 objects are pulled from the server and shown. When you click on a column header to sort, the sorting is done locally. Next set of 1000 objects will be loaded when you scroll down to the end of the list and so on. We are intentionally not loading all the objects, it

[2018-09-06 19:31] #6431 closed, assigned to aead

[2018-09-06 19:39] tommyhaas1 commented on #6318
Hi,

and thanks for your comment!
Basically i would say the timeout is way to high! What would be the disadvantage of setting it per default to just a few seconds or make it configurable?
I tried again and i'm getting this timeout mostly everytime if one node is blocked by iptables:

[code]

^^ this is normal, no iptables block applied
results down below with one 1 blocked node (out of 6), max. ti

[2018-09-06 19:52] deekoder commented on #6310
fix is in progress.

[2018-09-06 21:44] kannappanr commented on #6430
@vadmeste is already working on this

[2018-09-06 22:31] vadmeste commented on #6430
@curantes can I have a listing of all buckets in your backend ?

[code]

[2018-09-06 23:42] #6426 closed, assigned to krisis

[2018-09-07 01:15] robgirard opened #6434 "Minio server won't restart after upgrade - related to access/secret key env variables"
Short version: after upgrading, `mc admin service restart` brings down my servers, but fails to bring them back up, resulting is service down.

Longer version:
I have a distributed minio setup. I use a script to remotely start each node with the same command. The first time I set it up, I had environment variables for access/secret keys, but after than, they written to config.json, and I never had

[2018-09-07 03:11] #6408 closed, assigned to nitisht

[2018-09-07 06:28] curantes commented on #6430
@vadmeste we have a range from 000 to 999 as bucket name. so 1000 buckets

[2018-09-07 07:24] curantes commented on #6430
All other nodes still running are getting lots of errors in logs. like:
[code]
and
[code]

[2018-09-07 08:45] #6411 closed, assigned to kaankabalak

[2018-09-07 14:38] pwagland opened #6436 "Direct link to public directory doesn't work unless logged in"
When you have a "directory" that is publicly available, then the link to that directory, that is shown when browsing the site, does not work to get you back to the same location. If you are logged in, the same link will take you to that directory.

For example.

Server: minio.local.lan
Bucket: Public
Policy: Read Only
Files: a/file1.txt a/file2.txt

When you browse to https://minio.local.lan/minio

[2018-09-07 15:01] stefan-as opened #6437 "domain setting from config/backend ignored"
When setting the `domain` parameter in minio config to enable virtual-host-style requests, the setting is ignored since minio.RELEASE.2018-08-21T00-37-20Z or minio.RELEASE.2018-08-18T03-49-57Z (unsure). Setting the `MINIO_DOMAIN` env variable works as expected.

## Expected Behavior

Minio should respect the `domain` setting.

## Current Behavior

The `domain` setting does not enable virtual-host-

[2018-09-07 17:29] kannappanr commented on #6248
@eyalrif Closing this issue as fixed with the recent release. Please feel free to open a new issue if you see any other issue.

[2018-09-07 17:29] #6248 closed, assigned to kannappanr

[2018-09-07 18:18] #6434 closed, assigned to harshavardhana

[2018-09-07 18:39] vadmeste commented on #6430
It was decided to migrate to the latest Minio version, I don't expect any problem in migration, so closing this.

[2018-09-07 18:39] #6430 closed, assigned to vadmeste

[2018-09-07 18:39] vadmeste commented on #6430
@curantes please free to open this again if needed

[2018-09-07 18:49] harshavardhana commented on #6437
This seems like the problem introduced when config migrated to the backend specifically here

[code]

Config can't be loaded prior to handlers being registered, but for virtual DNS style since the config.json value should be honored we will not have registered the handlers before we started HTTP server started.

Adding new handlers dynamically on an active HTTP server is generally a bad idea.

[2018-09-07 20:53] deekoder commented on #6436
I think we may have fixed this already in master. @kanagarajkm can you please confirm?

[2018-09-08 04:10] MarwanElSherif commented on #6313
Issue is fixed. A configuration item had to be changed on the VNX box for the NFS server. It is called the "File Locking Policy" and it is set to "mandatory" by default. This setting had to be changed to "Advisory" after which is issue was resolved.

An explanation of each is provided in the document in the link below:
[https://www.emc.com/collateral/TechnicalDocument/docu48461.pdf](url)

[2018-09-08 04:10] #6313 closed, assigned to sinhaashish

[2018-09-08 04:33] nitisht commented on #6313
Thanks for the info @MarwanElSherif

[2018-09-08 12:14] incolas opened #6438 "PDF upload via JS SDK: "S3 Error: The request signature we calculated does not match""
Here's the related code. Connection params are stored in a config file

[code]

## Expected Behavior
The minio client sdk uploads the pdf file to the minio server bucket.

## Current Behavior
The upload doesn't happen as the server throws this error:

## Possible Solution
Maybe this has something to do with nginx?

Another lead could be the metadata? Are there any mandatory fields to be used in th

[2018-09-08 12:45] nitisht commented on #6438
can you please paste the nginx config here

[2018-09-08 13:08] SireeshaKucherlapati opened #6439 "Need minio log path in Openshift to configure logging"
Need minio log path that would be present in the image minio/minio. We have deployed it on Openshift 3.6. We are not able to view it's logs in our EFK tool. In order to configure the logs to the path where minio stores them, we need the default logpath for this minio application.

[2018-09-08 14:19] kannappanr commented on #6439
@SireeshaKucherlapati Minio does not log any output to a log file. It prints it to the console. You can redirect it to a file.

[2018-09-08 14:58] incolas commented on #6438
Thank you for replying so quick.

The configuration is split in several files, here's the main one and the one related to the minio server below.

Also I realize I forgot to mention the node app supposed to upload the file is ran on a Docker container. I'll edit my original post now in this regard.

nginx.conf
[code]

assets.conf (located in conf.d/com)
[code]

[2018-09-08 15:25] harshavardhana commented on #6438
[code]

Can you try with this ? And make sure you have removed the port from endPoint param ?

[2018-09-08 16:47] incolas commented on #6438
I just tried adding port 443 but I got the same error.

[2018-09-08 20:08] incolas commented on #6438
I also tried using a 3rd server but it didn't change the behavior one bit.

[2018-09-10 03:46] thbeh opened #6440 "mc recursive and force not removing folders"
I am using minio for Apache Spark and using cookbook https://github.com/minio/cookbook/blob/master/docs/apache-spark-with-minio.md. While it did work but some issues occur with the test-write and I can't remove the folders generated by Spark using mc rm --recursive --force.

Any help?

[2018-09-10 03:52] nitisht commented on #6440
@thbeh can you tell us the Minio, mc versions you're using?

btw, please use the issue template while reporting issues.

[2018-09-10 04:25] AlaskaJoslin commented on #5225
@nitisht without using the hacks discussed above, Kubernetes keeps bouncing the service when using HTTPS. I'm using the latest version and have also tried visiting via Firefox. If the user agent filtering will be continued in later versions it would be good to mention this point in the documentation.

[2018-09-10 05:04] thbeh commented on #6440
Firstly, my apologies for not using the template. For the minio server I am using on k8 and it's is using the minio/minio:latest , not exactly sure what's the version but the below is from the web ui.

Minio :-
    Version
    2018-09-01T00:38:25Z
    Memory
    Used: 6.0 MB | Allocated: 30 GB | Used-Heap: 6.0 MB | Allocated-Heap: 28 MB
    Platform
    Host: minio-2 | OS: linux | Arch: amd64

[2018-09-10 05:44] harshavardhana commented on #6440
This is fixed in master the issue was in deleting empty directories.

[2018-09-10 08:35] nitisht commented on #6440
@thbeh can you try with master and let us know how it goes

[2018-09-10 08:36] nitisht commented on #6439
closing this as answered @SireeshaKucherlapati . Feel free to get back if there are further questions.

[2018-09-10 08:36] #6439 closed, assigned to nobody

[2018-09-10 09:39] harshavardhana commented on #6440
Fixed by

[code]

[2018-09-10 10:22] sinhaashish commented on #6438
I am looking into this issue.

[2018-09-10 10:43] incolas commented on #6438
Hey guys, today I tried to run the node app outside of Docker, which took me quite some time since I'm so noob, but in the end I got just as far as with Docker and collected the same error.

[2018-09-10 12:18] deepak71 opened #6442 "Distributed Minio (3-nodes) Resiliency tests and outcome"
Files do not automatically sync to an offline node/disk once it comes back online

## Expected Behavior
Minio service was brought down on one of the node (out of three), created a new bucket and uploaded a file. But that file didn't sync when that node brought online. We would expect the files to be synced once that node comes back online.

## Current Behavior
Service was brought up on the node, h

[2018-09-10 12:20] nitisht commented on #6442
@deepak71 can you explain the actual problem you're facing. I see the actual outcome, but not the outcome you're expecting

Also please use the issue template for reporting issues - it helps understand what you're trying to achieve and what is not working as expected. I dont see info like Minio version used / how many disks per node etc

[2018-09-10 13:07] phihag opened #6443 "Does not match S3 semantics on multipart POST uploads"
We are uploading files with a command like

[code]

This works fine on S3 and various other S3 mocks (for instance localstack or fake-s3) and returns a 204 (or 200), but fails with minio with HTTP 400 and the output:

[code]

If minio aspires to be compatible to S3, then it would be nice to support multipart post requests as well.

It would also be nice if minio could be more verbose in the error

[2018-09-10 13:35] deepak71 commented on #6442
@nitisht Edit the reported issue. Thank you!!

[2018-09-10 13:43] nitisht commented on #6442
Thanks @deepak71

[2018-09-10 14:09] nitisht commented on #6442
Minio by design doesn't heal itself automatically, this is to keep design straight forward and avoid potential downtime when Minio system tries to heal itself at incorrect times (say for example while there is high incoming load).

Minio Admin/operator is best placed to actually handle this situation. They know very well about the traffic situation and can plan heal accordingly.

So, to answer you

[2018-09-10 16:20] #6403 closed, assigned to Praveenrajmani

[2018-09-10 16:43] kanagarajkm commented on #6436
@deekoder i will check this out

[2018-09-10 16:56] kannappanr commented on #6437
@ebozduman This variable will now be honored only if it is part of the environment variable.

[2018-09-10 18:40] kannappanr opened #6444 "Mark config.json as deprecated during migration"
*** Not using standard template ***

During Minio migration from versions where we had `config.json` in the user's home directory, text needs to be added in config.json about the file being deprecated. Also, add a deprecated extension to config.json file.

## Regression
No

[2018-09-10 18:47] kannappanr opened #6445 "Document that creds need to be env. variables in case of Gateway and Dist. modes"
*** Not using standard template ***
Update documentation about creds (`MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY`) being env. variable in distributed and Gateway modes

[2018-09-10 19:13] deekoder commented on #6437
@stefan-as we would need it to be set as an ENV variable moving forward. It's a breaking change. We didn't do a good job of calling it out before the release. So I am modifying the release notes to state this. Sorry for this inconvenience.

[2018-09-10 19:21] thbeh commented on #6440
Do I need to generate a new Docker image to be use by kubernetes from the master branch?

[2018-09-10 20:40] harshavardhana commented on #6440
you can use `minio/minio:edge`

[2018-09-10 20:46] vadmeste commented on #6328
@kyle-sorensen can you share you python code which reproduces the problem ?

[2018-09-10 23:15] #6444 closed, assigned to harshavardhana

[2018-09-10 23:22] #6202 closed, assigned to vadmeste

[2018-09-11 00:14] #6445 closed, assigned to ebozduman

[2018-09-11 01:39] thbeh commented on #6440
Will try. Thanks

[2018-09-11 01:43] ebozduman opened #6450 "Migration, docs and mc changes required in dist mode for domain conf setting"
Defining and exporting `MINIO_DOMAIN` environment variable became mandatory for Minio distributed mode, after release `minio.RELEASE.2018-08-18T03-49-57Z` (the problem was introduced when config.json file information was migrated to the backend).
We have to make several changes in our code to be able to make migration and mc keep working seamlessly even after declaring to the community/end-users t

[2018-09-11 02:07] harshavardhana commented on #6440
We also made a release you don't need to try `:edge` no more.

[2018-09-11 06:53] deepak71 commented on #6442
Thank you! @nitisht for clarifying this.

Then, we would create a systemd service to inspect objects health and heal them if needed.

[2018-09-11 06:55] nitisht commented on #6442
Thanks @deepak71 . Feel free to close the issue if everything is clear now

[2018-09-11 07:10] #6442 closed, assigned to nitisht

[2018-09-11 08:39] aead commented on #6443
@phihag The server rejects the request because it treats the `x-am-credential` string as invalid.
Can you confirm that your AccessKeyIDs have the form `x/y` like `OURLOCALKEY/DEVSETUP` ?!

[2018-09-11 09:34] mtparet commented on #6442
I am surprised. What happens if the network goes down for few seconds or milliseconds ?
Does it means buckets/files will be inconsistent across minio nodes ?

[2018-09-11 09:46] harshavardhana commented on #6442
It shouldn't be thought of as inconsistent that would mean that object is corrupted, but that is not the case here. Yes, there might be a situation that you only have 7 parity instead of 8 expected from a 16 disk setup. That is why we keep N/2 parity count to provide a much higher resiliency for a long period of time even with multiple disk failures.

This model was primarily chosen from our exper

[2018-09-11 10:19] mtparet commented on #6442
Thank you very much @harshavardhana for your detailed answer, I better understand the model chosen.

For now, if I understand correctly, it means we could run `mc admin heal` periodically to ensure all disks are synced for better resiliency even if it is not required to keep the resiliency up (thanks to the N/2 parity).

[2018-09-11 11:50] phihag commented on #6443
Thank you very much! Replacing the `/` with `-` fixed our problem. (We used another S3 mock before, and that used slashes in the access key ID).

[2018-09-11 12:36] aead commented on #6443
AFAICS `/` seems to be a valid character for S3 access keys. (At least AWS accepts such keys making it de-facto "expected behavior").
Reopening this to track the issue (addressed by #6451)

[2018-09-11 17:49] kannappanr commented on #6429
@chrisgavin Trying to repro the issue. Will get back to you if I have any questions.

[2018-09-11 18:17] #6443 closed, assigned to aead

[2018-09-11 18:32] deekoder commented on #6440
@thbeh  we will close this issue then. Please try it out and let us know if you have any questions.

[2018-09-11 18:32] #6440 closed, assigned to nobody

[2018-09-11 19:29] harshavardhana commented on #6429
There is no easier way to reproduce this @kannappanr but a cursory look at the code it shows the potential of such an occurrence.

[2018-09-12 02:07] harshavardhana commented on #6401
Thanks for the issue @cwrx777 a PR is sent fixing this issue.

[2018-09-12 09:41] kannappanr commented on #6429
@chrisgavin I am able to repro the issue with a 20 Gig file. I will be sending a PR to handle the panic scenario on the server side. As far as receiving `404`, here is the sequence of `CompleteMultipartUpload` calls received by minio.

[code]
First `minio` receives a request to do `completeMultipartUpload` and it actually succeeds, but since this is a 20 Gig file, it actually takes 84 seconds, so

[2018-09-12 13:00] cpanato opened #6455 "Distributed mode does not work on Kubernetes"
The distributed mode does not work on kubernetes using the example here: https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes-yaml/README.md#minio-distributed-server-deployment or the helm charts

## Expected Behavior
should work

## Current Behavior
using the example in the site
The pods get deployed however when you try to run the following:

[code]

[2018-09-12 13:01] cpanato commented on #6455
using the latest release - RELEASE.2018-09-11T01-39-21Z

[2018-09-12 13:09] nitisht commented on #6455
hey @cpanato can you try `kubectl describe pod/minio-0` and tell us the output you see

[2018-09-12 15:02] pepelisu opened #6456 "Minio mounted with s3fs fails to cp data to a created folder"
## Expected Behavior
When mounting s3fs with the cookbook instructions mkdir works as expected creating a new directory in minio bucket.
[code]
I was expecting that a new file was created in folder1 with the name someting.
## Current Behavior

When trying to copy any file to that created new folder an error appears:
[code]
If trying to do under root the error changes to "Permission denied" maybe a

[2018-09-12 16:29] #6401 closed, assigned to harshavardhana

[2018-09-12 16:35] #5649 closed, assigned to poornas

[2018-09-12 16:38] vadmeste opened #6458 "Running Minio RELEASE.2018-09-11T01-39-21Z with older Minio versions fails to start"
## Expected Behavior
Minio server, with version RELEASE.2018-09-11T01-39-21Z, should at least starts to facilitate rolling updates.

## Current Behavior
Having the following error:
[code]

## Possible Solution
Bumping RPC version

## Steps to Reproduce (for bugs)

*) Initializing a fresh cluster using older version, like RELEASE.2018-07-31T02-11-47Z
*) Kill one node
*) Run the node again with newe

[2018-09-12 16:43] Kanshiroron opened #6459 "Minio hangs on some HTTP request"
Hello,
We are facing a very weird bug with Minio: with some requests, it doesn't answer the HTTP request, and the client timeout.

Here a simple way to reproduce:
1 - Run Minio : `docker run -d --name minio -e MINIO_ACCESS_KEY="ACCESS_KEY_ID" -e MINIO_SECRET_KEY="ACCESS_KEY" -p 9000:9000 minio/minio:RELEASE.2018-09-11T01-39-21Z server /home`

2 - Configure Minio:
  - `mc --config-folder $(pwd) con

[2018-09-12 16:48] harshavardhana commented on #6459
Thanks I think the fix is already being submitted here https://github.com/minio/minio/pull/6453

[2018-09-12 17:19] cpanato commented on #6455
@nitisht thanks for the reply

the example is working. I'm checking now why the helm chart is not working

[2018-09-12 17:20] nitisht commented on #6455
can you please try `helm install --set image.tag=RELEASE.2018-09-11T01-39-21Z <your flags here>`

[2018-09-12 17:21] cpanato commented on #6455
@nitisht doing that

[2018-09-12 17:29] cpanato commented on #6455
@nitisht this is the `describe pod`

and there is nothing in the logs

[code]

[2018-09-12 17:45] #6458 closed, assigned to vadmeste

[2018-09-12 19:48] vadmeste opened #6461 "xl: Heal config file"
## Expected Behavior
Heal config file should be healed when healing bucket metadata

## Current Behavior
Config file is not healed when healing bucket metadata

## Possible Solution
Just heal config file as it is already done with listener.json and policy.json

## Steps to Reproduce (for bugs)
1. `minio server /tmp/xl/{1..4}`
2. `rm -r /tmp/xl/1/.minio.sys/config/`
3. `mc admin heal myminio/`

##

[2018-09-12 22:31] vadmeste opened #6462 "Implement Profiling Admin API"
## Expected Behavior
Having a new feature to profiling one or all nodes belonging to the same cluster

## Current Behavior
No such code

## Possible Solution
N.A.

## Steps to Reproduce (for bugs)
N.A.

## Context
Implementing new feature

## Regression
No

## Your Environment
All

[2018-09-12 23:28] kannappanr commented on #6456
@pepelisu Thanks for reaching out to us. We will try to repro this issue. Can you also enable HTTP TRACE on minio using MINIO_HTTP_TRACE variable and post the http trace seen on minio here?

You can export the env. variable MINIO_HTTP_TRACE=</path/to/logfile> and then look at the log file.

[2018-09-13 02:40] nitisht commented on #6455
Thanks @cpanato this seems like Kubernetes is not able to bind one of the PVCs to a PV. This is different from the initial issue you saw where healhtcheck was failing.

Do you have sufficient PVs available in the cluster?

[2018-09-13 06:09] cpanato commented on #6455
@nitisht the pv was attached.
If you forward the port or wait for the live probe it will fail with the same issue as describe above. For this case i removed the live and ready probes.

[2018-09-13 07:05] nitisht commented on #6455
@cpanato there was an issue with healthcheck in `RELEASE.2018-09-01T00-38-25Z` (which is part of current helm chart `1.7.0`). This has been fixed now and an [update to helm chart is waiting to be](https://github.com/helm/charts/pull/7705) merged.

If you try helm chart 1.7.0 with flag `--set image.tag=RELEASE.2018-09-11T01-39-21Z`, you should not face the healthcheck issue. Can you please confirm

[2018-09-13 07:10] cpanato commented on #6455
@nitisht i tried the helm chart using this minio release and the logs above and errors was using that release

[2018-09-13 07:27] cpanato commented on #6455
@nitisht get this
[code]

[2018-09-13 07:28] nitisht commented on #6455
okay @cpanato Thanks. Let me try and reproduce this locally

[2018-09-13 07:44] cpanato commented on #6455
@nitisht thanks, I'm trying here as well, doing small changes to see where it is failing. for sure is a very small thing

[2018-09-13 07:48] balamurugana commented on #6338
## 448 parallel uploads of 100MiB

[code]

## 650 parallel uploads of 10MiB

[code]

## 155 parallel uploads of 1GiB

[code]

## 135 parallel uploads of 2GiB

[code]

Memory profiles are available at https://github.com/balamurugana/minio-profile/tree/master/runs/166e998/put-object

[2018-09-13 07:58] cpanato commented on #6455
found the issue

The service is being generate with`type: ClusterIP` and looks like need to be `clusterIP: None`

[2018-09-13 07:58] cpanato commented on #6455
I will fill a PR

[2018-09-13 08:18] cpanato commented on #6455
this fixes the issue: https://github.com/helm/charts/pull/7711

[2018-09-13 08:20] pepelisu commented on #6456
Hi @kannappanr, here is the http_trace when creating an empty folder and when trying to copy something with s3fs. I also added a file using the web interface to the empty folder. I tried to get to the point with the log, but it is too long anyway.

[code]
[code]

[2018-09-13 09:02] chrisgavin commented on #6429
Thanks for doing such a detailed investigation so quickly. It seems a little weird to me that the time taken to complete the operation would be so long, but I appreciate it would take a pretty huge refactoring of how multi-part uploads are stored to avoid this.

I will look at whether it's possible to work around the issue by setting a higher timeout on the client.

Thanks,
Chris

[2018-09-13 12:47] #6459 closed, assigned to harshavardhana

[2018-09-13 17:38] kannappanr commented on #6429
It would be faster if `PUT Object- COPY` api is issued with the parts in sequence. Instead of using FS mode, where we have to make sure that the actual file exists on the backend before returning, you can use `XL` mode.

[2018-09-13 21:43] #6436 closed, assigned to kanagarajkm

[2018-09-13 21:53] harshavardhana commented on #6389
Fixed by #6386

[2018-09-13 21:53] #6389 closed, assigned to poornas

[2018-09-14 09:26] slavashvets opened #6469 ""No such heal process is running on the server" when initiate new heal process"
## Expected Behavior
Heal process is initiated and I see heal progress bar

## Current Behavior
Heal process is initiated, but I see the error:

[code]
## Possible Solution
No ideas

## Steps to Reproduce (for bugs)

[code]

## Context
Heal works well but it's not possible to check the status

## Environment
Client version:

[code]
Server version:

[code]

[2018-09-14 13:12] ThisIsQasim commented on #5916
Tried with the latest build 2018-09-12T18:49:56Z. Can confirm that minio still doesn't support nested objects under Nextcloud.

[2018-09-14 13:57] scher200 opened #6470 "Drag directory into minio browser"
## Expected Behavior
When I drag a directory, containing files, into the the minio browser I like to see it automatically create the folder and copy the files into it.

## Current Behavior
It calls out: "Error occurred uploading 'NewFolder'."

## Possible Solution
Autocreate this NewFolder and upload files as normally

## Steps to Reproduce (for bugs)
1. Open minio browser
2. Drag a directory, con

[2018-09-14 14:24] kannappanr commented on #6469
@slavashvets Thanks for filing this issue. We will try to repro the issue. Can you also provide more information about your setup about how many nodes and disks you have etc.

[2018-09-14 16:13] slavashvets commented on #6469
Cluster: Openshift 3.6 (StatefulSet)

Config:
[code]
Dockerfile of my minio image:
[code]

[2018-09-14 16:34] eedwards-sk opened #6471 "minio first letter capitalization of metadata keys with boto3 sdk"
## Expected Behavior
`object.metadata` contains key `sha256`

## Current Behavior
`object.metadata` contains key `Sha256`

## Possible Solution
I suspect maybe minio is auto upcasing the header names when returning them with boto3?
e.g. the header from this example on an actual aws bucket viewed from aws console is `x-amz-meta-sha256`
I suspect maybe minio returns something like `X-Amz-Meta-Sha256

[2018-09-14 16:49] eedwards-sk commented on #6471
is minio properly lowercasing headers?

According to https://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html
under **Constructing the CanonicalizedAmzHeaders Element**

the first step states

also see https://forums.aws.amazon.com/thread.jspa?threadID=32168

[2018-09-14 17:49] harshavardhana commented on #6471
Canonization is only for signature calculation http headers are case insensitive

[2018-09-14 17:55] eedwards-sk commented on #6471
Not sure what that means exactly or the implications?

As it stands, I can't use minio in place of s3 because it does not lower case the metadata key names the same way that aws s3 does.

According to the link I referenced, it's likely related to how headers are generated or handled, since that's how metadata is stored.

[2018-09-14 21:34] xandercrews commented on #2743
If you arrive here as I did trying to debug this symptom in a situation where you're using minio as a docker registry backend, in short my case was that redirects were enabled and so the address for the storage backend hosted in kubernetes (http://minio:9000 as in minio.default.svc.cluster.local at 9000 with a search path) was being leaked to the end user where they could not resolve 'minio'.

See

[2018-09-14 22:51] harshavardhana opened #6472 "S3Select API returns floating number on count(*) instead of integer"
## Expected Behavior
Integer value should be printed
[code]

## Current Behavior
[code]

## Possible Solution
Do not know yet.

## Steps to Reproduce (for bugs)
Use our select API example
[player.csv.gz](https://github.com/minio/minio/files/2385103/player.csv.gz)

[code]

## Context
Compatibility

## Regression
No

## Your Environment
master branch

[2018-09-14 22:52] harshavardhana commented on #6472
Thanks for @badscooter23 for reproducing this problem.

[2018-09-14 22:52] kannappanr commented on #6470
@scher200 Thanks for filing this issue. We do not allow for drag and drop of folders. We allow only for drag and drop of files. You can still select multiple files within a folder and upload in one go. Will check internally and see if we plan to support this feature.

[2018-09-14 23:00] harshavardhana commented on #6472
https://github.com/prgxlabs/select-benchmarking benchmarking scripts used in reproducing this issue.

[2018-09-14 23:01] harshavardhana opened #6473 "Measure performance metrics between AWS S3 Select and Minio select implementation"
@badscooter23 from our community indicated that he is observing some performance challenges and sporadic changes in performance based on the query input.

https://github.com/prgxlabs/select-benchmarking use this to benchmark and table the results for understanding, this is a broader issue avoiding our issue template for the moment.

This needs to be validated holistically for the entire Select API

[2018-09-15 17:20] vadmeste opened #6474 "distributed: One node exits during startup in some cases"
## Expected Behavior
All nodes should be able to start if there are good connection between them.

## Current Behavior
One or more nodes can fail when nodes are not started simultaneously

## Possible Solution
Fix init config subsystem

## Steps to Reproduce (for bugs)
Initialize the cluster

[code]

After the initialization complete, killall servers `killall minio` and then start only 7 servers u

[2018-09-15 20:54] ilya-sharonov opened #6476 "Can not set bucket policy via JS API"
Minio JavaScript API SDK constantly throws errors when trying to set bucket policy.
[code]

## Expected Behavior
The code above should make a new bucket and set anonymous access policy to it.

## Current Behavior
The code above successfully creates a new bucket but fails to set policy with the following error:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Install and run lates

[2018-09-15 21:17] bearmoo-cloud-net opened #6477 "err.code=unknown err.detail=s3aws: NotImplemented: A header you provided implies functionality that is not implemented"
Hi,

So I'm getting this error in my logs for minio when try to push in a docker registry:
Minio server:9/14/2018 6:21:24 AMError: write tcp 10.42.120.201:9000->10.42.116.152:41050: write: connection reset by peer
9/14/2018 6:21:24 AM       1: cmd/logger/logger.go:294:logger.LogIf()
9/14/2018 6:21:24 AM       2: cmd/erasure-utils.go:93:cmd.writeDataBlocks()
9/14/2018 6:21:24 AM       3: cmd/erasur

[2018-09-16 04:53] harshavardhana commented on #6477
this has nothing to do with your docker push - this seems like aws-sdk-php closing the connection prematurely.

This seems to be related to the S3 API, it would be better if you can provide us MINIO_HTTP_TRACE output

[code]

Reproduce the error
[code]

And share the trace.log here

[2018-09-16 05:04] harshavardhana commented on #6476
Thanks for the reproducer @ilya-sharonov we will take a look

[2018-09-16 05:09] #6474 closed, assigned to vadmeste

[2018-09-16 21:05] harshavardhana commented on #6455
Thanks for sending PR upstream, appreciate the effort @cpanato.  We will close this issue as fixed.

[2018-09-16 21:05] #6455 closed, assigned to nitisht

[2018-09-16 21:29] harshavardhana commented on #6471
There are no implications it is not possible to preserve the case of HTTP headers in transit since this is not mandated by the HTTP protocol

https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

So there is no way for the server to know what was the case for HTTP headers were sent in the first place. So having 'Sha256' is same as 'sha256', we rely on Go HTTP server which automatically do

[2018-09-16 21:35] #6357 closed, assigned to nobody

[2018-09-16 21:35] harshavardhana commented on #6357
Closing this issue, distributed docs have been updated.

[2018-09-16 21:39] harshavardhana commented on #6136
Going to close this issue as not reproducible @ordahan @eyalrif, feel free to open when reproducible.

[2018-09-16 21:39] #6136 closed, assigned to krisis

[2018-09-16 22:00] eedwards-sk commented on #6471
Hey thanks! That shows a very detailed repro of exactly what I'm taking about.

`x-amz-meta-sha256` vs `X-Amz-Meta-Sha256`

If it's not possible to preserve it in transit, then i'm curious why it's clearly and repeatably different between aws and minio? LOTS of people use the boto3 sdk and metadata, but I couldn't find any evidence of this being an issue for anyone using official aws s3 buckets.

[2018-09-16 22:24] harshavardhana commented on #6471
It's not a valid bug as I explained yes there are differences in the HTTP headers but that is allowed as per RFC so a server can happily send HTTP headers in any case whatsoever.

Boto3 trying to keep a case sensitive behavior is wrong that is why client is buggy here.

[code]

Should simply be populated by lowecasing the headers, if that is expected by applications.

[2018-09-16 22:28] eedwards-sk commented on #6471
but that's not what aws does... AWS lowercases the headers, as we saw. So how it that not a bug?

I agree that boto should lowercase the headers if it is trying to be **RFC compatible**, but it's not, because aws always sends lowercased headers.

So isn't it a bug that minio is not compatible? Maybe this is a semantics thing and you don't call broken compatibility bugs.

[2018-09-17 03:01] scher200 commented on #6470
@kannappanr Would be great because that would also help people create directories easily from within the UI

[2018-09-17 06:08] harshavardhana commented on #6471
AWS behavior is correct it is allowed in HTTP RFC, likewise we don't do that because Go chooses to canonicalize it which is also correct.

So the bug is in the client which is expected to honor RFC.

[2018-09-17 10:25] #5977 closed, assigned to aead

[2018-09-17 16:17] eedwards-sk commented on #6471
Unfortunately I don't believe boto3 will change their behavior to fit other non-aws providers (e.g. minio), so imo the responsibility should be on minio to be compatible.

I'll try opening an issue with boto3 none the less.

(Edit: just to reinforce my stance, they close issues that are due to minio: https://github.com/boto/boto3/issues/1425)

Edit2: I've opened https://github.com/boto/boto3/issue

[2018-09-17 19:44] eedwards-sk commented on #6471
https://github.com/boto/boto3/issues/1709

boto3 has confirmed they will not be changing this

Thus, the important question that needs to be answered:

is minio supposed to be s3 compatible or not?

**If yes: this is a bug**

RFC compliance is not relevant to this issue, as **being RFC compliant does not mean it's compatible with AWS**.

[2018-09-17 20:01] harshavardhana commented on #6471
RFC compliance is relevant because underneath they are all HTTP clients and AWS S3 is an HTTP based protocol. If they rely on HTTP they better comply with RFC if not then its a broken implementation with specialized behavior which is not HTTP.

So Minio won't fix this - HTTP RFC compliance wins here.

This doesn't invalidate that Minio is not an S3 complaint server, for example, aws-sdk-go, aws-sd

[2018-09-17 20:05] eedwards-sk commented on #6471
Except if I have to use specific clients to use aws, then minio is not useful to me, as the entire point of using minio is as a drop in replacement, not to have to deal with a bunch of workarounds.

At that point, minio just becomes another 3rd party object storage solution.

If aws compatibility is actually what minio is for, then you would mirror their behavior whether it fits your ideal of RFC

[2018-09-17 20:08] harshavardhana commented on #6471
As i suggested examples already aws-sdk-go (implicitly because Minio is using the same behavior), aws-sdk-java handle it I am not sure why boto3 is special here.

https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/model/ObjectMetadata.html#getUserMetadata--

[2018-09-17 21:56] vadmeste opened #6479 "CopyObject & CopyObjectPart should use GetObjectNInfo API"
## Expected Behavior
CopyObject & CopyObjectPart handlers should avoid returning errors when the object projected to be copied is changed during the execution of the handler itself

## Current Behavior
During high concurrency of reading/writing on the same object, some errors are returned when calling CopyObject or CopyObjectPart

## Possible Solution
Use GetObjectNInfo API

## Steps to Reproduce

[2018-09-18 01:28] #6196 closed, assigned to harshavardhana

[2018-09-18 01:28] #6241 closed, assigned to harshavardhana

[2018-09-18 01:59] balamurugana commented on #6363
## 50 parallel downloads of 100MiB
[code]
## 1000 parallel downloads of 10MiB
[code]
## 30 parallel downloads of 1GiB
[code]
## 30 parallel downloads of 2GiB
[code]
Memory profiles are available at https://github.com/balamurugana/minio-profile/runs/166e998/get-object

[2018-09-18 06:18] loekalive commented on #5225
This functionality breaks public buckets for automated clients using the static download URL. Will this be fixed?

[2018-09-18 09:03] mclitao opened #6481 "How to make folders support Chinese naming"
How to create a bucket with a Chinese name？
Get the prompt message：“The specified bucket is not valid”

[2018-09-18 09:48] leonGravel opened #6482 "Unable to create configuration directories." cause="mkdir /root/.minio/certs: permission denied"
I get an error when I install it with this command:
[code]
error msg:
[code]
Is there a problem with my command?
How can I solve it?

[2018-09-18 10:38] Praveenrajmani commented on #6473
Benchmarks hit for `s3`,`play`,`minio-fs`,`minio-xl` are reported accordingly,

![image](https://user-images.githubusercontent.com/5410427/45682055-d9303280-bb5c-11e8-93a8-c58fc6fc7348.png)

[2018-09-18 10:41] nitisht commented on #6482
Can you paste the output of

`ls -la /root/.minio/`

Also did you run the Minio server previously with same config directory?

[2018-09-18 11:43] aeltawela commented on #6310
@deekoder @ebozduman May I know how Minio will store the tags? Any plan to have internal DB?

[2018-09-18 16:04] harshavardhana commented on #6481
Chinese buckets are not supported yet, this limitation is based on AWS S3 bucket restrictions.

[2018-09-18 16:24] ebozduman commented on #6310
@ahmedabt,
Our initial thought is to save them in our configuration file. A proposal is ready to be discussed in couple of days. We'll post the outcome here.

[2018-09-18 18:06] vadmeste opened #6483 "Minio server crashed with "concurrent map read and map write" fatal error"
## Expected Behavior
Minio not crashing

## Current Behavior
[code]

## Possible Solution
Do not know, but it looks like `mc mirror -w` can be responsible for this

## Steps to Reproduce (for bugs)
Not sure yet, we need to ask @curantes if there is a reliable way to reproduce this.

## Context
Fixing bug

## Regression
Do not know yet

## Your Environment
minio RELEASE.2018-09-01T00-38-25Z

[2018-09-18 19:20] deekoder commented on #6481
@mclitao at the moment, this is working as intended. We will add this support when AWS S3 also supports it.

[2018-09-18 19:20] #6481 closed, assigned to nobody

[2018-09-18 19:44] vadmeste opened #6484 "Request go routine can crash in notification subsystem code"
## Expected Behavior
No go routine crash in the log

## Current Behavior
[code]

## Possible Solution
Do not know yet

## Steps to Reproduce (for bugs)
We need to ask @curantes for a reliable way to reproduce

## Context
@curantes reported this bug

## Regression
Do not know

## Your Environment
RELEASE.2018-09-01T00-38-25Z

[2018-09-18 20:03] harshavardhana commented on #6484
This is perhaps because object layer is not yet initialized ? This is fixed in the latest releases IMO.

[2018-09-18 20:16] vadmeste commented on #6484
The user was using RELEASE.2018-09-01T00-38-25Z and I took a look on commits since the version, nothing seems to be related to this issue

[2018-09-18 20:20] harshavardhana commented on #6484
This is perhaps also because the targetList map is empty which I don't know how.

[2018-09-18 23:46] #6462 closed, assigned to vadmeste

[2018-09-19 00:31] mclitao commented on #6481
I see. Thank you.

[2018-09-19 01:12] bearmoo-cloud-net commented on #6477
Hey Harshavardhana,

I got the trace.log file Is there a place were I can upload it too?

[2018-09-19 01:13] harshavardhana commented on #6477
gzip and upload it here on Github

[2018-09-19 01:13] bearmoo-cloud-net commented on #6477
All so, Looking at the trace.log i'm gcs s3, but looks like it tring to connect to aws s3?

-Frank

[2018-09-19 01:24] leonGravel commented on #6482
@nitisht thanks for your reply!
this is the output:
[code]
I used to install minio with docker, but I didn't specify the data volume, so I deleted the previous container and reinstalled with this command.

[2018-09-19 01:30] harshavardhana commented on #6477
Just upload the trace.log we will let you know

[2018-09-19 03:08] dingjs commented on #6482
I use `setenfoce 0`,and everything woks fine again.

[2018-09-19 03:36] leonGravel commented on #6482
@dingjs thanks a lot!
The cause of the problem is indeed because of the security policy of selinux.

[2018-09-19 03:36] #6482 closed, assigned to nobody

[2018-09-19 06:08] curantes commented on #6484
@vadmeste thanks for your help, let me know if you need any further info.

[2018-09-19 06:20] curantes commented on #6483
Let me know if you need any further info

[2018-09-19 06:50] SireeshaKucherlapati commented on #6439
By default Openshift sends all the stdout logs to EFK for all applications deployed in it. But in case of minio, no logs can be seen in both console and EFK tool. That's the reason we assumed it's printing logs to any other file.

[2018-09-19 07:42] nitisht commented on #6439
@SireeshaKucherlapati do you get logs when trying `oc logs pod/<minio-pod-name>`

[2018-09-19 08:26] harshavardhana commented on #6484
This has happened because notificationSys is `nil` and SendEvent was sent without object layer being initialized.

[2018-09-19 09:55] SireeshaKucherlapati commented on #6439
No, I get nothing.

[2018-09-19 09:55] harshavardhana commented on #6471
Going to close this issue, for now, let's re-open if boto3 closes their issue. A simple JAVA example using aws-sdk-java shows that this is a boto3 issue, so clearly boto3 is ignoring a key requirement.

[code]

[code]
[code]

[2018-09-19 09:55] #6471 closed, assigned to nobody

[2018-09-19 10:06] vadmeste commented on #6479
This is a go code which can easily reproduce the following error:
    `You did not provide the number of bytes specified by the Content-Length HTTP header.`

[code]

[2018-09-19 12:36] nitisht commented on #6124
@dasousa we added a fix https://github.com/minio/minio/pull/6422 for this, can you please try it out on our master.

Closing the issue as fixed, feel free to reopen if you think something is missing,

[2018-09-19 12:36] #6124 closed, assigned to krishnasrinivas

[2018-09-19 13:14] deathname commented on #4537
Is the above-mentioned issue is fixed now?
I am getting **"ETag from S3 did not match the compute MD5"** error when I tried to connect my boto client to Azure storage.

[2018-09-19 15:40] tylerforsythe commented on #6164
I hate to be the bearer of bad news, @harshavardhana , but the fix has not been working for me. I've upgraded to all the most recent Minio.exe builds since the last post in this issue, but with no success. I've delayed responding here in case the fix was in a build later than I thought, and because I found an issue in my environment and wondered if it was related. I've determined it is not but wil

[2018-09-19 15:55] harshavardhana commented on #6164
Can you open a new issue to track this ?

[2018-09-19 15:59] incolas commented on #6438
Hey guys, I just wanted to let you know I had to take Minio out of the equation here: i'm now using Mongodb instead for the storage, which isn't as convenient but for now it'll do.

Let me know if you ever get to find out what's wrong here. I still plan on using Minio, I think it's an amazing resource.

[2018-09-19 16:00] harshavardhana commented on #4537
Etag is never meant to be md5 all the time, which tool are you using ?

[2018-09-19 16:02] #6484 closed, assigned to nobody

[2018-09-19 16:10] tylerforsythe commented on #6164
Will do.

edit: https://github.com/minio/minio/issues/6490

[2018-09-19 16:11] tylerforsythe opened #6490 "Crashing with Out of Memory Errors (refs 6164)"
I hate to be the bearer of bad news, @harshavardhana , but the fix has not been working for me. I've upgraded to all the most recent Minio.exe builds since the last post in this issue, but with no success. I've delayed responding here in case the fix was in a build later than I thought, and because I found an issue in my environment and wondered if it was related. I've determined it is not but wil

[2018-09-19 16:31] harshavardhana commented on #6490
@tylerforsythe what is the minio version?

[2018-09-19 16:38] tylerforsythe commented on #6490
@harshavardhana
Version: 2018-09-12T18:49:56Z
Release-Tag: RELEASE.2018-09-12T18-49-56Z
Commit-ID: ce419c98352324caa4c79b159a9f840ca714c3d5

[2018-09-19 17:20] harshavardhana commented on #6490
From what it looks like windows code path in Go is notorious in its allocations etc

[code]

List of GB worth allocations
[code]

I can see disk usage crawling cannot be optimized due to various memory hogging code paths for windows, it is better that we turn off usage calculation on windows. which would immediately make your server stable.

[2018-09-19 18:48] deekoder commented on #6490
thanks for reporting this @tylerforsythe

[2018-09-19 18:49] deekoder commented on #6490
@harshavardhana is turning the calculations on/off configurable?

[2018-09-19 18:50] harshavardhana commented on #6490
Not yet we need to bring that in some form

[2018-09-19 18:52] deekoder commented on #6473
Thanks @Praveenrajmani I think we need to now translate this to see what changes we may need to make to improve perf.

[2018-09-19 18:57] deekoder commented on #6470
@scher200 we will finish up our current ongoing enhancements to the browser and get to this request in the next round of enhancements for the browser. Parking it in future milestone until then. Typically we close the issue and then reactivate it when we are ready for the next set of browser enhancements.

[2018-09-19 18:57] #6470 closed, assigned to nobody

[2018-09-19 19:22] #6437 closed, assigned to ebozduman

[2018-09-19 20:24] socketbind opened #6492 "Panic in CompleteMultipartUpload when uploading large files"
Hi,

Uploading somewhat large (>11GB) files into Minio using multipart upload can cause panics.

The panic log looks like this:
API: PutObjectPart(bucket=input, object=1812614t1/1812614t1.mp4)
Time: 12:40:18 UTC 09/19/2018
RequestID: 1555CD2C0504C3D2
RemoteHost: 192.168.120.22
UserAgent: Minio (linux; amd64) minio-go/v6.0.6
Error: open /data/.minio.sys/multipart/778f71d7cda8be7fc238d707d550faec26e

[2018-09-19 20:30] harshavardhana commented on #6492
Thanks for opening the issue, this is a duplicate of #6429

[2018-09-19 20:30] #6492 closed, assigned to nobody

[2018-09-19 21:56] djmaze opened #6496 "Can't change directory permissions or ownership via s3fs"
When using s3fs or goofys as a client, chown'ing or chmod'ing directories does not have any effect.

## Expected Behavior
* After changing user / group owner or permissions of the directory, they should show up as changed when listing the parent directory afterwards

## Current Behavior
* User / group ownership and permissions are shown the same as before

## Steps to Reproduce (for bugs)
1. expor

[2018-09-19 23:06] jonassvatos opened #6497 "Config on backend should be stored in all sets if > 16 disks in EC mode"
I have an instance with 32 disks, and the config data on backend is only stored in the first set (16 disks). The other 16 disks doesn't contain the config.

## Expected Behavior
[code]

## Current Behavior
[code]
## Possible Solution
Include config in all sets in EC mode

## Your Environment
[code]
EC mode, single node, 32 physical disks
OS: EL7

[2018-09-19 23:10] harshavardhana commented on #6497
config cannot be stored @lsde it is always stored on the first set, same as policy.json, notification.xml etc

[2018-09-19 23:33] jonassvatos commented on #6497
@harshavardhana ok, but shouldn't be these crucial data present in all sets? suposing the whole first set gets corrupted, and my parity is over n/2..when i upload something into an instance with multiple sets, the files are split among them, so the system should not be dependent only on the config data present just in the first set, right?

[2018-09-19 23:44] eco-minio commented on #6469
@slavashvets I could not reproduce this using latest release (of mc and server).  Is your container publicly available?

[2018-09-20 00:53] harshavardhana commented on #6497
config.json is nothing but another object, even your object doesn't spread across all 32 disks. They only spread up to the maximum set count i.e 16.

Minio is designed to be used on 1000's of disks, mathematically you cannot erasure code across all the disks since erasure code is maximum of 256 disks.

With current 16 disks, you get 8 disk failure rate so loosing 8 disks is practically rare in a g

[2018-09-20 01:39] harshavardhana commented on #6490
@tylerforsythe would you be interested in validating a smaller fix on your end?

[2018-09-20 04:12] tylerforsythe commented on #6490
@harshavardhana sure!

[2018-09-20 05:44] harshavardhana commented on #6490
Can you set GOGC=10 environment variable for your Minio service ?? Please capture memory profile and let us know how it goes.

[2018-09-20 06:19] deathname commented on #4537
Actually, I was receiving a warning whenever I tried to use PUT/ POST command using s3cmd which is hitting **minio azure gateway**  and that's warning is because of **MD5 sum don't match**. What will be possible resolution

[2018-09-20 06:43] jonassvatos commented on #6497
ok, thanks for an excellent explanation!

[2018-09-20 06:43] #6497 closed, assigned to nobody

[2018-09-20 07:34] harshavardhana commented on #4537
which version of s3cmd?

[2018-09-20 09:09] deathname commented on #4537
It is **s3cmd version 1.6.0** and warning for MD5 sum don't match occur during PUT/POST commands

[2018-09-20 09:15] harshavardhana commented on #4537
you need to use v2.0.1 https://github.com/s3tools/s3cmd/issues/880
 to have the right fixes for s3cmd to ignore certain etags, upgrade your s3cmd version

[code]

[2018-09-20 09:39] deathname commented on #4537
Thank you @harshavardhana for the reply. I need to ask one more thing I am facing same warning issue using **boto2** when uploading data in multipart, should I need to upgrade to boto3 or there is some solution in boto2

[2018-09-20 12:30] leitzler commented on #4812
Is this still work in progress? Would be great if related issues could be linked to this one.

[2018-09-20 13:50] ciaoben opened #6501 "uploading small file very slow"
I am upload a simple 300kb to image to a default minio server through my nodejs app.

The nodejs app and minio are on the same server, and I am using this code:

[code]

The `outputBuffer` contain my image and it weights around 384069 bytes (so 300kb). The code logs:

`512x512 file upload 5651`

So for a 300kb file it takes more than 5 seconds. What kind of bottleneck could be? Is it normal?

[2018-09-20 13:56] scher200 commented on #6470
@deekoder ok!

[2018-09-20 16:41] aead opened #6502 "[proposal]: Add auto-encryption feature to server and gateway"
This is a proposal and feature request for adding automatic encryption to the minio server & gateway. Therefore not using the template on purpose.

At the moment the server supports SSE-S3 (in server mode) using an external KMS (vault). With #6423 and #6488 the SSE-S3 will be available for gateway and also without an external KMS. Additionally it would be quite useful if an operator can instruct t

[2018-09-20 16:56] stevepeak commented on #6280
@harshavardhana I ask politely for an update on this issue (it's very important for our production release). Thank you kindly.

[2018-09-20 17:00] kannappanr commented on #6496
@djmaze Thanks for reaching out to us. We will have to see this in context with s3fs. Will reach out to you if we have more questions.

[2018-09-20 17:03] kannappanr commented on #6280
@stevepeak Sorry, we will try to incorporate the changes soon. Vendorizing gcs library took some time and we had to focus on other issues. We will try to make a release with this fix by tomorrow. Once again, sorry it is taking longer.

[2018-09-20 17:04] harshavardhana commented on #4537
You should turn off checking md5 in boto @deathname

[2018-09-20 17:12] kannappanr commented on #6501
@ciaoben Thanks for reaching out to us. We will get back to you with more information on the setup/ repro info.

[2018-09-20 17:17] harshavardhana commented on #4812
It is not, it is a work in progress as the time gets along.

[2018-09-20 18:41] harshavardhana opened #6504 "S3 select behavior different from AWS S3 behavior"
*** not using template ***

From @badscooter23

Found a bug where Minio - Select and S3 - Select return different answers on the same queries.

If I do the following query:

[code]

against S3 and Minio, I get the same answer (modulo the fact that it returns the answer in a different format which is a bug we have already filed)

[code]

Host 's3' (https://s3.amazonaws.com)
1247488

Stats details b