[2019-04-19 23:49] eco-minio commented on #7562
@BGodding Looks like there is a typo in your server command:

D:\minio>minio.exe server --address :58001 --config-dir C:\Users\BGodd.minio-tenant1\ D:\minio-data\tenant1

Note here it was \BGodd.minio instead of \BGodd\\.minio. When you give --config-dir as an argument, it creates that directory if it does not exist.  So, in this case, there would be a C:\Users\BGodd.minio-tenant1\certs directory

[2019-04-19 23:51] kannappanr commented on #7562
@BGodding Closing this as working. Please feel free to reach out to us if you have more questions.

[2019-04-20 05:40] harshavardhana commented on #7493
We are planning to implement bearer token based approach.

[2019-04-20 10:30] marcadella commented on #7490
I'm using the image ea5c51d826ad.
I did the following experiment: I add a user (using mc) and immediately start a loop to download a file which will loop (with 10s interval) until no exception is thrown (i.e. the download succeeds). In most cases the loop is executed once (as expected). In other cases it loops for two minutes until Minio stops complaining that the user does not exist.
If you want

[2019-04-20 11:30] hamid-elaosta commented on #5139
I've been looking at how I can resolve this issue in a project I'm working on for the short term. I had hoped I could use user metadata on objects to set a TTL and have a routine to iterate over the object list periodically and clean up expired ones.

Unfortunately, it seems that the user metadata cannot be used this way. Is my best option really going to be to track my object expiry in another da

[2019-04-20 15:33] BGodding commented on #7562
Sorry about the confusion, the typo (where the forward slash before . is treated as an escape char and dropped) occurred when I copied and pasted the command into github, it's what triggered the thought in my mind that maybe a similar issues was occurring with in the minio code. I probably should have gone back and edited the comments.

The facts are:
if I run
```D:\minio>minio.exe server --addres

[2019-04-20 15:35] harshavardhana commented on #7562
We will take a look

[2019-04-20 15:37] harshavardhana commented on #7490
Okay will do thanks for the reproducer..

[2019-04-20 16:11] BGodding commented on #7562
Took a quick shot at reproducing, but output looks fine.
Must just be a fluke on that machine. ¯\\_(ツ)_/¯
[code]
[code]

[2019-04-21 04:06] harshavardhana commented on #7562
Probably can you confirm works on other systems?

[2019-04-21 13:32] zhiqihuang commented on #6272
I encountered the same issue. Is there a solution now? I'm using the most recent minio

[2019-04-21 13:56] BGodding commented on #7562
Setup a new VM and with the same config and drive paths, and issue does not repeat.

Played with the issue system, and found if I dropped the ```--config-dir C:\Users\BGodd\.minio-tenant1``` from the command the issue went away. Must be something leftover from an old config causing the issue.

[2019-04-21 13:56] #7562 closed, assigned to eco-minio

[2019-04-21 23:00] harshavardhana commented on #6272
This is on purpose to look for free and available space look at the Prometheus metrics, MinIO browser is not for monitoring.

[2019-04-21 23:05] harshavardhana commented on #7554
We don't support cross mounts inside a directory, you should just start one MinIO per share.

Closing this as not supported.

[2019-04-21 23:05] #7554 closed, assigned to nobody

[2019-04-22 02:45] CyberCyclone opened #7567 "Error: extra data in buffer"
## Expected Behavior
When running in distribution mode using docker, the first container should wait for the other hosts to start up, format and then startup the cluster.

## Current Behavior
When running in distribution mode using Docker with 1 container on each host, all the secondary hosts throw an error and then start up in single mode. The first host stays on "Waiting for a minimum of 2 disks

[2019-04-22 04:38] kannappanr commented on #7567
@CyberCyclone I can reproduce this if one of the minio instance is of older version. With the latest release, we have moved away from RPC for our distributed locking, so this is expected. You probably have not built docker image from source on all the nodes. Can you please update to the latest source on all nodes and try this again?

[2019-04-22 05:38] CyberCyclone commented on #7567
Thanks @kannappanr, it turned out that I needed to do a `git pull` on the first node. That and `docker system prune` fixed it.

[2019-04-22 05:38] #7567 closed, assigned to nobody

[2019-04-22 14:54] #5683 closed, assigned to kaankabalak

[2019-04-22 17:59] lseelenbinder commented on #7503
Hi @kannappanr, just bumping this if you missed the original notification. Do let us know if we can provide anymore information for debugging—we're happy to help!

[2019-04-22 19:16] kannappanr commented on #7471
@dev-rowbot Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2019-04-22 19:16] #7471 closed, assigned to vadmeste

[2019-04-22 19:20] krisis commented on #5139
We will be adding object lifecycle support in phases. Initially, we will add support for object expiration matching object prefixes only. We will bring in support for object tagging and lifecycle support for tags subsequently. https://github.com/minio/minio/pull/7563 is the first in a series of PRs.

[2019-04-22 23:08] kmatt opened #7568 "More data was sent than what was advertised"
When copying JSON data files to a 4 disk Minio cluster, the following error is repeated frequently in the terminal session running the Minio server:

    API: SYSTEM()
    Time: ...
    Error: more data was sent that what was expected
    storageDisk= (any of the 4 disks in the system)
    1: cmd/bitrot-streaming.go:89:cmd.newStreamingBitrotWriter.func1()

This occurs using `minio cp` and with rcl

[2019-04-22 23:31] kannappanr commented on #7568
@kmatt Will take a look. Can you confirm that you do not see this issue, if `compression` is not enabled?

[2019-04-22 23:44] kmatt commented on #7568
@kannappanr Created a new bucket, disabled compression and restarted load via rclone. The errors appear to have stopped in the console:

[code]

Unfortunately rclone was not recognizing them so previous error count is not available (which may be an rclone issue).

[2019-04-23 05:27] nitisht commented on #7501
@Qtexl2 can you try with `minio-java` v6.0.6

[2019-04-23 09:09] snandy-git opened #7572 "Minio container is showing the status unhealthy(Previous ticket :- #7482)"
Minio container is showing the status unhealthy(Previous ticket:- #7482)

## Expected Behavior
Minio container is sometimes not working and we are restarting the container and it becomes ok. I checked that the status of minio container is always unhealthy .

## Current Behavior
Minio container is showing the status unhealthy. When I am running "docker restart ", then it is again ok. But after some

[2019-04-23 10:17] nitisht commented on #7572
Sorry for the confusion @snandy-git but we did find out the root cause for this and fixed in https://github.com/minio/minio/pull/7537

This is available in release `RELEASE.2019-04-18T01-15-57Z` and later. Can you please update this and try one more time.

[2019-04-23 15:22] lseelenbinder opened #7573 "CompleteMultipartUpload Error: encoding/hex: invalid byte: U+002D '-'"
When uploading using the official Python client to a MinIO server in B2 gateway mode with disk cache enabled, I'm seeing this error consistently:

[code]

It does not seem to affect B2, since the file is uploaded and available from B2. It does however affect the disk cache, as the file does not appear in the cache until it's been accessed once.

## Expected Behavior
CompleteMultiPartUpload succeed

[2019-04-23 15:27] nitisht commented on #7573
Thanks for reporting, we'll take a look @lseelenbinder

[2019-04-23 15:28] lseelenbinder commented on #7573
It may be connected to the fact there is a `-` in the object name. I haven't ruled that out yet.

[2019-04-23 16:41] poornas commented on #7573
@lseelenbinder, this issue is due to the ETag generated by B2 not being MD5Sum, so part verification fails during CompleteMultipartUpload - will see how we can address this.

[2019-04-23 18:07] kannappanr commented on #7503
@lseelenbinder I was able to reproduce it using `trickle` tool. We are working on sending a slowdown message back to the client. will keep you posted.

[2019-04-23 19:04] lseelenbinder commented on #7573
Thanks @poornas! Let me know if and how I can help.

[2019-04-23 19:12] lseelenbinder commented on #7503
Sounds good, @kannappanr. Let me know if I can assist in any way.

[2019-04-23 21:00] kannappanr commented on #7550
@linuxrc Testing such small objects for is probably not a very good use case for object storage in general.

I ran this test on stand alone mode

[code]

same test on locally erasure coded deployment

[code]

Not sure how it is faster on your end.

[2019-04-23 21:05] kannappanr commented on #7550
@linuxrc One difference in my case is that I used single disk and not multiple disks. For your test, you have used Virtual Machine, which I did not.

[2019-04-23 22:33] harshavardhana opened #7904 "Add a test to verify various routes in MinIO for conflicts"
As a follow-up for this fix https://github.com/minio/minio/pull/7574#issuecomment-485998784 we should add a mint test to validate our routes more correctly.

[2019-04-24 01:26] linuxrc commented on #7550
@kannappanr I did my test on real physical machine again and got the same result. I used Amazon AWS S3 API to store these objects to Minio, and I used http/1.1 pipeline scheme. What objects do you have in myminio/test? I put a lot of objects(maybe 100000) which have the same size 10KB one by one to Minio using AWS S3 API in a single thread(http/1.1 pipeline).

[2019-04-24 02:11] linuxrc commented on #7550
@kannappanr I think if you use mc to test the performance of copying files, the result is not exact, because you did not reach the toplimit of Minio in a single connection.

[2019-04-24 04:28] harshavardhana commented on #7550
@linuxrc mc does parallel copy, and with in a object does multipart in parallel as well. Not able to understand what are you saying about toplimit of single connection.

[2019-04-24 09:25] jonhai opened #7577 "Bucket not resolved when using MINIO_DOMAIN"
## Expected Behavior

When the environment variable MINIO_DOMAIN is set, MinIO should support virtual-host-style requests as explained in the [documentation](https://github.com/minio/minio/tree/master/docs/config#domain). For a request with a host `mybucket.miniotest.com` and with `MINIO_DOMAIN=miniotest.com`, MinIO should pick `mybucket` as the bucket.

I've been using MinIO locally with docker,

[2019-04-24 09:27] nitisht commented on #7577
Thanks for reporting @jonhai we'll take a look.

[2019-04-24 09:38] linuxrc commented on #7550
@harshavardhana I mean, when I try to put many objects in a single tcp connection, Minio will process the request one by one in their order. If I use http pipeline in my client, the later request is sent directly to Minio, whereas there‘s no need to wait the former request to accomplish its operation. So, Minio will be busy processing my PUT requests, and there’s no idle state to wait the request

[2019-04-24 14:21] aeltawela opened #7578 "In federation mode Minio queries etcd with prefix option not the exact name"
In federation mode, Minio queries etcd with the bucket name as a prefix, not the exact name which gives wrong results in case you have a bucket that starts with another bucket name. For example: abc, abc_setup2, abc_setup3

## Expected Behavior

Minio should look for the exact name or filter the results

## Current Behavior

Minio returns all the records and queries the wrong node

## Possible Sol

[2019-04-24 14:26] nitisht commented on #7578
what is the MinIO version here @ahmedabt

[2019-04-24 14:47] harshavardhana commented on #7578
This is fixed and released https://github.com/minio/minio/commit/4c048963dc05edf642538b8bc71588f475854ac6

[2019-04-24 17:52] kannappanr commented on #7550
`So, I wonder why the PUT/WRITE operation is faster in Multi-Tenant mode.`

Are we still talking about 10 KB files?

[2019-04-24 17:57] poornas commented on #7319
@nneul, were you able to upgrade yet? If not, we could close this issue and reopen if you face the problem with upgraded setup.

[2019-04-24 18:04] nneul commented on #7319
Yeah, we can close... it's getting strung along internally. Thank you for your assistance!

[2019-04-24 18:04] #7319 closed, assigned to poornas

[2019-04-25 01:24] linuxrc commented on #7550
Yes.

[2019-04-25 03:04] harshavardhana commented on #7572
Closing as fixed

[2019-04-25 03:04] #7572 closed, assigned to nobody

[2019-04-25 03:05] harshavardhana commented on #7542
This feature won't be implemented on Windows as it's not a priority for us, you can use Linux instead which provides this functionality as expected.

[2019-04-25 03:07] harshavardhana commented on #7359
This is fixed in MinIO by moving to http1.1 for internode communication.

[2019-04-25 03:07] #7359 closed, assigned to vadmeste

[2019-04-25 03:13] harshavardhana commented on #7062
It's not possible to publish ppc64le images on docker hub automatically,  if docker provides this feature we can use it too. Until then I don't see what else we can do here..

[2019-04-25 03:22] harshavardhana commented on #5937
Is this fixed @krishnasrinivas @kannappanr?

[2019-04-25 03:24] harshavardhana commented on #4676
This is already fixed as part of instance id support and also disks with inode differences are rejected as well. Closing as fixed.

[2019-04-25 03:24] #4676 closed, assigned to balamurugana

[2019-04-25 06:28] kannappanr commented on #7578
@ahmedabt Please use the issue template where we ask the MinIO version. Can you please confirm that the latest version of MinIO works as expected.

[2019-04-25 06:52] boris779 opened #7582 "No modification date for directories"
## Expected Behavior
When creating directories I would expect that the creation date of the directory is displayed in the "Last Modified" column

Actual the column is empty for directories

## Context

## Your Environment
* Version used (`minio version`): 2.4.13 (2019-04-09T01:22:30Z)
* Server type and version: minio-68c6df946d-vg7bq | OS: linux | Arch: amd64, Runtime  Version: go1.12 | CPUs: 8
*

[2019-04-25 07:27] harshavardhana commented on #7582
Directories are fake in a flat namespace they don't represent anything special on the disk, it is intentional that they don't have mod times. Their job is to give prefix based navigation and permissions. They don't represent the same thing that is usually represented on POSIX fs.

Only objects are the real entities which carry mod time and other metadata.

[2019-04-25 07:38] boris779 commented on #7582
Maybe I get somethingwrong. In my case I do not have a flat namespace, I do exactly have these directories on disk.

![2019-04-25_09h37_19](https://user-images.githubusercontent.com/10259016/56717845-da05f400-673d-11e9-860e-f604abca98cd.png)

[2019-04-25 07:44] harshavardhana commented on #7582
@boris779 showing backend disk directories are not meaningful for MinIO - we translate POSIX into a flat namespace. So we purposefully don't care about modTimes, you shouldn't rely on directory modTimes on S3 API they inherently have no meaning.

Directories are simply a prefix in a hierarchy delimited by `/` - this is not an issue, it is the intended behavior.

[2019-04-25 08:02] boris779 commented on #7582
ok thanks.

[2019-04-25 08:02] #7582 closed, assigned to nobody

[2019-04-25 11:32] mjschmidt opened #7583 "Ingress continues to expect traffic over http when TLS is turned on."
## Expected Behavior

Ingress controller should route to minio service for https deployment via helm chart. It instead continues to expect the requests to come in via http. Hopefully a simple fix to the helm chart would fix this, let me know if there are additional annotations I can add to my current helm chart to handle this in the meantime. Thanks!

## Current Behavior

BUG:
Ingress controller d

[2019-04-25 19:48] donatello opened #7585 "Add Kerberos as Identity provider via a custom STS API"
** Not using issue template **

- [ ] Add basic support to give Kerberos authenticated users access to Minio via STS API
- [ ] Add support to apply a "default" access policy for users authenticated from external identity providers
- [ ] Add support to use group information from Kerberos authentication to apply an access policy

[2019-04-25 20:46] krishnasrinivas commented on #4676
@harshavardhana note that the issue is not fixed by instance-id or inode support, it can be fixed by your earlier comment `We basically have to disallow requests from IPs trying to connect to Minio.` the only problem is if the network is NATed peers connection's source IP might be different than what is specified at the command line

[2019-04-25 20:57] kannappanr commented on #5937
Yes @harshavardhana . Fixed by #7227

[2019-04-25 20:57] #5937 closed, assigned to kannappanr

[2019-04-25 21:23] kannappanr commented on #7583
@mjschmidt Thanks for a detailed description. Will reproduce this issue and send in a fix if required.

[2019-04-26 03:49] wangsiyu34567 opened #7586 "When the client concurrently requests more than 3000 or more, the server crashes directly"
## Expected Behavior
When the client concurrent request is too high, we want the minio server to suspend the request instead of crashing directly.

## Current Behavior
The client simultaneously initiates 1000 concurrent requests, and the minio server crashes directly.
[code]

## Steps to Reproduce (for bugs)
Run Minio server with

- 3000 concurrent requests
- 1 Bucket
- 3000 objects, 10 KB each

T

[2019-04-26 03:51] harshavardhana commented on #7586
We don't test Windows with erasure coded setup @wangsiyu34567 - so it is expected to be **experimental**. We recommend using Linux for production deployments if you are using erasure coding.

[2019-04-26 08:11] mjschmidt commented on #7583
## Your Environment

* Version used: `RELEASE.2019-04-09T01-22-30Z`)
* Environment name and version: Not sure, what ever Rancher provides, pretty new.
* Server type and version: Rancher Cluster (rancher 2.2.1) Running on CentOS7.5 Linux
* Operating System and version: `3.10.0-957.5.1.el7.x86_64`
* Link to your project: Closed network, but the above suggests it is a problem with the ingress yaml no

[2019-04-26 08:27] wangsiyu34567 commented on #7586
We use Ubuntu to deploy minio server and still crash
[code]

[2019-04-26 08:39] harshavardhana commented on #7586
This looks like some custom compilation @wangsiyu34567 are you trying our released binaries?

[2019-04-26 08:47] wangsiyu34567 commented on #7586
We test the released binaries later. thx

[2019-04-26 08:51] harshavardhana commented on #7586
Please test the released binaries - there is something odd in your setup. Either there are some arbitrary system limits such as the number of threads etc. Is there any code modification in s3_gw_minio? if yes what are those?

[2019-04-26 09:11] chrono2002 opened #7587 "Policy creation excessive etcd traffic and huge slowdowns in federated mode"
Hi, folks!

I have created a test Kubernetes environment with 5 minio instances in federated (with etcd) mode on separate nodes located nearby with 1gbps channel between them. Same for 3 etcd instances, even tested with 1. When i begin to create a large number of policies (more than 200), here comes more than 10 seconds slowdowns with arithmetic progression on every new policy creation, a really h

[2019-04-26 09:15] harshavardhana commented on #7587
First, you don't need to create 100's of policies if you want same policies for each user just use the `{aws:username}` keyword and you only need one policy which can be used across users.

FWIW - the issue is most probably fixed by https://github.com/minio/minio/pull/7551

[2019-04-26 13:18] #7515 closed, assigned to harshavardhana

[2019-04-26 13:24] chrono2002 commented on #7587
thank you for your answer, harshavardhana
still same here but now for over 500 users and latest minio master branch

[code]

token.json:
[code]

[2019-04-26 13:26] nitisht commented on #7587
#7551 was just merged @chrono2002 , you'll need to either build it from master or use the `minio/minio:edge` Docker image to test this until we make a release

[2019-04-26 13:33] stokowski opened #7588 "Unexpected errors"
[code]

Im synchronizing two buckets separately of the same minio instance with some other storage - couple million of objects on both buckets with object size xxx KB to xxx MB.

Current operations are: 1st bucket - mainly object checks/compares based on size (--size-only flag in rclone); 2nd bucket - up to 20 concurrent upload of files xx-xxx MB.

In meantime rclone also catched such errors for f

[2019-04-26 13:44] nitisht commented on #7588
Thanks for reporting, we'll take a look @stokowski

[2019-04-26 15:07] chrono2002 commented on #7587
same excessive traffic and load
it grows on 1 sec per every 100 users
so on 1000 users a request could take about 10 sec

[code]

[2019-04-26 16:03] harshavardhana commented on #7587
Can you create the same tests using etcdctl PUT and see if etcd uses CPU at all?

If yes then it's expected, continuously creating policies and users on etcd will cause a spike if you are doing a while true run. It is practically unexpected, and this may be a common etcd behavior.

So I don't see why we should reduce the CPU usage of etcd.

[2019-04-26 16:09] nelsonmarcos opened #7589 "Question - CAP Theorem"
Hello,

Reading the docs: "For example, an 8-node distributed MinIO setup with 1 disk per node would continue serving files, even if up to 4 disks are offline. But, you'll need at least 5 disks online to create new objects."

Can I say that, related with the [CAP theorem](https://towardsdatascience.com/cap-theorem-and-distributed-database-management-systems-5c2be977950e), minio offers consistency

[2019-04-26 16:11] harshavardhana commented on #7589
MinIO does provide consistency, fault tolerance and also performance.

[2019-04-26 16:13] harshavardhana commented on #4676
instance-id and inode sufficiently fix it already so we don't have to do a anything else anymore.

[2019-04-26 17:31] kannappanr commented on #7586
`s3_gw_minio/vendor/github.com/minio/minio/cmd.readAllXLMetadata.func1` looks like you have vendorized `minio`. Is your binary built from https://github.com/wangsiyu34567/s3_gw_minio repo? Please stick to our issue template and report issues that you see using code from our repo. Closing this issue now as there is a mix of code from your repo and the current `minio` repo.

[2019-04-26 17:31] #7586 closed, assigned to nobody

[2019-04-26 17:32] kannappanr commented on #7586
Please feel free to open another issue if you still see this with a released version of minio.

[2019-04-26 18:38] maforshaw commented on #7577
Same problem here. I noticed when Synology's HyperBackup started to fail, which only supports virtual-host-style requests.

Thanks @jonhai for tracking down the last working version. Downgrading to RELEASE.2019-03-27T22-35-21Z fixed the issue.

[2019-04-26 20:59] harshavardhana commented on #7578
Fixed and released closing.

[2019-04-26 20:59] #7578 closed, assigned to nobody

[2019-04-27 00:28] kannappanr commented on #7577
PR https://github.com/gorilla/mux/pull/383 , part of gorilla mux version v1.7.0 broke compatibility in MinIO with https://github.com/minio/minio/pull/7302 . We will be sending in a fix to handle this change.

[2019-04-27 09:16] stokowski commented on #7588
Hi,

Syncing continues. The number of minio process threads have grown to ~1900. Looks like old threads are not closed. That threads-case is only on one node from 3 (distributed mode). No network/disks bottlenecks. If needed I can attach strace log.

[2019-04-27 14:48] harshavardhana commented on #7588
Most probably fixed by #7590

[2019-04-27 22:14] #7503 closed, assigned to nobody

[2019-04-28 01:38] harshavardhana commented on #7589
Closing this as answered..

[2019-04-28 01:38] #7589 closed, assigned to nobody

[2019-04-28 01:38] harshavardhana commented on #7588
@stokowski can you test with latest master?

[2019-04-28 11:32] mjschmidt commented on #7583
Keeping track, this annotation will want to be turned on if your minio deployers want an ingress, ANDdon't want tls on the back end. In a true, true scenario for this you will want to activate the following annotation on your ingress:
```nginx.ingress.kubernetes.io/secure-backends: "true"```

[2019-04-28 19:45] Gibheer opened #7594 "version mismatch not reported when creating cluster"
When initializing a new cluster, there are now errors printed when something is wrong, like the server time. But there is no such report, when the version between the nodes doesn't match.

I had this issue when I updated from 2019.03.27.22.35.21 to 2019.04.23.23.50.36. On two nodes, I forgot this step and the cluster waited for nodes and reported missing disks.

With all nodes on the newest versio

[2019-04-28 20:02] harshavardhana commented on #7594
The behavior is expected as they shouldn't connect, additionally we will print an error message about version mismatch.

[2019-04-28 20:53] Gibheer commented on #7594
Thank you very much :)

[2019-04-29 04:40] #6156 closed, assigned to harshavardhana

[2019-04-29 09:33] stokowski commented on #7588
@harshavardhana im testing latest edge docker image. I will let you know if problem still occurs.

[2019-04-29 11:15] chrono2002 commented on #7587
OK, I have tried to run minio distributed without kubernetes on local virtualbox cluster
the first configuration was:
3 etcd instances without https
1 minio instance
it takes for around 0.3 sec to create user not depending on quantity

then I have changed configuration to look like this:
3 etcd instances without https
4 minio instances in distributed mode
here it takes for about 20 second per user

[2019-04-29 12:07] chrono2002 commented on #7587
now I have run a single etcd instance with debugging turned on
minio still in distributed mode
it takes around 1 sec per user, 2 sec per user when user count ~200 etc
still high network and cpu load on etcd node

[code]

I have attached the etcd debug log to see what happens if I add 200th user.

[etcd_debug.log](https://github.com/minio/minio/files/3127284/etcd_debug.log)

Looks like every minio

[2019-04-29 13:52] dev-rowbot opened #7597 "Expected behaviour of prometheus Metrics for network sent/received"
I have a dashboard which displays the `minio_network_sent_bytes_total` and `minio_network_received_bytes_total` overlayed with the same results from `node_exporter` for the host sent/received bytes.

We have a 4 node minio cluster and I am only graphing metrics from one of the nodes which is receiving the data. I would expect to see received bytes that match closely with the hosts received bytes,

[2019-04-29 16:12] tinohager opened #7598 "Service help description wrong for windows user"
On Windows `export` not working to set enviorment variable, use `SET` instead.
https://stackoverflow.com/questions/18701783/windows-equivalent-of-export

File to change [server-main.go](https://github.com/minio/minio/blob/091b9b661fe79f992af8167e17b794977f9214cf/cmd/server-main.go)

[2019-04-29 16:28] harshavardhana commented on #7587
Each instance needs to handle each request independently, so each instance loads policies and users as needed.

It is possible for us to filter out appropriately, what we need to reload. Let me think about if there is a better optimal way to do it.

[2019-04-29 16:33] #7577 closed, assigned to Praveenrajmani

[2019-04-29 18:26] kannappanr commented on #7503
@lseelenbinder Please feel free to try out the latest master. You should not see this issue anymore, but if you are still seeing this please feel free to re-open the issue.

[2019-04-30 02:07] harshavardhana commented on #7598
The documentation there is meant for Unix only @tinohager we can automatically change it based on the platform though.

[2019-04-30 02:08] harshavardhana commented on #7588
Thanks @stokowski

[2019-04-30 07:32] tinohager commented on #7598
@harshavardhana That's good news, I hope there will be documentation for both systems soon.

[2019-04-30 08:09] sgandon commented on #7515
Thanks a lot guys !

[2019-04-30 09:27] stokowski commented on #7588
Hi,

I dont see issues with drastically increasing number of minio threads. But when doing many syncs I've catched some errors on uploads:

[code]

which is strange because I dont have problems with disks, also minio admin info also reported no issues. Im trying to reproduce that.

[2019-04-30 09:58] stokowski commented on #7588
Problem repeated for me on different instance, with the same edge version from yesterday.

[2019-04-30 16:26] harshavardhana commented on #7588
This looks like your disk is giving up on load, low level calls cannot return "invalid argument"

What is the disk here ? A k8s storage volume?

[2019-04-30 16:26] harshavardhana commented on #7588
This is different than the original issue, can we close this and reopen a new one?

[2019-04-30 16:40] stokowski commented on #7588
Nah, host volume. Yeah go ahead and close it.

[2019-04-30 17:09] kannappanr commented on #7588
@stokowski Closing this issue now. Please feel free to open another issue if you have further questions.

[2019-04-30 17:09] #7588 closed, assigned to krishnasrinivas

[2019-04-30 21:59] sentient commented on #5967
What do you have to do to set the "document" or "path" style method. It seems it became the default in elastic 7.0. But I don't understand yet how you can set this on a 6.* version

[2019-04-30 23:02] mjschmidt commented on #7583
Remember kids, when you make ingress changes make sure your ingress controller containers actually reload... Here are my working minio configs for TLS on and Ingress on via tls. See the values file. I also needed to use the openssl conf file to create a cert that would whitelist the minio pods. Therefore minio currently does not support internal TLS via "trusted" certificates.

https://github.com/

[2019-04-30 23:27] #7568 closed, assigned to Praveenrajmani

[2019-05-01 14:32] lseelenbinder commented on #7503
Thanks @kannappanr! I'll check it once there's a new release and let you know.

[2019-05-01 16:17] adamhooper opened #7605 "GCS gateway: PutObject sometimes errors with NoSuchKey"
## Expected Behavior

We upload ~10,000 files per day from 3 Python services to a pair of minio GCS gateways on GKS (Kubernetes). File sizes range from 1kb to 2GB; median is perhaps 100kb. We use `boto3` to upload them (a single TransferManager with long-living connections), but previously we've used `minio-py` as well.

We expect all `PutObject` calls to succeed -- or to _report the correct error

[2019-05-01 16:20] adamhooper commented on #7605
Whoops -- I forgot to supply the error on the minio side:

[code]

[2019-05-01 17:12] poornas commented on #7605
@adamhooper, as you pointed out  the issue is due to not checking whether writer closed successfully before updating metadata attributes. Sending a PR to fix this.

[2019-05-01 18:10] adamhooper commented on #7605
Awesome! That's so quick! Thank you.

Maybe this is outside the scope of the issue (but maybe not): any thoughts on replacing `object.Attrs()` and associated error handling with `w.Attrs()`, which never errors? I haven't tested, but I'd expect a large speed boost (and cost savings) because it would remove an HTTP request. And it would prevent PutObject from throwing `NoSuchKey` in the event of a r

[2019-05-01 19:02] poornas commented on #7605
@adamhooper, that's a great catch - w.Attrs() already returns the metadata which can be used

[2019-05-02 06:53] kxion commented on #7550
thanks a lot

[2019-05-02 07:48] nitisht commented on #7499
fixed by https://github.com/minio/minio-go/pull/1097

[2019-05-02 07:48] #7499 closed, assigned to sinhaashish

[2019-05-02 15:27] #7605 closed, assigned to poornas

[2019-05-03 12:01] #7145 closed, assigned to Praveenrajmani

[2019-05-03 12:08] Karimerto commented on #7145
Good to know that this has been fixed, thank you!

[2019-05-03 20:00] donatello commented on #7445
PR is targeting only stateless functions - I don't expect the coverage improvement to increase a lot.

[2019-05-04 03:21] sinhaashish commented on #5742
PR https://github.com/minio/minio/pull/7569#issuecomment-488781548 fixes this issue

[2019-05-04 11:07] JohnKiller opened #7618 "minio cluster stops responding if a host is down"
I'm experimenting with minio cluster. I've setup a 4 node, 1 disk per node, cluster.

If I kill the minio process on a host, the other 3 continues to work as expected.
However, if I shutdown the node, the cluster becomes unresponsive. The web ui works but lists no file. S3 clients stops getting file listings and after some seconds even the buckets disappears.
Booting up the server again, even with

[2019-05-04 17:47] GreenVine commented on #7577
Hi there,

I'm re-opening this issue as I am still seeing the same error with the latest version: `RELEASE.2019-05-02T19-07-09Z`.

I have set my `MINIO_DOMAIN` to `example.com` and have a bucket named `mybucket`. I'd assume that direct access to objects via `mybucket.example.com` is possible. To make the issue more obvious, I tested my deployment by using an incorrect signature to access the `test

[2019-05-04 18:01] harshavardhana commented on #7577
This issue is different @GreenVine please open a new one.

[2019-05-04 18:11] GreenVine opened #7619 "Bucket name captured incorrectly when using MINIO_DOMAIN"
Hi there,

I'm opening this to report a bucket name capture issue with the latest version: `RELEASE.2019-05-02T19-07-09Z`.

I have set my `MINIO_DOMAIN` to `example.com` and have a bucket named `mybucket`. I'd assume that direct access to objects via `mybucket.example.com` is possible. To make the issue more obvious, I have tested my deployment by using an incorrect signature to access the file `t

[2019-05-04 18:38] kannappanr commented on #7619
@GreenVine Thanks for filing this issue. We will take a look and fix this issue.

[2019-05-05 04:22] kannappanr commented on #7619
@GreenVine I tried something like `curl -v http://mybucket.test.com:9000/issue?X-Amz-Algorithm=SOME_INCORRECT_TOKEN` and the response was

[code]
This is with the latest master.

[2019-05-05 04:25] kannappanr commented on #7618
@JohnKiller Thanks for filing this issue. We will take a look at this issue.

[2019-05-05 04:50] TennyZhuang commented on #4557
Is there any latest version of the doc?

[2019-05-05 06:52] belugaliu opened #7620 "`presignedGetObject` return url cannot use as download url"
i'm testing browser use minio-java `presignedGetObject`'s url  to download object. but response header not contains `Content-Disposition`.  so, i can not download object as a local file.
## Expected Behavior
![4fe4e4b0a66a44fdb289a4cafcee6441](https://user-images.githubusercontent.com/24370993/57189772-41455480-6f45-11e9-9b14-91aef7dbadf4.png)

## Current Behavior
![56b8c1f8dae34092a91f93e53af4252

[2019-05-05 08:06] GreenVine commented on #7619
When you say the latest master, is it newer than `RELEASE.2019-05-02T19-07-09Z`?

[2019-05-06 00:55] mappu commented on #4681
There was just an official announcement:

-- https://forums.aws.amazon.com/ann.jspa?annID=6776

[2019-05-06 06:29] Praveenrajmani commented on #7618
@JohnKiller I have got some questions. Can u reach us at slack - https://minio.slack.com/join/shared_invite/enQtNDAzMjM0Njc4OTMzLWVhYTYyZjRlZWQ2YjhkNjAxNmM5MTEyZTZkZTI2NWJlZGUzMDI5ZjkzMDBmNGNkNDZhNGU2MmRjZmEwNGQwNTE

[2019-05-06 07:28] heavenwing opened #7622 "Gateway azure got error: x509: certificate signed by unknown authority"
## Expected Behavior
List containers and blobs of Azure storage from Minio Browser

## Current Behavior
I got this error:
API: SYSTEM()
Time: 15:12:22 CST 05/06/2019
Error: [31m[1mGet https://[myaccountname].blob.core.windows.net/?comp=list: x509: certificate signed by unknown authority[0m[0m
       1: cmd\policy.go:101:cmd.(*PolicySys).refresh()
       2: cmd\policy.go:163:cmd.(*PolicySys).In

[2019-05-06 07:31] nitisht commented on #7622
Thanks for reporting @heavenwing we'll take a look

[2019-05-06 07:32] heavenwing commented on #7622
I updated latest version (2019-05-02T19:07:09Z), this issue is still here.

[2019-05-06 08:28] jonhai commented on #7577
Confirming that this bug still happens in *RELEASE.2019-05-02T19-07-09Z* and to me it sounds very much like the problem @GreenVine reports which now has it's own issue #7619.

Here's the what I now have the docker-compose.yml using this latest version:

[code]

The curl request still produces:

[code]

Again with *mykey* incorrectly as the bucket name. The same happens with the *edge* version. *RE

[2019-05-06 08:34] GreenVine commented on #7619
@kannappanr I have also tested with the edge branch, looks like the issue persists. The key problem here is the first path segment is incorrectly treated as `BucketName` when using virtual host style.

@jonhai also reported the same issue in the earlier thread: https://github.com/minio/minio/issues/7577#issuecomment-489545563

[2019-05-06 10:01] JohnKiller commented on #7618
Setup is working as expected, it's just an initial delay (about 30 seconds) before the cluster detects that the node is down before accepting new requests again.

Some suggestions are lowering the timeout value (maybe configurable) and marking the node as "failed" and don't try to contact it again on each request until another thread marks it as "online" again.

Thanks for your patience and for th

[2019-05-06 10:01] #7618 closed, assigned to Praveenrajmani

[2019-05-06 12:11] lbogdan opened #7623 "Default Docker health check fails"
## Expected Behavior
Default Docker health check succeeds.

## Current Behavior
Default Docker health check fails.

## Steps to Reproduce (for bugs)
1. Start a `minio` container with no special configuration.
2. Wait a few minutes.
3. Run `docker inspect minio_container`:
[code]

## Debugging
After a quick look at `healthcheck.go` I saw it uses `netstat` to detect the port `minio` is listening on

[2019-05-06 12:58] sedlund opened #7624 "[gateway] b2 - unable to create s3ql filesystem"
## Expected Behavior

Expect mkfs.s3ql to create a filesystem.

## Current Behavior

[code]
etc...

## Possible Solution

mkfs.s3ql works fine when minio is acting as a server.  The B2 gateway seems to be broken.

## Steps to Reproduce (for bugs)

1.  minio gateway b2
2.  mkfs.s3ql --backend-options no-ssl s3c://minio:9000/s3ql

## Your Environment

* Version used (`minio version`):
* Environment

[2019-05-06 13:10] nitisht commented on #7624
@sedlund can you please enable MinIO trace and provide the output here..here is how to enable trace

[code]

[2019-05-06 13:15] nitisht commented on #7623
thanks for reporting, we’ll take a look @lbogdan

[2019-05-06 13:19] nitisht commented on #7620
@liuliliGithub please use the issue template to report issues, otherwise it is difficult to reproduce/analyse bug reports. Closing this for now, please reopen once you add the details as per the issue template

[2019-05-06 13:19] #7620 closed, assigned to nobody

[2019-05-06 13:32] sedlund commented on #7624
[minio.log](https://github.com/minio/minio/files/3148116/minio.log)

Hope this helps

[2019-05-06 13:56] sedlund commented on #7624
[minio_success_mkfs_s3ql.log](https://github.com/minio/minio/files/3148211/minio_success_mkfs_s3ql.log)
@nitisht Here is a successful mkfs.s3ql against mino running as server.

It looks like the Etag generated by the b2 gateway is incorrect.

[2019-05-06 14:31] nitisht commented on #7624
Looks like this is related to https://github.com/minio/minio/issues/7573

[2019-05-06 17:33] fwessels commented on #4557
No, this is still the latest version

[2019-05-06 17:37] chrono2002 commented on #7587
hi, Harshavardhana
any luck with this?

[2019-05-06 19:08] chrono2002 commented on #7587
in cmd/admin-handlers.go i see:

[code]

maybe it's more logical to notify peers FetchOnlySpecificUser(username)?

[2019-05-06 19:19] harshavardhana commented on #7587
That is not the problem here, the problem is Watch() routine is loading users recursively for all of them

[2019-05-06 23:51] kannappanr commented on #7577
@jonhai I think the fix for the regression did not handle the scenario that you have described here, where the internal port is `9000`, but the external port is `8001`
Something like this will work now.

[code]
or

[code]

Will send in a fix that will handle the scenario you have described here. I was trying to reproduce with the same port number.

[2019-05-07 05:22] kannappanr commented on #7619
@GreenVine So, the fix we had did not take care of one scenario explained in #7577 . Have sent a fix in that will handle that scenario also.

[2019-05-07 07:08] jonhai commented on #7577
@kannappanr nice, thanks!

[2019-05-07 08:23] stefan-as commented on #7497
Issue is solved by the current release `RELEASE.2019-05-02T19-07-09Z`. Root cause was not the bucket name itself, but broken virtual host style mode. In consequence, buckets from Host header were not recognized and valid object names were treated as bucket names.

[2019-05-07 12:33] babekasis opened #7626 "ListObjectsV2 show long string instead of user name"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. configure multi user environment
2.create a bucket and files using one of the new users
3. run the go script ListObjectsV2
4. the result will show long string

## Context

## Regression

## Your Environment

using docker over ubuntu 18
minio version : 2019-05-02T19:07:09Z
* Server type and version

[2019-05-07 13:02] nitisht commented on #7626
Thanks for reporting @babekasis we’ll take a look

[2019-05-07 13:27] Praveenrajmani commented on #7626
This is a feature request (Not yet implemented). Right now we leave the owner.DisplayName empty and owner.ID as `globalMinioDefaultOwnerID`. To test, you can use the following minio-go snippet.

[code]

[2019-05-07 15:30] harshavardhana commented on #7626
This is on purpose, MinIO doesn't store anything user related in it's metadata for each object, it isn't like AWS S3 ACL system. ACL system carries who uploaded content but this is not implemented on MinIO. Because we provide support for policies.

We should close this issue as it's working as expected, we won't be implementing ACL's anyways.

[2019-05-07 17:33] poornas commented on #7622
@heavenwing, It looks like you have a self-signed certificate in use where your certificate authority is not trusted by the azure backend

[2019-05-07 17:36] #7619 closed, assigned to nobody

[2019-05-07 17:40] GreenVine commented on #7619
Awesome, cheers for your work!

[2019-05-07 17:52] poornas commented on #7622
@heavenwing, this link might help you resolve the cert issue - https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=1804#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2019-05-07 23:42] shamil opened #7628 "Amazon S3 will no longer support path-style API requests"
https://forums.aws.amazon.com/ann.jspa?annID=6776

How we will able to use official AWS SDK with minio server when `path-style` option will be removed from there?

[2019-05-08 00:21] harshavardhana commented on #7628
Use MINIO_DOMAIN to set MinIO to support virtual DNS style @shamil https://github.com/minio/minio/tree/master/docs/config#domain

[2019-05-08 00:21] #7628 closed, assigned to nobody

[2019-05-08 02:57] heavenwing commented on #7622
@poornas  Thanks for you help. It's working.

However actually I don't use self-signed certificate , Azure Storage Blob use CA's certificate, its issuer is
CN = Microsoft IT TLS CA 5
OU = Microsoft IT
O = Microsoft Corporation
L = Redmond
S = Washington
C = US
its subject is
CN = *.blob.core.windows.net

I use OpenSSL get this certificate then copy it into  C:\Users\<Username>\.minio\certs\CAs
and

[2019-05-08 02:57] #7622 closed, assigned to poornas

[2019-05-08 05:08] nitisht commented on #7597
Transmitted bytes will be updated whenever MinIO server writes data to a connection. There are possible scenarios where MinIO Tx may not be incremented (as MinIO itself is not writing data) while the eth0 interface Tx is incremented due to other applications writing data to connections.

[2019-05-08 05:19] nitisht commented on #7623
@lbogdan are you running custom MinIO image with non-root user?

[2019-05-08 05:55] lbogdan commented on #7623
No, it's `minio/minio:latest`:
[code]

[2019-05-08 05:58] nitisht commented on #7623
I just tested locally and I can see netstat reporting PID/Program name (while running as a root user)

[code]

I understand this will be a problem if `minio` is running as non root user. We'll need to fix that

[2019-05-08 06:30] lbogdan commented on #7623
It works if I `cap_add SYS_PTRACE`:
[code]

[2019-05-08 12:33] jumpswitch commented on #6946
I kindly ask if someone can rebuild binary for linux-arm as I'm having issue. Also tried with linux-armv6l binary.

rpiv3# wget https://dl.minio.io/server/minio/release/linux-arm/minio
rpiv3# chmod +x minio
rpiv3# ./minio server --address [::]:9000 /DATA/
FATA[0000] Invalid address ‘[::]:9000’ in command line argument.  cause=host in server address should be this server source=[server-main.go:90:s

[2019-05-08 13:11] wflanagan commented on #5139
At least in my industry, we use s3 as an object cache.. when we write it, we want to set an expiration of something like 24 hours.. after which we would re-retrieve the item (and store in Minio).  We just implemented Minio in the last week, as an attempt to move off of S3 for doing this.  Was disappointed to see that per object TTL wasn't supported, but happy to see it's coming.

[2019-05-08 16:53] harshavardhana commented on #6946
You can build from source, we don't build official released arm binaries.

We support source compiled binaries for these systems.

[2019-05-08 16:54] harshavardhana commented on #7623
So you are using a different cap on your containers by default @lbogdan?

[2019-05-08 16:56] lbogdan commented on #7623
No, with everything default it doesn't work, if I add `SYS_PTRACE` it starts working.

[2019-05-08 17:06] lbogdan commented on #7623
If I'd have to guess, I'd say it has to do with AppArmor / other kernel security enforcement mechanism.

[2019-05-08 18:20] harshavardhana commented on #7623
May be we would have to validate if the recent docker changed anything, to drop privileges.

[2019-05-08 18:32] labnewbie opened #7630 "Error running Mino as Windows service with TLS/HTTPS"
## Expected Behavior
Minio server should be accessible via HTTPS when run as a service

## Current Behavior
The service starts without any errors:
PS C:\> start-service minio
PS C:\> get-service minio

Status   Name               DisplayName
------   ----               -----------
Running  Minio              minio

But when I try to access the server this is the error:
PS C:\> mc admin service sta

[2019-05-08 22:43] kannappanr commented on #7630
@labnewbie I don't think this has got anything to do with `service`. What command did you type when you installed the service.
The information given in https://github.com/minio/minio-service/tree/master/windows doesn't talk about `https`

[2019-05-08 23:14] labnewbie commented on #7630
I used NSSM and the command was:

c:\nssm.exe install Minio C:\Minio\minio.exe server C:\Minio\Data
Service "Minio" installed successfully!

When I remove the cert files from the %%USERPROFILE%%.minio\certs folder everything works fine so it definitely https rather than the actual service creation.  The https works fine when I start the Minio server from the cli.  It's only when running as a servi

[2019-05-08 23:26] kannappanr commented on #7630
@labnewbie I think it might be because you are running `MINIO` as service with probably a different account than what you are running under as when you run it with `cli`.

Can you try something like this `c:\nssm.exe install Minio C:\Minio\minio.exe server -S C:\tmp\certs C:\Minio\Data` ? Assuming that you have the certs at `c:\tmp\certs`

[2019-05-09 11:56] xilipilige opened #7631 "Can't find some dependencies"
cloud.google.com/go v0.37.2
google.golang.org/api v0.3.0
contrib.go.opencensus.io/exporter/ocagent v0.4.10

[2019-05-09 12:54] jefvel opened #7632 "Created multipart upload is not shown when listing multipart uploads"
When creating a multipart upload using `aws cli`, it is not shown when trying to list multipart uploads.
## Expected Behavior
Multipart uploads should be visible immediately after creating them.

## Current Behavior
Multipart uploads are not listed when calling `ListMultipartUploads`:
[code]

Compare it to pure AWS:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Start up minio

[2019-05-09 13:02] labnewbie commented on #7630
I was able to start the service with your -S recommendation and the service started.
C:\Windows\system32>nssm.exe install Minio C:\Minio\minio.exe server -S C:\GnuTLS\win64-build C:\Minio\Data
Service "Minio" installed successfully!

I also am able to execute mc commands and access Minio via the webpage via https.

I will continue testing today.  If everything works I will close this.

I will also

[2019-05-09 13:32] vadmeste commented on #7631
@xilipilige can you describe more the issue you are seeing if any and how to reproduce it ?

[2019-05-09 15:48] harshavardhana commented on #7632
@jefvel this is on purpose and intentional. Historically we did behave the same as AWS S3 but we realized that there are no known applications which use this API unless other than which tries to cleanup old stale uploads.

So to simplify the backend we moved to automatic delete of stale multipart uploads after 3 days.

So here what we don't implement is heirarchical listing, but we do provide outp

[2019-05-09 15:50] harshavardhana commented on #7631
Closing this issue as incomplete for now, feel free to reopen with more reproducible steps.

Thanks

[2019-05-09 15:50] #7631 closed, assigned to nobody

[2019-05-09 15:54] harshavardhana commented on #7626
Closing this as a non issue for MinIO

[2019-05-09 15:54] #7626 closed, assigned to sinhaashish

[2019-05-09 15:58] harshavardhana commented on #7624
mkfs.s3ql is dependent incorrectly in dealing with ETag as hex value. Such dependency will cause these applications to break.

B2 gateway is working correctly as per implementation, there is nothing we can fix at this point.

[2019-05-09 20:58] kannappanr commented on #7624
@sedlund Closing this issue based on the comment above. Please feel free to reach out to us if you have further questions.

[2019-05-09 20:58] #7624 closed, assigned to nobody

[2019-05-09 21:52] #7630 closed, assigned to nobody

[2019-05-09 22:45] xoraingroup opened #7634 "File Stream from a url and pipe it to minio instance pre-signed put url fails with EPIPE Error"
Using nodejs request library to fetch the file from google drive using access token and then pipe it to Minio instance pre-signed put url fails with EPIPE error. After debugging the response it showed an xml of error message invalid request.

Generally any kind of file works over http / https and even google drive file was also working till 2019-01-10T00:21:20Z version. But after that it does not

[2019-05-10 04:38] kannappanr commented on #7634
@xoraingroup Will take a look. Can you let us know what mode you were running `minio` in ? Is it stand alone mode?

[2019-05-10 14:55] jjsp556 opened #7636 "S3 gateway mode does not support bucket to bucket operations with SSE-KMS"
When using minio in S3 gateway mode on a S3 bucket that is configured with SSE-KMS default encryption, performing basic cp/mv operations works when performing local to S3 bucket, or S3 bucket to local operations. However, performing S3 bucket to S3 bucket operations does not seem to be supported. I would like to request this functionality.

Here's an example of a failure when using the aws cli aga

[2019-05-10 15:16] harshavardhana commented on #7636
We don't support SSE-KMS yet, but we are working on supporting it in future.

[2019-05-10 17:21] dmolesUC commented on #4681
The latest news seems to be that they'll continue to support path-style routing for older buckets, which sounds like good news as far as continued tool/SDK support for path-style routing. (A bit annoying for anyone trying to write tools that work with both, though.)

https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/

[2019-05-10 17:48] harshavardhana commented on #4681
FWIW MinIO already supports DNS style buckets so either way, the AWS S3 plan seems fine either way.

[2019-05-10 17:52] dmolesUC commented on #4681
But [not by default](https://github.com/minio/minio/tree/master/docs/config#domain), right? And depending on what you're running Minio behind, there might be firewall / vhost / etc. issues with enabling it.

[2019-05-10 18:19] aead commented on #7636
@jjsp556 How were the objects uploaded to AWS? Have you uploaded them directly using SSE-KMS to AWS without using the gateway? b/c if you would have tried to upload the object with SSE-KMS through the gateway the gateway should have returned an error.

[2019-05-10 19:01] harshavardhana commented on #4681
What matters is there is a simple a way to enable it.

[2019-05-10 19:09] xoraingroup commented on #7634
@kannappanr It was standalone mode.

[2019-05-10 20:45] jjsp556 commented on #7636
I uploaded file1.txt referenced in the example using the AWS web console, which automatically SSE-KMS encrypted the file since the bucket was configured to encrypt with SSE-KMS by default. In the example I am trying to use the minio gateway to then move the file to another file in the same bucket.

[2019-05-10 22:37] kannappanr commented on #7632
@jefvel Closing this issue based on the comment above. Please feel free to reach out to us if you feel otherwise

[2019-05-10 22:37] #7632 closed, assigned to nobody

[2019-05-10 22:46] kannappanr commented on #7636
@jjsp556 `I uploaded file1.txt referenced in the example using the AWS web console, which automatically SSE-KMS encrypted the file since the bucket was configured to encrypt with SSE-KMS by default`

Makes more sense now. Based on your initial statement, we were a bit confused as to how this could have worked.

As of now, we do not support `SSE-KMS` in Gateway mode.

[2019-05-11 15:35] kannappanr commented on #7636
@jjsp556 Closing this as won't fix. please feel free to reach to us if you have other questions

[2019-05-11 15:35] #7636 closed, assigned to nobody

[2019-05-12 14:25] ymartin59 opened #7639 "[Proposal] Improve/reduce volume of potentially conflictual dependencies"
I am cross-compiling Minio for Synology and I find build process really really long and identify Minio collects multiple versions for same dependencies - here are just an exerpt I extracted from output:
[code]

Even if resulting binary "works as expected", I guess we can consider following points:
- old versions may have security vulnerabilities
- binary may be lighter if only one version was incl

[2019-05-12 14:29] ymartin59 commented on #7639
Moreover, some dependencies are declared as "latest" which may prevent "reproduceable build" from a release/tag
[code]

[2019-05-12 14:39] harshavardhana commented on #7639
Those are upstream issues @ymartin59 which needs to be addressed by upstream libraries. We have no control over them. We do not directly depend on them - these are some of the shortcomings of go module system.

This is up to `go mod` to avoid these duplicates, we do not manually add them ourselves. `go mod tidy` should simply fix them appropriately but most part it doesn't because the sub dependen

[2019-05-12 14:48] harshavardhana commented on #7639
Also what you are assuming is incorrect it is `go.mod` which defines the right dependencies for MinIO included in the build whereas the other versions are mentioned in `go.sum` which are perhaps needed for dependent libraries.

So thinking that MinIO will link to older is actually not correct and go build will ensure that `go.mod` is honored above all for MinIO

[2019-05-13 00:04] harshavardhana commented on #7594
Closing this as behavior is expected..

[2019-05-13 00:04] #7594 closed, assigned to nobody

[2019-05-13 05:28] kannappanr commented on #7639
@ymartin59 closing this based on the above comment. please feel free to re-open the issue if you feel otherwise.

[2019-05-13 05:28] #7639 closed, assigned to nobody

[2019-05-13 17:12] #7384 closed, assigned to Praveenrajmani

[2019-05-13 17:20] ymartin59 commented on #7639
Thanks for answer and details. I would say it confirms my opinion Go is still not mature enough...

[2019-05-13 20:08] harshavardhana commented on #7311
Fixed by https://github.com/minio/minio/pull/7607

[2019-05-13 20:08] #7311 closed, assigned to nobody

[2019-05-13 20:59] kannappanr commented on #7365
@JetChars Please feel free to submit a PR for this feature.

[2019-05-13 21:10] kannappanr commented on #6791
closing this issue as stale.

[2019-05-13 21:10] #6791 closed, assigned to nobody

[2019-05-13 21:50] kannappanr commented on #6821
ping @vadmeste . How do you think we add a unit test for this? If we do not know, should we add some sort of test setup for this. What will the different version types look like?

[2019-05-13 21:56] kannappanr commented on #7510
ping @chernykhse Did you get a chance to try it out?

[2019-05-13 22:30] vadmeste commented on #6821
Well, I think we can do some reflect on storage interface here, reflect will iterate on function names and arguments type and position and compare it to the one hardcoded in the unit test, so we can remember to increase REST version each time we change the API

[2019-05-13 22:45] kannappanr commented on #7362
@panzerdev did you get a chance to work on sending a PR?

[2019-05-14 03:02] chernykhse commented on #7510
We tested the transition to XFS. in a test environment. And they considered that the transfer of all servers would take about 1000 hours, due to copying.
Plus, this is still not solve the problems with cluster backup.
Therefore, we are now considering other object storages.
This issues can be closed if we continue to work with the minio i reopen this issues

[2019-05-14 03:02] #7510 closed, assigned to nobody

[2019-05-14 10:03] orevial opened #7642 "S3 PutObject ETag using GCS gateway incompatible with aws-sdk-java"
For PUT object requests using java AWS SDK client, Minio transforms the original MD5 eTag returned by GCS into an invalid eTag that fails checksum validator on the client-side.

## Expected Behavior
Minio gateway should forward MD5 eTag "as-is" on PUT object requests when applicable, as per [the spec](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html):

Result example:

[2019-05-14 12:20] nitisht commented on #7642
Thanks for reporting @orevial we'll take a look

[2019-05-14 13:34] kannappanr commented on #6456
@pepelisu @Vaelatern We have root caused the issue. `s3fs` sends the user's permission as part of metadata when creating an directory.

In Minio as of now, we do not store any metadata for `directories`, so the owner is always `root` in `s3fs`

To get around this, as of now, you should run `cp` and `ls` as `root`

[2019-05-14 13:35] kannappanr commented on #6456
@pepelisu Closing this issue as won't fix. Please feel free to re-open if you feel otherwise.

[2019-05-14 13:35] #6456 closed, assigned to eco-minio

[2019-05-14 14:09] aremmes commented on #5901
Could this issue be reopened as a feature request? Having the ability to add extra servers/disks would be a great time saver. Requirements change over time, and having to mirror terabytes of data between deployments is an arduous process.

[2019-05-14 16:42] kannappanr commented on #7542
@uroni Please feel free to send a PR.

[2019-05-14 16:50] kannappanr commented on #6624
Closing this issue as stale now. Please re-open the issue if you see the error again.

[2019-05-14 16:50] #6624 closed, assigned to nobody

[2019-05-14 17:16] kannappanr commented on #7899
ping @vadmeste Has this been implemented?

[2019-05-15 02:23] fgarciacode opened #7647 "GCS gateway and users"
Hello I have a minio configured as a gateway for GCS, and when I try to execute a admin command to create a user it give me the following error:

mc admin user add mygcs newuser newuser123 getonly
mc.exe: <ERROR> Cannot add new user. The specified method is not allowed against this resource.

There´s a way to do that, or currently there's no support for that.

Thank you.

[2019-05-15 02:53] harshavardhana commented on #7647
You need to use etcd with gateway as mentioned in the documentation to allow multi-users on Gateway
 mode @fjgarciamacias https://docs.min.io/docs/minio-multi-user-quickstart-guide.html

Please join us on https://slack.min.io for these questions - closing this for now.

[2019-05-15 02:53] #7647 closed, assigned to nobody

[2019-05-15 02:54] JetChars opened #7648 "IAM subsystem failed to load credentials from etcd"
## Expected Behavior

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. `ETCDCTL_API=3 etcdctl put config/iam/users/foobar/identity.json '{"accessKey":"IS21DTE8W2BTTF0IJZ1I","secretKey":"5kKNe+cGq7TYn2+4XkLjPV1ravn+WXGoWn9ap2wD","expiration":"1970-01-01T00:00:00Z","status":"enabled"}'
`
2. `s3cmd ls`

## Context

for multiuser environment

## Regression

## Yo

[2019-05-15 02:56] harshavardhana commented on #7648
This issue is incomplete, please re-open the issue with more details as expected by the issue template. Closing this for now.

[2019-05-15 02:58] harshavardhana commented on #7648
Re-opening the issue since the details are now available

[2019-05-15 02:59] harshavardhana commented on #7648
You shouldn't create users in this manner @JetChars - we won't support modifying etcd backend entries - you are supposed to be using `mc admin user` - - also please provide the `minio version` that you are using.

[2019-05-15 02:59] JetChars commented on #7648
can't find any docs about iam subsystem, is it a premature feature?

[2019-05-15 03:04] JetChars commented on #7648
my mc client seems a bit outdated, didn't support `user` subcommand :(

[2019-05-15 03:10] nitisht commented on #7623
Tested on latest Docker

[code]

and `edge` MinIO Docker image, I am able to run netstat and get the MinIO program name

[code]

Nevertheless, we're moving to a non-root user mechanism in MinIO image with https://github.com/minio/minio/pull/7569 . This PR removes the dependency on `Program name` output from netstat. So, once this PR is merged, your problem should be fixed too.

[2019-05-15 03:16] harshavardhana commented on #7648
https://docs.min.io/docs/minio-multi-user-quickstart-guide.html - no all docs are updated

First you should update `mc`

[2019-05-15 03:20] JetChars commented on #7648
got it, I might have found the cause, `newuser` should be replace with accesskey
[code]

[2019-05-15 03:23] harshavardhana commented on #7648
yes that too but just use `mc admin user` @JetChars which will automatically do this for you.

[2019-05-15 03:25] JetChars commented on #7648
It's just a pity that you can't store usernames

[2019-05-15 03:46] harshavardhana commented on #7648
Unable to understand @JetChars as I explained this is not an issue, modifying etcd directly is not supported.

[2019-05-15 03:49] JetChars commented on #7648
That's all right. I've confirmed what I want to confirm. Thanks！

[2019-05-15 03:49] #7648 closed, assigned to nobody

[2019-05-15 08:32] #7598 closed, assigned to ebozduman

[2019-05-15 08:49] danielgrant commented on #7577
Like @maforshaw, I too am using MinIO as a target for Synology's Hyper Backup. This has been working fine since I put it in last year, and the last known working release for me was `RELEASE.2019-04-23T23-50-36Z`. I suffered from the same problems mentioned above.

However I've now upgraded to `RELEASE.2019-05-14T23-57-45Z` and I'm still having problems. The issue described above has disappeared, b

[2019-05-15 09:45] GreenVine commented on #7577
@danielgrant Did you try to re-setup your Hyper Backup connection?

My current symptoms with Hyper Backup are when creating custom S3 destination, it prompts `The operation failed. Please log in to DSM again and retry.`. From `/var/log/messages` I can see the following logs:

[code]

My region settings in the `config.json` is to a non-empty string other than `us-east-1`. Minio release is `RELEASE.

[2019-05-15 09:52] danielgrant commented on #7577
@GreenVine I'm not getting any messages like that in `/var/log/messages`. Interestingly Hyper Backup seems capable of interacting with MinIO to an extent, for example I am able to browse the backups on MinIO via the Hyper Backup UI, I'm able to view the total size of the remote backup via the Hyper Backup UI, the Hyper Backup UI shows the backup destination as "Online", and when observing the acce

[2019-05-15 09:56] GreenVine commented on #7577
@danielgrant Definitely try to enable HTTP trace via `MINIO_HTTP_TRACE` environment variable. I did see lots of 400 and 403 requests in my case.

I will stick with the earlier release for now.

[2019-05-15 11:53] tinohager commented on #7598
👍

[2019-05-15 18:19] vtolstov commented on #5146
Does things changed after this? I think about embeding too.

[2019-05-15 18:29] kannappanr commented on #7577
@danielgrant and @GreenVine Can you please open a new issue. This is probably a new issue though you are seeing it on similar setups.

[2019-05-15 20:55] vadmeste opened #7649 "webhook notification strips '/' from the endpoint url"
## Expected Behavior
Minio sends notification events to the endpoint url exactly without stripping trailing slash

## Current Behavior
Minio sends notification events to the endpoint url after removing the trailing slash

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
1. Enable webhook on Minio server
[code]
2. `mc mb myminio/testbucket/`
3. `mc event add myminio/testbucket/ ar

[2019-05-15 21:11] vadmeste opened #7650 "notification: removing a notification target after enabling it makes the notification unusable"
## Expected Behavior
When I remove a notification target from the config that was enabled earlier using `mc event add`, I should be able to work normally with Minio server, e.g: adding other notification targets and enabling them

## Current Behavior

Removing an enabled notification causes errors and make notification unusable by the user

[code]

## Possible Solution
Notifications that are enabl

[2019-05-15 21:12] naveenmahadevuni commented on #5301
Hi, This issue exists when using AWS C++ SDK too. I have tried s3v4 signature by passing"Aws::Client::AWSAuthV4Signer::PayloadSigningPolicy::Always" to S3Client constructor, but it didn't work too. Does minio support AWS C++ SDK?

[2019-05-15 21:14] harshavardhana commented on #5301
Please open a new GitHub issue @naveenmahadevuni

[2019-05-15 21:27] vadmeste commented on #7650
mc event list myminio/testbucket/  at least should work to remove the notification not existing in config anymore

[2019-05-16 09:33] naveenmahadevuni opened #7653 "Accessing minio via AWS Cpp Sdk. Endpoint connection failure."
I'm running a local minio server on CentOS. Getting "Unable to connect to endpoint" with CPP SDK. I have used the workaround in issue #5301 given for Python with no success.

## Expected Behavior
1) Access using Aws-Cli works
2) Using boto3 works..
3) Using browser to access the endpoint works.

## Current Behavior
Connection to endpoint fails reporting "Unable to connect to endpoint".

## Steps t

[2019-05-16 10:16] naveenmahadevuni commented on #7653
Got this working. The S3Client constructor argument "useVirtualAdressing"  is set to true by default. The endpoint url provided in client configuration is not being used when this flag is true. If set to false, the endpoint url provided to be overridden is being used.

[2019-05-16 10:28] forestnd opened #7655 "using s3fs bucket/folder nosuchkey"
Setup a minio cluster, and trying to use s3fs to connect to an bucket and subfolder

This works but as soon as i add data to the bucket/folder and umount and remout it fails

putting s3fs in to debug mode i get

[code]

## Expected Behavior
It would mount and so all files in the folder

## Current Behavior
Fails anf gives above error

## Possible Solution
None i am aware of

## Steps to Reproduce

[2019-05-16 10:59] nitisht commented on #7653
Closing this as it is working, feel free to join us on slack for more such questions.

[2019-05-16 10:59] #7653 closed, assigned to nobody

[2019-05-16 11:19] nitisht commented on #7655
@forestnd Can you also enable HTTP TRACE on minio using MINIO_HTTP_TRACE variable and post the http trace seen on minio here?

You can export the env. variable MINIO_HTTP_TRACE=</path/to/logfile> and then look at the log file.

[2019-05-16 11:37] forestnd commented on #7655
Sure
Minio log

Accept: */*
User-Agent: curl/7.58.0
Connection: close
Host: 10.4.1.71
HEAD /minio/health/ready
[REQUEST ReadinessCheckHandler] [155800630.039972] [2019-05-16 11:31:40 +0000]

<Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Resource>/minions/</Resource><RequestId>XXXXXXXXXXXXXXXX</RequestId><HostId>XXXXX</HostId></Error>
<?xml version="1.0" encoding

[2019-05-16 13:39] kannappanr commented on #7655
@forestnd Can you please provide the command you used to mount ?

Looking at https://github.com/s3fs-fuse/s3fs-fuse/issues/623 .  I don't think you can mount a bucket and folder.  The only way you can maybe try is to mount as a `root`.

[2019-05-16 13:41] kannappanr commented on #7484
ping @prasus Can you please provide the requested output and any errors on the server console, better yet, if you can start the server that you are hitting from the client with `MINIO_HTTP_TRACE` set?

[2019-05-16 13:45] forestnd commented on #7655
sure
/usr/bin/s3fs -o allow_other -o dbglevel=info -o use_path_request_style -o passwd_file=Password-file -o url=http://s3.server -o use_cache=/tmp bucket:/folder /opt/bucket

I can do this with digitalocean and AWS

[2019-05-16 17:39] maforshaw commented on #7577
@danielgrant I just upgraded to the latest minio server to test and Hyper Backup appears to work fine. The backup runs and completes.

As suggested by @GreenVine I recommend you set the `MINIO_HTTP_TRACE` environment variable to a log file to see what is going on. It will log every request and response.

I don't know if it matters but the difference in my setup is I'm not using a reverse proxy. Hy

[2019-05-16 19:02] kannappanr commented on #7642
Closed by #7643

[2019-05-16 19:02] #7642 closed, assigned to poornas

[2019-05-16 19:07] zieg8301 opened #7659 "Bad status in distributed cluster when nodes are restarted"
This seems to be related to the fix for #6995 It seems now that when a minio node is restarted while other nodes in the cluster are offline, the node will start, and participate in the cluster, but the status appears as offline, and it will not serve requests.

## Expected Behavior
After #7452 when a minio node gets restarted in a distributed setup, expect the node to start and join the cluster, e

[2019-05-16 19:11] harshavardhana commented on #7659
Can this tested with the latest release @zieg8301 ?

[2019-05-16 20:00] zieg8301 commented on #7659
That appears to have addressed my issue. Closing the issue. Thanks @harshavardhana !

[2019-05-16 20:00] #7659 closed, assigned to nobody

[2019-05-16 22:43] eco-minio commented on #7655
@forestnd we were able to reproduce this, we need to discuss internally whether we can support this.  FYI, this works as expected in fs deployment (single node) if you are able to, you can use that as a workaround for now.

[2019-05-17 00:18] ebozduman commented on #7458
Since @poornas is currently working on refactoring this part of the code, it is better to assign the issue to her.

[2019-05-17 05:31] cocodee opened #7660 "Waiting for configuration to be initialized.."
I just use docker to start a minio server that uses 4 disks.The command is
docker run -p 9000:9000 \
  -v /Users/kdi/workspace/test/data1:/data1 \
  -v /Users/kdi/workspace/test/data2:/data2 \
  -v /Users/kdi/workspace/test/data3:/data3 \
  -v /Users/kdi/workspace/test/data4:/data4 \
 -v /Users/kdi/workspace/test/config:/root/.minio \
  -e "MINIO_ACCESS_KEY=kditest" -e "MINIO_SECRET_KEY=kditest123

[2019-05-17 05:57] harshavardhana commented on #7660
It looks like you don't have write access to your drives @cocodee

[2019-05-17 07:13] nitisht commented on #7583
Thank you for the all effort you put in here @mjschmidt . I am sending a PR to MinIO Helm Chart to incorporate your fixes.

I don't understand this part. What is internal TLS here ? Inter node TLS or TLS termination? and by `trusted` do you mean self-signed certs?

[2019-05-17 08:53] danielgrant opened #7661 "NGINX times out when reverse proxying to MinIO"
Following on from the conversation in #7577, I've upgraded to `RELEASE.2019-05-14T23-57-45Z` from `RELEASE.2019-04-23T23-50-36Z` (I can't test if this issue is present in `RELEASE.2019-05-02T19-07-09Z` due to the issue described in #7577). I currently use MinIO as a target for my Synology NAS's Hyper Backup process. However, I can replicate this issue using any S3 compliant tool (the examples belo

[2019-05-17 09:42] danielgrant commented on #7661
To follow up, I'm only seeing this behaviour when executing requests through the S3 API. I can still access and navigate the MinIO Browser without any problems (which obviously is also served through NGINX).

[2019-05-17 09:51] nitisht commented on #7661
Thanks @danielgrant we'll take a look

[2019-05-17 10:12] danielgrant commented on #7661
Hi @nitisht,

I have used `pcap` to observe the network traffic between NGINX and MinIO and have found a bit of an anomaly.

The connection from my client to NGINX is HTTP/1.1, as shown by this extract from the NGINX access log:

[code]

However, the `pcap` trace shows that the communication between NGINX and MinIO is going over HTTP/1.0:

![image](https://user-images.githubusercontent.com/1282690

[2019-05-17 14:47] nitisht commented on #7661
Thanks for the debugging @danielgrant . Looks like Nginx uses Http 1.0 by default (http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_http_version), let me check if can fix our Nginx documentation or check for http 1.0 compatibility on the server

[2019-05-17 14:57] danielgrant commented on #7661
@nitisht the fact that NGINX uses HTTP/1.0 by default is obviously relevant however, the problem is that MinIO previously worked fine under HTTP/1.0 for version `RELEASE.2019-04-23T23-50-36Z` and before, and then stopped working from either version `RELEASE.2019-05-02T19-07-09Z` or `RELEASE.2019-05-14T23-57-45Z`. I can still roll back to `RELEASE.2019-04-23T23-50-36Z` with NGINX using HTTP/1.0 and

[2019-05-17 15:45] ParitoshBh commented on #7661
I was bitten by this bug as well but in my case request wasn't timing out entirely. They were taking far longer than usual.

[2019-05-17 15:52] danielgrant commented on #7661
I'm timing out after 30 seconds, which I believe is the default timeout for NGINX workers in a reverse proxy configuration (unless configured otherwise, which I haven't).

[2019-05-17 16:13] harshavardhana commented on #7661
We didn't expect that deprecating HTTP 1.0 would cause issues. We can bring it back but there are no good reasons, if the nginx config fixes it - we can update our docs properly.

It's rather unusual to choose HTTP 1.0 to communicate to backend for handshake.

We will have to test with traefik, haproxy @nitisht and see what they do for initial handshake.

[2019-05-17 16:38] danielgrant commented on #7661
Are you saying that support for HTTP/1.0 has been **intentionally** removed at some point in the last two versions?

Because if it was _deprecated_, I would still expect it to be function for now with perhaps warnings in the MinIO logs or at least something in the changelog forewarning that HTTP/1.0 will stop working at some point in the determinate future.

Instead, it looks like support has been

[2019-05-17 16:49] harshavardhana commented on #7661
I think the deprecation happened when we migrated to Go 1.12, we didn't do anything explicitly though.

Will need to check why that would be the case here.

[2019-05-17 17:05] stokowski opened #7662 "Possible ZFS write issue"
Cannot put new objects to minio - using zfs.

Trace from Minio:

[code]

## Possible Solution
Legacy support for fs without O_DIRECT. O_DIRECT will be supported in ZoL 0.8.x

## Steps to Reproduce (for bugs)
1. start not working release
2. mc cp to minio

## Context
Can't put new objects.

## Regression
Yes,

doesn't work:
RELEASE.2019-05-14T23-57-45Z
RELEASE.2019-05-02T19-07-09Z

works:
RELEASE.2

[2019-05-17 17:28] kannappanr commented on #7660
@cocodee Closing this based on the previous comment. Please feel free to re-open the issue if you feel otherwise.

[2019-05-17 17:28] #7660 closed, assigned to nobody

[2019-05-17 17:33] kannappanr commented on #7662
@stokowski Thanks for reporting this issue. We will take a look at this issue and get back to you.

[2019-05-17 17:44] kannappanr commented on #7401
@GvandeSteeg Sorry, somehow missed this issue. Are you still seeing this issue?

[2019-05-17 17:53] harshavardhana commented on #7662
We would like to avoid making specific changes like this and have different behavior across filesystems. As this can make debugging issues doubly harder.

Best option is to use XFS instead of ZFS.

[2019-05-17 20:27] harshavardhana commented on #7661
From whatever I can see HTTP 1.0 is still honored, so it is an issue with nginx interaction here which seems to have changed.

[code]

[2019-05-17 20:38] danielgrant commented on #7661
@harshavardhana when I execute

[code]

against my MinIO server (hitting MinIO directly and bypassing NGINX), I see the exact same behaviour as detailed in this issue - the response just hangs. MinIO seems to honour it, but the request never completes (or, some have reported it eventually completed a significant amount of time later).

FWIW I'm using the `linux-amd64` release of `RELEASE.2019-05-1

[2019-05-17 20:41] harshavardhana commented on #7661
That's just the master that I compiled locally @danielgrant - let me check with the released binary as well.

And here is the results from the released binary

[code]

Can you provide the output of `curl` for whatever you might get?

[2019-05-17 20:44] danielgrant commented on #7661
My `curl` output:

[code]

and that's as far as it gets. The request never completes (or, it hasn't completed yet at the time of writing).

[2019-05-17 20:57] harshavardhana commented on #7661
Do you have go 1.12 installed? - I may send testable HTTP server without MinIO this would help us narrow down if its a Go only problem on your end?

[2019-05-17 21:10] danielgrant commented on #7661
I don't have any version of Go installed (I don't think MinIO requires an OS installation of Go to run) on my server currently, but I can if that helps with testing / debugging...

[2019-05-17 21:18] harshavardhana commented on #7661
This just for debugging it looks like there is some issue at environment level here and is behaving differently.

Would you mind joining our https://slack.min.io it will help move things faster

[2019-05-18 08:30] IsNull opened #7665 "Kafka S3 event object key slashes are url encoded"
## Expected Behavior

A minio event notification in Kafka should use the object-key and NOT url encode it.

## Current Behavior

An object is uploaded with:
* **bucket** mybucket
* **object-key** 5cdfb588cea4de1db3034a87/colors.xml

Minio emits the following event to Kafka:
[code]
While the Key property looks good, the object.key part does not, as the slash here is suddenly url encoded to `%2F`:

[2019-05-18 09:45] west789 opened #7666 "Invalid arguments specified"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

I use go run web-Identity.go, the outputs are as follows, why Invalid arguments occurs：
![image](https://user-images.githubusercontent.com/30501870/57967660-36061600-7994-11e9-904e-8c4b2911428e.png)

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name

[2019-05-18 14:31] harshavardhana commented on #7666
Closing this issue as lack of information, please update or reopen the issue with

- a reproducer, a statement of fact on what happened and what you were trying to do
- your MinIO version
- any other environment detail

Thanks

[2019-05-18 14:31] #7666 closed, assigned to nobody

[2019-05-18 14:32] harshavardhana commented on #7665
URL encoding is expected and is behaving in accordance with S3 eventInfo structure requirement. We cannot drop URL encoding.

Object does exist with %2F i.e a / in URL encoding terms. If you want to unencode it just put a webhook, convert it and send it to Kafka yourself.

[2019-05-18 15:26] sedlund commented on #7624
@harshavardhana
I'm sorry I do not understand.

1. mkfs.s3ql is designed to be run against AWS S3 and it is tested to work correctly.
2. Minio claims to be AWS S3 compatible.
2a. I have tested (and provided logs) that mkfs.s3ql does run against minio correctly.
3. minio b2 gateway claims to be a S3 compatible gateway to Backblaze B2
3a. mkfs.s3ql does NOT run correctly against Minio B2 gateway.

C

[2019-05-18 16:05] IsNull commented on #7665
Thanks for the fast response.  I overlooked this in the AWS spec.

I mean its a quite strange decision to url encode this field in json (and not url encode the same value in another field), I understand you want to stay compatible to their api which is a good thing.

Therefore this is resolved for me.

[2019-05-18 16:05] #7665 closed, assigned to nobody

[2019-05-18 16:15] harshavardhana commented on #7624
Yes it does to an extent,  b2 gateway is not meant to replace all S3 functionalities, additionally md5sum is legacy requirement for gateway which we are not interested in addressing at the moment.  s3sql can be fixed to address this properly and ignore non md5sum hex.  It may have an option to ignore non md5sum as well.

[2019-05-18 22:04] mikhail-matrosov opened #7667 "Caching doesn't work for Google Cloud"
In Google Cloud bucket names can contain underscores ("_") and dots ("."), e.g. "my_bucket" (see https://cloud.google.com/storage/docs/naming).

When Minio caching is enabled, It fails to return requested files because `object-api-utils.IsValidBucketName()` does not validate bucket name.

## Expected Behavior
For Google Storage and turned on caching Minio should return requested files from bucket

[2019-05-18 22:08] harshavardhana commented on #7667
@mikhail-matrosov thank you for opening an issue, we are addressing caching under gateway when ETag mismatches here https://github.com/minio/minio/pull/7575

But we cannot support bucket names which have `_` in them as those names are not AWS S3 compatible bucket names, it is unfortunate but if you could please avoid bucket names which are non DNS compliant names.

[2019-05-18 22:54] mikhail-matrosov commented on #7667
@harshavardhana I agree with you. Though I cannot rename my bucket. In python client there is a possibility to avoid this check by writing
[code]

I think it would be great to have a similar setting in the server. Let's enable google-users to use their existing buckets.

[2019-05-18 23:41] thekoma commented on #3844
Looks like we have again the same problem.
Tested on Chrome and Firefox
    Version
    2019-05-14T23:57:45Z
    Memory
    Used: 4.9 MB | Allocated: 100 MB | Used-Heap: 4.9 MB | Allocated-Heap: 66 MB
    Platform
    Host: minio | OS: linux | Arch: amd64
    Runtime
    Version: go1.12 | CPUs: 4

[2019-05-18 23:43] thekoma opened #7668 "The same bug of #3844 is back."
The same bug of #3844 is back.

    Version
    2019-05-14T23:57:45Z
    Memory
    Used: 4.9 MB | Allocated: 100 MB | Used-Heap: 4.9 MB | Allocated-Heap: 66 MB
    Platform
    Host: minio | OS: linux | Arch: amd64
    Runtime
    Version: go1.12 | CPUs: 4

[2019-05-18 23:49] harshavardhana commented on #7668
@Koma-Andrea please explain more the original issue talks about the expiry but that seems to be working fine when I used the browser UI?

[2019-05-18 23:56] harshavardhana commented on #7667
@mikhail-matrosov Current code is stricter about AWS S3 spec. Although existing buckets can be allowed which we already do in some form, we can work on such a fix.

// cc @kannappanr

[2019-05-19 18:54] kannappanr commented on #7668
@Koma-Andrea Will send in a PR to fix this issue.

[2019-05-19 22:12] stokowski commented on #7662
In that PR https://github.com/minio/minio/pull/7479 is info about zfs and fallback in case O_DIRECT is not supported, was that implemented ?

[2019-05-19 22:16] thejmazz opened #7670 "Gateway Bucket Notifications for Public Cloud Object Storage"
Hi, I’ve noticed neither of Azure, GCS, or S3 gateways support bucket notifications. I’m guessing this is perhaps due to it requiring vendor specific code and user setup for each gateway? E.g. configuring Cloud Pub/Sub for GCS. This would be useful for centralizing events out of every cloud’s object storage - e.g. multiple MinIO gateways sending events to same NATS.  Looking for clarification if t

[2019-05-19 22:32] harshavardhana commented on #7670
Gateway will not support bucket notifications, except NAS gateway @thejmazz - this is our current design choice to keep gateway's simple and follow our share nothing architecture.

It is expected that you handle on your own for non-NAS deployments.

[2019-05-19 22:36] harshavardhana commented on #7662
It was avoided on purpose, to avoid multiple ways to do the same thing. It is in general our intention to keep single code paths under all deployments such that our testing is guaranteed across all deployments.

[2019-05-19 22:37] thejmazz commented on #7670
Sounds good - thanks for quick reply!

[2019-05-19 22:37] #7670 closed, assigned to nobody

[2019-05-20 00:45] #7668 closed, assigned to nobody

[2019-05-20 09:35] sinhaashish opened #7671 "Do not allow duplicate entry in Notification"
Duplicate entry allowed in Notification.xml

## Expected Behavior

adding the same event must error out stating
[code]

## Current Behavior

Allows the addtion of duplicate entry in Notification.xml

## Possible Solution

## Steps to Reproduce (for bugs)

Try
1. mc event add  myminio/test arn:minio:sqs::1:elasticsearch  --suffix .jpg

The notification XML entry is :
[code]

Now add the region in a

[2019-05-20 10:16] vadmeste opened #7672 "sets: isTruncated is set to true when --prefix is passed & --max-keys is set to the number of result elems"
## Expected Behavior
When a bucket contains only two objects, named `0` and `00`, listing with `prefix = 0` and `max-keys = 2` should return isTruncated is set to false (check with AWS S3 for confirmation)

## Current Behavior
isTruncated is set to true

## Possible Solution
Do not know yet

## Steps to Reproduce (for bugs)
1. `mc mb myminio/testbucket/`
2. `mc cp file myminio/testbucket/0 && mc c

[2019-05-20 10:18] vadmeste commented on #7672
Taking this

[2019-05-20 11:00] mjschmidt commented on #7583
Inter container TLS

[2019-05-20 11:00] mjschmidt commented on #7583
Due to the fact that the cert has to be signed specifically for the hostname of the container

[2019-05-20 11:02] mjschmidt commented on #7583
Ultimately for my use case. TLS happening up to the nginx layer with the internals of my Kubernetes system being encrypted was good enough.

[2019-05-20 16:18] harshavardhana commented on #7672
The side effect of this is that the client may send another Listing request, is that a bad thing?

[2019-05-20 16:37] vadmeste commented on #7672
I would say we may have some issues with current SDK libraries if we don't follow stricly S3 here , is there a reason why we should not take this PR ?

[2019-05-20 16:44] harshavardhana commented on #7672
It is harder to fix AFAICS @vadmeste it may end up making the code complex. Should we consider fixing it if there is an issue reported in the future?

[2019-05-20 16:45] vadmeste commented on #7672
@harshavardhana I sent this PR https://github.com/minio/minio/pull/7675 which should fix it

[2019-05-20 23:28] stokowski commented on #7662
Well, this is not solving my issue. Maybe instead of "recommended" fs lets put "supported" fs and other requirements, especially when this can change from version to version ? :\

[2019-05-20 23:37] harshavardhana commented on #7662
If you are asking we should turn off consistency features based on the filesystem features then it is harder for us to justify the stability of such a deployment i.e using ZFS in your scenario.

Will circle back on this internally and let you know. For now, XFS is recommended

[2019-05-21 01:44] harshavardhana commented on #7671
Has this been tested with AWS S3 @sinhaashish why should we allow duplicate entries? - or you meant to say we shouldn't allow?

[2019-05-21 06:22] challarao opened #7677 "Investigate the effect of new host for Google Storage APIs on Minio"
Communication from Google:

(emphasis mine)

**What I want to know:**

Does it break the existing Minio deployments that use the GCS gateway in any way?

**If yes:**

Is there a work around?

**If no:**

What is minio's position on this?

[2019-05-21 06:24] nitisht commented on #7677
Thanks for reporting @challarao we'll take a look

[2019-05-21 08:25] sinhaashish commented on #7671
I meant to say we shouldn't allow duplicate entries. Thanks for updating the title.

[2019-05-21 09:06] GvandeSteeg commented on #7401
@kannappanr Unfortunately yes, I can't even enable myself any longer. Perhaps I should just reinstall mc entirely:
[code]

[2019-05-21 10:13] nitisht commented on #7583
okay, in that case the PR should fix the issue with ingress Nginx. Thanks again!

[2019-05-21 12:29] sedlund commented on #7624
@harshavardhana
Thanks for your reply.  I am looking through the Amazon S3 API and I do not see anything about the format that the Minio B2 Gateway returns.

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html

Which format is the gateway trying to respond with?  Is there documentation for it somewhere?

Looks like the same problem was had with the Azure gatway in https://github.com

[2019-05-21 15:56] ghost commented on #7367
As an FYI, it looks like the minimum access you would need if you wanted Minio to run in a read-only optimized local cache would be:

resourcemanager.projects.get
storage.buckets.get
storage.buckets.list
storage.objects.get
storage.objects.list

[2019-05-21 15:59] keirafadams commented on #7304
I'm not 100% sure this is related to the same issue, but if I try to fully install from source (e.g. clone the git repo, but also get the relevant dependent modules) I can't install my modified version of minio, and get bombarded with errors of the form.

`cannot use auth.callOpts (type []"github.com/coreos/etcd/vendor/google.golang.org/grpc...`

I can potentially hack around this by updating the

[2019-05-21 16:13] harshavardhana commented on #7624
We respond back what B2 responds @sedlund

[2019-05-21 16:15] harshavardhana commented on #7304
We use go mod, if you are modifying the code you need to make sure to stick to go mod behavior otherwise you will see issues.

[2019-05-21 16:24] keirafadams commented on #7304
Understood, thanks.

[2019-05-21 16:39] ghost opened #7679 "Multi-node Cloud Storage Gateway with Cache Replication - Possible gap in documentation?"
This may just be a newbie issue. I'm trying to understand how I can leverage a distributed group of Minio instances to act as a Gateway with a read only cache for in this case Google Cloud Storage.

## Expected Behavior

My goal would be to have a Minio distributed across all nodes of a Kubernetes cluster. They would be running in gateway mode with a local Cache and leverage eraser coding to keep

[2019-05-21 17:44] sedlund commented on #7624
@harshavardhana I can open a PR to update

https://github.com/minio/minio/blob/master/docs/gateway/b2.md

Known Limitations section. or I can open a new issue requesting an update to the B2 doc.

Just need to add something to the effect of:

 * PutObject S3 API does not return the md5sum of the file uploaded

[2019-05-21 17:46] kannappanr commented on #7624
@sedlund Please feel free to send a PR

[2019-05-21 20:47] kannappanr commented on #7401
@GvandeSteeg Yes, we can start with reinstalling `mc`. You will have to remove `/.mc/config.json`

[2019-05-21 23:02] kannappanr commented on #7679
@hassbabaie MinIO  does not support erasure coding in Gateway mode. As of now, if you want HA, you need to run multiple Gateway instances that talks to same backend. Each node has to cache the object that you want to access from GCS.

[2019-05-21 23:08] ghost commented on #7679
@kannappanr thanks for the quick reply and that now makes sense given I couldn't see it in the documentation.

If possible can you share if there are any roadmap plans related to this? Just for informational purposes

Thanks

Hass

[2019-05-21 23:25] harshavardhana commented on #7679
We don't have any plans on implementing erasure coding in gateway mode @hassbabaie - gateway is a share nothing architecture with backend being the persistent store.

You can use minio server instead to get erasure coding.

[2019-05-22 03:00] #7458 closed, assigned to poornas

[2019-05-22 03:02] nitisht commented on #6630
fixed by #7575

[2019-05-22 03:03] nitisht commented on #6265
fixed by #7575

[2019-05-22 03:05] nitisht commented on #7679
Closing this as there nothing to be done from our side. Feel free to reach out on slack for further questions @hassbabaie

[2019-05-22 03:05] #7679 closed, assigned to nobody

[2019-05-22 03:25] Sherriluneau commented on #3774
It was a sad day once i got threw access denied

[2019-05-22 09:46] yoyomule opened #7682 "how to extract zip file"
Hello, if  upload a zip file to the minio, can extract the zip file in minio and return an address?

[2019-05-22 09:51] nitisht commented on #7682
There is no S3 API to do so, you'll need to use some third party client to extract the file, closing the issue as working as intended. Feel free to reach out on slack for more such questions

[2019-05-22 09:51] #7682 closed, assigned to nobody

[2019-05-22 15:37] piersf commented on #1549
What was the fix for this?
I happen to get the same error when using the boto3 module?

Thanks

[2019-05-22 16:54] harshavardhana commented on #1549
Could you create a new issue pretty please? - there is no information here that can help us help you.

[2019-05-22 18:21] deekoder commented on #6934
PUTs will no longer be cached. Hence we will close this as a won't fix. @tomerzel87  let us know your thoughts.

[2019-05-22 20:36] #7672 closed, assigned to vadmeste

[2019-05-22 22:26] leifcr commented on #1094
@harshavardhana  Would it be possible to revisit this issue? Testing minio on a kubernetes cluster, and this feature would be great to have.

[2019-05-22 22:28] harshavardhana commented on #1094
What is the issue? @leifcr MinIO already supports custom content-types across all its modes of operation when you upload an object. Also, please open a new issue describing the problem in detail.

[2019-05-22 22:31] leifcr commented on #1094
@harshavardhana I guess I must have missed something in the docs. I just tested in the browser to do a quick test using the helm chart to deploy minio, and downloaded the file, and got worng content-type back. Going to test with proper client, and read up on the docs. Any hints on where to read about setting content type? Or would that be client specific?

[2019-05-22 22:42] harshavardhana commented on #1094
Browser is not using S3 API so it tries to do the best case scenario, but you can't really be relying on browser uploads to set proper content-type.  Use the S3 API and set the content-type for your PUT request and that will be stored.

[2019-05-22 22:59] leifcr commented on #1094
@harshavardhana Thanks. That put me on the right track, and it was really easy to solve

For future reference, here's a command line to do it using s3cmd for testing:
[code]
reply in the header is then vnd/mysupertype as content-type. For other libraries/integrations, this has to be done either in the put command or by modifying the element afterwards. Both work with minio. Awesome! Thanks again.

[2019-05-23 07:36] piersf commented on #1549
Thanks!
Figured it out. It was the size of the part that I was using with upload_part() operation. The minimum size of each part should be 5Mb unless it is the last part where there is no size limit.

[2019-05-23 10:11] rsommer opened #7685 "checkPortAvailability ignores host/ip given with --address"
The code in checkPortAvailability does not take into account the given address, leading to false positives while checking for availability.

## Expected Behavior
If I have a local process using port 9000 on IP 10.0.0.1 and start minio with port 9000 with `--address=10.0.0.2:9000`, minio should start just fine.
## Current Behavior
Due to the implementation of the port availability test, minio compl

[2019-05-23 11:05] nitisht commented on #7685
Thanks for reporting @rsommer we'll take a look

[2019-05-23 22:24] deekoder opened #7688 "Fix erasure code quick start guide."
The current erasure code quick start guide needs updates.  Remove this image and replace with new one. Update the cli to use triple dot notation. Update some of the text.

[2019-05-23 22:26] harshavardhana commented on #7688
... notation is already being fixed in PR https://github.com/minio/minio/pull/7652

[2019-05-24 01:17] jtackaberry commented on #7661
I have a docker registry using the S3 backend pointing at minio and I'm experiencing this issue upgrading from RELEASE.2019-04-23T23-50-36Z, which works fine, to RELEASE.2019-05-02T19-07-09Z, wherein queries issued from the docker registry to minio stall.

[2019-05-24 01:19] harshavardhana commented on #7661
Can you use the workaround mentioned here @jtackaberry ? We haven't been able to reproduce this on our end.

Can you give latest release a try ?

[2019-05-24 01:38] jtackaberry commented on #7661
@harshavardhana, yes, I'm afraid I was a bit hasty in my earlier comment.  I should have more thoroughly read this exchange. :)

One rather relevant detail I forgot to mention is that the registry hits minio via an nginx reverse proxy.

Adding `proxy_http_version 1.1` to the nginx configuration does indeed resolve the issue.  The behavior is the same between RELEASE.2019-05-02T19-07-09Z and the la

[2019-05-24 01:41] harshavardhana commented on #7661
All we did was migrate to Go 1.12 in those releases, this may look like a regression of sorts. We will investigate further.

[2019-05-24 03:25] kannappanr commented on #7573
#7575 was reverted, so re-opening this issue

[2019-05-24 03:25] kannappanr commented on #6265
#7575 was reverted, so re-opening this issue

[2019-05-24 03:25] kannappanr commented on #6630
#7575 was reverted, so re-opening this issue

[2019-05-24 08:16] kaxap commented on #6490
Does subfolder hierarchy have same effect as flat folder?

For example, we are having this issue with 1 million files (in 1 folder) in minio with data directories. 2-3 of our 8 servers consume 256 GB of RAM every 6-8 hours until restarted. The question is, will redistribution of files (100 parent dirs/100 child dirs/100 files) help to fight this issue?

[2019-05-24 11:24] jcostian commented on #6490
This is the solution we used, and didn't see the problem after changing to the deeper structure. So I suggest trying that.

[2019-05-24 12:30] stokowski commented on #7662
ZoL 0.8 with direct io has beed released yesterday. If I will have ability to test it I will share results.

[2019-05-24 13:39] nitisht commented on #7583
Fixed by https://github.com/helm/charts/pull/14097

[2019-05-24 13:39] #7583 closed, assigned to nitisht

[2019-05-24 14:27] nitisht commented on #7597
I tested on the latest release and I can see both data read and written being updated on Prometheus, what is the version you're on?

[2019-05-24 15:37] philipthomasme opened #7693 "[Feature Request] Multiple access/secret key pairs for Gateway Mode"
**Is your feature request related to a problem? Please describe.**
Just like the feature request https://github.com/minio/minio/issues/5305 for server mode, I would need an option to use multiple access and secret key pairs for gateway mode. By allowing this it would be possible to have different users access different buckets without interfering or being able to access each others data (so a prop

[2019-05-24 15:56] harshavardhana commented on #7693
You need to use etcd in gateway mode to get multi-user feature @philipthomasme

[2019-05-24 16:15] stokowski commented on #7662
Confirmed - succesfully created bucket and uploaded file.

1 node / 4 disks (ebs) setup

Ubuntu 18.04

[code]

[2019-05-24 17:48] harshavardhana commented on #7662
So we can close this issue then @stokowski

[2019-05-24 19:04] stokowski commented on #7662
Yes. it looks so. I think you should put somewhere in docs os/fs requirements.

[2019-05-24 19:17] harshavardhana commented on #7662
Thanks. Closing.

[2019-05-24 19:17] #7662 closed, assigned to krishnasrinivas

[2019-05-25 18:38] philipthomasme opened #7695 "B2 Gateway + ETCD not listing any buckets"
I try to setup multiple users with ETCD for a minio B2 gateway. The login with admin credentials work and also for any added user but no user shows any buckets. Neither via mc nor via browser.

## Expected Behavior
List buckets using either mc or browser

## Current Behavior
Not showing any buckets

## Possible Solution
No idea, although https://github.com/minio/minio/issues/7191 mentioned the sam

[2019-05-25 18:40] philipthomasme commented on #7693
Having problems getting this to work (https://github.com/minio/minio/issues/7695) but I guess the feature is implemented and therefore I will close this here.

[2019-05-25 18:40] #7693 closed, assigned to nobody

[2019-05-25 18:40] harshavardhana commented on #7695
Fixed by #7686

[2019-05-25 19:31] philipthomasme commented on #7695
Built the latest commit and everything works perfectly.

[2019-05-25 19:31] #7695 closed, assigned to nobody

[2019-05-26 10:41] thienly commented on #3774
i got the same issue even though i set public permission for the bucket

[2019-05-27 11:50] stokowski opened #7696 "S3 Gateway: minio/mc behavior without ListAllMyBuckets permission"
Minio in s3 gateway mode starts, but also returns error when aws user hasn't got ListAllMyBuckets permission:

[code]

Permission that allows to list all buckets, with that minio s3 gw start without error

[code]

Without this its not possible to add gw host to minio client, but it works fine with other clients (rclone, cyberduck when pointed to proper bucket)

## Expected Behavior
Start without e

[2019-05-27 11:58] nitisht commented on #7696
thanks for reporting we’ll take a look @stokowski

[2019-05-27 12:34] sgandon commented on #7515
humm, it seems not to be working and even to not propagate the policies anymore :(

[2019-05-27 13:06] adiospeds opened #7697 "Skip non-bucket dns entry in federated bucket list and gui"
We are using a federated setup of minio. I am serving our Minio GUI as well as s3 endpoint at project.qa.s3.domain.com

We have setup a conditional forwarder in our bind dns such that all *.qa.s3.domain.com queries will be served by coredns. eg:

[code]

I have manually added an entry into etcd as I wanted s3 endpoint to be served from coredns server.

[code]

However added entry comes up as a bla

[2019-05-27 17:10] kannappanr commented on #7697
@adiospeds Thanks for reporting this issue, we will take a look at it.

[2019-05-27 18:33] harshavardhana commented on #7515
we have tested this already and it was working at the time of the PR @sgandon - can you confirm your etcd version and open a new issue?

[2019-05-27 18:36] harshavardhana commented on #7696
This is on purpose, what we need to do is avoid printing the error message if the bucket level is already provided. Also adding a bucket level gateway is quite easy to do as well.

It would be as good as providing `https://bucket.s3.amazonaws.com`

[2019-05-27 22:12] harshavardhana opened #7698 "Letsencrypt ecc key doesn't work with MinIO"
OK, so I just wasted a couple of days trying to get a Let's Encrypt ECC key generated using acme.sh to work with Minio, but I kept getting the message "ERROR Unable to load the TLS configuration: The private key contains additional data. Please check your certificate.".

Turns out that for some reason I need to translate the private key by adapting the latter part of the call described above, i.e.

[2019-05-27 22:13] harshavardhana commented on #7698
@mhjartstrom please add other details like the command used to generate the keys, operating system, MinIO release being used etc.

[2019-05-28 02:29] harshavardhana commented on #7697
Was able to reproduce this issue @adiospeds

[2019-05-28 02:53] harshavardhana commented on #7587
I have tried to reproduce this but without luck - I can see that even at 300 users the overall responsiveness is the same and the performance doesn't decrease.

[code]

[2019-05-28 02:54] harshavardhana commented on #7587
@eco-minio were you able to reproduce this in your setup?

[2019-05-28 03:27] mygithub-praveen opened #7700 "Are files pushed to MiniIO stored as it is and not as chunks?"
I pushed 5 lakh images (200+ GB) in to a bucket of Ubuntu distributed MinIO with 4 servers, which has 4x8TB HDD. I noticed that after this the MinIO web is taking too much time to load. All images are stored in a folder named with bucket name, Is this the default MinIO storage mechanism?

[2019-05-28 03:36] harshavardhana commented on #7700
@mygithub-praveen can you please join our https://slack.min.io for your questions - we can have a more real-time conversation?

Storing images at the top level is not a good idea, it is better to store them in a hierarchy. So you have to choose them appropriately while uploading.

Now getting back to the issue itself,  to help you further you need to state more clearly your setup and what you are

[2019-05-28 03:52] mygithub-praveen commented on #7700
- minio-3.0.7
- Ubuntu 18.04
- ext4
- jpeg images (3.5 MB)
- Python 3.4
`import traceback
import os
import time

from minio import Minio
from minio.error import (ResponseError, BucketAlreadyOwnedByYou, BucketAlreadyExists)
minio_client = Minio('localhost:9000', access_key='', secret_key='', secure=False)
if minio_client.bucket_exists('image1'):
        print("bucket existing....")
else:
        pr

[2019-05-28 03:58] harshavardhana commented on #7700
what is the MinIO server version @mygithub-praveen ? I see that you shared the client SDK version.

[2019-05-28 04:02] mygithub-praveen commented on #7700
VERSION
2019-05-23T00:29:34Z
MEMORY
Used: 6.2 MB | Allocated: 42 MB | Used-Heap: 6.2 MB | Allocated-Heap: 66 MB
PLATFORM
Host: localhost | OS: linux | Arch: amd64
RUNTIME
Version: go1.12.4 | CPUs: 4

[2019-05-28 05:17] harshavardhana commented on #7661
I seem to have not been able to reproduce this issue

[code]

[code]

[code]

[2019-05-28 05:18] harshavardhana commented on #7661
My Nginx config is

[code]

[2019-05-28 05:22] harshavardhana commented on #7661
Also `Connection: close` header itself is implicit in HTTP 1.0, so not sure what seems to have changed. At this moment, I have hit a road block - Is there anyone who can help us debug this issue further? we would love to talk to them over at https://slack.min.io whenever your time permits.

[2019-05-28 06:43] mhjartstrom commented on #7698
For reference, I initially created https://github.com/Neilpang/acme.sh/issues/2295 regarding this problem.

I'm setting up a MinIO server (currently on Windows 7) for hosting backups created by CloudBerry. CloudBerry is also running on a Windows 7 machine (with .NET Framework 4.8 for updated Schannel TLS support) and it seems that I cannot (?) bypass the fact that it requires an ECDSA certificate

[2019-05-28 07:32] aead commented on #7698
Hi @mhjartstrom - thanks for opening this issue.

The problem here is that the go standard lib only provides constant time implementations for P-224 and P-256 but not for P-384 and P-521. Also note that it only supports the NIST curves mentioned [here](https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-4.pdf) for ECDSA.
So given that, using P-256 curve is better (and sufficient) than using e.g.

[2019-05-28 08:39] mhjartstrom commented on #7698
Do you think P-384 and/or P-521 will be implemented in the go standard lib in the future?

OK, so is that pull request about to be accepted or what is the status of that?

[2019-05-28 10:01] aead commented on #7698
There are implementations, but they use generic, non-constant-time implementations. I suspect that the Go security team won't introduce assembler code for those curves without very good reason (maintainability). Also observe that (IIRC) for the key exchange (ECDHE) the TLS stack uses Curve25519 (X25519) by default - which is a curve over the prime field determined by `2^255 - 19` - and therefore a

[2019-05-28 14:11] krzepah opened #7702 "[Gateway] MINIO_REGION is not working"
## Expected Behavior
Should be able to set REGION using env

## Current Behavior
    ERROR Unable to initialize gateway backend: The authorization header is malformed; the region 'us-east-1' is wrong; expecting 'fr-par'.

## Possible Solution
- Seen https://github.com/minio/minio/issues/5593 and the issue there seems to be resolved and merged. Maybe I'm missing something out with bellow command

#

[2019-05-28 15:24] Jwink3101 opened #7703 "Request: Add B2's copy API for the S3 Gateway"
**Is your feature request related to a problem? Please describe.**

Not really

**Describe the solution you'd like**

Add support to the B2 gateway for B2's (beta) copy API call.

See [their docs](https://www.backblaze.com/b2/docs/b2_copy_file.html) and a [relevant reddit post](https://reddit.com/r/backblaze/comments/bnvjsy/any_eta_on_b2_serverside_copy/)

**Describe alternatives you've considered

[2019-05-28 15:26] ghost commented on #4963
What are the actual reasons password changing is disabled ? And how to enable it for multi-user ?

[2019-05-28 15:38] harshavardhana commented on #4963
If your keys are set through env then you can't change the password, there is a PR to allow changing passwords of regular users #7683

[2019-05-28 15:53] ghost commented on #4963
Thanks @harshavardhana , it was for regular users indeed, I'll subscribe to the PR then.

[2019-05-28 15:56] harshavardhana commented on #7702
Region is only honored for AWS S3 endpoints ..

[2019-05-28 16:00] harshavardhana commented on #6934
We discussed again, this time we are going to cache PUTs but we will be doing it with a new backend style.

[2019-05-28 16:00] krzepah commented on #7702
That's sad, do you mean we'd need and improvement to get that working with scaleway or other bucket supplier that have multiple zones ?

Why are only AWS regions honored ?

[2019-05-28 17:20] kannappanr commented on #4963
This can be closed once #7683 is merged.

[2019-05-28 17:42] eco-minio commented on #7587
Yes I was able to reproduce with just 4 node docker-compose cluster (no etcd, no federation), @kannappanr is reviewing the traces I produced.

[2019-05-28 20:55] mhjartstrom commented on #7698
Breaking out and refactoring the ECC certificate parse routines sound like a good idea to me!

BTW, do you happen to know if there is any way to configure Windows 7 and TLS cipher suites available with Schannel, for instance like I tried with Nartac Software "IIS Crypto 3.0"? I thought that'd allow Windows 7 to use something other than ECDSA, but it appears as if that did not work as I had hoped.

[2019-05-28 21:05] kannappanr commented on #7703
@Jwink3101 Please feel free to send a PR to add copy API support in `b2` gateway

[2019-05-28 22:01] aead commented on #7698
AFAIK Win7 supports e.g. `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256_P256`
This a cipher suite supported by the MinIO server. The problem with the RSA cipher suites is that they either do not preserve (perfect) forward security or us CBC. The issue with CBC is that the Go TLS stack (and many other TLS stacks) don't even try to mitigate all types of side-channels. Therefore, CBC ciphers are also disab

[2019-05-28 22:01] #7698 closed, assigned to aead

[2019-05-29 02:06] kannappanr commented on #7702
Have sent a PR in minio-go to retry once if the server sends AuthorizationHeaderMalformed code and a region. I believe this should be enough to make it work. Once that PR is merged in minio-go and vendorized in minio, hopefully you will not be seeing this issue.

[2019-05-29 02:13] #7697 closed, assigned to balamurugana

[2019-05-29 05:00] krzepah commented on #7702
Will definitely check it out asap, thanks for the work, will let know if it has fixed it

[2019-05-29 08:14] nitisht opened #7706 "Mint tests failing in SimpleCI"
## Expected Behavior
Mint tests in SimpleCI should pass

## Current Behavior
[code]
## Possible Solution
NA

## Steps to Reproduce (for bugs)
Run Mint against Server Gateway mode

## Context

## Regression
Yes, SimpleCI tests were passing

## Your Environment

* Version used (`minio version`): master

[2019-05-29 10:16] Praveenrajmani opened #7707 "Refreshing notification sys will not add rules map for the rest of the buckets upon a `ARN Not Found` failure"
The notification system will be initialized/refreshed upon a restart/start. Currently, if a target is disabled in the config. And if the server is restarted after this, The system will fail to send the events to the other enabled targets.

Because, here - https://github.com/minio/minio/blob/master/cmd/notification.go#L598 we will error out on `ARN not found` and return without adding the rules map

[2019-05-29 13:38] zhengxiaochuan-3 opened #7708 "Compact small files like facebook-haystack ?"
Should minio add "small files compact" feature like  facebook-haystack ?

[2019-05-29 13:57] lostdalek commented on #7696
Hi,
I have a similar use case with multiple users (admin and application roles) and different buckets usage, so every user can only access their buckets

@harshavardhana

Can you clarify how to  add a bucket level gateway? wondering if it's an issue with my bucket restriction or minio

I tried the following minio commands without success:

**minio gateway s3**
result in: `Error: Prefix access is d

[2019-05-29 14:00] shernshiou opened #7709 "[gateway-s3] Gateway to S3 using permission without ListBucket and HeadBucket permission"
**Is your feature request related to a problem? Please describe.**
I try to gateway to S3 but the IAM inside my EC2 does not have ListBucket or HeadBucket permission. It causes a timeout and `minio gateway s3` spews out the following error:
[code]

**Describe the solution you'd like**
I hope there is a feature that let minio to gateway to specific bucket. Or maybe bypass the HeadBucket at `/cmd/ga

[2019-05-29 14:03] kannappanr commented on #7708
S3 APIs does not support one. Even if we can support this feature, then it will only be for objects that are not encrypted. I don't think we will support a feature like this. Will check internally and get back to you.

[2019-05-29 15:11] zhengxiaochuan-3 commented on #7708
@kannappanr
Does it mean that the Performance and  Availability of LOSF are not so good so far?  And should take care of it by myself?

[2019-05-29 17:43] harshavardhana commented on #7709
This looks like you have a network timeout @shernshiou

[2019-05-29 20:34] kannappanr commented on #7708
@zhengxiaochuan-3 Availability is not an issue. Performance will definitely be. It will lead to more random I/O on the storage media, if you are dealing with lots of small files. Random I/O performance will not be as good as sequential.

[2019-05-29 21:38] thefiddler commented on #7709
(I am working with @shernshiou on this issue)

@harshavardhana the timeout is happening precisely because ListBucket and HeadBucket permissions are not available in the IAM role:
[code]

The IAM role has GetObject, PutObject and ListObjects. Ideally it should be possible to use minio with a specific bucket (with a known ARN), even if the IAM is locked down to not be able to list all buckets for se

[2019-05-29 21:53] harshavardhana commented on #7709
That doesn't seem right @thefiddler timeout means a network issue if you don't have permission we should get 403 Access Denied error.

[2019-05-29 21:54] harshavardhana commented on #7706
Fixed by https://github.com/minio/mint/pull/320

[2019-05-29 21:54] #7706 closed, assigned to nitisht

[2019-05-29 21:55] harshavardhana commented on #7702
Fixed by https://github.com/minio/minio-go/pull/1113

[2019-05-29 21:55] #7702 closed, assigned to nobody

[2019-05-29 22:07] eco-minio opened #7713 "Change password update button is allowed on invalid input"
We grey out the update button when there is no input for change password dialog.  If a user types in a single character, the update button turns green implying you can update.

## Expected Behavior

Update button should not turn green until valid input is given
## Current Behavior

Update button turns green with any input
## Possible Solution

Add proper input validation
## Steps to Reproduce (for

[2019-05-29 22:16] hmarsolla opened #7714 "MinIO Concurrency Test - Upload of multiple large files at the same time failing in reduced storage space"
This issue might not be exactly a bug. I want to understand more about the MinIO behavior I had while making some stress/concurrency tests before deploying to production. Maybe there's some setup options I missed or some tuning that must be done or even someone who had experienced something similar and can share some knowledge.

## Context
My team is developing a service that utilizes MinIO as its

[2019-05-29 22:30] eco-minio opened #7715 "Changing password with invalid input locks out user"
If you add incorrect input into the new password in the change password dialog, you get a message that the password is invalid.  From there, if you log out (or are automatically logged out, see repro steps below) you are given a banner that says the access key is incorrect
## Expected Behavior

We need to validate input properly (per #7713) but even if we didn't user should never be locked out.  L

[2019-05-30 00:20] harshavardhana opened #7716 "Encryption internal headers are sent with notification targets"
## Expected Behavior
No encryption related user-defined metadata should be sent to notification targets

## Current Behavior
Encryption related headers are sent to all notification targets without filtering
[code]

## Possible Solution
use `crypto.RemoveSensitiveHeaders()` to remove this information.

## Steps to Reproduce (for bugs)

1. Setup webhook using http://webhook.site - copy the URL
2. Co

[2019-05-30 00:56] kannappanr commented on #7714
@hmarsolla Here is the response
1 - Can I change or tune anything on the server (host or docker container) to make this concurrent upload better? I am currently following the network configuration suggested here.
`No`
2 - Is there any way to avoid the ECONNRESET error? They seem related to the OS dropping connections because they would not be able to complete, but I'm not so sure exactly of why I

[2019-05-30 01:53] MrCreosote opened #7717 "Initial slash in object name causes error on copy"
## Expected Behavior
Minio copy operations work normally when the object name starts with a slash.

## Current Behavior
[code]
Results in
[code]

Removing the initial slash from `/myfile/file2` makes the copy work, which is odd since the initial slash on the copy source causes no problems. Also, including an initial slash in the object name in the parameters to [PutObjectRequest](https://docs.aws.

[2019-05-30 02:15] harshavardhana commented on #7717
Can you test with latest release @MrCreosote ?

[2019-05-30 02:19] mzch opened #7718 "Failed to access by using signature v4"
## Expected Behavior

Most apps tries to access AWS S3 and compatible storage using signature v4.
Minio should be accessed as well.

## Current Behavior

Minio reported 'Signature does not match' error as below:
[code]

Of course, s3cmd can access AWS S3 using sig v4.

## Possible Solution

No idea.

## Steps to Reproduce (for bugs)

1. start minio in vhost style or path style.
2. create a certain

[2019-05-30 03:02] MrCreosote commented on #7717
@harshavardhana No change with `RELEASE.2019-05-23T00-29-34Z`. I didn't notice anything in the release notes re changes to this behavior which is why I tested with the older version.

[2019-05-30 04:17] kannappanr commented on #7717
@MrCreosote AWS does returns `The specified key does not exist`, while minio does not. We can change the behavior there. But in the case of minio since the `objects` are stored in the backend as files, we cannot have object names starting with `/`

[2019-05-30 05:29] #7716 closed, assigned to Praveenrajmani

[2019-05-30 05:33] harshavardhana commented on #7718
Please share your s3cmd config, also have you followed https://docs.min.io/docs/s3cmd-with-minio.html ?

[2019-05-30 06:05] mzch commented on #7718
Oh, sorry. This issue is solved. My router's touble....

[2019-05-30 06:05] #7718 closed, assigned to nobody

[2019-05-30 06:16] harshavardhana commented on #7661
If there is no help available to reproduce the issue further, we should perhaps go ahead and close the issue and update the docs to reflect the requirement of requirement of http 1.1. It maybe an nginx version issue.

[2019-05-30 06:20] kanagarajkm commented on #7685
@rsommer did you run the following commands in the same machine?

`minio server --address=10.0.0.1:9000 /tmp/test1`

`minio server --address=10.0.0.2:9000 /tmp/test2`

[2019-05-30 07:17] danielgrant commented on #7661
@harshavardhana as above, I was able to replicate this using only `curl` directly against the HTTP endpoint for MinIO by forcing `curl` to use `HTTP/1.0`, so it's not an NGINX issue.

[2019-05-30 07:37] krzepah commented on #7702
When should I expect a vendorize of minio-go ? Is there a way to do that manually waiting for the release ? Thank you all for the great work

[2019-05-30 08:28] #7713 closed, assigned to kanagarajkm

[2019-05-30 08:30] jaydenpang commented on #6762
Hi there, is there a way to change Minio's access key and secret access key from the command line? I am not using Docker for mine.

[2019-05-30 08:43] JohnNiang commented on #7661
Same issue. It will get stuck in here.

[2019-05-30 09:25] qwerted2017 opened #7722 "no audit log when an object is deleted through UI"
No audit logs for some operations in MinIO GUI

## Expected Behavior
Audit all events with buckets\objects\policies when set variable MINIO_AUDIT_LOGGER_HTTP_ENDPOINT

## Current Behavior
Don't work audit via HTTP for next operations in Minio GUI (chrome):
- create bucket
- delete bucket
- delete file
(Maybe not working when change policy, etc - didn't check.)

## Possible Solution

## Steps to Re

[2019-05-30 09:28] nitisht commented on #7722
Thanks for reporting @qwerted2017 we'll take a look

[2019-05-30 12:14] #7715 closed, assigned to kanagarajkm

[2019-05-30 12:23] kannappanr commented on #6762
If you are using standalone mode and are not using environment variables `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY` then you can use `mc admin config get myminio > /tmp/config.json` to get `config.json` from the server. Then use `cat /tmp/config.json | mc admin config set myminio` to set the credential

[2019-05-30 12:25] kannappanr commented on #7702
We will probably make a release today.

[2019-05-30 14:06] thefiddler commented on #7709
@harshavardhana we are working in a highly-constrained 3rd party environment on Amazon AWS. In this environment, disallowed calls fail either with AccessDenied or a Timeout error. List-buckets happens to fail with a Timeout error.

The network is otherwise working correctly and we have verified that put-object, get-object and list-objects work as expected.

What we are trying to do is the followin

[2019-05-30 14:44] vadmeste commented on #7709
@thefiddler, I think you are wrong with disabling s3:ListBucket in the first place, you probably want to disable s3:ListAllMyBuckets

s3:ListBucket is needed to list objects in a bucket

[2019-05-30 15:11] MrCreosote commented on #7717
@kannappanr

Hmm... I'm using [PutObjectRequest](https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#S3.PutObjectRequest), [HeadObject](https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#S3.HeadObject), [GetObject](https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#S3.GetObject), and [DeleteObject](https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#S3.DeleteObject) with object names

[2019-05-30 16:13] harshavardhana commented on #7661
Even with curl I am not able to reproduce @danielgrant so there is nothing actionable right now, we are just gonna add 1.1 as recommended for the reverse proxies for now.

[2019-05-30 16:27] kannappanr commented on #7717
@MrCreosote The situation I specified is when say there exists a key called `tmp/source`, but not `/tmp/source` in AWS and if you were to use `/tmp/source` in AWS, then you would receive this error. What I am trying to say is that a leading `/` is not supported in MinIO. So, the error you are receiving makes sense.

You can have two objects named `/tmp/source` and `tmp/source` in AWS, but any obje

[2019-05-30 17:41] MrCreosote commented on #7717
Well, it looks like minio already does that from the perspective of the amazon client, so maybe that's not so crazy:
[code]

Results in:
[code]

[2019-05-30 17:50] MrCreosote commented on #7717
@kannappanr

I'm going to have to respectfully disagree here. When copying an object to `/obj`, for example, the error is `Object name contains unsupported characters.` It's clear that all the characters in `/obj` are supported since the object name `o/bj` works normally. The error message doesn't describe the actual problem with the object name.

[2019-05-30 20:37] m00g3n opened #7723 "MinIO instances are out of sync after uploading a file to a bucket when running in GCS Gateway mode."
MinIO instances are out of sync after uploading a file to a bucket when running in GCS Gateway mode.

## Expected Behavior

All MinIO instances should be in sync with GCS after uploading a file to a bucket when running in GCS Gateway mode.

## Current Behavior

Only one instance is in sync with GCS after uploading a file to a bucket when running in GCS Gateway mode.

## Steps to Reproduce (for bug

[2019-05-30 20:47] harshavardhana commented on #7723
This problem is your GCS issue, we are as consistent as your backend. If GCS returns an error we return an error.

They are out of sync simply because GCS is not strictly consistent.

[2019-05-30 21:38] thefiddler commented on #7709
@vadmeste you are right, we can list objects in that specific bucket, but we cannot list buckets, i.e. we have s3:ListBucket but not s3:ListAllMyBuckets.

Is there a way to point minio gateway to a specific known bucket and avoid s3:ListAllMyBuckets?

[2019-05-30 21:41] from-nibly opened #7724 "Cant get minio to log anything other than the intro"
## Expected Behavior
I just need some logging so I can debug an issue I'm seeing when trying to run some existing s3 tests I have.  I set MINIO_HTTP_TRACE=/dev/stdout and I even tried adding a config.json file and setting logger.console.enabled=true and logger.console.level=error/debug.  I can't find anything in the docs about how to turn up the logging or even get any logging whatsoever.

## Curr

[2019-05-30 21:45] kannappanr commented on #7717
@MrCreosote If the message is the only thing that needs to be changed, I can check internally and see if we can come up with something generic, that covers both `unsupported characters and unsupported characters at certain position of the key name`

[2019-05-30 22:03] vadmeste commented on #7709
@thefiddler are you saying that you have  s3:ListBucket enabled but you still have the i/o timeout error ?

[2019-05-30 22:12] MrCreosote commented on #7717
@kannappanr That'd help - or two different messages depending on the case would help.

There's also the issue that the amazon client treats `/obj` and `obj` as the same object when communicating with minio - I'm not sure if that's intended, or a bug, or what.

[2019-05-30 22:13] kannappanr commented on #7724
@from-nibly Can you please elaborate on what operation you are doing and any other information like client being used etc? If there is a code/command to reproduce the issue, can you please paste it here?

[2019-05-30 22:14] kannappanr commented on #7717
Amazon does not treat them as same. They are two different objects. In the case of `MinIO` we cannot have an object named `/obj`

[2019-05-30 22:14] thefiddler commented on #7709
[code]

Trying something similar to what was mentioned at https://github.com/minio/minio/issues/7696#issuecomment-496947701 gives:
[code]

If I try with the (incorrect) region us-east-1 as a test:
[code]

Edit:
Using `mc config host add` gives the same issues as above.

Edit 2:
@vadmeste regarding your permissions question:
[code]

[2019-05-30 22:21] vadmeste commented on #7709
@thefiddler, can you double check that you have s3:ListBucket permitted for that specific user ? no reason for it to fails

[2019-05-30 22:22] thefiddler commented on #7709
@vadmeste regarding your permissions question (copying pasting from my edit above):
[code]

Edit:
What is the right way to use minio gateway in bucket mode, as suggested by @harshavardhana here https://github.com/minio/minio/issues/7696#issuecomment-496282459?

The following doesn't seem to be working:
[code]

[2019-05-30 22:22] kannappanr commented on #7717
Also, I don't think Amazon client treats them same also. Here is what I did with `AWS CLI` and ran it against my local server

[code]

[2019-05-30 22:26] vadmeste commented on #7709
@thefiddler can you also enable s3:GetBucketLocation for now, this is also seem needed

[2019-05-30 22:26] MrCreosote commented on #7717
@kannappanr I demonstrated [here](https://github.com/minio/minio/issues/7717#issuecomment-497417418) that the AMZ client, when pointed at minio, treats `/obj` and `obj` as the same thing.

Could be due to AMZ client internals, but it def ignores leading slashes.

[2019-05-30 22:29] thefiddler commented on #7709
@vadmeste unfortunately this is a 3rd-party environment where we cannot enable/disable permissions. Is there any possible workaround?

I will request s3:GetBucketLocation to be enabled, but this request may or may not be granted.

[2019-05-30 22:35] kannappanr commented on #7717
@MrCreosote It is a Amazon SDK issue, I ran a sample `AWS-sdk-go` code with an `object` named `/obj` and had turned on `HTTP tracing` on `MinIO` and saw this

[code]
The SDK stripped off the leading `/`

In the case of `AWS CLI` I see the following

[code]
It doesn't seem to strip off the leading `/`. So if the client is stripping off the leading `/`, then to `MinIO` it is as good as sending it wi

[2019-05-30 22:37] kannappanr commented on #7717
Like I said earlier, I will check about the message itself. Other than that I don't think there is anything else to look at. Please let me know if you feel otherwise.

[2019-05-30 22:44] adamhooper commented on #7492
A suggestion: How about just changing `Access-Control-Expose-Header` from `*` to `ETag`? From where I'm sitting, #7331 didn't solve #7289 in the first place....

Replacing `*` with `ETag` may cause a _new_ regression for some people; but surely that's an awfully tiny number of people. `*` is better if users want to read headers other than ETag on Chrome specifically (which is fringe if not entirel

[2019-05-30 22:52] MrCreosote commented on #7717
@kannappanr fair enough, thanks for looking into this.

[2019-05-30 23:09] kannappanr commented on #7708
ping @zhengxiaochuan-3 . Please let me know if your questions have been answered.

[2019-05-30 23:15] shanebarnes opened #7725 "Windows Server Share Paths Do Not Work if the Path is "Long""
Minio fails to write files with "long" paths to a mount point when the mount point is configured as a network share (e.g., \\\server\share\a\b).

## Expected Behavior

When uploading files to a Windows Minio server I expect that Minio is capable of writing files with "long" path names to either a local NTFS disk or a file server (e.g., Microsoft Azure File Shares).

## Current Behavior

Currently,

[2019-05-30 23:39] kannappanr commented on #7725
@shanebarnes Thanks for reporting this issue. We will take a look at this.

[2019-05-31 03:48] zhengxiaochuan-3 commented on #7708
@kannappanr Is there a use case for a large-scale production environment? Especially LOSF case.Hope to get some experience.

[2019-05-31 04:52] harshavardhana commented on #7708
@zhengxiaochuan-3 what your actual production scale?

[2019-05-31 05:09] zhengxiaochuan-3 commented on #7708
Like 1 billion documents half of a year，We don't have the money to use all ssd/nvme disks, we can only use a lot of SATA disks. Even at Billions/PB scale, if there is no "small file compact", there will still be a lot of performance problems, which is inevitable.

[2019-05-31 05:39] m00g3n commented on #7723
The exact same scenario with `minio-go` client works as expected.

[2019-05-31 05:44] harshavardhana commented on #7723
Yes, it will work as expected since you are reaching the backend directly, gateway remembers state regarding bucket policies - it takes 5 minutes for the policies to propagate to rest of the neighboring gateways.

We are planning to fix this differently by avoiding state in this manner.

[2019-05-31 06:01] m00g3n commented on #7723
Many thx just a quick two questions:
- When would this fix be available?
- Do you know how could we workaround this issue for the time being?

[2019-05-31 06:08] harshavardhana commented on #7723
Soon

You need to restart neighboring gateway instances.

[2019-05-31 06:25] jaydenpang commented on #6762
@kannappanr worked perfectly. Thanks!

[2019-05-31 06:46] harshavardhana commented on #7708
A billion documents on an average size of 2MiB will come to around 2PiB which is still a small scale compared to the capacity of deployments MinIO can support. It is rather premature @zhengxiaochuan-3 to think about performance without benchmarking on real hardware with the real workload that you may generate.

It is usually worthwhile to benchmark with exact application patterns - with some limit

[2019-05-31 08:26] ElusiveMind opened #7728 "AWS SDK V3 Requests Failing on Alternate Calls"
## Expected Behavior
When I run an API call, it should return the result of that call.

## Current Behavior
The PHP API call to Minio fails on alternating calls.  The following is when I am trying to obtain a list of all objects in a bucket

## Possible Solution

## Steps to Reproduce (for bugs)
`[serviceadmin@CentOS03 minio]$ php fsis.php`
`drupal-data-2019-05-16.sql.gz`
`[serviceadmin@CentOS03 m

[2019-05-31 08:28] nitisht commented on #7728
Can you set `proxy_http_version 1.1` in your Nginx config and try again?

[2019-05-31 08:39] ElusiveMind commented on #7728
I just did and am getting the same result. Here is my server configuration

 ` server {`
  `  listen 80;`
  `  client_max_body_size 5000M;`
  `  server_name xxxx;`
  `  location / {`
  `    proxy_pass http://127.0.0.1:8201;`
  `    proxy_set_header Host $host;`
  `    proxy_set_header X-Real-IP $remote_addr;`
  `    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;`
  `    proxy_set_hea

[2019-05-31 08:49] nitisht commented on #7717
Closing the issue based on above comments

[2019-05-31 08:52] nitisht commented on #7728
can you share the php code for us to take a look ? Also, can you confirm if `mc ls` works consistently?

[2019-05-31 09:13] Non-Descript-Individual opened #7729 "Streaming into Minio files is very slow"
Hi all,

I have a Minio server running on one computer B and am practising writing data to it from another computer A. I've been doing some performance tests on streaming arbitrarily sized numpy arrays with random elements from computer A into Minio files hosted on computer B via the Boto3 interface, using the put_object() function of the Boto3 client class, where the "Body" argument is the numpy

[2019-05-31 11:37] s0rbus opened #7731 "restarting minio docker container does not re-read event settings properly"
## Expected Behavior

When an event has been set for a bucket in minio which is running in docker, and then the docker container is stopped and restarted, I would expect to be able to list and use the event.

## Current Behavior

After the docker container has re-started, an error is generated when trying to list or use the event: mc: <ERROR> Cannot list notifications on the specified bucket. A sp

[2019-05-31 11:39] nitisht commented on #7731
Do you persist the data using `-v` option @s0rbus? Otherwise data is simply lost as the container dies

[2019-05-31 11:41] nitisht commented on #7729
@Non-Descript-Individual can you follow the issue template please? We need info like server version, your hardware setup etc

[2019-05-31 11:42] s0rbus commented on #7731
Yes, I forgot to put my -v options in the report, sorry. I have volumes for data and config as per the minio docs. I can look inside there and see the notification.xml for the bucket and it all looks fine

[2019-05-31 11:43] nitisht commented on #7731
okay, thanks, we'll try to repro this locally

[2019-05-31 12:15] vadmeste commented on #7731
Taking this

[2019-05-31 13:25] ElusiveMind commented on #7728
I am going to be looking into this after work today and will report back

[2019-05-31 13:26] thefiddler commented on #7696
@lostdalek according to @vadmeste you need to the s3:GetBucketLocation permission for bucket-specific minio gateway to work. Can you check if that resolves the issue for you?

Ref: https://github.com/minio/minio/issues/7709#issuecomment-497507729

[2019-05-31 13:35] vadmeste commented on #7731
@s0rbus still not able to reproduce the issue, can you paste logs of your minio container ?

`docker logs minio`

[2019-05-31 13:41] mikijov commented on #6577
FYI, you can do something like this:
[code]

[2019-05-31 13:49] s0rbus commented on #7731
Sure, here you go. I've also pasted in the notification.xml for my bucket from my docker volume
API: SYSTEM(bucket=barcodes)
Time: 08:05:21 UTC 05/31/2019
Error: ARN 'arn:minio:sqs::1:kafka' not found
       4: cmd/notification.go:943:cmd.readNotificationConfig()
       3: cmd/notification.go:596:cmd.(*NotificationSys).refresh()
       2: cmd/notification.go:625:cmd.(*NotificationSys).Init()

[2019-05-31 13:50] Non-Descript-Individual commented on #7729
Sorry - according to Docker (I'm using a Docker image), the version of my Minio server is as follows:

Version: 2019-05-23T00:29:34Z

The OS on which the Minio server is running is:

Linux 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I'll add this to the original query now.

[2019-05-31 15:21] from-nibly commented on #7724
I mean I could but the real heart of my issue isn't the 405 that I'm getting. My guess is it's something I'm just doing wrong. What I really want is just some logs so I can figure out what is wrong on my own. Even if those logs end up being something I don't know how to solve right away I can come back here and post a new Issue. If I can get error / http trace / debug logs I might have the tools t

[2019-05-31 15:26] harshavardhana commented on #7724
You can use nc (netcat) and run your app to see what calls you app is making, then subsequently move the same code to MinIO. Copy paste the output of nc from the terminal here, we will know what might be going on..

Also it is helpful if you could tell us what http error you see on the client side..

[2019-05-31 15:35] from-nibly commented on #7724
So does minio not have logging? I think your guys eagerness to solve my 405 is to be commended but I really just want logging. Like just print something that says "405 not enough permissions in google" or "405 google does not have this functionality".  Right now I am evaluating minio for use in my company. If we can't debug issues like this on our own we are going to have to look at other solution

[2019-05-31 15:41] harshavardhana commented on #7724
MinIO is not like Apache server to log everything, we only log unhandled errors. All errors for which we send an error to the client we don't log them. That is why I am asking for client error.

Trace is meant for debugging purposes in almost all situations, but only if the error is 405 there is an issue where tracing is not invoked most probably how the handlers are stacked.

[2019-05-31 15:52] vadmeste commented on #7731
@s0rbus what is the region in your config file ?

`mc admin config get minio/ | jq .region`

[2019-05-31 15:58] adamhooper opened #7732 "STS session policies"
**Describe the solution you'd like**

I'd like my web app's client side to use `aws-sdk` to upload multipart files to minio, _securely_. I think the best approach is for the AssumeRole API to support [session policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#policies_session).

From my app's perspective, the steps would be:

1. **JS client** requests an STS token from

[2019-05-31 16:06] vadmeste commented on #7731
@s0rbus can you also directly check for kafka config directly in work/minio_data_for_docker/.minio.sys/config/config.json ?

`cat work/minio_data_for_docker/.minio.sys/config/config.json | jq .notify.kafka`

[2019-05-31 16:10] from-nibly commented on #7724
OK well I'm going to close this issue then cause I'll just have to troll through my client's code to figure out what the real response is. And like I said earlier this issue is just about the logging.

[2019-05-31 16:10] #7724 closed, assigned to nobody

[2019-05-31 16:23] #7492 closed, assigned to harshavardhana

[2019-05-31 16:39] s0rbus commented on #7731
region is an empty string (I thought that was OK from the docs)
kafka config is:
{
  "1": {
    "enable": true,
    "brokers": [
      "172.17.0.1:9092"
    ],
    "topic": "minioevents",
    "tls": {
      "enable": false,
      "skipVerify": false,
      "clientAuth": 0
    },
    "sasl": {
      "enable": false,
      "username": "",
      "password": ""
    }
  }
}

[2019-05-31 17:25] bwplotka opened #7733 "`github.com/segmentio/go-prompt` project minio depends on, is not existing anymore."
According to my CI and github this project does exists anymore.

Was working couple of minutes ago now our CI using minio dep is failing and https://github.com/segmentio/go-prompt returns 404 indeed for me.

Project being deleted, made private, Github flakiness?

CI: https://circleci.com/gh/improbable-eng/thanos/3728

[2019-05-31 17:27] MrCreosote commented on #7717
@nitisht @kannappanr I was under the impression this would stay open as you guys were going to look into improving the error messaging? Since this is an area where Minio diverges from S3, IMO it's pretty important to make the problem clear in the message.

[2019-05-31 17:56] kannappanr commented on #7717
@MrCreosote It must have been a mistake. Like I said before, we will talk about it and get back to you.

[2019-05-31 18:04] bwplotka commented on #7733
Transient issue ): Looks like Github flakiness then?

[2019-05-31 18:04] #7733 closed, assigned to nobody

[2019-05-31 19:11] kannappanr commented on #7729
@Non-Descript-Individual Can you please provide information like how `MinIO` was started etc. We need to know the command used to start `MinIO`.  What is the network performance here. As much information about the setup would help us here.

[2019-06-01 14:49] ElusiveMind commented on #7728
I have attached the script file minus authentication pieces.

Keep in mind the domain goes to an Nginx reverse proxy which sends it to an Apache/PHP docker on port 9000.

[alternating-error.txt](https://github.com/minio/minio/files/3243870/alternating-error.txt)

[2019-06-02 05:41] darkl0rd opened #7735 "Only first directory is visible as a bucket."
When running minio against a directory with pre-existing content, only the first directory is visible and accessible as a bucket. The other pre-existing directories are not shown nor accessible.

## Expected Behavior
I would expect that when I run:
[code]
that all directories which exist underneath /data are shown as buckets in minio.

## Current Behavior
When I run:
[code]
The UI only shows 'a' a

[2019-06-02 05:44] nitisht commented on #7728
Can you check this as well?

[2019-06-02 05:51] nitisht commented on #7735
@darkl0rd what are the names of these pre-existing names of these directories? Note that a bucket name should have at least 3 characters as per S3 Spec

[2019-06-02 06:18] darkl0rd commented on #7735
@nitisht I was just about to update this issue with that finding. I discovered that when I made the sub-directories at least 3 characters it indeed started working.

Should have read the S3 spec before posting!

[2019-06-02 06:18] #7735 closed, assigned to nobody

[2019-06-02 06:38] nitisht commented on #7735
thanks @darkl0rd

[2019-06-02 13:29] ElusiveMind commented on #7728
Weird.... I thought it was.. Then...

NuMacOS:Desktop mbagnall$ ./mc ls fsis
[2019-06-02 09:13:42 EDT]      0B crawler-data/
[2019-06-02 07:53:12 EDT]      0B databases/
[2019-06-02 09:00:40 EDT]      0B drupal-data/
[2019-06-02 07:52:31 EDT]      0B drupal-files/
[2019-06-02 07:52:09 EDT]      0B private-files/
[2019-06-02 09:09:46 EDT]      0B solr-cores/
NuMacOS:Desktop mbagnall$ ./mc ls fsis
[

[2019-06-02 13:36] ElusiveMind commented on #7728
Debug Info. I removed the x-Amz headers

NuMacOS:Desktop mbagnall$ mc --debug ls fsis
mc: <DEBUG> GET / HTTP/1.1
Host: fsis.itcon-files.com
User-Agent: MinIO (darwin; amd64) minio-go/v6.0.26 mc/2019-05-29T21:21:34Z
Authorization: AWS4-HMAC-SHA256 Credential=minio_fsis/20190602/us-east-1/s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=**REDACTED**
Accept-Encoding: gzi

[2019-06-02 21:04] depau opened #7736 "Minio returning 403 when using a reverse proxy"
I'm trying to use Minio as the backing storage for [Pydio Cells](https://github.com/pydio/cells), which is using minio-go ([s3 client source](https://github.com/pydio/cells/blob/dde19a9db2b8acbddaa53cbac49e199c69ffa8ec/data/source/sync/lib/endpoints/client_s3.go)). It mostly works, it is able to store objects.

However I've seen that if I try to download some objects (the issue does not occur with

[2019-06-02 21:11] harshavardhana commented on #7736
https://docs.min.io/docs/setup-nginx-proxy-with-minio.html only difference I see is in your nginx config and our docs is the `http 1.1` can you enable that ?

[2019-06-02 21:31] depau commented on #7736
Hi, thank you.

I added the http 1.1 parameter and also some others I had missed. Still 403.

[2019-06-03 01:34] kannappanr commented on #7736
@Depau Can you try connecting to `MinIO` directly instead of through `Nginx`, that will tell you if it is Nginx or MinIO. Also, the errors you are seeing, are they consistent or are they intermittent. What `mc` admin commands are you trying?

[2019-06-03 07:37] thefiddler opened #7737 "Configure region in minio gateway without s3:GetBucketLocation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
According to @vadmeste, minio gateway currently requires the s3:GetBucketLocation permission. Imagine the following scenario:

1. you are using minio in a tightened environment set up by a 3rd-party, i.e. you cannot modify permissions
2. s3

[2019-06-03 07:49] shernshiou commented on #7709
Closing this issue. Reducing the scope of this problem by looking for another workaround: https://github.com/minio/minio/issues/7737

[2019-06-03 07:51] #7709 closed, assigned to nobody

[2019-06-03 08:49] kannappanr commented on #7737
@thefiddler Will send a fix to `minio-go` to retry in the `BucketExists` call in `minio-go`. We are also looking at not making the `HeadBucket` call. So, you might be able to start gateway without that permission. For other situations like, make bucket, you can send the region. So, we don't see any scenario where you might have to set the `MINIO_REGION` env. variable in the case of MinIO

[2019-06-03 09:26] depau commented on #7736
Hi, I tried connecting to it directly. Still 403.

`mc` commands that don't work:
- `mc admin heal` (405 Method not allowed)
- `mc admin top locks` (405)
- `mc watch` times out with nginx (it does not directly, however authorization errors are not reported)

Other commands seem to work fine.

[2019-06-03 10:20] mrusme opened #7738 "Docker Stack: `global` deployment fails"
Minio fails to start when trying to deploy through Docker Stack file as `global` instance.

## Expected Behavior
A single instance of Minio should become available inside the Docker Stack.

## Current Behavior
Minio instance won't become available inside the Docker Stack.

## Possible Solution
N/A

## Steps to Reproduce (for bugs)
1. Create a Docker Stack file, [example](https://github.com/paperwo

[2019-06-03 10:24] nitisht commented on #7738
can you paste the exact error you see via Docker logs @mrusme

[2019-06-03 10:26] mrusme commented on #7738
@nitisht I would love to, unfortunately I do not get any log output out of this service. It simply won't start, without any output at all. Tried all sorts of things, e.g. `docker service logs -f ...` but everything remained silent. Any idea on how I could investigate this issue further?

[2019-06-03 10:28] michalss opened #7739 "How to setup HA Cluster with MS DFS?"
Hi team,
Is there any tutorial how to setup HA cluster with using Windows DFS, where only is Master and has all disk attached. I can install minio on both nodes, but what happend when i do failover to other nod, what happend then..

[2019-06-03 11:15] nitisht commented on #7738
Can you try the yaml file from our documentation and see if that works in your setup? Docs are here: https://docs.min.io/docs/deploy-minio-on-docker-compose.html

[2019-06-03 11:19] thefiddler commented on #7737
Just to clarify, that means that the following is expected to work?
[code]

Is the command above the right way to initialize minio gateway to a specific region and bucket? On current master it seems minio gateway is setting us-east-1 in the request header, even when we set the region to eu-west-1 explicitly.

(This occurs when s3:GetBucketLocation is not permitted).

Edit: @kannappanr is there a w

[2019-06-03 11:30] vadmeste commented on #7737
@thefiddler actually I think you can try this command:

`minio gateway s3 https://s3.eu-west-1.amazonaws.com`

It doesn't make any get bucket location

[code]

But then, your S3 client needs to explicitly set a specific region if you still want it

[2019-06-03 11:39] vadmeste commented on #7731
@s0rbus I am still not able to reproduce this, you must have something different, can you ping me in Slack and set up a remote session, it would be easier to understand what's going on

[2019-06-03 12:09] thefiddler commented on #7737
@vadmeste thanks, this seems to work around the GetBucketLocation issue.

We still need to connect to a specific bucket as suggested by @harshavardhana in https://github.com/minio/minio/issues/7696#issuecomment-496282459

What would be the right way to hardcode both the bucket and region? I haven't been able to find this in the documentation.

[2019-06-03 12:10] vadmeste commented on #7737
Why would you need that ?

[2019-06-03 12:20] mrusme commented on #7738
@nitisht that won't help as your yaml does not configure the Minio containers to run in global mode, which seems to be the only difference. When I run Minio manually with `docker run` everything works fine. And I also believe you when you say that your yaml file works. However, it does not solve this specific issue, where Minio doesn't seem to run in `global` mode.

[2019-06-03 13:59] adiospeds commented on #7697
This patch fixed the issue for me .. Tested by upgrading to Version: 2019-06-01T03:46:14Z and now the blank bucket does not appear anymore 🥇

[2019-06-03 14:04] demon-36 opened #7740 "Minio server is not starting"
## Expected Behavior

While installing Minio on ubuntu, at the time of running Minio server it should start Minio server as it starts in Docker

## Current Behavior

Currently after executing required command it gives this error :
`ERROR : Unable to initialize backend: Unable to write to the backend.

`

## Steps to Reproduce (for bugs)

Followed the documented steps to install and run Minio and e

[2019-06-03 14:09] nitisht commented on #7738
can you try `docker service inspect`?

[2019-06-03 14:10] nitisht commented on #7740
does the user running MinIO has write permissions on `/data`?

[2019-06-03 14:22] mrusme commented on #7738
@nitisht sure, here:

[code]

[2019-06-03 14:31] mrusme commented on #7738
Found out what it was by checking the inspect output a second time. Thanks @nitisht! I hate Docker for the way it treats images that do not exist - by simply not outputting any error whatsoever.

The issue was that my Compose file had `minio:latest` specified, instead of `minio/minio:latest`. It really doesn't help that Docker's Registry treats some images as first-class-citizens (e.g. `rabbitmq:l

[2019-06-03 14:31] #7738 closed, assigned to nobody

[2019-06-03 14:31] demon-36 commented on #7740
@nitisht thanks for responding, I'm running this commands as sudo and I'm new to Minio so don't know a lot about it :(

[2019-06-03 14:34] thefiddler commented on #7737
@vadmeste Because we do not have s3:ListAllMyBuckets and that seems to lead to Access Denied errors when trying to connect with mc or otherwise. The suggested workaround in https://github.com/minio/minio/issues/7696#issuecomment-496282459 was to initialize the gateway to a specific bucket.

If I do try to initialize `minio gateway s3 https://s3.eu-west-1.amazonaws.com` and try to configure mc usin

[2019-06-03 15:25] nitisht commented on #7740
Can you try writing in a non-root writeable directory like `/home/<your-username>/data` and run as normal user

[2019-06-03 16:13] demon-36 commented on #7740
@nitisht  sir I tried earlier to find /data directory but it says `/home/pb/data: No such file or directory`

[2019-06-03 16:15] nitisht commented on #7740
Please join us on Slack (https://slack.minio.io) we can discuss real time..

[2019-06-03 16:16] demon-36 commented on #7740
Sir I've already posted it there :)

[2019-06-03 16:19] adiospeds opened #7741 "Unable to delete buckets after upgrading minio (Federated minio setup)"
Note: I'm using federated minio setup

After upgrading to the below minio version I was able to create buckets, however I was not able to delete these buckets (or upload any objects to the buckets)

Version being used:
[code]

when I try to delete that bucket
I show's me this error
`No entries found for this key`

here's what the logs say
[code]

 I used the minio gui to delete it

[code]
had crea

[2019-06-03 16:26] adiospeds commented on #7697
The fix probably created more issues. More on it in : https://github.com/minio/minio/issues/7741

[2019-06-03 16:32] harshavardhana commented on #7741
@adiospeds thanks let us fix it.

[2019-06-03 16:37] demon-36 commented on #7740
thanks a lot sir for your time and appreciation.

[2019-06-03 16:37] #7740 closed, assigned to nobody

[2019-06-03 18:06] #7723 closed, assigned to nobody

[2019-06-03 18:11] kannappanr commented on #7736
@Depau Those admin commands will not work with MinIO started in file system mode. So, that is working as expected. Can you give an example or two of `mc` commands that do not work when you connect directly to `MinIO`?

[2019-06-03 18:46] kannappanr commented on #7717
@MrCreosote We will change the message to be as specific as possible.

[2019-06-03 18:51] kannappanr commented on #7728
@ElusiveMind How was `MinIO` started? Is it running in `fs`, `stand alone erasure coded` mode or `distributed erasure coded mode` ? Anything else specific for us to reproduce the issue will be great.

[2019-06-03 19:05] kannappanr commented on #7739
@michalss Can you please give more info? I understand that you have two nodes. Can you type in the commands that you used to start `MinIO` on both nodes and elaborate more on the failover part?

[2019-06-03 19:10] michalss commented on #7739
Hi setup is easy. 2 nodes Windows DFS, where only 1 has attached all shared disks/DFS shares a time. This is how DFS generally works. Once you do failover to the other nod, this a new master take all DFS share with it. Means that only 1 server, from CLuster can have attache DFS share. My question was, how to setup/install minio in HA mod to work with windows DFS.  Thx

[2019-06-03 19:16] ElusiveMind commented on #7728
I am not sure. I am running it through docker:

https://hub.docker.com/r/minio/minio/

[2019-06-03 19:20] kannappanr commented on #7728
can you type `mc admin info myminio` where `myminio` is the alias name to your minio deployment and paste the output here. You can redact the IPAddress if you want to.

[2019-06-03 19:22] ElusiveMind commented on #7728
This can't be good.

NuMacOS:~ mbagnall$ mc admin info fsis
mc: <ERROR> Cannot get service status. Failed to parse server response.

[2019-06-03 19:28] harshavardhana commented on #7728
This shows that your server and client are running too old versions and are incompatible. Update `mc` as well as you update your server.

[2019-06-03 19:33] ElusiveMind commented on #7728
Ok - I just updated my Minio docker container

NuMacOS:~ mbagnall$ mc admin info fsis
●  127.0.0.1:9000
   Status : online
   Uptime : 20 seconds
  Version : 2019-06-01T03:46:14Z
  Storage : Used 268 GiB

[2019-06-03 21:19] hmarsolla commented on #7714
Hi @kannappanr, thanks for your reply.

As suggested out on the second question's response, I tested on the same environment using MinIO server without Docker. The results were the same: as soon as the disk hit 100%, the API started to received ECONNRESET error. I believe that is possibly related to the way **_minio.js_** behaves when the OS decides to drop connections because they could not compl

[2019-06-03 21:19] #7714 closed, assigned to nobody

[2019-06-03 22:15] kannappanr commented on #7728
We looked at the `mc debug response`

[code]

The request is not reaching `MinIO` server as you can see that the `Server` header is set to `nginx`, in the case of `MinIO` it is set to something like `Server: MinIO/DEVELOPMENT.2019-06-03T06-10-39Z`

Do you know what this header `X-Served-By: Namecheap URL Forward` does?

One more observation is that you are hitting `Nginx` using `mc` and not `MinIO

[2019-06-03 23:04] ElusiveMind commented on #7728
For this particular use case, I cannot. I am hosting in Azure using my employer account and government clients, so they will not let me open non-standard web ports for transmission or receiving. So as such, I cannot open port 9000 on the host to do this test. Which is why I am proxying subdomains through nginx to different Minio hosts on the same server.

I am not sure about the NameCheap URL forw

[2019-06-03 23:16] #7741 closed, assigned to harshavardhana

[2019-06-04 00:17] vadmeste commented on #7731
@s0rbus can you test with this docker image ? vadmeste/custom-minio, it will print more logs, please ensure that you paste all logs from the beginning.

[2019-06-04 06:49] kannappanr commented on #7708
@zhengxiaochuan-3 Closing this issue as answered. Please feel free to re-open if you have further questions.

[2019-06-04 06:49] #7708 closed, assigned to nobody

[2019-06-04 08:10] kannappanr commented on #7700
@mygithub-praveen How much time does it take to load on the browser UI? Also, how much time does it take to list the objects under the same bucket using `mc`?

[2019-06-04 08:20] kannappanr commented on #8092
We have not seen this error recently. Will close this issue now. Will re-open when we see it again.

[2019-06-04 08:37] depau commented on #7736
The other commands seem to work, so maybe that's not the problem.

Anyway, is there a way to make Minio more explicit on authorization error causes? I've used Google Cloud Storage before and it would tell me precisely what I was doing wrong and what it was expecting in the error response. Is there a way to enable this in Minio with the current releases? How hard would it be to implement it?

[2019-06-04 08:37] sunilchadha1973 commented on #5967
@nitisht this document seems to be no more available, can you share it.
I want to know if we can use Elasticsearch open source with S3 plugin with open source minio to take snapshot?

[2019-06-04 08:50] nitisht commented on #5967
Document is here now: https://github.com/minio/cookbook/blob/master/docs/elasticsearch-snapshots-on-minio.md

[2019-06-04 08:54] depau commented on #7736
I forgot to answer this one

They are consistent. If I try to download some files through Pydio Cells it works. for some other files I get 403. Behavior is consistent: some objects always return 200, others always return 403.

[2019-06-04 10:43] s0rbus commented on #7731
i have tried your test image with both new volume dirs and with the volume dirs which seemed to be giving me problems. Both work OK. here are the logs using the existing volume....

[vminio1.logs.txt](https://github.com/minio/minio/files/3251919/vminio1.logs.txt)

[2019-06-04 10:49] vadmeste commented on #7731
Are you saying that using the original image still causing issues ? my image is based on this release RELEASE.2019-05-23T00-29-34Z and it only adds log printing

[2019-06-04 10:52] s0rbus commented on #7731
No, I am saying that your test image works as expected AND the original image I had also now works as expected. I can only think that something got corrupt in my volume dir which during our experiments got cleared out. I guess we can close this now.

[2019-06-04 10:56] vadmeste commented on #7731
@s0rbus another possibility is an issue while connecting to the kafka server, I got the same logs as yours yesterday when I had difficulties to connect to my kafka server.

[code]

[2019-06-04 11:03] s0rbus commented on #7731
oh that's interesting. It wasn't obvious that it couldn't connect. Maybe a timing issue?

[2019-06-04 11:33] vadmeste commented on #7731
yes but it should print a log something like this:

[code]

Let's close this until we see this again.

[2019-06-04 11:53] s0rbus commented on #7731
Agreed to close since it appears to be intermittent and cannot reliably reproduce.

[2019-06-04 11:53] #7731 closed, assigned to vadmeste

[2019-06-04 12:07] vadmeste commented on #7736
@Depau did you create any users in Minio server ?

Did you set any custom policy in the bucket ? `mc policy your-alias/your-bucket`

[2019-06-04 12:08] rsommer commented on #7685
@kanagarajkm yes, for testing purpose. But it's all the same if you have a single node with multiple IPs, where for example an apache server is listening on port 443 on one IP, and you want to run minio with TLS on port 443 on another IP on the same node.

[2019-06-04 12:12] depau commented on #7736
@vadmeste I did create one user while trying to troubleshoot the issue but I've always used the main credentials (the ones set in the environment) to access the buckets.

[code]

[2019-06-04 12:15] vadmeste commented on #7736
@Depau do you see any logs in Minio server when you run the mc command that leads to 403 error ?

also can you run mc with --debug flag and paste the debug output ?

[2019-06-04 12:49] depau commented on #7736
Nope, I only have this in the logs:

[code]

I don't see how running `mc` with `--debug` would be useful: @kannappanr said that failing admin commands were working as intended. I'm only getting 403 errors when requesting objects through Pydio Cells. Which is why I asked whether there was a better debugging option other than putting a mitm proxy between Pydio and Minio.

Anyway this is the policy c

[2019-06-04 13:04] vadmeste commented on #7736
@Depau oh okay, I thought you said you are also not able to download using mc. You can set this environment variable MINIO_HTTP_TRACE to /tmp/log.txt for example in your docker compose, and invoke the Pydio Cells action that triggers the 403 error.

[2019-06-04 13:40] Non-Descript-Individual commented on #7729
@kannappanr The MinIO server was downloaded, installed and started using the following Docker commands:

First:
docker pull minio/minio

Then:
docker run -it -p 0.0.0.0:9000:9000 --name <my_name> -e “MINIO_ACCESS_KEY=ACCESSKEY” -e “MINIO_SECRET_KEY=SECRETKEY” -v <my_path>/data:/data -v <my_path>/config:/root/.minio minio/minio server /data

That was 6 days ago and it has been up and functional eve

[2019-06-04 18:00] eco-minio commented on #7739
@michalss Assuming you are using minio in gateway mode, then DFS (or attendant load balancer) would be responsible for handling failover.  This would not work with minio in server mode.

[2019-06-04 18:12] MatinF opened #7744 "Windows 10 + MinIO Azure Gateway HTTP error"
The below seems to be a general bug/issue in MinIO Azure Gateway + Windows. As requested by Anis Elleuch on Slack, I'm hereby opening an issue regarding this.

## Expected Behavior
I'm trying to run a basic MinIO Azure Gateway setup with HTTP on Windows 10. After following the MinIO quickstart guide, I expected to be able to see my files on my Azure storage account via the MinIO browser.

## Curre

[2019-06-04 20:35] verdverm opened #7745 "[gateway-gcs] unauth'd object downloads and permissions"
## Expected Behavior

I should be able to provide unauthenticated object downloads without allowing bucket listing.

## Current Behavior

In order to provide unsigned downloads, the user is instructed to run `mc policy download host/bucket`. This applies the GCS permission "Storage Legacy Bucket Viewer" to "allUsers". This, in turn, allows anyone to list all objects in the bucket.

Setting the GCS

[2019-06-04 20:42] harshavardhana commented on #7745
Recent release fixes this, have you tried it already?

[2019-06-04 20:47] verdverm commented on #7745
oh really?! I will give that a try and close this issue if the problem goes away.

[2019-06-04 20:55] verdverm commented on #7745
I am still experiencing this issue with Minio: RELEASE.2019-06-04T01-15-58Z

[2019-06-04 21:13] verdverm commented on #7745
https://github.com/minio/minio/blob/master/cmd/gateway/gcs/gateway-gcs.go#L1395 leads me to believe that new code is needed.

Unless... it is possible to set the bucket permissions "by hand" (w/o `mc`) and the files should be served w/o signed URLs

[2019-06-05 00:17] deekoder commented on #7744
@MatinF I am reproing this issue to see if it occurs on my end. Please stay tuned.

[2019-06-05 04:48] MatinF commented on #7744
Ok thanks - I believe Anis Elleuch confirmed on Slack to have the same issue on Windows, while it's not an issue on Linux it seems.

[2019-06-05 06:25] harshavardhana commented on #7729
Is the path to /data an NFS volume? or a local disk?

[2019-06-05 08:42] michalss commented on #7739
Hi, no im not running minio at all. im looking for the way how to configure it with Windows DFS Cluster, thats all.

[2019-06-05 08:47] harshavardhana commented on #7739
@michalss There is nothing special all you have to do is

[code]

or

[code]

If do `net share` mount then you can specify as well.

[code]

[2019-06-05 08:48] Non-Descript-Individual commented on #7729
The path to /data is an NFS volume. So we would write directly to it as if it were a local path using numpy.save(), and then compare writing to exactly the same location using the Boto3 put_object() function, so that we were comparing like with like.

[2019-06-05 08:53] michalss commented on #7739
@harshavardhana - thank you, and what happen when i do failover to other nod ? Also minio will run on both nodes with same configuration?

[2019-06-05 08:55] harshavardhana commented on #7729
What is the average file size here? @Non-Descript-Individual

[2019-06-05 08:58] harshavardhana commented on #7739
You are running `minio gateway` on all servers in the same manner as posted above, and you can bring as many gateways as you want online whenever needed. Gateway is a share nothing architecture they can independently serve concurrent requests.

All you have to do is just run `minio gateway` on all DFS servers and have a round-robin DNS / fqdn for ll gateway instances or load balance them.

[2019-06-05 09:07] Non-Descript-Individual commented on #7729
As evidenced in the original graph, this appears to apply for all file sizes, anything from 8 MB to 1 GB or more. I have tried it with 5, 10, 20 and 30 GB files as well, and the relationship still holds. So I don't think it would be meaningful for me to give an average file size.

[2019-06-05 09:11] harshavardhana commented on #7729
Have you tried something different from doing

[code]
v/s just running

[code]

[2019-06-05 09:49] michalss commented on #7739
On nice, DFS has own clustering system, quorum. So basically it would be enough to simple install minio with gw and fqdn share on both nodes with acting as same right ? but dfs share is always active if any of this 2 nodes running. Would not cause some issue to run minio on both nodes same time ? So this is the case, so it is needed to use some proxy to balance to run minio in this case ?

[2019-06-05 09:55] harshavardhana commented on #7739
NAS Gateway is designed for exactly this scenario.

[2019-06-05 10:06] depau commented on #7736
Great! I am indeed able to see errors there. Apparently it's signing the request incorrectly:

[code]
[code]

For whatever reason it's still using the reverse-proxy even though I though I configured it to skip it. I'll do some more tests skipping it and see if that's the problem.

Eventually I'll need to figure out if it's nginx/cloudflare that's changing the signed headers or if it's using `minio

[2019-06-05 10:15] depau commented on #7736
Okay, it was still using the reverse-proxy because I forgot to restart it and it was using the old config. Now it works perfectly.

[code]

Now, why is it not working when going through the reverse proxy? All signed headers are there.

[2019-06-05 10:47] revengel opened #7748 "Registry with minio cluster no works"
I have some minio cluster on 4 servers. Minio items running in docker and connect by overlay network.

[code]

When I published the port of the Minio items and connected the registry to some Minio address by the server’s IP address and the published port. And the registry works well. But if this server down the registry will not work too. So we need some reverse proxy that will combine all minio i

[2019-06-05 11:11] nitisht commented on #7748
can you please try `bind *:9000, http/1.1` in the HAProxy config?

[2019-06-05 12:03] revengel commented on #7748
Nginx with this config no works too:
[code]

[2019-06-05 12:30] revengel commented on #7748
```bind *:9000, http/1.1``` - Invalid haproxy config

[2019-06-05 15:37] victornoel commented on #7222
@harshavardhana @nitisht  we are using minio in front of an azure blob storage and it seems we are hitting the present issue because minio is taking a long time to push to azure (the file is big) which makes the liveness probe fail after enough time.

Two questions:
- Is it maybe related to #7042 and why it's not pushing to azure in multple chunks?
- Would you have some ideas as what would be the

[2019-06-05 15:59] harshavardhana commented on #7739
Closing this as answered, feel free to join our https://slack.min.io for further questions.

[2019-06-05 15:59] #7739 closed, assigned to eco-minio

[2019-06-05 16:03] harshavardhana commented on #7222
How large is the file @victornoel ?  How did you figure large file upload is the issue? . Also please open a new issue with answers to my questions asked here.

[2019-06-05 16:05] thomaslange24 opened #7749 "using javascript aws-sdk and AssumeRole for accessing MinIO"
Hi, i need to use the javascript aws-sdk accessing MinIO with PutObject function. But instead of using direct credentials i would like to use the AssumeRole API like in https://github.com/minio/minio/blob/master/docs/sts/assume-role.md but using the javascript sdk. I tried it myself but ended confused about the different parameters the AssumeRole function needs and how to use the resulting credent

[2019-06-05 20:15] verdverm opened #7750 "[gateway-gcs?] Minio ENV VARs from k8s secrets ref,"
## Expected Behavior

In Kubernetes, Minio keys should work when injected as ENV VARS via the secretKeyRef.

## Current Behavior

When specifying the Minio keys via secretKeyRef, attempting to use them via the browser or CLI returns "The access key ID you provided does not exist in our records"

When injected as regular env vars, everything works as expected.

Under both setups, the Minio ENV vars

[2019-06-05 20:52] stokowski commented on #7696
Sorry, now I get it - I thought that you will implement that in Minio, but I have tested that on example s3 bucket and indeed it works. I was getting failures because I was trying to bind minio gw to some s3-compatible vendor in the same way. So it looks that the problem is somewhere else.

[2019-06-05 22:14] wlan0 commented on #7750
@verdverm This is not a minio error. It is likely that the newline character is at the end of the accesskey and secretkey.

Can you paste the output of env (without the grep)

If you do have a new line after MINIO_ACCESS_KEY and MINIO_SECRET_KEY, then create a new secret file like this

[code]

[2019-06-05 22:45] verdverm commented on #7750
Nice catch, not sure why this particular ENV VAR did this. We have this pattern in a number of places.

[2019-06-05 22:45] #7750 closed, assigned to nobody

[2019-06-06 07:06] lostdalek commented on #7696
@thefiddler saddly it doesn't solve the issue for me, I'm unable to setup bucket level gateway, neither default gateway (same constraints as you -> env is setup by a third party )

[2019-06-06 08:21] thefiddler opened #7753 "SSE-KMS support for S3 gateway"
**Is your feature request related to a problem? Please describe.**
According to https://github.com/minio/minio/issues/7636#issuecomment-491521065 SSE-KMS is currently not supported for the S3 gateway. This is a blocking issue in one of our deployments.

**Describe the solution you'd like**
We would like to sponsor the development of this feature, either as a monetary or development contribution. F

[2019-06-06 08:32] shernshiou commented on #7753
:+1:

[2019-06-06 08:54] victornoel opened #7754 "Uploading to azure gateway minio from Web UI fails at end without error with NGINX"
## Expected Behavior

A long running upload from the minio web ui to a minio instance deployed on kubernetes, proxied by nginx, and configured to gateway to an Azure storage should happen without problem.

## Current Behavior

With a 22Mo file but uploaded via a slow internet connection, it took around 3mn to upload it.
At the end of the upload we get an error from minio ui saying "error occurred,

[2019-06-06 08:55] victornoel commented on #7222
@harshavardhana thx, here it is #7754

[2019-06-06 10:50] vadmeste commented on #7736
@Depau, your nginx file seems to be fine.

Can you try with mc first ? I mean can you make your mc points to your reverse proxy and see if it works ?

[2019-06-06 13:04] kannappanr commented on #7754
@victornoel Thanks for reporting. We will take a look. Can you also set `client_body_buffer_size` to a bigger size and see if this issue goes away?

[2019-06-06 13:07] kannappanr commented on #7753
@thefiddler Will check internally and get back to you.

[2019-06-06 13:11] kannappanr commented on #7749
Closing this issue as duplicate of https://github.com/minio/cookbook/issues/257

[2019-06-06 13:11] #7749 closed, assigned to nobody

[2019-06-06 13:19] stokowski commented on #7696
So, I'm trying to run minio s3 gateway in top of Wasabi. My endpoint looks like:
`https://BUCKET.s3.wasabisys.com` where minio fails on start:

`{"level":"FATAL","time":"2019-06-06T13:15:14.986497495Z","error":{"message":"The specified key does not exist.","source":["cmd/gateway/s3/gateway-s3.go:134:s3.s3GatewayMain()"]}}`

It works when I won't add BUCKET name to the endpoint and use global url.

[2019-06-06 13:43] kannappanr commented on #7728
@ElusiveMind The issue here is that it is not hitting `MinIO` when you see the errors in `mc`. So, it will have something to do with the `nginx` settings and/or combination of other things that you have mentioned here. It will helpful to reduce the number of variables and reproduce the issue to isolate the actual root cause of the problem. As of now it doesn't look like it is reaching `MinIO`, whe

[2019-06-06 13:56] ElusiveMind commented on #7728
I have resolved the issue. NameCheap - by default - adds a redirect entry to their DNS that messes with the IP's of subdomains. As such, it was going in round-robin fashion to two different IPs. The problem resolved when I removed the bad entry and DNS propagated. Sorry for the noise, but hopefully this helps out someone else who may have the same problem down the road.

[2019-06-06 13:56] #7728 closed, assigned to nobody

[2019-06-06 14:10] poornas commented on #7696
@stokowski, will be sending a fix shortly to allow virtual style endpoint, this is currently not allowed

[2019-06-06 14:49] kmualem opened #7756 "PutObjectRequest Unable to unmarshall response (Java 2 SDK)"
## Expected Behavior

I would like to succesfully put an object in the bucket, while I'm using the AWS java2 SDK and minIO

## Current Behavior

I'm getting an exception while sending PutObjectRequest using the AWS Java2 SDK.
The exception is:
software.amazon.awssdk.core.exception.SdkClientException: Unable to unmarshall response (Invalid base 16 character: '-'). Response Code: 200, Response Text:

[2019-06-06 15:02] nitisht commented on #7756
Thanks for reporting @kmualem we'll take a look

[2019-06-06 15:07] harshavardhana commented on #7756
If you want ETag to be md5sum then run MinIO in --compat mode, this is expected behavior by default.

[2019-06-06 15:30] victornoel commented on #7754
@kannappanr thx. About `client_body_buffer_size`, do you mean to set to something bigger than the request body size?

As a complement, we did more tests and this is apparently not related to timing, because even with a 60Mo file uploaded under 1min, the same happened.

Also, after a bit of exploration, we noticed in the container kernel logs the following at the same time of the nginx signal 9:
[c

[2019-06-06 15:32] harshavardhana commented on #7754
nginx is buffering the request here and your cgroups memory policy is killing the process.

[2019-06-06 15:47] victornoel commented on #7754
@harshavardhana yes I can see that, I wonder a few things:
- why does nginx takes so much memory if, as the logs seem to say, it is buffering on disk
- why nobody has hit this? Our setup is quite typical
- what can be done to avoid this problem, maybe with the help of minio via chunking instead of sending all 22Mo at once

[2019-06-06 15:49] harshavardhana commented on #7754
It is your nginx configuration, you should turn off all buffering. We mention this in our documentation effective reverse proxy is to not cache/buffer unless you know what you are doing.

[2019-06-06 15:50] victornoel commented on #7754
@harshavardhana ok, I will try this as soon as possible and close this then :) thanks

[2019-06-06 17:17] stokowski commented on #7696
ok, great

[2019-06-06 17:28] kmualem commented on #7756
Thanks @nitisht @harshavardhana for your response!

@harshavardhana - I didn't want a special setting for the PutObjectRequest that I made, but just to upload a simple file to a bucket using the MinIO and updated java SDK of AWS

I'm running the MinIO in a docker container, image version RELEASE.2019-06-04T01-15-58Z
I don't have any special configuration in the docker-compose

Does the '-' charact

[2019-06-06 17:30] harshavardhana commented on #7756
yes It is a new change where we don't compute md5sum for ETag if the client doesn't set Content-Md5   if you want md5sum ETag without Content-Md5 set by the client then start MinIO in `minio server --compat` mode.

[2019-06-06 17:33] kmualem commented on #7756
Can I configure it inside the docker-compose?

[2019-06-06 17:34] harshavardhana commented on #7756
Yes definitely paste your docker-compose example? @kmualem

[2019-06-06 17:38] kmualem commented on #7756
I can't paste it now because I'm not near my development environment...

[2019-06-06 17:42] kmualem commented on #7756
My current docker-compose is very basic... so, It will be great if you can just tell me where should I locate the compact settings.

Thanks for your help!

[2019-06-06 18:21] harshavardhana commented on #7756
All you need is this

[code]

[2019-06-06 19:41] krishnasrinivas commented on #7661
Can you guys verify with this build:
https://krishna-downloads.s3.dualstack.us-east-1.amazonaws.com/public/minio

We set `Content-Length` explicitly and it seemed to fix the issue with curl. Can you please let us know if it fixes the issue with nginx too?

[2019-06-06 20:05] xoraingroup commented on #7634
@kannappanr is it going to be fixed in june end release?

[2019-06-06 21:34] kaankabalak commented on #7634
@xoraingroup My apologies for the delay, I was unavailable for a while in the past few weeks. I am taking a look at it right now and I think this can be fixed by latest end of June.

[2019-06-06 23:35] kaankabalak commented on #7634
@xoraingroup I was not able to reproduce the issue on https://play.minio.io:9000, which runs the latest MinIO version. Could you try using something similar to the following code sample if possible? Thanks and please let me know if this doesn't work.

[code]

[2019-06-06 23:51] deekoder commented on #7744
Ok i tried it on windows 8 and it works for me.

[2019-06-06 23:52] deekoder commented on #7744
We will look at it @MatinF right now we have some other issues of higher priority. We will take a look when there are some cycles.

[2019-06-07 00:46] #7587 closed, assigned to harshavardhana, eco-minio

[2019-06-07 05:02] nitisht commented on #7748
This means that MinIO server is running as expected and it is clearly a problem with the proxy configuration.

Lets try Nginx only for now and try to get it working. Can you paste whole Nginx config here for us to take a look?

[2019-06-07 08:24] revengel commented on #7748
This is nginx config:
[code]

[2019-06-07 09:35] victornoel commented on #7754
@harshavardhana I understand it is related to nginx, but I just can't make it work in what is a very typical deployment of minio with both official charts of minio and nginx-ingress.

- the documentation says to disable `proxy_buffering` which was already disabled.
- I also disabled `proxy_request_buffering` without success: nginx seems to still buffer the request. But since it does this on disk,

[2019-06-07 10:07] victornoel commented on #7754
As a complement, maybe the minio team recommends another ingress implementation than nginx for optimal functioning?

[2019-06-07 15:01] aead commented on #7753
@thefiddler Hi, can you describe why e.g. SSE-S3 does not work for you? I would be really interested in an S3 use case that *requires* SSE-KMS and cannot be implemented with SSE-S3.

[2019-06-07 15:18] shernshiou commented on #7753
@aead we faced a situation where we need to deploy minio as a gateway to an S3 that is configured to be using only SSE-KMS. It is purely architecture design provided by vendor, we are not sure what is the use case.

[2019-06-07 15:57] harshavardhana commented on #7754
// cc @wlan0 ^^

[2019-06-07 20:48] kannappanr commented on #7754
@wlan0 can you PTAL

[2019-06-07 21:07] kannappanr commented on #7542
Closing this is as stale. Please feel free to send a PR.

[2019-06-07 21:07] #7542 closed, assigned to nobody

[2019-06-07 21:10] kannappanr commented on #7484
Closing this as stale. Will re-open when we have the requested information.

[2019-06-07 21:10] #7484 closed, assigned to nobody

[2019-06-07 22:40] kannappanr commented on #7362
Closing this as stale. please feel free to let us know, when you have time to work on this and we can re-open this issue.

[2019-06-07 22:40] #7362 closed, assigned to nobody

[2019-06-07 23:11] aead commented on #7753
@shernshiou See [this](https://aws.amazon.com/blogs/security/how-to-prevent-uploads-of-unencrypted-objects-to-amazon-s3/) AWS S3 doc. Adding a policy entry ` "s3:x-amz-server-side-encryption": "AES256"` would solve that problem.

### Background information

I've objections to add `SSE-KMS` support since it adds quite some (configuration) complexity - in particular it requires sync. between the Min

[2019-06-08 11:25] xxxsen opened #7762 "connection may hang when use http1.0"
minio server dont close the connection occasionally when use http1.0.

## Expected Behavior

minio server close connection normally

## Current Behavior

minio server hangs connection

## Possible Solution

use http1.1

## Steps to Reproduce (for bugs)

run this cmd but it it not 100% to reproduce

127.0.0.1:1800 is the addr which minio server listen
[code]

## Context

someone who use nginx but n

[2019-06-08 14:12] harshavardhana commented on #7762
Yes we reproduced this already as a Go upstream issue since Go 1.12, we do have a fix in #7661

Closing as duplicate of #7661

[2019-06-08 14:12] #7762 closed, assigned to nobody

[2019-06-08 14:13] harshavardhana commented on #7661
@krishnasrinivas can you send the PR anyways since we know the fix?

[2019-06-08 14:45] kannappanr commented on #7667
ping @sinhaashish

[2019-06-09 20:15] #7367 closed, assigned to nobody

[2019-06-09 21:37] tooptoop4 opened #7765 "[resolved] feature req - s3 gateway without s3:HeadBucket"
**Is your feature request related to a problem? Please describe.**
My organisation does not allow s3:HeadBucket access as different teams share the same root bucket but instead have different slices. ie team1 gets bucket123/team1/.../ and team2 gets bucket123/team2/.../

**Describe the solution you'd like**
I would like minio s3 gateway to be able to read s3 objects from bucket123/team1/.../ onwar

[2019-06-09 22:52] harshavardhana commented on #7765
Already fixed in master

[2019-06-10 00:24] tooptoop4 commented on #7765
is it on docker? edge tag still has the issue

[2019-06-10 06:49] kmualem commented on #7756
Thanks @harshavardhana
I tried to add contentMD5 to the PutObjectRequest and I looks fine now.
I'm using the SDK funcation for the MD5 calculation:
`Md5Utils.md5AsBase64`

1. Can you please advise what is the pros/cons for setting the contentMD5 as part of the request?
Is it better than running on compat mode?
2. From your docker-compose file, Can you please explain what is the goal to have multip

[2019-06-10 07:43] kannappanr commented on #7765
@tooptoop4 with `mc` are you able to repro this issue?  Does an example command like `mc ls alias1/bucket123/team1/` work for you?,  Can you describe exactly what you are seeing with the browser and what you are expecting to see?

[2019-06-10 15:01] harshavardhana commented on #5742
Fixed by #7569

[2019-06-10 15:01] #5742 closed, assigned to sinhaashish

[2019-06-10 15:02] harshavardhana commented on #7623
This is fixed in #7569

[2019-06-10 15:02] #7623 closed, assigned to nitisht

[2019-06-10 16:26] harshavardhana commented on #7756
contentMD5 is generally present for legacy reasons, it is not a serious checksumming scheme for verifying uploaded content. We deprecated this because md5sum incurs performance drops on high-performance disks such as NVMe and it's not reliable. md5sum can also be not optimized further.

This is an example to show distributed setup - you can run MinIO in multiple modes

- single disk standalone
- m

[2019-06-10 23:03] tooptoop4 commented on #7765
@kannappanr
/ # mc config host add s3 https://s3.amazonaws.com acc sec --api s3v4
Added `s3` successfully.
/ # mc ls s3/bucket123/team1/
mc: <ERROR> Unable to stat `s3/bucket123/team1/`. Get https://s3.amazonaws.com/bucket123/?location=: dial tcp 52.xxx.xxx.xxx:443: i/o timeout.

expecting to see objects from s3 in the browser but browser is not showing anything on main page or under search of buc

[2019-06-10 23:30] harshavardhana commented on #7765
Without being able to list buckets we can't know which bucket you have access to @tooptoop4 so browser case cannot be supported in the current implementation requirements.

[2019-06-11 04:51] kannappanr commented on #7756
@kmualem closing this issue as answered. Please feel free to reach out to us on slack at https://slack.min.io for further questions like these.

[2019-06-11 04:51] #7756 closed, assigned to sinhaashish

[2019-06-11 04:53] kannappanr commented on #7753
ping @shernshiou Please let us know if you think this issue can be closed?

[2019-06-11 04:55] kannappanr commented on #7765
@tooptoop4 Without `listobjects` permission, you will not see any objects under the object or prefix. So, Gateway looks to work as expected.

[2019-06-11 06:14] shernshiou commented on #7753
@kannappanr I will get back to you after my discussion with @thefiddler

[2019-06-11 06:54] tooptoop4 commented on #7765
@kannappanr - i have listobjects (aws cli works for s3/bucket123/team1/), just dont have listbuckets/headbucket

[2019-06-11 07:17] harshavardhana commented on #7765
For browsers it's not possible to support such things, since we don't know which bucket you have access to. We would have to somehow take this as part of your URL endpoint input.

We will discuss and let you know. It is not going to be a high priority item for us at the moment.

[2019-06-11 08:14] lmf5103510 commented on #6220
minio Version: 2019-06-04T01:15:58Z
Hadoop 3.1.2
still get this issue:

Working with:
hadoop fs -ls  s3a://spark-new/

show me :

Found 1 items
-rw-rw-rw-   1 root root          5 2019-06-09 22:48 s3a://spark-new/test.json

while:
hadoop fs -ls  s3a://spark-new/test.json

ls: s3a://spark-new/test.json: getFileStatus on s3a://spark-new/test.json: com.amazonaws.services.s3.model.AmazonS3Exception: F

[2019-06-11 08:17] nitisht commented on #6220
@lmf5103510 please create a new issue with details

[2019-06-11 08:30] lmf5103510 opened #7766 "403 Forbidden error while doing hadoop ls"
When trying to do haddop fs -ls to list files/folders, minio server is throwing 403; Error Code: 403 Forbidden.  Related issue #6220
## Expected Behavior
hadoop fs -ls  s3a://spark-new/test.json

and

hadoop fs -ls  s3a://spark-new/

should both work

## Current Behavior
Only
hadoop fs -ls  s3a://spark-new/
is working, shows:
Found 1 items
-rw-rw-rw-   1 root root          5 2019-06-09 22:48 s3a:/

[2019-06-11 08:32] aead commented on #7753
@shernshiou You can also ping me in our [slack channel](https://slack.min.io/) and we discuss your use case in detail (more privately).

[2019-06-11 09:51] orevial opened #7767 "su-exec not found on edge version of Docker image"
## Expected Behavior
Minio docker image is expected to run by launching the command depicted in the documentation:
[code]

Previous command should launch the container and we should have a running server with log such as this one:

[code]

## Current Behavior
Instead of a working server we get an error:
[code]

## Possible Solution
The bug has been introduced with [this commit](https://github.com/

[2019-06-11 09:53] nitisht commented on #7767
Thanks for reporting @orevial we'll take a look

[2019-06-11 10:33] nitisht commented on #7767
@orevial could you please validate if #7768 fixes the problem..

[2019-06-11 11:25] orevial commented on #7767
Just tested, it works with #7768 :+1:

[2019-06-11 14:03] kannappanr commented on #7766
@lmf5103510 Thanks for filing this issue. Will try to repro this error and get back to you.

[2019-06-11 16:32] #7767 closed, assigned to nitisht

[2019-06-11 16:34] harshavardhana commented on #7766
This looks wrong, you are listing test.json instead Hadoop is listing /user/root ?

[2019-06-11 19:24] fgma opened #7769 "2019-06-11T00-44-33Z breaks user policy"
## Expected Behavior

After upgrading to the latest version user policies should continue to work as before.

## Current Behavior

User policies work using 2019-06-04T01-15-58Z but not anymore with 2019-06-11T00-44-33Z.  Before the upgrade users can login and access their files via the webinterface. After the upgrade they can still login but no buckets or files are visible anymore. Downgrading mak

[2019-06-11 19:43] harshavardhana commented on #7769
Are you using minio in server mode or gateway? @fgma

[2019-06-11 19:47] fgma commented on #7769
I'm running it in server mode.

[2019-06-11 22:41] harshavardhana commented on #7769
Reproduced this @fgma sending a fix.

[2019-06-12 02:06] lmf5103510 commented on #7766
Sorry, I copied wrong log. I tried again:

hadoop fs -ls  s3a://spark-new/
Found 1 items
-rw-rw-rw-   1 root root          5 2019-06-09 22:48 s3a://spark-new/test.json

hadoop fs -ls  s3a://spark-new/test.json
ls: s3a://spark-new/test.json: getFileStatus on s3a://spark-new/test.json: com.amazonaws.services.s3.model.AmazonS3Exception: Forbidden (Service: Amazon S3; Status Code: 403; Error Code: 403

[2019-06-12 04:05] #7661 closed, assigned to Praveenrajmani

[2019-06-12 13:29] MontyGvMC commented on #7634
I observed the invalid request response after a minio update when uploading/downloading using a presigned url AND (accidentally) having an Authorization header with a JWT Bearer token set. Removing the authorization header/JWT token when using presigned URLs got rid of the invalid request.

From my point of view it could be that Minio server gets confused when receiving multiple authorization meth

[2019-06-12 16:03] jtackaberry opened #7773 "Use of su-exec now requires container be started as root"
As of RELEASE.2019-06-11T00-44-33Z, minio now fails to run in my environment.  Regression ostensibly introduced by #7569.

[code]

Given this `docker-compose.yaml`:

[code]
Here, Docker takes care of launching the container as uid 1001.  Minio's attempt to drop privileges ironically fails because it starts unprivileged.

[2019-06-12 16:18] alexp700 opened #7775 "Bring back config as text files"
We've been using minio for the last couple of years and its great. However we have had some problems recently. It turns out our version was stuck pre deprecation of config.json. We've worked around this and ready for the future.

However I'd like to add my small voice in defence of simple, easy to manage text files. Many systems have got over complicated with programs to configure stuff.  My reque

[2019-06-12 16:34] kaankabalak commented on #7634
Thanks for the insightful comment @MontyGvMC! We will take a look if this might be causing any problems. At the meantime, @xoraingroup could you check if this might be the case for you?

[2019-06-12 17:10] harshavardhana commented on #7775
@alexp700 having bigger binaries is not a big deal for most deployments, if you are worried about that then it is unfortunate but it was necessary for us to support various situations where we had to go the binary route and we don't plan on going back.

Config won't be brought back as text files either - the reasoning is a simplification of the config system. Editing config.json is prone to errors

[2019-06-12 17:10] #7775 closed, assigned to nobody

[2019-06-12 19:16] #7773 closed, assigned to harshavardhana

[2019-06-12 21:49] #7769 closed, assigned to harshavardhana

[2019-06-12 23:37] nopjmp opened #7780 "Healthcheck fails when using a docker network."
I'm running minio using a docker network with traefik in front of it.

## Expected Behavior
healthcheck returns 0

## Current Behavior
healthcheck returns 1
2019/06/12 23:27:48 Get http://127.0.0.11:38673/minio/health/live: EOF

## Possible Solution
root@tohru:/srv/traefik# docker exec services_minio_1 healthcheck
2019/06/12 23:27:48 Get http://127.0.0.11:38673/minio/health/live: EOF
root@tohru:/s

[2019-06-13 04:23] blackandred commented on #7780
Having the same issue with image `e31e8933bba3`. The health check gives a bad status code, so my monitoring is keeping alerting me.

[2019-06-13 07:02] harshavardhana commented on #7634
This is expected @MontyGvMC it was never documented that you should set authorization header and also pre-signed requests.

It is expected that multiple schemes are not provided for authentication in a single request. Server treats them as malicious requests. We made the server behave stricter now and expose bugs in incorrectly implemented clients.

[2019-06-13 09:22] LKneringer opened #7782 "C# Upload/Download not working when using Amazon S3 Client with umlaut in object name"
The Amazon S3 client lets me upload and download files with umlauts (ä, ö, ü) in their name, and so does MinIO. However, using the Amazon S3 client while using MinIO throws an exception when the key to store the file at contains an umlaut.

Code using the Amazon S3 client:
[code]
Code using the MinIO client:
[code]

The exception reads:

## Expected Behavior
We expect that the Amazon S3 client wou

[2019-06-13 11:17] fdaone commented on #6541
Hi

First of all, sorry for adding to a closed issue. However, I wanted to share my experience with this as I upgraded our MinIO cluster this week from an ancient version (RELEASE.2018-01-02T23-07-00Z) to RELEASE.2019-06-04T01-15-58Z. So roughly an 18 month jump. :) It was long overdue but we were simply nervous to upgrade due to the size of the object store (more than 20 million objects - mostly

[2019-06-13 11:55] kannappanr commented on #7782
@LKneringer Thanks for filing this issue. We will take a look.

[2019-06-13 19:15] mikepuglisi commented on #5964
@nitisht

Do you mean 4 disks for each node? I read your comment and bought 4 drives, but the documentation suggests to me that a 2 node minio setup might need 4 drives for each node.

"Note that with distributed MinIO you can play around with the number of nodes and drives as long as the limits are adhered to. For example, you can have 2 nodes with 4 drives each..."

https://docs.min.io/docs/dist

[2019-06-13 20:15] nreynis opened #7783 "SSE-C key does not support base64, only ASCII printable characters"
It seems that SSE-C keys do not support base64 encoded keys, despite the [documentation](https://docs.min.io/docs/how-to-use-minio-s-server-side-encryption-with-aws-cli.html) stating the contrary.

I'm using the official minio docker container.

When using the javascript aws-sdk I got 403 errors. If I use a plaintext key instead of a base64 encoded one, everythings works fine.

I also reproduce th

[2019-06-13 20:19] harshavardhana commented on #7783
Closing as duplicate of https://github.com/minio/mc/issues/2678

[2019-06-13 20:19] #7783 closed, assigned to nobody

[2019-06-13 20:32] nreynis commented on #7783
@harshavardhana While the issue seems to overlap it's not limited to the minio/mc client. The server component is also concerned.

[2019-06-13 20:38] harshavardhana commented on #7783
Server implementation is correct in accordance with AWS S3 spec.

[2019-06-13 20:40] harshavardhana commented on #7783
In your case the issue is because mc internally converts the key into base64, it doesn't expect you to do base64 prior.