[2019-08-08 15:17] citiz3nn commented on #8039
@nitisht, here are the file.
[describe-minio-0.log](https://github.com/minio/minio/files/3482453/describe-minio-0.log)
[describe-minio-1.log](https://github.com/minio/minio/files/3482454/describe-minio-1.log)
[describe-minio-2.log](https://github.com/minio/minio/files/3482455/describe-minio-2.log)
[describe-minio-3.log](https://github.com/minio/minio/files/3482456/describe-minio-3.log)

[2019-08-08 16:06] harshavardhana commented on #8041
Thanks will take a look

[2019-08-08 16:19] nitisht commented on #8039
MinIO pods seem to be OOMKilled @briareosiso , how much memory you have on these pods?

[2019-08-08 16:38] citiz3nn commented on #8039
@nitisht, they had :
[code]
Now, we have a limit to:
[code]

[2019-08-08 16:39] nitisht commented on #8039
Can you set the request to 2Gi

[code]

[2019-08-08 16:43] harshavardhana commented on #8039
Don't set such limits if you are planning to heavily use MinIO server, set the value in accordance with number of concurrent requests you need the servers to handle.

1000 concurrent requests you need 10GiB of memory. All of this will be reused but you shouldn't arbitrarily limit the memory usage without prior testing.

[2019-08-08 17:24] kannappanr commented on #8011
@heavenwing Not sure what we can do here. Closing this issue, please feel free to reopen the issue if you have further questions

[2019-08-08 17:24] #8011 closed, assigned to poornas

[2019-08-08 17:29] rldleblanc opened #8042 "Please add cache hit and miss metrics"
It would be really useful to have some cache hit and miss metrics on the Prometheus stats page.

Cache hit count
Cache miss count
Cache hit bytes
Cache miss bytes

The last two are not as critical as the first two, but can help gauge how effective cache is for bandwidth (i.e. a few very large objects being hit, vs lots of small objects being missed).

[2019-08-08 17:32] kannappanr commented on #8042
@rldleblanc Thanks for the suggestion. we will talk internally and try to incorporate the metrics suggested in this issue.

[2019-08-08 17:33] rldleblanc commented on #8042
I don't expect persistent cache stats, just the life of the process would be sufficient.

[2019-08-08 19:40] maihde opened #8044 "Buckets created /remove directly in single disk mode are not recognized in federated mode."
If you run MinIO in single  drive mode (i.e. `minio server /data`) it will recognize buckets that are created directly in the folder (i.e. `mkdir /data/bucketname`).

If you run that same server in federated mode, if a bucket is created directly it will not show up in the bucket list (either direct or federated calls) until the server is restarted.

While the documents indicate that MinIO supports

[2019-08-08 19:41] harshavardhana commented on #8044
This is expected @maihde it is a feature to allow existing buckets, but after the server has started you shouldn't be messing with the backend.

[2019-08-08 19:44] harshavardhana commented on #8044
Modifying the backend without using S3 API is considered intrusive and is considered as corrupting the backend.  Expecting MinIO server to listen on such things is out of scope for the implementation.

There is no way technically to correctly do it as well to listen on such events FS mode is expected to work on NFS and NFS doesn't support fsnotify.

[2019-08-08 19:51] harshavardhana commented on #8044
Adding code to handle weird cases like this unnecessarily complicates the server implementation, I don't know what is special about writing to backend which cannot be done with like `mc mb` which will essentially create the bucket and also make a proper entry for DNS purposes.

[2019-08-08 20:09] maihde commented on #8044
Thanks @harshavardhana .  I anticipated this might be the case.  Thanks for taking the time to consider the issue, you may close it.

I agree with you, there are alternatives such as  `mc mb`.  This issue was raised primarily because MinIO behaves differently when you have federation enabled versus when you don't and the documentation doesn't provide guidance on what the supported behavior should

[2019-08-08 20:14] harshavardhana commented on #8044
This we should document and make it explicit.

[2019-08-08 22:44] #8041 closed, assigned to harshavardhana

[2019-08-08 23:26] harshavardhana commented on #8044
Going to close this issue, we will update the document.

[2019-08-08 23:26] #8044 closed, assigned to nitisht

[2019-08-08 23:27] #7961 closed, assigned to nobody

[2019-08-08 23:27] harshavardhana commented on #7961
Closing this as non actionable for us.

[2019-08-09 01:34] rldleblanc commented on #8042
We are trying to get a clear picture of how much caching is helping to localize our AWS S3 data. It doesn't seem that `minio_network_received_bytes_total` include traffic from AWS and similarly `minio_network_sent_bytes_total` doesn't include traffic to AWS (since we are only reading from AWS, I can't tell). It would be nice to see those metrics. I'm guessing a gateway won't be serving objects so

[2019-08-09 02:21] Fabricio20 opened #8045 "S3 Gateway Multi-user"
**Is your feature request related to a problem? Please describe.**
I'm currently trying to set up an S3 Gateway, where a set of internal machines don't have internet access but a gateway machine exists, which has external internet access to a backend provider.

MinIO in S3 Gateway mode works perfectly for this, except that I need to configure per-bucket-per-user access control. I read about multi-

[2019-08-09 02:32] harshavardhana commented on #7986
Closing this issue as answered. Let us know if you have further questions @CyberCyclone

[2019-08-09 02:32] #7986 closed, assigned to harshavardhana

[2019-08-09 02:33] harshavardhana commented on #8045
You can multi-user in gateway with etcd @Fabricio20 - this is already supported and used by quite a few people.

Feel free to join our slack https://slack.min.io for more information

[2019-08-09 02:49] harshavardhana commented on #8012
This is already fixed in #8006 `--compat` is only meant for applications which rely on ETag being md5sum hex.

ETag is hex of md5sum if client sets content-md5 appropriately. If client didn't set then it is assumed that client is not interested in the integrity based on md5sum. AWS already recommends using x-amz-content-sha256 for such verification of content integrity.

It is infact the best inte

[2019-08-09 02:49] #8012 closed, assigned to nobody

[2019-08-09 02:53] harshavardhana commented on #8005
How are things going ??

[2019-08-09 02:55] harshavardhana commented on #7993
It is related to tcp6 @greg-dobedobedo

[2019-08-09 02:56] harshavardhana commented on #7988
I think this is already fixed @donatello ??

[2019-08-09 03:10] harshavardhana commented on #7851
We decided to keep the current feature as is, since we have other users dependent on it. Closing this issue as won't fix.

[2019-08-09 03:10] #7851 closed, assigned to vadmeste

[2019-08-09 03:51] ahmadalli commented on #7180
I'm having the same issue with distributed minio
After using `mc mirror` I'm seeing high cpu usage on 2 of my 3 servers. I didn't restart minio service from last night and now they have load average of `340` and htop shows way more minio processes on the 2 servers with 340 load.

[2019-08-09 04:02] harshavardhana commented on #7180
Please open a new issue @ahmadalli

How are you running MinIO server - have you provided MinIO entire disk or just a sub-path inside a mount point ?

[2019-08-09 04:40] ahmadalli opened #8047 "minio.sha256sum must belong to minio file not minio.RELEASE..."
I'm trying to download minio using ansible with this task:
[code]

I'm getting error

because I'm downloading `minio` file but the sha belongs to `minio.RELEASE.2019-08-07T01-59-21Z` file

## Expected Behavior
`minio.sha256sum` must belong to `minio` file

## Current Behavior

`minio.sha256sum` belongs to `minio.RELEASE.2019-08-07T01-59-21Z`

## Possible Solution

use `minio` file for `minio.sha25

[2019-08-09 04:51] ahmadalli opened #8048 "minio update breaks minio if you configured --address :80"
minio update breaks minio since it won't have the capability to listen to 80 port. if you're on the distributed mode the cluster won't be back up since the nodes can't communicate with each other.

## Expected Behavior
the updated minio must have the same capabilities as the older version

## Current Behavior
minio binary loses the capability to listen to privileged ports after update

## Possible

[2019-08-09 05:45] ahmadalli opened #8049 "High load on distributed mode"
I have 3 server (2 disks per each server) cluster of minio. When I sync from another minio instance to this cluster, 2 of my 3 nodes gain high load.

I've tried `mc mirror source dest` and `rclone sync source dest --transfers=1024 --checkers=1024` and both causes cluster to go to this state.

## Expected Behavior
having normal load on cluster nodes

## Current Behavior
2 of my 3 nodes gain high lo

[2019-08-09 05:45] ahmadalli commented on #7180
@harshavardhana I've created new issue: https://github.com/minio/minio/issues/8049

[2019-08-09 05:51] harshavardhana commented on #8049
Can you provide your MinIO server command line?

[2019-08-09 05:55] ahmadalli commented on #8049
I've used systemd service for it: https://github.com/minio/minio-service/blob/master/linux-systemd/distributed/minio.service

with this: `/etc/default/minio`
[code]

[2019-08-09 05:57] harshavardhana commented on #8049
Is your disk mounted at /mnt/export1 and /mnt/export2 ?

[2019-08-09 06:00] ahmadalli commented on #8049
`/mnt/export1` is my root disk and the second disk is mounted on `/mnt/export2`

[2019-08-09 06:05] ahmadalli commented on #8049
after restarting minio service, there's still some load (while this instance is not being used at all) on that 2 servers. is it because the cluster is rebalancing and syncing?

[2019-08-09 06:09] harshavardhana commented on #8049
It is because it is crawling to check disk usage on your first disk, if you provide first disk an actual disk it won't crawl and you won't see the load.

The load will reduce after the usage routine has completed..

[2019-08-09 06:12] ahmadalli commented on #8049
so if I switch `/mnt/export2` with `/mnt/export1`, export1 will become my actual disk and the initial load won't happen?

[2019-08-09 06:25] harshavardhana commented on #8049
No you need them to be two separate disks..  you need actual disk at /mnt/export1, currently it is a sub-directory on your root path /

[2019-08-09 06:26] kannappanr commented on #8047
@ahmadalli Thanks for filing this issue. Will fix it.

[2019-08-09 06:27] harshavardhana commented on #8047
Why don't you use minio.RELEASE ? instead @ahmadalli

[2019-08-09 06:28] ahmadalli commented on #8049
ok I'll add another disks to servers and test the cluster again

[2019-08-09 06:30] ahmadalli commented on #8047
@harshavardhana  I want to have the latest version downloaded

[2019-08-09 06:32] kannappanr commented on #8045
please look into our docs at https://github.com/minio/minio/blob/master/docs/gateway/s3.md
https://github.com/minio/minio/tree/master/docs/multi-user and https://github.com/minio/minio/tree/master/docs/federation/lookup
etc-d is explained here in the context of federation, but you can simply just learn how to setup etcd from the doc. With these three docs you should be able to setup multi-users in

[2019-08-09 06:32] #8045 closed, assigned to nobody

[2019-08-09 06:33] kannappanr commented on #8039
Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2019-08-09 06:33] #8039 closed, assigned to nobody

[2019-08-09 08:26] gregopenit commented on #7993
Ok. Just to let you know, I have got an inter-service communication issue (not minio services) which was also related to IPv6 too.

The root cause was the way that we disabled IPv6 with the 'ipv6.disable=1' kernel parameter. Docker 19.03 does not seem to like it. Some errors are also displayed in log:

By switching to sysctl settings, it's much better and our tcp6 error in netstat disappear too.

[2019-08-09 08:28] #7993 closed, assigned to nitisht

[2019-08-09 08:29] nitisht commented on #7993
Thanks for the info @greg-dobedobedo . In any case healthcheck should be able to test if MinIO is responding or not, irrespective of IPv6 being disabled/enableed, so a fix is needed.

[2019-08-09 10:17] jappyjan opened #8050 "XML Parse Error"
## Expected Behavior
Uploading a File through the JavaScriptSDK (putObject()) creates a new File on the Minio Instance.

## Current Behavior
The putObject() method fails throwing an "S3Error" with code "unknownError". Following the Stracktrace you end up at the xml-parser.js on line 61 with the error "Unexptected close tag Line: 5 Column: 7 Char: >"

## Steps to Reproduce (for bugs)
1. Setup a Fre

[2019-08-09 11:33] kattakarthik commented on #8005
Deployed minio with -race flag... Didn't hit issue yet. I will get back to you as soon as the issue is reproduced.

[2019-08-09 12:44] maihde opened #8051 "`initFederatorBackend` doesn't clean-up stale entries."
The `initFederatorBackend` adds new buckets to the global DNS on startup; but if a bucket is removed while MinIO is stopped it doesn't remove the bucket.   This can leave stranded entries in `etcd` that show up but cannot be deleted using the S3 API.   This is because handlers associated with removing the bucket.

## Expected Behavior
In federated mode, MinIO cleans up DNS entries that are associa

[2019-08-09 13:55] kannappanr commented on #8050
@jappyjan This is probably a `minio-js` issue. Can you provide more information like what version of `minio-js`, version of `minio`, size of the file in question here etc.

[2019-08-09 14:01] kannappanr commented on #8048
@ahmadalli  Are you updating `minio` to itself? If not what is the older version of `MinIO` used here. Also we do not support rolling upgrades in the newer version. You will have to replace the binary on all the nodes and restart the cluster.

[2019-08-09 14:38] jappyjan commented on #8050
im using minio js in version ^7.0.10
the minio version is the latest available pulled from dockerhub ( minio/minio:latest )

size of file varies/the hole file varies.

it's an audio recorder application which sends its recorded audio to minio.
i never tried sending the same file multiple times...

[2019-08-09 14:45] jappyjan commented on #8050
i just tried just sending a simple string "hello world".
same result.

[2019-08-09 14:50] ahmadalli commented on #8048
sorry about version. I updated minio from previous version to the current version. after restart cluster nodes couldn't connect to each other and after a while I figured it's because they lost the capability and after re-adding the capability the issue was resolved.

[2019-08-09 15:51] harshavardhana commented on #8048
If you enabled setcap they can't be auto honored if you did `minio update` because for setcap you need root access.

So it is your responsibility to do it, or use docker like containers to provide such capabilities automatically.

I don't think we can do anything to fix this @ahmadalli

[2019-08-09 15:53] harshavardhana commented on #8051
Can you send the prototype solution?

[2019-08-09 15:54] ahmadalli commented on #8048
the least you can do is show a warning to the user or if minio update is called from a root user I think you can add the permission to the file

[2019-08-09 15:54] harshavardhana commented on #8005
Thanks @kattakarthik

[2019-08-09 15:57] harshavardhana commented on #8050
Can you share the code that you wrote?

[2019-08-09 16:20] kaankabalak commented on #8050
@jappyjan Could you also paste the output of `npm list minio` to see the exact version of `minio-js` that is installed on your setup please?

[2019-08-09 17:16] harshavardhana commented on #5139
This feature is merged into master and with documentation https://github.com/minio/minio/tree/master/docs/lifecycle

Will be part of released version next week. Closing this as fixed..

[2019-08-09 17:16] #5139 closed, assigned to vadmeste, krisis

[2019-08-09 17:23] #4258 closed, assigned to rushenn

[2019-08-09 20:09] jappyjan commented on #8050
How i create a Minio Connection:

    import {Client} from 'minio';
    import Config from '../../config/Config';

    const config = Config.get('minio');
    const con = new Client({
        endPoint: config.endpoint,
        port: config.port,
        useSSL: config.ssl,
        accessKey: config.accessKey,
        secretKey: config.secretKey,
    });

How i put a file:

    public put(content:

[2019-08-09 20:52] kozchris opened #8055 "debug level setting not sticking"
setting the debug level as show in https://github.com/minio/minio/issues/2815 does not seem to work

## Expected Behavior

I expect that setting the log level to debug should update the debug level.

## Current Behavior

Configuration is updated and minio is restarted. Retrieving the option shows that the configuration has not changed.

$ mc admin config set cd/ < minio.json
Setting new MinIO conf

[2019-08-09 20:54] harshavardhana commented on #8055
There is no debug logging in our logs @kozchris we only support error logging to console - if you are looking at trace logging use `mc admin trace` command

[2019-08-09 21:03] harshavardhana commented on #8015
PR available for testing at #8032

[2019-08-09 21:17] kozchris commented on #8055
ok, thanks

[2019-08-10 00:09] #6265 closed, assigned to poornas

[2019-08-10 00:09] #6630 closed, assigned to poornas

[2019-08-10 00:09] #7573 closed, assigned to poornas

[2019-08-10 00:09] #6934 closed, assigned to poornas

[2019-08-10 00:09] #7938 closed, assigned to poornas

[2019-08-10 00:11] harshavardhana commented on #7869
Fixed by #7694

[2019-08-10 00:11] #7869 closed, assigned to nitisht

[2019-08-10 00:11] harshavardhana commented on #7935
Closing this as fixed by #7694 please re-open if not.

[2019-08-10 00:11] #7935 closed, assigned to poornas

[2019-08-10 00:13] harshavardhana commented on #6250
Fixed by #7694

[2019-08-10 00:13] #6250 closed, assigned to poornas

[2019-08-10 00:14] harshavardhana commented on #7754
@victornoel closing this as nothing actionable on our end

[2019-08-10 00:14] #7754 closed, assigned to wlan0

[2019-08-10 00:15] harshavardhana commented on #7655
@eco-minio can you explain what is not working? and what works in FS mode?

[2019-08-10 00:17] harshavardhana commented on #6143
Entire bit-rot now happens upon reads in a streaming fashion i.e the entire stream is always bit-rot read even if its in page-cache.

@krishnasrinivas does this still make sense to keep this issue open?

[2019-08-10 00:45] kaankabalak commented on #8050
@jappyjan Thanks for sharing the code! Would it also be possible to try the same in `minio-js` version 7.0.10? Also, for further investigation, could you send the full stack trace as well? Thanks in advance!

The following snippet that uses `putObject`, taken from [here](https://github.com/minio/minio-js/blob/master/examples/put-object.js), worked for me on version 7.0.11:
[code]

[2019-08-10 07:35] kattakarthik commented on #8005
[minio_log.txt](https://github.com/minio/minio/files/3488628/minio_log.txt)
[minio_lo2.txt](https://github.com/minio/minio/files/3488630/minio_lo2.txt)

@harshavardhana Please check these two logs..

[2019-08-10 11:40] jappyjan commented on #8050
still the same result.

i will now just put some credentials to my minio instance here (will change them as soon as we found a solution... there are no relevant files on there, so theres like no security issues..)

        minio: {
                endpoint: 'minio.unitect.io',
                port: 80,
                accessKey: 'minio',
                secretKey: 'qyU,8yT^_P$S7Ly*',

[2019-08-10 11:44] kannappanr commented on #8055
Closing this issue. Please feel free to reach out to us at https://slack.min.io for further questions

[2019-08-10 11:44] #8055 closed, assigned to nobody

[2019-08-10 11:47] kannappanr commented on #8048
@ahmadalli Just to make sure that I understand you correctly, do you want us to display a warning to the user if `MinIO` is run under a user with `root` privilege? If yes, will check internally and get back to you.

[2019-08-10 13:16] ahmadalli commented on #8048
no.
I mean there are few things `minio update` could do in order to prevent breaking:
- if current executable has capability to listen on privileged ports, minio could show user a warning with steps that user must do in order to prevent it (e.g. show user run the `setcap` command)
- if `minio update` has been ran with a privileged user, run `setcap` command automatically

[2019-08-10 15:18] harshavardhana commented on #8005
Thank you will do @kattakarthik

[2019-08-10 22:36] kannappanr commented on #8030
ping @Joozty

[2019-08-10 23:04] kannappanr commented on #7242
@harshavardhana Can this be closed and re-opened when we cycles to look at this

[2019-08-10 23:17] harshavardhana commented on #7242
Yes we can close it after confirming once with @abperiasamy

[2019-08-11 01:26] ghost opened #8061 "Testing of Caching Format - Incomplete files being stored in and served from new cache"
I'm testing the new caching format on a minio gateway running in front of a minio cluster.

I'm downloading a very large dataset approx 150GB/1.3m images.

Client accessing this dataset from the gateway are getting corrupted incomplete files.

E.g.

Download entire dataset directly from minio cluster:
[code]

Download entire dataset via the minio gateway:
[code]
As you can see the number of files

[2019-08-11 01:31] harshavardhana commented on #8061
Are you using the latest master @hassbabaie ? we merged the PR already and you can use the latest master and it seems to have fixes already to handle the issue you are mentioning.

would you be interested in a new binary? or you can usage `minio/minio:edge` for the latest master.

[2019-08-11 01:35] ghost commented on #8061
@harshavardhana for the backend cluster I'm using the latest production release. For the Gateways (including the one I'm testing with) I'm using the latest dev release from Poorna. I can do an upgrade on the gateways now? Will it be newer than the one from Poorna. Also Poorna is looking at the issue (and trying to re-produce) via slack and didn't mention it might be a known bug with?

[2019-08-11 01:37] poornas commented on #8061
could you just use master branch for gateway? I don't see an issue AFAICS with a setup similar to yours

[2019-08-11 01:44] ghost commented on #8061
thanks @poornas I think I saw the master now supports the new caching format right, but it's not built?

I'm using the binary versus a docker instance so I would need a link to the latest minio file. Assuming it's newer than https://github.com/minio/minio/tree/RELEASE.2019-08-07T01-59-21Z or on this page https://dl.min.io/server/minio/release/linux-amd64/

if you can share a link and if you would

[2019-08-11 01:48] poornas commented on #8061
https://play.min.io/bin/minio?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=Q3AM3UQ867SPQQA43P2F%2F20190811%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20190811T014750Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=d55a2f1602996fa1a72e2e95672477de718dc1b11b5aff710515dbdb720abff7

[2019-08-11 01:55] harshavardhana commented on #8061
AFAIK this problem was already observed by Robert and we did fix it. You may try from the master for the gateway or the binary just shared by @poornas

[2019-08-11 01:55] ghost commented on #8061
Thanks @harshavardhana  @poornas so just to confirm I will do the following: right:

Clear the cache and upgrade the minio gateway (not the backend cluster)
Then re-run the test

Right?

Thanks

[2019-08-11 01:56] ghost commented on #8061
Thanks @harshavardhana I'll use the link just shared and re-test. Yes I did look back at the slack channel as I was sure Robert would have hit this issue too if it was a bug but didn't spot it.

Thanks

[2019-08-11 02:02] poornas commented on #8061
@harshavardhana, this PR doesn't have a fix to continue writing to cache even after client connection is closed. That was thought to be an edge case.

[2019-08-11 02:15] ghost commented on #8061
FYI, cleared the cache and now the gateway is up and running with the latest release:

Aug 11 02:12:53 svr-miniogw-001 minio[401]: Cache Capacity: 3.6 TiB Free, 3.6 TiB Total

Version: 2019-08-11T01:46:02Z
Release-Tag: DEVELOPMENT.2019-08-11T01-46-02Z
Commit-ID: a0715f3b593111c71a730c36df043e5631717f4d

I'll now run a few tests of the full dataset and I'll post the update

Hass

[2019-08-11 04:43] ghost commented on #8061
@harshavardhana  @poornas FYI, I've now tested multiple times and with increased concurrency and I'm not seeing the issue re-appear so I think it's fixed with the latest binary.

I'll carry on leveraging it tomorrow but so far all is looking good

Thanks

Hass

[2019-08-11 04:44] #8061 closed, assigned to nobody

[2019-08-11 06:31] edude03 opened #8062 "Regression(?) In STS Support in Minio"
Hello, I'm attempting to use the STS support in Minio and I'm finding it's not working. When testing locally I've been using version `RELEASE.2019-02-26T19-51-46Z` when using version `RELEASE.2019-07-17T22-54-12Z` and newer I'm unable to authenticate.

Here's how I'm testing. I wrote a little script to run the docker image to make the test reproducible.

[code]
Then I fetch and set the `AWS_SECRET

[2019-08-11 06:33] harshavardhana commented on #8062
are you setting session token properly? I seem to be able to use it properly.

[2019-08-11 06:34] harshavardhana commented on #8062
Can you provide --debug output from the aws cli ? - also how are you authenticating? are you using client credentials or web identity?

[2019-08-11 06:37] harshavardhana commented on #8062
Also, are you trying to use the STS generated from

and trying to use it with

tag?

I am afraid that may not work since we added extra
claims to JWT and it requires that you generate a new STS
with

[2019-08-11 07:41] edude03 commented on #8062
Hi @harshavardhana, thanks for giving me some leads.

I am regenerating the token between each test, so it's not an issue of using a token with the incorrect version.

the debug output looks like this

[code]

The token is included in the request so it is apparently set correctly.

[2019-08-11 15:13] harshavardhana commented on #8062
Is there a way I can test this ? Using auth0 @edude03 ?

[2019-08-11 15:55] harshavardhana commented on #7282
To be fixed by #8059

[2019-08-11 16:11] BabyBoat commented on #7403
Have you found the way to migrate 1 online minio to another online-minio ? The doc is not very easy to understand for beginners like me

[2019-08-11 16:19] harshavardhana commented on #7403
@BabyBoat please join us on slack https://slack.min.io  for more real-time questions

[2019-08-11 19:54] abessifi commented on #3923
@harshavardhana please any update on my last comment ?

[2019-08-11 20:06] abessifi commented on #4366
From https://docs.minio.io/docs/minio-deployment-quickstart-guide:

@deekoder please correct me if I'm wrong, does the above mean that to increase an existing cluster storage capacity we just have to scale minio horizontally by adding new instances (an instance in this case is a minio service running on a new host with new disks) ?

I'm sorry if I ask about this, but I'm a bit confused especially

[2019-08-11 20:24] harshavardhana commented on #3923
We will be adding https://min.io/resources white paper about multi-cluster deployments @abessifi

[2019-08-11 20:27] harshavardhana commented on #8005
I am working on another build will attach it here once done @kattakarthik

[2019-08-11 20:28] abessifi commented on #3923
Thanks @harshavardhana for the update !

[2019-08-11 23:31] harshavardhana commented on #8005
~[minio.tar.gz](https://github.com/minio/minio/files/3490544/minio.tar.gz)~

@kattakarthik new binary with new changes based on #8063 can you check?

[2019-08-11 23:54] harshavardhana commented on #8005
Hold-off the deployment, checking there is something wrong with the binary. Will report back if there are no issues.

[2019-08-12 00:27] harshavardhana commented on #8005
[minio.tar.gz](https://github.com/minio/minio/files/3490600/minio.tar.gz)

Updated the binary this works and is properly fixed.

[2019-08-12 00:29] kattakarthik commented on #8005
Thanks. We will test and let you know.

[2019-08-12 05:17] #8023 closed, assigned to nobody

[2019-08-12 05:18] Joozty commented on #8030
@kannappanr Hi, since it is production cluster it is not that easy to upgrade. I will let you know when it's done.

[2019-08-12 05:48] kanagarajkm commented on #8050
@jappyjan can you get the output of `mc admin trace <ALIAS> -v` when the `putObject` call fails with XML error.

[2019-08-12 06:12] jappyjan commented on #8050
Hey guys, thank you all for your help.
I just found the solution. I don't know why but it seems like SSL is broken for minio deployed by caprover. And I had "force SSL" activated so even using "ssl: false" in js actually used the SSL connection.
By turning force SSL of I was able to upload files.
Does anyone ever used minio with caprover before? If so, were you able to use SSL?

Am 12.08.2019 07:4

[2019-08-12 07:24] #8047 closed, assigned to nobody

[2019-08-12 08:01] kannappanr commented on #8047
@ahmadalli We have made some changes to our release process. It should starting working the way you expect from next release onwards.

[2019-08-12 08:43] citiz3nn commented on #8039
@harshavardhana. I have one question. For size ram for my cluster, i determines the concurrent requests * 10MB. This is for one pod or for Minio Cluster?

[2019-08-12 12:38] abessifi commented on #7986
Thanks @harshavardhana for these insights !

What about comparing to other S3 implementations like `Swift` and `Ceph Object GW` where horizontal scalability still a core feature from what I understood ?

 your deployment unit. Once you have this setup all future setups/clusters can be federated together at the bucket level ad infinitum.

Do [bucket lookup using federation (etcd +coredns)](https://

[2019-08-12 14:40] keirafadams commented on #6143
If a bitrot read is ever coming from the page-cache, regardless of source, it can potentially miss on-disk corruption. It's certainly not a huge risk as the page-cache usually churns enough over time that a subsequent read will hit the disk, but it is a window of vulnerability.

[2019-08-12 15:20] harshavardhana commented on #7986
They are really no comparison, both are built for a different time and different needs. MinIO is horizontally scalable too but not in a traditional sense as in through federation.  Our idea to break away from the traditional model was to avoid the complexity and keep MinIO deployments predictable.

Of course, has been for a couple of years already with multiple deployments in production.

[2019-08-12 15:39] harshavardhana commented on #8039
Per MinIO process @briareosiso

[2019-08-12 15:50] citiz3nn commented on #8039
Thx you !

[2019-08-12 17:37] aeltawela opened #8065 "UploadPartCopy doesn't work properly in federation mode"
In federation setup, if you tried to copy an object using boto3 [copy](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.copy) function to perform a multipart copy from bucket to another that does not exist on the same setup, it fails. However, [copy_object](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.copy_

[2019-08-12 18:30] harshavardhana commented on #7964
Duplicate of #8016

[2019-08-12 18:30] #7964 closed, assigned to harshavardhana

[2019-08-12 23:14] harshavardhana commented on #8048
What capabilities were given is outside the scope of MinIO you can give / provide many capabilities we have no way of knowing that. Instead, we should make either external calls to `getcap` command or use some form of cryptic Linux only friendly system calls.

If you are already a privileged user there is no point in running `setcap`, we can't run setcap on itself as a process. Linux doesn't allow

[2019-08-12 23:15] harshavardhana commented on #8048
Closing this issue as won't fix, we will add more explanatory error messages instead.

[2019-08-12 23:15] #8048 closed, assigned to harshavardhana

[2019-08-12 23:27] harshavardhana commented on #8062
I am not able to reproduce this @edude03 can you help?

[2019-08-13 01:10] krishnasrinivas commented on #4366
@abessifi we updated our scaling document, please refer to: https://docs.min.io/docs/minio-federation-quickstart-guide.html

Here are some points to note:
* minio uses coredns/etcd to federate multiple minio clusters into a single large namespace
* a bucket is always restricted to just one cluster. i.e a bucket can not grow beyond a cluster

[2019-08-13 01:28] krishnasrinivas commented on #6143
@ifadams as you mentioned page-cache usually churns enough over time.

But important fact that needs to be underlined is minio will never serve corrupted data, i.e even if the data is corrupted on the disk and not corrupted in page-cache.

The only downside is ofcourse, during bitrot healing it might go undetected. But it will be eventually caught because of the page-cache purge and re-read from t

[2019-08-13 01:37] harshavardhana commented on #6143
For the time being, closing this as it's not needed for now and can be implemented in the future.  Using page-cache outweighs the benefits of not using it.

[2019-08-13 01:37] #6143 closed, assigned to krishnasrinivas

[2019-08-13 05:36] #7883 closed, assigned to kaankabalak

[2019-08-13 06:31] ahmadalli commented on #8047
@kaankabalak thank you :)

[2019-08-13 06:32] ahmadalli commented on #8048
thanks for adding warning and error messages

[2019-08-13 09:29] ahmadalli commented on #8049
I've added another disk. now I have two disks mounted on `/mnt/export1` and `/mnt/export2`. after using `rclone source:bucket dest:bucket --transfers=128 --checkers=128` one of my nodes is having load of `90`

[2019-08-13 09:36] ahmadalli commented on #8049
this time after stopping the transfer the load returned to normal

[2019-08-13 09:58] #8035 closed, assigned to harshavardhana

[2019-08-13 11:13] #7946 closed, assigned to Praveenrajmani

[2019-08-13 12:05] kannappanr commented on #8050
@jappyjan it could be that you have not setup SSL properly for minio. I looked at https://github.com/caprover/one-click-apps/blob/master/public/v1/apps/minio.json

Looks like they are still using the older style of setting certs and keys. It should work even now. How and where are you setting the certificate and key. What are the names of those files? Also how are you running the container, are yo

[2019-08-13 12:26] ghost opened #8071 "Daily sweep might be causing heavy iowait cpu load"
We started experimenting with minio for our data storage needs about two weeks ago with the (two-node 8 drives) distributed server setup mentioned below. First performance was very impressive but as more data was stored in long continuous CPU usages started happening  (iowait state). The load was caused by disk activity by minio. Even the operating system was very sluggish to use due to the IO loa

[2019-08-13 15:49] #8051 closed, assigned to nobody

[2019-08-13 16:44] githubsaturn commented on #8050
Hi, Kasra from CapRover here. Came across this thread, and thought I should shed some light:

CapRover uses nginx as the HTTPS (SSL) terminator layer. Normally apps deployed via CapRover don't need access to the certs and keys. Does minio need access to them?

This what it looks like:
[code]

The problem is this:
[code]

It's trying to use port 80 with SSL false, which is fine, but if you "force H

[2019-08-13 17:46] jappyjan commented on #8050
thank you @githubsaturn !
that was the solution!

ussing port 443 instead of 80 fixed it for me!

[2019-08-13 17:46] #8050 closed, assigned to kaankabalak

[2019-08-14 00:11] harshavardhana commented on #8005
@kattakarthik how are things going?

[2019-08-14 01:30] kannappanr commented on #8071
@markkutikkanen Thanks for filing this issue. Can you let us know how many objects you have typically? Also, are these objects stored directly under the bucket, or are they stored inside pre-fixes within those buckets?

[2019-08-14 06:50] ghost commented on #8071
Hi,
ATM I have 18.86 TB of data in 3 buckets:
A: 47217 objects, size ??
B: 83554 objects, size ??
C: ?? objects, size ??

(because of the io load the `mc ls --recursive <bucket>| wc -l` calls take forever, I was able to finish just the object count for some )

All the objects have prefixes, i.e. they have a filesystem-like directory structures under the bucket roots, and the number of root directo

[2019-08-14 09:52] sritoleti opened #8074 "DNS type request is not working"
## Expected Behavior
I am using ES v 6.4.3 and as per documentation it only supports DNS style request to talk to S3 repositories.

## Current Behavior
I am using DNS settings on Minio which apparently is not working. May be because of my settings ?
The issue is whenI use hostname, where as the IP address as endpoint works fine.

## Possible Solution
Possibly need to change settings in my minio/ES

[2019-08-15 00:44] kannappanr commented on #8074
@sritoleti Jut with respect to MinIO itself you should make sure that DNS style requests work, before you try it with `ES`

[2019-08-15 01:02] kaankabalak opened #8079 "Browser displays directory contents incorrectly for a bucket that has "nested" prefixes when there are two repeated slashes in the URL after the first prefix"
## Expected Behavior

Ideally, either the entered URL must be processed so that we don't have any repeated slashes, or we should ignore the repeated slashes, similar to what happens when the repeated slashes are located after the bucket name (as opposed to being located after the first prefix, check Step 3 on How to Reproduce).

## Current Behavior

For a bucket that has "nested" prefixes, when th

[2019-08-15 01:51] harshavardhana commented on #8074
This looks like elasticsearch.minio is not resolving, you don't have the right DNS entries to resolve here IMO.

[2019-08-15 01:57] stevesbrain opened #8080 "Minio B2 Gateway - error on CompleteMultipartUpload"
## Expected Behavior
Minio acting as B2 gateway; allows uploading files

## Current Behavior
File upload fails (when used as the storage backend for Nextcloud) with the following error:

[code]

Tried on version 2019-08-14T20:37:41Z and 2019-08-15T00:14:57Z

## Steps to Reproduce (for bugs)
1. Set up instance of Nextcloud configured for S3 object storage (doesn't matter if you implement this from

[2019-08-15 02:17] harshavardhana commented on #8071
Would you be able to test https://github.com/minio/minio/pull/8081 thanks @markkutikkanen

[2019-08-15 06:36] harshavardhana opened #8083 "mint/minio-js fails to run against latest MinIO server in distributed mode"
[code]

[2019-08-15 06:41] harshavardhana commented on #8083
[code]

[2019-08-15 06:42] appleboy opened #8082 "Minio container is showing the status unhealthy after some minutes when start in docker-compose"
minio container always change the status to unhealthy after some minutes in docker-compose

## Expected Behavior

always (healthy)

## Current Behavior

Minio container is showing the status unhealthy. When I am running `docker restart`, then it is again ok. But after sometimes it again becomes unhealthy.

## Steps to Reproduce (for bugs)

[code]

steps:

[code]

## Your Environment

* Version use

[2019-08-15 07:21] nitisht commented on #8082
Thanks for reporting @appleboy we'll take a look

[2019-08-15 08:22] katty0924 opened #8084 "the space of minio is full, how can i extend the storage"
if i used up the space of minio , there is a solution that i can extend the storage capacity of minio? or can i add a new node into the distributed minio?

[2019-08-15 13:39] ghost opened #8086 "Build fails"
Finding requirements fails with the following:
[code]
## Expected Behavior
build succeeds

## Current Behavior
[code]

## Possible Solution
Gorilla RPC has perhaps deprecated v1.2 (now they have v2)

## Steps to Reproduce (for bugs)
1. Install Go 1.12.8 as per instructions.
2. Try to build Minio as per instructions.

## Your Environment
* Version used (`minio version`):
latest from github.com/mini

[2019-08-15 14:01] nitisht commented on #8086
@markkutikkanen I can't seem to reproduce the error, it built for me

[2019-08-15 14:18] pitrou commented on #6010
I'm having the same problem here. I determined that handling of directories by Minio is fragile and inconsistent:
* an empty directory is visible with [HEAD object](https://docs.aws.amazon.com/fr_fr/AmazonS3/latest/API/RESTObjectHEAD.html) but not with [ListObjects v2](https://docs.aws.amazon.com/fr_fr/AmazonS3/latest/API/v2-RESTBucketGET.html)
* a non-empty directory is visible with [ListObjects

[2019-08-15 14:44] pitrou opened #8087 "Allow suppressing version check without quieting startup"
Currently you need `--quiet` to disable the version check at startup. It would be nice to allow disabling the version check without removing the startup message.

[2019-08-15 14:51] ghost commented on #8086
Did you have a pristine empty (no Go nor any packages on your env) machine prior checking? Could it be the gorilla rpc 1.2.0 was already found in your system?

[2019-08-15 15:43] kannappanr commented on #8087
@pitrou We will discuss internally and get back to you on this.

[2019-08-15 16:30] harshavardhana commented on #6010
Directory creates are a largely misused operation with implementations like s3fs. The point is s3fs doesn't need to do HEAD and fail for the directory. Because listing will succeed in second case where it is non-empty and that should tell s3fs that prefix indeed exists. Navigating directories purely based on Listing is the expected approach even in S3 API.

We generally do want lesser incompatibli

[2019-08-15 16:33] harshavardhana commented on #8087
--quiet is implemented to quiet everything literally for MinIO, piece meal based approach will rather complicate the implementation and not satisfy a single user.

You can set MINIO_UPDATE=off which would turn off update check and keep the banner.

[2019-08-15 16:38] pitrou commented on #8087
The code checking for updates looks like this:
[code]

So my understanding is that `MINIO_UPDATE=off` will turn off the update message (`globalInplaceUpdateDisabled`) but not the update check itself.

[2019-08-15 16:39] pitrou commented on #6010
Well, many libraries try to provide filesystem-like facility on top of S3, because it makes sense when you want to abstract away from the underlying storage kind (local filesystem, S3, GCS, etc.).

[2019-08-15 16:44] harshavardhana commented on #8087
Yes but doesn't that satisfy your requirement @pitrou

[2019-08-15 16:51] harshavardhana commented on #6010
@pitrou we have deployed and tested 1000s of such applications such as Hadoop S3A, Spark, Presto and Splunk. Our community has perhaps even tested more.

Every time the directory issue comes is either an incorrect requirement for a client app or strong POSIX like semantics. You can see we have no inclination of encouraging POSIX like behavior and there are clearly ways to address this on the clien

[2019-08-15 16:57] pitrou commented on #8087
No it doesn't, because I'd like to avoid waiting 1 second for the daemon to start when I'm starting it in a rapid manner in unit tests.

[2019-08-15 17:01] harshavardhana commented on #8087
@pitrou so --quiet is the way to go. Why do you need startup message when --quiet is specified ? Are you trying to scrape the output?

[2019-08-15 17:03] pitrou commented on #8087
Not really, I can live with it, but the status message indicates me that Minio started correctly with the right parameters :-) Not a big deal though.

[2019-08-15 17:08] harshavardhana commented on #8087
How about we print one line `Started` ?

[2019-08-15 17:17] pitrou commented on #8087
Well, I think the full banner is more informative :-)

[2019-08-15 17:52] harshavardhana commented on #8087
That defeats the purpose of --quiet

[2019-08-15 17:53] pitrou commented on #8087
Well, yes, hence this issue ;-)

[2019-08-15 18:07] harshavardhana commented on #8087
I don't think we will change the current behavior, we will add one line to indicate that server started.

[2019-08-15 19:09] henrythefool opened #8088 "Very high TTFB (5~30s) at peak hours"
## Expected Behavior
To get object through API/SDK, the TTFB should be less than 1s.

## Current Behavior
At peak hours(night), the TTFB is very high, about 5 ~ 30s.

## Steps to Reproduce (for bugs)

We have a distributed minio of 6 nodes, and each node exposed 443 through Nginx to public.
Objects are mainly videos(10 ~ 100MB) and images(50 ~ 100KB).
Object are requested by web players through S3

[2019-08-15 20:15] #8083 closed, assigned to Praveenrajmani

[2019-08-15 21:12] yevgenypats opened #8089 "Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers
- Continuous Fuzzing of master branch which will generate new corpus and look for new crashes
- Regression on eve

[2019-08-15 21:54] eco-minio commented on #7655
The behaviour has actually changed since the issue was first reported.

[code]
The issue here is that initially, it adds headers to define filesystem attributes (X-Amz-Meta-*)
After remount, these headers were not being sent.  However testing with latest build they are now present:

[code]
This would result in the object having root permissions (since no gid was set), timestamp of epoch, etc, basi

[2019-08-15 22:00] harshavardhana commented on #8092
There is another variant of the same issue re-opening this one

[2019-08-15 22:01] harshavardhana commented on #8092
[code]

[2019-08-15 23:27] kannappanr commented on #8080
@stevesbrain Looking at the issue, it says that you are using `multipart` upload, but B2 is complaining that you have used only one part
https://github.com/minio/minio/blob/master/cmd/gateway/b2/gateway-b2.go#L770 The error is given by the B2 SDK and since the operation failed, Gateway is returning that error.

[2019-08-15 23:34] kannappanr commented on #8089
@yevgenypats Thanks for reaching out to us. We will take a look and get back to you.

[2019-08-15 23:36] kannappanr commented on #8088
@henrythefool We will take a look and get back to you.

[2019-08-16 03:12] kattakarthik commented on #8005
Its been running successfully since 2.5 days. We have been running load tests. We will do the same over the weekend and confirm you by Monday. Thanks @harshavardhana

[2019-08-16 04:07] appleboy commented on #8082
@nitisht I rollback the Minio version to `RELEASE.2019-04-23T23-50-36Z` tag. It is working for me. If anyone faces the issue, please try the `RELEASE.2019-04-23T23-50-36Z` tag

[code]

[2019-08-16 05:05] krishnasrinivas commented on #8088
Note from the document:

https://docs.min.io/docs/setup-nginx-proxy-with-minio.html

let us know if it fixes the problem @henrythefool

[2019-08-16 05:50] henrythefool commented on #8088
@krishnasrinivas  I configured it exactly according to that document.

[2019-08-16 06:01] henrythefool commented on #8088
@krishnasrinivas Sorry, I checked the nginx.conf, and there are several differences(I guess the doc was updated)

I didn't add those lines:
[code]

Now I added these, and I'll check the TTFB tonight.

[2019-08-16 06:22] nitisht commented on #8084
@katty0924 you can add a new cluster to existing distributed minio cluster, using federation https://docs.min.io/docs/minio-federation-quickstart-guide.html

Closing this as answered, please join us on Slack (https://slack.min.io) for more such questions

[2019-08-16 06:22] #8084 closed, assigned to nobody

[2019-08-16 06:52] henrythefool commented on #8088
1. It doesn't fix the problem.I think the TTFB is still high.
2. **I found that the larger the object, the higher the TTFB.**

[2019-08-16 08:01] sritoleti commented on #8074
I will troubleshoot it and come back with my findings.

[2019-08-16 10:57] ghost commented on #8071
#8081 observations:
- heavy CPU load doesn't start immediately after restarting the minio service
- after minio starts doing "something" (how could I get some kind of debug logs?), the percentage of `iowait` is lower and userspace is higher - disk io seems not to be hit so hard and CPU is not choked on iowait
- the input / output throughput and latency on service level is way better and responsive

[2019-08-16 11:51] tlex commented on #8082
My (quick and dirty) workaround for this has been to just drop the healthcheck (by replacing the binary in the docker image with a simple shell script with `exit 0`).

[2019-08-16 13:38] harshavardhana commented on #8071
@markkutikkanen the CPU usage is expected after a while, but it will suspend itself if there is any incoming I/O activity.  Using idle cycles for healing is what code is supposed to do. So high CPU usage shouldn't be misconstrued as unavailability unless it does affect your incoming I/O.

[2019-08-16 15:45] n-pat commented on #7780
Hi, minio/minio:edge still has this problem for me. Just as a feedback, but I will try again with newer version.

I have an internal network that connects to my reverse-proxy but everything else looks like in the szenario in this ticket.

To my setup: similar docker network, AMD64, docker 19.03.1, debian 10.0.

The error msg appers after 5-10 minutes. Workaround to disable healthcheck helps.

For

[2019-08-16 18:39] krishnasrinivas commented on #8088
How are you measuring TTFB?
Because:
[code]

Here RESPONSE time stamp is completion time not the first byte time.

If you are using a custom tool to measure TTFB can you check directly talking to minIO without nginx in the middle? To see if nginx is causing any issue.

[2019-08-16 22:53] ghost opened #8094 "Support Drag&Drop of folders in Web GUI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently Minio supports the dragging and dropping of files into Minio's web GUI along with now creating folders. But then there are a few things a user intuitively thinks they can do (and wants to do) but they can't that

**Describe the s

[2019-08-17 01:41] stevesbrain commented on #8080
@kannappanr Thanks - so just to confirm, you are saying this is a fault of the way the product is interacting with Minio, rather than an issue with Minio itself?

[2019-08-17 03:02] appleboy commented on #8082
@tlex I know some workaround to fix that but not all people can replace the binary in docker if you don't have Golang experience.

[2019-08-17 06:37] tlex commented on #8082
@appleboy [Here is the example](https://gitlab.com/ix.ai/minio), for those that don't speak Golang (like myself)

[2019-08-17 09:08] henrythefool commented on #8088
I measured it by Chrome dev tools, here are some screenshots captured:

![image](https://user-images.githubusercontent.com/54152943/63209280-30de7180-c111-11e9-86fd-bcddaf598536.png)

![image](https://user-images.githubusercontent.com/54152943/63209282-33d96200-c111-11e9-99d2-3ba62e150bbe.png)

If I `ping` the server, it would be 150~200ms

[2019-08-17 13:06] jonesbusy opened #8097 "Azure Gateway Lifecyle support"
Hi,

**Is your feature request related to a problem? Please describe.**

Bucket lifecycle was implemented on 'RELEASE.2019-08-14T20-37-41Z' but it's not possible to use it with Minio acting as Azure Gateway.

Azure Blob storage fully support lifecycle : https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts

But we cannot use it with Minio to have a S3 compatibl

[2019-08-17 13:10] nitisht commented on #8097
@jonesbusy we'll discuss internally if there are plans to extend lifecycle support to gateways

[2019-08-17 13:37] ahmadalli commented on #8049
I just found out that the hards are not ssd (sorry I hadn't double checked). I'll report back after adding ssds

[2019-08-17 16:33] henrythefool commented on #8088
I did `mc cp` directly in the server local without Nginx.
It takes 10~20s before it started copy.
Time is mainly spent on `s3.ListObjecsV1`(about 3K objects in bucket)

I haven't tested requested by API without Nginx.

[2019-08-17 23:18] kannappanr commented on #8080
@stevesbrain This issue might give you a better picture. Gateway is more or less like a pass-through mechanism. So, the issue here is that `aws-sdk-php` uses `multi-part upload` against `B2`. The client uses `single` part but `B2` requires two parts. Either you should change your application to use explicit single put as explained here https://docs.aws.amazon.com/AmazonS3/latest/dev/UploadObjSingl

[2019-08-17 23:18] #8080 closed, assigned to nobody

[2019-08-18 03:08] appleboy commented on #8082
Thanks @nitisht remove the health check in Dockerfile.

[2019-08-18 03:08] #8082 closed, assigned to nitisht

[2019-08-18 16:36] kattakarthik commented on #8005
[server_2019_08_18_11_50_AM.log](https://github.com/minio/minio/files/3513293/server_2019_08_18_11_50_AM.log)
[server_2019_08_18_04_15_PM.log](https://github.com/minio/minio/files/3513294/server_2019_08_18_04_15_PM.log)
Crashed twice today @harshavardhana Please find the attached logs.

[2019-08-18 17:10] harshavardhana commented on #8005
Now the stack is different, looks like some other dependency is using unsafe in a wrong way

[2019-08-18 17:12] kattakarthik commented on #8005
Ok. But the crash occurances have reduced after the fix.

[2019-08-19 04:51] ahmadalli commented on #8049
I'm not sure if it's ok even on hdd, these are my disk usages on each node while there's no load on the minio cluster:

node 1 is fine
node 2, load 470:
![image](https://user-images.githubusercontent.com/2167301/63239877-837b7300-c262-11e9-9456-801626088d1d.png)

node 3, load 580:
![image](https://user-images.githubusercontent.com/2167301/63239894-9c842400-c262-11e9-873a-32bd89888bd5.png)

[2019-08-19 05:42] ahmadalli commented on #8047
@kannappanr the sha256 of the new release still has that issue: https://dl.min.io/server/minio/release/linux-amd64/minio.sha256sum

[2019-08-19 05:55] harshavardhana commented on #8047
We cannot fix it right now @ahmadalli as the naming convention is tied to out update mechanism, we do not have cycles to address this ATM.

[2019-08-19 05:56] ahmadalli commented on #8047
@harshavardhana that's ok. I just reported back since @kannappanr said it'll get fixed on next release

[2019-08-19 05:58] harshavardhana commented on #8047
It was indeed fixed, but we had to revert it,. Since we found that it's tied to our release mechanism.

[2019-08-19 05:59] ahmadalli commented on #8047
@harshavardhana aha. ok thanks :)

[2019-08-19 12:16] ElusiveMind commented on #5947
I was able to proxy using apache. I proxied /minio to my minio port and it works.

Working with the API is tricky, but I am only using it for automatically making backups available and all the backups are uploaded from the box where MinIO is - so it just uses localhost:9000 (I am using a docker setup).

Apache:
[code]

Docker-Compose:
[code]

[2019-08-19 13:46] kerams opened #8099 "multipart/form-data upload using a presigned URL"
## Expected Behavior
File is successfully uploaded.

## Current Behavior
Getting a generic error
[code]

## Steps to Reproduce (for bugs)
- Create a presigned URL using the AWS client (setting Expires, Bucket and Key)
- Send a POST to that URL
[code]

## Context
Direct upload using the AWS client and credentials works, so I am positive the presigned URL is correctly generated.
The reason I'm bothe

[2019-08-19 17:42] harshavardhana commented on #8015
We have decided to not pursue this instead minsql will do this at its layer.

[2019-08-19 17:42] #8015 closed, assigned to harshavardhana

[2019-08-19 18:23] harshavardhana commented on #8071
As next activity we can also tie the go-routine to a specific CPU @markkutikkanen I will send a change for you to test.

[2019-08-19 18:59] deekoder commented on #8099
@kerams  I just checked with our play server and it seems to work fine. https://docs.min.io/docs/upload-files-from-browser-using-pre-signed-urls.html is a good doc to test if there may be a policy issue.

[2019-08-19 22:33] krishnasrinivas commented on #8088
This would be a different issue. Can you file it under https://github.com/minio/mc/issues

Can you test the download TTFB without nginx?

[2019-08-19 23:49] deekoder commented on #8074
@sritoleti were you able to get more insight?

[2019-08-20 02:38] eco-minio opened #8101 "Implement per bucket WORM"
**Is your feature request related to a problem? Please describe.**
Currently we only support per cluster WORM, we should implement per bucket WORM for use cases where WORM mode needs to be enabled per bucket
**Describe the solution you'd like**
Per title.

**Additional context**
Per discussion with AB

[2019-08-20 05:20] BSchwetzel commented on #7780
Just gonna chime in, I'm facing the same error:

[code]
with a similar setup: Minio is deployed (as part of a docker stack) as a single replica in a swarm mode cluster, attached to my own overlay network (which is encrypted). While we have traefik in the same network it isn't used for minio. We are using minio/minio:RELEASE.2019-08-14T20-37-41Z.

[2019-08-20 06:38] gk-patel opened #8103 "Why has the usual way of Versioning (X.Y.Z) not been adapted ?"
## Expected Behavior
Usually, many softwares have a versioning scheam like X.Y.Z - where, X=Major, Y=Minor and Z=features. I am wondering, why this type of scheme has not been implemented here. Such a scheame would help users decide when they should/want to update.

## Current Behavior
Versioning is done based on release timestamp. This scheme is monotonous and does not let users classify between

[2019-08-20 06:48] nitisht commented on #7780
we’ve removed healthcheck script from Docker image and recommend using compose based healthcheck commands as explained here https://github.com/minio/minio/pull/8095

[2019-08-20 07:10] Praveenrajmani commented on #8099
@kerams I tried this locally here. It worked fine for me

[code]

Can you share us the `mc admin trace -v` output for this occurrence?

[2019-08-20 07:24] harshavardhana commented on #8101
https://aws.amazon.com/about-aws/whats-new/2018/11/s3-object-lock/ equivalent S3 API

[2019-08-20 07:44] kerams commented on #8099
`mc admin trace -v minio` isn't printing anything at all for this request. A standard PUT is logged properly, however.

In fact, empty GET and PUT requests using the presigned URL do get logged, but not POST.

[2019-08-20 08:35] kerams commented on #8099
Empty PUT requests in Postman to presigned URLs generated by both the Minio .NET client and AWS return `SignatureDoesNotMatch`. This might be the underlying problem (apart from the fact that my failing POST requests aren't logged to trace). Any idea why this could be? Both clients upload data correctly when I use PutObjectAsync.

[2019-08-20 09:00] sritoleti commented on #8074
hello @deekoder, thanks for reaching out. I could not get this working yet!

I tried standalone installation of Minio and ES 7.1.1 V which worked alright as it used path style requests to access.

But the DNS style requests are not working.

Can someone please take a look at this.

I have deployed minio service as  LoadBalancer and added env variable

        - name: MINIO_DOMAIN
          value:

[2019-08-20 09:01] Praveenrajmani commented on #8099
@kerams `mc admin trace` should be logging presigned hits also. Looks like, the request is not reaching the MinIO server at all. Can you try curling it - like,

`curl -v http://localhost:9000/test  -F success_action_status=201 -F key=tmp_file -F x-amz-algorithm=AWS4-HMAC-SHA256 -F x-amz-credential=minio/20190820/us-east-1/s3/aws4_request -F x-amz-date=20190820T085347Z -F policy=eyJleHBpcmF0aW9uIjo

[2019-08-20 09:04] Praveenrajmani commented on #8099
It would be better if you can join the #general slack channel - https://minio.slack.com/join/shared_invite/enQtNjM3MDQ5NzI1MjUxLTlmMzIxNmUxZjBlNWUzMzI4YTkyYmE4ZDRiZTYyMDZjY2QyZjlmODY0MTMxODQxODc0MzkxZTExNTUyNjdmYjc

[2019-08-20 09:06] Praveenrajmani commented on #8099
You should use `POST` method for presigned post urls

[2019-08-20 09:07] kerams commented on #8099
The response I am getting for POST is `<Error><Code>InvalidRequest</Code><Message>Invalid Request</Message><Resource>/test/hmmm</Resource><RequestId></RequestId><HostId>56b1fea9-9a30-465a-94da-b272b4eb8be4</HostId></Error>`, so it is reaching the server.

[2019-08-20 09:17] Praveenrajmani commented on #8099
Did you see the trace in `mc admin trace` ? @kerams

[2019-08-20 09:33] harshavardhana commented on #8103
Explained here https://github.com/minio/minio/issues/2318#issuecomment-235992350

[2019-08-20 09:54] Praveenrajmani commented on #8099
@kerams How are you constructing your POST request? Can you try curl? ... looks like Postman's latest version - v7.5.0 does not have an option to frame a body with multipart form data

[2019-08-20 10:14] harshavardhana commented on #8074
@sritoleti just adding MINIO_DOMAIN only makes minio server aware of DNS style requests - you need to make sure that `yourbucket.domain.com` resolves to the MinIO server appropriately.

I am assuming that you have done that on your elasticsearch instance such that elasticsearch is able to resolve the `yourbucket.domain.com` properly.

You can verify this by doing `ping yourbucket.domain.com` on yo

[2019-08-20 10:27] neo-feng opened #8106 "The private key contains additional data"
I'm trying to run minio server on kubernetes via https, and got error " Unable to load the TLS configuration: The private key contains additional data, Please check your certificate"

I even tried the key and crt provided in issue [https://github.com/minio/minio/issues/7405](7405), and still got the same error.
I noticed a similar issue [https://github.com/minio/minio/issues/7698](7698), but canno

[2019-08-20 11:15] gk-patel commented on #8103
Ya. So as long as we use the stable version, it is sort of garuenteed, that updating the version will work out of the box. But somethings are still not clear, is there a specifc guide that one needs to follow for updating Minio instances,

because, for example, in your comments (linked above), you said that minio will handle migrations automatically. But, in one of the latest release (RELEASE.2019

[2019-08-20 11:28] ewolfman commented on #5279
Update: I created a new issue here: https://github.com/minio/minio/issues/8121
Hi,

Not sure if this is the same issue or not but here goes:
Using a local minio server I am able to set the policy to allow only GetObject and not the http listing.

`{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Effect": "Allow",
			"Principal": {
				"AWS": [
					"*"
				]
			},
			"Action": [
				"s3:GetObje

[2019-08-20 11:39] edude03 opened #8107 "Support namespaced JWT Claims"
**Is your feature request related to a problem? Please describe.**
I'd like to use Minio with Auth0 providing authentication via JWTs, however, because  auth0 requires the use of namespaced keys for custom claims (ie, `min.io/policy` instead of just `policy`) I'm unable to use the two together

**Describe the solution you'd like**
Support an additional parameter such as `JWT_CLAIM_NAMESPACE` that

[2019-08-20 12:24] sritoleti commented on #8074
Hello @harshavardhana I see your point, I cannot ping elastic.minio from any of the instances.

All this time I am creating a service during minio installation which then is used to point to in Elasticsearch.

Since Metadata.name in service cannot contain '.' I cannot create a service 'elastic.minio'

My version of elastic is forcing the right to be DNS style (elastic.minio)bucketname.hostname.

I

[2019-08-20 15:50] ludovicbonivert opened #8108 "Minio on Openshift keeps loading"
I'm deploying minio on Openshift 3.11 in preparation of having Velero + Restic.
I'm following the procedure described here https://velero.io/docs/v1.0.0/get-started/#expose-minio-outside-your-cluster

Deployed on Minishift, working fine. Now tentative to move to my onprem Openshift cluster.

Minio keeps loading without redirecting me to the minio browser/bucket list.
I've checked my pods, but no e

[2019-08-20 17:19] #8065 closed, assigned to harshavardhana

[2019-08-20 17:28] harshavardhana commented on #8107
Thanks @edude03 for opening the issue

[2019-08-20 17:37] harshavardhana commented on #8108
@ludovicbonivert what does go to home screen means here ? AFAICS MinIO is running properly from your logs and has successfully started.

[2019-08-20 17:40] fwessels commented on #8049
Are there hardware differences between the nodes: CPU, memory (RAM), networking?

Can you clarify whether the loads goes down after the transfer?

What may also help is to have a load balancer in front on the minio nodes -- if you have configured eg. `mc host config` to just a single node (single IP address), then that node will take the full hit in terms of doing the erasure coding etc. and it wo

[2019-08-20 17:41] eco-minio opened #8109 "Lifecycle delete not working"
Followed examples in https://github.com/minio/minio/tree/master/docs/lifecycle, bucket contents are not deleted after expiry.  This is working for others so assuming something incorrect in my environment.

## Expected Behavior

Objects in bucket should be deleted after expiry date is reached
## Current Behavior

Objects remain in bucket
## Possible Solution

Unsure
## Steps to Reproduce (for bugs)

[2019-08-20 18:22] ludovicbonivert commented on #8108
Hi @harshavardhana
For clarity I'm joining some screenshots.
This should be the screen that I want to see after loading (capture from minishift cluster)
<img width="1135" alt="Screenshot 2019-08-20 at 20 18 02" src="https://user-images.githubusercontent.com/7199335/63373340-077b4b00-c388-11e9-8e88-c5d604001e20.png">
but on my onprem cluster I'm stuck on following loading screen
<img width="1680" a

[2019-08-20 18:40] harshavardhana commented on #8108
Do you have any Chrome debug logs from chrome console? @ludovicbonivert

[2019-08-20 18:42] harshavardhana commented on #8106
Please use https://github.com/minio/minio-operator henceforth TLS configuration is automated and keeps your deployment simple @neo-feng

[2019-08-20 18:44] ludovicbonivert commented on #8108
1 error
<img width="1083" alt="Screenshot 2019-08-20 at 20 43 38" src="https://user-images.githubusercontent.com/7199335/63375039-4e1e7480-c38b-11e9-81a2-e8b83dac133f.png">

<img width="1081" alt="Screenshot 2019-08-20 at 20 44 12" src="https://user-images.githubusercontent.com/7199335/63375058-5676af80-c38b-11e9-8bed-59f7b7834964.png">

[2019-08-20 18:47] harshavardhana commented on #8108
did you build the binary yourself @ludovicbonivert ?

[2019-08-20 19:17] kannappanr commented on #8103
@gk-patel regarding your comment `"Rolling upgrade is not recommended for this release, please upgrade all servers".`

Have changed the release note to just say `"Rolling upgrade is not recommended for this release"`

Basically, what this means is that in the case of `distributed MinIO`, you will have to upgrade MinIO binary on all the nodes and then restart, as the internal APIs to talk between t

[2019-08-20 19:42] ludovicbonivert commented on #8108
Which binary are we talking about?
I have installed mc to debug, but it isn't the one that is being used throughout my two clusters. Minio is being deployed through https://velero.io/docs/v1.0.0/get-started/
 => kubectl apply -f examples/minio/00-minio-deployment.yaml

For your convenience this is the minio-deployment file being used
[code]

[2019-08-20 20:50] scorpuva opened #8111 "Data Corruption : multipart/form-data upload using PUT presigned URL through .net c#"
When i tried to upload a file content (as multipart/form-data) using .net core c# library.
It uploads successfully but it corrupts the file content.
When i open the file, i see the uploaded file content has the boundary text as well.
I have attached the sample code to simulate this issue.
I was able to reproduce the issue in Postman as well. (attached screenshot **postman.png** for sample request)

[2019-08-20 20:57] harshavardhana commented on #8111
You need to use POST if you are using PUT doesn't recognize multipart form boundaries the behavior is same as AWS S3

[2019-08-20 21:23] scorpuva commented on #8111
Getting an error,
`<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Error><Code>NotImplemented</Code><Message>A header you provided implies functionality that is not implemented</Message><Resource>/testbucket/testobjectmultipart.txt</Resource><RequestId></RequestId><HostId>4e9a3580-ea37-4346-ba3b-ee8aaff4312b</HostId></Error>`

Url I formed for POST,
`https://127.0.0.1:9000/testbucket/testobjectmultip

[2019-08-20 22:23] harshavardhana commented on #8111
Post URL is uploaded in multipart form not using query params

[2019-08-20 22:38] scorpuva commented on #8111
Getting error as
[code]
Do you have any sample application for .net ?
Even if you share me postman collection also works for me.

[2019-08-20 22:45] scorpuva commented on #8111
The URL I used to do post multipart:
`https://127.0.0.1:9000/testbucket/testobjectmultipart.txt`

Below is the payload
[code]

[2019-08-20 23:36] harshavardhana commented on #8111
All of those are actually not correct, the correct way is documented here https://aws.amazon.com/blogs/developer/uploading-to-amazon-s3-with-http-post-using-the-aws-sdk-for-net/

[2019-08-20 23:48] scorpuva commented on #8111
@harshavardhana  all I am asking is a sample HTTP message of multipart formdata. It would be great if you show me one using .net httpclient. The link which you gave explains about the C# aws sdk client. If you have any other link or share me some sample would really helps here.

[2019-08-21 03:12] neo-feng commented on #8106
Thanks for your reply, it works after converting my own key following doc below (and the key you provided in issue 7405 also works),
[https://docs.min.io/docs/how-to-secure-access-to-minio-server-with-tls.html#generate-private-key-with-rsa](generate-private-key-with-rsa)

I'd suggest copying this converting guide to chapter - 2. Use an Existing Key and Certificate with MinIO.

[2019-08-21 03:12] #8106 closed, assigned to nobody

[2019-08-21 03:28] nitisht commented on #8108
@ludovicbonivert can you change the `image` to `minio/minio:RELEASE.2019-08-14T20-37-41Z` and try once, also you mentioned port 9000 is blocked, in that case you'd probably either need to unblock that port or start MinIO on a custom port

[2019-08-21 03:43] #8062 closed, assigned to harshavardhana

[2019-08-21 06:30] Praveenrajmani commented on #8099
ping @kerams

[2019-08-21 08:22] ludovicbonivert commented on #8108
Unfortunately no behaviour change.
Port 9000 is blocked for websites I try to access, however in my cluster I can map to any port.
The route is accessible since I can access the minio UI.

[2019-08-21 09:31] ahmadalli commented on #8049
the CPU and memory and networking is the same on all three nodes (8GB RAM and two Intel Xeon E5-2620 0 @ 2.00GHz CPUs)

also there's no transfer running on cluster. I run `service minio start` on all ndoes, wait for a few hours and this happens

I'm using dns load balancing between hosts

[2019-08-21 09:43] vadmeste commented on #8109
@eco-minio to correctly test with your lifecycle configuration, you need to create a bucket called `temporary-uploads` and then upload a file under the prefix `temporary-uploads`

(such as, `mc cp file myminio/temporary-uploads/temporary-uploads/uploaded_file`)

I think that what you was missing. Please check again and keep me posted.

[2019-08-21 10:24] ludovicbonivert commented on #8108
I removed the 9000 port from the link play.minio.io. This is accessible through my enterprise virtual desktop, and I have the exact same behaviour => Loading logo keeps spinning.

[2019-08-21 12:40] ludovicbonivert commented on #8108
Found a way to use another (portable) browser (firefox) and I now get the login screen and bucket list 👍 So probably due to a low version of Chrome.
However an error log somewhere should be expected instead of staying on the loading screen.

[2019-08-21 12:40] #8108 closed, assigned to nobody

[2019-08-21 14:28] kerams commented on #8099
@Praveenrajmani Thanks for your help and time. I have misunderstood the way the presigned URL is to be used, all good now (except for the fact that the request in my original post did not get logged, even though your curl did).

[2019-08-21 14:28] #8099 closed, assigned to Praveenrajmani

[2019-08-21 15:04] kattakarthik commented on #8005
@harshavardhana Finally we have a found for this crash or corruption issue.

This is happening only if we sync to particular type of files..  1. LAZ 2. HRC
Both these are binary files.

I tried the same scenario on an x86 (single node) server and it could sync the data without any issues.

So only ARM servers are running into issue (I haven't tested X86-Minio on distributed mode though..where as o

[2019-08-21 15:24] vadmeste commented on #8005
@kattakarthik by the way, it is possible that tweaking GOGC environment variable can trigger the crash more often. GOGC needs be set before running Minio server. Its default value is 100, lowering it to 20 should make GC work more often.

[2019-08-21 16:17] harshavardhana commented on #8005
@kattakarthik the error that you are seeing is reproducible on x86 as well, we are working on a fix for that. But are you saying a crash happens right after this error is seen on the client side ?

[2019-08-21 16:19] deekoder commented on #8111
@scorpuva see if this helps : https://github.com/minio/minio-dotnet/tree/master/Minio.Examples/Cases

[2019-08-21 16:25] deekoder commented on #8089
We are still discussing about this @yevgenypats

[2019-08-21 16:30] yevgenypats commented on #8089
Thanks for update! take your time.

[2019-08-21 18:29] deekoder commented on #8089
@yevgenypats this is a cool service you have here. We really understand the benefits of a fuzzing service to help us find bugs. We are at present occupied with our current priorities and so we will add this to our backlog to revisit in our subsequent milestone/release. We will put this in future milestone and reactivate it when we are pulling items to work on from our backlog. Thanks once again.

[2019-08-21 18:29] #8089 closed, assigned to aead

[2019-08-21 18:46] yevgenypats commented on #8089
@deekoder Sure thing. Feel free to ping me once you have the time I'll be happy to help. Cheers.

[2019-08-21 19:24] kattakarthik commented on #8005
No. I meant that the crash & the error are the two issues I've come across while working with binary files. The server doesn't crash after this error.

[2019-08-21 21:17] EugenePisotsky opened #8117 "Bucket `images` does not exist"
Hello!

[code]

Any ideas why it prints "Bucket does not exist" even though it's visible in the root `mc ls` output?

[2019-08-21 21:33] fwessels commented on #8049
Is it possible to increase the amount of RAM to for example 32 or 64 GB?

8 GB is pretty much on the low side (given that today even eg. a Raspberry Pi 4 already has 4 GB of RAM)

[2019-08-21 21:41] roboticsexpert commented on #8049
it's not consuming more that 1gig ... @fwessels

i don't understand how that can be related to the memory

[2019-08-21 21:49] fwessels commented on #8049
Your memory is definitely on the low side (whereas the other specs seem normal) and we are not seeing this behaviour in other situations -- so it may be related to memory, swapping, maybe another process consuming a lot of memory, etc.

[2019-08-21 21:50] bry00 commented on #7829
Release RELEASE.2019-08-21T19-40-07Z still has this error (on mac): "ERROR Unable to initialize disk caching: Atime support required for disk caching".

[2019-08-21 22:23] poornas commented on #7829
Is atime actually enabled on the cache drive? Please open a new issue with details

[2019-08-21 23:31] scorpuva commented on #8111
Still not working with .net core HTTP client.

I created the curl command using the sample you shared

`curl -X POST  -F bucket=testbucket -F key=sample.txt -F x-amz-algorithm=AWS4-HMAC-SHA256 -F x-amz-credential=minioobjectstorage/20190821/us-east-1/s3/aws4_request -F x-amz-date=20190821T232930Z -F policy=eyJleHBpcmF0aW9uIjoiMjAxOS0wOC0yMlQwMToyOTozMC4wMDBaIiwiY29uZGl0aW9ucyI6W1siZXEiLCIkYnVja2V0

[2019-08-21 23:40] harshavardhana commented on #8117
Closing this issue as incomplete, please reopen the issue with issue template filled with enough details about server version etc.

Thank you..

[2019-08-21 23:40] #8117 closed, assigned to nobody

[2019-08-21 23:44] harshavardhana commented on #8103
You can safely use MinIO long term, and update the software regularly. We adopted this model due to cloud native deployment style. Each MinIO server makes sure either migrate the data to new format or retains the ability to read older formats appropriately. We guarantee this contract whoever is using our software.

Semver is useful in libraries such as minio-go but not for MinIO server.  Going to

[2019-08-21 23:44] #8103 closed, assigned to nobody

[2019-08-21 23:45] harshavardhana commented on #8086
All our CI builds use pristine environment so I think this issue is local to your environment

[2019-08-22 00:08] scorpuva commented on #8111
It works after adding the bucket name to the url.
The sample has to be corrected !
[PresignedPostPolicy.cs](https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Cases/PresignedPostPolicy.cs)

Tuple<string, Dictionary<string, string>> tuple = await client.PresignedPostPolicyAsync(form);
                string curlCommand = "curl -X POST ";
                foreach (KeyValuePair<string, s

[2019-08-22 01:29] scorpuva commented on #8111
I am getting an error with file upload of size = 2GB
Using Post Url

[code]

Do i need to modify any config settings of minio?

[2019-08-22 01:30] scorpuva commented on #6627
started the minio with >> `minio.exe server c:\storagefolder`

Getting below error for the file of size = 2GB
Using Post Url (PresignedPostPolicyAsync)
[code]

Do i need to modify any config settings of minio?

[2019-08-22 03:42] JinghengHuang opened #8119 "Starting docker container failed with permission error"
## Expected Behavior

It was run on production smoothly for a few month. Recently there were some event that caused the production server to shutdown and reboot. After the reboot, I tried to restart the docker container with `docker restart <container name>`.  This should normally work, and it worked as expected before.

## Current Behavior

Instead of starting the container normally, it raised an

[2019-08-22 05:17] harshavardhana commented on #8119
This looks like docker issue @JohnHenryEden have you verified this locally ?

[2019-08-22 05:18] harshavardhana commented on #6627
Your issue not related to this issue @scorpuva please open a new GitHub issue.

[2019-08-22 05:19] harshavardhana commented on #8111
Are you sure your file size is 2GiB ? This error message is related to the multipart form keys being larger than acceptable values. Are you trying to base64 encode your stream by any chance ?

[2019-08-22 05:19] harshavardhana commented on #8111
Also please do share the code..

[2019-08-22 05:23] JinghengHuang commented on #8119
@harshavardhana Locally it worked fine, I guess it is docker issue.

[2019-08-22 05:24] harshavardhana commented on #8119
Yes MinIO doesn't do anything related to pts directory this is outside our control ..  feel free to close the issue if you have no further questions.

[2019-08-22 05:26] #8119 closed, assigned to nobody

[2019-08-22 06:27] ghost commented on #8086
I was able to build it when I omitted `GOPROXY=https://proxy.golang.org` from the command line. With that part it fails just the same way.

[2019-08-22 06:27] #8086 closed, assigned to ebozduman

[2019-08-22 06:27] henrythefool commented on #8088
I tested it with ip:9000 (no Nginx).
In short, the delay is the same as when there is Nginx.

We have a 10 nodes minio cluster, which has 3k objects in a main bucket(less than 200GB).
I did a simple test, trying to fetch a 300MB MP4 object in three scenarios in Chrome without Nginx.

1. In Chrome, it took more than 10s TTFB before it started download.
2. In chrome web player, every partial content

[2019-08-22 06:44] harshavardhana commented on #8088
@henrythefool what is the network speed between your clients and MinIO server ? And what is the average load on the server like how many GETs per second?

[2019-08-22 06:45] henrythefool commented on #8088
In downloading it's 1~5MB/s

[2019-08-22 06:46] harshavardhana commented on #8088
I mean can you run iperf like tool to get a ballpark figure ?

[2019-08-22 06:48] henrythefool commented on #8088
OK.

PS:
I build another cluster for test, 6 nodes, same machine, same network, same buckets and objects.
It has the same TTFB problem.
So I think it has no relation with "peak hours".

[2019-08-22 07:31] jonathan-molyneux commented on #7206
This problem is also affecting products like cloudberry when doing image based backups.
It uses 1MB blocks (I think) and during the multipart upload (especially if it's resumed) results in excessive cpu usage in minio as the hash requirements increase.
Eventually resulting in a stalemate and uploads cease.

Had anyone found a way to mitigate the issue server side ?
As in this use case it's not pos

[2019-08-22 07:35] gk-patel commented on #8103
@kannappanr: I think you missed to get my point, its not about a specific release. I am using minio with docker, wherein my compose-file has a statement like `image: minio/minio:latest`. Now lets say, I restart/update my service, which will automatically pull the latest image and start multiple containers with the latest image -- the question is:  **Is it garuenteed that the data created by the pr

[2019-08-22 07:45] henrythefool commented on #8088
I used another server as the client, in the same Local Area Network as the minio cluster.

Here is the network speed(by iperf3):
![image](https://user-images.githubusercontent.com/54152943/63495886-5abddc80-c4f3-11e9-83c3-95ab09f2cd97.png)

Then I used CURL to get an object to measure TTFB in the local network:
![image](https://user-images.githubusercontent.com/54152943/63496054-bee0a080-c4f3-11e9

[2019-08-22 07:52] henrythefool commented on #8088
In the above test, there's only one user (just me).

[2019-08-22 08:02] #7976 closed, assigned to harshavardhana

[2019-08-22 08:03] henrythefool commented on #8088
Maybe you can build a similar environment on your own server, it's very simple:
1. Run a distributed minio
2. Put 1-3K objects in a bucket (image 100KB, video 20~200MB)
3. Get a 100MB object

[2019-08-22 08:06] harshavardhana commented on #8103
Yes, they will be - it is guaranteed that they will be compatible. That is the guarantee we want to give to our users. In-fact our binary has been compatible with our releases even from early 2017.

[2019-08-22 08:12] harshavardhana commented on #8103
Our point is there is no migration needed and shouldn't be needed at the scale we are talking these days. The scale that is being deployed in the storage world, anyone sane wouldn't attempt migration of stored content.  This is where we saw semver is not useful and is a hindrance to our release strategy even introducing such thing might confuse users. We are interested in making frequent releases

[2019-08-22 08:21] harshavardhana commented on #8088
I don't see such high TTFB's @henrythefool they are usually really small - are your CPUs really slow?

I have a simple distributed cluster with 4 nodes, I don't see the same problem.

[code]

There is something wrong in your environment @henrythefool

[2019-08-22 08:32] ewolfman opened #8121 "Bucket policies to allow only GetObject but not ListObjects is denied on Azure Kubernetes"
I am trying to setup a minio on Azure Kubernetes with GetObject but without/deny ListObject.
This is designated to provide urls to explicit files on a public azure but not to allow listing.
It works great on a local Minio server but on Azure, using the release (RELEASE.2019-08-14T20-37-41Z), I get this for every policy configuration that I try in order to reach my goal:
"_A header you provided imp

[2019-08-22 08:59] harshavardhana commented on #8088
I even uploaded 1k objects nothing really changes in terms of TTFB

[code]

[code]

[2019-08-22 09:02] harshavardhana commented on #8088
In-fact my client is my laptop and our server is in our data center, my latency is pretty high

[code]

[2019-08-22 09:16] gk-patel commented on #8103
Okay. So minio has "backward compitability forever". Thats a very practical and a state-of-the-art approach you guys have implemented. Nice to know, I am impressed. Thanks for answering my questions (with pacience ;) ).

[2019-08-22 09:27] harshavardhana commented on #8121
This is mentioned in the documentation https://github.com/minio/minio/blob/master/docs/gateway/azure.md#known-limitations

These are limitations of Azure Blob Store, we don't try to simulate AWS style policies if backend doesn't provide such functionalities. So gateway simply exposes the limitations of backend.

[2019-08-22 09:29] harshavardhana commented on #8049
@ahmadalli can you test the latest release? - we have made some improvements in terms of healing.

[2019-08-22 09:31] harshavardhana commented on #7988
@hassbabaie can you upgrade to latest release and let us know if this is fixed..

[2019-08-22 10:10] henrythefool commented on #8088
OK. Thank you. I'll test it again in my laptop.

And, could you add some disk space for paly.min.io? Maybe I can test there.

[2019-08-22 11:21] aead commented on #7965
Can confirm that this is caused by encryption - the offset/size calculation (during decryption) is wrong. Have to investigate.

[2019-08-22 13:10] ahmadalli commented on #8049
@harshavardhana sure. I'll report back the results

[2019-08-22 13:58] scorpuva commented on #8111
the code which i used to perform test,
Started minio in cmd with below parameters

Test Code:
[code]
    class Program
    {
        static void Main(string[] args)
        {
            var Client2 = new MinioStorageClientTest();
            Client2.Test().GetAwaiter().GetResult();
        }
    }
[code]

[2019-08-22 15:41] krakazyabra opened #8123 "Invalid total number of endpoints"
## Expected Behavior
I run MinIO on the storage with 100+ hard drives (1 drive = 1 FS).
`minio server \ $(for i in $(ls /mnt); do echo /mnt/$i; done)`
I expected to add 99 of endpoints to minio server, but i got

## Current Behavior
`ERROR Unable to validate passed endpoints: Invalid total number of endpoints (99) passed, supported upto 32 unique arguments`

## Possible Solution
Allow to add more

[2019-08-22 17:59] scorpuva commented on #8111
Yes. its 1.97 GB. i am not doing base64 encode

[2019-08-22 20:02] harshavardhana commented on #8088
You can upload 100MiB there is enough space

[2019-08-23 00:57] eco-minio commented on #8109
I missed the fact that lifecycle is set on the bucket, I thought it was set at top level.  After setting on a bucket that has correct prefix it is working.

[2019-08-23 00:57] #8109 closed, assigned to vadmeste

[2019-08-23 07:03] jkanturski commented on #7829
We confirm this issue exists after running a script that initialize disk caching.

jkanturski@jkanturski-imac:~/minio_script_23092019$ ./run-minio.sh RELEASE.2019-08-21T19-40-07Z
Using MINIO_VERSION: _ RELEASE.2019-08-21T19-40-07Z
Minio data in: _______ /Users/jkanturski/minio_script_23092019/data
Unable to find image 'minio/minio:RELEASE.2019-08-21T19-40-07Z' locally
RELEASE.2019-08-21T19-40-07Z:

[2019-08-23 07:56] wimgoeman commented on #2423
Heads up for anyone stumbling upon this:

If you want to create a folder, by creating an object with trailing '/', make sure its **size is 0 bytes**.  If its not 0 bytes, you will get back an error that the object name is invalid even though it is just the size which is the issue.

[2019-08-23 10:13] jkanturski opened #8125 "During Minio deployment on AWS kubernetes node: "ERROR Unable to initialize disk caching: Atime support required for disk caching""
Cannot start minio container in the pod to be deployed on AWS kubernetes cluster node because of atime support enabled requirement

## Expected Behavior
 Minio container should start, so the minio pod can be deployed on AWS kubernetes cluster

## Current Behavior
Minio pod logs: "ERROR Unable to initialize disk caching: Atime support required for disk caching"
Minio pod status: "CrashLoopBackOff"

[2019-08-23 11:25] aead commented on #7965
Update: Tried to bisect this for a few hours - problem is that ZIPDownload does not work with SSE-C but not all versions (during bisect) support SSE-S3. Have to do a manual search... However, can confirm from bisect that the issue is a wrong length calculation for encrypted objects...

[2019-08-23 13:25] kattakarthik commented on #8005
Here is another observation from our side. This is doesn't happen in ARM standalone mode (not standalone erasure code... just standalone server with data folder on a drive).

Next I am trying to test ARM server standalone erasure code with multiple drives on a single server.

@harshavardhana

[2019-08-23 13:45] nitisht commented on #8125
Thanks for reporting @jkanturski we'll take a look

[2019-08-23 13:47] nitisht commented on #8121
Closing this as there are no plans to do this

[2019-08-23 13:47] #8121 closed, assigned to nobody

[2019-08-23 13:50] nitisht commented on #8123
are all of these drives attached to single node @krakazyabra ? If yes, can you try with an even number of drives?

[2019-08-23 16:31] poornas commented on #8125
Disk caching requires atime to be enabled on the cache drive(s) for cache eviction. Are the cache drive(s) specified in the MINIO_CACHE_DRIVES env variable actually backed by a cache drive with relatime/strictatime enabled? The cache drive(s) should be backed by a persistent volume with atime enabled on the mount point, @jkanturski

[2019-08-23 17:45] Nepoxx commented on #8016
I might be running into this. What is your output of `mc admin info` while an instance is dead?

This is what I have (I have 6 instances, losing any one of them results in the web interface complaining about failed lookups, uploads/downloads do not work*, etc.):

[code]

* Some uploads/downloads do work, rarely. I suspect this is when traffic is not sent to the dead instances.

---
edit: `mc ls my

[2019-08-23 19:03] bry00 commented on #8125
This error occurs when cache drive is backed by emptyDir volume, like with this configuration:
[code]

[2019-08-23 19:08] poornas commented on #8125
@bry00, can you paste output of `mount | grep /valdi/s3` - does it show relatime or strictatime?

[2019-08-23 19:56] bry00 commented on #8125
It seems, that emptyDir drives are mounted as noatime:
[code]
but emptyDir (the same config) worked with minio in previous versions (e.g. RELEASE.2018-12-13T02-04-19Z).

[2019-08-23 19:58] harshavardhana commented on #8125
@bry00 we made it stricter there was a bug in previous release.

[2019-08-23 20:07] bry00 commented on #8125
@harshavardhana ok, thx.

[2019-08-23 20:09] harshavardhana commented on #8125
atime support is a strict requirement, so there is nothing we can do to avoid atime.

[2019-08-23 20:13] Nepoxx commented on #8016
My DNS was indeed misbehaving (returning SERVFAIL instead of NXDOMAIN). I've switched to 1.1.1.1 but it does not fix the issue with minio (the error now has `no such host` instead of `misbehaving`)

[2019-08-23 22:47] harshavardhana commented on #8123
The point is just providing `minio server /mnt/{1...1024}` in ellipses syntax, if your mounts are not enumerated then enumerate them and It will make it work. Also they should be even number of disks.

What you are doing is providing way more endpoints that MinIO can use on the command line, there is a hard limit of 32.

[2019-08-23 22:48] harshavardhana commented on #7829
This is not an issue @jkanturski - you need disk which supports atime it is required for disk caching to work.

[2019-08-23 22:49] harshavardhana commented on #8016
If your node is down it will throw `No such host` are you expecting something else?

[2019-08-23 22:50] harshavardhana commented on #8125
Closing this since this issue is not related to MinIO implementation instead related to the disk FS which has explicitly disabled `atime`.

[2019-08-23 22:50] #8125 closed, assigned to poornas

[2019-08-23 23:00] Nepoxx commented on #8016
I am, however I am not expecting minio to misbehave when some nodes are down.

[2019-08-23 23:08] harshavardhana commented on #8016
What do you mean by misbehave ? Can you explain what happens ?

[2019-08-23 23:13] harshavardhana commented on #8101
Implementation should be based on this https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTObjectLockConfiguration.html

[2019-08-23 23:23] Nepoxx commented on #8016
When I refresh the UI, once in a while I get
[code]
Uploads and downloads fail most of the time (but not always).

[2019-08-23 23:26] harshavardhana commented on #8016
when you refresh the UI is sending List request to list buckets and objects - this message is expected.  Downloads and Uploads shouldn't fail - do they fail with timeouts or just fail to upload? or hang?

[2019-08-23 23:35] Nepoxx commented on #8016
This is what I get with AWS's cli,

Upload through load balancer:
[code]

Upload to instance directly:
[code]

---
edit: Minio client works fine

[2019-08-23 23:37] harshavardhana commented on #8016
The problem here is that AWS CLI is not properly doing rr-dns - mc automatically picks the next server available upon DNS lookup.

Also, your load balancer is not ignoring the downed server which it should bas<e on some form of healthcheck to the server.

What type of checks do you have to ensure that this is done? @Nepoxx

[2019-08-23 23:38] Nepoxx commented on #8016
I'm stuck with Apache unfortunately, and this is my configuration:

[code]

(edit: removed timeouts from config, they were leftover from some debugging)

[2019-08-23 23:48] harshavardhana commented on #8016
Looks like this part is not working appropriately @Nepoxx - 502 gateway error that you get is sent by the LB, not by MinIO server. So your load balancer is not working appropriately here, meaning it is scheduling the request to downed server incorrectly.

Second error with AWS CLI is it's not using the next IP after the DNS lookup to `venus` which `mc` is doing automatically.  This is also a limit

[2019-08-24 00:01] Nepoxx commented on #8016
Sorry about the noise (we can delete the above comments if needed).

`venus` resolves to a single ip and is not the host with offline nodes. Also, wouldn't using the direct ip remove the DNS requirement? I'm getting the same issue if I use `venus`'s ip directly:
[code]

---
[Removed to remove noise]

[2019-08-24 00:04] harshavardhana commented on #8016
These are all different issues @Nepoxx which we would love to fix. So let's not club them together and confuse on some other issue. Best practice open new issues.

[2019-08-24 00:11] Nepoxx opened #8127 "When a Minio instance is down, `mc config host add {alias} {host} {key} {secret}` fails"
## Expected behavior
 `mc config host add {alias} {host} {key} {secret}` should succeed even if some MinIO instances are offline
## Actual behavior
 `mc config host add {alias} {host} {key} {secret}`  results in:
[code]
## Steps to reproduce the behavior
Have a distributed setup, turn an instance of minio off (e.g. `docker service scale minio0=0`)

## mc version
- Version: 2019-07-31T19:17:35Z
Rel

[2019-08-24 00:13] harshavardhana commented on #8127
thanks for the issue - reproduced it sending a fix @Nepoxx

[2019-08-24 00:27] harshavardhana commented on #7810
This was decided that we won't do instead we will be re-purposing MinIO backend as etcd replacement to store our users, DNS service records etc.

Closing this issue as won't fix.

[2019-08-24 00:27] #7810 closed, assigned to nobody

[2019-08-24 10:36] kannappanr commented on #8123
Closing this as answered. Please feel free to reach out to us at https://slack.min.io for such questions

[2019-08-24 10:36] #8123 closed, assigned to nobody

[2019-08-24 12:14] github-wisper commented on #6034
need to be fixed, please

[2019-08-24 14:03] github-wisper commented on #5874
please reopen and correct this issue
S3 object key named /   is possible,  a lot of application deal with this, but minio server cannot be use as replacing solution to s3 , or update your website, and delete Full compatible S3 api , it's not the true.
Regards
Nicolas

[2019-08-24 14:54] ahmadalli commented on #8049
unfortunately our team decided to move on ceph for that matter. sorry I can't provide more info.
Thanks for your help

[2019-08-24 17:06] harshavardhana commented on #8049
Closing this issue as non reproducible..

[2019-08-24 17:06] #8049 closed, assigned to fwessels

[2019-08-24 17:13] harshavardhana commented on #5874
@github-wisper I don't think you are right  `/`  is not supported for good reasons, if your application deals with `/` on object storage then it is incorrectly written, to simulate POSIX on top of object storage.

Supporting `/` is not a cornerstone for all S3 compatibility and not having doesn't make a software suddenly incompatible. We haven't come across any application which is incompatible wi

[2019-08-25 07:26] mhjartstrom opened #8129 "MinIO won't clean up temporary files"
## Expected Behavior

MinIO should clean up its mess that it leaves behind in the object storage "tmp" folder.

## Current Behavior

Currently I have two different servers serving different object storages and they both have a massive load of junk left behind in their "tmp" folders. One of them contain 271 GB of data created between July 2nd and August 8th, another one 276 GB, a third one 124 GB a

[2019-08-25 16:26] harshavardhana commented on #8129
Thanks @mhjartstrom we will take a look

[2019-08-25 20:32] #8016 closed, assigned to harshavardhana

[2019-08-25 20:32] #8127 closed, assigned to harshavardhana

[2019-08-26 08:09] krakazyabra commented on #8123
Hi! Yes, all these drives are attached to one node.

Hi! With `minio server \ $(for i in $(ls /mnt); do echo /mnt/$i; done)` everything is fine, it works as intended.
In this issue i would like to make future request to increase the number of endpoint devices.

[2019-08-26 11:24] vadmeste commented on #8129
Just for clarification, are you saying here that both 2019-06-27T21:13:50Z and 2019-08-21T19:40:07Z do not clean tmp folders ?

[2019-08-26 11:53] jaroslawr opened #8130 "GCS gateway with disk cache - cache is corrupted when first-time request is aborted"
I run the minio GCS proxy with disk cache enabled. When I make a first time GET request to read some file from the minio gateway server, for a file which is not yet present in the minio disk cache, and I abort the request before it finishes, minio apparently corrupts its cache - the correct md5 sum (etag) is stored, the same one that is returned when downloading the file directly from the google c

[2019-08-26 12:09] vadmeste commented on #8129
It doesn't look there is any periodic tmp cleaning in FS mode, I think we can periodically remove all temporary files created/last-accessed at least 24 hours ago

[2019-08-26 14:24] bisegni opened #8131 "public"
**Is your feature request related to a problem? Please describe.**
I have server host in a private network with some floating ip that expose these machine to public. I have the ssl certificate of each one fo the server. but when I start minio in distributed mode I can't see a way to let minio that have an external ip that is registered in certificate. Wo Every node can't connect because get an ssl

[2019-08-26 14:47] aliabdollahy opened #8132 "generated presigned_url with minio python module works fine but with boto3 doesn't !!"
## BUG
Hi. i have a problem with presigned_url generation.
i need to generate presigned_urls and send them to front-end for file upload!
but the problem is that when i generate presigned urls with Minio python module, i works fine but when i generate presigned_urls with boto3, i doesn't work!!
[code]
and this is my code in js:
[code]

[2019-08-26 14:59] #8132 closed, assigned to nobody

[2019-08-26 16:16] harshavardhana commented on #8123
We won't increase it anytime soon, this is why we provide ellipses syntax @krakazyabra

[2019-08-26 19:53] mhjartstrom commented on #8129
I'm saying neither of those versions, or any of the ones released in between, will clean the tmp directory or else these files would have been deleted by now.

[2019-08-27 02:34] sc00byy opened #8133 "multipart upload error with cohesity"
I'm using an S3 bucket with Cohesity appliance.  I'm getting an issue that Cohesity is jamming.
 With support, we are trying to pinpoint the problem.  After some check with them, they traced the following behavior in logs:

bridge_exec.ERROR:E0821 17:23:15.188688 181295 curl_http_rpc_executor.cc:226] Response for the failed RPC: 10421 is <?xml version="1.0" encoding="UTF-8"?>
bridge_exec.ERROR-<Er

[2019-08-27 04:25] harshavardhana commented on #8133
@sc00byy we have been able to reproduce this as well - thanks for opening the bug.

[2019-08-27 04:25] harshavardhana commented on #8133
The real issue is this.

[2019-08-27 04:27] harshavardhana commented on #8131
This is not MinIO related issue, you need to have a public proxy terminator which communicates back to private IP.  MinIO cannot do anything in your setup.

[2019-08-27 06:01] bisegni commented on #8131
thank you

[2019-08-27 08:18] vanthome opened #8134 "GUI does not seem to support Proxying under Sub-Path"
**Is your feature request related to a problem? Please describe.**
I have tried to proxy minio using the following Nginx config (extracted from several other issues):

[code]

But whatever setting I try, I get this when accessing the URL `/admin/minio/` in the browser.

[code]

I don't know why it does not work as expected but other such tools respect `X-Forwarded-For`  and support being proxied u

[2019-08-27 08:24] harshavardhana commented on #8134
This is working as expected as per design, you are not allowed to change sub-paths @vanthome - you shouldn't add things like `location /admin/minio` and rewrite the requests.

[2019-08-27 10:09] nitisht commented on #8134
closing as working as intended

[2019-08-27 10:09] #8134 closed, assigned to nobody

[2019-08-27 10:09] nitisht commented on #8131
closing this as working as intended

[2019-08-27 10:09] #8131 closed, assigned to nobody

[2019-08-27 10:15] vanthome commented on #8134
ok, any statement as to why this is suppressed?

[2019-08-27 12:01] ghost commented on #8071
issue still present with `RELEASE.2019-08-21T19-40-07Z`
- either one of two nodes will go into heavy iowait usage
- throughput goes down
- latencies go up
- `system/daily-sweep` lock present, aged xx hours, not necessary towards the same host the iowait load is on.

[2019-08-27 14:20] bhrott opened #8136 "Signature error when uploading via cURL"
When we try to upload a file to a bucket in localhost using cURL, we are getting this error:

[code]

## Expected Behavior
The file should be upload to the bucket.

## Current Behavior
We are getting the signature error.

## Steps to Reproduce (for bugs)

docker-compose:

[code]

[code]

## Context
We need to dispatch a request from another application directly to the minio without using the minio

[2019-08-27 15:53] harshavardhana commented on #8134
Because in AWS S3 you cannot change the path on the fly, path is encoded as part of the signature. Sub-path based approach may work in certain situations but it is not recommended and it will fail in unforseen ways.

[2019-08-27 16:00] vanthome commented on #8134
ok, understdood, thx.

[2019-08-27 16:01] harshavardhana commented on #8071
Can you provide a dump of your directory tree structure ? What type of disks do you have ? Any `dd` numbers for your disk with `oflag=direct` ?

[2019-08-27 17:31] kannappanr commented on #8130
@jaroslawr We will take a look at this issue and get back to you.

[2019-08-27 18:51] kannappanr commented on #8136
@benhurott could not repro this issue while testing against local minio.

[2019-08-27 20:42] eco-minio commented on #8136
@benhurott Tested this with the version you mentioned and latest on linux and Mac, it is working fine on my end.  Do you have any other sort of proxy in between?  Can you run `mc admin trace -v <your alias>` and verify that the Authorization header is being preserved between where you are running the script and when it reaches minio?

[2019-08-27 23:33] kaankabalak opened #8680 "`brew test minio/stable/minio` command fails"
When we install the package using `brew install minio/stable/minio` and test it using `brew test minio/stable/minio`, the test fails with the following message. It seems like test command successfully starts the server while we are expecting a connection refused error.

[code]

[2019-08-28 00:18] kaankabalak opened #8679 "`brew audit --new-formula minio/stable/minio` returns problems"
According to the [basic instructions listed on the Formula Cookbook](https://docs.brew.sh/Formula-Cookbook#basic-instructions), we need to make sure that the package passes all `brew audit --new-formula <formula>` tests.

As we haven't explicitly submitted this formula to the Homebrew upstream, we might not be wanting to follow the guidelines exactly. If that's the case, the issue can be closed, h

[2019-08-28 06:54] ghost commented on #8071
Hardware is listed in the issue, 2 x  https://www.hetzner.com/dedicated-rootserver/sx62
the hard drives are Seagate ST10000NM0156 (2 x 4 disks).

I gave some  `dd` numbers earlier in Slack "on (at the moment non-problematic node) minio0 the dd speeds were 193, 217, 208 & 163 MB/s  for the disks"

Here's the basic directory structure for the minio data disks.
[code]

Minio is started with
`MINIO_VO

[2019-08-28 09:07] aloysiustany opened #8139 "Webhook bucket notification to support an Authorized endpoint"
Currently, I don't see a way for MinIO to call a Authorized endpoint webhook for bucket notification. All of my webapi endpoints authorize callers based on an oauth2 JWT token.

[2019-08-28 10:59] vsfalexanderpilch commented on #7988
I'm encountering the same issue with policies and users on windows in version 2019-08-21T19:40:07Z as well. I'm running some batch scripts in order to create users, groups, policies and buckets automatically. They're basically deleting the existing resources first and then recreate them. Those issues do only appear during the 1st run, when the objects don't exist. As soon as they've been created o

[2019-08-28 12:56] ghost commented on #8071
IDK if it's related too much but the `minio` thread count seems to go together with the sluggishness. Normal, responsive node has something like `minio` 50-70 threads (goroutines?), but when the number gets to something like 150 or over on the node, the minio cluster is quite unusable.

Clients start to get timeouts -> `pgbackrest` backups fail (at 60 seconds), `restic/rclone` spits `net/http: tim

[2019-08-28 13:53] vsfalexanderpilch opened #8140 "Docker swarm healthcheck/startup issue"
I'm running the (modified) docker swarm example from the documentation, but the nodes won't start if the healtchcheck is in there. **Docker swarm will only register the dns entry with the embedded dns after the container has been started successfully.** Here's the snippet I'm using in order to start a container:

[code]
[docker-compose.txt](https://github.com/minio/minio/files/3551223/docker-compo

[2019-08-28 15:39] harshavardhana commented on #7988
Thanks for reproducing @vsfalexanderpilch

[2019-08-28 15:43] harshavardhana commented on #8139
Closing as duplicate of #5166

[2019-08-28 15:43] #8139 closed, assigned to nobody

[2019-08-28 15:45] ghost commented on #7988
@harshavardhana sorry for the delay, I will also retest this today using mc

[2019-08-28 15:58] senthu-neyan commented on #7480
check the system time,

[2019-08-28 15:59] senthu-neyan commented on #1293
check the system time,

[2019-08-28 19:01] acourtneybrown opened #8143 "HDFS gateway head request on existing folder in a bucket returns 200"
When running `minio gateway hdfs`, a [`head-object`](https://docs.aws.amazon.com/cli/latest/reference/s3api/head-object.html) call against an existing directory in the bucket returns a 200 response code, instead of the expect 404.

## Expected Behavior
It should return 404, similar to S3 (directly), `gateway s3`, `gateway azure`, and `server ...`

[code]

## Current Behavior
It return a 200 respon

[2019-08-28 19:48] acourtneybrown commented on #8143
I realized that I forgot to mention that we saw this behavior with Hadoop 2.7.4, so I will try to reproduce it with a more recent version, too.

[2019-08-28 20:39] acourtneybrown commented on #8143
I was also able to reproduce with Hadoop 3.1.1.

[2019-08-28 20:50] harshavardhana commented on #8143
This is because of the loss of "/"

[2019-08-28 21:00] acourtneybrown commented on #8143
@harshavardhana I'm not sure I follow.  Every combination of leading & trailing `/` (ie: `warehouse/dev`, `/warehouse/dev`, `/warehouse/dev/`, `warehouse/dev/`) in the `--key` yields a 404 when talking directly to S3 (as expected), but yields a 200 from `minio gateway hdfs`.

[2019-08-28 21:01] harshavardhana commented on #8143
I am talking about the internal issue, not a client issue @acourtneybrown

[2019-08-29 00:00] #7988 closed, assigned to donatello

[2019-08-29 00:00] harshavardhana commented on #8133
Fixed by #8142

[2019-08-29 00:00] #8133 closed, assigned to harshavardhana, krishnasrinivas

[2019-08-29 00:02] harshavardhana commented on #8030
We will close this for now - please re-open when you have time to upgrade and retest. @Joozty

[2019-08-29 00:02] #8030 closed, assigned to Praveenrajmani

[2019-08-29 03:02] gsudhas opened #8147 "Uploading large files fails with 'One or more of the specified parts could not be found'"
Found an issue with uploading large files on a system running RHEL 7.6.

Created a large file (7GB) and tried uploading using mc. There were 56 parts which seemed to have uploaded correctly, but after that point the failure crops up:

mc cp /mnt/tmp/myuser/tmp.7g myminio/backup1
...
....
/mnt/tmp/myuser/tmp.7g:        6.99 GiB / 7.00 GiB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓

[2019-08-29 06:41] harshavardhana commented on #8147
This bug was fixed and released - refer #8142

[2019-08-29 08:31] bobblanchett commented on #4210
+1 an spk for arm based synos

[2019-08-29 09:05] zqkou commented on #4135
@harshavardhana
One of your recommendation is Restic, which I took a look is great backup/restore tool. But I only see articles talk about how to backup data TO minio. I didn't see how to backup data FROM minio. Could you please share some thoughts on this?

[2019-08-29 09:28] mickaelmonsieur commented on #6547
the correct command is:

[code]

[2019-08-29 10:24] dkocher opened #8148 "Objects with key name ending with delimiter missing in list bucket result"
Keys ending with a delimiter are missing in the list bucket result response.

## Expected Behavior

[code]
## Current Behavior
Missing key in list bucket result.

[code]

`Contents` is entirely missing in the response XML.

## Possible Solution
Include missing key in list bucket result.

## Steps to Reproduce (for bugs)
1. Choose New Folder… in Cyberduck
2. Try to navigate to the folder created ex

[2019-08-29 10:53] philipkozeny opened #8149 "Cluster down as soon as one node is offline"
I am running Minio on 4 different hosts with 2 disk each on Hetzners Cloud.

To run the nodes i am using docker-compose:

[code]

etc. I have a private network setup between the nodes. If all the nodes are online, everything is working great.

Output of

`mc admin info server minio-1`

[code]

As soon as one node is offline (sudo docker-compose down), the complete cluster is not working anymore. I

[2019-08-29 11:32] Hermain opened #8150 "Rclone --size-only documentation misleading."
**Is your feature request related to a problem? Please describe.**

The minio [docs](https://docs.min.io/docs/rclone-with-minio-server.html) state that:
[code]
This is misleading. The way I understood it its necessary to use --size-only for minio to work with rclone. However rclone works better without size-only.

When I change only a single byte in a file (same size) and reupload it using --size-

[2019-08-29 11:45] kannappanr commented on #8149
@philipkozeny  We will take a look into this issue and get back to you for more info if needed.

[2019-08-29 11:53] kannappanr commented on #8150
@Hermain Please feel free to send a PR

[2019-08-29 12:25] leifcr commented on #7745
Currently minio supports these out of the box:
* **ReadOnly** - All clients can browse + download any object without authorization
* **WriteOnly** - All clients can write but not read objects without authorization
* **Read+Write** - All clients can do anything without authorization
* **None** - Only authenticated requests

It would be awesome if a new policy was implemented
* **Download** - All cl

[2019-08-29 12:55] giezi commented on #6320
Hi @vishk35

How did you fixed the issue with stripping those path variables in HAProxy?

Many thanks!

best regards
Reto

[2019-08-29 14:06] Haazeel opened #8151 "Problem On Heal"
## Expected Behavior

We have lost a disk, during 2 days we have continues without.
We have mount a other disk for back a the normal et launch the command "mc admin heal -r myminio " for try reconstruct the disk (250G), and continues to use the cluster minio.

After end of command, we notes that miss bucket and the disk size are at (8G).
We try a other heal but now an error messages appear:

mc: <

[2019-08-29 14:14] Hermain commented on #8150
Is this documentation based on a github repo? It doesn't look like any md file.
Please share where I can change that

[2019-08-29 14:15] nitisht commented on #8150
This is the doc @Hermain https://github.com/minio/minio/blob/master/README.md

[2019-08-29 14:34] nitisht commented on #8151
looks like initial heal did not complete @Haazeel , error message is simply conveying that you have a heal process already running

[2019-08-29 14:40] Haazeel commented on #8151
Ok thank you, I have see with my colleague.

Sorry for the inconvenience and thank for your speed and sympathy.

[2019-08-29 14:40] #8151 closed, assigned to nobody

[2019-08-29 14:51] kaxap opened #8152 "High disk IO consumption"
Minio has been deployed on 8 servers with 128 GB RAM and 32 cores (16 virtual) with 5x 7200 SATA HDDs in RAID 0. A stream of small files (7-15KB) are continuously fed to the cluster at rate of 15-20 files per second.

## Expected Behavior
Files are ingested at fast pace. Comparatively low latency of file read (0-2 sec)

## Current Behavior
Due to high disk IO consumption (screen from iotop attache

[2019-08-29 15:43] harshavardhana commented on #8152
Two things architecturally you need

- For such small files you should be using SSD for performance,
- You should provide MinIO the disks directly and remove RAID 0.

[2019-08-29 15:54] harshavardhana commented on #8149
This is fixed in latest release, are you sure you are using the latest release ?

[2019-08-29 15:59] kaxap commented on #8152
The high disk IO consumption continues even when the writing process has been stopped.

[2019-08-29 16:01] kaxap commented on #8152
The max throughput is 300 KB per second (+ fraction of this for the erasure code), why is it necessary to have SSD for such low write rate?

Apologies, could you please clarify on this?

[2019-08-29 16:04] harshavardhana commented on #8152
RAID0 is useless with MinIO, controllers come in the way. MinIO should be given the disks directly that is our recommended architecture.

No matter what to reduce random I/O for small files you shall be using SSD. Also file sizes such as 5k are not well suited for MinIO - you should pack them into larger objects and upload from the client.

[2019-08-29 16:05] harshavardhana commented on #8152
Also how did you store these files? Did you dump objects directly at bucket level or is there a proper heirarchy ?

[2019-08-29 16:06] kaxap commented on #8152
yes, there is a proper hierarchy

[2019-08-29 16:10] harshavardhana commented on #8152
How many files do you have right now ? Can you perform some disk numbers for me using dd command `dd if=/dev/zero of=file bs=16k count=10240 oflag=direct` ?

[2019-08-29 16:29] gsudhas commented on #8147
This issue is still seen with the latest build of minio and mc. Could you please recheck the results for uploading a large file?

[2019-08-29 16:32] harshavardhana commented on #8147
Are you sure you upgraded all servers ? Also are you using a distributed setup here ?

[2019-08-29 16:33] gsudhas commented on #8147
It is just a simple one node setup. I used the latest source code and used the newly built minio and mc for the test.

[2019-08-29 16:35] harshavardhana commented on #8147
Okay then it's a different issue..

[2019-08-29 16:42] philipkozeny commented on #8149
@harshavardhana pretty sure, yes. Just ran

`cd /opt/minio && sudo docker pull minio/minio && sudo docker-compose down && sudo docker-compose up -d`

on all hosts, rebooted the physical hosts again on all machines. When all 4 hosts are up everything is working, if i take one offline nothing works anymore.

`mc admin info server minio-1`

reports Version: 2019-08-29T00:25:01Z for all 4 hosts.

[2019-08-29 16:45] harshavardhana commented on #8149
Okay will check @philipkozeny

[2019-08-29 18:08] harshavardhana commented on #8149
@philipkozeny I just checked

[code]

[code]

[code]

[code]

[code]

Even the browser is loading fine

[2019-08-29 18:14] harshavardhana commented on #8149
Even with the same configuration that you have

[code]
[code]

[code]

Kill one of the nodes at say port 9003

[code]
~ mc cp /etc/hosts myminio-local1/testbucket/
/etc/hosts:            417 B / 417 B ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 100.00% 3.56 KiB/s 0s
[code]

[2019-08-29 18:15] harshavardhana commented on #8149
I suspect this is something internal to your networking infrastructure? @philipkozeny

[2019-08-29 18:24] harshavardhana commented on #8148
They are always listed in the CommonPrefixes @dkocher

[2019-08-29 18:25] harshavardhana commented on #8148
Also, we don't support directories as objects @dkocher and we have no interest in supporting that at the moment.

[2019-08-29 18:28] philipkozeny commented on #8149
Thanks. I’ll try with fresh disks, test around with the network and report back.

[2019-08-29 18:41] dkocher commented on #8148
It bothers me because it is not API compatible with AWS S3.

[2019-08-29 18:45] harshavardhana commented on #8148
Yes on purpose @dkocher as explained in many other posts in few issues. It is to avoid bad practices. It is unfortunate that tools such Cyberduck rely on this behavior.

We have no plans on supporting it.

[2019-08-29 18:46] dkocher commented on #8148
What is your recommended best practice to achieve the same?

[2019-08-29 19:10] harshavardhana commented on #8148
Cyberduck should look for CommonPrefixes which are basically the directories anyways. @dkocher - there is no reason for a directory to be a key as well.

[2019-08-29 19:29] krishnasrinivas commented on #8147
@gsudhas is the backend FS a local XFS/ext4 or NFS?

[2019-08-29 22:13] svistoi opened #8154 "minio not listing all files stored"
mc ls and mc du is not showing all the files

## Expected Behavior
mc ls to show all files

## Current Behavior
When I do `mc ls` or `mc du` the reported number of files (202, 34MiB) in the bucket is significantly smaller than the number that was copied and stored on 4-node minio cluster.

When I go to the filesystem for individual minio instance and do ls/du I get 11384 items, 5480 MB.

I identif

[2019-08-29 22:14] harshavardhana commented on #8154
are you running Minio distributed on top of NFS? @svistoi

[2019-08-29 22:16] svistoi commented on #8154
@harshavardhana Yes

[2019-08-29 22:23] harshavardhana commented on #8154
@svistoi that is not recommended, NFS is notorious for being commonly inconsistent we write

- O_SYNC for xl.json
- O_DIRECT for data

Both of them are hardly supported or incorrectly implemented in NFS. It is better to use local disks with XFS.

You may be running the cluster for a while but we would never recommend running this over NFS, and you should never do that.

[2019-08-29 22:35] svistoi commented on #8154
@harshavardhana  I see.  Thank you for the suggestion.

Is there some validation I can do on xl.json metadata for files that are not displayed as part of `mc ls`?  The `mc cp` behavior I described suggests that minio can return the file, and that it's not corrupt.

Is there an index or do the minio instances re-query metadata reply to `mc ls`?

On a slightly separate note
`mc admin info server mys

[2019-08-29 23:02] harshavardhana commented on #8154
As I said NFS has issues, you shouldn't run another NAS product on top of another NAS product - you are prone to issues and it will never work properly.

[2019-08-30 00:44] TheFiZi commented on #7744
Same issue here on Windows Server 2019 Standard 64-bit but I'm using BackblazeB2

Windows version: 10.0.17763 N/A Build 17763
Minio version: 2019-08-29T00:25:01Z

Temporary workaround:
**Note:** You need access to a Linux box, the Linux Subsystem for Windows to be installed or just the OpenSSL binary and you will need to run minio.exe once on your Windows system so it creates it's default certific

[2019-08-30 01:58] harshavardhana commented on #8148
Closing this as non-actionable for us.

[2019-08-30 01:58] #8148 closed, assigned to nobody

[2019-08-30 05:32] ghost commented on #8071
Also, when there's a long lived lock on one machine...
[code]
...the iowait load is observed on the opposing node `minio0`, where at the moment there's 473 minio threads running.

Yesterday I was able to get some 6 hours of good working service out of the cluster by just stopping all clients, stopping all minio processes, getting a cup of coffee and then restarting everything in reverse and leavin

[2019-08-30 06:23] harshavardhana commented on #8071
What you are seeing is definitely unusual, it can only happen if your disks are unexpectedly slow which seems to be not the case. With your dataset the listing should be completed by now.

Adding debug logs are meaningless here, they won't give you any value. Neither it will help debug this issue.

To start with can you gather ` iostat -x -m 1 ` from all the drives while under I/O ?

There is one

[2019-08-30 07:59] gsudhas commented on #8147
The backend is a cluster XFS. I just tried using ext4 filesystem as a backend and there are no issues!

[2019-08-30 07:59] #8147 closed, assigned to nobody

[2019-08-30 08:01] ghost commented on #8071
I just recovered from the situation by restarting for this morning to get some data in. I will provide `iostat`data if/when it gets worse. I'll do the profiling as well.

[2019-08-30 08:01] dkocher commented on #8148
For the sake of documentation I will try to explain again the use case. We have to differentiate between
 * A prefix that has no child elements and we let the user know that no such path exists.
 * A prefix that denotes an empty directory with said placeholder object

We have now [implemented](https://github.com/iterate-ch/cyberduck/commit/e042ae12dbce7ff42a7496bf6dd9002c32466c54) a workaround for

[2019-08-30 10:15] rjshree opened #8160 "Can't add config.json file for MINIO Server which is a docker image deployed into Kubernetes."
I'm trying to add rabbitmq server details in the config.json file of Minio Server. I got to know I have to create one.

Version Details:
Version: 2019-08-29T00:40:57Z
Release-tag: RELEASE.2019-08-29T00-40-57Z
Commit-id: bd7564a2d4524335a594f0f4e10b06c033eb299c

Command I used to create config.json:
mc admin config set minio < /tmp/my-serverconfig
Setting new MinIO configuration file has been succe

[2019-08-30 10:21] bhrott commented on #8136
Hi guys! Was an issue with a vpn. Thanks o/.

[2019-08-30 10:21] #8136 closed, assigned to eco-minio

[2019-08-30 11:20] adr-arroyo opened #8161 "[not our bug] Python connection to minio on docker server in localhost"
I am trying to generate a minio server with docker on my local machine (ubuntu 18.04), and then I would like to connect from a Python client to store some files. My code is:

[code]

## Expected Behavior

Creates a bucket on minio.

## Current Behavior

Returns error:

[code]

## Steps to Reproduce (for bugs)

1. Follow https://docs.min.io/docs/how-to-secure-access-to-minio-server-with-tls.html to

[2019-08-30 11:49] ghost commented on #8071
FYI, here's some `iostat -x -m 1` data when things are running smoothly (data going into cluster about 500 Mbit/s)

[code]

[2019-08-30 13:06] kannappanr commented on #8160
@rajashreetutgirl PTAL https://docs.min.io/docs/minio-server-configuration-guide.html You need to get the current config first, then modify it and set it. Please look at https://docs.min.io/docs/minio-bucket-notification-guide#AMQP for more details.

[2019-08-30 13:19] nitisht commented on #8161
have you set `secure=True` in python client @adr-arroyo

[2019-08-30 13:25] kannappanr commented on #8161
@nitisht I think the default value is True

[2019-08-30 14:27] maejimayuto commented on #4769
https://github.com/minio/minio/issues/4769#issuecomment-320319655

if you want to change bucket policy, maybe you have to this.
you forget `set` .
[code]

ref:
https://docs.min.io/docs/minio-client-complete-guide#policy

[2019-08-30 15:51] dcharbonnier opened #8162 "Error: error in sending event"
There is no notification setup on this server and this server is not a cluster

Config https://gist.github.com/dcharbonnier/b35b956a54b467f32f09b78ab38ca3c1
Version : minio/minio:RELEASE.2019-08-29T00-25-01Z
Command: server /export

We have a lot of errors :
[code]

In the end the docker private registry is not able to push the images anymore and restarting only minio fix the issue of the registry

[2019-08-30 16:22] fahrradflucht opened #8163 "minIO server writes to deprecated `$HOME/.minio`"
## Expected Behavior
minIO server shouldn't write to `$HOME/.minio` since the `--config-dir` is deprecated.

## Current Behavior
On server startup minIO tries to write to `$HOME/.minio/config.json`. If it can't it exits with the following message.

[code]

If `$HOME/.minio` isn't writable, this forces the deprecated `--config-dir` flag to be used.

## Steps to Reproduce
1. `useradd -M -r minio`
2.

[2019-08-30 16:25] dcharbonnier commented on #8162
we have a `mc mirror --remove --json -w source/$SOURCE_BUCKET target/$TARGET_BUCKET;` running that explain the fact that something is listening to the notifications probably

[2019-08-30 16:59] harshavardhana commented on #8162
Since you have --watch it is listening for events..

[2019-08-30 17:06] harshavardhana commented on #8163
It migrates your existing config.json - it is actually failing for the stat operation here.

[2019-08-30 17:08] harshavardhana commented on #8160
Once server is upgraded , you need to upgrade mc as well @rajashreetutgirl

[2019-08-30 17:10] philipkozeny opened #8164 "Cannot heal with --scan=deep: Heal had an error - Storage resources are insufficient for the read operation."
## Expected behavior

I am running a distributed setup with 3 nodes, 2 disks each (binary on Debian 10). Since i had reports of Bitrot verification issues i am trying to run a heal command with --scan=deep

This has worked on that specific setup already, but since of the latest updates (can't pinpoint which one), it always aborts at the start of the heal process with: Heal had an error - Storage r

[2019-08-30 17:11] harshavardhana commented on #8164
This is a server issue @philipkozeny so moved it here.

[2019-08-30 17:46] #7965 closed, assigned to aead, kaankabalak

[2019-08-30 17:52] harshavardhana commented on #8149
Closing this as fixed for now @philipkozeny - let's re-open if you reproduce this.

[2019-08-30 17:52] #8149 closed, assigned to vadmeste

[2019-08-30 17:53] harshavardhana commented on #8154
Closing this issue as non-actionable for us - NFS shouldn't be used as a backend for distributed setup,  it is well suited to be used as `minio gateway nas` instead.

[2019-08-30 17:53] #8154 closed, assigned to nobody

[2019-08-30 18:00] harshavardhana commented on #8140
@nitisht ping

[2019-08-30 18:02] harshavardhana commented on #8150
The doc to fix is this https://github.com/minio/cookbook/blob/master/docs/rclone-with-minio.md

[2019-08-30 18:20] harshavardhana opened #8165 "mint: testCopyObject seems to fail sporadically"
## Expected Behavior
No test failure

## Current Behavior
[code]

## Possible Solution
Not sure but this issue is sporadically reproducible

## Steps to Reproduce (for bugs)
Runt `mint` tests for minio-go in a loop.

## Context
Sanity and consistency requirements should be met for MinIO at all times.

## Regression
Not sure

## Your Environment
master branch of MinIO

[2019-08-30 19:03] alainandre commented on #8071
We are experiencing the same issue in our distributed server setup (8 nodes - 48 drives) running MinIO - RELEASE.2019-08-21T19-40-07Z on RHEL 7.6.

[2019-08-30 20:09] digitalpardoe opened #8166 "[gateway] Backblaze B2 HeadObject fails on 0 byte files"
## Expected Behavior
A `HeadObject` request is made to MinIO using the S3 API for a 0 byte file served by the Backblaze B2 gateway, response is that the file exists as expected.

## Current Behavior
The request fails with the error:

[code]

Backblaze apparently consider the 0-0 byte range to be "out of range" for a 0 byte file, looking at their API it may be attempting to return bytes 0 to 1.

##

[2019-08-30 20:21] harshavardhana commented on #8148
If you look at `mc ls` implementation you can see how it is able to handle this @dkocher

[2019-08-30 21:32] digitalpardoe commented on #8166
It looks like it was possibly using the "get info" method at some point in the past then was changed to use range. I can see the "get info" code still exists in there but my Go is terrible so that's about as far as I've gotten: https://github.com/minio/minio/pull/6508/.

[2019-08-30 22:36] vadmeste opened #8168 "Enhancements to lifecycle subsystem"
1) Suspend/resume lifecycle scan depending on server usage (received requests)
2) Avoid calculating common prefix, and list each prefix in each rule
3) Sleep 24 hours after one lifecycle round
4) Send delete notification when an object is deleted
5) What happens when lifecycle bucket policy is changed during object listing: according to S3 documentation, disabling/delete bucket lifecycle configura

[2019-08-31 08:21] #8164 closed, assigned to vadmeste

[2019-08-31 13:41] LostKobrakai opened #8170 "`--json` CI Arg does auto enable quite mode."
## Expected Behavior

`minio --json server $PATH` should output startup information in json format.

## Current Behavior

The `--json` flag does also contrary to it's CLI docs enable quiet mode.

## Possible Solution

https://github.com/minio/minio/blob/master/cmd/logger/logger.go#L121-L124
Do not add the quiet flag here.

## Steps to Reproduce (for bugs)

1. Run `minio --json server $PATH`
2. Mis

[2019-08-31 19:09] rjshree commented on #8160
mc: <ERROR> Cannot get server configuration file. We encountered an internal error, please try again.

[2019-08-31 19:45] rjshree commented on #8160
Also when I ran kubectl logs for my minio pod, I'm getting below error logs.  I am new to Minio. ANy leads would be helpful. Thanks in Advance!!

API: GetConfigHandler()
Time: 16:50:18 UTC 08/31/2019
DeploymentID: bd85de5d-aa3f-4ced-b148-ce4e395fe20a
RequestID: 15C00FF5A517C696
RemoteHost: 10.233.87.0
Host: 10.12.40.161:31265
UserAgent: MinIO (windows; amd64) madmin-go/0.0.1 mc/2019-08-29T00:40:57

[2019-08-31 20:00] rjshree commented on #8160
I wanted to create notification event to send message to rabbitmq. It gives no error as well could not be consumed. Same Rabbitmq pod I created standalone publisher to send message. It can consumed by consumer. But the notification is not at all being sent. I think my config changes are not reflecting.

Consumer Code:
import pika

connection = pika.BlockingConnection(pika.ConnectionParameters(

[2019-09-01 10:37] nitisht commented on #8160
can you paste the `config.json` file you're trying to set? Looks like it has some invalid cahracters

[2019-09-01 15:15] rjshree commented on #8160
@nitisht

Please find my config.json and please do let me know if any invalid characters are there:
[code]

[2019-09-01 19:01] muzammel111 commented on #6272
I am facing the same issue, wrong value of Used space, when the fix will incorporated ?. Its put bad impression on users, i suggest until the fix its remove from the browser.

[2019-09-02 02:45] yaozongyou commented on #7911
the reason for
[code]
error is because the `AllowQuotedRecordDelimiter` in your request parameters, `AllowQuotedRecordDelimiter` is not supported~~~, see:
https://github.com/minio/minio/blob/master/pkg/s3select/csv/args.go#L115

[2019-09-02 07:23] ghost commented on #8071
`iostat` data when the issue is present:
[code]

[2019-09-02 13:40] arouene opened #8172 "Administrative users"
## Expected Behavior
It's probably a feature request or an information request if it's already exists.

Have a mean to create an **administrative user** that are able to create users for specific buckets or set a user's policy without knowing the access_key.

## Current Behavior
Today, you can only create users with an access_key.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Create a

[2019-09-02 14:19] harshavardhana commented on #8172
There is only one MinIO admin with admin API access - we wish to keep that scope limited. Root credential is always one.

We already have a concept of groups, users and policies. You should upgrade to latest to get these features.

[2019-09-02 14:45] arouene commented on #8172
Ok, so if I understand, to create users we must have the Access Key of the storage account (for Azure storage account backend) ? Correct me if I'm wrong.

I will close the "issue" if it's the intended behavior. Thank you.

[2019-09-02 14:45] #8172 closed, assigned to nobody

[2019-09-02 14:51] harshavardhana commented on #8172
Azure backend is a gateway - what I am actually talking about is server mode here @arouene . In case of gateway the root credential is the same one that used to talk to the backend.

[2019-09-03 03:45] trulyliu commented on #8140
ping

[2019-09-03 12:26] imrane2e opened #8173 "UI Upload issues on federation setup"
we have a federated setup with 2 clusters with a 3 node Etcd setup.

## Expected Behavior
uploads and list items should work on both UI and mc

## Current Behavior
- On any upload of an item on minio webUI, it shows a message of file uploaded successfully, but the item doesnt get listed on the UI
- The uploads and listing happen normally over mc

## Steps to Reproduce (for bugs)
- Login to any of

[2019-09-03 12:48] nitisht commented on #8173
Thanks @imrane2e we’ll take a look soon.

[2019-09-03 13:10] kannappanr commented on #8170
@LostKobrakai Can you tell us what information you want to parse that is displayed in the CLI output?

[2019-09-03 13:15] LostKobrakai commented on #8170
I've now gone ahead and defined it explicitly when starting minio, but I was looking for the endpoint information as well as the secrets.

[2019-09-03 16:30] mymasse opened #8174 "Unable to update from 2019-08-14 to 2019-08-21"
Using the MinIO Bosh releases we are unable to upgrade from version 2019-08-14 to 2019-08-21. We are using a deployment equivalent to the sample manifest provided in the bosh release repositoty: 4 VMs with 1 disk each.

## Expected Behavior
Cluster should start successfully

## Current Behavior
Cluster doesn't initialize and reports the following in the logs

## Your Environment
* Version used: RE

[2019-09-03 16:31] harshavardhana commented on #8174
You can't do rolling upgrades from 14 to 21 as there is breakage of internode APIs all servers have to be updated together

[2019-09-03 16:35] mymasse commented on #8174
OK, well bosh updates all the servers one by one and after all 4 are updated none of them work. What should be the correct steps when doing an upgrade with Bosh?

[2019-09-03 17:01] nitisht commented on #8160
config looks fine @rajashreetutgirl do you mind joining us on Slack (https://slack.min.io) so we can discuss real time and fix this quickly.

[2019-09-03 17:06] sanderegg commented on #8140
+1

[2019-09-03 17:23] nitisht commented on #8140
Working on this, will get back soon

[2019-09-03 19:25] rjshree commented on #8160
Sure @nitisht . When can i join?

[2019-09-03 21:16] kannappanr commented on #8160
@rajashreetutgirl I see that you have joined general channel on slack. You can ping us over there and we would be happy to help you. FYI, I tried the exact config file that you pasted here and that worked, except that it threw some error regarding the `amqp` server being not reachable, which is expected

[2019-09-03 22:27] ghost commented on #8161
@nitisht @kannappanr quick related question we got a similar error to this on our of our gateways over the weekend (running the latest version). We saw these a while back but not for over a month. Is this related to the above issue? FYI, this is without SSL

urllib3.exceptions.MaxRetryError: HTTPConnectionPool(host='172.17.0.1', port=9000): Max retries exceeded with url: /path-to-file (Caused by R

[2019-09-04 09:25] kannappanr commented on #8161
@hassbabaie I don't think so.

[2019-09-04 11:10] aead commented on #8161
@adr-arroyo What is the log output at the minio server (docker container)? There should be a log msg starting with `tls:.

[2019-09-04 11:20] luanshaotong opened #8177 "requests to distributed minio will wait 60s while a server is lost"
I deployed distributed minio servers on three nodes of kubernetes. I expect that minio will automatically recover data and continue to provide services while a node is lost. When I lost a node, the minio server still provided service, but every time an object was requested, the minio waited 60s time to return the result sometimes (whether or not the object is requested for the first time).
What is

[2019-09-04 12:59] asm582 commented on #1025
Hello @harshavardhana ,

In my current setup, I am using codalab stack which is Django with boto on python 2.7.

I get the following exception:
S3ResponseError: S3ResponseError: 400 Bad Request

Below are the properties set in my .env:

DEFAULT_FILE_STORAGE=storages.backends.s3boto.S3BotoStorage
AWS_ACCESS_KEY_ID=Q3AM3UQ867SPQQA43P2F
AWS_SECRET_ACCESS_KEY=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
A

[2019-09-04 13:05] guanxine opened #8178 "Publish MinIO events via AMQP: MinIO server stop when RabbitMQ restart"
Publish MinIO events via AMQP: minio server stop when rabbitmq restart

## Expected Behavior
minio server normal working when rabbitmq restart

## Current Behavior
minio server stop when rabbitmq restart

## Steps to Reproduce (for bugs)

1. stop rabbitmq and post 2 object. find 2 event in queueDir `/home/events`
[code]
​
2. docker restart rabbitmq, minio server stop, find logs in minio server
​
[

[2019-09-04 13:15] guanxine commented on #8178
I have discussed the bug with @praveen(Praveen raj ) in slack
https://minio.slack.com/archives/C3NDUB8UA/p1567567770493300

[2019-09-04 13:31] YoussefArfaoui opened #8179 "Docker image: bucket or object are not visible after refresh from Minio Browser"
I'm trying to test the docker compose file provided in the minio web site. I tried to create  bucket from the web interface. bucket is created and I can see it in the file system but if I refresh the page or I create the bucket using AWS S3 it's not visible in the browser. Please is there any missing configuration or recommendation to make it work as it should be?

[code]

[2019-09-04 13:35] YoussefArfaoui commented on #8179
Sorry for the formatting issue. I'm forced to use an old IE browser that is not compatible with github and does not accept many editor features

[2019-09-04 13:47] ghost commented on #8161
Thanks @kannappanr we'll keep running and see if it re-appears.

[2019-09-04 14:23] nitisht commented on #8179
can you comment out `healthcheck` section and try again ?

[2019-09-04 15:45] depakn opened #8180 "Change the Logo image in MinIO"
is there any possibility to customize the MinIO. Like change the color code and Logo with our own logo

[2019-09-04 15:59] harshavardhana commented on #8180
There is no possibility, you may fork the project and change whatever you need @depakn - it will be your custom build.

[2019-09-04 15:59] #8180 closed, assigned to nobody

[2019-09-04 16:05] depakn commented on #8180
I have downloaded the code from 'https://github.com/minio/minio'. @harshavardhana Can u help me to run the downloaded code?

[2019-09-04 16:20] mrsrvman commented on #8178
I apologize, but  will write in this issue.
Exactly the same problem with webhook in a similar "disable endpoint" scenario.
* Version used:
[code]
* trace
[code]
* minio event config
[code]

[2019-09-04 16:36] harshavardhana commented on #1025
Please open a new issue @asm582 - this GitHub issue is too old to reopen.

[2019-09-04 17:44] #8173 closed, assigned to Praveenrajmani

[2019-09-04 17:51] kannappanr commented on #8170
The idea in not displaying that information is that `json` mode will be the one used in scripts and we did not want to display secrets and other info that doesn't change on every startup. Closing this issue for now. Please let us know if this needs to be looked at again.

[2019-09-04 17:51] #8170 closed, assigned to nobody

[2019-09-04 18:13] LostKobrakai commented on #8170
That's what `--quiet` is for though. If the default is the problem than there should at least be a way to opt into showing those information imo.

If you really don't want to change the implementation at least the cli help documentation should be adjusted to document the behaviour. Currently it mentions that both logs and startup information will be shown in json format.

[2019-09-04 21:53] kanadaj opened #8181 "A very high number of buckets causes very slow performance in the UI"
Due to certain reasons, we have deployed minio on our production Kubernetes system as we migrated away from our previous cloud provider. Due to configuration reasons and the legacy setup, we ended up with several thousand buckets on minio. The server handles this just fine, however, the web UI struggles badly since it loads the full list of the buckets.

## Expected Behavior
Ideally, a paged list

[2019-09-05 00:45] kannappanr commented on #8014
@akalongman Closing this as stale. Please feel free to reach out to us once you have the information requested.

[2019-09-05 00:45] #8014 closed, assigned to eco-minio

[2019-09-05 00:46] kannappanr commented on #7655
Closing this as fixed based on the above comment. please test it against the latest version of MinIO.

[2019-09-05 00:46] #7655 closed, assigned to eco-minio

[2019-09-05 01:08] kannappanr commented on #7062
Closing this issue for now. Once docker add support, we can publish docker images for ppc64le.

[2019-09-05 01:08] #7062 closed, assigned to nobody

[2019-09-05 02:32] wlwcjl opened #8182 "How to repair a broken node"
I have a distributed cluster with 4 nodes. After a node was taken out of service and had its volume wiped, when i start the cluster, the console shows the message that unformatted disk found,how do i repaire the broken node? help me, please, thank you!

[2019-09-05 03:14] asm582 opened #8183 "AuthorizationHeaderMalformed even when the region is correct"
I get the exception of AuthorizationHeaderMalformed even when the region is correct. I am trying to use codalab with Django on python 2.7 which uses boto.

## Expected Behavior
I am expecting object to be downloaded from the bucket

## Current Behavior
[code]

[2019-09-05 03:52] harshavardhana commented on #8182
`mc admin heal -r myminio`

[2019-09-05 05:40] wlwcjl commented on #8182
I  executed the command as you said,but there was nothing on my new volume, do I have to wait a long time?  thank you！ @harshavardhana

[2019-09-05 05:42] lirany1 opened #8184 "Unable to load certificate after docker run for the minio/mint:latest"
[code]

## Current Behavior

[code]

## Your Environment
under gravity shell
Edition:        open-source
Version:        5.5.8
Git Commit:     699557029db3d1d9523be3cba92bd3303d411fb2
Helm Version:   v2.12
tiller-app:5.5.2
kubernetes:5.5.8

* Version used (`minio version`):
minio version
Version: 2019-08-07T01:59:21Z
Release-Tag: RELEASE.2019-08-07T01-59-21Z
Commit-ID: 930943f058f01f37cfbc2265d5f8

[2019-09-05 05:48] harshavardhana commented on #8184
This should be just

[code]

latest image is hardly updated .

[2019-09-05 06:08] YoussefArfaoui commented on #8179
@nitisht  It's the same result. bucket is created and I can see it in the file system but if I refresh the page or I create the bucket using AWS S3 it's not visible in the browser.

[2019-09-05 06:10] lirany1 commented on #8184
got the same
unable to load certificate
140663528957592:error:0906D06C:PEM routines:PEM_read_bio:no start line:pem_lib.c:701:Expecting: TRUSTED CERTIFICATE

[2019-09-05 06:45] #8162 closed, assigned to krishnasrinivas

[2019-09-05 08:59] Praveenrajmani commented on #8178
@mrsrvman This is not related to this issue. The problem is on receiver. The response writer is causing the EOF. Probably, because you did not set any response header (or) response writer is prematurely closed without sending anything (causing EOF)

You could have a webhook receiver like,

[code]

[2019-09-05 09:20] #8140 closed, assigned to nitisht

[2019-09-05 09:23] mindhash opened #8186 "Server panic when webhook return 500 error"
I configured a web hook endpoint and a bucket notification. The webhook endpoint is unimplemented and returns HTTP 500.

## Expected Behavior

Expected Minio server either
i) to queue up the events and retry webhook call after a while OR
ii) softly handle failure and continue serving other requests

## Current Behavior

The server generated panic and exited.

panic: target.Send() failed with 'send

[2019-09-05 09:24] nitisht commented on #8186
@mindhash this is a known issue, marking as duplicate of #8178

[2019-09-05 09:25] #8186 closed, assigned to nobody

[2019-09-05 09:34] nitisht commented on #8181
@kanadaj we'll take a look

[2019-09-05 09:36] nitisht commented on #8182
`heal` gives a status banner while it is running. What do you see there @wlwcjl

[2019-09-05 10:44] ghost commented on #8152
https://github.com/minio/minio/issues/8071

"The high disk IO consumption continues even when the writing process has been stopped."

The same happens with my case. Using `mc admin trace -a` and `tcpdump` I can see lots of `internal.ReadAll` and `internal.StatsFile` requests going on when all the clients have been taken out (by shutting down our reverse proxy). This seems to be part of the normal

[2019-09-05 13:18] the-glu commented on #8174
I did get the same issues upgrading two groups of servers from 2019-07-05T21-20-21Z to 2019-08-29T00-25-01Z.

Services where stopped during the upgrade.

One has some files with bitrot verification mismatch, one doesn't start at all (since he has issues on the configuration file, .minio.sys/config/config.json

I noticed the issue using tcpdump, trying to debugg why my server wasen't starting at al

[2019-09-05 14:17] vadmeste opened #8188 "xl: Healing a bucket should not populate an unformatted disk"
## Expected Behavior
Healing a bucket, with auto-healing, should not create a bucket in a disk although this latter is not formatted (in contrary to healing objects which does not do that)

## Current Behavior
Healing a bucket creates the bucket in the unformatted disk, the result is the disk becomes corrupted and not unformatted anymore

## Possible Solution
Do not know for sure

## Steps to Repr

[2019-09-05 14:37] mrsrvman commented on #8178
I can not repeat the problem with the EOF error code.
Now in my tests the error "sending event failed with 500 Internal Server Error" began to appear

[code]
As endpoint I use nginx with the following config
[code]

[2019-09-05 15:43] Praveenrajmani commented on #8178
@mrsrvman  I can see `maximum store limit reached` error. Can you increase the queueLimit and restart the server. And `sending event failed with 500 Internal Server Error` is from the webhook target that you've configured. And yes, MinIO will stop/panic when it gets an error other than connection failure/reset

[2019-09-05 17:51] harshavardhana commented on #8174
This is an issue is not related to bit-rot, it is related to how it is reading older objects - this issue is reproducible with the following script.

[code]

[2019-09-05 18:03] #8130 closed, assigned to poornas

[2019-09-05 18:10] harshavardhana commented on #8177
are you sure you are running this release?  - This issue has been fixed in all the latest releases @luanshaotong

[2019-09-05 18:22] kannappanr commented on #8179
@YoussefArfaoui We have tried it here and were unable to repro the issue. Can you please let us know the name of the bucket that you have created?

[2019-09-05 18:24] kannappanr commented on #8177
@luanshaotong Please try the latest release and let us know if you still see the issue. Closing the issue for now.

[2019-09-05 19:43] YoussefArfaoui commented on #8179
I was trying different combinations bucket1, application, si-us-bucket... but I'm getting the same issue. can't be a permission issue. The created folders ( buckets) and files permissions uploaded in the data folder are owned by root.

[2019-09-05 20:08] kannappanr commented on #7530
Closing this issue. We cannot write unit tests for the functions in these files.

[2019-09-05 20:08] #7530 closed, assigned to kannappanr

[2019-09-05 20:08] kannappanr commented on #7522
Closing this issue as we cannot write unit test for this file

[2019-09-05 20:08] #7522 closed, assigned to kannappanr

[2019-09-05 20:27] harshavardhana commented on #8174
https://github.com/minio/minio/pull/8190 - fixed here.

[2019-09-05 20:55] #8178 closed, assigned to Praveenrajmani

[2019-09-05 22:37] kannappanr commented on #8184
If you were to try against a trusted certificate for your MinIO deployment or run MinIO without a certificate, you will not see this issue. Please try steps listed in https://medium.com/@paraspatidar/add-self-signed-or-ca-root-certificate-in-kubernetes-pod-ca-root-certificate-store-cb7863cb3f87 and see if you can add the self signed certificate that you are using to the cert store. Closing this is

[2019-09-05 22:37] #8184 closed, assigned to nobody

[2019-09-06 00:05] harshavardhana commented on #8174
Fixed and released..

[2019-09-06 00:05] #8174 closed, assigned to harshavardhana

[2019-09-06 01:18] #8182 closed, assigned to nobody

[2019-09-06 01:51] wlwcjl opened #8192 "read: connection reset by peer"
read: connection reset by peer

## Expected Behavior
When I tested 10 people uploading more than 1G files at the same time, there was an exception message'read: connection reset by peer'. I don't know what caused it. I didn't use docker deployment, but simple cluster deployment. How should I fix this problem?

I expect a lot of people to upload large files at the same time without problems.

## Cu

[2019-09-06 03:44] kanagarajkm commented on #8179
Can you try creating bucket through `mc mb ALIAS/testbucket` then check `mc ls ALIAS/testbucket`? Do you see any errors in MinIO logs?

[2019-09-06 05:56] wlwcjl opened #8193 "How do I dynamically add nodes"
How do I dynamically add nodes？ help me， thank you！

[2019-09-06 06:40] mrsrvman commented on #8178
The testing cycle consists of writing / deleting 100,000 files.
The cycle is repeated 3 times
The problem only occurs when using the "queueDir" option.
Without it, the process is unaffected panic when you turn off webhook-endpoint or error on it.

When using the web, the normal http response code can be 200 or 2xx
All others can be interpreted as an error and an invitation to return later through

[2019-09-06 06:44] nitisht commented on #8193
@wlwcjl MinIO supports adding new clusters dynamically via Federation, please refer https://docs.min.io/docs/minio-federation-quickstart-guide.html

Closing this as answered, please join us on Slack (https://slack.minio.io) for more such questions

[2019-09-06 06:44] #8193 closed, assigned to nobody

[2019-09-06 06:44] nitisht commented on #8192
This is an incomplete issue @wlwcjl please fill in the issue template so we can help you. Closing this for now.

[2019-09-06 06:44] #8192 closed, assigned to nobody

[2019-09-06 06:53] Praveenrajmani commented on #8178
The default `queueLimit` is 10,000. You can set it to a greater number according to your need. And about the `500 internal error` from the target - There can be some internal errors like parsing the event json in the post receiver in the webhook.. etc. so, the server panics in such cases ( it should ). The server will not panic only for connection related errors from the target like `connection re

[2019-09-06 06:59] mrsrvman commented on #8178
Complicated test environment.
Introduced an additional balancer (haproxy) between minio and webhook-endpoint
Used two different types of response by the balancer to the absence of webhook-endpoint.
1. TCP Reset = EOF
2. Return of HTTP code = 503

The "queueDir" option is not used
[code]

1.
[code]
2.
[code]

[2019-09-06 08:18] Praveenrajmani commented on #8178
@mrsrvman MinIO looks for only "connection refused"/"connection reset" syscall errors while checking the connection. Looks like nginx is replying with `EOF` and `503 Service Unavailable` for such scenarios. Will check with the team and let you know if we should fix this or not.

[2019-09-06 08:50] mrsrvman commented on #8178
Thank.
I will wait for an answer.

I came up with a possible scenario for the appearance of http error 503 on webhook-endpoint.
After a restart, webhook-endpoint may be overloaded with an attempt by minio to forward events from local storage.
In this case, webhook-endpoint will give http error 503, minio will panic and stop working.

[2019-09-06 08:51] Praveenrajmani opened #8194 "[Notification] Check for EOF and `Service Unavailable` from webhooks behind proxies"
Webhooks running proxies responds with EOF/`Service Unavailable` for connection failures

## Expected Behavior
Should not panic for connection failures

## Current Behavior
MinIO panic while sending the event in such scenarios

## Possible Solution
Check for EOF/Server Unavailable while pinging

## Steps to Reproduce (for bugs)

1. Run a webhook behind nginx
[code]
2. Reset/stop the connection
3.

[2019-09-06 08:53] Praveenrajmani commented on #8194
Related to https://github.com/minio/minio/issues/8178#issuecomment-528736777

[2019-09-06 08:56] Praveenrajmani commented on #8178
Have filed a seperate issue to keep track - https://github.com/minio/minio/issues/8194

[2019-09-06 14:26] rfornea opened #8195 "Support Object ACLs"
I've read through a few github issues and the minio docs, and it seems you don't support setting object ACLs (nor intend to).  You claim to be an S3 compatible server, but if you aren't supporting this feature, that's not really true IMO.  Regardless of whether or not AWS recommends using ACLs, they nevertheless still support them and it is a good enough solution for plenty of people's usage.  Not

[2019-09-06 15:11] harshavardhana commented on #8195
ACLs are not implemented because they are incorrectly implemented on AWS S3, if you wish to spec compatible. Your application is better off not using it.

Most Enterprise applications that we came across such as Hadoop, Splunk, Apache NiFi, Kafka and a 100 others do not use ACLs. So there is no good reason for us to support ACLs.

[2019-09-06 18:45] rfornea commented on #8195
What is incorrect about them?

[2019-09-06 19:18] harshavardhana commented on #8195
ACLs are incorrectly implemented - let's take two scenarios here.

Scenario 1 - Bucket's having public-read and performance costs.

- enable BucketACL such as public-read on a bucket
- you still need to explicitly enable per object public-read by inheriting the bucketACL
  so this incurs a performance cost. Every Put now involves a secondary call.  Look at the alluxio
  implementation https://gith

[2019-09-06 19:26] harshavardhana commented on #8195
Our wish is to not bloat MinIO with two ways to do the same thing, ACLs were not implemented because as you can see they do not serve the required purpose and also require confusing API usage by applications. We would like to actively discourage such usage. Authorization is correctly and better handled by policies rather than ACLs and that is what we fully support.

I can go on listing the issues

[2019-09-06 20:07] rfornea commented on #8195
The performance issue seems like something that should be up to the discretion of the person who is running the server.  They might be fine with the performance hit.

In your second scenario, being able to set the _object_ ACL should fix the issue.

I don't really see it as a problem that objects don't automatically inherit the bucket ACL when the object can have its own ACL.  It's a cautious choi

[2019-09-06 20:33] kannappanr commented on #8183
@asm582 Don't have much information here to repro the issue. One thing that can be done is to use latest `minio` and `mc`.

Once `minio` is running, make sure to run `mc admin trace -v -a <alias>` and make sure that you are capturing the logs printed there when you are seeing this error

[2019-09-06 21:00] harshavardhana commented on #8195
I don't think you are able to see the problem in ACLs which is unfortunate. I rest my case.

[2019-09-06 21:23] harshavardhana commented on #8195
To close as a summary here - we will not implement ACLs @rfornea for any foreseeable future. The problems stated above are a major hindrance and unexpected design of ACLs cause complications when used in conjunction with Policies.

Unless there is a serious application which cannot do without ACLs and there is just no way for it to migrate (I highly doubt that) we have no interest in implementing

[2019-09-07 00:20] mghicas opened #8199 "Can not add custom policy to user"
Trying to follow the directions to add a new policy and assign to a user, however it  is not working, hopefully this is just something i missed somewhere, but any help will be appreciated

Followed the docs here:
https://docs.min.io/docs/minio-multi-user-quickstart-guide.html

## Steps to Reproduce (for bugs)
Create bucket:
[code]

Create policy
[code]

Wait a few minutes until all servers show po

[2019-09-07 02:48] harshavardhana commented on #8199
You should upgrade and use the latest code for server. We fixed couple of bugs in this area.

[2019-09-07 03:58] #8195 closed, assigned to nobody

[2019-09-07 04:34] kannappanr commented on #8199
@mghicas Closing this issue as answered. Please reach out to us if you still see this issue with the latest version

[2019-09-07 04:34] #8199 closed, assigned to nobody

[2019-09-07 18:52] ManOrs88 opened #8201 "unable to compile: "thrift@v0.12.0 used for two different module paths""
Hello,

I'm trying to compile latest release but only get the reported error

* `git pull` of latest release (commit 5bde31d021b49955d97ab84b90bd22d4e0521307)
* `go version`:
  * `go version go1.13 linux/amd64` (with explicit `GOARCH="arm"` and `GOARM="6"`)
  * `go version go1.13 linux/arm`
* OS
  * openSUSE 15.1 on amd64
  * Raspbian 10 on arm

last lines of the `GOPROXY=https://proxy.golang.org

[2019-09-07 22:41] bwitt opened #8202 ""Action": "s3:*" in bucket policy receives error `Policy has invalid resource`"
## Expected Behavior

successfully add a policy with Action like `"Action": "s3:*",`

## Current Behavior

Receives an error: `Policy has invalid resource.`

## Possible Solution
Haven't looked into it yet

## Steps to Reproduce (for bugs)

1. ./mc mb minio/mybucket
2. create file policy.json:
[code]
3. ./mc policy set-json policy.json minio/mybucket
mc: <ERROR> Unable to set-json policy `policy.j

[2019-09-07 23:23] bwitt commented on #8202
well, actually I can't make this work using the command line client `mc`, even if I specify an `Action` like `s3:GetObject`; but setting the `Action` to `s3:GetObject` does help if I use the `boto3` python client and use `put_bucket_policy` to set the policy

[2019-09-08 04:45] harshavardhana commented on #8201
This shall be fixed in #8203

[2019-09-08 06:02] luanshaotong commented on #8177
@harshavardhana @kannappanr
 I have confounded mc version with minio server version. I'm truely running minio 2018-08-25T01:56:38Z.
Now I changed image tag to lastest in daemonsets and delete minio pods, but the issue still appears.

[2019-09-08 12:24] kannappanr commented on #8177
@luanshaotong Can you please provide more information for us to reproduce this issue? Like yml files etc. Do you see any server errors?

[2019-09-08 14:04] harshavardhana commented on #8177
You should be using the latest 09-05 and let us know

[2019-09-08 23:44] harshavardhana commented on #8201
Fixed in master #8203

[2019-09-08 23:44] #8201 closed, assigned to nobody

[2019-09-08 23:45] harshavardhana commented on #8005
We have moved to Go 1.13 - can you test again to see if we reproduce any issues @kattakarthik ?

[2019-09-08 23:54] harshavardhana commented on #5158
No cycles to address this, we shall get to this in perhaps some time in future.

[2019-09-08 23:54] #5158 closed, assigned to harshavardhana

[2019-09-09 09:59] adr-arroyo commented on #8161
Dear everyone,
I apologize for not answering as i was in vacation.

regarding the parameter `secure`, It is True by default.

regarding the output of the container, I see no output starting with 'tls'. My output is the same as @hassbabaie

However, it seems to be working without security launching the server with:

`docker run -p 9000:9000 minio/minio server /data`

What can we be doing wrong?

Re

[2019-09-09 12:37] jaydg opened #8205 "S3 Select WHERE IN clause doesn't work"
## Expected Behavior
Given the following JSON file (tc.json) in the bucket _issue_:
[code]

the query `SELECT * from s3object s WHERE 'foo' IN s.synonyms` should return

[code]

(as AWS S3 does)

## Current Behavior
S3 client call (outlined in steps to reproduce 3) fails with error

## Possible Solution

## Steps to Reproduce (for bugs)
1. create a bucket issue. insert file tc.json with the conten

[2019-09-09 12:47] nitisht commented on #8205
Thanks for reporting @jaydg we'll take a look

[2019-09-09 13:48] demetthyl opened #8206 "hdfs gateway : unable to create the gateway"
Hello guys, i am trying to start a minio using gateway hdfs.
The objective is to take advantage of our existing cluster and of the minio s3 spec.

## Expected Behavior

I am trying to use the hdfs minio gateway to plug a minio instance onto an existing hdfs hadoop cluster.

## Current Behavior

Even after controlling my keytab and KDC, i have the same issue when starting minio

## Steps to Reprodu

[2019-09-09 15:58] mghicas commented on #8199
Thank all - that seems to have resolved the issues.

[2019-09-09 19:18] harshavardhana commented on #8206
@demetthyl Thanks for the issue we will take a look

[2019-09-09 19:39] harshavardhana commented on #8005
Looks like the issue is reproduced by using a simple main.go program https://github.com/golang/go/issues/33446

[2019-09-09 21:52] kannappanr commented on #8202
@bwitt Thanks for filing the issue, we will take a look and get back to you.

[2019-09-09 23:42] ghost opened #8208 "Cache File Corruption possibly on 2nd/3rd read/access"
As discussed with Poorna

We're running the latest minio production release on our Gateway's with caching enabled. They are talking to a minio cluster back end.

Our applications are reporting errors hitting certain files that should be approx 450KB but are only 20,030 B.

In doing a search in the cache for files with the size of 20,030 we have found 69 of them

## Expected Behavior

we should hav

[2019-09-09 23:51] harshavardhana commented on #8152
To be fixed in https://github.com/minio/minio/pull/8209 @markkutikkanen @kaxap

[2019-09-09 23:52] harshavardhana commented on #8071
To be fixed in https://github.com/minio/minio/pull/8209 @markkutikkanen @alainandre

[2019-09-10 00:20] ghost commented on #8208
@poornas based off timing it looks like that last few we have seen happened during the original copy/download:

see below:
part1 is reporting **8390B**
json.cache is reporting **457015B**
Both were created around the time we were pre-warning the cache using "rclone copy" so this would have been time of first cache.

**cache.json extract:**

{"version":"1.0.0","stat":{"size":457015,"modTime":"2019-

[2019-09-10 00:33] ghost commented on #8208
FYI, the error reported on the Gateway during a trace is the following:

00:31:29.533 [500 Internal Server Error] s3.GetObject 172.17.0.1:9000/path/image_name.png 10.244.23.22      1.891ms      🠉  93 B  🠋  853 B

[2019-09-10 00:53] ghost commented on #8208
I'be now deleted approx 100 cache folders with part.1 files that seem too small to be correct,

What I've also noted is that the Gateway seems to be talking to the backend cluster allot more given we're using a cache-control tag that should mean communication ends up being close to zero. I haven't yet correlated if this is because the file wasn't cached or for another reason but just wanted to men

[2019-09-10 01:28] ghost opened #8210 "Latest Minio Release does not appear to support Multi-Drive Cache settings (S3 Gateway Mode)"
when running the latest production release the following would only add one of the two drives:

MINIO_CACHE_DRIVES="/mnt/miniocache/cache1;/mnt/miniocache/cache2"

Gateway starts and reports 3.4TB Cache

However when leveraging (rolling back) in this case to VERSION: 2019-08-21T19:40:07Z

MINIO_CACHE_DRIVES="/mnt/miniocache/cache1;/mnt/miniocache/cache2"

Gateway starts and reports 7TB Cache (expe

[2019-09-10 04:33] #7911 closed, assigned to donatello

[2019-09-10 08:06] aldobattaglia commented on #7911
@yaozongyou Thx for your reply.

Is the support of `AllowQuotedRecordDelimiter` is plan or not for the moment ?

[2019-09-10 09:40] fubezz opened #8211 "Kafka TLS Connection with custom CAs not working"
Connecting a Kafka Bucket Notification service by a self-signed certificate SSL encryption to a Kafka broker fails because we are not able to provide the custom CAs to the Shopify/sarama library, which is used for connection by the Kafka Bucket Notification service.

## Expected Behavior
1. Starting Minio with "--cert-dir" argument to provide the custom CA which has signed all certificates used fo

[2019-09-10 14:01] nitisht commented on #8211
Thanks for reporting @fubezz we'll take a look

[2019-09-10 15:27] harshavardhana commented on #7911
No @aldobattaglia-next there are no plans..

[2019-09-10 16:37] kannappanr commented on #8210
@hassbabaie Thanks for reporting, We will take a look and get back to you

[2019-09-10 18:50] harshavardhana commented on #8152
Closing as duplicate of #8071

[2019-09-10 18:50] #8152 closed, assigned to harshavardhana

[2019-09-10 18:52] harshavardhana commented on #8168
One enhancement pushed in the PR #8209 is to delete multiple objects in bulk rather than serially.

[2019-09-10 19:32] kannappanr commented on #8183
ping @asm582

[2019-09-10 19:32] cambierr opened #8213 "Openstack swift gateway"
**Is your feature request related to a problem? Please describe.**
I would like to benefit from the power of Minio on all our customer environments, which includes OpenStack Swift as object storage. Thus, I'd like to be able to use minio as a gateway on top of that service.

**Describe the solution you'd like**
An Openstack swift implementation of minio gateway

**Describe alternatives you've cons

[2019-09-10 20:15] harshavardhana commented on #8071
Should be fixed by #8209

[2019-09-10 20:15] #8071 closed, assigned to harshavardhana

[2019-09-10 20:54] harshavardhana commented on #8213
You can enable Swift-S3 and use `minio gateway s3`  are you expecting us to write S3 to Swift here?

[2019-09-11 00:35] harshavardhana commented on #8107
@kanagarajkm is adding this in his PR #8075

[2019-09-11 00:36] harshavardhana commented on #7055
PR #8075 is adding this support as well, added by @kanagarajkm

[2019-09-11 04:19] TaceyWong opened #8216 "How can I change the http-port in config file"
I want to change :9000 to :80 in one config file(server),HOW？

[2019-09-11 04:51] harshavardhana commented on #8216
Just use `--address ":80"`

[2019-09-11 04:51] #8216 closed, assigned to nobody

[2019-09-11 05:53] SolarisYan opened #8217 "Notification exclude directory"
**Is your feature request related to a problem? Please describe.**
I have many directory in a bucket, and i want exclude only one directory without notification, can minio do it now? I know that when add event on bucket minio provide --prefix and --suffix to filter, but if files or directory have no pattern for that, how can we do it?

**Describe the solution you'd like**
N/A

**Describe alternati

[2019-09-11 06:36] luanshaotong commented on #8177
@kannappanr @harshavardhana
This problem is because my application (harbor) loses all data when I upgrade minio to latest 09-05. Now I have reinstalled harbor and the problem is now solved.
Please close this issue.
In addition, can you provide me with a safe hot upgrade plan or data migration solution?

[2019-09-11 06:38] harshavardhana commented on #8177
There is no possibility of losing data in that manner just because of upgrades @luanshaotong - can you explain more?

[2019-09-11 06:41] harshavardhana commented on #8217
There is no S3 API to exclude, there is only include and S3 API doesn't provide wildcard match.  So it is not possible for us to implement such extensions to existing API unless S3 provides enhancements to their API

[2019-09-11 07:20] anrajan opened #8218 "Share images uploaed in minio to public"
We have the files and images uploaded to minio . The policy has been created to recursively grant permissions for images to be accessed . But I find that unless i append the keys in the request , i am never able to hit the images .

The url i am trying to access is
https://object1.cs.boeing.com:9021/stage-bucket/images/Achu.jpg

The error i get is
<Code>AccessDenied</Code>
<Message>Could not deter

[2019-09-11 07:20] luanshaotong commented on #8177
After upgrades, I observed no data in the bucket through minio browser. My harbor service is also blocked. Do you mean that minio is recovering data?
@harshavardhana

[2019-09-11 07:31] kannappanr commented on #8217
@SolarisYan Closing this based on the above comment. Please feel free to reach out to us if you have further questions.

[2019-09-11 07:31] #8217 closed, assigned to nobody

[2019-09-11 08:36] nitisht commented on #8218
@anrajan can you paste the policy you used? Also please fill out the issue template, it makes it easier for us to help

[2019-09-11 08:38] kannappanr commented on #8218
@anrajan You can also use Play to repro the issue

[2019-09-11 09:20] anrajan commented on #8218
The policy i was using is :

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "s3:GetObject"
      ],
      "Effect": "Allow",
      "Principal": {
        "AWS": [
          "*"
        ]
      },
      "Resource": [
        "arn:aws:s3:::stage-bucket/images/*"
      ],
      "Sid": ""
    }
  ]
}

Command executed is :

mc policy -r set-json policy.json minio/stage-b

[2019-09-11 10:07] anrajan commented on #8218
@kannappanr , sorry , i am relatively new to minio . Could you please let me know what is expected from me here .

[2019-09-11 11:02] nitisht commented on #8218
@anrajan can you please use this policy with command:

`mc policy -r set-json policy.json minio/stage-bucket`

[code]

[2019-09-11 11:22] anrajan commented on #8218
Tried that . But no difference in the response .

[2019-09-11 11:33] nitisht commented on #8218
do you mind joining us on Slack (https://slack.minio.io), we can discuss realtime and close this quickly. I am ‘nitish’ on slack

[2019-09-11 11:48] krakazyabra opened #8219 ""Operation timed out" using cache"
Hi! I'm running tests on single node.
test: `s3-benchmark -a user -s key -u http://10.36.0.208 -z 5G -t 32 -b s3-benchmark -d 1 -l 3`

## Expected Behavior
Test passes successfully
## Current Behavior
Minio log:
[code]
s3-benchmark log:
[code]

## Steps to Reproduce (for bugs)
1. Run minio in single-mode with erasure code
2. Provide some endpoints
3. Enable cache in
[code]
4. Run test

## Context

[2019-09-11 12:25] nitisht commented on #8219
thanks for reporting @krakazyabra , we’ll take a look

[2019-09-11 15:07] harshavardhana commented on #8177
No there is no such thing,  unless you were upgrading in between you were trying to see the objects. There is something else going on, can you reproduce this by downgrading and upgrading again ?

[2019-09-11 17:13] AnthonyDevTS commented on #3835
Is this feature still being worked on?

[2019-09-11 17:14] harshavardhana commented on #3835
This is on hold @AnthonyDevTS at this point in time.

[2019-09-11 18:34] kannappanr commented on #8183
@asm582 Closing this for now. Please feel free to reach out to us when you have the requested info.

[2019-09-11 18:34] #8183 closed, assigned to nobody

[2019-09-11 22:18] adamhooper opened #8223 "(etcd) STS tokens from one minio server do not work on another in the same cluster"
Given two minio servers connected to etcd:

1. Create an STS token for a user on server 1
2. Use that STS token on server 2

## Expected Behavior

I would expect the token to work.

## Current Behavior

`InvalidAccessKeyId`

## Steps to Reproduce (for bugs)

This is strikingly similar to #7991 ... but it seems to happen 100% of the time.

First, set up a dev environment with multiple minio servers

[2019-09-11 22:47] kannappanr commented on #8218
@anrajan I tried the same `json` provided here on `play` and it seems to work fine.

[2019-09-11 22:53] harshavardhana commented on #8223
[code]

[code]

[2019-09-11 23:14] harshavardhana commented on #8223
Reproduced and fixed @adamhooper - Thanks for reporting.

[2019-09-12 00:10] klauspost commented on #8210
@poornas Related to #7694 maybe?

[2019-09-12 00:45] poornas commented on #8210
@hassbabaie, you seem to have deleted the .minio.sys/format.json on one of the cache drives while clearing out the contents manually. Is this consistently reproducible? There was no changes pertaining to the storage info reported for cache in the 2 releases you mentioned.

[2019-09-12 00:53] ghost commented on #8210
When we cleared the cache we remove everything to treat it like a new
gateway. Yes as far as I can tell it is reproducible. When we first
configured the gateway it had two drives but would only work with the first
one. The minute I rolled back the version it registered both drives I
didn’t change anything in the config, just the binary. I can test again
tonight / tomorrow AM and confirm.

Thanks

[2019-09-12 00:59] harshavardhana commented on #8210
I don't think there is a bug here..

[code]

[code]

[code]

[2019-09-12 01:03] harshavardhana commented on #8219
Caching is meant for caching GET object contents and to be used with the gateway, we shall be removing caching support with server to avoid these type of odd setups.

what you are doing is pounding on cache disk which is slowing it down, there is nothing we can do to avoid this problem. As you saw removing cache worked automatically without issues.

So the fix here is going to be is reject caching

[2019-09-12 01:54] #8223 closed, assigned to harshavardhana

[2019-09-12 03:00] javacoderxxp opened #8225 "Could Structured Data Storage be Supported?"
I want to store structured data in minio. for example, the data in table with oracle database.
And, how does it integrate query engines?

[2019-09-12 03:16] ghost commented on #8210
@harshavardhana @poornas yes this must have just been a quirk during our initial setup as the testing this afternoon was done on last weeks release (albeit without encryption enabled) but it does appear to be using both drives. So yes we might be all good here.

[2019-09-12 05:25] javacoderxxp commented on #8225
also, i just want to know how to store data in minio instead of oracle

[2019-09-12 05:27] nitisht commented on #8225
@javacoderxxp please join us on Slack (https://slack.minio.io) for such questions. Closing this issue for now..

[2019-09-12 05:27] #8225 closed, assigned to nobody

[2019-09-12 05:28] javacoderxxp commented on #8225
ok

[2019-09-12 06:17] harshavardhana commented on #8210
Thanks closing as per last comment..

[2019-09-12 06:17] #8210 closed, assigned to poornas

[2019-09-12 07:21] YoussefArfaoui commented on #8179
No I don't see any log. Also I had  tested with AWS-CLI. I can create the bucket and add objects but when I listObjects  I don't get any object or error.  I have installed the docker image in another machine (physical)  and also I have deployed in an openshift server. I didn't get the issue,It was working fine without issue:

I think the Minio browser is using the Minio Rest API and that why I get

[2019-09-12 08:00] Joozty commented on #8030
@harshavardhana Upgrade helped. Thanks :)

[2019-09-12 08:07] kanagarajkm commented on #8179
@YoussefArfaoui can you update MinIO to latest version and try again?

[2019-09-12 08:08] anrajan commented on #8218
Ok . I am not able to join to slack also due to restrictions put by my office firewall .

Let me see if the issue is with restrictions set at the domain/namespace level (Not sure if that is at all possible or not ) .I Will update you soon on that .
    On Thursday, September 12, 2019, 4:17:37 AM GMT+5:30, kannappanr <notifications@github.com> wrote:

@anrajan I tried the same json provided here on

[2019-09-12 09:39] YoussefArfaoui commented on #8179
@kanagarajkm same result with the latest version

[2019-09-12 17:20] kannappanr commented on #8166
Closing this issue as Fixed as #8169 has been merged

[2019-09-12 17:20] #8166 closed, assigned to nobody

[2019-09-12 17:58] asm582 commented on #8183
@kannappanr  Thanks for reaching out. I am using codalab with minIO. I got the above error when trying to store files on the object store. I will post more details soon.

[2019-09-12 19:04] tburnett80 opened #8231 "Windows Containers throwing Error: Storage resources are insufficient for the read operation."
I am running windows based containers to create a distributed deployment using two containers
 on two different hosts.

Each host has two drives ( Windows shares mounted  as J: and K: ) and just to make things simple I have given full control access to the shares to 'Everyone' to ensure its no permission issues.

My second host the web UI comes up and reports size and shows uploaded blobs and buck

[2019-09-12 19:06] tburnett80 commented on #8231
Here is the output of the Web UI's

Host2: ( ui works )
![image](https://user-images.githubusercontent.com/4324080/64813176-5fac0400-d566-11e9-931b-57113b3be1bd.png)

Host1: ( ui not working )
![image](https://user-images.githubusercontent.com/4324080/64813217-7b170f00-d566-11e9-9a78-d5cd8b307800.png)

[2019-09-12 21:30] mhjartstrom opened #8234 "Strange rename issue with MinIO + CloudBerry combo"
## Expected Behavior

I'm running MinIO as a stand-alone executable and recently I get huge amounts of error messages while using CloudBerry, saying the rename operation fails because it can't move the file to another disk drive. Naturally this should not happen.

## Current Behavior

I get huge amounts of this kind of error message:
`API: PutObject(bucket=projekt, object=CBB_SERVER/CBB_Configurat

[2019-09-12 21:50] harshavardhana commented on #8234
Do you have english translation of the error message?

[2019-09-12 21:55] mhjartstrom commented on #8234
Yes, as I said under "Expected Behavior" the Swedish phrase "Det går inte att flytta filen till en annan diskenhet." means "Unable to move file to another disk drive.".

[2019-09-12 21:58] kannappanr commented on #8234
@mhjartstrom The command should be

[code]

[2019-09-12 22:51] kannappanr commented on #8234
@mhjartstrom From the error it looks like that `F:\MinIO\.minio.sys` and `F:\MinIO\projekt` point to different drives. In the case of `FS` MinIO does not support renaming files to another drive.

[2019-09-12 23:44] #8194 closed, assigned to Praveenrajmani

[2019-09-13 06:01] kanagarajkm commented on #8179
I have downloaded the docker-compose.yaml file from here https://raw.githubusercontent.com/minio/minio/master/docs/orchestration/docker-compose/docker-compose.yaml

Then ran
[code]

Open http://localhost:9001 on browser and created buckets, uploaded files. Everything worked fine.
Can you try this out?

[2019-09-13 06:03] kanagarajkm commented on #6836
@Latifa-tity do you still face this problem? Can you try it on the lastest minio version?

[2019-09-13 06:19] nitisht commented on #8218
@anrajan checking to see if it worked?

[2019-09-13 10:54] mhjartstrom commented on #8234
Removing the `--config-dir "C:\Admin\.minio"` argument has no effect whatsoever on this issue, apart from making MinIO create a `.minio` directory under the user home directory for no good reason. I have my config directory under `C:\Admin\.minio` for all instances, not under the user home directory.

On a Windows system `F:` is `F:`, there is no different drive here... `F:\MinIO\.minio.sys` and `

[2019-09-13 14:14] tburnett80 opened #8237 "In Windows Containers disks never show as online despite them being online and formatted"
I have 4 local disks ( D:\, E:\, F:\, G:\ ) and all are online, formatted and accessible but when I start a single minio server process pointed at them, it just says:

[code]

And that will continue, I waited overnight and it did it for 16+ hours and never came online.
The web UI will deliver a page showing 0.00 PB and in the browser console the following error message:

[code]

![image](https://u

[2019-09-13 14:21] tburnett80 commented on #8237
I think this is actually a bug in docker, when I change how I bind mount the directories it works.

[code]

Or when I just run without mounts
[code]

[2019-09-13 14:21] #8237 closed, assigned to nobody

[2019-09-13 15:31] harshavardhana commented on #8234
Windows handles both paths and they are automatically translated by Go os package.

[2019-09-13 17:43] mhjartstrom commented on #8234
Then I don't understand what the error message means. It's obviously trying to rename/move a file on the same disk drive, but for some reason it thinks it doesn't. A bug in the Go libraries, or what?!

[2019-09-13 17:43] mhjartstrom commented on #8129
Any progress or updates on this issue?

[2019-09-14 03:22] nabedge opened #8242 "all the sha256sum of the binary fine on donwload site is wrong"
## Expected Behavior
[code]
## Current Behavior
[code]

## Possible Solution
The format of *.sha256sum files on download site is wrong.
[code]
There is "only ONE white space". Its should be "TWO space."

## Steps to Reproduce (for bugs)
[code]

## Your Environment
[code]

[2019-09-14 06:32] harshavardhana commented on #8242
I am not sure how are you reproducing this, looks like your sha256sum is too old.

[code]

[code]

[2019-09-14 06:35] harshavardhana commented on #8242
Same with

[code]

[2019-09-14 06:54] harshavardhana commented on #8234
@mhjartstrom We need to reproduce it - We have no idea why this happens. It should work automatically.

[2019-09-14 14:18] nabedge commented on #8242
hmm... OK. I understand that my OS is too old. thanks !

[2019-09-14 14:18] #8242 closed, assigned to harshavardhana

[2019-09-14 15:57] mhjartstrom commented on #8234
Well, if you have no idea how to reproduce it, then you'll have to tell me how I can help?

[2019-09-14 16:17] harshavardhana commented on #8234
Let's start with few details

- Windows version
- NTFS version

Can you reproduce this let's say with the previous cloud berry version?

[2019-09-14 16:21] harshavardhana commented on #8234
Also can you try creating a file with `$` sign on your NTFS volume at F: ?

[2019-09-14 21:29] mhjartstrom commented on #8234
* Windows 7 Pro SP1 (v6.1 b7601)
* NTFS v3.1
* Executing `echo Hello World > $` from the Command Prompt on `F:\` creates a file called `$` with proper contents.

As I said in the Regression section, my feeling is that it might be related to a late CloudBerry Backup release. The last successful backup was somewhere near 2019-08-12 and from what I can tell from the cbb.log file it seems I installed

[2019-09-14 22:18] harshavardhana commented on #8234
Have you spoken to CBB about this ? They have MinIO connector to natively support MinIO deployments.

[2019-09-15 11:06] mhjartstrom commented on #8234
Indeed I have. I started out with sending them the CBB detailed logs and creating a support issue, but when they found huge amounts of HTTP error code 500 (internal server error) they meant that it's a server side issue and asked me to investigate that instead.

[2019-09-15 12:09] Reza-Noei opened #8243 "C# Minio PutBucket Request: A WebException with status NameResolutionFailure was thrown"
I'm working on an Amazon s3 Compatible Object Storage solution (Minio).

I have an Minio server on e.g 192.168.235.143:9000

I have tried to get List of buckets on C# version of Amazon s3 Api. Everything works fine.

When I try to Put a Bucket into this server e.g test1, Visual studio throws this request into an Exception:

Amazon.Runtime.AmazonServiceException:
'A WebException with status NameRes

[2019-09-15 12:28] nitisht commented on #8243
@Reza-Noei I understand you're using AWS SDK .Net, for that to work with MinIO (in this current setup) you need to enable PathStyle. Here is a sample: https://github.com/minio/cookbook/blob/master/docs/aws-sdk-for-dotnet-with-minio.md

[2019-09-15 15:29] harshavardhana commented on #8234
Did you say it worked before?  Can you downgrade to the known version of CBB and test again?

[2019-09-15 17:54] TAINCER opened #8244 "Cannot replicate eTag in TypeScript (Node)"
I have an application that is creating an eTag of a file, so the application knows, whether the local files are different from the files on the server. (minio)

## Expected Behavior
The local file should have the same eTag as the file on the minio server.

## Current Behavior
The eTag on the server is different from the eTag on the client.

## Steps to Reproduce (for bugs)
I'm using the libary [et

[2019-09-15 19:18] khumps opened #8245 "Distributed setup performance bottleneck diagnostics"
We are running a test cluster with 4 nodes each with a single disk and running Apache Bench(ab) against approximately 20k files on the cluster. The cpu usage peaks at around 60% per node, `iotop` reports are negligible because all the images have been cached to ram, and `iftop` for the bonded 10G NIC's isnt going above 1GB/s total (using a combination of ab and nginx, we have been able to push the

[2019-09-15 21:21] mhjartstrom commented on #8234
I'd have to verify that it's permissible to downgrade CBB without compromising the configuration. Also, I don't know where to find a download archive of the install executables. Same thing with MinIO actually, where can I find those?

[2019-09-16 00:09] harshavardhana commented on #8234
You can find them here https://dl.minio.io/server/minio/release/linux-amd64/archive/

[2019-09-16 01:36] kannappanr commented on #8244
@TAINCERcs You need to start `MinIO` with `--compat` flag. This check against AWS and DO also will work only if the whole object was uploaded as a single part.

[2019-09-16 01:46] CosmicToast opened #8246 "[build failure] apache thrift migration"
## Expected Behavior
`go build` produces a binary

## Current Behavior
`go build` fails with:
[code]

## Possible Solution
Update `go.mod` as per https://github.com/kubernetes/minikube/issues/5245, though extra steps may be required.

## Steps to Reproduce (for bugs)
1. Download release tarball
2. `export GO111MODULE=on`
3. `go build` (ldflags etc not mentioned for simplicity)

## Context
I'm the

[2019-09-16 02:39] harshavardhana commented on #8246
You should be using go 1.13 we do not support go1.12

[2019-09-16 02:52] CosmicToast commented on #8246
Oh, that was unexpected (given that go's release policy is to support the latest and before-latest release (see [this](https://golang.org/doc/devel/release.html#policy)), but noted.
Will check back once 1.13 is in tree.

[2019-09-16 03:16] harshavardhana commented on #8246
You can still build it just use GOPROXY=https://proxy.golang.org and you may have to fix main.go to build with go1.12

[2019-09-16 03:58] CosmicToast commented on #8246
Oh, the 1.13 workaround is just to use proxy (which is on by default at that point)?
I don't think any go proxy implementation guarantees keeping cache indefinitely...
The redirect will need to be done eventually one way or another, but since it's not a direct dependency I suppose hoping the relevant upstream(s) get there eventually is enough.

[2019-09-16 05:56] harshavardhana commented on #8246
Go 1.13 is going to change it later, when our dependent package updates or fixes it. It will get fixed automatically.

[2019-09-16 06:13] kannappanr commented on #8243
@Reza-Noei Closing this issue based on the above comment. Please feel free to reach out to us at https://slack.min.io for further such questions

[2019-09-16 06:13] #8243 closed, assigned to nobody

[2019-09-16 06:51] shvandehoef opened #8247 "Bulk delete fails silently"
When I'm deleting 1000 objects through the aws-sdk for nodejs against a local Minio instance running in a docker container, the deletion fails without any error message, i.e., the client gets the response that all objects are successfully deleted even though they are not. If I delete a small number of objects (say 10), the problem does not occur. If I delete the 1000 objects with no delay in-betwe

[2019-09-16 07:03] kanagarajkm commented on #8247
@shvandehoef  do you see any errors on MinIO log?

[2019-09-16 07:06] harshavardhana commented on #8247
You should give us a small code snippet to reproduce this issue @shvandehoef - that will go a long way.

[2019-09-16 07:09] harshavardhana commented on #8244
ETag shouldn't be used as a checksum for your content, content integrity based on md5sum will lead to bugs.

If you are interested in ETag to be md5sum make sure to set it as content-md5 during uploads.

[2019-09-16 07:26] shvandehoef commented on #8247
No errors whatsoever from what I can tell.

Here is some code that should cover the problem:

[code]
`batch` is just a sufficiently long list of keys to be deleted.
Add a bunch of files into a bucket called test before running this.

[2019-09-16 08:07] demetthyl commented on #8206
Hello,

Anything i can do to help you resolve this?
Is there a way to set krb5go lib inside minio on debug mode to give you more input?

Regards,
Guillaume

[2019-09-16 09:21] yu2003w commented on #8246
I also met the same issue when I tried to build tag RELEASE.2019-04-09T01-22-30Z using go 1.12.
Build completed several weeks ago. However, it failed recently.
Is this caused by go changes or anything else?
Why does it work after switch to go 1.13?

[2019-09-16 10:39] thomasf opened #8248 "Add support for h2c (unencrypted http/2)"
**Is your feature request related to a problem? Please describe.**
When I set my TLS terminating load balancer to use h2c protocol minio does not respond

**Describe the solution you'd like**
Maybe a command line argument to enable the feature so that unencrypted traffic isn't allowed by mistake.
I think it's quite easy to implement using  https://godoc.org/golang.org/x/net/http2/h2c

[2019-09-16 13:18] Reza-Noei commented on #8243
Thanks alot, it worked for me.

I have tried to close this issue some hours ago but i couldn't

[2019-09-16 13:36] thomasf commented on #7873
Please do not remove  `go_*` and `process_*` metrics,  they are really really useful for monitoring the state of all kinds of applications across a cluster with generalised and consistent metrics.

The `process_` ones are exported by all default prometheus libraries for multiple languages.

When I query prometheus for `process_open_fds` I expect to get result from all monitored processes. It's jus

[2019-09-16 13:54] Reza-Noei opened #8249 "Custom Authorization Scenario using Minio"
Hi,

I have a custom authorization scenario for my web service.

At first, I have AWS Token Authorization on Amazon S3 support platform e.g Minio.
On the other hand, I have My jwt support web service, which Authorize each user request using a defined business.

My Clients may wants to work with e.g Minio directly. I want to sure that they are  confirm my business dictates.

So I have so many optio

[2019-09-16 14:00] nitisht commented on #8249
do you want to use JWT tokens to authenticate with MinIO server @Reza-Noei ?

[2019-09-16 15:19] Reza-Noei commented on #8249
No, I have a Rest Api (Called e.g. Foo) and this foo uses JWT.

I want to say it to Minio:
'This user Request is allowed to be executed, if and only if my Foo verifies it.'

[2019-09-16 16:31] harshavardhana commented on #8206
Currently this is a lower priority @demetthyl while we finish other high priority tasks. We will get back to you soon when we have some free cycles.

[2019-09-16 16:32] harshavardhana commented on #8246
Because of GOPROXY settings..

[2019-09-16 16:33] harshavardhana commented on #8246
Closing as working as intended

[2019-09-16 16:33] #8246 closed, assigned to nobody

[2019-09-16 16:34] harshavardhana commented on #8248
We do not support http/2 because of many upstream bugs that we have reproduced. It will be quite some time before we migrate back to http/2

[2019-09-16 17:56] khumps commented on #8245
Updated to RELEASE.2019-09-11T19-53-16Z and it still stands

[2019-09-16 18:31] kannappanr commented on #8244
@TAINCERcs closing this as working as intended. Please feel free to reach out to us at https://slack.min.io if you have further questions.

[2019-09-16 18:31] #8244 closed, assigned to nobody

[2019-09-16 18:38] harshavardhana commented on #8245
Some questions need answers here @khumps

- What is the average object size here?
- Can you avoid nginx and connect directly to the server without nginx? - share your nginx config as well?
- dd if=/dev/zero of=<disk>/bigfile bs=1M count=1024 oflag=direct  (to get baseline performance of all the disks)
- if your object is < 128KiB we would need to get `dd if=/dev/zero of=<disk>/bigfile bs=32k count

[2019-09-16 18:45] khumps commented on #8245
Of course:

- Average object size is around 256KB

- Ran a test just now where I disabled nginx and hyperthreading which gave around 400 more RPS (going to run a longer test with nginx back on to make sure that isn't just a result of hyperthreading and report those results here)

- I ran the first dd you provided and got 369, 469, 358, 368 MB/s across the machines

[2019-09-16 18:55] krishnasrinivas commented on #8088
@henrythefool did you get any more insights on what might be happening?

[2019-09-16 19:09] mhjartstrom commented on #8234
No can do. I just went out on a limb and tried to downgrade from v6.1.3.9 to v6.0.2.22 (which was the only old version I had laying around) and it failed to interpret the configuration, quite obviously not compatible. I also read somewhere in a user forum that they do not provide download of old executables.

[2019-09-16 20:28] harshavardhana commented on #8245
So it is a small file workload.. can you also do the 32K number for dd ?

[2019-09-16 20:31] ginkel commented on #8245
Isn't Apache Bench about reading data? Why would `dd` write statistics be relevant for that scenario?

[2019-09-16 20:35] harshavardhana commented on #8234
That is unfortunate @mhjartstrom - will do a code review and see if anything broke. But only thing changed in this area is we moved to go1.13

[2019-09-16 20:52] harshavardhana commented on #8245
@ginkel the point is any performance-related will come back to writes as well for the disks - it is to establish a baseline.

[2019-09-16 20:56] mhjartstrom commented on #8234
It would be good if CloudBerry also got involved in this. I sent them a link to this issue.

[2019-09-16 20:58] harshavardhana commented on #8245
Bonded NICs will never give you 20G unless you have switch level bonding, if this is software only bonding then it is simply a failover NIC. So you should look at 10G as the actual number here not 20G. How did you verify the network performance? @khumps

What is the backend filesystem in use here? @khumps if its xfs can you provide the output of xfs_info() ? also the mount options used `mount | gr

[2019-09-16 21:02] harshavardhana commented on #8234
Since you also said that this error is now reproducible also on older MinIO releases. looks like something has changed in CBB in the new release..

[2019-09-16 21:24] #8208 closed, assigned to poornas

[2019-09-16 23:02] harshavardhana commented on #8247
@shvandehoef it looks like your code has bugs here is how I implemented it correctly

[code]

[2019-09-16 23:10] harshavardhana commented on #8247
NOTE: deleteObjects can only delete 1000 maximum at a time and you need to batch it appropriately.

[2019-09-17 01:18] donatello commented on #8249
MinIO supports standard oauth tokens given jwks url for pub key based token verification. This would be the way to support your use case https://github.com/minio/minio/blob/master/docs/sts/web-identity.md

[2019-09-17 07:12] shvandehoef commented on #8247
@harshavardhana

I know that and my code batches accordingly. I'm using `splice(0, BATCH_SIZE)` for that. The snippet I provided is of course not copy&paste from my code, but covers the bits and pieces to reproduce the bug keeping it as simple as possible. Under "Steps to reproduce the error" I explicitly wrote to upload 1000 objects for that reason.

In fact, even if my code deletes the objects o

[2019-09-17 07:14] joriscarrier opened #8252 "commit d759a7ce break ListBuckets and ListObjects on FUSE drive"
Hello, with this commit [d759a7ce](https://github.com/minio/minio/commit/d759a7ce99d1d03774ac005178480bcd717d299a)
ListBuckets & ListObjects return nothing, I don't understand why (tested with fuse & fuse3)

can be reproduce with python3 or C exemple:

python3 (with fusepy) & fuse 2.9.9-1 [loopback.py](https://raw.githubusercontent.com/fusepy/fusepy/master/examples/loopback.py)
C & fuse 3.6.2 [pas

[2019-09-17 07:31] harshavardhana commented on #8247
It is not retrying upon error it is simply deleting 1000 at a time and while doing that I have trace output such that every 1000 entries get one call. In total, I was deleting 3192 entries i.e split across 4 listObjects and 4 deleteObjects calls as shown below

[code]

Once it's done all objects are deleted one can see from the `mc ls` output

[code]

I don't think that is true. You haven't demons

[2019-09-17 07:36] harshavardhana commented on #8252
@joriscarrier - I don't know what this is and what is the real use-case here?  can you explain this further?

Setting this as won't fix for now.