[2019-09-17 07:40] harshavardhana commented on #8247
The fundamental problem in your code or whatever that was shared - is you are ignoring the fact that listObjects() is a batched result, not an infinite iterator. It lists and sets a value as IsTruncated which needs to be used to continue further listing.

I don't know why you would say that it will end in an infinite loop as clearly shown under which conditional the while true will exit. did you e

[2019-09-17 07:54] henrythefool commented on #8088
We no longer use clusters, just use stand-alone deployment.
The performance has returned to normal.

[2019-09-17 07:56] wlwcjl opened #8253 "How to add cluster nodes through DNS mapping？"
How to add cluster nodes through DNS mapping？please give me a document  link， thank you！

[2019-09-17 08:10] Reza-Noei commented on #8249
I had some research on it so for a brief explanation i have found that in this method Minio will recognize validity of my JWT token in some ways.

but i need to add actually a business to this api (Minio)
Let say:

Client: I want to put some Objects in Temp\Bucket3 in Minio
Minio: Lets Confirm you request by asking your authurization from Foo.net/api/JWTToken?Root=Temp&Bucket=Bucket3&Action=PutObj

[2019-09-17 08:20] thomasf commented on #8248
I didn't know it was removed. I'll have to look for some proxy that can translate http1 to http2 then for public files serving, nghttpx might be a way to go for that.

edit: never mind, I see that traefik which is our current load balancer proxy actually does this already.

[2019-09-17 08:54] shvandehoef commented on #8247
I'm very sorry. It seem, I overlooked indeed that the `listObjects()` call is truncated. Not sure how I missed that...
And thanks a bunch for the help anyway.

[2019-09-17 08:54] #8247 closed, assigned to harshavardhana

[2019-09-17 11:21] FU100 commented on #8005
I tried to simplify the code and found that it was a high probability while calling a third-party upload function on the arm64 platform, so it might not be of much help to you.

[2019-09-17 11:34] joriscarrier commented on #8252
I use a fuse mountpoint (for example /mnt/fuse) in which I run minio (`minio server /mnt/fuse/minio`) when I want to list objects or buckers (with the command `mc ls` same effect with boto3) the command returns nothing (the response of minio is 200 OK (seen with mc admin trace) when I recompile minio without the commit d759a7ce the command `mc ls` works perfectly

[2019-09-17 12:18] khumps commented on #8245
@harshavardhana

- Network performance was determined by running a test with just nginx serving a static image and running ab against that from the 4 clients (capped at 17-19 Gb/s using a 5MB image, a lot less for small 256KB images but the RPS was at 50k+ and capped by the CPU handling that many connections)

- Backing FS is ext4

- Will try those sysctl props for the next test run

- Also ran th

[2019-09-17 13:24] vadmeste commented on #8252
@joriscarrier Can you paste the failed mc command with --debug flag enabled ?

[2019-09-17 14:20] joriscarrier commented on #8252
[code]

[code]

[2019-09-17 14:41] domonless opened #8255 "Mc admin user remove cause InternalError and cause mc run infinite loop"
Under latest version minio and mc download from minio website.
When the admin user remove command failed for some reason, user not existed etc. , the server response with a 500 Internal Server Error and mc client keep tryting the same command which cause the powershell / cmd / subprocess.Popen hangs.
`.\mc.exe admin user remove minio test2 --json --debug`

## Expected Behavior
Should return a  res

[2019-09-17 15:45] kannappanr commented on #8255
@domonless Thanks for reporting the issue. We will take a look at it.

[2019-09-17 16:10] harshavardhana commented on #8255
mc won't try infinitely it will try upto 10 times binomially, when server responded internal error. There will be a log on server side, can you please share that ?

[2019-09-17 16:13] harshavardhana commented on #8245
Using nginx vs MinIO is an unfair comparison. Nginx is not a distributed entity with strictly consistent locking requirements, there is 1/2 bandwidth goes for internode traffic.

Also please use xfs not ext4 in your next iteration, mount it with noatime

[2019-09-17 16:35] harshavardhana commented on #8252
Are you saying that you are exporting a fuse mount to MinIO ? The reason it is skipped is because #8240

[2019-09-17 17:52] #8165 closed, assigned to poornas

[2019-09-17 18:29] harshavardhana commented on #8252
This is fixed in master in PR #8240

[2019-09-17 18:30] harshavardhana commented on #8219
Since the PR #8232 is merged closing this issue.

[2019-09-17 18:30] #8219 closed, assigned to poornas

[2019-09-17 18:32] harshavardhana commented on #8179
Most probably related to #8240

[2019-09-17 18:37] harshavardhana commented on #8088
Closing this as nothing actionable from our end at this point in time.

[2019-09-17 18:37] #8088 closed, assigned to krishnasrinivas

[2019-09-17 18:39] harshavardhana commented on #7901
A lot of tests were added in recent refactor of S3 Select closing this as sufficient for now.

[2019-09-17 18:39] #7901 closed, assigned to nobody

[2019-09-17 18:41] harshavardhana commented on #8177
What is the backend filesystem under use here? @luanshaotong most probably because of #8240 you may be seeing this issue.

[2019-09-17 18:44] harshavardhana commented on #7282
We are not planning to do this anymore due to lack of benefits at this point in time.

[2019-09-17 18:44] #7282 closed, assigned to nobody

[2019-09-17 18:45] harshavardhana commented on #6993
Is this still reproducible @sgandon ??

[2019-09-17 18:47] harshavardhana commented on #7201
Closing this issue as we haven't heard back anything new on this issue - the technical issue https://github.com/minio/minio/issues/7201#issuecomment-515795108 here explains why we don't need to address this and clients can change their behavior appropriately.

[2019-09-17 18:47] #7201 closed, assigned to nitisht

[2019-09-17 18:49] harshavardhana commented on #5703
closing this since this issue has been open for long and there is no movement in terms of technical discussion or implementation.

[2019-09-17 18:49] #5703 closed, assigned to rushenn

[2019-09-17 18:50] harshavardhana commented on #5665
this is a nice change to implement but not sure if you are doing something on this @Praveenrajmani ?

[2019-09-17 18:51] harshavardhana commented on #5063
Closing this since this issue is stale and quite old. We are not implementing any new features in FS mode at the moment.

[2019-09-17 18:51] #5063 closed, assigned to krishnasrinivas

[2019-09-17 18:52] harshavardhana commented on #5536
closing as a duplicate of #8181

[2019-09-17 18:52] #5536 closed, assigned to nobody

[2019-09-17 18:54] harshavardhana commented on #6675
Closing as duplicate of #6983

[2019-09-17 18:54] #6675 closed, assigned to Praveenrajmani

[2019-09-17 18:55] harshavardhana commented on #6821
any proposal that you have to test this @vadmeste ?

[2019-09-17 18:57] #8252 closed, assigned to nobody

[2019-09-17 18:57] harshavardhana commented on #7852
is this still reproducible @ktwalrus we haven't had any reports from the users regarding this other than your report.. would you mind retesting this with latest releases?

[2019-09-17 20:30] #8143 closed, assigned to harshavardhana

[2019-09-17 20:43] ktwalrus commented on #7852
Still a problem on minio/minio:latest.

The first time I ran the test against the latest minio, it was actually very fast. But, I immediately ran the test twice more and each time it hung for 2 minutes.

[code]

I went back and tried minio/minio:RELEASE.2019-05-02T19-07-09Z again, and it was the same. First run was fast, subsequent runs wait 2 minutes. Sometimes, the first run hangs as well.

So,

[2019-09-17 20:45] mhjartstrom commented on #8234
CloudBerry replied (regrettably privately instead of within this issue):

"We made some research on this, and it seems like other users are experiencing the same issue in this thread:  https://github.com/minio/minio/issues/4655

Additionally, it is referring to this one:  https://github.com/golang/go/issues/13766

It seems like this issue is related to GO packages on your current system which are

[2019-09-17 20:46] mhjartstrom commented on #8234
I don't know... There must be better ways to debug this issue?!

[2019-09-17 21:03] #8150 closed, assigned to nobody

[2019-09-17 22:20] harshavardhana commented on #8234
To test further can you test this with any other Windows system?

[2019-09-18 00:28] harshavardhana commented on #8005
Going to close this issue, for now, please re-open @kattakarthik if you think we should look at this again.

[2019-09-18 00:28] #8005 closed, assigned to harshavardhana

[2019-09-18 00:34] domonless commented on #8255
FYI.
And my mc actually stop try after a while but leave no return code for prompt hangs which I wrapper with python subprocess.Popen code.

API: RemoveUser()
Time: 22:08:23 CST 09/17/2019
DeploymentID: b974cafa-e140-4d80-a505-b7b3bd849c4e
RequestID: 15C53EFD6F209974
RemoteHost: 127.0.0.1
Host: 127.0.0.1:9000
UserAgent: MinIO (windows; amd64) madmin-go/0.0.1 mc.exe/2019-09-11T20:17:47Z
Error: [31

[2019-09-18 00:53] harshavardhana commented on #7852
are you running minio/minio:latest in FS mode or distributed?

[2019-09-18 00:59] harshavardhana commented on #7852
[code]

I am not able to reproduce this issue @ktwalrus

[code]

[2019-09-18 01:03] harshavardhana commented on #7852
I even tried

[code]

[code]

NOTE: I am not using docker @ktwalrus

[2019-09-18 01:06] harshavardhana commented on #7852
Now I tried with docker as well

[code]

[code]

Can you provide more details like php version, aws-sdk-php version? @ktwalrus

[2019-09-18 03:30] kattakarthik commented on #8005
Sure, Thanks for the help.

[2019-09-18 05:06] abperiasamy commented on #7873
OK, agreed.

[2019-09-18 10:08] Ploppz opened #8265 "Service Unavailable, when running in docker on a build server"
I run minio in docker:
[code]

and with `docker-compose.yml`:
[code]
I use `docker-compose up` to run minio alongside my application
When I run it locally, it all works fine.
However, on the build server, I get:
[code]
with this aws command
[code]
The `aws` cli is the same version on the build server and locally (it's in the docker image the application runs in)

Any idea what might be wrong that

[2019-09-18 11:57] YoussefArfaoui commented on #8179
@harshavardhana, PLease when do you think this  fix will be released?

[2019-09-18 13:20] ktwalrus commented on #7852
Versions:

[code]

[code]

[code]

[code]

[2019-09-18 13:27] ktwalrus commented on #7852
I see I haven't rebuilt my PHP container in a while. I'll rebuild all my Docker images today to see if using the latest aws/aws-sdk-php and php 7.3 version makes any difference.

What makes me think this is a bug in minio is that all versions up to:

**minio/minio:RELEASE.2019-04-23T23-50-36Z**

work, and all versions after that hang for 2 minutes. Strange that the hang is exactly 2 minutes? Maybe

[2019-09-18 13:49] ktwalrus commented on #7852
Rebuilt my Docker images and 2 minute hang still happens after the first run.

[code]

[2019-09-18 13:54] string-areeb commented on #7745
`./mc policy set download minio/<bucket>/`

Sets download policy but any user can list the items

[2019-09-18 16:34] harshavardhana commented on #7745
Construct a custom policy and use `mc policy set-json `  to set appropriate permissions

[2019-09-18 18:07] harshavardhana commented on #7852
My versions are

[code]

[code]

[2019-09-18 18:13] #8211 closed, assigned to Praveenrajmani

[2019-09-18 18:28] harshavardhana commented on #7852
I tried again with latest version of all libraries

[code]

[code]

[code]

I do not see any delays at all distributed or single node setup.  @ktwalrus Can you run without using CoreOS perhaps on your laptop somewhere?

[2019-09-18 18:30] harshavardhana commented on #8179
Today @YoussefArfaoui

[2019-09-18 18:59] ktwalrus commented on #7852
From the trace, I can see that Minio is returning the HTTP response immediately, but PHP is waiting 2 minutes before returning.

[code]

I am running a single instance of Minio (in a Docker container). Both Minio and the PHP container are running on the same host. Maybe this pause has something to do with Accept-Ranges and Content-Length response headers? Maybe PHP is waiting for all data before c

[2019-09-18 19:05] harshavardhana commented on #7852
I don't think so @ktwalrus - I already showed it's not reproducible, it is something to do with your local environment.

[2019-09-18 19:10] ktwalrus commented on #7852
Can't run a trace against the earlier Minio that works. Not sure why. I get the following error:

[code]

I did notice that I run PHP and Minio on a separate network, created with the Docker command:
[code]

Maybe related to the different network than the default Docker network?

I will rerun with the default Docker network to see if that makes any difference.

[2019-09-18 19:17] harshavardhana commented on #7852
Earlier version didn't implement `mc admin trace` instead it provided an env MINIO_HTTP_TRACE=/dev/stdout

[2019-09-18 19:23] ktwalrus commented on #7852
No change with the default Docker Bridge network. Works on the older Minio but hangs on the latest.

I'll see if I can get a trace on the older Minio using the env.

[2019-09-18 19:28] ktwalrus commented on #7852
Here is the trace on the older Minio that works:
[code]

I don't see any difference with the trace that doesn't work.

[2019-09-18 19:39] ktwalrus commented on #7852
Here is a trace on the Minio released just after the Minio that works. The first run worked while the second run hung for 2 minutes:
[code]

[2019-09-18 19:43] harshavardhana commented on #7852
There are no changes @ktwalrus AFAICS in terms of HTTP headers - Since I can't reproduce this even with using the same version as yours. I suspect something local on your env. It would help if you could reproduce this on any other system with a similar config.

[2019-09-18 19:43] ktwalrus commented on #7852
Maybe we need to look into what changed between the Minio that works and the Minio that doesn't work?

[code]

Maybe you can spot a change that leads to an answer or where to look further to debug this issue?

[2019-09-18 19:47] ktwalrus commented on #7852
@harshavardhana - It would take me a while to be able to install Docker on my Mac and rebuild my containers.

I could spend the time tomorrow, if you really think it will help to track this issue down. I am skeptical that it will make any difference. I'd rather spend the time looking into what changed in Minio that might be causing this issue.

[2019-09-18 19:52] harshavardhana commented on #7852
@ktwalrus, believe me, it will be different, there are no changes in those releases that will cause this issue. In-fact I am using the same code as you and I can't reproduce it in any manner whatsoever.  If it worked in the past it must be just a coincidence.

With the scale MinIO is deployed - we will be hearing about this issue every day if a simple GET operation doesn't work. That is why I susp

[2019-09-18 20:03] ktwalrus commented on #7852
I can't spend much more time on this issue.

As for it working in the past, I used many releases of Minio in the same environment for many months without an issue. It just became an issue with the May 2 release. Not sure what changed, but it must be something.

I was evaluating Minio back in the spring to replace Backblaze B2 for cloud storage. We also use Amazon S3, but have never had any issues

[2019-09-18 20:36] ktwalrus commented on #7852
BTW, I modified my test to use getObject() first and then file_get_contents() and the getObject() returns immediately while the s3: wrapper hangs for 2 minutes (starting with the May 2 release).

[code]

@harshavardhana Have you tried reproducing with PHP 7.3.9? Last I saw, you were using PHP 7.2? Maybe something in PHP changed with Stream Wrappers?

[2019-09-18 20:55] harshavardhana commented on #7852
I will try next with php upgrade @ktwalrus

[2019-09-18 21:45] harshavardhana commented on #7852
Updated to php7.3 and I can't reproduce it.

[code]

[code]

[code]

[code]

[2019-09-18 21:46] mhjartstrom commented on #8234
I've come a lot further and have more or less found the "root cause" now (although not really).

There's a third player involved that I had not told you about and I'm sorry for that, but I simply did not think it had anything to do with these error messages. I use a utility called MirrorFolder (https://www.techsoftpl.com/backup/) for real-time (software) mirroring of specified folders in "RAID-1 t

[2019-09-18 21:49] harshavardhana commented on #8234
Because we hold exclusive locks on the operation on the backend @mhjartstrom and we need this for consistency requirements.

[2019-09-19 00:11] poornas opened #8268 "S3 Select * no longer works with JSONOutputSerialization"
## Expected Behavior

[code]
should work but does not.
## Current Behavior

Above command works if the --json-output flag is removed.
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression
 Yes - dac1cf5a9aa70762c8ee7d45ccce3f5c2059bbe3

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type an

[2019-09-19 00:43] ktwalrus commented on #7852
@harshavardhana How are you running the test case?

I'm running it using php-cli,

$ time php test.php
$ time php test.php

Since you've been providing only the "mc admin trace", I thought you might be running the php using php-fpm and http. I haven't tried http yet, so don't know if you would notice any hang, since my "mc admin trace" always prints out the HTTP Response immediately but the PHP cl

[2019-09-19 00:47] harshavardhana commented on #7852
No, I am just running on the CLI - I am not a PHP expert to use php-fpm or HTTP :-)

[code]
[code]

[2019-09-19 00:53] ktwalrus commented on #7852
Okay. I'm starting to run out of ideas of why I can consistently reproduce the issue when running May 2 or later release but not have any issues in any of the earlier releases. And, you haven't been able to reproduce it at all.

Maybe the file needs to be a binary file instead of a text file? My file is avatar.png and is 27456 bytes.

Maybe your file fits in one TCP packet and my file requires str

[2019-09-19 00:54] kannappanr commented on #8265
@Ploppz It could be some firewall or some other setup issue. It is generally easier to debug these sorts of issues better if you are on our slack channel at https://slack.min.io . We can try to reproduce the issue here and get back to you with more questions.

[2019-09-19 01:05] ktwalrus commented on #7852
Maybe issue is related to this change: #7590?

[2019-09-19 01:12] harshavardhana commented on #7852
I don't think that is the issue since the quirk_conn should have been fixed in the latest Go releases.

[2019-09-19 01:12] harshavardhana commented on #7852
But worth a try, we never know would you mind testing a new container? @ktwalrus

[2019-09-19 01:20] ktwalrus commented on #7852
@harshavardhana I'll test with anything, but I want to first know if you tested with a bigger file first. The more I think of it, the issue is probably in streaming into the Guzzle buffers. Your test file fits in one Guzzle buffer so wouldn't need to wait for subsequent parts of the download. getObject() just streams to the fd and doesn't go through multiple buffers like Guzzle does.

[2019-09-19 01:23] harshavardhana commented on #7852
@ktwalrus I think I might have reproduced it by running continuously it is reproducible for me in 2 to 3 in 100 iterations in an infinite for loop.

[code]

[2019-09-19 01:27] ktwalrus commented on #7852
@harshavardhana Great news! I was running out of ideas. I still think that larger files might reproduce more often and that is the reason I was seeing an occasional first successful run followed by an unsuccessful run.

[2019-09-19 01:34] harshavardhana commented on #7852
can you try with `y4m4/minio:quirk_conn ` @ktwalrus ??

[2019-09-19 01:38] ktwalrus commented on #7852
@harshavardhana `y4m4/minio:quirk_conn` works every time. I ran in an infinite loop for a minute with no hangs.

[2019-09-19 01:58] harshavardhana commented on #7852
Looks like this is another variation of the issue we reproduced with go HTTP 2yrs ago, it was agreed that Go 1.8 and above without using net/http.Hijack is supposed to work.

The issue was only in the Hijack and Deadline application code path. But that doesn't seem to be the case, it is something fundamentally wrong here. Since the fix for Hijack which is in a separate code path is automatically i

[2019-09-19 02:12] harshavardhana commented on #7852
I am able to reproduce it with this go program

[code]

[code]

We can see here

[code]

[2019-09-19 02:49] harshavardhana commented on #7852
Here is the upstream issue https://github.com/golang/go/issues/34385

[2019-09-19 05:56] yoonsio opened #8270 "Minio browser is not accessible with error message currentUiVersion is not defined"
Minio Browser is not accessible with error message:
[code]

## Expected Behavior
Login successfully with correct credentials.

## Current Behavior
Minio browser is throwing error message `currentUiVersion is not defined` when correct credentials are used to login.

<img width="674" alt="Screen Shot 2019-09-19 at 1 48 34 AM" src="https://user-images.githubusercontent.com/24367477/65216645-aa0a1500-

[2019-09-19 06:27] mrsrvman commented on #8194
Patch  did not help

[2019-09-19 06:29] mrsrvman commented on #8194
[code]

[code]

[code]

[code]

[2019-09-19 07:20] string-areeb commented on #7745
That is definitely doable, means `has a workaround`. But it is not a solution to the most common use case for storing user media on S3/minio

[2019-09-19 08:01] Praveenrajmani commented on #8194
@mrsrvman can you get me the latest commit id / MinIO version?. The fix is not yet released

[2019-09-19 08:04] harshavardhana commented on #7745
This is the solution not a workaround, we can't keep adding new canned policies to satisfy all use cases.

The list is quite long and not all such policies are common - set-json is present for this reason alone, for you to provide us your favorite policy.

[2019-09-19 09:02] demetthyl opened #8272 "minio issue on xfs and rhel7"
## Expected Behavior
I am having issue starting minio on a xfs mount, while it works normally on /tmp

## Current Behavior
Working as intending on /tmp
Not able to see my buckets / objects with mc or GUI when on xfs

## Steps to Reproduce (for bugs)
1. create a basic starting shell:
export MINIO_ACCESS_KEY=minio
export MINIO_SECRET_KEY=minio123
export MINIO_REGION=eu-west-3
./minio server /home/dl

[2019-09-19 09:11] demetthyl commented on #8272
i also tried using gateway nas and i have the same behavior : OK when targeting /tmp, KO when target xfs

[2019-09-19 09:38] mrsrvman commented on #8194
Version: 2019-09-18T21:55:05Z

SQS ARNs: arn:minio:sqs::1:webhook

[2019-09-19 12:00] nitisht commented on #8272
Can you check once with `RELEASE.2019-09-18T21-55-05Z ` @demetthyl , most probably you're seeing issue related to this fix https://github.com/minio/minio/pull/8240

[2019-09-19 13:29] kannappanr commented on #8272
@demetthyl Please test with the latest release and get back to us if you still see the issue. Closing this issue for now as answered.

[2019-09-19 13:29] #8272 closed, assigned to nobody

[2019-09-19 13:31] kannappanr commented on #8270
@sickyoon We will take a look at this issue and get back to you.

[2019-09-19 14:54] demetthyl commented on #8272
guys,
i confirm that your yesterday night release works, thank you very much for releasing so fast!

Cheers,
Guillaume

[2019-09-19 15:21] Ploppz commented on #8265
The problem is resolved.
It had something to do with the build server indeed. Not the firewall, but for some strange reason it used a proxy to resolve the `minio` hostname.

[2019-09-19 15:21] #8265 closed, assigned to krisis

[2019-09-19 15:27] khumps commented on #8245
@harshavardhana that nginx test was purely for making sure that the NIC's could push the bandwidth, I'll probably have to wait till next week to test with XFS, the sysctl settings added some performance. I tried running your s3-benchmark and I could push around 4000 RPS @256KB/request. That seemed to be possibly be limited by IO because it is not caching them in RAM like our current test is. Do yo

[2019-09-19 17:56] vikingjs opened #8274 "Docker Browser Access in startup message ignores run settings"
When starting the Docker image, a message is given that can be incorrect.

I started the server with the following:

    docker run -p 9090:9000 minio/minio:RELEASE.2019-09-18T21-55-05Z server /my/data/dir

Note that I am mapping the server to host port 9090, as 9000 was already in use.

When starting up, I got the message:

Which ignored the actual ports I specified. Not a huge deal, but it cause

[2019-09-19 17:59] harshavardhana commented on #8274
@vikingjs we can't know what you are trying to bind to using docker CLI from MinIO - this is true with nginx or any http service that you can ask.

To keep peace of mind just use `docker -p 9000:9000` don't change ports if you do change ports then use it like this

[code]

[2019-09-19 18:00] #8274 closed, assigned to nobody

[2019-09-19 18:22] kannappanr commented on #8249
Authorization can be handled by using policies for the user. You can create users and have some sort of policies attached to the user. Policy management can be done either within MinIO or outside. We currently support external policy engine like OPA, you can set up policy there and use it.

[2019-09-19 18:38] kannappanr commented on #8253
We don't support adding nodes to an existing cluster. You can add another cluster and expand using federation. Please look at https://docs.min.io/docs/minio-federation-quickstart-guide.html . Closing this issue. Please feel free to reach out to us at https://slack.min.io for such questions.

[2019-09-19 18:38] #8253 closed, assigned to nobody

[2019-09-19 18:52] kannappanr commented on #8249
@Reza-Noei Closing this issue for now. Please feel free to reach out to us if you have further questions. It is also easier if you can reach out to us at https://slack.min.io if you have further questions.

[2019-09-19 18:52] #8249 closed, assigned to nobody

[2019-09-19 20:02] mhjartstrom commented on #8234
Somnath Kundu of Techsoft sent me a great explanation, although both he and I don't understand your last reply regarding exclusive locks:

"In RAID-1 type mirroring mode, MF duplicates file I/O (for writing only) at kernel level and send them to mirror device for duplication. This works fine for all file operations except file move/rename, where no data is copied. So, whenever you move a file insi

[2019-09-19 20:06] harshavardhana commented on #8234
@mhjartstrom we don't do anything special we just use os.Rename() and it is expected if the file changes underneath it should fail. We don't allow cross drive renames since those are not cross-platform friendly.

So os.Rename() will work as long as tmp file and the destination file are both on the same drive. The problem here is that your backup software is holding a lock on the tmp file for some

[2019-09-19 20:15] harshavardhana commented on #8234
Regarding tmp files and they are leftover should be cleaned up properly. I will take a look at that issue right away.

[2019-09-20 08:25] kislik opened #8280 "Status of the buckets in the web interface "MinIO Browser""
It will be awesome if we get some new feature - "The current status of the bucket" or "Status of
directories in the bucket" (or current statistic) in the web interface ("MinIO Browser").

Why is it necessary?
For example, when you trying to upload a big bunch of new data in the bucket and at the same times you deleted another one (directory with millions of files) you will probably get a hang of y

[2019-09-20 09:22] nitisht commented on #8280
we'll see if this is something we can do @kislik

[2019-09-20 13:09] mohitrajvardhan17 opened #8281 "Minio STS (using Client grants) Access and Secret key is not working in Java Client SDK"
## Expected Behavior

Should be able to get bucket list using Minio Java Client SDK and below mentioned code:

Code for reference:
https://github.com/minio/minio-java/blob/master/examples/ListBuckets.java

STS Access and Secret key for Reference:
<?xml version="1.0" encoding="UTF-8"?>
<AssumeRoleWithClientGrantsResponse xmlns="https://sts.amazonaws.com/doc/2011-06-15/">
    <AssumeRoleWithClientGr

[2019-09-20 16:42] harshavardhana commented on #8281
You need to set Session Token ID minio-java SDK doesn't support STS yet. Closing this issue is being tracked at https://github.com/minio/minio-java/issues/793

[2019-09-20 16:42] #8281 closed, assigned to nobody

[2019-09-20 16:43] harshavardhana commented on #8280
We are planning to add accounting per bucket this is part of the user and usage accounting which is under implementation.

[2019-09-20 18:07] #7852 closed, assigned to harshavardhana

[2019-09-20 23:23] kannappanr commented on #8177
@luanshaotong Closing this as fixed by #8240 Please feel free to reach out to us if you still see this issue

[2019-09-20 23:23] #8177 closed, assigned to nobody

[2019-09-21 08:14] Reza-Noei commented on #8249
Thanks, Im new to Object Storage concepts and i will try to research.

[2019-09-21 16:10] fdefilippo opened #8284 "LDAP STS no login and no query"
I'm trying to configure minio with ldap sts but no query at all to ldap server.

## Expected Behavior

Login & Query to ldap server

## Current Behavior

Configuring minio with:

export MINIO_IDENTITY_LDAP_SERVER_ADDR='ldaps://127.0.0.1:636'
export MINIO_IDENTITY_LDAP_USERNAME_FORMAT='uid=${username},ou=Users,dc=l,dc=org'
export MINIO_IDENTITY_LDAP_GROUP_SEARCH_BASE_DN='ou=Groups,dc=l,dc=org'
expo

[2019-09-21 16:41] harshavardhana commented on #8284
That is not how you would use ldap integration @fdefilippo - you are missing the point of generating STS tokens.

AWS CLI cannot support MinIO STS extensions @fdefilippo

[2019-09-21 16:43] harshavardhana commented on #8284
Look at the Go program for the overall flow

https://github.com/minio/minio/blob/master/docs/sts/ldap.go

[2019-09-22 02:44] kannappanr commented on #8284
@fdefilippo Closing this issue. Please feel free to reach out to us at https://slack.min.io for further questions on this issue.

[2019-09-22 02:44] #8284 closed, assigned to nobody

[2019-09-22 08:18] harshavardhana commented on #6836
Closing this as stale issue, please re-open if seen again.

[2019-09-22 08:18] #6836 closed, assigned to kanagarajkm

[2019-09-22 21:20] #7806 closed, assigned to ebozduman

[2019-09-23 06:05] wlwcjl opened #8289 "How to use CoreDNS and ETCD to support minio cluster?"
How to use CoreDNS and ETCD to support minio cluster? please help me,thank you!

[2019-09-23 06:48] harshavardhana commented on #8289
Are you not able to follow this article https://docs.min.io/docs/minio-federation-quickstart-guide.html ?

While we encourage GitHub issues,  it is generally beneficial to follow our issue template so that we can address the issues more thoroughly.

This issue ignores most of the required etiquette that we would like. It would give us immense pleasure if you follow our issue templates or better ye

[2019-09-23 06:52] harshavardhana commented on #8270
Not able to reproduce this, would you mind providing browser console network logs if any?

[2019-09-23 06:55] harshavardhana commented on #8248
Closing this as won't fix for now. We will support http2.0 in future.

[2019-09-23 06:55] #8248 closed, assigned to nobody

[2019-09-23 07:28] lirany1 opened #8290 "The minIO server UI not update the used disk after backuping data"
[code]
and in the UI it's still with the previous amount

## Your Environment
[root@localhost ~]# mc version
Version: 2019-09-05T23:43:50Z
Release-tag: RELEASE.2019-09-05T23-43-50Z
Commit-id: 22ab93da0f995172520c8ddf182bff3d10ca5b66
[root@localhost ~]#

![2019-09-23_10-18-54](https://user-images.githubusercontent.com/12675378/65407745-2a1bdc00-ddec-11e9-8cea-545ce7729867.jpg)

[2019-09-23 08:03] harshavardhana commented on #8290
The value is updated every 12hrs @lirany1

[2019-09-23 08:16] lirany1 commented on #8290
@harshavardhana Is't configurable?

[2019-09-23 08:17] harshavardhana commented on #8290
No it is not..

[2019-09-23 09:10] thomasf commented on #7493
I don't know how common this practice is but I almost always expose metrics end points along with other non production stuff on it's own listening port.. It's just a more convenient way to keep internal infrastructure stuff separated from potential public http protocols.  This way it's much easier to hard firewall/route monitoring stuff onto it's own network without having to involve a http router

[2019-09-23 09:35] harshavardhana commented on #7493
We would like to avoid running a single MinIO service on multiple ports one for incoming traffic and another for just metrics alone. We just solved it by using the HTTP endpoint/router based approach.

master branch has now support for authentication, closing this issue.

[2019-09-23 09:35] #7493 closed, assigned to Praveenrajmani

[2019-09-23 13:20] kannappanr commented on #8289
@wlwcjl Closing this issue. Please feel free to open another issue with detailed description or reach out to us at https://slack.min.io.

[2019-09-23 13:20] #8289 closed, assigned to nobody

[2019-09-23 13:21] kannappanr commented on #8290
@lirany1 Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for further such questions.

[2019-09-23 13:21] #8290 closed, assigned to nobody

[2019-09-23 13:41] anrajan commented on #8218
No , That didnt work . Some more observations , on including the credentials in the url (through postman) , i could see the images , otherwise it is the same behavior . On accessing the url like <bucketname>.miniohost:9021/<image path> i see bucket not available error .
I tried giving public access to bucket and object both , no change in behavior .
Regards,Anoop

    On Friday, September 13, 2019

[2019-09-23 14:49] phiser678 opened #8293 "STS LDAP breaks IAM configuration?"
## Expected Behavior

`mc admin group list TARGET`
and
`mc admin user list TARGET`
should report but waits forever with errors on the minio server:
API: ListGroups()
...
Error: Specified IAM action is not allowed under the current configuration
       5: cmd/api-errors.go:1694:cmd.toAPIErrorCode()
       4: cmd/admin-handlers.go:993:cmd.toAdminAPIErrCode()
       3: cmd/admin-handlers.go:1001:cmd.

[2019-09-23 16:29] harshavardhana commented on #8293
STS LDAP if enabled replaces multi-users

[2019-09-23 17:06] kannappanr commented on #8293
@phiser678 Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for such questions.

[2019-09-23 17:06] #8293 closed, assigned to nobody

[2019-09-23 23:40] ginkel commented on #8245
You can run `mcli admin profile start --type cpu TARGET` to profile CPU.

[2019-09-24 02:48] wlwcjl opened #8298 "no endpoint pointing to the local machine is found"
## Expected Behavior
I hope to build Minio distributed cluster by  "Federation Quickstart Guide" guidebook！

## Current Behavior
I configured the CoreDNS server and the etcd cluster，but there are something wrong with no endpoint pointing to the local machine is found.

## Possible Solution

## Steps to Reproduce (for bugs)
1. I built a CoreDNS server
2. I configured the etcd cluster
3. I started t

[2019-09-24 07:11] phiser678 commented on #8293
But if you put policies on users and groups how can you check them then? I looked in the .minio.sys/config/iam/ directories where they seemed to be stored, but the part.1 is a binairy file.

[2019-09-24 07:41] nitisht commented on #8218
@anrajan this is weird / unexpected. Do you mind dropping a line on nitish@min.io , we can schedule some time to debug this quickly..

[2019-09-24 08:01] harshavardhana commented on #8293
They are erasure coded - they are meant for MinIO to read them and parse them.

[2019-09-24 09:11] phiser678 commented on #8293
So, how can someone see the policies of the users and groups when using STS LDAP then? Is here a way to read them with `mc`?

[2019-09-24 11:58] awesterb opened #8300 "Whitespace in the access key supported by the web interface, but not by signature v4"
## Expected Behavior

I would expect that either whitespaces in access keys are prohibited, or that access keys can contain whitespace without issues.

## Current Behavior

While running
[code]
I can login to the web interface without issues, but the command
[code]
fails with the error
[code]

## Possible Solutions

1. Ban whitespaces in access key, perhaps by adding a check in [IsAccessKeyValid f

[2019-09-24 12:43] r-medina opened #8301 "What SLOs/SLAs does minio have?"
I'm looking to building a service on top of minio, but cannot find any documentation around what service level objectives or agreements minio adheres to.

i am aware that in practice the guarantees come mainly from the underlying hardware, but there is some performance and reliability cost associated with going through minio, so i'm wondering if someone could tell me:
- how much latency minio intr

[2019-09-24 13:42] rc042 opened #8302 "Can't start Minio / Minio.service: Start request repeated too quickly."
Hi!

First, I tried to join the Slack channel but the link seems to be broken (https://github.com/minio/minio-service).

Minio doesn't started with systemd but **works correctly when launched with the command line**.

Any help really appreciated!
Thanks

## Expected Behavior

I used the _minio.service_ file available at https://github.com/minio/minio-service and the service failed to start.

## Cu

[2019-09-24 13:59] kannappanr commented on #8087
@pitrou We did discuss this internally and decided not to change the current behavior. Closing this issue as won't fix.

[2019-09-24 13:59] #8087 closed, assigned to kannappanr

[2019-09-24 14:45] rc042 commented on #8302
Hi again,

After more investigation, if I remove the User/Group from _minio.service_, the service start.

Seems a permission issue with _ERROR Failed to read root CAs (file access denied): file access denied_, I will continu to investigate.

[2019-09-24 16:40] harshavardhana commented on #8302
Thanks closing this issue @reedcrif

[2019-09-24 16:40] #8302 closed, assigned to nobody

[2019-09-24 16:49] harshavardhana commented on #8293
There is no way you can only set the policies for the user, you cannot list users or create groups. We don't expect those permissions from LDAP.

Only thing you create on MinIO is policies to be applied for incoming LDAP users

[2019-09-24 16:50] kannappanr commented on #8300
@awesterb Thanks for filing this issue. We will take a look and make the appropriate fix.

[2019-09-24 22:50] klauspost commented on #8268
PR added.

[2019-09-24 23:44] kannappanr commented on #8298
@wlwcjl Must be something wrong in the setup. Will try to follow the steps and see if we run into the same issue as you did.

[2019-09-25 00:10] klauspost commented on #8205
The correct syntax is `SELECT * from s3object s WHERE s.synonyms[0] IN ('foo')`, which works.

BUT the wildcard matching version `SELECT * from s3object s WHERE s.synonyms[*] IN ('foo')` does not work correctly, nor does `SELECT * from s3object s WHERE s.synonyms[*] = 'foo'`.

The "ArrayWildcard" operator returns an `[]interface{}`: https://github.com/minio/minio/blob/5ecac91a551c043160fbe17dd6152

[2019-09-25 00:17] klauspost commented on #8205
We can keep things here and change the title to `S3 Select array wildcard does not match correctly` or something like that.

[2019-09-25 05:19] xiebruce opened #8305 "[resolved] Can't access image via browser after set bucket to public(instead, it redirect to login page)"
OS: `macOS Mojave 10.14.4 (18E226)`
minio version: `2019-09-18T21:55:05Z`
mc version: `mc version RELEASE.2019-09-24T01-36-20Z`
minio installed via: `brew install minio/stable/minio`
mc installed via `brew install minio/stable/mc`

---

I start `minio` server by using this command:
[code]

Now, I can access it via browser, I create a bucket named `markdown` and upload some files, it works fine:
![

[2019-09-25 06:22] kanagarajkm commented on #8305
The command to set the policy is wrong, the correct one is
[code]
ALIAS is the name given by you while doing `mc config host add <ALIAS> ...`

And the object url will be
[code]
Note that `markdown` is missing in the url you have used.

[2019-09-25 06:40] phiser678 commented on #8293
I know, that's the whole point. If you set policies for the LDAP users and groups how you know which one you applied after a while? There could be 2 or more admins maintaining the policies. There should be some interface which tells for this group you applied this policy and for that user you applied that policy, just like you do without the STS LDAP config and normal users and groups. Otherwise s

[2019-09-25 07:04] harshavardhana commented on #8293
You can query by using `mc admin policy` - unfortunately that's not yet correctly documented yet. Which we shall fix from the point of view from `mc`

You should join our slack for further questions https://slack.min.io - we will clarify all your questions in this area.

[2019-09-25 07:05] krishnasrinivas commented on #8301
@r-medina object storage is mainly throughput oriented, minio chokes either the network(100gige) or the disks. CPU is not a bottleneck. Some benchmark numbers: https://min.io/resources/docs/MinIO-throughput-benchmarks-on-NVMe-SSD.pdf

Minio itself is light weight on resources and well optimized on memory and cpu.

For erasure coding we use https://github.com/klauspost/reedsolomon which takes advan

[2019-09-25 07:37] phiser678 commented on #8293
To make this clear, with `mc admin policy` you create and list policies, but this it is not what I issued. It's the list of users and group and which policy are apllied.
Sorry, the Slack invite link is no longer active, if you would be so kind to send me a reinvite? Thanks.

[2019-09-25 07:56] harshavardhana commented on #8293
Yes, the reason is that now users are managed at your LDAP server. Meaning you create users on LDAP/AD their login creds will be honored through MinIO STS API.

Multi-users cannot co-exist with LDAP/AD because users on LDAP/AD might cause conflict with a multi-user system with duplicated names etc. That is why when LDAP is chosen you can't manage users on MinIO. You are actively indicating that to

[2019-09-25 09:16] sofib commented on #7497
I get the same host header issue for signed urls on version RELEASE.2019-09-18T21-55-05Z

[2019-09-25 09:16] stoivo opened #8306 "Showing file name as title, in signed urls preview"
When you view a Pre-signed is there a way to pass the title of the page?

## Expected Behavior
I expect that there is an option pass a title

## Current Behavior
Firefox used PDF.js to render the pdf and users the `filename*` in `response-content-disposition`. Chrome uses the id it was in minio as title

![Screenshot 2019-09-25 at 11 15 11](https://user-images.githubusercontent.com/3492040/6558726

[2019-09-25 09:25] harshavardhana commented on #7497
Please open a new issue with more details.

[2019-09-25 09:33] phiser678 commented on #8293
It's going to be implemented in https://github.com/minio/minio/pull/8307 with `mc admin policy list  TARGET`.

[2019-09-25 09:52] wlwcjl opened #8308 "Error Occured uploading ......"
## Expected Behavior
I hope to build Minio distributed cluster by "Federation Quickstart Guide" guidebook！

## Current Behavior

**Now  I can create buckets but I can not upload anything, when I upload file by google browser then the error message that "uploading file error"  displayed immediately。 how to resolve this problem? please help me, thank you very much !**

## Possible Solution

## Steps

[2019-09-25 10:05] vadmeste commented on #8308
@wlwcjl thanks for reporting this issue.

It looks like the browser is not providing enough information about the reason for the issue.

Can you get familiar with `mc` first and try to upload that file using it and see if there is any error which can occur ?

[2019-09-25 12:44] antonio-antuan commented on #6540
got the same warning with minio/minio:latest docker image
[code]
and code freezes for a minute after that warning

[2019-09-25 13:51] kannappanr commented on #8301
@r-medina Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for further such questions

[2019-09-25 13:51] #8301 closed, assigned to nobody

[2019-09-25 13:54] kannappanr commented on #8305
Please take a look at our docs at https://docs.min.io/docs/minio-client-complete-guide.html
Please reach out to us at https://slack.min.io for further such questions.

[2019-09-25 13:54] #8305 closed, assigned to nobody

[2019-09-25 19:06] harshavardhana commented on #6540
@aCLr this is a botocore bug, follow up with them to get it merged and fixed.

[2019-09-25 19:32] tannh commented on #5815
I same issuse. I used when force kill -9 node when maintain a node. I have 3 node server, with 2 exporter on a node. I use Nginx LB for 3 node server. When the node maintain is up, i cant PUT erverything object. When stopped the node was maintained so I can PUT object. How heal the node maintained tks.

[2019-09-25 19:41] harshavardhana commented on #5815
We really request you to open new issues with more information @tannh - talking on old issues not productive.

[2019-09-25 19:48] tannh commented on #5815
@harshavardhana tks. So Is there any way to save the cluster when using kill -9?

[2019-09-25 19:51] harshavardhana commented on #5815
I see that you continuing to conversate here - please open a new GitHub issue lets conversate there. Will lock the conversation here.

[2019-09-25 23:32] harshavardhana commented on #8293
To know what you want you should do `mc admin user info NICK` to get the policy that you stored associated with your LDAP user.

[2019-09-26 00:04] kannappanr commented on #8308
@wlwcjl You can look at https://docs.min.io/docs/minio-client-complete-guide.html to get more information about how to use `mc` and the commands supported by it.

[2019-09-26 09:00] mrsrvman commented on #8194
On latest release RELEASE.2019-09-25T18-25-51Z

[code]

[2019-09-26 13:50] jaydg commented on #8205
I think that is a misunderstanding: `SELECT * from s3object s WHERE s.synonyms[0] IN ('foo')` would find all records, for which the *first* element is "foo".

The query is supposed to look into *any* of the elements of the synonyms array, which also may be of arbitrary length, even contain no elements at all.

[2019-09-26 14:13] kannappanr commented on #8306
@stoivo If I understand the issue correctly, you are seeing this in specific versions of browser. I don't think MinIO can do much about it.

[2019-09-26 14:20] Aronabv commented on #8154
@harshavardhana - I face same issue. Even when changing to `minio gateway nas` still receive 202 files. Do you have any idea why?

[2019-09-26 14:24] svistoi commented on #8154
@Aronabv I moved the files from NFS to XFS, pointed 4 minio instances to the 4 sets and tested that.  Those instances backed by XFS were showing all files.  So it does seem NFS related.  And my suggestion is to move to XFS to get your data back.

However I'm not sure specifically what it is about O_SYNC and O_DIRECT used for write, that interferes with the read.

**EDIT** Sorry I misread your mess

[2019-09-26 15:45] kannappanr commented on #8306
closing this issue now. If you feel I have misunderstood the issue, please let us know, we can re-open the issue. We can also be reached at https://min.io for questions like these

[2019-09-26 15:45] #8306 closed, assigned to nobody

[2019-09-26 16:39] klauspost commented on #8205
@jaydg Please read my entire reply. There is a wildcard operator, but it does not work correctly.

[2019-09-26 16:56] harshavardhana commented on #8154
@svistoi listing had a bug which is fixed already in the last couple of releases.

@Aronabv please open a new issue. This issue is not related.

[2019-09-26 17:09] harshavardhana commented on #8194
@Praveenrajmani why are panicking I am not able to understand ..We should perhaps not panic at all so deep in the call flow.

It is either simply better to log such an error and move on as dropped events.

[2019-09-26 19:11] harshavardhana opened #8319 "deep healing is not working on remote hosts for corrupted objects"
**Not using the template on purpose**
[code]

[code]

[2019-09-26 23:07] stoivo commented on #8306
I mean it more like a question if there is a way to pass what will be used as title of the page?

I am just stating that I noticed that different browser handeled it differently.

[2019-09-27 03:28] lcnsir opened #8322 "minio memory increased everyday and _MINIO_PROFILER not working"
minio image version: RELEASE.2019-04-03T17-59-57Z

I run minio in a k8s platform.

And there is a service who get frames/data from kafka then compress it finially store the data into minio frenquently

The service implemented by minio-go:6.0.25

with the exmple method:

[code]
to get the client

then push data in the daemon

[code]

Then I found minio memory increase every day and then

I add

[co

[2019-09-27 03:50] harshavardhana commented on #8322
Upgrade to latest @lcnsir we have improved memory usage quite a bit..

[2019-09-27 03:50] harshavardhana commented on #8322
Also profiler is moved to command line `mc admin profile --type mem`

[2019-09-27 06:29] Reamer opened #8323 "Minio monitoring with prometheus in K8s - authentication"
Hi,
I'm setuped a prometheus and a minio cluster in K8s. I'm using the well known [prometheus-operator](https://github.com/coreos/prometheus-operator) to configure my prometheus scrape configuration. I'm able to add a [bearerTokenFile](https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint) with the provided API from prometheus-operator. In general this is always t

[2019-09-27 06:42] harshavardhana commented on #8323
@Reamer it is not wrong it is a one-time activity and you should be able to use the token with the prometheus-operator

all you need to do is migrate to the new style enable the bearer_token which never expires

[code]

[2019-09-27 06:44] harshavardhana commented on #8323
You can use this already generate the token as mentioned using `mc` and use that token.

No there is one way to do it, anonymous will not be allowed.

This is not useful as there is already a known technique using the first method.

[2019-09-27 08:15] Reamer commented on #8323
Hi @harshavardhana,
I think it's not practicable to create a custom minio token and a custom scrape config for each minio installation. The prometheus server in K8s has already a token. Minio should be able to validate and accept this Token. This validation is often done in openshift via an [oauth-application-proxy](https://github.com/openshift/oauth-proxy).

[2019-09-27 08:17] harshavardhana commented on #8323
The token here to authorize the incoming client request. This token is also for per MinIO cluster not per node. So same token is used for all the nodes in the cluster? Are you thinking each node gets a separate token?

[2019-09-27 08:20] Reamer commented on #8323
No, I know that one token is for each minio cluster (installation).

[2019-09-27 08:23] harshavardhana commented on #8323
@Reamer why is it a bad idea to have each cluster do it's own authentication ?  If you don't wish to change the token you should keep the same admin credentials for all new clusters..

It is fine grained to avoid using same token for all clusters, it's hard to not see why isn't it beneficial.

Are you saying that trusted pods shouldn't require such authentication ?

[2019-09-27 08:35] Reamer commented on #8323
Hi @harshavardhana
It's good, that each cluster does it's own user authentication and maybe also prometheus authentication . I would be better, if I can set the prometheus token via  environment variable as like `MINIO_ACCESS_KEY` or `MINIO_SECRET_KEY`.

Prometheus should be able to discover with kubernetes-api all minio endpoints with potential multiple clusters and scrape all endpoints without a

[2019-09-27 09:47] lcnsir commented on #8322
@harshavardhana

After I upgrade to the version `RELEASE.2019-09-26T19-42-35Z`

The memory usage still consume highly and quickly

Any suggestion? Is this will be a memory leak ?

And one changes is that I started minio by
[code]

Is that related with the memory increase issue ?

[2019-09-27 11:20] philipkozeny opened #8324 "MC mirror with --watch fails after some hours"
I am running 2 Minio instances (one distributed with 3 hosts 2 disks each with the binary, one running with docker and 4 disks).

On another server I am running

`/usr/local/bin/mc mirror --remove --overwrite --quiet --watch storage/live storage-failover/live`

This works fine for some time, but after ~24 hours (not always the same), there are no changes synced to the storage-failover node. The mc

[2019-09-27 14:25] kannappanr commented on #8324
@philipkozeny Are you overwriting existing objects or is it new objects that you are talking about? Does it start working once you restart `storage` How many objects are we talking about here? Do you have lots of prefixes etc? Is the distributed one named `storage`?

[2019-09-27 14:28] NMD49 opened #8325 "Minio gateway s3 - Key object encoded"
When minio act as a gateway for s3, a call to GET Bucket (List Objects) Version 2 returns a list with object key encoded.
## Expected Behavior

object key must not be encoded. For example "test/sample.txt"

## Current Behavior

In version 2019-09-26T19:42:35Z object key are encoded for example "test%2Fsample.txt"
It was not the case with version 2019-09-05T23:24:38Z

[2019-09-27 14:35] kannappanr commented on #8325
@NMD49 Thanks for reporting this issue. We will take a look and fix it right away.

[2019-09-27 14:44] vadmeste commented on #8325
@NMD49 what's your S3 client in this case ?

[2019-09-27 15:04] NMD49 commented on #8325
mc client RELEASE.2019-09-24T01-36-20Z

[2019-09-27 15:10] vadmeste commented on #8325
What about your Minio version ?

[2019-09-27 15:20] vadmeste commented on #8325
I am not able to see any issue.

mc listing doesn't show encoded chars while testing against a MinIO gateway s3.
MinIO server version: 2019-09-05T23-24-38Z
mc version: 2019-09-24T01-36-20Z

Did I miss something ?

[2019-09-27 15:31] harshavardhana commented on #8322
Note: MinIO allocates 10MiB per read and writes on a bufPool . This memory is reused so for example if you have 1000 concurrent connections you will see 10G memory usage.

Are you saying you see more than this ? Also how are you seeing memory usage?

[2019-09-27 16:23] NMD49 commented on #8325
I use this minio server version :
`> minio version`
`Version: 2019-09-26T19:42:35Z`
`Release-Tag: RELEASE.2019-09-26T19-42-35Z`
`Commit-ID: 2a2ff96ee1cb263058e7bfcc553e99054a1e9000`

Put Minio server in gateway mode :
`> set MINIO_ACCESS_KEY=Q3AM3UQ867SPQQA43P2F`
`> set MINIO_SECRET_KEY=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG`
`> minio gateway s3 https://play.minio.io:9000`

Test #1 with mc on ht

[2019-09-27 16:33] vadmeste commented on #8325
@NMD49 yes, I was able to reproduce this issue, we will fix it quickly

[2019-09-27 16:58] vadmeste commented on #8325
The reason for this issue is that Gateway S3 is using minio-go Core, but changes for url encoding that were made recently process encoding in a more higher level.

[2019-09-27 17:22] harshavardhana commented on #8234
// cc @vadmeste ^^

[2019-09-27 17:31] NMD49 commented on #8325
@vadmeste Thank you very much for your investigation

[2019-09-27 19:33] #8268 closed, assigned to klauspost

[2019-09-27 20:33] philipkozeny commented on #8324
@kannappanr

I've seen it mainly with new / removed files, but will try.

Can't confirm that 100%, will try it in the next few hours when it fails again

Currently about ~500.000 objects in the bucket (all smaller size, around 100 GB in total)

All files have a prefix "id/" and then a generate UUID as a file name, `storage/live/113/7b4332e5-6c65-4f18-be9c-d27ff080ae9d` is a typical file name

Yes,

[2019-09-28 00:57] nodesocket opened #8331 "Updating Minio distributed with kafka notify support failing"
I am attempting to update my Minio distributed mode cluster running on Kubernetes with Kafka notify support. Locally on my machine I am able to download the config and then update it with the following:

[code]

`kafka.kubeless.svc.cluster.local` is a service endpoint that resolves inside of Kubernetes which the Minio pods should be able to hit. However, when I try to update Minio with this config

[2019-09-28 08:07] kannappanr commented on #8331
Not sure if solution proposed in this link still applies. https://github.com/Shopify/sarama/issues/941

If not We will take a look.

[2019-09-28 09:50] IsNull commented on #8323
Sorry to hijack this issue, but I think what @Reamer  is after is a special case of my request here #7786.

The point is that we need to be able to bring up a complete minio cluster with all configuration, security and monitoring in place WITHOUT any manual configuration api calls.

Think about it this way: A single `docker-compose up` should be enough to bring up minio, monitoring and any sort of

[2019-09-28 14:32] harshavardhana commented on #8323
You are right @IsNull once the config changes come in that is indeed possible

[2019-09-28 15:53] nodesocket commented on #8331
@kannappanr my local MC client cannot access kafka.kubeless.svc.cluster.local but the Minio pods inside of Kubernetes can. Is this a requirement that MC can communicate with Kafka?

[2019-09-28 21:38] vikingjs commented on #8274
You chose a port for minio that has long been used for php-fpm. I would suggest that if you can't get the proper information to display, then don't say anything — or at least make the language less absolute. It comes across as unprofessional when the first thing I see from your product is incorrect.

[2019-09-28 22:44] harshavardhana commented on #8274
@vikingjs no one owns port in Unix - there are known standard ports which are < 1024  and then rest are for taken. Officially ports beyond 1024 can be taken by any running process. 9000 is assigned a name https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=90&page=3 by IANA which not even assigned to php-fpm.  So every software is free to make such c

[2019-09-29 07:27] Meshkati opened #8332 "Client says Server not initialized, while all nodes are up."
Hi, today one of our 16 nodes failed, we fixed the problem and started the machine again, and a bad latency ( about 5 secs for each requests ) happened. So we tried to reset the cluster with Minio Client, the `mc admin service restart minio-opr` stuck for 10 minutes, so we checked systemctl logs inside the machines and all minio services were in load state.
We finally restarted each process inside

[2019-09-29 07:42] harshavardhana commented on #8332
@Meshkati nodes may be up but they are not communicating with each other here. can you capture `journalctl` logs for the MinIO service? also when running under systemd you need to make sure that
if you haven't set

[code]

Because this can interfere with `mc admin server restart` as it tries to restart the service.

[2019-09-29 07:50] Meshkati commented on #8332
Here is the log:
[code]

Yeah we had `Restart=always` in our service files.

[2019-09-29 07:52] harshavardhana commented on #8332
looks like there is a crash here @Meshkati you need to capture the entire trace.  Also please paste you MinIO version `minio version` - thanks

[2019-09-29 08:05] Meshkati commented on #8332
I think that crash is because we killed the process entirely, after `systemctl stop` stuck for another 10 minutes :D I'll add more logs here.
Our version was `Version: 2019-08-11` today, after all of those failures, we updated the minio to `2019-09-26`, but it didn't help either. So we rolled back to `Version: 2019-08-11` again afw moments ago, and the problem still exists.

Here is the logs:
http

[2019-09-29 08:06] harshavardhana commented on #8332
I would suggest don't rollback it is important to update due to security fix release @Meshkati

[2019-09-29 08:08] Meshkati commented on #8332
Yeah we will update again, but our service is down for 2 hours and we don't care about that at this moment :D

[2019-09-29 08:10] harshavardhana commented on #8332
AFAICS here

[code]

No servers are running, can you capture the logs once you have updated @Meshkati ?

I would care since it is better for me to work off the latest release.

[2019-09-29 08:11] harshavardhana commented on #8332
also, please https://slack.min.io so we can help you in real-time - this looks like something interesting to look at.

[2019-09-29 15:15] PaulMatencio commented on #4120
By default, Nginx is converting HEAD into GET. All you need is to disable this converion by setting proxy_cache_convert_head off

[2019-09-29 21:39] nodesocket commented on #8331
I feel stupid, adding the port `kafka.kubeless.svc.cluster.local:9092` worked.

[2019-09-29 21:39] #8331 closed, assigned to nobody

[2019-09-30 04:16] kannappanr commented on #8332
Closing the issue here as the discussion has moved to slack.

[2019-09-30 04:16] #8332 closed, assigned to nobody

[2019-09-30 06:44] philipkozeny commented on #8324
@kannappanr

So I've done some more tests.

It happens with all kinds of operations, doesn't matter if its a new file, or overwrite or delete operation.

Yes, after restarting all 3 nodes in the cluster the operations are mirrored again

[2019-09-30 07:58] panypopo opened #8334 "fail to startup minio in distributed mode using glusterfs on k8s"
I run 4 node with 4 drives in k8s with glusterfs as storageclass, but the cluster startup failed.

## Expected Behavior
The cluster should start successfully.

## Current Behavior
all server is stucked with below log:
[code]

## Steps to Reproduce (for bugs)
1.   create headless-service :
[code]

headless-service.yaml
[code]

2.  create statefulset
[code]
[code]

the entire logs:

minio-0
[code]

[2019-09-30 10:46] sinhaashish commented on #8300
Since the server console prints the access key and secret key . They must be used by web interface and the sdk. Right now the request from sdk hits `parseSignV4`  where all the white space are removed.  Example : Access key passed by sdk is `minio object` . This on server side gets converted to `minioobject`  This leads to the error `Unable to initialize new config from the provided credentials. T

[2019-09-30 16:21] harshavardhana commented on #8334
Can you provide the entire crash log? Also please state the version of MinIO with `minio version` just like how you state k8s version..

[2019-09-30 16:23] harshavardhana commented on #8270
Unable to reproduce this issue. Closing this issue as we haven't heard anything back.

[2019-09-30 16:23] #8270 closed, assigned to nitisht

[2019-09-30 17:50] kannappanr commented on #8334
Please try to provide all the information requested in the issue template for us to look at the issue. Closing this issue till then.

[2019-09-30 17:50] #8334 closed, assigned to nobody

[2019-09-30 20:55] #8300 closed, assigned to sinhaashish

[2019-09-30 21:10] fabio-longarai opened #8338 "mc export users and policies"
**Is your feature request related to a problem? Please describe.**
"mc mirror" does a great job cloning data between different minio services. Yet... there's no way to replicate users credentials and policies from one installation to another.

**Describe the solution you'd like**
Maybe a "mc export" would provide a great tool to export users and policies. An "mc import" should not be needed if cur

[2019-10-01 01:14] #8181 closed, assigned to kanagarajkm

[2019-10-01 07:14] mindhash opened #8342 "Object in Webhook events is inconsistent"
We are using webhooks to maintain a rolling avg of bucket sizes.

## Expected Behavior

The object (json key in event) should contain size of the deleted object.

## Current Behavior

The object key (in events json) is inconsistent across event types. For a delete event, the object size is missing.

## Possible Solution

Add object attributes (e.g. size) consistently across event types.

## Steps

[2019-10-01 07:18] nitisht commented on #8342
Thanks we'll take a look @mindhash

[2019-10-01 15:36] harshavardhana commented on #8342
This is as per AWS S3 requirements DeleteObject doesn't have any size field on purpose because Size is not interpreted.

We won't add extra information unless AWS will add here. This is working as intended.

[2019-10-01 16:55] kannappanr commented on #8342
@mindhash Closing this issue as working as intended. Please feel free to reach out to us at https://slack.min.io for further questions on this.

[2019-10-01 16:55] #8342 closed, assigned to nobody

[2019-10-01 17:15] vsfalexanderpilch opened #8345 "AssumeRoleWithWebIdentity in combination with conditions/stable userids in policy"
We're trying to create user scoped folders in a bucket, so that the user is only able to upload data to his own subfolder in a bucket (Basically a similar policy as https://github.com/minio/minio/issues/7086 is using). The `aws:userid` condition is mapped to the accesskey of the temporary credentials, which is changing if we're rerequesting new ones. A user won't be able to continue his upload as

[2019-10-01 17:20] harshavardhana commented on #8345
Thanks @vsfalexanderpilch this is should be fixable. In-fact perhaps aws:userid is incorrectly used here.

[2019-10-01 17:22] vsfalexanderpilch commented on #8345
I guess some additional/new condition would be nice. Username/UserId is probably the wrong one for us in this case.

[2019-10-01 20:12] #8319 closed, assigned to harshavardhana

[2019-10-02 00:48] ebozduman commented on #7850
@Druckles ,

I tried to reproduce the issue on a slightly different, but much simpler setup, however, I could not reproduce the issue.

In my setup, I had a filesystem/dir (let's call it `".../shared_data/"`) defined on an Ubuntu box (18.04, not virtual), and some files/objects with offensive file names (!abc.jpg, $abc.jpeg, #abc.txt etc.) created in the same location, `".../shared_data/"`.

On a

[2019-10-02 11:05] vsfalexanderpilch commented on #8345
@harshavardhana `cognito-identity.amazonaws.com:sub` seems to be the equivalent in aws terms.  [Example 2](https://docs.aws.amazon.com/cognito/latest/developerguide/iam-roles.html) in Cognito user guide is basically the same:

[code]

[2019-10-02 12:03] RooyeKhat opened #8350 "update is not a minio sub-command. See minio --help"
Hi
in new version when i try to update minio show this error

can any one help me why this command is not working ?

Thanks

[2019-10-02 12:10] nitisht commented on #8350
This command is deprecated, you can use `mc` to update MinIO cluster now, https://docs.min.io/docs/minio-admin-complete-guide.html#update

[2019-10-02 13:11] kannappanr commented on #8350
@RooyeKhat Closing this issue as working as intended. Please use `mc` to update `MinIO` cluster

[2019-10-02 13:11] #8350 closed, assigned to nobody

[2019-10-02 13:47] YoussefArfaoui commented on #8179
Dear,

I do confirm it's working with the last build. Many thanks for your support

Respect
Youssef

[2019-10-02 13:47] #8179 closed, assigned to nobody

[2019-10-02 13:48] nitisht commented on #8322
Closing this as working as intended, please reopen if you have further inputs

[2019-10-02 13:48] #8322 closed, assigned to nobody

[2019-10-02 13:49] nitisht commented on #8160
Closing this for now due to no response, please reopen if you have further inputs

[2019-10-02 13:49] #8160 closed, assigned to nobody

[2019-10-02 16:24] harshavardhana commented on #8345
We will perhaps simplify and make it `${jwt:sub}`

[2019-10-02 20:48] bzakhar commented on #8323
Actually, adding bearer token authentication over a clear text channel (HTTP) doesn't add anything to the cluster security and just complicates things beyond necessity. So please
a) make this authentication optional and configurable, off by default; and
b) disable it on HTTP endpoints as it's simply insecure and may in fact help compromise the cluster.

[2019-10-02 21:27] IsNull commented on #8323
For security reasons, endpoints exposed in public are limited using ingress / proxy rules.
Often, HTTPS is terminated at the ingress level so cluster internal communication is open. Exposing metrics on a separate port would probably simplify configuration and enhance security.

Also, your change in requiring authentication broke our monitoring and there is no easy fix. We cant even disable securit

[2019-10-03 07:08] #5665 closed, assigned to Praveenrajmani

[2019-10-03 07:40] dimaqq opened #8355 "Cookies on presigned links"
Chrome tells me:

A cookie associated with a cross-site resource at http://localhost/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>Cookies and see more details at https://www.chromestatus.com/feature/508814

[2019-10-03 08:19] nitisht commented on #8355
Thanks for reporting @dimaqq we'll take a look

[2019-10-03 08:22] thomasf commented on #8323
Not that though, because some people put their security rules and authentication in a proxy/load balancer and never expose the http listener by itself.

This change has caused a bit of problem for us, we cannot currently deploy new minio instances (which we some times might do tens of times each day).  We are note using k8s, just a bunch of containers running on a bunch of hosts being set up by a

[2019-10-03 08:28] dimaqq commented on #8355
TBH, I'm not sure that it was minio that set the cookie, I think so, but I can't actually see the cookie name anywhere in Chrome 🤔

[2019-10-03 08:45] harshavardhana commented on #8323
We are going to allow an env to disable Prometheus auth. For people who want authentication `mc admin prometheus` does the job.

[2019-10-03 08:51] thomasf commented on #8323
Will this be happen within weeks? I am considering just disabling monitoring of minio until the change arrives if it's not too far off into the future

[2019-10-03 09:02] harshavardhana commented on #8323
Think of this as next week. Adding support for such a thing is fairly simple anyways

[2019-10-03 12:40] bzakhar commented on #8323
Bearer token is a shared secret, transmitting it over a clear text channel where it can be easily intercepted doesn't make much sense, it was never supposed to be used that way. Do not assume that since you're behind a firewall then your internal traffic is protected from eavesdropping...

[2019-10-03 16:29] thomasf commented on #8323
Also don't assume what other people assume.  If this was a general discussion about network infrastructure your point would maybe be valid but it isn't

[2019-10-03 16:55] bzakhar commented on #8323
It is my sincere belief that if you create an opportunity to do something wrong, inevitably someone will. Supporting bearer token authentication over clear text transport is just such an opportunity. It's one of those things you never do even if you see some immediate benefit and no apparent harm. Bearer and Basic authentication require secure transport, clear text transport shouldn't be even opti

[2019-10-03 17:02] thomasf commented on #8323
Well, since the network between the proxy and minio in this case is only visible between those two services in a closed off virtual network on a single machine an attacker would have to root the machine first or hack the proxy and then we have a lot worse problems than someone being able to read our minio metrics which is fairly low down on the threat level scale to begin with.

Yes, given an oppo

[2019-10-04 09:45] user14045 opened #8357 "ASK: How to download file/object from minio with presigned url?"
First of all, sorry if my question is so basic. But, I couldn't find the way to solve what I need.

I use [minio][1]. I try to get the object in the bucket by generating the url (presigned url). After get the presigned url, my client site could preview the image inside `<img>` tag. But, I try to download the file using that presigned url. I try to use downloadjs npm package ([link][2]) to download

[2019-10-04 10:44] #8357 closed, assigned to nobody

[2019-10-04 13:10] GabrielDumbrava commented on #4135
[Handybackup](https://www.handybackup.net/minio-backup.shtml) can also backup from minio, but also [rclone](https://docs.min.io/docs/rclone-with-minio-server.html) might do the trick.

You may still want to run minio in [distributed mode](https://docs.min.io/docs/distributed-minio-quickstart-guide.html) so that your data is being written in more than one node at the same time.

[2019-10-04 17:30] sheburn opened #8359 "read-only policy marked bucket still allows object add/delete"
I am applying the following policy to a bucket, and I can still add delete objects in the bucket.  The first two statements are found in some of your code. The last deny was added by me.

policy_read_only = {
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "s3:ListBucket",
                "s3:GetBucketLocation"
            ],
            "Effect":

[2019-10-04 17:46] harshavardhana commented on #8359
Are you using root credentials and authenticated requests ?

[2019-10-04 17:46] harshavardhana commented on #8359
This policy that you are adding is for a regular user on MinIO or bucket policies ?

[2019-10-04 18:19] #8323 closed, assigned to nobody

[2019-10-04 18:54] sheburn commented on #8359
I am providing the minio access key and secret key just as I would logging into the browser. I have not created any sub accounts.

From: Harshavardhana <notifications@github.com>
Sent: Friday, October 4, 2019 12:47 PM
To: minio/minio
Cc: Heburn, Shelley; Author
Subject: Re: [minio/minio] read-only policy marked bucket still allows object add/delete (#8359)

[EXTERNAL EMAIL]

Are you using root cre

[2019-10-04 18:56] sheburn commented on #8359
I am attempting to apply that policy to a bucket. I then try to add and delete the objects. I am logged into the minio environment using the top level credentials. I have not made any accounts.

From: Harshavardhana <notifications@github.com>
Sent: Friday, October 4, 2019 12:47 PM
To: minio/minio
Cc: Heburn, Shelley; Author
Subject: Re: [minio/minio] read-only policy marked bucket still allows obj

[2019-10-04 18:58] harshavardhana commented on #8359
Bucket policies are only meant for anonymous users.. admin user which you are using cannot be restricted in anyway. It is called the operator account. If you want to restrict users create sub-users which are not admins and they can have restricted permissions.

[2019-10-04 19:17] sheburn commented on #8359
The python api does not seem to show a method for creating accounts.  The mc client uses the following:

https://docs.min.io/docs/minio-multi-user-quickstart-guide.html
Create a new user newuser on MinIO use mc admin user.
Copy mc admin user add myminio newuser newuser123

From: Harshavardhana <notifications@github.com>
Sent: Friday, October 4, 2019 1:58 PM
To: minio/minio
Cc: Heburn, Shelley; Aut

[2019-10-04 20:14] kannappanr commented on #8359
@sheburn That is correct, we currently do not allow that in `minio-py`. Will close the issue now. Please use `mc` to create such accounts. If you have further questions please feel free to reach out to us at https://slack.min.io

[2019-10-04 20:14] #8359 closed, assigned to nobody

[2019-10-04 20:58] donatello commented on #8338
The problem is in exporting of credentials. Currently none of the admin APIs export user secret keys, but it would be needed the feature described here. Exporting secret keys is problematic because the feature could be abused. By design even AWS never returns secret keys after the first time they are created.

We will discuss internally about adding such a feature and update here.

[2019-10-04 21:00] donatello commented on #7445
Can we close this? @ebozduman @harshavardhana

[2019-10-04 23:18] harshavardhana commented on #7445
Closing this as fixed..

[2019-10-04 23:18] #7445 closed, assigned to donatello

[2019-10-06 14:49] feld opened #8361 "Safari thinks Secret Key field is a new password field"
<img width="1007" alt="image" src="https://user-images.githubusercontent.com/40271278/66270894-10cc5400-e81e-11e9-90e5-44a4fbc0bcac.png">

Safari thinks the Secret Key field is for a new password, so tries to generate a password for you. Very annoying.

`<input type="password" id="secretKey" name="password" value="" class="ig-text" spellcheck="false" required="" autocomplete="new-password">`

This

[2019-10-06 14:52] #8205 closed, assigned to klauspost

[2019-10-06 14:54] harshavardhana commented on #8325
This issue is fixed and released..closing

[2019-10-06 14:54] #8325 closed, assigned to vadmeste

[2019-10-06 14:55] harshavardhana commented on #7989
This feature has been fully implemented.

[2019-10-06 14:55] #7989 closed, assigned to nobody

[2019-10-07 16:54] grupoz opened #8364 "Chrome fails to plays mp4 content with error net::ERR_CONTENT_DECODING_FAILED"
Minio server sends in response Headers: "Content-Encoding: gzip''' for *.mp4 content, from documentation this content are excluded from compression, even if compression is enabled.

When chrome try to reproduce this content fails with msg:
net::ERR_CONTENT_DECODING_FAILED
(in other browsers reproduction also fails)

Walkaround: Minio behind a proxy, which removes the Content-Encoding header for th

[2019-10-07 17:15] kannappanr commented on #8364
@grupoz Can you paste your `MinIO` version, plus if you can give more information about any environment variable that you have set, your config file, and the mode you started MinIO in and the command you entered to start MinIO.

I tried this on `FS` mode, with and without compression turned on and was unable to reproduce this issue.

[2019-10-07 17:31] arangyupgrade opened #8365 "Unable to use us-west-2 bucket duo to: 301 response missing location header"
I'm using the latest version of minio `RELEASE.2019-10-02T21-19-38Z` for using gateway s3 on k8s.
I'm trying to integrate Codecov with minio to archive reports.
However,when I'm trying to upload the object to us-west-2 I received this error:

[code]
The bucket is in us-west-2, I passed MINIO_REGION=us-west-2 to minio env variable. but the URL shows us-east-1.

on the other hand, if I want to use t

[2019-10-07 17:55] #8361 closed, assigned to kanagarajkm

[2019-10-07 17:59] grupoz commented on #8364
Hi @kannappanr:

Minio Version
[code]
Minio Env Vars
[code]
Minio Startup script
[code]
Minio Logs after start

[code]
when I upload an mp4 through the Minio browser, there are no problems.

However when I use the [ansible library](https://docs.ansible.com/ansible/latest/modules/aws_s3_module.html) to upload the content i run in this issue. (please note the metadata part):

[code]

Upload via Mini

[2019-10-07 19:07] #8365 closed, assigned to nobody

[2019-10-07 19:31] kannappanr commented on #8364
@grupoz From the input that you have for the `ansible` part

[code]
You are setting `Content-Encoding` to `gzip`, so `MinIO` server will not override that just as AWS S3 will not. You will have to set the appropriate `Content-Encoding` in your `ansible` script

[2019-10-07 19:32] grupoz commented on #8364
OK, thanks

[2019-10-07 19:32] #8364 closed, assigned to nobody

[2019-10-08 08:37] kislik commented on #4120
@PaulMatencio Can you please show the full working example stack. I mean your Nginx configuration with Minio. I'll be really appreciated! =)

[2019-10-08 10:20] panypopo commented on #8334
after i add some volumn options below the problem seems to be solved.
[code]

[2019-10-08 12:20] sea-sol opened #8369 "upload from android"
## Expected Behavior
I am trying to upload some file to Minio
the server is ubuntu and I am using android studio
the code is sample code from
[https://golb.hplar.ch/2017/02/Upload-files-from-Java-to-a-Minio-server.html](url)
and building is ok, but after this, when app run. some bugs appear and I couldn't fix it

## Current Behavior
Now the access key and secret key is OK. and all the other is no

[2019-10-08 13:02] vadmeste commented on #8369
@Rolland-K this looks more like an issue while adding AWS libraries in your Android project (is that already supported ?)

[2019-10-08 13:42] sea-sol commented on #8369
I have upload many files to aws S3 with my phone.
now I am going to make server with Minio, and upload file to there.
but as I said, I couldn't.

I think this is not about AWS libraries, may be jmx problem.
if anyone know the solution of this, please let me know.

[2019-10-08 13:50] ghost commented on #8369
FWIW, I used to use S3Anywhere on the Android and worked without issues.
Since then I moved to using Nextcloud using Minio as a backend.

On Tue, Oct 8, 2019 at 9:43 AM Rolland-K <notifications@github.com> wrote:

[2019-10-08 13:56] vsfalexanderpilch commented on #8345
@harshavardhana Is there some planned date when this will be implemented? I'm just asking, because I was wondering if it's possible to wait for this feature in our current project, or if we should modify the policies instead. Thanks.

[2019-10-08 16:13] harshavardhana commented on #8345
I shall be able to add this soon perhaps in a week @vsfalexanderpilch while I finish my other pending work.

[2019-10-08 16:23] harshavardhana commented on #8334
What is needed is just this

[2019-10-08 16:26] sea-sol commented on #8369
Mr Alex.
so you can upload file to minio, not amazone s3 with android?
without any code change?
I  think the code should be different.
but if it is true, could you kindly share your code link?

[2019-10-08 16:34] ghost commented on #8369
if I am understanding the question:  Can I upload a file from Android to
Minio?

Yes.  I (personally) used an app and supplied the minio credentials and had
zero issues uploading files from Android to Minio.  There are many S3 apps
and I just chose the Nextcloud route just for the Android <> Minio auto
sync feature.

A

On Tue, Oct 8, 2019 at 12:26 PM Rolland-K <notifications@github.com> wrote:

[2019-10-08 16:52] vsfalexanderpilch commented on #8345
@harshavardhana That's great. Thanks a lot. We'll wait in this case...

[2019-10-08 18:49] sea-sol commented on #8369
Could you kindly share your code?

[2019-10-09 02:32] bpiper opened #8371 "S3 Select nesting JSON output records"
## Expected Behavior

Given a JSON file in a bucket `my-bucket` with the following contents:

[code]
Running this command:
`aws --endpoint-url http://localhost:9000 s3api select-object-content --bucket my-bucket --key foo.json --input-serialization "JSON={Type=LINES}" --output-serialization "JSON={}" --expression-type SQL --expression "select s.* from S3Object s" output`

I would expect to get the

[2019-10-09 05:49] kannappanr commented on #8371
@bpiper Thanks for filing the issue.  We will take a look at this issue. As a workaround, the query can be changed to `select * from s3Object`.

[2019-10-09 08:29] sea-sol commented on #8369
the amazone s3 code can't used for Minio.
please let me know how to upload to Minio in android without any issue

[2019-10-09 12:40] ghost commented on #8369
https://play.google.com/store/apps/details?id=lysesoft.s3anywhere

On Wed, Oct 9, 2019 at 4:30 AM Rolland-K <notifications@github.com> wrote:

[2019-10-09 13:33] sea-sol commented on #8369
This will upload to amazone s3
I have already made such app and this is running for me.
what I really need is upload to Minio not Amazone S3.
I can't use same code. when I use the sample code of Minio Documentation , I have error.
need solve this error, or new running code.
I can't find any other code for uploading to Minio from android.
this is what I mean.

[2019-10-09 13:55] ghost commented on #8369
I use that app and just use my minio DNS name and credentials...  works
great for Minio.

On Wed, Oct 9, 2019 at 9:33 AM Rolland-K <notifications@github.com> wrote:

[2019-10-09 21:21] arangyupgrade opened #8372 "gateway s3: Error: Prefix access is denied: /"
I deployed `gateway s3` on k8s using the latest minio image "RELEASE.2019-10-02T21-19-38Z"
I tested the deployment and was able to use it to upload objects on us-west-2 bucket.
However, I had to deploy minio pod, after that I'm not able to see any bucket from minio dashboard.
and reciving this error:
[code]

I have this policy in our aws env:

[code]
any suggestion would be appreciate to solve thi

[2019-10-09 22:08] harshavardhana commented on #8372
Are you sure the policy applied here is associated with the Key that is used in your IAM configuration?

[2019-10-09 22:09] bpiper commented on #8371
Thanks @kannappanr , that workaround does the trick.

[2019-10-09 22:31] arangyupgrade commented on #8372
@harshavardhana oh I checked that I re attach it again!
now I'm getting another error when I'm trying to open  `test-minio-codecov` bucket from minio UI:

[code]
the bucket exist in us-west-2. I added MINION_REGION=us-west-2 to its env

[2019-10-09 22:32] harshavardhana commented on #8372
@arangyupgrade MINIO_REGION is not supported with gateway you need to use the URL directly such as `minio gateway s3 https://s3-us-west-2.amazonaws.com`

[2019-10-09 22:39] arangyupgrade commented on #8372
I'm surprised because I was able to upload an object to that us-west-2 bucket two days ago, now suddenly it stopped working. Actually I'm using jenkins job to integrate codecov and minio
https://docs.codecov.io/docs/archiving-reports

So, I'll run a new job with passing bucket URL as you mentioned

[2019-10-09 22:42] harshavardhana commented on #8372
It will work if you allow GetBucketLocation() @arangyupgrade since you have restricted IAM policy we are not able to automatically figure out the region.  So it defaults to us-east-1

[2019-10-09 22:56] arangyupgrade commented on #8372
I updated policy by adding GetBucketLocation()
[code]
Also, because I'm trying to integrate another app, I'm not able to use a bucket URL.
still, I'm receiving error:
[code]

and this error from minio UI when I choose test-minio-codecov bucket
[code]

[2019-10-09 23:09] arangyupgrade commented on #8372
oh I removed `/` from resource section in listBucket part and it seems it's working now!
even without GetBucketLocation()

[2019-10-10 01:45] harshavardhana commented on #8372
Thanks @arangyupgrade closing the issue.

[2019-10-10 01:45] #8372 closed, assigned to nobody

[2019-10-10 05:53] petebytes opened #8376 "Rails App unable to display images on Minio standalone via docker compose"
## Expected Behavior
Uploaded Image should be visible in browser.

## Current Behavior
Image load fails
The response is "Failed to load response data"

## Steps to Reproduce (for bugs)
1. Upload image (works fine)
2. View image (fails)
I have setup the Bucket as Read via GUI

## Context
I am using DigitalOcean Spaces for Staging and Production.  I am running Minio standalone in Docker in order to

[2019-10-10 08:20] congweitao commented on #4557
please what is the sitution now ?

[2019-10-10 08:45] annkam opened #8377 "Occasional SignatureDoesNotMatch error when uploading files to Minio behind a Nginx proxy"
I have a Minio cluster running in Kubernetes behind a [Nginx Ingress Controller](https://kubernetes.github.io/ingress-nginx/). I use [wal-g](https://github.com/wal-g/wal-g) to upload PostgreSQL backups to Minio. The upload is performed part by part (about 30 parts, each is less than 1 GB). Occasionally, the process fails with SignatureDoesNotMatch error.

## Expected Behavior
The upload should alw

[2019-10-10 09:34] vadmeste commented on #8377
You also need to tell nginx to avoid modifying the Host header that is receiving from the client.
you need something like below:

    nginx.ingress.kubernetes.io/proxy_set_header: "Host $host"

[2019-10-10 09:36] vadmeste commented on #8376
@petebytes do you have the exact error when trying to open the image ? like the http status code and its body

[2019-10-10 10:10] annkam commented on #8377
I can't control this header via annotations. However, I've checked the configuration of the ingress controller itself. It sets the Host header to the required value for all vhosts by default. Any other suggestions?

[2019-10-10 10:38] vadmeste commented on #8377
`mc admin trace` would help to understand, can you paste the output of the failed request ?

[2019-10-10 10:45] annkam commented on #8377
staas-minio-0.staas-minio-svc.staas-prod-1.svc.cluster.local [REQUEST s3.PutObjectPart] 06:23:43.841
staas-minio-0.staas-minio-svc.staas-prod-1.svc.cluster.local PUT /smiuatdb2/basebackups_005/base_000000010000072D00000062/tar_partitions/part_031.tar.lz4?partNumber=13&uploadId=99ff4b67-d7a6-41e9-96d6-58e61bff9191
staas-minio-0.staas-minio-svc.staas-prod-1.svc.cluster.local Host: myhost.example.com

[2019-10-10 10:49] vadmeste commented on #8377
@annkam what's the endpoint url that you pass ?

[2019-10-10 11:00] annkam commented on #8377
@vadmeste it's like `https://pg-backup.mydomain.com`, and the Host header is set to `pg-backup.mydomain.com`

[2019-10-10 11:12] vadmeste commented on #8377
From the log, it seems like the node received myhost.example.com ^^

[2019-10-10 16:07] annkam commented on #8377
@vadmeste  I am sorry for the misunderstanding. I have replaced my real endpoint name with this example one in the log above.

[2019-10-10 19:48] HemangLavana opened #8378 "Minio as remotecache for bazel build systems"
**Is your feature request related to a problem? Please describe.**
Bazel is a build system open sourced by Google and it has a remote caching feature:

https://docs.bazel.build/versions/1.0.0/remote-caching.html

I think it would be great if minio could be used as a remote cache for bazel build system, as it fits very nicely for this purpose.

**Describe the solution you'd like**
A http server for

[2019-10-10 19:59] harshavardhana commented on #8378
We don't have requirements for this @HemangLavana most of our CI/CD is custom built and we are satisfied with it.

Thank you for opening an issue. We shall close it now.

[2019-10-10 19:59] #8378 closed, assigned to nobody

[2019-10-10 20:32] kannappanr commented on #7850
@Druckles closing this issue now. Will take a look if we have more information to reproduce this issue

[2019-10-10 20:32] #7850 closed, assigned to ebozduman

[2019-10-10 21:58] #7459 closed, assigned to ebozduman

[2019-10-10 21:58] #7455 closed, assigned to balamurugana

[2019-10-10 21:59] #7444 closed, assigned to poornas

[2019-10-10 22:01] #7454 closed, assigned to nitisht

[2019-10-10 22:09] ebozduman commented on #7546
Web handler functions cannot be tested as unit tests since they need functional test setups, so they are not the target here.
There are 2 functions in `web-handlers.go`, we can generate unit tests for:
- toWebAPIError
- toJSONError

[2019-10-10 23:35] ebozduman commented on #7529
It looks like all of the existing `"Unit"` tests created for `object-handlers .go` functions in `object-handlers_test.go` are actually functional tests. These functional tests need to be removed.
Here are the functions tests possibly can be generated for;

           - getCpObjMetadataFromHeader()
           - isRemoteCopyRequired()
           - isRemoteCallRequired()

[2019-10-10 23:43] maitredede commented on #8324
Hi,
I have same problem in a kubernetes environment, running minio docker server `minio/minio:RELEASE.2019-10-02T21-19-38Z`, client mirror `minio/mc:RELEASE.2019-08-29T00-40-57Z`.
I replicate data from one namespace to an other one (same physical server). I have less objets, low activity (about 30 operations per week).
The problem is arrived sonner : I had mirror files just before evening, and nex

[2019-10-11 00:22] kaankabalak commented on #7546
I will work on generating unit tests for these two functions @ebozduman

[2019-10-11 00:24] ebozduman commented on #7529
As far as the `"object-handlers-common.go"` testing goes, the only function covered in `"object-handlers-common_test.go"` is `"canonicalizeETag"` function.
So, we should have unit tests for the following functions:
[code]

[2019-10-11 01:21] annkam commented on #8377
I am pretty sure that if something was wrong with the Host header, nothing would work at all. Currently the tool may upload succesfully two iterations of backups (about 50 GB broken in multiple parts) and fail at the third iteration while uploading one of the parts. When we disable Ingress, it always works correctly.

[2019-10-11 02:55] yiranzai opened #8383 "Error: Write failed. Insufficient number of disks online"
# Error

[code]

# Environment

## OS

[code]

## docker version

[code]

## docker-compose.yml

[code]

## dir

[code]

[2019-10-11 03:02] lddsb commented on #8383
I have the same issue
### OS
`macOS Catalina 10.15`

### Docker Version

[code]

### docker-compose.yml

[code]

[2019-10-11 03:38] harshavardhana commented on #8383
What is your backend disk here ? Does it support O_direct operations?

[2019-10-11 05:23] yiranzai commented on #8383
@harshavardhana
mbp disk
abort o_durect,I don't know.
my disk info
[code]

[2019-10-11 05:28] harshavardhana commented on #8383
This is because O_DIRECT is not supported. You need to use Linux based filesystems here.

[2019-10-11 05:42] yiranzai commented on #8383
@harshavardhana  emmm，OK

[2019-10-11 05:50] harshavardhana commented on #4557
Closing this as we will get to this in future.. no current cycles available.

[2019-10-11 05:50] #4557 closed, assigned to fwessels

[2019-10-11 07:01] kannappanr commented on #8383
@yiranzai Closing this issue based on the above comments

[2019-10-11 07:01] #8383 closed, assigned to nobody

[2019-10-11 07:49] softarts opened #8385 "status become not ready intermittently when deploy on kubernetes"
deploy minio on single node kubernetes cluster, use `hostPath`  as pv

image: "minio/minio:RELEASE.2019-08-07T01-59-21Z"

## Expected Behavior

## Current Behavior

deploy on a single node kubernetes cluster.
read and write files in spark env.
status become not ready intermittently. neither s3cmd nor mc can access.

have used cosbench to benchmark  (64 workers)
512KB read(60%)  636.39 op/s | 325.8

[2019-10-11 09:50] RocFang opened #8386 "does 3 dots format of minio server cmd only support one parameter?"
After read https://docs.min.io/docs/distributed-minio-quickstart-guide.html, I deployed a distributed minio cluster by using 3 dots cmd format.

Unlike the example in the doc, my servers' ip are not sequential, so I run the cmd below:
[code]

## Expected Behavior

 Start distributed MinIO instance on 2 nodes with 8 drives each mounted at /data1 to /data8.

## Current Behavior

Every file I uploade

[2019-10-11 10:16] vsfalexanderpilch opened #8387 "Minio won't start due to "invalid memory address or nil pointer dereference""
Minio won't start in latest version on docker swarm (image minio:latest) since today. The previous release is fine.

We're using AssumeRoleWithWebidentity/the MINIO_IAM_JWKS_URL setting, so that might cause the issue.

Here's the log
[log.txt](https://github.com/minio/minio/files/3716942/log.txt)

[2019-10-11 10:22] vadmeste commented on #8377
When you upload the same file _name_ multiple times, does it fail after some iterations ?

[2019-10-11 10:42] vadmeste commented on #8387
@vsfalexanderpilch thanks for reporting this:

I filtered the log you attached above to only show the stacktrace of the node that is crashing.

[code]

However, it seems that node is not really updated to the last Minio image (of today), I know because the stack trace points to a line that is impossible to crash:

[code]

Please check again on your side.

[2019-10-11 11:51] vsfalexanderpilch commented on #8387
Here's the image we're using. It was fine in minio/minio:RELEASE.2019-10-02T21-19-38Z
[code]

[2019-10-11 14:43] vsfalexanderpilch commented on #8387
@vadmeste After setting a fixed version (RELEASE.2019-10-11T00-38-09Z), the issue is still the same:

[code]

We've got 2 container per server. Only one of them is running. The other one is crashing. Might be coincidence:

[code]

[2019-10-11 16:51] harshavardhana commented on #8386
Yes it is meant to support only single, if you split the command it means that they are different sets of their own.

You should enumerate your IPs with hostnames into single command line.

[2019-10-11 16:56] harshavardhana commented on #8387
We will fix it - it is some recent refactors which led to the crash here.

[2019-10-11 17:28] kannappanr commented on #8386
@RocFang Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for such questions.

[2019-10-11 17:28] #8386 closed, assigned to nobody

[2019-10-11 17:33] harshavardhana commented on #8387
@vsfalexanderpilch I am not able to reproduce this issue and also the line number of the crash is wrong because of the line number simply

54ae364def pkg/iam/validator/jwt.go (Harshavardhana 2018-10-09 14:00:01 -0700  75)      return nil

Are you sure all your containers are using the latest?

[2019-10-11 22:07] #8387 closed, assigned to harshavardhana

[2019-10-11 23:09] kannappanr commented on #8369
@Rolland-K I believe you can use something like https://play.google.com/store/apps/details?id=lysesoft.s3anywhere

Closing this issue here. Please feel free to reach out to us at https://slack.min.io for further such questions

[2019-10-11 23:09] #8369 closed, assigned to nobody

[2019-10-11 23:10] kaankabalak opened #8390 "Browser showing compressed size of object instead of actual size"
## Expected Behavior

When compression is enabled for an object that has been uploaded, the Browser should show the actual size of an object.

## Current Behavior

When compression is enabled for an object that has been uploaded, the Browser shows the compressed size of an object. However, this does not happen when the size is checked using the `mc stat` command.

## Possible Solution

On `web-han

[2019-10-12 00:24] bennnjamin opened #8391 "STS AssumeRole - Getting SignatureDoesNotMatch with Presigned PutObject Request"
I'm pretty sure this is a Minio issue as I have tested the same code against S3 and it works. I've eliminated all other possibilities.

I have a set of temporary credentials, meaning I'm using a Session Token returned from the AssumeRole API. I have tested these credentials using the AWS CLI and a simple PutObject. That request succeeds. When using AWS iOS SDK the same request, with the same crede

[2019-10-12 01:44] RocFang commented on #8386
@harshavardhana  @kannappanr  Appreciate  your explanation:) Thanks.

[2019-10-12 13:29] yossiepon commented on #8270
If 'unsafe-inline' is not included as script-src on the content security policy response header, the currentUiVersion variable is not declared on the login screen, so the above error is reproduced.

[2019-10-12 14:06] ckt114 commented on #4135
I’m a little confused on all these tools if someone can please explain. I have a minio cluster that I want to backup its volumes into an NFS. All these tools documentation is about syncing a directory to a bucket instead of a bucket out into a directory. Am I missing something? Thanks.

[2019-10-12 15:29] kannappanr commented on #8391
@bennnjamin Thanks for filing the issue. We will take a look at the issue and get back to you

[2019-10-12 15:33] kannappanr commented on #8385
@softarts Can you please be a bit more clear? Are you saying that the status becomes unavailable intermittently?

[2019-10-12 16:30] harshavardhana commented on #8385
@softarts also use the latest version we have bumped the Go routine requirement for readiness probes to be higher.

[2019-10-12 16:32] harshavardhana commented on #8391
Generating temporary access is already provided with STS, generating presigned URL further doesn't add any benefit. Why do you need presigned URL here if client is already using AWS SDK to upload ?

[2019-10-12 16:51] softarts commented on #8385
not ready -> means the POD status change to not ready. browser can't access the repo too
can it output more logs?

[2019-10-12 16:54] harshavardhana commented on #8385
Use the latest version and let us know if you can reproduce this issue @softarts

[2019-10-12 16:54] bennnjamin commented on #8391
@harshavardhana I understand completely. I'm just using the AWS iOS SDK ```TransferUtility``` (```TransferManager``` is deprecated) for uploads/downloads to S3 and they implemented presigned URL for uploads and downloads in their SDK here: https://github.com/aws-amplify/aws-sdk-ios/blob/2.12.0/AWSS3/AWSS3TransferUtility.m#L1043.

However, it still seems reasonable that a client should be able to g

[2019-10-12 16:56] harshavardhana commented on #8391
Yes it is reasonable but I wondered why would anyone need presigned with temporary credentials. Since both solve same usecase ..

[2019-10-12 16:58] softarts commented on #8385
you mean minio:latest or a specified version?

[2019-10-12 17:02] harshavardhana commented on #8385
Yes latest.

[2019-10-12 17:05] bennnjamin commented on #8391
The best use case I can think of is to share a single file with someone else who does not have authority to get temporary access credentials. Seems like a bit of an edge case.

Now why they implemented ```TransferUtility``` to use presigned URLs, I don't know, it seems redundant since the client already has valid credentials. But it would be helpful if you can confirm whether or not this is suppor

[2019-10-12 17:20] harshavardhana commented on #8391
We will definitely look a the issue , since the request is rejected here..

[2019-10-14 01:59] harshavardhana commented on #8245
Closing this issue, for now, please re-open if you want to debug further.

[2019-10-14 01:59] #8245 closed, assigned to harshavardhana

[2019-10-14 04:00] ofchan opened #8394 "how to add 1T disk to minio"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2019-10-14 04:12] annkam commented on #8377
Actually, I never upload the same file name as it is generated by the backup tool and is different in each iteration. They all look more or less same, however, for example:
'basebackups_005/base_000000010000072F00000031/tar_partitions/part_013.tar.lz4'
'base...' is the unique directory name for each backup iteration. There may be many parts named in the same way like this example: part_018.tar.lz4

[2019-10-14 04:14] nitisht commented on #8394
Closing this as incomplete @ofchan feel free to reach out on Slack (https://slack.min.io) for such questions

[2019-10-14 04:14] #8394 closed, assigned to nobody

[2019-10-14 04:16] ofchan commented on #8394
ok

[2019-10-14 06:46] sinhaashish commented on #8324
@philipkozeny  i tried to replicate this , but was unsuccessful in about 6 hours of watch. Can you confirm by any means the connection was lost or the ip got changed with which `mc` was configured. Just wanted to double check before trying for 24 hour.

[2019-10-14 06:48] philipkozeny commented on #8324
@sinhaashish IP did not get changed, those are dedicated servers hosted by Hetzner. Can't see any suspicious that the connection was lost. Any clue where I could verify / see that in the logs? Happy to provide more information.

[2019-10-14 10:25] vadmeste commented on #8377
@annkam as you also suggested, it seems ingress is doing something weird here.

Is this a production deployment ? if you are not using TLS, could you try to sniff the failing http request (with tcpdump for example), along with the failing request printed in `mc admin trace`, to compare both requests.

[2019-10-14 11:20] ijajmulani commented on #7289
Is this solve I am also facing same issue.
I can't read response etag in firefox.

[2019-10-14 11:30] sea-sol commented on #8369
please let me know how to set the target url(not bucket) in uploading file to s3(Minio)
what I really want to know is working code. to upload file to Minio in android.
if anyone have or know about this, kindly let me know about that.

[2019-10-14 12:11] ijajmulani commented on #7289
it did not work in firefox. when I upload large file.

[2019-10-14 12:26] PaulMatencio commented on #4120
Here is the s3 server configuration

server {
    listen 80 backlog=4096;
    server_name s3_test;
    status_zone s3_test;
    access_log  /var/log/nginx/upstream.log upstream ;
    location / {
       status_zone  s3_test  ;
       # make sure to pass the  Host to S3
       proxy_set_header Host $http_host;
       proxy_set_header  Range $slice_range;
       # Configure out caches
       proxy_c

[2019-10-14 15:20] gwperry opened #8396 "Add Support for Life Cycle to the Minio UI"
Minio is very close to a total solution for us.  One thing my non-developer users need is the life cycle support in the Minio UI.

We are using Minio in a Kubernetes environment.  Having an option in the UI for the users to set up the data in a bucket to purge at either set-up or as an option after set-up would satisfy the last hurdle for us to implement this product as a solution.

Are there any

[2019-10-14 16:12] harshavardhana commented on #7289
Please open a new issue, this issue is resolved and old.

[2019-10-14 16:27] kannappanr commented on #8396
@gwperry Thanks for the feature request. I don't think there are any plans to do that, at least in the near future. We have other tasks lined up that we need to finish first. I will let you know if things change at our end.

[2019-10-14 19:49] petebytes commented on #8376
Status is (failed)
net::ERR_CONNECTION_TIMED_OUT

[2019-10-14 21:12] kannappanr commented on #8308
@wlwcjl Closing this issue as answered. Please feel free to reach out to us at https://slak.min.io for further such questions

[2019-10-14 21:12] #8308 closed, assigned to nobody

[2019-10-14 23:13] petebytes commented on #8376
Made some progress, I can now upload. The app then generates exception

docker-compose-yml

    image: minio/minio:RELEASE.2019-10-02T21-19-38Z
    volumes:
      - "minio:/storage"
    ports:
      - "9000:9000"
    env_file:
      - ".env"
    command: server /storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout:

[2019-10-14 23:20] ebozduman commented on #8376
@petebytes ,

It looks like the first problem you had and now could be different. Let us look into both issues and we'll get back to you.

[2019-10-14 23:22] wlan0 commented on #8376
All the IP addresses you've used to connect are private address ranges. You won't be able to connect over these IPs. Please use the public IP of the DO machine where minio container is running. You should be able to connect.

[2019-10-14 23:39] petebytes commented on #8376
Thanks @ebozduman .

Agreed - I think the first issue is just connectivity between host and container not working since I was specifying container IP.

I am working on this some more today and will provide updates if anything changes.

[2019-10-14 23:46] petebytes commented on #8376
@wlan0 Thanks - I can connect using localhost and 127.0.0.1:9000

GUI works well and the application can now upload.
Still have an issue where app crashes after upload (as decribed above)

[2019-10-14 23:49] wlan0 commented on #8376
Could you please paste the logs of the minio container

@petebytes

[2019-10-15 01:42] lcnsir commented on #8322
@harshavardhana sorry for the later response, I have replace with latest version of minio in my cluster

but the memory usage still increased and I seeing the memory usage by `kubectl command`

[code]

[2019-10-15 01:43] harshavardhana commented on #8322
@lcnsir this is perfectly fine 1GiB is nothing for storage nodes. are you expecting MinIO to use less memory than this?

[2019-10-15 01:47] lcnsir commented on #8322
@harshavardhana
yes,  but when I restart the pod the memory usage is just 40+ MB...and the memory usage keeps grows day by day,

If I increase the data inputed by a minio go client the memory usage will be increased more.

what's your mean about per read and writes on a bufPool

if I have a code of go minio client

[code]

and this client always reused in a while loop server, and keeps to wirte da

[2019-10-15 01:52] harshavardhana commented on #8322
It doesn't increase in this fashion @lcnsir - MinIO erasure coding uses 10MiB buffer per stream so if you are uploaded 1000 concurrent streams it will use 1000 * 10 = 10GiB memory. Now, this memory is not given back to GC because MinIO reuses same 10GiB for the next 1000 concurrent operations. So if your concurrent operations increase the memory is always allocated and reused again and again.

you

[2019-10-15 03:18] sinhaashish commented on #8324
Can you provide the `mc` and `minio server` log in this scenario.
`mc` log you can get by running the command with --debug option,  and enabling the Audit log on server using the `MINIO_AUDIT_LOGGER_HTTP_ENDPOINT` environment variable.

[2019-10-15 04:00] harshavardhana commented on #8345
@vsfalexanderpilch here is the PR would you able to test it? https://github.com/minio/minio/pull/8393

[2019-10-15 04:05] softarts commented on #8385
not resolved.. how can I output more logs?

[2019-10-15 04:10] harshavardhana commented on #8385
not resolved meaning ?

[2019-10-15 05:40] softarts commented on #8385
saw kubernetes POD status became Not Ready when reading/writing to minio
can't access via minio browser

[2019-10-15 05:49] lcnsir commented on #8322
@harshavardhana could you show me what is 1 or more concurrent stream, for the minio-client.
 code

the client upload the file by
[code]
which the client genreated by above code in standard way.

in a while loop

it got data from kafka, then upload data to minio in the while loop,  How could I accept the calculate the concurrent streams number?

Thanks

[2019-10-15 06:06] harshavardhana commented on #8385
how many concurrent streams did you perform to MinIO ?

[2019-10-15 08:00] Racle opened #8398 "Minio crashes on startup if configured webhook url returns 403"
If configured webhook url returns 403, minio crashes and doesn't start

## Expected Behavior

Error in logs, but minio would start.
Send webhook when event is triggered even if webhook url return 403.

## Current Behavior

Crashes on startup
[code]
## Possible Solution

Send webhook when event is triggered even if webhook url return 403.
Start server without crashing.

## Steps to Reproduce (for b

[2019-10-15 09:02] vadmeste commented on #8398
@Racle, are you sure all your nodes are running this version ?

Because there is no panic here anymore, minio/minio/pkg/event/target/store.go:125

[2019-10-15 09:09] Racle commented on #8398
Was watching logs and grabbed version there (Update: docker pull minio/minio:RELEASE.2019-10-12T01-39-57Z).

Seems that we are running RELEASE.2019-10-02T21-19-38Z
so 10 days older version. I'll fix main post.

Can I assume that this has been fixed in latest release?

[2019-10-15 09:10] harshavardhana commented on #8398
Best way to find out? update and redo your tests.

[2019-10-15 09:11] vadmeste commented on #8398
Yes, this is fixed, no panic() anymore in event package

[2019-10-15 09:16] Racle commented on #8398
Testing in another server, with that 10 days older minio it starts up correctly even with 403 return.

I'm closing this issue, seems that this might be fixed already.

And (older version) seems to behave differently on different servers.
I'll update our minio to latest and run with that.

[2019-10-15 09:16] #8398 closed, assigned to nobody

[2019-10-15 09:21] thoro commented on #7873
I would like to add my support for this, but possibly add some other metrics:

- heal status
- current heal progress (like reported in mc heal)
- current number of files (if the value is saved somewhere)

Current number of files could be reported on a per bucket basis (maybe optional), but not sure if that is actually help.

Possible error metrics, I'm not sure what can fail on minio, but I would

[2019-10-15 09:49] vsfalexanderpilch commented on #8387
It's working fine again. Thanks a lot for fixing it.

[2019-10-15 09:50] harshavardhana commented on #7873
@Thoro we are planning to get to the first batch of metrics first. We will add more things subsequently.

[2019-10-15 16:28] softarts commented on #8385
my spark setting:
fs.s3a.threads.max = 10
fs.s3a.max.total.tasks = 5
fs.s3a.threads.max = 10
fs.s3a.connection.establish.timeout=5000
fs.s3a.connection.timeout=200000
fs.s3a.block.size=32M
fs.s3a.committer.threads=null
fs.s3a.connection.maximum=15
fs.s3a.fast.upload.active.blocks=4
fs.s3a.socket.recv.buffer=8192
fs.s3a.socket.send.buffer=8192

I guess total concurrent streams would be less than 10

[2019-10-15 16:32] harshavardhana commented on #8385
Have you tried removing readiness and testing again ?

[2019-10-15 20:06] narrington opened #8402 "MINIO_BROWSER=off but sensitive data still visible with anonymous bucket policy"
We need to share a large volume of files with multiple customers. Our customers cant be bothered with logins, and the files need to remain available for a year or more. So the files need to be shared via direct links from public buckets...

So we set the bucket policy to public... and customers are able to see the bucket contents by deleting the filename from the link. also they are able to UPLOAD

[2019-10-15 20:07] harshavardhana commented on #8402
what is your bucket policy here @narrington do you not want List access to your customers?

[2019-10-15 20:10] narrington commented on #8402
@harshavardhana, we're just using the canned policies (none, download, upload, public). I'm willing to set a custom policy, but I'm having trouble understanding the guide... I'm a bit of a script kiddie: not very good with actual coding.

[2019-10-15 22:31] kannappanr commented on #8402
@narrington You can set a custom policy like the following for a bucket named `my-bucket`

[code]
This policy will give public access to the objects within the bucket names `my-bucket`. There is also a way to share the objects using `pre-signed` urls. Please look at https://docs.min.io/docs/minio-client-complete-guide.html and look at `mc share` Though the maximum time that a shared URL to an obje

[2019-10-15 22:41] kannappanr commented on #8213
@cambierr Closing this issue based on the above comment. Please feel free to reach out to us if you have further questions.

[2019-10-15 22:41] #8213 closed, assigned to nobody

[2019-10-15 23:03] ebozduman commented on #8231
Hi @tburnett80 ,

Let's try to simplify and get rid of some of the parameters in the scenario, one by one.

Could you please go through the reproduction steps without having Docker in the picture?

This way, we'll be able to simplify the issue and get rid of some of the variables that adds nothing but confusion.

[2019-10-15 23:49] ebozduman commented on #7513
Please add unit tests in `generic-handlers_test.go` file for the following functions :
[code]

[2019-10-16 01:43] kannappanr commented on #8402
@narrington Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for further questions

[2019-10-16 01:43] #8402 closed, assigned to nobody

[2019-10-16 01:45] #8396 closed, assigned to nobody

[2019-10-16 07:37] Racle opened #8403 "Minio doesn't send notifications"
## Expected Behavior

Minio would send notifications to our webhook always.

## Current Behavior

Minio doesn't send notifications. Our webhook api logs every request, and it hasn't received any request in hours before rebooting minio.

We had 1700+ .event files on our queueDir. (there were created in ~1-2 hours when checked the created date).
After rebooting minio, events seems to be sent, as we

[2019-10-16 07:43] crazywako commented on #8403
Same happened with Redis events and with minio-go.ListenBucketNotifications. No events after certain amounts of time. Restart helps for a while.

[2019-10-16 10:52] markgittins commented on #6413
I'd really like to see this implemented in minio. One of my Use Cases requires a RO backend to be made available via S3, the work-around is one thing but it's clunky and I'd much prefer native support from minio, it seems to me that it's a valid Use Case....

[2019-10-16 11:26] vsfalexanderpilch commented on #8345
@harshavardhana I was using `minio:edge`, although I'm unsure if it's the correct one in order to test it. We're currently seeing some issues with network infrastructure on our side, so I wasn't able to test it yet. I did encounter the following issues in one of the few successful deployments:

[code]

There was also something in mc, when I tried to manually create a user about invalid json format

[2019-10-16 11:29] Praveenrajmani commented on #8403
@Racle Events would reach the queueDir only when it fails due to any connection failures during transit. If there are any other errors other than connection errors, MinIO would log those errors in the console. As you cannot see any errors in the console, the only possibility is that the webhook server would've stopped after some time.

And during restarts, webhook would've restarted and received t

[2019-10-16 11:37] Praveenrajmani commented on #8403
Can you try restarting the webhook server in such cases? And see if the events are replayed from the queueDir? @Racle

[2019-10-16 11:46] Racle commented on #8403
And Go api still functioned (as it has other uses also). It hasn't crashed or restarted when minio stopped sending notifications.
Same happened with redis (without persisted events enabled). There was no notifications send to redis either.

And we only restarted minio, not go api.

If this happens again, we can try restart the go api next, and leave minio as it is. Currenlty queueDir is empty.

We

[2019-10-16 11:51] Praveenrajmani commented on #8403
The nil bodied requests are pings from MinIO before sending an event. That is expected. You can ignore those requests where body == nil

And what is a go api?

[2019-10-16 11:54] Racle commented on #8403
Api made with Golang, sorry for not clearing that up sooner.

(and api uses [gin](https://github.com/gin-gonic/gin) as a router)

[2019-10-16 12:03] Praveenrajmani commented on #8403
Ok @Racle

Next time if u see this happening, can you try few things

- Ping the webserver if it was active and returned 200 OK
- Check MinIO console if there were any logs
- Check the queueStore if the events were persisting in such situations

Restart the webhook server and then see if the events are being sent

[2019-10-16 12:12] Racle commented on #8403
last time console didn't have anything useful. Latest console log was api guide links and `SQS ARNs: arn:minio:sqs:eu-fi-1:1:webhook`

And like I said, queueDir had 1700 files. Those were empitied after minio restart (as they were send to API).

If this happens again, i'll check those again and report here.

[2019-10-16 14:15] vadmeste commented on #8129
Sorry for the delay.

~I found a possible cause of this, which requires that you are uploading large files to the same destination path, does that happen sometimes in your use case @mhjartstrom ?~

I found the cause of this, this happens when a client interrupts an upload of a large file after some time..

[2019-10-16 14:24] marks-hbk commented on #6413
I agree that this is a desirable enhancement, one which could probably be enabled with an additional startup arg such as "--alt-sys-dir <path>" which allows the .minio.sys dir to be created in a different location, which should then allow the minio server to startup on a readonly-backend. I accept that this option would be less useful in federated configurations and is perhaps for single-node use

[2019-10-16 15:35] petebytes commented on #8376
This is all I am seeing:

Tried setting MINIO_HTTP_TRACE=/dev/stdout but did not see a difference

[2019-10-16 16:00] #8345 closed, assigned to harshavardhana

[2019-10-16 16:00] harshavardhana commented on #8345
Now you can try edge, since the PR is merged. Also you need an updated `mc` to use against the edge branch.

[2019-10-16 16:06] harshavardhana commented on #6413
Locking further conversation here. Please open new issues if there are problems in current implementation

To summarize the resolution - we don't have any bandwidth to support these use cases and also not desirable. Feel free to hack around the software to achieve this yourself.

[2019-10-16 17:16] narrington commented on #8402
Note to anyone who cares, yes. the custom policy posted by @kannappanr worked like a champ.

I created a set of text files ~/.minio/policies/bucketname.json and used his code as a template for each. then applied the policies with:
`mc policy set none my-minio/my-bucket1`
`mc policy set-json ~/.minio/policies/my-bucket1.json my-minio/my-bucket1`
`mc policy set none my-minio/my-bucket2`
`mc policy s

[2019-10-16 18:57] #8129 closed, assigned to vadmeste

[2019-10-16 19:16] fdefilippo opened #8407 "The object size reported to events is wrong when server side encryption is enabled"
If I enable the server side encryption the size reported to events are wrong:

The encryption size on filesystem are 78 byte:

[code]
the rclone client correctly reports the size of the unencrypted file, 48 byte:

[code]

the size  on the event are 78:

[code]
minio is latest release.

[2019-10-16 19:35] r734 commented on #8202
I'm also running into this. Tried to apply the following:

[code]

Got `mc: <ERROR> Cannot add new policy. Policy has invalid resource.`

I'm running the Bitnami Helm chart bitnami/minio-1.2.16, which is running Minio 2019.10.02.

[2019-10-16 22:49] harshavardhana commented on #8407
Thanks we shall fix it @fdefilippo

[2019-10-17 00:59] kannappanr commented on #8403
Closing this issue now. Please report a new issue when you see this issue again @Racle

[2019-10-17 00:59] #8403 closed, assigned to nobody

[2019-10-17 01:07] kannappanr commented on #8407
@fdefilippo Thanks for reporting the issue. We will take a look and send a fix soon.

[2019-10-17 07:26] AlexanderChiyun opened #8410 "Performance drops when the number of concurrent exceeds 80"
## Expected Behavior
Throughput increases as the number of concurrent increases

## Current Behavior
When set threads>80, throughput decreases as number of concurrent increases

## Possible Solution
unknow

## Steps to Reproduce (for bugs)

1. Deploy Minio on 2 virtual servers with 2 virtual disk(lvm+xfs+100G)
2. Run s3benchmark with different thread number:
[code]

## Your Environment

* Version

[2019-10-17 07:35] harshavardhana commented on #8410
@AlexanderChiyun this is an incorrect benchmarking style first you need to get baseline disk numbers here are the steps on how to achieve it.

- use iozone or fio like too to get a baseline disk number with O_DIRECT enabled with 200KiB object size
- do a network throughput and see if your servers are behaving optimally, i.e you are able to push the network optimally - to do this you need to use ip

[2019-10-17 08:57] vsfalexanderpilch commented on #8345
@harshavardhana  lgtm. thanks a lot for implementing it :-)

[2019-10-17 09:27] benweet commented on #8213
S3 compatibility is hardly offered by storage providers (eg. OVH). I think Swift has its place in the list of supported backends (https://github.com/minio/minio/tree/master/docs/gateway).

[2019-10-17 09:34] sinhaashish commented on #8324
`mc` watch uses listen bucket notification. There is an issue with listen bucket notification so referring it here as well https://github.com/minio/minio/issues/8403

[2019-10-17 11:00] harshavardhana commented on #8213
@benweet FWIW we would love community contributions on this one, currently, we are short of cycles to address these use cases.

As we get more breathing room we may perhaps get back to this issue. Anyone with urgent inclination should implement it from the community and we will help them if they have questions on our slack https://slack.min.io

[2019-10-17 11:44] boerderspeck commented on #7850
@kannappanr The issue is still reproducable with min.io version 2019-10-12T01:39:57Z. The version of Samba used in the docker image @Druckles mentioned is 4.3.9-Ubuntu. Does this help?

On local filesystem (Windows 7, 10) we had no problems with these characters, seems to be related with Samba somehow.

[2019-10-17 13:27] softarts commented on #8385
ya, it turns better after removed readiness, any chance that readiness check has bug?e.g. it wrongly set to 503 status in some cases.

output:
curl -i 192.168.127.149:9000/minio/health/ready
HTTP/1.1 503 Service Unavailable
Accept-Ranges: bytes
Content-Length: 0
Content-Security-Policy: block-all-mixed-content
Server: MinIO/RELEASE.2019-08-07T01-59-21Z
Vary: Origin
X-Amz-Request-Id: 15CE7154A49461

[2019-10-17 13:46] kannappanr commented on #8407
@fdefilippo I am unable to reproduce this with the latest master. I have tried both `SSE-S3` and `SSE-C` and am unable to reproduce it. The encrypted file is `58` bytes and the unencrypted file is `26` bytes. The event received has the correct size. I tested notification using webhooks.

[2019-10-17 17:22] ebozduman commented on #7850
@boerderspeck
Yes, the culprit could be Samba.
Thanks for the information. We'll try it again.

[2019-10-17 17:30] harshavardhana commented on #8385
Not sure, will check.

[2019-10-17 23:44] kannappanr commented on #8202
You can try something like this

[code]

We do not support `GetObjectVersion` and `DeleteObjectVersion` APIs

[2019-10-18 00:15] eco-minio opened #8415 "Issue with mc sql WHERE clause"
## Expected behavior
The following query should work:
[code]

## Actual behavior
[code]
## Steps to reproduce the behavior
As above ^^
Sample data from the set:
[code]
Similar query works against another dataset:
[code]
## mc version
mc version
Version: 2019-10-09T22:54:57Z
## System information
Ubuntu 18.04

[2019-10-18 00:25] NicTanghe opened #8414 "can't acces server thru javascript. can acces in browser."
## Expected Behavior
Minio should be able to connect in JS.

## Current Behavior
I get an error.

[code]

## Possible Solution

## Steps to Reproduce (for bugs)
host a server with windows, connect with

new minio client

## Context

 trying to upload a file using node.js

## Regression

## Your Environment

* Version used (`minio version`):

Version: 2019-10-12T01:39:57Z
Release-Tag: RELEASE.2019-

[2019-10-18 00:27] harshavardhana commented on #8414
This is invalid the correct value is

Also in your case server is not running in TLS so disable SSL.

[2019-10-18 00:44] NicTanghe commented on #8414
thx

[2019-10-18 00:44] #8414 closed, assigned to nobody

[2019-10-18 06:01] harshavardhana commented on #8415
Moved from mc to minio

[2019-10-18 06:03] harshavardhana commented on #8234
The issue is fixed and merged closing this as fixed in PR #8404

[2019-10-18 06:03] #8234 closed, assigned to vadmeste

[2019-10-18 06:04] harshavardhana commented on #8163
This issue is fixed and PR is merged already.

[2019-10-18 06:04] #8163 closed, assigned to balamurugana

[2019-10-18 06:47] sinhaashish commented on #7667
@mikhail-matrosov  : This is working fine.

Step 1:  Run `export GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json`
Step 2: Run `export MINIO_ACCESS_KEY=minioaccesskey`
Step 3: Run `export MINIO_SECRET_KEY=miniosecretkey`
Step 4: Run `export MINIO_CACHE_DRIVES=/tmp/gcscache`
Step 4: Run `export MINIO_CACHE_EXPIRY=90`
Step 6 : Run   `./minio gateway gcs <<Project_id>>`

**Steps to replicate

[2019-10-18 06:53] harshavardhana commented on #7667
Closing this issue working as intended..

[2019-10-18 06:53] #7667 closed, assigned to sinhaashish

[2019-10-18 07:53] sinhaashish commented on #7677
@challarao  MinIo uses `cloud.google.com/go v0.37.2` Cloud Client library so there is no effect to MinIo gcs until we update the client library. As far as `oauth2` is concerned  i tested the `AssumeRoleWithWebIdentity` using Google and it is working as inteded. [ Refer](https://github.com/minio/minio/blob/master/docs/sts/web-identity.md) .
Moreover  the docs says:

so there no change needed for `o

[2019-10-18 08:59] klauspost commented on #8415
`MONTH` is a reserved keyword: https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-glacier-select-sql-reference-keyword-list.html and https://docs.aws.amazon.com/en_pv/AmazonS3/latest/dev/s3-glacier-select-sql-reference-select.html#s3-glacier-select-sql-reference-using-keywords

Correct syntax is: `SELECT index FROM s3Object s WHERE "Month"='May'`

[2019-10-18 12:08] fdefilippo commented on #8407
hi, I rebuilt the test environment from scratch and actually the problem does not occur. thanks for support.

[2019-10-18 12:08] #8407 closed, assigned to nobody

[2019-10-18 12:51] #8390 closed, assigned to kaankabalak

[2019-10-18 18:23] kannappanr commented on #8202
I don't think we support blanket `*` you might have to set individual APIs and also we might not support adding array of `ARNs` in one statement.

[2019-10-18 21:19] thasija commented on #3535
@puneetpandey37  we are seeing this error when running hive insert statement , what version of sdk fixed the issue ?

[2019-10-19 05:06] hegphegp opened #8420 "Beacase of Web Crawler, WHich configurations allows I limit speed of per request"
**Is your feature request related to a problem? Please describe.**
Beacase of Web Crawler, WHich configurations coult limit speed of per request

[2019-10-19 09:27] klauspost commented on #8415
Error message could be improved though.

[2019-10-19 10:40] kannappanr commented on #8420
@hegphegp Unable to understand. Can you also please follow the issue template? Closing this issue, please follow the issue template and open a new issue.

[2019-10-19 10:40] #8420 closed, assigned to nobody

[2019-10-20 06:17] RedzRedz opened #8421 "How to config BaseUrl when deploy"
In my production, the minio is deployed as a docker service. And the backend service visit minio by docker service name, for example cx-minio.The backend service use dotnet core sdk.
Its no problem, if just upload or download file by backend service.
If i want get the preview url, the url is startwith 'cx-minio', which can't be visit from web.
So, how to set a baseurl which is different with minio

[2019-10-20 13:10] harshavardhana commented on #8421
Docker is running in its own networking layer. You need to run your application on the same network.

Unfortunately this is out of our scope, docker DNS is not visible on the host system because of how docker manages DNS and it's networking.  You need to consult docker docs on how to access services with their DNS names and how to expose them on the host system.

[2019-10-20 13:42] RedzRedz commented on #8421
I export minio, and minio can access from web ouside the docker, but the backend service is also deploy in docker and it visit minio container by minio docker service name(cx-minio). Because backend service is in the same docker stack with minio, they are connected.
But minio sdk return  'cx-minio/.../...', when i call preview url, because the endpoint config in backend service in cx-main.The prev

[2019-10-20 14:14] harshavardhana commented on #8421
I have no idea what all of this means and cannot conclude from the limited information in this issue

To start with @RedzRedz

- You haven't used the issue template to describe your issue appropriately
- MinIO version, Docker version, client SDK which language?
- is it AWS SDK, MinIO SDK? or your own SDK?

Without all this info the only plan forward is we close this issue in few hrs - if you simpl

[2019-10-20 14:30] RedzRedz commented on #8421
docker version: 19.03.02
minio image: latest
client sdk: dotnet minio 3.0.11
Minio Service named 'cx-minio', backend service named 'cx-attachment', they are in the same docker stack 'cx', so they are connect.
The backend service config the endpoint of minio service 'cx-minio', if i get the previewUrl by minio client, it return `cx-minio/...` which can't be access by web.

[2019-10-20 19:06] MatinF opened #8422 "S3 SELECT - syntax difference between AWS & MinIO"
We're using the S3 SELECT to fetch data from CSV files across both AWS and MinIO, with outset in a frontend platform based on the javascript SDK.

We run a standard S3 SELECT query, illustratively as below:

`SELECT ParameterX FROM S3Object WHERE ParameterY in ['X', 'Y']`

This works when fetching from an AWS S3 backend - but when fetching from a MinIO backend, we need to replace the above with th

[2019-10-20 19:09] MatinF opened #8423 "AWS S3 Inventory - support in MinIO?"
AWS S3 supports the use of an Inventory functionality as outlined below:
https://docs.aws.amazon.com/AmazonS3/latest/dev/storage-inventory.html

This is useful in providing end users the ability to get additional information about their objects summarized in a light-weight log file in a bucket.

As an example of a use case, we would like to let users enable this and then use the S3 SELECT query to

[2019-10-20 20:25] ghost opened #8424 "Vultr object storage :: Question"
Hi team,

Does **minio** support [Vultr object storage](https://www.vultr.com/products/object-storage/) the documentation can be viewed [here](https://www.vultr.com/docs/vultr-object-storage) I know it supports **s3cmd** but has anyone used it with **minio**.

[2019-10-20 21:12] harshavardhana commented on #8424
We would like to keep GitHub issues to largely focus on issues, feature requests. For general QA please join https://slack.min.io we can discuss this in more detail.

Thanks closing this issue now.

[2019-10-20 21:12] #8424 closed, assigned to nobody

[2019-10-21 01:57] jessetalk commented on #8421
@harshavardhana  we met the same issue as well
the endpoint we set is：cx-main-minio:9000  (cx-main-minio is the docker service name to access in one docker network internally )  so we get the preview url is :  http://cx-main-mini:9000/path/{preview_url} which is not accessable. Is there a way to set the preview base url without changing the endpoint?

[2019-10-21 05:13] Praveenrajmani commented on #8385
@softarts Can you get us the `go_goroutines` metric exposed in `/minio/prometheus/metrics` path? You can set this env `MINIO_PROMETHEUS_AUTH_TYPE="public"` to disable the token based authentication. As per the readiness check, a pod is considered to be not ready if the go-routine count is less than 10000. Just want to clarify if it lies below par.

[2019-10-21 05:16] hellracer opened #8425 "Public bucket can be reach on minio web browser without authentication"
# Create a bucket

`mc mb minio/s3`

# Set basic policy

`mc policy set public minio/s3`

# Browse the bucket from browser

http://bucket.mydomain.com/minio/s3

The URL is accessible without providing the key

## Expected Behavior
This shouldn't work there must be an authentication

## Current Behavior
Once you hit http://bucket.mydomain.com/minio/s3 the bucket is accessible via the minio web brow

[2019-10-21 06:25] harshavardhana commented on #8425
if you have set `public` access on your bucket why should it throw authentication? @hellracer

[2019-10-21 07:47] kannappanr commented on #8425
Closing this as working as intended. If you do need authentication, you should not make it public. Please reach out to us at https://slack.min.io for further such questions.

[2019-10-21 07:47] #8425 closed, assigned to nobody

[2019-10-21 09:12] Praveenrajmani commented on #8298
@wlwcjl Can you do `dig http://rack2.host2.rainier.com` and see where it resolved to?

[2019-10-21 09:13] Praveenrajmani commented on #8298
Can you also paste the `Corefile`?

[2019-10-21 09:51] kannappanr commented on #8423
@MatinF We have not implemented these APIs currently. Will have to check internally and get back to you

[2019-10-21 14:15] sydseter opened #8426 "MinIO STS Identity Federation with Pivotal Cloud Foundry using Client Grants"
I know this might not be possible, but if it is, it would be very interesting for us.
We are trying to see if it is possible to setup MinIO STS Identity Federation with Pivotal Cloud Foundry using client grants.

I set:

export MINIO_IAM_JWKS_URL=https://uaa.dev.cfdev.sh/token_key #8419 (see: https://docs.cloudfoundry.org/api/uaa/version/74.4.0/index.html#token-key-s)

Created: client credentials

[2019-10-21 19:09] sydseter opened #8427 "Question in regards to client credentials MinIO STS Identity Federation"
Question in regards to client credentials MinIO STS Identity Federation.

When configuring (client grants)[https://github.com/minio/minio/blob/master/docs/sts/client-grants.md]. Is there some sort of mapping between the default canned policies and the client credentials? Do I need to create a user and a policy before AssumeRoleWithClientGrants can be used?

[2019-10-21 19:28] harshavardhana commented on #8427
You need to add custom claims https://github.com/minio/minio/blob/master/docs/sts/wso2.md#4-jwt-claims - we look for `policy` claim which points to the right canned policy on MinIO

Closing this issue - feel free to join our slack for more real-time Q/A discussions.

[2019-10-21 19:28] #8427 closed, assigned to nobody

[2019-10-21 19:29] harshavardhana commented on #8426
The reason it won't succeed because of your JWT which is generated by the IDP doesn't have `policy` claim - https://github.com/minio/minio/blob/master/docs/sts/wso2.md#4-jwt-claims

This policy claim points to the canned policies on MinIO

[2019-10-21 19:30] harshavardhana commented on #8415
FWIW there is no error reported by AWS S3 even if its a reserved word. So we need to see why we return an error.

[2019-10-21 19:32] harshavardhana commented on #8355
MinIO doesn't set any cookies - the cookies are perhaps set by other applications or logins you are using.

[2019-10-21 23:08] kannappanr commented on #8426
@sydseter Closing this issue based on the above comment. Please feel free to let us know if you think otherwise

[2019-10-21 23:08] #8426 closed, assigned to nobody

[2019-10-22 04:52] napat1412 opened #8428 "Need configuration for temporary credentials"
I try to user minio on docker with my keycloak server. I use client grants to retrieve temporary credential through OIDC. I got the temporary credential from minio server and then i try to access object with python: boto3 but I can't access object in bucket.

## Expected Behavior

I can use temporary credential to access object in bucket with phthon: boto3.

## Current Behavior

I start minio serv

[2019-10-22 05:13] harshavardhana commented on #8428
@napat1412

# Keycloak Quickstart Guide [![Slack](https://slack.min.io/slack?type=svg)](https://slack.min.io)

Keycloak is an open-source Identity and Access Management solution aimed at modern applications and services, this document covers configuring Keycloak to be used as an identity provider for MinIO server STS API.

## 1. Prerequisites

- JAVA 1.8 and above installed
- Download and start Ke

[2019-10-22 09:07] napat1412 commented on #8428
After configuration keycloak follow @harshavardhana  suggestion. It's work.
But I have a question. From my understanding, we can't assign policy more than 1 policy to a user.
If i need dynamic policy, i should use minio + open policy agent(opa).
Do you have any suggestions for dymamic policy in minio?

[2019-10-22 09:21] Jacky2 opened #8429 "The configuration path of coredns etcd is modified to /coredns and cannot be resolved"
The configuration path of coredns etcd is modified to /coredns and cannot be resolved at this time.

The reason is that Minio Federation does not support etcd path configuration and save to the default /skydns path.

minio version:
minio/minio:RELEASE.2019-09-18T21-55-05Z

[2019-10-22 12:48] robertza93 opened #8430 "Distributed MinIO 4 nodes on 2 docker compose 2 nodes on each docker compose"
I have two docker compose
a) docker compose file 1:
minio1:
    image: minio/minio
    environment:
      - MINIO_ACCESS_KEY=abcd123
      - MINIO_SECRET_KEY=abcd12345
    ports:
      - "9001:9000"
    volumes:
      - /tmp/1:/export
    command: server --address minio1:9000 http://minio1:9000/export http://minio2:9000/export http://${DATA_CENTER_IP}:9003/tmp/3 http://${DATA_CENTER_IP}:9004/tmp/4

[2019-10-22 12:56] nitisht commented on #8430
Can you try with `image: minio/minio:RELEASE.2019-10-12T01-39-57Z`

[2019-10-22 13:03] nitisht commented on #8429
@Jacky2 closing this as incomplete, please follow the issue template, it will help us understand your problem and help you better

[2019-10-22 13:03] #8429 closed, assigned to nobody

[2019-10-22 13:04] Praveenrajmani commented on #8430
@robertza93 There is a version mismatch among the instances.. Can you check if all the instances/DCs run the same version of MinIO?

[2019-10-22 13:07] robertza93 commented on #8430
I tried with version minio/minio:RELEASE.2019-10-12T01-39-57Z on each node and result is the same

[2019-10-22 13:09] Praveenrajmani commented on #8430
And also MinIO running on `DATA_CENTER_IP` @robertza93 ?

[2019-10-22 13:10] robertza93 commented on #8430
There are two docker-compose where first has 2 nodes of minio and the second also has 2 nodes of minio. Is it possible to have 2 machines where each has 1 docker compose with 2 instances minio each?

[2019-10-22 13:12] robertza93 commented on #8430
Yes, I have 2 docker compose on 2 data centers

[2019-10-22 13:17] robertza93 commented on #8430
I think it should work even if I run one docker compose because I have runned two nodes of minio and mapped other 2 which are offline.

[2019-10-22 14:12] mbitsnbites opened #8431 "Cache entries are deleted if a client reads only part of an object"
When a client only reads a part of a cached object, e.g. a client process starts reading a large object but then gets terminated before the entire object was read, the corresponding cache entry will be treated as if it had been subject to bitrot, and thus deleted from the cache.

## Expected Behavior
The cache entry should remain in the cache (until a *real* bitrot event is detected).

## Current

[2019-10-22 16:28] harshavardhana commented on #8428
Dynamic policy is based on policies which can have variable substitution we support that too using look at #8393

[2019-10-22 16:28] harshavardhana commented on #8428
Closing this issue working as intended

[2019-10-22 16:28] #8428 closed, assigned to nobody

[2019-10-22 18:11] harshavardhana commented on #7677
Closing this working as intended

[2019-10-22 18:11] #7677 closed, assigned to sinhaashish

[2019-10-22 21:20] kannappanr commented on #8431
@mbitsnbites Thanks for reporting this issue, we have a PR in review to fix this issue

[2019-10-22 22:04] #8431 closed, assigned to poornas

[2019-10-23 01:27] Jacky2 opened #8433 "Does the configuration of the `etcd path` parameter not support in minio federation mode?"
## Current Behavior
When CoreDNS is configured with the etcd plugin, I changed the path default configuration`path /skydns` configuration value to `path /coredns`. However, the etcd parameter configuration in the minio Federation mode does not support the `path` configuration item and is saved to the default value of `path /skydns`, making the CoreDNS domain name not valid.

[code]

[code]

Can su

[2019-10-23 02:06] harshavardhana commented on #8433
We don't support custom paths @Jacky2 - we can support it in future what is the requirement here?

[2019-10-23 02:07] harshavardhana commented on #8410
Closing this as per last comment https://github.com/minio/minio/issues/8410#issuecomment-543047176

Please refer to our benchmarking documents here with kernel settings etc  https://min.io/resources/docs/MinIO-throughput-benchmarks-on-HDD.pdf

[2019-10-23 02:07] #8410 closed, assigned to nobody

[2019-10-23 03:30] Jacky2 commented on #8433
@harshavardhana Only the configurable `path` parameter is required. Since the existing CoreDNS has configured the path parameter to be`path /coredns`, it is more difficult to change back to `path /skydns`. So temporarily give up using the CoreDNS component in minio federation mode.

[2019-10-23 03:50] harshavardhana opened #8434 "Pending action items on config migration to KV"
**not using template** for few TODOs with the merge of #8392

- [x] Remaining migration of few env only values such as MINIO_ETCD* should be moved to config as etcdSubSys
- [x] Encrypt all objects inside `.minio.sys/config` prefix along with being able to rotate/re-encrypt the encrypted content.
- [ ] Merge env values with `mc admin config get` output using `env:` keyword
- [x] Implement `mc admin

[2019-10-23 04:01] #7873 closed, assigned to Praveenrajmani

[2019-10-23 05:59] #5166 closed, assigned to harshavardhana

[2019-10-23 05:59] #7786 closed, assigned to harshavardhana

[2019-10-23 05:59] #8107 closed, assigned to harshavardhana, kanagarajkm

[2019-10-23 10:47] Racle opened #8435 "Minio doesn't send notifications #8403"
Reopening #8403

We have currently 3000+ events in our persistStorage folder.

Restarting either minio OR our api (made with golang) gets minio to send events again.

Minio doesn't log anything.
Our golang api still works and we can manually POST to /webhook url. (we tested this BEFORE restarting API or minio)
API always returns empty result with 200 OK no matter what.

So minio randomly stops sen

[2019-10-23 11:14] Praveenrajmani commented on #8435
@Racle Did it work when you restarted webhook alone and not MinIO?

[2019-10-23 11:17] Racle commented on #8435
Yes, minio sent messages after that.

Earlier same happened when we restarted only minio.

There is nothing to show why minio stops sending notifications, it just stops. No crashing on our side, no logs on minio (and it only logs when it starts or stops).

Our API logs every call that is made to it. Our files shows that first message which was stuck on our server was 8:01, and latest /webhook call

[2019-10-23 11:21] Praveenrajmani commented on #8435
I could relate this issue with https://github.com/minio/minio/issues/8324. And also as you said earlier that the same happens with listenBucketNotifications - mc watch internally uses listenBucketNotiications. We will investigate this further to find what is causing this @Racle

[2019-10-23 11:28] Racle commented on #8435
Could be related. But then this also happens with one server instance. Our just seems to be very random. It might take 5 hours to stop or multiple days.

And with redis, listenBucketNotifications and webhook by our testing.

[2019-10-23 14:21] nitisht commented on #8430
@robertza93 can you join us on Slack (https://slack.min.io) for more realtime discussion

[2019-10-23 16:44] Praveenrajmani commented on #8435
There might be a problem in your network switch which requires a periodic flush (restarts) which is causing this intermittent failure. Or, this can be a golang bug

Can you run the following golang script in your machine where MinIO is hosted, This script sends events periodically to the configured webhook. This might take us to the reason.

[code]

NOTE:
- You can set the `endpoint` to the one po

[2019-10-23 16:47] Racle commented on #8435
They are both inside docker network (default, created with docker-compose) and running on same virtual machine on same docker-compose stack.

[2019-10-23 18:40] p11o commented on #8422
I tested both syntaxes on S3, and they both work, however only the `()` syntax works on MinIO.  Maybe a quicker workaround would be to update your codebase to always use `()`.  @MatinF Can you confirm?

For my reference, the code that defines the grammar is here: https://github.com/minio/minio/blob/master/pkg/s3select/sql/parser.go#L150-L153

[2019-10-23 19:55] rikatz opened #8437 "Not able to access HDFS through Gateway - unexpected sequence number"
## Expected Behavior
I've been trying to use Minio as HDFS for my cluster. The expected behavior is this works fine :P

## Current Behavior
While creating the cluster, I'm facing some strange error:

[code]

My cluster uses Kerberos, so I've correctly logged into Kerberos with kinit, as this can be seen in klist command:

[code]

When trying to start Minio, the following happens:

[code]

I've als

[2019-10-23 20:02] harshavardhana commented on #8437
Closing as duplicate of #8206 , kerberos support is not fully completed and requires more work.

[2019-10-23 20:02] #8437 closed, assigned to nobody

[2019-10-24 02:28] harshavardhana commented on #8434
- [x] Encrypt all objects inside `.minio.sys/config` prefix along with being able to rotate/re-encrypt the encrypted content. - relevant PR is sent here https://github.com/minio/minio/pull/8439

[2019-10-24 07:16] sydseter opened #8440 "Some inconsistencies between the online documentation and minio server help files"
Thank you for providing the open-source community with such a great s3 solution.
I found some inconsistencies between the minio server help file and the online documentation.
I one of these wrong? Or can both approaches be used? Is one of them deprecated?

## Expected Behavior

I would expect minio server --help and the KMS documentation online: https://docs.min.io/docs/minio-kms-quickstart-guide.

[2019-10-24 07:19] nitisht commented on #8440
Thank you for reporting @sydseter we'll take a look

[2019-10-24 07:21] harshavardhana commented on #8440
This is because we have new changes which are merged into master @sydseter which are not part of release yet.

[2019-10-24 07:22] harshavardhana commented on #8440
I will revert the docs website to a particular commit ID such that we don't have such inconsistencies.

[2019-10-24 07:26] harshavardhana commented on #8440
Now the docs should be pointing to the release.. @sydseter

[2019-10-24 07:26] #8440 closed, assigned to aead

[2019-10-24 09:52] kannappanr commented on #8430
@robertza93  Closing this issue here. Please join us at our slack channel as mentioned above

[2019-10-24 09:52] #8430 closed, assigned to nobody

[2019-10-24 10:00] sydseter opened #8442 "Inconsistent documentation in regards to key rotation"
Thank you for making a minio one of the gratest tools for secure object storage.

I noticed and inconsistency in the documentation in regards to key rotation.  The following page says: https://github.com/minio/minio/tree/master/docs/security#key-rotation---basic-operation

"Only the root/admin user can perform an SSE-S3 key rotation using the Admin-API via mc. For more details about how to perform

[2019-10-24 10:01] sydseter commented on #8440
Thank you. That clarifies things.

[2019-10-24 10:19] sydseter commented on #8442
Ok. I guess this is part of the next release.

[2019-10-24 10:19] #8442 closed, assigned to nobody

[2019-10-24 17:03] NeccoNeko commented on #6501
I am having a similar problem.

I'm using S3FS-FUSE (s3fs-fuse-1.85-1.el7.x86_64) to access an S3 share running on FreeNAS-11.2-U5 which uses the following version of Minio:

    # /usr/local/bin/minio version
    Version: 2018-04-04T05:20:54Z
    Release-Tag: RELEASE.2018-04-04T05-20-54Z
    Commit-ID: 85a57d20210eb867b1c023e024cc4391d5ac5685

I'm attempting to write millions of 3KB files (as par

[2019-10-24 17:23] harshavardhana commented on #6501
s3fs is not something we encourage or recommend. We don't do any performance measurements with s3fs

Also please avoid positing on older closed issues @NeccoNeko please open a new one.

[2019-10-24 17:23] #6501 closed, assigned to kanagarajkm

[2019-10-24 17:59] harshavardhana commented on #8434
* [x]  Implement `mc admin config get --no-color` and `mc admin config get --json` mode

New PR sent #8441

[2019-10-24 19:28] harshavardhana commented on #8434
* [x] Implement `mc admin config env` command to document all the ENVs

https://github.com/harshavardhana/minio/pull/new/support-env

This is implemented as well along with `mc admin config help --env` sub-flag

[2019-10-24 22:31] harshavardhana commented on #8434
-  [x] Remaining migration of few env only values such as MINIO_ETCD* should be moved to config as etcdSubSys

https://github.com/harshavardhana/minio/pull/new/etcd-config

[2019-10-25 22:56] harshavardhana commented on #8434
https://github.com/minio/minio/pull/8439 all the functionality is merged into single PR for easier review.

[2019-10-26 11:25] markush81 opened #8446 "Support ObjectTagging"
**Is your feature request related to a problem? Please describe.**

My request is related to https://issues.sonatype.org/browse/NEXUS-17645.

It would be really nice to use minio as S3 backend for Nexus, cause it is a good way to have full on-premise Repository Manager with S3.

Currently this does not workout anymore with newer versions of Nexus (started > 1.36.1 ).

**Describe the solution you'd

[2019-10-27 01:59] gversmee opened #8447 "Docker image fails to build from Dockerfile"
## Expected Behavior
Docker image should get built using the Dockerfile provided at the root folder.

## Current Behavior
1. Currently, it appears to have an error line 25 of the Docker file: `COPY dockerscripts/docker-entrypoint.sh /usr/bin/` should be `COPY --from=0 /go/minio/dockerscripts/docker-entrypoint.sh /usr/bin/`.
2. Once this replaced, the Dockerfile can be build. However, I'm using min

[2019-10-27 14:14] harshavardhana commented on #8433
This is being fixed in PR #8439

[2019-10-27 15:52] kannappanr commented on #8446
@markush81 Thanks for the feature request. Not sure if we plan to implement `objectTagging` feature soon, I can check internally and get back to you

[2019-10-27 15:54] kannappanr commented on #8447
@gversmee Thanks for reporting this issue. We will take a look at it.

[2019-10-27 23:56] gversmee opened #8449 "Failure to build browser/ui-assets.go"
## Expected Behavior
We should be able to build `browser/ui-assets.go` within the `Dockerfile` in order to customize the UI.

## Current Behavior
Here is the Dockerfile I wrote:
[code]

Building the Docker image fails at the `yarn release`, giving the following output:
[code]

## Steps to Reproduce (for bugs)
Run the Dockerfile above

## Regression
The Dockerfile above worked until commit 941fed8e

[2019-10-28 00:23] harshavardhana commented on #8449
We do not support yarn, so please use `npm run release` - make sure to cleanup your node_modules

Also why are you generating new assets ?

[2019-10-28 00:24] harshavardhana commented on #8447
Looks like you modified something locally and there is bug in your code @gversmee

[2019-10-28 00:44] gversmee commented on #8449
I have the exact same error message when using `npm`.
I want to customize the css, that's why I'm generating new assets.

[2019-10-28 00:48] harshavardhana commented on #8449
@gversmee I can't reproduce it, so most probably it's on your side - try to cleanup node_modules, etc - not sure what else we can help here.

[2019-10-28 00:51] gversmee commented on #8447
Did you try to reproduce the error using the code I provided?

[code]

I'm simply cloning the repo and building the image from there. I don't modify anything. Can you point me to the bug in my code that you are suggesting?

[2019-10-28 00:56] harshavardhana commented on #8447
Yes, of course, @gversmee the same docker file is used every time to generate our "edge" container image. So my suspicion is your build system.

[2019-10-28 07:02] Jacky2 opened #8451 "Created bucket other nodes are not synchronized."
## Current Behavior
I have an Minio cluster:

[code]

docker-compose.yml

[code]

Created bucket other nodes are not synchronized.

There is a problem creating the bucket, but I can't reproduce this problem, because when I create the bucket again, it's normal.

I use java code but only configure one IP: 10.1.20.35:9002 to create bucket. After creation, sometimes I can see the bucket, sometimes I c

[2019-10-28 07:22] Jacky2 opened #8452 "Minio front-end web returns 504, or has been loading"
## Current Behavior
If there are too many bucket files, the Minio front-end web will return 504 when the bucket is opened to browse the file, or it will be loaded all the time. Can paging browsing be supported?
![5](https://user-images.githubusercontent.com/23411395/67659154-a75fe100-f996-11e9-80c3-28dc5d09cb44.png)

## Environment
* Version used (`minio/minio:RELEASE.2019-09-18T21-55-05Z`):

[2019-10-28 08:20] kannappanr commented on #8452
@Jacky2 Will take a look and get back to you. Thanks for reporting the issue

[2019-10-28 08:44] kanagarajkm commented on #8447
PR #8453 will fix the javascript error.

[2019-10-28 13:59] jclarksnps commented on #6212
@ingomueller-net you'd probably have to run supervisor or something similar and run both minio and mc admin trace to pull it off in docker.   I agree the env var was a bit more convenient, as you'd have to bake a custom image to do it now.

[2019-10-28 15:57] MatinF commented on #8422
[moved S3 select question regarding more general syntax support to separate issue]

[2019-10-28 16:38] kaankabalak commented on #8452
@Jacky2 How many objects do you have in your bucket? A similar issue was fixed by #7805 and it was working without any issues for 100k objects, however I'm assuming you have more objects in your bucket and we can investigate further what is going on based on your feedback. Thanks in advance!

[2019-10-28 16:52] kannappanr commented on #8451
@Jacky2 Will try to reproduce this issue and get back to you

[2019-10-28 17:03] vadmeste commented on #8451
@Jacky2, probably one of your nodes weren't running when you created the bucket, in that case `mc admin heal -r your-alias/` should fix it

[2019-10-28 17:31] harshavardhana commented on #7785
Fixed in #8114

[2019-10-28 17:31] #7785 closed, assigned to vadmeste

[2019-10-28 17:32] harshavardhana commented on #7952
Healing should have improved quite significantly - do you still see this issue being relevant from latest releases, we would rather avoid providing knobs to tune these parameters..

[2019-10-28 17:34] harshavardhana commented on #8188
This should be fixed as well after #8408

[2019-10-28 18:17] vadmeste commented on #8188
Yes right, I already tested this use case when reviewing #8408, closing this since fixed.

[2019-10-28 18:17] #8188 closed, assigned to vadmeste

[2019-10-28 18:18] harshavardhana commented on #7548
are we still planning to do this? @ebozduman @vadmeste @kannappanr ?

[2019-10-28 18:21] krisis commented on #8434
Steps to reproduce:
1. Start MinIO with valid values for env vars MINIO_ACCESS_KEY, MINIO_SECRET_KEY
2. Restart MiniO without these env vars.
3. We get the following error message
`ERROR Unable to initialize config system: invalid character '\u0091' looking for beginning of value`
This doesn't guide the user to provide the corresponding env vars to MinIO server during startup to resolve this issue

[2019-10-28 19:12] harshavardhana commented on #8434
@krisis resolved the issue and PR updated #8439

[2019-10-28 19:24] klauspost commented on #8422
@MatinF Could you add a separate issue for the second problem? It is very well described, so putting in the info you have above should be fine.

[2019-10-28 19:42] MatinF opened #8458 "S3 SELECT (javascript aws-sdk) does not work for strings/dates"
_Moving this upon request from klauspost into a new issue._

I'm attempting to use the `aws-sdk` in JavaScript to leverage the `S3 SELECT` call on my MinIO back-end server. I originally looked for a MinIO-specific `S3 SELECT` command, but it seems for now that this is not supported - which I guess is fine if the aws-sdk gets full support.

My challenge is that I'm trying to run a standard `S3 SELE

[2019-10-28 19:44] MatinF commented on #8422
Raised the issue regarding strings/dates in the columns in #8458 now

[2019-10-28 21:51] harshavardhana commented on #8434
https://github.com/minio/minio/pull/8439 the PR is now updated without encryption and has all the following functionalities implemented

- [x] Remaining migration of few env only values such as MINIO_ETCD* should be moved to config as etcdSubSys
- [x] Implement `mc admin config help --env` command to document all the ENVs
- [x] Implement `mc admin config get --no-color` and `mc admin config get --

[2019-10-29 00:29] harshavardhana commented on #8447
This is fixed in master branch closing.

[2019-10-29 00:29] #8447 closed, assigned to Praveenrajmani

[2019-10-29 00:30] harshavardhana commented on #8449
Best way to know what you did and what is the issue here run

[code]

[2019-10-29 01:22] Jacky2 commented on #8451
@vadmeste Thanks, I try it.

[2019-10-29 01:27] Jacky2 commented on #8451
@vadmeste Thank you. It works.

[2019-10-29 01:30] harshavardhana commented on #8451
Thanks, @Jacky2 - that is the way to synchronize closing this issue. self-heal also runs once in a month to synchronize - if not you can also run `mc admin heal` to trigger the heal.

[2019-10-29 01:30] #8451 closed, assigned to nobody

[2019-10-29 06:44] Jacky2 opened #8460 "Adding a minio cluster to a minio federation cluster will not expand the hard disk space of the cluster where the original bucket is located."
**Is your feature request related to a problem? Please describe.**

In the minio federation cluster mode, if the disk space of the cluster where the bucket is located is full, even joining a minio cluster to the federal cluster will not increase the capacity of the bucket, right?

[2019-10-29 06:48] nitisht commented on #8460
Yes, it will not increase the capacity of that bucket, instead the whole cluster will look bigger. @Jacky2 please join us on Slack (https://slack.min.io) for such questions. Closing this as answered.

[2019-10-29 06:48] #8460 closed, assigned to nobody

[2019-10-29 06:49] nitisht commented on #8218
@anrajan closing this for now, please reach out if on the email to and we'll try to see what's going wrong in your deployment

[2019-10-29 06:49] #8218 closed, assigned to nitisht

[2019-10-29 07:55] SolarisYan opened #8461 "Muti policy in a group"
Hi there, i want to set more than one policy with a group, so minio will be more flexible to grant user, but i don't known how to set?

Does minio support this now? If yes, please tell me how to do.

Thanks a lot.

[2019-10-29 11:00] Racle commented on #8435
I put script on our server after your post. It's been running every 10 seconds there and has only logged "Sending event" and "Successfully sent". No failures or errors anywhere.

It's been running multiple days just fine, and now it's dead again. Minio stopped sending events to webhook url at 12:36 local time. We restarted our API and persistent storage is empty again.

We also changed our API to

[2019-10-29 11:31] vadmeste commented on #8461
If I understood your question correctly, you can pass multiple statements in the same policy document, that's how you do that

[2019-10-29 13:40] klauspost commented on #8458
The problem is the conversion from CSV to JSON. This should of course be fixed.

As a quick workaround you can do `SELECT CAST(segments AS STRING) AS segments FROM s3object s` or output to CSV. I suppose the former is easier.

[2019-10-29 13:43] Praveenrajmani commented on #8435
@Racle The should be some logs when the script stopped. Can you paste it here? For some reasons, the connection gets blocked. AFAICS, This is not related to MinIO as it replays properly when you restart the webhook server. Let us investigate further. The script logs would help. The script is exactly what MinIO is doing internally.

[2019-10-29 13:46] Praveenrajmani commented on #8435
The events would end up in queueStore only if the connection is inactive / MinIO cannot connect to the target.

[2019-10-29 14:00] gversmee commented on #8447
Just tested, works perfectly. Thank you.

[2019-10-29 14:13] kannappanr commented on #8461
@SolarisYan Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for further such questions.

[2019-10-29 14:13] #8461 closed, assigned to nobody

[2019-10-29 14:20] Racle commented on #8435
Script didn't stop, it probably would still run just fine if I didn't stop it by hand. It logged those two lines every 10s as I said. No crashes either.

And our api logged every connection made by minio (until it stopped) and everything script send to our api.

And only minio in same docker network stops sending data. Our other api's talk to perfectly and that script up there.

[2019-10-29 14:23] Praveenrajmani commented on #8435
Are you pointing to the same webhook endpoint in the script? Maybe in a different path?

[2019-10-29 14:26] Praveenrajmani commented on #8435
@Racle ?

[2019-10-29 14:29] Racle commented on #8435
Exactly same path what is configured to our minio instance. Same http://api:1234/webhook url which is used by docker internal dns on same docker-compose network.
And I can post via postman that (outside that network).

And older 2018 January release didn't do this. This happened after we upgraded to latest minio. (and we used listenbucket before we switched to webhook when listener didn't worked a

[2019-10-29 14:44] Praveenrajmani commented on #8435
@Racle Let me give a custom image with some internal logs. Can you use that instead? Collecting those logs can help

[2019-10-29 15:09] Racle commented on #8435
In theory, yes.
But as this is server is in use, custom image should be as stable as possible.

We have exactly same setup on less used servers (3 other servers with same stack), and those seems to be working just fine.
It might be something to do with higher traffic

[2019-10-29 15:22] Racle commented on #8435
Logs here. Minio script is still sending messages while minio instance just stop.
I removed our minio objects from logs.
And messages are not in fully order. Sometimes golang logs so fast that our logging server cannot keep up and misplaces log rows. That's why it seems to be little off sometimes.

Logs also have random ID (like 1SsHS9jOffkIcaUEFHOhx4srGvL) so we can see logging events.
POST /webh

[2019-10-29 17:08] harshavardhana commented on #8377
Closing this issue as stale for now, please reopen if you have further information as requested by @vadmeste

Thanks

[2019-10-29 17:08] #8377 closed, assigned to vadmeste

[2019-10-29 17:50] Praveenrajmani commented on #8435
@Racle Here is the custom image - `praveenminio/testwebhook` . This image has some log prints added. Can you use this image and report the logs here?

[2019-10-29 18:56] gversmee commented on #8449
I found the error. I used a modified version of `variables.less`. After commit #941fed8e4ae990d5bb1b354f2045af3eb8df6f02, there was a section added to this file, and I hadn't updated mine. Now it works fine.
If anyone is interested, here is the `Dockerfile` I'm using.

[code]

[2019-10-29 18:56] #8449 closed, assigned to nobody

[2019-10-29 23:50] harshavardhana commented on #8434
### Pending items

- [x] Bring safe mode operation for MinIO server which allows access to object layer to manipulate configs, but avoids enabling S3 APIs - this is to allow users to recover MinIO serves remotely
- [x] Encrypt all objects inside .minio.sys/config prefix along with being able to rotate/re-encrypt the encrypted content.
- [ ]  Merge env values with mc admin config get output using e

[2019-10-30 04:57] prasus opened #8466 "Issues upgrading MinIO StatefulSet to new release"
I have got a Kubernetes deployment of Minio running on `minio/minio:RELEASE.2019-03-27T22-35-21Z` and it fails when attempting to upgrader the statefulset  to the latest release (`minio/minio:RELEASE.2019-10-12T01-39-57Z`) leaving the pods in a `CrashLoopBackOff` state, had to revert back the changes for bringing the cluster back to an operational state.

## Expected Behavior
The statefulset upgra

[2019-10-30 05:00] nitisht commented on #8466
we’ll check and get back @prasus

[2019-10-30 05:03] naughtyGitCat opened #8467 "How to deploy multi minio server instance on one node with multi disks?"
**Describe the solution you'd like**

I have machines equipped with multi disks,
I want to deploy a minio cluster with 1 machine and six minio server instance on each disk
or
a minio cluster with 2 machines and twelve minio servers instance on each disk

[2019-10-30 05:05] harshavardhana commented on #8466
This is fixed in https://github.com/minio/minio/pull/8411

[2019-10-30 05:06] nitisht commented on #8467
please check this https://docs.min.io/docs/multi-tenant-minio-deployment-guide.html

Join us on slack (https://slack.min.io) for more such questions.

[2019-10-30 05:44] Racle commented on #8435
testwebhook is up and running. I'll report back with logs if we see problems with minio.

It can be day or it can take week to get stuck again.

[2019-10-30 06:03] nitisht commented on #8467
Closing this as answered.

[2019-10-30 06:03] #8467 closed, assigned to nobody

[2019-10-30 06:04] #8422 closed, assigned to klauspost

[2019-10-30 06:33] markush81 commented on #8446
@kannappanr this would be nice. The motivation behind is to have Nexus including an S3 storage 100% on-premise. Unfortunately Nexus needs ObjectTagging for this.

[2019-10-30 06:38] harshavardhana commented on #8434
### Pending items

- [x] Validate KV settings without ENV overrides to disallow setting incorrect values

[code]

[2019-10-30 07:16] prasus commented on #8466
Thanks for the response, @nitisht I will wait for the next release then.

[2019-10-30 07:16] #8466 closed, assigned to nitisht

[2019-10-30 07:22] harshavardhana commented on #8433
Closing as PR #8439 is merged

[2019-10-30 07:22] #8433 closed, assigned to harshavardhana

[2019-10-30 08:16] #8371 closed, assigned to klauspost

[2019-10-30 08:26] Jacky2 commented on #8452
@kaankabalak

I can't count the number of files. The usage space is 13g, and the file size ranges from 1KB to 10m.

[2019-10-30 09:20] Jacky2 opened #8468 "[resolved] Why are there three nodes with high utilization of hard disk IO, and the other node is normal?"
## Current Behavior
Why are there three nodes with high utilization of hard disk IO, and the other node is normal?

My cluster consists of 4 nodes, one node and two disks, but it is actually a disk, but the directory is different.

Normal node
![2](https://user-images.githubusercontent.com/23411395/67844674-23922a00-fb39-11e9-8873-d133b108bd33.png)

Abnormal node
![1](https://user-images.githubuse

[2019-10-30 10:19] vadmeste commented on #7744
It works for me using a earlier version of Windows (2016)

Not able to find Windows 2019 yet..

@MatinF @xmichaelx what happens if you open the Azure endpoint using Internet Explorer ?

http://azure-blob-account-name.blob.core.windows.net

[2019-10-30 10:40] MatinF commented on #7744
I'm not able to open the above link in any browser on Win10, I get "This site can’t be reached" in Chrome for example (same in IE, Edge).

Martin

[2019-10-30 11:24] vadmeste commented on #7744
You need to put your blob account name in the url

https://[your-blob-account-name].blob.core.windows.net

[2019-10-30 16:30] kaankabalak commented on #8452
Thanks @Jacky2, I think this info would be sufficient, I will try to reproduce the issue on a similar configuration.

[2019-10-30 23:13] kannappanr commented on #8468
@Jacky2 Thanks for reporting this issue. Are you seeing any performance drop or anything else when this happens? What are the symptoms when this happens?

[2019-10-31 02:13] Jacky2 commented on #8468
@kannappanr

We are going to deploy MinIO to production, and then carry out the pressure test through the application developed by Java, 500 concurrent, TPS is only more than 100. It was found that the server Io was full. Then we stopped the pressure test and found that the IO utilization rate could not be lower. Then I restarted the MinIO service and found that the IO utilization rate of three ma

[2019-10-31 16:12] RajatVaryani opened #8473 "Health check failing for image "minio/minio:RELEASE.2019-08-14T20-37-41Z""
## Expected Behavior

Health check should pass.

## Current Behavior

Health check is failing.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Just pull the image and run it in a container.

## Context

## Regression

## Your Environment

* Version used (`minio version`): `minio/minio:RELEASE.2019-08-14T20-37-41Z`
* Environment name and version (e.g. nginx 1.9.1):
* Server type and ver

[2019-10-31 16:16] RajatVaryani commented on #8473
Closing as it is fixed in later versions.

[2019-10-31 16:16] #8473 closed, assigned to nobody

[2019-10-31 16:46] harshavardhana commented on #8255
Fixed in #8465

[2019-10-31 16:46] #8255 closed, assigned to donatello

[2019-10-31 21:07] wlan0 commented on #8468
@Jacky2 The problem here is that ioutil is not a good measurement of IO utilization. ioutil measures the amount of CPU time utilized to issue IO requests to a particular device. It does not indicate how much of IO bandwidth is being utilized.

Please refer to this blog for more info: https://brooker.co.za/blog/2014/07/04/iostat-pct.html

A better way to measure utilization is to measure total node

[2019-10-31 21:09] kannappanr commented on #8468
@Jacky2 Regarding why only three nodes have high utilization, you probably have restarted only one node. Once you restart all the nodes, you will see similar numbers.

[2019-11-01 11:19] MSBilgin opened #8476 "File count limit per bucket on Windows"
I downloaded server app and runned it using `minio server d:\miniostorage` command. Then created a bucket named **files** and then uploaded a file to this bucket. When i checked `d:\miniostorage` path i found **files** folder was created and the uploaded file was inside this folder. it looks that Minio puts files directly to this folder. But if users uploads lot of files much more than file system

[2019-11-01 16:45] harshavardhana commented on #8476
If users upload lot of files they are limited by the filesystem limits.

Closing this issue please join on https://slack.min.io for further questions like this.

[2019-11-01 16:45] #8476 closed, assigned to nobody

[2019-11-01 22:17] TheFiZi opened #8477 "Running a gateway for B2 and trying to connect with Veeam fails with "File names must not end with '/'""
I've configured a Minio Gateway to connect to a B2 bucket which appears to be working correctly. When I then try to add a "S3 Compatible" repository in Veeam I appear to be able to connect to the bucket from Veeam -> Minio Gateway -> B2 but when I try to create a folder I get the following error:

[code]

## Expected Behavior

The directory "Veeam" to be created in the B2 Bucket.

## Current Behav

[2019-11-01 22:26] harshavardhana commented on #8477
Directory creates are not allowed on B2 @TheFiZi  MinIO doesn't circumvent backend limits.  It honors and keeps backend limits as is.   There is nothing we can do to fix it here.

[2019-11-01 22:32] TheFiZi commented on #8477
Ah. I was not aware.

If I pre-create the directory in my bucket via the B2 WebUI it is not visible in Veeam when I am asked to select a folder.

![image](https://user-images.githubusercontent.com/1762426/68060229-ba3b2400-fcbc-11e9-9d54-a18b83a9eb1a.png)

![image](https://user-images.githubusercontent.com/1762426/68060258-ce7f2100-fcbc-11e9-8242-c2f8601f4bf5.png)

Veeam issue?

[2019-11-02 08:55] daltonthedog opened #8479 "mc admin update not working!"
After release "minio.RELEASE.2019-10-11T00-38-09Z"(inclusive), `mc admin update` is not working anymore, output is:
`mc: <ERROR> Unable to update the server. The specified method is not allowed against this resource.
`
## Steps to Reproduce
[code]
## Your Environment
Binaries tested:
minio.RELEASE.2019-10-02T21-19-38Z  -> working
minio.RELEASE.2019-10-11T00-38-09Z -> not working
minio.RELEASE.2019

[2019-11-02 09:13] nitisht commented on #8479
What is you `mc` version @daltonthedog

[2019-11-02 09:18] daltonthedog commented on #8479
[code]

[2019-11-02 17:54] harshavardhana commented on #8479
Yes there was a bug we fixed it in master, restart your server with MINIO_UPDATE=on env and it shall work as workaround for now.

[2019-11-02 17:55] harshavardhana commented on #8479
Closing this as fixed in master

[2019-11-02 17:55] #8479 closed, assigned to nobody

[2019-11-04 09:34] Racle commented on #8435
@Praveenrajmani
[code]

I also tried to curl from minio instance to our api (with DNS name and with IP),
error says `curl: (7) Couldn't connect to server`.

I checked IP and it was correct, and other machines on same docker-compose network can curl to that with DNS name and with IP.

Seems to be something with docker network or with our api perhaps. Or minio docker image. After restarting our api

[2019-11-04 10:27] Praveenrajmani commented on #8435
looks like a docker network issue @Racle

[2019-11-04 10:31] Racle commented on #8435
That's what I was thinking also.

It's just odd that minio machine is only which cannot connect to that api. Everything else connects just fine..

I'll close this and open new one if I find something wrong with minio docker container, but currently it's probably network issue..

[2019-11-04 16:40] jonasscherer commented on #7055
I would like to try your new OICD feature. Is there a way to set the configuration for JWKS_URL and CONFIG_URL using environment variables in the Docker container?
thanks

[2019-11-04 17:01] harshavardhana commented on #7055
Yes after the new release is done, it will be available.

[2019-11-04 17:29] bennnjamin commented on #8391
Hello just checking in to see if there has there been any progress on this?

[2019-11-04 17:46] harshavardhana commented on #8391
Currently, we are busy with other priorities will soon take a look @bennnjamin

[2019-11-04 21:34] donatello opened #8481 "Panic in S3 Select"
## Expected Behavior

MinIO should not crash

## Current Behavior

MinIO crashes when running the same query again with mc when we interrupt it the first time.

## Steps to Reproduce (for bugs)

1. `mc sql -e 'select * from s3object s ' --json-input "Type=LINES"  minio/bucket/some.json`
2. Hit Ctrl+C on mc before mc finishes its output.
3. Run same command again.
4. minIO server crashes with:

[co

[2019-11-04 23:06] haneefkassam opened #8482 "DurationSeconds parameter not used by STS endpoint"
With a JWT client grants token retrieved from keycloak (and expiry set to 2hrs - 7200sec), passing in a DurationSeconds when generating an STS token still keeps the expiry of the STS token at 7200sec

## Expected Behavior
The `DurationSeconds` parameter should take precidence, if it is smaller than the IDPs JWT token, and still within the acceptable range for an STS token (which, I believe in docu

[2019-11-05 01:41] harshavardhana commented on #8434
https://github.com/minio/minio/pull/8483 another pending item to enhance the `mc admin config history` output

[2019-11-05 01:53] kannappanr commented on #8482
@haneefkassam Thanks for reporting this issue. We will take a look and send in a PR to fix it

[2019-11-05 09:33] Jacky2 commented on #8468
@wlan0 @kannappanr  OK , thanks. I will try it.

[2019-11-05 11:04] klauspost opened #8484 "Data race: globalObjectAPI used before initialized"
[`initDailyLifecycle`/`startDailyLifecycle`](https://github.com/minio/minio/blob/26ed9e81b173521d9c32228329ad061a9a90b60f/cmd/daily-lifecycle-ops.go#L49) uses the `globalObjectAPI` before it is ready.

Even though the object is copied this is unsafe behavior.

## Expected Behavior

No data race.

## Current Behavior

[code]

## Possible Solution

Protect use of `globalObjectAPI` or postpone starti

[2019-11-05 11:07] klauspost commented on #8481
It seems like a generic race when closing the streams. On one of my runs I got this:

[code]

Seems related and looks like a use after close. Edit: Confirmed, this is a read after Close.

Seems like jstream is particularly nasty: https://github.com/bcicen/jstream/blob/master/scanner.go#L48

[2019-11-05 11:48] vadmeste commented on #8484
Fixing it..

[2019-11-05 17:41] mamoit commented on #6037
I just ran into this use case, where I want to be able to do a gateway, not to all buckets in a specific account, but to a list of buckets that belong to different accounts.

[2019-11-05 17:43] harshavardhana commented on #6037
That is our of scope for our gateway implementation @mamoit - feel free to write your own implementation.

[2019-11-05 22:20] #8481 closed, assigned to klauspost

[2019-11-06 07:58] xianshun163 commented on #8468
After the client uploads the file and receives the correct return, will the server have a lot of synchronization or calculation work in the background?    Do you know the principle?  thanks.

[2019-11-06 09:25] xcdr opened #8488 "Total crash of mino instances"
Hi.

I have 3 minio nodes with 8 disks each, minio is running on FreeBSD 12, disks are JBOD with ZFS on each disk.

Minio started with following setup:
[code]

I have ~4.5TB of files which  are jpeg photos synced with `mc mirror` command at full speed ~80MB/s.

## Expected Behavior
Successfull sync or readable log entries.

## Current Behavior

When I try sync again by `mc mirror --overwrite --rem

[2019-11-06 11:48] DReigada opened #8489 "Wrong API error when lifecycle policy does not exist"
When performing the `s3:GetLifecycleConfiguration` action, on a bucket that does not have a lifecycle policy, minio returns `NoSuchBucketLifecycle`, while AWS S3 returns `NoSuchLifecycleConfiguration`.
This is behaviour is specified [here](https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketLifecycleConfiguration.html)

## Expected Behavior
When a bucket has no lifecycle policy it should

[2019-11-06 12:46] nitisht commented on #8489
Thanks @DReigada we'll take a look

[2019-11-06 12:46] denitiu commented on #6904
Hi all, can you please specify what was the solution to the 137 minio restarts?
We are encountering the same issue on our minio pods, with minio version MINIO_VERSION:  RELEASE.2019-01-23T23-18-58Z

[2019-11-06 12:50] nitisht commented on #6904
This is pretty old, please update to a recent release and try, we have made several fixes

[2019-11-06 13:04] nitisht commented on #8488
Based on the logs looks like both `...182` and `...183` are not reachable since the beginning @xcdr are you sure MinIO was successfully running before mirror was started?

[2019-11-06 13:46] gcmsch commented on #8324
I do have the same issue as well. I'm currently evaluating minio and it's live mirroring feature, so right now this is a test setup.
mc version RELEASE.2019-10-09T22-54-57Z
minio version 2019-10-12T01:39:57Z

I have two physical servers running minio, 56 hard drives each, one minio instance per server. No docker containers involved, just the binaries running on the physical servers. Static IP addr

[2019-11-06 13:48] Praveenrajmani commented on #8488
I can see this log here

[code]
Can you try increase the user process limits?

[2019-11-06 13:53] Praveenrajmani commented on #8488
@nitisht Can you re-assign me? unassigned by mistake..

[2019-11-06 14:42] xcdr commented on #8488
@nitisht Yes,

Yes, works well and crashed after ~7 hours of `mc mirror`

Procstat show me 34203 max user processes:
[code]

Current number of minio threads is 333 after 30min of mirroring:
[code]
I can set higher number of max proc but this is very high limit. Minio should controll the number of processes and not allowed more than configured somewhere.

I currently observe numberr of processess a

[2019-11-06 15:15] xcdr commented on #8488
Number of threads is groving, 712 at this moment.

This is normal or something wrong with closing http connections?

[code]
Number of ESTABLISHED connections from and to port 9000 is also groving.

[2019-11-06 16:23] Praveenrajmani commented on #8488
@xcdr looks like you are hitting `kernel.pid_max` sysctl limit. Can you increase that? And also can you set `CGO_ENABLED=0` and increase the `GOMAXPROCS=6` if that didn't work.. This can probably be the cause.

[2019-11-06 17:32] harshavardhana commented on #8488
The problem is you have some system level limits @xcdr and you are pushing the server beyond this limit.

pthead_create failure means there is a lot I/O threads being created to handle your incoming requests.

So you may need to remove GOMAXPROCS=6 and also try increasing system level ulimits

[2019-11-06 23:01] xcdr commented on #8488
I cannot increase pid_max, this is max value:
[code]
FreeBSD generates PID random, not incremental as Linux.

I increase max number of processes tomorrow but I cannot understand why first mirror was OK and problem is with incremental mirror.

After some experiments I suppose this is related to mirror speed. Number of processes also looks too high for comparing directories from only one client! In

[2019-11-07 12:09] Numernabis opened #8493 "STS AssumeRole - MissingFields error"
I have a latest MinIO server running locally (in docker container) and would like to get temporary credentials for it (like in AWS STS).
I followed instructions from there: https://github.com/minio/minio/blob/master/docs/sts/assume-role.md and created a signed request:
[code]

## Expected Behavior

Response containing generated temporary credentials, like in the sample: https://github.com/minio/mi

[2019-11-07 15:49] xcdr commented on #8488
I investigated today limits for minio accounts and there is no limits.

Limit 34203 of max processes is calculated on the fly by system based on amount of memory which is 32GB.

I added GOMAXPROCS because I want to limit minio for 6 cores, unset this variable nothing changes (added after problem occurs).

I already running `mc mirror` many small files ~0.5TB and minio instances is ~57 against 37 a

[2019-11-07 16:37] Praveenrajmani commented on #8488
@xcdr Did you check `sysctl kernel.pid_max`?

[2019-11-07 19:47] poornas commented on #8434
Some config validations seem to have broken in the latest PR (safe mode)
Cache gets enabled in server mode even when state=off. Similarly found that turning off kms settings set in config doesn't disable config from taking effect.
[code]

[2019-11-07 19:55] xcdr commented on #8488
Yes, I wrote about it two post above :-)

Continuation for my post above:

Second mirror runs > 4h and there is 74 only minio processes, I suspect the problem is only when mc mirror is run again on the same files and every file is compared.

When finish I try run mc mirror again and compare with rclone (for exclusion bug in minio client).

Independly I belevie that behavior of minio server is ugly

[2019-11-07 20:18] harshavardhana commented on #8434
Caching is once again disabled in server mode now @poornas - also SSE_* are honored properly as well.

[2019-11-07 23:23] nodesocket opened #8495 "ENVVAR to define CIDR ranges that can access web interface"
### Feature Request

Using an ENVVAR set CIDR ranges that are allowed to access the web interface.

I know there is the ENVVAR `MINIO_BROWSER=off`, but this disables the web interface completely. I am just looking to whitelist IP CIDR ranges.

Possible suggestion: `MINIO_BROWSER_ACCESS="10.0.0.0/16, 192.168.0.0/24"`.

[2019-11-07 23:50] harshavardhana commented on #8495
This can be easily done with nginx or any proxy in front. This is out of scope for MinIO or we may implement it but not anytime in near future.

[2019-11-08 04:31] vikrantrathore commented on #6047
@harshavardhana @kannappanr We are using pyfilesystem to abstract the calls. Pyfilesystem has an api called opendir which works with s3, google file system, local filesystem, NAS. It fails in case of minio.

This is due to fact that minio fails to return directories with files. If we change the code it will become very specific to minio. So I believe it will be nice if this behaviour works like S3

[2019-11-08 05:35] Praveenrajmani commented on #8488
Did it happen even after you unset the GOMAXPROCS? @xcdr and what was the process count when you ran mc mirror on the same files?

[2019-11-08 05:41] harshavardhana commented on #6047
I am afraid we are not interested in supporting directories at the moment. It is a niche use case to provide POSIX behavior it's not in our interests.

[2019-11-08 07:24] Praveenrajmani commented on #8488
@xcdr There is a golang issue on this - https://github.com/golang/go/issues/24484. Most likely to be fixed in go1.14

[2019-11-08 07:30] Praveenrajmani commented on #8488
Can you also try recompiling with `CGO_ENABLED=0`? This might work

[2019-11-08 09:27] Anbool opened #8496 "Using MooseFS as the storage directory, MinIO cannot run."
We use the Client provided by the MooseFS cluster as the MinIO data storage directory (/ofs), but MinIO cannot run. Run: minio server /ofs, the hard disk will be unresponsive.When I looked at a lot of information, I found that there is not much information about this issue. If the MinIO team can do this, I hope that MinIO developers can help us solve this problem together, thank you.

## Expected

[2019-11-08 10:03] xcdr commented on #8488
I use FreeBSD package but I checked that CGO_ENABLED=0 is enabled by default in Makefile used to build this port.

Nothing change when GOMAXPROCS is set or no, when is unset then only more cpu usage and faster crash :-)

* I have no time for perfect test but when I try mc mirror I see that number of minio processes only grown, when I break mirroring number of processed not decreased.

* when I mir

[2019-11-08 10:14] miksonx commented on #8479
Hi,
After making manual upgrade of the latest version of minio and setting up env variable as described the update is still not working

./mc admin update myminio
mc: <ERROR> Unable to update the server. The specified method is not allowed against this resource.

Server:
VERSION
2019-10-12T01:39:57Z

./mc --version
mc version RELEASE.2019-10-09T22-54-57Z

./mc update
You are already running the mo

[2019-11-08 14:22] leamingrad opened #8498 "Pre-signed POST policy not enforced for non-metadata extra fields"
This issue is a follow-on from #6559, as the fix for that didn't go far enough.

## Expected Behavior
When using a pre-signed POST policy to police uploads from a form, if I forget to mention a field in the policy then the request should be rejected.

From the AWS policy documentation (which is listed as the source of truth in the code)

    Each form field that you specify in a form (except x-amz

[2019-11-08 14:26] kannappanr commented on #8496
@Anbool We do not have enough cycles right now. So, not sure if we can take a look at this right away. Did you try running this in NAS gateway mode? https://docs.min.io/docs/minio-gateway-for-nas.html

[2019-11-08 14:59] harshavardhana commented on #8496
We need posix locks implemented on the backend FS, looks like moosefs doesn't implement posix fcntl locks correctly or doesn't implement at all. So it is not possible for us to support moosefs at the moment.

We shall close this issue for now.

[2019-11-08 14:59] #8496 closed, assigned to BigUstad

[2019-11-08 15:01] harshavardhana commented on #8495
Ideal scenario here is to use proxy, iptables or some other routing mechanism.

MinIO server shouldn't be bloated with these type of features, closing this as out of scope for MinIO.

[2019-11-08 15:01] #8495 closed, assigned to nobody

[2019-11-08 15:01] harshavardhana commented on #8484
This shall be fixed when #8478 is merged

[2019-11-08 15:04] harshavardhana commented on #8477
May be we have no idea and no way for us to test. B2 gateway has its own limitations so please use `minio server /data` and let us know if it works.

If yes we can close this issue.

[2019-11-08 15:08] harshavardhana commented on #8488
We will try to reproduce it, this looks unusual.

[2019-11-08 15:12] Anbool commented on #8496
Thank you very much for your reply. Can you recommend some backend FS similar to MooseFS? Need to work with MinIO. We have a lot of small files, including videos and images.

[2019-11-08 15:14] harshavardhana commented on #8496
We have successfully tested with GlusterFS

[2019-11-08 15:18] Anbool commented on #8496
Thank you, I will study it soon!

[2019-11-08 15:19] harshavardhana commented on #8479
@miksonx looks like you haven't set the ENV properly

[code]

[code]

[2019-11-08 15:26] McPo opened #8499 "Add the ability to lockdown admin access (IP restriction etc)"
It would be useful to be able to disable admin actions occurring across the public internet (restrict to localhost etc), while still allowing access to buckets. i.e. the default credentials are not of use outside of localhost.

This could be accomplished by the addition of a policy for the default "admin account". It could also be achieved by restricting administrative actions to a specific port n

[2019-11-08 15:33] harshavardhana commented on #8499
Yes it is possible with #8487 , we won't be be opening new ports that is administratively hard and confusing.

The point of multiple admins is that you don't need to share your operator credentials anymore to clients for admin operations. Infact operator credentials never need to be shared at all. This allows for central management of admin users as well as central lock down.

With PR #8487 we are

[2019-11-08 15:49] poornas commented on #8434
etcd endpoint is not being validated when MINIO_ETCD_ENDPOINTS is set in NAS gateway - note the validation is ok in server mode, and if etcd set via `mc admin config`

[code]

[2019-11-08 15:52] harshavardhana commented on #8434
You need to enable state as well @poornas

[2019-11-08 15:54] harshavardhana commented on #8434
But that may be incompatible so need to be fixed

[2019-11-08 16:05] TheFiZi commented on #8477
I’m away for a few weeks so I won’t be able to test for a bit.

[2019-11-08 16:13] xcdr commented on #8488
OK.

Some info about data that might help You:
Small files (photos) with dir path depth=4, each dir contains ~0.5k files.
Data size ~4.5TB with ~10 million of files.

First mirroring was OK with full sped ~80MB/s, problem occurs when mirroring run second time (for incremental data), transfer was low ~500kB/s (maybe no much changes).

It doesn't matter when mc connected to first node or via nginx p

[2019-11-08 16:43] Anbool commented on #8496
Excuse me, I have read some information and I am ready to build a GlusterFS cluster. But before the beginning, a lot of information shows that GlusterFS is not suitable for small file storage. Maybe this information is released for a long time. Our image file size usually does not exceed 1MB. GlusterFS works with MinIO. This way for our production environment. Does it fit? Or does MinIO have recom

[2019-11-08 18:11] maxnilz opened #8500 "Upload a file via aws-cpp-sdk failed."
Hi, I'm using the `aws-cpp-sdk-1.7.213` to connect to the minio server(VERSION: 2019-10-12T01:39:57Z), And When I was trying to upload a file to minio, I got this error `You did not provide the number of bytes specified by the Content-Length HTTP header.`, However, I can use the same client code to upload the same file to real AWS S3 service

## Expected Behavior
If I can upload a file to `AWS s3`

[2019-11-08 18:39] poornas commented on #8434
WatchConfigNASDisk swallows the validation error  returned by loadConfig

[2019-11-08 20:01] kannappanr commented on #8500
@maxnilz Can you use the template provided? We need information like `minio version` etc. Also, can you provide a sample code to help reproduce the issue? You can also provide us with trace on `MinIO`, by running `mc admin trace -v <minio_alias>`

[2019-11-08 20:42] harshavardhana commented on #8092
This is a possible fix here https://github.com/minio/minio-py/pull/821/files

[2019-11-08 21:23] maxnilz commented on #8500
Hi thanks for your reply,
Actually, you can get all the information from the original issue description except the sample code, Anyway here is the retail:
1. `$ mino --version`:  `VERSION: 2019-10-12T01:39:57Z`
2. the `mc admin trace -v myminio`: is actually what I posted in the original one and here is the repost:
[code]
3. I can only provide some of the code snippet I'm using(which works well wh

[2019-11-08 21:24] nodesocket commented on #8495
@harshavardhana appreciate the response. It seems like `MINIO_BROWSER` was implemented which is pretty similar in scope. The problem with adding NGINX or a proxy is how do I allow access to the s3 compatible interface to the world, but only limit access to the web interface?

[2019-11-08 21:31] harshavardhana commented on #8495
@nodesocket you can add the CIDR rule to `/minio` requests

[2019-11-08 21:37] harshavardhana commented on #8500
Please provide request tracing from the client as well @maxnilz

[2019-11-08 21:43] maxnilz commented on #8500
Yep, Could you please guide me for that, since I've no idea about what's you expected client-side tracing
Thanks

[2019-11-08 21:44] harshavardhana commented on #8500
https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide/logging.html something like this

[2019-11-08 22:01] maxnilz commented on #8500
Hi, I enable the trace level of the `aws-cpp-sdk`, and here is the client-side trace

[aws_sdk_2019-11-08-21.log](https://github.com/minio/minio/files/3826446/aws_sdk_2019-11-08-21.log)

[2019-11-08 23:26] poornas commented on #8434
[code]
Instead of pointing to `mc admin`, we need comprehensive docs on fixing the config and recovering to fully operational mode here.

[2019-11-09 10:18] xcdr commented on #8488
Today at ~6 am crashed minio-1, rclone works on minio-2 and minio-3.

Second mirror is much, much longer than first to empty bucket (first one was completed at one night).

UPDATE: minio-3 crashed at 11:28 am, rsync still mirroring, 3 times longer than first mirror and not finished.

[2019-11-09 16:29] #8092 closed, assigned to harshavardhana

[2019-11-09 16:54] kannappanr commented on #8499
@McPo With PR #8487 you should have lots of these features available and be able to lock down admin access. Closing this issue as answered, please feel free to let us know if you have further questions.

[2019-11-09 16:54] #8499 closed, assigned to nobody

[2019-11-09 17:10] #8458 closed, assigned to klauspost

[2019-11-10 01:44] harshavardhana commented on #8468
@xianshun163 there is no such thing in MinIO, MinIO writes in O_direct avoiding page cache. And MinIO is also strictly consistent.. all writes hit the disk as they are uploaded by the client.

This issue is about auto heal and disk usage thread, unrelated to your question. Let's talk in more detail on https://slack.min.io

Let's leave this issue to assigned people to debug.

[2019-11-10 02:16] harshavardhana commented on #8434
Scenario auto-heal of config when one of the node is down in distributed setup
[code]

[code]

[code]

Rotate creds when one of the server is down
[code]
[code]

All start-up, now bring the downed node back
[code]

Auto-heal kicks in
[code]

[2019-11-10 02:28] harshavardhana commented on #8434
Pending items once again

- [ ] Merge env values with mc admin config get output using env: keyword, (this is still pending discussion)
- [ ] Instead of pointing to mc admin, we need comprehensive docs on fixing the config and recovering to fully operational mode here.
[code]

[2019-11-10 07:07] Praveenrajmani commented on #8488
@xcdr Can you submit memory & cpu profiles here for the analysis? You can use `mc` to create memory and cpu profiles. Check `mc admin profile -h`. You could start profiling by `mc admin profile start --type mem <alias>/` and stop it by `mc admin profile stop <alias>`

[2019-11-10 09:14] Praveenrajmani commented on #8488
@xcdr @harshavardhana I analyzed a memory profile on the following scenario. Dropping down the details for reference

-- Mirroring an already mirrored source and destination (with no diff) - 4 nodes with 1 disk each

<b> Type: inuse_space </b>

<b><i> localhost:9001 </i></b>

![image](https://user-images.githubusercontent.com/5410427/68541465-e72abd80-03c5-11ea-9242-391fd06da612.png)

<b><i> local