[2016-11-17 06:26] hackintoshrao opened #3274 "[distributed] `exec-concurrent TestPutObjectReadAt` test hangs with leaked go routines."
- `exec-concurrent TestPutObjectReadAt` test hangs on the distributed setup.
- Witnessed a severe Go routine leakage (Closely related to https://github.com/minio/minio/issues/3260)
## Expected Behavior

- Test to pass.
- Not to leave behind too many Go routines in the system.
## Current Behavior

- Everytime the test is executed the test hangs.
- Test is ran at Concurrency of 1 (just one) .
- The

[2016-11-17 06:29] hackintoshrao commented on #3274
After 16 minutes of leaving the test ( which was hung) , the number of go routines alive in the system increased to 127031 .  More the time the hanged test is left as it is, higher the increase in number of go routines alive.

[2016-11-17 07:30] harshavardhana commented on #3274
How did you test the number of go-routines?

[2016-11-17 07:41] harshavardhana commented on #3274
We can also get runtime.Stack() output by setting the StackTraceback("all") to capture the leaking go-routines, this would help track down these issues quickly.

[2016-11-17 07:44] hackintoshrao commented on #3274
Using the snippet below to obtain the number of go routines in the system.

[code]

Calling the HTTP handler from the load test program (exec-concurrent) before and after bombarding the load.

[2016-11-17 09:38] harshavardhana commented on #3274
For now primarily go-routine leaks look like coming from dsync.

[code]

This generally coincides with what we are seeing through go-routine results.

[code]

[code]

[2016-11-17 09:44] harshavardhana commented on #3274
ping @krisis @fwessels - would love to get some inputs here..

[2016-11-17 11:30] krishnasrinivas commented on #3259
JWT can be generated on the client side itself and this JWT can be verified in the "Login" step.

But "change secretkey" process will still happen unencrypted.

[2016-11-17 12:30] vadmeste commented on #3259
Looks like JWT supports payload encryption too:
https://connect2id.com/products/nimbus-jose-jwt/examples/jwt-with-rsa-encryption

However, we added TLS to help the user to secure his data + username/password. I don't think this is high priority.

[2016-11-17 12:46] krishnasrinivas commented on #3259
Oh, right, JWT already does encryption.

[2016-11-17 13:21] krisis commented on #3274
@harshavardhana I shall look into it.

[2016-11-17 13:27] krisis commented on #3111
I am looking into it alongside https://github.com/minio/minio/issues/3274. I expect to have more findings earlier than EOD Nov 19th.

[2016-11-17 13:42] fwessels commented on #3274
Also on FS I have seen some weird drops in performance after a while, maybe go-routine/garbage collection related too, we need to look into this.

Perhaps we can use some "pools" of go-routines in a few place in the code in order to promote re-use of go-routines rather than continuously creating new routines.

[2016-11-17 17:19] GarimaKapoor commented on #3169
@harshavardhana is this issue is duplicate of #3176 ?

[2016-11-17 17:56] harshavardhana commented on #3169
No @GarimaKapoor the situations are different. #3176 actually happened on a single node XL setup.

[2016-11-17 19:41] harshavardhana commented on #3259
You are right changing secret key has the same problem where in server cannot validate it.  Removing this as part of milestone.

Payload like this would require public/privatekey our UI doesn't cater for this, in-fact TLS would do something similar.

[2016-11-17 20:12] harshavardhana commented on #3260
We should capture stack-trace like we did with #3274 - to confirm the go-routine leak is same. If yes then we can close this as duplicate bug of #3274

[2016-11-17 20:12] harshavardhana commented on #3183
Taking this

[2016-11-17 23:53] harshavardhana commented on #3183
Tested this with latest master not able to reproduce.

Start minio servers like this

[code]

Run the following program.

[code]

Randomly take down nodes one by one and start them after a delay of 10-15secs, don't see any symptoms anymore. Repeated the same tests with taking 2 at a time as well no unexpected errors were observed.

Closing this bug as fixed in master.

[2016-11-17 23:53] #3183 closed, assigned to harshavardhana

[2016-11-18 03:40] hackintoshrao commented on #3198
Couldn't proceed, finishing the tests and reporting the issues. Will finish this weekend.

[2016-11-18 05:22] hackintoshrao opened #3275 "[distributed] Node fails to restart during round robin chaos test."
-  Under `exec-concurrent TestListPartiallyUploaded ` load at a concurrency of 5, one of the 7 nodes under chaos test fails to restart.
## Expected Behavior

- Gracefully restart during chaos test.
## Current Behavior

- Node6 fails to restart with the following error,

[code]
## Possible Solution

- Not sure.
## Steps to Reproduce (for bugs)

1. Run [Chaos test](https://github.com/minio/chaos).
[

[2016-11-18 09:58] krisis commented on #3111
## Test description

The python script used minio1 to perform the multipart upload. minio2 was brought down and back up while many concurrent multipart uploads were ongoing.

[Output snippets of backtrace, backend structure](https://gist.github.com/krisis/2e72c7ba7585768ae6662e805b9aa6f6) used in the following analysis.

## Analysis

The backend layout in the above gist for `my-boring-object-3` in

[2016-11-18 09:59] krisis commented on #3111
@harshavardhana @krishnasrinivas @donatello https://github.com/minio/minio/pull/3202 will fix this issue too. Do the objections in the PR apply to this case as well?

[2016-11-18 10:28] krisis commented on #3111
As per the closing comment in #3202 if we 'heal' `uploads.json` for all pending multipart uploads during startup of a minio server instance, this issue would also be addressed.

[2016-11-18 10:35] harshavardhana commented on #3111
We decided to heal the `uploads.json` rather than bringing quorum checks as stated in #3202, i am working on it.

Here on the other hand the panic should be still addressed by not panicking but cleanly returning the values upwards through the handlers back to the client.

[2016-11-18 10:39] krisis commented on #3111
OK, I shall send a PR to remove the panic and return an error instead, failing the PutObjecPart API request.

[2016-11-18 13:36] hackintoshrao opened #3276 "As buckets increase there is a increasing delay in initialization."
- With growing number of buckets in the backend, the initialization time of the server increases.
## Expected Behavior

- Not to have too much delay in initialization when there are large number of buckets in the backend.
## Current Behavior

- The initialization time grows with number of buckets in the system.
- Witnessed it with @harshavardhana  during chaos tests.

## Steps to Reproduce (for bu

[2016-11-18 13:37] hackintoshrao commented on #3275
After detailed investigation with @harshavardhana , there are more errors in the system which has to be ignored and tracing has to be introduced in these places.

[2016-11-18 14:16] vadmeste opened #3278 "[distributed] corrupted data when disk becomes full"
## Expected Behavior
Data are always sane

## Current Behavior
I can download a corrupted file without having mc returning an error

## Possible Solution

## Steps to Reproduce (for bugs)
1. Start from fresh disks.. but we need to have 2.3Gb remaining space
2. mc mb myminio/testbucket
3. mc cp 1gb.file myminio/testbucket/
4. mc cp 1gb.file myminio/testbucket/ (again)

It is normal if the second cp

[2016-11-18 14:34] vadmeste opened #3279 "[distributed] parallel multipart uploads of two different files makes the first file not able to reupload anymore"
## Expected Behavior
Re-uploading the same file again shouldn't fail

## Current Behavior
Cannot upload a file anymore with the same name

## Possible Solution

## Steps to Reproduce (for bugs)
1. 4 fresh disks
2. `mc mb myminio/testbucket/`
3. Two loops which upload the same file to different target names
`while true; do mc cp 70mb.bin myminio/testbucket/70mb.bin.1 ; done`
and
`while true; do mc

[2016-11-18 16:06] dcharbonnier opened #3280 "UI not encoding url resources"
- create a folder named "%s"
- clic on the ui
- you stay on the same folder and the url is /%s/

The url shoudl be /%25/ and the folder should change

[2016-11-18 16:09] vadmeste opened #3281 "fs: loop of parallel upload and remove of two different objects triggers an error sometimes"
The following code creates two go routines, each of them uploads a different object to `testbucket/dir`  (`dir` here is important) and remove it in a continuous manner,

I can have a random error like `go routine 2: test 212 => The specified key does not exist.`

Didn't investigate the issue, but this is probably related to the automatic remove of empty parent directory in posix.go

[code]

[2016-11-18 16:58] harshavardhana commented on #3278
This requires healing. To return an error we have to validate if what we read from xl.json also is correct   i.e on disk. Currently the object would proceed to read and fail. But the client would receive a 200 OK.

[2016-11-18 18:13] harshavardhana commented on #3176
This is related to #3279 the symptoms are pretty similar i think, we can get more 'mc ls' or like output.

[2016-11-18 19:25] shaon opened #3284 "PUT object response should include "ETag" instead of "Etag""
For PUT object requests, Minio response header includes "Etag", instead of "ETag". Apparently this compatibility mismatch breaks AWS SDK 1.7.1 and PUT object requests fails. However, it seem to work with AWS Java SDK 1.10.x.

## Expected Behavior
AWS responses for PUT object:
[code]
Also, according to the AWS Documentation it's "ETag",
http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.h

[2016-11-18 19:59] harshavardhana commented on #3284
HTTP response headers are case insensitive ETag, Etag, eTag all are allowed,

http://www.ietf.org/rfc/rfc2616.txt

[code]

 AWS Java SDK is buggy which needs to fix this bug.

[2016-11-18 20:01] harshavardhana commented on #3284
Here is the fix for AWS Java SDK - https://github.com/aws/aws-sdk-java/pull/590

[2016-11-18 20:01] #3284 closed, assigned to nobody

[2016-11-18 20:30] harshavardhana opened #3286 "[distributed] rpc/client: Track errors upto 5 attempts and do not attempt Login() after."
## Expected Behavior
Currently if a disk is down rpcClient would attempt a dial for each such an attempt. Instead the remote disk should be remembered as dead unless explicitly toggled by healing or management API call etc.

## Current Behavior
Each login attempts and fails but net.Dial can be an expensive operation.

## Possible Solution
Remember the errors and then permanently take the disk offl

[2016-11-18 20:38] harshavardhana commented on #3103
Moving this out of distributed milestone, since this can be done after as well.

[2016-11-18 20:41] shaon commented on #3284
Makes sense, thanks @harshavardhana!

[2016-11-18 20:51] vadmeste commented on #3279
I am taking this

[2016-11-19 10:11] koolhead17 opened #3290 "[distributed] update Docker doc once distributed is released."
As a reminder opening an issue, once our distributed server is available we need to update the install instructions with docker.

[2016-11-19 11:13] krisis opened #3291 "docker-compose.yml uses /export as data directory which conflicts with Dockerfile"
``docker-compose.yml`` uses ``/export`` directory for all the minio server instances. ``Dockerfile``, by itself, is aimed at single disk deployment. It uses ``/export`` directory to store a simple ``README.md``. This leaves a distributed setup built using ``docker-compose.yml`` have a directory while it is yet to be formatted. This is an undesirable initial setup.
## Expected Behavior

docker-comp

[2016-11-19 11:14] krisis commented on #3291
I'll take this up.

[2016-11-19 12:00] krisis commented on #3274
I am unable to recreate the issue with `4a926d1` on master branch using the steps to reproduce provided in the issue description. I am using a 8 node distributed setup using docker-compose.

[2016-11-19 16:01] vadmeste commented on #3279
`posix: Rename err = rename /tmp/standalone-xl/minio4/.minio.sys/multipart/testbucket/70mb.bin.1/uploads.json /tmp/standalone-xl/minio4/.minio.sys/tmp/3a7f88dc-7107-47c3-
9201-e666c1152f12: no such file or directory`

This happens because tmp directory is removed after checking if it exists in posix.RenameFile() and before populating the tmp dir

I added a hacky code which forbids the remove tmp d

[2016-11-19 18:42] #3291 closed, assigned to nobody

[2016-11-20 00:36] hackintoshrao commented on #3274
I have a 8node packet setup, will help you replicate.

[2016-11-20 01:37] #3275 closed, assigned to harshavardhana

[2016-11-20 20:41] balamurugana opened #3295 "minio does not honor content range in presigned post policy"
Below is the code snippet from minio-java functional test doing presigned post policy.  The code sets allowed content range from 1 MB to 4 MB and tries to upload 3 MB data using presigned post policy.

[code]

Below is request/response
[code]

## Expected Behavior
Content range should be honored

## Current Behavior
Returns `EntityTooLarge`

## Steps to Reproduce (for bugs)
1. start minio server
2

[2016-11-21 00:37] harshavardhana commented on #3279
Is this fixed already? @vadmeste

[2016-11-21 00:57] #3286 closed, assigned to harshavardhana

[2016-11-21 01:50] krisis commented on #3278
I am working on this. @harshavardhana, could you assign this to me.

[2016-11-21 03:41] krisis opened #3298 "reduceErrs should return maximally occurring error and its count"
[reduceErrs](https://github.com/minio/minio/blob/master/cmd/xl-v1-utils.go#L35) returns the error which occurs the most, filtering out ``ignoredErrs``. This is insufficient to know if the corresponding operation had the same result in quorum or more number of nodes.

## Expected Behavior

``reduceErrs`` should return maximally occurring error and its count
## Current Behavior

``reduceErrs`` retur

[2016-11-21 04:24] hackintoshrao commented on #3260
Opening issues for specific tests. closing this.

[2016-11-21 04:24] #3260 closed, assigned to nobody

[2016-11-21 04:38] harshavardhana commented on #3298
why should it return count? we are not using reduceErrs in case of quorum for that we have isDiskQuorum?

Also is this a blocker for the release @krisis ?

[2016-11-21 04:40] hackintoshrao opened #3299 "[distributed] Too many go routines in Sleep during chaos test with exec-concurrent load."
- During chaos test with the load of `time ./exec-concurrent TestGetObjectSeekEnd` at a concurrency of 50, too many go routines are left behind in sleep state.

## Expected Behavior

- The number of Go routines alive the system shouldn't increase significantly with each run of the test.
- Shouldn't leave behind  go routines in sleep state after the test. It increases almost linearly with run.

##

[2016-11-21 04:42] harshavardhana commented on #3299
Ping @krisis - are you taking this as well since ReadAt related bug is assigned to you.

[2016-11-21 04:54] harshavardhana commented on #3261
This is not a blocked for Distributed, moving this out.

[2016-11-21 04:57] harshavardhana commented on #3111
Fixed by #3277

[2016-11-21 04:57] #3111 closed, assigned to krisis

[2016-11-21 05:02] harshavardhana commented on #3098
Closing as duplicate of #2825

[2016-11-21 05:02] #3098 closed, assigned to nitisht

[2016-11-21 05:08] harshavardhana commented on #3176
This is most probably fixed by #3294 - not able to reproduce this issue anymore. Closing for now, will re-open if seen again.

[2016-11-21 05:08] #3176 closed, assigned to donatello

[2016-11-21 05:19] krisis commented on #3299
@harshavardhana yes, I will be working with @hackintoshrao to recreate this issue.

[2016-11-21 05:22] krisis commented on #3298
@harshavardhana isDiskQuorum only checks if quorum number of disks are operational. It doesn't indicate whether quorum or more number of disks/nodes are in agreement with the backend state. This is a blocker for the release.

[2016-11-21 05:31] harshavardhana commented on #3298
This is not a blocker - Can you provide a reproducible case for this? a sample program would be better or some scenario using chaos test.

[2016-11-21 06:18] hackintoshrao commented on #3299
Similar issues with `./exec-concurrent TestGetObjectClosedTwice` test too,

- [Here](https://play.minio.io:9000/rao/final-stack-trace-1.log) is the complete stack trace.
- Following is the highlights of the stack trace.
    -  ```sh
        $ grep "dsync" final-stack-trace.log | wc -l
         1256
[code]
    -  ```sh
        $ grep "sendRelease" final-stack-trace.log | wc -l
         578
[code]

[2016-11-21 06:57] hackintoshrao opened #3301 "[distributed] `exec-concurrent TestRemovePartiallyUploaded` fails when just one of the node is permanently down."
- When one of the node is permanently down `exec-concurrent TestRemovePartiallyUploaded` fails.
## Expected Behavior

- Test to pass since just one of the node is down and quorum is satisfied.
## Current Behavior

- Fails with `Specified Multipart Doesn't exist error`.
## Possible Solution

- Not sure.
## Steps to Reproduce (for bugs)

1. Bring any one of the node down.

2.Run `exec-concurrent Tes

[2016-11-21 07:14] hackintoshrao commented on #3274
Same issue is seen while running `exec-concurrent TestResumablePutObject` at an concurrency of 5, but the leakage is more explosive  here.

[2016-11-21 07:28] hackintoshrao commented on #3274
Similar issue originating originating from the same source during `time ./exec-concurrent TestResumableFPutObject` at a concurrency of 3.

[2016-11-21 07:38] hackintoshrao commented on #3274
- Again, Same issue originating from same source during `time ./exec-concurrent TestFPutObjectMultipart` at a concurrency of 3.
- Looks like the problem is occurring during any `PutObject` related operations.

[2016-11-21 07:57] hackintoshrao commented on #3274
- Same issue but reproduced in a very different way.
- Bring 4 out of 8 nodes down permanently.
- run `time ./exec-concurrent TestGetObjectReadSeekFunctional`.
- It hangs.
- Bring one node up in like 2 minutes.
- The number of go routines in the system grew from 28 to 1548 just in 2 minutes and all of the originating from the same source as above.

[2016-11-21 08:43] vadmeste commented on #3279
yes, this is fixed with https://github.com/minio/minio/pull/3294

[2016-11-21 08:48] harshavardhana commented on #3279
Closing.

[2016-11-21 08:48] #3279 closed, assigned to vadmeste

[2016-11-21 09:47] #3298 closed, assigned to nobody

[2016-11-21 10:56] elcolie opened #3305 "urlib3 ssl error"
urllib3 throws an error

## Expected Behavior
Not throw an
[code]

## Current Behavior
It throws
[code]

## Possible Solution
No found yet

## Steps to Reproduce (for bugs)

1. Install `django-storages`, `django-minio-storage`
1. Add 'storages' in the `INSTALLED_APPS`
1. Add variables as follows in Django config.py
[code]

## Context
Unable to run Django

## Your Environment
OSX 10.11.6
Django 1.9

[2016-11-21 11:23] krishnasrinivas commented on #3305
are you running minio on https? if not you have to make this value `False`

[2016-11-21 11:49] harshavardhana commented on #3281
This is not reproducible anymore with current master. Closing.

[2016-11-21 11:49] #3281 closed, assigned to nobody

[2016-11-21 12:15] #3295 closed, assigned to harshavardhana

[2016-11-21 12:17] harshavardhana commented on #3207
// cc @donatello is travelling, will be taking over this bug.

[2016-11-21 12:59] krisis commented on #3278
This issue is not reproducible in commit-id ``5197649``. I confirmed this with @vadmeste, you may close the issue. We can reopen this if it is seen again.

[2016-11-21 17:09] krishnasrinivas commented on #3223
@GarimaKapoor there is some race condition in the fix https://github.com/minio/minio/pull/3304 ... will report back once that race condition is fixed.

[2016-11-21 18:49] #3278 closed, assigned to krisis

[2016-11-21 19:42] harshavardhana commented on #3274
Fixed by #3308

[2016-11-21 19:50] GarimaKapoor commented on #3169
@harshavardhana do we have a fix for this?

[2016-11-21 19:51] harshavardhana commented on #3169
Yes working on it locally..

[2016-11-22 00:34] vadmeste opened #3310 "TestObjectAPIMultipartPutObjectStaleFiles fails under Windows"
## Expected Behavior
No stale files in put multipart objects

## Current Behavior
TestObjectAPIMultipartPutObjectStaleFiles fails under Windows

## Possible Solution
No solution

## Steps to Reproduce (for bugs)
go test -run=TestObjectAPIMultipartPutObjectStaleFiles

## Context
Need to check why TestObjectAPIMultipartPutObjectStaleFiles fails under Windows

## Your Environment
Windows amd64

[2016-11-22 00:34] #3199 closed, assigned to vadmeste

[2016-11-22 02:13] elcolie commented on #3305
@krishnasrinivas Good morning.
Yes. I want to run it on `https`
I had tried `concert`, but no luck
[code]

First one is my company website it has no `https` and later is customer website it has `https`

[2016-11-22 02:53] harshavardhana commented on #3305
You have to run 'concert' as root

[2016-11-22 02:54] harshavardhana commented on #3305
https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio - please follow this document use sudo as mentioned.

[2016-11-22 03:02] elcolie commented on #3305
[code]

[code]

[code]

Oh I miss `sudo`. Now new problem. Seems like my customer never use a `ssl` certificate.

[2016-11-22 03:14] harshavardhana commented on #3305
Looks the like there is a domain configuration issue, you need to be on the server itself to generate certs. i.e you should login to codium.co to generate certs.

You cannot generate otherwise.

[2016-11-22 03:22] elcolie commented on #3305
New knowledge for me thank you very much

[2016-11-22 03:22] #3305 closed, assigned to koolhead17

[2016-11-22 03:23] harshavardhana commented on #3305
You need to use tools like `certbot` but you need access to your DNS provider which allows for handshaking to happen to validate the domain names.

You can alternatively just use self signed certs - https://github.com/minio/minio/blob/master/docs/configure-minio-with-tls.md#with-generate_certgo-self-signed-certificate

[2016-11-22 03:33] harshavardhana commented on #3169
This patch is kind of ready but the problem is fundamental it is expensive to heal `uploads.json` as part of quickHeal -  It seems like this belongs to deep healing which we decided to do after this release in a proper healing implementation.

Need further discussion on this.

[2016-11-22 03:37] harshavardhana commented on #2386
@GarimaKapoor - This change is not finished yet, the change itself is larger with lot of changes across the code base. Since we are closing in on the release i am okay to put this into next one as there is too little time for this level of change to bring in.

The work on this patch is going on in parallel, don't want distributed release to hold off.

[2016-11-22 03:38] harshavardhana commented on #3207
A patch is available which works in this scenario, we need some discussion on the abstraction here.

[2016-11-22 03:58] krisis commented on #3301
@hackintoshrao could you re-run this test now that #3274 is fixed?

[2016-11-22 09:33] vadmeste opened #3313 "distributed/fs: Protect multipart directory from deletion"
We don't really need to remove .minio.sys/multipart directory when this latter becomes empty, we can avoid eventual bugs like that.

[2016-11-22 09:41] harshavardhana commented on #3313
are you planning to take this up? @vadmeste

[2016-11-22 09:42] vadmeste commented on #3313
Yes. Please assign this to me

[2016-11-22 10:38] sych74 commented on #2850
Hi guys, hope you are fine. I noticed some progress on the release. Is the distributed XL included in the release RELEASE.2016-10-07T01-16-39Z or the latest?
Thanks

[2016-11-22 11:04] krishnasrinivas commented on #2850
@sych74  distributed XL is not included in the release RELEASE.2016-10-07T01-16-39Z, available on master though.

[2016-11-22 16:16] yhafri opened #3314 "Running Minio on port "0" should print the right port allocated by the OS, not "0""
I'm trying to use Minio without specifying any fixed port number during startup.
For this, I'm relying on the OS to give me back a free port to use.

## Expected Behavior
$ minio server --address "127.0.0.1:0" /tmp/.s3share

Endpoint:  http://127.0.0.1:57088
AccessKey: KM6074YUX3OB5BK06D02
SecretKey: LuQwctJmvJQUyPA6ogYWKtkMLFo9uEBez6/5Y/o5
Region:    us-east-1
SqsARNs:

Browser Access:
   http://

[2016-11-22 17:34] hackintoshrao commented on #3299
- The issue is currently not seen with `./exec-concurrent TestGetObjectSeekEnd`.
- It can be seen with `./exec-concurrent TestGetObjectClosedTwice` and atleast one node should be going up/down.
- Also `./exec-concurrent  TestGetObjectClosedTwice` hangs if any one of the node is going up/down.

[2016-11-22 18:14] opendedup opened #3316 "api: CopyObject should support updating object metadata."
In order to update metadata from the AWS Java API you must use a copyobject call where the source and the destination object are the same but the metadata is different. This opperation fails with a " This copy request is illegal because it is trying to copy an object to itself" error when using minio
## Expected Behavior
Copy of an object over itself should not throw an exception. Especially if th

[2016-11-22 18:30] hackintoshrao commented on #3301
Yes. The issue still exists.

[2016-11-22 18:34] harshavardhana commented on #3316
Currently this is expected @opendedup - we are discouraging using lot metadata on server side and any operations related to this. Metadata that gets saved is not queriable in any form and object storage is not the real place to store this information.

A database should be used instead to store and query this information, but we will fix this lieu of S3 compatibility we strongly believe in minimiz

[2016-11-22 18:35] harshavardhana commented on #3301
Will validate @hackintoshrao

[2016-11-22 18:38] opendedup commented on #3316
I agree that there should not be a lot of metadata for objects but for
opendedupe some is required for encryption iv and counting object
references.

On Tue, Nov 22, 2016 at 10:34 AM, Harshavardhana notifications@github.com
wrote:

[2016-11-22 18:56] harshavardhana commented on #3316
We will work on addressing this thanks @opendedup

[2016-11-22 20:47] vadmeste opened #3317 "TestFSShutdown with naughty disks"
Review and fix eventually fs.Shutdown() with naughty disks

[2016-11-22 20:48] vadmeste commented on #3314
I am taking this

[2016-11-22 21:15] #3313 closed, assigned to vadmeste

[2016-11-22 21:16] harshavardhana commented on #2386
Moving this out of distributed release will address this in another release after distributed.

[2016-11-22 21:17] harshavardhana commented on #3169
This will be fixed when healing is implemented. Moving out of distributed release.

[2016-11-23 00:08] harshavardhana opened #3319 "docs: Document docker-machine usage on OS X properly"
https://docs.docker.com/machine/get-started/ - Requires special handling of network etc.

[2016-11-23 01:01] harshavardhana commented on #3314
Fixed by #3318

[2016-11-23 01:01] #3314 closed, assigned to vadmeste

[2016-11-23 01:30] GarimaKapoor commented on #3097
@koolhead17 any update on this?

[2016-11-23 03:10] harshavardhana opened #3323 "config: Remove syslog logging"
[code]
## Expected Behavior
Syslog is hardly used and has stale code.  Which should be removed.

## Current Behavior
Unnecessary stale code.

## Possible Solution
Remove the syslog code.

[2016-11-23 03:17] harshavardhana opened #3325 "config: Do not print in json when console and file logging both are enabled"
[code]

## Expected Behavior
Console should print independent of file logging format.

## Current Behavior
Console changes it logging format and is overridden by file logging.

[2016-11-23 04:07] harshavardhana opened #3328 "log: do not print common error messages for known good cases"
## Expected Behavior
Currently we print log messages even for all the good cases, we should remove them and do not print them.

## Current Behavior
Printing logs even for "bucket not found".

## Possible Solution
Remove `bucket not found` error logging.  Errors like common messages shouldn't be printed.

[2016-11-23 04:12] harshavardhana opened #3329 "log: enhance error logging like printk messages."
## Expected Behavior
 Do not repeat printing  repeated log messages.

## Current Behavior
We print lot of log messages which are common, we should avoid them.

## Possible Solution
We need to bring in a framework to address this.

[2016-11-23 04:43] yhafri commented on #3314
Why forbid port 0 guys?

By opening this issue, I simply wanted to display the right information, not to forbid this neat OS feature.

Can you pleas eput back this option in place?

[2016-11-23 04:52] harshavardhana commented on #3314
Dynamically changing ports is a problem for single node and distributed setup.  If the servers in any moment gets restarted all your configured Apps, clients will fail since the endpoint comes with the port.  So it was a bug in the first place to allow this to happen.

[2016-11-23 06:08] yhafri commented on #3314
I completely understand this use case, but our is very different.

In your case, you simply don't have to rely on port=0 at all, and problem's solved.
Just used any port than 0. It was like that since day one.

In our case, we're offering a sharing service based on ephemeral ports to hundred of clients.
When the system's up, they all received an email (or pagerduty, etc.) with the newly created En

[2016-11-23 06:39] harshavardhana commented on #3314
We can handle this separately for only FS but the problem is that the logic of free port assignment is not Minio's responsibility. If the port assigning is managed properly outside of the Minio then this issue never occurs. For example a simple wrapper function which calls Minio with right free port as needed.

Can you explain more how does a restart is handled in your application basically if 'mi

[2016-11-23 06:42] harshavardhana commented on #3299
Moving this out of distributed release as decided..

[2016-11-23 07:09] yhafri commented on #3314
Totally agree, It's our responsibility as Minio users to decide whether to use port 0 or not.

And this is exactly why i originally opened  this request for enhancement (**not a bug**).
This is a neat OS feature provided for free.

We've a wrapper: we call it a **supervisor** and it's more than a simple wrapper.

We use a homemade supervisor process to start Minio instances. The supervisor handles

[2016-11-23 07:23] yhafri commented on #3314
One more thing: currently, we rely on external tool/script to detect the PORT number assigned to the Minio instance (started with port 0).

But this can be solved in an even simpler way. See this:

[code]

Assume the above output is fixed (displaying 8888 instead of 0), the *supervisor* or any wrapper can parse this output to figure out the port 8888.

Even better, if in the future *minio* can be

[2016-11-23 07:53] harshavardhana commented on #3314
Okay now i see what the supervisor is doing - rather than remembering what was assigned to and then restarting the minio server with that port. It is better for supervisor to know which port it is going to assign to Minio.

A simple function like this can do the job, this way ports are managed outside for example even a bug in your system when the state never gets saved due to an issue in capturin

[2016-11-23 09:33] koolhead17 commented on #3097
@GarimaKapoor will need some more time for this. Will update it soon I have the test done on drupal8.

[2016-11-23 09:45] koolhead17 commented on #3319
@harshavardhana need more clarity here.

I have run Minio FS with Docker Toolbox using Virtualbox out of the box. The network should have a DHCP server running to the instance acquires the IP. What is the specific steps we are talking about?

[2016-11-23 10:14] harshavardhana commented on #3319
This is using docker-machine not docker toolbox, seems like one of the user from cloud foundry had lot of trouble.

[2016-11-23 10:23] koolhead17 commented on #3319
@harshavardhana recommended way of running docker machine is via docker toolbox.

https://docs.docker.com/machine/install-machine/
On macOS and Windows, Machine is installed along with other Docker products when you install the Docker Toolbox.

Installing Docker anyways is pre-requisite for running  Minio on Docker.  Installing Docker is beyond scope of us.

[2016-11-23 10:28] harshavardhana commented on #3319
Agreed @koolhead17 - closing.

[2016-11-23 10:28] #3319 closed, assigned to koolhead17

[2016-11-23 14:54] vadmeste commented on #3325
Working on this

[2016-11-23 15:46] yhafri commented on #3314
Hi

Thanks for the hint. Our supervisor is much more complex and works in a distributed manner: cross-nodes and cross-data center.

Happy you're keeping this neat OS feature, and hope you'll also fix Minio's output when port is set to 0.

[2016-11-23 15:55] yhafri opened #3332 "init: Add --json flag to "minio" (enhancement)"
This new flag **--json** will mimic the same option as in *mc*.
Instead of displaying raw data, format everything in _JSON_

Currently, we've:

[code]
## Expected Behavior

With the *--json* flag in place, we get this instead:

[code]

## Current Behavior

The output information is very helpful and can be used for other purposes (see: [#3314](https://github.com/minio/minio/issues/3314)).

[2016-11-23 19:35] #3325 closed, assigned to nobody

[2016-11-23 19:40] vadmeste commented on #3323
Working on this

[2016-11-23 19:41] vadmeste commented on #3328
I think we need to add Debug loglevel error, what do you think ?

[2016-11-23 19:46] harshavardhana commented on #3328
We don't need to we decided not to print such messages for now.

[2016-11-23 19:51] balamurugana commented on #3328
A good question would be whether such logs are useful for debugging or not.  Most of the cases debug logs won't be that useful (learned from Gluster)

[2016-11-23 20:58] harshavardhana commented on #3301
what was the final status here? @hackintoshrao @krisis .

[2016-11-23 23:00] #3323 closed, assigned to nobody

[2016-11-23 23:18] harshavardhana commented on #3274
Reverted the fix for this change, re-opening the bug.

[2016-11-23 23:48] #3207 closed, assigned to harshavardhana

[2016-11-24 00:17] harshavardhana commented on #3328
Patch sent #3340

[2016-11-24 00:36] #3229 closed, assigned to harshavardhana

[2016-11-24 00:36] harshavardhana commented on #2815
This is fixed by #3340

[2016-11-24 00:36] #2815 closed, assigned to harshavardhana

[2016-11-24 00:37] #3328 closed, assigned to nobody

[2016-11-24 00:41] harshavardhana commented on #2453
This activity was finished by @balamurugana . Closing.

[2016-11-24 00:41] #2453 closed, assigned to krishnasrinivas, hackintoshrao

[2016-11-24 00:42] harshavardhana commented on #2455
This activity was finished by @balamurugana and @hackintoshrao

[2016-11-24 00:42] #2455 closed, assigned to balamurugana, hackintoshrao

[2016-11-24 03:13] hackintoshrao commented on #3301
The issue persists. Now that https://github.com/minio/minio/issues/3274 is opened that has to be fixed first.

[2016-11-24 03:47] nitisht commented on #2574
Documentation merged with #3342

[2016-11-24 04:04] harshavardhana commented on #2574
Closing .. merged in #3342

[2016-11-24 04:04] #2574 closed, assigned to nitisht

[2016-11-24 23:24] harshavardhana commented on #2850
@sych74 - distributed XL version has been released.. - https://github.com/minio/minio/releases/tag/RELEASE.2016-11-24T02-09-08Z

[2016-11-24 23:25] harshavardhana commented on #2850
https://github.com/minio/minio/tree/master/docs/distributed for distributed quick start guide.

[2016-11-25 16:59] krishnasrinivas commented on #3223
@henryzzhang can you check with the latest release? a bug fix related to this issue has been committed.

[2016-11-25 18:58] ghost opened #3349 "Minio client API calls fail with unknown errors if data directory access permission is incorrect"
This issue is noted when "data" directory access permission is incorrect and API call is trying to add an object with name as "prefix1/prefix2/filename"

## Expected Behavior
Appropriate directories should be created as well as file must be created in the directory.

## Current Behavior

The issue has been tested with NodeJS API as well as AWS NodeJs SDK. Both are failing. Minio JS API issue is no

[2016-11-25 23:37] vadmeste opened #3351 "fs: TestAPIAbortMultipartHandler sporadically fails under Windows"
Below is the log of the failed test: (I added a log to print the real cause of the error)

[code]

In Windows, I can reproduce this error ```: The process cannot access the file because it is being used by another process.``` with the following code:

[code]

The sample code opens a file and tries to remove it before closing the fd.

So, it looks like the problem is that we are aborting the multip

[2016-11-26 05:52] sych74 commented on #2850
@harshavardhana thank you for letting me know, but I can't find a related docker tag https://hub.docker.com/r/minio/minio/tags/.

Btw, I passed the update to our marketing department, so they are going to publish a blog post about minio in Jelastic the next week or week after the next.

[2016-11-26 06:07] harshavardhana commented on #2850
@sych74 "docker pull minio/minio" has distributed support.

[2016-11-26 19:29] yhafri commented on #3314
Hi  harshavardhana
Any update on this? I'm asking because the issue is still tagged as closed.
[code]
Thank you.

[2016-11-26 19:49] sych74 commented on #2850
Ok, got it, it means tag is the :latest. Thanks for clarification.

[2016-11-27 05:32] harshavardhana commented on #2850
Yes @sych74 , please do let us know how it goes.

[2016-11-27 11:34] krishnasrinivas opened #3352 "backend: Namespace conflict with policy.json and actual object called policy.json"
`mc policy both myminio/test` fails, refer to steps-to-repro for details.

## Expected Behavior
`mc policy both myminio/test` should work

## Steps to Reproduce (for bugs)
[code]

minio server logs:
[code]

[2016-11-27 16:13] krisis commented on #3349
@sachinwalia2k8 I get the following error when I attempt to start minio server on a root owned data directory.
[code]
I have built minio server from source. See version below.
[code]
Could you confirm that with the above (or later) version you don't see minio server starting up and failing only on uploading of objects with slash separated prefixes, as you observed with an earlier version?

[2016-11-27 16:18] krisis commented on #3310
@vadmeste are you working on this? If not, I could take this up.

[2016-11-27 16:21] vadmeste commented on #3310
hey @krisis, sorry the title was misleading.. I am not working on it.. You can take it if you want.

[2016-11-27 22:36] vadmeste opened #3354 "server: --config-dir and --quiet should be honored when placed after 'server' argument"
## Expected Behavior
./minio server --config-dir /home/me/config ./photos should load config from /home/me/config

## Current Behavior
Still using ~/.minio

## Your Environment
All

[2016-11-28 00:29] szepeviktor commented on #3280
The URL should be `/%25s/`

[2016-11-28 04:25] harshavardhana opened #3357 "unable to do cloudberry backup because of "pathing" error?"
Could very well be user but here is the information. Any assistance will be helpful.

error code:
time="2016-11-25T21:41:05-06:00" level=error msg="Unable to create an object." cause="mkdir \\?\c:\backups\backups\testing\MBS-eb2917ef-a3bc-4e8e-8652-3a1cb2fdb7e8\CBB_HUNTING_WABBIT\C:: The filename, directory name, or volume label syntax is incorrect." source="[object-handlers.go:447:objectAPIHandle

[2016-11-28 04:26] harshavardhana commented on #3357
// cc @BilliumG @erudinsky @koolhead17

[2016-11-28 04:27] harshavardhana commented on #3357
From @koolhead17  - https://github.com/minio/awesome-minio/issues/22

Hello @BilliumG Is your bucket name correct because the error ``The filename, directory name, or volume label syntax is incorrect."`` ?
Also please follow [https://github.com/minio/cookbook/blob/master/docs/how-to-use-cloudberry-drive-with-minio.md](https://github.com/minio/cookbook/blob/master/docs/how-to-use-cloudberry-drive-w

[2016-11-28 04:28] harshavardhana commented on #3357
From @erudinsky - https://github.com/minio/awesome-minio/issues/22

@BilliumG where do you run Minio? Windows? What backup type (file level etc) / what settings applied?

[2016-11-28 04:33] BilliumG commented on #3357
@harshavardhana  - not wanting to use cloudberry drive.  Just backup to bucket.  the bucket name is "testing" and should not be an issues

@erudinsky - Windows Server 2016 with command minio.exe sever c:\backups\backups.  backup fails with both image and file level backups

[2016-11-28 04:34] harshavardhana commented on #3357
Thanks @BilliumG

[2016-11-28 04:35] BilliumG commented on #3357
[dir list.txt](https://github.com/minio/minio/files/615382/dir.list.txt) - directory list from request in chat.

[2016-11-28 06:05] BilliumG commented on #3357
[minio.log.txt](https://github.com/minio/minio/files/615493/minio.log.txt)

[2016-11-28 08:49] harshavardhana opened #3359 "server: Support ipv6 with minio server"
## Expected Behavior
Minio server should support ipv6 and should be accessible through them.

## Current Behavior
Minio server does not support ipv6.

## Possible Solution
We need to see if we are handling the ipv6 ip's properly.

[2016-11-28 11:36] krisis commented on #3299
With fix (https://github.com/minio/dsync/pull/34) in dsync, this issue was not reproducible as described. The test case executed using exec-concurrent binary were killed by OOM killer. Minio server was not hung and responded to chaos-test's health check, start and stop actions. Fixing excessive memory consumption of exec-concurrent tests is a separate issue.

[2016-11-28 11:38] krisis commented on #3274
This issue was not reproducible with a fix (https://github.com/minio/dsync/pull/34) to dsync. @harshavardhana if the dsync fix is fine, we could vendor-in the changes.

[2016-11-28 13:42] BilliumG commented on #3357
Is this for CBB client or minio?

Thank You,
Bill Gerth
Vice President – Cloud Services Infrastructure and Support
BGerth@INGTS.com<mailto:BGerth@INGTS.com>
Office: 407-641-4211 x0110
Cell: 321 331 2698
[iNETWORKS Group]

From: erudinsky [mailto:notifications@github.com]
Sent: Monday, November 28, 2016 8:41 AM
To: minio/minio <minio@noreply.github.com>
Cc: Bill Gerth <bgerth@ingts.com>; Mention <m

[2016-11-28 13:44] erudinsky commented on #3357
Disregard that comment. We are trying to reproduce this issue.
Can you help us with logs like written [here](http://kb.cloudberrylab.com/kb1026/) please? Leave support as reference.

[2016-11-28 17:12] harshavardhana commented on #3274
Send the vendor update patch.

[2016-11-28 17:23] krisis commented on #3274
@harshavardhana the vendor update patch would include reducing dsync requirements for node count to 2, which is still under discussion w.r.t minio server? How should we go about it?

[2016-11-28 17:50] harshavardhana commented on #3274
Oh that patch should be reverted `dsync`.

[2016-11-28 17:59] ghost commented on #3349
@krisis - the issue in my case was that /opt - was owned by root.
/opt/myapp/minio/data - was owned by minio user.
I think you may be able to reproduce this without running minio.
Without giving permission via "chown" try creating a folder inside /opt/myapp/minio/data/bucket and it should generate an error.

[2016-11-28 18:16] koolhead17 commented on #3290
We can close this via minio/minio#3362

cc @deekoder

[2016-11-28 18:28] krisis commented on #3349
@sachinwalia2k8 This is what I observe when I tried the above,
1. /opt/myapp/minio/data is initially owned by root
[code]
2. We change owner to kp
[code]

3. Was able to create a directory bucket under /opt/myapp/minio/data as user kp.
[code]
IIUC, you weren't able to create a directory like bucket above. Could you paste your output for this experiment in the backend filesystem you are using for m

[2016-11-28 18:55] BilliumG commented on #3357
[rmservice.log.txt](https://github.com/minio/minio/files/617176/rmservice.log.txt)
[Task Scheduler.log.txt](https://github.com/minio/minio/files/617177/Task.Scheduler.log.txt)
[ef658ddf-f1d6-495b-989b-515d17fd0372.log.txt](https://github.com/minio/minio/files/617178/ef658ddf-f1d6-495b-989b-515d17fd0372.log.txt)
[Inetworks Online Backup.log.txt](https://github.com/minio/minio/files/617179/Inetworks

[2016-11-28 20:15] #3354 closed, assigned to nobody

[2016-11-28 20:28] krishnasrinivas commented on #3357
minio.log.txt:
[code]

`mkdir \\\\?\\c:\\backups\\backups\\testing\\MBS-eb2917ef-a3bc-4e8e-8652-3a1cb2fdb7e8\\CBB_HUNTING_WABBIT\\CBB_Configuration\\enginesettings.list:`

is failing, need to check about the initial `\\\\?` string in the path is causing any issue.

[2016-11-28 20:44] BilliumG commented on #3357
Is this an adjustment I can make?

[2016-11-28 22:42] harshavardhana commented on #3301
This error occurs due to the same reason of all the multipart issues when an on-going multipart id is not present on one of the nodes.. We have to bring in healing.

Also update minio-go @vadmeste introduced a mechanism where the upload-ID will be re-negotiated.

[2016-11-28 22:43] harshavardhana commented on #3274
Dsync is updated can you send a vendorized change for dsync?

[2016-11-29 00:23] szepeviktor opened #3363 "Older go versions"
Hello!

First I've tried installing with go 1.6 and I've got an error message x509.somethinpool... is missing

After some time I've realized minio needs go 1.7

Could it be that there warning message is not appearing on go 1.6?
https://github.com/minio/minio/blob/ca3022d5450cee5e6b39bcfe6126231ff9302262/cmd/runtime-checks.go#L28

[2016-11-29 00:25] harshavardhana commented on #3363
We don't support older Go versions.   Go 1.7 and newer is supported.

[2016-11-29 00:28] harshavardhana commented on #3363
'checkGoVersion()' is executed at runtime and also 'make' validates the go version. Using 'go get' we couldn't restrict which version it should use.

[2016-11-29 00:30] szepeviktor commented on #3363
Thank you.

So `go get` has no mechanism to check runtime version (like composer does).

[2016-11-29 00:30] #3363 closed, assigned to nobody

[2016-11-29 02:11] szepeviktor opened #3364 "Marker not common with prefix is not implemented"
I've just ran into this.

https://github.com/minio/minio/blob/bef0a50bc1651960e3c83a173614ae8c84544fd1/cmd/bucket-handlers.go#L139
https://github.com/minio/minio/blob/bef0a50bc1651960e3c83a173614ae8c84544fd1/cmd/bucket-handlers-listobjects.go#L44

Are there plans to implement prefix?

I use s3ql with a prefix set.

[2016-11-29 02:21] harshavardhana commented on #3364
Can you paste the s3ql test script?

[2016-11-29 02:30] szepeviktor commented on #3364
~.s3ql/authinfo2
[code]
fsck.s3ql runs ok with prefix
and `mount.s3ql --backend-options no-ssl s3c://1.2.3.4:9000/bucket01/pref_ /mnt`

[code]

Later I've dumped the sent headers:
[code]

Latest minio on go 1.7.3 + S3QL 2.21

[2016-11-29 03:52] harshavardhana commented on #3364
There is a bug in how s3ql sends the marker - marker and prefix are interchanged.

[2016-11-29 03:52] harshavardhana commented on #3364
```2016-11-28 19:50:18.241 19887:MainThread s3ql.backends.s3c._send_request: sending GET /testbucket/?max-keys=1000&marker=prefix&prefix=prefixs3ql_seq_no_```

This is not needed.

[2016-11-29 04:20] szepeviktor commented on #3364
@Nikratio Could you help us?

[2016-11-29 04:24] harshavardhana commented on #3364
[code]

[2016-11-29 04:24] harshavardhana commented on #3364
this might fix the problem @szepeviktor

[2016-11-29 04:26] harshavardhana commented on #3364
can you apply this patch locally and test it?

[2016-11-29 04:36] szepeviktor commented on #3364
Thank you!

`Mounting s3c://1.2.3.4:9000/bocket01/pref_ at /mnt...`

[2016-11-29 04:40] szepeviktor commented on #3364
https://bitbucket.org/nikratio/s3ql/issues/242/setting-marker-on-s3

Thank you again.

[2016-11-29 04:40] #3364 closed, assigned to harshavardhana

[2016-11-29 07:03] #3274 closed, assigned to krisis

[2016-11-29 07:03] #3299 closed, assigned to krisis

[2016-11-29 08:56] koolhead17 commented on #3239
@harshavardhana Can this be closed after adding  ``ETag is supported with Distributed & works with FS`` as well to FAQ?

[2016-11-29 09:04] hackintoshrao commented on #3301
Will revalidate nce the patches are in.

[2016-11-29 09:04] harshavardhana commented on #3239
Oh yes this is no longer valid.

[2016-11-29 09:05] harshavardhana commented on #3239
Wait re-opening we still need to discuss about the other points @krishnasrinivas has mentioned. So keeping it open for discussion.

[2016-11-29 09:09] koolhead17 commented on #2829
@sych74 We have made distributed release and installation details are available on [https://docs.minio.io/docs/minio-docker-quickstart-guide](https://docs.minio.io/docs/minio-docker-quickstart-guide)

[2016-11-29 11:40] krisis commented on #3357
@erudinsky I found the following line in ``ef658ddf-f1d6-495b-989b-515d17fd0372.log.txt``.
[code]
In this Destination has a `:` in its path. Does CBB add that to the destination path? Minio server uses UNC path in windows and `:` is a reserved character. (ref: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx)

[2016-11-29 14:21] BilliumG commented on #3357
Per CBB tech i spoke with on chat when minio was suggested.  CBB had this setup in house.  What version of the software was that at least so i can finish my testing and move foward.
@erudinsky

[2016-11-29 19:03] erudinsky commented on #3357
@BilliumG CBB uses S3 compatible interface and has the same as for AWS S3 data structure for backups (e.g. in advanced/simple mode you have colon in folders names). Colon is reserved by Windows (not allowed) as @krisis mentioned. So your options for Windows use custom path mode (you should be able to store your content in S3 «as is», without CBB structure, thus without colon symbol). Another optio

[2016-11-29 19:32] BilliumG commented on #3357
(e.g. in advanced/simple mode you have colon in folders names) - where is the set.

we are backing up to S3 now with no issues.

[2016-11-29 20:18] erudinsky commented on #3357
@BilliumG you can backup to Minio also as it is compatible with S3 interface with some constrains (like above). We (CBB) can't really change this strategy as it breaks other providers (S3 compatible interface). Workarounds explained above ^

[2016-11-29 20:20] BilliumG commented on #3357
@erudinsky so what do you have running in your office.  windows or linux flavor.  and i do not choose how to backup cbb is placing the files that way

[2016-11-29 20:21] erudinsky commented on #3357
@BilliumG not sure if I understood your question.

[2016-11-29 20:22] BilliumG commented on #3357
@harshavardhana @krishnasrinivas @krisis
is this there a way to use minio is simple mode - see notes above.

@erudinsky so minio is no go with cbb on windows server.

[2016-11-29 20:37] harshavardhana commented on #3357
Minio doesn't have any simple mode i think the suggestion by @erudinsky

- So your options for Windows use custom path mode (you should be able to store your content in S3 «as is», without CBB structure, thus without colon symbol).  You can use this with minio server on windows as well right now.

- Another option - mount Minio server to other FS (e.g. ZFS) that allows colons in your files / folde

[2016-11-29 20:38] BilliumG commented on #3357
@harshavardhana
Windows use custom path mode - how do you do you do this?  Google turned nothing up

[2016-11-29 20:39] harshavardhana commented on #3357
I think its a CBB feature @erudinsky ??

[2016-11-29 22:22] erudinsky commented on #3357
@harshavardhana @BilliumG Details are below. Yes, this is CBB feature, correct.

I was talking about "custom path" in CBB product. Check screenshots below.

![screen shot 2016-11-29 at 14 18 59](https://cloud.githubusercontent.com/assets/9085802/20731416/31044548-b63f-11e6-89c4-4829299734fa.png)
Picture 1: your file level backup configuration with custom path.

![screen shot 2016-11-29 at 14 19 13

[2016-11-30 00:53] BilliumG commented on #3357
@erudinsky i do not have this option on my CBB backup.  What version is this?  I am using 5.2.0.361. I do not have these options.

[2016-11-30 03:41] diffnull opened #3370 "Safe file uploading"
When I use `mc cp` to upload file and the other process is simultaneously downloading object with same name using `mc cp` too, eventually downloading breaks down due to file size changing. How can I safely upload file to minio bucket?

[2016-11-30 04:41] harshavardhana commented on #3370
Can you provide a reproducer for this when this happens? @elyzov - a sample script etc.

[2016-11-30 05:09] diffnull commented on #3370
There are two files in my play bucket:
[code]
If you download one of this files
[code]
And trying to upload downloaded file with another name (to simulate content file changing)
[code]
And in another console trying to download this file
[code]
You'll get the following error
[code]

[2016-11-30 06:34] harshavardhana commented on #3370
Checking.. @elyzov

[2016-11-30 06:39] krishnasrinivas commented on #3370
@harshavardhana https://github.com/minio/minio/issues/2912 might be causing it

[2016-11-30 06:42] krishnasrinivas commented on #3370
shucks, looks like we are also not holding lock in `func (fs fsObjects) CompleteMultipartUpload()`

[2016-11-30 06:44] harshavardhana commented on #3370
Yes but 'play' is not using FS it is XL.

[2016-11-30 06:45] harshavardhana commented on #3370
i am not able to simulate it @elyzov - can you keep the same files on play for us to download and test?

[2016-11-30 07:54] diffnull commented on #3370
@harshavardhana sorry, I've recovered files in play as describe in example:
[code]

Also, you may wait awhile before start downloading in the another console (in this case file will be overrided before download has finished).

[2016-11-30 08:10] harshavardhana commented on #3370
Understood thanks @elyzov

[2016-11-30 14:17] sych74 commented on #2829
Passed to QA department today, expecting to get results the next week, will keep you informed.

[2016-11-30 15:41] dcharbonnier opened #3372 "inconsistent StorageInfo on cluster"
4 physical servers running the edge version of minio with docker.
It's a staging environment and the minio are restarted frequently in //
Sometimes the StorageInfo call does not return the same info for all servers, restarting the "failing" server fix the problem, the data are **not changed** between the restarts, we do **not** remove the exported folder.

It would be better to consistently restar

[2016-11-30 15:47] krishnasrinivas opened #3373 "listBuckets should work with requests signed with any region"
listBuckets call on AWS-S3 on host `s3-us-west-2.amazonaws.com` signed with `us-west-2` region works fine. But fails with `Region does not match` on minio server when non `us-east-1` region is configured in config.json

On aws-s3:
[code]

on minio
[code]

## Context
Requested by @jdanders on gitter.im/minio

[2016-11-30 18:16] harshavardhana commented on #3372
Thanks @dcharbonnier

[2016-11-30 18:24] vadmeste commented on #3372
@dcharbonnier also reported that sometimes, one node is not able to reach another node (3 onlines, 1 offline) after restarting servers though he is sure that connections between servers are excellent.

[2016-11-30 19:59] harshavardhana commented on #3372
@dcharbonnier - is the "/export" ephemeral here or persistent?  also is the backend export deleted during these runs?

[2016-11-30 20:20] dcharbonnier commented on #3372
@harshavardhana this morning it was after destroying the storage but after that it happened twice keeping the storage unchanged with simply a restart of all servers at the same time

[2016-11-30 20:44] BilliumG commented on #3357
@erudinsky .....bump

[2016-11-30 20:52] BilliumG commented on #3357
Support Team 1
Neither version for Managed Backup supports other modes than Advanced Mode

[2016-11-30 21:16] kmarquardt commented on #3357
I am going to try installing it on Ubuntu server and see if that works.

[2016-11-30 21:55] #3373 closed, assigned to nobody

[2016-12-01 04:56] #3310 closed, assigned to nobody

[2016-12-01 06:50] sudha53633 opened #3378 "php aws sdk version 1 with minio"
Hi there,

Really i love to use minio.

Currently i'm using php aws sdk for s3(version 1), I would like to use minio with php aws sdk version 1. I could able to work with php aws sdk version 3, everything working fine. but coming php aws sdk version 1 i don't find anything to configure minio access_key,secret & endpoint. Could you please help me out to work with version 1

Thanks
Sudhakar

[2016-12-01 07:02] koolhead17 commented on #3378
Hello @sudha53633
Thanks for your kind words.

AWS PHP1 is deprecated and not recommended by [AWS S3](https://github.com/amazonwebservices/aws-sdk-for-php), Since Minio compatible with AWS S3 API, we follow its latest API specification so we would recommend using version3.

Hope it helps!!

Atul

[2016-12-01 07:07] sudha53633 commented on #3378
Hmm, Thank you for quick response. Using latest version is best choice.

[2016-12-01 07:09] koolhead17 commented on #3378
yes @sudha53633.
Also if it is okey please close this issue. Feel free to reach out to us on our developer chat channel on [Gitter](https://gitter.im/minio/minio) for further help.

Thanks again, Welcome to Minio Community 😄

Atul

[2016-12-01 07:11] #3378 closed, assigned to nobody

[2016-12-01 15:22] vadmeste commented on #3280
I am taking this

[2016-12-01 17:09] sych74 commented on #2850
Hi guys, can you advice how to configure https? getting the error `Certificates not provided for https`
Thanks

[2016-12-01 17:59] harshavardhana commented on #2850
@sych74 do you have a SSL terminator or just accessing minio server directly ?

[2016-12-01 18:09] sych74 commented on #2850
yes, you are right, there is a load balancer terminator.

[2016-12-01 18:45] harshavardhana commented on #2850
Where do you see the above error ? On Minio console logs ?

[2016-12-01 18:48] sych74 commented on #2850
yes, in the console logs

[2016-12-01 18:50] harshavardhana commented on #2850
It means that the client is trying SSL but it's not configured. Can you try without SSL?

[2016-12-01 18:55] sych74 commented on #2850
w/o ssl it works fine

[2016-12-01 19:06] harshavardhana commented on #2850
To configure SSL you have to put certs into the "~/.minio/certs/" folder as mentioned here https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio

Otherwise you can configure the load balancer to have SSL and it just talks to minio internally without SSL.  Something like how an nginx proxy would do - https://docs.minio.io/docs/setup-nginx-proxy-with-minio

[2016-12-01 19:07] sych74 commented on #2850
Ok, thanks for the clarification, will check it out.

[2016-12-01 19:12] harshavardhana commented on #2850
Let us know if you see further issues.

[2016-12-01 20:38] vadmeste opened #3379 "presigned get: cannot share a prefix which contains unicode characters"
## Expected Behavior
Presigning objects with unicode characters work

## Current Behavior
URL like this doesn't work : http://127.0.0.1:9000/testbucket/%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9/index.html?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minio%2F20161201%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20161201T201642Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=c8dba

[2016-12-01 20:39] harshavardhana commented on #3379
how is the presigned URL obtained? @vadmeste

[2016-12-01 20:42] vadmeste commented on #3379
Minio Browser.

[2016-12-01 21:03] harshavardhana commented on #3379
Can you try with `mc share download` ? can you paste the difference?

[2016-12-01 21:21] vadmeste commented on #3379
This is a false bug.

[2016-12-01 21:21] #3379 closed, assigned to nobody

[2016-12-01 21:24] vadmeste commented on #3280
This is fixed with https://github.com/minio/miniobrowser/pull/250

[2016-12-01 21:25] vadmeste commented on #3317
I am taking this.

[2016-12-01 21:40] harshavardhana commented on #3280
Closing..

[2016-12-01 21:40] #3280 closed, assigned to nobody

[2016-12-01 21:59] #3317 closed, assigned to vadmeste

[2016-12-01 22:11] harshavardhana commented on #3276
ping @hackintoshrao can we test this again? if you have the setup handy let me know. Otherwise whenever you are free ping me.

We can see where does this slow down at what point by rapidly creating 1000's of buckets.

[2016-12-01 22:11] harshavardhana commented on #3301
ping @hackintoshrao - were you able to validate this again?

[2016-12-01 22:12] harshavardhana commented on #3301
Taking this.

[2016-12-01 22:13] harshavardhana commented on #3351
ping @krisis are you working on this already? i know @krishnasrinivas was going to fix this issue.

[2016-12-01 22:14] harshavardhana commented on #3359
// cc @justinclift - who originally asked for this feature.

[2016-12-01 22:17] #3259 closed, assigned to harshavardhana

[2016-12-01 22:20] harshavardhana commented on #3198
ping @hackintoshrao are you still working on this?

[2016-12-01 22:20] harshavardhana commented on #3223
A related bug fix was made to the minio master and released as well, closing this bug. Please re-open if seen again.

[2016-12-01 22:20] #3223 closed, assigned to krishnasrinivas

[2016-12-01 22:22] harshavardhana commented on #3173
https://github.com/felixge/httpsnoop - one such step in this direction.

[2016-12-01 22:24] harshavardhana commented on #3160
A patch has been sent but there are pitfalls on Linux which we need to discuss further, moving this to pending-discussion.

[2016-12-01 22:27] harshavardhana commented on #3097
ping @koolhead17 was there any issue with drupal testing with Minio?

[2016-12-01 22:29] sych74 commented on #2850
btw, why the SSL certificates are required for commutation across the nodes if I can upload files from browser w/o them. Does the communication work not over https?

[2016-12-01 22:33] harshavardhana commented on #2850
It is never required unless you already have certs it will automatically configure itself with SSL transport.  In a distributed setup if one node is SSL then all nodes need to be SSL .  It could be a configuration mistake, let's open a new github issue so we can start a fresh discussion.

Original intention of this github issue is complete - https://docs.minio.io/docs/distributed-minio-quickstart-

[2016-12-01 22:33] #2850 closed, assigned to harshavardhana

[2016-12-01 22:34] harshavardhana commented on #2920
Is this already done @koolhead17 @vadmeste ? - we can close this if docs are captured already.

[2016-12-01 22:37] harshavardhana commented on #2257
This was decided to be deferred or to be built around using bucket notifications to a database.  Closing this will re-open when we start the discussion again.

[2016-12-01 22:37] #2257 closed, assigned to nobody

[2016-12-01 22:39] harshavardhana commented on #2057
We never discussed about this after this was opened up since blake2b is working great do not know how much value this adds, closing this unless anyone has any concern keeping this open. We can re-open when we really need it.

[2016-12-01 22:39] #2057 closed, assigned to nobody

[2016-12-01 22:41] harshavardhana commented on #1366
Closing this github issue also as stale due to age. We can re-open when we plan in introducing this feature in future.

[2016-12-01 22:41] #1366 closed, assigned to nobody

[2016-12-01 22:44] harshavardhana opened #3382 "tls: Certificates not provided for https error"
@sych74 - wrote :

Hi guys, can you advice how to configure https? getting the error Certificates not provided for https
Thanks

@harshavardhana wrote :

To configure SSL you have to put certs into the "~/.minio/certs/" folder as mentioned here https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio

Otherwise you can configure the load balancer to have SSL and it just

[2016-12-01 22:45] harshavardhana commented on #3382
ping @sych74 - opened a new bug here to discuss about the TLS problems. Please let me know does this occur without configuring TLS? or is it the client that was requesting it?  etc.

[2016-12-01 22:47] harshavardhana commented on #3077
We decided to ship minio now always with ``brew`` does brew provide anything special for this?

[2016-12-01 22:53] sych74 commented on #3382
let me check couple more things, will follow-up

[2016-12-01 23:55] krisis commented on #3351
@harshavardhana, I am trying to recreate the issue, with no success yet. If @krishnasrinivas is aware of a fix he can take this issue from me.

[2016-12-02 01:04] harshavardhana commented on #3118
[code]

Consistently being able to run this on Linux kernel with the latest release. no issues. Did like a 1000 run will try this on OS X as well and report.

[2016-12-02 01:45] harshavardhana commented on #3118
Not able to reproduce on OS X either with latest release around 1000 runs completed without issues, closing this bug. @olalonde please re-open if seen again.

[2016-12-02 01:45] #3118 closed, assigned to harshavardhana

[2016-12-02 02:20] gebi commented on #3173
unfortunately this doesn't help much.

To double the speed of mino one needs to use a reverse proxy anyway, we eg. use nginx and gather all http related statistics of minio with nginx and a prometheus endpoint written with nginx+lua (including histograms of all url patterns important to us). [nginx-lua-prometheus]

What's not possible to get are latency statistics from the minio storage backend on

[2016-12-02 03:12] harshavardhana commented on #3382
Thanks @sych74 let us know.

[2016-12-02 07:05] hackintoshrao commented on #3198
Yes, will continue on this in couple of days.

[2016-12-02 07:06] hackintoshrao commented on #3276
I still have the backend for this. Will test it, gimme couple of days, wrapping up with other tasks.

[2016-12-02 07:53] justinclift commented on #3359
Cool. :smile:

[2016-12-02 07:59] justinclift commented on #3077
From memory, Homebrew doesn't sign third party binaries during the process (that'd probably be way too open to abuse).  Homebrew formulas themselves include a sha256 for each download (eg tarball, whatever), to verify the downloaded file is what's expected.  That doesn't help with OSX Gatekeeper stuff though.

From my perspective, having Homebrew compile and install Minio (unsigned) is probably "g

[2016-12-02 08:01] ilovezfs commented on #3077
Yes. But if you do need us to distribute signed binaries, then this applies:
https://github.com/caskroom/homebrew-cask/issues/25423

[2016-12-02 08:02] justinclift commented on #3077
Awesome @ilovezfs, thanks. :smile:

[2016-12-02 08:03] harshavardhana commented on #3077
Great thanks @ilovezfs @justinclift

[2016-12-02 09:02] koolhead17 commented on #3097
@harshavardhana I get back on this today and update it.

[2016-12-02 09:09] koolhead17 commented on #2920
@harshavardhana I need to test, will close the task this week.

[2016-12-02 09:30] sych74 commented on #3382
@harshavardhana, I suggest to close this issue for now, I implemented http for communication inside internal network and https via load balancer if requests are coming outside. Seems working fine so far.

[2016-12-02 10:05] harshavardhana commented on #3382
Great to know thanks @sych74

[2016-12-02 10:05] #3382 closed, assigned to nobody

[2016-12-02 10:45] vadmeste commented on #2920
@koolhead17, I already did a quick documentation, you can see it above and test again

[2016-12-02 14:36] vadmeste opened #3384 "Creating bucket fails when minio is configured with us-west-2 region"
## Expected Behavior
`mc mb myminio/testbucket/` works when minio is configured with a different region

## Current Behavior
[code]
## Possible Solution
Not known

## Steps to Reproduce (for bugs)
1. Configure minio with us-west-2 region in config.json
2. mc mb myminio/testbucket/

## Context
Normal testing

## Your Environment
All

[2016-12-02 14:39] vadmeste commented on #3384
Well this is expected.. but not sure if this is a minio or mc bug or not bug at all.

[2016-12-02 15:55] harshavardhana commented on #3384
This is not expected MakeBucket should honor the region like listBuckets() does. @vadmeste and should validate the region sent is right in the location constraint.

[2016-12-02 17:11] vadmeste opened #3385 "postform: uploading an empty file is not successful"
## Expected Behavior
Uploading an empty object via post form works

## Current Behavior
Uploading an empty object via post form doesn't work

## Possible Solution
Don't know

## Context
Normal testing

## Your Environment
All

I'll fix this after finishing the check post form

[2016-12-02 17:17] harshavardhana commented on #3385
Why should it not work ? Only if content length range is specified it makes sense to return error.

[2016-12-02 17:17] vadmeste commented on #3385
I meant it should work but it doesn't work actually

[2016-12-02 17:21] vadmeste commented on #3385
it works with XL but not with FS

[code]

[2016-12-02 22:17] henryzzhang commented on #3224
I just tested with the latest minio (built from source code).  The CompleteMultipartUpload ETag value is still not enclosed by "".  It should look like "\"c636647010481c1deeba83b353625946\""

[2016-12-02 22:24] harshavardhana commented on #3224
That is incorrect S3 replies with double quotes only, there are no double double quotes.

[code]

[2016-12-03 01:00] #3103 closed, assigned to vadmeste

[2016-12-03 01:08] harshavardhana commented on #3384
This is expected

[code]

[2016-12-03 01:08] #3384 closed, assigned to nobody

[2016-12-03 01:11] harshavardhana commented on #3372
I have tried reproducing this @dcharbonnier - but not able to reproduce it.  I see that StorageInfo is returning properly each time it reboots the container,  is there any logs that you have ? can you enable "error" in your `~/.minio/config.json`  if not already set?

[code]

Also is the offline disk reported by the node that was restarted or some other nodes in the cluster?

[2016-12-03 01:48] henryzzhang commented on #3224
I meant double quotes.  The Etag from CompleteMultipartUpload returns no
quote at all.  The issue is with CompleteMultipartUpload only.

On Fri, Dec 2, 2016 at 2:24 PM, Harshavardhana <notifications@github.com>
wrote:

[2016-12-03 01:55] harshavardhana commented on #3224
It does

[code]

which version of minio are you using @henryzzhang ?

[2016-12-03 02:10] henryzzhang commented on #3224
I pull the latest source code and built it only a couple of days ago.

On Fri, Dec 2, 2016 at 5:55 PM, Harshavardhana <notifications@github.com>
wrote:

[2016-12-03 02:12] harshavardhana commented on #3224
Can you paste the debug output or http trace? - also provide a sample program if you can?

[2016-12-03 07:48] dcharbonnier commented on #3372
They all restart, i don't get the question. Did you automated the restart and do you have 4 mschines and not 4 containers on the same machine ?

[2016-12-03 08:27] harshavardhana commented on #3372
I have 4 machines on hyper.sh i am thinking that these are on individual instances. from what i gathered i thought it was only one node that was restarted. Let me re-test by restarting all nodes.

[2016-12-03 08:37] dcharbonnier commented on #3372
Yes and do it in // not in a sequence

[2016-12-03 19:41] vadmeste commented on #3066
Taking this.

[2016-12-03 19:53] #3385 closed, assigned to nobody

[2016-12-03 20:18] vadmeste commented on #3059
I am taking this

[2016-12-03 21:02] arubacao opened #3390 "`XMinioInvalidObjectName` despite valid filename `qfeMpHdtZIPi3K5EPiL8qvTFsTPnJAUQ.jpg`"
`XMinioInvalidObjectName` despite valid filename `qfeMpHdtZIPi3K5EPiL8qvTFsTPnJAUQ.jpg`

## Expected Behavior
File should be put in bucket

## Current Behavior
`XMinioInvalidObjectName` error

## Possible Solution
Looks like minio has a problem with creating an empty (?) directory. see php stack `#14 - #16`

## Steps to Reproduce (for bugs)
1. Install [Laravel](https://laravel.com/docs/5.3)
2. Use

[2016-12-03 21:21] harshavardhana commented on #3390
This is expected we don't support objects that end with  "/" in them.  The problem is `fysystem-aws-s3-v3` treats object storage like POSIX and there is no needed to do that.  We will send a fix upstream to - https://github.com/thephpleague/flysystem-aws-s3-v3

`PUT http://192.168.99.100:9001/docker-local/5/` - the issue occurs for this object.

[2016-12-03 21:25] harshavardhana commented on #3390
It also essential to notice that we can reduce one more PUT call to the server we can just upload the object directly without creating an unnecessary parent, since its a flat namespace parent is automatically created based on the resource path.

[2016-12-03 21:52] arubacao commented on #3390
Thanks for the quick response.
Yeah that's what I was guessing as well.
I was playing around and was able to successfully execute this command (folder `folder` doesn't exist)
[code]
which also relies on https://github.com/thephpleague/flysystem-aws-s3-v3.
I'm going to investigate why the previous command even tries to create a directory.
Cheers

[2016-12-03 22:32] arubacao commented on #3390
Quick wrap-up:
Both the Laravel Media Library & therefore the [thephpleague/flysystem](https://github.com/thephpleague/flysystem) are designed for multiple drivers.

1. Each driver has to implement a [`createDir`](https://github.com/thephpleague/flysystem/blob/master/src/FilesystemInterface.php#L211) method.
2. [`$this->upload($dirname . '/', '', $config);`](https://github.com/thephpleague/flysyst

[2016-12-03 23:18] harshavardhana commented on #3390
Yes AWS S3 indeed supports it but directories have no real meaning for example on S3 objects  like this can exist

[code]

Notice that there is an object called "5" and also another object called "5/"  and you try to use `aws cli` to copy "laravel" directory and fails to copy all the objects inside "5" since now it was created as a file while it is expected as a directory - no POSIX systems suppor

[2016-12-04 19:22] harshavardhana commented on #3351
https://ci.appveyor.com/project/Harshavardhana/minio-qxbjq/build/5920#L2 reopening this still there is a regression.

[2016-12-04 20:23] #3059 closed, assigned to nobody

[2016-12-04 21:01] GarimaKapoor commented on #3372
@harshavardhana is there an update on this issue?

[2016-12-04 21:05] GarimaKapoor commented on #3352
cc @abperiasamy

[2016-12-04 21:06] harshavardhana commented on #3372
Unable to reproduce till now, so setting a scaleway instance.

[2016-12-04 21:08] GarimaKapoor commented on #3349
@harshavardhana the same issue is opened in https://github.com/minio/minio-js/issues/520 we can close one.

[2016-12-04 21:11] #3290 closed, assigned to nobody

[2016-12-04 21:14] GarimaKapoor commented on #3276
@hackintoshrao any updates on this?

[2016-12-04 21:19] harshavardhana commented on #3349
@GarimaKapoor minio-js is closed, this is for us to validate on server to not start in cases when we don't have permissions.

[2016-12-04 21:20] GarimaKapoor commented on #3233
cc @abperiasamy

[2016-12-04 21:22] GarimaKapoor commented on #3198
@hackintoshrao any updates on this?

[2016-12-04 21:30] GarimaKapoor commented on #3169
@harshavardhana are we tracking mc admin issue in mc repo. Then we can close this issue.

[2016-12-04 21:32] GarimaKapoor commented on #3102
@harshavardhana can we close this issue as we are going to track it in mc admin issue?

[2016-12-04 21:32] GarimaKapoor commented on #3097
@koolhead17 any updates?

[2016-12-04 21:33] harshavardhana commented on #3169
Yes right now it is listed here so that when the `mc` patches are in it gets automatically closed as reference.

[2016-12-04 21:33] GarimaKapoor commented on #2869
@donatello do we have a timeline for this?

[2016-12-04 21:34] harshavardhana commented on #3102
`mc admin` heal patches will reference this bug as `fixes #<this>` so that it automatically closes and notifies the parties involved in the issue so it is kept here.

[2016-12-04 23:35] harshavardhana opened #3393 "api/mgmt: Implement new service management API's (Shutdown, Restart)"
## Expected Behavior
Management API to cater for `minio control service` command which was previously removed.

## Current Behavior
No way to restart or shutdown a running cluster of servers.

## Possible Solution

A new API perhaps like this.

 - Service(type serviceType)

[code]

## Context
To bring in management functionalities through this API.

[2016-12-04 23:38] harshavardhana opened #3394 "api/mgmt: Implement new lock management APIs (List, Clear)."
## Expected Behavior
Management API to cater for `minio control lock` command which was previously removed.

## Current Behavior
No way to list the locks held and clear stale locks.

## Possible Solution

A new API perhaps like this

- ListLocks(olderThan time.Time)
- ClearLock(lockPath string)

## Context
To bring in management functionalities through this API.

[2016-12-04 23:41] harshavardhana opened #3395 "api/mgmt: Implement new healing APIs"
APIs to be implemented (ListObjectsHeal, HealObject, HealBucket, HealFormat)

## Expected Behavior
Management API to cater for `minio control heal` command which was previously removed.

## Current Behavior
No way to heal the objects on distributed or single node XL.

## Possible Solution
A new API perhaps like this

- ListObjectsHeal()
- HealObject()
- HealBucket()
- HealFormat()

## Context
To b

[2016-12-04 23:44] harshavardhana opened #3396 "api/mgmt: Implement a new admin package as a client for management APIs."
## Expected Behavior
We need a library just like `minio-go` to be implemented for management APIs which will be imported by `mc` to implement `mc admin` command.

## Current Behavior
There are no management APIs to manage minio server.

## Possible Solution
Resolve issues present here

- https://github.com/minio/minio/issues/3395
- https://github.com/minio/minio/issues/3394
- https://github.com/mi

[2016-12-05 11:50] vadmeste opened #3398 "tests: Need more coverage of xl-v1-list-objects-heal.go"
Currently coverage is 0%

[2016-12-05 15:44] koolhead17 commented on #3097
@GarimaKapoor Timeline this week for it.

[2016-12-05 17:00] donatello commented on #2869
Timeline 8th-9th.

[2016-12-05 17:40] #3398 closed, assigned to nobody

[2016-12-05 20:08] ghost commented on #3349
@krisis I'll try to replicate this behavior and will update with findings.

[2016-12-05 20:13] harshavardhana commented on #3349
Thank you @sachinwalia2k8

[2016-12-05 21:37] vadmeste opened #3400 "sig v2: generated presigned GET doesn't work when `response-content-type` or other is specified"
Using boto2 with signature v2, the generated presigned GET url works but it doesn't when a response header is specified. Below is a sample code which is not working,

`pip install boto` to install boto

[code]

Opening the generated url gives this:
[code]

[2016-12-05 21:37] bscott opened #3401 "Aliyun OSS Support"
Requesting support for Alibaba Aliyun Cloud Object Storage.

https://intl.aliyun.com/product/oss

[2016-12-05 22:50] vadmeste opened #3403 "Unusual memory consumption with minio distributed server (XL)"
@dcharbonnier:
GET and PUT during at least one hour, all the bandwidth that the servers can consume, with ~150 clients connected to 2 clusters of 4 machines, between 500Mbits and 1Gbit and it's a lot of read/write with files of ~50Mo

## Expected Behavior
Normal execution

## Current Behavior
OOM killer killing Minio

## Your Environment
All

[2016-12-05 22:53] vadmeste commented on #3403
@dcharbonnier, are you already balancing connections? approximately how many clients are concurrently connected to one node in your cluster ?

[2016-12-05 22:59] harshavardhana commented on #3403
[code]

[2016-12-05 22:59] harshavardhana commented on #3403
[code]

[2016-12-05 23:58] hackintoshrao commented on #3198
Working on this currently ....

[2016-12-05 23:58] hackintoshrao commented on #3276
Should test with @harshavardhana . Will be doing it today.

[2016-12-06 00:06] harshavardhana commented on #3276
let me know when you are available.

[2016-12-06 08:35] harshavardhana opened #3404 "[distributed] minio high cpu usage with locks running continously"
![image](https://cloud.githubusercontent.com/assets/622699/20918252/f1435578-bb4a-11e6-8e12-be60a2d87cb0.png)

![image](https://cloud.githubusercontent.com/assets/622699/20918257/fc924ba0-bb4a-11e6-848b-615924ab2696.png)

High CPU usage reported by @dcharbonnier

## Expected Behavior
Low CPU footprint of dsync and high cluster responsiveness.

## Current Behavior
High CPU usage with 15k locks with

[2016-12-06 08:53] dcharbonnier commented on #3404
Potential link to #3403, some nodes of this cluster have been killed

[2016-12-06 09:28] harshavardhana commented on #3401
@bscott can you explain a bit on what is the requirement here? - Minio is S3 compatible are you thinking that we should expose Aliyun OSS compatible API as well?

[2016-12-06 15:35] dcharbonnier opened #3407 "crash"
[code]
[code]

[2016-12-06 16:25] dcharbonnier opened #3408 "stress testing"
https://github.com/dcharbonnier/minio/tree/master/terraform/limited-bandwidth

running `node /root/index.js` on the 'server' will upload (try to...) 500 100Mo files, for now the test fail after ~30

expected : the server does not crash ;-)

[2016-12-06 16:36] hackintoshrao commented on #3408
@dcharbonnier : Can you give access to the machine or logs ? Will investigate.

[2016-12-06 17:22] dcharbonnier commented on #3408
if you take machines with  2Go of ram it take 10s, let's say it's "normal" but with machines of 8Go it crash after 5 minutes, on the terraform, replace the VC1S type by a C2S and you will get 8Go of ram.

[code]

[2016-12-06 17:23] dcharbonnier commented on #3408
this one is #3403

[2016-12-06 17:48] hackintoshrao commented on #3408
Here's are some useful data from the preliminary information gathering,

- [Here](https://gist.github.com/hackintoshrao/d17a9c3a11dd62288d7bacf555a88427) is the script which generated load on the server.
- The first set of nodes on which this issue was reported has 2GB memory each. And then it was tried with 8GB and the nodes stood well for more time with greater memory.
- Need to run mem profile

[2016-12-06 18:57] sych74 opened #3409 "[distributed] minio slow in listing files on jelastic cloud servers"
Testing Minio XLDist. Provisioned 8 servers.

[code]

After halt of one node getting the following error at another node

[code]
And files disappear at this live node as well.

In native docker implementation seems like no issues. However we found ARP network packages

[code]

Does it minio send them?  It can be the cause.
Thanks

[2016-12-06 19:20] harshavardhana commented on #3409
Can you tell us more meaning files disappearing?

[2016-12-06 19:29] sych74 commented on #3409
sorry for unclear description - it's absent is UI, just empty folder

<img src="http://b97b19eb0e7d002ebb6f3d223b618c8f.app.jelastic.com/xssu/cross/download/RDYYHFAyVlJeU1hAMQZsQ0RMWxAFREJBAUM4H3VzfwcQEEdYDwIBQmNTTEBI">

but there are files on the filesystem
[code]

[2016-12-06 19:50] harshavardhana commented on #3409
Can you see of `mc ls ` works ? @sych74

[2016-12-06 20:32] harshavardhana commented on #3409
OH wait it looks like distributed is not running?  the files are kept as files objects on XL are kept as directories and there is a custom format.

[2016-12-06 20:33] harshavardhana commented on #3409
Can you move the "--address" to beginning on the CLI ? i.e

[code]

[2016-12-06 23:42] sych74 commented on #3409
the same behavior after I changed the port... also important to notice that I can see the files via UI when all 8 nodes are live, but when one is down, let's say N8, I can not see files via node N7, so they are related to each other. there are more logs

[code]

[2016-12-06 23:59] harshavardhana commented on #3409
did you see the backend i am talking about @sych74 ? did you upload files after you configured the system or before?

[2016-12-07 08:00] sych74 commented on #3409
maybe this can be helpful
[code]

Not sure that I understood this point

After. How to run re-config and how to check that config is right?

Thanks

[2016-12-07 11:42] harshavardhana commented on #3407
Closing as duplicate of #3403

[2016-12-07 11:42] #3407 closed, assigned to nobody

[2016-12-07 11:44] harshavardhana commented on #3408
Closing as duplicate of #3403

[2016-12-07 11:44] #3408 closed, assigned to nobody

[2016-12-07 11:47] harshavardhana opened #3412 "Sporadic Content-Md5 mismatch"
[code]

[code]

/root/randomfile is 100MB.

## Expected Behavior
No content-md5 mismatch errors during multipart upload.

## Current Behavior
Sporadic content-md5 mismatch.

## Possible Solution
No solution yet.

## Steps to Reproduce (for bugs)
Requires scality setup.

[2016-12-07 11:49] harshavardhana commented on #3409
@sych74 one you have uploaded the object can you check the backend?

i.e to go "/export"

[code]

This looks correct.  Will verify on our end.

[2016-12-07 11:52] sych74 commented on #3409
[code]

[code]

[2016-12-07 11:55] harshavardhana opened #3414 "Loosing quorum under high load"
[code]

## Expected Behavior
Quorum is not lost upon load

## Current Behavior
Quorum is lost on load.

## Possible Solution
Not sure.

## Steps to Reproduce (for bugs)
Requires terraform and scaleway cluster.

[2016-12-07 11:57] harshavardhana commented on #3409
This looks correct @sych74 will validate on our end..

[2016-12-07 13:17] dcharbonnier commented on #3403
@harshavardhana same crash with
[code]
On a 32Go ram machine

was you able to reproduce it with this version ?

[2016-12-07 13:21] dcharbonnier commented on #3403
@vadmeste sorry, I didn't reply, ~200 clients, 2 minio clusters of 4 machines each, sharding on the 2 clusters, round-robin on the hosts of the cluster

[2016-12-07 13:33] dcharbonnier opened #3415 "Detected configuration inconsistencies in the cluster."
Version ( on ALL members) :

[code]

Restarting at the same time the 4 members of the cluster (just to add an environment variable) :

[code]

[2016-12-07 13:34] dcharbonnier commented on #3415
restarting again fixed the problem

[2016-12-07 14:45] dcharbonnier commented on #3403
New test, new crash with a stack
https://gist.github.com/dcharbonnier/146081d24eba4b9787da5ea3765deb04

[2016-12-07 14:48] dcharbonnier commented on #3372
again :

[code]
[code]

[2016-12-07 17:11] QA-Jelastic commented on #3409
We have tried Minio-client before one container is stopped and after.

With all of working containers ‘mc ls’ takes <1 sec.
$ time ./mc ls demo2/docker/
[2016-12-06 15:38:52 EET]  46MiB apache-jmeter-3.0.zip
[2016-12-06 15:38:53 EET]  31MiB mysql-workbench-community-6.0.9-1ubu1310-amd64.deb
[2016-12-06 15:38:54 EET] 1.5MiB netbeans-1.4.1.nbm
[2016-12-06 15:38:50 EET] 4.6MiB ws10.jtl

real	0m0.821s

[2016-12-07 18:32] harshavardhana commented on #3409
Thanks @sych74 - will validate, looks like a regression. Will report what is the issue.

[2016-12-07 18:48] harshavardhana commented on #3414
This is a false positive the disks ran out of storage on all nodes..

[2016-12-07 18:48] #3414 closed, assigned to nobody

[2016-12-07 20:25] harshavardhana commented on #3415
@dcharbonnier this can only happen if the 'minio' binaries themselves were switched somehow.  Since the version is built into the binary itself these values shouldn't change at all unless the something else happened.

Will try to reproduce it.

[2016-12-07 21:26] dcharbonnier commented on #3415
I run `minio version` on all hosts and they reported the same value, weird

[2016-12-08 04:21] bscott commented on #3401
@harshavardhana Yes, I don't think Aliyun is S3 compatible as I've tried S3 clients and they fail.

[2016-12-08 04:36] harshavardhana commented on #3401
We are S3 API compatible @bscott - do we need to keep this open?

[2016-12-08 15:05] dustpuppyNGTI opened #3416 "Minio cannot update metadata of an existing object"
The following code works in setting new metadata to an existing object in AmazonS3, but fails with an error in Minio:
[code]

The error in minio is this:
[code]

[2016-12-08 16:42] harshavardhana commented on #3416
Closing as duplicate of #3316

[2016-12-08 16:42] #3416 closed, assigned to nobody

[2016-12-08 20:34] jmthackett opened #3418 "minio/mc: [feature] mc mirror for entire instance"
Erasure coding as currently implemented has some limitations around migration. The idea that migration between clusters should be necessary (rather than rebuilding them or dynamically increasing their size) leaves an opening for a tool to migrate. I'd suggest `mc mirror` as the right candidate.

I'd like to be able to do something like this:

`mc mirror --watch --force --remove myminio1/* myminio2

[2016-12-09 03:55] GarimaKapoor commented on #3401
closing this for now!

[2016-12-09 03:55] #3401 closed, assigned to nobody

[2016-12-09 08:54] harshavardhana commented on #3409
@sych74 - i just tried with the latest master i.e `minio/minio:edge` i am not able to reproduce this behavior. I can see the buckets and files in-tact.  We haven't really fixed any bug in this regard though. Also i am not able to observe the sluggishness behavior as well - was there any i/o on the server when this was going on?

Can you provide us the logs from the nodes on which you are accessing

[2016-12-09 08:55] harshavardhana commented on #3403
Fixed by #3495

[2016-12-09 08:55] #3403 closed, assigned to nobody

[2016-12-09 08:55] harshavardhana commented on #3412
This is related to network issue on scaleway, closing.

[2016-12-09 08:55] #3412 closed, assigned to nobody

[2016-12-09 08:56] harshavardhana commented on #3415
@dcharbonnier tried to reproduce this on both scaleway, packet.net and hyper.sh not able to. would it be possible to purge the docker images locally downloaded and refresh them? - to retest and reproduce this behavior.

[2016-12-09 08:57] harshavardhana commented on #3400
This is up for takers anyone?

[2016-12-09 09:28] gowithplanb opened #3422 "Please re-instantiate MINIO_BROWSER environment variable to turn off webinterface"
## Expected Behavior
The ability to turn off the public webinterface that Minio provides when there is no use for it to be there (for example: in production environments where the only access to Minio is done with S3 API and not manually)

This should be done by re-instantiating the environment variable MINIO_BROWSER=off that was removed in pull request  #3230.

## Current Behavior
The webinterfac

[2016-12-09 09:58] gowithplanb commented on #3359
As far as I can tell, Minio operates just fine on IPv6.

I have a native IPv6 connection to Minio over the internet and it works exactly the same as with IPv4.

Minio however doesn't tell you it's IPv6 reachable address when it starts.

[2016-12-10 00:08] harshavardhana opened #3424 "api: ListenBucketNotification sporadically fails to send events sometimes"
## Expected Behavior
Events are not lost or should have a possible reason why it was lost.

## Current Behavior
Sporadically events may get lost this behavior was reproduced with `mc watch`.

## Possible Solution
Do not know yet

## Steps to Reproduce (for bugs)

1. `mc watch`
2. Take the network down (mc watch reconnects if network is available)
3. Network is back up `copy` files now on the watch

[2016-12-10 00:10] #3351 closed, assigned to krisis

[2016-12-10 01:01] harshavardhana opened #3425 "cli: validate if the order of arguments are consistent across all nodes for the first time."
## Expected Behavior
Order of arguments are validated properly across all nodes for the first time.

## Current Behavior
Currently if the order of arguments are given wrong for the first time it can end up corrupting the data and create a wrong backend format.

## Possible Solution
Validate the args early on before even proceeding to generate `format` configs.

## Steps to Reproduce (for bugs)
Qui

[2016-12-10 02:31] GarimaKapoor commented on #2869
@donatello any updates on the revised timelines?

[2016-12-10 02:38] GarimaKapoor commented on #3097
@koolhead17 any updates on this?

[2016-12-10 08:42] #3422 closed, assigned to nobody

[2016-12-11 00:15] #2912 closed, assigned to nobody

[2016-12-11 00:15] #3370 closed, assigned to nobody

[2016-12-11 19:10] vadmeste commented on #3400
I'll take this.

[2016-12-11 22:28] vadmeste commented on #3066
You can close this @harshavardhana, checkPostPolicy is all green https://codecov.io/gh/minio/minio/src/4daa0d2cee9cf4b0ec7a443416a4c453779eec98/cmd/postpolicyform.go

[2016-12-11 22:30] vadmeste commented on #3066
Fixed by https://github.com/minio/minio/commit/372da5eaf51a25159a7396d5f114e181135ef91c

[2016-12-11 22:32] harshavardhana commented on #3066
Closing @vadmeste

[2016-12-11 22:32] #3066 closed, assigned to nobody

[2016-12-11 22:32] #3400 closed, assigned to vadmeste

[2016-12-12 09:13] huytn opened #3429 "undefined: x509.SystemCertPool"
Hi all,
I Got error while installing from source
[code]
I'm using
OS: debian 8
Golang: 1.7.4.linux-amd64

[2016-12-12 10:21] koolhead17 commented on #3429
hello @huytn how did you install golang? I have installed golang 1.7.4 from source [https://golang.org/dl/](https://golang.org/dl/)

Minio is working perfectly fine for me on debian8.

[code]
In my case I have installed golang from source. This is how installed it on a fresh debian8 machine followed by installing Minio.

[code]
update ``~/.bashrc`` file by adding,
[code]
source the enviornment
$ s

[2016-12-12 12:06] astafev opened #3430 "Is it possible to specify bucket policy on server start?"
It's possible to specify a path to storage, but is there a way to make some directory publicly accessible on start (not with `mc policy` command)?

I'm running minio in Docker. Didn't find anything in documentation.

[2016-12-12 12:20] vadmeste commented on #3430
After creating a bucket, you'll need to configure it to be public only one time.

We are following S3 specification, there is no other way.

[2016-12-12 12:30] astafev commented on #3430
@vadmeste hi, thanks for quick response. Just to make sure: there's no good way to specify bucket policy other than on already running server, right? Where does minio saves policy information if it's not in `/export` folder and not in `~/.minio`, it should be somewhere, right?

Maybe I'm missing something, but what is the problem with S3 specification? Usually we don't start S3 servers, so Minio a

[2016-12-12 13:42] astafev commented on #3430
seems like I've found what I was looking for - a bucket `.minio.sys`, it's possible to put there resource `buckets/<bucketName>/policy.json` and specify there all necessary rules.

[2016-12-12 13:42] #3430 closed, assigned to nobody

[2016-12-12 14:11] koolhead17 commented on #2920
This works well just we need only one modification. The path for docker-compose.yml is now [https://raw.githubusercontent.com/minio/minio/master/docs/docker/docker-compose.yml](https://raw.githubusercontent.com/minio/minio/master/docs/docker/docker-compose.yml)

we can close this.

[2016-12-12 14:13] vadmeste commented on #3430
@astafev, can you explain a little more your use case?

By the way, when using docker, you need to bind /export directory to somewhere persistent so you won't lose all information when you restart your docker instance. Look at -v flag in docker documentation (man docker-run)

[2016-12-12 14:40] astafev commented on #3430
@vadmeste we're using minio as shared storage for multiple applications in docker-compose environment. Minio server for it needs to contain few resources already on start, some of those resources needs to be public.
So, what I'm doing is creating a custom docker image, copying all necessary resources to `export` folder in the created image.

At the moment we don't need to retain any information be

[2016-12-12 17:58] harshavardhana commented on #3357
Closing this .

[2016-12-12 17:58] #3357 closed, assigned to nobody

[2016-12-12 21:16] g-cassie opened #3432 "`mc mirror --remove` does not work"
## Expected Behavior
You have two hosts running `minio server` - minio1 and minio2.  To achieve replication you run the `mc mirror` command on minio1.  With this command running, when you delete a file from minio1, it should delete the same file from minio2.

## Current Behavior
When you delete a file on minio1, the `mc mirror` process emits the following error:
[code]

## Steps to Reproduce (for

[2016-12-12 22:31] #3432 closed, assigned to nobody

[2016-12-12 22:32] harshavardhana commented on #3425
any takers here?

[2016-12-12 22:45] tjachmann opened #3433 "Minio does not work if installed on different Drive then C: on windows"
On windows 7 64bit, I always get the error <level=fatal msg="formatting storage disks failed" cause="corrupted backend format"> when the minio.exe is started on a different drive then C:

On another note, my Firefox only shows the loading icon, when browing to "http://127.0.0.1:9000/". Though Chrome works.

[2016-12-12 22:50] harshavardhana commented on #3433
@tjachmann which version of minio binary are you using?

[2016-12-12 23:00] tjachmann commented on #3433
I downloaded the 32 and 64 bit windows binaries a few moments ago from here:

https://docs.minio.io/docs/minio-quickstart-guide

The version commands shows:

Version: 2016-12-12T18:35:43Z
Release-Tag: RELEASE.2016-12-12T18-35-43Z
Commit-ID: 6b4e6bcebf1127f7b1444790580bb5b64f31c6e7

[2016-12-12 23:08] harshavardhana commented on #3433
Checking @tjachmann

[2016-12-12 23:15] harshavardhana commented on #3433
Looks like there is a regression fixing it.

[2016-12-12 23:34] tjachmann commented on #3433
In the meantime I was trying to access the local minio server http://127.0.0.1:9000/ via amazonaws .net sdk. The list bucket command worked as expected. But create,read or write commands just hang and do nothing.

[2016-12-12 23:36] harshavardhana commented on #3433
Server is on windows? @tjachmann

[2016-12-12 23:39] harshavardhana commented on #3433
I just tried and uploaded a file through the web browser. Can you paste your sample program? @tjachmann - Also have you tried with https://github.com/minio/mc ?

[2016-12-12 23:43] #3433 closed, assigned to nobody

[2016-12-12 23:47] harshavardhana commented on #3433
Also please open a new github issue and also let us know if the AWS SDK version including perhaps "trace" output of the network traffic and error that server sent etc.

[2016-12-13 00:41] mayurjain0312 opened #3436 "Size of the object uploaded to minio is ZERO"
Hi Minio Team,

I am using minio on my linux box since last few days.
Everything seems to have been running fine.

But, since today morning, I am facing issues uploading/downloading files.
On uploading the file, I see that the file is uploaded in the min io UI, but the size of the file is ZERO.
I am using boto3 to call minio apis.

In the minio logs I am constantly seeing the following:

ERRO[0851

[2016-12-13 00:42] harshavardhana commented on #3436
@mayurjain0312  can you paste your 'minio version' ?

[2016-12-13 00:43] harshavardhana commented on #3436
This is not a bug we have fixed the log in a recent release. Can you update to latest release?

[2016-12-13 00:43] mayurjain0312 commented on #3436
2016-11-26T02:23:47Z

[2016-12-13 01:51] mayurjain0312 commented on #3436
I just uploaded a file and the size is still 0

[2016-12-13 01:51] mayurjain0312 commented on #3436
Although I don't see any errors in the logs on minio

[2016-12-13 01:52] mayurjain0312 commented on #3436
I uploaded a short video file minion.mp4, but the size is zero

[2016-12-13 02:20] harshavardhana commented on #3436
Closing this as not a bug in minio.

[2016-12-13 02:20] #3436 closed, assigned to nobody

[2016-12-13 03:37] huytn commented on #3429
I reinstalled go1.7.4 and the installation is ok :(

[2016-12-13 03:37] #3429 closed, assigned to nobody

[2016-12-13 08:57] krisis opened #3438 "server: Running minio server on a node absent in arguments leads to panic"
When Minio is run in a distributed setup, e.g a 4 node setup, if an additional server instance is run on a different node with the same argument as the 4 nodes participating in the distributed setup, the additional server crashes with the following panic.
[code]
## Expected Behavior

The additional server should detect that it is not part of the distributed setup and exit gracefully.

## Current B

[2016-12-13 10:19] QA-Jelastic commented on #3409
I’ve sent an invitation to dev@minio.io to share environment  ‘Minio4x’ with you. You can view logs in /var/log/run.log.

[2016-12-13 13:45] donatello commented on #2869
@GarimaKapoor The PR to add Kafka support is ready for review now. I think it should be merged within a day or two at most.

[2016-12-13 18:05] nitisht opened #3443 "k8s integration: create official helm chart for standalone Minio server installation on Kubernetes"
## Expected Behavior
Helm is a package manager for Kubernetes. Need to create an official Helm Chart that enables users to install standalone Minio on their Kubernetes cluster via Helm commands.

## Current Behavior

No Helm installer available currently.

## Possible Solution
Follow the guide to create new [Helm Charts](https://github.com/kubernetes/charts/blob/master/CONTRIBUTING.md) and add the

[2016-12-13 18:07] nitisht opened #3444 "k8s integration: create official helm chart for distributed Minio server installation on Kubernetes"
## Expected Behavior
Helm is a package manager for Kubernetes. Need to create an official Helm Chart that enables users to install distributed Minio on their Kubernetes cluster via Helm commands.

## Current Behavior

No Helm installer available currently.

## Possible Solution
Follow the guide to create new [Helm Charts](https://github.com/kubernetes/charts/blob/master/CONTRIBUTING.md) and add th

[2016-12-13 18:14] harshavardhana commented on #3444
Closing has duplicate of #3443

[2016-12-13 19:18] harshavardhana commented on #3438
Fixed by #3442

[2016-12-13 19:18] #3438 closed, assigned to nobody

[2016-12-13 19:52] harshavardhana commented on #3409
Thanks will take a look @sych74 @QA-Jelastic

[2016-12-13 20:12] harshavardhana commented on #3409
Okay so i tested it is just that the UI seems to be loading slowly which we need to see why if the network is slow. Apart from that taking a node down is working fine.

![j-elastic](https://cloud.githubusercontent.com/assets/622699/21157208/6acf7aba-c12d-11e6-84ab-7c60d7d92cf8.png)
![minio-cluster](https://cloud.githubusercontent.com/assets/622699/21157207/6acc930e-c12d-11e6-9996-40e2a8309f89.png)

[2016-12-13 20:18] harshavardhana commented on #3409
Was able to generate a presigned URL - ``https://minio4x.demo.jelastic.com/docker/Anderson_Terry_Kal_Toh.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=admin%2F20161213%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20161213T201709Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=c865f52941f7d6645decc491c2c339f5e2c038659280745fce9ff270e24dc46a" a new file that i uploaded.

[2016-12-13 20:19] harshavardhana commented on #3409
There is a lot of network delay though which we need to investigate @sych74 @QA-Jelastic - is there a possibility to get "iperf" output between the containers?

[2016-12-13 20:23] harshavardhana commented on #3409
Was able to download the file as well

[code]

[2016-12-13 20:33] krishnasrinivas commented on #3198
@hackintoshrao is there a way to trigger resetTestGlobals before each test automatically? like a pre-hook?

[2016-12-13 21:19] harshavardhana commented on #3424
Any takers here? @donatello ?

[2016-12-13 22:24] mayurjain0312 opened #3445 "Uploading a file of around 1 GB results in an error"
I am getting the following exception:
Traceback (most recent call last):
  File "minio-s3.py", line 117, in <module>
    main()
  File "minio-s3.py", line 43, in main
    ExtraArgs={"Metadata": {"mayurjmetakey": "mayurjmetavalue"}})
  File "/usr/local/lib/python2.7/dist-packages/boto3/s3/inject.py", line 144, in bucket_upload_file
    ExtraArgs=ExtraArgs, Callback=Callback, Config=Config)
  File "

[2016-12-13 23:29] krishnasrinivas commented on #3445
@mayurjain0312  do you run multiple minio-s3.py in parallel?

[2016-12-14 01:48] hackintoshrao commented on #3198
@krishnasrinivas : There's no facility to trigger this as a hook before every hook, may be we could have a wrapper and use it for calling the actual tests. Collecting all the globals and resetting them in this PR. Should finish it in couple of days.

[2016-12-14 02:04] mayurjain0312 commented on #3445
no

[2016-12-14 02:04] donatello commented on #3424
Yes, I will take this.

[2016-12-14 04:31] huytn opened #3446 "how to configure distributed"
I'm trying to configure distributed

1. on server 172.16.233.129

format two disk
[code]
get access/secret keys
[code]
Run distributed on
[code]

2. do the same tasks on server 172.16.233.130

[code]

How to properly configure?

[2016-12-14 05:02] koolhead17 commented on #3446
@huytn the problem I see here is:

*  You need to format disk on all the nodes to when Minio uses it as data directory, it understands the format.
* Use same access/secret key on all the nodes as environment variable
* Minio does not require you to run as root

We have documented Distributed setup [https://docs.minio.io/docs/distributed-minio-quickstart-guide](https://docs.minio.io/docs/distribute

[2016-12-14 07:00] krisis commented on #3404
@harshavardhana There weren't 15K locks. A simple grep on a wireshark trace output includes two lines for every RPC call. At dsync level, an RPC call which appears as two lines with the pattern ``Dsync`` in it, should be counted as an attempt to acquire one lock. Further, if we differentiate lines containing ``Dsync.Lock`` and ``Dsync.Unlock`` using awk and grep generously, we find that 3871 lock

[2016-12-14 09:07] huytn commented on #3446
@koolhead17

I formated disk

[code]

still got this error

[code]

[2016-12-14 09:31] koolhead17 commented on #3446
@huytn Please provide me these info.
* Output of `` $ mount`` on machine with ip ``172.16.233.129`` and ``172.16.233.30``

[2016-12-14 09:53] huytn commented on #3446
@koolhead17

I edited /etc/fstab file
[code]
on 172.16.233.130
[code]
on 172.16.233.129
[code]

[2016-12-14 10:26] koolhead17 commented on #3446
@huytn so on both ``172.16.233.129`` and ``172.16.233.130`` you have ``/mnt/storage1`` and ``/mnt/storage2``
What do you get after running?

[code]
Please provide us the output of ``minio version``.

[2016-12-14 10:51] huytn commented on #3446
here is version on two servers, I installed from source code.
[code]

and here are output of running distributed
on 172.16.233.130
[code]
on 172.16.233.129
[code]

[2016-12-14 11:29] koolhead17 commented on #3446
@huytn
* Both your machines 172.16.233.129 and 172.16.233.130 are running on major time difference, please sync your time with NTP.  You can refer this [blog post](http://www.howtogeek.com/tips/how-to-sync-your-linux-server-time-with-network-time-servers-ntp/) for same.

[2016-12-14 13:36] crapougnax opened #3449 "Can't create bucket in distributed config with 2 servers x 2 disks"
Web browser interface and MC command line fail to create a new bucket.

The web browser returns to state as if bucket was created (no error)
The MC command stays blocked forever.

Nothing in syslog.

Distributed configuration with two servers x 2 folders starts OK:

Dec 14 14:18:32 minio[1093]: Initializing data volume for first time. Waiting for first server to come online (elapsed 1s)
Dec 14 14:

[2016-12-14 15:49] vadmeste opened #3450 "[shared backend] Running two minio instances at the same time leads to failed initialization"
It is fine when I run one minio instance above NFS, but two instances can show the following errors:

Minio 1 output:
[code]

Minio 2 output:
[code]

[2016-12-14 16:07] harshavardhana commented on #3450
This one did you run minio simultaneously ?

[2016-12-14 16:08] vadmeste commented on #3450
yes

[2016-12-14 16:10] vadmeste commented on #3450
Running two minio instances using a fresh backend (not initialized)

[2016-12-14 17:21] harshavardhana commented on #3450
@vadmeste should be fixed in the latest push. Concurrent writes won't happen on format.json.

[2016-12-14 18:22] harshavardhana commented on #3449
@crapougnax we made a new release can you use the latest? RELEASE.2016-12-13T17-19-42Z

[2016-12-14 18:22] harshavardhana commented on #3446
Also @huytn can you use the latest - RELEASE.2016-12-13T17-19-42Z

[2016-12-14 18:23] harshavardhana commented on #3445
have you been able to test with the NFS options i requested @mayurjain0312 yesterday?

[2016-12-14 18:25] harshavardhana commented on #3449
Fixed by https://github.com/minio/minio/commit/29d72b84c07f9555f83a6485fe8291e18d23811b

[2016-12-14 18:25] #3449 closed, assigned to harshavardhana

[2016-12-14 18:47] mayurjain0312 commented on #3445
I found the behavior to be very inconsistent. Without making any changes, I tried uploading the 1.7 gb file again and it got uploaded without any exceptions.
But then, I tried uploading 4 gb file, it resulted in the same exception as mentioned above. and after few re-runs, it succeeded.

Also, I wanted to add that I am getting a lot of log errors on the minio console:

RRO[8479] Unable to write to

[2016-12-14 19:14] harshavardhana commented on #3445
This is because client closed the connection @mayurjain0312 - another thing to try is remount `nfs` with "-o sync"

[code]

[code]

[2016-12-14 21:58] vadmeste commented on #3450
I can't have the error above anymore (looks like I've done something wrong) let's forget it.. but I have a similar issue which is quite rare, I am running 100 Minio instances at the same moment still with NFS:

The error message is:
`FATA[0000] Initializing object layer failed              cause=Unable to load 'format.json', unexpected end of JSON input source=[server-main.go:490:serverMain()]`

I

[2016-12-14 23:41] harshavardhana commented on #3450
Will test it.. @vadmeste  - thanks.

[2016-12-15 00:07] harshavardhana commented on #3450
Not able to reproduce this with latest push to the PR @vadmeste .. was your NFS mount not mounted with "sync" ?

[2016-12-15 00:27] harshavardhana commented on #3450
also share the commit id from 'git log' ?

[2016-12-15 01:38] harshavardhana commented on #3450
I am able to reproduce this @vadmeste - looks like it takes a while..

[2016-12-15 01:50] harshavardhana commented on #3450
Should be fixed now.. @vadmeste

[2016-12-15 01:50] #3450 closed, assigned to harshavardhana

[2016-12-15 02:28] harshavardhana opened #3452 "[shared backend] Leaves Temporary File directories.."
[code]

## Expected Behavior
No such files are left over.

## Current Behavior
Stale empty directories are left over.

## Possible Solution
Not sure yet.

## Steps to Reproduce (for bugs)
Pretty simple concurrent uploads of same object.

[2016-12-15 05:39] koolhead17 opened #3453 "docs: Add note section in minio distributed guide."
Add note section in minio distributed guide.

## Context
* We should add note in our Minio distributed docs that order of command execution should be uniform in all the nodes.
* All the disk used for Minio distributed should be fresh i.e without any other existing data.

[2016-12-15 05:43] koolhead17 commented on #3446
@huytn additionally ensure that all 4 disc are free, it has no pre-written data there.

[2016-12-15 08:57] huytn commented on #3446
Thanks @koolhead17

Now I can run distributed

[2016-12-15 09:05] koolhead17 commented on #3446
@huytn can you close this issue & open a saperate issue? I can work and help you.

[2016-12-15 09:08] #3446 closed, assigned to koolhead17

[2016-12-15 09:10] huytn opened #3455 "AWS SDK with running distributed"
I can not create Bucket by using AWS boto3 with distributed.

[code]
I can access on browser and I can use this api with running standalone.

[2016-12-15 10:02] huytn commented on #3455
I can also not create bucket from web browser

[2016-12-15 10:23] koolhead17 commented on #3455
@huytn can you run make bucket operation using mc client with --debug flag, please run it from same machine you are accessing your minio configuration to create bucket via browser.

[code]

[2016-12-15 10:57] huytn commented on #3455
No outputs in ten minutes
[code]

[2016-12-15 11:10] koolhead17 commented on #3455
@huytn I tried to replicate your setup with 4 node Minio distributed setup.

Please confirm if all the Minio nodes in your distributed setup are up and running.

This is what my output shows.
[code]

[2016-12-15 11:58] badc0re commented on #3316
Is this issue going to be fixed in the next version?

[2016-12-15 13:49] crapougnax commented on #3449
@harshavardhana Although buckets are now correctly created. The file copy is erratic.
- sometimes the file is copied and appears on both servers
- most of the time the actual copy doesn't occur but the mc client displays progress bar and exits like everything is OK.

[2016-12-15 13:59] donatello commented on #3449
This is to be expected. The two node cluster represents a single object storage service, you can use mc to copy objects to and from either server, or even put a load-balancer that routes requests to either server.

Could you provide details of the steps you used in the above?

[2016-12-15 14:21] crapougnax commented on #3449
Can you confirm that when one migrates for one server to distributed nodes, the mc config must be redone even if, apparently, the parameters are the same?

This might be the actual point here since we first did a POC with one server and configured our mc command accordingly.

[2016-12-15 15:49] donatello commented on #3449
No this is not necessary. If the mc config parameters are the same, then mc will just work with one of the two nodes in your 4-disk setup. You can add the second server under a different alias into mc using the `mc config host add` command. Then, you can access all the objects via this second alias as well.

Every object you upload is chunked and erasure coded and stored redundantly across the fou

[2016-12-15 16:05] crapougnax commented on #3449
It looks like reconfiguring the mc client on several machines fixed the issue though.

Thanks for your support.

[2016-12-15 16:19] harshavardhana commented on #3316
We will fix it soon @badc0re

[2016-12-15 16:23] #2869 closed, assigned to donatello

[2016-12-15 17:58] harshavardhana commented on #3455
Can you paste your minio version @huytn ?

[2016-12-15 22:54] harshavardhana opened #3460 "init: During init explore a way to specify which is a local node."
Under certain networking conditions especially inside Docker or Scaleway. NAT if the servers are running one cannot pin which is a local node.

If this pinning is possible there is a way we can avoid using `--net="host"`  on such deployments.

## Expected Behavior
Expected behavior is being able to pin disks to be local when the user is aware of it, this is a special feature but should be implemen

[2016-12-16 00:51] harshavardhana commented on #3452
Closing this as this is going to be fixed in a different manner.

[2016-12-16 00:51] #3452 closed, assigned to harshavardhana

[2016-12-16 06:26] #3393 closed, assigned to krisis

[2016-12-16 08:15] huytn commented on #3455
@harshavardhana
on servers
[code]
on client
[code]

@koolhead17,
I think all nodes are setup and running
![172 16 233 129](https://cloud.githubusercontent.com/assets/5128892/21255757/6e1f486a-c3a0-11e6-81b6-5727f16efe1d.png)
![172 16 233 130](https://cloud.githubusercontent.com/assets/5128892/21255758/6e78252a-c3a0-11e6-9319-2f8fe8660b5e.png)

[2016-12-16 08:23] harshavardhana commented on #3455
what is the commit id from which this was built?  can you provide us `git rev-parse HEAD`

[2016-12-16 08:30] huytn commented on #3455
@harshavardhana
I installed Minio from source code.

[2016-12-16 08:32] harshavardhana commented on #3455
I see we fixed a bug similar to the one you reported - that is why wanted to know the exact commit that you built your binary from.

[2016-12-16 10:02] huytn commented on #3455
@harshavardhana
on server 130
[code]
on server 129
[code]

[2016-12-16 10:25] dcharbonnier commented on #3404
there may be few clients connected (2) at that time doing really few operation nothing that can justify this load, I've been running many clients against minio on this setup and I never had a load like that.
And  this load was never going down even after hours.
There is definitely a bug.
I'm not running tests on minio now and you ~fixed the minio crash (removing the cache) so this may not re-appea

[2016-12-16 11:37] krisis commented on #3425
@harshavardhana One way to get around this issue is to sort the endpoints. This is necessary only for a fresh setup, to determine which Minio server would generate the format.json. Once we have a formatted setup, format.json is the source of truth for order of disks. Further, each object has its own permutation of disks, described in xl.json, as to where the erasure encoded chunks are placed. Does

[2016-12-16 11:41] krisis commented on #3404
The repeated lock RPC messages seen on tcpdump on the above object prefixes, without corresponding API requests from any client, could be due to unavailability of quorum. i.e at this point in time, there must have been lesser than quorum (N/2+1, where N is the number of disks) disks. The lock subsystem in minio repeatedly tries to acquire the lock until it gets a quorum. This is expected. If you d

[2016-12-16 11:43] koolhead17 commented on #3455
@huytn can you please run latest and same version of Minio on both the nodes and let us know if the issue gets resolved.

[2016-12-16 12:12] krisis commented on #3394
@harshavardhana I can take this up. Following is a proposal for the API,

### Lock Management APIs
* List
  - GET /?lock&bucket=mybucket&prefix=myprefix&older-than=rel_time
  - x-minio-operation: list
  - bucket, prefix are optional query parameters
  - Response: On success 200, json encoded response containing all
    locks held, older than rel_time. e.g, older than 3 hours.

* Clear
  - POST /?l

[2016-12-16 12:15] krisis commented on #3349
@sachinwalia2k8 did you get a chance to replicate the behaviour?

[2016-12-16 12:23] aidabeorn opened #3462 "Load balanced with træfik issues"
I got a 4 node minio distributed set up across 4 virtual machines, these are load balanced behind a Træfik loadbalancer which is a separate machine which terminated https.

Attempting to use an s3 client (eg. s3cmd) to put files or create a bucket fails with "Signature does not match"

## Expected Behavior
When running s3cmd mb s3://test, the bucket test should be made
[code]

## Current Behavior

[2016-12-16 12:25] vadmeste commented on #3394
@krisis, can we also specify errors ? like when a bucket doesn't exist.. With Service API, we can only have signature mismatch error which is the one standard specified by S3.

[2016-12-16 12:41] donatello commented on #3424
@harshavardhana I've been unable to reproduce this so far. Here's the script I'm using to simulate this situation - https://gist.github.com/donatello/cfa09d78e9db6bd945b8ce5b8974db21 - with iptables.

With REJECT in iptables, no events are lost. With DROP, the events appear after some time.

Testing was done on FS-mode.

Can you provide more info about how network is going down in your situation?

[2016-12-16 12:44] dR3b opened #3463 "Share URL"
## Expected Behavior
Expire URL should remove automatically when the file was deleted.

## Current Behavior
URL still is alive even the file doesn't exist anymore.

## Steps to Reproduce (for bugs)
Share a file:
[code]
[code]
Remove the file or remove the bucket.
[code]

## Your Environment

* Version used: **mc** 2016-12-09T18:23:19Z
* Server type and version: **minio** 2016-12-13T17:19:42Z
* Ope

[2016-12-16 12:57] koolhead17 commented on #3462
@thorerik please paste operation with `` -d, --debug`` option. Seems like Træfik  is modifying the headers.

[2016-12-16 13:31] aidabeorn commented on #3462
s3cmd with -d:
[code]

Log:
[code]

[2016-12-16 13:43] krisis commented on #3394
@vadmeste if we see ``bucket`` and ``prefix`` query parameters as filter criteria then it is not an error to have found zero matching locks, simply because bucket doesn't exist.

Consider the case where we take a namespace lock on a bucket during MakeBucket operation to synchronize with other concurrent MakeBucket requests. Assume we query for the list of locks while the lock is held, but the Make

[2016-12-16 14:55] vadmeste commented on #3394
Yes, you are right. That makes sense.

[2016-12-16 16:17] harshavardhana commented on #3463
This is not possible it is a client side functionality and these URLs if they exist are harmless.

It is also expensive for a client to reach server for every possible object delete and make unnecessary calls.

Closing this with working as intended.

[2016-12-16 16:17] #3463 closed, assigned to nobody

[2016-12-16 16:18] harshavardhana commented on #3424
I think a possible bug might exist in minio-go but not sure.

[2016-12-16 16:56] harshavardhana commented on #3462
// cc @krishnasrinivas

[2016-12-16 17:17] natevecc opened #3464 "Support success_action_status header"
## Expected Behavior
Minio should return a status code equal to the `success_action_status` header during a POST or PUT request.

## Current Behavior
It always returns a 204.

## Possible Solution

## Steps to Reproduce (for bugs)
Make a POST request to create any object with the `success_action_status` header set to 200 and see the response status code is set to 204. Haven't tested with a PUT but

[2016-12-16 17:34] harshavardhana commented on #3464
// cc @vadmeste

[2016-12-16 18:28] krishnasrinivas commented on #3462
@thorerik can you try with:

[code]

`passHostHeader = true` is important

[2016-12-16 18:32] vadmeste opened #3465 "post object: Redirect when success_action_redirect is passed in post object form"
## Expected Behavior
When the user provides success_action_redirect parameter in Object Post Form, it should be followed.

## Current Behavior
Not followed

## Possible Solution
No idea.

## Steps to Reproduce (for bugs)
Create an usual upload form with success_action_redirect and test if Minio returns a redirection url or not

## Context
Spotted with manual testing

## Your Environment
All

[2016-12-16 19:54] harshavardhana commented on #3462
We should fix this document - https://docs.minio.io/docs/how-to-run-multiple-minio-servers-with-traef-k @koolhead17

[2016-12-16 20:00] harshavardhana opened #3466 "notification: Support NATS streaming server for bucket notifications"
Current nats support only uses `gnatsd` which is a non persistent queue.

## Expected Behavior
Support persistent streaming NATS server.

## Current Behavior
We do not support persistent NATS server.

## Possible Solution
https://github.com/nats-io/go-nats-streaming use this.

## Context
This was requested by a community member.

[2016-12-16 22:56] aidabeorn commented on #3462
That was it, thank you very much @krishnasrinivas

[2016-12-17 01:57] aidabeorn opened #3468 "erasure/distributed: Throughput inconsistent with standalone single backend"
After getting distributed to work, I was underwhelmed by the performance, using siege we see 71 transactions per second average over 1 minute. Switching to a non-distributed minio server we see 188 transactions per second.

## Expected Behavior
Higher throughput or at least minimally impacted throughput when using minio in distributed settings

## Current Behavior
when Minio is distributed through

[2016-12-17 03:03] krishnasrinivas commented on #3468
@thorerik the VMs you use for testing, are they on same machine? or are they VMs on digital ocean or any other cloud provider?

[2016-12-17 03:10] #3462 closed, assigned to nobody

[2016-12-17 03:11] aidabeorn commented on #3468
They are at scaleway

[2016-12-17 03:27] harshavardhana commented on #3468
Distributed does erasure coded and bitrot comparing that with a non erasure coded wouldn't yield right results.

To understand the behavior more here are some questions

- network speed (provide output from iperf tool output)
- backend disk speed ( dd if=/dev/zero of=bigfile bs=1m count=1024 oflag=direct ) - this would tell us raw disk performance
-  can you also provide us the average file size u

[2016-12-17 05:29] harshavardhana commented on #3466
// cc @vadmeste

[2016-12-17 09:39] aidabeorn commented on #3468
* iperf:
[code]
* disk speed:
[code]
(the other 3 hosts matched about this speed, all doing it simultaneously;
* average file size
tested using a single file that is 131K (representative of the majority of files we'll be serving)
* Client was in norway, but testing with clients on same network yield similar result

[2016-12-17 19:10] harshavardhana commented on #3468
Thanks for the results @thorerik - we will get back to you.

[2016-12-18 21:39] #3464 closed, assigned to nobody

[2016-12-18 21:41] harshavardhana commented on #3409
Checking back on this @sych74 @QA-Jelastic .. were you able to gather network throughput?  - Thanks

[2016-12-18 21:42] harshavardhana commented on #3415
@dcharbonnier have you seen this issue again?

[2016-12-19 03:14] JackTiger commented on #2825
How progress about deploying in k8s with multi-node? @koolhead17 @harshavardhana @NitishT  Ths  very much!

[2016-12-19 06:07] koolhead17 commented on #3453
cc: @deekoder

[2016-12-19 07:50] nitisht commented on #2825
Hey  @JackTiger I will send you a yaml file tonight.

[2016-12-19 08:44] huytn commented on #3455
@koolhead17

I upgrade to latest version and the it works.

Thanks you.

[2016-12-19 08:44] #3455 closed, assigned to nobody

[2016-12-19 10:20] dR3b opened #3472 "Absolute path?"
## Expected Behavior
Apache proxy with url "https://www.minio.io/cloud" should work.

## Current Behavior
**Browser:**
[code]
**Apache logfile:**
[code]
## Possible Solution
Don't use absolute path?

## Steps to Reproduce (for bugs)
Apache proxy config:
[code]

[2016-12-19 10:39] koolhead17 commented on #3462
sure @harshavardhana

[2016-12-19 13:09] koolhead17 commented on #3472
@dR3b http://minio.io/cloud is confusing. Please explain more, what are you trying to achieve.

[2016-12-19 13:10] donatello commented on #3472
@dR3b According to https://httpd.apache.org/docs/2.2/mod/mod_proxy.html#proxypass - you are asking that requests like http://youserver.com/cloud/a/b/c should get redirected as http://10.0.0.17:9000/a/b/c - this requires that your clients prefix all URL paths to the Minio server with `/cloud` as configured above.

This scheme however will interfere with the published AWS Authentication and Signing

[2016-12-19 14:59] bsideup opened #3473 "Post policy-based upload disrespects Content-Encoding header"
## Expected Behavior
File uploaded thru the form with `Content-Encoding: gzip` should store the file with `Content-Encoding: gzip` header.

## Current Behavior
`Content-Encoding: gzip` is ignored.

## Possible Solution
Store it :)

## Steps to Reproduce (for bugs)
1. Use Form-based upload with POST policy and "Content-Encoding: gzip" form field
2. Upload the file
3. Check returned `Content-Encodin

[2016-12-19 16:09] dR3b commented on #3472
@donatello Yes thats right. I have the following configuration:
[code]
I can't use "/" in apache because there are other things running on this server like **garafa** oder **icinga** and even a blog (default redirect):
[code]
If i use this configuration:
[code]
... it doesn't work. The url is wrong.
[code]
Should be:
[code]
Of coure i can use **cloud.example.com** but thats not a solution for me r

[2016-12-19 18:37] nitisht commented on #2825
Hi @JackTiger you can use this yaml to create a 4 node distributed Minio on k8s. https://gist.github.com/NitishT/ded3bd58e1269c6490c07547cb3ab066

This is still WIP, but will help you get started.

[2016-12-19 20:33] vadmeste commented on #3473
I am taking this

[2016-12-20 00:08] vadmeste commented on #3465
I am taking this

[2016-12-20 00:13] harshavardhana opened #3475 "server: Start time sanity check across all servers"
Create a new ServerInfo() RPC call to query all its neighbors to check for sane environment.

- Architecture (OS and ARCH has to match)
- cmdline (CLI Args)

## Expected Behavior
We need to verify if all servers in a distributed setup are sane.

## Current Behavior
No verification done can lead to corrupted state.

## Possible Solution
Explained above.

## Steps to Reproduce (for bugs)
Bringing an

[2016-12-20 00:14] #3473 closed, assigned to vadmeste

[2016-12-20 01:04] #3425 closed, assigned to krisis

[2016-12-20 04:30] GarimaKapoor commented on #3394
@krisis do we have a timeline for the fix?

[2016-12-20 04:36] krisis commented on #3394
@GarimaKapoor I expect to have a PR for review by 22nd Dec.

[2016-12-20 06:40] bsideup commented on #3473
@vadmeste :+1: thanks!

[2016-12-20 09:14] donatello commented on #3472
@dR3b This approach will not work because the Minio Server (and AWS S3), the request authentication system and all client libraries (written by Minio and by AWS, and still others), all assume that the server runs at the root of the domain.

So http://example.com/abcd/pqr/abc (where example.com is an S3 compatible object storage server like Minio) represents an object `pqr/abc` in bucket `abcd`. Th

[2016-12-20 09:22] huytn opened #3478 "How to add new disk drives to running distributed"
I got error while trying to add new 2 disks into 2 nodes

[code]

[2016-12-20 09:36] koolhead17 commented on #3478
@huytn this is not an issue.

The disc is formatted for 4 node setup in current setup of yours.

Now if you have to run 8 disc/node setup you will need to make a fresh saperate distributed setup.
Additionally if you need to migrate objects from existing 4 disc setup to newer 8 disc installation, you can use ``mc mirror``

Hope it helps.

[2016-12-20 10:05] harshavardhana commented on #3478
@huytn - Minio in this case is working as intended, minio cannot be expanded or shrinkable in this manner. Minio is different by design. It is designed to solve all the needs of a single tenant. Spinning minio per tenant is the job of external orchestration layer. Any addition and removal means one has to rebalance the nodes. When Minio does it internally, it behaves like blackbox. It also adds si

[2016-12-20 10:05] #3478 closed, assigned to nobody

[2016-12-20 10:07] harshavardhana commented on #3445
Closing this bug as not reproducible @mayurjain0312 - please open a new github issue if seen again.

[2016-12-20 10:07] #3445 closed, assigned to nobody

[2016-12-20 10:08] harshavardhana commented on #3424
@donatello can you check if minio-go code has any races?

[2016-12-20 10:09] harshavardhana commented on #3415
Closing this issue. @dcharbonnier  please re-open if seen again.

[2016-12-20 10:09] #3415 closed, assigned to nobody

[2016-12-20 10:11] dR3b commented on #3472
@donatello

You don't have to. Just implement it in ```mc``` and sell it as a **special feature** ;)

Anyway thanks.

[2016-12-20 10:11] harshavardhana commented on #3372
@dcharbonnier is this observed again?

[2016-12-20 10:13] harshavardhana commented on #3409
Checking back again. Was there anything interesting found?

[2016-12-20 10:14] harshavardhana commented on #3472
Can we close this @dR3b ? - Thanks.

[2016-12-20 10:15] harshavardhana commented on #3301
Closing this @hackintoshrao - re-open if seen again.

[2016-12-20 10:15] #3301 closed, assigned to harshavardhana

[2016-12-20 10:16] harshavardhana commented on #3390
Closing this as working as intended.

[2016-12-20 10:16] #3390 closed, assigned to harshavardhana

[2016-12-20 10:21] dcharbonnier commented on #3415
well I don't restart the minio right now so I don't see it anymore but there is not reason for the bug to disappear if you didn't do anything...

[2016-12-20 10:43] huytn commented on #3478
@koolhead17 @harshavardhana thanks you all

[2016-12-20 11:00] harshavardhana commented on #3415
Thanks @dcharbonnier .

[2016-12-20 12:45] donatello commented on #3424
@harshavardhana ok will do. You can assign this to me.

[2016-12-20 13:26] dR3b commented on #3472
Yes thanks.

[2016-12-20 17:02] #3472 closed, assigned to koolhead17

[2016-12-20 17:32] #3465 closed, assigned to vadmeste

[2016-12-20 23:00] harshavardhana commented on #3316
This change requires an architecture change being able to mutate metadata without mutating the data, current code base doesn't allow that.

We will discuss internally on the feasibility of such an approach and its underlying complications. For now its not possible.

[2016-12-20 23:01] harshavardhana commented on #3276
@hackintoshrao were you able to reproduce this again?

[2016-12-20 23:06] harshavardhana commented on #3169
Closing as duplicate of #3395

[2016-12-20 23:06] #3169 closed, assigned to harshavardhana

[2016-12-20 23:06] harshavardhana commented on #3102
Closing as duplicate of #3395

[2016-12-20 23:06] #3102 closed, assigned to nobody

[2016-12-21 00:44] harshavardhana opened #3482 "service: Status command leads to racy writeheader calls"
[code]

[code]

## Expected Behavior
No multiple write header races.

## Current Behavior
Write header races.

## Possible Solution

Fix.
[code]

## Context
Avoid races during http write headers.

## Your Environment
Current master

[2016-12-21 01:45] hackintoshrao commented on #3276
Not able to reproduce this, closing this.

[2016-12-21 01:45] #3276 closed, assigned to harshavardhana

[2016-12-21 02:05] #3482 closed, assigned to nobody

[2016-12-21 03:37] goodforever opened #3485 "multi hosts Distributed docker-compose.yml"
How to write for each docker-compose.yml for multi hosts(four hosts)?
Is the following right ? {2,3,4} is for other three docker-compose.yml
version: '2'

# starts one docker container running minio server instances on each host. 1{2,3,4}

services:
  minio1{2,3,4}:
    image: minio/minio
    ports:
      - "9000:9000"
    volumes:
      - minio1{1,2,3,4}:/export

    environment:
      MINIO_ACCE

[2016-12-21 03:56] GarimaKapoor commented on #3396
@harshavardhana can we close this?

[2016-12-21 05:24] harshavardhana commented on #3396
@GarimaKapoor there are two more issues that needs to be resolved.

[2016-12-21 05:26] harshavardhana commented on #3485
Docker compose doesn't support multi host,  here is a sample kubernetes config - https://gist.github.com/NitishT/ded3bd58e1269c6490c07547cb3ab066

[2016-12-21 09:09] ihorman commented on #3409
Dear @harshavardhana,
iperf results are the following

1<-->2 TCP
node99787-minio4x:~# iperf -c 192.168.8.170 -t 50 -i 10 -d
[ ID] Interval       Transfer     Bandwidth
[  4]  0.0-50.0 sec  21.4 GBytes  3.67 Gbits/sec
[  6]  0.0-50.0 sec  17.1 GBytes  2.93 Gbits/sec

2<-->3 TCP
node99788-minio4x:~#  iperf -c 192.168.8.37 -t 50 -i 10 -d
[ ID] Interval       Transfer     Bandwidth
[  4]  0.0-50.0 se

[2016-12-21 09:12] harshavardhana commented on #3409
It is possible to access these servers directly for further testing? @ihorman

[2016-12-21 10:01] ihorman commented on #3409
@harshavardhana, sure, can you please send me your public SSH key to ihorman@gmail.com? I will send you back the details how to connect

[2016-12-21 13:55] opendedup commented on #3316
I ended up working around the issue by copying the object to a temp object
then deleting the origional and then coping the temp object back to the
origional name.

On Tue, Dec 20, 2016 at 3:00 PM, Harshavardhana <notifications@github.com>
wrote:

[2016-12-21 17:55] harshavardhana commented on #3409
@ihorman just sent my keys to this email address. Thanks for giving us the access.

[2016-12-21 18:14] dcharbonnier commented on #3372
no but I didn't restarted minio so much those days

[2016-12-21 18:16] harshavardhana commented on #3372
Okay understood. Thanks

[2016-12-22 00:37] harshavardhana commented on #3485
Closing as answered.

[2016-12-22 00:37] #3485 closed, assigned to nobody

[2016-12-22 00:41] harshavardhana opened #3489 "docs: document running Minio distributed cluster using docker swarm"
Using Docker 1.12's swarm mode you can create a scalable cluster.

## Expected Behavior
We need to document swarm cluster.

## Current Behavior
We do not have a way to configure swarm networking with Minio distributed setup.

## Possible Solution
https://github.com/itzg/dockerfiles/wiki/Swarm-mode-production-grade-Elasticsearch-cluster

## Context
While we are documenting kubernetes, we need to do

[2016-12-22 03:54] goodforever opened #3490 "Is datadir useful ?"
Is datadir usefull in mirror example ?

#!/bin/bash
datadir="/home/minio/minio1-data/"
minio2="minio2/mbucket"
MC_PATH="/home/minio/mc"
$MC_PATH --quiet  mirror --force $minio1 $minio2

[2016-12-22 04:17] koolhead17 commented on #3490
@goodforever what is ``$minio1``, did you miss defining it? Also what are you trying to achieve?

[2016-12-22 05:25] harshavardhana commented on #3490
are you trying to configure this one? - https://github.com/minio/minio/blob/master/docs/setup-replication-between-two-sites-running-minio.md @goodforever

[2016-12-22 05:26] harshavardhana commented on #3490
I think the doc is buggy.. /cc @koolhead17

[2016-12-22 06:29] koolhead17 commented on #3490
ooh. let me quickly test and fix it.

[2016-12-22 09:56] goodforever commented on #3490
@harshavardhana Yes, waiting  @koolhead17 fix

[2016-12-22 10:50] krishnasrinivas commented on #3489
@harshavardhana https://github.com/minio/minio/issues/2825 mentions swarm and mesos in addition to kubernetes.

[2016-12-22 11:27] koolhead17 commented on #3490
@goodforever

It should be
[code]
The example takes minio data directory and mirrors it to remote minio server bucket name ``mbucket``. I will fix it in the doc, thanks again.  Also ``MC_PATH`` will depend on local setup.

Also we have introduced ``mc mirror -w`` command, It will continuously watch for changes on a local directory and mirror the changes https://docs.minio.io/docs/minio-client-comp

[2016-12-22 15:07] goodforever commented on #3490
@koolhead17
if I mirror minio1/mbucket to minion/mbucket ,  Do I setup in following ?
minio1=minio1/mbucket
minio2=minio2/mbucket
MC_PATH="/home/ubuntu/work/bin/mc"
$MC_PATH --quiet  mirror --force $minio1  $minio2

[2016-12-22 15:10] goodforever commented on #3490
@koolhead17 mc mirror -w is better than --force for me  , thanks !

[2016-12-22 16:36] harshavardhana commented on #3489
We can avoid meta bugs and open relevant bugs for each.  Work is spread out properly so that others can chime in as well.

[2016-12-22 17:53] GarimaKapoor commented on #3394
@krisis is it ready for review?

[2016-12-22 18:43] harshavardhana commented on #3394
@krisis reviewed the patch check the comments.

[2016-12-22 18:44] harshavardhana commented on #3490
Closing.. @koolhead17 can you remove these stale docs?

[2016-12-22 18:44] #3490 closed, assigned to nobody

[2016-12-22 21:47] harshavardhana commented on #3349
Closing this for now @sachinwalia2k8 - please let us know if you can reproduce it again.

[2016-12-22 21:47] #3349 closed, assigned to nobody

[2016-12-22 21:53] harshavardhana commented on #3097
ping @koolhead17

[2016-12-22 21:54] harshavardhana commented on #3160
To be fixed in - https://github.com/minio/minio/pull/3397

[2016-12-22 22:00] harshavardhana commented on #2920
Can you submit the PR for review? @koolhead17

[2016-12-22 22:02] harshavardhana commented on #2829
@sych74 all the load testing tools are being collated here - https://github.com/minio/perftest

[2016-12-23 01:33] koolhead17 commented on #3490
sure @harshavardhana

[2016-12-23 01:41] koolhead17 commented on #2920
sure @harshavardhana I documented it here https://github.com/koolhead17/test/blob/master/docs/minio-docker-windows.md, will send it minio/docker/docs

[2016-12-23 14:13] vadmeste commented on #3466
Taking this

[2016-12-26 05:25] zorenleolumosbog opened #3497 "Stops uploading "Error occurred uploading""
Stops uploading error pop up says "Error occurred uploading".

[2016-12-26 05:31] harshavardhana commented on #3497
Can you share more details like server version, operating system ? Were you using browser ?  Also can you use the GitHub issue template to describe the issue that occurred. It is easier for us for quick turn around to not ask repeated questions.

[2016-12-26 05:57] zorenleolumosbog commented on #3497
Okay sorry for that Sir, these are the following:
**For Server Side**
VERSION
2016-12-13T17:19:42Z
MEMORY
i3 Processor 4GB RAM
Used: 18 MB | Allocated: 1.2 GB | Used-Heap: 18 MB | Allocated-Heap: 38 MB
PLATFORM
OS: Windows 10 32bit
RUNTIME
Version: go1.7.3 | CPUs: 4
INTERNET SPEED
100 Mbps

**For Client Side**
Browser: Any Kind
OS: Windows XP and later
Internet Upload Speed 1 Mbps only

Its stops

[2016-12-26 07:10] harshavardhana commented on #3497
Do you see any errors on the server logs?

[2016-12-26 19:55] harshavardhana commented on #3497
@zorenleo were you able to see any error on the server logs?

[2016-12-27 00:29] #3316 closed, assigned to harshavardhana

[2016-12-27 00:31] harshavardhana commented on #3316
@opendedup we fixed the CopyObject API to conform with S3 API.  Can you test master branch and let us know if you face further issues.. Please open a new github issue if you have issues.

[2016-12-27 02:09] zorenleolumosbog commented on #3497
There is no any error on the server logs. I think it is the internet connections fault since the current connection on the client side is not stable at all. It will get an error when the connection stops but when it comes backup it can't continue uploading since the connection gets interrupted.

[2016-12-27 02:17] harshavardhana commented on #3497
Yeah that is expected from browser uploads you should  look at https://github.com/minio/mc for resumable uploads. Upon network disconnection mc will write session for resuming in future.

[2016-12-27 02:21] zorenleolumosbog commented on #3497
Alright I should have to use it. Thank you.

[2016-12-27 02:21] #3497 closed, assigned to nobody

[2016-12-27 07:23] nitisht commented on #3443
Helm chart created by community member. Can be accessed here: https://github.com/kubernetes/charts/tree/master/stable/minio

Will review and update the chart repo. We can then close this issue.

[2016-12-27 08:14] krisis opened #3500 "[shared-fs] - Multipart upload fails with internal error"
Shared backend test binary was used. A single instance of minio server was started listening on port ``9001``. A multipart upload was performed using minio-py SDK.

## Expected Behavior

Multipart upload should complete successfully.

## Current Behavior

Multipart upload failed with internal error.

Server log:
[code]

## Possible Solution

Not known

## Steps to Reproduce (for bugs)

1. Perform

[2016-12-27 08:49] harshavardhana commented on #3500
Fixed in latest push, building a new binary..

[2016-12-27 08:54] harshavardhana commented on #3500
Uploaded new binary..

[2016-12-27 16:25] harshavardhana commented on #3500
@krisis did you test this ?

[2016-12-27 17:23] harshavardhana commented on #3500
Closing this as fixed @krisis - please re-open if seen again.

[2016-12-27 17:23] #3500 closed, assigned to nobody

[2016-12-27 22:44] harshavardhana commented on #3409
Performance between nodes seems to be 2GB/sec and 10GB/sec

[code]

[code]

[code]

Looks like the network performance is fine.  There was a memory leak issue which we fixed recently. Do i have the rights to re-deploy this cluster with the latest server?

[2016-12-28 00:46] harshavardhana commented on #3409
Was able to re-deploy the servers seems to be working fine now. Was not able to re-deploy 4th server and test. There is one problem which i observed that reconnecting disks had some issue and one of the server was not able to initialize object API layer.

Will review the code to see for any obvious problems, we haven't seen this issue in our tests..

[2016-12-28 07:29] dcharbonnier commented on #3372
I confirm @harshavardhana still the same, 3 hosts reporting the same information (all ok), one host reporting an error...

[2016-12-28 08:01] harshavardhana commented on #3372
I see will try to reproduce it , are you using scaleway? can you post your scaleway instance config - will try to replicate them.

[2016-12-28 09:16] harshavardhana commented on #3372
https://gist.github.com/dcharbonnier/1fc0d2aa01fbbcf75ff095d2387730b9 shared by @dcharbonnier to validate this issue.

Any takers here @krisis @vadmeste @krishnasrinivas @hackintoshrao @balamurugana ?

[2016-12-28 21:07] harshavardhana commented on #3372
https://hub.docker.com/r/y4m4/minio/ @dcharbonnier this is fixed here..

[2016-12-28 21:33] bweston92 opened #3503 "fs locking issue"
## Context
Frequently I'm hitting an issue with my Docker registry using Minio as a back end. I don't know if to many things are accessing this data at once or what but even the Minio UI doesn't respond.

## Your Environment

* Version used: 2016-10-24T21:23:47Z (048af5e5cdc1344e83231c09079828a3d289e6df)
* Environment name and version (e.g. nginx 1.9.1): nginx 1.6.2
* Server type and version: Stan

[2016-12-28 22:35] harshavardhana commented on #3372
Can you validate this on your end by changing the cluster to use "y4m4/minio" docker image instead. @dcharbonnier ?

[2016-12-28 22:42] harshavardhana commented on #3503
@bweston92 can you try the latest version and see if it has the same issue? we have fixed quite a few issues after the release you are using.

[2016-12-29 11:13] #3372 closed, assigned to nobody

[2016-12-29 16:12] goodforever opened #3505 "mc mirror -w is valid for add file ,but invalid for mc rm file"
mc mirror -w minio2/mybucket minio1/mybucket
mc cp test.txt minio2/mybucket  , you can see minio1/mybucket/test.txt
mc rm minio2/mybucket/test.txt , but the   minio1/mybucket/test.txt is not removed

[2016-12-29 17:22] vadmeste commented on #3505
@goodforever, hello. You need to use --delete parameter in mc mirror command. That will remove files when needed in mirroring.

[2016-12-29 23:41] harshavardhana commented on #3505
Closing as answered.

[2016-12-29 23:41] #3505 closed, assigned to nobody

[2016-12-30 01:34] harshavardhana commented on #3503
@bweston92 were you able to validate with latest version?

[2016-12-30 01:39] harshavardhana commented on #3453
what is this waiting on @koolhead17 ?

[2016-12-30 01:42] harshavardhana commented on #3424
Not able to reproduce this anymore.. closing this. Will re-open if seen again.

[2016-12-30 01:42] #3424 closed, assigned to nobody

[2016-12-30 01:44] harshavardhana commented on #3409
We fixed a bug related to this issue in "edge" release and also there is one more patch pending..

[2016-12-30 01:45] harshavardhana commented on #3261
ping @hackintoshrao

[2016-12-30 01:46] harshavardhana commented on #3198
ping @hackintoshrao - any progress on this?

[2016-12-30 01:47] harshavardhana commented on #3097
ping @koolhead17 - any updates on this?

[2016-12-30 01:50] harshavardhana commented on #2816
ping @krishnasrinivas - are you working on this?

[2016-12-30 01:51] harshavardhana commented on #2781
This can now be documented after shared backend code is merged.

[2016-12-30 02:45] koolhead17 commented on #3453
@harshavardhana  was waiting for feedback.

[2016-12-30 02:47] koolhead17 commented on #3097
@harshavardhana got involved with other task, will get back to it soon.

[2016-12-30 04:36] harshavardhana opened #3508 "storage/rpc: Make retry-storage non-blocking"
## Expected Behavior
We need to address this by making retry-storage non-blocking, where as in we return errors but we reconnect back automatically as go-routine.

## Current Behavior
Currently the reInit process takes a hit on the performance if one of the server is down, since the network errors like no-route are converted to errDiskNotFound.

## Possible Solution
Make retry-storage non-blocking

[2016-12-30 11:53] bweston92 commented on #3503
@harshavardhana I've upgraded and will get back to you if it locks up any time soon.

[2016-12-30 19:59] harshavardhana commented on #3503
Thanks please keep us updated.

[2016-12-31 03:47] sych74 commented on #3409
@harshavardhana thank you for the update, we will test it right after the holidays.

[2016-12-31 04:11] harshavardhana commented on #3409
All the patches have been updated to "edge" so it should help - i don't have permissions to update and test. So please let us know how it goes.

Thanks.

[2017-01-01 15:28] krishnasrinivas opened #3513 "bucket-policy: read policy on prefix should allow listing"
Enable READ policy on a prefix
[code]

Try unauthenticated listing:
[code]

This should work. (works fine on the bucket root)

## Expected Behavior

Listing on READ enabled prefix should work.

## Current Behavior

Listing on READ enabled prefix fails.

[2017-01-01 17:37] harshavardhana commented on #3513
This is a bug in the client i think, look at the `policy.json` file if it has a '/' in it. Server will only interpret the exact `policy.json`.

[2017-01-01 18:30] maartendijkema opened #3514 "log: IP address involved in failed login attempt"
Add logging the IP address of failed login attempts.
This would be very helpful to better analyze and react on malicious traffic.

Suggested change: print loglevel from loglevel info.

Noticed absence of this behaviour in minio 2016-12-13T17:19:42Z linux x86_64.
Kernel 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU/Linux

[2017-01-01 18:35] harshavardhana commented on #3514
Sure this is a simple fix. We will log these as error logs.

[2017-01-01 21:37] harshavardhana commented on #3503
@bweston92 is there anything that you observed after upgrading?

[2017-01-02 00:33] hackintoshrao commented on #3198
The function to reset globals variables is added, need to add reset few more variables in it. Will add them by 5th Jan.

[2017-01-02 00:34] hackintoshrao commented on #3261
I believe it'll still be useful to implement this. Let me know if I could proceed.

[2017-01-02 12:13] bweston92 commented on #3503
The system is not under the same stress as one holiday at the minute :p will get back to you

[2017-01-02 19:07] harshavardhana opened #3516 "storage/rpc: Bring the disk back after it has been rejected."
## Expected Behavior
Disk returns back to normal if it is possible to do so.

## Current Behavior
Currently if the disk is ignored by a server i.e treating it as faultyDisk it never comes back online.

## Possible Solution
We need to find way to constantly monitor the disk and reset the in memory status of the disks.

## Steps to Reproduce (for bugs)
Quite simple take one of the servers down in di

[2017-01-02 19:10] harshavardhana commented on #3503
Thanks @bweston92

[2017-01-02 19:11] harshavardhana commented on #3513
were you able to verify `policy.json` does it have "/" or not @krishnasrinivas ?

[2017-01-03 03:28] JackTiger commented on #2825
Ths very much!

[2017-01-03 09:33] #3514 closed, assigned to harshavardhana

[2017-01-03 11:25] krisis opened #3519 "[shared-fs] Two parallel multipart uploads results in "Access Denied" error in minio server"
Minio server fails one of the two parallel multipart upload results in "Access Denied" error.

## Expected Behavior

Minio server shouldn't throw any error.

## Current Behavior

The following error was seen in minio server console,
[code]
## Possible Solution

## Steps to Reproduce (for bugs)

[Use https://gist.github.com/krisis/031ef243a1033156a7671d2b76872f01 for the steps to reproduce - call i

[2017-01-03 15:28] krishnasrinivas opened #3520 "[shared-fs] minio-fs does not work with pre-existing content"
Since the code relies on existance of meta files, it won't work properly for files the were not uploaded through minio. For ex:

[code]

because of which GetObject/GetObjectInfo fails

[2017-01-03 15:40] krishnasrinivas opened #3521 "distributed/shared: potential race between GetObject and GetObjectInfo"
In GetObjectHandler() we release the fcntl lock between getObjectInfo and getObject giving scope for race condition. i.e a different minio server can replace the object.

Very rare case, nevertheless needs to be addressed in future.

[2017-01-03 15:43] balamurugana opened #3522 "[shared-fs] `mc rm -r --force` fails with Internal error"
## Expected Behavior

It should succeed.

## Current Behavior

Fails with `Internal error`

## Possible Solution

## Steps to Reproduce (for bugs)

1. do two parallel `mc cp -r` of the same source, but with different minio servers pointing same backend.
2. Once completed, run `mc rm -r --force`.  It throws an error.

## Context

## Your Environment

* Version used:
* Environment name and version (

[2017-01-03 15:49] balamurugana opened #3523 "[shared-fs] 10 parallel `mc cp` of same file fails with `500 Internal Server Error`"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. run `for (( i = 0; i < 10; i++ )); do mc cp sample-Elysium.2013.2160p.mkv m1testbin/mybucket/1.mkv& done`
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version:
* Link to your project:

[2017-01-03 16:05] HaraldNordgren opened #3524 "Tag RELEASE.2016-10-07T01-16-39Z not found in repository docker.io/minio/minio"
I started getting this behavior today when pulling the Minio docker image. We have been using this locked version for a while:

[code]

[2017-01-03 16:10] vadmeste opened #3525 "[shared-fs] Setting download policy doesn't work"
## Expected Behavior
`mc policy download myminio/testbucket` should make the bucket accessible via browser (http://localhost:9000/testbucket/)

## Current Behavior
http://localhost:9000/testbucket gives Access denied

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
1. Start shared minio from fresh export directory
2. mc mb myminio/testbucket/
3. mc policy download myminio/testbu

[2017-01-03 16:38] harshavardhana commented on #3525
Can you access curl with http://localhost:9000/test bucket/

[2017-01-03 16:40] vadmeste commented on #3525
No. It gives me Access denied. But I've just noticed that I can access after restarting the Minio server.

[2017-01-03 16:40] harshavardhana commented on #3525
Ah I think I know the problem.

[2017-01-03 17:46] harshavardhana commented on #3524
@HaraldNordgren those releases were built wrongly so we had to purge them, please upgrade to the latest release.

[2017-01-03 18:18] HaraldNordgren commented on #3524
Are there detailed changelogs available?

[2017-01-03 18:31] harshavardhana commented on #3524
The changelogs are available here - https://github.com/minio/minio/releases/tag/RELEASE.2016-12-12T18-35-43Z

[2017-01-03 18:38] harshavardhana commented on #3525
Fixed in the PR. @vadmeste

[2017-01-03 18:38] #3525 closed, assigned to nobody

[2017-01-03 18:45] vadmeste commented on #3525
:+1:, it works now.

[2017-01-03 19:26] harshavardhana commented on #3520
Fixed in the the PR.

[2017-01-03 19:26] #3520 closed, assigned to nobody

[2017-01-03 19:29] harshavardhana commented on #3524
Closing.. as stated.

[2017-01-03 19:29] #3524 closed, assigned to nobody

[2017-01-03 19:33] harshavardhana commented on #3513
This works fine actually what you are doing is wrong - you can't list on a bucket as resources, you list with a query param.

[code]

[code]

[2017-01-03 19:33] #3513 closed, assigned to nobody

[2017-01-03 19:37] harshavardhana commented on #3521
This requires fcntl lock on the actual namespace itself.

[2017-01-03 20:22] harshavardhana commented on #2965
@bradkarels spark doesn't work anymore?

[2017-01-03 20:26] bradkarels commented on #2965
Seem to be encountering issues writing back to Minio using the above setup.

Of note, I have upgraded to Spark 2.1.0 - but otherwise the setup is identical.

Reading continues to work:

    scala> val b1 = sc.textFile("s3a://fa3/bacon_tiny.json").first
    b1: String = { "bacon": {

However efforts to write back fail consistently whether writing a DataFrame or just trying to save as a text file.

[2017-01-03 21:30] harshavardhana commented on #2965
ping @vadmeste

[2017-01-04 02:40] harshavardhana commented on #3523
Uploaded new binaries fixing this issue, closing.

[code]

@balamurugana please proceed with further testing.

[2017-01-04 02:40] #3523 closed, assigned to nobody

[2017-01-04 02:41] harshavardhana commented on #3522
Uploaded new binaries fixing this issue, closing.

[code]

@balamurugana please proceed with further testing.

[2017-01-04 02:41] #3522 closed, assigned to nobody

[2017-01-04 03:21] harshavardhana commented on #3519
Uploaded new set of binaries can you validate this again @krisis - additionally we can do a remote session as well.

This error looks like a problem in background-append reading the file.

[2017-01-04 07:39] harshavardhana commented on #3394
Fixed by #3491

[2017-01-04 07:39] #3394 closed, assigned to krisis

[2017-01-04 07:42] harshavardhana commented on #3396
One more healing API is pending on this bug.

[2017-01-04 07:43] harshavardhana commented on #3396
Closing since the madmin package itself has been added and vendorized / used by mc.  Healing API has its own bug.

[2017-01-04 07:43] #3396 closed, assigned to vadmeste

[2017-01-04 09:10] krisis opened #3527 "[shared-fs] Concurrent multipart uploads intermittently fail with Invalid UploadId"
Concurrent multipart uploads intermittently fail with Invalid UploadId.
## Expected Behavior

Concurrent multipart uploads must complete successfully.
## Current Behavior

Errors seen on servers:
[code]
[code]
## Possible Solution

Not known
## Steps to Reproduce (for bugs)

1. Set up two minio servers on port 9001, 9002  respectively.
2. Download https://gist.github.com/krisis/46fabb7c7fb178f9712

[2017-01-04 09:25] krisis commented on #3519
@harshavardhana With the latest binaries*, I don't see the error message in server, but one of the two python program throws the following exception.
latest version* -
[code]
[code]

[2017-01-04 09:42] hackintoshrao opened #3528 "[shared-fs] Uploading a 10Gb object fails."
With Shared FS servers on top of GlusterFS, with 2 servers each on 2 nodes,
Uploading a 10GB object using aws-cli fails.

## Expected Behavior

For copy to succeed.
## Current Behavior

The copy fails with the following error,

[code]
## Possible Solution

Not sure.
## Steps to Reproduce (for bugs)

1. Run GlusterFS across 2 nodes.
2. Run 2 shared backend on each node using the Gluster FS common b

[2017-01-04 09:48] krisis commented on #3528
@hackintoshrao did you find any logs of interest in glusterfs servers?

[2017-01-04 10:33] hackintoshrao commented on #3528
Here is the log from Minio server when the error occurred,

[code]

[2017-01-04 13:24] hackintoshrao opened #3529 "[shared-fs] `PutObjectReadAt` from exec-concurrent tests fails."
`PutObjectReadAt` from exec-concurrent tests fails on shared backend test.
The setup same as used in https://github.com/minio/minio/issues/3528.

## Expected Behavior

- Expected the test to pass.
## Current Behavior

Fails with the following error,

[code]

## Possible Solution

Not sure.
## Steps to Reproduce (for bugs)

1. Get the setup as mentioned in https://github.com/minio/minio/issues/3528

[2017-01-04 14:49] hackintoshrao opened #3530 "[fs]: Unexpected result when the request contains double slash."
HTTP requests with double results in unexpected result.

For example request with invalid bucket name, but with an extra slash results in `ListAllBucket` operation. `http://127.0.0.1:9000//getobjecterrors-./test-non-exitent-object`

## Expected Behavior

- To detect the double slash and behave accordingly or throw an error.
## Current Behavior

Results in `ListBucket` operation.
## Possible Soluti

[2017-01-04 16:07] harshavardhana commented on #3530
Gorilla mux strips all the extraneous slash so minio server never received the slash which is sent by the client

[2017-01-04 16:08] harshavardhana commented on #3519
This problem seems to be unexpected I am betting a Python bug here. Will see.

[2017-01-04 16:12] harshavardhana commented on #3527
If some uploads received the same upload id and one of them completed before the second will see NoSuchUpload.  minio-go doesn't do re-upload if it sees NoSuchUpload on completemultipart.

[2017-01-04 16:14] harshavardhana commented on #3528
Looks like the issue is sync operation related. Data is not persisted and there is a garbage data on backend.

[2017-01-04 16:23] krishnasrinivas opened #3531 "[shared-fs] fcntl + delete causes problems"
fcntl based synchronization relies on the fact that underlying inode number of a name space entry never changes. But since we do delete of fs.json/uploads.json fcntl locking is not reliable.

For ex consider a race between DeleteObject on minio1 and PutObject on minio2:
minio1 opens fs.json and does lock(fd) and gets lock
minio2 opens the same fs.json and blocks on lock(fd)
minio1 deletes deletes

[2017-01-04 16:55] harshavardhana commented on #3527
The issue is expected as i explained, the messages in the logs are suspicious one is related to background-append and another is related to accessing a file which is locked.

Will check what is going on.

[2017-01-04 17:10] hackintoshrao commented on #3528
Basically unmarshalling of `fs.json` failed. Not sure why.

[2017-01-04 17:14] harshavardhana commented on #3528
Is the data on disk? @hackintoshrao i.e `fs.json`

[2017-01-04 17:15] hackintoshrao commented on #3528
Yes, it is there. @krisis  was able to unmarshal from a separate program and it was intact.

[2017-01-04 17:19] harshavardhana commented on #3528
Hmm looks interesting can this be consistently reproduced?

[2017-01-04 17:20] hackintoshrao commented on #3528
Yes, able to produce consistently.

[2017-01-04 17:23] harshavardhana commented on #3528
Will take a look its on m2 @hackintoshrao ?

[2017-01-04 17:31] hackintoshrao commented on #3528
Yes, You can join the session and ping me on gitter.

[2017-01-04 17:48] harshavardhana commented on #3527
Should be fixed on the recent push to PR.

[2017-01-04 17:48] #3527 closed, assigned to nobody

[2017-01-04 18:57] harshavardhana commented on #3530
https://github.com/minio/minio/issues/3256 @hackintoshrao here is the fix related.

[2017-01-04 19:04] harshavardhana commented on #3530
Actually it was agreed that we will strip the extraneous slashes, so this is expected since it causes problems with signature etc.

[2017-01-04 21:19] vadmeste commented on #2965
Taking care of this.

We probably need to find or write a simple http record/replay so we can be independent from users special configurations when they detect a bug. With such tool, we could replay locally and detect more faster the issue.

[2017-01-04 21:55] counterbeing opened #3532 "Create a basic health/status endpoint for monitoring/probing"
## Expected Behavior
I'd like to see an endpoint that could be fetched as `GET /minio/health` that would simply return a status code of `200` or an error code.

## Current Behavior
I'm currently using the path to the svg icon for health checks. It doesn't tell me about wether or not it's ready to accept requests.

## Context
A lot of my assets are additive, just meaning, I don't remove them often,

[2017-01-04 22:50] harshavardhana commented on #3532
You can simply probe /minio/index.html

[2017-01-04 22:58] counterbeing commented on #3532
Works for me. I'm not that sure how varnish works, but I bet it doesn't bother checking anything other than the status code.

Cheers!

[2017-01-04 22:58] #3532 closed, assigned to nobody

[2017-01-05 01:21] hackintoshrao commented on #3530
Closing the issue since this is expected.

[2017-01-05 01:21] #3530 closed, assigned to nobody

[2017-01-05 09:48] tuaphongpro123 commented on #1019
Can I set expiry is none?

[2017-01-05 09:57] harshavardhana commented on #1019
You cannot - S3 spec mandates minimum of 1sec, if you wish to have fully publicly accessible URLs then please set bucket policies to 'read-only' - http://docs.minio.io/docs/minio-client-complete-guide#policy

[code]

[2017-01-05 13:58] hackintoshrao commented on #3198
Working on it currently.

[2017-01-05 16:05] kallqvist opened #3534 "api: Unable to set user metadata and content-type when uploading with POST policy"
I'm trying to send a file using minio python and presigned post policy.
I'm also trying to add a custom metadata value at the time of post policy generation by modifying the object before signing it.

The file upload and validation of the policy during upload goes through fine without error and the file is available in minio browser.

My problem is that the metadata and content-type **doesn't seem

[2017-01-05 16:08] kallqvist commented on #3534
An interresting find is that if I also add the content-type as a header in the curl request (-H "Content-Type:text/plain" appended to curl command) will return 403 from minio.

Don't know why that is or if it's related to this in any way.

[2017-01-05 17:19] puneetpandey37 opened #3535 "Previously working code stopped working... Put object fails: client.putObject(bucket, key, file)....."
## Expected Behavior

Upload the file....

## Current Behavior

I use AWS Java SDK and try to put an object to a Bucket as below
client.putObject(bucket, key, file)..... This worked before and suddenly stopped working.
Throws exception while uploading a file... but it still uploads that file...

I throws below exception:
"com.amazonaws.AmazonClientException: Unable to verify integrity of data uplo

[2017-01-05 17:57] harshavardhana commented on #3535
What is the aws-sdk-java version under use @puneetpandey37 ?

[2017-01-05 18:00] harshavardhana commented on #3534
It will return 403 because the signature mismatches if you set additional headers which are not expected. Will check why POST policy is not saving metadata.

Thanks for the bug @kallqvist

[2017-01-05 18:15] puneetpandey37 commented on #3535
Hey it was indeed a version issue. My project used an older version of AWS SDK, I had updated the SDK and brought that to work... I pulled the code again and updated the SDK jar.... but the project was still referring to the older SDK... deleted all other versions and built it... And it works now! Thank!

[2017-01-05 18:15] #3535 closed, assigned to nobody

[2017-01-05 18:24] harshavardhana commented on #3535
Thanks @puneetpandey10_twitter the issue was AWS Java SDK introduced a regression in one of the versions expecting case sensitive names in the response headers in your case it was "Etag" v/s "ETag" - which was in violation of HTTP RFC (client implementation) which was subsequently fixed. Response headers names are case insensitive in accordance with HTTP RFC.

[2017-01-05 19:25] krishnasrinivas commented on #3534
@kallqvist you can use presigned PUT : https://docs.minio.io/docs/javascript-client-api-reference#presignedPutObject

and:
[code]

@harshavardhana for POST policy it expects the metadata to be in formData: bucket-handlers.go

[code]

[2017-01-05 22:01] kallqvist commented on #3534
@krishnasrinivas python-pi only implements presigned_post_policy.
https://github.com/minio/minio-py#api-reference--presigned-operations

I could create the api request from python for presign put myself but would prefer to use the minio python lib?

thanks for all the help and a great project btw, loving minio so far :)

[2017-01-05 22:51] vadmeste commented on #2965
@bradkarels, thanks for your good description to reproduce this bug..

I start to understand why this is not working for you, but before diving more deeper, can you paste any errors shown by your Minio instance? you need to make sure that your console logger is enabled and level is set to 'error' in ~/.minio/config.json

[code]

[2017-01-06 00:16] uroni opened #3536 "Operation consistency model"
When I write to a minio bucket, what are the guarantees I have once the operation is finished?

I did sift a bit through the source code and found no calls to either fsync or fssync.

This is also something that should be added prominently to the documentation. E.g. "Minio is a distributed object storage server with eventual consistency". I may also have missed that bit.

[2017-01-06 09:10] harshavardhana commented on #3534
// cc @vadmeste - have you seen this before?

[2017-01-06 09:11] harshavardhana commented on #3531
Closing this since its a documented behavior in the patch.

[2017-01-06 09:11] #3531 closed, assigned to nobody

[2017-01-06 09:27] harshavardhana commented on #3519
@krisis can you open the recent traceback into a new issue and close this one?

[2017-01-06 14:28] hackintoshrao commented on #3198
@krisis  @harshavardhana : Since the mutex to be held on the `globalNsLock` is one of the fileds of the struct, I don't find a way to set `globalNSLock` to `nil` atomically. That would be possible if the mutex lock lives outside the struct, and that would complicate the usage of entire lock usage.

[code]

Is it ok to go ahead with `unsafe` modification of the globalNsMutex considering that tests

[2017-01-06 14:36] krisis commented on #3198
@hackintoshrao you could use [atomic.CompareAndSwapPointer](https://golang.org/pkg/sync/atomic/#CompareAndSwapPointer) to atomically reset ``globalNSMutex``.

[2017-01-06 14:47] hackintoshrao commented on #3198
Thanks @krisis .

[2017-01-06 14:53] krishnasrinivas commented on #3198
But you don't need to hold any locks while resetting the global variables because no one else will be accessing these variables during this phase

[2017-01-06 14:56] krishnasrinivas commented on #3534
@kallqvist presigned PUT is implemented as well here is the api doc:
https://docs.minio.io/docs/python-client-api-reference#presigned_put_object

[2017-01-06 14:59] hackintoshrao commented on #3198
Just to avoid a racy usage of the function in future.

[2017-01-06 15:31] krishnasrinivas commented on #3198
btw you can't use  atomic.CompareAndSwapPointer as it will be bypassing garbage collector.

Can you give an example of such use? because if something is accessing the global vars when resetTestGlobals() is called then such a situation should be considered as a bug and fixed such that it does not happen.

[2017-01-06 15:35] kallqvist commented on #3534
@krishnasrinivas Yes, but I also want to add and require that my custom meta fields are set in the signature generated.

I'm currently doing it like this with the post policy:
[code]

I don't think I can add my custom meta fields or headers to presigned_put_object before the policy is signed?

[2017-01-06 15:39] krishnasrinivas commented on #3534
@kallqvist for the presigned PUT generated by our API only host header needs to be signed. For example you can notice that the following commands succeeds:

[code]

here you can notice that metadata is saved even though it is not signed.

[2017-01-06 15:44] kallqvist commented on #3534
But the thing here is that I want it to be signed, I'm using it to store the user ID that owns the file in the meta and don't wan't the user to be able to change it from the browser upload request.

Or is it possible somehow to create a put signature that also includes the header using the minio library?

[2017-01-06 15:49] krishnasrinivas commented on #3534
for presigned-PUT and presigned-POST APIs we don't support metadata, you will have to use AWS client SDKs to generate it.

[2017-01-06 16:48] kallqvist commented on #3534
Got it, thanks!

But there is also a bug in the minio server here right?
I think it should be possible to add metadata also with a presigned-POST in the s3 specification?

[2017-01-06 17:47] krishnasrinivas commented on #3534
Minio server should already work fine, if it doesn't work let us know.

[2017-01-06 18:15] harshavardhana commented on #3534
Works fine on the current master

[code]

[code]

[code]

[2017-01-06 23:13] kallqvist commented on #3534
I just tried the exact same code from my original issue but running minio from the image minio:edge in dockerhub and it works exactly as expected with no changes!

The problem still remain in minio:latest in dockerhub but that version is also 24 days older than minio:edge.

How often do you guys build and push the minio:latest tag? It looks to be about once a month?
I assume this would be resolved

[2017-01-06 23:13] #3534 closed, assigned to nobody

[2017-01-06 23:38] harshavardhana commented on #3534
We usually do quickly, for now we have an important feature that needs to be merged. @kallqvist  we will soon get it stable.

[2017-01-07 03:26] harshavardhana commented on #3528
This is fixed with the latest PR. @hackintoshrao

[code]

[2017-01-07 03:26] #3528 closed, assigned to harshavardhana

[2017-01-07 07:03] hackintoshrao commented on #3198
@krishnasrinivas , I agree with the above thought, because of the way its used, there's no need for a lock.

[2017-01-07 09:37] sjoerdmulder commented on #2965
I'm having the same issue. The problem is that the S3AFileSystem checks if there is a file or that there is a (fake) directory see: https://github.com/apache/hadoop/blob/release-3.0.0-alpha1-RC0/hadoop-tools/hadoop-aws/src/main/java/org/apache/hadoop/fs/s3a/S3AFileSystem.java#L1382

The problem is that minio returns a 400 error, but hadoop-aws expects a 404: https://github.com/apache/hadoop/blob/r

[2017-01-07 14:41] sjoerdmulder commented on #2965
Digged a bit deeper :slightly_smiling_face:
Main thing missing from Minio is proper directory support. I know there is no such thing in a blob storage thing but amazon S3 supports them so this is where hadoop-aws is depending on.

Did some changes to get it (not yet completely) working here https://github.com/sjoerdmulder/minio/compare/master...sjoerdmulder:spark-fixes

Used the trailing slash fix

[2017-01-07 17:04] hackintoshrao opened #3539 "[shared-fs]: Mint test fails."
- [Mint](https://github.com/minio/mint) fails when run on shared backend with 2 servers on top of GlusterFS.
## Expected Behavior

- Test to pass.
## Current Behavior

- The test fails with the following error.

[code]

## Possible Solution

Not sure.
## Steps to Reproduce (for bugs)

1.Run 2 FS servers with shared on top of GlusterFS.
2. Setup HA Proxy for load balancing between them.
3. Build [M

[2017-01-07 19:21] harshavardhana commented on #3539
@hackintoshrao anything relevant on the server logs?

[2017-01-07 19:22] harshavardhana commented on #3539
Looks like something we can add as a test case on the server tests as well..

[2017-01-07 19:27] #3198 closed, assigned to hackintoshrao

[2017-01-07 19:30] harshavardhana commented on #3529
Can you validate if this is true still @hackintoshrao ?

[2017-01-07 19:32] harshavardhana commented on #3519
@krisis going to close this as fixed with original bug report... please open a new bug with new issues as you observe them.

[2017-01-07 19:32] #3519 closed, assigned to harshavardhana

[2017-01-07 19:37] harshavardhana commented on #2965
You can't change Minio server to support directories @sjoerdmulder there are layers of other complexity involved and it won't work by simply changing posix.go :-) - Thanks for attempting.

In-fact i would send a fix to use hadoop S3AFilesystem connector to avoid creating directories since there is no such reason to do so.

We will test it and report back a proper working solution - thanks for all

[2017-01-07 19:41] harshavardhana commented on #2965
This would also help avoid bad practices to stop treating AWS S3 like POSIX.

[2017-01-07 20:05] harshavardhana commented on #3539
Strange there is a Minio server test which seems to pass appropriately

[code]

[2017-01-07 21:26] harshavardhana commented on #3539
Fixed these two in the PR.  Looking at the other issue , looks like a network disconnection. Can you reproduce this without using shared proxy? just direct?

[2017-01-07 23:01] ZiiX opened #3540 "Restricting Access to a Bucket and/or File to HTTP Referrer"
## Expected Behavior
S3 buckets allow you to restrict what sites can show files as [outlined on their site](https://docs.aws.amazon.com/AmazonS3/latest/dev/example-bucket-policies.html#example-bucket-policies-use-case-4).

## Current Behavior
Minio's difference only allows for a few [policy features](http://docs.minio.io/docs/minio-client-complete-guide#policy) and [share options](https://docs.min

[2017-01-08 01:16] hackintoshrao commented on #3539
When the test was run separately it passes. The issue is not with the shared backend. Closing the issue.

[2017-01-08 01:16] #3539 closed, assigned to harshavardhana

[2017-01-08 01:18] hackintoshrao commented on #3529
Will validate this.

[2017-01-08 02:37] harshavardhana commented on #2920
Closing as fixed by #3507

[2017-01-08 02:37] #2920 closed, assigned to koolhead17, vadmeste

[2017-01-08 08:20] hackintoshrao opened #3541 "[distributed]: Make bucket failure."
Distributed Minio running 4 instances on one node fails to create bucket. But however its works with 4 instances minio run using `docker-compose`.
## Expected Behavior

Bucket creation to be successful.
## Current Behavior

- Hangs indefinitely.
## Possible Solution

- Check for deadlocks.
## Steps to Reproduce (for bugs)

1. Build from latest master.
2. Run 4 instances of minio on one node.
    -

[2017-01-08 09:05] hackintoshrao opened #3542 "[distributed]: AbortMultipart failure."
Abort Multipart operation fails with 4 instance single Minio distributed server.
## Expected Behavior

Abort Multipart to succeed.
## Current Behavior

Abort Multipart fails with
- ` A client error (NoSuchUpload) occurred when calling the AbortMultipartUpload operation: The specified multipart upload does not exist. The upload ID may be invalid, or the upload may have been aborted or completed.` w

[2017-01-08 12:34] hackintoshrao commented on #3542
Clearly there seems to be issue with cleaning up the partially uploaded parts, which is also witnessed with interrupting a `aws-cli` upload (aws-cli cleans up the partially uploaded parts on interruption).

-  [exec-concurrent](https://github.com/minio/perftest/tree/master/exec-concurrent) TestRemovePartiallyUploaded resulted in following error,

[code]

[2017-01-08 13:13] krishnasrinivas commented on #3541
you are using  http://127.0.0.1:9998/tmp/r3 instead of  http://127.0.0.1:9998/tmp/rao3 on 3rd and 4th server

[2017-01-08 13:16] hackintoshrao commented on #3541
Let me validate that. If it works then the bug would be to give better error message and not to start the server in that scenario.

[2017-01-08 14:16] awwalker commented on #3541
Also http://127.0.0.1:9998/tmp3 on the second...just in case that one was missed too

[2017-01-08 18:26] harshavardhana commented on #3541
Server command line validation has a separate bug #3475 - closing this bug.

[2017-01-08 18:26] #3541 closed, assigned to nobody

[2017-01-08 19:39] alexellis commented on #3095
I could see this as being very useful. A HTTP(s) post seems like one of the easier cases to support and you now have quite extensive support for other event types. What do you think?

Is there a plugin model? Do you have any code you could point me at?

[2017-01-08 19:47] harshavardhana commented on #3095
Go doesn't have a nice plugin model there are lot of boiler code needs to be added, we are planning to explore plugin model in go1.8 which has plugin model standardized.

One such example here is - https://github.com/minio/minio/blob/master/cmd/notify-kafka.go

[2017-01-08 21:55] alexellis commented on #3095
I'm starting to make the changes with this, probably 70-85% there.

https://github.com/alexellis/minio/pull/1/files

I'll clean up the commits and then send over when reviewed by @harshavardhana .

[2017-01-09 00:41] hackintoshrao commented on #3541
The original issue exists, have the setup where `mc mb` is hung.

[2017-01-09 01:18] harshavardhana opened #3543 "[distributed] Load balancing complete multipart never completes"
## Expected Behavior
CompleteMultipart completes properly

## Current Behavior

Multipart upload hangs and fails.
[code]

## Possible Solution
Fix multipart behavior with load balancer.

## Steps to Reproduce (for bugs)

Run a local distributed setup
[code]

And configure `haproxy` - `mc cp largefile `

## Your Environment
Current master

[2017-01-09 01:23] harshavardhana commented on #3541
It doesn't the configuration is wrong here is the script that works fine

[code]

This is with current master.

[2017-01-09 01:29] harshavardhana commented on #3541
You must be using an older binary or from shared backend change, which has a bug @hackintoshrao

[2017-01-09 01:44] harshavardhana commented on #3541
Looks like the shared backend PR has the problem. Fixing it.

[2017-01-09 02:19] hackintoshrao commented on #3541
@harshavardhana : I'm able to produce with server built from latest master .

[2017-01-09 02:33] harshavardhana commented on #3541
Fixed the shared backend PR as well. I don't see how you can reproduce with latest master.

[2017-01-09 02:51] hackintoshrao commented on #3541
Let me try again with latest master

[2017-01-09 04:03] hackintoshrao commented on #3543
Hangs even without a load balancer.

[2017-01-09 04:37] #3543 closed, assigned to nobody

[2017-01-09 04:59] krisis opened #3545 "[shared-fs] Multipart upload leaves behind empty directory"
Multipart upload leaves behind an empty object directory under ``.minio.sys/multipart/bucket/object``.

## Expected Behavior

There should be no empty directories left behind.

## Current Behavior

If an object was uploaded using the multipart upload API to bucket/object, on completion we find the following empty directory left behind.
``.minio.sys/multipart/bucket/object``

## Possible Solution

[2017-01-09 05:08] krisis commented on #3545
This issue is _not_ present on GNU/Linux.

[2017-01-09 08:12] huytn opened #3546 "how to run minio as daemon"
I tried to configure but it not start.

[2017-01-09 08:38] harshavardhana commented on #3546
https://github.com/minio/minio-systemd @huytn

[2017-01-09 10:20] #3546 closed, assigned to nobody

[2017-01-09 14:33] JaTochNietDan opened #3547 "Passing Response-Content-Disposition results in SignatureDoesNotMatch error"
When trying to use [this fork](https://github.com/AdRoll/goamz) of the goamz library for Go and using the function [SignedURLWithArgs](https://github.com/AdRoll/goamz/blob/master/s3/s3.go#L800), we get an error `SignatureDoesNotMatch` when attempting to load the signed URL in the browser. The API seems to return the signed URL just fine but when loading it in the browser it doesn't work.

An examp

[2017-01-09 16:51] harshavardhana commented on #3547
We will take a look thanks @JaTochNietDan

[2017-01-09 17:17] vadmeste opened #3548 "[standalone-xl] Cannot list an object when we manually remove its data in the first xl disk"
## Expected Behavior
Manually removing an object data from the first disk should not lead to a listing problem.

## Current Behavior
mc ls myminio/testbucket/ doesn't show the "corrupted" object

## Possible Solution
Don't know

## Steps to Reproduce (for bugs)
1. Start Minio with fresh 4 local xl disks
`minio server /tmp/xl{1..4}`
2. Create a bucket: `mc mb myminio/testbucket`
3. Upload a file (1

[2017-01-09 18:09] harshavardhana commented on #3548
Listing is not meant to honor quorum. @vadmeste - you have to read the file.  Listing happens only from one of the disks chosen at random. So might list and might not list.

[2017-01-09 18:26] harshavardhana commented on #3548
Going to close this since this a known behavior, to list corrupted objects one should be using ListObjectsHeal()

[2017-01-09 18:26] #3548 closed, assigned to nobody

[2017-01-09 18:27] harshavardhana commented on #3529
Is this reproducible @hackintoshrao ?

[2017-01-09 18:46] harshavardhana commented on #3503
Hey @bweston92 just checking back to see if things are going well. Let us know.

[2017-01-09 19:05] vadmeste commented on #3547
Taking this.

[2017-01-09 20:17] #3503 closed, assigned to nobody

[2017-01-09 20:18] bweston92 commented on #3503
Seems to be fixed, thanks.

[2017-01-09 21:03] harshavardhana commented on #3489
https://twitter.com/alexellisuk/status/818533286880444416/photo/1 Thanks to @alexellis

[2017-01-09 22:22] #3547 closed, assigned to vadmeste

[2017-01-10 00:21] harshavardhana opened #3552 "testing issue - ignore."
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version:
* Link to your project:

[2017-01-10 00:21] #3552 closed, assigned to nobody

[2017-01-10 01:26] harshavardhana commented on #3508
Retry storage will be removed so this is not needed anymore.

[2017-01-10 01:26] #3508 closed, assigned to harshavardhana

[2017-01-10 03:58] hackintoshrao commented on #3529
Not able to reproduce this.

[2017-01-10 03:58] #3529 closed, assigned to harshavardhana

[2017-01-10 04:14] harshavardhana commented on #3529
Cool @hackintoshrao

[2017-01-10 06:08] TNTest opened #3553 "slice bounds out of range error"
Single server, same error as #2985 ,    golang is upgraded to 1.7.3.
According to #2985 , upgrading go to 1.7.3 should fix it, but it is not.
This error will cause the minio server down, so considering as a low priority bug is a good idea?
[code]

## Your Environment

* Version used: 2016-10-24T21:23:47Z | go1.7.3
* Environment name and version: minio official docker image

[2017-01-10 06:51] harshavardhana commented on #3553
We have made few more releases after this can you upgrade and validate ?

[2017-01-10 07:00] harshavardhana commented on #3553
The panic happens because of this

[code]
Looks like `r.URL.Path` is empty for some reason due to a bug in Go, we can fix this by avoiding this situation ourselves.

Do you have a consistent way to reproduce this issue @TNTest ?

[2017-01-10 07:12] TNTest commented on #3553
@harshavardhana  We failed to find out consistent reproducing steps, sorry.  2 months works fine until today. In my opinion,  empty check before slice operation is much stronger here.  Since this panic will cause the server down.

[2017-01-10 07:13] balamurugana commented on #3553
Its not a Go bug.

[code]

It looks like `scheme:opaque[?query][#fragment]` is passed/parsed.

example: For `c:hello` here path is empty but opaque is `hello`

[2017-01-10 07:39] harshavardhana commented on #3553
This is an incorrect analogy, `r.URL.Path` is never empty or should never be empty coming from Go http server passed through the handlers - it is empty for odd reasons we don't know and it only started happening since go1.6.x or go.1.7 days.

[2017-01-10 07:39] harshavardhana commented on #3553
But we should handle it ourselves nevertheless.

[2017-01-10 12:58] goodforever opened #3555 "How does go client sdk create dir path in a bucket ?"
How does go client sdk create dir path in a bucket ?

[2017-01-10 13:10] hackintoshrao commented on #3542
This is fixed after latest changes in https://github.com/minio/minio/pull/3544 .

[2017-01-10 13:10] #3542 closed, assigned to nobody

[2017-01-10 16:49] harshavardhana commented on #3555
@goodforever we don't support directories on Minio. You can just upload and object with prefix parent dirs are automatically created.

[2017-01-10 17:46] kallqvist opened #3556 "Notification message (amqp) doesn't contain correct source minio IP"
There is no good way to connect back to the minio server that created a notification message.

Note also how my IP in this example is affected by the docker setup and docker links I'm using between minio and rabbitmq and therefore not usable at all.

[code]

## Expected Behavior
There should be some way of connecting back to Minio from any value in the notification message JSON.

## Current Behavi

[2017-01-10 19:01] #3553 closed, assigned to harshavardhana

[2017-01-10 19:18] harshavardhana commented on #3556
SourceIPAddress is the source of the client not the server. We are following S3 spec here http://docs.aws.amazon.com/AmazonS3/latest/dev/notification-content-structure.html

[code]

Adding new fields just invalidates S3 compliance.

Can you explain more on why are you connecting back to server? are you trying to invoke a callback upon an event? - if yes

Then it is better to use - [ListenBucketNot

[2017-01-10 19:31] vadmeste commented on #3556
@harshavardhana, according to the discussion in Gitter, @kallqvist have many Minio servers (not a cluster) and he wanted to know which Minio server fired the notification.

[2017-01-10 19:37] kallqvist commented on #3556
@vadmeste Exactly!

There are several minio instances in my stack.
They are all separate (no clustering) and I don't know beforehand where or how many they are.

They are also writing their events to the same exchange (each one have an upload bucket) and a worker is waiting for amqp-messages to process the uploaded file and then send it back to the _same_ minio instance the event came from.

[2017-01-10 19:37] harshavardhana commented on #3556
We can add a new responseElements key which signifies the server hostname or server ip -  but it is a new field which needs to be added..

[2017-01-10 19:40] kallqvist commented on #3556
what about the principal ID?
maybe that could contain a reference to the access key that generated the message?

I don't mind doing a DB lookup and/or regex on my end to connect any gap between a value in the amqp-messages and something I can use for later connections (public hostname etc)

[2017-01-10 19:43] harshavardhana commented on #3556
Principal ID needs to be fixed properly @kallqvist which i am doing right now.

[2017-01-10 20:05] kallqvist commented on #3556
Hmm, I see.

Can you think of any other way I can connect back to the origin minio using the message content?
Is it maybe possible to forward custom x-amz-meta or request parameters from the upload to the message?

I'm doing this to reduce the amount of config-files for workers and other places I need to have access and secret keys to minio stored when most services waiting for AMQP are only suppo

[2017-01-10 20:16] harshavardhana commented on #3556
Yes you can we will had a new entry in ResponseElements{}  i.e basically add

`x-minio-api-endpoint: http://<ip>:9000`

[2017-01-10 20:29] harshavardhana commented on #3556
how does this look @kallqvist

[code]

[2017-01-10 20:33] kallqvist commented on #3556
yes, that is perfect! :)

[2017-01-11 00:43] #3556 closed, assigned to nobody

[2017-01-11 00:44] harshavardhana commented on #3556
@kallqvist final name is `x-minio-origin-endpoint`

[2017-01-11 06:56] dcharbonnier opened #3559 "api: GetObject() transfer rate observed to have TTFB (Time To First Byte) ~5s delay"
Downloading a file is slow

## Expected Behavior
When I download a file the TTFB should be few milliseconds

## Current Behavior
Downloading a 500Mo file take about 5s before the first bit
[code]

## Your Environment
Cluster of 4 machines running on docker.

[code]
Bandwidth between the servers 1Gbit, the machines are on the same datacenter, no connectivity problem, when the download start we can

[2017-01-11 06:57] harshavardhana commented on #3559
what is the object size here @dcharbonnier ?

[2017-01-11 06:58] harshavardhana commented on #3559
Also can you paste "cat /proc/cpuinfo" ?

[2017-01-11 07:00] harshavardhana commented on #3404
@dcharbonnier closing issue as stale and not reproduced since we have fixed networking related issues in dsync.  Will revisit this if seen again.

[2017-01-11 07:00] #3404 closed, assigned to nobody

[2017-01-11 07:05] harshavardhana commented on #3468
@thorerik we did some testing and don't see the performance to be consistent with our tests. We performed our tests on hyper.sh L3 instances

https://gist.github.com/harshavardhana/415e6e73bc2cde0535ba6a435ef453d1

We see around 400 obj/sec - here is the test script we are using https://github.com/donatello/minio-perftest/blob/master/uploadsperftest.go

Our configuration was a 4 storage server wit

[2017-01-11 07:06] harshavardhana commented on #3468
Also does the siege utility use S3 protocol ? - https://github.com/JoeDog/siege

[2017-01-11 07:07] harshavardhana commented on #3468
Also what is the RAM size on these nodes @thorerik ?

[2017-01-11 07:11] dcharbonnier commented on #3559
[code]

The behavior is not consistent, I repeated the second one a second time and it took 0.604 instead of 11 seconds, caching ?

[2017-01-11 07:13] dcharbonnier commented on #3559
More than enough @harshavardhana and those machines are only running minio (also 32Go of ram, >30Go free)

[code]

[2017-01-11 07:15] harshavardhana commented on #3559
This is caching @dcharbonnier

[2017-01-11 07:18] harshavardhana commented on #3559
@dcharbonnier can you run "go test -benchmark ."  - golang.org/x/crypto/blake2b on this project ?  We have been working on fix with upstream Go regarding blake2b performance issue.  Bit-rot checksum uses blake2b.

https://github.com/golang/go/issues/18563

There is some XEON instruction bug which is being fixed upstream. I am thinking this is your issue. If you confirm the perf numbers then it mig

[2017-01-11 07:18] dcharbonnier commented on #3559
so minio 11s is the time to transfert ~1To of data with a 1Gbit link, does it means that minio need to do that before starting ? :-(

[2017-01-11 07:19] dcharbonnier commented on #3559
no I can't run it sorry, this machine only run docker and I can't run anything else than a docker container

[2017-01-11 07:23] harshavardhana commented on #3559
Blake2b verification happens for data blocks to verify they are all in-tact i.e there is no on-disk corruption before erasure decoding, this is done for all I/O.  Caching is implemented to augment this behavior.

Blake2b performance problem happened because of a recent change in upstream code which introduced a wrong instruction providing lower perf on AVX/AVX2 based Intel hardware.

Blake2b shoul

[2017-01-11 07:55] kallqvist commented on #3556
@harshavardhana Just tried the minio:edge and it all works fine!
The origin endpoint is still affected by docker somehow in my setup and didn't end up being very useful in my case.
In this example I would have needed it to be 192.168.99.100:9000 (The one I used when sending the POST with the file) to be able to reach it over my network.

[code]

Not really a problem for me and even a little bit ex

[2017-01-11 08:08] harshavardhana commented on #3559
Looks like my assumption was incorrect blake2b performance is at expected value

[code]

Since this processor is also AVX, SSE4.1 only - the performance issue only affects AVX2 based intel processors.

So looks like we are looking at something else here..

[2017-01-11 08:27] ghost commented on #3555
@harshavardhana  i not quite understand what you said  `You can just upload and object with prefix parent dirs are automatically created.`  when i upload the file, the minio-browser only upload the file without the parent dirs. Do you mean `mc cp XXX`

[2017-01-11 08:34] harshavardhana commented on #3555
I am talking about `mc cp`  browser is not meant for uploading large sets of files.  One if better off using tools like this.

[code]

[2017-01-11 08:35] harshavardhana commented on #3555
Not just `mc cp` you can use any tools like `aws cli` , `s3cmd` etc.

[2017-01-11 08:36] krisis commented on #3559
- Download statistics of 2GB object using a single PUT object via ``mc share`` URL.
[code]

- Download statistics of a 2GB object uploaded via multipart upload using ``mc cp``.
[code]

@dcharbonnier could you check if uploading an object via multipart upload, using ``mc`` for instance, reduces TTFB? In my setup, the improvement in TTFB is significant if I upload the object via multipart upload. ``

[2017-01-11 08:37] harshavardhana commented on #3555
From an SDK point of view

[code]

``2/3/my/prefix/`` prefix of choice and object.

[2017-01-11 09:08] mpetrazzo opened #3560 "x-amz-metadata-directive: REPLACE support"
I'm trying minio with s3ql (bitbucket.org/nikratio/s3ql), a fuse FS, "that stores all its data online using storage services like Amazon S3" and there is a problem with minio.
I opened a issue with s3ql and after them debug, it seems that minio is not supporting the "x-amz-metadata-directive: REPLACE" header

Here you can find the issue: https://bitbucket.org/nikratio/s3ql/issues/246/s3ql-and-mini

[2017-01-11 09:13] harshavardhana commented on #3560
We already support this in master branch , fixed by https://github.com/minio/minio/pull/3487

[2017-01-11 09:13] #3560 closed, assigned to nobody

[2017-01-11 09:58] vadmeste opened #3561 "heal: Implement List Heal Buckets"
We need to implement List Heal Buckets to list all buckets that need healing

[2017-01-11 09:58] vadmeste commented on #3561
I am taking this.

[2017-01-11 13:44] marcinwyszynski opened #3562 "Proposal - `touch` API"
I would like to propose adding a `touch` operation to the API, which would set the value of the `lastModified` to the current timestamp. This operation is not supported on S3, but my particular use case is cache expiration for which I could use `lastModified`.

I understand that this needs careful consideration and - if the idea is accepted - careful design. Still, I'd be happy to try implementing

[2017-01-11 14:30] naxmefy opened #3564 "brew services minio typo"
## Expected Behavior
[code]
should execute minio server with defined arguments inside ``` homebrew.mxcl.minio.plist ```

## Current Behavior
it doesn't start the minio process

## Possible Solution
inside ``` minio.rb ``` the line 58

currently:
[code]

should be
[code]

## Steps to Reproduce (for bugs)
1. ``` brew install minio ```
2. ``` brew services start minio ```
3. console is printing
[code

[2017-01-11 17:17] QA-Jelastic commented on #3409
We've tried 'edge' image, but unfortunately delays remained when we removed a half of nodes. The most of time takes ListObjects(up to 1min) and StorageInfo(~12s).
Minio client has same delays $ time ./mc ls edge3/docker
[2017-01-11 18:38:00 EET]  46MiB apache-jmeter-3.0.zip
[2017-01-11 18:37:57 EET] 3.3MiB diaspora-master.zip
[2017-01-11 18:38:14 EET] 1.5MiB joxi-3.0.9_amd64.deb

real	1m7.131s

[2017-01-11 17:54] harshavardhana commented on #3409
@QA-Jelastic  this amount of delay is not possible, would it be possible get full access basically being able to start and tear down the infrastructure?

[2017-01-11 17:57] harshavardhana commented on #3564
Thanks @naxmefy - we will fix it.

[2017-01-11 18:01] harshavardhana commented on #3564
Sent a PR upstream @naxmefy  - https://github.com/Homebrew/homebrew-core/pull/8743

[2017-01-11 18:03] naxmefy commented on #3564
i am not really familiar with homebrew formulars - that's the reason why i posted the solution here

[2017-01-11 18:07] harshavardhana commented on #3564
No problem @naxmefy - it should have been done like this in first place. Thanks for that.

[2017-01-11 19:26] puneetpandey37 opened #3565 "Minio server stops in every few hours"
## Expected Behavior

Expected behavior is for Server to remain up till it is not stopped.

## Current Behavior

Server stops(process dies) in every few hours.

## Steps to Reproduce (for bugs)

1. docker pull minio/minio:edge
2. docker run -p 9000:9000 minio/minio:edge server /export
3. Wait for few hours and the Server would go down

## Context

Because of this issue, I need to restart the Serve

[2017-01-11 19:27] puneetpandey37 commented on #3565
[dmesg.txt](https://github.com/minio/minio/files/699840/dmesg.txt)
[messages.txt](https://github.com/minio/minio/files/699841/messages.txt)