[2018-01-18 02:17] kannappanr commented on #4493
@kaankabalak Can you verify if the new ux has the same bug, if yes, we can keep it open until it is fixed?

[2018-01-18 02:27] kannappanr commented on #4458
@vadmeste For all anonymous calls always read from the disk.

[2018-01-18 02:40] kannappanr commented on #4388
Closing it as this will not be needed for now.

[2018-01-18 02:40] #4388 closed, assigned to fwessels

[2018-01-18 02:40] kannappanr commented on #4381
Will not be implementing this now, so closing it for now.

[2018-01-18 02:40] #4381 closed, assigned to nobody

[2018-01-18 02:48] kannappanr commented on #4378
@balamurugana Can you please investigate this issue?

[2018-01-18 02:53] kannappanr commented on #4342
Not required anymore.

[2018-01-18 02:53] #4342 closed, assigned to nobody

[2018-01-18 02:58] kannappanr commented on #4313
@kaankabalak Can you please verify if this is fixed in the new ux. If not, we need to fix this issue.

[2018-01-18 03:08] kannappanr commented on #4210
We do not have access to a box. If someone from the community is willing to implement it, we welcome it.
Closing this issue for now.

[2018-01-18 03:08] #4210 closed, assigned to abperiasamy

[2018-01-18 03:13] kannappanr commented on #4193
Resolution: Password change setting disabled in HTTP mode. A tooltip can be shown to the user that 'This option requires TLS configuration'

[2018-01-18 03:14] kannappanr commented on #4193
@kmkanagaraj Please assign it to appropriate person.

[2018-01-18 03:20] kannappanr commented on #4191
Closing this issue, as this is open-ended. Please open a new issue if you find any security threat.

[2018-01-18 03:20] #4191 closed, assigned to aead

[2018-01-18 03:36] kannappanr commented on #4182
Please fix it in the new ux code.

[2018-01-18 03:39] kannappanr commented on #4526
Will not be implementing this feature. There is more latency if the case of grpc compared to netrpc.

[2018-01-18 03:39] #4526 closed, assigned to nobody

[2018-01-18 07:18] auvn commented on #5421
btw, just in case: the issue happens only if I specify the prefix params, without the prefix I am getting an empty response as expected

[2018-01-18 09:45] zhnu commented on #5372
Hi, I can confirm that it works as expected with the domain defined. Thank you for your help

[2018-01-18 09:45] #5372 closed, assigned to krishnasrinivas

[2018-01-18 09:54] harshavardhana commented on #5379
Closing this issue as answered.

[2018-01-18 09:54] #5379 closed, assigned to harshavardhana

[2018-01-18 11:11] vadmeste commented on #5422
@Vjust please add the argument `calling_format = boto.s3.connection.OrdinaryCallingFormat()` to boto.connect_s3() call. This should fix the problem.

[2018-01-18 16:22] rushenn commented on #4493
@kannappanr I've tested this on both Microsoft Edge and IE 11 on Windows 10 and It seems working. This issue was already addressed here https://github.com/minio/minio/pull/4524

[2018-01-18 16:27] Vjust commented on #5422
This worked.     With this change boto 2 is able to do the operations .   Thanks @vadmeste , @harshavardhana .

[2018-01-18 16:40] #5422 closed, assigned to vadmeste

[2018-01-18 17:30] kaankabalak commented on #4313
After testing, I was not able to reproduce this issue, as #4273, which makes input numbers read-only and only allows inputs through the up/down arrows, already solves this.

[2018-01-18 18:23] donatello commented on #2991
On discussion with @abperiasamy it was decided to write a periodic checker that lists all buckets and syncs the bucket configurations by reading from object layer.

[2018-01-18 18:43] kannappanr commented on #5026
@krisis to discuss about this with @abperiasamy

[2018-01-18 18:44] kannappanr commented on #4892
Not seeing this issue anymore with the gateway runs in Mint.

[2018-01-18 18:44] #4892 closed, assigned to balamurugana

[2018-01-18 18:54] kannappanr commented on #4667
Will not be implementing this.

[2018-01-18 18:54] #4667 closed, assigned to nobody

[2018-01-18 19:18] kannappanr commented on #4313
Closing this as fixed.

[2018-01-18 19:18] #4313 closed, assigned to kaankabalak

[2018-01-18 19:31] kannappanr commented on #4493
Issue marked fixed.

[2018-01-18 19:31] #4493 closed, assigned to kaankabalak

[2018-01-18 20:02] krishnasrinivas opened #5427 "Object versioning support for gateway"
Azure and AWS-S3 supports object versioning, hence we can support it in gateway too.

[2018-01-18 22:39] #5421 closed, assigned to poornas

[2018-01-18 22:56] harshavardhana commented on #4658
Adding to this we also have one more file now which exhibits this behavior

- [ ] [`pkg/http/listener.go`](https://github.com/minio/minio/blob/dd5a3289dd66d9734a584d08835fd600f97963bd/pkg/http/listener.go#L254-L255)[example](https://codecov.io/gh/minio/minio/compare/e2d5a87b2676e3e01f0f4fa7ebd01205364cfb16...dcb9d1758691d3000d1bc41253f64dd8e1f1c40a/src/pkg/http/listener.go)

[2018-01-18 22:58] harshavardhana commented on #4658
This is being addressed by PR https://github.com/minio/minio/pull/5401

[2018-01-19 11:22] #4818 closed, assigned to krisis

[2018-01-19 11:30] krisis commented on #5311
@curantes could you confirm that this issue is not present in minio version RELEASE.2017-11-22T19-55-46Z or later?

[2018-01-19 15:31] bitatomcat opened #5431 "Remove all the "remove" functionality for authorized access"
I have a requirement to disable three remove interfaces
remove_bucket
remove_object
remove_objects

Is it configurable?  If not would have to modify the source.

[2018-01-19 17:13] harshavardhana commented on #5431
We do not have a way to disable individual APIs for authorized access. You can setup a proxy and reject all DELETE http requests without modifying minio code.

[2018-01-19 18:18] #5358 closed, assigned to aead

[2018-01-19 22:11] kannappanr commented on #5431
Marking this issue as answered. Please feel free to open an issue if you have further questions.

[2018-01-19 22:11] #5431 closed, assigned to nobody

[2018-01-19 22:33] ebozduman opened #5432 "./pkg/madmin/README.md has deprecated information"
We need to get rid of and renew the deprecated type definitions, `ReadQuorum int; WriteQuorum int`, that show up under `go run service-status.go`

## Expected Behavior
We should have type definitions `StandardSCParity int; RRSCParity int` instead.

## Current Behavior
Deprecated type definitions, `ReadQuorum int; WriteQuorum int`, show up under `go run service-status.go`

## Possible Solution
Dele

[2018-01-20 03:53] #4545 closed, assigned to harshavardhana

[2018-01-20 11:26] oeway opened #5434 "Better console output for error for presigned url"
I am using minio with python boto3, generate an presigned url and then upload a file in js with the url. During debugging I got the following error:
[code]
Which is correct but misleading, the actually error information can only been seen if I enable the output log:

[code]

With this I found the bug was the key was wrong, I think it would be great if the error message could be printed to the cons

[2018-01-22 04:36] kannappanr commented on #5434
@oeway we are modifying some of the error messages and this particular message will not be displayed at all, as we do not think this should be printed on the server in the first place. The server is returning InvalidAccessKeyId code back to the client and that is good enough. We would like to print errors that require attention from the admin, if we start printing invalid passwords, admins might m

[2018-01-22 09:01] supermanlinux opened #5435 "Does minio support worm(Write Once Read Many) or duplicate delete? Thanks."
Does minio  support worm(Write Once Read Many) or duplicate delete? Thanks.

[2018-01-22 16:31] aead opened #5436 "AdminAPI accepts Signature-V4 requests without signed X-Minio-Operation header"
The AdminAPI accepts Signature V4 requests without signed `X-Minio-Operation` header.
A V4 request contains a list of signed headers. By default `mc` signs all headers except:
- Authorization
- Content-Type
- Content-Length
- User-Agent

Luckily because of this fact this is not a security issue. However the server accepts V4 requests even if `X-Minio-Operation` is not part of the signed headers. S

[2018-01-22 18:02] donatello commented on #5436
@aead I expect that the new admin API will be merged in a day or so and will be present in the next release. The new API does not use x-minio-operation header and all operations have paths in the URL and would be used in the signature.

[2018-01-22 18:12] aead commented on #5436
Okay, than we don't need to fix and can wait for new API. Closing because of #5351

[2018-01-22 18:12] #5436 closed, assigned to aead

[2018-01-22 18:18] kannappanr commented on #5435
We do not support duplicate delete. We will start designing and implementing WORM in the near future. Please feel free to open a new issue if you have further questions.

[2018-01-22 18:18] #5435 closed, assigned to nobody

[2018-01-22 18:20] kannappanr commented on #5434
@oeway Closing this issue as answered. Please feel free to re-open this issue if you have more questions on this issue.

[2018-01-22 18:20] #5434 closed, assigned to kannappanr

[2018-01-22 18:37] kannappanr opened #5437 "Chinese Translation: Document Pre-exisiting data in fs mode"
Tracking issue to convert https://github.com/minio/minio/pull/5365 to Chinese.

[2018-01-23 00:10] #5432 closed, assigned to donatello

[2018-01-23 10:20] miketonks commented on #5380
We are also using minio in distributed mode with a similar setup, and having same issues.

The lack of automated healing is a big problem for using minio in production.  Without this minio is not really a reliable system.

A node can go offline for any reason, either planned maintenance or network outage.  We may not know the node was offline as it does not report this, so we have no way to know i

[2018-01-23 14:31] ehiggs commented on #4998
The ability to update the configuration at runtime is especially useful for debugging the minio docker without having to make our own image, updating the config and deploying that way. Thanks @zerkms for the PR.

[2018-01-23 14:43] IrinaAndronachi commented on #5290
@harshavardhana Are there any updates on this issue?

[2018-01-24 22:13] vadmeste commented on #4458
A more efficient solution is to stat() policy.json and get the modified time, then reload policy only if mtime is more recent than the time of the last update.

[2018-01-24 22:15] vadmeste commented on #4458
inotify can be not supported in all underlying file systems.. but I guess file last modification time is always present in majority of cases.

[2018-01-25 02:42] Vesnica commented on #5380
mc admin heal is very slow, it's not practical to use in production environment.

I wrote a script to manually sync the missing files between nodes(3 nodes setup). very hacky, but it works well:
[code]
Still, I hope minio can fix this issue eventually so we don't need these black sorceries.

[2018-01-25 02:49] krishnasrinivas commented on #5380
@Vesnica @miketonks we are going to implement quorum listing, which will make listing consistent and correct but it will be slower. Need to see how slow it will be.

[2018-01-25 18:57] deekoder opened #5446 "Investigate compression of objects in minio"
As per discussion, investigate compression for IOT data usecases.

[2018-01-25 19:35] kannappanr commented on #5344
@dels07 Can you please respond to my questions?

[2018-01-26 03:06] kaankabalak opened #5449 "Automatically select first remaining bucket after deleting a bucket"
## Expected Behavior

In Minio Browser, after deleting a bucket, we should select the first bucket in the list of remaining buckets. If there are no buckets left, we shouldn't have any active buckets.

## Current Behavior

No buckets are active after deleting a bucket.

## Possible Solution

We need to dispatch the selectBucket action when we are deleting a bucket.

## Steps to Reproduce (for bugs

[2018-01-26 20:30] kaankabalak opened #5452 "Browser incorrectly selects bucket as active when URL to invalid/nonexistent bucket is entered"
## Expected Behavior

When the user enters a URL leading to an invalid/nonexistent bucket for the Minio Browser, that bucket should not be set as the current bucket.

## Current Behavior

When the user enters a URL leading to an invalid/nonexistent bucket in the Minio Browser, that bucket is being set as the current bucket even though the characters are invalid or the bucket does not exist. This l

[2018-01-26 20:42] aead opened #5453 "[doc]: mention that we don't support the PKCS8 format"
The minio server supports encrypted private TLS keys. However the Go standard library only provides
functionality for parsing encrypted private keys in the PKCS1 format. See: golang/go/issues/8860

Since openssl defaults to PKCS8 formatted keys we must document that we don't support them (yet).

## Context
Azure-Cloud deployment, TLS setup

## Your Environment
master

[2018-01-27 04:00] #5453 closed, assigned to aead

[2018-01-27 10:57] KhaledSharif opened #5455 "Uploading file to default region results in a vague exception"
As suggested by the reply [to my issue on the boto repo](https://github.com/boto/boto3/issues/1425), I'm copying over the issue here. The reply suggests that `minio` is not accurately mimicking the AWS S3 response when no region is provided in the `boto` resource constructor.

# Error description

Trying to upload a file to the wrong S3 region results in a vague exception regarding an "invalid lit

[2018-01-27 16:39] ghost opened #5456 "Signature Does Not Match"
I am trying to upload a video file (mp4) in using boto (python) to a local minio instance.

## Expected Behavior

The file is uploaded into minio.

## Current Behavior
Boto seems using signature v2 by default. In this case, I have :

[code]

When i change my boto conf in order to use signature v4 (`use-sigv4 = True`) I have :

[code]

## Steps to Reproduce (for bugs)
Here is the code for creating

[2018-01-27 18:50] harshavardhana commented on #5455
This has nothing to do with Minio. The execution is raised by boto on client side. It is a client side validation issue.

[2018-01-27 18:53] harshavardhana commented on #5455
Can you enable server environment variable MINIO_HTTP_TRACE=output.log and attach the log here ?

[2018-01-28 04:12] harshavardhana commented on #5455
[code]

Is the configuration which i have used works with Minio in boto2. Please also paste your sample program @KhaledSharif  as well.

[2018-01-28 04:15] nitisht commented on #5456
@arnaud-web can you please take a look at https://github.com/minio/minio/issues/5422

also as boto is being deprecated, we'd recommend you to use boto3 instead.

[2018-01-28 06:27] ghost commented on #5456
Thanks for your reply.

In #5422 the fix was to use `calling_format = boto.s3.connection.OrdinaryCallingFormat()` but I am already using this, you can see it in the code I posted.

Regarding boto3, like I precise in the description, I am using OpenEDX instance. So cannot just update a dependency without a big impact.

[2018-01-28 08:43] nitisht commented on #5456
can you try setting access key and secret key like so

[code]

also, pls enable server environment variable MINIO_HTTP_TRACE=output.log and attach the log here..

[2018-01-28 08:49] KhaledSharif commented on #5455
I thought so too. However the reply on my issue on the `boto` repository seems to suggest otherwise. The reply claims that `minio` is not replicating the correct AWS S3 response.

Certainly. I'll check with our sysadmin and reply here with the log.

[code]

[2018-01-28 09:12] ghost commented on #5456
Okay, i tried `MINIO_HTTP_TRACE=output.log` with the docker container but it didn't log anything.

So I cloned this repo and I am now running it directly with:

[code]

And my python settings :

[code]

Here is the result :

[output.log](https://github.com/minio/minio/files/1670927/output.log)

[2018-01-28 09:30] ghost commented on #5456
And here is the generated URL created from openedx :

http://192.168.8.107:9000/veda/ad2ee667-a4ac-4fc5-b4fe-574ca5391f37?Signature=t4I4iTNqyuEzg7XsntzsKCvzEE0%3D&Expires=1517217310&AWSAccessKeyId=minio&x-amz-meta-client_video_id=123456.mp4&x-amz-meta-course_key=course-v1%3AedX%2BDemoX%2BDemo_Course&x-amz-meta-course_video_upload_token=test

[2018-01-28 09:47] harshavardhana commented on #5456
MINIO_HTTP_TRACE writes to a file output.log so you need to get it from the container.

[2018-01-28 10:58] ghost commented on #5456
okay, @harshavardhana thanks for the information.

[2018-01-29 01:11] kannappanr opened #5457 "Chinese Translation: Document Minio doesn't support PKCS8 format"
Issue to track chinese translation of https://github.com/minio/minio/pull/5454

[2018-01-29 05:23] michaeleekk commented on #4378
We have similar issue about caching too.
Apparently if you are running in distributed mode or erasure mode, it will use up to half of the available memory. And I couldn't find a documentation about the behaviour.

https://github.com/minio/minio/blob/53f3d2fd65b47dbcd25b5c75600d1fc078e16bae/cmd/server-rlimit.go#L65

I wonder if the cache size should be able to override manually ? This would help a

[2018-01-29 05:33] harshavardhana commented on #4378
You can turn off the cache by setting _MINIO_CACHE=off environment variable.

[2018-01-29 05:40] michaeleekk commented on #4378
What about setting the cache size to a value, like 3GB ?

[2018-01-29 06:53] harshavardhana commented on #4378
There is no way to do that, we will be moving away from in-memory caching since we are moving to disk based caching.

[2018-01-29 07:01] michaeleekk commented on #4378
@harshavardhana I see. Is the progress of disk-based caching on this PR https://github.com/minio/minio/pull/5182 ?

[2018-01-29 07:18] harshavardhana commented on #4378
yes that is correct @michaeleekk

[2018-01-29 07:40] balamurugana opened #5458 "[PR#5160] Error out if wrong ellipsis syntax used"
When wrongly formed ellipsis used like `mydisk{1..64}`, we would need to error out than creating an endpoint as `mydisk{1..64}`

Step to reproduce the bahavior:
$ minio server 'mydisk{1..64}'

[2018-01-29 07:45] harshavardhana commented on #5458
We cannot detect this @balamurugana - bash already expands the `..` style. By the time the control reaches the CLI the expansion is complete.

[2018-01-29 07:46] balamurugana opened #5459 "[PR#5160] Better error message for ellipsis with unsupported characters"
When running minio with unsupported characters in ellipsis need better error message.
[code]

[2018-01-29 07:52] balamurugana opened #5460 "[PR#5160] Error out if unsupported characters in ellipsis than using it"
When running minio with wrong characters in ellipsis ends up with unexpected endpoints.
[code]

creates endpoints
[code]

[2018-01-29 07:54] balamurugana commented on #5458
@harshavardhana I haven't used bash to produce this error.  BTW its possible in bash not to expand it.

[2018-01-29 07:58] harshavardhana commented on #5458
yeah i saw the quotes specifically being used, lets see how to handle this specifically.

[2018-01-29 08:02] balamurugana opened #5461 "[PR#5160] Wrong ellipsis format leads to wrong setup"
Running with command `minio server n{1...10}.m{1...8}` makes wrong endpoints
[code]

[2018-01-29 08:11] harshavardhana commented on #5461
The ellipses syntax for double is only supported for HTTP endpoints, i guess we need to error out.

[2018-01-29 08:16] balamurugana opened #5462 "Title case is used wrongly in the error"
Currently log message is title cased.

Example error message:
[code]

[2018-01-29 08:23] balamurugana opened #5463 "[PR#5160] Better error message when negative numbers are used in ellipsis"
When running `minio server mydisk{-1...-20}`, it returns
[code]

The error message is not clear to specific to the problem.

[2018-01-29 08:36] balamurugana opened #5464 "[PR#5160] Ellipsis is not working with two ellipsis arguments"
[code]

[2018-01-29 08:44] balamurugana opened #5465 "[PR#5160] Using of ellipsis syntax leads to unsupported setup"
command `minio server sda{1...1} sdb{1...1} sdc{1...1}` starts successfully and ends up having below
[code]

[2018-01-29 17:18] jonandernovella opened #5467 "Issue running shared Minio on GlusterFS backend"
## Expected Behavior
Concurrently writing files to a PV volume should result in a successful upload.

## Current Behavior
When pushing data using Pachyderm via `pachctl put-file`, using a parallelism of 10, the logs from pachd show the following:

`2018-02-14T19:24:32Z ERROR pfs.BlockAPI.Obj.PutObjectSplit {"duration":27.47588571,"error":"unexpected EOF","request":null}
2018-02-14T19:24:32Z ERROR

[2018-01-29 17:48] krisis commented on #4834
@christianbaun Did you get a chance to update your cluster? Did you see this issue again after update?

[2018-01-29 17:48] harshavardhana commented on #3475
This change is necessary starting with change https://github.com/minio/minio/pull/5420 @donatello @nitisht

[2018-01-29 17:51] vadmeste commented on #5290
@IrinaAndronachi, we are reviewing another code https://github.com/minio/minio/pull/5160 to be merged soon which makes it easier to fix this one.

[2018-01-29 17:51] krisis commented on #4930
Fixed by https://github.com/minio/minio/pull/5072

[2018-01-29 17:51] #4930 closed, assigned to krisis

[2018-01-29 17:54] krisis commented on #5311
@curantes, symptoms mentioned in the description and from conversations on slack it is clear that the root cause is the same as https://github.com/minio/minio/issues/5023. Since it is fixed I am closing this issue as well. Feel free reopen this issue if it appears after updating to RELEASE.2017-11-22T19-55-46Z or later.

[2018-01-29 17:54] #5311 closed, assigned to krisis

[2018-01-29 18:04] harshavardhana commented on #4981
We cannot possibly decide in this scenario, 3 disks unformatted and 1 disk formatted we do not have quorum to decide this.  We want to wait here and not fail quickly.

[2018-01-29 18:04] #4981 closed, assigned to nobody

[2018-01-29 18:05] krisis commented on #4968
@hagmonk closing this issue since we haven't heard back for some time now. Feel free to reopen this issue if you face this again with the latest release (or a more recent one).

[2018-01-29 18:05] #4968 closed, assigned to krisis

[2018-01-29 18:06] harshavardhana commented on #4980
This needs to be investigated

[2018-01-29 18:06] harshavardhana commented on #3359
Closing this will be revisited in future as per discussion with @abperiasamy

[2018-01-29 18:06] #3359 closed, assigned to nobody

[2018-01-29 18:07] vadmeste commented on #5343
Closing as this issue becomes idle. Feel free to reopen it @mlinsky when needed.

[2018-01-29 18:07] #5343 closed, assigned to vadmeste

[2018-01-29 18:08] harshavardhana commented on #5022
We need to add this in our docs to make sure ports are open, RHEL/CentOS installations can have constant problems without knowing this detail.

[2018-01-29 18:10] nitisht commented on #5082
we can take this up in future. closing this for now

[2018-01-29 18:10] #5082 closed, assigned to nobody

[2018-01-29 18:13] harshavardhana commented on #5258
@fwessels already verified this to have sufficient distribution.

[code]

[2018-01-29 18:13] #5258 closed, assigned to nobody

[2018-01-29 18:27] jonandernovella commented on #5467
Issue semi-solved. Changed volume options as recommended here and it works with certain settings. https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3/html/configuring_red_hat_openstack_with_red_hat_storage/sect-setting_up_red_hat_storage_trusted_storage_pool

[2018-01-29 18:28] harshavardhana commented on #4834
A possible duplicate of https://github.com/minio/minio/issues/5467

[2018-01-29 18:30] #5373 closed, assigned to krishnasrinivas

[2018-01-29 23:47] kannappanr commented on #5344
Closing the issue as stale. Please feel free to re-open the issue, if you have more information.

[2018-01-29 23:47] #5344 closed, assigned to kannappanr

[2018-01-30 07:58] hungntit opened #5469 "InvalidStorageClass when calling the PutObject for storage-class STANDARD_IA"
I use the docker image minio/minio:RELEASE.2018-01-18T20-33-21Z or latest, when I execute the command:
`aws --endpoint-url http://localhost:9555 --profile localdev s3 cp --storage-class STANDARD_IA README.md s3://tettet/README.md`
I got the result  _upload failed: ./README.md to s3://tettet/README.md An error occurred (InvalidStorageClass) when calling the PutObject operation: Invalid storage clas

[2018-01-30 08:50] nitisht commented on #5469
@hungntit storage classes were not supported as of version `minio/minio:RELEASE.2017-11-22T19-55-46Z` and the input was ignored.

We recently added support for storage classes with `STANDARD` and `REDUCED_REDUNDANCY` classes. As `STANDARD_IA` is not supported you get the error. Refer to storage class documentation [here](https://github.com/minio/minio/tree/master/docs/erasure/storage-class).

[2018-01-30 08:57] hungntit commented on #5469
@nitisht Will we support for `STANDARD_IA` storage class?

[2018-01-30 09:18] nitisht commented on #5469
it is not planned as of now @hungntit .

[2018-01-30 09:39] harshavardhana commented on #5469
There is no meaning for STANDARD_IA in Minio while it can be implemented, it is quite redundant with STANDARD.

[2018-01-30 13:39] pwdonald opened #5471 "SSE multi-part object operations"
Add support for basic operations of objects with a file size > 5MB when Server Side Encryption headers are present.

## Expected Behavior
When performing a PUT operation with SSE headers present and the object has a file size >5MB the object should store in an encrypted state on the Minio server just as a single part object would.

## Current Behavior
When the SSE metadata headers are present in a

[2018-01-30 14:06] nitisht commented on #5469
Closing this as answered @hungntit feel free to reopen/reachout on [Slack](https://slack.minio.io) for further questions.

[2018-01-30 14:06] #5469 closed, assigned to nitisht

[2018-01-30 14:55] curantes commented on #5311
@krisis Sorry for late reply, Yes this issue have been resolved since upgrade to latest released minio.

Thank you for your help.

[2018-01-30 15:03] aead commented on #5471
@pwdonald
This is a known issue. Currently the minio server just supports basic SSE-C operations (GET (without range), PUT (single part), HEAD). I'm working on full SSE-C support. You can follow our progress [here](https://github.com/minio/minio/projects/8).

As tmp. work-a-round you can upload the object with SSE-C headers using single PUT API - if that's possible with the SDK you're using.

[2018-01-30 15:33] codyhazelwood opened #5472 "Snap produces `relocation error` on Ubuntu 14.04.5"
## Expected Behavior

Minio should start, or produce an error message as to why it couldn't.

## Current Behavior

When running `snap run minio server ...`, produces:
`minio: relocation error: /snap/minio/816/lib/x86_64-linux-gnu/libpthread.so.0: symbol __mmap, version GLIBC_PRIVATE not defined in file libc.so.6 with link time reference`

## Steps to Reproduce (for bugs)

1. `sudo apt-get update &

[2018-01-30 17:42] harshavardhana commented on #5472
Ubuntu snaps are for latest releases only i.e Ubuntu 17.10 above. For 14.04 simply download our signed static binaries

[2018-01-30 18:12] nitisht commented on #5456
@arnaud-web I tried creating a local boto setup and was able to upload objects to Minio instance.

Only difference being the query parameter fields `&x-amz-meta-client_video_id=123456.mp4&x-amz-meta-course_key=course-v1%3AedX%2BDemoX%2BDemo_Course&x-amz-meta-course_video_upload_token=test` added by openedx.

Can you point me to steps on how to setup openedx so I can reproduce your issue ?

[2018-01-30 20:18] jdbranham commented on #1168
Is the cluster storage node still a work in progress?

[2018-01-30 20:53] harshavardhana commented on #1168
No it is not https://docs.minio.io/docs/distributed-minio-quickstart-guide

[2018-01-30 23:00] thorsteinssonh opened #5474 "allows rrs == standard redundancy for 4 disks, but bans it for 6 disks."
## Expected Behavior
User expects consistent behavior from minio in case of which rrs and standard redundancies are allowed.  Expect 4 and 6 disks startups to follow same rules.

## Current Behavior
Currently minio allows rrs == reduced for 4 disks, but refuses to accept 6 disks with same settings.
This is unintuitive. Harshavardhana explained that there has been contention about allowing 4 disk e

[2018-01-30 23:02] harshavardhana commented on #5474
Fixed by #5470

[2018-01-30 23:03] harshavardhana commented on #5472
Closing this as a non-issue, binaries are preferred on older Ubuntu installations.

[2018-01-30 23:03] #5472 closed, assigned to nobody

[2018-01-31 02:56] hungntit commented on #5469
Currently I use minio on dev environment instead of S3. Could we support STANDARD_IA like STANDARD storage class?

[2018-01-31 03:04] harshavardhana commented on #5469
STANDARD_IA is not meaningful in context of Minio, STANDARD_IA is STANDARD in Minio so you can simply use STANDARD. We can also make STANDARD_IA behave like STANDARD but we didn't want to confuse users so we error out.

[2018-01-31 03:52] hungntit commented on #5469
Thanks @harshavardhana  @nitisht

[2018-01-31 05:44] mattn commented on #3835
any update on this?

[2018-01-31 11:22] vadmeste opened #5477 "Relax access key length check for Azure"
## Expected Behavior
Able to run Minio in Azure gateway mode
`MINIO_ACCESS_KEY="aead" MINIO_SECRET_KEY="xxxx" minio gateway azure`

## Current Behavior
An error is shown:
[code]

## Possible Solution
Relax access/key length

## Steps to Reproduce (for bugs)

1. You need to have an Azure blob storage account with a name < 5
2. MINIO_ACCESS_KEY="name" MINIO_SECRET_KEY="password" minio gateway azure

[2018-01-31 20:56] kannappanr commented on #5462
#5468 has been merged. Hence closing the issue

[2018-01-31 20:56] #5462 closed, assigned to ebozduman

[2018-02-01 00:24] ptemmer commented on #2423
Pardon my ignorance, from what I read here creating an empty directory should work.
However, what I am seeing is:

[code]
I'm using the latest minio docker image (created 13 days ago), with s3fs 1.79

[2018-02-01 00:24] #5458 closed, assigned to harshavardhana

[2018-02-01 00:24] #5459 closed, assigned to harshavardhana

[2018-02-01 00:24] #5461 closed, assigned to harshavardhana

[2018-02-01 00:24] #5463 closed, assigned to harshavardhana

[2018-02-01 00:24] #5464 closed, assigned to harshavardhana

[2018-02-01 00:24] #5465 closed, assigned to harshavardhana

[2018-02-01 00:32] harshavardhana commented on #2423
Are you using distributed or single disk mode? @ptemmer - if former is true we recently merged a PR to support it.  For single disk mode it should work fine.

[2018-02-01 00:43] ptemmer commented on #2423
Thanks for the prompt reply @harshavardhana. Yes I am using distributed mode (4 nodes, 1 disk).
Is the merge already available in edge? When do you foresee it to be available in stable?
I would be glad to test.

[2018-02-01 00:56] harshavardhana commented on #2423
Yes it is in edge but i found a bug so this PR https://github.com/minio/minio/pull/5480 needs to be merged before you can test it.

[2018-02-01 10:53] #5474 closed, assigned to harshavardhana

[2018-02-01 12:52] balamurugana opened #5484 "[PR#5160] unable to use endpoints with ellipsis"
[code]

[2018-02-01 12:58] balamurugana opened #5485 "[PR#5160] Valid ellipses are not working"
[code]

[2018-02-01 13:05] balamurugana commented on #5460
Now minio creates below unrequested endpoints
[code]

[2018-02-01 17:41] harshavardhana commented on #5485
This is not purposefully supported @balamurugana as i explained before the ellipses syntax expands per argument, arguments are not combined in the manner like this. Each ellipses needs to be properly divisible and should be expandable.

This is done on purpose to support situations where users don't want have redundancy to spawn across disks, in such a scenario it is expected that they provide ell

[2018-02-01 17:41] harshavardhana commented on #5484
This is not purposefully supported @balamurugana as i explained before the ellipses syntax expands per argument, arguments are not combined in the manner like this. Each ellipses needs to be properly divisible and should be expandable.

This is done on purpose to support situations where users don't want have redundancy to spawn across disks, in such a scenario it is expected that they provide ell

[2018-02-01 18:15] harshavardhana commented on #5460
Fixed in the PR properly this time.

[code]

All other combinations of alphamerics are rejected as well.  Closing this issue.

[2018-02-01 18:47] #5380 closed, assigned to krishnasrinivas

[2018-02-02 03:43] #5477 closed, assigned to vadmeste

[2018-02-02 08:18] balamurugana commented on #5460
The error message should be fixed convey the error precisely `Invalid command line arguments server=‘:9000’, args=[mydisk-{a...z}{1...20}] (Invalid ellipsis format in (mydisk-{a...z}{1...20}), Ellipsis must be in format of {N...M} where N and M are positive integers and M must be greater than N+4.)`

[2018-02-02 08:28] harshavardhana commented on #5460
Fixing again @balamurugana

[2018-02-02 08:28] harshavardhana commented on #5460
Fixed as below.

[code]

[2018-02-02 08:28] #5460 closed, assigned to harshavardhana

[2018-02-02 10:10] balamurugana opened #5488 "[PR#5160] Unclear error message or bug"
[code]

whereas below works
[code]

[2018-02-02 10:15] harshavardhana commented on #5488
This is also expected @balamurugana with 4 and 6 we need to choose a common GCD so that the set chosen is of correct value. with 4 and 6 we cannot have a set of 4 and another set of 6. GCD from 4 and 6 is 2 which is not a valid value for constructing an erasure set so we fail.

[2018-02-02 10:16] balamurugana commented on #5488
@harshavardhana As I mentioned the error message is not clear `[2018-02-02T10:06:29.508651337Z] [FATAL] Invalid command line arguments server=‘:9000’, args=[sda{1...4} sdb{1...6}] (Unable to find common erasure set ratio, please choose a different input pattern)`

In a second case `minio server sda{1...4} sdb{1...8}`, the set size is chosen as 4 and sdb{1...8} is broken into two sets.  The usage i

[2018-02-02 10:18] harshavardhana commented on #5488
Will fix it @balamurugana - if you have a suggestion please make one.

[2018-02-02 10:21] aead commented on #5446
Just some hints:
 - [https://en.wikipedia.org/wiki/Brotli](https://en.wikipedia.org/wiki/Brotli)
 - [https://en.wikipedia.org/wiki/Zstandard](https://en.wikipedia.org/wiki/Zstandard)

[2018-02-02 10:31] balamurugana opened #5489 "[PR#5160] Error out for invalid ellipsis format like `sda{1...4}{1..4.}`"
When running `minio server 'sda{1...4}{1..4.}'`, it creates below endpoints
[code]

[2018-02-02 11:26] harshavardhana commented on #5489
why should this be invalid @balamurugana i see that `bash` for example simply ignores this case?

[code]

[code]

[2018-02-02 11:31] balamurugana commented on #5489
@harshavardhana do you see we need to create endpoints like `sda1{1..4.} sda2{1..4.} sda3{1..4.} sda4{1..4.}`?  It is user input error or typo in the ellipsis syntax.

I think we would need to treat things inside `{}` is in ellipsis syntax or not.

[2018-02-02 12:02] harshavardhana commented on #5489
[code]

It gets tricky to fix these type of scenarios with regex alone since the above change fails correctly but it fails supported cases as well.  If not for regex then i will have to navigate these character by character. If there is a better way to generalize this i am all ears for new techniques.

[2018-02-02 12:07] #5485 closed, assigned to harshavardhana

[2018-02-02 12:07] harshavardhana commented on #5455
Were you able to get any more info? @KhaledSharif

[2018-02-02 12:08] harshavardhana commented on #5393
Moving this to priority:low for now.  We decided to defer this for future work.

[2018-02-02 12:09] harshavardhana commented on #5348
This issue will be fixed as part of the format migration and change in PR #5160

[2018-02-02 12:10] harshavardhana commented on #4978
Giving this to @poornas since she already sent a PR for this.

[2018-02-02 12:12] harshavardhana commented on #5304
Moving this to blocked for further discussion and closure if we are not prioritizing this now.

[2018-02-02 12:14] harshavardhana commented on #4658
With lockfree FS backend implemented the spuriously changing files seems to be fixed in fs-v1* , will monitor further to see if there are more files which needs to be fixed in the same manner.

[2018-02-02 12:15] balamurugana commented on #5484
@harshavardhana This requires a discussion.  Breaking large set to multiple smaller sets come with lower fault tolerance setup.

[2018-02-02 12:17] harshavardhana commented on #5484
This was already discussed @balamurugana and is implemented as agreed. The point is users know what they are trying to do here and it is an undocumented behavior as well.  In a scenario like this we are actively going to educate users on the pitfalls if they really don't know what they are doing.

[2018-02-02 12:19] balamurugana commented on #5484
Reopened wrong issue

[2018-02-02 12:19] #5484 closed, assigned to harshavardhana

[2018-02-02 12:20] harshavardhana commented on #2423
https://github.com/minio/minio/pull/5480 PR is merged @ptemmer you can test `edge` now which should work fine with s3fs.

[2018-02-02 20:04] harshavardhana commented on #5488
How about this ?

[code]

[2018-02-02 20:16] harshavardhana commented on #5488
Changed a bit further

[code]

Let me know what you think @balamurugana ?

[2018-02-03 07:24] ghost commented on #5456
@nitisht Thanks for your reply.

Actually, I removed these parameters and upload was completed!

Do you think the problem comes from openedx or from minio (for example, doesn't support query parameter like that)?

Setup openedx is a bit heavy (http://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/latest/installation/devstack/install_devstack.html), let me try first to analys

[2018-02-03 07:55] ghost commented on #5456
I tried with only one metadata and it's not working. So it seems to add metadata causing this error.

Here is the openedx code :

[code]

I found a previous issue #3158. Maybe it's related?

[2018-02-03 09:32] yajo opened #5492 "implement service discovery"
To get a really resilient storage cloud, service discovery needs to be implemented.

## Expected Behavior

Minio should be able to use some service discovery system, such as etcd or similar, and fetch siblings from there instead of needing to hardcode them in the cli of settings.

## Current Behavior

Minio needs a hardcoded list of siblings: `minio server http://minio1:9000/export http://minio2:9

[2018-02-03 13:24] nitisht commented on #5456
#3158 was related to spaces in the metadata fields. I dont think it is related.

I tried this code snippet against S3 as well and it did not work, can you confirm if it works against S3?

[2018-02-03 14:27] #5161 closed, assigned to kannappanr

[2018-02-03 14:59] harshavardhana commented on #5492
Bucket and config discovery is a work in progress as part of federation work to discover many deployments.

Individual deployment units of Minio are always expected to be proper command line options - it is very much part of the design and this is not going to change.

[2018-02-03 16:36] #5492 closed, assigned to nobody

[2018-02-03 16:44] ghost commented on #5456
Okay, I'll try.

But it should because I am sure openedx would provide a fix if an important feature like this is not working.

[2018-02-04 06:49] yajo commented on #5492
May I ask why? It doesn't seem to be an extremely hard feature and it seems to align well with the project philosophy IMHO. Thanks.

[2018-02-04 07:35] harshavardhana commented on #5492
It adds an unneeded dependency, the design philosophy of Minio is to keep the most common deployments simple and predictable. Minio is deployed in static deployment units and each such units are completely isolated from each other.

etcd is required only when all of these different deployment units need to federate which is why we will be introducing a way to manage multiple creds across many depl

[2018-02-05 04:19] harshavardhana opened #5493 "Creating a directory fails when SSE-C is enabled"
## Expected Behavior
Directories are now supported on both FS and Erasure coded backends but with SSE-C we shouldn't interpret them specially.

## Current Behavior
SSE-C enabled requests for directory creates are not supported.

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Create a PutObject request with SSE-C headers enabled make sure to have the object name with `/` suffixed.

[2018-02-05 04:20] harshavardhana commented on #5488
Closing this as fixed.

[2018-02-05 04:20] #5488 closed, assigned to harshavardhana

[2018-02-05 04:20] harshavardhana commented on #5489
Do you have any suggestions for this @balamurugana ?

[2018-02-05 04:21] harshavardhana commented on #5455
Reaching out again were you able to gather more server side info?

[2018-02-05 07:33] balamurugana commented on #5489
@harshavardhana i will send you a code snippet how that will be done

[2018-02-05 11:59] balamurugana commented on #5489
Something like below code fixes the issue

[code]

[2018-02-05 12:01] ghost commented on #5456
Hi,

I tried with amazon s3 and it worked. But we faced the error. Here is what I did :

1. Try with amazon s3 :
  **Result:** 403 error with Signature Does Not Match

1. Try with amazon s3 and removing metadata and header :
  **Result:** 403 error with Signature Does Not Match

1. Try with amazon s3 by authorizing CORS (still without metadata and header)
  **Result:** 403 error with Signature Doe

[2018-02-05 17:56] harshavardhana commented on #5456
I am not able to understand here @arnaud-web are you saying that it doesn't work with AWS S3 for more common use cases?  - Also in case of Minio you don't need to authorize CORS.

[2018-02-05 18:07] nitisht commented on #5324
Reported by user qlb on Slack, looks like the issue is still reproducible on latest `mc` release, @poornas could you please confirm

[2018-02-05 19:09] poornas commented on #5324
@nitisht, have not been able to reproduce issue yet. Did user give additional details?

[2018-02-05 19:12] nitisht commented on #5324
no additional details @poornas he just said mirror dropped content-types. I will ping again to get some more info, will update here

[2018-02-05 19:42] ghost commented on #5456
It does work but on s3 it needs to authorize CORS and allowed headers. I specified that in case of it could be useful for you to know that.

[2018-02-05 19:45] harshavardhana commented on #5456
Can you send the client output trace of the error? is it 403 "Access Denied" or 403 "Signature Does Not Match" because both are different results. @arnaud-web

[2018-02-05 19:45] ghost commented on #5456
Client output for my try with minio or s3?

[2018-02-05 19:46] harshavardhana commented on #5456
It would be S3.

[2018-02-05 19:48] ghost commented on #5456
Okay I'll send to you as soon as possible

[2018-02-05 22:06] harshavardhana commented on #5489
Thanks @balamurugana ended up implementing it differently and it should work in the new update to the PR now.

[code]

[code]

[2018-02-05 22:06] #5489 closed, assigned to harshavardhana

[2018-02-05 22:08] harshavardhana commented on #5348
@vadmeste can you spin this up and test? with PR #5160 and see if fixes the issue.

[2018-02-05 23:02] vadmeste commented on #5348
@harshavardhana, currently if I manually remove one .minio.sys in any disk, Minio won't run anymore and says the backend is corrupted.

[2018-02-05 23:08] harshavardhana commented on #5348
Are you talking about the PR #5160 ?

[2018-02-05 23:08] vadmeste commented on #5348
yeah

[2018-02-06 03:21] harshavardhana opened #5494 "Support SSE-C GET with Range header"
## Expected Behavior
GET with range header works.

## Current Behavior
Currently GET with range header returns 400 Not implemented.

## Possible Solution
Implement a way to skip bytes for GetObject call.

## Steps to Reproduce (for bugs)
Simply set encryption headers for an already encrypted object after PutObject()

## Context
SSE-C support for Minio server.

## Your Environment
master branch

[2018-02-06 06:52] balamurugana opened #5496 "[PR#5160] Error out on wrong ellipsis nesting"
Running `$ minio server sda{{1...4}}` creates `sda{1} sda{2} sda{3} sda{4}`, but we need to error out appropriate for wrong formatting.

[2018-02-06 07:23] harshavardhana commented on #5348
yes that is expected we are not going to heal corrupted backends anymore.

[2018-02-06 07:24] harshavardhana commented on #5348
Meaning corrupted `format.json`

[2018-02-06 07:27] harshavardhana commented on #5348
Going through this issue again, i see that we are not going to need to fix this. Closing this issue.

[2018-02-06 07:27] #5348 closed, assigned to vadmeste

[2018-02-06 08:00] ghost commented on #5456
Okay, i have a signature not match when I don't set the header :

[code]

When I set the header but I remove `<AllowedHeader>*</AllowedHeader>` from S3 configuration I have access forbidden :

[code]

[2018-02-06 08:08] harshavardhana commented on #5456
This is exactly how it is behaving with Minio as well @arnaud-web - you need to set the headers to make it work. are you saying that it doesn't work even after the headers are set?

In Minio CORS is enabled by default so this is a non issue for us.

[2018-02-06 08:20] ghost commented on #5456
Yes, it doesn't work after headers are set.

You can check the code I posted previously :

[code]

The only difference I see with amazon S3 is I need to add this for minio in S3Connection object :

[code]

[2018-02-06 09:06] yajo commented on #5492
But then, adding the node nº 101 to a 100-node cluster means changing CLI on the other 100, isn't it? While just letting nodes be autodiscovered is more a Plug&play approach, while still not having to remove the current feature set, of course.
In a big, dynamic, cloud deployment, this very little piece of the puzzle means a lot of manual work...
Or maybe I didn't understand clearly what you mean w

[2018-02-06 09:10] harshavardhana commented on #5492
Minio doesn't allow adding 100 to 101 - there is no dynamic expansion.  If you started with 100 it stays 100 forever, you can potentially start a new 100.  This is one of the reason why we never require etcd.

etcd is only useful when there are dynamic floating entities that is the case for buckets, multiple credentials which will be provided in the federation.

[2018-02-06 10:32] yajo commented on #5492
Oh Ok, I get it now clearly 😉

However that's a very weird design decision... Scalability is not on the project's roadmap? How can somebody know all the disk space he will need forever? And why pay for that since the start, when you still don't need it?

Certainly Minio's features are great, but this one decision feels like narrowing its purpose for non-serious business, don't you think?... 🤔

[2018-02-06 10:36] harshavardhana commented on #5492
Making a single large PB sized volume where the disks and nodes are managed like a blackbox by the filesystem is quite scary. Any crash means we blew up all the tenants at once. 1000s of individual minio tenants means, I know when I add the million'th minio instance, it is not any more complex than the first instance of Minio. Provisioning with k8 or external orchestration tools is better than Min

[2018-02-06 10:49] balamurugana opened #5497 "[PR#5160] server crashes when expanded endpoints are used"
To reproduce this issue
1. run freshly `minio server sda{1...4} sdb{1...8}`. it works fine.
2. stop minio
3. start with expanded endpoints `$ minio server sda1 sda2 sda3 sda4 sdb1 sdb2 sdb3 sdb4 sdb5 sdb6 sdb7 sdb8`, now it crashes with below
[code]

Either we need to error out properly or honor accordingly.

[2018-02-06 10:51] harshavardhana commented on #5496
Fixed already in the PR

[2018-02-06 10:51] #5496 closed, assigned to harshavardhana

[2018-02-06 11:03] harshavardhana commented on #5497
Going to fail like this

[code]

[2018-02-06 11:10] iwanbk opened #5498 "Update vendored grpc package"
Current version of `grpc` is too old (2017-04-28T22:32:14Z) i think it is better to update the `grpc` package, the newer version the better

## Expected Behavior

Should use latest `grpc` or newer version than currently used

## Current Behavior

too old `grpc` version (0eb507a2ca07f13baf499f89d66cc566bf644643 , dated 2017-04-28T22:32:14Z)

## Possible Solution

Update `grpc`, the newer the better

[2018-02-06 11:12] harshavardhana commented on #5497
Actually i don't need to.

[2018-02-06 11:13] harshavardhana commented on #5498
why is newer grpc better @iwanbk ? - we have no direct dependency on it.

[2018-02-06 11:18] harshavardhana commented on #5497
Fixed this

[code]

[code]

[2018-02-06 11:18] harshavardhana commented on #5497
Can you check @balamurugana you need to pull the latest.. ?

[2018-02-06 11:23] iwanbk commented on #5498
It normally contains fixes and improvements of the older version.
Current version used doesn't even a release version (v1.4.0-dev).

If you worry of regression when we jump to `v.1.9.2` from `v1.4.0-dev`, `v.1.5.2` is enough for our usage, it also easier to check/test if there is regression because the smaller difference than with v1.9.2

[2018-02-06 11:27] balamurugana commented on #5497
It works. Also `minio server sda1 sda2 sda3 sda4 sdb1 sdb2 sdb3 sdb4 sdb5 sdb6 sdb7 sdb8` and `minio sda{1...4} sdb{1...8}` work.

Now it leads to two ways to do the same thing.  Similarly ellipsis format as set representation is lost and mis-communicating.

Not sure what's our stand point on this.

[2018-02-06 17:27] nitisht commented on #5456
@arnaud-web I tried few of the combinations and here are the results

#### Target Minio Server - with below client code:

[code]

Then try uploading a file via `curl` like so

[code]

Response:

[code]

#### Target S3 with below client code

[code]

Try upload using
[code]

Response:
[code]

To conclude, even with `Content-Type` added, I get the `SignatureDoesNotMatch` from S3. Is this the same be

[2018-02-06 18:13] harshavardhana commented on #5497
I am thinking we should fail @balamurugana will check with @abperiasamy - But i think we can fail to avoid confusion. We have to convey to the user on what happened though since we don't know previous arguments we can only tell them a minimum information regarding how the layout of the set was.

[2018-02-06 19:31] harshavardhana commented on #5497
Fixed in the PR this time it errors out @balamurugana

[2018-02-06 19:31] ghost commented on #5456
@nitisht  Thanks for your reply.

No, as you can see in my previous posts, I am able to upload a video to Amazon S3. I can share with you a screen of my bucket if you want.

Do you want I share with you detailed instructions for openeedx? So you could test directly.

[2018-02-06 19:49] nitisht commented on #5456
@arnaud-web I think we should be able to reproduce the problem with the given snippet, as you showed, openeedx does the same. Is it possible for you to update boto to `2.48` and check (without openedx)? I see the version `2.39` openedx uses is pretty old.

Meanwhile I will try to reproduce the issue with boto `2.39`

[2018-02-06 23:07] #5393 closed, assigned to harshavardhana

[2018-02-07 08:20] KhaledSharif commented on #5455
Sorry for the delay in replying. I talked to our sysadmin and we can't modify the production server to output an HTTP trace (need to keep the production server as is). Instead I tried to reproduce the error locally using the following command, but the error cannot be reproduced, even though the version of `minio` is the same.

[code]

I'll be closing this issue until I'm able to reproduce it local

[2018-02-07 08:20] #5455 closed, assigned to harshavardhana

[2018-02-07 09:36] harshavardhana commented on #5497
Closing this as fixed in the PR, please re-open if seen again.

[2018-02-07 09:36] #5497 closed, assigned to harshavardhana

[2018-02-07 19:00] ghost commented on #5456
@nitisht I tried the code you posted and I have the same behavior.

I checked openedx code for more details, and the upload URL is generated as I mentioned to you previously. But the upload action seems to be triggered with this jquery-file-upload (https://github.com/blueimp/jQuery-File-Upload).

Maybe the best shot would be to install openedx vagrant file and check what's going wrong.

For inform

[2018-02-07 19:05] nitisht commented on #5456
Thanks for the info @arnaud-web , can you pls join our [Slack](https://slack.minio.io) channel, it will help communicate easily..

[2018-02-07 21:05] sgamzn commented on #4881
@krishnasrinivas @harshavardhana this change definitely breaks compatibility with clients. There is a use case when products upload files increasing part size. There are all sorts of workflows which could be facilitated by parts being different size. I think there has to be a switch or configuration option to disable this error. In my organization, we had to fallback to pre-October client to enabl

[2018-02-07 21:43] krishnasrinivas commented on #4881
@sgamzn thanks for your inputs. We will get back on this.

[2018-02-07 22:15] harshavardhana commented on #4881
@sgamzn what is the exact workflow here? and what is the reason behind not having a consistent part size?

[2018-02-07 22:45] sgamzn commented on #4881
@harshavardhana in our organization there are multiple reasons:

1. if upload happens in parallel with file processing, it is beneficial to gradually increase fragment size - e.g.: starting with small chunks to be more responsive, and continue with larger ones to be able to upload up to maximum size.

2. some workflows involve writing first fragment of file after all other fragments are written (e

[2018-02-07 22:49] krishnasrinivas commented on #4881
@sgamzn can't your application first write to local FS first to compose the file first and in the end upload it to S3? What would be the downside of this approach for your application?

[2018-02-07 23:16] sgamzn commented on #4881
@krishnasrinivas no, our app is designed to write files larger than drive space available locally.

Please consider following: we design our application to work with Amazon S3. Third party S3 providers will be supported as long as they are compatible. So, as you would imagine, it does not make sense for us to be implementing workarounds, even if we theoretically could.

[2018-02-08 02:45] JLiscom commented on #5180
@nitisht
I don't know if this is a counter example or a different method. If I use the [s3.getSignedUrl](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.htIml#getSignedUrl-property) I can generate urls that are longer than 7 days.
JS Code
[code]

This gives a signature of `?AWSAccessKeyId=tests&Expires=1595816882&Signature=HQbjEiQUrqW87ShZSjVVOeHnz0o%3D`
Which is valid for 900 days from

[2018-02-08 02:49] harshavardhana commented on #5180
This is a presigned URL but it is not permanent @FoxUSA

[2018-02-08 02:50] JLiscom commented on #5180
@harshavardhana
Its way over 7 days. I could set it to 90,000 days or 999,999,999 days. So it essentially is permanent.

Signature
[code]
[Epoch time sets that signature to expire in the year 2739925.](https://www.wolframalpha.com/input/?i=86401517971856+epoch)

[2018-02-08 03:29] harshavardhana commented on #5180
Yes only in AWS Signature v2 (legacy),  AWS Signature v4 has limited it to maximum of 7 days.

[2018-02-08 11:34] kiltum opened #5503 "minio ignores policy rules?"
I try to limit bucket to "read-only" or "write-only" state, but without success.

Create bucket "test" at server test and set policy to "upload"

[code]

I see the same in web interface.

## Expected Behavior

[code]

## Current Behavior

[code]

## Context

i just try to make "write-only"  bucket, so anyone with keys can only add files, but not download them.

## Your Environment

* Version used

[2018-02-08 13:51] niemyjski opened #5504 "Unable to run on docker for windows."
I have a windows build on appveyor and I wanted to test against a local docker instance (https://ci.appveyor.com/project/Exceptionless/foundatio-minio/build/7.0.3). It's failing with:

[code]

After some research it appears that a manifest needs to be added to the docker configs: https://github.com/dotnet/dotnet-docker/issues/99

[2018-02-08 14:53] vadmeste commented on #5504
@niemyjski Minio doesn't have a Windows image AFAIK but the Linux image is supposed to work if Docker under Windows can emulate Linux binaries.

Also, it looks like Appveyor needs to support nested virtualization with Windows 2016, it seems this is not done yet.

See https://help.appveyor.com/discussions/questions/2652-windows-server-2016/page/2 and
https://github.com/appveyor/ci/issues/1717

[2018-02-08 15:28] niemyjski commented on #5504
Thanks! Do you know if there are any plans to add a windows image?

[2018-02-08 16:18] harshavardhana commented on #5504
We do not have any current plans to create one @niemyjski . You could simply download `minio` windows binary and use the following bat script

https://gist.github.com/harshavardhana/7ee9302375a181eb20f7fb3ff0a041e0#file-minio-server-bat

[2018-02-08 18:17] poornas commented on #5503
[code]

@kiltum, the bucket policies are meant to restrict anonymous access to a bucket, if anyone has keys they will be able to both download/upload.
[code]
The above 2 commands were tried in authenticated mode, i.e. with keys - hence the content was served.

You could do a curl GET request on the test/wow file - it should return access denied because you have set the policy for test bucket to up

[2018-02-08 19:18] kannappanr commented on #5504
@niemyjski Closing this issue as answered. Please feel free to open a new issue if you have further questions.

[2018-02-08 19:18] #5504 closed, assigned to nobody

[2018-02-09 01:00] #5437 closed, assigned to nobody

[2018-02-09 04:29] kiltum commented on #5503
Ooops. Looks like this behaviour is a little tricky .... Ok. I got this.
Thank you!

[2018-02-09 04:29] #5503 closed, assigned to poornas

[2018-02-09 09:07] krishnaksharma commented on #3672
I had the same issue, but removing content-type works fine. Hereby sharing the complete code.

public class GeneratePresignedUrlAndUploadObject {
	private static final String BUCKET_NAME = "<YOUR_AWS_BUCKET_NAME>";
	private static final String OBJECT_KEY  = "<YOUR_AWS_KEY>";
	private static final String AWS_ACCESS_KEY = "<YOUR_AWS_ACCESS_KEY>";
	private static final String AWS_SECRET_KEY = "<YOUR_

[2018-02-09 19:13] vadmeste opened #5506 "VirtualHost + Signature V2: Signature mismatch"
## Expected Behavior
Listing objects work with virtual host style and V2 signature method

## Current Behavior
Listing objects doesn't work with virtual host style and V2 signature method

## Possible Solution
No idea

## Steps to Reproduce (for bugs)
1. Set "localhost" in ~/.minio/config.json
2. Run Minio server
3. Run the following code:
[code]

## Context
Fixing bugs

## Your Environment
All

[2018-02-09 19:21] poornas commented on #5506
@vadmeste, minio.BucketLookupDNS will work only when server can handle virtual hosted style requests. So when user specifies BucketLookupDNS the expectation is that server can handle such requests, and they have deliberately chosen DNS style lookup. In the context of running minio server on localhost it will not work.

[2018-02-09 19:40] vadmeste commented on #5506
@poornas I think it should work and it is already working with V4. The code above works fine if I change V2 to V4.

[2018-02-09 19:46] poornas commented on #5506
@vadmeste , while it doesn't throw a signature mismatch error, it doesn't list the objects when I use V4

[2018-02-09 19:49] vadmeste commented on #5506
@poornas it lists objects for me.. it must be something in your config, are you sure you have at least one object under 'testbucket' ?

[2018-02-09 20:24] poornas commented on #5506
@vadmeste, yes

[2018-02-09 23:57] Darkless012 commented on #5472
Can you please update the Docs accordingly?

It would be nice to update Docs like:
"Snap install is recommended for latest versions of Linux distributions only. It might fail while running on older distributions."
And maybe provide a table?

Because snap is by default installed on Ubuntu 16.04 LTS (https://docs.snapcraft.io/core/install-ubuntu) so it lead me that finally I can, as the slogan goes:

[2018-02-10 14:06] vadmeste opened #5509 "VirtualHost: Creating a bucket doesn't work"
## Expected Behavior
When virtual host mode is enabled in Minio server, we can create new buckets

## Current Behavior
When virtual host mode is enabled in Minio server, we can't create new buckets, the error is
`A header you provided implies functionality that is not implemented`

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
1. Set "localhost" to domain field in ~/.minio/con

[2018-02-10 20:14] vadmeste commented on #5506
This is a minio-go bug, not a Minio server bug. Tested this condition with s3cmd & aws java SDK and it works fine.

[2018-02-10 20:20] vadmeste commented on #5506
This issue is created instead https://github.com/minio/minio-go/issues/920, closing this.

[2018-02-10 20:20] #5506 closed, assigned to vadmeste

[2018-02-10 22:50] aead commented on #5493
A possible solution is to add the following check: `&& size > 0` [here](https://github.com/minio/minio/blob/master/cmd/object-handlers.go#L559).

[2018-02-10 22:56] aead opened #5510 "SSE-C multipart requires ObjectLayer interface refactoring"
The SSE-C multipart PUT operation requires to verify that the user provided key matches the key specified during InitMultipart. Therefore multipart PUT must access the metadata of the temporary multipart object (written to tmp dir during multipart upload). This is not possible because of `ObjectLayer` interface limitations.

## Possible Solution

Find a clean way to get access to (most) backend fu

[2018-02-10 23:05] aead opened #5511 "Server should fail if SSE-C headers are provided but backend does not support encryption"
## Expected Behavior
The server should fail if the backend does not support encryption *but* SSE-C headers are provided.

## Current Behavior
The server stores the object unencrypted.

## Possible Solution
Add check in object handler layer (S3 -layer)

## Steps to Reproduce (for bugs)
1.  Disable encryption for e.g. FS backend.
2. Build and start server (with TLS) on FS
3.  `aws s3api put-object -

[2018-02-11 02:46] harshavardhana commented on #5510
Why not simply have a similar style like CopyObject since headers will be sent in each case for multipart operations?

I don't see the limitations it's simply adding a metadata argument to PutObjectPart() and validating them internally.

[2018-02-11 02:47] harshavardhana commented on #5511
The new Object layer has IsEncryption() for this purpose alone which can be used here.

[2018-02-11 02:50] harshavardhana commented on #5511
https://github.com/minio/minio/blob/4f73fd94878b087b428ccbd309463f956be8dff7/cmd/fs-v1.go#L1141 this should be simply `false`

[2018-02-11 09:37] aead commented on #5510
No,I have to verify that the key sent by client during PutPart is the same as the key sent by the client during InitMultipart. Further I have to check that the key for part2 is the same as for part1.

The context is that client can send wrong keys and we have to error out...

EDIT: I see what you mean by:

It may work... However it's not a nice design. Some encryption logic in S3-layer, some in Ob

[2018-02-11 09:49] aead commented on #5511
Yes exactly, but if it is set to false **and** the client sends SSE-C request we don't fail but store object **unencrypted**. Client may be able recognize that from response headers but we already stored object without encryption.
IMO the server should fail with something like: "Server-Side-Encryption not supported by backend" or so..

[code]

[2018-02-11 10:32] harshavardhana commented on #5510
The encryption logic in s3 layer is to pass the reader - the one in the object layer is simply to validate the incoming headers, this is to avoid even to start reading from the reader.  it would be unclean if we are reading some metadata from `.minio.sys` in S3 layer. I don't see why it would be a problem, since in case of gateway you need to sent the headers all the way to the remote backend anyw

[2018-02-11 10:35] harshavardhana commented on #5511
@aead so for this bug to be reproduced you need to modify code, are you trying to say this happens on gateway as well?

[2018-02-11 10:42] aead commented on #5510
We already do that (of course not from .minio.sys). We do HEAD then verify key and then GET for SSE-C GET. I was thinking of something like internal HEAD operation for temp. multipart objects.

Well it's not that simple. For example we erase the client key from metadata already at the S3-layer to avoid saving the key as part of metadata by accident.

That depends upon how we implement SSE-C at gat

[2018-02-11 10:48] harshavardhana commented on #5510
Isn't validating the hmac enough for the secret key? why wouldn't we pass the client key to down layer? since we need to do pass through anyways for gateway why are we stripping it? we should simply send it. It is upto us the implementation to be careful.  We have trusted a DARE specification to be tamper proof i don't see why we not trust our object layer implementations.

[2018-02-11 10:51] aead commented on #5511
@harshavardhana What I'm saying is that if we add a backend implementation that does not support encryption (currently there is none) we will trigger this issue. The current code relies on the fact that there is no backend which does not support encryption. So I'm suggesting to add a check since the current code contains a (hidden) bug.
On Gateway we don't do SSE-C at the moment as fas as I know..

[2018-02-11 10:51] harshavardhana commented on #5510
We could simply do `ListMultipartUploads()` for the given object and pick the right `upload-id` and corresponding MultipartInfo which should carry metadata as well.

[2018-02-11 10:52] aead commented on #5510
Okay, that sounds like a good approach - will explore, thanks.

[2018-02-11 10:52] harshavardhana commented on #5511
In-fact you can simply return `ErrNotImplemented` just like how we do for CopyObject and Multipart APIs

[2018-02-11 10:54] harshavardhana commented on #5510
does S3 validate if each part used the same SSE-C keys? or does it validate at CompleteMultipart?

[2018-02-11 10:59] aead commented on #5511
Okay, yes that's basically what I was thinking:
[code]

[2018-02-11 11:02] aead commented on #5510
https://docs.aws.amazon.com/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html

IIRC it fails per part but I can check again to be sure...
Verifying at the CompleteMultipart would be surprising since AWS would have to store key which they claim they don't do...

[2018-02-11 11:49] chrsch opened #5512 "SIA Gateway "Unable to save object""
## Expected Behavior
Configure minio sia gateway as s3 storage backend for nextcloud
Nextcloud site is able to store to minio s3 (like it is if using minio without sia)

## Current Behavior
Objects are created in the bucket (1 b size)
No data is uploaded to the objects

## Possible Solution
None known.

## Steps to Reproduce (for bugs)
1. Setup nextcloud with s3 as primary storage (make sure minio

[2018-02-11 11:54] harshavardhana commented on #5512
looks like your siad is returning errors @chrsch

[2018-02-11 12:36] chrsch commented on #5512
Seems like nextcloud tries to read the file directly after doing the first put and siad doesn't yet have the file uploaded completely and therefore not available yet. Shouldn't the s3 gateway handle such situations gracefully? @dvstate  Did you already notice such behavior?

[2018-02-11 12:42] harshavardhana commented on #5512
File is only said to be uploaded and ready when the Sia cloud says its available according to the code. it must be that siad is reporting incorrectly and taking more time?

[code]

[2018-02-11 13:54] chrsch commented on #5512
I also investigated the code and I think the upload request (post() in the code below) is asynchronous. Also see SIA api at https://github.com/NebulousLabs/Sia/blob/master/doc/API.md#renteruploadsiapath-post. The deleteTempFileWhenUploadCompletes is defered and just called to clear up the tmp file needed for the upload by siad. So basically it seems minio returns "upload successful" to the s3 clie

[2018-02-11 17:45] harshavardhana commented on #5512
Where do you see we return success? We have a function which is executed upon PutObject return i.e to ensure that the file is available on Sia. If siad reported file is available then we exit and return success.

[2018-02-11 17:46] harshavardhana commented on #5512
NOTE: defer means the function in defer is executed upon the actual function return i.e the function doesn't return until the deferred function has completed successfully.

[2018-02-12 12:23] Subito commented on #5357
Will this output some information about the cluster-state in a distributed setup? I'm struggling to properly monitor if a cluster will be able to receive writes and deletes. Something like a smaller version of the `mc admin info` output maybe?

[2018-02-12 13:02] OsamaJBR opened #5514 "Docker - Many healthcheck processes in the container as Zombies on Swarm"
I've notice that there are many zombie process on all swarm hosts, all of them are **/usr/bin/healthcheck.sh**.

I've entered to one of running container
[code]

# My Environment
* Image: **minio:latest**
* OS : Linux node01 4.13.0-32-generic #35~16.04.1-Ubuntu SMP Thu Jan 25 10:13:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* Docker version:  17.09.1-ce, build 19e2cf6

I've checked the health chec

[2018-02-12 13:33] vadmeste commented on #5514
@OsamaJBR can you paste the output of `ps -ao pid,state,cmd` ?

[2018-02-12 13:47] OsamaJBR commented on #5514
There is no cmd option.
But here is pid,stat,args:
[code]

[2018-02-12 17:36] harshavardhana commented on #5514
This looks like `healthcheck.sh` doesn't exit properly.

[2018-02-12 17:50] vmtocloud opened #5515 "Website hosting support"
## Expected Behavior
Allow me to enable bucket to support website hosting. So when I drop index.html into a bucket I can open website from the bucket URL. example http://minio.corp.local/mysite

## Current Behavior
Buckets only support files

## Possible Solution
https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html

## Steps to Reproduce (for bugs)
N/A

## Context
Unable to use true

[2018-02-12 17:53] harshavardhana commented on #5515
We have debated in the past but we decided not to do it @vmtocloud  there are alternative ways to do it

- https://gist.github.com/harshavardhana/f05b60fe6f96803743f38bea4b565bbf (using nginx and setting bucket policies to download)
- https://github.com/harshavardhana/s3www (a custom HTTP server based on net/http)

[2018-02-12 18:35] kannappanr commented on #5514
@OsamaJBR Can you let us know the docker version that you are using?

[2018-02-12 18:39] chrsch commented on #5512
The point is this code will just start upload process at siad. It will not wait until siad has completed upload.  Will try to make it synchron (wait for upload to completed) and see if this solves the problem.
[code]

[2018-02-12 18:40] harshavardhana commented on #5512
where do you think it doesn't wait @chrsch ? didn't i show you the code which will wait?

[code]

[2018-02-12 18:41] OsamaJBR commented on #5514
Docker version: 17.09.1-ce, build 19e2cf6

[2018-02-12 18:48] chrsch commented on #5512
I understand the defer part. But the PutObject function return successful put operation (though deferred function might still wait for the upload to complete and delete the tmp file). Or do I get this wrong?

[2018-02-12 18:53] kannappanr commented on #5515
@vmtocloud We talked about it again and decided that nginx is adequate for this purpose.

[2018-02-12 18:53] #5515 closed, assigned to nobody

[2018-02-12 19:09] harshavardhana commented on #5512
The defer gets executed and waits until the upload completes PutObject will never return until the defer is completed.  This is the reason to have `defer` in the first place to execute different functions on function return and the function return is blocked until the `defers` are completed.

[2018-02-12 20:23] chrsch commented on #5512
Ah ok I had to educate myself some go... Thanks for pointing out, so this is actually not the problem ;-)

[2018-02-13 00:31] poornas opened #5517 "[PR#5160] empty directory delete does not work"
empty directory does not get deleted
[code]
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`): VERSION:
  2018-02-12T19:40:11Z

* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your projec

[2018-02-13 01:36] poornas commented on #5517
closing - works as expected.

[2018-02-13 01:36] #5517 closed, assigned to harshavardhana

[2018-02-13 02:35] harshavardhana commented on #5509
this is expected in current master @vadmeste this is being fixed in #5501

[2018-02-13 10:41] balamurugana opened #5520 "[PR#5160] minio crashes for 'minio server http://node{1...4}/tmp/disk{1...4}'"
Running command `minio server http://node{1...4}/tmp/disk{1...4}` crashes
[code]

Here, node1, node2, node3 and node4 are names to four different IPs on same machine.

[2018-02-13 10:53] balamurugana commented on #5520
It also fails for any input in this pattern e.g. `minio server http://node{1...4}/tmp/disk{1...8}`

[2018-02-13 12:24] balamurugana opened #5522 "[PR#5160] minio runs in FS mode wrongly"
When running `minio server http://node{1...4}/home/bala/tmp/t/sda1` where node1, node2, node3 and node4 names are pointing to different IP of same machine makes minio to run in FS mode.
[code]

[2018-02-13 17:37] harshavardhana commented on #5522
There is a bug in current master as well

[code]

[2018-02-13 17:38] kannappanr commented on #5514
@OsamaJBR Will try to reproduce with the version of docker that you have and get back to you.

[2018-02-13 17:43] harshavardhana commented on #5522
For some reason the endpoint.go returns empty Endpoints while the function indeed has success.

[code]

[2018-02-13 17:55] harshavardhana commented on #5522
The reason this is happening @balamurugana the following code figures out that all endpoints are local and tries to a construct a list where all the paths are same pointing to same disk. In master it fails but in PR#5160 the endpoint path is picked as is which leads it to believe that its an FS endpoint. Will fix this in current master which would address this in PR 5160 as well.

[code]

[2018-02-13 18:03] harshavardhana commented on #5520
The problem is again similar to #5522 the `NewEndpointList` would treat all the endpoints as local while it should keep the endpoints as is instead it will overwrite the endpoint list with '4' endpoints instead of 16 which would lead to crash later on due to mismatch between total set count etc.  Fixing this in master would fix this for PR #5160 as well.

[code]

[2018-02-13 18:45] harshavardhana commented on #5522
https://github.com/minio/minio/pull/5523 - this PR should fix the issue for PR #5160 as well.

[2018-02-13 18:46] harshavardhana commented on #5520
https://github.com/minio/minio/pull/5523 - this PR should fix the issue for PR #5160 as well.

[2018-02-13 23:43] #5493 closed, assigned to aead

[2018-02-14 03:03] harshavardhana opened #5526 "Bring bit-rot closer to erasure blocks instead of entire parts"
** on purpose not using templates **

Bit-rot in current implementation computes for the entire part of the erasure coded file, this leaves room for bit-rot to occur on subsequent operations since we have discarded the data that we read.

Implement bit-rot to be more stricter for each block that is read from the backend. For this we need to implement and bring in bit-rot computed per erasure block

[2018-02-14 20:58] jonandernovella commented on #5467
Updated the issue with tests under new settings and logs from gluster.

[2018-02-14 23:32] harshavardhana commented on #5467
Thanks @jonandernovella we will take a look

[2018-02-15 07:19] balamurugana opened #5531 "Startup message doesn't provide enough or is unclear"
When starting minio like below
[code]

However minimum four disks are already available locally.

[2018-02-15 09:28] harshavardhana commented on #5520
fixed in PR #5160 rebased after #5523

[code]

[2018-02-15 09:28] #5520 closed, assigned to harshavardhana

[2018-02-15 09:29] harshavardhana commented on #5522
Fixed in #5160 PR after rebasing on #5523

[code]

[2018-02-15 09:29] #5522 closed, assigned to harshavardhana

[2018-02-15 10:47] balamurugana opened #5533 "Server returns `BucketAlreadyOwnedByYou`"
* Start `minio` like `minio server http://node1/disk{1...4} http://node2/disk{1...4} http://node3/disk{1...4}`
* After successful some make buckets, stop `minio` in node3, then replace all disks of `node3`
* Bring up `node3`, now `unformatted disk found (unformatted disk found)` error message is shown `node1` and `node3` console.
* Now create non-existent bucket like `mc mb minio/testbucket3` whic

[2018-02-15 11:05] balamurugana opened #5534 "[PR#5160] minio crashes with nil pointer exception"
* Have setup like in https://github.com/minio/minio/issues/5533
* Now run `mc admin heal minio`.  After a while it exits with below message
[code]

* On `node1` minio crashes
[code]

[2018-02-15 11:33] balamurugana opened #5535 "Remove object is successful even on write quorum error"
* Start minio like `minio server http://node1/disk{1...4} http://node2/disk{1...4} http://node3/disk{1...4}`
* Create bucket `mybucket` and object `mybucket/1`
* Remove `disk3` and `disk4` in `node3`
* Now `mc cat minio/mybucket/1`  works
* `mc cp README.md minio/mybucket/1` fails with write quorum error.
* `mc rm minio/mybucket/1` succeeds
* Finally `mc cat minio/mybucket/1` returns error `mc: <E

[2018-02-15 15:08] Monkeybanana1 opened #5536 "Web interface becomes unresponsive with large amount of buckets(10000)"
Web interface becomes unresponsive with a large amount of buckets. When creating 10000 buckets the web interface tries to load all buckets in the search area. This makes the interface really slow, almost not usable.

Steps to reproduce.
- Start minio server. Which way doesn't matter.
- Use script to create 10000 buckets using API or by hand.
- Open web interface and try to search for a specific bu

[2018-02-15 17:02] jonandernovella commented on #5467
The issue seems to have been solved by changing some advanced GlusterFS volume options. I stressed the storage backend with different loads and it seemed to work fine. These include the listed in the following tutorial: https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.2/html/configuring_red_hat_virtualization_with_red_hat_gluster_storage/chap-hosting_virtual_machine_images_o

[2018-02-15 17:13] harshavardhana commented on #5467
Can you provide the output of `gluster volume info `. For our reference ?

[2018-02-15 18:05] vadmeste opened #5538 "[PR#5160] Minio server crashes when healing"
## Expected Behavior
No crash

## Current Behavior
Crash with this log:
[code]

the backend is attached to this email.
[dist.tar.gz](https://github.com/minio/minio/files/1728789/dist.tar.gz)

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
1. Unzip the backend in /tmp/dist/
2. Add `127.0.0.1    domain` to /etc/hosts
3. Run the following script which spawns 32 Minio servers + 32

[2018-02-15 18:07] harshavardhana commented on #5538
Duplicate of #5534

[2018-02-15 18:07] #5538 closed, assigned to harshavardhana

[2018-02-15 18:35] harshavardhana commented on #5533
Currently the server code returns error based on the fact that we have enough buckets which are present on all other disks, so i am not sure if you are expecting some other error here? @balamurugana - are you expecting we return quorum error?

[2018-02-15 19:00] harshavardhana commented on #5534
@balamurugana are these all hosts running locally? on same server

[2018-02-15 19:10] harshavardhana commented on #5535
This bug exists on the master branch without the PR #5160 so moving this out as a general bug, changing the title.

[code]

[code]

[code]

[2018-02-15 22:14] harshavardhana commented on #5534
this is fixed in #5160  b8bcab8fff162839fa81a4e627534106363fe6e9

[2018-02-15 22:14] #5534 closed, assigned to harshavardhana

[2018-02-16 01:47] harshavardhana commented on #4153
Fixed by #5160

[2018-02-16 01:47] #4153 closed, assigned to harshavardhana

[2018-02-16 22:16] peterquirk commented on #5173
This problem also occurs with Minio 18.02.0-ce on Docker for Windows (Windows 17101 and prior builds.)

![image](https://user-images.githubusercontent.com/4087812/36331743-12f698f6-133d-11e8-991f-7973c532bc72.png)

[2018-02-16 22:16] tarunmudgal commented on #4136
when this fix will be available as I can't see this fix on minio==3.0.3

[2018-02-17 04:18] harshavardhana commented on #5173
Please provide `df -h` output from your docker instance @peterquirk . Minio needs a minimum of 1gig free disk space available.

[2018-02-17 11:42] nitisht commented on #3689
closing this as we already have issues related to MSF #5314

[2018-02-17 11:42] #3689 closed, assigned to harshavardhana

[2018-02-17 11:50] nitisht commented on #3521
@harshavardhana is this still an issue?

[2018-02-17 12:13] nitisht commented on #3572
closing this for now, as the steps are available [here](http://stackoverflow.com/questions/15413646/converting-pfx-to-pem-using-openssl). We can revisit if required later.

[2018-02-17 12:13] #3572 closed, assigned to nobody

[2018-02-17 12:35] nitisht commented on #3225
closing this for now. we can revisit later if required

[2018-02-17 12:35] #3225 closed, assigned to nobody

[2018-02-17 12:38] nitisht commented on #4378
This is no longer an issue as in memory cache is already deprecated by https://github.com/minio/minio/pull/5481

[2018-02-17 12:38] #4378 closed, assigned to balamurugana

[2018-02-17 12:39] nitisht commented on #4108
This has been done here https://github.com/minio/minio/pull/5351 closing as fixed

[2018-02-17 12:39] #4108 closed, assigned to donatello

[2018-02-17 12:46] nitisht commented on #5377
closing due to no response @liuliliGithub . Please reopen if required.

[2018-02-17 12:46] #5377 closed, assigned to balamurugana

[2018-02-17 18:34] harshavardhana commented on #3521
It is still an issue but v.rare , will need to revisit this after getting a hold on ongoing work on refactoring.

[2018-02-18 10:23] zamrih commented on #5173
Good day to you,

Same issue as @peterquirk here but with Docker Toolbox on a windows server 2008 r2 :

This is the output right from the docker vm.
Same error is returned from windows terminal.
The docker machine driver used is virtualbox and the volume used is a shared virtualbox folder.

It may be related to the "vboxsf" filesystem used by the virtualbox shared folder.

As the image starts norm

[2018-02-18 10:26] harshavardhana commented on #5173
we will try to validate this using docker toolbox @nnmiller - please open a new issue with new detailed information about the windows server so that we can start this as a new discussion.

[2018-02-18 11:04] zamrih opened #5545 "Windows server 2008 R2 / Docker Toolbox : minio server fails to start "Initializing object layer failed cause=disk path full""
minio container fails to start when using [Docker Toolbox](https://download.docker.com/win/stable/DockerToolbox.exe) ( Docker for Windows not being available ) installed on a [Windows Server 2008 R2 Standard Edition](https://www.microsoft.com/en-us/download/details.aspx?id=2227) machine.
Docker toolbox uses virtualbox as a docker machine driver tather than Hyper-V ( not available on this windows s

[2018-02-18 22:32] justjanne commented on #5279
Could you implement that? It doesn’t seem to actually be implemented yet.

[2018-02-19 11:51] vadmeste opened #5547 "xl: Delete & Multi Delete API on a non-empty directory should not remove it and its contents"
## Expected Behavior
Removing a directory should not have an effect if this latter contains some objects.

## Current Behavior
Removing a directory deletes it and all its contents

## Possible Solution
Change the behavior of delete object in xl.

## Steps to Reproduce (for bugs)
1. `minio server /tmp/xl/backend{1..4}/
2. `mc mb myminio/bucket`
3. `mc cp file myminio/bucket/dir/file`
4. Run the fol

[2018-02-19 15:24] vadmeste opened #5549 "xl: Putting an empty directory twice should not return 403 Error"
## Expected Behavior
Putting the same empty directory (empty object with a trailing slash in name) twice is successful

## Current Behavior
Putting the same empty directory the second time returns 403 error code.

## Possible Solution
Do not know yet.

## Steps to Reproduce (for bugs)

1. `$ minio server /tmp/xl/disk-{1..4}`
2. Install aws cli and set Minio server credentials in ~/.aws/credentials

[2018-02-19 18:41] harshavardhana commented on #5549
This is also a good test for mint IMHO @vadmeste

[2018-02-19 20:15] Ostico opened #5552 "Docker pull seems unauthorized"
Docker Pull requires authentication.
[code]

By calling directly the URL i get:
[code]

[2018-02-19 20:19] harshavardhana commented on #5552
Which version of Docker are you using @Ostico there is no authentication required for pulling minio/minio - https://hub.docker.com/r/minio/minio/

[code]

[2018-02-19 20:24] harshavardhana commented on #5552
Looks like related to https://github.com/docker/hub-feedback/issues/1098 you can fix this issue by doing `docker logout`

[2018-02-20 06:49] kannappanr commented on #5552
Closing this issue as answered. Please feel free to re-open the issue, if the suggested fix does not work for you.

[2018-02-20 06:49] #5552 closed, assigned to nobody

[2018-02-20 08:07] iwanbk opened #5554 "Improve testing code by using stretchr/testify"
I think minio could use https://github.com/stretchr/testify to improve testing code, the advantages:
- shorter code
- cleaner code

## Expected Behavior

Test code could be like this
[code]

## Current Behavior
Current code
[code]
## Possible Solution

I can start with small parts, i think `gateway` package is good start because this is the package that i currently work on.

If my work getting mer

[2018-02-20 08:11] harshavardhana commented on #5554
we used to have testify we purposefully removed it because of the underlying complexity involved in using testify, we would like to keep the code simple and use only `Go` testing package.

[code]

[2018-02-20 08:14] iwanbk commented on #5554
Would be great if you could give more detail about the reason, because i'm sure many people use it a lot.

btw, what i propose is `testify/assert` or `testify/require`, still not OK?

[2018-02-20 08:24] harshavardhana commented on #5554
The reasoning is simple

- Go provides a rich testing framework already there is no reason to use `testify`.
- On-boarding new contributors would require them to stick to a framework which is proposed by testify,
  It adds complexity to our development cycle asking contributors to read externally maintained packages
  involves cycles which we would like to avoid especially for writing tests.
- We

[2018-02-20 08:30] iwanbk commented on #5554
Thanks for the explanation, closing it then :)

[2018-02-20 08:30] #5554 closed, assigned to nobody

[2018-02-20 09:27] tambetliiv opened #5557 "Distributed minio won't start on docker swarm"
## Expected Behavior
When following steps in the docs (https://docs.minio.io/docs/deploy-minio-on-docker-swarm) containers should start on docker swarm hosts.

## Current Behavior
Following steps in the docs (https://docs.minio.io/docs/deploy-minio-on-docker-swarm) containers won't start on any of the nodes.

## Possible Solution

Don't know how to fix.

## Steps to Reproduce (for bugs)

1. Setup

[2018-02-20 09:29] nitisht commented on #5557
Thanks for reporting @tambetliiv let me try to reproduce this and get back to you

[2018-02-20 10:44] nitisht commented on #5557
@tambetliiv I was able to deploy Minio distributed using the given example documents on a Packet server cluster.

[code]

Can you pls confirm if your Swarm cluster is deployed properly and nodes are able to talk to each other..

[2018-02-20 12:14] tambetliiv commented on #5557
not sure how to check any other way
[code]

Just in case uninstalled docker engine from all nodes, purged installation (removed /var/lib/docker dir) and initiated swarm again. All other services that i tried, are running ok, only minio deployment fails.

Got any other ideas on how to debug this weird situation?

[2018-02-20 15:20] nitisht commented on #5557
@tambetliiv is it possible to allow remote access to your deployment?

[2018-02-20 19:59] harshavardhana commented on #5545
Thanks @zamrih for opening the issue we will take a look soon.

[2018-02-20 20:01] harshavardhana commented on #5533
@abperiasamy suggested that we use quorum across all disks here since buckets exist on all disks, if the quorum confirms that it exists on all disks then we simply return one error instead not the first error.

[2018-02-20 20:20] #5549 closed, assigned to vadmeste

[2018-02-20 20:21] #5062 closed, assigned to poornas

[2018-02-20 23:34] harshavardhana commented on #5547
fixed by #5548

[2018-02-20 23:34] #5547 closed, assigned to vadmeste

[2018-02-21 00:26] deekoder commented on #5512
i will close this issue hence. Please lets us know if you have any further questions @chrsch

[2018-02-21 00:26] #5512 closed, assigned to nobody

[2018-02-21 00:37] poornas commented on #5324
@qlb said on slack that application/json content-type was dropped - however in my testing, haven't been able to repro the issue.

[2018-02-21 01:56] balamurugana commented on #5533
@harshavardhana I do not understand your comment.  when `MakeBucket()` is called, it returns `XMinioWriteQuorum` for `503 Service Unavailable`.  Because of this error, if the call is tried again, it returns `BucketAlreadyOwnedByYou` for `409 Conflict`.

In a technical sense, since the bucket is created in quorum number of sets,  why we need to return an error and show another error for the next ca

[2018-02-21 02:04] harshavardhana commented on #5533
This is the bug i fixed in the pr #5560, the problem was previously the code returned based on first available error so it be sporadically either 409 or 500.

[2018-02-21 02:09] iogitio opened #5561 "Docker container immediately stops/crashes on Synology NAS?"
Has anyone been able to run the Minio container on a Synology NAS?

I have the 'latest' image, and I've tried letting it run w/o and with persistent storage, but it crashes after a few seconds into running.

Log file doesn't have any details.

I've tried everything I can think of but no dice :( Any help would be greatly appreciated.

[2018-02-21 02:14] harshavardhana commented on #5561
docker might crash if the container is not running on linux amd64 @iogitio - is synology NAS a Linux amd64?

[2018-02-21 02:42] #5239 closed, assigned to krishnasrinivas

[2018-02-21 02:46] iogitio commented on #5561
@harshavardhana It's running on an Intel Atom C2538 Quad Core 2.4GHz.

https://global.download.synology.com/download/Document/DataSheet/DiskStation/15-year/DS1515+/Synology_DS1515+_Data_Sheet_enu.pdf

It is a 64-bit processor, but not specifically AMD64. Are there other avenues to getting Minio to run? Thanks for your info so far :)

[2018-02-21 02:50] harshavardhana commented on #5561
Atom should be fine do you have any console logs that you can gather? @iogitio

[2018-02-21 03:04] iogitio commented on #5561
`

date | stream | content
-- | -- | --
2018-02-21 03:00:13 | stdout | 2018-02-09T22:40:05Z
2018-02-21 03:00:13 | stdout | VERSION:
2018-02-21 03:00:13 | stdout |  
2018-02-21 03:00:13 | stdout | --help, -h                    Show help.
2018-02-21 03:00:13 | stdout | --json                        Output server logs and startup information in json format.
2018-02-21 03:00:13 | stdout | --quiet     

[2018-02-21 06:23] harshavardhana commented on #5561
From output it looks like your command args are incorrect have you followed our docker docs https://docs.minio.io/docs/minio-docker-quickstart-guide ?

[2018-02-21 09:35] nitisht commented on #5557
Based on a quick remote sharing session, looks like Minio server thinks of all the four endpoints passed as remote endpoints -- causing the failure during startup with the error `(no endpoint found for this host)`.

[2018-02-21 10:17] nitisht commented on #5557
@tambetliiv , I discussed with @harshavardhana , this generally happens generally when

- swarm has not updated the DNS correctly
- not assigned the IPs correctly

Can you confirm if the IP of each container reported by Swarm is same as the IP visible from inside the container. Also, the hosts `minio1` .. `minio4` are resolvable to correct IPs (same as the ones reported by Swarm)

[2018-02-21 12:08] brauliobo opened #5563 "Example of minio non-invasive integration with ruby's Aws::Sdk"
This is a very non invasive integration with ruby's aws sdk:

[code]

Source: https://github.com/opener-project/daemons/blob/master/lib/opener/daemons/minio.rb

[2018-02-21 12:08] #5563 closed, assigned to nobody

[2018-02-21 12:13] OsamaJBR opened #5564 "invalid memory address or nil pointer dereference when running over GlusterFS mount point"
I've created a minio cluster on glusterfs before using Docker Swarm and everything was ok.

Now I'm creating a new one and I'm facing this error:

[code]
Docker stack:
[code]
**where /data is a glusterfs mount point**

**Both /data/config and /data/minio-data are empty.**

Minio Version:
[code]

Docker Version:
[code]
GlusterFS version:
[code]

Host Info:
[code]

[2018-02-21 12:14] OsamaJBR commented on #5564
The older cluster has the same version of glusterfs and OS. Also the same setup configuration of GlusterFS.
But different Docker version:
[code]

[2018-02-21 15:31] valentinabojan commented on #5290
@vadmeste @harshavardhana Hello! Do you have any news about this issue?

[2018-02-21 15:31] vadmeste opened #5566 "Document the process about how to upgrade to a new go version"
It is not so easy to know how to support a new go runtime version (we need to remember docker image and probably other stuffs), we need to document it in MAINTAINERS.md probably.

[2018-02-21 16:42] Alexander198961 opened #5567 "Question: Empty Etag is returned"
I got Etag is empty not sure how the best way to debug issue:
I  have started server like this:
./minio server some_dir
and I got this output
++ aws --endpoint=http://127.0.0.1:9000 s3api list-objects --bucket bucket
{
    "Contents": [
        {
            "LastModified": "2018-02-20T16:13:14.158Z",
            "ETag": "",
            "StorageClass": "STANDARD",
            "Key": "ProxyKeyStore

[2018-02-21 17:03] Alexander198961 commented on #5567
./mc ls --json s3/bucket/ProxyKeyStore
{"status":"success","type":"file","lastModified":"2018-02-20T16:13:14.158Z","size":2140,"key":"ProxyKeyStore","etag":""}

[2018-02-21 17:04] Alexander198961 commented on #5567
So which file should I check  why I couldt get  Etag  ?

[2018-02-21 17:10] vadmeste commented on #5567
@Alexander198961, this is expected if you are running Minio FS on some existing data. ETag is returned only for objects that you already uploaded using an S3 client.

[2018-02-21 17:31] harshavardhana commented on #5567
If you re-upload the same object through our API we would calculate ETag. For existing content we can't calculate ETag.

[2018-02-21 17:32] harshavardhana commented on #5290
We can implement this now since a major PR has been merged.

[2018-02-21 23:42] #4458 closed, assigned to poornas

[2018-02-22 10:09] iogitio commented on #5561
Thanks @harshavardhana ... I figured it out! It won't work through the Synology Docker GUI, doing it from CLI worked!!! :)

[2018-02-22 10:09] #5561 closed, assigned to nobody

[2018-02-22 20:47] pryorda opened #5571 "Invalid signature with nginx and mc"
## Expected Behavior
mc cp to succeed

## Current Behavior
mc cp file bucket_behind_nginx shows insufficient permissions and invalid signature in logs

## WorkAround

Use aws cli instead

## Steps to Reproduce (for bugs)
Configure nginx in front of minio with these options in nginx
[code]
run
[code]
minio container logs
[code]

## Context
unable to use minio client with nginx, browser works fine.

[2018-02-22 21:27] harshavardhana commented on #5566
Why do we need to do this? i don't see we need to document this.

[2018-02-22 22:12] krishnasrinivas commented on #5571
@pryorda can you paste the output of:
[code]

[2018-02-22 22:20] pryorda commented on #5571
[code]

[2018-02-22 22:27] krishnasrinivas commented on #5571
When mc sends the request the host header is (observed with --debug):
[code]

But the server log you pasted has:
[code]

Something in your setup between `mc` and `minio` changes the host name from `host` to `hostnamet`. Do you have any clues?

[2018-02-22 22:43] pryorda commented on #5571
That was my parsing. Sorry. both match in my output of the commands.

[2018-02-22 22:44] aead opened #5572 "delete should fail for SSE-C objects"
## Expected Behavior
The server should fail if the client tries to delete an SSE-C encrypted object

## Current Behavior
The server deletes the object

## Possible Solution
Check whether the object is encrypted and fail if so during DELETE.

## Context
SSE-C, CopyObject

## Your Environment
master

[2018-02-22 23:47] krishnasrinivas commented on #5571
[code]

looks like content-type is not signed for some reason, we'll check.

[2018-02-23 00:20] krishnasrinivas commented on #5571
Just tested locally:
[code]

Even if Content-Type is not signed, the server is accepting the request.

@pryorda I suspect the extended attributes xdg.origin.url and xdg.referrer.url is causing some issue.
Can you paste the output of:
`getfattr -d /home/dpryor/Downloads/VMware-ESXi-6.5.0-Update1-7388607-HPE-650.U1.10.2.0.23-Feb2018.iso`.

[2018-02-23 00:46] pryorda commented on #5571
[code]

It works fine if I go directly to port 9000 only when proxing does it fail. ill wipe those attributes to see if it helps.

[2018-02-23 01:23] pryorda commented on #5571
setfattr -x did the trick, but it doesnt make sense why it fails when proxying through nginx.

[2018-02-23 01:50] harshavardhana opened #5574 "Rolling upgrades in new format migration broken"
## Expected Behavior
Server should be running until quorum number of servers are available with new format and not fail.

## Current Behavior
Fails with

[code]

## Possible Solution
Avoid failing when we find disks with wrong format versions.

## Steps to Reproduce (for bugs)
Setup a 4 node setup with GA binary and then kill one server. Start the new master binary on the same backend at this loca

[2018-02-23 05:13] pryorda commented on #5571
Figured it out at the server level you can specify

ignore_invalid_headers off;

This seems to be more of a work around though. I havent looked at the rfc to see if it allows "." in the header names.
[code]
Good with ignore invalid headers off;
[code]

My nginx config:
[code]

[2018-02-23 05:18] harshavardhana commented on #5571
`.` is http compliant header . You can validate headers https://godoc.org/golang.org/x/net/lex/httplex#ValidHeaderFieldName using this library. This is also internally user by `net/http`

[2018-02-23 05:32] pryorda commented on #5571
Good to know. It looks like most conventions are -. I'm looking at aws cli to see how it handles extended attributes and headers.

[2018-02-23 06:06] pryorda commented on #5571
I'm not certain but from a pcap and a quick google search, it looks like aws cli ignores the extended attributes.

[2018-02-23 06:58] nitisht commented on #5567
Closing this as answered @Alexander198961 . Feel free to reopen if there are further issues

[2018-02-23 06:58] #5567 closed, assigned to nobody

[2018-02-23 06:59] harshavardhana commented on #5571
AWS cli doesn't support but we do, we preserve the extended attributes while copying and copy out as well.

[2018-02-23 20:18] pryorda commented on #5571
Probably doesn't need to be a release around it? Maybe just a document update?

[2018-02-23 22:53] #5572 closed, assigned to aead

[2018-02-23 23:07] #5193 closed, assigned to harshavardhana

[2018-02-23 23:10] harshavardhana commented on #5510
This is not necessary it is already addressed without changing much in the backend in @vadmeste branch.  We don't need object interface refactoring at all.

[2018-02-23 23:12] krishnasrinivas commented on #5571
@pryorda we did not have the feature to support for copying extended attributes initially but brought it on later. Thanks for letting us know about the nginx setting. We will close the issue since `mc` and `minio` works as expected.

[2018-02-23 23:12] #5571 closed, assigned to krishnasrinivas

[2018-02-23 23:16] harshavardhana commented on #5467
Can you provide us the output of `gluster volume info` @jonandernovella

[2018-02-23 23:22] harshavardhana commented on #5277
@donatello we do not need to do this due to portability issues. Should we close this?

[2018-02-23 23:24] harshavardhana commented on #5205
Minio server now supports more than 16 number of disks.  You cannot still add more disks to the cluster, but you can start with more than 16 disks.

Since we have decided not to implement dynamic expansion we can close this issue @deekoder

[2018-02-23 23:25] harshavardhana commented on #4978
This is already done should we close this @poornas ?

[2018-02-23 23:27] harshavardhana commented on #4834
@christianbaun looks like @jonandernovella has figured out right settings that in #5467 closing this issue.

[2018-02-23 23:27] #4834 closed, assigned to krisis

[2018-02-23 23:28] harshavardhana commented on #4948
@krishnasrinivas can this be closed?

[2018-02-23 23:28] harshavardhana commented on #4956
@curantes is this still an issue at your end or should we close this?

[2018-02-23 23:30] harshavardhana commented on #3970
This has been moved already to object layer with large bucket PR. Closing.

[2018-02-23 23:30] #3970 closed, assigned to harshavardhana

[2018-02-23 23:31] harshavardhana commented on #2991
Are you still doing this @donatello ?

[2018-02-23 23:35] poornas commented on #4978
left this open because notification/listener config has not yet been moved to object layer @harshavardhana

[2018-02-24 00:58] #5574 closed, assigned to harshavardhana

[2018-02-24 22:59] aead opened #5579 "Server is vulnerable to DNS-rebinding attacks"
The minio server is vulnerable to [DNS-rebinding attacks](https://en.wikipedia.org/wiki/DNS_rebinding).
A private/protected minio server can still be accessed by exploit DNS-rebinding.

However, I think this is not a common setup.

## Expected Behavior

The server should not accept requests with arbitrary hosts in HTTP header `Host`.
This affects only V2 since for V4 host header is part of signatu

[2018-02-25 09:13] mbo77 opened #5582 "Extend API to store objects externally, e.g. tape"
I am interested if it's possible to extend the functionality, so that objects can be moved to even cheaper storage solutions like tape.

We have a software solution which handles tape media, refreshing the data and migrating to newer tape technology for data which needs to be stored for long term, 10 years and above. We'd like to integrate that with the minio S3 server.

To integrate such a featur

[2018-02-25 10:52] Ostico commented on #5552
Hi @harshavardhana ,
Thank you, Solved. Really annoying docker bug.

[2018-02-25 22:38] curantes commented on #4956
@harshavardhana you can close this. I think this was a issue due to having traffic while doing upgrade. I will create a new issue if this happens again.

[2018-02-26 00:11] harshavardhana commented on #4956
Thanks @curantes

[2018-02-26 00:11] #4956 closed, assigned to fwessels

[2018-02-26 02:20] harshavardhana commented on #5582
Thanks @mbo77 for sharing the requirements

[2018-02-26 08:14] ItalyPaleAle commented on #4948
I don't believe the issue has been fixed.

[2018-02-26 08:54] jonandernovella commented on #5467
@harshavardhana

[code]

[2018-02-26 17:30] harshavardhana commented on #5467
`cluster.locking-scheme: granular` I think this is the volume option that is needed.

[2018-02-26 22:19] haydonryan commented on #4210
+1

[2018-02-27 04:19] nogweii commented on #5305
Since msf is marked as deprecated and it's ideas incorporated into minio itself (rather than existing separately) should this issue be re-opened? minio/msf#2 hasn't been marked resolved yet.

[2018-02-27 04:43] harshavardhana commented on #5305
Yes good thinking @evaryont

[2018-02-27 18:39] chris-vest opened #5585 "Credentials displayed in container log when starting up"
## Expected Behavior
No credentials displayed in log upon startup

## Current Behavior
Credentials displayed in log upon startup:
[code]

## Possible Solution
Include a flag in config not to display credentials; or simply hide them altogether.

## Context
Ideally don't want our access and secret keys anywhere in plaintext!

## Your Environment
Rancher 1.6
Minio container: minio/minio:latest
Host i

[2018-02-27 18:40] harshavardhana commented on #5585
just use `--quiet` on command line @chris-vest to disable creds on console

[2018-02-27 22:06] kannappanr commented on #5585
Closing this as answered. Please feel free to reopen the issue if you feel otherwise.

[2018-02-27 22:06] #5585 closed, assigned to nobody

[2018-02-28 00:51] AndrewSav commented on #4186
@deekoder, cc: @harshavardhana

 Hey, apparently the federator project you mentioned [was just a proof of concept](https://github.com/minio/msf/issues/2#issuecomment-368737200) and is not going to continue as a thing in it's own.

I understand that some changes overflowed from it back here such as https://github.com/minio/minio/pull/5501

But this particular issue (this very thread) was closed, an

[2018-02-28 00:57] harshavardhana commented on #4186
We have duplicated issues - this is simply a duplicate of https://github.com/minio/minio/issues/5305

[2018-02-28 01:34] AndrewSav commented on #4186
Cool, thanks! @harshavardhana

[2018-02-28 10:33] chris-vest commented on #5585
Thanks guys.

[2018-02-28 14:31] rCj7t993swwMeDsm opened #5589 "Cannot initialize distributed nodes with version "2018-02-09T22-40-05Z""
Initializing distributed minio with 2 nodes 4 disks from fresh failed.

## Expected Behavior
The initialization shall work as previous version

## Current Behavior
1. fresh setup with following command
`minio server http://host a/disk1 http://host a/disk2 http://host b/disk1 http://host b/disk2`
2. The following error observed after firing up the minio command:
`minio: [2018-02-28T09:18:44.0022272

[2018-02-28 17:49] harshavardhana commented on #5589
This is currently fixed in master branch 8de6cf41243ae5a53cf16ec43e49d45fdc0a7ea2  we will make a release soon.

[code]

[2018-02-28 17:49] #5589 closed, assigned to nobody

[2018-02-28 22:59] deekoder commented on #5324
@qLb we have patched this and fixed it. It was already reported here by @gavinmcnair. So we are closing this as fixed.

[2018-02-28 22:59] #5324 closed, assigned to poornas

[2018-03-01 04:13] #5403 closed, assigned to kannappanr

[2018-03-01 06:09] nitisht commented on #5314
moved to @harshavardhana as he has already sent the PR #5501

[2018-03-01 14:50] ArchiFleKs opened #5593 "MINIO_REGION is not working"
## Expected Behavior

region = "" in config.json should be set to the value of MINIO_REGION

## Current Behavior

region = "" in config.json even if MINIO_REGION is set

## Possible Solution

I had to override manually the config.json

## Steps to Reproduce (for bugs)

start minio with the MINIO_REGION env

## Context

I'm trying to create GCP regional bucket by default and not multi regional US,

[2018-03-01 16:57] ChrisWrightMaglabs opened #5594 "user-defined metadata key issue"
I'm setting some custom expiry meta data with the key "companyname-expiry" but when I head the object it comes back as "Companyname-Expiry".

## Expected Behavior
Metadata should return all lower case.

From https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-metadata

## Current Behavior
Metadata keys have uppercase characters.

## Environment
Version: 2018-02-09T22:40:05Z

[2018-03-01 19:26] poornas commented on #5593
@ArchiFleKs, this is intended behavior. The config.json entry for minio server is meant to be modified by user if a default region other than `us-east-1` is required. The MINIO_REGION env variable will override the region specified in the config.json, but is not intended to persist it to config.json. From mc, mb needs to specify --region to server configured region.

[2018-03-01 19:37] #5471 closed, assigned to aead

[2018-03-01 19:37] #5494 closed, assigned to aead

[2018-03-01 19:46] harshavardhana commented on #5510
This is already fixed in PR #5576

[2018-03-01 19:46] #5510 closed, assigned to aead

[2018-03-01 20:04] harshavardhana opened #5595 "Minio fails to store multiple values for user metadata keys"
## Expected Behavior
When multiple headers with same key are set, we should collect all the values into a comma separated string and save.

## Current Behavior
With multiple headers with same key are set, we only save the first value.

## Possible Solution
Metadata extraction function should simply store all the values set in user metadata not just `one` value.

[code]

## Steps to Reproduce (for

[2018-03-01 21:18] ArchiFleKs commented on #5593
Ok but when I used the ENV var it is not working by default. But when I
override the variable in config.json it is. So maybe there is a difference
between how the two are handle ?
Le jeu. 1 mars 2018 à 20:26, poornas <notifications@github.com> a écrit :

[2018-03-01 22:19] aead opened #5598 "[vendor] update package github.com/minio/sio"
This a request for updating the `github.com/minio/sio` vendored package to the latest version.
The latest version of sio adds automatic support for DARE 2.0.

## Context
Security, SSE-C, encryption

## Your Environment
master

[2018-03-01 23:03] ebozduman commented on #5594
There was a slack message exchange between @ChrisWrightMaglabs and @harshavardhana and it looks like this is not a Minio bug, (if it is a bug).
Basic idea/response was as follows:
[code]

Reference:
[code]

@ChrisWrightMaglabs : we recommend this issue to be closed with `"working as intended"` label.

[2018-03-01 23:03] deekoder commented on #5566
We have a doc on "how to install go". This is very useful. Can we add a section to how to upgrade go. I think you have to write it generic so that we don't have to keep updating version numbers.

[2018-03-01 23:09] vadmeste commented on #5566
@deekoder I meant how to upgrade go runtime version in Minio server. It doesn't seem there is any performance enhancement in go 1.10 but it is still good to do.

@harshavardhana, because upgrading go version is prone to errors.. like we can forget to increase go version in Dockerfile. I wrote a PR to migrate to 1.10 but then I decided to not sending it I am not sure what I could be missing.

[2018-03-01 23:31] harshavardhana commented on #5598
fixed by #5599

[2018-03-01 23:31] #5598 closed, assigned to aead

[2018-03-01 23:31] ArchiFleKs commented on #5593
By working I meant when I set the environment variable MINIO_REGION and
create a bucket without any parameter except bucket name it still default
to US in GCP. But when I set it in config.json directly it creates a
regional bucket in the right region (europe-west1 in my case) that’s the
behavior I was expecting from setting the ENV var.
Le jeu. 1 mars 2018 à 22:18, Kévin Lefevre <lefevre.kevin@gma

[2018-03-02 00:07] poornas commented on #5593
@ArchiFleKs , how are you starting the minio server? Do you see any region on the startup banner when you set region in config.json or by setting the env variable

[2018-03-02 00:11] krishnasrinivas commented on #5594
If this is causing an issue with AWS SDK then we should discuss if we should be compatible with AWS SDK (though http rfc does not warrant for us to do so)

[2018-03-02 00:13] harshavardhana commented on #5594
I don't think so @krishnasrinivas - aws-sdk-go canonicalizes the key, aws-sdk-php doesn't so there is inconsistency even in languages. The problem is perhaps @ChrisWrightMaglabs is simply expecting the headers to be lower case because it was set that way.  I am pretty sure PHP http clients will not fail if keys are canonicalized.

[2018-03-02 08:50] ChrisWrightMaglabs commented on #5594
Working via the AWS PHP SDK setting the keys in any mix of casing results in an all lowercase result, which I presume is due to Amazon forcing all lowercase in storage and preserving that through to the HTTP headers.

Minio behaviour being different is a minor irritation, was simply of note because it is different and some S3 interaction code that depended on the consistent behaviour out of AWS tr

[2018-03-02 09:16] harshavardhana commented on #5594
If you used aws-sdk-go, aws-sdk-java you would see all headers to be canonicalized (camel cased) this is just a http implementation choice, it shouldn't change what these values mean or how they are treated by S3 clients.

Any client which depends on this behavior is going to be buggy and not compliant with HTTP RFC,  AWS S3 is a HTTP compliant server implementation which sends in whatever casing

[2018-03-02 11:11] ArchiFleKs commented on #5593
I'm using a Kubernetes deployment. Juste like the example. I have nothing either way on the startup banner:

[code]

[2018-03-02 11:13] ArchiFleKs commented on #5593
My deployment object:

[code]

[2018-03-02 16:53] poornas commented on #5593
@ArchiFleKs , the mc client will always need to provide the region in the mb call - reason being that minio just passes the request to gcs in this case and the backend provider could support multiple regions. The MINIO_REGION setting will be used only when minio server is itself the backend in use. You will also find that minio gateway gcs --help does not list MINIO_REGION.

[2018-03-03 01:04] harshavardhana opened #5606 "POST object should support encryption in form fields"
## Expected Behavior

https://docs.aws.amazon.com/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html

## Current Behavior
We do not support it yet.

## Possible Solution
https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPOST.html

Name | Description | Required
-- | -- | --
x-amz-server-side-encryption-customer-algorithm | Specifies the algorithm to use to when encrypting the object.

[2018-03-04 18:52] pharaohman opened #5608 "SSL on Synology (via Docker App)"
I've got Minio running successfully on my Synology Rackstation via a container in the Docker App, but I can't figure out how to get it to use the SSL cert that is also installed on the Synology (full cert, not the self-assigned one). I'd prefer to use the SSL already installed on the Synology but if I have to get a new one, I'm okay with that too. Any help would be appreciated!

[2018-03-05 16:02] #5606 closed, assigned to vadmeste

[2018-03-05 20:11] kannappanr commented on #5608
@pharaohman please take a look at https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls about instructions on how to add certs

[2018-03-05 20:29] pharaohman commented on #5608
@kannappanr Thanks, that gives me a start however the Synology certs are in .pem format and I'm not sure where the .minio folder is located within the Docker app. I see a .minio.sys folder, would that be the same thing? Can I just rename the .pem files with .crt and .key and copy them to that folder?

[2018-03-05 20:36] harshavardhana commented on #5608
`.minio` folder defaults to `${HOME}/.minio`

[2018-03-05 20:51] pharaohman commented on #5608
I saw that but unless I am completely lost that isn't necessarily the case when installed via the Docker app on a Synology NAS. Or, I'm not clear on how to get there.

[2018-03-05 21:15] harshavardhana commented on #5608
It is simply `/root/.minio` for a docker container. You can also override by specifying a custom directory `--config-dir /mydir/`

[2018-03-05 21:23] pharaohman commented on #5608
That doesn't seem to be the case with the Docker app installed in the Synology Diskstation Manager. There is no such directory. I've got a .minio.sys folder with folders for buckets, multipart and tmp with a format.json file. There is also a folder in @docker/containers/<hexidecimal idendifier> with checkpoints and shm folders as well as files called config.v2.json, hostconfig.json hostname, hosts

[2018-03-05 21:50] harshavardhana commented on #5608
Since I do not have access to Synology and have never used it - I don't have a way to debug your issue. Is there anything you can do to help us get access?

[2018-03-05 23:06] deekoder commented on #5564
@krisis  I see that your pr is merged. Can we close this issue as addressed?

[2018-03-06 02:13] #5564 closed, assigned to krisis

[2018-03-06 02:14] harshavardhana commented on #5564
Closed since @kannappanr already added `fixed` label on 4 days ago.

[2018-03-06 06:43] solsson commented on #5269
Is there architectural reasons for GCS gateway not supporting notifications, or is it - understandably - just lower priority than a lot of things?

[2018-03-06 06:52] solsson commented on #5406
@krishnasrinivas Can you elaborate a bit on the scope of this? Have you found any example of a blob store service broker?

[2018-03-06 07:08] harshavardhana commented on #5269
It is architectural - implementing notifications would undermine the requirement of shared nothing architecture of gateways.

[2018-03-06 08:04] iwanbk commented on #5498
closing this because it is not relevant anymore.
See https://github.com/minio/minio/pull/5500#issuecomment-369371374

[2018-03-06 08:04] #5498 closed, assigned to nobody

[2018-03-06 08:57] tambetliiv commented on #5557
I set up a new docker swarm (installed new VMs) and used the same versions. Couldn't reproduce this issue. I don't know what was wrong with the old docker-swarm cluster but for me now issue is resolved.

Thanks again for quick response and all your help.

[2018-03-06 08:57] #5557 closed, assigned to nitisht

[2018-03-06 18:09] pharaohman commented on #5608
I'd be happy to setup a screen sharing session if you're open to that.

[2018-03-06 19:46] deekoder commented on #5582
@mbo77 this is an ask for HSM (hierarchical storage management). At this time, we don't have plans to do this inside our object storage server implementation. Can you give details on why exactly you want this feature. Perhaps we can discuss possibilities on how you can achieve this outside of the core object storage server code.

[2018-03-06 20:14] harshavardhana commented on #5608
Let us know when do you want to do this?

[2018-03-06 20:25] pharaohman commented on #5608
I'm pretty available tomorrow. Can you email me and we can set something up?

[2018-03-07 08:34] tambetliiv commented on #5557
I installed all the docker hosts in the same environment and reproduced the issue. This means that this environment is somehow incompatible.

resolv.conf file is populated automatically and found out issue what was causing this behavior.

minio didn't run on docker swarm hosts that had this example resolv.conf:
[code]

When removed search option, minio starts normally.
[code]

Hope this info helps

[2018-03-07 08:37] rvolykh opened #5613 "Minio s3 ListMultipartUploads"
Hello, i'm trying to list multipart uploads with python boto library (boto==2.48.0) and all time getting response without multipart uploads while in storage directory of minio i can see my not completed uploads (.minio.sys/multipart/test_bucket/file1/<UUID>/ there are fs.json, object1, object2 as I uploaded two parts), the same behavior with postman.

## Expected Behavior
https://docs.aws.amazon.c

[2018-03-07 08:39] harshavardhana commented on #5557
Thanks @tambetliiv

[2018-03-07 08:43] glensc commented on #5557
knowing your infra @tambetliiv, i think the problem is that your `search` added wildcard resolution.

[code]

thus `nslookup foobar` always resulted `A 1.2.3.4` reply while without `search` it would returned `NXENT`

[2018-03-07 09:09] tambetliiv commented on #5557
https://github.com/minio/minio/issues/5557#issuecomment-371065465

Yes, that was the problem. Was able to reproduce. One of those `search` domains supported wildcard resolution. And when docker creates container `resolv.conf`, It appends `options ndots:0`, which tries to resolv all names with `search` domains, and when one of those domains supports wildcard resolution, then name resolution to cont

[2018-03-07 15:54] aead opened #5614 "[doc] openssl cmd generates unsupported ECDSA private keys"
The [TLS doc](https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls) for generating an ECDSA key/certificate contains a command which produces key files which cannot be parsed by the minio server

## Expected Behavior
Command should produce key files which can be parsed by the server

## Current Behavior
Command should produce key files which cannot be parsed by the server

## P

[2018-03-07 15:56] gavinmcnair opened #5615 "GPU acceleration for Minio possible?"
I was wondering if the erasure encoding could be offloaded onto the GPU? I presume any modern GPU would be capable of SSD level parity calculations.

## Context
We currently get 40,50 MB a second off our Minio on hard disks and it makes a noticeable dent on CPU performance (our hardware is a little out of date). I was wondering how serious this dent would become if I was to use an SSD based disk s

[2018-03-07 16:05] benagricola commented on #5613
I'm seeing something very similar using duplicity, which uses boto 2.48.0 under the hood. Duplicity believes the chunks have been uploaded successfully but `mp.get_all_parts()` returns an empty list and causes the upload to fail.

I'm using the following version:

[code]

[2018-03-07 16:12] aead commented on #5615
On modern (x86) processors (with SSE4 / AVX / AVX2) the erasure coding (and hashing) is reasonable fast. Here are some resources:
 - [Cosbench blog-post](https://blog.minio.io/minio-benchmarks-with-cosbench-81704a8f0178?gi=c7517d2cec7a)
 - [HighwayHash](https://github.com/minio/highwayhash)
 -  [Reed-Solomon erasure coding](https://github.com/klauspost/reedsolomon)

While it may be possible to off

[2018-03-07 17:34] brauliobo commented on #5254
I'm seeing this when doing a lot of IO, are there any logs to check what the error was exactly? is ulimit configured properly on the docker image?

[2018-03-07 17:49] harshavardhana commented on #5254
Can you elaborate more on lot of IO ? Do you have any server logs ? . Also please open a new GitHub issue.

[2018-03-07 19:47] krishnasrinivas commented on #5613
@rvolykh  The following script works fine with the latest release `2018-02-09T22-40-05Z` what release are you using? I suspect you are using an old minio version.

[code]

@benagricola `mp.get_all_parts()` in the above script returns a list for me on the latest release:
[code]
Can you do `export MINIO_HTTP_TRACE=/dev/stdout` and run minio and get the trace logs?

[2018-03-08 08:27] wd256 opened #5622 "FS: CopyObject where source and destination are the same fails to preserve ETag"
## Expected Behavior
When copying an object for the purpose of updating its metadata, I expect the ETag to be preserved.

## Current Behavior
The copy operation completes successfully but the ETag is now missing from the object's metadata.

## Your Environment
Version: RELEASE.2018-02-09T22-40-05Z
Platform: Linux amd64

[2018-03-08 09:04] harshavardhana commented on #5622
Can you test this with master branch and let us know?

[2018-03-08 11:59] gavinmcnair commented on #5615
I am currently archiving Kafka topics using Kafka connect S3 directly to our Minio cluster.

It is writing around 20gb per hour across 16 minio hosts (each 16 core machines).

All 16 machines are consuming 66% of a single CPU core with no wait on IO.

The processors are Opteron's from about 4 years ago (which I accept isn't the latest) and has the following CPU feature flags

flags		: fpu de pse t

[2018-03-08 12:05] gavinmcnair commented on #5615
Let me check there are no network IO issues.

[2018-03-08 13:41] dflasse commented on #4017
I know it is supposed to be closed but I do have the very same issue from CloudBerry MBS:

Trace: 1: /q/.q/sources/gopath/src/github.com/minio/minio/pkg/http/listener.go:177:http.(*httpListener).start.func2()
[2018-03-08T11:45:59.272944256Z] [ERROR] TLS handshake failed with new connection x.x.x.x:59971 at server yy.yy.yy.yy:8000 (tls: no cipher suite supported by both client and server)

And I ha

[2018-03-08 13:48] gowithplanb commented on #4017
This is an issue with CloudBerry MBS clients since Minio dropped support for certain ciphers. CloudBerry is aware of the issue and looking into it. MBS clients running Windows 7 are affected, but i.e. Windows 10 is not.

[2018-03-08 13:48] aead commented on #5615
This would be 5-6 MB/s across 16 instances. That should not cause performance problems.
Are you using the latest release of the server?

Does this mean 66% on a *single* CPU core on each node or 66 % on *every* CPU  core on each node?

The Opteron's are old but they support SSE-4 so they should be able to use SIMD optimized code.
You can try the following simple test:
 1. `go get github.com/klausp

[2018-03-08 20:52] jerson opened #5624 "Merge disks"
Hi, I just want to ask a simple question.

Is it possible to join several instances of minium and make a hard disk with the sum of all the instances instead of reducing them to one?

[2018-03-08 21:24] harshavardhana commented on #5624
No it is not possible you should use lvm underneath to do this.

[2018-03-08 21:49] jerson commented on #5624
Thanks @harshavardhana , I was reading a bit and I think I'll use GlusterFS

[2018-03-08 21:49] #5624 closed, assigned to nobody

[2018-03-08 22:56] fwessels commented on #5615
If you are using the latest Minio release you should benefit from Highwayhash which is 10x faster than Blake2b which we have been using this far for hashing.

[2018-03-08 23:06] #5614 closed, assigned to aead

[2018-03-08 23:55] gavinmcnair commented on #5615
Thanks, i'll give it a try.

[2018-03-09 01:20] aead opened #5625 "SSE-C does not validate equal keys during key rotation"
This is a SSE-C API compliance bug. It has no security impact.

## Expected Behavior
If the client does a key-rotation where source-key == destination-key the server should check that the source-key is valid. The server should error out if the source-key is not valid.

## Current Behavior
The server accepts invalid source-keys. Since key-rotation with equal keys is implemented as a no-op this has

[2018-03-09 01:47] harshavardhana commented on #5625
:+1:

[2018-03-09 03:55] wd256 commented on #5622
I've tested with master and can confirm I see the same behaviour.

[2018-03-09 06:21] xofaptech opened #5627 "Distributed Cluster setup failed"
Hi,

I'm currently trying to setup a distributed cluster of minio before using it at production. I have created 4 nodes of minio using xen hypervisor and ubuntu 16.04. They are working well as standalone nodes. Then as an attempt to make a distribution cluster, I run the following command on every nodes :

 minio server http://192.168.1.221:9000/minio/demo01 http://192.168.1.222:9000/minio/demo02

[2018-03-09 07:34] nitisht commented on #5627
@xofaptech do you have an existing directory like `lost+found` in your mounts `/minio/demo01`, `/minio/demo02`, `/minio/demo03`, `/minio/demo04`

[2018-03-09 08:09] rvolykh commented on #5613
Thanks for responses, updates:

`uname -a`: Linux f036ec4a1098 4.9.60-linuxkit-aufs #1 SMP Mon Nov 6 16:00:12 UTC 2017 x86_64 Linux

`trace`:
[code]

minio/data catalog:
[code]

`cat fs.json`:
[code]

[2018-03-09 08:09] xofaptech commented on #5627
no, all of the buckets are empty

[2018-03-09 08:11] harshavardhana commented on #5627
You cannot use /minio as part of the path IMO, can you change it to something else ? /minio is a reserved prefix..

[2018-03-09 08:19] xofaptech commented on #5627
the url is defaulted to minio. how can I change it?

[2018-03-09 08:28] harshavardhana commented on #5627
it is not you can change it to your actual export directory lets say your directory is /export/data then your command will look like

[code]

there is no `/minio` required.

[2018-03-09 08:53] xofaptech commented on #5627
Tried, but I got this error instead

[2018-03-09T08:52:21.117047824Z] [FATAL] Invalid command line arguments server=‘:9000’, args=[http://192.168.1.221:9000/data/demo01] (use path style endpoint for FS setup)

[2018-03-09 09:10] nitisht commented on #5627
[2018-03-09T08:52:21.117047824Z] [FATAL] Invalid command line arguments server=‘:9000’, args=[http://192.168.1.221:9000/data/demo01] (use path style endpoint for FS setup)

What is the command used @xofaptech ? Looks like whole command wasn't run?

[code]

[2018-03-09 09:14] xofaptech commented on #5627
I was using
minio server http://192.168.1.221:9000/data/demo01 http://192.168.1.222:9000/data/demo02 http://192.168.1.223:9000/data/demo03 http://192.168.1.224:9000/data/demo04

after another trial, I got :
[2018-03-09T09:13:38.249941833Z] [ERROR] Initializing object layer failed (
[01/04] /data/demo01 : unformatted disk found
[02/04] http://192.168.1.222:9000/data/demo02 : unexpected HTTP respons

[2018-03-09 09:21] xofaptech commented on #5627
FYI, I'm using this documentation as a guide to setup the minio nodes :
https://www.digitalocean.com/community/tutorials/how-to-set-up-an-object-storage-server-using-minio-on-ubuntu-16-04

[2018-03-09 09:46] harshavardhana commented on #5608
Can this be closed @pharaohman?

[2018-03-09 10:06] nitisht commented on #5627
Will it be possible to provide access to your setup @xofaptech

[2018-03-09 10:15] xofaptech commented on #5627
unfortunately, it's not possible to access the setup from public network.

[2018-03-09 12:30] pharaohman commented on #5608
Let me post the resolution first for others who may come across this. I should be able to do it this afternoon.

Ryan O'Hara
IT Consultant, Sphinx Technology Solutions
p:(313) 482-9930 | m:(313) 920-4622 | e:ryanohara@sphinx.technology | w:http://sphinx.technology

[2018-03-09 15:07] pharaohman commented on #5608
After working with @harshavardhana the solution was to setup a Mount Path under Volume in the container. Save a copy of your private.key and public.crt into a folder on your Synology and set that folder under File/Folder, set the mount path to /root/.minio/certs. Once that was done HTTPS worked perfectly. Thanks!

[2018-03-09 15:07] #5608 closed, assigned to harshavardhana

[2018-03-09 18:50] #5622 closed, assigned to harshavardhana

[2018-03-09 20:23] harshavardhana commented on #5627
The unexpected response can only come if you already have something running on port 9000, we are able to run perfectly fine on our local systems both master and released versions.

[2018-03-10 11:13] beeth0ven opened #5630 "403 Forbidden for presigned put url"
## Expected Behavior
The put request might be success, since the same operation with aws is success.

This is expected Behavior from aws:

![aws-put](https://user-images.githubusercontent.com/5554127/37238512-b27926d8-2462-11e8-83e6-2f7cc238889d.png)

## Current Behavior

This is Current Behavior from minio:

![minio-put](https://user-images.githubusercontent.com/5554127/37238513-b8bac6be-2462-11e

[2018-03-10 13:55] koliyo opened #5631 "Default docker image needs to include time sync"
I am running the default minio docker image in a local test environment. It has stopped working due to

[code]

Restarting the container does not help.

## Expected Behavior
The provided docker image should contain time sync since the service functionality depends on it.

## Current Behavior
I can not use the default docker image, even for testing.

My local host machine, Mac, is synced against a

[2018-03-10 14:07] koliyo commented on #5631
Ok, this may actually be a docker for Mac issue. I found this

https://blog.shameerc.com/2017/03/quick-tip-fixing-time-drift-issue-on-docker-for-mac

And running this command
[code]

does sync the time of the docker environment for me.

[2018-03-10 14:50] harshavardhana commented on #5631
This issue doesn't occur on Linux or Windows due to the native implementation of docker. Docker for Mac uses virtualbox VMs which is perhaps the reason why this issue occurs.

We will check how we can fix this issue.

[2018-03-11 08:25] JLiscom opened #5632 "SSL - Invalid SSL certificate file"
Whitespace characters after last pem in the cert chain will cause Minio to not start and display
[code]
## Expected Behavior
Minio should ignore whatespaces anywhere in a `public.crt` chain

## Current Behavior
Freaks out if you accidentally have whitespaces at the end of the file. Most editors insert some.

## Possible Solution

Remove whitespaces before parsing.

## Steps to Reproduce (for bugs)

[2018-03-11 13:09] easkay opened #5633 "Disk tuning script attempts to change max_hw_sectors_kb (RO)"
## Expected Behavior
The tuning script should run without errors, and tune `max_sectors_kb` successfully.

## Current Behavior
The tuning script instead attempts to tune the read-only file `max_hw_sectors_kb` resulting in either a permissions error, or an I/O error:
[code]

## Possible Solution
Change `max_sectors_kb` instead of `max_hw_sectors_kb`

## Steps to Reproduce (for bugs)
1. Install Cent

[2018-03-11 22:55] kdkns opened #5634 "Minio - Distributed with NFS showing large capacity than total drives"
**Summary**

* Setup Distributed Minio following guide here : (https://www.digitalocean.com/community/tutorials/how-to-set-up-an-object-storage-server-using-minio-on-ubuntu-16-04)
* Using Ubuntu Xenial Mate on ROCK64 machines
* Drives are connected using USB 3.0
* Each computer is setup to mount it's locally attached USB drive and mount all network drives using NFS
* Minio is started as a daemon u

[2018-03-12 01:02] OmgImAlexis opened #5635 "Docker example causes files to be saved inside of container instead of mapped volume"
## Expected Behavior

Dockerfile should be using `/data` as the examples show.

## Current Behavior

Dockerfiles uses `/export` like the example use to show before https://github.com/minio/minio/commit/69555f1224282031651b8b4397fd5e6e8b17e5ea#commitcomment-28040482.

## Possible Solution

Update Dockerfile's export.

[2018-03-12 02:19] kdkns commented on #5634
**## Issue Resolved**
It turns out I had a few problems
* My nodes were not mounting the attached USB drives because the drives had been formated which created a new UUID. I needed to mount the PARTUUID in /etc/fstab
* Because the drives didn't mount, NFS was using a local version which was the 16GB Micro SD card
* Once the drives were correctly mounted, NFS restarted, **df -h** showed the correct

[2018-03-12 02:19] #5634 closed, assigned to nobody

[2018-03-12 02:22] kannappanr commented on #5631
@koliyo Looks like this is a known issue on Mac based on [https://blog.shameerc.com/2017/03/quick-tip-fixing-time-drift-issue-on-docker-for-mac](https://blog.shameerc.com/2017/03/quick-tip-fixing-time-drift-issue-on-docker-for-mac) . Can this be closed, as this is not a minio issue?

[2018-03-12 02:29] harshavardhana commented on #5635
Well you can bind mount to any directory to specified path from docker ?. How is it different even if we mention `/export ` and you don't have a persistent volume attached?

[2018-03-12 02:30] kannappanr commented on #5630
@beeth0ven I tried to reproduce the issue by following the instructions given here. The browser lets me choose a file, but that is about it. I am unable to do anything beyond that. Can you help me reproduce the issue?

[2018-03-12 02:44] kannappanr commented on #5633
@easkay Please do submit a PR. We welcome community contribution.
Note that you can't `chmod` proc files. The script would need to be executed as a root user.
On some hardware, it cannot be changed and the failure needs to be ignored.

[2018-03-12 02:55] beeth0ven commented on #5630
Hi @kannappanr thanks for pay attention,
Here are steps to show the issue,
I assume you are using chrome:
 1. open a tab
 2. navigate to `develop tools -> Network`.
 3. visite `http://localhost:3001/static/`
 4. upload a file, so you can see the response from minio.

if you want to test with aws here are some steps:
 1. stop node server
 2. edite file `/minio-react-s3-uploader/server/config.js` an

[2018-03-12 03:16] OmgImAlexis commented on #5635
The Dockerfile exposes the `/export` since the examples were changed to show using `/data` the exposed volume should be changed too.

[2018-03-12 03:28] xofaptech commented on #5627
Hi all,

Thanks for the pointers. I think I found the source of the error message. looks like the minio service of all nodes must not run at the time the command input. Once I stop the minio service of all nodes, the initialization started on the command input.

[2018-03-12 04:41] harshavardhana commented on #5627
You don't need to start minio servers prior - command line input is the only thing necessary which should be run on all servers. Feel free to close this issue if you think this issue is fixed.

[2018-03-12 04:52] harshavardhana commented on #5631
In-fact Docker fixed this in https://github.com/docker/for-mac/issues/17 **17.05.0-ce-mac9**

[2018-03-12 05:47] #5627 closed, assigned to nitisht

[2018-03-12 06:16] #5357 closed, assigned to nitisht

[2018-03-12 06:16] #5514 closed, assigned to nitisht

[2018-03-12 06:24] nitisht commented on #5514
@OsamaJBR we implemented a more straightforward approach for `healthcheck` in #5543
can you please confirm if this fixes the issue for you

[2018-03-12 06:45] nitisht commented on #5357
@Subito sorry to have missed your comment earlier.

The idea for `healthcheck` is to add an endpoint that responds with relevant status. This is in accordance with expectations in Kubernetes / Swarm type environments. For something like what you're looking for, you can use the [madmin](https://github.com/minio/minio/tree/master/pkg/madmin) API.

[2018-03-12 09:28] easkay commented on #5633
Thanks @kannappanr, I'll have a PR ready for you in about 9 hours or so.

[2018-03-12 12:34] benagricola commented on #5613
Trace log from my side (note boto version for this log is 2.42.0 but same occurs with 2.48.0), looks very similar to output from @rvolykh:

[code]

[2018-03-12 17:48] harshavardhana commented on #5633
Thanks @easkay

[2018-03-12 19:07] kdkns opened #5639 "Minio & MC & AWS Client Multipart Upload Failure & Low Bandwidth Usage"
When uploading a file to Minio, both the MC and AWS CLI clients will fail for large files ( 1.5 GB in this example ) and throw a **upload failed** due to a multi part issue. Trying again will sometimes work but both clients will throw the issue which tells me it may be a Minio issue versus a client issue.

Looking at debug info, we see the file is being chunked incorrectly? Each transfer of the **

[2018-03-12 20:26] deekoder commented on #5536
@kmkanagaraj  can we test if this issue does not occur in the newux branch?

[2018-03-12 20:30] deekoder commented on #5631
Please reopen if needed. Closing this.

[2018-03-12 20:30] #5631 closed, assigned to nobody

[2018-03-13 07:22] FilipFrancis opened #5642 "Issue compiling minio on Smartos/Illumos"
Hi all,

I am trying to compile minio on smartos but i am getting the following error when i run following command:
go get -u github.com/minio/minio
then after i while i get following error:
github.com/minio/minio/cmd
root/go/src/github.com/minio/minio/cmd/fs-v1-helpers.go:270:17: undefined: lock.Open

The go language that i am using is:
go version go1.10 solaris/amd64

Anybody any ideas as i have

[2018-03-13 08:28] harshavardhana commented on #5642
@FilipFrancis we do not support Illumos/Solaris out of the box - neither we test and compile on these platforms. Feel free to send a fix.

[2018-03-13 12:49] aead commented on #5632
@krishnasrinivas I guess we can remove trailing white-spaces/returns/... [here](https://github.com/minio/minio/blob/27258b9c54980dcba26ccf041c316b221f0ad392/cmd/certs.go#L44)

[2018-03-13 13:17] #5633 closed, assigned to nobody

[2018-03-13 13:18] aead opened #5644 "[toolchain]: Update go version to latest stable version 1.10"
This is a request for updating our CI, docker files and other configuration files to the latest Go version `1.10`. At the moment we require Go `1.9.4`.
Further some of our config files contain out-dated Go versions like: [snap](https://github.com/minio/minio/blob/52e382b697eab615ca114df431ea741e60bb4879/snap/snapcraft.yaml#L31)

## Context
Tooling
Also related: #5566

## Your Environment
master

[2018-03-13 13:34] jblunck opened #5645 "Initializing object layer failed with XL format"
I'm trying to run Minio bare-metal on 7 nodes with 4 disks each. Although the metabuckets seem to get created correctly (according to my understanding of the code) starting the server fails with the following error:

[code]

I've also tried other command lines that result in the same error:
[code]

## Your Environment

* Version used (`minio version`):
Version: 2018-03-12T21:25:28Z
Release-Tag: RE

[2018-03-13 14:46] beeth0ven commented on #5630
Sorry, I found my computer install `aws-sdk` globally, so i'm missing it in this project.
If you want test with aws, there is one more step `npm install --save aws-sdk`.

If there is something unclear feel free to talk with me.

[2018-03-13 16:28] kannappanr commented on #5630
@beeth0ven I haven't completely tried with AWS yet. but was able to see the issue that you were referring to with minio. I want to try out certain things before I reach out to you for further clarifications.

[2018-03-13 18:29] harshavardhana commented on #5645
Thanks, @jblunck for the call. To summarize the issues we found were

- Permission issues on the backend disks v/s the user running the minio server
- `--config-dir` option before and after the `server` command line can cause discrepancies

We will try to reproduce the problem on our end as well related to `--config-dir`

[2018-03-13 22:35] harshavardhana commented on #5644
already fixed this few days ago here https://github.com/harshavardhana/minio/tree/enable-builds didn't submit it yet.

[2018-03-14 01:29] #5635 closed, assigned to nitisht

[2018-03-14 11:55] LukeDS-it opened #5649 "Windows fails to execute minio in gateway mode"
Trying a distributed setup between multiple dev machines, we ran into the impossibility of running minio as described here [https://github.com/minio/minio/blob/master/docs/gateway/nas.md](url).

First instance gets up and running smoothly. Subsequent instances fail to startup and just hangs.

If second+ instance is run from a linux machine, then we get a more evident error: `[2018-03-14T11:52:31.8

[2018-03-14 13:54] john-bakker commented on #2825
is this ever added to the minio documentation ?  on docs.minio.io ?

[2018-03-14 14:07] nitisht commented on #2825
@john-bakker https://docs.minio.io/docs/deploy-minio-on-kubernetes

[2018-03-14 16:41] harshavardhana commented on #5649
Are you planning to run one nas gateway on Windows mount and another on Linux ?  This is because your NAS is rejecting locking requests across platforms. This is expected since windows implements mandatory filesystem locks and Linux doesn't. Also they are not inter operable.

So it  is expected that you run in a homogeneous environment with NAS gateway.

[2018-03-14 16:55] LukeDS-it commented on #5649
Sorry, I might have explained myself poorly. The issue presents itself even with a homogeneous environment, the first thing I tried was running two nodes on two windows machines. The mixed environment was just another test I did because I supposed there was something wrong with windows.

So, if I understood correctly, there should be no issues in running two nodes in two windows machines, right? I

[2018-03-14 17:23] harshavardhana commented on #5649
What is the backend NAS here on windows ? Does your backend NAS support NT filesystem locks ?

[2018-03-14 18:04] zackw opened #5652 "Automatic healthcheck still doesn't work with latest image on docker hub"
## Expected Behavior

"docker ps" should not report the status of a minio/minio container as "unhealthy".

## Current Behavior

[code]

This appears to be exactly the same problem as #5010.  Inspecting the contents of the image, the fix that was supposedly merged in #5011 is not present in `healthcheck.sh`:

[code]

Those are supposed to have `-H "User-Agent: Mozilla"` in there.

## Your Environme

[2018-03-14 18:05] harshavardhana commented on #5652
We fixed it in #5647 @zackw - we will be making a new release.

[2018-03-14 18:12] zackw commented on #5652
Please do not close this bug until it has been verified to be fixed with the image you get by doing "docker pull minio/minio".

[2018-03-14 18:25] harshavardhana commented on #5652
you can test with `docker pull minio/minio:edge`

[2018-03-14 18:39] zackw commented on #5652
I believe you that there are code changes in the development branch that address the bug.  However, the recommended-for-production Docker image, `minio/minio`, is still buggy until _it_ is updated.  That's all I was trying to say.  I don't mean to be coming in here out of the blue and telling you how to run your project.  It's just that as a user, it is immensely frustrating to find that the probl

[2018-03-14 18:52] harshavardhana commented on #5652
Yes, that is true it was fixed, it is a regression. What I meant in my previous comment was you can test and validate @zackw

[2018-03-14 19:12] zackw commented on #5652
Yes, I see a working health check with `minio/minio:edge`.

[2018-03-14 19:28] harshavardhana commented on #5652
Great, that is all I wanted to know. @zackw  - Thanks for testing.

[2018-03-14 20:32] krishnasrinivas commented on #5613
@rvolykh can you give me a sample script to reproduce the problem, because the script you have me (pasted below) works as fine for me:
[code]

[code]

[2018-03-14 20:34] krishnasrinivas commented on #5613
@benagricola if you notice the trace log, there are no "put object part" requests hence mp.get_all_parts() returns 0 entries. Can you give me instructions on what commands to run to see duplicity error? (I have not used duplicity)

[2018-03-14 21:40] ktf opened #5653 "Documentation offline"
Documentation seems to be down

## Expected Behavior
Proper documentation

## Current Behavior
Heroku 404 page

## Possible Solution

## Steps to Reproduce (for bugs)

Go to <http://docs.minio.io>

[2018-03-14 22:20] harshavardhana commented on #5653
Fixed @ktf

[2018-03-14 22:20] #5653 closed, assigned to nobody

[2018-03-15 07:03] rvolykh commented on #5613
@krishnasrinivas
yes, just change a bit your script, i don't know why you replaced my example above :)

replace in your script: `print mp.get_all_parts()` with
`print bucket.list_multipart_uploads()`
Problem is in a method `list_multipart_uploads` for bucket not for a `get_all_parts` for object

[2018-03-15 07:52] HjlSr opened #5656 "Memory leak when upload file frequnecy (using minio docker image)"
we start minio with 4 node in 1 tenant ,and then start upload file to minio . after a while we see memory leak ("docker stats" show memory usage of docker instances  )
## docker-compose
<pre>
version: '2'
services:
  minio1:
    image: minio/bash:RELEASE.2018-03-14T20-33-21Z
    ports:
      - "9001:9000"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: cFV^+7/85KFr-ws]

[2018-03-15 10:49] aead opened #5657 "[refactor]: simplify en/decrypted object size computation"
## Description

Since [sio](https://github.com/minio/sio) provides functionality to compute the size of encrypted/decrypted data streams we can simplify the current encryption logic in the server.

This includes:
 - [decryptedSize](https://github.com/minio/minio/blob/master/cmd/encryption-v1.go#L737)
 - [EncryptedSize](https://github.com/minio/minio/blob/master/cmd/encryption-v1.go#L766)

And all

[2018-03-15 11:20] gstorme commented on #5357
The endpoints (/minio/health/live & /minio/health/ready) from #5543 still return a 403 forbidden.
Is it possible to let those return a 200 when the healthcheck is ok?

[2018-03-15 11:58] nitisht commented on #5357
@gstorme are you running Minio in a container? There was another issue fixed by https://github.com/minio/minio/pull/5647 , can you pls try the `edge` image?

[2018-03-15 12:20] OsamaJBR commented on #5514
Yes, I don't see the problem again using the latest docker tag. Thanks.

[2018-03-15 13:31] martinmoerch opened #5659 "Distributed minio fails to heal drive after complete data loss of 1 of 4 drives"
We're seeing an issue when trying out a test scenario, simulating failure of 1 of 4 drives in distributed minio, where heal never completes successfully.

## Expected Behavior
Verify parity and integrity of all objects in all buckets and recreate parity as needed.

## Current Behavior
Heal command stalls on "disk-format", exits after ~600 seconds with error: `Heal had an error -  Storage resources

[2018-03-15 16:36] benagricola commented on #5613
Hi @krishnasrinivas,

Correct - there is no PUT object parts because Duplicity uses `bucket.list_multipart_uploads()` prior to attempting to upload any chunks.

So the process is:

 * Create multipart upload
 * Spawn x number of workers to upload each chunk
 * Each worker checks multipart upload is in list_multipart_uploads (i.e. still a valid upload)
 * Upload file chunk and exit subprocess

But

[2018-03-15 19:00] harshavardhana commented on #5656
@HjlSr are you saying that Minio eventually runs out of memory and gets killed by docker?

[2018-03-15 19:09] harshavardhana commented on #5659
Tried to reproduce this @martinmoerch but can't - tested running both distributed and standalone erasure coded mode.

[code]

[2018-03-15 19:23] krishnasrinivas commented on #5613
oops sorry about that. Yes I see you try to do list_multipart_uploads

@krishnasrinivas oh, I see, a bit complicated but Minio rocks anyway :)
Probably we'll try to replace listMultipartUpload call and let you know if there would be some pitfalls

ok great :+1:

[2018-03-15 19:36] krishnasrinivas commented on #5613
@benagricola we made a change to simplify our backend format and also the code. As a result we will no longer be able to support ListMultipartUploads when prefix is given as `""`

Reason for ListMultipartUploads to exist in AWS-S3 is for clients to list multipart uploads and remove them so that AWS do not bill for them. In our case we auto purge old multipart uploads and not support ListMultipartU

[2018-03-15 20:03] #4081 closed, assigned to balamurugana

[2018-03-15 20:13] benagricola commented on #5613
@krishnasrinivas yep, have been using duplicity with an older version of minio but recently upgraded.

[2018-03-15 22:22] harshavardhana commented on #5645
This doesn't seem like a bug @jblunck `--config-dir` works in either position. The problem is mostly due to simply permissions and the "signature invalid" was because on port 9000 other remote servers were trying to communicate with different access keys.

Going to send another PR where we will return a higher level error when disks are not writable.

[2018-03-15 23:00] krishnasrinivas commented on #5613
@benagricola github.com/minio/mc now supports encryption https://docs.minio.io/docs/minio-client-complete-guide. https://github.com/restic/restic is another alternative.

[2018-03-15 23:51] harshavardhana commented on #5659
@martinmoerch i take that back, was able to reproduce and send a PR fix as well.

[2018-03-16 04:23] harshavardhana commented on #5593
This is fixed already @poornas ?

[2018-03-16 04:25] harshavardhana commented on #5535
Is this fixed already @nitisht ?

[2018-03-16 04:31] harshavardhana commented on #5467
@jonandernovella can you confirm if this is fixed ?

[2018-03-16 04:32] xofaptech opened #5663 "Run distributed minio as service"
I have been able to create a distributed minio installation on 4 nodes using the quick-start guide. But the steps on quick-start guide are using manual input to start the minio. I was able to start a single minio node using https://github.com/minio/minio-service/tree/master/linux-systemd . I would like to know if it's possible to use the same service for distributed nodes, probably by changing som

[2018-03-16 04:33] harshavardhana commented on #5408
This should be fixed already in the latest release already. Since the startup sequences have changed . Is it okay to close this issue @curantes ?

[2018-03-16 04:34] harshavardhana commented on #5402
We support rolling upgrades since last couple of releases so this issue would be fixed @curantes . Should we close this issue ?

[2018-03-16 04:44] harshavardhana commented on #5663
https://github.com/minio/minio-service/tree/master/linux-systemd/distributed have you seen this ?

[2018-03-16 04:45] xofaptech commented on #5663
Ah, I missed that one. Thanks for pointing out.

[2018-03-16 04:45] #5663 closed, assigned to nobody

[2018-03-16 07:04] martinmoerch commented on #5659
@harshavardhana Awesome! Will watch closely. Thank you for your prompt reaction 👍

[2018-03-16 09:09] edgar86cru opened #5664 "Option to avoid deleting parent directory"
Possibility to add an option to avoid deleting parent directory

## Expected Behavior

I create the object folder1/
I add an object file.txt into the folder1/
I delete object file.txt, I would expect that folder1/ is still available

## Current Behavior

I create the object folder1/
I add an object file.txt into the folder1/
When I delete the file.txt minio deletes also the folder1/ but they are t

[2018-03-16 09:14] harshavardhana commented on #5664
@edgar86cru - we implemented directory support for purely compatibility reasons. In-fact it is advised to not create directories in this manner instead simply use the <parent_dir>/object in the PUT object call and parents are created automatically. Deleting parents when dir is empty is an effective means of cleaning up namespace and providing the nature of flat namespace on POSIX backends. Avoidin

[2018-03-16 16:16] nitisht commented on #5535
Not yet, will do soon

[2018-03-16 16:32] harshavardhana opened #5665 "[admin] ServerInfo API returns low level errors to client which lack context"
## Expected Behavior
[code]

## Current Behavior
[code]

reported on our community channel

## Possible Solution
not sure, perhaps proper error handling at admin API and providing a more user friendly error?

## Steps to Reproduce (for bugs)
Upgrade a cluster of minio servers. So I have 4 servers, if I replace 3 and 4 with the new version (1, 2 are old).  and then type `mc admin info` pointing to

[2018-03-16 18:26] poornas commented on #5593
@ArchiFleKs , are you okay with this issue being closed?

[2018-03-16 19:03] ArchiFleKs commented on #5593
Yes sure.
Le ven. 16 mars 2018 à 19:26, poornas <notifications@github.com> a écrit :

[2018-03-16 19:11] #5593 closed, assigned to poornas

[2018-03-16 22:09] #5659 closed, assigned to harshavardhana

[2018-03-16 23:09] harshavardhana commented on #5656
do you have more details @HjlSr ? would it be possible for you to capture profile output by setting then environment value  `_MINIO_PROFILER=mem`?

[2018-03-16 23:10] harshavardhana commented on #5652
A new release has been made which fixes the issue, feel free to re-open if seen again.

[2018-03-16 23:10] #5652 closed, assigned to nobody

[2018-03-17 07:15] HjlSr commented on #5656
@harshavardhana  yes when minio reached to memory limitation that i set this to 5G , docker kills minio instance and force me to re run docker-compose.
i set  _MINIO_PROFILER=mem but i don't know how profile minio memory usage with this profile.please explain more about minio memory profiler.

[2018-03-17 07:16] harshavardhana commented on #5656
the profiler will be generated inside the container at `/tmp/profile<random>/mem.pprof` @HjlSr

[2018-03-17 07:17] harshavardhana commented on #5656
please attach those files here once you have reproduced the problem and copy this file out from the container. @HjlSr

[2018-03-17 09:06] HjlSr commented on #5656
@harshavardhana i see this file but it is empty . so how can i fix it?

[2018-03-17 11:50] harshavardhana commented on #5656
The file will be empty you have to stop server once it reaches a certain level of memory usage, while stopping the profile is written to this location.

[2018-03-17 13:43] HjlSr commented on #5656
[profile952310808.tar.gz](https://github.com/minio/minio/files/1821662/profile952310808.tar.gz)
@harshavardhana this is for one node ,if it isn't enough i will send u other nodes memprofiler info

[2018-03-17 18:19] harshavardhana commented on #5656
Thanks it should be enough @HjlSr

[2018-03-18 20:20] kybi opened #5667 "Problem to start minio server in distributed mode after upgrade to 2018-03-16T22:52:12Z"
I just upgrade minio to latest version.

[code]

and after upgrade all 4 server, it's problem to start minio server in distributed mode.

when running command on first server,

```minio server http://node1/mnt/minio/cluster-data http://node2/mnt/minio/cluster-data http://node3/mnt/minio/cluster-data http://node4/mnt/minio/cluster-data```

server start and `"Waiting for a minimum of 2 disks to come

[2018-03-18 20:57] harshavardhana commented on #5667
The regression was introduced recently @kybi in the following commit, we will fix it right away.

[code]

[2018-03-19 13:23] brauliobo opened #5669 "Minio uses df to show space usage but AWS EFS always show 0"
If AWS EFS is used for flexible and scalable storage usage, then minio won't show the amount of data used as it uses the same data as `df` uses which in the case of AWS EFS the disk usage is always 0.

Is there any other way to calculate storage usage?

[2018-03-19 14:38] jondavidjohn opened #5670 "Add SQS and SNS as possible bucket notification targets"
## Expected Behavior

I can configure SQS or SNS as a bucket notification target as listed [here](https://docs.minio.io/docs/minio-bucket-notification-guide)

## Current Behavior

Currently, you cannot integrate bucket events with standard S3 event targets (like SQS and SNS), this would further improve the "drop-in compatible replacement for S3" story of minio.

## Context

While this improvement

[2018-03-19 14:50] brauliobo commented on #5669
EFS is updating the disk usage with quite some delay, so this isn't a problem in the end

[2018-03-19 14:50] #5669 closed, assigned to nobody

[2018-03-19 15:51] mishak87 opened #5672 "download linux-amd64 RELEASE.2018-03-16T22-52-12Z is not in archive"
RELEASE.2018-03-16T22-52-12 is missing from [archive](https://dl.minio.io/server/minio/release/linux-amd64/archive/) is only available in [release folder](https://dl.minio.io/server/minio/release/linux-amd64/).

I thought this has been automated already see #4632.

[2018-03-19 16:13] #5667 closed, assigned to harshavardhana

[2018-03-19 16:24] nitisht commented on #5670
@jondavidjohn does this solve your use case - https://docs.minio.io/docs/minio-bucket-notification-guide?

[2018-03-19 16:28] harshavardhana commented on #5672
@mishak87 it only moves thereafter another release.

[2018-03-19 16:40] mishak87 commented on #5672
https://github.com/minio/minio/issues/4632#issuecomment-313271230

[2018-03-19 16:48] harshavardhana commented on #5672
This is automated only to an extent that new releases move older release to archive, i don't think we need to change that at anytime now.  is there any specific reason you need it?

[2018-03-19 16:48] #5657 closed, assigned to aead

[2018-03-19 17:16] mishak87 commented on #5672
I use archive URL in chef recipes for installing minio server.

Having to check two URLs is automation nightmare because last version is a moving target. As soon as you release new version you break scripts for installing now the second to new version.

[2018-03-19 17:22] mishak87 commented on #5672
Current setup is a docker equivalent of tagging previous version with `ARCHIVE.<VERSION>` and deleting  original tag when you release new version.

[2018-03-19 19:37] harshavardhana commented on #5672
fixed this from next release onwards it is fully automated.

[2018-03-19 19:37] #5672 closed, assigned to harshavardhana

[2018-03-19 21:21] jondavidjohn commented on #5670
@nitisht Unfortunately no, I actually linked that above.  The problem here is that Amazon SQS and SNS (which are official s3 bucket notification targets) are not supported by Minio, only the follow are supported:

<img width="922" alt="screen shot 2018-03-19 at 4 21 22 pm" src="https://user-images.githubusercontent.com/401520/37623132-9eba08ac-2b91-11e8-9708-b6babf7992ab.png">

[2018-03-19 21:37] dragon2611 commented on #5472
Was hoping to install the Minio Snap on the same machine as nextcloud so I could use an S3 client to upload instead of webdav/nextcloud since NC tends to choke on larger files.

I plugged mount-observe and also removeable-media

Same error as original poster, but I'm on 17.10
[code]

[code]
[code]

[2018-03-19 21:40] dragon2611 opened #5674 "Please re-open #5472 - Snap produces `relocation error`"
I've already posted details in #5472 but I believe the issue referenced there occurs in ubuntu 17.10 as well.

[2018-03-19 21:46] harshavardhana commented on #5674
We have no idea why snap produces this error, we are probably going to remove the reference since we never test on snap.

[2018-03-19 21:50] dragon2611 commented on #5674
Fair enough it's not exactly difficult to install minio manually, it's just as I already had a snap on there for nextcloud I figured that was the easiest way to go

[2018-03-19 21:51] harshavardhana commented on #5670
@jondavidjohn how would we support them? are you saying that Amazon SQS accepts arbitrary connections from external services which support the event info structure? can you provide an example?

[2018-03-19 21:57] dragon2611 opened #5675 "Docs: Erasure-code quickstart"
Not sure if this is the right project for raising issues with documentation, I'd suggest an edit to the doc directly but I wouldn't want to edit in incorrect info

https://docs.minio.io/docs/minio-erasure-code-quickstart-guide doesn't make any reference to the minimum or maximum number of drives for erasure code.  (I'm pretty sure it did at one point)

https://docs.minio.io/docs/distributed-minio-

[2018-03-19 21:59] harshavardhana commented on #5675
these docs are correct @dragon2611 there needs to be a reference to new doc describing how to use beyond 16 disks on a regular setup https://docs.minio.io/docs/minio-large-bucket-support-quickstart-guide

[2018-03-19 22:16] phyrexian commented on #5670
Are these not already available via the Webhooks handler?

SQS:
https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_ReceiveMessage.html

(see the documentation example at the bottom)

[2018-03-19 22:17] jondavidjohn commented on #5670
Amazon SQS is just a managed queueing service and can be used however the implementor sees fit.  My thinking is that Minio could simply mimic the S3 event behavior and structure, in the same way that it mimics other S3 APIs.

https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-send-message.html

[2018-03-19 22:19] jondavidjohn commented on #5670
@phyrexian Ah, That could be a way to accomplish it today.  Though it seems like first class support for these services might be nice.  Thanks for the tip 👍

I'll need to look into whether or not the webhook payload and structure would match the "native" S3 -> SQS structure and behavior.

[2018-03-19 22:24] harshavardhana commented on #5670
Minio already generates that while sending them to currently available targets, each target converts them in how they see fit to their native format.  As @phyrexian suggested webhooks would require your own way of doing this.

First class support would be complicated to setup @jondavidjohn since the logic of ARN which has a region associated with the SQS v/s the Minio deployment would confuse the

[2018-03-19 22:27] jondavidjohn commented on #5670
@harshavardhana Great, thanks for taking a look

[2018-03-19 22:33] djanjic commented on #5670
Webhook is not working with SQS. AWS SQS expects url encoded data and Minio uses JSON.

[2018-03-19 22:45] harshavardhana commented on #5670
It won't work directly you will have to write a translation layer in your webhook handler @djanjic

[2018-03-20 04:03] #5674 closed, assigned to nobody

[2018-03-20 04:55] nitisht commented on #5675
PR Sent https://github.com/minio/minio/pull/5677

[2018-03-20 12:51] brauliobo opened #5679 "500 errors after scaling up application"
I have to limit the scaling up of the application otherwise I keep getting a lot of the errors below:
[code]
It would be nice to have more information so that I could debug and fix the issue as the way it is I have no idea of what's is going on.

[2018-03-20 14:50] brauliobo commented on #5679
The logs show the `Disk quota exceed` and that is explained at https://docs.aws.amazon.com/efs/latest/ug/troubleshooting.html#troubleshooting-efs-fileop-errors

[2018-03-20 15:16] #5679 closed, assigned to nobody

[2018-03-20 22:25] curantes commented on #5402
@harshavardhana yes I can close. Thanks

[2018-03-20 22:25] #5402 closed, assigned to nitisht

[2018-03-20 22:26] curantes commented on #5408
@harshavardhana yes I will close this.

[2018-03-20 22:26] #5408 closed, assigned to krisis

[2018-03-20 23:30] deekoder commented on #5642
@FilipFrancis I will go ahead and close as won't fix as we have not the bandwidth to test it on Illumos/Solaris platforms at this moment.

[2018-03-20 23:30] #5642 closed, assigned to nobody

[2018-03-21 12:25] cmdelatorre commented on #1025
I'm struggling with the same issue and now I found this. Is it possible that the link
* https://github.com/minio/minio#how-to-use-aws-cli-with-minio

chaged to:

* https://docs.minio.io/docs/aws-cli-with-minio ?

[2018-03-21 17:41] deekoder commented on #5205
Since this is by design, I will close this issue as working as intended.  @tomcsi please see our guide on scaling https://docs.minio.io/docs/minio-deployment-quickstart-guide

[2018-03-21 17:41] #5205 closed, assigned to fwessels

[2018-03-21 19:44] kaankabalak opened #5682 "Scroll doesn't work on the list of buckets in New UX"
## Expected Behavior

Scroll functionality should work for the list of buckets.

## Current Behavior

In New UX, the scroll functionality doesn't work for the list of buckets. We can't access the buckets listed beyond the elements seen in the screenshot below:

<img width="1276" alt="screen shot 2018-03-21 at 12 40 57 pm" src="https://user-images.githubusercontent.com/27314853/37733500-7b1ff97c-2d

[2018-03-21 20:24] ckesselh commented on #4124
@deekoder my company's interested in funding the development of this gateway. Who's the right person to talk to about this, then?

[2018-03-21 20:39] harshavardhana commented on #4124
hadoop already has s3a plugin, can you explain a bit more about how `minio gateway` will help?

[2018-03-21 21:06] taisph commented on #5080
We mount a number of local folders inside the minio container during development to mimic a production environment with proper single filesystem storage. This check now prevents us from doing that.

Ie. docker-compose.yml volumes:
[code]

[2018-03-21 21:19] harshavardhana commented on #5080
Yes, it is expected @taisph renames don't work across devices, we do not support this use case.

[2018-03-21 21:28] taisph commented on #5080
@harshavardhana I understand why you want this in production environments. It makes complete sense. But it kills minio for us in development where we need to test that various services can talk to minio and retrieve files. Would you consider a "i-know-what-im-doing" switch to allow minio to run anyway after throwing a big fat warning?

[2018-03-21 21:36] harshavardhana commented on #5080
We cannot just turn it on and off - here is a more technical explanation. Renames are integral to Minio we leverage the atomicity of renames in our codebase. It provides protection against accidental deletions, namespace corruptions, makes the server more responsive under concurrent environments. It is our design philosophy that we need to provide strict consistency i.e read-after-write.

If we re

[2018-03-21 23:16] krishnasrinivas commented on #5080
@taisph just curious, in the "test" environment do you upload files to minio?

[2018-03-22 00:46] kaankabalak opened #5683 "Guest viewing bucket with Read and Write policy can't delete an object"
## Expected Behavior

Guests should be able to delete objects from buckets that have the Read and Write policy.

## Current Behavior

When a guest (non-logged-in user) is viewing a bucket that has Read and Write policy, they can't delete an object from the bucket. When they try to delete an object, they receive a message saying "Authentication failed, please check your access credentials"

<img wi

[2018-03-22 01:34] kannappanr commented on #4658
Closing this issue. Will reopen it if we see that the issue is still not fixed.

[2018-03-22 01:34] #4658 closed, assigned to harshavardhana

[2018-03-22 09:07] ckesselh commented on #4124
My client already has a Hortonworks/Hadoop stack which they currently host on-premise. Now they want an object storage to use for uploading files from/downloading files to some of their Angular front-ends and for exchanging them with outside parties (which don't have access to the environment running Hadoop).

They prefer to go with Minio instead of WebHFDS because the former provides them with an

[2018-03-22 09:10] harshavardhana commented on #4124
We will get back to you on this topic @ckesselh - thanks for providing us the details.

[2018-03-22 11:40] nitisht commented on #5670
Closing this as answered @jondavidjohn , feel free to reopen if you have further questions

[2018-03-22 11:40] #5670 closed, assigned to nitisht

[2018-03-22 17:32] tusbar opened #5687 "Multipart uploads do not return complete Location url, but only a path"
## Expected Behavior

I am using aws-sdk for JavaScript to upload some files using `s3.upload()`, which handles multipart, if needed.

Whenever the upload is multipart, the `Location` returned is not a fully qualified URL, but just a path to the file in the bucket.

## Current Behavior
Simple PutObject result:
[code]

(The lowercase `key` is added by `aws-sdk` with a nice `// will stay undocumente

[2018-03-22 20:59] kaankabalak opened #5689 "Center text on New UX Alert component"
## Expected Behavior

The text on the Alert component should be centered

## Current Behavior

The text on the Alert component is currently left justified. Please see image below for reference.

<img width="1280" alt="screen shot 2018-03-22 at 1 33 06 pm" src="https://user-images.githubusercontent.com/27314853/37797815-203c33da-2dd8-11e8-90e3-ff697ff15632.png">

## Possible Solution

We can add `t

[2018-03-22 21:52] kaankabalak opened #5690 "Change styling and prevent clipping of Abort Upload button in New UX"
## Expected Behavior

The color scheme of the Abort Upload button should be changed to look coherent with the background color of the popup, the inner shadow should be removed for the "X", and the clippings at the top and the right side of the button seen on some screens should be fixed. Also, the right side of the Upload Modal can be made less cluttered.

## Current Behavior

The Abort Upload but

[2018-03-22 22:31] kaankabalak opened #5691 "Change "Upload" to "Continue" on New UX Abort Upload Modal"
## Expected Behavior

When the user wants to cancel an upload, the options that they see on the Abort Upload Modal should be "Abort" and "Continue", as the current upload continues when the user selects the current "Upload" option.

## Current Behavior

When the user wants to cancel an upload, the options that they see on the Abort Upload Modal currently are "Abort" and "Upload".

<img width="400"

[2018-03-22 22:42] kannappanr commented on #5687
Thanks for filing the issue @tusbar. A PR has been sent with your suggested fix.

[2018-03-22 22:57] kaankabalak opened #5693 "Update New UX favicon with the new logo and make its background transparent"
## Expected Behavior

The favicon should have a higher resolution than the current one and its background should be transparent. It should be like the one shown below, but for the new Minio logo:

<img width="132" alt="screen shot 2018-03-22 at 3 50 42 pm" src="https://user-images.githubusercontent.com/27314853/37802706-cf8a76de-2de8-11e8-82f9-b6001478ede6.png">

## Current Behavior

The current f

[2018-03-23 04:01] kaankabalak opened #5695 "When bucket name exceeds sidebar width, it overflows instead of continuing onto the next line"
## Expected Behavior

When the bucket name exceeds the width of the sidebar, it should continue onto the next line, like the old version of the UX.

<img width="319" alt="screen shot 2018-03-22 at 8 43 29 pm" src="https://user-images.githubusercontent.com/27314853/37810691-d09b4a2e-2e12-11e8-86d8-923ec9d4b081.png">

## Current Behavior

When the bucket name is long, it overflows and the part that

[2018-03-23 06:49] #5689 closed, assigned to kaankabalak

[2018-03-23 06:50] nitisht commented on #5695
Fixed by https://github.com/minio/minio/pull/5694

[2018-03-23 06:50] #5695 closed, assigned to kaankabalak

[2018-03-23 07:34] #5690 closed, assigned to nobody

[2018-03-23 07:52] #5691 closed, assigned to kaankabalak

[2018-03-23 08:51] tusbar commented on #5687
Didn’t expect the fix to be this simple. 😂

[2018-03-23 09:03] #5693 closed, assigned to belvid

[2018-03-23 09:03] #5682 closed, assigned to kmkanagaraj

[2018-03-23 13:38] sblaisot opened #5700 "Unable to replace a lost node without downtime"
I'm trying, on a testing minio cluster with 4 nodes (1 disk each) to drop a node, replace it, and recover to nominal state without downtime.
I can't achieve this, either due to a bug or a lack of documentation.

## Expected Behavior
node fails and gets replaced.
Run Heal on new node which replaces the failed node
Whole cluster (each node) becomes stable in nominal state

## Current Behavior
node f

[2018-03-23 14:43] sblaisot commented on #5700
I also see this log entries on node minio-01 when issuing `mc admin info minio-01`:
[code]

[2018-03-23 18:21] aaronovz1 opened #5702 "C/C++ bindings"
Is there any roadmap for providing a C or C++ binding for the Minio SDK?

[2018-03-23 18:24] harshavardhana commented on #5702
@aaronovz1 currently no, our recommendation is AWS SDK https://github.com/aws/aws-sdk-cpp

[2018-03-23 18:27] aaronovz1 commented on #5702
I was actually trying to get away from using the AWS SDK, but are you suggesting that the AWS SDK will work for Minio as well? Basically I am trying to avoid vendor lock-in.

[2018-03-23 18:30] #5022 closed, assigned to nitisht

[2018-03-23 18:33] harshavardhana commented on #5702
Of course, all AWS SDKs will work with Minio. @aaronovz1

[2018-03-23 18:36] aaronovz1 commented on #5702
Oh ok great!

[2018-03-23 18:36] #5702 closed, assigned to nobody

[2018-03-23 20:46] #5687 closed, assigned to kannappanr

[2018-03-24 00:28] kannappanr commented on #5630
@beeth0ven Here is what I get with AWS
[code]

Here is what I am getting with minio

[code]

I am getting failures with both AWS S3 and minio. `x-amz-acl` is part of the URL query string, it should be part of the http header.

[2018-03-24 08:22] rushenn opened #5703 "Redesign Minio demo server(play.minio.io) landing page"
As we have a new UI for Minio Browser, it is better to redesign the landing page of the demo server (play.minio.io) in order to make it look consistent across.

## Expected Behavior
New design should match the Browser UI. It should also uses the same design elements such as fonts, colors etc.

## Current Behavior
Currently the landing page uses the design element of previous Browser UI. It also lo

[2018-03-26 04:05] GeoffreyBooth opened #5706 "Ignore unsupported object ACL header?"
I’m trying to use Minio to emulate S3 for an application I’m developing. My app uses a library to upload files/put objects into S3, and I don’t have much control over it. Unfortunately it applies an object-level ACL to every file uploaded, which I know Minio doesn’t support (#4496).

My issue is that Minio returns a 501 error, `A header you provided implies functionality that is not implemented`,

[2018-03-26 04:49] harshavardhana commented on #5706
We will have to discuss this since ignoring it would mean that we are falsely representing the API and behavior. IMO we should avoid doing such things as it might provide a false representation of API for applications and even cause them to expect a certain type of behavior which will be fake.

Please do let us know what is the library you are using we can recommend changes, ACL is considered lega

[2018-03-26 04:58] GeoffreyBooth commented on #5706
I know, I’ve investigated patching it but unfortunately I haven’t been able to. It’s a closed-source proprietary app called [OpenText Media Management](https://www.opentext.com/what-we-do/products/customer-experience-management/digital-asset-management/opentext-media-management). They only just added S3 support a few months ago, and yes, they’re using this deprecated API. That pretty much tells yo

[2018-03-26 05:10] harshavardhana commented on #5706
Will let you know we can perhaps provide an unsafe mode @GeoffreyBooth

[2018-03-26 06:18] beeth0ven commented on #5630
@kannappanr Thanks for the great work!

I'm not sure why AWS get the 'SignatureDoesNotMatch' response here, it works well when i'm testing it.

Finally i switch to the approach official tutorial shows: [Upload files from browser using pre-signed URLs](https://docs.minio.io/docs/upload-files-from-browser-using-pre-signed-urls).

So if someone face the same issue, i'm suggesting to use the official

[2018-03-26 06:34] kannappanr commented on #5630
@beeth0ven thanks for getting back. Closing the issue based on your comments. Please feel free to open a new issue if you see any bugs.

[2018-03-26 06:34] #5630 closed, assigned to kannappanr

[2018-03-26 08:33] martinmoerch opened #5708 "Distributed minio fails to heal drives after complete data loss of 2 of 4 drives"
Similar to #5659, we're seeing an issue when trying out a test scenario, simulating failure of 2 of 4 drives in distributed minio, where heal never completes successfully.

## Expected Behavior
Verify parity and integrity of all objects in all buckets and recreate parity as needed.

## Current Behavior
-Before heal-
`mc admin info` reports 2 online, 2 offline: https://pastebin.com/raw/vW0MYdyK

-A

[2018-03-26 10:51] taisph commented on #5080
@krishnasrinivas Not currently.

Just to clarify: We have a number of services that expect to pull certain required files using Minio/S3 when they run in production. In order to make development as frictionless as possible for all team members while keeping close to the production environment, we mount the local folders with the required files as shared folders into the minio docker container, so

[2018-03-26 13:11] mlschuh opened #5710 "How to see access error logs within Docker"
I'm trying to diagnose a presigned URL problem and it would be great to see the error logs from minio. Reviewing all of the issues here show that the logging is in a state of flux so it's rather confusing to know what I have to do to view them. What is it that I need to do to view the errors?

Running inside docker swarm with the official minio image `minio/minio:RELEASE.2018-03-19T19-22-06Z`

[2018-03-26 14:30] cooperaj opened #5712 "Empty folder in web ui and via 'mc ls', logs report unable to fetch object info"
## Expected Behavior
Viewing a bucket/folder in the web UI or via 'mc ls' should show all the files that I know to be in that folder.

## Current Behavior
View two of the larger folders on my minio instance (not even that large, just a gig or so of data) shows no contents. The folders the minio instance is mounted onto show the files as expected. The logs report

[code]

## Possible Solution
I rem

[2018-03-26 14:46] nitisht commented on #5710
@mlschuh you can use the `MINIO_HTTP_TRACE` environment variable and pass the location where you want to save the log. Later you can retrieve the file from the container from given path.

Here is a sample:

[code]

Here, the logs will be stored in `/tmp/minio.log`

[2018-03-26 14:51] mlschuh commented on #5710
That is perfect! Thanks!

[2018-03-26 14:51] mlschuh commented on #5710
(oopsie, didn't mean to close)

[2018-03-26 15:12] nitisht commented on #5710
Great! Closing this as answered @mlschuh . Feel free to reach out on slack : https://minio.slack.com for further queries.

[2018-03-26 15:12] #5710 closed, assigned to nitisht

[2018-03-26 15:42] gmile opened #5713 "df and minio space reports are different"
## Expected Behavior

Minio is reporting the same space stats as `df`.

## Current Behavior

Minio is reporting the space stats different to what is seen from `df`.

## Steps to Reproduce (for bugs)

1. Run `df`, see the output, note the `/minio`,

[code]

2. Go to minio dashboard, note the free space:

    ![image 4](https://user-images.githubusercontent.com/207112/37916580-de406a78-3124-11e8-9e3

[2018-03-26 15:43] gmile commented on #5713
I have access to the server minio is running on. What can I do to further diagnose this?

[2018-03-26 15:49] harshavardhana commented on #5713
The reported numbers are correct `df -h` rounds them up to upper value.

[2018-03-26 15:53] gmile commented on #5713
@harshavardhana ugh, you're totally right! Thank you!

[2018-03-26 15:53] #5713 closed, assigned to harshavardhana

[2018-03-26 23:00] kaankabalak opened #5717 "Very rare instance of not being able to remove bucket policy and same policy persisting even when the bucket was deleted and recreated"
## Expected Behavior

The user should be able to remove bucket policies and the same policy should not appear when the user deletes the bucket that the policy has been set in.

## Current Behavior

On a very rare instance, for a small set of buckets where the bucket policy was set earlier, I couldn't remove bucket policy (I got an error while trying to remove it) and the same policy was still ther

[2018-03-26 23:39] #5535 closed, assigned to nitisht

[2018-03-27 04:52] harshavardhana commented on #5708
This issue is not fixed correctly yet, re-opening.

[2018-03-27 04:52] harshavardhana commented on #5700
This issue is not fixed correctly yet, re-opening.

[2018-03-27 12:43] Giangblackk opened #5719 "Missing 'ETag' key/value of awscli"
I'm trying to using `Dask` to connect to Minio Storage Server instead of AWS S3 bucket:
[code]
But I got the error:
[code]

After debugging, I found that when using function `head_object` from `awscli` library, the response of Minio is different from AWS S3 response:
- Minio Code:
[code]
and get response:
[code]
- AWS S3 code:
[code]
and get response:
[code]

There are missing `ETag` in `Minio` re

[2018-03-27 13:55] impathan opened #5720 "Object is not decrypted using AmazonS3EncryptionClient"
I am using AmazonS3EncryptionClient to encrypt my object on minio server

Here is my code:
`Aes aesAlgorithm = Aes.Create();
            aesAlgorithm.Key = File.ReadAllBytes(@"d:tempSymmetricKey.txt");

            EncryptionMaterials encryptionMaterials = new EncryptionMaterials(aesAlgorithm);
            AmazonS3CryptoConfiguration config = new AmazonS3CryptoConfiguration()
            {

[2018-03-27 15:04] vadmeste commented on #5720
@impathan, can you test with AWS S3 first? Client side encryption doesn't require any special behavior to be done in Minio server

[2018-03-27 16:51] harshavardhana commented on #5719
Did you upload the object through API ? Or were you directly using it from the disk like an existing file ?

[2018-03-27 17:36] Giangblackk commented on #5719
Oh, That's true. The object that I tested already existed before I started `Minio` Server.

I've tried on an object uploaded through API and it worked perfectly.
I close this issue.
Thank you for your support.

[2018-03-27 17:36] #5719 closed, assigned to nobody

[2018-03-28 00:24] harshavardhana commented on #5717
isn't this issue same as https://github.com/minio/minio/issues/4498

[2018-03-28 00:47] kaankabalak commented on #5717
I don't think this is the same issue, as we changed that part of the code for the New UX on #5580. Also I was switching between the newux branch with the new design that was pushed to master and the branch where we reverted the changes, so it probably isn't the case that the old code caused the bug here. Additionally, on #4498, we were able to temporarily remove the existing bucket policies via th

[2018-03-28 01:11] #5708 closed, assigned to harshavardhana

[2018-03-28 01:12] nitisht commented on #5700
@sblaisot the fix is now merged onto the master, could you give it a try and let us know how it goes

[2018-03-28 01:13] nitisht commented on #5708
@martinmoerch the fix is now merged onto the master, could you give it a try and let us know how it goes

[2018-03-28 05:55] JuniorDev4Lyf opened #5722 "Option to set/edit metadata for files in minio browser"
It would be great if minio browser had an option to set metadata properties for a particular file inside the minio storage tree. AWS S3 has this feature and its very handy sometimes.

[2018-03-28 06:28] impathan commented on #5720
Thanks,

Obviously, It should work with AWS S3 as its provided by Amazon AWS SDK

[https://aws.amazon.com/blogs/developer/client-side-data-encryption-with-aws-sdk-for-net-and-amazon-s3/](https://aws.amazon.com/blogs/developer/client-side-data-encryption-with-aws-sdk-for-net-and-amazon-s3/)

I will test Minio's server-side-encryption with aws-cli.
[https://docs.minio.io/docs/how-to-use-minio-s-serv

[2018-03-28 07:15] harshavardhana opened #5723 "Implement unauthenticated endpoints for server metrics"
** not using template style **
Requirements are to implement un-authenticated endpoints which can serve system-level information about the server performance etc. Currently, this requires access/secret keys to be provided to a third-party such software such as `Prometheus` should be avoided.

- Network statistics
- API latency statistics
- Total number of APIs
- Overall memory usage graph

https:/

[2018-03-28 12:18] martinmoerch commented on #5708
@nitisht Oh snap, it worked perfectly! Thanks for the quick fix everyone.

[2018-03-28 12:29] nneul opened #5724 "Modify --quiet to output a final "server is ready" message _IF_ if output any other messages"
Currently, --quiet will show a few waiting messages during startup if it's waiting for other nodes/disks, but there is no clear indication that it stopped and is fully started.

I'd like to see --quiet operate in a "if no special messages were output, don't say anything", but if it started showing any status messages like that, it should say something to indicate that it's done/recovered/operation

[2018-03-28 13:00] vadmeste commented on #5720
I tested this code and you are right.. There is a bug somewhere.. Investigating..

[2018-03-28 13:05] nitisht commented on #5708
awesome!

[2018-03-28 13:52] vadmeste commented on #5720
@impathan this is most likely a bug in AWS .NET not knowing that header names are case insensitive as HTTP RFC says. In general, a patch is sent & accepted in AWS .NET in similar cases.

[2018-03-28 14:37] magaldima opened #5725 "Server Start-up: Unable to create configuration directories"
## Expected Behavior
Minio server starts up fine. I recently updated Minikube from v0.25.0 -> v0.25.2. Previously, the minio server started up fine.

## Current Behavior
Ran `helm install stable/minio` and the server logs look like this:
[code]

## Steps to Reproduce (for bugs)
1. Install and run Minikube v0.25.2
2. `helm init`
3. `helm install stable/minio`

## Context
Trying to run minio server

[2018-03-28 14:43] nitisht commented on #5725
@magaldima this is actually related to https://github.com/kubernetes/charts/pull/4281

The fix is merged now, can you please use Helm chart version `1.0.0` and try again

[2018-03-28 15:24] magaldima commented on #5725
I updated the helm chart to `1.0.0` using:
1. `helm repo update`
2. `helm install stable/minio`

However, now I see the following error during container creation:
`Error: failed to prepare subPath for volumeMount "minio-server-config" of container "minio"`. The pod has status: `Waiting: CreateContainerConfigError`

I see the following events from the pod:
[code]

[2018-03-28 15:51] nitisht commented on #5725
Thanks @magaldima let me reproduce this locally and get back to you

[2018-03-28 15:52] magaldima commented on #5725
After some investigations, I found that the latest `Minikube v0.25.2` installs by default the latest version of `Kubernetes v1.9.4`. The above error of installing the minio helm chart occurred on this version of kubernetes. However, after deleting minikube and starting it up with `Kubernetes v1.9.0`, the helm installation of the minio chart succeeds.

Steps:
1. Stop & delete minikube instance: `mi

[2018-03-28 15:56] nitisht commented on #5725
Thanks for the info @magaldima , I will investigate on `1.9.4`

[2018-03-28 15:57] magaldima commented on #5725
This may be due to this: https://github.com/kubernetes/kubernetes/issues/60813 or this: https://github.com/kubernetes/kubernetes/issues/60814

Here's the one: https://github.com/kubernetes/kubernetes/issues/61076

[2018-03-28 17:04] tpoxa opened #5726 "Does Minio support Metadata for Presigned PutObjectRequest ?"
Hello.

Minio sends 400 when I am trying to PUT data on presigned url.

[code]

[code]

When I cut off Metadata everything works fine...

Thanks in advance.

[2018-03-28 17:16] harshavardhana commented on #5726
looks like you haven't posted the code how are you using the presigned request? when you have generated pre-signed URL with the metadata you are supposed to set them as part of the HTTP header.  are you doing that on the client side?

[2018-03-28 17:33] tpoxa commented on #5726
Thank you @harshavardhana for quick response.
No I just sending put request on signed url.

[code]

Ah, I get it, so for my upload request I need to provide header named *x-amz-meta-event* with actual value, right?

[2018-03-28 17:42] tpoxa commented on #5726
I tried it, but now I get 403

Request headers are these
[code]

[2018-03-28 17:46] harshavardhana commented on #5726
@tpoxa the event id same as in your example?

[2018-03-28 17:47] tpoxa commented on #5726
@harshavardhana  yes, its 4

[2018-03-28 17:50] nitisht commented on #5725
In that case, looks like the fix should be available in https://github.com/kubernetes/kubernetes/releases/tag/v1.9.5

is it possible for you to confirm?

[2018-03-28 17:56] harshavardhana commented on #5726
This should work fine will check and let you know.

[2018-03-28 17:58] tpoxa commented on #5726
@harshavardhana thank you,
I can provide any additional information

[2018-03-28 18:00] tpoxa commented on #5726
Response headers
[code]

[2018-03-28 18:15] tpoxa commented on #5726
@harshavardhana I am using traefik as a proxy server, maybe it cuts header, checking, sorry

[2018-03-28 18:18] harshavardhana commented on #5726
can you directly use without the proxy?

[2018-03-28 18:28] magaldima opened #5727 "Fail to delete Bucket Notifications"
## Expected Behavior

bucket notifications are removed after using either the `mc` or the `go-client` to remove them.

## Current Behavior

I am experiencing this failure to delete bucket notifications for 2 minio clients: `mc` and `client-go`. Both give the same error response:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Install latest minio helm chart (v1.0.0): `helm insta

[2018-03-28 18:31] ebozduman opened #5728 "Handle 'panic()' calls in our code and replace them with 'logger.FatalIf()'"
There are `panic()` calls in several places in the code which does not log in our new standard logging format.
With the new `logger` package approach, we do have `logger.FatalIf()` function to do the same or similar job. So, we need  to replace all `panic()` calls with `logger.FatalIf()` calls.
## Expected Behavior
All error conditions, including `panic()` errors, we have to use our new `logger` p

[2018-03-28 18:31] harshavardhana commented on #5727
we fixed this in master @magaldima will be making a new release, its a regression. c726145baf121ed4cccef5d4ddf622890e56bf4f

[2018-03-28 18:45] tpoxa commented on #5726
@harshavardhana
I did it, with no luck

**General**
[code]

**Response headers**

[code]

**Request headers**
[code]

[2018-03-28 18:57] tpoxa commented on #5726
So yes, as soon as I provide  value for signed header then response status code changes from 400 to 403

[2018-03-28 21:14] #4026 closed, assigned to poornas

[2018-03-28 21:51] aead commented on #5728
Just replacing `panic()` calls in our code is not sufficient. Also third-party code and the standard library panics in many cases which would also violate our logging format. In general code **should** `panic` if it detects misuse that indicates a logical error: like an out-of-bound read/write or copying where destination is smaller than the source a.s.o.

IMO the correct way to handle this is to

[2018-03-28 22:43] magaldima commented on #5725
yes, the problem is minikube only supports kubernetes <1.9.4. https://github.com/kubernetes/minikube/issues/2642

so I can't confirm until I can actually run that version of Kubernetes.

[2018-03-29 03:15] harshavardhana commented on #5727
We made a release can you verify if this is fixed for you @magaldima ?

[2018-03-29 03:57] balamurugana commented on #5728
Agreed with @aead

`panic()` is done deliberately (on packages) so that consumer can  fail or `recover()`.  `logger.Fatalf()` is not a replacement for this (unless it `panic()` inside `logger.Fatalif()`

[2018-03-29 08:12] Vesnica opened #5733 "Objects which lost majority should be removed in the object list"
## Steps to Reproduce

1. Create a 3X2 cluster (3 nodes, 2 disks each)
2. Create test bucket and upload some folder and files to it
3. `mc ls --recursive local/test | wc -l` gives consistent result
4. On 1 node, execute`rm -rf` to remove 1 folder from 2 disks
5. `mc ls --recursive local/test | wc -l` still gives the consistent result
6. `mc cp --recursive local/test/removed_folder .` can download

[2018-03-29 08:24] harshavardhana commented on #5733
can you provide the partial output that you see would like to see what is being listed we fixed this in

[code]

[2018-03-29 08:41] Vesnica commented on #5733
I create a registry which mounts on minio and then pushes 2 images to it:
[code]
Then I remove the cuda folder from 4 disks which on 2 nodes:
[code]
I can still see the cuda folder by `mc ls`:
[code]
And even some sub-folders in cuda:
[code]
But it fails (after a long timeout waiting) when I try to access the final object:
[code]
What I expect to see is like this:
[code]

[2018-03-29 08:42] whisper-bye commented on #5725
+1
I have the same problem as you

[2018-03-29 10:24] harshavardhana commented on #5733
Folders are replicated across all servers @Vesnica its only objects which can indicate to us that they have lost quorum, so perhaps that is the reason you might still see these directories. But do they cause issues to docker registry? if yes in what way can you explain?

This is because `mc ls` is retrying for the reply from the server i.e HTTP StatusCode 503 (quorum loss) so it is an expected beh

[2018-03-29 10:27] magaldima commented on #5727
Sure

[2018-03-29 10:28] harshavardhana commented on #5725
isn't using kubernetes 1.9.0 not an option? @magaldima @whisper-bye

[2018-03-29 16:38] daily754 opened #5736 "minio update - "storageclass" data not transferred into new config.json file"
after performing "minio update", "storageclass" data is not transferred into new config.json file

## Expected Behavior

Before update:
"storageclass": {
                "standard": "EC:4",
                "rrs": "EC:4"
}
After update:
"storageclass": {
                "standard": "",
                "rrs": ""

Expected behaviour:    information should be the same before and after update

## Curre

[2018-03-29 18:23] tpoxa commented on #5726
Sorry, my bad :(

code should be
[code]

[2018-03-29 18:23] #5726 closed, assigned to nobody

[2018-03-29 19:19] deekoder commented on #5727
Fixed in master. Closing. @magaldima please reopen this issue if you find that we have not fixed it.

[2018-03-29 19:19] #5727 closed, assigned to nobody

[2018-03-29 20:21] #5736 closed, assigned to nitisht

[2018-03-30 02:01] Vesnica commented on #5733
After some test, I found that include the problematic objects in the list will render docker registry unusable (not only the garbage collection), here is the reproduce steps:

1. Recreate the same minio cluster and registry
2. Push 2 images to the registry
3. Registry's list image api working properly:

[code]
4. On 2 nodes, use `rm` to remove the cockroachdb repo folder:
[code]
5. Registry's list

[2018-03-30 02:19] Vesnica commented on #5733
My point is: minio should only expose those currently available objects to the user, otherwise the user will have to do error checking and exception handling before using each object, which is sometimes difficult to achieve.

[2018-03-30 02:33] whisper-bye commented on #5725
@harshavardhana
yes, but another problems occur... [kubernetes/minikube#2570](https://github.com/kubernetes/minikube/issues/2570)

[2018-03-30 04:58] solsson opened #5738 "Rack awareness, replication across availability zones"
Can minio instances be started with an arg/env that identifies the availability zone, so that replication spans as many zones as possible?

## Expected Behavior
In a multi-zone cluster at for example Google or AWS, a minio cluster spanning multiple availability zones in the same region should replicate across zones as much as possible.

For example with 6 instances across 3 zones and standard clas

[2018-03-30 07:57] krisis opened #5739 "Improve disk-caching document based on feedback from Slack"
[ Not using Issue template since it's not useful in this case ]

- [x] Clarify usage of terms like cache-directories v/s cache-drives (Usage of drives suggests that it doesn't require a filesystem on top)
- [x] What happens to data in cache directories when minio cache server is restarted?

Thanks, @vRobM for suggesting these improvements.

[2018-03-30 12:22] aead commented on #5723
What about a token-based approach?

[2018-03-30 17:28] nitisht opened #5741 "Error stack trace prints q container path"
## Expected Behavior
Error stack trace shouldn't print `GOPATH`

## Current Behavior
Error stack trace prints compile time `GOPATH`. e.g.

[code]

## Possible Solution
Truncate to display only the filename and line number.

## Steps to Reproduce (for bugs)
Run latest Minio server release

## Context
Logging improvement discussion with @abperiasamy