[2018-11-12 11:17] vadmeste commented on #5199
This feature is recently added, please take a look here https://docs.minio.io/docs/minio-multi-user-quickstart-guide.html

[2018-11-12 13:41] ghost opened #6799 "put a file, can not return."
[code]

docker logs -f minio1
[code]

[code]

[2018-11-12 14:15] harshavardhana commented on #6799
You mean to say return success ?

[2018-11-12 14:17] ghost commented on #6799
first PutObject success, second PutObject failure.

[2018-11-12 14:21] harshavardhana commented on #6799
It is expected you already have a prefix(directory) which exists. We cannot allow conflicting directory and object on the same namespace.

Minio uses filesystem namespace so it is not allowed to have a dir1 as directory and dir1 as a file . It is also incorrect and unnecessary to create objects in this manner to expect conflicting namespace entries.

So choose a different object name say dir2 it w

[2018-11-12 14:39] ghost commented on #6799
ok, I understand, thanks.

[2018-11-12 14:40] #6799 closed, assigned to nobody

[2018-11-12 16:30] kannappanr commented on #6781
@selelu Can you please let us know if you got a chance to look at the above comment ?

[2018-11-12 16:37] kannappanr commented on #6778
@pwagland Thanks for filing this issue. We will try to fix this issue as soon as possible.

[2018-11-12 22:28] kannappanr opened #6801 "Display fingerprint of cert's publickey during startup"
*** Not using standard template ***
This is a new feature. In the case of TLS, we will display the sha256 of the publickey in the cert during startup. The expectation is that this value will match the one displayed using `openssl`

`openssl x509 -noout -fingerprint -sha256 -inform pem -in [certificate-file.crt]`

## Context
This is required to support the issues in `mc` https://github.com/minio/mc

[2018-11-12 23:24] selelu commented on #6781
Hi @harshavardhana and @kannappanr and sorry for the delayed response. I'm sorry, this was absolutely my fault. Obviously i missed reading the API documentation properly. I intuitively assumed that the stream is opened only when S3Object#getObjectContent is called. Thanks a lot for clearifying and the code sample @harshavardhana. In my case using AmazonS3#getObjectMetadata did the trick, since thi

[2018-11-12 23:27] kannappanr commented on #6781
@selelu No Problem. Will close this issue as resolved.

[2018-11-12 23:27] #6781 closed, assigned to nobody

[2018-11-13 00:28] kannappanr commented on #6792
@ssshake Will close this as answered. Please feel free to contact us if you have more questions.

[2018-11-13 00:28] #6792 closed, assigned to nobody

[2018-11-13 00:30] kannappanr commented on #6795
@bupy7 Closing this issue as answered. Please feel free to contact us if you have further questions.

[2018-11-13 00:30] #6795 closed, assigned to nobody

[2018-11-13 00:33] flik opened #6803 "minio1_1 | ERROR Invalid command line arguments: use path style endpoint for FS setup."
## Expected Behavior
It should work

## Current Behavior
minio1_1      | ERROR Invalid command line arguments: use path style endpoint for FS setup.

## Possible Solution

## Steps to Reproduce (for bugs)
Run the command: docker-compose up -d
then check logs: docker-compose logs

minio1_1      | ERROR Invalid command line arguments: use path style endpoint for FS setup.
minio1_1      |       > Ple

[2018-11-13 00:46] kannappanr commented on #6803
@flik You probably are using `URL type endpoint` like

`minio server http://127.0.0.1:9000/tmp/b`

You will have to do something like

`minio server /data/dir`

[2018-11-13 08:07] biplabbh opened #6805 "Format issue of the uploaded file"
## Expected Behavior
 The uploaded files (image,video etc.) should be downloaded as specified format like jpg/png/jpeg/wmv etc.

## Current Behavior
I have been successful to upload image and videos from android clients. But the uploaded contents I see in the minio client are in a different generalized format. I am providing a screenshot of the minio client.

## Possible Solution
Need to get the e

[2018-11-13 13:13] ccpu opened #6806 "Too many 'List Buckets' calls"
Hi,

I am experimenting with minio with the b2 gateway and I have noticed that it makes too many calls to 'b2_list_buckets', something like 3000 or more a day.

wondering if its intended behavior, so it can detect the changes! is there any option to limit the calls?

## Expected Behavior
be able to control the call rates.

## Current Behavior
making too many calls to 'b2_list_buckets'.

## Possibl

[2018-11-13 14:01] reptillicus opened #6807 "Rabbitmq inital connection does not re-try"
## Expected Behavior

Notifications services should retry connections upon startup of minio server.
## Current Behavior

When starting minio server, if rabbitmq is not running and listening yet the notification system errors out and will not attempt to reconnect. This leads to strange errors with the events api with `mc`. This happens for instance when running minio and rabbitmq with docker-compos

[2018-11-13 15:44] flik commented on #6803
Here is my docker-compose.yml file:
[code]

[2018-11-13 16:23] kannappanr commented on #6807
@reptillicus Thanks for filing this issue. We will try to address this issue soon.

[2018-11-13 16:43] kannappanr commented on #6805
@biplabbh Minio server does not set this information. It is the responsibility of the client to set the objectname and content-type.

[2018-11-13 16:49] kannappanr commented on #6806
@Cyrus-d Thanks for filing this issue. Just to clarify, you have just launched minio right? Is there anything else going on?

[2018-11-13 18:36] kannappanr commented on #6803
The following `yaml` file works in my setup. The only difference between the one that you pasted and the one that I have is that the command is changed to `command: server /data  `
[code]

[2018-11-13 19:01] ccpu commented on #6806
Thanks for the reply, no there is nothing else is going on, I am using docker for windows 10 and I have used the docker compose file to register the minio with docker.

just to mention that, I do also have other images running in the docker and I did stop them all to see if it makes any difference. unfortunatly it won't, and every time I refresh the 'reports' page in the backblaze dashboard, the '

[2018-11-13 20:55] harshavardhana commented on #6803
you cannot use single HTTP endpoint in this manner if you want to use gateway use `minio gateway s3` ?

[2018-11-13 22:09] harshavardhana commented on #6806
yes, this is intended since there is no way to lookup bucket names in b2 - in S3 API we need to validate the bucket name for its availability before proceeding to do an operation.

[2018-11-13 23:51] #6110 closed, assigned to vadmeste

[2018-11-14 04:16] nitisht commented on #6775
@jbw976 closing this for now as this seems to be working, feel free to reopen/get back to us if there are any further issues

[2018-11-14 04:16] #6775 closed, assigned to nitisht

[2018-11-14 04:19] nitisht commented on #6723
@kyberorg closing this for now as this seems to be working, feel free to reopen/get back to us if there are further issues

[2018-11-14 04:19] #6723 closed, assigned to nitisht

[2018-11-14 04:44] flik commented on #6803
Issue fixed.
 I used : minio server /data
and now all is working fine.

[2018-11-14 04:44] flik commented on #6803
thanks

[2018-11-14 04:45] #6803 closed, assigned to nobody

[2018-11-14 11:26] biplabbh commented on #6805
@kannappanr  I have been using minio-3.0.4.jar.

So I have seen from MinioClient.class that this class uses

headerMap.put("Content-Type", "application/octet-stream");

as contentType.

Still is creates the format issue.

[2018-11-14 12:32] ccpu commented on #6806
Thank you for clarification.

[2018-11-14 12:32] #6806 closed, assigned to nobody

[2018-11-14 12:47] matemikulic opened #6811 "Policy where user is limited per bucket(s)."
Hey guys, so I have setup Minio in private cloud, not AWS. This is PoC that I'm doing before it is implemented. I've got 4 instances (on CentOS 7 host, running in Docker) on 4 hosts (one disk each) for now communicating using TLS. Now I'm testing policies per buckets to see if it fits our use case. I realize that Minio has multi user implemented since August 5th, so this might not be possible, or

[2018-11-14 13:07] flik commented on #2796
@KanybekMomukeyev
browser working fine with: http://localhost:9004/minio/login
docker-compose:
[code]

**errors**:

Fatal  error: Uncaught exception 'Aws\S3\Exception\S3Exception' with message  'Error executing "CreateBucket" on "http://localhost:9004/testbucket";  AWS HTTP error: cURL error 7: Failed to connect to localhost port 9004:  Connection refused (see  http://curl.haxx.se/libcurl/c/libcur

[2018-11-14 13:08] flik commented on #2796
[code]

[2018-11-14 13:19] vadmeste commented on #6811
@matemikulic multi users is only supported since this release https://github.com/minio/minio/releases/tag/RELEASE.2018-10-18T00-28-58Z (and not Aug 5th)

Please try with this version or the more recent one and keep us updated.

[2018-11-14 13:28] biplabbh commented on #6805
I am describing the scenario largely, please have a look
1 //#################
MinioClient minioClient = new MinioClient("https://play.minio.io:9000", "Q3AM3UQ867SPQQA43P2F", "zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG");
		try {
			if (!minioClient.bucketExists(bucketname)) {
				minioClient.makeBucket("testbucket","us-east-1");
			}
			if (method == HttpMethod.PUT) {
				url = minioClient.presigne

[2018-11-14 13:58] matemikulic commented on #6811
Hi @vadmeste . Thank you for the reply.
I'm aware that this feature is the latest addition. I'm not sure if this is a bug or not, so that is why I'm wondering what may be the problem. This is the version I have on all my docker containers in cluster.
[code]
When uploading with user _testing_ to bucket **testing2** i would get a couple of times error saying I do not have permission, but after 4-5 t

[2018-11-14 14:12] vadmeste commented on #6811
Actually, mc should throw an error here because mc doesn't understand `minio-io/testing`, I guess mc is ignoring `testing`, it is not really functional.

You need to pass a policy which gives access to only one bucket, because readwrite policy here already give access to all buckets.

You can check by running this command: `mc admin policies list minio-io/ readwrite`

[2018-11-14 14:14] nitisht commented on #6805
@biplabbh that is pretty old version, can you try with latest release [https://github.com/minio/minio-java/releases/tag/5.0.2] and let us know how it goes

[2018-11-14 14:28] matemikulic commented on #6811
The output I got was:
[code]
Output of list policies command:
[code]
Can you please provide an example how I should set such policy if I'm going about this the wrong way?
Please note this is not in AWS, but on private servers.
I need these conditions:
1. User testing can only have read/write access to bucket testing.
2. User testing should not be aware(not visible to him) of any other buckets (if

[2018-11-14 14:34] vladkras commented on #2796
@KanybekMomukeyev, are you sure localhost of your host machine is accessible from your php container? Usually, container's localhost is it's own 127.0.0.1 loop.

If both your containers are in the same docker-compse.yml file try `http://s3minio:9004`. If not, add with `docker network connect <s3minio_network> <php_container>` or vice versa

[2018-11-14 15:12] vadmeste commented on #6811
@matemikulic you need to add a new policy for each user/bucket using mc admin policies command,

[code]
Notice that bucket names in the JSON document, you need to update the bucket name before setting a new policy each time you create a new user.

`mc admin policies add minio-io/ testbucket-1-readwrite /tmp/policy.json`

Then add the user while specifying  testbucket-1-readwrite

[2018-11-14 16:00] aead commented on #6801
The fingerprint should be the HPKP (HTTP public key pinning) hash value. Therefore we have to compute the SHA256 of the raw SubjectPublicKeyInfo. To verify using openssl we can use the following command: `openssl x509 -pubkey -in <certificate> | openssl pkey -pubin -outform der | openssl dgst -sha256`

[2018-11-14 16:55] matemikulic commented on #6811
@vadmeste Thank you for detailed reply.
I've created a bucket testbucket-1 and uploaded policy.
In browser policy works, I see buckets, but I cannot see what is in them or upload to them, which is great enough. As long as one user cannot see content of other buckets, even file names, works for my case.

I ran into a problem when I tried testing the same via mc.

[code]
I have setup where all 4 Min

[2018-11-14 16:58] vadmeste commented on #6811
[code]

Yes, the policy document that I sent could be not enough to perform mc config host add, a workaround for this is to add `--api s3v4` flag to your mc command.

[2018-11-14 17:12] harshavardhana commented on #6811
Users get reflected after 5 mins on neighboring nodes after creation in distributed setup, so give it 5 mins from the time of creating to accessing.

[2018-11-14 18:41] kannappanr commented on #6768
@eyalrif Closing this issue. Please feel free to reach out to us if you have further questions.

[2018-11-14 18:41] #6768 closed, assigned to nobody

[2018-11-14 18:58] kannappanr commented on #6805
@biplabbh The solution here is for the application to set the header, when it does the `PUT` operation. Say using curl, if you were to test this, you will do something like
`curl "http://presignedurl" --upload-file /etc/issue -H "Content-Type:application/javascript"`
Assuming that `http://presignedurl` is the URL generated by `minio-java`.

[2018-11-14 23:29] donatello opened #6814 "S3Select: Column position indexing no longer works"
## Expected Behavior

Indexing columns by position e.g. `_1, _2, _3` ought to work.

## Current Behavior

No results are returned - like as if the column names are being interpreted as strings and not being found in the rows itself.

This used to work, but doesn't now.

## Possible Solution

Need to bring it back.

## Steps to Reproduce (for bugs)

Try query on CSV file like `select s._1 from s3ob

[2018-11-15 01:36] #6580 closed, assigned to poornas

[2018-11-15 02:05] #6778 closed, assigned to harshavardhana

[2018-11-15 03:29] KanybekMomukeyev commented on #2796
@vladkras i think your question was related to @flik 🙂

[2018-11-15 06:46] ssuio opened #6817 "Azure gateway disk cache by download not storing file in cache folder"
Setup Azure gateway and disk cache environment attrs.
Only uploading file will be stored in cache folder. Downloading file won't be stored in cache folder.

## Expected Behavior
Expect doing download on Azure's file will be cached in the cache folder.

## Current Behavior
Upload file will be cached in cache folder.
Download file won't be cached in cache folder.

## Possible Solution
No idea.

## S

[2018-11-15 06:48] flik commented on #2796
@vladkras
I have done but same error:

Fatal error: Uncaught exception 'Aws\S3\Exception\S3Exception' with message 'Error executing "CreateBucket" on "http://s3minio:9004/testbucket"; AWS HTTP error: cURL error 7: Failed to connect to s3minio port 9004: Connection refused (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)' GuzzleHttp\Exception\ConnectException: cURL error 7: Failed to connect

[2018-11-15 07:55] flik commented on #2796
@KanybekMomukeyev  @vladkras May I add this script too ?

[code]

[2018-11-15 07:57] vladkras commented on #2796
@KanybekMomukeyev yep, sorry, bro

@flik are you sure both containers are in same network (otherwise they cannot resolve each other by name)? Check it with `docker inspect <container_name>`

Also you can try to specify it's exact ip for test http://172.x.y.z:9004 which you can find out with `docker inspect ...` command too

[2018-11-15 08:14] kannappanr commented on #6817
@ssuio Thanks for filing this issue. Will try to send a fix soon.

[2018-11-15 09:55] curantes opened #6818 "Minio server crash when using mc mirror --watch"
When we are starting a `mc mirror --watch` to sync our 16 node minio cluster to local disk the servers get approx 500 in load and according to haproxy health checks timeouts and after a few seconds comes back up randomly between the minio nodes. After approx 10 minutes one of the minio servers crash and we decided to interrupt the `mc mirror --watch`. The attached logs are from the minio that cras

[2018-11-15 10:25] matemikulic commented on #6811
Thank you very much for your help.
I would like to ask you if you could update Minio docs with a bit more detail how policies work and what you would want in policy.json file based on your requirements. I realize it is a newly implemented feature, so I don't mean to rush you or anything. :)
The documentation I used prior to contacting you was:
https://docs.minio.io/docs/minio-multi-user-quickstart

[2018-11-15 10:25] #6811 closed, assigned to vadmeste

[2018-11-15 10:45] kannappanr commented on #6811
@matemikulic Thanks for your feedback. we are currently in the process of updating our documentation. We will definitely try to incorporate your feedback.

[2018-11-15 10:49] vadmeste commented on #6818
@curantes, the crash seems to be duplicated to this (https://github.com/minio/minio/issues/6483)

Do you still have a high usage of go routines number ? Can you tell me how do you do to get the number of go routines ?

[2018-11-15 12:24] flik commented on #2796
here detail:

[code]

[2018-11-15 12:27] curantes commented on #6818
Issue #6483 is a symptom of this issue as the load peaked at 889 5-10 minutes after starting `mc mirror --watch`

according to mino webui we have a usage of: `Used: 28.27 TB`

`df -h` for one server
[code]

You should be able to reproduce this with similar amout of data in a 16 node cluster.

I checked the goroutines and we have as follow:
[code]

[2018-11-15 12:29] vadmeste commented on #6818
@curantes can you paste the content of your goroutines.sh script ?

[2018-11-15 12:30] flik commented on #2796
"IPAddress": "10.0.3.4" Network ip is working. Issue **fixed**

[2018-11-15 12:32] curantes commented on #6818
[code]

[2018-11-15 12:40] vladkras commented on #2796
@flik be carefull, this ip will change each time your container is restarted. You should use some [networking](https://docs.docker.com/network/) to avoid such problems

[2018-11-15 13:41] curantes commented on #6818
df -i for one node:
[code]

[2018-11-15 18:34] MohMehrnia opened #6820 "Config SSL on Docker"
How do cofigure ssl on docker and run minio on docker  with SSL

[2018-11-15 20:48] vadmeste opened #6821 "Unit test to detect change in Storage REST API and mandate storage REST upgrade"
## Expected Behavior
Storage REST API is a crucial part of Minio code, a test in Minio code or in tests should be there to detect API change

## Current Behavior
There is no such code which detects change in API

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
NA

## Context
Avoid regression

## Regression
No

## Your Environment
All

[2018-11-15 21:29] labnewbie opened #6822 "Can't get HTTPS connection to work"
Minio was working fine using HTTP.  The application that I am using to write to Minio requires HTTPS.  I used GnuTLS to create my cert files.  Placed them into the .minio/certs folder and restarted the server.

The conf file is pretty basic:
# X.509 Certificate options
#
# DN options

# The organization of the subject.
organization = "LAB"

# The organizational unit of the subject.
#unit = "IT"

#

[2018-11-16 01:10] kannappanr commented on #6820
@MohMehrnia Can you please try
[code]

You will have to create a folder called `certs` under `/mnt/config/` and have your `private.key` and `public.crt` files there.

[2018-11-16 01:15] kannappanr commented on #6822
@labnewbie `mc.exe config host add --insecure myminio https://198.186.100.133:9000 1E226M8L70WLE7PNHM0U nTxZAVen80SWcY3K3iwlGdwdQgK7sjZCFGPuPRyj` should work

[2018-11-16 01:31] labnewbie commented on #6822
Thank you @kannappanr that worked.

so now that the server is running in a "secured" mode, it seems I need to use the --insecure for all my command line entries.  Is that true?

PS C:\Users\administrator.HOMELAB> mc admin service status myminio
mc : mc.exe: <ERROR> Cannot get service status. Get https://192.186.100.133:9000/minio/admin/v1/service:
x509: certificate signed by unknown authority
At l

[2018-11-16 01:38] harshavardhana commented on #6822
You can trust your certs by copying public.crt to `.mc/certs/CAs`  this way you don't have to use --insecure

[2018-11-16 01:53] labnewbie commented on #6822
thanks @harshavardhana

I had both private.key and public.crt in %%USERPROFILE%%\.minio\certs.  I copied public.crt into %%USERPROFILE%%\.minio\certs\CA

Still need to use --insecure though.  As noted earlier i used GnuTLS to create the certs.

The cert.cnf has only the following values.  I wonder if the key is bad?
organization = "Lab"
state = "MA"
country = "US"
cn = "Labnoob"
expiration_days =

[2018-11-16 01:58] harshavardhana commented on #6822
Note I said `mc/certs/CAs` not `.minio/certs/CAs`

[2018-11-16 02:09] labnewbie commented on #6822
@harshavardhana my apologies.  Been staring at my screen so long im seeing things

public.crt is now in the correct location.  I restarted the minio server and the error has changed:

PS C:\Users\administrator.HOMELAB> mc admin service status myminio
mc : mc.exe: <ERROR> Cannot get service status. Get https://198.186.100.133:9000/minio/admin/v1/service:
x509: certificate is valid for 127.0.0.1, no

[2018-11-16 02:12] harshavardhana commented on #6822
Here are the steps @labnewbie to get SSL working

- SSL has been generated properly for a given IP address you have to use this IP always when talking over SSL otherwise generate a cert with domain name only
- Make sure you have `private.key and public.crt` are in `.minio/certs/` no need to copy anything yet into `.minio/certs/CAs` - avoid copying `private.key` into `.minio/certs/CAs` its not a CA

[2018-11-16 02:26] labnewbie commented on #6822
Thank you @harshavardhana   Changing the ip address in the cert.cnf file as well as your latest instructions made it work as expected:

PS C:\GnuTLS\win64-build> mc admin service status myminio
Uptime: 22 minutes 15 seconds.

Now that I seems to have all the wrinkles ironed out, its time to see if the backup app will finally write to minio!!!!!

[2018-11-16 02:44] MohMehrnia commented on #6820
I test this command but can no used https, I create private and public on localhost with OpenSSL

[2018-11-16 03:17] sinhaashish commented on #5742
[PR](https://github.com/minio/minio/pull/6160) is already under review.

[2018-11-16 04:48] harshavardhana commented on #6822
@labnewbie let us know how it goes, feel free to close this bug.

[2018-11-16 05:11] kannappanr commented on #6820
@MohMehrnia Not sure I follow you. Can you paste the error you see?

[2018-11-16 05:13] MohMehrnia commented on #6820
When retrieve https address , browsers show message can not display and when check docker log show this message
API: SYSTEM()
Time: 05:20:48 UTC 11/16/2018
Error: malformed HTTP request from '172.17.0.2:9000'
       remoteAddr=172.17.0.1:55976, localAddr=172.17.0.2:9000
       1: cmd/http/listener.go:274:http.(*httpListener).start.func2()
Exiting on signal: TERMINATED

[2018-11-16 05:23] kannappanr commented on #6820
Can you paste the message or a screenshot? and give us more details like, what IPaddress did you create the certificate for and what is the IPAddress displayed, when minio starts up? Version of minio in use. Is there any log on the server console?

[2018-11-16 05:44] MohMehrnia commented on #6820
IP Address is 127.0.0.1 (Local host)
Minio Version (Latest minio Docker version)
IPAddress Display: http://127.0.0.1:9000
and Only This log When Call https in browsers
API: SYSTEM()
Time: 05:20:48 UTC 11/16/2018
Error: malformed HTTP request from '172.17.0.2:9000'
remoteAddr=172.17.0.1:55976, localAddr=172.17.0.2:9000
1: cmd/http/listener.go:274:http.(*httpListener).start.func2()
Exiting on signal

[2018-11-16 06:03] kannappanr commented on #6820
@MohMehrnia So, you basically created certificate using OpenSSL for localhost? Can you please regenerate the certificate for IPAddress 172.17.0.2? This error will go away in that scenario.

[2018-11-16 07:38] MohMehrnia commented on #6820
I created ssl for IPAddress 172.17.0.2 and error is exists
SSL Generate With Below Instruction:
https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls.html

Browsers Error:
An error occurred during a connection to 172.17.0.2:9000. SSL received a record that exceeded the maximum permissible length. Error code: SSL_ERROR_RX_RECORD_TOO_LONG

Endpoint:  http://172.17.0.2:9000  http:/

[2018-11-16 09:00] biplabbh commented on #6805
@nitisht   @kannappanr   Though this is a separate issue..would you please help. The situation is I am trying to upload image/video etc. from a mobile application. The upload call happens in the following way:

mobile app ===> Java client for Minio ===> Minio

(Java client for Minio is deployed in our customized public server ip: **http://219.91.160.XXX** )

So when from this public server **http:

[2018-11-16 11:17] labnewbie commented on #6822
Seems to be working fine.   Thanks for all the help.

[2018-11-16 11:17] #6822 closed, assigned to nobody

[2018-11-16 11:34] itarch opened #6824 "Unable to initialize disk caching: Unsupported cache format [fs] found."
Get Minio Server running by executing
`$ ./minio server /mnt/minio `

However, would like to change the following params
Read the config via mc ... and change following params to
[code]

Set the new config via mc ... successfully
Restart service (as recommended), which output
[code]

Changed into /mnt/minio/.minio.sys/config and removed value for driver in config.json to
           `"drives":[]`

[2018-11-16 12:14] nitisht commented on #6824
@itarch the cache directory should be something other than the Minio server mount path that is used. So can you try another directory like so

[code]

[2018-11-16 12:21] itarch commented on #6824
@nitisht thank you for the fast feedback/advice

obviously i do not understand right the section "cache" of config.json.
I thought by setting these values I would restrict retention limit and space limit.
Following your segusstion, would it lead to what I intend?

[2018-11-16 12:28] nitisht commented on #6824
@itarch cache is meant to store content closer to the tenants and improve the time to first byte. It has no effect on Minio server's space limit etc.

[2018-11-16 12:30] itarch commented on #6824
@nitisht
however, setting the cache dir as recomended works fine.
But how can I restrict retentention and space limits in Minio.

[2018-11-16 12:37] itarch commented on #6824
Is the only  option that I have ...

`mc rm --older-than 60 nsaminio/nsabuck`

where 60 is 60 days
nsaminio: Minio Server
nsabuck: the Bucket on the Minio Server nsaminio

[2018-11-16 12:54] nitisht commented on #6824
`mc rm --older-than 60 nsaminio/nsabuck`

This is the recommended approach for now. We are working on Bucket Lifecycle support - #5139 , once that is available you can use that to manage this scenario.

[2018-11-16 13:05] AlloVince opened #6825 "Not find a way to continue iterate items by `ListObjectsV2` if iterate failed in halfway"
Hi guys

I have a bucket stored over 100k items, currently I use `ListObjectsV2` API to iterate items and push items info into message queue.

However, I didn't found any solution to continue an iteration in halfway, which means when I iterate 100K items, if the task failed in 50k'th item, I have to re-start the whole iteration from the first item. It is really unacceptable for a large bucket.

I

[2018-11-16 13:11] itarch commented on #6824
@nitisht

thank you so much...
I'm fine with that, since its only a Lab installation (see below)  with Grafana/Thanos/Prometheus.
I adviced Prometheus to retent only 1 day and wanted to rentent some days more in Minio.
To understand how things work/behave.

![labgrafthaprom](https://user-images.githubusercontent.com/14290953/48623797-0c4f4080-e9ab-11e8-9905-131e4613bd9b.png)

[2018-11-16 13:35] nitisht commented on #6824
Understood, thanks @itarch . Feel free to join us on Slack https://slack.minio.io to talk more about your use case. Closing this issue as answered..

[2018-11-16 13:35] #6824 closed, assigned to nitisht

[2018-11-16 15:04] kannappanr commented on #6820
@MohMehrnia I tried the certificates that you gave after renaming them appropriately. Firefox complained about this certificate being self signed, which is correct. Other than that I did not see any issue. I did not get the error that you were getting.

can you please take a look at https://support.mozilla.org/en-US/questions/1222739 ?

One of the things you can try is to use a different browser o

[2018-11-16 15:15] vadmeste commented on #6818
@curantes I've finally found the bug, it is the call of minio/prometheus/metrics API which increases the number of goroutines but surprisingly only in case of a distributed setup.

Will make further investigation and send the fix hopefully today.

[2018-11-16 15:33] kannappanr commented on #6825
@AlloVince Can you clarify, if your request is to add this parameter to the `list_objects_v2` api in `minio-py` SDK? If yes, can you please open this under `minio-py` repo?

[2018-11-16 15:56] AlloVince commented on #6825
Actually I hope all SDK could have this parameter. For my project, I need both python and nodejs SDK change.

As I understand, other languages SDK are wrappers of go lang core API,  I found a `startAfter` parameter in go source code, so you mean go core API already had this feature, just this parameter ignored by all SDK, is it?

If so, I will open issues under SDK repos, thanks

[2018-11-16 18:54] ghost opened #6827 "minio mirror aborts on a broken symlink"
Hello,

minio mirror aborts on a broken symlink:

[code]

Is this expected?

## Expected behavior

I am expecting minio to mirror everything except the broken symlinks instead of just aborting the entire mirror process at the first broken symlink it encounters.

## minio client version

[code]

## minio server version

[code]

[2018-11-16 19:14] MohMehrnia commented on #6820
"I tried the certificates that you gave after renaming"

Why need renaming and what's new name?
Renaming is necessary?

[2018-11-16 19:17] kannappanr commented on #6820
The name of the certificate file should be `public.crt` and the private key should be `private.key`

[2018-11-16 19:49] MohMehrnia commented on #6820
Ok, Thanks for helping, My Problem is resolved,
when i create certificate, i not renaming certificates and this my big mistake.
thanks,

[2018-11-16 19:51] kannappanr commented on #6820
@MohMehrnia Thanks for getting back to us. Will go ahead and close this issue. Our docs is available at docs.minio.io Please feel free to reach out to us if you have more questions.

[2018-11-16 19:51] #6820 closed, assigned to nobody

[2018-11-16 20:07] kannappanr commented on #6825
@AlloVince Minio does support `start-after` token. As far as exposing this in our SDKs, we have kept our APIs simple and have not exposed these options in our SDKs. Will talk internally and get back to you on this request.

[2018-11-16 20:13] harshavardhana commented on #6827
Can you open this issue on minio/mc? @arno01

[2018-11-16 20:27] vadmeste opened #7900 "Add upgrade testing"
core/upgrade testing to:

*) Testing upgrade FS & XL from different versions (how many?) to the current one:
like:
[code]
*) Test rolling update (different versions running together at the same time) <= this can easily happen with any orchestration tool

A script shell should be enough for this

[2018-11-16 20:37] vadmeste opened #7901 "[Proposal] S3 select tests"
More comprehensive tests for S3 testing (from outside)

Minio code contains many unit tests for S3 testing but no functional tests yet

[2018-11-16 21:19] ghost commented on #6827
Ok, done https://github.com/minio/mc/issues/2604

[2018-11-16 21:19] #6827 closed, assigned to nobody

[2018-11-16 22:59] #6779 closed, assigned to vadmeste

[2018-11-17 04:10] kannappanr commented on #6825
@AlloVince We will implement this in our SDKs. Can you please go ahead and file those issues in minio-js and minio-py repositories?

[2018-11-17 05:35] harshavardhana commented on #6827
Thanks @arno01

[2018-11-17 13:48] mnajamudinridha opened #6830 "ERROR Unable to initialize gateway backend: b2 error: net/http: TLS handshake timeout."
hi, i cant connect anymore to backblaze with minio docker, ERROR Unable to initialize gateway backend: b2 error: net/http: TLS handshake timeout.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server

[2018-11-17 18:05] harshavardhana commented on #6830
This looks like your network error - we cannot establish a connection remotely.

[2018-11-17 23:40] kannappanr commented on #6805
@biplabbh instead of the using POSTMAN, can you try with `mc` or some other client. I haven't really worked with `POSTMAN` before. I spent quite a bit of time with it, I am getting <Code>XAmzContentSHA256Mismatch</Code>
    <Message>The provided &#39;x-amz-content-sha256&#39; header does not match what was computed.</Message>

Regarding Q1, can you turn on tracing in `minio` by setting an environm

[2018-11-18 11:58] AlloVince commented on #6825
@kannappanr opened 2 issues here:

- https://github.com/minio/minio-js/issues/733
- https://github.com/minio/minio-py/issues/718

[2018-11-18 14:20] Latifa-tity opened #6836 "Minio browser: secret key field in the login page always empty"
## Expected Behavior
Entering secret key in the login page should show some asterisks

## Current Behavior
Secret key field is always empty no matter how many characters I enter

## Possible Solution
Show asteriks

## Steps to Reproduce (for bugs)
1. Open Minio Browser in Chromium 70 under Windows 7
2. Enter an access key and a secret key

## Context

## Regression
I don't know

## Your Environmen

[2018-11-18 17:08] kannappanr commented on #6836
@Latifa-tity Thanks for reaching out to us. It does show up in the browsers that we normally test. not sure what is going on there. Will definitely take a look and get back to you with further questions.

[2018-11-18 19:00] kannappanr commented on #6825
Thanks @AlloVince . Will close this issue now.

[2018-11-18 19:00] #6825 closed, assigned to nobody

[2018-11-19 05:56] biplabbh commented on #6805
I tried with http://127.0.0.1:XXX, but same error. Did not work.

[2018-11-19 07:54] kannappanr commented on #6805
Can you paste any errors on the server side and also the startup message on the server console?

[2018-11-19 13:44] biplabbh commented on #6805
@kannappanr

Below is the server log:

[2018-11-19 19:07:23 +0530]
HEAD /signalbucket123
Host: localhost:9000
X-Amz-Content-Sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
X-Amz-Date: 20181119T133723Z
Authorization: AWS4-HMAC-SHA256 Credential=A2ETM5IPN6KQ5QWHM8D3/20181119/us-east-1/s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=645c4fb6e03a

[2018-11-19 14:11] nitisht commented on #6760
Fixed by #6770

[2018-11-19 14:11] #6760 closed, assigned to nobody

[2018-11-19 14:12] nitisht commented on #6830
@najcardboyz closing this as looks like gateway is not able to connect to remote backend. Feel free to reopen if there are still problems.

[2018-11-19 14:12] #6830 closed, assigned to nobody

[2018-11-19 14:13] ikozhukhov commented on #6760
it fixed build, but not fixed tests what i posted before.
how we can do with failed tests - open another ticket per failed test or open one ticket for all failed tests ?

[2018-11-19 14:14] nitisht commented on #6797
@melin closing this for now, feel free to reopen if / when you have additional info for us.

[2018-11-19 14:14] #6797 closed, assigned to nobody

[2018-11-19 18:48] harshavardhana commented on #6760
That should be it @ikozhukhov - we have really no plans on supporting Solaris by making sure all tests are working. If there is an external contributor such as you who can maintain it then it is not a problem and we are more than happy to accept patches.  Most of our testing and users are on either Linux, Windows or MacOS.

So opening issue might be okay if you wish to track it here, but we do not

[2018-11-19 18:57] poornas opened #7902 "Add tests for edge cache"

[2018-11-19 19:00] #6817 closed, assigned to poornas

[2018-11-19 19:09] poornas commented on #6581
This issue is fixed in current master @harshavardhana . Can this be closed?

[2018-11-19 19:18] harshavardhana commented on #6581
Yes this is fixed @poornas - closing

[2018-11-19 19:18] #6581 closed, assigned to poornas

[2018-11-20 08:05] biplabbh commented on #6805
@kannappanr

I tried to run the curl command as well,

from the server (my public server)  itself where Minio is installed: (used **localhost** as well as **127.0.0.1** also)
==================================
curl -v http://localhost:9000/ -H "Authorization: AWS4-HMAC-SHA256 Credential=A2ETM5IPN6KQ5QWHM8D3/20181119/us-east-1/s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date,Sign

[2018-11-20 08:54] kannappanr commented on #6805
@biplabbh Can we please stick to one issue and try to solve that? Please tell us what you are trying to do. You can also reach us at minio.slack.com, one of us will be there and interacting there might be faster.

[2018-11-20 09:25] biplabbh commented on #6805
@kannappanr Hey sorry for that.

But you wanted the logs of Minio. That I have provided you in the last 2 posts. I also provided you the Curl command as well. Just tried to convey that all are giving 403 forbidden response.

[2018-11-20 10:36] nitisht commented on #6159
closing this in favour of https://github.com/minio/mc/issues/2606

[2018-11-20 10:36] #6159 closed, assigned to nitisht

[2018-11-20 15:45] kannappanr commented on #6805
@biplabbh I just meant, it is easier to just focus on one way to reproduce the issue. I have responded to you on slack. We can take it from there.

[2018-11-20 17:29] biplabbh commented on #6805
Hey @kannappanr .. I have resolved the issue described above in Q1 and Q2. The issue was from our public server itself and that was related to DNS mapping. So this issue is done.

Another is the format of the content being uploaded which I have described at the very first of this thread. Let me try more and more and if I fail to achieve then will communicate with you guys..

So you can close this

[2018-11-20 17:32] kannappanr commented on #6805
@biplabbh Glad that you got it to work. I have left you a message on slack. Please feel free to contact me if you need any help.

[2018-11-20 17:32] #6805 closed, assigned to nobody

[2018-11-20 19:07] #6818 closed, assigned to vadmeste

[2018-11-20 19:13] jamesneimanconsulting opened #6840 "storage class needs to be rendered as HTML"
We need to find a place for a gluegun-rendered version of this and include it in the site.yml or have a feature where items like this can still be rendered without having to be specified in site.yml.

[2018-11-20 20:04] deekoder commented on #6840
@jamesneimanconsulting  can you add more details like a picture of what you are proposing. It can be hand drawn if needed, nothing fancy. It will help us understand what you are proposing.

[2018-11-20 21:26] deekoder commented on #6840
Moving this to minio/gluegun. Closing it here.

[2018-11-20 21:26] #6840 closed, assigned to deekoder

[2018-11-21 03:07] #6807 closed, assigned to sinhaashish

[2018-11-21 03:08] nitisht commented on #6807
@reptillicus we have added a fix, do you mind testing with `minio/minio:edge` image and confirm if it works for you now

[2018-11-21 03:09] reptillicus commented on #6807
Absolutely, thanks!

On Tue, Nov 20, 2018, 9:08 PM Nitish Tiwari <notifications@github.com wrote:

[2018-11-21 14:28] ztane opened #6844 "presigned form uploads fail against minio if "hidden input fields" have Content-Type header set in multipart/form-data"
We're using Flurl (A popular .NET / C# library) to submit a file upload using presigned form. The file uploads did not work, resulting in HTTP 400 with `Missing fields in request` as the explanation.
While the fix was easy, it felt wrong because works against S3, and some browsers might be generating those headers (Windows Phone rumoured to)?

The POST had the format:

[code]

When the `Content-Ty

[2018-11-21 15:16] nitisht commented on #6844
thanks @ztane we’ll take a look

[2018-11-21 15:55] #6483 closed, assigned to harshavardhana

[2018-11-21 16:54] vadmeste commented on #7900
Also this test needs to check if config file or objects are not corrupted. Also bucket policies.

[2018-11-22 02:59] balamurugana commented on #6844
@ztane Could you share errors printed on server console and the client?

[2018-11-22 06:29] mschroeder223 opened #6851 "Corrupted backend"
This issue presented itself after a go application attempted to delete a bunch of objects that didn't exist followed by the bucket (which did exist). It received an error while removing the bucket because it was not empty (although the objects in it should have been removed). This immediately made minio's web ui throw "corrupted backend" errors.

I created an additional bucket and uploaded several

[2018-11-22 06:31] nitisht commented on #6851
Thanks @mschroeder223 we'll take a look soon

[2018-11-22 10:56] runar-indico opened #6853 "minio behind proxy and presigned urls"
Currently, we have deployed `minio` as a microservice in kubernetes. When we generate the `presigned url`, it returns it as

`
http://minio:9000/cjofm194t001t07122rc3jcx0/201811211513503.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=admin%2F20181122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20181122T072255Z&X-Amz-Expires=184&X-Amz-SignedHeaders=host&X-Amz-Signature=460b9b46f5fac13f29de437

[2018-11-22 15:01] EugenMayer commented on #3640
Is there no chance to see this happening? This is one of my most missing features actually ;/

[2018-11-22 15:07] nitisht commented on #3640
@EugenMayer https://github.com/minio/minio/pull/6494 this is WIP

[2018-11-22 17:01] Klojo opened #6854 "copy to minio buckets very slow"
## Context
The copy starts with 175mb/s and in 2 minuts is 6,5mb/s. 3 weeks ago its works fine 100mb/s...
now with the new release it fails. or it is the capi version or Minio

## Your Environment
VMWare 6.5
CloudFoundry

releases:
- name: minio
 version: v2018-11-22T02-51-56Z (https://bosh.io/releases/github.com/minio/minio-boshrelease?all=1)
- name: capi
 version: latest

stemcells:
- alias: def

[2018-11-22 19:52] harshavardhana commented on #6854
How are you uploading ? Can you provide sample application ? Also can you tell what is the disk speed ? What is the backend filesystem ?

[2018-11-22 19:58] harshavardhana commented on #6853
you cannot rewrite URLs unfortunately, your presigned URL should be generated from the client side pointing to your proxy endpoint instead of kubernetes hostname.

[2018-11-22 23:23] harshavardhana commented on #6504
This issue is fixed in master we interpret now 0.0 as float and 0 as int  just like AWS S3

[2018-11-22 23:23] #6504 closed, assigned to harshavardhana

[2018-11-23 03:00] Danbuth opened #6856 "ERROR Unable to initialize backend: Initializing data volumes gracefully stopped"
<h1>can not start  minio with docker swarm</h1>
<h2>And this is  error logs</h2>
<h3>ERROR Unable to initialize backend: Initializing data volumes gracefully stopped.</h3>

this  is the yaml file

[code]
this is the docker version

[code]

[2018-11-23 03:48] aniztar commented on #1293
Hello @harshavardhana ,
I am reopening this as I am facing the same issue.

1. I generated certificates using -  [generate_cert.go](https://golang.org/src/crypto/tls/generate_cert.go?m=text).
2. I have renamed the generated pem files to public.cert and private.key and moved them to ~/.minio/certs/

But I am still seeing this issue when i try to create a bucket
`Put https://127.0.0.1:9000/myBucket/

[2018-11-23 06:28] harshavardhana commented on #1293
Yes you need to trust the certs generated by self signed on the client @aniztar

[2018-11-23 07:26] aniztar commented on #1293
Got it... Thank you

[2018-11-23 07:48] runar-indico commented on #6853
Ok, I might add that this is working correctly under a regular nginx-config like this:

[code]

That leads me to think that some of the headers are involved in how the signature is verified. Or is it based purely on the url?

[2018-11-23 08:03] mickael-kerjean opened #6857 "automated test against play.minio.io?"
Hello guys,

I'm maintaining [this project](https://github.com/mickael-kerjean/nuage) that's providing a nice web interface to quite a few backends including minio.
I had some report of regressions on some user's minio instance and wanted to created some integration test to minimise those. Can I perform my integration test against your play.minio.io instance?

[2018-11-23 09:56] nitisht commented on #6856
did you have any of the volumes `minio1-data`, `minio2-data`, used earlier? Also any reason you're using only two nodes? can you provide the exact logs?

[2018-11-23 10:37] Danbuth commented on #6856
The architecture is 2*2 = 4 services.
I can confirm that there is no volume in docker environment  when I start up.
when I start the stack. The services are alwags run and die.
[code]
the logs say :
[code]

[2018-11-23 12:02] harshavardhana commented on #6857
You can just be mindful that play.minio.io gets upgraded every week and you might see a short downtime of few secs.

[2018-11-23 12:08] nitisht commented on #6856
Can you see the logs of exited container `8804670ca18b` and `d737c74bedef` - I just tried this locally and seems to work

[code]

Also can you confirm if SE Linux is disabled on both the host nodes

[2018-11-23 12:20] aeltawela opened #6858 "Minio federation does not work for non-default ports"
Downloading a file from another Minio cluster in federated setup does not work if the port is set to non-default port like 80.

## Expected Behavior
Minio should try to connect to the other clusters on the configured port (for example 80) instead of 9000.

## Current Behavior
Minio always tries to connect to the other clusters on port 9000 even if it is running in port 80.

## Possible Solution
In

[2018-11-23 13:34] mickael-kerjean commented on #6857
Sounds good to me then!

[2018-11-23 13:34] #6857 closed, assigned to nobody

[2018-11-24 09:10] balamurugana commented on #6844
@ztane

For Presigned Post to work, you would need headers `x-amz-signature`, `x-amz-algorithm`, `x-amz-credential` etc.  For example below is `curl` command;
[code]

In your pasted code, I don't see any such header creation.  I think you are not using Presigned Post instead it is just plain POST.

Please add/share more information about the problem you are facing.

[2018-11-25 15:00] aeltawela opened #6862 "MINIO_PUBLIC_IPS doesn't accept SRV records"
MINIO_PUBLIC_IPS requires the public IPs of the Minio cluster and doesn't accept SRV records or domains. knowing that, In CaaS based environment, the IPs are automatically assigned by docker, kubernetes, etc ...

## Current Behavior
MINIO_PUBLIC_IPS does not accept SRV records and through the following error "ERROR Unable to initialize Minio server with invalid MINIO_PUBLIC_IPS[0]: minio-cluster1:

[2018-11-25 16:26] nitisht commented on #6862
can you give us an example of SRV record you're passing @ahmedabt

[2018-11-25 17:01] aeltawela commented on #6862
The error was for "minio-cluster1" but it also fails for any domain name. For example, "xyz.com"

[2018-11-26 04:23] nitisht commented on #6862
@ahmedabt `MINIO_PUBLIC_IPS` is an optional argument to allow users pass an IP address that they want Minio server(s) to assume in case they do not want to use the IPs assigned by the CaaS platform.

So, if you leave the `MINIO_PUBLIC_IPS` field empty, Minio will automatically use the IPs assigned to the container by the CaaS platform. If you want to override these CaaS assigned IPs then use `MINI

[2018-11-26 17:49] #6858 closed, assigned to vadmeste

[2018-11-26 18:27] harshavardhana commented on #6851
Most probably this issue is fixed in #6855

[2018-11-26 18:30] harshavardhana commented on #6814
Fixed in #6815

[2018-11-26 18:30] #6814 closed, assigned to harshavardhana

[2018-11-26 18:32] springsman opened #6865 "Minio, ARQ and Synology for Backups"
I am new to Minio and I am using Using Minio with ARQ Backup on a Synology NAS ( https://www.arqbackup.com/blog/backup-to-synology-nas-using-minio-and-arq/ ). The issue I have is that the files and folders do not show up on the Synology interface. I cannot back up these files on the Synology if they are not selected for backup. So if they are not visible, I cannot select them. Is there a way to ha

[2018-11-26 19:19] kannappanr commented on #6865
@springsman Can you please check if https://github.com/minio/minio/issues/5561 is helpful

[2018-11-26 20:26] springsman commented on #6865
Thanks for pointing me to the link. However, I did enter the Docker Container creation commands via CLI, as the GUI does not work. Basically it is the same instructions as what I included in the Link on my original post. The issue is that after doing this the Folders do not show up on the Synology Interface. They look like they are Hidden, and I changed the Permissions, but they are still not visi

[2018-11-26 20:28] harshavardhana commented on #6865
From what it looks like @springsman Arq backup is not designed - this is according to their answer

In any case, the Arq backup data is encrypted, compressed and de-duplicated. It's not a browsable copy of your files."

[2018-11-26 23:31] aeltawela commented on #6862
@harshavardhana @nitisht

I made an experiment now using minio client on the same docker network

Scenario 1 (without setting MINIO_PUBLIC_IPS):

/ # mc mb cluster_2/bucket2
Bucket created successfully `cluster_2/bucket2`.

/ # mc mb cluster_1/bucket1
Bucket created successfully `cluster_1/bucket1`.

/ # mc ls cluster_2
[2018-11-26 23:02:51 UTC]     0B bucket2/

/ # mc ls cluster_1
[2018-11-26 23:

[2018-11-27 01:29] bratao commented on #6782
This is a very important feature. Bit rot at large volume of data is very common and would be a very compelling feature to Minio.

[2018-11-27 02:05] harshavardhana commented on #6862
Thanks @ahmedabt

[2018-11-27 02:54] nitisht commented on #5456
I have not been able to work on this, looks like the user who created the issue has deleted their account. I think we can close this for now and revisit if required later.

[2018-11-27 02:59] #5456 closed, assigned to nitisht

[2018-11-27 05:16] kanagarajkm commented on #6836
@Latifa-tity i don't have the required environment (Win 7 + Chrome) to reproduce this issue. Could you give a screenshot of the page?

[2018-11-27 05:19] xor007 commented on #4124
Given HDFS's presence (and inertia) in datacenters around the world, I struggle to understand why this feature request was dropped. It is near impossible in some environment to initiate changes in storage technology but people will not need to approve an "S3 Gateway to HDFS". Note: I foresee this to be widly popular.

[2018-11-27 05:50] nitisht commented on #6853
Headers are involved @runar-indico , please refer this for S3v4 signature calculation : https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html

[2018-11-27 12:14] Latifa-tity commented on #6836
@kanagarajkm, find attached the screenshot:
![screenshot](https://user-images.githubusercontent.com/11868927/49081211-5a373480-f246-11e8-97a6-e506b786420a.png)

[2018-11-27 13:16] cbluth opened #6870 "Minio goes into crash loop if mqtt credentials fail"
I have minio running in kubernetes v1.12
The k8s manifest can be seen here: https://gist.github.com/cbluth/442bea8b6b9e3955bdca973db54360ee#file-minio-deployment-yaml

## Expected Behavior

I expected the minio server to run without crashing, even if it cannot connect to mqtt.
I would expect an error in the log, and the application to continue working like "normal".

## Current Behavior

It goes i

[2018-11-27 14:32] nitisht commented on #6870
@cbluth ignoring an event notification configuration and continuing like normal will give impression to users that everything is working fine (even if they made a genuine mistake and entered incorrect credentials) and then they find out that they lost event data because Minio was running - this is a bigger problem than Minio asking for correct credentials before starting up successfully.

So, this

[2018-11-27 14:45] nitisht commented on #6870
On further discussion with @kannappanr looks like we may as well allow this, please give us some time before we discuss this internally and make a decision

[2018-11-27 14:45] vadmeste commented on #6870
@nitisht on the other side, you will lose controlling of Minio server using mc admin commands, let's discuss this in more detail

[2018-11-27 15:26] vadmeste commented on #6862
@nitisht I am able to reproduce this using my testing docker-compose file, which is similar to @ahmedabt's one, going to debug more

[2018-11-27 15:47] nitisht commented on #6862
Thanks @vadmeste

[2018-11-27 16:58] vadmeste commented on #6862
In case of gateway mode, there is no calculation of current server IP address as it is done with the distributed mode. In the distributed mode, Minio inspects the arguments list (endpoints) and can deduce the IP address of the current server, but in case of federating multiple Minio gateway instances, there is no such information.

What we can do, is that we make Minio gateway inspects all interfa

[2018-11-27 17:22] poornas opened #6872 "Azure gateway not caching multipart uploaded files"
## Expected Behavior

When gateway edge cache is enabled, multipart uploaded files should also be cached.
## Current Behavior

FIles uploaded through multipart uploads are getting saved in cache but getting deleted at the time of complete multipart upload.
## Possible Solution

ETag generated in PutObjectPart for Azure gatewat is not md5sum but a generated ETag ( not hex encoded representation of

[2018-11-27 17:34] harshavardhana commented on #6862
I thought the latter was already done i.e looking at interfaces and getting the IPs. Infact we have this information already in a global variable. We should always fallback when no endpoints on command line are provided.

Domain names might not be needed if you fix the current implementation properly.

[2018-11-27 17:39] harshavardhana commented on #6870
In the new config model it is already decided we will not crash the server.

[2018-11-27 17:40] frittentheke opened #6873 "[gateway] Is it possible to use minio gateway / caching with Chinese AWS regions such as for cn-north-1?"
I would like to use _minio gateway s3_ with the Chinese AWS regions such as _cn-north-1__ or __cn-northwest-1_ but receive errors when starting up.

## Expected Behavior
I expected to require to define, apart from AWS_ACCESS_KEY and AWS_SECRET_KEY, a custom endpoint as this is different for the Chinese regions:

_cn-north-1- s3.cn-north-1.amazonaws.com.cn_
_cn-northwest-1 - s3.cn-northwest-1.amazo

[2018-11-27 22:21] harshavardhana commented on #6873
Your envs are wrong @frittentheke they should be - AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY

[2018-11-28 02:11] deekoder commented on #6873
Hope this solves it @frittentheke Let us know.

[2018-11-28 02:43] nitisht commented on #6870
Missed this somehow.

[2018-11-28 08:07] frittentheke commented on #6873
@deekoder urgh ... sorry for not spotting this myself :-(
I could only kindly ask to maybe throw an error telling incompetent documentation readers as myself to get his variables straight.

But, unfortunately it's still not working, but the error has changed to:

Am I doing anything wrong regarding the endpoint for cn-north1?
What about setting or not setting the regions for AWS and MINIO? I playe

[2018-11-28 08:41] koliyo opened #6880 "Transfer compression support"
Is it possible to have a compressed object transfer between client and server?

I am not talking about the server side disk storage compression, but the network communication between the client and server.

Can I have json-files in my bucket and transfer these compressed without explicity storing them as compressed archives?

I see this https://github.com/minio/minio/pull/6292

But that is only se

[2018-11-28 08:55] Praveenrajmani commented on #6870
Minio does not allow to set an invalid notification config. For eg, if we mis-spell the username/password and then do a `mc set`, mc fails with `mc: <ERROR> Cannot set server configuration file. mqtt(1): Not Authorized.

We pre-check the notification targets before setting the config. [https://github.com/minio/minio/blob/f930ffe9e2fd698b8df3a38fb2bb5e1af22faacf/cmd/admin-handlers.go#L1162](url)

T

[2018-11-28 09:29] Praveenrajmani commented on #6880
Hi @koliyo,

Ideally, compressing a compressed-object is less efficient, since it does not have efficient run-length-encoding (RLE) . So minio does not support compression ( if compression is enabled ) for such compressed objects.

Minio recognizes a compressed object from its extension/content-type. We can still cheat by not explicitly specifying the extension or by renaming `data.zip`  to `data.

[2018-11-28 11:20] kanagarajkm commented on #6836
@Latifa-tity thank you, i am looking into it

[2018-11-28 11:31] kanagarajkm commented on #6836
@Latifa-tity i tried to re-produce it in Win 7 + Chrome 70, but i see dots in password field

![chrome](https://user-images.githubusercontent.com/42696688/49149078-26840980-f32f-11e8-8ac8-d82ab33055dd.png)

To undestand the environment better, can you send the details by opening this url https://www.whatsmybrowser.org/

[2018-11-28 14:05] koliyo commented on #6880
Ok, I understand that we don't want to compress already compressed objects.

But I am still not sure if automated transferring compression is possible. Just setting `content_type` on `fput_object` will not automatically compress data, right?

So if I understand this correctly i need to manually compress the data on the client, then putting the compressed data with proper `content_type` setting.

A

[2018-11-28 14:52] aeltawela opened #6882 "Minio WebUI does not support federation setup"
In Minio federation mode, WebUI doesn't allow you to download/upload/browse the files which exist in the other clusters. it lists the buckets only.

## Expected Behavior
In Minio federation mode, WebUI should allow you to download/upload/browse the files which exist in the other clusters. The same way Minio client does.

## Your Environment
docker version
Client: Docker Engine - Community
Version:

[2018-11-28 15:03] nitisht commented on #6880
And when I download the data I need to reverse the process and manually decompress the received data from fget_object.

This is correct @koliyo .

Yes, `Content-Encoding` is right.

[2018-11-28 15:03] #6880 closed, assigned to nobody

[2018-11-28 15:04] nitisht commented on #6882
Thanks @ahmedabt we'll take a look and fix this.

[2018-11-28 18:11] kannappanr commented on #6873
@frittentheke  We do not have logging for gateway backend requests currently. Will look into it and get back to you.

[2018-11-28 18:58] kannappanr commented on #6873
@frittentheke Have a fix for this.  A PR needs to be sent to `minio-go` repo first and then vendorized in minio.

[2018-11-28 19:43] kannappanr commented on #6873
Seems like the fix is already in minio-go. So, vendorizing to latest `minio-go` will fix this issue.

[2018-11-28 19:56] harshavardhana commented on #6844
@ztane can you provide us with more information? as requested by @balamurugana

[2018-11-28 20:02] kannappanr commented on #6873
@frittentheke I do not have a way to test this specifically on a Chinese endpoint. But did test the fix on a different endpoint `https://s3.ca-central-1.amazonaws.com`. Can you please test the fix against one of the Chinese endpoints and let us know if it doesn't work? We expect this to work though.

[2018-11-28 20:21] aeltawela commented on #6862
@harshavardhana: it is good to failback when no endpoints are provided. On the other hand, providing domain names instead of public IPs are still necessary because the other Minio cluster could be in a completely different network that is reachable using the domain/public IP.

[2018-11-28 20:23] harshavardhana commented on #6862
Definitely, that is necessary, but we need to first fix the issue of basic requirement of not providing PUBLIC_IPS explicitly and not depending on the command line options.

[2018-11-28 21:47] aeltawela opened #6885 "Minio events do not work when MINIO_ETCD_ENDPOINTS is set"
When "MINIO_ETCD_ENDPOINTS" is set in a federation mode, Minio events cannot be added.

## Current Behavior
mc events add minio/bucket1 arn:minio:sqs::1:elasticsearch
mc: <ERROR> Cannot enable notification on the specified bucket. A header you provided implies functionality that is not implemented

## Your Environment
docker version
Client: Docker Engine - Community
Version: 18.09.0
API version: 1

[2018-11-28 23:17] deekoder commented on #6865
@springsman there is no further action on our end for this issue. I will go ahead and close this issue as a won't fix. Please feel free to reopen this issue if you want to discuss this further.

[2018-11-28 23:17] #6865 closed, assigned to nobody

[2018-11-28 23:30] kbolino opened #6888 "Allow free and/or total disk space to be collected"
This is the inverse of #5763. That request was to remove free space info *if desired*. However, the fix removed free space info *no matter what*. I'd like to have those numbers back; it's possible to get them another way (e.g., telegraf) but that adds complication.

## Expected Behavior
Minio reports free space and/or total space on its disks, both in the UI and through prometheus metrics.

## Cur

[2018-11-28 23:32] kbolino commented on #6888
My organization is still on FF 52 and the preview tab and edit button don't work. I will fix the Markdown formatting when I'm able to.

[2018-11-28 23:56] harshavardhana commented on #6888
We cannot do that @kbolino - current UI behavior is on purpose and we cannot provide this information from our end.  Our users run Minio multiple instances sharing the same disk and information about free/total space is meaningless when such a setup is in question.

[2018-11-28 23:58] harshavardhana commented on #6363
This may not be an issue anymore since we moved to REST based model from RPC

[2018-11-28 23:58] harshavardhana commented on #6338
This may not be an issue anymore since we moved to REST based model from RPC

[2018-11-29 00:24] kbolino commented on #6888
I don't disagree that, for the specific case of multiple "disks" sharing the same actual volume, the metrics as previously implemented were meaningless/misleading. However, I tried to accomodate that case in my request, and provided 3 possible solutions that don't contradict what was asked for in #5763. Indeed, I am not asking for a reversion to the status quo, I am asking for the presence of a us

[2018-11-29 00:36] kbolino commented on #6888
I may have been too hasty in my response above, and I assumed that minio's erasure coding works somewhat like RAID 6. Erasure coding may not be pointless on a single volume, if e.g. it is done at a block level and the volume itself is prone to block-level errors.

[2018-11-29 00:37] harshavardhana commented on #6888
There is no set requirement for Minio to use the entire disk a minio user can run many erasure coded deployments for the same set of disks some with using all the disks some with using a lesser number. This is called a multi-tenant deployment model.

It is not Minio's responsibility to give disk statistics since we don't own the disk, we are not a block storage solution. If you want disk statistic

[2018-11-29 00:45] harshavardhana commented on #6888
As the disks get denser this has been sometimes a common deployment model as well. Minio doesn't care if you give it a full disk (mounted on a directory) or a directory inside a mounted partition. In the end, Minio is using simply a directory on the backend. It can be a mounted partition on a disk or simply a directory inside it.  These directories are either local or remote.

Total disk space and

[2018-11-29 00:52] kbolino commented on #6888
That is fair, and I had not thought of it from that perspective. However, right now, minio does report used space, and that seems to include space not used by minio itself. Maybe that measurement needs to be dropped as well, or replaced with a "space used by the tenant" measurement?

I can start another request for this if you'd like, but if having multiple tenants on the same disk is supported, t

[2018-11-29 00:56] kbolino commented on #6888
By "quota support" I mean a configuration in minio that would cap the space a tenant can use on a single disk, not necessarily or even desirably something to do with O/S disk quotas.

[2018-11-29 00:57] harshavardhana commented on #6888
Minio calculates used space by calculating all the space that it uses on the disks, i.e including object data, metadata, parity etc.

This is something we have tabled to be implemented in future.

[2018-11-29 01:03] kbolino commented on #6888
OK, I think I have a better understanding of minio's intended uses and why these metrics don't exist currently. Hopefully, when you implemented the tabled feature, you can also provide total/free metrics again and they will be meaningful.

[2018-11-29 01:03] #6888 closed, assigned to nobody

[2018-11-29 07:25] harshavardhana commented on #6882
Was able to reproduce this. The issue is actually quite simple since for some reason we never completed the support for federation in our previous fixes.

[2018-11-29 12:38] gadgilsanjeev opened #6890 "Duplicate uploads while copying large files, which halves the performance"
<I am copying a 25G file over into a bucket. At the back end, I see new files being generated in the /tmp and /multipart folder. If I run a du -sh on the folder, around 50G is taken by the end of it. Once the upload is done, the du -sh drops back to 25G, multipart and tmp folders go back to being empty and the file is present in the bucket I created>

## Expected Behavior
<What this does is that m

[2018-11-29 12:49] nitisht commented on #6890
@gadgilsanjeev the upload happens only once to `/tmp` directory. Then object is simply moved to the bucket atomically. Only when the atomic operation is successful - we return 200/OK to client. This is to ensure that Minio is strictly consistent and we're able to recover without inconsistencies in case the upload fails.

There is no upload performance cost - as the actual upload happens only once.

[2018-11-29 12:54] gadgilsanjeev commented on #6890
What does the multipart folder do? Why does it get additional files during upload?

I also see the disk writes happening twice. If I run iostat at the back end, I see 2x writes going to the disk.

[2018-11-29 12:59] nitisht commented on #6890
Since this is a big file, it may get uploaded in multiple parts (based on client in use). This is standard [S3 behaviour](https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html) meant to ensure if there is a failure while uploading, you don't need to restart from beginning, you can instead resume from the last successfully uploaded part.

Multipart directory holds these parts temporarily

[2018-11-29 13:04] gadgilsanjeev commented on #6890
Is this standard too? That every write is amplified twice?

Here is a screenshot showing the write amplification per second.

Minio client system:
Completed 6.2 GiB/24.4 GiB (140.5 MiB/s) with 1 file(s) remaining

Minio server system:
Device:            tps    kB_read/s    kB_wrtn/s    kB_read    kB_wrtn
sda           7666.00         0.00    490080.00          0     490080
sda           4736.00

[2018-11-29 13:08] nitisht commented on #6890
As I said before the data is first written to /tmp amd moved to the bucket once upload is complete.

[2018-11-29 15:21] harshavardhana commented on #6890
This is true only in case of FS mode, erasure coding mode doesn't write twice.

In FS we need to do this because we cannot keep parts as is i.e we want a single contigous file. We concatenate in background preemptively as the parts come in.

Design principal of FS mode is to keep the namespace human readable, so in future, if Minio is to be uninstalled - you can start using the files on the backen

[2018-11-29 15:48] ztane commented on #6844
Hi, sorry, the POST body in my issue is just a small excerpt - if you compare it with the one generated by `curl`, the `curl` code would send

[code]

whereas the C# code (and the Windows phone browsers, for `<input type=hidden>` I presume) would generate

[code]

i.e. each form-data part would have a `Content-Type: text/plain;charset=utf-8` header.

I could make the post work by capturing the ful

[2018-11-29 16:12] ztane commented on #6844
Sorry, now I know how to produce this easily. The clients we're using generate a request as if by

[code]

From `curl` manuals:

[2018-11-29 19:13] #6873 closed, assigned to nobody

[2018-11-29 23:52] harshavardhana commented on #6882
This is not a regression but a missing functionality, PR is sent here for the initial work - https://github.com/minio/minio/pull/6891

[2018-11-30 04:46] kterusaki opened #6896 "Error: Invalid combination of marker ':' and prefix 'some/prefix/withMarker:'"
When running a ListObjects request and using a marker, the server throws an error.

## Expected Behavior

The server should return a result where the key has the prefix 'some/prefix/withMarker:'. For example,
something like the following result would be returned: 'some/prefix/withTrailing:andTheFollowingExt.txt`

## Current Behavior
The server throws an error with following response: `com.amazonaw

[2018-11-30 04:55] harshavardhana commented on #6896
This is expected marker is a full object not an opaque string, marker should have the common prefix with input prefix.

[2018-11-30 05:16] #6364 closed, assigned to Praveenrajmani

[2018-11-30 13:37] miaobyte opened #6897 "does minio's bucket,object have max count limit ？"
does minio's bucket,object have max count limit ？

[2018-11-30 14:56] kannappanr commented on #6897
@timeloveboy No, As far as I know, minio does not have a max limit.

[2018-11-30 16:36] mariamkupa opened #6898 "Oracle RMAN hangs when using Minio for Azure"
1. Created Minio application service using the steps described here https://open.microsoft.com/2017/11/09/s3cmd-amazon-s3-compatible-apps-azure-storage/

[code]

[code]

[code]

[code]

2. Installed Oracle Secure Backup module using the following steps: https://blog.pythian.com/backup-oracle-databases-aws-s3/

`$ /u01/app/oracle/product/18.3.0/dbhome_1/jdk/bin/java -jar osbws_install.jar -AWSID ..

[2018-11-30 19:31] kannappanr commented on #6898
@mariamkupa We will look into this issue and get back to you.

The REST API calls that are received by `Minio` can be logged by setting the environment variable `MINIO_HTTP_TRACE=/path/to/log/file` and then restarting minio.

[2018-11-30 19:38] vadmeste commented on #6898
@mariamkupa also are you seeing any log in Minio server output ?

[2018-11-30 21:37] mariamkupa commented on #6898
@kannappanr where should I describe/put this variable?

[2018-11-30 21:44] cagriersen-omma commented on #6782
Absolutely this is a must have  feature especially for large scale deployments. We were planning to deploy such a infrastructure but without auto-heal feature I wouldn't be sure how to handle possible inconsistencies among the nodes.

[2018-11-30 21:47] harshavardhana commented on #6885
The minio setup here is gateway NAS which currently doesn't support notifications.

[2018-11-30 21:49] kannappanr commented on #6898
@mariamkupa Can you try modifying

[code]
to

[code]

[2018-11-30 21:53] harshavardhana commented on #6897
There is no max count limit, but it is advised to not use more than 100 buckets. Instead, use object prefixes to maintain the hierarchy.

[2018-11-30 22:38] frittentheke commented on #6873
@kannappanr I just ran a test using your "RELEASE.2018-11-30T03-56-59Z" version and it just works! Thanks very very much for looking into this and fixing it this quickly!

[2018-11-30 22:43] kirankanth opened #6904 "minio.service: main process exited, code=exited, status=137"
We have configured minio on 4 servers, but once in a while minio servers goes to failed state and we have to login and restart manually. We do not have more details logs on what exactly the error could be, but below are the ones we captured.

[root@server_name01 ~]# systemctl status minio.service -l
â minio.service
   Loaded: loaded (/usr/lib/systemd/system/minio.service; enabled; vendor preset: d

[2018-12-01 01:35] kannappanr commented on #6904
@kirankanth We will take a look at this issue and get back to you with more questions.

[2018-12-01 11:44] tilpner opened #6907 "Infinite redirect with MINIO_BROWSER=off to http(s)://host/minio/minio/minio/minio/minio/..."
With `MINIO_BROWSER=off`, accessing non-existing locations with a browser results in a "Too many redirects" error, after being redirected to `http(s)://host/minio/minio/minio/...`.

## Expected Behavior

With `MINIO_BROWSER=off`, accessing non-existing locations should result in an "Access denied"/"Not found" or similar error. Like it happened in previous versions.

## Current Behavior

With `MINI

[2018-12-01 19:57] harshavardhana commented on #6897
Closing as answered ..

[2018-12-01 19:57] #6897 closed, assigned to nobody

[2018-12-01 19:58] harshavardhana commented on #6890
Closing this as answered

[2018-12-01 19:58] #6890 closed, assigned to nobody

[2018-12-02 03:24] nitisht commented on #6853
closing this as answered @runar-indico . Feel free to reopen if there any further questions

[2018-12-02 03:24] #6853 closed, assigned to nitisht

[2018-12-03 01:26] Danbuth opened #6911 "deploy minio on server"
The scene is：
deploy minio services with docker swarm(like 1*4), and I want the disk space on each node server is large enough.
the disk on the node server build with RAID. Which type of  RAID suitable for the scene.

I have no idea, thinks.

[2018-12-03 02:39] nitisht commented on #6911
If you deploy Minio in this manner, Minio uses erasure coding [https://docs.minio.io/docs/minio-erasure-code-quickstart-guide.html] to protect the data, hence RAID is not required in this scenario

[2018-12-03 02:47] Danbuth commented on #6911
thinks at first.
Yes, I know this type of deployment.
But the situation is :
Each disk may only have 1T of space. With distributed Minio on swarm need to start 1024 services of minio to form a 1PB minio service. Is this unreasonable?

[2018-12-03 02:56] #6856 closed, assigned to nobody

[2018-12-03 04:17] nitisht commented on #6911
You can achieve this using a single service or multiple Minio services - depending on the architecture you like. A single Minio distributed service with 32 Nodes and 64 drives each (1T / drive) will have 1 PB of usable storage space (with default N/2 erasure coding).

[2018-12-03 06:02] Danbuth commented on #6911
thinks very much

[2018-12-03 06:11] #6911 closed, assigned to nobody

[2018-12-03 08:32] #6885 closed, assigned to vadmeste

[2018-12-03 12:49] ccpu opened #6912 "Minio in docker does not generate a config.json file in the desired location"
I am having a problem making minio generates a config.json file outside the docker container.

it does generate the JSON file when using the local server, however, when using b2/aws gateway it fails to generate the JSON file.

also, I can not find it in docker itself under '/root/.minio' directory.

## Expected Behavior
Be able to have access to config.json outside the docker container.

## Curren

[2018-12-03 13:19] mariamkupa commented on #6898
I am not able to ssh yet :)  getting this from web ssh console

![image](https://user-images.githubusercontent.com/7306748/49375647-67f52a00-f71e-11e8-9998-7b57792b397c.png)

I've even tried by this way:

[code]
[code]

I will try to solve this first and will come back for the main problem..

Thank you for helping!

[2018-12-03 14:14] dcs3spp opened #6913 "When send a DELETE request to tusd with minio s3 storage backend, how do I remove associated multipart and tmp resources?"
Hi,

I am a newbie using tusd for serving uploaded files on minio S3 storage with uppy incorporated into the front end with the tus plugin. So far, finding all of these excellent, they have made development much easier. The details of the environment are as follows:

- MacOs High Sierra 10.13.6
- Tusd running within a docker container behind an nginx proxy. Tusd is configured to use minio S3 stora

[2018-12-03 16:26] kirankanth commented on #6904
Again few more  minio's went down over the weekend. It's happening on a daily basis. Below are the logs that were captured over the weekend.

Dec  1 13:43:13 server01 kernel: dockerd-current invoked oom-killer: gfp_mask=0x201da, order=0, oom_score_adj=-500
Dec  1 13:43:13 server01 kernel: dockerd-current cpuset=/ mems_allowed=0
Dec  1 13:43:13 server01 kernel: CPU: 1 PID: 1552 Comm: dockerd-curren

[2018-12-03 16:35] harshavardhana commented on #6913
tmp and multipart are only cleared upon bucket deletes explicitly. Not object deletes, tmp and multipart directories are also cleared once every two weeks automatically.

[2018-12-03 16:38] harshavardhana commented on #6912
Minio stopped creating config.json in users home directories when using server mode it is created in backend, and in gateway we don't support config.json unless you are using etcd. Since all gateways need to access a centralized store.

[2018-12-03 18:15] ccpu commented on #6912
thank you for clarifications.

[2018-12-03 18:15] #6912 closed, assigned to nobody

[2018-12-03 19:03] kannappanr commented on #6913
@dcs3spp sub-directories in `tmp` and `multipart` folders are not deleted upon bucket removal in `fs` mode currently. This could be regression. We will take a look into this and fix it.

[2018-12-03 20:36] harshavardhana commented on #6844
Fixed by #6852

[2018-12-03 20:36] #6844 closed, assigned to balamurugana

[2018-12-03 20:40] dcs3spp commented on #6913
Thanks for responding, @harshavardhana and @kannappanr.

So to confirm, ```tmp``` and ```multipart``` folders are deleted only when their owner bucket is removed. There is currently no mechanism to delete these associated folders directly as part of a DELETE request for an object in a bucket. The current practice is that the  subfolders in _multipart_ and _tmp_ are deleted automatically every two

[2018-12-03 21:00] mariamkupa commented on #6898
@kannappanr @vadmeste have you ever had the above problem during connection to Minio Application service?  I mean problem during "sshing" to Minio app service?
Is there any other way to retrieve this log file that was set by MINIO_HTTP_TRACE parameter?

[2018-12-03 21:28] kaankabalak commented on #5449
Fixed by #5580

[2018-12-03 21:28] #5449 closed, assigned to kaankabalak

[2018-12-03 22:23] kannappanr commented on #6913
@dcs3spp `tmp` and `multipart` folders themselves will not be deleted. The `subfolders` (`inactive uploads`) in `multipart` and `tmp` are deleted every two weeks.

I don't think the time period is configurable.

We will check if we can delete the folder upon successful upload of an object.

[2018-12-03 22:33] mariamkupa commented on #6898
I was not able to solve ssh problem but I got the following logs:

![image](https://user-images.githubusercontent.com/7306748/49405757-d6f96f80-f76c-11e8-85da-1e707b939767.png)

[2018-12-03 23:58] eco-minio opened #6915 "Cannot start large number of disks with docker-compose"
When starting docker-compose with a large amount of disks, minio never starts (just continually shows "Waiting for <n> disks to come online"
## Expected Behavior

Minio should be able to start regardless of amount of disks added, or should error out properly
## Current Behavior

Continual printing of error messages like:
[code]
## Possible Solution

Unsure
## Steps to Reproduce (for bugs)

1.  Cre

[2018-12-04 01:32] kannappanr commented on #6898
@mariamkupa Will look into this and get back to you. Is it possible for you to test with a regular minio binary instead of one on Azure?

[2018-12-04 03:30] hebra commented on #6907
I can confirm this behaviour with ```MINIO_BROWSER=off``` and a public bucket policy sets ```s3:ListBucket``` to Deny but ```s3:GetObject``` (for accessing an object directly via link) to Allow.

[2018-12-04 03:31] harshavardhana commented on #6907
this should be already fixed with #6909

[2018-12-04 06:31] poornas opened #6916 "cache on download does not work in federation mode"
## Expected Behavior

In a federated setup, with cluster 1 and cluster 2, where cluster 2 has disk cache enabled, downloading a file that exists in cluster 1 from cluster 2 should cache the object locally.
## Current Behavior

This is not happening because the bucket forwarding handler middleware routes the request to the cluster that has the bucket (cluster 1) and this never touches the caching l

[2018-12-04 07:38] #6907 closed, assigned to harshavardhana

[2018-12-04 08:16] krisis commented on #6904
@kirankanth Could you describe the I/O workload directed at Minio? E.g how many objects uploaded or downloaded concurrently around the time of OOM kill?

[2018-12-04 09:57] dcs3spp commented on #6913
Many thanks @kannappanr 👍
For info, I originally raised question/issue on tusd github [here](https://github.com/tus/tusd/issues/221).

I am sending the DELETE request to tusd, which then deletes the associated object from minio backend. Tusd has completed the upload since there are no incomplete uploads listed with
```mc ls --incomplete```. Furthermore, the object file is deleted from minio. Just

[2018-12-04 10:06] Kenblair1226 opened #6917 "Deleting bulk objects could lead to panic"
## Expected Behavior
I am using docker-compose to build an environment with an object storage. There is a sidecar container that will check periodically for objects to be deleted and delete them in bulk of size 1000. Minio should successfully delete all objects without problem.

## Current Behavior
Sometimes, minio seems to hang for a while and docker logs are flooded with goroutine dump messages

[2018-12-04 14:31] mariamkupa commented on #6898
@kannappanr Thank you!

Good news is that if I do by the following way:

[code]

and then change osbwsorcl1.ora file that is used by RMAN for contacting media library:

Then it works:

[code]
Which is great of course!!

But before this step there is one more step to install this media libary(2nd step in my initial post) that works when using Minio App Service and does not work with Minio binary:

[2018-12-04 14:35] kannappanr commented on #6917
@Kenblair1226 We will try to reproduce this issue and get back to you with more questions.

[2018-12-04 14:46] aeltawela commented on #6916
@poornas: also it makes sense to have a flag dedicated to caching remote files in federation setup only because I noticed it caches everything including the local mount points.

[2018-12-04 15:37] vadmeste commented on #6898
@mariamkupa it looks like more a setup issue with Oracle, I will try to run it on my end.

[2018-12-04 17:56] harshavardhana commented on #6917
We have fixed this already @Kenblair1226 @kannappanr you need to upgrade your Minio.

[2018-12-04 18:29] kannappanr commented on #6917
@Kenblair1226 Can you please try the latest version as suggested by @harshavardhana

[2018-12-04 19:34] sam2kb opened #6919 "[gateway] Sends unencrypted files to backblaze b2"
Minio gateway sends unencrypted files to backblaze b2 backend

Gateway setup
[code]

Upload command
[code]

The files are transferred successfully but unencrypted. Note that I use a FQDN with a valid SSL certificate.

[2018-12-04 19:42] harshavardhana commented on #6919
We do not support encryption for B2 gateway, We only support encryption for S3 gateway. @sam2kb  - This is expected and might not be fixed any time soon.

[2018-12-04 19:54] sam2kb commented on #6919
This is so sad

[2018-12-04 20:09] harshavardhana commented on #6919
Happy to see PRs and we are willing to accept contributions... this might become easier once https://github.com/minio/minio/tree/new-features is merged.

[2018-12-04 22:57] kirankanth commented on #6904
We were trying to upload two images simultaneously. Image size was around 5GB. (total 10GB)

These are failing every often even when nobody is pulling/pushing images.

[2018-12-05 02:27] #6870 closed, assigned to Praveenrajmani

[2018-12-05 03:18] mlsedu opened #6921 "Multi-user not working with nas gateway"
I'm attempting to run minio as a distributed gateway to a backend nfs host, and am unable to get the multi-user functionality to work.

## Expected Behavior
1. Create the desired policy
2. Create the desired user and associate with the policy
3. List users or operate using new user

## Current Behavior
When attempting to list the users, I see:
**mc: <ERROR> Cannot list user sio: unsupported versio

[2018-12-05 05:39] Kenblair1226 commented on #6917
Will do and report back! Thanks!

[2018-12-05 06:17] harshavardhana commented on #6921
NAS gateway doesn't support it unless you are using etcd - we only support Multi-user with etcd.

So you will have to enable MINIO_ETCD_ENDPOINTS

[2018-12-05 11:37] krisis commented on #6904
@kirankanth how are you uploading the images? Are you using minio, AWS SDK or `mc`? How much RAM is being allocated to the minio docker container?

[2018-12-05 14:14] mariamkupa commented on #6898
How to start minio binary on https instead of http?

[2018-12-05 15:57] mohanklein commented on #6627
can I adjust the cleaning of unfinished multipart uploads (e.g. user closes browser accidentially) by simply running a cron which deletes files older than {X} from `.minio.sys/multipart` or is this a bad idea? I think two weeks is very long regarding huge file uploads which failed towards the end ... This might take up a lot of space and in my case it's pretty unlikely that users will resume uploa

[2018-12-05 16:35] harshavardhana commented on #6627
If this is most common we can reduce the 2 weeks to less than 3 days @mohanklein - manually is never a good idea.

[2018-12-05 17:02] yeleaveszi opened #6923 "failed to start docker container panic: runtime error: index out of range"
failed to start docker container panic: runtime error: index out of range

[root@MyLinux64 /home]# docker run -p 9000:9000 minio/minio server /data
panic: runtime error: index out of range

goroutine 1 [running]:
github.com/minio/minio/cmd.makeAdminPeers(0xc4204a4d00, 0x1, 0x1, 0xc42035abd0, 0xc4205a0960, 0xc4205d2660)
	/q/.q/sources/gopath/src/github.com/minio/minio/cmd/admin-rpc-client.go:150 +0

[2018-12-05 17:03] kirankanth commented on #6904
We are running minio on a VM. Each VM has 7GB of memory assigned.
Please let me know if you have any further questions, and i can get that for you.

[2018-12-05 17:06] harshavardhana commented on #6923
Just tested I don't see an issue

[code]

[2018-12-05 17:06] harshavardhana commented on #6904
Depending on the object size we might need more memory here, 7GiB wouldn't be enough.

[2018-12-05 17:12] krisis commented on #6904
@kirankanth Are you using minio, AWS SDK or mc to upload the objects? Are you using multipart upload?

[2018-12-05 17:21] harshavardhana commented on #6921
You would need something like this, setup etcd https://github.com/minio/minio/blob/master/docs/sts/etcd.md

Setup nas gateway
[code]

[2018-12-05 17:30] yeleaveszi commented on #6923
Yes, I think in most case, it is OK. And I start minio server very smoothly in my iMac.
I read the related source code : admin-rpc-client.go:150
`localAddr = net.JoinHostPort(sortIPs(localIP4.ToSlice())[0], globalMinioPort)`
This cause the "index out of range". It's about the IP.
Maybe it is the network config cause this problem?
Do you have any clue?
Thank you very much.

[2018-12-05 18:11] harshavardhana commented on #6915
Reproduced this @eco-minio looks like a bug

[2018-12-05 19:39] mlsedu commented on #6921
Thank you very much for the information.

[2018-12-05 19:39] #6921 closed, assigned to nobody

[2018-12-05 19:53] mohanklein commented on #6627
@harshavardhana great! I don't see any practical case where users would upload files that take more than 2 days nor where users would pause a download and then resume after 2 days :-)

[2018-12-05 19:54] #6915 closed, assigned to harshavardhana

[2018-12-05 20:21] harshavardhana commented on #6923
No i don't, I am not able to reproduce this though. Feel free to close if you cannot.

[2018-12-05 20:46] kirankanth commented on #6904
We have quay configured and minio is the storage that is running in the backend and using docker push/pull command to uploading and downloading images. I am not sure of the multipart upload, is there is any specific config that i need to look at?

[2018-12-06 01:49] kannappanr opened #6928 "GCS: Custom metadata and Content-Language should be supported"
## Expected Behavior
Custom metadata and Content-Language should be set successfully

## Current Behavior
Cannot set custom metadata that is supported in S3 and Content-Language.

## Possible Solution

## Steps to Reproduce (for bugs)
Start minio in GCS Gateway mode
[code]

## Context
Making sure Gateway GCS is compatible with AWS S3

## Regression
No

## Your Environment

* Version used (`minio v

[2018-12-06 02:03] kannappanr opened #6929 "GCS: Rootcause aws-sdk-php putbucketpolicy failure in mint run"
GCS supports only readonly policy. The policy used in this test is
[code]
This might need some translation in Gateway layer to be compatible with GCS?

## Expected Behavior
If the test is applicable for GCS, it should succeed in mint. If not, the failure in mint should be ignored.

## Current Behavior
Mint fails.

## Possible Solution

## Steps to Reproduce (for bugs)
[code]

[2018-12-06 02:06] kannappanr opened #6930 "GCS: Translate S3 regions to corresponding GCP regions"
`us-east-1` is being translated to `us` in GCS, maybe we should do the same for other regions also.

## Expected Behavior
Setting `us-west-1` on a client should translate the region at GCS level to `us-west1`

## Current Behavior

makeBucket fails with InvalidBucketName

## Possible Solution

## Steps to Reproduce (for bugs)
[code]

## Context

## Regression
No

## Your Environment

* Version used

[2018-12-06 02:08] kannappanr opened #6931 "GCS: Return correct error message when wrong location is used in makeBucket"
if `us-west-1` is used for location, then the error sent to the client is `InvalidBucketName`, though the failure is because of invalid location. Correct error should be sent to the client.

## Expected Behavior
makeBucket should fail with Invalid Region error

## Current Behavior
makeBucket fails with InvalidBucketName

## Possible Solution

## Steps to Reproduce (for bugs)
[code]

## Context

##

[2018-12-06 02:22] Danbuth opened #6932 "the num of objects in a bucket"
Maximum number of objects per bucket in  Limits of S3 API is no-limit.
In actual use, how many objetcs will affect performance.
In my test, I already have 5 million objetcs and It still has no effect.

[2018-12-06 02:39] harshavardhana commented on #6932
It depends on your backend filesystem

[2018-12-06 04:05] Jimmyscene commented on #6853
@harshavardhana  Could you elaborate on how to do this? I have a repo [here](https://github.com/Jimmyscene/miniomemes) which demonstrates the issue similar to runar-indico , I believe, however I'm not sure how he got it to work with that simple nginx config, which is identical to mine.

My problem is two-fold:
1) I cannot instantiate a minio client with a path based route, ie https://localhost/min

[2018-12-06 06:21] averyfreeman opened #6933 "GLIBC relocation error in 18.04 -- snap only problem (wrong author addressed, major user error epic fail)"
$ snap run minio server

minio: relocation error: /snap/minio/1186/lib/x86_64-linux-gnu/libpthread.so.0:symbol __mmap, version GLIBC_PRIVATE not defined in file libc.so.6 with link time reference

## Expected Behavior

Should run?

other posted issues re: glibc say wrong version if not using 17.10 -

## Current Behavior

not shit

## Possible Solution

if you're going to post a snap that only work

[2018-12-06 06:26] nitisht commented on #6919
closing this as answered @sam2kb

[2018-12-06 06:26] #6919 closed, assigned to nobody

[2018-12-06 06:28] nitisht commented on #6896
closing this as answered @kterusaki feel free to reopen if there are any further issues

[2018-12-06 06:28] #6896 closed, assigned to nobody

[2018-12-06 06:29] nitisht commented on #6854
closing due to no response, feel free to reopen once you have the requested information

[2018-12-06 06:29] #6854 closed, assigned to nobody

[2018-12-06 06:34] nitisht commented on #6336
closing this for now as there are no plans to do this currently.

[2018-12-06 06:34] #6336 closed, assigned to nobody

[2018-12-06 06:40] nitisht commented on #6686
closing this as working as intended

[2018-12-06 06:40] #6686 closed, assigned to kaankabalak

[2018-12-06 06:42] nitisht commented on #5858
closing this for now @aead , please reopen if you think this is still an issue

[2018-12-06 06:42] #5858 closed, assigned to aead

[2018-12-06 06:44] harshavardhana commented on #6933
We don't support snap, neither we officially build one. Just use the official binaries that we release.

We don't have any plans to support snap either.

[2018-12-06 07:03] averyfreeman commented on #6933
I'm so sorry!  I feel like an idiot - I had too many tabs open and thought this was the snap author's git page.

Trying out the docker image now - any problems running on rkt?

[2018-12-06 07:03] #6933 closed, assigned to nobody

[2018-12-06 07:08] runar-indico commented on #6853
I might elaborate a bit here on my setup. I actually define two routes for minio, since it expects to sit at the root of the domain, one for the generated url and minio by itself, `https://example.com/minio` pointing to `http://minio` and https://example.com/miniobrowser`  pointing to `http://minio/minio`. Using this, I am able to rewrite the generated url into a valid form, since nginx converts i

[2018-12-06 09:27] mohanklein commented on #6627
@harshavardhana I think older than 3 days is good `time.Hour * 24 * 3`

[2018-12-06 10:29] #6923 closed, assigned to nobody

[2018-12-06 12:21] tomerzel87 opened #6934 "Error: Backend down when using gateway to aws s3"
When writing multiple objects to a minio acting as a gateway to AWS with local cache, getting the following errors:

API: PutObject(bucket=data, object=agents/group-ADCDPL/agent-S0W1/resources/chunks/full_vol:DISK01:2018-12-06_114645.676Z:2805a94d-be66-47a9-b726-df3w82f57188:00001911.chunk.bin)
Time: 12:01:46 UTC 12/06/2018
RequestID: 156DBCAEBF30D7AF
RemoteHost: 192.1.1.2
UserAgent: jclouds/2.1.0

[2018-12-06 14:46] kannappanr commented on #6934
@tomerzel87 We will try to reproduce this issue and get back to you with more questions.

[2018-12-06 17:40] kirankanth commented on #6904
Thanks for the update. We'll make a note of it.

[2018-12-06 18:10] aead commented on #5511
I will send a PR to fix this - thanks for the ping @kannappanr

[2018-12-06 18:19] poornas commented on #6934
@tomerzel87, looks like you lost network connectivity to s3 backend while this object was being written. Cache writes occur simultaneously with backend writes - if there was a network issue, it would cause cache to fail as well. Is this happening consistently on all uploads or just a one-off issue?

[2018-12-06 18:36] vadmeste commented on #6898
@mariamkupa, basically I believe this is a bug in oracle installer itself,

 `Exception in thread "main" java.lang.RuntimeException: java.lang.IllegalArgumentException: URI can't be null.`

The error happens when you pass an url -awsEndPoint http://127.0.0.1:9000, so you need to drop http and the port number from that argument

I didn't successfully
[code]

To use HTTPS, you can following this lin

[2018-12-06 19:38] mariamkupa commented on #6898
@vadmeste the best solution would be if Minio App Service works. Not binary but App Service, that will be simplest solution.

What have you indicated here? "xxxx.azurewebsites.net" did you setup App service ?

I will try using https.

[2018-12-06 19:51] mariamkupa commented on #6898
@vadmeste, please tell me if I am doing something wrong:

1. Generated a Certificate using generate_cert.go:
[code]

2. Renamed cert.pem to public.crt and key.pem to private.key:

[code]

3. Placed certificates in ~/.minio/certs/CAs/

[code]

4. Started minio binary:

[code]

so it still started on http, but I need https, am I doing anything wrong?

[2018-12-06 20:17] mariamkupa commented on #6898
There is one more interesting point that I should mention.

As I said previously:
1. media library installation works with **Minio App Service**, but does not work with **Minio binary**.
2. RMAN backup works with **binary** but does not work with **App Service**, but let's stop here:

If after the 1st step I do not change the following parameter in `/u01/app/oracle/product/18.3.0/dbhome_1/dbs/osbw

[2018-12-06 20:42] coffee-squirrel opened #6935 "`CopyObject` fails when "?versionId=null" is included in "X-Amz-Copy-Source" (BOSH Backup and Restore + PCF)"
When using [BOSH Backup and Restore SDK](https://github.com/cloudfoundry-incubator/backup-and-restore-sdk-release) with any unversioned blobstore (e.g. Minio) [`?versionId=null` is included](https://github.com/cloudfoundry-incubator/backup-and-restore-sdk-release/blob/8eae90caee9f43abfcc371278a724d9d28c4e991/src/github.com/cloudfoundry-incubator/s3-blobstore-backup-restore/s3/bucket.go#L151) at th

[2018-12-06 20:44] harshavardhana commented on #6935
We do not support versioning @coffee-squirrel so it won't work.

[2018-12-06 20:48] coffee-squirrel commented on #6935
@harshavardhana Yes, understood.  I believe the BOSH Backup and Restore SDK team is indicating that including `?versionId=null` as part of the `X-Amz-Copy-Source` header value (indicating "no version") is valid according to AWS S3 API, though.  Thoughts on that?

[2018-12-06 20:53] harshavardhana commented on #6935
It might be but we don't support anything related to versions. We might enable this one off since it means no version anyways. But I doubt this is the only fix that would be needed.

[2018-12-06 21:01] coffee-squirrel commented on #6935
@harshavardhana Would stripping the query string altogether when splitting the bucket and object ([CopyObject](/minio/minio/blob/RELEASE.2018-11-22T02-51-56Z/cmd/handler-utils.go#L95), [HeadObject](/minio/minio/blob/RELEASE.2018-11-22T02-51-56Z/cmd/object-handlers.go#L488), etc.) be a better option?  No special handling of `versionId`, etc.

We're successfully using Minio as the blobstore for PCF

[2018-12-06 21:24] harshavardhana commented on #6935
Yes but all of those are simply workarounds. We should interpret them properly. Let's see what we can do.

[2018-12-07 12:44] ihamouda commented on #6701
HI @harshavardhana
any progress on this?

[2018-12-07 13:24] tiasarea opened #6937 "corruption at disk level gets healed silently"
Setup:
2 servers with 4 disks each (logical volumes 3.8GB each)
/srv/minio/data{1,2,3,4}

CentOS Linux release 7.5.1804 (Core)
kernel 3.10.0-862.3.3.el7.x86_64

minio server version:
minio.RELEASE.2018-12-06T01-27-43Z

ip of servers: 192.168.97.221 and 192.168.97.222

config:
MINIO_VOLUMES="http://192.168.97.222/srv/minio/data1 http://192.168.97.222/srv/minio/data2 http://192.168.97.222/srv/minio/

[2018-12-07 15:28] tiasarea commented on #6937
I realized there was a newer version of mc, however results stay the same.

 ~/mc.RELEASE.2018-12-05T22-59-07Z admin heal -r test_minio
 ◓  mybucket/1mbfile0998
    1/1,000 objects; 1000 MiB in 9s
    ┌────────┬───────┬─────────────────────┐
    │ Green  │ 1,003 │ 100.0% ████████████ │
    │ Yellow │     0 │   0.0%              │
    │ Red    │     0 │   0.0%              │
    │ Grey   │     0 │

[2018-12-07 16:18] vadmeste commented on #6898
You should put certificates in ~/.minio/certs/, not CAs/

I am still trying to reproduce:
`Error: xml: encoding "US-ASCII" declared but Decoder.CharsetReader is nil`

and it is weird to have this error because your tool seems to be using AWS SDK, which is known to work perfectly with Minio, we didn't see this before. I will investigate further and update you

[2018-12-07 16:30] vadmeste commented on #6898
By the way, yes, I did setup the App service, and I have an Minio endpoint which points to Azure blob storage, it works fine with mc

[2018-12-07 16:31] mariamkupa commented on #6898
@vadmeste I was able to configure https endpoint by your advice thank you.

[code]

But still not able to indicate it in Library download script getting the same error. Trying to find correct parameters.

I do appreciate your help about `Error: xml: encoding "US-ASCII" declared but Decoder.CharsetReader is nil `

[2018-12-07 17:07] mariamkupa commented on #6898
I am almost close to the solution:

1. I have started minio on http again instead of https, because with App service I have found using netstat that the connection is established on port 80.

2. Instead of 9000 I used port :80

[code]

3. Now I see that AWS credentials are valid but getting Connection refused error.

[code]

Error has changed 💪  😄

[2018-12-07 17:14] kannappanr commented on #6937
@tiasarea The green color might suggest that more than 80% of the disks have correct data for the object. As far as dry run itself is healing the object, we will try to reproduce it here.

[2018-12-07 17:17] vadmeste commented on #6898
For this error `Error: xml: encoding "US-ASCII" declared but Decoder.CharsetReader is nil `, can you test this image instead `vadmeste/minio:oracle` ? I believe this would fix that error you are seeing

[2018-12-07 18:31] mariamkupa commented on #6898
1. I created App Service by indicating image `vadmeste/minio:oracle`

	az webapp create \
    --name "aleminio" \
    --deployment-container-image-name "vadmeste/minio:oracle" \
    --plan "MinioAppPlan" \
    --resource-group "mari184V2"

2. I do not see error on App Service but RMAN still hangs on the same step.

[2018-12-07 18:57] vadmeste commented on #6898
@mariamkupa it looks like osbws installer has a bug and really needs https even if -useHTTPS flag is not passed.

Running local Minio gateway:

[code]

Running osbws_install
[code]

However, you need to ask java to trust Minio certificate (since it is self signed), in my system, I do this way:
[code]
(by default, the asked password is `changeit`)

[2018-12-07 19:46] dmolesUC opened #6938 "Objects in buckets with capitalized names can be listed with AWS cli, but not with mc"
## Expected Behavior

Minio should consistently provide, or consistently not provide, access to buckets with invalid names (e.g. containing capital letters).

Note this may be somehow related to running on case-insensitive (but case-preserving) APFS, or to running on macOS.

## Current Behavior

`mc` doesn't list buckets with capitalized names, or their contents, but Minio does expose them to `aws

[2018-12-07 20:38] mariamkupa commented on #6898
I was searching that, to make self-signed certificate trusted, Thank you!!! I will try and write to you soon. You are rock @vadmeste !

[2018-12-07 20:56] msinj opened #6939 "Unable to initialize the server in distributed mode: Credentials missing."
## Expected Behavior
Should start the distributed minio. I already change the accesskey and secret key manually on the `/data1/.minio.sys/config/config.json` . Also, used the
`export MINIO_ACCESS_KEY=<ACCESS_KEY>`
`export MINIO_SECRET_KEY=<SECRET_KEY>`

## Current Behavior
ERROR Unable to initialize the server in distributed mode: Credentials missing.

      HELP:
        In distributed server mod

[2018-12-07 21:12] harshavardhana commented on #6939
You should never modify the backend here @msinj most probably modifying backend config.json you have corrupted the backend.

Please remove `/data1/.minio.sys/config/config.json` and let Minio create.  Also make sure that when minio server is running envs are set and they are inherited.

[2018-12-07 21:26] kannappanr commented on #6938
@dmolesUC3 Thanks for filing this issue. The tentative fix will be such that if you create a bucket with `Captialized letters` you will receive `InvalidBucketName` error back. I believe this already is the case.
In the case of pre-existing buckets, we might list those buckets and that will solve your issue.

The difference you are seeing between `mc` and `awscli` is due to the fact that both are d

[2018-12-07 21:28] mariamkupa commented on #6898
@vadmeste downloading library works definitely. Thank you for that!

But now RMAN does not work:

So RMAN tries to use HTTP connection, unfortunately. It is not Minio problem definitely. But I would ask you if it is possible to start Minio on http and https at the same time, I may be asking strange thing but see what happens when App Service is used during download:

[code]

2. During downloading

[2018-12-07 21:50] mariamkupa commented on #6898
@vadmeste let's say we are using http instead of https(because RMAN works with minio binary started on http ).

1. `[root@rac1 ~]# ./minio  gateway azure --address :80`

For simplicity I will take one of the ip address not localhost  from endpoints(because on localhost there is a lot of traffic).

`http://192.168.1.1`

3. Trying to download

[code]

getting `Connection refused` error.

4. netstat

[2018-12-07 22:11] vadmeste commented on #6898
Basically, there is no problem to run two Minio *gateway* instances and point to the same Azure blob storage (it is possible only because it is a Minio gateway and not a Minio server)

So currently, let's run two instances at the same time:
`minio gateway --address ":80" azure`
`minio gateway --address ":443" azure`

[2018-12-07 22:25] mariamkupa commented on #6898
@vadmeste it works now. As I see to start minio on HTTP I must remove certificate and key from ~/.minio/certs, correct?

1.  I have certificate and key in place and running minio:

`# ./minio  gateway azure --address :443
`
started on https

2. Removed certificate/key from ~/.minio/certs, otherwise minio starts on https again

`# ./minio gateway --address ":80" azure
`
started on HTTP

3. For down

[2018-12-07 23:24] harshavardhana commented on #6701
No further progress yet, we will get to this soon.

[2018-12-08 06:42] kannappanr commented on #6898
@mariamkupa You do not have to remove the certificate. By default the `certs` are stored in `~/.minio/certs` folder. But you can specify a custom folder `./minio --config-dir /path/custom/ gateway --address ":80" azure `

[2018-12-08 08:00] malisetti opened #6941 "Move to S3 from Minio"
Hey, is there any way i can easily switch from minio to using aws s3 ? I used golang client to interact with minio while developing an app now i want to use s3 while deployment.

[2018-12-08 08:39] harshavardhana commented on #6941
Yes you can all you have to do is just change the endpoint to point to AWS S3, feel free to reach out to us on https://slack.minio.io for more real-time answers to these questions.

[2018-12-08 08:39] #6941 closed, assigned to nobody

[2018-12-08 08:58] tiasarea commented on #6937
@kannappanr
dry-run does not heal the object.
neither dry-run does let user know there is an issue wit the object, which is my problem.

another problem is that heal (not dry-run this time) does not let user know that it found a problem and fixes it, instead it silently fixes the problem.
which is an issue because you want to know when your storage starts to die, you want to move out asap in this

[2018-12-08 10:37] kannappanr commented on #6937
@tiasarea There are two modes of operation in `mc`. One is how you did it. The other is using a `--json` flag. If you really want exact information of what is missing etc, you should use the `json` flag.

Here is an output
[code]
This tells you that the first disk is missing this particular part. The idea is displaying with `color` codes is to abstract it out. There is no way for us to display the

[2018-12-08 10:48] tiasarea commented on #6937
Ohh!!!
very interesting indeed.
I will be able to test on my test cluster only on next monday.
I will definitely switch to json and parse the result and see if corruption is detected.
thank you for the heads up.

[2018-12-08 13:21] mariamkupa commented on #6898
@vadmeste @kannappanr Thank you very much!

I am satisfied with the workaround. We can close this issue.

In conclusion:

1. We start Minio on HTTPS and use this endpoint for library download.
2. Another Minio will be started on HTTP that will be used by RMAN
3. We can stop HTTPS Minio, because it is only necessary for the initial download.

I will post detailed instructions on my blog also, it wi

[2018-12-09 08:32] tomerzel87 commented on #6934
@poornas we wrote several blobs to AWS which caused our internet connection to become a bit slow.
I'd assume if there is a internet problem or if it's jammed, minio would write the blobs async to AWS when the line is clear. Does that sound reasonable?

[2018-12-09 10:51] NaorShmueli opened #6943 "Unable to upload object by method PresignedPutObjectAsync"
Return URL for put operations for upload files incorrect.
my full flow is:
1. The client sent me a request (to my server).
2. My server fires the PresignedPutObjectAsync and get URL and return it to the client.
3. The client tries to upload a file to this URL and get an error.

## Expected Behavior
I expect to get URL for upload file with HTTP put operation

## Current Behavior
The current behavio

[2018-12-09 11:43] ztane commented on #6844
Hmm, is this in play.minio.io yet?

[2018-12-09 13:14] #6943 closed, assigned to nobody

[2018-12-09 14:58] tomerzel87 opened #6944 "Mint tests on a s390x minio server container fails on minio-py tests"
We are testing the usage of minio on a s390x linux server.
We've built a container based on version 2018-11-22T02:51:56Z and ran it successfully on SUSE 12.3 s390x.
Started running mint on a "regular" x86 server pointing to the s390x container endpoint.
Got the following error:
Exception: Presigned get url failed to expire!

## Current Behavior

Full trace:
(11/13) Running minio-py tests ... FAILE

[2018-12-09 16:35] nitisht commented on #6944
@tomerzel87 do you see any server side logs?
Also, can you enable `MINIO_HTTP_TRACE` and run only the `minio-py` tests in mint, and give us the output.

[2018-12-09 17:54] harshavardhana commented on #6844
We made a release so you can download the latest. Play is not updated yet.

[2018-12-10 08:12] tomerzel87 commented on #6944
Server side logs that we saw:
API: SYSTEM()
Time: 12:46:58 UTC 12/09/2018
Error: malformed HTTP request from '174.25.0.3:9000'
       remoteAddr=172.24.92.41:47418, localAddr=174.25.0.3:9000
       1: cmd/http/listener.go:274:http.(*httpListener).start.func2()

API: SYSTEM()
Time: 12:46:58 UTC 12/09/2018
Error: malformed HTTP request from '174.25.0.3:9000'
       remoteAddr=172.24.92.41:47420, loc

[2018-12-10 08:23] harshavardhana commented on #6932
Closing this issue as answered..

[2018-12-10 08:23] #6932 closed, assigned to nobody

[2018-12-10 08:24] harshavardhana commented on #6851
Closing this as fixed in #6855  - please upgrade and let us know.

[2018-12-10 08:24] #6851 closed, assigned to krisis

[2018-12-10 08:25] harshavardhana commented on #6917
@Kenblair1226 were you able to validate this?

[2018-12-10 08:27] harshavardhana commented on #6269
We can perhaps close this issue @nitisht

[2018-12-10 08:54] nitisht commented on #6269
closing this @Meerbi , do let us know if there are problems with the suggested approach.

[2018-12-10 08:54] #6269 closed, assigned to Praveenrajmani

[2018-12-10 09:24] Kenblair1226 commented on #6917
We’ve already updated to the latest version, but this issue happens not very often and seems require a long run to reproduce. So far in our test env everything runs smoothly. Feel free to close it, will reopen it if I see it happen again.

[2018-12-10 09:28] #6917 closed, assigned to nobody

[2018-12-10 10:06] tomerzel87 commented on #6944
Attaching the http trace output:
[output.log.gz](https://github.com/minio/minio/files/2662619/output.log.gz)

Let us know if you need anything else.

[2018-12-10 11:00] Latifa-tity commented on #6836
"Windows 7 operating system
IP address 213.150.178.14
Javascript enabled Yes
Cookies enabled Yes
Flash Version Not Installed
Java version Not installed
Supported Websockets Yes
Size of the browser 1349 x 657
Screen size 1366 x 768
24 bit color depth"
@kanagarajkm  i used another computer and always the same problem,
but I do not see any points in the password field.

[2018-12-10 13:53] tiasarea commented on #6937
I realized there was a newer version of mc, however results stay the same.

 ~/mc.RELEASE.2018-12-05T22-59-07Z admin heal -r test_minio
 ◓  mybucket/1mbfile0998
    1/1,000 objects; 1000 MiB in 9s
    ┌────────┬───────┬─────────────────────┐
    │ Green  │ 1,003 │ 100.0% ████████████ │
    │ Yellow │     0 │   0.0%              │
    │ Red    │     0 │   0.0%              │
    │ Grey   │     0 │

[2018-12-10 13:57] tiasarea commented on #6937
dear @kannappanr ,

I have indeed tested with the json flag, and even though object corrupted is marked green after and before, I can see that a property "corrupted" has been raised to 1.

so indeed block corruption is detected, and I appreciate it very much.

I would still bring to your attention the fact that color codes associated to object were a bit confusing at least to me.

For the specific

[2018-12-10 13:57] #6937 closed, assigned to harshavardhana

[2018-12-10 15:22] ruben-herold opened #6946 "server: Support ipv6 with minio server"
hi,

starting minio server on an ipv6 only system shows:
tcp        0      0 0.0.0.0:9000            0.0.0.0:*               LISTEN      18402/minio

[root@store01 conf.d]# /opt/minio/bin/minio version
Version: 2018-12-06T01:27:43Z
Release-Tag: RELEASE.2018-12-06T01-27-43Z
Commit-ID: 40852801ea63d0e10f220c0d7d2a8d6a8efa5688
[root@store01 conf.d]#

I found no way to let it listen on ipv6. We have h

[2018-12-10 15:24] nitisht commented on #6946
@ruben-herold please refer https://github.com/minio/minio/issues/3359

[2018-12-10 15:24] ruben-herold commented on #3801
[root@store01 conf.d]# /opt/minio/bin/minio version
Version: 2018-12-06T01:27:43Z
Release-Tag: RELEASE.2018-12-06T01-27-43Z
Commit-ID: 40852801ea63d0e10f220c0d7d2a8d6a8efa5688

does not listen on ipv6 :

telnet localhost 9000
Trying ::1...
telnet: connect to address ::1: Connection refused
Trying 127.0.0.1...
Connected to localhost.

[2018-12-10 15:34] ruben-herold commented on #6946
@nitisht ok looks bad for us. We have no chance to use ipv4 so seems minio is death for us. It is very bad that at end 2018 software still only support legacy ip.

[2018-12-10 16:14] ruben-herold commented on #6946
@nitisht @harshavardhana could please add a big notice to the readme and to the documentation that minio supports only legacy ip? This could save hours of work for many people.

[2018-12-10 16:19] vadmeste commented on #6898
Reopening this since we probably need to support different encoding.. I need to see if AWS SDK supports setting xml encoding

[2018-12-10 16:31] harshavardhana commented on #6946
IPv6 never came across as a hard requirement for us from our users. We indeed listen on all ports, I am not sure when this has changed - i.e when we stopped listening on IPv6.

If IPv6 is a hard requirement it is something quite easy for us to address.

[2018-12-10 16:43] ruben-herold commented on #6946
@harshavardhana  please rember ipv4 is out since years.Only limited resources are available, the prices for ipv4 space got higher every year.  Also ipv4 is deprecated. So in 2018 should be no software exists without ipv6 support.  For example in Germany we have an ipv6 adoption rate from current more then 40% (https://www.google.de/ipv6/statistics.html#tab=per-country-ipv6-adoption).

I don't know

[2018-12-10 16:58] harshavardhana commented on #6946
All our documents only talk about ipv4 so in essence that part should be fine.

Minio is largely deployed as an on prem on an internal network, so we have never seen ipv6 being used with Minio and needed as a hard requirement.

I agree that IPv6 support is a must and we never really prioritized it until we see our first user. So thank you for the reminder we can now prioritize it soon.

[2018-12-10 17:14] ruben-herold commented on #6946
@harshavardhana thx for the feedback

Here you see the problem. ipv4 is deprecated since years so nobody really would think that in 2018 a software has no proper ipv6 support even if it is not explicit  documented.

[2018-12-10 17:27] #6701 closed, assigned to harshavardhana

[2018-12-10 18:09] kterusaki commented on #6896
Thanks for the response, after closer inspection it looks like we're misusing the s3 marker in our applications. I've corrected this on our end, but I'd still like to reopen the issue since the behavior when using a marker in this way still returns a 200 and results from s3. Whereas the minio s3 server returns a 501.

[2018-12-10 18:13] harshavardhana commented on #6896
Returning 200 is wrong because that means the request was a success, we would like to differ here and return something which is unexpected such that you can fix your application.  So we would prefer to keep it current style rather than returning 200 (which means success) and can result in silent bugs.

[2018-12-10 19:27] poornas commented on #6934
@tomerzel87, the underlying minio-go client by default is configured to retry the upload upto 5 times before it returns the Backend Down error

[2018-12-10 19:43] quasilyte opened #6948 "suspicious duplicated switch case clause in cmd/object-api-error.go"
## Expected Behavior

Switch doesn't have duplicated case clauses.

## Current Behavior

Switch statement has duplicated case clauses.

## Possible Solution

Remove duplicated case clause, as it's effectively a dead code.

## Steps to Reproduce (for bugs)

Look at the code:

https://github.com/minio/minio/blob/master/cmd/object-api-errors.go#L43-L56

Attaching a screenshot with highlighting of imp

[2018-12-10 21:50] kannappanr commented on #6948
@Quasilyte Thanks for filing this issue. We will send in a PR to fix this issue.

[2018-12-10 22:41] dloy opened #6949 "Minio Server Exception on upload - The specified multipart upload does not exist."
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-12-10 22:51] dloy commented on #6949
While uploading 6.7G file using com.amazonaws.services.s3.transfer.TransferManager I repeatedly get:
[code]
--------------------------------------------
Both digest and length of return file match the original uploaded file.

The upload is performed using the latest version of Minio on download.

If metadata with correct length is returned from Minio does that confirm that the file has been writte

[2018-12-10 22:54] dloy commented on #6949
Didn't mention I'm using:
<dependency>
            <groupId>com.amazonaws</groupId>
            <artifactId>aws-java-sdk</artifactId>
            <version>1.11.438</version>
        </dependency>

[2018-12-10 23:08] kannappanr commented on #6949
@dloy Can you please tell us how you are running minio? Is it running in `Gateway S3` mode? Also, are you trying to upload and encrypt on the server side? Do you also have a sample application that you can share with us to reproduce the issue here?
Are you using `minio.RELEASE.2018-12-06T01-27-43Z` version of `minio`?

[2018-12-11 00:30] dloy commented on #6949
Note for smaller files this error does not appear.

I'm currently running the download (not docker) for release/linux-amd64
2018-12-06 01:28 version.
------------------------------------------
In addition to the returned error listed before I also see the following
processing error in the log:

API: CompleteMultipartUpload(bucket=testbucket,
object=ark:/13030/mytest|1|IÃ±tÃ«rnÃ¢tiÃ´nÃ lizÃ¦tiÃ¸n)

[2018-12-11 01:37] kannappanr commented on #6949
@dloy For smaller files, you will not see this issue, as it will not be doing `multipart` upload. As far as this issue, I see that the object-name has some non-ascii characters, is it failing when you have only ascii characters.

Was the object uploaded even though you are seeing this error?

[2018-12-11 05:07] kannappanr opened #6951 "Compression: CopyObject strips Compression related headers, if metadata is passed"
Copyobject seems to strip compression related headers if metadata is passed

## Expected Behavior
Compression related headers should not be removed.

## Current Behavior
Compression related headers are removed.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Start minio for FS or XL with compression enabled
2. Create a bucket called `testbucket`
3. Create an object called `object_copy.t

[2018-12-11 09:21] zhangyoufu commented on #6009
`minio gateway nas` requires `MINIO_ACCESS_KEY` & `MINIO_SECRET_KEY` being specified via environment variable. ~And `minio gateway nas` does not support multiple user.~

[2018-12-11 11:13] tomerzel87 commented on #6934
@poornas I can tell you that we tested with minio as gateway to AWS and without.
When we ran without minio the writes to AWS were ok and no timeouts occurred.
Only when we setup minio to check if it can help us as gateway we got the timeouts. Also what are the default timeouts?

[2018-12-11 13:17] ruben-herold commented on #6946
@harshavardhana your pull request does not help. I compiled a minio with your patch and without
--address it still listen only on ipv4 and if I pass a ipv6 only hostname to --address I got:

ERROR Unable to validate passed arguments: host in server address should be this server.

[2018-12-11 15:08] msinj commented on #6939
Hello,
I have tried just using the export command. It's not working.
Giving below error:
`sudo ./minio server http://192.168.1.144/data1 http://192.168.1.145/data1 http://192.168.1.216/data1 http://192.168.1.217/data1`
![image](https://user-images.githubusercontent.com/35358239/49809349-a85f3400-fd2c-11e8-90ed-4ac61857949a.png)

[2018-12-11 15:22] kannappanr commented on #6939
@msinj can you try this
[code]

or

[code]

[2018-12-11 15:47] msinj commented on #6939
The first command worked. Although, it gave below error, I have removed the /data1/.minio.sys to fix the error.
`ERROR Unable to initialize backend: Disk /data1: found backend fs, expected xl.`
Thank you

[2018-12-11 15:52] kannappanr commented on #6939
@msinj Yes you cannot use the same directory used to run different mode of minio. Will close this issue as answered. Please feel free to reach out to us if you have more questions.

[2018-12-11 15:52] #6939 closed, assigned to nobody

[2018-12-11 16:26] dloy commented on #6949
@kannappar I have confirmed I don't see a problem with non-multipart.

I ran with a plain ascii key ("International") and had the identical
errors. I ran a digest confirmation (downloading using S3 api) on the
content and it was successfully written by Minio.

Currently the S3 client and Minio are running on the same host. I will
see if running the client remote, will make any difference.

On 12/1

[2018-12-11 16:59] harshavardhana commented on #6009
Minio gateway nas supports multi user with etcd configured.

[2018-12-11 17:39] poornas commented on #6934
@tomerzel87, retry starts at 30 seconds with exponential backoff. You mentioned that writes to AWS without minio as gateway had no timeouts - was this the case when you turn off cache?  Can you paste your cache settings and how you are starting gateway with docker to help debug further

[2018-12-11 20:05] #6951 closed, assigned to Praveenrajmani

[2018-12-11 22:19] harshavardhana commented on #6946
I updated the PR

Here are a few ways I tested and how it's working

Basic test
[code]

[code]

[code]

Please test again @ruben-herold

[2018-12-12 06:50] #6329 closed, assigned to aead

[2018-12-12 07:47] bupy7 commented on #6795
@harshavardhana everything is working. Thanks a lot!

[2018-12-12 09:58] ruben-herold commented on #6946
@harshavardhana  ok now it works here. It was a failure during patching the source code

[2018-12-12 10:41] tomerzel87 commented on #6934
@poornas  our cache settings:
MINIO_CACHE_EXPIRY=30
MINIO_CACHE_MAXUSE=75

I've mounted an external directory as the caching directory and it had ~150GB of free space to utilize.

[2018-12-12 10:50] roengram opened #6955 "Bug in Null condition function?"
According to [AWS document](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_condition_operators.html#Conditions_Null), it seems that value `true` means that the specified key should be NULL - i.e. nonexistent. But [the code](https://github.com/minio/minio/blob/21d8c0fd13cfb775c1c5ddd05e01feea07d81674/pkg/policy/condition/nullfunc.go#L39) is implemented the other way ar

[2018-12-12 13:32] nitisht commented on #6955
Thanks for noticing this @roengram we'll take a look and fix if needed

[2018-12-12 16:55] aeltawela commented on #6862
@harshavardhana: question, does this PR cover the request to use domain name instead of public IP? If not, is it tracked with another ticket?

PR: https://github.com/minio/minio/pull/6918

[2018-12-12 16:58] harshavardhana commented on #6862
Adding domain names directly will not work, it requires other changes in etcd + coreDNS. Will re-open this for now.

[2018-12-12 17:04] aeltawela opened #6956 "Deleting bucket fails"
Deleting bucket fails in a federation setup in gateway nas mode.

## Expected Behavior
It should be deleted normally.

## Current Behavior
It returns error mc.exe: <ERROR> Failed to remove `yyy/xxx`. Bucket `xxx` does not exist.

## Steps to Reproduce (for bugs)

1. Start 2 cluster in a federation setup.
2. Create a dummy bucket
3. Try to delete it

## Regression

I recall it was working normally

[2018-12-12 17:18] harshavardhana commented on #6956
This is fixed in https://github.com/minio/minio/pull/6936

[2018-12-12 18:54] harshavardhana commented on #6956
Fixed by #6936

[2018-12-12 18:54] #6956 closed, assigned to nobody

[2018-12-12 19:00] Lisiadito opened #6957 "Creation of user returns error in swarm mode with load balancing"
I run a 3 node docker swarm setup with an nginx for load balancing and tls.
## Expected Behavior

I can create an user with an policy attached.
## Current Behavior

When I run
`./mc admin user add minio newuser newuser123 customPolicy `
I get following Error
`mc: <ERROR> Cannot set user policy for new user The specified user does not exist.`

According to my conversation in slack it is caused by m

[2018-12-12 19:43] #6935 closed, assigned to harshavardhana

[2018-12-12 20:53] dloy commented on #6949
@kannappar I have done further testing and running remotely for client
to server still has the same stack trace, again content correctly
written. I also ran minio on a linux2 platform and it worked with no
stack trace. Thanks David

On 12/11/2018 8:26 AM, David Loy wrote:

--
David Loy
UC3 - CDL

[2018-12-12 23:30] dloy commented on #6949
@kannappanr Question after a multipart upload, if there is metadata can I assume the upload was successful?

[2018-12-12 23:30] #6949 closed, assigned to nobody

[2018-12-13 00:45] harshavardhana commented on #6949
@dloy just check the size of the object that you intend to upload by doing a StatObject()

[2018-12-13 05:21] sj26 opened #6959 "Canned ACLs not applied"
Minio does not respect "public-read" canned acl when creating new objects via s3 protocol.

## Expected Behavior

[code]

## Current Behavior
Browser returns a 403. The "public-read" isn't applied.

## Possible Solution
Turn canned acls into bucket policies and apply during object creation.

## Context
This doesn't function like actual S3 so masks subtle permission bugs.

## Regression
Unknown.

#

[2018-12-13 05:25] harshavardhana commented on #6959
We don't support ACLs instead we support bucket policies - this is mentioned in documentation https://docs.minio.io/docs/minio-server-limits-per-tenant.html

[2018-12-13 05:25] #6959 closed, assigned to nobody

[2018-12-13 06:48] sanverm2 opened #6960 "Accessing Minio NAS gateway using mc command it is not able to connect and fetch data consistently"
I am seeing issue with NAS gateway. I have created a PVC ( with accessModes: ReadWriteMany  using glusterFS)) . I am using replica 4. However, when accessing it using mc command it is not able to connect and fetch data consistently.

[code]

STEPS:
Creating PVC ( using glusterFS as it must support rw many ) .

[code]

Deploying Minio as NAS gateway:
[code]

Accessing NAS gateway.

[code]
Note: The

[2018-12-13 07:27] kannappanr commented on #6957
@Lisiadito Thanks for filing this issue. We will send in a fix for this issue soon.

[2018-12-13 07:39] poornas commented on #6934
@tomerzel87 , tried to repro this issue starting gateway with docker container like so,
[code]
and ran some automated tests that upload objects to the gateway. I was able to simulate the error you see when I killed my network connection - after the retries, the client fails with Object storage backend is unreachable.
[code]
Can you run tcpdump while uploading to gateway with cache on, and attach p

[2018-12-13 07:42] harshavardhana commented on #6960
do you have any logs on the GlusterFS ? is the underlying GlusterFS configuration like? is it distributed/replicated?

[2018-12-13 07:45] sanverm2 commented on #6960
It is replicated:3 .

[2018-12-13 07:50] harshavardhana commented on #6960
Can you attach the GlusterFS client logs?

[2018-12-13 07:53] harshavardhana commented on #6960
Make sure also that your GlusterFS has following settings enabled

[code]

Refer https://github.com/minio/minio/issues/5467#issuecomment-365993266

[2018-12-13 08:06] sanverm2 commented on #6960
We are using glusterFS on k8s cluster using Heketi.

Here is volume info as reported by gluster pod.
[code]
Other logs:

[code]

[code]

[2018-12-13 08:47] sanverm2 commented on #6960
After Enabling the settings  aforesaid settings for glusterFS volume, the issues  seems to have disappeared.

[code]

[code]

[2018-12-13 08:49] harshavardhana commented on #6960
@sanverm2 that is what I would expect - GlusterFS default behavior is not the same as expected from a POSIX filesystem such as XFS etc.  So I did suspect you needed these options to be enabled to get it properly working with GlusterFS.

[2018-12-13 08:59] sanverm2 commented on #6960
Yes, it looks like. But I am not sure if all these options needed or there is just one that is enabling it.
Need to check what is  default values of  ```features.shard: on``` .

[2018-12-13 09:10] harshavardhana commented on #6960
Most probably one of these is doing the trick

[code]

[2018-12-13 10:32] sdes1480 opened #6962 "The documentation needs clarification for the Docker setup"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-12-13 10:32] sdes1480 opened #6963 "The documentation needs clarification for the Docker setup"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-12-13 10:32] sdes1480 opened #6964 "The documentation needs clarification for the Docker setup"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-12-13 10:35] #6962 closed, assigned to nobody

[2018-12-13 10:35] #6963 closed, assigned to nobody

[2018-12-13 10:36] harshavardhana commented on #6964
Please open a more descriptive issue @sdes1480

[2018-12-13 10:36] #6964 closed, assigned to nobody

[2018-12-13 10:39] sdes1480 commented on #6964
The current docker command as shown in the documentation is not functional .
docker run -p 9000:9000 --name minio1 \
  -e "MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE" \
  -e "MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY" \
minio/minio gateway nas /testmnt
This command will not map the internal container buckets to the NAS backend, instead it will create a mount point within the container u

[2018-12-13 10:41] harshavardhana commented on #6964
where is this mentioned?

[2018-12-13 10:43] harshavardhana commented on #6964
Also feel free to open a Github issue with a more descriptive explanation and what needs to be fixed.

[2018-12-13 10:46] harshavardhana commented on #6955
Do you have an example reproducer where this is violated? @roengram

[2018-12-13 11:12] sdes1480 opened #6965 "NAS gateway setup not properly documented"
NAS gateway setup not properly documented

## Expected Behavior
The expected behavior of the command as documented by Minio docs is to be able to store objects passed through the Minio S3 gateway to a NAS mountpoint and also to be access data already in place on the NAS mountpoint.
The NAS mountpoint was pre-created and mounted to the host running the container under /testmnt, data could be writen

[2018-12-13 14:27] nitisht commented on #6965
Thanks for reporting @sdes1480 we'll take a look soon

[2018-12-13 14:28] nitisht commented on #6960
closing this as working as intended @sanverm2 feel free to reopen if there are further issues.

[2018-12-13 14:28] #6960 closed, assigned to nobody

[2018-12-13 17:19] pehbehbeh commented on #5279
We also need to set the bucket policy to `download` but would like to disable the anonymous listing of files inside the bucket via the Minio Browser GUI.  Because of this issue we need to set `MINIO_BROWSER=off`. Any chance to get an update on this?

[2018-12-13 17:35] harshavardhana commented on #5279
Sure this can be definitely fixed..

[2018-12-13 20:09] #6898 closed, assigned to vadmeste

[2018-12-13 20:21] petertiedemann opened #6971 "Signature mismatch on text/plain put object (C# AWS SDK)"
Using the C# AWS SDK a PutObject request that succeeds against S3 itself, causes a signature exception.

## Expected Behavior
Expecting Put operation to succeed

## Current Behavior
[code]

## Steps to Reproduce (for bugs)
I am testing with the following snippet, directly based on the C# example on minio.io
[code]

## Context
I have an existing code base that supports (amongst others) S3, and i wo

[2018-12-13 20:26] kannappanr commented on #6971
@petertiedemann Thanks for this issue and the example code. Also, are you seeing this issue only with this `keyname`? What is the behavior if you use a `keyname` named say `object`?

[2018-12-13 21:15] coffee-squirrel commented on #6935
@harshavardhana thank you for getting the related PR into `RELEASE.2018-12-13T02-04-19Z`.  After testing that release out in conjunction with BBR (verifying `CopyObject` worked), it seems `CopyObjectPart` is also impacted in the same way as `CopyObject`, etc.  Would you prefer a new issue?

[code]

[2018-12-13 21:58] harshavardhana commented on #6935
Sent a PR to fix it as well https://github.com/minio/minio/pull/6972

[2018-12-13 22:04] kannappanr commented on #6971
@petertiedemann I think this is the same issue as explained in https://github.com/minio/minio/issues/6548#issuecomment-435494339

This is a bug with `AWS .NET SDK`

[2018-12-13 23:31] aead opened #6973 "Docs: Explain how SSE-S3 key-rotation for Vault works"
The server supports rotation of key-encryption-keys for SSE-S3 encrypted objects.
It should be documented how this works.

## Expected Behavior
There should be documentation about how to rotate a SSE-S3 encrypted object.

## Current Behavior
No such documentation exists

## Possible Solution
Assuming Vault is configured as KMS and the key-name/key-id is `my-minio-key`
Key rotation for SSE-S3 objec

[2018-12-14 01:29] kbolino opened #6974 "Health check timeout is too low"
## Expected Behavior
Running `docker exec <container> ps -o stat,comm | grep ^Z` returns empty output

## Current Behavior
Running `docker exec <container> ps -o stat,comm | grep ^Z` returns many lines (e.g. 815 on one minio instance that's been up for a little over 24 hours), all of which are from command `healthcheck.sh`

## Possible Solutions
- Increase the health check timeout in the Dockerfil

[2018-12-14 03:27] nitisht commented on #6974
Thanks for reporting @kbolino we will see how to address it best

[2018-12-14 04:24] harshavardhana commented on #5279
https://github.com/minio/minio/pull/6970 fixed in master @justjanne @pehbehbeh

[2018-12-14 05:58] #6948 closed, assigned to nobody

[2018-12-14 07:37] #6946 closed, assigned to harshavardhana

[2018-12-14 09:29] pehbehbeh commented on #5279
@harshavardhana Thanks a lot! 👍

[2018-12-14 11:30] dawsongzhao opened #6976 "Does minio support resuming broken downloads/uploads?"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and version (`uname -a`):
* Link to your project:

[2018-12-14 11:34] dawsongzhao commented on #6976
In some case,The network environment is bad, and the Object/file is upload or download is large size . so  most time it will be broken. Does minio support resuming broken downloads/uploads?

[2018-12-14 12:08] petertiedemann commented on #6971
@kannappanr Thanks for the quick reply. Doesn't sound like something that is easily fixed. I guess it is better to simply support Minio's own API directly, probably also less brittle going forward.

[2018-12-14 14:44] nitisht commented on #6976
@dawsongzhao yes, Minio does support multi part upload - as specified in AWS S3 spec: https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html

Closing this issue as answered, do join us on slack : https://slack.minio.io for further such questions

[2018-12-14 14:44] #6976 closed, assigned to nobody

[2018-12-14 17:11] harshavardhana commented on #6971
We already have C# SDK which you can migrate to https://github.com/minio/minio-dotnet

[2018-12-14 18:43] petertiedemann commented on #6971
@harshavardhana Thanks for the tip, however i had already noticed. It looks to be very close to the S3 API, so it will be pretty trivial to implement it as an alternative storage backend.

[2018-12-14 18:45] harshavardhana commented on #6971
There is no reason to write a separate backend minio-dotnet SDK works the same way with S3 and Minio - so you simply have to remove AWS SDK requirement unless you use other AWS services.

[2018-12-14 20:07] theerebuss opened #6979 "Error running minio gateway as a windows service"
Running minio gateway as a windows service, using NSSM, fails.
Executing through command line works without issues.
Tried using Local System and admin user to run the service.

## Expected Behavior
Minio should connect to the server successfully.

## Current Behavior
When I start the Windows service, minio outputs this error:
[code]

## Steps to Reproduce

1. Run server on machine 1 _minio server

[2018-12-14 20:17] petertiedemann commented on #6971
@harshavardhana What i mean with "backend" is that we have an interface through which we abstract away the underlying storage (ie Azure Blob Storage, local disk, zip file, S3, etc). Implementing this interface against the Minio API is what looks pretty trivial. Originally i had planned to simply use our S3 implementation of this interface, but because of the above bug, i looked into using your C#

[2018-12-14 20:26] harshavardhana commented on #6971
Yes that is correct Minio SDK can talk to AWS and Minio

[2018-12-14 21:35] #6502 closed, assigned to nobody

[2018-12-14 21:43] kannappanr opened #7903 "Add new tests to test SSE-S3 using a KMS"
Test `SSE-S3` with both combinations of environment variable `MINIO_SSE_AUTO_ENCRYPTION` {`on`  and `off`}

[2018-12-15 04:42] ihamouda commented on #6957
@harshavardhana Any chance this can be resolved soon?

[2018-12-15 05:26] harshavardhana commented on #6957
@ihamouda a PR has been sent already

[2018-12-15 05:59] wuzhihui1123 commented on #6310
my spinnaker use minio to store data, when access the link (http://spinnaker-api/pipelineConfigs/d5c0cbd5-771e-44d7-9356-74800f903e0d/history?count=2) . it always return the below. it has exist many month:

======
`
com.amazonaws.services.s3.model.AmazonS3Exception: A header you provided implies functionality that is not implemented (Service: Amazon S3; Status Code: 501; Error Code: NotImplemented

[2018-12-15 11:37] kannappanr commented on #6979
@andrefilipedias most probably, `minio` service is getting started before the `crypto` related services startup or the user account running minio service does not have access to the crypto modules.

Local system and admin user should have privileges to access crypto modules.

Are you manually starting the service or is it started as part of system startup?

We will look into reproducing it and get

[2018-12-15 18:31] petertiedemann opened #6983 "Internal error when storing using key containing '..'"
Apparently Minio does not like '..' in the object key, and produces and **internal** error in PutObjectAsync ( in C# API )

## Expected Behavior
Either accept and store correctly, or throw an exception, and make it clear what the limitations on the key format is (so that the caller can encode his key accordingly).

## Current Behavior
[code]

## Steps to Reproduce (for bugs)
[code]

## Context
I n

[2018-12-15 18:39] harshavardhana commented on #6983
This is most probably to do with how it must have been encoded by the SDK

Can you provide request tracing of the call ?

[2018-12-15 18:41] harshavardhana commented on #6310
Do you have a call trace of the request that is being sent to Minio ?

[2018-12-15 19:03] petertiedemann commented on #6983
I assume you mean `SetTraceOn`? It seems to be making two requests in PutObjectAsync, i could not figure out how to dump `RequestToLog` apart from just serializing it to json, so that is what you get.

[code]

[code]

[2018-12-15 20:43] harshavardhana commented on #6983
This looks like a regression in Minio server, we should be rejecting Put calls with `..` in it

[2018-12-15 21:35] petertiedemann commented on #6983
@harshavardhana Okay, good to know, so if i understand you correctly, even if this bug was fixed, it would still not be allowed as a path? (that is i cannot expect Minio to handle escaping of the key). Is there some documentation of exactly what the limitations on the key is supposed to be?

[2018-12-16 00:07] harshavardhana commented on #6983
~Well Minio creates the path on a filesystem. We don't add any proprietary encoding on object names to avoid vendor lock in. So the direct translation of `..` on filesystem is parent directory. So we cannot handle it in any meaningful way. We will reject such names which point to directory navigation.~

[2018-12-16 06:14] harshavardhana commented on #6983
I take that back actually the file should be successfully created it is a valid file on Minio, we don't support objects of the following form

Supported object names
[code]

Unsupported one is
[code]

I am running the latest release and it seems to be working fine. Are you using Minio on windows? @petertiedemann

[2018-12-16 06:15] harshavardhana commented on #6983
If it's on windows it is quite possible such files might not be created look at the object name restrictions https://docs.minio.io/docs/minio-server-limits-per-tenant.html

###  Object name restrictions on Minio

Object names that contain characters ^*|\/&"; are unsupported on Windows and other file systems which do not support filenames with these characters. Note that this list is not exhaustive

[2018-12-16 13:47] siamackSeifi opened #6984 "madmin rest api documentation"
Hi.

I'm trying to send http request to minio server for admin management(add-user, set-user-policy etc)
the request that i made is something like this:

curl -X PUT \
  'http://{IP}/minio/admin/v1/add-user?accessKey=myAccessKey' \
  -H 'Authorization: AWS4-HMAC-SHA256 Credential=xxx, SignedHeaders=cache-control;content-type;host;postman-token;x-amz-content-sha256;x-amz-date, Signature={signature}

[2018-12-16 14:37] harshavardhana commented on #6984
You cannot use postman like clients for admin API especially for add users which are end to end encrypted calls

Here is the documentation
https://github.com/minio/minio/blob/master/pkg/madmin/API.md

[2018-12-16 17:07] Lisiadito commented on #6957
@ihamouda I set the load balancing on my nginx from round robin to ip_hash which works well as a workaround until this pull request is through.

[2018-12-16 18:40] petertiedemann commented on #6983
@harshavardhana So you are exposing the limitations of the underlying file system to the client? How is a client supposed to know if the server is running on Windows or Linux (or something else)? That also means that you cannot necessarily copy entries from one Minio system to another. I guess i had expected that Minio took care of escaping the key string before storing it (we do that when we stor

[2018-12-16 20:05] kannappanr commented on #6983
@petertiedemann We will fix the error returned to the client to be something like `<Error><Code>XMinioInvalidObjectName</Code><Message>Object name contains unsupported characters.</Message>` instead of internal error.

[2018-12-16 22:28] harshavardhana commented on #6983
Of course we could have done a custom format on the backend, but it defeats the design  goals of Minio. Our design is keep things simple, our users when they see the backend in the native understandable format they feel confident if and when they choose to migrate in future. They don't have to deal with complex migration strategies and don't have to use specialized tools to understand the backend.

[2018-12-17 04:35] harshavardhana commented on #7903
With auto encryption, all tests automatically test encryption for all operations. So all it requires is a mint-auto change.

[2018-12-17 06:42] petertiedemann commented on #6983
@harshavardhana I can understand that it keeps things simple, i just see an object store as something more abstract than a file system. But its perfectly fine, i am just glad that Minio exists in the first place :)

In our implementation we will just treat it the same as the windows file system (ie, requiring key encoding).

Regarding your error message, note that in Windows, it is not only certai

[2018-12-17 06:47] harshavardhana commented on #6983
Yes, I know strange things are not allowed in Windows and they need to be fixed on a case by case basis. As various Windows versions have different restrictions. We should simply try to translate the original error that is reported underneath by filesystem.

Do you have a server log corresponding to this error message on the client?

[2018-12-17 06:59] harshavardhana commented on #6984
Closing this as answered, please reach out to us on https://slack.minio.io for further questions.

[2018-12-17 06:59] #6984 closed, assigned to nobody

[2018-12-17 07:06] harshavardhana commented on #6979
Looks like a Go runtime issue due to some missing environment variable https://github.com/golang/go/issues/25210

[2018-12-17 11:14] theerebuss commented on #6979
@kannappanr, the service is being started automatically on boot. Starting it manually still produces the same error.

[2018-12-17 12:58] sgandon opened #6987 "mc admin is failing for multiple commands on Azure Gateway"
When using some `mc admin` commands such as `user list` they fail.

## Expected Behavior

`mc admin user list minio-azure` should list the users
`mc --debug admin policy list minio-azure` should list the policies
## Current Behavior

I have an error such as
[code]
or
[code]
## Possible Solution

## Steps to Reproduce (for bugs)

1. create an AKS cluster on Azure and a Blob Storage.
2.launch the he

[2018-12-17 15:42] vadmeste commented on #5932
Closing for non response, please free to open again if you need it @tamas-nagy-px

[2018-12-17 15:42] #5932 closed, assigned to vadmeste

[2018-12-17 16:15] harshavardhana commented on #6987
Without etcd admin API is disabled on Gateways, especially multi-user.

[2018-12-17 16:23] harshavardhana commented on #6979
I thought you said

Is this not true ?

[2018-12-17 16:29] theerebuss commented on #6979
@harshavardhana that's correct. The issue is only while running it as a service.

By manually, I meant starting the service manually.

[2018-12-17 16:31] harshavardhana commented on #6979
Is it possible to get the list of envs set for this service when the service is being started ? . From the original Go runtime issue attached - they specifically mention SYSTEMROOT not set.

[2018-12-17 17:08] saviodsouza commented on #3223
I use rclone with minio single disk setup.
Uploads are 1/7 speed compared to Samba transfer.

Is it because of concatenation (joining of file pieces at the backend) it's performance is poor..

[2018-12-17 17:21] sgandon commented on #6987
ok thanks, the doc is not mentioning this clearly. I'll try to setup an etcd for this.

[2018-12-17 18:05] kannappanr commented on #6983
Server Log:

[code]
Client Log
[code]

[2018-12-17 18:23] kannappanr commented on #6971
Closing this issue as we already have #6548 open to track the issue with AWS .Net SDK.

[2018-12-17 18:23] #6971 closed, assigned to nobody

[2018-12-17 18:26] harshavardhana commented on #6987
We will do it @sgandon

[2018-12-17 18:36] theerebuss commented on #6979
I set up an NSSM service with a batch file that runs _set_ so I could have the available variables while running as a service.

[code]

Let me know if I can be of further assistance.

[2018-12-17 19:26] krishnasrinivas commented on #3223
@saviodsouza Can you try with `--s3-upload-cutoff 5000MB` option? Reference: https://github.com/ncw/rclone/blob/master/docs/content/s3.md
Please see if this improves performance (assuming most of your files are less than 5GB). If it improves the performance then it indicates that the background append is causing the perf issue.

[2018-12-17 19:35] jdeglopper commented on #6477
@nitisht I believe I'm seeing this error as well, using Docker registry:2.6 with storage configured on Minio RELEASE.2018-12-13T02-04-19Z also in a container.

The error in the minio log is:
[code]

Registry config is:
[code]

Minio config is all in docker-compose.yml:

[code]

[2018-12-17 22:07] msinj opened #6990 "Minio with NGINX"
## Expected Behavior

Connect 4 minio instances with NGINX proxy server
## Current Behavior

Individual link to 4 different minio
## Possible Solution

Using NGINX, we can have one link for all 4 minio
## Steps to Reproduce (for bugs)

1. Installed NGINX
2. Installed 4 minio
3.
4.

## Context

We have installed 4 minio and a NGIX proxy server. Need help on configuring the proxy to load-balance wit

[2018-12-17 22:15] harshavardhana commented on #6990
Have you not looked at https://www.nginx.com/blog/enterprise-grade-cloud-storage-nginx-plus-minio/ ?

[2018-12-18 01:21] harshavardhana commented on #6714
I am assuming @balamurugana you are working on this, moving the assignment.

[2018-12-18 01:23] harshavardhana commented on #6957
Fixed by #6975

[2018-12-18 05:16] roengram commented on #6955
I've created a simple test function as follows. Just add this code snippet at the end of [statement_test.go](https://github.com/minio/minio/blob/master/pkg/policy/statement_test.go) and run. I've used [RELEASE.2018-12-13T02-04-19Z](https://github.com/minio/minio/tree/RELEASE.2018-12-13T02-04-19Z) by the way.
[code]

The execution results are as follows:
[code]
The policy prescribes that a PutObjec

[2018-12-18 05:25] Praveenrajmani commented on #5975
@nitisht shall we close this ?

[2018-12-18 05:27] Praveenrajmani commented on #6086
@dmpriso Sorry for the delayed response. The bucket/object will be locked during the process. So it is intentional to not allow access while an object is under action.

[2018-12-18 06:56] nitisht commented on #6086
closing as working as intended @dmpriso feel free to reopen if there are further problems.

[2018-12-18 06:56] #6086 closed, assigned to Praveenrajmani

[2018-12-18 06:57] nitisht commented on #6990
closing this @msinj please refer to our documentation. Do let us know if something is not working specifically.

[2018-12-18 06:57] #6990 closed, assigned to nobody

[2018-12-18 06:59] nitisht commented on #6987
keeping this open to track doc fix

[2018-12-18 07:39] ihamouda commented on #6957
@Lisiadito hat will be fine in development, but if the created user tries to login from another IP right away, might get error message

[2018-12-18 16:41] sgandon opened #6993 "failing to launch minio as Azure gateway with etcd on K8s"
In AKS with etcd installed to have handling of user and policies launch minio as Azure gateway with `MINIO_ETCD_ENDPOINTS` set and then try to connect to minio and see it fails.

## Expected Behavior

should be up and running
## Current Behavior

minio pod restarts endlessly and create error logs when liveliness probe or any other request is done.
[code]

## Possible Solution

## Steps to Reproduc

[2018-12-18 16:42] nitisht commented on #6993
we'll take a look @sgandon

[2018-12-18 17:13] saviodsouza commented on #3223
The S3 cutoff option was not available in rclone sync https://rclone.org/
commands/rclone_sync/ so used something similar s3-chunk-size 2G &
--s3-upload-concurrency 1 which seemed good.

First upload ran really fast  than stuck at 100% for nearly the same amount
of time for upload and completed.

But I'll wait for few days (nothing to sync for now) & sync again to watch
and see.

:)

On 18-Dec-201

[2018-12-18 17:36] harshavardhana commented on #6477
We do not support `X-Amz-Server-Side-Encryption-Aws-Kms-Key-Id: mykeyid` ie. We don't support AWS KMS encryption style we support SSE-C and SSE-S3

Also your docker registry config should be fixed. Remove the keyid reference and it should work fine.

[code]

[2018-12-18 17:38] harshavardhana commented on #6979
Can we get the list of envs when you start it on cmd or powershell ?

[2018-12-18 18:28] carlosedp commented on #5965
I've been building Minio and mc images for ARM64 in Travis for a while and pushing it into my DockerHub: https://hub.docker.com/r/carlosedp/minio and https://hub.docker.com/r/carlosedp/minio-mc

[2018-12-18 18:35] krishnasrinivas commented on #3223
Looks like `s3-upload-cutoff` was a recent commit, you can get the rclone for master branch here: https://beta.rclone.org/rclone-beta-latest-linux-amd64.zip

[2018-12-18 18:36] krishnasrinivas commented on #3223
--s3-upload-concurrency 1 which seemed good

This won't help as it will still use multipart but with larger chunk size.

[2018-12-18 22:37] #6965 closed, assigned to nitisht

[2018-12-18 22:47] jdeglopper commented on #6477
Thanks, that change to the docker registry config did fix the NotImplemented error - the example I was using was clearly incorrect.  I'm seeing timeout errors from the registry push, but those don't seem to be logged anywhere.

[2018-12-19 09:13] R-omk opened #6995 "The cluster is restarted successfully only when all nodes are started."
I have a docker stack with six nodes.

[code]

Then I emulate the loss of nodes and restore one

[code]

[code]

## Expected Behavior
`./mc admin info  mini`
Should show that the test_minio5 node is running.

## Current Behavior

Both  test_minio5 and test_minio6   is offline

Now  if I restart cluster  via `./mc admin service restart mini`  or via docker (or any other restart ) the cluster will n

[2018-12-19 11:53] tomerzel87 commented on #6934
@poornas It will take me awhile to reproduce this on our lab due to other responsibilities.
Regarding the client it's part of a test program that uses Apache JClouds.

[2018-12-19 12:14] theerebuss commented on #6979
Here are the environment variables for my user:

[code]

[2018-12-19 13:14] nitisht commented on #6882
fixed by #6891

[2018-12-19 13:14] #6882 closed, assigned to harshavardhana

[2018-12-19 13:15] nitisht commented on #6995
We'll take a look on why this is happening @R-omk

[2018-12-19 14:11] nitisht commented on #6944
@tomerzel87 I checked the logs and looks like server allowed the request. Can you confirm if server and mint machine have same time?

To investigate further, could you try simulating the issue with `mc`.

- Configure mc alias to your Minio server endpoint.
- Create a bucket `mc mb myminio/testbucket`
- Upload a file `mc cp <local-file-path> myminio/testbucket/object`
- Create presigned URL by `mc

[2018-12-19 14:56] R-omk commented on #6995
ok, here is my stack file

[code]

[2018-12-19 15:03] sgandon opened #6996 "fail to set bucket policy on Azure Gateway"
I wanted to test the bucket policy on the Azure gateway mode using the `mc policy` command and sometimes it succeed but most of the time it fails.
I know there is some limitation stated in the documentation : "Only read-only bucket policy supported at bucket level, all other variations will return API Notimplemented error."
but I wanted to give it a try.

## Expected Behavior

mc policy <thepolicy

[2018-12-19 16:12] Katona opened #6997 "putObject hangs with AWS SDK version 2"
`putObject` seems to hang when using AWS S3 SDK version `2.1.4` with Mino Server version `2018-12-13T02:04:19Z`.

Here is a test project to reproduce the issue:
https://github.com/Katona/minio-server-with-aws-sdk

[2018-12-19 17:16] kannappanr commented on #6997
@Katona Will try to reproduce this issue. Can you also tell us how you started minio?

[2018-12-19 17:26] harshavardhana commented on #6996
This won't be fixed Azure gateway doesn't implement all the bucket policies because azure backend doesn't implement them.

We have no way to translate an equivalent feature on azure.

[2018-12-19 18:13] Katona commented on #6997
I launched it as a docker container with `docker-compose`. You can check the compose file in the repo I created.

[2018-12-19 20:39] gbarton opened #6999 "Cannot configure minio to push events to mysql 8.x"
## Expected Behavior
When configuring minio to push events to mysql 8.x for event notification it should succeed.

## Current Behavior
When submitting updated config to minio server it fails with reasons:
trying to use user with caching_sha2_password:
mc: <ERROR> Cannot set server configuration file. mysql(1): this authentication plugin is not supported
or
trying user with mysql_native_password se

[2018-12-19 22:30] harshavardhana commented on #6957
This is fixed by #6975

[2018-12-19 22:30] #6957 closed, assigned to harshavardhana

[2018-12-19 22:31] harshavardhana commented on #6996
Closing this as working as intended, until Azure allows for more complex policies for their containers and direct translation from AWS policies until then this cannot be addressed and is the limitation of Azure Blob Storage.

[2018-12-19 22:31] #6996 closed, assigned to nobody

[2018-12-19 22:38] harshavardhana commented on #6579
This is fixed already

[code]

[2018-12-19 22:38] #6579 closed, assigned to poornas

[2018-12-19 22:39] harshavardhana commented on #6582
This is fixed by #6587 - we don't support AWS KMS style encryption headers anymore.

[2018-12-19 22:39] #6582 closed, assigned to poornas

[2018-12-19 22:54] harshavardhana commented on #6219
Most probably you need more settings such as

[code]

Can you apply these missing settings and let us know? especailly ` ignore_invalid_headers off;` should fix your problem.

[2018-12-20 00:00] kannappanr commented on #6999
@gbarton Thanks for reporting this issue. We will try to reproduce this issue. We will also vendorize the latest source of https://github.com/go-sql-driver/mysql .

[2018-12-20 00:20] harshavardhana commented on #6997
This looks like a bug in aws-sdk-java 2 i just upgraded your build.gradle to use latest release and it seems to work fine.

[code]

The issue was perhaps here https://github.com/aws/aws-sdk-java-v2/commit/472f5bfbce08038653b641b070e3ac09ae846313 which was fixed in 2.2.0

[2018-12-20 01:02] Ftagn92 opened #7001 "Py4JAuthenticationError: Failed to authenticate with gateway server from Zeppelin"
Hello,
I'm using Hadoop 2.8.3 (port 8999) / Minio:edge (port 9000) Spark 2.2.1 without hadoop, and zeppelin 0.8.0
When i run a tiny script on my local cluster (1 master / 3 workers), it works
I upgrade to Spark 2.3.2, running the same script from zeppelin fails with the error message
Py4JAuthenticationError: Failed to authenticate with gateway server.

## Expected Behavior
Same result as spark 2.2

[2018-12-20 01:09] harshavardhana opened #7002 "Implement PutObjectRetention/PutObjectLegalHold API"
** not using the template on purpose **

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUTRetention.html

[code]

S3 Object Lock also enables you to place a legal hold on an object version. Like a retention period, a legal hold prevents an object version from being overwritten or deleted. However, a legal hold doesn't have an associated retention period and remains in effect until remo

[2018-12-20 07:42] Katona commented on #6997
Indeed, I confirm that version `2.2.0` works well. Thanks for the help!

[2018-12-20 08:23] Grapefruit-Shu opened #7006 "Cannot set bucket notification(A specified destination ARN does not exist or is not well-formed. Verify the destination ARN)"
old version 2017-09-29T19:16:56Z it can work,,but the new version 2018-12-13T02:04:19Z it didn't work.
the config.json did not create in the default directory, when i create a new directory and put a old config.json, i us this command to start it (nohup ./minio server --address xx.xx.xx.xx:9000 --config-dir=/ete/minio /home/data &)  the log is (Configuration file /ete/minio/config.json migrated fr

[2018-12-20 09:02] sgandon commented on #6996
Multiple remarks here.
1) I did manage to make the bucket public once !!! So this may work.
2) So there is not way for me to make one Bucket or one folder publically available ? I am trying to make a maven repo publically available.
3) I am suprised this policy is not applied by the minio server internally instead of relying  on Azure blob storage features.
4) This also raises a question, if I lau

[2018-12-20 10:16] Katona commented on #6997
However, I can not download the content because of the checksum is invalid. It seems Minio calculates a different checksum than the SDK. I updated my test project to demonstrate the issue.

[2018-12-20 12:49] Katona commented on #6997
Ah, never mind, I turned off checksum calculation of the API.

[2018-12-20 12:49] #6997 closed, assigned to nobody

[2018-12-20 13:41] waqarkhan3389 opened #7009 "Docker Swarm and minio distributed - secrets issue"
Following this doc https://docs.minio.io/docs/deploy-minio-on-docker-swarm - results in the error below.

Maybe this is docker secrets issue - can I set up the stack on swarm via a different method?

**"starting container failed: RemoveSecretsPath failed: remove /var/lib/docker/containers/c6c4623343663d14cf3d551ae9067d32b2df7239e4f6d32fb36f7cd8cc13704b/secrets/access_key: read-only file system"**

[2018-12-20 14:34] nitisht commented on #7006
@Grapefruit-Shu Minio server behaviour with respect to `config.json` has changed. Please refer documentation https://docs.minio.io/docs/minio-bucket-notification-guide.html and try accordingly.

[2018-12-20 14:37] nitisht commented on #7009
Yes, please try this yaml file, https://github.com/minio/minio/blob/master/docs/orchestration/docker-swarm/docker-compose.yaml

[2018-12-20 14:38] kannappanr commented on #7006
@Grapefruit-Shu Adding to the above comment, the ARN names are printed when the server starts up and you need to use that ARN. Can you also please paste the output of `mc admin info myminio`, `mc admin config get myminio` after redacting the `accesskey` and `secretkey`? Also, can you make sure that service to receive notification is running.

[2018-12-20 14:39] nitisht commented on #7001
We'll try this locally and see what is wrong @Ftagn92

[2018-12-20 15:47] waqarkhan3389 commented on #7009
Seeing this:

services.minio2.environment.0 must be a string

[2018-12-20 17:30] harshavardhana commented on #6996
Yes you can do the 4th one

Minio gateway is a share nothing architecture, we don't want to make gateway rely on some other config to satisfy S3 API. Gateway is simple as it is.

IAM and users are our internal implementation so it made sense to leverage etcd to support that.

[2018-12-20 17:38] ebozduman opened #7011 "GCS: minio-py Mint test 'test_remove_incomplete_upload' fails"
minio-py Mint test failure during remove_incomplete_upload test when minio server runs in gateway GCS mode.

Here are the failure console messages:
[code]
## Steps to Reproduce (for bugs)
1. run minio-py mint tests or the following script:
[code]
## Regression
It looks like a regression, since this test passed before.

## Your Environment
$ ./minio version
Version: 2018-12-19T22:36:33Z
Release-Tag

[2018-12-20 17:55] Laykou commented on #5927
Hi, I'd also like to figure out how to disable this header.

The reason is **security**. You don't want to reveal any unnecessary information to potential hacker, do you? This way they know the content/files are served by Minio. The less information is exposed, the more secure the web is. The best approach is to minify/obfuscate any information and not to reveal any versions ... nothing.

Is there

[2018-12-20 19:21] aead commented on #5927
At the moment there is no way to disable sending the version as part of  the response header. However, this does not imply that doing so gives an attacker any (significant) advantage. Sure, an attacker could (automatically) identify a (potentially) vulnerable server. However, the same is true for admins, security researchers, scanner/tools, ... So hiding the version may also make it harder to iden

[2018-12-21 01:48] Grapefruit-Shu commented on #7006
@nitisht According to what you said i have did it ,thank you. yesterday i ignored the top message.
@kannappanr thank you too, with you said i find the ARN

[2018-12-21 01:48] #7006 closed, assigned to nobody

[2018-12-21 05:07] harshavardhana commented on #7011
Are you sure? we haven't been running GCS tests for some time now..

[2018-12-21 07:53] drook opened #7013 "cannot upload file into given minio bucket"
I have a minio server, and a bucket that I made out of the existing directory. This directory already hold about 3/5 millions of subdirectories. I'm trying to upload the file into it using both web-client and minio-client. I'm receiving different error both ways, no erroe is logged in the logs.

## Expected Behavior

Expected behavior: I'm able to upload the file using both web-client and minio-cl

[2018-12-21 08:49] tech-mint commented on #6014
this is not working as you expect

[2018-12-21 10:14] drook commented on #7013
I also got some logging for two attempts:

[code]

[2018-12-21 10:35] nitisht commented on #7013
how did you start the Minio server? Looks like the error you're getting is [EXDEV](http://man7.org/linux/man-pages/man2/rename.2.html) - have you mounted a different FS to bucket location?

[2018-12-21 11:03] drook commented on #7013
minio is started as

[code]

and yes - /usr/local/public/profiles is a different filesystem mountpoint.

[2018-12-21 11:09] nitisht commented on #7013
It won’t work that way, as Linux doesn’t allow renames across mounts. Can you try starting minio on /usr/local/public/profiles

[2018-12-21 11:14] drook commented on #7013
Okay, thanks. Didn't know that.

[2018-12-21 11:14] #7013 closed, assigned to nobody

[2018-12-21 12:00] juv commented on #6170
@kannappanr any update on this?

[2018-12-21 12:29] Praveenrajmani commented on #7009
@waqark3389  I used exactly the same docker compose file as provided in the docs

[code]

i don't see any error here.
Can you remove `rm -rf /var/lib/docker/containers/c6c4623343663d14cf3d551ae9067d32b2df7239e4f6d32fb36f7cd8cc13704b/secrets/` and try again

And it would be better if you provide us the docker version

[2018-12-21 13:11] waqarkhan3389 commented on #7009
Changed to:

[code]

[2018-12-21 16:14] Praveenrajmani commented on #7009
@waqark3389 Or you can even follow the step 3 in https://docs.minio.io/docs/deploy-minio-on-docker-swarm for the secrets and use the default yaml template

Did you try removing the `/var/lib/docker/containers/c6c4623343663d14cf3d551ae9067d32b2df7239e4f6d32fb36f7cd8cc13704b/secrets/` ?

[2018-12-21 16:32] harshavardhana commented on #6014
Feel free open a new issue @tech-mint

[2018-12-21 17:58] ebozduman commented on #7011
@harshavardhana,

I did not run GCS tests before, so I am not 100% sure. But, I assumed somebody was running all Mint tests for all previous releases, before I started running GCS tests recently.

I'll ask @kannappanr to confirm and then will update the information here.

[2018-12-21 18:20] crcjs opened #7016 "minio server -h output includes a default Path to a deprecated configuration directory. ("/Users/Administrator/.minio")"
minio server -h output includes the -C option which shows the path to a configuration directory. The configuration directory has been moved so this statement is no longer valid.

I minio server with the -C option and a valid path. It created the directory, but did not use that directory to hold the configuration files. Perhaps this portion of the code also needs to be removed?

FLAGS:
  --config-d

[2018-12-21 18:25] kannappanr commented on #7016
@crcjs We are still maintaining certs in that directory. Will talk internally and see if we can rename the flag.

[2018-12-21 18:36] harshavardhana commented on #7016
It is also kept to honor previous config.json in situations where we need to preserve it. We cannot remove it so issue is sort of invalid we will have to change the wording to indicate that the cofig-dir is a legacy option.

[2018-12-21 19:30] kannappanr commented on #6170
@juv I think the support is already there as of release (RELEASE.2018-09-11T01-39-21Z) (https://github.com/minio/minio/pull/6291) Will Close this issue as fixed. Please re-open a new issue if you think otherwise.

[2018-12-21 19:30] #6170 closed, assigned to balamurugana

[2018-12-22 16:12] Ftagn92 commented on #7001
Hello, thanks for your message
I upgraded Hadoop fron 2.8.3 to 3.1.1 (and org.apache.hadoop:hadoop-aws:3.1.1 artifact) and it works now
Dependencies are worst than the DLL's hell in the 90's :)

[2018-12-22 16:22] nitisht commented on #7001
That is great news, do feel free to close the issue @Ftagn92

[2018-12-22 17:07] Ftagn92 commented on #7001
Yes, just typing my final setup :

Ubuntu 16.04 LTS
Python 3.5 by default (and PYSPARK_PYTHON value)

Minio/minio:edge as a container, exposing port 9000

Hadoop 3.1.1 (for the framework) with core-site.xml pointing to http://127.0.0.1:9000 as fs.s3a.endpoint

Spark 2.3.2-without-hadoop (to link to my v3.1.1)
local spark cluster launched with ./start-master.sh and SPARK_WORKER_INSTANCES=3 SPARK_WO

[2018-12-22 17:07] #7001 closed, assigned to nitisht

[2018-12-23 03:23] n0guest commented on #5279
@harshavardhana, are these changes included in the release 2018-12-19?

If yes, then how about corresponding changes in mc (minio client)? As I understand for now mc can't assign custom policy to a bucket. And it's possible only via 3rd party tools (like aws cli, etc). It's kind of strange when "native" minio client doesn't support all minio server features.

What do you think?

[2018-12-23 06:02] harshavardhana commented on #5279
We won't do it in `mc` - custom policies are part your responsibility to use the SDK and turn off appropriate actions. Server will honor it.

`mc` appropriately implements the canned policies bringing in right set of abstractions, for most common use cases - it's not meant to entertain all wordly combinations. It is also not meant to mimic an SDK for that we have minio-go which can be used for fur

[2018-12-23 11:08] #6862 closed, assigned to harshavardhana

[2018-12-23 12:40] n0guest commented on #5279
Sorry, maybe I used wrong words. I meant, that from user's point of view mc is "native" tool for administration purposes of minio server. Including setting of pre-existing policies on buckets, managing canned policies and users. Again maybe it's just my impressions, but then such expectations should be "cleared" in early stages - in the docs. I.e.:

Or maybe such "plain" explanations already in mi

[2018-12-23 17:13] Praveenrajmani commented on #7009
Were you be able to resolve this with the above workaround? @waqark3389

[2018-12-24 11:37] krisis commented on #6999
@gbarton Could you share a sample configuration that isn't working for you in the released minio version? It would help in testing if simply updating the `go-sql-driver/mysql` package fixes this issue.

[2018-12-24 11:43] krisis commented on #6904
@kirankanth do you still see this issue after increasing the VM memory?

[2018-12-24 21:33] thbeh opened #7020 "Spark writing to minio error"
## Expected Behavior

## Current Behavior
Lately I have testing PySpark and using minio as my object storage. While I can read files in Minio S3 and uses minio s3 as spark history logs but whenever I try to write to minio it give java.lang.NullPointerException event though the folder is created with /thbeh/test_1/_temporary/0/

## Possible Solution

## Steps to Reproduce (for bugs)
df1 = spark.cre

[2018-12-24 22:03] harshavardhana commented on #7020
Null pointer exception looks like a setup issue on your end, we have successfully used spark even to write to Minio.

[2018-12-24 22:07] thbeh commented on #7020
This is how I define my spark config, if that's the setup you are refering to -
from pyspark import SparkContext
from pyspark.sql import SparkSession

sc=spark

hadoop_conf=sc._jsc.hadoopConfiguration()
hadoop_conf.set("fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem")
hadoop_conf.set("fs.s3a.endpoint","http://192.168.34.202:9000")
hadoop_conf.set("fs.s3a.access.key","minio")
hadoop_conf.set(

[2018-12-25 00:08] harshavardhana commented on #6955
Understood @roengram will fix it.

[2018-12-25 00:41] harshavardhana commented on #7020
[code]

[code]

Seems to be working fine @thbeh - this is why I said your local configuration might be wrong.

[2018-12-25 03:19] thbeh commented on #7020
Thanks. I am running from jupyter, so will have a look at jupyter conf.

[2018-12-25 17:29] kirankanth commented on #6904
We haven’t increased the memory as we are in the dress period. We will increase and get back to you.

[2018-12-25 19:29] harshavardhana commented on #1508
Not a problem @srghma GitHub automatically did that.

[2018-12-25 20:18] thbeh commented on #7020
I guess I know where the issue lies. Using the above example with all jars relate to hadoop 2.8.5 works without any issue. My issues are my code have dependencies on hadoop 2.7.4 and thus only aws-sdk 1.7.4 . Looking back at my histories it did work few months back probably with an older version of Minio but couldn't detect which version it was.

[2018-12-25 20:22] thbeh commented on #7020
it has to do with generating a null value for MD5Checksum, something similar to #5232

[2018-12-25 21:48] harshavardhana commented on #7020
Those were actually bugs in aws-sdk-java https://github.com/minio/minio/issues/5232#issuecomment-347074296 - you should use the later versions such as 1.11.234 used in my test.

[2018-12-26 10:03] #6955 closed, assigned to harshavardhana

[2018-12-26 12:12] nitisht commented on #7020
@thbeh closing this based on previous comments, looks like there is no action from Minio server perspective.

[2018-12-26 12:12] #7020 closed, assigned to nobody

[2018-12-26 12:32] suryas18 opened #7025 "Does Minio support search?"
Does Minio offer apis for search?If not are there any options for integrating search tools with Minio Sever?If yes what are the search tools supported?Can Elastic Search be integrated with Minio?What about HIVE?Please revert.

Thanks and Regards
Surya

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your

[2018-12-26 12:35] nitisht commented on #7025
@suryas18 S3 API doesn't have a search functionality, accordingly Minio doesn't have search APIs. You can integrate Elasticsearch - follow the docs [here](https://docs.minio.io/docs/minio-bucket-notification-guide.html#Elasticsearch)

Closing this issue, feel free to reach out on [Slack](https://slack.minio.io) for further such questions.

[2018-12-26 12:35] #7025 closed, assigned to nobody

[2018-12-27 01:52] #6987 closed, assigned to krisis

[2018-12-27 04:51] rumpelstiltzkin commented on #3857
Hi @harshavardhana ,

Thanks for the detailed resolutions and explanations above. Our usage of Minio involves storing millions of objects that don't have a "/" delimiter in their names. So using it on top of a filesystem like ext4 seems to be giving us the same or similar problems as above. The latest one is "No space for directory leaf checksum. Please run e2fsck -D". I suspect that's also due to

[2018-12-28 12:39] suryas18 opened #7029 "Minio throws exception during image upload"
Hi,
   I have minio server Version: go1.10.2 running from a  docker container on an ubuntu VM.

 I have made the required configuration changes in minio server for integrating an elastic search endpoint which synchronizes a .jpg file upload in minio as per the following documentation.
https://docs.minio.io/docs/minio-bucket-notification-guide.html#Elasticsearch.

The Elastic server is hosted in Wi

[2018-12-28 19:53] harshavardhana commented on #7029
Here the object was uploaded to `images` bucket but you are doing a statObject on `miniodemo`  bucket - this is a bug in your code, can you check?

[2018-12-29 04:04] suryas18 commented on #7029
@harshavardhana,  thanks for the support.doing a statObject on **images** bucket solved the issue.

[2018-12-29 04:07] harshavardhana commented on #7029
@suryas18 please close the issue if there is nothing else pending.

[2018-12-29 04:20] #7029 closed, assigned to nobody

[2018-12-29 12:04] divanikus commented on #5994
I'm keep having the same issue on the latest version. Is there any config option for that?

[2018-12-29 12:18] harshavardhana commented on #5994
Feel free to open an issue @divanikus with some more information.

[2018-12-29 16:30] nitisht commented on #6999
@gbarton we have updated the `go-sql-driver/mysql` in master, can you try it out? or if possible share a sample configuration so we can confirm

[2018-12-30 23:02] Gibheer opened #7032 "configure minio instance documentation"
Some time ago the configuration `config.json` was moved into the data directory. This leads to some confusion on my side. I don't know if it is even supposed to work the way it was documented in the past.

The [configuration guide](https://docs.minio.io/docs/minio-server-configuration-guide.html) states that the access key and secret key can be given in the `config.json`. As this file was moved in

[2018-12-30 23:07] harshavardhana commented on #7032
config.json carrying credentials is incidental and historical .. distributed setup requires environment keys such as MINIO_ACCESS_KEY and MINIO_SECRET_KEY

We are not going back to old ways of configuring Minio where each server brings it's own config.json, this part is centralized.

The way to configure Minio after it's setup is to use `mc admin config get/set` , there are some options which are

[2018-12-30 23:11] harshavardhana commented on #7032
`--config-dir` is still provided such that we can migrate your existing config to latest and move it to the data directory. So we cannot deprecate that option. Instead we are going to mention that this option is legacy and will be removed in future.

If env is not provided in distributed setup and we see an old config file, we still try to use it but indicate that this style is deprecated.

[2018-12-30 23:42] Gibheer commented on #7032
Hi,

thank you for answering. I have no problems with the mc admin config get/set functionality for setting cluster wide options. But it already contains functionality, that isn't supported with the way you want things to work.

For example when using mc admin config get I can see the access key, which would mean, I would be able to change that setting with the `set` command. But that option is on

[2018-12-31 00:15] harshavardhana commented on #7032
config.json is going through a drastic change where we are even moving aware from json to a flat model where there are only keys and values. So we will be deprecating all that you know till now anyways.

The point was simply to provide a more controlled deployment style, basically `config.json` maintenance across the nodes was a hindrance to many of our users and made deployment quite tricky. We s

[2018-12-31 06:56] harshavardhana commented on #5139
Soon @rubenfonseca, unfortunately, don't have a set date at the moment.

[2018-12-31 07:43] kanagarajkm commented on #6836
@Latifa-tity sorry i could not reproduce this problem. Will you able to do a screen share on slack or using some other service to debug this problem?

[2018-12-31 11:41] Joozty opened #7034 "What is XMinioServerTimedOut and how to prevent it?"
I use Minio for storing files and sometimes when I send a big file to Minio I receive "XMinioServerTimedOut". Which is error on server side I think. Could somebody please descibe me what is it and how to increase it?

My understanding is that it's some timeout set on server and if the request doesn't send data within that time server close connection. Is it correct?

I found Pull Request which int

[2018-12-31 11:43] nitisht commented on #7034
@Joozty please use the issue template while creating issues - it helps avoid repetitive questions like what is the minio version, a minimal way to reproduce your issue and other details about your environment.

Please give more details for us to help you better

[2019-01-02 09:42] tomekit opened #7036 "Is default port 9000 intended? It conflicts with PHP XDebug"
This is not an issue, I've thought I will just share it.

I've noticed that minio default port conflicts with the PHP XDebug's default listening port which is 9000.

Is port `9000` intended? Do you think it might make sense to change it to something else, so it doesn't conflict? I believe PHP XDebug is pretty much standard nowadays, at least within the PHP community (which isn't small I think).

M

[2019-01-02 10:15] nitisht commented on #7036
Yes, it is intended @tomekit .

Changing to something else may conflict with some other application's port. Hence as you rightly noted, the way to avoid this is running Minio on a port of your choice using the `--address` flag.

Closing this issue as there is no action from our side.

[2019-01-02 10:15] #7036 closed, assigned to nobody

[2019-01-02 18:05] #7016 closed, assigned to harshavardhana

[2019-01-02 18:05] #7032 closed, assigned to harshavardhana

[2019-01-03 15:18] kawaii commented on #5879
Sorry to hijack this issue thread, but seems that your Slack is down (keeps timing out for me) and I have a somewhat similar query. :)

We'd like to run two Minio servers, both in different remote data centres and sync between them in **file system mode** since we simply don't have the resource allocation to give this client erasure code (they have 2TB of images). Is there any way I can do somethi

[2019-01-03 16:18] kannappanr commented on #5879
@kawaii The link for our slack channel is https://minio.slack.com .  You can deploy both minio deployments separately. Then use `mc mirror` command to sync the data between both minio instances.

[2019-01-03 19:50] mirtchovski opened #7039 "Build errors on darwin with go1.12.beta1 due to vendored rjeczalik/notify lib"
Similar to #6315, but this time with go 1.12.

I have created an issue in the original project and will update this one once it is fixed there https://github.com/rjeczalik/notify/issues/169

[2019-01-03 19:56] harshavardhana commented on #7039
you should build with `go get -tags kqueue` @mirtchovski

[2019-01-03 20:07] mirtchovski commented on #7039
rjeczalik/notify#169 was closed as it has been fixed upstream, this means that minio may want to update its vendored dependency before 1.12 is out.

@harshavardhana thanks, we will do that in our CI, but in general one would prefer the default target for 'go get' to work off the bat :)

[2019-01-03 20:22] harshavardhana commented on #7039
Yeah since we avoid cgo based deps, we never test with fsevents.

With go 1.11 you can also set

[code]

[2019-01-03 20:30] kannappanr commented on #7039
@mirtchovski Looks like rjeczalik/notify#169 has been re-opened. We can either close this issue and re-open when rjeczalik/notify#169 is closed, or we can keep this issue blocked on  rjeczalik/notify#169 and you can let us know once it closed, then we can vendorize the latest version of ` rjeczalik/notify` library.

If that issue is going to be open for a while, then I prefer closing this issue an

[2019-01-03 20:48] mirtchovski commented on #7039
I'm fine with closing this issue until the other one is resolved. for now we're sidestepping it by building with the kqueue tag.

[2019-01-03 21:26] kannappanr commented on #7039
Closing this issue based on the above comment. Will vendorize the library in minio once rjeczalik/notify#169 is fixed.

[2019-01-03 21:26] #7039 closed, assigned to nobody

[2019-01-04 22:56] gbarton commented on #6999
I reverted to 5.x in the short term to get a project out the door.  I
should have time next week to see if it works. Thank you!

On Sat, Dec 29, 2018 at 11:30 AM Nitish Tiwari <notifications@github.com>
wrote:

[2019-01-05 03:37] mhworth commented on #6524
I'm having this same problem, using the [minio operator ](https://github.com/rook/rook/blob/master/Documentation/minio-object-store.md) on a single node OpenShift instances (started with `oc cluster up`). Is there a workaround for this?

[2019-01-05 05:10] harshavardhana commented on #6524
@mhworth which version of Minio are you using ?

[2019-01-05 20:51] mhworth commented on #6524
@harshavardhana Thanks for responding! I figured it out--it was an OpenShift configuration problem. This command will fix it:
`oc adm policy add-scc-to-group anyuid system:authenticated`

The problem is that OpenShift autogenerates a user id, and that messes with all kinds of things. Explanations here:
https://docs.openshift.com/container-platform/3.6/admin_guide/manage_scc.html#enable-images-to-r

[2019-01-05 22:16] #6323 closed, assigned to poornas

[2019-01-05 22:31] harshavardhana commented on #6524
Thanks @mhworth perhaps this issue can be closed

[2019-01-06 01:49] mhworth commented on #6524
Forgot to mention, I saw the same thing error @FedericoPonzi saw (whoami: unknown uid 1000221000 ), so I'm pretty sure this is the same thing @FedericoPonzi ran into. So yes, I suspect this can be closed.

[2019-01-06 03:53] kannappanr commented on #6524
@mhworth Closing this issue based on the previous comments.

[2019-01-06 03:53] #6524 closed, assigned to nitisht

[2019-01-06 15:41] dustinaevans opened #7041 "Rebranding?"
How would we change the look/feel of the UI?

[2019-01-06 16:37] kannappanr commented on #7041
@dustinaevans Thanks for reaching out to us. I am not sure about re-branding the UI.

@kanagarajkm can you please answer?

[2019-01-07 00:51] kannappanr commented on #6696
Closed as fixed by #6423

[2019-01-07 00:51] #6696 closed, assigned to poornas

[2019-01-07 03:03] harshavardhana commented on #7041
You fork minio/minio and make all the necessary edits to `minio/browser`

This is out of scope on our end.

[2019-01-07 09:59] PascalVA opened #7042 "CopyObjectPart not implemented for azure-gateway"
I am working on a go application that uses minio-go to perform a multi-part upload of a data stream of unknown size, followed by a server-side compose to create the final object. The code I wrote appears to be working on AWS S3 and on Minio as a server, but when on Minio as an Azure gateway.

I've discussed with nitish on slack and he found that `CopyObjectPart` was not implemented.

## Expected B

[2019-01-07 11:12] harshavardhana commented on #7042
It is not implemented on purpose @PascalVA because of the complications it brings in. We can relook at implementing this and see what were the technical challenges.

[2019-01-07 13:21] PascalVA commented on #7042
@harshavardhana Ok thanks! In the meantime is there a workaround I should use for multipart uploads?

[2019-01-07 13:28] vsoch commented on #6471
We are also hitting this issue: https://github.com/singularityhub/sregistry-cli/pull/169#issuecomment-451903100 For a workaround I will check for both lower and capitalized metadata keys.

[2019-01-07 13:34] harshavardhana commented on #6471
This has to be fixed upstream @vsoch

[2019-01-07 13:36] vsoch commented on #6471
Yes, understood. The fix is this one? https://github.com/aws/aws-sdk-net/pull/1143

[2019-01-07 13:39] harshavardhana commented on #6471
Not that's for dotnet instead this is the issue https://github.com/boto/boto3/issues/1709

[2019-01-07 13:39] vsoch commented on #6471
Excellent thank you.

[2019-01-07 15:42] Nutomic opened #7044 "Minio not working with Scaleway"
## Context
I am trying to setup Minio as a gateway for Scaleway's S3 compatible object storage. According to the [documentation](https://github.com/minio/minio/blob/master/docs/gateway/s3.md#run-minio-gateway-for-aws-s3-compatible-services), this should work with the following command:
[code]

## Expected Behavior
Minio connects to the backend without any further configuration.

## Current Behavio

[2019-01-07 18:11] kannappanr commented on #7044
@Nutomic When you specify `mc config host add myminio https://s3.nl-ams.scw.cloud minio minio123 --api "s3v4" ` It is not really contacting the s3 server.

Can you try `mc config host add myminio https://s3.nl-ams.scw.cloud minio minio123 --debug` and paste the output here? Also, is `minio` and `minio123` the credentials to logon to the backend server?

[2019-01-07 18:50] poornas commented on #6934
@tomerzel87, were you able to reproduce this with tcpdump enabled?

[2019-01-07 19:31] harshavardhana commented on #7044
Note: you don't need to specify the port 443 https is port 443 automatically

[2019-01-07 22:55] bennnjamin commented on #6381
Is this still planned to happen soon?

[2019-01-08 05:35] harshavardhana commented on #6381
No not yet @bennjamin we were finishing WebIdentity first

[2019-01-08 08:29] Nutomic commented on #7044
Damn it you're right, if I run `mc ls mybackend` it also gives the same error. It's quite surprising that the API parameter changes the behaviour like that. The actual credentials are correct, I can connect just fine with [aws-cli](https://www.scaleway.com/docs/object-storage-with-aws-cli/). Here is the output from the command, it doesn't look very helpful to me:
[code]

And I understand that abou

[2019-01-08 12:04] marcadella opened #7053 "Misleading implementation of minio-java:putObject"
putObject should take an OutputStream and not an InputStream. It works ok with IS, but it is misleading. In addition the SDK doc does not mention that one should close the IS (as it is done for getObject).

[2019-01-08 15:58] harshavardhana commented on #7053
Please open an issue at https://github.com/minio/minio-java

[2019-01-08 17:18] harshavardhana opened #7055 "Support OpenID configuration URL"
## Expected Behavior
All OIDC compliant implementations provide a configuration URL which provides all the necessary URLs for OpenID token generation, token validation certs, and additional user metadata URLs

Such as
https://accounts.google.com/.well-known/openid-configuration

[code]

## Current Behavior
No such support today makes it harder to provide multiple such URLs one for each endpoints.

[2019-01-08 18:45] kannappanr commented on #7053
Closing this issue here. Created a new issue in minio-java https://github.com/minio/minio-java/issues/746

[2019-01-08 18:45] #7053 closed, assigned to nobody

[2019-01-08 19:03] #7011 closed, assigned to nobody

[2019-01-09 07:32] #7041 closed, assigned to kanagarajkm

[2019-01-09 07:34] harshavardhana commented on #6714
Fixed by #7023

[2019-01-09 07:34] #6714 closed, assigned to balamurugana

[2019-01-09 07:39] harshavardhana commented on #6286
This is fixed by #7023 with pending items

- [x] // DateAdd         FuncName = "DATE_ADD"
- [x] // DateDiff        FuncName = "DATE_DIFF"
- [x] // Extract         FuncName = "EXTRACT"
- [x] // ToString        FuncName = "TO_STRING"
- [x] // Cast            FuncName = "CAST" // CAST('2007-04-05T14:30Z' AS TIMESTAMP)

[2019-01-09 07:39] harshavardhana commented on #6286
Transferring this issue to @balamurugana

[2019-01-09 07:41] harshavardhana commented on #7042
There is no workaround @PascalVA unfortunately

[2019-01-09 10:05] challarao opened #7057 "Minio crashes with nil pointer dereference in CompleteMultipart"
We are trying to:
1. Upload a large artifact (around 250 GB)
2. Using multipart
3. Disks -1, minio running in Kubernetes.  Minio pod mounted to a 500 GB disk, 390 GB free.

## Expected Behavior
1. Should complete the multipart upload successfully.

## Current Behavior
Failing with nil pointer de-reference in the following file:

https://github.com/minio/minio/blob/RELEASE.2018-09-25T21-34-43Z/cmd/

[2019-01-09 11:31] harshavardhana commented on #7057
https://github.com/minio/minio/issues/6429 possible duplicate and perhaps fixed in later releases @challarao

[2019-01-09 11:41] challarao commented on #7057
Thanks @harshavardhana. We will see if the issue is reproducible in the latter versions.

[2019-01-09 12:25] ncw opened #7058 "Cant server side copy files with ? in the name"
## Expected Behavior

I used rclone to server side copy a file with a `?` in the name.

[code]

I expected this to work (as it does on S3) however it produces a "NoSuchKey" error.

Here are the HTTP traces from rclone

[code]

and the response

[code]

## Possible Solution

What appears to be happening is minio is looking for the a `versionId` parameter on the end of the `x-amz-copy-source` url wh

[2019-01-09 19:08] kolyadin opened #7061 "Distributed storage one host multiple drives"
Hi folks,

I want to build private cloud storage on one host with multiple ceph drives.
So i don't need any data protection and i want to use every GB of drives to create distributed cloud storage with maximum capacity.

In docs, i see only one solution for multiple drives in one host and it's erasure strategy, which is required too much drives (in my situation) to protect failures.

Any ideas how

[2019-01-09 21:51] kannappanr commented on #7058
@ncw Thanks for sending in a PR.

[2019-01-09 21:56] kannappanr commented on #7057
@challarao marking this issue as duplicate of #6429 and closing this issue. Please feel free re-open the issue if that is not the case.

[2019-01-09 21:56] #7057 closed, assigned to nobody

[2019-01-10 02:00] kannappanr commented on #7061
@kolyadin you can setup `Software Raid 0` and use it in `fs` mode.

[2019-01-10 02:07] labnewbie commented on #1259
@harshavardhana I followed the instructions at https://github.com/minio/minio-service/tree/master/windows and the service starts without any errors.  But when I try to access the minio server I get this:

C:\Users\administrator>mc admin service status myminio
mc: <ERROR> Cannot get service status. Get https://192.168.86.133:9000/minio/admin/v1/service: http: server gave HTTP response to HTTPS clie

[2019-01-10 02:09] harshavardhana commented on #1259
Well if you haven't configured TLS accessing via Https will not work.

[2019-01-10 02:13] labnewbie commented on #1259
sorry - TLS is configured and works fine when started from cli.  Its when I try to make minio a service that things go downhill.

[2019-01-10 02:16] harshavardhana commented on #1259
Yes that is a problem on Windows, it's a Go runtime issue https://github.com/minio/minio/issues/6979

[2019-01-10 02:53] labnewbie commented on #1259
Thanks.  As always, you have been a great help.  I did see that issue earlier tonight but didnt think it applied in this case.  I will stop banging my head and wait to see if this gets resolved.

Thanks again!!!

[2019-01-10 04:29] mkumatag opened #7062 "Publish docker images for ppc64le platform"
Currently, only amd64 architecture binaries and docker images are published part of minio release process, this issue is for requesting to build and publish them for ppc64le platform as well.

[2019-01-10 04:31] mkumatag commented on #7062
/cc @harshavardhana @bpradipt

[2019-01-10 04:56] harshavardhana commented on #7062
We already publish ppc64le binaries - if docker hub provides a way to build ppc64le images we can definitely build one.

[2019-01-10 05:10] mkumatag commented on #7062
That's fantastic, I'm not really sure whether we can build the image from dockerhub but we can build docker image for power via Travis.

[2019-01-10 05:16] harshavardhana commented on #7062
Yeah we did try that but Travis CI is is flaky and failed to run optimally as expected. Since our CIs need to be consistent we had to remove it.

[2019-01-10 06:08] mkumatag opened #7063 "Update readme file with ppc64le binary"
Currently I see minio binary is already published for ppc64le but readme is not updated with the relevent link, this task is for updating the readme file with proper link.

Reference: https://github.com/minio/minio/issues/7062#issuecomment-452970812

Readme link - https://github.com/minio/minio#gnulinux

[2019-01-10 07:03] kannappanr commented on #7062
@mkumatag Closing this issue as we already publish the binaries. Please feel free to open issues if you have any other question.

[2019-01-10 07:19] kannappanr commented on #7063
@mkumatag We will update the readme with a link to the ppc64le binary.

[2019-01-10 07:29] kannappanr commented on #7044
@Nutomic We will have to debug what happened. But based on the error, the `bucketExists` call, which is essentially a `HEAD Bucket` call, fails.

Can you please try this aws cli command and paste the output here
`AWS_ACCESS_KEY_ID=minio AWS_SECRET_ACCESS_KEY=minio123 aws --endpoint-url https://s3.nl-ams.scw.cloud s3api head-bucket --bucket my-non-existent-bucket --debug`

and the following `minio-

[2019-01-10 08:06] mkumatag commented on #7062
@kannappanr but docker image is not present, hence I want to still track that work in this issue, so can you please reopen it?

[2019-01-10 08:51] kannappanr commented on #7062
@mkumatag Will investigate if if docker hub provides a way to build ppc64le image.