[2018-03-30 17:36] nitisht opened #5742 "Run as non-root user inside Docker container"
** Not using template on purpose **

Minio should run as a non-root user inside Docker container for new deployments. Pre-existing Docker container deployments where users are updating to newer images, should continue to run without changes.

[2018-03-30 17:48] harshavardhana commented on #5741
this is already handled in error logging PR AFAIK

[2018-03-30 22:16] lucasoares commented on #5139
Repoen this issue, please!

[2018-03-30 22:33] SuperQ commented on #5723
Depending on what kind of authentication minio supports, it should be reasonable to have a metrics-level access for Prometheus.  Prometheus doesn't _need_ to be unauthenticated.

[2018-03-30 22:35] harshavardhana commented on #5723
Minio re-purposes access/secret key which is used for S3 API as well which is a big security issue, un-authenticated access will only provide read-only access to system information and some metrics which are being actively captured by the server.

Any new authentication mechanism brings problems of its own where we need to have a server component to validate it, just like how we do un-authenticate

[2018-03-30 22:57] nneul opened #5745 "Migrating configuration should not add additional hosts"
If you provide a v8 config, and run mc against it, in the process of upgrading the config - it populates additional hosts with useless default configuration in the resulting file. That's fine when creating a blank config, but seems like it is inappropriate to do when upgrading.

Would prefer to see the config upgrade JUST upgrade, not otherwise add to or alter the config.

[2018-03-30 23:18] harshavardhana commented on #5745
It's not useless @nneul they are always there by default - it is intentional, also this issue is related to `mc` could you create this on github.com/minio/mc instead of here??

[2018-03-30 23:31] nneul commented on #5745
My point is that it's taking a perfectly valid config file (if out of date on version) and _adding_ non-functional content to it.

Will recreate in mc repo.

[2018-03-30 23:31] #5745 closed, assigned to nobody

[2018-03-30 23:50] harshavardhana commented on #5139
Minio server code would like to be simpler and predictable when dealing with the user I/O. Not mangle with the actual namespace etc. Giving more control to the user using `mc` provides visibility and control over this behavior so the previous suggestions still stand.

One can simply set up an `mc` in a cron-job on the server side to do this periodically whenever you don't want it just turn it off

[2018-03-31 01:13] deekoder opened #5746 "Update minio browser screenshots on docs.minio.io"
Docs are still showing older UX screenshots. Update them.

[2018-03-31 02:13] #5741 closed, assigned to kannappanr

[2018-03-31 02:13] harshavardhana commented on #5742
didn't we have an older bug on this?

[2018-03-31 09:17] robbi5 opened #5748 "CORS: Add Headers required for Range Requests"
## Expected Behavior
Minio already supports partial requests with the `Range` Header - but sadly not when using CORS. For this to work `Accept-Ranges` and two more headers (see below) have to be added to the `Access-Control-Expose-Headers` Header.

## Current Behavior
The `Access-Control-Expose-Headers` Header contains: `Content-Length,Content-Type,Connection,Date,Etag,Server,X-Amz-Delete-Marker,X

[2018-03-31 18:38] harshavardhana commented on #5725
Is it not possible to do `minikube config set kubernetes-version v1.8.0` ? @whisper-bye

[2018-04-01 02:43] whisper-bye commented on #5725
@harshavardhana
bad news...
[code]

[2018-04-02 02:05] harshavardhana commented on #5733
Agreed sent a PR. @Vesnica

[2018-04-02 04:55] #5739 closed, assigned to poornas

[2018-04-02 14:07] aead commented on #5723
Completely agree about that.

I think an un-authneticated metrics endpoint is okay as a mid-term solution as long as we are careful about the exposed API (The Admin-API is crucial security component). On the long run this may be also an item for the Admin-API authentication design (e.g. extra Admin-API credentials) which was mentioned internally before. Also for KMS we may need/want a new/separate

[2018-04-02 15:26] gjgarryuan opened #5751 ""ECONNRESET" if key contains leading slash "/""
Using aws-sdk javascript 2.194.0:

When uploading with key consisting of leading slash "/", the aws-sdk rejects with:

[code]

[code]

I tried it with the real aws s3 in which case the aws-sdk didn't reject with any error, but the uploaded entity was under a "virtual" folder without a name. I guess that was the effect of the leading slash in the key.

## Expected Behavior
It should put the entity

[2018-04-02 15:51] harshavardhana commented on #5751
Minio uses filesystem paths so it cannot really create virtual folders the way aws S3. AWS S3 recommends using proper relative paths to bucket for better management such that in future tools like AWS cli, s3cmd functionalities work properly. Otherwise this can lead to complications when copying data.

Minio server automatically restricts this usage .. simply remove the leading `/` the affect is sa

[2018-04-02 17:12] gjgarryuan commented on #5751
Thanks for the reply.

If it is expected that Minio does not support key with leading slash, I will close this ticket.

[2018-04-02 17:12] #5751 closed, assigned to nobody

[2018-04-02 18:43] magaldima commented on #5727
I am testing this through installing the minio/minio helm chart on minikube. Does either the "latest" or the "edge" image tags from here (https://hub.docker.com/r/minio/minio/tags/) represent the master branch ?

I am installing minio with this command:
[code]

and i am seeing the following fatal error in the pod:
[code]

[2018-04-02 21:39] ebozduman commented on #5594
@ChrisWrightMaglabs,
We would like to close this issue if you are OK with it.
Please let us know.

[2018-04-02 22:08] harshavardhana commented on #5727
This looks like you binded the config.json as a kubernetes device when we migrate we need to rename the existing config.json . EBUSY is perhaps because of this rename not being allowed.

[2018-04-03 00:26] #5733 closed, assigned to harshavardhana

[2018-04-03 00:51] #5748 closed, assigned to harshavardhana

[2018-04-03 07:31] ChrisWrightMaglabs commented on #5594
I agree that this is basically a AWS SDK consistency issue, both in code and their documentation, makes sense to close this off.

[2018-04-03 07:31] #5594 closed, assigned to ebozduman

[2018-04-03 07:53] nitisht opened #5754 "ListObject returns incorrect storageClass"
## Expected Behavior
ListObject returns correct StorageClass of the object

## Current Behavior
ListObject returns `STANDARD` storageClass for objects set with `REDUCED_REDUNDANCY`.

## Possible Solution
Read storageClass set in metadata before listing objects

## Steps to Reproduce (for bugs)
1. Upload an object with storageClass `REDUCED_REDUNDANCY`.
2. Perform ListObject

## Context
Code Review

[2018-04-03 13:02] jbroq commented on #5199
Hi all,

My concern is about having the same data accessed from

1. a frontend : read only
2. a backend : read/write

Although using policies could make it, I don't think having the same credentials for both my frontend and backend is a good idea.

MFS was promising, but it seems stuck if not dead.

Best
BTW: thanks for the work done so far

[2018-04-03 15:44] vielmetti opened #5758 "b2 gateway gives misleading error messages for "mc mb" failures"
The b2 gateway gives several error messages which are misleading in the face of failures to make buckets (`mc mb`) on b2. None of these are fatal, just cosmetic, but they had me wondering whether I had set up the system incorrectly.

## Expected Behavior

Example 1.

[code]

b2 buckets have a minimum size length of 6 characters, per the Backblaze web site which reads: "Each bucket name must be at

[2018-04-03 16:18] dehy opened #5759 "[Docker][Swarm] Unable to launch minio in distributed mode after 2018-02-09 release"
I have a 2018-02-09T22-40-05Z minio distributed cluster on docker swarm working since then, but any further version won't stay up...

## Expected Behavior
Using the same docker-stack.yml configuration (copied from the docker-compose.yml from the docs, see below) and changing the image release, everything should work.

## Current Behavior
When I deploy the stack, the containers tries to resolve the

[2018-04-03 18:08] deekoder opened #5760 "Translation missing for some docs in docs.minio.io"
Translate the following to the Chinese language.

 - Minio Gateway for NAS Guide
 - Large Bucket Quickstart Guide
 - Disk Cache Quickstart Guide

[2018-04-03 18:23] deekoder commented on #5758
will look into it.

[2018-04-03 18:24] deekoder commented on #5758
@vielmetti  can you try without the / char in bucket name and tell me if that's failing?

[2018-04-03 19:13] vielmetti commented on #5758
@deekoder just to be clear the 'myb2' is set up according to the instructions at https://github.com/minio/minio/blob/master/docs/gateway/b2.md with

`mc config host add myb2 http://gateway-ip:9000 b2_account_id b2_application_key`

Once I correctly name the `b2` buckets all is well.

[2018-04-03 19:17] dferstay opened #5761 "Minio fails to initialize object layer (disk path full) with k8s PVC on AWS EBS class gp2"
## Expected Behavior

I am using the ```minio/minio:RELEASE.2018-03-30T00-38-44Z``` to deploy a standalone minio service using the following k8s StatefulSet:
<pre>apiVersion: apps/v1beta2
kind: StatefulSet
metadata:
  name: minio
  labels:
    app: minio
spec:
  serviceName: minio
  replicas: 1
  selector:
    matchLabels:
      app: minio # has to match .spec.template.metadata.labels
  template:

[2018-04-03 19:52] alexander-daniel opened #5762 "[Error] Unable to write to client on GET request for object"
I have a docker-compose project using `minio` and I am able to upload and listen to files that I upload. However, for some reason, these errors are pouring out on me.

Thank you so much for checking this out. Much appreciated!

## Expected Behavior
It's odd. Files are still fetch-able and I can make requests for them successfully, this error just throws every time on the backend.

I'm confused abo

[2018-04-03 20:04] deekoder commented on #5722
We may do this in the future.

[2018-04-03 21:24] nneul commented on #5745
FYI for any search results hitting this:

https://github.com/minio/mc/issues/2425

https://github.com/minio/mc/pull/2426

[2018-04-03 22:53] kannappanr commented on #5712
@cooperaj Thanks for reporting the issue. I was able to reproduce the issue. Will get back to you soon on how we plan to handle this and also with questions if I have any.

[2018-04-03 23:49] nneul opened #5763 "Would like ability to either tell minio to not show free space information/ignore some drives/apply multiplier"
## Expected Behavior

For embedded use and to allow provisioning a 2-node cluster, I've got a minio cluster set up with multiple directories as "disks". Unfortunately, since these are the same backend storage, this results in minio over-reporting total space.

It would be nice if there were a way to say to minio server to either

A) Don't show free space at all
B) Ignore drive X for space calculat

[2018-04-04 04:07] krishnasrinivas commented on #5738
@solsson it is hard to understand the description of the issue :-) I think you have misunderstood on the configuration of minio. We do not use the term "availability zone" in our documentation, I think you mean "region" setting?

Typically a minio cluster will be deployed such that the minio servers can span across racks, but never across data centers. If you want to replicate data in a minio clus

[2018-04-04 04:31] harshavardhana commented on #5762
Broken pipe happens when your client reader has not read the entire content that it requested, it is possible that your client is ignoring the last byte. There are few situations where this can happen

- Client abruptly closed the connection (client died) without reading the entire stream.
- A client forgets the last byte and doesn't drain the entire stream

So you can simply ignore this error for

[2018-04-04 05:00] pascalandy commented on #4072
That sounds great. Thanks for the good work folks !!

[2018-04-04 05:48] ulm0 commented on #1326
Just moved from filesystem storage and setup a Registry with Minio (latest) as backend and I'm getting 500's errors when pushing.

[code]

Registry config:

[code]

Minio config:

[code]

[2018-04-04 05:52] harshavardhana commented on #1326
@ulm0 can you open a new issue? can you reproduce this without using `domain`?  and just using path style?

[2018-04-04 06:31] ulm0 commented on #1326
Sure thing.

[2018-04-04 06:40] ulm0 opened #5765 "Getting 500's when Docker pushing"
Just moved from filesystem storage and setup a Registry with Minio (latest) as backend and I'm getting 500's errors when pushing.

## Expected Behavior

Be able to push without getting 500 back

## Current Behavior

[code]

Logs in Registry say `error: unknown blob`, though i'm just migrating images i had in the same registry but with filesystem storage

## Context

Minio is being used as backend

[2018-04-04 06:43] ulm0 commented on #5765
as @harshavardhana suggested in #1326 I removed the `domain` directive.

[code]

Error still showing up. When 500 error occurs i retry...sometimes it works after several attempts.

[2018-04-04 06:48] ulm0 commented on #5765
Though I was able to push the image (after hitting `docker push ...` for a while), I'm unable to pull the image

[code]

Image appears to be present in the repository

[code]

![screenshot from 2018-04-04 03-48-11](https://user-images.githubusercontent.com/13160093/38292696-0a7ec822-37bb-11e8-8fae-b425bf9122a3.png)

[2018-04-04 06:52] ulm0 commented on #5765
Traefik settings for the minio service in the `docker-compose.yml`

[code]

[2018-04-04 08:19] ulm0 commented on #5765
Started all over (deleted minio data), but tried a different approach this time, pointing to the minio DNS in the overlay network, both registry and minio are on a shared network named `minio-storage`.

Registry config:

* Service name is also minio_storage, 'cause of compose file service block

[code]

Result:

Completely unable to interact with the registry

[code]

[2018-04-04 09:05] solsson commented on #5738
@krishnasrinivas Thanks for trying anyway :) I tried to follow the issue template. Maybe this should start as a Slack discussion, but the problem with that is that others will not find it later.

Two use cases:
 * I have a Kubernetes cluster at GKE in region europe-west1, spanning three zones europe-west1-(a|b|c). There's 9 minio pods and standard storage class is 3. How do I reduce the risk that

[2018-04-04 12:03] dehy commented on #5759
Found the problem: the regex validating hostnames is incorrect and too restrictive: https://github.com/minio/minio/blob/0e4431725cd85236d3d18643f8fc2506c7d88c66/pkg/net/host.go#L27
See this discussion: https://stackoverflow.com/questions/2180465/can-domain-name-subdomains-have-an-underscore-in-it

[2018-04-04 13:48] dehy commented on #5759
Ok, here's the deal:

@flyingcougar reminded me in https://github.com/minio/minio/pull/5767 that hostnames cannot have underscores due to [RFC1123](https://tools.ietf.org/html/rfc1123).

We need to reference the other containers only by their short hostname (or real fqdn) and thus cannot use the `stack_service` concatenation made up by the docker dns.
Thus, if you have multiple minio environment (

[2018-04-04 13:49] #5759 closed, assigned to nitisht

[2018-04-04 14:11] alexander-daniel commented on #5762
@harshavardhana thank you so much for your answer. I was about to update the issue, as I found out it only happens when im using an HTML5 `<audio>` component, with certain settings for preload.

So yeah -- what you explained makes sense! The client was not buffering the entire file, so there probably lies the issue.

Thank you again and I'll keep my ear to the ground for the coming updates.

[2018-04-04 14:38] Jamlee opened #5768 "the new policy is not be supported by java sdk ?"
the newset policy is look like below:

https://github.com/minio/mc/blob/18ddd3925b366a730fdce63da303aefa7c25814e/cmd/access-perms.go#L33-L36

## Expected Behavior
i want set the policy download, but sdk not provide.

## Current Behavior
currently, the policy is :

[2018-04-04 15:30] harshavardhana commented on #5768
download is READ_ONLY,  upload is WRITE_ONLY and public is READ_WRITE

[2018-04-04 15:47] neben opened #5769 "Webhook throws an error if the endpoint returns a 2xx status code != 200"
## Expected Behavior
If the webhook endpoint returns a 2xx status code unequal to 200, the sending event should be treated as success.

## Current Behavior
The request fails for a 201 response:
[code]

## Possible Solution
Treat all 2xx status codes as success.

## Steps to Reproduce (for bugs)

1. Configure minio to send notifications to a webhook endpoint that returns a 20x status code different

[2018-04-04 15:58] sblaisot commented on #5700
I tried with version `2018-04-04T05:20:54Z` downloaded from https://dl.minio.io/server/minio/release/linux-amd64/minio and I still have the same problem: I'm unable to recover to a healthy cluster state after stopping minio, clearing disk and restarting minio on one node.

can you provide information on how we are supposed to recover from a lost node ?

[2018-04-04 16:25] sblaisot commented on #5700
I still have the same errors:
[code]

[2018-04-04 16:53] ebozduman commented on #5728
It looks like it'd be a good idea to discuss this with @abperiasamy and @harshavardhana too. I'll bring the subject up in our next meeting.

[2018-04-04 17:21] ulm0 commented on #5765
Apparently it was something related to redis, had to flush it...now 500's are gone for good. Sorry for the noise.

[2018-04-04 17:21] #5765 closed, assigned to nobody

[2018-04-04 17:43] kannappanr commented on #5762
@alexander-daniel Closing the issue as answered. Please feel free to reopen the issue, if that is not the case.

[2018-04-04 17:43] #5762 closed, assigned to nobody

[2018-04-04 18:04] kannappanr commented on #5763
@nneul Thanks for reporting the issue. Will check internally about not displaying the disk free space. One work around is to use the `quiet` flag. This does not display any startup message including the free disk space.

[2018-04-04 18:15] kannappanr commented on #5724
@nneul Thanks for filing the issue. We will talk internally and see if and how we can incorporate your request.

[2018-04-04 19:16] nneul commented on #5763
Just to be clear - this was primarily referring to free space indicator in center-top of browser UI, not console output.

[2018-04-04 20:55] harshavardhana commented on #5700
From this it looks like servers have not started and are disconnected, have you verified your network issues if any?

[2018-04-04 22:11] kannappanr commented on #5763
@nneul Thanks for the clarification.

[2018-04-04 22:43] sblaisot commented on #5700
there is no network issue, the whole cluster is working well until I stop a node, clear all data including `.minio.sys` and restart minio on that node. starting from this point I'm unable to recover an healthy cluster.

I also see this in the log of other nodes:
[code]

Can you please explain what steps are recommended to recover from a lost node in a cluster ? what command are we supposed to use

[2018-04-04 22:50] sblaisot commented on #5700
please also note that after a recursive heal on the lost node, restarting all nodes permits to recover the whole cluster in an healthy state but leads to an outage, which is something I try to avoid in a production environment.

[2018-04-04 23:13] harshavardhana commented on #5700
@sblaisot from our local testing I do not see this problem, let me test it again and get back to you. For now will re-open this issue.

[2018-04-04 23:22] kannappanr commented on #5712
@cooperaj Can you please let us know the file system in use here?

[2018-04-05 00:26] harshavardhana commented on #5700
So I tested a local setup with 4 servers here are my results i am using the latest `minio` and `mc`, then deleting all the data on the backend directory restart the server.

Server shows
[code]

As expected that disk is found to be unformatted.  Now starting `mc admin heal` i see that all disks and all objects have healed.

[code]

I see from `mc admin info` that other nodes still see one of the d

[2018-04-05 01:54] Jamlee commented on #5768
@harshavardhana Could i download my file without access key or presigned url ?

[2018-04-05 01:57] harshavardhana commented on #5768
Yes you can set READ_ONLY

[2018-04-05 05:54] abhilash07 opened #5773 "Minio object storage for application data"
Hi everyone deployed Minio on CF Market place using on-Demand-Broker and Service Adapter or
as Cloud Foundry Blobstore.
Thanks in Advance.
Abhilash S

https://github.com/minio/minio-boshrelease.git
https://github.com/minio/minio-boshrelease/issues/50
https://www.minio.io/cloudfoundry.html

[2018-04-05 08:02] aead commented on #5615
Closing the issue as resolved. Please feel free to reopen the issue, if that is not the case.

[2018-04-05 08:02] #5615 closed, assigned to aead

[2018-04-05 08:12] valentinabojan commented on #5290
@harshavardhana Hi! What's the status of this issue? Are there any chances to be fixed soon? Thank you!

[2018-04-05 08:24] harshavardhana commented on #5290
@valentinabojan there are limitations in Go which do not allow a clean way to implement this right now, we do have a PR which works but it is based on arbitrary timeouts which is basically more trouble than what we want here.

[2018-04-05 09:08] cooperaj commented on #5712
The underlying FS is ext4 but minio is running in a docker container so that's using an overlay FS?

[2018-04-05 13:09] magaldima commented on #5727
It looks like kubernetes treats volume mounted configmaps are immutable. If that's the case, attempting to rename them would probably fail as is happening when I try to install the helm minio chart. (https://github.com/kubernetes/kubernetes/pull/58720)

This is not a problem when I use the current default minio helm chart version `RELEASE.2018-03-16T22-52-12Z`, however then the problem for this ti

[2018-04-05 15:44] harshavardhana commented on #5727
It won't pop up since the current helm is using a v22 config version and if you moved to newer image it would attempt to migrate to v23 perhaps @nitisht is perhaps updating the helm chart.

You could also manually add v23 config instead of v22 config in helm? Such that config.json migration doesn't happen.

[2018-04-05 17:00] kannappanr commented on #5773
@abhilash07 I see that the questions asked in minio/minio-boshrelease#50 have been answered. Closing the issue for now. Please feel free to re-open the issue if you feel otherwise.

[2018-04-05 17:00] #5773 closed, assigned to nobody

[2018-04-05 17:30] kannappanr commented on #5768
@Jamlee Closing this issue as answered. Please feel free to re-open the issue, if you feel otherwise.

[2018-04-05 17:30] #5768 closed, assigned to nobody

[2018-04-05 17:56] #5754 closed, assigned to nitisht

[2018-04-05 22:32] aead opened #5777 "reply with correct storage class when running in FS"
## Expected Behavior
Server should reply with the storage-class specified during the PUT when requesting an object.
For example: `STANDARD`

## Current Behavior
Server response with empty storage class when running in FS.

## Possible Solution
Still triaging...

## Steps to Reproduce (for bugs)
1. Setup server in FS
2. Upload object with storage class `STANDARD`
3. Download object and check storag

[2018-04-05 22:50] aead commented on #5777
Oh sry - I was already fixing this. Saw the assignment after PR...

[2018-04-06 04:39] harshavardhana commented on #5763
There is no easier way to do this, can you explain how it useful for your application ?  Since you are using S3 API only does it really matter what is in storage info ?

[2018-04-06 04:47] nneul commented on #5763
Well, the admin/browse console for minio is exposed in the appliance minio is being put on, and some of the folks tat will go there are guaranteed (already have) to get all freaked out about the size information being completely out of touch with reality.

It's not a problem unique to minio - many monitoring packages have the same sort of not-handling of multiple mounts - think the scenario of you

[2018-04-06 06:54] harshavardhana commented on #5763
you can simply disable browser with MINIO_BROWSER=off

[2018-04-06 07:38] denismakogon opened #5781 "[Feature] Make notifications configurable through the API"
Make notifications great (again?)
========================
Here's the thing. At this moment the notifications can be configured through the config file which makes them totally unflexible. So, is there any plans to enable notification configuration through the API?

## Cold start problem

More on the notifications. The way minio triggers webhook is not kind of useful.  Here's why assume you want t

[2018-04-06 07:48] harshavardhana commented on #5781
First, you configure targets with `config.json` then the server prints ARNs and then you use notification APIs in SDKs to configure these targets to send notifications to.

You can configure the targets in `config.json` also by using https://github.com/minio/minio/blob/master/pkg/madmin/API.md#SetConfig by uploading a new `config.json`

[2018-04-06 07:55] harshavardhana commented on #5781
Minio notification implementation is compatible with AWS S3 Bucket notification behavior it is not meant to do anything else beyond that, so any change in behavior means we are not AWS S3 Bucket notification anymore should be considered as a new feature.

Feel to submit a new notification implementation here `pkg/event/target` if you need it to do some specialized work.

[2018-04-06 08:04] denismakogon commented on #5781
@harshavardhana thanks for the reply, okay, you say that minio is compliant. But i don't see any equivalent to the notification configurations similar to S3 https://docs.aws.amazon.com/cli/latest/reference/s3api/put-bucket-notification-configuration.html.
The link that you've posted (https://github.com/minio/minio/blob/master/pkg/madmin/API.md#SetConfig) doesn't look similar to API and AWS S3 expo

[2018-04-06 08:15] harshavardhana commented on #5781
This API suggestion was to replace `config.json` in-case you are changing the targets, I did not mention that this is an S3 API what I meant this is for two things let me clarify. In minio just like AWS S3, there are two steps to notifications

- Configure the target i.e by adding credentials, endpoints etc in `config.json` - this is analogous to you creating, for example, an AWS SQS service.
- On

[2018-04-06 08:21] #5746 closed, assigned to deekoder

[2018-04-06 08:30] vRobM opened #5782 "[Feature Request] Multi-site EC, 3+ DC, no Mirror"
What's needed for EC across 3 DCs w/o replication with 1 site outage tolerance?

[2018-04-06 12:03] nneul commented on #5763
They want/need the browser. The point is I'd like the _space_ display in the browser to either be correct or to be able to hide if it is not possible to correct it.

[2018-04-06 15:20] #5777 closed, assigned to aead

[2018-04-06 17:08] deekoder commented on #5782
@vRobM - Please can you elaborate what your ask is. It's not super clear to us from the above description.

[2018-04-06 18:07] #5644 closed, assigned to harshavardhana

[2018-04-06 19:03] vRobM commented on #5782
Which part is confusing?
3 separate datacenters (lets say 50ms apart)
no replication between datacenters (no mirror)
use of appropriate error correcting codes to spread data across the 3 sites, so that any 1 site outage results in recomputed data that is still readable from an available node.

[2018-04-06 20:33] deekoder commented on #5782
@vRobM you could run minio in distributed mode where you have say 4 nodes in DC#1, 4 nodes in DC #2, 4 nodes in DC#3 and so on. Since we have to keep them in sync, we need to make sure they have low latency (say 20ms), if you dont have that, it's better to use replication/mirroring.

[2018-04-06 21:15] #5625 closed, assigned to aead

[2018-04-06 22:34] kannappanr commented on #5264
Not required anymore. So closing it

[2018-04-06 22:34] #5264 closed, assigned to kannappanr

[2018-04-06 22:36] kannappanr commented on #5262
PR #5678 took care of this issue. So closing this issue as fixed.

[2018-04-06 22:36] #5262 closed, assigned to nobody

[2018-04-06 23:16] ebozduman commented on #5728
I specifically reworded the title to address the `panic()` calls in our code.
There'll be a separate effort to address panic() calls in vendors' codes. We have to address them differently and introduce `recover()` logic to control logging and decide on the behavior as @aead and @balamurugana suggested above.

[2018-04-06 23:21] harshavardhana commented on #5781
This bug can be closed @deekoder @kannappanr

[2018-04-06 23:23] harshavardhana commented on #5706
This needs to be discussed @deekoder - moving this to blocked for discussion.

[2018-04-06 23:28] kannappanr commented on #5781
Closing based on suggestion from @harshavardhana. @denismakogon Please feel free to open an issue if you have any other question.

[2018-04-06 23:28] #5781 closed, assigned to harshavardhana

[2018-04-06 23:35] harshavardhana commented on #5675
Closing this as fixed by #5677

[2018-04-06 23:35] #5675 closed, assigned to harshavardhana

[2018-04-06 23:38] harshavardhana commented on #5664
Closing this bug as stale,  please re-open with more answers to the requirement details.

[2018-04-06 23:38] #5664 closed, assigned to harshavardhana

[2018-04-06 23:38] harshavardhana commented on #5656
@HjlSr sorry have been busy, getting back to this now.

[2018-04-06 23:53] harshavardhana commented on #5656
this profile output looks weird, the output is indicating that you are using `fs` mode i.e single disk

[code]

are you sure the profile you captured is from the right server?

Also, we don't have any release for Minio on the following date.

Is this image custom? if yes then please use the official image to test otherwise we may not know what is going wrong.

[2018-04-07 01:11] harshavardhana commented on #5545
@zamrih would you mind helping us debug this problem further - we do not have the availability of the operating system that you are using - feel free to ping us on slack lets take it from there?

[2018-04-07 13:06] #5121 closed, assigned to aead

[2018-04-08 04:54] harshavardhana commented on #5758
Reproduced it and sending a fix - thanks for opening the bug @vielmetti

[2018-04-08 21:16] zGrav opened #5789 "Docker container cannot seem to talk to Minio internally?"
Hey folks,

I'm trying to access my Minio container through a Node application running in another container, Docker resolves the IP just fine, but fails to actually connect to Minio with a 503 Service Unavailable.

`/usr/src/app # ping minio_1
PING minio_1 (172.19.0.7): 56 data bytes
64 bytes from 172.19.0.7: seq=0 ttl=64 time=0.116 ms
64 bytes from 172.19.0.7: seq=1 ttl=64 time=0.161 ms
64 bytes

[2018-04-08 22:31] harshavardhana commented on #5789
Can you share the docker compose file?

[2018-04-09 07:09] zGrav commented on #5789
@harshavardhana

[code]

[2018-04-09 07:50] advancedlogic opened #5791 "Minio Distributed Servers does not work"
When I try to run 2 nodes on 2 different hosts with this command on both host:

minio server http://192.168.222.105/media http://192.168.222.107/media

## Expected Behavior
I should have the two nodes in cluster

## Current Behavior

[code]

## Your Environment
* Version used (`minio version`): 2018-04-04T05:20:54Z
* Server type and version: NAS with 8TB
* Operating System and version (`uname -a`)

[2018-04-09 10:33] balamurugana commented on #5738
@solsson

minio uses erasure coding to store data safely across multiple machines.  You could refer https://docs.minio.io/docs/distributed-minio-quickstart-guide

What I am understanding from your question is, you would like to run DR site in another region(s). As @krishnasrinivas pointed out, you could do `mc mirror` command which mirrors one minio site to another in different region.  This can b

[2018-04-09 11:25] zGrav commented on #5789
Same issue as https://github.com/minio/minio-js/issues/514, closing.

[2018-04-09 11:25] #5789 closed, assigned to nobody

[2018-04-09 13:40] harshavardhana commented on #5791
You need a minimum of 4 disks and 2 nodes for Minio. This is not a bug.

[2018-04-09 14:32] advancedlogic commented on #5791
Ok. It works !!! Thanks

[2018-04-09 14:32] #5791 closed, assigned to nobody

[2018-04-09 17:25] #5700 closed, assigned to harshavardhana

[2018-04-09 17:27] harshavardhana commented on #5700
@sblaisot would you be able to test `docker pull minio/minio:edge`  and let us know how it goes?

[2018-04-09 18:12] harshavardhana opened #5793 "Improve connection management by implementing HTTP rpc"
** not using the template on purpose **

Currently, on distributed setups, we have an important problem to address after the large bucket support. Since `net/rpc` doesn't manage RPC connections by itself. We need to bring connection pooling support such that we do not have to make new network Dials for all disks, locks, admin RPC peers etc.  We can easily run out of the number of persistent connec

[2018-04-09 19:16] zamrih commented on #5545
Hi,

Sorry for the late reply...
Sure! Let me know how I can help.
I should still have the underlying environment as a VM.

[2018-04-09 19:19] harshavardhana commented on #5545
@zamrih please reach out on the slack we can do a remote session? at your convenience

[2018-04-09 20:12] krishnasrinivas opened #5796 "Remove extra log messages"
Setup: Minio erasure setup with 4 disks.

With the new logging changes, when we do this:

[code]

Minio server logs:
[code]

i.e one log for each disk, and one log combining the errors at reduceQuorumErrs

We need to discuss what can be done about this.

One solution is to not print in `readXLMeta()` but the downside we need to remember to log in the caller of readXLMeta() in all the places we cal

[2018-04-09 23:03] elsonrodriguez opened #5797 "Issue with Tensorflow and Erasure code"
When using Tensorflow with an S3 URL pointing to a minio erasure-code endpoint, the training job does not complete.

This happens with both multiple disks, or multiple servers with single disks. Anything with erasure code enabled bombs out.

The training job **does** complete when using standalone single disk server.

## Expected Behavior

The training job should complete the same whether or not u

[2018-04-10 03:56] nitisht commented on #5645
Fixed by #5662

[2018-04-10 03:56] #5645 closed, assigned to harshavardhana

[2018-04-10 04:20] masafif opened #5799 "MC heal is not healing files"
After server shutdown not properly...
MC heal is not healing our files. The object size is have same with the original, but not recognize it. The JPG file is not recognize as image file. The txt file have some missing character

root@earth:/home/xxx# mc admin heal -f -r local/newsroom/foto
 â  newsroom/foto/upload/images-47/20140725194232-361.jpg
    3/453,309 objects; 335 GiB in 20h26m22s
    âââ

[2018-04-10 06:11] HjlSr commented on #5656
i have 3 disks in my system. and i disparate one of them to 2 logically separate disk
by using lvm . so i have now 4 disks. and start minio server on my system .
i used my custom minio image . and now i again change my image to minio official image (minio/minio:latest) . and again i encounter memory leak .
this is my  new memprofile that i captured with new docker image .

[profile982646693.tar.gz

[2018-04-10 06:18] wd256 opened #5800 "[gateway/gcs] Content-Type/Content-Encoding lost when updating an objects custom metadata"
## Expected Behavior

When copying an object over itself for the purpose of updating its metadata I expect that the Content-Type/Content-Encoding of the object is preserved.

## Current Behavior
The new user-defined metadata is applied correctly however any Content-Type/Content-Encoding assigned to the object is lost.

## Steps to Reproduce (for bugs)

1. Upload an object
2. Use the AWS CLI to per

[2018-04-10 06:33] solsson commented on #5738
Thanks. I'll read up on erasure coding. I falsely assumed that N/2 denoted a regular replica count, but in https://docs.minio.io/docs/minio-erasure-code-quickstart-guide I see that:

where the word _any_ is key.

[2018-04-10 06:33] #5738 closed, assigned to balamurugana

[2018-04-10 06:39] harshavardhana commented on #5656
Thanks will take a look

[2018-04-10 07:59] sblaisot commented on #5700
I tested and it works. Nice, thank you !

[2018-04-10 08:06] wd256 commented on #5800
I've just tested the other user configurable object metadata which GCS supports (Cache-Control, Content-Disposition and Content-Language) and found that it is cleared after the copy as well.

[2018-04-10 08:24] aead opened #5801 "[SSE]: SSE handling for gateway needs decision"
The handling of SSE requests for gateway backend needs decision.
Currently the server silently performs SSE requests without encryption whenever a client sends a SSE request.

## Expected Behavior
Not obvious - needs decision

## Current Behavior
Server handles SSE requests like normal requests

## Possible Solution

There are multiple solutions:
 1. The server could try to convert AWS S3 SSE to g

[2018-04-10 11:23] ebartz commented on #4210
There is actually a Solution to this. All the Synology Plus boxes which are based on a x86 CPU support running Docker. So to get this running you would have to launch a Docker container on your Synology and you are good to go.

[2018-04-10 12:47] glensc opened #5803 "cleanup fs.json from .minio.sys/buckets"
Is there way to cleanup `fs.json` files from `.minio.sys/buckets`. those seem to be growing endlessly. my minio storage is backend for private docker registry.

[code]

this is only for a week of operation.

## Environment

* minio/minio:RELEASE.2018-04-04T05-20-54Z docker image

[2018-04-10 12:48] glensc commented on #5803
my previous version for same data running older minio (2017 something):

[code]

didn't report with the old version, because this could be fixed already.

[2018-04-10 14:28] ZyanKLee opened #5804 "minio puppet module and minio server fight about config file"
## Expected Behavior

minio server should not rewrite its config file.

## Current Behavior

when creating a config file (minified json) using puppet module [kogitoapp/puppet-minio](/kogitoapp/puppet-minio), minio server rewrites its config file to prettyfied json on the subsequent restart.

On the next run of puppet the config file is changed to what this puppet-minio thinks is a valid config fil

[2018-04-10 14:36] harshavardhana commented on #5804
Minio server auto migrates it's own config file when a new version is available. Puppet shouldn't be managing Minio server config.json neither it should interfere with what Minio wants to do. We have good reasons to migrate the config file to keep it consistent with the new versions. If puppet module sticks to a Minio server config version it should stick to the latest after each releases. NOTE: M

[2018-04-10 14:40] harshavardhana commented on #5801
I prefer the first option.

[2018-04-10 16:51] krishnasrinivas commented on #5803
@glensc each object will have a corresponding fs.json which holds the object's ETag and other metadata.

[code]

If you have around 2800 objects, you will have 2800 fs.json

Can you provide the output of
[code]

(Just to make sure that it looks fine)

[2018-04-10 17:32] deekoder commented on #5804
IMO this file need not be minified at all. It's not like a js file that is included and not modified frequently and hence a great candidate for minification. Our users have to edit this file and change settings (eg. set bucket notifications) to let minio server know about their preferences for minio server. Puppet could exclude minifying this file.

[2018-04-10 17:37] ZyanKLee commented on #5804
I see.

@danielsreichenbach I suggested to use augeas to modify this config. I think this would be the best way to go, now that I know these facts.

[2018-04-10 18:37] glensc commented on #5803
(added `-s` not to leak too much details)

[code]

but, is it okay (or when it is okay) to remove `.minio.sys`? i migrated `export` -> `data` dir 5 day ago, and did not preserve `.minio.sys` dir, as it seem to contain 3GiB of leftover files. as i looked briefly on the files and seems ok to drop them when no active uploads are in progress.

[2018-04-10 18:49] krishnasrinivas commented on #5803
Your du output looks reasonable and normal.

data/.minio.sys/buckets -> contains one fs.json per object - fs.json contains etag and user given metadata - you can delete this if you dont care about etag or metadata

data/.minio.sys/multipart -> contains multipart parts, it will be auto cleaned by minio (old files will be purged)

data/.minio.sys/tmp -> tmp files location, cleanedup by minio everyti

[2018-04-10 22:12] zamrih commented on #5545
I am a bit short on time at the moment but I will certainly do.
See you on slack then.

[2018-04-10 22:40] poornas commented on #5800
@wd256 , I was able to repro this issue and am sending in a fix to copy the standard metadata you have mentioned above during a copy operation to the destination side. However, it may not help with what you are trying to achieve.

From above statement, it seems you would like to preserve original metadata as well as add new metadata during the copy-object operation where src and dest objects are t

[2018-04-11 00:45] #5769 closed, assigned to balamurugana

[2018-04-11 02:12] abhilash07 opened #5808 "Error: Invalid command line arguments server=‘:9000’, args=[/mnt/export1/ /mnt/export2/]"
hi everyone i am new to minio,

i want to deploy minio on ubuntu 16.04 on persistent 2 disks (sdb1 & sdc1).
![screen shot 2018-04-11 at 11 07 25 am](https://user-images.githubusercontent.com/10971841/38592752-c2943c90-3d78-11e8-9204-1ceb890844d5.png)

when i am running on single disk everything is fine
./minio server /mnt/export1
But i want to run minio on distributed (erasure code), unfortunately

[2018-04-11 02:41] nitisht commented on #5808
@abhilash07 you need at least 4 disks to start Minio server in erasure coded mode. You can also refer to the docs : https://docs.minio.io/docs/minio-erasure-code-quickstart-guide , https://docs.minio.io/docs/distributed-minio-quickstart-guide

[2018-04-11 03:12] abhilash07 commented on #5808
@nitisht thanks for your quick response, is it my execution is right or should i try anu another execution command ???
Thanks in Advance.

[2018-04-11 03:19] nitisht commented on #5808
How many servers you have? If you have just one server and all disks are on that server, you should use
`./minio server /mnt/export1 /mnt/export2 /mnt/export3 /mnt/export4`

You'll need to create mounts `export3` and `export4` if you dont have it already

[2018-04-11 05:31] abhilash07 commented on #5808
@nitisht  thanks for your suggestions. It works.

[2018-04-11 05:31] #5808 closed, assigned to nitisht

[2018-04-11 10:00] abhilash07 opened #5809 "Gateway: Multipart upload on azure gateway with Minio browser not working"
i am trying to deploy minio using Azure Blobstore

export MINIO_ACCESS_KEY=xxxxxx
export MINIO_SECRET_KEY=xxxxxx

./minio gateway azure

![screen shot 2018-04-11 at 6 59 47 pm](https://user-images.githubusercontent.com/10971841/38609990-8c1070b6-3dba-11e8-9722-0801c62375d4.png)

Second error is how to overcome the object size file uploading to minio azure gateway.

![screen shot 2018-04-11 at 7 04

[2018-04-11 10:05] nitisht commented on #5809
@abhilash07 Azure gateway supports only `read-only` policy due to Azure API limitation. Please refer: https://github.com/minio/minio/blob/master/docs/gateway/azure.md#known-limitations

[2018-04-11 11:42] wd256 commented on #5800
@poornas, thanks for taking a look at the issue. The core of the problem for me is that I don't see a way using the current GCS ObjectLayer implementation to be able to update the Custom metadata for an object while preserving its other user editable metadata (ContentType, ContentEncoding, ect..).

gcsGateway's CopyObject implementation only sets the object's Metadata attribute which is used to ap

[2018-04-11 11:56] nitisht commented on #5809
Can you let us know what is the object size being uploaded? Also, SDK and Minio server version in use.

[2018-04-11 17:53] poornas commented on #5800
@wd256, the current GCS gateway implementation follows S3 spec, which does not persist editable metadata from src side in a CopyObject call. You could specify the editable metadata with AWS CLI's copy-object command by specifying the flags like --content-type, in which case you will get the desired outcome. You might want to consider using boto if you want to do it programmatically.

[code]

[2018-04-11 23:08] vadmeste commented on #5720
Closing after opening the issue: https://github.com/aws/aws-sdk-net/issues/927

[2018-04-11 23:08] #5720 closed, assigned to vadmeste

[2018-04-11 23:13] vadmeste opened #5811 "Browser: Minio Browser not looking so good in Firefox"
## Expected Behavior
Same rendering as Google Chrome

## Current Behavior
![sc-ff](https://user-images.githubusercontent.com/283197/38647799-ea316a50-3da2-11e8-868c-e35b6ee1a5c2.png)

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
Open http://minio_server_address/ in Firefox

## Context
Fixing bug

## Your Environment
minio master: 650c6ee8fb9109a664a3305672683caf34c7e631
Firef

[2018-04-11 23:27] abhilash07 commented on #5809
@nitisht thanks for your information, and the File size i uploaded is  349MB. Please refer below screen short for minio server version and SDK.
![screen shot 2018-04-12 at 8 26 02 am](https://user-images.githubusercontent.com/10971841/38648268-44aec6f2-3e2b-11e8-8b47-1285330df2f4.png)

More Over i can upload 200MB file

Thanks in Advance.

[2018-04-12 00:15] #5797 closed, assigned to harshavardhana

[2018-04-12 05:50] #5758 closed, assigned to harshavardhana

[2018-04-12 06:52] wd256 commented on #5800
@poornas, the issue still occurs when using the AWS CLI with the copy-object comand and specifying --content-type / --content-encoding. The ContentType and ContentEncoding attributes on the object are removed and entries for "content-type" and "content-encoding" are placed into the Custom metadata of the object instead.

This isn't such a problem if you are only accessing the object again through

[2018-04-12 18:17] elsonrodriguez commented on #5797
@harshavardhana Thank you for the fast fix! The job trains successfully with the latest build.

[2018-04-12 19:32] poornas commented on #5800
@wd256,which version of minio are you using? If you are using the commit from my pull request, I believe now that the PR is not needed at all. If metadata replace directive is specified, the standard metadata in http headers are used during a copy with replace operation. You will have to make sure to get original metadata, update in place and then pass it to aws cli copy-object command as well as

[2018-04-12 20:14] aead opened #5813 "[security]: Server should set security related HTTP headers"
## Expected Behavior
The minio server should set security headers such as:
 - `X-Frame-Options: SAMEORIGIN` (See #5805)
 - `X-XSS-Protection: 1; mode=block` (See #5805)
 - `Content-Security-Policy:`
 - `Expect-CT`
 - `Strict-Transport-Security: max-age=x ; includeSubDomains`

## Current Behavior

Server only sets `X-Content-Type-Options: nosniff

## Possible Solution

Add headers in `/cmd/http`

#

[2018-04-12 22:43] #5531 closed, assigned to harshavardhana

[2018-04-13 03:42] zerkms commented on #5700
Is this problem relevant to

[code]
?

(it's from `RELEASE.2018-04-12T23-41-09Z`)

It happens on demo install: create a cluster of 4 machines, run it, shut down one machine, create a bucket, upload a file and boot up the machine back.

[2018-04-13 03:43] nitisht commented on #5809
Just to clarify, you use the Minio browser to upload the 349 MB File?

[2018-04-13 03:46] abhilash07 commented on #5809
@nitisht, yes i use minio browser to upload the 349 MB File!!!

[2018-04-13 03:47] nitisht commented on #5804
@ZyanKLee closing the issue as answered, feel free to reopen or reach out to us on Slack for further questions.

[2018-04-13 03:47] #5804 closed, assigned to nobody

[2018-04-13 03:53] nitisht commented on #5809
okay, thanks let me try to reproduce this locally and get back

[2018-04-13 03:55] nitisht commented on #5761
Thanks for reporting @dferstay , let me setup a cluster and try to reproduce this locally. Will get back to you

[2018-04-13 04:08] nitisht commented on #5809
I can confirm this issue @abhilash07 . Will have a fix for this soon

[2018-04-13 04:10] harshavardhana commented on #5700
No @zerkms the new logging is a bit verbose we are working on reducing it.

[2018-04-13 04:14] zerkms commented on #5700
I mostly addressed the `Error: volume not found`: in the scenario I described the 4th machine (which I shut down) cannot re-join the cluster.

[2018-04-13 04:20] abhilash07 commented on #5809
@nitisht thank you so much for quick response and suggestions. Good luck

[2018-04-13 04:31] harshavardhana commented on #5700
How did you test that it cannot rejoin the cluster ?

[2018-04-13 10:19] CAFxX opened #5815 "Minio won't recover if a node gets kill -9"
Currently the minio-boshrelease stops minio using `kill -9`. This is obviously a bug of the boshrelease, but in our testing it uncovered that a minio cluster can fail to recover after one of the nodes is killed with `kill -9` or, more importantly, **when the whole server/vm/os crashes**.

## Expected Behavior
Regardless of how a node is shut down, as long as enough nodes remain online when the nod

[2018-04-13 14:00] harshavardhana commented on #5815
During `kill -9` were there objects being uploaded actively ?

[2018-04-13 14:15] CAFxX commented on #5815
@harshavardhana not that I'm aware of, but let me add @giner because he should know for sure.

[2018-04-13 14:27] giner commented on #5815
@harshavardhana, yes they were. I was doing this intentionally to test how stable and recoverable cluster is before using it in production.

[2018-04-13 14:28] giner commented on #5815
At the moment I'm not quite sure how to recover this because minio says "Multiple disk failure" but it doesn't say where.

[2018-04-13 15:11] harshavardhana commented on #5815
Ext4 journals would have not committed (basically the fds that Minio was writing) so what you are seeing is partial objects @giner so indeed some disks have the object and some don't and the most we don't have i.e not enough parity to reconstruct the data.

[2018-04-13 15:15] harshavardhana commented on #5815
Will test this scenario with bosh and let you know.

[2018-04-13 15:41] harshavardhana opened #5817 "Sporadic failure of CopyObjectPart test on Windows CI"
## Expected Behavior
No sporadic failures

## Current Behavior
[code]

The full log is here [log.txt](https://github.com/minio/minio/files/1908014/log.txt) (search for `FAIL:` ) string.

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Unsure

[2018-04-13 17:15] krishnasrinivas commented on #5815
@CAFxX @giner the way minio works during PUT is, it writes data on all the 6 node to a tmp location and finally when the PUT completes, minio renames the files to the actual name space location on all the 6 nodes in parallel. During this parallel rename process if you send `kill -9` to one of the 6 minio servers, the rename to the actual name space location will fail on this server. But rename wou

[2018-04-13 17:23] giner commented on #5815
That's right. Just one. Any suggestions how to find those broken files now?

When this issue is fixed I'm plaining to do more tests.

[2018-04-13 17:35] harshavardhana opened #5818 "Sporadic failure of TestHealStartNStatusHandler on Windows CI"
## Expected Behavior
No sporadic failure in tests

## Current Behavior
Sporadic failure

[code]

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Unknown

[2018-04-13 17:36] krishnasrinivas commented on #5815
Check `mc admin heal --dry-run --recursive --json myminio/test/`

to format the json output, you can do:
`mc admin heal --dry-run --recursive --json myminio/test/ | jq .`

Can you provide the test script that you are using for tests, to see the pattern of the tests.

[2018-04-13 18:48] giner commented on #5815
There is no script, I'm just going through common failure sutiations.

Here is what I'm going to test assuming that there is always read / writte activity towards all of 6 cluster nodes.
- rolling restarts (run healing after every restart)
- crashing one node (echo c | sudo tee /proc/sysrq-triggers), restart an heal
- crashing two nodes, restart and heal
- wiping out disk on one of nodes, bring it

[2018-04-13 19:28] krishnasrinivas commented on #5815
To reproduce the problem, this is what we are going to try:

1) have 6 minio servers
2) do PUT object
3) `kill -9` one server
4) check if the object can be read

If these are not the right steps to reproduce the problem, let us know.

[2018-04-13 23:03] dewjam commented on #5139
@harshavardhana The solution you suggested is certainly feasible and acceptable in many situations.  However, I don't think it would fly very far in an Enterprise.

Of course it depends on the intended use-case for Minio as a whole.  Is it targeted at SMBs and developers who just need a simple S3 interface?  Or is Minio intended to be a feasible solution for the enterprise?

Based on the features

[2018-04-13 23:25] harshavardhana commented on #5139
We are certainly aware that it is present, there are many other APIs that are present as well. We don't implement ACLs as well since we think those are legacy and bucket policies should be used. The decision here is quite similar. We can justify pretty much everything on why such and such API AWS S3 implements and why Minio should do that too.

Lifecycle is more of a bucket management API, so with

[2018-04-13 23:44] dewjam commented on #5139
My point with this comment is that the mentioned approach is not acceptable for most Enterprises.  And if Enterprise is the focus, I would expect this to at least be on the roadmap.  (Definately not expecting it to be a top priority)

[2018-04-14 04:41] harshavardhana commented on #5811
// cc @kmkanagaraj @rushenn

[2018-04-14 04:42] harshavardhana commented on #5799
@masafif I have tried to reproduce - I cannot seem to reproduce the problem. Do you have any ideas on what led to this situation that we can replicate?

[2018-04-14 04:52] harshavardhana commented on #5656
From what I can see in the profile output the active memory used by the process is only 20MiB, just to test the theory of GC overhead can you set the env `GOGC=20`  and see if the memory usage improves?

[2018-04-15 04:18] giner commented on #5815
`--json` option didn't help to find where it exactly fails.
[code]

[2018-04-15 06:02] harshavardhana commented on #5815
@giner which version of bosh release are you using? I mean `minio version`? - from the error, it looks a bug which we have fixed already where bucket healing wouldn't occur due to underlying HealBucket() would return an error incorrectly.

[2018-04-15 06:05] harshavardhana commented on #5815
The issue I am talking about is specifically this https://github.com/minio/minio/issues/5708 which was fixed and we have made multiple releases. @krishnasrinivas we should update the boshrelease to latest minio release. Once this is done could you validate and run your tests again? @giner

[2018-04-15 06:17] giner commented on #5815
Initial deploy and tests were made with the bosh release 2018-03-19T19-22-06Z. Then I manually replaced all binaries by 2018-04-12T23:41:09Z and restarted all nodes one by one to see if it can help to recover however it couldn't.

[2018-04-15 06:19] harshavardhana commented on #5815
Would it be possible to get `minio version` output? - I thought Bosh wouldn't allow you to manually replace binaries in that manner and that it reverts to the original manifest after a restart?

[2018-04-15 06:22] giner commented on #5815
[code]

[2018-04-15 06:38] harshavardhana commented on #5815
I did a quick test with 4 nodes locally - I seem to be not able to reproduce this problem. While performing the I/O I took down the server using `kill -9` and brought it again up.  NOTE: I am not using bosh environment just bare metal.

[code]

I can successfully heal buckets, so now it looks like we need to debug this issue further.

Would it be possible for you to list the backend files perhaps

[2018-04-15 06:53] giner commented on #5815
In logs on the node I'm connecting to I see the following:
[code]

[2018-04-15 07:01] giner commented on #5815
Talking about file trees, they are pretty big:
[code]

[2018-04-15 07:07] giner commented on #5815
[code]

[2018-04-15 07:42] harshavardhana commented on #5815
can you attach them here - I would like to verify the list output @giner - also can you provide the outputs for following commands?

- `mc admin heal  --json -r <alias>`
- `mc admin heal --json -r <alias>/<bucket>`
- `mc admin heal --json -r <alias>/<bucket>/<pick_a_directory_prefix>`

[2018-04-15 07:43] harshavardhana commented on #5815
This is not necessarily a problem, is this the same information that you have available on all nodes? would it be possible to capture the entire console output after when you perform `mc admin heal` and observe the Quorum issue?

[2018-04-15 08:06] giner commented on #5815
[minio.files.0.txt](https://github.com/minio/minio/files/1911921/minio.files.0.txt)
[minio.files.1.txt](https://github.com/minio/minio/files/1911922/minio.files.1.txt)
[minio.files.2.txt](https://github.com/minio/minio/files/1911923/minio.files.2.txt)
[minio.files.3.txt](https://github.com/minio/minio/files/1911924/minio.files.3.txt)
[minio.files.4.txt](https://github.com/minio/minio/files/1911925

[2018-04-15 08:19] giner commented on #5815
`mc admin heal --json -r <alias>` - this goes well for two buckets and fails on the 3rd one (there are 4 buckets in total)

`mc admin heal --json -r <alias>/<bucket>` - This is successful for two buckets and fails for two others, this is out put for one of them:
[code]

`mc admin heal --json -r <alias>/<bucket>/<pick_a_directory_prefix>` - successful for files or directories with files I can acces

[2018-04-15 08:21] harshavardhana commented on #5815
@giner Thanks a lot for all this information, now I have a template on perhaps getting to a stage to reproduce this problem.

[2018-04-15 11:38] arikbidny opened #5824 "Secure every bucket with AccessKey and SecreyKey"
1 Accesskey and 1 Secreykey for each bucket problem

## Expected Behavior
AccessKey and SecreyKey for each bucket

## Current Behavior
Same AccessKey and SecreyKey for all buckets

## Context
We want to use more secure solution then 1 accesskey and 1 secreykey for all buckets, We want to secure every bucket separately, Is it possible?
thanks

## Your Environment
* Version used - 2018-04-12T23:41:0

[2018-04-15 11:44] nitisht commented on #5824
@arikbidny right now it is not possible to do so, but we are already working on a solution. You can follow the discussion [here](https://github.com/minio/minio/issues/5305)

[2018-04-15 15:12] harshavardhana commented on #5824
Closing as duplicate of #5305

[2018-04-15 15:12] #5824 closed, assigned to nobody

[2018-04-16 00:11] zerkms opened #5825 "Erasure code guarantees are not kept under some circumstances"
Scenario:

1. Create a 4 nodes cluster (m1, m2, m3, m4)
2. Shut down one node (m1)
3. Upload a file
4. Boot up a node (m1)
5. Shut down 2 more nodes (m2, m3)

Now - the data is lost.
The same scenario is reproducible in case if it was an intermittent network failure on a single node or if it was firewall mis-configuration or anything else.

I think it should be a command that checks that every nod

[2018-04-16 02:41] zerkms opened #5826 "`UUID on positions 0:0 do not match with`"
Steps to reproduce

1. Create 4 nodes cluster (m1, m2, m3, m4)
2. Shut down m1
3. From m4 run: `mc admin heal --json -r m4`
4. Start m1

Error observed:

[code]
Version affected: `RELEASE.2018-04-12T23-41-09Z`

[2018-04-16 03:30] harshavardhana commented on #5826
Since you are attempting a heal when a disk is offline, that disk is fully ignored on purpose. Once it's ignored you are free to heal all the objects as needed to the available disks.. when the disk is brought back it is rejected because we do not know where this disk came from - it could be a malicious attempt to corrupt the data etc or a misplaced drive from some other cluster.

[2018-04-16 04:01] masafif commented on #5799
@harshavardhana did you reproduce from the file i have uploaded and can open the images?

I try to change config for json like this. @y4m4 said only need one server for heal. Actually I have 4 minio server and using NGINX Proxy. But now, i try to use one server in ip 10.10.1.132

/root/config/.json
"local": {
"url": "http://10.10.1.132:9000",
"accessKey": "xxxxxxxxxxx",
"secretKey": "xxxxxxxxxxx",

[2018-04-16 04:20] zerkms commented on #5826
That's correct, and it means that minio cannot gurantee the erasure code works properly, since https://github.com/minio/minio/issues/5825

Which means - silent data loss. Or broken node. Whichever is more acceptable (while `cluster` term probably means both should be addressed automatically)

[2018-04-16 06:10] zerkms commented on #5826
After thinking about it for some time, would this be a **safe** way to recover all nodes in cluster for the following scenario:

1. Create 4 nodes cluster (m1-m4)
2. Shut down m1
3. Upload a file
4. Start m1
5. Shut down m2
6. From m1 run `mc admin heal --json -r m1`
7. Start m2 (now it's broken, due to different UUIDs)

So for the step 8 to recover m2, do I have to remove **everything** and heal

[2018-04-16 07:51] wd256 commented on #5800
@poornas, I'm able to reproduce the issue when using master and your gcs branch.

The steps to reproduce the issue are as follows:

1) Use gsutil to upload an object and specify the Content-Type, Content-Language.
[code]
2) Use gsutil to retrieve the object's metadata.
[code]
![image](https://user-images.githubusercontent.com/8491917/38795444-9b8fdce0-419b-11e8-9e47-e8cf192e7531.png)

Observe the

[2018-04-16 12:26] HjlSr commented on #5656
@harshavardhana
i set GOGC=20 in docker-compose envirenmet ,as below :
 environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: cFV^+7/85KFr-ws]
      _MINIO_CACHE: "off"
      _MINIO_PROFILER: "mem"
      GOGC: 20

and again i see memory leak .
new profileinfo :
[profile471871809.tar.gz](https://github.com/minio/minio/files/1915205/profile471871809.tar.gz)

[2018-04-16 15:08] atrauzzi commented on #5139
Anything to do with expiry - despite seeming like a black-box feature - seems like it ought to be in scope for this project.  I definitely agree that there's a component of _magic_ here, but this is a very common feature that people bank on.

[2018-04-16 17:47] #5811 closed, assigned to rushenn

[2018-04-16 18:00] deekoder commented on #5809
@kmkanagaraj increasing priority of this issue.

[2018-04-16 18:00] #5760 closed, assigned to deekoder

[2018-04-16 18:44] harshavardhana commented on #5803
@krishnasrinivas we can close this issue?

[2018-04-16 18:54] harshavardhana commented on #5815
@giner were there any deletes involved as well along with PUT operations? - btw is always one server going down or are you cycling through all servers one by one?

Can you provide the script or application that you used to do this?

[2018-04-16 18:58] harshavardhana commented on #5799
@masafif from what I can see the disks were not properly arranged when you deleted the `format.json` and we had to replace them. Locally I have tried multiple times with different images etc I don't see a problem. So it must be that disks were arranged wrong.

[2018-04-16 20:01] zerkms opened #5832 "Distributed minio does not start with hostnames when is used inside lxd"
Steps to reproduce, including configuring lxd:

1. Install lxd (OS-specific, trivial)
2. `lxc launch ubuntu:xenial minio-1` (up to minio-4)
3. setup DNS to resolve your hostnames to IPs of LXD containers
4. `lxc exec minio-1 bash`
5. download minio, edit `config.json` if necessary
6. try to start minio in distributed mode

2 attempts are following, with implicit and explicit server address
[code]

[2018-04-16 20:28] krishnasrinivas commented on #5803
@harshavardhana I think so.

@glensc please re-open if you would like to.

[2018-04-16 20:28] #5803 closed, assigned to krishnasrinivas

[2018-04-16 23:20] salsadoom opened #5833 "Getting errors "Error: file access denied" and "Error: stat no such file or directory""
Some files don't appear to be uploading correctly. I haven't been able to figure out why or any pattern to which files don't upload correctly. The files **seem** to actually be there, but I get errors in the logs saying they aren't. Confusing.

## Expected Behavior

I would expect my files to upload correctly, and the logs not output "Error: file access denied" and "Error: stat /storage/minio/mast

[2018-04-16 23:20] harshavardhana commented on #5833
This is an error to be ignored, we have started over logging in a recent release.

[2018-04-16 23:22] salsadoom commented on #5833
Oh. Well that's actually good news. That means my minio server is working then. Thanks for the quick reply, that explains why everything looked ok. Thanks!!

[2018-04-16 23:22] #5833 closed, assigned to nobody

[2018-04-17 01:29] fwessels commented on #5825
In the exact steps that you describe you are correct that the data becomes inaccessible after step 5.

However, if we were to do this:
   6. boot either one of the down nodes

then the data would reappear, so it is not "irreversibly" lost (unless the disks on both m2 and m3 would crash simultaneously).

If you want to protect yourself against 2 down nodes, then we would advise to run a larger clus

[2018-04-17 01:34] zerkms commented on #5825
`s/Shut down/Destroy`

My point here is that neither it auto-heals itself, nor it reports that the state of the node is not consistent.

I have realised that it's what it is. The problem is that documentation does not focus on it. From the first glance it looks like the "erasure code" works great, while in fact - even 1 second node restart may cause the silent data loss eventually.

there is anoth

[2018-04-17 02:08] fwessels commented on #5825
Even auto healing upon startup would not always solve this due to the significant time (at scale) it would consume because presumably the destroy action would take place quickly after step 4.

We recommend to run `mc admin heal` once in a while. And depending on the amount of nodes, stability of the network, parity setting, capacity of the cluster, HDD or SSD, etc. you can do so more or less frequ

[2018-04-17 02:16] zerkms commented on #5825
Nope, my original concern is that the node does not report about itself at all. So `Tstep5 - Tstep4` might be months.

Wouldn't `mc admin heal -r` take the same amount of resources (A LOT) as the auto-healing on start?

[2018-04-17 04:38] masafif commented on #5799
@harshavardhana, is it still possible to make disks work properly again ?
After recreate format.json actually minio server is normal...but the old data is broken

[2018-04-17 04:44] harshavardhana commented on #5799
Yes the problem is that order is lost. It is possible to recreate the format.json again but I guess those images are lost.

[2018-04-17 04:58] giner commented on #5815
I think deletes were involved. Here is what I did for testing:
1. Configured Cloud Foundry instance to use minio as a blobstore
2. Started to push an application to Cloud Foundry in a loop `while true; do cf push; done`
3. Restarted one node

`cf push` should be replacing old blob by a new one so deletion was also involved.

For the initial test it was only node number 2 (minio/2). Later I had to

[2018-04-17 06:49] harshavardhana commented on #5815
@giner thanks this helps.

[2018-04-17 12:06] Asthi opened #5834 ""Could not create SSL/TLS secure channel" on Win server 2008 R2"
After restricting cipher suites there is a problem with connecting to minio server from Windows Server 2008 R2 and Windows 7 (they are old but not dead yet) with simple WebRequest from .NET client or even Powershell.
This "security update" is forcing me to disable SSL what is unacceptable.

Supported cipher suites before updating our Minio server:
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256  (0xC02F)
TL

[2018-04-17 16:44] fwessels commented on #5825
Correct, these operations will tax the system considerably for a significant amount of time (provided a lot of data is under management).

Which is all the more reason why always automatically starting two heal operations in parallel when both m2 and m3 are restarted may not be what you would want as an operator (in addition to the regular production workload).

Of course if this is the desired be

[2018-04-17 19:54] zerkms commented on #5825
What is the purpose of running it in cron as suggested, instead of doing it once on start, automatically? And given the nodes are in cluster - they might coordinate to do it one after another.

To me doing it once is better than doing it periodically.

[2018-04-17 21:12] aead commented on #5834
Thanks for opening @Asthi  - I'm aware of the Windows 7/8 TLS issue. You are using a RSA private/public key pair for your certificate. I recommend that you switch to an ECDSA based certificate. The cipher suite `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256_P256` is supported by both Windows 7 and the minio S3 server. You can generate an ECDSA key pair by following this [doc](https://docs.minio.io/docs/

[2018-04-17 21:18] fwessels commented on #5825
`mc admin heal` does more than just repair damage that may be caused because a node is down.

It will also detect any bit-rot that may have occurred over time and correct this. So it is advisable to run it on a recurring basis (say once per month) anyhow.

[2018-04-17 21:25] zerkms commented on #5825
"once a month" is an extremely large window, which significantly increases the chance of silent data loss.

[2018-04-17 21:48] erma07 commented on #5305
When will this feature be implemented? Any chance credential pair permissions could also be defined per bucket?

[2018-04-17 22:47] fwessels commented on #5825
Not necessarily, for SSD-based configurations and/or larger numbers of nodes it may even be higher.

[2018-04-18 16:10] #5800 closed, assigned to poornas

[2018-04-18 23:01] #5723 closed, assigned to harshavardhana

[2018-04-18 23:56] deekoder commented on #4948
We will look into it. I mistakenly thought s3cmd may have fixed this issue. Now I see the issue is still happening. So it may be on our end. We will look into this @EgoAleSum

[2018-04-19 11:44] gervaiscoquil opened #5837 "log erreur copy file in bucket"
**Environment**

OS : Debian 9.4
Minio : minio.RELEASE.2018-04-12T23-41-09Z

`#./mc version`
Version: 2018-03-25T01:22:22Z
Release-tag: RELEASE.2018-03-25T01-22-22Z
Commit-id: da5c19848d1e82a24eddb453b01e83d4a0660de4

**Start server**

`# ./minio.RELEASE.2018-04-12T23-41-09Z server /mnt/data1 /mnt/data2 /mnt/data3 /mnt/data4`

**Client mc**

`# ./mc mb myminio/test00`
Bucket created successfully `

[2018-04-19 11:49] nitisht commented on #5837
@gervaiscoquil you can safely ignore the error. We are revamping Minio error logging and these errors will be removed soon

[2018-04-19 12:17] gervaiscoquil commented on #5837
@nitisht ok thanks ;)

[2018-04-19 14:18] viralpickaxe commented on #5813
This should be configurable... Breaks any setup using minio to serve content for an iframe...

[2018-04-19 14:42] harshavardhana commented on #5809
https://github.com/minio/minio/blob/master/cmd/gateway/azure/gateway-azure.go#L762 - if our PutObject code supported what we do in PutObjectPart it is possible to do this without using the multipart logic. Since our single PutObject already supports up to 5TiB.

For now the workaround is simply to use a CLI tool like `mc` or `s3cmd` @abhilash07

[2018-04-19 17:14] deekoder commented on #5834
@Asthi  Please let us know if you want to discuss this further and think it's not addressed.

[2018-04-19 17:18] aead commented on #5813
@viralpickaxe I think this okay for now. Embedding the minio browser in an iframe is a very unusual use case. If it becomes a commen one we can think about making it configurable.
From my side: working-as-intended

[2018-04-19 17:23] viralpickaxe commented on #5813
@aead oh no I didn’t mean that, the issue is I have an html file being generated, saved in minio and then I’m trying to load the file directly from inside an iframe, and it’s being blocked because it has these headers. This header should only be applied to the minio dashboard portal, not the resources saved inside.

[2018-04-19 17:45] aead commented on #5813
@viralpickaxe Ah, I see your point. Your right about the `X-Frame-Options`. We should not set it for regular S3 requests. Will fix it

[2018-04-19 18:46] #5813 closed, assigned to aead

[2018-04-20 00:24] #5728 closed, assigned to ebozduman

[2018-04-20 03:05] Jamlee opened #5839 "Can i store `/data/.minio.sys` in some db like mysql?"
i found the .minio.sys store the struct of stored files. many little files could result to perfermance problem. Could i store the metadata to my mysql db?

![image](https://user-images.githubusercontent.com/5196641/39028679-6d5ff660-448a-11e8-9535-9c6edbe77557.png)

## Possible Solution
metadata adapter to stored in mysql or other db.

[2018-04-20 03:21] nitisht commented on #5761
@dferstay can you please try

[code]

and let us know how this goes?

[2018-04-20 04:53] harshavardhana commented on #5839
We designed our backend format to not store in any database. Is there any problem with current format ?

[2018-04-20 07:16] abhilash07 commented on #5809
@nitisht, @kmkanagaraj, @harshavardhana thanks for your suggestions.

[2018-04-20 07:30] Jamlee commented on #5839
@harshavardhana I just worry about files amount.  i have 500,000 little files in my EMC Islion( my company enterparise storage).

[2018-04-20 07:32] harshavardhana commented on #5839
There is nothing to worry about EMC Isilon can handle 500,000 files.

[2018-04-20 07:59] #5839 closed, assigned to nobody

[2018-04-20 17:02] tnatanael commented on #5305
Any news?

[2018-04-20 17:18] harshavardhana commented on #5305
This is in future @thiagonatanael @erkimarks currently we are working on other priorities.

[2018-04-20 18:01] tnatanael commented on #5305
Sure, really thx! The software is awesone!

[2018-04-20 18:20] deekoder commented on #5809
Closing as a won't fix for now, since its got an acceptable workaround for now.

[2018-04-20 18:20] #5809 closed, assigned to kmkanagaraj

[2018-04-20 18:22] deekoder commented on #5825
I will close this issue and we can follow up  #5826 separately. Thanks @zerkms. Let us know if you have any further questions. You can also directly chat with us on our slack channel.

[2018-04-20 18:22] #5825 closed, assigned to fwessels

[2018-04-20 19:25] nitisht opened #5841 "EvaporateJS library takes longer for multipart uploads"
## Expected Behavior
EvaporateJS library should not lag while trying to upload multipart via browsers.

## Current Behavior
Compared to S3, it take longer for multipart uploads to go through on Minio server.

## Possible Solution
Not sure, benchmarking needed

[2018-04-20 19:25] nitisht commented on #5841
Will add information as I explore the EvaporateJS library

[2018-04-21 09:35] #5834 closed, assigned to aead

[2018-04-21 15:53] harshavardhana commented on #4732
Just to reference - You have to run this
[code]
Other information -https://stackoverflow.com/questions/14841986/iis-aar-url-rewrite-for-reverse-proxy-how-to-send-http-host

[2018-04-21 21:48] harshavardhana commented on #5656
The attached file seems to be empty @HjlSr are you sure you attached the right file?

[code]

[2018-04-23 06:22] CAFxX commented on #5815
in this case the problem happened after we manually stopped and started just 1 node out of 6, but as I mentioned during the cf summit bosh requires rolling restarts of all nodes for every configuration change, so eventually that scenario needs to be taken into consideration

[2018-04-23 11:52] aead opened #5844 "[security]: The server should reject non-constant time elliptic curve implementations"
The following code tries to establish a TLS connection using the NIST curves P-384 or P-521:
[code]

## Expected Behavior
The server should reject the request because both implementations are not constant time.
The Go TLS stack only supports constant-time implementations of `Curve25519` and `P-256` (also `P-224` but it's not available for TLS).

## Current Behavior
Client can connect to server suc

[2018-04-23 13:29] rawkode commented on #5725
Suffering this problem too. Is there a solution yet?

[2018-04-23 14:43] nitisht commented on #5725
what is you Kubernetes version @rawkode ?

[2018-04-23 14:46] rawkode commented on #5725
@nitisht 1.9.6

[2018-04-23 14:50] nitisht commented on #5725
Thanks @rawkode let me try to reproduce this and get back to you

[2018-04-23 16:05] dgoujard commented on #5199
I also need separate access key by buckets to host website assets, it's not great to have the same key for different clients.

[2018-04-23 17:45] msinj opened #5846 "Distributed minio takes long time to upload and download large file locally."
## Expected Behavior

- Should show/start uploading immediately
- Should start download immediately.
- The download and upload speed should be faster.

## Current Behavior

We are testing the distributed minio. We have uploaded and download a 177MB video file. It takes about 3 minutes. At the same time, it takes long time to show that it started the download process. It appears after it approximat

[2018-04-23 19:05] krishnasrinivas commented on #5815
@CAFxX I met you at the cf summit, I am currently looking into this issue.

[2018-04-23 20:09] dferstay commented on #5761
Hi @nitisht; I get the same mode of failure at startup:

Unfortunately, I get the same result:
[code]

And a shell into the running container shows that there is plenty of space
[code]

[2018-04-23 20:15] aead commented on #5846
@msinj Can you explain your setup:
 - How much nodes are you using?
 - What client (sdk) are you using?
 - Can you provide a minimal example such that we can try to reproduce the issue you're facing?

[2018-04-23 20:24] msinj commented on #5846
We are using 4 nodes. 2 at California and 2 at New Jersey. Using WebUI to upload and download file to the server. We install the minio as below:
wget https://dl.minio.io/server/minio/release/linux-amd64/minio
chmod +x minio
./minio server /data
Change below field after "accessKey" & "secretKey"
		"accessKey": "AKIAIOSFODNN7EXAMPLE",
                "secretKey": "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMP

[2018-04-23 20:58] aead commented on #5846
@msinj Thanks for the details. One more question: What is the exact meaning of:

You said you are using the WebUI. Are you downloading the object as a zip archive? Or are you
starting a "regular" download (just clicking on the object in the UI)?

[2018-04-23 21:10] msinj commented on #5846
starting a "regular" download (just clicking on the object in the UI)?

We are using regular download option. Normally, when you click an item to download, it supposed to shows immediately that it is downloading. But from the minio, download indication shows after a minute at the bottom of the chrome after it downloads 64MB. File size is 178 MB. Its downloading as if dividing the file into 3 diffe

[2018-04-23 21:25] aead commented on #5846
Yes this is because erasure mode (in your case distributed erasure mode) splits objects into 64 MB chunks to reduce the time-to-first-byte. So the server is reading 64MB from it's disks before it can write anything to the client. However if all nodes have a fast network connection it should not take that long even in the worst case. I'm investigating...

[2018-04-23 22:08] aead commented on #5846
@msinj Can you:
1. Try to measure the network performance between the boxes using `iperf -s` and `iperf -c <box>`?
2. Ensure that all servers are available using `mc admin heal <cluster>`

[2018-04-23 23:18] msinj commented on #5846
can you give an example? I am not very familiar with the task. May be example of exact direction? Also, how to use `mc admin heal <cluster>` ?

[2018-04-24 02:47] nitisht commented on #5761
I just noticed you have the storage set to ` storage: 1Gi` in the yaml file. Could you please change it to `2 Gi` and try?

[2018-04-24 03:07] nitisht commented on #5725
@rawkode I have removed the configMap support in the helm chart for now, so that the deployment goes through. Once https://github.com/kubernetes/charts/pull/4277 is merged, the helm chart should work as expected.

[2018-04-24 04:12] nitisht commented on #5841
found that MD5 generation for each part takes considerable time, slowing down the upload process in browser. Removing the MD5 generation speeds up the upload process.

Here is a comparison of upload speeds

![image](https://user-images.githubusercontent.com/5156139/39165753-a85518ec-47a3-11e8-9ba9-3d46e20f5f14.png)

Closing this issue as this doesn't seem to be a problem with Minio server itself.

[2018-04-24 04:12] #5841 closed, assigned to nitisht

[2018-04-24 07:41] StefanVanDyck commented on #5290
@harshavardhana Hello, are you guys still working on this?
Your last reply made use wonder if no fix was coming.
If we can assist in any way, let us know.

Thanks!

[2018-04-24 07:44] aead commented on #5846
`mc` is our CLI S3 tool -> [here](https://github.com/minio/mc).
If you start your servers/cluster it should show you something like:
`mc config host add myminio https://192.168.188.22:9000 Q3AM3UQ867SPQQA43P2F zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG`

`myminio` would be the name for your cluster - you can change it to anything you want.
Let's assume you called it `myminio`: Than run `mc admin hea

[2018-04-24 14:27] davidgubler commented on #3567
I'm sorry, but that does not make any sense at all.

A configuration file is just one way to configure a service. Another one is command line parameters, and a third one is environment variables. Ideally, all three support the exact same set of configuration options.

It is up to the user/system administrator to decide which is best for which situation. In our case, we start multiple instances of

[2018-04-24 15:07] msinj commented on #5846
Hi,
I don't see any corruption in the /data directory.
![image](https://user-images.githubusercontent.com/35358239/39196233-951ee71a-47af-11e8-9d29-660828dce9a0.png)
![image](https://user-images.githubusercontent.com/35358239/39196286-b40fb910-47af-11e8-9fcd-2ddd6038324b.png)

Getting below error when we start the distributed minio:
API: SYSTEM(bucket=video)
Time: 05:39:30 PDT 04/24/2018
**Error:

[2018-04-24 15:51] harshavardhana commented on #5290
@StefanVanDyck we are we had to refactor the entire RPC sub-system and move to full HTTP to make it work correctly. You can follow the PR here https://github.com/minio/minio/pull/5840

[2018-04-24 16:00] harshavardhana commented on #5846
Minio distributed is not designed to work across data centers and it is not supported. While it may work if you have low-performance requirements, but it is not the recommended setup and can lead to potential issues. Low performance observed here is a result of this style of setup.

[2018-04-24 16:15] msinj commented on #5846
Thanks for the information. What about the error `file not found`?

[2018-04-24 16:30] harshavardhana commented on #5846
That error is frivolous and can be ignored, in a recent logging change we are over logging which we don't need to.

[2018-04-24 16:32] harshavardhana commented on #5846
In a multi-datacenter setup like yours - you should utilize edge caching which can provide you with the expected performance, even with a low performant backend. https://docs.minio.io/docs/minio-disk-cache-guide

[2018-04-24 16:36] dferstay commented on #5761
Thanks @nitisht.  After bumping the size of the persistent volume claim to 2G minio started up and is staying up:
[code]

Was I unwittingly bumping into a minimum volume size?

[2018-04-24 16:51] nitisht commented on #5761
Great!

Yes, 1 Gi is the minimum required storage for Minio instances. Feel free to close the issue @dferstay

[2018-04-24 16:54] dferstay commented on #5761
Thanks.  Is this documented somewhere?

[2018-04-24 17:05] nitisht commented on #5761
I don't think so @dferstay , we will add it in the docs. Thanks for the pointer

[2018-04-24 17:21] dferstay commented on #5761
No problem!

[2018-04-24 17:21] #5761 closed, assigned to nitisht

[2018-04-24 21:52] krishnasrinivas commented on #5815
@CAFxX @giner we have identified the issue, working on a fix.

When you bring a node down and remove a file, the file gets removed on all the nodes except the node that was down. When this node comes backup and you run `mc admin heal` it fails to heal the partial file found on the node that was down, causing minio to stop the healing process from healing the rest of the objects. It's a regression

[2018-04-24 22:47] #5844 closed, assigned to aead

[2018-04-25 00:03] deekoder commented on #5837
closing this as you should not see this in the future once we merge all the error related revamp concludes.

[2018-04-25 00:04] deekoder commented on #5782
I'll go ahead and close this issue for now. We will ping you again when we do the next set of enhancements.

[2018-04-25 00:04] #5782 closed, assigned to nobody

[2018-04-25 00:06] kannappanr commented on #5724
@nneul We will be showing a server is ready sort of output in the case where a `--quiet` flag is set.

[2018-04-25 00:08] kannappanr commented on #5796
For now, we will not do anything about this issue. It is expected that this scenario will not happen very often and this can be revisited at a later time.

[2018-04-25 00:25] kannappanr commented on #5837
The logs will get printed on all successful putObject operations in the XL mode. This is because we call `defer xl.deleteObject(ctx, minioMetaTmpBucket, newUniqueID)` in `putObject` function.  It's intention is to remove incomplete object. Since it is called way before knowing whether this is a success or not, we end up calling this all the time. For success scenarios we will be logging as the tem

[2018-04-25 00:31] kannappanr commented on #5763
@nneul It has been decided that we will not be doing this feature. We expect the user to use different disks and not different folders within a single disk.

[2018-04-25 00:36] #5712 closed, assigned to kannappanr

[2018-04-25 00:54] harshavardhana opened #5852 "mint/minio-go functional tests fail in GetBucketPolicy and SetBucketPolicy on master"
*** not using template ***

[code]

[2018-04-25 13:20] curantes opened #5854 "High CPU usage on minio during streaming backup with mc mirror --watch"
## Expected Behavior

Run `mc mirror --watch --remove` from my my backup node and target minio cluster. This should just stream all files from minio cluster to my local backup server without High CPU load.

## Current Behavior

Run `mc mirror --watch --remove` and slowly it starts to consume all available CPU until there is no CPU available and minio start to have high latency in serving files. th

[2018-04-25 18:56] #5815 closed, assigned to krishnasrinivas

[2018-04-26 06:21] curantes commented on #5854
I can add that after interupting the `mc mirror` yesterday there seems to still be a base load and cpu usage from when I stopped the mirror. It seems to just get corrected after a rolling restart.

![screenshot from 2018-04-26 08-18-14](https://user-images.githubusercontent.com/6643262/39289035-bb5f74f4-492a-11e8-85fe-eef3b137b16b.png)

[2018-04-26 06:24] harshavardhana commented on #5854
How many files do you have on these buckets? @curantes

[2018-04-26 08:10] curantes commented on #5854
@harshavardhana not sure if this is enough but did a quick inode check on minio volume and I have
[code]
this is one of 10 nodes/disks

[2018-04-26 09:58] aymanov1993 opened #5857 "pre signed upload url not working when adding Metadata"
Hi

I tried to upload a file to minio server using php s3client pre signed url with adding Metadata by "Metadata" s3client option and I got the following response :

[code]

My code :

[code]

Request url :

http://192.168.6.5:9000/tenant0/public/cv/other/07/1524560347.jpg?x-amz-meta-A=B&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=Y7NPQFOYR18YH8Y8XKSJ%2F

[2018-04-26 10:06] aead opened #5858 "memory usage regression in erasure setup"
The server consumes a non-constant amount of memory for reading erasure-coded objects.
This a a regression since e.g RELEASE.2017-11-22T19-55-46Z just consumed a constant amount of memory.

## Expected Behavior
[code]

The code uses a fixed amount of memory. However it is still not optimal since it consumes too much memory for small objects.

## Current Behavior
[code]

## Possible Solution
The cu

[2018-04-26 13:23] cbenien opened #5859 "Scaling issues in gateway mode"
## Expected Behavior
Scale vertically in a predictable way

## Current Behavior
I'm using minio in azure gateway mode, and I see that once I have more than 100 requests running in parallel, the performance drops sharply, with frequent failures at 200 requests. Looking at "netstat -tn" reveals that there are thousands of connections in TIME_WAIT state, indicating that minio doesn't re-use connectio

[2018-04-26 18:55] bitva77 commented on #5742
Is this possible?  I have a scenario where I need the files Minio is writing to be owned by a specific UID.  It would be great if Minio could just run as that UID.  That possible?

Thanks!

[2018-04-26 21:06] bitva77 opened #5862 "Run Minio as another user - 500 error on cp"
## Expected Behavior
mc cp hello.txt minio-test/mnt/shared_content/  would succeed.

## Current Behavior
It loops and eventually errors out.

## Possible Solution

## Steps to Reproduce (for bugs)

1.  Build minio like:

FROM minio/minio
RUN adduser -u 55556 -G root default
USER default

2.  Run it like:

docker run -d --restart unless-stopped -p 9000:9000 --name minio -v /minio:/minio -v /mnt:/mn

[2018-04-26 21:11] harshavardhana commented on #5862
This is expected @bitva77 you cannot use different backends for /minio/mnt and /minio

[2018-04-27 09:07] harshavardhana commented on #5858
I suspect large bucket support could have caused this... @aead

[2018-04-27 09:08] harshavardhana commented on #5854
Thanks, @curantes this looks like an acceptable number, btw are the backend disks ext4 or xfs?

[2018-04-27 09:16] harshavardhana commented on #5862
@deekoder this is not a bug relevant other bugs

- https://github.com/minio/minio/issues/5080
- https://github.com/minio/minio/issues/4655

[2018-04-27 09:18] harshavardhana commented on #5858
Oh actually it's not since you are using a lower level call, it is perhaps the bit-rot change that we did to read the entire file in memory and does not return it back.  We need to do a block-level checksum for this to become optimal.

[2018-04-27 11:02] curantes commented on #5854
@harshavardhana we use xfs for all our minio setups

[2018-04-27 12:54] aead commented on #5858
@harshavardhana I haven't analyzed it with pprof yet, but I suspect that it is caused by code like e.g. [this](https://github.com/minio/minio/blob/master/cmd/erasure-readfile.go#L40) where we simply allocate memory for every call instead of allocating it outside once and reuse it.

[2018-04-27 18:49] blackholegalaxy opened #5864 "Hide secret key in logs when provided at startup"
We use minio docker container. And we send all containers logs to a central elasticsearch cluster. We

To avoid unwanted people to have direct access to secret key, is there any way to hide it from logs?

## Current Behavior
Even if we user docker secrets to transmit startup access_key and secret_key to minio, minio then logs these value in clear in logs.

## Expected Behavior
Since we use secrets

[2018-04-27 19:05] harshavardhana commented on #5864
minio server --quiet - hides your secret keys.

[2018-04-27 19:56] blackholegalaxy commented on #5864
But does it also mute any other log statement?

[2018-04-27 19:58] harshavardhana commented on #5864
It will mute the banner, not other logs.

[2018-04-27 19:58] blackholegalaxy commented on #5864
ok perfect. I missed this command. Thanks for your help.

[2018-04-27 19:58] #5864 closed, assigned to nobody

[2018-04-27 23:08] #4948 closed, assigned to krishnasrinivas

[2018-04-27 23:09] krishnasrinivas commented on #4948
@EgoAleSum the fix for this is merged into master

[2018-04-27 23:19] krishnasrinivas commented on #5859
Discussion is happening on the PR

[2018-04-27 23:20] ItalyPaleAle commented on #4948
Thank you! As soon as the new Minio is released I’ll be happy to try this out.

[2018-04-28 00:39] deekoder commented on #4948
Please let us know if it works for you.

[2018-04-28 00:48] ItalyPaleAle commented on #4948
I will try it once the new release of Minio comes out. However, please note that last time it took a few weeks/months before the issue appeared (I guess Arq does that only when there's lots of data already).

[2018-04-28 09:03] Reasno opened #5865 "Minio k8s distributed mode Waiting for a minimum of 2 disks to come online infinately"
Installed Minio via helm with 4 replicas, each on a different bare metal machine. It seems mimio pods just can't connect with each other. Other pods and services in the cluster ran fine. I also checked dns following the k8s troubleshoot guide, but it is good.

## Expected Behavior

Minio works out of box.

## Current Behavior

 You are running an older version of Minio released 1 month ago
 Update

[2018-04-28 13:29] nitisht commented on #5865
@Reasno can you pls tell us more about the error

- Are all the pods up/running?
- Are you able to ping one pod from another?
- Do you have Persistent Volumes available in the cluster and are they bound to Pods?

[2018-04-28 13:40] nitisht commented on #5862
@bitva77 since this is expected behaviour, closing this issue as working as intended. Feel free to get back if you have further questions.

[2018-04-28 13:40] #5862 closed, assigned to nobody

[2018-04-28 22:15] harshavardhana commented on #5656
@HjlSr would it be possible for you to gather the memory profiles again? - also perhaps share the script or code to reproduce this problem?

[2018-04-28 22:16] harshavardhana commented on #5852
Fixed already in https://github.com/minio/minio-go/commit/0fb59dfa56a6276463cfa1fa607634979516b97b - there is another improvement PR https://github.com/minio/minio-go/pull/974 but the test failure is gone with the latest minio-go release.

[2018-04-28 22:16] #5852 closed, assigned to balamurugana

[2018-04-28 22:51] harshavardhana commented on #5826
@zerkms sorry to get back on this late, what you found here is a bug. healing when only just disks are offline shouldn't edit the `format.json` entries. Healing should invoke itself when at least one unformatted disks are found.

[2018-04-29 07:44] harshavardhana commented on #5865
@nitisht this version seems older is the helm chart not updated?

[2018-04-29 07:57] nitisht commented on #5865
There is a PR that has been in review forever due to recent issues in kubernetes configMap https://github.com/kubernetes/charts/pull/4277 , now that I removed configMap support in minio chart I am hoping it gets in soon

[2018-05-01 01:32] balamurugana opened #5871 "In 4 disks setup, console message and `mc admin info` always show two disks down in each nodes"
In four disks distribute setup, console message and `mc admin info` always show two disks down in each peers.

On node1:
[code]

On node2:
[code]

`mc admin info`:
[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
[code]
* Environment name and version (e.g. nginx

[2018-05-01 03:12] harshavardhana commented on #5871
@balamurugana are you sure you don't have firewall enabled? - or I am not able to understand this... I can successfully run a 4 disk setup just fine.

[2018-05-01 03:25] harshavardhana commented on #5871
For example

[code]

Runs completely fine. Are you trying to say that we say "offline disks" both in case of actually offline and `unformatted` ?

[2018-05-01 03:37] #5826 closed, assigned to harshavardhana

[2018-05-01 08:02] matthanley opened #5873 "XML Parsing Error: no root element found"
We're seeing the error "XML Parsing Error: no root element found" and a 500 response when requesting files from public buckets with a read only policy on Docker builds after `RELEASE.2018-04-19T22-54-58Z`

## Steps to Reproduce (for bugs)
Setup is:
* Existing data from a previous minio version
* Read only policy on public bucket

Following an update to a build later than `RELEASE.2018-04-19T22-54-

[2018-05-01 09:06] raminski2 opened #5874 "Object name contains unsupported characters when using double forward slash (//)"
When trying to write an object to a bucket via s3, the following http error 400 is returned by minio:

HTTP operation returned code: 400 request error : "Object name contains unsupported characters", URI: 1.1.1.1:9000/123abcd1234-123abcd1234//test/test_file1

## Expected Behavior
Handle double forward slashes in the URI, i.e. bucket name ending in / is then appended by the object name starting wit

[2018-05-01 15:41] harshavardhana commented on #5874
This is on purpose why would you want to have a "//" in your prefix is it not possible to simply have `123abcd1234-123abcd1234/test/test_file1` ?

[2018-05-01 15:45] harshavardhana commented on #5873
Bucket policies are in JSON the error message seems to be different for XML? can you provide more details?

[2018-05-01 16:25] matthanley commented on #5873
As an example we have a bucket called `public` with a `*` Read Only policy. Within this bucket, we have a plain text file containing only the characters `OK` that we use for monitoring availability.

We were also having an issue downloading files via `mc` from the same instance, with the error `Unexpected EOF`. I've reverted to the previous working release for now but if I have time over the next

[2018-05-01 16:28] harshavardhana commented on #5873
This is not necessary you don't need a complex setup like this to monitor Minio server availability we have moved to a more standardized approach here https://github.com/minio/minio/tree/master/docs/healthcheck - PTAL

This would be interesting to see as well can you provide server, `mc --debug` logs as well?

[2018-05-01 16:35] matthanley commented on #5873
No problem - I've just tested locally and it's working so it might be something related to our infrastructure.

Thanks for the heads-up on the healthcheck endpoint, I'll get our monitoring updated (we use the public bucket anyway)

[2018-05-01 17:03] deekoder commented on #5874
@raminski2 it's not an allowed character.

[2018-05-01 18:32] krishnasrinivas commented on #5859
https://github.com/minio/minio/pull/5860 merged. Closing the issue.

[2018-05-01 18:32] #5859 closed, assigned to krishnasrinivas

[2018-05-01 19:23] raminski2 commented on #5874
after further research, it's because the application that i use which wants to use object storage prefixes the object with a forward slash (/) and ends the bucket name with a forward slash (/) which is why there is a double forward slash. This works fine with other s3 object storage providers, such as AWS, Azure, ECS.

[2018-05-01 19:26] harshavardhana commented on #5874
@raminski2 yes it does because AWS, Azure, and ECS do not use a filesystem backend. In our case these are simply directories on your backend, filesystem doesn't allow us to preserve "/" as a character since its simply a separator.

The application is buggy here if you try to copy the data out after using this application using tools like s3cmd, aws-cli you will not be able to copy since '/' will n

[2018-05-01 19:35] harshavardhana commented on #5874
Additionally, we can simply ignore and trim the "/" but we don't want to mingle with incoming I/O patterns. Ideally, the application should be fixed such that it avoids cryptic file patterns like this. Here is how it will look like in a real world

Lets copy with `//`
[code]

Then try to list
[code]

This doesn't tell me what it is so now i add a `/`
[code]

Still doesn't list anything and now i w

[2018-05-01 19:35] raminski2 commented on #5874
OK thanks. The application doesn't use files, essentially it stores the file name and then converts the actual underlying data for that file by converting the file into a number of objects and stores these objects. Reading/deleting/accessing etc the objects using this exact syntax, i.e. <bucketname></></><objectname> works just fine. I was just trying other object providers and stumbled across min

[2018-05-01 21:49] #5846 closed, assigned to aead

[2018-05-02 00:32] vadmeste opened #5877 "[distributed] When booting, a node needs to fail early when it has different credentials"
## Expected Behavior
One node needs to report directly ~and exit~ when it detects that it has unauthenticated RPC call with one of the other nodes (only during initialization)

## Current Behavior
Infinite waiting without clear reason why it is waiting.

[code]

## Possible Solution
Do not know

## Steps to Reproduce (for bugs)
[code]

## Context
Testing

## Your Environment
All

[2018-05-02 01:20] vadmeste commented on #5877
Exiting is not needed to facilitate changing credentials remotely.

[2018-05-02 03:25] Reasno commented on #5865
@nitisht Yes to all three questions.

[2018-05-02 04:48] nitisht commented on #5865
@Reasno it is difficult to say what went wrong, because we have Minio working pretty well on Kubernetes. Will it be possible to provide remote access your deployment?

[2018-05-02 06:44] krishnasrinivas commented on #5877
I think failing might be tricky. If we print informative logs it would be good enough.

[2018-05-02 14:43] tobias74 opened #5879 "Question(s): Distributed Minio without erasure code? How to dynamically extend capacity?"
I would like to run minio simply as a storage solution, which stores objects without any redundancy or fail-safe-mechanics. The disks I use are redundant themselves so I do not think I need an extra level of security here. Suffice it to say my data is not even that important.

How can I run minio without redundant data storage?

My use-case:

I have a single minio-instance (tenant?) that rules ove

[2018-05-02 15:00] curantes commented on #5854
We continue to have issues with this cluster. This time after interrupting the mirror as before the load and CPU usage stays the same. Also the Admin API was not responding with `mc admin`

Our devs also report that writes are failing but reads works but with higher latency than usual. During this time I tried to copy file with `mc copy` and delete and it worked.

dev with alias kp in slack helped

[2018-05-02 16:14] msinj opened #5880 "minio mirror error: no such file or directory"
Need help perform mirroring between two minio server
## Expected Behavior
should start mirror file between server

## Current Behavior
after performing below command and configuration on each minio server:
` mc config host add testminio1 http://192.168.200.196 AKIAIOSFODNN7EXAMPLE wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY`
`mc config host add testminio2 http://192.168.200.188 AKIAIOSFODNN7EXAMPLE w

[2018-05-02 16:42] deekoder commented on #5880
@msinj can you see these two sites when you do `mc config host list`

[2018-05-02 16:45] msinj commented on #5880
Please see below screenshot after typing the command:
![image](https://user-images.githubusercontent.com/35358239/39537146-ac0c3bd2-4e06-11e8-8471-34f4680008fe.png)

[2018-05-02 17:11] vadmeste commented on #5877
yeah, it makes sense

[2018-05-02 17:58] charlesmims opened #5881 "Various errors in stdout of docker container"
Running docker container minio/minio:latest, some actions produce Errors in stdout.
Actions that I know produce errors are:

configuring mc
setting policy to anything other than "none" in mc or web UI

## Expected Behavior
Only things that are actual errors should produce errors.

## Current Behavior
I see many errors.

## Possible Solution

## Steps to Reproduce (for bugs)
1. docker pull minio/mi

[2018-05-02 19:04] vadmeste commented on #5854
It looks like I am able to reproduce this, I have 40% constant cpu consumption after mirroring only 10k files but I am surprised to see that the stack trace (kill ABRT) not showing any suspicious activity. I will try with go 1.9 then I will do some profiling to understand.

[code]

[2018-05-02 20:13] fwessels commented on #5879
If you do not want any redundancy or data integrity protection, then you should run Minio in "File System" mode, meaning that you just supply a single file path. (If you supply four or more, then Minio switches to Erasure Code mode, meaning that the objects are going to be striped between the different disks.)

In File System mode, it is really up to the underlying disk file system to provide the

[2018-05-03 02:59] #5881 closed, assigned to harshavardhana

[2018-05-03 06:41] payne8 commented on #5763
@kannappanr
What about the multi-tenant usage? Should we have different disks for every new instance we spin up? That seems like overkill. I would prefer to be able to simply show my user the amount of storage they are using in their own instance. I don't care about what space is used by other files being present on the drive and I don't want my user caring about how much space is left on their cl

[2018-05-03 07:23] Reasno commented on #5865
Hi @nitisht , thanks for your help. I think this could be a duplicate of #5667 . When I manually selected an earlier docker release, everything worked fine. Sadly RELEASE.2018-03-12T21-25-28Z is still the default choice in helm chart.

[2018-05-03 07:23] #5865 closed, assigned to nitisht

[2018-05-03 07:34] nitisht commented on #5865
Thanks for the update @Reasno there is a PR kubernetes/charts#4277 to update Helm chart to latest release, hopefully we'll have it merged soon.

Also, can you please try the latest release [`RELEASE.2018-04-27T23-33-52Z
`] instead of older release

[2018-05-03 08:15] Praveenrajmani commented on #5880
@msinj  For me it works fine .

![screen shot 2018-05-03 at 1 48 31 pm](https://user-images.githubusercontent.com/5410427/39566310-c99dff14-4ed8-11e8-927c-e9be1d8e6da2.png)

Can you get me `mc config host list` and `mc ls` of the buckets that needed to be mirrored ?

[2018-05-03 08:31] bensquire opened #5886 "PHP SDK bucket notification configuration accepted, but not applied."
## Expected Behaviour
On successfully submitting the bucket notification policy, I should be able to perform an `mc events list` on said bucket and see the event.

## Current Behaviour
Currently the SDK returns a 200 response code, but `mc events list` shows no events

## Possible Solution
Either there is a problem with my PHP code or a problem with Minio, if it's my PHP code I wouldn't expect a 2

[2018-05-03 12:59] msinj commented on #5880
Hi,
I am not sure if I configured it correctly. Every time I issue those `mc config host list` and `mc ls`, I am getting below screen. Even when issued `mc config host add testminio2 http://192.168.200.188 AKIAIOSFODNN7EXAMPLE wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY`, below screen showed up. Just to make sure, I have a separate ssd which I have mounted @ /media/data.
![](https://user-images.githu

[2018-05-03 13:26] Praveenrajmani commented on #5880
hey @msinj  ,

how did you install the mc package ??

`mc config host list` here looks like

![screen shot 2018-05-03 at 6 47 13 pm](https://user-images.githubusercontent.com/5410427/39579031-5ea5638e-4f03-11e8-9bb4-fd46208e3311.png)

Follow

For the installation

check with ./mc binary , should be working

[2018-05-03 13:54] msinj commented on #5880
Hi @Praveenrajmani
I was missing the ./mc command. However, new error while configuring the host
`mc: <ERROR> Unable to initialize new config from the provided credentials. Get http://192.168..200.196/probe-bucket-sign/?location=: dial tcp 192.168.200.196:80: connect: connection refused`

[2018-05-03 22:35] krishnasrinivas commented on #5763
For multi-tenant case, it is indeed confusing to show disk space used by other tenants. But this is a hard problem to solve @payne8 we'll discuss again and get back. Do you prefer not showing disk usage than showing it in such a setup?

[2018-05-03 22:50] harshavardhana commented on #5763
There is no way to restrict tenants from using the entire space so it is correct in the way it is showing right now. Since there is no such policy applied to restrict tenants there is no real value in even showing a lesser disk space.

If the disks were partitioned correctly let's say if you have a zfs/btrfs like volumes and each of them has quotas on them. Then minio server will report the right

[2018-05-03 22:50] nneul commented on #5763
Just adding the option to allow hiding the space listing from the UI would be an easy option that would help both of these cases while you work toward a more suitable multi-tenant solution. (Even if that is just a bit of CSS.)

[2018-05-03 22:56] krishnasrinivas commented on #5763
@nneul  We avoid adding options unless it is absolutely necessary.

[2018-05-03 22:59] nneul commented on #5763
Would you consider a generic option - to allow custom CSS/JS insert in the UI? That seems like it would be general purpose hook for customization like this?

[2018-05-03 23:05] krishnasrinivas commented on #5763
no @nneul ability to customize the UI is not the right solution. It will just add more complexity and variations to the UI.

[2018-05-04 02:50] krishnasrinivas commented on #5763
I was able to make the storage-info disappear by using the sub_filter nginx config.

First run this script:
[code]

[code]

Now you copy the output and put it in nginx.config:
[code]

nginx inserts a small JS script into index.html, this script hides the html element which shows the storage disk info.

[2018-05-04 04:01] payne8 commented on #5763
@krishnasrinivas @harshavardhana I think I would prefer not to show it in the UI for multi-tenant. I understand adding extra options, especially for such a small thing, makes things complicated. I started looking into the zfs/btrfs options.

I know this is kind of a tangent but...
If I change a quota on a drive or expand the disk size in anyway does that mess up the cluster? https://github.com/min

[2018-05-04 05:17] Praveenrajmani commented on #5880
@msinj

Check the minio server instance whether it is running or not , It seems the server is down and is unreachable for mc.

Try restarting by , `./minio server`

[2018-05-04 05:48] harshavardhana commented on #5763
Extending underneath backends is not a problem .. @payne8 either in cluster or single filesystem mode.  Those bugs talk about that you cannot extend a cluster by adding more disks (disk paths)

[2018-05-04 05:49] abperiasamy commented on #5763
@krishnasrinivas  I am tempted to add support for JavaScript extensibility.

[2018-05-04 05:53] Reasno commented on #5865
I hit "Error: Config migration failed." using RELEASE.2018-04-27T23-33-52Z

[2018-05-04 06:05] krishnasrinivas commented on #5763
@abperiasamy just ability to customize the theme and look? or JS extensibility?

[2018-05-04 08:13] payne8 commented on #5763
@krishnasrinivas that is a very creative solution.

A custom CSS option would be more than sufficient for my needs (maybe overkill) and might add some really cool customization options for the same amount of work. I am not exactly sure how a user would provide the CSS though. Maybe by specifying a URL or file path on startup?

[2018-05-04 08:18] shabtu opened #5888 "Consecutive downloads fail after a while."
**Summary**
I use Elasticsearch to index files in Minio to be available for search and retrieval.
The files are guaranteed to exist in Minio since they would not exist in Elasticsearch otherwise (bucket notifications are used for this).

**Expected Behavior**

The files should be downloaded to the same directory consecutively from Minio through the getObject- function.

**Current Behavior**
When I

[2018-05-04 08:22] harshavardhana commented on #5873
do you still want to keep this issue open @matthanley ?

[2018-05-04 08:22] harshavardhana commented on #5799
@masafif should we close this issue?

[2018-05-04 08:25] harshavardhana commented on #5656
@HjlSr - reaching out again would it be possible for you to gather the memory profiles again? - also perhaps share the script or code to reproduce this problem?

[2018-05-04 08:31] nitisht commented on #5725
@rawkode @magaldima  kubernetes/charts#4277 is merged, can you try out the latest Helm Chart version: `1.2.0`

[2018-05-04 08:35] shabtu commented on #5888
Should be a minio-java issue

[2018-05-04 08:35] #5888 closed, assigned to nobody

[2018-05-04 08:38] nitisht commented on #5865
Helm chart is now updated to latest Minio release, will it possible for you to test once more..

[2018-05-04 09:11] matthanley commented on #5873
Will close for now and reopen if I identify any issues in testing

[2018-05-04 09:11] #5873 closed, assigned to harshavardhana

[2018-05-04 11:42] nneul commented on #5763
With other apps I've used, config would either just point to a file, or it would be something you place at a particular filename in the config directory. i.e. "user.css" and "user.js" - If the files are present, add handlers for outputting them and add the reference to them in the UI. Wouldn't even have to be a new 'option' in the CLI or configuration.

[2018-05-04 13:00] msinj commented on #5880
Hi @Praveenrajmani
Both testminio1 and testminio2 are running. Also the access key and secret key are matching

[2018-05-04 17:43] #5854 closed, assigned to vadmeste

[2018-05-04 18:37] vadmeste commented on #5854
@curantes The fix for your issue is merged in master now, is it possible for you to test it ? if you are using Docker you can use this image minio/minio:edge

[2018-05-05 00:49] harshavardhana commented on #5837
We have already fixed this @deekoder we can close this bug.

[2018-05-05 00:50] harshavardhana commented on #5799
Closing this for now... @masafif feel free to re-open.

[2018-05-05 00:50] #5799 closed, assigned to harshavardhana

[2018-05-05 05:33] nichochen opened #5891 "File upload with error Error: file access denied."
File upload with error Error: file access denied.

## Expected Behavior

File upload without error.

## Current Behavior

Web console shows file uploaded successfully, but following error shows in the log.

    API: SYSTEM()
    Time: 05:26:44 UTC 05/05/2018
    Error: file access denied
        1: cmd/fs-v1-helpers.go:222:cmd.fsStatDir()
        2: cmd/fs-v1.go:566:cmd.(*FSObjects).getObjectInfo(

[2018-05-05 07:41] harshavardhana commented on #5891
@nichochen thanks for opening the bug, this error can be ignored it is a frivolous error. We will fix it in a subsequent release and suppress it.

[2018-05-05 18:11] egofelix opened #5892 "Unclear error message on Startup "Error: Invalid command line arguments server=‘:9000’, args=[http://example.org/data{1...10}]""
Running
docker run --rm minio/minio server http://example.org/data{1...10}
exits with "Error: Invalid command line arguments server=‘:9000’, args=[http://example.org/data{1...10}]"

It is unclear what is the real error here.

## Expected Behavior
Starting of Minio?

## Current Behavior
Abort with non helpful error message

## Possible Solution
Create more clear error message

## Steps to Reproduce

[2018-05-06 06:45] DoCode commented on #5199
👍

[2018-05-06 07:32] nitisht commented on #5891
@nichochen closing this as answered, feel free to get back if you have further questions.

[2018-05-06 07:32] #5891 closed, assigned to nobody

[2018-05-07 00:26] BrianGilbert commented on #5561
@iogitio can you outline how you got it working for the benefit of othert Synology users please?

[2018-05-07 01:00] harshavardhana commented on #5832
I followed the steps to run in lxc and I am able to run minio distributed successfully as an lxc container.

[code]

I am curious to know how were the DNS entries made, were they made directly in the container under `/etc/hosts` or do you have a centralized mechanism for it?

[2018-05-07 01:05] zerkms commented on #5832
In my case it's a local network DNS server

[2018-05-07 01:21] harshavardhana commented on #5832
I am not sure how the DNS was resolving to, what was your network address subnet for lxc containers?. Here is my local config.

[code]

[2018-05-07 01:26] zerkms commented on #5832
I don't have them at the moment, but those containers are network-reachable: my whole infrastructure runs hundreds of lxd containers. The network is not nat'ted, all containers addresses are directly routable.

[2018-05-07 03:00] Reasno commented on #5865
@nitisht I can confirm everything works as intended now in distributed mode with RELEASE.2018-04-27T23-33-52Z and helm chart master

[2018-05-07 03:02] nitisht commented on #5865
great! Thanks a lot.

[2018-05-07 04:21] leshik opened #5893 "Unable to serve pre-existing files anymore"
## Expected Behavior

Pre-existing files are serving successfully, e.g.:

[code]

## Current Behavior

Internal Server Error (HTTP code 500) and `minio` complains:

[code]

## Steps to Reproduce

Just use `minio` version `RELEASE.2018-04-27T23-33-52Z` or `RELEASE.2018-05-04T23-13-12Z`.

## Context

I'm unable to serve pre-existing files with `minio` anymore. Everything was perfect with `RELEASE.20

[2018-05-07 04:30] nitisht commented on #5893
This was fixed in https://github.com/minio/minio/pull/5889 , will be merged soon @leshik

[2018-05-07 04:34] leshik commented on #5893
@nitisht Great! And what about these weird `volume access denied` errors?

[2018-05-07 04:41] harshavardhana commented on #5893
This is because `ListBuckets` call is trying to ignore the files that are on top along with the directories (buckets), but it logs it anyways since it has found files which are not directories.  Do you have files along with directories?

[2018-05-07 04:45] harshavardhana commented on #5832
The only way the above message can appear is when one of the DNS address couldn't be resolved, is the DNS nameserver updated in your containers? i.e perhaps /etc/resolv.conf resolves to the right DNS etc.  Let me know if you do a have a setup perhaps we can figure out why it would be a problem.

The error message improvement we are fixing in a separate PR which would explain the cause correctly.

[2018-05-07 04:47] leshik commented on #5893
@harshavardhana Oh, I see. Yes, there were files on top along with the buckets, now I tested with clean top with only directories and errors are gone, thank you!

[2018-05-07 05:03] JavaCS3 commented on #5892
The same issue to me

[2018-05-07 06:38] precurse commented on #5742
This is most definitely possible. Running with root privileges is a very bad idea, even if the process is isolated in a container.
Projects like [plexmediaserver-docker](https://github.com/plexinc/pms-docker)  and [docker-transmission](https://github.com/linuxserver/docker-transmission)  are a couple projects off the top of my head that allow specifying a user and group id of the running process a

[2018-05-07 07:35] nitisht commented on #5725
@rawkode @magaldima @whisper-bye closing this as we have confirmation from users about the Helm Chart version `1.2.0` working. Feel free to reopen if you're facing issues.

[2018-05-07 07:45] BrianGilbert commented on #5608
Here's how I did it, but you do have to start it from terminal instead of the docker GUI..

Execution command:
[code]

Then create a scheduled task (assuming you have let's encrypt certs configured as the default for your Synology), with the following script so that the site will be accesible via https (restart the instance from Docker gui to enable the certs):
[code]

[2018-05-07 07:46] BrianGilbert commented on #4210
Yes Docker is the correct way to do this, but you do have to start it from terminal instead of the docker GUI..

Execution command:
[code]
Then create a scheduled task (assuming you have let's encrypt certs configured as the default for your Synology), with the following script so that the site will be accesible via https (restart the instance from Docker gui to enable the certs):
[code]

[2018-05-07 07:47] BrianGilbert commented on #5561
For the benefit of others.. I set it up today, wasn't too difficult, but you do have to start it from terminal instead of the docker GUI..

Execution command:
[code]
Then create a scheduled task (assuming you have let's encrypt certs configured as the default for your Synology), with the following script so that the site will be accesible via https (restart the instance from Docker gui to enable t

[2018-05-07 17:10] vadmeste commented on #5892
This PR https://github.com/minio/minio/pull/5878 should fix the error message to the following:

![screenshot from 2018-05-07 10-08-55](https://user-images.githubusercontent.com/283197/39714374-b64ee140-51de-11e8-8154-de40ec6a8d5b.png)

But the PR still needs to get some more reviews before merging it.

[2018-05-07 20:23] harshavardhana commented on #5857
This is a client bug @aymanov1993 aws-sdk-php is not canonicalizing the query params properly, instead, it is signing `x-am-meta` in its lowercase form whereas the HTTP RFC indicates that it should be in canonical form.

We could fix it in our code by doing both forms just to make it work, but it is not correct and should be fixed on the client as well.

[2018-05-07 23:26] deekoder commented on #5879
@tobias74  let us know if you want to discuss this further. Please drop into our slack channel at https://slack.minio.com to chat with us. Closing this for now. Please feel free to reactivate if you want to discuss this further here.

[2018-05-07 23:27] #5879 closed, assigned to fwessels

[2018-05-08 00:11] #5837 closed, assigned to vadmeste

[2018-05-08 00:17] #5566 closed, assigned to vadmeste

[2018-05-08 00:19] deekoder commented on #5536
@kmkanagaraj  any updated on this? Has this made it to the master branch?

[2018-05-08 00:21] deekoder commented on #5706
@harshavardhana  will be sending PR for this soon.

[2018-05-08 00:23] deekoder commented on #4676
@balamurugana can we close this as fixed?

[2018-05-08 00:27] deekoder commented on #3835
We will work on this in the future.

[2018-05-08 00:28] deekoder commented on #4141
We will work on this in the future and build on what @brendanashworth  completed.

[2018-05-08 00:46] mjburghoffer opened #5896 "PUT Object tagging replaces contents of file with tags rather than updating the tags of the file."
## Expected Behavior
When calling PUT tagging endpoint, it is expected that the tags on the object are overwritted.  Here is the [s3 documentation](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUTtagging.html) for the endpoint, and here is the documentation for [consuming it with a java client](https://docs.aws.amazon.com/AmazonS3/latest/dev/tagging-manage-javasdk.html).

## Current B

[2018-05-08 00:48] BrianGilbert commented on #5561
It is possibly to use the Synology GUI if you enter the execution command as:
```minio server /data```

[2018-05-08 01:13] vadmeste opened #5897 "Rare crash due to a concurrent map writes"
## Expected Behavior
No crash

## Current Behavior
Rare crash

[code]

## Possible Solution
Do not know yet

## Steps to Reproduce (for bugs)
Running minio-py in full mode multiple times.

[code]

## Context
Testing

## Your Environment
All, master

[2018-05-08 02:20] harshavardhana commented on #5897
Actually i am seeing this too, it is not rare the usage of map inside a go-routine is wrong. - almost all (*notifiationSys) calls are affected by this.

[2018-05-08 03:11] harshavardhana commented on #5896
We don't support object tagging and have no plans for supporting this in near future. Will send a PR to reject such API operations.

[2018-05-08 03:22] JavaCS3 commented on #5892
@vadmeste But it's able to show error message in the previous build.
[code]

[2018-05-08 03:24] harshavardhana commented on #5892
@JavaCS3 there was logging refactor which ended up removing good messages, we are bringing them back but with a more cleaner approach than what you see with `minio/minio:RELEASE.2018-04-04T05-20-54Z`

[2018-05-08 03:31] harshavardhana commented on #5893
Fixed by #5889

[2018-05-08 03:31] #5893 closed, assigned to harshavardhana

[2018-05-08 03:33] harshavardhana commented on #5832
I am going to close this for now, if you can reproduce it again do let me know. Perhaps I can replicate the same setup, for now my local setup is working fine with DNS entries.

[2018-05-08 03:33] #5832 closed, assigned to harshavardhana

[2018-05-08 03:34] harshavardhana commented on #5706
@GeoffreyBooth we will be supporting `GetBucketACL` as a dummy call for now which perhaps should resolve legacy application problems.  Will be sending a PR on this shortly.

[2018-05-08 03:35] harshavardhana commented on #4676
This can be perhaps fixed after the new HTTP RPC refactor.

[2018-05-08 04:18] balamurugana commented on #4676
This issue is not related to HTTP RPC and is not addressed in HTTP RPC PR

[2018-05-08 06:22] Praveenrajmani commented on #5880
Hi @msinj
Can you see them if you do `mc config host list` ?? . can you send me that

[2018-05-08 08:58] abhilash07 opened #5901 "Minio-Server Scale UP and Down documentation"
is there any related documents for scaling existing deployed minio-server

https://github.com/minio/minio-boshrelease/issues/66

why because i deployed 1 minio-server and sometime i want to extend to 4 or 8 is it possible.

Some times i don't need 8 disks, at that time i want to scale down to 4 is it possible. Please refer any use full documentaion or related article blog.

Thanks in advance

[2018-05-08 09:45] harshavardhana commented on #5901
@abhilash07 you cannot add or remove disks from an existing Minio setup.  This is by design.

[2018-05-08 10:10] cmdrrobin opened #5902 "API: ListObjectsV1: error file access denied"
When uploading Docker images to the registry I get the following message:

`error parsing HTTP 403 response body: unexpected end of JSON input: ""`

When checking the Minio logs I see the following errors:

[code]

I have set the policy to `public` for the bucket, but that doesn't help.

## Expected Behavior
Expected behaviour is that the Docker image is uploaded sucessfully

## Current Behavior
C

[2018-05-08 11:16] abhilash07 commented on #5901
@harshavardhana thanks for your response, it means upto date minio doesn't support scaling up and down functionality???

[2018-05-08 12:04] nitisht commented on #5901
@abhilash07 yes, you can't add new nodes/disks to an existing deployment. To add more storage you just create new Minio deployment. This is by design.

Closing this as working as intended, feel free to get back if there are further questions.

[2018-05-08 12:04] #5901 closed, assigned to nobody

[2018-05-08 12:13] msinj commented on #5880
Hi @Praveenrajmani
I can only see localhost as below:
![image](https://user-images.githubusercontent.com/35358239/39756455-b412f100-5297-11e8-91a1-a84144bc7ae6.png)

[2018-05-08 13:51] jdor300 opened #5903 "Add support to openshift v3.6"
Tried to deploy minio on openshift (v3.6).
The openshift running on kubernetes (v1.6.1).

I'm getting the following error:

`` Error: Unable to create configuration directories.
Read that on advanced versions of kubernetes (v1.9.0+) there is a problem with VolumeMounts and this logs pops. In my case I got a pretty old version (v1.6.1) and I am still getting this log :(

## Expected Behavior

Shoul

[2018-05-08 14:47] nitisht commented on #5903
@jdor300 how are you deploying Minio on k8s/openshift?

[2018-05-08 15:47] magaldima commented on #5725
I successfully deployed the `1.2.0` chart, however now I'm confused where to set the `minioConfig` for registering bucket notification resources.

I am using this command, however there is no config map and on startup, the logs indicate no SQS resources.
[code]

Minio server start-up logs:
[code]

Any help or updated documentation on registering bucket notifications would be greatly appreciated!

[2018-05-08 15:58] nitisht commented on #5725
@magaldima we had to remove configMap support due to recent issues with Kubernetes ConfigMap. To enable notifications, you can exec into the Minio pod and update the `/root/.minio/config.json` based on details here https://docs.minio.io/docs/minio-bucket-notification-guide

[2018-05-08 16:00] jdor300 commented on #5903
@nitisht thank you for answering :)
deploying it using a .yaml file I generated in https://www.minio.io/kubernetes.html.
``
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: minio-deployment
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        # Label is used as selector in the service.
        app: minio
    spec:
      # Refer to the PVC created ea

[2018-05-08 16:09] harshavardhana commented on #5902
The error on the minio console has nothing to do with this error do you have your registry config which you can share , we will try to reproduce this locally ..

[2018-05-08 16:11] magaldima commented on #5725
I am trying to exec in with:
`k exec artifacts-minio-6b677b94ff-chd6w -it -- bash`

however, I get the following:
[code]

[2018-05-08 16:15] #5896 closed, assigned to nobody

[2018-05-08 16:17] nitisht commented on #5903
@jdor300 can you please try by updating the args to

[code]

This is to test if writing config dir to another location works or not

[2018-05-08 16:19] harshavardhana commented on #5725
There is no bash in our containers you might need to use `sh`

[2018-05-08 16:23] magaldima commented on #5725
This still doesn't explain why the `minioConfig` values were not respected on chart install.

[2018-05-08 16:39] nitisht commented on #5725
@magaldima As I mentioned [above](https://github.com/minio/minio/issues/5725#issuecomment-387452673) we had to remove configMap support due to [issues](https://github.com/kubernetes/kubernetes/issues/62099) in Kubernetes. Hence the chart doesn't honor `minioConfig` values.

[2018-05-08 16:58] magaldima commented on #5725
I exec'd into the pod and updated the `config.json`. Restarting the server is a bit tricky though since the config file is not on a persistent volume so `k delete pod ...` will not work as it will reset the config.json file contents.

I had to point my docker daemon to the instance inside the cluster and run `docker ps` to find the container running the minio server and do `docker restart [contain

[2018-05-08 17:06] krishnasrinivas commented on #5902
fixed by https://github.com/minio/minio/pull/5900

[2018-05-08 17:06] vadmeste commented on #5880
@msinj there is no testminio1 and testminio2 aliases in your config. Can you try again from scratch and post here the commands you are using with their outputs ?

[2018-05-08 17:52] msinj commented on #5880
hi @deekoder
I just removed the minio and re-downloaded. Than configured the access key and secreat key of my choice before issuing below command:
`./mc config host add minio1 http://192.168..200.196 MSISTONEEXAMPLE GetMe/SomeGood/SurfaceFrom/MsistoneUSA2095`

I am still getting below error:
`mc: <ERROR> Unable to initialize new config from the provided credentials. Get http://192.168.200.196/prob

[2018-05-08 18:01] vadmeste commented on #5880
@msinj by default, Minio server runs on port 9000, so if you did not change the default port number, you will need to pass http://192.168.200.196:9000 in `mc config host add` command.

[2018-05-08 18:05] cmdrrobin commented on #5902
@harshavardhana sure!

[code]

[2018-05-08 18:08] msinj commented on #5880
can you please remove the IP address for safty. Thanks

[2018-05-08 19:44] tibmeister opened #5904 "The case of the reappearing file"
When trying to clear out the contents of a bucket, I can use either the mc client of the GUI and delete the files and folders without issue, only to have them magically pop-up again.  It's rather annoying when trying to get rid of a bucket.

I am using Minio as an S3FS endpoint for RexRay as a volume-plugin for my Docker systems, at least I want to if I can get the bugs ironed out.

[2018-05-08 19:46] harshavardhana commented on #5904
@tibmeister are you using distributed minio or standalone?

[2018-05-08 20:13] msinj commented on #5880
Hi,
This time it added the host. So i issued the ` ./mc mirror --watch minio1 minio2` and I got below response
![image](https://user-images.githubusercontent.com/35358239/39780531-8cb98f5e-52da-11e8-8a35-83b57815282e.png)
however, when I checked the the other minio2  /media/data drive, it shows that the drive is empty.

[2018-05-08 20:58] tibmeister commented on #5904
Distributed,  I've attached my config.  I have a 3 node swarm currently so one of the hosts is pulling double duty.
[minio-dist-swarm.yml.txt](https://github.com/minio/minio/files/1985643/minio-dist-swarm.yml.txt)

[2018-05-08 21:01] harshavardhana commented on #5904
From what I can tell here you don't have enough quorum and deletes are not deleting files.

[2018-05-08 21:04] tibmeister commented on #5904
So even though I have four containers running minio and all 4 are up I still don't have quorum?  Is there an easy way to check that through mc or something?

[2018-05-08 21:12] harshavardhana commented on #5904
do you have any logs that you can share?

[2018-05-08 21:17] tibmeister commented on #5904
Here's from one of the containers, hope this is what you are looking for.
[json.log](https://github.com/minio/minio/files/1985693/json.log)

[2018-05-08 21:30] vadmeste commented on #5880
@msinj  can you show the output of `mc config host list minio1` and `mc config host list minio2` ?

[2018-05-08 21:37] msinj commented on #5880
Hi @deekoder
I didn't realize that I have to add all the bucket on all machines. It's working now.
How can we make it to mirror the change as soon as there is change happen on the source?

[2018-05-08 22:16] tibmeister commented on #5904
Ok, so this one's odd.  I went ahead and just uploaded a bogus txt file to the folder in the bucket, then did a remove using mc and viola, it's gone!  It seems that somehow everything kinda lost the pointer to the metadata, so that's strange to say the least.

Error: Object not found: registry-data#data

[2018-05-09 00:04] abhilash07 commented on #5901
@nitisht thanks for your consideration i think scaling up and down for existing deployment is a good feature for Minio.
I have small question after researching i find  https://www.nginx.com/blog/enterprise-grade-cloud-storage-nginx-plus-minio/, is it possible to configure multiple deployment minio servers to LB and data synchronization ???
https://medium.com/@jmarhee/building-an-object-storage-ser

[2018-05-09 02:59] tibmeister commented on #5904
So I was able to replicate this a couple of times and it may be something with the way rexray and minio is interacting. It seems that a data folder is always created by rexray and that data folder isn’t “registered”, for lack of a better term, with the bucket until something is written to the data folder.
Not sure if it’s an issue with minio or not at this point.

[2018-05-09 03:46] krishnasrinivas commented on #5897
This is easily reproduced using these steps:

[code]

then do `mc cp /etc/passwd myminio/test/` two times to see the crash

[2018-05-09 03:56] harshavardhana commented on #5897
Yes @krishnasrinivas it is quite easy to reproduce.

[2018-05-09 04:11] harshavardhana commented on #5904
Oh yes rexray does that automatically. If you are referring to the /data directory then yes it would be recreated unfortunately.

[2018-05-09 08:56] #5632 closed, assigned to Praveenrajmani

[2018-05-09 09:04] nitisht commented on #5903
@jdor300 will it be possible to access your setup?

[2018-05-09 09:15] nitisht commented on #5904
closing this as it doesn't seem to be related to Minio @tibmeister . Feel free to reopen/comment if there are further issues.

[2018-05-09 09:15] #5904 closed, assigned to nobody

[2018-05-09 09:17] harshavardhana commented on #5892
This is fixed

[code]

[2018-05-09 09:17] #5892 closed, assigned to vadmeste

[2018-05-09 09:19] nitisht commented on #5874
closing this as working as intended @raminski2 . Feel free to reopen/comment if there are further issues.

[2018-05-09 09:19] #5874 closed, assigned to nobody

[2018-05-09 09:20] harshavardhana commented on #5818
This was again reproduced today, we need to thoroughly review this path. It seems there are some unknown races in this area.

[2018-05-09 12:46] jdor300 commented on #5903
@nitisht unfortunetly not, we have an offline environment...
but after exploring some other issues I found some solutions for my problem and it's working for now :)
thank you!

[2018-05-09 12:51] nitisht commented on #5903
great! do you mind sharing the solution for the benefit of other users hitting this issue

[2018-05-09 15:09] twisted1919 opened #5907 "[doc] Minio fails to detect the https protocol, shows http instead."
I can't seem to get minio to work on https following the guide at https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio

## Expected Behavior
When i start minio with `sudo minio server --address "mydomain:443" /mnt/volume` i expect to be able to access `https://mydomain.com` and i expect minio to print this address in console

## Current Behavior
Instead, minio print

[2018-05-09 15:36] harshavardhana commented on #5907
The doc that you are using is a deprecated doc ..have you tried using the doc here https://docs.minio.io/docs/how-to-secure-access-to-minio-server-with-tls

[2018-05-09 15:58] ftalo opened #5908 "Minio fails to start due to a Postgres notification without saying the detailed error"
## Expected Behavior
In the config,json file I setup a notification to a Postgres system. I am sure that the Postgres instance is running and reachable from the machine where Minio is running , the table exists and the credentials are correct. However when I try to start the Minio process it fails to start with the error "Error: Unable to initialize notification system". I would expect somehow to

[2018-05-09 16:50] twisted1919 commented on #5907
@harshavardhana - How is that deprecated? I haven't seen any note which suggest it is...?
For the link you have sent me, that is a self signed certificate. i was looking to use let's encrypt...

[2018-05-09 16:59] vadmeste commented on #5907
@harshavardhana actually, the link address  https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio is wrong but the content is correct (certbot, no more concert)

@twisted1919 sudo minio server --address "mydomain:443" /mnt/volume will bind 443 port but it loads the certificate only if you put your public & private certificates (public.crt & private.key) in ~/.minio/c

[2018-05-09 17:02] twisted1919 commented on #5907
@vadmeste - yeah, i did that, like i said, i followed that above link which instructed to do so.
I am giving up and will try to put nginx in front of it and see how that goes.

[2018-05-09 17:09] vadmeste opened #5910 "Merge large-bucket & erasure documentations in one link"
## Expected Behavior
It is easier for users to have one doc page in which they can understand erasure and how many disks (infinite) they can use.

## Current Behavior
They are two separate doc pages for that.

## Possible Solution
A new page for more simple explanation

## Steps to Reproduce (for bugs)
See https://docs.minio.io/docs/minio-large-bucket-support-quickstart-guide and https://docs.mini

[2018-05-09 17:18] vadmeste commented on #5907
@twisted1919 it should be a typo somewhere, you can join https://slack.minio.io and ping me there if you want some help

[2018-05-09 17:26] harshavardhana commented on #5907
@vadmeste this link is deprecated and shouldn't be referenced anywhere in our docs. It is also specifically hidden from the main page.

Most probably is that you don't have private.key and public.crt inside `~/.minio/certs/`

[2018-05-09 17:31] twisted1919 commented on #5907
@vadmeste / @harshavardhana - I actually made it work under nginx in a few minutes, so i am good.
I am pretty sure i have followed the tutorial word by word, i don't think i made a mistake. If anyone is willing to try and share how it worked, would be awesome, otherwise, i'll stick with nginx for the days to come.

[2018-05-09 17:33] harshavardhana commented on #5907
@twisted1919 here is what I did locally

[code]

So I am not sure what might be a problem on your end.

[2018-05-09 17:37] twisted1919 commented on #5907
@harshavardhana - let me start all from scratch and see how this goes. I'll get back to you soon.

[2018-05-09 17:58] twisted1919 commented on #5907
@harshavardhana - I got it working, the issue is that i was running it with `sudo minio ...` which seem to place the `.minio` under `/root` and then i was copying the certs under `/home/user`, which of course didn't help. I corrected all these and now it works perfectly.
Thanks a lot for your time with this ;)

[2018-05-09 18:02] vadmeste commented on #5907
The documentation needs to be fixed though. I am reopening this.

[2018-05-09 19:14] harshavardhana commented on #5706
@GeoffreyBooth we have a PR here would you be able to validate it with your application? https://github.com/minio/minio/pull/5906 ?

[2018-05-09 19:50] krishnasrinivas commented on #5897
Still reproducible with the above mentioned steps. (with two event notifiers)

[2018-05-09 19:52] krishnasrinivas commented on #5897
Here is the panic log:
[code]

[2018-05-09 20:01] deekoder commented on #5908
the fix will be available today. We are fixing the error messages.

[2018-05-09 22:11] #5908 closed, assigned to vadmeste

[2018-05-09 22:11] #5897 closed, assigned to donatello, harshavardhana

[2018-05-09 23:15] rawipfel commented on #5903
I'd appreciate hearing about the solution too. I'm following the minio TLS guide: https://github.com/minio/minio/tree/master/docs/tls/kubernetes running on Openshift/K8s/Docker:
[code]
with this helm chart modification to enable TLS (per the minio documentation):
[code]
helm install deploys ok...
[code]
but the /root/.minio is read-only, so minio fails to create its initial configuration:
[code]

[2018-05-10 00:35] deekoder opened #5914 "Fix Prometheus doc"
Fix Promethus doc https://docs.minio.io/docs/how-to-monitor-minio-using-prometheus to be more prescriptive so that Minio users can follow steps to learn about prometheus, install it & then configure minio to use it.
Consider relocating the file to cookbook repo. https://docs.minio.io/docs/how-to-monitor-minio-using-prometheus

[2018-05-10 02:24] rawipfel commented on #5903
This fixes https://github.com/minio/minio/tree/master/docs/tls/kubernetes:
[code]
so the resulting .minio config directory contains an embedded "secrets volume" mount: config.json is read/write, files in the mounted certs sub-directory are read-only:
[code]

[2018-05-10 04:02] #5706 closed, assigned to harshavardhana

[2018-05-10 06:00] GeoffreyBooth commented on #5706
Not quickly, sorry.

[2018-05-10 06:02] harshavardhana commented on #5608
@pharaohman would it be possible for you to give us some screenshots of how you did it? or better perhaps would you be interested in submitting a document?

[2018-05-10 06:04] BrianGilbert commented on #5608
I was able to get it working via the Docker gui by entering the following run command:
[code]

[2018-05-10 07:00] harshavardhana commented on #5706
@GeoffreyBooth you can try now `docker pull minio/minio:edge`

[2018-05-10 08:51] ftalo commented on #5908
Can I run the minio update command to get the latest version with the fix included? Will be the more specific message printed to the console?

[2018-05-10 08:52] ppawlak opened #5915 "browser : allow to upload a file with drag and drop"
A lot of websites support uploading a file with drag & drop nowadays. It would be very convenient.

[2018-05-10 09:00] harshavardhana commented on #5908
@ftalo yes you can run `minio update` to update the binary locally in-place. With new changes, it should be printed and once you have it printed please send it to us here...

[2018-05-10 09:01] harshavardhana commented on #5915
We do support drag and drop only on macOS platforms.

[2018-05-10 09:06] ppawlak commented on #5915
I made a test before reporting the issue and it didn't work: I was dragging the file too low on the page. By dragging to the top of the page it is working indeed.

Sorry for reporting this false issue. Maybe you can improve the interface to make it clearer drag & drop is supported and where to drop the file. And support other platforms too (I am on macOS right now)

Thank you for the reply.

[2018-05-10 10:43] dragon2611 opened #5916 "Folders gone AWOL in Nextcloud 13.02"
Upgraded minio to RELEASE.2018-05-10T00-00-42Z - Since doing so all "folders" in the bucket have vanished from nextcloud as such Nextcloud can only see files directly in the bucket root.

## Expected Behavior
Folders should show up.

## Current Behavior
Folders are missing.

## Possible Solution

## Steps to Reproduce (for bugs)
Upgrade to RELEASE.2018-05-10T00-00-42Z, mount Minio as S3 external s

[2018-05-10 10:56] rafaelsierra opened #5917 "Minio server crashes when healing recursively"
## Expected Behavior
Calling `mc admin heal -r myminio` should not crash the server

## Current Behavior
Server exits with the following message:

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Using Docker swarm deploy 2 services with 4 exports each in distributed mode
2. Remove the content from 2 exports inside a single service
3. Use `mc` to heal the missing 2 exports
4. Min

[2018-05-10 11:08] rafaelsierra commented on #5917
Probaly introduced by 6d5f2a43910b722b43c76f6a896e731978a17118, the issue does not happen when using `RELEASE.2018-05-04T23-13-12Z`

[2018-05-10 11:11] ftalo commented on #5908
I did it and the error was showed : SSL is not enabled on the server. That helped a lot to fix the problem on my side. Thanks

[2018-05-10 13:52] Praveenrajmani opened #5918 "mc admin info does not work when a non default region is set in Minio server"
Reported by brauliobo in #general Slack channel.

## Expected Behavior
`mc admin info myminio/` should always work for whatever region.

## Current Behavior
`mc admin info myminio/` doesn't work when Minio server is set with a non default region, like us-west-2

## Steps to Reproduce (for bugs)

1. Set us-west-2 in ~/.minio/config.json
2. Run minio server
3. mc admin info myminio/

[2018-05-10 17:22] gongxun0928 commented on #5846
@harshavardhana i use Minio distributed in LAN, also found low performance when uploading through SDK(both python and golang,upload 23M cost almost 3min) . But when i used mc, it's high performance.
* Environment
6 nodes，disk capacity is differ, 4 nodes is 320GB SSD, the others is 360GB SSD
* OS
centos 7.2
* Version
Version: 2018-04-19T22:54:58Z
Release-Tag: RELEASE.2018-04-19T22-54-58Z
Commit-ID:

[2018-05-10 17:24] harshavardhana commented on #5846
@gongxun0928 please create a new issue this issue is closed thanks.

[2018-05-10 17:31] gongxun0928 commented on #5846
@harshavardhana ok.

[2018-05-10 17:33] craSH commented on #5305
Hello, this is a feature that I would like / need before I can roll out Minio for some internal uses (which are all inherently multi-user) at my company, please consider this an additional request to prioritize the feature. Thanks!

[2018-05-10 17:49] gongxun0928 opened #5921 "Distributed minio takes long time to upload large file locally using SDK (both golang and python)"
## Expected Behavior
SDK-Client Should  uploading immediately like mc
## Current Behavior
We are testing the distributed minio in LAN. We have uploaded a 23MB file use SDK(both golang and python). It takes about 3 minutes. but when i use `mc cp`, it's immediately。

## Your Environment
* Version used (`minio version`):
Version: 2018-04-19T22:54:58Z
Release-Tag: RELEASE.2018-04-19T22-54-58Z
Commit-I

[2018-05-10 18:05] deekoder commented on #5915
@ppawlak  the draggable region is on the top only. Typically you are correct, it's in the center of the page (learning from google drive, dropbox etc about this experience). We will revisit this when we plan our next big ux refresh.

[2018-05-10 18:06] soloturn opened #5922 "preferred-challenges tls-sni"
the docu here:
https://docs.minio.io/docs/generate-let-s-encypt-certificate-using-concert-for-minio

says:
certbot certonly --standalone --preferred-challenges tls-sni -d myminio.com --staple-ocsp -m test@yourdomain.io --agree-tos

i am getting:
Client with the currently selected authenticator does not support any combination of challenges that will satisfy the CA.

is this certbot call still corr

[2018-05-10 18:21] harshavardhana commented on #5922
We will update the doc thanks for letting us know @soloturn

[2018-05-10 19:25] vadmeste commented on #5916
@dragon2611 my first testing didn't show any error, this is how I configured NextCloud 13.02

[code]

Can you test the previous release and see if the bug disappears or not ? https://dl.minio.io/server/minio/release/linux-amd64/archive/minio.RELEASE.2018-05-04T23-13-12Z

[2018-05-10 22:21] deekoder commented on #5916
ping @dragon2611  can you confirm that it works now?

[2018-05-10 23:10] dragon2611 commented on #5916
I'll retest when I can, hopefully this morning/tomorrow depending on people's timezone.

Noticed access denied errors on console if that's any help to the devs, on the underlaying filesystem the files are owned by the user running minio and both the minio webui and MC can see them.

There is a haproxy (opnsense) Infront doing ssl termination with a wildcard letsencrypt cert.

This worked fine on t

[2018-05-10 23:53] #5917 closed, assigned to harshavardhana

[2018-05-11 07:04] nitisht commented on #5903
@rawipfel do you mind sending a PR to fix the doc

[2018-05-11 09:14] dragon2611 commented on #5916
Retested, Problem still persists with latest release

If I run RELEASE.2018-05-04T23-13-12Z or older then NC sees folders, if I run anything newer than that release it goes missing.

It does also spit out a load of file access denied messages

`API: HeadObject(bucket=nextcloud, object=test)
Time: 10:06:33 BST 05/11/2018
RemoteHost: 10.0.232.254:16972
UserAgent: aws-sdk-php/3.35.2 Guzzle/5.3.1 curl

[2018-05-11 09:29] harshavardhana commented on #5916
We will verify and let you know, do you have nextcloud configuration that you can share with us? are you using Minio as primary storage or secondary storage?

[2018-05-11 09:50] gongxun0928 commented on #5921
network error. my fault.

[2018-05-11 09:50] #5921 closed, assigned to nobody

[2018-05-11 10:02] dragon2611 commented on #5916
Minio is mounted as external storage in nextcloud.

The only change I've made to the snap config was to increase the php memory limit.
nextcloud  13.0.2snap1  6916  13/candidate  nextcloud  -

[2018-05-11 13:05] abraarsyed opened #5924 "Unable to setup Minio-Kafka on local devopment mode"
## Expected Behavior

I am trying to setup Minio with Kafka on my local machine using the documentation provided [here](https://docs.minio.io/docs/minio-bucket-notification-guide) under `Publish events via Kafka` section.

I have started the minio server, zookeeper and kafka server and then I am using the minio client to add events but it giving error wrt ARN. I am getting the following error:
`mc

[2018-05-11 15:22] cmdrrobin commented on #5902
@krishnasrinivas that fixed only the unwanted messages. The problem is still there. (at least in my case)

[2018-05-11 16:22] harshavardhana commented on #5924
We will try to reproduce this and get back to you..

[2018-05-11 17:09] vadmeste commented on #5916
Ah okay, I just knew about the external storage thing, I will test it right now.

[2018-05-11 18:14] vadmeste commented on #5916
This is not a regression per-se, it was more like a luck to have NextCloud external storage working with Minio before since this latter doesn't fully support empty directories yet.. The same thing applies for all applications that are working with S3 as regular file system. I will update the team and discuss this.

[2018-05-11 18:28] dragon2611 commented on #5916
The directories are not empty however they all contain content.

[2018-05-11 18:39] deekoder commented on #5922
@soloturn will you be able to send us a pr to fix this in our docs?

[2018-05-11 21:25] krishnasrinivas opened #5925 "Log error if same ip/port/export is not used on all the minio servers"
// easier to describe this issue without following the template.

It is not an uncommon mistake to provide a different IP or different export on one of the minio servers in a distributed erasure setup. In such a case we should show an error log.

For ex. on
server1: http://minio1/tmp/export http://minio2/tmp/export http://minio3/tmp/export http://minio4/tmp/export
server2: http://minio1/tmp/export

[2018-05-11 22:19] rawipfel commented on #5903
Will do, please standby

[2018-05-12 00:50] harshavardhana commented on #5925
https://github.com/minio/minio/issues/3475 there is an older bug on this already which needs to be fixed.

[2018-05-12 00:50] harshavardhana commented on #5925
Duplicate of https://github.com/minio/minio/issues/3475

[2018-05-12 00:50] #5925 closed, assigned to nobody

[2018-05-13 10:34] dragon2611 commented on #5916
@vadmeste is seems minio.RELEASE.2018-04-19T22-54-58Z is actually the latest one that will work with nextcloud, newer releases upto RELEASE.2018-05-04T23-13-12Z show the folders but I get a request error if I try and actually open any of the files contained within.

The latest release won't show any folders but will allow files in the root of the bucket to be downloaded.

[2018-05-13 17:14] rwagner-inf opened #5927 "Hide version in Header"
Hi guys!

How do I, to disable, or not to display the version in the http headers?
What part of the code can I remove or comment on so it does not display the version?

![image](https://user-images.githubusercontent.com/24550871/39969748-12cc6500-56b7-11e8-877e-18fffec649c5.png)

I know the contact here would not be for that. But since I do not know any channel of discussion of the mine, I decided

[2018-05-13 17:20] harshavardhana commented on #5927
You can ask in https://slack.minio.io, why do you want to disable it ? This similar to nginx version or Apache version in the headers. ??

[2018-05-13 17:26] harshavardhana commented on #5916
Folders being shown was purely incidental due to an implementation issue as mentioned by @vadmeste we will see how to bring it back, but there are no guarantees right now.

[2018-05-13 18:26] rwagner-inf commented on #5927
I believe it is. that's precisely why I want to disable it.

[2018-05-13 21:51] tnagyce commented on #4670
Hi,

I'm too getting an i/o timeout:

[code]

I think I have the latest minio server, I did a docker pull minio/minio today and restarted the server.

[2018-05-14 00:08] harshavardhana commented on #4670
Feel free to open a new issue . This issue is closed.

[2018-05-14 01:16] harshavardhana commented on #5927
Can you state the requirement here ? Like what is the purpose behind removing Version information..

[2018-05-14 08:25] krishnasrinivas commented on #5886
https://docs.aws.amazon.com/aws-sdk-php/v3/api/api-s3-2006-03-01.html#putbucketnotificationconfiguration

The documentation says `'QueueConfigurations' note the missing `s` in your code, can you fix it and check?

Can you check with AWS-S3 and see if it returns error when you have `QueueConfiguration` instead of `QueueConfigurations`?

[2018-05-14 08:39] Southclaws opened #5928 "Credential is mal-formed error while running in Docker Compose"
Hi, I'm in the midst of moving some of my side projects from regular `docker run` scripts to Docker Compose. I've gotten stuck while moving one app that uses Minio, it encounters the error

[code]

when attempting to check if a bucket exists, so I know it's reaching the server it's just not getting the correct response. This was using the Go client, [I opened an issue there](https://github.com/min

[2018-05-14 12:55] sniegu commented on #4881
@krishnasrinivas @harshavardhana I have just hit this issue. Currently I need to fallback to pre-October release of Minio. I understand and accept the need of optimizations that this change would introduce, but it stands in contradiction with Minio's claim that it is "Amazon S3 compatible object storage server", since nor original S3 does impose such a restriction, neither other implementation do

[2018-05-14 13:00] LissenVos opened #5929 "Security concern on file sharing"
Hi

I am testing the file sharing features on minio. Currently I am using as NAS as backend storage and through minio to provision S3 bucket and storage. I found the the sharing permission can be a security whole to take whatever file you want.

For example, I have got a bucket and list of files

bucket1/abc.txt
bucket1/cde.txt
bucket1/efg.txt

1. Share a file called abc.txt and it will generate a

[2018-05-14 13:11] mickael-kerjean opened #5930 "Nice job!"
I've received a feature request to integrate Minio in my [project](https://github.com/mickael-kerjean/nuage).

That's basically a kindof Filezilla FTP except it's web based and with support for many backend. That's official, we now have full support for Minio `:)` => https://nuage.kerjean.me.

Keep going on the great job!

[2018-05-14 14:20] nitisht commented on #5930
@mickael-kerjean that is great! Can you please send a PR to https://github.com/minio/awesome-minio to add your project. Closing this issue.

[2018-05-14 14:20] #5930 closed, assigned to nobody

[2018-05-14 15:33] harshavardhana commented on #5929
How are you changing abc.txt to cde.txt ?

[2018-05-14 15:41] LissenVos commented on #5929
If I swap two filename, meanings that

I suggest to check the hash of file before every access from public. Once the hash has been changed for corresponding public link, minio server should revoke the file from public access.

[2018-05-14 15:42] harshavardhana commented on #5929
Swap meaning are you copying the content of abc.txt from cde.txt ?

[2018-05-14 15:44] LissenVos commented on #5929
No. Changing its name only without the file content changed

[2018-05-14 16:35] aead commented on #5929
@LissenVos

Am I understanding you correctly:
 - You create (at least) 2 objects (e.g. `bucket/abc.txt` and `bucket/def.txt`
 - Than you create a sharing link for the first object `bucket/abc.txt`.
 - After that you remove the object (`bucket/abc.txt`).
 - Now you copy the 2nd object (`bucket/def.txt`) to `bucket/abc.txt` - This is basically a rename. Notice  that S3 does not support a object rena

[2018-05-14 16:38] LissenVos commented on #5929
Yes. You are right! Is this possible to be solved on your side?

[2018-05-14 16:44] aead commented on #5929
No, we cannot fix this. This is "expected" behavior and AWS handles that exactly the same way. A shared link is basically a reference to an object - the access control verification has no knowledge about the content.

Possible work-a-round: Use SSE-C (server-side-encryption) and change the encryption key if you rename/copy the object to a new object-name. That way a GET on the object will fail unl

[2018-05-14 17:01] #5929 closed, assigned to aead

[2018-05-14 18:17] krishnasrinivas commented on #4881
We tend to avoid adding config options, but will check with the team if it can be an exception in this case.

[2018-05-14 18:31] krishnasrinivas commented on #4881
@sgamzn @sniegu isn't erasure backend an option for you?

`minio server /export1 /export2 /export3 /export4`

It supports differing parts sizes.

[2018-05-14 18:40] sgamzn commented on #4881
@krishnasrinivas erasure as in https://docs.minio.io/docs/minio-erasure-code-quickstart-guide ? I am not certain how it would possibly affect the problem. Our workflow is: file being generated and uploaded. Part size starts small, then gradually increases. I am not sure how you propose to use erasure here

[2018-05-14 18:56] harshavardhana commented on #4881
Minio provides two different primary modes of operation

- FS mode where you saw the error
- Erasure coded (distributed or standalone multiple disks)  where you won't see the error

We wish to keep the FS mode as it is and simple. We purposefully reduced the scope of FS mode in this scenario to reduce code complexity and higher performance. We do not support many other S3 APIs as well simply becau

[2018-05-14 21:10] zackelan opened #5931 "Minio and S3 handle list_objects_v2 with a blank ContinuationToken differently"
Repro:

[code]

vs.

[code]

So Minio ignores ContinuationToken when it's the empty string, whereas S3 barfs on it and returns an error.

I don't know what the goal is with regards to exact compatibility with the S3 API...feel free to wontfix this if compatibility at this level is a non-goal.

I think Minio's current behavior is arguably better and more user-friendly, but this caused a small issue

[2018-05-14 21:18] harshavardhana commented on #5931
We should be compatible, looks like this is a recent addition. ContinuationToken was allowed to be empty previously in AWS S3.  We will fix it.

[2018-05-14 21:25] ycecube opened #5932 "I/O timeout error"
Hi,

I'm getting an I/O timeout sometimes when I try to sync with restic:

[code]

I have the latest version from minio that I've pulled yesterday with docker:

[code]

I have a dynamic IP address with no-ip domain, although it seems stable enough, the response is around 25ms.

[code]

I'm running the minio server with the following command:
[code]

The data and config folders are in an encryptfs

[2018-05-15 14:34] sniegu commented on #4881
I can confirm that changing mode to erasure coded storage solved my problem. Thanks!

Up until now I have used Minio only in development and testing scenarios, with a single Minio instance - I was just not aware, that the other mode might be different in such a way.

I agree that introduction of configuration switches should be avoided, especially with software such easy to run as Minio. Maybe jus

[2018-05-15 14:38] sgamzn commented on #4881
Is there a way to enter erasure mode with just a single export?

[2018-05-15 18:02] krishnasrinivas commented on #4881
@sniegu no
you can do `minio server /single-export/export{1...4}` but I guess that is not what you are looking for.

[2018-05-15 18:57] sgamzn commented on #4881
@krishnasrinivas perhaps you want this to be configurable... I get it that erasure backend is an option, but you have:

a) incompatibility with Amazon S3. Whichever way you slice it, you made your product incompatible. I get it that you had reasons, but reasons are irrelevant if product falls short of specs. The right way to approach such experiments is to enable it in non-default mode with a note

[2018-05-15 19:22] #5914 closed, assigned to nitisht

[2018-05-16 00:58] harshavardhana commented on #5656
@HjlSr going to close this issue for now, please reply back when you have more details.

[2018-05-16 00:58] #5656 closed, assigned to harshavardhana

[2018-05-16 01:00] harshavardhana commented on #5545
@zamrih going to close this issue for now, feel free to re-open if this issue requires more attention.

[2018-05-16 01:00] #5545 closed, assigned to harshavardhana

[2018-05-16 01:01] harshavardhana commented on #5928
Would you be able to test with latest release @Southclaws ?

[2018-05-16 01:17] krishnasrinivas opened #5936 "Disk healing - to not heal unmounted exports"
// Not following the template

Currently when we issue `mc admin heal` it formats the disks directories which don't contain `.minio.sys/format.json`
The problem is if certain disks have been unmounted we endup creating `.minio.sys/format.json` on the root FS.

To avoid this, before creating `.minio.sys/format.json` we should check if the device ID from stat of the export directory is same as the d

[2018-05-16 01:25] krishnasrinivas opened #5937 "Use session ID to detect minio restarts"
With the new HTTP POST style RPC we will not be able to detect if a peer is restarted. i.e after a peer is restarted we have to re-evaluate its format.jsons. This is so that we can decide if the disk position has changed.

To fix the problem, we can use a session ID at the RPC layer to know if a peer is restarted. i.e Each minio server will have a global session ID which is initiated at boot time.

[2018-05-16 02:05] hatt opened #5938 "Minio on Kubernetes returns HTTP Connection Refused on all requests"
When deployed on Kubernetes 1.9.5 on vSphere with either the Helm chart from git HEAD (chart version 1.2.0) or the manifest generator on minio.io, the pods and service come up but have no logs and all connections are refused. When checking the containers with netstat, there are no processes listening.

Storage backend is vSphere VMFS datastore and it successfully attaches storage to the pods. No i

[2018-05-16 10:20] Southclaws commented on #5928
Just tested with `RELEASE.2018-05-11T00-29-24Z` and the result was the same.

[2018-05-16 11:23] Praveenrajmani commented on #5924
Hey @abraarsyed , Its working fine for me here . Can you share me the config ?

[2018-05-16 13:03] nitisht commented on #5938
@hatt I checked the `kubectl describe` output you shared, looks fine. Do you mind retrying with couple of changes in the helm startup command

`helm install --set "image.tag=RELEASE.2018-05-11T00-29-24Z" stable/minio`

This will start current minio release in standalone mode, this to confirm if there are network issues or something else

[2018-05-16 20:06] krishnasrinivas commented on #5763
What we decided was to bring a change to not show disk-information on the main page, but provide a button "calculate disk-usage" that calculates the `du` command style disk usage.

This will address both your use cases.

[2018-05-16 20:39] nneul commented on #5763
:+1: :+1: :+1:

[2018-05-16 20:39] nneul commented on #5763
(one thumb is degraded)

[2018-05-16 20:43] glensc opened #5942 "Error: etag of the object has changed"
I've moved docker-registry from one server to another, and minio on the new place yields such messages to stdout:

[code]

and the service appears not to be working. docker pull fails because probably bucket data is not available.

## Your Environment

* Version used (`minio version`): `minio/minio:RELEASE.2018-04-27T23-33-52Z`

[2018-05-16 20:53] glensc commented on #5942
https://github.com/minio/minio/blob/RELEASE.2018-04-27T23-33-52Z/cmd/object-api-errors.go#L352

probably duplicate: https://github.com/minio/minio/issues/5893

fixed by https://github.com/minio/minio/pull/5889

[2018-05-16 20:56] #5942 closed, assigned to nobody

[2018-05-16 21:25] michaelhyolee commented on #5857
+1 this is stopping us from using Minio as a drop-in replacement for S3 (using aws-sdk-ruby V2)

[2018-05-16 23:14] glensc opened #5943 "API: ListObjectsV1, Error: treeWalk abort"
minio stdout spews such messages:

[code]

perhaps debug, as i don't notice anything actually broken.

## Your Environment
* Version used (`minio version`): `minio/minio:RELEASE.2018-05-11T00-29-24Z`

[2018-05-16 23:18] harshavardhana commented on #5943
This is not a problem @glensc and can be ignored. This tells us that ListObjects() was closed properly after a timeout waiting for future calls.

[2018-05-17 00:34] jonathandean opened #5944 "SHA256 mismatch installing latest stable via homebrew"
I am unable to install the latest stable version via homebrew on a Mac:

[code]

Removing the cache version from `/Users/<user>/Library/Caches/Homebrew/` will allow it to re-load the file but it still does not work.

## Expected Behavior

Successful installation

## Current Behavior

Unable to install

## Possible Solution

The file at https://dl.minio.io/server/minio/release/darwin-amd64/minio.RE

[2018-05-17 00:38] harshavardhana commented on #5944
Fixed in https://github.com/minio/homebrew-stable/commit/e7506d2cc30840ebf9cf70260fcc817deeda3106

[2018-05-17 00:38] #5944 closed, assigned to harshavardhana

[2018-05-17 01:21] jonathandean commented on #5944
works now, thanks so much!

[2018-05-17 04:34] hatt commented on #5938
Thanks @nitisht, standalone mode works fine but I think you're onto something with networking. Testing with `kubectl exec`, the pods don't seem to be able to talk to each other either.

[2018-05-17 04:38] nitisht commented on #5938
does the Minio container start? are you able to see Minio startup banner or any errors?

[2018-05-17 04:48] hatt commented on #5938
The container starts but there's no logged output at all in the pod or the container.

[2018-05-17 04:53] nitisht commented on #5938
this is strange, will it be possible to allow access to your setup remotely?

[2018-05-17 05:09] hatt commented on #5938
Unfortunately not, the datacentre has no external facing connectivity. We could take this to slack if that's easier though.

[2018-05-17 06:03] curantes commented on #5854
@vadmeste I have upgraded and tested this now and it looks great! thanks for the fix.

[2018-05-17 08:53] abraarsyed commented on #5924
Hey @Praveenrajmani, can you help me in understanding what could be the possible issue? Here is my config which I am mounting in minio docker container as config.json:

`{
	"version": "23",
	"credential": {
		"accessKey": "27UJU84QOP37MR99M6JZ",
		"secretKey": "8BdKHAwaBrchtDRAjiA+2bhYVhYKiqqo9EgyHrcm"
	},
	"region": "",
	"browser": "on",
	"domain": "",
	"storageclass": {
		"standard": "",
		"rrs"

[2018-05-17 09:57] diogojesus95 opened #5947 "Run minio under a subdirectory"
## Expected Behavior

run minio under cdn.example.com/v2

## Current Behavior

cdn.example.com/v2 access denied (missing token)

## Possible Solution

## Steps to Reproduce (for bugs)

Since we have a simple and internal cdn in our company we never used minio since we didn't really needed a token. But now we must use it to generate tokens over the client invoices to implement to the actual user in

[2018-05-17 12:22] diogojesus95 commented on #5305
+1 We also need this to implement private buckets over different co-workers for internal use

[2018-05-17 17:28] karimmohraz opened #5950 "Failed to copy ... Insufficient permissions to access this file"
cannot upload recursively folder to S3
however, mc mirror works fine, and other go-client successfully uploaded same data.
cp 1 file works also.
works with linux client RELEASE.2018-03-25T01-22-22Z

## Expected Behavior

used to work fine with earlier 2017? versions of mc

## Current Behavior
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. mc cp -r test/Adidas/ mlV2train60/data/

[2018-05-17 17:36] harshavardhana commented on #5950
This issue is a variant of https://github.com/minio/minio/issues/5857

[2018-05-17 17:37] harshavardhana commented on #5927
Closing this as non-actionable for us for the time being.

[2018-05-17 21:12] kannappanr commented on #5950
Fix for #5857 will also fix this issue.

[2018-05-18 00:26] #5943 closed, assigned to nobody

[2018-05-18 05:02] nitisht commented on #5903
closing as it works and doc is updated as well

[2018-05-18 05:02] #5903 closed, assigned to nitisht

[2018-05-18 06:06] diogojesus95 opened #5955 "[Request] Generate 1 time only token"
## Possible Solution

When using fGetObject with javascript we would like to generate a token for 1 time read only. Means that everytime that this function is used a new token will be generated. Then if we copy the link the token won't be available and a new one with the function must be generated again.
The main idea is to share only once the link.

## Your Environment

* Version used (`minio ver

[2018-05-18 07:09] sam-jg commented on #5928
@Southclaws
Just had this issue as well. Our problem was that our access key and secret key were randomly generated and would sometimes have a '/' in them. Easy fix to just generate keys with only alphanumeric characters.

Not sure if this is causing your issue though.

[2018-05-18 07:40] Praveenrajmani commented on #5924
Hey @abraarsyed , Can you see the `ARN` while running `docker run -p ..` ?? , the config is fine , i suspect the error in docker run . And will be much helpful if you post here the result log for the `docker run`

[2018-05-18 10:09] Southclaws commented on #5928
That was the issue, thanks!

It would be very simple but very useful to have the Minio server catch this early on with a helpful error message notifying the user of invalid characters in the key.

[2018-05-18 10:09] #5928 closed, assigned to harshavardhana

[2018-05-18 11:11] abraarsyed commented on #5924
@Praveenrajmani You are right! I think I am not mounting my config properly in the docker container. Can you help me correct it? I deleted the old container and recreated and got the following output:

![image](https://user-images.githubusercontent.com/6316109/40231814-1e0251c6-5aba-11e8-9570-07495f02c4e3.png)

Also, how to I see the `ARN` while running the `docker run` command?

[2018-05-18 11:41] gurvindersingh opened #5956 "Ability to create, upload, share and delete folder in ui"
Currently in the minio UI it is not possible to create a folder or upload folder from client side using UI. Neither if you already have folder in the underlying storage ability to share or delete it. UI allows sharing only a file via link.
## Expected Behavior

It should provide an option in addition to "Upload file, Create bucket" as "Create folder" and a user should be able to upload folder usin

[2018-05-18 15:05] rozuur opened #5958 "Behaviour differs from s3 when a path contains double slash"
## Expected Behavior

Upload a file to an s3 path with a double slash
[code]

## Current Behavior

The same behaviour fails with minio  and instead of
`s3cmd ls s3://bucket/path//empty  # No file`
One should remove the double slash and then proceed
`s3cmd ls s3://bucket/path/empty  # File exists`

## Possible Solution

To be compatible with s3 following location should also work
`s3cmd ls s3://buc

[2018-05-18 17:22] kannappanr commented on #5955
@diogojesus95 I am not sure I understand your requirement properly. In the case of Minio, if you are using `fGetObject`, you are assumed to be the owner of the object, so there is no sharing involved. If you want to share and want to have a one time download token, there is no support like that in S3. Please look at `https://stackoverflow.com/questions/19467460/how-can-i-create-a-one-time-download

[2018-05-18 17:24] harshavardhana commented on #5958
Duplicate of https://github.com/minio/minio/issues/5874

[2018-05-18 17:27] harshavardhana commented on #5956
Duplicate of #5915 and #3933

[2018-05-18 17:44] kannappanr commented on #5958
As mentioned in the original issue, AWS does not used filesystem to store the objects, whereas Minio does. But, you also cannot use tools like `s3Cmd` to replicate a bucket in AWS to a local folder, when it contains object names with double slashes. Closing this issue as working as intended.

[2018-05-18 17:44] #5958 closed, assigned to nobody

[2018-05-18 18:26] deekoder commented on #5956
@gurvindersingh  some of these, we plan to do as part of a new ux release which will happen later. But I wanted to clarify something about object storage that I myself had to learn as I worked with object storage - the concept of folders that we know of as consumers do not really exist in object storage. The UX doesn't help us understand this since we are used to explorer, dropbox, etc. Some UX to

[2018-05-18 18:44] gurvindersingh commented on #5956
@deekoder thanks for the detailed info. I am aware of the directory being mimicked as file with suffix "/". Given minio supports the folders being present in the filesystem when started. As a user I would expect the same user experience after interacting with minio and thus asked for this in the issue. #5915 was mainly for the file which does work for mac and as noted there you have to drop in upp

[2018-05-19 11:54] diogojesus95 commented on #5955
So from what I understand from that link, I can generate the token for a few minutes instead of 1 time only. Is it right? I didn't implement yet the code, since I am first studying all options available for our service.
Like I said we need something similar to this to store all client invoices. Then the client goes to portal.website.com and after login he/she can download his/her invoice from last

[2018-05-19 16:42] kannappanr commented on #5955
You can look at https://docs.minio.io/docs/javascript-client-api-reference#presignedGetObject for more information. The URL that is being generated will not be of the form that you are talking about, so that will not be an issue.

[2018-05-20 05:49] harshavardhana opened #5961 "Implement disk usage calculation for tenant level metrics"
## Expected Behavior
Implement disk usage or simply `du` like functionality at per deployment level on per disk for more granular tenant level usage metrics.

In future explore ways to enable AWS S3 CloudWatch like functionality https://docs.aws.amazon.com/AmazonS3/latest/dev/cloudwatch-monitoring.html to control metrics granularly.

## Current Behavior
The current behavior is at the disk level i.

[2018-05-20 16:48] xp-1000 opened #5964 "[faq] [Question] Understand the space capacity"
I would like to understand how space capacity is decided depending of the configuration.

## Expected Behavior

## Current Behavior
I read your documentation and it is probably me who don't right understand something. sorry for that.

## Possible Solution
A dedicated documentation for those, as me, who don't understand with the existing documentation

## Steps to Reproduce (for bugs)

## Context

[2018-05-20 21:24] lyderic opened #5965 "Releases missing for Linux ARM, 386, BSD etc"
The page https://dl.minio.io/server/minio/release/ is missing the latest release for many architectures/OS combinations e.g. Linux ARM, ARM64, 386, BSD, etc.

## Expected Behavior
It would be convenient to have builds for all architectures/OS combinations. For the moment, if you're running e.g. a Linux ARM server, you have to build minio, which might be daunting for some, especially as the README.

[2018-05-20 22:03] harshavardhana commented on #5965
We used to do in the past, but we decided to not build releases for these platforms simply because we do not have the bandwidth to build, test and validate them to be production worthy.

Source compilation is always possible on all these platforms and should be possible by simply doing ` go get github.com/minio/minio`

[2018-05-21 11:22] iahmad-khan opened #5967 "Cannot upload snapshots to minio from elasticsearch"
Hi,

I am using the latest stable version of minio. I have created a bucket named: elasticsearch , to which I can upload files using the browser interface.

I want to use the same bucket to stor elasticsearch snapshots. Elastic repo config:

[code]

Error:
[code]

Does it related to the fact that elasticsearch s3 plugin expects s3 kind of url:

`elasticsearch.minio.mydomain:9000`

while the url in

[2018-05-21 11:23] nitisht commented on #5964
Total space is simply the number of data disks * space per disk. Minio starts with default configuration of N/2 data and N/2 parity disks. So in default configuration, say you have 8 disks of 1 TiB each, then total usable space is

Number of data disks [4] * Space per disk [1 TiB] = 4 TiB.

If you configure standard storage class with say 5 data, 3 parity and you have 1 TiB per disk, then total st

[2018-05-21 11:39] nitisht commented on #5967
@iahmad-khan can you please try setting up your Minio server as explained here https://github.com/minio/minio/tree/master/docs/config#domain

[2018-05-21 11:49] iahmad-khan commented on #5967
Ok got it. Maybe I need to use s3 style url by passing domain env variable
to container.

On Mon, May 21, 2018, 12:40 PM Nitish Tiwari <notifications@github.com>
wrote:

[2018-05-21 12:25] iahmad-khan commented on #5967
Hi ,

Still same erorr.

Here is my docker run , i can see inside the container the those variables are exported:

[code]

[2018-05-21 12:27] iahmad-khan commented on #5967
How can I test whether the s3 style url works? If I use curl , it says domain name not found:

elasticsearch.machine_name.mydoamin.com:9000
OR
elasticsearch.machine_name.mydoamin.com

How can I test that I can access my bucket using that url format.

[2018-05-21 12:36] iahmad-khan commented on #5967
Have you tested that minio works with elasticsearch as snapshot repository? If you test , it will complain about that io-exceptiion

[2018-05-21 12:45] iahmad-khan commented on #5967
I test by using both:

`MINIO_DOMAIN=myexample.com
`
and

`MINIO_DOMAIN=minioserver.myexample.com
`
still the same error.  Browser uploads works.

[2018-05-21 16:36] nitisht commented on #5967
@iahmad-khan yes, this is well tested and documented on elastic website: https://www.elastic.co/guide/en/cloud-enterprise/current/ece-configuring-minio.html

When you say

how does that work? I mean what are you uploading from browser

[2018-05-21 16:41] soloturn commented on #5922
@deekoder which repo is this in? i did a grep in the minio repo - but either did it wrong or it is somwhere else ..

[2018-05-21 16:43] nitisht commented on #5922
@soloturn it is in minio/cookbook reop here: https://github.com/minio/cookbook/blob/master/docs/generate-lets-encypt-certificate-using-certbot-for-minio.md

[2018-05-21 17:12] iahmad-khan commented on #5967
From browser interfere I can do file uplods to bucket.

I have also tried --address option with server and configured hosts file
for dns. Still no luck

On Mon, May 21, 2018, 5:37 PM Nitish Tiwari <notifications@github.com>
wrote:

[2018-05-21 17:46] xp-1000 commented on #5964
Hi @nitisht,
Thank you very much for your quick answer, it is crystal clear for me.
One last question : do you know if minio can be used on two nodes over wan and if yes what is the maximum allowed latency between nodes ?
Thanks

[2018-05-21 18:16] kannappanr commented on #5965
@lyderic As explained above, I will be closing this as won't fix. Please feel free to open a new issue if you have other questions.

[2018-05-21 18:16] #5965 closed, assigned to nobody

[2018-05-21 18:18] kannappanr commented on #5955
@diogojesus95 Closing this issue. If you have further questions, please feel free to reach out to us.

[2018-05-21 18:18] #5955 closed, assigned to nobody

[2018-05-21 19:11] deekoder commented on #5910
Will take this under consideration for the future. Rob may be working on this aspect.

[2018-05-21 19:48] lyderic commented on #5965
Thanks for your time and thanks for minio!!!

On Mon, 21 May 2018, 19:16 kannappanr, <notifications@github.com> wrote:

[2018-05-21 19:49] lyderic commented on #5965
Thanks for your time and thanks for minio!!!

On Sun, 20 May 2018, 23:03 Harshavardhana, <notifications@github.com> wrote:

[2018-05-21 20:59] iahmad-khan commented on #5967
@nitisht  that documentation is for the cloud version  of elasticsearch , maybe , in there , they are using the path style bucket access , not the dns name style.

In the standard elasticsearch , the s3 plugin tries to access   bucket.minio.domain.com  style that fails.

Did you try using standard elastic-search installation , with s3 plugin.

[2018-05-21 21:30] krishnasrinivas commented on #5947
[code]

Nginx cannot change the path like this as there will be a signature mismatch. i.e for signature calculation the client will include the path, on the server side when it computes the signature again to verify if the path has changed, the server computed signature will be different.

The signature-v4 standard we use is defined by AWS.

[2018-05-22 01:58] nitisht commented on #5938
@hatt were you able to run the image that I shared

[2018-05-22 02:28] nitisht commented on #5964
Minio can be used on two nodes, as long as you have at least 4 disks. Maximum time difference allowed across servers is 15 mins

[2018-05-22 04:55] bigclouds commented on #2965
any news?

Caused by: com.amazonaws.AmazonClientException: Unable to verify integrity of data upload.  Client calculated content hash (contentMD5: 1B2M2Y8AsgTpgAmY7PhCfg== in base 64) didn't match hash (etag: null in hex) calculated by Amazon S3.  You may need to delete the data stored in Amazon S3. (metadata.contentMD5: null, md5DigestStream: com.amazonaws.services.s3.internal.MD5DigestCalculatin

[2018-05-22 08:48] nitisht commented on #2965
@bigclouds could elaborate the setup? We have tested and Minio works fine with Spark - documented here https://github.com/minio/cookbook/blob/master/docs/apache-spark-with-minio.md

[2018-05-22 10:48] diogojesus95 commented on #5947
if we could run minio under cdn.example.com:9000/v2 then we wouldn't have signature mismatch right?

[2018-05-22 11:51] pospelov-v opened #5970 "Why is the S3 API that Minio is not 100% compatible with Amazon S3?"
Why is the S3 API that Minio is not 100% compatible with Amazon S3?

For example, why is list not supported with prefix and delimeter supported?

Because of this, Error 501 NotImplemented occurs when writing to S3 storage…

[2018-05-22 14:07] nitisht commented on #5967
let me check and get back @iahmad-khan

[2018-05-22 14:08] nitisht commented on #5964
closing this as answered @xp-1000 feel free to join us on https://minio.slack.com if you have further questions.

[2018-05-22 14:08] #5964 closed, assigned to nitisht

[2018-05-22 17:42] kannappanr commented on #5970
@pospelov-v Not sure I understand you correctly.  Prefix parameter is supported in listObjects API. Can you please provide us with more information and also the corresponding http trace from the server?

you can use the `MINIO_HTTP_TRACE` environment variable and pass the location where you want to save the log, like
`export MINIO_HTTP_TRACE=/tmp/minio.log`
Restart minio once this env variable is

[2018-05-22 18:51] deekoder commented on #5910
Rob will address this in future. Closing this for now.

[2018-05-22 18:51] #5910 closed, assigned to nobody

[2018-05-22 18:53] deekoder commented on #5956
@gurvindersingh  you are right we are not on track for May 31. After we wrap up our current commitments we do plan to address the new UX release. I don't have an exact date for you at this time. I will update the date as soon as I have clarity on it.

[2018-05-23 10:11] #5961 closed, assigned to harshavardhana

[2018-05-23 10:49] bensquire commented on #5886
Thanks @krishnasrinivas I've added it our backlog/sprint to try out. I'll get back to you.

[2018-05-23 15:33] willfrew opened #5972 "Invalid X-XSS-Protection header format"
## Expected Behavior
Chrome should be able to parse the X-XSS-Protection header without an error.

## Current Behavior
Chrome is complaining about the quotes wrapping the X-XSS-Protection header:

![2018-05-23-162533_1286x40_scrot](https://user-images.githubusercontent.com/521750/40434277-ed3c0baa-5ea5-11e8-976e-bd1bd1748fc4.png)

[MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-X

[2018-05-23 15:44] bensquire opened #5973 "Minio stops sending events once RabbitMQ has restarted"
Possible bug (but then my track record hasn’t been good). We are pushing notifications to RabbitMQ on upload. This works fine.

However if RabbitMQ goes down and then comes back up Minio seemingly stops sending messages to RabbitMQ. If we restart Minio, everything works as expected.

## Expected Behaviour
RabbitMQ goes down and comes back up again, Minio continues to send events

## Current Behavi

[2018-05-23 17:01] jtolio opened #5974 "Can't implement other gateways using minio as a dependency"
Summary: github.com/minio/minio vendors github.com/minio/cli and exports types from a vendored cli in the minio gateway interface.

Let's say we want to write a gateway:

`src/github.com/jtolds/mygateway/main.go`
[code]

This won't compile because:

[code]

I can't change the import path of `cli` to `github.com/minio/minio/vendor/github.com/minio/cli` because vendored packages are essentially inte

[2018-05-23 17:02] jtolio commented on #5974
(In the meantime we have to stupidly fix this by `go get github.com/minio/cli && rm -rf $GOPATH/src/github.com/minio/minio/vendor/github.com/minio/cli`)

[2018-05-23 17:27] harshavardhana commented on #5973
Thanks @bensquire we will fix it.

[2018-05-23 17:28] harshavardhana commented on #5972
Thanks @willfrew I saw this too, we will take a look.

[2018-05-23 19:12] deekoder commented on #5973
@bensquire marking as regression, assuming this happens. We will test and if its indeed a regression, fix it and if it's not we will remove regression label and see why it works fine on our end and not for you.

[2018-05-23 19:30] krishnasrinivas commented on #5974
"github.com/minio/minio/cmd" is not written to be imported outside minio source @jtolds

i.e you will have to put your gateway in `src/github.com/minio/minio/cmd/gateway/mygateway`

You can look for other gateway source in `src/github.com/minio/minio/cmd/gateway`
Have a look at `src/github.com/minio/minio/cmd/gateway/azure/gateway-azure.go` for reference.

[2018-05-23 19:30] deekoder opened #5975 "Test all notifications on Minio Server"
Following this doc, please test if the latest minio server still sends notifications for each of the following mentioned integrations in doc below
https://docs.minio.io/docs/minio-bucket-notification-guide

## Expected Behavior
 All notification should work

## Current Behavior
We are testing if there may be any regressions in notifications

## Possible Solution
Test and find if things are broken

[2018-05-23 20:00] pospelov-v commented on #5970
Tell me more how to use the MINIO_HTTP_TRACE

I'm using this OS:
https://cdimage.debian.org/cdimage/archive/8.10.0/amd64/iso-cd/debian-8.10.0-amd64-netinst.iso

I run the "minio" according to the instructions:

https://docs.minio.io/

`
docker pull minio/minio
`

`
docker run -p 9000:9000 minio/minio server /data
`

`
MINIO_HTTP_TRACE=1
`

`
export MINIO_HTTP_TRACE=/tmp/minio.log
`

reproduce an e

[2018-05-23 20:30] jtolio commented on #5974
Why? If I make my own github.com/minio/minio fork with changes, then I don't easily get upstream fixes. It doesn't seem terribly challenging to make github.com/minio/minio/cmd be importable by just using type aliases.

This is really close to working exactly how I want. Could you add type aliases to fix the unexportable vendored types so they're exportable?

[2018-05-23 21:19] harshavardhana commented on #5974
Well that is not the intention, we can willingly change our cmd/ folder anytime and we need that flexibility. We cannot treat it like a library.   If you want to make changes simply fork and change the import paths.

[2018-05-23 21:31] krishnasrinivas commented on #5974
We will have to pay attention to what symbols are exported and what is not and also maintain it so that packages that import it don't break. It will be burdensome.

you have to treat the `package cmd` like `package main` of minio. Initially we had all the files in cmd in the top folder, but moved it inside cmd so that on the main github page github.com/minio/minio users don't see a long list of fi

[2018-05-24 00:42] jtolio commented on #5974
bummer. I think minio would be really useful as a library. Consider this issue to be a request for the minio server to be supported as a library!

[2018-05-24 00:43] kannappanr opened #5977 "Spurious failure seen in TestServerTLSCiphers"
Very rarely tests in `TestServerTLSCiphers` fails. This has been observed while running Travis builds.

## Expected Behavior
Should not see the test fails sporadically and should always pass.

## Current Behavior
Fails very rarely.
[code]

Looks like the second test failed in this scenario
[code]
## Possible Solution
Needs to be reproduced consistently and debugged

## Steps to Reproduce (for bugs

[2018-05-24 07:52] maordavidov opened #5978 "Upload failure when using '/' in the object key name"
Consider the following call using AWSSDK .NET Core
[code]

The request fail with Access Denied.

Fiddler response:
`<Error><Code>AccessDenied</Code><Message>Access Denied.</Message><Key></Key><BucketName></BucketName><Resource>/temp1/123/Wul8zNmKHpfkG6uFurdUkEfp5Ho.txt</Resource><RequestId>3L137</RequestId><HostId>3L137</HostId></Error>`

S3 policy is Read Write *

While replacing '/' with '_' wor

[2018-05-24 10:08] nitisht commented on #5978
what is the Minio version in use @maordavidov

[2018-05-24 10:10] maordavidov commented on #5978
@nitisht
I'm running it using docker-compose, this is the docker compose file:

[code]

[2018-05-24 10:47] Praveenrajmani commented on #5973
Hey @bensquire ,
It seems to work fine here ,
Il list down the scenario which succeeded when tested in my machine,

- [ ] Set up RabbitMQ - `.sbin/rabbitmq-server `
- [ ] Start Minio server - `./minio server testdir/`
- [ ] Add bucket notifications - `./mc events add  myminio/rabbittemp arn:minio:sqs::1:amqp`
- [ ] Start listening to the events - [I used the python script in the doc](https://docs.

[2018-05-24 11:06] deekoder commented on #5973
removing regression label @bensquire until you provide further info on why it happens at your end.

[2018-05-24 11:57] rmoriz commented on #5742
Running minio as root is very bad. However I don't see an easy solution to keep it backwards compatible.

the entrypoint is just a wrapper for `minio` so there is no way to know what volumes are mounted and if they need to be `chown`ed.

[2018-05-24 18:06] kannappanr commented on #5763
PRs #5976 and #5969 address this issue. They have been merged into the master, so closing this issue. Please feel free to open a new issue if you find anything wrong.

[2018-05-24 18:06] #5763 closed, assigned to kannappanr

[2018-05-25 02:49] wiryawan46 opened #5979 "Get all data in specific folder"
I want to get all data inside a specific folder in my bucket. But when i try to get it, i got all data in bucket. How to get data only in folder what i want to get? For example i have bucket 'Person', inside it i have 'Damon' folder, and i just want to get data in 'Damon' folder. I used Java SDK anyway.

[2018-05-25 03:06] wiryawan46 commented on #5979
Sorry i've get it

[2018-05-25 03:06] #5979 closed, assigned to nobody

[2018-05-25 12:37] ParasRocks opened #5981 "minio 2 service Volumes with absolute path not work in swarm mode"
version: '3.1'

services:
  minio1:
    image: minio/minio:RELEASE.2018-05-16T23-35-33Z
    volumes:
      - minio1-data:/export
    ports:
      - "9001:9000"
    networks:
      - minio_distributed
    deploy:
      restart_policy:
        delay: 10s
        max_attempts: 10
        window: 60s
    command: server http://minio1/export http://minio2/export http://minio3/export http://minio4/expor

[2018-05-25 13:26] nitisht commented on #5981
@ParasRocks can you pls explain the problem you're facing?

[2018-05-25 13:48] ParasRocks commented on #5981
version: '3.1'

services:
  minio1:
    image: minio/minio:RELEASE.2018-05-16T23-35-33Z
    volumes:
      - minio1-data:/export
    ports:
      - "9001:9000"
    networks:
      - minio_distributed
    deploy:
      restart_policy:
        delay: 10s
        max_attempts: 10
        window: 60s
    command: server http://minio1/export http://minio2/export
http://minio3/export http://minio4/expor

[2018-05-25 13:49] ParasRocks commented on #5981
but in case of absolute path is not work

On Fri, May 25, 2018 at 7:18 PM paras kumar <paraskumar106@gmail.com> wrote:

[2018-05-25 13:54] nitisht commented on #5967
@iahmad-khan I just tried using Elasticsearch 6.x and was able to create repository and upload snapshots. I have documented the steps here https://github.com/nitisht/cookbook/blob/elastic/docs/elasticsearch-snapshots-on-minio.md can you please take a look

[2018-05-25 14:28] iahmad-khan commented on #5967
Hi

I have made it worked by using the directory method instead of dns name to
bucket. I used ip address for endpoint in s3 client

Thanks

On Fri, May 25, 2018, 2:54 PM Nitish Tiwari <notifications@github.com>
wrote:

[2018-05-25 14:41] nitisht commented on #5967
Closing as working as intended

[2018-05-25 14:41] #5967 closed, assigned to nitisht

[2018-05-25 17:17] harshavardhana commented on #5467
@jonandernovella closing this as working . Feel free to open a new issue if you have further problems.

[2018-05-25 17:17] #5467 closed, assigned to poornas

[2018-05-25 18:30] kannappanr commented on #5970
Can you please take a look at https://github.com/minio/minio/issues/5710 .

Here is the sample provided in that issue
[code]

[2018-05-25 19:40] kannappanr commented on #5978
@maordavidov I think one scenario where you can see this issue is, if you have an object called `123` in your bucket and then you are trying to create an object called `123/Wul8zNmKHpfkG6uFurdUkEfp5Ho.txt` in the same bucket.

In the case of minio, the backend is a file system, so we do not support this sort of object creation. Let us know if that is the case with you.

[2018-05-25 20:42] maordavidov commented on #5978
@kannappanr yes that's exactly my case, thank you.

[2018-05-25 20:42] #5978 closed, assigned to nitisht

[2018-05-25 21:40] abraarsyed commented on #5924
I finally got it to work! Thank you for all your help :)

Learnt two things here:
1. The documentation works well for non docker minio setup. If we are using minio docker setup then the config.json cannot have `localhost` for kafka broker since it is inside the docker and not host machine. Planning to update the documentation regarding the same. What do you think?
2. Either cases, mc config needs

[2018-05-25 22:39] precurse commented on #5742
Starting up as root isn't an issue, but rather the not dropping privileges after container startup. It's fine to start with root, do things like UID/GID `chown`'ing, then drop to the user that minio runs as.

Those projects I referred to use this method. None of their `Dockerfile`s drop the privileges -- that's done at runtime for this exact purpose :)

[2018-05-26 10:04] aead commented on #5977
I think we can actually remove this test. The behavior is tested by mint anyway - See https://github.com/minio/mint/blob/master/run/core/security/tls-tests.go#L92

[2018-05-26 21:12] ulm0 commented on #5965
@harshavardhana it is possible, yet i've been trying to build it for ARM lately. it all seems to go good until i attempt to run minio (on a Raspberry Pi 3)

[code]

[2018-05-26 22:47] pospelov-v commented on #5970
![2018-05-27--01-39-53--281](https://user-images.githubusercontent.com/39521751/40580799-9857361c-614f-11e8-8a8d-c931c7292a8d.PNG)

I'm run everything as you told me, I reproduced the problem, but the log file was never created

[2018-05-27 03:16] harshavardhana commented on #5970
if you close the container the log will be lost @pospelov-v make sure to keep the container running and use `docker cp` to get the log from the container to your host.

[2018-05-27 03:19] harshavardhana commented on #5965
This looks like we are using 64bit atomic load which will panic on 32bit systems like raspberry pi 3, will send a fix.

[2018-05-27 09:29] darron1217 opened #5983 "Can I use minio with both S3 and NFS interfaces at a time?"
Can I use minio with both S3 and NFS interfaces at a time?

I want to use minio as S3 and also NFS server