[2017-05-23 11:51] krisis opened #4403 "[gateway-gcs] Upload using curl fails with Access Denied on a bucket with 'upload' policy"
## Expected Behavior

Upload should succeed since the policy allows for anonymous upload.

## Current Behavior

[code]
## Possible Solution

## Steps to Reproduce (for bugs)

1.  `mc policy upload mygcs/policy-upload`
2.  `curl --request PUT --upload-file "/etc/lsb-release" -k http://localhost:9000/policy-upload`
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environme

[2017-05-23 11:55] krisis commented on #4321
I still see this issue during testing.
[code]

[2017-05-23 13:23] krisis opened #4405 "[gateway-gcs] Multipart Upload hangs"
Upload of a 81MiB file hangs. Following is the `mc --debug` output, we can observe that listIncompleteUploads is called repeatedly. This may be the possible root cause.
[code]
## Expected Behavior

Multipart Upload hangs.

## Current Behavior

Multipart Upload should complete successfully.

## Possible Solution

Not yet known.

## Steps to Reproduce (for bugs)

1. `mc cp /path/to/largefile mygcs/b

[2017-05-23 15:40] harshavardhana commented on #4403
Duplicate of #4321 - its a larger issue no such bucket policy works. @krisis

[2017-05-23 15:42] bearmoo-cloud-net commented on #4354
Hi,

Unfortunately I am un able to reproduce the error. I will close this ticket.

[2017-05-23 15:42] harshavardhana commented on #4405
Could be related to this https://github.com/minio/minio/issues/4380

[2017-05-23 15:45] harshavardhana commented on #4400
LastModified is never returned by any PUT or POST operations in AWS S3.  In-fact its a bug in minio-go which is keeping a frivolous field in the struct and which has always been empty.

[2017-05-23 15:55] krisis commented on #4400
@harshavardhana Makes sense. Then we can remove the following snippet of code in `gcsGateway.PutObject`, right?

[code]

[2017-05-23 17:13] deekoder opened #4406 "Minio Browser and mc should support kerberos/SAML auth."
User must be able to login with kerberos username/password and authenticate via minio browser and use Minio FS. mc should also work with kerberos username/password.

[2017-05-23 17:17] deekoder opened #4407 "Minio browser and mc should accept kerberos provisioned usernames and work with GCS backend"
User must be able to user their provisioned kerberos provisioned username/passwords into minio browser and mc. The backend would be GCS in this scenario.

[2017-05-23 17:24] deekoder commented on #4326
@NitishT can you write down the instructions on how to run this. @hackintoshrao is looking for the instructions.

[2017-05-23 17:44] krishnasrinivas commented on #4400
@krisis this code snippet is used for returning etag (md5sum)

[2017-05-23 18:53] vadmeste opened #4408 "Log connection errors between nodes"
## Expected Behavior
When I run my cluster, I expect to see more detailed errors instead of infinite waiting.

## Current Behavior
Infinite waiting for the cluster to run. After some investigation, I discovered that I had configured some self-signed certificates and forgot to put public certificates under CAs directory of each instance.

## Possible Solution
More log.

## Steps to Reproduce (for b

[2017-05-23 19:07] #4382 closed, assigned to krisis

[2017-05-23 19:10] harshavardhana commented on #4400
No we need to just get rid of LastModified from ObjectPart struct in minio-go. @krisis

[2017-05-23 19:35] nitisht commented on #4362
@nl5887 if you have not started on this, may I take it?

[2017-05-23 19:56] krishnasrinivas opened #4411 "[gateway-gcs] ListObjects does not work when marker is used"
Make this change in `mc`:
[code]

create 20 objects under prefix `a/`
[code]

Then list gives error:
[code]

`mc --debug`:
[code]

validateListObjectsArgs() is returning error:
[code]

[2017-05-23 20:57] #4392 closed, assigned to poornas

[2017-05-23 20:57] harshavardhana commented on #4406
https://github.com/minio/mc/tree/sts initial work supporting this is here..

[2017-05-23 20:58] harshavardhana commented on #4407
https://github.com/minio/mc/tree/sts initial work which should work with GCS as well.

[2017-05-23 21:16] krishnasrinivas commented on #4411
Two options:
* disable `hasPrefix(marker, prefix)` check. If client app sets marker (object name) then it won't be valid for backend GCS
* Support only ListObjectsV2 for GCS which has support for continuation token.

Looks like GCS ListObjects was not designed for the user to specify/construct Token, but instead only to use previously returned nextPageToken:

https://cloud.google.com/storage/docs/

[2017-05-23 21:29] krishnasrinivas opened #4413 "[gateway] Implement ListObjectsV2 anonymous support"
As of now object-handlers.go's ListV2 handler handles the V2 request, hence anonymous requests are not served for ListV2 in gateway mode.

Also we can add ListObjectsV2 to GatewayLayer interface.

[2017-05-23 21:38] poornas commented on #4403
The curl command should have used a "/" after bucketname - that's why there is an access denied. If curl command is corrected, the request fails because gateway gcs has not yet implemented anonymous put.

[code]

[2017-05-23 22:15] krishnasrinivas opened #4414 "[gateway] Figure out gateway-testing in travis"
Reported by @deekoder

Currently travis code coverate has gone down because gateway does not have tests. Need to check if we should do functional testing in travis and if so, figure out how functional testing can be done in travis to help the coverage report.

Currently we have 3 backends:
S3: we can use play for travis testing
Azure: we can use minioblob account for testing
GCS: need to figure ou

[2017-05-23 22:24] harshavardhana commented on #4414
The problem is not just functional testing, in-fact there are lack of unit tests i.e large blobs of code can be converted to unit tests..

This is what we discussed yesterday, mint is going to cover the functional testing and we need to write more unit tests. on the server side.

[2017-05-23 22:56] krishnasrinivas commented on #4414
gateway-azure.go already has unit tests
gateway-s3.go does not have unit tests

Cursory glance at the GatewayLayer (gateway-azure.go and gateway-s3.go) methods shows that these methods are small. In which case the only way to improve code coverage of gateway significantly is by functional tests.

[2017-05-23 23:02] harshavardhana commented on #4414
It might not be the case there are many areas to improve from where i can see - some code can be combined together.  Apart from this there are more areas to increase code coverage for example bucket notification code for

- kafka
- mysql
- postgres
- AMQP . etc
...

To look for the full list

- https://codecov.io/gh/minio/minio/tree/master/cmd
- https://codecov.io/gh/minio/minio/tree/master/pkg

[2017-05-23 23:29] krishnasrinivas opened #4415 "[gateway-gcs] Filter out ZZZZ-Minio/"
Code :
[code]

But `mc ls` lists:

[code]

[2017-05-23 23:49] deekoder commented on #4414
since nitish is exploring possibilities with terraform and travis we can assign this to him for now.

[2017-05-24 00:04] deekoder opened #4416 "Implement server side encryption AES 256"

[2017-05-24 00:04] krishnasrinivas commented on #4287
@hackintoshrao gateway and server behave differently with and without region config.

server/gateway with region configured: clients should create buckets in that region only
server/gateway with empty region: clients can create buckets in any region

[2017-05-24 00:05] harshavardhana commented on #4416
http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html

An example to test it working.  Following example works with S3.

https://github.com/minio/minio-go/blob/master/examples/s3/putobject-getobject-sse.go

[2017-05-24 00:31] krishnasrinivas commented on #4400
Closing this then

[2017-05-24 00:31] #4400 closed, assigned to krisis

[2017-05-24 01:08] krishnasrinivas commented on #4261
AWS S3 does not allow anonymous multipart operations

[2017-05-24 01:13] deekoder commented on #4375
I will close this @jcoetzee  since we are not able to proceed with the repro. Please reopen if you think this issue is still happening for you.

[2017-05-24 01:13] #4375 closed, assigned to krishnasrinivas, rushenn

[2017-05-24 01:30] deekoder commented on #4393
@harshavardhana I am not sure about what you say above. There are no issues with mc if i start gateway with  `MINIO_ACCESS_KEY=minio MINIO_SECRET_KEY=minio1234 ./minio gateway gcs projectgcstest1` but there is this issue when i start with `MINIO_ACCESS_KEY=minio MINIO_SECRET_KEY=minio1234 ./minio gateway gcs projectid=projectgcstest1`

[2017-05-24 01:33] balamurugana commented on #4408
If you have `public.crt` and `private.key` in `.minio/certs` directory.  Its good to start server in secure mode.  Having other CA certificates under `.minio/certs/CAs ` directory is an optional ie you could copy CA certificates those are not available by default in the system.  You can refer https://github.com/minio/minio/blob/master/cmd/server-main.go#L228

Accordingly to the issue description,

[2017-05-24 02:07] hackintoshrao commented on #4291
[test.pdf](https://github.com/minio/minio/files/1024224/test.pdf)
FS memory and allocation consuming pattern has been straight forward, nothing unusual, pretty simple.

[2017-05-24 02:13] krishnasrinivas opened #4417 "[gateway-gcs] Support for PROFILE"
[code]

Support for PROFILE is not available as shown in the help here

[2017-05-24 02:18] ab commented on #4414
Presumably reported by @abperiasamy  :smile:

[2017-05-24 02:53] harshavardhana commented on #4414
Thanks @ab - This was funny!

[2017-05-24 02:54] deekoder commented on #4417
I believe project id is the only thing needed since its unique. But its better to check on this. Krishna, have you any test where you wanted to use the profile and were unable to?

[2017-05-24 02:55] harshavardhana commented on #4417
There is no easier way to support PROFILE AFAIK, atleast from SDK point of view it doesn't differentiate. Only parameter it takes is `projectID`.

[2017-05-24 02:57] deekoder commented on #4417
We do have to verify that this is the case.

[2017-05-24 02:58] harshavardhana commented on #4417
@nl5887 already verified this before and said its not possible.

[2017-05-24 03:09] hackintoshrao commented on #4345
Setup: XL with 4 disk ` /mnt/sd{b..e}1`

Here is the profile for PutObjectPart, the numbers contain number of allocations,

[code]

The number of allocations in following lines  look suspicious,

-             ` 547997    667:	if xl.isObject(bucket, object) {`
-             ` 807708    563:			pErr := xl.prepareFile(minioMetaTmpBucket, tempErasureObj, curPartSize, onlineDisks, xlMeta.Erasure.BlockS

[2017-05-24 03:12] harshavardhana commented on #4345
Attaching a PDF will be better @hackintoshrao

[2017-05-24 03:36] hackintoshrao commented on #4345
- Mem profile with total size of allocations, since server is run with Cache 98% of mem allocations are happening from cache. We can dig further on how to optimize cache.
[xl1.pdf](https://github.com/minio/minio/files/1024292/xl1.pdf)

- Mem profile w.r.t number of allocations (with cache)
[xl2.pdf](https://github.com/minio/minio/files/1024318/xl2.pdf)

- Mem profile with total size of allocations

[2017-05-24 03:45] hackintoshrao commented on #4389
Have been profiling and able to see the hotspots around the current cache implementation https://github.com/minio/minio/issues/4345#issuecomment-303608727 . I can evaluate these libraries and see the extent to which it optimizes the overall resource consumption.

[2017-05-24 04:13] hackintoshrao commented on #4345
CPU profile,
- With Cache, Lot of CPU is being used by GC.
[cpu.pdf](https://github.com/minio/minio/files/1024350/cpu.pdf)

- With cache,
[cpu2.pdf](https://github.com/minio/minio/files/1024376/cpu2.pdf)

[2017-05-24 05:13] krishnasrinivas commented on #4389
@hackintoshrao no need to test the above two libraries, we'll have to write our own. The APIs by these libraries expose key/value SET/GET, we want streaming SET/GET.

[2017-05-24 05:15] krishnasrinivas commented on #4417
Cool, In that case the help message needs to be fixed.

[2017-05-24 05:18] krishnasrinivas commented on #4414
Oops! anyhow, I wanted to put it as @deekoder not @abperiasamy ... fixed it!

[2017-05-24 05:23] hackintoshrao commented on #4389
what is streaming GET/SET?

[2017-05-24 05:28] krishnasrinivas commented on #4389
check pkg/objcache/objcache.go:
[code]

notice that "value" here is a stream. (io.Reader and io.Writer)

[2017-05-24 05:30] harshavardhana commented on #4389
We need to writing a wrapper around these libraries or implement a sharded reusable cache implementation - current implementation has an issue because for two reasons

-  malloc() of size number of bytes, this is a slower operation in general. Say if you have a burst mode of PUT's coming in this can become slower and slower as the referenced memory keeps increasing. Putting pressure on GC.

[code]

[2017-05-24 05:59] krisis commented on #4415
@krishnasrinivas, please fill out our github PR template. It helps us to gather all the information relevant to the issue and provides better context. This issue doesn't convey much. E.g, I can't say if I am facing this issue as a user.

[2017-05-24 06:11] krisis commented on #4415
More information from slack conversation with @krishnasrinivas,

[2017-05-24 06:19] krisis commented on #4415
## Steps to reproduce
1. `mc cp /etc/lsb-release mygcs/krisis/with-prefix/obj1`, where `krisis` is the bucket.
2. `mc ls mygcs/krisis`

## Current output
[code]

## Expected output
[code]

[2017-05-24 06:19] krishnasrinivas commented on #4389
writing wrapper will not help will not fix the GC problem, it has to be built  like io-cache (glusterfs) i.e have pool of pages. Each object will be associated with list of pages that gets returned back to free-pool once this object is evicted from the cache. For new object to be cached we reuse the pages from the free-pool.

[2017-05-24 07:00] krisis commented on #4415
Following is a functional test to reproduce the issue,
[code]

[2017-05-24 07:41] krisis commented on #4411
@krishnasrinivas

Do you propose disabling the check only for GCS?

I prefer this option since it aligns with GCS API.

[2017-05-24 07:45] krisis commented on #4411
A simpler way to reproduce this issue,

1. `mc mb mygcs/mybucket`
2. `mc cp /etc/lsb-release mygcs/mybucket/obj1`
3. `mc cp /etc/lsb-release mygcs/mybucket/obj2`
4.  Run the following code.

[code]

[2017-05-24 09:07] dcharbonnier opened #4419 "tls: record overflow"
The more the links between the hosts are saturated, the more errors we get.
The client not using SSL possibility can be excluded, those url can not be discovered by a bot, one place on the code use those url), we spoke about it on slack, this error is probably an internal communication error.

We only use `curl -X PUT` on this case.

Version: 2017-05-19T14:31:07Z
Release-Tag: DEVELOPMENT.2017-05-1

[2017-05-24 10:08] vadmeste commented on #4408
I am referring to distributed Minio and not standalone.

If the user is providing self-signed certificates to each node in a cluster, the distributed setup won't boot unless each node has public certificates of all other nodes under `~/.minio/certs/CAs`.

So the issue is, if we forget to feed nodes with all public certificates, we won't get any meaningful error.

[2017-05-24 10:47] krisis commented on #4387
Sent a PR upstream - https://github.com/travis-ci/artifacts/pull/76.

[2017-05-24 11:27] vadmeste commented on #4416
First prototype: a working server encryption under FS with an aws sdk client, ETA: 24 May.

[2017-05-24 12:47] erikerlandson commented on #2965
@hackintoshrao any news on [this](https://github.com/minio/minio/issues/2965#issuecomment-299124716)?   Getting spark integrated with minio would be a huge win.

[2017-05-24 13:02] balamurugana commented on #4408
I referred a distributed setup with same `public.crt` and `private.key` files in all nodes.   Now I see two variant of running nodes
* same `public.crt` and `private.key` files in all nodes.
* different `public.crt` and `private.key` files in each (or some of) nodes.

In the second case, a server is trying to connect to rest of the servers where there could be certificate error.  We have two optio

[2017-05-24 13:40] vadmeste commented on #4408
[code]

I had to wait a little until I saw the above error. But it is not meaningful enough.

[2017-05-24 14:11] harshavardhana commented on #4411
No we can do this for every backend. i.e for our server backends like erasure code and fs we return empty listObjects response rather than an error.  In case of backends which do actually handle it such as GCS and S3 we can send it all the way to the remote site.

[2017-05-24 15:56] vadmeste commented on #4416
In server-side encryption mode, the client doesn't need to know anything to upload and download objects. It means that, if access/secret keys are compromised, all data will also be compromised. The developer can still use client side encryption to enforce his data protection strategy.

The most secure way that I see for the moment when using server-side encryption, is to avoid storing a plain vers

[2017-05-24 16:34] balamurugana commented on #4408
This issue is blocked on @abperiasamy

[2017-05-24 16:39] harshavardhana commented on #4416
@vadmeste there are three types of mechanisms here

 - http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html
 - http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html
 - http://docs.aws.amazon.com/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html

What we need to implement is SSE-C that is the last one in the list where custom provides the keys to de

[2017-05-24 18:27] vadmeste commented on #4416
yes @harshavardhana, SSE-S3 is more difficult to maintain its security. I'll stick with SSE-C as you suggested.

[2017-05-24 19:14] krishnasrinivas commented on #4341
@deekoder do you want to close this? @laktek can re-open it if it does not work as expected.

[2017-05-24 19:15] krishnasrinivas commented on #4378
@hackintoshrao he used https://github.com/intel-cloud/cosbench

[2017-05-24 19:17] krishnasrinivas commented on #4378
This issue can be mitigated by https://github.com/minio/minio/issues/4389

[2017-05-24 19:28] deekoder commented on #4417
ok then gr8.

[2017-05-24 19:45] nitisht commented on #4378
@hackintoshrao this blog post sums up the getting started process pretty well: http://www.ksingh.co.in/blog/2016/05/11/cosbench-cloud-object-storage-benchmarking-tool/

Note that the author in the post has used cosbench rc3, but that has some issues. So instead of rc3, use rc4.

[2017-05-24 19:46] nitisht commented on #4326
yes @deekoder will update the details on specific cases to @hackintoshrao

[2017-05-24 20:48] harshavardhana commented on #4417
Closing this.. as fixed in #4421

[2017-05-24 20:48] #4417 closed, assigned to poornas

[2017-05-24 22:27] SaimonL opened #4423 "Can't create a subfolder in a bucket using the web interface."
Can't create a subfolder in a bucket using the web interface.

[2017-05-24 22:28] harshavardhana commented on #4423
Please follow the issue template @SaimonL - we cannot understand what is needed and what is not working if you don't provide us basic information.

It helps us triage internally.

[2017-05-24 23:16] deekoder commented on #4423
I think this is by design @SaimonL

[2017-05-24 23:34] krishnasrinivas commented on #4391
There is a better way to authenticate for an application like minio.

When users want to deploy minio gateway on VMs or using docker containers we can't expect them to do "gloud init" the deployment would have to be automated/scriptable.

https://cloud.google.com/storage/docs/authentication the section `Other Environments` points to https://developers.google.com/identity/protocols/application-defa

[2017-05-24 23:40] nitisht commented on #4391
This is an example: https://gist.github.com/NitishT/ae31e00695788f55f498c5534b35c29f#run-gcs-gateway-on-docker

[2017-05-24 23:50] deekoder commented on #4348
I press ctrl+c usually for getting my prompt back.  Usually servers just say "Exiting" and give me back the terminal prompt. This message shows after i got back my prompt. So  no need to tell me anything more please go ahead and shutdown gracefully.  If the prompt is not released then you can tell user please do Ctrl+C again.  Thats how i am used to server behaviors on macOS.

[2017-05-24 23:59] krishnasrinivas commented on #4391
@NitishT ah cool, you had figured it out. For the GCS document for community we can write the document not requiring them to install google cloud sdk and generate using `gcloud beta auth application-default login` instead we can provide instructions on how to generate credentials.json from the google cloud console UI. It will be easier.

[2017-05-25 00:02] krishnasrinivas commented on #4348
If you are getting the message after the prompt then it's a bug.

[2017-05-25 00:11] nitisht commented on #4391
Yes, just the `projectid` is required and user should login using `gcloud beta auth application-default login` and set the `GOOGLE_APPLICATION_CREDENTIALS`.

[2017-05-25 00:12] nitisht commented on #4333
Discussion in #4391 needs to be added in the docs.

[2017-05-25 00:23] krishnasrinivas commented on #4391
@NitishT I meant it's better to provide instructions to generate credentials.json from GCS web console, not `gcloud login` as users don't have to install gcloud to generate credentials.json

[2017-05-25 00:38] nitisht commented on #4391
ahh I see @krishnasrinivas agreed. We can probably have both the ways mentioned in the doc.

[2017-05-25 07:14] hackintoshrao commented on #2965
@erikerlandson : Will take this up next on the list, will validate it in couple of days and get back.

[2017-05-25 07:59] rsoutar opened #4429 "goroutine running on other thread; stack unavailable while uploading via S3v4"
I got an issue with minio when running 12 disks with 1 node. I have upload a files to minio using S3 api. I kept crashing daily.
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context
error

goroutine 29074998 [running]:
goroutine running on other thread; stack unavailable
created by github.com/minio/minio/cmd.xlObjects.deleteObje

[2017-05-25 08:01] rsoutar commented on #4429
I've run dd to see disk performance.
`sudo dd if=/dev/zero of=bigfile bs=1M count=1024 oflag=direct`
`1024+0 records in
1024+0 records out
1073741824 bytes (1.1 GB, 1.0 GiB) copied, 7.34869 s, 146 MB/s`

[2017-05-25 09:31] vadmeste commented on #4348
@deekoder, I guess you tested `mc admin service restart` command before pressing Control-C. In that case, minio becomes unattached from the terminal input. I'll see what I can do.

[2017-05-25 10:16] vadmeste commented on #4393
This can be closed now.

[2017-05-25 11:17] krisis commented on #4411
@krishnasrinivas @harshavardhana I will remove the `hasPrefix` check from `ListObjectsV1` method of gateway handlers. This moves the validation to the respective gateway backends (like azure, gcs, s3). Does this make sense?

[2017-05-25 14:02] deekoder commented on #4348
@vadmeste i sent PR for this, can you help verify it?

[2017-05-25 14:56] harshavardhana commented on #4393
Closing as fixed in #4412

[2017-05-25 14:56] #4393 closed, assigned to vadmeste

[2017-05-25 14:59] harshavardhana commented on #4429
Do you have the entire stack @rsoutar ?

[2017-05-25 16:24] nitisht opened #4432 "Minio-Java test fail on GCS branch"
## Expected Behavior
Java Functional Tests should pass

## Current Behavior
Test `removeObject_test2` failed with

[code]

## Steps to Reproduce (for bugs)
Run Minio Java functional test on Gateway

## Context
GCS branch testing

## Your Environment
macOS

[2017-05-25 16:27] nitisht commented on #4432
Looks like this is a minio-java bug, there is a PR for this https://github.com/minio/minio-java/pull/581

Will test with this PR.

[2017-05-25 16:28] nitisht commented on #4371
Did a demo with Terraform. Need to explore other options before we finalize on a solution. Will come up with other options by 26 May.

[2017-05-25 16:30] rsoutar commented on #4429
Do you mean about the log?

I only have what I got there. Been running minio using screen.

[2017-05-25 16:32] harshavardhana commented on #4429
what was the exact operation that you were performing? @rsoutar it looks like you were deleting objects if you have a script or tool that you were using this with please let us know.

[2017-05-25 16:46] rsoutar commented on #4429
We have php to convert mp4 to HLS format and upload it to minio which contains around 60-70 small files at a time. There's no delete operation on minio.

[2017-05-25 16:56] deekoder commented on #4411
Need to discuss.

[2017-05-25 16:57] harshavardhana commented on #4429
@rsoutar without any delete operations, deleteObject() is never invoked. But stack is clearly mentioning that. I wonder if you do have any rouge process which is doing this.

[code]

Can you share the directory hierarchy with us?

[2017-05-25 17:03] rsoutar commented on #4429
It's [bucket] / Moviename / quality (ie, 360p) / media / files

mello-series/becc-dr-008-0005/360p/5922942f94dcbf000c36a6b6/output.m3u8

[2017-05-25 17:07] deekoder commented on #4241
@deekoder check if this needs to be closed.

[2017-05-25 17:08] deekoder commented on #4313
Form validation is slated to come with the new UX.

[2017-05-25 17:11] deekoder commented on #4341
Please reopen if you think this issue has not been addressed.

[2017-05-25 17:11] #4341 closed, assigned to krishnasrinivas

[2017-05-25 17:26] deekoder commented on #4419
Can't reproduce this. @dcharbonnier  can you help us with how to repro this issue.

[2017-05-25 17:30] deekoder commented on #4372
We are working on integrating with systems which have user management (ldap/AD/kerberos). It's in our roadmap. Closing this issue.

[2017-05-25 17:30] #4372 closed, assigned to harshavardhana

[2017-05-25 21:10] harshavardhana commented on #4354
[code]

vadmeste [12:49 PM]
minioA is disk 1 @pbruna? what about the two other disks ?

pbruna [12:50 PM]
second disk

[12:50]
[code]

[12:51]
third disk
[code]

[code]

Copying from the #general discussion.

[2017-05-25 21:36] deekoder commented on #4283
May be a duplicate of an issue @krishnasrinivas may be working on. Please check and help resolve accordingly.

[2017-05-25 23:28] donatello commented on #4279
Following these steps for logging into gcs:

[code]

Any access credentials work!

I am not sure if this is intended behaviour atm.

[2017-05-25 23:44] poornas commented on #4317
@deekoder, This is duplicate of  #4417, and was fixed by #4421 . Basically profile is not supported and has been removed from gateway startup options

[2017-05-25 23:47] donatello commented on #4279
After some discussion with team:

1. Env creds to minio server are for terminating S3 API requests at Minio server.
2. Credentials for gcs are picked up from the gcloud config directory.

This issue can be closed - the gateway gives access denied error if an invalid project id is provided.

It is fixed now.

[2017-05-25 23:51] harshavardhana commented on #4279
Closing this as confirmed, access denied is returned.

[2017-05-25 23:51] #4279 closed, assigned to donatello

[2017-05-26 00:10] donatello commented on #4391
The gcs gateway works even when `GOOGLE_APPLICATION_CREDENTIALS` is not set - by looking up some local configuration files. These files are created via `gcloud` commands. Since this also is a way to get it to work, we need to document both.

[2017-05-26 01:19] Yurmusp opened #4434 "Head request on existing folder in a bucket returns 404"
Head request on existing folder  in root of a bucket returns 404.
While it shall return 200 or may be other code that confirms existence of a folder.
Bucket rights are rw/public.

I use django-minio-storage with Django
and try to subsitute S3 for local testing.
Our existing code fails with issue caused by above.
I debugged an digged and found that minio returns 404 error code
where it shall return

[2017-05-26 01:23] harshavardhana commented on #4434
This is expected @Yurmusp and as per design, there is no directory concept on Minio. You should not perform a HeadObject() without specifying a right object name.

[2017-05-26 01:24] Yurmusp commented on #4434
So, if somebody needs  to check if folder exists, how he shall do it?

[2017-05-26 01:36] harshavardhana commented on #4434
You don't need to there is no such concept as directories, they are just prefix. They don't exist independently of objects.  You can just upload with the path directly.  Minio is a flat namespace and not a POSIX filesystem - conceptually there are no directories, only prefixes exist - which only exist because they have an object associated with it.

A good way to avoid these things and be optimal

[2017-05-26 01:38] Yurmusp commented on #4434
Hmm, I see.

[2017-05-26 01:43] harshavardhana commented on #4434
@Yurmusp btw have you looked at https://github.com/maddevsio/django_minio ?

[2017-05-26 01:44] Yurmusp commented on #4434
Yes. It is much less functional than the one I use. It only saves it. I already checked it. Thank you for suggestion.

[2017-05-26 02:12] deekoder commented on #4432
ok

[2017-05-26 02:57] deekoder commented on #4434
Thank @Yurmusp  we will close this issue then.

[2017-05-26 02:57] #4434 closed, assigned to harshavardhana

[2017-05-26 07:57] alphaqiu opened #4436 "How to using HTTPS for distributed mode?"
Sorry about open a issue about how to using HTTPS for distributed mode.

Im trying generate the private.key and public.crt, but, when starting all nodes, the all waiting for another. So it cause all nodes waiting and waiting. Please help me to guide how to do that with HTTPS. thanks.

[2017-05-26 10:07] vadmeste commented on #4436
@alphaqiu, I think there is a missing error message that is not shown in your case.

If you generated self-signed certificates, then you will need to put all generated public certificates (public.crt) in .minio/certs/CAs/ directory of all nodes.

Keep us updated.

[2017-05-26 10:52] alphaqiu commented on #4436
It`s working now!
I reviewed the doc and found it!

Thank you @vadmeste :)

[code]

[2017-05-26 11:00] alphaqiu commented on #4436
@vadmeste And how can i scale out a node dynamiclly? It looks like no way to do that. So when a tenant setuped, it just can be increase physical disk space e.g. lvm. Do i understand this right?

[2017-05-26 11:05] vadmeste commented on #4436
yes @alphaqiu, that's right.

[2017-05-26 15:32] deekoder commented on #4241
FIxed.

[2017-05-26 15:32] #4241 closed, assigned to deekoder

[2017-05-26 17:10] vadmeste commented on #4436
@harshavardhana, this one is duplicated to https://github.com/minio/minio/issues/4408

[2017-05-26 17:17] harshavardhana commented on #4436
Closing as duplicate of #4408 . The error message to be printed when server is not configured properly.

[2017-05-26 17:17] #4436 closed, assigned to vadmeste

[2017-05-26 19:21] deekoder opened #4437 "ecosystem: Minio does not support encoding of : in the path names of objects on windows."
Cloudberry creates a file structure with ":" character in the path name of the object
":" is not allowed on windows file systems. Minio doesn't try to encode and tries to be native to avoid any custom data format.

## Expected Behavior
 Decide how to handle this

## Current Behavior
 Not handling : in path names on windows.

## Possible Solution

## Steps to Reproduce (for bugs)

## Context
This i

[2017-05-26 19:22] deekoder commented on #4437
Blocked on further discussions.

[2017-05-26 21:04] deekoder commented on #4398
@seafoodbuffet would you be able to come to our slack channel? You can invite yourself  at slack.minio.io

[2017-05-26 22:10] krishnasrinivas commented on #4398
You can take backup from S3 (minio) to local-disk too.

It is advised not to touch the backend Filesystem when minio is doing IO.

[2017-05-26 22:11] vadmeste commented on #4228
It does make sense for me if --quiet will be able to disable console log, not only to resolve this issue but it seems it is a natural thing to do.

[2017-05-27 01:09] #4316 closed, assigned to vadmeste

[2017-05-27 06:38] nitisht commented on #4363
Discussed with @abperiasamy, we'll add default values for all the fields to make one click install work out of the box. Minio universe package advanced installation section will be changed as per the layout below -

[This is only for standalone mode, further fields will be added for distributed and gateway modes]

[code]

Discussed with @krisis as well. We're on the same page now.

[2017-05-27 06:41] nitisht commented on #4363
@deekoder it can be unblocked now

[2017-05-27 06:44] sonemaro commented on #3624
As @krishnasrinivas said you can get Iterator and remove them one by one or all with `deleteObjects` method
[code]

[2017-05-29 06:46] nitisht opened #4439 "Fix helm/universe Minio icons"
## Expected Behavior
Minio logo should be rendered properly.

## Current Behavior
- Minio logo in DC/OS universe package is good quality. Needs to be reviewed and fixed.
-- https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/M/minio/5/resource.json#L3-L5
- Minio logo in K8S helm package is not rendered
-- https://kubeapps.com/charts/stable/minio
-- https://github.com/kubernetes/c

[2017-05-29 07:12] nitisht opened #4440 "Fix StorageClass in Kubernetes examples and Helm package"
## Expected Behavior
Kubernetes examples `.yaml` files and Helm package should work on local clusters (non cloud-provider setup)

## Current Behavior
Minio not launching on local k8s clusters

## Possible Solution
Helm package and `.yaml` file examples should work seamlessly on local k8s clusters. Fix `StorageClass`.

## Context
Minio on Kubernetes

## Your Environment

* Version used (`minio vers

[2017-05-29 07:17] kesavkolla commented on #4440
I'm using Kuberentes 1.6.4 local cluster with a Persistent Volume created.  The Persistent Volume is configured to use hostPath for local mounts.  The helm installation get's stcuk with exception of
`
 SchedulerPredicates failed due to PersistentVolumeClaim is not bound
`

I'm using minio chart version of `0.1.1`

[2017-05-29 07:27] nitisht commented on #4440
@kesavkolla how is your Kubernetes cluster configured - how many nodes, which OS?

[2017-05-29 07:29] kesavkolla commented on #4440
My kuberentes cluster is configured with two nodes.  One node runs master and another node is a worker node.  The master node is tainted so it can also provision pods.

Host OS is Ubuntu

[2017-05-29 07:32] nitisht commented on #4440
Thanks @kesavkolla

[2017-05-29 16:38] beniwtv commented on #3800
This might be a good solution for the provided Docker images of minio, but I think this has it's issues for other environments, that might not use Docker Compose with Docker health checks.

If you do not use the Docker image, you will have to set things up manually, which may lead to problems people are not aware of - like secure storage of the credentials and such.

We use Consul and Nomad in our

[2017-05-29 18:44] harshavardhana commented on #4437
This is unblocked after discussing with @abperiasamy .

- Minio will not do that special encoding and path translation. While it can be done it can cause incompatibilities across other clients when special encoding is used.

   - Lets say `:` is encoded and written as `%2B`  and written successfully.
   - Another client uploads a file with `%2B` already encoded on the path, in this case we will

[2017-05-29 18:45] harshavardhana commented on #4437
Will communicate back to CBB folks with this suggestion.

[2017-05-30 14:07] vadmeste commented on #4283
Unable to upload a 5 gigabytes file. Most likely related to this issue but we need to check after this issue is fixed.

[2017-05-30 16:23] fwessels commented on #4429
Please change title to "Error while deleting object"

("goroutine running on other thread; stack unavailable" simply means that the runtime goroutine that is "dumping" the state is not able to print the stack for goroutines that are running on other threads due to not being able to access the stack of that particular thread. So it has nothing to do with being out of memory or something).

[2017-05-30 16:34] deekoder commented on #4354
This may be a different bug from the original one. Because xl.json and parts are empty. Need additional info from @harshavardhana on if they are the same issue.

[2017-05-30 16:42] deekoder commented on #4313
@deekoder check repro steps and see if this is still an issue.

[2017-05-30 16:53] harshavardhana commented on #4354
Actually its the same issue @deekoder even with `xl.json` being empty the listObjects() only tries to read StatInfo of the xl.json without validating the version part of the `xl.json`.

[2017-05-30 16:55] krishnasrinivas commented on #4411
for ListV1, in the response we will set marker as the continuation token returned by GCS just like how we do today, but with small change, we'll prefix the token with ##minio
This way if the client sends a marker with this prefix we know that we need to use it as token for GCS List
If the marker does not have ##minio prefix we'll List the GCS from the beginning and wait till we reach the marker so

[2017-05-30 16:56] #4380 closed, assigned to vadmeste

[2017-05-30 16:57] #4317 closed, assigned to poornas

[2017-05-30 17:19] fwessels commented on #4388
Things to sort out:
- [ ] performance impact of writing with O_SYNC
- [ ] Figure out how "fingerprint" the contents of xl.json to detect external tampering of xl.json

[2017-05-30 17:28] fwessels commented on #4429
@rsoutar we are looking into the issue, and we have a couple of questions:
- are you doing the upload of the individual files (70 to 80) per movie in parallel or sequentially?
- are you uploading multiple movies in parallel?
- is there more call stack? Ie did you scroll upwards or just copied the output of the visible part of the screen?

[2017-05-30 17:42] deekoder commented on #4419
Error messages
![error_msgs](https://cloud.githubusercontent.com/assets/1700901/26596807/d35153da-4524-11e7-9cff-2569d9555356.png)

[2017-05-30 19:38] donatello opened #4449 "[gateway-gcs] Not validating given project id at start up leads to weird client error"
When given an invalid project id, minio gcs gateway just starts up without any validation.

When a client makes a request, errors are returned by server that do not reflect the problem.

Bug surfaced while debugging https://github.com/minio/mc/issues/2162

## Expected Behavior

Options below:

1. Gateway at startup should do some request to check that the backend is reachable, valid and working fi

[2017-05-30 19:47] krishnasrinivas commented on #4348
https://github.com/minio/minio/pull/4428 PR addressing this issue

[2017-05-30 20:02] harshavardhana commented on #4449
This we need to anycase @donatello - we are not doing this right now.

[2017-05-30 23:23] deekoder opened #4450 "Show staggered help message when minio gateway is typed."
Right now we show the same help message at various command levels. Instead show appropriate levels of messaging for minio, minio gateway, minio server, minio gatway azure, minio gateway gcs etc.

[2017-05-30 23:29] vadmeste opened #4451 "Unable to create a bucket with two Minio instances (4 disks) + self-signed certificates"
It is a weird behavior and I could be missing something but I was not able to create a bucket in my two Minio instances when https is enabled. It works if I disable https. I saw that the code is blocked in bucket  namespace lock (https://github.com/minio/minio/blob/master/cmd/bucket-handlers.go#L388)

It is important to test first and see if you can reproduce it.

## Expected Behavior
To be able t

[2017-05-30 23:47] harshavardhana commented on #4451
How did you generate self signed certificates?

[2017-05-30 23:51] harshavardhana commented on #4451
I am able to run this successfully

[code]

[code]

[code]

[2017-05-30 23:55] harshavardhana commented on #4451
Changed the `http://` for remote disks to `https://`

[code]

This also works @vadmeste .  what is the running port @vadmeste for you?

[2017-05-31 03:02] harshavardhana commented on #4419
[code]

The error is originated in two conditions here..

First
[code]

Second
[code]

It is safe to say looking at the code that first condition didn't happen since we do not have the additional message about the oversized record.

[code]

What can be inferred is the the second condition is what is happening in this scenario.

So in such a scenario we can see that 16k is the maximum allowed plain

[2017-05-31 03:05] #4292 closed, assigned to krishnasrinivas

[2017-05-31 10:27] vadmeste commented on #4451
I am testing with m{1..3} servers and not with localhost. I am really seeing this issue. So after cluster initialization, I am not to able to create a bucket. I added some log in the code and as I said, the server is blocking in one lock call. I was not able to reproduce with docker.

[2017-05-31 11:58] vadmeste commented on #4451
OKay, I've finally understood it.

I enabled DSYNC_LOG (export DSYNC_LOG=1), dsync client was calling rpc of the same local server. The following is the dysnc log:
[code]

I wasn't putting the public certificate of the local server under ~/.minio/certs/CAs/ which is quite unusual to do.

I think it is better if we make the server loads server's public certificate for client connections.

[2017-05-31 14:08] seafoodbuffet commented on #4398
To update this issue, I exchanged messages with @krishnasrinivas and here's some conclusions.

1. In general it is NOT safe to access the backend file system when minio could be doing I/O
2. This is doubly true for setups using distributed / erasure coding since consistency across nodes/disks is a huge issue.
3. What we'll likely end up doing for backup is using `mc `mirror` to put a copy of the o

[2017-05-31 14:08] #4398 closed, assigned to harshavardhana

[2017-05-31 14:25] harshavardhana commented on #4451
How did you create certs ? Is your domain part of your cert generation ?

[2017-05-31 14:27] vadmeste commented on #4451
[code]

[2017-05-31 14:28] vadmeste commented on #4451
I generated several certs with the following domain names: minio2, minio3 and I tested using m2 and m3 servers.

[2017-05-31 14:30] harshavardhana commented on #4451
Yeah if you didn't put the public.crt in the CAs then you need to have insecureSkipVerify on @vadmeste . So I would say it's a setup issue.

But we should fail early on in this scenario do know how the initial connection worked / got established .

[2017-05-31 14:39] vadmeste commented on #4451
Let me repeat my point.

To correctly have this setup working (especially for dsync to work), we need to put public certificates of *all* nodes in CAs/ directory, the thing that wasn't obvious even for me. When I tested, I put public certificates of all *other* nodes in .minio/certs/CAs and I excluded the public certificate of the current node because it already exists in ~/.minio/certs/

Does thi

[2017-05-31 14:44] harshavardhana commented on #4451
Yes it doesn't because that would make it an inconsistent setup. When there is n-n connection we shouldn't think like that.

In any case we need to error out early on.

[2017-05-31 16:22] #4232 closed, assigned to donatello

[2017-05-31 17:04] deekoder commented on #4451
If this is a user error please advise.

[2017-05-31 17:05] deekoder commented on #4449
@vadmeste  did you already not fix this ?

[2017-05-31 17:07] harshavardhana commented on #4451
It is a user error, but we are not validating the environment properly - in-fact we end up starting the server but fail later.

[2017-05-31 18:20] donatello opened #4452 "[security] Disable HTTP to HTTPS redirection in Minio server"
Detailed context about the issue is here - https://github.com/minio/minio/pull/4445#issuecomment-305020726

If the server redirects HTTP to HTTPS, the client never realizes that the initial request is being sent out on the internet in the clear. In this case, there is a silent leaking of data. Parts of the initial request including headers may be sent in the clear.

After further discussion with @

[2017-05-31 20:01] vadmeste commented on #4449
I sent a PR that only validates the project id format but not if the project id does really exist. I'll do that now.

[2017-06-01 01:18] deekoder commented on #4394
hi tim can you help describe what topics you would like to see in the docs and is details are missing.

[2017-06-01 02:42] deekoder opened #4456 "Update useragent string to indicate where minio was installed on"
This would be very helpful for debugging and supportability.

[2017-06-01 03:02] balamurugana commented on #4456
@deekoder does this mean you want below as user agent for all ReST replies?
[code]

If so, you could update the description properly.

[2017-06-01 03:14] krishnasrinivas commented on #4405
https://github.com/minio/minio/pull/4455 fixes this

[2017-06-01 03:17] krishnasrinivas commented on #4401
We decided to send empty result for GCS gateway

[2017-06-01 03:17] #4401 closed, assigned to krishnasrinivas

[2017-06-01 03:22] krishnasrinivas opened #4457 "[gateway] gateway implementations should have subcommand"
Current output of `minio gateway`:

[code]

s3/gcs/azure all are currently handled under gatewayMain()

we should fix it such that gatewayS3Main() gatewayAzureMain() gatewayGCSMain() handle each subcommand separately. That way arguments to each gateway is validated by it's own handler.

[2017-06-01 03:29] balamurugana commented on #4321
Background:
* GCS supports [ACLs](https://cloud.google.com/storage/docs/json_api/v1/objectAccessControls), not policy like Amazon AWS S3.
* Once ACLs are applied, it doesn't affect existing objects ie applied only objects those created after ACLs modifications.
* Using [DefaultObjectAccessControls](https://cloud.google.com/storage/docs/json_api/v1/defaultObjectAccessControls), its possible to cont

[2017-06-01 03:33] #4452 closed, assigned to donatello

[2017-06-01 03:38] krishnasrinivas commented on #4391
@donatello yes, I thought about it but it will be too confusing to give multiple options. Hence chose the most suitable option from minio's perspective. Typically users will deploy gateway in either VM or docker and not on their laptop/dekstops. Hence `GOOGLE_APPLICATION_CREDENTIALS` based approach is suitable to deploy minio gateway.

But we can improve it when we fix https://github.com/minio/min

[2017-06-01 03:48] #4223 closed, assigned to krishnasrinivas

[2017-06-01 05:04] krishnasrinivas commented on #4389
@deekoder @abperiasamy asked to close this issue. We can open this issue if performance becomes really a problem and we need to have mem pool based caching.

[2017-06-01 11:09] rsoutar commented on #4429
@fwessels Yes. We upload individual files in parallel.

I do not have more call stack due to I ran minio using screen. I cannot scroll up. If it ways to run minio and have a separate log file?

[2017-06-01 15:18] #4397 closed, assigned to poornas

[2017-06-01 15:45] dreh23 opened #4458 "Policies are not shared between all instances of minio"
Problem:
Bucket policy is just set to one instance

Expected:
Shared state of policy.

Environment:
We are running a nomad/consul cluster with 3 docker instances of minio:latest and a fabio load balancer. All minio instances mount the same storage endpoint into the container. The load balancers are using round robin to route to minio and are set as a TLS endpoint.

If I change bucket policy to pub

[2017-06-01 16:44] harshavardhana commented on #4024
Closing this as fixed..

[2017-06-01 16:44] #4024 closed, assigned to nobody

[2017-06-01 17:10] #4348 closed, assigned to harshavardhana

[2017-06-01 20:36] poornas opened #4460 "Browser support needed for GCS as well"
Accessing policy preferences on browser uses object layer instead of gateway layer for GCS. The changes made for Azure and S3 need to be replicated for GCS as well.
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

When accessing policy preferences on browser for GCS,  "invalid bucket name" error is displayed because the .mi

[2017-06-01 20:59] #4354 closed, assigned to fwessels

[2017-06-01 21:03] #4414 closed, assigned to nitisht

[2017-06-01 21:14] #4389 closed, assigned to krishnasrinivas

[2017-06-01 22:02] deekoder commented on #4458
Yes this seems to be a bug. Could you restart the instances for now as a workaround till we fix this issue.

[2017-06-01 22:23] deekoder commented on #4423
Closing this as this behavior is Minio compatible. Please reopen if you think this needs to be addressed.

[2017-06-01 22:23] #4423 closed, assigned to krisis

[2017-06-01 23:30] harshavardhana opened #4461 "Rare test failure in TestListenAndServeTLS"
[code]

## Expected Behavior
Tests do not fail and are predictable.

## Current Behavior
Can hang sometimes..

## Possible Solution
No idea.

## Steps to Reproduce (for bugs)
Do not know its pretty rare.

## Context
Tests should complete faster and quicker.

## Your Environment
Current master.

[2017-06-02 10:06] flo82 opened #4464 "error "Unable to list objects." in minio gateway mode using azure s3 blob storage"
I started using minio in gateway mode as described [here](https://github.com/minio/minio/tree/master/docs/gateway)

it starts correctly, but i can't access the frontend because an error ist displayed.

## Expected Behavior

no error - expecting a login screen

## Current Behavior

frontend error:

[code]
backend error:
[code]
## Possible Solution

no idea

## Steps to Reproduce (for bugs)
[code]
N

[2017-06-02 10:26] vadmeste commented on #4464
@flo82, browser support for gateways is only supported in master. You can use 'minio/minio:edge' docker image. Also, you need to set MINIO_BROWSER to `on`.

So you have to run this command for now:
`docker run -p 9000:9000 --name azure-s3  -e "MINIO_BROWSER=on" -e "MINIO_ACCESS_KEY=AAA"  -e "MINIO_SECRET_KEY=BBB"  minio/minio:edge gateway azure`

[2017-06-02 10:42] flo82 commented on #4464
works perfectly @vadmeste
it would be helpful to see these configuration requirements documented [here](https://github.com/minio/minio/tree/master/docs/gateway)
for me the issue is resolved - i'm leaving it open so that you can decide how to deal with it.
thank you for the fast help :-)

[2017-06-02 16:56] deekoder commented on #4464
Since we will merge all of this eventually in one branch, this is a short term pain point.

[2017-06-02 16:56] #4464 closed, assigned to nobody

[2017-06-02 16:58] vadmeste commented on #4464
@deekoder, there is no indication in the documentation that the user needs to set MINIO_BROWSER to 'on' if he wants to enable Minio Browser, shall we add it or it will change in the near feature ?

[2017-06-02 17:00] harshavardhana commented on #4464
Minio browser works without setting MINIO_BROWSEr=on .. @vadmeste

[2017-06-02 17:01] vadmeste commented on #4464
Not when I tested. Let me check again.

[2017-06-02 17:07] harshavardhana commented on #4464
That's what i assumed too but it works without doing anything special. Just tested with Azure and S3 backend. GCS is also working fine in the feature-gcs branch.

[2017-06-02 17:25] vadmeste commented on #4464
Yes, you are right. I guess it is some browser caching issue when I tested.

[2017-06-02 17:37] fwessels commented on #4429
@rsoutar thanks for the info.

Given the fact that you are uploading in parallel, it may be the case that we are hitting the max number of OS threads (defaults to 10000) and you would see something like this in the top of your error dump:
[code]

We may enhance some design aspects so as to avoid unnecessary creation of OS threads, but it would be good to know if (in your case) you are hitting this

[2017-06-02 18:19] donatello commented on #4451
In #4465, an attempt to fix this issue is present - we eliminate the problem of making the CA cert of the server as a trusted root certificate on that server. The lock RPC is refactored in this change so that when making local requests it skips using the network.

@vadmeste - could you help test that change?

[2017-06-02 20:47] krishnasrinivas commented on #4283
@deekoder I am not working on this. This is `high-priority`

[2017-06-02 21:16] deekoder commented on #4269
Reopening this issue. Since in testing release candidate user can still enter values in presigned URL invalid hours. We decided to disable user input and allow using the arrows. But this should not be confused with adding form validation. As an intermediate we decided to disable user input till the new ux addresses this comprehensively.

[2017-06-02 21:40] #4269 closed, assigned to rushenn

[2017-06-02 22:41] deekoder opened #4468 "Server is unreachable message"
installed latest minio.exe on windows and got this error.
## Expected Behavior
Everything should work.

## Current Behavior
[code]

## Possible Solution
Don't know

## Steps to Reproduce (for bugs)

1. Install ec2 machine with windows server
2. Install minio master latest
3. try logging in via minio browser or mc

## Context
Cant access minio or my data

## Your Environment

* Version used (`minio

[2017-06-02 23:03] deekoder commented on #4468
![unreachable1](https://cloud.githubusercontent.com/assets/1700901/26747771/9dd50e98-47e7-11e7-9792-27f40915416f.PNG)

[2017-06-03 00:26] #4468 closed, assigned to nobody

[2017-06-03 00:28] deekoder opened #4470 "Secret key is really long."
On starting minio server. Secret key in latest master branch is extremely long making it very hard to use.

## Expected Behavior
Not have 100 char secret key.

## Current Behavior
 eg: D2/a3Bs5HApwmzvntgMbKtZyOauiaT1I+gK2ch1IIvz1g6bZ7DdzrMvlkf6rtu/MSUQihSLevB0XhX9K3OijIWDQdVx0/4/HU8tf

## Possible Solution
 Trim length

## Steps to Reproduce (for bugs)
1. Start Minio Server.

## Context
On windows

[2017-06-03 15:10] nitisht commented on #4439
Sent PR for Kubernetes logo: https://github.com/kubernetes/charts/pull/1233

[2017-06-04 16:00] kulraj-gurm commented on #3971
Unable to create two instances as per your recommendation

[code]
I have two physical locations
/dev/ada0d
/dev/ada1b

mounted as /bkup1 and /bkup2

no matter what I try only one of these is available to minio at a time.

[2017-06-05 09:29] matrixik commented on #3939
UPX on Go binaries is not working now: https://github.com/golang/go/issues/16706

[2017-06-05 14:05] pinepain commented on #3892
With AWS PHP SDK v3 adding `'use_path_style_endpoint' => true` to client args should help

E.g.:

[code]

Source:  http://docs.aws.amazon.com/aws-sdk-php/v3/api/class-Aws.S3.S3Client.html#___construct

[2017-06-05 14:14] pinepain commented on #3892
@harshavardhana Thanks for the best tool! Could we add a brief how-to about PHP AWS SDK configuration with minio  to Cookboks docs section please? The example above should help a lot to newcomers and will help spreading mino idea.

[2017-06-05 14:33] harshavardhana commented on #3939
Looks like something happened between 1.7 and 1.8 it's regression. It works with our current release btw which is built with 1.7.5

[2017-06-05 14:53] harshavardhana commented on #3892
https://docs.minio.io/docs/how-to-use-aws-sdk-for-php-with-minio-server the AWS PHP docs have been updated.

[2017-06-05 14:56] harshavardhana commented on #3971
Init scripts are only meant for starting single process. I don't see any other way other than manually copying the init script and starting it twice.

You would have to rename the current init script into two files. Such as minio1 and minio2 ..with respectively modifying the variables as well.

[2017-06-05 15:23] pinepain commented on #3892
Thanks!

[2017-06-05 18:56] fwessels commented on #4461
Browsing through the callstack I noticed some callstacks mentioning `appendParts` for `fsObjects` along with other non-related stuff, doing a quick analysis shows the following:
[code]

So clearly state of previous tests is still around which may well explain the rare nature with which this failure occurs. We should investigate which test cases are leaving state behind.

Running the `TestServerLis

[2017-06-05 19:25] #4451 closed, assigned to donatello

[2017-06-05 22:15] krishnasrinivas opened #4476 "Ctrl-C does not kill minio immediately"
In distributed-XL, upon Ctrl-C minio does not exit immediately when there are 0 active connections:

[code]

Also this behavior is not seen all the time.

[2017-06-05 22:17] harshavardhana commented on #4476
I am not able to reproduce this @krishnasrinivas is it consistent?

[2017-06-05 22:18] #4470 closed, assigned to harshavardhana

[2017-06-05 22:23] krishnasrinivas commented on #4476
@harshavardhana yes, i am able to reproduce this issue. Setup is dist-XL on the same machine.

[2017-06-05 23:10] harshavardhana commented on #4476
Are you trying to do Ctrl-C before the cluster is initialized or after?

[code]

Because i am able to run this approach fine all the time.

[2017-06-05 23:11] harshavardhana commented on #4476
[code]
My script.

[2017-06-05 23:53] harshavardhana opened #4477 "Creating docker swarm works sporadically"
Running docker in swarm works sporadically and is not consistent.

## Expected Behavior
Should work properly and initialize quickly - waits too long to get the server running.

## Current Behavior
[code]

## Possible Solution
No solution yet, writing `format.json` is slow.

## Steps to Reproduce (for bugs)
Create docker swarm network locally.

1. docker run --rm swarm create
2. docker run -d -p 23

[2017-06-05 23:55] harshavardhana commented on #4477
Works some times

[code]

[2017-06-06 00:01] fwessels opened #4478 "Unable to load all bucket policies"
Trying to set a policy after creating an object called policy.json causes minio server to not want to restart.
(and after upgrading format.json to V2 a different error message is shown.)

## Possible Solution
See further analysis below.

## Steps to Reproduce (for bugs)
[code]

If we are to upgrade to the newer version the migration itself is successful but then a corrupted backend (understandably

[2017-06-06 00:07] donatello opened #4479 "[gateway-s3] Browser download gives 0-byte file"
When accessing the browser interface for Minio server in gateway mode for S3 backend, clicking an object within any bucket downloads a 0-byte object.

## Expected Behavior

Download should return appropriate data.

## Current Behavior

Downloads a 0-byte file.

## Steps to Reproduce (for bugs)

1. Start Minio server in gateway mode for s3
2. Open Minio browser interface in your web-browser and log

[2017-06-06 00:12] harshavardhana commented on #4478
Yes @fwessels migration won't fix this issue automatically.  But i see that we should handle it.

[2017-06-06 00:16] fwessels commented on #4478
Correct, was not expecting migration to automatically fix this.
(Initially I though that the error happened due to migration of the format.json file but it already happened before it.)

[2017-06-06 00:41] harshavardhana commented on #4478
Sending a fix. @fwessels

[2017-06-06 00:43] krishnasrinivas opened #4480 "Server should start even if notification targets are down"
## Expected Behavior

Server should start even if notification targets are down

## Current Behavior

Server does not start. Put this in config.json

## Steps to Reproduce (for bugs)

[code]

and with out kafka server running, start minio:
[code]

[2017-06-06 00:47] harshavardhana commented on #4480
This is expected @krishnasrinivas only in case of webhook we start the server. Rest we are failing on purpose.

[2017-06-06 00:48] krishnasrinivas commented on #4480
I see, will close then

[2017-06-06 00:48] #4480 closed, assigned to nobody

[2017-06-06 01:04] donatello opened #4481 "[gateway-azure] curl to a bucket causes 500 internal error"
## Expected Behavior

curl should not cause 500 errors in the server.

## Current Behavior

curl causes 500 errors when accessing many urls in Azure gateway mode.

## Possible Solution

Improve validation.

## Steps to Reproduce (for bugs)

1. Start Minio in Azure gateway mode.
2. Use to make any request to a "bucket" url:
[code]
On server, we see an error log like:
[code]
3. On plain old Minio se

[2017-06-06 13:19] krisis opened #4484 "minio server fails to start if an object by name `policy.json` is present"
## Expected Behavior

minio server should start successfully, migrating the object (`policy.json`) correctly.

## Current Behavior

[code]
The backend after migration (and failure to start) looks like this.
[code]
## Possible Solution

Not known yet
## Steps to Reproduce (for bugs)

[use minio with version `99ddd35`]
1. `mc mb s1/test`
2. `mc cp /etc/lsb-release s1/test/policy.json`

[use minio ma

[2017-06-06 13:52] krisis opened #4485 "minio-gateway browser throws "Internal error" when one tries to add a nested bucket policy"
## Expected Behavior

Minio browser UX throws a user-friendly error message explaining what went wrong.
![minio-browser-policy](https://cloud.githubusercontent.com/assets/522593/26832495/30966e8c-4abf-11e7-99b7-abbab7915428.png)

## Current Behavior

While, Minio gateway browser UI returns the following error.
![minio-gateway-browser-policy](https://cloud.githubusercontent.com/assets/522593/268325

[2017-06-06 14:23] harshavardhana commented on #4484
Closing as duplicate of #4478

[2017-06-06 14:23] #4484 closed, assigned to nobody

[2017-06-06 18:52] donatello opened #4486 "Enhance storage/metadata version handling: prevent older minio versions from corrupting a newer minio's on-disk format"
This is to improve error messages when an older version of Minio server is run with a disk which has data in a newer format created by a newer version of Minio.

Currently, when running the release candidate binary in a data-disk on which:

1. `.minio.sys/format.json`-> `fs.version` is bumped up from 2 (current supported) to 3 (unknown future version), then we get start-up error:
[code]
2. `.minio

[2017-06-06 19:15] #4478 closed, assigned to harshavardhana

[2017-06-06 20:14] harshavardhana commented on #4461
[One more failure](https://github.com/minio/minio/files/1056267/log.txt)

[2017-06-06 20:41] deekoder opened #4487 "Minio browser does not load natively on windows"
Play site login screen is not showing up on IE.

## Expected Behavior
Expect to see login screen and for play to start working.

## Current Behavior
Spinning icon indicating loading. Minio browser hangs on IE.

## Possible Solution
 No clue. Inspect element showed no errors.
Same site works on Chrome.

## Steps to Reproduce (for bugs)
1. Launch aws instance with windows server 2016 ami
2. open IE,

[2017-06-06 20:54] fwessels commented on #4461
Callstack for new log file:
[code]

[2017-06-06 21:39] harshavardhana commented on #4461
appendParts is a go-routine which actively runs @fwessels, just like treeWalkPool(), signalTrap(), handleServiceSignals()

[2017-06-06 22:22] deekoder commented on #4206
Redundant now.

[2017-06-06 22:22] #4206 closed, assigned to nobody

[2017-06-06 22:31] jwilander opened #4489 "Missing support for S3 GovCloud endpoints"
## Expected Behavior
Minio recognizes S3 GovCloud region and endpoints as Amazon S3.

## Current Behavior
Minio does not recognize S3 GovCloud region and endpoints as Amazon S3.

## Possible Solution
Update this https://github.com/minio/minio-go/blob/master/pkg/s3utils/utils.go#L83

To something like this:
[code]

## Context
Prevents our customers from using GovCloud region/endpoints.

[2017-06-06 22:32] deekoder commented on #4394
Tim i am closing this issue. Please feel free to join us at https://minio.slack.com/ where we will be able to chat about any specific questions on how to use minio further (not already published on our docs). You will have to put your email address and invite yourself to join our channel.

[2017-06-06 22:32] #4394 closed, assigned to deekoder

[2017-06-06 22:42] deekoder commented on #4130
redundant.

[2017-06-06 22:42] #4130 closed, assigned to nobody

[2017-06-06 22:45] deekoder commented on #4229
redundant item now that we are working on mint.

[2017-06-06 22:45] #4229 closed, assigned to nobody

[2017-06-06 22:46] deekoder commented on #4489
Thanks for reporting this issue @jwilander. Will take a look and update here.

[2017-06-06 23:05] deekoder commented on #4291
Will be addressed via new test framework.

[2017-06-06 23:05] #4291 closed, assigned to nobody

[2017-06-06 23:41] krishnasrinivas opened #4492 "Disable usage/free stats for browser-gateway"
![miniobrowser](https://user-images.githubusercontent.com/634494/26856174-f82f498e-4ad6-11e7-9765-509c94c69df7.png)

Disable this when used minio is used as gateway.

[2017-06-07 00:02] krishnasrinivas opened #4493 "browser: share file expiration not changeable on IE"
The UP DOWN buttons are not clickable on Internet Explorer

![share-windows](https://user-images.githubusercontent.com/634494/26856652-e4ff884e-4ad9-11e7-85ea-1d2185e91014.png)

[2017-06-07 01:07] deekoder opened #4494 "Unable to peek into incoming protocol"
Sudden printing of these messages. Not really helpful for me as the user to figure out why this message shows up.

## Expected Behavior
Some indication of what caused it would be more insightful to consume for me as the user. Also they seem to always print in pairs.

## Current Behavior

## Possible Solution
Not print it ?

## Steps to Reproduce (for bugs)
 Unsure, it is printed often when the ser

[2017-06-07 01:08] deekoder commented on #4487
Minio latest works on IE as expected. We just have to update play.

[2017-06-07 01:08] #4487 closed, assigned to krishnasrinivas

[2017-06-07 01:19] #4479 closed, assigned to poornas

[2017-06-07 01:34] rushenn commented on #4493
@krishnasrinivas What is the IE version?

[2017-06-07 02:12] balamurugana commented on #4494
@deekoder Do you mean error message "Unable to peek into incoming protocol" is printed when minio server is running?

[2017-06-07 13:46] krisis commented on #4411
@krishnasrinivas The above solution allows S3-compatible applications to use `marker` as they would with Minio server or AWS S3. Applications using non-overlapping `marker` and `prefix` would continue to fail with `NotImplemented` error. We need to remove `hasPrefix` check from `ListObjectsV1Handler` in `gateway-handlers.go` to address this issue completely.

[2017-06-07 14:21] krisis commented on #4484
This issue is fixed by https://github.com/minio/minio/pull/4482 too.

[2017-06-07 14:41] harshavardhana commented on #4489
@jwilander https://github.com/minio/minio-go/pull/701 is it possible to validate on your end with mattermost?

[2017-06-07 16:00] terion-name opened #4496 "object acl implementation?"
Documentation says:

But bucket policies do not cover ObjectACL functionality at all. It is a common task to have public and private files in a single bucket.

Any plans of implementing this functionality, or recommended workarounds?

[2017-06-07 16:16] harshavardhana commented on #4496
We will not be implementing Object ACL's @terion-name - bucket policies are the right style to do this with a much more fine grained approach.

Bucket policies can be used to set policies on prefixes not just top level buckets where you can filter the necessary API calls as well say you can have prefixes like these

bucket/2017/outgoing -- can be set to allow calls like GetObject(), HeadObject() (

[2017-06-07 20:02] krishnasrinivas commented on #4493
@rushenn it was actually Edge browser on windows.

[2017-06-07 20:44] zerkms commented on #1259
What is the conclusion though?

Thanks.

[2017-06-07 21:03] harshavardhana commented on #1259
@zerkms here is the conclusion - https://github.com/minio/minio-service/tree/master/windows

[2017-06-07 22:06] vadmeste opened #4498 "[browser] Removing a bucket policy after an error popup doesn't have an effect"
## Expected Behavior
Removing a bucket policy *really* removes it.

## Current Behavior
Removing a bucket policy doesn't have an effect after an error popup

## Possible Solution
Don't know

## Steps to Reproduce (for bugs)

1. Start from fresh FS disk
2. Login into Minio Browser
3. Create a bucket
4. Show bucket policy popup
5. Add '*'  policy
6. Add 'foo' policy
7. Add '*' policy again
(an error

[2017-06-07 23:36] bugs181 commented on #3791
I can confirm that this fixed the issue for me. I apologize for the delay.

[2017-06-08 02:29] harshavardhana commented on #4476
This title needs to be changed, server indeed dies but dies after 10-15secs based on our ReadTimeout.  But has a sequence of steps to reproduce this issue. But there is also a situation where the timeout has happened then subsequently the server indeed exists properly.

https://github.com/minio/minio/pull/4500 is a related fix which exposed some other issue.

[2017-06-08 02:31] #4485 closed, assigned to poornas

[2017-06-08 09:41] krisis opened #4503 "gateway throws different error messages for invalid --address argument"
Gateway with invalid --address argument throws different failure messages in different runtime environments.

### Docker
[code]

### Host Operating System
[code]
## Expected Behavior

gateway should fail with the same error message for the same (class of) invalid argument supplied.
## Current Behavior

See issue description for more details.
## Possible Solution

Check for port in --address argume

[2017-06-08 09:41] krisis commented on #4503
@deekoder I am working on this.

[2017-06-08 11:15] krisis opened #4505 "TestInitListeners unit test failed on travis-ci"
Travis CI output
[code]
## Expected Behavior

Unit tests should pass
## Current Behavior

`TestInitListeners` unit test failed.

## Possible Solution

Not known yet
## Steps to Reproduce (for bugs)

1. Seen once on Travis CI - https://travis-ci.org/minio/minio/jobs/240720887
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.

[2017-06-08 11:56] taisph opened #4507 "GET ObjectAcl fails with "Not Implemented" on minio server"
I am using Laravel 5.3 Framework Filesystem with the AWS S3 driver and when I try to move or copy files, I get the error below from the minio server.
[code]

## Expected Behavior
I expect the file operation to be completed without errors as the Amazon S3 service would have.

## Current Behavior
Fails to move or copy the file or directory with error 500 Not Implemented.

## Steps to Reproduce (for

[2017-06-08 12:56] vadmeste commented on #4419
@dcharbonnier, don't you have any other error ? like i/o timeout.

[code]

The number of errors in your graph represents all minio errors or only `local error: tls: record overflow` ?

[2017-06-08 16:34] deekoder commented on #4507
We recommend using bucket policies over Object ACLs. We will send a patch upstream to Laravel project to do the same.

[2017-06-08 16:35] deekoder commented on #4507
Also Dup of #3892

[2017-06-08 16:57] deekoder commented on #4476
We need to revisit trapping ctrl+c signal for distributed minio. We have to handle this in admin api in the future.

[2017-06-08 17:30] tsmgeek opened #4510 "Cache coherency when using shared backend"
When running minio with a shared backend will the internal cache still check if the backend has a newer file that currently in the cache?

[2017-06-08 17:30] harshavardhana commented on #4510
There are no caches in shared backend @tsmgeek each i/o hits the backend.

[2017-06-08 17:31] deekoder commented on #4437
Closing this issue as explained above. This should not be handled in minio also because it will affect data liberation/migration later. So its best for the application to handle encoding strings. Please reopen this issue if you want to discuss further.

[2017-06-08 17:31] #4437 closed, assigned to deekoder

[2017-06-08 17:41] deekoder commented on #4226
Can't reproduce anymore.

[2017-06-08 17:41] #4226 closed, assigned to nobody

[2017-06-08 17:49] #4067 closed, assigned to nobody

[2017-06-08 17:52] deekoder commented on #4222
ETA: 2017-06-08 17:55

[2017-06-08 17:53] deekoder commented on #4456
ETA: 2017-06-08 EOD

[2017-06-08 18:04] krisis opened #4511 "In shared-fs mode upgrade may hang during migration"
## Expected Behavior
In share-fs mode upgrade may hang during migration, we need to provide a user actionable message.

## Current Behavior
In shared-fs mode upgrade may hang during migration - if other instances are running older version, we don't show user any actionable message.

## Possible Solution
Add a log message to indicate user that he needs to restart the other servers. If the `format.j

[2017-06-08 18:20] #4355 closed, assigned to krishnasrinivas

[2017-06-08 18:43] terion-name commented on #4496
@harshavardhana prefixes do not cover object acl. If I need to have two files — one private and one public in the same directory (example: user files `/user/{id}/files/...`, his avatar and his documents scans) - they  should be placed in one dir, but with different permissions. And now this is impossible to do

[2017-06-08 18:53] harshavardhana commented on #4496
You should structure your prefixes properly in that sense, where

[code]

From our end we are not going to implement Object ACLs anytime in near future.

[2017-06-08 20:22] terion-name commented on #4496
@harshavardhana hm. and what prefix should be for this case? The {id} is dynamic, obviously. Set a bucket policy for each user?

[2017-06-09 00:24] harshavardhana commented on #4496
It would be like this `/user/*/files/public/*`  in your bucket policy, for private you don't need since by default all objects are indeed private. Since the key regex is a flat key match should work properly for all users.

[code]

[code]

There are two types of key matches are allowed in bucket policies one is `*` and another is `?`

Now if you have this in your Resource
[code]
then the policies

[2017-06-09 01:59] harshavardhana commented on #4222
Fixed by #4513

[2017-06-09 02:00] harshavardhana commented on #4505
Fixed by #4508

[2017-06-09 02:00] #4505 closed, assigned to krisis

[2017-06-09 02:01] harshavardhana commented on #4503
Fixed by #4376

[2017-06-09 02:01] #4503 closed, assigned to krisis

[2017-06-09 02:04] harshavardhana commented on #4492
Fixed by #4497

[2017-06-09 02:04] #4492 closed, assigned to rushenn

[2017-06-09 02:11] harshavardhana commented on #4222
Re-opening since its partially fixed.. in #4513 @krishnasrinivas is sending another fix.

[2017-06-09 02:24] harshavardhana commented on #4222
It is indeed fixed and validated by @krishnasrinivas - closing.

[2017-06-09 02:24] #4222 closed, assigned to krishnasrinivas

[2017-06-09 06:28] #4450 closed, assigned to balamurugana

[2017-06-09 06:33] harshavardhana commented on #4461
We were able to reproduce this again

[code]

https://paste.ubuntu.com/24813753/ - re-opening.

[2017-06-09 08:25] taisph commented on #4507
FWIW, I opted for a quick-and-dirty solution by overriding the visibility fetch in the copy method of the `flysystem-aws-s3-v3` adapter that Laravel 5+ uses: https://github.com/Casalogic/flysystem-aws-s3-v3/blob/feature/override-visibility-on-copy/src/AwsS3Adapter.php#L402

They basically fetch the ACL of the object they want to copy in order to apply the same visibility on the destination object.

[2017-06-09 08:55] terion-name commented on #4496
@harshavardhana this is very important information you wrote here, thank you, but it can't be found in docs under policy section. Please, add this to the docs.

[2017-06-09 10:53] krisis opened #4517 "Minio hangs when run in shared-fs mode"
When Minio server is run in shared-fs mode like,
[code]
One of the above server instances hangs.

## Expected Behavior

Minio server instances when run in shared-fs mode shouldn't hang.

## Current Behavior

The second (or later) launched Minio server instances hangs indefinitely.

## Possible Solution

Not known yet.
## Steps to Reproduce (for bugs)

1. minio server --address ":9000" ~/dir
2. min

[2017-06-09 12:22] krisis commented on #4517
## Root cause analysis
The second (or subsequent) Minio server instances block trying to acquire a write lock (flock(3)) on format.json, since the running instance is holding a read lock for its lifetime. This read lock is to avoid future migrations (from format version 2 to 3 or later) while older Minio version is still operating on the shared filesystem. So, this read lock can't be simply remove

[2017-06-09 15:28] vadmeste opened #4518 "[distributed] Unable to pass a host name which resolves to 127.0.0.1 when running a Minio instance"
## Expected Behavior
Running one instance should work, we target distributed Minio.

## Current Behavior
Cannot run the instance, I have the following error:
[code]

In the same machine, minio1 is recognized and it points to 127.0.0.1

[code]

## Possible Solution
A workaround for the user is to make minio1 hostname points to a public and not to a local ip. However, I am not sure why we error out

[2017-06-09 15:38] harshavardhana commented on #4518
The case you are mentioning on the same node is addressed by you running Minio on separate ports and specifying them properly.

What you are essentially doing here is running standalone Erasure not distributed that's why it's not supported since you might be doing something wrong by specifing hosts rather than disks.

[2017-06-09 15:42] vadmeste commented on #4518
How standalone? I specified both minio1 and minio2 in arguments

[2017-06-09 15:49] balamurugana commented on #4518
@vadmeste

What setup type are you trying to do ie XL or DistXL?
DistXL requires non-loopback IPs of node(s) and XL requires either URL style endpoints pointing to local host or Path style endpoints.

[2017-06-09 16:02] vadmeste commented on #4518
I want DistXL. Two nodes minio1 and minio2, each node has two disks.
In my case, minio1 points to 127.0.0.1 and minio2 points to 65.x.x.x

Any reason for this requirement?

In all cases, the error message is not correct, it says `no endpoint found for this host` though it should say `a loop-back address should not be specified`

[2017-06-09 16:05] harshavardhana commented on #4518
This is not allowed @vadmeste while it is an acceptable case, it usually points to a wrongly configured DNS.  So we better fail.

[2017-06-09 16:15] balamurugana commented on #4518
Its cautious decision is not to support `127.x.x.x` where these endpoints have to be compared to validate the setup at rpc login.  Currently its not done yet.

They can be any IPs of local host.  Sorry for the confusion.

Yep. It can be improved.

[2017-06-09 16:31] balamurugana opened #4519 "format.json migration assumes current version is always lower"
Migration validates current `format.json` is not equal to version 2.  It will break if higher version is available.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type and version:
* Operating System and ver

[2017-06-09 17:43] ralph327 commented on #4072
This is not being actively worked on, correct?

[2017-06-09 17:45] harshavardhana commented on #4072
@ralph327 it is not - it is under future milestone.

[2017-06-09 17:48] ralph327 commented on #4072
Okay. I'll try to tackle this in the coming weeks.

[2017-06-09 17:57] donatello commented on #4519
This change is addressing this: https://github.com/minio/minio/pull/4491 - the validation is done in `checkFormatFS` - specifically checking if the version on disk is a "known version" and then if it is not the latest version, it returns `errFSFormatOld`.

This can be closed after #4491 is merged.

[2017-06-09 19:14] harshavardhana opened #4522 "[gateway-gcs] Add object lifecycle management for incomplete uploads on GCS"
## Expected Behavior
https://cloud.google.com/storage/docs/lifecycle we need to use object lifecycle management to cleanup pending multipart uploads.

## Current Behavior
We have a custom code to check for this, we can avoid a go-routine.

## Possible Solution
Fix needed in gateway-gcs.go

## Steps to Reproduce (for bugs)
No steps to reproduce, a structural change.

## Context
On going GCS work.

[2017-06-10 00:03] aead commented on #4416
[SSE-C](http://docs.aws.amazon.com/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html) does not specify which algorithm is used to encrypt objects (it only says: AES-256 but not which mode). SSE-C is transparent to the client anyway so the best option would be [AES-GCM](https://en.wikipedia.org/wiki/Galois/Counter_Mode). Unfortunately it the Go standard library does not provide a streaming

[2017-06-11 00:20] mnpenner commented on #2049
To other noobs like me: you have to drag and drop onto the top section of the window, like where it shows the Used/Free bar. You can't drop where the files are.

[2017-06-11 00:23] rushenn commented on #2049
@mnpenner Thank you for reporting. Can you open this as a new issue?

[2017-06-11 19:34] kulraj-gurm commented on #3971
How do I change port for 2nd instance

[2017-06-11 19:46] harshavardhana commented on #3971
You have to provide "--address" command line option - FreeBSD init provides `minio_address` option.  You can read here all the options that are available

https://github.com/freebsd/freebsd-ports/blob/master/www/minio/files/minio.in#L7

[2017-06-11 20:07] harshavardhana commented on #4489
@jwilander just checking back were you able to validate the PR upstream?

[2017-06-11 20:58] harshavardhana opened #4526 "[proposal] Possibility of migrating to grpc with Gob codec."
https://godoc.org/google.golang.org/grpc , since the net/rpc has been deprecated we should explore the possibility of moving to grpc.

Since we need to bring in support for certain types of functionality which we cannot implement right now with Go net/rpc

- Adding deadlines for on-going RPC operations without sufficiently refactoring/re-implementing `net/rpc`
- Native authentication mechanism, we

[2017-06-12 09:56] dcharbonnier commented on #4419
@vadmeste all tls: record overflow
@harshavardhana all the same ssl certs, it's a * and no proxy

[2017-06-12 11:29] jwilander commented on #4489
Unfortunately I don't actually have an S3 account with access to the GovCloud region so it's difficult for me to verify

[2017-06-12 16:09] krishnasrinivas commented on #4511
We are not doing migration for this release

[2017-06-12 16:11] jwilander commented on #4489
Alright what I can do is create a custom Mattemost build to give to the customer to try out to make sure this fixes the issue. I'll report back here with the results

[2017-06-12 16:23] harshavardhana commented on #4489
Thanks @jwilander

[2017-06-12 16:46] fwessels commented on #4429
@rsoutar reaching out again, could you do a test with a custom version of minio as described above?

[2017-06-12 16:57] vadmeste commented on #4419
I tested again with 3 Minio server instances (with TLS configured), each instance has two disks, and 7 servers sending PUT requests, each of these 7 servers has 50 simultaneous scripts which continuously run `curl -x PUT` of small data but I wasn't able to reproduce the issue.

The stack trace when there is `i/o timeout` is exact to `tls record overflow` so I guess the client is "sending" corrupte

[2017-06-12 16:57] deekoder commented on #4337
Depends on implement timeouts #4367

[2017-06-12 17:01] deekoder commented on #4496
We will improve policy in the new UX.

[2017-06-12 17:01] #4496 closed, assigned to nobody

[2017-06-12 17:05] fwessels commented on #4526
As per https://github.com/golang/go/issues/16844#issuecomment-245261755, back in September GRPC was overall 4x slower (2x more CPU intensive, 2x slower). Would be good to reinvestigate if GRPC performance has improved since then.

[2017-06-12 17:09] deekoder commented on #4510
@tsmgeek - Caching is only enabled for erasure coded backended and it does validate cache for each getObject request. For al FS backends, including shared backends, there is no caching. Hope this helps. Closing this bug as won't fix. We are about to introduce persistent cache support and we may remove the in memory caching completely later.

[2017-06-12 17:09] #4510 closed, assigned to nobody

[2017-06-12 17:23] harshavardhana commented on #4526
My proposal is to bring in this with Gob

- https://godoc.org/google.golang.org/grpc#Codec
- https://godoc.org/google.golang.org/grpc#CustomCodec
- https://godoc.org/google.golang.org/grpc#WithCodec

Also authentication mechanism to built around

- https://godoc.org/google.golang.org/grpc/credentials#TransportCredentials
- https://godoc.org/google.golang.org/grpc/credentials#AuthInfo
- https://god

[2017-06-13 00:33] #4456 closed, assigned to harshavardhana

[2017-06-13 00:47] deekoder commented on #4486
Since #4523 now in. We don't need this anymore.

[2017-06-13 00:47] #4486 closed, assigned to donatello

[2017-06-13 00:49] deekoder commented on #4511
#4523 fix makes this a won't fix as its no longer relevant.

[2017-06-13 00:49] #4511 closed, assigned to krishnasrinivas

[2017-06-13 00:50] deekoder commented on #4517
#4523  fixes.

[2017-06-13 00:50] #4517 closed, assigned to harshavardhana

[2017-06-13 00:52] #4519 closed, assigned to harshavardhana

[2017-06-13 02:51] nitisht opened #4529 "Add a doc explaining various backends supported by Minio"
## Expected Behavior
There is no document that explains various backends supported by Minio

## Current Behavior
No such document available right now.

[2017-06-13 02:52] nitisht commented on #4529
Gist of discussion with @abperiasamy

## Categories
### FS
Any POSIX compatible FileSystems like XFS/EXT4/NTFS
### NAS
Any POSIX compatible NAS or distributed FileSystems such as Linux NFS, GlusterFS, Isilon, VNX and NetApp NFS. Multiple gateways sharing the same backend.
### JBOD
Single server and multiple drives
### Distributed JBOD
Multiple servers and multiple drives
### Cloud Storage
Storage

[2017-06-13 02:53] nitisht commented on #3722
Can be closed in favor of https://github.com/minio/minio/issues/4529

[2017-06-13 04:07] harshavardhana commented on #3722
Closing this is not a valid issue anymore. #4529

[2017-06-13 04:07] #3722 closed, assigned to nitisht

[2017-06-13 07:56] krishnasrinivas opened #4530 "format.json FD gets closed"
Start minio server in the usual manner and check that the format.json is kept open:

krishna@escape:~$ ls -l /proc/13134/fd
total 0
lrwx------ 1 krishna krishna 64 Jun 13 00:52 0 -> /dev/pts/0
lrwx------ 1 krishna krishna 64 Jun 13 00:52 1 -> /dev/pts/0
lrwx------ 1 krishna krishna 64 Jun 13 00:52 2 -> /dev/pts/0
lr-x------ 1 krishna krishna 64 Jun 13 00:52 3 -> /dev/tty
lrwx------ 1 krishna krish

[2017-06-13 08:02] krisis commented on #4530
@krishnasrinivas what operations were being performed on the object store?

[2017-06-13 08:06] wingZero21 opened #4531 "Query on Minio Browser Public Bucket access"
Hi,

Can you advise on if we are able to access a bucket without the key when its been made public?

I have added the command below but I cant see anyway to view this without logging into the UI?

Cheers

Details:
```mc policy public myminio/publicbucket```

[2017-06-13 08:36] harshavardhana commented on #4530
It could be possible that it is being garbage collected due to `_  = rlk`

[2017-06-13 08:41] krisis commented on #4530
How will the garbage collector know that the Close() method should be called? Further, I added `debug.PrintStack()` in `RLockedFile`'s `Close` and it is not being called.

[code]

[2017-06-13 08:50] harshavardhana commented on #4530
There are finalizer's set inside os.File() - It is purely a speculation not suggesting that this will happen. So in-fact top level Close() wouldn't reveal much in this case.

But i am wondering if the scope is lost it might cause a problem?
[code]

[2017-06-13 08:56] krisis commented on #4530
@harshavardhana,

This makes sense. We need to find an idiomatic way to retain the read-lock overriding the finalizer set by `os` package.

[2017-06-13 10:10] harshavardhana commented on #4530
Here is a simple reproducer.

[code]

You will be able to observe that `closed()` when listing `ls -l /proc/<pid>/fd` would suddenly vanish after 20secs, where as `open()` lives on after the GC has been called.

[2017-06-13 10:42] krisis commented on #3966
@deekoder I can take this up. Please assign this to me.

[2017-06-13 12:22] dcharbonnier commented on #4419
it produce a CURLE_RECV_ERROR (56) on the client side, the connection get dropped and the upload fail

[2017-06-13 12:34] vadmeste commented on #4419
That's what I expected. Anyway, we are trying to fix this slowly. I sent a PR which gets rid of some *probably* harmful useless code in server-mux.go

@dcharbonnier, what does mean high load in your case ? how many clients in peak time ?

@dcharbonnier, are you using a command line curl or a code which uses libcurl ?

[2017-06-13 12:37] dcharbonnier commented on #4419
[code]

5 errors, the time is consistent with the curl backoff retry policy which mean also that a connection can be established between the client and the server.

@vadmeste I'm using the curl binary
[code]

and it's working more than 99% of the time, probably over 99.99% and no the load was low < 100 clients connected at this time on this server for the last reported error

[2017-06-13 13:51] mykolapolonskyi commented on #2796
@harshavardhana Maybe this issue can be converted to the feature to implement buckets creation from docker/docker-compose on start.
Seems to be pretty useful

[2017-06-13 14:13] balamurugana opened #4533 "minio looks hung when format.json is opened with write lock."
When `format.json` is opened by another process and holding write lock, starting minio looks hung ie nothing printed.

## Expected Behavior

We would need to show some message on retries to get the lock.

## Current Behavior

Nothing printed.

## Possible Solution

## Steps to Reproduce (for bugs)

1. run below code before starting minio
[code]

2.
3.
4.

## Context

## Your Environment

* Version

[2017-06-13 14:13] bearmoo-cloud-net opened #4534 "upgrading minio?"
When upgrading, I notice that I get this error:

6/13/2017 7:00:58 AMDetected configuration inconsistencies in the cluster. Please fix following servers.
6/13/2017 7:00:58 AM[01/04] http://head-node01:9000/export1 : Server versions do not match
6/13/2017 7:00:58 AM[02/04] http://head-node01:9000/export2 : Server versions do not match

## Expected Behavior

Maybe have a backwards compatibility opti

[2017-06-13 14:24] dcharbonnier commented on #4419
sorry, my last comment is not valid it's related to an error on my side dropping the connections... the original problem that does not result in connection or data lost is still valid

[2017-06-13 15:29] #4530 closed, assigned to harshavardhana

[2017-06-13 15:34] harshavardhana commented on #4534
There are no rolling upgrades @bearmoo-repo . In a given set you upgrade all servers at once. So this error message is by design.

[2017-06-13 17:20] harshavardhana commented on #4533
This messaging will come when we will migrate from format.json v1 to v2. Also next release we are going to review each message being printed so this will be addressed then.

It is not really a big of a problem right now and can be moved out RC milestone.

[2017-06-13 17:23] balamurugana commented on #4533
v1 binary (ie this release) will not print any message if v2 would hold lock for more time because of migration.  IMO we should fix for completeness in this release.

[2017-06-13 17:43] harshavardhana commented on #4533
That is not a problem @balamurugana it is a rare scenario when v1 is being started while v2 is being migrated. Usually it would be v1 is already running and v2 is just starting and waiting.

There is no reason to introduce cosmetic non actionable messages at this point in time.  Before migration release we can do one more with HTTP changes where we can bring this in hopefully in another 2 weeks.

[2017-06-13 17:51] balamurugana commented on #4533
The best case is always wished to happen.  I would like to see how things should work for error situations.

Does this mean we support v2 migration from the next release only?

[2017-06-13 18:21] harshavardhana commented on #4533
What error are you talking about here? @balamurugana you are putting an arbitrary code and showing that its useful with arbitrary wait time, why would you think current code waits for long and what makes you think user will think its hung?.  Show me if there is a problem in current binary with significant wait times then we can think about this where a server is seen to be hung.

We might not do v

[2017-06-13 18:44] balamurugana commented on #4533
The code is a simulation of write lock held in a situations like migration in v2.  No one is interested to  fix for arbitrary code.  What do you think starting server binary like minio not showing any message for few more seconds?

makes sense.

Yes in all the cases.  Buggy network filesystem for backend might respond beyond this time, however the response time won't be beyond TCP timeout.

The ab

[2017-06-13 18:56] gperdomor opened #4535 "Any plans for a iOS Swift SDK?"
Do you have plans or can provide a ETA for a Swift SDK?

[2017-06-13 19:01] harshavardhana commented on #4535
We don't have any set timelines right now.  We will keep you posted @gperdomor

[2017-06-13 19:04] krishnasrinivas commented on #4535
@gperdomor you can use AWS Swift SDK to talk to minio as well.

[2017-06-13 19:10] harshavardhana commented on #4535
https://github.com/minio/cookbook/blob/master/docs/aws-sdk-for-iOS-with-minio.md agreed @krishnasrinivas here is the relevant doc as well.

[2017-06-13 19:13] gperdomor commented on #4535
thank you guys :D

[2017-06-13 21:29] ItalyPaleAle opened #4537 "[gateway-azure] In responses, convert MD5 from Base64 to Hex"
Azure Blob Storage stores and returns MD5 checksums in base64 format. AWS S3 uses the hex encoding, however, and this causes applications to think that files are corrupted.

Example: create a minio gateway to Azure, then upload a file using "s3cmd put"

## Expected Behavior
Minio should return MD5 hashes encoded as hex. As such, s3cmd should work

## Current Behavior
"s3cmd put" fails with:
[code]

[2017-06-13 22:54] krishnasrinivas commented on #4537
@EgoAleSum --debug options says:

[code]

What we do in azure gateway is return whatever ETag Azure returns us. i.e Azure returns ETag as `"0x8D4B2AE97754E88"` and hence we return the same ETag to the S3 client.

`mc` and `aws-cli` works fine with azure gateway though.

[2017-06-13 23:08] ItalyPaleAle commented on #4537
Yes, I tried mc and that was successful. However, s3cmd was the main reason why I wanted to implement the gateway :) (and I'm expecting that others would want the same) Any way we could fix this?

[2017-06-13 23:23] harshavardhana commented on #4537
There a reason we avoid computing md5sum to avoid overhead and introducing custom metadata on your blobs at your backend.

While for the most part ETag looks like hex md5sum,  AWS S3 discourages users to treat ETag as md5sum in a generalized manner, i don't see how it will work in all scenarios.

So i took the liberty of testing s3cmd with 20MB objects,  i can see they never match md5sum for such

[2017-06-13 23:40] jwilander commented on #4489
Customer came back saying they're getting an error from [here](https://github.com/harshavardhana/minio-go/blob/bd170838e265666d52b1d9661712275edccdf513/utils.go#L126) since this [function](https://github.com/harshavardhana/minio-go/blob/bd170838e265666d52b1d9661712275edccdf513/pkg/s3utils/utils.go#L83) is missing the GovCloud check

[2017-06-13 23:51] ItalyPaleAle commented on #4537
Thanks for explaining @harshavardhana . I have filed an issue with s3cmd too: https://github.com/s3tools/s3cmd/issues/880

I understand your rationale and it makes full sense.

Is there any chance you could alter the response from Azure to convert the MD5 hash in hex format and include it in the ETag header? This would improve compatibility. I'm not asking to compute MD5 on the client, but to take

[2017-06-13 23:57] harshavardhana commented on #4489
Can the actual error be pasted here? @jwilander

[2017-06-13 23:59] harshavardhana commented on #4537
We will get back to you on this.

For now as a work-around i would recommend you to take a look at - https://github.com/minio/mc while we figure out what is the right thing to do here.

Thanks for your patience.

[2017-06-14 00:03] jwilander commented on #4489
In Mattermost error logs:
[code]

So the error from the driver is
[code]

[2017-06-14 00:05] ItalyPaleAle commented on #4537
Thanks @harshavardhana -  no rush here! (Although I have a really nice blog post to publish as soon as this is resolved :) )

I am familiar with mc and it does work pretty well. It's missing some key features of s3cmd, however, most notably encryption (although I guess that could possibly be done via a unix pipe).

[2017-06-14 00:10] harshavardhana commented on #4537
Our client library already has support for this (https://github.com/minio/minio-go#api-reference-encrypted-object-operations)

`mc` is just waiting on https://github.com/minio/mc/pull/2140 -  while s3cmd implements only server side encryption support. `mc` will do both server and fully client side.

[2017-06-14 00:11] harshavardhana commented on #4489
My bad @jwilander just updated the PR with the said change. It should work fine now. Please let me know. If helps you can also loop me in to the issue/email thread `harsha ( a ) minio.io`

[2017-06-14 00:16] ItalyPaleAle commented on #4537
s3cmd implements encryption on the client-side (e2e) with OpenPGP

[2017-06-14 00:28] harshavardhana commented on #4537
Oh yes my bad,  this is incompatible with the approach I am mentioning perhaps this feature in s3cmd might predate the newer style for client side encryption standardized by AWS S3 -
 http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingClientSideEncryptionUpload.html

I see that it uses gpg_encrypt to create a temporary output file and then upload.

[2017-06-14 00:58] jwilander commented on #4489
No worries, thanks for the updates! We appreciate the quick turn around on this. I'll get it tested out and let you know.

We don't actually have an email thread, the correspondence is in a private channel on our Mattermost instance

[2017-06-14 01:05] harshavardhana commented on #4489
:+1:

Understood.

[2017-06-14 07:15] krisis commented on #4415
@harshavardhana this issue is fixed by https://github.com/minio/minio/pull/4435, can be closed.

[2017-06-14 07:16] krisis commented on #4411
@harshavardhana this issue is fixed by https://github.com/minio/minio/pull/4495, can be closed.

[2017-06-14 07:44] harshavardhana commented on #4411
Fixed in #4495 - closing.

[2017-06-14 07:44] #4411 closed, assigned to krisis

[2017-06-14 07:44] harshavardhana commented on #4415
Fixed in #4435 - closing.

[2017-06-14 07:44] #4415 closed, assigned to krisis

[2017-06-14 11:29] krisis commented on #4522
@deekoder @harshavardhana I can take this up if no one is working on it.

[2017-06-14 16:21] balamurugana opened #4539 "running two `mc cp` to same object with different content fails with BadDigest"
When running `mc cp /tmp/1.mp4 local/mybucket/1.mp4 & mc cp --debug /tmp/2.mp4 local1/mybucket/1.mp4`, the second `cp` fails with below error
[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. run minio servers like `minio server --address=:9000 ~/tmp/d1 & minio server --address=:9001 ~/tmp/d1`
2. once server is started, run `mc cp` like `

[2017-06-14 16:40] harshavardhana commented on #4539
@balamurugana i just copied with similar steps i am not able to reproduce.

I have two files `bigfile1` is 50MB and another `bigfile2` is 100MB

[code]

[2017-06-14 16:45] jwilander commented on #4489
Making some progress, now they're getting this error:

`[details: The authorization header is malformed; the region 'us-east-1' is wrong; expecting 'us-gov-west-1']`

We're thinking it might be from here: https://github.com/harshavardhana/minio-go/blob/gov/api-put-bucket.go#L193

[2017-06-14 17:00] harshavardhana commented on #4489
Yes most probably, are you trying to create a bucket as well? @jwilander

[2017-06-14 17:17] nitisht commented on #4477
Explored this yesterday with @harshavardhana . Looks like this happens when a `minio_stack` is deleted and started again.

Since `docker stack rm` doesn't remove the volumes created by the stack, these volumes interfere with the writing of `format.json` in a new stack (when new Minio servers come up). Kubernetes handles it in a way that a specific volume (PV) is always mapped to a specific claim (

[2017-06-14 17:19] harshavardhana commented on #4477
Closing as reproduced and proposed work around.

[2017-06-14 17:19] #4477 closed, assigned to nitisht

[2017-06-14 18:04] harshavardhana commented on #4489
Updated the PR again this time with some more simplification in MakeBucket behavior. Tested with us-west-1.  Let me know if you find further issues.

[2017-06-14 18:59] belvid commented on #4439
[minio icons universe.zip](https://github.com/minio/minio/files/1075793/minio.icons.universe.zip)
[Updated set]

Minio icons retina set for mesosphere.

@harshavardhana Can you upload them to https://minio.io/img/icons/minio/

[2017-06-14 20:20] deekoder commented on #4534
@bearmoo-repo  did we address your query? Will go ahead and close this. Please reopen if you think we should still clarify this further.

[2017-06-14 20:20] #4534 closed, assigned to nobody

[2017-06-14 22:02] harshavardhana commented on #3864
We already have this now.. from this release onward.

https://hub.docker.com/r/minio/minio/tags/

[code]

Closing this for now. Please re-open @vielmetti if anything we missed.

[2017-06-14 22:02] #3864 closed, assigned to nobody

[2017-06-14 22:31] harshavardhana commented on #4439
Its done! - closing.

[2017-06-14 22:31] #4439 closed, assigned to nobody

[2017-06-14 22:52] daigok opened #4540 "Support for Azure blob storage REST API"
Add support for Azure blob storage too.

[2017-06-14 23:09] harshavardhana commented on #4539
So this seems to be an expected behavior happens even with.. S3 but really rare this is the right error message we need to return

[code]

The problem is primarily a situation like this lets start with we have two minio servers running on the same shared backend i.e `data`

- Two parallel clients try to upload different files to same object from different servers.
- Both clients perform findUpload

[2017-06-14 23:10] harshavardhana commented on #4540
We already have gateway feature with azure `minio gateway azure` are you talking about this @daigok ?

[2017-06-15 00:20] nitisht commented on #4440
Minio Helm chart and Kubernetes examples use `default` storage class by not specifying a `storageClass` section. Read more [here](http://blog.kubernetes.io/2017/03/dynamic-provisioning-and-storage-classes-kubernetes.html).

Quoting above post

To the end user this means

- If you have you K8s cluster on a cloud provider (eg  AWS/GCE/Azure), and you install Minio using [Helm chart](github.com/kuber

[2017-06-15 00:30] harshavardhana commented on #4440
Closing this based https://github.com/minio/minio/issues/4440#issuecomment-308593718

[2017-06-15 00:30] #4440 closed, assigned to abperiasamy, nitisht

[2017-06-15 00:59] krishnasrinivas commented on #4518
Fixed by https://github.com/minio/minio/pull/4105

[2017-06-15 01:22] harshavardhana commented on #4518
Closing as fixed by #4105

[2017-06-15 01:22] #4518 closed, assigned to krishnasrinivas

[2017-06-15 03:11] daigok commented on #4540
@harshavardhana No. I'm talking about a Blob Storage SDK. We want to use a Azure Blob Storage SDK to our service. Because our serivce supports both Azure and on-premise. Azure SDK/tools are better than S3 SDK/tools for us. So if minio is compatible with a Azure Blob Stroage, it really helpful for us.

We could'nt find any  Azure Blob Storage copatible object storage other than a Microsoft's storag

[2017-06-15 07:46] luomaofu opened #4544 "about the performance"
1. there are two backends : fs and xl .
What is the difference between them? What's short for xl?

2.   in fs backend, A bucket is equivalent to a directory . and Bucket of object, is a file in the directory.
  so ,   Stored in a bucket of hundreds of millions of objects, means :  Stored in a directory  of hundreds of millions of files,  and the performance will be very slow.

fs-v1.go , line  392

[2017-06-15 10:59] krisis commented on #4544
@merlin-cn,

What is the difference between them? What's short for xl?

https://github.com/minio/minio/pull/4538 answers the above questions. XL is used to refer to the erasure code backend.

so , Stored in a bucket of hundreds of millions of objects, means : Stored in a directory of hundreds of millions of files, and the performance will be very slow.

The performance may degrade if millions of o

[2017-06-15 11:45] RangerWolf commented on #2965
Read minio files from spark java worked. Add my scripts here maybe will be helpful for others:

#### Get SparkSession and config hadoop during runtime

[code]

#### read txt and show it
[code]

#### pom.xml
[code]

[2017-06-15 11:52] romulogoncalves commented on #2965
@RangerWolf I see you are using hadoop-aws 2.7.3

Reading it is possible with 2.7.3, writing seems to be the issue.
Could you confirm that?

[2017-06-15 13:09] vadmeste opened #4545 "docs: More information about the webhook server are needed"
What's missing:
1. Brief information about the content and format of the data that webhook server will receive
2. Say what the webhook server should return as information to Minio server

[2017-06-15 14:46] harshavardhana commented on #4545
Webhook doesn't need to send anything to Minio server..it's only a receiving end.

What is sent on the wire can be easily seen by using request.bin

[2017-06-15 14:50] vadmeste commented on #4545
yes, I am just saying we need to update this documentation https://docs.minio.io/docs/minio-bucket-notification-guide#webhooks so users can easily understand what this is about.

[2017-06-15 15:44] harshavardhana commented on #4526
https://github.com/google/go-microservice-helpers

[2017-06-15 15:47] harshavardhana commented on #4544
This is not a problem of object storage as such, any given filesystem is generally slower if you create lots of files in a single directory - but with proper directory structure employed it can be easily avoided.

http://docs.aws.amazon.com/AmazonS3/latest/dev/request-rate-perf-considerations.html  - Amazon wrote a nice article about this which also applies in this case as well on how to work towa

[2017-06-15 15:51] jwilander commented on #4489
That seems to have fixed it, thanks @harshavardhana!

[2017-06-15 15:55] harshavardhana commented on #4489
@jwilander Thanks - can you confirm on the PR as well? There some tests that have to be changed which I will do and we will get this merged.

[2017-06-16 00:26] harshavardhana commented on #2965
Would it be possible to validate hadoop 2.8.0 from release notes it looks like they have fixed aws-sdk-java issue by upgrading the dependency and also there are improvements to s3a connector regarding pathStyle etc.

http://hadoop.apache.org/docs/r2.8.0/hadoop-project-dist/hadoop-common/release/2.8.0/RELEASENOTES.2.8.0.html

https://issues.apache.org/jira/browse/HADOOP-12963

[2017-06-16 03:11] aead commented on #3946
The current plan is to migrate to [GHASH](https://en.wikipedia.org/wiki/Galois/Counter_Mode) so I close this.

[2017-06-16 03:11] #3946 closed, assigned to fwessels

[2017-06-16 03:16] RangerWolf commented on #2965
@romainbou  Yes, writing will failed, same as your post before
[code]

@harshavardhana I tried to use 2.8.0 to replace 2.7.3,  but even read from minio will failed.  Please checj below exception stack:
[code]

not sure if it is caused by the spark version, which is for Hadoop 2.6

[2017-06-16 03:20] harshavardhana commented on #2965
This is because of aws-sdk-java had an upstream bug which is fixed in hadoop 2.8.0 update.

This looks odd, this doesn't seem like a network error but more like Method not implemented issue.  We will evaluate and figure out what is going on.

Thanks for the heads up.

[2017-06-16 04:40] luomaofu commented on #4544
some performace test:

upload one object,  cost 8 ms at least ,it is very  slow.

client

[code]

[code]

the trace:

[code]

[code]

 I think it needs to be improved

[2017-06-16 04:58] krisis commented on #4363
https://github.com/mesosphere/universe/pull/1169 addresses all items listed in this issue except using Zookeeper for Minio service's configuration management. There is no Marathon API available to access the underlying Zookeeper instance, which Marathon and Mesos use for their state management. This option may be available if we choose to write our own scheduler framework in future. With this, thi

[2017-06-16 17:19] deekoder commented on #4458
Need to discuss design with @abperiasamy

[2017-06-16 17:21] deekoder commented on #4429
@rsoutar closing this issue since we need your help to proceed further on investigating root cause. Please reopen if you have this information and ping us back anytime.

[2017-06-16 17:21] #4429 closed, assigned to fwessels

[2017-06-16 17:23] #4363 closed, assigned to krisis

[2017-06-16 17:24] #4194 closed, assigned to harshavardhana

[2017-06-16 18:06] vadmeste commented on #4458
A simple solution is to watch policy.json file using some file watch libraries (like what we do with mc mirror -w), so if policy.json is updated, all Minio instances in the shared configuration will detect the change and will be able to reload the configuration. The only problem is that watching could be not possible in some cases, like with NFS. I'll investigate further.

[2017-06-16 18:09] fwessels commented on #4544
Object storage is designed for (very) large objects, starting at 100KB at the minimum up to 10s of GBs or even larger. Likewise it is designed to be used in parallel, i.e. you can upload 10s or 100s of objects in parallel without any problems.

So your duration for measuring a single PUT is more or less what we would expect, but to really get an idea of the performance you need to test in parallel

[2017-06-16 18:11] harshavardhana commented on #4458
The plan is to bring a peer framework which basically combines

- shared mode backend servers
- gateway servers

Into a peer mode where shared backend and gateway provide the peers associated while starting up. This way using the peers we update each other. This is sort of a distributed behavior but with replicated updates across all nodes.

This solves the problem of

 - mc watch, mc policy and m

[2017-06-16 20:08] aead commented on #4416
Actually there`s a better solution:

Instead of encrypting the objects in the Object-layer, we can move encryption down to the erasure coding. Since we will use an AEAD (AES-GCM or ChaCha20Pol1305) we can skip the BLAKE2b hash computation and use the generated authenticator as the bit-rot detection mechanism. So if we use the authenticator as the erasure-hash for encrypted objects we can actually

[2017-06-16 20:24] #4489 closed, assigned to harshavardhana

[2017-06-17 05:58] nitisht commented on #4413
Don't close it yet. Need to send another PR for the GCS branch.

[2017-06-17 18:20] #4539 closed, assigned to harshavardhana

[2017-06-17 22:32] harshavardhana commented on #4406
- https://github.com/minio/minio/tree/sts working code for minio is here. ~~(Works for GCS as well)~~
- https://github.com/minio/mc/tree/sts working code for mc is here. ~~(Works with Minio and GCS as well)~~

Currently evaluating the Azure identity provider and service provider for our azure gateway backend.  Due to lack of docs and finding to hard to navigate the azure portal UI is causing the d

[2017-06-17 23:01] harshavardhana commented on #4457
This is fixed in feature-gcs branch.

[2017-06-17 23:13] harshavardhana commented on #4432
This is not a minio server issue and can be closed.

[2017-06-17 23:13] harshavardhana commented on #4405
Fixed by #4455

[2017-06-17 23:13] #4405 closed, assigned to krishnasrinivas

[2017-06-19 01:30] TJC opened #4553 "OwnerID too short; does not match AWS spec"
Minio reports the OwnerID as just "minio", but this causes at least one S3 library to fail, as they expect a 64 character string.

The AWS specifications say:

That quote taken from: http://docs.aws.amazon.com/AmazonS3/latest/dev/example-walkthroughs-managing-access-example4.html

Failing S3 client: https://github.com/rustyconover/net-amazon-s3/issues/18
My patch for it: https://github.com/strateg

[2017-06-19 04:30] harshavardhana commented on #4553
There is no concept of OwnerID in Minio it just kept as a placeholder value which defaults to "minio" . We can generate something of the 64-bit obfuscated version just for compatibility sake - it doesn't add much value honestly and there is no value for the client to interpret this if they are using Minio.

[2017-06-19 04:40] harshavardhana commented on #4553
But it makes sense to just keep it similar in meaning. Thanks for opening the bug @TJC .

[2017-06-19 07:15] shantanugadgil opened #4555 "specify minio server region using environment variable"
Is there a way to specify the region using an environment variable, rather than the config.json?

I went through the docs, but found the method to set region by modifying the config.json.
That works fine, but was wondering if there is any `MINIO_REGION` type of variable that can be used?

My use case is that modifying the config.json at runtime may not be possible, but setting environment variable

[2017-06-19 08:09] krisis commented on #4555
@shantanugadgil Yes, `MINIO_REGION` is the environment variable you are looking for.
E.g, you could run,
[code]

[2017-06-19 09:52] shantanugadgil commented on #4555
@krisis thanks, this works for me!

[2017-06-19 10:00] #4555 closed, assigned to nobody

[2017-06-19 17:06] fwessels opened #4557 "[stale] High level architecture document"
Create a high level architecture document describing the key components of minio's design in terms of objectapihandlers, object handlers (fs/xl/distributed), erasure coding, bitrot, server vs gateway, etc.

Initial version will contain the high level structure without all the details, once the structure is in place, we can fill in the details to the level that we want.

[2017-06-19 17:22] deekoder opened #4559 "Propose or enhance new feature template"
This will help PR reviewing and testing.

[2017-06-19 17:48] harshavardhana commented on #4208
Is this still valid? - don't know what is the context actually here with this header anymore.

[2017-06-19 17:56] deekoder commented on #4540
@daigok  I don't think we plan to support a drop in replacement for Azure SDK/tools at this time :(   We are committed however to providing an s3 compatible interface to Azure blob storage. I will close this issue as a won't fix for now. Please reopen if you still think otherwise.

[2017-06-19 17:56] #4540 closed, assigned to krishnasrinivas

[2017-06-19 18:17] donatello opened #4560 "GCS gateway - unable to delete bucket with incomplete uploads"
## Expected Behavior

Recursive deletion of bucket with mc should work.

## Current Behavior

Recursive deletion of bucket fails with error that bucket is not empty.

## Steps to Reproduce (for bugs)

1. Start minio server as a GCS gateway
2. With mc, create a bucket, and while PUTting some large objects, interrupt them, so there are incomplete upload files left in the bucket.
3. Then with mc try

[2017-06-19 23:42] krishnasrinivas opened #4564 "ListMultipartUploads and ListObjectParts changes in FS backend"
As discussed in today's meeting we are moving to a simpler backend for multipart related files.

ListMultupartUploads and ListObjectParts will return empty listing as response.

Backend will look more like GCS' multipart backend.

This will rid a lot of complicated code from our code base.

@deekoder can you assign this to me

[2017-06-20 00:22] nitisht opened #4565 "Submit Dockerfile to official Docker library"
## Expected Behavior
Docker has a public repo: https://github.com/docker-library/official-images that hosts the _official images_. They also have detailed documentation on how to contribute to the repo: https://github.com/docker-library/official-images#contributing-to-the-standard-library

We can take a look at the process and add Minio Dockerfile to the standard library

## Current Behavior
Minio

[2017-06-20 00:26] harshavardhana commented on #4565
To do this first we need to figure out who actually maintains official images. Does the maintainer pushes the changes? if so does he do manually? can this be auto built like how we build our image after a release. what is the difference between docker official images v/s minio built official images? does docker promise some sort of higher availability?

Also this would require a disruptive change

[2017-06-20 00:32] nitisht commented on #4565
Whoever sends the PR for the official repo is supposed to maintain it. Details: https://github.com/docker-library/official-images#maintainership. Looks like Maintainer has to do this manually. It can be built automatically but Maintainer has to push changes to the Dockerfile first.

I don't think so, but there are a few advantages. Quoting their docs here:

More info here: https://docs.docker.com/

[2017-06-20 00:54] harshavardhana commented on #4565
We can definitely do this.

What we need to figure out is if automated build is possible across platforms - Basically doing manual approach for docker build is a bad idea and can lead to unforseen security issues.. building on docker cloud is the safest approach that is why we use automated build and download over SSL. We need to see how this is allowed.

[2017-06-20 05:10] shantanugadgil opened #4568 "Disable color in the text output"
Minio version: 2017-06-13T19:01:01Z

Would it be possible for a `--no-color` (or some such) parameter to disable the color output?
I run **minio server** as an upstart service on Ubuntu 14.04 and the output in the upstart logs at `/var/log/upstart/minio.log` is full of ANSI color escape sequences.
It would be great if there were an option to disable color in the output.

## Current Behavior
Log fi

[2017-06-20 06:15] harshavardhana commented on #4568
You can simply do `--quiet` if you don't need any output banner. NOTE this will still print error logs..

[2017-06-20 06:49] shantanugadgil commented on #4568
Using quiet doesn't work. This makes it completely silent (with error logs as you mentioned)
I _do_ want the startup banner, just without coloring!

[2017-06-20 07:46] krisis opened #4569 "[gateway-gcs] mc ls shouldn't list bucket/.minio.sys.temp/multipart entries"
Listing of objects in a bucket using `mc ls -r` returns entries internal to minio gateway.

[code]
## Expected Behavior

Entries internal to minio gateway should not be listed.

## Current Behavior

Entries internal to minio gateway is being listed.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run minio gateway gcs
2. `mc mb mygcs/mybucket`
3. `mc cp largeobj mygcs/mybucket/obj1`; I

[2017-06-20 08:13] harshavardhana commented on #4568
Another simpler way is just doing pipe the output so that the console printer thinks that its a dumb terminal.

[code]

[2017-06-20 08:18] harshavardhana commented on #4568
You can even do this

[code]

[2017-06-20 08:25] luomaofu opened #4571 "Minio can be used in the production environment?"
Minio can be used in the production environment?
is there  some successful case?
thank you

[2017-06-20 08:28] harshavardhana commented on #4571
Yes you can.

https://blog.minio.io/scalable-genomics-data-processing-pipeline-with-alluxio-mesos-and-minio-a8360e54b11a

https://blog.minio.io/toolslib-switches-to-minio-for-scale-and-performance-7510eb1f866f

You can take a look at all the use cases listed here - https://github.com/minio/awesome-minio

[2017-06-20 08:55] shantanugadgil commented on #4568
perfect, this does the trick:
`env TERM=dumb`

[2017-06-20 08:55] #4568 closed, assigned to nobody

[2017-06-20 09:39] eldhosejohn opened #4572 "Multipart upload throwing error in 2.2.3 release"
In the latest release 2.2.3, the s3 multipart upload is throwing error. However this is working perfectly in 2.2.2 release

## Expected Behavior

Direct upload to S3.

## Current Behavior

AttributeError: 'PartMetadata' object has no attribute 'md5hasher'

see the logs

    s3Client.put_object(s3_bucket, s3_key, file_data, file_stat.st_size, content_type=content_type)
  File "/home/ec2-user/.local

[2017-06-20 09:41] krisis commented on #4572
@eldhosejohn Could you open this issue in https://github.com/minio/minio-py/ repository? This repo is for the minio server.

[2017-06-20 09:53] eldhosejohn commented on #4572
got it, closing the issue.

[2017-06-20 09:54] #4572 closed, assigned to nobody

[2017-06-20 12:53] jcoetzee opened #4573 "Shared link doesn't encode spaces, breaks url up"
## Expected Behavior
I expect that when sharing a link (via web browser) to a file with someone they should be able to click it directly to download regardless of if the filename has spaces in it or not.

## Current Behavior
If the filename has spaces in it it breaks the url so it cannot be clicked. The URL will need to be manually copied and pasted into a browser

## Possible Solution
When sharin

[2017-06-20 13:06] jcoetzee opened #4574 "Authentication information is added to shared URL even if prefix is set to public readable"
This is something minor but when sharing a file in a prefix that is public readable authentication information is added even though it isn't needed.

## Expected Behavior
If the bucket policy allows anonymous download anyway then I would expect a simpler URL to share.

## Current Behavior
The authentication information (`?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=...`) is added to the shar

[2017-06-20 13:26] jcoetzee commented on #4375
Apologies, this fell off my radar and I forgot to reply.

I did some investigation. This bug isn't present when hitting minio directly but rather when using nginx as a reverse proxy. Running nginx 1.13.1.

My nginx config (which as I understand is similar to the minio docs):

    server {
        listen 8443 ssl http2;
        ssl_session_timeout 1d;
        ssl_session_cache shared:SSL:50m;

[2017-06-20 13:37] vadmeste commented on #4573
Browsers (at least Chrome & Firefox) naturally convert a space to %20 when pasted in the url bar and opened but curl doesn't. I think we should encode the object prefix after signature calculation.

[2017-06-20 14:01] jcoetzee commented on #4573
Yes, however that still would require you to manually highlight, copy and paste into the URL bar instead of just clicking on the link. This would also cause confusion for those not technically minded.

[2017-06-20 14:11] harshavardhana commented on #4574
If you access the object without logging in then you don't see this problem. To login to a publicly readable bucket you just have to logout and visit the http://endpoint:9000/minio/bucket

Looks like currently the check is only making sure to avoid signature generation only for anonymous requests.

[2017-06-20 22:01] #4553 closed, assigned to nobody

[2017-06-21 01:40] krishnasrinivas commented on #4569
I have fixed this in https://github.com/minio/minio/pull/4566 as the changes in the PR was needed for this fix

[2017-06-21 02:25] harshavardhana commented on #3800
Fixed by #4550

[2017-06-21 02:25] #3800 closed, assigned to nobody

[2017-06-21 02:31] harshavardhana opened #4578 "Streaming signature on fresh minio returns signature mismatch"
## Expected Behavior
[code]

## Current Behavior
[code]

## Possible Solution
Fixed by PR #4577

## Steps to Reproduce (for bugs)
Start a fresh minio server on a new config location and run `minio-go` PutObjectStreaming test.

## Context
Continuing a fix from here

[code]

## Your Environment
Last minio release and current master.

[2017-06-21 08:52] jcoetzee commented on #4375
Should I open a new issue for this?

[2017-06-21 14:44] harshavardhana commented on #4375
Sure @jcoetzee

[2017-06-21 15:07] jcoetzee opened #4579 "Upload via web hangs at completion when using nginx as reverse proxy"
When uploading to a bucket via the web interface using nginx as reverse proxy the upload hangs just before completion.

## Expected Behavior
File uploaded to bucket

## Current Behavior
1. If file sizes are small enough (order of 80KB) the upload succeeds however for larger files the upload hangs (smallest file I've found to do this is 1.7Mb)
2. Upload doesn't hang at the same percentage every tim

[2017-06-21 17:40] daswars commented on #4183
i have the same problem.
i use on my macbook vagrant with 4 centos 7 system  in a cluster mode.

VERSION:
2017-06-13T19:01:01Z

Configure a host: mc config host add node1 http://192.168.100.10:9000 minio minio123 S3v4
Create a bucket: mc mb node1/test
Create a file: dd if=/dev/zero of=./file bs=1024 count=1024
Copy that file to the bucket: time mc cp ./file node1/test/first
Note how fast it upload

[2017-06-21 17:40] deekoder commented on #4579
@krishnasrinivas  - i feel like this was a bug we had seen before and was closed as a "works for me".

[2017-06-21 18:30] #4578 closed, assigned to nobody

[2017-06-22 02:59] sentientmonkey commented on #4112
Any update on the status? Would love to see this happen.

[2017-06-22 07:09] jcoetzee commented on #4579
@deekoder Yes, that was #4375 but that was closed before I realised that this is only experienced when using nginx as reverse proxy.

[2017-06-22 07:34] harshavardhana commented on #4579
@jcoetzee have you tried using the simplest nginx config mentioned in our docs - https://docs.minio.io/docs/setup-nginx-proxy-with-minio  and see if that actually works?

This would help us narrow down the variables.

[2017-06-22 08:24] jcoetzee commented on #4579
The bug is still present with the following config

    server {
        listen 8443 ssl;

        server_name minio.domain.tld;
        ssl_certificate /etc/ssl/minio/minio.domain.tld.pem;
        ssl_certificate_key /etc/ssl/minio/minio.domain.tld.key;

        location / {
                proxy_buffering off;
                proxy_pass http://minio:9000;
                proxy_set_header Host $h

[2017-06-22 09:06] jcoetzee commented on #4579
This is my fault. I forgot to add the `client_max_body_size` directive as indicated in the notes below the example config.

For reference that directive doesn't need to be in the `http` context, it can be in the `server` or `location` directives as well. May be an idea to just put it in the example config?

[2017-06-22 09:06] #4579 closed, assigned to krishnasrinivas

[2017-06-22 13:44] rsoutar opened #4580 "Copy objects to minio is unusual slow"
Copy objects to minio is unusual slow

## Expected Behavior
Faster?

## Current Behavior
./mc cp --recursive folder/ local/bucket/ is running around 4.5 MB/s

dd if=/dev/zero of=bigfile bs=1m count=1024

./mc cp bigfile minio/test is running 128MB/s

## Context
The read speed is around 50-70 MB/s
Files under the bucket are something like BucketName/MediaID/Quality/MovieName/Files

## Your Environm

[2017-06-22 17:12] #4460 closed, assigned to nobody

[2017-06-22 17:14] deekoder commented on #4413
Can this be closed now @NitishT

[2017-06-22 17:14] harshavardhana commented on #4413
GCS branch is not yet merged i think.

[2017-06-22 17:15] #4432 closed, assigned to nobody

[2017-06-22 17:34] deekoder opened #4581 "Add a message "Not ready for Production" when user types 'minio gateway gcs'"
Merge featuregcs with master branch.

[2017-06-22 21:50] donatello commented on #4580
@rsoutar
1) What is the average size of the files being copied into your local minio server?
2) Do you have a very large number of files in a single directory?

[2017-06-23 01:01] harshavardhana commented on #4580
Actually this was discussed on #general @donatello we saw copy saturates the network link on a large file copy i.e for multipart transfer.

Copy small files sequentially we don't actually saturate the network, there is a `mc` github issue to fix this and bring back some amount of parallelism to optimally saturate the network link.

[2017-06-23 13:34] walterdejong opened #4588 "server follows symlinks"
It is possible to make a symbolic link to a directory that points outside the `minio` server "root". The server will happily serve this as a bucket, potentially giving access to unexpected places.

## Expected Behavior

I expected the server would not allow access outside the server "root".

## Current Behavior

Current: The server follows symbolic links. This allows remote users to access files o

[2017-06-23 17:45] krishnasrinivas commented on #4395
https://github.com/minio/minio/pull/4455 fixes this

[2017-06-23 17:45] #4395 closed, assigned to krishnasrinivas

[2017-06-23 18:29] deekoder commented on #4522
Let me check if @krishnasrinivas pr fixes this if not will assign

[2017-06-23 19:08] krishnasrinivas commented on #4522
@deekoder this is needed which can be fixed by @krisis

[2017-06-23 20:07] #4396 closed, assigned to vadmeste

[2017-06-23 20:13] #4391 closed, assigned to krisis

[2017-06-23 21:52] harshavardhana commented on #4588
I have a question @walterdejong are you asking if Minio server should run in a chrooted env ? if yes then we can add that support to be default always.

You can still achieve this today by doing `chroot /path /path/minio server export` , this would disallow minio to access outside namespace and provides proper isolation.

[2017-06-24 00:37] nitisht commented on #4413
Can be closed now.

[2017-06-24 00:39] deekoder commented on #4571
@merlin-cn  closing this issue. Let us know if you have any further questions.

[2017-06-24 00:39] #4571 closed, assigned to nobody

[2017-06-24 00:50] deekoder commented on #4457
Closing this as i see this is fixed.

[2017-06-24 00:50] #4457 closed, assigned to nobody

[2017-06-24 00:51] harshavardhana commented on #4413
Fixed in master

[2017-06-24 00:51] #4413 closed, assigned to nitisht

[2017-06-24 00:57] #4560 closed, assigned to krishnasrinivas

[2017-06-24 00:57] #4569 closed, assigned to krishnasrinivas

[2017-06-24 05:07] #4481 closed, assigned to krishnasrinivas

[2017-06-24 05:10] #4449 closed, assigned to vadmeste

[2017-06-24 07:28] harshavardhana commented on #4580
@deekoder this is not a minio server bug per se. We have to open this bug on `mc` and fix it.

[2017-06-24 07:32] harshavardhana commented on #4531
@wingZero21 all you have to do is just navigate to the publicbucket say for example your server is running at ip 10.0.0.1

Then you would visit UI without logging in at http://10.0.0.1:9000/minio/publicbucket/

This will list all buckets without logging into your browser.  Let me know if you have further questions, feel free to join our slack channel as well.

If this is sufficiently answered feel

[2017-06-24 20:18] harshavardhana commented on #4456
Helm support added by #4592

[2017-06-24 20:47] nitisht commented on #4456
Corresponding Helm package changes done by https://github.com/kubernetes/charts/pull/1304

[2017-06-26 01:39] #4573 closed, assigned to vadmeste

[2017-06-26 08:49] TuiTeamSearch opened #4597 "Minio is not reusing or closing old/existing connections to Rabbit"
After setting up AMQP for bucket events, we are receiving events, but the RabbitMQ connection pool fills up quite quickly.

## Expected Behavior
One connection per bucket to RabbitMQ, or one Minio connection all together to multiple exchanges.

## Current Behavior
Roughly one connection per event, not quite sure but a lot of connections are created filling up the RabbitMQ connection pool

## Possi

[2017-06-26 09:02] krisis commented on #4522
Object lifecycle management is not (yet) available with Google cloud client libraries including the one we are using right now. See https://cloud.google.com/storage/docs/managing-lifecycles.

If we have an existing solution we can wait till this feature is available. @harshavardhana @krishnasrinivas thoughts?

[2017-06-26 09:12] walterdejong commented on #4588
`chroot` could certainly be a solution. Note that only the `root` user may start a chrooted environment; a regular user gets `Operation not permitted`. I can probably cook up a sudo-wrapper for this.

I think it would still be nice if the symlink behavior were configurable via a (command-line) option.
I can imagine some people would actually want to use "followsymlink" as a feature--while others d

[2017-06-26 09:25] wingZero21 commented on #4531
Hi,

I have tried that however it just redirects me to the login screen.

[2017-06-26 09:54] krisis commented on #4597
@deekoder I can take this up.

[2017-06-26 13:23] krisis commented on #4597
@TuiTeamSearch Here is how I tried recreate the issue.

1. Ran RabbitMQ server in a docker container
[code]
2. Used the configuration provided in the issue description.

[2017-06-26 14:03] harshavardhana commented on #4588
If Minio server needs to chroot that would put the same restriction on Minio server as well.

Minio server is statically compiled it is ideal to run it in `chroot` environment. While the chroot has to be run as root the resulting process can easily run as a regular user using chroot command line options.

[2017-06-26 14:08] harshavardhana commented on #4531
Can write down what you did step by step ?

[2017-06-26 14:10] TuiTeamSearch commented on #4597
Seems to be a network/firewall issue

[2017-06-26 20:51] #4580 closed, assigned to nobody

[2017-06-27 03:00] krishnasrinivas opened #4601 "minio-java functional tests fails with gateway-gcs"
@balamurugana reported this issue on slack:

[code]

@NitishT responded:

This needs to be debugged.

[2017-06-27 03:32] robben766 opened #4602 "Distribution Minio with docker"
I can run distributiion minio with linux follow this [Doc](https://docs.minio.io/docs/distributed-minio-quickstart-guide)
    However, I don't know how to work in docker .
    Try executing the command

 `  docker run -p 9000:9000 --rm --name minio \
  -e "MINIO_ACCESS_KEY=test" \
  -e "MINIO_SECRET_KEY=test" \
  -v /home/minio/export:/export \
  -v /home/minio/config/minio:/root/.minio \
  minio/

[2017-06-27 03:33] harshavardhana commented on #4602
@robben766 for docker you should use swarm. https://docs.minio.io/docs/deploy-minio-on-docker-swarm

[2017-06-27 03:47] robben766 commented on #4602
@harshavardhana Thanks for your quick response。why minio distribution with docker must use swarm. Can run in multi machine ?

[2017-06-27 03:51] harshavardhana commented on #4602
You can but you need to expose host networking use --net=host . Swarm is the most recommended if you are using only docker.

[2017-06-27 04:05] robben766 commented on #4602
@harshavardhana it works now , Thanks.

[2017-06-27 04:27] harshavardhana commented on #4602
Feel free to close @robben766 if you have no more questions.

[2017-06-27 04:38] #4602 closed, assigned to nobody

[2017-06-27 07:02] remigio opened #4603 "Notifications don't work on Elasticsearch 5.4.0"
## Expected Behavior
After configuring minio for notifications to elasticsearch, upon uploading a file to minio you should get a a notification object in the elasticsearch index that was specified in the configuration.

## Current Behavior

No results from elasticsearch, nothing is sent from minio to elasticsearch.

## Steps to Reproduce

1. Configure elasticsearch notifications in ~/.minio/config

[2017-06-27 07:46] harshavardhana commented on #4603
Tried this again it was a false positive in-fact its working fine with elasticsearch 5.4.2. Followed all the steps mentioned here seems to be working fine.

[code]

Can you try restarting the elasticsearch service and try again @remigio ? - Thanks

[2017-06-27 07:58] LorenzoBoccaccia commented on #3489
#3684 that didn't really fix the issue. scaling, assigning nodes and all that swarm infrastructure is unavailable when running it trough compose and node calling each other by name makes handling discovery when scaling a very cumbersome, error prone and inefficient task

[2017-06-27 08:05] harshavardhana commented on #3489
@LorenzoBoccaccia minio single deployment unit is static by design it could be FS mode, Erasure coded more or Distributed erasure coded mode - there is no scaling involved within this unit.  When you scale you scale with deploying many such smaller units.

[2017-06-27 08:12] remigio commented on #4603
@harshavardhana already done, same result, no events!

[2017-06-27 08:13] harshavardhana commented on #4603
@remigio can you try with elasticsearch 5.4.2 ?

[2017-06-27 09:18] walterdejong commented on #4588
Unfortunately `chroot` is not a very good solution for us.

I can get it to work but it requires a minimal "root" filesystem like:
[code]

It's too convoluted for our users.

Additionally, I had a look at `syscall.Chroot()` but it looks like golang no longer supports it (because of portability issues). This means that `chroot` can't be built in.

The easy fix would be to optionally disallow symlin

[2017-06-27 10:58] remigio commented on #4603
@harshavardhana Works with elasticsearch 5.4.2!

[2017-06-27 14:05] harshavardhana commented on #4603
Let me know if you wish to keep this open. May be a the library we are using and elasticsearch 5.4.0 has a problem.

[2017-06-27 14:07] remigio commented on #4603
To me it's ok to close it.

[2017-06-27 14:11] wingZero21 commented on #4531
Hi,

I just went to the URL that you advised in the previous post.

I also tried adding the specific bucket name which has been assigned to be public, however again it just takes me to the login screen.

[2017-06-27 14:30] harshavardhana commented on #4588
Actually this is not correct you must be using an older release of Minio. Latest release doesn't need these files - here are the steps.

[code]

[code]

You can have a skeletal structure for this which provisions minio on all servers.

This is actually not a good fix/solution, the reasoning from our end goes like this. Creation of symlinks effects almost all tools not just minio server.  A new use

[2017-06-27 14:34] harshavardhana commented on #4531
All i did was the following and i am able to publicly access.

[code]

Now click on the link https://play.minio.io:9000/minio/harsha

[2017-06-27 14:43] #4061 closed, assigned to nobody

[2017-06-27 15:34] #4603 closed, assigned to nobody

[2017-06-27 23:28] StephanX commented on #2423
It'd be super helpful in my case.

I'm looking to use minio in kubernetes as both an S3 object store, and a shared fileystem.  Not being able to create a directory object with s3fs breaks any sort of recursive copy operation.

[code]
If there's a storagecontroller in kubernetes analogous to https://kubernetes.io/docs/concepts/storage/volumes/#cephfs that would work just fine as well.

Thanks!

[2017-06-27 23:42] harshavardhana commented on #2423
Possible fix available in the proposal - https://github.com/minio/minio/pull/4426

[2017-06-28 01:55] harshavardhana commented on #2423
A major problem which even the #4426 will not be able to fix is s3fs setting odd metadata on the directories

[code]

But this can be worked around by just using `complement_stat` mount option only available in the latest release 1.82 - https://github.com/s3fs-fuse/s3fs-fuse/commit/758b92e823540c73032412423bee6d8c93584148

[2017-06-28 02:44] #4581 closed, assigned to ebozduman

[2017-06-28 03:57] harshavardhana commented on #2423
After much testing PR #4426 + minio master  and s3fs without any modification and no more special options. It seems to be working fine..

[code]

One caveat in #4426 is it still doesn't support directories on erasure coded backend. I tried doing that for a bit but then i realized it can get complicated so it has been left as is.

[2017-06-28 05:27] #4283 closed, assigned to balamurugana

[2017-06-28 07:46] wingZero21 commented on #4531
Hi,

I have tried doing this with the download command however just takes me back to the login screen as it did previously.

[2017-06-28 07:49] wingZero21 commented on #4531
Ok, so what I have done now which seems to work is add /publicbucket to the end of the URL and this does seem to work.

However after uploading a file it does not seem to appear on the publicbucket list? You then have to click back a directory which seems a bit odd. Anyway it does seem to allow access but I am not sure how this would work if you were wanting to access the file via command line wit

[2017-06-28 08:21] harshavardhana commented on #4531
Feel free to close this bug, if you have no more questions.

[2017-06-28 13:31] tsmgeek opened #4605 "Ability for minio to create pid file"
Would it be possable for minio to create a PID file for itself either a default one or path if supplied by user on startup.

[2017-06-28 14:11] harshavardhana commented on #4605
You can create it yourself inside a script why is this useful?

[2017-06-28 15:24] ildarg opened #4606 "Failed to lookup for nodes in docker swarm"
The minio servers can not be restarted in Docker Swarm. There is "Failed to lookup.." in container's log.

## Expected Behavior

Minio servers should be restarted properly.

## Current Behavior

..Failed to lookup minio2
.Failed to lookup minio3
.Failed to lookup minio4
Failed to resolve hosts.. retrying after 1 second.

## Possible Solution

Starting from the scratch

## Steps to Reproduce (for b

[2017-06-28 16:01] harshavardhana commented on #4606
did you wait for all the servers to start properly before they are being restarted? @ildarg

[2017-06-28 17:02] ildarg commented on #4606
sure, I waited more then 30 minutes (several times)
PD I did also
1) docker stack rm minio_stack
2) docker stack deploy --compose-file=docker-compose-secrets.yaml minio_stack
no changes

[2017-06-28 17:07] nitisht commented on #4606
@ildarg can you try removing all the volumes in your stack - `docker volume rm volume_name` (also mentioned in step 4 here: https://docs.minio.io/docs/deploy-minio-on-docker-swarm)

[2017-06-28 17:19] harshavardhana commented on #4606
Unfortunately `docker stack rm minio_stack` doesn't delete the volumes it created. You need to remove the volumes.. `docker volume rm volume_name`

[2017-06-28 17:20] ildarg commented on #4606
I did it after stack removing as desccribed in guide.
PS I hope it is not solution for production mode. I can't delete storage.

[2017-06-28 17:23] nitisht commented on #4606
Yes, this is for demo. The problem is Swarm deploys nodes randomly and volumes are not mapped to specific nodes. This is handled by Kubernetes in form of persistent volumes.

[2017-06-28 18:17] ildarg commented on #4606
Could you please show the way how to fix it ? Do you recommend to work without Docker ?

[2017-06-28 18:23] tsmgeek commented on #4605
true and its what I currently do in my OCF resource agent, just thought most services can do it natively and also tidy the pid on a tidy shutdown

[2017-06-28 18:54] harshavardhana commented on #4605
Problem with daemon is that daemonizing is not standardized approach in Go and all other external libraries have some sort of implementation and portability problems.

Including usage of daemon() from the stdlib.h involving cgo etc which causes more bloat.

[2017-06-29 05:36] nitisht commented on #4601
Sent PR https://github.com/minio/minio/pull/4608

[2017-06-29 14:31] walterdejong commented on #4588
True, and I was afraid you might mention that.
Currently minio is a very single-user-at-home experience. Ideally, I wish minio server was more akin to a webserver: a service on a well-known port, able to serve up files for multiple users from their respective homedirs. Have PAM support for authentication. Use the server host certificate for TLS/SSL. Have a way to mark buckets as public and read-on

[2017-06-29 16:19] deekoder opened #4610 "Update Docs with links to new images"
We have new images available for referenced images in docs.minio.io. Please update Readme.MDs to use the latest images. After this is complete we will delete old images.

[2017-06-29 16:36] fwessels commented on #4557
First version available under https://github.com/fwessels/minio/blob/feature/design-doc/DESIGN.md

[2017-06-29 16:48] #4531 closed, assigned to nobody

[2017-06-29 16:51] deekoder commented on #4544
@merlin-cn  closing this issue. Please reopen if you think we have not addressed your concern here.

[2017-06-29 16:51] #4544 closed, assigned to fwessels

[2017-06-29 17:54] harshavardhana commented on #4588
We actually are working on STS (Token Service) based on SAML identity provider which should provide multi user support with in your organization. Given that your kerberos or ldap is part of a SAML identity federation.

We will close this issue since chroot or docker (cgroups) solve this problem sufficiently.

[2017-06-29 17:54] #4588 closed, assigned to harshavardhana

[2017-06-29 18:32] nitisht commented on #4601
Can be closed now.

[2017-06-29 23:10] #4610 closed, assigned to deekoder

[2017-06-30 02:40] #4601 closed, assigned to nitisht

[2017-06-30 03:52] trivita commented on #4494
i have the same issue here
[code]

[2017-06-30 06:32] hsluoyz opened #4614 "Enhance the ACL authorization with Casbin"
Hi, [Casbin](https://github.com/casbin/casbin) is an authorization library that supports models like ACL, RBAC, ABAC.

Related to RBAC, Casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in Casbin's language) can be pers

[2017-06-30 06:41] harshavardhana commented on #4614
Thanks for opening the bug. @hsluoyz - we will get back to you on this.

[2017-06-30 14:48] SteveFaultless opened #4615 "Slack link on website is broken"
I'm sure this is the wrong place, but I don't use twitter.
The "join us on slack" button leads to a broken link, as do all of the other slack buttons scattered around.
I wanted to join you!  I still will if you can fix it :)

[2017-06-30 16:19] deekoder commented on #4615
@steveBetl  looking into this right away.

[2017-06-30 16:24] harshavardhana commented on #4615
Should be fixed.. now

[2017-06-30 16:29] deekoder commented on #4615
Closing. It's fixed.

[2017-06-30 16:29] #4615 closed, assigned to harshavardhana

[2017-07-01 00:10] harshavardhana commented on #4522
https://github.com/GoogleCloudPlatform/google-cloud-go/issues/503 - referencing the upstream issue here.

@krisis i guess for the time being we have to accept and review the PR https://github.com/minio/minio/pull/4599

[2017-07-02 12:33] niv opened #4617 "giving 4 backing storage devices with differing free space results in wrong capacity"
Provide 4 backing disk images/directories with differing sizes:
* 1GB
* 2GB
* +2GB (any)
* +2GB (any)

Example setup:
[code]

## Expected Behavior

* Capacity should say 1GB, as that is the smallest "disk" available to minio.
* Uploading a >1GB file should fail immediately.

## Current Behavior

* Capacity says 2GB.
* Uploading a file litters the file system with part.XX files. No UI feedback. Fil

[2017-07-02 19:27] harshavardhana commented on #4617
Erasure behaves in this manner N disks are divided into N/2 data and N/2 parity lets take an example homogeneous disk sizes, each disk is 1TB on a 4 disk setup would effectively result to 2TB.  So the algorithm of calculating the effective disk size is simply

[code]

Another limit to remember is also that each disk requires a limit of 1GB per disk free space. So your disk size say is 954MB then f

[2017-07-02 19:54] krishnasrinivas opened #4619 "Get benchmark numbers for minio"
Perform benchmarks for FS and erasure backend for parallel PUT and GET with different file sizes.

[2017-07-02 19:59] harshavardhana commented on #4619
Erasure coded we already have .. why do we need it again ?

[2017-07-03 00:59] deekoder commented on #4614
Marking blocked to discuss with @abperiasamy

[2017-07-03 01:27] deekoder commented on #4461
As per last discussion about this. The root cause is still not clear.

[2017-07-03 01:50] harshavardhana opened #4620 "JSON parsing for xl.json gjson lags behind jsoninter"
Comparing standard library v/s jsoniter
[code]

Comparing gjson v/s jsoniter
[code]

## Expected Behavior
Use a high performant json parser. This is needed because we are json heavy and we need to only use the best parser available to avoid any form of latencies that can incur due to json parsing.

## Current Behavior
Current usage of gjson is performing lower in benchmarks compared to https://git

[2017-07-03 01:53] harshavardhana commented on #4461
One way this would fix itself is moving to go1.8 - rather than fixing the current server-mux.go code or tests.

[2017-07-03 02:49] deekoder commented on #4321
Moving this to future since we will do GCS policy support subsequently.

[2017-07-03 02:50] deekoder commented on #4390
@vadmeste  you were going to verify this to help close.

[2017-07-03 02:59] deekoder commented on #4574
@jcoetzee closing this issue. Please reopen if you think we have not addressed this issue.

[2017-07-03 02:59] #4574 closed, assigned to nobody

[2017-07-03 03:01] deekoder commented on #4605
@tsmgeek  closing this issue as won't fix. Please don't hesitate to reopen it if you still want to discuss it further and think minio should address this.

[2017-07-03 03:01] #4605 closed, assigned to nobody

[2017-07-03 05:28] fwessels commented on #4461
Sounds like a good idea, may well fix or circumvent the issue.

[2017-07-04 01:39] harshavardhana opened #4624 "Migrate minio codebase to support go1.8.x releases"
## Expected Behavior
go1.8.x compilation, unit tests all should work fine.

## Current Behavior
Currently we only use go1.7.x and do not work properly on go1.8.x releases.

## Context
Fully go1.8 migration is needed.  We need to remove some code here

- posix-prepare-path.go is no longer needed, Go supports long UNC paths by default now.
- we don't need to use `pkg/x/os/stat_windows.go` this is fi

[2017-07-04 09:29] krisis opened #4625 "[FS] CompleteMultipartUpload API should fail when parts are smaller than 5MiB"
## Expected Behavior

CompleteMultipartUpload API should fail when parts (other than the last) are smaller than 5MiB with `EntityTooSmall` error.

## Current Behavior

CompleteMultipartUpload API doesn't fail when parts are smaller than 5MiB. This is seen only on FS backend.

## Possible Solution

N/A
## Steps to Reproduce (for bugs)

1.  `docker pull play.minio.io/mint:travis-6fefe6c61af6b2bf2453

[2017-07-05 06:27] TJC opened #4626 "Distributed Docker Minio keeps throwing disk errors"
I spoke briefly with kp in the Slack channel about this issue.

I have four servers, and one Minio instance on each, running as a four-disk distributed cluster.

It works for a short time, then starts throwing errors a lot, like:

`msg="Unable to fetch disk info for &cmd.networkStorage{rpcClient:(*cmd.AuthRPCClient)(0xc4202a9760)}" cause="disk not found" source="[xl-v1.go:199:getDisksInfo()]"`

Ru

[2017-07-05 06:31] TJC commented on #4626
If it wasn't clear -- `{{ ansible_fqdn }}` should be converted into the hostname of that host; if you're not using ansible, you could do something like:

[code]

[2017-07-05 06:35] TJC commented on #4626
By the way, is it normal that `mc admin info` reports the first host as `localhost` but then the rest by their FQDNs?

Eg:
[code]

[2017-07-05 06:57] harshavardhana commented on #4626
Thanks for the bug report @TJC  - we will get back to you n this meanwhile can you provide more information regarding the network connectivity etc?

 - Are you using swarm? if not why? are there any reasons to use --hostname based approach.
 - Does the --hostname based approach guarantee that all servers in the cluster get the hostname information populated i.e /etc/hosts have proper entries?
 - C

[2017-07-05 07:04] TJC commented on #4626
Hi @harshavardhana ,
We are using Swarm v1 unfortunately -- and while we have plans to migrate to swarm v2 with the overlay networks, we're not there yet. The --hostname method appeared to work initially, and after chatting in Slack, it sounded like quite a reasonable approach.

The --hostname approach, in our case, will guarantee that all nodes can resolve each other. The names given there are re

[2017-07-05 07:55] TJC commented on #4626
Reporting back -- I tried using --net=host, but this didn't even boot up unless I used IP addresses for the endpoints, instead of host names.

With IP addresses it starts up and works briefly, but failed pretty quickly. I did run one `mc admin heal` in there as the command prior to it failing, I note.

[2017-07-05 09:07] peterprochaska opened #4628 "CORS header is based on the wrong request field"
The Access-Control-Allow-Origin header is dynamically based on the Origin: request field. That opens the door for some quite serious security issues.

## Expected Behavior
1. Send request with Origin: www.evil.com
2. in the response is the Access-Control-Allow-Origin NOT www.evil.com

## Current Behavior
1. Send request with Origin: www.evil.com
2. the Access-Control-Allow-Origin header field in t

[2017-07-05 14:22] vadmeste commented on #4390
yes @deekoder,

@deekoder, shall we print help or pretty message for input validation? little confused.

[2017-07-05 17:29] deekoder opened #4629 "Disable admin api in minio server."
Let's disable this in minio server till we have the fully comprehensive new admin api support rolls in the next release.

[2017-07-05 20:02] krishnasrinivas commented on #4626
@tjc regarding the issue you are having, do you see problems even before using `mc admin` command? or do you see it only after trying out `mc admin` command? this is to know if `mc admin` caused any problems, or if the root cause is something else

[2017-07-05 20:12] niv opened #4630 "Chrome 59 on OSX does not autofill accessKey on login page"
Chrome 59 on OSX does not autofill the username part of correctly saved credentials.

Related:  #4235 #4091

## Expected Behavior
Both accessKey and secretKey are autofilled.

## Current Behavior
Only secretKey is autofilled, even after liberal clicking/explicit selecting. Logging in requires typing the accessKey manually.

Safari can be made to autofill both if selecting explicitly, but does not

[2017-07-05 20:24] niv opened #4631 "mc: share download endpoint/bucket/ w/o -r does not produce share links"
Trying to share `bucket/path` without `--recursive` does not produce presigned URL(s).

The documentation promises:
[code]

## Expected Behavior

Have bucket/test/data.txt existing.

    $ mc share download minio/bucket/test/

Should produce a shareable link to test/data.txt

## Current Behavior

Above command does nothing.

## Your Environment
mc:  2017-06-15T03:38:43Z
minio: minio/minio:latest (

[2017-07-05 20:32] harshavardhana commented on #4631
You should use mc share download --recursive

[2017-07-05 20:34] niv commented on #4631
--recursive will generate one URL for each object in the "directory" and all subdirs. Is exposing a whole prefix this way not supported?  If so, the documentation should be updated. :)

[2017-07-05 21:00] harshavardhana commented on #4631
Can you point me to the doc where we say that its supported by `mc share` command? Presigned URLs with expiry generated here as per S3 spec is generated for only objects.

If you wish to expose the prefix you have to use `mc policy download myminio/mybucket/test/` this would allow anonymous access to all objects inside `test/` prefix.

Then to list all the resultant URLs just do `mc policy links m

[2017-07-05 21:02] niv commented on #4631
[code]

See point 3.

Edit: Thank you, policy & links does what I need. I can then also browse them on the web interface anonymously.

[2017-07-05 21:08] harshavardhana commented on #4631
This means all objects under backup/ at the top-level , if none found it doesn't do anything.

This means all objects inside backup and all subsequent objects recursively.

Feel free to close this issue @niv if there is nothing else that needs to be done.

[2017-07-05 21:08] Yurmusp opened #4632 "How can I get URL to latest release binary with fixed version?"
The way you guys publish your releases, I do not see how I can get fixed version URL to latest release binary, that will not change in the future.

Is there way to get it (if I missed it)?
Can you change how you publish releases, so that fixed version URLs would not change with next release?

I talk about  linux-amd64 release.

[2017-07-05 21:09] harshavardhana commented on #4632
You can just use https://dl.minio.io/server/minio/release/linux-amd64/minio.RELEASE.2017-06-13T19-01-01Z

[2017-07-05 21:09] harshavardhana commented on #4632
eventually it will become part of archive as https://dl.minio.io/server/minio/release/linux-amd64/archive/minio.RELEASE.2017-06-13T19-01-01Z

[2017-07-05 21:10] niv commented on #4631
Right! Thanks for responding so quickly and diligently.

However, according to the docs (and your explanation), this still is broken for me:

[code]

Shouldn't this spit out a single link in my case (for timestamp.nim)?

[2017-07-05 21:11] Yurmusp commented on #4632
That's the problem, it will change and download will fail at some point.

[2017-07-05 21:13] harshavardhana commented on #4632
Why not try both @Yurmusp what is the problem?

[2017-07-05 21:13] harshavardhana commented on #4631
Yes it should - its a bug.. @niv

[2017-07-05 21:17] Yurmusp commented on #4632
I think it shall go to archive right away, where I would do every delivery as a folder and
your release folder to be symlink to most recent versioned folder.
This way fixed version URLs will always be correct.
Production environments need fixed version URLs that will not expire for a long time.
If you guys do not do it this way, it discourages your component use,
as typically intention to use vers

[2017-07-05 21:17] niv commented on #4631
Updated the top comment! Thanks for following this up. I'll leave the ticket open so it can be tracked.

[2017-07-05 21:18] Yurmusp commented on #4632
I can try both, but that's workaround. Issue on your side remains and I think best is to fix it.

[2017-07-05 21:28] harshavardhana commented on #4632
Its as simple as doing 5 lines in a bash script, i don't know what could be a complex situation in this. There are only two places to check.

[code]

Current design to for continuous delivery minio in practice has no real versions only commit ids and build dates are used to know what release build a user is running, each new version is designed to be compatible with previous version.

To make it e

[2017-07-05 21:30] harshavardhana commented on #4631
It would be better to close this one out and open here https://github.com/minio/mc/issues a more relevant place for this bug to be.

[2017-07-05 21:43] niv commented on #4631
Moved - https://github.com/minio/mc/issues/2204.

[2017-07-05 21:43] #4631 closed, assigned to nobody

[2017-07-05 21:43] harshavardhana commented on #4631
Thank you @niv

[2017-07-05 21:44] harshavardhana commented on #4632
Would this be acceptable if done as practice and as part of release process? @Yurmusp

[2017-07-05 21:53] krishnasrinivas commented on #4629
@deekoder no response yet on https://github.com/minio/minio/issues/4626

My suggestion is, considering that `mc admin heal` has saved the day for a few of our users and also the fact that it has not been well tested, what we can do till the new API is ready is:
* disable admin handlers by default
* enable admin handlers if `_MINIO_ADMIN_HANDLERS` env var is set to "on"

This way, in the worst case

[2017-07-05 22:18] Yurmusp commented on #4632
I think yes.

[2017-07-05 22:22] Yurmusp commented on #4632
That's probably much simpler for you guys and will do the job.

[2017-07-05 22:24] harshavardhana commented on #4632
We will stick to that as part of release process.. so that you have a consistent URL to reference.

[2017-07-06 00:44] nitisht commented on #4606
Hi @ildarg sorry for dropping the ball on this. I looked into Docker Swarm documentation and looks like the way to handle this is to

- Create bind mounts on Swarm nodes. This way there is a specific path on each host where Minio can store data. Ref: https://docs.docker.com/engine/swarm/services/#give-a-service-access-to-volumes-or-bind-mounts.

- Then add constraints on specific services to run o

[2017-07-06 00:51] Yurmusp commented on #4632
Please, let me know when you will have persistent URL for the most recent
version.
Thank you.

On Wed, Jul 5, 2017 at 3:24 PM, Harshavardhana <notifications@github.com>
wrote:

[2017-07-06 01:35] harshavardhana commented on #4632
@Yurmusp it should be already done..

[2017-07-06 01:43] krishnasrinivas commented on #4628
@Peter-Prochaska Minio does not use browser Cookies for authentication, instead uses `Authorization` header for authentication.

Minio serves 3 types of requests:
* S3 requests: authenticated using signature V4 authentication
* Minio admin calls: authenticated using signature V4 authentication
* Minio-Browser Web-RPC calls: authenticated using JSON Web Tokens

None of the APIs are vulnerable to CS

[2017-07-06 01:45] deekoder commented on #4390
We should do the latter here. This is what i see
[code]
I think unknown project id is more apt. We can fix presentation of this error when we fix all log/error messages.

[2017-07-06 01:47] deekoder commented on #4390
If i do ```minio gateway gcs ``` without project id it does show help. So I will close this.

[2017-07-06 01:47] #4390 closed, assigned to deekoder

[2017-07-06 02:19] Yurmusp commented on #4632
I need same thing with client mc.

[2017-07-06 02:19] harshavardhana commented on #4632
Please open a bug on mc. Feel free to close this.

[2017-07-06 02:21] #4632 closed, assigned to nobody

[2017-07-06 02:37] harshavardhana opened #4634 "PutObject user metadata size should follow AWS S3 restriction"
## Expected Behavior
The PUT request header is limited to 8 KB in size. Within the PUT request header, the user-defined metadata is limited to 2 KB in size. The size of user-defined metadata is measured by taking the sum of the number of bytes in the UTF-8 encoding of each key and value.

AWS S3 returns

[code]

## Current Behavior
We do not validate this restriction, it is allowed to create a PUT

[2017-07-06 02:58] TJC commented on #4626
Here's a test script that fails for me:
[code]

[2017-07-06 02:59] krishnasrinivas commented on #4537
@EgoAleSum can you verify that it works for you fine with this  https://github.com/krishnasrinivas/minio/tree/append-dash-one-etag

[2017-07-06 02:59] TJC commented on #4626
Interesting, if I remove the `sleep` commands, it runs fine, for very long periods of time.

With the sleep commands, it dies pretty quickly

[2017-07-06 03:05] harshavardhana commented on #4626
This is the problem of our current https://github.com/minio/minio/blob/master/cmd/server-mux.go#L139 this actually creates a sort of a deadline where each 15 secs RPC timesout and has to reconnect upon a subsequent operation. Lets say the reconnect failed then we would see disk going up and down all the time. With sub-millisecond latency this might get noticeable.

Just as @TJC found in high stres

[2017-07-06 03:14] krishnasrinivas commented on #4626
How will 1.8 help the deadline problem? @harshavardhana

[2017-07-06 03:15] harshavardhana commented on #4626
Because we won't set any - we can remove server-mux.go and let go1.8.x http server deal with it.

[2017-07-06 03:16] harshavardhana commented on #4626
If deadlines needs to be used we should avoid it for RPC connections.

[2017-07-06 03:16] krishnasrinivas commented on #4626
But isn't deadline needed to disconnect the inactive clients so that they dont eat up the resources?

[2017-07-06 03:20] krishnasrinivas commented on #4626
Yes. Deadlines should apply only to S3 requests not minio internal communication or admin requests. We had discussed about this previously. At the place where we can set the deadline we won't know if it's an admin or S3 call. Maybe we can look at alternative http server implementation which exposes this capability?

[2017-07-06 03:43] harshavardhana commented on #4626
The problem happens because of this

Once the **rpc.DialHTTP** is done by the client the rpc server hijacks the connection the conn obtained here is already set with the Deadline.

[code]

[code]

~~The differentiation is hard.. since on wire it looks like a HTTP connection at first. But becomes a RPC later - to fix this properly we should move to grpc which provides not only graceful shutdown als

[2017-07-06 05:54] balamurugana opened #4637 "[GCS] ListObjectParts should return parts info for remembered upload IDs"
When upload IDs are remembered for objects, ListObjectParts needs to return parts information for client to do further actions like complete multipart etc.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e.g. nginx 1.9.1):
* Server type

[2017-07-06 06:52] peterprochaska commented on #4628
@krishnasrinivas You didn't get the point. Allow cross origin requests is ok, but the Access-Control-Allow-Origin header in the response depends on the Origin header from the request. This Origin header is from userspace and can be changed to anything an attacker wants.

[2017-07-06 14:31] b4nst opened #4638 "Performances downloading as zip with big sized files"
## Environment

* Version used (`minio version`): 2017-06-13T19:01:01Z
* Environment name and version (e.g. nginx 1.9.1): docker single node

The feature **download all as zip** is very long when the file(s) selected are large (>=~500Mo). Would it be possible to set no compression on zip algorithm to speed it up, and maybe even stream it (by chunk) to be able to start the download before the zip p

[2017-07-06 16:58] balamurugana opened #4639 "[GCS] part names of upload id need to be manual data recovery friendly"
Current part names are just ETags like `.../UPLOADID/PARTETAG`. In case of manual data recovery, its not possible to know part numbers.  Its required change part names recovery friendly.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used (`minio version`):
* Environment name and version (e

[2017-07-06 18:09] krishnasrinivas commented on #4638
@BastienAr the zip file is not stored on the disk, it is created as a stream and that stream is downloaded by the client. We will check what can be done to give a better UX.

[2017-07-06 18:19] k0nsl commented on #4638
I must be practically blind as I cannot even locate **_“Download as ZIP”_** anywhere in the Minio Browser (ver. `2017-06-13T19:01:01Z`) 😔

[2017-07-06 18:34] krishnasrinivas commented on #4638
@k0nsl once you select a file it will show up at the top :smile:

[2017-07-06 22:21] nitisht opened #4640 "azure: minio-java test fails on azure gateway"
## Expected Behavior
Minio-Java functional tests work on azure gateway

## Current Behavior
Minio-Java Functional Tests fails on azure backend.

[code]

## Possible Solution
Not known

## Steps to Reproduce (for bugs)
- Build Minio server from current master
- Run it in `azure` gateway mode.
- Point minio-java functional tests to your Minio instance and run with `./gradlew runFunctionalTest`

[2017-07-06 22:26] nitisht commented on #4640
Server output

[code]

[2017-07-06 23:31] krishnasrinivas commented on #4628
@Peter-Prochaska yes the attacker can change the Origin header can be anything the attacker wants, I explained how it is not a security issue with Minio server as we do not use Cookies for authentication.

[2017-07-07 00:25] krishnasrinivas commented on #4537
@EgoAleSum just verified, still getting:
[code]
I have updated https://github.com/s3tools/s3cmd/issues/880

[2017-07-07 00:26] ItalyPaleAle commented on #4537
Thanks for checking, I haven't had time to try it myself yet. Sad it didn't work :(

[2017-07-07 02:30] balamurugana opened #4643 "Eval whether there are any better http muxer (better than gorilla) available"
Evaluate from the following list.

https://github.com/avelino/awesome-go#routers

[2017-07-07 03:34] deekoder commented on #4637
@abperiasamy - need to review backend format. It's ok to not list parts. We expect client to persist parts and upload id if they want to implement resumable uploads.

[2017-07-07 03:37] deekoder commented on #4639
Will review backend as part of #4637  and also take care of the usability of the part id for manual operations.

[2017-07-07 03:37] #4639 closed, assigned to nobody

[2017-07-07 09:14] b4nst commented on #4638
@krishnasrinivas Oh ok I thought it was not because the download take a while to start, is the stream flushed while processed ?

[2017-07-07 13:19] balamurugana commented on #4640
Failure at minio-java side is due to server closing connection.  Unfortunately I am not able to find any code in minio http handlers closing the connection.  However I found `http.Response` object has a field `closeAfterReply` set to `true`.  It could be possible that `net/http` package may close this connection which is causing a `connection reset` at minio-java side.

Below is the response value

[2017-07-07 15:41] #4625 closed, assigned to krishnasrinivas

[2017-07-07 17:01] fwessels opened #4644 "Investigate plug-in mechanism for gateway mode"
Investigate how to be able to load external plug-ins into minio to be more flexible to load (for gateway) connectors to other back-ends without bloating minio itself too much.

A multi-language approach would be best although to start with a Go-only solution would be fine.

Multi-OS support would also be nice but not a necessity.

[2017-07-07 21:41] harshavardhana commented on #4644
This would require a migration to go1.8 first i believe @fwessels ?

[2017-07-08 01:24] fwessels commented on #4644
Yes, correct.

[2017-07-08 04:26] deekoder opened #4648 "Remove all references of md5sums and replace it with uuid based etag."
Wherever we use md5sums use etags generated with uuid followed by -

[2017-07-08 04:30] deekoder opened #4649 "Organize packages related to bitrot and hashing algorithms"
Vendorize external packages already published.

[2017-07-08 07:30] harshavardhana commented on #4640
Isn't this the actual error here? ``The request body is too large and exceeds the maximum permissible limit`` - this is because azure only support 100MB maximum part size per part?

// cc @krishnasrinivas

[2017-07-08 07:32] harshavardhana commented on #4640
Perhaps the tests which fail are uploading 525MB part ?

[2017-07-08 07:34] harshavardhana commented on #4640
https://godoc.org/github.com/Azure/azure-sdk-for-go/storage#Blob.PutBlockWithLength

[code]

[2017-07-08 08:05] balamurugana commented on #4640
Yes. The test is doing unknown sized stream multipart upload.  The situation is like below
1. okhttp streams 525MB of data in one end and the connection is set to keep alive.
2. server reads the stream and passes to azure. azure fails due to the stream size is beyond 100MB in the middle of read.
3. the server replies the error and closes the connection.
4. async write to okhttp fails to write (jav

[2017-07-08 19:06] aead commented on #4649
The current approach/state:
For bitrot protection minio will use poly. authenticators (Poly1305, GHASH) and support hash functions (SHA-256, BLAKE2b-512) for backward compatibility reasons.
Both concepts (hash functions and poly. authenticators) share some properties but are not the same.
So currently there is a package `bitrot` under `github.com/minio/minio/pkg`. The design of the package is very

[2017-07-08 19:12] aead commented on #4648
As far as I know (@harshavardhana correct me if I'm wrong) we don't need to compute the MD5 checksum of an object/part if the client does NOT set content-md5. Instead we can return a random/unique value as etag with a trailing slash.
Currently we compute the MD5 sum of the object/part (even if the client does not set content-md5) and return the checksum as etag.
I think this is also S3 behavior.

[2017-07-08 19:35] aead opened #4650 "Implement server-side-encryption for all backend formats (FS, XL, ...)"
Server-side-encryption can be implemented in the Object-Layer. This will lead to some overhead for XLs bitrot protection but simplifies encryption support for FS and other backends.

See aslo #4416 ,  #4020 , #4616 ,  #4649

### Possible Solution
Server-side-encryption can be "easily" implemented in the Object-Layer. It only requires small changes to the backend formats and is transparent for eras

[2017-07-08 20:08] harshavardhana commented on #4650
GCS, Azure and AWS S3 backends can be a pass through utilizing the relevant server side encryption APIs from all these relevant providers.

[2017-07-09 04:32] balamurugana commented on #4640
Observed same error using minio-go ie `2017/07/08 21:22:01 read tcp [::1]:44448->[::1]:9000: use of closed network connection`

[code]

[2017-07-09 04:58] harshavardhana commented on #4637
Discussion pending with @abperiasamy pending but listing down things.

Current backend format looks like this

Each part is stored as.
[code]

gcs.json is used to validate if upload-id is valid sent from client.
[code]

TO make it easier for reconstruction perhaps two different variations can be used.

[code]
[code]

Currently etag is generated based on a `UUID()` returned. So lets say Content-MD5

[2017-07-09 05:13] balamurugana commented on #4640
I tried to identify the behavior by reducing globalMaxPartSize to 100MiB doesn't help ie clients kept writing data than reading the reply, hence closed connection error appears.

[2017-07-09 05:18] krishnasrinivas commented on #4640
https://github.com/krishnasrinivas/minio/tree/azure-max-body-limit should fix, testing it

[2017-07-09 15:54] damianh opened #4653 "PutObjectRequest throws a AmazonS3Exception (.NET, AWS SDK)"
I've been exploring minio with my application (.NET)and immediately hit a problem. Putting an object throws `Amazon.S3.AmazonS3Exception: The request signature we calculated does not match the signature you provided. Check your key and signing method.`

## Expected Behavior
The PutObjectRequest should succeed.

## Current Behavior
Exception is thrown:
 `Amazon.S3.AmazonS3Exception: The request sig

[2017-07-09 15:55] damianh commented on #4653
Note: same code against an AWS S3 bucket works fine.

[2017-07-09 16:06] damianh commented on #4653
Here are are a couple of operation summaries from Fiddler that indicate the operation works fine when targeting AWS but not when targeting Minio. The bucket name is different here.

### AWS:

[code]

### Minio
[code]

[2017-07-09 17:58] deekoder commented on #4653
will take a look @damianh

[2017-07-09 18:16] damianh commented on #4653
Thanks @deekoder . If I can be of any help, or any clarification needed, please don't hesitate to reach out. I _believe_ I explored all options to ensure it wasn't my code, however, I reserve the right to have done something dumb :)

The code the reproduces the issue is .net core so it should be runnable on Linux/Mac (but I haven't tried it).

[2017-07-09 18:18] bobobo1618 opened #4654 "Configurable erasure coding"
Per the docs:

I have 8 drives with above average MTBF and I'd much rather have a say 3/1 data/parity allocation than 4/4, as this would give me failure tolerance (albeit a single disk), reduce my overhead (75% efficient vs. 50%) and increase IOPS (0.25x vs. 0.125x).

I had a look around for a similar issue but couldn't find one.

[2017-07-09 18:44] krishnasrinivas commented on #4648
@aead etag can look like `randomstring-1`

for example `fabb9fc910f1292044d6e328998ff3d3-1`

[2017-07-09 18:59] damianh commented on #4653
Just checked and it builds and runs on linux (ubuntu 16.04)

[2017-07-09 19:14] poornas commented on #4653
@damianh, you seem to be running against eu-west-1 endpoint. Can you retry after setting RegionEndpoint in the AmazonS3Config?

[2017-07-09 19:19] damianh commented on #4653
@poornas Where did you see that? https://github.com/damianh/minio-s3-dotnet-sdk/blob/master/Minio/Program.cs#L37 Do I need to specifically set the RegionEndpoint here? I copied this config from https://github.com/minio/cookbook/blame/master/docs/aws-sdk-for-dotnet-with-minio.md#L35

This [PutBucketAsync](https://github.com/damianh/minio-s3-dotnet-sdk/blob/master/Minio/Program.cs#L46) works against

[2017-07-10 00:11] poornas commented on #4653
@damianh , your config needs to be like this
 var client = new AmazonS3Client(accessKey, secretKey,
                new AmazonS3Config
                {
                    ServiceURL = "http://localhost:9000",
                    ForcePathStyle = true,
                    RegionEndpoint = Amazon.RegionEndpoint.EUWest1        <==
                });
Also, your example on github has an error - thou

[2017-07-10 03:18] aead commented on #4648
@krishnasrinivas I thought `randomstring - i` is AWS behavior for multipart?! I'm not sure but I thought @harshavardhana said their is a special convention for indicating that etag is not MD5sum or is this both the same:
I mean: is `randomstring-i` the etag behavior for multipart AND the hint for the client that etag contains not MD5 (because client didn't set content-md5)?!
If yes, than `randomst

[2017-07-10 04:16] krishnasrinivas commented on #4648
@aead yes, both are same. The `-1` suffix here means that clients should not interpret it as md5.

[2017-07-10 06:56] harshavardhana commented on #4629
@deekoder the relevant PR was closed since we decided to only change client side. This issue can be closed.

[2017-07-10 07:11] robertodocampo opened #4655 "Problems uploading files to minio "The system cannot move the file to a different disk drive""
## Expected Behavior

I have minio on Windows sociated to folder "d:\minio". On this folder i've a link to fileserver

d:\minio\
          -- test (maped to \\myfileserver\\test)

I expected than minio uploads the file to te folder on the fileserver

## Current Behavior

'''
{"cause":"rename \\\\?\\D:\\minio\\.minio.sys\\tmp\\2aff9963-d062-49a1-b175-975224ce18d6\\39f89004-c63c-435f-be1d-f1e73aad9a

[2017-07-10 09:08] krishnasrinivas opened #4656 "gateway does not bind to the specified port"
When we start minio gateway:
[code]

It can be noticed that minio listens on 9000. Not on 9001

## Expected Behavior

Should bind to the port specified by --address

## Current Behavior

--address has no effect

[2017-07-10 12:10] krisis commented on #4559
The existing PR and issue template capture relevant information. We need to ensure that all contributors follow them. @deekoder this issue can be closed.

[2017-07-10 16:16] damianh commented on #4653
@poornas I fixed the bug on line 53 https://github.com/damianh/minio-s3-dotnet-sdk/commit/8e11b77468eeca9bb20d65eacedc32572fb918b2

However, specifying `RegionEndpoint` as you suggested did not work:

[code]
meant the request was actually sent to AWS and the `ServiceURL` setting was probably overwritten. This resulted in an error `Amazon.S3.AmazonS3Exception: The AWS Access Key Id you provided doe

[2017-07-10 16:31] krishnasrinivas commented on #4655
@robertodocampo when you upload file to minio, it first stages it to a temp directory before renaming. Minio requires that the export directory and all the sub-directories belong to the same FS. Rename will not work across different FSes.

[2017-07-10 16:35] #4333 closed, assigned to krishnasrinivas

[2017-07-10 16:36] deekoder commented on #4637
Need to discuss backend format again. Blocked on @abperiasamy

[2017-07-10 16:53] vadmeste commented on #4419
@dcharbonnier, still not able to reproduce this, can we discuss this issue in Slack to see what further actions we can take ?

[2017-07-10 17:03] fwessels commented on #4654
With just a single disk of parity, losing another disk means that users will lose data.

Thanks for the suggestion, and you are correct that you couldn’t find an issue as we made a conscious decision to not make it configurable. The reason for this is that we believe that for the vast majority of users it is better to put priority on prevention of data loss over maximizing effective storage capaci

[2017-07-10 17:11] bobobo1618 commented on #4654
So would a PR to implement this be unwelcome?

I agree that minimizing data loss is a good thing but I think you've taken it too far to one extreme for it to be the only option. For my disks, the current configuration would allow me to lose 4 disks before any data loss occurred but it would _also_ require that I sacrifice a full 88% of available IOPS and 50% of storage to get it.

I just can't rea

[2017-07-10 17:55] fwessels commented on #4654
We normally always love PRs but in this special case it is unlikely to get accepted.

We have gone to considerable length to keep the deployment and installation of minio as simple as possible (single binary for FS / XL / Distributed mode), purely deciding mode of operation based on arguments passed in (and you may have noticed there is not even a user config file).

It is not so much the technica

[2017-07-10 18:39] harshavardhana commented on #4640
We should open a bug on minio-go or minio-java to handle this situation of server closing the connection @balamurugana and this issue can be closed.

[2017-07-10 18:43] deekoder opened #4658 "Explore go cover tools for code coverage"
Our code coverage plugin is showing conflicting numbers. It also shows failures in unrelated files not part of the PR. Having this be unreliable makes it really hard for the PR merger to merge with confidence.

[2017-07-10 18:47] poornas commented on #4653
@damianh, can you try setting MINIO_REGION environment variable to eu-west-1 and then retry your project with the RegionEndpoint setting in config?

[2017-07-10 19:05] damianh commented on #4653
One thing to note - if you set the `RegionEndpoint` _after_ the `ServiceURL`, then service URL is `null`ed and the request is sent to AWS and not local minio:

    var client = new AmazonS3Client(accessKey, secretKey,
        new AmazonS3Config
        {
            ServiceURL = "http://localhost:9000",
            ForcePathStyle = true,
            RegionEndpoint = RegionEndpoint.EUWest1 //Sets t

[2017-07-10 19:16] damianh commented on #4653
@poornas thank you for your help so far.

Made the suggested changes to the environment variable, and now am getting another error `Region does not match`:

![image](https://user-images.githubusercontent.com/57436/28035465-009377a0-65b5-11e7-8494-2020feb55457.png)

[2017-07-10 19:28] damianh commented on #4653
Got it to work!

1. I set `MINIO_REGION` environment variable to `us-east-1`
2. Set the `RegionEndpoint` to `RegionEndpoint.USEast1` _before_ setting the ServiceURL.

Tried other variations:
 - Setting `MINIO_REGION` to `eu-west-1` and `RegionEndpoint` to `RegionEndpoint.EUWest1` didn't work with signature mismatch exception. Bug?
 - Deleting `MINIO_REGION` and leaving `RegionEndpoint` at `RegionE

[2017-07-10 19:52] poornas commented on #4653
@damianh, thanks for the PR. The documentation was not clear.

[2017-07-10 19:54] damianh commented on #4653
You're welcome :)

[2017-07-10 23:14] harshavardhana opened #4659 "docs: Add deployment documentation for chroot based minio deployments."
It is quite easy to run `minio` being a static binary to run in a minimally ch-rooted environment - it makes it easy for user based namespace isolation on many standard Linux deployments.

## Expected Behavior
We need to document how to run minio in a chrooted environment.

## Current Behavior
Currently there is no documentation regarding chroot based infrastructure for namespace isolation.

## Po

[2017-07-10 23:19] aead opened #4660 "erasure: createFile does not return an error if empty part is not allowed"
If you create an erasure coded file with 0 content and the allowEmpty flag is false the sever should return an io.EOF but it returns nil (success)

## Expected Behavior
sever should return io.EOF

## Current Behavior
server returns success

## Possible Solution
Fix erasureCreateFile

## Steps to Reproduce (for bugs)
add this to erasure-create_test.go
[code]

[2017-07-11 00:26] aead commented on #4660
Will be fixed for encryption, can never occur for sever (top layer checks)

[2017-07-11 00:26] #4660 closed, assigned to aead

[2017-07-11 01:21] #4537 closed, assigned to krishnasrinivas

[2017-07-11 03:05] harshavardhana commented on #4640
After further discussions it can be seen that both server and client are behaving appropriately.  We could further dig and ask Go upstream about this behavior .. if not we can close this bug as non issue.

[2017-07-11 07:54] krisis commented on #4522
@deekoder @harshavardhana @krishnasrinivas we can close this issue since we can't selectively delete Minio internal objects in a bucket using GCS' object lifecycle management. The lifecycle rule applies to all objects (satisfying the `Age` critierion say) under a bucket irrespective of their prefix.

[2017-07-11 08:03] harshavardhana commented on #4522
:+1:

[2017-07-11 09:59] krisis commented on #4498
This issue can be reproduced simply as below.

1. Create a bucket
2. Show bucket policy modal
3. Add '*' policy
4. Remove '*' policy
5. Close bucket policy modal
6. Open bucket policy modal

You will find the bucket policy for '*' still present.

[2017-07-11 10:55] robertodocampo commented on #4655
I suggest change it to move and rename. It make it compatible to a minio with backend on fileserver cluster

[2017-07-11 15:57] harshavardhana commented on #4655
That is an unexpected reasoning. It puts an unexpected onus on the backend and can lead to bugs. We use rename for it's atomic nature. It is unlikely that we will support this scenario.

[2017-07-11 16:37] #4522 closed, assigned to krisis

[2017-07-11 18:11] vadmeste opened #4662 "[go1.8] Ensure Minio tests passing in go 1.8"
Minio tests do not pass with go 1.8.

As a first step, We should ensure that Minio tests pass, then we'll decide other actions to ensure the quality of Minio server with go 1.8.

[2017-07-11 18:17] vadmeste opened #4663 "[go1.8] Manual tests of cases not covered by tests (hard to test automatically)"
Like:
* Target notifications (NATs, Redis, ..)
* Minio command line arguments
* Bucket notifications for FS and XL
* Gateways

[2017-07-11 18:28] vadmeste opened #4664 "[go1.8] Make sure that distributed Minio work"
Manual testing of distributed Minio to avoid any surprises.

Test with docker-compose, Mesos and other orchestration tools

[2017-07-11 18:33] vadmeste opened #4665 "[go1.8] Compare performance between go1.7 and go1.8"
Try to detect any performance regression, which doesn't necessarily mean that there is a bug in go1.8.

[2017-07-11 22:33] harshavardhana opened #4667 "Explore the possibility of using golang.org/x/sync/errgroup"
https://godoc.org/golang.org/x/sync/errgroup

[code]

There many naked go-routines where we use a combination of things like

[code]

Using this package has advantages in terms of task management, error handling and active cancellation/timeouts.

[2017-07-12 01:06] #4656 closed, assigned to harshavardhana

[2017-07-12 02:37] nitisht opened #4669 "Minio server should wait for distributed hosts to come up"
## Expected Behavior
In orchestration platforms like Kubernetes, remote hosts are started sequentially and all the hosts are not up initially, though they are expected to come up in a short time frame. Minio server should wait for all the hosts to come up instead of failing immediately.

## Current Behavior
Minio server fails on remote peer lookup failure immediately. Currently Minio `docker-entry

[2017-07-12 02:39] nitisht commented on #4362
As per the discussion with @abperiasamy this should be a part of Minio server itself. So this tool is no longer needed.

Relevant issue raised: https://github.com/minio/minio/issues/4669

This issue can be closed.

[2017-07-12 02:52] nitisht commented on #4181
As per the discussion with @abperiasamy anonymous support for hosting websites using Nginx is enough for now. We'll publish a blog post with details on how to setup Minio public bucket as the Nginx webserver backend.

This issue can be closed.

[2017-07-12 03:02] nitisht commented on #4381
Discussed with @abperiasamy . We'll continue to support existing deployments by running as root. For new deployments we'll drop the root privileges and start as user `minio:minio`.

`chown` on startup is not a good option due to sheer amount of data in existing deployments.

Changes need to be done accordingly in our Dockerfile.

[2017-07-12 03:26] andrewklau commented on #4381
How will we detect if it is a new deployment or existing deployment?

[2017-07-12 07:30] balamurugana commented on #4640
As this is neither server nor client (minio-java) issue, we would need to discuss and close it accordingly.

[2017-07-12 07:46] harshavardhana commented on #4640
What else is there to discuss? @balamurugana

[2017-07-12 19:28] krishnasrinivas commented on #4619
@harshavardhana FS numbers weren't there. You are right that we already have it for erasure.

Closing this issue as we now have numbers for FS also.

[2017-07-12 19:28] #4619 closed, assigned to krishnasrinivas

[2017-07-12 19:29] krishnasrinivas commented on #4628
@Peter-Prochaska please re-open the issue if you think we are missing anything.

@deekoder shall we close this one?

[2017-07-12 19:34] krishnasrinivas commented on #4655
@robertodocampo minio is designed with the assumption that the backend FS supports rename syscall. Minio works on top of NFS and cluster FSes like GlusterFS which support rename syscall.

Hence the export directory should be one FS (it can be clusterFS like glusterFS or disk FS like XFS)

@deekoder can this be closed?

[2017-07-12 19:45] xmovu opened #4670 "I/O Timeout"
Howdy folks,

No matter running the latest version or not, or latest Debian (9) or not, on RAID 10, with 30 transfers and full verbose, we get:

ERRO[0124] Unable to create object part.                 cause=read tcp 46.4.*.*:443->89.114.13*.*:49244: i/o timeout source=[object-handlers.go:817:objectAPIHandlers.PutObjectPartHandler()] stack=fs-v1-helpers.go:272:fsCreateFile fs-v1-multipart.go:523:f

[2017-07-12 19:49] #4653 closed, assigned to poornas

[2017-07-12 20:49] harshavardhana commented on #4670
To be fixed by https://github.com/minio/minio/pull/4636

[2017-07-12 21:03] xmovu commented on #4670
Hello,

I've tried to reduce the transfers to 2, seems to work, but slower than before obviously.

Thank you for the update @harshavardhana

[2017-07-12 23:43] #4629 closed, assigned to donatello

[2017-07-12 23:56] brendanashworth commented on #4182
This needs to be discussed further as per https://github.com/minio/minio/pull/4668#issuecomment-314867749. `GetAuth` should be removed entirely, but it has legitimate uses elsewhere in the browser, so there needs to be a little bit of talk over how exactly this should be approached.

[2017-07-13 00:06] vadmeste opened #4672 "Investigate a possibility of Minio Browser giving empty file when quorum is not satisfied"
akhfa said:
[code]

I wasn't able to reproduce, the object with no quorum isn't ever listed in Minio Browser, but we probably need to test again and asks akhfa to cooperate.

[2017-07-13 03:17] akhmadfld opened #4674 "Inconsistent file listing when there is less than n/2 object in a cluster"
Hi, I make experiment with minio cluster. I have an issue when there is less than n/2 object in a cluster.

## Expected Behavior
Without healing feature, I hope that minio server only list downloadable file, not file with less than n/2 object in the cluster

## Current Behavior
When there is n/2 object in cluster, sometimes minio list files with less than n/2 object, and sometimes not. When the fi

[2017-07-13 09:18] harshavardhana commented on #4637
This issue is not blocked any more PR sent with finalized backend changes.

[2017-07-13 09:47] pungoyal commented on #2471
in case someone is looking for this: https://docs.minio.io/docs/how-to-use-aws-sdk-for-ruby-with-minio-server

[2017-07-13 13:41] rishka opened #4675 "Minio reports 0 disk size with EFS"
## Expected Behavior

When using the Minio Helm Chart with an EFS disk(PVC), Minio should report the correct disk size

## Current Behavior

Minio Reports 0 available bytes

## Steps to Reproduce (for bugs)

1. Start a kubernetes minio service from the helm chart using the [EFS Provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs) for the PVC
2. Log in to the g

[2017-07-13 14:00] rishka commented on #4675
Using `minio:edge` fails to start with `time="2017-07-13T13:58:55Z" level=error msg="Initializing object layer failed" cause="disk path full" source="[server-main.go:206:serverMain()]" `

[2017-07-13 16:51] deekoder commented on #4674
Maybe related to #4672

[2017-07-13 19:01] akhmadfld commented on #4674
Exactly. I don't think that @vadmeste write this issue for me. Actually we have discussed this in slack.

But I write a little more detail here. Maybe it can help resolve the issue.

[2017-07-14 00:55] harshavardhana commented on #4675
@Rishka can you provide more detailed instructions on how to attach EFS(PVC) with kubernetes?

[2017-07-14 01:23] harshavardhana commented on #4675
Also can you provide output of `df -i`  @Rishka on the mounted volume inside the container.. i suspect the inodes are empty or not exposed to the operating system.

[2017-07-14 02:20] balamurugana opened #4676 "Allow inter-server HTTP resources only to minio servers."
## Expected Behavior
We shouldn't allow this to happen and return appropriate error.

## Current Behavior
Currently inter-server resources like `Admin`, `BrowserPeer` etc are accessible any clients.  This could be fixed by allowing only peer minio nodes to access such resources and return HTTP response code `405` at gorilla muxer level.

## Possible Solution
Use grpc, or use a gorilla muxer style

[2017-07-14 06:20] #4637 closed, assigned to harshavardhana

[2017-07-14 10:36] damianh commented on #4653
@deekoder I just want to confirm that I get a signature mismatch exception for every region other than `eu-west-1`. Shall I open another issue?

[2017-07-14 10:42] harshavardhana commented on #4653
@damianh are your server and client on the same region when you change the region?

[2017-07-14 10:42] damianh commented on #4653
yes

[2017-07-14 10:43] harshavardhana commented on #4653
Feel free to open a bug can you also provide your `config.json` `minio version` and also a sample program?

[2017-07-14 10:43] damianh commented on #4653
Will do.

[2017-07-14 10:51] harshavardhana opened #4677 "http.Start() spuriously hangs while testing Shutdown and Start"
## Expected Behavior
No hangs for Start() or Shutdown()

## Current Behavior
Go test just hangs and timesout finally after 10mins
[code]

## Possible Solution
Not sure what is going on right now.

## Steps to Reproduce (for bugs)
Add this test and run `go test -run TestHTTPShutdown`  it to reproduce the issue.

[code]
Some times the test runs and then fails, the results keep changing.

## Context

[2017-07-14 12:59] rishka commented on #4675
`df -i`:
[code]
Looks like you are right.

For attaching the Persistent Volume Claim, I used [this](https://medium.com/@while1eq1/using-amazon-efs-in-a-multiaz-kubernetes-setup-57922e032776) to set up the provider

[2017-07-14 14:43] hsluoyz commented on #4614
Hi, is there any progress on this issue?

[2017-07-14 18:44] krishnasrinivas commented on #4676
Admin will need to be accessed by mc. But yes internode-only services can be restricted to the specified IPs of peers.

[2017-07-14 19:08] #4535 closed, assigned to nobody

[2017-07-14 19:10] deekoder commented on #4507
https://docs.minio.io/docs/how-to-use-aws-sdk-for-php-with-minio-server @taisph  please see if this helps.

[2017-07-14 19:37] krishnasrinivas commented on #4498
@vadmeste when you `Add '*' policy` do you put `*` in the input box? or do you leave it blank and then click `Add` button?

[2017-07-14 20:08] vadmeste commented on #4498
Yes, I put '*' in the input box. By the way, I am still able to reproduce with master (and not with the opened PR)

[2017-07-14 20:54] xmovu commented on #4670
Howdy,

Apologies to re-open.

Just downloaded the last version using go get, same issue happens with the new version.

I've ran: go get github.com/minio/minio

No dice, stills happen. It runs fine with 2 transfers only.

[2017-07-14 21:06] harshavardhana commented on #4670
Can you provide a reproducer for this @wdimd ?

[2017-07-14 21:10] xmovu commented on #4670
Hello,

Absolutely.

It shows:

ERRO[2143] Error in reading from new TLS connection 89.114.*:58390 at
server 46.4.*:443  cause=read tcp 46.4.*:443->89.114.*:58390: i/o timeout
source=[listener.go:170:
github.com/minio/minio/pkg/http.(*httpListener).start.func2()]

It shows many, many times. This, with 5 transfers only.

2017-07-14 22:06 GMT+01:00 Harshavardhana <notifications@github.com>:

--
*Com

[2017-07-14 21:12] #4655 closed, assigned to krishnasrinivas

[2017-07-14 21:13] #4654 closed, assigned to fwessels

[2017-07-14 21:15] brendanashworth commented on #4498
@krishnasrinivas AFAIK both empty and `*` do the same thing because of [this line of code](https://github.com/minio/minio/blob/bc73a1a1cb1ed89c913e3d7656c223a80a61b3bf/browser/app/js/components/PolicyInput.js#L36). #4671 is similar to that, but if we want to treat empty and `*` differently than we can discuss that

[2017-07-14 21:17] deekoder commented on #4674
ok thanks @akhmadfld  will get back to you on this soon.

[2017-07-14 21:20] harshavardhana commented on #4670
This is odd @wdimd do you have TLS configured?

[2017-07-14 21:26] deekoder commented on #4614
@hsluoyz  I will move this item to future. We have not had a chance to discuss this yet since we are busy in shipping the next version of minio right now. Will bring this back for discussion after we complete the next release in Jul.

[2017-07-14 21:38] deekoder commented on #4419
@dcharbonnier please reopen if you see this again.

[2017-07-14 21:38] #4419 closed, assigned to vadmeste

[2017-07-14 22:02] xmovu commented on #4670
@harshavardhana I do have it running https, yes, in port 443. It's on a very fast RAID 10 server, not that much files / 73GB IIRC.

[2017-07-14 22:09] harshavardhana commented on #4670
would you mind testing a new binary for us? feel free to join slack.minio.io would make our communication faster.

[2017-07-14 22:13] harshavardhana commented on #4670
https://minio-releases.s3.amazonaws.com/linux-amd64/minio  here you go.. @wdimd

[2017-07-14 22:40] xmovu commented on #4670
Sure thing, though no time for Slack. I'm about to sleep.

It's running, no errors yet @harshavardhana .

[2017-07-14 22:41] xmovu commented on #4670
Didn't work, error below  (10 transfers, even 5 transfers cause it, plenty of IO available):
ERRO[0055] Error in reading from new TLS connection 89.114.*:58734 at server 46.4.*:443  cause=read tcp 46.4.*:443->89.114.*:58734: i/o timeout source=[listener.go:172:github.com/minio/minio/pkg/http.(*httpListener).start.func2()]